[2019-04-22 21:28] Adriani90 commented on #4951
No one using Skype 7 commented on this, so I guess most people already changed to Skype 8. I am closing this as won't fix. Please coment on it if you don't agree and we can reopen the discussion.

[2019-04-22 21:28] #4951 closed

[2019-04-22 21:31] Adriani90 commented on #9510
Note also that institutions and companies are applying updates much later than private users. Dripping support for older applications too early would impact users in a very negative way.

[2019-04-22 21:38] Adriani90 commented on #8267
My understanding was that the author wants NVDA to report if the internet connection is lost while using skype. if skype itself exposes an alert about internet conection, in my view this is not something NVDA should necessarely report. Imagine you have 5 applications which expose such alerts which deliver the same information “internet connection is lost”. Which one will be reported first? In my v

[2019-04-22 22:57] fernando-jose-silva commented on #9295
yes, this is still a problem, tested on nvda 2019.1.1 and alpha 17077.
Thank you.

[2019-04-23 00:44] fisher729 commented on #9507
@DrSooom , please remember that following the template is not a requirement, but rather suggested by NV Access to properly diagnose an issue. In this case, the issue can clearly be pointed out, as the author of the ticket included steps to reach his/her conclusion. Furthermore, once no version of NVDA is stated, it is my opinion that persons try to recreate the issue with the latest NVDA version f

[2019-04-23 01:32] fisher729 commented on #407
@jcsteh @leonardder  I think this can be closed now. Using Firefox and NVDA 2019.1.1, I press Enter on the list, and can move to its three items.

[2019-04-23 01:36] fisher729 commented on #448
Hi.

Therefore, can this be closed, as an external fix is needed. @jcsteh

[2019-04-23 01:48] fisher729 commented on #1279
Any updates on this?

[2019-04-23 01:54] fisher729 commented on #1259
@Adriani90  no, not related to #8559 at all. I can still reproduce this issue, by the way, even as I type this.

[2019-04-23 02:05] fisher729 commented on #953
As this is a synthesizer specific issue, can it therefore be closed? Using synths such as Eloquence, Vocalizer Expressive and Windows OneCore Voices, I do not experience this. It's something the eSpeak NG team needs to work on, in my view.

[2019-04-23 02:05] jcsteh commented on #407
It's true that this was partially fixed in #9166. However, I made a decision there to only render the first selected item, rather than all selected items. My concern with rendering all selected items is that there could be a lot of them. Strictly speaking, this issue asks for all values in a multiple select list box to be rendered. Personally, I don't think we should do this, but that's not really

[2019-04-23 02:27] fisher729 commented on #1409
Hi.

A suggestion. In the synthesizer dialog for NVDA, present a combo box labelled "NVDA sound volume for progress bars and audio", and make it impossible to set this value to 0, as other options in NVDA settings allow for these to be toggled off.

[2019-04-23 03:12] ehollig commented on #9448
Closing as fixed in #9449

[2019-04-23 03:12] #9448 closed

[2019-04-23 03:12] michaelDCurran commented on #9503
To my knowledge this cannot be fixed. In displayModels, A 'space' is
simply the absence of any text. Spaces at the beginning of a line are
placed there if the first character on the line starts at a positive x
offset from the edge of the control/window.

Clearly all edit controls start their lines with a small bit of padding.
But as this displayModel code is somewhat generic, there is no way to
kn

[2019-04-23 03:36] MarcoZehe commented on #8580
Nope, no longer reproducible for me in 1809 or 1903 builds, except for some very rare occasion in the Settings app. But Skype seems fine now.

[2019-04-23 03:38] gdata1 commented on #7612
I don't have this problem

[2019-04-23 06:15] k-kolev1985 commented on #8813
No, i can't reproduce it either with Skype 8.44 and latest NVDA alpha snapshot.

[2019-04-23 08:08] Brian1Gaff commented on #7507
Could I offer an idea about this one?
 I've noticed this from time to time. It seems to me that sometimes windows
Explorer crashes and either does not come back or does something odd like
leave a message on the screen that locks up nvda.
 Its a system message so I would suggest to the person if they are still
getting it to put narrator on as well as nvda as often when this happens,
narrator can se

[2019-04-23 08:59] Adriani90 commented on #8580
Thank you Marko for reporting back. Closing as works for me.

[2019-04-23 08:59] #8580 closed

[2019-04-23 09:01] Adriani90 commented on #7612
Closing as works for me. Thanks for reporting back. If someone still has this problem, please comment and we can reopen the discussion.

[2019-04-23 09:01] #7612 closed

[2019-04-23 09:02] Adriani90 commented on #8813
closing as works for me.

[2019-04-23 09:02] #8813 closed

[2019-04-23 12:25] CyrilleB79 opened #9514 "Error message on addon installation"
### Steps to reproduce:
On a fresh new portable NVDA
- Install an addon by executing it file in Windows explorer (e.g. Easy Table Navigator)
- Click 2 times "Yes" to install the addon

### Actual behavior:
A message is shown telling that the addon installation failed. However, the addon seems to be installed correctly anyway.
Log attached.

### Expected behavior:
Addon should install without error

[2019-04-23 14:51] Neurrone commented on #8638
I get this infrequently still in 1809, but I haven't made any progress narrowing down what's causing it.

[2019-04-23 15:30] mehgcap commented on #8638
I've gotten similar behavior, where the window is unknown, then I lose speech and braille after a period of sluggishness from NVDA. Restarting Firefox or Notepad Plus Plus always sorts it out. I'm not sure if this is an evolution of the initial problem or a new one.

I just noticed the comment about the COM fixing tool, and ran it. I'll see if it makes a difference. I should also say that I'm now

[2019-04-23 15:55] DrSooom commented on #9507
@fisher729: It isn't clear if the latest stable or alpha build is used. Furthermore you have to think about the exact version first, if you read such issues without the NVDA version a few years later, to figure out if this issue could still exist. And the [snapshot list](https://www.nvaccess.org/files/nvda/snapshots/) also only contains just a few alpha, beta and RC versions of NVDA. So this site

[2019-04-23 16:04] DrSooom commented on #9514
If you only use NVDA Portable, opening an .nvda-addon file via the Windows Explorer shouldn't work. I guess the .nvda-addon file is still allocated to the installed NVDA version.

Maybe it's better to block the add-on installation process via the Windows Explorer if NVDA is running in portable mode.

[2019-04-23 16:12] DataTriny commented on #9514
Hello, for those who are interested, error log starts at line 270.
@DrSooom Opening an NVDA addon in the Windows Explorer installs it as expected without any issue.
However, I can't reproduce the issue by installing EasyTableNavigator on a portable copy of NVDA 2019.1.1, running on Windows 10 version 1809 (got the same behavior with an installed copy).

[2019-04-23 18:00] #5761 closed

[2019-04-23 18:25] lukaszgo1 commented on #8295
It seems that by default space isn't considered a word separator by Scintilla so when calculating word start with SCI_WORDSTARTPOSITION and word end with SCI_WORDENDPOSITION space is a separate word. There is a Scintilla message SCI_SETWHITESPACECHARS which should fix this. I don't know however how to send space using it.

[2019-04-23 18:35] Nikita34196 opened #9515 "Navigating with the mouse in browsers chromium"
Hello. Follow these steps.
Open any site. Preferably an article. Try to hover the mouse on the text and the link using the mouse.
Nvda should read the text, but it does not. Reads the first two words.
Browsers. edge 75.0.138.0 google chrome 75.0.3766.2
nvda alpha-17077,7f274eca

[2019-04-23 21:21] Adriani90 commented on #448
I guess Jamie will close it as soon as the Firefox bug is being fixed. I propose to let this issue open since there might come other users accross this issue and they might report it to Mozilla or might comment on the bug which is referenced above.

[2019-04-23 22:48] DrSooom commented on #9515
@gdata1: Please change the "Text unit resolution" value in the Mouse NVDA Settings and report their results. Thanks.

[2019-04-24 02:51] gdata1 commented on #9515
I did, but the result is the same

[2019-04-24 03:10] gdata1 commented on #9515
In browsers like the old Microsoft edge Mozila I do not see the problem.

[2019-04-24 04:57] fisher729 commented on #9507
The point is that, in the current stable release of NVDA, and in the latest snapshots, an entry for the reporting of cell boarders is not present. This is after my own tests. Reporting of font names is present, but represented as font changes. I propose this be changed.

In the future, I believe as persons who want to see the quick resolution of bugs and issues, that initiative should be taken to

[2019-04-24 07:39] leonardder commented on #8295
Sending messages to controls in order to changed their behavior is
honestly not what I'd prefer. If there are implementations that don't
respect spaces as word separators, this should be covered as part of the
implementation of that particular control. In Short, if navigating with
control+arrows doesn't jump across spaces, enabling NVDA shouldn't
change anything about this.

[2019-04-24 08:27] Ednunp opened #9516 "NVDA failing to read the titles and times of meetings in Outlooks calendar view"
May also be linked to #9087, but not clear.
Steps to reproduce:
1. Enter the calendar view of Outlook 365.
2. Press tab to move through the days appointments.

The following behavior is raised: NVDA reads the word "meeting" each time tab is pressed.

Expected behavior: NVDA should read the title and time of each meeting or appointment.

Software versions:
Windows version 10
NVDA Alpha 17099
Outloo

[2019-04-24 08:38] dingpengyu commented on #8543
hi Adriani
Can you help me with this issue?
thank
cc
@Adriani90

[2019-04-24 09:06] man0528 commented on #8543
Yes, zh will not have any value in existence.

[2019-04-24 11:35] Adriani90 commented on #9516
This is probably caused by the way Outlook exposes Information when tabbing. Please try to navigate between appointments with ctrl+dot and ctrl+coma. Do you see the same behavior then?

[2019-04-24 12:13] Adriani90 commented on #7233
cc: @leonardder, @josephsl

[2019-04-24 12:27] Adriani90 commented on #7313
In Firefox 66.0.3 you get: my label my placeholder edit. I agree with Derek in this regard. From a users perspective, at least filtering the cases where placeholder is the same as label would reduce double reporting. The example provided by @leonardder shows also redundant info "search" and "search here" which would not be filtered by NVDA. But I think there is no way to achieve perfection in this

[2019-04-24 12:32] Adriani90 commented on #7396
@ehollig No, because you do not change the color or the font of the text, you just highlight the text with a certain color. Unfortunately NVDA does not report it while navigating. cc: @Qchristensen

[2019-04-24 12:33] Adriani90 commented on #7395
@tspivey are you still seeing this issue in NVDA 2019.1.1 and Windows 10 1809 Update or later builds?

[2019-04-24 12:34] Adriani90 commented on #7394
cc: @josephsl

[2019-04-24 12:36] Adriani90 commented on #7391
@fernando-jose-silva the behavior changed alot in Chrome since then. Is this issue still reproducible for you in Chrome 74 with NVDA 2019.1.1?

[2019-04-24 12:38] Adriani90 commented on #7359
@robertspangler this is just a reminder, are you still having this issue? I was able to reproduce it with NvDA 2017.3 on Windows 8.1 and Adobe reader but not with NVDA 2019.1.1 Can you confirm please?

[2019-04-24 12:44] Adriani90 commented on #7372
@abdullah5490 I cannot reproduce this issue in Crhome 74. Are you still having this problem in NVDA 2019.1.1 in Crhome? If yes, is this issue happening in every edit field? Or only on example websites?

[2019-04-24 12:47] Adriani90 commented on #7349
@Ednunp did the comment from @ehollig above help you to solve your issue? Or are you still having this problem? Screen review in general is not working reliably in UIA applications. That's probably why the behavior in Outlook 2016 is different than in Outlook 2010.

[2019-04-24 12:48] Adriani90 commented on #7347
@jooyoungseo are you still having this issue in NVDA 2019.1.1?

[2019-04-24 12:55] Adriani90 commented on #7346
This is the case in all browsers as well as in all text editors. I tested in Firefox, Crhome, IE, Wordpad, Notepad and MS Word. @feerrenrut, @jcsteh I guess this is actually intended behabior but I do not have an argument at hand to explain why. What is the reason behind this?

[2019-04-24 13:10] Adriani90 commented on #7322
@leonardder this is solved in Chrome. It seems only IE and edge still sufferes from this issue. I didn't test in Edge Chromium yet. But I guess this should work as expected.

[2019-04-24 13:20] Adriani90 commented on #7485
So I am understanding correctly that this one needs and external fix?

[2019-04-24 13:21] Adriani90 commented on #7467
cc: @feerrenrut

[2019-04-24 13:27] Adriani90 commented on #7449
@tfri I cannot reproduce this issue in NVDA 2019.1.1. Are you still available to test if you are having it still? It seems to be a very specific issue and for us very hard to reproduce. We rely on tests and updates from your side to track if it is solved or not. Otherwise the issue will rpbably be closed sooner or later without any result unfortunately.

[2019-04-24 13:28] Adriani90 commented on #7449
@feerrenrut, in case the author is not available anymore, couls you please try to test if this is occuring on your side using Office 2013? Tanks.

[2019-04-24 13:29] Adriani90 commented on #7454
@netblue44 is this still an issue in NVDA 2019.1.1 and Office 365?

[2019-04-24 13:31] tfri commented on #7449
It’s been so long that I’m not sure I remember exactly what the original issue was. I’ll see what I can figure out. I may have also upgraded my version of Office since then.

Do what I do: hold tight and pretend it’s a plan.
---The Eleventh Doctor; The Doctor, the Widow and the Wardrobe

Tammy Frietsch
Technology Coordinator
Yoakum ISD
315 E. Gonzales St.
P.O. Box 737
Yoakum, TX 77995
361.293.6960

[2019-04-24 13:39] Adriani90 commented on #7422
@lukaszgo1 are you still intending to raise a Pull request for this issue?

[2019-04-24 13:45] Adriani90 commented on #7401
for an user this would just add more verbosity which in my view is not necessary. If you know a website or an application, you also know the labels of the objects. If the mouse is moved to an object next to a desired one, NVDA would reports its label and the user would know that it is near to the desired object. After that, just moving the mouse very slowly around increases the chance to land on t

[2019-04-24 13:46] Adriani90 commented on #7401
moving mouse to the object is quite unreliably in a lot of places. Having an alert every time would decrease efficiency after a while.

[2019-04-24 13:54] Adriani90 commented on #7412
cc: @Qchristensen your thoughts on the example provided by @jhomme are very apreciated. I think NVDA idnores the grafics because they are not in line with text. Right?

[2019-04-24 14:29] jooyoungseo commented on #7347
@Adriani90

Yes, I still have the same problem in NVDA 2019.1.1.

[2019-04-24 14:53] Brian1Gaff commented on #7412
Did we not have a very long discussion about the disruptive e nature of
javascript named graphics needing to be suppressed, oh about three years
back?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-24 16:53] fernando-jose-silva commented on #7391
Thank you very much, I no longer have this problem.

[2019-04-24 17:38] Adriani90 commented on #7391
Thank you Fernando for reporting back. Closing as works for me.

[2019-04-24 17:38] #7391 closed

[2019-04-25 01:37] ruifontes commented on #7347
Hello!

Can you provide a NVDA log?

In my machine the log do not reveal anything, at least for my knowledge
level...

Best regards,

Rui Fontes
Tiflotecnia, Lda.

Às 15:29 de 24/04/2019, jooyoungseo escreveu:

[2019-04-25 10:15] lukaszgo1 commented on #7422
I've implemented it, worked with my implementation for a few hours. and I am no longer convinced that it is a good solution. The main problem is with the fact that before message about text not found the part of the document title is spoken. It works the same when the text is found, but now when the dialog pops-up the error sound is a good indication that we should dismiss it and search again, so

[2019-04-25 11:38] Adriani90 commented on #7422
Actually, I was thinking about an alternative Approach. Instead of giving a warning by speech, there could be a very specific Sound indicating that no results have been found. A specific Sound like spelling error but for "no results found". In fact the Dialog would be obsolete because the only Action possible is to press "ok". But if #4637 will be implemented, the Dialog is needed anyway for the a

[2019-04-25 11:44] lukaszgo1 commented on #7422
If #4637 would be implemented by @marlon-sousa the wrapping would be configurable, therefore some announcement about text not found would be still needed. I believe we should leave this open until #4637 is implemented and then com back to it.
Alternatively if someone could provide appropriate sound I can open a PR with @Adriani90 idea.

[2019-04-25 12:01] Adriani90 commented on #7422
Reopening and adding blocked Label since the implementation depends on #4637.

[2019-04-25 12:18] jhomme commented on #7412
Hi,
Thanks for considering this. AsI believe that NVDA would be a user
agent according to the WCAG User Agent Guidelines, and this means that
it needs to support displaying images if the alt attribute is missing.
Otherwise, an accessibility tester would get a lot of false positives.

Thanks.

Jim

On 4/24/19, Brian Gaff <notifications@github.com> wrote:

--
==========

Jim Homme
http://www.jimhomm

[2019-04-25 15:40] sjoehl opened #9518 "In Firefox, NVDA does not announce the focused item when navigating between options within a collapsed drop-down embedded in an iframe using up/down arrows"
### Steps to reproduce:
1. Navigate to http://ccidev.utoledo.edu/ff-nvda-bug-demo.html
2. Navigate to any of the combo boxes on the page.
3. Enter focus mode using tab or enter keys.
4. Traverse any of the combo boxes using the up/down arrows without expanding/opening the combo box.
### Actual behavior:
Nothing is announced when a new option in the combo box receives focus and the combo box is col

[2019-04-25 16:27] DrSooom commented on #9518
CC: @jcsteh and @MarcoZehe

[2019-04-25 20:27] Adriani90 opened #9519 "Firefox, Error in NVDA, text navigation not possible when trying to copy text in google groups"
### Steps to reproduce:
1. In Firefox, open a group in google groups (i.e. braillists)
https://groups.google.com/forum/#!forum/braillists/join
2. Press b to land on "new topic" and press enter
3. Make sure you have some text copied in your clipboard
4. In the message area, switch to focus mode and paste the text with ctrl+v

### Actual behavior:
The following error is appearing and text navigation

[2019-04-25 20:28] Adriani90 commented on #9519
cc: @MarcoZehe, @jcsteh

[2019-04-25 21:39] #9424 closed

[2019-04-25 22:33] michaelDCurran commented on #9487
When I perform these steps, I do not see a crash. However, focus gets stuck on the dead list item each time I press enter to choose the item in the list, and I need to press alt twice, or alt tab away and back again to force focus to the active cell. Is this what you are experiencing?
If it is in deed a crash, can you supply a crash dump for Excel?

[2019-04-25 22:55] xtstoll commented on #8862
@marlon-sousa Hey, Marlon! Here's a friendly reminder to help out with this Portuguese / NVDA / Orbit 20 issue. Thanks! <3

[2019-04-26 00:16] jcsteh commented on #9518
This is a duplicate of #7819. It is due to [Mozilla bug 1473234](https://bugzilla.mozilla.org/show_bug.cgi?id=1473234), which has been fixed for Firefox 68.

[2019-04-26 00:16] #9518 closed

[2019-04-26 05:59] leonardder commented on #4703
I can no longer reproduce this, thanks to #9427. Closing.

[2019-04-26 05:59] #4703 closed

[2019-04-26 10:16] feerrenrut commented on #7220
@Adriani90 No. Though, if there were dependencies on testing frameworks when this issue was created, they are definitely satisfied now. The problems described in this issue have not occurred yet (that I know of), and thus it might not be pragmatic to spend time on this.

[2019-04-26 10:18] feerrenrut commented on #9431
Fixed in #9456

[2019-04-26 10:18] #9431 closed

[2019-04-26 10:31] feerrenrut commented on #7213
I have tested this again, and it still seems to occur. It seems more likely to occur if you switch between the same two applications.

@Adriani90 I hope you don't mind me making a suggestion: rather than ask the reporter to test again (which does not add useful information and spams everyone following the issue), please test it yourself and report the results (everything required is present), or i

[2019-04-26 10:37] feerrenrut commented on #9285
Thanks for looking into this. Yes, we will have to look for another way to filter this. @michaelDCurran do you have any ideas.

I'm going to modify the description and title of this issue to make it clear that language of office is important.

[2019-04-26 12:56] UNBREAKING opened #9520 "NVDA doesn't announce tabs in IE11"
Firstly to say, we are using on project NVDA for checking how accessibility works and found that for our tabs announcing is not working in IE, then I looked into w3 example and found that it is not working also.
### Steps to reproduce:
1) Open IE 11 and then open: http://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-1/tabs.html
2) use navigation to Example of Tab menu
3) use navigation betwe

[2019-04-26 14:42] feerrenrut commented on #7449
I tried to reproduce this with Word 2013 and NVDA 2019.1.1 and could not. I am going to close the issue, if anyone is able to reproduce please comment or re-open it.

[2019-04-26 14:42] #7449 closed

[2019-04-26 16:06] Brian1Gaff commented on #9520
Is this not due to the lack of current development of IE by Microsoft, they
kind of just left it. Are you saying it used to work before?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-26 16:30] feerrenrut commented on #9235
What text unit resolution are you using? I set mine to paragraph.

I tested this in chrome and firefox, both seem flaky, and chrome is worse. Interestingly, in Firefox, the point where each line was read (after the link) seemed to match the number of characters before the link. It would be interesting to investigate this a little more to see if this is reproducible, and meaningful.

[2019-04-26 16:31] feerrenrut commented on #9235
Also worth testing: The behaviour with windows at different scaling levels.

[2019-04-26 20:30] pbblair commented on #7485
External fix seems ideal, but would require more specific guidance for browsers on how to handle MathML within accessible names.

I wonder, since MathML is being read correctly elsewhere by NVDA/MathPlayer, is it feasible to ignore the browser's computed Accessible Name when math children are present?

[2019-04-26 22:23] DrSooom commented on #9520
I couldn't reproduce it with IE 11.0.9600.19301 (32-bit) on Win7x64 and NVDA 2018.1. The names of the tabs are announced correctly in focus mode during switching them by pressing ArrowRight and ArrowLeft.

[2019-04-27 07:43] Brian1Gaff commented on #9520
The obvious  difference is the version of nvda, and windows used between the
reporter and yourself. I do not know enough about IE version labelling to
know if it matters on that front.
 It needs another windows 10 IE user to comment I think, but I do stand by
what I observed earlier about the priority of this problem given such a wide
choice of better browsers now.
 Brian

bglists@blueyonder.co.uk

[2019-04-27 08:33] lpintes commented on #9424
The line reporting is fixed, but say all is broken when long lines are present and word wrap is enabled.
It worked perfectly before.

[2019-04-27 09:57] leonardder commented on #9424
@lpintes: Please open a new issue for this, along with steps to reproduce.

[2019-04-27 11:03] leonardder commented on #9516
[**@Adriani90**](https://github.com/Adriani90) commented on [24 Apr 2019, 13:35 CEST](https://github.com/nvaccess/nvda/issues/9516#issuecomment-486185927 "2019-04-24T11:35:39Z - Replied by Github Reply Comments"):

I don't think this is true. It sounds to me that NVDA is unable to access Outlooks object model.

Are you explicitly running Outlook as administrator by any chance?

[2019-04-27 11:05] leonardder commented on #7349
Actually, this more seems like a user/usability question than an actual bug within NVDA. It might be better to discuss this on the NVDA Mailing list.

I'm closing this for now. If you have any reason to think that there is a bug in NVDA that's causing this, please give a shout and we could consider reopening.

[2019-04-27 11:05] #7349 closed

[2019-04-27 11:14] leonardder commented on #8543
Note that for character descriptions and symbols that are not in zh_CN, zh_HK or zh_TW, NVDA will automatically fall back to possible descriptions/replacements in zh. It looks like zh/characterDescriptions.dic looks very similar to zh_HK/characterDescriptions.dic. zh_HK/characterDescriptions.dic mentions that it is for Taiwan, while I'd expect that it is meant for hongkong.
I'm not convinced that

[2019-04-27 11:21] leonardder commented on #9507
[**@fisher729**](https://github.com/fisher729) commented on [23 Apr 2019, 02:44 CEST](https://github.com/nvaccess/nvda/issues/9507#issuecomment-485600764 "2019-04-23T00:44:52Z - Replied by Github Reply Comments"):

Slightly offtopic, but I just wanted to quickly reply on this. While filling in the issue template is not required, it is strongly encouraged and appreciated to do so. I wouldn't call i

[2019-04-27 13:52] DataTriny opened #9521 "Say all is broken inside Scintilla controls when word wrapping is on"
Reported by @lpintes in #9424.

### Steps to reproduce:

1. Open NVDA,
2. Open Notepad++,
3. Make sure word wrapping is enabled,
4. Write several lines,
5. Go back to the top of the document,
6. Perform Say all gesture.

### Actual behavior:

Only the first line is spoken.

### Expected behavior:

NVDA should read all the lines up to the end of the document.

### System configuration
#### NVDA ins

[2019-04-27 14:02] larry801 commented on #8543
A quick look on why zh files exist shows that it is copied from an old zh_TW translation to make espeak Mandarin work properly. But the content of zh is outdated and has parsing errors.

WARNING - characterProcessing.SpeechSymbols.load (23:24:32.983):
Invalid line in file locale\zh\symbols.dic: ﹩    錢號all

May be make a copy on every L10N update or at installation time is a better solution than st

[2019-04-27 14:04] larry801 commented on #8543
Here is the original commit which introduces zh folder.
https://github.com/nvaccess/nvda/commit/d6fe1f5c42ac5096caf86a24725934b10dc30c2a

[2019-04-27 14:09] DataTriny commented on #9424
Hello to all of you,
I opened #9521 to describe the problem reported by @lpintes, and I fixed it in #9522. @leonardder if you want to review it, it's a really really small change.
Thanks for reporting.

[2019-04-27 20:06] gdata1 commented on #9515
@DrSooom I have tried to change the mouse settings in Nvda Nothing has changed the problem there.

[2019-04-28 05:56] dingpengyu opened #9523 "NVDA will report an error when browsing the web using Microsoft Edge Version 76.0.141.0"
### Steps to reproduce:
First open Microsoft Edge Canary
Then case f6 locates the address bar and enters google.com to open Google.
Finally, use NVDA to browse the web to reproduce the error.
### Actual behavior:
At this time, NVDA will play the wrong tone when browsing the website with the letter k.
### Expected behavior:
NVDA can't read the page properly
### System configuration
#### NVDA instal

[2019-04-28 10:19] dingpengyu commented on #8734
hello Adriani
Is it possible to convert the NVDA User Guide to a Sphinx-supported file and then generate a .pot with Sphinx?

[2019-04-28 20:43] Adriani90 commented on #8543
@larry801 could you please create an issue with your proposal above? That would be great. Maybe discussions can be continued on that issue.
I am closing this one for now.

[2019-04-28 20:43] #8543 closed

[2019-04-28 20:55] Adriani90 commented on #8734
@dingpengyu unfortunately I am not an expert in reST files and sphinx markup. It is certainly possible to convert parts of the userguide into sphinx with pandoc but we actually want an easy markup like txt2tags or gfl because it is very user friendly. But however, if we would convert the files to sphinx markup, I am not sure if the markup supports all the bash scripts used in the translation syste

[2019-04-28 21:01] jakubl7545 commented on #9285
I think I found another way to filter this. Instead of obj.parent.name it can check for obj.parent.role which is grouping and presence of AnnotationPattern. I would send a PR with that change,, but another issue stopps me.
When there is more than 13 comments the date doesn't fit on the screen, therefore one object is missing and NVDA produces an error
One way to fix this is to use legacy code for

[2019-04-29 06:27] abdullah5490 commented on #7372
Hello there. no, this issue is now resolved, i'm testing it with chrome 74, and its working fine. you can now close this issue number.

[2019-04-29 07:26] Adriani90 commented on #7372
Thanks for reporting back. Closing as works for me.

[2019-04-29 07:26] #7372 closed

[2019-04-29 07:47] leonardder commented on #8210
@Qchristensen: Have you tried this with braille support enabled? When braille support is disabled, say all not working is actually expected.

[2019-04-29 07:49] leonardder commented on #9361
This looks like a duplicate of #8010. I'm closing this one of favour of the other and will change the title of the latter.

[2019-04-29 07:49] #9361 closed

[2019-04-29 08:03] leonardder commented on #7879
@derekriemer: These labels were actually bad estimations on my end.

I wonder whether speech refactor changes anything to say all behaviour with regard to this?

[2019-04-29 08:08] leonardder commented on #5726
From Windows 10 May 2019 update, this is actually implemented by Microsoft. Volume changes are reported when Windows Explorer has focus.

[2019-04-29 08:12] leonardder commented on #4481
As the caret move timeout can now be adjusted using NVDA's advanced settings category, I'm closing this as works for me. Since the default timeout has been increased, I've hardly experienced this issue anyway.

[2019-04-29 08:12] #4481 closed

[2019-04-29 08:17] leonardder commented on #3976
I can no longer reproduce this with Firefox, IE and Chrome. Probably fixed by #8922. Closing as works for me.

[2019-04-29 08:17] #3976 closed

[2019-04-29 08:42] larry801 opened #9524 "The zh folder under locales is outdated"
### Steps to reproduce:
Switch Windows System language to Simplified Chinese

### Actual behavior:
WARNING - characterProcessing.SpeechSymbols.load (23:24:32.983):
Invalid line in file locale\zh\symbols.dic: ﹩	錢號all
### Expected behavior:
No warnings when loading
### System configuration

#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
2019.1
#### Windows version:
Wi

[2019-04-29 12:55] esinior opened #9525 "issue : could not load the sapi5 synthesizer"
hi dear
### Steps to reproduce:

### Actual behavior:
when i want to change the synthesizer to sapi5 it says "could not load the sapi5 synthesizer"
### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:
 i've tried the three models: run and make portable version and install the app and now i'm using portable version.
#### NVDA version:
2019.1.1
#### Wind

[2019-04-29 13:20] Adriani90 commented on #480
@PratikP1 thank you for reporting back. I will close this issue for now. Please open new issues for every specific behavior which is not as expected. This will make it easier to see what works and what is still missing. Thanks.

[2019-04-29 13:20] #480 closed

[2019-04-29 13:24] mehgcap opened #9526 "when displaying repeated underscores in braille, only one is shown"
NVDA displays only one underscore in braille when it should show multiple ones. I've not found this behavior with other symbols.

### Steps to reproduce:
With a display connected (I'm using an Orbit 20), type

\_\_init\_\_()

or anything else where two or more underscores are placed side by side. The app does not seem to matter.

### Actual behavior:
Braille shows only one underscore, but speech s

[2019-04-29 13:28] leonardder commented on #9526
Coul dyou please answer one essential question, namely what braille table you're using? Does the issue persist if you choose another output braille table?

[2019-04-29 13:28] Adriani90 commented on #398
@leonardder is this somehow addressed by the PR #8846 which has been recently merged allowing browse mode to be disabled by default? Or is that working only for browsers?

[2019-04-29 13:31] leonardder commented on #398
@Adriani90: Disabling browse mode by default should work for thunderbird, yes. However, disabling browse mode also destroys the ability to navigate through the message content, so is definitely not what one would do when working nonvisually.

[2019-04-29 13:48] Adriani90 commented on #816
@jeronimo it is a very long time you have created this issue. Are you still having this problem with the last version of devpascal? Could you please archive the installer file into a zip file and upload it to this issue so we can install and reproduce the isue ourselves? Thank you!

[2019-04-29 14:09] Adriani90 commented on #708
@feerrenrut I guess this is solved given the PR referenced above which is already merged. cc: @jcsteh. Should it be closed? or not yet?

[2019-04-29 14:20] Adriani90 commented on #777
@Brian1Gaff this is the last reminder before closing this issue. Is this still reproducible for you? I cannot reproduce it in MS Access 2016, maybe you can reproduce it in older versions? Your answer is appreciated. Thanks.

[2019-04-29 14:23] Adriani90 commented on #606
@Agent Golder can you still reproduce this issue in Office 2010? I have installed Office 2010 on my machine but I am not able to reproduce it. However I am not sure.

[2019-04-29 14:30] Adriani90 commented on #7398
@vgjh2005 could you please post a link with a new example for this issue? The link in the description is not working. Thanks!

[2019-04-29 14:31] Adriani90 commented on #7358
This is still reproducible in NVDA 2019.1.1.

[2019-04-29 14:34] Adriani90 commented on #7501
Closing for now because we don't have any answer from the initial author. If someone can reproduce this, please comment on it and we will reopen the discussion.

[2019-04-29 14:34] #7501 closed

[2019-04-29 14:38] Adriani90 commented on #7564
@alexandretoco are you still having this problem? I cannot reproduce it with NVDA 2019.1.1 and Chrome 74.

[2019-04-29 14:41] Adriani90 commented on #7551
@bhavyashah please create an issue agains the ocr addon itself which has also a repository on Github. I am closing this one for now.

[2019-04-29 14:41] #7551 closed

[2019-04-29 14:45] Adriani90 commented on #7550
I think I can reproduce this issue with NVDA 2019.1.1.
cc: @jcsteh

[2019-04-29 14:46] jeronimo commented on #816
@Adriani90, I do not recall anything doing with screen reader on Win OS. I would guess there was another person outside Github with the same username. Cheers!

[2019-04-29 14:46] Adriani90 commented on #7550
1. Open the link in the description
2. Press tab multiple times
3. After a while note that NVDA is silent with every further tab press and the focus does not seem to move.
Testing in firefox 66.0.3.

[2019-04-29 14:47] Adriani90 commented on #7550
It seems this is also reproducible in Chrome 74.

[2019-04-29 14:52] Adriani90 commented on #7547
Note that this issue is still occuring if you are on the first line of the homepage (skip to content). If you press ctrl+hme and then down arrow key, NVDA will then report the complete search string.

[2019-04-29 14:52] Adriani90 commented on #7547
cc: @leonardder, @jcsteh

[2019-04-29 14:55] Adriani90 commented on #7528
@elliott94 are you still able to reproduce this issue in Outlok 2010? I have Office 2010 installed but Outlook seems to be broken on my end so a test from my side would not be reliable just now.

[2019-04-29 15:01] lukaszgo1 commented on #7528
I can reproduce it with Outlook 2010 32-bit installed on Windows 7 x64 with latest NVDA Alpha.

[2019-04-29 15:02] Adriani90 commented on #7531
@YogeshChhabra, @ehollig  I cannot reproduce this issue in NVDA 2019.1.1. Are you still seeing this issue?

[2019-04-29 15:07] Adriani90 commented on #7525
@Daredevilsprmcy could you please give an update on this? Do you still have this problem in NVDA 2019.1.1? If yes, did you already fill and issue agains Liblouis on Github?

[2019-04-29 15:20] Adriani90 commented on #7522
I am not sure if this implementation is actually correct because the behavior is inconsistent between browsers. You will see the differences when you enable focus mode with NVDA+spacebar and navigate with tab and shift+tab over the slat1, slat2 etc.

My testing results with NVDA 2019.1.1 and firefox 66.0.3 as well as Chrome 74 are as follows:
* Browse mode:
1. Open the link in the description
2. P

[2019-04-29 15:24] Adriani90 commented on #7519
@fernando-jose-silva are you still having this issue in Chrome 74 and NVDA 2019.1.1? Did you try to run the com registration fixing tool in NVDA menu / tools? Did it solve this problem? I cannot reproduce it.

[2019-04-29 15:26] Adriani90 commented on #7516
@surfer0627 are you still having this problem while using the braille display? cc: @DataTriny

[2019-04-29 15:33] Adriani90 commented on #7507
@Brian1Gaff whic NVDA version are you using? Also your issue with not being able to open the nVDA menu or the task manager could be caused by several things. Did you rung a com registration fixing tool in NVDA menu / tool to see if this solves the issue? Also a new installation of NVDA could solve it as well. But you also should remove the user configuration in %appdata% and then reinstall NVDA.

[2019-04-29 16:21] leonardder commented on #4684
I agree that if a feature like this would be developed, it is best distributed as an add-on. Therefore, I'm closing this one as won't fix for now. We could always reopen if there are valid reasons to do so.

[2019-04-29 16:21] #4684 closed

[2019-04-29 16:24] leonardder commented on #7747
I have the feeling that adding settings to a ring might only complicate things even more. Don't you think that having a separate quick navigation layer for this kind of information could be much more effective?

[2019-04-29 16:38] leonardder opened #9527 "Quick navigation to font attributes"
Initially suggested in https://github.com/nvaccess/nvda/issues/4684#issuecomment-451657123

### Is your feature request related to a problem? Please describe.
As a blind user, it is pretty difficult to analyse the formatting of text in an efficient way. If you really want to be sure that the layout of a document is correct, you either need to do one out of several options:

1. Read the whole docum

[2019-04-29 17:24] mehgcap commented on #9526
Right, sorry. I'm using UEB grade 2 as my output table. You have a point--in English grade 2 and in Spanish computer braille, the problem does not seem to happen. It appears to be something specific to UEB output.

[2019-04-29 19:15] leonardder commented on #9526
In that case, I'd file a bug against liblouis in Github.

[2019-04-29 20:02] josephsl commented on #7394
Hi, postponing until mid-May.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, April 24, 2019 5:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Update User Guide to reflect change in caret location when selecting text, as per #4636 (#7394)

cc: @josephsl <https://github.com/j

[2019-04-29 20:07] DataTriny commented on #9235
Hello @feerrenrut,
I also use paragraph as the text unit resolution, but I tried with line, on both 100% and 125% DPI factors and got the same results.

[2019-04-29 20:14] maracuja-juice commented on #7604
Any updates?

[2019-04-29 21:07] Pauliusleveris commented on #7507
Hello,
I agree with Brian. In my opinion it is an explorer issue, it's
noticable yet when tabbing around open windows or when connecting a
USB stick to pc, any keepress and/or screen reader activity is much
slower than usually, it goes back to normal after ten or fifteen secs,
when all notifications saying that a device is ready to use are
dismissed.
So the issue really persists and quite often, r

[2019-04-29 22:59] alvaromontoro commented on #7807
I am experiencing a similar issue in which `aria-label` is ignored or doesn't work as expected. Using `aria-label` in a `<section>` (one of the valid cases from the Paciello page linked above) like this:

[code]

NVDA's behavior is different depending on the browser:

- IE ignores the `aria-label` and reads the whole content of the section: "This is a random text"
- Chrome/Firefox read the `aria-l

[2019-04-30 00:45] fernando-jose-silva commented on #7519
Thanks, I no longer have this problem, updated software:
chrome 74
nvda 17110
windows 10 18362
thank you

[2019-04-30 09:20] alexandretoco commented on #7564
Hi, I think the problem is gone!
I tried it again and now, the combobox's contents are being read ok.

[2019-04-30 09:21] #7564 closed

[2019-04-30 10:20] Adriani90 commented on #7519
Closing as works for me.

[2019-04-30 10:34] grimmohe commented on #8069
Happening with current master 6d4b11212272decc99cdf60e9177eb8c84269ff3. Different line numbers, but same message.

[2019-04-30 17:45] a11cf0 opened #9528 "On Windows 10 1903 NVDA starts after logon even when this is disabled"
### Steps to reproduce:
1. Install NVDA,
2. Do not configure NVDA for starting automatically after logon, but let it run on secure screens,
3. Restart Windows or sign out and in.

### Actual behavior:
NVDA starts right after logon just as if the corresponding option is enabled.

### Expected behavior:
NVDA shouldn't autostart when it isn't told to do so.

### System configuration
#### NVDA install

[2019-04-30 19:34] Adriani90 commented on #816
Ok sorry for that, I saw there are lots of users with this name on github. I am closing this issue for now. If the initial author comments on it we can reopen the discussion.

[2019-04-30 19:34] #816 closed

[2019-04-30 19:35] leonardder commented on #9528
Is NVDA also started at the logon screen? What happens if you disable that?

[2019-04-30 19:45] Adriani90 commented on #7747
@leonardder I really like the idea with an additional layer for quick navigation. I am really thinking about closing this one in favor of your idea. But I still think the settings ring is the best option at least for navigation by colors in MS Excel (i.e. as requested in #7744). Lot of users often deal with big tables which contain cells with different colors in Excel or even pdfs with revisions d

[2019-04-30 19:55] Adriani90 commented on #7456
I am not able to reproduce this issue with NVDA 2019.1.1 on Windows 10 1809 Update.
Closing as works for me.

[2019-04-30 19:55] #7456 closed

[2019-04-30 19:58] Adriani90 commented on #7466
@fisher729 are you still seeing this issue?
I am not getting any error when using NVDA alpha-17099,0d2a1525.

[2019-04-30 20:06] Adriani90 commented on #7416
This is still an issue but is occuring in almost every edit field in MS Excel which shows a reference (i.e. diagrams etc.). In Excel 2010, NVDA reports the selected reference when landing on the edit field and it also speaks the references when using up and down arrow to change it. But it reports only "carriage return" wehn using left and right arrow although the referenced cell is also changing.

[2019-04-30 20:12] fisher729 commented on #7466
Hi.

The issue has been sorted out, somehow.

On 4/30/19, Adriani90 <notifications@github.com> wrote:

[2019-04-30 20:13] Adriani90 commented on #7455
I do not have a braille display to test, but I this has been implemented meanwhile. But I might be wrong though.

[2019-04-30 20:20] Adriani90 commented on #7554
This works as expected when using the addon Windows 10 app essentials but it is not implemented in NVDA's core.
I am not sure if and for how long the current native edge version will be supported now that Edge chromium came out.

[2019-04-30 20:33] Adriani90 commented on #7638
Closing this in favor of #7743 and referenced issues because there the discussion is more detailed.

[2019-04-30 20:33] #7638 closed

[2019-04-30 20:42] Adriani90 commented on #7637
This is still reproducible in IE11 and NVDA 2019.1.1

[2019-04-30 20:52] Adriani90 commented on #7635
This behavior is occuring only when using arrow keys to navigate through the website in browse mode. When I am on the mathematical expression and press nvda+alt+m, NVDA reads the math expression as expected in both cases.
cc: @leonardder

[2019-04-30 21:06] a11cf0 commented on #9528
If this option is disabled NVDA doesn't autostart at all.
but if starting on logon screens is enabled NVDA starts both at and after logon.

[2019-04-30 21:10] Adriani90 commented on #7627
I am testing with NVDA 2019.1.1 in Firefox and chrome. Fieldset, group with Aria label and group with Aria labeledby trigger a reporting of the group before control label, type and state. When using region with label and region with labeledby, the group name is not reported but this is expected I guess.

In IE11 the behavior is confusing and inconsistent between browse mode and focus mode. In brow

[2019-04-30 21:17] Adriani90 commented on #7623
@nitronova unfortunately I cannot reproduce this issue because the codepen is not existing anymore. Could you please upload a new one? Thanks.

[2019-04-30 21:18] Adriani90 commented on #7620
cc: @leonardder

[2019-04-30 21:22] Adriani90 commented on #7830
@Brian1Gaff did this still happen during last months? Or is this issue no occuring anymore?

[2019-04-30 21:23] Adriani90 commented on #7595
@Brian1Gaff are you still having this issue?

[2019-04-30 21:26] Adriani90 commented on #7602
@ctoth did the suggestion made by Bramd in his comment above help you in working more efficient now? or do you still need a separate script for this?

[2019-04-30 21:34] Adriani90 commented on #7601
How about forms where a help baloon is displayed when clicking on the clickable label? In my view this is useful information. In the end it is also kind of bad implementation if the web developer adds clickable value to an element without putting an action on it which makes sense. I think it will be really hard to filter out which clickable elements are helpful and which not.

[2019-04-30 21:38] Adriani90 commented on #7596
@valentinaAl I could not reproduce such an issue yet. Could you please upload an example so we can repoduce this issue? Thanks!

[2019-04-30 21:44] Adriani90 commented on #7589
When you are in browse mode and you move to one of the images and press enter, NVDA does not report anything. It should report the grafic together with its alt text and description. In focus mode, on the grafic and its alt text are reported but not the description.

Tested with NVDA 2019.1.1 on Firefox 66.0.3 and Chrome 74, the same behavior is visible.

cc: @jcsteh

[2019-04-30 21:46] Adriani90 commented on #7588
@dkager unfortunately I don't have a braille display at hand to test this. Is it still an issue in NVDA 2019.1.1?

[2019-04-30 21:51] Adriani90 commented on #7585
@NataliePakki It seems JSFiddle is not well supported on IE. Could oyou please post here the code itself? This would make it easy for everyone to reproduce this issue. Thanks.

[2019-04-30 21:53] Adriani90 commented on #7582
@israel-Liu this should work now in NVDA. Could you please test with NVDA 2019.1.1? Is this issue still occuring? I was testing zoom some weeks ago and could not reproduce this issue.

[2019-04-30 21:56] Adriani90 commented on #7579
cc: @jcsteh

[2019-04-30 22:03] nitronova commented on #7623
Unfortunately, I no longer have that specific version of the code. I do not know whether or not the problem still exists. In my local copy of this project, with an updated version of NVDA, the issue does not occur.

In my original javascript code, there was some element retargeting that was going on when I would close the menu. When opening a submenu, the focus is retargeted to the first item in t

[2019-04-30 22:03] #7623 closed

[2019-04-30 22:04] Adriani90 commented on #7698
I can reproduce this issue with NVDA 2019.1.1, Firefox 66.0.3 and Chrome 74 as follows:
1. Open NVDA
2. Open Github and open a repository
3. Open an issue and make sure you are logged in
4. Switch to focus mode with nvda+space bar
5. Press a
6. Type one or more letters

Actual: NVDA announces the number of results but you can navigate the results only with object navigation
expected: NVDA should a

[2019-04-30 22:08] Adriani90 commented on #7691
@Gucalle in NVDA menu under Tools you can find a tool called "com registration fixing tool". Did you try to run that tool and see if it solves your problem?

[2019-04-30 22:10] Adriani90 commented on #7682
@fernando-jose-silva are you still having this issue in Windows 10 1809 Update with NVDA 2019.1.1?

[2019-04-30 22:18] Adriani90 commented on #7675
This seems solved in Firefox Nightly. @jcsteh should we close this one?

[2019-04-30 22:23] Adriani90 commented on #7674
I guess this is reproducible for almost every settings pannel in Windows 10 where controls are showing descriptions. cc: @josephsl

[2019-04-30 22:27] Adriani90 commented on #7673
@zstanecic I am testing with NVDA 2019.1.1 on Windows 10 1809 update. My voices are english, german, romanian and french. I cannot reproduce this issue.
Are you still having this problem?

[2019-04-30 22:28] Adriani90 commented on #7673
cc: @nishimotz

[2019-04-30 22:31] Adriani90 commented on #7672
@blm126 I cannot reproduce this issue in IE11 with NVDA 2019.1.1. Do you still see this issue?

[2019-04-30 22:37] Adriani90 commented on #7671
cc: @larry801, @OliverEdholm in my opinion this feature should remain as an addon. What do you think? I don't think NV Access have the time and the ressources to maintain data bases and what not.

[2019-04-30 22:40] Adriani90 commented on #7667
We do not have an answer from the initial author since more than two years and I guess there was something wrong in the settings applied by the initial author. I am closing this for now. if the author comments on it we can reopen the discussion.

[2019-04-30 22:40] #7667 closed

[2019-04-30 22:42] Adriani90 commented on #7665
@Yanyan28 are you still having this problem in NVDA 2019.1.1?

[2019-04-30 22:44] Adriani90 commented on #7659
@ivnc, @dreinn I was not able to reproduce this issue with NVDA 2019.1.1 on Windows 10 1809 update. Are you still having this issue or have you recently hear any additional user reports on this?

[2019-04-30 22:51] jcsteh commented on #7675
This is a duplicate of #4471. And yes, a workaround landed in Firefox to deal with this; see https://github.com/nvaccess/nvda/issues/4471#issuecomment-483125697 for details.

[2019-04-30 22:51] #7675 closed

[2019-04-30 22:51] Adriani90 commented on #7657
This is solved now when using Chrome 74 and NVDA 2019.1.1.
Closing as works for me.

[2019-04-30 22:51] #7657 closed

[2019-04-30 22:55] jcsteh commented on #7579
Firefox (and I presume other browsers) do expose this information, but NVDA doesn't report it at this point. I've never been convinced this is necessary - I'm not even sure how a sighted user immediately knows that a list is multi-selectable without selecting things first - but I'll leave that decision to others.

[2019-04-30 22:58] Adriani90 commented on #7648
This is still reproducible in NVDA 2019.1.1.

[2019-04-30 23:03] Adriani90 commented on #7645
This is not reproducible in NVDA 2019.1.1 and firefox 66.0.3. @raynesio if you can reproduce this issue though, please comment on it and we can reopen the discussion. Thank!

[2019-04-30 23:03] #7645 closed

[2019-04-30 23:20] ruifontes commented on #7455
No, not yet...
In Braille it only shows lst...

[2019-05-01 02:11] fernando-jose-silva commented on #7519
I believe that it can close the call, everything works at a reasonable speed now.
everything updated:
nvda 17110
windows 10 18362.

[2019-05-01 02:14] fernando-jose-silva commented on #7682
I believe that it can close the call, everything works at a reasonable speed now.
everything updated:
nvda 17110
windows 10 18362.

[2019-05-01 04:42] MarcoZehe commented on #7648
Probably solved in 19H1 due to Narrator now supporting Chrome and Electron apps via the IA2-to-UIA bridge.

[2019-05-01 07:38] zstanecic commented on #7673
This issue is fixed in the

Newest NVDA.

You can close it.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 1, 2019 12:27 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] in windows 10 fall creators update, when multiple voices are installed the one core driver driver fail to

[2019-05-01 08:04] Adriani90 commented on #7673
Closing as works for me. Thanks very much for reporting back.

[2019-05-01 08:04] #7673 closed

[2019-05-01 08:07] Adriani90 commented on #7682
Closing as works for me. Fernando you can also close issues which you created by yourself if you notice that they are not reproducible anymore. Just write a comment on those issues how you tested and press "close and comment". Thanks very much for your availability, this is very appreciated!

[2019-05-01 08:07] #7682 closed

[2019-05-01 08:09] Adriani90 commented on #7588
@ruifontes couls you please test if this issue is still reproducible? Thanks!

[2019-05-01 08:11] Adriani90 commented on #7691
@michaelDCurran I guess this dll is considered already in the registration fixing tool. Right?

[2019-05-01 08:16] Adriani90 commented on #7767
@subbuj9 just a reminder, could you please provide a website example where we can test this issue? Thanks!

[2019-05-01 08:18] Adriani90 commented on #7761
I am closing this one for now, I was testing with different office packages and could not reproduce it. If it is still an issue, please feel free to comment and reopen it. Thanks!

[2019-05-01 08:18] #7761 closed

[2019-05-01 08:19] fisher729 commented on #9131
Hi.

This issue seems to have been forgotten. It can be quite confusing for new users.

[2019-05-01 08:21] Adriani90 commented on #7755
We do not have any updates from the author since more than one year. I close this as works for me. Please feel free to comment on it if you are still having this problem and we can reopen it.

[2019-05-01 08:21] #7755 closed

[2019-05-01 08:29] Adriani90 commented on #7731
This is not an issue in NVDA 2019.1.1, Firefox 66.0.3 and Chrome 74 anymore.
Closing as works for me.

[2019-05-01 08:29] #7731 closed

[2019-05-01 08:40] Adriani90 commented on #7724
I thought always that some older 32bit java aplications would expose information only to the 32bit java access bridge. Or not? What is the current status of this now with the newer Java version?

[2019-05-01 08:43] Adriani90 commented on #7720
@Techieegirl I think I have seen a similar issue on some websites. Unfortunately the link you provided in the description does not work anymore. Could you please upload a new one? Thanks!

[2019-05-01 08:45] Adriani90 commented on #7717
@ruifontes,  @xtstoll any update on this? Is the issue still reproducible?

[2019-05-01 08:47] Adriani90 commented on #7704
@francipvb this seems to be a very specific issue. I cannot reproduce it either. So we rely on your tests and updates. Is it still an issue for you?

[2019-05-01 09:00] Adriani90 commented on #7836
This works now as expected in all examples provided in this issue. I have tested with NVDA 2019.1.1 and Firefox 66.0.3 as well as Chrome 74.
Sometimes you have to press multiple times enter on a button with submenu to expand it but this is another issue.
Closing as works for me.

[2019-05-01 09:03] Adriani90 commented on #7813
@fernando-jose-silva I am testing this in Firefox 66.0.3 with NVDA 2019.1.1. I don't notice any performance lack. NVDA takes about one second or maybe two to respond. Do you still have this issue?

[2019-05-01 09:05] Adriani90 commented on #7828
This issue seems solved. @Qchristensen please comment and reopen it if this is still happening. Thanks!

[2019-05-01 09:05] #7828 closed

[2019-05-01 09:09] Adriani90 commented on #7808
This is not occuring anymore in NVDA 2019.1.1. Closing as works for me.

[2019-05-01 09:09] #7808 closed

[2019-05-01 09:30] Adriani90 commented on #7801
I can confirm this problem still occurs in NVDA 2019.1.1, Chrome 74 and Firefox 66.0.3.
1. Open the link in the description
2. Register to the website and create a new project
3. Enter a name for the project and press ok
4. Navigate to the editors mode group with r and choose either source or ritch text
5. Press e to land on the edit field (the latex syntax
is displayed under the edit field accord

[2019-05-01 09:35] Adriani90 commented on #7796
@fernando-jose-silva we have closed several issues which showed this behavior in the past because users were not having this problem anymore. Can you still see this problem occuring?

[2019-05-01 09:43] Adriani90 commented on #7882
There is a sleep mode in NVDA, press nvda+shift+s in desktop keyboard layout or nvda+shift+y in laptop keyboard layout. Please create a feature according to the feature template where you describe exactly the behavior you would like to see. I am closing this one as works for me.

[2019-05-01 09:43] #7882 closed

[2019-05-01 09:45] Adriani90 commented on #7867
We do not have any feedback from the initial author since he created this issue. I am closing this for now. Please feel free to comment on it and we can reopen the discussion. Thanks!

[2019-05-01 09:54] Adriani90 commented on #7856
I am testing with NVDA 2019.1.1 and Sapi5 voices on different edit fields (firefox, wordpad, MS Word).
I donot notice any delay when pressing a key. But there is a long interuption between the reporting of the key pressed and the reporting of the text or object focused.
cc: @michaelDCurran

[2019-05-01 10:00] Adriani90 commented on #7845
The design of google translate changed. There is no list anymore, now there are buttons which work whell in focus and browse mode. Testing with NVDA 2019.1.1 and Chrome 74.
Closing as works for me.

[2019-05-01 10:00] #7845 closed

[2019-05-01 10:13] Adriani90 commented on #7842
Opening this website in IE11 and switching to focus mode, then navigating with tab and shift+tab, makes NVDA unusable after a while and the log is full of errors. This is one of them:

[code]

Many parts of the website including the download button are not reported by NVDA in IE due to these errors.

[2019-05-01 10:15] Adriani90 commented on #7842
In Firefox the player opens and the audio is played. In Chrome nothing happens when pressing enter on the download button.

[2019-05-01 10:18] ruifontes commented on #7588
And I can't use Cortana in portuguese, so I can't test...

[2019-05-01 10:24] Adriani90 commented on #7928
I cannot reproduce this issue with NVDA 2019.1.1 and Chrome 74. Fernando if you still have this issue, please comment on it and we can reopen the discussion. Thanks!

[2019-05-01 10:24] #7928 closed

[2019-05-01 10:28] Adriani90 commented on #7920
@feerrenrut should this be closed as can't fix?

[2019-05-01 10:29] DataTriny opened #9529 "Mail app for Windows 10: bug inside ordered lists"
### Steps to reproduce:

1. Open NVDA,
2. Open Mail app for Windows 10,
3. Start reading a mail that contains an ordered list, (i.e. the one you are currently reading on this page),
4. Navigate between the items using up and down arrow key for instance.

### Actual behavior:

NVDA reports the index of the item following by its content and finally the index of the next one.

### Expected behavior:

[2019-05-01 10:30] Adriani90 commented on #7900
Is anyone still having this problem in NVDA 2019.1.1?

[2019-05-01 10:34] Adriani90 commented on #7909
@vikasbansal27 it is not possible for us to reproduce this issue with the parts of the screenshot. If you could paste some html code in here or an example website which shows this issue, then we can take further steps to improve it. as of now I am closing this issue because we did not get an example for more than one year. Please comment on it with an example or open a new issue. Thanks.

[2019-05-01 10:34] #7909 closed

[2019-05-01 10:37] Adriani90 commented on #7906
cc: @jcsteh Your thoughts regarding firefox are very appreciated here. Thanks.

[2019-05-01 10:47] Adriani90 commented on #8948
@marlon-sousa is this work still in progress?

[2019-05-01 10:52] Adriani90 commented on #7889
I think I can still reproduce this issue in NVDA 2019.1.1 and Firefox 66.0.3 but only for internal map reference.

[2019-05-01 11:00] Adriani90 commented on #7987
This works as expected with NVDA 2019.1.1. closing as works for me.

[2019-05-01 11:00] #7987 closed

[2019-05-01 11:05] Adriani90 commented on #7972
This works as expected in Firefox. But it is still reproducible in Chrome 74 with NVDA 2019.1.1.

[2019-05-01 11:12] Adriani90 commented on #7984
This works as expected in NVDA 2019.1.1. Closing as works for me.

[2019-05-01 11:12] #7984 closed

[2019-05-01 11:14] Adriani90 commented on #7951
@tapper82 are you still having this problem? @bdorder, @novalis7747 as far as I know it works well in Thunderbird. Right?

[2019-05-01 11:24] Adriani90 commented on #7947
@ghost are you still having this issue in Windows 10 mail with NVDA 2019.1.1? I assume this could be related to #7917. cc: @Qchristensen

[2019-05-01 11:29] Adriani90 commented on #7944
I cannot reproduce this issue in NVDA 2019.1.1 and Chrome 74. @ssawczyn, @fernando-jose-silva, @PratikP1 did you try to run the com registration fixing tool in nvda menu / tools? Are you still seeing this issue?

[2019-05-01 11:37] Adriani90 commented on #7943
This is also reproducible in Excel 2016 and 365 with NVDA 2019.1.1. cc: @leonardder

[2019-05-01 11:41] Adriani90 commented on #7942
@fernando-jose-silva thanks for reporting. I will close this issue as works for me because it is solved. For your other issues regarding tables, please reopen new issues. Thanks!

[2019-05-01 11:48] tapper82 commented on #7951
No all is fixt now. both FF and TB work as they should. You can close. Thanks.

[2019-05-01 11:54] tapper82 commented on #9496
What is that site? If I am blind how do i know red from green?
 When I open that site it just says Neptunium Neptunium.
 What is it?

[2019-05-01 12:00] Adriani90 commented on #7941
In Firefox 66.0.3 this is still reproducible. Moreover, it seems the focus jumps through the table when using ctrl+alt+arrow keys and land on unexpected cells. Sometime NVDA reports that the text is selected although it is not selected with shift+arrow keys. Something seems to be broken with regard to carret movement.
cc: @jcsteh

[2019-05-01 12:02] tapper82 commented on #9476
This is on win 7.
• Mainstream support ended on January 13, 2015
• Extended support ends on January 14, 2020

[2019-05-01 12:04] tapper82 commented on #9476
Cant reproduce this on windows 10 ff 68.1

[2019-05-01 12:05] Adriani90 commented on #7942
After testing further in Chrome 74, when switching to focus mode in google docs and navigating through a table, I get following error and NVDA does not speak at all:

[code]

[2019-05-01 12:05] Adriani90 commented on #7942
tested with NVDA alpha-17099,0d2a1525 and Chrome 74.

[2019-05-01 12:06] Adriani90 commented on #7951
Closing as works for me.

[2019-05-01 12:06] #7951 closed

[2019-05-01 12:33] leonardder commented on #9529
I Recall seeing something like this in Word as well.

[2019-05-01 14:14] ivnc commented on #7659
Hi.

I’ve just got in touch with the user again to know if he’s still experiencing this issue. I’ll let you know as soon as I get a response from him.

Thanks. Regards.

[2019-05-01 14:16] lukaszgo1 commented on #7900
I can still reproduce this issue. Restarting Dism+ helps, but given the nature of this tool it cannot be always done.

[2019-05-01 14:42] fernando-jose-silva commented on #7944
I have now been able to read the pages by opening the 2 links and navigating with the arrows below.
all updated
nvda 17110
windows 10 18362.
Thank you.

[2019-05-01 14:49] Adriani90 commented on #543
We do not have any updates from the initial author since more than one year. I am closing this issue for now. Please comment on it if you still have this problem and we can reopen the discussion. Thanks.

[2019-05-01 14:49] #543 closed

[2019-05-01 14:55] fernando-jose-silva commented on #7796
I could not reproduce the problems any more.
All new:
nvda 17110
office 2019
windows 10 18362
Thank you.

[2019-05-01 15:00] Adriani90 commented on #1216
I am testing with NVDA 2019.1.1 and Adobe Acrobat Reader DC 19.010.20099. I cannot reproduce this issue. I don't notice any difference between those two read orders. @camlorn, @parham can you confirm? Or are you still having this problem?

[2019-05-01 15:01] dkager commented on #7588
Works for me!

[2019-05-01 15:01] #7588 closed

[2019-05-01 15:09] Adriani90 commented on #1206
cc: @leonardder comming back on this since there were actually many issues where users requested similar behaviors between synths like higher speed for narator etc. This is maybe also interesting to consider.

[2019-05-01 15:15] fernando-jose-silva commented on #7813
Now everything happens well.
I still find nvda when working with firefox a bit slow, but now its perfectly possible to use it.
After searching on this page within 1 second you can already navigate with the arrows.

[2019-05-01 15:18] Adriani90 commented on #994
It seems most parts of this software are accessible with NVDA. For the parts which are not accessible, please create individual issues with exact steps to reproduce. I am closing this for now because it will be unlikely that a developer will search for every issue in ashampoo.

[2019-05-01 15:18] #994 closed

[2019-05-01 15:24] fernando-jose-silva commented on #7704
My excel was also catching a lot.
I discovered that in my case the problem was the .nvda-addon focusHighlight-Now I can no longer test the add-on, nvda 17110 does not install or run the add-in anymore because it is asking for the update of the add-on for 2019.2 compatibility.

[2019-05-01 15:28] Adriani90 commented on #953
I agree this is synthesizer specific and must be reported there accordingly. @dharvey it works with almost every synthesizer apart from eSpeak. Feel free to report this issue to eSpeak on Github. I am closing this one for now but if there are any other arguments we can reopen it ofcourse.

[2019-05-01 15:28] #953 closed

[2019-05-01 15:34] Adriani90 commented on #949
I am not able to reproduce this issue in NVDA 2019.1.1 and MS Word 2010 and 2016 / 365. Is anyone still able to see this issue? I think there was a PR which solved this issue but I don't recall exactly which one it was.

[2019-05-01 15:44] Adriani90 commented on #927
In Firefox 66.0.3 and NVDA 2019.1.1 this issue is still reproducible. I see this issue at work very often in SAP net viewer applications.

Following error is written to the log when trying to navigate in the table cell with ctrl+alt+arrow keys:

[code]

[2019-05-01 15:47] Adriani90 commented on #927
In Chrome 74 it works as expected. The text "cell content" is rendered into a cell and you can navigate by ctrl+alt+arrow keys.

[2019-05-01 15:56] Adriani90 commented on #1445
I cannot reproduce this issue in NVDA 2019.1.1 and have not seen this problem even in earlier versions. @geoff are you still having this issue?

[2019-05-01 16:03] lukaszgo1 commented on #949
For me opening the file which I've attached in my last commend in Word 2010 and closing it immediately causes this prompt to appear. I am running Windows 7 x64 and latest NVDA Alpha.

[2019-05-01 16:03] Adriani90 commented on #1282
@jcsteh is there already a bug filled with Mozilla?

[2019-05-01 16:11] Adriani90 commented on #1337
This is working as expected with NVDA 2019.1.1 and Firefox 66.0.3 as well as Chrome 74. All 4 tests are reported by NVDA correctly. In IE this does not work at all. But I guess a fix in IE will highly unlikely.

[2019-05-01 16:15] Adriani90 commented on #1283
@simekk The link in the description is not working anymore. Could you please upload a new test case? Thanks!

[2019-05-01 16:31] tech55541 commented on #7867
Hello,

Sorry, missed the notification. I am still on Windows 7 64-bit professional facing the same issue in Office 2016.

Thanks.

[2019-05-01 16:35] Adriani90 commented on #9463
Disablind editors revisions etc does not solve this issue. Thanks for the suggestion though.

[2019-05-01 16:36] Adriani90 commented on #2003
This is an indicator that another program kills most parts of NVDA except for speech synth. I saw this issue from time to time as well. I can reproduce it by doing following:
1. Open NVDA 2019.1.1
2. Open the attached word dokument
3. Press ctrl+shift + down arrow to select paragraphs and hold it pressed for some seconds

Actual: NVDA is killed almost completely. NVDA key strokes to not work, nvda

[2019-05-01 16:37] Adriani90 commented on #2003
[ONKYO.docx](https://github.com/nvaccess/nvda/files/3135188/ONKYO.docx)

[2019-05-01 16:38] Adriani90 commented on #2003
Another example where NVDA's synthesizer does not react when pressing tab or arrow keys is following:
1. Open a portable copy of NVDA
2. Open CCleaner

Actual: When pressing tab and shift+tab NVDA does not react. imediately
Expected: NVDA should react imediately as it reacts in the installed version.

[2019-05-01 16:47] Adriani90 commented on #1970
The performance difference between Word using UIA and with UIA disabled is minimal now in NVDA 2019.1.1. In Word 2010 it works a bit slower. The lag is about 0.5 seconds which is reasonable. If you change the view to draft mode the lag is even much lower. Since performance in MS Word is covered in other several issues, I am closing this one for now.

[2019-05-01 16:47] #1970 closed

[2019-05-01 16:53] Adriani90 commented on #1961
Using Sapi5 voices, I do not experience a significant lag when pressing arrow keys or when pressing ctrl to interupt the speech. Ofcourse it is a bit slower than eSpeak or so but this is the case with almost every human like voice. Performance improved significantly in the last versions and specific performance issues (i.e. pause between reporting of a key and reporting of an object) is covered in

[2019-05-01 16:53] #1961 closed

[2019-05-01 17:00] Adriani90 commented on #1847
We do not have any feedback from Office 2010 users since two years or so. I am closing this one for now. If someone using Office 2010 and a braille display can reproduce this issue, please comment on it. We can reopen the discussion.
cc: @novalis7747, @ruifontes, @bdorer.

[2019-05-01 17:00] #1847 closed

[2019-05-01 17:06] gmhtml commented on #7920
Not as far as I know.

Thanks,

frank

[2019-05-01 17:12] Adriani90 commented on #7867
reopening. Thanks for reporting back.

[2019-05-01 17:17] Adriani90 commented on #7867
Could you please upload a nvda_old.log file and a crash dump according to this article after NVDA crashes?
https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps

Thanks!

[2019-05-01 17:22] Adriani90 commented on #7704
cc: @nishimotz

[2019-05-01 17:24] Adriani90 commented on #7813
Closing as works for me.

[2019-05-01 17:24] #7813 closed

[2019-05-01 17:25] Adriani90 commented on #7796
Closing as works for me.

[2019-05-01 17:25] #7796 closed

[2019-05-01 17:27] Adriani90 commented on #7944
Closing as works for me.

[2019-05-01 17:27] #7944 closed

[2019-05-01 19:47] camlorn commented on #1216
I don't even remember having this issue in the first place at this point, and haven't touched pdfs in a very long time, so: no, but not necessarily because it's gone.

[2019-05-01 20:51] Flameborn opened #9530 "Numlock state is not always honored while numpad keys are used with the shift key"
### Steps to reproduce:

- Turn on numlock.
- Hold down the shift key and press either the number keys, or the delete key.

### Actual behavior:

Speech is interrupted, and NVDA behaves as if numlock is not turned on, e.g. navigates via the review cursor if the desktop keyboard layout is being used.

### Expected behavior:

Shift and the corresponding numpad key should be passed to the focused app

[2019-05-02 02:17] DrSooom commented on #9530
Same behavior with NVDA 2018.1 on Win7x64 in desktop keyboard layout.

[2019-05-02 07:18] man0528 commented on #7900
Yes, I can still reproduce this behavior.

[2019-05-02 07:41] leonardder opened #9531 "DisplayModel getting bounding rect from offset sometimes inaccurate on higher DPI"
This issue is slightly hypothetical, but in a corporate environment where I had to use the display model to make an application accessible, I continuously received the wrong coordinates for an offset in the model when DPI was at 150%. Setting the DPI back to 100% resolved this.

When getting a bounding rectangle from an offset in a DisplayModelTextInfo, logical coordinates are converted to physica

[2019-05-02 08:02] leonardder commented on #7900
Screen review works as follows:

1. An application draws text on the screen
2. NVDA intercepts this information and stores it in a buffer
3. When using screen review to navigate the window, NVDA therefore returns buffered info
4. When NVDA is restarted, the buffered content is lost. As long as the window isn't redroan, NVDA won't be able to access the screen using screen review.

It might be possi

[2019-05-02 09:11] surfer0627 commented on #9370
After searching issues, it seems that this is a duplicated of [7275](https://github.com/nvaccess/nvda/issues/7275#issuecomment-308015865).

jcsteh commented on 13 Jun 2017

But, how to explain the reason that line breaking issue sometimes occurs in Acrobat, and not in Chrome.

[2019-05-02 09:14] #9370 closed

[2019-05-02 11:17] feerrenrut commented on #8478
We have added text shadows to improve the contrast on these items, these will still fail many of the automated tools (which don't take the text shadow into account), however we believe that we have addressed the contrast requirements for these buttons.

[2019-05-02 11:17] #8478 closed

[2019-05-02 11:21] feerrenrut commented on #708
Yes, I think we can close this issue. There are several ways that we could expand the system tests, and we would love to see some contributions here!

[2019-05-02 11:21] #708 closed

[2019-05-02 13:23] feerrenrut commented on #7604
One workaround might be to do something like:
[code]

I assume that this is only when they are uppercase, and you are using the espeak synthesizer? If they are title case (as written), then with espeak they are announced as words. It is ambiguous whether an uppercase word should be presented as an acronym or not, extra context is necessary.

Ideally the browser would not be transforming the text p

[2019-05-02 13:24] Neurrone commented on #1216
Duplicate of #7275.

This is definitely still happening, and I was able to reproduce it with source code of a pdf ebook.

[2019-05-02 13:37] feerrenrut commented on #7801
A minimal test case that demonstrates the problem would go a long way towards getting this fixed.

[2019-05-02 13:46] feerrenrut commented on #7920
I think we should leave it open, to make it easier to find for others encountering the same problem.

@gmhtml Were you able to contact Duxbury systems about this issue?

[2019-05-02 14:22] #8712 closed

[2019-05-02 14:22] #8724 closed

[2019-05-02 14:22] #8768 closed

[2019-05-02 15:28] hozosch opened #9532 "update espeak"
Hello,
I'm removing this template because all I would like is to have espeak updated in 2019.2. There are some Pronunciation fixes and modifications to the German voice and the m8 variant I did.
Thanks advancely.

[2019-05-02 16:06] #9521 closed

[2019-05-02 16:07] zstanecic commented on #9532
Hi @hozosch,

This thing is a bit risky...

It should be tested ina a try build, before straightforward updating.

Do you remember the time, when the espeak was updated to the latest version?

From: hozosch <notifications@github.com>
Sent: Thursday, May 2, 2019 5:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] update espeak

[2019-05-02 16:15] #9499 closed

[2019-05-02 16:47] Adriani90 commented on #1216
Closing as duplicate. thanks for the comment.

[2019-05-02 16:47] #1216 closed

[2019-05-02 16:52] Adriani90 commented on #7704
Since this seems to have been caused by an addon, I am closing this as works for me. fernando feel free to contact Nishimotz (cc above) and provide feedback regarding to the addon. But since NVDA will have a native focus highlight I guess the addon might be obsolete at some point in the future.
@francipvb if you are still having this problem though, feel free to comment on this issue and we can re

[2019-05-02 16:52] #7704 closed

[2019-05-02 16:52] ruifontes commented on #7717
I don't know...

I haven'tany Braille display with a keyboard to test...

But, close it anyway, since the error, if any, it is to be solved in
LibLouis...

Rui Fontes

Às 09:45 de 01/05/2019, Adriani90 escreveu:

[2019-05-02 17:26] Adriani90 commented on #7801
I was able to catch an error when pressing e to navigate to the edit field in browse mode:

[code]

[2019-05-02 17:30] Adriani90 commented on #7801
As you can see, NVDA speaks the content of the editfield after I press down arrow. It says "end of edit field" although the text is visually in the edit field. However, I guess that when you type in the edit field, the text is written to that area through a different property. Unfortunately I don't understand exactly how it works. But I guess that the typing event is kind of splited from the displ

[2019-05-02 18:11] Adriani90 commented on #7801
I guess it is not really possible to create a minimal text case. i think they use a very specific role and DOMNode for the edit area. According to the accessibility checker in firefox, the role is Text Leaf and the DOMNode is textarea.ACE_text-input.

[2019-05-02 20:16] Adriani90 commented on #8034
cc: @Qchristensen could you please test from a sighted perspective? I guess it will be quite unlikely that NV Access will invest time in solving this but I do not exactly understand this issue though.
cc: @leonardder

[2019-05-02 20:18] Adriani90 commented on #8033
I am not sure if this is a NVDA bug. Is it not rather related to eSpeak and should be reported there? @vgjh2005 are you still having this problem in NVDA 2019.1.1?

[2019-05-02 20:22] Adriani90 commented on #8026
I also notice some delay when navigating line by line in Outlook 2016 / 365. However, it is very strange that NVDA reacts much faster when using ctrl+arrow keys to navigate paragraph by paragraph or word by word.

[2019-05-02 20:26] Adriani90 commented on #8020
@tibabit do you still encounter this issue in NVDA 2019.1.1? Have you already tried to consider the suggestion form Leonard above?

[2019-05-02 20:30] Adriani90 commented on #8015
I cannot reproduce this in Windows 10 1809 Update and NVDA 2019.1.1 with Windows Mail app. Closing as works for me. If you are still having this problem, please comment on it and we can reopen the discussion.

[2019-05-02 20:30] #8015 closed

[2019-05-02 20:40] Adriani90 commented on #8197
@vsfoote, @zahra21 are you still seeing this issue in NVDA 2019.1.1? I am testing with Libre Office 6.2.2 and I can navigate the dialog in screen review without any errors or sounds or word breakages.
If you still have this issue, I wonder if it happen also when you use a higher DPI for your display?

[2019-05-02 20:48] Adriani90 commented on #7934
@Neurrone are you still having those errors in NVDA 2019.1.1 under Windows 10 1809 Update?
Regarding UIA performance and other issues, please create individual issues because this makes discussions easier to follow. Thanks!
I am prety sure this errors are not occuring, I am on alpha-17134,363af94b and tried with several synthesizers. If you have these errors though, may I ask which Synthesizer are

[2019-05-02 20:54] Adriani90 commented on #7962
I am thinking to close this issue because I recall there was a PR which treated this problem. Unfortunately I will not be able to test with the newest NVDA version on a Windows 8.1 system.
@zahra21 could you please help in reproducing this issue? Are you still having it with NVDA 2019.1.1 when an application crashes?

[2019-05-02 20:56] Adriani90 commented on #7982
I am closing this due to following reasons:
1. Testing was under an old environment with an old NVDA version, so results are outdated.
2. Many of the com errors are not occuring in newer NVDA versions. For certain com error issues, other issues are already open.

[2019-05-02 20:56] #7982 closed

[2019-05-02 21:02] Adriani90 commented on #8007
This is still reproducible in NVDA 2019.1.1 and Chrome 74. However, I do not see a negative effect on user experience since the alt text is read.
I am not sure if this is an NVDA issue. i saw several other websites which showed the same issue. it might also be a problem in Chrome regarding the way Chrome exposes the grafic atribute to screen readers. Is this also hapenning with other screen reader

[2019-05-02 21:07] Adriani90 commented on #8005
cc: @jcsteh this is the behavior I asked you about in e recent email. It seems it occurs for tables with scope atributes only.
Tested with NVDA 2019.1.1 and Firefox 66.0.3.
cc: @MarcoZehe

[2019-05-02 21:10] Adriani90 commented on #8001
Please post request for addons on the addons list. If an addon is created, then the author could ofcourse raise a pull request against NVDA and cover specific issues. If you have specific issues with Plotagon (i.e. text selection etc.), please open individual issues for each problem. Thanks.
I am closing this for now and we can continue the discussion on the addons list.

[2019-05-02 21:10] #8001 closed

[2019-05-02 21:19] Adriani90 commented on #7996
Small progress in Chrome 74 with NVDA 2019.1.1, the test is repeated only 4 times instead of 6 👍 :-)

[2019-05-02 21:25] Adriani90 commented on #8093
@k-kolev1985 are you still seeing this issue? I am testing in last Skype UWP but I cannot reproduce it with NVDA 2019.1.1 on Windows 10 1809 Update.

[2019-05-02 21:41] Adriani90 commented on #8067
@Raju1saha could you please upload another example? The website does not work for me.
In general, if a text paragraph is set under the same paragraph tag, NVDA should be able to read the whole paragraph at once when pressing ctrl+down or up arrow. This is the command for reading paragraphs. When using arrow keys, NVDA tries to interpret how long is a visible line on the screen and reads that line

[2019-05-02 21:47] Adriani90 commented on #8052
This is also reproducible in MS Word 2010.
Moreover, when using UIA for MS Word 365, the checkbox is not reported at all.
cc: @michaelDCurran

[2019-05-02 21:49] Adriani90 commented on #8066
@sethmhur are you still having this issue in NVDA 2019.1.1 and Chrome last version?
If yes, please try to run the com registration fixing tool in NVDA menu / tools. Does this solve the issue?

[2019-05-02 21:52] Adriani90 commented on #8035
This is not reproducible in NVDA 2019.1.1 and Firefox 66.0.3. I am closing this as works for me. Please comment on it if you still have the problem and we can reopen the discussion. Thanks!

[2019-05-02 21:52] #8035 closed

[2019-05-02 22:09] Adriani90 commented on #8199
This is working in Chrome 74 with NVDA 2019.1.1. Closing as works for me.
Fernando if you are still having this problem though, please comment on it and we can reopen the discussion. Please make sure that you test with addons disabled.

[2019-05-02 22:09] #8199 closed

[2019-05-02 22:14] Adriani90 commented on #8187
cc: @feerrenrut, @leonardder

[2019-05-02 22:17] Adriani90 commented on #8172
@fernando-jose-silva are you still having this problem?
In the future if you see such issues which are not occuring everytime, you could firstly ask on the user list if someone else has this problem. You get much more feedback on that list and after you have an idea where it could come from, you can create an issue on Github with more details. This helps in turn to solve issues in a more efficient

[2019-05-02 22:19] Adriani90 commented on #8182
Closing.
@aefren please create individual issues for each problem. This makes it easier to follow the discussion. Thanks.

[2019-05-02 22:19] #8182 closed

[2019-05-02 22:23] Adriani90 commented on #8170
This is not reproducible in Firefox 66.0.3 and NVDA 2019.1.1. @fernando-jose-silva if you are still having this problem, please comment on it and we can reopen the discussion. I am closing this as works for me.

[2019-05-02 22:23] #8170 closed

[2019-05-02 22:25] Adriani90 commented on #8167
@jerryscherry were the suggestions mentioned above helpful for your purpose? Or do you need a different approach?
cc: @leonardder

[2019-05-02 22:27] Adriani90 commented on #8162
@jhomme are you still having this problem in NVDA 2019.1.1 and Windows 10 1809 Update?

[2019-05-03 00:04] iamrafan opened #9533 "NVDA announces pages opened in a new tab via a hyperlink as "document unknown""
### Steps to reproduce:

1. Open https://codepen.io/iamrafan/pen/GLVxXN?editors=1000#0 in chrome
2. Turn on NVDA
3. Navigate to Link-1 and activate it
4. Observe that the page opened is announced as "document unknown"

### Actual behavior:
New document opened as announced as "document unknown heading  level 1 . . ."

![image](https://user-images.githubusercontent.com/22068434/57113514-c63c2e00-6cf

[2019-05-03 03:43] jcsteh commented on #7801
There is almost certainly nothing that can be done here by either Firefox or NVDA. It sounds like this editor uses a custom output area, rather than using HTML contentEditable. contentEditable is currently the only way to make a web editor accessible. Similar problems exist with CodeMirror, for example. This needs to be fixed by Overleaf.

[2019-05-03 04:48] leonardder commented on #7178
For refference, @jcsteh just noted on Twitter that Zoom also suffers from this:

[2019-05-03 07:08] k-kolev1985 commented on #8093
@Adriani90 Yes, it is no longer reproducible with Skype UWP. But that is mainly due to changes in the app itself. Because I've managed to reproduce it someplace else - in the button to make a fast check for viruses in Windows Defender. I've gave Skype UWP as an easy to reproduce example, but apparently the issue is not restricted only to it.

[2019-05-03 07:31] DataTriny commented on #8187
Hi, I can reproduce the issue in NVDA 2019.1.1 on Windows 10 Education, version 1809. Note that this is not a WPF specific behavior as I got the exact same results inside a Windows Forms application.

[2019-05-03 07:44] DataTriny commented on #8187
I just realized that this is not even specific to .NET Framework UI controls since I get the same behavior on NVDA's GUI ComboBoxes like in the Synthesizer settings tab for example. Is this intensional?

[2019-05-03 07:54] Brian1Gaff commented on #9533
At the risk of being a little dim here, is this not a very strange thing to
do? When that page opens  it is in most browsers in an edit box. If nvda is
not running, then run all sorts of  conditions could be true.
 It might not create the buffer, it might be in either  edit or browse mode.
I've often noticed that a page can say unknown if its unsure of the focus or
where its supposed to be.
 How m

[2019-05-03 12:45] lenzls commented on #7910
Just wanted to know if something happened on that issue in the last year.

We were a bit surprised, that screenreaders apparently happily ignore the `maxlength` property.

At least some indication that you've reached the max length would be a start.

[2019-05-03 13:24] feerrenrut commented on #8033
The included version of Espeak is now `919f3240cbbb8060da550f0f9641e69b2975d9f4` which is an in development version of `1.49.3`. There are several other related issues that have been closed, so I think it is safe to close this one. @vgjh2005 if the problem is still ongoing in 2019.1.1 please let us know so we can look into it further.

[2019-05-03 13:24] #8033 closed

[2019-05-03 13:28] tibabit commented on #8020
I have not been able to work on it for quite some time.

[2019-05-03 13:56] alanfluff opened #9534 "Using aria-describedby to provide a long description of an img does not work (for my tests); why or should I not try and just use longdesc or aria-labelledby?"
I asked this [over here (5398)](https://github.com/nvaccess/nvda/issues/5398
), but it is a closed issue which means it won't be seen (?is that right?) - so referencing it here in a new issue.

I may be totally wrong and asking a Q on a closed issue is as valid as asking in a new open issue, in which case, apologies to mods and please feel free to delete this issue.

Thanks.

[2019-05-03 14:00] feerrenrut commented on #8067
I think this is expected behaviour. Just using down arrow will essentially read by line, as mentioned the maximum number of characters to read can be configured. `NVDA+down arrow` will say all.  This is described [in the user guide at section 5.3. Navigating with the System Caret](https://www.nvaccess.org/files/nvda/documentation/userGuide.html#SystemCaret)

I don't think there is any default navi

[2019-05-03 14:00] #8067 closed

[2019-05-03 14:03] feerrenrut commented on #7801
Thanks @jcsteh, in this case I'm going to close this as can't fix. We would be happy to work with overleaf to help them fix the issue.

[2019-05-03 14:03] #7801 closed

[2019-05-03 14:14] feerrenrut commented on #8187
It's worth questioning whether the extra verbosity of this outweighs the utility. Another option would be to announce the number of options in the combo box when first expanding it.

[2019-05-03 14:15] Adriani90 commented on #8067
The ctrl+arrow keys I think is not a Default binding in NVDA, however it moves paragraph by paragraph regardless if you run NVDA or not. It seems to be a Standard behavior in Windows.

[2019-05-03 14:15] Adriani90 commented on #8067
I mean ctrl+up and ctrl+down arrow

[2019-05-03 14:29] RD-Brown commented on #8007
Yes, the same behavior also exists when testing with JAWS.

[2019-05-03 15:14] fernando-jose-silva commented on #8172
All software has changed, using:
nvda alfa 17134
windows 10 1903 18362.86
I no longer received a lock.
Thank you.

[2019-05-03 16:25] Adriani90 commented on #8187
I don't know if this would impact performance, especially in combo boxes with many items. Would it be an alternative to implement an unassigned gesture for counting the items and reporting the position and total number of items on key press? At least from my point of view I don't really need this information if I know that items are in an alphabetical order or so. A sighted person does not have th

[2019-05-03 16:29] Neurrone commented on #9465
CC: @michaelDCurran @leonardder

This is still happening, as of the latest master build.

[2019-05-03 16:32] Adriani90 commented on #8007
cc: @feerrenrut do you think this is a NVDA bug? If not, I guess at least for consistency reasons we could report this to Chrome. Or maybe there is already a bug report  for this but I cannot find one.

[2019-05-03 16:33] Adriani90 commented on #8172
Closing as works for me.

[2019-05-03 16:33] #8172 closed

[2019-05-03 16:40] Adriani90 commented on #2053
@nikosdemetriou are you still having this problem in NVDA 2019.1.1?

[2019-05-03 16:42] Adriani90 commented on #2044
cc: @dineshkaushal

[2019-05-03 16:50] Adriani90 commented on #2169
We do not have an answer from the initial author since more than 5 years. I am closing this for now. But feel free to comment on it and we can reopen the discussion. Thanks!

[2019-05-03 16:50] #2169 closed

[2019-05-03 17:00] dkager commented on #9194
I can reproduce this. Something similar happens in Excel 2013, but I have yet to check if any errors are logged.

[2019-05-03 17:03] Adriani90 commented on #2166
I can reproduce this issue with NVDA 2019.1.1 and Process monitor 3.5. Practically it is not possible to interact with the application at all because NVDA is talking continuously and reports the cahnges in the list.
I think this issue is highly related to #4417

[2019-05-03 17:06] Adriani90 commented on #2158
I am closing this issue because we do not have any other reports on it.

[2019-05-03 17:06] #2158 closed

[2019-05-03 17:08] Adriani90 commented on #2157
@tspivey, just a reminder. Do you still have this problem in NVDA 2019.1.1?
cc: @nishimotz in case the author is not available, could you please test if this issue is still occuring? Thanks!

[2019-05-03 17:09] leonardder commented on #9465
cc @bramd: Is this something you're experiencing as well? I've also seen this.

[2019-05-03 17:13] Adriani90 commented on #2155
I am closing this as works for me. I cannot reproduce with romanian language either. I assume it is a translation issue. If you still have this problem, please comment on it and we can reopen the discussion. You might also try to contact the translator for your particular language and report this to him or her as well.

[2019-05-03 17:13] #2155 closed

[2019-05-03 17:19] DataTriny commented on #8187
It's true @Adriani90 I don't think this information is very useful either.
But, I think there is a problem when using only a Braille display: there is nothing to tell the user that he/she is at the beginning or the end of the list. When navigating with speech, you can deduce this because nothing is spoken when pressing up or down arrow.

[2019-05-03 17:27] LeonarddeR opened #9536 "When typing, always keep the raille cursor at the end of the line to show as much as the context possible"
Filed on behalf of a @babbagecom customer.

### Is your feature request related to a problem? Please describe.
When typing text and using braille, the braille display scrolls to a new line when the caret reaches the end of a raille display. While this makes sense, it requires you to scroll back if the caret just bounced to the start of the next Braille line.

### Describe the solution you'd like
R

[2019-05-03 17:40] Adriani90 commented on #2118
Testing with NVDA 2019.1.1 and Thunderbird 60.6.1, this issue is still reproducible. It seems you can select a i.e. link in browse mode with shift+arrow keys which is reported by NVDA. However, the context menu looks differently if you select the same link while you are in focus mode. In focus mode, NVDA does not report anything if you press shift+arrow keys to select the link. But When you press

[2019-05-03 17:42] Adriani90 commented on #2116
@mhussaincov I think you are also the initial author of this issue. Is this problem still occuring for you with NVDA 2019.1.1?

[2019-05-03 17:44] Adriani90 commented on #2464
We do not have any user reports on this one for a very long while. I am closing this. if you still have this problem, please comment on it and we can reopen the discussion. For me it works just fine with NVDA 2019.1.1 on Windows 8.1 and Sapi5 voices.

[2019-05-03 17:45] #2464 closed

[2019-05-03 17:47] Adriani90 commented on #2445
@brian1gaff this is just a reminder before closing this issue. Do you still see this problem? The newest versions of many applicatoins send their change status through windows notifications which is being reported by NVDA. Can you confirm?

[2019-05-03 17:59] Neurrone commented on #7934
Yup, errors are no longer happening for me. Closing.

[2019-05-03 17:59] #7934 closed

[2019-05-03 17:59] Adriani90 commented on #8187
I agree. There should be a patern which shows in braille the top or bottom of list (i.e. by showing a line of dashes for two seconds or so. If possible, for the top of list there would be a line of c (dots 14) and for the bottom a line of dots 78.

[2019-05-03 18:02] Adriani90 commented on #2429
Closing as duplicate of #8187. Even if the title seems to restrict that issue to wpf combo boxes, the issue is more general and the discussion will continue on that issue.

[2019-05-03 18:02] #2429 closed

[2019-05-03 18:04] Adriani90 commented on #2433
I am closing this in favor of #8187 where the discussion goes in more detail. The results of the discussion in that issue might lead to a general conclusion upon which we can open a new issue or feature request if needed.

[2019-05-03 18:04] #2433 closed

[2019-05-03 18:08] Adriani90 commented on #2395
Just to inform, this is still reproducible in NVDA 2019.1.1 on Windows 10 1809 Update.

[2019-05-03 18:11] Adriani90 commented on #2387
@mstopka, @josephsl I guess you are not using Windows 8 anymore, but if yes, could you see if this is still occuring in control pannel with NVDA 2019.1.1?

[2019-05-03 18:14] Adriani90 commented on #2334
We didn't get any answer from the initial author for more than 5 years and I guess this is not an issue in NVDA 2019.1.1. But if the problem still occurs though, please comment on it and we can reopen the discussion.
cc: @Qchristensen, @feerrenrut.

[2019-05-03 18:14] #2334 closed

[2019-05-03 18:20] Adriani90 commented on #2331
Please open an issue against the ocr addon itself rather than NVDA. With OCR on Windows 10 this is not occuring.
The OCR addon on github is here:
https://github.com/nvaccess/nvda-ocr
I am closing this for now.

[2019-05-03 18:20] #2331 closed

[2019-05-03 18:27] Adriani90 commented on #2320
I guess this will be partly solved in #8934.

[2019-05-03 18:31] lukaszgo1 commented on #2387
I can still partially reproduce it on Windows 8.1 that is when the list of updates gains focus the first update isn't reported. When arrow is pressed the next one is announced and after that it works normally.

[2019-05-03 18:33] Adriani90 commented on #2649
Just to inform, this is somehow solved when using UIA in MS Word. The bullet or number is reported when moving character by character. But when landing on the bullet, the character after the bulle is also reportd. For example following bullet:
1. Hello
Now ehn putting the carret on H and pressing left arrow, NVDA says "1H". Note this is only working in Word 2016 or 365 with UIA enabled.

[2019-05-03 18:38] Adriani90 commented on #2579
Pressing enter on an addon and installing it works also in a portable version, at least for me it works. I am not against this idea, I think there will be more discussions on this after carret and focus highlight is implemented by @leonardder.
cc: @nishimotz

[2019-05-03 18:45] Adriani90 commented on #2624
I am closing this in favor of #8389 because this issue is very general and occurs in several situations regardless of the application. The discussion in that issue goes further and will continue there.

[2019-05-03 18:45] #2624 closed

[2019-05-03 18:46] Adriani90 commented on #7175
I am closing this in favor of #8389 because this issue is very general and occurs in several situations regardless of the application. The discussion in that issue goes further and will continue there.

[2019-05-03 18:46] #7175 closed

[2019-05-03 18:53] Adriani90 commented on #4882
We didn't get any updates from the initial author if he tried our suggestions or not. I am closing this one for now given that the discussion continues on other issues more or less related to this like #8389. If you still have this problem after trying our suggestions, plese comment on this issue and we can reopen the discussion. Thanks!

[2019-05-03 18:54] #4882 closed

[2019-05-03 18:56] Adriani90 commented on #4260
I am closing this one for now. Please comment on it if you still have this problem and we can reopen the discussion. Thanks!

[2019-05-03 18:56] #4260 closed

[2019-05-03 18:57] Adriani90 commented on #4296
I am closing this in favor of #8389 because this issue is very general and occurs in several situations regardless of the application. The discussion in that issue goes further and will continue there.

[2019-05-03 18:57] #4296 closed

[2019-05-03 19:09] Adriani90 commented on #2547
I get an error in NVDA 2019.1.1:
[code]

NVDA says "configuration applied". However, the feature seems buggy, because I don't know which configuration NVDA applies in that moment. Suddenly the synth gets louder and some document formating settings are enabled although they were disabled before. Pressing an alt+tab brings my configuration back as it was before pressing nvda+ctrl+r twice.

[2019-05-03 19:12] Adriani90 commented on #2542
@Twinsen are you still having this pbroblem in NVDA 2019.1.1? Could you please run the com registration fixing tool in nvda menu / tools? Does this solve your issue?

[2019-05-03 19:30] Adriani90 commented on #2946
This is still reproducible with NVDA 2019.1.1 in Excel 2010. In Excel 2016 / 365 everything works correctly.
cc: @lukaszgo1, @leonardder

[2019-05-03 19:35] Adriani90 commented on #2911
We do not have an answer from the initial author for a very long time. If someone still has this problem in NVDA 2019.1.1 and the last version of DVD Ripper, please comment on it and we can reopen the discussion.

[2019-05-03 19:35] #2911 closed

[2019-05-03 19:38] Adriani90 commented on #2863
Ok we do not have any further updates from users since years, I am closing this one for now. Please comment on it if you are able to reproduce it with NVDA 2019.1.1 on Windows 8.1. Then we can reopen the discussion. Thanks.

[2019-05-03 19:38] #2863 closed

[2019-05-03 19:40] Adriani90 commented on #2883
We don't have an update from the initial author since many years. In Windows mail on  Windows 10 this works correctly with NVDA 2019.1.1. If you are still having this issue, please comment on it and we can reopen the discussion if needed.

[2019-05-03 19:40] #2883 closed

[2019-05-03 19:43] Adriani90 commented on #2874
cc: @ruifontes, @dkager could you please test if this is still reproducible? I tend to think that it is but I don't have a braille display at hand to test.

[2019-05-03 19:44] Adriani90 commented on #2826
We do not have any feedback from the initial author for a very long time. In Windows 10 with NVDA 2019.1.1 this is not occuring. So I am closing this for now. If you are still having this problem on Windows 8.1, please comment on it and we can reopen this discussion.

[2019-05-03 19:44] #2826 closed

[2019-05-03 19:48] Adriani90 commented on #3098
The focus tracking is not reliable in many cases. This is already covered in #8389. Closing this in favor of that issue because the discussion is more detailed in that issue.

[2019-05-03 19:48] #3098 closed

[2019-05-03 19:59] Adriani90 commented on #2998
@hand2mouth are you still having this problem with NVDA 2019.1.1?

[2019-05-03 22:28] Adriani90 commented on #7885
According to this forum it seems Discord managed to improve accessibility in their app. Probably not everything is working but it seems it is much better:
https://forum.audiogames.net/topic/28487/discord/page/2/

Thus, I am closing this issue. Let's track the progress on that forum or directly on Redit. Please open new issues for specific problems in Discord if you think they are related to NVDA.

[2019-05-03 22:28] #7885 closed

[2019-05-03 23:52] Adriani90 commented on #3158
Testing with NVDA 2019.1.1, Chrome 74, Firefox 66.0.3 and IE11, the behavior is exactly the same in all three browsers. When navigating in browse mode or focus mode, NVDA reports "button foo label". When pressing nvda+tab, NVDA reports "foo label button focused foo title".
I guess Jamie already answered the question raised in the issue description. As of now I think it is safe to close this as wor

[2019-05-03 23:52] #3158 closed

[2019-05-03 23:54] Adriani90 commented on #3227
We do not have an answer from the initial author since more than 5 years. As performance in MS Word is already covered in several issues, I am closing this one.

[2019-05-03 23:54] #3227 closed

[2019-05-04 00:01] Adriani90 commented on #3139
In Powerpoint 2010 on Windows 10 and NVDA alpha-17134,363af94b I do not get any errors anymore.

@k-kolev1985 do you have by chance Office 2010 on your machine and could test if you can reproduce this errors on Windows 8.1? Thanks very much!

[2019-05-04 00:21] Adriani90 commented on #3319
I am closing this issue since I guess the request is outdated and IE8 is not really supported anymore.

[2019-05-04 00:21] #3319 closed

[2019-05-04 01:06] Adriani90 commented on #3552
@xoxa2004 I am not able to reproduce this issue in NVDA 2019.1.1 and Chrome 74. Are you still having this problem?
cc: @Qchristensen

[2019-05-04 01:09] Adriani90 commented on #3520
Closing as works for me.

[2019-05-04 01:09] #3520 closed

[2019-05-04 01:16] Adriani90 commented on #3510
@lallerke1 are you still having this issue? It seems very specific. Did you try to run the com fixing registration tool in NVDA menu / tool and see if it is still occuring?

[2019-05-04 01:35] Adriani90 commented on #3708
@ruifontes could you please test if this is reproducible for you?

[2019-05-04 01:43] Adriani90 commented on #3602
In Powerpoint 2016 / 365 this is fixed. I am testing with NVDA 2019.1.1. I guess this is also the case for powerpoint 2013 since both rely on UIA as far as I know. I am closing as works for me.
@feerrenrut if you can reproduce this in powerpoint 2013, feel free to reopen it.

[2019-05-04 01:43] #3602 closed

[2019-05-04 01:46] Adriani90 commented on #3676
Closing in favor of #7759. Let's continue discussions on that issue.

[2019-05-04 01:46] #3676 closed

[2019-05-04 02:15] Adriani90 commented on #3619
The Mozilla bug is solved and the tree view works as expected in Thunderbird 60.6.1 with NVDA 2019.1.1. I am closint this as works for me.
cc: @bdorer, @novalis7747 if you find some time to test and if you still see this issue, please comment on it and we can reopen the discussion.

[2019-05-04 02:15] #3619 closed

[2019-05-04 02:35] Adriani90 commented on #3574
I have tested with NVDA 2019.1.1, this is still an issue.
cc: @ABuffEr, @Robert-J-H

[2019-05-04 02:39] Dan503 opened #9537 "Support <article> elements"
I am using the latest version of NVDA (2019.1.1).

It does not announce `<article>` elements when encountered or read their associated label.

`<article>` elements should basically be treated the same way as `<section>` elements except they are announced as "article" rather than "region".

[2019-05-04 02:54] Adriani90 commented on #3841
Testing with NVDA 2019.1.1 on Windows 10 calculator it works as follows:
1. Open calculator
2. Switch to scientific calculator with alt+2
3. Press ctrl+o for cos, ctrl+t for tan or ctrl+s for sin or shift+s for inverse sin.

Note that you must press every of the key strokes above twice in order to add the expression. It is properly reported by NVDA.

@k-kolev1985 could you please test on Windows 8

[2019-05-04 03:01] Adriani90 commented on #3797
The first example has only one grafic with a long description. the second one shows more grafics but there is no grafic with long description. I am testing with NVDA 2019.1.1 in Thunderbird 60.6.1. I cannot reproduce this issue in both examples. So I am closing this as works for me. There is no error triggered.

[2019-05-04 03:01] #3797 closed

[2019-05-04 03:12] Adriani90 commented on #3744
With NVDA 2019.1.1 in Firefox 66.0.3 and Chrome 74 I am not able to reproduce this issue. When selecting a row with space bar, NVDA reports the cell content and after that "selected" for that specific row. Other rows above or below the selected row are reported as unselected.

In IE11 NVDA even reports "selected" twice. One time before cell content and then after cell content.

I am closing this i

[2019-05-04 03:12] #3744 closed

[2019-05-04 03:17] Adriani90 commented on #3733
I will close this issue because we do not have an answer from the author since many years. iTunes has been updated and redesigned several times. If anyone still has problem in iTunes, please open new issues for individual problems. Thanks!

[2019-05-04 03:17] #3733 closed

[2019-05-04 03:26] Adriani90 commented on #3759
We do not have a confirmation from the author since more than 4 years. I am closing this as works for me. if someone has this problem please comment on this issue and we can reopen the discussion.

[2019-05-04 03:26] #3759 closed

[2019-05-04 03:32] Adriani90 commented on #3751
Ok I have managed now to open the document. There are symbols reported as "bracket" (i.e. there is one in the last formula in the word document). But we would need some expertise from a sighted person if that bracket is indeed an arrow symbol or if it is just a normal bracket.
Maybe @Qchristensen or @feerrenrut can help with this.

[2019-05-04 03:38] DrSooom commented on #9532
eSpeak NG 1.49.2 is part of NVDA since 2017.4. eSpeak NG 1.49.3 seems to be still in development based on the [changelog](https://github.com/espeak-ng/espeak-ng/blob/master/CHANGELOG.md) (master branch).
@hozosch: Please update/specify the issue title. Thanks.

[2019-05-04 03:41] Adriani90 commented on #7835
Closing as duplicate of #9227. That request has a more detailed description and is in line with the feature template, providing alternatives and examples. That's why I am closing this one.

[2019-05-04 03:41] #7835 closed

[2019-05-04 03:45] Adriani90 commented on #9537
This is highly related to #9227 and is implicitly part of that issue. So let's continue the discussion in #9227. Thanks. I am closing this for now.

[2019-05-04 03:45] #9537 closed

[2019-05-04 03:56] Dan503 commented on #9227
As a quick solution to many of the problems around the `<article>` element, I'd suggest simply treating `<article>` the exact same way as how `<section>` is treated except announce it as "article" rather than "region".

At the moment NVDA treats `<article>` the same way that it treats `<div>` which is a major accessibility issue. This should be fixed as soon as possible.

Refinements around what c

[2019-05-04 04:01] DrSooom commented on #9536
Yes, but as an option. If the text on a braille displayed is scrolling/updating during typing with 400 hits/Min., the braille display will make quite a lot of unwanted noise. (I really, really hate this when I'm typing within a line too add something.)
Furthermore you also have to think about word wrapping. Should it be okay if only a part of a word is displayed on the left side on the braille dis

[2019-05-04 04:10] fisher729 commented on #9530
Hi.

Confirmed, but also confirmed with Narrator! However, with JAWS 2019, it behaves as you would like it to behave. Therefore, I do wonder if this is a bug or feature. I'm leaning towards bug, as it is indeed expected that a number would still be entered, seeing as though the number lock is turned on.

[2019-05-04 04:14] josephsl commented on #9227
Hi,

May we get an evidence or two (links to example websites, specs, etc.) supporting this idea please? That way we can ask people to review that while others are working on Python 3 transition and other work.

CC @JCSTeh if he has anything for us to think about.

Thanks.

[2019-05-04 04:15] fisher729 commented on #9525
Hi.

Have you tried to find out if the SAPI5 synthesizer work with any other applications, such as Narrator, perhaps?

[2019-05-04 04:24] fisher729 commented on #9514
Yes, @DrSooom, it should be able to be installed without any issues, if NVDA is running, despite running a portable copy. This is unless NVDA is not installed on that system. Any further ideas

[2019-05-04 04:28] Dan503 commented on #9227
Hi @josephsl,

`<article>` is one of the four "sectioning content" elements `<article>`, `<aside>`, `<nav>`, `<section>`
https://www.w3.org/TR/html5/dom.html#sectioning-content

These elements are all very similar to one another.

- They are all aria land marks that people should be able to navigate to when navigating via landmarks.
- They all affect the document outline algorithm (If it was ever

[2019-05-04 07:26] k-kolev1985 commented on #3841
When I Press keystrokes like Control+O, Control+S, etc. in the scientific view of the windows 8.1 calculator, NVDA reports only the digital result. It does not report the text above the result in the calculator's display.

[2019-05-04 10:04] ctoth opened #9538 "Preprocess ligatures before sending to the synthesizer"
### Is your feature request related to a problem? Please describe.

In the Chrome PDF reader, and other applications which display PDF content or content pasted from a PDF, ligatures are passed through to the synthesizer as Unicode characters.
This often results in artifacts such as the characters 'fi' being skipped when reading.

### Describe the solution you'd like

We should create a mapping of

[2019-05-04 10:12] bramd commented on #9465
Yes, I've seen this multiple times. It's one of the major reasons that I disabled UIA in Word for now. Unfortunately, I've no idea how to start debugging this or provide useful feedback.

[2019-05-04 10:42] ctoth opened #9539 "Rapid integration of multiple infrastructure changes may cause user-facing instability and decrease confidence"
I am raising an issue which may have been already discussed, feel free to discard.

Looking at recent development it looks like both Python 3 and the large work on speech refactor will be landing pretty close together, potentially on the same release.
I absolutely understand wanting to perform all possible breaking changes concurrently, so staggering these temporally is not optimal.

With that con

[2019-05-04 10:44] josephsl commented on #9539
Hi, I second this motion. I will do the same for the add-ons community once Project Threshold officially kicks in. Thanks.

From: Christopher Toth <notifications@github.com>
Sent: Saturday, May 4, 2019 3:42 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Rapid integration of multiple infrastructure changes may cause user-facing

[2019-05-04 10:56] leonardder commented on #9539
I also agree that we need to test carefully. There are some things pretty hard to test, for example, braille display drivers that are in core but not used very widely, appModules for some pretty old apps. Some appModules and drivers might even perish during the process.

Note however that project threshold will be hosted in a stand alone branch. This means that the Python 2 based code base of NVDA

[2019-05-04 14:18] Adriani90 commented on #3841
Hmm strange. For me on Windows 10 NVDA reports what I have added to the function (i.e. cosinus hyperbolic function). Pressing enter after that NVDA reports the result of the function.
For example:
1. Open the calculator
2. Press alt+2
3. Type 2+4 and press enter (you will hear the result which is = 6)
4. Press ctrl+o twice to put 6 in a double cosinus function (you will hear "the display shows hyp

[2019-05-04 15:01] k-kolev1985 commented on #3841
1. Which calculator in Windows 8.1? The last time I tested with the "modern" one. Is that the one, or you mean the desktop/classic one? Now I've tested with both.
2. In the modern calculator, Alt+2 seams not to work - I had to activate the "Scientific" mode manually by activating its tab.
3. Here NVDA reports the calculation result as it should.
4. When pressing Control+O twice, the calculators re

[2019-05-04 15:01] Adriani90 commented on #3959
DAL (data access layer) seems to be used for several dialogs in Office to group different data. But I have no idea why we get this information over the API.
Since this is not happening everytime when we press tab, it does not really impact user experience. Moreover, we do not have exact steps to reproduce so it will be quite hard to reproduce. Feel free to report this to Microsoft, they are at the

[2019-05-04 15:01] #3959 closed

[2019-05-04 15:04] Adriani90 commented on #3943
We do not have any updates from the author since 5 years or so. I am closing this as works for me. Please comment on it if you are still having this problem and we can reopen the discussion.

[2019-05-04 15:04] #3943 closed

[2019-05-04 15:40] Adriani90 commented on #3887
I am testing with NVDA 2019.1.1 and Lingobit 9.0. The application seems to be quite inaccessible. Apart from some dialogs the interface is not really usable with NVDA. Is it possible to implement the class referenced in the description to make it somehow accessible? There are many companies and independent translators using this software professionally, especially in Germany.
cc: @feerrenrut, @mic

[2019-05-04 15:49] Adriani90 commented on #3924
We do not have an update if this is a significant issue for the initial author. We also don't have other user reports which reveal any negative impact on user experience. I am closing this issue but feel free to comment on it if it is significant. We can reopen the discussion then.

[2019-05-04 15:49] #3924 closed

[2019-05-04 15:55] TommasoNonis90 commented on #7794
Hello all,
I would like to bring your attention to this issue as this is really a deal braker for me, as I have to frequently work with html emails that contain  multiple layers of layout tables, often nested into each other. These tables are only for responsiveness purposes, and have no data whatsoever. They are used by newsletter template writers to make the content auto-scale when it is viewed

[2019-05-04 16:00] Adriani90 commented on #4033
cc: @josephsl

[2019-05-04 16:16] Adriani90 commented on #4270
Actually, this can be by partly solved by adjusting the characters per line (in this case 40 would split the name and the email address in two lines). But this is not a long term solution unless profiles in NVDA can be created for specific websites.

[2019-05-04 16:16] josephsl commented on #4033
Hi, actually, I recommend copying Derek and Mick on this one.

 ----- Original Message -----
From: Adriani90 <notifications@github.com
To: nvaccess/nvda <nvda@noreply.github.com
Date sent: Sat, 04 May 2019 09:00:43 -0700
Subject: Re: [nvaccess/nvda] Simplified error reporting (#4033)

cc: @josephsl

--
You are receiving this because you were mentioned.
Reply to this email directly or view it on Gi

[2019-05-04 16:18] Adriani90 commented on #4033
Hey, Derek is already on there. He posted a description for the crash hero two comments above which should be updated on the addons website but I don’t have rights for doing this and I also don’t know how to do it yet. I thought maybe you could do it. Thanks.

Von: Joseph Lee <notifications@github.com>
Gesendet: Samstag, 4. Mai 2019 18:16
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <

[2019-05-04 16:19] Adriani90 commented on #4196
We do not have any updates from the initial author since more than 5 years. Please open new issues for specific problems in this music production software and we can continue discussions on those issues. Thanks. I am closing this for now.

[2019-05-04 16:19] #4196 closed

[2019-05-04 16:28] Adriani90 commented on #4224
I cannot reproduce this issue with NVDA alpha-17134,363af94b and Excel 2010 or 2016 / 365. I am closing this as works for me. If you are still having this problem, please comment on it and we can reopen the discussion.

[2019-05-04 16:28] #4224 closed

[2019-05-04 16:29] leonardder opened #9540 "UIA in Word: When document ends with a heading, the heading is duplicated in quick nav"
### Steps to reproduce:
1. Open MS Word
2. Create a single line and make it a heading with ctrl+alt+1/3
3. Enable browse mode
4. Press H multiple times.

### Actual behavior:
NVDA keeps reporting the heading. When opening the elements list, NVDA shows the heading twice.

### Expected behavior:
NVDA reports "no next heading". Only one heading is shown in the elements list.

### System configuration

[2019-05-04 16:30] leonardder commented on #9538
Would you be able to provide an example PDF document where this happens?

[2019-05-04 16:32] leonardder commented on #9534
I could be wrong, but it looks like the issue description is missing your actual question.

[2019-05-04 16:32] Adriani90 commented on #4207
@lukaszgo1 thee were some changes for Excel 2007 in last alpha regarding formulas and regarding performance. Could you please test with last alpha if this is still an issue? I cannot reproduce it anymore in Office 2010 or higher. That PR might have had an effect on this.

[2019-05-04 16:35] lukaszgo1 commented on #4207
Still reproducible. The PR mentioned by you had nothing to do with it.

[2019-05-04 16:35] leonardder commented on #9514
[**@DrSooom**](https://github.com/DrSooom) commented on [23 Apr 2019, 18:04 CEST](https://github.com/nvaccess/nvda/issues/9514#issuecomment-485868550 "2019-04-23T16:04:28Z - Replied by Github Reply Comments"):

This is incorrect. Whenever the NVDA installation process starts after opening a nvda-addon file, it will be installed in the running version.

@CyrilleB79: Which add-on are you using that

[2019-05-04 16:49] Adriani90 commented on #9153
@binayatdelhi I think I can reproduce this issue in Chrome 74 or any other browser. The aria-describedby atribute is reported for me only when I press nvda+tab which reports the focused element. The aria-describedby is not reported when tabbing or arrowing in this case. This behavior does not depend on mouse tracking on or off. I get the same results.
@jcsteh is this caused by the span hidden ID m

[2019-05-04 16:52] Adriani90 commented on #8848
@RichCaloggero could you please upload a test case?

[2019-05-04 17:15] Adriani90 commented on #6724
Closing as works for me, see also #5833.

[2019-05-04 17:15] #6724 closed

[2019-05-04 17:16] Adriani90 commented on #6058
Might also be Related to #5833

[2019-05-04 17:23] Adriani90 commented on #4162
Testing with NVDA 2019.1.1, This is reproducible only in IE11.
I am closing this in favor of #5833.

[2019-05-04 17:23] #4162 closed

[2019-05-04 17:26] Adriani90 commented on #3281
Aria hidden=true is covered in #5833

[2019-05-04 17:34] Adriani90 commented on #5448
This is not reproducible in NVDA alpha-17134,363af94b and Firefox 66.0.3 anymore. Closing as works for me.

[2019-05-04 17:34] #5448 closed

[2019-05-04 21:35] TommasoNonis90 commented on #7794
I'd also like to point out that, if UI automation is disengaged, the layout tables are not actually spoken, but all cells are navigated when pressing down arrow, resulting in many many blank lines. With UI automation on for word, all hese html layout tables (often with only one row and one column) are announced.

[2019-05-05 00:18] DrSooom commented on #9514
@leonardder: Thanks for the correction. I haven't tested that specific situation.

[2019-05-05 09:24] Brian1Gaff commented on #9539
Well as the resident ludite around here, I'm happy to test Outlook Express
and maybe some older versions of Office etc, if I'm poked accordingly.

 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "n

[2019-05-05 09:29] Brian1Gaff commented on #9540
Is this the same issue that sometimes results in the line above being read a
couple of times when you press enter to get a new line in older versions of
Word. Its not too annoying but it sounds like slow removal of what nvda has
buffered.

 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name fie

[2019-05-05 10:57] Adriani90 commented on #9539
I agree we should stay with two parallel master branches, python 2 and python 3. If someone wants to change to python 3, they can do that. If not, they can still stay to python 2 for a while. But in any case we must inform the community widely that testing under python 3 is very importnat because one day the python 2 branch will not exist anymore. Then, also people using older braille displays or

[2019-05-05 12:17] zstanecic commented on #9539
I as a croatian translator can help with this...

From: Adriani90 <notifications@github.com>
Sent: Sunday, May 5, 2019 12:57 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Rapid integration of multiple infrastructure changes may cause user-facing instability and decrease confidence (#9539)

I agree we should stay with two

[2019-05-05 15:38] Adriani90 commented on #4328
This is not reproducible in NVDA 2019.1.1 and Firefox 66.0.3 or Chrome 74. In IE, focus mode is often not automatically enabled when system focus changes. But it is properly working if system cursor changes. So if you enable both checkboxes in NVDA menu / browse mode settings, everything works well also in IE. I am closing this as works for me. Please comment on it if it is still an issue for you

[2019-05-05 15:38] #4328 closed

[2019-05-05 15:51] Adriani90 commented on #4271
I cannot reproduce this issue either with NVDA 2019.1.1. I am closing as works for me, given also that we didn't hear anything from Bhavya. I you are still having this problem, please comment on it and we can reopen the discussion. Thanks!

[2019-05-05 15:51] #4271 closed

[2019-05-05 15:56] Adriani90 commented on #4333
I tested with NVDA 2019.1.1 in Firefox 66.0.3 and Chrome 74, this issue is still reproducible.
cc: @jcsteh

[2019-05-05 16:03] Adriani90 commented on #4518
This is still reproducible in NVDA 2019.1.1 and IE11.

[2019-05-05 16:22] Adriani90 commented on #4479
As far as I am understanding, this issue seems to occur only on Windows 7. Or maybe also Windows 8. Is any one still on Win7 and could try to reproduce this issue in Powerpoint 2013?
cc: @k-kolev1985, @lukaszgo1, @pranavlal, @novalis7747.

[2019-05-05 16:28] Adriani90 commented on #4386
cc: @jcsteh, @MarcoZehe

[2019-05-05 16:46] Adriani90 commented on #4624
I am closing this as won't fix. Sighted people are also not seeing the letters on the screen in proper password fields and in an corporate environment whis feature would raise serious security questions. There is an addon for who ever wants to have this feature though.
If you have other arguments, please comment on it and we could reopen the discussion if needed.

[2019-05-05 16:46] #4624 closed

[2019-05-05 17:02] Adriani90 commented on #4611
cc: @Robert-J-H, @ABuffEr

[2019-05-05 17:06] Adriani90 commented on #4596
This is still reproucible also in Office 2016 / 365.
@michaelDCurran this issue is solved when using UIA in MS Word, the alt text is even reported twice.

[2019-05-05 17:12] Adriani90 commented on #4557
I am closing this one as works for me, given the response above which states that the crash is not reproducible in NetBeans 10. For individual problems or questions regarding NetBeans, please create new issues. Thanks.

[2019-05-05 17:12] #4557 closed

[2019-05-05 17:23] Adriani90 commented on #4535
I am testing in NVDA 2019.1.1 and Textpad 8.1. The issue is still reproducible. Text selections are not reported at all.

cc: @leonardder this seems to be yet another display model case.

[2019-05-05 17:26] Adriani90 commented on #4768
We do not have any updates from Avira users since more than three years. I am closing this for now, given the fact that the interface changed significantly in the last years. If you still have problems with the last version, please comment and we can reopen the discussion. Thanks.

[2019-05-05 17:26] #4768 closed

[2019-05-05 17:34] Adriani90 commented on #9082
@fernando-jose-silva are you having this problem also when disabling all addons?

[2019-05-05 17:40] Adriani90 commented on #4755
I am testing with NVDA 2019.1.1 and IE11 on this website with One core voices, eloquence and eSpeak:
http://www.msn.com/de-de/?cobrand=dell17win10.msn.com&ocid=DELLDHP17&pc=DCTE
I do not see any difference after 5 minutes of say all with every voice. I guess this could have been caused by a notification or an allert which appeared. NVDA is interupted from say all when reading the notification or t

[2019-05-05 17:40] #4755 closed

[2019-05-05 17:41] Adriani90 commented on #4747
Closing due to missing updates.

[2019-05-05 17:41] #4747 closed

[2019-05-05 17:43] Adriani90 commented on #4721
The skype interface changed significantly since this issue has been reported. Please open a new issue with steps to reproduce according to the new interface. Thanks.

[2019-05-05 17:43] #4721 closed

[2019-05-05 17:49] TommasoNonis90 opened #9541 "NVDA reports nested layout tables when reading HTML message in Outlook"
### Steps to reproduce:
- Open Outlook 2016 / 365
- Open any HTML based newsletter

### Actual behavior:
NVDA speaks 'all tables, most consisting of 1 row and 1 column, exclusively used for layout / responsiveness purposes. In other email clients such as thunderbird, where it uses its virtual buffer to display HTML emails, everything works seamlessly.

### Expected behavior:
NVDA should act as sim

[2019-05-05 17:51] Adriani90 commented on #4698
The author is not available on Github anymore and we don't have any other user reports since more than three years regarding to this software. Closing due to missing updates.

[2019-05-05 17:51] #4698 closed

[2019-05-05 18:02] Adriani90 commented on #4677
Testing with NVDA 2019.1.1 and MS Word 2010, when tabbing to the edit field for formating the numbering symbols, I get following error and navigation through the field is not possible at all:

[code]

@lukaszgo1 could the approach you used to solve the find dialog in Excel also work for this one?
cc: @leonardder I guess this is another display model implementation case. Right?

[2019-05-05 18:06] Adriani90 commented on #4669
We do not have updated from almost three years on this issue. I am closing it for now. If you have time to test if this is still reproducible, please comment on it and we can reopen the discussion. Thanks!.

[2019-05-05 18:11] lukaszgo1 commented on #4677
It isn't related to display mode at all. The error from your log looks very similar to #9250

[2019-05-05 18:13] Adriani90 commented on #4817
We do not have other reports from users since many years. And I cannot reproduce this issue in NVDA 2019.1.1. Closing as works for me.

[2019-05-05 18:13] #4817 closed

[2019-05-05 18:21] Adriani90 commented on #4831
Since this seems to be an issue with the object navigation in general, I am closing this in favor of #7759 and other issues which cover object navigation. I think more probably there will be changes to the object navigation as such in the future rather than covering such specific software like VM Ware or Adobe audition. Object navigation needs a refactoring itself. Covering all applications which

[2019-05-05 18:21] #4831 closed

[2019-05-05 18:24] Adriani90 commented on #4866
I am closing this issue since there was no discussion on this issue since more than three years. If the problem still occurs, please comment on it and we can reopen.

[2019-05-05 18:24] #4866 closed

[2019-05-05 18:26] lukaszgo1 commented on #4479
I will try on one of my tests partitions during the next weekend. This issue was main reason to switch back to Office 2010 for me, because ad least on my machine this was occurring also when closing MS Word.

[2019-05-05 18:29] Adriani90 commented on #4854
I am not reproducing this issue with NVDA 2019.1.1, Word 2010 and Word 2016 / 365. Closing as works for me.
@MarcoZehe if you are still having this problem, please feel free to comment on it and we can reopen the discussion. Thanks.

[2019-05-05 18:29] #4854 closed

[2019-05-05 18:31] Adriani90 commented on #4853
I guess this could also occur if the document is protected. When you open the document, hit f6 and then tab to enable editing. For me I cannot reproduce this issue with NVDA 2019.1.1, word 2010 and Word 2016 / 365. I have tested with protected and unprotected documents.
If you are still having this problem plese comment on it and we can reopen the discussion.

[2019-05-05 18:31] #4853 closed

[2019-05-05 18:33] Adriani90 commented on #4804
The interface of Avira changed significantly during last years. Please open a new issue with steps to reproduce according to the new interface. Thanks.

[2019-05-05 18:33] #4804 closed

[2019-05-05 18:36] Adriani90 commented on #4827
We do not have an update from the author since more than three years. I am closing this for now. I am not able to reproduce it with NVDA 2019.1.1.
If you are still having this problem, plese comment on it and we can reopen the issue.

[2019-05-05 18:36] #4827 closed

[2019-05-05 18:37] Adriani90 commented on #4822
@feerrenrut could you please test if this is still reproducible in Word 2013? Thanks.

[2019-05-05 21:08] fernando-jose-silva commented on #9082
By my tests the culprit is the dropbox, which is stealing the focus.
The problem has not been solved because the dropbox continues with this behavior, however the problem is not of nvda and can be closed.

[2019-05-05 21:20] tspivey commented on #4669
[Here is a test case](https://jsbin.com/fogocej/edit?html,output). Wait 10 seconds or so and be prepared for your machine to become unusable. Tested with OneCore, Firefox and Chrome.

[2019-05-05 22:00] Adriani90 commented on #4669
Reopening.

@feerrenrut would a p2 be reasonable for this?

[2019-05-05 23:39] pranavlal commented on #4479
I can't because I am no longer on windows 7 though I do have PowerPoint 2013.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Sunday, May 05, 2019 9:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA Crashes in PowerPoint (#4479)

As far as I am understanding, th

[2019-05-06 00:04] ehollig commented on #9082
@fernando-jose-silva thank you for reporting back. Closing

[2019-05-06 00:04] #9082 closed

[2019-05-06 00:35] josephsl commented on #9067
Hi,

In the end, native methods will be used with config manager untouched.

Thanks.

[2019-05-06 01:29] josephsl commented on #9078
Hi,

Update: I'm going with native mode (editing the title accordingly).

Thanks.

[2019-05-06 05:11] nikosdemetriou commented on #2053
Hi.
Thanks for contacting me.
I downloaded the latest version of jarte and it seams to work fine now.
I don't know when this issue was fixed exactly, because I contacted the jarte developer and he said that unicode languages were not supported in jarte and that he didn't have any plans of supporting them.
After his response I forgot about jarte and I didn't use it since then.
But I am glad to see

[2019-05-06 08:03] Adriani90 commented on #2053
Thanks, that sounds good. Closing as works for me.

[2019-05-06 08:03] #2053 closed

[2019-05-06 09:44] feerrenrut commented on #8187
@Adriani90 @DataTriny That's true, but would be better to be discussed on a separate issue so as not to derail this one. I'm going to mark these comments as off-topic, please could one of you create a separate issue for Braille users to have a better indication of the start or end of a combo box? Thanks!

[2019-05-06 11:08] feerrenrut commented on #3751
I can reproduce this in NVDA 2019.1.1 the arrow symbol is announced as "paren"

The symbol used in this document does not seem to be commonly used, or a well known symbol. The best I could find quickly was that this has unicode `U+F0E8`. In this case I recommend setting up a speech dictionary to pronounce that symbol correctly.

Because this is not a well known symbol, I don't think there is anyth

[2019-05-06 11:08] #3751 closed

[2019-05-06 11:11] feerrenrut commented on #3887
The bast pathway forward is to contact the developers of Lingobit, we would be happy to work with them to try to improve the accessibility of their software.

[2019-05-06 11:20] ProvodIII commented on #4117
Hi! I`m Twinsen! I can`t login on this web site using my :Twinsen: login. I can not restore my forget password.  You web pagw don`t send me message on my email adress (Twinsen@live.ru). I don`t remember what  you web page tell me when I try restore my forget password.  We (I`m and My frend) add new user named :ProvodIII: with same (old) e-mail adress (Twinsen@live.ru). But it is not important. Ple

[2019-05-06 11:24] feerrenrut commented on #4822
Yes, I can still reproduce it.

If I create a document, and choose "Protect Document" then "Encrypt with password".

When trying to reopen this document I am presented with a dialog, NVDA only announces "pane unknown".
After trying to use object navigation to get more information NVDA froze / crashed.

[2019-05-06 11:25] feerrenrut commented on #4669
Yes, I have added the p2 label.

[2019-05-06 12:36] alanfluff commented on #9534
Thanks @leonardder (duh, what am I like)

[2019-05-06 13:27] DataTriny opened #9542 "Indicate start/end of ComboBox item list for Braille users"
### Is your feature request related to a problem? Please describe.

Following the discussion on #8187 regarding what to display for items in a ComboBox, most of us think that the actual position of an item as well as the total count of items present in the list are more verbose than useful.
Using speech: when navigating with arrows inside the list, nothing is spoken when the user reach the start o

[2019-05-06 13:29] #9056 closed

[2019-05-06 15:31] alanfluff commented on #9192
+1 same [here (9534)](https://github.com/nvaccess/nvda/issues/9534).

`aria-labelledby` seems to work, though for IE it seems the ID of the container with the description needs `tabindex="-1"`; but it works, where `aria-describedby` seems to stubbornly fail.

[2019-05-06 16:24] tech55541 commented on #7867
Hello,

It just happened again. Here's the full log. It seems it can't find anything to focus on after exit.

`INFO - __main__ (12:14:46.673):
Starting NVDA
INFO - core.main (12:14:46.835):
Config dir: C:\Users\dell\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (12:14:46.835):
Loading config: C:\Users\dell\AppData\Roaming\nvda\nvda.ini
INFO - core.main (12:14:46.914):
NVDA version 2

[2019-05-06 16:30] scottseeker commented on #7841
it seems to be that name and aria-label are both read, either that or the place holder text is being read along with the aria-label.

[2019-05-06 16:47] Adriani90 commented on #7867
Unfortunately the log you provided has very unstructured information and we do not exactly know when occurs what. Could you please do following?

1. Got to the NVDA setting
2. In general settings, tab to logging and choose "debug"
3. Press ok and restart NVDA
4. Try to reproduce the issue and after that press NVDA+f1 if possible.
5. Save the file as .txt file and upload it to this issue

[2019-05-06 16:55] Adriani90 commented on #7867
If the steps above are not working, please do following:
1. Set logging to debug as described in steps 1 to 3 above
2. Reproduce the issue
3. Press windows+r and type %temp%
4. You should find a file called "nvda-old.log"
5. Save it as .txt and upload it to this issue.
6. In %temp% there should also be a file called "nvda_crash.dmp"
7. Upload that file to this issue as well.

In this way we could

[2019-05-06 17:07] Adriani90 commented on #8101
@hansgrimm is this meanwhile working in NVDA 2019.1.1? The link in the description says "page not found". Do you have a minimal test case where we can reproduce this issue?

[2019-05-06 17:11] Adriani90 commented on #8093
Thanks for reporting back. Maybe if you have time, and you come accross this issue in an app, please post steps to reproduce to be able to track this issue. Without any test case it will be quite hard to solve this.
Can the issue in Windows defender be reproduce reliably, Or is it occuring only in certain cases?

[2019-05-06 17:13] Adriani90 commented on #8153
@lallerke1 are you still having this issue in Libre office 6.2.2?

[2019-05-06 17:18] Adriani90 commented on #8150
Closing as duplicate of #8861

[2019-05-06 17:18] #8150 closed

[2019-05-06 17:19] Adriani90 commented on #8861
@pitermach are you still having this issue in NVDA 2019.1.1? For me it does not trigger any error. In Which browser are you using google docs?

[2019-05-06 17:21] Adriani90 commented on #8136
This is still reproducible in NVDA 2019.1.1.
cc: @leonardder, @derekriemer

[2019-05-06 17:32] Adriani90 commented on #8112
Closing as duplicate of #8211. The errors in the logs suggest quite the same.

[2019-05-06 17:32] #8112 closed

[2019-05-06 17:34] Adriani90 commented on #8209
@k-kolev1985 the PR above has been merged some versions ago. Are you still having this issue?

[2019-05-06 17:37] Robert-J-H commented on #4611
For 64 bit, the mapping function is not implemented. I've consulted the UIA source code. They are essentially traversing the children, almost the same as we do.
However, the procedure is highly inefficient.
for each focus change (e.g. arrowing around), the position under the parent is being enumerated and likewise the total number of children (similar items in group).
There are possible solutions

[2019-05-06 17:39] k-kolev1985 commented on #8209
@Adriani90 No, the problem has been fixed, so I'm closing the issue.

[2019-05-06 17:39] #8209 closed

[2019-05-06 17:51] Adriani90 commented on #8206
In most languages the greek name seems to be pronounced correctly. Only with following languages NVDA pronounces the word letter by letter:
English (all variants), bosnian, africans, serbian, macedonian, lituanian, vietnamese and kroatian. All other languages work correctly. i think this is an issue in eSpeak and should be reported on this repository for eSpeak:

https://github.com/espeak-ng/espea

[2019-05-06 17:51] #8206 closed

[2019-05-06 17:53] k-kolev1985 commented on #8093
@Adriani90 I've updated the main comment/report on the top to reflect the new test case with Windows Security/Protection.

P.S.: I'm not sure if it is "Windows Security" or "Windows Protection" in english, because my main system is in bulgarian and right now I'm too lazy (it is late evening here) to power on the virtual machine which is in english to check it out. sorry...

[2019-05-06 17:59] Adriani90 commented on #8197
cc: @leonardder

[2019-05-06 18:01] #9311 closed

[2019-05-06 18:05] Adriani90 commented on #8189
Hey @josephsl this should be solved now meanwhile in Windows 10 with NVDA 2019.1.1. Or am I wrong?

[2019-05-06 18:08] josephsl commented on #8189
Hi, resolved in 2018.  Thanks, go ahead and close this.

 ----- Original Message -----
From: Adriani90 <notifications@github.com
To: nvaccess/nvda <nvda@noreply.github.com
Date sent: Mon, 06 May 2019 11:05:28 -0700
Subject: Re: [nvaccess/nvda] Windows 10 Version 1803: support
hardwarekeyboard suggestion announcement (#8189)

Hey @josephsl this should be solved now meanwhile in Windows 10
with NVDA

[2019-05-06 18:10] Adriani90 commented on #8179
@Robert-J-H is this maybe a duplicate of #4611?

[2019-05-06 18:12] Adriani90 commented on #8189
Thanks Joseph! Closing as works for me.

[2019-05-06 18:12] #8189 closed

[2019-05-06 18:27] Adriani90 commented on #8171
@feerrenrut this issue is still reproducible as follows in Cghrome 74 and Firefox 66.0.3 with NVDA 2019.1.1:
1. Open the browser
2. Go to NV Access website and open the link "donate"
3. Choose an amount
4. Choose "donate with a card"
5. Press c to go to the country combo box
6. Press enter
7. Press down arrow one or two times without expanding the combo box

Actual: the item is directly fired and

[2019-05-06 18:29] arodenbeck commented on #7836
@Adriani90 I tested this as well with NVDA 2019.1.1 and am still seeing the issue. I have more information about what is causing the problem now, and have created a Salesforce login to demonstrate the issue.
The problem seems to be with menus which only expand, and do not focus the first menu item. The example from Google had one menu which focused the first item, and one that did not. On the vers

[2019-05-06 18:35] Adriani90 commented on #8265
@jcoffin1 are you still having this issue in last NVDA versions? I was not able to reproduce it with Beta, Alpha or ful releases in the last time.

[2019-05-06 18:38] akarelas commented on #8206
Ok, I'll make a note to do that this weekend.

[2019-05-06 18:38] Adriani90 commented on #8262
hey @Brian1Gaff this was possibly caused by an addon which tried to introduce Python 3 compatibility. Are you still seeing this issue in NVDA 2019.1.1 and Firefox 66.0.3?

[2019-05-06 18:53] Adriani90 commented on #7836
@arodenbeck I am reopenning this issue. Thank you very much for this test case and for the elaboration. Now I can reproduce it but only in Google Chrome 74. In Firefox it seems to work as expected.
cc: @derekriemer

[2019-05-06 19:25] hansgrimm commented on #8101
I am no longer working on this project, so I do not know the current status. The URL no longer works because the site has moved, that much I do know ;)

I will refer this question to my former teammates. Thanks for your help!

[2019-05-06 21:03] mpreyskurantov commented on #6283
Yes, this issue is still actual. Having this option would be a good addition for NVDA functionality when operating a slider / trackbar UI element.

[2019-05-07 02:06] dnz3d4c commented on #9486
I think this is an issue in Liblouis, and I can not reproduce the issue in 2019.2, so I will close this issue.

[2019-05-07 03:07] DrSooom commented on #9542
Just a few keywords:
1. Displayed content for a reduced combobox.
2. Displayed content for an extended combobox, ALT+DownArrow was pressed before.
3. Comparing behavior with the comboboxes in Firefox/Chrome focus mode to native GUI comboboxes. Should they be equal?
4. Different behaviors depending on "Report object position information" is enabled/disabled.

Adding ⠉ (first item), ⠒ (all other ite

[2019-05-07 06:05] Robert-J-H commented on #8179
@Adriani90
Yes, but the issue I was referring to there is #7041.
It is all describing the same thing.
Let's make a summary bug for all position related issues.
Other things that come to my mind spontaneously:
[] wrong number of elements in "Taskbar/Running Applications"
[] wrong number of elements in lists with checkboxes (header is being counted).
[] Wrong number of tabs for some application (e.g

[2019-05-07 07:53] Brian1Gaff commented on #8262
I'm on a later version of Firefox and all seems to be well now in the latest
versions etc.
 Obviously its hard to be sure about all conditions.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda

[2019-05-07 08:17] Adriani90 commented on #8262
Thanks Brian for replying. Closing as works for me. If you are still encountering this problem, please comment on this issue and we can reopen it.

[2019-05-07 08:17] #8262 closed

[2019-05-07 08:22] Adriani90 commented on #8179
Thanks Robert for replying. I think it makes sense to continue the discussion on this topic on #7041 and to create new issues if some bugs are out of scope. But as far as I understand your statement they all have the same origine. So I am closing this in favor of #7041.

[2019-05-07 08:22] #8179 closed

[2019-05-07 08:24] Adriani90 commented on #4611
I am closing also this one in favor of #7041 because the discussion goes much further in detail on that issue. Thanks.

[2019-05-07 08:24] #4611 closed

[2019-05-07 08:35] Adriani90 commented on #9542
In my opinion the behavior regarding a horizontal line at the top and one at the bottom depending on the position (top or bottom of list) should be equally displayed in all combo boxes regardless if its colapsed or expanded, if it's in Chrome or Firefox or in a Windows application. Obviously NVDA can recognize when the end or the beginning of a container is reached, so a consistent implementation

[2019-05-07 09:29] ABuffEr commented on #9371
Hi @munawarb ,
did you try my solution?
If you agree, I suggest to close this issue, as probably unrelated to NVDA.

[2019-05-07 09:57] munawarb commented on #9371
Hi. Yes you can go ahead and close it. I haven't had the issue since posting it but I've saved your script in case it does happen again.

[2019-05-07 13:25] ABuffEr commented on #9371
Ok. You or @Adriani90 can close this issue, then.

[2019-05-07 13:30] #9440 closed

[2019-05-07 13:30] #8522 closed

[2019-05-07 13:43] #9371 closed

[2019-05-07 15:55] Marlin86 commented on #2204
Unfortunately this problem persists. I think LibreOffice and OpenOffice are so important programs, as they are used by millions of people, public schools, Universities and other. Therefore, they should receive more attention.

[2019-05-07 16:37] Adriani90 commented on #2204
I guess if Libre Office or Open Office do not expose this information, NVDA cannot do much to improve it. However, since they are also open source projects, I think people facing such issues could create issues on Github or on their issue trackers. I mean especially people who are using NVDA. I wonder if there are some issues reported by NVDA users on Libre Office or Open Office issue trackers?
He

[2019-05-07 17:09] Adriani90 commented on #8263
To reproduce this issue in any word version, please do the following:
1. Open a word document
2. Create two tables under each other
3. In the second table, go to table properties
4. For the text, choose "around"
5. For the alignment, choose "left wrap"

Actual: What happens is, the text in your second table will not be in the table itself, but it will flow around the table. It might make sense for

[2019-05-07 17:11] Adriani90 commented on #8261
@fernando-jose-silva are you still having this issue in NVDA 2019.1.1 on Windows 10 1809 Update?

[2019-05-07 17:20] Adriani90 commented on #8260
Under NVDA 2019.1.1 this is much worse now, you cannot access the compose twitter link at all in the buffer. The curssor jumps around to the tweets themselves. You can only access the link with the mouse.
cc: @leonardder

[2019-05-07 17:28] Adriani90 commented on #8251
cc: @jcsteh in case you have another opinion on this, otherwise we can close it I guess? I don't know if there is a way NVDA can handle aria-labeledby on div elements?

[2019-05-07 17:31] Adriani90 commented on #8248
@fernando-jose-silva how is the behavior with last version of Jabber, last version of NVDA and last version of the addon developped by @dglee42?

[2019-05-07 17:39] Adriani90 commented on #8243
cc: @francipvb maybe you can answer this as VB user and NVDA developer. Thank you very much.

[2019-05-07 17:42] Adriani90 commented on #8241
@bramd, @Neurrone, @gregjozk, @zstanecic can you still reproduce this issue in NVDA 2019.1.1 even after you run the com registration fixing tool in nvda menu / tools?

[2019-05-07 17:42] Adriani90 commented on #8241
I am not able to reproduce it with Chrome 74 and Firefox 66.0.3.

[2019-05-07 17:49] Adriani90 commented on #8235
It would be really nice to have an information of what aria has popup will open when pressing enter on it. Often in complex enironments you know how data is presented but you don't want to exand every aria has popup button to see if it's the right data. So having this information would really boost efficiency in some situations.

[2019-05-07 18:09] francipvb commented on #8243
Hello,

No, I don't think so.

Still occurs with latest alpha.

Cheers,

[2019-05-07 18:12] fernando-jose-silva commented on #8248
Unfortunately I can no longer help with this issue, I no longer have access to jabber.

[2019-05-07 18:15] Adriani90 commented on #8701
@munawarb this is not an issue, this is intended behavior. Controls gaining focus after loading a page (i.e. edit fields, etc.) get focused and focus mode is fired. There were users who actually wanted this behavior and filled issues in the past for it.
Also other controls fire focus mode when you focus them, this is intended (i.e. very helpful in several web tools for webinars etc.). If you want

[2019-05-07 18:15] #8701 closed

[2019-05-07 18:15] Amanullah0123 opened #9547 "Screen reader is narrating all video controls together when user hit tab after close button - Lightbox"
User Experience:
User who rely on screen reader if any object information is not narrated by screen reader user will confuse.

Test Environment:
OS: Windows 10 version: 10.0.17763 Build 17763
Browser: chrome - Version 74.0.3729.131 (Official Build) (64-bit)
Screen reader - NVDA - version 2018.4.1
URL: https://www.microsoft.com/en-us/hololens#

Repro Steps:
Step 1: Open the above URL using any brow

[2019-05-07 18:18] fernando-jose-silva commented on #8261
everything works now, nvda 17110
windows 10 17763.437
thank you very much.

[2019-05-07 18:24] Adriani90 commented on #8261
Closing as works for me.

[2019-05-07 18:24] #8261 closed

[2019-05-07 19:56] gregjozk commented on #8241
Hello,

it is fixed in my opinion; I don't know, which ticket covers a
workable solution.

regards

2019-05-07 19:42 GMT+02.00, Adriani90 <notifications@github.com>:

[2019-05-07 20:56] pitermach commented on #8861
Yep, I'm still seeing this with Chrome 74 and alpha-17104,6d4b1121. I also tried with 2019.1.1, and the issue is less annoying on a stable version as it doesn't play the error sound. However if I check the log the same errors still get logged.

[2019-05-07 21:59] carmacleod commented on #8235
@leonardder

grid and listbox will probably be more common on combobox than on button, so maybe not too weird there.

[2019-05-07 22:06] Adriani90 commented on #8241
Thanks for reporting. I am closing this as works for me. If any one still has this issue, please comment on it and we can reopen the discussion.

[2019-05-07 22:06] #8241 closed

[2019-05-07 23:16] jcsteh commented on #8251
Allowing aria-label to override the content of a div would cause all sorts of problems. A div is often a container or section for a lot of other content and we definitely don't want the label overriding all of the content in those cases. Closing.

[2019-05-07 23:16] #8251 closed

[2019-05-08 00:11] Qchristensen commented on #7396
I'm not sure what the original poster means by "barred" (possibly strikethrough?  If so, then enabling "Font attributes" in NVDA's document formatting dialog will report this).  It might be worth leaving this issue solely for highlight, and making a new issue if still required for "barred" text.

For highlighted text, Word does treat this differently to the font or background colour - NVDA does co

[2019-05-08 00:22] Wildebrew commented on #8235
I am primarily thinking about "opens dialog" for my test cases.
The only grid widget that I deal with frequently is a datepicker, and
I'd rather have the screen reader say "opens a datepicker" than "opens
a grid".
But if the ARIA group decided it was necessary to provide all these
values I suppose those values should be supported to some extent by a
screen reader.
The logic behind some of the ARIA

[2019-05-08 01:49] DrSooom commented on #9547
@Amanullah0123: Please specify the version of Windows 10, Google Chrome and NVDA in the issue description. Thanks.

[2019-05-08 02:50] surfer0627 commented on #9310
Related issue in LibreOffice [#124832](https://bugs.documentfoundation.org/show_bug.cgi?id=124832).

[2019-05-08 05:45] Qchristensen commented on #7003
Issue still present in NVDA 2019.1.1.  Just edited issue title to expand scope from Office 2016 to 2016 and 365

[2019-05-08 08:05] Brian1Gaff commented on #8262
I'll keep an eye on it, I think there have been issues with add ons in FF
for some time on and off and its muddied the waters regarding what nvda is
doing
 As an aside at the e moment I use waterfox as the default browser here
since FF is seemingly always changing and each new version can bring
unexpected oddities.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-

[2019-05-08 09:44] leonardder opened #9548 "Remove deprecated functionality"
### Is your feature request related to a problem? Please describe.
The introduction of Python 3 and SPeech Refactor will introduce backwards incompatible changes.

### Describe the solution you'd like
As one of the goals is to bundle all backwards incompatible changes as much as possible, I propose removing all functionality that is considered deprecated. This includes:

* Directly importing valid

[2019-05-08 10:33] Brian1Gaff commented on #9548
I assume this is what the threshold snap  branch is for?
 At the current time it seems to be still working on most of my add ons and
legacy app modules that are important like older versions of word and
Outlook Express/live mail which is in use by many people either by the patch
or whatever for later windows versions.

Other than that the main add ons I see affected if I read this right will be
th

[2019-05-08 14:23] Adriani90 commented on #8377
This is still reproducible I think in NVDA 2019.1.1. cc: @jcsteh

[2019-05-08 14:25] josephsl commented on #9548
Hi, we might as well remove app modules that are no longer relevant – I know there will be at least one protester, but some app modules are no longer relevant, especially after dropping support for anything earlier than Windows 7 SP1. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Wednesday, May 8, 2019 2:45 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscri

[2019-05-08 14:31] josephsl commented on #9548
Hi, more importantly, any add-on not ready for Python 3 will fail, which won’t be resolved by just editing the manifest. Thanks.

From: Brian Gaff <notifications@github.com>
Sent: Wednesday, May 8, 2019 3:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Remove deprecated functionality (#9548)

I assume this is what the th

[2019-05-08 14:31] Adriani90 commented on #8369
Yes, just press nvda]left bracket (the key next to the letter p on your keyboard) if you have keyboard layout set to laptop in NVDA settings / keyboard.
Press numpad divide if your keyboard layout is desktop.
For more feedback on this please consult the NVDA users list at
https://nvda.groups.io/g/nvda
I am closing this issue for now.

[2019-05-08 14:31] #8369 closed

[2019-05-08 14:43] k-kolev1985 commented on #8383
@Adriani90 Yes, I can still reproduce the issue described above.

[2019-05-08 14:43] Adriani90 commented on #8344
This is an issue particularly atributed to the addon objpad. I suggest you to fill an issue agains the addon directly. Otherwise, if you wish this behavior in NVDA's core, than you can comment on issues which are already opened for this problem. See i.e. #7759 for use cases and detailed discussion.
I am closing this one in favor of #7759 and other similar issues.

[2019-05-08 14:43] #8344 closed

[2019-05-08 14:48] Adriani90 commented on #8342
cc: @leonardder, @feerrenrut maybe you have an advice for this behavior? Aparently NVDA is not getting the input correctly. I wonder if it is working when browse mode is disabled by default? Or maybe the input is registered as injected because of pseudo focus?

[2019-05-08 14:50] josephsl commented on #8344
Hi, as the author of that add-on, I can say that ObjPad development has been suspended for a while so I can concentrate on more important things. As Adriani said, please try filing an issue on my add-on repo please. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 7:43 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment

[2019-05-08 14:52] Adriani90 commented on #8339
@josephsl the pr #8473 has been merged. Is this issue now solved and can be closed? Thanks.

[2019-05-08 14:55] josephsl commented on #8339
Hi, ah, another oversight – not referencing this issue properly in my PR. Yes, please do close this. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 7:53 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 RS5/IUIAutomationElement9: support "is dialog

[2019-05-08 15:03] gdata1 commented on #8196
Unfortunately, steam developers do not want to be contacted on this issue. I tried a few more people.

[2019-05-08 15:04] Adriani90 commented on #8332
@TechThomas are you still seeing this issue in NVDA 2019.1.1? For me it is not exactly clear how navigation is expected here. When I am exploring the dialog with up and down arrow keys in NVDA browse mode (nvda+ space bar), the text you expect to be read is properly reported.
When exploring the dialog in focus mode with tab and shift+tab (again nvda+ space bar), NVDA reports the interactive elemen

[2019-05-08 15:07] Adriani90 commented on #8339
I would certainly fail on referencing the right issues if I would submit a pull request given the number of issues here. So no problem. I am closing this as works for me.

[2019-05-08 15:07] #8339 closed

[2019-05-08 15:11] Adriani90 commented on #8327
@ondrosik in your log there are only debug warnings, no errors. Is this issue still reproducible in NVDA 2019.1.1?
If you have issues only on a particular machine, I propose to consult the NVDA users list first and after discussions there you could create a github issue with more details. The users list is here:
https://nvda.groups.io/g/nvda
For now I am closing this issue but please comment on it

[2019-05-08 15:11] #8327 closed

[2019-05-08 15:23] Adriani90 commented on #8434
@nishimotz this should be fixed now with the last version of the addon and NVDA 2019.1.1. Or are you still having this problem?

[2019-05-08 15:26] Adriani90 commented on #8386
maybe @leonardder could help in answering this question?
I advice to raise such questions on gitter instant messaging first and then after discussions if there is an issue, create a new issue agains NVDA. The link to the gitter messaging service is here:
https://gitter.im/nvaccess/NVDA

[2019-05-08 15:31] Adriani90 commented on #8428
I think the description suggests to navigate with ctrl+alt+arrows.
I can still reproduce this issue with NVDA 2019.1.1 and Firefox 66.0.4 as well as Chrome 74. In Firefox, only absolute column header 1 is reported. The other absolute column headers are ignored.
In Chrome, no absolute header is reported at all.
cc: @jcsteh, @MarcoZehe

[2019-05-08 15:34] Adriani90 commented on #8427
@jcsteh Is this solved in Firefox nightly with the fix regarding scratchpad editor?

[2019-05-08 15:37] Adriani90 commented on #8387
This is still reproducible in NVDA 2019.1.1.
cc: @lukaszgo1, @feerrenrut

[2019-05-08 15:39] Adriani90 commented on #8416
The issue referenced above is also merged. I assume this issue is solved then. @josephsl if not, please feel free to reopen it.

[2019-05-08 15:39] #8416 closed

[2019-05-08 15:40] josephsl commented on #8416
Hi, yes, resolved a long time ago (as in last year). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 8:40 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA: remove constants that were assumed unavailable in Windows 8.x (#8416)

The issue referenced above i

[2019-05-08 15:41] Adriani90 commented on #8426
@jeanbrazcosta there is an app module now in NVDA. Can you still reproduce this issue in NVDA 2019.1.1?

[2019-05-08 15:43] Adriani90 commented on #8421
@josephsl is there a PR touching this issue? Just to make sure that we reference them together. :-)

[2019-05-08 15:44] Adriani90 commented on #8412
Closing due to missing description. Please fill the template and open a new issue if you still have any issues. Thanks.

[2019-05-08 15:44] #8412 closed

[2019-05-08 15:44] josephsl commented on #8421
Hi, we may still need to hold onto mentioning this info, especially with the speed of Python 3 development (#9543 readme mentions Python 3.7.3). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 8:43 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] remove speci

[2019-05-08 15:46] Adriani90 commented on #8411
@Qchristensen could you please edit your issue description? Editing directly in cells is now supported again. Just to avoid confusions. :-)

[2019-05-08 15:48] Adriani90 commented on #8409
@Fatihyuksek are you still having this issue in NVDA 2019.1.1 with eSpeak?

[2019-05-08 15:48] OzancanKaratas commented on #8267
It's okay! Microsoft edited the Windows user interface for connection changes. New Windows release will run well with NVDA. Update it to latest OS build.

Thanks.

This issue can be closed.

[2019-05-08 15:48] #8267 closed

[2019-05-08 15:50] Adriani90 commented on #8403
@netblue44 I am not able to reproduce this issue with Chrome 74 and NVDA 2019.1.1. Could you please write exactly what you hear and what NVDA should actually say? Thanks.

[2019-05-08 15:54] Adriani90 commented on #8499
@leonardder this might be of interest for your work on this as well.

[2019-05-08 16:03] Adriani90 commented on #9222
cc: @feerrenrut, @michaelDCurran

[2019-05-08 16:04] Adriani90 commented on #8485
Closing in favor of #9222 because this is the same issue and the behavior is exactly the same. In that issue more details are proviced incl. log errors etc.

[2019-05-08 16:04] #8485 closed

[2019-05-08 16:06] Adriani90 commented on #8484
@josephsl I am not able to reproduce this in NVDA 2019.1.1. Is this specific maybe to a synthesizer?

[2019-05-08 16:07] Adriani90 commented on #8462
Closing as works for me. If you still have this problem, please comment on it and we can reopen the discussion.

[2019-05-08 16:07] #8462 closed

[2019-05-08 16:09] Adriani90 commented on #8476
@fernando-jose-silva are you still having this issue in NVDA 2019.1.1, Chrome 74 or Firefox 66.0.4?

[2019-05-08 16:14] Adriani90 commented on #8450
@dnz3d4c I am testing with NVDA 2019.1.1 on Firefox 66.0.4. After waiting about two minutes for the website to load, the navigation works well just like on other websites. I do not see a significant performance lack. Do you still have this problem in NVDA 2019.1.1? Which synthesizer and which addons are you using? If you use focus highlight, could you please disable it and see if it gets better?

[2019-05-08 16:17] Adriani90 commented on #8461
@DarrylSherwood could you please try last NVDA alpha? Is this issue still occuring with that version? You can download the alpha here:
https://www.nvaccess.org/files/nvda/snapshots/

[2019-05-08 16:19] josephsl commented on #8484
Hi, caused by outdated app module, now resolved with another PR from me in 2019.1. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 9:06 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 Mail: COM error when moving focus to another control after clos

[2019-05-08 16:20] Adriani90 commented on #8460
cc: @leonardder, @michaelDCurran, @jcsteh maybe it is a regression?

[2019-05-08 16:22] Adriani90 commented on #8484
Closing as works for me.

[2019-05-08 16:22] #8484 closed

[2019-05-08 16:23] Adriani90 commented on #8458
@amirsol81 are you still having this problem in NVDA 2019.1.1 on Windows 10 1809 Update?

[2019-05-08 16:25] Adriani90 commented on #8455
@munawarb if you are still having this issue in NVDA 2019.1.1, could you please provide an example of such a long string in a file uploaded to this issue? In which editor are you having this issue?

[2019-05-08 16:26] Adriani90 commented on #8447
@fernando-jose-silva could you please test with all addons disabled? Is the issue still occuring?

[2019-05-08 16:28] Adriani90 commented on #8443
@amirsol81 if you have this issue also in NVDA 2019.1.1, could you please test with all addons disabled? Is it still occuring?

[2019-05-08 16:29] josephsl commented on #8484
Hi, I advise closing this as “fixed” rather than as “works for me” to present what happened with this more accurately. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 9:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 Mail: COM error when moving

[2019-05-08 16:33] Adriani90 commented on #8484
I guess this only occurs if Github closes it automatically when merging the pull request where the issue is referenced. I cannot find a label for "fixed".

[2019-05-08 16:35] josephsl commented on #8484
Hi, yep, that’s something pull request authors may wish to keep in mind… Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 8, 2019 9:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 Mail: COM error when moving focus to another control after closing the ap

[2019-05-08 17:00] mikepedersen commented on #8272
Hi, I am nolonger able to reproduce this. Who knows what might have
changed. I am running the latest NVDA nightly, latest Chrome and Latest
windows 10. They may have even changed the site.
thanks for following up.

On Wed, Nov 7, 2018 at 7:39 PM Ethan Holliger <notifications@github.com>
wrote:

--
Mike Pedersen

<http://smart.salesforce.com/sig/mpedersen//us_mb/default/link.html>

[2019-05-08 17:10] munawarb commented on #8455
Hi @Adriani90, Sure, I've attached a file to this message containing Solidity bytecode. The first line is simply the word "bytecode:". the next line is a string of hex digits that's the actual bytecode. On that line NVDA will hang. I've tried with 2019.1.1 with the same results as previously reported.

I have word wrap turned off so NVDA is trying to process the whole string at once. This is in No

[2019-05-08 17:17] Adriani90 commented on #8455
cc: @DataTriny maybe you have any idea why this could happen? I know that such issues also exist in other editors like text editors.

[2019-05-08 17:21] Adriani90 commented on #777
I am closing this for now. Please comment on it if you are still having this problem and we can reopen the discussion. Thanks.

[2019-05-08 17:21] #777 closed

[2019-05-08 17:27] Adriani90 commented on #7275
cc: @leonardder

[2019-05-08 17:31] Adriani90 commented on #8535
@@tspivey are you still having this issue? Or should we close it?

[2019-05-08 17:33] Adriani90 commented on #8534
We do not have any answer from the initial author, I am closing this as works for me. if you still have this problem, please comment on it and we can reopen the discussion. Thanks.

[2019-05-08 17:33] #8534 closed

[2019-05-08 17:46] Adriani90 commented on #8529
This is consistently reproducible with this example in all browsers. I have tested with NVDA 2019.1.1, Firefox 66.0.4, Chrome 74 and IE11.
Sometimes you must press multiple times nvda+f7, escape, nvda+f7, escape, nvda+f7 etc...
cc: @feerrenrut, @michaelDCurran could this lead to a regression?

[2019-05-08 17:53] Adriani90 commented on #8528
@hills001 this is not occuring in Firefox 66.0.4 with NVDA 2019.1.1. At least I cannot reproduce it. Do you still see this issue?

[2019-05-08 17:56] Adriani90 commented on #8511
@fernando-jose-silva are you still having this issue in NVDA 2019.1.1 and Chrome 74?

[2019-05-08 18:09] Adriani90 commented on #8605
Closing as duplicate of #8318.

[2019-05-08 18:09] #8605 closed

[2019-05-08 18:10] tspivey commented on #9222
I managed to get this to crash. However, when it crashed, something I did caused the keyboard hook to freeze, just like in #4669.

NVDA should never freeze the entire keyboard. Once it does that, there's no way back to a working system.

[2019-05-08 18:14] Adriani90 commented on #8657
@RD-Brown unfortunately the test account does not work anymore so I am not able to reproduce this issue anymore. Could you please give us an update if this is still reproducible with NVDA 2019.1.1 on Chrome 74?

[2019-05-08 18:26] Adriani90 commented on #9061
@leonardder, @yugimamidi as I am not a developer, what should be spoken when aria selected is supported? Should be reported that the item is selected? Or should just expose the selected item in the list to NVDA when using browse mode?

[2019-05-08 18:31] Adriani90 commented on #8469
@alexandretoco do you still have this issue with NVDA 2019.1.1 on Windows 10 1809 Update?

[2019-05-08 18:38] Adriani90 commented on #9374
hey @GuruSR which programs are in the autostart? Which programs are booting together with the Windows? If there is something with MS Office, please disable it. I had a similar issue some months ago and it made my machine unusable until I found what it was. It was a service in services.msc related to Office which really overloaded my processor. Can you have a look maybe you find alos such a service

[2019-05-08 18:39] Adriani90 commented on #9374
Please test with NVDA 2019.1.1.

[2019-05-08 18:48] Brian1Gaff commented on #9548
Yes that was my point really, at least we will know then!

I'm a little worried that otherwise come the big switch over a whole raft of
people will find nvda worse, not because it is worse, but because add ons
they had forgotten about will be turned off by default.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaf

[2019-05-08 19:29] Adriani90 commented on #8633
As @jscholes pointed out, this behavior is normal due to the fact that the web developer can turn has autocomplete on or off. I am closing this issue for now. if there are other questions regarding this topic, please comment and we can reopen the discussion. Or you could also send a message on gitter at
https://gitter.im/nvaccess/NVDA

[2019-05-08 19:29] #8633 closed

[2019-05-08 19:35] Adriani90 commented on #8244
Closing as duplicate of #8502 which also covers this issue.

[2019-05-08 19:35] #8244 closed

[2019-05-08 20:02] Adriani90 commented on #8601
@Ednunp I had a similar issue some months ago but after a new NVDA release it was solved. I don't know exactly which one it was though. Are you still having this problem with NVDA 2019.1.1 and most current version of Outlook 2016? I cannot reproduce it anymore.

[2019-05-08 20:03] Ednunp commented on #8601
No I thought this one was closed as the issue was fixed a while back.

[2019-05-08 20:09] Adriani90 commented on #8575
cc: @pawelurbanski maybe you could raise a PR agains NVDA for this. Is this actually included in your addon for Visual Studio Code already?
cc: @francipvb, @feerrenrut

[2019-05-08 20:10] Adriani90 commented on #8601
Oh ok, thanks for reporting back so fast. I am closing this now as works for me.

[2019-05-08 20:10] #8601 closed

[2019-05-08 20:19] Adriani90 commented on #9061
After exploring further issues, I think we can close this as duplicate of #8587. Please comment on it if this was my mistake and we can reopen it. Otherwise let's continue the discussion on #8587.

[2019-05-08 20:19] #9061 closed

[2019-05-08 20:20] Adriani90 commented on #8587
This is actually reproducible in every browser with NVDA 2019.1.1. See also referenced issue above.
cc: @jcsteh, @feerrenrut

[2019-05-08 20:28] Adriani90 commented on #8573
I think a fix for this issue had to be reverted due to a bug in Chrome itself. However, this verbosity is somehow controverse and it is discussed among several users and developers because actually this information is not really needed for every item. There are many alternatives (i.e. providing a key stroke which reports item position and number of items on demand. See the discussion in #8187.

[2019-05-08 20:29] Adriani90 commented on #8573
In Firefox this works as expected in this issue.

[2019-05-08 20:36] Adriani90 commented on #8563
This is still reproducible in NVDA alpha-17162,2f60bc16.
cc: @DataTriny maybe you have a suggestion on how to solve this one?

[2019-05-08 20:39] Adriani90 commented on #8553
cc: @feerrenrut

[2019-05-08 20:46] Adriani90 commented on #8654
This is also reproducible in Firefox 66.0.4.
But note that this occurs only in focus mode when navigating with tab and shift+tab. When using browse mode, NVDA reads the controltype.
@jcsteh is this intended behavior, at least for Firefox?

[2019-05-08 20:47] Adriani90 commented on #8648
@timothytylee I cannot reproduce this issue in NVDA 2019.1.1. Are you still able to reproduce it?

[2019-05-08 20:49] Adriani90 commented on #8646
@Manjit- are you still having this issue in NVDA 2019.1.1?

[2019-05-08 20:54] Adriani90 commented on #8641
This is still reproducible in NVDA 2019.1.1. I get following in the log file:

[code]
cc: @Robert-J-H, @josephsl

[2019-05-08 21:05] Adriani90 commented on #8624
@francipvb now that your pr #9441 is merged. do you think this issue can be closed? Could you try to see if it works well for you?

[2019-05-08 21:17] Adriani90 commented on #8383
@k-kolev1985 are you still having this issue in NVDA 2019.1.1 on Windows 10 1809 Update?

[2019-05-08 21:57] GuruSR commented on #9374
Tried "Editor revisions", did nothing, Excel seems to be the biggest burden, seems it is stuck in a WaitForObject which causes all of NVDA's user space to drop to 0 CPU usage (obviously), making the NVDA tray icon "dead to the user", I am not on location, will have to attempt to remote install 2019.1.1 when I can sometime soon, hopefully this will solve the issues, if not, I'll certainly hear abou

[2019-05-08 22:24] fernando-jose-silva commented on #8511
everything worked fine chrome 74, windows 10 18362.86, nvda 17134
thank you very much.

[2019-05-08 22:29] fernando-jose-silva commented on #8447
I managed to solve the problem, I used microsoft software to erase all the word settings and start the software from the beginning.
That is to say it was some configuration in the word that caused it, which configuration I do not know.

[2019-05-08 22:38] fernando-jose-silva commented on #8447
I managed to solve the problem, I used microsoft software to erase all the word settings and start the software from the beginning.
That is to say it was some configuration in the word that caused it, which configuration I do not know.

[2019-05-08 22:44] fernando-jose-silva commented on #8476
I can not test, if there is anyone interested in continuing this question can be closed.

[2019-05-08 23:15] francipvb commented on #8624
Hello,

Still the same.

For me it doesn't happen.

Well, the IntelliSense problem is a bit tricky NVDA reads the selected item from a LiveTextBlock widget and I don't know how NVDA processes it.

Yep, Narrator works very well with all these things, but it is a native UIA client with all their advantages, such speed and well known API.

I'm thinking how to solve this IntelliSense problem also for

[2019-05-09 00:06] Qchristensen opened #9549 "Set desktop object navigation / review cursor keys to "desktop layout only", not "all"."
### Is your feature request related to a problem? Please describe.
NVDA's desktop keyboard layout utilises the number pad for review cursor and object navigation commands.
NVDA's laptop keyboard layout was created for users who don't have a number pad.  It assigns alternate keystrokes to those commands which use the number pad.
Currently, the desktop object navigation and review cursor keystrokes

[2019-05-09 01:21] surfer0627 commented on #8321
@Adriani90
I still could reproduce this case at least in Windows 7 / Firefox 66.0.5 (x64 zh-TW) with NVDA 2019.1.1.

[2019-05-09 02:23] ehollig commented on #8511
Thank you @fernando-jose-silva for reporting back. Closing as worksforme

[2019-05-09 02:23] #8511 closed

[2019-05-09 02:56] ehollig commented on #7519
Thank you for reporting @fernando-jose-silva. Closing

[2019-05-09 02:56] #7519 closed

[2019-05-09 03:04] ehollig commented on #8447
Closing. Thank you for replying @fernando-jose-silva

[2019-05-09 03:04] #8447 closed

[2019-05-09 03:13] ehollig commented on #7531
Nope. No longer an issue. IE11 now reports, "Frame javascript" but is not able to read the content in this frame.

[2019-05-09 03:13] #7531 closed

[2019-05-09 05:54] hills001 commented on #8528
Hi,
Thanks for the reply. I have updated to NVDA 2019.1.1 and still have the problem in Firefox 66.0.5.

The problem occurs when using the tab key to navigate between the three example links/boxes in the above Codepen, and then using the Enter key to trigger.

If I exit NVDA, I'm able to tab/enter on all three boxes. I'm able to tab/enter on all three boxes in Chrome and IE when NVDA is running.

[2019-05-09 07:04] Brian1Gaff commented on #9549
Would some kind of corporate mass install use the both at once scenario so
the one size fits all roll out of a standard config would be easy if laptops
and desktops were all on the network?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-05-09 08:09] leonardder commented on #9549
Hmm, I actually consider the fact that these keys are assigned for all layouts an advantage, so I have no problem with it. I could imagine that, even tough people use the laptop layout, they utilize the number pad for object navigation just because they are accustomed to it. Therefore, I'd be careful in changing these assignments.

[2019-05-09 09:21] leonardder commented on #8604
As of dropbox 72 stable, they switched to QT 5.12

[2019-05-09 10:44] DataTriny commented on #8455
Hi everyone,
@munawarb which synthesizer are you using? Also, does NVDA crash or does it just do nothing for such a long time that you stop the process? If it crash, when does this happen exactly? Does it start reading some text or just exit when cursor jumps on the line?

Testing with all synthesizers installed on my machine, here are the results:
- Espeak NG: no problem,
- ETI-Eloquence: no prob

[2019-05-09 12:33] munawarb commented on #8455
Hi @DataTriny,
I went back and tried using ESpeak and still the screen reader hung when I arrowed down to the line containing the bytecode. I have word wrap turned off, so the whole string of code appears on one line (this is line 2 in my text editor.)

NVDA hangs for such a long time that I restart the process by pressing CTRL+ALT+N. Before I restart NVDA, the fans on my laptop become active and

[2019-05-09 12:43] brennanyoung opened #9550 "Element disabled when activated seems to prevent aria-live region from announcing, first time only"
We have a some buttons that make things happen in a canvas.

Let's just say one of the buttons is "laugh".

The changes in the canvas are announced via aria-live. "Laughter" etc.

When the laughing is happening - which is quite brief - the "Laugh" button is temporarily disabled. (We don't want to retrigger a laugh if one is already happening. And we don't want the laugh button to "toggle the laugh

[2019-05-09 13:19] DataTriny commented on #8455
I caught a MemoryError on NVDA's log with Windows OneCore Voices synthesizer. Do you know @munawarb how much RAM is installed on your machine? I have 8 Go on mine. I suspect that you have less than that. I mean: when I try to read the second line the memory usage rises quite high.

[2019-05-09 13:30] munawarb commented on #8455
Hi @DataTriny,
Here is the system info for my computer. It's a pretty powerful system.
[code]

[2019-05-09 15:47] Brian1Gaff commented on #9550
Could this be browser specific perhaps?
 I'm no expert but do know that some web sites behave differently with
different browsers.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-05-09 16:08] Andre9642 opened #9551 "Review cursor: don't report "top"/"bottom" message when moving on the first/last line of the current object"
### Steps to reproduce:
Press NVDA+Control+home / NVDA+Control+end in laptop layout. Or shift+numpad7 / shift+numpad9 in desktop layout.

### Actual behavior:
NVDA reports (through speech and braille) "top" or "bottom" flash message, then reports the line.

### Expected behavior:
NVDA should just reports the line.

Note: I work with command line a lot and I often use these commands. In my opinion,

[2019-05-09 16:28] jscholes commented on #9077
Any update on this?  I came here to report this specifically.  Live regions represent the very definition of dynamic content changes, but yet NVDA+5 has no impact on them at all.

[2019-05-09 17:18] feerrenrut commented on #1506
@lukaszgo1 Sorry for the delay. My initial thought is to remove the default gesture, but keep the command. If so, then it should be documented along with an example use case.

Although, I think perhaps the question should be asked on the developers mailing list: Considering this information is available in devInfo, does anyone use this command directly, and why?

Would you be able to follow up on

[2019-05-09 17:59] pawelurbanski commented on #8575
The add-on I created does not interact with a treeview. It works well when it comes to the features it corresponds to.

NVDA’s navigator info recognizes VS Code’s treeview as a treeview, it gets focus and so on, but for some reason its labels are not read, and it is impossible to expand / collapse the folders or other objects…

From: Adriani90 <notifications@github.com>
Sent: środa, 8 maja 2019 22

[2019-05-09 22:34] jcsteh commented on #8654
This is intentional. Hearing the menuitem role doesn't provide useful information to the user. If the user is in a menu, they have enough context to know that they're dealing with menu items. Hearing "menu item" every time they move to an option is annoying, increases cognitive load and decreases efficiency.

[2019-05-09 22:34] #8654 closed

[2019-05-10 07:24] Brian1Gaff commented on #1506
I find it interesting sometimes, for example if I'm in waterfox, it just
says currently running application Waterfox.exe, but if as I am now in
Outlook express, then it says Currently running application is msimn.exe and
currently loaded module is msimn.
This presumably tells me there is no  app module for  waterfox.

I'm assuming therefore that as Firefox reports it has a firefox module that
wate

[2019-05-10 08:08] #7498 closed

[2019-05-10 08:44] #8728 closed

[2019-05-10 10:52] lukaszgo1 opened #9552 "Impossible to focus popup created by Tampermonkey in Firefox Nightly"
### Steps to reproduce:
1. Open Firefox
2. Install extension Tampermonkey if not already installed.
3. Move to address bar with CTRL+L press tab to move to the toolbar and with arrow keys locate button for Tampermonkey.
4. Press it with enter.
### Actual behavior:
Firefox Nightly frame read-only is reported, and it is required to alt+tab from Nightly to interact with browser again. The newly opene

[2019-05-10 10:54] #4209 closed

[2019-05-10 11:54] #7338 closed

[2019-05-10 12:30] lukaszgo1 commented on #1506
@feerrenrut  wrote:

No problem

I don't believe that is a good idea. While I can definitely understand adding new commands which don't have key command assigned removing existing one is very confusing and would be even more if something else would be assigned to it in the future.

I can ad  least present my own perspective.
This command is useful because:
1. Accessing the same information  from t

[2019-05-10 12:44] #8613 closed

[2019-05-10 13:17] lukaszgo1 commented on #9548
@josephsl  wrote:

I've looked through all appModules and only candidate for removal seems to be sndrec32 which is present only in Windows XP.
At first I've found 2 more  possible and decided to research further
1. Module for Outlook Express-  this one is still used even in Windows 10
2. Module for MSN Messenger - while it officially is EOL there is still a patch allowing it to work and a server t

[2019-05-10 18:59] Amanullah0123 opened #9554 "Does Page reloading on selection of any control is accessibility issue?"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-05-10 19:09] josephsl commented on #9554
Hi there, sorry for a really badly formatted response, but it appears there’s no water inside this container (i.e. template info, that’s it, no content or clarifications). Sorry.

From: Amanullah0123 <notifications@github.com>
Sent: Friday, May 10, 2019 11:59 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Does Page reloading o

[2019-05-10 20:39] jb822f opened #9555 "aria-live announcing twice in Chrome 74 depending on parent element (various other differences)"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-05-11 12:09] beqabeqa473 commented on #9311
hello.

found a regression when using vs 2019 (16.1 preview 3)

when openning menu, an exception is thrown and vs is not accessible at all.

ERROR - queueHandler.flushQueue (16:09:01.252):
Error in func _fakeFocus from eventQueue
Traceback (most recent call last):
  File "queueHandler.pyc", line 53, in flushQueue
  File "IAccessibleHandler.pyc", line 819, in _fakeFocus
  File "NVDAObjects\__init__

[2019-05-11 12:30] leonardder commented on #9548
How about the following appModules?

* aim
* teamtalk3
* teamtalk4classic
* Klango

[2019-05-11 13:00] francipvb commented on #9311
Hello,

Sorry for this stupid error.

I published #9557 that fix this.

Thanks for your advise.

[2019-05-11 14:18] mariopercinic opened #9558 "NVDA does not save One core voices settings with Rate boost on"
With new rate boost option introduced in the newest Alpha releases NVDA is not able to save the configuration for One core voices while the rateboost is on. When changes for rate and pitch are made for One core voices, it is possible to save the settings, but after restarting NVDA or after switching to another synth and going back to One core voices, the settings go to their default values. Howeve

[2019-05-11 17:29] leonardder commented on #9558
I can't reproduce this for changing the pitch, but for rate, I certainly can. I will dive into this.

[2019-05-11 19:03] burakyuksek opened #9559 "Say all does not scroll consistently in word365 with UIA enabled"
### Steps to reproduce:
1. Open a document in word365
2. Perform say all
3. Stop speech with ctrl
4. Navigate with arrows and you will see that the currsor is not where say all stopped. It is either at the start of the document or somewhat above where it is supposed to be.
### Actual behavior:
When say all is stopped with ctrl the currsor is not at the position where speech has stopped.
### Expect

[2019-05-11 22:26] alexandretoco commented on #8469
Hello!
Yes.
A good way to reproduce it is:
1. Open whatsappweb.
2. Open kindle for pc and read some lines of a book that supports screen reader.
3. Switch back to WhatsApp with alt+tab. NVDA will no longer read the WhatsApp screen.
4. The only way to resolve this is to close and reopen whatsaap. But if you repeat the above procedure, NVDA will stop to read the WhatsApp screen again.

Enviado do Em

[2019-05-12 07:26] Brian1Gaff commented on #9559
Are you sure this is definitely only with that version of word and uia?
 I've had similar issues with word doing odd things for many years in many
versions myself.
 One of the most annoying is that it seems not to be able to get to page 2
sometimes unless the page is zoomed to stop side by side display.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
brian

[2019-05-12 10:25] burakyuksek commented on #9559
I am not very sure but I was previously using word 2010 starter and don't remember encountering such inconsistencies.

Brian Gaff <notifications@github.com> şunları yazdı (12 May 2019 10:26):

[2019-05-12 13:24] dkager commented on #2874
I can't reproduce this using NVDA 2019.1.1 and WordPad in Windows 10. That is only one scenario, though, maybe it still does not work in Windows 7 or in other editors.

[2019-05-12 23:06] gregjozk opened #9561 "after starting, nvda alpha-17205,93ccd518 reports errors and does not process its commands"
In last alpha (17205... - fryday snapshot) nvda reports errors and does not process its keyboard commands. It happened when I tried to update from tuesday's snaphot (alpha-17162,2f60bc16). If I tried to run clean setup without any changes or installed addons directly from the snapshots page, it works fine

### Steps to reproduce:

- run tuesday snapshot
- make some changes like create a profile an

[2019-05-12 23:06] jcsteh commented on #9552
I can't reproduce this. When I press space/enter on the Tampermonkey button, the Tampermonkey "document" gets focus and NVDA goes into browse mode. That said, I think I've seen this behaviour before, and [Mozilla bug 1523034](https://bugzilla.mozilla.org/show_bug.cgi?id=1523034) suggests you're not the only person seeing this on a regular basis.

When this occurs, are you able to focus the popup b

[2019-05-12 23:22] josephsl commented on #9561
Hi, yet another instance of Unicode to bytes conversion problem. CC @LeonardDer

From: gregjozk <notifications@github.com>
Sent: Sunday, May 12, 2019 4:06 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] after starting, nvda alpha-17205,93ccd518 reports errors and does not process its commands (#9561)

In last alpha (17205... -

[2019-05-12 23:23] Qchristensen commented on #9549
If a user has a number pad on their laptop, and are used to the desktop layout, there is no reason they have to use laptop layout.

This has generated quite a bit of conversation in the email user group: https://nvda.groups.io/g/nvda/topic/31549829#61538

Aside from leaving things as they are, or adopting my original suggestion, the main alternatives proposed seem to be:
- Current laptop layout "h

[2019-05-13 06:02] Qchristensen commented on #8411
Thanks @Adriani90 I've edited the description to remove that as you are correct.  A quick work around for anyone else reading this - you can have the current formula read with NVDA+up arrow (in laptop keyboard layout, press NVDA+L).  The issue as initially presented still exists in NVDA 2019.1.1 and Excel from Office 365 version 16.0.11601.20174.

[2019-05-13 06:10] jcsteh commented on #8427
Yes. I believe it may also be solved in Chrome, but that would need to be verified.

[2019-05-13 06:16] jcsteh commented on #8266
Pressing enter to switch to focus mode never repeats the control; this is expected. (NVDA doesn't do this for any control, tree or otherwise.) However, in Firefox, you do now (after #9166) hear the tree and the active tree view item when you first land on it. This doesn't work in Chrome due to bugs in Chrome which caused problems when we tried to enable this. Once those Chrome bugs are fixed, this

[2019-05-13 06:53] sidnc86 commented on #5567
It seems this behavior still persists in NVDA 2019.1.1. User is expected to explicitly press NVDA+Numpad 5 to get multiple headers associated with a cell.

When @jcsteh says:

Isn't a hover event equated with focus event from Accessibility standpoint? And for a screen reader user, one can think of this browse mode cursor position to be the virtual focus.

I suppose NVDA thinks of focus to be expli

[2019-05-13 07:03] Qchristensen commented on #3552
I can't reproduce this just now either, although there are other issues with mouse tracking on the web.

[2019-05-13 07:23] Brian1Gaff opened #9563 "Spelling error in whats new on all snapshot branches"
### Steps to reproduce:
Launch any nvda snapshot from alpha, beta or threshhold branches
go to help and whats new and open it. Scroll down to bug fixes for 2019.2
### Actual behavior:
There is a spelling error in the item. as follows
• In Scintilla controls such as Noteplad++, NVDA can read the correct line when wordwrap is enabled. (#9424)
### Expected behavior:
The l in notepad should not be the

[2019-05-13 08:47] lukaszgo1 commented on #9552
No matter how many times I press F6 Tampermonkeys popup nevver gets focus.

[2019-05-13 11:56] SriNandiniG commented on #9498
updated. Thanks!

[2019-05-13 14:11] DrSooom commented on #9550
@brennanyoung: Please add the NVDA version and all webbrowsers (incl. version), where this behaviour occurs, to the issue description. Thanks.

[2019-05-13 14:47] feerrenrut commented on #9563
Fixed with https://github.com/nvaccess/nvda/commit/bbc3a586022d44213ecab328c8dadeb38eef17cb

[2019-05-13 14:47] #9563 closed

[2019-05-13 14:54] #5667 closed

[2019-05-13 15:38] DrSooom commented on #9554
@Amanullah0123: Please open this issue on the GitHub website and choose the button "Show options" to edit the issue description, which currently only contains the bug report draft. If you just wanted to ask something, maybe the [mailing lists](https://github.com/nvaccess/nvda-community/wiki/Connect) could be the right place for it. But if you wanted to report a bug, please completely fill out the

[2019-05-13 16:40] feerrenrut commented on #9551
Please outline actual steps to reproduce, eg which application which control what text. This helps to ensure everyone is talking about the same thing.

`def script_review_previousLine` also announces "top" when the top line is reached. It helps to have this behaviour to differentiate between multiple equal lines, and reaching the limit of the object.

I suspect there are a few reasons for this beh

[2019-05-13 16:58] feerrenrut commented on #6090
Following on from https://github.com/nvaccess/nvda/issues/6090#issuecomment-310289381 I'm going to close this issue. As far as I can tell the changes mentioned on this issue only introduce risk. This is certainly more complicated than it initially appears. For instance, when a new range of valid values is introduced one must handle the case where the config is outside of those values. This will re