[2019-02-24 15:11] Adriani90 commented on #9319
Is this issue also in nvda 2018.4.1?

[2019-02-24 15:19] shadyar commented on #9319
@Adriani90

[2019-02-24 15:22] shadyar commented on #9319
@Adriani90
while using all earlier stable versions of NVDA, this issue did not occur.

[2019-02-24 15:27] Adriani90 commented on #9319
Cc: @mltony, @michaelDCurran

Von meinem iPhone gesendet

[2019-02-24 17:30] Adriani90 commented on #5958
@jcsteh thank you very much for your answer. Since the implementation depends on the web developer and the question of the initial author is now answered, I will close this issue. @noobards if you still have questions, please feel free to open new issues or to comment on this one. Thank you!

[2019-02-24 17:30] #5958 closed

[2019-02-24 17:36] Adriani90 commented on #6008
@josephsl, @nishimotz is this issue still reproducible in last NVDA Alpha on Windows 10 or 8.1 or 7?

[2019-02-24 18:02] Adriani90 commented on #6005
Testing with NVDA alpha-16813,a0b991af

1. In Word 2010 I get following error when navigating to the field:
[code]

and I cannot move with arrow keys through the field.

2. In Word 2016 / 365 with UIA enabled or disabled, the field is not recognized and while navigating with tab and shift + tab over the area where the field should be reported, I get following errors:
[code]

I think something is r

[2019-02-24 18:59] Adriani90 commented on #5996
This issue is still reproducible in Word 2010 and 2016 and also 365 with NVDA alpha-16813,a0b991af.

@jcsteh, @Qchristensen, is this bug already reported to Microsoft?
Enabling UIA in MS Word does not solve this issue either.

[2019-02-24 19:00] Adriani90 commented on #5993
@josephsl is this issue still valid?

[2019-02-24 19:05] Adriani90 commented on #5986
I am closing this issue since it is not reproducible in Skype 8 either. @bhavyashah please comment on it if you don't agree and we can reopen it. Thanks.

[2019-02-24 19:05] #5986 closed

[2019-02-24 19:12] Adriani90 commented on #5981
It is still reproducible in Chrome 71.

[2019-02-24 19:24] Adriani90 commented on #5966
I can reproduce this issue with the uploaded document in Word 2016 and 365. Thank you @Qchristensen for uploading this example. In Word 2010 however I cannot reproduce this issue.
Note: when UIA for MS Word is enabled, line numbers are not announced at all in Word 2016 and 365. cc: @michaelDCurran

[2019-02-24 19:33] Adriani90 commented on #5965
@time4testing are you still available to reproduce this issue? The design of the ebay website has changed significantly and the site is actually very accessible now. Can you confirm?

[2019-02-24 19:34] Adriani90 commented on #6077
@sumandogra are you still able to reproduce this issue with NVDA 2018.4.1?

[2019-02-24 19:44] Adriani90 commented on #6069
@mjanusauskas, @sunitakarle23 are you still able to reproduce this issue with NVDA 2018.4.1 or with last NVDA Alpha?

In Firefox I cannot reproduce this issue, but in Google chrome, after the first list, NVDA reads only "clicckable" for more than 6 lines or so. In Firefox, there is some text which is not recognized in Google Chrome. In my opinion this could be bad implementation from web developer

[2019-02-24 19:47] Adriani90 commented on #6076
@mjanusauskas, @ehollig can you still reproduce this issue in NVDA last Alpha?
If you disable "focus follows browse mode" with NVDA+8 in last Alpha, can you see any difference?

[2019-02-24 19:53] Adriani90 commented on #6067
I agree this would help alot, also optionally reading also the contents of the cell while arrowing through the cell editing field would really accelerate things. At least for me, when I am editing complex financial models, I must remember many cells at once. Having the content spoken when using arrow keys to edit a formula would help alot because I would know how far I must navigate upwards or dow

[2019-02-24 20:00] Adriani90 commented on #6059
@winman3000 can you still reproduce this issue?

[2019-02-24 20:09] Adriani90 commented on #6056
@dnz3d4c are you still able to reproduce this issue? I think I can reproduce it in Excel 2016 but not in Excel 2010.

[2019-02-24 20:11] Adriani90 commented on #6053
@claydiffrient are you still able to reproduce this issue? @instructure-gerrit your thoughts here would be very appreciated. I saw you did some work on this before. Thank you very much.
cc: @jcsteh

[2019-02-24 20:15] Adriani90 commented on #6050
@josephsl is the documentation of (config.conf) in process? I think at least in the addons dev guide it is somehow documented already. Right?

[2019-02-24 20:22] Adriani90 commented on #6048
Actually nowadays, if a website is developed in an accessible way, mouse over elements are reported as submenu so the user of NVDA knows that he or she can expand the elements in focus mode.
If someone can provide a test webpage where we can see the negative impact of not having this, this feature, we could assess use cases much easier.

@fisher729, @Qchristensen coul you please upload a test wepa

[2019-02-24 20:35] Adriani90 commented on #6046
The only thing which is still reproducible in IE11 is
1. Press l: no list is recognized
2. Navigate in browse mode from edit field to edit field with arrow key: the label is not read. Only when using focus mode the label is read properly.

The second issue about reading label is also reproducible in Firefox 75.0.1. In Chrome everything works correctly.

[2019-02-24 20:43] Adriani90 opened #9320 "System focus follows browse mode off: Error while trying to access a listbox in Firefox"
### Steps to reproduce:
1. Open Firefox
2. In NVDA, set systemf focus follows browse mode to off by pressing nvda+8
3. Open this website
https://support.freedomscientific.com/training/Surfs-Up/WebTrack.htm
4. Press l to navigate to the list of ordered products
5. Press enter to enter the listbox
6. Change system focus follows browse mode to on by pressing again nvda+8
7. Focusing the listbox, pres

[2019-02-24 20:43] Adriani90 commented on #9320
cc: @mltony, @michaelDCurran

[2019-02-24 20:46] Adriani90 commented on #6090
@josephsl, @Andre9642 are you still working on this? I guess this should be considered while moving to Python 3 as well.

[2019-02-24 20:47] Adriani90 commented on #6031
@Neurrone are you still having this issue?

[2019-02-24 20:51] Adriani90 commented on #6027
I think this is very important to be impelemented for future work. The more features will come to NVDA, the more probable will be that other programs or NVDA itself chrashes. I on't know if this is very complicated to implement, but I can imagine that it will help debugging things in any case.
cc: @jcsteh

[2019-02-24 20:53] Adriani90 commented on #6022
@chris0309 are you still able to reproduce this issue with NVDA 2018.4.1 or with last NVDA Alpha? Thanks!

[2019-02-24 20:56] Adriani90 commented on #6012
@jcsteh  since there is a work around for this and the initial author is ok with nvda+tab, should this be closed as "won't fix"?

[2019-02-24 20:57] Adriani90 commented on #6016
@herodees how is it with the last version of the antivirus and NVDA 2018.4.1? Is it better now?

[2019-02-24 21:16] mltony commented on #9320
Yes, I could reproduce this on my computer.
So the root cause for this is that when we call .setFocus() in certain conditions, we don't always receive the corresponding Windows gainFocus event. This problem also seems to occur in other scenarios. I'll try to see if I can rewrite the logic to avoid using async callbacks.

[2019-02-24 21:42] dnz3d4c commented on #6008
Yes, you can reproduce this issue.

[2019-02-24 23:37] jcsteh commented on #6012
I'll close this, as even though the current behaviour is not ideal, the "fix" won't provide the behaviour the reporter was originally hoping for. Note that the behaviour is now consistent between Chrome and Firefox.

[2019-02-24 23:37] #6012 closed

[2019-02-24 23:46] jcsteh commented on #6053
I can't reproduce the issue with the demo provided by the reporter. This doesn't surprise me; aria-hidden was completely re-implemented in Firefox last year and there are probably relevant NVDA fixes as well. Closing.

[2019-02-24 23:46] #6053 closed

[2019-02-24 23:50] jcsteh commented on #9312
Invalid test case. The divs have no role (implicit or explicit), so NVDA doesn't see them as relevant containers. There's no good reason not to use aria-labelledby directly on the field. if you must have a container, use role="group".

[2019-02-24 23:50] #9312 closed

[2019-02-25 00:11] #9271 closed

[2019-02-25 02:24] Neurrone commented on #6031
I'll test this again and report back.

[2019-02-25 04:31] DrSooom commented on #9318
@Adriani90: "Expected behaviour" is missing, even if it's clear for everybody. 😉

[2019-02-25 04:43] DrSooom commented on #9319
@shadyar: The error sound doesn't occur on RC and stable versions. Please change the log level to "debug" and compare again. And please list the version of Babylon (and all other browsers, where this issue occurs) too. Thanks.

Maybe related: Issue #8967. So please disconnect your braille display too and compare again.

[2019-02-25 05:34] josephsl commented on #6050
Hi, at this point, I’d rather ask Leonard for this one. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, February 24, 2019 12:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Developer Guide: Document use of config.conf for plugins (#6050)

@josephsl <https://github.com/j

[2019-02-25 05:34] josephsl commented on #5993
Hi, let’s close this one. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, February 24, 2019 11:01 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add support for BrailleNote QT basic mode (#5993)

@josephsl <https://github.com/josephsl>  is this issue still valid?

—
You a

[2019-02-25 05:56] shadyar commented on #9319
I changed the log level to "debug" and uploaded that log.
yes I have tested The error sound does not occur on RC and stable versions as well as it does not occurred using nvda_snapshot_alpha-16405,19bb21c2 (an older version).
version of Babylon: v9
Babylon gui in all later versions makes a web-view window using likely an internal browser or platform facilities. it is possible navigating   on it by

[2019-02-25 09:22] feerrenrut opened #9321 "Allow editing of inactive profiles"
### Is your feature request related to a problem? Please describe.
I am unable to edit a profile that is not active.
When creating a profile for a self voicing application, and setting the synthesizer to no speech, I have trouble making adjustments to this profile.

### Describe the solution you'd like
A way to select and edit profiles that are not active.

### Describe alternatives you've conside

[2019-02-25 09:24] Adriani90 commented on #6050
cc: @leonardder

[2019-02-25 09:26] Adriani90 commented on #5993
ok does this mean the issue is solved? Or you will not work on this in the future. If it's not solved then maybe we can find someone who can continue working on this. Thanks.

[2019-02-25 09:55] man0528 commented on #9308
I like setting it too 4400.

[2019-02-25 12:42] leonardder commented on #9300
Duplicate of #8726

[2019-02-25 12:42] #9300 closed

[2019-02-25 12:43] leonardder commented on #8726
I can now reproduce this reliably. It is pretty annoying, so I will take this one.

[2019-02-25 12:44] VasylRudnitskyi opened #9322 "NVDA doesn't announce that multiple checkbox was checked in Chrome"
### Steps to reproduce:
1. Create html page with some amount of checkboxes (in my case reproduced after 12)
2. Make JavaScript function that will check all of them after some of them will be clicked
3. Open page via Chrome, start NVDA and check this checkbox

### Actual behavior:
NVDA doesn't say that checkbox was checked
### Expected behavior:
NVDA should say that checkbox was checked

### System

[2019-02-25 13:18] francipvb opened #9324 "Context menus in Visual Studio 2017 are reported three times"
### Steps to reproduce:
1. Open _Visual Studio 2017_.
1. Go to any location that has a context menu.
1. Press <kbd>SHIFT+F10</kbd>.

### Actual behavior:
The opened menu is reported three times and recognized as a child of a dialog.
### Expected behavior:
Should be enough to report it only one time.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA vers

[2019-02-25 15:10] leonardder commented on #6050
I'm not very efficient in devoting time to documentation writing I"m afraid. May be someone on the NVDA development list could start this project?

[2019-02-25 15:14] josephsl commented on #5993
Hi, resolved as of 2018.3 (see what’s new for details). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Monday, February 25, 2019 1:27 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add support for BrailleNote QT basic mode (#5993)

ok does this mean the issue is solved? Or you w

[2019-02-25 15:15] #5993 closed

[2019-02-25 15:17] josephsl commented on #6050
Hi, at this point, Quentin and I are sort of documentation specialists… Once I get better (in terms of health), I’ll ask the community as to things that should be documented in the dev guide. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, February 25, 2019 7:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@no

[2019-02-26 08:45] dnz3d4c commented on #8882
This problem can also be reproduced in the latest NVDA alpha version.
To avoid this problem now, copy and paste the commit message.

[2019-02-26 20:48] nathanielmendoza opened #9328 "NVDA with Firefox reads page title after selecting a option from a select element"
### Steps to reproduce:
1. Go to this pen: https://codepen.io/nathanielmendoza/pen/bZNvrg
2. Get focus on the select box with tab
3. Open the option list with spacebar.
4. Select an option with enter
5. Notice that NVDA will read the page title + "document" (so in this instance, it will read "Super simple select box screen reader test (Firefox + NVDA) document"

### Actual behavior:
It will read "

[2019-02-27 03:20] carmacleod commented on #3744
@Adriani90 The [example grid link](http://whatsock.com/test/demo/Coding%20Arena/ARIA%20Data%20Grids/ARIA%20Data%20Grid%20(Dynamic)/demo.htm) that @accdc (bgaraventa) gave is working now, so the 404 must have been transient. I followed the steps quickly on Chrome (checked "selectable" and it's checkboxes), and I couldn't reproduce the problem. Perhaps it has been fixed, or perhaps it was a problem

[2019-02-27 04:03] DrSooom commented on #9328
@nathanielmendoza: Please add the Firefox version, where this issue occurs, to the issue description. Firefox 56.0.2 is currently the latest version. Thanks.

[2019-02-27 06:21] aminimalanimal commented on #5654
Sorry for the late response. It looks like Codepen doesn't keep “debug” mode active anymore, so the only thing that can be shared is a version with an iframe, which throws accessibility off.

I threw together a new example, but have yet to test it in NVDA as I don't have a virtual machine set up right now.
https://codepen.io/aminimalanimal/pen/bZNJxx

I've been really busy recently. Hopefully I'll

[2019-02-27 07:35] shadyar opened #9329 "NVDA does not navigate on windows buttons of firewall rules settings on windows 10"
### Steps to reproduce:
when you open Windows Defender Firewall on windows 10 and choose Advance settings then choose one of child items from the tree-view like inbound rules, NVDA does not navigate on buttons of firewall rules settings like "New Rule" using Tab key. it is just possible by navigation mode.
### Actual behavior:
NVDA ignores the buttons.
### Expected behavior:
you should able to nav

[2019-02-27 10:20] DrSooom commented on #9329
@shadyar: Please add the exact Win10 build number to the issue description, because it isn't clear which Win10 version you are using. Thanks.

[2019-02-27 12:36] fernando-jose-silva opened #9330 "Nvda is not re-reading the automatic completion of addresses in outlook"
### Steps to reproduce:
This is a chronic problem of nvda and outlook that returns almost always.
I am sure that it has already been discussed in other problems, and already solved, more fearful in returning.
Now a lot of things have changed, I am using nvda alphas most resentful, using office 2019 and with esperimental uia support enabled (I do not know if it makes any difference here).
Open a ne

[2019-02-27 12:46] leonardder commented on #9330
Closing as duplicate of #8502. Nevertheless, thanks for bringing this up again.

[2019-02-27 12:46] #9330 closed

[2019-02-27 19:54] nathanielmendoza commented on #9328
Updated firefox version. This is on the newest version (65.0.1). Unsure if it exists in older versions.
https://www.mozilla.org/en-US/firefox/65.0.1/releasenotes/

[2019-02-28 02:20] DrSooom commented on #9328
@nathanielmendoza: You are right – 65.0.1 is the latest version of Firefox. I confused the Firefox version with the Thunderbird version, which is currently 60.5.2. Sorry.

[2019-02-28 06:25] richardweiym commented on #7754
@derekriemer  @ehollig  @govsta1981  Could you confirm this fix is released to product line? I don't find your fix in this package, https://www.nvaccess.org/download/

[2019-02-28 06:38] govsta1981 commented on #7754
It works as expected on latest alpha, and NVDA 2018.4.

From: richardweiym <notifications@github.com>
Sent: Thursday, February 28, 2019 1:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Governor Staten <govsta@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Zoom Does Not work As Expected with NVDA (#7754)

@derekriemer <https://github.com/derekriemer>  @ehollig

[2019-02-28 06:57] richardweiym commented on #7754
@govsta1981  yes, it works,  thanks for your quick response.

[2019-02-28 08:46] Adriorjalesvidal opened #9333 "Nvda crashes on mail app Windows 10"
### Steps to reproduce:
Open mail app on Windows 10, tap enter on a receibed email, click a link into this email that opens Firefox

### Actual behavior:
NVDA becomes fully unusable and keyboard becomes locked.

### Expected behavior:
NVDA must continue beeing usable
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
NVDA 2018.4.1
#### Windows v

[2019-02-28 08:58] shadyar commented on #9329
Windows specifications
Edition: Windows 10 Enterprise
Version: 1803
OS build: 17134.590
@DrSooom

[2019-02-28 09:27] shadyar commented on #9319
The issue has been solved on NVDA Version: alpha-16863,87e09a13
thanks a lot NVDA develop team!

[2019-02-28 09:27] #9319 closed

[2019-02-28 14:45] josephsl commented on #9333
Hi, if you don’t mind, can we get a debug log and see what might be happening? CC @JCSTeh

From: Adriorjalesvidal <notifications@github.com>
Sent: Thursday, February 28, 2019 12:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Nvda crashes on mail app Windows 10 (#9333)

Steps to reproduce:

Open mail app on Windows 10, tap e

[2019-02-28 19:15] Adriorjalesvidal commented on #9333
How can i get this?

[2019-02-28 19:23] josephsl commented on #9333
Hi, you would restart NvDA with debug logging enabled, use Mail as usual, then press Control+Alt+N to restart NvDA once it crashes. Then open Start, type “%temp%” and press Enter, then attach nvda-old.log to this issue tracker. Thanks.

From: Adriorjalesvidal <notifications@github.com>
Sent: Thursday, February 28, 2019 11:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee

[2019-02-28 20:03] Adriorjalesvidal commented on #9333
Here you got the full old log, at the beginning, you can see that i’ve started configuration settings to check if debug mode enabled, but at the end i’ve been forced to stop nvda because it does not speak anything because of the mail bug, i’ve read something on the log and i’ve saw some exceptions on this. I am a programming student, so i think exceptions indicates that something was unexpected! H

[2019-02-28 23:37] aturnipseed commented on #9284
I was able to create a batch file to change it but i can only run it after the install and its making it difficult to run through SCCM.  I will be patiently awaiting the 2019.1 build to cure all of my ills.

[2019-03-01 01:29] tgeczy opened #9335 "NVDA 2018.4 sees an extra column of cells in word tables"
### Steps to reproduce:
1. Open a blank word document with Office 365 or 2016
2. Go to the ribbon and the insert tab.
3. Click "add new table.
4. Choose any desired number of columns / rows. For the purposes of this report, let there be a 4 x4 table.
5. Once created, type text in each column by moving to the next one with the right arrow.
6. you will notice that NVDA announces an extra "column 5"

[2019-03-01 03:48] DrSooom commented on #9328
Now [Firefox 65.0.2](https://www.mozilla.org/en-US/firefox/65.0.2/releasenotes/) is really the latest version. 😉

[2019-03-01 06:58] WiproCRMAccessibility commented on #9312
@jcsteh Thanks for suggesting to ad role as group.
[NVDA_Observations.zip](https://github.com/nvaccess/nvda/files/2918253/NVDA_Observations.zip)

Even though if I had role of section as group, when there are child controls with **ul** role as **menubar**  and **li** with role **menuitem**, then again NVDA is not reading the section heading.

Attached is the markup.

[2019-03-01 07:04] WiproCRMAccessibility opened #9336 "NVDA is not reading the headings of the forms"
@jcsteh Thanks for suggesting to add role as group in https://github.com/nvaccess/nvda/issues/9312

Even though if I had role of section as group, when there are child controls with **ul** role as **menubar** and  **li** with role **menuitem**, then again NVDA is not reading the section heading.
[NVDA_Observations.zip](https://github.com/nvaccess/nvda/files/2918274/NVDA_Observations.zip)

Attached

[2019-03-01 07:05] WiproCRMAccessibility commented on #9312
Raised new issue https://github.com/nvaccess/nvda/issues/9336 as this is closed.

[2019-03-01 07:10] lukaszgo1 commented on #9252
As discussed in #9259 it isn't fixed. Can someone reopen?

[2019-03-01 16:04] DrSooom commented on #8702
I recently updated and extended the issue title, the issue description and made some little corrections on the 5th comment regarding BrailleBack.

[2019-03-01 21:54] tspivey opened #9337 "Error when starting while holding down control"
### Steps to reproduce:
Start NVDA while holding down control
### Actual behavior:
[code]
### Expected behavior:
No error
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
Version: alpha-16874,8573a05b
#### Windows version:
Version 1809 (OS Build 17763.316)
#### Name and version of other software in use when reproducing the issue:

#### Other i

[2019-03-01 23:36] pbsinnett opened #9338 "When using the Chrome browser, NVDA speaks alert repeatedly when page loads on sites with Disqus comments"
NVDA 2018.4.1, Chrome 72.0.3626.119, Windows 10 17763.316

When navigating to a site with Disqus comments, NVDA will repeatedly speak alert until all the Disqus portion of the page loads. This behavior doesn't allow the loaded part of the page to be read, due to the repeated interruptions of speech. One site where this behavior is exhibited is androidpolice.com. To reproduce this behavior, just cl

[2019-03-02 03:24] fernando-jose-silva opened #9339 "when accessing some sites of Brazilian banks the keys of acceleration of nvda stop working"
### Steps to reproduce:
by accessing the websites of some Brazilian banks such as https://www.itau.com.br/ or https://internetbanking.caixa.gov.br/
The nvda keys like h for headers, e for editable fields and all the others stop working.
Nvda also stops announcing the typed characters.
I believe that the reason is a software name Warsaw 2.8.0.61 64 bits; GAS Technology that banks require the facili

[2019-03-02 16:58] k-kolev1985 opened #9340 "NVDA does not report address bar autofill in Firefox"
### Steps to reproduce:
1. Install the latest version of Firefox.
2. Launch it and press Control+L to go to the address field.
3. Start typing an URL address of a previously visited or bookmarked website.

### Actual behavior:
Firefox starts automatically completing the URL address, but NVDA does not report the auto-completion.

### Expected behavior:
NVDA should report the auto-completion done by

[2019-03-02 23:47] derekriemer commented on #7754
The appModule isn't placed in %appdata%\nvda\appModules, but rather bundled in NVDA under the programFiles directory. It's there, as confirmed below.

appModuleHandler.doesAppModuleExist("zoom") returns True

[2019-03-02 23:58] derekriemer commented on #4033
see NVDA Developers and bug smashers! ATTENTION! This is an important announcement from the department of release stability management. Recently, a new member joined the NVDA community. Her name will remain anonymous, but you may refer to her as the crash hero. In fact, she is the first NVDA superhero. She exhibits her superpower in the form of an NVDA Add-on that can save all your crash dumps in

[2019-03-03 13:04] DrSooom commented on #9340
CC: @michaelDCurran, @jcsteh and @MarcoZehe

[2019-03-03 16:54] howardgld commented on #8849
I don't like to nag but Bramd fixed my issue in October but the fix hasn't made it to the released version yet. Properly working bumper keys would make my life a lot easier. Would love to see this in 2019.1 -- if not the whole new Focus driver then at least the key table fix for the bumper keys.

Thanks.

[2019-03-03 18:24] ChrisMedley opened #9341 "Mail app in windows 10 causes NVDA to fall silent"
### Steps to reproduce:
Open the windows 10 Mail app
open a email with links within
click on any link, it doesnt seem to matter which site, and  open dfault browsr, in my case this is firefox 65
after you finished on the web page close firefox,
go back to window mail app
then more often than not NVDA fall silent
in which case NVDA has to be restarted to regain speech once again

### Actual behavio

[2019-03-03 20:07] aminimalanimal commented on #5654
NVDA 2018.4 with Edge doesn't read any of the `aria-labelledby` or `aria-describedby`-linked content when the user enters a dialog. This is true even if I make it only a single reference in each attribute.

[2019-03-03 20:47] Adriani90 commented on #9341
Do you have this issue after installing the Windows 10 app essentials addon from @josephsl?

[2019-03-03 21:43] ChrisMedley commented on #9341
yes, i have the win10 app essentials addon installed
whether that is causing the issue or not i could not tell you for sure

[2019-03-03 23:41] jcsteh commented on #9340
There are two kinds of autocompletion that occur:

1. Suggestions. These appear in a dropdown list and the active suggestion is highlighted. Prior to Firefox 64, the active suggestion would keep getting focus whenever you typed, but this caused excessive verbosity and meant that, for example, pressing backspace wouldn't report the character you erased (because the text box no longer had focus).
2.

[2019-03-04 04:18] dingpengyu opened #9342 "NVDA does not work after translating the following string"
Hello everyone, I just tested svn's new nvda.po file and found that after translating the following string and replacing it in my test environment, NVDA won't start properly. Here is the specific string:
I understand that changing these settings may cause NVDA to function incorrectly. ID: 1937
Warning! 翻译 — 中文（中国）: 警告, ID: 1935
The following settings are for advanced users. Changing them may cause

[2019-03-04 04:21] josephsl commented on #9342
Looks like regression from an attempt to tidy up the advanced panel. CC @feerrenrut

From: eric <notifications@github.com>
Sent: Sunday, March 3, 2019 8:19 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA does not work after translating the following string (#9342)

Hello everyone, I just tested svn's new nvda.po file and f

[2019-03-04 04:23] josephsl commented on #9342
Hi,

Note that this was reported to translations mailing list with another translator confirming the problem.

Thanks.

[2019-03-04 04:25] josephsl commented on #9341
Hi,

If you don't mind, can we get a debug log from you please?

Thanks.

[2019-03-04 04:27] josephsl commented on #9337
Hi,

Confirmed - I was wondering how I can produce this problem, and we finally found a way to do that.

Note that this also occurs if one holds down Alt key while restarting NVDA.

Thanks.

[2019-03-04 06:35] Michael-Detmers opened #9343 "NVDA isn't ignoring soft hyphens properly"
### Steps to reproduce:

1. Save and open the following HTML:
[code]
2. Read the document with NVDA.
3. Access NVDA's Element Browser via the NVDA-key + F7.
4. In the Element Browser, switch to headings and let NVDA read the entries to you. (Soft hyphens are shown in the display.)

### Actual behavior:
[Soft hyphens](https://en.wikipedia.org/wiki/Soft_hyphen) are splitting words and causing odd pr

[2019-03-04 07:30] k-kolev1985 commented on #9340
@jcsteh I'm talking about autofill. And yes, it is enabled in about:config - I just checked (besides that - I can see that the browser autofills the address as I type). Autocomplete suggestions in the drop-down list read when I use up/down arrow keys. But to make NVDA read the autofill initially, I have to move the focus out of the address bar (e.g. go to the menu bar with ALT) and return back to

[2019-03-04 07:54] zstanecic commented on #9342
Hi Joseph and all,

I can confirm this problem for polish and Croatian languages, when copied the latest.mo file I translated to the alpha snap.

The Unicode error is the same,

NVDA refuses to start.

Best,

Zvonimir

From: Joseph Lee <notifications@github.com>
Sent: Monday, March 4, 2019 5:23 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: R

[2019-03-04 08:21] DrSooom commented on #9343
@Michael-Detmers: Thank you very much for opening this issue, because I planned exactly the same.

But I would suggest that the user should still have the option to enable and disable filtering the soft hyphen (U+00AD) via the Browse Mode NVDA Settings. As a web developer you should have the opportunity to check the correct position of soft hyphens in all web browsers. But normally there isn't any

[2019-03-04 13:12] LadyM7lNV opened #9345 "External Synthesizer speaking "less than" character with arrowing or tabbing"
estarting your PC?

#### Have you tried any other versions of NVDA?

[2019-03-04 13:19] lukaszgo1 commented on #9345
@LadyM7lNV Can you please fill the issue template?

[2019-03-04 13:28] LadyM7lNV commented on #9345
I somehow didn't have access to the issue template..

Thank you,

--
Nancy Shackelford --Walk On Faith And Trust In Love - Michael Reid--

[2019-03-04 13:31] LadyM7lNV commented on #9345
Anytime when using external synth with NVDA and moving focus, either with tabbing or arrowing or going through tables, Etc, NVDA speaks "less than" before any word, character or line read. This is not affected in any way with any punctuation settings.

[2019-03-04 13:31] #9345 closed

[2019-03-04 18:16] leonardder commented on #1885
After thinking about more about this, I propose a restructure of the list of categories in the settings dialog, changing the list into a tree view. It could look as follows:

* General
* Speech
	+ Object presentation
	+ Document formatting
	+ ... Any other category to make the speech category itself less bloated with options
* Braille
	+ Translation
	+ Cursor
	+ Object presentation
	+ Document for

[2019-03-04 18:46] leonardder commented on #9337
This error is slightly trivial. I don't know whether it is worth it to fix it by iterating over a copy of the global plugins set, for example.

[2019-03-04 19:17] scottaohara commented on #5292
Was about to file an issue for this but GitHub's autocomplete results made me aware of this one instead :)

Just for an additional test case: https://codepen.io/scottohara/pen/vPXKMd

[2019-03-05 03:12] jcsteh commented on #9340
Thanks for the info. I can't seem to reproduce this. Do you have any NVDA add-ons enabled? If so, could you please test with them disabled? Thanks.

[2019-03-05 04:52] Qchristensen commented on #6887
Has anyone looked at this issue recently?  I had a report from a user on Twitter just now that this issue is still present.

[2019-03-05 07:44] k-kolev1985 commented on #9340
I've tried with NVDA add-ons disabled, but it is the same. I then tried with browser add-ons disabled - still the same. I don't know what's going on...

[2019-03-05 08:35] leonardder opened #9347 "NVDAHelper suggestion: Advise the user to restart the system on error"
### Is your feature request related to a problem? Please describe.
Sometimes, a user can get an error like this from NVDAHelper:

In such situations, it is almost always adviced to restart the system.

### Describe the solution you'd like
Make the error messages more user friendly by providing the advise to restart the system.

### Describe alternatives you've considered
Change the message boxes i

[2019-03-05 09:28] Brian1Gaff commented on #9347
Most of us would do this as a matter of course if we were using snaps.
However, I do also suggest that  when its been an update,  one should always
preserve a known good version as a portable copy on a desktop shortcut to
replace any broken update  with.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the d

[2019-03-05 10:27] ABuffEr commented on #9347
Hi,
I encountered this situations just a couple of days ago, thinking it was a snapshot problem and returning back to a previous version.
So I agree with pr, suggestion to restart is welcome for an advanced user too.

[2019-03-05 11:42] tspivey commented on #9347
I also encountered this. If we knew this was going to happen, I would've liked a warning before I upgraded to avoid my computer becoming unusable.

[2019-03-05 11:52] leonardder commented on #9342
Fixes in #9342, not yet in master.

[2019-03-05 11:52] #9342 closed

[2019-03-05 11:53] leonardder commented on #9347
I guess before updating, there's no way to find out whether this is
going to fail or not.

[2019-03-05 16:26] DiegoBM commented on #7948
I can reproduce this issue in Chrome consistently

[2019-03-05 16:30] jacobchawala opened #9348 "Pronunciation"
NVDA does not pronounce well some words starting with letter j and C. in some words, ja is pronounced as ya as in the words Jael. Other words that are wrongly pronounced include caecilian instead of sisilian, celtel instead of seltel , caecostomy instead of sicostomy, caecum instead of sicum, Caelum instead of silum, cainogenesis or caenogenesis instead of sinogenesis, caeruloplasmin instead of si

[2019-03-05 16:47] Mohamed00 commented on #9348
Pretty sure this is up to the synthesizer to fix, not NVDA.

[2019-03-05 17:55] DrSooom commented on #9340
Please maximaze the Firefox window with Win+ArrowUp and try again.

[2019-03-05 18:22] DrSooom commented on #9347
!@tspivey: I recommend to back up your whole system before updating NVDA or any other critical applications. And I'm talking about an image-based full backup – or an incremental or differential one later on.

@leonardder: As this type of error is new for me, three questions:
1. How does such an error influence NVDA?
2. Is it still possible to save files and different applications?
3. And is it sti

[2019-03-05 18:30] DrSooom commented on #9348
@jacobchawala: Two questions:
1. Is the behaviour between NVDA 2018.4.1 and NVDA 2019.1 Beta 1 equal?
2. Which synthesizer are you using?

And please extend the issue title too (synthesizer and language are missing). Thanks.

[2019-03-05 18:40] k-kolev1985 commented on #9340
If I'm not mistaking, in programs like Firefox and in cases such as this, it shouldn't matter - the information in question is not captured via the so called "on-screen model". Even if I'm wrong about this, my Firefox window is maximized (it always is).

[2019-03-06 00:25] fernando-jose-silva commented on #6887
I still have this problem.
windows 10 64bit 17763.348
nvda alfa 16874
c cleaner 5.54 64bit
log:
[cc.txt](https://github.com/nvaccess/nvda/files/2933728/cc.txt)

[2019-03-06 03:44] jcsteh commented on #9133
From conversations with @MarcoZehe, I believe this has been resolved after fixes in both Windows and NVDA. Marco, please reopen if you think I've closed this prematurely.

[2019-03-06 03:44] #9133 closed

[2019-03-06 08:22] DrSooom commented on #9340
Could you please download [Firefox Portable 65.0.2](https://portableapps.com/apps/internet/firefox_portable) and try it with a clean potable version of Firefox too?

[2019-03-06 09:50] DiegoBM commented on #7948
It also happens for native check-boxes by the way, not just custom ones.

This issue is dating back January last year and nobody has worked on it on more than one year, is it something that was agreed to stay as it is?

[2019-03-06 10:58] DrSooom commented on #9343
One more question: What shall we do with the new HTML5 tag `<wbr`? Any thoughts?

[2019-03-06 12:35] k-kolev1985 commented on #9340
@DrSooom No, the issue does not occur with the portable copy of Firefox. So, it is probably something in my Firefox configuration. But what - that is the million dollar question... :-)

[2019-03-06 14:46] Brian1Gaff commented on #9348
I was going to ask which synth, as using Espeak things are pretty good, but
use, say a Sappi 5 Serena for example and I become breeee an.
 A lot of this about on different synths in different languages.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-03-06 15:01] k-kolev1985 commented on #9340
@DrSooom The first 2 are present in my copy of Firefox and are set to "true". Setting the 2nd one to "false" disables autofill, which feature I actually want to use and is the one discussed in this ticket.

The last two ones are not present in my copy of Firefox.

[2019-03-06 16:05] DrSooom commented on #9340
That's because I was searching on Firefox 56.0.2, which I want to update very soon – hopefully after the next backup.

[2019-03-06 17:58] lukaszgo1 commented on #9289
Is this going to be addressed before 2019.1?

[2019-03-06 18:02] josephsl commented on #9289
Hi, hopefully addressed in the latest alpha build. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Wednesday, March 6, 2019 9:59 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Impossible to install Speech History add-on in the latest alpha (#9289)

Is this going to be addres

[2019-03-06 18:07] Adriani90 commented on #7948
cc: @leonardder, @jcsteh

[2019-03-06 18:09] Adriani90 commented on #4033
cc: @nvdaes

[2019-03-06 18:10] lukaszgo1 commented on #9289
Unfortunately still fails in NVDA version alpha-16885,2ed7dbae

[2019-03-06 18:12] josephsl commented on #9289
Hi, yep, in this case, this is something add-on authors will definitely need to look into. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Wednesday, March 6, 2019 10:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Impossible to install Speech History add-on in the latest

[2019-03-06 18:12] Adriani90 commented on #5951
@jscholes are you still available?

[2019-03-06 18:13] Adriani90 commented on #6050
cc: @Qchristensen

[2019-03-06 18:16] leonardder commented on #9289
I think that this is not something that should be fixed on NVDA's end, as it is strictly spoken a problem in the add-ons manifest file.

[2019-03-06 18:17] Adriani90 commented on #6132
@FrancoisLB that addon is known for causing several conglicts in Office programs. Could you please test with disabled addons if this issue is still occuring? Thanks!

[2019-03-06 18:19] leonardder commented on #5951
I'm also pretty sure that wx doesn't set focus correctly if we don't do this explicitly.

[2019-03-06 18:19] jscholes commented on #5951
As far as I know, this is still an issue in wxPython.  But since I filed this issue the Settings dialog has been completely revamped.  Originally, I filed it because of the way a particular add-on (ABuffEr/rapidSettings) worked, but the new unified Settings dialog makes that add-on obsolete.  Feel free to close it.

[2019-03-06 18:21] Adriani90 commented on #6123
This issue is still reproducible in Chrome 71. The status expanded or colapsed is not announced on the button submenu. In other browsers it works properly. Could it also be a bug in Chrome?
cc: @derekriemer

[2019-03-06 18:22] jscholes commented on #9289
Agree with @leonardder.  Haven't got around to fixing it yet but I'd be happy to accept a pull request :)

[2019-03-06 18:22] Adriani90 commented on #6119
cc: @jcsteh

[2019-03-06 18:23] jacobchawala commented on #9348
Yes. The behaviour between NVDA 2018.4.1 and NVDA 2019.1 Beta 1 is equal. I
am using Espeak NG. however, I have tested using windows onecore voices and
microsoft SAPI version 5, mentioned words were pronounced well by using
windows onecore voices and Microsoft API version 5. if this is the
synthesizer case and not NVDA, let us send these mentioned English words
and others to the company manufactur

[2019-03-06 18:24] Adriani90 commented on #6115
is disabling speech viewer on secure screens still being an option which has to be explored? cc: @leonardder

[2019-03-06 18:26] Adriani90 commented on #6108
@MichelSuch are you still available?

[2019-03-06 18:27] Adriani90 commented on #6103
@tgeczy are you still on Github and available to test? Is this issue still reproducible?

[2019-03-06 18:30] lukaszgo1 commented on #9142
Duplicate of #6108.

[2019-03-06 18:31] leonardder commented on #6115
I think we could accept a pr in which the speech viewer is disabled in secure mode. I think it is hardly used on secure screens, so it won't hurt anyone while having the benefit of giving the user the ability to forcefully disable it.

[2019-03-06 18:32] Adriani90 commented on #6098
@ZachPeters I cannot reproduce this issue in last NVDA Alpha version anymore. Are you still having this issue?

[2019-03-06 18:37] Adriani90 commented on #6097
This is still reproducible in Chrome 71. cc: @jcsteh, @derekriemer

[2019-03-06 18:38] Adriani90 commented on #6095
@dan1982code are you still having this issue with last NVDA Alpha?

[2019-03-06 18:41] Adriani90 commented on #6224
@beqabeqa473, @jmh-aira are you still having this issue in last NVDA version and last IntelliJ version?

[2019-03-06 18:49] dan1982code commented on #6095
Yes. It's as if when only the final character changes, NVDA misses it and speaks nothing. Thanks!

[2019-03-06 18:50] Adriani90 commented on #6155
This is still reproducible, at least in Word 2010. @qchristensen could you test enabling UIA in Word 2016 and see if the issue is still occuring?

[2019-03-06 18:55] Adriani90 commented on #6211
in my opinion this is software language, we also usually say up to end of line or up to end of page. So I would suggest to close this because is a really small detail and it does not bring really any improvements. It causes work for developers / translators or who ever would raise a pull request for this. I would say let's put more energy in more important problems rather than concentrating on suc

[2019-03-06 19:03] Adriani90 commented on #6149
I would also propose a combobox which allows to decide which update channel to stay on. We had lots of situations in the past where users reported major bugs just after a final release and then a 201x.x.x followed a week after or so. It causes regressions and additional work for developers who actually could rather concentate on alpha builds for the next version and not on bugs which have been rep

[2019-03-06 19:08] tgeczy commented on #6103
@ehollig and @Adriani90 - it's definitely not as severe of an issue now, but I'm noticing on this page that with Edge you can only read aria-describedby tags if you focus the image with the G key. Object nav in FireFox will still let you enter an SVG with object nav and see empty graphics; But this is not high impact to users. The main thing with Edge reporting multiple SVG paths is at least solve

[2019-03-06 19:12] Adriani90 commented on #6217
this is still reproducible in Word 2016 and 365 also when UIA is enabled.

[2019-03-06 19:23] Adriani90 commented on #6209
This seems to be very inconsistent between browsers. I have tested both code pieces. Both of them work correctly only in Google Chrome and Edge, there is no issue.

In Firefox 65.0.2 and last NVDA Alpha, with the first code piece in the description, NVDA reports the label but not the description. With the second code piece in the comment above, NVDA does not report the label neither the descriptio

[2019-03-06 19:31] Adriani90 commented on #6208
@jmuheim is this still an issue for you?

[2019-03-06 19:32] Adriani90 commented on #6156
@Qchristensen are you still able to reproduce this issue? Is it also occuring with UIA enabled?

[2019-03-06 19:36] Adriani90 commented on #6198
@chrishanpeiris I cannot reproduce this in NVDA 2019.1 Beta 1. Are you still able to reproduce it?

[2019-03-06 19:38] Adriani90 commented on #6135
@jammerhexe are you still able to reproduce this issue? Is it working with NVDA 2019.1 Beta 1?

[2019-03-06 19:39] Adriani90 commented on #6196
@nishimotz there were several improvements made regarding to similar issues. Are you still able to reproduce the issue in NVDA 2019.1 Beta 1?

[2019-03-06 19:40] Adriani90 commented on #6187
@hkdennis2k could you please post an example so we can reproduce this issue? Thanks.

[2019-03-06 19:42] Adriani90 commented on #6185
@surfer0627 are you still able to reproduce this issue in NVDA 2019.1 Beta 1?

[2019-03-06 19:44] Adriani90 commented on #6181
@ReWWeR do you see any improvements in NVDA 2019.1 Beta 1 regarding this issue? Thanks.

[2019-03-06 19:53] Adriani90 commented on #6145
This is still reproducible in NVDA 2019.1 Beta 1 and Word 2016 and 365. Enabling UIA does not make any difference. Important to note, it is even not possible to browse the list with object navigation eather. You can only review the current selected symbol in the list but browsing the list does not trigger any speech event.

[2019-03-06 19:55] Adriani90 commented on #6141
@Qchristensen are you still able to reproduce this issue in NVDA 2019.1 Beta 1?

[2019-03-06 19:56] Adriani90 commented on #6139
@feerrenrut, @jcsteh is this still an issue with WX Python 4.0.4? Or can it be closed? Thanks.

[2019-03-06 19:57] Adriani90 commented on #6133
@vgjh2005 is this still an issue in NVDA 2019.1 Beta 1?

[2019-03-06 21:20] Fatihyuksek opened #9349 "Cannot access presentations with NVDA on power point viewer"
### Steps to reproduce:
open power point viewer. You will notice that you cannot read the presentations with NVDA
### Actual behavior:
NVDA does not read the contents of any slide with power point viewer
### Expected behavior:
NVDA reads any slide automatically upon pressing space or some other key
### System configuration
#### NVDA installed/portable/running from source:
no
#### NVDA version:
201

[2019-03-06 22:40] jammerhexe commented on #6135
Yes, Klicktel still isn‘t accessible. The iso image of the old version should exist on my nas

This is an I-Mail

[2019-03-07 00:41] chrishanpeiris commented on #6198
Sorry I haven't use it after that project.

[2019-03-07 06:02] Michael-Detmers commented on #9343
Since its purpose is to affect how a line of text is displayed, I'd vote for it to be generally ignored as well. And, as you suggest, there would have to be an option to read all punctuation and special characters verbatim for development and quality assurance purposes.

[2019-03-07 06:08] leonardder commented on #9349
I assume power point viewer works similar to Power Point's view mode, invoked when pressing F5 in Power Point?

[2019-03-07 06:10] leonardder commented on #8328
I think the overall conclusion of this issue is that UIA for SysListView32 is pretty slow. Closing for now, we can always reopen if desired.

[2019-03-07 06:10] #8328 closed

[2019-03-07 06:14] leonardder commented on #4837
I once started with this as a first attempt to contribute to NVDA. It always got stuck at the problem that when reporting of graphics was disabled, they disappeared completely rather than the graphic role not being spoken. As my knowledge about the NVDA source has increased since then, I will dive into this again when time permits.

[2019-03-07 07:49] lukaszgo1 commented on #9289
@josephsl @leonardder From the developer perspective it makes sense to say that it is an add-on problem and close it, But for an end user it is simply something which worked and then stopped without a good reason. Validating add-on name, authors and description gives nothing and as seen here might cause problems. Even if Speech History would be fixed we would never know if some other add-on isn't

[2019-03-07 09:39] FelixGruetzmacher commented on #8389
I completely lost track of this one even though I reported it, and even though I still think it has showstopper impact for obvious reasons, what with focus tracking being so essential. Could anyone please provide some insight on who is working on this and in which way?

[2019-03-07 09:42] leonardder commented on #8389
I'm afraid there is noone working on this as it is currently still very difficult to find out what's happening. I recall @derekriemer started doing something with more advanced event logging.

[2019-03-07 12:57] DrSooom commented on #9349
Source: [Microsoft Office Support – View a presentation without PowerPoint](https://support.office.com/en-us/article/view-a-presentation-without-powerpoint-2f1077ab-9a4e-41ba-9f75-d55bd9b231a6)

[2019-03-07 14:43] Fatihyuksek commented on #9349
I downloaded this from another website. I have office starter and it doesn’t include power point in it. I need this for my education in univercity

iPhone’umdan gönderildi

Daniel Mayr <notifications@github.com<mailto:notifications@github.com>> şunları yazdı (7 Mar 2019 15:58):

PowerPoint Viewer was retired on April 30, 2018. It's no longer available for download.

Source: Microsoft Office Suppor

[2019-03-07 15:35] Brian1Gaff opened #9350 "Add ons manager in Firefox flaky in latest 65 version"
### Steps to reproduce:
Launch firefox 65 in windows 7, go to add on manager. Attempt to navigate the dialogue. You will find some of the options that previously scrolled round themes,  extensions etc, go away when you try to move. They do still work but are not spoken.

### Expected behavior:
It should work as it used to, so when you select the themes or extenssions you tab to that list. That wil

[2019-03-07 16:33] DrSooom commented on #9349
@Fatihyuksek: Which version of the PowerPoint Viewer are you using?

Sadly LibreOffice Impress 6.2.1 seems not to work really well together with NVDA in the presentation mode too. (I tested this right now.)

[2019-03-07 16:36] DrSooom commented on #9350
CC: @jcsteh and @MarcoZehe; Maybe already fixed in the upcoming 66.0?

[2019-03-07 16:45] MarcoZehe commented on #9350
Yes, 67 in any case, don't recall which of the fixes got uplifted to 66. But yes this will improve shortly.

[2019-03-07 16:55] fernando-jose-silva opened #9351 "Make nvda advertise end when navigating character by character during screen exploration"
to reproduce:
When using the screen exploration and browsing line by line with nvda + arrow assume and below and navigating by words with nvda + ctrl + right and left arrows.
The nvda when it finds the end informs end.
But when navigating with nvda + right and left arrow the nvda does not announce that it came at the end or at the beginning.
### Actual behavior:
When navigating with nvda  + right

[2019-03-07 17:20] jmn90 commented on #6606
I also have a similar issue when the focus goes from a button to a section or button that was hidden. The focus goes to the right element, but NVDA never read the content. I tested with chromeVox and it works.

https://codepen.io/jmnoeltink/pen/BbppOm

[2019-03-07 17:53] vincent-lg opened #9352 "Report HTML alerts in Braille"
Alerts in HTML, using the "alert" ARIA role, are not reported in Braille.

### Steps to reproduce:

Here's a single HTTML/JavaScript script:

[code]

This example comes from [the ARIA official examples](https://www.w3.org/TR/wai-aria-practices-1.1/).

### Actual behavior:

Currently, the text is spoken on alert, but nothing is displayed on the Braille display.  Normal?  Perhaps such a feature woul

[2019-03-07 19:22] rjsandefur1979 commented on #7885
Does anybody know if discord is on gethub? If so, I wonder if it's possible to share this nvda repository with them? I'm new here.

[2019-03-07 20:55] jcsteh commented on #9350
This is fixed for Firefox 66, as both patches got uplifted from 67. https://bugzilla.mozilla.org/show_bug.cgi?id=1525569 https://bugzilla.mozilla.org/show_bug.cgi?id=1525937

[2019-03-07 20:55] #9350 closed

[2019-03-07 21:01] Adriani90 commented on #9351
@fernando-jose-silva I cannot reproduce the issue. When I use nvda+left and right arrow, NVDA tells me when I am at the left or right side of the line. Did you try it with NVDA language set on inglish? Did you try another synthesizer? Which addons do you have installed?

[2019-03-07 21:06] Adriani90 commented on #5951
Closing as requested. If there are specific issues related to this topic, please comment on this and we can reopen it. or create a new issue if needed. Thanks.

[2019-03-07 21:06] #5951 closed

[2019-03-07 21:12] Adriani90 commented on #6103
@jcsteh how do you see the impact of this issue in Firefox at least? At least for me, I am dealing often with diagrams in .svg format on financial websites. As of now we are still using IE at work but soon we will be changing to Firefox.

[2019-03-07 21:17] Adriani90 commented on #6103
If you look at the first two svg images (rectangle grafic) they contain the description "rectangle a grid of 3x3 = 9 rectangles". This information is very important for many grafics, i.e. diagrams. In firefox, you get the description only when you use g in browse mode or when you use object navigation. I would prefer to get this information also when navigating by arrow keys in browse mode but I t

[2019-03-07 21:22] Adriani90 commented on #6103
When using IE, the description of the rectangle svg is being reported also while using arrow keys to navigate. But on the second and third svg image in IE I get following error in the log file:

[code]

[2019-03-07 21:25] Adriani90 commented on #6095
cc: @leonardder

[2019-03-07 21:27] Adriani90 commented on #6135
Ok so you tested with last clicktel version. Right?

[2019-03-07 21:28] Adriani90 commented on #6198
Closing as works for me. If the issue comes up again, fell free to comment on this one and we can reopen it. or you can open a new one. Thanks for reporting.

[2019-03-07 21:29] #6198 closed

[2019-03-07 21:31] Adriani90 commented on #9252
I am not sure if this is related to UIA. But anyway I am able to reproduce this issue in Word 2010.

[2019-03-07 21:35] Adriani90 commented on #9142
Closing as duplicate. @lukaszgo1 great pick! :-) Thanks for your assistance!

[2019-03-07 21:35] #9142 closed

[2019-03-07 21:42] Adriani90 commented on #6606
cc: @jcsteh

[2019-03-07 21:58] elliott94 commented on #6211
In my opinion this is incorrect and is aimed at users rather than developers - however, I do also agree that it's just a case of changing a really small detail so am open to thoughts from other users on this.

[2019-03-07 22:32] jammerhexe commented on #6135
No, as you know Klicktel comes two times a year.  My issue is from spring 2018. but I suppose they haven‘t changed someting of the osm since many year years

This is an I-Mail

[2019-03-08 00:52] fernando-jose-silva commented on #9351
I'm on another machine with the Windows 10 version 17763 different and this worked.
If you can wait until Monday please, I will have contact with the machine with problems for new

[2019-03-08 07:11] Awalvie commented on #8274
Hey there, I am trying to work on the issue and was looking at the PR, can someone let me know why the PR was not merged so maybe I can fix the problem ?

[2019-03-08 10:13] Brian1Gaff commented on #9350
Thanks, I was not sure whether it was a chicken or an egg situation!

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "James Teh" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Brian Gaff" <bglists@blueyonder.co.uk>; "Author"

[2019-03-08 11:10] feerrenrut commented on #8274
@Awalvie please read the PR carefully. There are many outstanding issues, the final comment does a pretty good job of summarising them. There are two aspects to this problem, and I think we can accept them as individual PRs:
- The first would be the simpler approach, but would probably be made redundant by the second, and solves part of the problem but not all of it. When there are no addons, or a

[2019-03-08 13:36] Awalvie commented on #8274
Alright, I am mostly a beginner so I think I should start with working on the first part of the problem and then work on the next part. Thanks for explaining the problem to me I'll try to get this implemented.

[2019-03-08 15:20] ChrisMedley commented on #9341
[1-NVDA log.txt](https://github.com/nvaccess/nvda/files/2946334/1-NVDA.log.txt)

[2019-03-08 16:47] josephsl commented on #9341
Hi, looks like the app module/tree interceptor isn’t cleaned up properly, raising COM error exception. I’ll do something about it from WinTenApps side later today. CC @MichaelDCurran

From: ChrisMedley <notifications@github.com>
Sent: Friday, March 8, 2019 7:21 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: R

[2019-03-08 17:06] Adriani90 commented on #6225
@praedicta are you still available? Your links in the description are not working anymore. could you please upload two working examples so we can reproduce this issue? Thanks!

[2019-03-08 17:23] Adriani90 commented on #6304
@TylerK93 are you still having this issue? @mohammad-suliman could you please test if this is still reproducible? We are not sure if the initial author is still available. Thank you!

[2019-03-08 17:34] Adriani90 commented on #6297
@michaelDCurran, @leonardder I can reproduce this issue in both, Word 2016 and word 2010 with UIA disabled and enabled. In Word 2016, I get following error in the log:

[code]

[2019-03-08 17:36] Adriani90 commented on #6297
As you can see, there is a major performance issue in the elemnts list and the tree view for annotaions is empty although there are annotations in the document. It could be also caused by a Macro which has apparently been recorded anytime in the past but I don't think so.

[2019-03-08 17:38] Adriani90 commented on #6294
@nishimotz are you still able to reproduce this issue with NVDA 2019.1 Beta 1?

[2019-03-08 17:46] Adriani90 commented on #6290
As of now, out of link is being reported when reading with say all in Outlook. But out of heading is not reported. I think the author means NVDA should not report out of link while say all. In Firefox and Chrome NVDA does not report out of link etc when using say all.

[2019-03-08 17:50] Adriani90 commented on #6283
@mpreyskurantov are you still able to reproduce this issue?
cc: @jcsteh

[2019-03-08 17:55] ChrisMedley commented on #9341
thanks Joseph

[2019-03-08 17:55] Adriani90 commented on #6277
actually this should be kind of possible with the new scratch pad directory in NVDA 2019.1 Beta 1 if I am not wrong. @josephsl what do you think?

[2019-03-08 17:55] Adriani90 commented on #9341
Is this now solved?

Von: ChrisMedley <notifications@github.com>
Gesendet: Freitag, 8. März 2019 18:55
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Mail app in windows 10 causes NVDA to fall silent (#9341)

thanks Joseph

—
You are receiving this because you commented.
Reply to this email

[2019-03-08 17:58] Adriani90 commented on #6273
I agree that navigating the alt text and description should be possible with arrow keys like it is currently possible in browsers. At least in browse mode.

[2019-03-08 18:00] Adriani90 commented on #6272
@bhavyashah are you still available? Can you reproduce this issue with last NVDA 2019.1 Beta?

[2019-03-08 18:00] josephsl commented on #9341
Hi, just because I have opened a pull request should not be a reason to assume that: you can close this issue, and it is resolved all the way. Therefore, I’m reopening it. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, March 8, 2019 9:56 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [n

[2019-03-08 18:01] josephsl commented on #6277
Hi, I’d defer that question to @LeonardDer and @feerrenrut at this time as I’m out of office at the moment. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, March 8, 2019 9:55 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Support unpacked addons in development mode (#6277

[2019-03-08 18:02] Adriani90 commented on #6270
@Qchristensen is this still reproducible with NVDA 2019.1 Beta 1?

[2019-03-08 18:04] josephsl commented on #9341
Hi,

Before I officially leave office (for a vacation), I'll release Windows 10 App Essentials 19.03.1 that will bring this fix for people using stable version(s) of NVDA. The official fix has been sent to NV Access for review.

Thanks.

[2019-03-08 18:10] Adriani90 commented on #6263
I can still reproduce this issue in Windows 10 1809 update with NVDA 2019.1 Beta 1. cc: @josephsl

[2019-03-08 19:36] svenka22 commented on #9192
Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-08 19:45] svenka22 opened #9354 "Placeholder not getting announced on Chrome"
### Steps to reproduce:

- Go to https://login.microsoftonline.com on Chrome (this does not happen on Edge or other browsers)
- Have NVDA running
- Navigate to the username text box
- Find attached [NVDA not reading placeholder  after selecting use another account.zip](https://github.com/nvaccess/nvda/files/2947218/NVDA.not.reading.placeholder.after.selecting.use.another.account.zip)

### Actual b

[2019-03-08 21:51] Adriani90 commented on #6253
@lpintes are you still having this issue with NVDA 2019.1 Beta 1 and last version of Akelpad?

[2019-03-08 21:53] Adriani90 commented on #6253
you ofcourse must save the configuration because this should save also your profile settings.

[2019-03-08 21:57] Adriani90 commented on #6256
Did anyone report this already to Microsoft?

[2019-03-08 22:05] Adriani90 commented on #6246
I can reproduce this issue in Firefox 65.0.2 and Edge. In Chrome, every svg is recognized properly by NVDA. In IE, only the label and description of the first svg is not recognized by NVDA. So, as usual, this is very inconsistent among browsers.
@jcsteh any idea why NVDA does not recognize the first two SVGs in Firefox at all?

[2019-03-08 22:12] Adriani90 commented on #6245
I can confirm that the add-on Windows 10 app essentials by @josephsl fixes the double or tripple reporting issue. I hope this fix will be integrated into NVDA itself soon.

[2019-03-08 22:13] Adriani90 commented on #6245
Apart from that, NVDA 2019.1 Beta 1 is very responsive in the task manager in Windows 10 1809 update. So this is not an issue anymore.

[2019-03-08 22:23] Adriani90 commented on #6244
I agree that reporting the rearangement of slides in thumbnail pane in Powerpoint would really improve user experience when creating structured presentations.

[2019-03-08 22:27] Adriani90 commented on #6236
@fernando-jose-silva, @bdorer is this still an issue in NVDA 2019.1 Beta 1?

[2019-03-08 22:32] Adriani90 commented on #6228
I confirm this is still reproducible with NVDA 2019.1 Beta 1. It also occurs when focusing the combobox "font" and then pressing shift+tab.

[2019-03-08 22:51] Adriani90 commented on #6405
this is related to #8999.

[2019-03-08 23:06] Adriani90 commented on #6405
I am closing this one in favor of #8999 because the example provided there can be reproduced reliably both in Chrome and Firefox.

[2019-03-08 23:06] #6405 closed

[2019-03-08 23:11] Adriani90 commented on #6392
Ok after many discussions, I see the concerns about this. The website is official and constitutes a legal asset of an organization. So it cannot be translated by everyone since there could apear legal issues due to miss translations etc. This issue should be discussed directly with NV Access and they are the only people who can proceed with this. I am closing this one because NV Access is well awa

[2019-03-08 23:14] Adriani90 commented on #6387
@khsbory could you please test if this issue is still reproducible? Thanks!

[2019-03-08 23:28] Adriani90 commented on #6353
@denny89k when I load your code in IE, NVDA reports:
"bullet text 1
bullet text 2".

In Firefox and Chrome the listbox is displayed properly. In IE there is no listbox at all.

[2019-03-08 23:30] Adriani90 commented on #6327
@leonardder did you reproduce this issue during last months? Or can we close it?

[2019-03-08 23:33] Adriani90 commented on #6381
This is still reproducible in NVDA 2019.1 Beta 1.

[2019-03-08 23:37] Adriani90 commented on #6375
@wallaceid, @AlexandreMooc, @sucharugupta are you still having this issue? I cannot reproduce it with NVDA 2019.1 Beta 1 and Outlook 2016 / 365.

[2019-03-08 23:41] Adriani90 commented on #6373
@wallaceid, @sucharugupta are you still reproducing this issue? For me it works very well with NVDA 2019.1 Beta 1. It is not too verbose.

[2019-03-08 23:48] Adriani90 commented on #6364
I am not sure if this is bad implementation from the web developer though. Actually in every browser the control type is not anounced. NVDA only reports "your device".

[2019-03-08 23:48] Adriani90 commented on #6364
cc: @leonardder

[2019-03-08 23:49] Adriani90 commented on #6364
Note that for example in focus mode you even don't get the label reported by NVDA.

[2019-03-08 23:57] Adriani90 commented on #6330
Disabling logging is now possible in NVDA 2019.1 Beta. @zahyur, is this issue now still significant even with disabled logging?

[2019-03-08 23:58] Adriani90 commented on #6322
@pranavlal are you still having this issue with NVDA 2019.1 Beta 1?

[2019-03-09 00:01] Adriani90 commented on #6315
cc: @josephsl

[2019-03-09 01:41] fernando-jose-silva commented on #6236
The problem still occurs, but only with the uac user access control at 34%.
Updated updates, nvda alfa 16885 and windows 10 17763.348

[2019-03-09 02:23] nishimotz commented on #6294
I have not tested with beta, however, not reproduced the issue with the setup as follows:

* NVDA alpha 16885
* Windows 10 version 1809 64bit Japanese
* Office 365 Excel version 1902

[2019-03-09 02:31] nishimotz commented on #6196
I have not tested with beta, however, not reproduced the issue with the setup as follows:

* NVDA alpha 16885 (tested with both Word UI Automation is turned on and off)
* Windows 10 version 1809 64bit Japanese
* Office 365 Outlook version 1902

[2019-03-09 02:44] fernando-jose-silva opened #9356 "In the action level selector of the uac the nvda does not read the values when they gain focus with the arrows"
### Steps to reproduce:
In the start menu look for:
Change User Account Control settings
In the open window walk with tabe until:
levels of notification.
now toggle the slider control with the up and down arrows.
### Actual behavior:
When walking with the arrows the nvda is mute.
### Expected behavior:
When changing the values with the arrows the nvda should read the value currently focused.
### S

[2019-03-09 06:22] gdata1 opened #9357 "edge chromium"
Hello. Microsoft is developing a new edge based on chromium. Do you know anything about his initial support for Nvda?

[2019-03-09 06:46] nvdaes commented on #7880
Hello: A user of a spanish mailing list for NVDA thinks that maybe possible to make Avast accessible using browse mode, like done in JAWS:

https://nvdaes.groups.io/g/lista/message/562

Thanks

[2019-03-09 07:55] leonardder commented on #9357
It is most likely that Edge support will be similar to the Chrome support. Having said that, the github issue tracker is meant to report issues or suggest features. Questions like this can be asked on the NVDA user group or development list.

[2019-03-09 07:55] #9357 closed

[2019-03-09 08:20] leonardder commented on #6327
Nope, good catch. This seems to have been fixed.

[2019-03-09 08:20] #6327 closed

[2019-03-09 09:15] Brian1Gaff commented on #6330
Hmm, any drive that full, though is not going to work very well with windoze
is it? :-)

However i wonder if disabling the log might fix my issue when nvda won't
restart after an update, as it is clear that it is trying to write to the
log that creates the problem if the log file is still locked.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blue

[2019-03-09 10:12] Adriani90 commented on #6294
@nishimotz thank you very much for your availability. This is great. Closing as works for me.

[2019-03-09 10:12] #6294 closed

[2019-03-09 10:14] Adriani90 commented on #6196
@nishimotz thank you very much. Closing as works for me.

[2019-03-09 10:14] #6196 closed

[2019-03-09 10:20] Adriani90 commented on #7880
The question is, whay does it work with Jaws but not with NVDA? Even with Jaws 2019 in Windows 10 it works fine. cc: @leonardder

[2019-03-09 10:25] Adriani90 commented on #6413
@PratikP1 could you please give an example where an user would need to access the child of such a parent?

[2019-03-09 10:38] Adriani90 commented on #6469
I get also following error:

[code]

The dialog is not closing. You can press ok or apply, it doesn't matter.

[2019-03-09 10:57] Adriani90 commented on #6453
This is only reproducible in Excel 2016 / 365 with NVDA 2019.1 Beta 1.
I get following errors in the log while navigating after leaving the dropdown list:

[code]
cc: @lukaszgo1, @leonardder.

[2019-03-09 10:58] Adriani90 commented on #6453
And this is the developer ing:

[code]

[2019-03-09 11:03] Adriani90 commented on #6459
This seems also to be the case in Excel 2016 / 365. cc: @lukaszgo1

[2019-03-09 11:08] Adriani90 commented on #2575
It is even worse in Excel 2016 / 365, the dropdown / filter cannot be recognized at all. NVDA reports "undknown" and I get following errors:

[code]
cc: @lukaszgo1

[2019-03-09 11:14] Adriani90 commented on #6452
This is still reproducible in NVDA 2019.1 Beta 1.

[2019-03-09 11:23] lukaszgo1 commented on #6330
I am not @zahyur, but in my view it still is significant. Imagine the following I've actually experienced it a few times when I had small SSD in my laptop:
1. User starts downloading something big some torrent containing a few iso's for various distros or something similar.
2. For some reason or another he has to restart NVDA during download without realizing, that it makes his c drive almost full

[2019-03-09 11:26] Adriani90 commented on #6457
@Regis-ID-and-T could you please upload an example where we can reproduce this imediately without having to iframe anything? At least for me it is not possible to do it at this time. Thank you for your assistance.

[2019-03-09 11:29] Adriani90 commented on #6455
Now that the checable list PR is merged, which are the next steps regarding this issue? I guess most accessibility properties are now in place and specific cases must be treated one by one. Or are there any additional properties to be added?
cc: @leonardder

[2019-03-09 11:34] Adriani90 commented on #6448
@jcsteh since flash support is being dropped soon in most browsers, what should happen with this issue? I suggest for closing anyway, because there are logic arguments why it should stay as it is now.

[2019-03-09 11:40] Adriani90 commented on #6444
The annotation is actually already read, but in case of comments it is not. I suggest opening a new issue only for reading content of comments when pressing a and shift+a. I will close this because all other points are actually already quite intuitive in NVDA already.

[2019-03-09 11:40] #6444 closed

[2019-03-09 11:42] Adriani90 commented on #6444
While reading the comments I saw that reporting content of comments while navigating through the document is already covered in the issue referenced by @Qchristensen in his comment above. Thanks.

[2019-03-09 11:50] Adriani90 commented on #6443
@vgjh2005 you can actually see that there is an image with the object navigation.
1. Press t to go to the table
2. Press nvda+shift+left arrow with laptop keyboard layout

NVDA will report "grafic". In my view this is an information we really do not need because the grafic does not contain any relevant information for the purpose of the website. For people who want to explore it anyway, they can u

[2019-03-09 11:53] Adriani90 commented on #6431
@Elshara in your first example the controls are actually accessible. In the second example there is a html5 object and not a flash object. This is also fully accessible.
Are you still having this issue though?

[2019-03-09 12:12] Adriani90 commented on #6440
Closing as works for me, it works properly in Firefox 65.0.2 and Chrome. For what ever reason, table navigation works only when braille support is enabled.

[2019-03-09 12:13] #6440 closed

[2019-03-09 12:15] Adriani90 commented on #6438
cc: @nvdaes

[2019-03-09 12:18] Adriani90 commented on #6428
are this not information which can be added to the status bar which can be reached with f6? If you open the context menu in the status bar you can actually add new things to it. Or am I wrong?

[2019-03-09 12:21] Adriani90 commented on #6414
@dkager could you please test if this is still reproducible in NVDA 2019.1 Beta 1? I think there were improvements related to this (see referenced pull requests).

[2019-03-09 12:23] Adriani90 commented on #6421
@minorninth is this issue still reproducible with last NVDA Alpha or Beta version?

[2019-03-09 12:25] Adriani90 commented on #6423
@jacobchawala there were significant improvements made in last NVDA Alphas regarding to MS Word. Could you please test once more with last Beta version 2019.1 and report if it is still slow? Thank you very much.

[2019-03-09 12:25] Adriani90 commented on #6423
at least for me now it works much much faster.

[2019-03-09 12:27] leonardder commented on #6273
Arrowing through the content of graphic alternative texts is not as easy as you may think. In browsers such as Firefox and Chrome, the graphic descriptions are rendered into the virtual buffers, and therefore it is possible to navigate their content. IN Edge, Word and LibreOffice however, the alt texts aren't considered part of the content, and so you can't navigate through them.

[2019-03-09 12:27] Adriani90 commented on #6420
@btman16, @fernando-jose-silva this should be resolved in NVDA 2019.1 Beta 1. Could you please test if the issue is still occuring? Thanks!

[2019-03-09 13:53] fernando-jose-silva commented on #6420
I no longer have access to problematic machines.
But in tests on a machine with windows 10 17763.348, nvda alfa 16885 and office 2019 everything works fine.

[2019-03-09 13:58] Elshara commented on #6431
You could say that yes. Especially with newer releases of NVDA, I'm
finding no flash objects are accessible anymore. The browser just
crashes when NVDA tries to interact with it.

On 09/03/2019, Adriani90 <notifications@github.com> wrote:

[2019-03-09 15:07] Novalis7747 commented on #6443
from my point of view I don't see any advantage of getting images without an alt tag announced. As stated before, we're getting notified if any action is combined with the image, and that's enough information, at least for me. Even if I would be notified about such images, what should I do with that kind of an image?
Maybe we can think about an additional checkbox in the document settings, like "a

[2019-03-09 16:07] bdorer commented on #6236
This problem exists with UAC set to 34%. If you set UAC level higher all
works. I tested with latest next version and Windows 10.0.17763.

Am 08.03.2019 um 23:27 schrieb Adriani90:

[2019-03-09 16:13] Adriani90 commented on #6443
Cc: @leonardder

Von meinem iPhone gesendet

[2019-03-09 21:11] rjsandefur1979 commented on #7885
#Discord is on github. https://github.com/discordapp

[2019-03-09 21:18] rjsandefur1979 commented on #7885
@ I did look and discord has 99 repositories.

[2019-03-09 21:19] Adriani90 commented on #9320
Since the pr was reverted, I am closing this as invalid. Will reopen it if I will see it again after the pr has been merged again. Thanks.

[2019-03-09 21:19] #9320 closed

[2019-03-09 21:23] Adriani90 commented on #9318
Ok this seems not to occur anymore in 2019.1 Beta 1. Closing as works for me.

[2019-03-09 21:23] #9318 closed

[2019-03-09 21:26] Adriani90 commented on #9317
It is important to notice that this has not an obvious user impact, as long as the cell does not contain a dropdown list. If a dropdown list is contained, then NVDA cannot locate the dropdown after expanding the list and choosing an item. I guess the com error is one of the reasons for that.

[2019-03-09 21:27] Adriani90 commented on #9316
In 2019.1 Beta 1 this does not occur anymore, everything is fine so far. Closing as works for me.

[2019-03-09 21:27] #9316 closed

[2019-03-09 21:41] Adriani90 commented on #9040
This seems solved in Firefox 65.0.2 and NVDA 2019.1 Beta 1. Closing as works for me.

[2019-03-09 21:41] #9040 closed

[2019-03-09 21:44] Novalis7747 commented on #6420
this was solved for me in Office 2013 and NVDA 2018.4.1 and Office 365 with NVDA 2018.4.1 and latest 2019.1 alpha as well. I can't speak for excel versions older than Excel 2013. If I remember well this was already solved for Office 365 in an earlier NVDA versions in 2018...

[2019-03-09 21:49] Adriani90 opened #9359 "System sometimes becomes practically unusable after several hours of using Firefox with NVDA"
### Steps to reproduce:
This is not very easy because it occurs randomly. It occured several times since using Firefox 65.0.2 and NVDA 2019.1 Beta 1. I got a log error while navigating on Amazon kindle webpage and could finally enter the log file after NVDA started to speak again.

### Actual behavior:
NVDA stops speaking, the whole system seems to hang for a while. I get following errors in the l

[2019-03-09 21:51] Adriani90 commented on #9359
[code]

[2019-03-09 21:52] Adriani90 commented on #9359
among all getoffset location errors, the most important error is this one:

[code]

After this error, NVDA does not speak anymore, no matter what I do.

[2019-03-09 22:01] Adriani90 commented on #6420
Thanks Ralph and Fernando for your promt reaction. Closing as works for me.

[2019-03-09 22:01] #6420 closed

[2019-03-09 23:27] fernando-jose-silva opened #9361 "The nvda when executing the reading continues in a webpage repeats some contents"
for some time when reading pages continuously with nvda + I realize that nvda during playback repeats some lines, or even skips a few lines.
This occurs on some pages, and I believe I have found an example to inform.
However the page is in Portuguese Brazil, I know the difficulty in identifying this problem, but if you can identify the possible cause would be of great value.
### Steps to reproduce

[2019-03-09 23:57] fernando-jose-silva commented on #6443
In the list of nvda addons there is an advertised addon called Auto alt text-
If nvda identified the graphics without description and then we could make use of the addon to describe it if desired would be very good.
I am in favor of this option being turned on or off.

[2019-03-10 06:30] nishimotz opened #9362 "Microsoft Japanese IME is not announced as expected with Windows 10 v1809 and Edge"
### Steps to reproduce:

* enable and select Microsoft IME Japanese
* launch Microsoft Edge
* press Ctrl+L
* press Hankaku-Zenkaku key (or Alt+Tilde with English keyboard array)
* type y a m a

### Actual behavior:

with Windows 10 version 1809 (64bit) Japanese

* press Hankaku-Zenkaku key, nothing announced. actually, IME is opened
* press y : 'y' is announced
* press a : 'a' is announced. actual

[2019-03-10 08:34] Adriani90 commented on #9361
Is the cursor jumping backwards on this page when navigating with down arrow through the page?

[2019-03-10 09:13] SeanFarrow opened #9363 "Updating NVDA leaves empty folders behind"
Updating NVDA from 2018.4 to 2018.4.1 leaves an empty directory for 2018.4 in both the lib and lib64 directories.

I'd be happy to look at fixing this but am unsure whether the problem should be fixed in the installer or the update checking/installation mechanism.

[2019-03-10 09:35] SeanFarrow commented on #9338
I can confirm this is also the case with NVDA 2018.4.1 and Chrome 72.0.3626.121 on Windows 10 version 1809 (OS Build 17763.348).

I've tested this on a completely different website (www.troyhunt.com) and what seems to be happening is an alert is spoken for each comment attached to a particular article.

I'm not sure this is an NVDA problem and it's probably something Disqus should be made aware of

[2019-03-10 10:42] Brian1Gaff commented on #9361
From other times I've seen this, no its not, its only in say all that the
effects seem to occur, but then again how quick can you cursor, you have to
allow for the line to finish reading.
 I thought maybe it was some kind of on the fly javascript rendering going
on behind the scenes and allied it to the cases, usually when a browser is
loaded of non automatic reading and the focus not in the page

[2019-03-10 10:47] Brian1Gaff commented on #9363
Hi this happens as attempts are made to remove them but they do not always
work. In the early days this threw an error and stopped nvda  from
restarting. Now if you look at the log it often says the items failed to be
removed would be attempted next time. Whether this is successful, I'd say
yes, but then often you get the same effect with the previous folders .
Renaming and removing can be a littl

[2019-03-10 10:56] SeanFarrow commented on #9363
Hi,

Perhaps if this fails during the update NVDA should remove the folder on next start?

From: Brian Gaff <notifications@github.com>
Sent: 10 March 2019 10:47
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Updating NVDA leaves empty folders behind (#9363)

Hi this happens as attempts are

[2019-03-10 11:05] Adriani90 opened #9364 "NVDA causes Chrome to crash while editing a form in google forms"
The issue has been reported on user list in a similar way.

### Steps to reproduce:
1. Open this form in google Chrome
https://sites.google.com/site/secretariapiloto188cvv/diarioplantao
2. Type your e-mail address and press "next"
3. Right next to the buttons "back" and "next" there is a listbox where you are required to selct an item. Press enter on that list
4. Press alt+down arrow to expand it

[2019-03-10 11:07] Adriani90 commented on #9364
randomly, NVDA can not activate focus mode when pressing enter on the listbox. In that case I get this error in the log:

[code]

[2019-03-10 11:22] Adriani90 commented on #9364
In focus mode, Before google chrome crashes I get this errors:

[code]

[2019-03-10 11:22] Adriani90 commented on #9364
cc: @leonardder

[2019-03-10 11:38] Adriani90 opened #9365 "Firefox: Listbox is not working properly with NVDA"
### Steps to reproduce:
1. Open NVDA
2. Open this link in Firefox
https://sites.google.com/site/secretariapiloto188cvv/diarioplantao
3. Type your e-mail address and press "next"
4. Right to the buttons "back" and "next" there is a listbox. Navigate in browse mode to it and press enter
5. Press alt+down arrow or arrow keys to select an item
6. Press tab and shift+tab to land on it again in focus mo

[2019-03-10 11:39] Adriani90 commented on #9365
When selecting an item in the listbox, I get following fails in the log file:

[code]

[2019-03-10 11:39] Adriani90 commented on #9365
cc: @jcsteh, @leonardder

[2019-03-10 11:52] Adriani90 commented on #9359
cc: @MarcoZehe, @jcsteh

[2019-03-10 13:47] pranavlal commented on #6322
I will test and get back to you in a day or less.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Saturday, March 09, 2019 5:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Unable to read auto complete suggestions when writing macros in Powerpoint 2016 (#6322)

@pr

[2019-03-10 15:23] feerrenrut commented on #6277
The scratchpad directory (available through advanced settings) basically accomplishes this. I would be interested in the introduction of a command to package the contents of the scratchpad dir as an addon (after filling in the basic manifest data via the GUI).

[2019-03-10 16:18] Neurrone commented on #9359
I've noticed this on my work laptop as well, and initially thought it was a problem with my machine, so am glad that someone else is able to replicate it. When I close firefox, NVDA starts working properly again.

[2019-03-10 16:36] Brian1Gaff commented on #9363
I'm not sure if this is done or not. I do know it was talked about at the
time this issue came up but your best bet is to set the log to debug and see
what actually happens on an update and the next start, cannot say I've seen
any activity till the next update. Do empty folders really matter at all?
Lots of software uninstallers leave their folders behind, not always empty.
Did somebody mention go

[2019-03-10 17:02] Awalvie commented on #8274
Quick question ? When I try to compile the code from source and try to replicate the problem I don't get the administrator privileges required to enable step 3. I tried asking on the mailing list but I am having some problems with my subscription to it, so against my better judgement I decided to post here so I can test my changes, sorry if this is not the right place to be posting this question.

[2019-03-10 17:08] josephsl commented on #8274
Hi, source code copies have restrictions like this. Thanks.

From: Vishesh <notifications@github.com>
Sent: Sunday, March 10, 2019 10:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Copying settings to secure screens gives a warning about addons even when they are all disabled. (#8274)

[2019-03-10 17:24] Awalvie commented on #8274
I appreciate the reply but can you also tell me how to enable the admin rights so I can replicate the issue ?

[2019-03-10 17:24] josephsl commented on #8274
Hi, no, sorry, this can’t be done for source code copies. Thanks.

From: Vishesh <notifications@github.com>
Sent: Sunday, March 10, 2019 10:24 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Copying settings to secure screens gives a warning about addons even when they are all disabled. (#8

[2019-03-10 17:33] Awalvie commented on #8274
So I cannot replicate the issue then ?

[2019-03-10 17:40] Awalvie commented on #7686
What is a p3 ?

[2019-03-10 17:48] josephsl commented on #8274
Hi, no, not with the source code copy. Thanks.

From: Vishesh <notifications@github.com>
Sent: Sunday, March 10, 2019 10:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Copying settings to secure screens gives a warning about addons even when they are all disabled. (#8274)

So I cannot r

[2019-03-10 17:49] josephsl commented on #7686
Hi, priority level 3, usually assigned for minor changes. Thanks.

From: Vishesh <notifications@github.com>
Sent: Sunday, March 10, 2019 10:40 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Core: Don't Refuse to Start if Add-On Manifest is Missing (#7686)

What is a p3 ?

—
You are receivi

[2019-03-10 17:58] Awalvie commented on #7686
Oh gotcha thanks.

[2019-03-10 17:59] Awalvie commented on #8274
Then how am I supposed to work on it ?

[2019-03-10 18:11] josephsl commented on #8274
Hi,

One risky way is modifying source/gui/settingsDialogs.py and removing security checks around general settings dialog class. Doing so means:

1. Edit appropriate sections of the source code.
2. Undo your own edits about security checks.

I think, at this point, it'd be best to ask @NVDAEs and others who have directly worked with that PR to keep working on it, with feedback here and there.

Tha

[2019-03-10 18:12] Awalvie commented on #8274
Alright, thanks for the input.

[2019-03-10 18:13] josephsl commented on #8274
Hi,

I'd so far as remove "good for new dev" label, as this is not that trivial (as explained today).

Thanks.

[2019-03-10 19:15] lukaszgo1 commented on #8274
In my view the easiest way of testing and then fixing this would be to generate your own certificate as described [here](https://github.com/nvaccess/nvda/wiki/UsingASelfSignedCertificate) then installing self-signed build with your changes and testing from there. Regarding removing GoodForNewDev I personally disagree if new developers wouldn't be attempting to fix harder issues how they are suppos

[2019-03-10 19:19] josephsl commented on #8274
Hi, at least for local changes, the certificate method will work. A try build is also useful for this kind of thing. Thanks

From: Łukasz Golonka <notifications@github.com>
Sent: Sunday, March 10, 2019 12:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Copying settings to secure screens

[2019-03-10 22:40] SeanFarrow commented on #9363
I can confirm that it doesn’t remove the folders on next.

Yes, empty folders do matter as it shows a problem ith the installer itself. The installer installs the folder, so in my view should remove it.

From: Brian Gaff <notifications@github.com>
Sent: 10 March 2019 16:36
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Author <author@noreply.github.com>

[2019-03-11 03:16] pranavlal commented on #6322
Hi,

The problem persists with NVDA 2019.1 Beta 1.

Pranav

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Saturday, March 09, 2019 5:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Unable to read auto complete suggestions when writing macros in Powerpoint 2016 (#6

[2019-03-11 03:23] pranavlal commented on #5836
Hi,

I have tested with NVDA 2019.1 Beta 1 and this problem persists. Mouse shape changes are not being reported when I initiate the recording of a macro in Microsoft word 2016.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Sunday, February 24, 2019 3:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.gith

[2019-03-11 03:23] pranavlal commented on #5836
I have tried with NVDA 2019.1 Beta 1 and the problem persists.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 19, 2019 5:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mouse shape change unrecognized when macro recording is enabled in word 2016

[2019-03-11 07:32] AccessibilityTestingTeam-TCS opened #9366 "A11y_MicrosoftDynamics365ImportTool_ModelDetailsPropertiesTab_Screenreader: NVDA does not read any non-interactive element using up/down arrow key on the screen."
Application Name: Microsoft Dynamics 365 Import Tool.

### Steps to reproduce:
1.Launch the Microsoft Dynamics 365 Import Tool (Preview).
2Hit enter on any of the model->Navigate to Properties tab
3.Start NVDA.

### Actual behavior:
NVDA does not read any non-interactive element present on the screen using up/down arrow key in both Properties and Summary tab.

### Expected behavior:
NVDA should re

[2019-03-11 16:26] bowave commented on #8097
Tried everything, cleaned registry, created new user account, tried both administrator and non-administrator accounts, tried Windows both in Finnish and English and finally reformatted hard disk and reinstalled Windows completely. For some reason the combination of Lenovo X1 Carbon + Windows 10 Pro + Office 365 + NVDA keeps crashing.

I've come to believe the problem is more inside Office than NVD

[2019-03-11 17:54] fernando-jose-silva commented on #9351
Thank you all.
I solved the problem, there was a problem with the installation of nvda, I reinstalled nvda and everything works as it should.

[2019-03-11 19:51] Adriani90 commented on #9351
Thanks for reporting back. Closing as works for me.

[2019-03-11 19:51] #9351 closed

[2019-03-11 19:58] Adriani90 commented on #6375
It seems the author is not responding. I cannot reproduce this issue. I close it as works for me. Please comment on it if you still have the issue and we can reopen it. Thanks!

[2019-03-11 19:58] #6375 closed

[2019-03-11 20:02] Adriani90 commented on #8097
@bowave thank you very much for your response. If you open a new issue, please also upload a log file and a crash dump to see if it is related to NVDA. I am closing this for now but we can reopen it if we find out that it is related to NVDA. So far I did not get any similar reports from other users.

[2019-03-11 20:02] #8097 closed

[2019-03-12 11:53] sidnc86 opened #9368 "NVDA fails to identify alertdialog role in Chrome browser"
### Steps to reproduce:

1. Open Chrome
2. Browse to [ARIA 1.1 alertdialog example on W3C website](https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/alertdialog.html)
3. There is a message compose form which can be saved to browser's local storage. Instead of clicking the Save button, click the Discard button.
4. A confirmation alertdialog box appears.

### Actual behavior:

Only

[2019-03-12 11:58] sidnc86 commented on #9368
Also here is the NVDA log file that I forgot to attach when I posted the issue.
[nvda.log](https://github.com/nvaccess/nvda/files/2956689/nvda.log)

[2019-03-12 14:20] Neurrone commented on #9359
Just had it happen to me with latest NVDA master and Firefox 65.0.2.

Even after closing firefox (without speech), my laptop wouldn't properly respond to any keyboard input at all, and pressing ctrl+alt+n to try to restart NVDA didn't have an effect even after 10 minutes. I had to forcefully shut down by holding down the power button and restart to recover. I'm pretty worried that NVDA is able to

[2019-03-12 14:49] ABuffEr commented on #9359
Hi,
same here, various times... I never tried to close Firefox, but I can say that a way to avoid restarting is to go in secure desktop, pressing control+alt+canc, then exit with escape. If you previously tried to restart NVDA, then it restarts now (losing log).
So, a way to get more information about this issue could be to press control+alt+canc then escape, and see log, without trying to restart

[2019-03-12 15:03] MarcoZehe commented on #9359
We are aware of this problem, but haven't managed to track it down yet. @jcsteh knows which UIA service or process is going havoc when this happens, and brings the whole system to a grinding halt. The problem is, the moment this happens, which is totally random and without exact steps to reproduce, it is too late to slam a debugger onto it and find out what is going on. Jamie is seeing it far more

[2019-03-12 15:24] Neurrone commented on #9359
Thanks @MarcoZehe for letting us know this is being investigated. I wonder if there's some way of preserving debug logs when this occurs over a restart.

[2019-03-12 15:45] MarcoZehe commented on #9359
We'd need a mini dump of the parent and possibly all content processes, to investigate why there's a hang. The problem is that Firefox itself isn't even hanging. It's a system UIA process that somehow starts going crazy and slows the whole system down to a crawl. If it was only Firefox that hung, the rest of the system, including NVDA once focus was out of the Firefox window, would still be usable

[2019-03-12 17:18] shoogle commented on #8604
Can this be revisited now? This has [affected MuseScore](https://musescore.org/en/node/285464) and other Qt applications. It seems that Qt is doing everything right, but NVDA is purposefully ignoring accessibility events to compensate for bugs in other (non-Qt) applications.

Here are the [relevant lines in `nvda/_UIAHandler.py`](https://github.com/nvaccess/nvda/blob/31692c6c99ca6012fa93a77f1c6b32

[2019-03-12 17:34] jcsteh commented on #8604
It's not just about allowing NVDA to work with those applications. The problem is that with these events enabled, any app based on those frameworks (whether the author cares about accessibility or not) will cause a complete hang of NVDA. Prior to Windows 10, there is no way NVDA can work around this. That said, this should only affect reporting of text selection via the mouse. Text selection via t

[2019-03-12 18:29] leonardder commented on #8604
I've compared NVDA with Narrator with regard to MuseScore, and at least with NVDA, combo boxes do not behave as they should, that is, arrowing through the combo box without opening it does not announce selection changes, whereas with Narrator, this works just fine.

[2019-03-12 20:49] leonardder commented on #8604
The QComboBox comboboxes consist of a root object (the combobox itself) and its children (a list with the combobox items, and an edit control). It looks like that NVDA is not receiving any PropertyChangedEvents when changing the value of the combobox without expanding it. Note that eventHandler.shouldAcceptEvent tends to drop some events, but that's certainly not the case here, as the events aren'

[2019-03-13 01:25] shoogle commented on #8604
As @leonardder said, navigation within unexpanded combo boxes is not being announced by NVDA. Interestingly, this was working under Qt 5.9 (which used MSAA) but not under Qt 5.12 (which uses UI Automation). There are other examples of this:

- Under Qt 5.12 only control names (i.e. not descriptions) are announced by NVDA. Both names and descriptions were announced under 5.9.
- Changes to selection

[2019-03-13 09:30] surfer0627 opened #9370 "Adobe Acrobat DC: When copying / reading text in browse mode, separate lines are merged together"
### Steps to reproduce:
### Case1: copying text
1. Open test file.
2. Press control+a (select all), press control+c (copy text).
3. Press control+v (paste) to notepad.

#### Actual behavior:
All lines of copied text are merged together.

#### Expected behavior:
Each line of text should be on its own line. E.G.

* 第一條 結構保固期間
* 第二條 結構保固範圍
* 第三條 房屋結構監測
* 第四條 房屋結構檢測

(If you follow the steps above, bu

[2019-03-13 09:37] surfer0627 commented on #9370
[test_copying_text.pdf](https://github.com/nvaccess/nvda/files/2960745/test_copying_text.pdf)

[2019-03-13 12:09] rhcarvalho commented on #9339
I too believe that is very likely to be the cause of the problem, and nothing could be done from NVDA to solve it.

Did you try reporting the problem to the banks?

[2019-03-13 12:40] DrSooom commented on #9370
There is a very annoying issue in the 19.x version of the Adobe Reader when the PDF file doesn't contain tags. This issue didn't exist in the 18.x version and it also don't exist in version 9.3 of the Foxit Reader – as far as I remember correctly. The Adobe Reader 19.x always creates a single text line per page for untagged PDF files.

[2019-03-13 12:58] munawarb opened #9371 "Search Suggestions Stop Showing in Start Menu"
### Steps to reproduce:

Happens randomly.

### Actual behavior:

When I press the WINDOWS key and start typing the name of an application, NVDA should announce the list of suggestions. Instead, NVDA remains quiet, and I find that the search suggestions are not appearing at all. It seems to happen most often when I'm doing a lot of work in Firefox or Office Applications. I have to resort to pressi

[2019-03-13 13:01] josephsl commented on #9371
Hi, I do know of some folks experiencing this, and possibly traced to confused UIA client implementation in NVDA. As for Windows 10, the developers would like to know exactly which release (there are seven of them now). Thanks.

From: Munawar Bijani <notifications@github.com>
Sent: Wednesday, March 13, 2019 5:58 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.gith

[2019-03-13 13:18] ABuffEr commented on #9371
Hi @munawarb ,
are you sure this is a NVDA issue?
In my experience, it's a problem related to Windows, and specifically to Microsoft Text Services Framework, that is, the famous and mysterious "taskhostw.exe {222A245B-E637-4AE9-A93F-A59CA119A75E}" in task manager, often cited in forums without any solution.
I created months ago a .bat to automatically/manually restart this service (mainly for memo

[2019-03-13 15:09] Adriani90 commented on #9339
@fernando-jose-silva I cannot reproduce this issue. Can you please tell us which browser you are using? And please Elaborate a bit more on the Software which you think is causing this issue. Is that Software installed on your PC?

[2019-03-13 15:11] munawarb commented on #9371
Hi @josephsl, it's build 1809 version 17763.316 Home.

[2019-03-13 18:45] Swapnilr1 commented on #7931
@feerrenrut Hi, I am new here and want to apply to NV Access for Google Summer of Code 2019.

Does this issue still exist with the latest version?  If yes, can I work on this issue to get familiar with the code?

[2019-03-13 21:03] Invisibility commented on #7807
We found a workaround. Instead of

[code]

we have:

[code]

where hidden-element-accessibility has this definition:

[code]

[2019-03-14 02:21] fernando-jose-silva commented on #9339
Thank you
I'm using chrome 72.
In Brazil I do not know if in the rest of the world when accessing a website of a Brazilian bank the site shows a message informing that to access this site and to have access to its current account it is necessary to install a software in the computer.
So we downloaded this software straight from the page provided by the bank we installed this software on the comput

[2019-03-14 12:13] sonor3000 opened #9373 "The Extras menu can not be opened with the x letter"
### Steps to reproduce:

1. Open the nvda menu with NVDA+n
2. Press the x letter

In older versions of NVDA this opened the Extras menu. In current 2019.1 beta this is not working anymore.

### Actual behavior:

The Extras menu will not be opened....

### Expected behavior:

Open the Extras menu like in older NVDA versions....

### System configuration
#### NVDA installed/portable/running from sou

[2019-03-14 12:32] GuruSR opened #9374 "Slow to no response in Office 2010, Windows 10."
### Steps to reproduce:
Watched as user demonstrated what it is doing, user then went to
Open Word 2010 and Excel 2010, write something, push Alt for the shortcut key strip to show, most times no voice, work around was to push the key the user wanted and then the menu would show, again, no voice, had to arrow up to scroll backwards from the bottom of the menu up to "Save", then when pushing enter

[2019-03-14 12:57] josephsl commented on #9374
Hi, I understand that it might be a bit uneasy to do this, but can you try using 2019.1 beta 1 as a portable copy and see if it does make a difference? Thanks.

From: GuruSR <notifications@github.com>
Sent: Thursday, March 14, 2019 5:32 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Slow to no response in Office 2010, Windows

[2019-03-14 12:58] fisher729 opened #9375 "NVDA crashes Microsoft Word"
Ever since installing the 2019.1beta1 copy of NVDA, I have experienced a crash in Microsoft Word, that I feel can be tied down to navigating in tables. I would sometimes be arrowing up and down in the document to move by column, and then NVDA would become silent for two seconds. Then, Microsoft Word would close, leaving me at my previously opened window. Sometimes it reopens automatically, while o

[2019-03-14 13:10] GuruSR commented on #9374
I'm an I.T., so I am the I.T. for a location with the blind person, I'd have to visit the site to test it, they're not present this week, so I'll have to wait until next week to do so, when it is convenient.

[2019-03-14 13:35] fernando-jose-silva opened #9376 "Nvda repeats the penultimate line of a text in a java application when the last line is empty"
### Steps to reproduce:
In the organization where I work I use software written in java, this software is internal development, and unfortunately I can not grant external access, and I'm still a layman in programming.
However I believe this may occur in other java applications.
Open a java application where there is an edit field to type text.
Write a line of text and just below leave an empty lin

[2019-03-14 13:47] fernando-jose-silva opened #9377 "When placing the focus with the tab key in a table the nvda does not inform the cell text in focus"
### Steps to reproduce:
I am working in an organization where there is a java application, this application has internal development, and unfortunately I can not grant external access to this application, and I do not have programming knowledge for great splendor.
However I believe this problem may occur in other java applications.
Open a java application that has some controls, between these cont

[2019-03-14 14:58] DrSooom commented on #9373
I guess this has to be fixed by a translator – a simple "&" is missing. Which language are you using?

[2019-03-14 15:35] leonardder commented on #7075
@k-kolev1985: Could you please try [this](https://ci.appveyor.com/api/buildjobs/qp13ncs9yc3p2biy/artifacts/output%2Fnvda_snapshot_try-UIAScroll-16915%2C0a7d239e.exe) try build?

[2019-03-14 16:14] k-kolev1985 commented on #7075
@leonardder I've done some small test on a few pages which contain a lot of paragraphs containing only text, in which cases by default the scrolling is problematic. With this test build of NVDA, the scrolling seams to be handled fine.

I've noticed a few things though:
1. The scrolling is based on the bottom edge of the screen, no matter if we are reading down or up the page. Is it a limitation or

[2019-03-14 17:00] Adriani90 commented on #9373
This is german, I think I have fixed it in last Alpha. We can track this issue in the german community channels. Closing.

[2019-03-14 17:00] #9373 closed

[2019-03-14 19:31] leonardder commented on #7075
[**@k-kolev1985**](https://github.com/k-kolev1985) commented on [14 Mar 2019, 17:14 CET](https://github.com/nvaccess/nvda/issues/7075#issuecomment-472941702 "2019-03-14T16:14:39Z - Replied by Github Reply Comments"):

With UIA, it is required to provide a preference for either the bottom or the top of the page. This is also possible for IAccessible2, so I guess I can look into a method that checks

[2019-03-14 20:40] leonardder commented on #7075
Could you elaborate on whether te text scrolls on every key press, or only when the browse mode caret would otherwise go out of screen?

[2019-03-14 21:00] DrSooom commented on #9375
@fisher729: Is the option "Use UI automation to access Microsoft Word document controls when available" in the Advanced NVDA Settings enabled? I guess it is. Please disable this, restart NVDA and Microsoft Word and compare the situation. Note that this is just a workaround, it wouldn't fix the UIA issue.

[2019-03-14 21:00] Adriani90 commented on #9374
Could please try following?
1. Open nvda menu
2. Go to "tools"
3. Rund the com registration fixing tool.

But I guess the problem is caused by an addin which is installed in MS Word or MS Excel. Try to disable addins in MS Office and see if the issue is still occuring. If yes, then I would reinstall NVDA from scratch. Is this issue only in Office? Or is it occuring in other programs as well?

[2019-03-14 21:02] Adriani90 commented on #9375
cc: @michaelDCurran

[2019-03-14 21:05] enessaribas commented on #5011
This is still an existing issue. IPA symbols are not read correctly by NVDA. This can be solved by allowing NVDA to read them with their unicode assigned names, found in the following issue.
https://github.com/nvaccess/nvda/issues/2922

[2019-03-14 21:16] Adriani90 commented on #7931
@Swapnilr1 at least from my side, I cannot reproduce this issue in last NVDA Alpha anymore. Tested with eloquence and eSpeak as speech synthesizer.
But let's wait for @feerrenrut's confirmation as well.

I wish you all the best for summer of code!

[2019-03-14 21:20] Adriani90 commented on #7931
If you want to get familiar with the code by contributing to NVDA, you could also search for issues which are labeled as "goodForNewDev". Here is the link to the issues:
https://github.com/nvaccess/nvda/labels/goodForNewDev

Thank you!

[2019-03-14 21:29] lukaszgo1 commented on #7931
Given the fact that testing by @Adriani90 shows that it is fixed either something in NVDA has changed, or the testing was done on older build of Windows 10. @Adriani90 would you mint testing lets say  with NVDA 2018.1 and if it doesn't work there and works with recent Alpha we can close it IMHO?

[2019-03-14 21:57] sonor3000 commented on #9373
I am using NVDA with the German language.

[2019-03-15 03:42] surfer0627 commented on #9370
@DrSooom

For testing, where could I download Acrobat DC 18.x? It seems hard to find download link and change Acrobat update settings.

[2019-03-15 08:56] k-kolev1985 commented on #7075
When reading down the page, scrolling occurs when the virtual cursor gets to the last visible line on the page. To be more accurate, the currently read line is always on the bottom of the page, whenever applicable.

Scrolling occurs on every key press it seams, because I think NVDA reads the text line per line at each key press.

[2019-03-15 11:30] fisher729 commented on #9375
Hi Daniel,

No, this option has not been checked, nor has anything in this
settings category. Off topic for this ticket, but why is the Advanced
category being reported in the Settings dialog as profile specific?

On 3/14/19, Adriani90 <notifications@github.com> wrote:

[2019-03-15 15:42] DrSooom commented on #9374
@GuruSR: Disable the option "Editor revisions" in the Document Settings in NVDA. Maybe this could help here too.

[2019-03-15 16:19] DrSooom commented on #9370
This is a very good question. I have no idea. After searching I would say [here](https://www.itechtics.com/download-adobe-acrobat-reader-dc-18/), but this isn't an official site of Adobe. But the download links below in this article lead to the Adobe website. Here the link for [18.009.2004/en-US](http://ardownload.adobe.com/pub/adobe/reader/win/AcrobatDC/1800920044/AcroRdrDC1800920044_en_US.exe).

[2019-03-15 16:20] leonardder commented on #7075
So just to make sure.

- If moving downwards with down arrow, the read line is always the bottom line on the screen?
- When moving upwards with up arrow, the current line will also be the bottom line of the screen?

[2019-03-15 17:02] k-kolev1985 commented on #7075
Yes, exactly. Exceptions are the cases where the page has reached its top or bottom and cannot be scrolled further.

[2019-03-15 17:08] leonardder commented on #7075
Ugh, that's not very helpful. I'll try to code another, actually much simpler, approach later today.
Technically, it turns out that scrollIntoView on an UIA text range always scrolls either to the top or bottom of the page. There's no way to say, only scroll when the text is currently out of the view, so we'd have to find that out manually. I guess I'll revert this to calling scrollIntoView on the

[2019-03-15 18:02] Swapnilr1 commented on #7931
@Adriani90 Thanks a lot for guiding me.

[2019-03-15 18:34] k-kolev1985 commented on #7075
Yes, now I understood exactly what you meant by "always scrolling". Even if I scroll the text/page with the mouse so the currently read line is somewhere in the middle of the screen for example, as soon as I continue reading with the up/down arrow keys, the view scrolls so the current line is on the bottom.

[2019-03-15 20:32] leonardder commented on #7075
[Here](https://ci.appveyor.com/api/buildjobs/05wk0yt4xnvbmlt0/artifacts/output%2Fnvda_snapshot_try-UIAScroll-16918%2C4a736e29.exe) is a new try build.

[2019-03-15 22:58] tvenie opened #9378 "NVDA reading slide title twice"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-03-15 23:00] #9378 closed

[2019-03-15 23:00] tvenie opened #9379 "NVDA reading PowerPoint slide titles twice"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-03-15 23:03] tvenie commented on #9379
Is NVDA supposed to read each title of a PowerPoint slide twice? By default, it is reading the slide titles twice at the beginning of each slide. I changed the order of the objects in the selection pane, but that only changed when it read the title for the second time. Is there a way to edit my slides so that NVDA will read the slide titles only once?

[2019-03-16 07:47] k-kolev1985 commented on #7075
Unfortunately, this behaves worse. At some point, even though there is no need for it yet, it scrolls the page so the currently read line is at the top. But after that, it does not scroll until it gets to a focusable object (e.g. a button). [This page](https://www.fanfiction.net/s/10288529/22/Visitation) is a good example for the behavior.

[2019-03-16 09:35] Brian1Gaff commented on #9379
I think like a number of people you are having issues with the template. I
tend to export the template to a text editor using cut and paste, edit it
then when going to the new ticket  edelete the template and paste the one I
did off line. Just saying.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the disp

[2019-03-16 11:52] afercia commented on #5247
Hello. I read in #8341 that #8869 had to be reverted. Should this issue be reopened then?

[2019-03-16 11:53] afercia commented on #8341
Hello. Should #5247 be reopened as well?

[2019-03-17 00:08] mohammad-suliman commented on #9376
If i understand the issue correctly, this was also reproducible in android
studio, also a java application, but this was a long time ago, don't know
what is the situation now.

On Thu, 14 Mar 2019 at 15:35 fernando-jose-silva <notifications@github.com>
wrote:

[2019-03-17 02:14] jacobchawala commented on #6423
yes, it works well in this NVDA Beta version 2019.1. Great Job!

On Sat, Mar 9, 2019 at 3:25 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2019-03-17 03:26] sjtaylor82 opened #9380 "NVDARemoteHelper: (Injection terminate. error waiting for local thread to die; already dead or not responding. - reference: issue #3944"
Hello,
My fiancee receives this message each and every time she quits NVDA on her work-issued Toshiba Notebook, running Windows 10 64 bit, which is connected to a corporate network.
Message start:
NVDARemoteHelper: (Injection terminate. error waiting for local thread to die; already dead or not responding.
Message end.
The issue occurs at work, as well as on our personal WiFi.
It occurs with NVDA

[2019-03-17 03:52] jacobchawala opened #9381 "visited links are not pronounced by NVDA Beta version 2019.1 in Microsoft-edge"
after pressing a link on a webpage opened by Microsoft edge, NVDA does not say "visited" or it does not save those visited links for the user to refer links he/she visited. after pressing several links in that webpage, visited links are not found by pressing the NVDA shotcut v. Visited links are pronounced and saved by NVDA in Firefox and Google chrome. the same should be in Microsoft edge browser

[2019-03-17 11:37] DrSooom commented on #9381
@jacobchawala: Two questions:
1. Is the behaviour exactly the same with unvisited links (U and Shift+U)?
2. And is it correct, that this issue isn't new in 2019.1 Beta 1? It already exists in 2018.4.1?

Furthermore, as Microsoft is going to use Chromium for Edge too, I'm asking me how relevant this specific issue will be in the near future. Well, that's not my job to set the priority. Personally I

[2019-03-17 13:14] Awalvie commented on #7562
Hey,
I would like to work on this issue. Can someone assign this to me ?

[2019-03-17 13:48] Awalvie commented on #7562
I was trying to understand the `getPresentationCategory` function and was wondering what this is currently returning among
[code]

when we are focusing on a list as pointed out in the issue.

[2019-03-17 14:09] Awalvie commented on #7562
Nevermind I think it is returning `SINGLELINE`

[2019-03-17 14:45] lukaszgo1 commented on #7686
@Awalvie Have you tried to reproduce the issue before writing a fix? I am asking, because for me when performing STR from the initial  commend with latest NVDA Alpha the bug isn't occurring anymore.

[2019-03-17 14:52] Awalvie commented on #7686
Yeah the issue still exists for me and was replicated after following the instructions of the issue. Though I have been testing on the Master Branch and not on the Alpha

[2019-03-17 15:27] josephsl commented on #9381
Hi, this is a duplicate of a past issue. This is caused by UIA not reporting the needed info. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Sunday, March 17, 2019 4:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] visited links are not pronounced by NVDA Beta version 2019.1 in Microsoft-edge (#9381)

@jacobc

[2019-03-17 15:39] surfer0627 commented on #9370
Thank you for the download links and user tips.
After installing 18.009.2004, Acrobat DC got quick update.
I do not have chance to change settings.

[2019-03-17 16:58] Adriani90 commented on #5247
Yes, I would say let's reopen it because the discussion in this issue is also very relevant. Thanks for asking.

[2019-03-17 16:59] Adriani90 commented on #6423
Thanks for reacting so fast. I am closing as works for me.

[2019-03-17 16:59] #6423 closed

[2019-03-17 17:31] DrSooom commented on #9370
@surfer0627: Try to add the registry key before starting the Adobe Reader. But I'm not sure, if the update process starts automatically after the installation. In that case you have to kill the process "armsvc.exe" via the task manager. Please be careful. I have no idea what will happen after you have killed this process. And maybe you have to log off and log on again after the registry changes, b

[2019-03-17 23:13] lukaszgo1 opened #9383 "Firefox takes a long time/appears to freeze when loading pages with large tables"
Edited because the web page on which I've experienced it originally is no longer available.
# # Steps to reproduce:
1. Start  Nightly.
2. Go to https://github.com/get-iplayer/get_iplayer
3. Move to the first table with letter t.
4. Activate link called get_iplayer.
### Actual behavior:
Nothing happens not even "loading document" announcement. When you try to interact with the Firefox window you ca

[2019-03-18 00:35] shoogle commented on #8604
It would be great if somebody could try building it with the relevant lines in [`nvda/_UIAHandler.py`](https://github.com/nvaccess/nvda/blob/31692c6c99ca6012fa93a77f1c6b320ed173ffdb/source/_UIAHandler.py#L141-L155) uncommented so that all events are handled, and then testing it with MuseScore to see which of the issues highlighted so far still remain, if any:

1. Arrowing through non-expanded comb

[2019-03-18 02:27] ehollig commented on #8681
@pratik-pk does it help if you remove the role of presentation from the div's?

[2019-03-18 06:01] MarcoZehe commented on #9383
Hi Łukasz, thank you for the report! Can you try the following to see if after that, your freezes still occur? We are currently tracking a few freeze interactions between accessibility and the new local storage generation, so it would help to know if your case is one of these.

1. Open about:config in a new tab.
2. Find the pref `dom.storage.next_gen`.
3. It should currently be set to `true (defau

[2019-03-18 08:06] JulienCochuyt commented on #2836
Hi,

Any update on this one?

I've tried re-enabling events nameChange and stateChange just for the WpfTextView controls in PowerShell ISE (disabled as of f1b50b83ee for #2759): The console is live again (new content announced) but still no review, no braille, no caret.
Almost everything else in the GUI is fine.
Only WpfTextView controls (console tab, scripts tabs) need to be fixed.
Focusing the C

[2019-03-18 09:00] pratik-pk commented on #8681
@ehollig No on removing role="presentation", it's still not working.

[2019-03-18 09:32] leonardder commented on #9380
I've seen this last week on a notebook of one of my colleagues. I was able to fix this by removing some obsolete software, including AddGuard, older versions of ZoomText as well as Cyberlink/HP bloadware.

[2019-03-18 09:35] leonardder commented on #8604
I've already done this, without luck.

[2019-03-18 09:44] zstanecic commented on #9380
Hi,

How Adguard affects This?

I am using adguard for blocking ads, and o haven’t seen the problem there so far.

How you reproduce it?

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, March 18, 2019 10:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDARemoteHelper: (Injection terminate. error waitin

[2019-03-18 09:51] leonardder commented on #9380
I wasn't intending to say that AddGuard causes this. I haven't been able to track down the cause of the issue, it's just that the issues was solved after I removed several programs from the particular system, including AddGuard.

[2019-03-18 12:41] Adriani90 commented on #2836
cc: @leonardder

[2019-03-18 15:08] Neurrone opened #9384 "No support for Access bridge in Java 10 and above"
### Steps to reproduce:

1. Install JDK V11 x64. oracle has stopped producing x86 versions since V10.
2. Enable the Java access bridge from control panel
3. Restart NVDA. The log indicates that "java access bridge is not available".
4. Attempt to use software such as [Ghidra](https://www.nsa.gov/resources/everyone/ghidra/), which requires V11.

### Actual behavior:

Access bridge not found, nothin

[2019-03-18 16:39] lukaszgo1 commented on #9383
@MarcoZehe Unfortunately with this variable set to false freeze still occurs.

[2019-03-18 17:54] shoogle commented on #8604
@leonardder, thanks! You didn't notice any change at all?

@jcsteh

Cursoring changes the selection, but what event would you expect to see here?

[2019-03-18 18:26] NmVAson opened #9385 "Deleting input text reads the last character of the string"
This issue may be expected behavior out of screen readers because I'm experiencing the same issue with JAWS. Would love to know if this is expected, or if this is a genuine issue.

### Steps to reproduce:
[Sandbox @ codepen](https://codepen.io/nmvason/pen/rRrNNm)
1. Navigate to the input
1. Type in "test"
1. Tab away
1. Tab back to input
1. Delete content

### Actual behavior:
_narration for steps

[2019-03-18 20:03] fernando-jose-silva opened #9386 "Nvda does not announce that the edit field can be automatically configured with values when walking with the above and below arrows"
### Steps to reproduce:
Open a document in word.
Press alt
Arrow right to the layout tab.
tab, and press enter.
You'll be in the top edit field where you can edit the top margin value.
Nvda announces edition that indicates that I can enter the new value.
However in this box we can configure the new values also walking with arrows above and below.
Since nvda only announces an editing field, an unex

[2019-03-18 20:26] jakubl7545 commented on #9285
This bug also occurs in NVDA 2019.1rc1

[2019-03-18 20:38] Adriani90 commented on #6338
@feerrenrut is there any difference when enabling UIA for MS Word?

[2019-03-18 20:41] Adriani90 commented on #6525
cc: @lukaszgo1

[2019-03-18 20:43] Adriani90 commented on #6514
@zahra21 do you still have this issue with NVDA 2019.1 RC1?

[2019-03-18 20:51] Adriani90 commented on #6509
@derekriemer, @jcsteh I cannot reproduce this issue with NVDA 2019.1 RC1 and Office 2010 and 2016 / 365. Are you still able to reproduce it?

[2019-03-18 20:52] Adriani90 commented on #6496
@joshknnd1982 are you still having this issue in Firefox 65.0.2 and NVDA 2019.1 RC1?

[2019-03-18 21:00] Adriani90 commented on #6489
Implementing a reporting feature which says "overflowing a1 through c1" or "cropped at C1" would be a huge improvement in Excel. It would really help to have such reporting when creating an excel sheet for sighted people or when filling in a form with text.
cc: @lukaszgo1, @leonardder

[2019-03-18 21:02] Adriani90 commented on #6478
cc: @lukaszgo1, @leonardder

[2019-03-18 21:05] Adriani90 commented on #6508
@derekriemer do you still get this error in last NVDA Alpha? I cannot reproduce this one.

[2019-03-18 21:06] Adriani90 commented on #6506
@joshknnd1982 are you still getting this error with last NVDA Alpha?

[2019-03-18 21:07] Adriani90 commented on #6468
@feerrenrut I am not sure, Bu I saw recently a discussion on this topic on Github. Is there a PR related to this already?

[2019-03-18 21:12] Adriani90 commented on #6499
i discovered that nvda+z and nvda+x are not assigned yet. How about assigning them by default as search previous (nvda+z) and search next (nvda+x)?

[2019-03-18 21:13] Adriani90 commented on #6477
cc: @michaelDCurran

[2019-03-18 21:14] joshknnd1982 commented on #6506
No not anymore

Sent from Mail for Windows 10

From: Adriani90
Sent: Monday, March 18, 2019 17:06
To: nvaccess/nvda
Cc: joshknnd1982; Mention
Subject: Re: [nvaccess/nvda] error when closing command console terminals(#6506)

@joshknnd1982 are you still getting this error with last NVDA Alpha?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mu

[2019-03-18 21:15] joshknnd1982 commented on #6496
No. I am no longer having this issue.

Sent from Mail for Windows 10

From: Adriani90
Sent: Monday, March 18, 2019 16:52
To: nvaccess/nvda
Cc: joshknnd1982; Mention
Subject: Re: [nvaccess/nvda] NVDA and firefox errors (#6496)

@joshknnd1982 are you still having this issue in Firefox 65.0.2 and NVDA 2019.1 RC1?
—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2019-03-18 21:17] Adriani90 commented on #6490
this feature would be amazing to have. cc: @novalis7747, @lukaszgo1

[2019-03-18 21:18] Adriani90 commented on #6483
cc: @bramd, @Andre9642

[2019-03-18 21:23] Adriani90 commented on #6480
Well, in my view, if we would get notified by a tone while typing that the text is cropped or is overflowing next cells, then we don't need the reporting of wrapped text. Because if the text is neither overflowing nor cropped, then it is clear that it is wrapped. And users can explore with arrow keys where lines end in a cell.

[2019-03-18 21:23] Adriani90 commented on #6480
@Qchristensen what do you think?

[2019-03-18 21:27] Adriani90 commented on #6479
I agree here. Formating single parts of content in a cell is not common practice.

[2019-03-18 21:30] Adriani90 commented on #6602
@ctoth is this still reproducible with NVDA 2019.1 RC1 and Chrome 72?

[2019-03-18 21:31] Adriani90 commented on #6601
Yes, I have also created some issues regarding NVDA and onenote. Adding support for it would be reasonable for many users.

[2019-03-18 21:32] Adriani90 commented on #6560
@leonardder is this somehow improved when using the new scratchpad directory for running code?

[2019-03-18 21:34] Adriani90 commented on #6552
@taylor-arndt are you still having this issue? Is the issue occuring while editing an object on a slide? Or when reading the slide in presentation mode?

[2019-03-18 21:38] Adriani90 commented on #6574
@josephsl, @Neurrone are there any improvements made from UIA side regarding this behavior? I cannot reproduce this issue very often now but I might be wrong.

[2019-03-18 21:38] Adriani90 commented on #6574
cc: @FelixGruetzmacher

[2019-03-18 21:40] Adriani90 commented on #6593
@Qchristensen I guess there is no significant change to the look of the dialog in last NVDA RC. Right?

[2019-03-18 21:44] Adriani90 commented on #6587
I get requests from many users, especially from previous Cobra screen reader users, who ask such a feature. Especially for MS Excel it would be nice to have. cc: @Qchristensen

[2019-03-18 21:46] Adriani90 commented on #6554
I cannot really reproduce this in NVDA 2019.1 RC1. @feerrenrut is this still an issue?

[2019-03-18 21:52] Adriani90 commented on #6585
This is still reproducible in NVDA 2019.1 RC1

[2019-03-18 21:56] Adriani90 commented on #6584
@mulder21c are you still able to reproduce this issue? I am testing with NVDA 2019.1 RC1 and Chrome 72 and it seems everything is reported just fine.

[2019-03-18 22:00] Adriani90 commented on #6575
@bdorer, @novalis7747 could you please test in an older Windows version if this is  also reproducible?
In Windows 10, NVDA announces just "space space space" for every character I type. cc: @leonardder

[2019-03-18 22:02] Adriani90 commented on #6573
@DzmitryAlifer are you still having this issue in Firefox 65.0.2 with NVDA 2019.1 RC^1?

[2019-03-18 22:08] Adriani90 commented on #6527
I am closing this as works for me. As @bhavyashah already stated, the third line after the heading 2 is the math ml object which you can enter with nvda+alt+m anc everything can be read acordingly. The third line is reported also as "x over y".

[2019-03-18 22:09] #6527 closed

[2019-03-18 22:15] Adriani90 commented on #6565
It is really interesting that it works when using a virtual environment. @jmuheim the issue is still occuring with NVDA 2019.1 RC1. Right?

[2019-03-18 22:16] Adriani90 commented on #6565
@leonardder is this something related to injected events similar to mouse events when using teamviewer or so?

[2019-03-18 22:17] Adriani90 commented on #6561
cc: @michaelDCurran

[2019-03-18 22:20] Adriani90 commented on #6545
@leonardder did you find a solution to this issue in the meantime?

[2019-03-18 22:21] Adriani90 commented on #6543
@surfer0627 are you still having this issue with NVDA 2019.1 RC1?

[2019-03-18 22:23] Adriani90 commented on #6540
@derekriemer is this issue still reproducible with last NVDA Alpha?

[2019-03-18 22:27] Adriani90 commented on #6506
Thank you very much. Closing as works for me.

[2019-03-18 22:27] #6506 closed

[2019-03-18 22:28] Adriani90 commented on #6496
Thanks very much for reporting back. Closing as works for me.

[2019-03-18 22:28] #6496 closed

[2019-03-18 22:44] bdorer commented on #6575
hmm, I'm able to test this arround 2019-04-20. At the moment I have only
access to Windows 10.

Am 18.03.2019 um 23:00 schrieb Adriani90:

[2019-03-19 02:25] jcsteh commented on #6509
I no longer have regular access to Microsoft Excel, as I don't use it and thus don't have a license, so I can't test this.

[2019-03-19 02:28] jcsteh commented on #8604
I'm not sure. It really depends how the score accessibility is implemented
and I've never tested it. What I do know is that it's not an editable text
control (and text infers very specific ideas about characters, words and
lines), so text selection events definitely aren't appropriate.

[2019-03-19 03:03] ehollig commented on #7072
@thbt is this still an issue? Using latest alpha and latest Firefox, the slider works correctly in browse and focus modes.

[2019-03-19 03:07] ehollig commented on #7303
@leonardder is this still an issue?

[2019-03-19 03:13] jcsteh commented on #9359
One correction: it's not a UIA service that starts chewing CPU, but rather an RPC service (specifically RPC Endpoint Mapper). That's almost certainly related to COM. We have no evidence that this is related to UIA (and I suspect it probably isn't).

I'm also concerned by the fact that some users are seeing cases where things are still frozen even after exiting Firefox. Whenever I've seen this, if

[2019-03-19 03:15] ehollig commented on #6840
Google Voice has changed quite a bit since this issue was opened. I am closing as invalid, but if this is still the case, we can reopen it.

[2019-03-19 03:15] #6840 closed

[2019-03-19 03:18] ehollig commented on #1257
I am closing this as invalid, as the original author has not replied in over a year and we still require additional information to reproduce this issue.

[2019-03-19 03:18] #1257 closed

[2019-03-19 03:25] ehollig commented on #3342
@jcsteh do you believe this is still something that NVDA can not fix? Or has a fix for sapi voices already been added?

[2019-03-19 03:38] shoogle commented on #8604
Is there a UI Automation event we can fire that would force NVDA to read the text in the status bar, or arbitrary text of our choosing that is not necessarily displayed anywhere on the screen?

[2019-03-19 04:24] jcsteh commented on #3342
The specific nature of the performance problem here (as compared to other software using the same synthesiser) was never clarified. #8174 does implement a fix which allows certain Microsoft voices to be interrupted faster. That may or may not be relevant here; I'm not sure. Either way, in order for this to be actionable, this needs to be re-tested and the exact nature of the issues clarified.

[2019-03-19 04:36] surfer0627 commented on #6543
@Adriani90 I could still reproduce this issue in 2019.1 RC1.

[2019-03-19 06:42] Novalis7747 commented on #6575
it dowsn’t work in different versions of Win10, but it works in Win7SP1. Can’t test it with Win8 or Win8.1….
From: Adriani90 <notifications@github.com>
Sent: Montag, 18. März 2019 23:00
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA doesn't announce typed characters in Win10 powershell

[2019-03-19 07:04] lukaszgo1 commented on #6575
Will test on Win 8 and 8.1 in a few days

[2019-03-19 09:16] Awalvie commented on #7242
Hey there, I was thought of this idea a couple of weeks ago and was happy to find such a detailed discussion about the Idea of making a Welcome Tutorial. I really do like the idea because it makes a lot of sense to have a simple interactive tutorial that helps the users get a basic jist of the Software and it's functionality. This would make the software I personally think much for accessible and

[2019-03-19 10:23] DataTriny commented on #9359
Hello there,
I'm not sure if this is related but NVDA 2018.4.1 and Firefox 65.0.2 freeze everytime I access this page on my Windows 10 version 1809 computer:
https://doc.rust-lang.org/std/iter/trait.Iterator.html.
Last time I checked there were no errors on the log as far as I remember.

[2019-03-19 11:27] Adriani90 commented on #3342
@Animesh.mr could you please describe a bit more what exactly the issue is? Is the speech reacting slow when you navigate with arrow keys? Or is the interuption between sentences and words too Long compared with other Synthesizers?
According to my last tests on Windows 10 with NVDA 2019.1 Beta 1, Microsoft speech platform works quite good in Terms of Performance.

[2019-03-19 12:54] thbt commented on #7072
@ehollig I'm unable to reproduce as I don't have a windows laptop or NVDA.

[2019-03-19 14:05] zahra21 commented on #6514
i dont know, because you know that i use windows xp and 2019.1 cant be
installed on my windows to test!
by the way, i need sapi5 version of espeak ng 1.49.1, where can i find it?

On 3/18/19, Adriani90 <notifications@github.com> wrote:

--
By God,
were I given all the seven heavens
with all they contain
in order that
I may disobey God
by depriving an ant
from the husk of a grain of barley,
I would

[2019-03-19 15:30] DrSooom commented on #9385
Maybe related: Issue #9001

@NmVAson: Please enter the text "abc" and report its result here too. And do you have a braille display connected? If this is the case, please report its behaviour too. Thanks.

[2019-03-19 17:28] n-chardon opened #9387 "NVDA + Firefox does not read updated text in aria-labelledby referenced element"
When labelling a button using the aria-labelledby attribute, using Firefox, the label read by NVDA is not updated when the content of the element referenced by the aria-labelledby is updated.

### Steps to reproduce:
Open the following CodePen : https://codepen.io/n-chardon/pen/wOxQbW
Focus the first Button : its label should read "New label for the button".
Click the "Update button text" button

[2019-03-19 18:09] tspivey opened #9388 "NVDA skips button text at the end of the line"
### Steps to reproduce:
1. Load this into firefox:
[code]
2. Move to the beginning of the document and press f.
### Actual behavior:
NVDA says Button label 1 with  button
### Expected behavior:
NVDA should say Button label 1 with text button
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
Version: alpha-16885,2ed7dbae
#### Windows version:
Wi

[2019-03-19 18:20] leonardder commented on #6545
Not yet. I can't reproduce it reliably, actually. According to the code, whenever the installTasks module calls initTranslation, this should work just fine even during installation of the add-on.

[2019-03-19 18:33] fernando-jose-silva commented on #3342
I did a simple test:
In nvda I am using the voice of the one core synthesizer, I set the voice speed to 100%.
Now I logged into the narrator, went through speech settings and changed the voice speed to 100%.
The speed reached by the narrator is enormous, much greater than the speed achieved by the nvda, ambush the readers at 100%.
I expect nvda when set to 100% using the one core synthesizer will

[2019-03-19 19:23] Brian1Gaff commented on #3342
But the original item was in the speech platform ie the old ones, I imagine.
That always was slow as its meant for telephone answering systems  I think.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "fernando-jose-silva" <notifications@github.com>

[2019-03-19 19:25] Brian1Gaff commented on #7242
So would you have a checkbox on the  first welcome screen, run short
tutorial  or what?

Also if its going to support all the languages nvda supports it will need to
be translated and checked so its a big job I'd imagine.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-03-19 20:22] Awalvie commented on #7242
I was thinking of something along the lines of what most keyboard games do. Give you a short interactive tutorial at the start to get you to understand how it works and then let you roam free.

[2019-03-19 20:30] Awalvie commented on #7242
I do understand that this would be a project that would take a while and might be big but I think that it is crucial to providing new users a much easier way to get started with the software. I did want to know some thought of the general users on the matter but sadly I am currently having issues posting to the mailing list.

From some of the people here I wanted to know if people could point me i

[2019-03-19 20:58] bdorer commented on #7303
yes, this issue still exists. Furthermore if I tab from translation edit
field in to the string list, NVDA should read the currently selected
list entry, not the one at the top of the list. Furthermore I'd like to
have a way to read poedits translation proposals.

Am 19.03.2019 um 04:07 schrieb Ethan Holliger:

[2019-03-19 21:13] bdorer commented on #6509
I'm not able to reproduce this with Excel 2013 nvda latest Alpha-Snapshot..

Am 19.03.2019 um 03:25 schrieb James Teh:

[2019-03-19 21:26] jacobchawala commented on #9381
yes, the behaviour is exactly the same with unvisited links (U and
Shift+U). when you press these keys, NVDA says "not supported in this
document."
it is correct that this issue isn't new in NVDA beetta 2019.1. it also
prevails in other previous NVDA versions when using Microsoft-Edge.

On Sun, Mar 17, 2019 at 6:27 PM Joseph Lee <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Flor

[2019-03-19 21:41] bdorer commented on #7686
for me it isn't a critical error. I tried with an installed addon and
nvda started normally. Here's the log using latest nvda alpha-snapshot:
ERROR - addonHandler._getAvailableAddonsFromPath (22:36:38.697):
Error loading Addon from path:
C:\Users\Bernd\AppData\Roaming\nvda\addons\columnsReview
Traceback (most recent call last):
   File "addonHandler\__init__.pyc", line 186, in
_getAvailableAddonsF

[2019-03-19 21:45] Awalvie commented on #7686
I have'nt tested this for the Alpha Build but on the current main branch I can still replicate the issue.

[2019-03-19 22:20] bdorer commented on #6253
@lpintes if you don't save your profile your changes are lost. You have to save the configuration once to have this working correctly. Please repead with @derekriemer's changes and report back.

[2019-03-19 22:28] bdorer commented on #2094
no, it isn't.

reproducible on windows 10

I think for beginners this would be very helpful. At least if sb presses up or downArrow. At the moment NVDA is silent

[2019-03-19 22:30] bdorer commented on #2093
Winamp is at Version 5.80 or s.th. like that.Could someone test and report?

[2019-03-19 22:35] bdorer commented on #1994
This issue exists with current version of libreOffice.

[2019-03-19 22:39] bdorer commented on #1809
I wote for closing as Windows 7 support ends on 2020-01-24 and IE is no longer developed further.

[2019-03-19 22:43] bdorer commented on #1693
I'm not able to reproduce with IE11 so wote for closing as worksforme.

[2019-03-19 22:45] bdorer commented on #708
As you are working with automated tests allready what has to be done to get this fixed?

[2019-03-19 22:51] bdorer commented on #2396
I wote for closing as worksforme. You get the needed information by pressing NVDA+delete or by inserting tabs. Tested with Word 2013.

[2019-03-19 22:58] bdorer commented on #2278
Using Word 2013 and latest nvda-alpha everything is working for me. I wote for closing as worksforme. If someone is able to provide steps to reproduce we can reopen.

[2019-03-19 23:07] bdorer commented on #1839
I like this idea. possibly bound to NVDA+upArrow.

[2019-03-19 23:14] bdorer commented on #1398
@Adriani90 NVDA should spell words slower than the normal speech. This helps while proove reading.

[2019-03-19 23:18] bdorer commented on #928
Now #577 has been done so I think this could be done easily.

[2019-03-19 23:19] bdorer commented on #872
Now #577 has been included this would be a nice feature for 2019.2.

[2019-03-19 23:23] bdorer commented on #510
I'm able to reproduce it on Windows 10.

[2019-03-19 23:29] bdorer commented on #481
This would be a great feature for visually impaired persons using magnification.

[2019-03-19 23:32] bdorer commented on #398
This would be great to have

[2019-03-19 23:36] bdorer commented on #290
one easy way would be the following:
Ask the user in the welcome dialog wheather he wants to use braille and provide him one of the table wich fits to his language.

[2019-03-19 23:46] bdorer commented on #1466
As of its complexity I wote for closing as cantfix.

[2019-03-20 06:00] leonardder commented on #1693
As this is a pretty old issue, I'm tempted to agree with closing this.

[2019-03-20 06:00] #1693 closed

[2019-03-20 06:02] leonardder commented on #1809
I agree with closing this. If there's any news or someone who can reproduce this, we can always reopen.

[2019-03-20 06:02] #1809 closed

[2019-03-20 06:05] leonardder commented on #8604
@shoogle: If I understand you correctly, all was well with older versions of MuseScore based on qt<5.11. What was the latest version that utilized this, so I can investigate the differences?

[2019-03-20 06:24] jcsteh commented on #8604
I haven't investigated or tested this and don't have time to do so. The following is provided in the hopes that it may help, but without any guarantee of usefulness. :)

The way MSAA and UIA handle value is quite different. In MSAA, there is only one value change event and it represents a change to the accValue property, which is generally a string. In UIA, there are two concepts of value, represe

[2019-03-20 08:01] ABuffEr commented on #2094
Hi Bernd,
I introduced this feature in dev version of [columnsReview](abuffer/columnsReview) some time ago, even if it's limited to some lists, due to a UIA bug in explorer lists of Windows 8 and 10, and this means that the user should know and install my add-on. Unfortunately I had no time yet to update compatibility flags, but I hope to do it soon.

[2019-03-20 08:09] leonardder commented on #8604
Dropbox 70 switched to qt 5.12 and also suffers from the combobox issue. I'm marking this P2 to start with.

[2019-03-20 08:19] ABuffEr commented on #1839
Hi,
interesting... I have already planned to insert this feature in [ColumnsReview](https://github.com/abuffer/columnsReview), but not developed yet (only for empty list, not published), and I know this issue and attached plugin just now...
Waiting for inclusion in core, I'll very happy if @nvdaes  let me to include her code/feature in my add-on. :)

[2019-03-20 08:39] nvdaes commented on #1839
Oh, I will be honored, but this is very very old, I was learning a lot then, I had almost forgoten that plugin, I havent reviewed it, be careful (smile).

Enviado desde mi iPhone

[2019-03-20 13:54] ABuffEr commented on #1839
Oh, I read the useful parts, still valid, consider it already included with thanks ;)

[2019-03-20 14:16] DrSooom commented on #9388
@tspivey: Please update Firefox to 66.0 and try again. This issue could be a regression.

[2019-03-20 14:18] DrSooom commented on #9387
@n-chardon: Please update Firefox to 66.0 and try again. CC: @jcsteh and @MarcoZehe

[2019-03-20 14:44] feerrenrut commented on #6554
@Adriani90 No I can't reproduce this anymore. Tested with `alpha-16933,bae84ed6`

I'll close this issue.

[2019-03-20 14:44] #6554 closed

[2019-03-20 14:53] feerrenrut commented on #7686
Alpha builds are built from the master branch.

[2019-03-20 14:58] fernando-jose-silva opened #9389 "The nvda to randomly read the emails in outlook's inbox"
### Steps to reproduce:
Open the outlook go to the inbox and work a little opening the messages, closing the messages.
After some time while walking with the arrows above or below the nvda does not read the messages in the inbox.
If I open the message it is read, if I close the message with esc the message in the input box is read, but if I press down arrow the next message is not read.
### Actual

[2019-03-20 15:01] tspivey commented on #9388
Upgrading Firefox didn't fix it.

[2019-03-20 15:23] bdorer commented on #9373
Funily enough the following entries in the nvda menu don't show the
underlined key although it works and nvda announces it:
tools (T should be underlined)
Donate (D should be underlined)
All items in the tools menu eccept manage addons don't show an
underlined key.
In the help menu all items eccept about have an underlined key.
May someone could look at the sourcecode or in .po files wheather ther

[2019-03-20 15:39] feerrenrut commented on #8274
@Awalvie

We have become aware of outages affecting the mailing list infrastructure. The developers mailing list has now been moved to https://nvda-devel.groups.io/

[2019-03-20 16:01] Awalvie commented on #8274
Yep, just joined it. Would you recommend unsubscribing from the older list ?

[2019-03-20 18:45] feerrenrut commented on #8274
No, I would stay subscribed to the old list, I doubt there could be any harm in staying subscribed. I'm going to mark these messages as off topic, since this is not really an appropriate place to discuss them. [Gitter](https://gitter.im/nvaccess/NVDA) is a good way to get faster feedback for small issues you might be having with NVDA development.

[2019-03-20 21:26] DrSooom commented on #9389
@fernando-jose-silva: Try to disable the mail preview (in Outlook 2010: View » Layout » Reading area (or so) » Off) and maximize the window with Win+ArrowUp. Any changes?

[2019-03-21 01:19] jcsteh commented on #9387
This is a Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=493683

[2019-03-21 06:05] leonardder commented on #872
I'm afraid this is much more complex than you may think. @feerrenrut once proposed a major change to the way the setting gui is created from a code perspective, and I think such a major change would be required to implement this effectively.

[2019-03-21 07:47] leonardder commented on #2278
Closing, as the report is from Word 2007 which is over 12 years old now.

[2019-03-21 07:47] #2278 closed

[2019-03-21 08:04] dangmanhcuong87 commented on #9123
Hi all
afew day ago I asked about a braille display but I did misspell so that may cause no answer. So sorry for that. I want to use the baum vario pro80 with NVDA but don't know if NVDA support for this or not, and if it has been supported, how do I get driver for it? Searched on Google, I see an NVDA issue on github about this display, but sound I don't understand clearly the issue.
Any help wou

[2019-03-21 09:21] WiproCRMAccessibility opened #9390 "NVDA is not reading the aria label on <Li> elements"
Steps to reproduce:
1. Open the attached file in Chrome and turn on NVDA, and navigate to "Coffee" by tabbing.
Note : This aria label is been read by Narrator (on EDGE).

Actual behavior:
NVDA is not reading or announcing the aria label (i.e My coffee) , it just says bullet.

Expected behavior:
1. NVDA should read the aria label which is present on the <Li> element.

System configuration:
NVDA ver

[2019-03-21 11:42] fernando-jose-silva commented on #9389
Thanks a lot, I disabled the reading mode, the outlook was already maximized.
For now everything works fine.
If you can wait until morning, as the lack of reading is random, if today work all day long well I believe we can close.

[2019-03-21 12:26] n-chardon commented on #9387
This bug is 10 years old.  Are ou sure it is still relevant?

[2019-03-21 13:15] sonor3000 opened #9391 "The entrys of listboxes are not read"
### Steps to reproduce:

1. Open the following URL:

https://www.audio-markt.de/_markt/

2. Navigate to the first and second listbox (Produktgruppe, Hersteller)and try to read the entrys..., its not possible.

### Actual behavior:

the entrys of the listboxes are not read.

### Expected behavior:

The entrys should be read. This was possible before, at least with NVDA 2018.x.

### System configura

[2019-03-21 17:23] feerrenrut commented on #872
Yes, there are quite a few challenges to do this. There is of course the technical challenge of how to go from what we have now to what would be required to implement this feature. There are also a lot of UX challenges. To progress this issue, I think it would be good to see a minimal prototype.  I would suggest implementing this prototype with as little of the baggage in the NVDA GUI as possible,

[2019-03-21 19:14] lukaszgo1 commented on #8069
@jiangtiandao Is this still happening for your with latest master?

[2019-03-21 20:06] fernando-jose-silva opened #9393 "Nvda repeats outdated information when you browse advanced power options"
### Steps to reproduce:
Open the advanced power options in windows.
Open Control Panel
Then hardware and sounds
then power options
then change the plan settings (xxxx)
then change the advanced power settings
Now walking with tabe there is a tree
In the machine in question the first option is
hard drive
When expanding hard disk there is the configuration
disconnect the hard drive after
Now when pre

[2019-03-21 20:34] Adriani90 commented on #9391
Cc: @jcsteh

[2019-03-21 20:37] Adriani90 commented on #9390
Could you please test with nvda 2019.1 rc1 and Chrome 73? Is the issue still occuring?

[2019-03-21 22:09] Adriani90 commented on #3342
I tested with the old speech engine on Windows 10 and the performance is quite good. @fernando-jose-silva the speed of the voice is covered in a different issue.

I am afraid the initial author is not available anymore and we are not exactly sure what the issue actually is. So if someone can reproduce an issue similar to this, please open a new issue. I close this one for now.

[2019-03-21 22:09] #3342 closed

[2019-03-21 22:14] jcsteh commented on #9391
Thanks for reporting. Just to clarify, I assume you mean combo boxes, not list boxes?

This is a bug in Firefox that I'm working on fixing: https://bugzilla.mozilla.org/show_bug.cgi?id=1473234
This has been broken since Firefox 57. It is irrespective of NVDA version. It only happens with certain combo boxes (specifically, those within frames or shadow DOM).

We're already tracking this in #7819, s

[2019-03-21 22:14] #9391 closed

[2019-03-21 22:16] Adriani90 commented on #7242
@Awalvie you might take a look at this NVDA addon. It uses a quite useful API which could help in developing a welcome tutorial.

https://github.com/ibrahim-s/trainingNvdaCommands

@ibrahim-s your thoughts on this are very appreciated. Thanks!

[2019-03-21 22:17] jcsteh commented on #9387
Yes, it is still relevant.

[2019-03-21 22:18] Adriani90 commented on #6509
Closing as works for me.

[2019-03-21 22:18] #6509 closed

[2019-03-21 22:18] Adriani90 commented on #6509
Thanks Jamie and Bernd for replying.

[2019-03-21 22:33] Adriani90 commented on #6514
It seems the last eSpeak version compiled for sapi5 on Windows is 1.48.04:
http://espeak.sourceforge.net/download.html
eSpeak 1.49.1 and 1.49.2 do not support Sapi5 voices yet.

I am closing this issue because we lack of contextual testing from the initial author. If we have a confirmation that the issue still occurs, we can reopen it. Thanks.

[2019-03-21 22:33] #6514 closed

[2019-03-21 22:40] Adriani90 commented on #6508
@pranavlal, @bdorer, @lukaszgo1, @novalis7747 could anyone of you please test if you can reproduce this one? I couldn't reproduce it in Excel 2016 / 365. But I might be wrong.

[2019-03-21 22:46] Adriani90 commented on #2396
Apart from pressing nvda+del, you can also enable "line indentation" in nvda settings and you will get coresponding information when navigating through the text. Closing as works for me because there are several ways to get tab distances in NVDA.
@bdorer thanks very much for picking this one!

[2019-03-21 22:46] #2396 closed

[2019-03-21 22:49] Adriani90 commented on #928
cc: @feerrenrut

[2019-03-21 22:56] Adriani90 commented on #1466
closing as requested.

[2019-03-21 22:56] #1466 closed

[2019-03-22 02:57] Awalvie commented on #7242
@Adriani90 Thank you very much for pointing out this Addon. I can definitely take inspiration from this when designing my tutorial.

[2019-03-22 03:55] pranavlal commented on #6508
Hi,
I am unable to change modes from focus to brows or the other way around. I did not get the specific error message mentioned in this issue. However, I am attaching the debug log of my computer.
I was able to modify the title of the chart.

This is also with excel 2016.
[excel_error.log](https://github.com/nvaccess/nvda/files/2994868/excel_error.log)

Pranav

[2019-03-22 08:14] WiproPSAccTest opened #9394 "NVDA doesn't announce proper object type while consuming a word document with multiple object inserted."
### Steps to reproduce:
1. Open a word document with multiple objects(Illustrations_ObjectType_Inline_TestDoc)
2. Navigate in the object with Down Arrow
3. Observe that NVDA is not announcing object types properly for different objects.
4. For few objects NVDA announces objects as "/"(Slash) and at that time it is no reading "Alt text" also.
Shapes are announced as Slash
Textboxes are announced as

[2019-03-22 08:33] WiproPSAccTest opened #9395 "NVDA is not reading the floating objects in word document(Any picture/Shape/video/smartArt/Chart- with Text wrapping other than "Inline with text" ) in down navigation or paragraph reading"
### Steps to reproduce:
1. Open a word document with multiple different objects(picture/Shape/SmartArt/icon etc)
2. Switch to canvas area and place the cursor at the beginning of the document.
3. Select all these objects one by one and change it's text wrapping from "Inline" to any other "Square/Through/Tight/Behind text" etc (You can do it by selecting the picture and navigating to related Format

[2019-03-22 08:54] WiproPSAccTest opened #9396 "Word document is not scrolled to selected Illustration when moving in tab loop with NVDA"
### Steps to reproduce:
1. Open a multipage word document with multiple objects(PIcture/Shape/SmartArt/Chart/Video/icon etc)
2. All object should be "Inline with Text" (Select object and then Navigate to related Format tab -->then "Wrap Text" and chose Inline with text.
3. Insert all these illustrations and write something in next line then again insert illustration and write something in very nex

[2019-03-22 09:03] WiproPSAccTest opened #9397 "NVDA is not giving any info to the user if any object(Picture/SmartArt/Shape etc) contains hyperlinks"
### Steps to reproduce:
1. Open a word document
2. Insert a picture or any other object to the doument
3. Select these objects and insert hyperlink by pressing Ctrl+K
4. Navigate to the objects using Down arrow keys line by line and observe NVDA announcement for the objects containing hyperlinks.
5. NVDA doesn't give info to the user about hyperlink.

### Actual behavior:
If we navigate to a Pictu

[2019-03-22 09:17] WiproPSAccTest opened #9398 "NVDA is reading as "blank" for all the objects in word document on tab navigation"
### Steps to reproduce:
1. Open a multipage word document with multiple objects(PIcture/Shape/SmartArt/Chart/Video/icon etc)
2. Select the first object using Ctrl+Alt+5 and use Tab to loop through the different objects
3. Observe That NVDA is just announcing blank for all the objects.

### Actual behavior:
NVDA is reading as 'Blank' for all the floating objects. Object name. type, alt text, wrap t

[2019-03-22 09:46] WiproPSAccTest opened #9399 "NVDA is not announcing the 'Wrap type' for the Illustrations in Word Document."
### Steps to reproduce:
1. Open a word document
2. Insert some illustration in that (Picture/SHape/Online Picture/Textbox/SmartArt/Chart etc)
3. Select the illustration and change text wrapping for those to "Inline with Text"/Tight/Square/Infront of Text/Behing text etc from "Wrap Text" menu in related format tab.
4. Select the illustration
5. Observe that NVDA is not announcing the Wrap type for

[2019-03-22 10:11] feerrenrut commented on #928
It's not really clear what this issue is about. I would like to see a better description of the problem to be solved here. Please tell a story that explains a situation where the punctuation level should be tied to the synthesizer rather than a global setting.

I think @jcsteh was suggesting that this setting should remain global, but be moved to another category in order to clarify that it is not

[2019-03-22 11:25] hkdennis2k commented on #6187
I am no longer have access to the code that could replica the bug.

I have little memory that it could behaves very different if the a tag was
- statically from HTML
- in a jQuery dialog
- generated via javascript after onload

On Thu, Mar 7, 2019, 03:40 Adriani90 <notifications@github.com> wrote:

[2019-03-22 17:02] tspivey opened #9400 "Firefox: aria-describedby doesn't update when the element changes"
### Steps to reproduce:
1. Load the attached HTML file into firefox.
2. Press control+home.
3. Press f.
4. Press space a few times.
5. Press control+home and f again. The description hasn't changed.
6. Press NVDA+tab. NVDA reads the new description.

### Actual behavior:
The description doesn't change
### Expected behavior:
The description changes
### System configuration
#### NVDA installed/porta

[2019-03-22 18:26] DrSooom commented on #9400
@tspivey: Which Firefox version are you using? 66.0 is the latest one.
CC: @jcsteh and @MarcoZehe

[2019-03-22 19:52] fernando-jose-silva commented on #9389
@DrSooom
Thank you very much, with your guidelines everything worked.
Strange in my opinion should work with the display of the messages in the reading panel.
Thank you very much, we can close the call.

[2019-03-22 21:37] Adriani90 commented on #7242
@Awalvie you could also use some code from this addon:
https://github.com/derekriemer/NVDA-tipOfTheDay
cc: @derekriemer

[2019-03-22 21:43] Adriani90 commented on #928
My understanding is that this issue is more about consistency and not about use cases. I agree with Jamie that the punctuation could be moved to another cathegory, maybe entirely out of the settings to the voice dictionary or to the symbol pronounciation.

[2019-03-22 21:49] Adriani90 commented on #6499
cc: @marlon-sousa your thoughts on this are very appreciated. Congrats to the pull request regarding the search terms history in the find dialog!

[2019-03-22 21:49] lukaszgo1 commented on #6508
I cannot reproduce the exact error from the initial commend, but when moving inside the chart with the arrows I am getting this for some elements.
ERROR - eventHandler.executeEvent (22:48:02.029):
error executing event: gainFocus on <NVDAObjects.window._msOfficeChart.OfficeChartElementPoint object at 0x04E9E290> with extra args of {}
Traceback (most recent call last):
  File "eventHandler.pyc", li

[2019-03-22 22:31] marlon-sousa commented on #6499
here are my thoughts: I think that user experience is imperative. althoug i dislike nvda ctrl f more than I can express here, I understand perfectly why the authors opted for not overriding ctrl f and think that they are right and that all of power users including me got used to the wrong way because of other   Screen readers. But, in the other hand, I  think we have a very good solution using / a

[2019-03-22 22:37] jage9 commented on #9090
Sorry I'm just replying to this now, but that seems much better than a full-on lockup. Thanks for looking into this. Does the spelling errors PR play into this one as well?

[2019-03-22 22:39] lukaszgo1 commented on #6499
@marlon-sousa Search wrapping is covered by #4637 I've expressed my opinion in the last comment of this issue, so I am not going to repeat myself, just wanted to say that I hope you would make it configurable.

[2019-03-22 22:46] lukaszgo1 commented on #9090
@jage9 If this is fixed for your shoudn't this issue be closed?

[2019-03-22 23:52] marlon-sousa commented on #6499
Be sure that it will .. if my promosal is accepted. Nothing I code is not configurable.

Obrigado,
Marlon

Em 22 de mar de 2019, à(s) 19:39, Łukasz Golonka <notifications@github.com> escreveu:

[2019-03-23 03:35] Andre9642 commented on #6499
I'd prefer a single key (with shift key for the backward search).
Indeed NVDA+{x,z} is not intuitive/fast in my mind. However, it is always easier than pressing NVDA+{f3,shift+f3}.
In my user configuration, I've assigned 'j' for search next and "shift+j" for search previous.

[2019-03-23 09:45] Awalvie commented on #7242
Thanks @Adriani90 Definitely will look at it.

[2019-03-23 12:47] feerrenrut commented on #928
In that case I think we should close this issue and have a more targeted discussion elsewhere. At the moment this issue doesn't have a clear goal.

[2019-03-23 12:47] #928 closed

[2019-03-23 14:41] DataTriny commented on #9388
Hi all,

I looked at this issue and know exactly what's happening, but don't have an idea on how to fix it efficiently.

Using the provided HTML snippet, I found that if you press the `B` key, NVDA will report the entire button content. But, the paragraph that contains it is long enough so that NVDA will split it in two lines. However, when setting up the quick navigation gesture for `formField`,

[2019-03-23 15:31] DrSooom commented on #9388
In other words: If you increase the value in the option "Maximum Number of Characters on One Line" from "100" (default) to "120" in the Browse Mode NVDA Settings, this issue don't occur. Therefore I wasn't able to reproduce it because this value is always set to "120" on my systems. (I know that this is just a workaround.)

[2019-03-23 16:09] DataTriny commented on #9388
Exactly! But forget about my last message as I found a cheap way to check the role of an `NVDAObject` from a `TextInfoQuickNavItem`. Fixed by #9401.

[2019-03-23 17:04] tspivey commented on #9400
66.0.1.

[2019-03-23 17:22] Adriani90 commented on #6499
Andre9642 how did you assign the command for find next / previous?

[2019-03-23 17:27] Adriani90 commented on #9090
Is this fixed? I thought @jage9's comment above is just a reply to mick's comment. Is there a PR which solved this issue?

[2019-03-23 18:20] lukaszgo1 opened #9402 "NVDA crashes Firefox Nightly when choosing label during filter creation in Gmail."
### Steps to reproduce:
1. Open firefox Nightly, login to Gmail.
2. Perform a search and then click advanced search options.
3. Click create filter.
4. Check Apply the label, move to button for selecting a label, press it with space, and try to navigate in the newly opened menu.
### Actual behavior:
Firefox Nightly crashes, the following is written in the NVDA log
ERROR - eventHandler.executeEvent

[2019-03-23 19:05] Andre9642 commented on #6499
@Adriani90 under – Preferences > Input Gestures

[2019-03-24 00:49] tspivey commented on #8831
I'm also running into this constantly in Chrome, mostly while playing incremental games. These are pages with a lot of updates.

[2019-03-24 01:51] ehollig commented on #9389
Closing as requested.

[2019-03-24 01:51] #9389 closed

[2019-03-24 06:47] mulder21c commented on #6584
@Adriani90  Oh! I've just seen your comment.
I just ran a test with the latest version of NVDA, and now it appears that the problem is not occurring and is reading correctly. Thx.

[2019-03-24 23:07] jcsteh commented on #9402
This is not a crash in Firefox code. It seems the vbuf has a reference to an invalid child node here. The line we crash on is this (in VBufStorage_fieldNode_t::getTextInRange):

`child->getTextInRange(max(startOffset,childStart)-childStart,min(endOffset-childStart,childLength),text,useMarkup,filter);`

@MichaelDCurran, any ideas?

[2019-03-24 23:21] jcsteh commented on #9402
This seems to be similar to #8924. There are two lists: one which gets focus and one which does not. As with the menu causing trouble in that issue, all of the list items are in the tree, but not inside the focused list. However, the focused item is always moved beneath the focused button using aria-owns and focused using aria-activedescendant. That is, there is only ever one list item which is a

[2019-03-24 23:27] jcsteh commented on #9400
This is a Firefox bug. There's no specific bug for it, but it's basically the same as https://bugzilla.mozilla.org/show_bug.cgi?id=493683 except that bug is for name change, where this is about description change. The fix will be pretty much the same.

[2019-03-25 00:28] jcsteh commented on #9365
This should be fixed in Firefox 66, which has now been released. Please update and re-test.

[2019-03-25 00:33] jcsteh commented on #6448
Agreed. Even aside from the arguments already made, Flash is not going to get any additional work from anyone, whether that be Adobe, browsers or assistive technology. Closing wontfix.

[2019-03-25 00:33] #6448 closed

[2019-03-25 03:38] andrew-l-d opened #9403 "Problem reading Word files with high zoom level or large fonts"
You have arrived at a default issue template (bug report).
It is preferable to [choose the type of issue](https://github.com/nvaccess/nvda/issues/new/choose) to submit.
Hint: Swap to the preview tab to be able to click the links.
Direct links to the templates:

- [Bug report](https://github.com/nvaccess/nvda/issues/new?template=bug_report.md)
- [Feature request](https://github.com/nvaccess/nvda/is

[2019-03-25 07:22] leonardder commented on #5029
Closing as duplicate of #3287

[2019-03-25 07:22] #5029 closed

[2019-03-25 09:49] Brian1Gaff commented on #9403
Just a comment. Does this mainly happen if the files are more than one page
long or at the page boundary?
 I've noticed some weirdnesses  like this, sometimes long delays before
things start to read again or actually crash and need nvda to restart.
 Trouble is its very flaky and seems to have little bearing on what version
of Word is in use either.
 Bah humbug..
 Brian

bglists@blueyonder.co.uk
Se

[2019-03-25 10:59] HarishTerala opened #9404 "[NVDA - Stream - Inaccessible Video]: Mute button in the video is not accessible using keyboard when NVDA is enabled."
### Steps to reproduce:
Step 1: Start NVDA.
Step 2: Open the URL( https://web-srol-1.stream.azure-test.net/) using Firefox browser and login with valid credentials
Step 3: Now "Stream" home page opens.
Step 4: Navigate to any video and press ENTER to play.
Step 5: Now navigate to Mute video control.
Step 6: Observe whether Mute video control is able to access using Keyboard when NVDA is enabled.

[2019-03-25 13:04] fisher729 commented on #9404
Hi.

Which website is that specifically? I'm not seeing any trace of it on my end.

[2019-03-25 14:33] Brian1Gaff commented on #9404
No not here either.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "fisher729" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Monday, March 25, 2019 1:05 PM
Subject: R

[2019-03-25 15:01] fernando-jose-silva opened #9405 "nvda does not advertise indentation in text edit fields"
### Steps to reproduce:
open a text in Notepad.
press tab.
### Actual behavior:
The nvda is mute.
The option to speak command keys is off on nvda.
### Expected behavior:
espero que o nvda me anuncie que um recuo no início da linha foi incerido.
Se eu caminhar com setas recebo esta informação se a opção de anuncio de recuos de linhas estiver marcada em opções de formatação no nvda.
A questão aqui é

[2019-03-25 15:06] leonardder commented on #9405
Could you please update the `Expected behavior` section with English contents?

[2019-03-25 16:59] Petroniusly opened #9406 "Dialog pronunciation is broken in Mozilla Firefox when CSS 'position' property is changed from 'fixed' to 'absolute' for the dialog element"
### Steps to reproduce:
Step 1: Start NVDA.
Step 2: Open provided below link using Firefox browser
Step 3: Click 'open First Modal' button.
Note, the 'dialog-label  dialog' was stopped and continue from current focused element label ('close-modal-button-label')
Link to the code example: https://codepen.io/Petroniusly/pen/PLLXJa
Link to the folder with attached files (code example, screenshot, NVDA

[2019-03-25 17:40] fernando-jose-silva commented on #9405
sorry, mistake when pasted the original in Portuguese and not translated.

[2019-03-25 17:54] vadimhp commented on #7898
it's necessary for the web developer to know whether an element was activated using a mouse click or a keyboard's Enter or Space key

[2019-03-25 18:12] fernando-jose-silva opened #9407 "inconsistent behavior when opening buttons that contain submenu"
### Steps to reproduce:
Open a call in github
Walk with the arrows until a comment made by you or that you have the elevation to edit.
Before the comment you have 2 buttons:
Add your reaction
In this button you can press enter, the options will be displayed and you can find the options with arrows below.
There is another button:
Show options
Press enter on this button.
### Actual behavior:
Nothing

[2019-03-25 19:36] DrSooom commented on #9406
CC: @jcsteh and @MarcoZehe

[2019-03-25 19:42] DrSooom commented on #9404
@HarishTerala: Please add the mentioned URL and the Firefox version to the issue description. Thanks.

[2019-03-25 20:05] Adriani90 commented on #9407
I can also reproduce this issue.

[2019-03-25 20:06] Adriani90 commented on #9407
You must switch to focus mode, press space on the aria submenu and then it gets expanded. This is actually not intuitive as most people use browse mode to navigate a website more often than focus mode.

[2019-03-25 20:21] Adriani90 commented on #9365
Testing with Firefox 66.0.1, it works as expected. I can interact with the elements and there are no errors in the log. Thanks for looking into this. Closing as works for me.

[2019-03-25 20:21] #9365 closed

[2019-03-25 20:31] Adriani90 commented on #6573
It seems the initial author is unfortunately not available anymore. We didn't get a response since three years. I am closing this issue. If we get the requested information from the author, we can reopen the issue. Thanks.

[2019-03-25 20:31] #6573 closed

[2019-03-25 20:33] Adriani90 commented on #6566
cc: @josephsl

[2019-03-25 20:37] Adriani90 commented on #6636
@hkdennis2k are you still able to reproduce this issue with NVDA 2019.1 RC1? Since this seems related to the addon focus highlight, @nishimotz your thoughts would be very appreciated on this issue. Thanks in advance.

[2019-03-25 20:38] Adriani90 commented on #6635
cc: @lukaszgo1, @leonardder

[2019-03-25 20:42] Adriani90 commented on #6627
@jndiaz this should be solved in NVDA 2019.1 RC1. Could you please test if you can still reproduce this issue? At least I am not able to reproduce it in Chrome 73 and Firefox 66.0.1.

[2019-03-25 20:44] Adriani90 commented on #6609
@JanuszChmiel are you still able to reproduce this issue in NVDA 2019.1 RC1?

[2019-03-25 20:47] Adriani90 commented on #6622
@surfer0627 I guess this issue is still reproducible in NVDA 2019.1 RC1. Right?

[2019-03-25 20:51] Adriani90 commented on #6620
cc: @lukaszgo1, @leonardder

[2019-03-25 20:52] Adriani90 commented on #6610
@tspivey is this still an issue in NVDA 2019.1 RC1 and last version of the driver installer?

[2019-03-25 20:54] Adriani90 commented on #6615
I agree this would be very useful, especially when switching between different voice languages very often.

[2019-03-25 20:57] Adriani90 commented on #6603
@JanuszChmiel are you still having this issue with last NVDA version?

[2019-03-25 21:01] Adriani90 commented on #6606
This is still reproducible in NVDA 2019.1 anf Firefox 66.0.1 as well as Google Chrome 73.

[2019-03-25 21:17] Brian1Gaff commented on #6609
I have had some issues recently but its hard to pin down what is going on.
Sometimes it seems the data is blank but its not.
  It works most of the time but not all the time.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications

[2019-03-25 21:27] Adriani90 commented on #6605
Ok, tested with NVDA 2019.1 RC1 and Excel 2010 and Excel 2016 / 365.

STR:
1. Open the excel sheet provided by the initial author
2. Got to "salaries"
3. Press alt to open the ribbon
4. Press right arrow to go to the options of the pivot table
5. Press tab until you land on slizer (mihgt have a different name in Excel 2016)
6. Press enter on "insert a new slize"
or
7. Press enter on slizer manager

[2019-03-25 21:32] Adriani90 commented on #6687
@manu-codes unfortunately the link you provided is not working anymore. Are you still able to reproduce this issue in Chrome 73 or Firefox 66 and NVDA 2019.1 RC1?

[2019-03-25 21:33] Adriani90 commented on #6665
@elliott94 are you still having this issue? I cannot reproduce it.

[2019-03-25 21:34] Adriani90 commented on #6686
cc: @josephsl, @leonardder

[2019-03-25 21:40] Adriani90 commented on #6678
This occurs only when reading entire document and not page by page. Another case where it could happen is when you switch to Adobe Acrobat window and press arrow keys before NVDA gets the focus on the text. That means NVDA reports the window but passes through the arrow keys directly to the Adobe Acrobat and the pages change instead of line by line navigation. After one or two seconds NVDA finally

[2019-03-25 21:43] Adriani90 commented on #6640
@Qchristensen is this still reproducible with the last Dropbox version and NVDA 2019.1 RC1?

[2019-03-25 21:46] Adriani90 commented on #6680
@tapanbasak are you still available?

[2019-03-25 21:47] Adriani90 commented on #6679
@devil418 are you still available to respond to @ehollig's comment above? Thanks.

[2019-03-25 21:50] Adriani90 commented on #6677
@feerrenrut my understanding is that the author wants to disable speech interrupt for typed characters only in edit fields while typing something, in focus mode or in text editors. But this should not apply to browse mode while using quick navigation keys.

[2019-03-25 21:53] Adriani90 commented on #6673
@jcsteh your suggestion above works great. I think @mltony came up with a solution for this with the fast browse mode feature.

[2019-03-25 21:58] Adriani90 commented on #6664
@afiorenza are you still able to reproduce this issue with NVDA 2019.1 RC1?
I cannot reproduce it.

Thanks!

[2019-03-25 22:00] Adriani90 commented on #6660
cc: @mohammad-suliman

[2019-03-25 22:02] Adriani90 commented on #6659
@aminimalanimal unfortunately your link does not work anymore. Could you please test with NVDA 2019.1 RC1 if the issue is still occuring? Thanks!

[2019-03-25 22:06] elliott94 commented on #6665
Unfortunatley I don't have a copy of Office 2010 that I can test with right now - is anybody else able to reproduce?

[2019-03-25 22:06] Adriani90 commented on #6644
@derekriemer I think this is still reproducible. Right?

[2019-03-25 22:07] Adriani90 commented on #6650
@dawidpieper are you still seeing this issue?

[2019-03-25 22:07] mltony commented on #6673
@Adriani90, fast browse mode still calls .scrollIntoView(), so it wouldn't fix this problem. However, it would make sense to provide a new option to prevent calling .scrollIntoView() in Acrobat Reader. The reason why we scroll to current elemnt in web browsers was that there are some pages, such as Amazon, that rely on that for infinite scrolling feature. But for blind people I don't think there'd

[2019-03-25 22:07] nishimotz commented on #6636
FocusHighlight hooks the events, but in this case, I think nothing is affected.

[2019-03-25 22:20] Adriani90 commented on #6639
Closing as duplicate of #7936.

[2019-03-25 22:20] #6639 closed

[2019-03-25 22:22] vkadri commented on #8440
Hello,

Any update on this?

[2019-03-25 23:34] aminimalanimal commented on #6659
I've updated the link. I don't currently have access to IE 11.

[2019-03-26 00:38] jcsteh commented on #9406
Caused by https://bugzilla.mozilla.org/show_bug.cgi?id=659886
This is being worked on at the moment, but the fix is quite complicated and is likely to be several months of work.

Workaround (if feasible) is to set position absolute *before* focusing the dialog.

[2019-03-26 01:21] DrSooom opened #9408 "Add the translated changelog conclusion and a link to the full one to the Update Check Dialog/Notification"
### Steps to reproduce:
+ Path: NVDA menu » Help » Check for updates...
+ Wait for the auto-update check notification.
### Actual behaviour:
+ [Text] A new version of NVDA (2019.x) is available. (or so)
+ [Buttons] Download and install the update, Remind me later and Close
### Expected behaviour:
+ Add a protected textfield which includes the translated changelog conclusion as well as a new link o

[2019-03-26 02:07] DrSooom opened #9409 "Limit the appearance of the Auto-Update Check Notification only if the Windows Desktop (explorer.exe) has focus"
### Steps to reproduce:
+ Wait for the auto-update check notification.
### Actual behaviour:
This notification seems to appear suddenly and no matter which application has currently the focus.
### Expected behaviour:
As this leads to unwanted interactions and notifications, because it interrupts the workflow suddenly, the auto-update check notification should only appear after the user switch to t

[2019-03-26 03:16] ehollig commented on #6687
@Adriani90 the link should work now, although, I do not quite understand the expected behavior. @manu-codes or @jcsteh could you please clarify what the issue is and what would be the expected behavior?

[2019-03-26 03:20] ehollig commented on #6603
In Firefox with NVDA latest Alpha and Google Docs, pressing NVDA+F reports "No formatting information".

[2019-03-26 03:31] jcsteh commented on #6687
STR:

1. Open the test case: http://www.quirksmode.org/js/events_order.html#link4
2. Wait a bit until the page fully loads.
3. Press m to move to the actual test.
4. Press tab 8 times. Do not force focus mode; let NVDA switch between focus and browse modes itself.
    - Expected: "Save  button"
    - Actual: "First name  edit  required  Last name  edit  required  link  believe me am going to repea

[2019-03-26 03:32] ehollig commented on #9405
This sounds like a similar request to #6553 but for the tab key

[2019-03-26 03:36] ehollig commented on #9409
I am tempted to close this as duplicate of #2257

[2019-03-26 03:38] ehollig commented on #6584
Closing as worksforme

[2019-03-26 03:38] #6584 closed

[2019-03-26 05:35] HarishTerala commented on #9404
Updated the bug by providing URL and Firefox version .Thanks.

[2019-03-26 08:55] Brian1Gaff commented on #9409
Funnily enough I was just having a gentle moan about this on the user list.
Exactly what is it that triggers it?
 I find I now use manual checking, but if such a system can be  made to
function without harm to the system it seems like a worthwhile change. Same
goes for add on updates. There is a further issue here as both can appear
together and one stops the other as of course it reboots nvda eac

[2019-03-26 09:03] Brian1Gaff commented on #6659
That page it says does not work in the browser. In that case IE11, it
actually says code pen does not work, so I guess they changed the code to
stop IE folk using it anyway.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2019-03-26 09:11] leonardder commented on #9409
Agreed with @ehollig

[2019-03-26 09:11] #9409 closed

[2019-03-26 12:47] Neurrone commented on #6673
Sorry for not doing this sooner.

Doing this still doesn't fully solve the problem for me, especially if I don't pause between moving to the next page, and pressing down arrow. If not enough time has elapsed, pressing down arrow repeatedly says unknown, with each press of the down arrow scrolling to the next page of the PDF.

[2019-03-26 12:52] albertosottile commented on #8375
If I may, I have been working on resurrecting py2exe and make it compatible with the latest versions of python. If you want, you could give a try at the prebuilt wheels that I just released here: https://github.com/albertosottile/py2exe/releases/tag/v0.9.3.0

Please, let me know if you find any errors when packaging NVDA. This is a big project and I am sure it will provide a good benchmark for the

[2019-03-26 18:28] DrSooom commented on #9409
@ehollig and @leonardder: After I have fully read issue #2257, I see no duplicate here. But just the issue description of issue #5197 is partly similar to this one here, but also not fully equal.

As NVDA knows all the time, which application is in the foreground, it shouldn't be such difficult to implement a routine to check this after an update was found. And only when "explorer.exe" is in the f

[2019-03-26 19:11] britechguy opened #9410 "2019.1 causing Chrome 73.0.3683.86 to crash in site surveymonkey.com"
### Steps to reproduce:
1. Open Google Chrome, navigate to SurveyMonkey.com, log in.
2. Navigate to Create Survey link and activate.
3. Fill in survey name (I used Test Junk)
4. Tab to Survey Type combo box, then expand.
5. Begin arrowing down through type.  When transitioning from the third, "Customer Satisfaction," to the fourth (which you never reach), Chrome consistently crashes.

### Expected

[2019-03-26 19:31] leonardder commented on #9410
Could you please test this with NVDA 2018.4.1 or older?

[2019-03-26 19:33] britechguy opened #9411 "NVDA 2019.1 - Odd interaction issues with MS-Word 2016 Fillable Form document"
### Steps to reproduce:
1. Open attached BusNote_Document.docx file
2. See notes under Actual Behavior

### Actual behavior:
1. File opens, dead silence ensues, although focus in word itself is in the first form field, Teacher/Grade.
2. Switch focus to any other open window, then back to the document, NVDA now announces that it is working with BusNote_Document.docx, and says "multi-line, selected.

[2019-03-26 19:39] britechguy commented on #9410
I'd be happy to do so.

However, where on earth do I obtain a copy of the older NVDA version (as I
don't still have an installer)?   Also, must the older version be
installed, or could I test with a portable version?

Once I have the answers to those questions I'll be glad to give this a
quick run through.  Also, as an aside, I just tried the SurveyMonkey combo
box without NVDA 2019.1 running, and

[2019-03-26 19:54] britechguy commented on #9411
I just determined that the "checkbox checkbox" announcement is my own fault.  I had forgotten that the help text on the checkboxes all include the word "checkbox" as part of it, so what's being announced as the "checkbox checkbox" is my help text label word plus NVDA identifying the actual type of the object.

The other issues, though, remain as described.

[2019-03-26 20:42] devil418 commented on #6679
3 is definitely fixed, not sure about 5, as I just have clickable off. 1 is still a problem, and there are more issues now, particularly with not reading items in long lists (playlsts etc).

[2019-03-26 21:16] lukaszgo1 commented on #9410
I haven't tested myself, but it looks pretty similar to #9364

[2019-03-26 21:20] britechguy commented on #9410
It probably is similar to  #9364
<https://github.com/nvaccess/nvda/issues/9364>, but one important
difference is I have not even attempted to make a selection.  Just
traversing the combo box choices, and always when going from the third to
fourth item, causes all Chrome windows to just disappear in a flash.

On Tue, Mar 26, 2019 at 5:16 PM Łukasz Golonka <notifications@github.com>
wrote:

--
*Bri

[2019-03-26 21:25] lukaszgo1 commented on #9410
@britechguy You can download 2.018.4.1 from https://www.nvaccess.org/files/nvda/releases/2018.4.1/nvda_2018.4.1.exe As to testing with a portable vs installed version I  believe that portable should suffice.

[2019-03-26 21:42] britechguy commented on #9410
I downloaded 2018.4.1 from the noted location, created a portable copy, and
ran a test using same.

I am not getting the same Chrome crash.  It should be noted, though, that I
do have a number of add-ons installed and active for my installed version
of 2019.1 (that have been around for ages), but I didn't start playing with
Survey Monkey until today.

If it's necessary for me to test this with 201

[2019-03-26 21:46] JanuszChmiel commented on #6609
I can confirm, that bug is gone for ever. I have opened Pascal source
code unit, which have more than 400000 characters and there is not such
error like before.
And speed while browsing editable field even inside such long text Ascii
file is very fast. COngratulations, very well done.

[2019-03-26 22:26] DrSooom commented on #9410
@britechguy: Instead of disabling all add-ons via NVDA menu » Tools » Add-on Manager, it might be easier to set up a portable copy of NVDA 2019.1 and try it with this. Only if the result is different to your installed NVDA 2019.1 with the add-ons, you have to disable and enable each single one step by step and repeat the whole StR every time to find out the guilty one.

[2019-03-26 22:33] Adriani90 commented on #9409
@DrSooom in my view if the update notification will be changed in the way that it will show up through Windows notifications in the system tray, then we do not need the apprearance at all and it will become obsolete anyway. At least in my view a notification in system tray which appears every few minutes or so is much simpler to implement. If you don't agree we can reopen this issue ofcourse.

[2019-03-26 22:44] Adriani90 commented on #6609
@JanuszChmiel thanks very much for reporting back. Glad to hear that it works for you. I am closing this for now as works for me. @Brian1Gaff could you please open a new issue for that problem including steps to reproduce and a log file when NVDA shows blank field although there is data in it? Thanks!

[2019-03-26 22:44] #6609 closed

[2019-03-26 22:47] britechguy commented on #9410
Just performed the test using a portable version of 2019.1, and the crash
result is exactly the same as with the installed version.

Since it doesn't occur with 2018.4(portable) the issue is clearly isolated
to the latest release.

Brian
--
*Bri the Tech Guy*          *http://britechguy.com <http://britechguy.com>*
brite <britechguy@gmail.com>chguy@gmail.com <britechguy@gmail.com>
  phone/text:  *

[2019-03-26 23:52] DrSooom commented on #9409
@Adriani90: Maybe it would be better that I would have mentioned the obsolete state of this issue here, after #2257 has fixed, in my previous command as well. Of course you three are right, but as long as #2257 hasn't fixed, I personally wouldn't close this issue here.

Well, you also can label this issue here as "wontfix", because of the mentioned solutions in issue #2257. Then it would be fine t

[2019-03-26 23:59] jcsteh commented on #7819
Fix now available in Nightly and will be in Firefox 68. I may request uplift to 67 after this has baked on Nightly for a bit, but I'm not sure yet; the patch is not trivial.

[2019-03-26 23:59] #7819 closed

[2019-03-27 00:16] Qchristensen commented on #7052
Can I also just add a suggestion to everyone following this topic:

Having NVDA provide these features where Notepad is lacking is arguably useful.  However, the best outcome would be for Notepad itself to provide this functionality in the first place.  Therefore, I would recommend anyone interested to also petition Microsoft to update Notepad to improve functionality.

[2019-03-27 01:35] mglezer opened #9412 "aria role=table narration/navigation seems broken on Chrome"
### Steps to reproduce:
1. Open Chrome
2. Browse to https://jsfiddle.net/bv4eyu5x/
3. Tab to focus on one of the two buttons in the table

### Actual behavior:
When tab-focusing on the first button (labeled "accept"), NVDA reads, `'accept  not selected  row 2  Customer ID  column 4'`. The column number is right, but the column name is not.
### Expected behavior:
When tab-focusing on the first butt

[2019-03-27 11:01] #7686 closed

[2019-03-27 13:55] #8361 closed

[2019-03-27 14:38] britechguy commented on #9411
Revised Bus Note document to get rid of the "checkbox checkbox" issue caused by my own help text.  The other issues remain.
[BusNote_V2.docx](https://github.com/nvaccess/nvda/files/3013655/BusNote_V2.docx)

If anyone wants a copy of the .dotx file, which is used to generate "fresh copies" of the Bus Note as they need to be filled out, contact me.  I can't attach a .dotx file here.

[2019-03-27 14:40] VasylRudnitskyi opened #9413 "NVDA read labels for installers twice"
### Steps to reproduce:
Open installer, for example from here:
https://www.microsoft.com/en-sg/download/confirmation.aspx?id=51495
Start nvda and use 'NVDA Key' + 'b'

### Actual behavior:
NVDA reading labels twice.

### Expected behavior:
NVDA reads labels once.

### System configuration
#### NVDA installed/portable/running from source:
from source
#### NVDA version:
2018.3.2
#### Windows version

[2019-03-27 14:42] britechguy commented on #2767
Just curious as to whether there has been any movement on this, as it appears to be an issue with Office/Outlook rather than the screen reader.   It's still happening as of today, March 27, 2019, under Outlook 2016, when dealing with Contact Groups.

If Microsoft isn't going to fix the issue is there any possibility of an in-NVDA code tweak to make the screen reader follow movement up/down through

[2019-03-27 17:27] ehollig commented on #8952
@HarishTerala I am not sure if I can replicate the issue you are having. When I open MS Teams and activate a chat conversation, I am able to tab, or shift tab to the video call button and the audio call button. Many updates to the MS Teams desktop app has been made since this issue was created, is this still an issue?

[2019-03-27 17:34] ehollig commented on #8892
This is no longer an issue now that #8922 is merged. Furthermore, it is recommended to read chat messages in MS Teams in focus mode rather than browse mode. Closing

[2019-03-27 17:34] #8892 closed

[2019-03-27 17:39] ehollig commented on #8891
@GarimaRanaV is this still an issue? When I am reading messages in MS Teams in focus mode, using up and down arrows several times does not read the message again. I am able to get the described behaviour when reading the messages in browse mode, however, it is recommended to use focus mode to read and interact with messages in a conversation.

[2019-03-27 17:42] ehollig commented on #8751
@manish10 is this still an issue with Excel 2016? I am not able to reproduce when I am in focus mode and using Excel 2016  and arrow around to different cells in a spreadsheet.

[2019-03-27 17:44] ehollig commented on #8889
@HarishTerala is this still an issue with the latest version of MS Teams? Many updates to Teams have come out since this issue was created.

[2019-03-27 17:55] ehollig commented on #8850
While it is true that you can not toggle browse and focus mode in OneNote, Microsoft does provide keyboard shortcuts to navigate between notebooks, sections and pages. @dnz3d4c do the list of Keyboard Shortcuts in OneNote for Windows](https://support.office.com/en-us/article/keyboard-shortcuts-in-onenote-for-windows-44b8b3f4-c274-4bcc-a089-e80fdcc87950) solve this issue for you?

[2019-03-27 18:10] ehollig commented on #9390
Is it invalid to provide an aria-label on a noninteractive element? If so, this was reverted in #8899

[2019-03-27 18:27] ehollig commented on #9348
@jacobchawala you may want to create an issue on the [espeak-ng](https://github.com/espeak-ng/espeak-ng) issue page and reference this issue.

[2019-03-27 21:24] pluma commented on #8726
This seems to have been what was preventing me from installing NVDA at all. When running the installer I get "an error has occured" right after the logo and this shows up in the log file (which gets deleted when the dialog is closed, btw, so this took me a while to hunt down):

[code]

I'm in Germany, Windows is set to "English (Germany)". Switching to "English (United States)" allowed me to run t

[2019-03-27 22:30] Qchristensen opened #9414 "Dialogs in VirtualBox reported as "unknown""
### Is your feature request related to a problem? Please describe.

Quote from user:
"virtualbox still says unknown in the dialogues that come out when a virtual machine is powered on, for example, the save the machine state, send shutdown signal, and to force the power off that is removed with the combinadción Ctrl+q, and so in all the dialogues of information that come out during the execution a

[2019-03-27 23:07] Qchristensen commented on #2767
Just confirming I can also repro this with Office 365.   I have also previously reported this to Microsoft.

Several very imperfect workarounds in the interim:
- Use next / previous object commands to have NVDA read the list.  The command will report "selected" for the currently selected contact.  As the focus is not correctly following to begin with, using object navigation here always behaves as

[2019-03-27 23:09] Qchristensen commented on #2767
Minor update - Narrator has exactly the same issue in this situation.  Interestingly if you arrow through the list and back, when you get back to the original item with focus, Narrator simply reports "Selected".

[2019-03-27 23:15] britechguy commented on #2767
At this point, were someone tasked with maintaining a mailing list with a
very large number of members, I would export the original from Outlook to
an Excel CSV, and maintain it there, deleting the list in Outlook and
importing it from the Excel CSV file when necessary.

This is not a huge deal, though it is a grand PITA, when the number of list
members is relatively small, but it quickly becomes

[2019-03-27 23:40] dingpengyu commented on #8543
cc
@leonardder
Can you help me? Apply to delete outdated locale-zh Chinese translation directory this PR

[2019-03-28 00:26] #9388 closed

[2019-03-28 01:01] #9341 closed

[2019-03-28 03:37] #8726 closed

[2019-03-28 09:18] leonardder commented on #8375
This is really interesting. We'll keep this in mind as soon as the Py3
transition begins.

[2019-03-28 09:31] lukaszgo1 commented on #9414
See also  https://www.virtualbox.org/ticket/629
According to the commends there it is very hard to debug. Oracle devs don't seems to be very interested in fixing this but if something could be done on the NVDA side I would be very grateful.

[2019-03-28 17:28] ehollig commented on #1650
@Brian1Gaff is this still an issue for you? When I use the arrow keys to the edit fields or use tab navigation to all of athe examples on this site, I am not getting double speaking. Using NVDA latest Alpha with Chrome and Firefox.