[2019-09-07 22:19] DrSooom commented on #10164
@JulienCochuyt: Okay, thanks for the clarification. And yes, I agree that there should be an option to enable speaking all Unicode characters on character level if all of them within a container are allocated to the same Unicode code point. A container could be the title bar, the status bar, a folder/file name, a line in a document, a link on a website or also the content of a cell within a table.

[2019-09-08 02:59] josephsl commented on #4259
Hi,

Update: #10114 will resolve this through a more generic version as part of base app module, as this issue also extends to universal aps and converted desktop apps, too.

Thanks.

[2019-09-08 03:05] josephsl commented on #10108
Hi,
\
Update: #4259 falls under this category although it is specific to WWAHost - the same approach used in #10114 will also resolve that one too, and is under active testing via Windows 10 App Essentials.

Thanks.

[2019-09-08 04:25] josephsl commented on #4569
Hi,

PR #9119 has a side effect: the application role workaround for WWAHost breaks, meaning browse mode will be enforced. This means we may need to add a special case for this in IAccessible/MSHTML, or re-examine the app role strategy.

Thanks.

[2019-09-08 04:48] josephsl commented on #9117
Hi,

There are two ways I can think of that can resolve this dilemma:

1. Move app role coercion routine to NVDAObjects.IAccessible.MSHTML package to cover Windows 8.x; for Windows 10, it should be part of NVDAObjects.UIA.edge package. This means PWA's won't be true web apps as far as user experience is concerned.
2. Remove app role coercion from WWAHost app module. This reverts an old commit from

[2019-09-08 18:39] feerrenrut commented on #7788
It's taken me a while to come back to this.
Thanks @lukaszgo1, I have fixed this issue now.
@DrSooom these would be nice to have, however first I would like to get this integrated in it's most basic form. Further requests should be opened in new issues.

[2019-09-08 18:55] josephsl commented on #10093
Hi,

Many updates since then...

Compounding the problem is that the CJK IME in 20H1 is hosted inside Text Input Host, the same executable as modern keyboard. So far it works with Windows 10 App Essentials add-on installed, but we do need to prepare for this going to NVDA Core in say, 2020.1 (preferably 2019.3 but that can be changed).

Technical: when CJK IME candidates window opens, a different

[2019-09-08 19:10] josephsl commented on #10093
Hi,

Another observation: UIA tree structure is similar to hardware keyboard suggestions, which makes the solution even simpler.

Thanks.

[2019-09-08 19:38] Adriani90 commented on #10170
No there is not a single duplicate for this.

cc: @feerrenrut, @jcsteh, @MarcoZehe

[2019-09-08 19:43] Adriani90 commented on #8631
cc: @jcsteh, @MarcoZehe

[2019-09-08 19:48] Adriani90 commented on #10132
cc: @francipvb, @JulienCochuyt I guess you are working quite often in VS studio. Do you know an answer to the question raised above?

[2019-09-08 19:50] Adriani90 commented on #9954
@nishimotz after the reverting of the search history PR, is this issue still occuring? Or is this invalid now?

[2019-09-08 19:54] Adriani90 commented on #9283
Closing as works for me.

[2019-09-08 19:54] #9283 closed

[2019-09-08 19:55] josephsl commented on #9954
Hi, I’m not @Nishimotz, but it is no longer happening. However, I advise leaving this open as a reminder for everyone. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, September 8, 2019 12:51 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Search history of NVDA find dialog

[2019-09-08 19:56] Adriani90 commented on #9125
@xethea did my suggestions above help you to solve your problems? Are you still having this issue in NVDA 2019.2?

[2019-09-08 19:58] Adriani90 commented on #9954
I have reopened #8482. I think it is a better idea to discuss this one in course of implementing #8482. I am closing this for now. Thanks.

[2019-09-08 19:58] #9954 closed

[2019-09-08 20:02] Adriani90 commented on #8912
I am closing this issue as per comments from @josephsl above. I will adjust the text in the userguide for this setting accordingly. Thanks.

[2019-09-08 20:02] #8912 closed

[2019-09-08 20:21] Adriani90 commented on #10138
@k-kolev1985 I assume you tested in Skype for desktop? Or is this the skype UWP from windows store?

[2019-09-08 20:21] Adriani90 commented on #10138
cc: @leonardder

[2019-09-08 20:32] francipvb commented on #10132
Hello,

No, currently nvda doesn't read parameter information as it isn't classified as a tooltip. The fact is that you have overloads you can switch with up and down arrows.all intellisense related popups are added just inside the main window, so you can experiment with them.

[2019-09-08 21:51] #10103 closed

[2019-09-08 22:01] josephsl commented on #10093
Hi,

Can you try this [PR build](https://ci.appveyor.com/api/buildjobs/orb9f53pmlitfi0d/artifacts/output%2Fnvda_snapshot_pr9205-18535%2C2cc65c4b.exe) and see if it resolves this for you?

Thanks.

[2019-09-08 22:11] derekriemer commented on #6305
On Sat, Aug 31, 2019 at 3:06 AM Julien Cochuyt <notifications@github.com>
wrote:

How would the addon know if it is of use to someone on the secure screen?

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Op

[2019-09-08 23:32] #8295 closed

[2019-09-08 23:39] jcsteh commented on #8631
This is a bug in Firefox which is currently being worked on. https://bugzilla.mozilla.org/show_bug.cgi?id=1277201

[2019-09-09 00:01] DrSooom commented on #9982
Splitting "zh-tw.ctb" into two parts at line 25,000 and including the second part into the first file via the include command doesn't solve this problem in NVDA 2019.2. Well, excluding the second part of that braille tables solved it, but that's not the solution we are looking for.

It is quite interesting that this issue absolutely doesn't occur with [NVDA 2019.2 RC1](https://www.nvaccess.org/fil

[2019-09-09 01:55] josephsl commented on #10093
Hi,

Upon further testing, it appears it might be possible to tweak my solution a bit - the PR build I linked supports Hanja, not actual Japanese IME. A new PR build will be sent shortly.

Thanks.

[2019-09-09 02:45] josephsl commented on #10093
Hi,

Although I'm going to include Japanese IME support in Windows 10 App Essentials, I'll add your solution (spelling the candidate item) after the modern keyboard enhancements are merged into Core first (i.e. I'm reverting IME support from the parent PR for now). The best way to incorporate your solution is the moment the candidate item is set as navigator object, and can be done in as few as tw

[2019-09-09 02:54] jcsteh commented on #10170
This is authoring error. The author has applied role="link" and aria-label to the div inside each list item. For links, aria-label overrides the content, and thus everything inside the link is overridden. (If Edge is behaving differently, this is a problem with Edge and/or NVDA's support for it.)

[2019-09-09 02:54] #10170 closed

[2019-09-09 02:58] francipvb commented on #10170
Thanks @jcsteh I didn't knew that.

Cheers,

[2019-09-09 03:49] josephsl commented on #10093
Hi,

Another observation: modern IME isn't part of 19H2 - I tested it with Korean and Japanese input in build 18363.

Thanks.

[2019-09-09 03:51] jcsteh opened #10175 "Vbuf backend crashes when moving options between list boxes"
### Steps to reproduce:

1. Open this test case in Firefox:
    `data:text/html,<body onkeydown="if (event.key == 'ArrowDown') { let oldActive = owner.getAttribute('aria-activedescendant'); let newActive = oldActive == 'item1' ? 'item2' : 'item1'; owner.setAttribute('aria-owns', newActive); owner.setAttribute('aria-activedescendant', newActive); }"><div role="listbox"><div id="item1" role="option"

[2019-09-09 04:22] Oreonan2 commented on #9700
I think that approving the #9707 pull request, which has been waiting for a long time, would close that. This would also make some users happy and finally allow some contributors to feel useful :)

[2019-09-09 05:02] jcsteh commented on #10175
Note that this is specific to list boxes, which suggests it is triggered by an event on the selected list box option causing the parent to be re-rendered (requiresParentUpdate is set to true for the selected list box option). My guess is that we re-render the parent, which will render a moved child option, but that moved child option hasn't yet been moved from its old place in the buffer yet... or

[2019-09-09 05:53] k-kolev1985 commented on #10138
@Adriani90 Yes, I've tested with Skype for desktop. The problem does not occur with Skype from the store.

[2019-09-09 06:10] JulienCochuyt commented on #6305
I'd naively say by design and by testing.
It mostly depends on the feature scope of each add-on

Eg.:
 - AppModule add-ons do not qualify
 - Synth and Braille drivers do if they work there, don't otherwise
 - Add-on Updater does not
 - ObjPad probably does
 - IndentNav probably does not
 - WebAccess does not
 - FocusHighlight might (needs testing)
 - etc

[2019-09-09 06:26] josephsl commented on #6305
Hi, regarding ObjPad and other of my add-ons, I plan to harden them by letting them quit while used in secure screens (I mean it). Thanks.

From: Julien Cochuyt <notifications@github.com>
Sent: Sunday, September 8, 2019 11:11 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Allow selection o

[2019-09-09 09:05] lukaszgo1 commented on #10175
Probably related to #9402

[2019-09-09 09:35] feerrenrut commented on #7898
@danzen I tried https://zimjs.com/accessibility/radiobuttons.html

So far I'm not seeing a problem with NVDA, though here is some advice for zimjs, or at least the examples I looked at:

- Putting this section in a `role=application` section should make focus mode enabled by default, keys will be passed through directly, however you will have to do a lot more work to provide a user friendly UX. An

[2019-09-09 10:42] MIKOLAJW197 commented on #5825
Any fix/workaround for this issue?

[2019-09-09 11:30] MIKOLAJW197 commented on #6606
Did anyone find some workaround? Currently I am working on some project (SPA) where I
reproduced this issue.

[2019-09-09 16:44] robinettl opened #10176 "Use currently saved settings on the login and other secure screens: Option to ignore addons"
When accessing the General page of the NVDA settings and choosing the option "Use currently saved settings on the login and other secure screens" option, a dialog box appears which reads "addons were detected in your user settings directory.  Copying these to the system profile could be a security risk.  Do you still wish to copy your settings?"  It seems I cannot mirror my current NVDA settings t

[2019-09-09 17:20] josephsl commented on #10176
Hi, rest assured that someone is indeed looking into this. CC @NVDAEs (for others, closing as duplicate of #6305)

From: robinettl <notifications@github.com>
Sent: Monday, September 9, 2019 9:44 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Use currently saved settings on the login and other secure screens: Option to ignore a

[2019-09-09 17:42] RadhikaTakyar commented on #2807
Hi- I am getting this error when I am trying trying to run the above command.
![image](https://user-images.githubusercontent.com/47903227/64553526-89b3bb00-d307-11e9-973c-1fa13e9a918b.png)

Please if you can  help! looking forward to hear back from you.

[2019-09-09 18:30] magleaso opened #10177 "NVDA Reads Column Header Twice"
### Steps to reproduce:
1. Open Chrome
2. Navigate to [an Azure DevOps Feed](https://dev.azure.com/azure-public/vside/_packaging?_a=feed&feed=vssdk)
3. Tab through the table
### Actual behavior:
Column names are read twice
### Expected behavior:
Column names are read only once
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
Version 2019.1
###

[2019-09-09 19:23] magleaso commented on #10177
Narrator does not exhibit the same behavior. When the cellTitle is removed from the class property of the header, NVDA stops double reading.
![html tag with highlighted cell title segment. The tag reads: <span id="header7-location" aria-labelledby="header7-location-name " class="ms-DetailsHeader-cellTitle *begin highlight* cellTitle_b85d5fbe*end highlight*" data-is-focusable="false" aria-haspopup=

[2019-09-09 19:24] robinettl commented on #10176
My mistake — didn’t see that existing ticket. Thanks.

[2019-09-09 19:30] magleaso commented on #10177
Perhaps this could be folded up into #10140

[2019-09-09 19:41] robinettl opened #10178 "NVDA lag/poor responsiveness when sharing desktop on Skype for Business, Microsoft Teams"
### Steps to reproduce:
When sharing my Windows desktop in a Skype for Business or Microsoft Teams call with coworkers, NVDA becomes slow and unresponsive.  I will press an NVDA keyboard shortcut and nothing will happen, or it will take several seconds for that command to execute.  Under normal circumstances, tapping the shift key will pause NVDA speech, but in these situations, NVDA either respon

[2019-09-09 19:43] lukaszgo1 commented on #9039
@michaelDCurran Have you made any progress here?

[2019-09-09 19:50] lukaszgo1 commented on #2807
@RadhikaTakyar
First of all many NVDA developers are blind, so screenshots are of no use to most of us.
From performing OCR on it it looks like you cannot reregister oneCoreCommonProxyStub.dll, is that right?
If so, take a look at [this commend](https://github.com/nvaccess/nvda/issues/2807#issuecomment-371301394).

[2019-09-09 20:15] Adriani90 commented on #10176
Closing as duplicate

[2019-09-09 20:15] #10176 closed

[2019-09-09 20:17] Adriani90 commented on #10167
cc: @josephsl

[2019-09-09 20:25] Adriani90 commented on #10164
Actually I agree with @JulienCochuyt here. We do not need an option to enable this announcement. This should work by default. In any case, if there is only one character and I navigate with arrow keys character by character, I would expect a screen reader to read that character independent of the punctuation settings. When reading word by word, sentence by sentence, line by line etc, then punctuat

[2019-09-09 21:07] CyrilleB79 commented on #942
Hello
Why could we not use the same strategy as the way bold or italic formatting is detected for now? I.e. using the following value in winword.py:
`self.WinwordDocumentObject.TrackRevisions
I have tried and this seems to report correctly the track changes feature status, at least on my French Word with ctrl+shift+R (the localized equivalent of ctrl+shift+e).
I may provide a PR if people agree on

[2019-09-09 22:15] JulienCochuyt commented on #10164
There indeed are two issues here:
1. Verbosity settings might dictate that no characters in a spoken chunk of text should be spoken, leading to silence while there is content.
2. A single character is quoted, visually emphasizing it, in which case it has a much stronger meaning than expected by the verbosity settings.

Point 2 is pretty hard to address correctly in all situations. Cf. earlier comm

[2019-09-09 22:48] #9175 closed

[2019-09-09 22:56] #9435 closed

[2019-09-09 23:02] DrSooom commented on #10164
@Adriani90: Of course it could be enabled by default, but I as the end user always want to have the power to disable this – and not giving over that power to the developers to choose a firm decision for the end user, especially in that case with hundreds of language and TTS combinations. Furthermore it's better for the developers to give the end user both options, otherwise another user is going t

[2019-09-09 23:14] #9863 closed

[2019-09-09 23:52] zstanecic commented on #10126
update:
the error with the brazilian portuguese RHVoice is fixed,
please see the repo of the synthesizer.
The synthesizer is compatible with new alpha snapshots based on PY3 and no cutting is heard. i can send the build here , so that you can verify this.

[2019-09-10 00:13] JulienCochuyt commented on #10164
Leaving aside the question of quoting, do you really think that a user might reasonably wish to be presented with silence as the result of an action? I sincerely doubt so.

[2019-09-10 01:02] #7554 closed

[2019-09-10 01:51] DrSooom commented on #10164
This could be the case if the Unicode character isn't spoken correctly by the TTS and if the end user uses a braille display at the same time. And personally I prefer "A B C D E (nothing) F G H I J" from the above given example. And we should not only think about Germanic and Romanesque languages. CC: @josephsl and @nishimotz

[2019-09-10 03:47] josephsl opened #10179 "Installed copy of NVDA: NVDA restarts when leaving secure screens"
Hi,

Regression introduced in #9827: in installed copy of NVDA, whenever one exits secure screens, NVDA restarts.

### Steps to reproduce:
1. Install alpha.18571 or later, and for sake of completeness, have a portable copy of that snapshot handy.
2. After installing the snapshot in question, press Control+Alt+Delete.
3. Press Escape to exit.

### Actual behavior:
NVDA restarts.

### Expected behav

[2019-09-10 03:49] josephsl commented on #10179
Hi,

Surprisingly, this issue does not occur if one is using portable copy.

Thanks.

[2019-09-10 04:02] josephsl commented on #10179
Hi,

Possible cause found: in NVDA launcher, NVDA will forcefully exit no matter what happens when desktop switches occur. Previously it won't do anything unless it is told to quit or restart, but with #9827, it'll restart without checking for flags.

I see two paths:

1. Revert #9827 until a more stable solution is found that will not cause NVDA to restart when all it did was exit out of secure s

[2019-09-10 04:49] XLTechie commented on #10179
Joseph Lee wrote:

I have not looked at this code, but would it be possible to invert the situation
from what it was before? Have it called with a --keep-running flag, opposite of
the old -r flag, when coming out of secure screens?

It would require adding that flag, of course, but it might be worth doing
anyway for other use cases where you don't want a restart if it's already
running.

[2019-09-10 04:58] josephsl commented on #10179
Hi, I think we need to do more than that: we need to remind NVDA that desktop switches are not a good time to restart unless this happens when a user logs on or off. The specific change will require adjusting IAccessible handler, specifically desktop switch code. Another possibility might be Ease of Access, but we need to figure out what’s up first before deciding what to do next. Thanks.

From: L

[2019-09-10 05:06] josephsl commented on #10179
CC @JulienCochuyt, and please address this before it goes to beta.

Thanks.

[2019-09-10 05:11] josephsl commented on #8320
Hi,

I'm going to reopen this to serve as a reminder as to the tough road ahead: see #10179 for a full explanation, as the design of this issue includes an unintended side effect for installed copy of NVDA when it comes out of secure screens.

Thanks.

[2019-09-10 05:44] leonardder commented on #10179
I would prefer this for the time being, until there is a suitable solution for this issue.

I think this might be error-prone. Note that a destkop switch always triggers execution of nvda.exe, so the new copy of NVDA should not kill the old one if there is a destkop switch. The only way to communicate this, might be an extra command line argument.

I think this makes sense. In fact, the --ease-of-

[2019-09-10 05:56] josephsl commented on #10179
Julian, any thoughts? If it is okay with you, we’re willing to revert this one. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, September 9, 2019 10:44 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Installed copy of NVDA: NVDA restarts when leaving secure screens

[2019-09-10 06:08] leonardder commented on #10179
Actually, I don't think reverting is necessary if we choose the
--ease-of-access flag way. That should be a few lines of code to fix.
Note that the help description should be repeated.

[2019-09-10 06:20] leonardder opened #10181 "Screen curtain reveals mouse position"
Note, this was reported to me by my wife, so it would help to have at least one sighted person who can verify this.

### Steps to reproduce:
1. Enable the screen curtain by assigning a custom gesture to the global command in the vision category
2. Look at the screen

### Actual behavior:
The screen is black, but the mouse is still shown.

### Expected behavior:
Screen is entirely black

### Propos

[2019-09-10 07:03] k-kolev1985 commented on #10181
Yes, I can confirm this. I've tested it a few days ago and I observed the same behavior. The screen is black, but the mouse cursor/pointer is definitely visible on the screen.

I might be wrong, but I think this is a limitation of the used API. JAWS has the same feature and it behaves the same - the screen is black, but the mouse pointer is visible.

[2019-09-10 08:37] leonardder commented on #10181
Interesting to see that JAWS seems to use the same API. However, I'm
pretty sure I can fix this.

[2019-09-10 09:09] leonardder commented on #8420
For reference, Microsoft open sourced [detours](https://github.com/microsoft/detours), their own hooking library. I think hooking is pretty stable at the moment, but minhook seems abandoned for a long time now and we don't seem to be able to update safely.

If we ever need to update minhook, it could be considered to switch to detours, as it has a very long history and is considered much more test

[2019-09-10 09:09] leonardder commented on #3609
As per above, I"m closing this as works for me. If this issue requires a revisit, let us now!

[2019-09-10 09:09] #3609 closed

[2019-09-10 10:01] JulienCochuyt commented on #10179
Fix up PR is on its way.

I'm not getting your point here. Could you please elaborate?

[2019-09-10 10:04] leonardder commented on #10179
Ugh, probably was somewhere else with my head when I wrote this.

What I mean, is that the --ease-of-access flag has a help description in the arg parser in nvda.pyw. That probably requires updating to mention the new behavior, i.e. that is just in order not to restart NVDA.

[2019-09-10 10:13] Andre9642 commented on #9982
Possibly linked to https://github.com/liblouis/liblouis/issues/848

[2019-09-10 10:23] JulienCochuyt commented on #10179
I'll have a look, but as this parameter is not meant to be passed by end user, I'm not so sure it bothers.

The try build of the fix up PR is building.
I'll check with this in the first place.
I missed to mark that fix up PR as a draft one, though.

[2019-09-10 11:27] JulienCochuyt commented on #10179
I have amended the comment in `nvda.pyw` explaining the use of `--ease-of-access`:
Removed:
`# This option currently doesn't actually do anything.`
Added:
`# If this option is provided, NVDA will not replace an already running instance (#10179)`

The help screen shows:

That is, it historically did not mention the fact that the parameter had no effect.

My opinion is to leave it as is. What do you

[2019-09-10 11:29] leonardder commented on #10179
I think it is now good as is. I actually thought that there was
something about the deprecated state of the parameter in the help text,
but there isn't.

[2019-09-10 11:51] MichelSuch opened #10184 "Problem when trying to scroll forward or backward with braille under Balabolka"
### Steps to reproduce:
1. Open a text file with Balabolka
2. on a text line, try to scroll right with your braille display.
### Actual behavior:
The terminal scrolls right for a very short while and ten gets back to its previous position.

### Expected behavior:
the scroll shoud be performed like in any other text editor.

### System configuration
#### NVDA installed/portable/running from source:

[2019-09-10 13:17] Adriani90 commented on #10126
@zstanecic thank you very much for the update. Please feel free to post the link here so followers of this issue can find it easily. I am closing this for now as works for me.

[2019-09-10 13:17] #10126 closed

[2019-09-10 13:24] Adriani90 commented on #8320
A fix up for #10179 is provided in #10183. Thus, closing this one in favor of the both references. I suggest to reopen the feature requests only if the whole feature is implemented and reverted due to something. If there is only a bug due to the feature but the feature is not completely reverted, then I suggest to open new issues like in this case #10179. If there are more bugs discovered based on

[2019-09-10 13:24] #8320 closed

[2019-09-10 13:40] RadhikaTakyar commented on #2807
Sorry about the inconvenience. Yes- error is to make sure that if the DLL is a valid DLL and asking to try again. So what can be done to reslove the issue. If the " alternative would be to put the needed registry values for IServiceProvider in a .reg file and import it to the Registry." also doesn’t  work.

[2019-09-10 13:58] #10181 closed

[2019-09-10 14:18] JamesCatt commented on #8341
I'm seeing this issue even without a pseudo element. Firefox 69.0 + NVDA 2019.2

[2019-09-10 14:31] hozosch opened #10185 "Python 3 versions of NVDA produce a scratch in the speech when finishing the end of a line"
### Steps to reproduce:
Open a dokument
Press NVDA+A for "say all"
### Actual behavior:
You will find that NVDA scratches sometimes. Mostly at the end of a line, either a line you did with enter, or the automatic line change if one long line is too big for the screen.
### Expected behavior:
NVDA shouldn't scratch a single time
### System configuration
#### NVDA installed/portable/running from sour

[2019-09-10 14:33] zstanecic commented on #10126
Here are all languages including brasilian portuguese

Please feel free to test this, even on NVDA 2019.3.

https://yadi.sk/d/DlKMwTS_bF0aMg

From: Adriani90 <notifications@github.com>
Sent: Tuesday, September 10, 2019 3:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] New synthesizer in Po

[2019-09-10 14:36] zstanecic commented on #10185
1.	Can you provide which synth you used to reproduce this?

This only happens with espeak and no other voice does that.

Even the beta version of RHVoice cannot do that.

From: hozosch <notifications@github.com>
Sent: Tuesday, September 10, 2019 4:32 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Python 3 versions of NVDA prod

[2019-09-10 14:38] hozosch commented on #10185
O yes, so it seems, as I'm indeed using espeak, that it's an issue in the portation of espeak to python 3. Maybe we should open an issue on espeak NG?

[2019-09-10 15:02] Andre9642 commented on #10184
duplicate of #8918

[2019-09-10 15:43] lukaszgo1 commented on #2807
This issue is now closed. Please open a new issue explaining what problem you are experiencing. Have you tried running COM Registration Fixing tool from the tools menu?

[2019-09-10 15:58] Brian1Gaff commented on #10185
But I'm using that on English on the Alpha branch and have had no such
issues, so maybe its only when in another language?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-10 16:01] hozosch commented on #10185
For me, it also happesn in English, for instance  if you read one line
and it finished reading it.

Am 10.09.2019 um 17:58 schrieb Brian Gaff:

[2019-09-10 17:30] rulyu opened #10186 "NVDA reader does not announce the dialog title and content upon Alert Dialog open."
### Steps to reproduce:
Go to the example [alertdialog example on the W3C Standards site](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/alertdialog.html),
click on the "save" or "discard" button to trigger alert dialog open.
Listen to what nvda reader reads for the dialog.
![image](https://user-images.githubusercontent.com/55103654/64635871-68110d00-d3b5-11e9-8b02-1fe789d2d7cb.png

[2019-09-10 19:30] Brian1Gaff commented on #10185
Hmm, very strange. maybe its hardware related or something to do with the
speech refactoring rather than Python 3. I'm using a Behringer USB sound
device here.
One would have thought that it would be an odd fault to only occur in some
circumstances. It makes me wonder if it occurs with no speech or another
synth, say Sappi 5?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address per

[2019-09-10 19:38] Brian1Gaff commented on #10186
It worked in Waterfox just now.
on the latest Alpha.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-10 20:24] zstanecic commented on #10185
It doesn’t have to do anything with speech refactor

From: Brian Gaff <notifications@github.com>
Sent: Tuesday, September 10, 2019 9:30 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3 versions of NVDA produce a scratch in the speech when finishing the end of a line (#10185)

Hmm, ver

[2019-09-10 20:49] Adriani90 commented on #8341
Yes this is also reproducible for me.
cc: @jcsteh, @MarcoZehe

[2019-09-10 21:11] JulienCochuyt commented on #9816
The double announcement of the switched layout kept aside, I do not reproduce any of the faulty behavior you mention on Windows 10 version 1903 64 bits build 18362.329 with NVDA 2019.2
I daily use three different keyboard layouts, in two different language settings: English QWERTY, French AZERTY and French BÉPO, switching from English to French using `alt+space` and between both French layouts usi

[2019-09-10 22:41] #10179 closed

[2019-09-10 22:47] #10120 closed

[2019-09-10 22:50] #4259 closed

[2019-09-10 22:50] #10108 closed

[2019-09-11 01:54] jcsteh commented on #8341
Fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=686400 in Firefox 70 (currently in beta).

[2019-09-11 01:54] #8341 closed

[2019-09-11 06:40] mfranzke commented on #8631
The latest commit related to that mozilla bugzilla ticket sounds promising !

[2019-09-11 06:46] jcsteh commented on #8631
Yes, this is fixed for Firefox 71, available now to test in Firefox Nightly.

[2019-09-11 06:46] #8631 closed

[2019-09-11 07:45] leonardder commented on #9528
I wonder, does toggling NVDA"s start at logon and after logon help if done from the ease of access center? Control panel > ease of access > sign in settings

[2019-09-11 07:58] #9520 closed

[2019-09-11 08:12] vincent-lg opened #10191 "New UIA support and Braille not working"
The support for UIA in console leads to a lot of problems in Braille.

## Steps to reproduce

1. Activate the UIA support for the Windows console in NVDA preferences.
2. Start a console with a Braille display.
3. And browse in review. No need to go far to see the problems.

## Excerpt

Here is an excerpt for my own Windows console.  When I open it, the review cursor is able to read the following:

[2019-09-11 09:58] Adriani90 commented on #10191
cc: @codeofdusk, @leonardder

[2019-09-11 10:11] Brian1Gaff commented on #10185
Well, I have been using it all morning with docs in word and other
applications and apart from the occasional click one gets when a sound is
interrupted by the user, ie the sudden fall of a DC level so to speak,
normal reading with the Quincy voice works as it should do at least on my
window 7 64 machine.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
bria

[2019-09-11 10:53] vincent-lg opened #10192 "UI automation in Word doesn't report paragraph indentation"
When turning on UI automation for Word in the advanced settings, NVDA+F fails to report the paragraph indentation.

### Steps to reproduce

1. Turn on UI automation in Word.
2. Open a new blank document.
3. Type some text.
4. Go to the beginning of the paragraph and press the tab key.  This increases indentation by something like half an inch for the current line.  This increase is correctly repor

[2019-09-11 11:08] Surveyor123 opened #10193 "NVDA repeating or skipping while navigating or while reading all in some web pages"
### Steps to reproduce:
Open for instance this page:
https://www.medicalpark.com.tr/menenjit-nedir-belirtileri-ve-tedavi-yontemleri-nelerdir/hg-1863
Press 1 on the number row for moving text in heading 1
Give sayAll command
### Actual behavior:
NVDA skips or read some words twice while reading.
### Expected behavior:
NVDA should read as it should be
### System configuration
#### NVDA installed/por

[2019-09-11 12:25] leonardder commented on #10191
Thanks for your report. I can definitely reproduce this and will try to
look into this sooner or later, but at least before 2019.3 comes out.

[2019-09-11 12:41] Adriani90 commented on #10193
cc: @leonardder

[2019-09-11 12:42] Adriani90 commented on #10192
cc: @michaelDCurran

[2019-09-11 13:11] Vividha-Khandelwal opened #10194 "NVDA does not announce "Microsoft Dynamics 365 Guides(Preview)" as header."
"Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:
Application Name: Microsoft Guides
Windows Version: Windows10
Desktop application version: 105.0.1909.19
Username/Password: esndev@rubymr.com/Soz****0

Steps to Reproduce:
1. Open the Microsoft Dynamics 365 Guides (Preview) desktop application.
2. Sign-In i

[2019-09-11 13:16] dingpengyu opened #10195 "Using NVDA version alpha-18594, the following error occurred during the test of putty"
hi
Using NVDA version alpha-18594, the following error occurred during the test of putty:

### Steps to reproduce:
First use putty to log in to the server and then enter the Linux command, for example:
cd and cd home
### Actual behavior:
At this time, NVDA will play an error tone when you enter the command.
### Expected behavior:
An error occurred
### System configuration
#### NVDA installed/porta

[2019-09-11 13:55] leonardder commented on #10195
Will be fixed by #10187

[2019-09-11 14:20] dingpengyu commented on #10195
I wait for the merge and I continue to test
thank

[2019-09-11 14:48] sasgrw opened #10196 "NVDA pronounces "no" as "number" in <select> elements but is ok with radios and checkboxes"
### Steps to reproduce:
If a <select> element has "yes" and "no" options, "no" is pronounced as "number".  If you have "yes" and "no" as radio buttons or checkboxes, it's correctly pronounced as "no".

Sample code:
[code]

Tab to the <select>, expand the drop down list, arrow down to "no" and you'll hear "number".  If you select "no" and tab off the <select> then tab back to the <select>, you'll c

[2019-09-11 15:04] Adriani90 commented on #10196
I cannot reproduce this issue in NVDA 2019.2, Firefox 79 and Chrome 76.
Which synthesizer are you using? And could you please check if there are any entries in the speech dictionaries in NVDA menu?
Also in which language are you using NVDA? It could also be a translation issue.

[2019-09-11 15:30] sasgrw commented on #10196
Thanks for the quick reply.
A co-worker hears the same behavior so I'll check on their settings too.

Seems to be a problem with these synthesizers:
* Microsoft Speech API version 5
* Microsoft Speech Platform
* Windows OneCore voices

It works ok with the default synthesizer eSpeak NG

[2019-09-11 15:39] sasgrw commented on #10196
FYI, my co-worker was using Windows OneCore voices.  Sounds like a synthesizer issue.  So I have to take this up with Microsoft?

[2019-09-11 15:41] Adriani90 commented on #10196
Unfortunately yes. We cannot help here because this is aparently an issue with the fonetics of the synthesizer.

Von: sasgrw <notifications@github.com>
Gesendet: Mittwoch, 11. September 2019 17:39
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] NVDA pronounces "no" as "number" in <select> el

[2019-09-11 15:43] sasgrw commented on #10196
Sorry for the noise.  This issue can be closed.

[2019-09-11 16:07] RafaelGSS opened #10197 "How make better integration with NVDA?"
Hello everyone!

I'm creating a project that makes run from terminal (CLI).
_Is a project to help read text and publish text inside facebook_

I can make integration with NVDA to read the display from the terminal? Or can I support NVDA inside my application CLI?

Thanks so much for the reply.

[2019-09-11 18:01] Adriani90 commented on #10185
Cc: @feerrenrut

[2019-09-11 19:03] kara-louise opened #10201 "Set up monitor Cells in Excel"
### Is your feature request related to a problem? Please describe.
JAWS has a feature called Monitor Cells, which allows you to mark up to 10 important cells you need to glance at quickly. You can then have JAWS speak the contents of these cells by pressing a hotkey from anywhere within the same worksheet or workbook. The cells do not have to be near each other. You could be in A5 and need to chec

[2019-09-11 19:25] Brian1Gaff commented on #10196
There are a lot of odd abbreviations expanded by default in Sapi 5 I've
noticed for many years now. a post code in the UK ending in 2NY ends up as 2
New York for goodness sake, to name but one. grrr...
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind

[2019-09-11 19:26] invisiblebear opened #10202 "Javascript .focus() not working with NVDA enabled."
### Steps to reproduce:
1.) With NVDA enabled, navigate to https://codepen.io/jacob-mitchell/pen/BaBxrKa
2.) Select the first button to set focus to that button (should have a red outline)
3.) Tab to the 3rd button that reads 'Press Enter' and press enter

### Actual behavior:
Nothing happens

### Expected behavior:
List of links is revealed and focus is set to 'Link 5'

***Note:** This works when

[2019-09-11 19:27] Brian1Gaff commented on #10196
Could some dictionary regular expression or other construct  sort out no.
from no?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.git

[2019-09-11 19:33] Brian1Gaff commented on #10201
On a similar theme. I do not myself use spreadsheets enough, but somebody
asked if attributes such as text colour or style could be used to jump to
cells or whole rows, ie red for  values that need to be actioned urgently
etc.
 Does this make sense
Apparent the Jaws screenreader has something like this.?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
bria

[2019-09-11 19:37] Adriani90 commented on #10202
@invisiblebear what happens if you press nvda+8 before reproducing this issue? Does it still occur? There is a new feature in NVDA which prevents the system focus to move to focusable elements when navigating in browse mode. This is optional and can be enabled or disabled in the advanced settings of NVDA or by pressing nvda+8. Maybe it is disabled on your side and that's why the focus is not moved

[2019-09-11 19:57] invisiblebear commented on #10202
@Adriani90 I just tired this with it both enabled and disabled and nether worked for me.

[2019-09-11 19:59] Adriani90 commented on #8389
@leonardder the issue still persists in NVDA Version: alpha-18594,b5e4f738. Assuming the example when starting MS Word from start menu, I get following errors:

[code]

[2019-09-11 20:01] Adriani90 commented on #8389
I still think that the watchdog interferes here and interupts the speech which in turn does not report that the focus lands on MS Word window. But I am not 100% sure.

[2019-09-11 20:06] invisiblebear commented on #10202
I should also note that I looked at the logs and other than the normal info about system versions, there was no output when the button is pressed.

[2019-09-11 20:23] Mary5958 commented on #10196
Perhaps this short regular expression:
Pattern: no[.] ?(\d)
Replacement: number\1
Where "no." will be announced as "number" only if it's followed by a number, with or without space before the number.

[2019-09-11 22:00] dingpengyu commented on #10195
hi leonardder
NVDA version alpha-18604, has solved the putty error problem, thank you for your work. I will close this question.
thank

[2019-09-11 22:02] #10195 closed

[2019-09-11 22:45] dingpengyu commented on #9524
What is the current status of this issue?
thanks

[2019-09-12 00:48] jcsteh commented on #6382
I'm really struggling to follow this, as I don't really understand how scrolling ought to work to feel natural. However, there's a discussion about changing the Firefox behaviour for a11y API scrolling: https://bugzilla.mozilla.org/show_bug.cgi?id=1572680
This might be worth considering here. In short, there are top/bottom banners on some sites that can obscure anything scrolled underneath them an

[2019-09-12 02:34] btman16 commented on #9528
Hi,

No, that didn’t work when I tried it before.

Thanks,

Brandon

[2019-09-12 05:09] JulienCochuyt commented on #6332
Ok, I think I got caught by my own enthusiasm. I did not have the initial intention to impact the whole of these dialogs.
@feerrenrut, would you prefer I squash PRs #10189, #10190, #10198, #10203 and #10204 into a single PR or is it fine for you to review as is?

[2019-09-12 05:17] leonardder commented on #6382
I assume this would only have impact on the behavior of
IA2_SCROLL_TYPE_ANYWHERE, which we now use. We also have explicit
scrolling constants.

As for navigating in browse mode, I think it makes sense if:

* The scrolling behaviour is as uniform as possible across browsers

* Is somehow similar to the scrolling behaviour in a word processor

[2019-09-12 07:39] fsteffi opened #10206 "A11y_CombineStatusandDataUsagesettingspages_Status_NetworkStatus_ScreenReader:The screenreader sequence of navigation on the page is incorrect."
**Environment Details:​​**
Application name: Combine Status and Data Usage settings pages
Screen reader: Nvda2019.2

**Repro Steps:​​**
1. Go to "Windows search bar" and search for "settings".
2. Click on "Network and internet"​
3. Navigate to "status tab"​
4. Check for network status​
5. Launch screen reader as nvda
6. Navigate using insert+4 to the header "Status"

**Actual:​**
On navigating on

[2019-09-12 07:39] fsteffi opened #10207 "A11y_CombineStatusandDataUsagesettingspages_Status_NetworkStatus_ScreenReader: The word "Heading" is not announced for the respective headings."
**Environment Details:​​**
Application name: Combine Status and Data Usage settings pages
Screen reader: Nvda2019.2

**Repro Steps:​​**
1. Go to "Windows search bar" and search for "settings".
2. Click on "Network and internet"​
3. Navigate to "status tab"​
4. Check for network status​
5. Launch screen reader as nvda
6. Navigate using insert+4 to the heading " Network status"

**Actual:​**
On navi

[2019-09-12 16:14] ameyer95 opened #10208 "NVDA omits space between blocks of text"
### Steps to reproduce:
Open the attached HTML in Firefox.
[example.zip](https://github.com/nvaccess/nvda/files/3606436/example.zip)

Our page has a series of buttons (implemented as a links). Each button has the same text printed on it. It's obvious visually that each one will perform the given action for a specific set of information, so sighted users don't need more info. However, we have a hid

[2019-09-12 21:19] Qchristensen opened #10209 "When logging is disabled via command line, log level drop down should be greyed out"
### Steps to reproduce:

Start NVDA either with the --no-logging, --secure or --log-level=100 command line switches

Open the General settings dialog (NVDA+control+g)
TAB to the Log Level drop-down
Modify the value

### Actual behavior:

The drop-down selection can be changed, although the logging level is not in fact changed when the apply or OK buttons are activated.

### Expected behavior:

The

[2019-09-13 00:24] dingpengyu opened #10210 "When update NVDA online, the speech synthesizer will report the update information multiple times."
NVDA will report update information multiple times when using NVDA's online update

### Steps to reproduce:
First download [NVDA alpha-18604](https://ci.appveyor.com/api/buildjobs/rr2kmwd740mf4r3s/artifacts/output/nvda_snapshot_alpha-18604,e295dbdd.exe)
Then perform the installation process
Finally, the prompt interface is being updated. At this time, the speech synthesizer will repeat the informa

[2019-09-13 06:55] JulienCochuyt commented on #10181
Shouldn't this issue be closed as of PR #10182 being merged?

[2019-09-13 08:11] feerrenrut commented on #10209
If someone wants to look at this, the change will need to be made in `source/gui/settingsDialogs.py`  in the `makeSettings` method of `GeneralSettingsPanel`. [Disable ](https://wxpython.org/Phoenix/docs/html/wx.Window.html#wx.Window.Disable) `self.logLevelList` when the log level is set from the command line. Probably best to extract the logic at the start of the `setLogLevelFromConfig` function i

[2019-09-13 10:03] #9402 closed

[2019-09-13 10:03] #10175 closed

[2019-09-13 12:09] SaisreeDandamudi opened #10213 "A11y_SCOM - U&R View_Updates & Recommendations Page_Screen Reader: NVDA only reading only Actions tab selected not reading “Actions tab selected 1 of 2"."
### Steps to reproduce:
1.Open  Windows Server 2016 "NEB-OM-1560240 "VM with above Details.
2.Launch "SCOM - U&R View" Desktop Application.
3.Tab till "Administration link "and press Enter.
4.Tab till  "Updates & Recommendations" link and press Enter.
5.Tab till "Actions Tab item".
6.Turn on Screen Reader and check whether they are reading label name, role and status  buttons with descriptively or

[2019-09-13 12:26] dingpengyu commented on #10210
Thanks for tips

[2019-09-13 13:53] JulienCochuyt commented on #9244
@dkager, I'm not expert in Tamil braille, but we are retailing Orbit 20 here in France.
It seems to behave quite nicely when we change the input table eg. from French to English.
Also, I get mostly English output with the Tamil table when typing on other devices.
I do not know for #8862, but this very issue seems to me to be uncorrelated with the used device.
See liblouis/liblouis#832 for a follow

[2019-09-13 19:20] leonardder opened #10214 "On Alpha versions, espeak pitch sometimes increases unexpectedly"
### Steps to reproduce:
No reliable str. It seems to pop up after a moment where uppercase letters have been read.

### Actual behavior:
The overall pitch of espeak seems to increase. This isn't a natural pitch increase, but sounds more like the audio produced by espeak is played on a higher sample rate.

### Expected behavior:
pitch will be constant.

### System configuration
#### NVDA installed/

[2019-09-13 19:28] leonardder commented on #10197
Thanks for your message. This issue tracker is intended to report issues or request features related to NVDA. For questions on how to use NVDA with your application, I'd like to advise to send a message to the [NVDA users mailing list](https://nvda.groups.io/g/nvda)

[2019-09-13 19:28] #10197 closed

[2019-09-13 19:30] leonardder commented on #10202
Are you trying this with NVDA browse mode enabled or disabled? You can disable browse mode using NVDA+space. You can also disable browse mode on page load in NVDA's browse mode settings category.

[2019-09-14 04:53] Shanmukha39 opened #10215 "A11y_Visual Studio Tools for Xamarin_Android SDK Configuration_Screen Reader: NVDA is not reading the state of checked/not checked for the radio buttons"
### Steps to reproduce:

2.Navigate to "Create a new Project" control and press enter
3.Select platform as "Android" and project type as "Mobile" and select "Android app (Xamarin)"  template ​
4.Navigate till "Tools" and select "Android" option and then select "Android SDK manager" from the expanded list
5.Start NVDA
6.Tab till radio buttons and select the radio buttons using space bar and verify

[2019-09-14 04:57] Shanmukha39 commented on #10215
![NVDA issue_Select status](https://user-images.githubusercontent.com/51434975/64903633-475cf600-d6da-11e9-9baf-361b72b0ed22.png)

[2019-09-14 06:15] XLTechie commented on #10214
Can you resolve this by typing a Capital followed by a lowercase letter?

If so, that is a problem I know well from Linux versions of eSpeak, going back
at least as far as 1.43.03.

[2019-09-14 07:43] Brian1Gaff commented on #10214
Yes sometimes sounds like a yodel. I noted this happens  a bit on other
screenreaders if espeak is installed as sapi 5 though, and sometimes it goes
the other way, into monotone, so are we sure this is nvda or Espeak?
 I suppose it could be both or either!

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the

[2019-09-14 11:20] Qchristensen commented on #7514
This seems to be working as expected for me in Windows OneCore now, but I still can't detect a change in SAPI 5, even using Zira with change set to -100 and testing wWwW.

[2019-09-15 01:06] codeofdusk commented on #10214
I've seen this too, post speech refactor.

[2019-09-15 02:05] Qchristensen opened #10216 "Symbol replacement edit not visible in punctuation / symbol pronunciation dialog"
### Steps to reproduce:

Open NVDA's symbol pronunciation dialog.
Look (visually) for "replacement" edit.

### Actual behavior:

Replacement edit is not visible.
Note that behaviour of the dialog works as expected (can tab to edit or press alt+r, it's just not visible).

Image of dialog from old (2019.1.1 and earlier) version of NVDA:
![oldsymboldialog](https://user-images.githubusercontent.com/15

[2019-09-15 04:19] Qchristensen commented on #10216
@feerrenrut

[2019-09-15 10:13] Brian1Gaff commented on #7514
I only hear it on Typing caps in Espeak. Should it operate in other modes?

I can get Espeak Sapi five to work in the same way, using my Quincy voice,
though inflection sounds a bit flat.

Using Serena It is not working and is very laggy too.
 Looks like it depends on the voices.

Yes it certainly works in Espeak Sapi 5. only as you type or change
something though.
 Brian
Brian

bglists@blueyonder

[2019-09-15 13:06] lukaszgo1 commented on #10216
@Qchristensen Have you tried with recent Alpha version? Also cc @JulienCochuyt given his/her recent work on visual aspects of some dialogs.

[2019-09-15 18:55] JulienCochuyt commented on #10216
@Qchristensen, on my side, the field is visible, probably a difference in our scaling settings.
Nevertheless, I confirm that between 2019.1.1 and 2019.2, the field has visually moved but remained at the same tab index.
For what I can see in the code, this move was very likely not on purpose.
I'm preparing PRs both for beta and master to fix this.

[2019-09-15 21:58] Qchristensen commented on #10216
Looks like you've already got pull requests on the move for this, but yes, I can confirm it is the same in the latest alpha (nvda_snapshot_alpha-18633,65a2c3c2) and that if I drop my scaling from 225% to 125%, the field becomes visible (I have a 32" monitor and Windows 10 offers 225% as the largest non-custom setting).

Interestingly, with moving the replacement edit, its heading "replacement" now

[2019-09-15 22:36] Qchristensen commented on #9682
From a conversation with a user, ideally as and when such functionality is available in NVDA itself, it would be useful to be able to set it in configuration profiles, enabling it to be set globally, or per app.

[2019-09-15 22:49] josephsl commented on #9682
Hi,

It'll take me a day or two to come up with a pull request that will resolve this once and for all, and before writing that, I too am interested in hearing back from the original poster as to why this feature is needed (I think I know why, but just want to make sure this person clarifies things).

There is a more important touchscreen PR, and that is right-mouse click simulation. Both PR's are

[2019-09-16 04:55] leonardder commented on #10214
I'm thus not sure whether this is post speech refactor or also occurred before. Honestly, I always used Nuance Vocalizer pre speech refactor and switched to Espeak mainly due to speech refactor.

[2019-09-16 04:55] leonardder commented on #10214
Ugh, github reordered the close and comment/comment buttons. I"m sorry.

[2019-09-16 07:41] dingpengyu opened #10220 "Feature request: Improve NVDA's automatic reporting of cmd and putty"
hi
When using cmd and putty in NVDA, NVDA will report the determined changes each time the enter command is pressed.

### Is your feature request related to a problem? Please describe.
When using cmd and putty in NVDA, NVDA will report the changes after the input each time the enter command is pressed.
In my opinion, this operation cmd and putty are very class.
### Describe the solution you'd like

[2019-09-16 10:19] JulienCochuyt commented on #10216
@feerrenrut, thanks for merging #10217.
Could you please also consider merging its #10218 backport into beta?
Future 2019.2.1 is expected to live quite some time before we can safely advise corporate environments to migrate to post threshold versions,

[2019-09-16 10:20] leonardder opened #10221 "NVDA Alpha: modal dialogs sometimes don't get focus when they are expected to"
### Steps to reproduce:
1. OPen notepad
2. In the NVDA menu, choose help > check for updates

### Actual behavior:
NVDA shows the checking for update indeterminate progress dialog. WHen the update check is finished, notepad gets focus again. You have to alt+tab back into the NVDA Update dialog.

### Expected behavior:
NVDA shows the checking for update indeterminate progress dialog, followed by th

[2019-09-16 10:24] leonardder commented on #10220
If I understand you correctly, you're suggesting that progess bars shown on a terminal will be spoken using NVDA's progress bar output. I'm afraid this can't be fixed, as the only thing we get when a progress indicator like this is shown in a terminal, is a textual representation of the progress.

Note that you can always disable NNVDA's output by using NVDA+5, reporting of dynamic content changes

[2019-09-16 10:30] dingpengyu commented on #10220
hi leonardder
thank you for your reply
Maybe this problem will be very troublesome to solve.
sorry

[2019-09-16 11:10] #10220 closed

[2019-09-16 11:33] donalfitzpatrick commented on #9682
Hi,

Would like to add a use-case for this if I may.  We've developed a web app which enables editing and/or exploration of mathematics.  Part of our functionality is to enable a user to explore the shape of graphs on a touchscreen device.  The ability to have NVDA ignore all gestures on a per-app, or indeed in specific screens in a given app, would be very useful.

[2019-09-16 12:45] mspatil110 opened #10222 "A11y_.NETCore3.0(Win Forms and CoreSDK)_TreeView_Screenreader: NVDA is not announcing tree view items properly."
[“Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-shbagl%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847575447&sdata=XQqvaO2rFh7p/7F2DmzFj2wgJSiYHGuJV73Xg8hPVbA%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing faster

[2019-09-16 13:40] josephsl commented on #9682
Hi, although disabling touch support for specific parts of an app may not come to fruition for a while, at least disabling from apps as a whole will be possible. Thanks.

From: Dr. Donal Fitzpatrick <notifications@github.com>
Sent: Monday, September 16, 2019 4:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject:

[2019-09-16 16:01] Brian1Gaff commented on #10221
Yes I seem to recall mentioning this some time back now but at the time it
was not very predictable. A similar issue happens after the download has
happened sometimes where its still prompting to update even though its just
done it and you have to fiddle about to find the prompt that should have
been displayed.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to

[2019-09-16 16:09] aloeugene opened #10225 "MS Edge: dynamically updated 'alt' attribute is not read"
Dynamically updated 'alt' attribute is not announced correctly when it's changed and navigated to with 'arrow down'.

**Note: this is currently only reproducing in MS Edge.**

### Steps to reproduce:
1. Open tireamerica.com/login and go to registration page.
2. Focus on "Password" field and type any character (e.g. 'q').
3. Observe the "Password requirements" section appearance.
4. Navigate to "Sh

[2019-09-16 16:41] josephsl commented on #9682
Hi,

Sometime this week I'll introduce a prototype try build that will demonstrate what the fix will look like (note that the try build must be installed in order for the fix to work).

Thanks.

[2019-09-16 17:21] blindangel1961 opened #10226 "Duxbury"
When you write a file in grade 2 braille in duxbury, NVDA tried to read it as text. For example: the th sign in braille is a ? You can only get it to read that by arrowing through the line. I need to be able to listen to the file that i type in Grade 2 braille and it read the braille not the characters in print.
I would really appreciate work on this program, as I use Duxbury quite frequently and

[2019-09-16 17:22] lukaszgo1 commented on #5693
Someone asked  about it on NVDA Users list today. Is there any chance of a fix for this? I don't know how it is in English speaking countries but here in Poland it is almost only commonly used OCR solution.

[2019-09-16 19:26] JulienCochuyt opened #10227 "NVDA freezes on Google Chrome when image contains huge base64 data"
### Steps to reproduce:

- Open in Google Chrome a web page in which the `src` attribute of a focusable `img` element contains huge base64 data (>1MB).
EDIT:
Here is an example of such a page with an added `.txt` extension as GitHub does not support attaching `.html` files: [i10227.html.txt](https://github.com/nvaccess/nvda/files/3645959/i10227.html.txt)
- In browse mode, move to the incriminated

[2019-09-16 19:34] lukaszgo1 opened #10228 "Current master: SCons source faills for the first two runs"
### Steps to reproduce:
1. Clone fresh NVDA repo passing --recursive option as described in the readme.
2. Execute scons source from the root of the repo.
### Actual behavior:
Output of first scons run ends with the following:
scons: *** [source\comInterfaces\SpeechLib.py] ModuleNotFoundError : No module named 'comtypes.gen._C866CA3A_32F7_11D2_9602_00C04F8EE628_0_5_4'
Traceback (most recent call l

[2019-09-16 20:45] #942 closed

[2019-09-16 21:05] #9803 closed

[2019-09-16 22:26] JulienCochuyt commented on #10227
The fastest workaround I could come up with is at the beginning of `IAccessibleHandler.splitIA2Attribs` to use the `re` module to replace `r"base64\\,[A-Za-z0-9+/=]+"` with `""base64,<truncated>"` in the passed attributes string.
To avoid a useless performance penalty, I've triggered the regex substitution only if the length of the attributes string exceeds a threshold, say 4096.

It seems to circ

[2019-09-16 23:41] Qchristensen commented on #10226
Some more information from the original reporter:

Duxbury Version 11.1
Windows 7
NVDA "Latest version" (2019.2?)

[2019-09-17 07:11] #8268 closed

[2019-09-17 08:38] dingpengyu commented on #10228
hi lukaszgo
You can delete the submodules of the include directory, and then update the submodules with git submodule update. I can compile windows10-1903 and visual studio2019 here.

[2019-09-17 08:50] #9943 closed

[2019-09-17 09:00] leonardder commented on #10228
Yes, I've seen it as well when I started working on #10169. It is very hard to debug this on appveyor.

@lukaszgo1: could you verify whether.

1. The `_C866CA3A_32F7_11D2_9602_00C04F8EE628_0_5_4` module exists after you're getting the error about speechlib Note that the module should not only exist, the file should also be populated
2. Same for `_8CC497C9_A1DF_11CE_8098_00AA0047BE5D_0_1_0` for the

[2019-09-17 10:59] lukaszgo1 commented on #10228
@leonardder wrote:

the file _C866CA3A_32F7_11D2_9602_00C04F8EE628_0_5_4.py exists in source/comInterfaces, and is not empty if that is what you mean by ''populated'

This one also exists and is not empty.

[2019-09-17 11:05] leonardder commented on #10228
Yes, indeed. So comtypes writes the module just fine.

[2019-09-17 11:49] leonardder commented on #10228
It looks like there is a fix for this in https://github.com/enthought/comtypes/pull/172

[2019-09-17 11:56] leonardder commented on #10228
@lukaszgo1: can you reproduce this with [the comtypesImport branch](https://github.com/BabbageCom/nvda/tree/comtypesImport) in the github.com/babbagecom/nvda repository?

[2019-09-17 12:04] leonardder commented on #10228
ALternatively, as I created a draft pr (#10235) you can also checkout f06e8dd46

[2019-09-17 12:34] lukaszgo1 commented on #10228
Unfortunately it still fails. First run results in the following:
scons: *** [source\comInterfaces\FlashAccessibility.py] ModuleNotFoundError : No module named 'comtypes.gen.FlashAccessibility'
Traceback (most recent call last):
  File "D:\my_repos\test3\nvda\include\scons\src\engine\SCons\Action.py", line 1202, in execute
    result = self.execfunction(target=target, source=rsources, env=env)
  F

[2019-09-17 12:34] lukaszgo1 commented on #10228
And the files are of course there, and aren't empty.

[2019-09-17 12:57] leonardder commented on #10228
I think I really fixed it now. See the same branch or commit 92d38f1147866b60d543d40369cc5bb

[2019-09-17 14:34] JulienCochuyt commented on #10018
The desktop shortcut is located in the "All Users" directory.
A user which is not a local admin won't be permitted to change this.
It is the exact same approach for a system wide config, thus your argument does not stand.

Nevertheless, as you proposed, I'm much in favor of a system wide config, layered upon the user config. Note however that instead of a single `.ini` file, I'd rather promote a f

[2019-09-17 14:40] CyrilleB79 commented on #9962
Closing this issue.
As written in #10162, this issue shall be handled through the translation framework.

[2019-09-17 14:40] #9962 closed

[2019-09-17 15:56] hozosch opened #10236 "Support letter combinations for the character descriptions"
### Is your feature request related to a problem? Please describe.
It's not related to a problem in the sense of a bug.
### Describe the solution you'd like
In German, don't know about other languages, digraphs and trigraphs (two or three letters representing one sound) have their own character description. This, oddly enough, applies to only ch (Charlotte) and SCH (Schule), as I just learned at s

[2019-09-17 16:13] zbigniew-zrd opened #10237 "Sometimes the title attribute is not read by NVDA in firefox even if the text of the element is empty"
### Steps to reproduce:
At the end of this issue I put a HTML source for the very simple page. Save this source as a file with HTML extension and open with Firefox. If you try to read this page with virtual cursor, the NVDA will not read the title attribute of the first Button.  If you use for example the tab key to go from one control to the next, NVDA will announce the title attribute of both bu

[2019-09-17 16:47] lukaszgo1 commented on #10228
Now SCons works without an issue, however after creating launcher with scons launcher brlapi dll still isn't present. I've assumed that these issues are related, but perhaps they aren't.

[2019-09-17 17:18] leonardder commented on #10018
For a system wide add-on store, see #6822.

As for the --secure flag in the shortcut, it is still possible to run NVDA from a command prompt or a run dialog. Also, this parameter is meant for secure desktops, not primarily for more secure environments. For example, it is not possible to save the configuration when running in secure mode.

[2019-09-17 17:19] leonardder commented on #10214
Yes.

Thanks for pointing this out. I will label this needs external fix.

[2019-09-17 17:39] leonardder commented on #10228
I don't think these issues are related. Appveyor bundles brlapi without
issues.

[2019-09-17 19:31] lukaszgo1 opened #10238 "When BRLTTY for Windows is installed scons fails to bundle BrlAPI"
Discovered while debugging #10228
### Steps to reproduce:
1. Install BRLTTY for Windows you do not need to have any actual braille display connected.
2. Execute scons launcher from the root of the NVDA repo.
3. Start newly created launcher.
### Actual behavior:
BrlAPI dll is missing. It is therefore not possible to switch to BRLTTY.
### Expected behavior:
BrlAPI should be working regardless of wha

[2019-09-17 19:33] JunyiXiao opened #10239 "nvda only reads out the first letter"
### Steps to reproduce:
1. open any webpage in chrome
2. open developer tools
3. In Element tool Style Pane, tab into individual property name like this
![image](https://user-images.githubusercontent.com/47334233/65072992-ce160b00-d946-11e9-811d-e90dbd466005.png)

### Actual behavior:
NVDA reads "tree view, edit, selected b"

### Expected behavior:
reads out the whole property name, i.e. "selected

[2019-09-17 21:32] #10166 closed

[2019-09-17 23:58] XLTechie commented on #7883
Duplicate of #2167

@Adriani90 I think that one has more extensive comments. Although this one's problem description is a bit different, the same solution will fix both as made clear by the comments here.

[2019-09-18 05:46] leonardder commented on #9989
@markusg2 As you are the initial author of this issue, are you still suffering from these problems? Note that some SAPI4 problems have been fixed.

[2019-09-18 05:47] leonardder commented on #9475
@gdata1 Does this issue still persist on the beta channel of Edge Chroimum?

[2019-09-18 05:51] leonardder commented on #8400
@Qchristensen: It would be good to see whether this problem persists in NVDA 2019.3 Alpha. Having said that, SAPI4 is outdated stuff, so I doubt whether we should invest that much time in investigating the issue, as it seems to be related to a particular SAPI4 engine.

[2019-09-18 05:54] leonardder commented on #9982
Update.

It is being considered to go back to liblouis 3.10 in NVDA 2019.2.1. There are some major disadvantages though, see #10232

Note that there are several conflicting interests here, particularly old issues being reintroduced when downgrading.

[2019-09-18 06:16] #10228 closed

[2019-09-18 07:15] DrSooom commented on #9982
@leonardder: You meant Liblouis 3.9.0, or? You wrote "Liblouis 3.10.0", which is the current Liblouis version in NVDA 2019.2.

[2019-09-18 07:15] DrSooom commented on #9982
@leonardder: You meant Liblouis 3.9.0, or? You wrote "Liblouis 3.10.0", which is the current Liblouis version in NVDA 2019.2.

[2019-09-18 07:22] DrSooom commented on #9982
GitHub re-ordered the "Close issue" and the "Comment" button. Bad GitHub. Very, very bad GitHub. 😉

[2019-09-18 07:30] michaelDCurran commented on #9982
Just for reference: It looks like The beta snapshot mentioned first in this issue was produced before 2019.2rc1, not after. Therefore the fact that rc1 does not have the bug but rc2 does, is simply a fluke due to memory layout or something. Also, it is worth pointing out that that beta snapshot would not have been optimized, yet it still contains the bugs. Only tagged releases (E.g. beta1, or rc2

[2019-09-18 07:33] JulienCochuyt commented on #10018
Thanks a lot for pointing this out.

Good point.

Thus, shouldn't we close this issue as wontfix?

[2019-09-18 07:45] DrSooom commented on #10018
@JulienCochuyt: You are right. I forgot to mention that the Windows Desktop is built on two (or three) different paths. In most cases it's a mishmash of the user desktop folder and the public desktop folder. And the third path could come during the login into a domain by an AD configuration. In other words: If you login into a domain, all your files and folders on your desktop are copied during th

[2019-09-18 08:07] michaelDCurran commented on #9982
I forced a new release try build of 2019.2rc1. I wouldn't be surprized if running this produces the bug? https://ci.appveyor.com/api/buildjobs/fh494hpy0ycd7vm3/artifacts/output%2Fnvda_try-release-2019.2rc1-18694%2Cbc11064f.exe
If so, this proves that the problem is completely random, at least to the build process.
Either way, tomorrow I will get a debugger on this, and see if I can understand the

[2019-09-18 08:25] JulienCochuyt commented on #6822
Update and usage statistics -related settings are IMHO a good counter example.
These could be easily addressed by an add-on in the central storage, though.

I guess we can fairly handle the limitation of not having scratchpad support in the central storage.

@leonardder, do you plan to publish your work in progress as a PR any soon?
We could really benefit from this feature for our mass deployment

[2019-09-18 08:29] gdata1 commented on #9475
@leonardder now this problem is very rare. She's been gone for the last week. I've tried all the edge chromium versions

[2019-09-18 09:17] leonardder commented on #9982
See https://github.com/liblouis/liblouis/pull/856

cc @Andre9642

[2019-09-18 09:19] Qchristensen commented on #8400
I'll chase up the user and see what I can find out.  Mental note to self, next time include user contact details in the issue when writing issues for others!

Are there any SAPI4 voices still readily in use?  I can't even think of any to go and download to try myself (which I think is why I reported this all as secondhand initially, since I didn't have a voice to try to repro it myself).

[2019-09-18 09:27] lukaszgo1 commented on #8400
cc @piciok I believe you are initial reporter of this issue.
At least in Poland some SAPI 4 voices are still very popular, thought I cannot understand why.

[2019-09-18 10:35] lukaszgo1 commented on #9462
@DataTriny Are you still planning to work on this?

[2019-09-18 10:51] DrSooom commented on #9982
See [this comment](https://github.com/nvaccess/nvda/issues/9982#issuecomment-519764634). Same error with 2019.2.1 Try-RC1-18694 and "zh-tw.ctb" at the very first restart in Debug Mode after saving the configuration. Therefore I'm not going to test the HUC Braille Tables.
[code]

This log was copied directly from the Log Viewer. Therefore everything after the "N" is missing.

[2019-09-18 11:57] DataTriny commented on #9462
Hello, yes eventually. But I wont have that much free time until the start of October. So, don't expect anything before this date.

[2019-09-18 11:59] CyrilleB79 opened #10241 "Vocalize the result of toggle displaying nonprinting characters in MS Word"
### Is your feature request related to a problem? Please describe.
As a visually impaired with narrow vision field, I have difficulty to figure out if text contains nonprinting characters in MS Word. I may also occasionally activate this feature without wanting it (Ctrl+Shift+8 shortcut).

### Describe the solution you'd like
Vocalize the result of the shortcut Ctrl+Shift+8 that toggles the Displa

[2019-09-18 14:36] leonardder commented on #9982
Yes, sorry.

[2019-09-18 14:37] kellylford opened #10243 "MathML not showing embedded tables in braille"
### Steps to reproduce:
1. Ensure you have configured NVDA for MathML support by installing Math Player.  See https://www.dessci.com/en/products/mathplayer/download.htm.
2. Configure NVDA for braille support or otherwise be able to verify braille output.
3. In Firefox navigate to https://support.freedomscientific.com/content/html/jawshq/MathML-Samples.html.
4. Navigate to the example indicating em

[2019-09-18 15:37] DrSooom commented on #10237
@zbigniew-zrd: Please completely fill out the bug report draft. Thanks.

[2019-09-18 16:25] DrSooom commented on #10236
See: https://de.wikipedia.org/wiki/Buchstabiertafel#Vergleichstabelle

The file "locale\de\characterDescriptions.dic" is responsible for double-press Numpad2. I'm not sure if it's possible to define two or three characters here because Numpad2 only speaks the characters right hand the cursor.

And as German is my mother tongue, I can ensure you that these two character bindings never ever came up

[2019-09-18 16:39] hozosch commented on #10236
What about NVDA+Shift+Dot (laptop)? Don't know what the appropriate desktop layout key combination is. Anyway, it would make sense there.

[2019-09-18 16:50] DrSooom commented on #10236
Report current character in review: Numpad2 (Desktop), NVDA+. (Laptop)

CC: @Adriani90: Any thoughts about this?

[2019-09-18 16:59] josephsl commented on #7894
Hi,

Another update: now that #4259 is here, hosted app property will first look for package info for hosted apps before saying "no". This is because some apps are not true Store apps (File Explorer) or should be treated as a hosted app when user32::IsImmersiveProcess says no (Store version of Office 365 apps, for instance). Because this change also modifies just modified product info setter, I'm

[2019-09-18 17:35] leonardder commented on #9991
@howardgld Would you be able to test this with last Alpha version of NVDA?

[2019-09-18 17:38] leonardder commented on #7962
@Adriani90: I will close this one indeed. Not especially because of your comment above, but most importantly because this issue mentioning multiple apps, and therefore being a bit broad. It might help to provide issues on a per app basis, along with steps to reproduce if possible.

[2019-09-18 17:38] #7962 closed

[2019-09-18 17:39] hozosch commented on #10236
My comment was referring to the command to spell the line under the caret. I think it would make sense there.

[2019-09-18 17:43] leonardder commented on #9375
@Adriani90 The RPC failed is probably because Word crashes and NVDA is unable to communicate with a non-existent Word.

@fisher729: Can this still be reproduced on Alpha versions of NVDA?

[2019-09-18 18:49] jdrush89 opened #10245 "Combobox expanded state not always read on focus"
### Steps to reproduce:
Use the keyboard to focus a div with role combobox when its input child is not a direct descendant.  It can be repoduced here: https://codesandbox.io/s/strange-haibt-rd3ub
steps:
1. click in the white box then tab to focus the first combobox
2. shift+tab to move focus before the first combobox
3. tab to move focus back on the combobox
4. repeat steps 2 and 3, notice that th

[2019-09-18 18:58] lukaszgo1 commented on #10245
@jdrush89 Can you reproduce this with NVDA 2019.2? It is generally good idea to test with the latest version  before reporting a bug.

[2019-09-18 18:59] lukaszgo1 commented on #10237
cc @jcsteh

[2019-09-18 19:47] howardgld commented on #9991
I’d be happy to test if you could provide me with a link to the version of NVDA you’d like me to try.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: September 18, 2019 1:36 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: howardgld <hgoldst1@sbcglobal.net>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA freezes in Outlook 2013 on Windows 7 in 2019.2 bet

[2019-09-18 19:55] jdrush89 commented on #10245
I updated to 2019.2. With this version, NVDA doesn't seem to announce the expanded state of any combobox, including the ones on the W3 example site https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html
Is this expected?  Before it would announce "combobox collapsed" when these were focused.

[2019-09-18 19:57] XLTechie commented on #9991
@howardgld This is the one he wants you to test (latest alpha):
https://ci.appveyor.com/project/nvaccess/nvda/build/alpha-18699,0e4bb4ad

Luke Davis
Moderator: the new NVDA Help mailing list! (https://groups.io/g/NVDAHelp)
Author: Debug Helper NVDA add-on (https://addons.nvda-project.org/addons/debugHelper.en.html)

[2019-09-18 20:49] howardgld commented on #9991
Thanks, but I’m afraid I’m still lost. I’ve never downloaded an alpha build and I don’t see anything at the link you provided for downloading. I’ll be happy to test if I can get my hands on the code.

-- Howard

From: Luke Davis [mailto:notifications@github.com]
Sent: September 18, 2019 3:57 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: howardgld <hgoldst1@sbcglobal.net>; Mention <mention@nor

[2019-09-18 20:55] lukaszgo1 commented on #9991
@howardgld Perhaps it would be easier to:
1. Go to https://www.nvaccess.org/files/nvda/snapshots/
2. Move to the first table on the page.
3. Activate first link called download there.

[2019-09-18 21:28] howardgld commented on #9991
Ah! Much easier. I’ve downloaded it and will test later. Thanks.

From: Łukasz Golonka [mailto:notifications@github.com]
Sent: September 18, 2019 4:56 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: howardgld <hgoldst1@sbcglobal.net>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA freezes in Outlook 2013 on Windows 7 in 2019.2 beta 2 and beta 3 (#9991)

@howardgld <https

[2019-09-18 22:05] justin171185 opened #10246 "Problems with Spanish Braille table"
Hello, there seem to be some problems with Spanish grade 1 Braille table. For example, the period, which is normally dot 3, shows up as apostrophe. Also, lots of punctuation signs don't work, as numbers are typed instead. Examples include: dots 2-6, inverted question mark at beginning and regular question mark at end of question. Instead, you get the number 5. Inverted and regular exclamation mark

[2019-09-18 23:40] Qchristensen commented on #8581
Just confirming the issue still exists in Windows 10 version 18362.1 NVDA 2019.2 and Office 365 version 16.0.11929.20296

[2019-09-18 23:57] jcsteh commented on #10237
This occurs because the pseudo-content inside the button's span (created by the font library) takes precedent, since content always takes precedent over title for label calculation. Without this, you end up with no label whatsoever for this case:
`data:text/html,<style>span:before { content: 'span'; }</style><button><span></span></button>`
Indeed, in Chrome, this is exactly what happens: you get n

[2019-09-19 00:13] howardgld commented on #9991
Leonard,

I’m sorry to say that the behavior of Outlook with the alpha build is the same as what I reported earlier.

I am pretty certain that the fault is with my installation rather than with NVDA. I’ve noticed other oddities with Outlook. The system doesn’t fully recognize it as the default mail client. MailTo links on web pages work all right but if I try to invoke Outlook from another program

[2019-09-19 03:10] jage9 commented on #5573
Has there been any update on this? I would support NVDA+C twice to put the clipboard in a virtual buffer. I think a combobox of choices is overkill but could see a case for an advanced setting.
Also, the current text for a large amount of text is very verbose.

[2019-09-19 03:13] DrSooom commented on #10236
To be honest, I read "Charlotte" for "ch" yesterday the very first time. And "China" is also differently pronounced in Germany (Chi-na) and Austria (Ki-na). And "Schule" might be still used in primary schools, but definitively not later. How words are spelled is different between the school levels and between children and teenagers/adults. If you want I can give you some examples, even if this wou

[2019-09-19 03:27] jage9 commented on #10226
I'm trying to remember how this was achieved in Window-Eyes, but I believe it is essentially a different character dictionary for the translated text screen. Duxbury may be interested in writing code for this. Have you talked to anyone there about this?

[2019-09-19 04:34] hozosch commented on #10236
Well I am at the Blista in marburg (you may have heard of this School or been there yourself) and am In grade 11, in a school branch with the main area being economy and computer science. Anyway, in the subject you could translate to English as "secretarial practice", we looked at the phonetic alphabet, and also the international one, and ch and sch where given then. However, as I see, this isn't

[2019-09-19 04:34] #10236 closed

[2019-09-19 05:06] leonardder commented on #10246
@justin171185: Please provide the following details

* What version of NVDA did you test with?
* If a stable version, would you be able to test with an Alpha version of NVDA? You can download one from https://www.nvaccess.org/files/nvda/snapshots/
* Probably not relevant, but what version of Windows and what braille display are you using?

[2019-09-19 05:06] leonardder commented on #10246
@justin171185: Please provide the following details

* What version of NVDA did you test with?
* If a stable version, would you be able to test with an Alpha version of NVDA? You can download one from https://www.nvaccess.org/files/nvda/snapshots/
* Probably not relevant, but what version of Windows and what braille display are you using?

[2019-09-19 05:12] leonardder commented on #8770
I'm closing this. I've only seen this with Vocalizer, and it can be fixed in the vocalizer for NVDA code. Furthermore, on Alpha, noone is likely to use a version of the add-on that has this issue, as it has been fixed upstream for Vocalizer 2.1 and 3.1.

[2019-09-19 05:12] #8770 closed

[2019-09-19 05:14] leonardder commented on #6593
I'm pretty sure this has been fixed as part of the add-on versioning pr. If not, we can always reopen.

[2019-09-19 05:14] #6593 closed

[2019-09-19 05:16] leonardder commented on #6540
This issue is getting old and we don't know what version of Canary this is. I"m closing this. IF there is a similar issue still, it is probably best to file a new issue using the issue template.

[2019-09-19 05:16] #6540 closed

[2019-09-19 05:19] leonardder commented on #6106
@michaelDCurran Is work on this still planned to improve overall performance with UIA? Could this be related to #9465?

[2019-09-19 05:19] leonardder commented on #6533
@michaelDCurran Is work on this still planned to improve overall performance with UIA? Could this be related to #9465?

[2019-09-19 06:04] leonardder commented on #2940
@feerrenrut: Note that NVDA reads on the object level. The button is a separate object, so IMO it is sort of expected that it does only read the contents of the button.

[2019-09-19 06:09] leonardder commented on #8455
Closing as duplicate of #4669

[2019-09-19 06:09] #8455 closed

[2019-09-19 06:20] leonardder opened #10247 "When using Word Object Model in Word/Outlook, NVDA freezes and stops the keyboard from responding"
Note, this issue is similar to --#6463.
cc @bramd  @dkager

### Steps to reproduce:
Work with Outlook mail composition or MS Word. Seen in Office 2016, 2013 and 2010 at least. There isn't a known way to trigger this behavior, which makes this hard to reproduce reliably.

### Actual behavior:
NVDA freezes and the keyboard is locked up in such a way that it is not possible to restart NVDA. The only

[2019-09-19 06:35] leonardder commented on #10032
NVDA now uses UIA to read the contents of the code editor. I think we should make it possible to use the object model based TextInfo instead.

[2019-09-19 06:39] leonardder commented on #9896
This looks similar to #8336

[2019-09-19 06:41] leonardder commented on #8069
Unfortunately, Visual Studio does not offer us a reliable way to find out where these files are located.

[2019-09-19 06:42] leonardder commented on #7504
@francipvb HOw is this in Visual Studio 2019?

[2019-09-19 06:48] leonardder commented on #5119
I've played with the XAML designer a bit in Visual Studio 2019. It is not very accessible, but honestly, I wouldn't expect mainstream accessibility from something that wants you to design a graphical interface visually. Also, I'm still able to move from control to control in the designer with tab, I can change most properties of a control.

Given we couldn't track down the original author and this

[2019-09-19 06:48] #5119 closed

[2019-09-19 06:54] leonardder commented on #5052
Community 2013 has been superseded by 2015, 2017 and 2019. Given its age and the difficulty to maintain support for all these versions of Visual Studio, I'm closing this.

[2019-09-19 06:54] #5052 closed

[2019-09-19 06:55] leonardder commented on #3030
Visual Studio has been superseded by 2013, 2015, 2017 and 2019. Given its age and the difficulty to maintain support for all these versions of Visual Studio, I'm closing this.

[2019-09-19 06:55] #3030 closed

[2019-09-19 06:57] leonardder commented on #3025
Given the age of this issue and we don't seem to be able to track down the original author, I'm closing this one. Note that Visual 2019 has many accessibility fixes.

[2019-09-19 06:57] #3025 closed

[2019-09-19 07:17] leonardder commented on #2471
Visual studio 2010 is 9 years old. I've also received reports that this works properly in 2019. I'm closing this.

[2019-09-19 07:17] #2471 closed

[2019-09-19 07:19] leonardder commented on #6732
Visual Studio 2015 has been superseded by 2017 and 2019, which both offer a fully accessible installer. Given that installation of Visual Studio isn't an every day task and there are alternatives, I'm closing this for now.

[2019-09-19 07:19] #6732 closed

[2019-09-19 07:22] leonardder commented on #2470
This hasn't received attention for the last two years. I"m closing this for now. If there is a similar request for a newer version of Visual Studio, it is probably best to create a new issue.

[2019-09-19 07:22] #2470 closed

[2019-09-19 07:23] leonardder commented on #2233
In visual studio 2019, break points are still not read by default. I recall @mohammad-suliman's add-on implements this, though.

[2019-09-19 07:25] michaelDCurran commented on #6106
I had always found it very hard to reproduce freezes in
UIAIsServerSideProvider on my machines. Certainly not in any predictable
way.

I am a little worried about using something like executeCancellableCall
for UIAIsServerSideProvider as it does get called quite a lot, and we
could end up with lots of frozen threads in NVDA.

The perfect solution would be to remove the need for
callingUIAIsServerS

[2019-09-19 07:26] leonardder commented on #1906
Given Visual Studio Express 2008 is really, really old and it is really hard to maintain support for all these old versions, I"m closing this. If it is really important for someone to have this support, it is probably best to include it in an add-on.

[2019-09-19 07:26] #1906 closed

[2019-09-19 07:27] leonardder commented on #1380
I haven't seen this issue in recent versions of Visual Studio. Given we seem to be unable to contact the original author, I'm closing this.

[2019-09-19 07:27] #1380 closed

[2019-09-19 07:30] michaelDCurran commented on #6533
IUIAutomation.connectionTimeout is 2000 ms. I'm not too sure lowering
this would be a good idea, especially if the system is underload.

IUIAutomation.transationTimeout is currently 20000 ms. This should
certainly be lowered to perhaps 2 to 3 seconds. I'm not sure on the
perfect value as it is possible that a call such as finding certain text
or attributes on a large document could take up to this

[2019-09-19 07:41] leonardder opened #10248 "Improve appModules to be able to maintain support for several versions of an app"
### Is your feature request related to a problem? Please describe.
For many applications, we have to support many different versions. Most important and major examples of this are Microsoft Outlook and Microsoft Visual Studio. The outlook appModule, for example, contains very old code of which it is yet unknown whether it can be removed or not. If new code is introduced, it is hard to know whether

[2019-09-19 07:48] fsteffi opened #10249 "A11Y_VSTSFeature1575027_Pipelines_RecentTabFolderView_Screenreader:Nvda does not announce the control type for "switch to list view" and "new folder" button."
[“Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS; #A11yTCS; #MAS1.3.1; #NVDA; #Chrome; #A11Y_VSTSFeature1575027; #DesktopWeb; #Win10; #AzDev-Team Foundation Service;

**Environment Details:**
Application Name: VSTS Feature 1575027
Windows Version: Windows10
Browser

[2019-09-19 09:05] Shanmukha39 opened #10250 "A11y_Windows Admin Center (WAC) - Full Test Pass_Networks_Screen Reader: NVDA is not reading selected row in the grid as selected"
### Steps to reproduce:
login with the appropriate credentials
2.Tab till server "wacpartner.redmond.corp.microsoft.com" and press enter
3.Tab till "Local Users & Groups" in tools in the left navigation bar and press enter
4.Tab till "Groups" and select any of the groups in the grid so that details section will open
5.Start NVDA
6.Verify whether NVDA is reading selected row present in the grid as

[2019-09-19 09:12] DrSooom commented on #10247
There is a way to kill the nvda.exe process and then hopefully correctly closing Microsoft Outlook:
1. Press CTRL+ALT+DEL and open the Task Manager. This should be still possible – as long as you don't try to restart NVDA by pressing CTRL+ALT+N. Perhaps CTRL+Shift+ESC for opening the Task Manager still works too, but the CTRL+ALT+DEL way is the secure one.
2. Now right click with the mouse on the

[2019-09-19 09:20] DrSooom commented on #10246
@justin171185: Firstly please check the values for the output and the input braille table in the Braille NVDA Settings and report them here. Thanks.

[2019-09-19 09:31] Andre9642 commented on #10246
A PR is in progress on this. See https://github.com/liblouis/liblouis/pull/662

[2019-09-19 09:34] JulienCochuyt commented on #10248
Thanks for following my work on this subject. We indeed implemented on-the-fly overlay of both `TextInfos` and `TreeInterceptor` for this add-on. It is already pretty successful in corporate environments, but as you know, there still is quite some work to be done before a proper general public end-user launch.

I'm afraid that generalizing this potentially heavy process might lead to performance p

[2019-09-19 10:02] lukaszgo1 commented on #9991
You've mentioned that you have used different mailer before. May I ask what mail client it was?

[2019-09-19 10:11] leonardder commented on #9845
May be a fix for this could be having an addons module, so you can `import addons.addonName.appModules.appModuleName`. I wonder whether we could do that dynamically while enforcing every add-on to bundle an empty __init__.py in the root of the add-on.

[2019-09-19 10:18] leonardder commented on #10247
I've created a [try build](https://ci.appveyor.com/api/buildjobs/6gxag44qdqklqt73/artifacts/output%2Fnvda_snapshot_try-wordDebug-18705%2C4c105cec.exe) that adds lots of extra logging when at the debug level.

[2019-09-19 10:39] leonardder commented on #10248
I would say that it would be beneficial for you guys to have this in core, right? Could you outline some of the benefits that dynamic overlay classes give you for tree interceptors and textInfos?

Ah, I"m sorry. I wasn't intending to say that this should be functionality on AutoPropertyObject. Rather, a separate class/metaclass in baseObject that incorporates this. However, NVDAObjects still have

[2019-09-19 11:59] francipvb commented on #7504
I don't know, the Visual Studio AppModule have a dirty hack for object explorer.

Sorry about Intellisense, I have a fix working very well and very usable, however, there is an issue with UIA events from NVDA side, they are processed too late.

[2019-09-19 12:14] francipvb commented on #7504
Hello again @leonardder

The object explorer annoying bug (without the dirty fix) is still there.

Regarding Intellisense, I found that the best solution is to intercept the liveRegionChanged event from the appModule and just stop speech before the call to nextHandler.

The issue is that this event is fired various times during the loading process of the Intellisense popup list, so I have to find

[2019-09-19 12:21] leonardder commented on #7504
Could you elaborate on why you think NVDA processes events too late? How
can that be reproduced?

[2019-09-19 12:40] francipvb commented on #7504
I'm not sure how I can reproduce this reliably, but it occurs frequently, particularly when first loading Visual Studio Intellisense.

Maybe a try with an WPF example with simulated high workload...

I've found that in Visual Studio 2017, for example, the start page loads but you have to wait until the user interface loads completely to get focus events at appropriate time.

Sorry, but this is a b

[2019-09-19 13:51] JulienCochuyt commented on #10248
In short, we currently use this technique to
 - add a whole lot of dynamic key bindings such as place markers and the like
 - temporarily restrict navigability to a defined portion of the page
 - mutate controls properties such as adding header roles and turning data tables into layout tables
 - allow full customization of the behavior depending on the page browsed or a sub part of it
 - reorderin

[2019-09-19 13:59] howardgld commented on #9991
Sure. It was Outlook Express for Windows 7 8 and 10 from runasxp.com.

From: Łukasz Golonka [mailto:notifications@github.com]
Sent: September 19, 2019 6:03 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: howardgld <hgoldst1@sbcglobal.net>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA freezes in Outlook 2013 on Windows 7 in 2019.2 beta 2 and beta 3 (#9991)

You've menti

[2019-09-19 14:00] josephsl commented on #10248
Hi,

Extending built-in modules: yes, this can be done (I don't think it is documented in development guide either, but need to double-check; I know it is documented in the add-on development guide).

Version-specific code in app module classes: the way I do it is checking product version field and taking needed code path within methods of overlay classes (StationPlaylist Studio app module does th

[2019-09-19 15:08] JulienCochuyt commented on #10248
@josephsl, I'm sure there is, but the term webModule in my earlier comments refers to the equivalent of an appModule for web applications, as implemented in the WebAccess add-on.
This is an add-on we maintain here at Accessolutions, developed in coordination with the French administration. It's already been successfully deployed in several corporate environments, but as mentioned earlier, it's not

[2019-09-19 20:01] Adriani90 commented on #7016
This is also actually covered in the PR #10130. @josephsl could you please respond to my question in the last comment of the PR so that I can finish the work on it? Thanks.

[2019-09-19 20:02] Adriani90 commented on #7016
Oops it seems the buttons are now in inverse order. I closed it accidentally. 👎 sorry.

[2019-09-19 20:06] Adriani90 commented on #10250
@Shanmukha39 in which browser did you see this behavior? Is it also reproducible with NVDA 2019.2?

[2019-09-19 20:28] Adriani90 commented on #10249
@fsteffi I am testing with NVDA version Version: alpha-18699,0e4bb4ad
on Chrome 77.0.3865.90 and I cannot reproduce this issue. Could you please test with the last alpha and see if it's still happening? Here you can download the last alpha versions of NVDA:
https://www.nvaccess.org/files/nvda/snapshots/

[2019-09-19 20:42] Adriani90 commented on #10245
I am testing with NVDA Version alpha-18699,0e4bb4ad
On Chrome 77 I cannot reproduce this issue. Everytime when I land on the combobox, no matter if in browse mode or focus mode or if I am moving with arrow keys or tab and shift + tab, NVDA reports the expanded or the colapsed status as it should be.

@jdrush89 could you please test with Chrome 77?

[2019-09-19 20:44] Adriani90 commented on #10243
cc: @leonardder, @jcsteh

[2019-09-19 20:51] Adriani90 commented on #10239
Hello, if you go to nvda settings, and then to browse mode settings, you can adjust the number of characters per line. Could you please try different numbers? Does that make a difference when reproducing this issue?

[2019-09-19 20:51] Adriani90 commented on #10239
Hello, if you go to nvda settings, and then to browse mode settings, you can adjust the number of characters per line. Could you please try different numbers? Does that make a difference when reproducing this issue?

[2019-09-19 20:52] Adriani90 commented on #10238
cc: @bramd, @leonardder

[2019-09-19 21:27] JunyiXiao commented on #10239
Nope, it doesn't make a differences. The same problem still repros.

[2019-09-19 23:48] jcsteh commented on #10243
My guess is that this is probably a bug in MathPlayer, but someone would need to debug to be sure.

[2019-09-19 23:52] jcsteh commented on #6106
We can probably manage this by looking at ProviderDescription. However, the problem is that this is also used to determine whether to ignore IAccessible events. I'm not sure we want to get a UIA object every time we would normally call isUIAWindow in IAccessibleHandler, at least not without making the caching more aggressive.

[2019-09-19 23:53] jcsteh commented on #6106
Damn it. I could swear the "Comment" button used to be before the "Close and comment" button... or maybe it's just me.

[2019-09-20 09:03] Shanmukha39 commented on #10250
@Adriani90
I have checked in Chrome browser, it is reproducible with NVDA 2019.2 as well

[2019-09-20 11:06] fsteffi commented on #10249
@Adriani90 the issue still reproduces with nvda version: alpha-18699,0e4bb4ad.
Below is the image of the issue
![Image](https://user-images.githubusercontent.com/24580570/65322491-a0d69080-dbc4-11e9-9906-dea098ec17ae.png)

[2019-09-20 12:09] leonardder commented on #10031
Probably good to combine this with #10238 when addressing this. In short, we probably want to ensure that scons copies brlapi as well, as py2exe might think that brlapi is a system dll when brltty is installed.

[2019-09-20 12:12] leonardder commented on #3306
I'm closing this because of lack of response. If this is still an issue, we can always reopen.

[2019-09-20 12:12] #3306 closed

[2019-09-20 12:13] InduPriya1805 opened #10252 "A11y_Dynamics 365 Relationship Insights (Relationship Assistant)_Insight Cards_Screen Reader: In scan mode NVDA is not reading the name for "All Security Roles""
**Environment Details:**
URL:​https://zidadach0628.crm10.dynamics.com/main.aspx?appid=5243f9a2-f5bf-e911-a97b-000d3a4e9aa0&pagetype=control&controlName=MscrmControls.UnifiedConfigCustomControl.UnifiedConfigCustomControl
User Name: tiptesttenant@tipregion.onmicrosoft.com
Server version: 9.1.0000.8614
Client version: 1.3.2257-190830-002936
Browser Details: Chrome76.0.3809.132​

**Repro Steps:​**
1)T

[2019-09-20 13:10] CyrilleB79 opened #10253 "Add a script to toggle language detection"
### Is your feature request related to a problem? Please describe.
In some cases, I need to deactivate auto-language switching:

* Sometimes webpages are tagged with wrong language, e.g. written in French but tagged as English content. Probably due to a webmaster using a template or a default setting in English.
* Sometimes I prefer reading English-tagged content with my default voice native langu

[2019-09-20 13:33] CyrilleB79 opened #10254 "Unwanted extra speech when shift+tabbing bfrom e-mail body to subject field in MS Outlook"
### Steps to reproduce:
* In MS Outlook, open a new message in edition
* Go to message body
* Press shift+tab to go back to subject field

### Actual behavior:
NVDA announces the indent measurement ("0.265 centimètres") and then announces the newly focused subject field.

### Expected behavior:
NVDA announces only the newly focused subject field.

### System configuration

#### NVDA installed/port

[2019-09-20 14:01] JulienCochuyt commented on #10253
I up-vote the need for this feature.
I'm not sure a dedicated gesture is necessary though, as I think I'd rather it just be an additional setting in the speech settings ring.

Almost of topic: NVDA currently behaves differently in matter of language switching when hovering with the mouse or reading in browse mode. Quite annoying.

[2019-09-20 14:30] CyrilleB79 commented on #10253
For now speech settings ring gathers only parameters from the synthesizer. All these parameters appear before automatic language switching option in the speech setting panel and are provided by the synthesizer.
On the contrary automatic language switching is a global parameter as punctuation level is, as well as all other parameters defined below in the speech setting window.
So IMO it makes sense

[2019-09-20 15:45] CyrilleB79 commented on #6269
@Qchristensen could you please describe precisely what you expect as a reported information? Only the distance or distance+type of indent (indent/hanging indent)? Distance from the left of the page or distance from the margin.
Please also consider the discussion in #8994.

[2019-09-20 17:08] jdrush89 commented on #10245
@Adriani90 NVDA 2019.2 with chrome 77 does not work, but NVDA Version alpha-18699,0e4bb4ad with Chrome 77 does work on the W3 sample site.  The original issue still exists in the codesandbox though, the collapsed state is not being announce there.  Is that what you are seeing?

[2019-09-20 17:34] lukaszgo1 commented on #5046
For me announcing 'searching' and 'search complete' makes no sense, however 'no items match your search' is quite useful, and for sighted users the fact that nothing has been found is obvious visually, so adding this one might be nice.

[2019-09-20 17:40] josephsl commented on #5046
Hi,

This is possible in Windows 10 Settings app - will need to investigate this for Windows 7 and 8.x provided that it can be done and does not introduce negative user experience.

Thanks.

[2019-09-20 18:19] clayplumridge opened #10256 "Additional text read when navigating through table headers"
NOTE: This issue appears to occur only when the table itself contains links. Using the dropdown you can view other samples using the same components and note that this issue does not reproduce on all of them.

### Steps to reproduce:
1. Navigate to https://developer.microsoft.com/en-us/azure-devops/components/table#table-with-links
2. Tab through the page until you reach the "Hide code" button.
3.

[2019-09-20 19:51] dkager commented on #10247
Since Ctrl+Alt+Del obviously still works I wonder if there is another such hotkey that you could assign a script to to restart NVDA. It would also be interesting to know if the mouse locks up as well.

[2019-09-20 20:17] XLTechie commented on #10253
I would just like to second this feature request. Very useful.

I am ambivalent about whether it fits with synth settings ring. There is some
argument to be made for the convenience of it, and for not waisting another
keystroke.
On the other hand, it doesn't really fit the other things in the "synth" ring.

[2019-09-21 05:26] DrSooom commented on #10247
The mouse clicks could be influenced by the held down/hanging Shift, CTRL and/or ALT key. But for opening the context menu in the Task Manager and for the click on an entry there as well as on a button in a dialog, it doesn't really matter here if these keys are held down or not. You are still able to move the mouse cursor and interact with the GUI – as long as the held Shift, CTRL and/or ALT keys

[2019-09-21 13:10] hozosch commented on #10185
I should point out that it only happens with the compiled snapshots. I tested the prototype from source as well, and there, it didn't scratch, at least from what I can remember.

[2019-09-21 21:13] derekriemer opened #10260 "Increasing indent forever!"
### Steps to reproduce:

1. open https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/ in firefox.
2. go to the bottom of the page.
3. read by line up, until you enter the terminal, and keep going.

### Actual behavior:

NVDA starts reporting a line, the next time arrow up is pressed in the terminal, it reports the same line indented by 1 space, and adds 1 more

[2019-09-22 04:52] kvark128 opened #10261 "Revising of the text in Microsoft Word not localized"
Translatable string "revised %s" incorrectly used in speech module on line 1500:
text=(_("revised %s"%revision) if revision
Please fix it.

[2019-09-22 08:26] DrSooom commented on #10261
@kvark128: Please completely fill out the bug report draft. Thanks.

[2019-09-22 11:10] Adriani90 commented on #10261
@kvark128 I don't really understand what you expect the behavior to be here. Please edit the issue and include all information required in the issue template. Thanks.

[2019-09-22 11:19] Adriani90 commented on #10256
It seems something is different in this layout when compared in different browsers. In Firefox everything works correctly. In Chrome 77 I can reproduce this issue. Moreover, when I press down arrow and NVDA reports blank, at that moment table navigation commands (ctrl+alt+arrow keys) do not work at all. When I press down arrow again and focus a header, table navigation commands work correctly.

cc

[2019-09-22 12:33] kvark128 commented on #10261
I don't know how to reproduce the problem in Word and can't describe it.
Here in the gettext function passed already partly translated string:
_("revised %s"%revision)
it should be:
_("revised %s")%revision
The closing bracket in the wrong place. This is a very common mistake.

[2019-09-22 12:36] JulienCochuyt commented on #10261
@Adriani90, @DrSooom, the `% revision` should be out of the the gettext call.
PR on its way.

[2019-09-22 20:53] destroyersboy opened #10264 "Error running NVDA with python 3: 'louis' not found"
### Steps to reproduce:
1. NVDA is cloned with Git:
`git clone --recurse https: // github.com/nvaccess/nvda`

2. Switch to NVDA:
`cd nvda`

3. NVDA is run with python3:
`py -3-32 source/nvda.pyw` or `cd source`, `py -3-32 nvda.pyw`
### Actual behavior:
1. NVDA plays start sound, windows 10 error sound is heard in parallel.
2. No response can be received from NVDA, nvda is installed on the system.

[2019-09-22 20:55] lukaszgo1 commented on #10264
What about running scons source before attempting to start NVDA?

[2019-09-22 20:55] josephsl commented on #10264
Hi, did you build NVDA from source first? You need to do that before running NVDA from source. Thanks.

From: destroyersboy <notifications@github.com>
Sent: Sunday, September 22, 2019 1:53 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Error running NVDA with python 3: 'louis' not found (#10264)

Steps to reproduce:

1.	NVDA i

[2019-09-22 21:07] destroyersboy commented on #10264
@lukaszgo1 lukaszgo1, @josephsl josephsl

Excuse me, I'm new to NVDA.

VS 2019 installed on the machine.
Could this be related?
Scons went out here:
[code]

[2019-09-22 21:10] Adriani90 commented on #10264
You must compile with vs2017

[2019-09-22 21:15] destroyersboy commented on #10264
Isn't there a way to run NVDA with VS2019?
Are the components installed in VS2017 not included in VS2019?

I don't like VS very much. Because it takes up a lot of space, because of the obligation.
Is it not possible to download compiled resources required for NVDA?
So I get rid of the compile load.

[2019-09-22 21:32] josephsl commented on #10264
Hi, rest assured that someone (specifically, @LeonardDer) is looking into making your wish come true (in terms of Visual Studio 2019 requirement). CC @MichaelDCurran

From: destroyersboy <notifications@github.com>
Sent: Sunday, September 22, 2019 2:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvacce

[2019-09-23 02:59] #10261 closed

[2019-09-23 05:04] leonardder opened #10265 "Screen curtain global command: report state on first press"
# Is your feature request related to a problem? Please describe.
I have the screen curtain global command assigned, and I tend to check the state of the curtain pretty often. By lack of sight, I can only do this by pressing the gesture, however that will immediately toggle the curtain.

### Describe the solution you'd like
I'd like to propose changing the command as follows:

1. Pressing once repo

[2019-09-23 05:21] leonardder commented on #10264
You can build nVDA with Visual Studio 2019 by installing the 15.1 (vs 2017) toolsets. Note that you need to do this for x86/x64 and arm64, and you also need to enable atl support for both.

[2019-09-23 05:24] leonardder commented on #10185
The thought that this may be caused by speech refactor isn't strange at all, there have been major changes on how speech synthesizers process speech as well as how say all works.
I've been able to reproduce this in applications where movement through text is laggy, such as in word documents with lots of data in it.

Cc @michaelDCurran

[2019-09-23 05:44] destroyersboy commented on #10264
Hello again @leonardder ,

`C++ ATL for v141 build tools (ARM64), 7 of 52`
I think there are places I have to check here. I've never heard a label here like 15.1.
Which options do I have to check?

There should be a way to export our setup configuration in VS Installer, which could be more robust.

[2019-09-23 06:06] JulienCochuyt commented on #10265
IMHO, the three behaviors introduce needless complexity.
Nevertheless, I agree that reporting the state is pretty useful.
I would propose:
1. Pressing once reports the state, whether on or off.
2. Pressing twice toggles on or off (saves in config)

If you are afraid a persisting screen curtain might feel like a bug for another user of the same computer, I see two alternatives:
1. Only temporarily

[2019-09-23 06:36] JulienCochuyt commented on #8156
Very sorry for the lengthy answering delay, but you actually do not need to do that to select an entire table or list.
In browse mode, NVDA offers single letter quick navigation such as "`t`" to go to the next table or "`l`" to go to the next list. Pressing `shift` + the same letter goes to the previous same element type.
There is a lesser known of these: comma ("`,`") goes to the first character

[2019-09-23 07:26] #10209 closed

[2019-09-23 08:18] FelixGruetzmacher commented on #8389
I can confirm the current alphas still have this problem, on both Windows 7 and 10 unfortunately. I'm afraid this will haunt us for a long time.

[2019-09-23 08:44] Brian1Gaff commented on #10265
This sounds like it is ideal for a sound not  anything else, so plink for
on, plonk for off?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-09-23 09:03] Brian1Gaff commented on #10265
Sorry that was what I meant, its surely easer to  toggle back on than do a
multi press gesture, it keeps it simple.

Of course on and off are short words....

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-09-23 09:06] CyrilleB79 commented on #10253
Integrating this feature in the synth settings ring seems to require modifications in each one of the synth driver. Indeed it is the synth driver which defines the settings that it supports in the ring. Moreover, the driver then implements the functions to get and set each setting in the ring. This would thus create a bunch of dependencies with synth drivers to upgrade... Really overkill for such

[2019-09-23 09:19] Brian1Gaff opened #10266 "Current alpha nap cannot create portable version"
auto or manually update the alpha snap, and download the file. Select  install, in my case this is a portable version., so a portable install is what it should do. And respond to the prompts as normal.### Steps to reproduce:

### Actual behavior:
It loads in, and then fails to create the portable version with an error, leaving you in the  temporary running new snapshot.
The log error is:
entering

[2019-09-23 09:24] leonardder commented on #10266
Caused by # 10259, now debugging it.

[2019-09-23 09:30] dingpengyu commented on #10266
I tested nvda_snapshot_alpha-18737 in Simplified Chinese and the same problem
log:

DEBUGWARNING - IAccessibleHandler.accessibleObjectFromEvent (17:21:58.934) - MainThread (16720):
oleacc.AccessibleObjectFromEvent with window 396186, objectID 70 and childID 0: [WinError -2147467259] 未指定的错误
DEBUGWARNING - IAccessibleHandler.accessibleObjectFromEvent (17:21:58.935) - MainThread (16720):
oleacc.Acces

[2019-09-23 09:35] dingpengyu commented on #10266
windows system:
Using Windows version 10.0.18362 workstation

[2019-09-23 10:07] leonardder commented on #10265
We can't show contents on screen when the curtain is on. This is because we use the Windows magnification API to blacken the screen, it uses a color transformation matrix rather than an overlay window which we can customize.

[2019-09-23 10:45] brennanyoung commented on #6400
content authors can mitigate this by marking up blank lines as `<br role="presentation"/>`

[2019-09-23 10:50] JulienCochuyt commented on #10265
Well, we'd had to code in this matrix a rasterization of the text, overkill for sure.

[2019-09-23 13:20] leonardder commented on #10264
Ugh, I"m sorry. I meant version 14.1 indeed, zo verison 141 is the right one to choose.

[2019-09-23 14:04] clayplumridge commented on #10256
I believe this was working on NVDA 2018.3? May have been 2018.2. Not sure if there's any changelog that can help pinpoint between then and now.

[2019-09-23 14:57] DrSooom commented on #10265
Single Press = Report current state; Double Press = Enable/Disable screen curtain

If the user really wants to enable the screen curtain on startup, he only has to enable a checkbox in the NVDA Settings – if available yet. If not, add it.

btw: Is there a command line flag for this feature yet? It could be helpful to temporary overwrite the user config (e.g. sighted admin wants to configure NVDA).

[2019-09-23 15:09] leonardder commented on #10226
I'd be best if Duxbury would write unicode braille to the screen instead of characters that are probably shown using a particular font. We'd probably need a proper translation table to make this work.

[2019-09-23 15:10] leonardder commented on #10225
Can you reproduce this with the Chrome based version of Edge?

[2019-09-23 15:12] leonardder commented on #10222
This most likely has the same underlying issue as #7041.

[2019-09-23 15:13] leonardder commented on #10215
Thanks for your report. How is this with Narrator?

[2019-09-23 15:52] ehollig commented on #3178
Closing, as we seem to have  lost contact with the original author of this issue.

[2019-09-23 15:52] #3178 closed

[2019-09-23 17:29] ehollig opened #10270 "Error updating to latest Alpha"
# Steps to reproduce:
1. Create a portable copy of alpha-18330,b4db7dca
2. Go to NVDA Help > Check for update
3. Try to update to alpha-18737,e9cfa1b1

### Actual behavior:
NVDA is unable to remove a temporary file and fails the portable update.

### Expected behavior:
NVDA updates to latest Alpha.

### System configuration
#### NVDA installed/portable/running from source:
Portable

#### NVDA vers

[2019-09-23 19:04] ehollig commented on #10270
Duplicate of #10266

[2019-09-23 19:04] #10270 closed

[2019-09-23 19:48] Brian1Gaff commented on #6400
But how would they know to do so?
Brian probably being slightly dim.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-23 19:54] bramd commented on #10247
@leonardder Your last commit seems to cause an error while installing add-ons:

ERROR - gui.addonGui.installAddon (21:39:39.537) - MainThread (8712):
Error installing  addon bundle from C:\Users\bram\Downloads\bluetoothaudio.nvda-addon
Traceback (most recent call last):
  File "gui\addonGui.pyc", line 539, in doneAndDestroy
  File "gui\addonGui.pyc", line 560, in installAddon
  File "gui\__init__.

[2019-09-23 20:06] lukaszgo1 commented on #1229
This one should be closed, as it was fixed by speech refactor.

[2019-09-23 22:33] #10266 closed

[2019-09-23 22:41] Qchristensen commented on #7578
Not adding anything, but this looks like the same issue as #10095.  I'm going to close this one as the other issue as more detail, but I'll copy @jmuheim's original comments / links across as another useful demo of the issue.

[2019-09-23 22:41] #7578 closed

[2019-09-23 22:43] Qchristensen commented on #10095
I've closed #7578 as a duplicate of this issue, but felt it was worth copying @jmuheim's comments across:

"I wonder why do radio buttons trigger focus mode, but checkboxes don't?

Here's a demo with radio buttons. When tabbing to the first radiobutton, the legend's title (Gender) is announced by NVDA (as focus mode is triggered):

https://codepen.io/accessibility-developer-guide/full/WEqVdR/

Her

[2019-09-23 22:45] #2020 closed

[2019-09-23 23:05] Qchristensen commented on #6269
When you press NVDA+numpad delete / NVDA+delete, it reports the distance from the left edge (and top) of the page, as set in Word (eg 140 points, 5.3cm, 1.8 inches, etc), so I would keep it consistent with that.

If we can readily determine that a specific indentation was just created may be difficult - if it can that would be great, but I think at least if it announced the distance that would be

[2019-09-23 23:06] #10241 closed

[2019-09-24 02:01] jcsteh commented on #10095
We already report the legend despite the fact that it too is present in the buffer. That decision was made in #7435. I'd argue we should just extend that fix to also report the description.

Because radio buttons support keyboard interaction beyond simple activation; i.e. you can use up/down arrows to change the selection. That isn't true for check boxes, so check boxes don't need this. IMO, pursu

[2019-09-24 05:25] hozosch opened #10271 "precise Announcing of the state of formatting settings when a hotkey in word is pressed"
### Is your feature request related to a problem? Please describe.
No, not in the sense of a bug. It's just something I miss.
### Describe the solution you'd like
In word, for example, when I press the keystroke for bold, I would like to have NVDA say "bold on". Or "bold off", depending on what it is set to currently.
### Describe alternatives you've considered
Of course, I could just do it and ch

[2019-09-24 06:03] SaisreeDandamudi opened #10272 "A11y_HPC Pack_Configure the naming of new nodes_Screen Reader : When user opens "Specify Node Naming Series" dialogue NVDA is not reading title. (NVDA is not reading about the title for all the dialogues)"
### Steps to reproduce:
1)Open "HPC Pack Cluster Manager" application in your desktop
2)Tab till Configuration and navigate to Deployment To do list tab and press enter
3)Tab till import a certificate for deployment and press enter
4)Start Screen Reader
5)Verify screen reader is reading the title of the window properly

### Actual behavior:
NVDA is not reading the Title "Specify Node Naming Series

[2019-09-24 06:29] CyrilleB79 commented on #10271
In MS Word many common shortcut action are already announced:

* the following shortcuts already announce the new character formatting when activated : bold (ctrl+B), italic (ctrl+I), underlined (ctrl+U), subscript (ctrl+=), superscript (ctrl+shift+=), character size change (ctrl+[, ctrl+], ctrl+shift+, and ctrl+shift+.).
* Moreover some paragraph formatting such as paragraph alignment (left, righ

[2019-09-24 06:44] michaelDCurran commented on #9982
Can anyone other than @DrSooom , actually reproduce this? I am trying to understand the full impact of this within the NVDA community. I am unable to reproduce this myself, and reading all the comments so far here, it looks as though no one else is saying they can either?
Obviously with any crash or memory corruption we would like to address it. However, so far we are not coming up with any soluti

[2019-09-24 08:01] zstanecic commented on #9982
Hi

I cannot reproduce this with chinese tables.

From: Michael Curran <notifications@github.com>
Sent: Tuesday, September 24, 2019 8:45 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors on loading large (Chinese) braille tables with NVDA 2019.2 Beta-18176, 2019.2 Beta-18345 and 2019.2 R

[2019-09-24 08:17] destroyersboy commented on #10264
Failed, all components related to ARM are checked. There's still a mistake coming from Scons.

I don't think a developer interested in NVDA needs to install VS2019/2017.

1. Really GB is too big. And VS spends much CPU.
2. The Python developer does not need to deal with issues such as C ++ and ARM.
3. Python offers a simple structure. It's not big and tiring.

It would not be right to discuss this

[2019-09-24 08:46] JulienCochuyt commented on #10271
@CyrilleB79: I think you are right in guessing this might be a language issue.
Keyboard shortcuts in Word are often localized by country.
By example, bold is `control+b` on an English system, but `control+g` (for "gras") in a French system.
I confirm NVDA 2019.2 reports toggling of the bold attribute just fine on a French system.

[2019-09-24 09:47] lukaszgo1 commented on #10247
Have you tried switching users with Ctrl+alt+delete, and killing NVDA process from the second account? For me it always works when freezes occurs, however  I haven't experienced this exact problem

[2019-09-24 09:51] hozosch commented on #10271
Yes, I can confirm that the keys you mentioned report the current settings, whether they're enabled or not. However, I mean the keys to toggle the settings. For example, when I want to toggle bold, In german, it's ctrl+shift+f for "fett", and this isn't announced, like it is in jaws.

[2019-09-24 10:17] ruifontes commented on #10271
Hello!

This must be corrected by the NVDA german localization team.

Rui Fontes

Às 10:52 de 24/09/2019, hozosch escreveu:

[2019-09-24 10:23] DrSooom commented on #9982
@michaelDCurran and @zstanecic: Please test on Win7x64 with Chinese Taiwan/Mandarin (zh-tw.ctb) because it's the largest braille table in Liblouis 3.10.0. I was able to reproduce this error also on my NUC (win7x64, NVDA 2015.3 is still installed) with NVDA 2019.2.1 Try-RC1-18694 Portable. The HUC Braille Tables weren't tested yet with this NVDA version, as this error already occurs with the larges

[2019-09-24 10:24] hozosch commented on #10271
Can we? I think we can only change the message, but not the keystroke for which the message is used.

[2019-09-24 10:31] brennanyoung commented on #6400
Not a stupid question at all! The br tag is used far too often in general. Only very rarely has it any semantic value. Using br outside of a block element is a code smell. NVDA really should have a setting to surpress the announcement of "blank" in these all-too-common cases.

[2019-09-24 10:45] Adriani90 commented on #10271
This would only work if we localize the gesture.ini. Right?

[2019-09-24 10:47] brennanyoung opened #10273 "suppress the announcement of iframe src="about:blank""
# NVDA announces the "about:blank" src attribute of not-yet-loaded iframes.
I can't see how this is useful to anyone. It's an ungrammatical, machine-readable string, the very opposite of 'meaningful content', which adds unnecessary noise. The announcement happens even if the src attribute is set immediately onload, which is further misinformation about what is going on.

### Describe the solution

[2019-09-24 10:56] CyrilleB79 commented on #10271
Yes we can localize the gesture.ini.
To localize it, translators should add (if required) and modify the gesture.ini file in the screenreadertranslation repo.
E.g. in the case of German, translators need to add the gesture.ini (taken from last alpha) since it is not present in the repo. Then they need to:

* Add the shortcuts that differ from English ones
* Map to None the shortcuts that do not ma

[2019-09-24 10:57] Adriani90 commented on #9982
This discussion is getting really Long. We Need clear Impact results on users, especially chinese users.
@larry801, @dingpengyu could you please Elaborate exactly your test results and how significant the user Impact is? Thanks!

[2019-09-24 11:02] ruifontes commented on #10271
Right!
And that is possible...

Rui Fontes

Às 11:45 de 24/09/2019, Adriani90 escreveu:

[2019-09-24 11:24] dingpengyu commented on #9982
hi Adriani
In Chinese, it is divided into Simplified Chinese (zh_CN) and Traditional Chinese (zh_TW)
[issue 9982](https://github.com/nvaccess/nvda/issues/9982)
Test braille is zh_TW
So look for the maintainer of NVDA zh_TW to test this
thank

[2019-09-24 13:09] lukaszgo1 commented on #8722
It is possible that it is a duplicate of #9552. @bingen13 Can you reproduce it with latest Firefox?

[2019-09-24 13:23] lukaszgo1 commented on #10084
This one is fixed in #10085 and should be closed.

[2019-09-24 13:31] bingen13 commented on #8722
No. The NoScript item on the context menu no longer says submenu like it used to, but pressing enter on it does give me the options again. Seems to have been fixed.

[2019-09-24 13:32] larry801 commented on #9982
I have heard that some users use a custom table with nearly 100000 entries.
 how can I test without a braille display?

[2019-09-24 14:48] josephsl commented on #10264
Hi, for NVDA, C++ and ARM support are required because of DLL’s in use. Let’s discuss this further on the NVDA development mailing list (nvda-devel) on Groups.IO. Thanks.

From: destroyersboy <notifications@github.com>
Sent: Tuesday, September 24, 2019 1:18 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-09-24 16:13] hozosch commented on #10271
Yes. thanks for that, I didn't know that. I'm going to close this now.

[2019-09-24 16:42] hozosch commented on #10271
I reopened this, because for NVDA, superscript and subscript arekinda one thing. That's not the case with word. Superscript is, for us German, CTRL+plus, and subscript ctrl+dash.

[2019-09-24 16:47] hozosch commented on #10271
I would also like NVDA to distinguish between double and single underlining. Currently, there's just one underlining action programmed into NVDA. Single underlining for us is ctrl+shift+u, double ctrl+shift+d. At the time being, I just used both keystrokes to announce the normal underlining

[2019-09-24 18:27] hozosch commented on #10271
Sorry, the thing about superscript and subscript was my fault. Could you please add the distinguation between double and single underlining though?

[2019-09-24 19:13] CyrilleB79 commented on #10271
For now NVDA only announces single underlining shortcut, even in English. That's why NVDA does not announce any detail when you map toggleUnderline script to the shortcut for double underlining.

I am currently working on some word shortcut vocalization and have specially a branch regarding announcement of various types of underlining that have a shortcut in Word, i.e. double underlining (ctrl+shi

[2019-09-24 19:29] Adriani90 commented on #8722
Thanks for reporting. Closing as works for me.

[2019-09-24 19:29] #8722 closed

[2019-09-24 19:29] invisiblebear commented on #10202
@leonardder
I have tried this with both browser mode enabled and disabled and am getting the same result

[2019-09-24 19:32] Adriani90 commented on #1229
Closing as works for me.

[2019-09-24 19:32] #1229 closed

[2019-09-24 19:33] Adriani90 commented on #10084
Closing as works for me

[2019-09-24 19:33] #10084 closed

[2019-09-24 20:14] hozosch commented on #10271
Sorry, It would seem that I can't edit my first comment, so here I go.
Shortcuts missing:
smallcap (ctrl+q)
All caps (ctrl+g)
Those are the only ones I could think of! like I say, superscript and subscript was my fault. I didn't know NVDA summarized it, until I found out that you can define multiple keys.

[2019-09-24 21:44] CyrilleB79 commented on #10271
Underline description branch is now ready.

Regarding allcaps and smallcaps, the shortcuts that you have given are probably German ones; English ones are Ctrl+Shift+A and Ctrl+Shift+K. I had also begun a test branch some time ago with these shortcuts. However, I have still to investigate Word's behavior. Indeed, there is another shortcut that plays with capitalization, Shift+F3, but that differs s

[2019-09-24 21:51] hozosch commented on #10271
O yes, didn't know about shift+f3,  but yes, that's first initial cap.

[2019-09-24 22:25] XLTechie commented on #10271
CyrilleB79 wrote:

And to correct the spellings in the title as well, to make it easier for github
to match it against similar issues, or people to find it.

"Anounce" = "Announce", and "formating" = "formatting".
Also "formating" to "formatting" in the title of the related issue: #10271.

[2019-09-25 05:19] hozosch commented on #10271
I changed the title now. Like I said, I can't edit my first comment anymore. When I change the title, it should be overridden, schouldn't it? So, don't know what's wrong with that now.

[2019-09-25 06:42] leonardder commented on #9982
@DrSooom Could you please test with [this try build](https://ci.appveyor.com/api/buildjobs/htv3r0audeuarog6/artifacts/output%2Fnvda_snapshot_try-liblouis3.11withClangOnVS2019-18768%2Cb2837ef9.exe)

If this build doesn't have the issue for you, I will make #10275 close this issue.

[2019-09-25 07:38] leonardder opened #10276 "When getting a COM attribute using dynamic dispatch and the call is canceled, the original COMError is raised instead of watchdog.CallCancelled"
### Steps to reproduce:
In word, run the following code snippet from the python console:

`for i in range(5000): review._rangeObj.Start == review._rangeObj.End`

### Actual behavior:
On python 3:

[code]

### Expected behavior:
On python 2:

[code]

### System configuration
#### NVDA installed/portable/running from source:
n/a

#### NVDA version:
2019.2 and Alpha

#### Windows version:
Windows 10

[2019-09-25 07:39] dingpengyu opened #10277 "Delete threshold labels for milestones"
The first python3 version of NVDA will be released in 2019.3. Based on the above reasons Milestones's threshold tag has completed his mission.

### Steps to reproduce:
[open Milestones page](https://github.com/nvaccess/nvda/milestones)
You can see
threshold tag
### Actual behavior:
remove threshold tag
### Expected behavior:
remove
### System configuration
#### NVDA installed/portable/running from

[2019-09-25 07:52] michaelDCurran commented on #10276
This should have been handled in merged pr #9795. Clearly there is a situation where this is not working.

[2019-09-25 07:59] JulienCochuyt commented on #10253
Actually, the base class could add this setting for its derived implementations.

Currently, the language detection is toggled globally, whether the chosen synth driver supports the feature or not.
Each and every driver would be impacted only if we wish to include the setting in the ring only when supported.

Again, the base class can handle this.

I'm not nitpicking because I think this setting *

[2019-09-25 08:04] leonardder commented on #9763
This hasn't been fixed completely, see #10276

[2019-09-25 08:15] leonardder commented on #10247
@lukaszgo1 That's an interesting approach!

@bramd The bug you reported has been fixed.

[Here](https://ci.appveyor.com/api/buildjobs/fnapav0bhafmeqnq/artifacts/output%2Fnvda_snapshot_try-wordDebug-18771%2C91aa7508.exe) is a new try build that also logs isCollapsed property properly. Note that I found #10276 because of your debug logs, that's not going to fix the issue though.

[2019-09-25 11:31] DrSooom commented on #9982
Here is the [Stand-PC (win7x64, 6 GB RAM, SSD) logfile](https://github.com/nvaccess/nvda/files/3652163/9982_p11_Stand-PC.txt) for NVDA 2019.2.1 Try-18768 Portable and here the [used "nvda.ini" file](https://github.com/nvaccess/nvda/files/3652164/9982_p11-p12_nvda.ini.txt) (please delete the txt file extension).
+ Line 94 to 98: ALVA driver permission error; not new. See the section "Additional inf

[2019-09-25 11:44] dingpengyu commented on #9982
hi DrSooom
Can you use windows10 to do the above tests?

[2019-09-25 11:48] DrSooom commented on #9982
Sadly no, because there isn't any physical machine running Windows 10 yet. And I haven't set up a VM for it too.

[2019-09-25 12:01] zstanecic commented on #9982
Sadly, i cannot reproduce this.

Win 10 1903

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, September 25, 2019 1:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors on loading large (Chinese) braille tables with NVDA 2019.2 Beta-18176, 2019.2 Beta-18345 and 2019.2 RC2 (#

[2019-09-25 13:30] leonardder commented on #10248
@JulienCochuyt It turned out to be easier than I thought to implement this, it took me around half a day to create a working prototype. see https://github.com/BabbageCom/nvda/tree/overlay

The overlay system works for TextInfos, TreeInterceptors not tested.

Just some brainstorming. I've been thinking about adding an extensionPoints.Action to every DynamicObject which is called findOverlayClassesR

[2019-09-25 13:36] leonardder commented on #9982
@DrSooom: Are you saying that you have the Chinese table loading error on this build? That would be a regression from current alpha snapshots, right?

Note, NVDA Try-18768 is a version in the 2019.3 range, not based on 2019.2.1. For ease of understanding, it would be best to refer to the name of the try build (i.e. try-liblouis3.11withClangOnVS2019 in this case).

[2019-09-25 13:48] lukaszgo1 commented on #9982
@DrSooom in #8106 you've mentioned that you have Baum braille display. Would you be able to test with it? Given the fact that no one except you is able to reproduce it is must be something specific to your two pc's.

[2019-09-25 14:50] DrSooom commented on #9982
I never tested Py3-Alpha builds. But others said that "zh-tw.ctb" loaded correctly. I'm not sure if everybody immediately looked into the Log Viewer after starting NVDA. During a quick test, it seems that this braille table is loaded correctly with NVDA 2019.2.1 Beta 1 again. But this doesn't say anything. As the HUC Braille Tables still raise that error, I just think that the total file size leve

[2019-09-25 15:14] zstanecic commented on #9982
Hi,

I am currently running latest alpha *py3 with taiwanese Braille table

And i don’t see the problem

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, September 25, 2019 4:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors on loading large (Chinese) braille tables with

[2019-09-25 15:16] zstanecic commented on #9982
Note: using esis 24 braille display

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, September 25, 2019 4:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors on loading large (Chinese) braille tables with NVDA 2019.2 Beta-18176, 2019.2 Beta-18345 and 2019.2 RC2 (#9982)

Ar

[2019-09-25 17:31] DrSooom commented on #9982
File name: [usb-cert-baum.zip](https://danielmayr.at/files/temp/usb-cert-baum.zip)
File size: 1.54 MB (1,615,480 Bytes)
SHA-256: 281947b58571f5d371a15415ae6a5afbbc002bf029adfa4fb5b9f6f38cc93e5b

I've temporarily uploaded the BAUM braille display driver (version V7 02/17/2009 2.04.16) onto my webserver, which was released in January 2010 (based on the date of the Installer). Perhaps this driver inf

[2019-09-25 18:24] zstanecic commented on #9982
Win 10

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, September 25, 2019 7:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors on loading large (Chinese) braille tables with NVDA 2019.2 Beta-18176, 2019.2 Beta-18345 and 2019.2 RC2 (#9982)

File name: usb-cert-baum.zip <h

[2019-09-25 19:09] lukaszgo1 commented on #9982
@DrSooom Two more things:
1. Could you please compress, and upload somewhere the entire folder in which portable NVDA is placed?
2. I have a feeling that presence of older NVDA versions on your pcs might have something to do with this problem. Could you disable autostarting of whatever version is installed, reboot your machine, start the portable build either blindly or with Narrator without runni

[2019-09-25 19:37] DrSooom commented on #9982
1. [9982_NVDA_2019.3 Try-18768.7z](https://danielmayr.at/files/temp/9982_NVDA_2019.3 Try-18768.7z) (22.0 MB, temp. available)
2. Do you also mean the logon screen? Or shall I set up a new Win7 VM, which I could do in the upcoming days?

[2019-09-25 19:46] lukaszgo1 commented on #9982
I would start with disabling from both autostart, and logon screen, and if it still would be reproducible then go to the more time consuming process of creating a VM.

[2019-09-25 23:53] audiogamer22 opened #10278 "issues with Youtube and NVDA."
NVDA reads the list of videos under the play/pause section after clicking on a video you search for.
### Steps to reproduce:
Go to youtube.com and search for something, then, press enter on a video and NVDA will start reading out the list of videos below the play/pause section of the site.

### Actual behavior:
NVDA reads out the videos in the list of videos on the site. Pressing control only stop

[2019-09-26 02:23] smythp commented on #3002
Does anyone have any insights into the kmplayer bug introduced after version 3.7 that makes the TTS repeat? I can roll back to an earlier version but then some newer videos won't play.

[2019-09-26 04:28] #10276 closed

[2019-09-26 05:01] leonardder commented on #10278
I've also seen this.

cc @derekriemer

[2019-09-26 05:04] leonardder commented on #10277
Closed the milestone. Note that the python 3 project is still open, I think that's ok.

[2019-09-26 05:04] #10277 closed

[2019-09-26 06:05] school510587 commented on #9982
Hi all,

I'm a zh_TW user with Windows version 6.1.7601 service pack 1 (64-bit). I have tested both 2019.2 and alpha-18759,6cb40529 NVDA versions, and no problem occurred during zh_TW loading.

Also, I am the current maintainer of zh-tw.ctb, but no other Taiwanese user reported similar bug to me. I thus don't know existence of this issue.

[2019-09-26 06:55] JulienCochuyt commented on #10278
The suggestions are also announced when in sleep mode.
I guess they put them in a live region.
PR #9079 would come in handy if https://github.com/nvaccess/nvda/pull/9079#issuecomment-495149844 is taken into account, which would either allow WebAccess to do the trick or be a step towards fixing #7743.

[2019-09-26 08:15] CyrilleB79 commented on #10253
@JulienCochuyt, thanks for your comments that are welcome and valuable.

I agree with you to concentrate mainly on the targetted user experience.
IMO the synth settings ring parameters should not be so many so that the ring remains usable. An add-on has already appeared to configure the list of the parameters in the ring in order to reduce them...

If we choose to integrate language detection in t

[2019-09-26 09:12] JulienCochuyt commented on #10253
This is actually a feature I would much appreciate to see in NVDA core.
I would even step a bit further as to allow one to eg. select which voices or languages are included for a given synth.
I'm an eSpeak user, and often switch languages. It's pretty annoying to have to remember that one is 14 steps apart from another.
VoiceOver on IOS makes for a pretty usable UX in this matter, even if one coul

[2019-09-26 12:52] dingpengyu commented on #7232
hello
What is the current status of the issue?
thank

[2019-09-26 13:09] leonardder commented on #7232
Thanks for poking. Currently pretty much out of my view.

[2019-09-26 13:16] Novalis7747 commented on #7232
Just 1hr ago it took me crazy when jumping with H from one youtube result to the next and trying to find a visited link. I had to listen to the full heading before I hear “visited link”…

From: Leonard de Ruijter <notifications@github.com>
Sent: Donnerstag, 26. September 2019 15:09
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Manual <manual@noreply.githu

[2019-09-26 13:18] dingpengyu commented on #7232
If this issue can be solved, it can improve the browsing efficiency of NVDA.
This is my opinion
thank

[2019-09-26 13:56] DrSooom commented on #9982
EUREKA! I got it!

Now I know why nobody without an Optelec ALVA BC680 was able to reproduce this issue. No, it isn't caused by any braille tables – also not by my HUC Braille Tables. And I guess that it isn't caused by Liblouis too.

The kind how NVDA is started on the logon screen has changed between NVDA 2015.3 and 2015.4. And the ALVA driver has changed between NVDA 2017.4 and 2018.1. On my St

[2019-09-26 14:02] leonardder commented on #9982
This is a very interesting finding. In fact, I don't see how this could
be related to what display you're using. It is more likely that this is
related to how multi threading works and how NVDA communicates wit
liblouis. Aauto detection moved more logic to the background thread,
possibly causing issues with synchronisation or multiple threads
throwing requests at liblouis at the same time.

It wou

[2019-09-26 14:52] DrSooom commented on #9982
Here are [five logfiles](https://github.com/nvaccess/nvda/files/3658404/9982_p13-p17.zip). "p13" is from Try-18768 and the other four from [Alpha-18783](https://ci.appveyor.com/api/buildjobs/i839k84xk1gk72kl/artifacts/output/nvda_snapshot_alpha-18783,af65e692.exe). The very last line in "p13" is extremely strange, as there aren't any absolute paths in the HUC Braille Tables. As this loaded process

[2019-09-27 05:47] harshvardhan3946 opened #10285 "[NVDA + Chrome] ARIA listitem role is not read"
### Steps to reproduce:
Place below html on page and try reading it with nvda
<section role="list">
  <div role="listitem">List item 1</div>
  <div role="listitem">List item 2</div>
  <div role="listitem">List item 3</div>
</section>

Above code snippet is taken from
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Listitem_role
### Actual behavior:
NVDA screen reader is readi

[2019-09-27 05:52] harshvardhan3946 commented on #10285
Please use pen https://codepen.io/harshvardhan3946/pen/dybLeKX

[2019-09-27 05:58] leonardder commented on #9982
Yes, pretty sure it is as described in https://github.com/nvaccess/nvda/issues/9982#issuecomment-535516227

I will look into the code and will provide a try build shortly.

[2019-09-27 06:13] leonardder commented on #10264
Closing as per above comment.

[2019-09-27 06:13] #10264 closed

[2019-09-27 06:25] sandeepnmenon commented on #10285
+1
Facing similar issue only in NVDA

[2019-09-27 07:24] navyaGoberu423 opened #10287 "[Preview-MAS Violation]: During scan mode focus is moving to hidden element before price value."
User Experience:
User who rely on screen reader if focus is moving to any hidden element user will confuse.

Test Environment:
OS: Windows 10
Browser: IE
URL: https://microsoftignite-staging-beta.azurewebsites.net/en-us/ignite/pricing

Repro Steps:
Step 1: Open the above URL using any browser.
Step 2: Navigate to section “Pricing_Blade_1” and press down key to select price information on this sect

[2019-09-27 08:23] CyrilleB79 opened #10288 "NVDA saves config even if Save configuration on exit is not checked"
### Steps to reproduce:

Preliminary configuration: insure that NVDA does not save config when exiting:

* In general ssettings, uncheck "Save configuration on exit" check box and validate
* Save this new configuration: NVDA -> Save configuration

Steps to reproduce the issue:

* With NVDA+P, change your symbol level. E.g. if you usually are working with symbol level "som", press two times to get

[2019-09-27 09:05] leonardder commented on #9982
I'm pretty sure [try build try-initialDisplayFix](https://ci.appveyor.com/api/buildjobs/w66w8033f0mf3qcj/artifacts/output%2Fnvda_snapshot_try-initialDisplayFix-18797%2Ccf53fa2e.exe) will fix the issues you're having.

[2019-09-27 09:21] JulienCochuyt commented on #10288
The described behavior is indeed what is implemented for quite a long time now.
The configuration is saved altogether as soon as the user confirms restarting upon language change, which allows NVDA to take this new setting into account.

Alternatives might be:
 - To explicitly warn the user that the configuration will indeed be saved.
 - To detect the configuration is dirty (edited but not yet sav

[2019-09-27 09:22] CyrilleB79 opened #10289 "NVDA does not take into account UI language change request"
### Steps to reproduce:

Preliminary configuration: insure that NVDA does not save config when exiting:

* In general ssettings, uncheck "Save configuration on exit" check box and validate
* Save this new configuration: NVDA -> Save configuration

Steps to reproduce the issue:

* Go to NVDA settings, General panel (NVDA+Ctrl+G)
* Change the language, e.g. if your UI is usually in English, select F

[2019-09-27 13:22] JulienCochuyt commented on #9688
@XLTechie, I agree this is unexpected behavior for new users, already had this pointed out during trainings.
Also, one would expect all gestures to be reset to factory defaults when configuration is.
Or maybe after configuration factory reset ask the user if it wishes to also reset gestures, or else add a button to reset gestures in the gestures dialog…

@feerrenrut, what do you think?

@DrSooom,

[2019-09-27 15:17] CyrilleB79 commented on #9688
IMO the current behavior is the most expected one and is what I would expect.
Indeed I have disabled Saved on exit in order not to save temporary modifications such as table announcement, language change, voice speed, etc. These are parameters that one may want to changed on the fly for temporary need. And these parameters can often be changed by shortcut, without opening the settings dialog.

On

[2019-09-27 15:21] CyrilleB79 commented on #10289
I just realize that this behavior is well documented in user guide. Anyway the behavior seems strange if you did not read this part of the user guide.

[2019-09-27 16:19] DrSooom commented on #9982
Here are [ten new logfiles](https://github.com/nvaccess/nvda/files/3663631/9982_p18-p27.zip). I'm confused. I'm not sure if this issue is really completely solved by Try-18797, but the braille tables seems to be fully loaded on NVDA startup – excluding the "p19" log, which I couldn't reproduce again during testing. Thus "p19" only occurred once. I tested all the same braille tables, which I tested

[2019-09-27 16:29] JulienCochuyt commented on #9688
@CyrilleB79, I think your way of presenting it perfectly makes sense.
I'm currently prototyping two additions to the gestures dialog:
 - a checkbox beside the filter to show only what was modified by the user (not yet fully convinced if useful, needs testing)
 - a button to restore factory defaults

[2019-09-27 16:38] JulienCochuyt commented on #10288
@CyrilleB79, this issue and #10289 really are two sides of the same coin.
I agree the current behavior is potentially questionable, but I guess we'll be more efficient in concentrating the discussion into a single thread.
As I feel the present issue deals with the least expected side, I propose renaming this one something like "NVDA forcibly saves configuration when restarting on language change"

[2019-09-27 19:15] elliott94 opened #10291 "NVDA/Firefox: Impossible to read certain Text Fields by either reviewing Current Line or via Object Navigation"
### Steps to reproduce:

Tested with NVDA 2019.2 and Firefox 69.0.1 - observed on both Windows 7 and 10 X64.

1. Navigate to the Google homepage

2. Navigate to the first form field on the page - this should be the "Search" box

3. Attempt to spell the name of this form field - both by using the "Spell Current Line" gesture and with Object Navigation

### Actual behavior:

You'll notice that whils

[2019-09-27 19:46] CyrilleB79 commented on #10289
Closing this issue in favor of #10288. As well explained by @JulienCochuyt #10288, these are two aspects of the same issue.

[2019-09-27 19:46] #10289 closed

[2019-09-27 21:43] JulienCochuyt commented on #10291
I cannot reproduce the described failure of "spell current navigator object" with Firefox 69.0.1 on Windows 10 (1903).
What language is your google homepage appearing in?
Mine is in French.

[2019-09-27 23:38] burakyuksek commented on #10112
Hello,
So I am in a time where those crashes happen prittey often. I managed to capture a crash prittey close to the last restart of NVDA using debug logging mode. After I quit NVDA, I launched narrator and got the file %tempt%/nvda.log. I am uploading the file here in hopes that it's the correct one.
[nvda.log](https://github.com/nvaccess/nvda/files/3664830/nvda.log)

[2019-09-28 02:45] derekriemer opened #10292 "Onecore: sayall broken"
### Steps to reproduce:

1. Switch to onecore.
2. Google world War I. Click its Wikipedia article.
3. Read with sayall.

### Actual behavior:

After several sentences, onecore stops the sayall.

### Expected behavior:

Sayall continues indefinitely.

### System configuration
#### NVDA installed/portable/running from source:
n/a/

#### NVDA version:
Version: alpha-18783,af65e692

#### Windows versi

[2019-09-28 02:46] derekriemer commented on #10292
this needs to be investigated before 19.3. @leonardder @feerrenrut

[2019-09-28 09:29] CyrilleB79 commented on #10288
@JulienCochuyt, thanks.
I have closed #10289 to have all discussion in this ticket as recommended by you; that will indeed be easier to track.
So as explained in #10289, let's also take into account that changing language and clicking "Restart later" does not make so much sense unless you save manually your configuration afterwards.

[2019-09-28 11:11] JulienCochuyt commented on #10288
I guess warning the user, when it chooses to restart later, that the configuration shall be saved for this change to take effect might be sufficient.

[2019-09-28 11:45] Brian1Gaff commented on #10292
Is that browser related?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-28 13:28] TechHorseG opened #10294 "Could do these in Narrator, how to do them in NVDA?"
Win 10 / NVDA portable 2019.2 / Laptop layout

Hello. Moving on from Narrator and was wondering if someone could help me replicate the following functionality in NVDA?

1. In Firefox with Narrator I could just point the mouse at a paragraph and it would read out the whole paragraph. In NVDA it just reads a line at a time.How can I replicate the Narrator behaviour? This is the biggest bugbear as in

[2019-09-28 13:52] TechHorseG opened #10295 "Two Browse Mode queries"
Win 10 / NVDA portable 2019.2 / Laptop layout / Review cursor follows mouse / not trapping non-Brows keys

Hello. I am getting to grips with Browse Mode in Firefox and have two  issues.

1. when BM is enabled, this seems to disable the ability to copy text via the ctrl+C command? I keep forgetting and have to go back and right-click then select "copy". Is there any way to restore the ctrl+C abilit

[2019-09-28 14:44] francipvb commented on #9896
Hello,

Can you elaborate what machine you're using?

I suspect that UIA problems are caused mainly by timeouts...

Thanks,

[2019-09-28 14:51] francipvb commented on #8336
Hello,

@josephsl wrote:

I had problems trying to code a stable solution with this approach, because when you open the Intellisense popup an help message is spoken. The "ItemStatus" event is not fired consistently across implementations. I decided that the best approach is to stick with the text block next to the items list, it fires a "liveRegionChange" event when you select an item and when it

[2019-09-28 15:08] JulienCochuyt commented on #10295
Currently, you have either to:
- First press `NVDA+F2` to let next key pass through, then hit `control+C`
- Use `control+insert` instead of `control+C` to copy, but you'd probably have to maintain `control` pressed while pressing `insert` twice quickly if you use it as NVDA key.

Issue #9833 was raised to simplify this behavior: Pending PR #9834.

Not that "quick":
- First move the navigator objec

[2019-09-28 15:13] CyrilleB79 commented on #10288
Or maybe warn the user when he leaves NVDA if the language in the saved config (on disk) is not the same as the language currently selected in current config.

[2019-09-28 15:14] JulienCochuyt commented on #10294
1. What is you text unit setting in the mouse category of the preferences? Does setting it to "paragraph" behaves as you'd expect?

2. You can read a whole dialog box with  `NVDA+B`

[2019-09-28 15:26] JulienCochuyt commented on #10288
Bigger impact, but doable. I'm not fully convinced it is worth the effort, though.

[2019-09-28 15:42] TechHorseG commented on #10294
Thanks for response.

1. It is set to paragraph. I have also tried other res settings just in case. And in Edge it does read out whole paragraphs. Narrator reads out paragraphs in both.

2. Not FOR all boxes unfortunately. For example the WARNING msg boxes of FreeFileSync.

[2019-09-28 16:23] Brian1Gaff commented on #10295
I think that most of us do not use the mouse so this aspect has never been a
top priority, also as most of the developers are blind themselves its hard
to test it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-28 16:53] Adriani90 commented on #10291
I think I understand this issue differently. @elliott94 could you please update the str accordingly? As I understand, you want to spell out the label of the search field on google letter by letter.
1. Go to google
2. Press e to land on search field
3. When you hear the label, press left or right arrow to spell it letter by letter
4. Press nvda+l to spell the label letter by letter
5. Change the re

[2019-09-28 19:09] snufas opened #10296 "Starting NVDA after a Java application requires a restart of the app for NVDA to read the interface"
NVDA problem with java applications
hello dear fellow programmers and users of NVDA, I am noticing a problem for a while now regarding NVDA   usability with Java applications.  Most of us probably know that java access bridge  has to be enabled for it to work and it does, however there is a problem with accessing the interface when NVDA is restarted and application is still on. The problem is that

[2019-09-28 23:44] AlexandrKozlovskiy opened #10297 "Error during the building of nvda in scons"
When i try build nvda with scons i get an error of py2exe in pyython three

[2019-09-28 23:45] josephsl commented on #10297
Hi, it looks like the sofa is here but the cushions are not i.e. what errors are you getting, which Visual Studio version you’ve got, and did you get all dependencies? Thanks.

From: AlexandrKozlovskiy <notifications@github.com>
Sent: Saturday, September 28, 2019 4:44 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Error during

[2019-09-28 23:46] AlexandrKozlovskiy commented on #10297
Traceback (most recent call last):
  File "setup.py", line 253, in <module>
    + getRecursiveDataFiles('documentation', '../user_docs', excludes=('*.t2t', '*.t2tconf', '*/developerGuide.*'))
  File "C:\Users\ksash\AppData\Local\Programs\Python\Python37-32\lib\site-packages\setuptools\__init__.py", line 145, in setup
    return distutils.core.setup(**attrs)
  File "C:\Users\ksash\AppData\Local\Pro

[2019-09-28 23:49] josephsl commented on #10297
CC @LeonardDer

From: AlexandrKozlovskiy <notifications@github.com>
Sent: Saturday, September 28, 2019 4:46 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Error during the building of nvda in scons (#10297)

Traceback (most recent call last):
File "setup.py", line 253, in
+ getRecursiveDat

[2019-09-29 08:43] Brian1Gaff commented on #10296
This is just a random thought, but it seems Jaws still uses a hook into
windows display code on windows start up. Could it be that they are using
this instead of the access bridge?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-29 20:11] kvark128 opened #10299 "Incorrect restart of NVDA after installing the addons"
### Steps to reproduce:
1. Choose the nvda-addon file in your file Manager and press Enter.
2. In the dialog that appears, agree to install the addon, then agree to restart NVDA.

### Actual behavior:
Approximately with a probability of 10%, unloading NVDA will be incorrect. No exiting sound and relevant entries in NVDA log.
After loading NVDA received the following nvda-old.log:
INFO - __main__ (

[2019-09-29 20:57] lukaszgo1 opened #10300 "NVDA is not working when UIA disabled in the configuration"
### Steps to reproduce:
1. Start NVDA.
2. Open Python console then type:
[code]

3. Restart NVDA.
### Actual behavior:
NVDA can no longer be used. Error sound is played almost constantly.
Each error entry in the log ends in the following:
  File "NVDAObjects\UIA\__init__.py", line 739, in <module>
    class UIA(Window):
  File "NVDAObjects\UIA\__init__.py", line 1492, in UIA
    def event_UIA_noti

[2019-09-29 21:00] josephsl commented on #10300
Hi, that’s because the rest of UIA handler code (stored in a private module) isn’t loaded. CC @LeonardDer, as we have worked on this particular one a few months back.

From: Łukasz Golonka <notifications@github.com>
Sent: Sunday, September 29, 2019 1:58 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA is not working when UI

[2019-09-29 21:46] kvark128 commented on #10299
Additional experiments showed that the problem only occurs on installation of a previously installed addon. For example, when installing a newer version. If the addon was previously not installed, then restart NVDA is always correct.

[2019-09-30 04:16] JulienCochuyt commented on #10299
@kvark128

Could you please elaborate? Is it frozen? Does it shutdown but does not restart? Doesn't it restart at all? Does it restart but without sound notice?

Also, could you please try to reproduce with log level set to "debug" and add-ons disabled?

For others attempting to reproduce: Windows 7 32 bits might be of importance here.

[2019-09-30 04:56] Qchristensen opened #10301 "Input gesture name for NVDA+b command is not obvious"
### Is your feature request related to a problem? Please describe.

A user asked what the command was called that was invoked with NVDA+b as they could not find it in the Input Gestures dialog.

In the User guide, it is listed as:
Name: Read active window
Description: reads all the controls in the currently active window (useful for dialogs)

In the Input Gestures dialog, it is "Speaks the current

[2019-09-30 04:57] leonardder commented on #10300
@lukaszgo1 Did you have a particular reason to disable UIA?

Instead of trying to make this option work again, I wonder whether we should eliminate this config parameter altogether.

[2019-09-30 05:00] leonardder commented on #10296
I always thought this was a limitation in Java, did not know that JAWS doesn't have this issue. I agree that it is slightly annoying to require restarting the app.

I will try to have a short look into this in the near future.

[2019-09-30 05:01] Qchristensen opened #10302 "Add ability to search the Input gesture dialog by keystroke"
### Is your feature request related to a problem? Please describe.

If a user wants to change a gesture because of a conflict, they might know the gesture but not the command itself (or they might be aware of the command, but not what it is called in the dialog, as in #10301

### Describe the solution you'd like

The ability to enter either the command name OR the keystroke in the Input gestures d

[2019-09-30 05:02] leonardder commented on #10297
I'd need a full log of the py2exe part of the log, not just the traceback.

It looks like py2exe is collecting something to package on your system which doesn't exist or isn't required on other systems.

Could you also provide information on your version of Windows, and whether it is 32-bit or 64-bit?

[2019-09-30 05:34] kvark128 commented on #10299
After consent to restart and pressing Yes button, NVDA returns to window with the addon file and even have time to read his name.
Then plays start sound of NVDA and starts a new copy of the program. Process of the previous copy disappears from the process list.
No exiting sound and the log file ends unexpectedly. It seems that NVDA for some reason not quits out of main loop.
[nvda-old.log](https:/

[2019-09-30 05:39] kvark128 commented on #10299
In the latest alpha builds with Python 3 the exact same problem.

[2019-09-30 05:52] JulienCochuyt commented on #10299
Did you experience the same issue with earlier versions of NVDA?

It seems indeed the log did not flush to disk, we really might need some external log connector one day…

Just to be sure, could you please reproduce with add-ons disabled?

By the way, I see in the log that the sole "Mozilla" add-on you are using states "last tested NVDA version: 2019.3"
If this is an add-on in development stage, f

[2019-09-30 06:16] kvark128 commented on #10299
The problem is reproducible only when the installation of an already installed addon. So i left only one addon, all rest was removed. In NVDA 2019.1 the problem is also reproduced.

[2019-09-30 06:22] JulienCochuyt commented on #10301
This user could be, as #10302 is not (yet) implemented, advised to use the Input Help to obtain the name of the command bound to any key.

Besides, I agree the naming of this command might be confusing.

[2019-09-30 06:34] JulienCochuyt commented on #10299
Do you mean you do not reproduce when this add-on is already installed but disabled?
This would lead to questioning whether this very add-on crashes NVDA when it gets overridden while running…

[2019-09-30 06:48] kvark128 commented on #10299
no, the problem is reproduced even if the addon is disabled. Main thing that it was installed. If the addon is first installed, reboot always occurs correctly.

[2019-09-30 06:53] JulienCochuyt commented on #10299
Is this statement also verified for any other add-on than this "Mozilla" one?

[2019-09-30 06:58] kvark128 commented on #10299
Yes, this happens with any addon. Mozilla in the log it's just as example.

[2019-09-30 07:02] Qchristensen commented on #10301
Good point - I did mention that to the user (as well as the exact wording to search for).

Just for anyone else - the wording of a command in the input gesture dialog is the same as that used when you press a keystroke which invokes that command with Input help on.

[2019-09-30 07:36] lukaszgo1 commented on #10300
In this particular instance it was just for testing. There are situations however when it is useful. One example of such was in #5337 when @michaelDCurran suggested that the crash is UIA related, so after disabling it I was able to tell that this assumption was incorrect.

[2019-09-30 08:19] ssthegrt opened #10303 "NVDA+ Chrome: Column with Links of OfficeFabric Detailslist component are not accessible with Keyboard."
### Steps to reproduce:
1)Navigate to https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/variablerowheights in Google Chrome
2) Start NVDA as screen reader
3) Try to access each row and the links given using keyboard

### Actual behavior:
1) Columns with more than one link are not accessible using keyboard when NVDA is on.
It starts reading out each single character before movi

[2019-09-30 09:06] Brian1Gaff commented on #10299
Except of course the times when nvda will not start at all due to it not
being able to open the log file for writing due to something slow in windows
which locks the log file even when the old log is named.
 This seems to be far less likely in python 3 alphas however.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian

[2019-09-30 09:09] JulienCochuyt commented on #10303
I cannot locate in the big table found on that page any cell with more than one link.
Link are focused fine using table navigation (`control+alt+arrows`, nevertheless, tab navigation seems intercepted or broken in the table.

By the way, while the animated screenshot is interesting, please keep in mind many of us are visually impaired and thus would require the speech output to be also included as

[2019-09-30 09:13] Brian1Gaff commented on #10299
Does nvda assume a 64 bit system when it handles add ons. I've certainly not
seen this very specific problem here on windows 7 which is 64 bit.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2019-09-30 09:18] Brian1Gaff commented on #10301
This has come up before. I find this feature very illuminating. It seems to
be able to at least indicate text on the screen and read it in situations
where none of the navigation modes seem to be able to get at it. This is a
pity because some very non standard applications operate some unmarked
options just by clicking on text which is not apparently active. The latest
Klite codec pack installer i

[2019-09-30 09:23] JulienCochuyt commented on #10299
No, there is not such consideration in my understanding, but I've been reported quite a few instabilities and oddities specific to Windows 7 32 bits since 2018.3 (migration to wxPython 4).
It appears wxPython 4 32 and 64 bits react differently in some faulty situations.
Eg. add-ons failing to properly destroy their GUI elements did cause an error in the log on 64 bits systems but block NVDA from q

[2019-09-30 11:36] CyrilleB79 commented on #10294
For point 3, it is not (yet ?) supported natively in NVDA.
However an add-on currently in development may fit your needs.

Download link for last release:
https://davidacm.github.io/getlatest/gh/davidacm/EnhancedPhoneticReading

Github repo:
https://github.com/davidacm/EnhancedPhoneticReading

[2019-09-30 13:50] snufas commented on #10296
I think it is important, just get rid of this bug for ever, and that
is it, java is sorted as much as it can be.

On 9/30/19, Leonard de Ruijter <notifications@github.com> wrote:

[2019-09-30 13:55] JulienCochuyt commented on #10295
@Brian1Gaff

Historically true, but there have been numerous fixes and enhancements lately to tend towards a better support for low vision users.
Also, a good handling of text units often (yet not always) also impacts keyboard-driven content review.

You are welcome to count me among the volunteer developers and testers.
I'm using magnification (mainly for contrast) + speech + braille.

[2019-09-30 17:48] codeofdusk opened #10305 "Add support for Windows Terminal"
### Is your feature request related to a problem? Please describe.
The new Windows Terminal is inaccessible.

### Describe the solution you'd like
Once UIA is fully implemented upstream, the `NVDAObjects.UIA.WinConsoleUIA` class should provide support.

### Describe alternatives you've considered
None.

### Additional context

Blocked by microsoft/terminal#2447

[2019-10-01 04:37] JulienCochuyt commented on #10294
(Did some issue tracker mining)
Point 1 is indeed reported as broken by issue #2940.

[2019-10-01 04:42] JulienCochuyt commented on #10302
@Qchristensen, I'm currently polishing a prototype fix for both #3605 and #3848.
I'll try to implement your requested feature in it and see how it fits.

[2019-10-01 06:19] leonardder commented on #10305
Mm, note that `NVDAObjects.UIA.WinConsoleUIA` has some Windows Console specific workarounds in it. The Microsoft Console will most likely have a different UIA implementation that is hopefully more close to the default implementation in our UIATextInfo.

[2019-10-01 06:35] JulienCochuyt commented on #10302
I see a few alternative approaches here:

# 1. Make the search field search among gesture labels too (as originally requested)
This would produce the most numerous results, even a huge number of them for the first typed characters.
The current filtering has some performance issues which would be worsen.
I'm afraid it could be tedious to write a gesture label just right for most beginners.

# 2. Sw

[2019-10-01 07:47] FelixGruetzmacher commented on #8389
I caught one, as follows:
DEBUGWARNING - watchdog._watcher (09:41:06.842):
Trying to recover from freeze, core stack:
  File "nvda.pyw", line 231, in <module>
  File "core.pyo", line 519, in main
  File "wx\core.pyo", line 2134, in MainLoop
  File "gui\__init__.pyo", line 1003, in Notify
  File "core.pyo", line 489, in run
  File "IAccessibleHandler.pyo", line 887, in pumpAll
  File "IAccessibleHa

[2019-10-01 07:51] FelixGruetzmacher commented on #8389
Sorry for the double-post, but this one was created when launching Outlook. Similar thing going on?
DEBUGWARNING - watchdog._watcher (09:47:45.108):
Trying to recover from freeze, core stack:
  File "nvda.pyw", line 231, in <module>
  File "core.pyo", line 519, in main
  File "wx\core.pyo", line 2134, in MainLoop
  File "gui\__init__.pyo", line 1003, in Notify
  File "core.pyo", line 489, in run

[2019-10-01 07:56] leonardder commented on #8389
I believe @feerrenrut has been working on improvements to the windows event handling, particularly by moving some code to C++. Hopefully that will also help in this case.

[2019-10-01 09:03] elliott94 commented on #10291
This is exactly what I'm trying to do. I can't figure out if this is deliberate - is there any way to change how these fields are managed by NVDA?

[2019-10-01 11:31] AccessibilityTestingTeam-TCS opened #10309 "NVDA+ ChromeA11y_ConnectedFieldService-IoTAlerts_IoTAlertsGrid _Screenreader:Narrator is announcing incorrect order list for the Radio button “and, or” in description filter tab."
"Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier."

Environment Details:​
Application Name: Connected Field Service- Solution Deployment App
User Name – OCETestTenant@OCERegion.onmicrosoft.com
Operating System: Win10
Edge: 44.17763.1.10

Repro Steps:​
1. Launch the URL https://monti1tiecrmlivesg619org0.crm2.crmlivetie.com
2. Sel

[2019-10-01 11:41] AccessibilityTestingTeam-TCS opened #10310 "NVDA+ ChromeA11y_ConnectedFieldService-IoTAlerts_IoTAlertsGeneralTab_AI4D:Name property does not exist for the multilne edit box under alert data."
Environment Details:​
Application Name: Connected Field Service- Solution Deployment App
User Name – OCETestTenant@OCERegion.onmicrosoft.com
Operating System: Win10​
Edge:44.17763.1.0

Repro Steps:​
1. Launch the URL https://monti1tiecrmlivesg619org0.crm2.crmlivetie.com
2.Navigate to site map and Select IoT Alerts.
3.Navigate to site map and Select IoT Alerts.
4.Navigate to any record from the gri

[2019-10-01 20:12] DrSooom commented on #9982
@leonardder: Shall I test Try-18797 right now on a USB flash drive too or are you going to provide a new Try-build?

[2019-10-01 22:20] XLTechie commented on #10288
I prefer the option that only saves the portion of config related to language.

In sudocode:

Before restart, as last action:
If save on exit is on:
update language.
Save configuration.
Restart.
Else if save on exit is off:
Load configuration from disk.
Update language.
Save configuration.
Restart.

[2019-10-02 00:49] Qchristensen commented on #10302
Good points, the filter is already quite slow at updating the treeview, so I would be wary of introducing anything which made it slower.  I also was thinking primarily of fairly "simple" to articulate commands like "NVDA+b" which can really only be written a few ways - but what of commands which use Braille display rockers, or touch gestures.  Perhaps a button to search by gesture, which, when inv

[2019-10-02 04:17] zahra21 commented on #10300
i use windows xp and since windows xp does not support UIA, i dont have slowness using nvda.
i had windows seven for some months for testing.
nvda responded slow even using my computer and file explorer!
i wish that i could find a solution that i disable UIA in windows seven and just use msaa and iaccessible 2 in windows seven as i do use in windows xp.

[2019-10-02 04:50] JulienCochuyt commented on #10302
@Qchristensen Where do you think we should place this button and how do you think we should label it?
For the label, I'd propose "Search a gesture", followed when pressed by the usual prompt.
Regarding its position, it would visually fit nicely left to the current filter field, but I guess for blind use it would better fit one tab index before it.
What do you think?

Regarding the current filterin

[2019-10-02 05:06] JulienCochuyt commented on #10288
I agree this would bring IMHO the most expected behavior when agreeing to "Restart now" and "Save configuration on exit" is off.

What about when choosing to "Restart later"?
I propose that when "Save configuration on exit" is off, the current prompt that states "NVDA must be restarted for the new language to take effect." be complemented by "If you choose to restart later, mind saving the configu

[2019-10-02 06:20] XLTechie commented on #10302
On Tue, 1 Oct 2019, Julien Cochuyt wrote:

May I suggest "Search by gesture" would be more clear about what is going to
happen?

[2019-10-02 06:30] JulienCochuyt commented on #10302
I was afraid that if the button was too close from the filter field, this phrasing would imply that the gesture should be expressed there.
Anyway, @XLTechie, what do you think regarding where to place the button?

[2019-10-02 06:36] CyrilleB79 commented on #10288
I agree also with this.

[2019-10-02 06:40] Qchristensen commented on #10302
I agree with the wording "Search by gesture", or possibly "Gesture search" which is slightly shorter.  I was going to suggest if you put it before the filter field / label, it logically separates it slightly more than if we put it after, where, as indicated, it could easily be confused that you need to type the gesture into the field.

[2019-10-02 07:05] JulienCochuyt commented on #10302
@Qchristensen alright, less aesthetic, but probably more ergonomic.
If we all agree here I'll try to integrate this feature in my prototype fix for #3605 and #3848.

[2019-10-02 08:17] JulienCochuyt commented on #10288
@CyrilleB79, @XLTechie: When prompted to restart, if saveConfigurationOnExit is off, the user might still want to save the whole configuration.
Thus, I propose to add a third button (only if saveConfigurationOnExit is off) and the following alternative disclaimer:
- Restart now: Discard other changes made to the configuration and restart NVDA with the new language setting
- Save configuration and

[2019-10-02 09:15] nvdaes opened #10311 "Unable to update NVDA to 2019.2.1"
Please thoroughly read NVDA's wiki article on how to fill in this template, including how to provide the required files.
Issues may be closed if the required information is not present.
https://github.com/nvaccess/nvda/wiki/Github-issue-template-explanation-and-examples
-->

### Steps to reproduce:
1. Select search for updates or answer yes when NVDA offers 2019.2.1 update.
2. Try to download upda

[2019-10-02 09:47] Brian1Gaff commented on #10311
I can confirm this is the same here on my portable and installed version of
the latest beta.
 It looks like the server is saying something weird, but then I'd have
thought such an error might be handled by the code in  nvda?

INFO - __main__ (10:39:47.334):
Starting NVDA
INFO - core.main (10:39:47.536):
Config dir: C:\nvda full release\userConfig
INFO - config.ConfigManager._loadConfig (10:39:47.5

[2019-10-02 09:52] feerrenrut commented on #10311
Thanks for the report, we'll look into this with urgency.

[2019-10-02 10:16] leonardder commented on #9982
Yes, please. I don't have any starting points to change anything in the current try build.

[2019-10-02 10:38] Andfal opened #10312 "Audio ducking spans too long after last speech output"
Audio ducking spans too long after last speech output by NVDA and I want it to work just like for a windows narrator.
Examples of how espeak works with add-ons disabled and windows narrator are in the attached file.

[Espeak and narrator.zip](https://github.com/nvaccess/nvda/files/3680673/Espeak.and.narrator.zip)

[2019-10-02 11:56] leonardder commented on #8508
I found an issue that might be related.

Code snippet: `<div role="search" aria-label="This is a search landmark">test</div>`

Control field for the landmark: `FieldCommand controlStart with {'runtimeID': (42, 329956, 4, 10), '_startOfNode': False, '_endOfNode': False, 'role': 86, 'states': set(), 'nameIsContent': False, 'name': 'This is a search landmark', 'description': '', 'level': None, 'embed

[2019-10-02 12:51] #9971 closed

[2019-10-02 13:01] JulienCochuyt commented on #10288
Also, note that the current message has already been recently updated for 2019.1 as of #6416

[2019-10-02 13:16] JulienCochuyt commented on #10311
Either this has already been fixed on the update server side, or the updateInfo sent to 2019.2 stable users is not the same: Update works fine here from 2019.2 stable.

[2019-10-02 13:24] JulienCochuyt commented on #10312
Just for clarity: I guess you are referring to audio "ducking", not "muting".
If so, this issue might benefit from being re-titled: "Audio ducking spans too long after last speech output" or something equivalent.

Also, please note filling out the issue template helps us a lot for triage, even if it might seem uselessly long at times from a end user perspective.

[2019-10-02 13:27] nvdaes commented on #10311
JulienCochuyt commented 10 minutes ago

For me the issue is not fixed at this moment.

[2019-10-02 14:06] michaelDCurran commented on #10311
This is only affecting beta users.  I'm looking into this now.

[2019-10-02 14:45] michaelDCurran commented on #10311
Update server now provides the missing keys (apiVersion and apiCompatTo) when redirecting updates to 2019.2.1 if older than 2019.1, and it now correctly parses beta version strings, which were previously being treated as being older than 2019.1.
Testing shows that betas can now upgrade to 2019.2.1.
Please let me know if this fixes the issue for you.

[2019-10-02 15:03] nvdaes commented on #10311
michaelDCurran commented 17 minutes ago

This fixes the issue for me. Thanks! I think we can close the issue. I will do now.

[2019-10-02 15:03] #10311 closed

[2019-10-02 15:26] Brian1Gaff commented on #10311
Its worked on the RC, but i have one beta that says there are no updates.
NVDA version beta-18478,0887269f
INFO - core.main (16:20:00.111):
Using Windows version 6.1.7601 service pack 1 workstation
INFO - core.main (16:20:00.111):
Using Python version 2.7.16 (v2.7.16:413a49145e, Mar  4 2019, 01:30:55) [MSC
v.1500 32 bit (Intel)]
INFO - core.main (16:20:00.111):
Using comtypes version 1.1.7
INFO -

[2019-10-02 17:24] JulienCochuyt commented on #10312
@Andfal, have you found a workaround / changed your mind / closed unintentionally?

[2019-10-02 18:03] Andfal commented on #10312
No.
I know English too little to operate this site.
You can delete my account and my problems.
And if you want, you can continue my problem because you have
understood what I mean.
Best regards.

2019-10-02 19:24 GMT+02:00, Julien Cochuyt <notifications@github.com>:

[2019-10-02 18:18] DrSooom commented on #9982
Done. NVDA Try-18797 Portable works exactly the same on a USB 3.0 flash drive (connected via a USB 3.0 and a 2.0 port) like on an internal SSD.

NVDA 2019.2.1 still has this issue if the HUC Braille Tables are used. But it seems that "zh-tw.ctb" is completely loaded on startup again – I got no errors in the logfiles when using the auto-detection feature. Otherwise: Not using the braille display au

[2019-10-02 18:34] DrSooom commented on #9973
I recently updated the issue title due to [this](https://github.com/nvaccess/nvda/issues/9982#issuecomment-535513789) and [this comment on issue #9982](https://github.com/nvaccess/nvda/issues/9982#issuecomment-537617305).

[2019-10-02 19:01] XLTechie commented on #10302
Julien Cochuyt wrote:

Hmm, I can see that problem.

If it is a button rather than a field, and I don't think it can be a field, I
think the confusion problem will be amplified if it is after the Filter By
field. That only leaves before it.

[2019-10-03 01:59] dingpengyu opened #10314 "readme.md: Redirect the http link referenced by most readme files to https"
### Steps to reproduce:
open NVDA [code repository](https://github.com/nvaccess/nvda)
Case letter H browses readme title
### Actual behavior:
Most of the links introduced by the current NVDA readme.md are still http
### Expected behavior:
Try to redirect http to https
### System configuration
#### NVDA installed/portable/running from source:
install version
#### NVDA version:
alpha-18857
#### Wind

[2019-10-03 01:59] TylerK93 commented on #10097
I can't reproduce this, following the steps to reproduce. For me, running Windows 10 1903 (build 18362.356), NVDA 2019.2.1 results in a noticeable change in the speech rate with Windows OneCore set to 100% with and without rate boost enabled.

[2019-10-03 04:58] leonardder commented on #10296
Quick investigation reveals that the `isJavaWindow` function on the access bridge DLL returns False on the window of the application, even though it is a Java window. This is pretty strange.

[2019-10-03 05:08] leonardder commented on #10296
One possibility would be changing `JABHandler.isJavaWindow` to return True when the access bridge is available and the window class is `SunAwtFrame`. I think in these cases, even though we may yield the JABWindow class in possibly faulty cases, `kwargsFromSuper` should still report False.

@michaelDCurran: May I have your onion here before filing a pr with the suggested change?

[2019-10-03 05:11] leonardder commented on #6060
I currently have neither time nor interest to work on #7784 any time soon.

[2019-10-03 05:16] leonardder commented on #8518
This issue has been abandoned for some time now. Honestly, the more I think about this, the more I believe that Sentence Nav should stay as an add-on.

[2019-10-03 05:19] leonardder commented on #4150
If I"m correct, this requires a change both in the MSHTML virtual buffer and on the MSHTML object level.

While I know that IE is still used in some corporate environments, IE is considered legacy by Microsoft. Given this is an issue that requires a lot of effort to implement, I'm tempted to close this as a wont fix. We can always reopen and remove the label if someone provides a pr.

[2019-10-03 05:24] leonardder commented on #3281
Given we haven't received any reply from the initial author on @Adriani90's request and Internet Explorer specific bugs have quite low priority, I"m going to close this for now. We can always reopen if needed.

[2019-10-03 05:24] #3281 closed

[2019-10-03 06:28] andrew-l-d commented on #8518
I fundamentally disagree that one should have to get an addon to read by sentence.  All other Windows-based screen readers I have used include this facility.  As I mentioned previously, reading by sentence is (or should be) a basic reading mode.  The discussion here became bogged down with debate about the best keystroke when the real issue is whether NVDA should provide people with the ability to

[2019-10-03 11:17] feerrenrut commented on #10013
I don't release dates belong in the changes file.

From the [comment from @elliott94](https://github.com/nvaccess/nvda/issues/10013#issuecomment-518199586)

I think enough granularity can be achieved by the current version string. It already tells you the year, and which release within that year. This is enough to order the releases, and have an approximate idea of when they happened. For more acc

[2019-10-03 11:17] #10013 closed

[2019-10-03 11:20] feerrenrut commented on #8884
Links to all (well, at least 2012.2) releases can be found via the [release posts on the NV Access website](https://www.nvaccess.org/category/news/releases/). There is also now a "Releases" link to these posts in the footer of the NV Access website under "Useful links"

[2019-10-03 15:04] TechHorseG commented on #10294
Re point 1, let me add my voice to those asking for an option to 'read whole text node' (assuming I have understood that correctly). Or just _some_ way. Narrator reads whole paragraphs in Firefox so clearly it must be technically possible.

Thanks for the addon. Made extensive use of that feature in Narrator as I often cannot tell whether George has stated a v, b, n or m. That addon makes life sim

[2019-10-03 15:16] TechHorseG commented on #10295
Thanks for responses. Let me be counted as another one who doesn't want ctrl C to be "eaten" :)

As for the other issue, sorry to say this but ouch :) That is quite a lot of work to do something that may need to be done quite frequently.

So let me please also request simplification. Maybe something as simple as NVDA + double-click to move browse focus to the mouse poimter.

Or would it be possibl

[2019-10-03 15:24] lukaszgo1 commented on #4150
@leonardder I have no interest in this particular issue, however my impression is that when issue is closed the PR for it wouldn't be accepted. Leaving it open as a P4 seems more reasonable.

[2019-10-03 15:31] leonardder commented on #4150
While a pr would be accepted, I think I agree on second thought, yes.

[2019-10-03 16:00] TechHorseG opened #10317 "Some feature requests"
Hello. I would just like to put these feature requests out there.

1. In browse mode, the option to wrap around when searching for elements such as edit boxes and level 2 headings etc. For example,, I will often want to go to the first edit box but when I press "e" I then discover that the browse focus is underneath it and I'll hear 'no next edit field'. I may then have to shift-e three times to g

[2019-10-03 16:08] btman16 commented on #9528
Hi everyone,

Even though we don't know yet whether the fix for this issue will get backported to 1903/1909, I believe I've identified the cause of the issue, which Joseph was asking about.

Back in 1903 preview build 18334 there was a known issue where if Magnifier was set to docked mode, and set to load after sign in the machine would enter a reboot loop. I think this only happened if Magnifier

[2019-10-03 16:18] josephsl commented on #10317
Hi,

Item 1: ah, wrap around mode. You are not the first one to suggest this, and I believe we had a discussion about it a while back.

Item 2: pauses between control properties. You might not be the first one to suggest this - I'm hoping that things being done in alpha builds at the moment would make this a reality one day.

Item 3: include hotkeys when mouse hovers over options. This depends on

[2019-10-03 16:22] mltony commented on #8518
@leonardder
I'm not sure why did you reopen this discussion now, but a year ago you already called sentence navigation "undesirable" - see your own comment in this thread from on Jul 19, 2018. Has anything changed since then? And it would greatly help if you could provide some justification about your opinion - otherwise it sounds like a personal preference.

[2019-10-03 16:37] JulienCochuyt commented on #10295
Something like this, indeed, would be my solution of choice.
We'd need combined mouse+keyboard gestures for this kind of functionality.
@leonardder: I suppose you might have considered the question with the implementation of Babbage's Magnification VisionProvider. Would you please share any thoughts regarding the potential definition of such gestures?

I'm really not sure this would be performance

[2019-10-03 16:53] JulienCochuyt commented on #10317
Item 1 - Wrap around: Would indeed be nice to implement both for quick nav and incremental search.
Would probably benefit from a sound hint rather than a textual announce (We took that path in WebAccess.)
An alternative approach might be first press "no more" / next press "wrap around"

Item 3 - Hotkeys announce on mouse hover. @josephsl doing it specifically for NVDA's GUI would take some effort,

[2019-10-03 16:56] DrSooom commented on #8884
@feerrenrut: Thanks a lot for adding and providing this page. Sadly it doesn't contain all stable releases back to 2012.2 and also no beta and RC versions. It would be grateful if you could take a look at all posts and check their categories. Thanks.

[2019-10-03 17:24] DrSooom commented on #7275
Could somebody check if this issue is still valid with Adobe Reader DC 19.012.20040 and NVDA 2019.2.1?

[2019-10-03 17:36] DrSooom commented on #10317
@TechHorseG: Could you please open a new issue for each feature request because then these issues can be fixed in a more accurate way. Thanks.

Related: Issue #4637

[2019-10-03 17:47] TechHorseG commented on #10317
Yes, sorry. Will post a separate thread for each one, very shorttly.

[2019-10-03 18:00] DrSooom commented on #10317
@JulienCochuyt: Did you tried to press and/or hold the ALT key on such dialogs? Normally the shortcut key letter/digit/symbol should be displayed underlined in the GUI after pressing the ALT key once or only as long as the ALT key is held. In Microsoft Office 2010 these characters are displayed in squares after pressing the ALT key once. And perhaps there could be still the function in Windows 10

[2019-10-03 18:09] TechHorseG opened #10318 "Request: pause between reading different types of information"
Feature request for the option to have a pause between the reading out of different kinds of information relating to an item (the name, the menu key, its place in the list etc).

I sometimes have to listen twice as the information runs into eachother. So for example, read "Anne ... a" rather than "Anna", and "pic 3 ... 2 of 7" rather than "pic3 2of7"

[2019-10-03 18:12] josephsl commented on #10318
Hi, note that sometimes, this is speech synthesizer dependent, but I think we have the necessary foundations to bring this to reality. CC @LeonardDer, @JCSTeh, @DerekRiemer

From: TechHorseG <notifications@github.com>
Sent: Thursday, October 3, 2019 11:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Request: pause between re

[2019-10-03 18:19] TechHorseG opened #10319 "Request: Mouse hover states shortcut key (and current setting)"
Feature request: When mousing over the settings on an option screen, also include the shortcut key amongst what is read out.

I will often hover over a few sections until I hear the one I want to interact with, such as, for example, the pitch settings for your NVDA voice. But I then have to go the long way around, tab-tab-tabbing to get to that control in order to discover that the shortcut key wa

[2019-10-03 18:20] SCSchilling1 commented on #9528
Hi, everyone,
Thanks for your patience.  I don't have anything to update.  I am monitoring this issue closely and will post an update in three weeks or so.

Thanks,
Shou-Ching Schilling
Windows Accessibility Community Champ

[2019-10-03 18:21] josephsl commented on #10319
CC @feerrenrut

From: TechHorseG <notifications@github.com>
Sent: Thursday, October 3, 2019 11:20 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Request: Mouse hover states shortcut key (and current setting) (#10319)

Feature request: When mousing over the settings on an option screen, also include the shortcut key amongst wha

[2019-10-03 18:32] TechHorseG opened #10320 "Request: ability to bring up and read tooltips without a mouse"
Feature request: An option to force NVDA to read the tooltips associated with an object. If you hover over an object and a tooltip appears, NVDA can read it out. But I am talking about a method that does not use the mouse and requires no hovering. So I could just arrow down the list of files in Explorer and then press a key combo to cause NVDA to bring up and / or read the tooltip info.

As anothe

[2019-10-03 18:40] josephsl commented on #10320
Hi, so this goes a step further than letting NVDA announce tool tips automatically, correct? Note that not all situations can support tool tips or mouse over text (for File Explorer, it requires reading file/folder metadata, which not all file types support). CC @MichaelDCurran

From: TechHorseG <notifications@github.com>
Sent: Thursday, October 3, 2019 11:33 AM
To: nvaccess/nvda <nvda@noreply.git

[2019-10-03 18:43] TechHorseG commented on #10317
I have now started new issues for 2, 3 & 4. I'll leave the others as it seems they have already been discussed.

@DrSooom, I am sure you are correct but I'd probably give myself eyestrain if I attempted to see which of the characters was underlined :)

 @josephsl perhaps I wasn't clear. The new issue I raised for the tooltip request is hopefully clearer.

[2019-10-03 19:07] DrSooom commented on #10317
@TechHorseG: Thanks. Could you please edit the issue title of this issue here as well? Personally I would suggest to just talk about your first feature request point here in more detail.

Quote from [issue #4637](https://github.com/nvaccess/nvda/issues/4637#issuecomment-538052856):

It should be the same behavior on jumping between the first and last element in browse mode too – but as an option,

[2019-10-03 19:07] Adriani90 commented on #8518
This feature is so often requested by users, honnestly I don't know why it is so complicated to implement it. There is already an addon which works. Why not taking its core function and implement it into the core? Obviously this feature is not an exception, it is a navigation mode that every screen reader user would expect to belong to the standard package.
cc: @feerrenrut, @michaelDCurran

[2019-10-03 19:11] josephsl commented on #8518
Hi, part of it has to do with controls exposing such a feature (NVDA already supports sentence navigation in Microsoft Word because Word does expose this information). Another problem has to do with figuring out sentence demarcation in languages such as Chinese and others. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, October 3, 2019 12:08 PM
To: nvaccess/nvda <nvda@noreply.g

[2019-10-03 19:12] josephsl commented on #10317
Hi, actually, I’m in favor of closing this one and recommending people to fill out the template. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, October 3, 2019 12:08 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Some feature requests (#10317)

@TechHorseG <https://g

[2019-10-03 19:14] Adriani90 commented on #8518
But the addon works and we do not get negative feedback from users all over the world. All users that are using it do not have these problems. So why not making it part of advanced settings? So that beginners and other users can try it out and report further if there is a problem?

Von: Joseph Lee <notifications@github.com>
Gesendet: Donnerstag, 3. Oktober 2019 21:12
An: nvaccess/nvda <nvda@norepl

[2019-10-03 19:24] DrSooom commented on #10317
@josephsl: Yep, that might be better. As far as I see it's quite seldom that someone opens one issue for multiple bugs/feature requests. So splitting them all in separate issues and closing the source issue seems to be the better solution – especially for historical reasons.

[2019-10-03 19:26] josephsl commented on #8518
Hi, just because users do not report problems should not be the only justification for including this into NVDA Core. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, October 3, 2019 12:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Feature request: Include Sentence N

[2019-10-03 19:28] mltony commented on #8518
@josephsl
You are pointing out problems that have already been solved in SentenceNav. I think the question is whether we should incorporate SentenceNav into NVDA core.

I'm not sure I  understood what you meant by this. It's true that most of the applications (except Microsoft Word) do not provide API to parse text into sentences. That's exactly why I created SentenceNav.

SentenceNav has been rep

[2019-10-03 19:30] josephsl commented on #10317
Hi,

Closing. Also, in the future, please fill out the new issue template.

Thanks.

[2019-10-03 19:30] #10317 closed

[2019-10-03 19:30] Adriani90 commented on #8518
In my opinion it should if this is part of advanced settings. UIA for MS Word has been implemented as well although it has still lots of problems. Sentence nav is even more stable than UIA in MS Word and it is requested by many many users worldwide. I don’t see why to favorize an experimental setting over a feature which is already quite stable. And in fact, you could let the gesture unassigned an

[2019-10-03 19:33] josephsl commented on #8518
Hi, @MichaelDCurran, any thoughts? At this point I’m somewhat convinced that it should be considered for NVDA Core. Thanks.

From: mltony <notifications@github.com>
Sent: Thursday, October 3, 2019 12:28 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Feature request: Include Sentence Nav as

[2019-10-03 19:34] josephsl commented on #8518
Hi, I’m thinking it should not be a feature flag toggle – it should be available from everywhere with unassigned commands (or Alt+up/down arrows). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, October 3, 2019 12:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Featur

[2019-10-03 19:48] DrSooom commented on #8518
@josephsl and @Adriani90: Please see my comments [here](https://github.com/nvaccess/nvda/issues/8518#issuecomment-406745073), [here](https://github.com/nvaccess/nvda/issues/8518#issuecomment-406831720) and [her](https://github.com/nvaccess/nvda/issues/8518#issuecomment-406907124).