[2018-02-07 13:17] Adriani90 commented on #7969
I can confirm this. It would be a great Feature and it would make it much easier to create professional Excel sheets.

[2018-02-07 13:22] Adriani90 commented on #7965
I can confirm this issue and I can add that it is very common in economic Environment.

[2018-02-07 15:09] leonardder commented on #7950
Hmm, interesting to see here that JAWS does function properly while NVDA does not. That might give this issue, even though app specific, some more priority.

[2018-02-07 18:49] bramd commented on #7961
Sounds reasonable to me, but it might be better to combine these two methods to a useUIAForWindow method that returns True/False?

[2018-02-07 19:03] JulienNado commented on #7037
You can test on this page the Invisible reCaptcha making IE11 to freeze when NVDA is on :
https://www.google.com/recaptcha/api2/demo?invisible=true

[2018-02-07 20:02] ehollig commented on #7037
@JulienNado are you using Windows 7? I am not able to reproduce using IE 11 on Windows 10 or Windows 8.1. It is possible this could be Windows 7 specific.

[2018-02-07 20:08] bramd opened #7970 "UIA in Word: bullet not shown for empty list item"
### Steps to reproduce:

1. Make sure the experimental UIA support for Word is enabled
2. Open Word
3. Press ctrl+shift+l to start a list
4. Read the current line (numpad 8/nvda+l)

### Expected behavior:

* The bullet is read
* The bullet is displayed in braille

### Actual behavior:

* An empty line is read
* Nothing is displayed in braille

### System configuration:
NVDA version: next-14836,ba6

[2018-02-07 20:09] JulienNado commented on #7037
Yes, I'm using Windows 7.

[2018-02-07 20:14] bramd opened #7971 "UIA in Word: incorrect cursor position on bullets in lists and broken braille routing"
### Steps to reproduce:

1. Make sure the experimental UIA support for Word is enabled
2. Open Word
3. Press ctrl+shift+l to start a list
4. Type some text
5. Press home

### Expected behavior:

* The cursor is displayed on the first character after the bullet in braille
* Report current character (numpad 2 on desktop) speaks the character after the bullet

### Actual behavior:

* The cursor is di

[2018-02-07 20:20] ehollig commented on #7967
@v-raipra, did you mean to close this?

[2018-02-07 23:53] iamrafan opened #7972 "<form> element with accessible labels (aria-labelledby, aria-label, title) are not detected as form landmarks"
### Steps to reproduce:

1. Open the attached file [html5-form-with-label-not-detected-as-landmark.zip](https://github.com/nvaccess/nvda/files/1705135/html5-form-with-label-not-detected-as-landmark.zip) in Chrome
2. Open NVDA
3. Open the elements list dialog (NVDA key + F7) on the page opened in chrome
4. Navigate to the landmarks radio button on the elements list dialog
5. Notice that only from l

[2018-02-08 05:06] derekriemer commented on #7759
@josephsl  wrote that.

[2018-02-08 05:52] dineshkaushal opened #7973 "IE11 there are com errors for state and focusable"
### Steps to reproduce:

In IE11, Open you tube and move to play / pause button in browse mode. then press down arrow and there should be an error tone.
for status error, open new issue in GitHub and tab after title box.

### Expected behavior:
There should not be any error.

### Actual behavior:
There is an error tone and focus may not move to that item.

### System configuration:
NVDA version: m

[2018-02-08 05:57] leonardder commented on #7961
[**@bramd**](https://github.com/bramd) commented on [7 Feb 2018, 19:49 CET](https://github.com/nvaccess/nvda/issues/7961#issuecomment-363870349 "2018-02-07T18:49:07Z - Replied by Github Reply Comments"):

That would be problematic if the appModule wants to leave the decision to core instead. We also want to keep isBadUIAWindow for backwards compatibility.

[2018-02-08 05:58] dineshkaushal commented on #7973
NVDA log for Focusable error:
ERROR - scriptHandler.executeScript (11:26:40.780):
error executing script: <bound method MSHTML.script_moveByLine_back of <virtualBuffers.MSHTML.MSHTML object at 0x050F3630>> with gesture u'up arrow'
Traceback (most recent call last):
  File "scriptHandler.pyc", line 187, in executeScript
  File "cursorManager.pyc", line 206, in script_moveByLine_back
  File "cursorM

[2018-02-08 07:06] gdata1 opened #7974 "NVDA does not voice language switching in Microsoft edge"
hi Open Microsoft Edge and try to switch the language by pressing ALT + SHIFT
The expected NVDA should tell what language the layout switched to. Actually Nvda says nothing.
The same situation happens to the narrator. I think this is a Microsoft problem but decided to write here So we send feedback to Microsoft together.

[2018-02-08 11:58] philrigby62 opened #7975 "NVDA portable copy will not start, reports missing DLL"
Firstly let me say that I am totally new to NVDA. I only downloaded it for the first time today so please forgive me if my following error report is not up to standards expected on here.

I created a portable copy of NVDA when running the downloaded NVDA installer for the first time on my Windows 7 machine. If I then chose to continue to leave NVDA running, it carried on working OK. However, if I

[2018-02-09 01:10] #7488 closed

[2018-02-09 02:55] feerrenrut commented on #7975
I am not able to reproduce this myself. I did the following:
- created a new install of Windows 7 home premium 64 bit
- installed Service Pack 1
- tried to create and run a portable copy of 2017.4

This all worked with no errors.

**Technical**
This [post on stack overflow](https://stackoverflow.com/questions/45745336/vs2017-and-missing-api-ms-win-core-rtlsupport-l1-2-0-dll-on-win7-xp) indicates t

[2018-02-09 09:24] Adriani90 commented on #7962
Dear all,

after many tests I found out that following error cause NVDA to be silent while the application in use is non respoonding.
This is the case in Adobe Reader when it crashes or in Internet Explorer when opening a .pdf file with Adobe Reader addon for IE. Other screenreaders like Jaws Report everything even when an application crashes.

NVDA restores its normal behaviour after clicking on

[2018-02-09 09:25] Adriani90 commented on #7962
many thanks

[2018-02-09 12:05] StormProductions opened #7978 "NVDA not starting"
Today, I started my computer and NVDA didnțt start like it usually should start with Windows. The shortcut also didn't work. Uninstalling it with Revo Uninstaller. When tried to install it, the logo plays but NVDA won't start like it should. Any help would be appreciated.

[2018-02-09 12:11] fernando-jose-silva opened #7979 "Errors while trying to download the latest nvda next"
During the last weeks I noticed a problem when trying to download the nvda next using a browser.
The download starts more is interrupted, being necessary to restart the file download for 4 or more times until you can download the file successfully.
I tested it on two different computers, with windows 10 16299.192 and windows 7, using firefox 58 or chrome 64.
And I also tested two different interne

[2018-02-09 13:32] Adriani90 commented on #7962
Here is the Content of the log file after Crash in MS Word. I think the most important part is

[code]

[2018-02-09 14:22] Adriani90 commented on #7962
And here is the Content of the log file after Crash in IE:

[code]

[2018-02-09 14:25] leonardder commented on #7978
What version of NVDA are you intending to use? 2017.4, or a master snapshot?

[2018-02-09 14:26] StormProductions commented on #7978
2017.4.

[2018-02-09 16:57] Brian1Gaff commented on #7979
Hmm, so this is a manual download. I have to say I just tested it here in
ff52esr with no issues. maybe its a problem between where you are and the
server which has the file.
 I have seen this on other downloads in the past, after an hour or so you
suddenly find its working.
 If not then maybe somebody else can shed some light on it for you. One
assumes other files download ok?
 Brian

[2018-02-09 16:59] Brian1Gaff commented on #7978
Did the computer experience a bad shut down recently?
 This can cause this sort of issue.
Do you have a back up in a folder you can run portably? This I find
invaluable if this happens. One can then simply reinstall it over the old
broken copy.

[2018-02-09 17:02] StormProductions commented on #7978
I managed to repair it
The problem was Bitdefender being an ass.
Thank you anyway.

[2018-02-09 17:53] philrigby62 commented on #7975
Yes, I can confirm it was 2017.4 that I downloaded and attempted to use.

Phil.

From: Reef Turner [mailto:notifications@github.com]
Sent: 09 February 2018 00:22
To: nvaccess/nvda
Cc: philrigby62; Author
Subject: Re: [nvaccess/nvda] NVDA portable copy will not start, reports missing DLL (#7975)

Hi, sorry to hear your first experience with NVDA was less than a success, and thanks for taking the ti

[2018-02-09 18:40] leonardder commented on #4569
cc @josephsl

[2018-02-09 18:41] leonardder commented on #4259
cc @josephsl

[2018-02-09 18:42] leonardder commented on #4260
@domasofan: Could you please provide a status update for this issue?

[2018-02-09 18:47] leonardder commented on #4315
cc @bhavyashah , do you still consider this request important?

[2018-02-09 18:47] leonardder commented on #4317
cc @bhavyashah

[2018-02-09 18:48] josephsl commented on #4259
Hi, hopefully we should do something about it, as there are folks still using Windows 8.x and they might encounter hoste3d apps. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Friday, February 9, 2018 10:41 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows S

[2018-02-09 18:48] leonardder commented on #4317
Giving this p4, since although it is annoying, it is not at all live threatening and probably not very trivial to fix.

[2018-02-09 18:50] leonardder commented on #4387
I actually belief that NVDA only says has appointment in the day view when you come across a date that has an appointment in the specific time slot that is selected. Having said that, there are probably many people who do use the Outlook calendar much more often than I do. cc @dkager @bramd

[2018-02-09 18:51] leonardder commented on #4387
@feerrenrut: agree with giving this a p3? It can be quite annoying to walk through days in the calendar and miss the fact that a day has appointments. On the other hand, the month view does not have this problem and feels a bit more usable to me.

[2018-02-09 19:49] fernando-jose-silva commented on #7979
Thank you very much.
Other downloads from other sources are ok.
Let's see if anyone else has this problem, or if it's something with the connection in this region.
It is not just a connection problem because I have tested on two separate connections separated by a few kilometers.

[2018-02-09 20:30] leonardder commented on #5545
cc @dkager

[2018-02-09 20:33] leonardder commented on #5712
I came across this and really find this interesting. @michaeldcurran, @dkager, @josephsl: What do you think? If you agree with the approach used here, I'd be happy to create a pr with this functionality integrated into the developer info.

[2018-02-09 20:35] leonardder commented on #5873
I'm afraid we can't do anything about this. @michaeldcurran: thoughts?

[2018-02-09 20:40] leonardder commented on #5951
I belief my playing with #577 didn't reveal this issue, I do change the focus in a dialog when it is hidden and it seems that it does only show up when I explicitly say so.

Having said that, I think it is good to postpone attention to this until #7077 / #7104 is settled down.

[2018-02-09 20:42] josephsl commented on #5712
Hi, don’t forget to keep this info updated with new Windows 10 releases. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Friday, February 9, 2018 12:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] include a list of supported UIA patterns into the developer info

[2018-02-09 20:43] leonardder commented on #3958
Closing as duplicate of #3392.

[2018-02-09 20:43] #3958 closed

[2018-02-09 20:46] Adriani90 opened #7982 "Several COM, UIA and Get Focus errors"
### Steps to reproduce:
See log file.

I have analyzed a logfile during a work day with NVDA and found out that there are quite many COM Errors and Get focus Errors in several applications (especially IE and Adobe reader, but also MS Excel and MS Word. There are some UIA Errors as well.

[nvda COMErrors, Get focus errors etc.txt](https://github.com/nvaccess/nvda/files/1712376/nvda.COMErrors.Get.fo

[2018-02-09 21:05] Adriani90 commented on #7802
Dear all,

this issue can be closed, After deleting the dictionary entries manually and reinstallind NVDA when the dictionary was empty, the system config folder appeared again. However, this behavior makes me confused though.

Thanks
Adriani

[2018-02-09 23:12] mreiser opened #7983 "Espeak randomly announces characters in strange languages in daisy books from bookshare"
### Steps to reproduce:
1. Download the following book from bookshare.
All in 1 Network plus by Mike Meyers.
1. Open it in an app that can read daisy books such as qread.
1. In qread, press `control+T` and navigate to chapter 2.
1. Start reading.
EspeakNG will act like it is switching to a different dialect or language while reading the book, making it almost unintelligible at times.  I'll copy an

[2018-02-10 03:57] ehollig commented on #7978
It sounds from @StormProductions  in https://github.com/nvaccess/nvda/issues/7978#issuecomment-364493993 that this was an issue with Bitdefender and the problem is now resolved. Closing as worksforme

[2018-02-10 03:57] #7978 closed

[2018-02-10 07:02] feerrenrut commented on #7979
There was an issue with the NV Access server which should now be resolved. I will close this issue for now. Please reopen it or comment if the issue continues.

[2018-02-10 07:02] #7979 closed

[2018-02-10 08:46] leonardder commented on #5162
I realised I haven't yet shared the url to the repository. The beta driver is public.

https://github.com/BAUM-Engineering/VarioPro_NVDA_driver

[2018-02-10 09:40] k-kolev1985 opened #7984 "Unlike Narrator, NVDA does not read the notification for no available app updates in the Microsoft Store"
### Steps to reproduce:
1. Open Microsoft Store.
2. TAB to the "See more" button and activate it, to show a menu with additional options/commands.
3. From the menu, with the up/down arrow keys, select the "Downloads and Updates" item and activate it with ENTER.
4. TAB to the "Get Updates" button and activate it with ENTER.
5. Wait for the check for updates to complete. If there are updates availab

[2018-02-10 09:57] Adriani90 commented on #5162
Many thanks for sharing. So, what is the next step regarding this driver? Is it any hope that the Baum developer will continue his work on this project, maybe voluntary? Or will it be forged and included in NVDA?

Von: Leonard de Ruijter [mailto:notifications@github.com]
Gesendet: Samstag, 10. Februar 2018 09:47
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.co

[2018-02-10 09:58] leonardder commented on #5712
I'd like to have an implementation based on the AutoProperty getters that are available on an object.

[2018-02-10 10:24] Brian1Gaff commented on #7983
A while back I got this exact effect on some web pages for no apparent
reason. I have to say that I do not get it in the espeak as in the   speech
player in Espeak add on, so I have reluctantly decided its yet another bug
in espeak NG.
 Brian
You might try this on your problem However if its happening in all sorts of
synths then its a new issue.
 Brian

[2018-02-10 11:16] philrigby62 commented on #7975
So does it help if I find out which version of Visual Studio runtime is running on my machine? Please remember that I can reproduce this error every time. I have deleted the directory along with all its contents where I had installed the portable copy of NVDA and redownloaded and rerun the installer to create another portable copy. I got exactly the same problem.

If it makes any difference at all

[2018-02-10 12:29] leonardder commented on #5712
Here is a branch that adds the available patterns to the developer info:
https://github.com/BabbageCom/nvda/tree/availableUIAPatterns

@josephsl: Would you like to take a first look at it? This implementation should be future proof, I'm not sure whether it is past proof though. For example, I'm not sure what _prefetchUIACacheForPropertyIDs does with property ids that are unavailable on a system. M

[2018-02-10 14:11] leonardder commented on #5960
cc @derekriemer: Do you have an update for this issue?

[2018-02-10 14:12] leonardder commented on #6195
This has been fixed in version 0.68 or 0.69 I belief. ANyway, closing as works for me.

[2018-02-10 14:12] #6195 closed

[2018-02-10 14:14] leonardder commented on #6263
@parhamdoustdar: Is this still the case? Could you please make sure that you have "Guess object position information when unavailable" disabled in the object presentation settings?

This is most likely a needs external fix.

[2018-02-10 14:18] leonardder commented on #6275
This has been abandoned for a little while now. Is someone intending to implement this?

[2018-02-10 17:45] josephsl commented on #6275
Hi, I’m tempted to label this for “good for new dev”. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Saturday, February 10, 2018 6:19 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Allow addons to specify minimum compatible version of NVDA (#6275)

This has been

[2018-02-10 18:32] Brian1Gaff commented on #7975
If its any consolation to anyone here, the file
api-ms-win-core-rtlsupport-l1-2-0.dll.
Does not exist on my windows 7 sp1 machine yet nvda portables have always
worked fine. As you say, if its working from the archive opened in a
temporary  area, then one would suspect the same should be the case if its
basically copied anywhere else unless something else is going on of course.
Never having seen t

[2018-02-10 20:45] josephsl commented on #7984
Hi,

Confirmed.

Technical: either name change event isn't picking up the correct object (in which case I can fix it by probing for things and editing my add-on), or notification UIA event must be caught (requires a fix from NVDA Core). The UIA notification event is part of build 16299 and later.

CC @MichaelDCurran

[2018-02-11 01:07] ehollig commented on #7802
Alright. Thank you @Adriani90. Closing as worksforme

[2018-02-11 01:07] #7802 closed

[2018-02-11 11:45] Adriani90 opened #7985 "Add suport for Baum TASO module"
There are lots of users worldwide who are working with TASO module, especially in professional environments. Here is a demonstration of this module:
https://www.youtube.com/watch?v=2T5d3dvEwpI

### Expected behavior:
NVDA should support this device because Cobra is not being developed anymore. At least Baum does not provide support any further. We could send you a test device if needed.

### Actua

[2018-02-11 12:03] Adriani90 commented on #7916
#5602

[2018-02-11 12:04] Adriani90 commented on #7915
#5602

[2018-02-11 12:08] Adriani90 commented on #7916
#7083

[2018-02-11 12:09] Adriani90 commented on #5602
#7083

[2018-02-11 14:58] philrigby62 commented on #7975
Hi Brian. As mentioned in my original post:

"However, if I stopped NVDA after the installation of the portable copy and then ran c:\users\<MyUserName>\nvda\nvda.exe, which is where I chose to install the portable copy, ...

And yes of course my user has access to this area.

I can reproduce this error easily and every time. I note that others have said they can't reproduce it. So, where do we go

[2018-02-11 15:03] Adriani90 opened #7986 "NVDA causes crash in MS Outlook 2016 on Windows 10"
### Steps to reproduce:
I am trying to open an e-mail with a screenshot in it and every time Outlook is crashing.

### Expected behavior:
Outlook should not crash.

### Actual behavior:
NVDA causes a crash in outlook. When opening that e-mail with jaws, outlook does not crash. I get following error after debugging with Visual Studio 2015:
Unhandled exception at 0x1A44F125 (WWLIB.DLL) in OUTLOOK.EX

[2018-02-11 15:05] Adriani90 commented on #7982
#7986

[2018-02-11 15:13] Adriani90 opened #7987 "NVDA does not report tabs when pressing tab in grafic settings in MS Outlook 2016"
### Steps to reproduce:
1. Open an e-mail which contains a screenshot in Outlook 2016
2. Select the screenshot image
3. Press the application key or right click
4. Got to grafic settings
5. Navigate the dialog by tab and shift+tab

### Expected behavior:
NVDA should report the current selected tab when navigating with tab through the dialog (i.e. position tab)

### Actual behavior:
NVDA reports th

[2018-02-11 17:59] PratikP1 commented on #7987
Can you clarify whether or not the image is attached or embedded into the email body?

[2018-02-11 18:07] josephsl commented on #5712
Hi,

Testing shows it won't work on versions earlier than Windows 10, as some UIA patterns were introduced in later Windows releases. One way to get around this is to wrap the appendProperty function (line 715) with a try/except block that catches COMError and skip over that when this happens.

Thanks.

[2018-02-11 19:29] derekriemer commented on #5960
I have a prototype, and I need to work out the kinks. I haven't worked on this in probably close to a year, but I'd like to finish it at some point.

[2018-02-11 19:34] derekriemer commented on #5873
I've only seen this on win7 however.

[2018-02-12 00:24] Adriani90 commented on #7987
It is enbeded.

Von meinem iPhone gesendet

[2018-02-12 00:36] michaelDCurran commented on #6275
This is going to be an important bit of work for 2018.2 as so many large
changes will be going in (wxPython 4, multi category settings, speech
refactor).

I think we should take the approach of Windows store, which is two values:
minimumRequiredVersion, and lastVersionTested.

Newer versions of NVDA can refuse to load add-ons if they have a
lastVersionTested lower than the current version or it is

[2018-02-12 02:35] michaelDCurran commented on #7960
Regression caused by PR #7513.

[2018-02-12 03:31] michaelDCurran commented on #7932
I can reproduce this, but cannot work around it. It is a bug in MS Word's UIA implementation. It looks like that whole apragraph  is continuously replaced and  previous ranges invalidated each time you type characters.
I can't detect a real user impact though. Even the braille display continues to show the correct content.
Decreasing priority and marking as  needsExternalFix

[2018-02-12 04:45] michaelDCurran commented on #7792
Now duplicate of #7908 which has a PR referencing it.

[2018-02-12 04:45] #7792 closed

[2018-02-12 05:54] leonardder commented on #5712
This should have been fixed. I will try this on Win7 later today.

[2018-02-12 06:07] leonardder commented on #7985
Tightly related to #5162.

@Adriani90: Does the driver I mentioned in #5162 have support for this device? I've seen the telephone module working with it.

Note that there is one major issue with supporting these modules. They have a dedicated braille bar of a few characters. We've not yet found a satisfactory solution for this. I guess they should be left out of the 80 cells a VarioPro offers, and

[2018-02-12 07:16] leonardder commented on #7986
[**@Adriani90**](https://github.com/Adriani90) commented on [11 feb. 2018 16:03 CET](https://github.com/nvaccess/nvda/issues/7986#issue-296196490 "2018-02-11T15:03:51Z - Replied by Github Reply Comments"):

Could you please make sure that you have the most recent version of Outlook 2016, i.e. that Outlook itself reports it being the most recent version when trying to update?

[2018-02-12 07:22] michaelDCurran commented on #7840
This requires both changes in NVDA and in Chrome.
NVDA changes are in branch i7840 in this repository, though no pr has been made yet due to the change not yet in Chrome stable.
The change is already in Chrome Canary, but we should wait until it gets to stable as the change in NVDA is backwards incompatible.
See Chrome issue 757707

[2018-02-12 07:23] michaelDCurran commented on #7840
Technical:
Chrome stable does not yet implement IAccessible2_2::relationTargetsOfType for 'labelledBy'.

[2018-02-12 11:18] Brian1Gaff commented on #7975
Well to me it looks like it may be a path issue, hence my comment, but
really one of the devs really needs to have a look at this one, as I
certainly could not make it happen at all.
 Brian

[2018-02-12 12:15] leonardder commented on #7975
@philrigby62: Could you copy your  NVDA portable to a folder directory under your c partition and see whether you are able to start the copy from there?

[2018-02-12 14:30] Adriani90 commented on #7986
Hello, after updating to last 2016 version, NVDA causes an automatic restart of MS Outlook instead of application crash. See log file. I have tested it with jaws and outlook is definitely not being restarted. I will test it tomorrow in MS Outlook 2010 as well.
[nvda causes restart of outlook.txt](https://github.com/nvaccess/nvda/files/1716580/nvda.causes.restart.of.outlook.txt)

[2018-02-12 15:32] gdata1 opened #7993 "Windows 10 App Essentials is not updated..."
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

INFO - __main__ (18:29:37.068)

[2018-02-12 15:37] josephsl commented on #7993
Hi, caused by introduction of update postponing feature in next snapshots, fixed via an emergency patch. Thanks.

From: nikita [mailto:notifications@github.com]
Sent: Monday, February 12, 2018 7:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Windows 10 App Essentials is not updated... (#7993)

Steps to reproduce:

A list of

[2018-02-12 15:37] #7993 closed

[2018-02-12 16:14] leonardder opened #7994 "Fetching children of LibreOffice Calc table freezes/crashes NVDA"
### Steps to reproduce:
1. Start LibreOffice Calc. Tested both 5.4.4.2 and 6.01
2. Focus a cell in the tbale
3. Start a python console
4. Type focus.table.children
5. Press enter

### Actual behavior:
NVDA crashes.

### Expected behavior:
Yes, that's the question. What should we expect here? It seems that LibreOffice has all table cells as direct children of the table object, which results in an e

[2018-02-12 16:42] Adriani90 commented on #7985
@Leonardder I will test it. It seems like it supports it. Could you please post your suggestions as isse / pr on their repo? I know some developers and Maybe we can include their input as well. Or they could contribute since they have worked at Baum. AS far as I can see, there are some unassigned gestures for NVDA. And there are some conflicts regarding scrolling the different modules separately.

[2018-02-12 16:55] Brian1Gaff commented on #7986
I've seen these effects reported on the users list. maybe some post over
there might be of use here?

[2018-02-12 18:04] philrigby62 commented on #7975
Hi,

I did this and no, I wasn’t able to start it from the location I copied it to, c:\nvda\nvda.exe.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: 12 February 2018 12:16
To: nvaccess/nvda
Cc: philrigby62; Mention
Subject: Re: [nvaccess/nvda] NVDA portable copy will not start, reports missing DLL (#7975)

@philrigby62 <https://github.com/philrigby62> : Could you copy your NVDA

[2018-02-12 18:18] josephsl commented on #7975
Hi,

A few things:

[2018-02-12 18:23] josephsl commented on #7975
Hi,

A few things:

* Instead of running the installer directly from nvaccess.org, try saving it first, and then run the installer and see if you get the same error.
* The error message suggests a component used by NVDA is looking for an internal DLL Windows API uses for some operations.
* I know that you're not ready to install NVDA, but for this experiment, can you actually try installing NVDA a

[2018-02-13 00:22] mertdeg2 opened #7995 "Its not clear which key is NVDA key on Thinkpad laptops"
### Steps to reproduce:
1. Buy Thinkpad laptop
2. Install NVDA on it
3. Try to press NVDA+ n to turn it on/off.

### Expected behavior:
Its clear which key is the NVDA key for this configuration

### Actual behavior:
I have tried bunch of keys, but couldn't find which one is NVDA key. NVDA program has "Welcome to NVDA" message, but it doesn't say anywhere which key is the NVDA key

Windows version

[2018-02-13 01:03] josephsl commented on #7995
Hi, what ThinkPad model did you get? The NVDA key is the insert key. Thanks.

From: mertdeg2 [mailto:notifications@github.com]
Sent: Monday, February 12, 2018 4:22 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Its not clear which key is NVDA key on Thinkpad laptops (#7995)

Steps to reproduce:

1.	Buy Thinkpad laptop
2.	Insta

[2018-02-13 03:29] ehollig commented on #7995
Hello @mertdeg2. When the welcome dialog comes up, check the box that allows capslock to be used as an NVDA modifier key. Then press capslock+1 to go into input help mode. This mode will allow you to explore the keys on your keyboard that you are unsure of their function. See if you have an insert key. If so, this key can be used as the NVDA key as well.

[2018-02-13 06:03] derekriemer commented on #7975
Has anyone here heard of this DLL?

[2018-02-13 06:07] josephsl commented on #7975
Hi, I have. This is an internal library invoked by one or more Windows API functions (or a constituting DLL). I’m thinking that the failure might have to do with winUser.whatever function we get. By the way, for portable copies, %temp% is not the location for NVDA logs; the correct location will be the place where the portable copy is extracted to. Thanks.

From: Derek Riemer [mailto:notifications

[2018-02-13 06:19] leonardder commented on #2744
Honestly, I belief it would be best to move issues regarding de OCR add-on to [its repository](https://github.com/nvaccess/nvda-ocr) on Github.

[2018-02-13 06:23] leonardder commented on #6275
I propose minimumRequiredNVDAVersion and lastNVDAVersionTested in order not to create ambiguity with add-on version numbers itself. Anyhow, I'm happy to take this issue.

[2018-02-13 09:06] Brian1Gaff commented on #7975
Are you sure  about that?
 I've never seen them anywhere else unless this is a recent change,
certainly this is the location where my batch file always finds te main log
of a copy of nvda just terminated, I've been using it for years.

[2018-02-13 09:09] Brian1Gaff commented on #7975
Is this not a dll inside a microsoft runtime library?
 I'm almost certaoin there is a microsoft page about this that I read ages
ago and it was that this dll cannot be called directly, only from the code
that microsoft created and its an internal dll.

[2018-02-13 10:28] TheWookieWay commented on #6159
I really want to use catherine mobile australian voice for my TTS if i have to listen to it every day when I stream.  The only instructions for this require hacking the registry, but are outdated.  It would be nice to NOT have to hack the registry to do this, but even if I have to, if I had correct instructions, i could do it.
Anyone have any info for using Catherine mobile as my default for a pro

[2018-02-13 15:21] leonardder commented on #6275
While looking at the addonHandler code, I noticed that the Addon object has quite a few magic properties while not inheriting from AutoPropertyObject. Is there a particular reason for this?

[2018-02-13 16:47] mertdeg2 commented on #7995
@josephsl I have Lenovo ThinkPad X1 Carbon

@ehollig It doesn't have caps lock key either.

(From top to bottom) Left column of the keyboard has: ESC, TAB, (HOME/END as one button), shift, ctrl
(From left to right) Bottom row of the keyboard has: CTRL, Windows key, Alt, space, alt, comma, ctrl, arrow left, arrow down, arrow right

[2018-02-13 16:51] josephsl commented on #7995
Hi, I bet it doesn’t have an insert key, right? In this case, it might be best to use an external keyboard with this laptop. Thanks.

From: mertdeg2 [mailto:notifications@github.com]
Sent: Tuesday, February 13, 2018 8:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Its not clear which ke

[2018-02-13 16:54] mertdeg2 commented on #7995
Nope it doesn't have the insert key, would it be too hard to make the NVDA key configurable?

[2018-02-13 16:56] josephsl commented on #7995
Hi, depends. The thing is, it can conflict with app-specific commands (for example, if Control+Shift is assigned to NVDA key, if you press Control+Shift+N from File Explorer, it’ll open NVDA menu instead of creating a new folder). Thanks.

From: mertdeg2 [mailto:notifications@github.com]
Sent: Tuesday, February 13, 2018 8:54 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee

[2018-02-13 17:00] mertdeg2 commented on #7995
Ah, got you. Yeah it would be annoying if it conflicts with other commands. Maybe the NVDA application can let the user configure the NVDA key? Not sure what would be the technical challenges in achieving this

[2018-02-13 17:04] josephsl commented on #7995
Hi, in a way, it does by abstracting either the regular insert, numpad insert, or caps lock as NVDA key. There could be challenges – you don’t want to find yourself “pressing” shift key twice if Control+Shift keys are mapped to NVDA key. CC @LeonardDer, @MichaelDCurran, @JCSTeh

From: mertdeg2 [mailto:notifications@github.com]
Sent: Tuesday, February 13, 2018 9:00 AM
To: nvaccess/nvda <nvda@norepl

[2018-02-13 19:32] alex-barstow opened #7996 "Changes to polite aria-live region are repeated too many times in Chrome and Firefox"
### Steps to reproduce:
1. Open this [test page](http://solutions.brightcove.com/abarstow/BC-39639/nvda-test.html) in Chrome
2. Click the button
3. Listen for repetitive announcements
4. Repeat 2 and 3 to toggle the button's state

### Expected behavior:
The updated text should be announced ~1-2 times (2 would be understandable since the button click updates both the`title` attribute of the button

[2018-02-13 20:36] michaelDCurran commented on #6275
I don't believe there is a good reason. Simply just history I guess. We
tended to only use AutoPropertyObject for NVDAObjects / TextInfos
(representations of content). We never considered using it for other
arbitrary objects.

[2018-02-13 21:08] Brian1Gaff commented on #7975
Do you think that the file for some reasons has had its permissions screwed
up and hence its  contents cannot be seen by nvda?
 However if that was the case one would expect the temp copy that runs when
you launch the downloaded file to suffer too. that presumably is opened in
%temp% is it?
 After that I was under the impression that the portable creation was just a
simple copy of the files to a n

[2018-02-14 01:34] jcsteh commented on #6275
I also find myself wondering occasionally whether those `_get_foo` magic
properties were really such a good idea. The problem with magic is that
it's a barrier to entry and it's hard to work out where to document it
because it's not explicit. Still, that's out of scope for this issue. :)

[2018-02-14 05:30] feerrenrut commented on #4387
Yep, happy to give this a P3. Given there are other ways to achieve the task.

[2018-02-14 05:42] feerrenrut commented on #4620
A common base class could perhaps override the `Show` and `ShowModal` methods in order to ensure that `prePopup` / `postPopup` happen, see [comment](https://github.com/nvaccess/nvda/pull/6355#discussion_r167452784) on "Introduce the ability to postpone a downloaded update" #6355

As discussed in the linked comment, it's not certain that newer operating systems or versions of wx require this. Linki

[2018-02-14 06:25] feerrenrut commented on #7994
Can we catch / or detect this and avoid the crash? What are the technical details that lead to the crash in this situation?
What user action might cause this? or if this is blocking another issue / work could you link it here?

Asking so that I can get a better idea of the priority for this one.

[2018-02-14 07:28] leonardder commented on #7994
[**@feerrenrut**](https://github.com/feerrenrut) commented on [14 feb. 2018 07:25 CET](https://github.com/nvaccess/nvda/issues/7994#issuecomment-365508671 "2018-02-14T06:25:45Z - Replied by Github Reply Comments"):

It looks like all table cells are direct children of the table

[code]

May be we could make the children property check the childCount and refuse its fetching when the childCount exce

[2018-02-14 10:39] philrigby62 commented on #7975
See my comments within your email below.

From: Joseph Lee [mailto:notifications@github.com]
Sent: 12 February 2018 18:24
To: nvaccess/nvda
Cc: philrigby62; Mention
Subject: Re: [nvaccess/nvda] NVDA portable copy will not start, reports missing DLL (#7975)

Hi,

A few things:

*	Instead of running the installer directly from nvaccess.org, try saving it first, and then run the installer and see if

[2018-02-14 10:48] philrigby62 commented on #7975
I am happy to help if more diagnostic info is required. Please tell me what you would like me to do to gather it. I have done the download from scratch all over again several times now and I always get the situation occurring that I have reported in this issue. Just to repeat, the only thing I do not want to do on this computer is to do a full install of NVDA. This issue I am facing with the porta

[2018-02-14 12:03] leonardder commented on #7975
@philrigby62: I"m sorry to hear that it still has not been possible to fix your issue.

Could you try the following versions of NVDA and report whether it is possible to make a portable copy out of these?

* [2017.3](https://www.nvaccess.org/files/nvda/releases/2017.3/nvda_2017.3.exe)
* [2017.2](https://www.nvaccess.org/files/nvda/releases/2017.2/nvda_2017.2.exe)
* [2017.1](https://www.nvaccess.or

[2018-02-14 15:50] Neurrone commented on #7148
Still happening on 1709 RTM.

[2018-02-14 16:21] Neurrone opened #7998 "NVDA not working with SPSS 24 x64's java access bridge when 'report object shortcut keys' is enabled"
#### Steps to reproduce:

I remember managing to get NVDA working with SPSS 24, which uses the java access bridge. However, a java update broke access bridge functionality, and I can't recall what I did a month ago to make it work, despite reading through the numerous duplicates.

#### Expected behavior:
NVDA should be able to read SPSS 24's UI, which uses java access bridge. It also doesn't read

[2018-02-14 16:33] Brian1Gaff commented on #7975
I also wondered if this machine has been updated through vista to win 7 and
sp1 or if it was a clean install of windows7 sp1?
 There is something i can remember but it was a long while ago now to do
with runtime versions and registration of them.
I hated Vista!
 Brian

[2018-02-14 18:28] leonardder commented on #7998
Could you go to the object presentation settings and disable reporting of shortcuts from there?

[2018-02-14 18:35] josephsl commented on #7105
Hi,

Update: wxPython 4 is out (at least it is now up to 4.0.1), and given that #7104 is planned for 2018.2, I'd say let us designate 2018.2 as N release (start of transition). This means:

1. 2018.2: play around with wxPython 4.
2. 2018.3: more testing and research. Most external dependencies should be ready to go.
3. 2018.4: start of transition. More internal dependencies (such as Liblouis Pytho

[2018-02-14 18:53] leonardder commented on #7840
[**@michaelDCurran**](https://github.com/michaelDCurran) commented on [12 Feb 2018, 08:22 CET](https://github.com/nvaccess/nvda/issues/7840#issuecomment-364844894 "2018-02-12T07:22:23Z - Replied by Github Reply Comments"):

What does this mean in practice? Does this change make older versions of chrome unusable?Note that in corporate environments, people might be forced to stick to an older versio

[2018-02-14 20:04] leonardder commented on #3818
@MarcoZehe, is this still of relevance to you?

[2018-02-14 20:06] leonardder commented on #4443
@josephsl: any recent thoughts about this issue?

[2018-02-14 20:08] leonardder commented on #4675
@jkinnunen: Could you provide a status update for this issue? cc @josephsl

[2018-02-14 20:10] leonardder commented on #4747
@vgjh2005: Could you provide a status update for this issue?

[2018-02-14 20:15] leonardder commented on #4768
@bhavyashah: As we most likely can't contact the author of this issue, would you be able to give a status update?

[2018-02-14 20:16] leonardder commented on #4770
@josephsl: Given https://github.com/nvaccess/nvda/issues/4770#issuecomment-155332255, could we safely assume that this has been fixed?

[2018-02-14 20:17] MarcoZehe commented on #3818
No, I no longer use VS 2013.

[2018-02-14 20:18] leonardder commented on #4780
It looks like Instantbird is quite abandoned, so it might be very unlikely that this will be implemented any time soon.

[2018-02-14 20:20] leonardder commented on #4805
Closing as duplicate of #4804, which is most likely the same underlying issue.

[2018-02-14 20:20] #4805 closed

[2018-02-14 20:21] leonardder commented on #4804
@bhavyashah: Could you provide a status update or tell whether this is still relevant for you?

[2018-02-14 20:22] leonardder commented on #4817
@bhavyashah: Could you provide a status update?

[2018-02-14 20:23] leonardder commented on #4860
@bhavyashah: Could you provide a status update?

[2018-02-14 20:23] leonardder commented on #4994
cc @josephsl

[2018-02-14 20:26] leonardder commented on #5052
Labeling this p4, as Community 2017 is now the most recent version. Having said that, if this issue also applies to community 2017, we can reconsider the priority.

[2018-02-14 20:28] leonardder commented on #5183
@bramd: I'd be good to know your thoughts about this

[2018-02-14 20:29] leonardder commented on #4941
cc @josephsl

[2018-02-14 20:45] leonardder commented on #5292
Confirmed that this issue still occurs with NVDA 2017.4

[2018-02-14 20:47] leonardder commented on #4887
@vgjh2005: Could you please provide a status update?

[2018-02-14 20:48] leonardder commented on #5115
@elliott94: Could you provide a status update for this issue?

[2018-02-14 20:49] leonardder commented on #5131
cc @josephsl

[2018-02-14 20:51] leonardder commented on #5110
I think this request makes sense, labeling as feature.

[2018-02-14 21:02] Adriani90 commented on #4443
how about integrating and improving the quicknav addon from Tuukka and assigning touch gestures to its functions?

[QuickNav](https://github.com/tuukkao/nvda-quicknav)

[2018-02-14 21:17] Adriani90 commented on #4994
I think this could be hard for beginners to get used to. I would still propose to improve object navigation and screen review. That is, to make theese review modes as similar as possible to browse mode. And we should give them more priority in tutorials and documentation. At a later stage an automatic switch between review modes could be implemented. But in my view they are too different and would

[2018-02-14 22:00] MichielBijl commented on #5183
@bramd TL;DR:  `aria-labelledby`, then `aria-label`, and finally `caption`.

Sources:

[ARIA spec: aria-label (property)](http://w3c.github.io/aria/#aria-label)

That confirms that `aria-labelledby` indeed takes precedence over `aria-label`.

[AccName AAM: Text Alternative Computation](https://www.w3.org/TR/accname-aam-1.1/#mapping_additional_nd_te)

Basically, if there’s no `aria-labelledby` look

[2018-02-14 22:17] michaelDCurran commented on #7553
Anyone experiencing this issue: please test the following try build of NVDA, and switch to windows Onecore Speech to see if it works now:
https://ci.appveyor.com/api/buildjobs/63rtodmkp2xckm91/artifacts/output%2Fnvda_snapshot_try-i7553-14859%2Ca1e2a6d3.exe

[2018-02-14 23:18] josephsl commented on #4770
Hi, I’d say yes. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Wednesday, February 14, 2018 12:17 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Javaw: command line parser routine returns full path of a jar file (#4770)

@josephsl <https://github.com/josephsl> :

[2018-02-14 23:48] Adriani90 commented on #7986
I have repaired MS Outlook 2016 on Windows 10 and made sure that it is updated to the very last version. Now it is not restarting automatically anymore, but it crashes when NVDA is running.

[2018-02-15 03:00] feerrenrut commented on #7994
I think we need to investigate the core cause of this issue. Presumably, the crash is caused by an out of memory error somewhere when trying to fetch all the children. If this is something we have control over, perhaps we could harden this code?

[2018-02-15 04:54] michaelDCurran commented on #7975
After creating the portable copy, navigate to where you created it, and delete the following files:
* msvcp140.dll
* vccorlib140.dll
* vcruntime140.dll

Then try to run the portable copy.
NVDA only needs these files on windows 10, but they may be confusing things on your Windows 7 system.
If this solves the issue we will have to work out a way of ensuring these never exist at runtime on windows 7.

[2018-02-15 06:57] Neurrone commented on #7998
@leonardder thanks a lot, that did the trick. Will change issue title to reflect accordingly.

As a side note, it would be good to have instructions on getting access bridge working on x64 systems into the user guide - only knew about needing both x86 and x64 versions from Twitter.

[2018-02-15 07:37] leonardder commented on #7998
I've seen this issue before with SPSS, and I'm really not sure what causes this. I have SPSS 24 x64 running without problems here. Note that the SPSS JRE is slightly outdated.

[2018-02-15 07:38] Neurrone commented on #7998
@leonardder it works for you without turning off shortcut key detection?

[2018-02-15 08:25] leonardder commented on #7998
Yes.

[2018-02-15 09:31] Brian1Gaff commented on #7975
But I have windows 7 and so have many others with no issues at all thus far.

Brian

[2018-02-15 10:04] michaelDCurran commented on #7975
It is most likely a conflict between those dlls and another VC
Redistributable package installed system-wide by another application.
However I'm actively working on this issue as for those it affects it it
is rather serious.

[2018-02-15 10:35] michaelDCurran commented on #7975
We realised we may have been using the wrong copy of the redistributable dlls. I have fixed this in the following try build of NVDA:
https://ci.appveyor.com/api/buildjobs/su9dok9xxw0ignui/artifacts/output%2Fnvda_snapshot_try-i7975-14861%2C682b50bb.exe
Please test this build of NVDA on Windows 7, creating a portable copy and running it.
If this does not solve the issue, I do have one more thing I c

[2018-02-15 11:06] jcsteh opened #8000 "NVDA crashes Firefox when pressing shift+f10 twice in a text box"
Originally reported by @DerekRiemer.

### Steps to reproduce:

This is not reproduceable 100% of the time, but it shouldn't take too many repeats to trigger it; it certainly doesn't on my system.

1. Open this URL (though any text box in a web document should do): `data:text/html,<textarea>abcd</textarea>`
2. Tab to the text box and ensure NVDA is in focus mode.
3. Press shift+f10 twice.

### Expe

[2018-02-15 12:10] leonardder commented on #7669
I've actually been able to reproduce this issue in JAWS when using the touch cursor. Just wanted to point this out. This is certainly not NVDA specific, though JAWS seems to have found a nice way to work around it.

[2018-02-15 13:01] Adriani90 commented on #8000
I can reproduce this reliably with NVDA 2017.4 and Windows 8.1 using Firefox 58.0.1.

[2018-02-15 13:47] thunderbird5 opened #8001 "add on for Plotagon."
This is a fun and creative program that even the blind can use however, NVDA doesn't read the program at all. Is there anyone who would be able to create some sort of add on to get it working with NVDA? I can read the login page with the ocr but, that's about it.

I'm using the latest version of NVDA.

[2018-02-15 13:54] fernando-jose-silva commented on #7840
Thank you very much for the attention you are giving to the question.
A small opinion about the result, I prefer that the labels be reported twice, than not to be reported.

[2018-02-15 15:17] Adriani90 opened #8002 "Add table navigation commands when editing tables in MS Power Point"
Hello,

NVDA does not provide the usual table Navigation commands when editing a table in MS Power Point. Would it be possible to implement such a Feature?

Many thanks.

[2018-02-15 15:25] leonardder commented on #8002
Are the tables detected as such when editing them?

[2018-02-15 15:30] leonardder commented on #8002
Actually, closing as duplicate of #5350

[2018-02-15 15:30] #8002 closed

[2018-02-15 16:55] philrigby62 commented on #7975
The machine in question ran Windows Vista until October 2013. It was not possible to upgrade the machine from 32-bit Vista to 64-bit windows 7 so a clean install of 64-bit Windows 7 Ultimate was performed on it at that time.

From: Brian Gaff [mailto:notifications@github.com]
Sent: 14 February 2018 16:34
To: nvaccess/nvda
Cc: philrigby62; Mention
Subject: Re: [nvaccess/nvda] NVDA portable copy wil

[2018-02-15 17:05] philrigby62 commented on #7975
I very much appreciate this and your suggestion as to what to try. I will certainly follow your advice but please bear with me as I will not be able to do this and report results until at least tomorrow evening UK time due to other commitments. However, thank you for your support in trying to get to the bottom of this issue. The comments from others telling me they cannot recreate the problem have

[2018-02-15 17:11] bradkemper commented on #7430
I think it is wrong to assume that everything with a click listener on it is going to be meaningful to the user, and that it should be announced. I have code that looks for clicks on elements that are not a fly-out menu, and when it receives them it closes the fly-out menus. 99% of the clicks do nothing, because most of the time those menus aren't open. I have several other utility click handlers

[2018-02-15 18:02] Adriani90 commented on #6429
Is there any chance to start working on this during the year? It would be a very useful feature.

[2018-02-15 18:08] Adriani90 commented on #5162
Hello,

I have tested the driver shared by @Leonardder and I have granted feedback from german users as well. The driver is working with Baum Vario pro 80, but the input keys and other display keys are not working when using Baum Vario Pro 64. We will test it with taso and will come up with more feedback.

[2018-02-15 18:30] Adriani90 commented on #7950
After some conversations with the developer of Cobra Adress Plus, I've got a packaged full version of Cobra Address Plus for testing purposes. The developer is very open minded and would like to grant accessibility experience. However, it is still not very clear why jaws is being triggered in data tables while NVDA is not.

Does any developer need the software for testing? Or is it clear out of th

[2018-02-15 20:01] leonardder commented on #5162
I appreciate your commitment to having this driver work as good as possible. I need to point the following things out though:

1. Given the current situation at Baum, it is very unlikely that the people from Baum will work on this driver any time soon.
2. As you know, VarioPro is a huge device. Because of that and because I won't be able to get hold of a VarioPro 64, I'm afraid I can't invest time

[2018-02-15 20:10] michaelDCurran commented on #5162
I have not seen this driver, but:
In principle I have no problem with adding new drivers for Baum devices,
even if they have closed down. Many people own Baum devices and will
continue to into the future.
However, it is true that we will not be able to rely on Baum for
development or support, and getting access to one of these devices to
test the driver is imperative for this driver being complete

[2018-02-15 20:29] pieman72 opened #8004 "Does not notify upon reaching end of DOM content"
### Steps to reproduce:
1. Open Chrome
2. Browse to www.google.com
3. Use CTRL + DOWN ARROW to start linear navigation through each line of DOM structure
4. Go all the way down the content on the page
5. Listen for audio feedback on attempting to move further past the last element on the page

### Expected behavior:
Reader should voice a message indicating that the end of the page has been reached

[2018-02-15 21:25] Brian1Gaff commented on #7975
This morning I removed those files and nvda still functioned on my windows 7
64 bit machine and now the new update has put them back of cores, again with
no ill effects.
 Brian

[2018-02-15 23:47] andrew-l-d opened #8005 "NVDA reads major and minor headings out of order in Firefox when scope attribute is used"
In an HTML table which has major and minor column headings, NVDA 2017.4 and current snapshot reads the minor heading before the major heading in Firefox (any version) when the scope attribute is used.  The order is read correctly in IE and Chrome.  As shown in the attached file, when headers and ids are used, the major heading is presented first in all three browsers.  While by no means a major is

[2018-02-16 04:31] jcsteh commented on #8000
Note that Firefox bringing up the System menu in the first place when you press shift+f10 in some cases is a bug, and without that bug, the circumstances that trigger this crash don't occur. That Firefox bug also causes other undesirable behaviour, so I ended up tracking this down in Firefox and submitting a patch. See [Mozilla bug 1382199](https://bugzilla.mozilla.org/show_bug.cgi?id=1382199).

T

[2018-02-16 06:04] leonardder commented on #7971
[**@bramd**](https://github.com/bramd) commented on [7 feb. 2018 21:14 CET](https://github.com/nvaccess/nvda/issues/7971#issue-295276929 "2018-02-07T20:14:01Z - Replied by Github Reply Comments"):

Is this based on the old situation (i.e. without UIA enabled), or on something else? I just want to make sure that the UIA implementation is doing things wrong and not the object model implementation th

[2018-02-16 06:05] leonardder commented on #7971
@bramd commented on 7 feb. 2018 21:14 CET:

Is this based on the old situation (i.e. without UIA enabled), or on something else? I just want to make sure that the UIA implementation is doing things wrong and not the object model implementation that has done things wrong all the time.

Could you elaborate on this a bit more? I assume when you press the cursor routing at the cell containing the firs

[2018-02-16 10:13] michaelDCurran commented on #7348
Disabling screen updating while making all the object model calls (I.e. application.screenUpdating=False) drastically improves performance. It seems that when comments or dropdown arrows are on a sheet, Excel redraws the screen for every object model call unless screen updating is disabled. This is most definitely a bug with MS Excel, but I am not having luck  getting this address by Microsoft so

[2018-02-16 10:45] Brian1Gaff commented on #8000
Is this the good old problem of using the mouse to close stuff and crashing
nvda, when the keyboard route works properly? I always thought this was a
windows bug.
 Brian

[2018-02-16 10:46] jcsteh commented on #8000
NO. The bug you speak of only exists in command consoles.

[2018-02-16 11:18] elliott94 commented on #5115
I'm afraid so - behaviour is still as described. Am I correct in thinking that this is more of a Firefox bug, though?

[2018-02-16 14:34] fernando-jose-silva commented on #8004
This behavior could also be adopted by walking only with the arrows down or down on the web pages.

[2018-02-16 21:00] philrigby62 commented on #7975
Fantastic!! That did it. I downloaded this version, chose C:\users\my_user_name_NVDA as the target folder for the portable copy and, after the install completed, as before, I shut down the installation version of NVDA. I then ran c:\users\my_user_name_NVDA\NVDA.exe to run the portable copy I had just installed and it started perfectly.

Thanks so much. This has certainly solved my issue here.

Can

[2018-02-16 21:00] RD-Brown opened #8007 "NVDA does not identify graphic content inside radio buttons/checkboxes"
### Steps to reproduce:
1.	In Chrome, go to
http://jsbin.com/liyidanuqa/3/edit?html,css,output
2.	From the top of the page, press G twice.  (Note that “Welcome to JS Bin,” is the only graphic found.)
3.	From the top of the page, press X until the “A. blue box” checkbox is reached.  (Note that none of the choices are identified as graphics.)

### Expected behavior:
NVDA should identify the content

[2018-02-16 21:13] josephsl commented on #7975
Hi, yes, it will be fast-tracked for 2018.1. Also, I apologize for attitudes shown by some of our community members when it came to trying to resolve this issue. I will write a message to the community regarding troubleshooting attitudes soon. Thanks.

From: philrigby62 [mailto:notifications@github.com]
Sent: Friday, February 16, 2018 1:01 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph

[2018-02-16 23:47] dreinn opened #8008 "NVDA is not able to read system menu in Windows10 pressing Windows+x"
Using Microsoft Windows [Versione 10.0.17074.1002], and NVDA next-14860,d6c75234

If I press Windows+x to open the contest menu where you have many system options, NVDA said simply "unknown".

Narrator instead is able to read everything.

Whats is happening?

Developer info for navigator object:
name: None
role: ROLE_UNKNOWN
states: STATE_INVISIBLE, STATE_FOCUSABLE, STATE_FOCUSED
isFocusable: True

[2018-02-17 00:03] josephsl commented on #8008
Hi,

Yet another duplicate (trying to find the actual ticket). In short, Sets feature may have contributed to this. This is resolved in build 17083 and later.

Thanks.

[2018-02-17 00:18] josephsl commented on #7947
Hi,

I'm not clear as to what's going on here. Did unchecking "Play sound for spelling errors while typing" checkbox in keyboard settings help? If it didn't, I need exact steps to reproduce this problem. I also need this info because we need to change the issue title, as just saying "NVDA" as the issue title is so generic (for me, even if someone mentions my ID, I won't even look at this issue if

[2018-02-17 00:18] josephsl commented on #7947
Hi,

As a follow-up: can we NOT use GitHub issue tracker to advertise mailing lists please?

Thanks.

[2018-02-17 00:31] josephsl commented on #8008
Hi,

Thje closest issue found is #7958. Thanks.

[2018-02-17 00:31] #8008 closed

[2018-02-17 03:35] devinprater commented on #6524
Has anyone tried this driver from Humanware? See http://support.humanware.com/index.php?Action=Page.Link&PageLink=11541&To=http%3A%2F%2Fwww.humanware.ca%2Fweb%2FHumanWare%2FBrailleDrivers%2FBrailleTerminalTools2_1_0_6.exe
This is supposed to work with JAWS, but I suspect that it may give a sort of bridge for NVDA to cross, so that NVDA can use the braille note touch as well.

[2018-02-17 06:08] josephsl opened #8009 "UIA support: choose the highest IUIAutomation interface version based on Windows release in use"
Hi,

This is a more general case based on #7984:

Due to the fact that Microsoft comes out with new Windows 10 releases twice a year, and given that these releases may include UIA changes from time to time, and since some methods (such as notification event handler) requires newer Windows 10 releases, I propose that we use highest supported IUIAutomation interface based on Windows release one is u

[2018-02-17 06:10] josephsl commented on #8009
CC @MichaelDCurran, @LeonardDer, @DerekRiemer, @PratikP1, and any MS staff and Windows Insiders

[2018-02-17 06:19] Neurrone commented on #7148
@PratikP1 any news from Microsoft?

[2018-02-17 08:27] leonardder commented on #8009
[**@josephsl**](https://github.com/josephsl) commented on [17 Feb 2018, 07:08 CET](https://github.com/nvaccess/nvda/issues/8009#issue-297982865 "2018-02-17T06:08:55Z - Replied by Github Reply Comments"):

The current implementation just tries to query interfaces until a working interface has been found. I guess that on Windows 8.1, `uiaHandler.handler.clientObject.QueryInterface(IUIAutomation5)` w

[2018-02-17 08:34] josephsl commented on #8009
Hi, theoretically, on Windows 8.1, attempting to use version 5 will fail. This is fine, because UI Automation version won’t change over there. But on Windows 10 series, if it fails, then we need to keep trying until a valid interface version is found, which is a tedious task. Therefore I propose a possible shortcut by querying build ranges. Thanks.

From: Leonard de Ruijter [mailto:notifications@g

[2018-02-17 08:42] leonardder commented on #6855
I'm also getting the MH_CreateHook failed with 9 quite a lot of times when I start Edge, and once in a second when Edge is focused. I have no idea whether this has to do with the keyboard layout I have in use (Dutch Netherlands, United Stated International).

[2018-02-17 08:48] leonardder commented on #8009
I think doing some timing tests regarding querying interfaces would be good here. Ib we ale going to use UIA5 for some core functionalities, we don't want to rely on binary voices to test things, as that would be a major decline in development experience.

[2018-02-17 09:11] gdata1 commented on #6855
Hello. I'm not getting any errors when switching. Just Nvda doesn't tell me which language I switched to.

[2018-02-17 09:55] dreinn commented on #8008
ok sorry for the duplicate, I should search before post a bug! Still sorry

2018-02-17 1:31 GMT+01:00, Joseph Lee <notifications@github.com>:

--
Simone Dal Maso
www.nvapple.it
www.nvda.it

[2018-02-17 10:56] Brian1Gaff commented on #7975
I think the point was that we wanted to find out if some other program was
interfering with this process.  For some reason this only showed up for you
due to you not already having a copy of the needed runtime library as was
installed in my original install of windows7 sp1 from the dvd. This had to
mean that at some point this file, with confusingly the same name as the
needed one did not get on t

[2018-02-17 12:06] leonardder commented on #6751
@munawarb: can you still reproduce this?

[2018-02-17 12:22] leonardder commented on #5373
I'm able to reproduce this.
[Here](https://github.com/nvaccess/nvda/files/1733649/devDocs.txt) is the output I get.

[2018-02-17 12:27] leonardder commented on #4997
Closing this as duplicate of newer issue #6305, which contains more discussion.

[2018-02-17 12:27] #4997 closed

[2018-02-17 12:29] leonardder commented on #6305
Just closed duplicate #4997, which was somewhat broader in scope and also mentions settings, but this issue contains more discussion. I think deciding what settings should be copied is a different issue from add-ons, and that can be covered by #2226.

[2018-02-17 12:32] leonardder commented on #5240
@powrsurg: Are you the one who opened this issue? If so, could you still reproduce this? Note that current NVDA next snapshots will automatically read row and column span for table cells.

[2018-02-17 12:40] leonardder commented on #5391
This is related to #4904

[2018-02-17 12:44] leonardder commented on #5503
@jmuheim: Could you please provide a status update and/or address the question in https://github.com/nvaccess/nvda/issues/5503#issuecomment-160480296?

[2018-02-17 12:47] leonardder commented on #5718
Closing this in favour of #5717, which has the same underlying cause. I updated the title of that issue to reflect both cases.

[2018-02-17 12:47] #5718 closed

[2018-02-17 12:54] leonardder commented on #5717
@mpreyskurantov: Note that NVDA works according to your expectations when using IE. Firefox and Edge report 3 rows, while Chrome even ignores the fact that this is a table. I think that this supports @jcsteh's comment in https://github.com/nvaccess/nvda/issues/5717#issuecomment-176480245, saying that this should be treated as unpermitted code. Therefore, I"m inclined to close this, but will leave

[2018-02-17 13:57] leonardder commented on #5026
Cc @feerrenrut: being a sighted NVDA developer, how do you value this request?

[2018-02-17 14:00] leonardder commented on #5785
[**@josephsl**](https://github.com/josephsl) commented on [2 Mar 2016, 10:00 CET](https://github.com/nvaccess/nvda/issues/5785#issuecomment-191139826 "2016-03-02T09:00:43Z - Replied by Github Reply Comments"):

This is certainly possible, see #7302. I'm marking this as good for new dev

[2018-02-17 14:02] leonardder commented on #5803
I think @jcsteh's https://github.com/nvaccess/nvda/issues/5803#issuecomment-194604503 points in the direction of a won't fix. @cordeliadillon: do you still consider this request relevant?

[2018-02-17 15:15] jmuheim commented on #5503
This is very long time ago. I close it. If it occurs again, I'll reopen.

[2018-02-17 15:15] #5503 closed

[2018-02-17 16:14] zahra21 commented on #8000
hi.
did you try with previous versions of nvda and firefox?
today, i tested with nvda 2016.4 and firefox 51 and could not reproduce the problem.
i recommend that test with firefox esr or olders versions (not quantum)
to see the result.
i said not quantum, because i think older versions of nvda not be compatible with firefox quantum.
and mentioned nvda 2017.1 or nvda 2016.4, because dont have the f

[2018-02-17 17:10] josephsl commented on #5785
Hi, yep, #577 is a good proof of this. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Saturday, February 17, 2018 6:00 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add-ons Manager: change the title when all add-ons are disabled via --disable-addons command line o

[2018-02-17 18:05] didiercolle commented on #7782
As indicated in issue #7759 , I have similar problems in Thunderbird and Adobe Acrobat Reader DC.

Configuration:
NVDA: installed version 2017.4, simple object navigation on.
OS: Windows 10
Adobe Acrobat Reader DC: version 18.0, Continuous Release | Version 2018.011.20036
Thunderbird: 52.6.0 (32-bit)

Reproducing one of the problems in Adobe Acrobat Reader DC:
1. Make sure Adobe Acrobat Reader DC

[2018-02-17 18:23] PratikP1 commented on #7148
I’ve asked for an update. I will provide details as soon as I hear back.

[2018-02-17 18:35] didiercolle commented on #7782
I had a look at the navigation code: that looks ok to me.

It seems that the object hierarchy is broken.
I wrote some helper functions to check the consistency of the object hierarchy.
You can import it as follows:
1. open python console: press nvda+ctrl+z
2. type: from sys import path
3. type and  replace between '' the path to where you saved the helper.py file (simply remove the .txt extension)

[2018-02-17 20:45] Adriani90 commented on #5717
This might be related to #7852, where @feerrenrut provides a valuable reason for the different treatment of tables in different browsers. Note also comments in #7913.

[2018-02-18 01:15] ehollig commented on #6080
@lnnus, can you provide the requested information in https://github.com/nvaccess/nvda/issues/6080#issuecomment-339294662?
Specifically, can you provide an example website that we can play with that demonstrates this issue, and a log file with debug level logging?

[2018-02-18 01:42] ehollig commented on #8004
Duplicate of #1001

[2018-02-18 01:42] #8004 closed

[2018-02-18 01:52] ehollig commented on #4770
Closing from https://github.com/nvaccess/nvda/issues/4770#issuecomment-155332255 and https://github.com/nvaccess/nvda/issues/4770#issuecomment-365777608

[2018-02-18 01:52] #4770 closed

[2018-02-18 02:52] munawarb commented on #6751
@leonardder Sorry, since then I've switched systems and don't have the tools to build NVDA on here. I can fetch them again if you'd like me to test it, just to close out this issue, but that'll have to be in a month or two from now since I'm traveling for business at the moment and am short on free time. So, I'll follow up with you as soon as I can.

[2018-02-18 03:36] ehollig commented on #3818
Closing, as this is no longer of relevance to the original author. If this is still an issue for someone in VS 2017, we can reopen this issue or a new issue can be created.

[2018-02-18 03:36] #3818 closed

[2018-02-18 04:03] ehollig commented on #7995
This discussion sounds as if it is requesting a User-definable NVDA key, as discussed in #225. I am going to close this as a duplicate of that issue. Feel free to reopen if I am mistaken.

[2018-02-18 13:28] didiercolle opened #8010 "say all (nvda+a) repeats certain content on specific websites in firefox or Chrome"
Steps to reproduce:
1. open firefox
2. open for example the news article https://www.vrt.be/vrtnws/nl/2018/02/17/russische-vuile-trucs--wakkere-zwarten--verenigde-moslims-van-am/ (sorry, this is in dutch, it is the website of the Flemish broadcaster)
3. press 1 twice to get to the heading with the title
4. press nvda+a to speak out all content from that point.

perceived behavior:
text is spoken o

[2018-02-18 13:53] BEdenhofer commented on #7947
No problem my kind friend, I won't mention my mailing list

[2018-02-18 13:54] BEdenhofer commented on #7947
No problem my kind friend, I will respect your wishes Joseph

[2018-02-18 21:01] Adriani90 opened #8011 "Implement some useful braille featurs out of this binaries"
Dear all,

I have found a very interesting Repo which gives a good overview over all braille features implemented in jaws. i don't know if it is possible to write something out of it to work with NVDA, but I think it is very interesting to give it a try.
https://github.com/gloob/gpii-settings/blob/master/AT-Tools/JAWS/Default.jcf.csv

By the way, gloob has some very interesting repos related to ac

[2018-02-18 21:15] josephsl commented on #8011
Hi, I’d say let Braille Extender add-on take care of this in the meantime, and then we should consider cherry-picking priority features from that add-on when the opportunity presents itself. Thanks.

From: Adriani90 [mailto:notifications@github.com]
Sent: Sunday, February 18, 2018 1:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/

[2018-02-18 22:00] michaelDCurran commented on #8010
Most likely caused by dynamic content above the news article. The
dynamic content (such as an advertisement) keeps changing its length or
disappearing and reappearing, which then causes all the character
offsets after that point to move.
When dynamic updates occur in our virtualBuffer, we do float the caret
back to the right spot based on ancestor IDs. However, within a sayAll
where we move by lin

[2018-02-18 22:44] derekriemer opened #8012 "Update copyright year in about"
in the about dialog, NVDA says:
Copyright (C) 2006-2017 NVDA Contributors

it should say
Copyright (C) 2006-2018 NVDA Contributors

Also, should that be NV Access Limited? CC @michaelDCurran @feerrenrut @Qchristensen

[2018-02-18 22:54] jcsteh commented on #8012
It can't be NV Access Limited alone, since others own some of the copyright. We've debated on and off whether to explicitly mention NV Access Limited here. If we're going to, I'd suggest:

`Copyright (C) 2006-2018 NV Access Limited & other contributors`

[2018-02-19 02:06] #7975 closed

[2018-02-19 04:26] beqabeqa473 opened #8013 "in chrome, sometimes focus is jumping"
hello all.

there is a problem with google chrome.

for example visit
https://github.com/beqabeqa473
and in repositories tab navigate text with up/down arrows, specifically, repositories which are forked.

focus is jumping every time and some quicknav keys should be pressed to jump to the farther element to get rid of this trap.

[2018-02-19 05:53] Adriani90 commented on #7956
#8013

[2018-02-19 09:16] zstanecic opened #8015 "In microsoft win 10 mail, Nvda raises a com error"
### Steps to reproduce:

error in generator 435
Traceback (most recent call last):
  File "queueHandler.pyc", line 72, in pumpAll
  File "sayAllHandler.pyc", line 128, in readTextHelper_generator
  File "speech.pyc", line 752, in speakTextInfo
  File "treeInterceptorHandler.pyc", line 212, in getTextWithFields
  File "NVDAObjects\UIA\wordDocument.pyc", line 158, in getTextWithFields
  File "NVDAOb

[2018-02-19 10:03] Brian1Gaff commented on #8012
From looking at other software that is mostly what they do and sometimes
refer to more detailed doccs in the distribution if clarification is
required.
 Brian

[2018-02-19 10:08] Brian1Gaff commented on #8015
So is it a next or a master snap?
 What is it doing looking at the word  data when in the email program?

Brian

[2018-02-19 10:27] zstanecic commented on #8015
Hi brian,
Read my issue carefully.

1. I said, that it is the master snap latest one
2. It happens directly when the message is loading, and it is the random error, hard to reproduce.
Maybe you will not be able to reproduce it.

Wysłane z aplikacji Poczta dla Windows 10

Od: Brian Gaff
Wysłano: poniedziałek, 19 lutego 2018 11:09
Do: nvaccess/nvda
DW: zstanecic; Author
Temat: Re: [nvaccess/nvda] In

[2018-02-19 14:39] Ednunp commented on #7556
Hi. I'm still seeing this issue as well. I'm so glad I came across it, I thought I was going mad. What's interesting for me at least is that I reproduced it with Narator as well. Currently using the control shift tab method of navigating but it's slower to move around for sure.

[2018-02-19 23:11] michaelDCurran commented on #8012
Just fixing copyright year for now as that does not break translations.

[2018-02-19 23:12] #8012 closed

[2018-02-20 14:20] LeonarddeR opened #8017 "Unstable audio connection when using a Bluetooth headset with NVDA"
### Steps to reproduce:
1. Connect a Bluetooth Headset with your pc. I used a Plantronix M70
2. Interact with the system with NVDA running.

### Expected behavior:
Output from NVDA to the headset is continuous, i.e. it is not interrupted at random moments. It does not make any difference for the connection stability whether you have music playing in the background or not.

### Actual behavior:
Onc

[2018-02-20 14:37] leonardder commented on #6471
@andrew-l-d: What is the state of this issue?
Given your findings that editing after clicking in the field with the mouse is not even possible, this looks like the signature is read only. Therefore I'm inclined to close this issue, but if you could provide another update first, that'd be nice.

[2018-02-20 14:39] leonardder commented on #5890
What is the current state of this? Is it still broken? I belief I've been able to review and update my signature just fine with Outlook 2016.

[2018-02-20 14:41] leonardder commented on #5776
This looks like a duplicate of #6827.

@sumandogra: Would you be able to confirm this using the most recent Master Snapshot of NVDA?

[2018-02-20 14:45] michaelDCurran commented on #5890
The signature editor in Outlook is implemented as a Word document,
however provides no actual way of getting to the object model.
For Office 2010 and below we could sort of use displayModel to get some
information. For Office 2010 we use UIA. Office 2013 can provide
neither. They no longer use GDI, but UIA has not yet been properly
implemented.
Thus, as far as I can tell we cannot fix this.

[2018-02-20 14:45] #5890 closed

[2018-02-20 14:45] leonardder commented on #5576
Still leaning towards a close. I assume we could be able to move the focus out of the preview handler window, but this is really something MS should allow us to do. May be we should add a paragraph to the user guide that advises to disable office preview handlers?

[2018-02-20 14:57] leonardder commented on #4387
Coming back to this, @Bramd and I have found another case where this fails.

1. In the outlook Calendar, enable two calendars
2. In the folder/calendar tree view, select the two calendars. IN the context menu, select overlay.
3. Calendars are now merged, but when using left and right arrows to navigate through the days, only for one calendar the appointment status is announced.

@feerrenrut: Mind

[2018-02-20 15:01] bramd commented on #4387
@leonardder Yes, this might be exactly the same issue. Hard to say without a look at the code though.

[2018-02-20 15:23] fernando-jose-silva commented on #6471
[assinaturaoutlook.txt](https://github.com/nvaccess/nvda/files/1740630/assinaturaoutlook.txt)
I tried to edit an email signature using office 2013 by navigating with the keyboard and I could not, when on arriving with shift + tab in the signature edit field nvda makes an error, and when typing and trying to read with the arrows the text or nvda is muted.
You could see that typed text was entered b

[2018-02-20 15:53] Adriani90 commented on #8017
I have the same Problem on Dell xps13 and on my work Station. But in my case Jaws has the same Problem. I have found a viable solution as follows:

1. Create a short 16 bit 11 khz mono wav file with very low frequency (10 hz) and fade in and out to avoid clicking

Then a vb script like this:

[code]

Windows Scheduler Plays it every 3 seconds.
I run this script as .vbs with wscript.exe.

Actually

[2018-02-20 19:48] fernando-jose-silva commented on #7979
Hello everyone.
You can check if there is anything else that can be done, unfortunately I still have problems downloading nvda next directly through the page, it continues with the download interrupting several times before I can successfully complete it.
Again tested on multiple connections.
Thank you very much for your attention.

[2018-02-20 20:38] andrew-l-d commented on #6471
I cannot give an update re Outlook 2010, as we have moved to Outlook 2016.  It seems possible to create/edit signatures in Outlook 2016 with NVDA 2017.4.  It therefore seems appropriate to close.

Andrew

[2018-02-20 22:26] jeanbrazcosta opened #8018 "Nvda can not read the paypal page for donation"
Nvda can not read the paypal page for donation

reproduction

1: I visited the nvda page
https://www.nvaccess.org/donate/
2: I marked the other option, and I typed 5
and  clicked to donate
3: being on the paypal page at
https://www.paypal.com/donate/?token=NXE3MoBDZuImKOCA6s4oZBbY-VcjE5XCXFU8WH7hJ6AWcZBhZ6SF93sbWKYr2UbA3CrY1G&country.x=US&locale.x=
nvda does not read
using tab, arrows can not comp

[2018-02-20 22:37] Adriani90 commented on #5162
Dear all,

after great support from skilled baum product users, we found out that the vario pro 64 problem raised because of lib usb from BRLTTY installed on that computer. I have also reached the man who was involved in testing this driver during the whole development process. He is interested in doing more tests and also writing a detailed report if needed. Here is his e-mail adress:

<Steffen K

[2018-02-20 22:47] Adriani90 commented on #7985
Hello,

as stated in #5162, the TASO works in NVDA with the shared driver. However, as we are in process to reach the main developer of this driver, it has to be considered that driver updates are possible from time to time. I hope the driver can be implemented in NVDA so that we can perform broad testing and provide feedback to Florin and NVDA developers.

[2018-02-20 22:48] Adriani90 commented on #7985
this issue can be closed in case the driver will not be implemented in NVDA.

[2018-02-20 22:58] ehollig commented on #8018
Are you using Chrome version 64.0.3282.167? I was able to reproduce this once using Chrome 63, but after the update to Chrome 64, it seems to be working correctly.

[2018-02-21 00:44] jeanbrazcosta commented on #8018
I reestarded My computer but I still has a problem

2018-02-20 19:58 GMT-03:00 Ethan Holliger <notifications@github.com>:

[2018-02-21 04:51] leonardder commented on #6471
It seems to be appropriate to close this indeed.

fernando-jose-silva: regarding your issue with Outlook 2013, please see https://github.com/nvaccess/nvda/issues/5890#issuecomment-366999514

[2018-02-21 04:51] #6471 closed

[2018-02-21 04:54] leonardder commented on #5162
@Adriani90: thanks for your update. For privacy reasons, I've removed the e-mail address you mentioned from your comment.

[2018-02-21 04:57] leonardder commented on #7985
I belief the Baum TASO module is a quite important part of the VarioPro eco system. Therefore I think it is ok to also keep track of module related development in #5162. Feel free to share any thoughts, questions or findings regarding the several modules in that issue. I'm closing this one.

[2018-02-21 04:57] #7985 closed

[2018-02-21 05:01] leonardder commented on #5162
Note that, since they are very tightly related and part of the Variopro eco system and protocol, I consider it OK to also discuss the TASO module and other VP modules in this issue. Therefore I closed #7985.

[2018-02-21 05:43] michaelDCurran commented on #7348
For anyone experiencing the major slowdown in Excel spreadsheets containing comments or dropdowns, please test the following try build and report back:
https://ci.appveyor.com/api/buildjobs/12py6i000i9ea4vx/artifacts/output%2Fnvda_snapshot_try-i7348-14872%2Cbdbaad79.exe

[2018-02-21 06:13] seancurtis commented on #2039
Is there any plans to fix this soon? A customer of ours that uses NVDA as their screen reader raised a bug with us relating to our dropdown menus and how bad the keyboard support is. We've built them with accessibility in mind, and the focus issue only occurs once they turn NVDA on :(

I've tested in Narrator and Voiceover but they work perfectly. Could you let us know if there are plans to fix th

[2018-02-21 06:13] seancurtis commented on #5825
Is there any plans to fix this soon? A customer of ours that uses NVDA as their screen reader raised a bug with us relating to our dropdown menus and how bad the keyboard support is. We've built them with accessibility in mind, and the focus issue only occurs once they turn NVDA on :(

I've tested in Narrator and Voiceover but they work perfectly. Could you let us know if there are plans to fix th

[2018-02-21 06:34] michaelDCurran commented on #6524
Humanware have finally managed to get me a BrailleNote Touch so I can continue work on the driver. I now have it and am getting used to its layout and settings before I start looking into debugging / fixing the USB HID driver in the next few days. Bluetooth is working okay for me.

[2018-02-21 07:02] leonardder commented on #4387
I'm afraid there is no way to fix this using the outlook object model:

1. To determine the start and end date and time of the currently active time slot or day, NVDA uses the current view object to fetch the start and end date of the selection. It seems that view objects do not expose information about the amount of appointments in a selection.
2. To gather that information instead, NVDA fetches

[2018-02-21 07:06] leonardder commented on #6524
@michaelDCurran: Are you going to base this on @jcsteh's (brailliantBtHid branch (i.e. does it also implement Bluetooth HID)?

[2018-02-21 07:36] jcsteh commented on #6524
I'd recommend basing any further work on that branch, as it includes other changes necessary to support these newer HumanWare displays as well.

[2018-02-21 07:56] michaelDCurran commented on #6524
I haven't properly looked into this yet, but I'm not quite sure what you
mean about bluetooth HID... Current versions of NVDA seem to work fine
with this device via Bluetooth and I did not need to install any
drivers. Is it Bluetooth serial by default and I'm just lucky Windows 10
supports this Bluetooth device? Or is it already Bluetooth HID. I have
not yet seen any settings on the Device to chan

[2018-02-21 08:01] jcsteh commented on #6524
Only the Brailliant uses Bluetooth HID and only in OpenBraille mode. Other displays use USB HID and Bluetooth serial.

[2018-02-21 08:01] michaelDCurran commented on #6524
Ah. After resetting the device, Brailliant driver in NVDA no longer
shows up. There must be settings somewhere on the device then.

[2018-02-21 08:07] jcsteh commented on #6524
I believe the BrailleNote can emulate the Bluetooth name of the Brailliant in order to support older screen readers. However, it's still Bluetooth serial regardless, even in native mode.

[2018-02-21 08:52] Adriani90 commented on #7956
This is related to
#2039

[2018-02-21 08:53] Adriani90 commented on #8013
Related to
#2039

[2018-02-21 09:48] Adriani90 commented on #7782
I think this issue has to be edited since we can reproduce this issue in several applications. I have just discovered that this issue arises also in MS PowerPoint and other applications. I don't know if this is up to NVDA. I rather think that the developer must build in a consistent object jerarchy. But I think in case of MS Office we could start conversations with Microsoft to improve object jera

[2018-02-21 09:54] Adriani90 commented on #7782
We have to find out in which regions of the window NVDA gets stuck. According to my experience it is often either near to Status bar or to ribbons.

[2018-02-21 09:57] Adriani90 commented on #7782
In my view the accessibility Impact would be much higher if developers developed a Logical and consistent object hierarchy. I don't know if there are any accessibility Standards related to this. However, I have noticed that NVDA does not get stuck in Outlook 2010. I think it might be related to UIA.

[2018-02-21 11:04] michaelDCurran commented on #6524
Now using Jamie's branch Bluetooth is working well. I am guessing that when I received the device it was  still on an older version where the bluetooth name had Brailliant in it. It now just says BrailleNote Touch after I reset / updated the device.
However, as Jamie points out, USB is problematic. The device initializes okay, but all display writes do nothing.  If I comment out ever calling write

[2018-02-21 11:07] jcsteh commented on #6524
What happens if you disable reading? My hypothesis is that the device
doesn't like us waiting on a read for some reason while we're also writing.
This doesn't make sense, since reading is actually just retrieving from a
circular buffer that Windows maintains as it receives HID input reports,
but maybe there's some weird interaction I'm not understanding.

[2018-02-21 11:32] leonardder commented on #6524
[**@michaelDCurran**](https://github.com/michaelDCurran) commented on [21 feb. 2018 12:04 CET](https://github.com/nvaccess/nvda/issues/6524#issuecomment-367291594 "2018-02-21T11:04:15Z - Replied by Github Reply Comments"):

May be instead of using two hwIo.Hid instances, you need to use different endpoints for I/O. I belief I pointed that out as an idea to @jcsteh before he left. See the Hims driv

[2018-02-21 13:24] #8018 closed

[2018-02-21 13:26] jeanbrazcosta commented on #8018
I ran the test on another computer and it worked correctly.

[2018-02-21 14:38] tibabit opened #8020 "keyboardHandler.injectRawKeyboardInput stops working in NVDA settings menu"
I have noticed the `keyboardHandler.injectRawKeyboardInput`  stops working once I open NVDA menu by pressing insert+n. How ever I am able to navigate through it using the keyboard on my laptop, and once I exit NVDA menu by pressing escape on the keyboard in my laptop `keyboardHandler.injectRawKeyboardInput` starts working again.

Any one knows if this is known issue? or anyone facing the similar i

[2018-02-21 19:13] cblouch commented on #2039
Just ran into a similar reproducible situation on Firefox and Chrome on Windows 10. I have two containers, A and B, with focusable elements in them. A has display:none, B has display:block. Focus is on a DIV in B. If I hit enter on the DIV a script hides B, unhides A and moves focus to a DIV in A. NVDA is silent even though I moved focus to newly displayed content. If I tab away and come back the

[2018-02-21 19:32] Adriani90 opened #8021 "In power point, say diagram type and alt text, if any, when navigating the slide by tab and shift+tab"
Hello,

currently, when I navigate a slide with tab and shift+tab and come across a diagram, NVDA says only "chart". Is it possible to make NVDA report the diagram type which has been chosen when the diagram was created? For example instead of "chart" NVDA should report "pie chart" or "line chart".
This would make it for the user much easier to understand the purpose of the slide out of the contex

[2018-02-21 19:38] Adriani90 opened #8022 "In power point 2016, NVDA repeats very often the same tool bar or group title when navigating the ribbons by tab and shift+tab"
### Steps to reproduce:
1. Open Power Point 2016
2. Press alt and then right arrow to navigate to the "insert" ribbon
3. press tab and shift+tab to navigate through the items

### Expected behavior:
NVDA should report a group title only once I have entered that group (i.e. illustration).

### Actual behavior:
NVDA repeats very often the same group title or tool bar title after I have entered the g

[2018-02-21 19:51] leonardder commented on #8020
[**@tibabit**](https://github.com/tibabit) commented on [21 Feb 2018, 15:38 CET](https://github.com/nvaccess/nvda/issues/8020#issue-298994638 "2018-02-21T14:38:38Z - Replied by Github Reply Comments"):

I assume you meant "not working" here? Could you also elaborate on how you use `injectRawKeyboardInput`?

[2018-02-21 19:52] leonardder commented on #8022
Could you make sure that you have the most recent version of Office 2016? Also, does this problem occur for you in Excel/Word/Outlook as well?

[2018-02-21 19:53] Adriani90 commented on #7087
I have slightly edited this issue.

[2018-02-21 19:58] Adriani90 commented on #7088
Dear all,

are there any conversations with Microsoft regarding these issues? Or is it up to NVDA developers to solve it?

[2018-02-21 19:58] leonardder commented on #8011
I believe that this issue is a bit too broad in scope.

[**@Adriani90**](https://github.com/Adriani90) commented on [18 Feb 2018, 22:01 CET](https://github.com/nvaccess/nvda/issues/8011#issue-298117796 "2018-02-18T21:01:33Z - Replied by Github Reply Comments"):

NVDA doesn't use the concept of status cells.

Could you elaborate on what this does?

I assume this is line mode, structured mode, etc.?

[2018-02-21 20:00] leonardder commented on #8015
Could you please also test this with 2017.4? Many major changes have been made to UIA support in Word, which also covers Windows 10 mail I believe.

[2018-02-21 20:05] taylortdixon opened #8023 "aria-live="assertive" is not read in Edge browser after child is added"
When a child is added to a div with the attribute `aria-live="assertive"`, Microsoft Edge is not reading this appended child. In addition, I am looking for any guidance on how to get around this for the Edge browser.

### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Windows version:

Name and version of oth

[2018-02-21 20:06] Adriani90 commented on #7090
Dar all, this one can be closed because it can cause confusions. I will create another one.

[2018-02-21 20:10] Adriani90 commented on #7089
I have edited this issue to clarify what is needed here.

[2018-02-21 20:15] leonardder commented on #6751
I will test this on my corporate system later this week.

[2018-02-21 20:17] Adriani90 opened #8024 "in Power Point, Add feature to NVDA to report the position of elements in centimeters rather than points."
### Steps to reproduce:
1. Open Power Point
2. On the first slide, press tab to go to the title place holder
3. Press arrow keys to move it

### Expected behavior:
NVDA should report the relative position on the screen in centimeters and not in points.

### Actual behavior:
NVDA reports the position of elements in points which makes it very hard for the user to imagine how far the element has been

[2018-02-21 20:32] Adriani90 opened #8025 "Add support for screen layout in MS Power point"
Dear all,

I would like to start a discussion on how we could make NVDA able to present a slide in power point as better as possible. It should give the user a better visualization of how elements are ordered on a slide.

My suggestion is to implement kind of screen layout similar to the sreen layout in browsers. Even if we cannot act with every element on a slide, an user would get a faster visua

[2018-02-21 20:33] Adriani90 commented on #8022
Hello,

yes this is the very last version.

I can reproduce this issue only in Power Point.

Von: Leonard de Ruijter [mailto:notifications@github.com]
Gesendet: Mittwoch, 21. Februar 2018 20:53
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] In power point 2016, NVDA repeats very often the sam

[2018-02-21 20:53] Adriani90 commented on #8011
If there are many bullet shapes in a document, only the bullets which can be displayed in braille are shown on the display. All other bullet shapes are being generalized to for example * (dots 35) or - (dots 36). I think this issue is not very world changing but it would show in braille at least that there is a bullet.

As far as I could experience in earlier jaws versions, there is also a speech

[2018-02-21 21:36] Ednunp opened #8026 "NVDA reacts very slowly when moving between lines whilst reading emails in Outlook 2016"
when using any version of NVDA, Open an email message in Outlook 2016 by simply hitting enter. Reading character by character with the cursor keys is very responsive for the most part, but cursoring up and down between lines can give a delay of over a second on occasion and makes it very hard to scroll through an email. I assume this might be related to the object redrawing like so many of the 201

[2018-02-21 23:34] Adriani90 opened #8027 "Improve support for Chromium, useful for people working on bloomberg terminals"
Dear all,

is it possible to improve support for this project?
https://github.com/bloomberg/chromium.bb

This is the browser used hwen working in bloomberg. It would help many users who want to apply for jobs in finance.

I will test it on my work and provide you with more feedback on what exactly is not working. But it would be good if some people here can test it too.

Thanks.

[2018-02-22 04:54] leonardder commented on #8025
Have you already tried to run a slide show (f5) and doesn't this solve your case? If not, it would be nice if you could elaborate on whether slide show view is not sufficient for you.

[2018-02-22 05:49] tibabit commented on #8020
Yes, I meant "not working here".

I am using following code snippet to inject keys-

	def injectKey(cls, vk, isPress, extended):
		scancode = MapVirtualKey(vk, 0)
		keyboardHandler.injectRawKeyboardInput(isPress, scancode, extended)

I am getting virtual key codes of the keys from the [this](https://msdn.microsoft.com/en-us/library/windows/desktop/dd375731(v=vs.85).aspx)
and for extended flag I am

[2018-02-22 06:23] leonardder commented on #6219
I'm now on 16.0.9001.2102, and "No associated draft" is no longer exposed. Instead, the text node is empty.

[2018-02-22 07:18] leonardder opened #8028 "NVDA reports "has attachment" for messages without visible attachments in Outlook"
### Steps to reproduce:
1. In outlook, send yourself a message containing a picture in the message body.
2. List the message in the Inbox

### Expected behavior:
The picture is part of the message body, so NVDA shouldn't announce "has attachments".

### Actual behavior:
NVDA announces has attachment. However, when you press enter on the message to open it, than shift+tab to go to the list of attac

[2018-02-22 07:23] Adriani90 commented on #8025
@Leonardder when pressing f5 NVDA concentrates on showing as much text as possible but you don't really get an information on where things are on the screen and which shape they have.

Let's take the example above: assume the days (yesterday, today and tomorrow) are rectangle shaped forms and "rainy" is a text field. When pressing f5, the arrows are not being reported and the shapes rectangle and

[2018-02-22 07:55] zstanecic commented on #8015
Well,
It’s irrelevant, because in 2017.4 i don’t see this error

Wysłane z aplikacji Poczta dla Windows 10

Od: Leonard de Ruijter
Wysłano: środa, 21 lutego 2018 21:00
Do: nvaccess/nvda
DW: zstanecic; Author
Temat: Re: [nvaccess/nvda] In microsoft win 10 mail, Nvda raises a com error(#8015)

Could you please also test this with 2017.4? Many major changes have been made to UIA support in Word, whic

[2018-02-22 10:12] Brian1Gaff commented on #8028
This same issue occurs in Outlook express sometimes by the way.

Its always been a problem in outlook as well. Another old Microsoft
oversight?

I notice it in these lists sometimes if a little graphic is used in a
signature as well.
 Brian

[2018-02-22 13:02] leonardder commented on #8020
Are you sure you don't have "Handle keys from other applications"
disabled in a particular config profile?

[2018-02-22 13:04] leonardder commented on #8015
[**@zstanecic**](https://github.com/zstanecic) commented on [22 feb. 2018 08:55 CET](https://github.com/nvaccess/nvda/issues/8015#issuecomment-367596025 "2018-02-22T07:55:13Z - Replied by Github Reply Comments"):

What do you consider irrelevant here? I actually belief that it would be quite relevant if this issue did not occur in 2017.4 and does occur in master snapshots. Note that release versio

[2018-02-22 13:06] zstanecic commented on #8015
Yes, i have checked it

Wysłane z aplikacji Poczta dla Windows 10

Od: Leonard de Ruijter
Wysłano: czwartek, 22 lutego 2018 14:05
Do: nvaccess/nvda
DW: zstanecic; Author
Temat: Re: [nvaccess/nvda] In microsoft win 10 mail, Nvda raises a com error(#8015)

@zstanecic commented on 22 feb. 2018 08:55 CET:
It’s irrelevant, because in 2017.4 i don’t see this error
What do you consider irrelevant here? I

[2018-02-22 13:06] leonardder commented on #8028
I think this can't be regarded to as a bug, as these attachment are real attachments. However, as they are part of the message body, they do not show up in the attachment list. However, if you explicitly choose to save all attachments from the ribbon, you will notice that Outlook yet shows these items.

[2018-02-22 13:12] leonardder commented on #8015
@michaeldcurran: could you please prioritise and investigate this?

[2018-02-22 13:14] Adriani90 commented on #8025
I have edited the arrow symbols.

[2018-02-22 13:18] zstanecic commented on #8015
Well, i will say that it is a high priority, because it’s going into 2018,1

Wysłane z aplikacji Poczta dla Windows 10

Od: Leonard de Ruijter
Wysłano: czwartek, 22 lutego 2018 14:16
Do: nvaccess/nvda
DW: zstanecic; Mention
Temat: Re: [nvaccess/nvda] In microsoft win 10 mail, Nvda raises a com error(#8015)

@michaelDCurran: could you please prioritise and investigate this?
—
You are receiving this

[2018-02-22 14:12] leonardder commented on #3366
cc @jhomme: Can you still reproduce this?

[2018-02-22 14:15] leonardder commented on #4387
I've investigated this using Outlook 2013. Where Outlook 2016 exposes information about number of appointments using MSAA, Outlook 2013 and older does not. Therefore, we must rely on the object model here. This issue is caused by a limitation in the object model as noted above. I've been able to replicate this deficiency in JAWS 2018 with Outlook 2013.

I'm closing this as can't fix. Relying on MS

[2018-02-22 14:15] #4387 closed

[2018-02-22 14:25] leonardder opened #8029 "Outlook 2016: Use MSAA to announce timeslot and appointment information"
Follow up of #4387

### Steps to reproduce
1. In the outlook Calendar, enable two calendars
2. In the folder/calendar tree view, select the two calendars. IN the context menu, select overlay.
3. Calendars are now merged, but when using left and right arrows to navigate through the days, only for one calendar the appointment status is announced.

### Background
I'm afraid there is no way to fix thi

[2018-02-22 14:37] tibabit commented on #8020
Yes it's not disabled. Like i said it's working at all other places, I tested.

[2018-02-22 15:05] Brian1Gaff commented on #8028
Yes its a Microsoft email client thing in fact, I seem to recall live mail
did the same thing.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Brian Ga

[2018-02-22 15:06] Brian1Gaff commented on #8015
Does it in fact stop it functioning?

[2018-02-22 21:24] fernando-jose-silva opened #8030 "nvda does not read text selection in excel dialog"
### Steps to reproduce:
Open excel.
Press alt
Right arrow until formulas
press tab until you enter function and press enter.
Now the focus will be on an editable field.
Enter a text and select.
Press nvda + shift + s so that nvda reads the selected text.

### Actual behavior:
nvda informs you that there is no text selected.

expected
The nvda should read the selected text.

### System configuratio

[2018-02-22 21:28] jcsteh commented on #8000
[**@zahra21**](https://github.com/zahra21) commented on [Feb 18, 2018, 2:14 AM GMT+10](https://github.com/nvaccess/nvda/issues/8000#issuecomment-366451569 "2018-02-17T16:14:02Z - Replied by Github Reply Comments"):

It'd be more accurate to say that the execInThread change creates the circumstances which allow this crash to happen, but in effect, yes, it's a regression introduced by this change. H

[2018-02-22 21:45] jcsteh commented on #8000
Even though the System menu bug is hopefully going to get fixed in Firefox, it occurred to me that we should be able to fix this trivially by just replacing the message with WM_NULL in the hook, since WH_GETMESSAGE hooks are able to modify the message. Strangely, this didn't fix the crash, even when I also set wParam to NULL. My only guess is that whatever mechanism is re-posting the messages must

[2018-02-22 23:21] ThomasStivers commented on #7958
I finally updated to insider build 17101 and that fixed the problem.

[2018-02-22 23:21] #7958 closed

[2018-02-23 04:31] ehollig commented on #7090
Closing because of possible confusions. Since there seems to be multiple issues discussed, please create separate issues, if they have not been created already, or discuss on a mailing list, as suggested in https://github.com/nvaccess/nvda/issues/7090#issuecomment-297650161

[2018-02-23 04:31] #7090 closed

[2018-02-23 05:21] sjtaylor82 opened #8032 "Delay of around 7 seconds when changing to application using configuration profiles other than normal"
Example:
1. Open Firefox
2. Visit Configuration profiles from NVDA.
3. Create a new profile called Web and assign it to the application.

When switching between Firefox and other applications, significant delays are encountered.
This is true of any application for which a separate config profile is created, e.g. Microsoft Word.
This behaviour has been observed
in NExt and Master builds of NVDA thi

[2018-02-23 05:23] josephsl commented on #8032
Hi, what speech synthesizer and/or Windows version are you using? Also, is this FF58? Lastly, what about creating and switching to profiles for other apps (such as Notepad or Chrome)? Thanks.

From: sjtaylor82 [mailto:notifications@github.com]
Sent: Thursday, February 22, 2018 9:21 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda

[2018-02-23 05:44] leonardder commented on #8032
Are you using a braille display by any chance?

[2018-02-23 05:45] sjtaylor82 commented on #8032
I certainly do intermittently, but Braille is currently set to No Braille.

On 23/02/2018 15:44, Leonard de Ruijter wrote:

[2018-02-23 05:49] michaelDCurran commented on #8032
If you Restart NVDA with add-ons disabled, do you still experience the
delay?

[2018-02-23 05:50] sjtaylor82 commented on #8032
HI Mick, Yes I do.

However, I have just changed braille input from UEB grade 2, to grade 1,
and back to grade 2 again, still set to no braille.

I no longer can replicate the issue!

Come to think of it, this only started after recently using a HIMS
braille display

On 23/02/2018 15:49, Michael Curran wrote:

[2018-02-23 05:53] josephsl commented on #8032
Hi, uh oh, @LeonardDer… Okay, please report back after you use NVDA without a braille display for a day (complete with switching back and forth between normal configuration and FF profile) and see if you can reproduce this. If it does turn out to be an issue while using a specific display, then we need to test if folks using other display models can reproduce this problem. Thanks.

From: sjtaylor8

[2018-02-23 05:53] michaelDCurran commented on #8032
No doubt NVDA was still configured to load the Hims driver. but as it
was not connected or in range, it was falling back to No Braille.

I think I should be able to reproduce this situation with another
braille display connected by bluetooth and out of range.

Thanks for reporting the issue.

[2018-02-23 05:58] michaelDCurran commented on #8032
Technical:
I think the issue is that when Braille handles a config switch, it
compares the configured display name (in this case Hims) with the
currently loaded display name (in this case No Braille). As they don't
match, then Braille thinks it needs to reload the display. In some cases
(such as a bluetooth device being out of range) this could take a
significant delay to  search and fail.
We need

[2018-02-23 06:03] josephsl commented on #8032
CC @DKager, @JCSTeh

[2018-02-23 08:26] richardweiym commented on #7754
@govsta1981  @feerrenrut  @ehollig  I am the Engineer from ZOOM, sometimes we need proactively announce some text in the meeting, something like "your audio is muted" "xxx started screen share", here are the method we used to realize this feature: NotifyWinEvent(EVENT_SYSTEM_ALERT, m_hWnd, (LPARAM)pAccControl, CHILDID_SELF);		pAccControl is an control that implemented IAccessible interface and his

[2018-02-23 08:31] josephsl commented on #7754
Hi, NVDA does support UIA-based system alert event. I suggest using either a live region changed event or a name changed event so someone who plans to write an app module or a support class for this can implement this easily. Thanks.

From: richardweiym [mailto:notifications@github.com]
Sent: Friday, February 23, 2018 12:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@

[2018-02-23 08:34] richardweiym commented on #7754
@josephsl , it is not UIA-based, it is just legacy IAccessible solution...

[2018-02-23 08:37] josephsl commented on #7754
Hi, I see. As I said, because NVDA only supports UIA-based system alert, the best case for now is using generic IAccessible name change or live region event. If this is a standalone app, maybe it might be possible to let NVDA respond to an alert event. If it’s a web-based solution, perhaps a live region could work. Thanks.

From: richardweiym [mailto:notifications@github.com]
Sent: Friday, Februar

[2018-02-23 08:48] michaelDCurran commented on #7754
I think this needs a little more investigation before we can say we
won't do it.
Thanks for the report. We will look into it soon.

[2018-02-23 08:51] richardweiym commented on #7754
@josephsl  Thanks for you advice, it is standalone Windows Desktop Application. As we tested,  "name change event" can't lead Screen Reader to announce the new text, so we uses this solution..

@michaelDCurran  Thanks

[2018-02-23 09:11] josephsl commented on #8009
Hi,

Update: success - NVDA can track notification events, although it is unlike anything we've seen so far, as this event lets screen readers respond differently based on notification kind, processing constant, activity ID and what not. I'll come up with a prototype implementation via a PR soon.

Thanks.

[2018-02-23 11:21] dkager commented on #8029
I think the date format is not standardized and neither is the number of comma-separated fields you might get. If this is the best way, I wonder if we should put it in an addon.

[2018-02-23 11:55] leonardder commented on #8029
I did some research on the standardisation of the used format, but it is indeed non-standard, though tied to the user locale, not the office locale.

Let's at least hope that Outlook 2019 comes with a native UIA implementation.

[2018-02-23 16:21] leonardder commented on #8032
After discussing this with Mick, it has been decided not to fix this in 2018.1. This is not an issue caused by the new Hims driver, however it might be the case that the new driver, due to the native way of interfacing with bluetooth devices, makes this issue more prevalent than it was before.

It will be fixed as part of braille display auto detection (#1271, #7741).

[2018-02-23 18:36] leonardder commented on #8027
Honestly, I consider this issue to be too broad in scope. If you find some problems with this software and if you believe that things should be fixed on the NVDA side, it might be better to post them all in separate issues, so it will be easier to keep track of them.

[2018-02-23 18:41] dkager commented on #8027
I agree. The motivation is clear, but the scope is too broad. A request for users to test the application may be more suitable for the users mailing list.
As this appears to target potential future users, not current users, the priority would probably not be as high as, say, Microsoft Office issues.

[2018-02-23 20:20] leonardder commented on #8027
Closing this as invalid. @Adriani90, please open a new issue if you think that a particular issue with this software may have to do with how NVDA deals with it.

[2018-02-23 20:20] #8027 closed

[2018-02-24 04:34] josephsl commented on #8009
Hi,

As part of this work, a new function named getIUIAutomationInterface will be added to UIA handler module. The job of this function is to return the highest supported IUIAutomation interface. By default, it'll return version 3, as NVDA will fall back to version 2 if this function does not return appropriate interface.

The data to be returned:

* Windows 8.1: IUIAutomation3
* Windows 10 build

[2018-02-24 05:25] josephsl commented on #7984
Hi,

Update: #8009 provides a more general case.

Thanks.

[2018-02-24 06:18] vgjh2005 opened #8033 "Messy code problem in ESpeak is occured again in 2018.1 rc1 in Chinese."
Hi:
Messy code fixed in next branch is occured in 2018.1 rc1. For example, 复选框 is read as 复4选3框1. Please fix it. Thanks!

[2018-02-24 09:17] kentxu opened #8034 "IE11+nvda problem with SVG filter"
### Steps to reproduce:
1. open IE 11
2. run the attached simple html file
3. press down key to switch focus to the text
4. the visual of the svg area is shifted

### Expected behavior:
should not shift the svg,  similar to how chrome+nvda behaves

### Actual behavior:
svg visually shifted

### System configuration:
NVDA version:2017.4

NVDA Installed or portable:
installed

Other information:
kin

[2018-02-24 10:02] Brian1Gaff commented on #7984
You know my feelings about what microsoft seem to be doing lately. they have
never heard the proverb, if its not broken don't fix it!
 grin.

[2018-02-24 10:44] vgjh2005 commented on #8033
Please update espeak ng to 1.49.3 to fix this problem. Thanks!

[2018-02-24 11:14] Neurrone opened #8035 "Crippling lag with NVDA and Firefox on Google's homepage"
#### Steps to reproduce:

Go to https://google.com with NVDA and firefox. Find the search field and activate forms mode.

#### Expected behavior:

NVDA and Firefox should not freeze.

#### Actual behavior:

NVDA and firefox will freeze. This doesn't occur all the time - I suspect this may be caused by the doodle which changes. Its so bad that I'm forced to restart my computer, since NVDA can becom

[2018-02-24 11:28] vgjh2005 commented on #7397
Please pay attention to this criticle bug. Thanks!

[2018-02-24 11:30] vgjh2005 commented on #7397
It's not new feature. There are still presist bug, not a perfect version of NVDA.

[2018-02-24 12:03] leonardder commented on #8033
@vgjh2005: Did this problem occur in 2017.4?

cc @feerrenrut

[2018-02-24 16:13] vgjh2005 commented on #8033
yes

[2018-02-24 17:17] josephsl commented on #7984
Hi, in this case, they did publish some materials about it, so both sides are equally at fault (I think). Thanks.

From: Brian Gaff [mailto:notifications@github.com]
Sent: Saturday, February 24, 2018 2:03 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Unlike Narrator, NVDA does not read th

[2018-02-24 18:16] BEdenhofer opened #8036 "NVDA with google crome and firefox"
When typing in the address bar with google chrome or firefox, NVDA anounces everything you type. for example, it says www selection removed, and it keeps repeating as auto complete! when you type in the address bar, it should only anounce one letter, at a time, like microsoft edge for example when you type in the address bar with microsoft edge, it says www.nvaccess.org and it doesn't fill it in a

[2018-02-24 21:02] ghost opened #8037 "Uninstalling avast antivirus with NVDA!"
When trying to uninstall avast antivirus, with NVDA using the avast uninstall utility, it asks you if you want to uninstall avast with out going into safe mode, whitch is not recommended, and when I chews the button that says no, I get a message saying, you must disable the self protection module in avast antivirus, under settings in the troubleshooting tab, now when I do it with jaws, I chose the

[2018-02-25 02:03] sjtaylor82 opened #8038 "Outlook prompts that body of message has been changed if NVDA encounters a graphic or embedded Image"
Using Outlook 2016, NVDA 2018.1 RC1 will cause Outlook to prompt a user to save changes to a message due to changes  being made to the body of the message. This only occurs when NVDA is running, and only if an embedded image or graphic (for example, as used in a signature, or a separator from an original message) has been reached with the caret.

[2018-02-25 02:05] josephsl commented on #8038
Hi, confirmed. I’ve been wondering why I’ve been getting that prompt for a while. How about with 2017.3 or 2017.4, and is this specific to Outlook 2016 and can this be observed in 2010 or 2013? Thanks.

From: sjtaylor82 [mailto:notifications@github.com]
Sent: Saturday, February 24, 2018 6:03 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nva

[2018-02-25 11:15] dkager commented on #7611
Can reproduce with master-14883,c83231ec. Interestingly, the object name is set but not announced or brailled. You can also not arrow through the heading text.

[2018-02-25 11:35] Brian1Gaff commented on #8038
Does Outlook 2016 use Word for its editor still?

I've noticed that word of various vintages does exactly the same even after
a save, but not always which is irritating.
 Brian

[2018-02-25 11:48] Adriani90 commented on #7864
Here is an addon which simulates the right click on an object:
http://www.nvda.it/rightclickmenu

This is a first stept in providing an easier approach to handle such objects. Now NVDA must allow following:
1. lock object navigation, like in objpad addon written by @josephsl and
2. Report objects which have custom context menus.

I think this last step will be the hardest one because I think there

[2018-02-25 16:37] ghost opened #8039 "NVDA with microsoft edge"
When typing in the comment body on github with microsoft edge, NVDA keeps saying spelling error, even though I don't make mistakes in my typing. I did the exact same thing in google chrome, as well as firefox and internet explorer, and this problem doesn't occur, whatsoever.

[2018-02-26 00:03] ghost opened #8040 "NVDA with opera"
When I downloaded opera, I've tested it with both jaws and NVDA! here's the problem! when you launch the browser, press your alt key on the right of your spacebar, NVDA nor jaws says nothing, now when you hit your alt key, on the left side of your spacebar, jaws and NVDA says menu, because the menu actualy pops up. This needs to be addressed, I can reproduce this problem, everytime.

[2018-02-26 03:54] PratikP1 commented on #8039
I am unable to replicate this behavior. Could you please supply the log NVDA log to show this? Thank you.

[2018-02-26 07:24] leonardder opened #8041 "Word 2016 UIA with braille: error when returning to focus mode or when changing review mode to object"
Thanks to @bramd for the initial report.

### Steps to reproduce:
1. Use braille, set it to tether automatically or to review
2. Open a plain Word 2016 document
3. Type a line of text
4. Below that line, create a heading
5. Move to the top of the document
6. Enable browse mode
7. Press "h" to go to the heading
8. Disable browse mode

### Expected behavior:
Browse mode disables properly, without an

[2018-02-26 07:24] leonardder commented on #8041
cc @michaeldcurran

[2018-02-26 09:44] leonardder commented on #8038
@bramd: Could this somehow be caused by the fix for #6827?

[2018-02-26 09:48] dkager commented on #8038
@leonardder We also wondered if support for charts in Word and PowerPoint might be the cause.

[2018-02-26 09:58] leonardder commented on #8040
Hey,

Do I understand it right that the right alt key never works and the left alt key works always?

What happens if you enable NVDA keyboard help (nvda+1) and press the right alt key? HOw is it announced?

[2018-02-26 10:03] leonardder commented on #8036
This is browser specific behaviour. As for Firefox, I belief you can disable address bar auto completion, I"m not sure about Chrome. Anyway, unless we believe that this should be fixed on nVDA's end, which I wouldn't, I'm inclined to close this as a won't fix.

[2018-02-26 10:04] leonardder commented on #5717
I'm closing this as per above comments.

[2018-02-26 10:04] #5717 closed

[2018-02-26 12:28] leonardder commented on #4971
I'm afraid this can't be fixed for Outlook 2010 and older. Where Outlook 2013 and above expose the replied to or forwarded status using the UIA value, Outlook 2010 does not. For Outlook 2010, name and value properties just seem to expose the same.

We can not retrieve replied to or forwarded information from the object model, as that triggers a security warning in Outlook 2010.

Closing this as ca

[2018-02-26 12:28] #4971 closed

[2018-02-26 13:28] dineshkaushal commented on #8038
On my laptop with windows 10 and office 2016, outlook prompts for many messages including github messages and I could not find any embedded object in those messages.

This has started only since 2018.1 and I am observing this issue since January build nvda_snapshot_master-14785,1ce1c3e1.

From: Davy Kager [mailto:notifications@github.com]
Sent: Monday, February 26, 2018 3:18 PM
To: nvaccess/nvda <

[2018-02-26 14:01] leonardder commented on #6731
@Adriani90 reported in #1586 that the Converter Card isn't working as expected.

It would be really helpful if we could have a log file of what's going wrong when trying to connect to the particular Voyager display you mentioned. Would you or the user your mentioned be able to retrieve a log with debug logging enabled? To have as much debug information as possible, please also do the following

1.

[2018-02-26 14:02] leonardder commented on #6731
@gregjozk: Do you still have no possibilities to test this device?

[2018-02-26 14:05] leonardder commented on #6731
@michaeldcurran: I labeled this p2, since the converter card is promised to work in 2018.1, and it looks like it doesn't, though we followed the protocol and there aren't issues with native BC devices. I think it should at least be a show stopper for a release of 2018.1 until we've found out what's causing the problem reported by @Adriani90

[2018-02-26 16:30] michaelDCurran commented on #8038
Testing shows it is the call to shape.hasChart in winword.cpp.

As hasChart is only called here in order to then go on and fetch the
title, I highly suggest we remove this block of code to stop the
regression. This will mean that NVDA will no longer announce the title
of a chart when cursoring onto it in Microsoft word, but it will still
announce as "chart". Switching to browse mode and pressing e

[2018-02-26 17:53] dkager commented on #8038
Sounds very reasonable, assuming charts can actually be sent to/from Outlook (I expect they can).

[2018-02-26 18:46] leonardder commented on #8041
This looks like a more generic issue. It seems like browse mode and focus mode are not in sync. Whenever I have a bigger document and move to headings in browse mode, than back to focus mode, the focus mode cursor is in a completely different position.

[2018-02-26 19:03] leonardder commented on #6731
[Here](https://ci.appveyor.com/api/buildjobs/y0stnqb2jjwlaacc/artifacts/output%2Fnvda_snapshot_try-protocolConverterPID-14888%2Cf73ef85b.exe) is a try build that is likely to fix this issue.

[2018-02-26 19:18] ladipro opened #8044 "Updating an aria-atomic live region in Chrome makes NVDA speak old text"
### Steps to reproduce:
Load the following markup in Chrome and update the div's innerText with JavaScript to "New text":
[code]

### Expected behavior:
NVDA speaks "New text".

### Actual behavior:
NVDA speaks "Old text", "Old text", "New text"

### System configuration:
NVDA version: c83231ec6e31bb19e5a25d9b0442f019a7a13e73

NVDA Installed or portable:
portable/built out of sources

Other inform

[2018-02-26 20:20] Andre9642 commented on #7878
Hello,
I found the reason for this bug. Actually, It's not really a bug.
On this machine, I have defined a environment variable LOUIS_TABLEPATH and MathPlayer seems to look first in this place.
Sorry for this noise. I close this ticket.

[2018-02-26 20:20] #7878 closed

[2018-02-27 02:38] ehollig commented on #7947
@BEdenhofer, I noticed that you reopened this issue. Did unchecking the spelling error check box in the document formatting settings help with this issue? If not, could you please be more specific what the issue you are experiencing is? Please provide exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead.

[2018-02-27 06:51] leonardder commented on #8039
[**@BEdenhofer**](https://github.com/BEdenhofer) commented on [25 feb. 2018 17:37 CET](https://github.com/nvaccess/nvda/issues/8039#issue-300040222 "2018-02-25T16:37:29Z - Replied by Github Reply Comments"):

[2018-02-27 06:53] leonardder commented on #8039
@BEdenhofer: Could it be that the language of the spell checker is different from the language you're typing? In that case, the spelling error information can actually be expected.

[2018-02-27 12:11] dineshkaushal commented on #7982
My earlier assumption was that this error started after comtypes 1.1.3 committed on 21 December 2017, but after testing previous versions till 2017.4 rc1, I figured that this error has been happening even before that. After going through comments in #8015, I realized that I should check NVDA 2017.4 release versions and yes, I found out that error was still there but it was not being reported. So t

[2018-02-27 12:13] dineshkaushal commented on #7973
This issue is better explained in
#7982 so it should be closed.

[2018-02-27 12:13] #7973 closed

[2018-02-28 02:12] derekriemer commented on #8044
@ladipro Thanks for your work. if this is your first PR, (I think it is), welcome.

[2018-02-28 02:20] ehollig commented on #8035
I am not able to reproduce this issue. @Neurrone, is this still happening for you? Could you provide an NVDA log with logging set to debug?

[2018-02-28 04:16] Neurrone commented on #8035
@ehollig I'll let you know when this comes up again. I'm not sure how I can produce a log though, since I'm forced to restart my computer using the power button when that happens.

[2018-02-28 12:22] josephsl commented on #8009
Hi,

Change of spec: build range won't be used anymore, otherwise IUIA5 isn't usable in source code version. See #8045 for a more thorough discussion of a proven alternative.

Thanks.

[2018-02-28 18:28] cannona commented on #5819
Here is yet another example of how this fails:

http://jsbin.com/lubamomoyu/edit?html,output

[2018-02-28 22:32] #8038 closed

[2018-03-01 10:18] Adriani90 commented on #6731
Dear all,

first of all sorry for the delay. We had to conduct more testings. I am unfotunately not allowed to upload things at this time, so I will paste the Content of the log files in here. But this should not be a Problem because searching for the "alva" or "enter" will bring you to the relevant results.

[2018-03-01 10:21] Adriani90 commented on #6731
First file: NVDA 2017.4, Braille extender addon installed, alvaw32.dll replaced by .dll as of 04.12.2013:

[code]

[2018-03-01 10:22] Adriani90 commented on #6731
As you can see, the Display works.

[2018-03-01 10:24] Adriani90 commented on #6731
File 2: NVDA Try Build provided by @Leonardder, alvaw32.dll has not been replaced:

[code]

[2018-03-01 10:26] Adriani90 commented on #6731
The same result can be obtained when replacing the alvaw32.dll with the alvaw32.dll from 04.12.2013.

So, the value error says "year out of range".

Since it could be related to the addon Braille extender as well, @andre1642, do you have any workarounds in your addon for such cases?

[2018-03-01 11:03] Adriani90 opened #8048 "Add support for text fields in ms word"
### Steps to reproduce:
1. Open MS Word
2. Create two text fields

### Expected behavior:
NVDA should Report "textfield 1" or similar, when the caret is moving into the textfield Region. Pressing enter on the textfield should simulate a mouse click so that the caret jumps into the text field. Escape should leave the text field.

### Actual behavior:
NVDA does not Report there are text fields in a

[2018-03-01 11:09] Adriani90 opened #8049 "Report "has notice" on slides when navigating with up and down arrow in MS PowerPoint"
### Steps to reproduce:
1. Open MS PowerPoint
2. Create some slides, some with notices, some without.

### Expected behavior:
NVDA should Report "has notice" when navigating with up and down arrow in normal view.

### Actual behavior:
NVDA does not Report when a slide has notices, jaws reports it properly, exactly like in MS Outlook when an E-Mail ahs an attachment.

### System configuration:
NVDA

[2018-03-01 16:34] leonardder commented on #6731
Thanks for your log files.

In the future, you can upload attachments using github. Indeed, you
can't upload log files, but if you change the .log extension to .txt,
you will be able to do it right away.

Also note that alvaw32.dll is not of any relevance any more, this is a
native driver that doesn't use a dll. The alvaw32.dll has to be removed
at some point. See nvaccess/nvda-misc-deps#7.

I've

[2018-03-01 18:39] leonardder commented on #6731
@adriani90, could you please test [this](https://ci.appveyor.com/api/buildjobs/hrb0i89s01acq35l/artifacts/output%2Fnvda_snapshot_try-alvaFix-14899%2Cfd222ab8.exe) build? Just to make sure, it is not necessary to perform tests regarding the unused dll.

[2018-03-01 20:16] Adriani90 commented on #6731
Hello, thanks I will test it. Regarding uploads, I was at work and we have upload restrictions.

Von meinem iPhone gesendet

[2018-03-01 21:38] andrew-l-d opened #8052 "NVDA no longer reads state of checkboxes in Word"
With nvda_snapshot_rc-14893,90b1ea86.exe the state of checkboxes in Word 2016 is not reported.  It simply reports, "checkbox". It worked correctly in 2017.4.  The attached file demonstrates the issue.  It is protected to allow only filling in of forms (no password).
[checkbox.docx](https://github.com/nvaccess/nvda/files/1772871/checkbox.docx)

[2018-03-01 21:56] andrew-l-d commented on #8052
A correction to my entry above.  If the checkbox is checked it is announced as checked but the unchecked state is not announced.  Not as severe as I first thought.

[2018-03-02 13:26] xtstoll opened #8053 "Navigational keys SHIFT and SELECT are not working on Focus Blue braille displays"
### Steps to reproduce:

ROUTER buttons to select some text, then press LEFT SHIFT + DOTS 1-4 (c in braille) to copy

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version: 2018.1rc1 (Brazilian Portuguese)
NVDA Installed or portable: installed
Windows version: 10
Braille display: Focus 80 Blue and Focus 40 Blue
Focus Blue driver: version 1.0.2030

Does the issue stil

[2018-03-02 13:58] fernando-jose-silva opened #8054 "random lock on nvda"
### Steps to reproduce:
He was using nvda normally.
I opened the nvda add-ons window.
The nvda was mute, and from this moment the nvda did not announce an open key or window.
When I called the narrator, I discovered that the windows were working.
The nvda add-in window was open, but it was not possible to walk with arrows or tab through the window.
Could not close the Add-ons window.
It was necess

[2018-03-02 16:21] leonardder commented on #8054
It looks like you have several broken add-ons in your configuration, including lambda, indent tone and emu gui.

[2018-03-02 16:43] fernando-jose-silva commented on #8054
Thank you very much.
I uninstalled these installed add-ons.
I will use the computer for a while longer and see if the error no longer occurs.

[2018-03-02 17:25] dkager commented on #7804
Some thoughts:
- I think being able to find out the actual bullet symbol used has its value when you want to follow a certain format in your document, e.g. bullets instead of dashes or circles.
- Bfesides speaking the list level, it really should also be conveyed in braille somehow.

[2018-03-02 20:10] derekriemer commented on #7754
@richardweiym Another thing I noticed is that some checkboxes don't announce their state change. Are you guys notifying WinEvent?

[2018-03-02 20:30] leonardder commented on #8054
You're welcome. It might be a good idea just to walk through your installed add-ons and clean up whatever you do not need.

[2018-03-03 12:05] richardweiym commented on #7754
@derekriemer  thanks for your remind, we will fix it

[2018-03-03 17:03] dkager opened #8055 "Auto-completing e-mail addresses in Microsoft Outlook can cause an error"
### Steps to reproduce:
1. Enable braille output in NVDA.
2. In Outlook 2016, start a new e-mail.
3. In the To, Cc or Bcc fields, start typing an e-mail address that is in an auto-complete list, e.g. the address book.

### Expected behavior:
The auto-completed address is announced through a `ui.message`.

### Actual behavior:
[code]

### System configuration:
NVDA version: master-14897,4faf0d05

W

[2018-03-03 17:51] fernando-jose-silva commented on #8054
thank you so much

Enviado do meu iPhone

Em 2 de mar de 2018, à(s) 17:30, Leonard de Ruijter <notifications@github.com> escreveu:

[2018-03-04 09:32] dkager commented on #8054
Could you make the issue title a bit more specific, e.g. NVDA locks when opening the addon manager?

[2018-03-04 09:37] dkager commented on #8053
This doesn't even work with the Shift key on the keyboard, so I'm a bit surprised it works with this driver.

The other commands could be added. Do you have a document that describes the expected key assignments from Freedom Scientific?

CC @bramd

[2018-03-04 09:50] dkager commented on #8052
Confirmed:
- The checked box is spoken as "checked checkbox".
- The unchecked box is spoken as "checkbox".
- Checking or unchecking doesn't speak until you manually read the line again.

Also, braille doesn't show the checkbox pattern at all and hence also not the state.

[2018-03-04 11:26] fernando-jose-silva commented on #8054
nvda crashed twice when opening the addons manager. I am away from the computer, so I have access to it again, change the title of the question.Enviado do meu iPhone

Em 4 de mar de 2018, à(s) 06:32, Davy Kager <notifications@github.com> escreveu:

[2018-03-04 15:56] dkager commented on #8028
Can we do this for older versions of Outlook?

[2018-03-04 17:38] dkager commented on #8025
So instead of supporting screen layout, you are saying that the shapes and possible decorations of objects on a slide should be announced better?

[2018-03-04 18:41] Adriani90 commented on #8025
No, the shapes are correctly pronounced when editing a slide, my last reply to @Leonardder aimed to clarify that screen layout in presentation mode is not enough to visualize things on a slide. An user should be able to understand the order of elements on a slide while editing the slide. The presentation mode is not addressed by this issue at all.

[2018-03-04 22:54] slannon97 opened #8056 "Contracted Braille Input Issues"
NVDA doesn't translate text as you type in contracted braille until you press the space bar or dots 7-8 simultaneously. This results in behavior similar to braille input in iOS 10 and earlier. If you are typing too quickly, the translator will miss characters. If you are trying to edit words, inserting a character causes the character to be translated. You must use the number sign before the lette

[2018-03-05 05:12] leonardder commented on #6731
Outstanding problems should have been fixed in NVDA 2018.1RC2. Closing this again.

[2018-03-05 05:12] #6731 closed

[2018-03-05 06:00] Qchristensen opened #8057 "Ignore punctuation level when moving by word or greater, and the new caret location starts on punctuation"
This is particularly noticeable in Word, as control+left or right arrow moves to the start of each word, but also to punctuation.  For instance, in the sentence:

The quick, brown fox!

(with a comma after quick and an exclamation mark after fox), from the start, pressing control+right arrow moves to the start of each word, but also to the comma and exclamation mark.  Whether these are read depend

[2018-03-05 09:51] leonardder commented on #8056
@slannon97: Thanks for your report

@jcsteh: as you are the author of contracted braille input, could you please give your opinion about this report? I assume some of these limitations are known to you, so it would be good to have sort of an idea about what could be fixed and what are possible difficulties or shortcomings (e.g. in liblouis).

[2018-03-05 09:52] leonardder commented on #8028
We can do this for Outlook 2010 and above. Older versions are currently out of scope.

[2018-03-05 09:54] leonardder commented on #8055
I'm afraid I can't reproduce this. Is this reproducible when you change the tethering setting to something else?

[2018-03-05 11:45] Adriani90 commented on #2261
Are there any further discussions regarding to this issue? Is it still occuring?

[2018-03-05 14:10] xtstoll commented on #8053
It would be really great if this would work! 😸

The full list by Freedom Scientific is here:
https://www.freedomscientific.com/Content/Documents/Manuals/Focus/Focus80Blue/Focus-80-Blue-Online-Users-Guide.htm#commandsoverview

If I had to list the order of importance of these tables, I would say:

1. Modifier Keys
2. Special Keys
3. Navigation Commands
4. Text Selection Commands
5. Windows Commands

[2018-03-05 15:11] leonardder commented on #8053
cc @bramd

[2018-03-05 16:29] dkager commented on #8055
I can't always reproduce either, but I mostly can by typing quickly and entering a name from the list of suggested contacts Outlook knows I e-mailed before.

[2018-03-05 18:01] bramd commented on #8053
Thanks for the list. I'll see what I can implement when I am able to
work on the new driver some more.

[2018-03-05 18:56] kceiw opened #8058 "NVDA doesn't announce radio button's status after I press "Space""
### Steps to reproduce:

[WpfApp1.zip](https://github.com/nvaccess/nvda/files/1782148/WpfApp1.zip)

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any

[2018-03-06 01:15] derekriemer opened #8059 "In sleep mode, mouse beeps occur"
### Steps to reproduce:

1. Open some app, A.K.A. firefox.
2. Open mouse settings, and check Play audio coordinates when mouse moves, then hit okay.
3. Now, put NVDA in sleep mode.
4. Move the mouse.

### Expected behavior:

The mouse should not beep if the foreground app is in focus.

### Actual behavior:
The mouse beeps always, although no talking occurs

### System configuration:
NVDA version:

[2018-03-06 04:47] #5712 closed

[2018-03-06 04:50] #7908 closed

[2018-03-06 04:53] #7960 closed

[2018-03-06 05:10] #7929 closed

[2018-03-06 05:50] #7961 closed

[2018-03-06 11:42] PratikP1 commented on #8049
In @Adriani90's report above, "notices" should be "notes." The report title and body should be corrected to reflect this change.

[2018-03-06 11:45] PratikP1 commented on #8048
I believe that additional support needs to be considered for modern form fields in Word. Forms created with modern fields do not generally behave as they should.

[2018-03-06 11:54] jacobchawala opened #8060 "Grammar Error"
in 2018.1 NVDA version, do not forget to enable grammar error feature. that feature was very useful for a person with visual impairment when editing grammar. it was available in NVDA 2017.1 but it was removed because there was a burg in it.

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name

[2018-03-06 14:13] leonardder commented on #6855
@gdata1: Are you saying you aren't getting MH_CreateHook failed with 9 errors any more?

[2018-03-06 14:22] leonardder commented on #6989
I can confirm this and can reproduce this with both JAWS and NVDA.

[2018-03-06 14:23] leonardder commented on #6855
@gdata1: Are you saying you aren't getting MH_CreateHook failed with 9 errors any more?

Let´s devote #6989 to the issue that keyboard layout changes aren´t reported when in Edge. As for the MH?CreateHook issue, that seems different and unrelated.

[2018-03-06 16:01] leonardder commented on #6233
cc @dkager

[2018-03-06 21:13] andrew-l-d opened #8061 "No formatting information in Word with nvda_snapshot_rc-14903,a98e77cc.exe"
When asking for formatting information for the current review cursor position in Word files with both release candidates I am frequently being told, "No formatting information".  This seems not to be an issue in Outlook emails.  This has happened occasionally in earlier versions, but a restart of NVDA usually fixes.

[2018-03-07 00:11] alshmasi commented on #7345
Hi!
I've seen the same issue when using Virtual Audio Cable. I guess it happens with all CPU-intensive programs.
I've used VAC with Windows 7 before with no problems what so ever.
Hope that Microsoft fix this ASAP.

[2018-03-07 03:16] ehollig commented on #8061
I am not able to reproduce this using 18.1RC2 or the latest Master. Does this still occur for you @andrew-l-d? Could you provide a log with debugging set to debug demonstrating this issue?

[2018-03-07 03:24] ehollig commented on #8060
I am closing this as duplicate of #7319

[2018-03-07 03:24] #8060 closed

[2018-03-07 03:29] gdata1 commented on #6855
I can confirm this problem with the narrator as well.

[2018-03-07 10:26] Adriani90 opened #8062 "NVDA does not report page in kindle"
Dear all,

I am trying to find out on which page I am when reading books in kindle. NVDA does not report it.

[2018-03-07 10:34] Adriani90 opened #8063 "Add shortcut a in browse mode for kindle to jump between annotations and comments"
### Steps to reproduce:
1. Open kindle for pc
2. Open a book
3. Create several notes
4. navigate quickly between notes.

### Expected behavior:
NVDA should provide a shortcut like in ms word in browse mode. This would improve readability and usability for blind users.

### Actual behavior:
There is no shortcut to quickly jump to the notes of the document other than working with kindle's menu. A si

[2018-03-07 13:45] PratikP1 commented on #8062
Current page information is announced when the book is opened. In addition, this information is also announced when arrowing through the content to move across the boundary from page to page. Page number is also announced if the page up/down keys are used to move by extra content. There is no way to interrogate the application to see the current page number however. This feature, if feasible, can

[2018-03-07 16:01] Adriani90 commented on #8062
With NVDA 2018.1 RC2, Windows 10.16299.64 and Kindle for PC 1.21.0, pages are not reported by NVDA when navigating with arrow keys or page upt and down. I have tested with 5 books. Could it depend on which book I am using? Might this information be stored in the metadata of the book?

However, your proposed function would be very helpful though, actually I would prefer it.

Von: PratikP1 <notifica

[2018-03-07 18:47] leonardder commented on #8048
This looks like a duplicate of #6944.

[2018-03-07 18:48] leonardder commented on #7752
I believe this is blocked by #6944

[2018-03-07 18:51] leonardder commented on #8054
@fernando-jose-silva: Could you make sure that there's no add-on in your installation causing this? I'm still not convinced that it is NVDA itself causing the issue here. You can either disable/remove all add-ons or run NVDA with add-ons disabled from the restart window (NVDA+Q)

[2018-03-07 18:52] leonardder commented on #7717
@xtstoll: Could you please check whether this problem is fixed in the most recent next snapshot?

[2018-03-07 18:54] leonardder commented on #5819
Is this also reproducible in other browsers?

[2018-03-07 18:57] leonardder commented on #5119
Looks like we can't track down the original author of this issue. Having said that, it should be not very difficult to try and reproduce this with VS2017 at least.

[2018-03-07 20:23] xtstoll commented on #7717
Unfortauntely, it does not seem to be fixed...

The output on screen (1 2 3 ª 2 3):
![notepad_2018-03-07_17-15-51](https://user-images.githubusercontent.com/24814666/37115932-6dac73e0-222b-11e8-8cbb-67e82d3e8f38.png)

The output in braille (1 2 3 ª 2 3):
![img_20180307_171540501_hdr](https://user-images.githubusercontent.com/24814666/37115990-97ca79ce-222b-11e8-8400-eb68d246ed78.jpg)

Snapshot ver

[2018-03-07 20:38] andrew-l-d commented on #8061
Apologies!  Recently Clutz turned off review cursor follows caret for a specific purpose and forgot to turn it back on.  This issue can be closed (slaps wrist).

[2018-03-07 22:04] michaelDCurran commented on #2807
As mentioned by some users,  oneCoreCommonProxyStub.dll cannot be registered again on windows 10. It does not export DllRegisterServer. The alternative would be to put the needed registry values for IServiceProvider in a .reg file and import it to the Registry. Interestingly, Windows 10 refuses to import the file. I'm guessing that now windows 10 is protecting some system interfaces from being tam

[2018-03-08 02:12] fernando-jose-silva commented on #8054
thank you, I believe that the problems were caused by add-ons, by disabling the add-ons there was no problem, now I have to re-enable each add-on until I figure out who was the cause, a difficult task because the error is not always reproduced.Enviado do meu iPhone

Em 7 de mar de 2018, à(s) 15:51, Leonard de Ruijter <notifications@github.com> escreveu:

[2018-03-08 04:56] leonardder commented on #8054
Thanks for investigating. As soon as you know what add-on is the culprit, could you please contact the author or the add-ons mailing list to discuss the matter?

I'm closing this for now, but feel free to request a reopen if you yet believe NVDA itself is in error here.

[2018-03-08 04:56] #8054 closed

[2018-03-08 04:57] leonardder commented on #8061
Thanks for investigating. Closing this issue.

[2018-03-08 04:57] #8061 closed

[2018-03-08 10:54] florianionascu7 opened #8064 "Loading NVDA with specific languages shows "Locale not supported by OS" warning message box"
Hello folks! When changing the language to Kirgyz, NVDA works Properly till the restart. After that, the following error message occurs:

---------------------------
Nvda Warning
---------------------------
Locale 'Kirghiz' not supported by OS.
---------------------------
OK
---------------------------
Steps to reproduce:
1. Open the NVDA menu.
2. Go to Preferences, General Settings.
3. Choose and

[2018-03-08 15:25] leonardder opened #8065 "Improve word echo to read the last added/edited word"
### Steps to reproduce:
1. Open notepad with NVDA word echo enabled, character echo disabled
2. Type: "test"
3. Press space: NVDA says "test"
4. Press backspace three times
5. type: "xt"

### Expected behavior:
NVDA says: "Text", similar to how iOS word echo works

### Actual behavior:
NVDA says: "xt"

### Discussion
I propose this as a fix for #7812. Instead of keeping a buffer of entered charact

[2018-03-08 19:56] sethmhur opened #8066 "NVDA 2018.1 acting weird with chromium open source version of chrome."
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

1 open duckduckgo.com
2 can't

[2018-03-08 22:15] michaelDCurran commented on #2807
On windows 8.1, IServiceProvider is in actxPrxy.dll.

[2018-03-08 22:48] Raju1saha opened #8067 "A complete Paragraph is read in 3 instances by NVDA instead in a single go."
### Steps to reproduce:
1.Open Mozilla.
2. hit the below URL
https://sit57.online.citi.com/US/ag/ordercheck/address-review
3. try to read the line using NVDA starting with "Please Note"

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:
2017.3

NVDA Installed or portable: installed

Windows version:

[2018-03-08 22:57] BEdenhofer opened #8068 "The latest snapshot for NVDA!"
I've recently downloaded the latest snapshot of NVDA, and it launched, and a message comes up saying error registering remote hook, and there's a button that says okay, so I space on it, and everything is fine after that I can reproduce this problem, everytime I reload NVDA!

[2018-03-08 22:58] josephsl commented on #8068
Hi, isn’t this yet another duplicate of an issue not long ago? Thanks.

From: BEdenhofer <notifications@github.com>
Sent: Thursday, March 8, 2018 2:58 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] The latest snapshot for NVDA! (#8068)

I've recently downloaded the latest snapshot of NVDA, and it launched, and a message comes

[2018-03-09 03:17] ehollig commented on #8067
I am not able to reproduce this with the latest Master of NVDA and Firefox 58. @Raju1saha, does this still occur with the latest stable release of NVDA 2018.1?

[2018-03-09 04:43] Raju1saha commented on #8067
Hello Ethan,

Let me give you a background..

Its a paragraph of 3 lines... under <p> <|p>tag.. When i only used down
arrow the entire paragraph got highlighted.. But it reads the line in 3
different instances.. 1/3 every time i hit the down arrow.

Later i used Contrl+ Downarrow and the whole paragraph was highlighted and
read at one go.

Just curious to know what is the reason of the behavior in

[2018-03-09 05:35] zahra21 commented on #8057
hi quentin.
i set punctuation to none and nvda announces punctuations in notepad plus plus and libreoffice when i navigate word by word.
its not specific for word and i wanted to report it before, but i did not thought that it maybe is a bug in nvda speech.

[2018-03-09 05:52] Qchristensen commented on #8057
Interesting, the behaviour does seem to vary slightly between programs then.

Another inconsistency I found was in my sentence, if you misplaced the comma and had quick space comma brown, it behaves differently in Word as well:

the hungry, quick ,brown fox.

In word as you control+right arrow through reads:
hungry
(nothing)
quick
comma
brown
fox
dot

NotePad++ treats each of those commas and the

[2018-03-09 10:24] Brian1Gaff commented on #8068
Was not this cured by changing the file bundled with nvda?
 Brian

bglists

[2018-03-09 18:28] Adriani90 commented on #8062
Hello, I have downloaded a very new book. In the product information on Amazon it was specified that it comes with screen reader support. In this book the pages are being reported properly.
However, in my old books I can jumpt between pages by page up and down and I can read the text like in a new kindle book with screen reader support. But in the old books pages are not being reported. I assume t

[2018-03-09 18:30] Adriani90 commented on #8062
I thought it could be a possibility to report kindle pages instead of printed pages, like in pdf documents. This should only apply if the real page information is not provided by Amazon.

[2018-03-09 18:47] leonardder commented on #8065
I almost have this working smoothly. However...

I already knew that different editors use different rules for word boundaries. For example, if you type `1>2>3` in Notepad, this is seen as one entity when you move across it with control+left/right arrows. In Wordpad/Word, all characters in `1>2>3` are seen as separate entities. Firefox distinguishes `1>`, `2>`, `3`.

If we let NVDA speak the last

[2018-03-09 19:03] francipvb commented on #7181
Hello,

What about this?

I have these problems too with Windows 10 Version 1709 (OS Build 16299.248).

Maybe a problem with the UIA Handler?

[2018-03-09 19:05] leonardder commented on #8065
We could also disable uniscribe only for this specific case. Still, I assume uniscribe was added for a particular reason.

[2018-03-09 19:12] francipvb commented on #7237
I think that #7181 is related to this.

Cheers,

[2018-03-09 19:19] josephsl commented on #7237
Hi,

If the underlying cause is the same, then we can close #7181 in favor of this one. Also, for resident Insiders, please try reproducing this problem in build 17115. Thanks.

CC @MichaelDCurran

[2018-03-09 20:59] Adriani90 commented on #7237
Hello,

I didn't reproduce this issue for very long time. Actually since 2017.4. But two weeks ago, after I removed win 10 apps and reinstalled it again, it occured again. Only twice. After that I could not reproduce it anymore.

In my view this seems to be an uia related issue but I might be wrong. Such issues have often been solved after new windows updates.

However, I can still reproduce it af

[2018-03-09 21:01] michaelDCurran commented on #8065
Uniscribe should certainly be used in standard edit controls such as
Notepad as that is what it uses internally. Not using uniscribe would
mean there is a missmatch between NVDA's idea of a word, and where
control+left/rightArrow jumps.

As for using uniscribe for other offset-based TextInfos where no other
API for calculating word offsets exists:  they probably could be changed
to not use it. But

[2018-03-09 21:03] Adriani90 commented on #7237
it also occurs often when both screen readers are running at the same time.

[2018-03-10 09:36] jiangtiandao opened #8069 "Could not locate vc redistributables when VS2017 is installed on a custom path"
### Steps to reproduce:

### Expected behavior:
scon config source correctly

### Actual behavior:
RuntimeError: Could not locate vc redistributables. Perhaps the Universal Windows Platform component in visual Studio is not installed:
  File "D:\Users\John\Documents\GitHub\nvda\SConstruct", line 178:
    env32.SConscript('nvdaHelper/archBuild_sconscript',exports={'env':env32,'clientInstallDir':cli

[2018-03-10 09:41] schulle4u opened #8070 "Omit GUI elements with zero width from output"
This issue is specific to the RadioBoss application and the developer already is aware of it, but the problem could also be valid for other applications.

### Steps to reproduce:
1. As an example: Download and install [RadioBoss](http://dl.djsoft.net/radioboss_setup.exe)
2. Load any m3u playlist into the program or from the playlist menu select some music files.
3. Open the view menu and select "s

[2018-03-10 12:05] leonardder commented on #8065
Uniscribe is used in virtual buffer browse mode I belief, but that's a non-editable case. A more important case though is command consoles. My cmd prompt when i start cmd is: `C:\Users\leonard de Ruijter>`. When I type `git` and press space, NVDA announces `ruijter>git` when relying on uniscribe.

I think disabling uniscribe within the scope of word echo for uniscribe based wordOffset textInfos do

[2018-03-10 13:05] dkager commented on #8070
For the sake of completeness, could you provide the developer info (NVDA+F1) for one of these table rows and also confirm that with object navigation you can enter into the table row and see the individual cells? Do the cells actually have width 0 according to the developer info?

If this "interesting" solution to hiding columns is specific to RadioBoss I would say it can be addressed in an appmod

[2018-03-10 13:16] dkager commented on #8068
@BEdenhofer I updated your report to remove the issue template you hadn't used. Please take note of it next time. :)

[2018-03-10 13:27] schulle4u commented on #8070
The playlist is presented in a simple list view, I'm not able to navigate individual cells in object nav mode.

Here are the developer infos for the whole list object:
[code]

And for an individual list row, the deepest level I'm able to navigate:
[code]

HTH
Steffen

[2018-03-10 13:29] dkager commented on #8055
Also reproduced in Outlook 2013. I suppose a quick fix is to ignore empty messages in `ui.message`.

[2018-03-10 14:07] Adriani90 opened #8071 "First menu item is not spoken when pressing application key"
### Steps to reproduce:
1. Open Outlook and ensure that you land on a list of messages
2. Press application key on your keyboard to open the context menu for a message

### Expected behavior:
NVDA should announce the first menu item

### Actual behavior:
In Outlook 2007, NVDA is totally silent, in Outlook 2016 NVDA reports "Window, Menu" but not the menu entry. I have to press the arrow keys to ge

[2018-03-10 14:14] Adriani90 opened #8072 "Braille issue: the letter in a text is not being reported by speech when moving the cursor to it with the cursor routing of the braille display"
### Steps to reproduce:
1. Open a text editor
2. Write a sentence
3. Press the cursor routing of a braille display to move the cursor to a letter.

### Expected behavior:
NVDA should report that letter by speech, if speech is enabled.

### Actual behavior:
NVDA does not report the letter.

### System configuration:
NVDA version:
NVDA 2018.1

NVDA Installed or portable:
Both

Other information:

Wi

[2018-03-10 14:16] Adriani90 commented on #8072
To clarify the usage of this feature, braille beginners would benefit a lot.

[2018-03-10 14:19] Adriani90 commented on #8071
this seems to be valid for several context menus accross windows. Not only in MS Outlook.

[2018-03-10 14:21] Adriani90 commented on #8071
The only case where it works properly is i.e. when opening a mesage in Outlook or a document in Word and pressing Application key on a letter. Then the focused menu item is reported instantly.

[2018-03-10 15:07] gregjozk opened #8073 "UG at section 14.2 (Optelec BC6...) there are 2 separate entries for alt key and one space is missing in row where command for enter key was written"
### Steps to reproduce:

- open an userguide of nvda
- go to section 14.2
- look at the provided table
- see rows 16 and 34
- for enter see row 23

### Expected behavior:

there should be only one row for alt key with sp2 and alt written in the right column and "|" should not be shown in the table when a UG was opened in browser

### Actual behavior:

there are two rows for alt key at section for

[2018-03-10 15:46] gregjozk opened #8074 "Alva satellite used via protocol converter and Optelec BC6 driver does not detect some keys and some keys were assigned twice"
First of all I would like to thank all of you to bring support for protocol converter into NVDA.

Here is one problem: Alva Satellite has 2 Satellite keypads, one on the leftside of display and one on the rightside with 6 keys on the each keypads, but NVDA treats them as one keypad. I do not know if it is bug of NVDA or bug of protocol converter, so I have opened this ticket as @leonardder suggest

[2018-03-10 17:41] leonardder commented on #8072
I'm pretty sure this behavior is intentional. However, I agree that it might be beneficial for beginners to have the speech optionally output the character. Note that also moving by line or scrolling doesn't output speech. I believe that the option as proposed here should also cover these cases.

[2018-03-10 17:47] leonardder commented on #8074
I believe this can be fixed by differentiating between two smart pads. An ALVA BC680 is basically a device with two BC640 devices in one.

@dkager: would be good to have your opinion about this.

[2018-03-10 17:57] dkager commented on #8074
I don't think the BC680 differentiates between the two keypads in its own driver nor in the user guide. So that would explain this issue. We should find out if the protocol converter indicates which keypad was used, e.g. in a way similar to how the secondary routing keys are sent. If the converter does not distinguish two keypads, I'm afraid there is not much we can do.

[2018-03-10 18:36] dkager commented on #8074
OK, so it turns out the driver distinguishes the thumb keys and the smartpad keys on the BC680 and probably also the protocol converter. But they get the same name, so you have two sp1 and two spEnter, etc. Now the question is what name do we give the second group instead. As I said, Optelec appears to see them as duplicates. For the protocol converter it would make more sense to give them other n

[2018-03-10 19:50] gregjozk commented on #8074
Hello,

I suggest that the second group of satellite keys could emulate sp2, sp3, spEnter, etouch1, 2 and 3, because these buttons could not be emulated now.
In the NVDA UG it could be documented with one or two rows; e.g.: At Alva Satellite series, when these displays have been used with protocol converter, one group is linked to arrow keys and tab and shift+tab command, the other keypad is linke

[2018-03-11 01:43] ehollig commented on #5817
@fernando-jose-silva, is this still an issue?

[2018-03-11 02:18] ehollig commented on #8065
I think #6215 is related to this.

[2018-03-11 02:50] BEdenhofer commented on #8068
Okay.

[2018-03-11 10:55] dkager commented on #8074
I think it makes sense if you can also assign different commands to either smartpad on the BC680. That means we have to come up with different names for the second smartpad.

Note that the converter should not emulate sp3 and sp4, but should execute the associated scripts. We could have a model-specific gesture map for the converter.

[2018-03-11 11:25] gregjozk commented on #8074
Hello,

would be helpfull if I send you a users manual for protocol converter?
I reread it and found, that jaws and Dolphine can differentiate
between satellite keypads. there is also written, that they can enable
status cells, but I have not been able to enable them, so I could use
routings and second routings above them.
May be it would also helpful, if zip packages from #447 would be
recovered,

[2018-03-11 11:29] dkager commented on #8074
Could you post a link to the manual? If not, maybe upload it to GitHub.

To clarify, are you saying the status cells are not working, but the secondary routing keys *are* working?

[2018-03-11 12:00] Adriani90 commented on #7237
Could someone please edit the issue title to a more specific title? It will be really hard to find this issue in the future.

[2018-03-11 12:01] Adriani90 commented on #5817
this might be related to #7237.

[2018-03-11 13:31] francipvb commented on #7237
Hello,

Here are a log fragment from these problems.

[code]

Cheers,

[2018-03-11 14:21] zahra21 commented on #7181
hi.
i can reproduce unresponsiveness of nvda in its different versions using windows xp.
i understand the reason of freeze, but specially it happens when:
1- i open skype, my browser firefox and download some files with firefox or recieve one file in skype.
2- when i open many tabs in my browser and want to navigate between them.
3- when i want to switch between my open programs using alt tab.

4-

[2018-03-11 14:42] Adriani90 commented on #7181
Related to #7982.
Please note the comments provided by @dineshkaushal.

[2018-03-11 14:45] Adriani90 commented on #7934
Related to #7982.
Please note the comments provided by @dineshkaushal.

[2018-03-11 14:47] Adriani90 commented on #7237
Related to #7982.
Please note the comments provided by @dineshkaushal.

[2018-03-11 14:56] Adriani90 commented on #5817
and also to #7982 including referenced issues.
Please note the comments provided by @dineshkaushal.

[2018-03-11 15:00] Adriani90 commented on #2261
I cannot see the log files, but it might be related to #7982 and referenced issues.
Please note the comments provided by @dineshkaushal.

[2018-03-11 15:18] Adriani90 commented on #7982
I think it could be related to this error in the log file above:
[code]

[2018-03-11 15:30] Adriani90 commented on #7962
might be related to communication with accessibility APIs, so maybe also to #7982 and referenced issues.

[2018-03-11 16:01] Adriani90 commented on #7237
I have catched the log errors when NVDA is freezing:

[code]

[2018-03-11 16:08] josephsl commented on #7237
Hi,

In short, UIAutomationCore.dll freezes when it tries to return if a window pointed by the given handle should be a UIA window or not. I think this is rather a speicla case of a larger issue covered somewhere. Thanks.

CC @michaelDCurran

[2018-03-11 21:40] michaelDCurran commented on #8071
For most menus in Windows, this is by design. When the context menu is
opened, nothing is actually focused at all.
It would be good to get sighted confirmation that in Outlook, the
context menu does or doesn't have its first item focused before pressing
an arrow key. though, I very much doubt something is focused as the
focus state is not on any of the items.

[2018-03-12 00:46] michaelDCurran commented on #8069
How much of the MSVC install path can be configured?

E.g. if it were e:\2017, in that directory, would there still be
community\2017\vc\tools and community\2017\vc\redist? or does that dir
simply contain vc\tools and vc\redist?

Annoyingly although SCons did use  the registry via vswhere.exe, it
drops some of the information we need after it sets its own variables it
needs.

We will be able to re

[2018-03-12 02:38] ehollig commented on #2261
@Adriani90, I have attached the files it the comments above.
Also, it would be good to know if these issues are still occurring for @pzajda. Otherwise, I am leaning toward an invalid.

[2018-03-12 08:07] leonardder commented on #8065
I'd like to add an isCollapsedAtEndOfWord or isCollapsedAtStartOfWord property to textInfos in order to let the word echo functionality check whether it should announce a word reliably. This is quite easy to do for offset based textINfos. It is much more hard for UIA, ITextDocument or other textInfos that aren't offset based. @MichaelDCurran: do you have suggestions on how to do this? To start wit

[2018-03-12 08:13] michaelDCurran commented on #8065
It could be a bit costly but:
* copy the range
* if not collapsed then collapse.
* expand to word
* Use compareEndpoints to check if the start/end of the original range
is equal to the start/end of the copied range.
  This is abstract enough to work for all TextInfos

[2018-03-12 15:03] snufas opened #8076 "mooving object focus under mouse does not work in the web browsers"
##please look in to this problem, very important stuff,
### Steps to reproduce:

this is a speech viewer log that should help to explain the problem.

Move navigator object to mouse
Solutions for Visually Impaired text
Move focus
Solutions for Visually Impaired
Move to focus
Portable Video Magnification Systems - Ruby, Compact, and others link

what i am trying to get is read the object under the

[2018-03-12 18:42] gregjozk commented on #8074
Hello,

yes, secondary routing is working as expected.

a manual and other material I plan to send via contact form on your website if it is ok for you.

[2018-03-12 21:12] Adriani90 commented on #8072
@Andre9642 just implemented these features in his try build of the addon braille extender. This is great.

[2018-03-12 21:15] Adriani90 commented on #7916
#8076 is related, however the discussion could be continued there.

[2018-03-12 21:16] Adriani90 commented on #7915
#8076 is related, however the discussion could be continued there.

[2018-03-12 21:17] Adriani90 commented on #7083
#8076 could be related

[2018-03-12 21:18] Adriani90 commented on #5602
#8076 is related.

[2018-03-12 21:29] Adriani90 opened #8077 "Critical crash in NVDA"
Dear all,

NVDA is crashing several times, especially when typing text. I gues it could be related to SAPI5 but it seems to be a critical NVDA error. See log file and dmp file.

### System configuration:
NVDA version:
2018.1

NVDA Installed or portable:
Installed

Other information:
running In VM

Windows version:
Windows version 10.0.14393 workstation

Name and version of other software in use wh

[2018-03-12 22:45] aefren opened #8078 "Dynamic finance site is laggy and difficult to use in Chrome."
### Steps to reproduce:
open chrome and go to https://www.binance.com/trade.html?symbol=ADA_BTC

### Expected behavior:
NVDA should read the info using the arrows key or letter keys.

### Actual behavior:
NVDA is laggy, stops for some seconds each time info is required.

### System configuration:
NVDA version: 2018-1

NVDA Installed or portable: Installed.

Other information:
Running in windows 10

[2018-03-12 22:59] derekriemer commented on #8077
[code]

[2018-03-12 23:04] derekriemer commented on #8077
I'm not sure if my symbols are correct here, someone who knows more should check.

[2018-03-13 00:02] fernando-jose-silva commented on #5817
the problem does not happen anymore, thank you very much.

Enviado do meu iPhone

Em 11 de mar de 2018, à(s) 11:56, Adriani90 <notifications@github.com> escreveu:

[2018-03-13 01:35] feerrenrut opened #8079 "Consider temporarily freezing dynamic pages with virtual buffers"
### Discussion

See the following issues.
- Dynamic finance site is laggy and difficult to use in Chrome. #8078
- Say all (nvda+a) repeats certain content on specific websites in firefox #8010

Some sites that have refreshing/dynamic content are quite hard to read, and can cause problems for say all. Consider temporarily freezing these pages.

[2018-03-13 01:36] khoath commented on #8078
This site appears more responsive in Firefox, so it appears that the issue you are seeing may have more to do with the browser in use and site design.
Perhaps contacting the site designer.
For more on this see issue #8079

[2018-03-13 01:55] feerrenrut commented on #8078
I'm going to close this issue since we believe the main cause is the dynamic nature of the site design, as such I will apply the `needs external fix` label. We hope to be able to mitigate this performance issue in the future.

[2018-03-13 01:55] #8078 closed

[2018-03-13 02:06] khoath commented on #8077
How often do these crashes occur?
Is this problem reliably reproducible?
If the problem is reproducible what steps must be taken to cause the problem?

[2018-03-13 04:50] leonardder commented on #8079
To make sure, are you suggesting freezing these pages during say all?

[2018-03-13 04:57] josephsl opened #8080 "Startup: "language is not supported by OS" error"
Hi,

Reported by a translator and subsequently confirmed: some languages are not supported by Windows, thus an error is shown when NVDA starts.

STR:

1. Switch to Mongolian (if running latest snapshots).
2. Restart NVDA if prmopted.

Expected: no errors.
Actual: "MOngolian is not supported by OS" error is shown.

Thanks.

[2018-03-13 05:01] leonardder commented on #8080
This has been reported for Kyrgyz in #8064. Are you ok with closing this issue in favor of that one?

[2018-03-13 05:13] josephsl commented on #8080
Hi, no, as this issue will cover other languages such as Mongolian. However, if the former one is better, then I think we should edit the title on that one instead and close this one. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, March 12, 2018 10:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github

[2018-03-13 08:36] #8080 closed

[2018-03-13 08:40] leonardder commented on #8064
cc @josephsl

This also applies to Mongolian at least.

[2018-03-13 09:02] Brian1Gaff commented on #8079
A toggle?
I know that obviously this can mean some stuff clicked might not work, but
most of these pages tend to be scrolling things or opening windows
dynamimacally and hence the content goes away when you try to find it
otherwise.
 Brian

[2018-03-13 17:31] ehollig commented on #5817
Closing per above comment.

[2018-03-13 17:31] #5817 closed

[2018-03-13 17:58] Adriani90 commented on #8077
Very often when using Sapi5 synthesizer. It is reproducible only with SAPI5 synthesizer while typing text and navigating in general.

Best

Adriani

Von: Kerry Hoath <notifications@github.com>
Gesendet: Dienstag, 13. März 2018 03:07
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Critical cras

[2018-03-13 18:33] Adriani90 commented on #8071
Hello,

in Jaws for example, I think the first menu entry is spoken when pressing application key. For example on a desktop element “open” on an outlook message “fast print”.

Von: Michael Curran <notifications@github.com>
Gesendet: Sonntag, 11. März 2018 22:40
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re:

[2018-03-13 18:38] josephsl commented on #8071
Hi, what we’re really after is more accurate announcement. If the first item in a context menu isn’t selected, then NVDA is correct in that I wouldn’t announce the first item. However, we’re looking for counterexamples where fist item in context menus are selected by Windows, not by screen readers. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, March 13, 2018 11:34 AM
To: nvacc

[2018-03-13 18:58] michaelDCurran commented on #8077
Which specific SAPI5 synth is this?

[2018-03-13 19:11] Adriani90 commented on #8071
Well in this case NVDA should not announce the first item in the explorer when pressing win+e. Because you have to press an arrow key to focus an item.

Von: Joseph Lee <notifications@github.com>
Gesendet: Dienstag, 13. März 2018 19:39
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] The curren

[2018-03-13 19:39] Adriani90 opened #8081 "Problems with several Handytech braille displays in NVDA 2018.1, probably com issue"
Hello all,

we have several users reporting issues with their handytech braille displays on different windows version with NVDA 2018.1.

Following displays are being disconnected automatically:
* Handytech BS40 (Braille Star)
* Handytech modular braille displays
* Handytech active and active star

Here is part of log file:

[code]

[2018-03-13 19:43] Adriani90 commented on #5162
Dear all, what is needed here to continue the implementation work? Users of every module seem to not have any issues. TASO is working, Baum Vario Pro 80 and 64 is working.

[2018-03-13 20:00] Adriani90 commented on #8071
I have edited the issue accordingly.

[2018-03-13 20:15] Adriani90 commented on #8081
Active star works properly in windows 10 but not in windows 7.

[2018-03-13 20:33] ivnc commented on #8064
Also for Galician.
Looks like that's something related with dependencies, as TWBlue shows the same message with Galician.

[2018-03-13 21:08] Adriani90 commented on #8081
The same for modular 40  braille display

[2018-03-13 21:28] #6524 closed

[2018-03-13 22:20] Adriani90 commented on #7986
Here is the log fragment related to outlook action after pressing enter on the message. The whole file is attached. A dmp file has not been created, even when using python console.

[nvda_crash.txt](https://github.com/nvaccess/nvda/files/1808839/nvda_crash.txt)

[code]

[2018-03-13 22:33] josephsl opened #8082 "Windows 10 build 17120: OneCore voices sound as though high-pitch effect was put on them"
Hi,

This is considered a critical showstopper: Windows OneCore voices sound a bit different, in that it looks like high0pitch effect was put on them.

STR:

1. Install Windows 10 build 17120 (Insider Fast).
2. Switch to Windows OneCore voices.

Expected: pitch stays the same.
Actual: you'll notice the effects.
Additional: this does not happen with JAWS and Narrator.

Thanks.

[2018-03-13 23:36] michaelDCurran commented on #8082
I'm assuming this happens with multiple versions of NVDA, including
2018.1 and Next?

No doubt the sample rate of the audio has changed and we don't know
about it.

I'm currently stuck on Skip ahead build 17604 and am not seeing the
issue, but this build is getting rather old. I might need to roll back
to rs4 builds to see this.

[2018-03-14 00:38] josephsl commented on #8082
Hi, yes, confirmed with 2017.3, 2018.1 and latest next. Thanks.

From: Michael Curran <notifications@github.com>
Sent: Tuesday, March 13, 2018 4:36 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 build 17120: OneCore voices sound as though high-pitch effect was put on them (#8082)

[2018-03-14 07:33] zstanecic opened #8083 "in NVDA next version latest version the dialog for downloading /postponing update is not displayed"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable: portable

Other information:

ERROR - unhandled exception (08:32:41.224):
Traceback (most recent call last):
  File "gui\__init__.pyc", line 981, in Notify
  File "updateCheck.pyc", line 426, in _guiExecNotify
  File "updateCheck.pyc", line 517, in _downloadSu

[2018-03-14 07:38] josephsl commented on #8083
Hi, this has to do with the fact that wxPython 4 does not include CENTER_ON_SCREEN flag. CC @LeonardDer

From: zstanecic <notifications@github.com>
Sent: Wednesday, March 14, 2018 12:34 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] in NVDA next version latest version the dialog for downloading /postponing update is not displa

[2018-03-14 07:43] zstanecic commented on #8083
This is a showstopper, if you planto have it included in 2018.2

Wysłane z aplikacji Poczta dla Windows 10

Od: Joseph Lee
Wysłano: środa, 14 marca 2018 08:39
Do: nvaccess/nvda
DW: zstanecic; Author
Temat: Re: [nvaccess/nvda] in NVDA next version latest version the dialogfor downloading /postponing update is not displayed (#8083)

Hi, this has to do with the fact that wxPython 4 does not include C

[2018-03-14 07:45] leonardder commented on #8083
This is strictly spoken a bug that is caused by conflicting code in next. I can fix this quite easily, but that will mean that the wx pr has to be merged into master first before the postponing updates pr will be.

[2018-03-14 07:49] josephsl commented on #8083
Hi, sure. I think it might be best to just use wx.CENTER instead (or wx.Center function). Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Wednesday, March 14, 2018 12:46 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] in NVDA next version latest version the dialog for dow

[2018-03-14 11:08] Adriani90 commented on #8077
This is german Steffi 22 KHZ

[2018-03-14 11:49] leonardder commented on #8081
It seems the person from this log file has the Handy Tech braille driver installed. Removing this driver should fix most of the problems.

I had a short talk with @FelixGruetzmacher about this. Even though the used driver is an add-on and therefore not part of the NVDA core, the add-on did work in NVDA 2017.4 (older comtypes). Therefore, I'm labelling this as a regression. @michaeldcurran and @fee

[2018-03-14 12:49] Brian1Gaff commented on #8083
Yes its the same on windows 7.

ERROR - unhandled exception (12:45:51.444):
Traceback (most recent call last):
  File "gui\__init__.pyc", line 981, in Notify
  File "updateCheck.pyc", line 426, in _guiExecNotify
  File "updateCheck.pyc", line 517, in _downloadSuccess
  File "updateCheck.pyc", line 356, in __init__
AttributeError: 'module' object has no attribute 'CENTER_ON_SCREEN'

Brian

[2018-03-14 16:31] Brian1Gaff commented on #8083
I've done a manual update from the downloaded copy in %temp%
 Does this mean that the next update should work properly again?

Brian

[2018-03-14 16:32] josephsl commented on #8083
Hi, no, automatic update is still broken until the code responsible for it gets merged into next. Thanks.

From: Brian Gaff <notifications@github.com>
Sent: Wednesday, March 14, 2018 9:32 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] in NVDA next version latest version the dialog for down

[2018-03-14 16:38] jcoffin1 opened #8084 "Remote support add-on does not appear in the tools menu"
### Steps to reproduce:

1. if you have the remote add-on installed, and enabled go to NVDA menu, arrow to tools, open tools menu, and remote support should be an option, but it's not there.

[2018-03-14 16:50] josephsl commented on #8084
Hi, are you perhaps running the latest next branch snapshot? If so, I raised an issue on Remote add-on regarding this matter. The ultimate culprit is a missing attribute for wx.Menu in wxPython 4. CC @TSpivey, @CToth.

From: jcoffin1 <notifications@github.com>
Sent: Wednesday, March 14, 2018 9:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject:

[2018-03-14 17:44] leonardder commented on #8082
Could this have to do with NVDA not yet using the most recent OneCore speech API that also supports faster speech rates?

In any case, confirmed here as well.

[2018-03-14 18:34] ghost opened #8085 "NVDA with the mail app in windows10"
We seem to have an issue with the mail app in windows10, when you open the mail app to read a message, you open the message and read it, then when you hit alt f 4 to close it, NVDA crashes, then you need to restart it.### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Nam

[2018-03-14 18:46] jcoffin1 commented on #8084
Yes I am. Using the latest next snapshot.
On March 14, 2018 10:50:42 AM Joseph Lee <notifications@github.com> wrote:>

[2018-03-14 20:15] leonardder commented on #8084
Strictly spoken, this is not a bug in NVDA itself, it should be solved in NVDA Remote. Therefore I'm temped to close this in favour of nvdaremote/nvdaremote#170 and nvdaremote/nvdaremote#171.

[2018-03-14 21:44] zstanecic opened #8086 "nvda randomly crashes when trying to open NVDA menu"
steps to reproduce:
1. try to open the NVDA menu.
2. you will hear windows error sound.
3. nvda will restart itself

this can happen three times.
it happens from the wx next snaps.
 cannot catch the logs, installed version

[2018-03-14 22:02] Qchristensen commented on #8082
Ditto here, the only thing I'd add is just to document:
- The speech rate is faster than it was previously.  EG I had previously set the rate in Windows' speech settings as fast as possible and NVDA's to about the middle.  If I now set the Windows speech rate to the middle, the rate is similar.
- The pitch is also much higher than previously.  There is no option in Windows (that I have found, unle

[2018-03-14 22:14] michaelDCurran commented on #8082
So it is looking like the sample rate is now 16000 hz or something. NVDA
has always assumed it is 22050 hz.

Microsoft is aware of the issue, and we are working together to find the
root cause.

Solutions would be either:

* Microsoft changes the sample rate back to 22050 hz.

* NVDA hardcodes the sample rate to 16000 for Windows build 17120 and
above... though weirdly this is not yet in RS5 (1761

[2018-03-15 00:50] Qchristensen opened #8087 "Losing focus in Gmail on Chrome when navigatin"
Using NVDA 2018.1 on Google Chrome Version 65.0.3325.162 (Official Build) (64-bit) on Windows 10 fast insider build 17120.  Issue noticed in last few versions of everything though.

When editing a GMail message in Chrome, if navigation keys - eg right arrow - are pressed several times very quickly, NVDA jumps out of focus mode and into browse mode then moves to other elements.

In the following de

[2018-03-15 01:12] michaelDCurran commented on #8087
Do you by chance have "automatic focus mode for caret movement" set in
Browse Mode Settings?
I could see perhaps how this feature could cause the issue if
Gmail/Chrome was a bit slow.

[2018-03-15 01:24] Qchristensen commented on #8087
Ah yes, that's it.  I forgot I'd turned that on to test something else awhile ago.  I didn't look in Browse mode settings because I "knew" what settings I was using.  I shouldn't listen to myself, clearly I don't know anything :)

Turning that off does stop the problem, although ideally you should be able to have it on without that happening.

[2018-03-15 03:36] jcsteh commented on #8082
Could those experiencing this please try [this try build](https://ci.appveyor.com/api/buildjobs/si9ct3l9t03ystam/artifacts/output%2Fnvda_snapshot_try-ocSpeechWavParams-14950%2C0e7c5e45.exe)? I'm not running that build, so I can't test it myself, but I think this should fix it.

[2018-03-15 04:00] Qchristensen commented on #8082
Just had a bit of a play with it and the voice sounds much better.  It seems a bit sluggish, but I think that's my system today.

[2018-03-15 04:03] josephsl commented on #8082
Hi, it works. BTW, if I may ask: could we tweak the code a bit to make it Python 3 compatible? Thanks.

From: James Teh <notifications@github.com>
Sent: Wednesday, March 14, 2018 8:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 build 17120: OneCore voices sound as though high-p

[2018-03-15 04:23] jcsteh commented on #8082
Oops. This broke indexing, which means it also broke reading by character. [Here's a new try build which fixes it](https://ci.appveyor.com/api/buildjobs/kg4kt6t3hc2y31uy/artifacts/output%2Fnvda_snapshot_try-ocSpeechWavParams-14951%2Cf1c9d487.exe).

As for Python 3 compat, I think there's going to be a bit of tweaking to make nvwave (and everything that uses it) Python 3 compatible, given the bytes

[2018-03-15 04:55] leonardder commented on #8086
@zstanecic: Thanks for reporting.

Note that you could always find the most recent log and one log before in your temp folder, %temp% or c:\users\youruser\appdata\local\temp. When NVDA crashed and you run it again, the log file of the running instance is nvda.log. The log file of the crashed instance should be nvda-old.log at that time.

[2018-03-15 05:01] leonardder commented on #8083
This is fixed in the most recent Next snapshot, which can be downloaded manually.

Steps to reproduce:

1. Run the most recent next snapshot (i.e. next-14949)
2. Paste the following into a python console and press enter: `import versionInfo; versionInfo.updateVersionType="snapshot:master"`
3. Check for updates. NVDA will download a master snapshot.
4. The install/postpone dialog shows up as expect

[2018-03-15 05:01] #8083 closed

[2018-03-15 05:03] leonardder commented on #8083
Note that a much easier way will be installing the most recent next snapshot and waiting for the next next snapshot to be released. However, this seems to be a waterproof testing scenario.

[2018-03-15 05:33] Andre9642 commented on #8086
Hello,
I am sorry; but I think BrailleExtender is the cause of the problem... Have you tried with all addons disabled?
Indeed, when I open the NVDA menu, I have also this error from time to time, I don't know why for now... :/

[code]

[2018-03-15 07:25] zstanecic commented on #8086
Hi,
With the addons disabled i cannot reproduce this.

Wysłane z aplikacji Poczta dla Windows 10

Od: André-Abush Clause
Wysłano: czwartek, 15 marca 2018 06:33
Do: nvaccess/nvda
DW: zstanecic; Mention
Temat: Re: [nvaccess/nvda] nvda randomly crashes when trying to open NVDAmenu (#8086)

Hello,
I am sorry; but I think BrailleExtender is the cause of the problem... Have you tried with all addons dis

[2018-03-15 07:27] zstanecic commented on #8086
No Leonard,
In my case old log disappears for some reason

Wysłane z aplikacji Poczta dla Windows 10

Od: Leonard de Ruijter
Wysłano: czwartek, 15 marca 2018 05:55
Do: nvaccess/nvda
DW: zstanecic; Mention
Temat: Re: [nvaccess/nvda] nvda randomly crashes when trying to open NVDAmenu (#8086)

@zstanecic: Thanks for reporting.
Note that you could always find the most recent log and one log before in

[2018-03-15 07:28] jiangtiandao commented on #8069
Default path is
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community
After changing to
E:\2017

E:\2017\VC\Redist
E:\2017\VC\Tools

[2018-03-15 07:53] leonardder commented on #8065
The prototype I now have works quite nicely. I'm now at a point where another UX decision must be made.

As noted, several textInfos/applications have different rules in how they treat characters as word boundaries. We could make at least two decisions here.

1. Always echo a word if NVDA treats a character as a word separator. This works in Firefox, Word and Wordpad. IN Notepad with uniscribe on

[2018-03-15 08:01] zstanecic commented on #8086
Yes, confirmed,
Braille extender is the cause.
Have turned it off and it works.

Wysłane z aplikacji Poczta dla Windows 10

Od: André-Abush Clause
Wysłano: czwartek, 15 marca 2018 06:33
Do: nvaccess/nvda
DW: zstanecic; Mention
Temat: Re: [nvaccess/nvda] nvda randomly crashes when trying to open NVDAmenu (#8086)

Hello,
I am sorry; but I think BrailleExtender is the cause of the problem... Have you

[2018-03-15 08:23] k-kolev1985 opened #8089 "An error occurs during update of NVDA "next" snapshots"
### Steps to reproduce:
1. Install one of the "next" snapshots before the merge of Python 4. I'm not sure if it has necessarily to be of them, but my cases were such.
2. Try to update to the newest "next" snapshot, either via the update mechanism or via a downloaded install package from the snapshots page - it does not matter.

### Expected behavior:
The installation of the update should proceed a

[2018-03-15 08:27] KosratDAhmad opened #8090 "Add Central Kurdish Language (CKB)"
Hi there,

I'm an Android and iOS developer and I live in Kurdistan - Iraq so I want to add my language (Central Kurdish - ckb) to this program. Please help me and give me the steps which I need to add a new language to it.

[2018-03-15 08:29] k-kolev1985 opened #8091 "The latest "next" snapshots of NVDA use the old NVDA icon and not the newer one introduced in NVDA 2017.3"
### Steps to reproduce:
1. Install one of the latest "next" snapshots of NVDA.
2. Look at the NVDA icon used in the system tray, on the desktop, in the "Start" menu.

### Expected behavior:
NVDA should use the new style icon, introduced in NVDA 2017.3.

### Actual behavior:
NVDA uses the old style icon, used before NVDA 2017.3.

### System configuration:
- Operating system: Windows 10 Pro version

[2018-03-15 09:17] Brian1Gaff commented on #8089
Yes this is still occurring even after manually installing the previous next
and then allowing it to  check and get the new one.

Sorry if its supposed to have been fixed. I'm going to do a manual install
from
%temp%
Now.
 Brian

[2018-03-15 09:51] k-kolev1985 opened #8092 "With the latest "next" snapshots, the dialog for no new available updates is not centered on the screen"
### Steps to reproduce:
1. Install the latest "next" snapshot of NVDA, insuring that there are no new updates available.
2. Check for updates to NVDA from NVDA menu -> Help -> Check for updates.
3. When the dialog informing you that there are no new updates appears, check its position on the screen.

### Expected behavior:
NVDA's dialog for no new updates should be centered on the screen.

### Act

[2018-03-15 10:06] michaelDCurran commented on #8065
SymphonyTextInfo inherits from IA2TextInfo. The only reason
SymphonyTextInfo would use uniscribe is if IAccessibleText::textAtOffset
(for word) failed. IA2TextInfo._getWordOffsets calls super in this case.

 From a design perspective I much prefer point 2. However,  from a
purely practical point of view, I can say why point 1 would be an
advantage. However, this depends on performance. How are you

[2018-03-15 10:40] k-kolev1985 opened #8093 "If a text is a child of an object, NVDA fails to read the last character of the text"
### Steps to reproduce:
1. Open Windows Protection (I think that is how it is called in english, or "Windows Security").
2. Use TAB to go to the "Items" list.
3. Use the arrow keys to select "Viruses and threats protection" and open it with ENTER.
4. The focus should land on the "Quick Scan" button. If it does not, use TAB/Shift+TAB to move the focus to it.
5. Go down 1 level in the objects hierar

[2018-03-15 11:30] Brian1Gaff commented on #8092
I can think of at least one other program that does this, or used to
ccleaner!
 However you are right in that it used to be in the centre, but I've not
checked it recently.
 Brian

[2018-03-15 13:22] Piciok opened #8094 "focus jumping when typing on the Braille Edge keyboard"
Steps to reproduce:

1. Connect a Hims Braille Edge display via USB and choose it in the NVDA settings. make sure the connection is successful.
2. Open any text editor: tested with Microsoft Word 2016, notepad and the WYSIWYG editor of Github, so any will do.

3. Start typing a longer chung of text (something around 15 lines.)

Expected behaviour: the cursor should follow the text.

WHat happens i

[2018-03-15 14:14] leonardder commented on #8094
This log is really huge and therefore difficult to investigate. I assume you can't reproduce this on NVDA 2017.4? Also, how about typing a huge chunk of text in notepad?

[2018-03-15 14:22] leonardder commented on #8094
Were you by any chance intending to type the letter k (dot1+3) followed by a space?

Could it be that you type that rapidly that you accidentally pressed a space+dots combination that triggered a move of the cursor?

[2018-03-15 14:30] leonardder commented on #8092
Ough, my fault. It turns out that we have wx.CENTER and wx.Center. I used the former, where it should have been the latter. Life's so confusing!

[2018-03-15 14:45] leonardder commented on #8092
See https://github.com/nvaccess/nvda/pull/7104#issuecomment-373400247 for a more in depth explanation of what's going wrong here.

[2018-03-15 15:27] leonardder commented on #8065
[**@michaelDCurran**](https://github.com/michaelDCurran) commented on [15 mrt. 2018 11:06 CET](https://github.com/nvaccess/nvda/issues/8065#issuecomment-373324132 "2018-03-15T10:06:37Z - Replied by Github Reply Comments"):

This is a good point you're bringing up. Some logging in IA2TextInfo revealed that uniscribe is not used here, but rather it seems that IAccessibleText::TextAtOffset does retur

[2018-03-15 17:17] sukiletxe opened #8095 "Update Espeak NG to solve mangling of words"
### Steps to reproduce:
1. Switch the Espeak NG voice to English and read the following word by word multiple times: boogey début lasagne protegé Bogotá
2. Read the following the same way with the Spanish voice:
voice DPTO. SR. DRA. English Excmo. Izq. kg. Pte. UD.
### Expected behavior:
Espeak NG should read the words properly.

### Actual behavior:

From the ending of one word which gets glued t

[2018-03-15 18:54] leonardder commented on #8065
Looks like point 2 is much more easier to implement than I thought, and also looks somewhat cleaner from a code perspective. I'm going to test this prototype some more and will file a pr next week.

The code is at the i8065 @babbagecom branch.

[2018-03-15 19:09] Piciok commented on #8094
Hi there!

As described, this used to happen with 2017.4 as well but I decided to wait off until the native Hims drivers are implemented as this might have been a known issue.

This happens in notepad as well. Shall I make a next log?

I thought it could be that but I believe I was typing slowly enough for it not to happen when debugging it this time.

Wysłane z aplikacji Poczta dla Windows 10

Od

[2018-03-15 22:03] ehollig commented on #8086
As it seems Braille extender is the cause of this issue and not NVDA, I am going to close this issue.

[2018-03-15 22:03] #8086 closed

[2018-03-15 22:05] ehollig commented on #8087
@michaelDCurran, would it be possible to improve this when the feature is turned on, or should this issue be closed?

[2018-03-15 23:23] bdorer commented on #7925
Here's a commented log file. You should be able to follow my log easily because I translated the German strings but I may used the wrong english words.

[log.txt](https://github.com/nvaccess/nvda/files/1817404/log.txt)

[2018-03-16 07:52] zstanecic commented on #8086
the ussue is fixed in braille extender itself. the problem was, that it used a deprecated method

[2018-03-16 12:05] Piciok opened #8096 "The gesture mappings for the Hims Braille Edge follow the global setting and not the model-specific map"
The user guide as well as the NVDA settings both mention two alternative gesture mappings for the hims displays: a global one and one specific to the model of the display.

I'm using a Braille Edge and currently NVDA behaves as if the global setting was the one to be used when in fact the Braille Edge should be. This leads to conflicts, E.G. the gesture for the ctrl key assigned to Braille Edge di

[2018-03-16 13:31] bowave opened #8097 "NVDA crash with Office (Word, Excel, Outlook)"
NVDA crashes a lot when using Office applications. My wife is blind and we thought to give it a try to NVDA on her new computer. We used 2017.4 at first and now 2018.1. The problem is in both.

Crashes happen as following:
- NVDA stops speaking and braille. If you wait 30 sec to 1 min it might revive but interval of these stops keeps shortening and soon the machine needs reboot. While NVDA is sile

[2018-03-16 16:22] florianionascu7 commented on #8064
Now I'm confirming what Iván said. Unfortunately, it seems that this is a regression bug.

[2018-03-16 18:29] leonardder commented on #8096
I'm going to investigate this next week. I consider this a personal p2, given it is an annoying bug and probably not very difficult to fix. I will self assign this.

[2018-03-16 18:30] leonardder commented on #8064
[**@ivnc**](https://github.com/ivnc) commented on [13 Mar 2018, 21:33 CET](https://github.com/nvaccess/nvda/issues/8064#issuecomment-372808704 "2018-03-13T20:33:27Z - Replied by Github Reply Comments"):

Are you saying that this problem also occurred in 2017.4 and even earlier?

[2018-03-16 18:53] ivnc commented on #8064
Yes, you’re right, at least in case of Galician.
As I said, this also happens with all TwBlue versions I've tried.

Regards

[2018-03-16 19:54] Adriani90 commented on #8097
I guess it is related to @7982 and referenced issues.

[2018-03-16 20:37] leonardder commented on #1348
I noticed that this is also a problem in power shell. Given Power Shell is getting more and more a replacement for cmd, I wonder whether this priority should be raised. @michaeldcurran/@feerrenrut: thoughts about this?

[2018-03-16 20:39] leonardder commented on #8096
Could you please report whether [this](https://ci.appveyor.com/api/buildjobs/cyv562936hfrhj91/artifacts/output%2Fnvda_snapshot_try-i8096-14955%2C8d90b265.exe) try build fixes your issue?

[2018-03-17 05:45] gdata1 opened #8098 "Problems with the new Yutube interface in Edge"
Hello guys. I am observing the following problems with Yutube in edge.
1. With the new interface Yutube NVDA works slower than with the old version.
2. NVDA does not read the name video if you go through the headers using the H key.
This happens in edge.windows 10 1803 17123

NVDA next-14952,dd1cbe50

[2018-03-17 07:56] leonardder commented on #8098
Thanks for your report. Are you able to reproduce this issue only with nVDA, or also with Windows Narrator on this version of Windows/Edge?

[2018-03-17 07:58] leonardder commented on #8093
cc @michaeldcurran @josephsl

[2018-03-17 08:01] gdata1 commented on #8098
These problems are only used when using NVDA.
You can also play them on Windows 10 1709.

[2018-03-17 09:31] Piciok commented on #8096
That would be it! Works like a charm! Thanks a million!

[2018-03-18 08:21] bogdanus91 commented on #4557
Hello. I have the following error while try to write code in NetBeans IDE. It is happening after NVDA reads autocomplesion suggestion. After this nvda doesn't speak at all until you pres alt+tab and then return to NetBeans window. In log I see the following:

ile "NVDAObjects\IAccessible\ia2TextMozilla.pyo", line 614, in compareEndPoints
AttributeError: 'NVDAObjectTextInfo' object has no attribute

[2018-03-18 09:53] Brian1Gaff commented on #4557
Is this a system that depends on firefox then?
 Does it actually work with the new versions of ff or is it meant for 52 and
before?
 Brian

[2018-03-18 17:04] Adriani90 commented on #5243
@ehollig, @halim, @aliminator, @jcsteh,
are there any discussions on how to proceed with this proposed changes?

[2018-03-18 17:09] Adriani90 commented on #6019
Any news regarding this issue? Does anyone have gathered more info? I have some contacts at Papenmeier. I could ask for a protocol documentation if it is enough to solve this. Borowing a display will not be possible I guess, but I know some users who would contribute with comprehensive testing on device.

[2018-03-18 18:15] ChrisDel35 commented on #6019
Hi,

It always behaves the same with NVDA 2018.1 and a Braillex EL66S display.

Have a nice day. Chris D

From: Adriani90 <notifications@github.com>
Sent: Sunday, March 18, 2018 6:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Delaunay Christophe <christophe.delaunay@technicolor.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Cursor routing on some newer Papenmeier bra

[2018-03-18 23:58] fernando-jose-silva opened #8099 "Translation missing in portugues Brasil"
### Steps to reproduce:

Change the nvda language to Portuguese Brazil.
Open the Add-In Manager.
When an add-on is enabled, nvda informs.

### Expected behavior:
For an enabled add-on, nvda must inform
habilitado
which is the Portuguese word for enabled.

### Actual behavior:
nvda announces the status of the English add-on
enabled

### System configuration:
NVDA version:
next 14952

NVDA Installed