[2019-01-29 18:52] Adriani90 commented on #5155
@ehollig yes I think this is indeed the case here. In my opinion this would be a good feature.

[2019-01-29 19:22] iamrafan commented on #9187
@DrSooom This specific issue occurs in both Chrome and Firefox

  | AT/Browser | Announced as
-- | -- | --
1 | Edge/NVDA | toggle button   pressed
2 | Chrome/NVDA | toggle button   pressed checked
3 | IE/NVDA | button
4 | Firefox/NVDA | toggle button  not pressed checked

Do you want me to file separate issue for:
1) NVDA not announcing the state in IE when aria-checked="true" ?
2) NVDA announcing

[2019-01-29 19:26] Adriani90 commented on #9169
@Qchristensen is there another screen reader at the same time starting with log on? I.e. Jaws or narator at the same time?

[2019-01-29 19:34] ABuffEr opened #9213 "Provide Braille description of emoji"
Hi,
as you know, NVDA is now able to read CLDR emoji (a great, great feature for social communications).
But, actually, Braille shows only hexadecimal values of these emoji; quite useless if you, temporarily or usually, use Braille without voice (or without hearing it).
So, I would suggest an option to give to the user the possibility to have the spoken emoji description also reported in Braille,

[2019-01-29 19:36] josephsl commented on #5131
Hi, not exactly, as the fix for this involves name change event, and only after Windows 10 App Essentials does SearchUI app module listen to name change events and react accordingly (note that Cortana’s UI has changed drastically in recent Windows 10 releases). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, January 29, 2019 11:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
C

[2019-01-29 19:49] Adriani90 commented on #5124
@drabdullah6 I guess you are still having this issues. But to make sure, did you install the driver according to the NVDA user guide?

I understand the issues as following:
1. The packmate display is not recognized automatically by NVDA after awake from sleep mode. @leonardder I think this pack mate display comes with a braille display in it. Right? Is it planed to add it to the automatic braille

[2019-01-29 19:52] Adriani90 commented on #5123
@patjk is this still an issue with last NVDA and last Vipmud version?

[2019-01-29 19:53] Adriani90 commented on #5120
@HungarianLaller the interface has changed significantly in the last aVG version. Are you still having this issue?

[2019-01-29 19:55] Adriani90 commented on #5119
Did anyone try to reproduce it meanwhile? cc: @jcsteh, @Qchristensen

[2019-01-29 20:17] Adriani90 commented on #5276
@tyrylu are you still having the issue?

[2019-01-29 20:32] Adriani90 commented on #5261
cc: @josephsl

[2019-01-29 20:47] Adriani90 commented on #5274
@deepan1981, @jcsteh I am probably wrong, but from an user perspective I do not see a difference between IE11 and Firefox 64.0.2 when testing the both examples with NVDA 2018.4.1. But I think I don't really understand this issue. :-) Are you having this issue with NVDA 2018.4.1?

[2019-01-29 21:09] Adriani90 commented on #5257
The interface of Dropbox webpage has changed significantly. I can access those buttons without issue. @levilibegas:, if you are still having this issue please feel free to comment on it. I will close it as works for me but We can reopen it if the initial author reports it again. Thanks.

[2019-01-29 21:09] #5257 closed

[2019-01-29 21:14] Adriani90 commented on #5221
This is still reproducible in Excel 2016 and 365. I think this should be solved soon since especially in organizations we have lots of protected excel sheets.
cc: @michaelDCurran, @lukaszgo1

[2019-01-29 21:22] Adriani90 commented on #5251
I can reproduce this issue in Firefox 64.0.2. However, I cannot see anything in the log. Could this be a bug in Firefox?
cc: @jcsteh

[2019-01-29 21:52] Adriani90 commented on #5240
@powrsurg I am using NVDA 2018.4.1 and Firefox 64.0.2. I cannot really reproduce this issue. When I am in a column other than column 1, all headers are reported properly. That is:
1. From left to right the course title and cousre status where possible
2. From top to bottom the course title and course time.

Note: The cell where course status is reported can only be reached from the cell where cour

[2019-01-29 21:58] Adriani90 commented on #5199
cc: @feerrenrut

[2019-01-29 22:01] Adriani90 commented on #5173
@Brendon22 I am prety sure this has been improved during last years. Could you please test with NVDA 2018.4.1 and report if this is still an issue? Thanks!

[2019-01-29 23:55] jcsteh commented on #9187
I honestly think trying to get the spec changed isn't worth the effort at this point. The simplest solution for now is to implement an overlay in NVDAObjects.IAccessible.ia2Web for xml-roles:switch, expose ROLE_CHECKBOX and remove STATE_PRESSED if present.

[2019-01-30 00:07] jcsteh commented on #5251
The original issue described by hhillen in https://github.com/nvaccess/nvda/issues/5251#issue-116051543 no longer exists. Pressing down arrow after link 2, button 2, link 3 or link 4 does reset the focus, but it does not reset the browse mode cursor.

The reason the focus gets reset is that in Firefox, scrollable containers are deliberately focusable so that they can be scrolled using the keyboard

[2019-01-30 01:19] Qchristensen opened #9214 "Report selected text silent when large amount of text selected"
### Steps to reproduce:

1. Find a large amount of text - I selected the entire WW1 article from Wikipedia and copied it into Notepad (just to be sure it was nothing to do with the browser).
2. Select a large amount of text (I selected all 359,044 characters).
3. Press NVDA+shift+up arrow (NVDA+shift+s in laptop keyboard layout).

### Actual behavior:

NVDA is silent.  NVDA responds if another com

[2019-01-30 07:06] leonardder commented on #9187
@jcsteh wrote:

What do you think about the alternative: Replace STATE_CHECKED with STATE_PRESSED? I think I prefer this approach:

1. It respects the aria role. A switch behaves like a checkbox, but it is supposed to be a toggle button
2. It will/can be consistent across browsers. It seems that Edge maps aria-checked to pressed in the case of switch, see https://github.com/nvaccess/nvda/issues/91

[2019-01-30 07:17] jcsteh commented on #9187
Your arguments are based on the premise that a switch is "supposed" to be a toggle button according to the spec. However, that is debatable. The spec says that a switch is "a type of checkbox". It doesn't say "a type of button". If you map it to checkbox, then speaking the negative checked state will "just happen" and is not hacky at all.

The fact that Edge treats it as a toggle button might be a

[2019-01-30 08:03] Brian1Gaff commented on #9214
So does this still happen on Espeak?

Do we have here a problem about memory limits on 32 bit programs?
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-01-30 08:18] Qchristensen commented on #9214
I just tried recreating the same situation using eSpeak or SAPI 5 and both read the text (with about a five second pause between pressing NVDA+shift+up arrow and NVDA starting to read.

[2019-01-30 09:31] tyrylu commented on #5276
Excluding some october update pairing issues, no, the issue is resolved and likely can be closed.

[2019-01-30 09:48] Adriani90 commented on #5276
Closing as works for me. Thanks for your fast reply.

[2019-01-30 09:48] #5276 closed

[2019-01-30 11:10] Brian1Gaff commented on #9214
Yes I'd known about the delay, but using windows 7 as I do I of course
cannot use the one core voices.
 I do a lot of cutting and pasting from web pages, emails and documents
generally to edit copy for our tn and have never found a lock up, just a
pregnant pause.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'

[2019-01-30 12:18] ABuffEr commented on #9213
Hi DrSoom
thanks for links. I searched before opening issue, but I'm not familiar with liblouis system, so I'm not sure about solution discussed, how it'll be shown to normal users, etc. So, regardless of technical difficulties/limitations, I hope those issues can bring to a solution quite similar to one I suggested.

[2019-01-30 12:43] DrSooom commented on #9213
@ABuffEr: Not really, it only shortens the amount of cells to display the hexadecimal value of undefined Unicode characters. Currently you can save ten cells per character for the 80 Emoticons from [U+1F600 to U+1F64F](https://www.compart.com/en/unicode/block/U+1F600), because of the surrogates in UTF-16. I already uploaded two test files for demonstrating this solution. You can find them there.

[2019-01-30 13:18] DrSooom commented on #9213
One more question: Do you want that `😀` would be displayed as `:grinning face:` instead of ⣥⣆⡉⣥⢂⣺ (later on only ⣭⡤⣺) on a braille display?

I guess replacing the characters with their related text replacements in the "cldr.dic" should be not so difficult to implement – always as an option. But on the other hand `:kissing face with smiling eyes:` is quite a lot of text on a braille display. So a h

[2019-01-30 16:01] Andre9642 commented on #9213
I try to work around that in recent times but currently I haven't found a good solution.
Notwithstanding, the BrailleExtender add-on proposes a small solution.
First, assign a gesture for this command: go to "Input gestures..." dialog, BrailleExtender section then "Show the output speech for selected text in braille".
Then you just need to select text in question and press the defined gesture. The

[2019-01-30 17:07] fernando-jose-silva opened #9215 "Error in translation into Portuguese Brazil option graphics in element list"
### Steps to reproduce:
Create a spreadsheet in excel where you have a chart.
Open the list of items with nvda + f7.
Walk with taboos until
the list with the type option buttons.
Look up with the arrow below the graphic type.
### Actual behavior:
There is no graphic (gráfico) option button.
The radio button that chooses and selects a chart is named as a folder (pasta).
### Expected behavior:
There

[2019-01-30 19:32] Adriani90 commented on #9215
Cc: @ruefontes

[2019-01-30 23:31] Qchristensen commented on #9169
The user advised there is no other AT starting, and NVDA is the only screen reader.

[2019-01-31 07:02] #9103 closed

[2019-01-31 07:02] #9104 closed

[2019-01-31 07:02] #9105 closed

[2019-01-31 07:02] #9106 closed

[2019-01-31 07:35] #1486 closed

[2019-01-31 08:43] surfer0627 opened #9218 "LibreOffice Calc: while switching to next / previous worksheet, system cursor got lost"
### Steps to reproduce:
1. Extract the attachment, and open it  with Calc.
2. Press control+page down to switch to next worksheet.
#### Actual behavior:
braille: editable tbl cell
speech: none
(System cursor got lost.)
(Press f2 to Edit mode, and press esc to move away.)
(System cursor gets focus again.)
#### Expected behavior:
NVDA reports cell content correctly.

### System configuration:

####

[2019-01-31 08:43] surfer0627 commented on #9218
Here is the log file.

[2019-01-31 08:56] surfer0627 commented on #9218
Sorry, test case and log file are not uploaded successfully.
Here is the log message.
Input: kb(desktop):control+pageUp
DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IA2Attributes (15:57:17.345):
IAccessibleObject.attributes COMError (-2147467259, '\xb5L\xaak\xab\xfc\xa5X\xaa\xba\xbf\xf9\xbb~', (None, None, None, 0, None))
IO - speech.speak (15:57:17.345):
Speaking [LangChangeCommand ('e

[2019-01-31 09:01] surfer0627 commented on #9218
[test.zip](https://github.com/nvaccess/nvda/files/2816403/test.zip)

[2019-01-31 09:05] surfer0627 commented on #9218
[nvda.log](https://github.com/nvaccess/nvda/files/2816418/nvda.log)

[2019-01-31 09:22] surfer0627 commented on #9218
[nvda.log](https://github.com/nvaccess/nvda/files/2816475/nvda.log)

[2019-01-31 10:12] k-kolev1985 opened #9219 "Confusing status report for toggle switches/buttons in Skype 8's options window"
### Steps to reproduce:
1. Install the latest version of Skype 8.
2. Open its settings/options window with Control+comma.
3. Activate the "General" tab (this is the first one to have toggle switches, but the behavior is the same with all toggle switches in Skype's settings window).
4. Press TAB a few times, until you get to a toggle switch which is enabled/toggled to "On".
5. Observe what NVDA rep

[2019-01-31 11:13] leonardder commented on #9219
This can be treated as a duplicate of #9187, since Skype is using the switch role for these toggle buttons/switches. Yet, I'm tempted to leave this open for now, as the link between the two issues isn't very obvious.

[2019-01-31 12:22] ruifontes commented on #9215
I am a member of european portuguese team...
I have forwarded the message to the brazilian team...

Rui Fontes

Às 19:32 de 30/01/2019, Adriani90 escreveu:

[2019-01-31 13:07] Adriani90 commented on #9215
Thanks Rui. If you know someone from the brazilian portuguese Team who has a github account, could you please mark one Person in this issue so we get a Status update when the issue is solved?

[2019-01-31 13:33] leonardder commented on #9187
You're correct.

True. However, there is the UIA proxy for IA2, which I think will use the pressed state as expose by Chrome. I have to check that, though

Re #9219: the switches in Skype 8 really look like toggle buttons visually.

@michaelDCurran, may be you can cut the knot for us?

[2019-01-31 14:16] lukaszgo1 commented on #8916
This list is now used in advanced settings and the same problem can be observed there. The only way to restore computer to its working condition after restart of NVDA is a complete reboot of the system. Can this be given attention it deserves? Solving it before 2019.1 is released would be nice.

[2019-01-31 14:36] leonardder commented on #8916
I can not reproduce this myself, but will try to provide a fix.

[2019-01-31 17:18] #9055 closed

[2019-01-31 17:21] Adriani90 opened #9222 "NVDA crashes in windows 10 event viewer"
### Steps to reproduce:
1. Open NVDA
2. In Windows 10 1809 update, Open the event viewer
3. In the tree view choose a cathegory (i.e. applications)
4. Press tab to land into the list with events
5. Press enter on an event to open its properties
6. Press tab to read the even
7. Press shift+tab until you land on "close button"
8. Press space bar

### Actual behavior:
Often NVDA crashes. You must sta

[2019-01-31 17:22] Adriani90 commented on #9222
I get following in the log file:

[code]

[2019-01-31 18:01] Adriani90 commented on #8916
I can definitely reproduce it in Windows 10 1809 update with NVDA 2018.4.1. I think we could find some notices maybe in the event viewer. I was looking for indicators there but couldn't really find something which convinces me yet.

[2019-01-31 18:21] leonardder commented on #8916
Could you please test [this](https://ci.appveyor.com/api/buildjobs/aln7s4yp2g3j3l5y/artifacts/output%2Fnvda_snapshot_try-accPropServerFix-16681%2C996dce6e.exe) try build?

[2019-01-31 18:36] leonardder commented on #9187
[**@leonardder**](https://github.com/leonardder) commented on [31 Jan 2019, 14:33 CET](https://github.com/nvaccess/nvda/issues/9187#issuecomment-459345187 "2019-01-31T13:33:27Z - Replied by Github Reply Comments"):

Nope, it looks like this is not yet complete. Both switches and buttons are treated as buttons, however there is currently no implementation for the relevant states. Tested with Window

[2019-01-31 18:43] leonardder commented on #7669
I tested this this morning with Windows 10 version 1809. Either I did something wrong, or this issue has been partly solved. I was able to use the registry editor under a different user without any issues.

[2019-01-31 18:50] lukaszgo1 commented on #8916
I've tested with the STR given in the initial commend, and the bug is gone. I cannot test with the logging options list in the advanced settings, because it isn't included in this build.

[2019-01-31 19:42] Adriani90 commented on #9222
Tested with 2018.3.2, the crash is not occuring.

I get following error in event viewer window, the error dialog came up suddenly after trying to access the window after crashing:

[code]

[2019-01-31 20:46] kvark128 commented on #8916
I confirm that the bug has been fixed in this build.

[2019-02-01 03:29] Otobelikethee opened #9223 "NVDA does not report the updated state of checkbox with pseudo element after its content."
### Steps to reproduce:
[demo](https://codepen.io/anon/pen/omZBqy?editors=1111)
### Actual behavior:
The updated state is not announced when I toggle the state of it.
### Expected behavior:
The updated state should be announced.
### System configuration
#### NVDA installed/portable/running from source:
installed
#### NVDA version:
2018.4
#### Windows version:
Windows 10 Pro Version 1703 Build 1506

[2019-02-01 05:49] Otobelikethee commented on #9223
#8341

[2019-02-01 06:10] #9223 closed

[2019-02-01 09:45] sephyzeonas opened #9225 "Cached keyboard focus kicks in after page reload/form submit"
I have experienced a caching behavior whenever I reload a page or submit a form.
I already found a closed issue ( https://github.com/nvaccess/nvda/issues/5351 ) which describes my current issue properly but does not satisfy my need.
The focus issue is found on absolutely every web page which is not helpful if you want to force the  focus to another position e.g. after a form submit via JavaScript.

[2019-02-01 11:52] ABuffEr commented on #9213
Hi,
first, sorry for delay.
@DrSooom : briefly, yes, I'd like to read :grinning face: (or everything is in CLDR descriptions), and I agree with you about text length, so I agree also it should be an optional feature and controlled by gesture.
@Andre9642 , thanks, I read about your add-on and I'm sure it's a valuable work, I'll try it.

[2019-02-01 13:02] #8916 closed

[2019-02-01 13:30] leonardder opened #9226 "No restart confirmation prompt when installing add-on from shell"
Regression from #9151

### Steps to reproduce:
1. Open an add-on from Windows Explorer
2. Install it

### Actual behavior:
No restart confirmation prompt is shown

### Expected behavior:
A restart confirmation prompt is shown

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
alpha-16682

cc @feerrenrut

[2019-02-01 22:02] ydogandjiev commented on #9173
@DrSooom, after upgrading to NVDA 2018.4.1 I see a slight improvement. The aria-label of the listbox is now read in browse mode. In my minimal repro above I hear "Options list clickable" as opposed to just "List clickable".

However, _none of the items in the listbox are read_ and there is no way to get to them in browse mode.

[2019-02-01 22:40] Adriani90 commented on #5168
@pranavlal could you test if this issue is reproducible in Outlook 2013? Thank you very much in advance.

[2019-02-01 22:56] Adriani90 commented on #9173
I can access the options in the list with object navigation but I don't get any feedback when I try to route the mouse to any of the options. It seems like I cannot select another item in the list. I can only read them in object navigation.

[2019-02-01 23:00] Adriani90 commented on #5300
@pranavlal track changes are actually part of the elements list in MS Word. If you enable browse mode and then press nvda+f7 in MS word then you can choose "editor revisions" and in the list you can see all changes.

[2019-02-01 23:06] Adriani90 commented on #5296
Did anyone fill a bug to Microsoft for this?
I can still reproduce it.
cc: @jcsteh, @Qchristensen

[2019-02-01 23:09] Adriani90 commented on #5392
Since the crash is not occuring anymore, closing this as works for me. We can reopen it if further discussion is needed.

[2019-02-01 23:09] #5392 closed

[2019-02-01 23:20] pranavlal commented on #5168
I certainly could. Please give me until Monday.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Saturday, February 02, 2019 4:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook 2013: Problems reading the CC field when it contains more than 2 addresses (#5168)

[2019-02-01 23:38] Adriani90 commented on #5373
cc: @michaelDCurran, @feerrenrut maybe this is related to a missing component when installing VS 2017? I had such an error but it was hapenning with the userguide and the keycommands.html. In my case Visual C++ ATL for x86 and x64 was missing.

[2019-02-01 23:41] Adriani90 commented on #5371
@joshknnd1982 are you still having this issue?

[2019-02-01 23:43] Adriani90 commented on #5371
Actually it depends which programs are you using while running NVDA. If NVDA needs a huge amount of information and it extracts it from the accessibility API, then I can imagine that this causes performance issues. For example in very big MS Word documents, if you enable "pages", "editor revisions" etc. in document formating settings, then you will see that NVDA will use more power than before. Bu

[2019-02-01 23:44] Adriani90 commented on #5371
do you have any security software installed?

[2019-02-01 23:59] Adriani90 commented on #5320
Closing as duplicate of #3281. In that issue the discussion is more detailed. So please comment on that issue.

[2019-02-01 23:59] #5320 closed

[2019-02-02 00:09] pranavlal commented on #5168
One thought, when you tab back into the "cc" field, what about using left and right arrows? They work for me in outlook 2013. I have outlook 2013 on my work machine hence the request to give me until Monday. I usually hit ctrl+home in the "cc" field to get to the top of the field and the review the addresses with right and left  arrows.

[2019-02-02 00:12] Adriani90 commented on #5368
This is still reproducible with NVDA Alpha 16691,10590C87. @josephsl are you planning to raise a pull request with the coresponding part of your windows 10 app essentials addon?

[2019-02-02 00:36] Adriani90 commented on #5366
It seems IE interprets this like a layout table. If you enable layout tables in browse mode settings, the table navigation, as well as (t and ,) are working correctly in IE11. @feerrenrut I think there was a quite similar issue months ago. This is issue #7913. Is your explanation from that issue maybe also related to this one? In that case I think we could close this one as well.

[2019-02-02 00:48] josephsl commented on #5368
Hi, not anytime soon.

From: Adriani90 <notifications@github.com>
Sent: Friday, February 1, 2019 4:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Microsoft Edge: search suggestions not announced in address bar (#5368)

This is still reproducible with NVDA Alpha 16691,10590C87. @josephsl

[2019-02-02 01:02] Adriani90 commented on #5349
@dangmanhcuong are you still having this issue?

[2019-02-02 01:13] Adriani90 commented on #5345
I can reproduce this issue with chrome 71 and with Firefox 64.0.2.
STR:
1. Open the Twitter Bootstrap modal demos above
2. Press o to land on the modal dialog
3. Press enter on it
4. Navigate with arrow keys to "close" and press enter or space
5. Go to focus mode with NVDA+space bar and tab to close button and press enter or space

Actual: when pressing enter or space on "close button, the modal d

[2019-02-02 01:17] Adriani90 commented on #5337
@The_Dark_Man

[2019-02-02 01:18] Adriani90 commented on #5337
Ok the author is not available anymore and we didn't hear for a very long time any updates. I didn't see this issue ever and it seems we cannto reproduce it. Closing.

[2019-02-02 10:29] MarcoZehe opened #9227 "Support quick navigation by article in browse mode"
### Is your feature request related to a problem? Please describe.

I propose that NVDA implement a quick navigation key for browse mode that allows to skip back and forward by articles. So far, this is done via the Enhanced ARIA add-on, which simply expands the landmark navigation to include articles. However, with many articles, the rest of the landmarks get drowned out easily, so it makes sense

[2019-02-02 11:56] leonardder commented on #9227
This looks like a duplicate of #7835.

[**@MarcoZehe**](https://github.com/MarcoZehe) commented on [2 Feb 2019, 11:29 CET](https://github.com/nvaccess/nvda/issues/9227#issue-405970630 "2019-02-02T10:29:21Z - Replied by Github Reply Comments"):

Note that object navigation (with o) also navigates to audio and video tags, and I believe even embedded applications.

I think we really need to make a de

[2019-02-02 12:16] lukaszgo1 commented on #5337
I am able to reproduce it on Windows 7 Pro x64 with latest NVDA Alpha snapshot. @Adriani90 Can you reopen please?

[2019-02-02 12:23] limaoscar opened #9228 "mouse tracking on notepad++"
I found that when I open a text in notepad++ and use mouse to read it, the screen reader speack different row than the row where the mouse is pointing,
usually it read the 3rd row below the position of mouse.
this problem do not appears using windows notepad or akelpad on any text file on any computer

[2019-02-02 12:45] lukaszgo1 commented on #5337
I am attaching log from the crash, and the dump generated from crashed explorer. Note that when the crash occurred NVDA freezes for about 5 minutes.
[issue_5337.zip](https://github.com/nvaccess/nvda/files/2824416/issue_5337.zip)

[2019-02-02 12:46] Adriani90 commented on #5391
@jmuheim could you please provide a new example to test? The link in the description does not work anymore.

[2019-02-02 12:48] Adriani90 commented on #5502
@Giovani93 is this still an issue for you?

[2019-02-02 12:55] Adriani90 commented on #5498
@wildcat11, @ehollig I cannot reproduce this issue in MS Word 2010 and Word 365 with NVDA 2018.4.1 and with Alpha 16691,10590C87. Are you still having this issue?

[2019-02-02 13:02] Adriani90 commented on #5466
I agree this is how MS Outlook generally works. Note that if you move with left and right arrow with NVDA off, you also jump name by name in the field. This occurs because if you write down an address in the field, the address is saved to your address book and Outlook interprets it like an entry from the address book. If you want to navigate character by character, please do following:
1. In outlo

[2019-02-02 13:07] Adriani90 commented on #5496
Tested with NVDA Alpha 16691,10590C87 and Firefox 65, I cannot reproduce it either. Closing as works for me.

[2019-02-02 13:07] #5496 closed

[2019-02-02 13:09] Adriani90 commented on #5447
@k-kolev1985, @Brian1Gaff can you still reproduce this issue with NVDA 2018.4.1 or with the last Alpha?

[2019-02-02 13:14] Adriani90 commented on #5488
cc: @paulber007, @michaelDCurran

[2019-02-02 13:15] Adriani90 commented on #5478
@elliott94 I cannot reproduce this issue. Are you still having it with NVDA 2018.4.1?

[2019-02-02 13:19] Adriani90 commented on #5477
This is still reproducible in NVDA Alpha 16691,10950C87 and Firefox 65.

[2019-02-02 13:42] Adriani90 commented on #5448
@JasonTarka thank you for this proof of concept. With it, I can still reproduce this issue in NVDA 2018.4.1 and with Alpha 16691,10590C87 on Firefox 65. cc: @jcsteh I wonder if something can be done from NVDA's side or if this is a firefox bug? In Crhome and IE the issue is not occuring.

[2019-02-02 13:46] Adriani90 commented on #5429
@dkager are you still seeing this error in Outlook 2016 with NVDA 2018.4.1? @ehollig could you please upload the attachments from Tracker? Thank you.

[2019-02-02 13:47] #5466 closed

[2019-02-02 13:47] elliott94 commented on #5478
Happy to close for now; I haven't seen this since.

[2019-02-02 13:47] #5478 closed

[2019-02-02 13:51] elliott94 commented on #5395
Unfortunately I don't have a copy of Excel that I can use to test this right now; if it's not too much trouble, would anybody else mind testing this?

[2019-02-02 14:05] Adriani90 commented on #5456
@Qchristensen is the logo actually visible on the website at all?

[2019-02-02 14:41] Adriani90 commented on #9228
Closing as duplicate. Thanks @DrSooom for your reaction on this one.

[2019-02-02 14:41] #9228 closed

[2019-02-02 14:43] dkager commented on #5450
I'd have to investigate this issue again, but it's not really much of a priority for me right now.

[2019-02-02 14:45] Adriani90 commented on #5395
Ok, I will close this as works for me since according to my tests the issue cannot be reproduced. @elliott94 feel free to comment if the issue is occuring again and we can reopen it. Thanks for reporting.

[2019-02-02 14:45] #5395 closed

[2019-02-02 14:45] dkager commented on #5429
Heh, this is surely very outdated. I haven't seen this problem in years. Closing.

[2019-02-02 14:45] #5429 closed

[2019-02-02 14:49] Adriani90 commented on #5438
cc: @dineshkaushal

[2019-02-02 14:51] Adriani90 commented on #5425
@surfer0627 can you still reproduce this issue?

[2019-02-02 15:03] k-kolev1985 commented on #5166
@Adriani90 Yes, the bug is still reproducible with latest NVDA alpha snapshot and Windows 10 build 18323 Insider Preview, as described in the first post here. But if I check the beta option to use Unicode UTF-8 for locale support in Windows (under the combobox for selecting the language for non-Unicode programs), the problem does not occur, even if the display/UI language and the language for non-

[2019-02-02 16:17] elliott94 opened #9229 "NVDA/Windows 7 X64: Entire Operating System Crashes when Setting Changed from Settings dialog and NVDA Closed/Restarted"
It's worth noting that I've tested this with alpha-16220,87eb36f8; I wanted to write my findings in case this is still an issue.

STR:

1. Start with a fresh NVDA config file; open the Settings dialog, make a change (I tested this by changing my keyboard layout), and hit Enter to save changes and close the dialog

2. Close NVDA via NVDA + Q

3. Attempt to start NVDA with CTRL + Shift + N; this wil

[2019-02-02 16:30] Adriani90 opened #9230 "Telegram website, errors in modal dialog does not allow NVDA to change to focus mode or to close the dialog."
### Steps to reproduce:
1. Open
https://web.telegram.org/
2. Log in to telegram
3. Open the submenu right at the top of the webpage and open the settings modal dialog
4. Navigate in browse mode to the link "close" and press enter
5. Press nvda+space to enable focus mode
6. Press escape

### Actual behavior:
When pressing enter on "close", the dialog does not close. When pressing NVDA+spacebar, NVD

[2019-02-02 16:31] Adriani90 commented on #9230
In the log file I get following errors:

[code]

[2019-02-02 16:31] Adriani90 commented on #9230
In Chrome the issue is not occuring.

[2019-02-02 16:31] Adriani90 commented on #9230
Issue #5454 might be related.

[2019-02-02 16:48] bdorer commented on #5456
The NVAccess logo is vissible on nvaccess.org and described. I couldn't
find any logo on githubs community page.

Am 02.02.2019 um 15:05 schrieb Adriani90:

[2019-02-02 16:49] Adriani90 commented on #9230
Tested in NVDA 2018.4.1 is the same. In NVDA 2018.3.2 I cannot test because there seems to be another bug in it which has been solved later on. In 2018.3.2 I cannot expand the submenu at the top of the webpage.

[2019-02-02 18:16] leonardder commented on #5166
I assume we can somehow fix this when switching to Python 3.

[2019-02-02 18:35] leonardder commented on #5373
Visual C++ ATL is properly installed here.

I guess we can revisit this when updating to Python 3, in which case Doxygen may also need an update.

[2019-02-02 18:53] bramd commented on #9227
I'm totally for a way to navigate to (and announce) articles. However, @leonardder has a valid point about the number of quicknav keys that are around and new ones requested. Some kind of ring with the lesser used options might be helpful so we free up keys for new usage?

[2019-02-02 19:16] Andre9642 commented on #9227
I'd also like to see this in NVDA Core.
There are still some free keys: j, p, y and z. Why not one of them?

[2019-02-02 19:20] bdorer commented on #9227
What about leaving this and others unasigned and allow people to asign
keys in input manager?

Am 02.02.2019 um 19:53 schrieb Bram Duvigneau:

[2019-02-03 00:45] jacobchawala opened #9231 "Python 3 is not accessible with NVDA"
I ask myself why Python 3 is not accessible with NVDA while Python 3 is the main program used to build, design, and develop NVDA. this is the high time to make it accessible with NVDA. for instance, i was writing a code on the python's editor, nothing was read by pressing any of my keyboard arrows! i went to the console to check its results, nothing was read by NVDA! so this first version of NVDA

[2019-02-03 11:05] lukaszgo1 commented on #9231
Duplicate of #3812. The referenced issue was closed as cantfix, and I am afraid we have to do the same with this one.

[2019-02-03 13:34] Adriani90 opened #9232 "Firefox and google tables: NVDAreports blank at every cell when using arrow keys to navigate, alt tabing or restarting NVDA solves the problem"
### Steps to reproduce:
1. Open a google drive folder containing a google sheets file
2. Open the file
3. Navigate with arrow keys

### Actual behavior:
NVDA reports "blank" on every cell before reporting its coordinates and its content. Alt tabbing or restarting NVDA solves the problem. After that, NVDA does not report blank anymore.

### Expected behavior:
NVDA should not report blank on every c

[2019-02-03 13:34] Adriani90 commented on #9232
cc: @jcsteh, @michaelDCurran

[2019-02-03 16:26] Neurrone opened #9234 "Navigating by tab always starts from the top on some pages, regardless of current position"
### Steps to reproduce:

1. Go to [this page on React's documentation](https://reactjs.org/docs/hooks-overview.html)
2. Press h a few times to move through the page. Then press tab to move to the next link.

### Actual behavior:

Tab should move you to the next link from your current position.

### Expected behavior:

The tab key always starts from the top of the page, moving you to the first link

[2019-02-03 18:12] DataTriny opened #9235 "Firefox: can't read text right after inline element using the mouse"
### Steps to reproduce:

1. Open the provided webpage in Firefox,
2. Hover the mouse over the different lines.

### Actual behavior:

If a paragraph contains an inline element (such as a link, an image, a button, etc...) that is not placed at the start, NVDA will not be able to report the text directly following the element. But, if the paragraph is long enough, then you will be able to read the d

[2019-02-03 19:33] ehollig commented on #9231
Duplicate of #3812
Yes, unfortunately, Closing as cantfix. Feel free to reopen if you disagree. CC @michaelDCurran @jcsteh @leonardder @josephsl

[2019-02-03 19:33] #9231 closed

[2019-02-03 20:00] ehollig commented on #5498
Nope. Can not reproduce anymore. Closing as worksforme

[2019-02-03 20:00] #5498 closed

[2019-02-04 00:59] jcsteh commented on #5448
I acknowledge that this only occurs in Firefox. That said, it's hard to know what to do here. Normally, for text, we want to rely on layout information from the browser so that screen reader users get the same formatting, etc. as sighted users would see. The problem with off-screen text is that it breaks this convention. It's not explicitly marked as "accessibility only" (like ARIA attributes indi

[2019-02-04 01:05] jcsteh commented on #5345
I can't get that Bootstrap dialog to close at all. Pressing enter on it in focus mode, clicking the buttons, nothing works. My feeling is that this is a bug in the example. It's also confusing because there are two close buttons, one at the top and one near the bottom.

[2019-02-04 01:14] jcsteh commented on #9173
This test case is invalid. List box items are intentionally not rendered in browse mode. Instead, the user presses enter to switch to focus mode and then interacts with the list box. The ARIA spec says that a listbox must manage focus for a listbox, which means the listbox must accept DOM focus, implement its own keyboard navigation and focus the active item appropriately (either via DOM focus or

[2019-02-04 01:14] #9173 closed

[2019-02-04 04:04] Qchristensen commented on #6146
These particular symbols all read now (not sure if that was deliberate or a side-effect of other work).  There are still issues with symbols, but there are other issues for those:

Reading the symbol dialog itself, as per #6145.
Reading other symbols, such as musical notes, as perf #9158.

I will close this particular issue now though.

[2019-02-04 04:04] #6146 closed

[2019-02-04 12:32] Adriani90 commented on #5168
Since left and right arrows work in cc and bcc fields in MS Outlook 2013, I am closing this as works for me. @Brendon22 feel free to comment on this issue if you don't agree. Then we can reopen it.

[2019-02-04 12:32] #5168 closed

[2019-02-04 12:41] Adriani90 commented on #5456
@bdorer     where did you find the logo? I cannot find it on nvaccess.org.

[2019-02-04 12:53] Adriani90 commented on #9206
At least for the speech and Audio Settings it would be good to have These two:
• speechPercentageInterval
• beepPercentageInterval
Maybe as part of speech Settings. We could rename the cathegory like "speech and Audio Settings".

Concerning the hz and pitch of tones, I would rather prefer replacing the tones with softer tones which are not so shrill.

[2019-02-04 13:49] Adriani90 commented on #9012
@DeamonDavid could you please create a test document and upload it to this issue so we can reproduce this Problem? Is the text in a table or a text field?

[2019-02-04 13:52] Adriani90 commented on #8974
cc: @leonardder

[2019-02-04 13:56] Adriani90 commented on #8973
@fernando-jose-silva, @lukaszgo1 I think this issue is solved in last Alpha after merging #9063. Right?

[2019-02-04 14:01] Adriani90 commented on #8184
@fernando-jose-silva it Looks like you have enabled UIA for Microsoft. Can you reproduce this issue in last NVDA Alpha Version with UIA disabled?

[2019-02-04 14:05] Adriani90 commented on #8097
@bowave did you try to clean up registry and so on? Did this improve Performance in Office? Or are you still having issues?

[2019-02-04 14:13] Adriani90 commented on #7899
I agree this would improve Efficiency if we had a key stroke for Formula bar like for comments. I.e. alt+nvda+f.

[2019-02-04 14:17] Adriani90 commented on #7867
@tech55541 are you still having this issue?

[2019-02-04 14:19] Adriani90 commented on #7850
@leonardder is this issue still reproducible?

[2019-02-04 14:21] Adriani90 commented on #7761
@feerrenrut do you still have this issue?

[2019-02-04 14:24] Adriani90 commented on #7449
@tfri are you still having this issue?

[2019-02-04 14:32] Adriani90 commented on #7262
I had a similar issue in Excel. @fernando-jose-silva if you still reproduce this issue, can you please look into your speech dictionary? Vocalizer voices automatically added some entries in my dictionary which caused this issue. Could you delete the entrie in the dictionary and see if the issue still occurs? Thanks.

[2019-02-04 14:36] Adriani90 commented on #7231
@dnz3d4c, @PratikP1, @fernando-jose-silva can any one test if this issue is still reproducible? Which Synthesizers are you using? Did you try with a clean Version of NVDA, without any add-on installed?

[2019-02-04 14:39] Adriani90 commented on #7212
@dkager I guess this issue is still reproducible even with UIA for MS Word enabled. Right?

[2019-02-04 14:45] Adriani90 commented on #6910
@andersbp, @pranavlal could you please test if this issue is still reproducible in Excel 2013 with NVDA 2018.4.1 or with last alpha? Thanks.

[2019-02-04 14:52] lukaszgo1 commented on #8973
I do not have access to Excel 2013, therefore I cannot say for certain, but it should be fixed. We should wait for confirmation from someone using Excel 2013 before closing it though.

[2019-02-04 15:02] netblue44 commented on #7899
I also concur a key stroke wood be extremely helpful

On 04/02/2019 08:14 a. m., Adriani90 wrote:

[2019-02-04 15:06] Adriani90 commented on #6397
Actually there is a lot of Errors possible in Excel where you have the number sign shown instead of Content. this is also the same behavior for sighted People. You can find explanations for each error in MS Excel. For this particular one for example here:
https://support.office.com/en-us/article/how-to-correct-a-error-bf801d0a-2a6e-44bd-a70e-0f780ae8f11e

For many other Errors for example here:
ht

[2019-02-04 15:08] #6397 closed

[2019-02-04 15:31] Adriani90 commented on #5851
cc: @michaelDCurran I think your recent pull request improves Performance significantly. We should test if this one is fixed by that pr. Is there a try build for that?

[2019-02-04 15:34] Adriani90 commented on #5776
It seems #6827 has been solved. @pranavlal could you please test in Outlook 2013 if this is still the case? Thanks.

[2019-02-04 15:38] Adriani90 commented on #5768
@supanut2000, @fernando-jose-silva are you still able to reproduce this issue? Could you please enable UIA in MS Word  in last NVDA Alpha Version and see if the isue still occurs? at least for me I cannot reproduce this issue in MS Word 2016 with UIA enabled. Thank you.

[2019-02-04 15:46] dkager commented on #7212
I don't know. But because UIA only works for Office 2016 and later, the issue is still relevant anyway.

[2019-02-04 16:07] DrSooom commented on #9206
@feerrenrut: I fully agree with you. But making them accessible via the GUI should be done first. Well, as everybody here will also acknowledge to, is that the priority of this issue here is just a p4. Personally I don't want to have hidden options, which aren't documented.

@Adriani90: See issue #8711. Your suggestion would split the progress bar audio feedback and their intervals into two differ

[2019-02-04 17:22] dnz3d4c commented on #7231
When I tested, I noticed that the help screen opens. But there are other issues. Perhaps this should be registered as a new issue.

[2019-02-04 18:52] Adriani90 commented on #8389
I was able to reprodduce this issue again when starting Word out of start menu in Windows 10. But after repeating the proccess multiple times, the issue disappeared. Following is in the log regardless wether the issue occurs or not:

[code]

[2019-02-04 18:55] Adriani90 commented on #8389
What I have discovered is that the issue occurs depending on the moment when the watchdog cancels the call. In this case the call was canceled before MS Word gained focus so NVDA could read the window title and the characters typed as expected. However, if the call was canceled after the MS Word window gained focus, NVDA couldn'r read anything. I typed characters but they were not reported. I pres

[2019-02-04 18:56] Adriani90 commented on #8389
cc: @jcsteh

[2019-02-04 19:03] Adriani90 commented on #8184
Testing on Windows 10 with NVDA Alpha 16691,10950C87 and Word 365, I cannot reproduce this issue with UIA enabled or disabled.

[2019-02-04 19:18] Adriani90 commented on #8030
I can reproduce this in MS Excel 2010 and 365 with NVDA Alpha 16691,10950C87.
cc: @lukaszgo1

[2019-02-04 19:39] afrim-maja commented on #5851
Now I am using NVDA with Microsoft Office 2016, but the situation has improved quite a lot. It isn't still where it should be, but it is highly more improved than three years ago when this issue was opened.
There is one area in Microsoft Word, however, where NVDA lags considerably: tables.

[2019-02-04 19:46] Adriani90 commented on #7388
I have tested with NVDA Alpha 16691,10950C87 and NVDA 2018.4.1 on Word 2016 and 365. I cannot reproduce this issue. @CSGiuliano77 are you still seeing this problem?

[2019-02-04 19:51] Adriani90 opened #9240 "NVDA reports -0.0353 cm from top edge of page when pressing nvda+del in MS Word 365"
### Steps to reproduce:
1. Open NVDA and open a ms word document
2. Place the carret everywhere in the document
3. Press nvda+delete to get the cursor position from left and top edge of page.

### Actual behavior:
NVDA reports the correct position from left edge of page but it always reports "-0.0353 cm from top edge of page".

### Expected behavior:
NVDA should report the correct position from to

[2019-02-04 19:51] Adriani90 commented on #9240
In MS Word 2010 it works as expected.

[2019-02-04 19:59] lukaszgo1 commented on #7388
This is still reproducible with Word 2010 32-bit on Windows 7 and the last NVDA alpha.

[2019-02-04 20:00] Adriani90 commented on #7231
I am testing with NVDA 2018.4.1 and with Alpha 16991.10950C87 on Excel 365, I cannot reproduce this issue. The help window opens and NVDA works properly. It does not crash. Please create new issues if you find some. I will close this as works for me. Please comment on it if you don't agree and we can reopen it.

[2019-02-04 20:00] #7231 closed

[2019-02-04 20:18] leonardder commented on #9130
Actually, we'll always use a custom build of wxPython I believe, and accessibility support can be easily disabled in which case the native accessibility implementation for the controls will be used. Therefore in practice, we won't suffer from this issue. I'm tempted to close this, unless @josephsl has strong objections.

[2019-02-04 21:15] fernando-jose-silva commented on #7866
I can no longer reproduce the problem, thank you very much

[2019-02-04 21:21] fernando-jose-silva commented on #8184
I can no longer reproduce the problem, thank you very much.

[2019-02-04 21:32] fernando-jose-silva commented on #5768
On a machine with windows 10 17763.292
Microsoft Office version 16.0.11126.20266
nvda alfa 16682
I can not reproduce this problem any more.
I've heard of users of older versions of windows 10 build 16299 nvda 2018.4.1 and office 16.0.4xxx that does not have the option of uia for word that this problem still occurs, but at the moment I do not have access to these machines to get the log.

[2019-02-04 21:39] Adriani90 commented on #8030
I wonder if #8414 would improve this? cc: @leonardder

[2019-02-04 21:42] Adriani90 commented on #8184
Closing as works for me.

[2019-02-04 21:42] #8184 closed

[2019-02-04 21:43] Adriani90 commented on #7866
Closing. Thank you very much Fernando for reporting.

[2019-02-04 21:43] #7866 closed

[2019-02-04 21:45] fernando-jose-silva commented on #8973
I no longer have access to office 2013 to test, however:
Testing with office 2019 last nvda alpha build and windows 10 17763 got the results:
Pressing the shortcut key to open the Find Nvda window did not announce that the search window was open.
When typing characters, nvda did not announce the characters entered.
When trying to read character by character the nvda was mute.
By pressing alt + tab

[2019-02-04 21:50] lukaszgo1 commented on #8973
@fernando-jose-silva Can you please paste developer info for that control?
To do this:
1. Open Excel find dialog
2. Ensure that the focus is in the edit field.
3. Move navigator object to focus.
4. press NVDA+f1, select all and paste it here.
Thanks

[2019-02-04 21:57] Adriani90 commented on #8973
Hmm this is strange. In NVDA last Alpha, when I press ctrl+f in MS Excel, NVDA does not report anything like in Fernando’s case. But after pressing alt+tag I can navigate letter by letter. Here is the log after pressing ctrl+f:

[code]

The exception in IAccessible means (member not found), translated from german.

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Montag, 4. Februar 2019 22

[2019-02-04 22:12] fernando-jose-silva commented on #7262
The problem in explorer is caused by your nuances.
Now the problem in word I still continue with it, I tried using the one-core voice pt-br Maria.
To test:
Set your nvda and windows to use the voice one core pt-br Maria.
Open a blank document in word:
type it
a50596 Fersil2915!
Now press arrow to read the line
I heard the typing:
Fersil2915! a50596
I could not find a dictionary for the voice vocal

[2019-02-04 23:46] fernando-jose-silva commented on #8973
Thank you very much, follow the log.
I believe that I made a mistake when I was describing, nvda announces the characters when typing, but does not advertise when navigating with the left and right arrows, as well as not announcing the window name and the text field when pressing the shortcut to open the search window in excel.
[nvda_excel.txt](https://github.com/nvaccess/nvda/files/2830214/nvda_e

[2019-02-04 23:58] pranavlal commented on #5776
I can read tables without a problem in outlook 2013 messages.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Monday, February 04, 2019 9:05 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] table in recieved messages in Outlook are not read, instead ding sound is given

[2019-02-05 00:14] dnz3d4c opened #9241 "COM error when activating specific link in browse mode in MS excel help screen"
### Steps to reproduce:
1. Open MS excel
2. Press esc key
3. Press F1
4. Enable browse mode
5. Press k to activate the first link
### Actual behavior:
The following error occurs:
ERROR - core.CorePump.run (08:48:12.631):
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyo", line 487, in run
  File "IAccessibleHandler.pyo", line 900, in pumpAll
  File "IAccessibleHand

[2019-02-05 00:37] michaelDCurran commented on #5851
Here is a try build for pr #9217 which may improve performance in MS Word:

https://ci.appveyor.com/api/buildjobs/w6uunh61ul06w9g8/artifacts/output%2Fnvda_snapshot_try-speedUpMSWordObjectModel-16707%2C4c8d75d1.exe

Note that if testing with Office 2016, the experimental UI automation
support for MS Word must be turned off in NVDA.

[2019-02-05 02:17] #9202 closed

[2019-02-05 03:19] Adriani90 commented on #8973
Fernando which alpha build are you using?

Von meinem iPhone gesendet

[2019-02-05 05:52] leonardder commented on #8973
I can confirm that NVDA doesn't report focus on the edit box when opening the search dialog for the first time. I can also reproduce this with narrator. These edit fields are really broken. #9063 improves things, though.

@dkager: could you have a look with Excel 2013?

[2019-02-05 08:50] dreinn opened #9242 "NVDA doesn't read notifications of Windows 10 version 10.0.17134523"
With NVDA 2018.4 or latest alpha of February 4 2019, NVDA doesn't announce notifications in windows10.
I installed also the windows10 Essentials addon, but nothing is changed.

Do you confirm this issue?

[2019-02-05 14:44] pranavlal commented on #6910
I am unable to duplicate this.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Monday, February 04, 2019 8:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA constantly saying "Editing" in Excel 2013 when you enter a value in the first cell (#6910)

@andersbp <ht

[2019-02-05 15:03] Adriani90 commented on #9242
cc: @josephsl

[2019-02-05 15:06] Adriani90 commented on #6910
Thank you. Closing as works for me. @andersbp please comment on this issue if you don't agree and we can reopen it.

[2019-02-05 15:06] #6910 closed

[2019-02-05 15:11] josephsl commented on #9242
Hi, I need a debug log with Windows 10 App Essentials running (restart with debug logging enabled, perform a task that causes toasts to appear, and copy and paste that fragment here). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 5, 2019 7:04 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>

[2019-02-05 16:15] dkager commented on #8973
Yes, I can reproduce this too, also with 2013.

[2019-02-05 20:15] ivnc commented on #2950
Hello.

It seems that, in ONCE's case, username and password are stored in Credentials Manager (Windows's Control Panel). I don't have access to this proxy, but contact with the original reporter.
I propose to reopen this issue, as it could be preventing users in corporative environments from using NVDA.

Regards.

[2019-02-05 20:22] Adriani90 commented on #5851
I tested as following:
* Try build with MS Word 2010
1. Created a table with 500 rows and 20 columns
2. in document formating settings enabled "pages", "editor revisions", "Table", "Cell coordinates" and "spell errors".
3. Navigated with arrow keys through the table
4. Navigated with ctrl+alt+arrow keys through the table
5. Pressed ctrl+alt+down arrow and held it pressed a few seconds.
Result: sli

[2019-02-05 20:31] Adriani90 commented on #5851
Conclusion: The try build improves performance in MS Word. Testing in a more real environment where more documents are open while working will show the real improvement.

[2019-02-05 20:40] ivnc opened #9243 "Slow response time when working with Microsoft Office Word and the Freedom Scientific braille driver"
### Steps to reproduce:

1. Start NVDA with a Focus/PacMate braille display connected, using the Freedom Scientific driver.
2. Open Microsoft Office Word (in my case Word 2016, but I could also reproduce this with Word 2003+WinXP in another computer).
3. Navigate with arrow keys. Response time is higher than when using only speech or another application.
4. Write or modify the document. Sometimes

[2019-02-05 20:42] lukaszgo1 commented on #9243
Duplicate of #4995.

[2019-02-05 21:57] fernando-jose-silva commented on #8973
I opened the search window, pressed alt + tab, and pressed alt + tab again for the search window.
Nvda announces only localization of the dialog, not the name of the control that would be the search box.
pressing the left or right arrow key to navigate the character will mute the nvda.
log:
[nvda_excel1.txt](https://github.com/nvaccess/nvda/files/2834050/nvda_excel1.txt)

[2019-02-05 22:03] lukaszgo1 commented on #8973
@feerrenrut Two more tests please:
1. Can you try with all add-ons disabled?
2. After opening find dialog press tab and the shift+tab and the try moving with the arrow keys.

[2019-02-05 22:32] Adriani90 commented on #8973
Fernando could you please uninstall global plugins extensions addon and try again?
Also could you please go to nvda menu / tools / about nvda and copy the exact version of alpha you are using? Thanks.

Von meinem iPhone gesendet

[2019-02-05 22:45] Adriani90 commented on #8973
Sorry U meant nvda menu /help / about nvda :)

Von meinem iPhone gesendet

[2019-02-06 00:24] pranavlal commented on #5300
I see that, thanks.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Saturday, February 02, 2019 4:30 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] See track change history in microsoft word (#5300)

@pranavlal <https://github.com/pranavlal>  track changes are actual

[2019-02-06 01:12] Qchristensen commented on #7854
I had a report from a user who can replicate this issue using Eloquence as well as Vocalizer.  They sent me a log at info level which only contained the following warning:

WARNING - watchdog._watcher (16:26:46.746):
Core frozen in stack:
  File "nvda.pyw", line 217, in <module>
  File "core.pyo", line 517, in main
  File "wx\core.pyo", line 2134, in MainLoop
  File "gui\__init__.pyo", line 963, i

[2019-02-06 01:17] fernando-jose-silva commented on #8973
I repeated the tests with the plug-ins disabled.
The results are the same, when walking character by character with the arrows the nvda is muted.
what the dialogue on the nvda says is:
[Window Title]
About NVDA

[Content]
NonVisual Desktop Access (NVDA)
Version: alpha-16682, b65f5bb7
Page: http://www.nvaccess.org/
Copyright (C) 2006-2018 NVDA Collaborators

NVDA is under the GNU General Public Lic

[2019-02-06 02:31] Qchristensen commented on #9240
It is also working correctly for me in Office 365 (latest stable update) using NVDA 2018.4.1 (installed), Alpha 16691 (as in original issue) and Alpha 16709 (latest alpha currently).  I have Office set to report in centimetres if that matters.  I'm using an older insiders build of Windows 10 (1809 build 18272).

Your margin's aren't set strangely or you don't have anything in your document which m

[2019-02-06 07:19] josephsl commented on #9226
Hi,

OT, but while we're at it, can we also fix a typo (apdated)? Thanks.

[2019-02-06 08:57] lukaszgo1 commented on #8973
@fernando-jose-silva Have you tried tabbing and then shift tabbing back to the find box?

[2019-02-06 09:42] Adriani90 commented on #5300
Closing as works for me.

[2019-02-06 09:42] #5300 closed

[2019-02-06 10:02] Adriani90 commented on #9243
Closing as duplicate.

[2019-02-06 10:02] #9243 closed

[2019-02-06 15:20] Adriani90 commented on #5618
@ManshulBelani is this still the case in NVDA 2018.4.1?´In which Version of VS Studio?

[2019-02-06 15:27] Adriani90 commented on #5616
So the issue here is:
1. NVDA reads the whole Screen when creating a new message in Thunderbird and does not move the Focus directly in the to: address field and
2. NVDA repeats the subject line of the message when opening it.
Expected behavior:
1. NVDA should move the Focus directly in the to: address field when creating a new message and
2. NVDA should start reading the message Body directly aft

[2019-02-06 15:52] Adriani90 commented on #5599
Just to clarify. This issue occurs when you choose how the Image should be displayed (in the Dialog size and Position).
The only Option where NVDA reports the grafic with its alt text is "with text on the same line". If you choose the Image to be displayed as Background behind the text, as foreground in front of the text, in a rectangle, transparent etc, NVDA does not Report that there is any graf

[2019-02-06 16:02] Adriani90 commented on #5599
Besides, I think this is quite tricky to implement. Imagine you Display an Image behind the text. So you can write a text in word and in its Background the Image is visible. What should NVDA Report first? The Image with the alt text? Or the text you have just written in foreground?
We have lots of templates like this at work and I am struggling with it quite often because I don't know that there i

[2019-02-06 16:08] Adriani90 commented on #5597
@elliott94 are you still able to reproduce this issue in last Version of Lync?

[2019-02-06 16:09] Adriani90 commented on #5590
@csamaha1 are you still having this issue?

[2019-02-06 16:09] Novalis7747 commented on #5616
clean NVDA 2018.4.1, TB 60.5:
1) creating a new message with control-n reads the subject and then the focus is in the TO field - normal behavior
2) when reading new messages NVDA repeats the subject of the message (window title) 3 times, the first 2 times are spoken in a row, then you hear "busy, loading" and then the third time. After that the focus is in the message body.  beside of the first 2

[2019-02-06 16:33] Adriani90 commented on #6428
cc: @qchristensen

[2019-02-06 16:38] Adriani90 commented on #5576
Yes, this is an issue caused by the preview pane. However, in Outlook 2010 at least pressing enter on an Attachment opens it without giving you any Options to save or so. You can press the application key and then you can save the attachment. So I am closing this because there is a Workaround for it. Discussions on preview pane is more apropriate in issue #4351.

[2019-02-06 16:40] Adriani90 commented on #5576
In fact, I would prefer Support for preview pane implemented in NVDA rather than simply moving the Focus out of it. This would improve Efficiency especially because you would not have to Change the window when editing an E-Mail based on an Excel sheet or so.

[2019-02-06 16:40] #5576 closed

[2019-02-06 16:45] Adriani90 commented on #5559
cc: @dgager, @bramd

[2019-02-06 16:47] dkager commented on #5559
We have discussed ideas to implement something similar to line mode for specific cases such as tables in Excel or Google Docs.

[2019-02-06 16:56] Adriani90 commented on #5518
@elliott94, @dkager could you please send an example E-Mail for testing? I could test if this is the case in MS Word 2010.

[2019-02-06 17:01] Adriani90 commented on #5517
cc: @qchristensen, @feerrenrut

[2019-02-06 21:12] Qchristensen opened #9244 "Problem using Tamil Braille table with Orbit Reader 20"
### Steps to reproduce:

Report received from Gramesh via E-Mail:

User advised they have NVDA set to use Tamil Grade 1 for both input and output tables.
User has an Orbit reader 20 connected to PC.

### Actual behavior:

1) When typing using Braille keys in Tamil, output is in English.
2) When typing on computer keyboard, output is Tamil, however extra dots 5 and 6 are produced before all consona

[2019-02-06 21:35] josephsl commented on #9244
Hi, looks like a braille table issue, something that should be forwarded to Liblouis people. CC @DKager

From: Quentin Christensen <notifications@github.com>
Sent: Wednesday, February 6, 2019 1:12 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Problem using Tamil Braille table with Orbit Reader 20 (#9244)

Steps to reproduce:

[2019-02-06 22:54] fernando-jose-silva commented on #8973
I discovered the problem, there were 2 add-ons called excel and ospeak comands.
Now the problem is that when you press the command to open the search window nvda does not recognize the search field, it is necessary to press tab and then shift + tab to have the search field recognized and working correctly.
Thank you very much.

[2019-02-06 23:12] Qchristensen commented on #5599
If you change the image alignment to anything other than "In-line with text", NVDA can't find the image to read the alt text.  This is exactly the same issue as with text boxes.  Word does flag objects which aren't in-line as accessibility issues if you use its accessibility checker.  I was sure we had open issues for that, but I can't find them just now.

[2019-02-06 23:33] Qchristensen commented on #5581
I have reported this to Microsoft.  In the meantime two partial workarounds:

1) WIth the contact group open (select it in contacts and press enter), arrow through the list of contacts, then to read any contact, shift+tab then tab again - the focus briefly moves to the group name, then back to the contacts and reads the currently selected contact.

2) Or, from the contacts screen (without having o

[2019-02-06 23:49] Qchristensen commented on #6428
In Excel 365, the current status of options in the Print preview pane (such as orientation, paper size, collation, print one or double-sided) is read and changes to these options are reported.

The one thing that isn't read so easily, is the number of pages.  To get to this, press TAB or SHIFT+TAB to move to the "Next page button", then press the "Move to previous object" keystroke - NVDA+numpad 4

[2019-02-07 03:21] darkempathy opened #9245 "No way to access Quick clean page with C cleaner pro"
Hi.

I've been using C cleaner from http://web2.web.piriform.com/ for many years now (actually longer than I've been using NVDA, and for the most part NvdA has been fine with it.

A recently added feature however is quick clean, which provides an extra property page which can perform a quick scan to remove trackers and other junk without doing a  harddrive scan.

If I tab round the C cleaner inter

[2019-02-07 05:55] leonardder commented on #5581
I'll see what I can do with this as part of #8414

[2019-02-07 06:14] leonardder commented on #8973
I'm closing this, since the initial problem was solved in #9063. The problem that the edit field doesn't receive focus properly is a separate issue. Note that Narrator also suffers from this, so opening an issue for this will most likely result in a "needs external fix" label being added.

[2019-02-07 06:14] #8973 closed

[2019-02-07 06:19] leonardder commented on #5851
I also share your findings that the reporting of pages causes a significant performance degradation in many cases.

[2019-02-07 06:33] michaelDCurran commented on #5851
This is caused by the fact that section numbers and text column numbers
are also announced along with pages when report pages is on.

I am tempted to remove reporting of section numbers all together as they
are rare, and would usually be conveyed by other means, plus you can
read the section number on the status bar if you wish.

As for text column number: This is the most costly, but removing it

[2019-02-07 06:34] michaelDCurran commented on #5851
Oh, and the UIA implementation cannot support section numbers or text
column reporting automatically. Though we could still add it to
NVDA+numpadDelete which falls back to the object model anyway.

[2019-02-07 07:12] leonardder commented on #5851
This makes sense to me.

I tend to agree with that. Just limit it to NVDA+numpadDelete. We can always add a separate config item later on if people insist on it.

[2019-02-07 09:15] Adriani90 commented on #5851
I agree with this approach as well but with the condition that NVDA reports how many text columns and how many sections are in the document when entering it.

[2019-02-07 09:38] Adriani90 commented on #5851
Then the user would at least know that there are sections and text columns. It is not an ideal solution, especially when documents are converted from pdfs with ocr into MS Word. ABBYY Finereader produces in most cases Word documents with multiple text columns and sections.

[2019-02-07 09:41] Adriani90 commented on #5599
From a technical perspective, is it possible to detect those images similar to comments or so? Maybe Microsoft could improve that. Actually this feature is quite useful when creating form templates and other kind of helping documents where sighted people are the target group.

[2019-02-07 09:47] Adriani90 opened #9247 "Thunderbird: NVDA repeats the subject line three times when opening a message"
### Steps to reproduce:
1. Open Thunderbird
2. Open a message by pressing enter

### Actual behavior:
NVDA repeats the subject line (window title) three times before starting to report the message body.

### Expected behavior:
NVDA should report the subject line just once.

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
2018.4.1

#### Windo

[2019-02-07 09:49] Adriani90 commented on #5616
I will close this in favor of new created issue #9247. @Novalis7747 feel free to comment on that issue in case I forgot something. Thanks.

[2019-02-07 09:49] #5616 closed

[2019-02-07 10:02] Brian1Gaff commented on #9245
Yes I'm pretty sure many have reported this to them, but thus far its been
left a bit like some of the settings, not very accessible. It could be
possible to get an app module tweaked, I do not know, but I personally feel
that Ccleaner has now gone into the realms occupied by Avast etc, of sod the
blind user.
 Indeed if you download it from their own web site it often secretly
installs avast and a

[2019-02-07 10:54] fernando-jose-silva opened #9248 "nvda does not advertise list numbering when spelling character by character"
### Steps to reproduce:
open the word
type it
1- item 1
press enter
enter item 2
press enter enter item 3

now you can go to the line where there is item 1
press home
press left arrow
can do the same for item 2 and 3

### Actual behavior:
note that as you type in the first line 1- word creates a list.
when walking character by character when passing the focus where to the marker of the list with t

[2019-02-07 13:39] Adriani90 commented on #9248
This is solved when using UIA in MS Word 2016.
 But this Problem is present in other MS Office Versions too.

[2019-02-07 13:49] Adriani90 commented on #8289
@WiproPSAccTest what do you mean with word universal? Is this word 365? If so, reading the bullets in a list should actually work properly if:
1. You set the punctuation to "all" in NVDA's voice Settings
2. You enable lists in NVDA's "document formating Settings".
For this Problem there are several issues already in place.

[2019-02-07 14:15] Adriani90 commented on #2446
I Close this one in favor of #6815 where list Levels are covered. Also in favor of #7742 and #7804 where bullet reporting is covered.

[2019-02-07 14:16] #2446 closed

[2019-02-07 14:17] Adriani90 commented on #8279
@WiproPSAccTest if word Desktop is the regular MS Word Version, there are already issues to These Problems. I am closing this one in favor of #8666, #7742, #7804  and #6815.

[2019-02-07 14:26] #8279 closed

[2019-02-07 14:34] Adriani90 commented on #2037
closing in favor of #2649.

[2019-02-07 14:35] #2037 closed

[2019-02-07 14:37] Adriani90 commented on #9248
Closing as duplicate of #2649.

[2019-02-07 14:38] #9248 closed

[2019-02-07 14:56] lukaszgo1 commented on #5851
While reporting text columns and section nubmers by pressing particular command sound reasonable assigning it to NVDA+delete would require having review cursor in the Word window almost all the time when working with it. I do not know how many users  works with review not following focus all the time like I do, but for me reporting it with separate command, or one which do not require review curso

[2019-02-07 15:04] leonardder commented on #5851
I think it starts making more and more sense to implement a nvda+numpadDelete equivalent for the system caret. Isn't there an issue for this already?

[2019-02-07 15:50] lukaszgo1 commented on #8396
Shouldn't this one be closed when #9185 was merged?

[2019-02-07 16:25] lukaszgo1 opened #9250 "NVDA not reading edit fields when inserting new mail merge rule."
### Steps to reproduce:
1. From the attached zip open file decyzja.docx
2. On the mail merge ribbon select rules and then if then else.

### Actual behavior:
When the dialog opens the error sound is played and the following is written in the log
ERROR - baseObject.ScriptableObject.bindGestures (17:14:54.558):
Error binding script caret_changeSelection in <NVDAObjects.Dynamic_WordDocument_WwNIAcces

[2019-02-07 17:07] mltony commented on #8396
Yes, this is now fixed. Closing it.

[2019-02-07 17:07] #8396 closed

[2019-02-07 18:08] dkager commented on #9244
Joseph is right, although (1) is confusing at first glance. Assuming the text is entered correctly, the output should be in Tamil. So the input translation goes wrong here. This is the second such report where the user has an Orbit 20.

[2019-02-07 18:51] lukaszgo1 opened #9252 "When UIA is used for contecst menus in Word 2010 some items are reported twice."
### Steps to reproduce:
1. Open Word 2010 using latest NVDA Alpha.
2. Open context menu,, and start navigating with the arrow keys.
### Actual behavior:
Some items are reported properly but some in a wrong way for example:
- Copy, cut and some other items are announced twice that is 'cut unavailable cut ctrl+x'
- the synonyms and styles are announced as 'synonyms collapsed menu item synonyms'
###

[2019-02-07 20:00] Adriani90 commented on #9252
Is uia not only for word 2016?

[2019-02-07 20:04] Adriani90 commented on #9240
I tested in a blank documemt and typed some lines of text. Where can you set the reporting in cm?

[2019-02-07 20:08] lukaszgo1 commented on #9252
UIA is used only for Word 2016 when we are talking about accessing the documents content, but context menu can be accessed with UIA in older versions of MS Word also. I am not sure if this was intentional.

[2019-02-08 00:02] Qchristensen commented on #5599
The problem with objects which are not "inline" is where do you put the "prompt" for an NVDA user?  With comments, for instance, they are attached to words, or at least a character in your document.  If I have an image in the centre of the page, with text flowing around it, or in front of it, there is no specific point it is tied to.  If NVDA were to arbitrarily link it to a point on the page (may

[2019-02-08 00:10] Qchristensen commented on #9240
It's in the advanced settings:
1. (With Word open), press ALT+F, then T to open settings.
2.  CONTROL+TAB until the Advanced tab has focus (six times for me in Office 365)
3. Press ALT+M a couple of times to get to "Show measurements in units of" which is a drop-down where you can select Inches, Centimeters, Millimeters, Points or Picas.

Going back to the original issue, I would have assumed if W

[2019-02-08 00:51] Amanullah0123 opened #9253 "In any dialog when screen reader is enable once after tabbing from close button focus is moving to whole slide content and reading continuously ."
Repro Steps: https://www.xbox.com/en-US/xbox-one-x?xr=shellnav
Step 1: Open NVDA from desktop.
Step2: Open the above URL in **chrome**.
Step 3: Navigate to image link and press ENTER key.
Step 4: Dialog will open and focus is on close button.
Step 5: by using TAB key/Scan mode focus is moving to whole slide content and reading the slide content continuously.
Step 6: Verify whether by using left an

[2019-02-08 04:48] ehollig commented on #1651
This is just a friendly request for @dgoldfield to respond to the comment in this issue. If we do not hear from this user, I suggest closing this issue.

[2019-02-08 05:42] andrew-l-d opened #9254 "Reading by sentence is broken in MS Outlook and Word"
In both the current and previous alpha snapshots, reading previous and next sentence with alt-up arrow and alt-down arrow respectively in both Outlook and Word 365 does not work.  This is regardless of whether Sentence Nav is installed.  With Input Help turned on, "Move to previous sentence" and "Move to next sentence" are reported.  However, pressing either combination out of help mode does nothi

[2019-02-08 07:05] leonardder commented on #9254
I can confirm this for Word 2016, but only when the experimental UIA support is enabled. Could you please check the state of this setting in NVDA's advanced settings and report back your result?
Also, it would be greatly appreciated if you could update your initial description according to the issue template.

[2019-02-08 07:48] #9226 closed

[2019-02-08 09:23] Adriani90 commented on #1651
@schulle4u are you available to test if this issue still occurs?

[2019-02-08 09:24] Adriani90 commented on #1651
could you please upload a test atlantis document so we can try to reproduce this issue as well?

[2019-02-08 09:32] schulle4u commented on #1651
@Adriani90 I don't use Atlantis anymore and thus haven't tracked this issue in a while. But as far as I know this is still valid for recent versions of Atlantis. I'll give it another try.

[2019-02-08 09:51] schulle4u commented on #1651
Just tested with the [free lite version](https://www.atlantiswordprocessor.com/en/lite.htm). The document area is still inaccessible, even if the developer information tells a different story.

[code]

@Adriani90 regarding documents: Atlantis uses standard RTF format by default. I could provide a `.cod` document which is a proprietary encrypted file format.

Steffen

[2019-02-08 12:47] HK12345678 opened #9255 "NVDA does not announce any control including button, textbox rather group box on tab key"
When tab key pressed, NVDA does not announce anything e.g., button text.
It announces group box either.
In same PC it was working before.

### System configuration

![image](https://user-images.githubusercontent.com/47450544/52479069-62f4a100-2bcd-11e9-86be-25d7b5395ba4.png)

#### NVDA installed/portable/running from source: NVDA is installed.

#### NVDA version: 2018.4.1

#### Windows version: Wi

[2019-02-08 13:41] DrSooom commented on #9253
@Amanullah0123: Please list all browsers (incl. version) and your OS as well as your NVDA version where this issue occurs by completely filling out the bug report draft. Thanks.

[2019-02-08 13:54] leonardder commented on #9255
Could you please run the COM Registration Fixing tool from the tools under the NVDA menu?

[2019-02-08 16:47] fernando-jose-silva commented on #8380
this behavior is also present when doing the tests in an updated software suite:
nvda alfa 16733
windows 10 17763.292
Microsoft Office version 16.0.11231.20130

[2019-02-08 17:04] nvdaes commented on #8237
Hi, a user is also requesting this on an NVDA's mailing list for Spanish speakers:

https://nvdaes.groups.io/g/lista/message/498

Thanks for taking care and for all your good work.

[2019-02-08 19:49] Amanullah0123 commented on #9253
@DrSooom
Chrome Version 71.0.3578.98 (Official Build) (64-bit)

NVDA version 2018.4.1

[2019-02-08 21:15] darkempathy commented on #9245
While I don't disagree with you about antivirus programs, at the same time its only been the Quick clean option I've noticed in C cleaner which has been an issue with NvdA, and the page even reads correctly.
This is why I wondered if there could be a fix in NVdA to cover this specifically, as I suspect its just a bit of element labelling that is required.

[2019-02-09 00:01] wrfortiscue opened #9256 "SCCM silent installation with no update"
Hello,

Trying to fully automate the install while having no update box popup and reminder to submit information box.

I could not find a registry setting to remove updates. I did however edit the settings and got an INI file. I can drop this into the appdata directory of the current user and it works, but only when manually running the install script.

No matter how I setup the install in SCCM, i

[2019-02-09 00:23] ruifontes commented on #9256
What NVDA version are you trying to install?

I have a customer also trying to do a completly automatized and silent
install in a network...

Best regards,

Rui Fontes
NVDA portuguese team

Às 00:01 de 09/02/2019, wrfortiscue escreveu:

[2019-02-09 05:06] andrew-l-d commented on #9254
### Steps to reproduce:
Open either a document in Word or an email in Outlook
Press alt-up arrow to read previous sentence or alt-down arrow to read next sentence
### Actual behavior:
Nothing is presented by the screen reader
### Expected behavior:
Previous or next sentence respectively should be presented
### System configuration
#### NVDA installed/portable/running from source:
Portable
#### NVD

[2019-02-09 12:08] leonardder commented on #9256
I've also got some requests to make it possible to disable the update check system wide. A working approach could be enforcing the start of NVDA in secure mode (with the --secure) flag, but this is far from ideal.

See also #8574 which added the ability to disable start at logon with a command line parameter.

[2019-02-09 12:22] leonardder commented on #9252
cc @michaelDCurran
I've been able to reproduce this with Office 2016 when right clicking on misspelled words.

[2019-02-10 09:45] elliott94 commented on #5597
Closing for now; I no longer have access to a copy of Lync 2010 that I can test with. Furthermore, Lync has now been replaced with Skype for Business; I will identify accessibility issues with SFB as I notice them.

[2019-02-10 09:45] #5597 closed

[2019-02-10 20:43] michaelDCurran commented on #8271
I have started rewriting Excel support using in-process calls. Please test the following try build and let me know if performance is improved for this particular spreadsheet: https://ci.appveyor.com/api/buildjobs/swea0gjo30lh46rk/artifacts/output%2Fnvda_snapshot_try-excelInproc-16735%2C7b9e0012.exe

[2019-02-10 20:44] wrfortiscue commented on #9256
2018.3.2 Thanks

From: ruifontes <notifications@github.com>
Sent: Friday, February 8, 2019 6:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Fortiscue, William <William.Fortiscue@oag.texas.gov>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] SCCM silent installation with no update (#9256)

What NVDA version are you trying to install?

I have a customer also trying to do a co

[2019-02-10 20:45] michaelDCurran commented on #7348
I have started rewriting Excel support so it does many  calls in-process. Please test the following try build and report here on whether performance has been improved: https://ci.appveyor.com/api/buildjobs/swea0gjo30lh46rk/artifacts/output%2Fnvda_snapshot_try-excelInproc-16735%2C7b9e0012.exe

[2019-02-11 03:04] dgoldfield commented on #1651
Hello. As I no longer use the Atlantis program this, at least for me, is no longer an issue.

David Goldfield, Assistive Technology Specialist WWW.David-Goldfield.Com<http://WWW.David-Goldfield.Com>
On 2/8/2019 4:51 AM, Steffen Schultz wrote:

Just tested with the free lite version<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.atlantiswordprocessor.com%2Fen%2Flite.htm&data=

[2019-02-11 07:12] HK12345678 commented on #9255
Thanks for the suggestion.
I tried doing this, but it did not resolve the problem. Still there is same behaviour.

[2019-02-11 10:45] Novalis7747 commented on #8145
this happens for me only when source and destination is on the same hard disk. I can't reproduce it when source and destination are on different hard disks.

[2019-02-11 14:13] mhussaincov opened #9258 "issues with using perky Duck with nvda"
issues encountered when using perky Duck (braille software) with NVDA

### Steps to reproduce:

### Actual behavior:
nvda does not read grade2 contracted braille as written in perky Duck software
e.g does not recognize numbers (does not recognize the numeric indicator)
does not recognize character whilst typing on perky Duck

### Expected behavior:
nvda should read g2 braille
it should read a sent

[2019-02-11 15:50] Neurrone commented on #8271
@michaelDCurran this is amazing; the latency is now low enough to be unnoticeable.

[2019-02-11 15:52] leonardder commented on #8145
@Neurrone: This should have been majorly improved now.
@Novalis7747: What version of Windows 10 are you using? The Windows 10 October 2018 update (version 1809) should have introduced additional fixes for this issue.

[2019-02-11 15:56] leonardder commented on #1651
The window class of TDocForm suggests that this is a Delphi application.

Even though this issue is still valid, I'm yet tempted to close this as both @schulle4u and @dgoldfield reported that they're no longer using this product. A fix will most likely require an external fix. Furthermore, there are plenty of accessible and even free alternatives out there.

[2019-02-11 15:56] DrSooom commented on #9258
@mhussaincov: Please fill out the Str section (any special settings?) and add the version of Perky Duck where this issue occurs. The newest one should be 1.2.0.3 (or so) which was released on July 9, 2018.
CC: @leonardder and @dkager

[2019-02-11 16:17] lukaszgo1 commented on #5337
It looks like it is enough to tab to any metadata field and then try shift+tabbing back to cause this crash to happen. I understand that Windows 7 isn't the latest and greatest, but this is very serious, entire system is not responsive for about 5 minutes after this. @michaelDCurran @feerrenrut Any chance for fixing this? I've attached dump above, but if any additional info would be needed just le

[2019-02-11 16:20] Novalis7747 commented on #8145
I’m running Win10 1809 with latest updates. It is easy for me to reproduce:

  1.  Identify any big file on your hard disk, I use the Win10 1809 iso file with 3,5gb
  2.  Copy this file to a different location on the same hard disk
  3.  Try to alt tab to other running tasks or to interact with the copy dialog
  4.  Result: NVDA is lagging very bad, means it is not usable while the copy process is

[2019-02-11 17:14] mhussaincov commented on #9258
updated issue
:)

[2019-02-11 20:04] leonardder commented on #8502
[**@leonardder**](https://github.com/leonardder) commented on [15 Jan 2019, 15:20 CET](https://github.com/nvaccess/nvda/issues/8502#issuecomment-454407951 "2019-01-15T14:20:41Z - Replied by Github Reply Comments"):

I just tested this on another system with Windows 10 insider preview build 18334, Outlook 365 version 16.0.11231.20130, and I couldn't reproduce it. I will try it on my work system tom

[2019-02-11 22:58] michaelDCurran commented on #5337
Looks like  Windows is prematurely freeing the memory of a richEdit document object before the COM subsystem tries to. That is most definitely a bad programming error on the Windows side. I doubt there is anything we can do on the NVDA side a part from some how black listing that control making it completely inaccessible. Even that may not be enough as it is possible that the UI Automation core li

[2019-02-12 00:07] DrSooom commented on #448
### Actual behaviour in Firefox 65.0 with NVDA 2018.1:
+ Loading progress bar: 123.1234567890123%
+ Playing progress bar: 123.1234567890123%
+ Current position slider: 1234 (for 0:00:01.234, h:mm:ss.ms)
+ Volume slider: 100%
### Expected behaviour:
+ Loading progress bar: 123.12%
+ Playing progress bar: 123.12%
+ Current position slider: 00:01 / 59:59 (mm:ss; current / total)
0:00:01 should be sho

[2019-02-12 01:07] jcsteh commented on #448
Yes, this needs to be fixed in Firefox. We're tracking this in [Mozilla bug 1496851](https://bugzilla.mozilla.org/show_bug.cgi?id=1496851).

[2019-02-12 07:25] leonardder commented on #8502
I'm back on the system where I could reproduce this, which has Now Office 2016 home and business build 16.0.11231.20130, indeed, exactly the same build. Yet I have this issue with and without add-ons disabled on alpha-16743.
I've installed the English language pack, but this did not make a difference.

I'm reopening this to investigate the underlying cause of this. @michaeldcurran: do you have an

[2019-02-12 07:58] leonardder commented on #8502
Further testing reveals the following. To test this, I added a tones.beep call to AutoCompleteListItem.event_stateChange:

1. When entering "a" in the to field, I"m getting multiple suggestions. Up and down arrowing through the suggestions works just fine, however when the first suggestion pops up, it isn't read, may be because there's no state change on it? Anyhow, when there's only one suggestio

[2019-02-12 08:19] leonardder opened #9260 "Developer scratchpad setting is saved in current configuration profile instead of globally"
### Steps to reproduce:
1. Enable the developer scratchpad setting in NVDA's advanced settings
2. Load a configuration profile
3. Disable the setting from the advanced category while the profile is active.

### Actual behavior:
The scratchpad setting is saved in the configuration profile.

### Expected behavior:
The developer scratchpad should be treated as a global setting.

### Additional though

[2019-02-12 08:48] mhussaincov opened #9261 "could firefox page loading and download beep progress bars be audable again?"
### Steps to reproduce:
1.
load firefox,
2
go to www.google.com
3
download a file from any website

### Actual behavior:
progress bar beeps are not reported when firefox's page is loading,
or when a file is downloading when firefox's download window is being desplayed.

### Expected behavior:
like in the older versions of firefox, v3.x series nvda should indicate page loading via the beeping progr

[2019-02-12 10:18] lukaszgo1 commented on #5337
I've tested with UIA disabled and Windows Explorer still crashed not as severe though, NVDA freezes only for about a minute as opposed to 5.

[2019-02-12 10:25] Adriani90 commented on #5650
@josephsl I guess there is still a PR open regarding touch behavior. Right? Are there any further updates planned for userguide?

[2019-02-12 10:29] Adriani90 commented on #5638
@Neurrone could you please fill the feature template for this one? Please include use cases and how you imagine this feature to work and which alternatives you think of. As of now, I will close this and hope that you address Joseph's comment above in the feature template. Thanks.

[2019-02-12 10:33] Adriani90 commented on #5634
@nvdaes, @dkager I duess this issue is still reproducible. Right? I know that Adobe was quite reluctant regarding adjustments in their products to improve accessibility. Are there any updates? cc: @jcsteh

[2019-02-12 10:38] lukaszgo1 commented on #5638
@Adriani90 Have you looked at the entire conversation, or just at the first two commends? The issue is valid, and even no one expressed interest in fixing it at the moment there is no reason to close it in my opinion. It isn't created according to the feature request template, but the commends above explained why it is needed for some.

[2019-02-12 10:42] Adriani90 commented on #5631
Maybe this beep tones will be transfered in a separate buffer after speech refactoring is implemented. cc: @jcsteh

[2019-02-12 10:49] Adriani90 commented on #5630
It might make sense to implement the speling errors at least in the elements list in browsers. @leonardder what do you think?

[2019-02-12 10:56] lukaszgo1 commented on #7320
What about navigating to the actual spelling errors? For example ad least in Firefox when you wrote misspelled word in some edit field the fact that it is an spelling error is reported even in browse mode. Would it be possible to navigate to it with W? Should  create a separate ticket for it?

[2019-02-12 10:57] ruifontes commented on #5634
Windows 10 1809
Adobe Digital Editions 4.5.7
NVDA last Alpha
Handytech Basic Braille 20

The text is shown in the Braille display...

Rui Fontes

Às 10:33 de 12/02/2019, Adriani90 escreveu:

[2019-02-12 11:06] Adriani90 commented on #5622
Actually, if you focus the column and press ctrl+down arrow, the focus will jump to the last cell with content in that column if there are no empty cells in between. You can press ctrl+down arrow multiple times to get to the end of the data column even if there are empty cells in it. So you get the cell coordinates and you will know how many items there are. If you don't want to move the focus, pr

[2019-02-12 11:10] Adriani90 commented on #5622
Another solution which is very exact and does not require any programatical changes, is the excel function count. Let's say you have items in the column from b5 to b511 and cell b400 until b500 are empty. Then you can type:
=count(b5:b511)
Excel will count all cells with content from b5 to b511 and will give you the number of items.

[2019-02-12 11:13] Adriani90 commented on #5622
So there are several work arounds for this. I am closing it as can't fix.

[2019-02-12 11:13] #5622 closed

[2019-02-12 11:18] Adriani90 commented on #5619
We didn't hear anything from the initial Author since more than three years. I am closing this one. We can reopen it if someone reports it again.

[2019-02-12 11:18] #5619 closed

[2019-02-12 11:26] Adriani90 commented on #5638
Oh sorry my browser didn't display all comment for what ever reason. Reopenning.

[2019-02-12 12:43] Adriani90 commented on #5634
I have got also a report from a german nvda user with braille display Baum super vario 40. The text is shown on the display as well.

[2019-02-12 12:45] nvdaes commented on #5634
Hi, I think we could close this issue:
- The text is shown in braille reading a purchased epub file.
- A crash is produced and NVDA needs to be started reading a valid ePUB 3 file created by @daisy for testing the accessibility of reading systems like ADE. I think this can't be tested due to its lack regarding stability.
Please see
http://epubtest.org/testsuite/accessibility/

[2019-02-12 12:49] Adriani90 commented on #5644
@ruifontes

[2019-02-12 12:52] Adriani90 commented on #5634
Ok, then closing it as works for me. If the issue is occuring for a specific braille display, then we can reopen it.

[2019-02-12 12:52] #5634 closed

[2019-02-12 13:01] Adriani90 commented on #5688
@josephsl can you still reproduce this issue? I think there were some changes to toast notifications in 1803 update or 1809 update. @qchristensen did anyone at NV Access notified Microsoft about this? Or should we do it via feedback hub? The problem is that many people cannot specify exact technical details on how it should be implemented to work properly with NVDA. So I think you are in a better

[2019-02-12 13:04] Adriani90 commented on #5728
I agree with @jscholes in this regard. Closing it in favor of possible app specific issues reported by users. @leonardder if you have any further suggestions, we can reopen it.

[2019-02-12 13:04] #5728 closed

[2019-02-12 13:09] Adriani90 commented on #5720
@jonnymoo it seems this issue got lost in the issue cosmos here. Could you please test with NVDA 2018.4.1 or with last Alpha if this issue still occurs? Thanks.

[2019-02-12 13:13] Adriani90 commented on #5708
@PratikP1, @fernando-jose-silva, @JamaicanUser is this issue still reproducible in last NVDA alpha or in NVDA 2018.4.1? I am on NVDA 2017.4 on Windows 8.1 and MS Outlook 2010. I couldn't reproduce this issue ever during last two years. I didn't test in Outlook 2016 with last NVDA yet.

[2019-02-12 13:16] Adriani90 commented on #5714
@mikepedersen did you see any improvements in browsers since you reported this issue? Is it still occuring in NVDA 2018.4.1 or in last Alpha? Unfortunately I cannot test just now.

[2019-02-12 13:19] Adriani90 commented on #5700
@fernando-jose-silva are there any improvements in this regard? Could you test with last versions of the ap and NVDA? Thanks.

[2019-02-12 13:25] Adriani90 commented on #5768
Closing this issue in favor of #8389.

[2019-02-12 13:25] #5768 closed

[2019-02-12 13:26] Adriani90 commented on #5699
Closing in favor of #8389

[2019-02-12 13:26] #5699 closed

[2019-02-12 13:31] Adriani90 commented on #5674
@rpaquay seems to have some pull requests which solves issues in java applications but it seems the developer is not available anymore. Could some one look over those pull requests and rebase them to last master? ideally someone can take over those pull requests and finalize them. cc: @nvdaes, @ABuffEr, @nishimotz.

[2019-02-12 13:33] Adriani90 commented on #5677
@mohdshara I guess you mean thunderbird 58. Right? Or is this a firefox issue?

[2019-02-12 13:41] Adriani90 commented on #5676
I cannot reproduce this issue in IE11 and the author seems not to be available anymore. Closing this issue for now as works for me. If someone reports it again we can reopen it. Thanks.

[2019-02-12 13:41] #5676 closed

[2019-02-12 13:45] Adriani90 commented on #5667
are there any further alternatives planed to solve this issue? @feerrenrut mybe we can get some further suggestions from @albzan who created an eclipse addon? @albzan are you planning to raise any pull requests with improvements?

[2019-02-12 13:54] Adriani90 commented on #5664
@privatmamtora testing with NVDA 2017.4 on Windows 8.1 and last version of Adobe reader, I cannot reproduce this issue. The tooltipp is reported both when navigating with arrow keys and when changing to focus mode and navigating by tab. Could you please test in NVDA 2018.4.1 if the issue still occurs? Thanks.

[2019-02-12 14:00] Adriani90 commented on #5749
@cannona, @csantos1113 I saw this issue also in firefox 65. But only in browse mode while moving with arrow keys. In focus mode, while tabbing arround, the issue does not occur for me at least. cc: @jcsteh

[2019-02-12 14:04] Adriani90 commented on #5749
Ok I must rectify, I can reproduce it also in focus mode.

[2019-02-12 14:06] Adriani90 commented on #5657
@jcsteh, @feerrenrut is there a consensus among NVDA developers regarding to this issue? Should there be any fixes provided in NVDA itself? Or is this something which won't be fixed?

[2019-02-12 14:11] Adriani90 commented on #5654
@aminimalanimal, @segedyjr, @orvalle can you still reproduce this issue? The codpen example seems to be expired and I cannot reproduce it. Could you upload a new example please? Thanks.

[2019-02-12 14:27] Adriani90 commented on #5809
@surfer0627 are you still having this issue in last NVDA?

[2019-02-12 14:28] nishimotz commented on #5674
Just confirmed status bar could not found in Android Studio 3.3 via NVDA+Shift+End (laptop).
I am not sure #5675 should be used to solve this.

[2019-02-12 14:28] Adriani90 commented on #5760
@josephsl are you planning to raise a PR to incluse the featur in NVDA's core?

[2019-02-12 14:30] Adriani90 commented on #5805
cc: @mltony

[2019-02-12 14:35] Adriani90 commented on #5771
@eleuteri, @dkager is this issue still reproducible? Is it also occuring when the tetering is automatic?

[2019-02-12 14:35] Adriani90 commented on #5771
cc: @leonardder

[2019-02-12 14:38] Adriani90 commented on #5791
We didn't hear anything from the author for more than 2.5 years. I am closing this issue. If someone reports it again we can reopen it.

[2019-02-12 14:38] #5791 closed

[2019-02-12 14:42] Adriani90 commented on #5737
@leonardder is this not implemented in NVDA now? Actually we can emulate modifier keys to braille displays. Is this also possible for application key?

[2019-02-12 14:43] Adriani90 commented on #5737
I think there was a pull request for including braille specific settings for key assignment.

[2019-02-12 14:47] leonardder commented on #5771
I recall @bramd complaining about this.

[2019-02-12 14:50] Adriani90 commented on #5773
@AArnott, @Neurrone is this issue still reproducible?

[2019-02-12 14:50] leonardder commented on #5737
The request is to add the applications key to the Hims braille display driver, and this mapping is there in the new native driver. The applications key can be invoked by pressing dot1+dot2+dot3+dot4+space, or the f8 key on a braille edge. The ability to add custom emulated system keyboard keys is a different issue. Closing this one.

[2019-02-12 14:50] #5737 closed

[2019-02-12 14:52] Adriani90 commented on #5759
In Windows 10 this is still an issue.

[2019-02-12 14:54] Adriani90 commented on #5754
@khsbory I guess you still have this issue also with automatic review enabled? cc: @leonardder

[2019-02-12 14:57] Adriani90 commented on #5755
It seems @khsbory is not available anymore. Is this issue still valid?

[2019-02-12 15:00] Adriani90 commented on #5747
@dkager is this issue still happening?

[2019-02-12 15:38] josephsl commented on #5760
Hi, not at this time, and I’m a bit cautious as Calculator’s user interface and experience keeps changing. Also, the current code is optimized for 2018 releases, and there are people still using older Windows 10 releases, so I’m not sure as to how to go about it. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 12, 2019 6:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>

[2019-02-12 15:42] josephsl commented on #5688
Hi, not exactly anymore. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 12, 2019 5:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10: Toast notifications are not announced if NvDA starts while ShellExperienceHost or SearchUI are possibly suspended (#

[2019-02-12 15:43] josephsl commented on #5650
Hi, please ping me regarding documentation changes requested throughout GitHub after 2019.1 beta 1 is released. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 12, 2019 2:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA User Guide and touch commands (#5650

[2019-02-12 15:50] Adriani90 opened #9262 "All browsers: NVDA jumps to the very left cell coresponding to the first cell of merged cells in a table when using table navigation commands"
### Steps to reproduce:
1. Open NVDA
2. Open this article or any other example containing a table and some merged cells in a row.
https://www.capitaliq.com/CIQDotNet/CreditResearch/RenderArticle.aspx?articleId=2164661&SctArtId=466758&from=CM&nsl_code=LIME&sourceObjectId=10864796&sourceRevId=1&fee_ind=N&exp_date=20290210-18:20:17&mkt_tok=eyJpIjoiWkdKa01XRm1ZMlU1WW1KbSIsInQiOiIwcGJmREFPUUdHYlQ2VjJMS

[2019-02-12 15:51] Adriani90 commented on #9262
I am prety sure I have seen this issue also in last NVDA Alpha.

[2019-02-12 15:51] Adriani90 commented on #9262
cc: @jcsteh, @leonardder

[2019-02-12 15:57] btman16 commented on #5760
Hello,

I'm not sure what the main issue is now. As far as I can tell, NVDA reads Calculator's display fine.

Thanks,

Brandon.

Sent from my iPhone

[2019-02-12 16:34] dkager commented on #5771
Indeed. Automatic tethering implies tethering to review, so that makes no difference.

[2019-02-12 16:38] dkager commented on #5747
I'm not sure if/how the notification is spoken and whether it is actually sent to the braille display. It never shows up in braille, but I wouldn't know if it is spoken at all and if that is consistent.

[2019-02-12 16:54] slannon97 opened #9263 "Add NVDA Remote to the core of NVDA"
### Is your feature request related to a problem? Please describe. no

### Describe the solution you'd like
NVDA Remote is extremely useful. It should be integrated into the core version of NVDA so that everyone has access to it right out of the box after installing the screen reader. It would make it much easier for folks to use because it would be built into the screen reader and ready for immed

[2019-02-12 16:55] DrSooom commented on #9262
Duplicate of #8730.

[2019-02-12 17:06] DrSooom commented on #9260
Hmm, what's about the following options in the General NVDA Settings?
+ Language
+ Automatically start NVDA after I log on to Windows
+ Use NVDA on the Windows Logon screen (requires administrator privileges)
+ Automatically check for updates to NVDA
+ Allow the NVDA project to gather NVDA usage statistics
+ Notify for pending updates on startup

How many of them should be excluded from configurat

[2019-02-12 17:10] DrSooom commented on #9261
@mhussaincov: Please add the NVDA version.
CC: @MarcoZehe and @jcsteh: I guess this is also something which has to be fixed in Firefox itself. … And in Thunderbird too.

[2019-02-12 17:32] AArnott commented on #5773
No. We made a fix in VS 2017 for this on our side. Thanks for checking.

[2019-02-12 17:32] #5773 closed

[2019-02-12 17:59] DrSooom commented on #9263
For security reasons I wouldn't prefer this. A NVDA add-on can be even faster updated instead of NVDA itself. And a quick reaction on new (security related) bugs is highly necessary for this type of add-ons.

[2019-02-12 18:06] DrSooom commented on #8084
Isn't this fixed in NVDA 2018.4.1 and NVDA Remote Access 2.2?

[2019-02-12 18:07] Andre9642 commented on #9263
Duplicate of #4390
Agree with @DrSooom

[2019-02-12 19:35] Brian1Gaff commented on #9263
I do however feel that adjustments to this add on considering it was crowd
funded and therefore may be subject to different licensing has been an
issue. It will I think need substantial changes very soon anyway.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -

[2019-02-12 19:46] fernando-jose-silva commented on #5700
I now using a machine with nvda 2018.4.1 and windows 10 1803 I was able to read the news, but in a little intuitive way in my opinion.
When opening the news it is necessary to make navigation by objects to read block by block of news.
If possible some more intuitive way to read the news would help users with less practice.
Thank you very much.

[2019-02-12 19:50] fernando-jose-silva commented on #5708
I did not have this problem any more.
Thank you very much.
I now use ffice 2019 and windows 10 1809

[2019-02-12 21:04] ctoth commented on #8084
Yes, this should be closed.

[2019-02-12 21:48] jcsteh commented on #9261
There is no longer measurable indication of progress when a page is loading, even for sighted users. The reality is that trying to measure progress on the modern web is unreliable/inaccurate due to the various types of content, various ways pages load new content, etc. So, this is not something that can be restored.

As for progress during a download, I still get progress beeps in the Downloads wi

[2019-02-12 21:52] jcsteh commented on #5755
As far as I know, we never received this driver.

[2019-02-12 21:54] jcsteh commented on #5759
@michaelDCurran, while I'm sure we've mentioned this to Microsoft in the past, was an actual bug report ever filed? It'd be nice to get this silly bug some attention.

[2019-02-12 22:18] Adriani90 opened #9264 "MS Outlook: NVDA does not report anything when switching between messages by ctrl+"." or ctrl+",""
### Steps to reproduce:
1. Open NVDA
2. Open a received message in Outlook
3. Press ctrl+fullstop or ctrl+komma to switch between messages without leaving the message window.

### Actual behavior:
NVDA does not report the sender and the subject line of the new message

### Expected behavior:
NVDA should report the sender and the subject line of the message I have switched to.

### System configura

[2019-02-12 22:22] Adriani90 commented on #9263
I am voting for implementing this as an optional feature in NVDA's core. This is because people in professional environments really need this feature and we need sustainable support and maintaining. We will see if the developer of the remote addon will react accordingly when NVDA will change to Python 3. but hopefully we have this implemented until then. As of now, I am closing this as duplicate.

[2019-02-12 22:22] #9263 closed

[2019-02-12 22:25] Adriani90 commented on #8730
cc: @jcsteh, @leonardder

[2019-02-12 22:27] Adriani90 commented on #9262
Closing as duplicate. Thank you @DrSooom for your fast reaction.

[2019-02-12 22:27] #9262 closed

[2019-02-12 22:36] jcsteh commented on #5677
@mohdshara's mention of Firefox was intentional. If the issue is
reproduceable in Firefox, there's a much better chance of getting it fixed,
since Mozilla Corporation has staff who can fix issues with editor and
accessibility. That fix would then be rolled into Thunderbird, since it
uses the core Mozilla code. In contrast, if it's Thunderbird specific, the
chances of getting it fixed are much lowe

[2019-02-12 22:40] jcsteh commented on #5631
I don't really know what you mean. There's nothing relevant to speech refactor here. The request here is for the beeps setting of speech mode (NVDA+s) to be made optional via configuration for users who don't need it. It is a user interface change; the core functionality doesn't need to be changed.

[2019-02-12 22:41] Adriani90 commented on #9240
Hmm strange. In my setting cm are already selected. Anyway, in the last alpha it seems cursor distance from page edge is not working anymore. @qchristensen can you confirm? I am using Alpha 16743,9509C256

[2019-02-12 22:45] Adriani90 commented on #9240
Sorry I had to edit the last comment because I made a mistake.

[2019-02-12 22:50] Adriani90 commented on #5631
Ok. I just thought speech refactoring might also bring new dialogs which allow to choose for which events to use beep tones and speech and so on. But maybe I totally missunderstood it. Sorry for that.

[2019-02-12 22:54] Adriani90 commented on #8084
Closing as works for me.

[2019-02-12 22:54] #8084 closed

[2019-02-12 22:55] Adriani90 commented on #5708
Closing as works for me. If the issue comes up again we can reopen this.

[2019-02-12 22:55] #5708 closed

[2019-02-12 22:57] Adriani90 commented on #5700
I guess object navigation will remain the navigation method in Windows 10 apps, especially because Microsoft also introduced scan mode in Narator to make this easier for users. Maybe object navigation will be improved accordingly. I let this issue open for further suggestions.

[2019-02-12 23:00] Adriani90 commented on #5688
Ok, not exactly means there are some exceptions? :) I will better let it to you to close this issue or not.

[2019-02-12 23:06] Qchristensen commented on #9264
Just confirming that I can replicate this on the same setup with NVDA 2018.4.1

[2019-02-12 23:36] DrSooom commented on #9261
@jcsteh: In Firefox 56.0.2 and 65.0 there is a sound/beep feedback based on the download progress bar after the download window has opened with CTRL+J. (It doesn't appear in Thunderbird 52.9.1. Confusion on my side, sorry.)

But there is no build-in sound feedback on loading a page, when a page finished loading and when a single or all downloads are finished. Until Firefox 56.0.2 the add-on "Navig

[2019-02-13 00:55] jcsteh commented on #5657
This problem exists in Chrome as well. I think the majority of cases are easily fixed in NVDA and this is much simpler than fixing this in browsers. It's also irritating me personally of late. :) So, I'm going to submit an NVDA PR to deal with this.

[2019-02-13 02:49] Qchristensen opened #9267 "Page numbers in page header not read correctly"
### Steps to reproduce:
1. Open a blank document in Word
2. Add several pages to the document by pressing control+enter several times.
3. Insert page numbers, press alt+n, n, u, t, enter to insert plain number 1 page numbers to the header section.
4. Use the arrow keys to move through the header and footers for each page.

### Actual behavior:

Each time NVDA gets to a page number, it reads "1", r

[2019-02-13 03:17] josephsl commented on #5688
Hi,

at least for now, I'm closing it until someone running 19H1 can confirm it is truly no more. Thanks.

[2019-02-13 03:17] #5688 closed

[2019-02-13 06:19] leonardder commented on #4390
In #9263: people expressed their concerns with having NVDA Remote in core.

@drsooom wrote:

The problem with the current NVDA Remote add-on is that it is pretty low on maintenance. Furthermore, it contains lots of code that monkeypatches NVDA's core. While monkeypatching can be avoided by creating the proper extension points, this would require tight cooperation between NVDA core developers and a

[2019-02-13 06:32] MarcoZehe commented on #9261
We once had this for iOS, and immediately got push back from it because this caused some problems in hearing aids used with an iPhone, among others pain in the person's ears. And as @jcsteh points out above, loading progress is very inaccurate nowadays anyway. I know that Safari on iOS has these progress clicks, but I've found more than one occasion where these even fell short because of some prog

[2019-02-13 06:34] #9260 closed

[2019-02-13 08:17] MarcoZehe opened #9268 "Error when tabbing to the Reply textbox in the Slack thread sidebar"
### Steps to reproduce:

1. Install the Slack desktop client and log into a workspace.
2. With NVDA running, focus a channel, and press F6 to get to the messages output.
3. If the Slack workspace doesn't have application mode for the messages list yet, press NVDA+Space to turn off browse mode and use arrow keys to find a message that has at least one reply to it, e. g. an actual message thread.
4.

[2019-02-13 13:20] fernando-jose-silva opened #9270 "Nvda pronounces password when protecting documents in word"
### Steps to reproduce:
Open a document in Word 2016.
Open the Files tab, and then information.
Now, try to protect documents.
And finally, try to encrypt a document.
Wait for nvda to read all the text and start typing the password.
expected nvda should not read the typed characters.
What occurs, the nvda read the characters typed.
Now press tab and then shift + tab to focus on the password field.

[2019-02-13 13:53] leonardder opened #9271 "Disabling Word screen updating not possible in Word protected view, generates error sound"
### Steps to reproduce:
1. Open a document in Microsoft Word
2. Read line by line.

### Actual behavior:
bText reads as expected, however the following error is in de log:

[code]

### Expected behavior:
There's no error

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
Latest alpha

#### Windows version:
Windows 10 version 1803

#### Name an

[2019-02-13 16:07] leonardder commented on #8783
It would be good to have an update with regard to whether this also occurs with 2018.4.1 as well as latest alpha.

[2019-02-13 16:11] josephsl commented on #5760
Hi,

The main issue to consider is use of UIA notification event for some things.

As for a general PR to resolve this, I'm queueing it for 2019.2.

Thanks.

[2019-02-13 19:00] lukaszgo1 commented on #9271
I can reproduce it in Word 2010 32-bit if and only if the opened document is in the protected view.

[2019-02-13 20:40] leonardder commented on #9271
Ah, very likely that the colleague who reported this to me was also in protected view.

[2019-02-13 21:30] #5657 closed

[2019-02-13 22:22] DrSooom opened #9272 "Optional beep sound feedback during and after loading a page"
### Path:
NVDA menu » Preferences » Settings... » Browse Mode
### Steps to reproduce:
+ Visit: https://de.wikipedia.org/wiki/Liste_der_Tatort-Folgen
### Actual behaviour:
"Document is loading..." (or "Loading document..." is announced via speech and braille. (That should be still the case on such a huge wiki article.)
### Expected behaviour:
Add the following two checkboxes in the Browse Mode NVDA

[2019-02-13 22:24] DrSooom commented on #9261
@MarcoZehe: There only should be the ability to enable the sound feedback and set his own wave files for each event. Of course I'm not talking about to enable it automatically on default if Firefox's accessibility flag was enabled by a screenreader on startup. The user must enable it first. Well, but the add-on Noise should handle this – even Navigational Sounds was much better.

See also: Issue #

[2019-02-13 22:54] DrSooom opened #9273 "Option to disable the announcement "Copied to clipboard""
### Path:
NVDA menu » Preferences » Settings... » Browse Mode
### Steps to reproduce:
1. Select a file or folder in the Windows Explorer, press F2 followed by CTRL+C.
2. Select this text in a web browser like Firefox and press CTRL+C.
### Actual behaviour:
1. Nothing is announced.
2. "Copied to clipboard" is announced via speech and braille (if braille message timeout isn't set to "0").
### Expect

[2019-02-13 23:37] DrSooom commented on #4390
That's because security experts and mass media don't care on screenreaders security at all because only "a few thousands" users are effected. I also never heard something about the SightCity, which should be "the world‘s biggest exhibition for Aids for the Blind and the Visually Impaired" (quote form their website), in the mass media and even not at IT news sites on the web. By the way, an audit f

[2019-02-14 02:09] DrSooom opened #9274 "Beep sound feedback on pressing NumLock, CapsLock and ScrollLock"
### Path:
NVDA menu » Preferences » Settings... » Keyboard
### Steps to reproduce:
+ Press NumLock, CapsLock or ScrollLock.
+ If CapsLock is defined as a NVDA modifier key, just press it twice.
### Actual behaviour:
The name of the pressed key and the changed status is announced via speech and braille (if braille message timeout isn't set to "0").
### Expected behaviour:
Add a combobox called "Ann

[2019-02-14 02:24] tspivey commented on #9274
Windows already has Toggle keys.

[2019-02-14 02:47] josephsl commented on #9274
Hi, as @TSpivey pointed out, Windows already has toggle keys feature. I propose closing this as invalid unless a really (yes, really) compelling reason (other than the ones already stated) is given. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, February 13, 2019 6:09 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nva

[2019-02-14 03:53] DrSooom commented on #9274
@tspivey: Thanks for the hint, but it absolutely doesn't solve this issue, especially because of NVDA. It would work for non-screenreader users, but …

### Steps to reproduce:
1. Enable "Toggle keys" via the EAC/Keyboard settings (WIN+U) on Windows 7.
2. Set the CapsLock key as a NVDA modifier key, which is the default behaviour on all my machines – and which is recommended for notebook/laptop use

[2019-02-14 04:12] josephsl commented on #9274
Hi, I can confirm what Daniel is saying. To reduce confusion, I advise changing the title of this issue to say that toggle key beeps are heard whenever you use caps lock key with that key set as NVDA modifier key. CC @MichaelDCurran, @LeonardDer

From: Daniel Mayr <notifications@github.com>
Sent: Wednesday, February 13, 2019 7:54 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <josep

[2019-02-14 07:00] leonardder commented on #9274
I think it is just what one is accustomed to. I'm using toggle keys for over ten years now and, even when using the caps lock as NVDA modifier, I really find it beneficial for my work flow.
I'd rather investigate the possibility to suppress the toggle key sound on first press of the caps lock when it is the NVDA key. However, I'm afraid this is gonna be difficult.

[2019-02-14 08:15] leonardder commented on #9271
I can now reproduce this in Word 2016 protected view.

From what my colleague reported, he initially opened a document in protected view, but disabled protected view and yet the errors persisted. This is something I've asked him to retest.

[2019-02-14 08:16] leonardder commented on #9271
Given this a p2, as though it is not harmful, it is ridiculously annoying when reading in protected view with Alpha builds.

[2019-02-14 08:33] AbhitejJohn opened #9275 "NVDA looses focus after clearing an inner WPF pane"
As part of a type rename workflow in Visual Studio we fill in a pane that allows users to specify rename options. The problem is that when this pane is cleared out, NVDA looses focus of any actions in this application until it's "Alt+Tab"'ed out and back in again. This works fine with Windows Narrator.
Here's the code for this control if that's helpful: https://github.com/dotnet/roslyn/blob/master

[2019-02-14 08:39] leonardder commented on #9275
Are you using Narrator with scan mode off in this case? I wonder whether it is NVDA that loses track of the focus, or whether it is a more general focus issue.

It might help to have developer info, generated when opening the NVDA Log Viewer with NVDA+F1, before and after the focus loss occurs. Note that the NVDA key is usually the insert key.

[2019-02-14 09:03] AbhitejJohn commented on #9275
Not really sure how to check that. I haven't changed the defaults.

I've captured developer info as requested: [RenameDiagnosticLogs_WithDevInfo.txt](https://github.com/nvaccess/nvda/files/2864060/RenameDiagnosticLogs_WithDevInfo.txt).
Maybe adding time stamps in the logs would be useful to pice out the time interval that is interesting. Also I wish I could clear/reset the logs from the UI :)

[2019-02-14 09:07] surfer0627 commented on #9271
Hi,
in the protected view, browse mode, commands (press arrows to move to next / previous line) are unavailable. This case occurs in MS Word 2010 at least.

Should we need to add some description to remind users of this issue in user guide?

log message:
DEBUGWARNING - NVDAObjects.window.winword.WordDocumentTextInfo._expandToLineAtCaret (16:53:42.045):
winword_expandToLine failed

Sorry for this o

[2019-02-14 09:31] Brian1Gaff commented on #9272
I want a download complete sound since Firefox navigational sounds are no
longer available.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Daniel Mayr" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subs

[2019-02-14 09:33] Brian1Gaff commented on #9273
I thought nobody had perfected this to work reliably anyway, which is why I
use an add on to tell me. It does not mean its copied of course it means
that you pressed the right keys.
  The only time it natively says this is using the screen and  global nav
keys to copy to  the buffer.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk,

[2019-02-14 09:35] Brian1Gaff commented on #9274
Sometimes thy may work if the wind is in the right directions. are you sure
its not lower level than windows?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Tyler Spivey" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc:

[2019-02-14 11:42] lukaszgo1 commented on #9273
I definitely agree with @DrSooom  we should have a possibility do  disable this useless announcementn in browse mode.

[2019-02-14 11:49] Mary5958 commented on #9272
Bryan, there is another Firefox addon called Download Sound that plays a sound when a download is complete; it works nicely in the latest Firefox and also in Waterfox if you prefer.

[2019-02-14 13:27] netblue44 commented on #9273
Lets make shore that this very useful feature is not eliminated altogether

in fact announcing coppied and pasted itomms should be included in NVDA core

On 14/02/2019 05:42 a. m., Łukasz Golonka wrote:

[2019-02-14 15:30] leonardder commented on #9273
As for item 1, this is a duplicate of #553. Cutting and copying actions could not reliably be tracked.

As for disabling the copy feedback in browse mode, this is not very likely to receive high priority. Giving this a p4

[2019-02-14 15:59] fernando-jose-silva opened #9276 "nvda does not use the voice synthesizer configured in a profile on a new machine."
### Steps to reproduce:
At the school where I am working, we are using software to teach students how to type.
This software calls digitavox.
This software has its own voice.
So I configured a machine for the digitavox software, and I set the synthesizer non-speech .
Until now all right.
I need to do the same for different machines.
Then I copied the profile file created for the digitavox from the

[2019-02-14 16:09] DrSooom commented on #9274
@josephsl: I recently changed the issue title for clarification. Your suggestion isn't the intention of this issue.

@leonardder: And on my side this beep sound feedback on pressing the NVDA modifier key is absolutely annoying and extremely interrupts my workflow – especially when I’m hearing music in the background. Furthermore I think it is easier to implement the beep sound feedback feature as

[2019-02-14 16:17] fernando-jose-silva commented on #9273
I am in favor of giving the user the choice if they want to hear copied and pasted or even trimmed.
I'm giving classes now, and users always get confused if they press the right keys because nvda is muted when copying a file, folder, etc.
My students for other times have problems other than vision, such as motor coordination, and intellectual disability.

[2019-02-14 16:48] DrSooom opened #9277 "Windows beep sound feedback on first pressing CapsLock (NVDA modifier key) when Toggle keys (EAC) are enabled"
### Path:
NVDA menu » Preferences » Settings... » Keyboard

Quote from [my comment on issue #9274](https://github.com/nvaccess/nvda/issues/9274#issuecomment-463478544):

### Expected behaviour:
The sound feedback should be disabled on the first press of the CapsLock key by the user via a simple checkbox in the Keyboard NVDA Settings. @leonardder prefer this beep sound feedback based on [his commen

[2019-02-14 17:01] DrSooom commented on #9276
@fernando-jose-silva: Could you please copy the complete content of the no-speech-ini file as a comment? And the whole "Speech settings" section of the nvda.ini too. Ah, and does the file "profileTriggers.ini" exist? Thanks.

[2019-02-14 17:09] lukaszgo1 commented on #9273
Do you think that NV Access would accept PR adding a possibility to disable this announcement? I am under the impression that for main developer less options the better, but if such feature would be approved I would probably submit a PR for this.

[2019-02-14 17:11] a11cf0 commented on #9031
This problem still exists and is very annoying. I've noticed that it happens more often when NVDA is restarted before switching to a long running application.
Here's a recent more complete log fragment captured after restarting NVDA and then switching to Total Commander.
[fragment2.txt](https://github.com/nvaccess/nvda/files/2866036/fragment2.txt)

[2019-02-14 17:14] lukaszgo1 commented on #9276
This is a proper behavior. The deciding factor when checking which profile should be active is the content of the profileTriggers.ini file. It is logical I for instance have a profile called simply TeX which is assigned to my LaTeX editor which of course isn't called Tex. This should be closed as invalid. If I might suggest something you might consider asking such question on one of the NVDA maili

[2019-02-14 17:59] DrSooom commented on #9276
I suppose that @fernando-jose-silva should try to copy the "profileTriggers.ini" file too. If then it works as expected, he should close this issue here.

btw: As other users could have the same issue, it is much easier to find this issue here via a quick search on the web instead of asking such things in different mailing lists, which partly aren't public and which are also available in different

[2019-02-14 18:45] fernando-jose-silva commented on #9276
Thank you very much
@DrSooom
Perfect worked by copying the profileTriggers.ini
I did not know of the existence of this file.
I opened this problem because initially for me would not be a doubt, and yes maybe a problem.
I do not speak English as you should have noticed, this is a translation by Google translator.
And speaking on a list in English by the translator is very difficult, and you have al

[2019-02-14 18:45] #9276 closed

[2019-02-14 21:43] kdschlosser opened #9278 "Windows 10 SDK port to Python"
I have spent 100's of hours making as close to an exact replica of the Windows 10 SDK written in pure Python  (in it's entirety). I am not yet finished with it but I though it might be of use to this project. At the very least it will be a pretty large time saver if adding any new ctypes or comtypes code you can copy the python code that is already written from the library below.

https://github.c

[2019-02-14 21:54] DrSooom commented on #9278
@kdschlosser: Please change the issue title to something with more substance. Thanks. 😉

[2019-02-14 23:31] DrSooom opened #9279 "Clearing the logfile via the GUI and via a hotkey"
### Original suggestion by @AbhitejJohn:
Quote from [his comment on issue #9275](https://github.com/nvaccess/nvda/issues/9275#issuecomment-463547835):

### Path:
NVDA menu » Tools » Log Viewer...
### Steps to reproduce:
1. Change the log level to "debug" in the General NVDA Settings.
2. Open the Log Viewer via the NVDA menu.
3. Try to remember the actual last line.
4. Open the start menu. Or just

[2019-02-14 23:31] DrSooom opened #9280 "Set start and end point in a logfile via a hotkey and save this marked part on the Windows Desktop automatically"
### Original suggestion by @AbhitejJohn:
Quote from [his comment on issue #9275](https://github.com/nvaccess/nvda/issues/9275#issuecomment-463547835):

### Steps to reproduce:
1. Change the log level to "debug" in the General NVDA Settings.
2. Open the Log Viewer via the NVDA menu.
3. Try to remember the actual last line.
4. Open the start menu. Or just do anything else. It doesn't matter. But its

[2019-02-14 23:32] DrSooom opened #9281 "Allocate a hotkey to save a copy of the current logfile on the Windows Desktop"
In addition to issue #9280.
### Actual behaviour:
#### Procedure No. 1:
1. Open the Log Viewer via the NVDA menu.
2. Press CTRL+S to save a copy of it wherever you want.
#### Procedure No. 2:
1. Open the Windows Explorer and move to "%temp%".
2. Find "nvda.log" and copy it.
### Expected behaviour:
After the new allocated hotkey NVDA+CTRL+Shift+F2 was pressed, a copy of the current logfile is saved

[2019-02-15 00:23] DrSooom commented on #9272
@Mary5958: Thanks for the hint. Quote from [my comment on issue #9261](https://github.com/nvaccess/nvda/issues/9261#issuecomment-462986911):

Just for clarification: This issue here isn't talking about finished downloads – and also not about Firefox alone –, it regards to all applications which are using the virtual buffer (virtual documents, web pages, pdf files etc.).

[2019-02-15 01:02] larry801 commented on #9273
@fernando-jose-silva   You can try clipSepak addon if you want feedback when copying file.

[2019-02-15 01:40] Qchristensen commented on #4837
Has there been any update on the initial issue (option to disable reporting graphics)?

[2019-02-15 03:59] josephsl commented on #6305
Hi,

Update: #8006 is done, but in order to give room for add-on manifest changes to propagate throughout the community, I advise folks trying to work on this to hold off until one of the following things happen:

1. NVDA 2019.1 is released.
2. Python 3 transition is declared.
3. Python 3 transition is finished.

Thanks.

[2019-02-15 05:55] leonardder commented on #9277
While I acknowledge this issue, I'm afraid there's nothing we could do about this. Even while NVDA hooks the keyboard at the lowest level it could, it does not stop the toggle key beeps from playing. Another example of this is controlling a machine using NVDA Remote while toggle keys are on. You will notice that the toggle key beeps will still play, yet none of the keyboard keys are processed by t

[2019-02-15 05:55] #9277 closed

[2019-02-15 06:07] leonardder commented on #9268
Have you tested this in Chrome as well by any chance?

[2019-02-15 06:09] leonardder commented on #9273
I could not speak on behalf of NV Access, but I guess such a pr makes sense, as this issue points out that a majority seems to agree that this functionality would be useful.

[2019-02-15 09:53] Brian1Gaff commented on #9279
Would not this need to close the log, then suspend writing to it, rename the
old log and  start a new one and then write what you buffered to that new
log?
 Its a bad enough nightmare when nvda has to restart after a lot of copying
and renaming of files that it can clog up with a windows error as a file is
still  locked. That was why what I did was to use an external batch file to
do it all.
 Bria

[2019-02-15 11:19] kieranlittle667 commented on #8146
I'm still having this issue. I'm stil running 2018.3.2 however. My excel version is Microsoft® Excel® for Office 365 MSO (16.0.10730.20264) 32-bit.
This is a fresh installation of office 365 ProPlus on a fresh windows 10 1803 image.
I was also seeing the issue on my older work machine running the same software, but with windows 7 instead of 10.
I've just tried with JFW 2018 and that works fine. Th

[2019-02-15 12:14] lukaszgo1 commented on #9280
NVDA+Ctrl+F2 is already used by test_navigatorDisplayModelText

[2019-02-15 12:56] leonardder commented on #9271
@surfer0627: If there isn't already an issue for this, feel free to create one.

[2019-02-15 13:52] rkingett commented on #2111
I hope this is still being thought of, because this would be great for accessibility issues! Is there a way to have an open source database of these labels?

[2019-02-15 14:06] fernando-jose-silva opened #9283 "The nvda to automatically announce the search results in the start menu"
### Steps to reproduce:
For a few weeks I've noticed that nvda stops automatically announcing search results in the start menu.
When nvda works properly for example when typing ou nvda automatically announces outlook which is the suggestion of windows.
When this problem occurs while typing ou nvda does not advertise outlook, nvda only reads the typed letters.
When navigating with the arrow below t

[2019-02-15 14:23] ruifontes commented on #2111
So do I!
It is very important...
Altough I agree with Joseph Lee, we should ask devellopers to label all
controls, we need some tool to bypass that problem untill all
devellopers start doing things the right way...

Rui Fontes

Às 13:52 de 15/02/2019, Robert Kingett escreveu:

[2019-02-15 14:39] Adriani90 commented on #9278
cc: @michaelDCurran, @jcsteh, @josephsl, @leonardder

[2019-02-15 15:43] wrfortiscue commented on #9256
Hello,

Any update to this?

Thank you

From: ruifontes <notifications@github.com>
Sent: Friday, February 8, 2019 6:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Fortiscue, William <William.Fortiscue@oag.texas.gov>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] SCCM silent installation with no update (#9256)

What NVDA version are you trying to install?

I have a customer

[2019-02-15 16:07] leonardder commented on #9256
Not yet. I'll try to discuss this with either @michaeldcurran or @feerrenrut in the near future.

[2019-02-15 16:35] wrfortiscue commented on #9256
Thank you

From: Leonard de Ruijter <notifications@github.com>
Sent: Friday, February 15, 2019 10:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Fortiscue, William <William.Fortiscue@oag.texas.gov>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] SCCM silent installation with no update (#9256)

Not yet. I'll try to discuss this with either @michaelDCurran<https://urldefense.

[2019-02-15 17:59] mikepedersen commented on #5714
I’ll download the latest alpha and check. THis particular issue seems to
still exist in the latest released build.

On Tue, Feb 12, 2019 at 5:16 AM Adriani90 <notifications@github.com> wrote:

--
Mike Pedersen

<http://smart.salesforce.com/sig/mpedersen//us_mb/default/link.html>

[2019-02-15 18:50] leonardder commented on #7681
@Brian1Gaff : can you still reproduce this?

[2019-02-15 18:54] leonardder opened #9284 "Tools for system administrators and corporate environments"
### Background
The interest to use NVDA in corporate environments is growing and growing. This also introduces some challenges for IT administrators. This issue is meant to be an umbrella for ideas about how the workflow of IT administrators can be improved with regard to the Use of NVDA. Feel free to introduce new basic ideas here. If more people agree that ideas might be useful to implement, we

[2019-02-15 19:02] zstanecic opened #9285 "Word 2016-365 installed with non-English language, with UIA is enabled, comments cannot be read"
### Steps to reproduce:
Note, set office to use a language other than English.

approach 1:
1. Open the word document provided in the attachment.
2. When you arrow on a comment press insert+alt+c,

approach 2 - listing all comments in the elements list:
1. press insert+f7, when in the browse mode,
2. in the filter radio buttons category, find comments.

### Actual behavior:
When the first approach

[2019-02-15 21:01] josephsl commented on #9278
Hi there,

Thanks for an interest in making NVDA better through use of Python bindings for Windows 10 SDK.

In addition to Daniel's suggestion, I'd like to request a favor from you. Please do all steps listed below and report back with your findings:

1. Download and compile NVDA from source.
2. Try using certain Windows 10 functions (such as OneCore synthesizer support) with current approach vers

[2019-02-15 21:17] josephsl commented on #9278
Hi everyone,

To @kdschlosser: this is Joseph, one of the Windows 10 SDK people for NVDA community (the other is @MichaelDCurran). I'm sorry to say that your library might not be helpful for us at this time. After looking at your repo, I'm afraid the header we may wish to look at isn't there at all: UIAutomation*.idl is missing. UIAutomationCore.dll is the library NVDA uses to communicate with UI

[2019-02-15 23:38] DrSooom commented on #9280
@lukaszgo1: Thanks for the hint – I didn't know this. Well, then just replace F2 with F4 (or any other useful key). Or just change NVDA+CTRL+F2 to NVDA+Shift+F4. NVDA+Shift+F3 is already used to search backwards.

[2019-02-16 00:22] DrSooom commented on #9284
+ As admins want to configure everything which is possible and to disable features, which aren't needed, via GPO, I guess we need to make all settings or configurable via GPO instead of the "nvda.ini".
+ But we also need a tool to create prepared "nvda.ini", as well as for all other configurable staff like the "gestures.ini" or add-on settings – if GPO isn't used by the admin.
+ And of course the

[2019-02-16 01:42] derekriemer commented on #6305
I don't think we should use compat info for addons on the system config. I would disable all addons on the system config, and force the user to check the ones they specifically want.

[2019-02-16 02:24] nvdaes opened #9286 "Add a procedure to spell emojis"
### Is your feature request related to a problem? Please describe.

Emojis can be announced as complete words, but spelling them is not supported.

### Describe the solution you'd like
When the review cursor is placed on an emoji, a gesture may open a dialog showing the words corresponding to the emoji description, the same announced by NVDA, so that they can be reviewed with speech or using a bra

[2019-02-16 02:28] josephsl commented on #9286
CC @LeonardDeR

From: nvdaes <notifications@github.com>
Sent: Friday, February 15, 2019 6:25 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add a procedure to spell emojis (#9286)

Is your feature request related to a problem? Please describe.

Emojis can be announced as complete words, but spelling them is not supported.

Des

[2019-02-16 02:43] nvdaes commented on #9286
Thanks @@josephsl . About the dialog, ui.browseableMessage could also be used. Other alternative would be if symbols could be searched in the symbol dialog, to view the description, but this is not comfortable.
Also, we need to think if the dialog will show the description chosen by the user in customized symbols, or the provided by default, or if this should be configurable.

[2019-02-16 03:18] kdschlosser commented on #9278
The missing component you speak of I can easily create. I wanted to show you the repo. not necessarily to use as a whole. I browsed through the source code for NVDA and had noticed quite a few ctypes structures for use with Windows. I was simply recommending a reference or perhaps using to "copy and paste" from instead of making the conversions yourself by hand, a time saver.  I am pretty sure the

[2019-02-16 04:17] josephsl commented on #9278
Hi, thanks for the detailed answer. @MichaelDCurran, can we perhaps collaborate with this person in some form? Thanks.

From: Kevin Schlosser <notifications@github.com>
Sent: Friday, February 15, 2019 7:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] A Helping Hand. (#9278)

The missing

[2019-02-16 04:42] kdschlosser commented on #9278
I did the conversion on the UIAutomation h and idl files. I added them to the pyWinAPI repository

[2019-02-16 04:46] josephsl commented on #9278
Hi, yep, I see it, and the version I’m seeing is based on 10.0.17134; IUIAutomation6 has been added in 10.0.17763, which is the version NVDA internally uses. Thanks.

From: Kevin Schlosser <notifications@github.com>
Sent: Friday, February 15, 2019 8:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvacc

[2019-02-16 05:31] nvdaes commented on #5644
I'm not sure about the version which I have installed, seems 4.5.8 and now 4.5.10 is available. But the download link is 4.5.exed installer and I visited it. The bug can be reproduced here. Sincerely, I use this program just to purchase ebooks, but the reading experience is uncomfortable, so I can't provide too much feedback for this program.
As aside, Home key isn't working, and status bar can't

[2019-02-16 07:59] Brian1Gaff commented on #7681
Now and again, yes.
 It is as far as I can see a problem where windows keeps the log file locked
as nvda tries to restart, and hence it cannot continue and writes that
fragment to the, what I call emergency log in the nvda folder.

It can happen on installed copies as well, and even with no add ons, but it
seems totally random.
 I think that windows gets kind of blocked up with all the requests to

[2019-02-16 09:33] Brian1Gaff commented on #7681
PS the last time it happened on  an alpha snap was 6th Feb and on the
installed version on add on restart on the 2nd Feb both this year obviously.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-02-16 11:58] leonardder commented on #9284
The idea to have group policy support is interesting, though most likely pretty complex to implement. It is certainly something to keep in the back of our heads, though

[2019-02-16 12:02] leonardder commented on #9280
[**@lukaszgo1**](https://github.com/lukaszgo1) commented on [15 Feb 2019, 13:14 CET](https://github.com/nvaccess/nvda/issues/9280#issuecomment-464027229 "2019-02-15T12:14:36Z - Replied by Github Reply Comments"):

Wow, this script is actually entirely new for me.

Personally, I agree with the proposal to have a way to extract certain parts of the log for easy recording of log data. However, saving

[2019-02-16 15:52] ruifontes commented on #6305
I agree with that, specially because most addons are useless in safe mode...

Rui Fontes

Às 01:42 de 16/02/2019, Derek Riemer escreveu:

[2019-02-16 16:33] zstanecic commented on #6305
For example, Vocalizer for NVDA 3.0 is useless in safe mode.

The configuration is copied, but addon cannoot check the license.

From: ruifontes <notifications@github.com>
Sent: Saturday, February 16, 2019 4:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Allow selection of add-ons to copy to the system config (#6305)

I

[2019-02-16 16:59] ruifontes commented on #6305
Exactly...
However I was thinking in all appModules addons...

Rui

Às 16:33 de 16/02/2019, zstanecic escreveu:

[2019-02-16 18:08] nvdaes commented on #9286
Other thought about this: This should be generalized for other symbols, not just emojis, for instance comma and so on.
One possible approach would be:

info.expand(textInfos.UNIT_CHARACTER)
ui.browseableMessage(characterProcessing.processSpeechSymbol(locale, info.text))

The locale could be the NVDA's interface language. I have tested this in the Python console. To avoid that a browseable message

[2019-02-16 21:46] DrSooom commented on #9280
Well, sounds logical to me too. In the end the user always has to save the logfile on a different place than the Windows Desktop. So it doesn't matter if he moves the logfile itself or if he first has to paste the content of the copied section of the logfile into a new, blank text file. (Hopefully he isn't using Microsoft Word for it, like those who are saving screenshots within a Word document. O

[2019-02-16 22:11] DrSooom commented on #9284
Is it possible to add an additional "nvda.ini" between the default settings of NVDA and the user configuration? This "admin-nvda.ini" should be stored directly in the installation/program folder in a new folder called "adminConfig". So we would need a tool which transfers the content of the "userConfig" folder in the "adminConfig" folder in a suitable and correct way (incl. add-on configurations).

[2019-02-17 19:43] khsbory commented on #5755
Hi, the seika mini driver can be downloaded below.
But the problem is that in latest NVDA alpha version, the driver dooes not work.
Seika mini driver version is 3.0 and updated last year, but it is not compatible with latest NVDA alpha.
So I think that seika mini manufaturer should update the driver to compatible with latest alpha version.
I will report this issue and let you know if I get some cl

[2019-02-17 19:49] #7348 closed

[2019-02-17 19:49] #8271 closed

[2019-02-17 19:53] khsbory commented on #5754
Yes, as you said, in focus mode with braile, it doesn’t work yet in CK editor with firefox.
I tested in CK editor version 5 with latest NVDA alpha version.
If you need more information, please let me know.

Thank you.

김형섭 / Hyongsop Kim
(주)엔비전스 / 웹접근성사업팀 팀장

서울시 종로구 가회동 1-29
1-29 Gahoe-dong, Jongno-gu, Seoul, Korea
T. +82 2 313 9977 F. +82 2 313 3645 M. +82 10 3316 5996

http://dialogueinthedark.

[2019-02-17 19:54] zstanecic commented on #9285
@michaelDCurran
@leonardder
@josephsl
@jage9

[2019-02-17 20:29] NSoiffer opened #9288 "Enhance math support for PDF by supporting math in associated files"
## Feature Request
Many years ago, NVDA added support for reading math in PDF documents. Unfortunately, the mechanism that PDF described for adding MathML to a PDF is difficult for software to generate, so other than test documents and sample hand tagging, there are not many PDFs around that tag the math in this manner.

In PDF v2 (ISO 32000-2), a much simpler method was added to tag math: associa

[2019-02-17 22:17] lukaszgo1 opened #9289 "Impossible to install Speech History add-on in the latest alpha"
### Steps to reproduce:
1. Download speech History add-on from https://addons.nvda-project.org/addons/speech_history.en.html
2. Try to install it.
### Actual behavior:
The error sound is played and the following is written in the log
WARNING - addonHandler._report_manifest_errors (23:09:15.276):
Error loading manifest:
{'docFileName': True, 'description': VdtTypeError('the value "[u\'This add-on a

[2019-02-17 22:29] lukaszgo1 commented on #9289
cc @feerrenrut

[2019-02-18 04:15] Simon818 commented on #7412
This is becoming a bit of an issue in certain places. There are many websites that use clickable graphics for navigation or option selection. Sometimes they appear as clickable, but I've seen instances where they don't (although I don't have any examples for you, sorry.) In any case, even if they are clickable and the user has chosen to have clickable elements reported, hearing the word "clickable

[2019-02-18 04:19] jcsteh commented on #7412
If the images itself is clickable, it does get reported even if there's no
alt:

data:text/html,<img onClick=";" src="https://via.placeholder.com/10x10">

That gets reported for me as "graphic  10x10" (or clickable graphic if you
have reporting of clickables turned on).

if an ancestor is clickable, that isn't going to work, though. So I guess
all the cases you're seeing must be ancestor clickable

[2019-02-18 04:22] Simon818 commented on #7412
I don't know enough to know how to figure that out without looking through the code, and on some new websites that's just a god awful mess. But that would make sense. Does that still work if some javascript code adds the onclick property?

[2019-02-18 04:24] jcsteh commented on #7412
Yes, it should work with JS-added click handlers. My concern is that what
you're seeing might not even be img tags. Do you know for certain they are
img tags? If they're, say, CSS background images, we don't really have a
chance of handling those.

[2019-02-18 04:45] kdschlosser commented on #9278
ok then It looks as tho I will have to update my SDK version.

I will write a small program that will compare the 2 SDK versions for any differences then populate those differences into my library.

[2019-02-18 05:02] Simon818 commented on #7412
I can tell you that every time I've seen this behavior, I've been able to move to the graphics in question using object navigation and click them that way. Of course there have been sites that do things similar to what you're describing with CSS, and I know that's not something NVDA has a good way to handle.

[2019-02-18 05:54] leonardder commented on #9289
This add-on manifest has its description spread over multiple lines, which might be problematic. It has no add-on compatibility values in its manifest, and therefore I do not yet know why it does not install while it did before.

cc @josephsl

[2019-02-18 05:57] kdschlosser commented on #9278
I know this is kind of sort of another topic... But I had an idea... I think you may like this one a whole lot.
I am the Administrator of a project that I am pretty sure we could work together on this.

I do not know the full scope of NVDA. but from what I have assessed from reading the website is this. Its an accessibility package for the visually impaired that runs on Microsoft Windows. It aids

[2019-02-18 11:50] DataTriny commented on #9278
Hello @kdschlosser ,
Regarding EventGhost, NVDA has an add-on system that let's us extends its features simply by installing packaged Python code. Since what you are talking about is, I think, out of scope for NVDA core, the solution would be to create an add-on for your software. Don't forget however that NVDA is tightly coupled to Windows, and running it on embedded systems will not be possible.

[2019-02-18 12:24] francipvb commented on #5667
Hello,

I'm tweaking this a little...

Sorry for the *huge* delay.

[2019-02-18 13:04] larry801 opened #9291 "Put advanced panel in the end of panel list"
### Is your feature request related to a problem? Please describe.
No
### Describe the solution you'd like
Put advanced panel in the end of panel list
### Describe alternatives you've considered
Other applications like MPC-HC usually puts put advanced panel in the last term in settings lists.
This reduce the chance of accidentally change advanced setttings.

[2019-02-18 13:33] Ednunp commented on #7348
Hi. Has this now been merged into  an alpha build can I try it, or do I need to download the build mentioned above?

[2019-02-18 14:14] josephsl commented on #9289
CC @TSpivey

From: Leonard de Ruijter <notifications@github.com>
Sent: Sunday, February 17, 2019 9:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Impossible to install Speech History add-on in the latest alpha (#9289)

This add-on manifest has its description spread over multiple lines,

[2019-02-18 14:23] josephsl commented on #9291
Hi, the thing is, it might not be possible to know beforehand which add-ons will add settings panels. Thanks.

From: Larry Wang <notifications@github.com>
Sent: Monday, February 18, 2019 5:04 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Put advanced panel in the end of panel list (#9291)

Is your feature request related to a

[2019-02-18 14:46] larry801 commented on #9291
With so many addons installed, I ignored the fact that these panels are from addons.
If we implement this by adding a function instead of append to categoryClasses directly
That's a lot of work for such a small thing.
Close for now.

[2019-02-18 14:46] #9291 closed

[2019-02-18 14:52] tspivey commented on #9289
CC @jscholes

The manifest.ini uses unquoted strings, so the comma is taken as a list item separator. Whatever NVDA uses to validate now fails when given lists for the author and description.

Easy mistake to make, especially since the developer guide has no mention of this and itself uses unquoted strings.

[2019-02-18 14:59] lukaszgo1 commented on #9289
Maybe then we shouldn't be validating anything except real compatibility values?

[2019-02-18 15:39] Brian1Gaff commented on #9291
No but most other software I see has advanced at the end. Its a bit like
windows drive letters. If you want a fixed one, set it to the highest you
will ever need. I'd have thought something similar could be done with the
settings panels.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field

[2019-02-18 16:09] aliyksel opened #9292 "combobox under iframe is not read on firefox"
### Steps to reproduce:
there is a html select item in a page. main page uses IFrame and calls this page.

### Actual behavior:
for firefox. I select combobox and push up or down arrow, value is changed but NDVA is silent. (not open options list)

### Expected behavior:
for firefox. I select combobox and push up or down arrow, value is changed  and NDVA should read current value.

### System confi

[2019-02-18 18:02] OzancanKaratas opened #9293 "Add a module for Huawei HiSuite"
### Is your feature request related to a problem? Please describe.
NVDA does not reads the Huawei HiSuite software.
### Describe the solution you'd like
An app module can be added for this program. NVDA's object review mode runs well, but normal navigation operations does not runs.
### Describe alternatives you've considered
If Huawei HiSuite uses an inaccessible interface, we can contact with Hua

[2019-02-18 18:06] josephsl commented on #9293
Hi, I think you meant to pour water into the cup in front of us, right? (i.e. please fill out the template if you can, thanks).

From: Ozancan Karataş <notifications@github.com>
Sent: Monday, February 18, 2019 10:03 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add a module for Huawei HiSuite (#9293)

—
You are receiving this

[2019-02-18 18:06] zstanecic commented on #9293
This issue is not filled against the template

From: Ozancan Karataş <notifications@github.com>
Sent: Monday, February 18, 2019 7:03 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add a module for Huawei HiSuite (#9293)

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it o

[2019-02-18 18:16] leonardder commented on #9289
I think validation is essential, however it should not include backwards compatibility issues.

[2019-02-18 18:19] leonardder commented on #9281
As pointed out in #9280, saving a log file on the desktop might result into a chaos on the desktop, which I'd avoid. Alternatively, having (parts of) the log copied to the clipboard could be useful.

[2019-02-18 19:08] Adriani90 commented on #9292
cc: @jcsteh

[2019-02-18 22:02] Adriani90 commented on #5721
This issue is still reproducible.

[2019-02-18 22:10] Adriani90 commented on #5697
@pranavlal are you still able to reproduce this issue with last NVDA Alpha? Could you try with UIA enabled and disabled? Thanks!

[2019-02-18 22:22] Adriani90 commented on #5695
@nishimotz, @qchristensen are you still able to reproduce it with last NVDA alpha?

[2019-02-18 22:29] Adriani90 commented on #5686
Hello, testing with Windows 10 1809 update, sub menus are announced as "colapsed" similar to tree views. In my view this is acceptable. At this moment the windows 10 app essentials addon from @josephsl changes this behavior and NVDA announces "submenu". So, the addon is actually not required now in order to be notified if an menu item can be expanded or not. it works without the addon as well.
@jo

[2019-02-18 22:37] Adriani90 commented on #5664
Testing with NVDA alpha-16768,a6f7fb40 and las Adobe reader version, I cannot reproduce this issue. Closing as works for me. Feel free to comment on it if you still have this issue and we can reopen it.

[2019-02-18 22:37] #5664 closed

[2019-02-18 22:43] Adriani90 commented on #5631
Ok it seems the majority of users find this feature useful and pressing one time or two times nvda+s is not really and efficiency killer. Given the comments above and the use cases where this feature is helpful, I am closing this as won't fix. if you don't agree, please comment on it and we can reopen it if you have any arguments for removing this feature from nvda+s.

[2019-02-18 22:43] #5631 closed

[2019-02-18 22:44] jcsteh commented on #9292
This is a Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1473234 . This is already being tracked for NVDA in #7819.

[2019-02-18 22:44] #9292 closed

[2019-02-18 22:47] Adriani90 commented on #5613
This is solved when using UIA in MS Word 365. I am testing with alpha-16768,a6f7fb40.
cc: @michaelDCurran

[2019-02-18 22:47] mhussaincov commented on #9258
hi there,
any updates to this?
interested?

On 11/02/2019, mhussaincov <notifications@github.com> wrote:

--
kind regards,
Majid Hussain

[2019-02-18 22:48] Adriani90 commented on #5613
When uia is disabled, this issue can still be reproduced.

[2019-02-18 22:54] DrSooom commented on #9281
We could also give the user the opportunity to choose the folder in which the copied logfile should automatically be saved by pressing this hotkey. The destination folder would be configurable via the General or via the Advanced NVDA Settings.

[2019-02-18 22:55] DrSooom commented on #9281
We could also give the user the opportunity to choose the folder in which the copied logfile should automatically be saved by pressing this hotkey. The destination folder would be configurable via the General or via the Advanced NVDA Settings.

[2019-02-18 22:55] Adriani90 commented on #5562
I can still reproduce this issue in NVDA alpha-16768,a6f7fb40 with Adobe reader 19.010.20091

[2019-02-18 22:57] Adriani90 commented on #5558
@michaelDCurran is this something which could be solved in connection with the speed up PR?

[2019-02-18 23:00] Adriani90 commented on #5545
I am not able to reproduce this issue in Windows 10 1809 Update with NVDA alpha-16768,a6f7fb40. @k-kolev1985 does it make a difference for you when you use the windows 10 app essentials addon from @josephsl?

[2019-02-18 23:02] Adriani90 commented on #5549
This is still reproducible.

[2019-02-18 23:04] Adriani90 commented on #5550
@marrie can you still reproduce this issue? If yes, could you please run the com registration fixing tool in NVDA menu / tools? Does that solve it?

[2019-02-18 23:07] Adriani90 commented on #5862
cc: @jcsteh

[2019-02-18 23:10] Adriani90 commented on #5841
@josephsl, @jcsteh have been any improvements made in this regards meanwhile?

[2019-02-18 23:10] josephsl commented on #5686
Hi, I need to do more thorough testing with 1903, along with making sure it is still working for Edge. Thanks,

From: Adriani90 <notifications@github.com>
Sent: Monday, February 18, 2019 2:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10/Start Menu: submenus in context menus fo

[2019-02-18 23:12] Adriani90 commented on #5827
cc: @nishimotz, @leonardder, @feerrenrut

[2019-02-18 23:14] Adriani90 commented on #5824
Actually you can see the size in the download window of your browser. Closing as won't fix. If you don't agree, please comment with arguments and we can reopen it.

[2019-02-18 23:14] #5824 closed

[2019-02-18 23:17] Adriani90 commented on #5860
@Martinator are you still able to reproduce this issue with last NVDA alpha and last browser versions? @jcsteh this seems like there is an external fix needed for this issue in case it is still reproducible. Right?

[2019-02-18 23:22] Adriani90 commented on #5836
@pranavlal could you please test with last NVDA Alpha and UIA for MS Word enabled? Is this recognized now?

[2019-02-18 23:23] Adriani90 commented on #5834
@zersiax could you please test last NVDA alpha and see if the issue is still reproducible? Thanks.

[2019-02-18 23:32] Adriani90 commented on #5833
@mfairchild365, @jcsteh I cannot reproduce this issue in Firefox 65.0.1 and Chrome 71. But I can reproduce the issue only in IE when routing the mouse with nvda+shift+m or when moving the mouse on the screen.
cc: @leonardder, @nishimotz

[2019-02-18 23:34] DrSooom commented on #6341
Maybe it's better to handle this file here in the same way like "cldr.dic", which the user can enable and disable via the Speech NVDA Settings. See issue #6523 and #9210 and PR #8758.

[2019-02-18 23:39] Adriani90 commented on #5831
I saw this issue on multiple web pages where in browse mode the cursor was jumping aroung skipping one or more elements. @jmuheim could you please provide us with a page to test this issue? You can get more info on how the focus is handled in virtual documents by reading pull request #9114.

[2019-02-18 23:41] Adriani90 commented on #5831
Ok I could test this issue by activating the second link in the description. I can still reproduce it. cc: @leonardder

[2019-02-18 23:42] Adriani90 commented on #5828
@sukiletxe can you still reproduce this issue with last NVDA alpha and last versions of browsers?

[2019-02-18 23:43] jcsteh commented on #5833
Firefox changed its aria-hidden implementation last year such that aria-hidden content is no longer exposed to screen readers at all (as per the spec). So, this makes sense and we can consider this fixed as far as Firefox is concerned.

[2019-02-18 23:44] Adriani90 commented on #5829
cc: @lukaszgo1, @leonardder maybe something related to display model?

[2019-02-18 23:48] jcsteh commented on #5860
This is no longer reproduceable after the changes to aria-hidden in Firefox last year.

[2019-02-18 23:48] #5860 closed

[2019-02-18 23:49] Adriani90 commented on #5819
Yes I can also reproduce it in Firefox 65.0.1 and chrome 71. cc: @jcsteh

[2019-02-18 23:54] Adriani90 commented on #5799
@Qchristensen are you still able to reproduce this issue?

[2019-02-19 00:00] Adriani90 commented on #5803
this is still reproducible in Firefox 65.0.1 and Chrome 71 with NVDA 2018.4.1.

[2019-02-19 00:01] pranavlal commented on #5697
Hi,

I am on NVDA  2018.4.1 and am able to reproduce this issue with Microsoft Word 2016.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 19, 2019 3:41 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA not reading formatting marks in word 2016 (#5

[2019-02-19 00:02] pranavlal commented on #5836
Hi,
I am a tad confused.  When you say "last nvda alpha", do you mean a snapshot build?

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Tuesday, February 19, 2019 4:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mouse shape change unrecognized when macro recording

[2019-02-19 00:04] Adriani90 commented on #5836
Yes

Von meinem iPhone gesendet

[2019-02-19 00:20] kdschlosser commented on #9278
if NVDA has some kind of an API then EventGhost will be able to communicate with it.

EventGhost is written in python but it does have an executable. So adding it as a library would not be possible. it would have to be able to communicate with NVDA over some kind of connection.

EventGhost is just like NVDA it to is tightly coupled with Windows. And it will not run on any kind of an embedded syste

[2019-02-19 01:02] DrSooom opened #9294 "Firefox browse mode adds a non-existing space when the closing tag is standing in a new line"
### HTML code snippets:
1. `<div>Text 1`
`</div>`
2. `<div>Text 2</div>`
### Actual behaviour:
1. Parsed text in browse mode: "Text 1 " (There is a space after the digit "1".)
Parsed text in focus mode: "Text 1"
2. Parsed text in browse mode: "Text 2"
Parsed text in focus mode: "Text 2"
### Expected behaviour:
1. Parsed text in browse mode: "Text 1" (There is no longer a space after the digit "1".

[2019-02-19 01:27] Andre9642 commented on #9278
First, thanks for your initial work concerning Windows 10 SDK!
I just tested EventGhost quickly. It seems accessible. You use WXWidget and it is a good thing regarding accessibility with screen readers.
NVDA has an API, [see here](https://github.com/nvaccess/nvda/tree/master/extras/controllerClient). However, note that it's not necessary (and preferable) if your app is natively accessible.

[2019-02-19 01:31] jcsteh commented on #9294
TL;DR: Totally understand the concern here, but I'm not sure how to solve this in Firefox without breaking things.

Whenever there is a new line in HTML, except for the `<pre>` tag, this gets translated to a space in the rendered output. For example, this:

[code]

gets rendered as "test test". The same is true for a new line at the end. It seems, however, that Firefox truncates the space at the e

[2019-02-19 02:29] kdschlosser commented on #9278
define

[2019-02-19 02:56] josephsl commented on #9278
Hi,

Natively accessible: although it depends on who you ask, I usually define it as an app that is usable by people with disabilities via an assistive technology (such as screen readers) out of the box.

I think, for sake of space, it would be great for you to subscribe to NVDA development mailing list (hosted on SourceForge) so we can have a deeper discussion about accessibility in general on th

[2019-02-19 04:57] DrSooom commented on #9294
Spaces and tabs from the beginning of a line are fully ignored by Firefox and Chrome. (Internet Explorer 11 would be a completely other topic.) Adding `` directly after the last character (very important: without a space in front of the "<") seems to solve this issue as well. Good to know – after so many years. (Why the heck I didn't figure that out earlier?! Because this is an acceptable workarou

[2019-02-19 07:22] nishimotz commented on #5695
Reproduced original issue with the setup as follows

* NVDA 2018.4.1
* Office 365 Excel (Version 1901) + English experience
* Windows 10 (64bit) Version 1809 + English experience

[2019-02-19 07:37] nishimotz commented on #5695
Confirmed that latest alpha resolves the issue:

* NVDA alpha-16789,73db4aa5
* Office 365 Excel (Version 1901) + English experience
* Windows 10 (64bit) Version 1809 + English experience

procedure:

* same as the beginning of this issue

result:

* cell A2 is changed to the bold font as expected

[2019-02-19 08:52] dreinn commented on #9242
I'm really sorry, it was a my mistake.
The checkbox "report notifications" on NVDA's preferences was disabled.
Consider the ticket closed, and sorry for this.

[2019-02-19 08:53] #9242 closed

[2019-02-19 10:43] sukiletxe commented on #5828
This works for me now, thanks for CC'ing. Just tested with the famous World War I article, this thread and another repo page in GitHub. If these aren't appropriate, feel free to suggest another page.

[2019-02-19 10:57] leonardder commented on #5828
Closing as works for me.

[2019-02-19 10:57] #5828 closed

[2019-02-19 12:32] MarcoZehe commented on #8980
This problem now also occurs in the [Twitter PWA](https://mobile.twitter.com). I encountered it once while skipping through my notifications and once while reading through my Home timeline.

[2019-02-19 13:15] fernando-jose-silva opened #9295 "nvda does not automatically read messages received on skype for business"
### Steps to reproduce:
I'm sure I've seen this working for some time.
I have not used skype for business for a long time but in my current work I'm making use of it again, and when I received a message on skype for business, nvda did not automatically read the received message.
Open a conversation on skype for business type something and wait inside the conversation for your partner to respond.
#

[2019-02-19 19:18] Adriani90 commented on #5695
cc: @michaelDCurran I guess your MS Excel speedup PR solved this issue. If you can confirm, then I suggest closing this issue as works for me now. cc: @Qchristensen

[2019-02-19 19:29] Adriani90 commented on #7814
Closing as works for me. Testing with Alpha alpha-16789,73db4aa5, there is no performance issue anymore. Thanks!

[2019-02-19 19:29] #7814 closed

[2019-02-19 19:41] Adriani90 commented on #5958
cc: @jcsteh, @MarcoZehe your thoughts here would be highly appreciated. @noobards as far as I know at least, there is no possibility to do that. Note that NVDA will read rows and columns coordinates in every layout table if such a table is identified. In NVDA's settings under browse mode settings you can enable consideration of layout tables. After that, NVDA will report row and column coordinates

[2019-02-19 19:47] Adriani90 commented on #5957
This is still the case, even with UIA enabled.

[2019-02-19 19:49] Adriani90 commented on #5953
@derekriemer, are you still considering to implement this? cc: @leonardder, @josephsl

[2019-02-19 19:51] Adriani90 commented on #5952
cc: @nvdaes

[2019-02-19 19:54] Adriani90 commented on #5951
@jscholes, @leonardder do you still see this issue?

[2019-02-19 19:55] Adriani90 commented on #5873
@elliott94 do you still have this issue on Windows 7?

[2019-02-19 20:04] Adriani90 commented on #5949
Will be solved in #8846. cc: @leonardder I am closing this as duplicate of #8716.

[2019-02-19 20:04] #5949 closed

[2019-02-19 20:09] Adriani90 commented on #5944
@khsbory I think dots 7 and 8 are not very ideal for that. note that there are also highlighted links etc. I suggest as indicator something like dots 18 = beginning, 73 = end.

[2019-02-19 20:11] Adriani90 commented on #5940
@leonnarder, @jcsteh is this actually an NVDA issue? Or does it need an external fix?

[2019-02-19 20:13] Adriani90 commented on #5923
@surfer0627 we cannot reproduce your issue, the link is not working anymore. are you still having this issue?

[2019-02-19 20:16] Adriani90 commented on #5918
cc: @michaelDCurran, @feerrenrut

[2019-02-19 20:21] Adriani90 commented on #5914
@MarxAblir we cannot reproduce this issue without exact steps to reproduce and an example website or an example file. Could you please provide these details? Thanks.

[2019-02-19 20:39] Adriani90 commented on #5902
Ok I can reproduce this issue in Firefox 65.0.1 in browse mode. I think in the description focus mode and browse mode are confused. In focus mode, NVDA reads the selected option on the checkbox and on the radio button and it also reads the selected option in the combo box correctly. However, in browse mode, NVDA reads the wrong values in the combo box. This is not reproducible in Chrome. @jcsteh y

[2019-02-19 20:42] Adriani90 commented on #5897
Ok the author seems not to be available anymore. I am closing this. I couldn't reproduce it ever. @wildcat11 if you are still available, please comment if you still have this issue and we can reopen it. Thanks.

[2019-02-19 20:42] #5897 closed

[2019-02-19 20:46] Adriani90 commented on #5896
This is solved when using UIA in MS Word. cc: @michaelDCurran

[2019-02-19 20:49] Adriani90 commented on #5894
@Qchristensen does it make a difference when you enable UIA in MS Word? Or is the issue still occuring anyway?

[2019-02-19 20:52] Adriani90 commented on #5885
@dkager, did you hear something from Microsoft regarding to this? Is the issue solved meanwhile?

[2019-02-19 20:53] Adriani90 commented on #5881
@sharkboyto, @nvdaes couls you please test if this issue is still reproducible with last NVDA Alpha or with NVDA 2018.4.1? Thanks.

[2019-02-19 20:54] elliott94 commented on #5873
This appears to be related to the access level that NVDA runs at - as an example, I still see this exact same thing if choosing to run NVDA as a different user (which I think is related).

[2019-02-19 20:58] Adriani90 commented on #5877
@leonardder, @michaelDCurran is this something which could now be tried again? The code for MS Word underwent some changes recently and at least for UIA it would be worthy to try it at least.

[2019-02-19 21:02] Adriani90 commented on #5871
@elliott94, @jcsteh I guess this issue is still existing. Right?

[2019-02-19 21:04] Adriani90 commented on #5866
This would be really helpful. I hope it will come any time in the future into NVDA.

[2019-02-19 21:28] elliott94 commented on #5871
Yes - this can still be observed with latest snapshot builds.

[2019-02-19 21:32] ydogandjiev opened #9296 "Sequence of tab items in tablist not read out in browse mode"
### Steps to reproduce:
1. Open tab sample here:
http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml
2. Click on the "Prices" tab to select it
3. Switch NVDA into browse mode (Insert + Space)
4. Press the Down Arrow key, observe read out --> "Tab Features"
5. Press the Up Arrow key, observe read out --> "Tab selected Prices"

### Actual behavior:
In browse mode NVDA reads out "Tab Fe

[2019-02-19 22:38] francipvb commented on #5667
Hello,

Please check #9297.

cheers,

[2019-02-19 22:45] #8146 closed

[2019-02-19 23:10] Qchristensen commented on #5799
Yes, I can still reproduce this.  I should clarify my earlier comment: I am NOT running Office 2016, but Office 365.

[2019-02-19 23:50] Qchristensen commented on #5799
I just realised, I was running NVDA 2018.4.1 when I tested last.

Using NVDA alpha-16793,31692c6c, In Office 365 Version: 16.0.11231.20164, I can no longer reproduce the original issue.

My experience currently is the same as Reef's - that is, the selection flashes for a moment, but stays (visually) selected.

[2019-02-19 23:58] Qchristensen commented on #5695
I can confirm this now works as expected for me in Office 365 Version 16.0.11231.20164 with NVDA alpha-16793,31692c6c.

[2019-02-20 00:39] OzancanKaratas commented on #9293
I have updated the issue comment.

[2019-02-20 00:56] Qchristensen commented on #5894
Using the latest alpha-16793,31692c6c and Office 365 Version: 16.0.11231.20164 I get the same results as originally, regardless of whether I set NVDA to use UIA or not.

[2019-02-20 01:33] michaelDCurran commented on #8980
Although I can't reproduce this yet in the Twitter example, back on the
original testcase:

The freeze occurs in Mozilla Firefox 64 and 67, but not Google Chrome 72
and 74.

I have verified that where the c++ regexp match freezes, both the
regular expression string and the input were identical in allBrowsers.

I will try and simplify the testcase down to a page with only that one
article that I kn

[2019-02-20 02:37] michaelDCurran commented on #8980
match_regexp freezes if the input is 295 characters or longer. It
doesn't matter what the characters are. I was able to reproduce it with
an article with an aria-label made up of 295 'x' characters.

I will investigate Jamie's idea about allocating the regexp object
differently.

[2019-02-20 03:23] jcsteh commented on #8980
Failing that, we could just trim any "name" strings longer than 100
characters or so. It's a bit arbitrary, but we don't ever search by name so
much as the "presence" of name, so I think we can live with it.

[2019-02-20 03:42] DrSooom commented on #5881
And don't forget to update Adobe Acrobat Reader DC to version 19.010.20091, which is the latest one, first. Knowing the behaviour in Foxit Reader 9.4.0 would be nice too, because the appModule for the Foxit Reader is quite similar to the one for the Adobe Reader.

[2019-02-20 04:47] Qchristensen opened #9298 "Outlook: Announce when changing sections"
### Is your feature request related to a problem? Please describe.

When you change sections in Outlook, for instance pressing CONTROL+4 to move to tasks or CONTROL+1 to move to mail, NVDA often simply reports "Table view, Table" before reading the item with focus.  Some sections are more obvious, eg the calendar reads "Week view, 2 total events" etc, and contacts reads " Contact list grouping".

[2019-02-20 05:15] jcsteh commented on #5902
The combo box not reading the value is the Firefox bug we're tracking in #7819.

[2019-02-20 05:39] jcsteh commented on #5958
role="presentation" is negated if the element is focusable or has aria attributes. This has both (aria-readonly, aria-activedescendant and tabindex). If you want role="presentation" to work, you'd need to remove these. That means the cells themselves would need to accept focus.

[2019-02-20 06:08] michaelDCurran commented on #8980
@jcsteh I logged both the regular expression, and the input string, where the regex match freezes. I doubt this is the cause, but I am finding it hard to read. Should name appear twice? and should IAccessible2::attribute_xml-roles appear twice for both region, and the other group of landmarks (search,main etc)?

Here is the regular expression:
[code]

And here is the input string:
[code]

[2019-02-20 06:11] michaelDCurran commented on #8980
Actually, I think I get it. As the comments say: It has to match on all attributes for each dictionary. Never mind. Just never really read the output before.

[2019-02-20 08:10] leonardder commented on #5871
@jcsteh: might this be something that the migration to Python 3 could somehow fix or improve?

[2019-02-20 08:33] jcsteh commented on #5871
I doubt it. The underlying cause of this is https://bugs.python.org/issue20916 , which isn't fixed in Python 3. The code we have to work around this for releases is just that, a workaround. Unfortunately, it fails for snapshots because AppVeyor redirects to another URL and this workaround can't intercept and deal with redirects.

[2019-02-20 09:33] kieranlittle667 commented on #9284
Interesting ideas. We definitely need a better deployment option; even the Chocolatey package is forced to play the installation music; a very silent option would be preferable. The GPO idea is an interesting one, but may be difficult to implement and maintain. I can say from experience of running nvda with limited permissions in a corporate environment that certain features just aren't needed e.g

[2019-02-20 10:14] leonardder commented on #9284
I recall the Chocolatey package was once provided by @bramd.
The Ninite integration also plays the startup sound, and I think that both integrations should also use the `--enable-start-on-logon=False` command line parameter on 2019.1 and above.

[2019-02-20 12:34] leonardder opened #9300 "After updating to Windows 10 1809, NVDA's process crashes on the logon screen due to a locale error"
Reported by one of my colleagues.

### Steps to reproduce:
Start the computer while NVDA's startup at the logon screen is enabled.

### Actual behavior:
NVDA does not start, an error is printed that diverts us to a log file at c;\program files (x86)\nvda\nvda.exe.log

The following relevant snippet is in the log:

[code]

Inspection reveals that this is caused by an error raised by `locale.setloca

[2019-02-20 12:38] stickbear2015 commented on #9300
I can't reproduce this on my HP or dell machines both running 1809.
NVDA starts normally with no log output similar to @leonardder's colleague's output.
note the version from winver for reference:
Windows Version 1809 (OS Build 17763.316)

[2019-02-20 12:46] leonardder commented on #9300
I can't reproduce this on my machine with 1809 either. I'm pretty sure
this machine is just broken, but the way NVDA crashes is worrying.

[2019-02-20 12:47] stickbear2015 commented on #9300
@leonardder is the user in question using a different locale than english?

[2019-02-20 12:59] leonardder commented on #9300
Yes, the locale is dutch.

In the regional settings of the system, we tried both changing the
language and the beta UTF-8 option, but neither of them made a difference.

[2019-02-20 17:57] fernando-jose-silva opened #9301 "Nvda failed to read selected text in balabolka software"
### Steps to reproduce:
Install the balabolka software on the computer.
Open the software.
Please enter a text.
Press ctrl + shift + left arrow to select the word you just typed.
Press nvda + shift + s to read the word selection.
### Actual behavior:
When you select with ctrl + shift + left arrow the nvda is muted.
Pressing nvda + shift + s announces that there is no text selected.
When pressing d

[2019-02-20 18:16] fernando-jose-silva opened #9302 "Nvda does not properly advertise the software version box balabolka"
### Steps to reproduce:
Open the software balabolka
In the Help menu open the option about
### Actual behavior:
The nvda does not read the dialog automatically.
Press nvda + b.
The nvda reading the window but not reading the entire window cuts the beginning of the text where there is the software version number.
If you use text navigation you can read the entire window, including the first part wh

[2019-02-20 21:00] DrSooom commented on #9301
Dupblicate of issue #4756. And issue #8918 is related.

[2019-02-20 23:19] KrolPolski commented on #1464
This is an issue for me. I am a low vision user of NVDA and use the mouse for a lot of tasks but struggle to read long sections of text; being able to copy text that was selected from the clipboard is core windows functionality that should still work with NVDA running. I am sure this issue impacts many low vision users.

[2019-02-20 23:51] jcsteh commented on #1464
As noted above, you can still select text with the mouse and copy it, though control+c won't work with browse mode enabled; you'll either have to right click and then click Copy, or switch to focus mode with NVDA+space and then press control+c.

[2019-02-21 02:35] #8980 closed

[2019-02-21 09:34] gregjozk commented on #9302
Hi,

I contacted a developer of Balabolka about accessibility issues, which are in Balabolka and He said, that he does not have experiences with programming with accessibilitiy in mind and does not know how to resolve these issues. unfortunately I don't have enough skills to help him how to implement accessibility APIs and other things which should be corrected within Balabolka. I think, that NVDA

[2019-02-21 10:18] Adriani90 commented on #1464
This will be more intuitive when #8846 will be implemented.

[2019-02-21 14:26] fernando-jose-silva opened #9304 "When navigating with the arrows on a form, nvda is not announcing the type of control."
### Steps to reproduce:
I opened a form, and started navigation with the arrows below.
In a line the nvda announced:
Type your e-mail
By pressing arrow below the nvda read this field is required.
You would expect the nvda to announce editing, and then the message this field is required.
In this case nvda suppressed speech from the edit control type, and just said the page message this field is req

[2019-02-21 14:28] francipvb commented on #7504
Hello people,

I was reviewing this issue today and yesterday.

I found that the object explorer is treated as IAccessible objects rather than WPF objects.

Cheers,

[2019-02-21 15:01] fernando-jose-silva opened #9305 "When navigating words in an edit field in chrome, nvda does not report a line break"
### Steps to reproduce:
This problem can be reproduced when opening a call for nvda on nvda's own GitHub.
Open a call and go to the edit body comment field.

Walk with the arrows to the blank line below
Actual behavior:
enter a short text as an example
this is a test.
press enter ,.
The lines will look like this:

### Actual behavior:
this is a test.

### Expected behavior:

now go to the beginnin

[2019-02-21 15:05] leonardder commented on #7504
@francipvb: what happens if you do the following from a python console:
`nav.appModule.isGoodUIAWindow=lambda hwnd: True`

[2019-02-21 15:30] francipvb commented on #7504
Hello,

It magically works correct with this.

Cheers,

[2019-02-21 15:42] francipvb commented on #7504
The only problem is that NVDA doesn't recognizes expand and contract events (state changes) and in last items parents for children aren't set up correctly, apparently.

See this chunk and see for yourself:

[code]

[2019-02-21 16:31] frastlin opened #9306 "Add Support to Natively View Music XML in the Browser"
### Is your feature request related to a problem? Please describe.

There is currently no way to read sheet music in the web browser.

### Describe the solution you'd like

Currently the [Music XML specification](https://www.w3.org/2017/12/musicxml31/) [can be rendered in HTML5](http://cdm.link/2010/05/music-notation-with-html5-canvas-in-the-browser-standard-formats-for-scores/) and I would like s

[2019-02-21 16:53] leonardder commented on #7504
There's something strange happening here which I, by coincidence, also saw on another system in a WPF app. For the WPF app in question, IAccessible was used for native UIA controls as well. Further inspection showed that UIAutomationCore.UiaHasServerSideProvider returns False and the UIA provider is ineed the MSAA proxy. Yet, the UIA implementation is much more usable.
cc @josephsl

[2019-02-21 17:02] leonardder commented on #9306
Could you provide an example document?

In my opinion, being able to parse music XML falls beyond the scope of a screen reader, as Music XML is a pretty specific standard.

[2019-02-21 18:17] francipvb commented on #7504
I will link your comment to an issue I opened in the visual studio support.

Cheers,

[2019-02-21 19:37] frastlin commented on #9306
OK, I think I figured out what is going on:
The [Music XML Spec](https://www.w3.org/2017/12/musicxml31/) is not official and there is no browser that renders it.
This means that there is no support in HTML without using canvas and a nonsemantic UI to render music in the browser.
So the only solution to this is to build a custom HTML widget while there is no browser spec for Music XML.

[2019-02-21 19:37] #9306 closed

[2019-02-21 19:38] fernando-jose-silva opened #9307 "nvda does not show the basic html button in the browsing mode in firefox"
### Steps to reproduce:
Open gmail in firefox using gmail's default view.
Walk with the arrows up and down and look for the basic html view mode button.
### Actual behavior:
The basic html view mode button is not found using the browse  mode on the nvda.
If you switch to focus mode in nvda and navigate with tab you will find the switch to basic html view mode.
### Expected behavior:
When using bro

[2019-02-21 21:49] bramd commented on #9284
@leonardder Yes, I maintain the Chocolatey package. I'm not really sure what the default for NVDA on log on screen should be, I guess it will depend on the environment. E.g. deploying in a blindness specific institution or giving the ability to log on to every computer for blind users/staff. Since, as far as I know, there is no way to launch NVDA on the log on screen manually, the start on log on

[2019-02-21 23:35] Amanullah0123 commented on #9253
@DrSooom Any update on this ?

[2019-02-21 23:42] robinettl commented on #7504
I reported a very similar issue for the object browser  in Microsoft SQL server management studio. When I get off work I will find the number and comment it here, as the fix for one might mean a fix for the other

[2019-02-22 01:24] DrSooom commented on #9253
@Amanullah0123: I'm not a developer. CC: @michaelDCurran

[2019-02-22 01:39] DrSooom commented on #9306
@frastlin: Maybe the abc notation is a suitable solution for that. I gave a talk about this at the SightCity-Forum 2017 in Germany. See http://abcnotation.com/wiki/abc:standard:v2.1 and https://danielmayr.at/abc/.

[2019-02-22 03:07] DrSooom opened #9308 "Change the default beepSpeechModePitch value from 8000 Hz to 880 Hz"
### Steps to reproduce:
1. Press NVDA+S to switch from the speech on mode to the beep mode.
2. Do something. It doesn't matter.
### Actual behaviour:
Quote from issue #9206:

Note: I guess the default value here is/was 8000 Hz, which hurts extremely in my ears. So reducing it directly to 880 Hz would be nice.
### Expected behaviour:
Change the default beepSpeechModePitch value from 8000 Hz to 880

[2019-02-22 03:10] josephsl commented on #9308
Hi, you realize that this conflicts with top of screen beeps for mouse and 75 percent beep for progress bars, right? Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, February 21, 2019 7:07 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Change the default beepSpeechModePitch value from 8000 Hz to 880 Hz (#9

[2019-02-22 03:20] DrSooom opened #9309 "Add a shortcut for the "changes.html" to the Windows start menu program folder"
### Steps to reproduce:
1. Open the start menu and list the content of the program folder.
Note: This behaviour is different between Windows 7 to Windows 10-1903.
2. Move to the folder "NVDA\Documentations\"
### Actual entries:
+ Shortcut to "userGuide.html"
+ Shortcut to "keyCommands.html"
### Expected behaviour:
Add a shortcut for the "changes.html" too.
Note: If this is already the current beha

[2019-02-22 03:31] DrSooom commented on #9308
@josephsl: Yes, this is possible, but I guess the user will recognized the current context, where beeps occur, correctly. In the end he will get the opportunity to change this value via the NVDA Settings to the value he wants. See related issues.

btw: I also don't know, how many users are really using the beeps for the mouse movements. I know that this is a really old and nice feature for demonst

[2019-02-22 03:32] josephsl commented on #9308
Hi, I use mouse beeps not only in mouse, but sometimes while using touchscreens. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, February 21, 2019 7:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Change the default beepSpeechModePitch value from 8000 Hz to 880 Hz (

[2019-02-22 03:36] DrSooom commented on #9308
@josephsl: We should wait for more feedback from the community.

[2019-02-22 03:40] josephsl commented on #9308
Hi, that’s my intention at this time. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, February 21, 2019 7:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Change the default beepSpeechModePitch value from 8000 Hz to 880 Hz (#9308)

@josephsl <https://github.com/josep

[2019-02-22 03:56] ehollig commented on #9301
Closing as duplicate of #4756

[2019-02-22 03:56] #9301 closed

[2019-02-22 07:29] surfer0627 opened #9310 "LibreOffice Calc: report merged cell coordinates"
### Steps to reproduce:
1. Open Calc.
2. Select a1 through a3.
3. Choose Format - Merge Cells - Merge Cells.
4. Move to cell a1.

#### Actual behavior:
NVDA reports: a1

#### Expected behavior:
NVDA reports: a1 through a3

### System configuration:
#### NVDA Installed/portable/running from source:
Installed.

#### NVDA version:
2018.4.1

#### Windows version:
6.1.7601 service pack 1

#### Name and

[2019-02-22 07:52] leonardder commented on #6897
LibreOffice Table Cells don't implement IAccessibleTableCell, and therefore there's no way to get the row and column span. LibreOffice itself also does not expose the merged state in the accessible name of the cell.

[2019-02-22 07:53] leonardder commented on #9310
LibreOffice Table Cells don't implement IAccessibleTableCell, and therefore there's no way to get the row and column span. LibreOffice itself also does not expose the merged state in the accessible name of the cell.

[2019-02-22 09:49] Brian1Gaff commented on #9308
Yes, the problem is that 8k is getting close to older persons limit of
hearing and the effect is to feel the sound rather than hearing it, as pain.
I notice this at higher frequencies, say around 10khz. However not sure
about the lower end. Could we not come up with a less strident sound, one
that has softer starts and stops and sounds smoother?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder

[2019-02-22 10:47] leonardder commented on #9308
The default is actually 10000. I'm under the impression that the beep sounds at this rate contain some artifacts, probably because the audio quality can't deal with the overtones properly. I can already hear these around 3000 hz.

I really like setting it too 4400. like this on the python console

`import config; config.conf["speech"]["beepSpeechModePitch"]=4400`

[2019-02-22 12:11] Adriani90 commented on #9304
cc: @jcsteh

[2019-02-22 12:17] Adriani90 commented on #9253
cc: @jcsteh

[2019-02-22 12:24] Adriani90 commented on #9310
Bugs against Libre Office can be reported here:
https://bugs.documentfoundation.org/enter_bug.cgi?format=guided
Unfortunately I am not using Libre Office at all, so I guess there are people who can fill a bug with more Details than I could. @leonardder could you fill one please?

[2019-02-22 13:05] francipvb commented on #7504
Hello again,

I will open separate issues for this.

Cheers,

[2019-02-22 13:33] francipvb opened #9311 "Object explorer not working correctly in Visual Studio 2017 (v15.3 and up)"
### Steps to reproduce:

1. Open any type of project with object explorer available, such _.NET_.
1. Open object explorer with <kbd>ALT+CTRL+j</kbd>.
1. Ensure you're in the objects tree and select the first expandable item.
1. Expand it by pressing <kbd>right arrow</kbd>.
1. Enter into it with <kbd>right</kbd> or <kbd>down</kbd> arrow.
1. Contract it by pressing <kbd>left arrow</kbd> twice.
1. Pr

[2019-02-22 13:40] WiproCRMAccessibility opened #9312 "NVDA is not reading the headings of the forms"
### Steps to reproduce:
Open attached HTML. Start NVDA and then follow these steps.
Navigate through the controls in page and observe that headings of the elements are not read even when there is aria-label added or not on the respective parent div.

### Actual behavior:
NVDA is not reading headings of the elements

### Expected behavior:
NVDA is not reading headings of the elements
[Bug1294917_NV

[2019-02-22 14:30] francipvb commented on #9311
CC @leonardder

This is related to #7504.

[2019-02-22 14:31] francipvb commented on #7504
Please check #9311 and #9313

Cheers,

[2019-02-22 14:41] fernando-jose-silva commented on #9308
I truly would like the nvda beeps to be lower, especially when using the one core synthesizers that have the lowest sound, which further causes a contrast between the volume of the beeps and the voice.
More like this call is to leave the most bass  beeps I believe that will already be a point of improvement.
So I vote to say the beeps in a more bass  tone.

[2019-02-22 21:34] Brian1Gaff commented on #9308
Yes it is a bit rough, I wonder what the waveform actually is?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Brian Gaff" <bglists@blueyonder.co.uk>;

[2019-02-23 00:52] DrSooom commented on #9308
Suggestion to all users: Please change the setting first by your own and test it for a while.

1. Open the "nvda.ini" in Notepad++.
2. Search for "# Speech settings" followed by "[speech]" in a new line.
3. Add "beepSpeechModePitch = 880" below the line "[speech]"
4. Save the file and reload the configuration (NVDA+CTRL+R).

You can use this [notes table](https://danielmayr.at/abc/noten.html) to f

[2019-02-23 01:10] DrSooom commented on #9312
@WiproCRMAccessibility: Your mentioned expected behaviour is equal to your mentioned actual one. Furthermore please completely fill out the bug report draft. Thanks.

[2019-02-23 01:16] Mohamed00 commented on #9308
I think it's a triangle.

On 2/22/2019 4:34 PM, Brian Gaff wrote:

[2019-02-23 21:42] albzan commented on #5667
Yep, I'm open for contributions and, too, if someone want to help improve it and submit to the addon community site.
For the automatic announcement of the dialog, I think it should be annoying because it will be repeated for each letter you enter. I've developed a version where when the pop-up comes up the addon makes a sound.
What do you think of this implementation?

[2019-02-23 21:52] Adriani90 commented on #5695
Closing as works for me.

[2019-02-23 21:52] #5695 closed

[2019-02-23 21:54] Adriani90 commented on #5836
@pranavlal did you find some time to test if this issue is still reproducible? Or maybe @Qchristensen could you please test this?

[2019-02-23 21:57] Adriani90 commented on #5799
Closing as works for me in last Alpha. If the issue still occurs though, please comment on it and we can reopen it. Thanks.

[2019-02-23 21:57] #5799 closed

[2019-02-23 22:02] Adriani90 commented on #5558
@nvdaes could you test if this is still reproducible with last NVDA Alpha? Thank you very much.

[2019-02-23 22:25] Adriani90 commented on #9312
I think I can reproduce this in Firefox 65.0.1. But only on the edit fields for name. The combo boxes are read properly. But on the edit fields, NVDA does not announce the label "name" when using e in browse mode or when using tab and shift+tab in focus mode. cc: @jcsteh

[2019-02-23 22:26] Adriani90 commented on #9312
This is also reproducible in Chrome 71

[2019-02-23 23:39] pranavlal commented on #5836
Hi,

I'll grab the alpha version and test today.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Sunday, February 24, 2019 3:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mouse shape change unrecognized when macro recording is enabled in word 2016 (#5836)

@prana

[2019-02-24 06:29] nvdaes commented on #5558
Adriani90 commented 8 hours ago

Thanks for this reminder. I don't know when I could test this since I don't have Excel at home and the sample document to try this was removed from Dropbox by the original reporter (I just created the issue).
Please, could someone take care about this? If nobody can, I will try to do it when I can, but I think this should be tested with latest versions of Excel, no

[2019-02-24 13:43] Adriani90 commented on #5558
ok @nvdaes I can reproduce this issue in every excel sheet when protecting and unprotecting it. To make it very fast, the cells and comments are not shwon when the sheet is protected. Formulas and comments are shown correctly in elements list when the sheet is unprotected. I guess this is also the case for all other elements like diagrams etc. This is visible in both Office 2010 and 2016.
cc: @Qch

[2019-02-24 13:45] Adriani90 commented on #5558
This is the case even if there are regions which are unprotected. So, the whole sheet must be unprotected to get all formulas and comments in the elements list.

cc: @michaelDCurran

[2019-02-24 13:56] Adriani90 opened #9316 "MS Excel 2016 / 365: After editing a cell, NVDA is sluggish for some seconds while navigating through the cells"
### Steps to reproduce:
1. Open a blank excel sheet in ms Excel 2016 / 365
2. In Excel's options enable "allow direct editing in cells" (works only in NVDA alpha-16813,a0b991af and later)
3. In cell a1 type =1+2 or anything else and press enter

### Actual behavior:
NVDA is very sluggish after pressing enter. Navigating between cells is very slow for 5 seconds or so.

### Expected behavior:
NVDA s

[2019-02-24 14:03] Adriani90 commented on #9316
Input before editing cell:

[code]

Input after pressing enter to leave the edit field of the cell:
[code]

[2019-02-24 14:04] Adriani90 commented on #9316
This behavior is extremely annoying when you must edit many cells in a short time range. To be honnest, I prefer to disable direct editing in cells like before because the delay is really significant.

[2019-02-24 14:19] Adriani90 opened #9317 "MS Excel 2016 / 365: Error when pressing f2 to edit a cell"
###Steps to reproduce:
1. Open a blank excel sheet in ms Excel 2016 / 365
2. In Excel's options enable "allow direct editing in cells" (works only in NVDA alpha-16813,a0b991af and later)
3. Press f2 while focusing a cell

### Actual behavior:
Following error is in the log:

[code]

### Expected behavior:
No error is raised

## System configuration
### NVDA installed/portable/running from source:
I

[2019-02-24 14:31] Adriani90 opened #9318 "MS Excel 2016 / 365: Errors while typing operators in a formula followed by cell coordinates and after pressing enter"
### Steps to reproduce:
1. Open Excel 2016 / 365
2. In Excel's options enable "allow direct editing in cells" (works only in NVDA alpha-16813,a0b991af and later)
3. In a cell, type =12+a5+a3
4. Press backspace and type another cell
5. Press enter

### Actual behavior:
NVDA raises several com errors while typing operators and new cell coordinates and while deleting them with backspace. It also fail

[2019-02-24 15:03] shadyar opened #9319 "NVDA gets error on some web-view applications"
### Steps to reproduce:
1. after typing in a text box.
2. if you press ESC key.
3. and try to navigate on the page.

### Actual behavior:
NVDA gets error beep.
[nvda.log](https://github.com/nvaccess/nvda/files/2898014/nvda.log)

### Expected behavior:
NVDA should read content of the page
### System configuration
#### NVDA installed/portable/running from source:
NVDA installed
#### NVDA version:
(N