[2020-05-02 08:12] Adriani90 commented on #2118
This is no longer a feature in Thunderbird 68.7, at least not from the context menu. Both context menus in browse and focus mode are now identical. Closing as invalid.

[2020-05-02 08:12] #2118 closed

[2020-05-02 08:14] Adriani90 commented on #2112
@k-kolev1985 I don'T think this issue disappeared in the meantime, but could you please test now with NVDA last alpha version? Just to keep the developers updated if this has been fixed or not meanwhile.

[2020-05-02 08:17] Adriani90 commented on #2445
No updates since years, closing as abandoned.

[2020-05-02 08:17] #2445 closed

[2020-05-02 08:19] Adriani90 commented on #2792
@surfer0627 how is this now in NVDA 2020.1 RC1? Can you still reproduce this issue?

[2020-05-02 08:21] Adriani90 commented on #2776
@nishimotz is this issue still reproducible in NVDA 2020.1 RC1?

[2020-05-02 08:31] Adriani90 commented on #2752
this is also reproducible in the task manager in Windows 10. The columns can only be accessed via object navigation, but not with arrow keys.
Testing with NVDA alpha-20097,6a573cd9
cc: @josephsl

[2020-05-02 08:36] Adriani90 commented on #2708
Lotus symphony has been discontinued since years now. I am closing this as abandoned. Please open a new issue for open office and alike with exact steps to reproduce and the results you get and expect. Thanks.

[2020-05-02 08:36] #2708 closed

[2020-05-02 08:38] Adriani90 commented on #2707
No updates since almost three years, I cannot reproduce this with las alpha of NVDA. Closing as abandoned and works for me. Please comment on this if you are still seeing this issue and we can reopen it. Thanks.

[2020-05-02 08:38] #2707 closed

[2020-05-02 08:42] Adriani90 commented on #2702
@Jarekczek do you have an update on this? Have you tried to fix this meanwhile?

[2020-05-02 08:45] Adriani90 commented on #2696
Is this actually not working when pushing try builds? Actually the try builds could fetch unstable branches of eSpeak and Liblouis. Or am I wrong?

[2020-05-02 08:50] Adriani90 commented on #2998
@josephsl is this something which you could investigate in your win10 apps saddon?

[2020-05-02 08:54] Adriani90 commented on #2836
cc: @codeofdusk

[2020-05-02 08:55] k-kolev1985 commented on #2112
@Adriani90 Yes, the bug is still reproducible with the latest alpha build (alpha-20097,6a573cd9) of NVDA.

[2020-05-02 09:16] Adriani90 commented on #3047
This needs to be fixed by Microsoft, actually itseems this extra information is part of the dialog title. Not reporting them would mean not reporting the dialog title at all.
Closing as cantfix and needs external fix.

[2020-05-02 09:23] Adriani90 commented on #3031
For now still txt2tags will still be sued, it is adapted to python 3. Thus, I would not close this issue for now.

[2020-05-02 09:26] Adriani90 commented on #3020
Update with NVDA alpha-20097,6a573cd9, in Outlook 365 only the first line is read automatically when opening a mail message.

[2020-05-02 09:31] Adriani90 commented on #3314
I think this needs to be fixed by the app developer, like it was fixed in Skype 8. I am adding needs external fix here.

[2020-05-02 09:31] Adriani90 commented on #3314
Oh wrong button :)

[2020-05-02 09:37] Adriani90 commented on #3298
this is duplicate of #11029. Closing in favor of that issue which ontains a bit more discussion and the template is filled accordingly.

[2020-05-02 09:37] #3298 closed

[2020-05-02 09:43] Adriani90 commented on #3531
This is fixed in NVDA alpha-20097,6a573cd9. Closing as works for me.

[2020-05-02 09:43] #3531 closed

[2020-05-02 09:47] Adriani90 commented on #3470
cc: @Andre9642

[2020-05-02 10:02] Adriani90 commented on #4014
@dkager, @leonardder is this fixed now in NVDA 2020.1 RC1? I saw that the coresponding issue in Liblouis has been partly fixed but closed now. There might be still issues left.
Unfortunately I don't have a braille display at hand to test this.

[2020-05-02 10:12] alexbernier opened #11089 "Crashes with Microsoft Word 2019"
### Steps to reproduce:

I am experiencing very frequent crashes with Microsoft Word 2019, when editing document. I can not find an exact sequence of operations to rproduce those crashes. Attached are two NVDA log files to show what is happening.

### Actual behavior:

Crash when editing text.

### Expected behavior:

No crash

### System configuration
#### NVDA installed/portable/running from sou

[2020-05-02 10:14] lukaszgo1 commented on #3047
@Adriani90 I respectfully disagree. As per this commend by @jcsteh:

This is an NVDA issue. Please reopen.

[2020-05-02 10:17] JulienCochuyt commented on #2067
Found a few hints here: https://stackoverflow.com/questions/1449162/get-the-full-name-of-a-wavein-device/43396412

Long story short:
 - First pass a WAVEOUTCAPS2 structure to gain the device GUID then lookup in registry
 - If this fails (no info in registry), use DirectSound to fetch device info

It's doable, but a bit complicated for what it attempts to solve...

[2020-05-02 12:41] Andre9642 commented on #3470
I notice that this table has no mapping for space. Is it really a table usable in standalone?

[code]

However, in my opinion, we should encourage to use the official braille tables only.

[2020-05-02 12:58] feerrenrut commented on #11062
A user with a password manager, such as keepass. They open keypass, find the correct account, get the app to copy the password and paste it into their application. All secrets/passwords in keepass are hidden already, but the user doesn't want someone looking over their shoulder to know what other accounts they have. To cater to this they might set up a profile specifically to enable screen curtain

[2020-05-02 13:03] feerrenrut commented on #2696
I think we can close this issue. There aren't any current plans to create automatic builds with the HEAD of espeak or liblouis repositories.

[2020-05-02 13:03] #2696 closed

[2020-05-02 13:21] feerrenrut commented on #11064
@josephsl you may have missed that this issue is about vsCode. Which we can easily have an appModule for with it's own strategy for getting the status bar. The two candidates strategies for fixing the current issue (caused by inaccurate results hit-testing in chromium) are:
- When status bar isn't found, wait and try again.
  - Chromium needs to re-render and cache the area to get accurate hit tes

[2020-05-02 13:34] CyrilleB79 commented on #11062
OK thanks for the example. Again, privacy is not guaranteed, but as you explained, for applications that are used in a limited gap of time, the risk to see privacy compromised is reduced. The user should just be aware of it when using profiles.
I suggest that we add a note about this in the documentation once the feature is clearly defined and developped.

[2020-05-02 13:43] feerrenrut commented on #11071
Looks like the fix for this issue is to update the NVDA developer documentation. Thanks for the extra info @JulienCochuyt

[2020-05-02 13:45] feerrenrut commented on #11071
Though there was one case (see the PR where this showed up) where checkPot did not catch a missing translation string. That could also be looked at.

[2020-05-02 14:01] feerrenrut commented on #11033
@ultrasound1372 while I can see how this issue leads to use cases for what you describe, please open a new issue to describe your suggestion in full. You can of course link to this issue for added context. I'm going to hide my comment and yours to avoid the discussion on this issue going off track.

[2020-05-02 14:21] Adriani90 commented on #4670
This is not reproducible anymore with NVDA Version: alpha-20097,6a573cd9. Tested in MS Word 2007, 2010 and 365 as well as in Notepad. Closing as works for me.

[2020-05-02 14:21] #4670 closed

[2020-05-02 14:39] Adriani90 commented on #5077
@dkager the Liblouis issue seems fixed. Is this issue still present?
cc: @Andre9642

[2020-05-02 14:41] Adriani90 commented on #5076
Closinga s works for me. Please comment on this if you still have the issue and we can reopen it. Thanks.

[2020-05-02 14:41] #5076 closed

[2020-05-02 14:47] GuruSR commented on #9374
Due to the pandemic, I can't answer that, I do have direct access remotely to that machine, but I don't want to upset what is currently working (somewhat).  Kaspersky is the antivirus in place, the machine is still in use only once a day, not sure if the person using it is actually hitting the issues, which have been happening still, restarts are needed to resolve the issue.  When the pandemic is

[2020-05-02 15:04] Adriani90 commented on #5456
@Qchristensen I guess this is fixed. Right? If yes, then I vote for closing this one.

[2020-05-02 15:10] Adriani90 commented on #5376
@fernando-jose-silva how is this now in Windows 10 1909 Update with NVDA 2020.1 RC1?

[2020-05-02 15:11] Adriani90 commented on #5373
@leonardder is this issue still occuring with NVDA 2020.1 RC?

[2020-05-02 15:14] Adriani90 commented on #5371
No updates since years and this issue is too broadly formulated. No chance to track down exactly what's going on without contributions from the initial author or other people having this problem. Thus, if someone still has performance problems, please open a new issuewith exact steps to reproduce.
Closing as abandoned.

[2020-05-02 15:14] #5371 closed

[2020-05-02 15:23] Adriani90 commented on #5687
I think this can now be more easily achieved through the custom retrieval of the status bar.
cc: @josephsl, @JulienCochuyt

[2020-05-02 15:25] Adriani90 commented on #5674
This could also be a candidate for custom status bars. cc: @josephsl, @JulienCochuyt

[2020-05-02 15:31] Adriani90 commented on #5545
@k-kolev1985 could you please give an update on this? Do you still see this issue?

[2020-05-02 15:40] ruifontes commented on #11085
Yes, I agree.

I only pointed that already exists two add-ons doing that...

Any person can go there and get the code to include in NVDA core...

Rui Fontes

Às 08:36 de 02/05/2020, Akash Kakkar escreveu:

[2020-05-02 15:46] ruifontes commented on #11085
Sorry, but please stop saying things that you can not assume as facts...

Do you know how many users are using NVDAExtensionGlobalPlugin?

If you know, please tell us...

I can afirm you that are a big percentage of users in Portugal using
that add-on...

Do not pass the basic review don't say anything about the quality of the
add-on nor if it is widelly used or not...

It means only that the revi

[2020-05-02 15:47] Adriani90 commented on #8955
there are lots of ways to geht back to your point, you could for example turn off the setting "navigator follows the system focus". IN that way the navigator will stay at the point where you have switched it off. (i.e. read the text until word number 350, turn off navigator follows system focus, go to your edit field and edit something, then use the numlock to read the text at the navigator. You w

[2020-05-02 15:58] Adriani90 commented on #5177
I cannot reproduce this in a document with 241531 characters in NVDA alpha-20097,6a573cd9. Tested in MS Word 2010 and MS Word 365. Closing as works for me, but please feel free to comment in case you are still having this issue and we can reopen the discussion.

[2020-05-02 15:58] #5177 closed

[2020-05-02 16:00] akash07k commented on #11085
Yes,
But I again checked just now but ScreenRapping addon has the last commit from 2018.
It means that it is not python3 compattible?
Also, if it gets included in core NVDA, then it will make the life easier of many people. :-)

[2020-05-02 16:01] Adriani90 commented on #5805
In case this issue is meant to occur in browse mode, this is a duplicate of #5463. Closing as duplicate. Please correct me if I missunderstood this issue and we can reopen. Thanks.

[2020-05-02 16:01] #5805 closed

[2020-05-02 16:01] akash07k commented on #11085
Hey Rui,
Actually here in India, most of the people are not even aware about both of these addons and I too wasn't.
When you suggested it to me on previous issue, then only I came to know about it. :(

[2020-05-02 16:02] leonardder commented on #2836
I think visual studio code with its powershell extension is a much better choice to do powerShell coding.

[2020-05-02 16:06] leonardder commented on #5660
I'm tempted to close this again. The issue is too broad. Many windows store apps are electron apps or even win32 apps nowadays. What do you think @josephsl?

[2020-05-02 16:07] leonardder commented on #5373
We're no longer using epydoc.

[2020-05-02 16:07] #5373 closed

[2020-05-02 16:09] leonardder commented on #11056
I'm strongly opinionated towards blocking this by #8679.

[2020-05-02 16:10] leonardder commented on #6800
blocked by #8679

[2020-05-02 16:25] leonardder commented on #11086
I have the feeling that the "Expand To Computer Braille for the Word at the Cursor" option is severely broken. It is most likely that this is a liblouis issue.

cc @Andre9642

[2020-05-02 16:27] leonardder commented on #4014
liblouis/liblouis#598 is fixed, so closing this one. If the problem persists, it needs a fix in liblouis anyway, so there's nothing we can do about it from the NVDA side.

[2020-05-02 16:27] #4014 closed

[2020-05-02 16:34] feerrenrut commented on #11056
Yep, agreed. Also added #8679 to the Python 3.8 project.

[2020-05-02 16:46] feerrenrut commented on #6751
devDocs builds for me. I can't see any error in the log file. I assume that it was being skipped, perhaps scons decided it was already built. Since there hasn't been updates in a long time I'll close this issue.

[2020-05-02 16:46] #6751 closed

[2020-05-02 16:52] leonardder commented on #11063
@trichview Nice that you're reaching out to us. I'm not sure whether your request to map these to edit is valid, as the edit window class seems to be used by plain text edit controls, like notepad. Rather, what [version of rich edit](https://docs.microsoft.com/en-us/windows/win32/controls/about-rich-edit-controls#versions-of-rich-edit) have you implemented in your controls?

[2020-05-02 17:05] feerrenrut commented on #11085
Please keep the discussion on topic. GitHub issues become very hard to read when there is a serious off topic replies. It is acceptable to mention add-ons that attempt to fix an issue being raised, it's also OK to point out if these add-ons don't solve the problem for everyone, though ideally this would have been acknowledged in the first message. This is particularly frustrating when this almost

[2020-05-02 17:27] feerrenrut commented on #6800
Blocked by? Shouldn't this be fixed when #8679 is fixed?

[2020-05-02 17:29] josephsl commented on #2696
Hi, for Espeak and liblouis, one must update dependencies before generating try builds or pull request builds. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, May 2, 2020 1:46 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Create snapshot branch built with svn espeak/liblouis (#2696)

Is this actually n

[2020-05-02 17:30] feerrenrut commented on #11086
Considering a p1 regression, assuming that I understand @leonardder correctly, this was likely introduced by "Update liblouis to 3.13.0 #10832"

[2020-05-02 17:32] k-kolev1985 commented on #5545
@Adriani90 If you mean the main issue with NVDA reporting only part of the input method name - no, I can't remember observing it recently.

[2020-05-02 17:35] akash07k commented on #11085
Sure Reef

On 5/2/20, Reef Turner <notifications@github.com> wrote:

[2020-05-02 17:37] josephsl commented on #2998
Hi,

The only experience I have with on-screen PC keyboards is touch keyboard in Windows 8 and later. If this can be addressed with an add-on, the correct add-on would be Enhanced Touch Gestures.

On Windows 8 and later, provided that one is using touch keyboard, one way to prevent (or minimize) this issue is turning off touch typing (available from touch interaction category provided that the com

[2020-05-02 17:47] Adriani90 commented on #5545
yes, thank you for reporting back. I am closing this issue for now as works for me. If someone still has this issue, he or she can comment on this and we can reopen. Thanks.

[2020-05-02 17:47] #5545 closed

[2020-05-02 17:57] Adriani90 commented on #6145
This has changed meanwhile, the list is accessible now also with object navigation and with arrow keys as usual but you have to press tab twice to skip the list and then shift+tab to go back to the list.
Testing with NVDA alpha-20097,6a573cd9 in MS Word 365 last update.

[2020-05-02 18:01] Adriani90 commented on #6142
While navigating through the smarart diagram, I get following error in the log:
[code]

[2020-05-02 18:09] Adriani90 commented on #6098
No updates since years, I am closing as works for me. Please cooment on this if you are still having this problem and we can reopen. Thanks.

[2020-05-02 18:09] #6098 closed

[2020-05-02 18:13] trichview commented on #11063
Our controls do not use any richedits, it is written from scratch. They implement Windows messages (like WM_GETTEXT or EM_LINEINDEX) in a way compatible with standard plain text Edit control. Since NVDA is not interested in text formatting or pictures, it's enough reading text aloud.

[2020-05-02 18:16] josephsl commented on #11064
Hi,

Ah, makes more sense. In this case, I think @LeonardDer is in the best position to take a look at this more thoroughly (I don't use VS Code at this time).

Thanks.

[2020-05-02 18:17] Adriani90 commented on #6076
@mjanusauskas now with NVDA last alpha and Chrome 81 the issue is not occuring. NVDA reports the same things like in Firefox 75.
Can you confirm?

[2020-05-02 18:19] Adriani90 commented on #6069
I am closing this issue, it seems it is not reproducible anymore. Please comment on it if you are still having it and we can reopen. Thanks.

[2020-05-02 18:19] #6069 closed

[2020-05-02 18:25] Adriani90 commented on #10047
Closing this issue. We can discuss further questions on gitter if required.

[2020-05-02 18:25] #10047 closed

[2020-05-02 18:29] josephsl commented on #5687
Hi,

A bit tricky, but might be possible. Two things stand on our way:

* Ever-changing nature of Word 365.
* Status bar texts are different across different parts of Word.

To achieve this, winword.AppModule._get_statusBar must detect and return appropriate status bar object based on which part of Word a user is interacting with (document, various dialogs, etc.).

Thanks.

[2020-05-02 18:30] Adriani90 commented on #9765
This is still an issue. The button does not expand the menu in browse mode in Firefox. In Crhome you have to press multiple times enter and sometimes the menu expands but you need to be very very patient :-).
@jcsteh, @MarcoZehe maybe you have some hints at least for Firefox?
It might also be bad web authoring. cc: @aleventhal

[2020-05-02 18:39] Adriani90 commented on #9307
This button is in browse mode at the top when using Chromium browsers. I think something is not correct here, the button can reached only in focus mode when trying this in Firefox.
cc: @jcsteh, @MarcoZehe

[2020-05-02 18:43] Adriani90 commented on #8808
This works correctly now in Chrome 81 with NVDA alpha-20097,6a573cd9. Closing as works for me.

[2020-05-02 18:43] #8808 closed

[2020-05-02 18:45] Adriani90 commented on #9045
@btman16 maybe the emoji dialog was still in focus, this might have been a bug in Windows 10. Can you reproduce this in NVDA 2020.1 RC1 and Windows 10 1909 Update?

[2020-05-02 18:47] josephsl commented on #5660
Hi, some are progressive web apps (PWA’s) where a combination of browse and focus modes are desirable. Besides that, one way to force browse mode (or rather, turn off browse mode forcefully) is telling an app module to enable/disable browse mode for an app. Since it is really up to app developers to specify which frameworks they are going to use, I think it would be best to leave it up to them (cl

[2020-05-02 18:47] #5660 closed

[2020-05-02 18:52] josephsl commented on #6800
Hi, no wonder why NVDA appears to respond slowly under wxPython 4.1.0 if a modal dialog (such as NVDA’s own About dialog) is active. Blocks #11056 due to #8679.

From: Leonard de Ruijter <notifications@github.com>
Sent: Saturday, May 2, 2020 9:11 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Modal dialog blocks core if Ca

[2020-05-02 18:53] Adriani90 commented on #8784
This is reproducible as follows:
1. Open Firefox and GMail
2. Open more messages from a conversation
3. Press alt+left arrow and alt+right arrow multiple times
Actual: NVDA will report the page title only when you reach the main page, but not when switching between messages with alt+right arrow and alt+left arrow. Pressing nvda+t will show you that the window title has changed.
This is also reprod

[2020-05-02 18:54] Adriani90 commented on #8684
@jacobchawala could you please test now with NVDA 2020 RC1 and the last stable versions of the browsers? Is this still occuring?

[2020-05-02 19:09] Adriani90 commented on #8556
Browse mode is now supported with NVDA, chants can be accessed as well as audio messages. It is true that some buttons are not labeled, but this needs to be reported to whatsapp developers.
You can also navigate the messages in focus mode and pressing the context menu key on a message will open its context menu including all the options like archiving, forwarding etc.
For other issues, please cont

[2020-05-02 19:09] #8556 closed

[2020-05-02 19:16] Adriani90 commented on #8211
Definitely Google Chrome and Firefox there have been several fixes in the last two releases with regard to accessibility. Could you test in Chrome 81 and Firefox 75?
I see some comtypes errors in Chrome while navigating with arrow keys in browse mode, but it doesn't switch to focus mode very often when pressing quick navigation keys.
Imo this is really hard to investigate but it might be related t

[2020-05-02 19:17] Adriani90 commented on #7767
No update on this since years and we don't have a minimal test case. Closing as abandoned, but feel free to comment on it and we can reopen.

[2020-05-02 19:17] #7767 closed

[2020-05-02 19:26] Adriani90 commented on #7141
Solved now, it works correctly in NVDA alpha-20097,6a573cd9 and Firefox 75. Closing as works for me.

[2020-05-02 19:26] #7141 closed

[2020-05-02 19:32] Adriani90 commented on #6566
@fernando-jose-silva are you still seeing this issue? I cannot reproduce it with NVDA 2020.1 RC1. If I set NVDA to start with Windows and on logon screens, NVDA reports "please wait, updates x" etc. Can you confirm?

[2020-05-02 19:37] Adriani90 commented on #6256
This works as expected in Windows 10 1909 Update with NVDA alpha-20097,6a573cd9. Closing as works for me.

[2020-05-02 19:37] #6256 closed

[2020-05-02 19:51] Adriani90 commented on #6238
This works now as expected in NVDA's last alpha and the news app as well as many other apps. Object navigation works properly and I can also navigate news by arrow keys or table navigation with ctrl+alt+arrow keys. When pressing enter on a news article, I can read it in browse mode like any other website.
Closing as works for me.

[2020-05-02 19:51] #6238 closed

[2020-05-02 19:59] Adriani90 commented on #6076
I am closing as works for me, but please comment on it if you are still having this issue and we can reopen. Thanks.

[2020-05-02 19:59] #6076 closed

[2020-05-02 20:04] Adriani90 commented on #4270
Given the low impact of this issue and the workaround described above, I am closing this issue.

[2020-05-02 20:04] #4270 closed

[2020-05-02 20:07] Adriani90 commented on #6755
Cannot reproduce with NVDA alpha-20097,6a573cd9, Crhome 81 and Firefox 75. Closing as works for me. Please comment on it if you are still having this issue and we can reopen. Thanks.

[2020-05-02 20:07] #6755 closed

[2020-05-02 20:21] Adriani90 commented on #6245
Now the entries are not repeated anymore, even without Win10 Apps addon it works correctly. However there is another issue with the task manager. NVDA crashes when I open the task manager via ctrl+alt+del on Windows 10 1909 Update.

[2020-05-02 20:23] Adriani90 commented on #6245
NVDA crashes completely and I get following error, cc: @feerrenrut
[code]

NVDA alpha-20097,6a573cd9

[2020-05-02 20:26] btman16 commented on #9045
Hi,

In that configuration, I can't reproduce it right now.

I wonder if it had to do with some custom group policy or something,
as it was on a college machine with many custom policies and
configurations set.

Thanks,

Brandon

On 5/2/20, Adriani90 <notifications@github.com> wrote:

--
“Be what you are. This is the first step towards becoming better than you are.”
– J. C. Hare & A. W. Hare

[2020-05-02 20:26] lukaszgo1 commented on #6245
@Adriani90 Have you tested with all add-ons disabled? There was a similar issue with Columns review a while back.

[2020-05-02 20:38] Adriani90 commented on #6245
Oh thanks for the hint, Tested with columns review disabled and the error does not occur. NVDA does not crash. However, now after a restart the issue is still as described here initially , NVDA repeats the entries in the list three times and it is somehow sluggish in the task manager.
cc: @ABuffEr

[2020-05-02 20:41] Adriani90 commented on #9045
I cannot imagine that group policies could have caused this, maybe rather a customized windows version or something like that. Anyway, let's close this issue for now as works for me and if it appears again we can reopen. Thanks for reporting.

[2020-05-02 20:41] #9045 closed

[2020-05-02 21:53] DrSooom commented on #8193
#### Another suggestion:
- NVDA+Shift+H: Enable/Disable headline level limitation
- NVDA+Shift+L: Enable/Disable list level limitation
- NVDA+Shift+I: Enable/Disable list item level limitation
- 7 to 9 and Shift+7 to Shift+9: Jump to the next/previous list item located at list level 1 to 3.

#### Notes:
- The default behaviors for (Shift+)H, (Shift+)L, (Shift+)I and (Shift+)1 to (Shift+)6 aren't c

[2020-05-02 22:02] XLTechie commented on #11085
@Adriani90 wrote:

    It would be useful to be able to wrap the focus from the last element to the first one or vice versa on the web page when pressing two times the
    corresponding quick navigation key. I.e. when I press t or shift+t for tables and NVDA says "no next table" or "no previous table", pressing t or shift+t
    twice takes me to the first or last table on the page.

I agree with t

[2020-05-02 22:15] XLTechie commented on #11085
Which, of course, is the whole problem with "unofficial" add-ons. And the reason
why extremely basic functions like this one, shouldn't require the use of
unofficial add-ons.

[2020-05-02 22:15] DrSooom commented on #11089
@alexbernier: Please tell us the used Windows, Microsoft Office and NVDA languages as well as the used braille display. Thanks.

[2020-05-02 22:18] fernando-jose-silva commented on #6566
Nvda reports the percentage of the update, however after reaching 100% nvda does not inform you to enter the user's password, and does not read the login window.
The user can only assume that he can press any key to enter the password because the update has reached 100%, but it is a deduction, since nvda does not automatically announce the login screen.
Sometimes windows informs 100% the update is

[2020-05-02 22:26] fernando-jose-silva commented on #5376
I no longer have this problem.
Thank you.

[2020-05-02 22:27] Qchristensen commented on #7396
Looking at a document now, NVDA does report highlighting as a text change colour (Bright yellow background) for me in Office 365 Version: 16.0.12730.20236 and NVDA 2020.1rc1.  I'm not sure when this changed.

One way to find highlighted text is:
1. Open the advanced find dialog.  Press control+h.
2. Press alt+m for "More" options
3. Press alt+o for forma, then h for highlight.
4. Press ENTER to fi

[2020-05-02 22:27] XLTechie commented on #11085
Reef, my apologies for contributing to the off-topic part of this. For some
reason Github did not forward your comment in email, so I did not see it except
as part of Akash Kakkar's response.
Feel free to hide any of my messages on this thread.

[2020-05-02 23:01] DrSooom commented on #11086
See also: Issue liblouis/liblouis#869

[2020-05-03 00:58] JulienCochuyt commented on #11071
@feerrenrut,
I couldn't find any mention of translators comments in the Developer Guide.
I updated the [Contributing wiki page](https://github.com/nvaccess/nvda/wiki/Contributing) with the example of PR #10941 (maybe not the most straight-forward example, though...)

`tests/lint/readme.md` would probably also benefit from an update on that matter.

[2020-05-03 04:13] amirsol81 commented on #8471
Tested with the latest alpha and its still duplicable. The important point here is that if you have the NVDAExtensionGlobalPlugin installed, and "No object description inWindows ribbons" checked in NVDAMenu>Preferences>NVDA global commands extension...>Settings>Computer, the twice reading of the navigation pain items is no longer reproducible. As I'm using this add-on and it provides a fix for the

[2020-05-03 04:22] josephsl commented on #8471
Hi, don’t tell me these are UIA objects… If they are, this isn’t the first time we are seeing UIA server implementation issues (name and description properties are the same). Thanks.

From: amirsol81 <notifications@github.com>
Sent: Saturday, May 2, 2020 9:14 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re:

[2020-05-03 07:19] ABuffEr commented on #6245
Hi all,
I fixed ColumnsReview issue some builds ago (disabling it in task manager), please update from download link in [its Github page.](https://github.com/abuffer/columnsReview)

[2020-05-03 07:40] nishimotz commented on #2776
Setup:
* Windows 10 (1909) x64 Japanese
* NVDA 2020.1rc1
* Microsoft OneCore voice (Japanese)
* Microsoft Japanese IME

What happens in this case is the same as what I reported in the beginning.

I will see what happens with the Windows 10 version 2004 modern input method.
If it's a small issue I'll write about it here, but I'll probably write about a more serious situation in issue #10093.

[2020-05-03 07:48] zstanecic commented on #11086
I don’t recommend to downgrade liblouis.

Report this issue to the liblouis project.

Thanks,

Zvonimir

From: Reef Turner <notifications@github.com>
Sent: Saturday, May 2, 2020 7:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Dot 7 Being Added to Capital Letters in "Unified English Braille Code Grade 2" table (#11086)

[2020-05-03 08:04] alexbernier commented on #11089
Windows, Word and NVDA are in French.

The braille display is an HandyTech EasyBraille 40 connected via USB.

[2020-05-03 09:45] Adriani90 opened #11094 "Powerpoint: editing text in placeholders is broken in NVDA alpha-20097,6a573cd9"
### Steps to reproduce:
1. Open Powerpoint 365, 2016 or 2010
2. With NVDA running, press tab until you hear "title placeholder"
3. Press enter and type "hello"
4. Press arrow keys, enter or delete key

### Actual behavior:
You cannot navigate the text at all, NVDA throws errors. Only using backspace to delete the text will tell you what you have written.
Following error is in the log:
[code]

###

[2020-05-03 09:57] Adriani90 commented on #11094
Thanks very much Bill for the turbo reaction :-)

[2020-05-03 10:05] Adriani90 commented on #6304
@mohammad-suliman are you available to test this? I think VS 2015 is not really used anymore. But this issue might occur on newer VS versions as well.

[2020-05-03 10:12] Adriani90 commented on #6297
when pressing down arrow on the elements list radio button region to choose annotations, I face a 10 seconds delay and get following error (UIA for MS Word is disabled):

[code]

[2020-05-03 10:16] Adriani90 commented on #6273
@leonardder is this probably a can't fix?

[2020-05-03 10:25] Adriani90 commented on #6263
This works correctly in Windows 10 1909 Update with NVDA alpha 20097,6a573cd9. Closing as works for me.

[2020-05-03 10:25] #6263 closed

[2020-05-03 10:34] Adriani90 commented on #10460
this is being investigated by the TB team apparently, closing this in favor of #10975.

[2020-05-03 10:34] #10460 closed

[2020-05-03 10:43] Adriani90 commented on #10400
This works as expected now in Thunderbird 68.7 with NVDA alpha 20097,6a573cd9 even if reporting of tables is disabled in the document formatting settings. Closing as works for me. However, please comment on this if you still have the issue with this setup adn we can reopen. Thanks.

[2020-05-03 10:43] #10400 closed

[2020-05-03 10:47] Adriani90 commented on #9500
@RD-Brown the website is not working anymore. could you please try to create a minimal test case or provide another example to reproduce?

[2020-05-03 10:49] Adriani90 commented on #9215
No updates on this since long time, I guess the issue has been solved now by the translators. If not, please contact them via the translators mailing list. Closing this for now.

[2020-05-03 10:49] #9215 closed

[2020-05-03 10:59] Adriani90 commented on #8383
@k-kolev1985 I am testing with last Alpha in Windows 10 1909 Update, there are no errors. I can navigate the lsit with arrow keys or ctrl+alt+arrow keys. However the part with strange numbers and letters before the location name is read although it is not recognized by OCR. So that means it is actually not visible. However, this seems part of the object model, you can check with object navigation.

[2020-05-03 11:01] Adriani90 commented on #8368
@k-kolev1985 can you reproduce this with NVDA 2020.1 RC1 and Windows 10 1909 Update?

[2020-05-03 11:03] Adriani90 commented on #8202
cc: @josephsl this is still an issue, also in Windows 10 1909 Update with NVDA 2020.1 RC1

[2020-05-03 11:07] Adriani90 commented on #8093
This is reproducible in windows security on Windows 10 1909 Update.

[2020-05-03 11:15] Adriani90 commented on #7827
@josephsl did you investigate on this further?

[2020-05-03 11:20] Adriani90 commented on #6443
@fernando-jose-silva how would an user describe the image if he or she cannot see it? You can interact with it in object navigation, routing the mouse to it and pressing right click. Then you can apply the description in some browsers. However, I think sighted people can properly interact with it, but most blind people would not need this.
I am closing this issue as per comments above, the consens

[2020-05-03 11:20] #6443 closed

[2020-05-03 11:33] Adriani90 commented on #8278
Duplicate of #6273. Closing.

[2020-05-03 11:33] #8278 closed

[2020-05-03 11:35] Adriani90 commented on #6134
This is reproducible in all MS Word versions.

[2020-05-03 11:36] k-kolev1985 commented on #8383
@Adriani90 Yes, I can report it to Microsoft, but more technical details about this from more knowledgeable people would be welcome, so the report is more valid. Because now the problem occurs with NVDA, but not with Narrator and based on that Microsoft may say that the problem is in NVDA and not in Windows. But if I report it with more technical details as proof, it will be harder for them to rej

[2020-05-03 11:37] Adriani90 commented on #4596
Closing in favor of #6134 which contains more broader discussion.

[2020-05-03 11:37] #4596 closed

[2020-05-03 11:39] Adriani90 commented on #6273
I am closing this in favor of #6134 which contains a broader discussion.

[2020-05-03 11:39] #6273 closed

[2020-05-03 11:40] Adriani90 commented on #8804
@k-kolev1985 how is this now with NVDA 2020.1 RC1 and the last version of the Zoom client?

[2020-05-03 11:43] Adriani90 commented on #8383
maybe @josephsl can help here with some technical details for this issue.

[2020-05-03 11:44] k-kolev1985 commented on #8368
@Adriani90 I can reproduce it with the latest alpha build of NVDA that I use as my daily screen reader.

[2020-05-03 12:14] JulienCochuyt commented on #11083
I could reproduce this behavior with no screen reader running.
Selection by paragraph in multi-line text fields seems broken in recent Firefox.
I guess we can close this ticket.
Can someone please check that the Firefox team has been informed of the situation?

[2020-05-03 12:22] JulienCochuyt commented on #10829
+1 for integrating this feature in NVDA as an optional behavior.
It would certainly increase the experience of the less tech-aware users.
Note however that I could find some wireless audio devices for which the strategy adopted by the Bluetooth Audio add-on is not enough to prevent the device from going to sleep. These might require some kind of "modulated-pseudo-silence" (if this wording makes an

[2020-05-03 12:24] k-kolev1985 commented on #7827
@Adriani90 I'm not @josephsl, but I'll reply, since I have some information on the matter. @josephsl did indeed work on this and now NVDA speaks the cards and decks in Microsoft Solitaire Collection with the help of the "Windows 10 App Essentials" add-on. And thanks to @josephsl for doing this - it is much appreciated! 😊

[2020-05-03 12:26] JulienCochuyt commented on #10846
This behavior is not specific to Explorer - Run dialog.
It is reproducible in any single line text field.
Please amend the title of this ticket for clarity.
(And yes, of course, I fully agree this is annoying and should be fixed.)

[2020-05-03 12:31] k-kolev1985 commented on #8804
@Adriani90 The problem is the same - tested with the latest version of the Zoom client and the last NVDA alpha build.

[2020-05-03 13:01] Adriani90 commented on #10917
This is a duplicate of #8804 which talks about more edit fields in Zoom. It might be a displaymodel specific issue.
I am closing this as duplicate.

[2020-05-03 13:01] #10917 closed

[2020-05-03 14:14] amirsol81 opened #11096 "NVDA displays headings and the text after them on one line when Screen Layout is turned off"
### Steps to reproduce:
1. First, make sure Screen Layout is turned off or unchecked. It can be done via Insert+V quickly.
2. Go to https://www.merriam-webster.com/dictionary/procrustean
3. Find the level-2 heading on the page which says: "Examples of procrustean in a Sentence". It is the 4th heading from the top.
4. If you use H and Shift+H to reach the heading, it is properly read as "Examples o

[2020-05-03 14:19] amirsol81 commented on #11096
I forgot to mention that JAWS works properly here -- if it makes any difference.

[2020-05-03 14:32] JulienCochuyt opened #11097 "Flake8 checks do not include nvda.pyw nor sconscript files"
### Steps to reproduce:

Edit `nvda.pyw` or any `sconscript` file, introducing an intentional linting error.
Run `scons lint`

### Actual behavior:

No error is reported.

### Expected behavior:

The errors should be reported.

### System configuration
#### NVDA installed/portable/running from source:

Building source

#### NVDA version:

Any since the introduction of Flake8 integration.

#### Win

[2020-05-03 14:38] amirsol81 opened #11098 "Problem reading the last line of multi-line edit boxes"
### Steps to reproduce:
1. This can be duplicated with all multi-line edit boxes, but for an example please go to https://www.gsmarena.com/postreviewcomment.php3?idReview=2108
2. Locate the 3rd edit box on the page which is a multi-line edit box with the following label: "Your comment edit multi line".
3. We need at least two lines of text here, and the last or second line should be blank. So plea

[2020-05-03 14:39] amirsol81 commented on #11098
The issues described above can also be duplicated with the Comment multi-line edit box on Github.

[2020-05-03 14:51] Adriani90 commented on #6200
This is still an issue, it seems NVDA reports some symbols code in front of every message when navigating with up and down arrow through the message history.
For example
+0000000003E7E0E8
and then the time stamp followed by the message.
This seems to occur only on IRC accounts, not on Facebook ro so. I think this might be specific to IRC formatting styles.
cc: @codeofdusk

[2020-05-03 14:53] Adriani90 commented on #6155
Is it not possible to implement an overlay dialog like in MS Excel which can be accessed with shift+f2 or so?

[2020-05-03 14:56] Adriani90 commented on #2519
Actually Miranda IM is discontinued since 2018 and is replaced by Minranda NG. Thus, closing this issue as wont fix.

[2020-05-03 14:56] #2519 closed

[2020-05-03 15:05] Adriani90 commented on #11096
Related issue is #11073.

[2020-05-03 15:06] Adriani90 commented on #11098
Confirmed here, it is only occuring in Chromium browsers.
cc: @aleventhal

[2020-05-03 15:10] amirsol81 commented on #11096
Issue #11073 which I reported a couple of days ago affects links and can be duplicated universally, everywhere, and is browser-independent. This one affects headings, pops up here and there rather infrequently, and apparently doesn't affect Internet Explorer.

[2020-05-03 20:31] Adriani90 commented on #6459
I get following error in MS Excel 365, the issue is also that the items are not read by NVDA:

[code]

[2020-05-03 20:33] Adriani90 commented on #6452
@Qchristensen testing now with last NVDA alpha in MS Excel 365, I have the same experience as described in #6459. Do you think this is a duplicate?

[2020-05-03 20:47] Adriani90 commented on #6365
I think the best is to create an issue directly to the addon at
https://github.com/nvaccess/NVSpeechPlayer
So I am closing this one since NVDA uses eSpeak NG already.

[2020-05-03 20:47] #6365 closed

[2020-05-03 20:49] Adriani90 commented on #6364
The website is not working anymore, it requests login. @surfer0627 could you please post another example?

[2020-05-03 20:57] Adriani90 commented on #6565
I think this feature should be provided by a third party tool, i.e. the tools mentioned by @jmuheim and @mrazzari. Otherwise we end up in long discussions about security and vulnerabilities cause by NVDA displaying the keys. I know that technically this security problem exists anyway, but most people in corporate environments would become even more reluctant to NVDA, especially if they don't have

[2020-05-03 21:24] SeanTolstoyevski commented on #11061
Hi NVDA Team, I hope you are fine.

I shared Issue on Espeak.
There is no problem in Espeak.
But I can't be sure about this because Espeak pauses between the lines.
NVDA skips between the lines and voices like a straight line.
Additionally, the problem is felt more when Boost on is active. So sounds are cracking more.
I know almost nothing about Espeak and synthesizer. My knowledge is very little.

[2020-05-03 21:30] Adriani90 commented on #6750
@Qchristensen I cannot reproduce this anymore with NVDA alpha-20097,6a573cd9 on Woindows 10 1909 Update. Can you confirm?

[2020-05-03 21:58] lukaszgo1 commented on #6750
Even if it is fixed under W 10 1909 It still does not work for older versions of Windows. I've looked briefly and it seems fixable - I'll probably look into this after #11006 would  no longer apply.

[2020-05-04 00:28] Qchristensen opened #11100 "Incorrect count of item in HTML UL list containing a nested list"
### Steps to reproduce:

Create a HTML nested list, eg:

<UL>
	<LI>List item 1</LI>
	<LI>List item 2</LI>
	<UL>
		<LI>Sub-list item 1</LI>
		<LI>Sub-list item 2</LI>
	</UL>
	<LI>List item 3</LI>
</UL>

Display in browser and navigate

### Actual behavior:

In both Firefox 75 and Chrome 81.0.4044.129, NVDA reads the main list as "List with four items".  The nested sub-list is correctly identified a

[2020-05-04 00:32] Qchristensen commented on #11100
Note that issue #8103 is still present but separate to this issue.

[2020-05-04 00:39] Qchristensen opened #11101 "Incorrect count of HTML Description lists"
### Steps to reproduce:

Create a HTML description list:

<dl>
	<dt>Test term 1</dt>
		<dd>Test definition</dd>
	<dt>test term 2</dt>
		<dd>test definition 2.1</dd>
		<dd>test definition 2.2</dd>
</dl>

Display in browser and navigate.

### Actual behavior:

In both Firefox 75 and Chrome 81.0.4044.129, NVDA reads the main list as "List with five items"

### Expected behavior:

Likely related to #1

[2020-05-04 01:39] surfer0627 commented on #6364
Hi,
Please try this link: (continue_without_login)
https://contact-cc.line.me/en/?continue_without_login=true

(Here the case is that user perhaps do not know the text "Your device" can be activated.)

Thanks.

[2020-05-04 01:40] andrew-l-d commented on #8955
I fear I did not explain the situation I am thinking of clearly.  I am reading through a document having used NVDA-a (laptop mode).  I press the control key at a point I want to read more carefully.  Instead of placing the cursor at that point, it is placed at the beginning of the line.  It is then necessary to move along the line word at a time to get to the point of interest.  Compare that behav

[2020-05-04 05:54] leonardder commented on #11101
I believe this is a duplicate of #3858, which is broader in scope.

[2020-05-04 05:59] leonardder commented on #11086
I'm also not very fond on the idea to downgrade liblouis just for this.

[2020-05-04 06:02] Qchristensen commented on #11101
You are correct Leonard, sorry I searched for Description list, which is the term W3 uses on the page I was reading.  Description list and Definition list seem to be interchangeable in many places and I should have looked for Definition list as well (FWIW, Definition list seems to lend itself better to the standard use case given for these tags).  I'll close this issue.

[2020-05-04 06:02] #11101 closed

[2020-05-04 06:31] behofer commented on #11070
@feerrenrut Sure. I disabled brailleExtender addon. But, unfortunately, it still occurs.
Here's the log from today:
[nvda-old-20200504.log](https://github.com/nvaccess/nvda/files/4573029/nvda-old-20200504.log)

[2020-05-04 06:36] behofer commented on #11070
@feerrenrut What just came to my mind: If it's dependent on language settings, could it be related to charset/encoding? In German, we have some special characters (ü, ä, ...) like many other languages. Just an idea, you may have checked this anyway.

[2020-05-04 07:01] #11097 closed

[2020-05-04 07:12] #11094 closed

[2020-05-04 07:23] amirsol81 commented on #11096
Another example -- please check the 4th heading which says "Examples of draconian in a Sentence": https://www.merriam-webster.com/dictionary/draconian

[2020-05-04 07:32] amirsol81 commented on #11100
It's duplicable here with Internet Explorer version 11.00.19041.1. Quite interestingly, IE 11 also says "List unavailable with 4 items". The word "unavailable" is also announced for the sublist.
"List with three items and one nested list" sounds reasonable.

[2020-05-04 07:41] Brian1Gaff commented on #11098
This strange effect has been going on for some time, however does it
actually miss reading a line at all, for me it tends to repeat the last line
as if its in a buffer somewhere.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-04 07:51] akash07k opened #11102 "Reversed reading order of control types and label/text in browse mode with or without quick keys as well as Productivity degrading announcement of "out of link", "out of list" etc."
### Steps to reproduce:
1. start NVDA,
2. Open any of the browser and browse/open any webpage.
3. Try navigating to headings, links, buttons etc using quick keys and observe the behaviour.
4. Now try navigating/reading the webpage without quick keys using arrow keys in browse mode and observe the behaviour with headings, links, buttons etc.

### Actual behavior:
When we navigate in browse mode usi

[2020-05-04 07:58] leonardder commented on #11102
I think it is safe to treat this as a duplicate of #7232. The description of this issue also seem to describe multiple issues, not just one single issue. Could you open a new issue for:

Along with steps to reproduce?

[2020-05-04 07:58] #11102 closed

[2020-05-04 08:24] akash07k commented on #7232
thanks @leonardder  for pointing me to this issue. So, any possibility whether it is going to be implemented soon or not?
If no, then any expert who can develop an addon for this? I'm even ready to pay..

[2020-05-04 08:33] akash07k opened #11103 "NVDA announces "Article" before every article while browsing the articles via quick keys"
### Steps to reproduce:
1. Start NVDA
2. Open a web page containing the articles (Such as twitter or mbasic.facebook.com), and (If required) go to NVDA input gestures settings and asign the reading of the next and previous article on a quick key.
3. Turn on the reporting of the articles from NVDA document formatting settings.
4. Now navigate on the web page via quick key which you have just asigne

[2020-05-04 08:34] akash07k commented on #11102
https://github.com/nvaccess/nvda/issues/11103
Also, can we please reopen this issue so that it gets visibility and can be taken into consideration?

Hi @leonardder I've logged the issue and below is the link:

[2020-05-04 08:36] isidorn commented on #11064
@feerrenrut I do not mind. Thanks for looking into this!

[2020-05-04 08:37] akash07k commented on #7232
I've logged one more issue which requests to implement this:
https://github.com/nvaccess/nvda/issues/11102

[2020-05-04 09:09] Andre9642 commented on #11064
If anyone is interested, I've started to wrote my add-on for VSCode. I tried to improve the experience with the status bar
=> https://github.com/Andre9642/NVDA-VSCode

[2020-05-04 09:31] leonardder commented on #11102
If a duplicate, we always close the duplicates so only one stays open for the backlog not to get too messy. We'll continue in #7232.

[2020-05-04 09:33] leonardder commented on #11103
As the implementer of article, I think I did this on purpose, as this is also the behavior for ARIA landmarks. If you navigate a page with d, for example, you will also hear the landmark announced first.

I however agree that for article, at least those without a label (and I think hardly any have one), this should be changed.

[2020-05-04 09:38] leonardder commented on #11103
This requires a change in speech.getControlFieldSpeech, the speakContentFirst variable. Marking as good for new dev.

[2020-05-04 09:47] JulienCochuyt opened #11104 "Help localization of NVDA in new languages by adding the missing translators comments"
NVDA is localized (translated in 70 languages) using GNU gettext.

From [NVDA wiki Contributing / Translatable Strings](https://github.com/nvaccess/nvda/wiki/Contributing#translatable-strings):

For new contributions, this obligation is ensured by the `checkPot` test.
Still, there are dozens of translatable strings that lack such a comment in code contributed before the creation of this test.

A c

[2020-05-04 11:13] Adriani90 commented on #11103
However, given the amount of quick navigation keys which can be reassigned, Users, especially beginners, might forget at some point which key is for which element if this is not reported. You can disable the reporting of articles in document formatting settings and still use the quick navigation key which you assigned. Or is this not working?

[2020-05-04 11:40] akash07k commented on #11103
You're right bro, but if we turn off the article reporting, then let's say we are navigating via arrow keys, then too we won't be able to know whether we landed on an article. :(

[2020-05-04 11:41] akash07k commented on #11103
Wow, what's this label? name looks interesting though.

[2020-05-04 11:49] akash07k commented on #11103
Yes, people don't define the name/labels for the nearely all the articles. so for the unnamed articles, it can be changed.

[2020-05-04 11:49] JulienCochuyt commented on #11103
@leonardder wrote:

I agree. If ever an article has a label, your first implemented behavior is preferable, notably as it helps discriminate the label from the content.
When there is no label (vast majority of cases), I guess "article" could be omitted altogether when (and only when) using quick nav by article.
[offtopic] Once again, I'd really prefer a default gesture be assigned to this quick na

[2020-05-04 11:53] akash07k commented on #11102
Ok bro

On 5/4/20, Leonard de Ruijter <notifications@github.com> wrote:

[2020-05-04 14:19] rpearce commented on #9153
I'm experiencing the same thing with NVDA with or without the hidden aspect in latest Edge (at least). For example, the `Read more` link on https://awkawk.github.io/aria-describedby_link.html (from https://www.w3.org/WAI/GL/wiki/Using_aria-describedby_for_link_purpose_-_May_2014), doesn't narrate the `aria-describedby` unless you tab to the link.

[2020-05-04 15:05] sthibaul opened #11105 "Integrating Orca's symbol translations?"
Hello,

On the Linux side, we are working on making the symbols processing more coherent, basically basing on the NVDA tables so we can have shared open-source effort there on fixes and translations.

There are a few symbols that Orca currently translates which are not yet in the NVDA tables, such as □, ○, ◆, ✗, ¼, ½, ¾, ⁰, ⁴, etc. with a lot of available language translations. I can easily work o

[2020-05-04 15:07] #11080 closed

[2020-05-04 15:28] harishreddykanakanaka opened #11106 "NVDA is reading the whole content of the modal-dialog along with Title of the dialog"
### Steps to reproduce:
Open the link: "https://ireade.github.io/accessible-modal-dialog/"
Open NVDA and navigate to the hamburger icon then press/click the button.

### Actual behavior:
NVDA is reading the whole content of the modal-dialog along with Title of the dialog
### Expected behavior:
NVDA should read only the title of the dialog.

### System configuration
RAM: 16GB
Storage: 1TB Hard disk

[2020-05-04 15:29] #11071 closed

[2020-05-04 15:52] sthibaul opened #11107 "Adding support for group matches in complexSymbols?"
Hello,

In e.g. `source/locale/fr/symbols.dic`, we have

[code]

so as to remove dots from the dates. This is relatively complex, and could be much better written with matching groups:

[code]

It would allow to write more easily such rules like:

[code]

etc.

I would be just a few lines more in _regexpRepl to perform the group replacement, I can work on it if the principle is Ok? (basically it m

[2020-05-04 16:40] feerrenrut commented on #11085
third press (once to invoke the message, twice after the message). And what does
it say the second time, since it already said to press twice?

This would work in the same way as our other double press gestures. If some time passes and the user forgets they are already at the last item, they shouldn't be surprised by wrapping to the start. Whether the user pushes twice, or once and then twice real

[2020-05-04 17:01] leonardder commented on #10954
I've finally been able to grab a log of this. Really looks like NVDA is unable to find a sound device and seems to be there too early. [nvda.log.txt](https://github.com/nvaccess/nvda/files/4576041/nvda.log.txt)

[2020-05-04 17:33] lukaszgo1 commented on #10954
Just an idea, would it be possible to catch initialization error and then retry a few times in a row with some delay between attempts?

[2020-05-04 17:34] leonardder commented on #11106
Your assumption is incorrect. NVDA reads:
[code]

As the `description goes here` is attached to the dialog using aria-describedby, the description is read automatically. NVDA can be configured not to do so by disabling object description reporting in NVDA's object presentation settings.

Also note that hamburger menu's really should be implemented with modal dialogs like this.

[2020-05-04 17:34] #11106 closed

[2020-05-04 17:38] leonardder commented on #11105
Interesting suggestion. You'd have to add them to the English symbols only and they would be automatically provided to be translated.

[2020-05-04 17:40] leonardder commented on #9153
@Adriani90 your example is incorrect. aria-describedby should contain the id of another html element that contains the description, not the description itself.

[2020-05-04 17:42] leonardder commented on #11096
It would help to have details about how this looks for a sighted person.

[2020-05-04 17:44] ruifontes commented on #11105
But if they are already translated, why asking the translators to translate again?
If the translations are placed in the respective locale, it will be only a question of review...

[2020-05-04 17:52] sthibaul commented on #11105
Ok, that's what I was wondering about, whether just committing the changes in locale/*/symbols.dic will work with the translation workflow.

[2020-05-04 18:04] lukaszgo1 commented on #11105
No, it would not. Translations are for now managed through SVN, so it is not as simple as that.

[2020-05-04 18:10] sthibaul commented on #11105
Ok, I see the symbols.dic files in http://subversion.assembla.com/svn/screenReaderTranslations , should I then produce a patch against these?

I can adapt my script, I just need to know what makes it easiest to integrate :)

[2020-05-04 19:02] josephsl commented on #11105
Hi, I believe some of them are already part of NVDA – whatever the English symbols file contains, that will be the version translators will get. What will make it a bit harder is if some languages have these symbols translated, in which case NVDA and Orca translators must be willing to collaborate to unify their work. Thanks.

From: Samuel Thibault <notifications@github.com>
Sent: Monday, May 4, 2

[2020-05-04 19:04] rpearce commented on #9153
His `aria-describedby` is `opens-in-new-window`, and the ID of the `<span>` is `id="opens-in-new-window"`, so I think that checks out.

[2020-05-04 19:17] leonardder commented on #10829
I believe this is going to be fixed by #11024

[2020-05-04 19:26] Adriani90 commented on #8955
I think I understand now what you mean. I think the feature requested here is to stop speech and resume it while navigating through the document, i.e. something like an advanced function of the shift key.
There could be two options for this:
1. Via speech refactor, to create a separate speech function which can stop and resume the speech while allowing for navigation (i.e. press ctrl+shift stops t

[2020-05-04 19:31] Adriani90 commented on #11070
I am on german as well, but not able to reproduce. I don't think this is language specific, I am using Outlook also in romanian and we have also some crazy charsets. Which version of Outlook do you have exactly? Could you please try to update the Outlook 365 in the files ribbon > office account > update options > search for updates?

[2020-05-04 19:34] Adriani90 commented on #11070
Another idea, could you please test this without braille display? It seems you are using a Friedom Scientific Focus braille display and this might contribute to this issue.
cc: @bramd, @leonardder maybe you have some thoughts for this as well?

[2020-05-04 19:34] leonardder commented on #11105
Indeed, the problem is unification. NVDA always aimed at the shortest possible translation, hence the word bang and not explanation mark for `!`, question (not question mark) for `?`. Does Orca also follow this pattern?

[2020-05-04 19:44] Adriani90 commented on #11103
@akash07k if you are using arrow key to navigate, I guess the "article" reporting is not important since you are looking for the content of the article. Most articles have also a heading or a link atribute as well. So actually the article atribute is meant only to really boost efficiency while navigating on a website by a quick navigation key. It's only my opinion, but I think reporting of article

[2020-05-04 19:49] josephsl commented on #11104
Hi, note that some of them will involve creating multiple translator comments for the same string (I expect pgettext might mitigate it somewhat as it can provide contextual comments). For past precedence, see #1410 (nvdakor is me). Thanks.

From: Julien Cochuyt <notifications@github.com>
Sent: Monday, May 4, 2020 2:48 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@norepl

[2020-05-04 19:56] leonardder commented on #9153
Ugh, I'm sorry. Really should have checked that with a braille display.

[2020-05-04 19:57] sthibaul commented on #11105
I can filter them out, that's not a problem.

Orca has the same kind of users, so the same habits, yes :)

But anyway, we can inject the symbols for which there is currently nothing in NVDA, that will be better than nothing, and translators will be able to fine-tune afterwards if they want.

[2020-05-04 20:02] josephsl commented on #11105
Hi, I think the best way forward is committing to locale/en/symbols.dic. That way translators can look at differences and translate accordingly. Still, I believe we need to have a conversation between two projects, especially between translators working on these projects so we can come up with a unified approach. Thanks.

From: Samuel Thibault <notifications@github.com>
Sent: Monday, May 4, 2020 1

[2020-05-04 20:06] zstanecic commented on #11105
I don’t want to communicate with the Croatian orca translator, as he thinks that he knows better which comes to the accessibility terms.

And yes, I don’t plan to take over my responsibilities as involved in the project to anyone, unitl I declare so that it is needed.

There is one contributor which translated gnome and orca, he gave a good suggestions,

But the person with whom I don’t want to co

[2020-05-04 20:09] josephsl commented on #11105
Hi, for now it involves symbols – we shall see what happens next at the appropriate time. Thanks.

From: zstanecic <notifications@github.com>
Sent: Monday, May 4, 2020 1:07 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Integrating Orca's symbol translations? (#11105)

I don’t want to comm

[2020-05-04 20:12] amirsol81 commented on #11096
Good point. As a visually impaired person, all I know is that JAWS works properly in this context on all browsers, and NVDA does it right in Internet Explorer not Chrome -- don't know about Firefox.

[2020-05-04 20:13] zstanecic commented on #11105
Sorry, but i am against this.

We should listen to our language communities.

We had a biggest innovation in the croatian translation, even we refined the symbols which we had.

The problem is that we worked hard, me and user which the handle on assembla is milotype.

Now I don’t want this to go just nowhere.

We’ve set up the strict glossary convention and users are happy with this translation wh

[2020-05-04 20:18] josephsl commented on #11105
Hi, I think this strengthens the proposal that a commit to English symbols would suffice, as translators can choose to translate new symbols if needed. Thanks.

From: zstanecic <notifications@github.com>
Sent: Monday, May 4, 2020 1:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Integrat

[2020-05-04 20:23] lukaszgo1 commented on #11105
@sthibaul wrote:

I don't think so. While the Orca's user's might have similar needs the translation is being managed quite differently. Last time when I looked translations were done as part of Gnome project. This in itself would not be bad except the fact that the people behind translations are not, for the most part, using screen readers themselves. The Polish translation for example is IMO har

[2020-05-04 20:27] Adriani90 commented on #10954
#6566 could be related.

[2020-05-04 20:29] zstanecic commented on #11105
And yep,

Polish translations are too long, I am speaking about orca.

Croatian translations are long too.

Bear in mind that NVDA is also used at workplaces, in the corporate environments and universities, and that our translations should be accurate, even the symbols, respectively.

And one more fact: NVDA is built in into the esytime braille computer, produced by eurobraille, so we should make

[2020-05-04 20:32] zstanecic commented on #11105
Note: The same thing i am applying for polish, in agreement with other NVDA polish translators.

From: Łukasz Golonka <notifications@github.com>
Sent: Monday, May 4, 2020 10:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Integrating Orca's symbol translations? (#11105)

@sthibaul <https:/

[2020-05-04 20:33] Adriani90 commented on #10829
Actually, I am closing this as duplicate of #5172. This behavior could be the default, an optional setting for this is in my view not needed, this is usually done automatically by other screenreaders like jaws for example. But the exact implementation of this can be discussed further in #11024.

[2020-05-04 20:33] #10829 closed

[2020-05-04 21:08] Adriani90 commented on #6835
cc: @codeofdusk

[2020-05-04 21:41] sthibaul commented on #11105
Ok, I understand that we probably don't want to just commit the translations outright. I was just thinking it'd be a bit sad not to try to take benefit from them.

Instead I can produce one patch per language, put them somewhere for translators to have a look at, and let them take what they like?

[2020-05-04 21:42] Adriani90 commented on #6990
@PratikP1 could you please test with last NVDA alpha if this is still an issue? As metioned, I still cannot reproduce it. Since we don't have updates on this since years, I am thinking to close this as abandoned and works for me.

[2020-05-04 21:45] josephsl commented on #11105
Hi, no need for per-language patch, as this is done as part of translations workflow. Thanks,.

From: Samuel Thibault <notifications@github.com>
Sent: Monday, May 4, 2020 2:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Integrating Orca's symbol translations? (#11105)

Ok, I understand

[2020-05-04 21:47] Adriani90 commented on #6970
@zstanecic are you still available to test with last NVDA alpha if this issue is still significant? I should have been improved alot meanwhile.

[2020-05-04 21:48] sthibaul commented on #11105
I mean, for providing the Orca translations, that translators can take if they like them.

[2020-05-04 21:50] josephsl commented on #11105
Hi, I see. I think a better venue for discussing this would be NVDA translations mailing list (groups.io/g/nvda-translations). Thanks.

From: Samuel Thibault <notifications@github.com>
Sent: Monday, May 4, 2020 2:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Integrating Orca's symbol t

[2020-05-04 21:55] Adriani90 commented on #6929
I think this is related to administrator rights, since you cannot enable this option without Administrator rights. However, I didn't hear similar reports from users in several mailing lists during last years and we don't have an update from the initial author since years. Closing as abandoned. But please feel free to comment on this issue in case it still occurs and we can reopen. Thanks.

[2020-05-04 21:55] #6929 closed

[2020-05-04 23:17] jcsteh commented on #11083
I can reproduce this, but as far as I know, this isn't a regression. I can reproduce it as far as back as Firefox 60. My guess is that Firefox just doesn't support the idea of paragraphs at all.

[2020-05-04 23:17] donnie-msft opened #11109 "NVDA becomes sluggish with WPF TreeView UIAutomation Events"
Hi, I work on the [Microsoft Visual Studio IDE](https://visualstudio.microsoft.com/vs/), specifically the NuGet Package Manager ([repo](https://github.com/nuget/nuget.client)), which is our custom Master-Detail control ([WPF control](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml)). Our control has performance problems w

[2020-05-04 23:23] josephsl commented on #11109
CC @LeonardDer, @JCSTeh

From: donnie-msft <notifications@github.com>
Sent: Monday, May 4, 2020 4:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA becomes sluggish with WPF TreeView UIAutomation Events (#11109)

Hi, I work on the Microsoft Visual Studio IDE <https://visualstudio.microsoft.com/vs/> , specifically the NuGe

[2020-05-04 23:27] jcsteh commented on #8784
Gmail is a single page application. So, when you go back, you aren't actually loading a new web page; behind the scenes, the page just gets updated. That means NVDA doesn't see this as a new document.

That said, Gmail is doing the right thing here (and browsers are honouring that). It focuses the heading of the message when you go back or forward. The problem is that NVDA ignores this because the

[2020-05-04 23:32] jcsteh commented on #8895
Fixed in Firefox 77.

[2020-05-04 23:32] #8895 closed

[2020-05-04 23:38] jcsteh commented on #9307
The button reports as having a width and height of 0, which NVDA treats as invisible. This is not just Firefox a11y: the Javascript clientWidth and clientHeight properties also report 0.

[2020-05-04 23:44] jcsteh commented on #9765
This works as expected for me in Firefox with NVDA's default setting of switching to focus mode for focus changes. Focus mode is how menus like these are intended to be navigated, so I don't really see this as a bug. For what it's worth, this Gmail menu is kinda weird and renders only one item at a time, and it also gets rendered as a child of the button.

[2020-05-05 03:03] a2hsh opened #11111 "Text inside a <code> HTML element Is Not Readable In Google Chrome"
### Issue Description:
When encountering a code element inside another interactive element in Google Chrome, NVDA skips reading what is inside the code element.
This issue accured in Google chrome, it did not accure in Firefox.

### Steps to reproduce:
In Google Chrome, Go to any web page that has a code element inside another interactive element -A link for example-, [This guide on SQLAlchemy wou

[2020-05-05 03:52] amirsol81 commented on #11073
This works fine with Firefox. So the issue affects Chrome/Internet Explorer.

[2020-05-05 03:53] amirsol81 commented on #11096
Also duplicable with the latest release of Firefox.

[2020-05-05 04:09] amirsol81 commented on #11073
So sorry, Firefox also has this issue. So, as I mentioned earlier, it can be duplicated globally regardless of the browser used.

[2020-05-05 04:28] PratikP1 commented on #6990
This is no longer a problem. The issue can be closed.

[2020-05-05 04:28] #6990 closed

[2020-05-05 05:45] akash07k commented on #11103
@Adriani90 Hmm, you are right, but, that way if we'll browse via arrow keys, then we won't be able to know that this page contains the articles at all.
For identifying that, we'll have to explicitly press the article navigation key so that we can know whether there are articles or not.
For example, on the getpocket.com site, every post/article is wrapped in article tag and they are not using any h

[2020-05-05 06:12] Oreonan opened #11112 "Folder view instead on desktop when slideshow is desktop background"
### Steps to reproduce:
-Go to personnalization settings on Windows, and choose a slideshow like desktop background
-Go to any window and after that press windows+m

### Actual behavior:
-NVDA say "Folderview list"
-More, when all windows are closed NVDA don't have automatically access to desktop, we must to press tab and maj+tab to hear "Folderview list"

### Expected behavior:
-NVDA say "desktop

[2020-05-05 06:47] leonardder commented on #10954
It could be that the screen from #6566 indeed pops up before the audio device is initialized.

[2020-05-05 06:57] leonardder commented on #11111
I tried this in the following browsers:

- MIcrosoft Edge stable (81)
- MIcrosoft Edge Canary (84)
- Google Chrome Canary (84)

It looks like in the latter two, this issue is fixed.

[2020-05-05 07:31] Adriani90 commented on #11103
@akash07k the quick navigation key that you assigned for articles will work regardless wether the reporting is on or off. So if reporting is off and you want to find out if there are articles, you just press the quick navigation key. If there are no articles, NVDA will say "no next article" or "no previous article". If there are articles, you will navigate one by one.
@leonardder in case you agree

[2020-05-05 07:36] Brian1Gaff commented on #11105
Which I changed to exclamation in all my versions as bang is not used in the
UK any more than number is for hash.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-05 08:26] lukaszgo1 commented on #8895
Given the fact that it is fixed can we reintroduce #8869?

[2020-05-05 08:35] jcsteh commented on #8895
As I understand it, this wasn't the only issue that caused #8869 to be reverted. However, several other issues have also been fixed since then. Probably a question for @MichaelDCurran.

[2020-05-05 08:35] CyrilleB79 commented on #11105
Just a question: is there some guideline or some common usage to decide which symbol is added in symbol.dic and which should not? Is there a big performance penalty to add many symbols?
I raise these questions because anyone may want to add more symbol, e.g. see #11015.

IMO when one asks new symbol inclusion, he/she should give a justification. For example:
* ¼ (one fourth): seems already support

[2020-05-05 08:47] akash07k commented on #11103
@Adriani90 No this is not right. I already know that article navigation quick keys work regardless of the article reporting on/off in document format settings.
I'm saying that if we'll turn off the article reporting from the document formatting settings then we'll not be able to know if there are articles on the page if we navigate via arrow keys and not via quick keys.
And if we'll turn it on the

[2020-05-05 09:00] Adriani90 commented on #11103
@akash07k I respectfully disagree. The user can easily find out if there are articles by pressing the quick navigatoin key, there is no need for pressing arrow keys to find out if there are articles. Given the workaround by turning off reporting and using quick navigation key, this is consistent with all other elements that you can choose from in the document formatting settings. Why should articl

[2020-05-05 09:08] akash07k commented on #11103
Ok. your wish.

On 5/5/20, Adriani90 <notifications@github.com> wrote:

[2020-05-05 09:09] akash07k commented on #11103
I don't agree with however.. but.....

On 5/5/20, Akash Kakkar <akash.galaxy07@gmail.com> wrote:

[2020-05-05 09:12] JulienCochuyt commented on #11103
@Adriani90 wrote:

I disagree. It depends on how the page you're browsing is structured and how much junk there is in between. Sure, quick nav by article is a solution once you know what you're looking for, but it is no replacement for the announce made during the "exploration phase". The options in the document formatting settings not only serve the needs of different people, but also the varying

[2020-05-05 09:17] akash07k commented on #11103
@JulienCochuyt Thanks. You explained it very well and I absolutely agree with your point.

[2020-05-05 09:19] akash07k commented on #11103
Yes @JulienCochuyt +1 on this.
Although this is off topic, but the verbosity/announcements as well as structural information should be customizable/configurable.

[2020-05-05 09:32] feerrenrut commented on #8955
Was the original request about say-all? I don't see it mentioned. Supporting pause-resume of say-all is one thing, but supporting this with speech in any situation is likely to encounter many more edge cases.

[2020-05-05 11:01] amirsol81 commented on #11082
Hi. Any idea as to when this issue will be fixed? It's effectively preventing me from installing and testing new alphas as I depend on the broken Foobar2000 time-oriented features.

[2020-05-05 11:46] andrew-l-d commented on #8955
Say-all is one situation where the feature would be useful.  But to raise the volume of alarm bells that Reef was hearing, it could also be useful when reading by line or sentence.

Andrew

[2020-05-05 12:11] fernando-jose-silva commented on #9765
I believe that for advanced users switching to focus mode is a logical thing.
 But I would like to point out that to explain to novice users that they have to go to focus mode to manipulate the menu controls, it is extremely difficult.

Enviado do meu iPhone

[2020-05-05 13:24] CyrilleB79 commented on #8955
Would this issue be fixed or at least linked with PR #9937?

[2020-05-05 13:51] Adriani90 commented on #8955
Unfortunately not completely, the main request is here that you can for example interact with edit fields and so on while stopping speech and resuming it on another point regardless of where the system focus is. That's why I thought a say all on the review cursor while not following the system focus would solve this issue. Because then the review cursor can scroll independently.
Then you could sto

[2020-05-05 14:21] MarcoZehe opened #11113 "In Google Sheets, navigator throws errors when examining the table structure"
### Steps to reproduce:

1. In Firefox, open https://sheets.google.com, log in if necessary.
2. Create a new sheet, for example based off of the Invoice Template under the General tab.
3. Once the spreadsheet opens, go to the Help menu and search for braille support. Make sure it is checked.
4. Press Escape to return focus to the spreadsheet and arrow around a bit.
5. Now, use the Object Navigator

[2020-05-05 15:05] CyrilleB79 commented on #8955
@Adriani90, I think @andrew-l-d's request was misunderstood. He did not speak about edit field, nor about resuming text reading.
Here is what I have understood:

STR:
* User exectute a text reading command, e.g SayAll (NVDA+DownArrow), read current line (NVDA+UpArrow) or Read next sentance in MS Word (Alt+DownArrow)
* While text is reading the user hears a word of interest (e.g. because there is a

[2020-05-05 15:24] feerrenrut commented on #11113
From the stack, it looks like it's an issue in braille. If you are able to disable the braille display and the error goes away and table navigation etc all works correctly with speech, then it's likely a bug in NVDA's braille code.

[2020-05-05 15:40] vinaychaudhary1504 opened #11114 "IE11 + NVDA - Entire Page Scrolls up and down when last/first value of drop down is selected"
### Steps to reproduce:

### Actual behavior:
Focus from drop-down is loosing and page is getting scroll up/down.

### Expected behavior:
Focus from drop-down should not loose and page shouldn't scroll up/down.

### System configuration
#### NVDA installed/portable/running from source: Installed

#### NVDA version: 2019.2

#### Windows version: 10

#### Name and version of other software in use wh

[2020-05-05 15:56] MarcoZehe commented on #11113
Hi @feerrenrut , this is confirmed a braille issue.

[2020-05-05 17:11] RD-Brown commented on #9500
@Adriani90  the new page is:  https://ref.testnav.com/client/index.html#login?username=LGN331402550&password=S8RZRK3F
In our tests, none of the graphics are recognized by NVDA the first time the item is viewed, but become available on subsequent viewings.

[2020-05-05 18:58] Adriani90 commented on #9500
@RD-Brown thank you for the updated example. Which Chrome version and which NVDA version do you have?
I tested now with Chrome 81 and NVDA alpha-20145,cdd37c72 and I cannot reproduce this issue. For me the graphic is recognized properly right at the beginning, I don't have to press next and previous. Could you test with these versions please?
The last NVDA alpha can be downloaded here:
https://www

[2020-05-05 19:23] Adriani90 commented on #7022
This works as expected with NVDA alpha-20145,cdd37c72 and the last version of the  Maps app from Microsoft which can be downloaded from the Windows Store. On many laptops this app is usually already installed when you buy the device.
In NVDA last alpha you can navigate to the list with tab and shift+tab and you can read each navigation step with arrow keys. You can also use object navigation. No n

[2020-05-05 19:23] #7022 closed

[2020-05-05 19:28] Adriani90 commented on #7065
@nishimotz how are your plans with the focus highlight addon? Are you still maintaining it? I guess since this feature is part of NVDA now, this addon is not needed anymore. Is it correct?

[2020-05-05 19:30] Adriani90 commented on #7051
We do not have any updates on this issues since years. I am closing this as abandoned. But don't hesitate to comment on this if you still have this issue and we can reopen. Thanks.

[2020-05-05 19:30] #7051 closed

[2020-05-05 19:40] Adriani90 commented on #7174
@surfer0627 how is this now with NVDA 2020.1 RC1 and Windows 10 1909 Update?

[2020-05-05 20:01] Adriani90 commented on #7233
I think this issue is about the automatic suggestions which appear in Notepad++ when entering code. But I am not sure if I understand this issue correctly.
cc: @DataTriny

[2020-05-05 20:04] Adriani90 commented on #7225
@travisroth how is this now in NVDA 2020.1 RC1 and Windows 10 1909 Update? Do you have the braille display tethered to review cursor or to system focus?

[2020-05-05 20:12] Adriani90 commented on #7529
@Cambridgeport90 a further reminder for this issue, could you please thest with NVDA 2020.1 RC1 if this issue is still occuring? Thanks.

[2020-05-05 20:35] Adriani90 commented on #7527
In Lone wolf 3.5 everything works correctly with NVDA last alpha. Closing as works for me.
Please comment on it if you are still having this issue and we can reopen. Thanks.

[2020-05-05 20:35] #7527 closed

[2020-05-05 20:37] Adriani90 commented on #7525
cc: @Andre9642,

[2020-05-05 20:39] Adriani90 commented on #7516
We don't have updates on this since years and there were many changes to Notepad++ since then. I am closing this as abandoned but feel free to comment on it if it is still an issue and we can reopen. Thanks.

[2020-05-05 20:39] #7516 closed

[2020-05-05 20:42] Adriani90 commented on #7502
I am closing this issue as abandoned. we do not have the requested information from the initial author and there have been several improvements regarding lags for One Core voices during last years. If you still have this issue, please open a new one and fill the template completely. Thanks.

[2020-05-05 20:42] #7502 closed

[2020-05-05 20:42] lukaszgo1 commented on #8563
Still reproducible with latest Notepad+ and latest NVDA Alpha

[2020-05-05 20:43] Adriani90 commented on #7466
Thanks for reporting back, I am closing as works for me.

[2020-05-05 20:43] #7466 closed

[2020-05-05 20:44] Adriani90 commented on #7454
No updates from the initial author on this issue since years. I am closing as abandoned. Feel free to comment on this if you are still having this issue and we can reopen. Thanks.

[2020-05-05 20:44] #7454 closed

[2020-05-05 20:55] bdorer opened #11115 "Report formatting changes after the cursor isn't working"
### Steps to reproduce:
1. Open a document or create one with different font atributes, left and right justified, colors, Line spacing.
2. activate Report formatting changes after the cursor.
3. Read the text using arrows.
### Actual behavior:
NVDA does not inform about the made changes in the document
### Expected behavior:
NVDA should tell changed font atributes and so on.
### System configurati

[2020-05-05 20:58] josephsl commented on #11115
Hi, it isn’t used in say all because there is no implementation for it, and the setting in question is meant to announce font changes as you use arrow keys to read text. Thanks.

From: Bernd Dorer <notifications@github.com>
Sent: Tuesday, May 5, 2020 1:56 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Report formatting changes

[2020-05-05 22:40] DrSooom commented on #8563
@lukaszgo1: You mean [Notepad++ 7.8.6](https://notepad-plus-plus.org/downloads/v7.8.6/) and [NVDA Alpha-20145](https://ci.appveyor.com/api/buildjobs/edqi0fa662c0go8y/artifacts/output/nvda_snapshot_alpha-20145,cdd37c72.exe), correct?

[2020-05-05 23:21] andrew-l-d commented on #8955
My initial suggestion did not involve edit fields etc.  The say-all moving the cursor by word would go a long way to achieving what I envisage.  Situation:  reading through a document and coming to a word I want to correct or check.  Hit control and the cursor is at that point rather than at the beginning of the line.
Andrew

[2020-05-05 23:21] gregjozk commented on #11105
As a slovenian translator of NVDA I will gladly cooperate with you and slovenian gnome/orca translator.

[2020-05-05 23:29] andrew-l-d commented on #8955
Sorry, I wrote the above before reading Cyrille's comments.  You have described exactly what I envisage.
Andrew

[2020-05-06 00:23] Cambridgeport90 commented on #7529
I can do that.

From: Adriani90 <notifications@github.com>
Sent: 05 May 2020 16:13
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Katherine Moss <kat8989@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA fails to read checked or unchecked in Server Manager while installing roles or features (#7529)

@Cambridgeport90<https://nam12.safelinks.protection.outlook.com

[2020-05-06 00:50] Qchristensen commented on #2183
Selecting text in browse mode selects the text (so you can copy it, for instance) but does not visually highlight it.

Switching to focus mode, selecting text (with shift+arrows or control+shift+arrows) does a very interesting thing:  It selects text, and highlights it visually, but NOT the text that NVDA was on.  (Sometimes it is above, sometimes it is below, I haven't worked out exactly why it m

[2020-05-06 00:58] nishimotz commented on #7065
Currently, my add-on is being used by people who need the old versions of NVDA.
People who want to customize the color and style of the highlights are also using my add-on, but I expect that these features will be implemented on the NVDA side eventually.
I will continue to do only the essential maintenance for this add-on.

[2020-05-06 01:12] Qchristensen commented on #7078
Trying the suggestion in #8925 (copying that long string of letters into the new issue template) does seem to result in the same behaviour yes, so it likely is the same cause.  I will close that issue and expand the description of this issue.

[2020-05-06 01:13] Qchristensen commented on #8925
As per https://github.com/nvaccess/nvda/issues/7078#issuecomment-619277941 This issue and #7078  appear to be the same issue.  I will close this issue, please move any further discussion to #7078.

[2020-05-06 01:13] #8925 closed

[2020-05-06 01:23] jcsteh commented on #9765
Novice users won't have disabled auto switching to focus mode, so they
don't have to switch to focus mode. NVDA will do it for them when
appropriate.

[2020-05-06 04:01] OzancanKaratas opened #11117 "Item numbers does not report correctly on IAccessible2"
### Steps to reproduce:
Start regedit.exe, and navigate the tree view.
### Actual behavior:
NVDA announces as 0 items everything.
### Expected behavior:
NVDA should be announced correctly the item numbers.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
2019.3.1
#### Windows version:
Windows 10 version 1909
#### Name and version of other soft

[2020-05-06 08:58] Andre9642 commented on #7525
I recommend to [open another issue on liblouis repository](https://github.com/liblouis/liblouis/issues/new). Indeed, it's not a bug on NVDA's side.
However, I'm trying to fix it and I can see that it's the same thing for other words beginning by 'after' or ending by 'friend' (e.g.: aftercare, afterlife, aftermath, befriend, ladyfriend, schoolfriend, etc.), is this correct? Sorry, I'm not an Englis

[2020-05-06 09:11] josephsl commented on #6769
Hi,

Now that #4640 is a reality, let's proceed with solution design. The solution is actually simpler than what Rui proposed earlier. There are two possible solutions:

1. Screen coordinates: if it is determined that File Explorer status bar text is located 3 percent to the right of the bottom-left corner (absolutely 3 percent to the right regardless of screen orientation, resolution, and DPI), t

[2020-05-06 09:21] zahra21 commented on #11096
hi.
i tested with nvda 2017.2 using firefox 52.9 esr, and did not reproduce the issue in both link for webster dictionary.
maybe a new bug in recent versions of browsers or screen reader!

[2020-05-06 10:15] zahra21 commented on #11117
hi.
do you use 64 bit of windows?
i read in some similar issues that this problem occures in 64 bit windows, because nvda is 32 bit application!

[2020-05-06 11:09] amirsol81 commented on #11096
IMHO NVDA 2017.2 and Firefox 52 are too old to be considered pro-valid testing points.

[2020-05-06 11:29] zahra21 commented on #11096
as i said:
i cant reproduce in nvda 2017.2 with firefox 52.
and i mentioned that its maybe a new issue in recent versions of
browsers or even nvda screen readers!
i only use windows xp and cant test with newer versions of firefox!

On 5/6/20, amirsol81 <notifications@github.com> wrote:

--
By God,
were I given all the seven heavens
with all they contain
in order that
I may disobey God
by depriving

[2020-05-06 11:36] leonardder commented on #11096
@zahra21, while I really appreciate your intention to help, @amirsol81 has a valid point. We can't consider testing data regarding NVDA 2017.2 and Firefox 52 as relevant for any issue unless explicitly asked for. Therefore, I'm afraid sharing this information isn't of any help. Could you please refrain from this?

[2020-05-06 13:05] #10959 closed

[2020-05-06 14:51] zahra21 commented on #11096
how about
if i can reproduce reported issue in my version of nvda or other programs?
i really wish to help, how can i help?
may i have your email address?
can you please send me email and i can be in contact with you via email?

On 5/6/20, Leonard de Ruijter <notifications@github.com> wrote:

--
By God,
were I given all the seven heavens
with all they contain
in order that
I may disobey God
by dep

[2020-05-06 15:49] eDADMSFTChristopher opened #11121 "The buttons "ask a question", "Report a question", "reply" are announced with additional text "Q&A property page"."
Bug Issue

The buttons "ask a question", "Report a question",   "reply" are announced with additional text "Q&A property   page".

Description | The buttons "ask a question"   ,"Report a question”, “reply Are not announced solely but the name and   control assigned to it , but with extra information as well.

Environment: https://testbashgallery.marketplace.vsts.io/testbash

Tools used
AzDev-Marke

[2020-05-06 17:07] lukaszgo1 commented on #11086
I don't think this has been introduced by LibLouis 3.13. According to the OP's initial commend  this has been the case in 2019.2 and 2019.3 as well.

[2020-05-06 17:14] lukaszgo1 commented on #10619
@feerrenrut May I ask why this one has been assigned a P1? It seems it only causes error sound to be played and there is no noticeable bad behavior for the user.
I've thought that P1 is reserved for severe crashes of either NVDA or other programs when accessed with it.

[2020-05-06 20:45] fisher729 commented on #11103
Hi.

I think consistency is taking a back seat in some cases where NVDA is concerned, which can be problematic.

I think, broadly, until such verbosity can be customised:
1. When using the arrow keys or otherwise, the type of control (link, button, checkbox, article, grouping) should be announced before the text.
2. When using quick navigation keys, the type of control (even landmarks, buttons, li

[2020-05-06 21:25] Adriani90 commented on #11103
@fisher729 what you describe is already the current behavior in NVDA.

I am sorry, I totally missunderstood this issue... Now after testing, it seems only articles has the behavior of being reported before the text. All other elements are reported after the text. I will hide my comments to make the discussion more focused. Sorry for the inconvenience.

[2020-05-06 21:38] jooyoungseo opened #11122 "Please support `data-at-shortcutkeys` attribute to bypass browse mode keys"
### Is your feature request related to a problem? Please describe.

This is not a problem. But I am just requesting consideration.

### Describe the solution you'd like

Given that some popular web services (e.g., FB; TW) now have implemented `data-at-shortcutkeys` attribute, I was wondering NVDA community could also consider adding a configuration option to support this attribute to bypass browse

[2020-05-06 21:55] josephsl commented on #11122
Hi, if talking about first letter navigation, it is already possible to bypass them: NVDA+Shift+Space. Thanks.

From: JooYoung Seo <notifications@github.com>
Sent: Wednesday, May 6, 2020 2:39 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Please support `data-at-shortcutkeys` attribute to bypass browse mode keys (#11122)

Is y

[2020-05-06 22:00] Adriani90 commented on #11121
This is also reproducible in Firefox. I cannot find something wrong here, it might be that in the java script code this is defined as a section and this is reported by NVDA as property page. at least this reporting sounds familiar to me from other Java web applications as well.
cc: @jcsteh maybe you have other findings here?

[2020-05-06 22:12] Adriani90 commented on #10975
Fixed in Thunderbird 68.8. Closing as works for me.

[2020-05-06 22:12] #10975 closed

[2020-05-06 22:13] Adriani90 commented on #10833
@CyrilleB79 are you still having this issue with last Alpha?

[2020-05-06 22:16] Adriani90 commented on #10297
@AlexandrKozlovskiy are you available to test if this is still occuring with the last alpha version of NVDA?

[2020-05-06 22:27] Adriani90 commented on #8910
I could also catch these errors while trying to close the styles dialog with escape:

[code]

If this is related to TextInfo, I think @leonardder has worked on a PR which might solve this but I am not sure which one it was.

[2020-05-06 22:45] Adriani90 commented on #8855
This works as expected in MS Office 365 MSO (16.0.12730.20144) 32-Bit with NVDA Version: alpha-20161,4e580290.
So you need to update your office (i.e. from Microsoft Word > File ribbon > Account > Update options).
Closing as works for me.

[2020-05-06 22:45] #8855 closed

[2020-05-06 22:53] Adriani90 commented on #11117
Closing as duplicate of #7041.

[2020-05-06 22:53] #11117 closed

[2020-05-06 22:57] Adriani90 commented on #11061
This might also be related to #7769.

[2020-05-06 23:01] Adriani90 commented on #7525
I also recommend to open an issue on Liblouis for this, there are certainly native speakers there who can help in solving this. Unfortunately I am not an expert in braille abbreviations at all, apart from some basic knowledge in german.
Let's continue the discussion on Liblouis, in case someone would like to create a new issue there. I am closing this for now, but please comment here with the link

[2020-05-06 23:01] #7525 closed

[2020-05-06 23:17] Adriani90 commented on #7065
Thanks for the reporting. I am closing this issue now and if the initial author still wants to have it in your addon, he or she can create an issue on the coresponding repo. Thanks.

[2020-05-06 23:17] #7065 closed

[2020-05-07 00:10] jooyoungseo commented on #11122
Thanks for letting me know. However, wouldn't this option disable all the NVDA single-letter navigation keys when toggled off?

JAWS only bypasses for those which conflict with its quick navigation keys when web developers have marked them up using `data-at-shortcutkeys` attribute.

I am cordially requesting a feature in JAWS like "Allow Web Application Reserved Keystrokes" to achieve this goal.

[2020-05-07 00:19] josephsl commented on #11122
Hi, yes, it’ll turn all first letter nav keys off. I think it would be better to see more use cases, particularly support from other screen readers, as doing so provides more justification for us to consider this once our backlog cycle is done. Thanks.

From: JooYoung Seo <notifications@github.com>
Sent: Wednesday, May 6, 2020 5:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <jos

[2020-05-07 00:41] jooyoungseo commented on #11122
Thank you very much for taking your valuable time to consider this request. Yes, that'd be greatly appreciated.

[2020-05-07 01:27] SeanTolstoyevski commented on #7769
Hi,

The performance issue here is not caused by insufficient RAM or low CPU ghz. In my opinion.

Virtual machines are not real machines. Most functions are imitated.
The function, which takes 0.100 seconds on your real machine, takes more time on a virtual machine. Because many things are not native.

Producing sound in the digital environment is difficult enough. Because it is more than software

[2020-05-07 07:26] CyrilleB79 commented on #10833
@Adriani90 no, as written in my previous comment, I can build and run correctly thanks to Joseph's comment.

However, this question remains unanswered:

There are two possibilities:
* If it is a bug, it should be fixed
* If it is intended, it should be documented, maybe in the README of NVDA where you find build instructions.

@josephsl could you comment further? Thanks.

I will update the issue t

[2020-05-07 07:29] josephsl commented on #10833
Hi, this is because SCons may not know about UIA COM interfaces files, so it removes them. I hope this can be resolved from SCons end by letting projects specify files to be kept when scons –clean is run. Thanks.

From: CyrilleB79 <notifications@github.com>
Sent: Thursday, May 7, 2020 12:27 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@

[2020-05-07 07:50] CyrilleB79 commented on #10833
I do not know anything of these UIA COM interfaces files and why it would be necessary to tell expliciely to scons to keep them (on contrary to other source files).

Anyway, what do you suggest for this issue? May we open an issue against scons about this. Or we may link it here if there is already an issue opened against scons. Also may we add an information in the readme in the mean time?

[2020-05-07 07:55] josephsl commented on #10833
Hi, I think filing a feature suggestion with SCons would be the best option, as it will benefit NVDA and other projects. Thanks.

From: CyrilleB79 <notifications@github.com>
Sent: Thursday, May 7, 2020 12:51 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] `scons --clean` deletes some files

[2020-05-07 08:43] DGartmann commented on #8804
Isn't this PR #8491  related to the issue? Just thought it could be an idea to mention it since it is where the appModule for Zoom is created and the appModule perhaps could be expanded to fix this issue?

[2020-05-07 08:54] Qchristensen commented on #10907
The other part of this behaviour I should notes is that while you can press, for instance spacebar to advance the slideshow, NVDA reports every slide as "end of slideshow".  So, even knowing the keys to start recording and move through the slideshow, this feature is not currently usable.

[2020-05-07 09:44] CyrilleB79 commented on #10833
Would you mind to fill this feature suggestion agains scons project? I am not able to describe them the issue.

Indeed, again, I do not know the specificity of the UIA COM interfaces files and why they are deleted by `scons --clean`when I would have expected all repo source file to be kept without any specific configuration for them.

[2020-05-07 12:43] mlegait opened #11123 ""Dialog" not announced if the modal is not part of the initial DOM"
### Steps to reproduce:
1. Open Firefox or Chrome
2. Browse https://codepen.io/mlegait/pen/eYpEWpz
3. With the keyboard, focus the button "Open Modal"
4. Press "Enter"

### Actual behavior:

"Hello" (aria-labelledby text) is announced.

### Expected behavior:

"Hello dialog" (aria-labelledby text + "dialog") should be announced. Otherwise, the user doesn't know that a modal as been opened.

### Sy

[2020-05-07 13:01] Neurrone opened #11124 "Word navigation hotkeys provide no spoken feedback in bash on windows 10"
###  Steps to reproduce:

1. With WSL 1 installed, type bash to launch it.
2. type the following: `apt-get python`
3. Press ctrl+a to move the cursor to the beginning of the line, ctrl+e to move to the end of the line. Also try typing alt+f and alt+b to move to the next and previous word respectively.

### Actual behavior:

NVDA doesn't say anything, making this navigation difficult to use and muc

[2020-05-07 15:03] Andre9642 commented on #10960
It seems that there are other signs more complexes.
E.g.: 1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣
0️⃣ *️⃣ #️⃣
3 braille cells per signs including U+FE0F and U+20E3 (variation selector-16) and combining enclosing keycap).

[2020-05-07 17:43] Adriani90 commented on #11124
cc: @codeofdusk

[2020-05-07 17:44] leonardder opened #11125 "Make winKernel / winUser type safe wrappers"
# Is your feature request related to a problem? Please describe.
NVDA is using many windows API functions that are c function and therefore require certain types as input / output parameters. Most of them can be found in the winKernel and winUser modules.
However, the functions we're using are merely wrappers of these functions, without checking what types we're passing at them and getting from th

[2020-05-07 17:50] Adriani90 commented on #11123
I cannot reproduce this with NVDA alpha-20161,4e580290 and firefox 76 or Chrome 81.
Could you please thest with these versions?
For me when I press enter on the button from browse mode or focus mode, NVDA reports "hello dialog, heading level 1 hello". If I enable "read page after load in browse mode settings, NVDA reports the whole content of the dialog.
But in any case, it reports hello dialog fi

[2020-05-07 18:04] christopherpross commented on #10692
Hey,
so a short question,
should the warning dialog also display on startup of nvda, if the screencurtain is permantently enabled and the warning dlg is activated? If so, have you an idea how to do this without breaking the rules of python (don't return out of an __init__) and without changing the visualprividers framerwork?
all the best,

[2020-05-07 18:07] Adriani90 commented on #8528
I can reproduce it with the steps in the description. The steps can be also much more simpler.
STR:
1. Open Firefox or Google with NVDA running
2. Using the default settings of nvda, press nvda+8 to turn off automatically set focus to focusable elements
3. Navigate to the website in description
4. Press tab and then enter on any of the link examples
Actual: NVDA does not trigger the links
Expected

[2020-05-07 18:28] vlad-a-c opened #11126 "the dll-s and the .h files are missing from the /extras/controller client"
###step to reproduce: i click on the /extras/controller client and i don't see anything besides the X86 directory which has only the examples.

[2020-05-07 18:29] Adriani90 commented on #7540
@Qchristensen how is this now with NVDA 2020.1 and the last update of Office 2016 or 365? I canot really reproduce this issue.

[2020-05-07 18:33] Adriani90 commented on #7507
@pleveris could you please give an update on how is this now with NVDA 2020.1 or 2019.3.1 and Windows 10 1909 Update? Do you still see this issue?

[2020-05-07 18:36] gregjozk opened #11127 "Update NSIS to latest stable version"
### Is your feature request related to a problem? Please describe.

During instalation of NVDA there is shown a text string called "Please wait, while setup is loading"; which is a part of NSIS, which is used by NVDA as instaler system. NVDA uses version according to its readme 2.51, where this string was not translated to Slovenian. in3.x stable this string and others have been translated, so NVD

[2020-05-07 18:43] Adriani90 commented on #7681
@Brian1Gaff if you still have this issue, have you checked how much space you have on your hard drive? This could occur when NVDA cannot write its log if there is no spache on the hard drive. Could you try to disable the log level completely and see if this issue still occurs?
You can disable the logging in the genneral settings, it's the last option in the combo box I think.

[2020-05-07 18:47] Adriani90 commented on #7674
@josephsl I think this pannel seems broken in Windows 10 1909 update. Is this on 2004 insiders broken as well? Testing with NVDA 2020.1.

[2020-05-07 18:48] gregjozk opened #11128 "Make possible during uninstal delete also user data (files and folders of NVDA in %appdata%\roming)"
### Is your feature request related to a problem? Please describe.

When NVDA is being uninstalled, it removes files and folders in c:\program files (x86) but leaves user data untouched. but sometimes user wants to remove NVDA completely from a system due to problems with current copy or other reasons.

### Describe the solution you'd like

during uninstal add a check box where user can choose whe

[2020-05-07 18:53] josephsl commented on #7674
Hi,

Version 2004 comes with a completely redesigned sign-in options screen, so steps noted above is out the window - no longer applies.

As for the original issue at hand: this happens because NVDA is not picking up descriptions for these UIA elements =- either because Microsoft did not expose them or NVDA is looking at wrong property. I'm wondering if UIA help text property might be the way to g

[2020-05-07 19:00] Adriani90 commented on #11128
Closing as duplicate of #6869

[2020-05-07 19:00] #11128 closed

[2020-05-07 19:00] josephsl commented on #7674
Hi,

Follow-up: it isn't broke - the new sign-in options screen was actually introduced in Version 1903, so the original comment no longer applies. Still, it is something we may need to look at when we get into UIA description work.

Thanks.

[2020-05-07 19:03] Adriani90 commented on #7665
We don't have updates on this issue since many years. I am closing as abandoned. Please comment on this if you are still having this issue and we can reopen it. Thanks.

[2020-05-07 19:03] #7665 closed

[2020-05-07 19:13] Adriani90 commented on #7842
Now in Chrome 81 also the audio player opens when pressing on the download button. I think this is a bad web authoring here. But I am not sure.
cc: @MarcoZehe and @aleventhal maybe you have some thoughts on this?

[2020-05-07 19:16] Adriani90 commented on #7827
@k-kolev1985 so does this mean you tested also without the addon and it is still not working properly?

[2020-05-07 19:21] Adriani90 commented on #7775
This is not appearing there anymore, you will just find the narator settings there. I guess Microsoft now wants to promote his own screen reader so it makes sense to exclude NVDA and other screen readers there. Note that you can still find NVDA on your desktop, quick launch area, start menu and what not. If you still like NVDA in that ease of access center, this is something which should be discus

[2020-05-07 19:21] #7775 closed

[2020-05-07 19:23] josephsl commented on #7827
Hi,

Technical: one needs to ask cards for localized control type, as it comes from XAML directly, not through usual UIA property channels. One general workaround is adding support for it as part of object.roleText, but we run into issues such as making sure a given uIA element returns actual localized control type, conflict between role as given by UIA and localized control type, among other issu

[2020-05-07 19:25] Adriani90 commented on #7905
I still believe a new interpunctuation level only for mathematical signs should be added to NVDA, could be defined in the symbols.dic for the coresponding symbol or in the symbols dialog.
There are unicodes especially for mathematical symbols, most of them however would be of no use for the average user. But for someone who is working often with mathematical content, this might make sense.
cc: @le

[2020-05-07 19:27] josephsl commented on #7775
Hi, actually, it does – you might be looking at Settings/Ease of Access, which does not include certain advanced settings from Control Panel (if you do open Control Panel/Ease of Access/ Use the computer without a display Screen, you’ll see NVDA listed). Closing as “works for me”. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 7, 2020 12:22 PM
To: nvaccess/nvda <nvda@norep

[2020-05-07 19:30] Adriani90 commented on #7899
Closing in favor of #3576 which even contains some code contributions for this feature.

[2020-05-07 19:30] #7899 closed

[2020-05-07 19:34] Adriani90 commented on #7983
@mreiser can you still reproduce this with NVDA 2020.1?

[2020-05-07 19:42] Adriani90 commented on #7933
Works as expected in Edge Chroumium 81. Closing as works for me and addint appropriate label since it could still be reproducible with the old edge spartan.
However, with Windows 10 2004 update the edge chromium will be distributed to most users.

[2020-05-07 19:42] #7933 closed

[2020-05-07 19:47] Adriani90 commented on #8056
cc: @jcsteh maybe some input would help here to start future work on this.

[2020-05-07 19:59] Adriani90 commented on #8389
I could catch another interesting error which caused focus loss but also some performance lag. I did following:
1. Open MS Word 365
2. Press ctrl+o to open a document
3. Go to browse...
4. Choose a file to open and press enter on it
5. Then press escape

Following happened in the log:

[code]

[2020-05-07 20:05] Adriani90 commented on #8017
This issue might probably be fixed by #11024. I think the discussion can be continued there or on #5172. I am closing this for now.

[2020-05-07 20:11] Adriani90 commented on #8154
This works as expected with NVDA 2020.1 and Windows 10 1909 Update. using the last version of the mail app. Closing as works for me. But please don't hesitate to comment on this if you are still having this issue and we can reopen. Thanks.

[2020-05-07 20:11] #8154 closed

[2020-05-07 20:15] Adriani90 commented on #8127
@hozosch, @novalis7747, @bdorer  could anyone of you please try to reproduce this issue? I don't have a braille display at hand unfortunately. Thanks.

[2020-05-07 20:17] Adriani90 commented on #8122
cc: @codeofdusk

[2020-05-07 20:18] Adriani90 commented on #8113
@fernando-jose-silva can you still reproduce this in issue with NVDA 2020.1?
cc: @Qchristensen, @feerrenrut since I don't have Office 2013 currently installed for testing.

[2020-05-07 20:19] Adriani90 commented on #8090
@josephsl I recal this has been already added. Or am I wrong?

[2020-05-07 20:32] josephsl commented on #8090
Hi, it has been added, although we need to do something about this in the future due to possible incompatibility when wxPython 4.1.0 work goes out (wxPython does not include ckb). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 7, 2020 1:20 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject

[2020-05-07 22:43] jcsteh commented on #8056
One major difference is that NVDA doesn't have a timeout before translating like iOS <= 10 did. It only translates when you end a word, not after, say, 2 seconds.

First of all, let's separate out this issue. If you're experiencing missing characters, this is not related to the way NVDA buffers words for braille input. To be clear, I'm not saying you're wrong; I'm saying this should be filed as a

[2020-05-08 00:41] Qchristensen commented on #8065
Has anyone looked at this lately?  We are still being asked about it (The issue is still present in NVDA 2020.1)

[2020-05-08 03:10] fernando-jose-silva commented on #8113
unfortunately I currently do not have a machine with Office 2013, and meetings accepted in the out look to test.

Enviado do meu iPhone

[2020-05-08 05:02] MarcoZehe commented on #7842
I can't reproduce.

[2020-05-08 05:09] MarcoZehe commented on #11123
Yes, I can reproduce this. When focus moves into the dialog and onto the document content, the fact that focus has traversed into an actual dialog is not announced. However, object navigator shows the parent of the heading to be a dialog with name "hello". NVDA should have announced that. CC @jcsteh

[2020-05-08 05:26] jcsteh commented on #11123
This is probably a duplicate; see
https://github.com/nvaccess/nvda/issues/9135#issuecomment-454567979

[2020-05-08 05:49] Andre9642 commented on #8127
I confirm the issue, but in another context.

STR:

1. Open Mozilla Thunderbird.
2. Create a new message.
3. Move the focus on the message body field.
4. Paste the following text (for example):

5. Put the cursor on the first line.
6. Use the Braille navigation keys to read the message.

Result: we can scroll until the second line only.

[2020-05-08 06:03] Andre9642 commented on #11126
Please read the instructions in [/extras/controller/readme.html](https://raw.githubusercontent.com/nvaccess/nvda/master/extras/controllerClient/readme.html).

[2020-05-08 06:29] leonardder commented on #11127
Closing as duplicate of #9134

[2020-05-08 06:29] #11127 closed

[2020-05-08 06:35] leonardder commented on #2890
It should be not too difficult to do this, see https://nsis.sourceforge.io/Check_whether_your_application_is_running
I'd go for the mutex approach. SInce NSIS isn't very hard to dive into and the reference is pretty neat, marking this as good for new dev.

[2020-05-08 06:38] leonardder commented on #11126
It looks like this url no longer works. Leaving this open until we have a proper url pointing at the controller client.

Cc @feerrenrut

[2020-05-08 07:49] feerrenrut commented on #11125
An example function:
https://github.com/nvaccess/nvda/blob/1cf36fbe2e0a7b40cccea707914fe575b92c54b6/source/winKernel.py#L77

Doing something like the following could resolve that:
https://github.com/nvaccess/nvda/blob/45cb098b2f6238ae875b42ee2f2b32b4912f2366/nvdaHelper/eventHandler/EventHandlerDllWrapper.py#L27

Taking this approach also means that we can attach docs to these functions. Getting ty

[2020-05-08 08:23] leonardder commented on #11125
How do you mean this reference? I wrote this function myself, but it still hasn't type checking at the ctypes level, so you're still allowed to throw things at that function that might break.

I will update the initial description with some additional examples and justifications.

[2020-05-08 08:35] leonardder commented on #11125
I'm not following how this example is supposed to work. getEventHandlerDll is supposed to return a EventHandlerDll instance, but it will return an instance of ctypes.CDLL. Probably better to discuss this in #10556, though.

I was more thinking about an approach like visionEnhancementProviders.screenCurtain.Magnification

[2020-05-08 08:47] hozosch commented on #8127
Same here. I can only confirm it in the context given by @Andre9642.

[2020-05-08 09:22] leonardder commented on #11125
I actually found a serious bug that's caused by this inaccurateness.

the return type of WaitForSingleObject is DWORD. If its value is `WAIT_FAILED = 0xffffffff`, the function raises a Windows Error. However, this is never the case, as the return type is set to its default, ctypes.c_int, which is unsigned. Therefore the result of WaitForSingleObject will never be treated as WAIT_FAILED at all, as

[2020-05-08 11:09] pleveris commented on #7507
Hello,
I think I can't reproduce this anymore in NVDA 2020.
Thanks.
Best regards,
Paulius

[2020-05-08 11:11] LeonarddeR opened #11129 "Change default configuration folder in registry"
# Is your feature request related to a problem? Please describe.
Currently, it is possible to override NVDA"s configuration folder using the "-c" parameter. This however does not work is NVDA is started from ease of access using the automatically start NVDA after logon checkbox in the general settings

### Describe the solution you'd like
Allow setting a config parameter in the user registry to ov

[2020-05-08 11:24] lukaszgo1 commented on #11129
I've been thinking about something similar for some time now however I would implement it differently and extend the implementation to other command line parameters.
To give some real-life examples:
- As an employer I don't want my employees to install and use add-ons, so I'd like to always   pass --disable-addons to the NVDA executable.
- As a user who is worried about my privacy I want to always

[2020-05-08 11:32] leonardder commented on #11129
Interesting idea. [ConfigArgParse](https://pypi.org/project/ConfigArgParse/) should be able to do this, though I'm not sure whether you can set inheritance order in there. It gives us a new ini parcer, may be an implementation based on configObj is nicer for us. Overall, I like the approach.

[2020-05-08 12:04] zersiax opened #11131 "Adobe Flash content no longer appears to read in NVDA"
### Steps to reproduce:
1. Load a page with at least somewhat accessible Flash Content in Internet Explorer or the new Microsoft Edge.
2. Press enter on the flash object.

### Actual behavior:
In Internet Explorer, chosen because it tends to support Flash by default, the only thing that happens is that the name of the object gets spoken after "embedded object". No focus change, the content of the

[2020-05-08 12:06] leonardder commented on #11131
Do you by any chance have a page to test with?

[2020-05-08 12:11] Neurrone commented on #11124
Forgot to add this happens both with and without UIA in console enabled.

[2020-05-08 12:13] Adriani90 commented on #8127
Personally, i think this is a quite severe issue at least for people using only braille display for the navigation.
cc: @bramd, @leonardder

[2020-05-08 12:17] Adriani90 commented on #7507
Thank you, I am closing this issue for now as works for me. Please feel free to comment on it if you still see this issue in the future and we can reopen it.

[2020-05-08 12:17] #7507 closed

[2020-05-08 12:18] codeofdusk commented on #11124
Yes, since NVDA doesn't know to check for caret movement in these cases.

We could possibly bind the Emacs-style (c-a/c-e, m-f/m-b, etc) keys to caret movement scripts in terminals. This could lead to unexpected results in terminal programs where those commands don't move the caret though. It also wouldn't detect any custom caret movement commands configured by users.

Auto select detection (or a

[2020-05-08 12:24] zersiax commented on #11131
I'm afraid not, the example I used is behind a login

[2020-05-08 12:24] Adriani90 commented on #6421
@feerrenrut do you think it is ok to close this issue now that #10885 is merged?

[2020-05-08 12:24] Neurrone commented on #11124
Updated issue title to reflect that this also happens when using ssh. This isn't a bash specific issue.

[2020-05-08 12:27] Adriani90 commented on #11131
Maybe this one
https://www.dhs.state.il.us/accessibility/tests/flash/video.html

[2020-05-08 12:30] Adriani90 commented on #11131
otherwise I saw this problem often in online webinars or online trainings. Many corporates still use old training material which works only with Flashplayer.

[2020-05-08 12:32] Neurrone commented on #11124
@codeofdusk how reliable would the auto selection detection approach you mentioned be? I like being able to configure that as well.

[2020-05-08 12:33] codeofdusk commented on #11124
Not sure if feasible, just an idea. Cc @leonardder.

[2020-05-08 12:33] feerrenrut commented on #6421
No, don't close this yet. The change in #10885 is not enabled by default, we hope to get wider testing to confirm this doesn't cause issues. If anyone can confirm it fixes this issue and comment that would be great.

The approach taken in #10885 is not what @jcsteh suggested here, and was developed before I was aware of this issue. @jcsteh if you have time, your feedback / testing of the (disabled

[2020-05-08 12:35] Neurrone commented on #11124
There's also the vi-style key bindings, I'm not sure how difficult it would be to account for that as well, since those are layered keystrokes. I don't think that is encountered as often though, since the emacs style ones are the default.

[2020-05-08 12:43] zersiax commented on #11131
Yup, that example exhibits the same symptoms here.

[2020-05-08 12:45] feerrenrut commented on #11125
How you describe it is how it's supposed to work. The type information is provided for IDE's and automatic type checkers. The types of `EventHandlerDll` and the returned `ctypes.CDLL` match. We could probably create an annotation that added these types to the CDLL methods automatically.

[2020-05-08 12:49] feerrenrut commented on #11125
I wanted to point to an example in the code base that does not have the types set.

It would b

[2020-05-08 12:50] codeofdusk commented on #11131
Flash will reach end of life (and will be removed from Windows) [on 31 December](https://docs.microsoft.com/en-us/lifecycle/announcements/adobe-flash-end-of-support).

[2020-05-08 13:37] feerrenrut opened #11132 "Say-all repeats some lines."
### Steps to reproduce:
Using `alpha-20175,9967903a ` or later.

1. Open #10885 with Chrome
1. Jump by heading with 'h' until you get to the heading "Description of how this pull request fixes the issue"
1. Start say-all (NVDA+down arrow)

The problem does not require changing the `Attempt to cancel speech for expired focus events` setting.

### Actual behavior:
After a few lines, the following is

[2020-05-08 13:46] feerrenrut commented on #11126
A zip of the latest builds of controller client are available from [appveyor](https://ci.appveyor.com/project/NVAccess/nvda/history):  Go to the build, then to artifacts then find `output\nvda_2020.1_controllerClient.zip`.

Here is a direct link to the build for [2020.1 controllerClient](https://ci.appveyor.com/api/buildjobs/fjrffle3i3g5ww4e/artifacts/output%2Fnvda_2020.1_controllerClient.zip)

[2020-05-08 13:54] leonardder commented on #11124
@codeofdusk auto select detection is already available in UIA consoles. Even then, feedback for caret movement is still based on scripts. What would you suggest to use autoselect detection for in this case?

[2020-05-08 14:02] leonardder commented on #11125
I think that would be required for runtime inspection as well. Creating a class only for a type checker to be satisfied feels a bit tricky to me.

[2020-05-08 14:04] leonardder commented on #11131
Does this mean that after the 31th of december, no browser will be able to access flash content at all? In that case, we can deprecate flash support and remove it from NVDA in 2021.1.

[2020-05-08 14:12] lukaszgo1 commented on #11131
This is a duplicate of #10565

The end of support for Flash in Windows means only that it cannot be used in iE or Edge, however it still would be possible to use it in FF or Chrome on a per site basis I believe. It is very important to have it fixed not only because it is a regression but also because some government sites at least in Poland still require it and it is quite unlikely to change in t

[2020-05-08 14:13] feerrenrut commented on #10692
While it probably would be safest to warn for every activation when the warning is enabled, it could be a lot of work, and I don't think it currently does this?

If you were to try to implement that, my suggestion is to investigate doing something like the following:
- move the current `__init__` code to an `_activate` method and an `_activateWithWarning` method
- then if the warning option is che

[2020-05-08 14:15] leonardder commented on #10565
Closing in favour of newer duplicate #11131.

[2020-05-08 14:15] #10565 closed

[2020-05-08 14:21] feerrenrut commented on #11125
It's just a way of specifying the type returned by the function. I'm not aware of another way to do it?

[2020-05-08 14:33] leonardder commented on #11125
How about the following approach I'd like to explore:

1. Define the functions as in [your example](https://github.com/nvaccess/nvda/blob/45cb098b2f6238ae875b42ee2f2b32b4912f2366/nvdaHelper/eventHandler/EventHandlerDllWrapper.py#L27)
2. Create a new ctypesHelper module
3. In that module, provide a decorator that does the following:

	* Discard the body of the decorated function, it will be empty

[2020-05-08 14:40] feerrenrut commented on #11125
Yep, that's what I had in mind, but not confident it is possible haha!

I'm not sure what you mean by this.

[2020-05-08 14:42] feerrenrut commented on #10619
Because I suspect its a quick fix, and until investigated it's hard to be sure that it isn't causing hard to detect problems.

[2020-05-08 15:39] derekriemer opened #11133 "NVDA won't focus new menu in Google Drive under Firefox if user is in browse mode"
### Steps to reproduce:

1. Load drive.google.com in Mozilla Firefox, 75 worked here.
2. press c, once the list of files appears. Note how NVDA kicks the user out of browse mode. Observe where focus is located.
3. Press escape. Force focus mode, and press c again.

### Actual behavior:

focus lands on the button, not on the menu that appears.

### Expected behavior:

Focus should move to the menu

[2020-05-08 18:03] Adriani90 commented on #11133
cc: @jcsteh

[2020-05-08 18:05] lukaszgo1 commented on #11131
It  seems to be depended on the Windows version in use. I am unable to reproduce in Internet Explorer 11 on Windows 7 x64, whereas on my Windows 10 1909 install with the same version of IE it is reproducible. Assuming that this in deed a regression from 2018.4 the most likely candidates are #8479 and #8866

[2020-05-08 18:06] josephsl opened #11134 "Status bar retrieval: ask for opinions from overlay classes in addition to app modules"
Hi,

A PR might be submitted after backlog phase is done:

### Is your feature request related to a problem? Please describe.
Thanks to #9792, app modules can define _get_statusBar method to tell NVDA how to obtain status bar for a given program. It turns out there is already a way to do this: overlay classes, as evidenced by base NVDAObject defining _get_statusBar method. This presents a dilemma

[2020-05-08 18:23] Adriani90 commented on #8301
This is still reproducible in NVDA 2020.1. In the onenote app for Windows 10 I get following error:

[code]

@Qchristensen could you please describe what happens with the carret visually in Onenote classic? So I mean not in the Windows store app but in the preinstalled version? It seems to me when pressing down arrow multiple times NVDA changes to other content blocks but this is not reported.

[2020-05-08 18:46] Adriani90 commented on #8293
I cannot reproduce. When pressing right arrow key or ctrl+right arrow key, NVDA 2020.1 reports as expected edit field "my title" end of edit field.
Closing as works for me. Please open a new issue and fill the complete template accordingly. Thanks.

[2020-05-08 18:46] #8293 closed

[2020-05-08 18:52] Adriani90 commented on #8290
@WiproPSAccTest could you please upload a test document where we can test this issue? How did you set the column and row headers in MS Word?

[2020-05-08 19:00] Adriani90 commented on #5003
We don't have updates on this issue since years and I cannot reproduce. Closing as works for me and abandoned. Plese comment on this if you are still having this issue and we can reopen.

[2020-05-08 19:00] #5003 closed

[2020-05-08 19:04] Adriani90 commented on #8289
No updates from the initial author and the list level issue is already covered in other issues already. Closing this as duplicate of i.e. #6815

[2020-05-08 19:04] #8289 closed

[2020-05-08 19:06] Adriani90 commented on #8288
@Qchristensen this issue seems very visual to me. Could you please try to reproduce? Thanks.

[2020-05-08 19:12] Adriani90 commented on #8287
Actually, you can easily jump from a change to another in browse mode by pressing a.
This is much more efficient than going to the menu and pressing the button everytime.
However, I will let the decision to the community or NV Access if they want to implement the reporting of the coresponding change when navigating to it via the ribbon menu instead of using NVDA's browse mode.

[2020-05-08 19:17] Adriani90 commented on #8286
This is working properly in Office 365, but I can reproduce it for example in Word or Powerpoint 2010.
cc: @lukaszgo1

[2020-05-08 19:20] Adriani90 commented on #8284
There is no example document uploaded to this issue, we are not able to reproduce it from the description. Please open a new issue and upload an example document or comment on this one. I am closing this for now.

[2020-05-08 19:20] #8284 closed

[2020-05-08 19:26] Adriani90 commented on #8291
Closing as duplicate of #2150.

[2020-05-08 19:26] #8291 closed

[2020-05-08 19:51] Adriani90 commented on #8283
There is no example document uploaded to this issue. Moreover, this is a broader discussion already covered in #6155 and #4336
I am closing this issue for now.

[2020-05-08 19:51] #8283 closed

[2020-05-08 19:53] Adriani90 commented on #8281
I cannot reproduce this issue. Enabling the coresponding reporting option in NVDA's document formatting settings works as expected in Word. Closing as works for me with NVDA 2020.1. Please comment on this if you are still having this issue and we can reopen. Thanks.

[2020-05-08 19:53] #8281 closed

[2020-05-08 19:59] Adriani90 commented on #8277
I cannot reproduce this issue, the example document is missing. Also note that if the link address is not visible for a sighted person, NVDA is not expected to read it. If you add a text to a link and hide the address, then the expected behavior is to reoprt only the visible text without the hidden address.
Regarding image links, you can navigate to them by pressing g for graphics if I am not wron

[2020-05-08 19:59] #8277 closed

[2020-05-08 20:03] Adriani90 commented on #8276
Closing as duplicate of #5877

[2020-05-08 20:03] #8276 closed

[2020-05-08 20:19] Adriani90 commented on #8269
Actually there is a small bar at the bottom of the window in excel where all the sheets are displayed as tabs anc you can reach that area with the mouse. Apparently there is no other way to reach that area, I was expecting to be able to go there by pressing f6 but NVDA skips that bar unfortunately. You can also press right click on a sheet from that tab and you can  add, rename or delete a sheet.

[2020-05-08 20:19] #8269 closed

[2020-05-08 20:22] Adriani90 commented on #8265
No update since almost 2 years, I am closing this as abandoned and works for me. Please comment on it if you are still having this issue and we can reopen. Thanks.

[2020-05-08 20:22] #8265 closed

[2020-05-08 20:32] christopherpross commented on #10692
@feerrenrut Yeah, it doesn't do that at this moment. But correct me, if I am wrong, this would be result in, that if the user toggles the screencurtain over the gesture, the dialog will also happen. But also if the user for example press 2 times the gesture to jump over the temporaly setting. in this case, I think, it could result in 2 dialogs. And so on. This looks not like a clean solution. Or I

[2020-05-08 20:33] Adriani90 commented on #8260
The design of the app changed since this issue has been submited. Now the compose tweet is a button at the top, however NVDA reads the buttons like it was in screen layout although this setting is disabled. The navigation character by character on these buttons is not working. If you press right or left arrow, NVDA will jump from button to button in browse mode.
cc: @josephsl could you please have

[2020-05-08 20:44] josephsl commented on #8260
Hi, which version is this? The thing is, I don’t use PWA version of Twitter app, although I’ll look at this briefly. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, May 8, 2020 1:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] In the Windows 10 Twitter app, Compose New

[2020-05-08 20:48] josephsl commented on #8260
Hi, possibly because of text info implementation for EdgeHTML. As the app mirrors Twitter web interface design, I’m leaning towards abandoning this one (Chromium Edge, Chrome, Firefox and friends may provide improved support). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, May 8, 2020 1:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>;

[2020-05-08 20:52] Adriani90 opened #11136 "MS Excel: make the sheet navigation bar accessible via status bar retrieval"
### Is your feature request related to a problem? Please describe.
This problem exists in all versions of MS Office and with every version of NVDA. The user is not able to access the small bar above the status bar which lets you change between sheets, perform actions on sheets like adding, renaming, copying or deleting a sheet etc. This bar is named "sheet navigation bar" might differ from languag

[2020-05-08 22:24] bkoray opened #11137 "NVDA announces periods despite current punctuation level"
### Steps to reproduce:
Read a text which has a period followed by a symbol like following:
[read.]
read./
### Actual behavior:
NVDA pronounces "dot" with punctuation levels "some" and "most" like:
left bracket read dot right bracket
read dot slash
### Expected behavior:
With punctuation level some and most, NVDA should pronounce:
left bracket read right bracket
read slash
### System configuration

[2020-05-08 22:49] DrSooom commented on #11137
@bkoray: Which synthesizer is used? And did you mean `[Read.]` and `Read./` instead of `[Read]` and `Read/` in the StR section?

[2020-05-08 23:05] DrSooom commented on #11136
Since Microsoft Office 2007 it is possible to add icons for sheet operations (Rename, Copy/Move, Delete) into the Quick Access bar (in German "Symbolleiste für den Schnellzugriff"). Then you can activate all icon in this bar, which is located above or below the ribbon area, by pressing ALT following by 1 to 9, 0 and 9 to 0 and 1 and 0 and A to 0 and Z (?).

For many years I've added more than 20 i

[2020-05-08 23:34] DrSooom commented on #11129
See also: https://github.com/nvaccess/nvda/issues/9284#issuecomment-464391861

[2020-05-09 01:47] bkoray commented on #11137
Hey @DrSooom, I have tested it with
Microsoft Speech API version 5 and
Windows OneCore voices

Oh, thanks for mentioning that, I've edited the comment. I was testing a few more things before sending and apparently forgot to fix them. :)

[2020-05-09 01:59] DrSooom commented on #11137
@bkoray: I guess you already know that you can change the symbol level for this Unicode character (I mean the dot) in the punctuation/symbol pronunciation dialog. Just search for "." and change the level to "All". Please don't change the entry ". sentence ending".

[2020-05-09 06:12] Neurrone commented on #8269
@Adriani90 yeah that's the reason that I created this issue initially, since optimizing the defaults for the most common case makes more sense.

[2020-05-09 06:21] Adriani90 commented on #11136
For this workaround to work you need to focus the sheet. Good day if you have a workbook with more than 50 sheets.
The navigation bar would let you perform actions on sheets without focusing them which is much more efficient.

Von meinem iPhone gesendet

[2020-05-09 06:33] Neurrone commented on #11124
I'm not familiar with the UIA specification, but are there events that the terminal can implement which could inform NVDA of word / cursor movement? The new Windows Terminal is also still in beta so maybe this is an opportunity to ask for such events to be implemented if possible.

[2020-05-09 07:15] k-kolev1985 commented on #11136
@Adriani90 A small clarification: The sheet navigation bar gets focused with F6, but NVDA does not report that it happens. I've reported this bug as issue #10483.

[2020-05-09 08:10] Brian1Gaff commented on #11137
I thought it worked as it does so internet and email addresses sound
correct.
 Or am I missing the point... pun intended..
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-09 08:59] Adriani90 commented on #8387
It is also reproducible in Office 365, no need to have Excel 2016 for students on Windows 10s.

[2020-05-09 09:14] Adriani90 commented on #8342
cc: @jcsteh maybe you have any suggestion here, if you have time.

[2020-05-09 09:34] Adriani90 commented on #8332
Note that if you cahnge the tab to percentile for example, the text about the graph is read properly because it's included in the alt text.

I am closing this issue as works for me.But feel free to comment if I have missunderstood something here.

[2020-05-09 09:34] #8332 closed

[2020-05-09 09:54] Adriani90 commented on #8323
This needs to be pushed by a company which is using Quicken and is a trade customer. This is what I experience now with Cofax PDF Power. I wrote to them privately, they just said it's accessible with Jaws, so what.
Then I wrote them via our company and said we have more visually impaired people here and we don't want to spend so much money for jaws licenses just because Cofax is not ready to impro

[2020-05-09 09:56] Adriani90 commented on #8322
@georgizhivankin the discussion is prety old now, could you please give an update on this issue? Have you had success with the bugs reported to them?

[2020-05-09 10:07] Adriani90 commented on #8318
Still reproducible in Firefox 76.0.1 and Chrome 81. cc: @jcsteh, @aleventhal maybe you have some suggestions here, I think many authors implement aria-errormessage like this but I am not sure if this violates the Aria spec.

[2020-05-09 10:12] Adriani90 commented on #8476
Since I do not use hangouts and cannot test unfortunately and many requests for updates did not result in meaningful results, I am going to close this as abandoned. Please comment on it if you have test results and we can reopen. Thanks.

[2020-05-09 10:12] #8476 closed

[2020-05-09 10:19] Adriani90 commented on #8469
@alexandretoco I cannot reproduce this with NVDA 2020.1. Could you please run the COM registration fixing tool in NVDA menu / tools and try to reproduce again?

[2020-05-09 10:19] codeofdusk commented on #11124
Yes, these events do exist (this is how auto select detection works). I was thinking we could do something similar to report caret movement but that would require bigger code changes.

[2020-05-09 10:25] Adriani90 commented on #8434
@nishimotz I am not able to reproduce with NVDA 2020.1. Can ou confirm?

[2020-05-09 10:32] Adriani90 commented on #8428
Now it works as expected in Chrome 81, but in Firefox navigating by columns with ctrl+alt+right arrow in the first row NVDA remains stuck on the first three columns and you just move in circles no matter how many times you press ctrl+alt+right arrow. This happens only in Firefox and only in the first row of the table.

[2020-05-09 10:46] Adriani90 commented on #8526
Alternative str:
1. Press windows+r to open run dialog
2. Type ms config
3. Navigatoe to the tab "autostart"
4. Tab to the link "task manager" and open it
5. Navigate with arrow key through the lists of processes, system start etc.

Same issue as in the description.

cc: @josephsl

[2020-05-09 11:06] Adriani90 commented on #7760
closing this in favor of #3539 which actually covers this problem. Since this seems to depend on display model, I guess solving that issue will improve screen review in general.

[2020-05-09 11:06] #7760 closed

[2020-05-09 11:09] Adriani90 commented on #8500
This works as expected with NVDA 2020.1 and Edge Chromium 81. Closing as works for me and adding edge spartan label since it might be reproducible in the old Edge. However, Edge Chromium will be distributed to most users via Windows 10 2004 update.

[2020-05-09 11:09] #8500 closed

[2020-05-09 11:16] Adriani90 commented on #8640
@fernando-jose-silva how is this now in NVDA 2020.1? Note that this depends also on which synthesizer you are using. We could add all the emojis to the symbols dictionary but this means alot of work and imo a synth provider should make sure that its synthesizer can speak the symbols correctly.

[2020-05-09 11:17] Adriani90 commented on #8639
@fernando-jose-silva are you still having this issue in NVDA 2020.1?

[2020-05-09 11:22] Adriani90 commented on #9368
#8620 might be related

[2020-05-09 11:36] leonardder commented on #11125
I wrote a prototype:
https://github.com/leonardder/nvda/commit/3e8bfa03aaac563627afb796ddcf61c02565308a

It can be used as follows:

[code]

Runtime inspection of type hints is not possible.

[code]

I thought you needed to use typing.Generic to construct your own type like typing.Optional, but turns out I was wrong. feel free to forget this.

[2020-05-09 11:39] Adriani90 commented on #8575
is there any improvements to this behavior?
cc: @MarcoZehe

[2020-05-09 11:45] Adriani90 commented on #8656
There is now a warning when an addon is not compatible. I am closing this as works for me.

[2020-05-09 11:45] #8656 closed

[2020-05-09 11:48] Adriani90 commented on #8795
No updates from the initial author since one and a half years, I am closing this as works for me and abandoned. I cannot reproduce with NVDA 2020.1.

[2020-05-09 11:48] #8795 closed

[2020-05-09 11:55] Adriani90 commented on #8741
Closing as duplicate of #11073 and #11096.

[2020-05-09 11:55] #8741 closed

[2020-05-09 12:00] Adriani90 commented on #8755
Closing as duplicate of #8093.

[2020-05-09 12:00] #8755 closed

[2020-05-09 14:02] fernando-jose-silva commented on #8639
thanks, everything works fine now.

Enviado do meu iPhone

[2020-05-09 14:02] fernando-jose-silva commented on #8640
thanks, everything works fine now.

Enviado do meu iPhone

[2020-05-09 15:27] fernando-jose-silva opened #11138 "Several options of nvda dialogues are not translated into Brazilian Portuguese"
### Steps to reproduce:
Run nvda with the Brazilian Portuguese language
### Actual behavior:
Controls are not translated
NVDA Language (requires restart):
Save configuration when exiting NVDA
Start NVDA during sign-in (requires administrator privileges)

Start NVDA after I sign in
Use currently saved settings during sign-in and on secure screens (requires administrator privileges)

Audio output  d

[2020-05-09 16:24] DataTriny commented on #7233
Hi,
I'm sorry but I can't understand the issue you are describing here @dingpengyu . Did you just meant that in Notepad++, when navigating the autocompletion popup, only the last typed word is read instead of the suggestions?
If yes, then I can confirm that the issue is still reproduceable (Windows 10 version 1909, NVDA 2020.1, Notepad++ v7.5.4).

[2020-05-09 16:42] Mary5958 commented on #11132
The same can be reproduced when reading pages in Firefox and with emails in HTML format in Thunderbird.

[2020-05-09 17:29] josephsl commented on #11138
Hi, possibly because translations were not merged yet into alpha (I wouldn’t worry about translations in alpha builds much as alpha builds are meant for early testers and things (including messages) can change). Thanks.

From: fernando-jose-silva <notifications@github.com>
Sent: Saturday, May 9, 2020 8:28 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

[2020-05-09 18:14] OzancanKaratas commented on #11137
The dot mark is not spoken unless you set the punctuation level to “All” so that you can feel the real life reading experience.

[2020-05-09 19:09] bilrousseau opened #11139 "Cannot save config (folder protected from writing ?)"
Hello,

I can't save my configuration in NVDA as soon as I edit the scratchpad folder.
What I've done :

- Opened C:\Users\billr\AppData\Roaming\nvda\scratchpad with VSCode
- Wrote a simple global plugin to catch NVDA+A input : (example.py)

[code]

My plugin didn't work so I tried to save configuration in NVDA.
- NVDA+N -> Save configuration

I got the following error message :
Cannot save config

[2020-05-09 21:42] Luke-Robinett opened #11140 "NVDA and PowerPoint animations"
### Is your feature request related to a problem? Please describe.
While not a bug per se, my suggestion will help NVDA users when presenting a PowerPoint deck.

### Describe the solution you'd like
In PowerPoint, it's possible to assign animations to an object on a slide. For example, say we have a bulleted list. An animation can be applied to this list such that each bullet point appears one aft

[2020-05-09 23:06] fisher729 commented on #11137
Hi.

I'm thinking that this issue should be closed, as the dot (.) is also listed in the Symbol Pronunciation dialog being announced by default in the Some category. So, the above is the expected behaviour. There is no true cut and dry way of knowing if these full stops are sentence enders, and in these cases, they are not treated as such.

[2020-05-09 23:53] Adriani90 commented on #11140
Closing as duplicate of #7877 which contains a very detailed discussion on this feature.

[2020-05-09 23:53] #11140 closed

[2020-05-09 23:56] Adriani90 commented on #11086
cc: @Andre9642

[2020-05-09 23:59] Adriani90 commented on #8639
Thanks for reporting, closing as works for me.

[2020-05-09 23:59] #8639 closed

[2020-05-09 23:59] Adriani90 commented on #8640
Thanks for reporting. Closing as works for me.

[2020-05-09 23:59] #8640 closed

[2020-05-10 00:05] Adriani90 commented on #8801
I think if such a gesture will ever be implemented, it should be an unassigned script. Otherwise new users or novices which are not very computer afin could press the gesture accidentally and move NVDA to an output device which is muted. This would raise the impression that NVDA is not working anymore or they would be lost because NvDA is not speaking anymore.

[2020-05-10 00:06] Adriani90 commented on #8788
@FelixGruetzmacher can you reproduce this also with NVDA 2020.1?

[2020-05-10 00:18] Adriani90 commented on #8863
It is working as expected in NVDA 2020.1 and Chrome 81. Chrome loads 11334 characters, the same like in Firefox, Edge Chromium or Internet explorer. In MS Word 11399 characters are loaded, in Wordpad there are 11335 characters loaded, in Notepad and Notepad++ 11398. So it is very likely due to some ISO characters not being recognized by browsers and thus they are not rendered at all. This should b

[2020-05-10 00:18] #8863 closed

[2020-05-10 00:32] Adriani90 commented on #8848
@RichCaloggero this should only be ignored if the element is not visible on the screen, i.e. visibility:hidden or display:none applies. If the element is focusable, and visible, then even with aria hidden it is expected to gain focus also by screen readers. This is conform with Aria spec, see this link:
https://www.w3.org/WAI/PF/aria-1.1/states_and_properties#aria-hidden
For more details and if yo

[2020-05-10 00:32] #8848 closed

[2020-05-10 00:35] Adriani90 commented on #8841
@enessaribas are you still able to reproduce this with NVDA 2020.1?

[2020-05-10 00:38] Adriani90 commented on #8825
@fernando-jose-silva do you still have this issue in NVDA 2020.1 with addons disabled?

[2020-05-10 00:43] Adriani90 commented on #8822
Closing as duplicate of #2922

[2020-05-10 00:48] Adriani90 commented on #8817
This works as expected in Edge Chromium 81 with NVDA 2020.1. Edge Chromium will be distributed to most users via Windows 10 2004 Update, so I am closing this as works for me while adding the propper label "Edge Spartan" since it might still be reproducible in the old Edge.

[2020-05-10 00:48] #8817 closed

[2020-05-10 00:49] jscholes commented on #8801
@Adriani90 The issue description says:

Also, if it was ever set up to apply to a specific sound device, it couldn't be assigned by default because the sound devices across systems are usually completely different.

[2020-05-10 00:50] Adriani90 commented on #8816
We do not have updates from the initial author since more than one year, closing as abandoned and works for me. Cannot reproduce with NVDA 2020.1.

[2020-05-10 00:50] #8816 closed

[2020-05-10 00:54] josephsl commented on #8817
Hi, two things: Edge 81 will not come as part of Version 2004 unless Microsoft says otherwise, and this issue might not be present in classic Edge due to editable text enhancements. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, May 9, 2020 5:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] When movin

[2020-05-10 00:55] Adriani90 commented on #8811
Tested in NVDA 2020.1, the names are reported correctly, they are having the link atribute. This works both in focus and browse mode. Closing as works for me.

[2020-05-10 00:55] #8811 closed

[2020-05-10 01:07] Adriani90 commented on #8817
Hi Joseph,

I think this is not entirely correct. according to this article the Edge Chromium will be distributed:

https://www.windowslatest.com/2020/05/09/new-microsoft-edge-is-rolling-out-to-windows-10-may-2020-update/

Von: Joseph Lee <notifications@github.com>
Gesendet: Sonntag, 10. Mai 2020 02:55
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; State

[2020-05-10 01:14] josephsl commented on #8817
Hi, that’s for automatic rollout. We’ll see if that claim is true by end of May at the earliest. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, May 9, 2020 6:07 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] When moving character by character in the address bar of the

[2020-05-10 03:02] bkoray commented on #11137
Thanks everyone for your comments! Originally period marks were being used for slight pauses in the application, but we can't expect every user to adjust their settings accordingly. So we'll find another way.

[2020-05-10 03:02] #11137 closed

[2020-05-10 04:15] DrSooom commented on #11139
@bilrousseau: Please completely fill out the bug report draft. Thanks.

[2020-05-10 05:57] Andre9642 commented on #11086
With liblouis 3.13, I have the same behavior with the following tables (and probably others):
- English (U.S.) grade 1
- English (U.S.) grade 2
- Unified English Braille Code grade 1
- Korean grade 1
- Korean grade 1 (2006)
- Korean grade 2
- Korean grade 2 (2006)
- Russian grade 1

A quick fix to remove dots 7 (not perfect):
1. Edit en-ueb-chardefs.uti
2. Search "include latinLetterDef8Dots.uti"

[2020-05-10 08:05] AAClause opened #11141 "NVDA 2019.3-2020.1 & iTunes: UIAutomationTextRangeArray is empty / NULL COM pointer access on some elements"
### Steps to reproduce:
There are several ways to reproduce this issue, here's one:

1. Open iTunes.
2. In the library sidebar, select a playlist.
3. Press tab key two times.

### Actual behavior:
The following error occurs and no speech/braille feedback for the focused element:

<details><summary>Traceback</summary>

[code]

</details>

Same thing for some other items.

### Expected behavior:
No

[2020-05-10 10:35] enessaribas commented on #8841
hi,
I no longer have this software  installed. And did not use the classic  mode where this issue occured when I did have it. Someone else will have to test.

[2020-05-10 11:52] dpy013 opened #11142 "Upgrade xgettext to 0.20.2"
based on
[Upgrade xgettext to 0.20.2 nvaccess/nvda-misc-deps](https://github.com/nvaccess/nvda-misc-deps/pull/19)
hello
gettext 0.20.2 was officially released six days ago.
[Here is the change log for this version](http://savannah.gnu.org/forum/forum.php?forum_id=9716)
Update gettext0.18.1.0 to 0.20.2 from [mlocati gettext-iconv-windows](https://github.com/mlocati/gettext-iconv-windows)
thanks

[2020-05-10 12:04] dingpengyu commented on #11142
hello
I used xgettext 0.20.2 to build the NVDA in the local environment, and the translation was normal. The .mo was generated from the .po.
test environment
Visual Studio 2019 version16.5.4
python 3.7.7
scons 3.1.2
windows10-2004 19041.207
virtualenv 20.0.20
thanks

[2020-05-10 23:00] Adriani90 commented on #9002
This is happening because there is a soft return after sentence #2 which actually is a new line character. This is not a real line break, it just tells MS Word to go to the next line. See also
https://word.tips.net/T000170_Understanding_Hard_and_Soft_Returns.html
You can reproduce this if you press shift enter after sentence #1, then stenence #1 and sentence#2 will be spoken together when pressing

[2020-05-10 23:20] Adriani90 commented on #11138
@fernando-jose-silva are you seeing this issue also in the stable version NVDA 2020.1?
@josephsl these characters are not translated in other languages as well even though there is a translation in the .po file in place. I reported this on NVDA's translations list and you said this is due to a fix in the accelerations in Python 3 and that this would affect only alpha users. For how long will this

[2020-05-10 23:26] josephsl commented on #11138
Hi, it will be fixed once alpha comes to beta and translators are willing to correct and commit translations. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, May 10, 2020 4:21 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Several options of nvda dialogues are not transla

[2020-05-10 23:36] Adriani90 commented on #8996
This seems to be a regression.
cc: @jcsteh, @michaelDCurran this regression is quite a long time ago, but maybe someone of you can find the coresponding cause for this.

[2020-05-10 23:37] Adriani90 commented on #8996
@HegrJan I assume this is still reproducible. Is this correct?

[2020-05-10 23:56] Adriani90 commented on #9069
@RajeswariAddepalli23 I assume you tried to use object navigation here and expected to get the labels "pages" and "forms" and their child elements "remove pages" and "remove forms". In NVDA you need to walk by pressing insert+shift+right arrow, not insert+right arrow. This works with keyboard layout set to laptop in NVDA's settings. Of course you can also use the numeric block on a computer keyboa

[2020-05-10 23:56] #9069 closed

[2020-05-11 00:02] sigal-barak opened #11143 "different behavior when navigating a manu when NVDA is closed or opened"
#### Steps to reproduce:
 the website : https://iac.ac.il/
When NVDA is closed,and when it is open, navigate the Main Menu using the keyboard, and press ENTER to open a submenu .
IMPORTANT : please delete role menuitem from all the A (links) tags. screenshot: http://prntscr.com/seehf7
#### Actual behavior:
1. the KeyDown handler (ENTER) not called when using NVDA screen reader,but when NVDA is clo

[2020-05-11 00:02] Adriani90 commented on #9036
I think @tspivey developed an addon for killing nvda in certain situations. I also have alot of problem at work when programs are crashing and NVDA becomes silent.
In this case it seems the warning promt from Windows asking if you want to close a program which crashed causes NVDA to become silent for whatever reason.
cc: @josephsl

[2020-05-11 00:03] Adriani90 commented on #9036
In general, it should not be required to kill NVDA in order to solve such issues, so I hope that a solution will be found in which NVDA can handle the warning promt properly without becoming silent at all.

[2020-05-11 00:04] Adriani90 commented on #9031
@a11cf0 how is this now with NVDA 2020.1?

[2020-05-11 00:05] jcsteh commented on #8428
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1636807

[2020-05-11 00:07] Adriani90 commented on #9021
The issue on VS Code side has been fixed, thanks for posting the link here so that we could keep track on this. Closing as works for me.

[2020-05-11 00:07] #9021 closed

[2020-05-11 00:09] Adriani90 commented on #9018
The PR referenced above has been merged, so I think this is fixed now. Otherwise please open a new issue against the visual highlight feature which is already implemented in NVDA. Closing.

[2020-05-11 00:09] #9018 closed

[2020-05-11 00:11] jcsteh commented on #8318
Firefox correctly exposes aria-errormessage using IA2_RELATION_ERROR. NVDA just doesn't support this yet.

[2020-05-11 00:13] jcsteh commented on #8342
I think we'd need to see a test case here with exact steps to reproduce to be able to make any useful diagnosis.

[2020-05-11 00:21] Adriani90 commented on #9016
@vincent-lg are you still seeing this issue with NVDA 2020.1?
I guess this is also very related to #8389.

[2020-05-11 00:23] Adriani90 commented on #9012
No further updates on this issue since more than one and a half years, closing as abandoned. Please comment on it if you are still having this issue and we can reopen.
I cannot reproduce with NVDA 2020.1.

[2020-05-11 00:23] #9012 closed

[2020-05-11 00:27] Adriani90 commented on #11138
Thanks Joseph for the comment. I just also noticed that the milestone for that PR has been moved from 2020.1 to 2020.2.
@fernando-jose-silva if you will not see this translated in the future version, please contact the translator privately or via the translators mailing list at
https://groups.io/g/nvda-translations

I am closing this issue for now since this is related to translators, and their wi

[2020-05-11 00:27] #11138 closed

[2020-05-11 01:00] jcsteh commented on #11133
I'm confused by these STR:

if the user was in browse mode, pressing c wouldn't have worked; it would have tried to navigate to a combo box. So, were you actually in focus mode? Or did you pass key through?

You mention you were in focus mode when you pressed c, but then:

It seems to me that both of these cases were in focus mode, not browse mode?

For what it's worth, I normally can't reproduce

[2020-05-11 07:18] leonardder opened #11144 "Attempt to cancel speech for expired focus events: dialog title discarded when finding text in browse mode"
### Steps to reproduce:
1. Enable Attempt to cancel speech for expired focus events (set it to yes)
2. Open a browse mode document, e.g. in Firefox
3. Press Ctrl+NVDA+f to open the NVDA find dialog.

### Actual behavior:
NVDA only announces:
[code]

`Find  dialog` is shown by the speech viewer, but it is interrupted immediately.

### Expected behavior:
NVDA announces:
[code]

### System configurat

[2020-05-11 07:46] leonardder opened #11145 "NVDA intermittently loses access to the Outlook object model, making calendar unusable"
### Steps to reproduce:
This issue occurs around half an hourafter I start my system. The first time I start Outlook, all is well, but after some time, NVDA is unable to get access to the object model.

### Actual behavior:
The following error is in de log:

[code]

Also, NVDA only says the word appointment when moving through appointments in the calendar. Information about unread state, attachmen

[2020-05-11 07:47] derekriemer commented on #6438
yes. For example, science fields use super/subscripts. For example, `<sup>2</sup>C` would be two carbon atoms in chemical notation, and that should not be pronounced with power notation. another example is an equation like the following. a<sub>1</sub>+a<sub>2</sub>+...+a<sub>n</sub> = b
This equation would generally be read as a sub 1 plus a sub two plus ...

[2020-05-11 07:48] mlegait commented on #11123
I didn't see the original bug before opening this one, I'm sorry. So yes, it seems it's a duplicate.

[2020-05-11 08:17] HegrJan commented on #8996
Yes, it is.

On 5/11/20, Adriani90 <notifications@github.com> wrote:

[2020-05-11 08:29] karkenau opened #11146 "Empty Name field in new configuration profile"
if I create a new configuration profiles and leave
the nave file empty, choose "menuel" and thand try to save this by hitting the "Ok" button...just nothing happens.
I am running NVDA 2020.1 on a Windows 10 system. Disaabeeling the addons and running the repair tool for the com registration didnÄt do any good.

[2020-05-11 09:53] leonardder commented on #11125
I expanded the prototype, so to see what it looks like, it's probably best to refer to the [ctypesHelper](https://github.com/leonardder/nvda/tree/ctypesHelper) branch I'm working on.
It also contains an example implementation in winKernel for createWaitableTimer.
Type hints should be available for type checkers as well as at runtime using typing.get_type_hints and inspect.signature. Thanks to the

[2020-05-11 09:53] CyrilleB79 commented on #11146
Could you please use the template to submit issues? There are important information from the template that people addressing the issue need to know and that youdid not provide. Here, the "Actual result" and "Expected result" section would be specifically needed.

[2020-05-11 09:57] feerrenrut commented on #10692
Yes, you'd have to watch out for this problem. I believe the current implementation works around this successfully. One thing that I think will help, is to separate the concept of "enabling" screen curtain from the objects creation. You might also want to be familiar with #11062 which will result in separating the settings modified by gestures and the GUI.

To start with, you could just focus on t

[2020-05-11 10:09] CyrilleB79 commented on #11136
Note also that the following actions may already be done with the NVDA+F7 dialog:
* Go to a specific sheet
* Rename a sheet (by pressing F2 in the sheet list)

Moreover, there are shortcuts to go to and extend selection to next or previous sheets.

But I agree that having access to the sheet bar for other actions normally available via right click menu would be very useful. Among them: moving a sh

[2020-05-11 10:48] feerrenrut commented on #11125
It looks like there is enough logic and conditions in there that it would be worth writing unit tests. As a bonus it will help to document how it works.

[2020-05-11 10:54] feerrenrut commented on #11125
Did you notice the note in the docs for `functools.wraps`?

Is this relevant to your prototype?

[2020-05-11 11:26] leonardder commented on #11125
Yes, probably, thanks for pointing me at this. I might have to do some additional magic under the hood to make docstrings work. The problem is that functools.update_wrapper actually expects a real FunctionType. Therefore, to make doc strings work, they need to be set on the class.

If you believe this prototype is the right way to go, unit tests are certainly planned.

[2020-05-11 11:34] feerrenrut commented on #11125
This is hard to say without a few more examples of how it is used. I think tests will help with that. It would also be good to at least outline alternative approaches and compare the benefits of each.

[2020-05-11 11:55] leonardder commented on #11125
I think there are some alternative approaches:

1. Set argtypes and restype on a per _FuncPtr object basis, and leave the wrappers as they are. However, if we don't do this using a helper function like in this prototype, we don't have type annotations.
2. Instead of making the decorator return the WINFUNCTYPE object, return another wrapper function taking *args, **kwargs, and let that wrapper forw

[2020-05-11 12:49] leonardder commented on #11145
Ugh, turns out I once changed my desktop icon to run NVDA as admin to test something, and never restored that. Three cheers for bad habits.

[2020-05-11 12:49] #11145 closed

[2020-05-11 13:25] srinivasNithin opened #11148 "nvda doesn't read SuggestionAvailableAlertText of PeoplePicker fluent UI field."
### Steps to reproduce:
Turn on nvda and try to access this codepen page https://codepen.io/srinivas-nithin/pen/QWjxjNr?editors=0010 in chrome.
When you click on people picker dropdown , dropdown expands and suggestions are listed.

### Actual behavior:
nvda read the dropdown box details but doesn't announce "People Picker Suggestions available" text when suggestion are listed.

### Expected behav

[2020-05-11 13:26] christopherpross commented on #10692
@feerrenrut  ok, I ignore then the warn setting for now and only fix the two issues there are reported at 1 and 2. A pr will come soon. I hope this is ok.

[2020-05-11 13:51] segedyjr opened #11149 "In Chrome, NVDA reads the first line of a read-only multi-line text area on down arrow"
In Chrome, when focus lands on a readonly textarea element, NVDA stays in forms mode, and pressing the down arrow repeatedly reads the first line of the text area.

### Steps to reproduce:
1. Open Chrome
2. Navigate to https://jsfiddle.net/on5r693q/
3. Tab to the text area
4. Press the down arrow twice

### Actual behavior:
When focus moves to the textarea, NVDA speaks the first line of the textar

[2020-05-11 15:51] RD-Brown commented on #9500
@Adriani90 We are conducting further tests on our end, and will advise once we have results.

[2020-05-11 16:17] CyrilleB79 commented on #9002
@Adriani90 thanks for the link to the soft return, I did not understand how and why this character were inserted in some e-mails received by me.

To continue the analysis:
1. The issue does not occur when there is one soft return at the end of the sentence, but two at least.
2. It seems that the issue occurs when there is whichever combination of soft return (at least 2), spaces and no-break space

[2020-05-11 17:33] gregjozk commented on #11132
Hello,

one more test case:
- open addons.nvda-project.org
- choose addon developer toolkit
- start say all
- nvda repeats many lines in a list of keyboard shortcuts etc

[2020-05-11 17:48] xtstoll commented on #8990
I retested with NVDA 2020.1 in Windows 10.0.17763 with Microsoft Edge 44.17763.831.0. The alt tags are read in full when navigating with the G key, but when you try to spell the alt tag with the right arrow, **it doesn't spell the alt tag**. In Chrome 81.0.4044.138, this works fine.

[2020-05-11 20:20] JulienCochuyt commented on #11146
@karkenau,
I just pushed a fix proposal for your issue.
Nevertheless, @CyrilleB79 remark still stands: Please fill the whole issue template every time you file an issue against NVDA. Even if it sometimes looks like too much for simple issues, it really helps contributors to spend less time in understanding your problems and thus spend more time in attempting to solve them.

[2020-05-12 01:47] DrSooom commented on #11149
Related: Issue #11098

[2020-05-12 01:50] DrSooom commented on #11148
@srinivasNithin: Please specify the Windows 10 version and list all web browsers incl. version where this issue occurs. Thanks.

[2020-05-12 02:07] DrSooom commented on #11143
@sigal-barak: Could you please explain why these behaviors should be changed? In Browse Mode you can try to press NVDA+F2 (= Pass next key through) before pressing Return. Unsure, if this helps.

[2020-05-12 02:38] srinivasNithin commented on #11148
@DrSooom
Here are the details
1. Windows OS : Microsoft Windows 10 Enterprise 10.0.18363
2. Browsers :  Google Chrome 81.0.4044.138 (Official Build) (64-bit)
                   :  Microsoft Edge Version 81.0.416.72 (Official build) (64-bit)

[2020-05-12 03:19] Qchristensen opened #11151 "Outlook 365, No speech when moving between columns in calendar list view"
### Steps to reproduce:

1. Open Outlook
2. Press CONTROL+2 to move to the calendar
3. Press alt+v, c, v to change view.
4. Use the right arrow to select "List" and press enter.
5. Press the up and down arrows to move between calendar entries
6. Press the left and right arrows to move between columns (Subject, location, start time, end time, etc).

### Actual behavior:

In step 6, visually, the fo

[2020-05-12 05:44] karkenau commented on #11146
Good morning,
I am sorry for the inconvienience. I promise to do better in my next issue.
Sorrt once mor.

[2020-05-12 05:58] v-sagsah opened #11152 "NVDA is reading all the controls at once when set role="dialog" on button clicked."
**Browser Details: ​**
OS: Windows 10 (Version 1903, Build: 18362.175)
Google Chrome Version 81.0.4044.138 (Official Build) (64-bit)

**Issue:**
[Accessibility] : NVDA is reading all the controls at once when set role="dialog" on button clicked.

Please repro the same in the below code pen link
https://codepen.io/sagsah/pen/abvKvor?editors=0010

**Note :**
1. In code pen code, the CallOut contains

[2020-05-12 06:35] leonardder opened #11153 "Excel 365: Focus issues when adding notes to cells"
# Steps to reproduce:
1. Open excel 365
2. Focus a cell
3. Press shift+f10 or the applications key
4. Choose add note

### Actual behavior:
NVDA returns nothing when invoking "add note" or it reports the name of the sheet. Focus seems to be lost entirely. It is not possible to read the contents of the note that's currently being added, nor the contents of the sheet when escaping out of the notes e

[2020-05-12 06:50] CyrilleB79 commented on #11153
According to Microsoft on the page [The difference between threaded comments and notes](https://support.microsoft.com/en-us/office/the-difference-between-threaded-comments-and-notes-75a51eec-4092-42ab-abf8-7669077b7be3):

So the notes are just the comments from Excel's previous versions.

Do notes behave differently than comments on previous versions of Excel? On previous versions, comments box we

[2020-05-12 07:29] leonardder commented on #11153
Thanks for this helpful information.

Shift+f2 still works correctly, so that solves my issue here. However, it now applies to notes, not to new style comments. May be we need to update this in the user guide. Would that be something you'd like to do @CyrilleB79?

[2020-05-12 09:15] vinaychaudhary1504 opened #11154 "IE11 + NVDA - After dialog is opened and closed next actionable element not getting triggered using enter / space key"
### Steps to reproduce:
Open Link : https://dequeuniversity.com/library/aria/simple-dialog
Navigate using tab and open dialog box and close it through enter key then navigate to next actionable item.
So after closing dialog box next actionable item is not getting expand through Enter/Space keys.
This is not always reproducible its like intermittent issue on IE with NVDA.

### Actual behavior:
Afte

[2020-05-12 09:37] CyrilleB79 commented on #11153
Well, I would prefer if you or somemone else update yourself the user guide, since I have not even Office 365 and thus cannot make tests.

Also Cc @Adriani90 who has just updated this part of the user guide in #11067 and commented in #10867.

[2020-05-12 10:41] jmdaweb opened #11155 "Odd behaviour when NVDA is in aragonese"
### Steps to reproduce:

1. Change NVDA language to aragonese.
2. Open Notepad.
3. Type one or two lines of text.
4. Try navigating by word (control+left or right arrows) or by character (left and right arrows).

### Actual behavior:
NVDA does not read anything.
### Expected behavior:
NVDA should read previous / next character or word, as it does in other languages.
### System configuration
#### N

[2020-05-12 12:41] josephsl commented on #11155
Hi, this is because Python does not recognize Aragonese locale at all, partly caused by the fact that Windows doesn’t recognize Aragonese locale properly. This isn’t limited to Aragonese either: Central and Northern Kurdish and a handful of other languages are also affected. Although Windows 8.x and 10 recognizes more languages and locales, these releases do not recognize some of them that NVDA ha

[2020-05-12 13:23] lukaszgo1 commented on #11155
cc @leonardder as you've written this part of the code for Python 3. Looking at it using code page returned by locale.getlocale seems quite strange to me. My understanding is that we want the Windows Ansi code page here not the code page of the NVDA locale in use. If so I propose to replace these calls to locale.getlocale with locale.getpreferredencoding.

[2020-05-12 14:08] Brian1Gaff commented on #11154
Somebody is bound to ask you to fill in the other bits of the template here.
I cannot say using IE 11 on windows 7 as I need to from time to time has
thrown u p any issues, so its a good plan to test what the template asks and
let us know what occurs.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the disp

[2020-05-12 14:10] leonardder commented on #11155
@lukaszgo1 Could you please elaborate on what you mean with `these calls`? Something like a file/line number would be helpful.

[2020-05-12 14:29] leonardder commented on #11125
@josephsl curious to know what you think about this.

I also found out that python 3.8 adds functions to the typing module to inspect types, typing.get_origin and typing.get_args. That would allow us to use Generics, like this

[code]

All annotations for which typing.get_origin returns OutParam are output parameters. The type to use for the output parameter could be retrieved with typing.get_args

[2020-05-12 14:31] josephsl commented on #11125
Hi, was this tested under Python 3.8 with a test wrapper module? As for implications of that change, I don’t know as ctypes isn’t really my area. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Tuesday, May 12, 2020 7:30 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mak

[2020-05-12 14:46] lukaszgo1 commented on #11155
I mean lines:
285, 349, 366 and  400 of source\textInfos\offsets.py

[2020-05-12 15:27] Adriani90 commented on #9695
Closing as duplicate of #8971.

[2020-05-12 15:27] #9695 closed

[2020-05-12 15:34] Adriani90 commented on #7842
@MarcoZehe did you try to compare Firefox and Chrome for example? In Firefox the download button is not displayed at all in the virtual buffer.

[2020-05-12 15:37] Adriani90 commented on #7585
This is not in conformity with the Aria spec and NVDA definitely does not react correctly here.
cc: @lukaszgo1 any suggestions what could cause this issue in NVDA?
cc: @feerrenrut

[2020-05-12 15:41] MarcoZehe commented on #7842
I *did* see the download button. That's why I said that I cannot reproduce.

[2020-05-12 15:46] Adriani90 commented on #11123
Closing as duplicate

[2020-05-12 15:46] #11123 closed

[2020-05-12 15:57] Adriani90 commented on #9253
For this to work correctly you have to change to focus mode with nvda+spacebar. Currently dialogs are being openend in browse mode by NVDA because this is the common request of many users worldwide. There is more background on this in issue #9135 and #4493. That being said, the described behavior here is the currently expected behavior in browse mode. Closing as invalid

[2020-05-12 15:57] #9253 closed

[2020-05-12 15:58] mwhapples opened #11156 "NVDA sometimes queries widgets which have been disposed"
I am involved in developing BrailleBlaster from APH, see www.brailleblaster.org. We have noticed in some development code that if NVDA is running it can cause an exception in our code. It appears that NVDA is making an accessibility query for the caret position after a StyledText widget has been disposed.

Unfortunately this is a development build which I cannot make public, however if someone fro

[2020-05-12 16:08] Adriani90 commented on #11152
This can be solved if you disable "automatically read whole page after load" in NVDA's browse mode settings. This is expected behavior now in NVDA, see also issues #9135 and #4493 for more background on this. I am closing this issue as invalid.

[2020-05-12 16:08] #11152 closed

[2020-05-12 16:13] Adriani90 commented on #9135
@Otobelikethee NVDA performs the clickable action when you press enter on the close button in browse mode like it does in focus mode as well. This is expected behavior.

[2020-05-12 16:17] Adriani90 commented on #11143
@DrSooom Obviously NVDA should expand the menu and perform the action on pressing enter. An user should not be required to press nvda+f2 to perform a standard action on an element in browse mode.

[2020-05-12 16:21] Adriani90 commented on #10398
Closing as duplicate of #8971.

[2020-05-12 16:21] #10398 closed

[2020-05-12 16:26] Adriani90 commented on #9135
I am closing this issue in favor of #8620 to keep the focus on the announcement of "dialog" role when entering a dialog.

[2020-05-12 16:26] #9135 closed

[2020-05-12 16:32] Adriani90 commented on #8512
I am closing this issue since Edge Chromium will most probably be distributed via automatic update in Windows 10 20 H1 update to most users. But I add the propper label here so that developers can find old edge issues easily, see label edge / spartan.

[2020-05-12 16:32] #8512 closed

[2020-05-12 16:56] Adriani90 commented on #11149
Closing as duplicate of #11098

[2020-05-12 16:56] #11149 closed

[2020-05-12 16:58] Adriani90 commented on #11156
Cc: @michaelDCurran

[2020-05-12 17:03] alexandretoco commented on #8469
Hi Adriani!I did what you suggest and the problem persists.For example, I was reviewing some messages in WhatsApp.So I opened the site https://www.rappi.com.br/aliados/vila-das-frutas in google schrome and Interact with it.So I pressed alt + tab to switch back to WhatsApp and nvda doesn’t read any thing.I restarted nvda and the problem persists.So I closed and reopen WhatsApp and the things begin

[2020-05-12 17:26] lukaszgo1 commented on #8469
@alexandretoco Could you please try to move Whac APP window with Windows+left arrow and then Windows + right arrow next time when it happens?

[2020-05-12 17:45] alexandretoco commented on #8469
Great! I never heard about these commands. But they solve the problem.One interesting thing: I did what you suggest and then I switched between WhatsApp and schrome many times with alt + tab andnvda could recognize and Interact with WhatsApp normally.Are these nvda’s commands?   Enviado do Email para Windows 10 De: Łukasz GolonkaEnviado:terça-feira, 12 de maio de 2020 14:26Para: nvaccess/nvdaCc:al

[2020-05-12 17:53] lukaszgo1 commented on #8469
No, they are Windows native commands to minimize and maximize the window. I don't use WhatsApp, but similar problem exists in MS Teams and it is also Electron based so it was worth a try. Have you reported this to WhatsApp developers? This is not an NVDA issue just a bug in Electron so there is nothing which could be done on NVDA side I'm afraid.

[2020-05-12 19:05] georgizhivankin commented on #8322
@Adriani90 I didn't report more issues sadly but the accessibility of the Jetbrains products is not the best in general and I think they would need much more than filing individual bugs to fix that.

[2020-05-12 20:14] Adriani90 commented on #4379
Since Outlook express is discontinued since years, I am closing this issue as abandoned.

[2020-05-12 20:14] #4379 closed

[2020-05-12 20:20] Adriani90 commented on #9001
I am closing this issue as duplicate of #5861. Let's continue the discussion there if someone has any further meaningful suggestions to this issue.

[2020-05-12 20:20] #9001 closed

[2020-05-12 20:27] Adriani90 commented on #9087
@leonardder did you see this issue during last months / years still with newer version of NVDA and newer updates in Outlook 2016?

[2020-05-12 20:36] Adriani90 commented on #9083
the behavior is the same for me in Chrome 81 and Firefox 76.
Pressing enter on the Menu ABC, NVDA reports the first item focuse which is "a".
Pressing enter on the Menu PQR NVDA reports only "menu". Pressing down arrow in focus mode reveals that the Focus was on P but this was not reported.
I don't know if I am missunderstanding here something, but I think the browsers are exposing everything corr

[2020-05-12 20:51] lukaszgo1 commented on #5861
Still reproducible with the latest Nightly as of today and latest NVDA Alpha. This also reproduces with JAWS so it looks like a Firefox issue. cc @jcsteh @MarcoZehe

[2020-05-12 21:03] Adriani90 commented on #9049
This is a browser issue. Longdesc atribute is not supported in Chrome natively, see this source:
https://www.w3.org/WAI/tutorials/images/complex/#a-text-link-to-the-long-description-adjacent-to-the-image

A workaround is to use the link to the long description in a ```<br>``` snippet or better in a ```<figure role=group>``` with a ```<figcaption>```. See approach 1 under this link. The workaround

[2020-05-12 21:03] #9049 closed

[2020-05-12 21:04] Adriani90 commented on #9049
cc: @aleventhal just for your reference, supporting longdesc natively in Chrome would be a great feature, especially for people who are using complex websites with many diagrams and data charts with NVDA or any other screen reader.

[2020-05-12 21:11] Adriani90 commented on #9143
This works as expected with NVDA alpha-20175,9967903a in Chrome 81. Closing as works for me.

[2020-05-12 21:11] #9143 closed

[2020-05-12 21:19] Adriani90 commented on #9102
cc: @codeofdusk, @josephsl

[2020-05-12 21:21] Adriani90 commented on #9090
@jage9 is this still reproducible in NVDA 2020.1?

[2020-05-12 21:26] Adriani90 commented on #9195
Still reproducible in NVDA 2020.1 and Excel 365.

[2020-05-12 21:33] Adriani90 commented on #11153
Yes indeed, the difference between notes were called comments in earlier versions. New style comments allow for answering to comment, keeping a comment treat i.e. on a single cell. I will have to adjust the coresponding paragraph in the user guide. The new style comment dialog is accessible, while the notes dialog is not. On the other hand, adding new style comments on a cell, NVDA does not report

[2020-05-12 21:33] #11153 closed

[2020-05-12 21:40] Adriani90 commented on #9193
I think it is better to discuss wording on #9195 which would deal with implementation of reporting of new style comment at all. If #9195 is implemented, then also the comment editing dialog "shift+f2" should be renamed to "note editing dialog".
I am closing this for now. Let's continue discussions on this on #9195.

[2020-05-12 21:40] #9193 closed

[2020-05-12 21:43] Adriani90 commented on #9165
cc: @leonardder do you have any suggestions on why the -ins> atributes are reported here?

[2020-05-12 21:53] Adriani90 commented on #9156
In NVDA 2020.1 I get following error:
[code]

[code]

cc: @leonardder do you have any suggestions on this?
I get the error with Chrome 81 as follows:
1. Open the website
2. Open the modal
3. Focusing the modal in browse mode, press up or down arrow key
3. Press nvda+space

This might be related to the underlying issue here.

[2020-05-12 22:02] Adriani90 commented on #9149
Still reproducible with NVDA 2020.1.

[2020-05-12 23:25] Dennisl123 opened #11157 "option for NVDA to not automatically read first line of document"
### I would like an option for NVDA to not automatically read a document when opened such as an email or word document.  If you read line by line you will miss information by it automatically reading. the

### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

####

[2020-05-12 23:51] JulienCochuyt commented on #8175
If I read the two above comments correctly, shouldn't the patch for PR #8190 be merged again or am I missing the point?

[2020-05-13 00:12] ruifontes commented on #8175
I don't understand why it was lost and never merged again...

[2020-05-13 00:24] fernando-jose-silva commented on #8825
I don't have this problem anymore, thanks.

[2020-05-13 01:59] #11146 closed

[2020-05-13 02:01] DrSooom commented on #11157
This makes sense for magnifier users.

@Dennisl123: Next time please completely fill out the draft. If you have problems with the multiline text field in the web browser, copy the whole content into the Windows-own Notepad, edit it there and then copy the whole text back in the text field at GitHub. Thanks.

[2020-05-13 02:12] DrSooom commented on #11154
Possible workaround: Press the ALT key twice.

[2020-05-13 02:15] DrSooom commented on #11151
What happens when pressing CTRL+ALT+ArrowLeft/ArrowRight in this list?

[2020-05-13 02:20] Dennisl123 commented on #11157
Sorry for that.  Would this also apply if you were using speech if you add it?

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, May 12, 2020 10:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

This makes se

[2020-05-13 02:41] btman16 opened #11158 "NVDA SayAll reads multiple lines repeatedly in web browsers"
### Steps to reproduce:
1. Run the latest NVDA alpha snapshot.
2. Open for example the NVDA what's new.
3. Press NVDA's say all command to start reading.

### Actual behavior:
On my system NVDA starts out reading ok, reading each line as it should, but then after a few lines it begins to read part of the line then goes back to the start of the line. On the second time through it reads the line as

[2020-05-13 02:58] #8528 closed

[2020-05-13 02:58] #9886 closed

[2020-05-13 03:46] Qchristensen commented on #7834
I just had another user report this after updating NVDA, and they also confirmed the issue disappeared when the PC was restarted.

@CyrilleB79 can you confirm that even though this error appears after updating NVDA (does it happen every time?) it disappears after restarting the PC?

We recommend rebooting the PC after updating NVDA (or any software) - not only for this error, but to ensure everyth

[2020-05-13 04:35] amirsol81 commented on #11082
One of the alphas released today fixed this issue, so I'm closing it. Thanks.

[2020-05-13 04:35] #11082 closed

[2020-05-13 05:04] Qchristensen commented on #10895
After having this reported by a user on Twitter, I can replicate in Edge version 81.0.416.72 official build, 64-bit, on Windows 1909, build 18363.836 with NVDA 2019.2.1 and 2020.1.  Closing Edge brings NVDA back.

[2020-05-13 05:33] Qchristensen commented on #6459
Just clarifying, this issue is different to #10401, as this issue is about reading the drop-down list itself, whereas in #10401, the list itself is read (possibly twice, as per #6452), however NVDA loses focus upon leaving the list.

[2020-05-13 05:36] Qchristensen commented on #10401
Just clarifying, this issue is different to #6459, as that issue is about reading the drop-down list itself, whereas this issue, the list itself is read (possibly twice, as per #6452), however NVDA loses focus upon leaving the list.

I can also replicate this, using NVDA 2020.1 and Office 365 Version:
16.0.12730.20236

[2020-05-13 05:39] Qchristensen commented on #6452
Updated subject to confirm this issue is still present in Office 365 Version: 16.0.12730.20236
(Using NVDA 2020.1)

[2020-05-13 05:50] Adriani90 commented on #11158
Closing as duplicate of #11132

[2020-05-13 05:50] #11158 closed

[2020-05-13 05:54] Adriani90 commented on #11157
The window title is not read everytime when reading line by line.
What exactly is the issue here?

[2020-05-13 06:00] Dennisl123 commented on #11157
The issue is when you open an email it automatically starts reading.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 1:55 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

The window title is not

[2020-05-13 06:02] Robert-J-H commented on #8175
Sure, it could have been merged some two years ago.
Seems that NV Access wants another way but I'm not sure if it will
work so easily within the C++ code.

On 13/05/2020, ruifontes <notifications@github.com> wrote:

[2020-05-13 06:14] Adriani90 commented on #11157
But this occurs only one time when you open the email and you can stop
 it by pressing ctrl key.
 meinem iPhone gesendet

[2020-05-13 06:16] Dennisl123 commented on #11157
I would prefer the option to not have it read anything.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 2:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

But this occurs only one time when yo

[2020-05-13 06:19] Adriani90 commented on #11157
Is this in outlook? Or in which programs?

Von meinem iPhone gesendet

[2020-05-13 06:21] Dennisl123 commented on #11157
Outlook.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 2:20 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Is this in outlook? Or in which programs?

Von meinem iPhone gesendet

—
You are rec

[2020-05-13 06:33] CyrilleB79 commented on #7834
This issue is not 100% reproducible but it occurs frequently on my work's computer. However, in any case, I confirm that the error message does not show up at NVDA startup if I have rebooted the computer after NVDA upgrade.

I cannot try to re-install on my work's computer for now to test. And I cannot reproduce on home's computer.

I remember at the time I have opened this issue that I was wonder

[2020-05-13 08:08] Brian1Gaff commented on #6452
Hmm other times when content is multi announced is when you want to rename a
file in explorer or create a new folder.
 It may be windows 7 only, not sure.
 It is hit and miss on renames but always present in new folder.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monito

[2020-05-13 08:59] amirsol81 commented on #9565
Hi. The issue is more serious IMHO. That is, even the slider which allows us to alter the User Account Control level isn't read by NVDA. To duplicate, go to the Start Menu, type "User Account" until the item "Change User Account Control settings, Control panel" gets highlighted, and press Enter. Press Tab in the new window to move to the Notification Level slider and press Left/Right to alter it.

[2020-05-13 09:39] leonardder commented on #9565
@amirsol81 The issue you're mentioning, though related to UAC, is not related to this issue itself.

@kieranlittle667 I can reproduce this issue when I disable credential support in an rdp file and thus when starting an RDP session brings me to the logon screen of the remote computer. However, after login and NVDA is started automatically after logon, secure screens read fine.

What happens if you

[2020-05-13 09:47] amirsol81 commented on #9565
@leonardder Has the slider issue I mentioned been reported? If not, I'd like to report it as it is important from a usability standpoint.

[2020-05-13 10:01] Adriani90 commented on #9565
yes the slider issue is already there, #9356

[2020-05-13 10:03] Adriani90 commented on #8825
Thanks for reporting, closing as works for me.

[2020-05-13 10:03] #8825 closed

[2020-05-13 10:03] amirsol81 commented on #9565
@leonardder Thanks.

[2020-05-13 10:05] leonardder commented on #9565
Yes. see https://github.com/nvaccess/nvda/issues/9356

[2020-05-13 10:07] leonardder commented on #9565
I'm sorry @amirsol81 and @Adriani90. After I noticed I wrote a duplicate comment, I tried to remove it, only noticing that my github want mad and removed your comments.

[2020-05-13 10:15] Adriani90 commented on #6373
No updates on this since years, I cannot reproduce it with NvDA 2020.1. Closing as abandoned and works for me.

[2020-05-13 10:15] #6373 closed

[2020-05-13 10:17] Adriani90 commented on #5173
No updates on this issue since years. I am closing this as abandoned. I cannot reproduce it with NVDA 2020.1 and different versions of Outlook.

[2020-05-13 10:17] #5173 closed

[2020-05-13 10:28] leonardder commented on #6245
Performance is still far from perfect, if not very bad in Task Manager. Confirmed by @zersiax that the current slowness seems to be NVDA specific.

[2020-05-13 10:30] leonardder commented on #6245
Related to #11109, #11077, #11002, #9465

[2020-05-13 10:31] Adriani90 commented on #10163
I cannot reproduce this with NVDA 2020.1 in Outlook 2010 or Outlook 2016 or 365. Closing as works for me. Please comment on this issue if my suggestions above did not help and we can reopen.

[2020-05-13 10:31] #10163 closed

[2020-05-13 11:10] zersiax commented on #11109
Maybe this is beating a dead horse just a little, but:
Why is 230 (!) events fired for that simple selection change?
It sounds to me like NVDA can certainly improve in this area if Narrator is able to persevere through that flood of events, but it also sounds like WAY too many events are fired. Do we know anything about why this is happening, and if it is a problem with:
- This particular instance

[2020-05-13 11:11] feerrenrut commented on #11156
There isn't much to go on here. What GUI framework do you use? Are you trying to implement the accessibility API yourself? I assume this is an IAccessible2 call that fails. As I understand, it is the Accessibility API provider's responsibility to manage the life-cycle of objects (see https://docs.microsoft.com/en-gb/windows/win32/winauto/creating-proxy-objects). This is just guesswork as to what m

[2020-05-13 11:23] Adriani90 commented on #9264
Well the first expectation is to hear the author and the subject as it is when you navigate in the message list with arrow keys. For keeping consistency I would say it makes sense to hear the same things when switching between messages with the commands in the issue title.
Anyway, it seems issue #10734 contains more information on this issue. I am closing this one as duplicate in favor of that one

[2020-05-13 11:23] #9264 closed

[2020-05-13 12:26] mwhapples commented on #11156
To answer your questions specifically, although they were answered in the original report.
GUI toolkit, Eclipse SWT.
Is Accessibility API implementation: Relying on the built in SWT accessibility, which in turn uses native controls and I believe uses IAccessible on Windows.
I referred to an Eclipse bug report which seems to relate to a similar issue. However within those comments it seemed like it

[2020-05-13 17:23] amirsol81 commented on #11132
Hi. NVDA also repeats sentences until a "period" is encountered. For instance, open https://www.zdnet.com/article/i-just-dumped-one-of-apples-worst-most-beautiful-products
NVDA repeats many sentences in continuous reading. The first repeated one is "It all must have seemed like a good idea at the time." It is located after the first heading. Simply place the cursor on the heading, or even on the l

[2020-05-13 17:24] leonardder commented on #11125
Not yet, this was based on python 3.8 docs.

[2020-05-13 17:28] leonardder commented on #7834
I think we really need to consider rewording the focus win event hook error message to point out that a restart is advised. I recall I suggested this earlier, just don't know where.

[2020-05-13 19:34] Adriani90 opened #11161 "Mail clients: reporrt only the content of message body when opening an email with enter or with the mouse"
### Steps to reproduce:
1. Open a mail client of your choice, I tried with Outlook and Thunderbird
2. Focus a mail in your mail list
3. Press enter or open it with the mouse

### Actual behavior:
NVDA reports its subject, sometimes multiple times.

### Expected behavior:
NVDA should actually start reporting  the first line of the message body since the author and the subject are already known from

[2020-05-13 19:36] Adriani90 commented on #11161
What I am suggsting here is kind of a standard which should apply for all mail clients. I know that NVDA will not be abled to achieve this for every client, but at least for Outlook and Thunderbird this would be quite nice.

[2020-05-13 19:37] Adriani90 commented on #11157
Closing in favor of #11161.

[2020-05-13 19:49] Adriani90 commented on #9172
Thanks for the info Jamie. Is this something which could be improved via displaymodel? I mean is there any possibility to track such inaccessible edit fields via GDI calls or so? It's just for my understanding. I don't think this would be viable, probably it would have also negative impacts on performance and stability if possible at all.

[2020-05-13 19:49] Dennisl123 commented on #11157
Why has this been closed?

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 3:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Closed #11157 <https://github.com/nvaccess/nvda/issues/11157> .

—

[2020-05-13 19:50] Adriani90 commented on #9169
@Qchristensen could you check on an update for this one? Is the user still having this issue with NVDA 2020.1? I cannot reproduce it on Windows 10 1909 update.

[2020-05-13 19:51] Adriani90 commented on #11157
See issue #11161

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 21:50
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; State change <state_change@noreply.github.com>
Betreff: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Why has this been closed?

From: Adriani90 <notifications@g

[2020-05-13 19:52] Dennisl123 commented on #11161
My issue shouldn't have been closed.  I am asking for an option to have it automatically read the first line or not.  This is not currently available.

[2020-05-13 19:53] Dennisl123 commented on #11157
Unless I’m missing something It reads the first line I don’t want that.  Reading the subject and sender is fine I don’t want it reading the body of the email automatically.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 3:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/n

[2020-05-13 19:58] Adriani90 commented on #11157
Then see issue #3020. And please try to fill the template with a clear description of your expected behavior in the future. Then we can make sure that discussions are meaningful and investigations are going faster without lots of simple questions. Thanks.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 21:54
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <ad

[2020-05-13 20:03] Adriani90 commented on #9163
This is still reproducible in Firefox 76 and Chrome 81.
cc: @jcsteh, @aleventhal

[2020-05-13 20:04] Dennisl123 commented on #11157
How do I find issue 3020?

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 3:59 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Then see issue #3020. And please try to fill the template with a cl

[2020-05-13 20:08] Adriani90 commented on #11157
If you open the link “issues” on this repository, then you press “e” to go to the edit field. There is already a code snippet filled, that is “is:issue is:open”. After “open “ you just inut the number 3020. And then you can navigate through the search results for example with k to jump from link to link.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:05
An: nvacces

[2020-05-13 20:09] jcsteh commented on #9163
Pressing "t" moves you to the start of a table, like all other quick navigation keys move to the start of something. When a table has a description, it gets rendered as text at the start of the table so you can read through the description with the cursor keys, etc. So, the cursor really *isn't* in a table cell at that point. The only way to fix this would be to not render the description as navig