[2017-07-14 02:18] #5225 closed

[2017-07-14 02:21] #5298 closed

[2017-07-14 02:21] jcsteh commented on #5298
Closing as worksforme. Please provide details if the specific problem persists.

[2017-07-14 02:22] #5273 closed

[2017-07-14 02:23] jcsteh commented on #5273
No additional info from reporter (and no way to contact). Closing.

[2017-07-14 04:00] Qchristensen commented on #3679
Do we know what objects the original person had in mind?  The elements list can be used to jump to charts, which is probably the best real world case I can think of.  Objects such as shapes have accessibility issues anyway.  Theoretically, if and when we were able to get more information about shapes (not to mention insert them), having a category to reach them on the elements list could theoretic

[2017-07-14 04:01] leonardder commented on #3953
@k-kolev1985, Thanks for investigating. Is this selected bug you mention not present on Total Commander X64? If not, I suggest we'd just let it go.

[2017-07-14 04:01] #3953 closed

[2017-07-14 04:02] leonardder commented on #2818
Thanks a lot! Closing as works for me.

[2017-07-14 04:02] #2818 closed

[2017-07-14 04:03] leonardder commented on #3270
Ah, that's helps a lot Rui, thanks!

@Elliott94, turns out that you are using Office 2010. Would you be able to do a word count in a document and could you please report whether you are able to read the statistics dialog?

[2017-07-14 04:05] leonardder commented on #5495
Closing as works for me, as the author says so. Please request a reopen if this is still occurs at some point.

[2017-07-14 04:05] #5495 closed

[2017-07-14 04:10] leonardder commented on #5423
To be sure, also for combo boxes, or only form fields? It sounded like
you only prefer the latter.

I'm happy to do this, however I wonder whether we should consider doing
more quick nav related work in one pr. It is likely that multiple prs
will lead to merge conflicts after every single merge, which causes some
unnecessary extra work.

[2017-07-14 06:16] k-kolev1985 commented on #3953
@leonardder Yes, the "selected" bug is not present in Total Commander x64.

[2017-07-14 07:05] Qchristensen opened #7394 "Update User Guide to reflect change in caret location when selecting text, as per #4636"
When the review cursor behaviour was changed to require pressing NVDA+f10 twice to copy (issue #4636), the caret is now moved when the text is selected.  In the explanation for the Review Cursor (second paragraph): https://www.nvaccess.org/files/nvda/documentation/userGuide.html#ReviewingText it is noted that when moving the review cursor, the system caret does not follow, so it is worth clarifyin

[2017-07-14 07:18] tspivey opened #7395 "Sometimes unusably slow after restart"
STR:
1. Restart NVDA

After that, NVDA is unusably slow.
If I reboot, this problem goes away for anywhere from a few minutes to a few weeks.

It doesn't happen all the time, either.

I can load Narrator or JAWS at that point and they both seem to work well enough for me to reboot.

Win10 build 1703, NVDA next-14176,be0a44e4.

I managed to get NVDA restarted with debug logging, here is the part of

[2017-07-14 07:26] leonardder commented on #7395
Have you seen this without add-ons loaded?

[2017-07-14 07:32] tspivey commented on #7395
Yes. I once tried to restart with add-ons disabled, but it didn't help.

[2017-07-14 07:59] Brian1Gaff commented on #7395
Couple of things, have you seen the slow down thread in the nvda normal mail
list, which suggests a lot of software activity used to create special audio
mode, enhanced, which gets switched on after a windows update making a core
max out where nvda is living.
 Another thought is the good old idling rate of the processor being set too
low. All those watchdog core frozen in stack looks just like wha

[2017-07-14 10:09] sharkboyto opened #7396 "Microsoft Word Highlighted text"
I,
form my work, I get from my colleges, different word processing documents. These documents (*.doc and *.docx), contain highlighted text and barred text .
I have important information about this text,but i can not understand by nvda, i do not use braille.

Can you put these features in nvda?

Thank you.

[2017-07-14 10:16] sharkboyto commented on #7386
Hi, in the most recent Firefox update, Firebug is not supported. In the official Firebug site It is recommended to use the Firefox Developer Tools. I have installed a portable Firefox version on my system, add the firebug addon, the 2.0 version, the lastone, but in the option menu, there isn't the accessibility option for switch on/off the feature. Any suggestion?
Unfortunately, I do not just debu

[2017-07-14 10:34] leonardder commented on #3230
Can't reproduce this with recent thunderbird and NVDA next. Closing as works for me.

[2017-07-14 10:34] #3230 closed

[2017-07-14 12:18] leonardder commented on #1442
At least for progress bars when sending mail, I can't reproduce this, they are reporting just fine. Same for the receiving progess bar I belief, although I don't see it very often.

Closing as works for me, but please give a shout if you belief this still occurs.

[2017-07-14 12:18] #1442 closed

[2017-07-14 12:21] leonardder commented on #3589
@QChristensen, here is another mouse tracking bug. May be we should close some of these and use one issue for all these mouse tracking issues.

[2017-07-14 12:22] leonardder commented on #2590
@JCSTeh: Would you think this makes sense if #4877 is there and language switching between synthesizers is supported?

[2017-07-14 12:25] leonardder commented on #2598
I can somehow reproduce this in IE11, at least it looks quite strange in browse mode. I ged File location: on one line, and an unlabelled button below.

[2017-07-14 12:28] leonardder commented on #2654
This website is likely to have changed, also browsers and NVDA have changed/improved things. Closing, as this website overall looks not too bad. See also #1904. Please comment if you feel there is still an issue with this website. If so, please elaborate on why and how you think the problems are NVDA specific.

[2017-07-14 12:28] #2654 closed

[2017-07-14 12:57] leonardder commented on #2616
@Brian1Gaff: Do you still experience this issue?

[2017-07-14 12:59] leonardder commented on #2617
@pitermach: Do you still belief this should be implemented?

[2017-07-14 13:01] leonardder commented on #2641
@jpgreer, are you the jpgreer that opened this issue? If so, could you tell whether this is still happening for you?

[2017-07-14 13:01] leonardder commented on #4131
CC @JosephSL

[2017-07-14 13:06] leonardder commented on #4154
Honestly, I find it a bit hard to understand what the initial reporter is trying to bring up here. Encouraging people to use quick navigation seems to be a bit out of scope from a development perspective. The out of table, out of list messages can be disabled using the document formatting dialog for elements you don't want this announcement for.

Closing as invalid, but feel free to provide additi

[2017-07-14 13:06] #4154 closed

[2017-07-14 13:07] #1678 closed

[2017-07-14 13:08] leonardder commented on #2459
@JosephSL: Do you have anything to add here?

[2017-07-14 13:10] leonardder commented on #3325
IE10 metro is replaced by edge in Windows 10, and I belief alerts are working in Edge just fine. Closing as won't fix.

[2017-07-14 13:10] #3325 closed

[2017-07-14 13:12] leonardder commented on #3333
Closing n favour of newer duplicate #5874

[2017-07-14 13:12] #3333 closed

[2017-07-14 13:13] leonardder commented on #3333
See also #7194 and #6619

[2017-07-14 13:16] leonardder commented on #2670
CC @Elliott94

Closing in favour of #4874, which has more replies. This is likely to get fixed by #4877.

[2017-07-14 13:16] #2670 closed

[2017-07-14 13:17] leonardder commented on #3609
CC @tspivey @JCSTeh

[2017-07-14 13:19] leonardder commented on #3984
Closing as duplicate of #1956 and #3207

[2017-07-14 13:19] #3984 closed

[2017-07-14 13:29] leonardder commented on #3615
This is likely to have changed, and for me it is perfectly accessible. Closing as works for me.

[2017-07-14 13:29] #3615 closed

[2017-07-14 13:34] leonardder commented on #4007
It is likely that Facebook is devoting all their work to the Windows 10 app. I'm happy to change the title of this issue to cover the Windows 10 app for facebook, if there are similar problems in that app.

CC @JosephSL

[2017-07-14 13:36] leonardder commented on #4016
It is already possible to add and change symbols. However, the specific behaviour to change the pronunciations based on situation as suggested above, is currently only people using regex in the symbols file itself. Personally, I belief we should keep it that way. @JCSTeh, thoughts?

[2017-07-14 13:39] leonardder commented on #4019
@vgjh2005: Would you be able to reword your initial comment a bit? I'm afraid I don't completely understand what you were trying to say.

[2017-07-14 13:41] leonardder commented on #3722
I can't reproduce this with the provided str, but I recall cases where I alt+tab back into the log viewer and a ding sound is played.

[2017-07-14 14:08] k-kolev1985 commented on #4007
@leonardder Yes, the Facebook team is concentrated on the app for Windows 10. But its current state in regards to accessibility is not very good. The log in page is not accessible at all, it seams. If you manage to log in, you can read controls with TAB. But that is about it, based on my observations. Hope it will improve soon, but who knows...

[2017-07-14 14:30] ehollig commented on #6002
This does not happen for me using Outlook 2016 and latest NVDA. @PratikP1, is this still an issue?

[2017-07-14 14:32] PratikP1 commented on #6002
It is still an issue. It’s related to messages with layout tables.

[2017-07-14 14:55] vgjh2005 commented on #4019
Hi:
My meaning is that support mouse wheel controlling with keyboard. The second thing is  enable to set two point ( a start point and an end point) to drag down the mouse from those point with mouse clicking.

[2017-07-14 15:06] vgjh2005 opened #7397 "Chinese character will be announced twice in CMD application window."
Hi:
### Steps to reproduce:

2. Press numpad4 or numpad 6 to navigate the window to find Chinese character.
### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:all

NVDA Installed or portable: install

Other information:

Windows version:windows 10 any version

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other vers

[2017-07-14 16:14] vgjh2005 opened #7398 "In internet explorer, area elements alt attribute text will be ignored."
### Steps to reproduce:

2. Press tab key to navigate to those area elements in the page
### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:2017.2

NVDA Installed or portable:install

Other information:

Windows version:windows 7 above

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after res

[2017-07-14 16:24] vgjh2005 opened #7399 "In internet explorer, using newest OCR function will break browse mode."
Hi:
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:next-14188

NVDA Installed or portable:install

Windows version:windows 10 1703

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

[2017-07-14 17:02] josephsl commented on #4007
Hi, yes, please do change the title. Also, it might be time to send a stronger love letter to Facebook regarding accessibility problems in their universal app. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Friday, July 14, 2017 6:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re

[2017-07-14 17:38] leonardder commented on #4019
Windows has a feature called [mouse keys](https://support.microsoft.com/en-us/help/14204/windows-7-use-mouse-keys-to-move-mouse-pointer) which allows you to control the mouse with the keyboard. Furthermore, you can route and click and hold the mouse with NVDA, which allows you to drag and drop with the mouse. I still don't see why supporting a scroll wheel would be helpful. Scroll wheels aren't av

[2017-07-14 17:42] leonardder commented on #7399
I assume you were testing this with NVDA Next, right?

CC @JCSTeh. Related to #7361

[2017-07-14 17:56] dkager commented on #2409
There is quite a lack of information for this issue. Marking it as invalid.

[2017-07-14 17:56] #2409 closed

[2017-07-14 18:01] dkager commented on #2416
Can't reproduce with GoldWave v6.28 and NVDA 2017.2.

[2017-07-14 18:01] #2416 closed

[2017-07-14 18:04] dkager commented on #2420
The two things I can think of:
1. Network issues at the time of the report.
2. The antivirus software taking extra long to scan the executable.

Closing this one because 2012.2 is well behind us.

[2017-07-14 18:04] #2420 closed

[2017-07-14 18:08] dkager commented on #2443
This doesn't sound familiar to me (in browse mode with braille). A bit of clarification would be nice.

[2017-07-14 18:11] dkager commented on #2456
Any relation to the "Handle keys from other applications" setting?

[2017-07-14 18:13] dkager commented on #2461
Closing as @josephsl suggested.

[2017-07-14 18:13] #2461 closed

[2017-07-14 18:23] dkager commented on #2490
Closing because of a lack of feedback from the original reporter. This character (sharp 's', ß) is pronounced correctly if you arrow over it with the default espeak-ng langauge (english).
If the problem lies in reading this character as part of a word it would be nice to have a new issue with steps to reproduce.

[2017-07-14 18:23] #2490 closed

[2017-07-14 18:26] dkager commented on #2494
See also #2976, which is broader in scope.

[2017-07-14 18:33] dkager commented on #2515
@leonardder You are WLM wizard. Is there still a working version of this software?
CC @brian1gaff

[2017-07-14 18:35] dkager commented on #2536
It seems unlikely that the particular type of braille display is the issue. Closing because clear STR are missing.

[2017-07-14 18:35] #2536 closed

[2017-07-14 19:09] leonardder commented on #2462
I'm able to do these things just fine. Furthermore, it is likely that many things have changed in Facebook, browsers and NVDA. Closing as works for me, but please get into contact if you think this is still not functioning as it should. IN that case, please make sure that the problem is NVDA related and not just Facebook being bad in a11y.

[2017-07-14 19:09] #2462 closed

[2017-07-14 19:11] leonardder commented on #2515
WLM is discontinuued and the last version was 2012, not 2009 as @Brian1gaff pointed out. Closing as won't fix.

[2017-07-14 19:11] #2515 closed

[2017-07-14 19:13] leonardder commented on #2494
[**@derekriemer**](https://github.com/derekriemer) commented on [12 apr. 2017 10:57 CEST](https://github.com/nvaccess/nvda/issues/2494#issuecomment-293516105 "2017-04-12T08:57:31Z - Replied by Github Reply Comments"):

How do you mean your question? I guess dictation bridge would be able to execute the NVDA key and its input will be handled by NVDA as long as Handle keys from other applications is

[2017-07-14 19:15] leonardder commented on #2609
@dave090679: assuming you are the initial author of this ticket, it might be best to publish your plugin as an add-on, in case we will close this. I think it is nice functionality, but not a fit to NVDA core. Routing is meant for routing in the first place.

[2017-07-14 19:16] leonardder commented on #2456
cc @DerekRiemer

[2017-07-14 19:16] leonardder commented on #2443
@Tspify: Do you still consider this a bug and if so, could you provide the attachment again?

[2017-07-14 20:46] dkager commented on #2317
Hard to track down the problem, but I doubt if the braille display being used is the cause.

[2017-07-15 07:19] leonardder commented on #4010
I can't reproduce this in [Table test.docx](https://github.com/nvaccess/nvda/files/1150148/Table.test.docx). However, when in the second row of the table, arrowing right announces a non-existent, second column.

[2017-07-15 07:20] leonardder commented on #4024
@ashleycox, are you the ashleycox that opened this issue? If so, could you provide a status update?

[2017-07-15 07:24] leonardder commented on #3841
Hmm, is NVDA supposed to announce these shortcut keys? NVDA should only do this when speak command keys is on, and the reporter didn't provide this information unfortunately.

[2017-07-15 07:25] leonardder commented on #3843
@JCSTeh: Is this XP only? If so, we can safely close as won't fix.

[2017-07-15 07:30] leonardder commented on #1351
@JCSTeh: seems that this is still a valid issue, but it probably doesn't have much priority due to the abandoned state of this.

Since we are talking about library.zip here, I wonder, is it possible for people to inject malicious modules in this file? Or is there some hidden place where Py2exe checks for md5sums or the like on library.zip?

[2017-07-15 07:31] leonardder commented on #1428
CC @JCSTeh

[2017-07-15 07:33] leonardder commented on #2139
@JCSTeh: Should we close this as won't fix in favour of kindle/QRead, which are both accessible solutions now?

[2017-07-15 07:35] leonardder commented on #2696
CC @FeerRenrut:

It seems that it is the plan to move next to Espeak-NG master on a regular basis. Should we still consider this additional snapshots? Would people ever need them?

[2017-07-15 07:37] leonardder commented on #3031
It seems we are still at txt2tags 2.6. I assume it is still not possible to upgrade due to this issue?

CC @JCSTeh

[2017-07-15 07:38] leonardder commented on #3393
@JCSTeh: How is this related to #4877, e.g. will #4877 contain code that will bring this issue forward somehow?

[2017-07-15 07:42] leonardder commented on #4345
CC @JCSTeh

[2017-07-15 07:43] leonardder commented on #4554
cc @JCSTeh @DKager

[2017-07-15 07:49] leonardder commented on #5231
@josephsl: Is the needs code review label still valid for this issue?

[2017-07-15 07:50] leonardder commented on #2797
cc @JosephSL

[2017-07-15 07:53] leonardder commented on #5156
I'm closing this as works for me, based on the last two comments by @JosephSL. WLM is discontinued anyway and there are well working alternatives.

[2017-07-15 07:53] #5156 closed

[2017-07-15 07:56] leonardder commented on #4010
Closing as works for me. Regarding the issue I mentioned above, that one has a separate issue (#4876)

[2017-07-15 07:56] #4010 closed

[2017-07-15 07:59] leonardder commented on #2998
@JosephSL: Do you have experience with on screen keyboards?

[2017-07-15 08:00] leonardder commented on #3019
@sumandogra: Can you still reproduce this?

Note that this might be a real editable field, but it is probably read only. Does NVDA provide the latter information as well?

[2017-07-15 08:02] leonardder commented on #3020
@sumandogra: Can you still reproduce this? If so:

1. Is the message being read inside or outside browse mode?
2. If the former, do you have automatic say all on page load enabled in your browse mode settings?

[2017-07-15 08:03] leonardder commented on #3021
@sumandogra: Can you still reproduce this?

[2017-07-15 08:06] leonardder commented on #3025
This might be related to #6743 and #3020

CC @mohammad-suliman

[2017-07-15 08:08] leonardder commented on #3027
Hmm, interesting Idea. Note that speak typed characters only speaks a typed character for characters that are really typed. May be we could modify the function of speech interrupt in a similar way? CC @JCSTeh

[2017-07-15 08:14] leonardder commented on #4799
Seems like the sapi4 runtime didn't get cleaned up correctly. This is not a bug in NVDA, unless we should change the check method on the SynthDriver class. But since SAPI4 is very old anyway and it is not a live disrupting issue, closing as won't fix.

[2017-07-15 08:14] #4799 closed

[2017-07-15 08:19] leonardder commented on #2278
See [Table with empty columns and rows.docx](https://github.com/nvaccess/nvda/files/1150176/Table.with.empty.columns.and.rows.docx)

Strange enough, this table was very buggy in terms of table navigation when I kopied it from Excel to Word 2016, but when I restarted Word, all seemed fixed.

[2017-07-15 08:45] vgjh2005 commented on #4019
Hi:
Actually, there are more scenes that will use the mouse click. NVDA can't do anything for those software that no content can be found and browsed in. For example native kontakt.
Windows mouse keyboard isn't used for blind. Because they don't know which place should be clicked. Or mouse is unuseless for those clickable scene. The reason is that we can use navigator object to insted of it. Howev

[2017-07-15 09:57] dkager commented on #4554
I have been meaning to add the necessary functions to the Python wrapper, but haven't done so yet.
One potential problem is that liblouis has its own log levels, which don't map to NVDA log levels. For example, I think most of what liblouis logs shouldn't be included in NVDA's default (info) level.

[2017-07-15 10:54] Mohamed00 commented on #5232
I am the original reporter of this issue. This problem occurred in Windows 8, and I believe it may have been before NVDA had Ease of Access integration. I don't see this issue as of the latest version of NVDA, and unless this is still happening, I believe it should be closed.

[2017-07-15 11:40] leonardder commented on #5232
Ok, thanks for coming back to this. Closing as works for me, but as @Mohamed00 mentioned, please give a shout if this is still the case for you.

[2017-07-15 11:40] #5232 closed

[2017-07-15 12:06] leonardder commented on #3697
CC @BDorer

Excel 2003 is getting very old and obsolete. Since this issue is not disruptive in a major way, closing as won't fix.

[2017-07-15 12:06] #3697 closed

[2017-07-15 12:11] leonardder commented on #3704
@vgjh2005: Can you still reproduce this?

[2017-07-15 12:18] leonardder commented on #3737
CC @sumandogra

I belief this is not a bug in NVDA

When I open excel 2016 en enter a string containing a link, Excel simply doesn't treat it as a link. Instead, you can press application key and insert a link on a cell. A cell can only contain one link.

Closing as invalid. If you belief I am in error, please give a shout.

[2017-07-15 12:18] #3737 closed

[2017-07-15 12:20] leonardder commented on #2246
This functionality sounds like it should be a magnifier function. I don't belief NVDA should have such functionality in core. There's no problem putting this in an add-on, though.

Closing as won't fix, but if you have comments or solid use cases for this feature, feel free to comment.

[2017-07-15 12:20] #2246 closed

[2017-07-15 12:23] leonardder commented on #2283
Superseeded by #649. Closing as duplicate.

[2017-07-15 12:24] #2283 closed

[2017-07-15 12:26] leonardder commented on #6066
This is very easy to do. For example, see the miranda64 appModule. Marking as good for new dev.

[2017-07-15 12:28] leonardder commented on #2125
Closing as duplicate of #4640. Even though this issue is older, #4640 contains more discussion.

[2017-07-15 12:28] #2125 closed

[2017-07-15 12:39] leonardder commented on #1825
@JCSTeh: What do you think about this now? I'm tempted towards a close.

[2017-07-15 13:02] leonardder commented on #2245
@QChristensen, could you try to reproduce this? Should we treat this as duplicate of one of the other mouse issues #3590 or #3591?

[2017-07-15 13:08] leonardder commented on #2051
This issue looks abandoned. Closing, as it seems to be related to a specific user system. Furthermore, Windows Live is deprecated.

[2017-07-15 13:08] #2051 closed

[2017-07-15 13:10] leonardder commented on #4118
Seems like a one time occurrence, given the abandoned state of this ticket. An option to clear the profile is suggested in #6869.

[2017-07-15 13:10] #4118 closed

[2017-07-15 13:12] leonardder commented on #4806
@bhavyashah: Could you still reproduce this with Avira?

[2017-07-15 13:16] leonardder commented on #4807
@bhavyashah: Could you provide brand and type of your laptop? It is very unlikely that this can be fixed, as these keys are probably handled by the laptop on bios level. For example, if I press fn+1 on my laptop, the fan starts spinning continuously. NVDA is unable to report this.

@JCSTeh: I'm tempted towards a won't fix here, but may be you can give a more proper explanation of why this is proba

[2017-07-15 13:21] leonardder commented on #4529
Fixed in #6414. It is no longer possible to exceed the limit for this option.

[2017-07-15 13:21] #4529 closed

[2017-07-15 13:26] leonardder commented on #3930
CC @k-kolev1985

@JCSTeh: Honestly I've never understood why "Report role when mouse enters object" isn't the default. May be we can extend this option to have the control under the mouse reported based on the output for REASON_FOCUS?

[2017-07-15 13:30] leonardder commented on #3945
@PZajda: Thanks for your request. However, closing as won't fix due to two reasons:

1. As you mentioned, the table contents is at the top of the user guide. The top heading is Level 1, so you can also jump back to shift+1.
2. This would add a massive amount of back to top links, which would disrupt quick navigation by link. Furthermore, we would have a massive amount of extraneous links in the el

[2017-07-15 13:30] #3945 closed

[2017-07-15 13:36] leonardder commented on #3087
This sounds similar to #3230, the author of that issue also used UEB grade 2.

Honestly, I'm tempted to close this, as the Pacmate is getting quite old and it is mainly used as a stand alone note taker.

Any UEB Grade2 user who can reproduce this with another display? I will close this at the end of next week if we haven't received additional comments.

[2017-07-15 13:38] leonardder commented on #4070
Closing as duplicate of #4007

[2017-07-15 13:38] #4070 closed

[2017-07-15 13:40] leonardder commented on #5772
Can you still reproduce this? Chrome is working just fine here, except for the odd legacy windows you get sometimes

[2017-07-15 13:43] leonardder commented on #5805
I can reproduce this with Word 2016.

CC @MichaelDCurran

[2017-07-15 13:44] leonardder commented on #5786
@khsbory: What Hims display are you using?

[2017-07-15 13:47] leonardder commented on #5828
Hmm, if the page isn't fully loaded, it is likely that the elements list will give inaccurate results.
@JCSTeh: Do you think we should a consider a refresh button in the elements list? If not, I'd go for a close as invalid.

[2017-07-15 13:50] leonardder commented on #5728
What Gecko version is this control based on? Seems like NVDA is unable to retrieve the version of it. May be we should use a default assumption in this case.

[2017-07-15 13:55] leonardder commented on #5477
I can still reproduce.

@JCSTeh: Seems something went wrong in assigning labels to this.

[2017-07-15 13:57] leonardder commented on #5760
@JosephSL: Do you have plans to send in a pr to incorporate this AppModule into core?

[2017-07-15 14:19] dkager commented on #4293
What is being requested here? NVDA can already report the current character and show the cursor position in braille.

If the request is to report the physical position of the cursor, then I wonder about the use case.

[2017-07-15 14:19] abdullah5490 opened #7400 "feature suggestion - make progress bars readable manually"
hi there. Here i'm once again, not with a bug report, but with a feature suggestion. As the subject line said, the feature to make progress bars readable manually. I mean, with a keystroke. A new key mapping should be created, through which NVDA can read the progress bar visible in current windows fourcely. As the current possibilities, the progress bars can only be spoken when it changes the posi

[2017-07-15 14:23] dkager commented on #4286
Assuming the reported problem is that speech doesn't announce the selected package when arrowing up/down.
Can't reproduce with Eclipse Neon.

[2017-07-15 14:23] #4286 closed

[2017-07-15 14:26] jscholes commented on #5728
I used XULRunner 33.0 (built on 2014-10-11 according to the included platform.ini).  The GeckoFX .Net bindings seem to have been updated recently, but I haven't looked at this since filing the original ticket.

[2017-07-15 14:30] ehollig commented on #1438
This is not the case anymore with Firefox 54.0.1.

[2017-07-15 14:54] ehollig commented on #950
I am not able to replicate this, and it is hard to say what the issue is, as there was no log provided.

[2017-07-15 15:02] ehollig commented on #965
I am  able to read the links and text on the main page of the vatican.va website in browse mode. Maybe the website changed over the years since this ticket was created.

[2017-07-15 15:08] ehollig commented on #972
Is this still the case? The latest version of SeaMonkey is 2.46.

[2017-07-15 15:11] ehollig commented on #976
Miranda has been superseded by Miranda NG. If this still occurs with the latest Miranda, please provide a log or open a new ticket.

[2017-07-15 15:14] ehollig commented on #980
As @jcsteh said in a previous comment, this is an unhelpful report. Not enough information has been provided.

[2017-07-15 15:28] ehollig commented on #964
Is this still an issue? It sounds like it only happens on XP machines. CC @Brian1Gaff

[2017-07-15 15:30] ehollig commented on #987
I am not able to replicate this. Facebook and Firefox has changed quite a bit over the years.

[2017-07-15 15:35] ehollig commented on #1009
This does not sound like a bug in NVDA. Since SAPI4 is very old anyway and it is not a live disrupting issue, should this be closed?

[2017-07-15 15:52] ehollig commented on #1201
@jcsteh is this still the case? I did not see anything alarming in the log when I performed the steps that you provided.

[2017-07-15 15:57] ehollig commented on #1269
I am able to access all buttons in scientific calculator using Windows 10, although the original author states use of XP. Can anyone replicate?

[2017-07-15 16:30] josephsl commented on #5231
Hi, yes, until the PR appears and/or accepted. I’m being careful with looping selectors, as they can change between Windows 10 releases and across apps. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 12:50 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [n

[2017-07-15 16:45] josephsl commented on #1269
Hi, in order to reproduce this, someone should try this with Windows 7. Thanks.

From: ehollig [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 8:58 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Some buttons in calculator are inaccessible (#1269)

I am able to access all buttons in scientific calculator usi

[2017-07-15 16:46] josephsl commented on #980
CC @DerekRiemer, any updates?

From: ehollig [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 8:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA doesn't really work all the way with audacity (#980)

As @jcsteh <https://github.com/jcsteh>  said in a previous comment, this is an unhelpful report. Not eno

[2017-07-15 16:47] dkager commented on #2601
Closing as fixed based on the status of [the Mozilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=786163). Please reopen if I'm too hasty (and resurrect the code sample mentioned).

[2017-07-15 16:47] #2601 closed

[2017-07-15 16:48] abdullah5490 commented on #5772
no, @leonardder its fine now in usage of brows mode. but that legacy windows is remain as problem now. and, while browsing the web, the virtual curser move at the beginning of the page everytime whenever I exit from a edit field etc.

[2017-07-15 16:49] josephsl commented on #7400
Hi, for most cases, object navigation will let you navigate to and read progress bars. Note that this requires implementation-specific modifications, as different API’s expose progress bars differently and some controls are nonstandard progress bars or does not expose proper information. Thanks.

From: abdullah5490 [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 7:20 AM
To: nvacces

[2017-07-15 16:54] josephsl commented on #5760
Hi, for most situations, live region change event should take care of this. The most annoying side effect as a result is output conflict when speak typed characters is enabled and entering expressions, and if live region change event isn’t careful, it results in duplicate announcements or extraneous text will be announced. I’m investigating this as part of a general upgrade to Windows 10 Calculato

[2017-07-15 17:11] leonardder commented on #5772
Ok. Closing this issue as works for me. Please find or open other issues for the other issues you're having. I belief there's at least one issue for the legacy windows, but this needs a fix by Google.

[2017-07-15 17:11] #5772 closed

[2017-07-15 17:15] leonardder commented on #1009
I agree. This could probably have been fixed by removing the broken engine, hacking te registry or even reinstalling the system.

[2017-07-15 17:15] #1009 closed

[2017-07-15 17:19] leonardder commented on #976
I guess we can leave this open for Miranda NG as well. Nevertheless, this issue is very old and abandoned.

Anyone with Miranda who can reproduce this? I'll leave this open for next week and will close if we haven't gotten any similar reports. This issue can always be reopened if this is still the case.

Also note that this probably depends on what messaging plugin one is using. For example, Scriv

[2017-07-15 17:21] leonardder commented on #965
For website specific issues, it is quite unlikely that NVDA is the cause of the problem.

@dgoldfield: If you are the dgoldfield that opened this issue, could you please give information on the status of this issue?

[2017-07-15 17:22] leonardder commented on #987
[**@ehollig**](https://github.com/ehollig) commented on [15 jul. 2017 17:30 CEST](https://github.com/nvaccess/nvda/issues/987#issuecomment-315541804 "2017-07-15T15:30:48Z - Replied by Github Reply Comments"):

Very likely indeed. Closing as works for me.

[2017-07-15 17:22] #987 closed

[2017-07-15 17:24] leonardder commented on #972
This issue is abandoned for more than six years, furthermore, Facebook has changed multiple times since then. Closing. If this is still the case, please provide a new issue with steps to reproduce, and at least try to reproduce with multiple browsers.

[2017-07-15 17:24] #972 closed

[2017-07-15 17:26] leonardder commented on #950
Facebook has changed multiple times over the years, so has Firefox, and I've never been able to reproduce this. Closing.

[2017-07-15 17:26] #950 closed

[2017-07-15 17:27] leonardder commented on #1438
Closing as works for me.

[2017-07-15 17:27] #1438 closed

[2017-07-15 17:28] dkager commented on #2696
In light of #6733 I would say that yes, people would use this. However, table changes in liblouis require some manual work. So I'm not sure about the maintenance burden.

[2017-07-15 17:30] leonardder commented on #2506
@elliott94: As you were able to provide a log regarding this website, do you think this issue is still present?

[2017-07-15 17:33] dkager commented on #2707
CC @josephsl

[2017-07-15 17:38] dkager commented on #2723
The mentioned [Python issue](https://bugs.python.org/issue9090) is fixed in Python 2.7.

[2017-07-15 17:38] #2723 closed

[2017-07-15 17:42] dkager commented on #2732
@elliott94 Is this still a problem?

[2017-07-15 17:51] dkager commented on #2735
@jcsteh Wontfix? The software is old and was meant for Windows Vista only - [source](https://support.microsoft.com/en-us/help/931937/description-of-windows-mobile-device-center). Notetaker users may depend on WMDC, but then we are quite late with adding support. :)

[2017-07-15 17:52] josephsl commented on #2707
Hi, does not happen on Windows 10, so limiting the scope to Windows 8.1 for now.

From: Davy Kager [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 10:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Error heard when switching input languages in Windows 8 (#2707)

CC @josep

[2017-07-15 17:53] dkager commented on #2739
No further information from reporter.
CC @derekriemer

[2017-07-15 17:53] #2739 closed

[2017-07-15 17:54] josephsl commented on #2735
Hi, I have received reports that this doesn’t even work on latest Windows 10 builds, so I’d say let’s close this.

From: Davy Kager [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 10:51 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] windows mobile device center is unaccessible with Nvda (#2735)

@jcsteh <ht

[2017-07-15 17:55] dkager commented on #2747
Closing for lack of information.

[2017-07-15 17:55] #2747 closed

[2017-07-15 17:59] #2735 closed

[2017-07-15 18:03] btman16 commented on #5760
Hello,

Why is this needed?

I ask because NVDA can already read the display as it changes.

Thanks,

Brandon

 ----- Original Message -----
From: Joseph Lee <notifications@github.com
To: nvaccess/nvda <nvda@noreply.github.com
Date sent: Sat, 15 Jul 2017 16:54:15 +0000 (UTC)
Subject: Re: [nvaccess/nvda] NVDA doesn't automatically read the
display onthe Windows 10 Calculator (#5760)

Hi, for most s

[2017-07-15 18:05] josephsl commented on #5760
Hi, imagine a case where someone is typing with speak typed characters enabled. If live region change event handler isn’t careful (implemented in NVDA next snapshots for now), this will result in double-speaking. Most of the code in my add-on deals with this precise case. Thanks.

From: btman16 [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 11:04 AM
To: nvaccess/nvda <nvda@noreply

[2017-07-15 18:12] dkager commented on #2803
Looks abandoned and a bit vague (or am I being harsh?).

[2017-07-15 18:12] #2803 closed

[2017-07-15 18:16] dkager commented on #2821
Amazingly, this webpage still exists. However, it does not lock up for me with NVDA 2017.2 and IE11 or Firefox 54.0.1.

[2017-07-15 18:16] #2821 closed

[2017-07-15 18:19] dkager commented on #2829
@brian1gaff Is this still valid with espeak-ng?

[2017-07-15 18:24] dkager commented on #2835
@BueVest Could you share the status of the Danish tables? Did you update existing tables, or should NVDA use different ones now? Is your work already complete?
Thanks!

[2017-07-15 18:55] ehollig commented on #1257
@Brian1Gaff, is this still an issue?

[2017-07-15 19:07] ehollig commented on #1334
The latest version of RoboForm is 8.3.7. Do we know if the problem still persists? Also, this doesn't sound to be an NVDA bug. It sounds like a RoboForm tabindex problem. More information would be needed though to determine that.

[2017-07-15 19:17] vgjh2005 commented on #3704
Hi:
This issue is for more than one topic. So I think it is not useful.
Sorry!

[2017-07-15 19:18] ehollig commented on #1512
I could be wrong, but this sounds like it has been resolved.

[2017-07-15 19:27] ehollig commented on #2568
This sounds like it is related to #1521. Has this been included into NVDA?

[2017-07-15 19:27] josephsl commented on #2568
CC @NVDAES

From: ehollig [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 12:27 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] app module for Lambda math editor (#2568)

This sounds like it is related to #1521 <https://github.com/nvaccess/nvda/issues/1521> . Has this been included into NVDA?

—
You are rece

[2017-07-15 19:34] ehollig commented on #1647
This was fixed in Firefox 25 acording to [MozillaBug:670087](https://bugzilla.mozilla.org/show_bug.cgi?id=670087)

[2017-07-15 19:40] PratikP1 commented on #976
I have been using MirandaNG for at least a year. I have never encountered this issue.

[2017-07-15 19:40] ehollig commented on #1666
I received a "Page not found error" for the URL provided in steps by original poster. Suggest a close.

[2017-07-15 19:42] ehollig commented on #1695
I do not have this problem using Firefox 54.0.1. Lots of things have changed in Firefox since 3.6. Suggest closing unless someone can replicate this issue.

[2017-07-15 19:45] dkager commented on #6882
@Piciok Any thoughts?
I would also say triggering config profiles by a hotkey is the preferable solution. You probably don't want all braille tables in the settings ring, so there has to be a UI to select the ones you want. Putting manual config profiles in the settings ring or giving them hotkeys sounds more flexible.

[2017-07-15 19:48] ehollig commented on #1705
I am not sure if there is enough information provided here to replicate. I do not have issues bringing up flash drives from the run dialog. Maybe I am missing something? I am using Windows 10, although the original poster is using XP.

[2017-07-15 19:53] ehollig commented on #1714
This was fixed in Firefox 18 acording to [MozillaBug:686821](https://bugzilla.mozilla.org/show_bug.cgi?id=686821)

[2017-07-15 20:17] javidominguez opened #7401 "Notice when the script moveMouseToNavigatorObject in globalCommands can't move the mouse to the object."
Sometimes the script_moveMouseToNavigatorObject does not work because the object in the browser is inaccessible to the mouse cursor. Maybe because its location is outside of the visible screen or because it is covered by another object. The script should warn it to avoid clicking in a undesired place.

I think it is easy to implement. The code could be something like this:

[script_moveMouseToNavi

[2017-07-15 20:40] ehollig commented on #1531
I am not able to replicate this using Firefox 54.0.1. Commenter states it was not reproducible using Firefox 34.0.5 either. Suggest a close.

[2017-07-15 20:46] ehollig commented on #1570
Open Office is discontinued acording to [Wikipedia](https://en.wikipedia.org/wiki/OpenOffice.org). Unless there are other things addressed in this issue that I am missing, I think it can be closed.

[2017-07-15 22:30] Mohamed00 commented on #5510
This issue stopped occurring in Windows 10 version 1511, and as of 1703, still isn't occurring. Should this be closed?

[2017-07-15 22:33] josephsl commented on #5510
Closing due to updated report. Please reopen if this happens ever again. Thanks.

[2017-07-15 22:33] #5510 closed

[2017-07-15 23:55] ehollig commented on #1729
The link that the author of this ticket provided is no longer available. I have experienced NVDA not remembering the exact location of where you were on the page with browse mode after hitting the back button, but do not have a good STR right now.

[2017-07-16 00:09] ehollig commented on #4117
Unfortunately, this looks abandoned, and there is not enough information to reproduce.

[2017-07-16 08:05] Brian1Gaff commented on #1705
I have never been able to duplicate this here, so if the original person
cannot add more detail, we are a bit stuck.
 I do know that there can be times where the focus gets to the wrong part of
an explorer window in any flavour of Windows, but XP is pretty benign on
this. On other systems sometimes if  you cannot get permission to view a
particular drive then often the folder is blank even though

[2017-07-16 08:10] Brian1Gaff commented on #2829
I think this must have not been closed but it was fixed a long time ago by a
bug fix for something else as I recall.
It was a long time ago now and if it had reappeared somebody would have
noticed I think!
 Brian

[2017-07-16 08:14] Brian1Gaff commented on #2821
No still does not cause a problem here. It was either a fault in the page
when the user looked or something resolved either in Firefox or nvda, but as
I said before, it worked for me before as well.
 Brian

[2017-07-16 08:51] Neurrone opened #7402 "The Upper caseness of symbols are not indicated when reading math"
### Steps to reproduce:
1. Go to http://linear.ups.edu/fcla/section-RREF.html
2. Navigate to the text below the heading level 5 "Definition m matrix". This is the relevant exerpt of what NVDA reads.

[code]

### Expected behavior:
There should be an indication that the symbols are upper cased, such as the usual pitch raise that happens when announcing a normal upper case character.

### Actual beh

[2017-07-16 08:57] BueVest commented on #2835
Apparently, this is from back in 2012, before I started working with the Danish tables in liblouis. In version 3.20, all the Danish tables should be  clearly marked both with metadata and description in clear text of function and intended use. Particularly, the da-dk-g08 table is the Danish 8 dots computer braille table for both input and output (there is no 6 dots Danish computer braille). Apart

[2017-07-16 09:17] dkager commented on #2829
Closing as per the comment above.

[2017-07-16 09:17] #2829 closed

[2017-07-16 09:29] adilsweet opened #7403 "need support for long tail platinum"
i need an addon for working with long tail platinum which is a search engines marketing software, it's a world biggest software for keyword research but unfortunately currently it does not supported by any version of NVDA. it's licence is expensive but if you can try it for making an addon, i would recommend you to download it's cracked version. if someone can make it volunteer then fine otherwise

[2017-07-16 11:56] dkager commented on #2835
@BueVest Thanks for the thorough reply!
Do I understand correctly that the work on the Danish tables is finished, but that we may have to add some new tables to NVDA?

Which tables do you think are useful for screen reader users? NVDA currently includes:
- da-dk-g16.ctb
- da-dk-g18.ctb
- da-dk-g26.ctb
- da-dk-g28.ctb

Do you think we should add:
- Computer braille: da-dk-g08.ctb
- Grade 1.5: da-dk

[2017-07-16 12:35] BueVest commented on #2835
I would say that da-dk-g08 is the most essential of them all. It should be used as the default table for input/back-translation in Danish. Also, the g1 and g2 tables for both 6 and 8 dots are obvious candidates.

If there are no restrictions on the number of tables, then the g1.5/g2l tables would be nice to have. Deaf-blind users would benefit from them, since most of them don’t use grade 2, but q

[2017-07-16 12:53] BueVest commented on #2835
BTW, I wouldn’t say that the Danish tables are finished. Making them is a bit of an on-going process, especially because of the way the Danish Braille Committee is apparently just making ad hoc solutions for whatever they think they want to address along the way instead of making a good set of rules that can last for some time to come.

However, the current tables should be working ok, if that is

[2017-07-16 13:02] derekriemer commented on #1729
Sounds like a bug in javascript coding. If the site is gone, closing as invalid.

[2017-07-16 13:02] #1729 closed

[2017-07-16 13:07] derekriemer commented on #1570
closing, as per this now being IAccessible2, it probably works (We don't need jab anymore).

[2017-07-16 13:07] #1570 closed

[2017-07-16 13:10] derekriemer opened #7404 "split word boundaries for JAB applications as so not to break unicode chars"
### Steps to reproduce:
https://github.com/nvaccess/nvda/issues/1570

Do this with any java application which has a multiline edit field (Eclipse?).

[2017-07-16 13:12] derekriemer commented on #1531
closing as worksforme

[2017-07-16 13:12] #1531 closed

[2017-07-16 13:14] derekriemer commented on #7401
Does anyone at NV Access have an issue with this being put in a PR?

[2017-07-16 13:19] derekriemer commented on #1714
confirmed.

[2017-07-16 13:19] #1714 closed

[2017-07-16 13:23] #1695 closed

[2017-07-16 13:24] derekriemer commented on #1666
closing as invalid because even so, it's not really likely an NVDA issue, and it's antique.

[2017-07-16 13:24] #1666 closed

[2017-07-16 13:30] derekriemer commented on #976
adds wait for a close

[2017-07-16 13:30] dkager commented on #2835
OK, I will bake a PR with these updates. Yes, by "finished" I meant "ready for inclusion". :)
Does one say grade 1.5 or grade 2l?

[2017-07-16 13:31] #1647 closed

[2017-07-16 14:38] ehollig commented on #1298
As @michaelDCurran said, this web address no longer seems to work for me. Can another address to a page that shows the same issue be provided if there is one?

[2017-07-16 14:45] ehollig commented on #1608
This sounds like it can be resolved with the [Emoticons](http://addons.nvda-project.org/addons/emoticons.en.html) addon or with user dictionary rules. Also, some websites and programs have their own versions of the symbols that read correctly. (Skype and Facebook, for example)

[2017-07-16 15:01] ehollig commented on #1941
I can not replicate this using latest NVDA and Firefox 54.0.1

[2017-07-16 15:10] ehollig commented on #1927
Female 5 and Female_Whisper are available in the variant combo box. If this was a problem, it is not anymore.

[2017-07-16 15:18] ehollig commented on #2184
The website that was referenced [http://webmail.pattraco.com/](http://webmail.pattraco.com/) does not exist anymore.

[2017-07-16 15:25] ehollig commented on #2188
Yahoo Groups has changed a lot since this was created. I am not able to replicate this using IE 11 on Windows 10. The original poster states using IE 8 on Windows 7. Can anyone on Windows 7 confirm if this is a problem?

[2017-07-16 15:26] BueVest commented on #2835
Actually, in Danish we say something like small contraction, but there is no proper and agreed-upon English term, and the grade system never quite hit it in Denmark. I think grade 1.5 would be understandable in the English version, and then we will translate it to the proper Danish terms. I was thinking of renaming the tables to g1_5 instead of g2l, but that would have to be part of a larger renam

[2017-07-16 16:53] Neurrone opened #7406 "Brackets (and possibly other punctuation) is not read in math"
### Steps to reproduce:
1. Go to http://www.rellek.net/book/s_strings_intro.html
2. Navigate to the text below the second level 1 heading "2.1 Strings: A First Look". This is the relevant exerpt of what NVDA reads in the paragraph after the heading.

[code]

### Expected behavior:
The second occurance of `n` should be correctly read as `[n]`.

### Actual behavior:
`[n]` is actually read as `n`. Th

[2017-07-16 17:06] josephsl commented on #7403
If it wasn't for the fact that it mentioned cracked license, then it could have been considered. Closing as invalid for now.

[2017-07-16 17:06] #7403 closed

[2017-07-16 21:29] derekriemer commented on #7403
Not sure invalid was necessary.

[2017-07-16 21:33] #2184 closed

[2017-07-16 21:35] derekriemer commented on #1927
closing, worksforme

[2017-07-16 21:35] #1927 closed

[2017-07-16 21:38] derekriemer commented on #1941
closing, worksforme

[2017-07-16 21:38] #1941 closed

[2017-07-16 21:46] derekriemer commented on #1608
@jcsteh or @feerrenrut any idea if this is a close because of the addon, or a p4/p3?

[2017-07-16 21:48] derekriemer commented on #1298
closing as this is something which a developer coded wrong.

[2017-07-16 21:48] #1298 closed

[2017-07-16 21:52] derekriemer commented on #1512
not a bug, invalid. Closing as invalid.

[2017-07-16 21:52] #1512 closed

[2017-07-16 21:55] #3704 closed

[2017-07-16 21:56] derekriemer commented on #3704
original user says invalid basically.

[2017-07-16 21:58] #1334 closed

[2017-07-16 22:08] derekriemer commented on #7016
ping

[2017-07-16 22:10] derekriemer commented on #6946
@feerrenrut This seems prime for a goodForNewDev label, no?

[2017-07-16 22:12] derekriemer commented on #6800
@michaelDCurran was this fixed when core.callLater and friends were changed?

[2017-07-16 22:26] derekriemer commented on #2739
That was me. I was young and ignorant and saw the explorer appModule in core, and thought wth, why are these here but not used, so I threw it in my appModules folder not realizing it was actually built in at the time.

[2017-07-16 22:29] jcsteh commented on #6800
Nope. That fixed #6797 (keys getting swallowed forever), but not this issue.

[2017-07-16 22:34] derekriemer commented on #980
nope

[2017-07-16 22:34] #980 closed

[2017-07-16 22:38] derekriemer commented on #1269
I can access a fare amount of the buttons, but I don't know if all.

[2017-07-16 22:46] jcsteh commented on #1608
Speaking of Emoji is definitely in scope (covered by #6523). Emoticons are a bit more risky because they can match combinations of symbols which appear elsewhere. @MichaelDCurran, thoughts?

[2017-07-16 23:03] jcsteh commented on #7406
I can confirm the first omission of brackets. However, for the function, I get this:

Is this the piece you were referring to?

Regarding the first case, unfortunately, it seems MathPlayer ignores the brackets completely here. There's nothing we can do about this on the NVDA side; the fix needs to be in MathPlayer.

CC @NSoiffer.

[2017-07-16 23:03] #7406 closed

[2017-07-16 23:07] jcsteh commented on #2188
Several years old, insufficient info and no additional reports of this. Closing. Please provide thorough details if the problem persists.

[2017-07-16 23:07] #2188 closed

[2017-07-16 23:13] jcsteh commented on #976
Closing as worksforme as per https://github.com/nvaccess/nvda/issues/976#issuecomment-315557184. If the problem persists, please comment here and we can try to provide steps to debug further.

[2017-07-16 23:13] #976 closed

[2017-07-16 23:28] jcsteh commented on #7401
I agree that users potentially clicking the wrong things is nasty. Unfortunately, it's not always this simple:

1. Moving the mouse to an object might take you to a descendant of that object. That's perfectly valid for a container. It can even occur on something like a list item if, for example, it was represented by a graphic and some text (or multiple pieces of text). Walking the ancestors might

[2017-07-16 23:29] jcsteh commented on #7401
P3 because it'd be nice if users weren't able to click the wrong things unintentionally. However, this still needs a fair chunk of investigation.

[2017-07-16 23:48] jcsteh commented on #7404
Please provide specific STR in future rather than referring to another issue.

1. Eclipse doesn't use JAB.
2. NVDA now uses Windows Uniscribe for its own word splitting algorithm, which should handle Unicode correctly.
3. I tried pasting ആപ്പിള് into an edit field in Java Control Panel and moving by word reported the entire word.

[2017-07-16 23:48] #7404 closed

[2017-07-16 23:58] jcsteh commented on #7402
Confirmed.

Unfortunately, there's nothing that an be done in NVDA to fix or work around this, as MathPlayer converts the letters to lower case before passing them to NVDA. MathPlayer either needs to issue a pitch change command itself or indicate that it should be pronounced as a character and preserve the upper case. The latter change would also require some changes in NVDA, but at least we'd ha

[2017-07-17 00:00] jcsteh commented on #1705
No feedback from original reporter. Closing as worksforme as per above comments.

[2017-07-17 00:00] #1705 closed

[2017-07-17 00:02] #4117 closed

[2017-07-17 00:05] jcsteh commented on #1521
This would appear to be superseded by #2568.

[2017-07-17 00:05] #1521 closed

[2017-07-17 00:23] josephsl commented on #7016
Hi, looks like docs round 2 is in order. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Sunday, July 16, 2017 3:08 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add-ons: update URL to https (#7016)

ping

—
You are receiving this because you were mentioned.
Reply to t

[2017-07-17 00:32] Qchristensen commented on #2245
I'd mark #3591 as a duplicate of this (this one is clearer - the issue is paragraph text unit resolution.  The other post noticed it in bullets, but it's wider than just bullets).

#3590 (wrapped hyperlinks) is likely partly related, and fixing the mouse tracking code might resolve both at once, but that one is not only about plain text, but how multiple elements in one paragraph are read (or not)

[2017-07-17 00:37] derekriemer commented on #1201
Can still reproduce.
1. open command prompt in win7.
2. press say all.

IO - speech.speak (18:36:19):
Speaking [IndexCommand(1), IndexCommand(2), IndexCommand(3), IndexCommand(4), IndexCommand(5), IndexCommand(6), IndexCommand(7), IndexCommand(8), IndexCommand(9), IndexCommand(10), IndexCommand(11)]
ERROR - queueHandler.pumpAll (18:36:19):
error in generator 497
Traceback (most recent call last):

[2017-07-17 00:51] jcsteh commented on #2696
I forgot about this issue. :) We decided to have NVDA next update to eSpeak master on a semi-regular (but not automated) basis. We could probably do the same for liblouis. People who wanted to test specific tables in liblouis master would need to file an issue to do this, but we'd only consider this if there were a commitment to test the table and fix any problems.

[2017-07-17 00:54] jcsteh commented on #1201
P3 because this is ugly and perhaps confusing, but it doesn't break any functionality that a user would expect to work.

[2017-07-17 00:55] jcsteh commented on #2245
Closing as duplicate of #3591.

[2017-07-17 00:55] #2245 closed

[2017-07-17 01:00] jcsteh commented on #7400
Thanks for the suggestion. As already noted, you can access progress bars using the review cursor. I don't think this would be used enough to warrant its own command. Also, the behaviour is difficult to define; e.g. if there are multiple progress bars where nearby text is needed to determine context.

[2017-07-17 01:00] #7400 closed

[2017-07-17 01:10] jcsteh commented on #5231
Dropping needsCodeReview, as @josephsl will be able to submit a PR if/when he wishes. Thanks.

[2017-07-17 01:14] jcsteh commented on #5231
When creating an Alarm, the value does seem to get announced for me when I use the arrow keys in the lists. This is possibly the result of another recent fix. The current value isn't announced when focusing the list, though.

P3 because it's possible to work around this, but it's annoying/inefficient nevertheless.

[2017-07-17 01:14] feerrenrut commented on #5799
@Qchristensen are you still able to reproduce this?

[2017-07-17 01:16] #964 closed

[2017-07-17 01:17] jcsteh commented on #964
XP specific. Closing.

[2017-07-17 01:21] khsbory commented on #5786
I'm using BrailleSenseU2.
Thank you.

김 형 섭	 / Hyongsop Kim
(주)엔비전스 / 웹접근성사업팀 팀장

서울시 종로구 가회동 1-29
1-29 Gahoe-dong, Jongno-gu, Seoul, Korea
T. +82 70 4900 0895   F. +82 2 313 3645   M. +82 10 5359 5996

http://dialogueinthedark.co.kr
http://cafe.naver.com/dialogueinthedark

-----Original Message-----
From: "Leonard de Ruijter"&lt;notifications@github.com&gt;
To: "nvaccess/nvda"&lt;nvda@noreply.git

[2017-07-17 01:26] Qchristensen commented on #5799
Using either 2017.2, or Next 14189 or Master 14175, I can still reproduce this on Office 2016 on Windows 10, yes.  If @ehollig can't reproduce it, could it be something local, such as a specific video driver / hardware?  I have an NVIDIA GeForce GTX 745 on a Samsung 32" monitor (although just looking at Device manager, I'm just using the "Generic PnP monitor" driver.

[2017-07-17 01:27] jcsteh commented on #5786
This is about moving the focus with the scrolling keys when there is no more text to scroll to; i.e. moving to the next icon on the Desktop. NVDA doesn't currently support this. This is a duplicate of #4097. See the comments on that issue for explanation of the issues involved.

[2017-07-17 01:27] #5786 closed

[2017-07-17 01:35] feerrenrut commented on #7388
@leonardder Thanks for raising this and providing the example. I can reproduce this with `next-14166,e5cc1931` and Word 2013. Looking at the document there are a few values missing in the paragraphs section. Without looking at the code, I would guess this is causing the error. Since this is a form, I'm assuming this document is exported from somewhere, and has incomplete paragraph information (tot

[2017-07-17 02:04] jcsteh commented on #5477
Yeah, can't quite remember what happened there, but the final result (just needsExternalFix) is correct. However, it'd help if I explained why. :)

This occurs because in order to get the previous word, we ask for the word at the previous character. In the problematic case, the character is the slash. When we ask for the word, Firefox just returns the slash. When we then ask for the word before th

[2017-07-17 02:12] jcsteh commented on #5828
I don't think a refresh button is a good idea; it's fairly ugly and it's easy enough to just close the dialog and reopen.

Ideally, it'd be good to find a solution to this problem. That'd involve somehow making it less dependent on offsets. P3 because there's a workaround and it doesn't occur that often.

[2017-07-17 02:15] ehollig commented on #2593
This issue seems to be abandoned and very vague.

[2017-07-17 02:18] #2593 closed

[2017-07-17 02:19] ehollig commented on #2517
Unfortunately, I am not able to replicate this. If there is information presented in the log provided that I am missing, please let me know.

[2017-07-17 02:20] jcsteh commented on #5805
Probably something to do with the collapseOrExpandControl script used to support alt+up/down for combo boxes in browse mode. We'd need to somehow make binding of these optional for browse mode document subclasses.

[2017-07-17 02:21] jcsteh commented on #5805
P3 because there's a workaround (switch to focus mode), but it's certainly tedious.

[2017-07-17 02:23] ehollig commented on #2713
@tspivey is this still an issue?

[2017-07-17 02:36] ehollig commented on #2764
@derekriemer any updates?

[2017-07-17 02:40] ehollig commented on #2774
Is the Urdu language now supported in Espeak NG? I do see it as an option voice settings dialog. CC @jcsteh @josephsl and whoever might know

[2017-07-17 02:42] ehollig commented on #2782
I think this issue is invalid, as there is not enough information provided.

[2017-07-17 02:58] #2782 closed

[2017-07-17 03:01] ehollig commented on #2862
This has been tested and is now working on the latest iTunes.

[2017-07-17 03:02] feerrenrut commented on #6946
@derekriemer yeah I think so.

[2017-07-17 03:08] ehollig commented on #2882
This looks abandoned. I do not experience any sluggish response with focus and browse mode. This may possibly happen on some older systems though.

[2017-07-17 03:11] jcsteh commented on #2774
I can't speak for its quality, but yes, it's listed.

Closing due to lack of feedback from reporter and availability of Urdu in eSpeak NG. For improvements in the eSpeak NG language, please follow this up in the [espeak NG project](https://github.com/espeak-ng/espeak-ng). There's also an Urdu translation of the NVDA interface, though it's several years out of date now. If you are a translator and

[2017-07-17 03:11] #2774 closed

[2017-07-17 03:11] #2862 closed

[2017-07-17 03:12] jcsteh commented on #2882
Closing as worksforme, since others can't reproduce and there have been no additional reports.

[2017-07-17 03:12] #2882 closed

[2017-07-17 03:18] ehollig commented on #2886
Not able to replicate the issue described here, and it sounds like input help is providing the expected behavior.

[2017-07-17 03:20] jcsteh commented on #2517
here are the attachments from Trac:

[nvda.log.txt](https://github.com/nvaccess/nvda/files/1151544/nvda.log.txt)
[nvda.2.log.txt](https://github.com/nvaccess/nvda/files/1151546/nvda.2.log.txt)

Unfortunately, on a quick glance, there's nothing useful we can glean from them. There are no suspicious errors, etc.

Closing as invalid, as we don't have sufficient info, this is quite old now and we have

[2017-07-17 03:20] #2517 closed

[2017-07-17 03:21] ehollig commented on #2894
I believe WLM has been discontinued. Suggest closing?

[2017-07-17 03:23] jcsteh commented on #2886
Closing as worksforme because no one can reproduce, no further reports and this is an old issue.

[2017-07-17 03:23] #2886 closed

[2017-07-17 03:23] #2894 closed

[2017-07-17 03:25] jcsteh commented on #3087
This is the same reporter as #3230.

[2017-07-17 03:31] jcsteh commented on #3930
[**@leonardder**](https://github.com/leonardder) commented on [16 Jul 2017, 01:26 GMT+12](https://github.com/nvaccess/nvda/issues/3930#issuecomment-315533900 "2017-07-15T13:26:17Z - Replied by Github Reply Comments"):

The use cases for NVDA mouse tracking are somewhat different (and more varied) than those for the keyboard. My understanding is that some partially sighted users have enough sight t

[2017-07-17 03:31] jcsteh commented on #3930
CC @QChristensen for his thoughts as well.

[2017-07-17 03:35] ehollig commented on #7310
@MarcoZehe, is this still the case? As reported in [bug 1374979](https://bugzilla.mozilla.org/show_bug.cgi?id=1374979), it was reported as worksforme

[2017-07-17 03:39] jcsteh commented on #4807
@leonardder is correct: in most cases, the system does not send key presses for such keys, but instead triggers behaviour in a non-standard way. Sometimes, that behaviour does affect Windows (e.g. turning off WiFi), but that is triggered either in the hardware or handled by some custom application which doesn't provide a way for us to intercept it. It's also handled differently by each manufacture

[2017-07-17 03:39] #4807 closed

[2017-07-17 03:42] jcsteh commented on #1825
From a purely user centric perspective, I think it'd be good to be able to access this. While it isn't a status bar as such, it has the same semantic value. Having said that, from a technical perspective, I don't know how we'd implement this. Setting to p4.

[2017-07-17 03:48] jcsteh commented on #4554
I'd say just push all liblouis log output as debug in NVDA's log. Even if
it's reporting an error, that should cause an error higher in the code
(e.g. translate failing). The dev can then poke at the log to get more
details.

[2017-07-17 03:54] jcsteh commented on #3027
Speech interrupt happens earlier than the code for detecting typed characters, so I don't think that's possible. Also, the characters you type in Explorer lists are detected as typed characters.

I guess we could just make this optional based on the role/states of the focused control. However, I'd like to see use cases/real world scenarios for this. Why do you want this enabled for editable conten

[2017-07-17 03:58] Qchristensen commented on #3930
Good point re when to read what.  Assume you had a checkbox with the label "some label" to the right.  If text unit resolution was set to word, would you read the checkbox with the word "some" or as its own word to the left of "some".

Mouse tracking also doesn't announce things like headings or font changes (from the last text read?).  The mouse settings dialog isn't too busy, so theoretically ex

[2017-07-17 03:58] feerrenrut commented on #7401
There probably are some rare cases where moving the mouse over the object might change what is there, in general I think this would be considered bad UX though. The object is unlikely to be obscured (especially by a tooltip, which would usually appear near, but offset from the mouse).

[2017-07-17 04:00] feerrenrut commented on #7388
Set priority 2 to fix this, since its a regression caused by recent code, and should be fairly easy to fix.

[2017-07-17 04:03] feerrenrut commented on #4551
Fixed by: Fixes to reportCurrentLine's spelling functionality #6894

[2017-07-17 04:04] #4551 closed

[2017-07-17 04:04] surfer0627 opened #7408 "Chrome app "line": chat, after saving file, NVDA return to (section editable) field"
### Steps to reproduce:
1. Open Google Chrome.
2. Download and install [line](https://chrome.google.com/webstore/detail/line/menkifleemblimdogmoihpfopnplikde?hl=en).
3. Login account. (Users need to register E-mail address on mobile.)
4. Choose a friend to chat.
(Here, my friend sent me three files in advanced.)
5. Move to file1, and press "save" button to save it.

### Expected behavior:
after sa

[2017-07-17 04:07] jcsteh commented on #4345
P4 because we haven't had any requests for apps that actually depend on this. Happy to consider raising that priority if there are use cases, though.

[2017-07-17 04:10] jcsteh commented on #7408
This is a choice that has been made by the developers of Line. If you think this should be changed, please file a request with the developers of Line. Thanks.

[2017-07-17 04:10] #7408 closed

[2017-07-17 04:18] NSoiffer commented on #7402
MathPlayer is generating a pitch change. Here's what MathPlayer sends to NVDA for that example:

<mark name='0'/> <break time='100ms'/> <mark name='0'/> <prosody pitch='130%'> <say-as interpret-as='characters'>a</say-as> </prosody> <break time='60ms'/> <mark name='0'/> comma <break time='60ms'/> <mark name='0'/> <prosody pitch='130%'> <say-as interpret-as='characters'>b</say-as> </prosody> <break

[2017-07-17 04:21] derekriemer commented on #4551
@tspivey, can you publish your nvda+v addon to the site, @bhavyashah might like it.

[2017-07-17 04:25] jcsteh commented on #7402
[**@NSoiffer**](https://github.com/NSoiffer) commented on [17 Jul 2017, 16:18 GMT+12](https://github.com/nvaccess/nvda/issues/7402#issuecomment-315665681 "2017-07-17T04:18:46Z - Replied by Github Reply Comments"):

No; we do handle prosody commands and map them to NVDA pitch commands. However, I'm not seeing that happen. Reopening to investigate. Sorry for the false alarm, @nsoiffer, and thanks fo

[2017-07-17 04:25] derekriemer commented on #2764
It was a weird ff issue which has disappeared over the last few years.

[2017-07-17 04:25] #2764 closed

[2017-07-17 04:26] feerrenrut opened #7409 "Switch to UIA for Microsoft Word 2016 and later"
Using UIA will avoid several annoying issues with the current approach.

[2017-07-17 04:28] jcsteh commented on #3393
This is a prerequisite for all work on #4877. I'm working on the design for this at present.

[2017-07-17 04:29] jcsteh commented on #3031
Correct.

[2017-07-17 04:30] feerrenrut commented on #5799
Given that Word still behaves as if it has the text selected, but visually it appears not to, it seems like this might be a rendering bug in Word. This is probably being triggered by the way that we update selections in MS Word to gather various bits of information. Ideally we should try to find the set of calls that causes this and report a bug to Microsoft. However, there is a plan to switch to

[2017-07-17 04:30] derekriemer commented on #4293
Reporting the location in pixels from the left edge I think. IMHO this has limited use cases, because pixels are small, and people who haven't had vission won't easily know how far things should be placed in. Also, we report indent and formatting in word processing apps now.

[2017-07-17 04:31] jcsteh commented on #3031
P4 because we're coping just fine with things as is and txt2tags is rarely updated.

[2017-07-17 04:37] derekriemer commented on #2246
Actually, I feel this could be useful when trying to for example, read a row of inaccessible buttons, but the use case is small. A partially sighted person could read each word on the line as it goes by, but I don't think that's screen reader functionality.

[2017-07-17 04:42] derekriemer commented on #3031
what about, yes I know I'm bad, sending the whole thing through python converting the first h2 it to h1 after postproc?

[2017-07-17 04:43] derekriemer commented on #7409
how much will this speed things up! yay!

[2017-07-17 04:51] derekriemer commented on #4019
Does golden cursor help with this at all?

[2017-07-17 05:02] derekriemer commented on #2976
covered by dictationbridge

[2017-07-17 05:07] Qchristensen commented on #4019
Derek, no, golden cursor doesn't emulate or do anything with the mouse wheel.  I must admit I'm not exactly sure what use case the original poster has in mind either?

You could use Windows' mouse keys to select and drag an item.  The question then is, are there any situations where either the program in question or NVDA cannot provide a keyboard alternative, and if so, is it worth implementing ou

[2017-07-17 05:12] feerrenrut commented on #3139
I updated the previous comment with the log file: https://github.com/nvaccess/nvda/issues/3139#issuecomment-155306113

This seems to be the relevant section:
[code]

[2017-07-17 05:16] MarcoZehe commented on #7310
Nope, this issue can be closed. It went away, don’t know through what.

[2017-07-17 05:17] #7310 closed

[2017-07-17 05:25] derekriemer commented on #5321
closing, as I don't know what NVDA 5.1 is

[2017-07-17 05:25] #5321 closed

[2017-07-17 05:32] vgjh2005 commented on #4019
Hi:
I have tried the add-on Golden cursor. Quesstion is that possition of it is based on the screen, if the window is moved, and the remembered possition is unuseful.
It need to remember the possition based on the window edge.
Second, I think windows mouse key is unuseful.
For regular UI, we can use navigator object to insted of it. For unregular ui(for example don't support MSAA/UIA/IA etc.), win

[2017-07-17 05:35] derekriemer commented on #6153
I'm not sure you should trust this, because I know people (Myself included) who put xxx@xxx.yzz or something in to get past it if I want to download it in a hurry for doing server admin for someone. That's not a unique download.

[2017-07-17 07:50] Brian1Gaff commented on #6153
Because if nvaccess can point to a certain number of unique users, they have
more clout with the makers of inaccessible software and also may get more
grants.
Everything is based on metrics these days of course!
 I have no issue with that. If you don't want to do this use snapshots.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, p

[2017-07-17 07:57] BueVest commented on #2835
Did you also enable the remaining grade 1 and 2 tables for input?

Fra: Davy Kager [mailto:notifications@github.com]
Sendt: 16. juli 2017 15:31
Til: nvaccess/nvda <nvda@noreply.github.com>
Cc: BueVest <bue@vester-andersen.dk>; Mention <mention@noreply.github.com>
Emne: Re: [nvaccess/nvda] Improvements for Danish liblouis braille table (#2835)

OK, I will bake a PR with these updates. Yes, by "fini

[2017-07-17 08:11] leonardder commented on #7393
Note that #7218 is still incubating, so it is not yet sure whether this will make it into 2017.3

[2017-07-17 08:50] dkager commented on #4293
Leaning toward wontfix.

[2017-07-17 08:53] dkager commented on #2696
Is this issue then resolved and ready to close, or do you first want to document the procedure to request a snapshot (AKA next)?

[2017-07-17 08:56] dkager commented on #2835
Danish 6-dot/8-dot grade 1 and 2 were already enabled for input. I didn't test them though.

[2017-07-17 08:57] adilsweet opened #7411 "Need NVDA AddOn for Long tail platinum"
Is there any volunteer or professional who can make an addon for Long tail platinum which is a SEM software. i tried to use it with every curcer but it does not speak everything, some areas are impossible to reach with NVDA and most importantly i cannot click at calculate button, on the other hand, NVDA does not speak anything about keywords and it's unable to move to any other page.

[2017-07-17 09:02] adilsweet commented on #7411
If someone would like to develop this on demand and ask for a payment then i'm ready to pay for your hardwork but i need this addon to fulfill my needs of my blog

[2017-07-17 09:11] josephsl commented on #7411
Hi, may I suggest that you contact the app developers about these problems? Once you get a reply from them, please write to us so someone can look for a legal demo of this program and what not. Thanks.

From: adilsweet [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 1:57 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/n

[2017-07-17 09:12] #2459 closed

[2017-07-17 09:45] leonardder commented on #4293
Agreed.

@leidner: Are you the leidner who opened this issue? If so, could you provide additional info about why you think this is necessary and current level of functionality in NVDA isn't enough for you?

[2017-07-17 09:52] leonardder commented on #7411
Closing as duplicate of #7403.

[2017-07-17 09:52] #7411 closed

[2017-07-17 10:10] leonardder commented on #3344
I only see three landmarks on this page and no heading called "Don't-Miss Stories". Closing as invalid, but please provide additional details (preferable another website to test this on) if you think I'm to harsh.

[2017-07-17 10:10] #3344 closed

[2017-07-17 10:11] leonardder commented on #3349
Closing as won't fix, given the obsolete state of Office 2003.

[2017-07-17 10:11] #3349 closed

[2017-07-17 10:16] leonardder commented on #3829
CC @JCSTeh

[2017-07-17 10:18] leonardder commented on #5525
CC @Elliott94, is this still an issue for you?

[2017-07-17 10:19] leonardder commented on #5530
@MichelSuch: is this still an issue? If so, could you provide steps to reproduce for either thunderbird or firefox?

[2017-07-17 10:20] leonardder commented on #5561
@Elliott94: Is this still an issue? Also, do you have a particular reason why you aren't using Skype for Business?

[2017-07-17 10:21] leonardder commented on #5542
@Elliott94: What office version is this, and can you still reproduce?

[2017-07-17 10:24] leonardder commented on #5556
@Elliott94: Is this still reproducible? If so, could you provide exact steps to reproduce (e.g. what do you type, what does NVDA say, etc.)?

[2017-07-17 10:28] leonardder commented on #5761
I agree a filter function for this list could be helpful. May be we should come up with a filterHelper in NVDAHelper that adds filtering functionality to either a list or a tree view. Elements list, input gestures etc. could benefit from this as well. CC @FeerRenrut

[2017-07-17 10:31] leonardder commented on #2299
Can't reproduce in IA2 based Libre Office. This issue dated from the time we were still using JAB. Closing.

[2017-07-17 10:31] #2299 closed

[2017-07-17 10:36] leonardder commented on #5780
One major concern I have with this, is that configuration profiles are meant to be changeable, they shouldn't be static. Bundling them with the add-on would mean that they are static, we shouldn't support modifying files inside an add-on directory. Furthermore, an add-on could provide its own installation routines for custom configuration profiles if it is really desired. Leaning towards a won't f

[2017-07-17 10:38] leonardder commented on #5578
I wholeheartedly agree, saving is really a thing I forget most of the times. May be this could be implemented as part of #6305?

[2017-07-17 11:07] abdullah5490 commented on #7400
ok. got your point

[2017-07-17 11:19] leonardder commented on #5576
The preview pane is indeed the cause of this issue, I've seen this with SuperNova in Outlook 2010. Given the fact that you can disable this pane, I'm leaning towards a won't fix, since there is a suitable workaround. Having said that, I wonder whether Outlook 2016 suffers from the same issue.

[2017-07-17 11:20] leonardder commented on #5581
I've received a similar report from a JAWS user, so this might not be NVDA specific. Anyone with Outlook 2016 who can try to reproduce this?

[2017-07-17 11:24] leonardder commented on #5831
@jmuheim: Could you still reproduce this? If so, please provide the web page as an attachment to this ticket.

[2017-07-17 11:25] leonardder commented on #5707
CC @DerekRiemer @JosephSL

[2017-07-17 11:28] leonardder commented on #3807
Interesting problem, which I can reproduce. The point is, when you move from name to e-mail address, there is an alert triggered, but the alert is shown after the e-mail address edit box gains focus. Thus, the edit box is read, but the alert interrupts reading of the newly focused control.

cc @marcozehe

[2017-07-17 11:31] leonardder commented on #4949
Thunderbird is already mentioned here, Windows (live) mail is discontinued software. Furthermore, there is a clear audio indication when browse mode is triggered, even in application which aren't listed in the user guide. Closing as won't fix.

[2017-07-17 11:31] #4949 closed

[2017-07-17 11:36] leonardder commented on #4962
Lists are unsupported in Word quick navigation, but support for them might be added in #7409 for Word 2016. As for tables, it would help if jumping out of it would work, indeed. CC @MichaelDCurran

[2017-07-17 11:39] leonardder commented on #6149
Hmm, interesting idea. One additional thing that can be covered here as well, is that people will be able to automatically update from a rc to a stable release, if that's not already possible.

[2017-07-17 11:42] leonardder commented on #6138
@MichaelDCurran, I wish I had stumbled upon this before you started working on #7410. It is probably a bit too far-fetched to have this added into that pr as well?

[2017-07-17 11:47] leonardder commented on #5902
Ready to paste snippet:

[code]

This works as expected in Firefox 54.0.1. Notice that you don't have a label for the select box.

[2017-07-17 12:46] leonardder commented on #3029
Closing as duplicate of #1710. Also #686 seems related.

[2017-07-17 12:46] #3029 closed

[2017-07-17 12:49] leonardder commented on #7311
What does NVDA do in the following cases?

1. Browsing the web with IE
2. Going to the task bar with Windows+t, and than using left/right arrow to navigate it.

[2017-07-17 12:50] leonardder commented on #2149
@rriem: Are you the rriem who opened this issue? If so, could you provide additional details about whether this issue still occurs for you?

[2017-07-17 12:52] leonardder commented on #4671
CC @JCSTeh

[2017-07-17 13:51] leonardder commented on #5600
This is expected behaviour. The aria label for an element is not visible on screen, and for mouse tracking, only visible information is announced. Closing as invalid.

[2017-07-17 13:51] #5600 closed

[2017-07-17 13:57] leonardder commented on #5759
Hmm, I can see the benefits of this. In the case of Explorer, there's a dynamic UIA list item object, but when you try to retrieve children for its parent, it returns nothing as expected. Also, these empty list don't seem to trigger a Focus event.

@MichaelDCurran @JCSTeh, thoughts? May be we should generalize this to other containers as well?

[2017-07-17 13:59] leonardder commented on #5762
@robfentress: Are you aware of the fact that NVDA is not JAWS? Is your issue specific to JAWS or NVDA?

[2017-07-17 13:59] leonardder commented on #5485
@Elliott94: Can you still reproduce?

[2017-07-17 14:00] leonardder commented on #5496
@Dragonium: Could you please reupload this file or add is as an attachment to this issue?

[2017-07-17 14:01] leonardder commented on #5633
@cocodebordeaux: Can you still reproduce this issue?

[2017-07-17 15:28] Neurrone commented on #7409
Hoping for speed improvements as well, the responsiveness of word seems to be inversely proportional to its version number.

[2017-07-17 15:30] dkager commented on #2666
Works for me on Windows 10. There are cases where braille doesn't always pan correctly, but this doesn't seem to be one of them anymore.

[2017-07-17 15:30] #2666 closed

[2017-07-17 15:35] jhomme opened #7412 "Allow The User to Choose to See Images That Have No Alt Text In All Applications"
On the web, MS Office, and elsewhere, NVDA ignores grapics with alt text, causing accessibility testers to miss-report accessibility findings.

I'd like to suggest that this functionality appear in the Document dialog box, and be allowed to be controlled also in Configuration Profiles.
### Steps to reproduce:

1. Open the attached MS Word document. This document contains two graphics, both of whic

[2017-07-17 16:27] josephsl commented on #7411
Hi, no, the other way around please. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 2:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Need NVDA AddOn for Long tail platinum (#7411)

Closing as duplicate of #7403 <https://github.com/nvacces

[2017-07-17 17:17] leonardder commented on #7411
[**@josephsl**](https://github.com/josephsl) commented on [17 jul. 2017 18:27 CEST](https://github.com/nvaccess/nvda/issues/7411#issuecomment-315805716 "2017-07-17T16:27:49Z - Replied by Github Reply Comments"):

Honestly, if it weren't for the duplicate, I'd have closed this due to the fact that this is a request for an add-on. This issue tracker only deals with suggestions or bug reports for NVD

[2017-07-17 17:21] leonardder commented on #5687
@JCSTeh: Do you consider this a bug or a feature?

[2017-07-17 17:23] leonardder commented on #5616
@rbmendoza: I'm not sure if I understand your issue correctly. Anyhow, do you still think there has been a regression somewhere?

[2017-07-17 17:24] leonardder commented on #5618
@ManshulBelani: What version of VS did you used to test this?

[2017-07-17 17:29] leonardder commented on #5650
I agree here.
@JCSTeh: since you are the initial of the author of the user guide section in question, could you please give your opinion?

[2017-07-17 17:32] leonardder commented on #5697
@pranavlal: Do the formatting marks read when you set your symbol level to all?

[2017-07-17 17:34] leonardder commented on #5692
See also https://github.com/nvaccess/nvda/issues/7335#issue-239205172 regarding my point about sysListView32

CC @DKager

[2017-07-17 17:35] leonardder commented on #5701
@MichaelDCurran, I recall you have been working on SFB support lately. Would this be hard to do?

CC @Elliott94

[2017-07-17 17:37] leonardder commented on #5703
I can't reproduce. When i start typing nv in chrome, NVDA says "access.org selected instead"

@fernando-jose-silva, how does this work for you nowadays?

[2017-07-17 17:37] leonardder commented on #5700
@JosephSL, do you know the current state of the news app? Thanks.

[2017-07-17 17:39] leonardder commented on #5754
Com error -2147024809 translates to 'The parameter is incorrect.'

@khsbory: is this still an issue for you?

[2017-07-17 17:40] leonardder commented on #5757
@pranavlal: Can you still reproduce this?

[2017-07-17 17:41] leonardder commented on #7409
Also, does this cover only Word, or will Excel and Outlook benefit from this as well?

[2017-07-17 17:42] leonardder commented on #6161
I belief mousedown is mapped to the clickable state, and I think this is valid. @jamessetaro, why do you think your example shouldn't be treated as clikable?

[2017-07-17 17:43] josephsl commented on #5700
Hi, at least one can use object navigation to read articles. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 10:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Support reading news on windows 10 news app (#5700)

@josephsl <https://github.c

[2017-07-17 17:49] leonardder commented on #6159
@JCSTeh: Is there a particular reason why One Core speech doesn't work on UAC screens? STR:

1. Press CTRL+ALT+Delete
2. Press NVDA+control+S
3. Select Windows OneCore voices

Result: I get a "could not load" message, even though OneCore is able to talk using Narrator just fine.

[2017-07-17 17:53] leonardder commented on #4810
it would be nice if this could be implemented as part of #7409 for Office 2016+

[2017-07-17 17:54] leonardder commented on #4371
@k-kolev1985: Do you still have this issue with Poedit 1.x?

[2017-07-17 17:55] leonardder commented on #3083
It would help if there was an example document we could try to reproduce this.

[2017-07-17 17:56] leonardder commented on #3093
@k-kolev1985: Could you provide an update on this issue?

[2017-07-17 17:57] leonardder commented on #4075
@vgjh2005: I assume you mean this specifically for NVDA's review cursor commands?

[2017-07-17 17:58] leonardder commented on #4180
@mayson: If you are the mayson who opened this issue, could you tell whether this is still an issue for you? If so, it would help if you could provide more details (e.g. steps to reproduce, version of Firefox, version of NVDA, version of Windows)

[2017-07-17 18:03] ehollig commented on #1804
Should this be closed as WLM is discontinued? It looks like the Outlook problem has been addressed separately.

[2017-07-17 18:03] leonardder commented on #3898
@dgoldfield: Could you still reproduce this?

[2017-07-17 18:13] leonardder commented on #458
@oaron: Is this issue still relevant for you?

[2017-07-17 18:14] leonardder commented on #481
This sounds a bit like sleep mode, but slightly different.
@JosephSL: Since you commented, what do you think about this issue?

[2017-07-17 18:17] leonardder commented on #96
Is it safe to assume that this is solved now that Open Office relies on IAccessible2? CC @oaron

[2017-07-17 18:20] leonardder commented on #211
I'm leaning towards a close, since this ticket is abandoned for a long time. Furthermore, after you've read the web address in the address bar by pressing alt+d or control+l, you can usually switch back to where you were using shift+f6.

[2017-07-17 18:22] leonardder commented on #1804
I belief so yes.

[2017-07-17 18:22] #1804 closed

[2017-07-17 18:24] leonardder commented on #4978
Windows Live Mail is unfortunately discontinued. Note that for example, Mozilla Thunderbird is a well functioning alternative. Closing as won't fix.

[2017-07-17 18:24] #4978 closed

[2017-07-17 18:26] leonardder commented on #4978
That is to say, A crash is somewhat more serious than some other issues gregarding WLM. @Brian1Gaff, do you recall this issue? I'm happy to reopen this if people have additional details, though it is not very likely that this can or will be fixed.

[2017-07-17 18:27] leonardder commented on #1797
Closing as won't fix due to the discontinued state of Windows Live Mail.

[2017-07-17 18:27] #1797 closed

[2017-07-17 18:30] leonardder commented on #5990
@Qchristensen: Should we consider a p3 for this? Probably depends on how disrupting this issue is.

[2017-07-17 18:32] ruifontes commented on #4978
As far as I know, this problem does not exist anymore...

About WLM, my comment is, look how many tickets about problems and
enhancements were not solved...

Rui Fontes, still using WLM!

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 17 de julho de 2017 19:26
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Sometimes when moving through emails in Windows
Live Mail NVDA wi

[2017-07-17 18:34] leonardder commented on #6112
Al though this isn't really a bug (more an unwanted side effect), might be good to set a priority in this case?

[2017-07-17 18:38] leonardder commented on #5907
@vgjh2005: Can you still reproduce? May be the system just enters an emulator or the like and the behavior is normal. Are you able to move to the desktop when NVDA is in this frozen state?

[2017-07-17 18:40] leonardder commented on #5898
@vgjh2005: Is this still the case? If so, please provide additional steps to reproduce.

[2017-07-17 18:45] leonardder commented on #5630
@JamaicanUser: Did you mean this for word? If so, this has been implemented in #6942, so this issue can be fixed. If you didn't mean this specifically for Word, I leave this open for the plans to allow browse mode in editable documents on the web.

[2017-07-17 18:49] leonardder commented on #822
Reproduced, but closing as won't fix due to 3 reasons:

1. The ticket looks quite abandoned
2. If it wasn't, importing stuff from a profile isn't an every day task, and there is a work around using object navigation, although it requires some counting and going back and forth
3. This should be fixd on Miranda's end, since the way the objects are in the accessibility tree is wrong. Furthermore, it

[2017-07-17 18:49] #822 closed

[2017-07-17 18:51] leonardder commented on #860
Confirmed in LibreOffice. Accessibility of LibreOffice Calc isn't very good anyway.

[2017-07-17 19:01] leonardder commented on #2531
Closing as duplicate of #5874. While this issue is broader in scope, #5874 has pull requests associated. Furthermore, the need for custom labels in Word en PDF documents isn't clear to me.

[2017-07-17 19:01] #2531 closed

[2017-07-17 19:01] robfentress commented on #5762
Yes, I'm aware of that.  I posted this so long ago, I'm not sure what was in my head at the time.  Looks like I maybe accidentally posted to NVDA, instead of sending something to JAWS folks.  Sorry.

[2017-07-17 19:02] elliott94 commented on #5556
Unfortunately, I no longer have access to a functional Lync installation and since Skype for Business is now the preferred option, I'm happy for this to be closed unless anybody else can provide feedbac.

[2017-07-17 19:02] leonardder commented on #6808
Closing as duplicate of #5874, which has associated pull requests.

[2017-07-17 19:02] #6808 closed

[2017-07-17 19:03] elliott94 commented on #5542
This was with Office 2010; unfortunately, I no longer have access to the SharePoint install. Happy for this to be closed unless anybody else can help.

[2017-07-17 19:04] elliott94 commented on #5561
Happy for this to be closed; at the time, we wern't using Skype for Business.

[2017-07-17 19:06] elliott94 commented on #5525
I unfortunately no longer have access to a working Lync installation. Happy for this to be closed.

[2017-07-17 19:06] leonardder commented on #967
This seemed to work fine last time I checked with Server 2012. Closing due to two reasons:

1. The author mentions server 2008, not 2008R2. 2008 mainstream support [ended on 13 January 2015](https://en.wikipedia.org/wiki/Windows_Server_2008).
2. The ticket is quite abandoned.

[2017-07-17 19:06] #967 closed

[2017-07-17 19:08] leonardder commented on #927
Unfortunately, the report contains a dead link. Might be good to track this down and, if still reproducible, fix it in #7410?

[2017-07-17 19:11] leonardder commented on #4983
Formatting information in notepad is useless, since it is a plain text editor. There is actually a font and a font size, but this is tied to notepad and not to the content. Closing as invalid.

[2017-07-17 19:11] #4983 closed

[2017-07-17 19:13] elliott94 commented on #2732
I haven't seen this for a while now - happy for it to be closed.

[2017-07-17 19:13] #2732 closed

[2017-07-17 19:13] leonardder commented on #5299
This is related to #3293

[2017-07-17 19:19] elliott94 commented on #2506
I haven't seen this since the initial time that it was reported - happy for this to be closed.

[2017-07-17 20:15] ehollig commented on #1608
Possibly related issues: #909, #3530

[2017-07-17 20:36] ehollig commented on #4144
Acording to [MozillaBug:934875](https://bugzilla.mozilla.org/show_bug.cgi?id=934875), this was fixed in Thunderbird 34.0.

[2017-07-17 20:43] ehollig commented on #4591
This sounds like a duplicate of #3057

[2017-07-17 21:17] fernando-jose-silva commented on #5700
Sorry, I tried to navigate objects to read the articles and I could not read the news.
I opened the news app on windows 10 15063.483, pressed tabe to the list of news, chose the arrows to read, pressed enter, then pressed nvda + page down until the object exploration, and tried to navigate objects with Nvda + shift + left and right arrows, and the nvda only repeated the open news link.

[2017-07-17 21:24] fernando-jose-silva commented on #5703
It's perfect, you're reading today, thank you very much.

[2017-07-17 21:54] #5703 closed

[2017-07-17 21:56] #4591 closed

[2017-07-17 21:58] #4144 closed

[2017-07-17 22:01] jcsteh commented on #909
Closing as duplicate of #1680, since it has more recent discussion.

[2017-07-17 22:01] #909 closed

[2017-07-17 22:01] jcsteh commented on #3530
Duplicate of #1680.

[2017-07-17 22:01] #3530 closed

[2017-07-17 22:11] #2506 closed

[2017-07-17 22:23] jcsteh commented on #927
Still a bug which manifests in different ways in both Firefox and Chrome:

`data:text/html,before<div role="grid" aria-readonly="true"><div tabindex="-1" role="presentation"><div role="row"><div role="gridcell">cell content</div></div></div></div>`

Firefox incorrectly reports the row and column counts as reported here.

Chrome doesn't render the cell at all.

Bugs need to be filed with both brows

[2017-07-17 22:27] jcsteh commented on #927
P4 because we don't seem to be getting reports of this particular usage in the wild. If we see a specific case of this, we can raise the priority for filing browser bugs.

[2017-07-17 22:34] jcsteh commented on #860
It looks like LibreOffice Calc does now expose the presence of a formula via IAccessible2 object attributes:

Note the "Formula" (capital f) attribute. When there is no formula, it is still exposed, but with an empty value.

So, it should be possible to map this to NVDA's STATE_HASFORMULA in the soffice app module.

P4 for now, but good for a new developer to tackle.

[2017-07-17 22:35] jcsteh commented on #860
Actually, let's go for p3, since it's not that difficult to implement.

[2017-07-17 22:39] #211 closed

[2017-07-17 22:48] jcsteh commented on #96
I believe LibreOffice still misbehaves with respect to reading more than one page at a time. Closing in favour of #4119, which is clearer about the current state of things and only discusses the IA2 implementation (not the defunct JAB implementation).

[2017-07-17 22:48] #96 closed

[2017-07-17 22:53] ehollig commented on #2823
Is this still an issue? I am not having problems with table navigation using the website provided in https://github.com/nvaccess/nvda/issues/2823#issue-116032750. Maybe there was some change in the website? CC @jcsteh

[2017-07-17 22:56] jcsteh commented on #3083
Can't reproduce with an XFA document I have here (can't share the test case unfortunately). No way to contact original reporter, so closing.

[2017-07-17 22:56] #3083 closed

[2017-07-17 23:01] jcsteh commented on #2823
Works for me now too.

[2017-07-17 23:01] #2823 closed

[2017-07-17 23:04] jcsteh commented on #6159
[**@leonardder**](https://github.com/leonardder) commented on [18 Jul 2017, 05:49 GMT+12](https://github.com/nvaccess/nvda/issues/6159#issuecomment-315829272 "2017-07-17T17:49:14Z - Replied by Github Reply Comments"):

I'm not sure. Would you mind filing a follow up issue for this? Thanks.

[2017-07-17 23:07] jcsteh commented on #5650
Yes; flick left and flick right should be listed as separate commands. Historically, they behaved the same as NVDA+numpad4/6, but that changed some time ago and the documentation wasn't updated. P2 because of user confusion.

[2017-07-17 23:08] jcsteh commented on #5687
It's tricky, but I think feature. Labelled accordingly.

[2017-07-17 23:55] jcsteh commented on #7412
Did you mean "graphics without alt text"?

There are a few considerations here:

1. Regarding accessibility testing, I'd expect things like this to be picked up by other more appropriate tools. Even if this were an option, I'd argue it should be disabled by default, since many images without alt text are purely presentational and would thus be an annoyance to users.
2. On the web, alt="" is an exp

[2017-07-18 00:07] tspivey commented on #2713
This seems to work on Windows 10.

However, NVDA still outputs here, but so do a lot of other things now.

[2017-07-18 00:13] jcsteh commented on #5759
The fact that Explorer doesn't fire a focus event on the list when opening an empty folder is a bug in Explorer. Most lists do. (Interestingly, it doesn't fire a UIA focus event, but it does fire an MSAA focus event. We use UIA for this control, so that doesn't help us.) I'm not sure whether we can work around this. @MichaelDCurran, do we have a channel to report this to Microsoft? Note that it af

[2017-07-18 00:14] jcsteh commented on #5759
P2 because this is potentially very confusing. However, it's likely that all we can do is file a bug with Microsoft, a fix for which probably won't get backported before Windows 10.

[2017-07-18 00:23] jcsteh commented on #5902
I don't really understand the issue here. Perhaps you could provide details of exactly what you expected based on your test case (e.g. the message spoken) and what happened instead.

[2017-07-18 00:25] jcsteh commented on #6138
This is out of scope for that PR, as it primarily deals with changes related to browse mode table navigation.

P3 because there is no specific demand for this yet.

[2017-07-18 00:27] jcsteh commented on #6149
[**@leonardder**](https://github.com/leonardder) commented on [17 Jul 2017, 23:39 GMT+12](https://github.com/nvaccess/nvda/issues/6149#issuecomment-315732071 "2017-07-17T11:39:43Z - Replied by Github Reply Comments"):

It already happens.

[2017-07-18 00:31] jcsteh commented on #6149
@Feerrenrut, @MichaelDCurran, thoughts on priority? On one hand, anything that helps us catch critical bugs before the final release is a good thing. On the other hand, it doesn't fit our current pattern of a build only querying for builds on the same update channel. (Rc to stable still uses the rc channel; it's just that the rc channel returns the stable release once the stable release is made. I

[2017-07-18 00:33] jcsteh commented on #3807
Probably requires the queuing part of speech refactor (#4877).

[2017-07-18 00:33] jcsteh commented on #3807
P3 because it's annoying, but there's a workaround: just press NVDA+tab to report the focus.

[2017-07-18 00:37] jcsteh commented on #5578
P2 because this is quite unintuitive and could result in much user confusion. I don't think it needs to be done as part of something else; it can be submitted as a separate PR.

[2017-07-18 00:40] jcsteh commented on #5780
While I agree we don't want profiles being modified in the add-on directory, I think at least having some way (possibly utility functions) for add-ons to easily install/uninstall profiles and triggers could be useful.

[2017-07-18 00:52] andrew-l-d commented on #7393
That is why I mention it at this point.  I am hoping that 2017.3 would revert to the previous sounds or perhaps something a bit more subtle but readily distinguishable by diverse users in various environments.

[2017-07-18 00:59] jcsteh commented on #3829
Closing as a duplicate of #4294, since that issue had an implementation and a backout. :)

[2017-07-18 00:59] #3829 closed

[2017-07-18 01:00] josephsl commented on #7105
Hi,

Laying the initial foundation in an internal branch (located at a personal fork of NVDA source code):

The trivial case at this time is winreg versus _winreg compatibility. Because API's and side effects are the same, this is perhaps the easiest milestone: import winreg, and if not, use _winreg and rename it to winreg. I'm intentionally using the newer winreg.* methods to incorporate forward

[2017-07-18 01:04] jcsteh commented on #4294
Status:

- This was implemented and then backed out due to it causing a regression; see https://github.com/nvaccess/nvda/issues/4294#issuecomment-155322168.
- The underlying cause of the regression might be less relevant after #7201.
- While this is probably the "right" thing to do, there's still no specific motivation for this at present, so the effort and risk involved is hard to justify.

Closi

[2017-07-18 01:04] #4294 closed

[2017-07-18 01:25] jcsteh commented on #1428
P4 for now because even though it makes speak typed characters useless for some languages, we haven't had any complaints in many years with those communities, so we're not sure how much this actually matters to them for whatever reason. CC @DineshKaushal for any thoughts.

[2017-07-18 01:28] jcsteh commented on #1351
[**@leonardder**](https://github.com/leonardder) commented on [15 Jul 2017, 19:30 GMT+12](https://github.com/nvaccess/nvda/issues/1351#issuecomment-315516598 "2017-07-15T07:30:26Z - Replied by Github Reply Comments"):

Agreed. If anything, people want more modules rather than less and the space gain from doing this is probably minimal, so not much point in investing resources into it.

I don't thi

[2017-07-18 01:28] #1351 closed

[2017-07-18 01:30] jcsteh commented on #3843
Windows XP was the only place i could reproduce this, but I guess it could happen if a SysListView32 disappeared while NVDA was querying it. Still, this is harmless and clearly no one has cared for years, so closing.

[2017-07-18 01:30] #3843 closed

[2017-07-18 01:31] jcsteh commented on #2317
Can anyone still reproduce this?

[2017-07-18 01:38] ehollig commented on #1296
Utorrent has changed quite a bit over the years. Is this still the case?

[2017-07-18 01:41] jcsteh commented on #2443
Appears to be fixed:

`data:text/html,<ul><li>item</li></ul><ol><li>item</li></ol>`

There is a space between the bullet or number and the text for each list item.

[2017-07-18 01:41] #2443 closed

[2017-07-18 01:45] jcsteh commented on #2609
It's probably a valid feature request; routing keys don't serve any other useful function in sliders, so they may as well do something. However, it won't work on quite a lot of sliders, including any sliders on the web, since there's no way to programmatically set those from NVDA. Marking as feature.

[2017-07-18 01:46] ehollig commented on #1431
It appears the link reported in https://github.com/nvaccess/nvda/issues/1431#issue-116026178 no longer exists. Is there another example that can be provided that experiences the same behavior?

[2017-07-18 01:47] jcsteh commented on #2494
Closing because DictationBridge allows for execution of NVDA commands. See #2976.

[2017-07-18 01:47] #2494 closed

[2017-07-18 01:49] jcsteh commented on #4007
Ideally, these issues should be reported to (and fixed by) Facebook. It may not even be possible to work around these in NVDA. I'll set to p4 in case someone wants to look into this further, though.

[2017-07-18 01:52] jcsteh commented on #3722
Closing as worksforme for now, since I can't reproeduce either. If someone can reproduce, please provide details.

[2017-07-18 01:52] #3722 closed

[2017-07-18 01:52] ehollig commented on #1611
Can anyone verify this in Outlook 2007? Otherwise, I would suggest worksforme as stated in https://github.com/nvaccess/nvda/issues/1611#issuecomment-155291170

[2017-07-18 01:55] jcsteh commented on #4016
You can already customise the pronunciation of existing complex symbols; e.g. ": phrase ending". Adding new ones is too risky, as they need to be regular expression fragments and they're all compiled into a single regular expression. Thus, there are any number of ways a user could break the entire symbol processor. Note that you can still add symbols with multiple characters; e.g. you could add ":

[2017-07-18 01:55] #4016 closed

[2017-07-18 01:57] ehollig commented on #1523
This ticket looks abandoned. Unless there is something in the logs provided that I do not know about, I would suggest worksforme

[2017-07-18 01:59] jcsteh commented on #2598
P3 to investigate.

[2017-07-18 02:00] ehollig commented on #1771
It appears there is not enough information provided on this ticket. Invalid

[2017-07-18 02:01] jcsteh commented on #2590
In case of auto synth switching, I'd think that'd reduce the need for this even further. What's the use case for this?

[2017-07-18 02:10] jcsteh commented on #7395
I do find it interesting that you get "Program Manager (not responding)" at one point. That suggests Explorer locked up, which is certainly concerning... and I don't see how NVDA could cause that. When you get Narrator running, do you encounter any strangeness at all or is everything perfectly normal?

[2017-07-18 02:14] jcsteh commented on #7394
Note that there's also a command to move the caret to the review cursor. I
wonder whether it'd be more appropriate to document this behaviour in the
description of the NVDA+f10 command, rather than generally in the section
you suggest. Aside from the fact that this is a specific user action, the
user also hasn't learnt about this command yet; it gets listed later.
Thoughts?

[2017-07-18 02:17] jcsteh commented on #5423
[**@leonardder**](https://github.com/leonardder) commented on [14 Jul 2017, 16:10 GMT+12](https://github.com/nvaccess/nvda/issues/5423#issuecomment-315265053 "2017-07-14T04:10:58Z - Replied by Github Reply Comments"):

I follow your argument with combo boxes, but even though the keyboard pattern is similar in some ways, I still don't feel this quite fits. @MichaelDCurran, @QChristensen, do you thi

[2017-07-18 02:19] #1771 closed

[2017-07-18 02:21] jcsteh commented on #1523
No activity for years and Flash is more or less dead now. Closing.

[2017-07-18 02:21] #1523 closed

[2017-07-18 02:25] jcsteh commented on #1431
Closing, as the original page is gone and there have been a lot of changes in the way NVDA handles web contentEditable over the last few years.

[2017-07-18 02:25] #1431 closed

[2017-07-18 02:27] Qchristensen opened #7413 "File Explorer / Windows Explorer - selection not read correctly when multiple files selected"
Tested in both Windows 10 and Windows 7.
In File Explorer or Windows Explorer (WINDOWS+E to open), the following behaviour is observed:
- In the file list, press SHIFT+DOWN ARROW to select the current file and the one below it.
Expected: NVDA should advise the name of the newly moved to file and the number of files selected.
Actual behaviour: NVDA reads the name of the newly moved to file just as

[2017-07-18 02:32] Qchristensen opened #7414 "Enhancement: Identify non-text clipboard contents"
In verifying #7413 (multiple file selection in file explorer not identified correctly) it was also observed that when files are copied to the clipboard, and then the contents of the clipboard queried with NVDA+c, NVDA reports "There is no text on the clipboard".

Is it possible to report non-text items on the clipboard?  For instance, I would envisage NVDA reading:
- "3 files on the clipboard"
- "

[2017-07-18 02:39] #7253 closed

[2017-07-18 02:39] jcsteh commented on #7414
I was always somewhat dubious about the NVDA+c command in the first place, since there's no sighted equivalent; it seems out of scope for a screen reader. I guess I wouldn't object if someone wants to implement this, but I personally don't think it's something we would put resources into. Also, note that each of these different clipboard formats has to be supported separately.

CC @MichaelDCurran

[2017-07-18 02:46] jcsteh commented on #7413
[**@Qchristensen**](https://github.com/Qchristensen) commented on [18 Jul 2017, 14:27 GMT+12](https://github.com/nvaccess/nvda/issues/7413#issue-243581653 "2017-07-18T02:27:30Z - Replied by Github Reply Comments"):

I don't think we'd want to hard code behaviour for select all; that would be fragile in different controls, locales, etc. I guess the best thing we could do here would be to announce t

[2017-07-18 02:46] #7413 closed

[2017-07-18 03:02] jcsteh commented on #7399
Confirmed.

Not sure why yet, but as soon as you press NVDA+r, the buffer dies. isAlive on the dead buffer seems to return True, so I ... don't understand, yet.

[2017-07-18 03:15] Qchristensen commented on #7414
I think primarily, if we are announcing what is on the clipboard (text at least), although the current message "There is no text on the clipboard" doesn't preclude that there might be other things on the clipboard, it would be good if we could identify whether there was anything at all on the clipboard, then we could get rid of the current no text announcement and either announce:
"there is nothin

[2017-07-18 03:19] Qchristensen commented on #5990
P3 is fine.  It's not overly disruption.  It's easy enough to ascertain which is the header for odd pages and which the header for even pages.  The information is there, it's just not announced as one might at first expect.

[2017-07-18 03:25] adilsweet commented on #7411
thanks for replies, i have a licence for myself, i can share with you because i have permission to install it with 3 computers, if you are able to make i'll share my licence with you till then you want, i pay 352 dollars yearly.

[2017-07-18 04:13] jcsteh opened #7415 "Support find commands in content recognition results"
It's not possible to use the find command when reading the result of content recognition; e.g. NVDA+r. From@leonardder in  https://github.com/nvaccess/nvda/pull/7361#issuecomment-314698991:

This occurs because the find command brings up a dialog and thus causes the fake focus to be lost. For #7361, I simply disabled the commands. However, this would be nice to support.

We can extend `CursorManag

[2017-07-18 04:17] michaelDCurran commented on #5423
I don't think c should jump to sliders.

[2017-07-18 04:18] leonardder commented on #5423
[**@jcsteh**](https://github.com/jcsteh) commented on [18 jul. 2017 04:17 CEST](https://github.com/nvaccess/nvda/issues/5423#issuecomment-315938758 "2017-07-18T02:17:52Z - Replied by Github Reply Comments"):

Yes, I could add it to #7290. Also #7390 pops into mind regarding the spinbutton role for button navigation.

I'm also thinking about filing a request to have toggle buttons added to check bo

[2017-07-18 04:25] Qchristensen commented on #7394
Either way.  My thought behind putting it in the description above the commands was simply because that is where it says the system caret does not follow the review cursor, so I put the exception to that there as well, but in the explanation of the NVDA+f10 command also works.

[2017-07-18 04:26] jcsteh commented on #6992
Fixed by #7150, which is now merged.

[2017-07-18 04:26] #6992 closed

[2017-07-18 05:11] Qchristensen commented on #5423
I think combo boxes and sliders are similar in the same way that unordered (bulleted) list items and ordered (numbered) list items - the interaction with them is often similar, but the meaning is different.  Sliders progress from a starting point to an ending point and each point in between is a measurable and consistent distance.  A common use is volume from 0 - 10, in increments of 1, or progres

[2017-07-18 05:52] feerrenrut commented on #6149
If I understand correctly, one way to achieve this might be to introduce an option in the GUI to pick which channel to look at for updates, regardless of the source channel for the version currently running?

Presumably this isn't a large block of work?

[2017-07-18 06:03] leonardder commented on #6149
If it is done this way, I'd love it if this channel switching capabilities would allow for development versions as well, e.g. allow stable, rc, next and master, at least by editing the configuration. I don't think detailed switching capabilities should be added to the GUI itself, though.

[2017-07-18 06:19] leonardder commented on #3738
Cells can only contain one link and the whole cell is treated as link, so this is normal behavior. Closing as invalid.

See also #3737, which is related and also has @sumandogra as author.

[2017-07-18 06:19] #3738 closed

[2017-07-18 06:22] leonardder commented on #3743
@MichaelDCurran, Since you've been working with Aria Grids recently (#7410), you probably must have seen the behaviour in this ticket when it still occurs, and whether it is unexpected.

[2017-07-18 06:27] josephsl commented on #7411
Hi, personally, I’d still say no because this raises ethical questions. Even if we want to add a feature, if it runs into ethical problems such as improper license transfers, it would have been better to think about alternatives. Thanks.

From: adilsweet [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 8:26 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590

[2017-07-18 06:36] leonardder commented on #3050
CC @ragb

I'm afraid this change isn't this trivial, you will also have to deal with Py2exe stripping unneeded modules. So you will have to set an exception for this.

Having said that, I belief this would be helpful, since multiple add-ons are using JSON. Furthermore, now there is a recognition framework (#7361), it is easier to integrate web services into NVDA that might make use of JSon.

[2017-07-18 06:41] jcsteh commented on #6149
Generic update channel switching has been requested before. I oppose this (and have closed issues accordingly) because testing various types of test builds should require a great deal of intent from the user, as they need to be fully aware of the potential risks of running test builds. Also, a user might change this setting and forget and at some point expect stable builds but instead get test bui

[2017-07-18 06:42] leonardder commented on #7411
[**@adilsweet**](https://github.com/adilsweet) commented on [18 jul. 2017 05:25 CEST](https://github.com/nvaccess/nvda/issues/7411#issuecomment-315947598 "2017-07-18T03:25:44Z - Replied by Github Reply Comments"):

Even though you can install on multiple pc's, you are probably not allowed to share a personal licence.

[2017-07-18 06:43] jcsteh commented on #3050
Actually, this is fixed by #7361, as UWP OCR depends on json and our builds thus now include it.

[2017-07-18 06:49] leonardder commented on #3050
Thanks for pointing out. I updated the description of pr #7361 accordingly to let the Github magic close this issue automatically.

[2017-07-18 07:54] leonardder commented on #5774
CC @FelixGruetzmacher

[2017-07-18 07:55] leonardder commented on #5806
CC @FelixGruetzmacher

[2017-07-18 07:59] leonardder commented on #3993
Note that Handy Tech braille input isn't supported by NVDA core, only by the unofficial custom add-on from Handy Tech themselves. However, backspace is properly mapped to the b1 key here, which corresponds to dot seven on a braille keyboard. Since this issue only talks about the backspace and not about the lack of braille input functionality, closing as works for me.

CC @FelixGruetzmacher

[2017-07-18 07:59] #3993 closed

[2017-07-18 08:03] leonardder commented on #6081
@JCSTeh: Since this can be an annoying bug and there's already a pr, would you mind a p3?

[2017-07-18 08:09] leonardder commented on #6123
@JCSTeh: Any info about the status of this?

[2017-07-18 08:11] leonardder commented on #5658
Comfirmed. CC @MichaelDCurran @JCSTeh

[2017-07-18 08:12] leonardder commented on #931
CC @Brian1Gaff

I think this is a valid request. We could also consider lowering the pitch of the beep a bit?

[2017-07-18 08:14] leonardder commented on #943
@mohammad-suliman says in #6043 that this needs an external fix by MS to work properly. This is very unlikely to happen, since we now have VS 2017.

[2017-07-18 08:16] leonardder commented on #4936
@munawar: Are you the munawar who opened this? If so, could you provide a status update?

[2017-07-18 08:22] leonardder commented on #4951
I can reproduce with the Dutch version of skype 7.38, also when i set the language back to English. However, this issue is also visible in Narrator. Probably a bug in Skype in how messages are exposed. Would it be possible to file a bug against Microsoft for Skype for desktop?

[2017-07-18 08:23] leonardder commented on #4385
Anyone with some sight who can reproduce? CC @QChristensen

[2017-07-18 08:24] leonardder commented on #3759
CC @MichaelDCurran

[2017-07-18 08:30] leonardder commented on #3411
This is most likely a bug in Lync, as NVDA just reads what is exposed to it using accessibility APIs. Given the abandoned state of this ticket, closing with needs external fix. Please provide additional details if you really think that NVDA is doing something wrong here.

[2017-07-18 08:30] #3411 closed

[2017-07-18 08:59] Qchristensen opened #7416 "Excel "new name" dialog, problem reading "refers to" edit box."
In Excel 2016, on any cell, press control+alt+f3 to name the current cell.  Press alt+r to move the focus to the "Refer to" edit box.  NVDA announces "Refers to, edit, alt+r, blank".

The contents of this edit box are actually the sheet name and cell the focus was on when the dialog was opened.  The cell reference is selected, which is what is causing problems with reading.  Press F2 to go into ed

[2017-07-18 09:12] Brian1Gaff commented on #7393
No I'm not a fan of the new ones myself either, but if the start and stop
ones were lengthened a bit and the focus and browse ones used less stereo
and a bit more in the lower registers it might be easier for those hard of
hearing. also they seem a bit quiet as I have said before.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'B

[2017-07-18 09:17] leonardder commented on #7393
CC @JCSTeh

[2017-07-18 09:29] leonardder commented on #189
CC @josephsl @JCSTeh @bdorer

@QChristensen: Since you are now involved with the NVDA training materials, you might also want to share you ideas about this issue?

[2017-07-18 09:34] leonardder commented on #219
CC @BDorer

Anyone knows whether aleksey is available on github? I'd be happy to mention him if I know his github ident.

@JCSTeh: May be you could reprovide the attachments?

[2017-07-18 09:35] dkager commented on #2609
The granularity is another consideration. Most braille display sizes don't map well to a 100% scale, e.g. with 40 cells you get 2.5% steps so rounding will occur. With 14, 32 or 88 it's also quite interesting. Plus, the usefulness of this feature depends on your braille display size. All of that muddles the UX a bit I think.

[2017-07-18 09:35] leonardder commented on #212
Superseded by #219

[2017-07-18 09:35] #212 closed

[2017-07-18 09:40] leonardder commented on #275
@JCSTeh: Is this part of webfix?

[2017-07-18 09:40] adilsweet commented on #7411
means there is no way to get an addon. so what if i purchase a new licence for another computer and if owner of the software allows me to make an addon for NVDA? if it's still impossible then no problem, i don't mind.

[2017-07-18 09:44] leonardder commented on #290
CC @Dkager @JCSTeh @BDorer @JosephSL

[2017-07-18 09:49] leonardder commented on #290
Labeled as feature. Some thoughts.

It seems that @JCSTeh doesn't want to rely on liblouis metadata alone, which I understand and agree with. @DKager, you might have a better overview on how the metadata thing is going?

Personally, I think we should allow language maintainers to set their prefered defaults with some restrictions (e.g. no grade 2). Such an automated selection system could be broad

[2017-07-18 09:54] leonardder commented on #307
Tempted towards closing this, as this ticket looks quite abandoned and this is most likely an issue in akelpad (see https://github.com/nvaccess/nvda/issues/307#issuecomment-155279868)

@pvagner, do you have anything to add here?

[2017-07-18 10:08] leonardder commented on #400
@JCSTeh: Is this still an issue?

[2017-07-18 10:12] leonardder commented on #540
Looks quite abandoned, and, if no screen reader works with this software, it is probably better to fix issues in the software itself.

[2017-07-18 10:12] #540 closed

[2017-07-18 10:18] leonardder commented on #615
I've seen this working, for example on www.babbage.com, menu link "Producten slechtzienden"

Closing as works for me, but please reopen if you belief I'm wrong.

[2017-07-18 10:18] #615 closed

[2017-07-18 10:20] leonardder commented on #673
@JCSTeh: Can't we tie console connect/disconnect to event_gainFocus/leaveFocus?

[2017-07-18 10:24] dkager commented on #3087
Note that this is likely not an issue with the PACmate or its driver, but with liblouis.

[2017-07-18 10:26] leonardder commented on #856
CC @JosephSL @Elliot94 @JCSTeh @Brian1Gaff

[2017-07-18 10:27] dkager commented on #290
Related: https://github.com/nvaccess/nvda/issues/6952#issuecomment-285997765

[2017-07-18 10:29] leonardder commented on #925
Issue looks abandoned and the W3c issue is closed. Closing this, but happy to reopen if this issue is still there.

[2017-07-18 10:29] #925 closed

[2017-07-18 10:33] dkager commented on #290
Slowly. :)
It's hard to standardize. One country's grade 1 is uncontracted, another country calls that grade 0. Yet others say grade 0 is computer braille.

[2017-07-18 11:04] Qchristensen commented on #4385
The original poster didn't mention which browser they were using, but trying with the latest versions of the four browsers on Windows 10:

- Internet Explorer and Edge both work as expected
- Chrome is still being flakey for me with mouse tracking so I couldn't get any reliable data.
- Firefox seems to be stuck reading by line rather than paragraph, even when definitely explicitly set to paragraph

[2017-07-18 13:19] josephsl commented on #7411
Hi, at this stage, I think it’d be best to talk to Long Tail Pro developers directly so folks using various screen readers can benefit from it, particularly if it’s a standalone app and not a website; ideally solutions should come from the vendor. As a customer, if you have genuine license, you are in a position of influence. Please talk to app vendor first regarding accessibility problems, then c

[2017-07-18 13:53] vgjh2005 commented on #4075
Hi:
Do you know word segmentation? This technology could help us to understand text by braille. In Chinese braille, all text is seperated by word with space. Now, it is too hard to read something by braille display. Certainly, word navigation is also helpful.

[2017-07-18 13:57] leonardder commented on #7411
Agreed with @josephsl. Furthermore, please address further questions to the NVDA mailing list, GitHub is related to NVDA core issues only, not for add-on discussions or assistance regarding making software accessibility.

[2017-07-18 15:21] dkager commented on #812
Anyone know if gvim has made steps to improve accessibility? https://github.com/nvaccess/nvda/issues/2156#issuecomment-155296102 mentions an addon, but that was lost when going to GitHub.
I would go as far as to say p4, because there are other editors that work well, such as Notepad++. This also depends on external work.

[2017-07-18 15:28] dkager commented on #816
wontfix because very specific?

[2017-07-18 15:38] dkager commented on #840
[This](https://www.autoitscript.com/trac/autoit/ticket/1199#comment:2) says it works for the developer. Going to mirror that here, but feedback welcome.

[2017-07-18 15:38] #840 closed

[2017-07-18 15:40] dkager commented on #995
No information.

[2017-07-18 15:40] #995 closed

[2017-07-18 15:41] robertspangler commented on #7359
Hello, OK so I enabled dumps by entering the command into the Python window provided in the article that you referenced.  It informed me of where it would place the file; however, no dump is being created.  Is this because NVDA itself is not crashing?  NVDA locks up but it returns when I press alt+f4 on the Adobe windows which are not responding and press Close the Program.  Additionally, I confir

[2017-07-18 15:54] dkager commented on #1010
Can't reproduce with Skype 7 and SAToGo.

[2017-07-18 15:54] #1010 closed

[2017-07-18 15:57] dkager commented on #1191
My attempts on Windows 10 are much more responsive than the 4-5 seconds mentioned. Closing because the reporter never came back to it.
CC @josephsl

[2017-07-18 15:57] #1191 closed

[2017-07-18 16:42] leonardder commented on #1319
Closing because the author didn't respond to @JosephSL's request for more information and abandoned this issue. Feel free to provide details if this still occurs, though.

[2017-07-18 16:42] #1319 closed

[2017-07-18 16:45] leonardder commented on #1327
@JCSTeh: Do you have anything to add to your last comment?

[2017-07-18 16:45] leonardder commented on #847
@JCSTeh: is it correct that this at least requires #4877?

[2017-07-18 16:58] leonardder commented on #949
@MichaelDCurran @Brian1Gaff, have you still seen this issue lately? I'm tempted to close as won't fix, given the age of Office 2007 and older.

[2017-07-18 17:07] leonardder commented on #994
I'm not sure what to do with this. Feels a bit too harsh to close, but I wonder whether it is likely that NV Access will ever invest resources into it. @JCSTeh, thoughts?

[2017-07-18 17:09] leonardder commented on #945
Seems like a valid request, but the ticket is quite abandoned. If noone else shows interest in this before end of next week, I will close.

[2017-07-18 17:12] leonardder commented on #963
@k-kolev1985: Do you agree with closing as works for me? I'm afraid we can't track down the original author.

[2017-07-18 17:15] leonardder commented on #1004
@JCSTeh: do you agree with a close here given your opinion in https://github.com/nvaccess/nvda/issues/1004#issuecomment-155285347?

[2017-07-18 17:17] leonardder commented on #1186
Closing, as there is an add-on for this (although not publicly listed).

[2017-07-18 17:17] #1186 closed

[2017-07-18 17:18] leonardder commented on #1196
This ticket looks quite abandoned. Is there still desire to include this appModule into core?

[2017-07-18 17:22] leonardder commented on #1210
Although this ticket is quite abandoned and I was about to close it, I was able to reproduce strange behaviour in LibreOffice given the steps above. It seems the focus moves to an unknown object for a short amount of time and than the document gets the focus back.

[2017-07-18 17:24] leonardder commented on #1216
@camlorn: Can you still reproduce this?

CC @JCSTeh

[2017-07-18 17:24] leonardder commented on #1223
@oaron: Could you provide additional details about this?

[2017-07-18 17:28] leonardder commented on #1228
Closing as invalid as things have changed in a major way during the last seven years, and the author didn't respond to @MichaelDCurran's last message in this issue.

[2017-07-18 17:28] #1228 closed

[2017-07-18 17:29] leonardder commented on #1250
It seems noone ever cared about writing a native driver for this. Since this works with BRLTTY, closing as won't fix.

[2017-07-18 17:29] #1250 closed

[2017-07-18 17:32] leonardder commented on #1256
Closing as invalid due to the abandoned state of this issue. If you still require support for this, please provide additional information (e.g. what doesn't work, do you think this is related to NVDA or a11y problems in general) and we can consider a reopen?

[2017-07-18 17:32] #1256 closed

[2017-07-18 17:47] ruifontes commented on #945
Skin reading is very interessant to read/consult big documents...
You can define a word or conjunt of words, and ask NVDA to read only sentences with those words, or, by instance, ask NVDA to read the 3 first lines of each paragraph...

We talked some days ago in addons list ina feature related...

Hi Derek!

1 - Check if I did not repeat lots of times, unnecessarily, the same word...

2 - If with

[2017-07-18 18:00] elliott94 commented on #5485
I can no longer reproduce this - happy for it to be closed.

[2017-07-18 18:01] elliott94 commented on #7311
1. if in the Taskbar, NVDA will only output the names of tooltips for each icon (if there is an associated tooltip). Otherwise, nothing will be announced.

2. In IE, nothing whatsoever is announced when tabbing - other than the question of whether the browser should be set as the default.

[2017-07-18 18:02] elliott94 commented on #3270
After testing this, it appears that this particular dialog is presented as a graphic; this can be found when using Object Navigation, and I am able to successfully read the content if I OCR the object. Hope that helps!

[2017-07-18 18:04] leonardder commented on #6159
Never mind my previous comment, it turned out that I had an old test driver in my synthDrivers folder for system config.

[2017-07-18 18:21] leonardder commented on #1260
You can already do this by disabling browse mode. Closing as invalid.

[2017-07-18 18:28] leonardder commented on #1260
Hmm, might have been a bit too quick here, since it is not very easy to copy parts of the website content. You can do a select all though. Issue is still abandoned though, but if someone can file a valid use case for this, I'm happy to reopen

[2017-07-18 18:35] leonardder commented on #1312
Closing as invalid, because it is not possible to track down the original author, many things have changed since 2011 and I've never seen this bug in a JAVA app.

[2017-07-18 18:35] #1312 closed

[2017-07-18 18:40] leonardder commented on #1337
@JCSTeh: Could you restore the attachment to see whether this still occurs

[2017-07-18 18:43] dkager commented on #1261
Any Online Americans have experience with [the latest version](https://discover.aol.com/products-and-services/aol-desktop-for-windows)? If not we can probably close this as outdated.

[2017-07-18 18:48] leonardder commented on #1348
Comfirmed. Since this is quite an old issue, giving this P4. @JCSTeh: Feel free to set another priority, since you are the initial author of this.

[2017-07-18 18:50] leonardder commented on #1358
Closing as won't fix because VS2008 is quite old now

[2017-07-18 18:50] #1358 closed

[2017-07-18 18:53] leonardder commented on #1474
Closing as won't fix as per https://github.com/nvaccess/nvda/issues/1474#issuecomment-155289654. Server admins should be aware of this fact.

[2017-07-18 18:53] #1474 closed

[2017-07-18 19:00] leonardder commented on #1488
Silverlight has been discontinued and this ticket looks abandoned anyway. Closing as invalid, since @JCSTeh pointed out that silverlight apps should be accessible if app authors took that in mind.

[2017-07-18 19:00] #1488 closed

[2017-07-18 19:03] leonardder commented on #1626
CC @MichaelDCurran @JosephSL @JCSTeh

[2017-07-18 19:05] leonardder commented on #1641
Color reporting works for newer versions of Word, Word 2003 is quite outdated now. Closing, but it might help if someone could tell whether a works for me label could be added.

[2017-07-18 19:05] #1641 closed

[2017-07-18 19:06] leonardder commented on #1693
Could anyone provide info on how this works in IE11?

[2017-07-18 19:08] leonardder commented on #1654
Closing n favour of newer duplicate #5874.

[2017-07-18 19:10] leonardder commented on #1654
Hmm, honestly, I decided to quick on this one. I'm getting overworked.

[2017-07-18 19:24] zahyur commented on #5780
Or the modified profile could be saved in the user's directory, and take precedence over the addon's one.
Or only the changed part, and the modified profile may stack over the one, supplied by the addon.
Just ideas.

[2017-07-18 20:12] ehollig commented on #1534
Anyone who is using thunderbird? CC @leonardder

[2017-07-18 20:13] ehollig commented on #1721
CC @leonardder

[2017-07-18 20:18] ehollig commented on #1706
CC @leonardder @Brian1Gaff

[2017-07-18 20:26] ehollig commented on #1623
Sounds like this has been fixed from [MozillaBug:673860](https://bugzilla.mozilla.org/show_bug.cgi?id=673860)

[2017-07-18 21:38] ehollig commented on #2050
Sounds like there is not enough information provided to replicate.

[2017-07-18 21:51] ehollig commented on #2321
Possibly related: #2216

[2017-07-19 00:54] #7389 closed

[2017-07-19 00:55] ruifontes commented on #3270
Sorry, but you are wrong...
The dialog is not graphical. You can read it using the object navegation.

In 2010 the dialog is not read automatically, but in 2013 is automatically.

Rui

-----Mensagem Original-----
De: elliott94
Data: 18 de julho de 2017 19:02
Para: nvaccess/nvda
Cc: ruifontes ; Comment
Assunto: Re: [nvaccess/nvda] Word 2010: Allow NVDA to read the Text
Statistics dialog. (#3270)

A

[2017-07-19 01:18] jcsteh commented on #2216
NVDA no longer provides the option to creat autorun.inf (61c2d1c2), as it doesn't work at all for USB drives now. Even on optical media, it still requires manual intervention from the user when the dialog appears.

[2017-07-19 01:18] #2216 closed

[2017-07-19 01:22] jcsteh commented on #2321
CDs/DVDs are a lot less common now; many systems don't have such a drive. It's possible to emulate one with a U3 drive, but U3 drives have been discontinued. Thus, I don't think putting resources into this makes sense. I think running the download package (rather than a portable copy) is acceptable where someone does still want to do this.

[2017-07-19 01:22] #2321 closed

[2017-07-19 01:23] #2050 closed

[2017-07-19 01:24] #1623 closed

[2017-07-19 01:28] jcsteh commented on #1534
NVDA's handling of Mozilla rich text editing (as used by the HTML composer) was completely refactored in #1668. Issues like this should be fixed as a result. Closing, but please comment if the problem persists.

[2017-07-19 01:28] #1534 closed

[2017-07-19 01:31] jcsteh commented on #1626
Still not fixed. Mozilla bug needs to be filed.

[2017-07-19 01:49] jcsteh commented on #1337
[nvda-test.html](https://github.com/nvaccess/nvda/files/1157770/nvda-test.html.txt)

[2017-07-19 01:54] jcsteh commented on #1260
This could be very useful; e.g. when copying a specific section of a page with headings, links, tables, etc. for pasting into another document or an email. However, it requires significant refactoring of our web support; it's not possible with our current virtual buffers.

@MichaelDCurran, is there any reason we can't do this for Edge, since we don't use buffers there already? Can we make selectio

[2017-07-19 02:06] jcsteh commented on #7311
This sounds like both UI Automation and MSAA are kinda broken, which is rather concerning. It'd be great if you could provide a complete log file at level debug showing a brief bit of alt+tabbing, navigation in the Start menu, tabbing in IE and moving through the icons on the Taskbar.

Also, you said:

Just to be super clear, do you mean you're choosing to run NVDA as admin or just that the accoun

[2017-07-19 02:10] jcsteh commented on #1216
I think Acrobat completely ignores any tagging when you switch to any reading order other than "infer from document". Thus, the idea of block elements (which NVDA relies on to break lines) aren't present. This should be fixed by the fix for #7275.

[2017-07-19 02:13] jcsteh commented on #1004
I'm still against doing this by default. However, I wouldn't oppose providing the set row header and set column header commands for browse mode to ease navigation of tables which don't specify headers. How we would persist these (or whether we do at all) is an open question.

[2017-07-19 02:15] jcsteh commented on #994
We won't invest resources into it, but that doesn't mean someone else can't look into it. P4.

[2017-07-19 02:37] jcsteh commented on #1327
1. Any changes relating to compatibility checks should be done for add-on packages, rather than app modules, as directly copying app modules was deprecated long ago.
2. If we change public API, we do our best to deprecate it for at least one version so authors have time to update their add-ons. We document any deprecations or removals in the What's New.
3. Users should ensure they're running the l

[2017-07-19 02:37] #1327 closed

[2017-07-19 02:40] jcsteh commented on #7359
That's unfortunate. Sometimes, NVDA is unable to generate dumps for other applications. The only way to get a dump then would be to use WinDBG, but unless you're familiar with that already, I don't think that's feasible; using WinDBG to do this is quite involved.

I'll see about contacting Adobe.

[2017-07-19 02:42] robertspangler commented on #7359
If it’s a matter of running another program, like a debugger, in the background than I might be able to do it.  If it involves getting into the code and setting breakpoints and such then I’m afraid you’re right – that’s a little beyond me.  Haha.

From: James Teh [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 10:41 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: robertspangler <

[2017-07-19 02:45] robertspangler commented on #7359
Additionally, though, if it would help to provide my contact details to Adobe so that they can work with me, too, please feel free.  I’m not sure if you can see my email address on here or not but pass it along to them if you feel it would be valuable.

From: James Teh [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 10:41 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: robertspan

[2017-07-19 02:55] jcsteh commented on #290
The new brailleTables module introduced in #6449 makes our own table metadata a lot more extensible. I think we could add a `defaultForLanguages` argument to the `addTable` function which specifies a list of languages for which this is the default. To be future proof, I think we should allow language defaults to be specified for both contracted and uncontracted. For now, we can just choose uncontr

[2017-07-19 03:30] jcsteh commented on #673
Sure we can. However, that will make it impossible to review non-focused consoles. Still, that's probably the best we can hope for at this stage, so that's probably the solution we should go with.

[2017-07-19 03:34] jcsteh commented on #400
I'm not certain, but I'm pretty sure I've seen automatic standby work in the past few years. My guess is that this is an XP specific issue. It'd be great if someone can confirm that automatic standby works after playing beeps; e.g. progress bar beeps or mouse tracking beeps.

[2017-07-19 03:38] jcsteh commented on #275
I don't think so, since it doesn't appear to be affecting users in the wild. Moreover, I don't see a way to fix this which won't break cases where a button doesn't implement key handling as the user expects. Closing as won't fix, but if there are solid use cases for this in the wild, happy to discuss.

[2017-07-19 03:38] #275 closed

[2017-07-19 03:39] jcsteh commented on #2609
In light of @dkager's comment concerning questionable UX, closing as wo't fix. Of course, this doesn't prevent this from being published as an add-on. :)

[2017-07-19 03:39] #2609 closed

[2017-07-19 03:47] jcsteh commented on #219
No need; the code is available in the `smartDictionaries` branch in the official repo.

1. I've always been very dubious about this. It seems overly complex to me and I'm not clear on real world use cases.
2. We don't "support" manual editing of files these days, so a regular expression isn't a good fit.
3. Even if users used multiple synthesisers for a single language, would they go through the e

[2017-07-19 03:50] jcsteh commented on #943
Closing, since 2010 is very old and this is unlikely to ever get fixed.

[2017-07-19 03:50] #943 closed

[2017-07-19 03:54] jcsteh commented on #5658
Thanks for the suggestion.

We don't want to require users to open an email to access the download, as we already get enough flack for requiring an email address at all.

Using this to help friends download NVDA is interesting, but would probably open us up to spam complaints and service providers are getting very aggressive about such things now.

Closing as won't fix.

[2017-07-19 03:54] #5658 closed

[2017-07-19 03:55] jcsteh commented on #6123
No idea. P3 to investigate.

[2017-07-19 03:58] jcsteh commented on #4345
Closing as duplicate of #6081, as that issue provides a use case and a PR.

[2017-07-19 03:58] #4345 closed

[2017-07-19 04:05] jcsteh commented on #3743
Duplicate of #5118, fixed in a50699cf.

[2017-07-19 04:05] #3743 closed

[2017-07-19 05:00] Neurrone opened #7417 "Outlook 2016 errors while reading emails with tables"
### Steps to reproduce:

1. Read a moderately complex email that contains tables such as linked in's invites. I'm not sure what the best way would be to post a sample email that can be imported into outlook.
2. Do a say all. It stops reading once it encounters this error:

[code]

3. The same error appears as well when moving using the arrow keys, just with a slightly different call stack.

### Ex

[2017-07-19 07:04] leonardder opened #7418 "Speak selection changes in Delphi grids"
Delphi applications tend to use grid controls which don't expose information to MSAA. The only way to reach the grid contents is by means of the display model. When navigating through the particular grids using arrow keys, NVDA doesn't speak any information.

There are two ways this can be fixed, and even though this most of the time happens in Delphi applications, I'd go for generalized approache

[2017-07-19 08:26] jcsteh commented on #7418
While I agree the second approach covers more cases, one advantage of the
first approach is that you could manufacture a fake focus NVDAObject, which
would be a lot nicer for braille. Otherwise, you can only push braille
messages, which is not ideal.

[2017-07-19 08:43] Qchristensen commented on #6382
Scrolling certainly seems inconsistent across browsers
So, trying current browsers:
Chrome: When jumping to an element that is off screen, scrolls so that the element is just below the middle of the screen.

Firefox: When jumping to an element that is off screen, scrolls so that the element is on the bottom line of the screen.

Internet Explorer: When jumping to an element that is off screen, scro

[2017-07-19 08:43] dreinn opened #7419 "Braille scrolling in Notepad++ is broken"
### Steps to reproduce:
1. Open Notepad++ with a text file.
2. press scrolling button on display braille, you will see a new line for about half a second, then braille display return to previous position.
So scrolling is impossible.
This doesn't happen on other software like thunderbird, Microsoft Word, Notepad.
In 2017.2 all works ok.

### Expected behavior:
Show the new text normally.

### Actua

[2017-07-19 08:45] leonardder commented on #7418
[**@jcsteh**](https://github.com/jcsteh) commented on [19 jul. 2017 10:26 CEST](https://github.com/nvaccess/nvda/issues/7418#issuecomment-316311471 "2017-07-19T08:26:30Z - Replied by Github Reply Comments"):

Interesting thought. Slightly off topic, but I had a discussion with @BramD this morning about objects for parts of the display model which e.g. don't have an IAccessible object, e.g. for ima

[2017-07-19 09:33] leonardder commented on #290
One concern I have is how we should deal with dialects. For example, there is a Dutch (Netherlands) and Dutch (Belgium) table, however there is only one single NVDA language for both dialects. Using the windows language for this could be sufficient, of course.

[2017-07-19 09:50] dkager commented on #290
One result that should come out of the Braille Authority is that these two tables get merged. But I imagine some Asian countries have the dialect problem too. English countries had it, but UEB covers most or all of that.

[2017-07-19 10:06] leonardder commented on #6382
[**@Qchristensen**](https://github.com/Qchristensen) commented on [19 jul. 2017 10:43 CEST](https://github.com/nvaccess/nvda/issues/6382#issuecomment-316315798 "2017-07-19T08:43:17Z - Replied by Github Reply Comments"):

Hmm, that suggests that Firefox and Chrome treat IAccessibleHandler.IA2_SCROLL_TYPE_ANYWHERE differently.

Hmm, it seems scrolling isn't implemented for UIA at all. @MichaelDCurra

[2017-07-19 10:09] leonardder commented on #7419
CC @BramD

This is most likely caused by commit https://github.com/nvaccess/nvda/commit/e5cc1931e0ebf4b37e72b1f634c30f9482543dcb, see https://github.com/nvaccess/nvda/pull/7332#issuecomment-314720772

[2017-07-19 10:27] leonardder commented on #7382
Confirmed that this now works as expected.

[2017-07-19 11:48] ruifontes commented on #847
The only use case I remember is having the operating system and apps in
english and using all documents, mails and so on in portuguese.
I know some portuguese banks have systems like that...

Rui

-----Mensagem Original-----
De: James Teh
Data: 19 de julho de 2017 03:25
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Controling menu voice and reading voice (#847)

Yes. However, I'd

[2017-07-19 14:38] danwainwright01 opened #7420 "Suggestion"
Hi, I have a suggestion, as a person who downloads a lot, and is into software development, I spend a lot of time waiting for things to load, I am suggesting that as well as the progress beeps which I admit are very good and helpful, can we please please have the chance to change to percentage updates as seen on JAWS. I just think it would be a good idea. Sorry for mistakes, this is typed in a hur

[2017-07-19 16:02] ehollig commented on #2222
I do not believe this is an issue anymore. I personally think the dialog saying "Updating NVDA" is enough to know what is going on. When the update completes, the start/exit tones are heard indicating a restart.

[2017-07-19 16:07] pranavlal commented on #5757
No/

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 11:11 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA key echo slows down at random intervals when typing in outlook 2016 (#5757)

@pranavlal <https://github.com/pranavlal> : Can you still reproduce t

[2017-07-19 16:08] ehollig commented on #7420
Possibly related: #4388, #5031

[2017-07-19 16:29] ehollig commented on #3008
This sounds like it has been resolved from https://github.com/nvaccess/nvda/issues/3008#issuecomment-155304986. Possibly related #7383

[2017-07-19 16:58] leonardder commented on #7420
Honestly, I'm reading this as @danwainwright01 is suggesting to have NVDA speak for progress bars, and that is already possible. See nvda mmenu > options > object presentation.

[2017-07-19 17:02] leonardder commented on #1654
Closing for real this time, duplicate of #7412, which contains some considerations by @JCSTeh and for which triage has already token place.

[2017-07-19 17:02] #1654 closed

[2017-07-19 17:04] #3008 closed

[2017-07-19 17:07] leonardder commented on #6083
There's a pr for this, I suggest a p3 to review it.

[2017-07-19 17:08] leonardder commented on #4228
I actually consider this a bug instead of an enhancement. However, since it isn't live threatening at all, assigned a priority of p4. A nice way to fix this would probably be #7283.

[2017-07-19 17:14] leonardder commented on #2863
Anyone on Windows 8 who can try to reproduce this?

[2017-07-19 17:24] leonardder commented on #1211
Can't reproduce with the newest libre office, which IA2 code is based on Symphony. Closing, but please provide additional details if you have them available.

[2017-07-19 17:24] #1211 closed

[2017-07-19 17:26] leonardder commented on #3631
@JCSTeh: is this still an issue? I can't reproduce this in the find and replace dialog of Libre Office, for example.

[2017-07-19 17:27] leonardder commented on #2847
@BramD, can you still reproduce this? Might be related to #4228

[2017-07-19 17:29] leonardder commented on #3406
Closing as invalid, since this is expected behaviour, as moving to the folders list doesn't select the folder. You have to do that explicitly using enter. At least, that is what I recall from my past experiences with Outlook 2013.

Please request a reopen if you belief I'm in error.

[2017-07-19 17:29] #3406 closed

[2017-07-19 17:37] leonardder commented on #3412
Closing as invalid, since the author seems to have abandoned this and it is not possible to track down the author. Also, it seems that typepilot operates within a text editor like notepad or word, and we really need information on what editor it is used with.

[2017-07-19 17:37] #3412 closed

[2017-07-19 17:41] leonardder commented on #3449
Hmm, I've been trying to drag and drop icons in the task bar recently, and it seems to fail regularly. Though that's not related to this particular application, it is certainly related to drag and drop behaviour.

CC @lilmike: Is this still of interest for you?

[2017-07-19 17:42] leonardder commented on #3924
@DKager, have you seen this during your work for reporting links in braille?

[2017-07-19 17:45] leonardder commented on #5284
Comfirmed. Unfortunately, these submenu items don't expose oleacc.STATE_SYSTEM_HASPOPUP, so there's probably nothing we can do about it. It is very unlikely that Microsoft will fix this, as they are probably investing all their efforts in WPF. Closing as can't fix.

[2017-07-19 17:45] #5284 closed

[2017-07-19 17:48] leonardder commented on #5335
@DerekRiemer: Do you still belief this should be included? I find RTerm to be very accessible. Jonathan Godfrey, one of the blind R experts, says that blind users shouldn't even bother about the GUI.

[2017-07-19 17:50] leonardder commented on #5338
Honestly, I don't know what notewiev wiev mode is supported to mean. Closing as won't fix due to the age of powerpoint 2003.

[2017-07-19 17:50] #5338 closed

[2017-07-19 17:53] leonardder commented on #5346
I'm afraid it's not possible to track down the original author any more. The issue sounds more like a JAVA bug than a Visual C++ runtime.

[2017-07-19 17:54] leonardder commented on #5369
Closing as invalid, since NVDA community website moved away from trac.

[2017-07-19 17:54] #5369 closed

[2017-07-19 17:55] leonardder commented on #5370
Trac specific, which we no longer use. Closing.

[2017-07-19 17:55] #5370 closed

[2017-07-19 18:00] ehollig commented on #1466
@Brian1Gaff, are you looking for something like #1708?

[2017-07-19 18:01] leonardder commented on #4893
This works for me in all browsers. Note that text surrounded with ```<q>``` is placed between quotation marks, <q>like this</q> You need speak symbols set to most or all.

[2017-07-19 18:01] #4893 closed

[2017-07-19 18:13] leonardder commented on #5420
Last time I tried, it looked a bit quirky but I recall I was able to see the state of roles correctly. Not surethough.

Duplicate of #967, though that mentions server 2008. However, since #967 is closed, lets leave this open :)

[2017-07-19 18:15] leonardder commented on #5200
CC @Elliott94

Closing as invalid, since even though the commands are mentioned in the user guide, they are in fact Word commands, so it is expected that they don't speak in input help.

[2017-07-19 18:15] #5200 closed

[2017-07-19 18:18] ehollig commented on #6319
I am experiencing the same as https://github.com/nvaccess/nvda/issues/6319#issuecomment-243690256.

[2017-07-19 18:20] leonardder commented on #5202
Closing, since the mentioned drupal issue seems fixed.

[2017-07-19 18:20] #5202 closed

[2017-07-19 18:20] dkager commented on #3924
I can only reproduce this by:
- Tethering to review.
- Turning on the cursor.
- Going into focus mode, then back into browse mode.

But I don't see oduble writes. Of course that could be because the writes occur in a short time.

[2017-07-19 18:24] leonardder commented on #5073
@JCSTeh: I'm a convinced non-advocate of this functionality in the core of a screen reader, so I'm a bit biased for triage of this. May be you can share an "official" standpoint?

[2017-07-19 18:25] leonardder commented on #2341
Sapi4 is quite abandoned these days. Same applies to this ticket. Closing as won't fix as for other SAPI4 issues.

[2017-07-19 18:25] #2341 closed

[2017-07-19 18:28] leonardder commented on #5082
This works for me, but I'm not sure whether my Firefox is entirely chromeless. @DerekRiemer, would you like to give this a try as well?

[2017-07-19 18:29] leonardder commented on #1975
Community website has been replaced, closing.

[2017-07-19 18:29] #1975 closed

[2017-07-19 18:30] leonardder commented on #4957
@JosephSL: Does this still apply to the NVDA community wiki on github?

[2017-07-19 18:33] leonardder commented on #3267
[This](http://www.speakon.org.uk/SpeechHub.html) is not yet added on https://github.com/nvaccess/nvda/wiki/ExtraVoices

[2017-07-19 19:38] StommePoes commented on #4493
alertdialogs in the tutorials and examples we're using internally and giving to our devs does expect the dialog-as-application setup; regular dialogs are filled with web content. It might have been better had developers, being told by their designers to modal-all-the-things, didn't use the dialog role in the first place but just had things to let users know they were in a "modal" and leave dialogs

[2017-07-19 19:39] bramd commented on #2847
@leonardder Wow, that's an old one. Just tried the exact steps I described. While the downloading dialog was displayed, nothing special happened. However, when the message that the download was succesfull and the update will be installed is displayed, the find dialog seems to react strangely. Tabbing no longer works properly and pressing enter doesn't activate the OK button anymore. I can't cancel

[2017-07-19 19:44] bramd commented on #2847
@leonardder Wow, that's an old one. It seems I can't reproduce this right now with the "No updates available" dialog open on next. Will try it again if there are updates.

[2017-07-19 19:50] bramd commented on #2847
@leonardder Started an older build to trigger updates. When the dowloading dialog is visible, nothing strange happens. However, when the download is complete and the message box that the update will be installed appears, things get weird.

Opening a find dialog doesn't work as expected, tabbing around doesn't work and OK/cancel with enter/escape doesn't activate the buttons. I found an easier way

[2017-07-19 20:44] fernando-jose-silva opened #7421 "Nvda is not reading auto filter options in excel 2013"
When opening a spreadsheet in excel 2013 and pressing alt+downArrow
, and soon after walking with arrows below nvda is not reading the auto filter options displayed by excel.
For the tests:
Create a spreadsheet in excel I believe that with at least two lines.
In the first line press alt+downArrow.
Excel displays the list with auto filter options.
By pressing down arrow the nvda informs only list.

[2017-07-19 20:54] dan1982code commented on #7420
The OP appears to be asking for a way to change the interval at which percentage notifications are spoken; e.g. every 5%, every 10%, etc.

[2017-07-19 21:05] dan1982code commented on #7393
I've also been wondering about the very lengthy jingle that plays when NVDA updates. I do like it. But it's several seconds; is the install still happening then or is it slowing down the install? If other sounds are being shortened, perhaps this one could too?

[2017-07-19 21:34] dan1982code opened #7422 "UX: NVDA+F3, NVDA+Shift+F3, Find Error"
When in browse mode and you hit something like q, and there is no next block quote, we get a spoken error but no alert box.

But when we do NVDA+F3 to search for text, and the text isn't found, we get an alert box with a "find error" in it. This requires the additional keystroke of hitting escape to clear this dialog.

Could the "find error" be spoken just as is the "no next block quote" message;

[2017-07-19 21:47] jcsteh commented on #7422
While it's true that these bringing up dialogs is inconsistent with single
letter navigation, NVDA+f3 and NVDA+shift+f3 are arguably more closely
related to NVDA+control+f, which brings up a dialog. In fact, the two f3
variants will bring up the Find dialog if a search string hasn't already
been entered. If we did change this, that would make things inconsistent in
relation to the Find dialog, sin

[2017-07-19 21:49] jcsteh commented on #7393
I have plans to eventually remove that logo sound. That said, it does not
slow down the install in any way; it plays while the installer is loading.

[2017-07-19 21:53] jcsteh commented on #7420
As noted earlier, you can already switch to speaking of percentages. Closing.

[**@dan1982code**](https://github.com/dan1982code) commented on [20 Jul 2017, 08:54 GMT+12](https://github.com/nvaccess/nvda/issues/7420#issuecomment-316514267 "2017-07-19T20:54:47Z - Replied by Github Reply Comments"):

The request was "the chance to change to percentage updates". The "to" suggests switching, rather th

[2017-07-19 21:53] #7420 closed

[2017-07-19 21:55] ruifontes commented on #7422
My opinion is going to the option of NVDA+F3 and NVDA+Shift+F3 do not show a
error dialog...

Rui

-----Mensagem Original-----
De: James Teh
Data: 19 de julho de 2017 22:47
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] UX: NVDA+F3, NVDA+Shift+F3, Find Error (#7422)

While it's true that these bringing up dialogs is inconsistent with single
letter navigation, NVDA+f3 and NVDA+shif

[2017-07-19 21:56] jcsteh commented on #7421
Duplicate of #6459.

[2017-07-19 21:56] #7421 closed

[2017-07-19 21:59] dan1982code commented on #7422
Thanks! I agree in that we're trading one inconsistency for another. That said, there's no way we can do NVDA+ctrl+F _without_ a dialog box. So the rule, consistently applied, could be: don't use a dialog/alert unless required. With that rule, NVDA+F3 could be consistent in not bringing up an alert when not found.

[2017-07-19 22:05] dan1982code commented on #7422
I don't quite think that this fixes 7415. You still couldn't use NVDA+CTRL+F to find something new. You could use NVDA+F3 to search for the next occurrence of the last find, though, and a "find error" wouldn't ruin it.

[2017-07-19 22:12] jcsteh commented on #7422
That's why I said it fixes the second part of #7415. :) The first part
needs a separate fix, but I think I already know how to manage that.

[2017-07-19 22:38] jcsteh commented on #2847
If I'm reading this right, the originally reported behaviour (an update dialog gaining focus after dismissing the Find dialog) no longer occurs. The weird issue with the Find dialog not responding to key commands (tab, enter, escape, etc.) occurs because the update success dialog is a modal dialog, which seems to block messages from getting to modeless dialogs. #1451, #3361 and #5735 are other ins

[2017-07-19 22:40] dan1982code commented on #7422
Misread, sorry :( Cool, though! We could fix that and remove the (arguably) extraneous "find error" alert.

[2017-07-19 22:47] jcsteh commented on #6319
Closing as worksforme, since we have two reports of this working as expected and nothing more from reporter in nearly a year. Please reopen if the problem persists and provide additional details, including a log file. Thanks.

[2017-07-19 22:47] #6319 closed

[2017-07-19 22:51] jcsteh commented on #5346
It could also be a misconfigured Java Access Bridge. Completely reinstalling Java and the Java Access Bridge might help. Closing, since we can't contact the reporter.

[2017-07-19 22:51] #5346 closed

[2017-07-19 23:08] jcsteh commented on #3631
It seems this issue is fixed, but now we don't report dialog captions at all; e.g. the "Save Document?" dialog. That should probably be addressed in a separate issue to avoid confusion.

Quick note: getDialogText probably doesn't descend into option panes. It needs to for LibreOffice.

[2017-07-19 23:08] #3631 closed

[2017-07-19 23:15] #2222 closed

[2017-07-19 23:46] jcsteh commented on #6213
[**@leonardder**](https://github.com/leonardder) commented on [21 Jun 2017, 20:56 GMT+12](https://github.com/nvaccess/nvda/issues/6213#issuecomment-310012876 "2017-06-21T08:56:25Z - Replied by Github Reply Comments"):

I guess the `_getObjScript` approach will work. I agree it's a bit ugly, but I don't have an alternative.

[2017-07-19 23:55] jcsteh commented on #7306
[**@leonardder**](https://github.com/leonardder) commented on [21 Jun 2017, 20:50 GMT+12](https://github.com/nvaccess/nvda/issues/7306#issuecomment-310011359 "2017-06-21T08:50:16Z - Replied by Github Reply Comments"):

I mean a control that doesn't accept characters as text input. You can use the new private `NVDAObject._hasNavigableText` property for part of this, but you must also treat browse m

[2017-07-20 01:06] jcsteh commented on #7399
Fixed in 90241a0; merged in 6220c1b2.

[2017-07-20 01:06] #7399 closed

[2017-07-20 01:50] ehollig commented on #2423
@josephsl, is this the case anymore or has this been fixed as stated in https://github.com/nvaccess/nvda/issues/2423#issuecomment-155298560

[2017-07-20 01:59] ehollig commented on #2349
When I go to the requested URL and press B, I am placed on the "Annuler" button. If I then press G, there is no graphic found. I am able to navigate to any other graphic on this page and route the mouse to the review cursor without a problem.

[2017-07-20 02:14] ehollig commented on #2566
Looks like the original link does not exist anymore. Sounds to be invalid, unless there is another site that experiences the same behavior.

[2017-07-20 02:17] josephsl commented on #2423
Hi, Windows 8 release preview? I’d say it should be closed. Thanks.

From: ehollig [mailto:notifications@github.com]
Sent: Wednesday, July 19, 2017 6:51 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA doesn't read status of live icons in Windows 8 RP (#2423)

@josephsl <https://github.

[2017-07-20 02:18] ehollig commented on #2832
Is this still the case @Brian1Gaff? The website that was provided does not exist anymore and I am unable to replicate the issue described here.

[2017-07-20 02:53] #2423 closed

[2017-07-20 02:57] #2566 closed

[2017-07-20 03:00] jcsteh commented on #2349
The exact instructions don't get me to the graphic either, though I was able to find the numeric pad. However, routing the mouse to all of these graphics works for me too.

[2017-07-20 03:00] #2349 closed

[2017-07-20 05:16] leonardder opened #7423 "Create new locationHelper module to facilitate easier conversion between rectangle and point types"
Currently, there are many different ways in which a location is presented in NVDA:

* (Left, top, width, height)
* (left, top, right, bottom)
* textInfos.Rect, which has left, top, right and bottom properties
* ctypes.wintypes.Rect, which is a struct and also has left, top, right and bottom properties
* (x,y)
* textInfos.Point, which has x and y properties
* ctypes.wintypes.Point, which is a struc

[2017-07-20 05:39] jcsteh commented on #7423
I've considered this kind of thing in the past. The problem is that it
requires all NVDAObjects and TextInfos to return locations and points using
these new objects. While we can modify core ones (though that will touch
quite a bit of code), NVDA's extensibility means others can (and do)
implement their own NVDAObjects and TextInfos. As soon as one location
property doesn't return the new kind of

[2017-07-20 06:19] leonardder commented on #7423
At least for the location part, I think a deprecation path could solve most of this. Note that the location[0] notation will still work, location.left won't. An ugly, but effective way to maintain backwards compatibility during the deprecation period would be a trick like location=Location(*location) before you request properties like left or top. More easy would be a two stage approach, implement

[2017-07-20 08:21] andrew-l-d commented on #7393
Hey, I love that logo sound.

On 20/07/2017 7:49 AM, James Teh wrote:

[2017-07-20 08:28] Brian1Gaff commented on #7393
I second this. Its comforting to hear it. I don't see much point in changing
it or removing it at all.
 Very low priority. Could be just disabled if the person wants to do so I'd
have thought. Now the more reliable saved .ini file is pretty stable It
seems to me that the option disable logo sound from next start up would work
if needed by somebody working in a library!!!
 Brian

bglists@blueyonder

[2017-07-20 08:32] Brian1Gaff commented on #2832
It is far more reliable these days. This was quite a long time ago now and I
think some other work has resulted in this working better.
 Of course if its a really s l o w machine it can be an issue, but if its
that slow usually the page navigation is also slow due to overuse of
scripts.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.u

[2017-07-20 08:36] Brian1Gaff commented on #6319
Almost certain this is cause by bad authoring on some pages.
 Not seen it of late as people have got wiser.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "James Teh" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subs

[2017-07-20 08:43] Brian1Gaff commented on #2847
There are indeed some strange things that happen sometimes like this when
nvda is around. I put it all down to there only being one copy of nvda, so
to speak. Its a similar issue when you cannot get the main nvda menu up on a
running copy since its left some odd window open you cannot actually get at
to close. this one goes all the way back to early versions of nvda and seems
to occur when somethi

[2017-07-20 08:49] Brian1Gaff commented on #3267
Is this project still alive. I know the original still runs, but not seen
anything from then in over a year.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>

[2017-07-20 08:51] Brian1Gaff commented on #2341
Actually this depends on the sappi 4 version and which synth is running in
it. I suspect its got little to do with nvda in fact in any case.
 As long as the system still works I have no issues.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Leonard

[2017-07-20 08:54] Brian1Gaff commented on #5073
OK for those of us not familiar with this Jaws feature, would somebody
explain what it actually does and why?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-07-20 12:08] Wildebrew commented on #4493
Designers often don't refer to web dialogs as dialogs. They call them
overlays or lightboxes.
But I constantly come across users who get confused and frustrated by
NVDA going into application mode when a dialog pops up on a webpage.
NVDA does not give the pop sound associated with aplication mode when
a dialog opens (but it does in all other situations I believe, such as
when user enters a text in

[2017-07-20 12:48] k-kolev1985 commented on #963
@leonardder Well, here we are talking about older and probably not supported by ESET versions of NOD32. We may as well close it. I don't use NOD32 anymore, due to several reasons:
1. I've changed my internet provider and the current one does not provide me with a free license for NOD32, as did the previous one.
2. Last I checked, the latest versions of NOD32 are not accessible to use with NVDA.
I

[2017-07-20 13:30] ehollig commented on #3047
I can confirm this using Word 2016. Although annoying, it is not life threatening.

[2017-07-20 13:31] danwainwright01 opened #7424 "Progress bar issues"
When changing the settings for output of progress bars, I am unable to get a percentage unless the option is set to beep and speak. Speak appears to not work.

[2017-07-20 13:37] ehollig commented on #3046
I am not able to replicate this using Word 2016. I am not sure if there would be a different experience using Word 2010. NVDA is able to read all list items in the "Customize Ribbon" option without saying "Not selected".

[2017-07-20 13:42] ehollig commented on #3052
Performing the steps described in https://github.com/nvaccess/nvda/issues/3052#issue-116034150, pressing NVDA+Up arrow or NVDA+Tab reads the menu item as expected in Outlook 2016.

[2017-07-20 13:44] dkager commented on #7419
I would say p2, because this makes Notepad++ (and possibly others) pretty much unusable with a braille display.

[2017-07-20 13:50] ehollig commented on #3059
Intriguing, but I do not believe it is possible. As stated in https://github.com/nvaccess/nvda/issues/3059#issuecomment-155305593, the alt key would activate the menu bar, as the alt key itself is not intercepted by NVDA. CC @jcsteh

[2017-07-20 14:04] ehollig commented on #3179
I am not able to replicate using portable NVDA and Audasity 2.1.2. CC @derekriemer. Any ideas?

[2017-07-20 14:07] ehollig commented on #3180
this sounds to be an isolated issue to the users machine indicated in https://github.com/nvaccess/nvda/issues/3180#issuecomment-155306433

[2017-07-20 14:12] ehollig commented on #3229
I know there have been improvements with Kindle for PC in 2017.1. Would this still be considered an issue?

[2017-07-20 14:13] ehollig commented on #3220
CC @michaelDCurran

[2017-07-20 14:19] ehollig commented on #3291
I thought NVDA works well with Dragon through DictationBridge as well as using it alone. CC @derekriemer

[2017-07-20 14:46] bhavyashah commented on #6214
I can confirm similar behaviour even with NVDA version 2017.2. In an experience I had last week, on my 8 gb Ram and I5 endowed Windows 8.1 laptop, running a full scan of Windows Defender caused NVDA's CPU performance to constantly stay at levels of at least 20-25%, which is highly unusual. To put this into perspective, NVDA's processor consumption was consistently higher, according to my periodic

[2017-07-20 15:32] bhavyashah commented on #4141
Since we have little to no details about this ticket, and there is no way of getting back in touch with the original reporter, may we consider closing this ticket as 'Invalid' (not only because of the vagueness of this ticket but also because of Open Office's dying existence)?

[2017-07-20 16:15] camlorn commented on #1216
I have no idea.  I'll try if it's needed.

[2017-07-20 16:21] bhavyashah commented on #7391
Confirmed. Using Chrome 59 stable with NVDA version 2017.2, I was able to successfully and consistently replicate the described behaviour in the following manner:
* Press NVDA+Ctrl+F and enter 'download' and hit Enter.
* Press Ctrl+Home to go to the start of the document.
* Press NVDA+F3 to arrive back at the 'Downloads' link.
Expected Result: NVDA jumps to the said link and nothing out-of-the-blu

[2017-07-20 16:38] bhavyashah commented on #7152
@derekriemer I am unable to reproduce the described issue. Firstly, by Espeak, I take it that you are referring to the newer ESpeak-NG engine NVDA has incorporated, right? In any case, with ESpeak-NG selected in an installed copy of NVDA version 2017.2, I cannot find any language or item of the Voices combo box, particularly around French (written in English) which NVDA does not announce. I repeat

[2017-07-20 16:46] bhavyashah commented on #6903
@Qchristensen  @michaelDCurran

[2017-07-20 19:12] leonardder commented on #7424
Please provide steps to reproduce your problem as well as information about your system configuration and NVDA version. I'm afraid we won't be able to help you otherwise.

[2017-07-20 19:21] #4141 closed

[2017-07-20 19:28] jcsteh commented on #6214
P2 to investigate. I can understand why this might happen while the app is in focus - it's probably firing a lot of events - but this really shouldn't affect us when it's in the background.

For more technical users: I'd be interested to know if this happens with UIA disabled. Obviously, using NVDA with UIA disabled isn't really practical, since a lot of functionality is hindered or broken, but te

[2017-07-20 19:30] jcsteh commented on #3291
Closing because there's insufficient information and no answers from reporter. Also, DictationBridge now provides improved access to Dragon.

[2017-07-20 19:30] #3291 closed

[2017-07-20 19:30] danwainwright01 commented on #7424
Win 10 and latest nvda

[2017-07-20 19:32] jcsteh commented on #3229
This accessibility specific version of Kindle has been superseded for some time now by the far superior screen reader support included in the mainstream Kindle app. Closing.

[2017-07-20 19:32] #3229 closed

[2017-07-20 19:36] #3180 closed

[2017-07-20 19:40] jcsteh commented on #3072
I can't reproduce this either; it works as expected. This possibly got fixed as part of #6070.

[2017-07-20 19:40] #3072 closed

[2017-07-20 19:44] jcsteh commented on #3059
Actually, the alt and Windows keys can now be used as modifiers for NVDA commands thanks to #3472. That said, I'm reluctant to make this change at this stage, as the layout has been like this for years. Users can always bind the command themselves, though. Closing as won't fix.

[2017-07-20 19:44] #3059 closed

[2017-07-20 19:50] jcsteh commented on #4493
With respect, there is no need to discuss this further. I already stated in https://github.com/nvaccess/nvda/issues/4493#issuecomment-278530772 that this will be changed. We need to be pragmatic despite my concerns about consistency. It has been triaged as a p2 issue and will be addressed hopefully later this year. Locking further discussion for now.

[2017-07-20 20:46] fernando-jose-silva commented on #5073
From what I know of the resource, it allows for example:
On a news page I set up jaws so that every time a news is read the focus will jump directly to the news text, so that I can start reading quickly.
On a page I already know very well, I can ask jaws to remove from my view all the links that I know I will not use.

[2017-07-20 21:24] ehollig commented on #2020
While I see that this can be annoying at times, it is not life threatening. The information that is provided lets the user know where they are in the search. What do others think?

[2017-07-20 22:32] andrii-morozov opened #7426 "Table navigation is broken if the table has caption. Ctrl + Alt + Arrows doens't work."
### Steps to reproduce:
https://codepen.io/anon/pen/MoNBjX

### Expected behavior:
The navigation happens as expected.

### Actual behavior:
Not in a table cell.

[2017-07-20 23:39] jcsteh commented on #7426
There are two errors in this code:

1. You use roles of row and gridcell without a corresponding role of grid. At least in Chrome, this completely breaks the accessibility of the table. Adding role="grid" to the table fixes this and table navigation works as expected. Removing the row and gridcell roles would probably also fix this.
2. You have role="row" on the caption. A row must contain cells;

[2017-07-20 23:39] #7426 closed

[2017-07-21 04:11] leonardder commented on #7424
Again, we really need more information.

* Which steps do you take to produce the issue you're having? What software do you use, what actions do you perform in the software?
* What do you expect to happen?
* What happens instead?

[2017-07-21 05:21] michaelDCurran commented on #5534
@jcsteh:  as discussed by voice, not only will the editable container have the editable state, but all descendants within it. This includes say a button for instance, which can be focused and has the focusable state. So editable+focusable is not enough here. However, when before an editable, quicknav to editable will find the correct one because it will be the highest parent. When in, we could som

[2017-07-21 06:18] leonardder commented on #5534
Note that #7290 is a pr that will at least be of help for application based editors. Strictly spoken, @khsbory explicitly mentioned CkEditor, and as that seems to be application embedded from my last findings, that can't be fixed. See https://github.com/nvaccess/nvda/issues/5534#issuecomment-159154767

[2017-07-21 07:02] k-kolev1985 commented on #4371
@leonardder Yes, I can still reproduce the issue with POEdit v1.6.11. NVDA was running with all add-ons disabled at the time.

[2017-07-21 07:05] k-kolev1985 commented on #3093
@leonardder This was a bug in NVDA and it was fixed a long time ago.

[2017-07-21 08:15] bhavyashah commented on #4371
The current stable release of PoEdit is version 2.0.2. Given that this
version supercedes any outdated versions of the same software, does
the reported issue apply to this more recent version of PoEdit (which
is free software)?

On 7/21/17, Kostadin Kolev <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contact

[2017-07-21 08:31] bhavyashah commented on #6133
I cannot reproduce the described behaviour with Firefox 54 stable with the given YouTube video. Just to be clear, by 'next button', I take it that you mean pressing the single-letter navigation key 'b' to jump to the next button. Otherwise, the YouTube interface control is the Next link and not any button, the option that allows you to move to the next video in YouTube. I @vgjh2005 I would appreci

[2017-07-21 08:36] bhavyashah commented on #4730
I re-tested this with VLC Media Player 2.2.3, and was unable to reproduce my earlier described behaviour. In fact, there is no more a 'two locations' button in VLC's Open File dialog. While the version I use is not the latest (which is 2.2.6), I suppose we can safely close this issue regardless.

[2017-07-21 09:45] k-kolev1985 commented on #4371
Yes, the issue is reproducible even with the latest stable version (v2.0.2) of POEdit. But as all NVDA translators know, that latest version of POEdit is even less accessible than v1.6.

[2017-07-21 12:42] #2960 closed

[2017-07-21 12:43] #2973 closed

[2017-07-21 12:44] leonardder commented on #3087
I think @Dkager is correct. It is probably related to #7301. Closing.

[2017-07-21 12:44] #3087 closed

[2017-07-21 12:46] leonardder commented on #4293
Closing for now, but still open to additional feedback if desired.

[2017-07-21 12:46] #4293 closed

[2017-07-21 12:48] leonardder commented on #945
cc @DerekRiemer

[2017-07-21 12:50] leonardder commented on #1261
Closing for now. Please start a new issue for the most recent version of this software if results are still unsatisfactory.

[2017-07-21 12:50] #1261 closed

[2017-07-21 12:51] leonardder commented on #5762
@robfentress: Thanks for the clarification. Closing as invalid.

[2017-07-21 12:51] #5762 closed

[2017-07-21 14:34] derekriemer opened #7427 "Reading selections in a non english language does not honor language detection"
### Steps to reproduce:

Follow these instructions.
1. Use this test URL.
    `data:text/html,<div lang="es">Yo hablo espa%f1ol en la esquela.<br/>%BFHace comprenda a amigos?</div>`
2. Now, read the two lines. Expect results in Spanish.
3. Select (control+a and shift+arrows).

### Expected behavior:
NVDA should read the selected text in Spanish.

### Actual behavior:
NVDA reads the expected text i

[2017-07-21 14:35] derekriemer commented on #7427
My guess is that this has some impact for Arabic speakers and Hindi speakers, who regularly switch between their native language and English in text.

[2017-07-21 15:05] dan1982code commented on #7424
@danwainwright01 : for example, I can't reproduce your bug here. When set to Speak, progress bars speak percentages as expected. Without additional information, this bug may end up being closed even though you may have a legitimate bug here. In which application do you notice it? What is the progress bar that isn't working?

[2017-07-21 15:42] ruifontes commented on #7427
Not forgetting hebrew speakers

Rui

-----Mensagem Original-----
De: Derek Riemer
Data: 21 de julho de 2017 15:35
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Reading selections in a non english language
does not honor language detection (#7427)

My guess is that this has some impact for Arabic speakers and Hindi
speakers, who regularly switch between their native language and E

[2017-07-21 19:24] leonardder commented on #7101
It turns out that redrawing the children causes duplicate information in the display model. I have observed this before, but redrawing the window including children makes this more prevalent, so it will acttually cause more issues than it solves. Closing as invalid for now.

[2017-07-21 19:24] #7101 closed

[2017-07-22 01:18] josephsl opened #7429 "Include six in misc deps distribution"
Hi,

As part of porting NVDA to Python 3 (#7105), at least two dependencies requires use of six compatibility layer:

* ConfigObj 5.x.y (#4470)
* wxPython 4.0.0 (#7077)

As noted in #7077, six comes with wxPython 4. Thus I propose that we include six package once wxPython 4 is ready, or add version 1.10.0 of this package into misc-deps until wxPython 4 is ready. My preference is for the former (I'

[2017-07-22 01:18] josephsl commented on #7429
Hi,

PyPI link: https://pypi.python.org/pypi/six/1.10.0

[2017-07-22 01:20] josephsl commented on #4470
Hi,

See #7105 and #7429 for updated justifications. Thanks.

[2017-07-22 01:24] josephsl commented on #7077
Hi,

Adding #7105 for reference purposes, as this issue must be done before moving onto that issue fully. Thanks.

[2017-07-22 02:16] ctoth commented on #7105
I am concerned about the long tail of addons that will either never be ported or will require community intervention or otherwise will be slow to Python 3 and recommend moving up the timeline for pushing addon developers into at least using the subset of Python that is compatible with both versions to as early as possible.
I further recommend  including something like [Python Future](http://python

[2017-07-22 04:59] jscuster opened #7430 "NVDA repeats the word "clickable" several times in a row before just saying what the item is."
In some pages, NVDA repeats the word clickable several times before saying what the clickable item is. Something like: "clickable clickable clickable clickable clickable clickable clickable clickable click here to begin."
For example: go to `my.snhu.edu`. From the top of the page, press `f` to go to the next form field.
NVDA uses the word "clickable" eight times in the course of saying I landed on

[2017-07-22 08:55] vslavik commented on #4371
Poedit developer here. As a matter of fact, a *lot* of work went into improving accessibility in v2, particularly in the underlying wx library.  It may be that "all NVDA translators know" that Poedit is utter crap, but not a single one of them bothered to file a [bug report](https://github.com/vslavik/poedit/issues), so maybe the situation is not as dire as that.

Or maybe it is, but in the case *

[2017-07-22 09:10] leonardder commented on #5093
Closing as duplicate of #4371. Even though this issue is broader in scope (it also talks about comments) the underlying issue is probably the same. Also note that Poedit 2 is currently the stable version, and many things have changed which make the current app module unusable.

[2017-07-22 09:10] #5093 closed

[2017-07-22 09:11] zstanecic commented on #4371
Hi václav,

You are not right, all depends on cooperation between users and developer.

People are telling the truth and that’s obvious, that poedit 1.6.10 has
a lot of accessibility support, and this is the one of the last
versions, wich supports screenreader enhancements.

If the state from this version can be reverted, it will be great.

W dniu 22.07.2017 o 10:55, Václav Slavík pisze:

[2017-07-22 09:16] leonardder commented on #4371
I belief some people are making wrong assumptions here. The fact that most of the utility functions (e.g. to report the comments and translator window) don't work in Poedit 2, isn't the fault of the Poedit developers. It is just because the switch to the new GUI made Poedit 2 incompatible with the current appModule.

[2017-07-22 09:26] k-kolev1985 commented on #4371
@vslavik
Hi Václav.

Thanks for answering.

I just yesterday realized that I could easily file a bug report to "Poedit" about accessibility (or anything else related to it for that matter), because that is when I saw that "Poedit" has an account on GitHub. Now that I know, I'll certainly file my bug reports there.

[2017-07-22 11:32] leonardder commented on #7429
Could you give some examples of why six helps in porting that are specific to NVDA's code base?

[2017-07-22 11:33] leonardder commented on #7427
This is strongly related to #4874 and probably depends on #4877

[2017-07-22 14:21] leonardder commented on #3903
@k-kolev1985: Is this still relevant to you?

[2017-07-22 14:23] leonardder commented on #3048
@sumandogra: Can you still reproduce this in Word 2010? I can't in Word 2016.

[2017-07-22 14:26] leonardder commented on #4965
Border colours can now be reported for excel cells. It would help if we had an example of something that has borders to see what NVDA reports in the current situation.

[2017-07-22 14:30] leonardder commented on #3744
I'm able to reproduce this.

[2017-07-22 14:30] leonardder commented on #3405
@sumandogra: Can you still reproduce this?

[2017-07-22 14:35] leonardder commented on #3443
RGB values are provided by Word as the description of the IAccessible object. This is not a bug, and you can disable this for Word by disabling reporting of object descriptions. Closing as invalid.

[2017-07-22 14:35] #3443 closed

[2017-07-22 14:40] leonardder commented on #3453
I'm not sure whether I still consider this request to be valid. Actually, there's a reason why you want a message to be spoken by NVDA when using the API, so interrupting say all makes sense.

[2017-07-22 14:42] leonardder commented on #3078
It would help if we had an example of such a document to investigate.

@BR001: If you are the BR001 who opened this issue, would you be able to provide details on the current status of this issue?

[2017-07-22 14:44] leonardder commented on #5282
Closing as duplicate of #913. Also related to #6561

[2017-07-22 14:44] #5282 closed

[2017-07-22 14:53] leonardder commented on #5285
Hmm, from what I can see in the code (I haven't tested with a braille display yet), the code that announces input language switches uses ui.message, so this should be displayed in braille as well.

CC @DKager

[2017-07-22 14:59] leonardder commented on #5315
@dave090679: Can you still reproduce this issue? Works ok for me.

[2017-07-22 15:08] leonardder commented on #4322
CC @JSTeh:

Honestly, I belief the major part of this issue should be treated as expected behavior. Note that aria-hidden doesn't mean visually hidden. So, it should make the screen reader ignore the content when using screen reader specific commands, but when the mouse hovers over the object which is actually on screen, I belief that NVDA should read the hovered content, even though aria-hidden i

[2017-07-22 15:15] leonardder commented on #963
Thanks, closing for now. Please open a new issue for accessibility quirks in recent versions of Nod32.

[2017-07-22 15:15] #963 closed

[2017-07-22 15:18] leonardder commented on #5318
Closing as invalid. This was posted in an issue tracker, which is not a help desk. :) The author asked how to accomplish table cell coordinates reading for mouse tracking, and this is currently not possible. The author didn't explicitly state the demand to implement this feature. Please file a new issue if you belief this should happen.

[2017-07-22 15:18] #5318 closed

[2017-07-22 15:20] dkager commented on #5285
Checked, and works for me.

[2017-07-22 15:20] #5285 closed

[2017-07-22 15:23] leonardder commented on #5325
Hmm, this is a strange one. This should have been closed by https://github.com/nvaccess/nvda/commit/fb00b52f7d3c81210dad81b584fd0170c0b47215, but it is still open. Probably because the particular commit ended up in a squashed commit which didn't explicitly state the closure of this issue. Confirmed that this code is in master, so closing anyway.

[2017-07-22 15:23] #5325 closed

[2017-07-22 15:33] leonardder commented on #4463
I wonder whether this is also reproducible in Word, which makes this a part of #3482.

[2017-07-22 15:35] leonardder commented on #4466
@JCSTeh: This seems to be a bit outdated, correct?

[2017-07-22 15:37] leonardder commented on #1994
Confirmed for the IA2 based version of LibreOffice.

[2017-07-22 15:38] dkager commented on #2627
This sounds like a specific case of #7383. Also, it mentions IE8, which is obsolete.
@leonardder @jcsteh Would you agree with closing?

[2017-07-22 15:44] Brian1Gaff commented on #2627
Remember that if running XP you only have that version of IE to use, most of us would suggest using something else than IE 8 as so many web sites now actually actively won't let you on the site with it.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows X

[2017-07-22 15:45] Brian1Gaff commented on #2627
PS the next snaps seem not to do this in IE8 for me here.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows XP machine!
  ----- Original Message -----
  From: Davy Kager
  To: nvaccess/nvda
  Cc: Subscribed
  Sent: Saturday, July 22, 2017 4:38 PM
  Subje

[2017-07-22 16:25] leonardder commented on #2627
When this is indeed XP specific, I'd say let's close. This is not live threatening at all, even though annoying.

[2017-07-22 16:42] leonardder commented on #4720
@bhavyashah: Is this still the case? I belief way of acceptance of invitations is now changed, right?

[2017-07-22 16:45] leonardder commented on #5329
@AlexWestphal: assuming you're the author of this ticket, could you provide information on whether this has happened recently?

[2017-07-22 16:45] leonardder commented on #5330
Closing as works for me.

[2017-07-22 16:45] #5330 closed

[2017-07-22 16:47] leonardder commented on #5334
CC @DKager, this sounds similar to the issues you had when you once removed Supernova. Think I forget whether and where you reported this

[2017-07-22 16:48] leonardder commented on #4900
The priority of this is quite low. Labelling as feature

[2017-07-22 16:54] leonardder commented on #2641
Closing, as the original author hasn't responded to this in a long while.

[2017-07-22 16:54] #2641 closed

[2017-07-22 16:56] leonardder commented on #2616
I'll leave this issue open for another week to allow people to report their findings.

[2017-07-22 16:57] dkager commented on #5334
This is not the same. I didn't experience sluggishness and didn't get "unknown". Instead I didn't get output at all for some cases.
The issue you were looking for is #6177.

[2017-07-22 16:58] dkager commented on #5334
PS: of course this also smells like worksforme.

[2017-07-22 16:59] dkager commented on #2627
This is not specific to XP. However, it is also not specific to one program, e.g. I usually get this when starting Skype 7. That's why I was thinking about closing and further discussing in #7383.

[2017-07-22 16:59] leonardder commented on #5579
Word 2007 is quite old. Furthermore, this is not an error, only a debug warning. Closing.

[2017-07-22 17:01] leonardder commented on #6837
Closing, since there's a works for me for the initially reported issue.

[2017-07-22 17:01] #6837 closed

[2017-07-22 17:06] k-kolev1985 commented on #3903
@leonardder Yes, it seams still to occur in Windows 10 v1607. Creators Update hasn't yet arrived on this machine automatically and I haven't updated to it manually. But I've noticed that if I restart the machine (which forces it to do a cold boot instead of a fast startup), it behaves as expected in regards to touch interaction between NVDA and Windows.

[2017-07-22 17:38] bhavyashah commented on #3392
Given that our concerns about consumption of keyboard shortcuts by NVDA has grown with NVDA's evolving feature set and functionality over time, and since @jcsteh did mention in 2013 that this could be reconsidered in the future, I would like to request discussion on the same while we are in the year 2017. As an NVDA user who started using NVDA in a big way post the flat review era, plus the fact t

[2017-07-22 18:02] bhavyashah commented on #6988
On a Windows 8.1 64 bit system, I was unable to reproduce this bug in Chrome 59 stable with NVDA version 2017.2 installed. The edit field appeared alright.

[2017-07-22 18:04] josephsl commented on #7429
Hi, although we won’t be using six in NVDA code directly, some dependencies requires this such as ConfigObj and wxPython 4. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Saturday, July 22, 2017 4:32 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Include six in mis

[2017-07-22 18:22] bhavyashah commented on #4729
I can still reproduce this issue in VLC Media Player version 2.2.3 (although I took some time to comprehend what I meant by my rather vague bug report 🖌 ).
To elaborate somewhat, the problem is that when you are let's say on any item (provided it isn't a submenu in itself) of the Media submenu part of the menu bar of VLC, and you press the right or left arrow to move to the first item of the next

[2017-07-22 18:32] bhavyashah commented on #4397
The reported issue is not occurring with VLC Media Player version 2.2.3, though I don't feel too inclined to close this ticket and open a new one. The described behaviour has been resolved (probably by a VLC update and UI change), but here's an absurd issue that exists now.
STR
* Open VLC Media Player.
* Press Ctrl+P to open the Preferences dialog.
Expected Result: NVDA should report the dialog na

[2017-07-22 18:38] bhavyashah commented on #6905
Wasn't there a Speech History NVDA add-on in the wild recently? I vaguely recall having heard of one, though I may be incorrect.

[2017-07-22 18:42] bhavyashah commented on #6647
Whenever this gets implemented, I suggest having a visually distinctive format for the textual mentions for sounds. Otherwise, if the browse mode sound were to be represented in the Speech Viewer as 'browse mode', NVDA might well have the speech feedback for the same enabled and the sighted individual would remain unaware of the distinction, or else NVDA might just have encountered a piece of text

[2017-07-22 19:42] fernando-jose-silva commented on #6988
Unfortunately I still have this problem on windows 7. If I can help I'm at ease.

Enviado do meu iPhone

[2017-07-22 19:51] alexwestphal commented on #5329
Sorry. I'm not the author of this ticket.

[2017-07-22 21:45] ehollig commented on #6905
Here is the [Speech History](https://github.com/jscholes/nvda-speech-history) addon, but I do not believe it shows the text visually.

[2017-07-23 04:10] khsbory commented on #5754
Hello, thank you for your email.
Unfortunately, even if I updated NVDA next newest version, the problem is exist.
In CK editor's rich text editor, if there is no blank lines, braille panning button scrolls line smoothely.
However if there is one or more blank lines, even if I press panning button, it is not scrolled to next blank line in Firefox.

If you need more information, please let me know.

[2017-07-23 05:05] bhavyashah commented on #4720
Not sure. I haven't received a contact request on Skype since quite some while, nor do I expect one anytime soon. Still, @ehollig  Mind experimenting this with me on Skype?

[2017-07-23 05:18] bhavyashah commented on #5601
This ticket is a duplicate of both #3958 and #3392, both of which are open as well. Could two of these three tickets duplicating each other be closed and further discussion be concentrated in just one? @leonardder
Additionally, are we for the implementation of this feature, or do we still have concerns? @jcsteh @ehollig @Qchristensen @kvark128 @derekriemer

[2017-07-23 05:25] bhavyashah commented on #7297
To add, as mentioned in #5596, which happens to be a duplicate, it is worth documenting somewhere that browse mode in MS Word and other Office applications excludes non-screen layout. This, or the other ticket should also be closed as a duplicate. @leonardder @michaelDCurran @feerrenrut

[2017-07-23 05:32] bhavyashah commented on #5573
While I agree that this isn't the most screen reader relevant feature request, I do agree. The limit could be extended from 500 to 1000 characters, which sounds quite reasonable and non-regressive to me, because 500 characters does prove too short sometimes. This may be a little too much to ask, but if NVDA could report the number of characters for larger portions of text (longer than 1000 charact