[2020-03-09 23:45] dingpengyu commented on #9134
hello
This is the pull_request of NSIS to version 3.05, mainly to upgrade nsis from 2.51 to 3.05.
[Upgrade NSIS to version 3.05 to address potential security issues.](https://github.com/nvaccess/nvda-misc-deps/pull/16)
thanks

[2020-03-10 06:00] DrSooom commented on #10855
Quote from the NVDA User Guide (version: 2019.3):

Filter for "|" in this dialog and change these parameters. Maybe it solves your issue.

[2020-03-10 07:00] mush42 commented on #10356
Hi @Adriani90,

I use NVDA 2019.3.1, Notepad++ v7.8.4 64-bit, and Windows 10Ver1903 (64-bit).

The problem is still reproducible in my machine with the above setup.

@nvaccess this issue is critical for those users who's language is RTL.

Regards,

[2020-03-10 08:20] leonardder opened #10861 "Implement selectionContainer design pattern for lists and tree views"
### Is your feature request related to a problem? Please describe.
The people from VS Code are struggling with how to communicate selection in their multiselectable tree view to NVDA. Currently, only unselected items are mentioned as such, multi selection isn't reported. See https://github.com/microsoft/vscode/issues/91061

### Describe the solution you'd like
I'd like to expand the selectionConta

[2020-03-10 09:08] SeanTolstoyevski opened #10863 "Does NVDA have a plan for VSCode?"
Hi, I know that the NVDA team is intensely interested in python 3. Maybe you may not have time.

But I wanted to ask.

Is there a solution for words that NVDA misrepresents in VSCode when navigating between codes?
Ask about this Electron, Microsoft APIs... where?

I think VSCode is a very functional editor. It has very useful properties.
It can provide all development environments.
When we think a

[2020-03-10 09:36] CyrilleB79 opened #10864 "Unable to implement fake table navigation in a list"
### Steps to reproduce:

In my Outlook Extended add-on V1.4, I have implemented fake table navigation in the address book results list by creating a custom class inheriting from RowWithoutCellObjects and RowWithFakeNavigation from behaviors.py.
This class implements the required method _getColumnContent as well as the optional method _getColumnHeader.
This was working with NVDA 2019.2 as well as w

[2020-03-10 09:41] CyrilleB79 commented on #10864
I did not yet provide a PR to fix this because I would like to agree on what should be implemented: change RowWithoutCellObjects._getColumnLocation  documentation to so that its implementation should be mandatory or change _FakeTableCell._get_state implementation.

@leonardder, since you have implemented the commit, could you provide feedback on the alternative you would prefer? You could also com

[2020-03-10 09:41] josephsl commented on #10864
CC @LeonardDer

From: CyrilleB79 <notifications@github.com>
Sent: Tuesday, March 10, 2020 2:36 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Unable to implement fake table navigation in a list (#10864)

Steps to reproduce:

In my Outlook Extended add-on V1.4, I have implemented fake table navigation in the address book result

[2020-03-10 11:49] feerrenrut commented on #10861
Could you expand the description? Do you intend to change behavior only for vsCode, or more generally? I quickly read through microsoft/vscode#91061 and it seems you already noted that we don't speak "not selected" for verbosity reasons, since it is the default state for most lists. Why is it necessary to have a different approach in vsCode? Could you summarize the rationale in the linked issue fo

[2020-03-10 12:03] feerrenrut commented on #7605
This was being tracked in microsoft/vscode#28306 which seems to have been addressed. Closing this issue.

[2020-03-10 12:09] feerrenrut commented on #10863
Hi @SeanTolstoyevski, we are trying to maintain support for vsCode, several of our contributors use it themselves. If you are having trouble with VS Code please open a [new bug report](https://github.com/nvaccess/nvda/issues/new?template=bug_report.md) and fill out the template, you may also wish to [raise the issue with the vsCode developers](https://github.com/microsoft/vscode/issues/new?templat

[2020-03-10 12:09] #10863 closed

[2020-03-10 12:25] leonardder commented on #10861
I updated the initial description.

Sure. The explorer tree view in Visual Studio Code allows multiple items to be selected. Currently, the selected state is omitted for all selected items, whether selected one or more items. Announcing the selected state when multiple items in the tree are selected (such as in Google Sheets) would be helpful, not only for VS Code but also for other lists that all

[2020-03-10 13:22] leonardder commented on #10864
Ugh, this side effect was unintended. I think a solution should be among the lines of:uggest

* Change the _get_states impl as you suggested. If location is None, hasIrrelevantLocation is true and the highlighter should ignore it.
* I actually think that the default of beTransparentToMouse should be hasIrrelevantLocation, since the mouse could never be on those objects.

[2020-03-10 15:29] larissamasson commented on #10847
I thought that is a problem in my code when I found this bug. I tried everthing and nothing worked... Today I found this post https://www.facebook.com/groups/nvdaforum/permalink/1259777424227917/ in a NVDA forum on facebook, the users are saiyng that is know bug from 80 version Chrome .

I don't n know for sure if is that of course rs...

[2020-03-10 15:42] josephsl commented on #10696
Hi,

Resolved in Python 3.7.7 (released on March 10, 2020). Closing.

Thanks.

[2020-03-10 15:42] #10696 closed

[2020-03-10 15:54] comunicationVoices opened #10865 "Error with direction arrows in alpha versions"
Hello, I report an error that is happening to me when I have installed the alpha version, the arrow keys (Right and left respectively) Do not work. I mean, that it does not make the letters beautiful in either a text box or a document and this is something useful for me, I have restarted many times but the problem continues. I have Windows 10 version 1909. Thanks for reading.

[2020-03-10 16:03] SamRocK1030 opened #10866 "Aria atomic seems to be ignored in Chrome"
### Steps to reproduce:
Load the following markup in Chrome and append "Message 2" to the div's innerText with JavaScript:

[code]

### Actual behavior:
NVDA announces "Message 1 Message 2".    _(all the content in the aria-live region)_

### Expected behavior:
NVDA announces only "Message 2".    _(the changed content in the aria-live region)_
### System configuration
#### NVDA installed/portable/

[2020-03-10 16:35] Adriani90 commented on #10865
Is the speech viewer enabled?

[2020-03-10 16:37] Adriani90 commented on #10865
Please fill the template accordingly.

[2020-03-10 18:38] Brian1Gaff commented on #10865
I think the reporter may be having English issues filling in the template.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>

[2020-03-10 22:06] Adriani90 commented on #7099
Still reproducible with the save as dialog (ctrl+s) both on Firefox 74 and Chrome 80 with NVDA Alpha 19774,f962301d

[2020-03-10 22:29] jcsteh commented on #7099
It turned out that while the Print dialog was fixed for Firefox 74, [an additional fix was needed for the Save and Open dialogs](https://bugzilla.mozilla.org/show_bug.cgi?id=1606932). That didn't make it into Firefox 74, but is available in Firefox 75 (currently in beta).

[2020-03-10 23:18] CyrilleB79 commented on #10864
Yes, after studying a little more the issue:
Since RowWithoutCellObjects is inheriting from NVDAObject and NVDAObject is allowed not to define location, it is clear that the RowWithoutCellObjects._getColumnLocation method redefinition should remain optional:
1. if .location is defined, nav object
2. if .location is None, no nav object highlighter should appear or it should appear only around the f

[2020-03-11 00:32] #10731 closed

[2020-03-11 00:45] carsonpowers commented on #10847
This bug is was also filed with chromium and is currently in triage: https://bugs.chromium.org/p/chromium/issues/detail?id=1058971

[2020-03-11 01:43] #10607 closed

[2020-03-11 01:48] comunicationVoices commented on #10865
The same happens to me if Speech Viewer is activated or not. But, cave clarify that the stable 2019.3.1 does not bring this problem, only in the alpha and it is necessary to correct it. And as for the template, I'm just learning to use Gitub but I would be changing the subject ... A greeting and thanks

[2020-03-11 03:28] Qchristensen commented on #9694
I can replicate this in Excel 365 (Office version 16.0.12527.20242) and NVDA 2019.3.1, as well as NVDA alpha-19780,29572fb4 (Snapshot from today, 11th March) on Windows 10 1903 build 18362.388.

Log fragment from pressing up arrow (moving focus from cell A2 to A1):

IO - inputCore.InputManager.executeGesture (14:20:37.173) - winInputHook (4244):
Input: kb(desktop):upArrow
DEBUG - synthDrivers.oneC

[2020-03-11 05:13] tspivey commented on #9039
No, I haven't personally seen it with anything other than mathplayer. But since I've had to help people fix it, it's still a problem.

[2020-03-11 06:47] Adriani90 commented on #10865
Have you tried with all addons disabled?
Try also to run the com registration fixing tool in nvda menu / tools.
Does this help?
If not, please attach here a log file. Press nvda+f1 when you hear the error sound. Save that file and upload it to this issue. Thanks.

[2020-03-11 08:41] CyrilleB79 commented on #10864
We may follow this discussion in the PR (#10868) since we are already talking of code details.

[2020-03-11 08:49] bramd opened #10869 "NVDA freezes in Microsoft Edge dev"
### Steps to reproduce:
1. Use Microsoft Edge dev for web browsing
1. From time to time, the crash as described in "Actual behavior" occurs. It seems mostly related to the opening/closing of model dialogs on the web, but I don't have a concrete test case yet

### Actual behavior:

NVDA freezes and crashes, I have to restart it.

The logged stacktrace is as follows:

[code]

### Expected behavior:

[2020-03-11 15:32] comunicationVoices commented on #10865
Hi. I have already discovered this problem, it was indeed a problem of the speech history add-on to copy the last element verbalized by NVDA and navigate through the last 100 messages, I disabled it although I use it a lot. Thanks again!

[2020-03-11 16:03] brennanyoung commented on #6457
We're seeing a weird issue on Chrome (but not FF) with two levels of iframe nesting, where NVDA is reading content which is no longer in the DOM. The structure is

- LMS iframe
    - Our Wrapper iframe
        - Intro.html page (which loads...)
        - Main.html content

When we get to Main content, I can browse to elements from the intro page, even though they should have been completely replac

[2020-03-11 22:45] Adriani90 commented on #10865
In this case please get in touch with author of the addon. Thanks.

[2020-03-11 22:45] #10865 closed

[2020-03-12 07:59] michaelDCurran commented on #10741
It took a while, but I have tracked this down to a generator being exhausted in SpeechViewer.appendSpeechSequence.
SpeechViewer.appendSpeechSequence iterates through the given speech sequence in order to break it up in to chunks to write to the viewer control. However, in the case of speaking single letters, the speech sequence given seems to be a
[code]
I'm assuming that getSpellingSpeech has bee

[2020-03-12 08:13] michaelDCurran commented on #10706
I am having trouble reproducing this. Could you please set your log to input/output, reproduce the issue and attach the log?

[2020-03-12 08:59] lukaszgo1 commented on #10741
@michaelDCurran When writing a fix for this please ensure that single letters are again announced when speech is checked in debug logs categories in the advanced settings.

[2020-03-12 09:04] CyrilleB79 commented on #10706
@michaelDCurran:
Did you check skim reading option? It is required to reproduce this issue (info in comments but not in original STR)
An easy way to reproduce it:
* Ensure you have skim reading option activated in keyboard parameters.
* On this issue page, press L tow times so that browse mode cursor lands ont the first item of the STR list.
* Press NVDA+DownArrow to start SayAll
* Immediately aft

[2020-03-12 09:44] feerrenrut commented on #6457
@brennanyoung I think it is a different issue. However, I have had other reports similar to what you describe but have not been able to reproduce it myself. Could you open a new issue with a repro sample?

[2020-03-12 10:09] kangka29 commented on #10010
are we expecting any fix to this issue?

[2020-03-12 10:49] feerrenrut commented on #10010
I just had a look at the sample, and while `role=status` is not something I am very familiar with, the sample seems to be at fault. The `div` with `role=status` is initially hidden, compare that to the other live region which has a wrapper. I don't think that the status div should come in and out of existence, only it's content is reported. Instead, changing the HTML for the example to the followi

[2020-03-12 10:49] leonardder commented on #10010
I'm not sure whether this is a bug. The status role implies a live region, and NVDA only announces stuff that's added to the region, not what's in it already. That is, the contents of the region isn't announced when display: none is removed. If you change the role to alert, you will notice that announcement works. Alternatively, you need to push the status message to the region after changing the

[2020-03-12 11:11] kangka29 commented on #10010
@feerrenrut @leonardder - I have a similar use case where the issue is reproduced, please refer to the below link:

https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar

Repro steps:
1) Visit the above link.
2) Select any one of the radio buttons in the 'Usage' section.

A box will appear whose container is having role=status.

Expected result:
NVDA should read contents of the box

[2020-03-12 11:46] feerrenrut commented on #10010
@kangka29 This looks like a sample from Microsoft? I'd prefer a minimal example that highlights what you believe is a bug in NVDA.

I just tested this page with Firefox and NVDA 2019.3 and the status was read. Please open a new issue with your specific details (browser, NVDA versions you have tested). A minimal sample is highly appreciated, and will likely result in your issue being looked at soon

[2020-03-12 11:46] #10010 closed

[2020-03-12 12:16] leonardder commented on #7605
There's now a new issue for this: https://github.com/microsoft/vscode/issues/90578#issuecomment-598141858

[2020-03-12 12:20] kangka29 commented on #10010
@feerrenrut
**NVDA version** - 2019.3.1
**Browsers** -
Microsoft Edge 44.18362.449.0
Edge Version 81.0.416.28 (Official build) beta (64-bit)

The issue that I was facing is specific to the above example.

I will get back to you with more details and a new issue if required.

[2020-03-12 12:37] tomfisher12 opened #10871 "NVDA doesn't read headers"
### Steps to reproduce:
1. Open provided jsFiddle
2. Run NVDA
### Actual behavior:
Screen reader reads only anchor elements
### Expected behavior:
Screen reader reads every element on a page
### System configuration
#### NVDA installed/portable/running from source:
https://www.nvda.pl/pobierz
#### NVDA version:
2019.3.1
#### Windows version:
Windows 10 Home
#### Name and version of other software

[2020-03-12 12:58] lukaszgo1 commented on #10871
For me the headings are read. @tomfisher12 How exactly are you navigating this web page? Also in which browser?

[2020-03-12 13:03] tomfisher12 commented on #10871
Navigate using tab, I use recent version of Google Chrome, there might be some css or scripts that can couse this issue?

[2020-03-12 13:09] lukaszgo1 commented on #10871
Headings are not supposed to be present in the tab order, so the behavior that you are observing is a correct one. I vote for closing and marking as invalid.

[2020-03-12 13:10] tomfisher12 commented on #10871
How do I use tab to navigate to headings?

[2020-03-12 13:11] lukaszgo1 commented on #10871
You do not. Headings are reachable with arrows when you are in browse mode

[2020-03-12 13:18] feerrenrut commented on #10871
I'm going to close this issue.

[2020-03-12 13:18] #10871 closed

[2020-03-12 13:29] lukaszgo1 commented on #10866
Duplicate of #8044

[2020-03-12 16:27] ivnc commented on #2950
With the introduction of NVDA 2019.3, it is possible to connect to this kind of proxies by adding the "HTTP_PROXY" and "HTTPS_PROXY" environment variables to the windows user profile, containing the full Proxy address (e.g. http://me:mypassword@miproxy.micompany.com:3128). this has been tested with ciberpxy.once.org with good results.

Regards.

[2020-03-12 18:24] feerrenrut commented on #10840
I don't seem to be able to reproduce this issue in firefox or chrome. Does this occur for you when you use keyboard only input? Have you tested firefox?

[2020-03-12 18:55] staffordp commented on #10840
Yes Chrome and Firefox. Use the stackblitz link I posted:[ Stackblitz](https://stackblitz.com/angular/xekbmvlqeqj?file=src%2Fapp%2Ftable-sorting-example.html)

[2020-03-12 19:37] elliott94 opened #10872 "Input Gestures Dialog: Don't allow Duplicate Gestures to be Defined"
### Steps to reproduce:

For this example, we'll use the "Read Current Status Bar" action

1. Open the Input Gestures dialog, and find the "Read Current Status Bar" action

2. Hit the "Add" button, and when prompted to specify the gesture to use, hit NVDA + S; specify that it should be active for both Desktop and Laptop keyboard layouts

3. Once again, hit the "Add" button, and when prompted to pe

[2020-03-12 20:13] Brian1Gaff commented on #10871
You don't you use h I'd imagine.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-03-12 21:17] CyrilleB79 commented on #10706
@michaelDCurran
Another idea why you succeed in reproducing this issue: Probably you have rate boost on and a very high voice speed. Try to reproduce with OneCore without rate boost and with low voice speed (i.e. 50). With this voice speed it is very easy to reproduce.

[2020-03-13 00:24] kisantia opened #10873 "Restore doesn't always create new db"
Intermittent issue

### Steps to reproduce:
1. Try to restore from file
2. Set target db as a new database name

### Actual behavior:
New database did not show up in OE even after refreshing

### Expected behavior:
New database should be in OE after refreshing

[2020-03-13 00:24] #10873 closed

[2020-03-13 00:25] kisantia commented on #10873
oops wrong repo

[2020-03-13 06:11] herodees commented on #6016
We are preparing NVDA support in the near future. Our main focus was to prepare a basic accessibility interface, but we didn't have enough time to investigate why NVDA has different behavior from JAWS and Narrator. In the worst case, we will prepare a custom addon, but I hope it won't be necessary.

[2020-03-13 06:17] josephsl commented on #6016
Hi, hmmm, whoever gave you that info didn’t restart with add-ons off. If this happens with add-ons off, chances are that it might be something to do with UI access privilege. A possible alternative might be forcing NVDA to treat controls in this app as UIA objects, but in order to make it work effectively, UIA info must be exposed correctly by the app itself. Thanks.

From: herodees <notifications

[2020-03-13 06:46] Neurrone commented on #10853
I've tested this and it is still behaving unexpectedly. For example when an autocomplete suggestion comes out, you're thrown out of focus mode into browse mode, which is annoying when it appears as you're rapidly typing, causing a few characters not to be entered to the file.

[2020-03-13 06:57] jcsteh commented on #927
This should be addressed in Firefox 75 (currently in beta). The simple test case in https://github.com/nvaccess/nvda/issues/927#issuecomment-315902639 now works as expected.

@Adriani90, could you test whether the problematic SAP net viewer and SharePoint applications you mentioned are fixed now? I understand you may not be able to run beta software in a corporate environment, so we might have to

[2020-03-13 06:58] jcsteh commented on #927
I'm closing this, since the test case is fixed, but please do comment with your findings. We should open a new issue if there are further problems.

[2020-03-13 06:58] #927 closed

[2020-03-13 07:25] leonardder commented on #10853
Could you ensure that the right appModule is loaded by doing
nav.appModule from a python console?

[2020-03-13 07:35] michaelDCurran commented on #10706
I am able to reproduce this now.  Am investigating further.

[2020-03-13 09:16] DrSooom commented on #10872
Please restart NVDA after step 4. I guess an error message still prompts on NVDA startup. Then open "gestures.ini" with Notepad++. This file should now contain two identical entries. I played with this – I guess – in 2018. So I'm unsure about the current situation regarding duplicate allocations.

[2020-03-13 09:17] feerrenrut commented on #10840
Still unable to reproduce the issue with Firefox 74.0
I can now reproduce the issue with Google Chrome 80.0.3987.132. I think chrome updated since my testing yesterday.

The issue is also reproducible with keyboard input.

[2020-03-13 09:36] brennanyoung commented on #6457
Will do, as soon as we can narrow it down to a bare bones case!

[2020-03-13 14:35] brennanyoung commented on #6457
OK, false alarm. The issue does not happen on the latest Canary nightly build or on older versions of Chrome. It's a new issue and will be fixed at some point. (Thank goodness! This was a really weird symptom!)

[2020-03-13 17:20] feerrenrut commented on #6457
@brennanyoung do you have a chromium bug tracker link?

[2020-03-14 02:31] ehollig commented on #10866
Duplicate of #8044

[2020-03-14 06:57] zahra21 commented on #10841
hi again.
after more investigation, i realized that:
when i use skim reading and the document has blank lines,
blank lines interupts skim reading reading when i use up arrow to go to the previous line, if previous line is blank!
hope that my clarification can helps nvda developers.
God bless you!

[2020-03-14 07:01] zahra21 commented on #10841
i forgot to say, reading word by word and character by character, also interupt skim reading too.

[2020-03-14 11:51] Adriani90 commented on #10841
@zahra21, please see my comment above.
Note this is also reproducible also if there is no blank line, for example on any website like Github. You juast have to hold down the down arrow while say all is active to jump some lines and after you release the down arrow key the say all stops.
cc: @michaelDCurran

[2020-03-14 12:24] zahra21 commented on #10841
hi.
in github, the issue is reproduceable because github is full of links!
i wanted to mention and add this fact that reading in SayAll, with skim reading,
when documents contain blank lines or links, does not work.
if a file has no link and no blank line, skim reading works properly for me.
also, in github and some other documents that links interrupt skim reading, its only when i use up arrow to

[2020-03-14 22:38] Adriani90 commented on #5162
The driver has been updated for NVDA 2019.3.1 as well.
@BAUM-engineering is anyone of you planning to raise a Pull request for this to be included in NVDA? I am sure much more users would benefit out of it.

[2020-03-14 23:07] lukaszgo1 opened #10876 "Allow developers to use different version of SCons than the one bundled in the repository"
### Is your feature request related to a problem? Please describe.
On some hosts current version of SCons is not working which prevents building. For real examples see:
- #9990
- https://github.com/SCons/scons/issues/3572

The latter report is especially problematic for me, because it makes it impossible for me to build on my main machines.
In both these cases it is possible to build with more rec

[2020-03-15 01:07] ehollig commented on #8740
Closing because of above comment.

[2020-03-15 01:07] #8740 closed

[2020-03-15 01:10] ehollig commented on #8400
@Qchristensen were you able to track down the original poster and find out if this still persists in 2019.3?

[2020-03-15 01:22] ehollig commented on #10872
This is related to #7074

[2020-03-15 01:30] ehollig commented on #10841
Reading word by word and character by character interrupts skim reading is covered in #7879

[2020-03-16 15:20] leonardder commented on #10777
Related to https://github.com/microsoft/vscode/issues/92719, which has been fixed also.

[2020-03-16 16:34] feerrenrut commented on #10876
I think the simplest way for someone to modify their version of SCons is to update the submodule locally. But this doesn't necessarily mean it is compatible with our sconscripts, there isn't much we can do about that. In the future I would like the NVDA repo to configure and enable a python virtual environment as a first step in the build / run from source. It could then install python dependencie

[2020-03-16 17:26] leonardder commented on #10876
Couldn't you just run scons by executing `"C:\Python37\Scripts\scons.bat"`?

[2020-03-16 17:58] lukaszgo1 commented on #10876
Not in the current state. Our SConscript requires sourceEnv which is being added to PYTHONPATH by scons.py from the main dir of the repo.
It seems to be possible to reorganize this in a way which would allow to use installed version of SCons if invoked explicitly falling back to the bundled one in all other cases.
@feerrenrut Would you accept such enhancement to the build system?

[2020-03-16 19:49] parora2020 opened #10880 "Field values within html table are read as "selected" by NVDA"
Using Windows 7, Chrome, NVDA version 2019.1.1.
Reading table in HTML. All the fields are read as "selected"
Tried with NVDA version 2019.3.1 and get same results.
It was bbeing read properly about 4 weeks back. We could have had a Windows patch in between. Now all table fields are read as "Selected"

[2020-03-16 21:01] Adriani90 commented on #10880
Please fill the template including a test case and the browser version you are using. Include also testing with all addons disabled.

[2020-03-17 04:27] #10741 closed

[2020-03-17 06:50] #5166 closed

[2020-03-17 06:50] #6326 closed

[2020-03-17 07:41] dingpengyu commented on #10876
hello
I think we can use GitHub Actions to solve this problem, we can write an NVDA actions build script, if developers who need to build and test NVDA can directly use this script to build.
thanks

[2020-03-17 08:05] #10706 closed

[2020-03-17 09:41] chojiro commented on #4937
This still happens in Windows 10 version 1909 for me, as well as previous Windows 10/NVDA releases.

Currently on Windows 10 1909 and NVDA 2019.3.1.

[2020-03-17 10:18] feerrenrut commented on #10876
@lukaszgo1 Yes, as long as we can be confident it doesn't affect the main use case (building from bundled scons).
@dingpengyu There would be quite some work to convert from Appveyor builds. It's not just a conversion, but generalizing the build process to separate the NV Access specific steps from the steps required for everyone. That said, if you wish to do this in your own fork of NVDA it would

[2020-03-17 10:21] feerrenrut commented on #4937
@chojiro This issue is old, closed, and doesn't have very specific information. Could you please open a new issue to describe your particular case?

[2020-03-17 10:32] dingpengyu commented on #10876
thank you for your reply
In fact, it can be used in conjunction with appveyor. My idea is based on the following items.
[Action-OpenWrt](https://github.com/P3TERX/Actions-OpenWrt)
thanks

[2020-03-17 10:43] dingpengyu commented on #10876
This is the component of my current environment for compiling NVDA. I hope it can help everyone:
visual studio: 2019-16.4x
python: 3.7.7
scons: latest
virtualenv: latest
thanks

[2020-03-17 12:24] chojiro opened #10881 "Windows Logon: NVDA doesn't read alert when entering incorrect password"
When entering a password incorrectly at Windows logon screens, NVDA doesn't read the alert that appears. You can either do this when you first boot up your system and Windows logon appears, or by getting to the Windows logon screen with Windows+L after logging on. It doesn't seem to matter which approach I use. This has never worked for me.

### Steps to reproduce:
1. When logging onto the system

[2020-03-17 12:26] chojiro commented on #4937
#10881 is open.

[2020-03-17 13:34] Neurrone commented on #10853
@leonardder yeah, it says vs code

[2020-03-17 16:10] josephsl commented on #10881
Hi, it does read on my system running Version 2004. Thanks.

From: chojiro <notifications@github.com>
Sent: Tuesday, March 17, 2020 5:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Windows Logon: NVDA doesn't read alert when entering incorrect password (#10881)

When entering a password incorrectly at Windows logon screens,

[2020-03-17 17:34] chojiro commented on #10881
Not sure what to tell you.

Upgrading to 2004 build 19041.153 and still no luck. Installing NVDA alpha-19797,c8baa820 and that is still the case. Attempted to do this repeatedly and all NVDA ever says is "Welcome", then is completely silent afterwards. I can get it to read that it is incorrect by using NVDA+B to read the entire window, but otherwise NVDA says nothing.

[2020-03-17 17:45] josephsl commented on #10881
Hi, I’ll take a look today and see if the data matches my hunches (provided that I’m feeling a bit better physically). Thanks.

From: chojiro <notifications@github.com>
Sent: Tuesday, March 17, 2020 10:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows Logon: NVDA doesn't read alert

[2020-03-17 17:51] josephsl commented on #10881
Hi, after you hear “Welcome”, I assume NVDA isn’t saying “dialog”? If yes, then it might be that NVDA isn’t recognizing the “incorrect password” window as a proper dialog like it should – that’s how LogonUI (the app responsible for gathering credentials) informs you about incorrect passwords. I’m interested to find out if others are also experiencing this problem. Thanks.

From: chojiro <notificat

[2020-03-17 18:20] adincebic commented on #8336
Hello everyone, do we have any news regarding this issue?

[2020-03-17 18:29] chojiro commented on #10881
That's correct. NVDA recognizes the initial screen as a dialog, though. I  hear "Windows sign-in dialog" when I first boot or when hitting Windows+L and NVDA starts, but NVDA just says "Welcome" after entering the wrong password.

[2020-03-17 18:32] josephsl commented on #10881
Hi, hmmm, that’s odd indeed. Looks like focus events are not fired right. CC @MichaelDCurran

From: chojiro <notifications@github.com>
Sent: Tuesday, March 17, 2020 11:30 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows Logon: NVDA doesn't read alert when entering incorrect password

[2020-03-17 23:43] #10864 closed

[2020-03-17 23:51] michaelDCurran commented on #10668
This is a bug in the Start Screen's UI Automation implementation. Elements that are off screen (such as when using object navigation or scrolling fast such that focus changes are delayed) seem to have broken UIA element properties. This is pretty harmless and there is nothing we can do about it in NVDA. I don't think its just states that is broken. The entire element becomes unfunctional.

[2020-03-18 00:02] michaelDCurran commented on #10664
@surfer0627  any chance you could provide the commit hash for the build you think it broke in? I.e. the letters and numbers after the sequencial build number in the snapshot filename.

[2020-03-18 00:30] michaelDCurran commented on #10664
Regression most probably caused by #10462
@leonardder  I think that adding alwaysReportName in the MSHTML vbufBackend may have caused this as in this scenario, the radio button is labeled with an HTML label association (I.e. label tag with a 'for' attribute pointing to the ID of the radio button). There is no real way you could have detected this case I know, but it would however cause the regress

[2020-03-18 09:55] surfer0627 commented on #10664
@michaelDCurran

Sorry, I'm not sure that I understand your message correctly.

After testing, this case occurs since alpha-19184,d13635dc.

@surfer0627 any chance you could provide the commit hash for the build you think it broke in? I.e. the letters and numbers after the sequencial build number in the snapshot filename.

[2020-03-18 09:58] michaelDCurran commented on #10664
Thanks. That is exactly what I needed.

[2020-03-18 11:52] fernando-jose-silva opened #10882 "provide a shortcut key to read the network status"
### Is your feature request related to a problem? Please describe.
no
### Describe the solution you'd like
My suggestion is inspired because there is a feature from another screen reader that I found interesting and useful.
I would like a shortcut key to be made available for nvda to report network status.
As there are few shortcut keys available, the shortcut key could be unassigned.
I know that

[2020-03-18 12:18] lukaszgo1 commented on #10882
Duplicate of #1279

[2020-03-18 12:50] feerrenrut commented on #10882
Closing as a duplicate of #1279

[2020-03-18 12:50] #10882 closed

[2020-03-18 19:43] JulienCochuyt commented on #10876
Hi @lukaszgo1,
What does prevent you from building NVDA from within a Python virtual environment?
Doing so would isolate your installed SCons from the one bundled with NVDA.
(I actually use only virtual environments, and thus never install anything in my bare Python installations.)

[2020-03-18 20:57] josephsl commented on #9039
Hi,

Update: we had a user report that things in web browsers were not read, and the workaround noted by Tyler did work. I think, for 2020.1, the workaround line should be attempted unless we can fine a more refined solution for 2020.2.

Thanks.

[2020-03-18 21:11] lukaszgo1 commented on #10876
@JulienCochuyt wrote:

When running scons.py from the main directory of the repo the bundled SCons has precedence over the one installed in Python regardless if its installed in a virtualenv or not. When not using scons.py but invoking scons directly it fails. because SConscript cannot find sourceEnv as explained above. Pull request making it possible to build with a different SCons version will f

[2020-03-19 00:56] ruifontes commented on #1279
Add-on made.
Code: https://github.com/ruifontes/networkStrenght
Add-on: https://github.com/ruifontes/networkStrenght/releases/download/1.0/networkStrenght-1.0.nvda-addon

[2020-03-19 01:05] ThickGreen commented on #6283
I would like to point out that aria-orientation is also used for the following roles which are impacted by this bug:

- scrollbar
- select
- separator
- slider
- tablist
- toolbar
- listbox
- menu
- menubar
- radiogroup
- tree
- treegrid

[2020-03-19 01:47] michaelDCurran commented on #10719
This has been addressed in Edge Chromium 81. And, NVDA 2019.3 does not use UIA in Edge Chromium anymore, rather it uses IAccessible2.

[2020-03-19 01:47] #10719 closed

[2020-03-19 01:51] michaelDCurran commented on #10766
This is not reproducible in later versions of Outlook. However, NV Access is currently working with the MS Office team to get access to debugging symbols so that we can generate readable stack traces for these kinds of issues in the future. Leaving open, but we won't be able to address this for NVDA 2020.1.

[2020-03-19 02:55] kvark128 commented on #1279
Better use direct wlanapi calls instead of netsh, as implemented in this addon:
https://github.com/kvark128/WlanReporter/releases/download/2019.12.22/WlanReporter-2019.12.22.nvda-addon
The shortcut can be assigned in the category System status, in Input gestures dialog.

[2020-03-19 04:09] trodick commented on #10766
@michaelDCurran I can still reproduce this issue in the version of Outlook I have installed (16.0.12711.20000 64-bit). This is Outlook for Office 365 MSO.

[2020-03-19 07:46] JulienCochuyt commented on #10876
@lukaszgo1, Sorry I took this issue the other way around. Your proposal makes sense when facing issues with the bundled version.

[2020-03-19 11:02] Adriani90 commented on #6283
cc: @MarcoZehe

[2020-03-19 11:07] MarcoZehe commented on #6283
Firefox exposes aria-orientation, NVDA needs to use it to indicate the orientation of such controls.

[2020-03-19 12:32] oaron opened #10884 "link activation problem in Firefox"
### Steps to reproduce:

1. Open a webpage in Firefox (E.G. https://m.facebook.com)
2. Select a link with a tab key (e.g. messages).
3. Press enter on it.
### Actual behavior:
After pressing enter, The new page does not load. It works only if I press a right arrow before enter or space pressing.
### Expected behavior:
After tabbing a  link, and if I press the enter, its page loads.
### System conf

[2020-03-19 14:52] feerrenrut commented on #1279
Since there are add-ons addressing this issue I'm going to close it.

[2020-03-19 14:52] #1279 closed

[2020-03-19 15:16] feerrenrut commented on #10766
@trodick do you get a minidump for this crash? Could you [zip and attach it to this issue](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps#crash-dumps)?

[2020-03-19 15:22] Neurrone commented on #10853
@leonardder curious if you use Vs Code yourself with snapshot NVDA builds?

[2020-03-19 15:43] feerrenrut commented on #6283
I don't know how aria-orientation is commonly used, so it's very hard to set a priority on this. My assumption is that this is used rarely, and in most cases this information would be verbosity that users didn't want. The [MDN page for aria-orientation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-orientation_attribute) is unclear about it's intend

[2020-03-19 16:03] MarcoZehe commented on #6283
Examples I can think of right off the top of my head:
* Horizontal versus vertical sliders. Horizontal ones are manipulated with arrows left and right, vertical ones with up and down. I remember seeing those in Windows for volume vs. balance in sound control.
* Horizontal versus vertical tab lists. I fell into a trap once where 1Password 7 has a vertical tab strip in its Settings dialog, and conse

[2020-03-19 18:55] leonardder commented on #8604
@anrocqt This got a bit out of my view. How is the current state of QT accessibility? I heard rumours of severe brokenness in version 5.14.

[2020-03-19 19:27] Adriani90 commented on #6283
The implementation could be a good candidate for speech refactor with an indication by sounds.

Von meinem iPhone gesendet

[2020-03-19 23:21] jcsteh commented on #6283
Sounds feel too obscure here. Non-standard orientation isn't very common,
and sounds require frequent encounters and relative context to be learned
intuitively.

My suggestion would be to report the orientation only when it isn't the
default. For example, tab controls are usually horizontally oriented, so we
should only report vertical for those. Of course, that will involve
teaching NVDA about de

[2020-03-20 00:07] trodick commented on #10766
@feerrenrut I don't get a minidump, but I do get this rather nasty set of tracebacks. I even ran the focus.appModule.dumpOnCrash() command in the Python console and still didn't get anything.

WARNING - watchdog._watcher (18:59:39.853) - watchdog (10608):
Core frozen in stack:
  File "nvda.pyw", line 215, in <module>
  File "core.pyc", line 545, in main
  File "wx\core.pyc", line 2134, in MainLoop

[2020-03-20 05:34] ntcarver0 opened #10886 "Allow Beep Speech Mode Pitch To Be Configured More INtuatively"
### Is your feature request related to a problem? Please describe.
I find NVDA's beep speech mode useful, however it's default pitch of 10000 Hz is almost painful for me. I understand that it--along with a few other "hidden" settings--can be changed from the Python console, however it would be more user-friendly for  there to be a more intuitive , easily accessible way to change this setting.

###

[2020-03-20 08:13] Brian1Gaff commented on #10884
If you do a page refresh, does that work?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-03-20 09:13] isidorn opened #10887 "AriaLabel of element should not be re-read after activedescendent listbox is closed"
VS Code issue https://github.com/microsoft/vscode/issues/89098#issuecomment-601599555

Chrome: if HTML element `A` has focus and has `activeDescendent` set to element `B` and element `B` is a `listbox` on closing of `B` `arialabel` of `A` should not be re-read.

This works 100% correct in Orca, thus adding @joanmarie for potential ideas / hints.
This also does not work on mac VoiceOver.

fyi @zers

[2020-03-20 09:54] #10876 closed

[2020-03-20 11:06] leonardder commented on #10887
@isidorn Would you be able to provide a quick HTML example? It would really help if we can test this in other browsers as well.

[2020-03-20 11:25] isidorn commented on #10887
@leonardder not so trivial. The best I could do is run VS Code in browser and verify that this is reproducable with latest Firefox, latest Chrome. Also happens in latest Safari with VoiceOver.

In case you want to run VS Code in browser, here are easy steps.
1. Build vscode https://github.com/microsoft/vscode/wiki/How-to-Contribute
2. `yarn web` from vscode repositry - will open a browser and run

[2020-03-20 12:06] MarcoZehe opened #10888 "VS Code: Reduce the number of times one has to use NVDA+Space to switch modes."
I just filed [this issue](https://github.com/microsoft/vscode/issues/93087) against VS Code where I suggest to use targeted role="document" in those places that produce HTML output for consumption, to make NVDA switch in and out of browse mode in a smart, automated, manner, reducing the number of times one has to use NVDA+Space to toggle modes. Examples I found while using the 1.44 VS Code Insider

[2020-03-20 12:09] leonardder commented on #10888
Added the needs external fix label. As soon as https://github.com/microsoft/vscode/issues/93087 is addressed, we can reconsider the behavior of our appModules.

[2020-03-20 12:21] feerrenrut commented on #6283
@jcsteh I agree, that is probably the most clear thing to do. I would guess it should precede role i.e "vertical tab control" however a horizontal one (the expected orientation) should be announced just as "tab control"

I think a priority 3 is appropriate.

[2020-03-20 13:26] feerrenrut commented on #10884
Could you tab to the link, press NVDA+F1 and copy all lines after `Developer info for navigator object` and attach them to this issue?

[2020-03-20 13:47] oaron commented on #10884
[nvda-debug.txt](https://github.com/nvaccess/nvda/files/4359863/nvda-debug.txt)

[2020-03-20 18:06] smhigley opened #10890 "aria-sort changes not announced when the change is not on the focused element"
### Steps to reproduce:
1. Visit https://w3c.github.io/aria-practices/examples/grid/dataGrids.html
2. Navigate to the grid in the second example
3. Navigate to the first column header (the sort state is announced)
4. Change the sort state

### Actual behavior:
Changes to the aria-sort property are not announced

### Expected behavior:
Changes to aria-sort are announced

### System configuration
##

[2020-03-20 18:49] DrSooom commented on #10886
Dupblicate of issue #9206 and #9308.

[2020-03-20 18:59] DrSooom commented on #10884
Tip: Always maximize the Firefox/Chrome/Edge/etc window by pressing Win+ArrowUp. This could help if a link can't be activated.

[2020-03-20 19:20] oaron commented on #10884
I maximized the window, but it did not solve this issue.

[2020-03-21 00:36] ntcarver0 commented on #10886
Didn't see that. IN that case, issue #9206 is exactly what I'm looking for, and it would make all of the hidden Python console settings available to boot.

[2020-03-21 08:37] zahra21 commented on #9179
hello.
i tested with nvda 2017.3 on windows xp two times and i could not reproduce the issue.

[2020-03-21 08:39] k-kolev1985 opened #10891 "Broken phonetic spelling option in NVDA in the last few alpha snapshots"
### Description:
In NVDA's settings, in the "Speech" category, there is an option called "Use spelling functionality if supported". You all probably know what this option is supposed to do, so I'm not going to bother explaining it.

Before NVDA 2019.3, this option was not working correctly for the most used bulgarian SAPI5 speech synthesizer "SpeechLab" (the voice "Gergana"), so we were disabling

[2020-03-21 09:04] k-kolev1985 opened #10892 "Add more configurability to the "Focus Highlight" function in NVDA"
### Is your feature request related to a problem? Please describe.
Depending on the background color of the application or web page in which we currently are, the currently chosen colors for the NVDA's focus highlighting may be inadequate. There may be cases in which the colors of the background and the highlighter are identical or closely identical to each other. In such cases, the focus highligh

[2020-03-21 14:55] leonardder commented on #10838
I think it might even be better to have a very simple app that has a very simple html page wrapped in it with a focusable control (e.g. a link). That would make testing a lot easier.

[2020-03-21 17:31] gtritchie commented on #10838
Sure, I can build a simple example for you, will provide a link once I've got it for you.

[2020-03-21 23:25] burakyuksek commented on #10851
Won't this be fixed in a future update?

[2020-03-21 23:29] josephsl commented on #10851
Hi, I wrote a fix, which is awaiting one more review check. In the meantime, my add-on provides the fix (I know this is not the news you want to hear, but given the present circumstance, that’s the next best thing we have). Thanks.

From: burakyuksek <notifications@github.com>
Sent: Saturday, March 21, 2020 4:26 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.c

[2020-03-22 12:28] burakyuksek commented on #10851
Hello,
Thanks for trying to implement a fix. I hope the fix you submited makes it into the next version.

[2020-03-22 12:36] zahra21 commented on #9206
hello.
can someone please tell me how can i increase caret move timeout in nvda 2017.3?
in issue 9200, i realized that this feature is available in gGUi since 2019.1 of nvda.
however, i did not find documentation how can i increase it in my favorite version which supports xp (2017.3)!
thanks for any of your help, God bless you all, and His infinite mercy i pray for nvda developers, programmers and

[2020-03-23 08:54] ChrisMedley commented on #3886
We now have no right click touch gesture what so ever now in 2020.1 beta 1
Worked fine in 2019.3
Why has this been removed?

[2020-03-23 09:00] josephsl commented on #3886
Hi, are you using Enhanced Touch Gestures add-on by any chance? If so, try restarting NVDA with all add-ons disabled and see if that makes a difference. If it does make a difference, I’ll take a look at it. Thanks.

From: ChrisMedley <notifications@github.com>
Sent: Monday, March 23, 2020 1:55 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; State change <

[2020-03-23 09:28] CyrilleB79 commented on #10891
Cc @feerrenrut, @michaelDCurran
IMO should be triaged to 2020.1 since this seems to be a 2020.1 regression.
Just reading the issue, I did not test myself.

[2020-03-23 09:36] zstanecic commented on #10891
Comment to Kostadin:
the speech lab synth is not publicly available outside of the bulgarian sources.
Please update the comment accordingly and share the link.
I will install it now and telll how it works

[2020-03-23 09:43] zstanecic commented on #10891
Hi!
This option works, but in an opposite way.
You need to uncheck it now

[2020-03-23 10:33] ChrisMedley commented on #3886
Yes I am using enhanced  touch gestures 20.03 and even with all addons disabled the right click gesture still no longer working

[2020-03-23 16:18] josephsl commented on #3886
Hi, that’s odd, as it is working on my computer. Can you try enabling input help mode (NVDA+1, or if using Enhanced Touch Gestures, four finger double tap) and see what “tap and hold with one finger” says? Or better yet, can you attach a debug log where you try right mouse click with touchscreens (restart NVDA with debug logging enabled, try a right-mouse click while NVDA is running, press NvDA+F1

[2020-03-23 17:50] ChrisMedley commented on #3886
OK, this is odd, I did as you asked and turned on NVDA help (nvda+1)
I tried the the single finger double tap and hold and got nothing, I then turned off nvda help and the single finger double tap and hold gesture  worked!

Again turned on nvda help and it also reported  right click this time also
And its still working after turning off nvda help

Dont ask me what happened but  it's working now fo

[2020-03-23 17:52] josephsl commented on #3886
Hi, I was about to suggest restarting your computer, but at least it is working. Let us know if it doesn’t work again. Thanks.

From: ChrisMedley <notifications@github.com>
Sent: Monday, March 23, 2020 10:51 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [nvaccess/nvda] Emulate mouse on touch sc

[2020-03-23 18:25] Oreonan opened #10895 "Freeze when closing context menu in Edge Chromium"
### Steps to reproduce:
-Open Edge Chromium in a long page
-Open context menu
-Clic on any element, or press escape to exit context menu

### Actual behavior:
-When context menu will be closing, NVDA will trying to read page in integrality, and will freeze, forcing to manually restart it

### Expected behavior:
-No freeze, reading the element from which the context menu had been opened (as on othe

[2020-03-23 19:12] parora2020 commented on #10880
Tested after disabling all addons in Chrome Version 80.0.3987.87 (official Build)(32 bit).All the fields within table are read as "selected"
Steps:
Turn "ON" NVDA screen reader
Generate report using IBM Cognos.
Navigate to the report using keyboard.
All the fields within the report are read as "selected"

[2020-03-23 20:13] gtritchie commented on #10838
I have created a standalone app that uses QtWebEngine and loads a simple page.

The page it loads is: https://gtritchie.github.io/focustest.html

The app is a stripped down version of a Qt example program. The source code is available to view, if desired, at: https://github.com/gtritchie/focusbrowser

I have compiled it for 64-bit Windows, then bundled it all up into a zip file (includes all the d

[2020-03-23 20:30] Malvoz commented on #7841
Keeping @BerGer23's [comment](https://github.com/nvaccess/nvda/issues/7841#issuecomment-358644281)  in mind, I think the suggestion in https://github.com/nvaccess/nvda/issues/7841#issuecomment-350392004:

is a good starting point.

The W3C [Maps For HTML Community Group](https://www.w3.org/community/maps4html/) has currently implemented web maps from 12 different tools on [this web page](https://m

[2020-03-24 04:37] josephsl commented on #6305
Hi,

Thought I came across this earlier...

It might be a bit hard to separate config based on usage in secure screens. One potential workaround is copying settings to NVDA's user config folder manually (that is, while NVDA is not running), but then we run into policy risks.

As for bringing this feature to life, now that all three conditions I mentioned (NVDA 2019.1 or later, Python 3 transition

[2020-03-24 07:18] leonardder commented on #10838
@gtritchie Many thanks for your example.

I'm afraid the problem is stubborn. All items on the web page are exposed using the Accessibility implementation of Qt itself, so with UIA instead of IAccessible2 (as default in Chromium). Even when forcefully disabling UIA, there's no access to the IAccessible2 implementation of Chromium itself. May be there is a flag to expose this as yet?

Therefore, wh

[2020-03-24 11:50] MarcoZehe commented on #10887
The problem I see is that aria-activedescendant, which is used in VS Code, does cause real focus events to fire. This is for those cases where keyboard focus seems to be in two places at once: The editor and the suggestion item that is currently selected. Once aria-activedescendant is cleared, a true focus event gets fired on the item that has DOM focus. In fact, we had a problem in Firefox where

[2020-03-24 12:44] isidorn commented on #10887
@MarcoZehe thanks a lot for looking into this. We are open for workarounds on the VS Code side. Using `aria-owns` did not help fixing the issue, more details [here](https://github.com/microsoft/vscode/issues/89098#issuecomment-603215775)

[2020-03-24 16:54] gtritchie commented on #10838
Thanks, that is useful to know. I suspect there is not a way to get at IAccessible2 of the Chromium instance hosted by QtWebEngine, but I will do some digging to be sure.

[2020-03-24 17:58] parora2020 commented on #10880
Please note I am application with IBM Cognos for generating reports.

[2020-03-24 17:59] parora2020 commented on #10880
Please note the reports are generated using IBM Cognos

[2020-03-24 18:23] joanmarie commented on #10887
@MarcoZehe As best as I can tell, it's a combination of lack of accessible events plus Orca trying to not be chatty. :smile:

You are correct that Orca cannot discern a focus event from a real DOM focus change from one resulting from an aria-activedescendant one.

Regarding the lack of events I mentioned above. Orca *does* see focus events resulting from the aria-activedescendant changes as the us

[2020-03-24 19:37] DrSooom opened #10896 "SAPI-4 synthesizers/voices pitch no longer increase during letter navigation"
### Steps to reproduce:
1. Select a SAPI-4 synthesizer like IBM ViaVoice TTS in the Speech NVDA Settings.
2. Set "Capital pitch change percentage" to "25".
3. If you want, disable the checkbox "Say "cap" before capitals". If this option is enabled, the word "cap" (in German "Groß") is spoken with the higher pitch level too.
4. Read "TESTtest" letter by letter.
### Actual behavior:
The voice pitch

[2020-03-24 20:05] zstanecic commented on #10896
Hi daniel,

For now, a workaround is to turn of the option

# use spelling functionaliti when supported checkbox #

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, March 24, 2020 8:38 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] SAPI-4 synthesizers/voices pitch no longer increase during letter navigation (#10896)

[2020-03-24 21:42] DrSooom commented on #10896
There are no differences if "Trust voice's language when processing characters and symbols" and "Use spelling functionality if supported" are disabled or enabled in NVDA 2019.3.1 and 2020.1 Beta 1. I've tested all four possible variants right now. Just let me know, if you need a debug logfile.

[2020-03-25 08:14] iubito opened #10897 "Search and column sorting in dictionnary"
### Is your feature request related to a problem? Please describe.
In the dictionnary dialog, it's very hard to find a previously entered word to change its pronounciation. No search field like in punctuation dialog, no sorting when clicking on headers

### Describe the solution you'd like
A search field on top of the dialog, like in punctuation dialog
Allowing sorting on columns

### Describe alt

[2020-03-25 09:53] Brian1Gaff commented on #10896
Yes this affects that LH sappi 4 as well. I don't think  any of the sappi 4
systems is as stable now. Its is an old system, i'm surprised Microsoft
still support it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----

[2020-03-25 12:03] CyrilleB79 opened #10898 "Table navigation does not work in lists with checkable items"
### Steps to reproduce:
* Get a multi-column list with checkable items focused. You can find such list in both following apps:
    * With add-on updater installed, if you search for add-on updates and if there are some, you get a list to select or unselect the add-ons you want to update.
    * In Tortoise SVN, in the window that appears when you commit, there is a list to select or unselect the fi

[2020-03-25 16:45] aminpaks commented on #6457
@Adriani90
Hi, we are facing the same issue. It seems that sometimes when we have multiple iframe within the page and if the focus is moving dynamically NVDA doesnt follow where the focus is at the current element by pressing "Arrow down" to move to the next element in the apge.

Here is a [sample app](https://aminpaks.github.io/react-app-nvda/) to demo how to repro the issue.

1. Open the app in

[2020-03-25 19:15] burakyuksek opened #10899 "Say all profile gets triggered even when there is no text to read"
### Steps to reproduce:
1. Make a say all profile
2. Go to the desktop by pressing windows+m
3. Press the say all command
### Actual behavior:
[nvda-old.log](https://github.com/nvaccess/nvda/files/4383029/nvda-old.log)
Say all profile gets triggered, with no way of disabling other than quitting NVDA.
### Expected behavior:
Say all profile doesn't get triggered, since there is no text to speak
###

[2020-03-25 21:05] DrSooom commented on #10897
Duplicate of issue #2478, #8547 and #8548.

[2020-03-25 23:07] codeofdusk opened #10900 "Add support for Dell Mobile Connect"
### Is your feature request related to a problem? Please describe.
Dell [released](https://www.theverge.com/2020/3/25/21193655/dell-mobile-connect-ios-pc-screen-mirroring-drag-and-drop-transfer-files) a Windows 10 app that allows iPhone users to send messages, make calls, etc from Windows. The app is usable with NVDA, but this could be made more efficient.

### Describe the solution you'd like
Add

[2020-03-25 23:07] btman16 opened #10901 "LH TTS Speech Engine for SAPI5 Is Not Working Correctly With Speech Refactor"
### Steps to reproduce:
1. Install the LH TTS voices, you can get them in several ways, either with Office 2003 or by installing Microsoft Reader.
2. Switch to SAPI5 and switch to one of the voices, LH Michael or LH Michelle.
3. Save the settings then go to the Desktop.

### Actual behavior:
NVDA only says the first chunk of text sent to the synthesizer, such as "Folder View List", and it does not

[2020-03-26 00:14] rkingett commented on #8847
I don't think this is a duplicate because I just tried to do a search and no other ticket came up that matched this one. I know about the add on, but could NVDA add scan mode into the core at some point? This would be a really great feature to have when dealing with inaccessible applications.

[2020-03-26 00:18] josephsl commented on #8847
Hi,

Note that I'm no longer maintaining ObjPad add-on. One possible workaround would be to strengthen screen review to act like scan mode or close to it, or perhaps with a new review mode.

Thanks.

[2020-03-26 03:23] rkingett commented on #8847
I'd especially want that since the add on is no longer being maintained. I mean, scan mode has helped me actually use some inaccessible applications and get to controls I couldn't get to before. It can also make navigating windows 10 apps a billion times easier, as well.

[2020-03-26 07:04] MarcoZehe commented on #10888
VS Code insider builds now have the fix for role="document" in some places where they make sense, and more are being added as they're discovered. I think we can reevaluate now whether the VS app module still makes sense. The Insider one can certainly be removed, the other one once VS Code 1.44 gets released.

[2020-03-26 07:10] ctoth opened #10902 "Report alteration of element label / element diff?"
Imagine the case where you click a button (clickable) element on a webpage.

There are many, many things that can happen with this click. If you had sufficient patience and hackers, you could mock out everything on the page, capture results, see what modifications happen, and be able to communicate to the user what happened, or what might have happened if they click said control.

We do not have t

[2020-03-26 12:19] CyrilleB79 commented on #10899
Maybe linked with #9947?

[2020-03-26 15:06] NishantVerma12 opened #10905 "NVDA not reading content after keypressed event on edge browser"
I am trying to read the content using **aria-label on edge** at keypressed event but NVDA is not reading the **aria-label** message.

` <a class="plag--icon-box plag--report-icon-box  plag-menu-tray" ng-if="student"
                            ng-click="vm.toggleMenuTray()" tabindex="1.6" aria-label="menu options {{vm.menuOption}}"
                            ng-keyup="($event.keyCode === 13 && vm

[2020-03-26 15:38] OzancanKaratas commented on #2797
How can we support the Netflix website for this issue?

[2020-03-26 17:01] feerrenrut commented on #10884
I can't reproduce this.
I have had a look at the log, indeed NVDA announces "News link", enter is pressed and nothing happens for 3 seconds. The dev info confirms this is a the news link on the NV Access website.

One thing I notice in the log is that there are several add-ons running, the issue description says you have tried with addons disabled, can you confirm this does not fix the issue on th

[2020-03-26 17:08] feerrenrut commented on #9206
Most of these config items aren't very user friendly, which is an important consideration. Rather than exposing these via the settings menu, I'd prefer to incorporate them into a new type of "audio theme" addon along with customisation of other sounds in NVDA.

[2020-03-26 17:14] feerrenrut commented on #10886
Despite these issues seeming like duplicates I won't close this right now. There are subtle variations in what is being asked for. Since there are several issues asking for low priority but similar things, I think it will be worth looking at combining them together as part of a bigger project to reconsider defaults and how customizable this behavior is.

[2020-03-26 20:43] oaron commented on #10884
I've disabled NVDA add-ons, but the problem always occurs. I attached a new log file.
[nvda-debug.txt](https://github.com/nvaccess/nvda/files/4389838/nvda-debug.txt)

[2020-03-26 21:19] sinabahram commented on #10902
This seems like a workaround to the case of Amazon, in your partially-hypothetical example, not implementing things like an aria-live region appropriately, but to zoom out a bit, I do think there's a concept from Jaws that may be relevant here. So, for the longest time, they've had this simulate hover functionality, where it simulates a hover on whatever you've got focus on and then it scans the p

[2020-03-26 21:32] lukaszgo1 opened #10906 "NVDA fails to move focus to the selected profile in the Firefox profile selection dialog when it is focused for the first time"
### Steps to reproduce:
1. Create more than one  profile in Firefox, and uncheck "use the selected profile without asking at startup".
2. Close and reopen Firefox.
3. Observe what is being read when the dialog gains focus - try to check which profile is selected with NVDA+up arrow or NVDA+Tab.

### Actual behavior:
When dialog gains focus only text of the dialog is announced. Reading current line

[2020-03-26 22:28] Adriani90 commented on #10884
I can also reproduce this on websites from time to time since Firefox 74.

cc: @jcsteh

[2020-03-26 22:40] Adriani90 commented on #10417
We didn't get any further arguments from the initial author and I agree with the suggestions from @leonardder. I wouldn't introduce a separate mode for this.
If you want NVDA to be silent while you move the mouse, you can also just hold down the nvda key or the ctrl key while moving the mouse.
Due to several work arounds, I will close this issue for now. if you have other arguments please comment

[2020-03-26 22:40] #10417 closed

[2020-03-26 22:42] Adriani90 commented on #10028
@XLTechie I wonder if this is still reproducible after maximizing the window and after running the COM registration fixing tool. Did you try this already?

[2020-03-26 22:50] Adriani90 commented on #9462
cc: @feerrenrut

[2020-03-26 22:54] Adriani90 commented on #8847
let's continue this discussion on the issue #7759. The discussion there is more broadly and there is also some kind of prototype work done by @Robert-J-H.

[2020-03-26 22:54] #8847 closed

[2020-03-26 23:05] Adriani90 commented on #7759
The addon will probably not be maintained in the future anymore.
Maybe we can start discussion on this again somehow.
@Robert-J-H do you have an update to your enhanced object navigation plugin which you created?
See this comment: https://github.com/nvaccess/nvda/issues/7759#issuecomment-345857287

[2020-03-26 23:15] Adriani90 commented on #2797
@florianionascu7 a romanian guy developed an addon for reading subtitles. Do you know hit profile on Github? Maybe he can contribute here by raising a pull request.

[2020-03-26 23:31] jcsteh commented on #10884
Do you have "Automatically set system focus to focusable elements" disabled in NVDA Settings -> Advanced? This is a known bug when that is disabled. Note that this is enabled by default.

[2020-03-26 23:45] oaron commented on #10884
Yes, that was disabled. I enabled it, and problem solved!
Thanks for your help!

[2020-03-26 23:45] #10884 closed

[2020-03-26 23:47] gregjozk commented on #7759
This, when will be implemented, it could be a JAWS Frame Viewer on steroides. +1 for it.

[2020-03-27 02:09] DrSooom commented on #10905
@NishantVerma12: Please completely fill out the bug report draft. Thanks.

[2020-03-27 02:18] DrSooom commented on #10901
See also: PR #10792

[2020-03-27 02:48] btman16 commented on #10901
Hello,

I just posted on the issue you mentioned, but that one's for SAPI4. I indirectly referenced that issue in my original report.

I'm guessing something similar could be done for SAPI5.

Thanks,

Brandon

[2020-03-27 02:49] btman16 commented on #10901
Hi,

How can I reopen this? I accidentally pressed close and comment.

Thanks,

Brandon

[2020-03-27 03:06] Qchristensen opened #10907 "Cannot use "Record Slideshow" feature in PowerPoint (365)"
### Steps to reproduce:

Open a presentation in PowerPoint.
Run the slideshow by pressing ALT+S, then N, then B to run from the beginning.

The slideshow starts in a window with extra controls for moving between slides, drawing on slides and recording voice.

### Actual behavior:

NVDA reports the name of the slideshow and "End of slideshow".
None of the controls read and navigating results in NVD

[2020-03-27 13:32] adkurz opened #10908 "NVDA does not speak individual characters when navigating"
### Steps to reproduce:

Open any text field and press the key left arrow or right arrow.

NVDA doesn't speak the current character under the cursor.

### Actual behavior:

NVDA says nothing

### Expected behavior:

NVDA should speak the character under the cursor.

### System configuration
#### NVDA installed/portable/running from source:

installed

#### NVDA version:

alpha-19823,5cd0c3fd

####

[2020-03-27 13:55] Neurrone opened #10909 "NVDA hanging should never lock up the keyboard to allow for recovering via restarts"
### Steps to reproduce:

1. Do something that causes NVDA to reliably crash. For example, I can do this reliably by doing something that causes the command line to print a large amount of output. Its obviously not ideal that it crashes NVDA, but this is the most convenient way that I know of triggering this.

### Actual behavior:

Controlling the computer via keyboard is impossible, so the only wa

[2020-03-27 14:30] rkingett commented on #7759
Coming here from the now closed, scan mode, thread. I still have the same issue as described within post 1. Typically, when I invoke this mode, I want to explore/examine what is open and in focus. This is where something like narrators scan mode would come in handy. Also, when I try to explain object nav to casual users, they just don't get it, even with tutorials. Narrator's scan mode could be so

[2020-03-27 14:38] feerrenrut commented on #10892
This would be a good improvement, probably the only reason this hasn't been done so far is because some thought needs to be put into for who and why these parameters need configuration. That is, defining the use-cases. Often the answer to 'why do you want to configure this'  tells us a lot about what an acceptable solution would be. For instance: "I want to be able to change the color of the focus

[2020-03-27 14:49] feerrenrut commented on #9179
Rather than fix this log viewer issue, my preference would be to replace the log viewer with the following:
- A read only text box for 'devInfo'
- A button to open the log file in a default text editor.
  - Text editors such as Notepad++ have auto/manual refresh functionality, and the ability to save a copy of the file.
- A command to open the log in default editor directly so users can override t

[2020-03-27 15:07] #2214 closed

[2020-03-27 15:09] k-kolev1985 commented on #10892
Most important for me is to be able to configure the color for each highlighter. For example, under normal circumstances, red is not so bad for the object navigator, but I use the Windows high-contrast black theme in which the background is black. In this case, a brighter color (e.g. bright green) would be more suitable.

But not all users of the focus highlight feature use a high-contrast black t

[2020-03-27 16:02] zahra21 commented on #10909
hi.
i confirm this problem.
i faced this issue several times,
as i remember, especially since the time that nvda migrated to espeak ng.
nvda 2017.1 was very great and i wish that i could use it forever!
even if i used laptop several hours and opened several times in my firefox, nvda was very responsive in compare to other versions!
when i installed 2017.2 for the first time, i opened firefox and f

[2020-03-27 16:15] feerrenrut commented on #10880
@parora2020 Could you test with Firefox and report if the behavior is different?

I'm going to guess that there aren't any NVDA developers with access to reports generated using IBM Cognos. Could you inspect the HTML and create a minimal sample that reproduces the issue? If not, can you attach a sample report to this issue so that someone can do this on your behalf.

A minimal sample is much more

[2020-03-27 16:22] feerrenrut commented on #10909
This should probably be thought of as an enhancement request rather than a bug report. The goal is to improve the user experience in the event of NVDA getting locked up. Unfortunately there are several ways this can happen, and likely require large changes to NVDA to improve the outcome.

[2020-03-27 16:33] feerrenrut commented on #10908
I cant reproduce this with the latest alpha (`Version: alpha-19834,2cdf280b`).

Steps to test:
- Opened notepad.exe
- Type "hello"
- Use left arrow to move through the letters
- Use right arrow to move through the letters
Letters are announced.

@adkurz If this does not describe how you are encountering the problem, please update the steps to reproduce to be more specific.

[2020-03-27 20:10] isidorn commented on #10887
@joanmarie thanks for the nice explanation.

Just fyi that we are also seeing this issue for our parameter hints widget, if we were to change it to use `activedescendent`. Currently it uses `aria.alert`, but we can not really change it due to this. More details here https://github.com/microsoft/vscode/pull/93606

Are there maybe any other creative ideas on what could vscode do differntly to workar

[2020-03-27 21:45] joanmarie commented on #10887
@isidorn Right now, all I've got is a longshot guess. But I'll toss it out there. Could you set focus back to the entry before the destruction of the popup?

This longshot idea is based on a combination of things I'm seeing in Orca and [observations @MarcoZehe made](https://github.com/microsoft/vscode/issues/89098#issuecomment-603195738).

Like Marco stated: Screen readers (including Orca) do inde

[2020-03-28 06:40] florianionascu7 commented on #2797
Yes, I know his Github profile. It's: @vortex1024

[2020-03-28 07:26] Neurrone commented on #10909
@feerrenrut I disagree. Marking this as a UX enhancement trivializes the severity of the problem, and arguably NVDA hanging should not prevent any further keyboard usage. I understand that this won't be an easy problem to solve though, but marking this a bug would be more accurate.

[2020-03-28 10:47] lukaszgo1 commented on #9179
@feerrenrut I've used log viewer just as a convenient example. This problem occurs with most wx.TextCtrl's which I've seen in the wild - it is particularly problematic in apps used for reading longer texts such as QRead.

[2020-03-28 12:54] vortex1024 commented on #2797
Hello, I am not sure this would be accepted, since it doesn't fit in basic screen reader functionality. also, the results vary greatly depending on the quality of the video and computer performance. Any NVDA developers comments about this?

[2020-03-28 13:13] francipvb commented on #10909
Hello,

What about migration to asyncio? This should solve a bunch of problems...

--
Cuando tus fuerzas terminan, las de mi Dios comienzan.

[2020-03-28 14:09] winman3000 opened #10912 "Braille: Displaying of capital letters in Braille in other than Computer Braille"
### The problem
NVDA is more and more used also by primary school children with a Braille display. If the output table is set to a table other than computer Braille, the capitalized words are no longer visible on the Braille display. However, it is very important for a primary school pupil to know which words are written in capital letters.

### The solution
In the German Braille table, there is t

[2020-03-28 14:17] winman3000 commented on #10912
I just noticed that the uppercase character sign is displayed, but only when you place the cursor on the uppercase letter. Unfortunately, this is a bug.

[2020-03-28 19:04] elliott94 opened #10913 "Outlook 2010: Presence of Subfolders not announced when Navigating through the Folder Tree"
### Steps to reproduce:

The following assumes that Outlook has been configured to connect to an Exchange mailbox:

1. Within the Inbox folder, perform a right-click and choose to create a new folder - you will have the choice of selecting where the folder should be placed. Choose to place it within the Inbox, give it a name, and hit the "OK" button

2. Collapse the Inbox folder by navigating to i

[2020-03-28 20:09] surfer0627 opened #10914 "Firefox: braille keyboard input, NVDA does not Speak Typed Characters."
### Steps to reproduce:
1. Open Firefox.
2. Link to Google.
3. Press e to Move to the edit field.
4. Press enter to Switch to focus mode.
5. Type string to search "nvda ideas list 2020".

(Use the Perkins-style braille keyboard on my Focus display.)
### Actual behavior:
NVDA does not Speak Typed Characters.
### Expected behavior:
NVDA reads typed characters.
### System configuration
#### NVDA inst

[2020-03-28 22:36] DrSooom commented on #10914
Is the behavior the same for all three NVDA versions you have posted? This isn't clear. Thanks.

[2020-03-28 22:45] DrSooom commented on #10912
@winman3000: Which NVDA version is used? Try it with [NVDA 2020.1 Beta 1](https://ci.appveyor.com/api/buildjobs/7tih7jg3w06cyqn0/artifacts/output/nvda_2020.1beta1.exe) (portable). I guess that new German 6-dot braille tables are going to be included into NVDA 2020.2. See: Pr #10832.

[2020-03-28 23:06] DrSooom commented on #10908
@adkurz: And also please report which synthesizer you are using. Thanks.

PS: And ensure that the window is big enough. Or just maximize it with Win+ArrowUp.

[2020-03-28 23:11] DrSooom commented on #10907
@Qchristensen: Is the behavior in NVDA 2019.2.1 identical or different to the one in NVDA 2020.1 Beta 1? This isn't clear. Thanks.

[2020-03-29 05:29] Neurrone opened #10915 "Table navigation does not work on this page in firefox"
### Steps to reproduce:

1. On Firefox, navigate to [this page](https://www.mas.gov.sg/development/fintech/financial-api-register---transaction) and try to use table navigation on the only table there.

### Actual behavior:

Table navigation doesn't work, and the command to navigate by column produces the following error:

[code]

### Expected behavior:

Table navigation works as usual

### System

[2020-03-29 09:35] surfer0627 commented on #10914
Yes.

[2020-03-29 20:30] lukaszgo1 commented on #9872
@MarcoZehe Is this still occurring?

[2020-03-29 20:34] Qchristensen commented on #10907
Oops, sorry, yes the behaviour was the same in 2019.2.1.  I've updated the original comment to note that as well, thanks for picking it up.

[2020-03-29 22:15] DrSooom commented on #10912
#### Possible workaround No. 1 for NVDA 2019.2.1 – not tested!
1. Run Notepad++ as Admin, if NVDA is installed.
2. Open "louis\tables\de-chardefs6.cti" in the NVDA program folder.
3. Press CTRL+G and go to line 54.
4. Replace "include latinLetterDef6Dots.uti" with "include latinLetterDef8Dots.uti".
5. Save the file and restart NVDA.

#### Possible workaround No. 2 for NVDA 2019.2.1 – not tested!
1

[2020-03-29 23:00] jage9 commented on #10508
Can confirm. Using latest 1Password desktop 7.4.759 and Alpha 19834, this issue still occurs. Using narrator, there is no major lag between each list item. It does not occur for every press of down or up arrow, but it is quite frequent.

[2020-03-29 23:02] DrSooom commented on #10915
The table starting with Entity, Sector and so on works in Firefox 74.0x64 with NVDA 2019.2.1 on Win7x64 as expected. Maybe a regression.

[2020-03-30 00:01] btman16 commented on #9356
Hi,

The issue is still present in NVDA 2020.1beta1.
I think that this was broken starting back in 2018.4 by this entry in the changes file:

• NVDA no longer fails to track focus in File Explorer and other applications using UI Automation when another app is busy (such as batch processing audio). (#7345)

And if we look at the log output for this particular control:
INFO - globalCommands.GlobalCo

[2020-03-30 05:29] MarcoZehe commented on #9872
Can no longer reproduce with Edge 80 and NVDA 2019.3.1 or 2020.1Alpha.

[2020-03-30 05:29] #9872 closed

[2020-03-30 06:39] josephsl opened #10916 "UIA handler (backward compatibility): unify public and private modules under a package"
Hi,

The following should wait until work on next incompatible version of NVDA begins:

### Is your feature request related to a problem? Please describe.
For years, UIA handler module was split into two parts: a publicly accessible module (UIAHandler.py) and a private module (_UIAHandler.py). This split was necessary in 2011 in order for NVDA to run without UI Automation client support (namely on

[2020-03-30 07:04] winman3000 commented on #10912
These two workarounds do not bring the desired effect. With these workarounds the capitalized words are marked with a dot 7. What should be achieved, however, is that the capitalized word should first be announced with the points 4-6.

[2020-03-30 09:39] DGartmann opened #10917 "Zoom: No character announced in edit field for entering meeting ID"
### Steps to reproduce:

Open the Zoom Windows client
Make sure the "Home" tab is selected.
Tab to the "Join" button and hit Enter to activate.
You are in the field to enter the meeting ID.
Type a digit or 2 and move over them using the Left and Right arrow keys.

### Actual behavior:
No character is announced.

### Expected behavior:
Each character should be spoken as the cursor moves over it.

#

[2020-03-30 10:05] feerrenrut commented on #10895
@Oreonan is NVDA freezing or Edge, does NVDA continue to speak if you alt+tab to another application?
Could you upload an NVDA log?

[2020-03-30 10:16] Oreonan commented on #10895
@feerrenrut No, NVDA is completly freeze, so NVDA speak in 0 other application.
Yes, I attach a log in this reply.
[nvda3003.log](https://github.com/nvaccess/nvda/files/4402088/nvda3003.log)

[2020-03-30 10:30] #10851 closed

[2020-03-30 11:10] feerrenrut commented on #10884
@jcsteh Do you have an issue number for that bug?

[2020-03-30 11:17] feerrenrut commented on #10905
Closing this issue since not enough information was provided.

[2020-03-30 11:17] #10905 closed

[2020-03-30 11:47] feerrenrut commented on #10900
As mentioned on the PR https://github.com/nvaccess/nvda/pull/10910#issuecomment-605936786 this application does not have wide support, and should be developed as an Addon first.

[2020-03-30 11:47] #10900 closed

[2020-03-30 13:24] feerrenrut commented on #6305
I think disabled add-ons should be included in the list. I can imagine situations where an add-on may be specifically required on the logon screen for instance. Forcing that user to enable it on their profile first is pretty inconvenient.

I don't think incompatible add-ons should be listed at all, what's the use case for installing an incompatible addon to system?

The wish list for this could ea

[2020-03-30 13:56] feerrenrut commented on #10897
Closing as:
duplicate of #2478
duplicate of #8547
duplicate of #8548

[2020-03-30 13:56] #10897 closed

[2020-03-30 14:02] feerrenrut commented on #10899
Can you expand on the problem this causes? Would it be adequate to ensure that the say all profile is disabled once it is determined that there is no speech?

[2020-03-30 14:23] feerrenrut commented on #9179
Ah, thanks for pointing that out @lukaszgo1

[2020-03-30 14:44] feerrenrut commented on #10915
@Neurrone Could you please test with Chrome and report back? Helpful to know if this is browser specific.

[2020-03-30 14:50] feerrenrut commented on #10916
I understand that the initial rationale for splitting this module no longer applies, but can you add to this the benefits to this refactor?

As with any refactor there is risk of breakage, or as already pointed out breaking backwards compatibility. The benefits have to outweigh this.

[2020-03-30 15:00] ruifontes commented on #6305
Reef Turner escreveu:

If a disabled add-on will be copied, it will automatically enabled in
secure windows?

If not, how do you enable it, if there are no access to Add-on manager?

Rui Fontes

[2020-03-30 15:01] Neurrone commented on #10915
Its not recognized as a table at all by Chrome 80.0.3987.149, and is recognized as a table in IE11 (with working table navigation).

[2020-03-30 15:07] feerrenrut commented on #6305
@ruifontes Good point. There are solutions to this but it will only complicate the initial implementation. For now ignore this goal.

[2020-03-30 15:19] feerrenrut commented on #10915
I'm not able to reproduce this with `Firefox 74.0 (64-bit)` and `NVDA alpha-19834,2cdf280b`
The table is recognized, moving by column / row works for me with `ctrl+alt+left / right / up / down`

It might be broken in Firefox beta.
@Neurrone Can you try Firefox stable to confirm?
FYI @jcsteh

Looking at the a11y tools in Chrome `80.0.3987.149 (Official Build)`, this table has a `LayoutTable` role.

[2020-03-30 16:02] parora2020 commented on #10880
Hi!
Here is a small sample report that was being read in Chrome and reading every field as "selected" . I have attached screenshot for your reference.
The saved html is read differently than when this report is actually read when generated within Cognos.  I am attaching the saved sample report for reference as well.

![NVDA issue](https://user-images.githubusercontent.com/62262677/77934096-997ff60

[2020-03-30 16:05] parora2020 commented on #10880
Hi ,
Here is a small sample report that was being read in Chrome and reading every field as "selected" . I have attached screenshot for your reference.
The saved html is read differently than when this report is actually read when generated within Cognos. I am attaching the saved sample report for reference as well.
[NVDA issue]<https://user-images.githubusercontent.com/62262677/77934096-997ff600-

[2020-03-30 16:32] isidorn commented on #10887
@joanmarie thanks a lot for your suggestion. However I tried setting back focus to the entry  while the popup is still visible (and has `aria-owns` on it) and it did not fix the issue. As soon as the focus is back at the entry the `ariaLabel` gets read. Note that I "move focus" by setting and removing `aria-activedescendant`.

[2020-03-30 16:48] josephsl commented on #10916
Hi, the biggest benefit to this move is module content consistency with other accessibility API’s: namely editing only one module would be sufficient rather than thinking about public interface versus implementation. Another benefit is code deduplication: debug flag from private UIA interface is imported by the public after all module contents are imported, so this flag is imported twice. Combined

[2020-03-30 18:10] burakyuksek commented on #10899
Hello,
So my configuration with the current synthesizer I'm using is rate 85 pitch 60. I cannot understand long text with those settings so I made a say all profile which sets the pitch and rate to 65. Being stuck with this profile means being stuck with those settings until next restart, or if I try changing the settings the say all profile is edited instead of default profile.
I think disabling

[2020-03-30 18:24] ruifontes commented on #10899
It have already happened to me...

Now, I can't reproduce...

I think I have cleaned something wrong in the profiles files...

Regards,

Rui

Às 19:10 de 30/03/2020, burakyuksek escreveu:

[2020-03-30 23:21] DalisonCPU commented on #10908
This problem also happens to me. When you press WINDOWS + R, type some text and use the right or left arrows, NVDA does not read anything. In order for him to be able to read, I need to walk using the shift.
not even in the browser works, even to send this comment.

[2020-03-30 23:37] DrSooom commented on #10912
@leonardder: [NVDA Alpha-19852](https://ci.appveyor.com/api/buildjobs/w9bawnorj5alkkbl/artifacts/output/nvda_snapshot_alpha-19852,c6b6904b.exe) already includes the new German 6-dot braille tables, which could solve this issue here (see the [Liblouis release notes for 3.13.0](http://liblouis.org/liblouis/2020/03/02/liblouis-release-3.13.0.html)), but they aren't available via the GUI. See [my comm

[2020-03-31 01:29] jcsteh commented on #10915
Chrome really shouldn't be treating this as a layout table, but it happens because the table has CSS display: inline-block. This is weird, but is becoming more common with modern responsive websites.

Firefox tries to handle this, but it seems it's not handling it correctly in this case, at least from 75 onwards. I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1626137

[2020-03-31 02:13] DrSooom commented on #10908
I can't reproduce this with [NVDA Alpha-19852](https://ci.appveyor.com/api/buildjobs/w9bawnorj5alkkbl/artifacts/output/nvda_snapshot_alpha-19852,c6b6904b.exe) (Installer-portable temp copy) on win7x64 with SAPI-4 IBM ViaVoice TTS (German) in the Run Dialog (Win+R), in Notepad and in a multiline textfield in Firefox 74.0x64. Windows and NVDA are also in German.

So please report your used synthesiz

[2020-03-31 02:45] zahra21 commented on #7243
Hi @michaelDCurran,
while this issues is closed, i am really curious that in which situations nvda 2017.2 cant navigate in excel 2003?
i tested with nvda 2017.2 several times and i could navigate in one excel file without problem!
however, i am not familiar with nvda coding and nvda log, and never read log.
but as i mentioned, i did not have issue when navigating in one file with excel 2003 using

[2020-03-31 03:40] jcsteh commented on #9656
You can switch to browse mode and press control+home then t to jump to the first table, which is the contact list. You can then read the contact list in browse mode.

There is no "accessible" indication of this focus. Messenger is not using DOM focus, aria-activedescendant or even aria-selected.

My guess is that Narrator scan mode is engaging when you press down arrow, similar to NVDA's "Automati

[2020-03-31 03:40] #9656 closed

[2020-03-31 03:46] jcsteh commented on #7646
Probably the same as #4903. In browse mode, space/enter is overridden to activate (which is a click for a checkbox).

[2020-03-31 03:49] DalisonCPU commented on #10908
My version is 2020.1beta1

-----Mensagem original-----
De: Daniel Mayr
Enviada em: Segunda, 30 de Março de 2020 19:13
Para: nvaccess/nvda
Cc: DalisonCPU; Manual
Assunto: Re: [nvaccess/nvda] NVDA does not speak individual characters whennavigating (#10908)

I can't reproduce this with [NVDA Alpha-19852](https://ci.appveyor.com/api/buildjobs/w9bawnorj5alkkbl/artifacts/output/nvda_snapshot_alpha-1985

[2020-03-31 04:07] jcsteh opened #10920 "Mouse tracking uses text interface even when name should be treated as content"
### Steps to reproduce:

1. In NVDA Settings -> Mouse, enable Mouse tracking and Report role when mouse enters object.
2. Open this URL in Firefox or Chrome:
    `data:text/html,<button aria-label="foo">&nbsp;</button>`
3. Move the mouse to the button.

### Actual behavior:
NVDA says just "button"

### Expected behavior:
NVDA should say "button  foo"

### System configuration
#### NVDA installed/p

[2020-03-31 04:17] beqabeqa473 commented on #10908
it can be because of speech history addon

On 3/31/20, DalisonCPU <notifications@github.com> wrote:

--
with best regards beqa

[2020-03-31 04:19] jcsteh commented on #10884
I don't believe a separate issue was filed, but it's described here: https://github.com/nvaccess/nvda/pull/9511#issuecomment-495099828
See also #9886.

[2020-03-31 04:22] DalisonCPU commented on #10908
It is true. Can't fix it?
-----Mensagem original-----
De: beqa gozalishvili
Enviada em: Segunda, 30 de Março de 2020 21:17
Para: nvaccess/nvda
Cc: DalisonCPU; Manual
Assunto: Re: [nvaccess/nvda] NVDA does not speak individual characters whennavigating (#10908)

it can be because of speech history addon

On 3/31/20, DalisonCPU <notifications@github.com> wrote:

--

with best regards beqa

--

You a

[2020-03-31 04:54] stickbear2015 commented on #10917
This also appears in the search edit field as well.
I switched to the beta, with the same results, and same with the build from source.

[2020-03-31 05:59] leonardder commented on #10888
This should be fixed for Code Insiders now. As soon as the april update of Code is there, we can revert

[2020-03-31 06:39] josephsl opened #10923 "User guide: update NVDA's system requirements"
### Is your feature request related to a problem? Please describe.
With NVDA supporting Windows 7 and later, user guide still refers to outdated system requirements. Notably, minimum memory is listed as 256 MB, but Windows 7 and later requires at least 1 GB on 32-bit systems and 2 GB on 64-bit platforms. Along with this, storage requirements will need to be updated to account for additions and add

[2020-03-31 07:04] josephsl opened #10924 "Flake8: ignore Python modules generated by third-party dependencies"
Hi,

The following affects future NVDA linting work:

### Background:
NVDA source code ships with Python modules generated by third parties. The most notable one is UIA module found in cominterfaces folder, which gets updated from time to time when Microsoft introduces UIA COM interfaces for use by assistive technologies. However, when these third-party generated modules are updated (see #10922 fo

[2020-03-31 07:04] josephsl commented on #10924
Blocks #10922

[2020-03-31 09:29] Adriani90 commented on #2797
In my view such a feature, if it is optional, it fits very well into screen reading basics. In fact it would be something like reading live regions. Obviously the screen reader should read the text that appears on the screen which is visible for a sighted person. So why not reading sub titles?
cc: @feerrenrut, @michaelDCurran would you accept a coresponding pull request for such a feature?

@vorte

[2020-03-31 09:40] Adriani90 commented on #9356
cc: @josephsl, @feerrenrut, @leonardder

[2020-03-31 10:10] feerrenrut commented on #10880
I'm not able to reproduce the issue you are describing. How are you interacting with the report? Which keys are you pressing? are you using the mouse? Could you upload the NVDA log after testing with chrome please?

Also please try with Firefox.

[2020-03-31 10:17] feerrenrut commented on #10880
This looks like it is a duplicate of #10447. This issue is active, it would be good to get more information.

@parora2020 Are you using a portable version of NVDA?

[2020-03-31 10:31] feerrenrut opened #10925 "Error with table grid sample in Chrome"
While investigating another issue with Chrome I noticed NVDA errors when navigating a table with `role=grid`

### Steps to reproduce:
1. In Chrome open the following `role=grid` sample:
https://gist.github.com/feerrenrut/f6ed87b8758243c1d454d75b72179844
1. Navigate with tab to the table.

### Actual behavior:
Error sound, log:

[code]

### Expected behavior:
No error sound. Not sure if speech shou

[2020-03-31 12:11] k-kolev1985 commented on #10459
I don't know if the bug is the same or just a similar one, but mouse tracking is not working again in the Chromium-based Microsoft Edge. When I point the mouse cursor over the page content, NVDA says only "pane" and nothing else. I even tried with Native UI Automation disabled, but the result is the same. Also tried with add-ons disabled - same result.

Test environment:
- Operating system: Window

[2020-03-31 12:30] parora2020 commented on #10880
Using installed version of NVDA (not portable)
I will not be able to test with firefox due to restrictions to download at workplace.

[2020-03-31 12:53] feerrenrut commented on #10916
One benefit from having a private module is that we can change the private interface without breaking compatibility. Generally I wouldn't want to refactor code unless it is already being modified for some other purpose.

[2020-03-31 13:05] feerrenrut commented on #7243
@zahra21 This issue was fixed in 2017.3, perhaps the problem does not affect the specific version of office that you have.

[2020-03-31 13:21] feerrenrut commented on #10923
Since NVDA itself does not have these requirements, it might be more sensible to remove this. Any system that Windows 7 or later runs on has the minimum requirements.

[2020-03-31 13:23] Neurrone commented on #10915
Thanks a lot @MarcoZehe for the quick fix. This will land with Firefox 75.

[2020-03-31 13:43] feerrenrut commented on #2797
I think it depends on the implementation, and whether it will make maintenance harder. @vortex1024 maybe you can give us an overview of the approach?

[2020-03-31 13:51] MarcoZehe commented on #10915
Yes, it was approved, and even landed on 75 for C1 before actually being merged into Central from Autoland. :-) Sorry for the temporary breakage! This issue can be closed.

[2020-03-31 13:52] #10915 closed

[2020-03-31 13:54] zahra21 commented on #7243
thanks for replying me.
in nvda 2017.3 in bug fixes,
i read that:
• In Microsoft Excel 2003 and 2007, cells are again reported when arrowing around a worksheet. (#7243)
but i tested in excel 2003 and could navigate between cells of one excel file.
i really wish to know, what issue was when i did not experienced it in excel 2003?!
i did not have 2007 to test. where can i download it?
i really love

[2020-03-31 13:55] Neurrone commented on #10915
Actually, I know this issue also happens in Chrome although the title says Firefox (since that's my main browser).

Should I open another one specifically for Chrome?

[2020-03-31 14:09] zahra21 commented on #7243
i did not test log when testing nvda 2017.2 with excel 2003.
but navigation between cells worked without issue for me.
which new code, feature, or bug fixed, in nvda 2017.2, caused issue for some users of excel 2003 which i did not experience and i am very curious to know the fact?
in testing one excel file with nvda 2017.1, 2017.2, and 2017.3, i did not observe any difference for navigation betwe

[2020-03-31 14:11] feerrenrut commented on #10915
Please do @Neurrone, can you refer to the comment from JcsTeh above. It has some insight into what the problem might be in chrome.

[2020-03-31 14:53] vortex1024 commented on #2797
Sure. basically, what I'm doing is I run the win 10 OCR in a while loop, in a separate thread, with a configured sleeping interval. The area to scan can be   full screen, focus, foreground or navigator object. IN full screen, I added options to percentually crop zones from the screen, both to make recognition faster and easier, and to remove certain bits of the screen to be recognised, such as the

[2020-03-31 16:16] parora2020 commented on #10880
Here is log file from today. The laptop was restarted today morning and cannot find previous log file.
[nvda.log](https://github.com/nvaccess/nvda/files/4410263/nvda.log)

[2020-03-31 16:45] josephsl commented on #10916
Hi, true. Note however that in case of UIA handler, since the public module imports everything from the private module, it becomes public (which can be argued for all Python modules as even private variables (apart from mangled ones) can be used and modified). @MIchaelDCurran, any thoughts, since you re the one who split UIA handler?

From: Reef Turner <notifications@github.com>
Sent: Tuesday, Mar

[2020-03-31 16:45] ondrosik opened #10926 "Capital pitch change doesn't work with sapi4 synthesizers"
On recent versions of NVDA, it is not possible to use this setting. The pitch of voice doesn't change when using sapi4 synthesyzers during spelling while typing or reading by character. I tested with Wintalker voice 1.6, but many users report to me that it doesn't work also with voice called Hlas. Both are still popular in Czech and Slovak republic. Say "cap" or beep works fine. Here is the log wh

[2020-03-31 18:31] parora2020 commented on #10880
Arrow keys are being used to navigate the table. No, mouse is not used.

[2020-03-31 21:15] OzancanKaratas commented on #2797
I think we should write a handler for the subtitle files. It finds the subtitles in the videos using the video time. I think that the OCR operation will damage the content of subtitles.

It can also be considered to write a kernel mode driver such as video intercept.

[2020-03-31 23:44] DrSooom commented on #10926
Duplicate of issue #10896.

[2020-03-31 23:52] DrSooom commented on #10923
See also: Issue #9967

[2020-03-31 23:54] josephsl commented on #10923
Hi, I think Reef is right in that it is time to remove memory requirement text from user guide. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, March 31, 2020 4:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] User guide: update NVDA's system requirements (#10923)

See

[2020-04-01 00:05] DrSooom commented on #10923
I agree – RAM and CPU can be omitted. But the free storage space must be updated to – let's say for now – 128 MB. Okay, if you have less than 128 MB of free storage, then you have tons of other problems. 😉

[2020-04-01 00:13] josephsl commented on #10923
Hi, let’s say 100 to 120 MB to make life easier for people. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, March 31, 2020 5:05 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] User guide: update NVDA's system requirements (#10923)

I agree – RAM and CPU can be omitted. Bu

[2020-04-01 00:23] DrSooom commented on #10923
The NVDA Alpha-19852 Installer archive size is 117.91 MB. Therefore I suggest 130 MB. That should be enough for the next two years. (Personally I like 2^n numbers quite a lot.)

[2020-04-01 00:31] josephsl commented on #10923
Hi, with a caveat that more disk space will be required if installing add-ons. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, March 31, 2020 5:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] User guide: update NVDA's system requirements (#10923)

The NVDA Alpha-19852

[2020-04-01 00:49] DrSooom commented on #10923
That's fully correct. But this should be handled during solving the issues #2467, #9020 and #9967.

[2020-04-01 01:25] compulim commented on #10866
I think this bug is unrelated to #8044.

When we test it with Chrome 76 (July 2019), everything works. Only changed portions of ARIA live region get narrated. We download Chrome via https://chromium.cypress.io/.

But when we test it with Chrome 80 (March 2020), ARIA live region repeat the entire region.

[2020-04-01 06:25] k-kolev1985 commented on #10459
Never mind my last comment - it is fixed now. I see that there was an update to Microsoft Edge Canary today - that one probably contained the fix. Well, that is the risk of running test versions of programs I guess... 😀

[2020-04-01 06:43] gdata1 commented on #10459
on some sites, I have a serious problem navigating with a mouse in the new edge of all versions. even Canary. For example. the site www.vk.com very poorly accessible with the mouse.

[2020-04-01 11:19] feerrenrut commented on #10880
The log file is only at level INFO, if possible please upload a Debug level log (can be changed on the general settings panel). However the log uploaded contains the following error which is a good starting point. It is the same as the error in #10925
[code]

[2020-04-01 11:21] feerrenrut commented on #10926
Closing as duplicate of #10896

[2020-04-01 11:21] #10926 closed

[2020-04-01 11:25] feerrenrut commented on #10923
That all sounds reasonable. Specify: "130 MB storage* More for add-ons" @josephsl could you update the issue description please?

[2020-04-01 11:27] Neurrone opened #10927 "Table navigation does not work for tables with `display: block` in Chrome"
CC @feerrenrut

Originally reported in #10915

### Steps to reproduce:

1. Go to this page in Chrome: `data:text/html,<table style="display: block;"><tr><th>a</th><td>b</td></tr></table>`

### Actual behavior:
The table is not recognized as such, and table navigation doesn't work

Note:
Looking at the a11y tools in Chrome 80.0.3987.149 (Official Build), this table has a `LayoutTable` role.
This ha

[2020-04-01 11:33] feerrenrut commented on #10866
While this is related to #8044 there is a key difference in the samples. This one specifies `aria-atomic=false` and appends some text. In #8044 `aria-atomic=true` is used, and the contents of the live region is replaced.

[2020-04-01 11:37] feerrenrut commented on #10866
@SamRocK1030 Have you tested this sample with Firefox? It's quite helpful for us to know if the behavior differs.

[2020-04-01 11:39] feerrenrut commented on #10459
@k-kolev1985 Are you saying that this issue is resolved and we can close it?

[2020-04-01 12:37] feerrenrut opened #10928 "Failing the `checkPot` step should be more obvious."
### Is your feature request related to a problem? Please describe.
When the `checkPot` step fails it is not obvious leading to wasted time trying to find the error:
- When building the pot files all of the files checked are output to the command line, this can hide the following test failure.
- On Appveyor no message is presented on a PR and the build stops. The console output must be inspected to

[2020-04-01 13:08] k-kolev1985 commented on #10459
@feerrenrut Yes, the problem is fixed (at least for now). Let's hope it stays that way. 😀 You can close the bug.

[2020-04-01 13:25] #10459 closed

[2020-04-01 13:58] SamRocK1030 commented on #10866
This sample behaves as expected in Firefox. I tested in version 74.0 and only the changed portions of the ARIA-live region get announced.

[2020-04-01 16:36] feerrenrut commented on #8044
I can't reproduce this issue with `Google Chrome 80.0.3987.162` or `Firefox 74.0 (64-bit)` and the following sample:

[code]

@ladipro Perhaps this is fixed, or my approach is different from what you intended?

[2020-04-01 16:42] feerrenrut commented on #10866
I get the same behavior with Google Chrome 80.0.3987.162 or Firefox 74.0 (64-bit) and the following sample:

[code]

The speech from NVDA when pressing "append text" is "Old Text New Text"

@SamRocK1030 does my testing approach match what you intended?

[2020-04-01 22:56] xingkong0113 opened #10930 "IE8N: Unified NVDA.po generation method and character processing"
Currently, the NVDA.po generated by svn translation and the NVDA.po generated by visual studio are found to have differences in characters during the test.
With my testing in Simplified Chinese, I found that some translation entries will report errors in NVDA.po in svn, such as the following string:
{symbol} as in {description} ID: 1366
and
{number} {candidate} ID: 1367
And using the locally gener

[2020-04-01 22:56] SamRocK1030 commented on #10866
@feerrenrut That approach matches the minimal test case that I had in mind.

Admittedly, the production code that I used to test in both browsers is more complicated (_Using react to update the DOM_).

I made the following codepen which exhibits the behavior I had originally seen in Chrome vs. Firefox:
https://codepen.io/SamrockAran/pen/mdJgVYL

[2020-04-02 03:48] josephsl opened #10931 "Regression: traceback when NVDA+F is pressed while reading browse mode documents"
Hi,

Traced to a regression: after #10919 came to master branch, NVDA+F command raises KeyError exception.

### Steps to reproduce:

1. Install recent alpha snapshots.
2. Open a web browser such as Edge 80 or Firefox 74.
3. Press NVDA+F while a website is open.

### Actual behavior:
Traceback is printed.

### Expected behavior:
No errors.

### System configuration
#### NVDA installed/portable/runn

[2020-04-02 06:19] josephsl opened #10933 "Python 3.9 readiness: check for and mitigate deprecation warnings and code removal"
Hi,

To serve as a portal to related issues. As such, any pull requests stemming from discussion below should address specific, concrete issues.

### Background
Python 3.9, scheduled for October 2020 release, plans to drop old remains of Python 2.x, given that Python 2.7 is now part of history. To help developers with this endeavor, older Python 3 releases (including 3.7) emits deprecation warning

[2020-04-02 06:24] codeofdusk commented on #10618
I can reproduce this in the 1909 console with UIA enabled, but not in Open Console, so it seems that Microsoft's native UIA word navigation fixes this issue.

[2020-04-02 06:27] codeofdusk commented on #10618
I don't currently have a Braille display with me, but I'd imagine this issue is fixed with end exclusive text ranges in the console (i.e. microsoft/terminal#4018).

[2020-04-02 07:03] Brian1Gaff commented on #10933
Does this new version of Python 3 offer any concrete improvements for nvda
over the current python 3 version in use?
 I seem to recall a question like this being raised during the Python 2.x
life span.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blin

[2020-04-02 07:16] josephsl commented on #10933
Hi, Python 3.9 includes changes from 3.8, which may benefit NVDA in the long term.

From: Brian Gaff <notifications@github.com>
Sent: Thursday, April 2, 2020 12:04 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3.9 readiness: check for and mitigate deprecation warnings and code remova

[2020-04-02 08:38] feerrenrut commented on #10866
I also see a difference between firefox and chrome with your codepen link. I can now replicate this without jquery now, the difference from the other sample in which I tried assigning `innerText` and `innerHTML` and this sample explicitly adding a child node. I guess this has to do with how the browsers keep track of the changes in an aria region.

[code]

[2020-04-02 11:08] #10924 closed

[2020-04-02 11:34] feerrenrut commented on #10933
We may consider upping the python version with  the 2021.1 release. In the mean time I believe we already get deprecation warning for things that are removed in python 3.8. These should be addressed first. Since the differences between versions are much more minor than the 2 to 3 update we should be able to have NVDA working across both versions way in advance. We probably will target 3.8 rather t

[2020-04-02 11:47] dingpengyu commented on #10933
hi @josephsl
python3.9 Is there a significant increase in operating speed?

[2020-04-02 16:32] akalaiva commented on #6291
Hello,
I find this same issue when a large content is inserted to a HTML text area.
Is this issue tracked else where? Or should that be fixed with this issue.

[2020-04-02 16:45] akalaiva commented on #4669
I notice this same issue with a long string of text or large content inserted into a div.

[2020-04-02 17:44] josephsl commented on #10933
Hi, as for that, we shall see in the future. Thanks.

From: eric <notifications@github.com>
Sent: Thursday, April 2, 2020 4:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3.9 readiness: check for and mitigate deprecation warnings and code removal (#10933)

hi @josephsl <https://g

[2020-04-02 17:45] josephsl commented on #10933
Hi, I think we can do that first – when I run source code copy with -Werror flag, there are invalid escape sequence issues in some files (backslash W, for instance). Eventually we should also address deprecation of Yield function in wxPython. Thanks.

From: Reef Turner <notifications@github.com>
Sent: Thursday, April 2, 2020 4:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <josep

[2020-04-02 19:07] bbudd commented on #6457
Hi all,

We've run across this same issue, but for us it seems to be that we have a React app (dynamic content) which loads an iframe which also hosts a React app (more dynamic content which only loads once the top level dynamic content is finished loading), which attempts to take focus once it's rendered. We have a lot of asynchronous stuff that happens in other places in the top level, causing d

[2020-04-03 03:34] gregjozk commented on #10899
Hello,

to me it happens everywhere there is no text to read like taskbar, buttons etc. and when it happens, it does not automatically switch to default profile.
my work around to restore default behaveour in this case:
- open configuuration profile
- go to default profile
- disable all triggers
- press enter to close a configuration profiles dialog
- reopen a configuration profiles dialog
- reena

[2020-04-03 09:54] alexarnaud opened #10935 "When clicking on a page to move the focus on a line NVDA doesn't follow it"
### Is your feature request related to a problem? Please describe.
Yes, without this feature added I can't recommend NVDA to low-vision users.

### Describe the solution you'd like
When a user click on a line on a web page it moves the caret on the line where he has clicked on. NVDA like the Orca sreen reader on Linux should be able to positioned the reading on line where the caret is.

### Descri

[2020-04-03 10:23] #10931 closed

[2020-04-03 10:58] nishimotz opened #10936 "Excel Find and Replace dialog raises error when Japanese characters are typed"
### Steps to reproduce:

- run NVDA and Microsoft Excel
- open blank book (Book1)
- type Ctrl+F to open Find and Replace dialog
- make sure focus is at the edit control
- enable Microsoft Japanese IME
- type ideogragaphic (Kanji) characters such as "日本語"

### Actual behavior:

- no error occured

### Expected behavior:

- error (with sound) occurs as follows

[code]

### System configuration
####

[2020-04-03 11:43] feerrenrut commented on #10933
I'd be happy to take PR's for these. Though please implement and test them independently, it's much easier to ensure a set of small changes is tested well than it is for a single large change. It's also easier to revert small change sets if they cause a problem.

[2020-04-03 11:43] VantageKR opened #10937 "Eclipse Tree Control no longer accessible"
### Steps to reproduce:

1. Run NVDA 2019.3.
1. Open up any community version of DBeaver (https://dbeaver.io) - the most recent is version 7.1.
1. Connect to a database.
1. Issue a query that would fail - something like "SSELECT 1;" - any query really that would not succeed for any reason.
1. Open up the Error Log: Alt + Shift + Q, l.
1. Tab to the tree view that usually holds the errors, and is e

[2020-04-03 11:56] #6344 closed

[2020-04-03 11:56] #6741 closed

[2020-04-03 12:05] lukaszgo1 commented on #10937
@VantageKR Could you please test this with NVDA 2019.2.1 to establish if it is regression in NVDA or in Eclipse?

[2020-04-03 12:09] feerrenrut commented on #10936
@nishimotz Does this causes any noticeable degradation in behavior or just the error sound?

[2020-04-03 12:30] nishimotz commented on #10936
While in the edit control, characters should be announced when the left/right arrow keys are pressed.
When this error occurs, the announcements of multi-byte characters can not be heard, so it is difficult to type or confirm such characters.

[2020-04-03 12:36] nishimotz commented on #10936
If error sound is suppressed in release build, can it be used normally?
I think the caret move announcements are missing when this error occurs.

[2020-04-03 12:38] feerrenrut commented on #10936
@nishimotz, yes it sounds like this will cause problems in the release. Depending on the complexity of a fix, it might be too late to do something about this, it may have to wait for the 2020.2 release.

[2020-04-03 13:03] lukaszgo1 commented on #10936
@nishimotz Would you be able to bisect this perhaps?

[2020-04-03 13:44] feerrenrut commented on #10936
I would start by seeing how the behavior changes when checking if `objLocation` is None and raising a `RuntimeError` in `displayModel.EditableTextDisplayModelTextInfo._getCaretOffset`

It would be good to understand what the exact type is for `self.obj` and why it's call to `def _get_location fails`

[2020-04-03 15:32] josephsl commented on #10933
Hi, will do (note that an upcoming issue/PR pair will concern configobj). Thanks.

From: Reef Turner <notifications@github.com>
Sent: Friday, April 3, 2020 4:43 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3.9 readiness: check for and mitigate deprecation warnings and code removal

[2020-04-04 05:31] josephsl opened #10939 "Update configobj to 5.1.0dev commit f9a265c4"
Hi,

For future Python compatibility:

### Background:
As part of #4470, configobj was updated to a 5.1.0dev commit. Since Python 3 transition preparation was in the works then, there has not been any test done to make sure configobj is ready for newer Python 3 releases. In 2020, things have changed, with NVDA running on Python 3.7 and configobj has been updated to provide better support for Pytho

[2020-04-04 05:33] josephsl commented on #10939
Hi,

Note that this will affect validate module as well.

Thanks.

[2020-04-04 13:43] lukaszgo1 opened #10940 "eSpeak fails to announce capital letters when pitch is set to 0"
### Steps to reproduce:
1. Switch to eSpeak
2. Enable "Say 'cap' before capitals"
3. Ensure that "capital pitch change percentage" is set to value different than 0
4. Set  pitch to 0
5. Try to read character by character "aA"

### Actual behavior:
When encountering capital letter the error sound is played and the following is in the log:
error executing script: <bound method EditableText.script_ca

[2020-04-04 14:39] leonardder commented on #10940
Did this work on Python 2 versions of NVDA? I guess this applies to almost every synthesizer.

[2020-04-04 14:40] leonardder commented on #10940
Marking this p3, as it is unlikely that one would feel very comfortable with having synthesizer pitch at 0. Having said that, it should be pretty easy to fix.

[2020-04-04 16:23] leonardder commented on #10933
I agree with @feerrenrut that we're probably better to target Python 3.8, as it is unlikely that all our dependencies are 3.9 ready when 2021.1 is planned. Also agree that work on this wouldn't hurt us.

[2020-04-04 16:32] josephsl commented on #10383
Blocks #10933

[2020-04-04 19:40] Adriani90 commented on #6427
This could also happen if a blind person starts NVDA without knowing the current volume of the sound card. So in my view this concern is not really valid for automatically unmute the sound card.
Related issue: #3049 where we discuss this in more detail.

[2020-04-05 00:01] codeofdusk commented on #10618
This is upstream issue microsoft/terminal#3976.

[2020-04-05 05:00] codeofdusk opened #10942 "Terminal programs: "speak typed words" provides incorrect results in some cases when "report dynamic content changes" is disabled"
### Steps to reproduce:
1. Disable "report dynamic content changes" (NVDA+5) and enable "speak typed words" (NVDA+3).
2. Open a Windows Console, UIA or legacy using the new typed character support.
3. In a git repository, type `git log`.
4. Press q to close the pager.
5. Type "git" and press space.

### Actual behaviour:
NVDA says "qgit".

### Expected behaviour:
NVDA says "git".

### System confi

[2020-04-05 08:18] Brian1Gaff commented on #10940
Maybe limit all to 1 grin.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.g

[2020-04-05 08:50] zahra21 commented on #1229
Hi.
today, i found this bug and since someone reproduced it on windows xp which i use, i tried the mentioned steps to reproduction in the description.
but, i really could not reproduce it on windows xp service pack 3, with nvda 2017.3 and espeak 1.49.1
i tested three times,
and i am really glad that this issue does not occur for me!

[2020-04-05 13:40] zahra21 commented on #6432
hi.
about combo buxes, i want to explain my observations.
not sure, whether its the issue which Elshara reproduced or not.
in complex web pages, when javascript is enabled, (most of times i disable javascript and cant interact with combo boxes),
i observed that nvda goes to the focus mode and some combo boxes are activate by default,
and whenever i want to use brows mode again, and pressing arrow

[2020-04-05 14:23] zahra21 commented on #7860
hi.
i confirm this behaviour in old versions of firefox.
i tested especially with nvda 2017.3
but if i remember correctly, in 2017.2 too maybe.
when i open most websites in firefox 45, nvda says list instead of the title of the web page or  website!
in this case, nvda is in brows mode by unfortunately!
i press alt tab to go to another program and return to firefox again to read the title of that p

[2020-04-05 16:06] Adriani90 commented on #2797
There is a discussion on the lion addon also here:
https://forum.audiogames.net/topic/33489/lion-nvda-universal-subtitle-reader-and-more/

@vortex1024 gets lot of positive user feedback for this addon, and there came up several use cases for this addon:
1. In movies with subtitles on Youtube, netflix, VLC Mediaplayer etc. Very useful also for blind deaf people and people watching movies and docume

[2020-04-05 16:10] Adriani90 commented on #2797
The first beta version of this addon is here:
http://vortex.go.ro/api/download/get/1

@vortex1024 if you could upload it to your github file along with your source code files, we could have a better impression on how the addon works.
Thanks for your great work sofar.

[2020-04-05 20:34] BarryJRowe commented on #5638
This feature would be very useful in my case.  I'm making a service that parses a game screen and outputs a description of where the player is and what's around them (for example: west wall, north town).  This is done continuously, so the service needs to know if NVDA has finished speaking what was sent to it before sending the updated game screen.

[2020-04-05 21:07] CyrilleB79 commented on #9514
Hello
Re-opening this issue as this has been seen on NVDA2019.3 and communicated on nvda-devel mailing-list. See [this link](https://nvda-addons.groups.io/g/nvda-addons/message/12036).
Jan, please feel free to comment.

[2020-04-05 23:57] johnykulik4025 commented on #9514
We will see if it will have such behavior in the new version 2020.1. I doubt it will.

[2020-04-06 00:44] jcsteh commented on #7897
Also occurs in Firefox for scrollable regions, since scrollable regions are focusable in Firefox so that non-screen reader keyboard users can scroll them. (Chrome doesn't do this.) For example, this happens on the NV Access website. Distilled test case:
`data:text/html,<div style="overflow: auto; height: 20px;"><h1>a</h1><button>b</button><h2>c</h2><button>d</button></div>`

[2020-04-06 01:03] #10305 closed

[2020-04-06 01:17] codeofdusk commented on #10942
This was *not* resolved in the Windows Terminal PR, could this please be reopened?

[2020-04-06 01:56] codeofdusk commented on #10600
@mehgcap Could you please test if the issue is reproducible under the following conditions? I'd like to re-enable the new console support under the 2021 version of Windows 10 as Microsoft has made a lot of improvements.

1. Run [the latest alpha snapshot](http://nvda-project.org/snapshots).
2. Download OpenConsole [here](https://github.com/nvaccess/nvda/files/4432945/CascadiaPackage_4f8acb4_x64.zi

[2020-04-06 06:30] DrSooom commented on #9514
Here is the link for [NVDA 2020.1 Beta 1](https://ci.appveyor.com/api/buildjobs/7tih7jg3w06cyqn0/artifacts/output/nvda_2020.1beta1.exe) if you wanna test it.

[2020-04-06 06:40] CyrilleB79 commented on #9514
Since the issue occurs sporadically, I recommand not closing this issue even if it is not reproduced with 2020.1. At the time, I have  accepted to close it after 2019.3 migration since this release had a lot of changes including Python3 transition. In 2020.1 there is nothing in release notes that would let think that this issue has been resolved.
I would recommand to track each occurrence of this

[2020-04-06 06:44] Qchristensen commented on #8400
I have found my original correspondence with Paweł Masarczyk, who reported this to me - I've asked him to check and advise if it is still occurring in 2019.3.1

[2020-04-06 10:35] ladipro commented on #8044
Apologies for the delay, I am not involved with the project where this issue was discovered anymore.

The issue indeed appears to be fixed, confirming no repro in this environment:

Chrome version 80.0.3987.149 (Official Build) (64-bit)
NVDA version 2019.3.1

[2020-04-06 11:49] feerrenrut commented on #8044
Great, thanks for confirming @ladipro

[2020-04-06 11:49] #8044 closed

[2020-04-06 12:27] burakyuksek opened #10945 "Winamp support: NVDA doesn't detect the status of shuffle and repeat modes"
### Steps to reproduce:
1. Start winamp
2. Press r or s toggle shuffle or repeat
3. NVDA will say "off" every time you toggle those modes
### Actual behavior:
NVDA will say "off" every time you toggle those modes
##
### Expected behavior:
NVDA needs to state if setting is on or off.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
2019.3.1
###

[2020-04-06 13:39] nishimotz commented on #10936
I am checking again, but it doesn't seem to be a regression.
Now I can see the similar issue with 2019.2.1.

[2020-04-06 16:03] CyrilleB79 opened #10946 "Sometimes SayAll does not resume when pressing shift again"
### Steps to reproduce:

Steps for a stress test since this issue appears only sporadically:

* Select eSpeak synth
* Open a webpage
* Select rate=100% and rate boost on, e.g. with synth ring
* Start reading with SayAll (NVDA+DownArrow)
* During SayAll press as fast as possible many times the shift key to pause and resume SayAll

### Actual behavior:

After max 20-30 seconds pressing pausing and r

[2020-04-06 16:05] CyrilleB79 commented on #10946
Adding the log:
[LogSayAllDoesNotResume.txt](https://github.com/nvaccess/nvda/files/4439528/LogSayAllDoesNotResume.txt)

[2020-04-06 16:59] josephsl commented on #10945
Hi, caused by calling ANSI version of GetWindow function – needed to use W (Unicode version). PR on its way – thanks for catching this.

From: burakyuksek <notifications@github.com>
Sent: Monday, April 6, 2020 5:28 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Winamp support: NVDA doesn't detect the status of shuffle and repe

[2020-04-07 03:16] Qchristensen opened #10949 "Report when a slide is hidden in PowerPoint"
### Steps to reproduce:
In PowerPoint you can "hide" a slide so it is not shown when running a slideshow but still appears when editing.

.  To do this, choose a slide to hide in a presentation and press alt+s, h.

1) Create a slideshow with three slides.  Imaginatively add the title "Un", "Deux" and "Trois" (I'll let you decide which order to put them).
2) Press page up to move to the middle slid

[2020-04-07 04:46] #10945 closed

[2020-04-07 09:36] #10939 closed

[2020-04-07 09:58] ivnc opened #10950 "Word 2019 last version duplicates NVDA attribute change notification when formatting text through keystrokes"
Reproduced by many Spanish-speaking users, including me.

### Steps to reproduce:

1. Open a Microsoft Office Word document.
2. (Optional)Type any text.
3. Execute font attributes keystrokes (in Spanish, Control+N/S/K/etc.).

### Actual behavior:

NVDA starts announcing the change in the configured language but Word sends a notification with the attribute name in English and localized status inter

[2020-04-07 12:45] parora2020 commented on #10880
Debug level log uploaded
[nvda.log](https://github.com/nvaccess/nvda/files/4444311/nvda.log)

[2020-04-07 13:21] florianionascu7 opened #10951 "The "Number" symbol is not corectly read when NVDA's display language is set to Romanian"
When pressing Shift+3, NVDA will say "number" instead of "diez", as the symbol name is translated into Romanian. This issue wasn't in NVDA 2019.2.1 and older, it's present in NVDA 2019.3, 2019.3.1 and 2020.1 beta 1.
Note: The keystroke I mentioned earlier applies to keyboard layouts such as Romanian (Standard), English (United States) and Spanish (Mexico).
### Steps to reproduce:
1. Set NVDA's dis

[2020-04-07 13:40] lukaszgo1 commented on #10951
It is a mistake in Romanian symbols.dic. As hash is used to indicate commends it has to be escaped with `\` not to be threated as such.

[2020-04-07 15:29] jacobchawala opened #10952 "NVDA stops responding in tables with many rows"
The table has two columns and 1685 rows full of both English and Swahili words. When navigating to the table using down arrow, NVDA remains quiet. after sometimes, it says not responding.
### Steps to reproduce:
1. press windows key
2. press tab once to reach the navigation list
3. press down arrow several times to reach the document folder
4. press enter to open the document folder
5. press down

[2020-04-07 15:51] florianionascu7 commented on #10951
Hello! Thanks a lot, I didn't knew that. I'll perform a commit containing the fix for this issue.

[2020-04-07 15:51] #10951 closed

[2020-04-07 17:14] anbauman commented on #9421
@jcsteh has there been any update to this issue?

I think I'm still seeing issues with focus mode enabeling for listitems wich contain elements. NVDA 2019.3.1

[2020-04-07 17:17] josephsl commented on #10950
Hi, if the notification text is grammatically incorrect, chances are that Microsoft Office team is using AI-based translation services (I know that Windows Insiders can report translation issues to Microsoft). I’ll generate an add-on snapshot to resolve this (technical: AccSN1 is activity ID to be aware of). Thanks.

From: Iván Novegil <notifications@github.com>
Sent: Tuesday, April 7, 2020 2:59 A

[2020-04-07 17:33] elliott94 opened #10953 "Outlook 2016: Autocomplete Suggestions not automatically announced"
### Steps to reproduce:

1. Open a new message, and begin typing an email address that's already present in Outlook's Autocomplete list; an easy way to ensure that this is the case is to send at least one email to the address, at which time it should then automatically be cached by Outlook for future use

2. When the first several letters of the email address have been typed into the "To..." edit

[2020-04-07 17:35] josephsl commented on #10950
Hi,

Windows 10 App Essentials April 7th development snapshot (to be released as version 20.04.1 to stable channel subscribers this week) resolves this. I'll do something about doing it from NVDA side of things also.

Technical: yes, another activity ID to be aware of. In the short term, adding activity ID's would be enough. In the long term, it might be time to revisit announcements of editing fu

[2020-04-07 17:37] leonardder opened #10954 "Logon screen instance synthesizer initialisation fails intermittently"
### Steps to reproduce:
1. Enable NVDA at the logon screen
2. Set the system profile synthesizer to ESpeak
3. Restart the system

### Actual behavior:
No speech at the logon screen. I have to press NVDA+Ctrl+s, press e for ESpeak and enter to get speech back.

### Expected behavior:
Speech at the logon screen as normal.

### Additional thoughts
1. I think this issue might only occur on pretty rapi

[2020-04-07 17:40] josephsl commented on #10953
Hi, it already does for me. I’m curious to know if this is a regression in either Outlook or NVDA. Thanks.

From: elliott94 <notifications@github.com>
Sent: Tuesday, April 7, 2020 10:36 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Outlook 2016: Autocomplete Suggestions not automatically announced (#10953)

Steps to reproduce

[2020-04-07 17:50] OzancanKaratas opened #10955 "Remove CLDR from the submodules"
### Steps to reproduce:
CLDR files should be updated manually.
### Actual behavior:
Submodule repository is not always updated.
### Expected behavior:
NVDA's CLDR repository should be always updated. We should not rely on third-parties.
CC: @feerrenrut, @josephsl

[2020-04-07 17:54] lukaszgo1 commented on #10953
Duplicate of #8502 @josephsl I believe you're using  Office 365 not 2016 which makes a difference in this case.

[2020-04-07 17:55] josephsl commented on #10955
Actually, CC @LeonardDer

From: Ozancan Karataş <notifications@github.com>
Sent: Tuesday, April 7, 2020 10:50 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: [nvaccess/nvda] Remove CLDR from the submodules (#10955)

Steps to reproduce:

CLDR files should be updated manually.

Actual behavior:

Submodule reposi

[2020-04-07 18:05] josephsl commented on #10953
Hi, ah, that explains why. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Tuesday, April 7, 2020 10:55 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook 2016: Autocomplete Suggestions not automatically announced (#10953)

Duplicate of #8502 <https://github.com/nvaccess

[2020-04-07 18:06] josephsl commented on #10953
Closing as a duplicate. Please comment on issue #8502. Thanks.

[2020-04-07 18:06] #10953 closed

[2020-04-07 18:47] josephsl opened #10956 "Allow "report notifications" to toggle UIA notification announcements"
Hi,

A more generic request (see #10626 for specifics):

### Is your feature request related to a problem? Please describe.
IN Windows 10 Version 1709/IUIAutomation5, UIA notification event was introduced to let screen readers such as NVDA and Narrator announce useful information. This is used in various apps, including:

* File Explorer: volume and brightness changes
* Microsoft Edge (classic and

[2020-04-07 19:15] britechguy opened #10957 "NVDA not reading Thunderbird Add-Ons menu items (Add-on names)"
### Steps to reproduce:
Open Thunderbird
Use ALT+T,O to open the Tools Menu, Add-on Options item
Hit Enter to get list of installed add ons.
Down arrow through add-ons list and NVDA is silent, not reading the add-on name

NOTE:  This behavior is not 100% consistent, when trying again just now, with only two add-ons, Quick Folder Key Navigation, and TbSync, on one try it read the first and not the

[2020-04-07 19:21] Adriani90 commented on #10957
Please run the com registration fixing tool and then try to reproduce again

[2020-04-07 21:04] britechguy commented on #10957
Ran the COM Registration Fixing Tool and restarted my computer.

All appears to be working fine now.  I'm actually surprised, and pleasantly, as when I've needed to run that tool in the past there was a lot more "out of whack" with NVDA.  I'll remember to give it a shot in the future with more subtle issues first, before submitting an issue.

By the way, is the issue template available in some for

[2020-04-08 00:05] Qchristensen opened #10958 "User Guide: Provide link to Python Regular Expression HowTo in section 12.2.1. Speech dictionaries"
### Is your feature request related to a problem? Please describe.

Section 12.2.1. Speech dictionaries of the User Guide notes the ability to use regular expressions in dictionary rules.  It states:

This is true, however different Regex engines work slightly differently from each other.

### Describe the solution you'd like

The user guide should link to the Regular Expression howto document for

[2020-04-08 00:13] Qchristensen opened #10959 "User Guide: Clarification of Whole word radio button in 12.2.1. Speech dictionaries"
### Is your feature request related to a problem? Please describe.

Current text reads:
[code]

The meaning can be slightly unclear here.

### Describe the solution you'd like

Suggested wording from user Damien Garwood:

[code]

### Describe alternatives you've considered

### Additional context

[2020-04-08 06:14] leonardder commented on #10955
Including the CLDR data as a submodule is on purpose. As soon as the source repository is updated, updating our cldr data is as easy as updating the reference to the submodule. I don't see any reason to change this, other than the source repository we're using not being updated as soon as new CLDR data arrives, but in the past, that turned out to be as easy as poking the maintainer with a Github i

[2020-04-08 06:14] #10955 closed

[2020-04-08 06:16] leonardder commented on #10955
See https://github.com/fujiwarat/cldr-emoji-annotation/issues/3

[2020-04-08 07:13] Brian1Gaff commented on #10957
I tend to go to the new issue and cut and paste the text to an editor there,
then come out without creating the report. You are right its far easier to
do it off  line, no latency effects from the site, either, then all you have
to do is remember to do a complete delete on the main field before grabbing
and pasting in your finished report .
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Ple

[2020-04-08 08:58] Adriani90 commented on #10957
Thanks for reporting. Closing as works for me.
Yes, the template for a feature is different from this one. You have to login first, then press "new issue" and then you can choose wether you want to create a bug or a feature.

[2020-04-08 08:58] #10957 closed

[2020-04-08 09:06] Adriani90 commented on #10952
Please try following and report back your results:
1. In NVDA settings / document formating settings, disable the reporting of pages and try to reproduce it again
2. If this problem is still visible, then please disable also the reporting for tables and cell coordinates.

I cannot reproduce it with reporting of pages disabled in MS Word 2016 and NVDA 2019.3.1.

[2020-04-08 09:19] CyrilleB79 commented on #10956
In File Explorer, also Wifi enabling/disabling is reported when using dedicated HW button.
The problem with explorer is that it is a program that serves for all, not only the file manager.
It would be logical to have Explorer notifications such as Wifi, volume and brightness changes announced from everywhere since they are not specific to the explorer file management window.
However IMO volume ann

[2020-04-08 09:46] aaclause opened #10960 "Braille: Variation Selectors break cursor positions"
### Steps to reproduce:
1. Consider the following line:

2. Move the cursor on the word (test) using routing cursors.

### Actual behavior:
The cursor is moved on — the desired position + 1 —. Also ⚠️ takes 2 braille cells.

### Expected behavior:
The cursor should be moved on the desired position. Also ⚠️ symbol should takes one cell only.
With wordpad and in form mode in Firefox, cursor is prope

[2020-04-08 11:26] feerrenrut commented on #10117
I think it would be better to implement this with an addon rather than in NVDA.

[2020-04-08 11:26] #10117 closed

[2020-04-08 11:27] leonardder commented on #10960
Could you test the behavior with this in NVDA 2019.2 please?

[2020-04-08 13:18] OzancanKaratas commented on #10955
@leonardder, The submodule repository is not updated simultaneously. I think we should update it manually, if you let me, I can do that. So we don't have to trust someone else.

[2020-04-08 13:22] leonardder commented on #10955
We can do something like that if @fujiwarat is no longer able or maintain his repo, which I'm currently not aware of. However, in that case the way to go will probably be that the repository will be forked to the NVAccess organisation.
Let's rre-eevaluate this in a week or so.

[2020-04-08 13:47] feerrenrut commented on #8610
Hi @nvdaes what does the user notice when this happens? Does it cause detrimental behavior?

[2020-04-08 13:54] nvdaes commented on #8610
This is quite old. I think I created it since previously, when we pressed Enter on Normal profile while no profile was activated, the behavior was not the expected in some add-ons. But this was long time ago. If you want close this for now. I did not see a not expected behavior with this recently.

[2020-04-08 14:49] amirsol81 commented on #10460
This has been resolved in Thunderbird version 68.7.0. However, the new issue is that NVDA now tends to automatically read whatever Thunderbird displays in its status bar, thereby making the screen reader quite verbose. I suggest that the auto-reading of the status bar in Thunderbird version 68.7.0 and newer be suppressed. This is with NVDA Version alpha-19925,2d73010e.

[2020-04-08 16:08] josephsl commented on #10956
Hi, the biggest issue to note is that it might or might not be possible to separate volume change announcements from the rest. As part of UIA notification event, an activity Id is generated, which describes which activity triggered such an announcement. For Word 365 problems, it is possible to prevent announcement of certain things because activity Id’s are different, which may not be so for File

[2020-04-08 16:50] feerrenrut commented on #10954
Any chance you could get a debug log for this?

[2020-04-08 17:06] leonardder commented on #9178
I just stumbled upon this and found it really irritating, as it ran my copy of NVDA unusable. Therefore I'll take this.

[2020-04-08 17:09] Andre9642 commented on #10960
More details (according to my modest research):
⚠️ is composed of 2 characters: \x26a0 (⚠) and \xfe0f (️).
The issue comes from \xfe0f (variation selector-16). This character bellongs to [variation selectors](http://unicode.org/reports/tr28/tr28-3.html#13_7_variation_selectors) Unicode block. It seems that all characters in this bloc are invisible codepoint which specifies that the preceding chara

[2020-04-08 17:44] lukaszgo1 commented on #10759
@Adriani90 Just to make sure, could you please test with [this try build](https://ci.appveyor.com/api/buildjobs/c44tnosg104d373r/artifacts/output%2Fnvda_snapshot_pr10962-19929%2C0dfb2680.exe) and confirm that this is fixed for you?

[2020-04-08 21:31] HerinHentry opened #10963 "Tables with multi-level headers are not read properly by NVDA"
Link tested:
https://www.w3.org/WAI/tutorials/tables/multi-level/#table-with-three-headers-related-to-each-data-cell

Steps:
Using NVDA browse mode (Up and down arrow keys, Ctrl+Alt+Arrow keys) read information on this table.

### Actual behavior:
Row headers are not read properly. All the row headers that are spanned across 5 columns are read repeatedly.
For example:
Availability of holiday accom

[2020-04-09 00:06] rkingett opened #10965 "NVDA freezes when selecting large blocks of text in Microsoft Word"
# Steps to reproduce:

* Open a document with more than 20 paragraphs.
* Hold Control, and Shift.
* Press down arrow and hold it for 4 seconds or longer. Keep holding the down arrow.

### Actual behavior:

NVDA Seems to crash and seems to shut completely down. Speech completely stops, but the computer itself is not frozen. NVDA has to be restarted to get speech back.

### Expected behavior:

NVDA

[2020-04-09 02:31] pbsinnett commented on #10278
Any progress on this? It's currently my biggest annoyance.

[2020-04-09 03:04] audiogamer22 commented on #10278
This kind of thing has gone on for a while now.

I put on a video then turn speech mode off.

Of, you can alt tab away from the page or press control a couple times
.Thanks for reading, Brad.

[2020-04-09 04:48] DrSooom commented on #10963
@HerinHentry: Which Google Chrome version? And did you test this with Firefox, Edge or other web browsers as well?

[2020-04-09 05:50] josephsl opened #10966 "Python 3.8 (porting): "variable is value" aka identity comparison with a literal raises syntax error if warn on error option is specified"
Although syntax warning is given, if Python is run with -Werror (convert warnings to errors) switch, the following raises syntax error exception:

### Steps to reproduce:
1. Prepare NVDA from source with `Python 3.7`.
2. If `Python 3.8 32-bit` is installed, install `Python 3.8` versions of `wxPython` (latest `4.1.0 snapshot` is required).
3. Run NVDA from source with errors turned on (`py -3.8 -We

[2020-04-09 07:40] feerrenrut commented on #10966
One approach to doing this is to use a custom handler for 2to3. This makes these kinds of conversions much more thorough than a regex based approach because it understands python grammar.

You could check out a fixer I wrote to help [investigate string literals in NVDA](https://github.com/nvaccess/2to3/commit/8c49d86525b63b202cfeb2e6fce8ec2a809d3c39)

In particular the following article was helpfu

[2020-04-09 09:14] #10014 closed

[2020-04-09 09:17] leonardder commented on #10954
I will run NVDA secure screens with the serviceDebug flag in the
registry for a while and will see what I can do.

[2020-04-09 09:22] leonardder commented on #10960
This is a difficult one. A quick solution would be: strip variation selectors from braille output. Not something I really like, as basically we're removing output that might be considered relevant for some people.

Thoughts @michaelDCurran @dkager @Adriani90 @lukaszgo1?

[2020-04-09 09:46] Nikita34196 opened #10967 "Microsoft edge problem with finding the address bar when you start"
this problem has recently emerged. 1. Open Microsoft Edge. in the settings at launch, you should be set to open a new tab.. 2. Write something in the address bar and click input. Expected. nvda goes to the search engine page with results. Actually. nvda stays in the address bar and has to go through all the browser panels to get to the web page. windows 10 19603 nvda version alpha-19938,e8cde2ca e

[2020-04-09 11:08] munawarb opened #10968 "NVDA Stops Reading Microsoft Teams Window"
### Steps to reproduce:
1. Open Teams.
2. ALT+TAB away from it.
3. Randomly, when you come back to the Teams window, NVDA will read nothing as you tab around.
### Actual behavior:
NVDA suddenly stops reading Teams.
### Expected behavior:
NVDA should always read Teams window.
### System configuration
#### NVDA installed/portable/running from source:
Installed.
#### NVDA version:
2019.3.1
#### Windo

[2020-04-09 11:22] lukaszgo1 commented on #10968
I am  also experiencing this, however this problem is reproducible not only with NVDA but  also with JAWS which suggests that it is a teams issue rather an NVDA one. As a workaround moving Teams window with Win + arrows restores it to the working order. I believe @leonardder had a conversation about it with Microsoft accessibility team on Twitter  a week ago.

[2020-04-09 11:29] munawarb commented on #10968
Hi @lukaszgo1,
Thanks for the suggestion. Next time it happens, I'll try this and see if it fixes it for me. It's quite annoying when you're in the middle of a presentation. Haha.

[2020-04-09 11:31] paulkitt opened #10969 "Support for gender sensitive language in German"
### Is your feature request related to a problem? Please describe.
For now the * or _ is read as 'Leser star innen' or 'Leser underscore innen'

### Describe the solution you'd like
The * or _ should be read as 'Leser Innen'. So instead of reading star or underscore a  glottal stop would be the correct way of speaking the word gender sensitive.

### Additional context
In the German language the mo

[2020-04-09 12:34] leonardder commented on #10968
I agree that this is pretty annoying, however Microsoft is aware of this and they are working on it. There's nothing we can do about it I"m afraid. Closing as needs external fix.

[2020-04-09 12:34] #10968 closed

[2020-04-09 12:52] munawarb commented on #10968
For the record, @lukaszgo1's solution of pressing WIN+ARROW worked. Thanks for the help!

[2020-04-09 14:16] jacobchawala commented on #10952
Yes, I have disabled the reporting of pages, but the issue remained the same. I again disabled the reporting for tables and cell coordinates, but the issue remained the same. I am using Microsoft office 2019.

[2020-04-09 15:11] feerrenrut commented on #10952
I don't think the intention was to close this issue, I'll reopen it.

[2020-04-09 17:17] trumpton opened #10970 "NVDA Audio and Braille Display Lag when Typing Quickly"
### Steps to reproduce:
On Windows 10 - this was done on a brand new ASUS laptop, uninstalled and turned off all virus features, installed NVDA 2019.3.1

1. Run NVDA, open notepad, and type characters with a 1 second between
2. Then 20 type characters with 1/4 second between

### Actual behavior:
1. With 1 second between characters, each character is spoken and the braille display updates after ea

[2020-04-09 18:36] Adriani90 commented on #10759
I have not access on the machine with LO, I will test as soon as I am back home. Sorry for this...

[2020-04-09 18:39] Adriani90 commented on #10970
Which windows 10 version is this? 1909?

[2020-04-09 18:39] SeanTolstoyevski opened #10971 "NVDA's late response speech in letter navigation"
Hello,
I have been following NVDA's transition to python3 for a long time.
Meanwhile, I encountered a problem.
I do not know what kind of analysis I will present on this topic. But with the same settings, NVDA 2019.2 reacts faster.
When I move around the screen by pressing any letter, NVDA waits too long to speak.
I think there is an estimated 200 ms delay.

### Steps to reproduce:

For example, l

[2020-04-09 18:56] Adriani90 commented on #10970
And does this happen also with eSpeak?
I think there is something on your PC that slows down the system. I cannot reproduce this on my Dell laptop.

Could you please provide a list with all programs installed on your PC?

[2020-04-09 18:59] lukaszgo1 commented on #10971
To be absolutely clear this delay occurs only when you are using IBMTTS as your speech  synthesizer, right? If so this should be closed as invalid and reported against https://github.com/davidacm/NVDA-IBMTTS-Driver/
Also you've stated that this is occurring when add-ons are disabled and the IBM TTS driver is an add-on so these information's are contradictory.

[2020-04-09 19:01] Adriani90 commented on #10970
Some hints for asus laptops which could help:
* Uninstall MCafe
* People report much faster performance after uninstalling the asus cloud storage and other asus unwanted programs
* Update the ATX drivers
* Check your autostart to see which programs are starting when you boot your windows (i.e. install CCleaner and go to "Tools", then to "startup".
Please report back after applying these suggestion

[2020-04-09 19:12] Adriani90 commented on #5502
We didn't get an update from the initial author and I didn't hear of this problem in the translations list where also novergian translators are active.
Thus, I am closing this as abandoned.

[2020-04-09 19:12] #5502 closed

[2020-04-09 19:29] Adriani90 commented on #6050
cc: @feerrenrut since the developer guide is maintained by NV Access, it would be good if you guys could take a look at this.

[2020-04-09 19:37] SeanTolstoyevski commented on #10971
hi @lukaszgo1
no,
The reason for the delay is not IBBMTTS.
IBMTTS is working properly.
This problem exists only in Espeak.

The plugin example there was to report that there was no such problem with other synthesizers.

Do not closeIssue.

[2020-04-09 19:37] Adriani90 commented on #10969
This is already possible:
1. Go to the NVDA menu
2. Open interpunction and symbols
3. in the filter edit field, type the star sign
4. In the list with symbols, choose the star symbol
5. press tab and change the interpunction level in which this sign should be spoken

I recommend to set NVDA to interpunction level "some" and then to switch symbols - which you don't need that often - to another inte

[2020-04-09 19:37] #10969 closed

[2020-04-09 19:48] Adriani90 opened #10972 "Apply profile handler for symbols and punctuation when changing the level in the punctuation and symbols dialog"
### Steps to reproduce:
1. Go to the NVDA menu and create two profiles
2. Open punctuation and symbols
3. in the filter edit field, type the star sign
4. In the list with symbols, choose the star symbol
5. press tab and change the punctuation level in which this sign should be spoken. Press ok to save.

### Actual behavior:
NVDA applies this setting for the star sign to every profile.

### Expecte

[2020-04-09 19:54] Adriani90 commented on #10971
I cannot reproduce this with NVDA 2019.3.1 on Windows 10 1909.
Could you please uninstall NVDA, delete the configuration folder in %appdata% and install NVDA again?

[2020-04-09 19:58] Adriani90 commented on #10965
Closing as duplicate of #9463.

[2020-04-09 19:58] #10965 closed

[2020-04-09 20:03] Adriani90 commented on #9463
@feerrenrut I saw you assigned P3 to the duplicate issue, however I suggest, if possible, to set a higher priority for this. It is a really big impact when working with big documents, and it is a complete crash.
I also think this should improve already significantly if we exclude some document atributes from being detected when navigating by paragraph. For example spelling errors and gramatical er

[2020-04-09 20:05] SeanTolstoyevski commented on #10971
hi @Adriani90 ,

I thought about this situation.
I also tested it in alpha versions where no addons was installed.
The problem persists.

I just launched NVDA 2019.2 from the portable version.
It definitely responds faster.

I recommend you to run the 2019.2 version to see the difference.

I do not have enough technical knowledge about the problem.
If you wish, we can try something like Remote con

[2020-04-09 20:10] SeanTolstoyevski commented on #10971
In order to be able to compare, I will sound record the navigation of the 2019.3 version and the 2019.2 version where I had the problem.

I will upload it to Google Drive.

We can analyze better by listening.

[2020-04-09 20:17] Adriani90 commented on #10278
I think @derekriemer works on a pull request which refactors the live region handler. But I am not sure about the current status.

[2020-04-09 20:28] rkingett commented on #9463
This still happens in 2020.1 and 2019.3.1

[2020-04-09 23:44] britechguy opened #10975 "NVDA reads Thunderbird Status Bar, intruding on anything else you're doing."
# Steps to reproduce:
Open Thunderbird when there are still messages to be downloaded.
Navigate to inbox and begin reading any message
NVDA will intrude on this with all sorts of information that seems to be based on ongoing changes in the status bar.  This did not occur in the past.

### Actual behavior:  See Steps to Reproduce

### Expected behavior:  Status bar information should not be spoken

[2020-04-10 00:02] SeanTolstoyevski commented on #10971
hi @Adriani90 and @lukaszgo1 ,

Record link: https://drive.google.com/open?id=1fsXHHsU4voqo9NJ1H7KR_NxqmhXFw6hO

The file is ready.

Speaking at the beginning, NVDA version 2019.3.1.
Version 2019.3.1:
Started: 00:04
End: 00:27
I'm navigating the desktop.

Then I run the portable 2019.2 version.
Version 2019.2:
Start: 00:29
End: 00:51
I'm navigating the desktop.

I started the 2019.3.1 version inst

[2020-04-10 00:14] josephsl commented on #10971
Hi, can you try using 2019.3.1 as a portable copy for sake of completeness? Thanks.

From: SeanTolstoyevski <notifications@github.com>
Sent: Thursday, April 9, 2020 5:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA's late response speech in letter navigation (#10971)

hi @Adriani90 <https://github.com/Adriani90>  an

[2020-04-10 02:03] SeanTolstoyevski commented on #10971
hi @josephsl

Portable, source or installed. They all have the same delay.

There is no delay in 2019.2.

[2020-04-10 02:06] josephsl commented on #10971
Hi, I see. Is 2020.1 beta also affected when it comes to speech and braille delay? Thanks.

From: SeanTolstoyevski <notifications@github.com>
Sent: Thursday, April 9, 2020 7:04 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA's late response speech in letter navigation (#10971)

hi @jos

[2020-04-10 02:22] SeanTolstoyevski commented on #10971
hi @josephsl

Yes, I tested the beta.
No braille screen. No test.

Delay in letter navigation is evident.

Did you compare 2019.2 with 2019.3 in the record I sent?
It's 100-200 milliseconds between the moment I press the letter and NVDA saying the new item.

I'm not sure about the numbers. But I'm sure it's more than 2019.2.

[2020-04-10 02:43] josephsl commented on #10971
Hi, I’m reviewing it. CC @LeonardDer in case he has any insights.

From: SeanTolstoyevski <notifications@github.com>
Sent: Thursday, April 9, 2020 7:22 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA's late response speech in letter navigation (#10971)

hi @josephsl <https://github.com

[2020-04-10 02:48] josephsl commented on #10971
Hi,

Hmmm, you say you are using build 18358? Unless that's a typo, that's NOT Version 1903 - the actual build is 18362.

Thanks.

[2020-04-10 03:05] josephsl commented on #10971
Hi,

I'm afraid I cannot provide a definitive answer as to which NVDA version responds better: settings are different. In order to provide a more fair comparison, ALL NVDA versions you are testing must have same settings. Since they do not (screen curtain on/off, different voice rate), coupled with inconsistent statements about add-ons, I'm afraid I cannot help you much.

I know that my statement

[2020-04-10 03:42] DrSooom commented on #9463
Just for clarification: NVDA 2020.1 Beta 1 is currently the latest beta build and 2019.3.1 the latest stable build.

[2020-04-10 04:11] DrSooom commented on #10972
The "symbols-xx.dic" files are ignored by the configuration profiles such as is the case with the "gestures.ini".

But even if I would like to have tons of configurable settings, I'm suggest switching between the symbol levels via NVDA+P could be the more understandable way for most users. In other words: The end user should group the symbols levels for some Unicode characters to "Some" and "Most"

[2020-04-10 04:23] DrSooom commented on #10972
I wrote more about the German gender TTS issue [here](https://netzpolitik.org/2020/warum-wir-geschlechtergerechte-sprache-verwenden/#comment-2526806), [here](https://netzpolitik.org/2020/warum-wir-geschlechtergerechte-sprache-verwenden/#comment-2527098) and [here](https://netzpolitik.org/2020/barrierefrei-planen/#comment-2537997). These comments are written in German.

[2020-04-10 04:36] josephsl commented on #10966
Hi,

Investigating both a fixer and regexp route.

For others: context surrounding this issue is explained more thoroughly here:

https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/

Thanks.

[2020-04-10 04:38] DrSooom commented on #10971
@SeanTolstoyevski: Please open the Windows-own Notepad and type some text. Navigate here letter by letter with the arrow keys. Any new delay here?

[2020-04-10 04:42] josephsl commented on #9207
Hi,

2020: blocked until NVDA is built with Python 3.8, and only then this issue will be revisited.

Thanks.

[2020-04-10 04:54] josephsl commented on #10966
Hi,

Actually, there is an easier route: checking for Flake8 error F632. But since this check will take minutes (checking parts of source code), I'll take this route if necessary.

Thanks.

[2020-04-10 06:31] josephsl commented on #10975
Hi,

According to @LeonardDer (via Twitter), this is caused by ARIA role status placed on Thunderbird's status bar. Unless this is something NVDA needs to fix, I'm going to close this as "needs external fix" unless justification can be made.

Thanks.

[2020-04-10 06:38] leonardder commented on #10975
Relevant line in dev info of the status bar:

IAccessible2 attributes: 'margin-left:0px;text-align:start;text-indent:0px;live:polite;id:status-bar;container-live:polite;tag:hbox;class:statusbar chromeclass-status;xml-roles:status;container-live-role:status;margin-top:0px;margin-bottom:0px;margin-right:0px;display:-moz-box;'

We had a similar discussion in https://github.com/microsoft/vscode/issues

[2020-04-10 09:03] josephsl commented on #10383
Blocked by wxwidgets/phoenix#1592 due to Python complaining about inability to parse incorrect locale when wxPython 4.1.0 dev snapshot is used.

[2020-04-10 10:37] smeveriss commented on #10975
Hmmm.
A mozilla non thunderbird user mentioned the same thing about the tag over on the thunderbird bugziller issue sighting this issue.
Yeah, chatty is the word.
The status bar is a nice idea but its a bit chatty.
similarly the remote content and junk filter alerts and other alerts can be a bit chatty at times.
Saying that I like bits of the bar, being told I have no messages, being told that the

[2020-04-10 14:41] alexarnaud commented on #10975
This will be soon fixed in Thunderbird as discussed in bugzilla.

We lack NVDA testers in Thunderbird Daily, we only have Linux orca users like me. Feel free to install Thunderbird Daily and helps us to test accessibility of it. The Thunderbird team does a amazing job of working and solving accessibility issues.

[2020-04-10 15:54] SeanTolstoyevski commented on #10971
hi @DrSooom

No, there is no delay when I scroll through the notepad with the arrow keys.
This problem is only seen in letter navigation.

hi again @josephsl

I will apply what you say and add the .ini file.
This will take a little longer.
I will use the options you mentioned.
I understand you. You don't want to reach a wrong conclusion.
Please wait for me.

[2020-04-10 17:11] trumpton commented on #10970
Thanks for getting back so quickly ....

**Summary**

This is Windows 1903.  Yes, it happens with E-Speak too, but a little less pronounced.
I've created a new video with various configurations, including without NVDA running, and the same version of NVDA on an old Lenovo Windows 7 machine.

Video is [here](https://www.youtube.com/watch?v=j9edNuN9tck)

I've also downloaded and tried the latest 202

[2020-04-10 17:41] SeanTolstoyevski commented on #10971
- 2019.3.1 ini file: https://gist.github.com/SeanTolstoyevski/34fa2e9d65c987659e8a3d51c3b682c2
- 2019.2 ini file: https://gist.github.com/SeanTolstoyevski/6e3ed6e49bce762bf5b5256daed6705c
- source ini file (branch master, april 10, 2020): https://gist.github.com/SeanTolstoyevski/c61e3475d21fd84a7b53f034916180df
- alpha ini file: https://gist.github.com/SeanTolstoyevski/dab18427b36bb5b3d8f9bd85f796

[2020-04-10 17:51] josephsl commented on #10975
Hi,

Closing as "needs external fix". Thanks.

[2020-04-10 17:58] josephsl commented on #10971
Hi,

Our next step will involve a bit of work to set up, but in the end will result in a debug log that tells us how long it takes for NVDA to process input. For each version of NVDA, do:

1. Open NVDA menu (NVDA+N), go to Preferences, then Settings.
2. Go to Advanced category.
3. Check "I understand that changing these settings may cause NVDA to function incorrectly" checkbox.
4. From debug loggi

[2020-04-10 18:28] stefaniehansen commented on #10285
+1 Facing same issue in NVDA 2019.2.1 and 2019.3.1 and Chrome 80.0.3987.163 and Chrome 81.0.4044.92

[2020-04-10 19:12] SeanTolstoyevski commented on #10971
- 2020beta1: https://gist.githubusercontent.com/SeanTolstoyevski/a273d145fb1a10a245679c9b74226aa2/raw/432ee57e6bf7ad42c7621f12f1371fdc767e9598/2020.1beta1
- alpha: https://gist.githubusercontent.com/SeanTolstoyevski/4c7da77fda4bdf071c1122d61de6bd2e/raw/8808ca7b75ea650d2b48964bac2019c6b601a393/nvda_alpha
- source: https://gist.githubusercontent.com/SeanTolstoyevski/86c49309cc2a9516a5a3e364c2c0f076/

[2020-04-10 19:48] josephsl commented on #10971
Hi, I’ll take a look at the log in detail shortly, but first, I would like to strongly urge you to upgrade to build 18363 (again 18358 is NOT the build to be used, as that was a release candidate, not the official 1903/1909 build). As such, the build may not be as secure as newer ones as no patches were released for it. You can upgrade by using Windows 10 Upgrade Assistant for Version 1909. Thanks

[2020-04-10 19:53] SeanTolstoyevski commented on #10971
I will not update Windows unless I have a big problem.

I don't think this issue has anything to do with the version of windows I use.

The same problem is seen on other machines and other versions of Windows 10.

Thank you for your suggestion, Joseph

[2020-04-10 20:15] josephsl commented on #10971
Hi, actually, with the build you’ve got, it IS a big problem: no security patch whatsoever, but build 18362 and later do have patches. Also, based on logs I have, I can see a small delay from 2019.3 onwards but not significant enough, as the delay can be attributed to internal things NVDA does when it receives input and generates speech utterances (asking Espeak to generate wave forms). If the dif

[2020-04-10 21:14] SeanTolstoyevski commented on #10971
I removed oneCore.

The difference is 20 milliseconds, but it does make the difference.

You won't do anything about it, right?

if you are not going to do anything, you can close issue.

[2020-04-10 21:18] josephsl commented on #10971
Hi, I’m leaning towards closing this next week unless others say otherwise. Thanks.

From: SeanTolstoyevski <notifications@github.com>
Sent: Friday, April 10, 2020 2:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA's late response speech in letter navigation (#10971)

I removed oneCo

[2020-04-10 23:19] SeanTolstoyevski commented on #10971
Hi  @josephsl

There is one thing I forgot to say:

There have been no major changes in Espeak since the 2019.2 release.
I don't think the reason for the delay is due to Espeak.
I can install Espeak in 2019.2 version on NVDA with python 3 version.
I don't think the delay will change.

I want to add something else.
This delay is only seen in navigation.
There is no delay caused by Espeak's process

[2020-04-10 23:41] josephsl commented on #10971
Hi, this indicates something other than the synthesizer might be at fault. This may require deeper analysis such as customized builds and debug messages, something I don’t think we will be able to do without significant changes to how NVDA is built, namely moving back to Python 2.7 (by the way, Python 2.7 is now end of life). Thanks.

From: SeanTolstoyevski <notifications@github.com>
Sent: Friday,

[2020-04-11 07:36] aaclause opened #10980 "Edge: RuntimeError when address bar is empty"
### Steps to reproduce:
1. Open Microsoft Edge.
2. Go to address bar (ALT+d or CTRL+l).
3. (if needed) remove the selection.

### Actual behavior:
The following error occurs and braille screen is not updated:

[code]

Maybe related to #10734?

### Expected behavior:
No error, braille display refreshed.

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA

[2020-04-11 14:46] ruifontes commented on #10975
If this problem already occurs on two separate programs, from different
companies, it will not be better be NVDA taking care of that for all
programs?

Rui Fontes

Às 07:38 de 10/04/2020, Leonard de Ruijter escreveu:

[2020-04-11 18:19] elliott94 opened #10982 "Input Gestures Dialog: Allow the selection of either Desktop or Laptop Keyboard Layouts when defining a Gesture"
### Is your feature request related to a problem? Please describe.

Currently, when defining a new keyboard-based gesture from within the Input Gestures dialog, upon activating the gesture that you would like to be used for the chosen action, a pop-up appears that either allows you to select the gesture to be bound to the active keyboard layout only, or for all keyboard layouts (both Desktop and L

[2020-04-11 18:22] elliott94 opened #10983 "Input Gestures Dialog: Allow the editing of an existing Gesture"
### Is your feature request related to a problem? Please describe.

When placing focus on an existing gesture from within the Input Gestures dialog, it's only possible to either add a new gesture, or remove the gesture that has focus

### Describe the solution you'd like

Could we consider adding an "Edit" button or similar? Currently, if a user wishes to edit the bindings for an existing gesture,

[2020-04-11 19:21] Adriani90 commented on #10971
@SeanTolstoyevski thanks for the information. To be sure that we understand correctly your issue. Is the delay significant between the key press and the reporting of the key pressed? (i.e. g)? Or is it the delay between the reporting of key pressed (for example g) and the name of the desktop element to which you navigate (for example Google crome)?
If you say it works correctly with other synthesi

[2020-04-11 19:54] Adriani90 commented on #10970
@trumpton I mean the aTK driver. The current version is
ATK Package 1.0.0050 (32-bit)
ATK Package 1.0.0061 (64-bit)

You can find them here:
https://ivanrf.com/en/latest-asus-drivers-for-windows-10/

Regarding the startup, I saw that you have a task called asus system analysis. i recommend to disable that, there are some very negative articles about it regarding security and performance impacts.
Y

[2020-04-11 20:02] Adriani90 commented on #10285
cc: @feerrenrut, @michaelDCurran I think there was something similar in the past which needed an external fix from Crome. I am not sure if this was the issue. Maybe you could have a look.

[2020-04-11 20:14] Futyn-Maker opened #10984 "Adding new letters in dictionary"
Hello!

I use Russian language in NVDA, and I see that not all synthisizers can read all Unicode symbols. For example, lots of Russian synthesizers default not read Greek alphabet, extended Cyrillic and more.
So, what is the best way to add necessary symbols? I can add them in "symbols.dic", but I'm not sure that it is the best way for letters (not punctuation).

I'd like to add lots of symbols an

[2020-04-11 21:59] SeanTolstoyevski commented on #10971
Hi,

I am talking about the difference between the moment the letter is pressed and the saying of the new item.
No delays for letters or large text.

I disagree with your opinion on Espeak.
For example, texts consisting of 5000 characters are spoken without delay.
Also, there is no major update on Espeak.
There were no major updates between Espeak in 2019.2 and Espeak used in python 3.
I follow th

[2020-04-11 22:01] SeanTolstoyevski commented on #10971
Currently I have replaced Espeak files in 2019.3 with those in 2019.2.
The delay continues.

[2020-04-12 03:08] surfer0627 opened #10986 "Advanced system settings: NVDA does not interrupt speech, while tabbing through controls"
### Steps to reproduce:
1. In Windows Control Panel, choose System.
2. Choose Advanced system settings.
3. Tab through controls.
#### Actual behavior:
NVDA does not interrupt speech, while tabbing through controls

#### Expected behavior:
NVDA should interrupt speech, while tabbing through controls

Also, NVDA reports "unknown" for tab names in Advanced system settings. It includes:

* Computer na

[2020-04-12 07:17] bdorer commented on #10986
If you'll read the userguide you'll see that's a limitation of windows with portable versions of NVDA. Please install NVDA and report back.

[2020-04-12 08:28] surfer0627 commented on #10986
@bdorer You're correct. This does not occur in NVDA installed.

[2020-04-12 08:28] #10986 closed

[2020-04-12 11:33] dingpengyu opened #10987 "NVDA Community Add-ons website bug: The simplified Chinese name of the Change language combo box is wrong"
hello @michaelDCurran
When using the Change language combo box to switch languages, the simplified Chinese name is wrong.
The correct name should be: Simplified Chinese China (zh_CN
### Steps to reproduce:
Open first
[Welcome to the NVDA Community Add-ons website](https://addons.nvda-project.org/index.en.html)
Then select Chinese / Chinese from the Change language combo box (83%)
### Actual behavi

[2020-04-12 17:45] mltony opened #10988 "Two-letter prompts and two-letter outputs are not spoken automatically in console"
### Steps to reproduce:
1. Open command line prompt.
2. Type the following command to set short prompt:
[code]
3. Press Enter to execute above command. Now your prompt is something like `C>` instead of typical full path.
4. Press enter again repeatedly to hear the new prompt.

### Actual behavior:
Nothing is spoken.

### Expected behavior:
NVDA should announce the new prompt every time Enter is pr

[2020-04-12 21:13] CyrilleB79 commented on #10984
I add Cyrillic or Greek letters that are ommitted by the synthesizer in the symbol files. Of course this does not replace a Greek or Russian synthesizer because each Greek or Russian word is then spelt.

[2020-04-12 21:45] Adriani90 commented on #10988
Cc: @codeofdusk

[2020-04-12 22:01] Futyn-Maker commented on #10984
Yes, of course, I understant about synthesizer. I've opened this issue only because at this moment a lot of characters are note spoken by more of Russian synthesizers default, with exception Espeak.
It not only letters, but math characters, Braille unicode and more.
I'm going to add all that symbols in "symols.dic". Could I share it then?

[2020-04-12 23:53] codeofdusk commented on #10988
Interesting, no console changes were made in 2020.1. The logic in `_reportNewLines` is needed to avoid double-speaking some characters when events are slow to fire, maybe I can adjust this a bit?

[2020-04-13 01:02] josephsl commented on #10971
Hi,

For now, I'm closing this issue, as there is really nothing we can do apart from going back to Python 2.7 and rebuilding NvDA from source to find out what happened since then. Making matter more complicated is that we have also moved onto Visual Studio 2019 and other dependencies have changed, so our options are limited at this point.

Thanks, and sorry for the inconvenience.

[2020-04-13 02:01] tspivey commented on #10971
This issue is very clearly reproducible, so shouldn't be closed.
It's most likely caused by speech refactor. How do I know this? Because 2019.3 is noticeably slower than 2019.2.
The description wasn't 100% clear, but listen to the recording and reproduce the example.

1. Start NVDA 2019.2.1 with eSpeak, turn on character echo, find something on your desktop where you can quickly jump between the i

[2020-04-13 02:09] josephsl commented on #10971
Hi,

Ah, that explains it... If it affects all synthesizers, then yes, it might be time to ask @MichaelDCurran for advice.

Thanks.

[2020-04-13 02:15] SeanTolstoyevski commented on #10971
hi @tspivey ,

I absolutely agree with you.

I do not know. I do not find it right to close this issue.
I think screen readers should react as quickly as possible.
I will continue to use 2019.2.

Good luck nvda team.

[2020-04-13 04:36] Andre9642 opened #10992 "UIAutomationTextRangeArray is empty / NVDA freezes in some cases"
### Steps to reproduce:
(There are several ways to reproduce the bug, here is one):

1. Open a webpage in Microsoft Edge.
2. Choose an element (a link for example) in the page.
3. Invoke contextual menu (with applications key)
4. Quit the menu (with escape key or by choosing an item of the menu, such as "copy link")

### Actual behavior:
NVDA Freezes during several seconds and the following traceb

[2020-04-13 06:02] raducoravu opened #10993 "NVDA does not report disabled menu items as unavailable"
Let's say I have a small Java application with a disabled menu item added to the top level menu:

      /**
       * @param args
       */
      public static void main(String[] args) {
        JFrame fr = new JFrame();
        JMenuBar mb = new JMenuBar();
        JMenu menu = new JMenu("windows");
        JMenuItem mi = new JMenuItem("abc");
        mi.setEnabled(false);
        menu.add(mi);

[2020-04-13 07:01] zstanecic commented on #10984
Hi,

Contact me privately with the suggested change, as I can do the necessary change.

I am currently translating untranslated user guide parts to Russian

My email is

Zvonimirek222@ya.ru <mailto:Zvonimirek222@ya.ru>

From: Futyn-Maker <notifications@github.com>
Sent: Monday, April 13, 2020 12:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subjec

[2020-04-13 08:50] raducoravu opened #10994 "Keyboard shortcut is sometimes not properly read for Java applications"
In a Java application I have a menu item with Ctrl-F6 set as accelerator.
NVDA reads the shortcut as "control plus" without reading the F6 key at all. JAWS properly reads the entire shortcut.

      public static void main(String[] args) {
        JFrame fr = new JFrame();
        JMenuBar mb = new JMenuBar();
        JMenu menu = new JMenu("windows");
        JMenuItem mi = new JMenuItem("abc");

[2020-04-13 12:17] Futyn-Maker commented on #10984
Thanks! I got the answers to my questions, and I can close that issue.
Wait news :)

Andrey

[2020-04-13 12:18] #10984 closed

[2020-04-13 17:04] eDADMSFTChristopher opened #10996 "NVDA reads 'table' while moving to sign in edit field."
User Experience:
Screen reader user would face difficulty to understand the structure of the sign in page if screen reader reads table while navigating to sign in screen. NVDA reads 'table' while moving to sign in edit field.

Pre-requisite:
Launch the NVDA

Repro-Steps:
1. Open URL: https://www.office.com/
2. Navigate to 'Sign In' control and select it lying on Welcome to Office window.​
3. Navig

[2020-04-13 17:09] josephsl commented on #10996
Hi, hmmm, can you try with the following: Version 1909 (OS build 18363), NVDA 2019.3.1, and absolute latest Chrome stable? If any of these fixes it, chances are that it might be Chrome, otherwise it could be a combination of NVDA settings and/or how that page was programmed. Thanks.

From: eDADMSFTChristopher <notifications@github.com>
Sent: Monday, April 13, 2020 10:04 AM
To: nvaccess/nvda <nvda@

[2020-04-13 17:28] eDADMSFTChristopher opened #10997 "Sign In account NVDA is reading unwanted table information on all list items under Pick an account pane."
User Experience:
Screen reader dependent users won't be able to navigate pane properly or screen reader users confused to navigate pane through screen reader, if NVDA is reading unwanted table information on all list items under Pic an account pane.

Repro Steps:
1. Open URL: https://www.office.com/
2. Navigate to 'Sign In' control and select it lying on Welcome to Office window.​
3. Navigate to a

[2020-04-13 17:36] josephsl commented on #10997
Hi, confirmed (setup: Windows 10 Version 2004 (build 19041.173), Chrome 80, NVDA alpha.19938). Apart from asking whoever wrote this page (perhaps at Microsoft or somewhere) to not expose tables to screen readers, one temporary workaround is disabling table announcements from NVDA (NVDA menu/Preferences/Settings/document formatting/uncheck tables). Thanks.

From: eDADMSFTChristopher <notifications@

[2020-04-13 17:40] josephsl commented on #10996
Hi,

Confirmed (see #10997). This is the case with Chrome family of browsers (including Microsoft Edge 80) as this issue does not occur in IE and Firefox 75.

Thanks.

[2020-04-13 17:44] eDADMSFTChristopher opened #10998 "NVDA Screen reader is reading unwanted table information on 'wingtiptoysonline.net' button under Permissions requested pane."
User Experience:
Screen reader dependent users won't be able to navigate pane properly or screen reader users confused to navigate pane through screen reader, if Screen reader is reading unwanted table information on 'wingtiptoysonline.net' button under Permissions requested pane.

Repro Steps:
1. Open https://login.microsoftonline.com/common/oauth2/authorize?client_id=8360d653-4205-4a3c-add2-cc88

[2020-04-13 20:16] Adriani90 commented on #10759
@lukaszgo1 this try build works as expected. The issue is fixed. Thanks.

[2020-04-13 20:54] Adriani90 commented on #10970
@trumpton I will close this issue for now since it is not really related to NVDA but rather to something that slows down your system. Please continue to comment on it if you find a solution or if you think this is a problem in NVDA. We can reopen it later on if required.

[2020-04-13 20:54] #10970 closed

[2020-04-13 20:58] codeofdusk commented on #10662
#9661 has been merged, so this issue is no longer blocked.

[2020-04-13 21:02] Adriani90 commented on #7099
This is fixed in Firefox 75 indeed, thanks for that Jamie.

This issue exists now only in Crome, also tested in Crome 81.

[2020-04-14 00:05] h-rezaei commented on #2111
Please consider adding this.
JAWS has had this for years and users are forced to work with JAWS for their jobs just because of  this.

[2020-04-14 01:36] Qchristensen opened #11000 "User Guide line 1459: Typing software is called UniKey (Capital U & K) not unikey / Unikey"
### Steps to reproduce:

Read line 1459 of the User Guide (Under the Handle Keys from Other Applications heading of the keyboard settings: https://www.nvaccess.org/files/nvda/documentation/userGuide.html#KeyboardSettings )

### Actual behavior:

Text reads: "This option allows the user to control if key presses generated by applications such as on-screen keyboards and speech recognition software s

[2020-04-14 02:02] rkingett commented on #2111
Talkback is a good example of easy labeling. JAWS too. This wouldn't discourage accessibility advocacy, it may push it forward, but I know many JAWS users that use JAWS because this feature exists. If this can also have an open source database of labels, it would make it easier to try NVDA with indie programs.

[2020-04-14 07:29] Adriani90 commented on #11000
Fixed in #11001

[2020-04-14 07:29] #11000 closed

[2020-04-14 09:21] codeofdusk opened #11002 "UIA freezes after a large number of events is received"
### Steps to reproduce:
1. Enable "use UI Automation to access the Windows Console" from advanced preferences.
2. Run `cmd`.
3. Start a python interpreter: `python`.
4. Run:

    for i in range(100000):
        print("test")

### Actual behavior:
"test" is read for a few seconds, then all UIA applications become completely inaccessible until NVDA is restarted.

### Expected behavior:
Output stops

[2020-04-14 09:23] codeofdusk commented on #11002
Narrator seems to work as expected here, at least with my test case.

Cc @josephsl @leonardder @michaelDCurran.

[2020-04-14 10:11] feerrenrut opened #11003 "Allow unicode in shortcut names created by installer."
As per the closing comment on PR #10874, the following is a plan to allow unicode characters in shortcut names created by the installer. While doing this it is also beneficial to address the susceptibility of the installer failing due to mistranslation of the hotkey. Errors in the hotkey translation are often not found until after a release is made, this makes it a particularly troublesome issue w

[2020-04-14 10:13] feerrenrut commented on #11003
Despite recent work in this area, I'm unlikely to be working on this soon. Anyone interested may take this on.

[2020-04-14 12:04] leonardder commented on #10909
I have looked into a migration to asyncio, but that also requires asyncio support for wx and that's not currently there.

[2020-04-14 12:06] mohdshara opened #11004 "on nvaccess.org with Firefox, the tab key jumps back to the start of the page"
### Steps to reproduce:
Using Firefox, visit https://nvaccess.org
make sure you are not focused on the start of the page. Use heading or simply arrow down to be some where else.
now press the tab key once.
### Actual behavior:
NVDA jumps to the start of the page, no matter from where you pressed your tab key.
### Expected behavior:
NVDA should jump to the next element on the page.
### System confi

[2020-04-14 12:07] zersiax commented on #10909
I have to agree with @Neurrone here. This is a bug, this is a showstopper, this can cause people to lose their jobs.
If this happens in the middle of an important consultation, or while you are working on something important that for whatever reason isn't autosaving, or a myriad of other factors, you will lose data. If you lose data on the job, that effectively means you lose money. If you lose mo

[2020-04-14 12:50] feerrenrut commented on #6050
Happy to take a PR to improve this, I'm sure there is lots of expertise in the add-on developer community.

[2020-04-14 13:11] leonardder commented on #11002
Hmm, this might be related to other UIA performance issues. cc @bramd

[2020-04-14 13:14] leonardder commented on #10909
Related to #10247, #6463, #6291

[2020-04-14 13:16] leonardder commented on #10909
I tend to agree with @zersiax here. The problem described here shouldn't be treated as an enhancement, but rather as a p2 issue. See also triage of issues mentioned above.

[2020-04-14 13:20] feerrenrut commented on #9463
@Adriani90 I should have given reasoning on that issue. I assigned P3 because the crash requires selecting a lot of text by holding `ctrl+shift+down arrow` for X seconds. This doesn't seem like a common use case, though I'm happy to reconsider, what are you trying to do?
Some possible workarounds: selecting all can be achieved with `ctrl+a`, does it still crash in this case? Can you use `NVDA+F9`

[2020-04-14 13:34] rkingett commented on #9463
For now, the best workaround is to use NVDA+F9 and NVDA+F10 but that sometimes crashes my beta. 2020.1 Beta 1, when selecting multiple paragraphs with that method. For me, hitting select all wouldn't work because I am a novelist and wouldn't want to select a 80,000 word document when I only need to select chapter 23 only.

[2020-04-14 13:37] feerrenrut commented on #10972
I tend to agree with @DrSooom. Symbol reporting should be put into a category and the config profile should be set to use the appropriate symbol level. If the granularity of this is not enough we could consider adding another level as suggested by @DrSooom. Another option which would require some early investigation into the consequences (with considerations into ux design, code design, and perfor

[2020-04-14 13:37] #10972 closed

[2020-04-14 15:03] feerrenrut commented on #10983
Related to #10982

[2020-04-14 16:07] feerrenrut commented on #10285
@harshvardhan3946 @sandeepnmenon @stefaniehansen Can you report on the behavior with Firefox please?

[2020-04-14 16:18] feerrenrut commented on #10285
Actually looking into this more, I question that these should be read as ordered items at all. From my testing, in both chrome and firefox the sample is announced as "List with 3 items". They are announced in the same way that `<ul>` elements are. See https://www.scottohara.me/blog/2018/05/26/aria-lists.html

Is there something that makes you expect otherwise?

[2020-04-14 17:28] feerrenrut commented on #10992
Could you please test this with the [current Beta for 2020.1](https://ci.appveyor.com/api/buildjobs/7tih7jg3w06cyqn0/artifacts/output/nvda_2020.1beta1.exe)?

[2020-04-14 18:07] Andre9642 commented on #10992
Same result, NVDA freezes or crashes completely:

<details><summary>Log</summary>
<pre>
DEBUG - __main__ (19:58:21.888) - MainThread (3372):
Provided arguments: ['C:\\app\\nvda\\2020.1beta\\nvda.exe', '--debug-logging']
INFO - __main__ (19:58:21.888) - MainThread (3372):
Starting NVDA version 2020.1beta1
DEBUG - __main__ (19:58:21.888) - MainThread (3372):
Debug level logging enabled
DEBUG - core.

[2020-04-14 18:53] francipvb commented on #11002
Users of Visual Studio are experiencing performance issues with
UIAutomation, too... And with Win10 native UI in general.

--
Cuando tus fuerzas terminan, las de mi Dios comienzan.

[2020-04-14 19:12] feerrenrut commented on #10971
First of all, thank you to everyone for putting so much time into trying to get to the bottom of this. To be clear, this process isn't doubting that the problem happens on your machine, but trying to narrow down the cause so we can fix it, or at least understand it.

I have noticed some differences in behavior with audio devices since 2019.3. Can we rule that out as the cause @SeanTolstoyevski? Pl

[2020-04-14 19:21] feerrenrut opened #11006 "Accepting bug-fix / maintenance PR's only while addressing backlog"
NV Access would like to kindly ask contributors to temporarily hold off on creating new Pull Requests (PR's) specifically for features or enhancements to NVDA. This will be a temporary arrangement to free us up while we go through the process of addressing the existing backlog of Pull Requests. Many of the outstanding PR's will require significant time to understand, update, test and review for me

[2020-04-14 19:41] Andre9642 opened #11007 "Chromium & Chromium Based Browsers: tables are not rendered in '<details>' tag"
### Steps to reproduce:
1. Open this URL in Chrome, Edge and Firefox:
  `data:text/html,<details><summary>Product price list</summary><table><tr><th>Product</th><th>Price</th></tr><tr><td>HK205</td><td>140$</td></tr><tr><td>TLE215</td><td>80$</td></tr><tr><td>NWE714</td><td>94$</td></tr></table></details>`
2. Expand the — Product price list — section.

### Actual behavior:
In Chromium, Google Chro

[2020-04-14 19:53] SeanTolstoyevski commented on #10971
Hello,
I'm tired of telling this.

I am writing for the last time.

In two leptopes, I tested in Windows 1909, 1903, with headphones and without headphones, nothing about performance settings & best performance settings, even in settings where Defender wouldn't affect NVDA, i.e. in closed settings, playing music in the background and playing music.
Sometimes on virtual machines.
I don't want to ti

[2020-04-14 20:01] feerrenrut commented on #10970
@trumpton Thank you for the video, it demonstrates the problem clearly. I'm not sure, but it looks like you might be on battery power in the video. It may be that windows has enabled battery saving mode or reduced performance can you check these settings and also test with the laptop connected to power? This might help to rule it out.

[2020-04-14 20:03] feerrenrut commented on #10662
Further investigation will need to be done into the implications of this work.

[2020-04-14 20:38] Adriani90 commented on #9463
@feerrenrut this is a very common use case, many people reported this actually in several mail lists.
Usually, in big documents, most people read the document paragraph by paragraph instead of line by line. For sighted people it works in the similar way when you do skim reading. In order to be efficient, you look at the paragraphs and this is also what we do when we select text. For example you wa

[2020-04-14 20:48] Adriani90 commented on #6050
I would add here some additional people from the addons community, it seems documenting this can become somehow complex. And I think a solid contribution would make this sustainable.
cc: @codeofdusk, @francipvb, @mltony, @abdel792, @Andre9642

[2020-04-14 21:38] josephsl commented on #7894
Hi,

And now, ready for another round of review on the accompanying PR.

Thanks.

[2020-04-14 22:50] brogar2000 opened #11008 "Can we get a rap to top toggle"
### Is your feature request related to a problem? Please describe.
My friend has found himself to be very frustrated while navigating web pages do to the lack of a rap to top feature.
### Describe the solution you'd like
I'd love to see a checkbox in the browse mode settings to toggle weather or not NVDA will jump to the top/bottom when a navigation keystroke is pressed.
### Describe alternatives

[2020-04-15 00:14] ruifontes commented on #11008
screenRapping  and NVDAExtensionGlobalPlugin

Rui Fontes

We already have, at least, two add-ons with that feature:

Às 23:51 de 14/04/2020, brogar2000 escreveu:

[2020-04-15 02:02] surfer0627 commented on #8308
It seems that this issue is fixed in the newer [microsoft edge stable](https://www.microsoft.com/edge/?form=MO12GK&OCID=MO12GK) (browser based on the Chromium engine).
NVDA reads the search result first and then the element type (i.e. heading level 2), like in any other browser.

[2020-04-15 06:26] trumpton commented on #10970
Sorry for not replying more quickly, I'm slightly distracted with 3D printing Covid-19 PPE.

I have exactly the same problem on two machines, on battery or on mains power.
Both are ASUS UX333 machines - the slightly (15%) slower I5 has various software installed, including anti-virus, and the faster I7 (which is the one I ran the test on) is a brand new machine with as much uninstalled or removed

[2020-04-15 06:30] jcsteh commented on #10508
I've just started using 1Password and this is really, really horrible. I regularly see lag of more than a second when moving between items in the list.

I debugged this a bit. 1Password fires 50+ UIA property change (name and item status) events every time you move between items in the list. These all seem to be on the fields for viewing/editing the item. This is very poor behaviour on their part

[2020-04-15 07:11] jcsteh commented on #10508
I have a really hacky patch which works around this, but there's no way to do this in an app module, which means we end up with 1Password specific code in UIAHandler. :(

[2020-04-15 07:44] bramd opened #11009 "Placeholders are represented as normal value in Chromium based Edge dev"
### Steps to reproduce:
1. Open Edge based on Chromium
1. Go to this URL: `data:text/html,<label for="test">Test:</label><input id="test" type="text" placeholder="Type something">`

### Actual behavior:
* The placeholder text is represented as a normal value in braille and speech.
* When entering focus mode and pressing left/right arrows, NVDA announces the first letter of the placeholder, blank i

[2020-04-15 07:46] bramd commented on #10992
I have had similar crashes with recent NVDA alpha versions. I think I even reported an issue about it in the past, but I don't have time to search for it now.

[2020-04-15 08:39] DrSooom commented on #9463
Is it possible to limit the amount of spoken Unicode characters when selecting or moving paragraphs? In most kind of these cases it is totally enough just to hear the first – let's say – 50 Unicode characters to detect the correct paragraph. Reading the whole paragraph in these situations is in my opinion not really necessary. Well, but may somebody need this – therefore add a checkbox "Only speak

[2020-04-15 08:49] feerrenrut commented on #10446
This is likely to be a controversial change, its very subjective and users are already familiar with the existing behavior. This also results in a slightly different meaning, "out of X" invokes images of a container, being surrounded by something, where "X end" is perhaps more linear.

I'm not trying to argue for one option over the other, but it could be a lot of work to convince people for a sma

[2020-04-15 08:59] feerrenrut commented on #10446
Thinking this through further, “out of X” clearly describes a boundary transition, and is appropriate to announce between objects, where “X end” might be interpreted by some as the final element.

[2020-04-15 09:30] DrSooom commented on #10998
@eDADMSFTChristopher: Can you please report the behaviors with Firefox (75.0.x) and Edge (the latest) in combination with NVDA 2019.3.1 as well? Thanks.

[2020-04-15 09:38] tspivey commented on #10971
@feerrenrut Please try with OneCore. The difference is much more obvious there.
Specifically, from the desktop, press a letter and listen for the delay between when the letter finishes speaking and the icon name. With OneCore at rate 40 with rate boost on, it's easy to notice.

[2020-04-15 10:23] florianionascu7 opened #11010 "NVDA and FreeAudio Converter: the object navigation doesn't work properly"
Hello! If you use NVDA with Free Audio Converter by DVD Video Soft, which is almost accessible, you can add files, set the folder you want to find them after the conversion and select the format you want them to be converted to, but you won't be able to find the convert button if you navigate with tab and the arrow keys, so you shall use the object navigation to find that option, but you can't act

[2020-04-15 10:41] lukaszgo1 commented on #11010
I don't have experience with this specific software, however if I were you I would try routing  mouse to this object with NVDA+numpad slash and click it with left mouse button.
Could you also post the developer info for the control in question by moving navigation object into it, pressing NVDA+f1 and posting everything from the log from the caret position to the bottom?

[2020-04-15 11:21] Neurrone commented on #10970
Have you tried using an app like silenzio, which plays a silent sound to ensure that the audio device never goes to sleep?

[2020-04-15 11:50] florianionascu7 commented on #11010
It works, many Thanks!

[2020-04-15 11:50] #11010 closed

[2020-04-15 13:10] alexbernier opened #11012 "NVDA crashes when reading e-mail addresses"
Hi,
NVDA often crashes when accessing text containing e-mail addresses. It occurs when using a Braille display with the "français unifié abrégé" (french contracted) table. I suspect the problem could be related with LibLouis but do not investigate more for the moment.
Attached is the relevant part of the log file.
Best,
Alex
[nvda-old.log](https://github.com/nvaccess/nvda/files/4481325/nvda-old.lo

[2020-04-15 13:29] Neurrone commented on #11004
I've seen this before on the React blog as well and the React docs, in case having another example helps with isolating the root cause.

[2020-04-15 14:00] rkingett commented on #9463
No, it does not crash when pressing shift, and page up or down, or CTRL, Shift, page down. Neither the stable, 2019.3.1, nor beta, 2020.1, crash when using page down.

[2020-04-15 14:10] Adriani90 commented on #11012
please fill the template completely. Thanks.

[2020-04-15 14:10] #11012 closed

[2020-04-15 14:40] alexbernier opened #11013 "NVDA often crashes when reading e-mail addresses"
### Steps to reproduce:

Move the Braille display on a text containing an e-mail address

### Actual behavior:

NVDA crashes.
 It occurs when using a Braille display with the "français unifié abrégé" (french contracted) table. I suspect the problem could be related with LibLouis but do not investigate more for the moment. Attached is the relevant part of the log file.

### Expected behavior:

Corr

[2020-04-15 14:45] alexbernier commented on #11013
NVDA version: 2019.3.1

[2020-04-15 14:55] Andre9642 commented on #11013
Probably related to https://github.com/liblouis/liblouis/issues/881

[2020-04-15 15:22] alexbernier commented on #11013
Thanks @Andre9642 - I confirm it seems to be related to the issue you pointed.
To reproduce:
- Enable the french contracted table
- On a line of text, write "a: b.c"
- Move the cursor at the beginning of the line and next move it on the right several times
- NVDA (actually LibLouis) crashes

[2020-04-15 15:36] Andre9642 commented on #11013
Temporary quick fix (breaks some rules): edit 'fr-bfu-g2.ctb' file and comment the line "noback compbrl \xfff9" by adding a '#' at the beginning of the line.

[2020-04-15 15:49] Adriani90 commented on #9463
@DrSooom I would strongly suggest not to limit the unicode characters spoken because we then run into the issue that people don't know what they are selecting or what they are reading. It must be another way to avoid NVDA crashing without any significant limitations in the user experience.
As I proposed above, for example fetching revisions or spelling errors is not really needed when navigating p

[2020-04-15 15:49] Adriani90 commented on #9463
However, it seems the document crashes also when using page up and page down for navigation. So this might need further investigation.

[2020-04-15 15:54] Adriani90 commented on #9463
After further testing it seems page up and page down also together with ctrl+shift, is not reproducible in a reliable way. But ctrl+shift+down arrow is definitely causing a crash.

[2020-04-15 15:57] Adriani90 commented on #9463
This is probably the most important part of the log here:
[code]

However, the termination process might have started before unregistering this key hook. But there is nothing really useful in the log for the time before this.

[2020-04-15 16:05] Adriani90 commented on #10446
How about reporting with speech when entering a container and playing a sound when leaving it. In this case people would hear what king of container they are entering and would know when they leave it as soon as the sound plays. I guess this would be possible via speech refactor. Right?

[2020-04-15 16:14] ruifontes commented on #10446
Please, do not oblige all people to differenciate the sounds!

Rui Fontes

Às 17:06 de 15/04/2020, Adriani90 escreveu:

[2020-04-15 16:21] paulkitt commented on #10969
Thanks for the fast reply. It would be great if nvda could support gender sensitive by default or have a simple check box enabling gender sensetive language preset configuration. For most people setting up the correct configuration is not easy.

[2020-04-15 16:54] Adriani90 commented on #10446
it is the sane sound for everything. it just indicates that you leave the entered element. The element would be reported by speech when entering it.

Von meinem iPhone gesendet