[2018-10-13 15:35] kutsenko opened #8839 "Error on exit NVDA 2018.3.2 (Windows Server 2008)"
A friend of mine does not have a github.com account, so she asked me to forward this issue.

NVDA version: 2018.3.2 portable
Version OS: Windows Server 2008 R2 SP1
Problem: error while exiting NVDA (there was no such problem using NVDA 2018.3.1 portable)

When I try to exit NVDA a system sound indicating a critical error is played, and then to variants are possible:
1. (this variant is very rare)

[2018-10-13 16:05] josephsl commented on #8839
Hi, can you ask your friend if this happens with add-ons disabled? If it does not, chances are that it might be an add-on playing around with exit routine. CC @MichaelDCurran

From: kutsenko <notifications@github.com>
Sent: Saturday, October 13, 2018 8:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Error on exit NVDA 2018.3

[2018-10-13 16:32] josephsl commented on #8838
Hi,

Technical: by default, Edge's address omnibar is flagged as not supporting automatic selection detection when in fact it should. One way to partly change this is to tell NVDA to replace EditableTextWithoutAutoSelectDetection with the "can" counterpart (editableTextWithAutoSelectDetection) if possible. At the moment I'm looking into which Edge (Windows 10) version introduced selection flag fro

[2018-10-13 17:31] kutsenko commented on #8839
@josephsl:

I asked my friend, here is her answer.

Hi @josephsl!

A problem concerns an add-on indeed, in particular add-on named Driver for the Eurobraille device (eurobrailleDriver), and after the add-on was deleted everything is ok.

Thank you very much for a prompt and helpful answer.

[2018-10-13 17:40] josephsl commented on #8839
Hi, thanks for forwarding your friend’s answer. CC @LeonardDer and @DKager in case they know what’s up.

From: kutsenko <notifications@github.com>
Sent: Saturday, October 13, 2018 10:31 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Error on exit NVDA 2018.3.2 (Windows Server 2008) (#8839)

[2018-10-13 17:46] josephsl commented on #8838
Hi,

For documentation purposes: the fix should work across all Windows 10 releases (and server counterparts) from 1507 onwards.

Thanks.

[2018-10-13 18:09] rthomas2018 opened #8840 "NVDA Nemeth Code Support"
### Actual behavior:

When using NVDA, MathML expressions will output on my braille display in Nemeth code only if they are a single line in length.

Any expressions longer than a single line will read verbally, but will not provide any braille output.

### Expected behavior:

As long as I have verbal output, I should also have braille output, even for longer expressions.

### System configuration

[2018-10-13 18:39] #8839 closed

[2018-10-13 19:18] leonardder commented on #8839
[**@josephsl**](https://github.com/josephsl) commented on [13 Oct 2018, 19:40 CEST](https://github.com/nvaccess/nvda/issues/8839#issuecomment-429560915 "2018-10-13T17:40:41Z - Replied by Github Reply Comments"):

Honestly, I don't care much, as there is now a native driver for Eurobraille devices.

[2018-10-14 02:55] josephsl commented on #7126
Hi,

As of now, I'm seriously thinking about closing the pull request for this one, as the new Skype interface is being deployed around the world. I hope someone can continue this work in the future.

Thanks.

[2018-10-14 06:10] enessaribas opened #8841 "NVDA reads HTML code when adding citations in word with Zotero"
### Steps to reproduce:

1. install zotero, and add at least 1 reference
2. type a random sentence in word, and then select add/edit citation.

### Actual behavior:
NVDA speaks the following HTML information, taken from log on debug mode.
code:
Speaking [u'data:application/xhtml+xml,%3C!DOCTYPE%20html%20PUBLIC%20%22-//W3C//DTD%20XHTML%201.0%20Strict//EN%22%20%22http://www.w3.org/TR/xhtml1/DTD/xhtm

[2018-10-14 15:56] Ednunp commented on #7348
HI guys, very concerned that this has not been updated in a while. Excel is still fairly unusuable with large sheets, we still have to use the formula bar when editing cells with f2 which does not always work if the formula is large, we still can't add comments or use dropdowns. What is Microsoft in conjunction with NVDA doing about this please? as it's just not practical to use Excel in a work en

[2018-10-14 16:16] PratikP1 commented on #7835
AT the very least, "article" should be announced as a container and landmark navigation should allow us to move between areas marked up by this region.

[2018-10-14 16:44] josephsl commented on #8502
Hi, we still haven’t heard from the person who’ve worked on a pull request for this, and I thought someone would do it by now. Thanks.

From: Ednunp <notifications@github.com>
Sent: Sunday, October 14, 2018 9:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete su

[2018-10-14 17:41] ehollig commented on #5342
As we are unable to contact the original author of this issue for more information and exact steps to reproduce, I am going to close this as invalid.

[2018-10-14 17:41] #5342 closed

[2018-10-14 18:04] ehollig commented on #7613
I believe this issue is now fixed in Backup and Sync. I went into the settings and preferences of the program, and checkboxes were correctly announced. CC @derekriemer and @rishsharma to see if it is fixed for them as well.

[2018-10-14 19:56] lukaszgo1 commented on #1506
@michaelDCurran @feerrenrut Are you planning to remove  this command as per [this commend](https://github.com/nvaccess/nvda/issues/1506#issuecomment-155290085). I am asking, because i am considering working on #7338 but if  this command is going to be removed soon i wouldn't waste my time.

[2018-10-14 20:37] bramd opened #8843 "Detect disconnected braille devices and close them immediately"
### Steps to reproduce:

1. Connect a braille display that uses a HwIO based driver
2. Focus some static information so no writes are send to the display. avoid a blinking cursor
3. Disconnect the display

### Actual behavior:

* Usually it takes until the next write for NVDA to see that the display is gone

### Expected behavior:

* NVDA immediately detects the disconnect and terminates the activ

[2018-10-14 20:38] bramd commented on #8843
We might be able to do this by periodically checking if the handle is still valid, for example using `kernel32.GetHandleInformation`.

CC @leonardder

[2018-10-14 20:50] bramd commented on #7727
@MarcoZehe I was doing some tests with an older Focus Blue display today.

When I disconnect the USB cable from this display, it turns off, when I reconnect the cable it turns on and immediately establishes a USB connection. Is this not the case for your newer display?

Another interesting observation with this display is that it switches to a USB connection as soon as the cable is plugged in, eve

[2018-10-14 23:57] Qchristensen commented on #5456
I do include a description as part of the larger description of the Certified Expert certificate.  I think I did include it in In-Process once, but I think it's a great idea to have it as an extended description of the logo on the site.

The NV Access logo is a hollow purple sun shape with 16 points.  8 points are sharp and triangular, coloured in purple.  The purple points alternate between eithe

[2018-10-14 23:58] Qchristensen commented on #5456
Just to separate it to its own comment, here is a description of the NVDA logo I included in In-Process at one point:

"For those wondering, the NVDA logo is a stylised blend of the letters NVDA in white on a square purple background. There is a vertical line on the left with a rounded hook to the right at the bottom as if starting to form the bottom corner of a "D". Then from the top, a straight

[2018-10-15 00:34] Qchristensen commented on #7348
Just looking at this issue again, yes the issue is still present in Excel 365 as at 15 October 2018.  Deleting the comment (Move to the cell with the comment, A21 in the originally linked workbook, press the context menu and press M for delete comment) does speed things up.

With NVDA not running there isn't a slowdown, and also turning off everything in NVDA's document formatting doesn't help (I

[2018-10-15 01:56] Ednunp commented on #7348
Hi Quentin, thanks for the confirmation that these issues are still present. You are indeed correct that removing comments, and also dropdowns, as these are another slowdown does improve things. Excel is still very slow in large sheets of data say over 100 rows and 7 columns wide, but it does help. Sadly however many people especially in my organisation use these,a as I suspect to many others.
Tur

[2018-10-15 03:55] Qchristensen commented on #7877
Although this appears to be a duplicate of #2907 I'd be inclined to keep this one as it seems to have a more up-to-date analysis of the situation.  That said, has anyone had a look at this issue recently?  It is definitely still an issue in Office 365 as at October 2018.

[2018-10-15 04:00] derekriemer commented on #7613
should be kept open until we can figure out how foreground color is changing the role.

[2018-10-15 06:16] leonardder commented on #8843
Hmm, I see your point, but I'm not sure whether checking the handle's status is the right thing to do. Note that when you turn off a Modular Evolution, for example, the handle is still valid. Now this display is probably an exceptional one.

I've also seen several unhandled exceptions thrown by hwIO, such as as part of the _ioDone callback, when the connection to a display was lost. These exceptio

[2018-10-15 07:49] MarcoZehe commented on #7727
It is now with the new try build you just sent. It definitely wasn't the case with the older build from end of September. The newer display takes slightly longer to boot, that is, the time display (new to the newer displays) and the battery status appear a bit later after connecting the cable than with the older displays. We're talking about half to 1 second more.

Yes, this works fine with my dis

[2018-10-15 07:56] DrSooom commented on #225
### Actual NVDA modifier keys in NVDA 2018.3.2:
+ Insert (E0_52)
+ NumInsert/Num0 (00_52)
+ CapsLock (00_3A)
### Expected NVDA modifier keys:
+ Insert (E0_52)
+ NumInsert/Num0 (00_52)
+ CapsLock (00_3A)
+ NumLock (00_45)
+ ScrollLock (00_46)
+ Application (E0_5D)
+ PrtSc (E0_37)
#### Reasons:
+ In my opinion adding those four new keys should be quite easy to implement, as three of them – as far as

[2018-10-15 12:41] Neurrone commented on #7348
The same is true for Word as well, support has deteriorated to a point where it lags when editing documents that you'd encounter in a day to day office environment.

[2018-10-15 12:44] Ednunp commented on #7348
Not clear what is to be done here in that case. It seems that the relationship between NVDA and the Office devs is breaking down if this is happening or if we can't find a resolution. Surely there must be something we can do? I am going to ring the MS disability help desk today though I'm not sure how involved they can get people in these sort of generalised screen reader related matters.

[2018-10-15 13:33] bramd commented on #8843
Yes, the Modular Evolution is a strange case. The power switch disables
the cells and input, but the USB-serial adapter seems to be still
active, however it doesn't reply to the protocol anymore. I just tried
it here and I see it's just not sending ACKs anymore, which is logged
but there is no behavior for many failing ACKs. It would make sense to
extend the generic ACK handling mechanism with a c

[2018-10-15 18:49] bramd commented on #7727
@MarcoZehe Thanks for the feedback. Do you feel this driver still has any regressions from the old one that should be solved before including it in NVDA?

I also read in the documentation that the new generation has a menu button between the braille keys. Is this button only for internal functions, or can it be used in screen readers? If so, can you send me a debug log of a key press/release of th

[2018-10-15 18:55] jcsteh commented on #7498
I rebased the i7498OcSpeechOptions branch in my fork to current master. Unfortunately, with the Windows 10 1809 update (Version 1809 (OS Build 17763.55)), the maximum rate available via this API is still only the normal max rate, not the boosted rates available to Narrator. Furthermore, Narrator's SRH.dll still contains the string "MSTTS.SpeakRate", which is used in the private API to access the b

[2018-10-15 18:55] leonardder commented on #8843
The following is a snippet from @MarcoZehe's log:

[code]

I believe that this is logged as soon as the connection with the display is destroyed, which makes sense, since there is always an async read in progress until either it finishes or it fails. Therefore, I believe we can catch almost every issue like this simply by forwarding errors raised by IoBase._ioDone to a method that calls braille.ha

[2018-10-15 18:56] MarcoZehe commented on #7727
I think this driver is good for a pull request.

The menu button is for internal functions. It is never sent to the screen reader, nothing is added to the log when I press it.

Go for it!

[2018-10-15 19:02] leonardder commented on #8843
[**@bramd**](https://github.com/bramd) commented on [15 Oct 2018, 15:33 CEST](https://github.com/nvaccess/nvda/issues/8843#issuecomment-429853997 "2018-10-15T13:33:29Z - Replied by Github Reply Comments"):

Agreed, as long as the threshold is a property on the driver.

Problem is that it won't detect a modular powering on again, so it might make the behavior even worse for the modular, unless we e

[2018-10-15 19:07] lukaszgo1 commented on #7727
@bramd One thing missing from the old driver are the new assignments  for the Windows+tab and Alt+Shift+tab added in 2018.3. Adding them should be trivial, so maybe worth doing it before opening a pr.

[2018-10-15 19:49] bramd commented on #7727
@lukaszgo1 Sure, I'll add those.

[2018-10-15 21:45] jcsteh opened #8845 "Windows 10 Action Center: Brightness percentage not reported for brightness quick action"
### Steps to reproduce:

1. Ensure the Brightness quick action is enabled for the Action Center. This can be enabled in Settings -> System -> Notifications & actions -> Add or remove quick actions.
2. Open Action Center by pressing Windows+a.
3. Tab to the quick actions and press right arrow until you land on Brightness.
    - Expected: NVDA should report the brightness percentage.
    - Actual: N

[2018-10-15 21:49] jcsteh commented on #5603
Oops. I just opened duplicate #8845. However, I'm going to close this one as a duplicate, as the steps to reproduce are clearer in that issue, as are the technical details of how we can hack around this in NVDA.

[2018-10-15 21:49] #5603 closed

[2018-10-15 23:30] josephsl commented on #8838
Hi, looks like a conflict between two editable text behaviors. I’ll look into this in a few days. Thanks.

From: Kostadin Kolev <notifications@github.com>
Sent: Monday, October 15, 2018 1:25 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Address autocompletion is not read in Microsoft Edge

[2018-10-16 05:07] josephsl commented on #8845
Hi,

I may have been too enthusiastic about this... This work may take a while - at least managed to let NVDA announce item status via state change, but will need to investigate why it is announcing the previous state sometimes.

Thanks.

[2018-10-16 05:45] josephsl commented on #8845
Hi,

Technical: we need to tell NVDA to listen to item status property event from now on, as it can be used for brightness and other quick action toggle announcements.

Pull request to be sent in the next few days.

Thanks.

[2018-10-16 14:49] fernando-jose-silva opened #8847 "new functionality give nvda function similar to nvarrador's scan mode"
### Steps to reproduce:
I was experimenting with the narrator and was impressed with a feature, the scanning mode.
What I realized of great advantages:
Inside configurations just press capslook + space and when navigating with arrows up and below it is possible to read the names of the functions and still get a splint on each function of the configurations (I did not even know that these splinters

[2018-10-16 15:34] gregjozk commented on #8847
Hello,

did you try to use addon objpad from @josephsl ? it implements for modes:
- normal
- object (simular as navigating with object commands
- web mode - usable on the web
- scan mode (simular to Narrator's function)

see https://addons.nvda-project.org/addons/objPad.en.html

[2018-10-16 20:25] RichCaloggero opened #8848 "should focusable children of items marked with aria-hidden="true" not be focusable"
## Feature request / enhancement

Currently, focusable children of elements marked with `aria-hidden="true"` still gain focus via tab.  Seems to me that NVDA should prevent this if possible. The browser cannot do this as it knows nothing about whether a screen reader is running.

[2018-10-16 23:43] valiant8086 commented on #7727
Hi.

It seems to be working ok with bluetooth with my focus 14 5.71. Did not
try USB yet.

1. paired a new computer (litterally) with it. No driver downloaded or
anything, just paired it from pc settings.

2. NVDA didn't just magicly detect it. I turned the display off and back
on and NVDA still didn't grab it. Turned NVDA off and back on and it
worked. I don't know the keybindings for NVDA at thi

[2018-10-17 00:38] Qchristensen opened #8849 "Unhandled Exception / List index out of range error pressing bumper keys on Freedom Scientific Focus 80 Blue Braille display"
### Steps to reproduce:

(Issue reported by a client via email.  Log attached)
[nvda (9).log](https://github.com/nvaccess/nvda/files/2485403/nvda.9.log)

1. Open notepad with text which stretches over a line.
2. Press the right bumper bar down to scroll forward through text.

### Actual behavior:

Exception generated, front panel keys on display stop working.
Additional text not read.

### Expecte

[2018-10-17 02:40] a-singer commented on #225
I agree with what you say above, and this is just why I wish to have the key configurable by the user, rather than even an expanded list. Obviously, I wouldn't mind a hidden option either with or without an expanded list. My difficulty is just the very large number of keyboard layouts and use cases out there. None of the keys you suggest above would work for my use case, since they wouldn't be sen

[2018-10-17 07:03] dnz3d4c opened #8850 "add support OneNote store APP"
### Steps to reproduce:
1. Open OneNote UWP APP
2. Try switching to browse mode.
### Actual behavior:
- You can not toggle browse mode and focus mode.
### Expected behavior:
- You must be able to toggle browse mode and focus mode, and browse mode should be able to navigate documents using the quick navigation key.
- # 8300, # 8301, # 8302 I think the issue needs to be fixed. I think many OneNote u

[2018-10-17 07:44] Qchristensen opened #8851 "When selecting text, NVDA reports "1023 characters selected" in Visual Basic editor when more characters are selected"
### Steps to reproduce:

1. Open Excel, a blank workbook is fine.
2. Open the Visual Basic Editor (alt+L then V)
3. If using a blank workbook, copy more than 1023 characters from anywhere else (it doesn't have to be code for this).
4. Press control+a to select all.

### Actual behavior:

NVDA reports "1023 selected".

### Expected behavior:

NVDA should report the actual number of characters selec

[2018-10-17 12:47] DrSooom commented on #225
To prevent user from misconfiguration a list would be the easiest solution via the GUI.

But I also can understand, that for some users ESC (00_01) or F1 (00_3B) to F12 (00_58) would be a better NVDA modifier key. But if we implement F1 to F12 as an available option, we need to implement routines to automatically changes some input gestures. And that makes this so complicated.

Furthermore, on the

[2018-10-17 16:51] fernando-jose-silva commented on #8239
[w10.txt](https://github.com/nvaccess/nvda/files/2488417/w10.txt)
My guess is that this problem occurs in nvda when using software for a long time or by charging the use of resources in windows.
I do not have this backup software installed and I have these problems in explorer mainly after upgrading to windows 10 1809.
Attach another log.

[2018-10-17 20:53] bramd commented on #8849
@Qchristensen Thanks for the bug report. Could you please try this NVDA build: https://ci.appveyor.com/api/buildjobs/qqr2tq2m3ncljmfy/artifacts/output%2Fnvda_snapshot_pr1234-6%2C2194af16.exe

I recently did a rewrite of the Freedom Scientific driver and I hope the issue is fixed in this driver. If not, could you please submit a new log so I can fix this before the new driver lands in NVDA? By the

[2018-10-17 20:58] bramd commented on #8729
@jasonjgw Could you try this build with your Focus display: https://ci.appveyor.com/api/buildjobs/qqr2tq2m3ncljmfy/artifacts/output%2Fnvda_snapshot_pr1234-6%2C2194af16.exe

It is not signed and might give a warning on opening it and I don't recommend to install this build. This contains a rewritten Freedom Scientific braille driver that might solve your issue.

[2018-10-17 21:07] bramd commented on #8053
Many of these keys require layered key combinations, where a certain key can be simulated by pressing a series of braille commands. We don't have good support for this right now.

Also, we don't have support for functions combining routing buttons with other keys. This should be implemented in a more generic way for all braille displays. I would be glad to revisit this issue and implement the key

[2018-10-17 22:55] a-singer commented on #225
That is certainly true, but a documented hidden option, as suggested by @jteh would have the best of both worlds. I respectfully agree that it should not be possible, through user error, to end up with no NVDA key or a mess which causes commands to be impossible to give to the PC through any keyboard.

Wouldn't this be very complicated, if I may ask? It would have to be checked, if new or custom l

[2018-10-18 08:51] mush42 commented on #7877
Currently I am using a fork of Power Talk I've modified, and it works well with my specific use case.
I intend to port those features to NVDA, but I am too busy to do it.

[2018-10-18 09:04] amirsol81 commented on #5909
Hi all,

May I renew the request to make NVDA capable of reporting the text of the current footnote, and also the current endnote, via a hot key?
I'm currently using MS Office 2016, and without this feature using MS Word with NVDA is a blow to my productivity especially when it comes to handling/reading footnotes/endnotes efficiently. With JAWS and an older release of Office I used to be able to a

[2018-10-18 12:53] DrSooom commented on #225
The list of available keys has two parts: a global firm one and a localized one.
+ Firm keys: Insert, NumInsert, CapsLock, NumLock, ScrollLock, Application, PrtSc
+ If desired those additional firm keys: ESC, RightSCTRL, RightWIN and F1 to F12
Note that PrtSc, ESC, RightCTRL, RighWIN and F1 to F12 are already used for hotkeys. This must be mentioned in the NVDA User Guide.
+ Localized German (DE-D

[2018-10-18 16:43] ehollig commented on #5456
@Qchristensen thank you for the reply. Is this something that could be considered as a long description for an image on the site? I do think that text that you provided above may be too long for alt text for an image, but considering other ways to express this information would be u8seful so everyone is able to enjoy the NVDA Logo.

[2018-10-18 16:58] ehollig commented on #7707
Closing for now, as requested in https://github.com/nvaccess/nvda/issues/7707#issuecomment-429505712

[2018-10-18 16:58] #7707 closed

[2018-10-18 17:00] ehollig commented on #3267
Given this synth has not had any updates lately, I am going to close this issue.

[2018-10-18 17:00] #3267 closed

[2018-10-18 17:08] abdel792 opened #8854 "In VLC Media Player version 3.0.4, NVDA + pavNum5 pressed twice or three times raises an error"
With VLC Media Player version 3.0.4, we notice the following bug that we were able to reproduce with the version 2018.3.2 and 2018.3.1, we have not tested with previous versions of NVDA

Steps to Reproduce:

Open VLC Media Player version 3.0.4.

Press NVDA + pavNum5 twice or 3 times.

Expected behavior:

The name of the object under the navigation cursor should be spelled or copied to the Clipboar

[2018-10-18 22:00] howardgld commented on #8849
@bramd
I tested with your build and while there are no more unhandled exceptions the problem is not really solved. Now when I press RightBumperBarDown nothing happens except that I get an odd tone. The front panel keys no longer lock up so that's an improvement.

I think that we're really looking at the wrong issue here. What seems to be happening in your build as well as in the released version i

[2018-10-18 22:41] DavidApps2 opened #8855 "Unable to read the edit field labels for the file properties in Microsoft Excel and Microsoft Word"
When I view or edit the file properties in Microsoft Excel or Microsoft Word (File > Info), NVDA does not read the labels for the edit fields for the properties ("Title", "Tags", and so on).

### Steps to reproduce:
1. In Microsoft Word, open a document or create a new blank document.
2. Press Alt+F, I to open the file info page.
3. Press Tab. NVDA says "Protect Document grouping Protect Document

[2018-10-19 07:18] Mahmood-Taghavi opened #8856 "HTML "lang" & "dir" attributes are missing in the NVDA documentations for some languages"
NVDA documentations are HTML files that translated into many languages.
Unfortunately, "lang" & "dir" attributes are missing in NVDA docs for many languages.
The HTML documentations files are: "changes.html", "keyCommands.html", and "userGuide.html".
The "LANG" attribute helps NVDA to determine the language of documentation and always use the correct synthesizer.
The "DIR" attribute has the defaul

[2018-10-19 07:41] k-kolev1985 opened #8857 "Handle checkable list view controls as list views with columns"
### Steps to reproduce:
1. Install the "Add-on Updater" add-on, since as far as I know, for the time being that is the only component for NVDA that has the new checkable list view controls with multiple columns.
2. Make sure that you have at least 2 add-ons that require updating.
3. Check for updates for your installed add-ons, by going to NVDA menu -> Tools -> Check for add-on updates.
4. When th

[2018-10-19 08:05] leonardder commented on #8857
This is probably a one liner to accomplish and could best be combined with #8554. However, it will change the look and feel for these lists a bit. I.e. instead of
- Downloaded Program Files check box checked 0 bytes 1 of 10
It would be
- Downloaded Program Files; 0 bytes check box checked 1 of 10

This could get more complex for lists with more columns. I'd be an advocate of this change, though.

[2018-10-19 10:21] Mahmood-Taghavi opened #8859 "some elements (button & combo box) are visually invisible in the NVDA user interface!"
### Steps to reproduce:
#### Notes:
1. These elements exist in the NVDA user interface and work fine and also seemly located in the correct positions (I only checked with "focusHighlight-5.3.nvda-addon") but they are visually invisible for Right-To-Left languages. But this causes serious difficulty for partial sighted users and developers that use NVDA for checking the accessibility of their desig

[2018-10-19 14:49] fernando-jose-silva opened #8860 "nvda does not read accented characters when using the synthesizer voices windows one core"
### Steps to reproduce:
Change the language of windows to Portuguese Brazil including the voices of windows one core.
Change the language of nvda to Portuguese Brazil.
I do not know if assemblies are required for other languages the configuration above reflects the one used on my machine.

I change the voice synthesizer to windows one core, I'm using microsoft voice microsoft Maria or microsoft Da

[2018-10-19 14:53] PratikP1 commented on #8860
Could you try to reproduce this problem with Narrator and let us know if OneCore voices still exhibit this behavior? If they do, I will follow up with Microsoft. As my command of Portuguese is not good enough, I do not believe I can reproduce this myself. Thank you.

[2018-10-19 18:07] fernando-jose-silva commented on #8860
Thank you very much.
I did some tests, and with the narrator the problem also exists.

[2018-10-19 20:06] PratikP1 commented on #8860
I have submitted the following feedback. https://aka.ms/AA2yybw

This issue should be closed as Microsoft Most probably needs to fix OneCore behavior.

[2018-10-20 10:44] pitermach opened #8861 "Typing in Google Docs in Chrome with braille display connected throws errors"
### Steps to reproduce:
- Connect a Braille display
- Open a file or make a new one in Google Docs
- Turn Braille Mode on in Google Docs
- Start typing
### Actual behavior:
Every few characters an error sound is triggered and the following messages get logged repeatedly:
ERROR - core.CorePump.run (12:29:04.288):
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyc", l

[2018-10-20 19:08] jasonjgw commented on #8729
I can confirm that the snapshot works with my display. Unfortunately, some functionality (e.g., browse mode in Google Chrome) is not working, which makes it difficult to test this build extensively in my daily work.

When there's a version incorporating the rewritten driver that is more stable, I'll do more extensive testing to try to reproduce the issue.

[2018-10-21 13:03] bramd commented on #8729
@jasonjgw Thanks for your feedback. Browse mode in Chrome should work with this build, it might be necessary to restart Chrome after starting this NVDA build. Please have a look at PR #8853 for the latest builds with this driver.

[2018-10-21 13:11] xtstoll opened #8862 "Letters shown as numbers on screen when using braille display Orbit Reader 20 in Portuguese Grade 1"
### Steps to reproduce:
1. Connect braille display Orbit Reader 20 to computer using a USB cable.
2. Configure NVDA to recognize the braille display (Preferences > Settings > Braille).
3. Configure NVDA for input and output braille tables in Portuguese, Grade 1.
4. Open Notepad and type a b c d e f g h i j using the braille display.

### Actual behavior:
The letters output correctly on the braille

[2018-10-21 13:51] bramd commented on #8849
@howardgld Yes, I think the list mapping key codes to names was missing an empty value, which made all bumper keys (at the end of this list) off by one. I don't have a model with bumper keys to test, could you please give this build a try:

https://ci.appveyor.com/api/buildjobs/3tgw2yll5s5xyq7f/artifacts/output%2Fnvda_snapshot_pr8853-16178%2Cf17e4730.exe

[2018-10-21 15:20] michal-dziwisz opened #8863 "NVDA virtual buffer doesn't fuly load text files in Google Chrome"
### Steps to reproduce:
In Google Chrome press CTRL+o and open text file, may be the attached one.
### Actual behavior:
Nvda loads only portion of file, in atached example 9503 from 11398 characters
### Expected behavior:
Nvda loads all file content to the buffer
### System configuration:

#### NVDA Installed/portable/running from source:
Instaled
#### NVDA version:
NVDA 2018.3.2
#### Windows vers

[2018-10-21 20:08] lukaszgo1 commented on #949
I am still able to reproduce it with Office 2010.
## str:
1. Download attached file.
2. open it and start say all.
3. stop say all with CTRL key and press alt+f4.
Word asks about saving changes, but nothing has been modified.
[plan Informatyka_licencjat v.1.1.docx](https://github.com/nvaccess/nvda/files/2499568/plan.Informatyka_licencjat.v.1.1.docx)

[2018-10-21 21:50] ironcross32 opened #8864 "SKype 8 crashing with NVDA"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions:

#### Does the issue still occur after restarting your PC?

#### Hav

[2018-10-21 22:09] ironcross32 opened #8865 "Skype 8 crashing NVDA and itself"
NVDA crashes hard, a windows error sound plays. NVDA does not restart itself and must be restarted manually. Upon restart, the Skype window is unresponsive and must be closed using the windows dialog for programs in such a state.

### Steps to reproduce:
Open Skype 8, select a group chat and begin to browse the messages with d and shift D for landmarks, as that is a very convenient way to do it in

[2018-10-21 22:20] Brian1Gaff commented on #949
Yes  been going on for years. I was wondering if it might be the way something is hooked into a routine that is doing it, but the problem is, it is not every file that  gets the issue.
 Brian

[2018-10-21 22:24] Brian1Gaff commented on #8862
That would mean the display driver software is not converting things correctly going back to the computer, surely?
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows XP machine!
  ----- Original Message -----
  From: Cristina Stoll
  To: nvaccess/nvda
  Cc

[2018-10-21 22:42] ehollig commented on #8864
Duplicate of #8865

[2018-10-21 22:42] #8864 closed

[2018-10-21 22:44] ehollig commented on #8865
Duplicate of #8813

[2018-10-21 22:44] #8865 closed

[2018-10-22 02:01] jcsteh commented on #7498
I've updated my branch to gracefully handle older versions of Windows 10 where these features aren't available.

[2018-10-22 02:08] ehollig commented on #1506
Looking at this issue, is NVDA+F1 documented somewhere? Should this command be documented in 12.1 in the user guide? How about the commands quick reference?

[2018-10-22 02:26] jcsteh commented on #7498
I'm not sure whether there was something weird on my system or I tested something incorrectly. Previously, the rates available to Narrator were vastly different to those available in the normal system speech settings; 100% in Narrator was completely unintelligible due to how fast it was. Now (perhaps due to me recently resetting Narrator's voice), they're equivalent. Furthermore, 100% in current N

[2018-10-22 03:09] Qchristensen opened #8870 "Report when predictive text suggestions are available in Windows 10"
### Steps to reproduce:

Firstly turn on text suggestions:
1) Press WINDOWS then type "Show text suggestions as I type" and press ENTER.
2) TAB down to the hardware keyboard options and check "Show suggestions as I type" (there is also an option to "autocorrect misspellings as I type" which I will address in a separate issue)

Next, bring up the suggestions:
1) Open Word, Notepad, Mail or many oth

[2018-10-22 03:22] Qchristensen commented on #8870
Having written that up, I realised that while it doesn't play a sound to let you know suggestions have appeared, it IS now reading the first word automatically (there are a couple of random instances where it doesn't, which evidently I had encountered before writing this issue up).

So, now I can close this issue I just created, and everyone can go about the rest of their day normally...

[2018-10-22 03:22] #8870 closed

[2018-10-22 04:25] Otobelikethee opened #8871 "Duplicated"
### Steps to reproduce:
1. Open this [demo](https://jsbin.com/kazapid/edit?js,output) in Firefox (Windows).
2. Press `announce polite message` button.

### Actual behavior:
Not spoken for the fist time.

### Expected behavior:
Should announce the content for the first time.

### System configuration:
#### NVDA Installed/portable/running from source:
Installed

#### NVDA version:
2018.2.1

#### Win

[2018-10-22 04:28] Otobelikethee opened #8872 "[Firefox] The content in the aria live region cannot be announced for the first time"
### Steps to reproduce:
1. Open this [demo](https://jsbin.com/kazapid/edit?js,output) in Firefox (Windows).
2. Press `announce polite message` button.

### Actual behavior:
Not spoken for the fist time.

### Expected behavior:
Should announce the content for the first time.

### System configuration:
#### NVDA Installed/portable/running from source:
Installed

#### NVDA version:
2018.2.1

#### Win

[2018-10-22 05:07] Otobelikethee opened #8873 "[Firefox] The content in the aria live region cannot be announced for the first time"
### Steps to reproduce:
1. Open this [demo](https://jsbin.com/kazapid/edit?js,output) in Firefox (Windows).
2. Press `announce polite message` button.

### Actual behavior:
Not spoken for the fist time.

### Expected behavior:
Should announce the content for the first time.

### System configuration:
#### NVDA Installed/portable/running from source:
Installed

#### NVDA version:
2018.2.1

#### Win

[2018-10-22 09:30] #8871 closed

[2018-10-22 09:31] Otobelikethee commented on #8871
Duplicated

[2018-10-22 09:35] Otobelikethee commented on #8872
Duplicated

[2018-10-22 09:35] #8872 closed

[2018-10-22 11:05] ruifontes commented on #4708
Still happens...
It seems that pressing spacebar does nothing...

[2018-10-22 14:13] PratikP1 commented on #7498
@jcsteh wrote:

Practically speaking, does this mean that the pauses will be shortened between certain punctuation marks and the beginning of the next content?

[2018-10-22 16:31] smtsh commented on #638
I am a sighted user of Persian (one Right-To-Left or RTL language), also I have some familiarity with Arabic, and I recently checked the user interface of NVDA in the Hebrew language.
It seems that the current version of NVDA supports RTL view in all dialog boxes correctly (except for the NVDA menu that does not support RTL yet, and the important issue that revealed in the bug number of #8859).
No

[2018-10-22 16:44] smtsh commented on #638
More explanation about the previous comment with a picture of Arabic windows:
https://docs.microsoft.com/en-us/globalization/localizability/mirroring-awareness

[2018-10-22 18:18] howardgld commented on #8849
@bramd
I'm happy to report that the bumper keys work correctly with this new build. I'm looking forward to seeing this fix in the next release. Thanks very much!

[2018-10-22 18:39] ironcross32 commented on #8813
This also happens to me, and on another machine as well, but this time, it was on YuTube, so there may be a deeper issue with landmark navigation.

[2018-10-22 21:49] Qchristensen opened #8875 "Feature request: Always announce negative numbers in Excel"
### Steps to reproduce:

In Excel, numbers (and any information) are reported by NVDA as they are displayed. Generally this is desirable.  One instance which may cause confusion is where negative numbers are indicated solely by colour.

1) Open Excel.
2) Type a negative value in a cell, eg -18
3) On that cell, press CONTROL+1 to open cell formatting.
4) On the "Number" page (the first page), press

[2018-10-23 00:54] michaldziwisz commented on #7224
@ehollig yes, problem still exists.

[2018-10-23 14:02] frastlin opened #8876 "Firefox Web Console does not read Javascript Objects in Quantum"
### Steps to reproduce:

[Here is a video of me demonstrating this issue](https://youtu.be/2_YUL2WHFuE)

1. Open a page on Firefox Quantum
2. press F12 to open the web console (If web console is not announced, press escape until it is announced)
3. In the edit box type:

    obj = {a: 1, b: 2}

Then hit enter. You will hear the object announced with all its properties.
4. Type obj and hit enter. Y

[2018-10-23 14:45] Brian1Gaff commented on #8875
Yes, if you save something like this as static csv, one supposes it has to
be converted back to - then at any rate.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2018-10-23 15:03] DrSooom commented on #8876
CC: @michaelDCurran, @MarcoZehe and @jcsteh

[2018-10-23 16:16] ehollig commented on #7224
I am not able to reproduce this issue. I performed the following steps:

1. Go to http://www.autos.com.pl/pl/oddzialy/polska in Chrome
2. Press C to go to the next combo box.
3. Press alt+down arrow.
4. Select the third item in the list and press enter.

Are these the steps you took or slightly different?

[2018-10-23 18:09] PratikP1 commented on #7224
@michaldziwisz Did you press enter when you landed on the combo box? It is necessary to enter focus mode before interacting with the combo box. I got the same results as @ehollig.

[2018-10-23 18:21] PratikP1 commented on #8876
In the latest nightly of FF 65, I get the following output

[2018-10-23 18:34] frastlin commented on #8876
was that first log from you pressing enter from obj? or from you defining obj?
I wish there was an easy way to test Firefox Nightly while still keeping my stable version.

[2018-10-23 20:02] PratikP1 commented on #8876
Testing it again, you’re right. The first log is from defining the object. I’m wondering, however, whether the same information is supplied to all. In other words, is this a NVDA issue or a Firefox issue? I have nightly and the regular release of Firefox installed on this machine. I’m  running both of them without a problem.

[2018-10-23 21:18] Qchristensen commented on #8875
I can't answer the question about whether Microsoft expose the underlying number - to be honest, I think unless they do, this issue would require too much overhead.  And if they do, then we would need to ensure we still read other numbers as they were displayed, for instance, underneath the formatting, times and dates are actually just numbers - if you insert the date 24/10/2018, then change the c

[2018-10-23 22:45] jcsteh commented on #8876
It's (at least partially) a Firefox issue. Objects are displayed in a tree view for easier inspection. This is a very small object, but an object could easily be hundreds of lines long. However, that tree view is not currently keyboard navigable. That's covered by [Mozilla bug 1424159](https://bugzilla.mozilla.org/show_bug.cgi?id=1424159).

Even once that's fixed, there's an open question as to wh

[2018-10-24 01:16] Otobelikethee commented on #8873
CC: @jcsteh

[2018-10-24 02:16] ironcross32 commented on #8813
This happened again on a fresh install of win 10 for unrelated issue, and it crashed so bad it crashed explorer and I had to sign out to get access again. I don't know which side is at fault here, or some strange interaction between the two, but this has the potential to be bad.

[2018-10-24 02:18] jcsteh commented on #8873
Live regions are about reporting updates to the content inside them. In this case, the live region didn't exist when the first text was added, so this isn't an "update". That might seem counter-intuitive, but to explain this from a practical perspective, if NVDA reported the entire content of live regions when they are created, that would potentially result in a huge amount of verbosity when the p

[2018-10-24 07:44] mohdshara commented on #638
thanks @smtsh for summarizing the impact. Maybe related to this is your ticket #8865
@feerrenrut is this enough for you to give this a priority?

[2018-10-24 16:05] lukaszgo1 opened #8877 "Braille fails to work when used in triggered profile after closing Windows Explorer"
### Steps to reproduce:
1. Create a triggered profile for notepad, set a braille display in it in my case Focus 40 Blue and ensure that it is active only in this profile.
2. Open Windows Explorer with Windows+e.
3. Close it with alt+f4 focus lands in notepad.
### Actual behavior:
Braille display fails to work and the following is written in the log.
Loaded braille display driver freedomScientific,

[2018-10-24 17:47] dkager commented on #8877
To clarify:
* Do you also experience this problem if you go from another program to Notepad, say from WordPad or Calculator or Paint, etc?
* Do you have this particular braille display selected in the braille profile or did you choose auto-detection?

[2018-10-24 18:00] dkager commented on #8862
My first guess was a problem in the Portuguese Grade 1 braille table from liblouis, but the table looks fine to me.
Could you post a comment where you describe which dots you type on the braille display, what comes out on the display and what you see on screen (and what your speech synthesizer announces)?

[2018-10-24 18:02] dkager commented on #8851
I think @leonardder knows something about this limitation.

[2018-10-24 18:13] dkager commented on #8843
Both braille display drivers I tried so far (Brailliant and ALVA BC6) throw errors immediately when unplugging the display. The rationale for not catching them was that in release builds nobody notices these errors.

Maybe for USB devices there is also a message/event generated by Windows upon removal?

[2018-10-24 18:16] dkager commented on #8840
Is this while using MathPlayer?

It seems that the problem is a lack of braille output for multi-line expressions, rather than no Nemeth support at all. If so, the issue title should be updated to reflect that.

[2018-10-24 18:18] lukaszgo1 commented on #8877
@dkager wrote

No it fails only when closing Windows Explorer and previously opened window was the app with an active braille display.

The display in question is Focus 40 Blue, so it cannot be autodetected. The display is selected. I've tested with the new native driver and when display is selected in the profile explicitly it fails as well, but when it is set to autodetect everything is working

[2018-10-24 21:08] fernando-jose-silva opened #8878 "nvda not correctly read the words typed in the power shel"
### Steps to reproduce:
I've opted out of speaking characters typed in nvda, the option to speak typed words is enabled.
Dynamic content ads are also enabled.
Open windows power shel.
Enter a word in the test case
Press Space
nvda should announce the word typed in the test case.
What happens is that the nvda read only the first letter t.
now type another word
I tested again.
Now with every typed c

[2018-10-25 01:39] xtstoll commented on #8862
@dkager - For example...

Braille display = dot 1 (which is a)
Screen = 1
Audio = 1

Braille display = dots 1 and 2 (which is b)
Screen = 2
Audio = 2

Braille display = dots 1 and 4 (which is c)
Screen = 3
Audio = 3

etc. etc. etc.

[2018-10-25 01:46] xtstoll commented on #8862
@dkager I just looked at the [latinLetterDef6Dots.uti table](https://github.com/liblouis/liblouis/blob/master/tables/latinLetterDef6Dots.uti) which is the reference for these letters, and I don't see any problem. The weird thing is this does not happen with TalkBack or VoiceOver, but it does with NVDA.

I'm going to reach out to another blind person here in Brazil that has an Orbit Reader 20 to se

[2018-10-25 06:50] jcsteh commented on #8873
Thanks for the additional details. I think what's happening here is that because the creation and update of the live region happens in quick succession, the accessibility engine is "coalescing" these events. Normally, coalescing events is a good thing - there's no point in firing update events if a client didn't know about the object previously - but for live regions created in this way, it's prob

[2018-10-25 06:51] jcsteh commented on #8873
It seems Chrome is affected in the same way.

[2018-10-25 07:12] Qchristensen opened #8880 "Feature change: Set log level to debug on Alpha (& try build) snapshots"
Currently, the log level defaults to "Info" on any temporary copy of NVDA (setup file, etc).  Since the point of alpha and try builds is problem-solving and testing, it would be useful to have the log level set to debug by default on alpha and try builds only.  On RC and stable builds definitely info log level is fine (and I could be swayed either way on "Beta" builds).

This would also allow easi

[2018-10-25 07:18] leonardder commented on #8880
This would mean that the default config spec differs for try/alpha builds and other builds. This sounds a bit complex to accomplish. I'd say we certainly do not want to enforce debug logging upon Alpha builds.

[2018-10-25 07:40] leonardder commented on #8880
Ah, I think I should have pointed out that I really agree with your proposal here, I was just only viewing it from a technical perspective when I replied initially.

Furthermore, I realised that it isn't at all as complex as I thought. I think we could actually do something in the config spec that is based on the buildVersion.isTestVersion value. We are already using string formatting on the confi

[2018-10-25 08:11] Brian1Gaff commented on #8880
As a matter of interest, what would be the implications to having full
logging all the time. Does it slow things down or something. I have to say
I've not noticed it and I always have it set to debug.
 Also as I have said before, it might be interesting to have a setting on
release versions to turn on error sounds, obviously normally off, so it can
help users with odd issues to look at log files

[2018-10-25 09:43] Qchristensen opened #8881 "recognizer not found"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions:

#### Does the issue still occur after restarting your PC?

#### Hav

[2018-10-25 09:44] #8881 closed

[2018-10-25 10:43] ruifontes commented on #8862
Hello!

The Braille portuguese authority is working, near LibLouis, to correct
that and other problems...

Best regards,

Rui Fontes
NVDA portuguese team

Às 02:46 de 25/10/2018, Cristina Stoll escreveu:

[2018-10-25 11:09] dkager commented on #8862
Thanks for your feedback. What happens when you write 1 2 3 using the keyboard on your PC? I tried this with the Portugese Grade 1 table and the numbers got a number sign in front of them, so they don't look like letters. This makes me think that if you enter numbers they will not come out as regular letters or vice versa, even if you enter them through a braille display. I bet I'm missing somethi

[2018-10-25 16:16] RichCaloggero opened #8882 "Hang when editing commit message in tortoise git"
### Steps to reproduce:
1. start a commit in tortoise git
2. type two characters (say "x" and "y")
3. press left arrow and hear "y" spoken
4. press left arrow again and NVDA hangs

In most recent version (2018.3.2) the hang is aprox. 10 or 20 seconds, after which time nvda becomes responsive again. Previous version tested (2018.2.1) would hang possibly forever.

Testing with Jaws-2018 does not exh

[2018-10-25 16:58] PratikP1 commented on #8878
I can verify this. Along with not reading the word after it’s typed, NVDA announces the first letter of the word currently being typed or the first letter of the word that was just typed. NVDA also does not announce if text is selected when typing.

[2018-10-25 22:52] ehollig commented on #8856
CC @josephsl. Is it the responsibility of the translator to include the locale.t2tconf file for their particular language?

[2018-10-25 23:48] ehollig commented on #5496
@leonardder attached is the HTML file from the code provided in the original description. If I tab from link to link and activate one of the links in the image map, it opens the corresponding website. I am not able to reproduce this issue using alpha-16188.
[issue5496.html.txt](https://github.com/nvaccess/nvda/files/2517123/issue5496.html.txt)

[2018-10-25 23:52] ehollig commented on #5546
I am going to close this as we have not heard from @netblue44 and others on if this issue still exists. I am not able to reproduce this in notepad either as @leonardder and @jcsteh have expressed.

[2018-10-25 23:52] #5546 closed

[2018-10-25 23:59] ehollig commented on #5616
@rbmendoza could you respond to @leonardder's question in https://github.com/nvaccess/nvda/issues/5616#issuecomment-315822020

[2018-10-26 00:08] ehollig commented on #5951
@leonardder, now that the above issues have settled down, is it worth bringing the attention of this issue up again?

[2018-10-26 00:11] ehollig commented on #6327
Any updates for this issue to anyone who has commented here? Have you noticed this? I do not believe I have.

[2018-10-26 00:13] ehollig commented on #6251
Closing as invalid, as we have not heard from the original author of this issue in over 2 years.

[2018-10-26 00:13] #6251 closed

[2018-10-26 00:28] ehollig commented on #6080
Unfortunately, we have not heard from the original author of this issue in over 2 years, and additional information, such as an example website to use, as well as a debug log to look at has been requested but not provided. Closing as invalid for now, unless we are able to get the requested information to proceed with this issue.

[2018-10-26 00:28] #6080 closed

[2018-10-26 00:32] ehollig commented on #6803
Unfortunately, we still require more information to understand the scope of this issue. As we have not heard from the original author in over a year, I am going to close this as invalid.

[2018-10-26 00:32] #6803 closed

[2018-10-26 00:33] ehollig commented on #6751
@leonardder can you provide any updates?

[2018-10-26 00:41] ehollig commented on #6666
Unfortunately, @jcsteh and I am not able to reproduce this issue. Furthermore, it appears the site has changed, as I am not able to find the text, "Steigerhouten" on the page. In addition, we have not heard from the original author in over a year and a half. Closing as invalid.

[2018-10-26 00:41] #6666 closed

[2018-10-26 00:50] ehollig commented on #4444
Thanks to René in [this message](https://nvda.groups.io/g/nvda/message/49700), it sounds as if this has been changed in Thunderbird. Closing

[2018-10-26 00:50] #4444 closed

[2018-10-26 01:43] Otobelikethee commented on #8873
OK, I don't test Chrome any more because the aria live region stops working since I upgraded chrome to version 69.

Related Issue: [a11y: differences in verbalization between aria-live polite and aria-live assertive](https://bugs.chromium.org/p/chromium/issues/detail?id=869708&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modifie

[2018-10-26 02:07] Otobelikethee commented on #8873
haha.. The browsers refresh their screens 60 times a second. So, a delay of 16ms is enough to closely match 60fps.

[2018-10-26 06:30] Otobelikethee commented on #8873
I have tried to use `RequestAnimationFrame` API to make sure the creation and update of the aria live region happen in sequence at the browser level. And I need to fire another delay timer to separate them at the accessibility engine level.

[2018-10-26 07:05] Brian1Gaff commented on #8882
I agree old versions should have a direct link to their page from somewhere
obvious on the web site.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2018-10-26 08:14] gdata1 opened #8883 "Problem with Notification Center"
Hello. In Windows 10 18262 and above, Nvda often does not function in the notification center.
1.open the Notification Center.
2. Start navigation using the ARROW keys and TAB key.
Nvda can be silent.
Repeat the problem is not constant but frequent.
Restarting Nvda helps.windows. windows 10 18267. nvda alpha-16188,ceafcdd3

[2018-10-26 14:45] epatpol commented on #5825
Any workarounds you guys have to force NVDA to read the focused element when it's replacing something?

[2018-10-26 14:58] DrSooom commented on #8880
If you change the default logging level to "Debug", you must inform the user about this on startup. Maybe the end user isn't familiar with the differences between the different release channels, so he could think that the logging level would be set to "Info" even on alpha and try builds. Otherwise that could end into a security and privacy issue.

Personally, the idea isn't bad. For testers only i

[2018-10-26 15:17] DrSooom commented on #8880
I have another idea to solve this: Is it possible that the installer looks for a file called "alpha.log" (or so) in "C:\Users\[Username]\AppData\Roaming\nvda"? If the file exists, the temp version of NVDA will be started automatically with the logging level set to "Debug", otherwise with the default logging level value. The file "alpha.log" itself can be empty here – an empty text file to be exact

[2018-10-26 15:28] josephsl commented on #8880
Hi, any program can create “alpha.txt”, or in some cases, one can delete it, fooling the installer into thinking that info level is sufficient. Thus I’m sort of hesitant regarding this one. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Friday, October 26, 2018 8:18 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvd

[2018-10-26 15:31] DrSooom commented on #8882
Download-Link to NVDA 2018.1: https://www.nvaccess.org/download/?nvdaVersion=2018.1

Sadly https://www.nvaccess.org/files/nvda/releases/ is forbidden (error 403).

[2018-10-26 15:37] jscholes commented on #8880
This proposal makes me a bit uncomfortable.  I can certainly see the benefit of having debug logging enabled by default for investigating staartup issues or problems that are difficult to reproduce reliably.  On the other hand, the debug log is not context aware and thus will contain a lot of sensetive information if left enabled for the lifetime of the session.  It in effect turns NVDA into a key

[2018-10-26 15:51] DrSooom commented on #8880
What do you think about a new DWORD value in the Windows Registry in "HKEY_LOCAL_MACHINE\SOFTWARE\nvda" and in "HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\nvda"? But I don't know if the installer can read information from the Windows Registry without admin privileges.

[2018-10-26 15:55] jscholes commented on #8880
It's reasonable to assume that a number of users run snapshot or try builds as portable copies, while keeping a stable version for their main installation.  So if this does get implemented, touching the registry isn't appropriate.  Nor should it be necessary; as @leonardder mentioned it should be possible to handle this in the config spec.

[2018-10-26 15:55] josephsl commented on #8880
Hi, same problem as file approach: someone can add or delete this reg key while the installer is running or not, either by human means or through registry API. In short, although it is important to think about human-centered approach, we should never forget that there might be hurdles when it comes to bringing a feature into reality, and be prepared to examine possible (if not all) scenarios (as i

[2018-10-26 15:56] tspivey commented on #8880
I agree with @jscholes, and would prefer not to have my debug logs written to disk all the time when running a snapshot.
To solve this, I propose the following:
Keep debug messages in memory for x amount of time, say 30 seconds to a minute, and provide a way of accessing them.
This would be in addition to whatever logging level the user has set.

[2018-10-26 16:06] DrSooom commented on #8880
@jscholes: You are right. My failure.

Is it possible to start the Installer with a parameter which will change the logging level via an additional parameter for the nvda.exe, which must be copied to the temp folder first by the installer itself)?

[2018-10-26 16:12] lukaszgo1 opened #8884 "Impossible to find download link for NVDA 2017.3 on nvAcces website."
### Steps to reproduce:
1. open nvaccess.org
2. Click on download.
3. Try to find download link for 2017.3 to be able to use NVDA on Windows XP, Vista or 7 without SP1.
### Actual behavior:
No link for version 2017.3
### Expected behavior:
the file should be available for download like it used to.
### System configuration:

#### NVDA Installed/portable/running from source:
N/A
#### NVDA version:
N

[2018-10-26 16:34] DrSooom commented on #8884
Download-Link to NVDA 2017.3: https://www.nvaccess.org/download/?nvdaVersion=2017.3

Sadly https://www.nvaccess.org/files/nvda/releases/ is forbidden (error 403).

[2018-10-26 16:36] lukaszgo1 commented on #8884
@DrSooom thanks, I am not saying, that i am unable to find it. I am just pointing out, that the link should be available on the website.

[2018-10-26 16:54] DrSooom commented on #8884
Yep, that would be very nice. A list of all releases and a direct link to NVDA 2017.3 for XP/Vista users.

@michaelDCurran: Could you please add a .htaccess file with the following content into the folder I mentioned above and link to this folder on the download page?

[2018-10-26 16:58] gdata1 commented on #8883
Yes. I have to introduce this.

[2018-10-26 17:05] chris-wassenaar-at-kiran opened #8885 "Checkbox Label read twice when 'position: relative'"
If a checkbox is inside a label that has 'position: relative' on it, when you tab to the checkbox the label is read twice.

I have attached a very simple example illustrating the issue.

### Steps to reproduce:
- Download [test.zip](https://github.com/nvaccess/nvda/files/2520085/test.zip)
- Unzip html file
- Turn on NVDA
- open html file
- Tab through page to second checkbox

### Actual behavior:

[2018-10-26 18:47] Brian1Gaff commented on #8884
Yes I suggested this should be there some months ago, and also suggested
that any  add ons that work on it should also be made available in a frozen
archive as well. The same issue is already coming up due to wx4, and soon no
doubt python 3 as well. Somebody needs to look at an old versions section to
the web site, as it will fulfil a need and as it will be static, then it
should not be a drain on

[2018-10-26 19:48] DrSooom commented on #8880
See also issue #8515.

[2018-10-26 20:34] DrSooom commented on #8885
I couldn't reproduce this issue with Firefox 56.0.2 and 63.0 and IE 11 on Win7x64 and NVDA 2018.1, but with Chrome 70.0.3538.77 (portable version, 32-bit). To be exactly:

### Actual behaviour with Chrome 70.0.3538.77 and NVDA 2018.1:
+ When pressing TAB and Shift+TAB in focus mode, both checkboxes are spoken once.
+ When the cursor is located on the first checkbox, press TAB in browse mode and th

[2018-10-27 01:42] chris-wassenaar-at-kiran commented on #8885
Thanks DrSooom!

- I retested "browse" vs "focus" mode and I agree that this only happens in "browse" mode.
- However, I do not see that the first checkbox is ever spoken twice when I TAB / Shift+TAB back and forth.  Maybe the difference here has to do with our version mismatch.

Thank you for reviewing this!
- Chris

[2018-10-27 08:00] Neurrone commented on #8876
I like the idea of just the existence of the tree view being reported in browse mode, and don't mind having to interact with it to see its contents. Some objects could be really large, and clutter the browse mode display otherwise.

[2018-10-27 10:36] tspivey commented on #8783
Things I've tried so far:

* Restarting NVDA or rebooting - this might get rid of it for a while (possibly days), but it comes back.
* Disabling Handle keys from other applications - nothing changes.
* Turning on filter keys (and using an external key click application) to give me a key click when a key is accepted - this is the  most interesting, the click stops when NVDA is unresponsive, and all

[2018-10-27 14:44] PratikP1 commented on #8876
I agree with @Neurrone in that having the ability to interact with the tree view from the browse mode is perfectly fine. I want to see how NVDA behaves once we're actually able to navigate the tree view. Currently, the tree view is reported. But due to the bug that @jcsteh pointed out above, no interaction is possible.

[2018-10-27 17:03] DrSooom commented on #8515
Because of PR #8596 and the discussion in issue #8880 I recently update the issue description of this issue here a little bit regarding to the new option to fully turn logging off.

[2018-10-28 11:34] jacobchawala commented on #8683
Hello there,

I just signed the petition "Oxford University Press: Protect scholarly
integrity" and wanted to see if you could help by adding your name.

Our goal is to reach 53 signatures and we need more support. You can read
more and sign the petition here:

https://chn.ge/2D93MmP

Thanks!
Jacob

[2018-10-28 13:14] dkager commented on #8733
When you start arrowing up/down through the menu, NVDA reads the selected menu item. So it is only the selection when the menu first opens that is not announced.

[2018-10-28 13:30] DrSooom commented on #8683
@jacobchawala: Has your last post anything to do with this issue here?
CC @ehollig: Could you please take a look on this. Thanks.

[2018-10-28 13:33] jasonjgw commented on #8729
I didn't spend much time on it. My plan at this point is to download the next snapshot or beta with the driver included and test again.

[2018-10-28 13:46] dkager commented on #8729
Please do that so we know:
* if this issue still exists at all; and
* if the Focucs driver is the cause.

[2018-10-28 13:50] DrSooom commented on #8880
After thinking on this, I now see no significant reasons, why we should change the default logging level for alpha and try builds. Because it is currently possible for installed and portable version of NVDA to start the "nvda.exe" with the command parameter "-l=10". Furthermore testers already should know how to change the logging level via the GUI or directly in the "nvda.ini" using an source cod

[2018-10-28 14:17] dkager commented on #8686
Indeed, there is no Swahili braille table in liblouis yet. This needs to be added first, then it can be added to NVDA's list.

[2018-10-29 01:13] ehollig commented on #8800
@fernando-jose-silva does this now work with the latest NVDA Alpha?

[2018-10-29 01:44] jcsteh commented on #5825
This is fixed by #8869 (now in NVDA alpha builds). I've verified the fix for @jmuheim's [test case](http://codepen.io/jmuheim/pen/eZvyXq) test case in https://github.com/nvaccess/nvda/issues/5825#issue-142291794 and @s-robertson's [test case](https://codepen.io/s-robertson/pen/zpWamp) from https://github.com/nvaccess/nvda/issues/5825#issuecomment-356982511.

[2018-10-29 01:51] jcsteh commented on #5247
This is fixed by #8869 (now in NVDA alpha builds). I've verified the fix for @afercia's [test case](http://codepen.io/afercia/full/dogjjv/) from https://github.com/nvaccess/nvda/issues/5247#issue-116051504.

Note that NVDA will report the full control instead of just the change ("collapsed" or "expanded") as it should. This is because NVDA sees it as a focus change (not a state change) due to the

[2018-10-29 03:00] ehollig commented on #8683
Closing this for reasons pointed out in https://github.com/nvaccess/nvda/issues/8683#issuecomment-416627042

[2018-10-29 03:00] #8683 closed

[2018-10-29 03:16] ehollig commented on #8856
Hello @smtsh. The "keyCommands.html" file is automatically generated when NVDA is compiled. I believe if the local

[2018-10-29 06:23] AccessibilityTestingTeam-TCS opened #8888 "A11y_PowerShellEditorServices_Editor_Screenreader: NVDA is not reading correct ordering of selected items of expanded "More Actions" button"
**Environment Details:**
VSCode Version : 1.28.2
OS Version : Win10

Additional Details:
MAS1.3.1,NVDA

**Repro Steps:**
1.Launch Visual Studio code desktop application.
2.Navigate to "Plain Text" of "StatusBar"->Enter "PowerShell" in "Select Language Mode"combobox->Write the PowerShell Code in plain editor->Save the editor.
3.Write powershell code and save the editor.
4.Start screenreader as NVDA

[2018-10-29 07:00] AccessibilityTestingTeam-TCS commented on #8888
As this issue not specific to the NVDA screen reader hence closing this issue.

[2018-10-29 07:00] #8888 closed

[2018-10-29 11:17] HarishTerala opened #8889 "MS Teams: When moving focus between conversations using up/down keys, NVDA is often reading the label of the previous conversation"
### Steps to reproduce:
1. Open Microsoft Teams app.
2. Navigate and select "Teams" app bar button.
3. Navigate and select any Channel in any Team.
4. Navigate to most recent message using Tab key.
5. Press Insert+Space key to turn off browse mode.
6. Press up arrow key and verify the speech of NVDA.

### Actual behavior:
NVDA reads the previous message information along with the current focused c

[2018-10-29 14:20] fernando-jose-silva commented on #8800
I tested now with the nvda alpha 16188 and the official chrome 70 and everything is working well.
Thank you.

[2018-10-29 16:43] smtsh commented on #8856
Thanks to @ehollig comment, I found the below line is missing in the userGuide.t2t of Persian Language:
%kc:includeconf: locale.t2tconf
I also checked the presence of locale.t2tconf in NVDA/user_docs for all languages and found that it is missing in most translations of the NVDA documents. Furthermore, it is missing in the original English documents so even the English documents have not HTML "lan

[2018-10-29 20:03] fernando-jose-silva opened #8890 "can not open a button that contains submenu in chrome"
### Steps to reproduce:

using chrome open this page:
https://downloads.quickbooks.com/app/qbdt/products
Now locate the button with submenu
Select Country
Press enter in an attempt to open the submenu.
Press alt + down arrow also to try to open the submenu.

### Actual behavior:
The nvda is with the auto brouse mode disabled.
Nothing happens.
### Expected behavior:
The submenu should open by press

[2018-10-29 22:20] GarimaRanaV opened #8891 "Microsoft Teams : When using browse mode and reading a conversation heading, press down arrow 6 times. Same message will be read again."
Steps to reproduce:
Open Microsoft Teams app.
Navigate and select "Teams" app bar button.
Navigate and select any message in any channel
Navigate to most recent message using Tab key.
Press Insert + Space key to turn off browse mode.
Press down arrow 6 times in channel conversation and verify the speech of NVDA.

Actual behavior:
As a user navigates through a message, the message body repeats 4-5

[2018-10-29 22:38] GarimaRanaV opened #8892 "MS Teams : In controls and headers within each area (channel, chat, meetings, etc.) screen reader users experience “clickable, clickable, . . . “ at minimum 15+ times for a single message"
Steps to reproduce:
Open Microsoft Teams app.
Navigate and select "Teams" app bar button.
Navigate and select any message in any channel
Navigate to most recent message using Tab key.
Press Insert + Space key to turn off browse mode.
Press up and down keys to move through channel conversation and verify the speech of NVDA.

Actual behavior:
As a user navigates through a message, the message body r

[2018-10-30 02:06] ehollig commented on #8892
This is related to #7430

[2018-10-30 02:30] ehollig commented on #7368
Closing as invalid, as we have not heard from @aspireinnov in over a year, and still require a link to the homepage as described in the original post. Also, we are still unsure if unchecking the "Automatic Say All on page load" check box has fixed this issue for @aspireinnov

[2018-10-30 02:30] #7368 closed

[2018-10-30 06:02] #7641 closed

[2018-10-30 11:52] rob-aph commented on #8493
Duplicate of #Problem still happening with Windows Version 1803 (OS Build 17134.345) and NVDA 2018.3.2

[2018-10-30 11:53] rob-aph commented on #8493
Problem still happening with Windows Version 1803 (OS Build 17134.345) and NVDA 2018.3.2

[2018-10-30 11:53] #8493 closed

[2018-10-30 12:15] Neurrone commented on #8824
@valiant8086 thanks. I'm interested to find out which setting specifically gets rid of this issue, other than just adjusting the power plan to high performance.

[2018-10-30 15:38] erikpro opened #8894 "baum vario 40 no key input"
### Steps to reproduce:
connect vario 40 vire com or usb to com converter. select baum driver in brl configuration.
press eni button on the desplay.
### Actual behavior:
nvda dont doo anything.
### Expected behavior:
a gesture must be executed.
### System configuration:

#### nvda log cat
ERROR - hwIo.IoBase._notifyReceive (18:27:46.773):
Traceback (most recent call last):
  File "hwIo.pyo", line

[2018-10-30 17:26] lukaszgo1 opened #8895 "After pressing enter on a search result in Google NVDA announces the text of the link again and also reads its URL"
### Steps to reproduce:
1. Open Firefox.
2. Type something into the search box for example test.
3. On the newly opened Google page press 3 to move the first search result and press enter.
### Actual behavior:
NVDA repeats the text of the link and also reads the URL of it.
### Expected behavior:
NVDA should be silent or optionally say visited like it used to.
### System configuration:

#### NVDA I

[2018-10-30 18:50] jscholes commented on #8895
Can't reproduce this.  Possibly an issue with your browser configuration, Internet connection, DNS provider or similar.

[2018-10-30 19:46] leonardder commented on #8894
This looks like a model identifier isn't set for this display. I will take this.

[2018-10-30 20:28] leonardder commented on #8894
Could you please test input with [this try build](https://ci.appveyor.com/api/buildjobs/4fb19x0qtl0fp97x/artifacts/output%2Fnvda_snapshot_try-i8894-16204%2Ce18554ec.exe)?

[2018-10-30 20:52] jscholes commented on #8895
Thanks for putting in the work to track it down.  I can reproduce it after updating to a newer alpha snapshot, which I probably should've done earlier :)

[2018-10-30 21:53] erikpro commented on #8894
yes that build works like a charm. thanks.
i think this fix wood be included to nvda 2018.4. however i ask you wood it be possible to provide me addon or python file with this solution.
thank you @leonardder for help.

[2018-10-30 23:16] abnermneves opened #8896 "NVDA + MathPlayer doesn't work"
[nvda.log](https://github.com/nvaccess/nvda/files/2532001/nvda.log)

Hello,

I recently found out about MathPlayer because I needed a software to read LaTeX formulas. But I can't get it to work. I followed the tutorials at the MathPlayer site, but even so it doesn't work.

### Steps to reproduce:
1. Open this link with Firefox or IE (I've seen a video in which MathPlayer works on this exact link)

[2018-10-31 02:39] Mary5958 opened #8897 "In Thunderbird the email subject is announced where it already shouldn't"
### Steps to reproduce:
1. Open a message in Thunderbird
2. Press anything that navigates through the message; it can be sayAll, arrow keys, or if there are links or other elements if it's an HTML message just their respective navigation keys are enough.

### Actual behavior:
NVDA still reads the subject before the actual message text or element.

### Expected behavior:
Only the message text or th

[2018-10-31 02:45] ehollig commented on #480
@PratikP1, would you say that this issue can now be closed?

[2018-10-31 09:37] lukaszgo1 commented on #8895
@michaelDCurran Can you please look into this?

[2018-10-31 13:28] Neurrone commented on #8897
Caused by #8886, which has since been reverted.

[2018-11-01 10:18] jscholes opened #8902 "Can't determine unread message status in Thunderbird"
### Steps to reproduce:
1. Move to the message list in a folder in Thunderbird.
2. Arrow up and down between unread messages.
### Actual behavior:
NVDA doesn't distinguish between read and unread messages as it used to.
### Expected behavior:
NVDA speaks the word "unread" between the subject line and the sender of the message.
### System configuration:

#### NVDA Installed/portable/running from so

[2018-11-01 10:20] jscholes opened #8903 "NVDA announces "selected" for every message row in Thunderbird"
### Steps to reproduce:
1. Move to the message list in a folder in Thunderbird.
2. Arrow up and down between messages.
### Actual behavior:
NVDA reports "selected" after reading every message row.
### Expected behavior:
NVDA should only report that a message has been selected if no message was selected previously.
### System configuration:

#### NVDA Installed/portable/running from source:
Install

[2018-11-01 10:31] jscholes commented on #8902
Confirmed that unread message status is still reported with 60.0 (32-bit).  However #8903 still applies irrespective of Thunderbird version used.

[2018-11-01 10:33] #8897 closed

[2018-11-01 10:44] leonardder commented on #8882
@RichCaloggero: could you please test using NVDA 2018.1?

Download-Link to NVDA 2018.1.1: https://www.nvaccess.org/download/?nvdaVersion=2018.1.1

[2018-11-01 10:45] zstanecic opened #8904 "when creating new account in office365/Outlook 2016, the password field behaves incorrectly"
### Steps to reproduce:
1. open the acconnt creation dialog in office365/outlook
2. after entering the e-mail adress, enter the password
### Actual behavior:
when entering password, the following error was generated
see log below
INFO - __main__ (10:57:55.953):
Starting NVDA
INFO - core.main (10:57:56.086):
Config dir: C:\Users\ninos\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (10

[2018-11-01 10:52] zstanecic commented on #8904
windows 10 version 1809 17763.latestkb from insider preview ring
outlook version Microsoft® Outlook® 2016 MSO (16.0.9126.2295
32 bit
installed NVDA

[2018-11-01 12:57] zstanecic commented on #8904
Hi andre
the result from your recomendation to disable the add-on is the following:
ERROR - core.CorePump.run (13:54:38.331):
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyc", line 488, in run
  File "braille.pyc", line 2133, in pumpAll
  File "braille.pyc", line 1875, in handlePendingCaretUpdate
  File "braille.pyc", line 1881, in _doCursorMove
  File "braille.p

[2018-11-01 15:10] RichCaloggero commented on #8882
I've just tried two different older releases with slightly different, but similarly buggy results.

Note that completely removing my appData NVDA folder makes no difference!

### 2018.1.1:

- open commit dialog and type "xy"
- leftArrow: it says "y"
- leftArrow: it hangs
  + about every 10 or 15 seconds, reads title bar, but is still hung
  - after three of these cycles, it becomes unhung and I ca

[2018-11-01 16:53] scottaohara opened #8906 "Unexpected keyboard focus of inactive tab in a tablist"
When interacting with an ARIA Tab widget, it's common to set the currently active `tab` to have a `tabindex=0` and to set the inactive `tab`s to have a `tabindex=-1`.  When testing various different implementations of Tab widgets, it was noticed that if navigating by the virtual cursor, and then hitting the <kbd>Tab</kbd> key, keyboard focus would be set to the first `tab` in the `tablist`, regard

[2018-11-01 21:32] #8903 closed

[2018-11-02 00:41] Qchristensen commented on #5745
Is anyone still having this issue?  I've had correspondence from someone with similar sounding symptoms moving around the options in Outlook's settings, and similar looking error in the log:

NVDA version 2018.3.2

INFO - core.main (09:31:58.457):

Using Windows version 10.0.17134 workstation

... (Snipped for brevity, standard NVDA startup at log level info) ...

NVDA initialized

ERROR - RPC pro

[2018-11-02 03:30] ehollig commented on #8890
I was able to expand this option by pressing alt+down arrow twice in Chrome. It does not respond to enter or space. Below is the code reference for the button in question.
[code]

[2018-11-02 10:33] frastlin opened #8908 "aria-live="polite" does not act as W3 Reports in Tutorials"
### Steps to reproduce:

Visit:
https://www.w3.org/WAI/tutorials/forms/notifications/#during-typing

and type in the first field under the heading "Approach 2: During typing".

### Actual behavior:

OK is announced after every key press, no matter how fast the user types.

### Expected behavior:

From the description of the example:
"The value “polite” de-emphasizes the importance of the message a

[2018-11-02 10:50] lukaszgo1 opened #8909 "NVDA announces Combo box before reading adres bar in recent versions of Nightly"
### Steps to reproduce:
1. Open Nightly 65.
2. Press CTRL+L to move to the adress bar,
### Actual behavior:
NVDA announces Combo box before reading 'search with google or enter adres'
### Expected behavior:
The combo box shouldn't be announced.
### System configuration:

#### NVDA Installed/portable/running from source:
Installed
#### NVDA version:
Version: alpha-16183,c3ce6a38
#### Windows versio

[2018-11-02 10:50] lukaszgo1 commented on #8909
cc @jcsteh

[2018-11-02 10:50] tspivey opened #8910 "Word: Error while modifying style"
### Steps to reproduce:
1. Create a new document.
2. Press control shift s to open the Apply Styles page.
3. Press "Modify...".

If the error sound doesn't occur, try changing the font size and tabbing.
### Actual behavior:
The error sound plays
[code]
### Expected behavior:
No error sound should be played
### System configuration:

#### NVDA Installed/portable/running from source:
Installed
####

[2018-11-02 13:52] HarishTerala opened #8911 "MS Teams: On activating any search suggestion from "Search or type a command", NVDA do not read the opened chat username"
### Steps to reproduce:
1. Turn on NVDA and open MS Teams app.
2. Press Tab key to navigate to "Search or type a command".
3. Type any user name and choose the user using up/down keys and press Enter key on the select the user.​
4. Verify the speech of NVDA.​

### Actual behavior:
When pressing Enter key on any search suggestion from "Search or type a command", NVDA do not read the opened chat use

[2018-11-02 19:45] Andre9642 commented on #8904
Hmm, according to your reproduce steps, I can NOT reproduce this bug. The only error is when I validate a password (fake or not), I get the following error:

<blockquote><pre>
ERROR - eventHandler.executeEvent (20:30:12.964):
error executing event: typedCharacter on <baseObject.Dynamic_EditableTextWithoutAutoSelectDetectionUIA object at 0x053F45D0> with extra args of {'ch': u'\r'}
Traceback (most

[2018-11-02 20:43] Brian1Gaff commented on #8908
How would it know you have stopped an not just a slow typist. Seems a
strange idea.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2018-11-03 09:30] frastlin commented on #8908
There are a couple ways of figuring this out:
1. take the average typing speed and use that, according to [the first Google result for average typing speed](https://www.livechatinc.com/typing-speed-test/#/) most people type 200 CPM which is around 30 MS.
2. NVDA could track typing speed because that is something that is probably very easy for NVDA and it would be inclusive of slow typers.
3. I thi

[2018-11-03 10:35] elliott94 opened #8912 "Preferences: Hide "Play a sound when auto-suggestions appear" option if running Windows 7 or Less"
From experience, I believe that this option is redundant if running on anything less than Windows 8 or above. Similarly to what's been done with the OCR preferences in this dialog, would it be possible to hide this if NVDA is running on anything other than Windows 8 and later?

[2018-11-03 10:38] elliott94 opened #8913 "Preferences Dialog: Duplicate Shortcut Keys for Options"
When taking a look at the options listed throughout the Preferences dialog, I've noticed that there are duplicate shortcut keys tied to individual options. I can list these if required - do we need to rethink keys that can be used for these?

[2018-11-03 10:58] pranavlal commented on #5745
I am no longer having this problem.

-----Original Message-----
From: Quentin Christensen <notifications@github.com>
Sent: Friday, November 02, 2018 6:12 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA freezing when navigating among the message summaries of outlook 2016 mail boxes (#5745)

I

[2018-11-03 11:31] Brian1Gaff commented on #8912
Hi, I use Windows 7, and have no idea what this does. How might I tell if it
works in windows 7?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2018-11-03 12:51] elliott94 commented on #8912
This option is used, as an example, to play a sound when typing in the search field in Windows 10 to show that search results have been found and are being displayed.

[2018-11-03 16:29] k-kolev1985 opened #8914 "Feature request: Add the ability to insert symbols from within NVDA"
### Description:
A few NVDA users here in Bulgaria have asked if NVDA, like JAWS (with JAWSKey+4), can insert symbols into a text field. I remembered that there was a NVDA add-on for this ("Insert Symbols") and checked it. But I found 2 issues with it:
1. Seams not to work with latest NVDA. The dialog for choosing a symbol appears, but pressing ENTER in it does not insert any symbol - just gives a

[2018-11-03 17:31] marlon-sousa opened #8915 "Feature request: provide a list of previous searches in the find dialog used in browsers"
Hello,

I would like to propose that the previous search items are listed in the find dialog activated by ctrl + nvda + f.

Several people use the search hability to find placeholders from where they can continue navigation in webpages.

Currently, only the last searched term is offered in the find dialog. But for long navigation sessions where you navigate go and back through several pages it wou

[2018-11-03 19:12] josephsl commented on #8915
Hi, this request is not new, and I am happy to donate a working code from one of my add-ons to the Core. Thanks.

From: Marlon Brandão de Sousa <notifications@github.com>
Sent: Saturday, November 3, 2018 10:32 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Feature request: provide a list of previous searches in the find dialog

[2018-11-03 21:53] marlon-sousa commented on #8915
Hello, I have written the code. I woould like to have it reviewed as a first contribution efort if this feature is aproved.

[2018-11-03 23:17] lucastito commented on #8915
I have no idea if there already is an issue for this feature or it's a new issue, however this feature is absolutely fantastic and I hope I can use that as soon as possible. Thanks for your interest @marlon-sousa

[2018-11-03 23:35] magoolation commented on #8915
I really expect be possible to use it soon. In my researches and study sessions it will increase my productivity a lot

[2018-11-04 05:35] josephsl commented on #8915
Hi,

I think we should also hear justifications from those who oppose this idea, as well as from those whose justification is not productivity improvements. Only then I think we should consider sending in pull requests.

To whoever is going to write a pull request for this one if adopted by the community, I strongly urge you to consider Python 3 compatibility now than later. That way we won't have

[2018-11-04 05:38] josephsl commented on #8912
Hi,

The foundation is there to support editable text with suggestions - it's just that not a lot of app modules and other modules use this yet. Given that there are apps that do raise suggestion events (or provide a way to find out appearance of suggestions), I'd like to leave it as is for now.

Thanks.

[2018-11-04 09:54] Brian1Gaff commented on #8915
What would be the down side really? Having them controlled by up and down
arrows seems pretty benign to me.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2018-11-04 10:01] lucastito commented on #8915
I cannot imagine a scenario when this feature is not good.
Anyhow, I believe that's possible create a shortcut to turn on or turn off this functionality. To be honest, I think it should be the default setting.
If someone doesn't want to use this feature, then they won't press the arrows or they will desable that.
Since long time ago, People without desability can use a similar feature in a lot of

[2018-11-04 10:13] kvark128 opened #8916 "Problem with gui.nvdaControls.CustomCheckListBox"
### Steps to reproduce:
1. Press NVDA+control+k to open the Keyboard category of the NVDA settings dialog.
2. Press OK button to close the dialog.
3. Press NVDA+q to NVDA exit.
4. Press control+alt+n to start NVDA.

### Actual behavior:
NVDA starts for a very long time, after which everything freezes. It becomes impossible to use the system.

### Expected behavior:
NVDA should start and work norma

[2018-11-04 10:30] jscholes commented on #8915
It's possible that some users may not want their search history recorded for privacy reasons.  This can easily be overcome by providing a "Number of remembered search entries in Find dialog" setting or similar.  If it's set to 0, nothing will be remembered.

FWIW, the Find dialog is pretty basic at the moment all round.  It doesn't have Find Next/Previous buttons, for example.

[2018-11-04 11:12] marlon-sousa commented on #8915
Joseph,

As I said the code has been written already. It was a part of my self exercise to become a contributor of a project in which I believe and the feature would really benefit many people such as it is already posing benefits to my self these days.

The code is aware and working with python 3 syntactically, but if there is a branch with py 3 I can test with let me know.

Pool request will be

[2018-11-04 11:19] marlon-sousa commented on #8915
James,

Good point.   I already had thought about it but didn't write it in the issue this part. I will try to edit it latter, but in the mean time here it goes:

As the implementation currently stands, searches are not saved among NVDA sessions and definitely not among users.

This does make sense because usually you need to use previously searched terms only during a research / work session.

Th

[2018-11-04 15:16] lukaszgo1 opened #8917 "When pressing command to report current line in review and braille is tethered to review or automatically the line should be displayed on the braille display."
### Steps to reproduce:
1. Connect and enable a braille display.
2. Open notepad.
3 enter those lines
111
222
333
444
4. Ensure that review will not follow focus changes.
5. Place review cursor on the first line.
6. Press a command for reporting a time.
7. Press numpad 8 to report current line in review.
### Actual behavior:
Nothing happens.
### Expected behavior:
The current line should be shown

[2018-11-04 18:58] Adriani90 commented on #8915
@josephsl I think you were working on this at a certain time in the past if I am not wrong.

[2018-11-04 19:04] Adriani90 commented on #46
@leonardder, @jcsteh, @michaelDCurran any updates on this? Is such a survey something that would help you in developping this feature? For me personally, I would say it is enough to adjust document formating settings with some more entries according to survey results. Verbosity levels are very subjective and in my opinion this will not be easy for beginners to adapt to. But I don't know what is th

[2018-11-04 19:13] Adriani90 commented on #49
@leonardder #490 is aparently closed and this was merged. I cannot test this issue since the nv access website has been updated and there are no short keys reported.

@jcsteh is this still reproducible?

[2018-11-04 19:18] Adriani90 commented on #1380
@ianr is this issue still reproducible?

[2018-11-04 19:31] Adriani90 commented on #1481
@feerrenrut, @michaelDCurran any progress on this? AS stated in ä498 part of necessary code i written in the add-on golden cursor which is maintained by @josephsl. But I guess the best time to implement this would be after implementation of speech refactoring, quoing and so on. So I guess blocked by #7599. Right?

[2018-11-04 19:44] Adriani90 commented on #2003
I cannot reproduce this issue in NVDA 2018.3.2 in Windows 10 last update. Since this issue was originally reported for Windows xp, could someone report if it is reproducible in Windows 8 or higher?
@bhavyashah, @aleksey_s, @elliott94, @aaronius

[2018-11-04 19:45] Adriani90 commented on #2003
@aliminator

[2018-11-04 19:53] Adriani90 commented on #1839
@norrumar, @michaelDCurran, is this still valid? @norrumar can you raise a pull request to be included in NVDA's core? Since all the branches are moved to github it would be much easier to review and merge it on github rather than bitbucket. Thank you.

[2018-11-04 19:53] Adriani90 commented on #1839
@nvdaes are you maybe updated on this branch?

[2018-11-04 19:57] Adriani90 commented on #1849
@lpintes this app module seems to be lost in the bunch on issues here on github. Are still on github and able to raise a pull request for it to be included in NVDA?

[2018-11-04 20:05] Adriani90 commented on #1906
@lpintes I guess you tested this. Right? ARe you still enhancing it? Or is it only for VS 2008?
@feerrenrut this patch could be implemented in a beta version and users will automatically give feedback on it. If it causes problems it can easily be taken out of the development snapshots. What do you think? At least we can be sure that there will be valuable feedback in a short time range.

[2018-11-04 20:07] Adriani90 commented on #1935
@michaelDCurran is this possibly solved when UIA for MS Word will be fully implemented?

[2018-11-04 20:11] nvdaes commented on #1839
Hi, if this is stil valid, I can create a PR on GitHub reviewing the old plugin. Let's wait for @michaelDCurran answer since you asked him, and other feedback is welcome too.
Thanks for recalling this.

[2018-11-04 20:12] Adriani90 commented on #2229
@k_kolev1985 is this still reproducible?

[2018-11-04 20:17] lukaszgo1 commented on #8916
I can reproduce it on Windows 7 Professional x64 all of the time. It is almost impossible to get a log from this crash, because the rest of the system also crashes with NVDA. I believe that it is a good candidate for a P1. @michaelDCurran @feerrenrut

[2018-11-04 20:37] k-kolev1985 commented on #2229
No, it seams not to occur anymore.

Note however, that a lot of things have changed since then. For one, I no longer use this feature of Foobar2000 and have turned it on only now to test it. The versions of both Foobar2000 and NVDA are also newer. Let's not mention the fact that now I'm using Windows 10 and the balloons there are replaced with toast notifications.

In conclusion, I don't know what

[2018-11-04 23:06] ehollig commented on #2229
Thank you @k-kolev1985 for reporting back about this issue. Closing

[2018-11-04 23:06] #2229 closed

[2018-11-04 23:41] fernando-jose-silva commented on #2003
I have this problem on a machine.
When windows starts with nvda:
Neither a nvda command button works example nvda + t, nvda + n among others.
The ctrl key does not interrupt speech.
When pressing a script as an example in a list by pressing several arrows below to quickly step through the items, nvda does not interrupt the speech of previous items, repeating the entire command history.
In the log

[2018-11-04 23:45] ehollig commented on #49
Using the following:
[code]

I get different results if I view the links in browse mode versus tabbing through them.

[2018-11-04 23:55] ehollig commented on #8915
Duplicate of #8482
@marlon-sousa please create a new PR, or add to the branch in #6484
Please take all further discussion on this topic to #8482

[2018-11-04 23:56] #8915 closed

[2018-11-05 00:02] ehollig commented on #5745
Thank you @pranavlal. Closing as worksforme

[2018-11-05 00:02] #5745 closed

[2018-11-05 03:13] surfer0627 opened #8918 "Balabolka: NVDA's several features do not work in this application"
Some NVDA features do not work in the application Balabolka. (Perhaps, it needs external fix.)
it includes:

* Say all and Say all with review
* Move to next line / character in review
* Braille: move to next braille window
* Braille: Message display from the second cell.

### Steps to reproduce:
1. Download [Balabolka](https://balabolka.en.softonic.com/download).
2. Install.
3. Open Balabolka.
4.

[2018-11-05 06:30] MarcoZehe commented on #8909
I actually think the way it is now is more appropriate, since the name "Enter address or search with Google" directly relates to what should be typed.

[2018-11-05 09:11] dingpengyu commented on #8914
See if you can merge emoticons into NVDA? Then in conjunction with the cldr-emoji-annotation expression point

[2018-11-05 09:57] lukaszgo1 commented on #8909
I believe that I am simply used to having the name reported first, and then the control type, but it is just a personal preference. The only argument for reverting this change which come to my mint is the rule to present changeable information first, and because it is and always would be editable combo box it might make sense to have this spoken at the end.

[2018-11-05 14:39] ShradhaHolani opened #8920 "Silence NVDA"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions:

#### Does the issue still occur after restarting your PC?

#### Hav

[2018-11-05 14:41] #8920 closed

[2018-11-05 20:33] MarcoZehe commented on #8909
The separate search box might go away soon, in fact it is not enabled by default in new profiles. The updates to the URL bar were most likely not applied to this legacy search bar.

[2018-11-06 02:08] marlon-sousa commented on #8482
PR #8921 opened and ready for review.

[2018-11-06 02:28] feerrenrut commented on #8635
Replacing `CustomCheckListBox` with `AutoWidthColumnCheckListCtrl` in keyboard settings should also fix: https://github.com/nvaccess/nvda/issues/8916

A similar problem to 8916 was noticed while working on the addon versioning.

[2018-11-06 14:00] kieranlittle667 opened #8923 "Excel: Report Frozen column/row"
In excel when a row / column is frozen (so it is always visible on screen when scrolling), the fact that the row or column is frozen isn't reported.
### Steps to reproduce:
Open an excel file
Highlight row / column you want frozen
Navigate to view in the ribbon
Tab to freeze panes and press space
Choose an option (freeze top row, etc) and press enter
### Actual behavior:
NVDA will report nothing.

[2018-11-06 18:43] MarcoZehe opened #8924 "Crash in VBufStorage_buffer_t::deleteNode in Firefox Nightly with Gmail"
### Steps to reproduce:

1. I was in a Gmail conversation.
2. Pressed Space on the More Actions for the conversation in the upper tool bar.
3. Arrowed down in the menu, wanted to add a filter. Got to the Add To Tasks item.
4. Press DownArrow once more.

### Actual behavior:

Reproducible crash that closed Firefox. Sometimes, Crash Reporter doesn't even come up. But once it did, and it gave me [thi

[2018-11-06 20:43] Adriani90 commented on #8741
@eltonfreak, I cannot really understand your issue. What do you mean by "simple!? Could you please edit the description and make it more understandable?

If I should guess, screen layout is unchecked but still some elements are announced like if they are in the same row.

@jscholes, On the first page linked above (fanfiction) there is following part announced in the same row despite screen layout

[2018-11-06 20:44] Adriani90 commented on #8741
Fiction T - English - Hurt/Comfort/Family - Chapters: 35 - Words: 190,153 - Reviews:

601 - Favs: 1,118 - Follows: 660 - Updated: Dec 17, 2014 - Published: Sep 11, 2014 - Status: Complete - id: 10684896.

[2018-11-06 20:46] Adriani90 commented on #8741
Actually the single charcteristics should be announced under eachother when screen layout is disabled. But I think this is not an NVDA issue. I guess it is rather related to the css style of the website. I guess the developer of the website did not clearly defined carriages etc.

Comments are appreciated.

[2018-11-06 21:22] Adriani90 commented on #1756
@feerrenrut, any updates on this topic? There are several issues on github asking for a possibility to move reporting menu item after the label of the item. Or to suppress reporting menu item for browse mode as long as menubar and out of menu bar is reported. Hearing menu item in a menubar with many items seems to be annoying for many people. See for example different airline websites.

[2018-11-06 21:28] Adriani90 commented on #2116
@mhussain is this still reproducible?

[2018-11-06 21:31] Adriani90 commented on #2118
@challsworth2, @leonardder, can you still reproduce this issue?

[2018-11-06 21:33] Adriani90 commented on #2134
@mwhapples, in case you are still active on Github, could you please provide a NVDA log file by pressing NVDA key+f1 when reproducing this issue? Do you still see this issue happening?

[2018-11-06 21:40] Adriani90 commented on #2137
@jcsteh, @feerrenrut, any updates on this topic? I cannot really see a consensus here if this should be implemented in NVDA or not. Actually it would be helpful on complex websites but I am not so sure if there are many web developers who implement such titles consistently. Comments are appreciated.

[2018-11-06 21:45] Adriani90 commented on #2156
@lpintes are you still working on your helpful app module? You could raise a pull request to be included in NVDA and then you will more probably get also valuable code reviews.

[2018-11-06 21:49] Adriani90 commented on #2155
@zahari_bgr, @ateu, is this issue still reproducible for you? In german I cannot reproduce this. It might be a translation issue in your language.

[2018-11-06 21:51] Adriani90 commented on #2150
@Qchristensen have you got the opportunity to test this particular issue? Ddo you have any results?

[2018-11-06 21:52] k-kolev1985 commented on #2112
Yes, the bug is still reproducible in Windows 7 with latest stable NVDA 2018.3.2.

[2018-11-06 21:54] Adriani90 commented on #2139
@jcsteh, @leonardder, any further thoughts on this? Is the support for braille in this application still an option? or should we close it?

[2018-11-06 21:56] Adriani90 commented on #2144
Can someone reproduce this? I didn't see this issue on Windows 7 or higher.

[2018-11-06 21:57] Adriani90 commented on #2144
@ateu any progress on this? registering dlls might work in solving it.

[2018-11-06 22:04] Adriani90 commented on #2140
@camlorn any updates on this?
@leonardder I know you have created an issue which is somehow related, I had this issue as well. See #8017. @mltony created a wonderful add-on for solving this. In my case it works very reliable.

[2018-11-06 22:05] Adriani90 commented on #8017
@mltony created an add-on which solves this issue.

[2018-11-06 22:08] Adriani90 commented on #2456
@fjwilke@... can you still see this issue?
@dkager, @derekriemer any further comments on this?

[2018-11-06 22:13] Adriani90 commented on #2395
@Brendon22 is this still an issue?

[2018-11-06 22:15] Adriani90 commented on #2317
I do not have any confirmations from other users regarding this issue. I guess it is related to the braille display and not generally to NVDA. I suggest to close it and reopen it as soon as more users report this issue.

[2018-11-06 22:15] Adriani90 commented on #2317
cc: @jcsteh

[2018-11-06 22:31] Adriani90 commented on #2446
@vrdhn, is your patch still needed? Could you please raise a pull request for NVDA and address the review comments above?
@dkager, any further comments on this issue?

[2018-11-06 22:33] Adriani90 commented on #2320
@heikofolkerts is this still an issue for you?

[2018-11-06 22:36] Adriani90 commented on #2383
@drein is this still an issue for you?

[2018-11-07 04:00] ehollig commented on #8741
@eltonfreak please provide exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead. If we are not able to understand your issue from one of the links above, we will have to close this issue.

[2018-11-07 04:09] ehollig commented on #2317
As this issue is pretty vague and we have not had users report something like this using a APH RefreshaBraille since this issue was created, I am going to close this.

[2018-11-07 04:09] #2317 closed

[2018-11-07 04:57] Qchristensen commented on #2150
I just tried this.  What I found was:

- Word doesn't "lock' the paragraph that the other user is editing, but it does display a blue line (almost like a caret) where the other user is typing, with either the user's name or a little silhouette of a head which displays the name when you hover over it with the mouse.

- NVDA does not provide any indication that someone else is editing the document.

[2018-11-07 07:06] MarcoZehe commented on #8924
Related [Mozilla bug 1505276](https://bugzilla.mozilla.org/show_bug.cgi?id=1505276). And on a second machine, I got a [crash with a slightly different signature](https://crash-stats.mozilla.com/report/index/f2d0aa12-ab7e-48dc-9bb6-3637e0181107), but with the same steps. Always once I get past the third menu item from the top, I crash.

I am using NVDA with braille, if that makes a difference.

[2018-11-07 10:53] DataTriny opened #8925 "NVDA doesn't read correctly at end of line in web documents"
### Steps to reproduce:
1. Open a web page containing a multi-line text field (aka textarea),
2. Write words without any line break,
3. Go to the end of the first line,
4. Go down and up the lines.

### Actual behavior:
When the cursor is at the end of the line, it reads the next (or previous) one, depending on where you were before. If the last read line was shorter and so the cursor is standing

[2018-11-07 12:10] Novalis7747 commented on #6065
it is one of the most annoying things when working with NVDA and excel that this autoFilter cells are not announced. I have to use them in almost every workbook at work but there is no indication of an autofilter cell, except of trying to use alt-down to see if a list openes. When moving to a autofilter cell NVDA should speak "Autofilter row, column, content"

[2018-11-07 16:56] Adriani90 commented on #8925
@DataTriny, could you please  add an example website to the description which helps to reproduce this issue?

[2018-11-07 17:21] dkager commented on #2446
All I can say is that reporting list levels would be a nice productivity addition.

[2018-11-07 17:28] dkager commented on #2456
Since this issue has long been abandoned and we can't easily trace the original poster on GitHub I am going to close this. Please reopen if you have more info.

[2018-11-07 17:28] #2456 closed

[2018-11-07 17:43] Adriani90 commented on #5728
@jscholes is this issue still reproducible?

[2018-11-07 17:47] Adriani90 commented on #2677
@feerrenrut, any updates on this issue?

[2018-11-07 17:49] Adriani90 commented on #2676
@josephsl, any updates regarding this issue? Does anyone work on it?

[2018-11-07 17:52] jscholes commented on #5728
The issue still occurs with the test application I put together in 2016, so no changes to NVDA have fixed it.  That application is using an older version of Chromium though, and I don't currently have an appropriate development environment up and running to test this with a newer one.

[2018-11-07 17:53] ashleycox commented on #2308
Yes, I believe this is now resolved.

[2018-11-07 17:54] Adriani90 commented on #2649
@vrdhn, could you please raise a Pull request on Github? This makes code review and merging easier. @michaelDCurran have you had time to look into this patch linked above? Comments are appreciated. Thanks.

[2018-11-07 17:55] jscholes commented on #5728
Apologies, I'm getting my issue reports mixed up.  This is an application using an embedded Gecko browser control via XULRunner, not Chromium.  As far as I know XULRunner has been deprecated, and Chromium is now accessible enough that it should probably be used as the embedded browser control of choice anyway.

[2018-11-07 18:05] Adriani90 commented on #2624
there are several issues about this. @FelixGruetzmacher reported recently an issue. @josephsl do you have any other suggestions? @leonardder I think you were also involved in discussions dealing with this. Any thoughts?

[2018-11-07 18:07] Adriani90 commented on #2619
@ehollig what are your thoughts? In my view we can close this issue because it is not reproducible anymore in the last poedit version. Tested with poedit 1.9.

[2018-11-07 18:08] Adriani90 commented on #2619
@zstanecic, the comment boy is accessible with object navigation. at least for me it works on Windows 10 with NVDA 2018.3.2.

[2018-11-07 18:13] Adriani90 commented on #2617
@pitermach, are you still active on Github? @leonardder what do you think? At least in my view, I do not care much about reporting value or percent in sliders. At least for me it is more important the percentage because it give me a sense of orientation on how far the slider goes. The absolute value is very abstract and you have to know the maximal value which results in much more verbosity.

[2018-11-07 18:15] DataTriny commented on #8925
For sure. Simply go to: [https://github.com/nvaccess/nvda/issues/new] and use the comment body field., but it seems to work on any page.
The key thing is to type a long string of text without any line break so that it takes several lines.
Using the provided link, you can directly paste the following text on the appropriate field to highlight the issue:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2018-11-07 18:15] Adriani90 commented on #2598
@jcsteh do you have any suggestions regarding this issue?

[2018-11-07 18:17] Adriani90 commented on #2599
I think this is obsolete with the new settings dialog. @jcsteh should this issue be closed?

[2018-11-07 18:20] Adriani90 commented on #2577
@jcsteh I guess this can still be reproduced. Right?
@michaelDCurran do you have any suggestions to this issue?

[2018-11-07 18:22] Adriani90 commented on #2575
@michaelDCurran is there any chance for NV Access to look into this? Reporting columns with filters and dropdowns is very important, especially for people working in complex excel sheets.

[2018-11-07 18:32] Adriani90 commented on #2489
@vgjh2005, @qingtian, @Palacee_hun, is this issue still reproducible in the last qq version? Could someone please post a link to the last version?

[2018-11-07 18:35] Adriani90 commented on #2487
@michaelDCurran is it probable that NV Access implement a function like this? Or are there any plans to change the beeps to a more lovely sound?

[2018-11-07 18:47] Adriani90 commented on #8925
Hmm, yes I can reproduce it. Si it occurs only if one line is shorter than the ogher. It seems that NVDA skips line 2, when at the end of line 1 I press down arrow. NVDA goes directly to line 3. Pressing up arrow brings me back to line 1. @leonardder could this be somehow related to principles used in #8479?

[2018-11-07 23:04] jcsteh commented on #8924
I can't reproduce this, neither with nor without braille. However, here are some interesting observations.

This Gmail menu is pretty strange. All of the items are in the tree, but not inside the button. However, the focused item is always moved beneath the button using aria-owns and focused using aria-activedescendant. That is, there is only ever one menu item which is a child of the button. When

[2018-11-08 00:43] jcsteh commented on #2599
Note that this is about the old (Tesseract based) OCR add-on, not the builtin Windows 10 OCR functionality. However, if we did release a new version of the add-on, we'd probably want to integrate it into the new Settings dialog too. So yes, I think this is now irrelevant.

[2018-11-08 00:43] #2599 closed

[2018-11-08 03:08] jcsteh commented on #6358
Fixed for Firefox 65.

[2018-11-08 03:34] ehollig commented on #8776
@Brian1Gaff is this still an issue? Strangely, I am not able to reproduce the steps as you describe. Could you provide updated steps to reproduce?

[2018-11-08 03:39] ehollig commented on #8272
@mikepedersen are you still experiencing this issue? For step 4, Press any NVDA key combo, do you mean like press NVDA+N? This takes me to the NVDA menu where I can press escape and interact with the site properly.

[2018-11-08 03:44] ehollig commented on #8015
@michaelDCurran, could you please prioritize and investigate this as requested in https://github.com/nvaccess/nvda/issues/8015#issuecomment-367676348? As there are several issues around Windows 10 mail, I think it should get some more attention

[2018-11-08 03:46] ehollig commented on #8085
Duplicate of #7911

[2018-11-08 03:46] #8085 closed

[2018-11-08 03:52] ehollig commented on #6681
Unfortunately, we have not heard from the original author in over 2 years and still require information in order to further debug this issue. Closing as invalid

[2018-11-08 03:52] #6681 closed

[2018-11-08 07:34] michaelDCurran commented on #8924
I can't reproduce this either, but:

I don't trust this code well enough to say that it would 100% cope with
moves like this.

Therefore, @jcsteh and I agree we should change the code to always
disallow reusing existing nodes from anywhere other than their current
position. I.e. now when we try to reuse a node, the node must have the
same parent as the possible new node, and the same siblings also

[2018-11-08 08:15] MarcoZehe commented on #8924
I cannot reproduce the crash with @jcsteh's reduced test case on either machine where I see the crash in Gmail.

Mick, let me know if you need me to test a try build with the code changes to confirm that this fixes the crash. :)

[2018-11-08 19:22] tspivey opened #8928 "Errors while typing in Chrome"
### Steps to reproduce:
1. Open https://www.youtube.com
2. Move to the search field and start typing

### Actual behavior:
The edit box re-reads every character, and this error occurs while typing:
[code]

### Expected behavior:
No errors occur
### System configuration:

#### NVDA Installed/portable/running from source:
Installed
#### NVDA version:
Version: alpha-16235,153b12df
#### Windows versio

[2018-11-08 20:44] Adriani90 commented on #8796
@patrickdemers I wonder if it is possible for a web developer to implement a sound when maximal number of characters is reached. Tis would be more confortable than NVDA reporting the numbers all the time. NVDA could report the number once when typing the first character and then it could play a tone when the maximum number has been reached.

[2018-11-08 20:49] Adriani90 commented on #8796
@mltony your thoughts are appreciated. Do you think it is possible to implement something like this in general for edit fields with restricted number of characters?

[2018-11-08 20:56] Wildebrew opened #8929 "NVDA+Firefox does not read contents of an element referenced with aria-describedby if the element has role="alert""
### Steps to reproduce:

1. With NVDA and Firefox running, go to [my Code pen](https://codepen.io/Wildebrew/pen/QJNQXB)
2. Use the tab key to move to the First name field. The error message should be announced.
3. Tab to the "lastname" field. The error message is not announced.

### Actual behavior:
Error message is not announced for the last name field.

### Expected behavior:
Error message shoul

[2018-11-08 21:50] Adriani90 commented on #8929
cc: @jcsteh

[2018-11-08 22:15] mltony commented on #8796
Here are my thoughts. It seems there are two separate topics here.
1. The way NVDA reads ARIA attributes. This sounds like a bug in NVDA as NVDA shouldn't be reading this attribute twice. Unfortunately I don't know much how NVDA interact with browsers and about ARIA to provide more insight.
2. How NVDA should be working with edit boxes in general. It seems to me that the vast majority of edit boxe

[2018-11-08 23:49] michaelDCurran commented on #8924
Please test this try build:

https://ci.appveyor.com/api/buildjobs/i74fapb969yjy31p/artifacts/output%2Fnvda_snapshot_try-i8924-16239%2Cedb41aae.exe

Let me know if the crash is now gone, and that you are not noticing any
major decrease in performance.

Using @jcsteh's testcase at least, I can confirm that we now refuse to
reuse nodes if they are moving between different parents.

A quick test of t

[2018-11-09 00:03] jcsteh commented on #8929
This is a Firefox bug. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1505974

[2018-11-09 00:04] patrickdemers commented on #8796
This issue occurs only with Google Chrome, not with Mozilla Firefox.

[2018-11-09 04:05] ehollig commented on #5728
Are you suggesting that this issue should be closed as a newer alternative of an embedded browser is available and should be used instead?

[2018-11-09 04:31] ehollig commented on #2547
There is no longer an error, but there is also no speech if this command is pressed twice. This is due to not checking for scriptCount==1. @leonardder would there be performance issues if when this command was pressed twice, it would perform the same action as it would have if it was pressed once? I.E. gui.mainFrame.onRevertToSavedConfigurationCommand(None)

[2018-11-09 04:36] ehollig commented on #2619
I will close this for now, as it sounds as if it is now working in 1.9. If this is still an issue, we can reopen.

[2018-11-09 04:36] #2619 closed

[2018-11-09 05:46] MarcoZehe commented on #8924
I can confirm that the crash is fixed with this try build. I'd say "go". :)

[2018-11-09 05:53] #8924 closed

[2018-11-09 06:42] MarcoZehe commented on #8924
I can confirm that the crash is also fixed in the NVDA version alpha-16243,244ed4ec snapshot.

Thank you!

[2018-11-09 07:15] nvdaes opened #8931 "Error after changing emoji parameters without modify replacement value"
### Steps to reproduce:

1. Press NVDA+control+v to verify that Include Consortium Unicode data is checked
2. Open Symbols dialog
3. Try to add an existing emoji to search it, pressing the Add button and pasting 😂
4. Change a parameter other than the replacement, for example punctuation level, and press OK
5. Press NVDA+control+v and uncheck Include Consortium Unicode data
6. Try to read 😂  (press

[2018-11-09 08:46] FelixGruetzmacher commented on #2624
Hello,
what I reported, and am still seeing, is what I call unreliable focus
tracking. Especially after starting an application, it doesn't always
register with NVDA that focus is now on a specific control inside the new
application's window. NVDA variously assumes focus is still on the desktop,
or on some other object inside the new window, or on the new window itself.
Most often encountered with

[2018-11-09 10:49] jscholes commented on #5728
Yes, that's fine.  I originally filed the issue hoping to get some feedback from people more knowledgeable than myself about Gecko as to what the problem might be, but that didn't happen.

[2018-11-09 10:52] jscholes commented on #8796
This is an issue report relating to the use of ARIA on a web page and how NVDA responds to it.  Discussion of how web developers can add sound playback to text fields is out of scope, as it has nothing to do with NVDA whatsoever.

[2018-11-09 17:05] Adriani90 commented on #5728
I suggest to let this issue open for a while, maybe @leonardder can write some thoughts. If I am right @leonardder was involved in a gecko specific Topic. Discussing about such Problems is very important in my view because it might help in solving future Problems.

[2018-11-09 17:08] Adriani90 commented on #2624
@FelixGruetzmacher     could you please test the last Alpha and see if it still occurs often?

[2018-11-09 19:55] elliott94 commented on #2519
Unfortunately I haven't used the Miranda client for several years now - is anybody able to confirm?

[2018-11-09 20:11] jscholes commented on #5728
My feeling is that the issue I experienced was specific to the .Net Framework bindings for the Gecko browser component, possibly even limited only to the WinForms integration but I didn't try WPF.  I have, however, used libraries like [wxWebConnect](http://www.kirix.com/labs/wxwebconnect.html) in the past and didn't experience this issue.  If there are any WinForms applications still using a Gecko

[2018-11-10 08:47] leonardder commented on #8931
Confirmed. I'll try to address this.

[2018-11-10 10:16] nvdaes commented on #8931
Thanks. Hope to learn seing your approach to fix this.
I think about two ways:
1. Add replacement for every user symbol regardless of the origin (added by users or automatically when including CLR Data).
2 Add a third type of symbols: builtin, user and CLRData, and an additional method to check if a symbol isCLRSymbol, and in that case add the replacement when the symbol is changed from the dialog

[2018-11-10 11:18] nvdaes commented on #8931
@Christianlm may be interested in #8932
He's the main author of emoticons add-on.
Thanks

[2018-11-10 13:01] k-kolev1985 commented on #8914
For beginner/basic users - I don't know if it would be considered as essential. But for users who type texts constantly, it could be considered very useful.

Actually, insertion of symbols like emojies could be considered useful for all type of users. Yes, probably not essential, but useful for sure.

On the other hand, insertion of various symbols like "…", fractions, mathematical symbols, etc. f

[2018-11-10 13:10] angeloabrantes commented on #8914
Do you know "NVDAExtensionGlobalPlugin"?

https://rawgit.com/paulber007/AllMyNVDAAddons/master/NVDAExtensionGlobalPlugin/NVDAExtensionGlobalPlugin-7.3.nvda-addon

I think it's a good answer for your question.

Ângelo Abrantes

Às 13:01 de 10-11-2018, Kostadin Kolev escreveu:

---
Este e-mail foi verificado em termos de vírus pelo software antivírus Avast.
https://www.avast.com/antivirus

[2018-11-10 16:33] marlon-sousa commented on #8914
@k-kolev1985 can you evaluate @angeloabrantes suggestion?

If it works then we might ask him permission to extract this functionality out and create a more specialized add-on to do the job. It is currently not localized, documentation is only in French.

If @josephsl could opine here as if we should internalize this functionality I would be grateful. With emojis coming in directly to nvda we could

[2018-11-10 16:38] josephsl commented on #8914
Hi, I advise waiting until NVDA 2018.4 beta comes out before proceeding with this. As for extracting functionality from add-on, it would be best to ask authors for permission or add-ons list for help. Thanks.

From: Marlon Brandão de Sousa <notifications@github.com>
Sent: Saturday, November 10, 2018 8:34 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Men

[2018-11-10 16:54] ruifontes commented on #8914
Hello Marlon!

The portuguese team is finhishing the translation of this addon to
portuguese...

It should be released next week.

Best regards,

Rui Fontes

Às 16:33 de 10/11/2018, Marlon Brandão de Sousa escreveu:

[2018-11-10 18:48] k-kolev1985 commented on #8914
@marlon-sousa At a glance in the manifest file, seams OK. But since the documentation is in a language that I don't understand, it is not possible to evaluate further.

[2018-11-10 20:06] Timtam commented on #8239
I can confirm that the latest bugfix in nvda's alphas (about to be released in 2018.4) fixes all those errors reported by me above, even with Macrium Reflect installed.
Thanks for a job well done.

[2018-11-10 20:06] #8239 closed

[2018-11-11 18:06] ehollig commented on #8913
@elliott94 we may need to rethink these shortcuts. Could you post a list of shortcuts that may be duplicated as well as a suggested shortcut key for the option?

[2018-11-11 23:56] michaelDCurran commented on #7498
This branch now compiles on appveyor. Not sure why that Windows SDK issue is still open.

[2018-11-11 23:58] jcsteh commented on #7498
Yes.

[2018-11-12 00:00] jcsteh commented on #7498
https://www.appveyor.com/updates/ confirms this. The new image containing this SDK went live on 9 November.

[2018-11-12 03:11] Qchristensen commented on #942
At one point (in Office 2016 maybe?  Or an earlier version of Office 365 than November 2018 at least), navigating to the "track changes" ribbon item would advise whether it was "pressed" or not.  Admittedly not efficient, but it worked.  When I just tried it now, it no longer works - the split button does not show, and when you open the drop down, there is another split button which does visually

[2018-11-12 04:13] Qchristensen commented on #5299
This is still an issue, but actually I believe a duplicate (I never noticed previously) of #942

[2018-11-12 04:14] #5299 closed

[2018-11-12 04:31] Qchristensen opened #8935 "Report "inserted" or "deleted" (track changes) when querying formatting of text in Microsoft Word"
### Steps to reproduce:

1. Open Word
2. Type a word.
3. Press CONTROL+SHIFT+E to turn track changes on.
4. Type another Word.
5. Move the cursor to the first word and query formatting with NVDA+f.
6. Move to the second word and press NVDA+f

### Actual behavior:

During steps 5 and 6, NVDA reports "Inserted" and "Not inserted" when moving between the two words.  Nothing different is reported when

[2018-11-12 07:50] zahra21 commented on #7251
hi.
what should i do to use firefox with nvda 2017.2?
i have the issue, when i installed nvda 2017.2, sometimes nvda caused locking my keyboard and i could not do anything except turn off my system with power key and turn it on again.
sometimes restarting nvda could help me, but in heavy scrypted websites which use hundreds megabyte of ram, nvda 2017.2 is very unstable and causes the problems whic

[2018-11-12 19:19] ehollig commented on #2308
Thank you @ashleycox. Closing

[2018-11-12 19:19] #2308 closed

[2018-11-12 20:02] ivnc commented on #8720
It has been confirmed a similar behavior through the users mailing list, and some other spanish-speaking users were able to reproduce it.
https://nvda.groups.io/g/nvda/topic/26375161
Has this been already fixed? I've seen this issue right now searching for another topic and didn't realized it was open when I started that thread in the mailing list to comment then.

Regards.

[2018-11-12 21:57] ivnc opened #8936 "Suggestion: Separate checked/unchecked text for checkboxes and radio buttons"
### Steps to reproduce:
Navigate to a checkbox with a NVDA locale with different adjective terminations depending on the noun gender(Spanish or Galician, for example) and analize the output message.
### Actual behavior:
NVDA has only a string to define checked and unchecked states translation both for checkboxes and radio buttons, so NVDA reports "casilla de verificación marcado/sin marcar" (the t

[2018-11-13 05:04] yugimamidi opened #8937 "NVDA does not read the Read-only state in table"
### Steps to reproduce: While NVDA is on. Use the "Tab" key to navigate to the column elements in the table.

### Actual behavior: While NVDA is on. NVDA is not announcing the aria-readonly state for the elements in the table.

### Expected behavior: When NVDA is on. While using "Tab" key the NVDA must announce "read only" for the elements present in the table where (aria-readonly="true")

### Sys

[2018-11-13 05:09] yugimamidi opened #8938 "NVDA does not read the state of data present"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions:

#### Does the issue still occur after restarting your PC?

#### Hav

[2018-11-13 11:00] JulienCochuyt opened #8939 "Allow building with other Visual Studio 2017 editions (eg. Professional)"
### Steps to reproduce:

Attempt to build NVDA using Visual Studio 2017 Professional

### Actual behavior:

The build fails because the file `Microsoft.VC141.CRT` cannot be found.
Indeed, in `nvdaHelper/localWin10/sconscript`, the glob `Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.1*\x86\Microsoft.VC141.CRT` does not resolve to any file.

### Expected behavior:
Replace the above-mentio

[2018-11-13 14:15] JulienCochuyt opened #8941 "Add `class` to MSHTML attributes"
### Steps to reproduce:
Discussed this issue with @michaelDCurran and @leonardder in Frankfurt during SightCity.
The goal is here to ease the development of adaptations for complex web sites and business web applications.
Even if Microsoft has dropped mainstream support for Internet Explorer, it is still a widely used industry standard, and a lot of business web applications are still exclusively

[2018-11-13 14:55] gruja85 opened #8943 "Problem with a strange sound"
### Steps to reproduce:

### Actual behavior:   Making annoying sound (sound like when you play very short high level sound on speaker), when you changing position from one icon or item to another

### Expected behavior: It should make no sound when positioning from one item or icon to another

### System configuration: Tested on several

#### NVDA Installed/portable/running from source: ANY

####

[2018-11-13 15:22] ruifontes commented on #8943
Have you tested with addons disableds?

Rui Fontes

Às 14:55 de 13/11/2018, gruja85 escreveu:

[2018-11-13 18:02] gruja85 commented on #8943
Tested with no add-ons, with add-ons, with versions all over to 2013..... portable or installed..... tried to change sound and video drivers
Has anyone tried to go to first item in some folder, and after that to go very, very fast with down arrow several times. Do you hear that peak sound when changing position from one item to another. The same situation is when moving mouse cursor over desktop i

[2018-11-13 19:34] elliott94 commented on #8913
After taking a look, I'm wondering if we might need to rethink which keys we have shortcuts bound to. Is the general idea that as many controls have shortcuts tied to them as possible, or do we just tie shortcuts to ones that make sense? As an example, in the General section of Settings there are several checkboxes that don't have shortcuts tied to them at all.

[2018-11-13 21:48] ehollig commented on #8943
I am pretty sure this is something we can not fix. Please reopen if I am incorrect. @leonardder @michaelDCurran

[2018-11-13 21:48] #8943 closed

[2018-11-13 22:13] ehollig commented on #8938
Closing because of incomplete information.

[2018-11-13 22:13] #8938 closed

[2018-11-14 10:15] gauldoth opened #8944 "Add support for Foxit Reader PDF Viewer"
Foxit Reader is a widely used PDF viewer all over the world.  Foxit also engages in providing accessibile PDF reading.
Foxit Reader can work with JAWS since version 9.3, it will be great if NVDA can support it.

### Steps to reproduce:

1. Download and install Foxit Reader 9.3, it can be downloaded from here:
https://www.foxitsoftware.com/pdf-reader/
1. Open a PDF document.
1. Press DownArrow mult

[2018-11-14 11:33] Brian1Gaff commented on #8943
Yes and what synth is in use as well.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "ruifontes" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Tuesday, November 13, 2

[2018-11-14 11:35] Brian1Gaff commented on #8943
Is your machine a bit sluggish? I have been going manic with trying what you
say and apart from an odd click where a word is interrupted at a peak it is
reasonably smooth.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2018-11-14 11:37] Brian1Gaff commented on #8944
Yes I know it won't work with nvda, but last time I asked somebody told me
it did not publish its access routines or support all the normal windows
ones. It may of course have changed or maybe Jaws has a specific script for
it?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2018-11-14 12:14] sidnc86 commented on #8239
@Timtam  I also installed the same backup tool yesterday to take backup of my system and this issue started occurring. Thanks for the enlightenment that Macrium Reflect is causing this issue. Well I was using free edition of Macrium. But I should tell that before Macrium Reflect, I faced the issue once in a while with NVDA and restarting NVDA used to fix it. With Macrium Reflect Free, restarting N

[2018-11-14 12:52] leonardder commented on #8944
Foxit Reader exposes a UIA document implementation. It is pretty easy to add browse mode to this and I was even able to have quick navigation working for headings, but the performance is ridiculously slow.

See https://github.com/BabbageCom/nvda/blob/i8944/source/appModules/foxitreader.py

[2018-11-14 12:56] Timtam commented on #8239
@sidnc86
glad that I was of some help. Just download and install the latest alpha (aka nightly build) of NVDA, it will fix all those issues just fine.

[2018-11-14 13:03] leonardder commented on #8943
I can't find out what the steps to reproduce ought to be.

[2018-11-14 13:39] gauldoth commented on #8944
@leonardder The UIA implementation is not complete yet. Out of process queries are quite slow due to some unknown reasons. But their developers have implemented both MSAA and PDDom for the document, the UIA implementation may be removed in future releases.

[2018-11-14 17:06] elliott94 commented on #7778
Just updating this on the off chance that anybody has new ideas on what could be causing this. My main concern is that in corporate environments where NVDA is being used and where keeping software updated is key, the inability to use latest versions of the browser could start to be a big problem. Browser support for Firefox is without a doubt the best browser/screen reader combination, but obvious

[2018-11-14 19:05] jscholes commented on #7778
So this still occurs with the latest versions of Firefox?  In https://github.com/nvaccess/nvda/issues/7778#issuecomment-402400289, you hinted that the Skype for Business installer might have something to do with it.  Would it be at all possible for you to test your theory, maybe by creating a Windows 10 virtual machine?  I don't think anybody would argue with the fact that Firefox being completely

[2018-11-14 19:35] elliott94 commented on #7778
The SFB installer was mentioned because this is a perfect example of an executable that completely breaks accessibility when installed; however, the COM registration fixes tool included with NVDA fixes this.

Unfortunately, I don't have any free hardware that I can load any virtualisation software onto at the current time - I can, however, test on the laptop with the problem if required. Sorry for

[2018-11-14 21:11] lukaszgo1 opened #8946 "NVDA isn't announcing selection in Dev-C++"
### Steps to reproduce:
1. Open Dev-C++.
2. Create empty file and type anything.
3. Start selecting with shift and arrows or with any other selection command.
### Actual behavior:
Nothing is announced, but text is selected.
### Expected behavior:
The selection should be announced like in other programs.
### System configuration:

#### NVDA Installed/portable/running from source:
installed

#### NV

[2018-11-15 03:38] gauldoth commented on #8944
@leonardder Thanks for helping.
I also tried a commit, but I don't know how to put that in into app module, see https://github.com/gauldoth/nvda/commit/8a56c93a042860753f7ed06c8c509b313c68534a

BTW, there is another product called Foxit PhantomPDF which implemented the same interface.
If we are going to use app module, we may also need a foxitphantompdf.py under the appModules folder.

[2018-11-15 08:14] leonardder commented on #8944
Wow, this is exactly the next approach I intended to follow.
Would you be able to create a separate branch for this and file a pull request?

[2018-11-15 13:11] sonor3000 opened #8948 "NVDA and add-ons are not update when a http proxy is used by the operating system"
I am using the latest stable NVDA release on Win7 in an environment where a http proxy has to be used to access the internet. Unfortunately with this system config no automated updates for NVDA or installed add-ons can be downloaded.

Is this a known issue?
Can it be resolved somehow?
Can the update mechanism of NVDA be reimplemented to also take care of http proxy settings of the operating system

[2018-11-15 16:36] josephsl commented on #8948
Hi, we need to look into where this is failing (Python 2’s urllib, update check thread, etc.). CC @JCSTeh

From: sonor3000 <notifications@github.com>
Sent: Thursday, November 15, 2018 5:11 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA and add-ons are not update when a http proxy is used by the operating system (#8948)

I

[2018-11-15 18:16] jscholes commented on #8948
This isn't much of a mystery.  urllib2 doesn't automatically fetch proxy information from the OS, and NVDA doesn't add it.  It's not a technical failure, it's a feature which just doesn't exist.  The [WinHttpGetIEProxyConfigForCurrentUser function](https://docs.microsoft.com/en-us/windows/desktop/api/winhttp/nf-winhttp-winhttpgetieproxyconfigforcurrentuser) can be used to get the information.  Oth

[2018-11-15 19:04] jscholes commented on #8948
Should we also advise add-on authors to use any configured proxy when making HTTP requests?  Or provide a preconfigured HTTP client of some sort that add-ons can import and use, knowing that the correct network config will be in place?

[2018-11-15 21:37] kceiw commented on #8058
I tried NVDA 2018.3.2. It doesn't announce "Space" right now. It announce nothing.

The way to create this program is:
1. Create a WPF application in Visual Studio using the template WPF App (.Net Framework).
2. Add a few RadioButton controls.

Then you can build the project and run the application.

[2018-11-16 01:12] jcsteh commented on #8948
I could swear this has been discussed before (or at least I looked into
it), but I can't find an issue for it, nor a mailing list thread.

Actually, both urllib and urllib2 do fetch proxy information from the OS.
However, I vaguely recall there's some difference in functionality. Perhaps
urllib didn't pass http connections through an https proxy or something
like that. Either way, keep in mind tha

[2018-11-16 01:16] josephsl commented on #8948
Hi, wasn’t this discussed in 2014 or 2015 around the time we had to go through SSL changes? Thanks.

From: James Teh <notifications@github.com>
Sent: Thursday, November 15, 2018 5:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA and add-ons are not update when a http proxy is used by

[2018-11-16 04:28] pratik-pk opened #8949 "NVDA IS not Reading any Item has been selected or not selected from select drop down list"
### Steps to reproduce:
Open the html page in chrome and than tab till select ,open drop down and select any option.
### Actual behavior:
NVDA is not Reading any Item has been selected or not selected from select drop down list
### Expected behavior:
NVDA should Read the item is selected on selecting from drop down and not selected when it is not selected.
### System configuration:
windows 10 64bi

[2018-11-16 06:48] DrSooom commented on #8884
The list of all released NVDA Beta, RC and Stable versions from 0.5 (2008-03-26) to 2014.4 (2014-11-27) is available [here at SourceForge.net](https://sourceforge.net/projects/nvda/files/releases/). Sadly it seems that there is no such an easy to access list of all releases since the beginning of 2015.

Adding the minimum OS version and the release date nearby the version on the [download site](ht

[2018-11-16 07:55] FelixGruetzmacher commented on #8389
Sorry, tested but forgot to respond. Alpha at this time still had the issue. Anything new to test?

[2018-11-16 12:20] 36degrees commented on #6209
We have found that manually [managing the focus using JavaScript](https://github.com/alphagov/govuk-frontend/blob/e7cfd476c6ed05c43bd1b37b326e699db3d8c8a0/src/components/error-summary/error-summary.js#L33-L85) (preventing the default event handler on the link, and calling `focus()` on the target input) [results in NVDA announcing the label, legend and description 'correctly'](https://github.com/al

[2018-11-16 12:55] HarishTerala opened #8950 "MS Teams: NVDA is narrating the "<username> is out of office and may not respond" notification information twice when user presses Enter on the group message chat."
### Steps to reproduce:
1. Open NVDA and launch MS Teams app.
2. Navigate to the "Chat" Appbar element and press Enter to activate it.
3. Navigate to any group message chat and press Enter.
4. The focus will land on the "Type a new message" edit box.
5. Observe the narration of NVDA.

### Actual behavior:
When user presses Enter on the group message chat and focus lands on the "Type a new message"

[2018-11-16 14:09] HarishTerala opened #8952 "MS Teams: NVDA focus does not go on "Call" button in browse mode"
### Steps to reproduce:
1. Open NVDA and launch MS Teams app.
2. Navigate to the "Chat" Appbar element and press Enter to activate it.
3. Navigate to Call button in browse mode.
4. Verify the issue.

### Actual behavior:
NVDA focus does not go on "Call" button in browse mode.

### Expected behavior:
NVDA Focus should go on "Call" button in browse mode.

### System configuration:
#### NVDA Installe

[2018-11-16 19:01] legle commented on #7571
@leonardder Do you believe that this problem with NVDA's behavior with JAVA Acess Bridje can be solved?

[2018-11-16 23:11] vkadri commented on #8440
Hello,

any update on this?

[2018-11-17 21:02] legle commented on #7571
yes, this works with JAWS, but I'm not in the same environment reported above, but until my last test in a production application, NVDA continued to have this problem.

[2018-11-17 22:21] josephsl commented on #8883
Hi,

Just to make sure: does this happen with build 18282 now? If not, let's close it until we get more reports from users.

Thanks.

[2018-11-18 02:42] gdata1 commented on #8883
Hello. In build 17282 I can sometimes reproduce the problem

[2018-11-18 03:06] josephsl commented on #8883
Hi, I think this may have to do with missed UIA events. CC @mIchaelDCurran

From: nikita <notifications@github.com>
Sent: Saturday, November 17, 2018 6:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Problem with Notification Center (#8883)

Hello. In build 17282 I can sometimes reproduc

[2018-11-18 20:04] munawarb commented on #8822
I love this suggestion and found this issue when I heard about the JAWS 2019 release. @fernando-jose-silva  is correct that VoiceOver already implements this. It helps me because I have a hearing loss that makes it difficult to distinguish between certain similar-sounding characters. @ruifontes, I think this is a good idea and is also how JAWS handles it. But I think the setting should be there fo

[2018-11-18 20:35] josephsl commented on #8822
CC @LeonardDer just in case he may have any thoughts, since his recent work may assist with this case. Thanks.

From: Munawar Bijani <notifications@github.com>
Sent: Sunday, November 18, 2018 12:05 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] suggestion, give a possibility to automatically spell the characters in phoneti

[2018-11-18 22:49] andrew-l-d opened #8955 "Stopping speech at a precise point"
This is a feature request.  Would it be possible to stop speech at a precise point in order to - say - make an edit?  Something like the pause speech feature via the shift key but WITHOUT THE RESUME.  Whether in Word, Notepad or a webpage, stopping speech with the control key leaves one at the beginning of the sentence or thereabouts.  I have tried all combinations of routing, but it seems that th

[2018-11-18 22:58] #7430 closed

[2018-11-18 23:03] #8894 closed

[2018-11-18 23:11] #8944 closed

[2018-11-18 23:53] #8941 closed

[2018-11-19 03:04] fisher729 opened #8956 "NVDA's skip past links command doesn't skip every link on some sites"
I normally visit the TV By the Numbers site and read some of the comments under the ratings. With NVDA 2018.3.2 and older, when I press the 'N' key, I can go through all the comments by first line, then all I'd do is press down arrow to read the other lines of text. Of course, it would skip some, but I was fine with that. Now, in the latest alpha as of opening this ticket and for a few versions pr

[2018-11-19 06:01] mohdshara commented on #8948
hi. @jcsteh  you're right, we discussed this before https://github.com/nvaccess/nvda/issues/7893
we need to mark one of those as duplicate. Thanks.

[2018-11-19 09:55] DrSooom commented on #8956
CC: @michaelDCurran, @MarcoZehe and @jcsteh

[2018-11-19 23:12] Qchristensen opened #8959 "In Excel, several voices read numbers & cell coordinates in column E as scientific numbers"
### Steps to reproduce:

1. Open Excel
2. Move to a cell in column E, for instance, E4
3. Type a number in a cell, eg 5
4. Ensure reporting cell coordinates is checked in NVDA's document formatting.
5. Ensure NVDA is set to use the David, Zira or Mark OneCore voice, or the David SAPI 5 voice.
6. Navigate away and then back to the cell.

### Actual behavior:
NVDA reads the number and cell co-ordina

[2018-11-19 23:42] Qchristensen commented on #6553
As this comes up regularly, has there been any movement on this issue recently?

[2018-11-20 00:34] Qchristensen commented on #3806
Just revisiting this one, since someone asked, whether page numbers are identified seems to be dependant on the format of the PDF file itself.  I just tried several, and some read the page number when navigating (eg when control+page down is pressed) and some don't.  Some announce it first when NVDA+tab is read and some PDFs announce it last or not at all.

In all cases, however, Adobe reader itse

[2018-11-20 02:32] AnthonyYY opened #8960 "current status is announced multiple times by NVDA"
### Steps to reproduce:
1. Open this example on a windows FireFox browser tab, https://jsfiddle.net/AnthonyYY/xpvt214o/952936/
2. Open NVDA and open its speech viewer.
2. in the JSFiddle's `result` panel, use keydown `tab` twice to navigate to the next menu-item.
3. hit `enter` key to activate to target menu item.
4. check the speech viewer
### Actual behavior:
NVDA reads aria-current menu item's

[2018-11-20 02:43] AnthonyYY commented on #8960
Previously i thought  it's an issue of react-router, for reference https://github.com/ReactTraining/react-router/issues/5507. After reproduced it by jQuery found that it may caused by NVDA.

[2018-11-20 03:35] ehollig commented on #7676
This sounds like another instance of #8683. Please reopen if this is not the case @masonasons

[2018-11-20 03:35] #7676 closed

[2018-11-20 03:41] ehollig commented on #7667
@fisherandrew04 can you give steps to reproduce with a specific webpage, or does https://github.com/nvaccess/nvda/issues/7667#issuecomment-337309800 solve this issue.

[2018-11-20 03:57] ehollig commented on #7589
@SomethingNew71 when I click on the Learn more about Better button, NVDA properly places focus on, and announces the alt text of the better graphic. What exactly is the issue here?

[2018-11-20 04:02] ehollig commented on #7564
I think this may be because the page is refreshing to show new data and NVDA may think the entire page is refreshing, causing it to announce the page title. CC @leonardder @feerrenrut

[2018-11-20 04:17] ehollig commented on #7533
This appears to be fixed in ESpeak 1.49.3 as https://github.com/espeak-ng/espeak-ng/issues/302 and https://github.com/espeak-ng/espeak-ng/issues/332 (both with the same cause) are closed. Closing this issue.

[2018-11-20 04:17] #7533 closed

[2018-11-20 07:46] Adriani90 commented on #3806
ctrl+shift+n shows you the current page already.

[2018-11-20 07:48] Adriani90 commented on #7667
@leonardder I think this issue should be solved now. Right?

[2018-11-20 07:50] Adriani90 commented on #7646
@stephenbe is this issue still reproducible in NVDA with last Alpha?
cc: @jcsteh

[2018-11-20 07:52] Adriani90 commented on #7558
@gregjozk is this issue still reproducible with last Firefox and last NVDA Alpha?
cc: @jcsteh

[2018-11-20 09:06] leonardder commented on #8895
@michaeldcurran: I've also seen cases where browsing with the browse mode caret made a button being announced twice.

[2018-11-20 11:03] jcsteh commented on #7558
I'm closing this, as there have been massive changes to Firefox since this was reported. I cannot reproduce any issues regarding table navigation, nor are we aware of any current reports of such issues.

[2018-11-20 11:03] #7558 closed

[2018-11-20 12:22] DrSooom opened #8961 "Error when starting Microsoft Outlook 2010 with NVDA 2018.4 Beta 1"
### Steps to reproduce:
+ Just start Microsoft Outlook 2010.
### Actual behaviour:
Error when starting Microsoft Outlook 2010. [Here](https://github.com/nvaccess/nvda/files/2599668/NVDA.2018.4beta1_Outlook.2010.log) is the logfile.
### Expected behaviour:
No error when starting Microsoft Outlook 2010.
### System configuration:
#### NVDA installed/portable/running from source:
Portable
#### NVDA ve

[2018-11-20 13:55] stephenbe commented on #7646
Hi @Adriani90 yes I just tried it in alpha-16281,2b96213a and it the same result

[2018-11-20 21:14] Qchristensen commented on #3806
Thanks Adriani!  I couldn't find that in Adobe's documentation.  So, is this issue still an issue otherwise?

[2018-11-20 22:11] michaelDCurran commented on #6606
Reopened as #8869 had to be reverted for now.

[2018-11-20 22:11] michaelDCurran commented on #8341
Reopened as #8869 had to be reverted for now.

[2018-11-20 23:52] Qchristensen opened #8962 "Document information about COM Registration Fixing Tool."
In NVDA's tools menu, one of the options is "Run COM Registration Fixing Tool".

This tool is not documented in the User Guide (less importantly, I can't see it listed anywhere in the what's new file or issues either, although running the tool is suggested in several issues and I advise people to use it in attempting to fix several issues).

[2018-11-21 02:43] Qchristensen opened #8963 "Report name for named cells in Excel"
### Steps to reproduce:

In Excel:
1) Move to a cell (C3).
2) Press alt+f3 to move to the name edit.
3) Type a name (testCell) and press enter.
4) Navigate away from that cell and then back to it.

### Actual behavior:

NVDA reads the contents of the cell, and the coordinates (assuming cell coordinates are set in NVDA's document formatting).

### Expected behavior:

Have (perhaps as an option) NVD

[2018-11-21 03:30] ryok141 commented on #8783
I'm also having this issue. I'm running windows 10 1803 here. It usually starts after I put my computer on standby then turn it on again. Restarting NVDA doesn't help much. No matter what I'm doing whether I'm browsing etc, NVDA will freeze for 3 seconds or so.
Ways that I tried to get around this issue.

- Restarting NVDA: didn't help at all.
Disabling add-ons: didn't help either.

[2018-11-21 03:52] josephsl commented on #8783
Hi, can you try with NVDA 2018.4 beta 1 and see if it improves things a bit? Thanks.

From: ryok141 <notifications@github.com>
Sent: Tuesday, November 20, 2018 7:30 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Intermittent lag under Windows 10 build 1803 (#8783)

I'm also having this iss

[2018-11-21 09:58] wuyalingo opened #8965 "In Firefox, when select is folded whether value changes or not, NVDA will read text of <body>."

[2018-11-21 10:03] leonardder commented on #8965
Please provide a description including steps to reproduce as well as Firefox and NVDA versions.

[2018-11-21 10:14] SwathiMicro opened #8966 "Highcharts Donut chart is read as pie chart"
### Steps to reproduce:
Any donut chart in highcharts is given pie dimensions instead of donut.
Please find the below link an example from highcharts where the type is given as pie instead of donut.

Also we could not find much examples in highcharts demo for donut chart.

https://www.highcharts.com/demo/pie-donut
https://codepen.io/pen/?editors=1010.

Look in JS file. sample code:

Highcharts.cha

[2018-11-21 11:38] Ednunp commented on #8502
Guys, is this ever going to get resolved? What is the current status? is MS looking into it, are NVDA looking into it, is anyone looking at it? it was opened in July and is by all accounts dead in the water. I want to stress again this is a significant issue when working in a large org with a lot of names and addresses. Currently the only workaround such as it is, is to enter a few letters of some

[2018-11-21 11:58] DrSooom opened #8967 "Random errors on loading pages in Firefox when a braille display is connected"
### Steps to reproduce:
1. Visit https://danielmayr.at/abc/
2. Use the Access-Keys A, Q, W, S, X and Y to move between those six static HTML sites.
### Actual behaviour:
Random errors on loading pages. [Here](https://github.com/nvaccess/nvda/files/2604099/NVDA.2018.4beta1_Firefox.63.0.3_Error.on.loading.page.log) is the logfile. Start reading from line 674.
### Expected behaviour:
No errors on loa

[2018-11-21 12:08] DrSooom commented on #8966
@SwathiMicro: Please completely fill out the draft. Thanks.

[2018-11-21 13:57] fernando-jose-silva commented on #8783
I am using the last nvda alpha 16298 and windows 10 1809 17763.134 and I experience delays in nvda.
Some times I open the menu to start typing settings, press enter to open settings and nvda announces settings, press tab to navigate and nvda is muted.
After a long time approximately 15 seconds or more the nvda makes the sound that the search box of the start was closed and starts to read the setti

[2018-11-21 16:15] josephsl commented on #8502
Hi,

Since we haven't heard from the individual who did a pull request on this, I'll take this on.

Because of its high impact, I propose raising the priority of this one to P2 at least. If I do come up with a PR, it'll be based on beta unless @MichaelDCurran says otherwise.

Thanks.

[2018-11-21 17:08] Ednunp commented on #8502
Thanks Joseph apreciate this. I know of at least 3 people who wil be extremely happy once this is fixed.

[2018-11-21 17:13] josephsl commented on #8502
Hi,

Further investigation says: yes, my initial hypothesis was right: I think we've been so complacent to a point where we cost someone his or her productivity.

Technical: the "To:" field and friends have way better UIA implementation. This is evidenced by the fact that:

1. Narrator announces suggestions.
2. Controller for event is raised.

Several solutions come to my mind:

1. Tell NVDA that

[2018-11-21 18:36] ehollig commented on #8966
@SwathiMicro please completely fill out the template. Also, do you have an example where this exists where we can take a look?

[2018-11-21 18:48] josephsl commented on #8502
Hi,

Technical: although name change event may seem promising, it won't cover certain situations. Also, the root culprit is the fact that state change event for auto-complete list item is not raised in some cases, but when using UIA, it works.

I'll compile a try build for you all to try (the code is based on latest master snapshot).

[2018-11-21 19:13] nhaidaraly commented on #7948
The issue is still present on IE11 but was solved on Chrome, Firefox and Edge...

[2018-11-21 19:30] josephsl commented on #8502
Hi,

Try build:

https://ci.appveyor.com/api/buildjobs/3967ub6tudlp64xa/artifacts/output%2Fnvda_snapshot_try-outlookAutoCompleteUIA-16299%2Ccd98032c.exe

Don't worry about error tones when entering address into "To:" field in Outlook.

Please test this build under the following combinations:

1. Windows 10 and all of the following Outlook versions if possible: 2007, 2010, 2013, 2016, 2019, Office

[2018-11-21 20:11] Adriani90 opened #8968 "Error in google Crome with NVDA 2018.4 Beta1"
### Steps to reproduce:
1. Open NVDA
2. Open Google Crome
3. Go too www.google.com
4. In browse mode, press e to go to the search field
5. Type something and press enter
6. Press nvda+page up
7. Press e to go to the search field and type something, then press enter.

### Actual behavior:
Following error comes almost everytime when pressing enter (log file is attached):
[code]

### Expected behavio

[2018-11-21 20:19] Adriani90 opened #8969 "Google Crome: mouse routing works properly but NVDA does not report where the mouse has been routed to"
### Steps to reproduce:
1. Open NVDA
2. Open Google Crome
3. Go to this website
https://www.nvaccess.org/post/in-process-21st-april-2017/
4. in browse mode, navigate to the first Image in the article
5. Press NVDA+shift+m to route the mouse to the image
6. Press right click to open the context menu for the image

### Actual behavior:
NVDA routes the mouse properly to the image. You cn see that whe

[2018-11-21 20:37] Adriani90 commented on #7915
this works now when routing the mouse from browse mode. But it still fails when using object navigation to move the nvda cursor to the image with nvda+shift+right arrow and routing the mouse with nvda+shift+m.
I am using laptop keyboard layout.

[2018-11-21 20:55] Adriani90 commented on #8502
Hey @josephsl, I've tested with MS Outlook 2016 and 365 with speech. Suggestion sound plays properly and NVDA announces the suggestions as expected. It works in to, cc and bcc.
Using Windows 10 1809 update.

I have noticed that the address in the field is recognized as button. This is also announced when navigating with left arrow to the address. It says "button" and "button end". This is not the

[2018-11-21 21:04] josephsl commented on #8502
Hi, yep, likely due to UIA giving wrong control type information, which should be taken care of through role coercion (event_NVDAObject_init). I’ll wait for more comments before creating a second try build. Thanks for the report.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, November 21, 2018 12:56 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.

[2018-11-21 21:08] govsta1981 commented on #8502
It works well here. I only tried typing in the “to” field, but, it works as expected. I’m using Windows 10 build 1803 with Outlook 365.

From: Joseph Lee <notifications@github.com>
Sent: Wednesday, November 21, 2018 4:04 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC &

[2018-11-21 21:14] Novalis7747 commented on #8502
running Office 365 under Win 1809. the suggestion in the TO field works fine when typing. When arrowing down the suggested email addresses they are spoken correctly, but when up arrowing in the list it only says blank and arrowing doen again only brings me the value I typed in the address field.

[2018-11-21 21:32] Novalis7747 commented on #8502
Not sure if my first commen on github came through, so here again:
When arrowing down through the list of suggestions with arrow down, each suggestion speaks well, but when arrowing up again in the list I hear only “blank” and after that arrowing down brings nothing than the characters I entered in the address field.

From: Joseph Lee <notifications@github.com>
Sent: Mittwoch, 21. November 2018 22

[2018-11-21 21:32] josephsl commented on #8502
Hi, suggestion item navigation is something I might not be able to work with at the moment, as the highest priority is making sure people can hear auto-complete suggestions. Thanks.

From: Ralf Kefferpuetz <notifications@github.com>
Sent: Wednesday, November 21, 2018 1:14 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>

[2018-11-21 21:34] fisher729 opened #8970 "NVDA and Google Search result tables: error and incorrect message."
1. Open a web browser (excluding Edge, because it works there)
2. Google "Premier League table" or any result that will place results in a table format.
3. Navigate inside the table. Everything is read in the table just fine.
4. Try and move to the next rows and columns with the Alt+Control+Arrows
Expected: Rows/columns are moved to and read.
Actual: The error message is played, and NVDA says 'edg

[2018-11-21 21:34] Novalis7747 commented on #8502
Yup, that’s ok, it works when arrowing down, so we can pick our choice…

From: Joseph Lee <notifications@github.com>
Sent: Mittwoch, 21. November 2018 22:33
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC & BCC fields of new emails (#8502

[2018-11-22 05:55] SwathiMicro commented on #8966
Template have been filled, let us know if this is expected that pie and donut similar .

[2018-11-22 08:36] Novalis7747 commented on #8502
Test under Win 1709 and Office 2013 corporate
Result: no autosuggestion at all and no list of suggestions when arrowing down or up.

From: Joseph Lee <notifications@github.com>
Sent: Mittwoch, 21. November 2018 20:31
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete

[2018-11-22 16:00] josephsl commented on #8502
Hi, and this is with UIA on, right? What about with 2018.4 beta 1? If the beta and the try build is doing the same thing, then I need to restrict the UIA code to Office 2016. I’m curious to know if anyone is willing to test this on Windows 7 and 8.1. Thanks.

From: Ralf Kefferpuetz <notifications@github.com>
Sent: Thursday, November 22, 2018 12:37 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc:

[2018-11-22 16:31] josephsl commented on #8502
Hi, and given the state change event is failing for these… I think, at this point, the new code will be restricted to Office 2016 and beyond, and given the work involved in correcting it, it may not make the cut for 2018.4 (sorry). CC @MichaelDCurran

From: Ralf Kefferpuetz <notifications@github.com>
Sent: Thursday, November 22, 2018 8:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph L

[2018-11-22 16:33] Ednunp commented on #8502
HI. Apologies I've not been able to test this yet as don't have my work laptop with me. Does this last comment mean we can't implement this code then? that the fix must remain disabled? Also another question if I may, how do I turn UIA on? is it a setting or on by default?

[2018-11-22 16:48] josephsl commented on #8502
Hi,

Based on feedback so far, the new code, if even chosen, will work only on Office 2016 and beyond with some changes. Of course that could change based on your test results.

UIA is always enabled by default. One way to check is opening NVDA log (NVDA+F1) and checking UI Automation line at the top.

Thanks.

[2018-11-22 16:49] Ednunp commented on #8502
It's a pain because office 2016 is where the problem is. No way of getting it to work out which version of Office is running and then working accordingly?

[2018-11-22 16:58] josephsl commented on #8502
Hi,

Let's see if I can give you a slightly simplified picture:

As long as UIA is active, NVDA will use UIA support subsystem if a control says it is a UI Automation element. However, we (NV Access people and third-party developers) ran into incomplete UIA implementation for many controls in the past, thus we added several methods to block usage of UIA for certain controls (some of the most impor

[2018-11-22 17:36] josephsl commented on #8502
Hi,

Follow-up to my last comment: yes, the pull request referenced above will fix this issue for you once it shows up on alpha builds (after going through reviews of course).

By the way, I'd like to take back my word about complacency (apologies for not doing thorough research before making a swift conclusion).

Thanks.

[2018-11-22 17:39] leonardder commented on #8961
Could you install NVDA 2018.4 beta1 and see whether this problem still persists?

[2018-11-22 17:41] leonardder commented on #8967
Could you try this with an installed copy?

[2018-11-22 21:47] Adriani90 commented on #8709
@DrSooom the german typos are now solved.

[2018-11-22 22:37] munawarb commented on #7678
Hi @leonardder , yes I can. I tried with alpha-16298,c651588e and am getting the same results. There is an update to the issue here: liblouis/liblouis#434.

[2018-11-22 22:50] Qchristensen commented on #8884
As you know, when 2017.4 came out, we had a link to 2017.3 on the download page for XP users.  When we updated the site, it was a simple oversight - I think actually that even though the new site didn't go live until later, that page might have been written before we dropped XP support.  We've only had a few requests for an XP compatible version, and I wonder how many "new" users still use XP?  I

[2018-11-22 22:58] Qchristensen commented on #3806
I must admit, I looked at a couple of files I had before coming to this issue, so I didn't try the linked file until now.  Adriani, the document linked in the first comment downloads as a .pdf.zip - it is in fact a PDF file - rename it and drop the .zip off the end and it should open.  That file does present the reported issue.  NVDA reads  "Heading level 1 Page 2 Letter Two" - when "Letter two" i

[2018-11-22 23:02] lukaszgo1 commented on #8884
It isn't only about XP users. It is also about, still used in some institutions, Vista, and W7 without  SP1. The last scenario is pretty common someone install W7 from the dvd that he/she bought when Win 7 came out and until someone sighted install SP1 for him he has no access to the computer at all.

[2018-11-23 01:46] jcsteh commented on #8967
Not critical for the release, as these exceptions should have no user impact and users won't be aware of them in a final release. They should still be caught somewhere, though. I think the issue is that braille tries to access the document after it has died in response to a caret movement. The question is why the caret movement fires when the document is dead... or why braille handles it so late.

[2018-11-23 11:51] MarcoZehe opened #8972 "German version of NVDA says "rk" (the braille abbreviation" for a tab in a multi-page dialog or browser context"
### Steps to reproduce:

In Firefox:
1. Open a new tab.
2. Press CTRL+L to go to the address bar.
3. Shift+Tab twice.
4. Listen to what NVDA says.

### Actual behavior:

In the German version, NVDA says, as last utterance: "Neuer Tab rk". The last part "rk" is the braille abbreviation for "Registerkarte". "Registerkarte" is what should be spoken.

### Expected behavior:

NVDA says "Registerkarte"

[2018-11-23 12:49] Adriani90 commented on #8972
@MarcoZehe I have fixed this just two days ago. It will be solved next time when translations will be merged.
Thanks for reporting.

[2018-11-23 14:18] DrSooom commented on #8884
@Qchristensen: This isn't really the point in my opinion. As NVDA is open source, all released versions of it (RCs and Stables) should be easy to access through the download page. Furthermore those files are still on the webserver like [NVDA 2015.1](https://www.nvaccess.org/files/nvda/releases/2015.1/nvda_2015.1.exe). But you have to know the correct link to it, otherwise you aren't able to find t

[2018-11-23 15:49] fernando-jose-silva opened #8973 "in the Find excel 2013 Office Box It is not possible to walk letter by letter"
### Steps to reproduce:
open excel 2013.
Enter any content in some cells.
Press the command to open the find and replace box, in English Brazil the shortcut is ctrl + l.
Enter a text and press the left and right arrows to read character by character.
### Actual behavior:
The nvda always repeats the first letter of the text that was typed.

### Expected behavior:
nvda should read character by chara

[2018-11-23 16:59] leonardder commented on #8972
Than, the fix should already be in the beta branch, since Thursday is translation merge day.

[2018-11-23 17:50] comanna commented on #8973
The same behaviour in Excel 2016.

All the best,

Cearbhall

m +353 (0)833323487 Ph: _353 (0)1-2864623 e: cearbhall.omeadhra@blbc.ie

From: fernando-jose-silva <notifications@github.com>
Sent: Friday, November 23, 2018 3:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] in the Find excel 2013 Office Box It is not possible to w

[2018-11-23 20:19] fernando-jose-silva opened #8974 "nvda does not advertise the entire selection of an email link"
### Steps to reproduce:
open an email in Outlook that contains an email address.
Now place the cursor at the beginning of the email address and press ctrl + shift + right arrow.
### Actual behavior:
The nvda will inform the first word of the selected e-mail.
### Expected behavior:
The nvda should enter the entire address of the selected e-mail.
Example:

by selecting the e-mail address fernando@gm

[2018-11-23 20:41] Adriani90 commented on #8974
I can reproduce this. But it is not related to MS Outlook. This occurs also in all other office programs (MS Word, Excel and Power point). It also occurs in Wordpad. In browsers and also in notepad the e-mail adress is recognized as a single word.
@fernando-jose-silva, technically speaking, the e-mail adress is actually a bunch of words. So NVDA is behaving correctly when it reads only the first w

[2018-11-23 20:46] Adriani90 commented on #8973
I can reproduce this in MS Excel 2016 and MS Office 365

[2018-11-24 04:26] YetiAnt opened #8975 "Missing Text in VS2017 source code"
In C# source code You can Open or Close code blocks by pressing

   STRG+M,M

This works fine in NVDA with VS2017 with blocks like namespaces, classes and Methods.

This feature is also available for regions. But it does not work properly with NVDA.

You may reproduce the issue as follows:
1. Open any C# project in VS2017. You can use the attached NVDAVS2017RegionColapseProblem.
2. Define a region

[2018-11-24 09:26] andrew-l-d opened #8976 "NVDA 2018.4 beta 1 not reading .chm file"
Using NVDA 2018.4 beta 1 on Windows 10 and trying to open the AutoHotKey help file.  Contents momentarily appears on the screen but NVDA says nothing.  There is then that nasty clang-clang sound and I am returned to where I started.  The problem does not occur with earlier NVDA versions, including nvda_snapshot_alpha-16247,fbae6b0b.  Also no problem when using Narrator.  A copy of the log file is

[2018-11-24 11:36] DrSooom commented on #8973
Please press TAB followed by Shift+TAB after opening the search window with CTRL+F. In Microsoft Excel 2010 NVDA 2018.1.1 on Win7x64 is completely silent because it seems that NVDA isn't able to recognized the text field on the very first appearance of the find window.

[2018-11-24 11:56] leonardder commented on #8976
Please provide exact steps to reproduce this issue.

[2018-11-24 12:10] marlon-sousa commented on #8948
Hello,

I would like to take this issue.

I have no such configuration here but by using fiddler I have been able to emulate what I believe to be the same situation. I can take a look at it and see if I can fix it.

Can I go ahead?

[2018-11-24 14:05] sonor3000 commented on #8948
Because I created this issue, I'd be glad to help if I can. If you have no environment with an http proxy, I can test it in my companies network, thats where I have the described problem.

[2018-11-24 16:43] josephsl commented on #8948
Hi, yes, go ahead. CC @LeonardDer in case he wants to say something.

From: Marlon Brandão de Sousa <notifications@github.com>
Sent: Saturday, November 24, 2018 4:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA and add-ons are not update when a http proxy is used by the operating sy

[2018-11-24 23:17] fernando-jose-silva commented on #8973
in office 2013 and 2016 tabe + shift + tabe does not improve.
Thank you all.

[2018-11-24 23:52] andrew-l-d commented on #8976
In brief, trying to open the autohotkey.chm file.  Steps are:
1. Press Windows key.
2. Up arrow once.
3. Press a (for apps starting with a)
4. Arrow down until reaching the AutoHotKey folder.
5. Press Enter.
6. Arrow down to AutoHotKey help file.
7.  Press Enter.
8.  Wait a few seconds and get thrown back to previous position.
Alternatively navigate to c:\program files\autohotkey, arrow to the aut

[2018-11-25 17:30] Adriani90 commented on #2144
@jcsteh is this still reproducible with NVDA 2018.4 Beta 1? The initial author did not respond. I didn't find anyone who was able to reproduce it.

[2018-11-25 17:33] Adriani90 commented on #2157
@tspivey is this still reproducible in NVDA 2018.4 Beta 1?

[2018-11-25 17:40] Adriani90 commented on #2158
@kredh
cc: @michaelDCurran, @feerrenrut, your thoughts are very appreciated. I understand this issue as follows:
in screen review, when a single tab is open, everything is ok. When two or more tabs are open, NVDA reads the whole content in a row from left to right. This means it reads content of all opened tabs which is displayed in a row.

In my view this is not an issue in NVDA. NVDA reads out t

[2018-11-25 17:40] shah commented on #1776
@Adriani90 I'm not a Thunderbird user so I'm unable to confirm.

[2018-11-25 17:57] Adriani90 commented on #2464
@erion can you still reproduce this?
@jcsteh, @michaelDCurran I guess there is low priority for this issue at NV Access. Right? Actually there was also some problems regarding this issue which have been reported in the german community as well. Especially with 24 khz voices. But I think those voices can be replaced by better and more responsive ones. Your thoughts are very appreciated.

[2018-11-25 18:01] Adriani90 commented on #2433
@jcsteh, @derekriemer your thoughts are very appreciated. In my view at least, this would not really improve user experience. Because if we think of every setting in NVDA where you can either enable or disable it, we could add several varieties for those settings but then the user will ge overwelmed by too many variants for such simple settings.

[2018-11-25 18:02] Adriani90 commented on #2338
@geoff can you still reproduce this in newer versions of browsers?

[2018-11-25 18:07] Adriani90 commented on #2403
@Brian1Gaff, I cannot reproduce this in NVDA 2018.4 Beta 1 in Windows 10 1809 Update. Also working since two years with NVDA 2017.3 on Windows 8.1 and cannot reproduce this either.
Last year I had this problem in Windows 10 1703 update with NVDA 2017.2 and newer. But this problem seems to be solved after Windows 10 1803 update. @josephsl we have closed several issues related to this problem. I sug

[2018-11-25 18:16] fastfinge opened #8977 "NVDA gets stuck in empty window called "applicationframehost" when closing Mail app for Windows 10"
### Steps to reproduce:

1. Open the Mail app for windows 10
2. Close the mail app with alt+f4

### Actual behavior:

NVDA is stuck in a window called "applicationframehost". It doesn't read focus changes, or anything else, and must be restarted.

### Expected behavior:

The Windows Mail app should close, and NVDA should return to whatever window gains focus, as happens when closing any other app.

[2018-11-25 18:29] Adriani90 commented on #2874
@aliminator is this still reproducible?
@michaelDCurran is there a PR related to this? I see this was marked as milesotne at a certain point in the past.

[2018-11-25 18:44] Adriani90 commented on #2863
@Harich is this still reproducible?

[2018-11-25 18:45] Adriani90 commented on #2911
@jkinnunen can you still reproduce this in last version of magic DVD ripper?

[2018-11-25 18:49] Adriani90 commented on #2903
@jcsteh, @michaelDCurran could you please give a short update on this? Thank you.

[2018-11-25 18:54] Adriani90 commented on #2919
@jcsteh I cannot reproduce this in Firefox 63.0.3. I guess the bug reported by you some years ago has been solved. Right?

[2018-11-25 19:01] Adriani90 commented on #2907
@k_kolev1985 is this still reproducible with NVDA 2018.3 or with last beta or Alpha?

[2018-11-25 19:05] Adriani90 commented on #2872
@julianharty are you still able to reproduce this? I guess NVDA was blocked by symantec security software or something like that. I am prety sure this is not an NVDA bug.

[2018-11-25 19:07] Adriani90 commented on #2890
@elliott94 can you still reproduce this with NVDA 2018.4 Beta 1?

[2018-11-25 21:35] ehollig commented on #2403
As we have not experienced this issue in quite a bit of time, I am going to close this issue. Please reopen a new issue if something like this occurs in the future.

[2018-11-25 21:35] #2403 closed

[2018-11-25 22:00] ehollig commented on #2872
I believe Symantec was blocking NVDA, or parts of NVDA for some reason. I am going to close this issue, as it is not an NVDA issue, but if it is still occurring, we can reopen.

[2018-11-25 22:00] #2872 closed

[2018-11-25 22:01] marlon-sousa commented on #8948
Ok.

I have a working copy with the fix.

The problem is really with the urllib library. Interestingly it is discovering proxies correctly on Windows (which is the only OS we are interested in) but the urlopen method is failing even when the proxies resolved by urllib itself are issued in the proxies parameter.

For reference, the urlib.getproxies() method returned no proxy when I was behind a pro

[2018-11-25 23:02] Adriani90 commented on #8972
@MarcoZehe can you still reproduce this in NVDA 2018.4 Beta 2? I can confirm that this is not an issue in Beta 2 anymore.

[2018-11-25 23:44] jcsteh commented on #2890
Even if the original issue can't be reproduced (and I suspect it can), the idea here is still valid; i.e. fail with an error if the user attempts to uninstall while NVDA is running.See https://github.com/nvaccess/nvda/issues/2890#issuecomment-155303469 and https://github.com/nvaccess/nvda/issues/2890#issuecomment-155303470.

[2018-11-25 23:46] jcsteh commented on #2919
No; the bug still exists and I can still reproduce it. See the referenced Mozilla bug for clearer steps to reproduce. It's pretty low priority, though.

[2018-11-25 23:51] jcsteh commented on #2903
The decision made concerning the implementation of this issue is explained in https://github.com/nvaccess/nvda/issues/2903#issuecomment-228216197. Having said that, I no longer personally care about this and I was the one driving it, so I'm going to close this. It can always be reopened should someone care in future.

[2018-11-25 23:51] #2903 closed

[2018-11-25 23:58] jcsteh commented on #2144
I don't recall whether I was able to reproduce this or whether I just deduced what was going on from the log. I suspect the latter. In any case, I can't reproduce it now.

[2018-11-26 00:03] jcsteh commented on #1759
I think the issue as reported here is invalid/works for me. The graphic isn't focusable, and even if it were, a graphic isn't an interactive widget according to spec. The left and right arrows do work in the list in focus mode, and if you tab to the list, NVDA switches to focus mode automatically as it should.

[2018-11-26 00:03] #1759 closed

[2018-11-26 01:51] jcsteh commented on #8831
This occurs because the offsets of the edit field in the buffer change after the field is focused, which means the offsets NVDA originally retrieved are now incorrect. Thus, when it reports the field, it reports the wrong information. I think we have an NVDA issue for this already somewhere, but I can't find it.

As to why the offsets change, it seems that the Skip to content link loses its spaces

[2018-11-26 02:43] derekriemer commented on #141
Actually, NVDA doesn't have access to the source code of websites in modern browsers (ff, chrome, edge). We use the accessibility tree, and various accessibility API's to get this info. Whether a link is same page or not may not be even given to our view of the world.

[2018-11-26 02:49] derekriemer commented on #4837
Are you moving the navigator object to the focus first?

[2018-11-26 03:15] Qchristensen commented on #8974
This is an issue in Outlook rather than Word or other programs.  In most programs, although the whole email address is recognised as a link, when navigating and selecting text, it is treated as any other text (and it is possible to select just one "word" from the address).

When navigating in a received message in Outlook, any email addresses in the message ARE treated as a single word when naviga

[2018-11-26 03:36] Qchristensen commented on #2907
NVDA no longer gives errors as originally reported in this issue.  The wider issue of NVDA reading all text of slides with text animations as soon as the slide is loaded, even though, for instance, each bullet point on the slide only appears as the spacebar is pressed, still exists.  I will close this issue now, in favour of keeping further work and discussion on that topic in Issue #7877 which de

[2018-11-26 03:36] #2907 closed

[2018-11-26 09:53] Andre9642 opened #8978 "explorer: random crash in search results with "details" display mode"
### Steps to reproduce:
1. Perform a file search in Explorer.
2. Choose "details" as display mode.
3. Go back in result and navigate between columns (with arrow keys).

### Actual behavior:
Explorer.exe crashes randomly when I navigating between columns. Here an extract of my log with this crash (add-ons disabled):
<details><summary>Show/hide</summary>

[code]

</details>

### Expected behavior:
N

[2018-11-26 10:16] janwillemvancappellen commented on #8251
You can't use aria-label on div elements. You can aria-label only on interactive elements, landmark role elements, widget role elements, iframe and img elements. Check this source for detailed info: https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and-aria-describedby/

[2018-11-26 12:11] DrSooom commented on #8961
@leonardder: Sorry, I accidentally overlooked your comment here. You might have read [my comment in issue #8967](https://github.com/nvaccess/nvda/issues/8967#issuecomment-441266967) in the meantime. It's the same here. I don't want to install Betas and RCs of NVDA on my productive systems (Stand-PC and NUC).

@Adriani90: Could you please test this with Microsoft Outlook 2016?

[2018-11-26 12:51] lukaszgo1 commented on #8961
I am able to reproduce it with Outlook 2010 32-bit installed on Windows 7 Pro x64 with locale of both Outlook and Windows set to Polish using installed version of NVDA version alpha-16298,c651588e.
[nvda-old.log](https://github.com/nvaccess/nvda/files/2615585/nvda-old.log)

Log is  attached.

[2018-11-26 13:14] DrSooom commented on #8961
No error sounds with NVDA 2018.1 (installed and portable) and also no one with NVDA 2018.3.2 (portable). The issue of course also exists in NVDA 2018.4 Beta 2. Shall I try it with some Alpha builds – all portable of course?

@lukaszgo1: Your logfile doesn't contain "appModules\outlook.pyo" – it contains errors with "appModules\firefox.pyc". In my above logfile the errors start after line 136, on w

[2018-11-26 13:20] lukaszgo1 commented on #8961
@DrSooom It is possibly caused by the fact, that Firefox was the next opened application, however this happened right after running Outlook.

[2018-11-26 14:42] CyrilleB79 opened #8979 "Wrong language used by NVDA when reading non tagged HTML content"
### Steps to reproduce:
1. System (Windows) configured to French (fr)
2. In NVDA general settings, set NVDA UI to english and restart NVDA as required.
3. In NVDA speech settings, set eSpeak synthesizer to italian language.
4. Open the TestPage.html (attached to this ticket) in your browser and read it pressing up/down arrows.

### Actual behavior:
Item 1 and item 3 are read in french.
Item 2 is r

[2018-11-26 14:43] MarcoZehe opened #8980 "Freeze when navigating by landmarks with certain labeled article landmarks"
### Steps to reproduce:

There are several prerequisites:

1. You have to have an account on some Mastodon social network instance.
2. You have to have the Extended ARIA Add-On installed and the Articles landmark activated.

Steps:

1. Log into https://dev.pinafore.social. Pinafore is an alternative web client to the Mastodon social network.
  * If you're not logged in, click the AddInstance link,

[2018-11-26 16:13] JackWan commented on #8906
Exactly the same issue. If adding tabindex="0" for <ul role="tablist">, then the issue is gone but that seems weird.

[2018-11-26 17:44] leonardder opened #8981 "Python 3: ctypes.c_wchar has a fixed size of 2 bytes whereas py3 strings have variable character length"
_Originally posted in https://github.com/nvaccess/nvda/pull/8953#issuecomment-441386821_

In python 3 unicode strings, 32 bit unicode characters are treated as one character in a string.

## Steps to reproduce
Python 2:
[code]

Python 3:
[code]

## Expected problems
It is likely that code involving offsets textInfos will break in a major way on python 3, especially for cases where getTextRange wil

[2018-11-26 17:48] leonardder commented on #8981
cc @josephsl

[2018-11-26 18:31] lukaszgo1 commented on #8961
I am unable to reproduce the freeze when starting Outlook for the second time, however NVDA freezes for me almost 100%  of the time when closing Outlook with the following log
[nvda-old.log](https://github.com/nvaccess/nvda/files/2616854/nvda-old.log)
.

[2018-11-26 18:42] leonardder commented on #8981
@jcsteh: Actually, a problematic point here is that comtypes will also automatically return python unicode strings, for IAccessibleText for example.

Furthermore, observe the following issue:

[code]

Strings where surrogates are used incorrectly are pretty problematic.

[2018-11-26 18:59] Adriani90 commented on #8961
Testing with NVDA 2018.4 Beta 2 on Windows 10 1809 Update and Outlook 2016 and also 365 as follows:
1. Opened start menu and typed out
2. Pressed enter on outlook

following error is announced by a sound and is visible in NVDA's log file:

[code]

I attach my log file as well. I have also tested with all add-ons disabled and get the same result.
[nvda_Outlook.txt](https://github.com/nvaccess/nvda/

[2018-11-26 19:12] manish10 commented on #8751
Additional information: The issue occurs in forms mode, which seems to be the default with my settings in NVDA (I have auto forms mode disabled everywhere). If I press "nvda + space" to move to browse mode, the problem goes away.
Also, this is the same problem as #8889  -- this one occurs in the teams app in forms mode. The behavior is exactly the same.

[2018-11-26 19:31] ruifontes commented on #8961
And also tested with Office 2013, Windows 10 1809 and last NVDA Alpha:

Input: kb(desktop):enter
DEBUG - NVDAObjects.UIA.edge.EdgeNode._get_isCurrent (19:01:25.976):
aria props = label=Outlook 2013, Aplicação de Ambiente de Trabalho,
Premir à direita para mudar pré-visualização;role=listitem;selected=true;
IO - speech.speak (19:01:25.976):
Speaking [u'Outlook 2013, Aplica\xe7\xe3o de Ambiente de T

[2018-11-26 19:34] manish10 opened #8982 "Powerpoint 2016 - slide notes lines wrap on screen but NVDA still treats them as not wrapped inconsistently"
### Steps to reproduce:
Have notes with long text in a slide. Please see the single slide in the attached presentation.
- in powerpoint 2016, press shift + f6 to move to the notes pane.
- Press down arrow to reach the line where NVDA reads the line that ends at "completely" and you have to move using right arrow to read the rest of the sentence. On the screen, however, the content appears wrapped

[2018-11-26 22:41] jcsteh commented on #8981
Yeah, I knew comtypes/ctypes would automatically do the conversion, but I figured we could just convert back if necessary. That's pretty wasteful, but I don't really see a feasible alternative. That said, now I'm curious as to what ctypes/comtypes will do with invalid surrogate usage. Does it use surrogatepass internally?

[2018-11-27 06:44] MarcoZehe commented on #8980
I investigated the Python side of things, and it appears that the call to VBuf_findNodeByAttributes referenced at the bottom of the stack somehow causes a crash or hang in the VBufBackend, or rather VBufStorage. @jcsteh and @michaelDCurran are probably quicker at investigating this than I, since I'm on PTO even. :) Just found this yesterday while trying out the new Pinafore features.

[2018-11-27 08:38] leonardder commented on #8981
I have no idea, it seems like it just allows you to use surrogates in a wrong manner, just like you're allowed to create unicode strings with wrongly used surrogates. It just does not allow you to encode them to whatever encoding, but with ctypes, encoding/decoding is not yet involved.

As far as I see, we need to use UTF_16 internally for the following textInfos:

* EditTextInfo
* InputCompositio

[2018-11-27 18:44] leonardder commented on #8235
I think opens dialog makes sense, but opens grid, opens listbox are a bit weird. It is difficult to come up with something generic here.

[2018-11-27 19:02] cannona commented on #8235
@leonardder Well, considering what the ARIA standard says about this property: "Indicates the availability and type of interactive popup element, such as menu or dialog, that can be triggered by an element."

So, in short, if you put an aria-haspopup on an element, that implies that it triggers or opens a popup, so I do think that it is an appropriate wording. I think the reason those sound weird

[2018-11-27 21:32] Adriani90 commented on #2991
I suggest closing this issue and reopen it when someone need a solution. @k-kolev1985 as I understand you don't use AkelPad anymore. Right?

[2018-11-27 21:35] Adriani90 commented on #2988
I cannot reproduce it on Windows 8.1 eather. @ateu can you still reproduce it on Windows 10?

[2018-11-27 21:45] lukaszgo1 commented on #2988
I am not @ATeu but i can still reproduce in on Windows 7 by doing the following:
1. Press Windows to open menu start.
2. Start alt tabbing  to move to the desktop.
3. When desktop would be active window release both keys and observe, that the icon would be announced twice.

[2018-11-27 21:48] Adriani90 commented on #3094
@LJWatson is this still an issue for you?
@jcsteh, @michaelDCurran in case this is still reproducible maybe there should be a global touch gesture for exiting Narator and a global touch gesture for starting NVDA.

[2018-11-27 21:52] Adriani90 commented on #3081
@NVDA-Fanatic is this still reproducible? I guess it could also be related to the java access bridge and its way to deliver information to screen readers.
@jcsteh, @derekriemer your ghoughts are very apprecaited. Maybe this has improved after implementation of checable list PR.

[2018-11-27 21:54] Adriani90 commented on #3079
@leonardder do you have Acrobat Pro maybe at Babbage and could please try to reproduce it?
@BR001 can you still reproduce it?

[2018-11-27 21:57] Adriani90 commented on #3070
@jcsteh, @michaelDCurran this is a very annoying issue I have since my company implemented a share point solution. Lots of websites have such live regions which are bein reported even when i switch to another window. A solution for this issue would be indeed very welcome. Thank you.

[2018-11-27 21:58] Adriani90 commented on #3069
@Qchristensen did you not create a similar issue as well?

[2018-11-27 22:01] Adriani90 commented on #3057
Testing with NVDA 2018.4 Beta 2 on Fiferfox 63.0.3 on Windows 10 last Update, I cannot reproduce this issue.

[2018-11-27 22:07] jcsteh commented on #3070
Just to clarify, do you mean switch to another window or another tab? If you switch to another window, live regions in other windows shouldn't be reported even now. Live regions in background tabs in the same window will get reported, however. I confirmed this with the following test case:

`data:text/html,<div id="live" aria-live="polite"></div><script>let count = 0; function update() { live.text

[2018-11-27 22:12] lukaszgo1 commented on #3057
@Adriani90 I am still able to reproduce it with Nightly 65 on Windows 7 by following the STR given above.  cc @jcsteh

[2018-11-27 22:14] Adriani90 commented on #3048
I cannot reproduce it in MS Word 2016 on Windows 10 1809 Update with NVDA 2018.4 Beta 2.
i will test tomorrow on Windows 8.1 in MS Word 2010.

[2018-11-27 22:19] Adriani90 commented on #3047
I can reproduce this in MS Word 2016 on Windows 10 1809 Update with NVDA 2018.4 Beta 2.
cc: @michaelDCurran

[2018-11-27 22:21] Adriani90 commented on #3034
I can still reproduce this with NVDA 2018.4 Beta 2 and IE11 on Windows 10 1809 Update.

[2018-11-27 22:22] Adriani90 commented on #3034
cc: @leonardder

[2018-11-27 22:23] lukaszgo1 opened #8984 "Somali is not recognized on Windows 7 in NVDA language list."
### Steps to reproduce:
1. Start NVDA on Windows 7.
2. Open general settings with NVDA_CTRL+G.
3. Look for Somali on the list of languages.
### Actual behavior:
There is entry named so, but not somali.
### Expected behavior:
The entry for Somali should be present.
### System configuration:

#### NVDA Installed/portable/running from source:
Installed
#### NVDA version:
2018.4 beta 2

#### Windows v

[2018-11-27 22:31] #8669 closed

[2018-11-27 22:40] Qchristensen commented on #3069
I created #8597 which was that when you open the rules and alerts dialog and navigate through the rules, NVDA was not reading the currently selected rule correctly.  This is a different issue, and I think the argument could be made either way about whether it is an issue or not.

I don't currently have a copy of Office 2010, I do have Office 2007 and Office 365, and to be honest, the dialog presen

[2018-11-27 22:40] Adriani90 commented on #3041
I cannot reproduce this in MS Word 2016 with NVDA 2018.4 Beta 2 on Windows 10 1809 update. i will test in MS Word 2010 as well.

[2018-11-27 22:44] Adriani90 commented on #2998
@josephsl, your ghoughts on this issue are very appreciated. Thanks.

[2018-11-27 22:45] josephsl commented on #8984
Hi, and we need to do something about the Somali nvda.po, as the one we had was a result of multiple copies squeezed into one file. I’ll correct these two issues via a pull request on master branch unless people need this fix very urgently (and no, Somali won’t be listed in what’s new section because it does not meet 70 percent translation threshold to trigger Subversion to Git transfer via Commit

[2018-11-27 22:46] Qchristensen commented on #8597
Just testing this issue in the current version of Office 365 (16.0.11001.20093) - This now works (tested with NVDA 2018.4beta 2 and also with 2018.2.1 since that was what I reported the error with).

While this is presumably a change Microsoft have made in Office 365, can anyone please confirm whether this is still an issue in the latest version of Office 2016 (or any other Office version) or whet

[2018-11-27 23:04] Adriani90 commented on #3070
Hi Jamie,

so in my case with share point it is also reported when I change the window. I have also created an issue which might be a duplicate but I am not sure. This is #7743.

Von: James Teh <notifications@github.com>
Gesendet: Dienstag, 27. November 2018 23:08
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff:

[2018-11-27 23:13] Adriani90 commented on #3069
Thank you Quentin for your fast reply.

In my view we should use all ways of getting information which are provided by NVDA. Object navigation is accessible and this makes many dialogs accessible too. In my view, object navigation is the most powerful navigation tool on Windows. I think customizing every dialog to make it simpler is probably too much. But I guess we have to make object navigation

[2018-11-27 23:14] Adriani90 commented on #2988
Which NVDA version are you using?

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Dienstag, 27. November 2018 22:46
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Double announcing of desktop icons when alt+tab is pressed. (#2988)

I am not @ATeu <https://github.com/ATeu>  but i c

[2018-11-27 23:16] lukaszgo1 commented on #2988
NVDA 2018.4 beta 2

[2018-11-27 23:32] lukaszgo1 commented on #3057
@Adriani90 wrote:

It is not a fix, but rather work around of bug in Firefox.

[2018-11-27 23:36] Adriani90 commented on #2988
One last question from my side:

If you press alt tab quickly, actually it should report it only once. If you press alt tab but you release the tab key and hold the alt key pressed for short time longer, then NVDA reports it twice. Can you confirm this behavior?

If yes, this is actually correct behavior because NVDA reports once when you press alt+tab and hold the alt key pressed to report the cu

[2018-11-27 23:37] Qchristensen opened #8987 "Word 365: incorrect extra information read when selecting a recent document to open"
### Steps to reproduce:

There are two ways to reproduce this which I believe are related:
A) From the start screen:
1) Open Word and wait for the start screen to appear.
2) Press TAB twice to move to the "Recent" heading.

B) Using the Open task pane:
1) From within Word, press CONTROL+O to bring up the Open task pane.
2) Press TAB to move to the "Documents" heading in "recents".

### Actual beha

[2018-11-27 23:38] Adriani90 commented on #3057
Maybe someone can report this bug to firefox. If I find some time I can do it tomorrow or so.

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Mittwoch, 28. November 2018 00:33
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Firefox: Keyboard shortcuts in View -> Sidebar menu report

[2018-11-27 23:39] lukaszgo1 commented on #2988
This issue Isn't about reporting window twice, but about repeating a focused icon on the desktop twice after releasing alt+tab.

[2018-11-27 23:47] Adriani90 commented on #2988
Oh sorry I should read more exactly title and description. Sorry, forget my comment above *g*

Von meinem iPhone gesendet

[2018-11-27 23:52] lukaszgo1 commented on #2988
@Adriani90 No problem.

[2018-11-28 00:05] jcsteh commented on #3057
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1510476

[2018-11-28 00:06] jcsteh commented on #3057
Now that a Mozilla bug has been filed, I don't think this is worth tracking for NVDA, as it's a fairly trivial issue. Closing.

[2018-11-28 00:06] #3057 closed

[2018-11-28 00:11] jcsteh commented on #3070
With SharePoint, do you see this issue in Firefox when switching windows? I
should have clarified that I was referring to Firefox (and Chrome uses the
same code so it should be the same). I'm not sure about IE.

[2018-11-28 01:31] LJWatson commented on #3094
@Adriani90 I'm sorry, I don't know. I no longer have my Surface device.

[2018-11-28 03:09] michaelDCurran commented on #8987
In both cases there is a grouping control exposed by UI Automation, with a helpText property of "You haven't opened any documents recently. Pick a place to browse for a document.". NVDA always maps the UIA helpText property to an NVDAObject's description poroperty, and therefore it gets announced as the control's description.
Microsoft should remove this text from the UIA helpText property when th