[2016-10-27 06:51] #6412 closed

[2016-10-27 07:03] michaelDCurran commented on #6311
Microsoft bug ID: 8775844

[2016-10-27 15:35] derekriemer commented on #6511
Strangely, I could not reproduce your issue while running chrome canary.

On 10/26/2016 8:56 PM, ps-nd wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Ho

[2016-10-27 15:37] derekriemer commented on #2807
If you are needing help, I am willing to explain how to do this,
otherwise, we can't fix this.

On 10/26/2016 11:03 AM, zahra21 wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * A

[2016-10-27 15:37] jcsteh commented on #6511
#5798 does, but the Chromium issue I filed describes the issue more
generally: "Table header shouldn't include itself as a header".

[2016-10-27 15:37] alebourblanc commented on #6504
Hi,

I think this test case could help you. Indeed, at the page load NVDA will read the list of the top heroes on the first page of the web application but when you want to navigate in the other pages it will read nothing automatically.

Steps to reproduce:
    - Go on http://plnkr.co/edit/xTXgZBkH0dTD7yO7QEqS?p=preview
    - Launch the plunkr
    - Go on the different pages and see what is readin

[2016-10-27 15:38] leonardder commented on #6384
I retested Narrator and indeed, the system sometimes seems to freeze for
like 10 seconds, but instead of an explorer crash, the system resumes
where it freezes. But there's certainly something wrong somewhere.

Sent on behalf of @BabbageCom

[2016-10-27 15:38] Brian1Gaff commented on #6384
Actually Explorer crashes in 7 and 10 on my machine quite often when
creating a new folder using the keyboard shortcut, and has crashed also
while indexing files in a remote folder as well. I think its just a Windows
bug, since a sighted friend gets it sometimes as well.
 One might have supposed Microsoft might have sorted it by now unless its
dependent on something else like a display driver or o

[2016-10-28 01:25] ps-nd commented on #6511
Aha, now I see the similarity! Thanks for clarifying it for me. I'll watch those tickets...

[2016-10-28 02:48] jcsteh commented on #6384
Full dump analysis:

[code]

[2016-10-28 03:16] feerrenrut commented on #6385
We should investigate the severity of this. P1 for this investigation and then re-triage.

[2016-10-28 03:27] feerrenrut commented on #6368
@bhavyashah is it possible for you to provide an example Word document that exhibits the "freeze on paragraph navigation while in browse mode" behaviour?

[2016-10-28 03:35] feerrenrut commented on #6365
We understand there is demand for this and the value it would bring, unfortunately we are working on higher priority issues at the moment. Thanks for your enthusiasm for this project.

@michaelDCurran Could you comment on the development cost for this?

[2016-10-28 03:38] kaveinthran opened #6516 "nvda does not reach the microsoft account sign in window in win 10"
I am using nvda 2016.3 with win10 v1607. I have tried to link my win10 pc with Microsoft account.

steps of reproducing
1. using win10 start menu, type sign in
2. use up/down arrows to select sign in option and press enter
3. nvda will focuses itself on the accounts list box and sign in option list item on the system settings.
4. use up arrow to go to your info list item and press enter on it
5. t

[2016-10-28 03:44] josephsl commented on #6516
Hi,

Yes, this is a known issue: https://feedbackhub.link/feedback/112/8a48da50-4bce-4851-a250-e250467ab8db/1/

A bit better in Redstone 2 builds: although slow, you can sign in.

Thanks.

[2016-10-28 03:46] feerrenrut commented on #6330
P3 Given this seems like a fairly rare issue to run into, however it could be handled more gracefully. Assuming the implementation time to fix this is fairly low based on catching an "unable to write" error and disabling logging.

[2016-10-28 04:10] kaveinthran commented on #5354
hi,
this feature is really needed to have an article with links pasted in e-mail, where the reader can click the links inside the article,
thanks

[2016-10-28 04:16] kaveinthran commented on #6516
just to men it here, I have this step helped me to login in latest build of jaws18 where I applied the same steps and jaws positioned me on the e-mail edit,
thanks

[2016-10-28 04:22] feerrenrut commented on #6314
I was unable to reproduce this in Windows 10 Version 1607 Build 14393.321 with a recent 'next' build of NVDA (version next-13637,233fa85b)

[2016-10-28 04:25] feerrenrut commented on #6250
We should investigate this further and see if we can work out how to reproduce this. P1 to investigate then re-triage.

[2016-10-28 04:27] feerrenrut commented on #6216
P1 to investigate the severity of this, and see if we can reproduce.

[2016-10-28 04:30] feerrenrut commented on #6186
This should now be addressed, see PR #6402. I'll close this issue now, please re-open it if there is still some concern.

[2016-10-28 04:30] #6186 closed

[2016-10-28 04:32] feerrenrut commented on #6182
P1 to investigate if we can reproduce this.

[2016-10-28 04:35] feerrenrut commented on #6152
P1 to assess if this is still likely to happen, and if so, what the cost to improve the situation is.

[2016-10-28 04:41] feerrenrut commented on #5978
Closing due to duplicate of #1007. Please continue discussion of this issue there.

[2016-10-28 04:41] #5978 closed

[2016-10-28 04:43] feerrenrut commented on #1007
Some additional discussion from duplicate issue #5978:

[2016-10-28 04:46] derekriemer commented on #6182
I never could reproduce it again.

On 10/27/2016 10:32 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors portfolio <http://derekriem

[2016-10-28 04:48] feerrenrut commented on #1007
P3 This would provide value in the overall "look and feel" and polish of NVDA helping with early impressions. As well as having the byproduct of providing indirect training on the meaning of the sounds. The cost to implement is likely not very high, and of low complexity.

[2016-10-28 04:54] derekriemer commented on #1007
If volume control is done, please implement tones.beep volume control as
well.

Thanks.

On 10/27/2016 10:48 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid

[2016-10-28 04:56] derekriemer commented on #6216
@feerrenrut do you want me to send the document again? @michaelDCurran has it somewhere but I can send again if needed.

[2016-10-28 04:58] derekriemer commented on #6516
Duplicate.

[2016-10-28 04:58] #6516 closed

[2016-10-28 05:10] jcsteh commented on #1007
I'm not convinced on UX/polish here. It seems a lot of common stuff doesn't allow customisation of "core" sounds. For example, iOS allows customisation of ring and message tones, but you can't, for example, change the lock sound, charging sound, typing sounds, VoiceOver screen reader sounds, etc. Furthermore, one could argue sounds are actually a part of branding. Users can't (and shouldn't be abl

[2016-10-28 05:18] jcsteh commented on #6152
Related to #6127.

I don't think this should produce exceptions any more, as we now log wx assertions as debugWarning. That said, this assertion will definitely happen whenever updateCheck sets up the next automatic check.

I actually wrote a patch to fix this while I was away in July, but I haven't gotten around to testing it yet.

[2016-10-28 05:34] bhavyashah commented on #1007
Hi,
If sound customization may affect NVDA's branding, at least volume
control for NVDA's audio schemes should be implemented. Also, if not
deemed excessively confusing for existing users to adapt to this
change, at least the focus mode sound scheme should be revised to
something softer and pleasanter. Bearing in mind the untempting voice
of ESpeak-NG, which is often felt robotic, for improved ini

[2016-10-28 05:40] bhavyashah commented on #5354
Hi,
Unless developers consider this out of scope for a screen reader
(which I personally don't), I ardently support this feature request.
Thanks.

On 10/28/16, kaveinthran <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Avid Enthusiast and User of the Free NVDA Screen Reader (www.nvaccess.org)

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah1

[2016-10-28 06:29] bhavyashah commented on #6368
This document is long enough to help replicate the afore described freeze - [Three Men in a Boat.docx](https://github.com/nvaccess/nvda/files/557705/Three.Men.in.a.Boat.docx)

[2016-10-28 07:13] jcsteh commented on #5354
It's definitely not out of scope. The challenge here is technical, not
philosophical, if that makes sense.

[2016-10-28 07:24] Brian1Gaff commented on #1007
Why would anyone want to change the sound effects? I would have thought they
had been around so long now that people would find a change annoying. That
is not to say of course that the ability to select others should not be
offered to users who would like that feature, but leave defaults alone.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyon

[2016-10-28 07:35] Brian1Gaff commented on #6384
Was this with a machine which has no nvda or other screenreader remnents?
 However I suspect that it will still hang and sometimes fall over as my
sighted friends say this has been happening intermittently since Windows 7,
but of course as we all know the sighted can do things different ways to us,
so it could be we just fall foul of it more often due to the way we use
windows. I have also noticed

[2016-10-28 07:41] Brian1Gaff commented on #6152
As an aside to this. Not so many update check sounds now, but do notice that
sometimes the windows system hides the prompt about a new update available
or one of the screens during an update so you are not aware its there unless
you look through the  alt tab list to find it.
 It seems to be windows version independent, much like the firefox one where
it never reads the page till you force the focu

[2016-10-28 09:30] bhavyashah opened #6517 "Linguistic Improvement Suggestions for What's New in 2016.4 section"
At the outset, I would like to emphasize the triviality of this bug report, and would urge that the What’s New document of NVDA be thoroughly reviewed only before the freeze for version 2016.4, even outside of the suggested changes mentioned in this ticket, for there certainly is scope for although minor, but perhaps quick analysis and subsequent correction of linguistically incorrect or corrigibl

[2016-10-28 09:42] bhavyashah opened #6518 "Use tabs instead of groupings in Document Formatting Settings dialog"
While experimenting with the changes in version 2016.4 of NVDA through a recent Next snapshot, I navigated through the structurally modified Document Formatting Settings dialog. Although the categories in which settings have been divided are extremely meaningful and appropriate, I would like to kindly suggest that instead of using groupings, which are generally less frequently known to or encounte

[2016-10-28 14:16] leonardder commented on #6518
I really tend to disagree on this matter. Even though you can't jump to
particular groupings, you can jump to the items inside the groupings.
Tabs will make the dialog more confusing imo.

Sent on behalf of @BabbageCom

[2016-10-28 15:09] bhavyashah commented on #6518
Hi Leonard,
But in that case, I fail to see any advantage the introduction of
groupings has brought in the Document Formatting settings dialog
restructure, since we could use keyboard accelerators to jump to
individual items in the past as well. Also, the category name followed
by grouping, as it seems to me, can be considered as verbosity as a
user Tabs to and fro different categories and has to

[2016-10-28 15:18] josephsl commented on #6517
CC @feerrenrut

From: bhavyashah [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 2:30 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Subject: [nvaccess/nvda] Linguistic Improvement Suggestions for What's New in 2016.4 section (#6517)

At the outset, I would like to emphasize the triviality of this bug report, and would urge that the What’s New document of NVDA be thoroughly review

[2016-10-28 15:24] josephsl commented on #6518
Hi, I understand that multipage dialogs makes sense, but for this, I think we can leave it as is, as the overall theme of this dialog is to let users configure how much formatting info is announced by NVDA. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 7:17 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Subject: Re: [nvaccess/nvda] Use tabs inst

[2016-10-28 15:31] derekriemer commented on #6518
This was primarily visual fixes.

On 10/28/2016 9:24 AM, Joseph Lee wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors portfolio <http://derekriemer.

[2016-10-28 15:44] derekriemer commented on #6517
• Spin Controls are now used for numerical input fields. (#6099)

Agree 100%, maybe a quick phrase of what a "spin" control is, similar to
this.

To adjust the control, either type the number you would like, or press
the up or down arrow to increase or decrease the number.

On 10/28/2016 3:30 AM, bhavyashah wrote:

--
------------------------------------------------------------------------

    De

[2016-10-28 15:45] derekriemer commented on #6517
• Fixed a rare issue when exiting NVDA while the speech viewer is open
causing an error. (#5050)
Grammar: change ‘causing’ to ‘caused’

Maybe which caused?

On 10/28/2016 3:30 AM, bhavyashah wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen re

[2016-10-28 16:06] bhavyashah commented on #6517
Hi Derek,
Agreed to both of your proposals, and in fact for the latter, your
suggested revision is the accurate grammatical correction 'which
caused'.
Thanks.

On 10/28/16, derekriemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Avid Enthusiast and User of the Free NVDA Screen Reader (www.nvaccess.org)

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter

[2016-10-28 17:33] bhavyashah opened #6519 "User Guide: Document absence of audio ducking facility in temporary copies of NVDA"
While testing a recent Next snapshot of NVDA, I was running it as a temporary copy. In the process, I discovered that audio ducking was absent, and upon discussion with an NVDA developer, it has been confirmed that due to technical limitations, audio ducking cannot be made available to temporary copies of NVDA.
In such a case, I sincerely request documenting in NVDA’s User Guide that audio ducking

[2016-10-28 17:43] josephsl commented on #6519
Hi, this also applies to portable copy as well. CC @MichaelDCurran, @JCSTeh, @feerrenrut, PR (with other docs fixes) on its way. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 10:34 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Subject: [nvaccess/nvda] User Guide: Document absence of audio ducking facility in temporary copies of NVDA (#6519)

While test

[2016-10-28 17:46] josephsl commented on #6519
Ref #3830

[2016-10-28 17:51] josephsl opened #6520 "What's new: reword document formatting dialog changes to be based on GUI Helper work"
Hi,

A bit vague, but here's what's going on:

Thanks to work from @feerrenrut, document formatting dialog has seen major changes to how options are labeled. This includes indentation announcement (#5906) and others. Thus it would be helpful to reword these entries in what's new to take this into account.

Thanks.

[2016-10-29 09:53] Brian1Gaff commented on #6519
There unfortunately as a resent discussion here suggested, the portable copy
of nvda is far less functional in windows 10 than in earlier versions of
windows. even programs like Ccleaner has problems with its lists of things
not displaying in a portable version and some control panel  areas are
unusable unless you install nvda or use Narrator.
 I suspect this is down to the security requirements o

[2016-10-29 20:28] derekriemer opened #6522 "PathControlHelper should label the edit control"
Take code like this.

[code]

from the redesign of crash hero to use gui helper.
The resulting edit field in the crash directory doesn't have a label (Just says edit).

[2016-10-30 10:09] mrdin8877 opened #6523 "nvda can read emojies"
hi and sorry for asking this, i know that if you install a specific add on, nvda can read emoticons, but that one is the letter type, for example, this one, :) :( :@ etc. but this one is the a symbol that represents emojies. sorry if my information is not enough. thanks

[2016-10-31 03:24] mjanusauskas commented on #6403
You are correct, the issue also happens with Narrator. I will attempt to
report the issue to the TeamSpeak developers.

On Wed, Oct 26, 2016 at 9:07 PM, James Teh <notifications@github.com> wrote:

[2016-10-31 04:00] jcsteh commented on #6403
Okay. Closing, since this is a bug in TeamSpeak.

[2016-10-31 04:00] #6403 closed

[2016-10-31 06:15] michaelDCurran commented on #6384
We have had no luck in reproducing this issue on demand. It also looks as if the bug is in Explorer itself. If this can be reproduced on demand in the future, please report the bug to Microsoft via the Feedback tool, or provide instructions on this issue that can reproduce the bug on demand and I can pass this along to Microsoft.

[2016-10-31 06:15] #6384 closed

[2016-10-31 06:24] michaelDCurran commented on #6250
Closing as the dump refers to an NVDA Next build who's symbols have now expired. If this can be reproduced on demand using  either a stable build of NVDA or a much more recent Next build, then reopen the issue and attach a newer crash dump.
However, The creation of the thread into invalid memory is odd, and the dump contains some 3rd party dlls.

[2016-10-31 06:24] #6250 closed

[2016-10-31 06:58] michaelDCurran commented on #6216
I still have the file - am looking into this.

[2016-10-31 07:26] michaelDCurran commented on #6216
The freeze in NVDA is due to all 16384 columns in that particular row being merged. NVDA currently has to collect all the column widths of merged cells to work out if the text goes outside the cell (overflow/crop).
However, we can improve this in two ways:
1. rather than accumulating column widths, just  get the last column's left+width.
2. We can actually remove all the gdi code by simply compari

[2016-10-31 07:56] michaelDCurran commented on #6216
No, scrap number 2. width always seems to be at least 48.0 no matter how much text is there.

[2016-10-31 16:33] josephsl opened #6524 "BrailleNote: Support for BrailleNote Touch via USB HID/new protocol"
Hi,

I haven't forgotten about my work on supporting Apex's scroll wheel and others...

According to a HumanWare staff, BrailleNote Touch firmware 2.0 includes a braille display mode to allow it to act as a braille display, with the Touch using USB HID and a new protocol (no more need for a custom USB serial driver). I plan to ask HumanWare AU to let @jcsteh have a demo unit so he can investigate

[2016-10-31 22:21] jcsteh commented on #6524
I've been in contact with HumanWare about this already.

* The protocol is based on the Brailliant B HID protocol, so it'll need to be supported by that driver rather than the BrailleNote driver.
* I believe the protocol has been updated slightly. I do have the documentation, but haven't taken a look yet.
* I have local contacts for HumanWare, so I should be able to get hold of a unit if I need on

[2016-10-31 22:24] nvdaes opened #6525 "The shortcut key for the portable directory edit control in the Create portable dialog doesn't work"
STR:
1. Go to NVDA menu, Tools, Create portable copy.
2. Press alt+d.

Expected: The Portable directory control should be focused.
Thanks.

[2016-10-31 22:32] derekriemer commented on #6525
Is this using a directory path helper? Maybe something got screwed up
there when it was changed?

On 10/31/2016 4:24 PM, nvdaes wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * A

[2016-10-31 22:36] nvdaes commented on #6525
Yes, this uses gui.helper.PathSelection.
Perhaps it's related to the groupHelper.

El 31/10/2016 a las 23:32, derekriemer escribió:

[2016-11-01 00:04] michaelDCurran commented on #6472
Please test the following try build from pr #6526:
https://ci.appveyor.com/api/buildjobs/2fkfm6jyfgttcpwt/artifacts/output%2Fnvda_snapshot_try-i6216-13690%2C4286b570.exe

Does this now take dpi into account?

[2016-11-01 00:41] jcsteh commented on #6525
It does use guiHelper now, but this isn't a regression; i.e. this bug exists in 2016.3 and earlier as well.

P2 because this could be quite confusing for users. However, if the full fix proves to be time consuming, we could mitigate the issue by removing the accelerator and then follow up with a proper fix later.

At a guess, I'd say this occurs because the label is associated with the grouping an

[2016-11-01 00:57] michaelDCurran commented on #6182
Unable to reproduce, and stack dump is now too old. If this can be reproduced on demand, please provide steps and a newer dump.

[2016-11-01 00:57] #6182 closed

[2016-11-01 01:03] michaelDCurran commented on #6005
Switching to p2 as This is a rather advanced usage of MS Word

[2016-11-01 01:44] feerrenrut commented on #6523
P3, This is becoming more important as more and more sites / apps are using emojois rather than emoticons. There is some work to implement this, and some thought will be required on how to deal with translations.

This may also be a good candidate for an addon, could the existing one be extended?

[2016-11-01 01:54] Qchristensen commented on #6472
It doesn't seem to for me - in fact at the default Excel cell size and font size, and at DPI at 225%, it announces "overflowing" if I type only "abc" into a cell.  Using NVDA 2016.3 it announces overflowing if I type abcd, although as noted in the original post, "abcdefghij" actually fits visually in the cell.

[2016-11-01 02:00] jcsteh commented on #6518
Thanks for the suggestion. However, I don't think tabs are a good fit here.

* Tabs are normally used for pages of options that are quite unrelated or different. In this case, even though they're different categories, they're still quite similar.
* Some of these categories have very few options. While not prescriptive, this does at least suggest that tabs aren't a good fit.
* Moving them into tabs

[2016-11-01 02:00] #6518 closed

[2016-11-01 02:11] feerrenrut commented on #6522
This was by design. From memory, the only current use of `PathSelectionHelper` (in NVDA) is in the "create portable copy" dialog, where no label is required due to the group box having a label. Actually, in that particular case the group box could potentially be removed and replaced with a label but that's another issue. I think there are cases where a grouping (and no label) would be better. For

[2016-11-01 02:12] feerrenrut commented on #6525
While fixing this also consider addressing #6522 (PathControlHelper should label the edit control) since it is fairly related.

[2016-11-01 02:22] feerrenrut commented on #6519
P1 since its important that this is looked at before the next release.

[2016-11-01 02:24] feerrenrut commented on #6520
P1 since its important that this is looked at before the next release.

[2016-11-01 02:25] feerrenrut commented on #6517
P1 since its important that this is looked at before the next release.

[2016-11-01 02:50] feerrenrut commented on #6513
@zahra21 thanks for taking the time to follow this up and attaching the log file. I have had a look at it, but it seems to be missing the information we require. Because nvda is restarted while reproducing this issue, we really need the `nvda-old.log`. Could you please try the following for me:

- Set the log level to "Debug"
- Reproduce the issue (as you described, pressing `alt-f4` while potplay

[2016-11-01 04:01] NSoiffer opened #6527 "NVDA doesn't read MathML in IE for this case"
NVDA 2016.3 doesn't seem to recognize the MathML in IE 11 in this particular example produced by MathJax. Some other MathJax examples seem to work fine, although I think I have run into this problem before. The page also works in Firefox, so this seems to be IE specific, but I don't know why this case differs from some others.

The example is at https://s.codepen.io/nms/debug/ZpgBer.

I have remov

[2016-11-01 08:45] nishimotz opened #6528 "Skype message edit is working incorrectly with Japanese IME"
setup:

* Windows 10 Insider 14931 (32bit)
* English user interface with Japanese IME
* Skype 7.29.64.102
* NVDA 2016.3 (and master 13684 as well)

procedure:

* start NVDA
* start Skype, sign in, select a contact, then move to "Type a message here" edit
* enable Japanese IME (Roman transliteration mode)
* type "k a w a" (river)
* expected result is Japanese phonetic hiragana characters "かわ"
* act

[2016-11-01 09:49] kaveinthran commented on #6523
will be nicer also if we have emogi, symbols and emoticons selecters

On 11/1/16, Reef Turner <notifications@github.com> wrote:

[2016-11-01 09:51] michaelDCurran commented on #6472
Another try build:
https://ci.appveyor.com/api/buildjobs/xkei402crq7042oh/artifacts/output%2Fnvda_snapshot_try-i6216-13692%2Cbf6b2e73.exe

I've confirmed with OCR that at least on my system (Surface Pro, Excel 2016, Windows 10) overflow/crop seems to behave now at various dpi settings.

Is this true visually?

[2016-11-01 11:59] nvdaes commented on #6523
Hi, about the question on Emoticons add-on, whose main author is Chris Leo, it's being extended to speak Emojis too. Work is been done to insert also emojis as well as emoticons.
Anyway, the add-on works with speech dictionaries (braille is supported in symbols insertion only).
For the add-on see this branch:
https://github.com/nvdaaddons/emoticons/tree/emojis

[2016-11-01 12:05] Qchristensen commented on #6472
Ha, I tried, "abc" then "abcd", "abcdefghij", and none of them said
overflowing (which is correct), then I tried "abcdefghijk", which does
overflow.... and I hit that UI Automation crash...

Actually, I am hitting that crash constantly now trying to test this...  I
can try one set of letters in a cell, but the second time it is crashing
 (eg, I just typed, "the quick br" which overflowed, and anno

[2016-11-02 00:04] michaelDCurran commented on #5764
Closing due to inability to reproduce and the fact this is a dump from an old snapshot. If this can be reproduced reliably with 2016.3 or newer please reopen and attach a new dump and an NVDA log (which will now contain stacks for all Python threads).

[2016-11-02 00:04] #5764 closed

[2016-11-02 02:17] feerrenrut commented on #6423
Hi @jacobchawala, I did not get the document "hali ya elimu
Tanzania - copy". I did find the log appended to one of your messages, I am attaching the log file so it is easier to download and read.
[nvda.log.txt](https://github.com/nvaccess/nvda/files/565539/nvda.log.txt)

[2016-11-02 02:20] feerrenrut commented on #6408
I'm going to close this issue since we are unable to reproduce it, please re-open the issue if you have more information and we will look into it further.

[2016-11-02 02:20] #6408 closed

[2016-11-02 02:24] feerrenrut commented on #6508
P2 to investigate the cause of this. Since it does not happen all the time, and the impact is low since nvda can continue to be used.

[2016-11-02 02:45] derekriemer commented on #6508
note that users on a stable nvda won't hear it.

On 11/1/2016 8:24 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors portfolio <http

[2016-11-02 02:47] derekriemer commented on #6408
put the worksforme label on this.

[2016-11-02 02:59] jacobchawala commented on #6423
I used Gmail to attach the log file. It shows that Gmail is not
compatible with NVaccess as far as attachments are concerned. plaese,
can you show me another way of putting files directly to the NVaccess?
okay, let me reattach it in this Gmail!

On 11/2/16, Reef Turner <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@

[2016-11-02 03:01] derekriemer commented on #6423
hi, in the bottom of the email, there's a viewit on github link. If you
press this, and then press the browse button at the bottom of the page,
you'll be able to add the file.

On 11/1/2016 8:59 PM, jacobchawala wrote:

[2016-11-02 03:46] jcsteh commented on #6450
There are two issues here:

1. Automatic focus mode for caret movement not working:
 * This is actually a regression introduced in NVDA 2015.4 by #4174 (a87940f0) where we switched to UI Automation for editable text fields in IE.
 * The option partially works in that it does correctly switch to focus mode when the caret moves inside an edit field. (If this was disabled, it would stay in browse mod

[2016-11-02 03:55] jcsteh commented on #6527
The math does seem to be picked up here. However, I do see two lines of "x y" before the proper math. That is, the real math is on the third line after the heading. Can you confirm this?

Obviously, the extraneous content before the math is annoying, but if the math can be accessed beneath it, that lowers the priority somewhat.

[2016-11-02 03:57] feerrenrut commented on #6528
Thanks @nishimotz, could you confirm for us:
- [ ] Does this behaviour occur without NVDA running?
- [ ] Does this behaviour occur when Narrator is running (instead of NVDA)?

[2016-11-02 06:14] nishimotz commented on #6528
Without NVDA running, or, with application sleep is turned on, this issue does not occur.

When Windows Narrator is running instead of NVDA, this issue does not occur as well.

[2016-11-02 06:53] surfer0627 commented on #6528
This case also occur when typing with Chinese input method.

[2016-11-02 08:06] leonardder opened #6529 "Different browse mode behaviour for multiple span elements next to each other"
It seems that, when a page source contains multiple span elements without any separator such as <br /> or similar, the result is different across browsers. Observe [this file](https://github.com/nvaccess/nvda/files/565934/Spantest.html.txt)
 to reproduce.

## Internet explorer, use screen layout off
This is
a test

## Google Chrome Kanari
This isa test

## IE with screen layout on/Firefox/Edge
Thi

[2016-11-02 18:59] NSoiffer commented on #6527
In IE 11, I never hear the math. One down arrow gives "x y" and another down arrow gives "Heading level 2: Notes". In Firefox, it reads the math appropriately after that first arrow.

In the HTML, there is a aria-hidden="true" on a <nobr> tag and that is followed by the MathML, so there should only be one thing being read.

It sounds like you are getting a different behavior than I am (hearing bot

[2016-11-02 20:02] jcsteh commented on #6527
Yes, I see the math after 2 presses of down arrow in IE. I see the correct behaviour (no extraneous lines) in Firefox.

I'm aware that the aria-hidden *should* hide the raw content, but IE has some really stupid bugs relating to inclusion of hidden content in name calculation. The question is how we'll hack around this one...

What version of Windows are you testing with? I'm using Windows 10. Als

[2016-11-02 23:45] #5987 closed

[2016-11-02 23:45] #6292 closed

[2016-11-03 03:11] feerrenrut commented on #6529
I am able to reproduce this.

The space between "This is" and "a test" is only inserted in Firefox when the `span`s are on separate lines. If you put them on the same line with no space between them visually and with nvda you get "This isa test".

In Chrome, with the `span`s on separate lines, visually you get "This is a test" and with nvda you get "This isa test". When on the same line with no sp

[2016-11-03 03:23] feerrenrut commented on #5354
This would be a good feature, but since the implementation cost on this is quite high setting as P3 .

[2016-11-03 03:38] feerrenrut commented on #6368
I can reproduce this using the document provided with MS Word 2013, with a recent "next" build of NVDA  (next-13637,233fa85b).

P1 to try and understand the cause of this issue. Then re-prioritise.

[2016-11-03 04:54] michaelDCurran commented on #6385
I do not see a freeze when opening LibreOffice writer on Windows 10 1607
LibreOffice Version: 5.3.0.0.alpha1
Build ID: f4ca1573fcf445164c068c1046ab5d084e1b005f

Can you still reproduce this?
Can you provide exact steps?

[2016-11-03 06:48] jcsteh commented on #2439
Deferring to 2017.1 due to outstanding issues. See https://github.com/nvaccess/nvda/pull/6449#issuecomment-258073729 for details.

[2016-11-03 08:34] Brian1Gaff commented on #6450
Well, I find the  mode very useful on unknown pages, to get a feel for the
layout without keeping getting stuck and having to exit the field or worse,
move some combo box without meaning to. This is my default way of working
now, but as most of the time I use Firefox and that works as expected, I
find IE is only used on some sites where it often easier to get at say,
audio files real addresses wit

[2016-11-03 10:05] jcsteh commented on #6450
With that option disabled, you shouldn't get thrown into focus mode unless you press enter or move the focus with tab, etc. There are some rare occasions where this happens, but that's not intentional. If you're seeing that behaviour constantly, that's very concerning, though it should be addressed separately. See #2039.

[2016-11-03 11:22] derekriemer opened #6530 "NVDA issues with progressbar test cases."
Test case:
https://files.derekriemer.com/progress.html
Issue:
Firefox and NVDA next don't relate the region with aria-busy set to true to the progress bar in any way, using the expected accessible name of hello. however the progressbar value is read. The test case works as expected in all other respects.
Chrome canary:
NVDA doesn't alert to changes to the progressbar in any way. However, the progr

[2016-11-03 11:24] derekriemer commented on #6530
Note that firefox doesn't mark the document with "hello" as accessible name as well, (Happy to file this with Mozilla if necessary).

[2016-11-03 11:56] jcsteh commented on #6530
I'm not quite clear on exactly what you're expecting here, nor what you're trying to do with this test case; i.e. why you might have a situation like this with a busy document as the label for a progress bar. Also, You're misspelling `aria-labelledby` (note the double l).

[2016-11-03 11:59] AleksueiR commented on #5320
Just checked again: elements hidden with `visibility: hidden` and `aria-hidde="true"` are read on mouse over by NVDA 2016.3.

[2016-11-03 12:01] alebourblanc commented on #6504
Hi,

Can you please have a look on my previous message ?

Thanks,
Alex

[2016-11-03 12:18] derekriemer commented on #6530
I probably should have opened a few different tickets for the different
issues. Sorry for my multiple errors here.

On the aria-labelledby thing, oops, that's my bad. Firefox reports this
correctly, chrome just is nicer in that aria-labeledby actually works
for unknown reasons.

I was trying to test the following part of the spec. I accidentally used
aria-labelledby on that instead of aria-describ

[2016-11-03 22:29] derekriemer opened #6532 "Skype crash with dump"
Here's a skype crash.
Call stack extracted with .ecxr; kp
[code]

[nvda_crash_skype_7844.dmp.txt](https://github.com/nvaccess/nvda/files/570220/nvda_crash_skype_7844.dmp.txt)

[2016-11-03 22:29] derekriemer commented on #6532
FYI, The .txt is a .dmp

[2016-11-04 00:45] jcsteh commented on #6532
How did you produce this crash (even if it's not reliable)?

Technical note: We don't actually use UIA in Skype edit controls, but we do
cache the UIA text pattern in our UIA cache request, so any events would
cause it to be fetched even if we drop those events.

[2016-11-04 01:08] jcsteh commented on #6106
@MichaelDCurran discovered that SendMessageTimeout isn't being called. In fact, it can't be hooked in UIAutomationCore because the symbol isn't imported at all.

[2016-11-04 01:12] jcsteh opened #6533 "Set timeouts for UIA calls"
We have evil hooks and COM cancellation code to stop MSAA and most other cross-process COM calls from blocking if the remote process stops responding. However, these don't work for UIA, which doesn't use STA marshalling or SendMessage. We should use the new UIA APIs in Windows 8 and later to set timeouts on UIA calls. This isn't entirely ideal because we really want the timeout to be faster when t

[2016-11-04 01:40] jcsteh commented on #6106
Instead of using UiaHasServerSideProvider, we might be able to use ProviderDescription to check for a native implementation. We could then use UIA timeouts (#6533). We originally thought this would be more expensive, but it probably isn't significant, and relying on UIA's timeouts is theoretically cleaner than abandoning threads. This would also mean that IAccessibleHandler and UIAHandler share th

[2016-11-04 03:21] feerrenrut commented on #6532
P1 to investigate the cause of this and find out if it can be reproduced.

[2016-11-04 03:24] derekriemer commented on #6532
@jcsteh Exiting the skype window in split view mode. I just pressed
escape. Sometimes alt+f4 kills it, and sometimes it happens when the
main window is closed.

On 11/3/2016 9:21 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA scree

[2016-11-04 03:31] jcsteh commented on #6532
@derekriemer:

1. How often does this occur? Even an anecdotal hint will suffice; e.g. it occurs almost every time I do this, half the time, etc.
2. Can you reproduce it with Narrator? It will be easier to convince Microsoft to investigate this if it occurs with Narrator as well, so this would be good to know.

[2016-11-04 03:43] derekriemer commented on #6532
@jcsteh, this unfortunately happens like once in a 40 or 50 times its
closed.

I haven't tried with narrator, I will try next (But I need a screen
reader that can work well while on skype, because I'm usually using it
when I am doing other things).

On 11/3/2016 9:31 PM, James Teh wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department

[2016-11-04 03:59] feerrenrut commented on #5320
P3 since this is a low impact bug for most use cases.

[2016-11-04 04:14] feerrenrut commented on #2807
This seems like a good candidate to document on the wiki since its affected so many people.
P2 to create the wiki page documenting the problem and the fixes outlined here, then I think the issue can be closed.

[2016-11-04 04:17] feerrenrut commented on #5162
P3, While there is demand for this, there is likely to be quite a bit of work in implementing it.

[2016-11-04 04:35] derekriemer commented on #2807
@feerrenrut for less technical users, would a fixer program to fix the issue be on scope as well?

[2016-11-04 05:56] #6517 closed

[2016-11-04 05:56] #6519 closed

[2016-11-04 05:56] #6520 closed

[2016-11-04 06:26] feerrenrut commented on #2807
After we collect this info, providing a simple batch file or similar might be simpler than explaining how to do it manually. Being sure it works across all systems may not be so easy.

[2016-11-04 07:27] vsfoote commented on #6385
HI Mic,

Attaching another debug log.  With LibreOffice open to the Writer module and a document with some dummy text pasted in--NVDA 2016.3 will scrape the UI, and with F10 to menu and F6 to navigate toolbars can get to the text of the document.   NVDA will sound the text, mouse over or "say all".

But, as I try to launch any action from a button object on one of the toolbars or from the Sidebar

[2016-11-04 07:52] zahra21 opened #6534 "request for adding audio conversion of documents in to nvda in the next version!"
hello every one.
nvda is realy one excellent project and i only need only one more thing  to say its complete and i dont need anything beside it!
i realy love studying books.
i have hundreds of books and sincerely wish that you include the capability of converting of different types of documents in to audio formats.
i wish that convert my books in to audio formats and have them with myself whereev

[2016-11-04 08:06] zahra21 commented on #2807
hi.
whats the reason that nvda does not work with firefox if someone
uninstall one office program?
i read that this problem happen, if we uninstall office program!
i realy wish to fix it very soon.

On 11/4/16, Reef Turner <notifications@github.com> wrote:

--
we have not sent you but as a mercy to the creation.
holy quran, chapter 21, verse 107.
in the very authentic narration is:
imam hosein is

[2016-11-04 08:21] leonardder commented on #6529
[code]

[2016-11-04 08:25] jcsteh commented on #2807
The trouble is we really don't know what fixed it for different people. There seem to be a few different issues that manifest as the same problem. I guess just registering all COM dlls in system should be pretty safe, though I'm not sure we can automatically determine which ones are COM dlls from a batch script. Also, I'm a lot more dubious about automating something like sfc /scannow, since I rea

[2016-11-04 08:27] zahra21 commented on #6513
hi again.
testing it very easy.
you can test it with potplayer and windows media player according to my steps to reproduce the issue!
nvda did not restart.
i restarted it myself, because it did not read the menus and anythings.
i did not have old log to attach it here.

[2016-11-04 08:29] leonardder commented on #6529
Alright, here's a better preview.
http://stackoverflow.com/questions/3961265/get-line-number-of-certain-phrase-in-file-python

This is just a random question that contains a code snippet in the first answer, below the first level 2 heading. In firefox, new line characters are respected, in Chrome, they aren't at all.

[2016-11-04 14:17] josephsl commented on #6534
Hello,

Hmmm, this is way beyond the scope of a screen reader. A screen reader is just that - a program that interprets what's on screen and announces what it has found to you, not a media conversion tool. There are free programs out there that could accomplish what you may need. Thanks.

[2016-11-04 14:17] #6534 closed

[2016-11-04 20:22] NSoiffer commented on #6527
I originally tried it using Windows 7. I've tried it with the MathPlayer plugin (both MathPlayer and its BHO) enable and disabled and don't see a difference.

I retried it on a Windows 10 machine with IE11, same thing. I tried it with the MathPlayer plugin enabled and disabled there also.

Although NVDA doesn't support Edge, I tried that too. The behavior was different -- it took three down arrows

[2016-11-04 21:07] jacobchawala commented on #6423
thank you for your immediate response. attached are two files for Hali ya elimu Tanzania: one is a log file and the other is the docx file for yourself to test!
[Hali ya elimu Tanzania - copy - nvda Log File.txt](https://github.com/nvaccess/nvda/files/572632/Hali.ya.elimu.Tanzania.-.copy.-.nvda.Log.File.txt)
[Hali ya elimu Tanzania - Copy.docx](https://github.com/nvaccess/nvda/files/572635/Hali.ya

[2016-11-04 22:49] jacobchawala opened #6535 "Announcing Microsoft-word Keyboard Shortcuts"
It is nice that now, when pressing line spacing keyboard shortcuts, NVDA announces. For instance, when you press control+1, NVDA says: single line spacing. Now; Let us make the following Microsoft-word keyboard shortcuts to be announced:
CTRL+c coppid
CTRL+M
CTRL+s saved
CTRL+t hanging indent
CTRL+v pasted
CTRL+w closed
CTRL+x cut
CTRL+y redone
CTRL+z undone
CTRL+Shift+l bulleted

You can suggest

[2016-11-04 23:40] derekriemer opened #6536 "In word, there is no announcement of multicolumn pages."
One thing word can do is support multicolumn pages. As this trivial test case shows, in browse mode seems to move between columns, however in focus mode, it doesn't. with the numbers meant to simulate a test (D is a placeholder for a question), the student only knows they missed information by hearing the wrong number. It is conceivable as shown in example 2 that the student wouldn't know at all t

[2016-11-05 00:29] derekriemer opened #6537 "NVDA should be able to play an earcon or similar when partial formatting is found."
Example:
[test question.docx](https://github.com/nvaccess/nvda/files/572868/test.question.docx)
When using control+arrows to find a word, if there's formatting that spans only part of it, do some earcon. after speech refactor, we might be able to do earcons in parallel with the word being spoken depending on how good we can be at getting indexes.

[2016-11-05 01:40] jcsteh commented on #6537
Failure to report formatting changes within a word is a technical limitation, not a UX decision. For example, if you turn on font attributes and have a word which is half bold and half not in a web browser, you'll notice that NVDA will read the change mid-word. This isn't possible in MS Word because checking the formatting for every single character is far too slow; it's already slow enough checki

[2016-11-05 03:20] derekriemer commented on #6537
ah got you.

[2016-11-05 03:20] #6537 closed

[2016-11-05 13:17] fernando-jose-silva commented on #6535
I have informed this in an earlier call that I can not remember the number anymore, but I think we should be careful when setting up the reading of these shortcuts because many of these shortcuts are different due to the language of the word.
Even though many of these shortcuts are different, as an example the save is not ctrl + s and yes ctrl + b.

[2016-11-05 23:30] lallerke1 opened #6538 "Visual Basic XAML Editor issue"
If you use the visual studio 2015, you can create controlls with windows forms, but with xaml not, so wpf is out.
If you want to click, or enter on a copied toolbox control, nothing happens, not creates the control event.
On Windows forms instead it creates the click event, if you press an enter on a created control.
We would have focus on created controlls, and not on the split, and window panels

[2016-11-05 23:37] derekriemer commented on #6538
Hi:

Can you provide steps to reproduce for this bug?

On 11/5/2016 5:30 PM, lallerke1 wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors portfolio <

[2016-11-06 07:09] lallerke1 commented on #6538
Hi!

Open visual basic.
Open new project, use wpf applications in the tree view.
Start a new wpf app.
Press alt ctrl x to get to toolbox.
Choose a button, or a checkbox, or what control do you need.
Hit enter.
If the control is on the designer tab, pressing enter, or clicking with navigator cursor does not add the click control, as in windows forms.

[2016-11-06 09:37] elliott94 opened #6539 "Internet Explorer 11: Unable to Read content of Edit Field when Reading Current Line with Latest Snapshots"
Since updating to the last couple of snapshots, I've noticed that when attempting to read the current line of a particular edit field in Internet Explorer 11 (by using the default gesture) that an error occurs. This worked without issue in previous snapshots, all tested under Windows 7. Here's the error that gets output to the Log Viewer:

ERROR - scriptHandler.executeScript:
error executing scrip

[2016-11-06 13:56] Brian1Gaff commented on #6450
No with it disabled in IE it works as you say, but of course then in
firefox, you get stuck in an auto edit area, and need to esc out to browse
mode.
 I suppose an application specifice choice change might be good to fix this.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Origi

[2016-11-06 22:00] jcsteh commented on #6450
With that option disabled in Firefox, I don't get switched to focus mode
automatically unless I press tab to focus or the page focuses a field when
it loads (e.g. Google). This is the expected behaviour. There are some rare
circumstances where it will throw you into focus mode when it shouldn't,
but they should be very rare. It sounds like you're seeing this behaviour
always? If so, please do comm

[2016-11-06 22:04] jcsteh commented on #6539
Are you running the absolute latest master or next snapshot? This should
have been fixed last week (2316b08d, merged in 8bf3dfc).

[2016-11-07 06:42] derekriemer opened #6540 "Chrome canary has an unlabeled button."
1. open chrome canary.
2. press win+b
3. arrow down until you hear button.
4. press enter.
5. press nvda+control+f1
6. try arrowing around the new menu.
This is a chrome menu which allows access to its task manager and other things like exit.

[2016-11-07 06:45] derekriemer opened #6541 "make chrome legacy windows accessible."
1. go to [this site](https://revoked.grc.com) in chrome.
2. The window that appears warns you that this site is unsafe.
3. try working with this window. It appears to expose almost no accessibility information.

[2016-11-07 06:54] derekriemer opened #6542 "stop the spurious alerts on chrome."
1. In chrome canary, open any website of size. nvaccess.com, derekriemer.com, darksky.net seem to work.
2. as the page loads and at random times, you hear "alert" with no further information.

[2016-11-07 07:39] surfer0627 opened #6543 "MS Word focus mode: press downArrow to read content, screen reader skips table"
If this is the case and have nothing to do for screen reader, user may have a chance to read content and skip table in a Word document.
note: This document is in Chinese.
Steps to reproduce:
case1:
* Open the attachment.
* Press downArrow, (screen reader skips table).

case2:
* Press ctrl+home to move to top line.
* Press end
* Press downArrow, (screen reader reads table content).

case3:
* Press

[2016-11-07 08:45] Brian1Gaff commented on #6450
Hmm, I'll have to sit down and work out a logical test of all the variations
here so I can see what is really going on.
 At present all I can say is that in my old xp both browsers behave as I
would have expected on the various settings, but 7 and 10 do not.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in th

[2016-11-07 09:49] khsbory opened #6544 "[bug report] NVDA can't read iframe's title in web browser"
Hello, I'm Hyongsop Kim in Korea.

In html, if I add a page contents with using iframe tag such as NV Access page, screen reader should read iframe page's title as a frame title.
If there is no page title, screen reader should read the page's url.
However NVDA doesn't read the title and only says 'frame'.
In that case, there is no way to let NVDA read frame title.
Please check this issue.

Thank y

[2016-11-07 10:44] feerrenrut commented on #6544
Thanks for raising this issue @khsbory, however this seems to be a duplicate of #662. As such I will close this issue.

[2016-11-07 10:44] #6544 closed

[2016-11-07 10:58] feerrenrut commented on #6543
@surfer0627, thanks for filing this issue and providing test cases. I have tried the attached test case document. The described behaviour seems to happen visually (in MS Word 2013) without NVDA as well. This seems to be because the table properties `text wrap` is set to `around` which means it is valid for characters to appear to the left of the table. By setting the `text wrap` to `None`, pressin

[2016-11-07 11:03] feerrenrut commented on #6542
P2 to investigate the cause of this and if it is a chrome bug file it with them.

[2016-11-07 11:08] feerrenrut commented on #6541
I can reproduce with Chrome Version 54.0.2840.71

This seems pretty bad, @jcsteh could you comment on the cost to implement a fix for this?
Assuming there is little we can do, P2 to file a bug with chrome on this.

[2016-11-07 11:09] feerrenrut commented on #6540
P2 to investigate and file a bug with chrome.

[2016-11-07 11:17] jcsteh commented on #6541
It's definitely a bug in Chrome.

Technical note: It does fire events. The child ids are negative numbers, which suggests that they're unique ids and that there is actually an accessibility implementation there somewhere. However, WM_GETOBJECT returns 0 for OBJID_CLIENT. At a guess, I'd say they just need to fix the window proc to handle WM_GETOBJECT for that window.

[2016-11-07 11:18] jcsteh commented on #6541
Oh, and there's absolutely no way we can work around this.

[2016-11-07 11:26] feerrenrut commented on #6536
Related to #5946

I'm currently looking at this issue, and hope to extend PR #6498 with a fix shortly.

[2016-11-07 11:31] feerrenrut commented on #6535
@fernando-jose-silva I think the issue was #6269?

[2016-11-07 11:33] feerrenrut commented on #6535
Closing this issue as a duplicate.

[2016-11-07 11:33] #6535 closed

[2016-11-07 11:48] leonardder opened #6545 "Add-on language updates require an extra NVDA restart"
This is probably due to design limitations. I Noticed that, when you update an add-on and restart NVDA, the old language file is loaded rather than the new one. In case of locale initialisation, I think the locale system should also parse locale files in add-on directories with the .pendinginstall postfix to fix this issue. Probably the locale system is initialised before moving the add-on to its

[2016-11-07 17:51] nicolasigot commented on #6504
Hello @jcsteh ,
Can you please review with scenario provided? You should not be blocked anymore. This issue is serious as we are trying to implement website on which accessibility is mandatory and we need to have it working with Angular 2 and NVDA.
We can provide you any support that would help.
Thanks a lot and Regards,
Nicolas

[2016-11-07 17:59] leonardder opened #6546 "Comtypes module for Handy Tech HtBrailleDriverServer should be provided in comInterfaces"
For the Handy Tech braille driver com server, the comtypes module is generated on the fly and stored in a temporary folder. Shouldn't this generated module be provided by default instead? I'd be happy to provide a pull request for this.

N.b. reported on behalf of @BabbageCom

[2016-11-07 19:41] jcsteh commented on #6545
Are you referring to gettext, the manifest or both? Gettext shouldn't be loaded for an add-on until the add-on calls initTranslation; we don't bulk load gettext data or anything like that. So, I'm not sure what's going on here.

[2016-11-07 19:45] leonardder commented on #6545
Alright, I will do some extra checks in order to see what's going wrong.

N.B. Sent on behalf of @BabbageCom

[2016-11-07 20:15] jacobchawala commented on #6535
all shortcuts set, for instance, CTRL+e, CTRL+l, CTRL+r, and so on,
can be pronounced when Microsoft-word is set in either American or
British English. I have not tested in other languages. so even those
shortcuts I am talking about will be first set in English, and then
developers will slowly go on setting them in other languages of the
word. I have suggested them to be announced because it helpe

[2016-11-08 08:26] surfer0627 commented on #6543
@feerrenrut, thanks for the reply. Actually, I do not know more about table properties settings. Here are some questions:

Does this mean that characters to appear to the left of the table, and graphics appear to the right?
In what kind of case, user will set properties text wrap to around?

Yeah, but this is based on that user who knows there is a table in the document. If screen reader have no w

[2016-11-08 12:16] DeepikaJeeth opened #6547 "NVDA reads data incorrectly in ie browser when transition is used."
Input field data is read incorrectly using IE browser if transition attribute is specified.

transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

[2016-11-08 19:21] elliott94 commented on #6539
Apologies - I updated to the latest Next snapshot today, and the issue has been resolved.

[2016-11-08 19:21] #6539 closed

[2016-11-09 03:40] feerrenrut commented on #6547
@DeepikaJeeth Could you provide a minimal test case for this?

[2016-11-09 03:43] feerrenrut commented on #6546
@jcsteh Would you mind commenting on this?

[2016-11-09 04:43] feerrenrut commented on #6538
If I understand correctly, you are trying to get the designer to automatically add the click handler boilerplate code for you?

In order to do this you need to move the cursor to the item, then double click on the item. However it seems when the "Move mouse to current navigator object" the cursor is moved to very centre of the item. Often the controls seem to have a "location anchor handle" at thi

[2016-11-09 04:49] jcsteh commented on #6546
I initially wanted to keep drivers completely self-contained, but this change requires a change to our build system. This is why it wasn't done originally. However, we've since had to tweak our manifest for the Handy Tech driver anyway, so we've already made an exception and I guess I can live with another one. So, feel free to go ahead and implement this.

P4 because I don't think this has any no

[2016-11-09 06:02] leonardder commented on #6546
I've seen cases where python wrapper generation with comtypes resulted in an empty module, although not for this one.

[2016-11-09 06:33] #6446 closed

[2016-11-09 06:35] jcsteh commented on #6546
All we do in the build system is use comtypes to generate the wrapper, so
if this does result in an empty module, it could break in our builds as
well, no?

[2016-11-09 06:42] #6047 closed

[2016-11-09 08:53] lallerke1 commented on #6538
And how can I move the mouse in some inches away, that I can make the
double click?

Ins numpad 4, and numpad 6, or with the mouse itself?

Thanks in advance!

[2016-11-09 08:56] leonardder commented on #6546
It could, but the chance that will happen is lower, only since it is
generated only once per build instead of on every system

Sent on behalf of @BabbageCom

[2016-11-09 09:20] feerrenrut commented on #6538
The problem with moving the mouse pointer is that its not really guaranteed that you will still be over the item. While this might work sometimes, I imagine this could be a fairly frustrating experience.

You can try by moving the mouse, if you do this I would suggest having the "Enable Mouse Tracking" option enabled in order to have changes announced. There is a way to control the mouse pointer w

[2016-11-09 12:20] jcsteh commented on #6546
Right, except that if this happens, it'll break the driver for everyone,
not just one person. The take away is that this is not a reasonable excuse
to implement this change. If that bug occurs, we should by all means
address it, but that's a very separate issue.

[2016-11-10 19:34] derekriemer commented on #6540
The unlabeled button was fixed in chrome canary as of now.
However the popup menu is still inaccessible.

[2016-11-10 19:37] derekriemer commented on #6244
Should this be labeled somehow?

[2016-11-10 19:38] derekriemer commented on #6129
ping

[2016-11-10 19:40] derekriemer commented on #5887
Can anyone confirm this who's still running 8.1? If not, I'll close.

[2016-11-10 19:45] derekriemer commented on #5853
Updated str:
1. In base config, have settings like 35 rate boosted.
1. Activate junk.
2. Voice settings, rate 100, rate boost off.
3. save configuration.
4. Deactivate junk.
Your NVDA should talk out of control.

[2016-11-10 20:22] derekriemer opened #6549 "@secure decorator."
Background:

[code]
This copy-paste code is all over the place. I propose an @secure decorator in NVDA that can help ensure NVDA never runs on secure screens in a decorated method.
[code]
Advantages: @secure could be updated in the future if new security related things are added. This would prevent shot gun surgery from needing to be performed with said feature being added. Addons could use this b

[2016-11-10 20:37] josephsl commented on #6549
Hi, my question is its impact on constructors (__init__). Thanks.

From: derekriemer [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 12:23 PM
To: nvaccess/nvda
Subject: [nvaccess/nvda] @secure decorator. (#6549)

Background:

if globalVars.appArgs.secure:
       return

This copy-paste code is all over the place. I propose an @secure <https://github.com/secure>  decorator in NV

[2016-11-10 20:42] leonardder commented on #6549
i'd really like such a feature. However, do I assume correctly that this does not work in settings dialog items, for example? That would create a slight inconsistency.

N.B. Sent on behalf of @BabbageCom

[2016-11-10 21:04] taylor-arndt opened #6552 "Nvda not reading spelling errors in Microsoft PowerPoint 2007"
The issue is that when trying to proofread a slideshow in Microsoft PowerPoint 2007 NVDA does not even read that there are spelling errors. All other office applications, NVDA will read them, so it may be something with power point. This happens every time I open Microsoft PowerPoint 2007 latest version of NVDA and running Windows 10 Enterprise. I haven’t found a solution to this issue, the only t

[2016-11-10 22:13] derekriemer commented on #6549
it would work on any function. So yes and no. You could decorate your
settings dialog popup function.

On 11/10/2016 1:42 PM, Leonard de Ruijter wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member o

[2016-11-11 08:03] rimas-kudelis opened #6553 "Allow to independently choose whether or not to speak Enter key"
Enter is currently treated as a command key. That means if you want Enter to be spoken, you have to enable speaking ALL of the command keys.

Since Enter is obviously also used when entering text, as opposed to just triggering commands, I think it would make sense to allow choosing whether or not to speak it separately.

Alternatively, instead of creating a separate checkbox, it might make more se

[2016-11-11 09:57] feerrenrut commented on #5853
I was able to reproduce this. Modifying / saving the profiles doesnt seem to be required to reproduce. You just need two profiles with espeak ng synthesiser. One with speed set to 0 and rate boost enabled. One with speed set to 100 and rate boost off. Then swap between the two profiles. It seems like the rate boost setting is persisting when it should be overridden on the profile change.

P3: Whil

[2016-11-11 10:09] feerrenrut opened #6554 "Synthesizer is not saved with configuration profile"
The synthesizer setting can not be saved / restored with configuration profiles.

To reproduce:
- Create two profiles
- In the first one set the synthesizer to "Microsoft Speech API".
- In the second set the synthesizer to eSpeak.
- Swap back to the first. The synthesizer will still be eSpeak.

In particular this will cause problems if you want to make use of features that only exist in one of the

[2016-11-11 10:47] pitermach opened #6555 "Support language switching in Wordpad"
NVDA next-13701,967f1697, Win 10.14393.

NVDA does not switch languages when reading text in Wordpad. I did not notice this was a feature of Wordpad until very recently when I found out JAWS 18 does do this.

You can generate a file with multiple languages in Wordpad by typing with different keyboard layouts, but also some programs like ABBYY FineReader 12 generate properly formatted RTF's with ta

[2016-11-11 18:06] leonardder commented on #3208
This seemed to be quite an interesting ticket to read. Here are my thoughts.

1. Although I can see why @jcsteh proposes add-ons can only be updated from a central server, this might cause problems for paid add-ons (such as speech synths) which are not in the community repository since they are not or not entirely open source. Even for non-open source add-ons, I think there should be a pathway for

[2016-11-11 21:49] mrdin8877 opened #6556 "allow synthesizers that has multiple languages to have their speech rates differently for each language"
Hi and sorry if duplicates,

i am sorry because maybe my title is not quite descriptive. but, i will try to explain.
now i use vocalizer synthesizer and it has multi language switching capability.
all i want is the ability for me to use vocalizer for english language at fast speech rate while keeping vocalizer arabic at slow rate since i am new to this language. i hope it is possible in the future

[2016-11-12 09:55] bhavyashah commented on #6556
Hi,
I am uncertain about how such capabilities would be implemented. On a
related note, a technique of currently achieving the same would be to
use the SwitchSynth add-on, set Vocalizer English at a fast speech
rate for one slot, Vocalizer Arabic at a slower speech rate for the
second slot, and simply switch between them using single keystrokes
(documented on the add-on's webpage).
Thanks.

On 11/

[2016-11-12 10:20] leonardder commented on #6556
If this would be possible, I suggest integrating this with the
    configuration profiles structure somehow. That would also allow
    changing braille tables on the fly when the language changes.

[2016-11-12 12:13] Brian1Gaff commented on #6554
Is this something to do with the synth being switchable and savable in the
special case profile of using a read all special  profile so it uses a
different synth just for that?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Reef Turner" <notificati

[2016-11-13 22:25] jcsteh commented on #6556
Duplicate of #4738.

[2016-11-13 22:25] #6556 closed

[2016-11-13 22:37] jcsteh commented on #3208
I agree we want paid add-ons to get automatic updates. I imagined we would have them registered with our central repository, even though you probably wouldn't be able to actually purchase them from there.

[2016-11-13 23:06] jcsteh commented on #6555
P2 because it will help multilingual users and I think it should be fairly easy to implement.

Technical: See [ITextFont::GetLanguageID](https://msdn.microsoft.com/en-us/library/windows/desktop/bb773975(v=vs.85).aspx).

[2016-11-13 23:56] #6461 closed

[2016-11-14 00:00] #6500 closed

[2016-11-14 00:07] #6502 closed

[2016-11-14 04:57] feerrenrut commented on #6470
@derekriemer Thanks for pointing that out. Looking at the code, there does not seem to be any explicit decision for this behaviour, I think it more likely that this is a "happy accident" and probably a quirk of calling `wx.PyTimer.Start()` with a zero value.

When the value is set to zero, I assume the cursor is present (but not blinking)? As opposed to being disabled which could be achieved with

[2016-11-14 05:12] jcsteh commented on #6470
I probably should have thought of this. :) Actually, it's not an accident. See around line 1517 of braille.py:

[code]

Note the `if blinkRate`. That evaluates to False if blinkRate is 0, which means the timer won't get set.

Correct.

I think some users will want it, but maybe @dkager could shed more light?

[2016-11-14 05:21] feerrenrut commented on #6470
It wouldn't be hard to add an explicit option for this, however given its undocumented we should consider whether we should do this.

[2016-11-14 05:29] feerrenrut commented on #3208
P3. This seems like it would take a large amount of time to implement, and is not currently stopping primary use cases. It would however be very convenient.

@jcsteh Perhaps the priority should be higher if this is considered of strategic importance to NVDA?

[2016-11-14 05:34] feerrenrut commented on #6554
@jcsteh I would like your opinion on this one. Is this behaviour intentional?

[2016-11-14 05:46] jcsteh commented on #6470
It's certainly true that it's not documented, but I definitely knew about
this (my negligence in not flagging it during review notwithstanding). So,
I'm pretty sure it was intentional and it was just never documented
properly.

I'd be interested to know what UI other screen reader use for this setting.

[2016-11-14 05:48] jcsteh commented on #6554
It's not intentional... and I've definitely seen this work. I have a demo
profile on my system which uses a different synthesiser (and that works as
expected). So, either there's a specific set of circumstances that triggers
this or it's a regression.

[2016-11-14 05:48] jcsteh commented on #3208
I think this is something we really do want, but there is just so much
other higher priority work that I can't justify making it p2 right now.

[2016-11-14 05:52] feerrenrut commented on #6553
@rimas-kudelis Thanks for raising this issue.

P3 considering this is a fairly specific use, however I think this could improve the user experience for some people.

So conceptually there seems to be at least the following approaches:
- Add a way to control / set the "level" that control characters are spoken. This could be done in one of the following ways perhaps:
 1. Add categories for control

[2016-11-14 05:57] feerrenrut commented on #6549
This sounds good, but its hard to justify the value of it as a stand-alone piece of work. Since it does not bring any direct user value.

[2016-11-14 06:21] feerrenrut commented on #6554
In that case I'll assign it p2. I noticed this when trying to reproduce #5853.

[2016-11-14 06:22] feerrenrut commented on #6470
Ok i'll extend my PR to cover this.

[2016-11-14 06:24] rimas-kudelis commented on #6553
I think your second option (considering Enter a regular character) would be a more practical approach, and probably much easier to implement. One thing to keep in mind though is that perhaps instead of speaking "carriage return line feed" that key press should speak "enter", because breaking a line is not what this key always does.

As to adding categories for control characters – I think this wou

[2016-11-14 06:31] derekriemer commented on #6553
Having a UI for speaking certain command keys would be really nice. It's
currently all or none, and some people might want to hear anything with
tab, but not control, or similar.

On 11/13/2016 10:52 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud u

[2016-11-14 06:37] feerrenrut commented on #6552
I can reproduce this locally. I didn't notice any errors in the log. PowerPoint 2007 does highlight the spelling mistakes, but they aren't reported through NVDA.

Given the age of PowerPoint 2007 and that there is a work around, albeit a rather inconvenient one, I'll set this as a p3

[2016-11-14 06:38] leonardder commented on #6553
I'd like this and vote for option 2

N.B. Sent on behalf of @BabbageCom

[2016-11-14 06:53] feerrenrut commented on #6129
Thanks @derekriemer. We did discuss this a little, I don't remember if we made a decision on it. @jcsteh Do you?

[2016-11-14 07:07] feerrenrut commented on #6244
In PowerPoint 2013 I am not able to change the order of the slides with `ctrl + up`. I haven't been able to find a keyboard shortcut for re-ordering the slides in powerpoint 2013. When you move between slides however NVDA reports:

[code]

This would be a nice feature to have, however I think it would take a fair amount of time to implement.

[2016-11-14 07:30] jcsteh commented on #6553
I guess it makes sense to include enter in speak typed characters, though
note that the implementation will be a separate code path. I don't think a
UI to choose command keys is a good idea. Yes, it offers maximum
flexibility, but at the cost of greater complexity and potential user
confusion.

[2016-11-14 07:36] jcsteh commented on #6129
I've always found templates for bug reporting systems to be more of a
nuisance than a help, since they effectively restrict the information I can
provide (or at least the flow of said info). That said, I'm hardly the
target audience here. :)

It would certainly be nice to ensure the user is reminded to consider
including certain info. I don't think we want to make this prescriptive.
One thing I've

[2016-11-14 10:52] rkingett commented on #3208
A lot of people have no idea where to get add on updates, though, or
even that an add on has updated, so this would seriously be more than
just a convenience

On 11/13/2016 11:29 PM, Reef Turner wrote:

[2016-11-14 11:54] ruifontes commented on #6553
Hello!

At least in Portugal and Brasil many people want to hear Control, Alt,
Function keys, Tab and Enter, but not arrow keys...

It will be very nice to be able to define which keys are echoed...

Regards,

Rui Fontes

-----Mensagem Original-----
De: James Teh
Data: 14 de novembro de 2016 07:30
Para: nvaccess/nvda
Assunto: Re: [nvaccess/nvda] Allow to independently choose whether or not to
spea

[2016-11-14 11:58] taylor-arndt commented on #6552
What does PIII mean

Sent from my iPhone

[2016-11-14 11:59] jcsteh commented on #6553
It'd be good if you can explain why. I understand enter; that at least can
be considered to be a typed character instead of a command key. However,
differentiating between the arrow keys and other command keys seems
entirely arbitrary. If you don't need to know about the arrow keys, why f1,
control+o, etc.? Having some sort of list which lists every single key and
allows you to configure them woul

[2016-11-14 12:18] ruifontes commented on #6553
Basically, most users want to hear all keys pressed except arrow keys...
I suppose it is more an audible confirmation of pressing the right key...

It is possible to, at least, diferenciate between command keys and arrows?

Rui Fontes

-----Mensagem Original-----
De: James Teh
Data: 14 de novembro de 2016 11:59
Para: nvaccess/nvda
Cc: ruifontes ; Comment
Assunto: Re: [nvaccess/nvda] Allow to indep

[2016-11-14 13:35] leonardder opened #6560 "Couldn't init add-on translation when byte code compiled outside NVDA add-ons directory"
In a closed source add-on, I get the following error when I call addonHandler.initTranslation()

ERROR - globalPluginHandler.listPlugins (14:26:49):
Error importing global plugin testAddon
Traceback (most recent call last):
  File "globalPluginHandler.pyc", line 22, in listPlugins
  File "addon\globalPlugins\testAddon\__init__.py", line 36, in <module>
  File "addonHandler.pyc", line 428, in initT

[2016-11-14 14:09] jcsteh commented on #6560
You should be aware that (as is normal for the GPL) closed source add-ons
are not permitted under the license. All add-ons must be GPL licensed. The
license does grant permission to use non-GPL dlls, but only for libraries
such as speech synthesisers, etc. So, if closed source add-ons are the only
consideration here, this is not something we need to fix.

That said, there are other valid reasons t

[2016-11-14 14:10] jcsteh commented on #6560
P4 because no add-ons are currently doing this and plans to do so seem to be met with a lot of resistance.

[2016-11-14 14:12] jcsteh commented on #6553
Sure, it's possible. The question is: what makes the arrow keys so special?
The user wants an audible confirmation of command key presses, so why not
the arrows? If there's no solid explanation for this distinction, it is
counter-intuitive at best.

[2016-11-14 14:15] rimas-kudelis commented on #6553
I guess one could say that the arrow key block is shaped rather distinctively, thus making audible confirmation unnecessary.

[2016-11-14 14:28] dkager commented on #6470
Off the top of my head, SuperNova has different cursor shapes and has a blinking and a non-blinking  version of each. That seems to be a bit muddy, the shape and the blinking are two separate things. The "0 to disable" semantics make more sense. I agree 200 ms is a sane minimum.

Would rate limiting braille in general make be useful? E.g. when rapidly scrolling through a menu the display goes nuts

[2016-11-14 14:51] ruifontes commented on #6553
The three major reasons are:
In a desktop keyboard the arrows are easy to locate...
Having the command keys announced helps beginner users to be sure they have
pressed the right combination...
Hearing left arrow, , right arrow, up arrow or down arrow before every
letter or list item is totally unproductive...

Rui

-----Mensagem Original-----
De: James Teh
Data: 14 de novembro de 2016 14:12
Para:

[2016-11-14 15:17] bhavyashah commented on #6553
Hi,
Also, all standard navigation commands involving the arrow keys, such
as Ctrl, Alt and Shift (selection) keys when pressed in conjunction
with the arrow keys would be unjustifiably and and unnecessarily
verbose to verbalize, and thus should be omitted in the category
intermediate between all keys and no keys. The arrows are part of
every other key command a screen reader user would press, sinc

[2016-11-14 19:50] michelhebert opened #6561 "aria-valuetext not working in IE"
After finding a similar defect at #913, I am opening this defect per @jcsteh 's request. Please note this issue presists in NVDA version 2016.3

Given an HTML5 widget with `role="slider"`, if both `aria-valuenow` and `aria-valuetext` are present, screen readers should announce `aria-valuetext` instead of `aria-valuenow`, as it's the human-readable text alternative of `aria-valuenow`:

http://www.w

[2016-11-14 20:26] smilelari opened #6562 "Listbox doesn't announce whether item is selected as expected"
Looking at this very simple listbox as an example (I am using Chrome as my browser):

https://cookiecrook.com/test/aria/multiselect/listbox.html

For the most part, the behavior is acceptable.  However, if an item in the list has been selected and then deselected, it no longer announces "not selected", even though aria-selected="false"

[2016-11-14 22:43] kanggeon opened #6563 "read-only not announced for checkboxes"
Read only state is not announced for checkboxes with aria-readonly set. The latest [ARIA specifications](http://www.w3.org/TR/wai-aria-1.1/#aria-readonly) include checkbox as an aria-readonly compatible role. It is possible for sighted users to know the read-only state without interacting with the checkbox through different styling of "read-only" checkboxes. This is not possible for NVDA users.

[2016-11-14 23:06] jcsteh commented on #6553
I still don't really follow the reasoning here; surely hearing "f1",
"control+o", "NVDA+f12", etc. is just as unproductive. That said, it does
seem the user demand, for whatever reason, is high here. I don't think this
justifies making every key configurable, though. However, it might justify
a separate option for reporting of the arrow keys.

That said, #5484 (the original issue regarding the arr

[2016-11-14 23:22] jcsteh commented on #6561
From https://github.com/nvaccess/nvda/issues/913#issuecomment-155284762:

What a surprise: IE's a11y implementation is broken in yet another way. :) Anyway... the thing that worries me about this test case is that for some reason, calling node.getAttribute("aria-valuetext") returns null. I don't know why. So, DOM parsing might not be an option.

[2016-11-14 23:53] jcsteh commented on #6562
This works in Firefox. This appears to be a bug in Chrome. The selected state is still exposed when the item is unselected.

[2016-11-14 23:53] jcsteh commented on #6562
P2 to file a bug against Chrome.

[2016-11-15 00:25] ruifontes commented on #6553
A compromise solution:
1 - Considere Enter, and accents like accut accent, grave accent, tilde and
carete, as a character;
2 - Separate arrows from command keys.

That way will have three group of keys;
1 - Typeable characters including Enter and accents;
2 - Arrow keys;
3 - All other keys;

Other solution is mapping all command keys, after all they are only a few
more than 40, since the associati

[2016-11-15 01:21] derekriemer commented on #6553
What about 3 levels of keys similar to punctuation? Yeah, I know it's
going to cause the same thing we have with punctuation though.

On 11/14/2016 4:06 PM, James Teh wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source en

[2016-11-15 01:28] jcsteh commented on #6553
Precisely. None, some and all is even more arbitrary here than it is for
symbols.

[2016-11-15 01:33] michaelDCurran commented on #6385
I'm still having trouble reproducing this.
Can you please provide clear steps to reproduce, e.g. Open writer, move to the standard toolbar with f6, tab to the save button, press enter.

[2016-11-15 05:39] rimas-kudelis commented on #6553
I guess another compromise is to split command keys into groups, such as Alt+foo, Ctrl+foo, NVDA+foo, Arrow keys etc., and allowing to toggle these groups. How many of them would there be?

[2016-11-15 09:11] jmuheim opened #6565 "NVDA disables tools that display pressed key strokes"
I'm an accessibility consultant, and I do a lot of demos with NVDA and other screen readers to non-impaired people (developers, content editors, etc.).

I'd like to use a tool that displays the key strokes visually on screen, so spectators can better follow me. There are different ones, e.g.:

- http://carnackeys.com/
- http://jungsbluth.de/magnus/blog/2008/08/01/keypose-flavour-your-screencasts-w

[2016-11-15 09:13] jmuheim commented on #6565
The cool thing about a custom feature for this in NVDA would be that one could display additional infos, e.g. whether the currently pressed key is captured by NVDA (in browse mode) or whether it is sent to the OS. Also, in browse mode, one could display the name of the functionality that was triggered using the current key stroke (e.g. when pressing "h", one could display "Jump to next heading").

[2016-11-15 10:25] fernando-jose-silva opened #6566 "Suggestion, reading the end information of the updates during the login window."
Soon after installing the windows updates, soon after restarting the computer after having installed windows updates, before windows lets you enter the user password is displayed a screen with the "please wait, preparing windows, do not power off your Computer, installing updates, (x%) ".
Nvda currently reads this screen only if you press incert + b.
My first suggestion would be for nvda to read t

[2016-11-15 10:44] ruifontes commented on #6553
Hi!

Too many!
1 - Alt+letters;
2 - Control+letters;
3 - Control+Alt+letters;
4 - Alt+Shift+letters;
5 - Control+Shift+letters;
6 - Control+Alt+Shift+letters;
7 - Control+Function keys(Fx);
8 - Alt+Fx;
9 - Alt+Control+Fx;
and so on, and so on...

Rui

-----Mensagem Original-----
De: Rimas Kudelis
Data: 15 de novembro de 2016 05:39
Para: nvaccess/nvda
Cc: ruifontes ; Comment
Assunto: Re: [nvaccess/

[2016-11-15 13:55] josephsl commented on #6566
Hi,

Which version of Windows is this? If it's Windows 10, it is a bit tricky to implement.

Technical: UIA live region changed event is fired for status messages. However, there are times when the info repeats (likely because two different controls fire this event). Also, we need to make sure this doesn't break for those using earlier versions of Windows.

Thanks.

[2016-11-15 15:19] fernando-jose-silva commented on #6566
10.0.14393

Thanks

De: Joseph Lee [mailto:notifications@github.com]
Enviada em: terça-feira, 15 de novembro de 2016 11:55
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Author <author@noreply.github.com>
Assunto: Re: [nvaccess/nvda] Suggestion, reading the end information of the updates during the login window. (#6566)

Hi,

Which version of W

[2016-11-15 15:31] josephsl commented on #6566
Hi, thanks. CC @MichaelDCurran, @JCSTeh, I’m happy to donate live region changed event code from my add-on to the Core.

From: fernando-jose-silva [mailto:notifications@github.com]
Sent: Tuesday, November 15, 2016 7:19 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Suggestion, reading the

[2016-11-16 03:13] feerrenrut commented on #6552
P3 is the priority we have assigned this issue. We do this by applying a label to the issue. Prioritising the issues helps us to work out the order in which to address them.

[2016-11-16 03:34] feerrenrut commented on #6543
Graphics or text could appear on either side of the table. This allows a small table to be embedded within a block of text, perhaps to help explain it. This is similar to the way that images and other objects can have text "flow" around them.

Some cases that come to mind are an article, pamphlet or more "fun" types of work. Often having text edge to edge broken up only by full width tables and im

[2016-11-16 03:55] feerrenrut commented on #6470
Rate limiting the output of braille generally might make sense, but I think that should be handled as a different issue. While it could potentially share / change the implementation of this issue, it raises other questions and there are more things to consider than with limiting the cursor blink rate.

If you would prefer not to have a new check box as an explicit way to disable cursor blinking pl

[2016-11-16 04:28] feerrenrut commented on #6566
This sounds like it could save quite a bit of frustration. However it does not stop or limit what a user is able to do. Considering the is a starting point for the implementation, I'll assign it a priority 3.

[2016-11-16 06:54] feerrenrut commented on #6565
@jmuheim Thanks for raising this issue. I can understand why this would be useful to you, however it's hard to prioritise this over the other issues that will help to support users more directly. I'll set this as a priority 3 for now. Perhaps @jcsteh would care to comment on this issue?

[2016-11-16 08:18] feerrenrut commented on #6538
@lallerke1 I'm going to close this issue now. I dont think this is something that requires a change to NVDA.

[2016-11-16 08:18] #6538 closed

[2016-11-16 08:25] feerrenrut commented on #6563
I imagine this would be a fairly quick fix, and provides good value. I would be interested in some example of this in the wild? Any comment on how often this crops up?
Assigning this a priority 2, based on being quick to implement.

[2016-11-16 08:27] feerrenrut commented on #6129
Perhaps we can assign this a priority 2 to spend a small amount of time to look into templates and attempt to write up something that will aid people creating issues.

[2016-11-16 08:43] jmuheim commented on #6565
The interesting question is: where does NVDA (and also JAWS) interfere with those displayer-tools? Both of them intercept key strokes, but while the displayer-tools seem to send the key strokes further to the system, NVDA doesn't when in browse mode (which absolutely makes sense).

Maybe there is something like a "key strokes interception pipeline" in the OS (I'm speaking as a total amateur in thi

[2016-11-16 08:46] bhavyashah commented on #6129
Hi Jamie,
Even during my early times of bug reporting and ticket filing, I have
never preferred prescribed templates as well, much for the same
reasons that you provided. Just saying...
Thanks.

On 11/16/16, Reef Turner <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Avid Enthusiast and User of the Free NVDA Screen Reader (www.nvaccess.org)

Contacting Me
E-mail Address: bhavya.sha

[2016-11-16 08:50] jcsteh commented on #6565
Which tool are you starting first: the display tool or NVDA? Keyboard hooks
execute from newest to oldest. In other words, if you start the display
tool *after* NVDA, this might work. Note that we can't change this; it's
just how Windows hooks work.

I also don't quite understand why speak command keys, speak typed
characters and speech viewer aren't suitable here. That would give you
exactly what

[2016-11-16 09:09] surfer0627 commented on #6543
Agree. Report message E.G. "Table with text wrap around".

[2016-11-16 09:14] jmuheim commented on #6565
Sadly doesn't work either.

To spectators new to screen readers, the output of a screen reader is already pretty complicated, and it would be another layer of complexity to need to differentiate between output that is generated from the read content, and output generated by key strokes.

Also, the audio output needs much more time than visual output. It just feels much more intuitive to see presse

[2016-11-16 09:22] jcsteh commented on #6565
I get that the audio output is complex, but presumably, if you're using
Speech Piewer, sighted users would be primarily reading the visual output
rather than the audio.

[2016-11-16 09:25] jmuheim commented on #6565
I already have the Speech Viewer open, which is a very cool thing. Still, the output is very complex for new users. I'm not talking about experienced developers here who are used to learn new computer things every day, but about e.g. secretaries of small companies who were assigned to test websites on accessibility (which happens pretty often). ;-)

[2016-11-16 09:40] leonardder opened #6567 "Word 2016 crashes with NVDA"
Since last month or so, it happens quite often that Word 2016 crashes on multiple PC's with Windows 10 X64 when I open a document. It doesn't seem to happen in the case of a blank document.
I've tried to generate a crash dump using focus.appModule.dumpOnCrash(), but strange enough, no dump is generated even though Word crashes.

I've done tests with JAWS 17 as well, but am unable to make it crash

[2016-11-16 09:46] dkager commented on #6470
Yes, rate limiting in general is a separate issue. It was just a side thought here.
I usually have the cursor disabled altogether, but will try the branch you mentioned. Thanks!

[2016-11-16 09:54] leonardder commented on #6567
It seems that I forgot one thing, repairing my office. This seems to fix my particular issue.

[2016-11-16 09:54] #6567 closed

[2016-11-16 13:34] feerrenrut commented on #6543
I'll re-open this issue, its seems possible that there is something better we can do here. @michaelDCurran what are your thoughts on this? I think there is quite a risk that we will not be able to get this information out of MS Word.

In summary, when a table or object has word wrap enabled, it's easy to "cursor down" through the wrapped text and miss the table or object. To mitigate this, the pro

[2016-11-16 13:43] derekriemer commented on #6129
It was purely an idea, so if nothing comes of it, I understand.

On 11/16/2016 1:46 AM, bhavyashah wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors

[2016-11-16 18:19] michelhebert commented on #6561
This property is used, for example, on a range widget such as a slider or progress bar.

Instead of the screen-reader just reading the `aria-valuenow` value (which only accepts a decimal), `aria-valuetext` allows web developers to pass a more human readable text alternative.

In my case, I ran into the issue where the slider uses dates.  When it moves, it would spit out "20161108" instead of "Nove

[2016-11-16 19:47] jsschultz commented on #3030
@jcsteh @camlorn, the issue where the Autos, Locals, Watch, Quickwatch, and call stack windows are not being read by NVDA was on Microsoft's end and have been fixed in the latest release of Visual Studio 2017 RC. No more need to special case those windows :)

[2016-11-16 23:02] michaelDCurran commented on #6543
Note that there are multiple ways to get around this issue:
1. Switch to draft View. Then the arrow keys will never skip the table.
2. Switch to NVDA's Browse Mode.  Again, the arrows will not skip the table.

It may be nice to announce something, but I would not place a high priority on this. To be honest,  it is better in most cases that a blind person works in draft view when editing, or browse

[2016-11-17 01:17] surfer0627 commented on #6543
Good point. Before reading your comment, I do not know more about draft view. User could switch to this by pressing alt+w, e.
I also learn more from "Microsoft Word with NVDA EBook".
* Section 2.12 Document Layouts
* Section 8.12 Reading Text in Columns.

[2016-11-17 01:22] Qchristensen opened #6570 "Speak typed characters and words in Excel in protected view (Excel 2016 at least)"
When a spreadsheet is downloaded from the internet, Excel opens it in "Protected view" so that macros and other potentially malicious content cannot be run.  The workbook is also read only.

If you move to any cell in the workbook and type text, Excel ignores it - the original content of the cell is retained and visually, it never appears to go into edit mode (typed characters never appear anywher

[2016-11-17 01:55] surfer0627 commented on #6543
How to change the default view to Draft view in Word

1. Click the File Tab, and then click Options.
2. Click Advanced.
3. Under General, click to select the Allow opening a document in Draft view check box.
4. Click OK.
5. On the View tab, click Draft in the Document Views group.

resources:
https://support.microsoft.com/en-us/kb/919599

[2016-11-17 03:47] michaelDCurran commented on #6532
What exact version of Skype is this?

[2016-11-17 04:01] surfer0627 commented on #6543
@Qchristensen, would you suggest that user set "draft View" as default?
I follow the steps from [this article](https://support.microsoft.com/en-us/kb/919599), and it seems unable to set. I reopen the document, and draft View is still not pressed.

[2016-11-17 04:09] michaelDCurran commented on #6478
@jcsteh this logic works okay for bold or italic, but what about font name, size, color etc... all can be changed within a cell according to @qchristensen. I think we'll need to consider supporting the concept of "mixed" for all formatting in NVDA if we want to fix this particular issue. It looks like most of the formatting like font name, font size etc are spoken raw in speech.py thus we could ma

[2016-11-17 04:52] michaelDCurran commented on #5929
I can see that the chart in this file is on its own sheet. I.e. rather than an object within another sheet. In this case you can get to the chart in the Elements List by going to sheets. At the moment, "charts" only lists charts on the current sheet.

[2016-11-17 04:52] #5929 closed

[2016-11-17 05:28] Qchristensen commented on #6543
You can set Draft view as the default for new documents.  You would need to press alt+w, e each time you open a document to ensure it is in draft view.  It is possible to do it using macros, although that is an advanced task.

As noted, the table in this document appears as an object because of its alignment.  Using the Go To function (control+g) to search for either an object or a table will also

[2016-11-17 06:12] derekriemer commented on #6532
Don't know. I didn't look, and it auto updates. however curretntly this
is appModule: <'skype' (appName u'skype', process ID 4396) at address
5128030>
appModule.productName: u'Skype'
appModule.productVersion: u'7.28'

On 11/16/2016 8:47 PM, Michael Curran wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third

[2016-11-17 06:13] michaelDCurran commented on #6532
And can you reproduce it with this version?

Or at least, the next time it does happen, please provide the Skype
version at that point.

[2016-11-17 08:30] DzmitryAlifer opened #6573 "Reads href after clicking on anchor tag in Firefox"
I have this item on a page `<a role="option" href="[looong url]">My Item</a>`

After clicking on this item in Firefox in **regular mode** NVDA reads:

When I click on the item again it doesn't read the url (desired behavior):

In the meantime when I do the same thing in Firefox in **private mode** it reads every time as expected:

Is that an expected difference in FF behavior for regular and priva

[2016-11-17 11:47] ravishtiwari commented on #6226
@praedicta - the link you have provided is broken, can you please correct that? OR if the issue has been fixed for you, can you share how you were able to resolve the issue so that others can benefit from it.

[2016-11-17 13:04] feerrenrut commented on #6573
@jcsteh What are your thoughts here?

[2016-11-17 13:14] feerrenrut commented on #6543
Considering there are a few ways that the table / object can be discovered, I'll leave this open and will set a lower priority on this. If someone has an interest in experimenting on UX this would be a good issue to look at.

[2016-11-17 13:25] feerrenrut commented on #3030
Considering there is an open pull request, I think this issue should be looked at more closely. At least to make a plan on how to integrate and test the changes. While it sounds like this issue is fixed in Visual Studio 2017, there may be people still stuck working with earlier versions.

[2016-11-17 23:32] jcsteh commented on #6478
Good point. I think having support for mixed makes sense. I guess we could have a mixed constant in textInfos.

Note that when implementing, braille will need to be tweaked for this as well. We only currently set typeform for bold, italic, etc., but it almost certainly assumes that these are bool values, which won't be the case any more.

[2016-11-18 00:37] jcsteh commented on #6573
I can't reproduce this with the following steps:

1. Open this URL: `data:text/html,<a href="http://google.com/blah" role="option">Go</a>`
2. Click "Go".

I never hear a URL get announced. It'd be good if you could provide a test case which reproduces this.

[2016-11-18 05:18] Neurrone opened #6574 "UIA Focus Event bugs in Win10"
@jcsteh
This came about after some discussion on twitter - @jcsteh suggested moving this discussion to someplace more suitable.

I suspect there is a bug in the way that win10's UIA implementation raises focus events - screen readers do not move focus properly. This can easily be seen when you try opening a file that has no file extension, triggering the open with dialog. In both jaws and NVDA, th

[2016-11-18 05:26] josephsl commented on #6574
Hi, is there a pattern (such as similarly labeled UIA automation ID’s or class names) we can use to hunt these down and come up with a solution? Thanks. CC @MichaelDCurran

From: Neurrone [mailto:notifications@github.com]
Sent: Thursday, November 17, 2016 9:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Subject: [nvaccess/nvda] UIA Focus Event bugs in Win10 (#6574)

@jcsteh <https://github.com/

[2016-11-18 05:48] Neurrone commented on #6574
I didn't notice anything at first glance, other than the fact that the focus keeps on landing on the parent of the object that we actually need focus to be on. The class names and such are very long WPF names, which look to be autogenerated, and the control ID is also set to 0.

The ideal fix is to get Microsoft on this.

[2016-11-18 06:35] feerrenrut commented on #6573
To be clear @jcsteh. There is not any expected differences between private and non-private browsing in Firefox?

I seem to be able to reproduce this with FireFox 49.0.2 using the following steps to reproduce:

1. Open this URL: `data:text/html,<a href="http://google.com" role="option">Go</a>`
2. Click "Go".

_Notice that the link is now a page that exists._

Then (copied from speech viewer) I get:

[2016-11-18 06:48] jcsteh commented on #6573
I'm not aware of any differences between private and normal browsing that
should cause this, no.

@DzmitryAlifer, what version of Firefox were you testing this with?

[2016-11-18 07:45] DzmitryAlifer commented on #6573
@jcsteh I've updated Firefox from 49.0.2 to 50.0 and I'm still able to reproduce it.

[2016-11-18 08:02] feerrenrut commented on #6573
@DzmitryAlifer could you give us an example which reproduces it for you in Firefox 50.0?

[2016-11-18 08:44] DzmitryAlifer commented on #6573
@feerrenrut here is the full example of one of the items
[code]

[2016-11-18 10:52] oliverfoster commented on #6114
make it more verbose. put "Loading content" in it, or something to let the use know what's going on,

[2016-11-19 05:47] Neurrone opened #6575 "NVDA doesn't announce typed characters in Win10 powershell"
This happens even if the announce typed characters setting is on.

[2016-11-19 05:49] josephsl commented on #6575
Hi, how about for earlier versions such as Windows 8.x? Thanks.

From: Neurrone [mailto:notifications@github.com]
Sent: Friday, November 18, 2016 9:48 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Subject: [nvaccess/nvda] NVDA doesn't announce typed characters in Win10 powershell (#6575)

This happens even if the announce typed characters setting is on.

—
You are receiving this because you are s

[2016-11-19 06:27] Neurrone commented on #6575
Am not able to test that right now, anyone has an earlier version of windows?

[2016-11-20 15:02] pranavlal opened #6576 "NVDA is unable to set focus to Microsoft Word 2016"
NVDA 2016.3 is unable to set focus to Microsoft Word 2016. I am using Microsoft Office 365. When I launch Microsoft Word, I do not hear anything. I have to press alt+tab to hear part of the window title. Some users have stated that this works for them to get focus to word. However, on my compuuter this does not happen.
OS=windows 10 64bit
I am pasting the log below.
Note:
I have tried doing an onl

[2016-11-20 18:41] derekriemer commented on #6576
Hi:

I can't reproduce this here on a very similar setup. Are you waiting
long enough? it takes like 30 seconds to do so and then the choose your
template view appears.

Cheers,

Derek

On 11/20/2016 8:02 AM, pranavlal wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Prou

[2016-11-21 02:39] michaelDCurran opened #6577 "MS Edge: support quicknav to buttons"
In Edge, quicknav of b / shift+b should move to buttons.
If this is implemented similarly to other form controls, currently this may locate buttons in composite controls where the button itself is not represented in the text pattern. For example, file upload, or audio and video tags. These particular issues have been reported to Microsoft (MS bug 8370271, and MS bug 4379303).

This should be imple

[2016-11-21 02:41] michaelDCurran commented on #6577
Note that with out the MS bugs being fixed, this will still work in the majority of cases (I.e. moving to a submit button etc).

[2016-11-21 03:17] tspivey opened #6579 "NVDA causes app to crash"
When NVDA is running, this test app crashes.
It's pretty reliable for me. Testing with Narrator doesn't seem to cause it.
From the stack trace, it looks like a UIA bug; but I'm reporting it here just in case something can be done about it.

[test_crash.txt](https://github.com/nvaccess/nvda/files/602605/test_crash.txt)

To crash, run the program and keep pressing control F4. If it doesn't crash aft

[2016-11-21 07:18] michaelDCurran opened #6580 "MS Edge: support find in browse mode"
Find (NVDA+control+f) etc must be supported in browse mode for Microsoft Edge.

To do this, UIATextInfo::find must be implemented making use of IUIAutomationTextRange::findText.

Once implemented, this will expose a bug in Microsoft Edge where findText matches on hidden text (such as display:none) that is not exposed via the UIAutomation text pattern. This has been reported as MS bug 9888158.
P2 a

[2016-11-21 08:44] jmuheim opened #6582 "Clear speech viewer"
I'm recording tutorials for NVDA as video. It would be nice to clear the speech viewer before starting recording. Is there a way to do this?

[2016-11-21 12:32] fernando-jose-silva commented on #6576
I have problems just when pressing enter on a word file from explorer, nvda does not read the open document.
For nvda to read it is necessary to press alt + tab to focus the open document window and press alt + tab again to make the document window in word gain focus.
I already tested with disabled add-ons and the result is the same.
Using the nvda next 13726 windows 10 14393 64bits, and office 20

[2016-11-21 19:53] monkier commented on #6504
I have a similar situation with Angular 1. The virtual cursor is in the correct position if I set focus to the `<header>` or the `<main>` but not a wrapper div with `tabindex="-1"`.

If I set it to a wrapper div, the virtual cursor appears to be in the middle of the virtual buffer, i.e., when I press down arrow when the view has loaded, it will be in the middle of a newly loaded form or on other v

[2016-11-22 00:59] Qchristensen commented on #6297
The reason the document gets so much smaller (and I believe why the problem goes away) when the contents are copied to a new document, is that copying to a new document essentially resets track changes - IE everything pasted into the new document is one new change.

In this document initially, there are 1737 revisions / annotations (according to the revision pane) which includes tracked changes an

[2016-11-22 09:01] feerrenrut commented on #6297
We should look into if there is any way to optimise this code. Perhaps we can reduce the amount of information fetched, or fetch it in batches.

[2016-11-22 09:13] feerrenrut commented on #6576
@pranavlal Is this still occurring for you?

From the log I see the following text repeated several times:

It sounds like perhaps this is a modal dialog which might be stopping you from having access to the document. Have you tried dismissing this (either by saving or selecting "Dont Save")?

[2016-11-22 10:41] feerrenrut commented on #6582
No, not directly. As a workaround you could fill the visible area with white space. Do this by opening notepad, pressing enter, then with the cursor on the first line keep pressing the left arrow. This should report as "carriage return" and create a blank line.

[2016-11-22 10:45] feerrenrut commented on #6579
This should be investigated to determine the extent of the problem, and the cost to fix since this may also affect other applications.

[2016-11-22 11:01] frastlin commented on #1701
Hello,
As this is an issue on Notepad++ accessibility, I would like to put forward a couple features that would make Notepad++ loads easier to use (for me anyways):
1. In the settings dialogues, in particular the keyboard mapping dialogue, the pains that have a list of short-cuts is blank to nvda (it just says "pain"). This means I can't really change any preference that has dialogues like this.
2

[2016-11-22 11:03] josephsl commented on #1701
CC @DerekRiemer

From: Brandon [mailto:notifications@github.com]
Sent: Tuesday, November 22, 2016 3:01 AM
To: nvaccess/nvda
Subject: Re: [nvaccess/nvda] Notepad++ autocompletion tooltips not announced (#1701)

Hello,
As this is an issue on Notepad++ accessibility, I would like to put forward a couple features that would make Notepad++ loads easier to use (for me anyways):

1.	In the settings dialo

[2016-11-22 11:08] jcsteh commented on #6579
This is a similar signature to #6532 and is very likely related.

[2016-11-22 12:02] derekriemer commented on #1701
1.

See this addon I've been working on. It fixes this dialog.

https://github.com/derekriemer/nvda-notepadPlusPlus/

You can download the latest build on appVeyor at
https://ci.appveyor.com/api/buildjobs/o3b5n5evogue7s7o/artifacts/NotepadPlusPlus-1.0.nvda-addon

Note: I often add functionality. Periodically check the github repo, or
if you are on the cutting edge, grab automatically built addons

[2016-11-22 12:04] derekriemer commented on #1701
The tool tips are weird here. They're actually a list of autocomplete suggestions that appear in a top-level window.

[2016-11-22 13:22] mulder21c opened #6584 "When tab role has ":after" in stylesheet, it seems to read incorrectly."
I am creating a tab UI using tablist/tab/tabpanel role, but I found something strange.

this is code fragments in question.
https://jsfiddle.net/mulder21c/pusbjvL4/

**tested steps & expected result (tested with chrome, NVDA 2016.3**

1. While the first item("category 1") is focused,
2. if press right arrow key
3. then NVDA say "category 2 tab selected 2/3"
4. if press left arrow key
5. then NVDA

[2016-11-22 14:52] frastlin commented on #1701
This addon looks amazing! why is it not at:
http://addons.nvda-project.org/dev.en.html

I am switching from EdSharp and I would like similar functionality to EdSharp.

I really love the feature that EdSharp has where you can press tab anywhere on a line and it will indent and tell you the new level. I'm really surprised it is not a feature in notepad++ as tabs are never used anywhere else in code

[2016-11-22 17:33] derekriemer commented on #1701
Its not on that site as I am thinking of opening a pull request against
NVDA to include it by default. As I said, do you mind putting bugs
against it for features you'd like, as its still beta.

cc @tuukkao

On 11/22/2016 7:52 AM, Brandon wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergradua

[2016-11-22 18:26] dd8 opened #6585 "Tabbing to an iframe with a title in IE 11 causes NVDA to reads the iframe source URL"
If an iframe has no title then things work as expected when tabbing between frames in Internet Explorer 11 with NVDA 2016.3

If the iframe has a title attribute, then the iframe SRC attribute is read entering/exiting the frame (i.e. adding a title causes the full URL of the iframe to be read)

Reproduction code:

<body>
<a href="one">Link one</a>
<h1>The iframe has no title, the frame URL isn't re

[2016-11-22 21:25] zersiax commented on #5906
In Visual Studio, when line numbers are enabled, this doesn't seem to work. Turning them off makes it work as expected, but when they are on it appears NVDA thinks the line numbers are the first characters of the line rather than the indentation chars, mucking things up.

[2016-11-22 21:29] derekriemer commented on #5906
How do I enable/disable line numbers in visual studeo?

On 11/22/2016 2:25 PM, Florian Beijers wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors por

[2016-11-23 01:54] jcsteh commented on #6114
I understand what you're trying to do here. However, I don't think it makes sense to focus something empty and definitely not something hidden. Focus is pretty fundamental for a screen reader user, so NVDA will always report focus in some way. Even if we made a decision that "blank" wasn't useful, we'd still want to report the role or similar, which is also not what you want.

I'd suggest focusing

[2016-11-23 01:54] #6114 closed

[2016-11-23 09:20] FelixGruetzmacher opened #6586 "Timing issues in virtual buffers"
The following was observed with Firefox, Internet Explorer and Chrome Canary in their respective current versions at time of writing.
Browse mode navigation is not deterministic when done quickly.
Example:
- Go to www.heise.de
- Wait until page fully loaded
- Go to start of page
- Hit h five times, allowing a second to pass in between, and make a note of the heading arrived at
- Return to top of p

[2016-11-23 09:59] leonardder opened #6587 "Improve braille support in spreadsheets and tables"
In the current situation, braille support in Spreadsheet applications (such as Excel) is very limited. Most notably, it is not possible to view a complete row on a braille display, only single cells. Same applies to tables in Word.

This could be solved in multiple ways, one of which could be adding a table row review mode so both braille and speech users can benefit from this. Of course, row revi

[2016-11-23 10:51] aoki1994 opened #6588 "Anyone know how to combine OpenCV to NVDA？"
I want to use Opencv-Python (cv2 module) to write some addons for NVDA. But I find the opencv library is too large to get included in the addon directory. How can I correctly use it in NVDA?

[2016-11-23 11:41] leonardder commented on #6588
I guess this might be something which is more suitable to discuss on the
NVDA development mailing list. As far as I know, all other add-ons which
include external libraries do this by adding the add-on's directory to
sys.path, which makes it possible to import the particular external library.

This said, I think it might be an interesting approach if add-on
packages would support shipping an addit

[2016-11-23 12:54] aoki1994 commented on #6588
@leonardder Thank you for answering. And I will ask the question on the NVDA development mailing list. But I still have a problem: If I want others to use my add-on, I need to pack the related library files within the add-on, right? But in order to implement the ideas about some AI applications such as video description. I need to use some frameworks like tensorflow or opencv3. And I find tensorfl

[2016-11-23 20:44] derekriemer commented on #6588
Please ask this on the NVDA-Devel list.

[2016-11-23 20:44] #6588 closed

[2016-11-24 07:18] josephsl opened #6589 "Code cleanup proposal: blank lines that are really tabs, names of variables, missing headers, removing duplicates and others"
Hi,

This was brought up by @DerekRiemer a few months ago somewhere (the dev list, Twitter, IRC, etc.):

When we look at NVDA source code, it appears to be a spider web of different coding styles that contribute to the mess we're seeing today. Some of the issues found were missing headers, blank lines that are really tabs, inconsistent variable names and others.

Thus I would like to propose that

[2016-11-24 07:22] josephsl opened #6590 "Source code docs: documenting crucial functions that aren't documented, making docs clearer"
Hi,

Continuing from #6589:

In addition to code cleanup, I'd like to propose that we do something about source code docs (function docstrings, ePyDoc issues, etc.). Specifically:

* There are some crucial functions used in NVDA Core and add-ons that aren't documented ( for instance, text infos isn't documented well).
* Truly removing code that's listed as deprecated.
* Providing up to date exampl

[2016-11-24 07:23] josephsl commented on #6589
Hi,

We should also take this time to truly deprecate code paths that ought to leave this world (for instance, config.save). Thanks.

[2016-11-24 07:34] DzmitryAlifer commented on #6573
Hello guys! Do you have any updates regarding this issue?

[2016-11-24 07:40] leonardder commented on #6589
I'd be happy to contribute to this, so feel free to assign parts of this
work to me. I have no idea where to start, though.

Sent on behalf of @BabbageCom

[2016-11-24 07:45] jcsteh commented on #6589
While the issues here are certainly valid, I don't think they should be
addressed in a broad issue or PR like this. Massive changes like this in
one go tend to result in a lot of merge conflicts and are an absolute
nightmare to review. In addition, beyond changes which can be applied
automatically, every change needs to be tested for unexpected effects. We
just do not have the resources to review

[2016-11-24 07:48] josephsl commented on #6589
Hi, agreed about the issue management. I’m sure this one could be the start of a discussion (via a series of issues) where folks can post issues with code as they find it (separate issues). Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Wednesday, November 23, 2016 11:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@nore

[2016-11-24 07:48] jcsteh commented on #6590
Documentation improvements are welcome, but I don't think a broad issue is
useful (since it's an ongoing process). Also, a massive PR is not ideal. I
think smaller chunks is going to be a better path. For example, there could
be a PR which improves TextInfo documentation.

[2016-11-24 07:50] jcsteh commented on #6589
I don't follow the purpose of this issue, though. It's a task which can
never be said to be complete because of it's bredth. It is ongoing work;
there's no defined beginning or ending.

[2016-11-24 07:53] josephsl opened #6591 "Source code cleanup: add standardized headers to modules where copyright information is missing"
Hi,

Part of #6589 work:

Although most NVDA modules do have standardized headers, it would be ideal to let all of them have copyrights, author information and others (not just Python files, but also C++ source). The biggest underlying problem is that we lost track of who wrote what module and when it was first created and last modified (one can consult Git log for most of this information, but it

[2016-11-24 11:39] Brian1Gaff commented on #6589
Although I do understand the need for this for the future, it is very very
easy to screw something up accidentally here as the person doing it is not
likely to be the person responsible for the routine in the first place.
 I can remember when I was younger and was running a project written in
Assembler, lots of extra bugs got  added by a new helpful person.
 I'm past all that these days, but I jus

[2016-11-24 18:38] tsiegel commented on #6589
I don't know why blank lines that are really tabs is an issue, but those kinds of things are easily solved.  A simple program that looks for lines with only tabs in it, and replacing them with cr/crlf pairs is trivially easy to write, and could be run on all of the source tree in a matter of seconds.  No need for hand checking.  Copyright headers for all files could be done in a similar manner.

[2016-11-24 19:39] jcsteh commented on #6589
Copyright headers can't be automated for several reasons. Some commits
can't be considered to affect copyright; e.g. a commit which just changes
whitespace or something equally trivial should not be considered as a
copyright holder. Some commits were made on behalf of others and that
information is in the commit message itself, usually because git doesn't
support multiple commit authors itself. So

[2016-11-24 19:45] tsiegel commented on #6589
I wasn't talking about copyright for each and every commit, I was talking about general copyright messages for each file.  Each file should have the same copyright message stating the overall copyright for the project as a whole.  Individual commiters can add their own copyright or not, but generally, for large projects, individual commits/individuals don't get their own copyright line, as they do

[2016-11-24 20:35] jcsteh commented on #6589
That's how we used to do it, but the problem is that it makes it difficult
to determine the copyright of given pieces of code. This might be necessary
in the event that we want to contact all copyright holders for a given area
of the code, for example. So now, copyright headers should contain all
authors who hold copyright for that file.

[2016-11-25 02:03] Qchristensen opened #6592 "Enable add-on button has no shortcut key in NVDA Add-ons manager"
In the Add-ons manager (Press NVDA+N, then choose "Tools", then "Manage Add-ons"), the "Enable add-on" button does not have a shortcut key.  Every other button has an underlined letter, but not Enable Add-ons (it's possible it does but not labelled?)  My suggestion would be alt+e.

The button is still accessible with TAB.

CC @feerrenrut

[2016-11-25 02:06] josephsl commented on #6592
Fixed as part of #6388. Thanks.

[2016-11-25 02:06] #6592 closed

[2016-11-25 02:15] Qchristensen opened #6593 "Add-on list too small in Add-ons manager screen"
In the add-ons manager screen, the list of add-ons takes up half the width of the dialog itself, leaving a large blank space to the right of the list.

Issue and solution likely similar to #6101

CC @feerrenrut

[2016-11-25 02:20] Qchristensen commented on #6592
Thanks Joseph,

Sorry I was using 2016.3 at the time and didn't think to check master.  I
confirm it works in current master build.

--
22 Point

Web: http://www.22point.com.au
Facebook: https://www.facebook.com/22Point
Twitter: https://twitter.com/22PointApps

Check out our first app, RapiTap! - Tap targets fast & avoid decoys:
Adrenaline pumping, Challenging, Accessible!
https://play.google.com/

[2016-11-25 03:08] michaelDCurran opened #6594 "MS Edge: support browse mode table navigation"
Table navigation scripts and utilities from the base VirtualBuffer must be abstracted into BrowseModeDocument and utilities implemented in UIABrowseModeDocument, allowing browse mode table navigation in Microsoft Edge.
P2 as this is expected behaviour in browse mode.

[2016-11-25 09:54] feerrenrut commented on #6573
Sorry @DzmitryAlifer I am not able to reproduce this issue using your example. I have to set a valid `href` URL, and remove all the angular specific stuff (eg `ng-if`) because I do not have an angular project set up. This leaves me with the following which does not reproduce the issue for me:

`data:text/html,<a  id="502_link"        title="Attendance"                class="selected"        tabind

[2016-11-25 21:00] michelhebert commented on #141
I agree, this should be part of NVDA (even by default..I can't see a user not wanting to know the context of clicking a link). The main benefit of this enhancement, is to avoid confusing the user when the context changes.  Clicking a link without context will definitely cause confusion/frustration for the user since it could open a new window/tab, open a mail client, download a file, jump to a sec

[2016-11-25 21:37] michelhebert opened #6595 "Read link (href) address - keyboard shortcut to read URL from the anchors href"
This feature doesn't seem to be listed anywhere in the guide. I'm unsure of the various implementations NVDA covers, but I'm looking at this from an HTML perspective (web pages). Also would be a help with the [WCAG 2.0 guideline 2.4 Navigable](https://www.w3.org/WAI/WCAG20/quickref/#navigation-mechanisms).

I've noticed NVDA doesn't give the user the option of retrieving the URL when focusing on a

[2016-11-25 21:48] jcsteh commented on #141
This applies to sighted users as much as screen reader users. In that case,
the author has to explicitly choose to indicate this, in which case they
should be doing so in an accessible way. If the author chose not to
indicate this, that means a screen reader user will get an equivalent
experience.

On Sat, 26 Nov 2016 at 7:00 am, michelhebert <notifications@github.com>
wrote:

[2016-11-25 21:53] jcsteh commented on #6595
I don't follow why a screen reader user is any different to any other user
in this regard. A URL is essentially an implementation detail. We shouldn't
expect screen reader users to rely on this any more than any other user.
Furthermore, browsers provide a way to access the URL of a link via the
context menu. Thus, if a user does want this, they can get it in the same
way that a sighted user might.

[2016-11-27 04:50] feerrenrut commented on #6595
In chrome at least there is a way for sighted users to be able easily see the URL of a link. When hovering over a link, the URL is shown in the status bar. I tend to use this quite a bit when I'm not sure where a link might take me.

[2016-11-27 05:09] feerrenrut commented on #141
As a sighted person I find often there is no easy way to differentiate in page links from regular links. I tend to hover the mouse on the link, and look at the link in the status bar. If its a `#identifier` I know. This probably does not apply to a more general population however.

I'm going to set the priority on this to priority 3. Since there is an add-on that provides this functionality alread

[2016-11-27 05:21] feerrenrut commented on #6589
While it would be nice to have a very clean, tidy and consistent codebase I dont think this is a good idea. Its a moving target, which does not introduce benefit to end users. From my experience these kinds of changes only introduce problems for little benefit.

I vote that we close this issue.

[2016-11-27 05:29] feerrenrut commented on #6591
Retroactively updating the file headers is fairly low priority in the scheme of things. I think this is something we could pay more attention to during code review. I'm going to set this as a priority 4 since it's unlikely that we will do this internally. However we will accept a PR for the changes.

If someone is to take this on, on the PR please outline the process taken / provide any source cod

[2016-11-27 05:44] feerrenrut commented on #6590
I would advise against removing code as part of a bigger issue. It is more likely to hide mistakes, and make it harder to consider whether it truly is safe to remove.
Updating code docs is a great idea, but as @jcsteh mentioned smaller change sets are better. It makes it easier to review and check for correctness.

Since its unlikely this will get done internally, I'll set this as priority 4. Happ

[2016-11-27 05:53] jcsteh commented on #6589
I agree with closing this. However, it should be noted that isolated
cleanup while working on a particular area of code is okay. For example, if
you're making significant changes to a function anyway, it's probably
reasonable to tidy up inconsistencies, etc.

[2016-11-27 05:54] jcsteh commented on #6595
It's possible that the report status bar command doesn't work correctly in
Chrome. If that's true, that should be fixed. That would make for an
equivalent experience.

[2016-11-27 06:05] feerrenrut commented on #6587
I think this requires some more discussion to properly define the requirements, and explore some of the possibilities. However that said, this is a good opportunity for innovation, and could potentially improve workflows significantly.

Setting this to a priority 3.

Any further thoughts, or examples on how this could work would be appreciated.

[2016-11-27 07:09] feerrenrut commented on #6586
This seems like something that should be fixed to improve confidence in NVDA, and enable users to maximise their efficiency when navigating pages. Sporadic differences in behaviour can be quite off putting, particularly to new users.

Setting the priority 2 label to look into this. Consider altering the priority once the cost to fix is known.

[2016-11-27 07:21] jcsteh commented on #6586
This is a duplicate of #2039, though I understand this mightn't be obvious
to most.

[2016-11-27 07:22] feerrenrut commented on #6582
Since clearing the speech viewer is quite an edge case, that is unlikely to apply to most users I'm going to close this issue.

[2016-11-27 07:24] jcsteh commented on #6587
@leonardder, a good starting point might be how other screen readers handle
this if you have that info. I'm particularly interested in Excel, as rows
are extremely long in Excel. We don't have to copy others, of course, but
learning from history is also not a bad thing. :)

[2016-11-27 08:03] tuukkao opened #6596 "Extend Foobar2000 app module with scripts to announce elapsed and total time"
I am proposing the following changes to be implemented in the app module for Foobar2000:

* Add a script for reporting the elapsed time of the currently playing track. I suggest using the shortcut ctrl+shift+e.
* Add a script for reporting the length of the currently playing track. I suggest using the shortcut ctrl+shift+t.

All of this information can be already accessed via the status bar. Howev

[2016-11-27 09:06] Brian1Gaff commented on #6586
Does this also  cause the issue where auto say all on page load fails,
normally on the first page loaded in a session but sometimes others.
Certainly one sees the same processor spike in this condition. I always used
to think this was just my clunkers but since I have some four core  machines
running 7 and 10 and this still intermittently happens, particularly in
firefox, then it does make me wond

[2016-11-27 10:03] jmuheim commented on #6582
I agree this is an edge case.

I think I need this because I want to create movies of how to use NVDA with speech viewer open. But because it's always opened somewhere in the middle of the screen, I have to move it with the mouse and then go back to my browser. This fills the speech viewer with a lot of irrelevant output already, and I want to get rid of that so the speech viewer is nice and clean

[2016-11-27 18:19] tsiegel commented on #6589
Just one final comment on this as regards copyright.  This is a GPL project, it should be under a copyleft license, and when someone donates code to the project, it should be understood that they may or may not be referenced in the general documentation as a contributor, but having dozens of copyrights for a single source file is just silly, and no other gpl project I've ever seen does this.  Gene

[2016-11-27 19:04] hss16 commented on #6018
Do you have another screenreader installed?
This is a known bug if you run nvda after an other screenreader was used before.
Try the following:
If the display responds slowly, unplug the usb cable for two seconds.
This should fix it!

[2016-11-27 19:09] hss16 commented on #6019
Bad! Well I don't have a el66s so I can't help fixing it.
You can try to install brxcom.
It is unfortunately not easy in some cases. Don't know if they
ship the brxnvda.dll in current releases.
Good Luck.

[2016-11-27 21:51] derekriemer commented on #141
Is there an addon for this?

If so, we might want to look at finding the author and adding it to the
addons site.

On 11/26/2016 10:09 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Me

[2016-11-28 01:53] feerrenrut commented on #6586
Closing this issue, since it is a duplicate of #2039

[2016-11-28 01:53] #6586 closed

[2016-11-28 01:55] feerrenrut commented on #2039
Setting the priority on this issue to 2. This seems like something that should be fixed to improve confidence in NVDA, and enable users to maximise their efficiency when navigating pages. Sporadic differences in behaviour can be quite off putting, particularly to new users. Bear in mind that this issue may be quite difficult to fix, and will likely need to be tested quite thoroughly to ensure regr

[2016-11-28 02:11] feerrenrut opened #6597 "When a link has focus the URL can not be read from the status bar."
This affects chrome and firefox.

To reproduce:
- In browse mode move focus a link using the `Tab` key.
- Use Report Status Bar using `NVDA+end` (or for laptop layout `NVDA+shift+end`)
- Note that the URL is not read.

[2016-11-28 02:17] feerrenrut commented on #6595
It should be possible to use the `report status bar` command to see the URL of the link (however there is a bug raised against this, see #6597). It is also possible to use the context menu to get the URL, by selecting `copy link address` and then using the `report clipboard` command (with `NVDA+C`). We believe this addresses this issue.

[2016-11-28 02:17] #6595 closed

[2016-11-28 04:15] feerrenrut commented on #6582
Saving the speech viewer position will be included with 2016.4. If you wish to use this feature now you could try out a [nightly build](http://www.nvaccess.org/files/nvda/snapshots/) (scroll to the "master" section).

For the following I will assume you are using the desktop keyboard layout when specifying keyboard shortcuts. If not, please check the user guide for equivalent keys for the laptop k

[2016-11-28 04:23] feerrenrut commented on #141
@derekriemer I think so but I didn't actually look into it at all. One of the earlier comments (norrumar via trac) mentioned that they attached a plugin to do this.

@jcsteh could you dig up this attachment from trac and attach it here? Thanks!

[2016-11-28 07:20] jmuheim commented on #6582
This is good news. Thank you!

[2016-11-28 14:06] leonardder commented on #6587
It seems that somehow, Excel support in both SuperNova and JAWS is
majorly broken at the moment, probably due to a bug in Excel. I'm afraid
I can't get a working environment to make a report on this yet.

[2016-11-28 20:54] comanna commented on #6134
Hi,

This issue also relates to #5738”

I have a Word document that contains two appendices which are set out as “Text Boxes” that NVDA calls “Text Frame” when it gets into the BOX. The only way that I can find to get into the BOX is to find  A particular word that is known to be contained in the box. I see that this issue is described above by Quentin.
The sample given in the issue #5738 is a per

[2016-11-29 00:42] Qchristensen opened #6598 "Mouse tracking issues on second monitor"
When a second monitor is connected (with the desktop extended to it) and mouse tracking is enabled in NVDA, mouse tracking reports as if the mouse was moving up and down the edge of the first monitor - as if it was on the very far left, right, top or bottom, depending on the location of the second monitor.  Playing audio coordinates seems to confirm this.

Preferred behaviour: Correctly track mous

[2016-11-29 16:12] leonardder commented on #6596
I'd certainly like this functionality.

[2016-11-29 16:13] k-kolev1985 opened #6599 "A bulgarian string is partially hidden in the welcome dialog of NVDA"
After we've completed the bulgarian translation for NVDA 2016.4 last night, I've decided to compile the .po file to .mo and test it. And good thing I did, though a little bit late. It turned out that the string "Welcome to NVDA!" in the dialog itself (the one with larger letters), the bulgarian translation of that string is partially truncated. The whole string in bulgarian is "Добре дошли в NVDA!

[2016-11-29 21:56] miki123211 opened #6600 "restarting nvda after addon installation is finished."
For now, after an addon is installed, nvda asks the user whether he wants to restart the program now. This should be configurable. I propose to add a combo box in the "general preferences" dialog that would allow the user to choose how NVDA behaves in this situation. The user should be able to choose to always restart, to never restart or to ask after each installation. Possible scenarios where it

[2016-11-29 22:42] jcsteh commented on #6600
If you use the Install button in the Add-ons Manager, NVDA should only ask you after you close the Add-ons Manager. That is, you can install multiple add-ons without being asked to restart. Only when you close the Add-ons Manager will NVDA ask.

If you install add-ons from Explorer or the like, NVDA has no way of knowing that you're potentially installing more than one add-on, so we can't achieve

[2016-11-29 22:42] #6600 closed

[2016-11-30 03:53] pranavlal commented on #6576
Yes, this is still happening to me.  I have repaired word which should deal with any pending dialogues.

From: Reef Turner [mailto:notifications@github.com]
Sent: Tuesday, November 22, 2016 2:43 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is unable to set focus to Microsoft Word 2016 (#6

[2016-11-30 03:53] pranavlal commented on #6576
From: derekriemer [mailto:notifications@github.com]
Sent: Monday, November 21, 2016 12:12 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is unable to set focus to Microsoft Word 2016 (#6576)

Hi:

I can't reproduce this here on a very similar setup. Are you waiting
long enough? it takes like

[2016-11-30 04:15] Qchristensen opened #6601 "Cannot read Notbook Section or Page titles in OneNote"
In OneNote 2016 at least, you can press:

CONTROL+TAB / CONTROL+SHIFT+TAB to move between sections in the current notebook (visually they appear similar to "tabs" above the work area and below the ribbon).
CONTROL+PAGE UP / CONTROL+PAGE DOWN to move between pages in the current section of the notebook (visually they appear in a list at the right of screen).

The focus moves accordingly, however, N

[2016-11-30 04:33] feerrenrut commented on #6601
I can reproduce this in OneNote 2013 also.

[2016-11-30 04:36] Qchristensen commented on #6601
Note that was using the desktop version of OneNote.  The Modern App version of OneNote 2016 puts pages AND sections all together in a list on the left hand side of the current page working area and control+page up / control+page down move between current pages in the section before the other sections.  This issue is actually consistent across both versions (as in, I can't read current page / secti

[2016-11-30 04:48] feerrenrut commented on #6576
Sorry @pranavlal, but I'm not sure how to help you at this stage. Answering the following questions might help:

- Do you hear the following text? "Microsoft Word dialog Want to save your changes to Document1?"
 - This comes after 'Document1 - Word unavailable' and 'Microsoft Word dialog'
- If you do hear it, try pressing tab to highlight 'Save', 'Dont save' or 'Cancel' and press enter.
 - After d

[2016-11-30 04:50] feerrenrut commented on #6599
This is probably a quick fix, and impacts the polish of NVDA quite a lot. Setting priority 2.

[2016-11-30 05:05] feerrenrut commented on #6598
Yes, I can reproduce this with `NVDA version next-13701,967f1697`.

Technical:
A related bit of code would be the positioning of the Speechviewer which needs to check if the layout of the monitors is different from when the speechviewer window was saved.

Setting priority 2, this could be quite a confusing bug and should be quick to fix.

[2016-11-30 05:10] feerrenrut commented on #6134
It seems like we have a good place to start for this. Priority 2 to test out whether we can integrate the suggestion by @comanna. Otherwise priority 3.

[2016-11-30 05:54] feerrenrut commented on #6596
Thanks @tuukkao. I'll set this as priority 4 since we are unlikely to work on this internally, however we are happy to accept a pull request for this issue.

[2016-11-30 06:05] feerrenrut commented on #6018
@ChrisDel35 Could you let us know if the workaround proposed by @hss16 worked for you?

[2016-11-30 06:07] feerrenrut commented on #6018
@hss16 You mention this is a known issue, do you know why this occurs? We are looking for any clues about how we might work around it.

[2016-11-30 06:12] jcsteh commented on #6019
@hss16, do you have any contacts at Papenmeier that might be able to help with this; e.g. protocol documentation, loan of a display, etc.?

[2016-11-30 06:19] feerrenrut commented on #6589
I'm going to close this issue. However if working on an area of code, feel free to take the extra step to clean it up.

[2016-11-30 06:19] #6589 closed

[2016-11-30 06:25] feerrenrut commented on #6019
For anyone with the display this is quite an important issue, assigning this a priority 2. However NVAccess does not have one, and so this issue is blocked until we can get more information.

[2016-11-30 08:38] jcsteh commented on #6598
I do wonder how common multi monitor setups would be among screen reader
users. I would have thought not so likely. I'm also not convinced this will
be easy to fix, as it depends what coordinates get returned from a11y
implementations, how hit testing behaves, etc. Still, happy for this to be
p2 for now; we can consider dropping the priority later if the
implementation cost turns out to be prohibi

[2016-11-30 09:34] ctoth opened #6602 "Google Chrome Notifications from Extensions are not read"
While attempting to create a chrome extension I noticed that notifications were not being read by NVDA.

[Find attached](https://github.com/nvaccess/nvda/files/621373/testnotify.zip)
a simple unpacked Chrome extension which pops up a notification.
Install it by going to chrome://extensions and selecting load unpacked extension, then navigating to and selecting the unzipped folder.
Once the extensi

[2016-11-30 09:42] ctoth commented on #6549
I recommend against the name ```@secure```
It's not terribly descriptive. how about @requires_elevation or @requires_insecure or something like that?

[2016-11-30 10:20] ChrisDel35 commented on #6018
Hello @hss16,

Many thanks for this workaround.

Yes, I am using another screen reader. Now it is Jaws 17 but when I noticed the problem on an older computer, it was Jaws 13.

With the old computer and Jaws 13, I don't remember this worked. Now, I don't have this old computer anymore. However, the good news is that on the new computer with Jaws 17, it seems to work like you described.

In other wo

[2016-11-30 10:24] #6018 closed

[2016-11-30 10:59] JanuszChmiel opened #6603 "NVDA latest snapshot do not support INSERT+F while inside Google docs editable area."
Dear developers, if report formatting is not supported while using Google docs, if it will be very good if this error would be suppressed and NVDA will tell user not supported or other words. Short part of NVDA.log here:
ERROR - scriptHandler.executeScript (11:53:17):
error executing script: <bound method GlobalCommands.script_reportFormatting of <globalCommands.GlobalCommands object at 0x05046C90

[2016-11-30 11:11] jcsteh commented on #6603
Thanks for reporting. What browser were you testing this in? Was this while
editing a document? Did you have Google Docs braille support enabled or
disabled? (Note that having Google Docs braille support enabled improves
some other things as well even if you're not using braille, which is why I
ask this question.)

[2016-11-30 12:11] JanuszChmiel commented on #6603
Dear MR Tech, I have Screen reader support enabled inside Google account settings. I Am using latest stable version of Seamonkey WEB browser. Error have occured, when cursor have been placed on The at The opened document. There is no other error related to arrow keys support, ETC. Only Insert+F  do not work inside Google docs editable area.

[2016-11-30 12:39] pranavlal commented on #6576
Hi,

I can run Microsoft Word without any problems using narrator. I am appending a set of  fresh log entries.

INFO - __main__ (17:56:37):

Starting NVDA

INFO - core.main (17:56:37):

Config dir: C:\Users\user\AppData\Roaming\nvda

DEBUG - core.main (17:56:37):

setting language to Windows

INFO - core.main (17:56:37):

NVDA version 2016.3

INFO - core.main (17:56:37):

Using Windows version 10.

[2016-11-30 12:40] JanuszChmiel opened #6604 "When Richedit Class is being used by some Windows aPP and user press ESC, NVDA is causing Access violation inside Richedit library or directly inside .exe application processes."
Dear developers,
I AM starting with new group of issues, which have been very probably caused by some internal changes of NVDA, very probably after NVDA 2016.2 have been released.
This issue is very un soft to users. When I AM using latest version of Skype while using Windows 10 home edition X64 bit edition. NVDA is causing Access violation address fault inside some of Richedit library. When? When

[2016-11-30 12:59] jcsteh commented on #6604
We're pretty certain this is caused by a bug in RichEdit's UI Automation implementation. Certainly, none of NVDA's code is anywhere in the crash stack. Anyway, it's a duplicate of #6532 (which is in turn probably related to #6579). Thanks.

[2016-11-30 12:59] #6604 closed

[2016-11-30 13:04] jcsteh commented on #6579
It's worth checking whether this started occurring in 2016.3. I don't see how - we don't actually use UIA for RichEdit (we just get the events and drop them) - but there were a lot of UIA changes in 2016.3, so it's worth checking.

@feerrenrut, @MichaelDCurran, it seems a few people are seeing this quite a bit now. While I suspect it's not our bug, I think we should consider pushing this to p1 to

[2016-11-30 14:59] Ronan555 opened #6605 "Excel Slicer not accessible"
Hi,

Excel 2013  Slicers seem inaccessible to NVDA. Can this be investigated?

Many thanks,
Ronan

[2016-11-30 18:19] haltersweb opened #6606 "NVDA not reading focused parent"
I have an actionable element nested inside of a div with tabindex="-1".  When the actionable element is clicked, focus is placed on this parent div. Yet, the div's content is not read by the NVDA screen reader:

- **NVDA** Result (in both IE and FF): when I click the actionable element, focus goes to the div but the div's contents **are not** read.
- **JAWS** Result (in both IE and FF): when I cli

[2016-11-30 22:13] classicmike opened #6608 "Screen reader reads twice when entering input in a form with aria-live="assertive" on Chrome"
Hi,

I've been asked to resolve an issue where I need the screen reader to read out some text after it has been inserted dynamically into the DOM from Ajax. I know that in order to do this we need to use aria-live. I have inserted 'aria-live="assertive"' in the parent <form> tag.

The insertion works, with the exception that whenever I focus on an input and enter some text, each character I enter

[2016-11-30 22:29] JanuszChmiel opened #6609 "Akelpad editable field is causing some issues with windows Kernel APi function used by NVDA"
Dear MR Tech and others,
When long document is opened by akelpad, file which contain more than 620000 characters, there is A following error shortly after opening The file and when I press down arrow key inside editable text inside Akelpad window.
error executing script: <bound method Dynamic_AkelEditIAccessibleAkelEditWindowNVDAObject.script_caret_moveByLine of <NVDAObjects.Dynamic_AkelEditIAcces

[2016-11-30 22:31] jcsteh commented on #6608
I think there are two issues here:

1. aria-live should not be set (or inherited) on any element which accepts input. Otherwise, user input gets included as part of the live region and is thus reported. This is in addition to speaking of typed characters if the user has that enabled. If you must set aria-live on an ancestor of the input, set aria-live="off" on the input itself to override the live

[2016-11-30 22:39] jcsteh commented on #6609
This error indicates that Windows was unable to allocate sufficient memory in the remote process to fetch the text of the line. A few questions:

1. Does this happen whenever you try to move by line in that file or only when the application is first opened? As I understand it, this has nothing to do with the application not being ready; we simply can't allocate enough memory.
2. You noted that the

[2016-11-30 22:51] jcsteh commented on #6605
Can you please provide a spreadsheet containing an example of a slider
which is not accessible? Also, please provide the exact steps you took,
what you expected and what happened instead. Thanks.

On Thu, Dec 1, 2016 at 12:59 AM, Ronan555 <notifications@github.com> wrote:

[2016-11-30 23:00] jcsteh commented on #6606
P3 because I can certainly see why this is problematic, but it's extremely difficult to fix. It's possible that a fix for #2039 might fix this.

At present, NVDA ignores focus on an ancestor in this case because the browse mode cursor is already "within" the focused element. The reason for this is that NVDA itself moves the focus when you move the browse mode cursor, but we don't want this focus c

[2016-12-01 02:21] haltersweb commented on #6606
Where I see this being a big issue is with Single-page Applications (SPA).

Typically new content and the controls to advance throuch the SPA are populated into a common container div.  So when you try to advance within the SPA through the controls within the container, focus is driven back to the parent container in order for the screen-reader to read all new content and controls.

[2016-12-01 02:25] feerrenrut commented on #6579
@jcsteh I agree.

[2016-12-01 04:20] tspivey opened #6610 "Snappy Driver Installer: flat review doesn't see text"
While using the open-source program [Snappy Driver Installer](https://sdi-tool.org/), NVDA can't see any of the text on the screen, while JAWS 18 can.

[2016-12-01 11:37] pranavlal commented on #6576
Hi all,

Some more updates. I am facing a similar issue in Internet explorer. I hear a part of its window title and nothing else. I have a fresh log showing both the error in word and in internet explorer.

The problem at least with word appears to be in the following lines.
(WINWORD.EXE) (15:17:11):
Thread 17232, build\x86\remote\ia2Support.cpp, installIA2Support, 86:
Error registering class obje

[2016-12-01 11:45] pranavlal commented on #6576
Hi all,

I am resending this comment because when I tried posting it via the github interface, it appears to have disappeared. I have done some more testing. I am having a similar problem with Internet Explorer version 11 as well. I heara portion of its window title and that is all. I have been able to fix the word save dialogue by using narrator to go into word and dismiss that dialogue. Please s

[2016-12-01 12:55] MichelSuch opened #6611 "Wordpad problem with latest next versions"
When opening Wordpad to create a new document, you can enter text but then, you can't reread it using NVDA.
The problem does not seem to occur when opening an already existing document.
Tested with Wordpad under Windows 10 Anniversary 64 bits

[2016-12-01 13:35] Mary5958 commented on #6611
It also happens to me with some existing documents if it includes some copied text, for example Skype chat logs or some text copied from a site but this part is quite irregular and seems to depend on the site but it wouldn't happen before yesterday's update, and language doesn't matter. When opening this kind of file NVDA throws errors and it's impossible to read anything or sometimes you can read

[2016-12-01 14:00] Mary5958 commented on #6611
I tried sending attachments to this ticket via Github but I'm not really
sure if they got through so I'm trying via email now; just the log and
one of the affected texts.

INFO - __main__ (14:23:51):
Starting NVDA
INFO - core.main (14:23:51):
Config dir: C:\Users\Martina\AppData\Roaming\nvda
INFO - core.main (14:23:52):
NVDA version next-13737,94e66478
INFO - core.main (14:23:52):
Using Windows ve

[2016-12-01 14:15] josephsl commented on #6611
Regression due to #6555 and PR #6564. CC @MichaelDCurran, @feerrenrut

[2016-12-01 19:07] hss16 commented on #6018
Hi,
On Di, Nov 29, 2016 at 10:07:22 -0800, Reef Turner wrote:

Unfortunately I don't have an idea what causes this problem at this point.
The error was only there after using EG.: Jaws.
Maybe it does something bad with the usbserial converter which isn't documented.
Regards

[2016-12-01 20:31] jcsteh commented on #6611
We're going to need a sample document that can be loaded into Wordpad to
reproduce this. You'll need to add any attachments via the web interface.
Only certain file extensions are accepted, so try zipping the file if
you're not sure. Thanks.

[2016-12-01 20:43] Mary5958 commented on #6611
The file is in .RTF; I've zipped it now so hopefully it will work.
Only a few lines from the copied text plus two at the end added by me are recognized correctly.
[Break Another Heart.zip](https://github.com/nvaccess/nvda/files/625712/Break.Another.Heart.zip)

[2016-12-01 23:09] Qchristensen opened #6612 "Error moving to Chrome window when previously connected Braille display not present."
Note: This happens in NVDA Master builds (I'd noticed it for awhile but only just pinned it down), up to the current build 13738,67e435a0

Steps to reproduce:
1. Use NVDA with a Braille display (I'm using an Alva).
2. Disconnect or turn off Braille display.
3. Restart NVDA.
4. ALT+TAB to a Chrome window
5. NVDA beeps an error.  Following lines written to NVDA log:

ERROR - braille.BrailleHandler.s

[2016-12-01 23:21] jcsteh commented on #6612
Do you have any configuration profiles, especially one for Chrome? I'm
guessing the braille display is only configured for Chrome, so it only
tries to initialise when you switch to Chrome. That error is normal when
the display is not connected and we try to initialise it.

[2016-12-01 23:26] Qchristensen commented on #6612
Ah, that was it, I wondered why it was happening in Chrome.  I forgot I setup a Chrome profile ages ago to test something else.  I must have been in Chrome when testing the Braille display error!  Ok, if this would happen in everything then is there a way to more gracefully ignore the fact the usual Braille display isn't connected?

[2016-12-01 23:33] Qchristensen commented on #6612
Ah I see, that error only occurs once when NVDA loads, which is fair enough, and then would only reoccur if going to another configuration profile set to no Braille and back again.  Ok. we can probably close this now then and I'll go back in my little box :)

[2016-12-02 00:01] poorgeek commented on #5958
I've run across this same issue when using NVDA 2016.3 and IE 11. I've put together another [example on CodePen](http://s.codepen.io/poorgeek/debug/ENoQer) that highlights the problem. When you tab from one field to the next, the label is read followed by the row/column information.

In Firefox, the example reads as expected; ignoring the table semantics.

[2016-12-02 02:13] #6612 closed

[2016-12-02 02:38] feerrenrut commented on #6576
Hi @pranavlal, it seems likely this could be caused by a triggered configuration. To test this could you check the "Temporarily disable all triggers" option in NVDA Configuration profiles dialog and test again please?

[2016-12-02 03:33] Qchristensen opened #6613 "No single keystroke to find out the current Excel worksheet"
There is no single command which tells you which worksheet you are on in Excel without performing an action.

Object navigation can be used: NVDA+numpad 8 / NVDA+shift+up arrow jumps immediately to the sheet and tells you, however for those not overly familiar with object navigation, pressing it again jumps to the parent of the worksheet (Excel itself) which could be confusing.

The elements list

[2016-12-02 03:56] derekriemer commented on #6613
@MichaelDCurran would the report location command be a good fit here?

On 12/1/2016 8:33 PM, Quentin Christensen wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

We

[2016-12-02 04:01] michaelDCurran commented on #6613
Yes, we can just override the locationText property, and have it contain
sheet name and cell coordinates.

[2016-12-02 06:21] pranavlal commented on #6576
Reef,

I temporarily disabled all triggers and word started up just fine. I can type in it and do whatever I want.

From: Reef Turner [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 8:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is unable to set focus to Microsoft Wor

[2016-12-02 06:30] jcsteh commented on #6576
What we suspect has happened here is that you have a profile triggered for
Word which has the audio output device set to something that (for whatever
reason) can't produce audio. The simplest fix is probably to check what
profile you have configured for Word, remove that profile altogether and
create it again (if indeed you still want it). As such, this isn't a bug;
it would seem there's an audio

[2016-12-02 07:40] Brian1Gaff commented on #6611
Here is my message from the dev list, I'll see if I can find the file later
on today and go to the web site and upload it but git is a bit of a git when
trying to upload files sometimes.

IO - speech.speak (09:45:16):
Speaking [LangChangeCommand ('en_GB'), u'Document - WordPad  icon  2 of 8']
IO - speech.speak (09:45:18):
Speaking [LangChangeCommand ('en_GB'), u'Document - WordPad']
IO - speech.sp

[2016-12-02 07:47] leonardder opened #6614 "Allow NVDA to control more than one braille display at once"
Although the title of this issue might sound strange (why should one ever want to use multiple braille displays at once?), I think there are several good and valid reasons why it would be a great feature to have in NVDA.

1. It makes implementing braille in NVDA Remote nvdaremote/nvdaremote#68 a lot easier. In the current situation, it will require a lot of code in NVDA Remote to support braille a

[2016-12-02 07:51] Brian1Gaff commented on #6611
While I'm here let me point out that the issue is in fact far worse in jarte
than in Wordpad, stopping any kind of access to most of the file that has
issues as the log below shows, and as has been said points the finger toward
the offending recent update.
IO - speech.speak (07:44:34):
Speaking [LangChangeCommand ('en_GB'), u'traffic.doc - Jarte   (screen
reader mode)']
IO - speech.speak (07:44:34

[2016-12-02 08:22] pranavlal commented on #6576
Hi Jamie,

Thanks for the explanation. I have deleted the profile I had created for word and the problem has gone. I had indeed created a specific configuration profile for word so that I could customize punctuation etc., for Word.

From: James Teh [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 12:01 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.

[2016-12-02 08:39] Brian1Gaff commented on #6611
It seems you don't need any file at all as the error occurs on an empty
wordpad in windows 7, and interestingly, in this log I left the add ons
switched on so you can see them come in as well.

IO - speech.speak (08:20:20):
Speaking [LangChangeCommand ('en_GB'), u'WordPad']
IO - inputCore.InputManager.executeGesture (08:20:22):
Input: kb(desktop):enter
IO - speech.speak (08:20:22):
Speaking [LangC

[2016-12-02 09:11] MichelSuch opened #6615 "Ability to have different settings for the different voices of a synthesizer"
It would be nice to have separate settings for the different voices of a synthetizer, especially for rate.
Let me take an example: I have english and french voices in my sapi 5 synth.
When using a french voice (my native language), I use a relatively high rate, but when using english, I would prefer to have it spoken slowerly.
If I set my french voice t rate70, the next time I get to the voice set

[2016-12-02 10:13] feerrenrut commented on #6368
Technical:
The freeze is being caused by `self.obj.WinwordDocumentObject.characters.count` in the `_move` function of the `WordDocumentTextInfo` class in `winword.py`.

[2016-12-02 10:35] bramd commented on #6614
I think that it might also ease switchign displays. E.g. a user works at the office with a laptop on a USB display. He puts the laptop into sleep and unplugs everything. Later, while traveling, he wants to continue where he left off and use the same laptop with a Bluetooth display.

If NVDA supports one display at a time, it has to figure out that the previous one has been disconnected and the Blu

[2016-12-02 16:01] #5572 closed

[2016-12-02 16:01] JamaicanUser commented on #5572
Already taken care of via a new setting a few months back.

[2016-12-02 16:05] JamaicanUser commented on #6047
Oops. There is a spelling error in the English documentation. Across only has one 'c'.

[2016-12-02 17:00] Ronan555 commented on #6605
[Sample Excel report with slicers.xlsx](https://github.com/nvaccess/nvda/files/627751/Sample.Excel.report.with.slicers.xlsx)
Hi,

Slicers are a feature of Excel that are used with Pivot Tables.
In Microsoft Excel 2010 and later , you have the option to use slicers to filter the data in a pivot table rather than traditional filters. Slicers provide buttons that you can click to filter PivotTable da

[2016-12-02 18:25] derekriemer commented on #6605
Hi: This issue tracker is public. Is this document confidential? Just checking.

[2016-12-03 09:19] Brian1Gaff commented on #6611
incidentally the no file loaded  issue in wordpad/Jarte ony seems to occur
if you use the  ribbon menu version of Wordpad, and you will need the test
file for Jarte and older wordpad versions. However the file shows errors in
all versions.
In the Ribbon version of Wordpad just typing into the file area and trying
to edit it causes the error.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Ple

[2016-12-03 18:21] Ronan555 commented on #6605
No, spreadsheet is not confidential. Thanks for reminding us of this important point.

[2016-12-04 13:04] dkager commented on #5770
@jcsteh Could we pick this up again in 2017? I plan to read up on this issue in the week after Christmas. As far as I recall there are two issues:

1. When a selection scrolls past the braille display length it isn't always tracked. This looked like it was relatively easy to fix.
2. Braille stays on the top line when making a multi-line selection. At least two separate areas are affected, Microsof

[2016-12-04 21:03] andrew-l-d opened #6616 "Minor typographical error in What's New"
On the What's New page for the 2016.4 release candidadte the word "across" has a double c:
"• The way IFrames (documents embedded within documents) are reported has been made more consistent accross [should be across] web browsers."  Apologies for the pedantry.
Andrew

[2016-12-05 18:01] dkager commented on #6159
Likewise, would be great to use the new Dutch voice.

[2016-12-06 01:27] michaelDCurran commented on #6368
@feerrenrut: you could try replacing
[code]
 with
[code]

This should result in the same number... in deed I'd argue this way is also more in the spirit of the if check anyway, I.e. detecting the end of the document.

I cannot reproduce the freeze properly so can't test myself.

[2016-12-06 01:43] michaelDCurran commented on #6579
This crash happens at least as far back as NVDA 2016.1.

[2016-12-06 02:05] michaelDCurran commented on #6579
There is no specific automation event or property change event that causes this crash, though the timing does change depending on what events are registered.
Removing the textPatternAvailable property ID, and the TextPattern itself, from the baseCacheRequest does not make the crash go away.

In short it looks as though we can not fix this in NVDA. We need to report this to Microsoft

[2016-12-06 07:44] Qchristensen opened #6620 "Read active window not working in Excel 2016"
I was looking for a command to read a whole worksheet in Excel.  Read all only reads the contents of the current cell.  Selecting the whole worksheet and reading the selection only reads the range.  I thought of putting Excel in "full screen" mode and reading the window.  I found two commands to do that:

- alt+v, then u - the old Office command, which still works.  Visually the title bar is retai

[2016-12-06 10:03] derekriemer commented on #6368
@MichaelDCurran, this occurs in other apps as well, I saw it several
times when investigating scripting dragon for example.

On 12/5/2016 6:27 PM, Michael Curran wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusi

[2016-12-06 16:19] deepan1981 commented on #5274
Still This issue is persist in IE and working fine in Firefox. Any update on this issue.

[2016-12-06 21:28] Qchristensen opened #6621 "Shifted symbols aren't announced in input help"
When using input help mode, NVDA+1, NVDA does not read the character generated by pressing shift+key.  For instance, on an English-US keyboard, the dollar sign is shift+4.  Press this using input help and NVDA only reads "shift+4".  It would be useful to have it read the symbol as well as the keys.

[2016-12-07 02:30] surfer0627 opened #6622 "MS Word: provide speech and braille feedback for numpad Insert, Extended Insert"
In Microsoft Word, when pressing numpad Insert or Extended Insert twice to change insert on / off, NVDA does not provide speech and braille feedback.

[2016-12-07 06:33] Qchristensen opened #6624 "Change Say All behaviour in Excel to read entire worksheet from current point when not in edit mode"
In Excel, when not in Edit mode (To go into edit mode, move the focus to any cell and press F2), NVDA does not read anything when the Say all command is pressed (NVDA+down arrow or for laptop layout, NVDA+a).

Having the Say all command read the worksheet from the current point onward would be consistent with behaviour in other apps (including tables in Word or on the web).

I envisage having it r

[2016-12-07 09:25] derekriemer opened #6625 "The user is unexpectedly dropped into focus mode on Twit.tv"
1. Visit https://twit.tv/shows/security-now
2. Press e to go to the edit field for subscribe.
Hint, leave focus mode, arrow up a bit, and try to down arrow again until you land in the field.

Expected: the edit role is read, the user can press enter to enter focus mode.

Actual:
the user is put into focus mode.
Relevant settings in browse mode:

- [x] Automatic focus mode for focus changes
- [ ] A

[2016-12-07 09:46] feerrenrut commented on #6611
The keys being complained about have the values `5` and `9`. The meaning of these values can be found by looking at the `CLID` table on [msdn](https://msdn.microsoft.com/en-us/library/cc233982.aspx). `5` is for Czech (`cs`) and `9` is for English (`en`). One thing to note about these is that they lack the culture code, it is just the language that is specified.

Looking at the python locale module

[2016-12-07 21:04] jndiaz opened #6627 "Button with aria-label not getting read after getting focus inside a div"
I have a button with aria-label inside a div. I'm following this steps:

1. Focus the div using javascript
2. Press tab

Expected behavior:
Button's aria-label get read

Current behavior:
Button's aria-label doesn't get read.

I've done a fiddle reproducing the exact same HMTL structure i have. It also have an example with an anchor, and one with just a div with a button inside. In all three examp

[2016-12-08 06:01] gregjozk commented on #6621
same behaveour is expected when ctrl + alt + symbol (number, letter or other char) on the keyboard is pressed.

[2016-12-08 06:24] michaelDCurran opened #6628 "Excel: row/column headers should be remembered when copying sheets"
Currently if row/column headers are set by NVDA on an Excel sheet, and that sheet is copied within the same workbook, NVDA does not detect the set row and column headers on the new copy. This is because NVDA stores defined names globally on the workbook, rather than per sheet.

[2016-12-08 06:56] feerrenrut commented on #6579
We need to put together a minimal test case (executable) that demonstrates the issue with RichEdit. This example should include the source. We will then need to give the example to Microsoft when we file a bug.

[2016-12-08 07:47] feerrenrut commented on #6621
@Qchristensen can you clarify the expected output for `shift+4`. I am interpreting this, as outputting something like "shift+4, $". Which may announce as "shift plus 4, dollar" (depending on your settings). Is this what you were thinking?

Maybe this is an edge case we should just ignore, but I think this could take us down a tricky path. We are announcing the input keys, and then the "effect" tha

[2016-12-08 08:12] Qchristensen commented on #6621
I was definitely only thinking of things like "shift+4, $" (or whatever the
symbol is on the particular keyboard in use), as that is a symbol set by
the driver for that keyboard.

While many key combinations - such as control+c, are common, they are not
universal.  I don't think there are too many programs that don't respect
control+c as copy - I wouldn't be keen to use one, but that's beside the

[2016-12-08 08:19] feerrenrut commented on #6627
In Chrome Version `54.0.2840.99` with a recent next build of NVDA (Version: `next-13749,4be7ee9e`)

I get the following output after triggering the `Give focus to button` button (in the fiddle you linked to)

Then nothing when I press `Tab`

I get essentially the same behaviour in FireFox version `50.0.2`.

@jcsteh Could I get your thoughts on this?

[2016-12-08 08:27] gregjozk commented on #6621
when I spoke about key combination ctrl + alt + symbol, I talked about
symbols, which could be shown if ctrl + alt + letter or alt(gr) +
letter or number is pressed. let see an example: in slovenian keaboard
layout symbol "@" is shown when key combination ctrl + alt +v or
alt(gr) +v is pressed.

2016-12-08 9:12 GMT+01.00, Quentin Christensen <notifications@github.com>:

[2016-12-08 08:36] Qchristensen commented on #6621
Ah ok, well I wonder @feerrenrut can we find out whether a key combination produces a symbol and announce it (as I was thinking for things like shift+4 $ but clearly can use other keys in different language layouts)?

[2016-12-08 08:58] jcsteh commented on #6621
there are a few reasons I'm not sure  we can/should do this:

1. In some languages, it's not possible to determine a character from one keystroke. There are "dead keys" where the first key does nothing and the second produces a character different to that which would be produced if the first weren't pressed. I'm not sure this will work unless we allow the first character to be passed to the system

[2016-12-08 09:02] feerrenrut commented on #6625
While using a recent next build of NVDA (version `next-13749,4be7ee9e`).

In Chrome (Version `54.0.2840.99`) and Firefox (Version 50.0.2) for the first few edit fields I seem to get the expected behaviour. I can press enter to enter focus mode.

However for the "choose a provider" edit field (however there are a few labeled this way) I get the same behaviour you describe. This seems to only happen

[2016-12-08 09:40] feerrenrut commented on #6624
I think this is probably quite a bit of work, I have assigned it a priority 3 for now. @Qchristensen does this sound ok to you?

[2016-12-08 09:51] Qchristensen commented on #6624
That's fair enough, thanks!

[2016-12-08 10:06] feerrenrut commented on #6621
It might be worth exploring the use case for this feature a little more. I interpreted the use case to be something like "As a computer user who is unfamiliar with the keyboard layout I would like to be able to explore the keys on the keyboard so that I can discover what various key combinations output". Sighted users can see the markings on the keyboard to work out what certain keys do, however w

[2016-12-08 10:18] leonardder commented on #6134
Would it be possible to add these objects to the elements lists while on this? It would be a nice addition if we could list embedded objects, for example.

[2016-12-08 10:27] Qchristensen commented on #6621
Reef, that was essentially the use case I had in mind.  I must admit I hadn't thought of the various ways different language keyboards produce symbols aside from shift+key.

I wonder then, following on from that, on the Slovenian keyboard, is there any visual representation that control+alt+v inputs a @ symbol?  Now that I think about it, I do recall seeing at least one non-English keyboard which

[2016-12-08 10:42] feerrenrut commented on #6621
Well in that case I think we understand what we want. It does seem like there are a few things to watch out for, but if we keep the use case in mind then application or OS specific functionality can be ignored. We are only trying to allow a user to explore what keys their keyboard can type. Handling multiple keystrokes will be harder, but perhaps we can defer support for that.

I'll set this as a

[2016-12-08 10:46] feerrenrut commented on #6159
@michaelDCurran It looks like this is already in progress. I'm going to set this to priority 2 to finish if off.

[2016-12-08 10:47] feerrenrut commented on #6616
Thanks @andrew-l-d  this has been fixed in #6630

[2016-12-08 10:47] #6616 closed

[2016-12-08 12:53] mohdshara commented on #3729
I think this should be closed as a duplicate of #2990?

[2016-12-08 13:44] leonardder commented on #588
@feerrenrut: Would you be able to give this a priority?

[2016-12-09 02:56] #3729 closed

[2016-12-09 02:58] #6576 closed

[2016-12-09 08:18] feerrenrut commented on #6579
I haven't been able to reproduce the crash on my machine.
- I renamed the example so it had a `py` extension and ran it with `pythonw`
- When pressing `ctrl+F4` repeatedly I do get an error, but not a crash in the application.

Error from log:

[2016-12-09 11:46] fernando-jose-silva opened #6632 "Error reading message in outlook 2016"
Hello everyone.
I'm hearing a sound of errors while reading some messages in Outlook 2016 using the nvda next 13751.
The error occurs only in some messages.
Follow the log below.
Another note is that in a nvda build that was previously using rc 13741 it was not getting this error.
The office is 32bits running on windows 64bits 10.0.14393.
I'll also attach the Outlook message.

Speaking [u'Mensagem

[2016-12-09 16:21] josephsl commented on #6632
A regression due to section announcement in Word.

One thing to note is that this happens if reading plain text messages, not HTML.
Thanks.

[2016-12-12 01:21] jcsteh commented on #6159
I'm working on a completely new driver for this, as the existing approach
had some limitations (such as not being able to access boosted rates
fully). I'll self-assign this.

[2016-12-12 02:05] jcsteh commented on #6625
The problem here is that the Choose a provider label is actually focusable and it throws focus to the edit field when it gets focus. The label shouldn't be focusable, nor should it throw focus somewhere else. Poor authoring notwithstanding, this is becoming more common (there are a few issues about this already) and we're going to need to deal with it somehow. This should get fixed as part of #203

[2016-12-12 02:05] #6625 closed

[2016-12-12 04:14] feerrenrut commented on #6599
I haven't been able to reproduce this issue while using nvda with Windows 10 Version 1607 build 14393.447. I have tried setting my scaling to 175%, lowering my screen resolution to 800x600, enabling high contrast themes in various combinations.

@k-kolev1985 What version of Windows are you using? Could you please describe the display settings you have (screen resolution, size of text / scaling per

[2016-12-12 08:35] k-kolev1985 commented on #6599
Hi Reef,

Test environment:
- Operating system: Windows 10 Pro (build 14393.479), 64-bit, in Bulgarian with all locale settings set to "Bulgarian".
- NVDA version: next-13751,e720db12, but I can reproduce it with a temporary copy of 2016.4RC1 as well.
- Desktop resolution: 1920x1080.
- Theme used: "High-Contrast Black", though I can reproduce it with the "Windows" one as well (and probably with al

[2016-12-12 09:37] feerrenrut commented on #6599
Thanks @k-kolev1985 I needed to install and set the system language to reproduce this.

When Bulgarian system language is installed there must be a wider selection of fonts available, and this line of text is in a slightly different font.

Technical:
This newer font seems to be chosen when `wx.DECORATIVE` is used.

[2016-12-12 09:54] feerrenrut commented on #6614
I can see the value in looking into this, however I think it could be quite a big project. I would be interested to see something hacked together as a prototype to explore what issues we may run into. For instance running multiple copies of the driver as mentioned by @bramd. I will set this to a priority 3.

[2016-12-12 11:36] vgjh2005 commented on #6443
Hi:
I agree that these images don't waste our more time. But now we don't know there are there. So I feel that streamlining them is better way. For example,add a number for them.
Thanks!

[2016-12-12 12:38] jndiaz commented on #6627
Thanks, that's exactly what i'm getting.

I forgot to mention that I tested this in FireFox version `50.0.2` and using NVDA `2016.3`.

[2016-12-12 13:26] derekriemer opened #6634 "Inconsistant behavior in document formatting."
1. Press alt+t.
Expected: you land on the table reporting command.
Actual: You land on the checkbox, and it toggles. To make things worse, NVDA doesn't pretend that this box used to be checked/unchecked and has changed.

now:
Press alt+m, and repeat multiple times.
The confusion comes from the fact that if there's only one possible accelerator key, we are toggling this item, not ignoring it. This

[2016-12-12 14:45] leonardder commented on #6634
Is this really inconsistent? It is quite normal behaviour that an
accelerator key toggles a check box or activates a button, and that it
doesn't do that when there are more items with the same accelerator. The
opposite would be inconsistent IMO.

[2016-12-12 23:59] Qchristensen opened #6635 "NVDA does not recognise that current cell has changed if done with mouse"
In Excel, if the focus is moved from one cell to another by clicking with the mouse, NVDA does not recognise that the current cell has changed.

For instance, if the focus is in B2, and I click in C3, NVDA may report items on mouse over if that setting is on, but does not report anything when I click in a cell.  If I then read with NVDA+up arrow, the contents of B2 is read.  Similarly, if I set he

[2016-12-13 02:50] feerrenrut commented on #6579
@tspivey Could you please zip and attach a dump file for this crash?
Please could you also provide your Windows build version?
What version of wxPython are you running against?
Thanks.

[2016-12-13 03:40] ghost opened #6636 "Crazy random cursor/caret jumping when using MS Speech API/Platform Synthesizer without output device"
1. On Windows, go to Control Panel, open "Sound" setting dialog -> Disable all playback devices
1.1. In Windows 10,  "Speakers" will be disabled as "Not plugged in" when earphone unplugged
2. Open NVDA's "Preferences > Synthesizer"
2.1. "Synthesizer" is "Microsoft Speech API" or "Microsoft Speech Platform"
2.2.  "Output device" - The drop down list is empty

Using focus highlight addon or speech v

[2016-12-13 03:40] tspivey commented on #6579
Here is a minidump, generated with `.dump /m test.dmp`.
Windows 10 Version 1607 (OS Build 14393.447)
I just reinstalled Python and Wx to test.
Python 2.7.12, wxPython-Phoenix==3.0.3.dev2747+22cbbb8
[test_dump.zip](https://github.com/nvaccess/nvda/files/647944/test_dump.zip)

[2016-12-13 07:30] feerrenrut opened #6637 "Refreshing in log viewer results in assertions"
When the log menu is accessed and refresh is chosen a debug warning showing an assertion failure and stack is present in the log. The assertion seems to be missing the message.

[logviewer-assert-nvda.log.txt](https://github.com/nvaccess/nvda/files/648214/logviewer-assert-nvda.log.txt)

[2016-12-13 08:07] michaelDCurran commented on #6637
Oh dear.

This looks like we're no longer using our custom build of wxPython. The
standard build had a bug where filename was used instead of the message.
I patched that in our custom build.

Perhaps miscDeps has gotten confused... I shall look into this.

In my copy of 2016.4rc1 producing another assert I know did have a
message, that is also missing now.

[2016-12-13 08:49] michaelDCurran commented on #6637
Oh dear. It looks like although the custom wxPython got into 2016.3, it
was then dropped out of master in commit
03e1de94a0dfd6b40530c496c84208e103369215 (September 19), pr #6268.

In pr 6268, miscDeps was updated to commit
c1f4f7df89be9e1499e5175baae55b14f483ed94.

However, its parent was 792a25485cc0029b4160779a161d8802f75d888a (April
29), but it should have been 66534082b60d4266d9352f7462953213

[2016-12-13 09:00] feerrenrut commented on #6635
I think this is not so different from the current situation with MS Word? In MS Word when you move the caret by clicking in a new location, you then must use the keyboard to have the letter reported.

[2016-12-13 09:08] comanna commented on #6635
Where can I find eTI Eloquence and how can I instal it in NVDA?

All the best,

Cearbhall

m +353 (0)833323487 Ph: _353 (0)1-2864623 e: cearbhall.omeadhra@blbc.ie

[2016-12-13 09:09] Qchristensen commented on #6635
In Word though, even though it doesn't announce anything as you click, if
you press NVDA+up arrow / NVDA+l, it does read the correct line (where the
caret NOW is.  In Excel, if you click in a new cell with the mouse and
press NVDA+up arrow / NVDA+l, it reads the OLD cell, which is confusing,
assuming you are deliberately using the mouse.

[2016-12-13 09:20] feerrenrut commented on #6636
This seems like something that should be fixed.

However @hkdennis2k, first it would be good to know what your use case is?

For your (or anyone else looking at this issue) benefit there are some other workarounds if the main requirement is just to use NVDA with no sound output:
- Choosing "no speech" as the synthesizer should achieve this.
- Alternatively when starting nvda you can press `NVDA +

[2016-12-13 09:22] derekriemer commented on #6540
And now I can't even find this pop out menu in my system tray.

[2016-12-13 09:22] feerrenrut commented on #6635
Ah thanks @Qchristensen, I understand now. This seems like it should be a priority 3.

[2016-12-13 11:37] jcsteh commented on #6637
Uh oh. That will possibly qualify for an rc3. We shouldn't need to bake it too long, though, since it's already in 2016.3 and has thus already had wide exposure.

[2016-12-13 12:39] jcsteh commented on #6634
This is standard behaviour for accelerators. This is not just check boxes: consider menu items, for example. You can argue that we shouldn't ever double up on accelerators to be consistent, but that's an unfortunate reality with a relatively small alphabet. We try not to double up for the options we believe users most commonly use, but that's the best we can do.

I'm closing this as won't fix. If

[2016-12-13 12:39] #6634 closed

[2016-12-13 21:59] michelhebert opened #6639 "IE11 tabindex="-1" announces "Edit" on non-editable elements"
In IE11 (firefox does not have this issue), I'm running into an issue where elements with tabindex="-1" are announced as "Edit".  The reason I use tabindex="-1" is to programmatically focus an element (such as skip links).

I searched the issues list, and did not find this already submitted.

Thanks!

[2016-12-14 01:57] Qchristensen opened #6640 "The "Dropbox badge" interferes with using Office 2007 and later documents stored on dropbox"
When using the desktop app for Dropbox - see https://www.dropbox.com/ - a recent feature called "Dropbox badge" is designed to allow easy collaboration with other users when working with files stored in your dropbox folder.

What is happening is that when you open a file from your Dropbox folder, Dropbox pops up an invisible window - with a small badge on the right hand side to access dropbox feat

[2016-12-14 02:29] hkdennis2k commented on #6636
No. I don't have a real end user use case.
I am a developer who test and develop web application. We aimed to make it accessible to total blind users and to compatible with NVDA.

I believe most of the real end-user will not having trouble with this issue (any idea of braille display user?)

As far as I could remember, it happens after I've switch to MS Synthesizer (which has better audio quality)

[2016-12-14 06:31] michaelDCurran opened #6641 "custom wxPython accidentally dropped from NVDA master"
It looks like although the custom wxPython got into 2016.3, it
was then dropped out of master in commit
 03e1de9  (September 19), pr #6268.

In pr #6268, miscDeps was updated to commit
c1f4f7df89be9e1499e5175baae55b14f483ed94.

However, its parent was 792a25485cc0029b4160779a161d8802f75d888a (April
29), but it should have been 66534082b60d4266d9352f7462953213eb05156a
(July 17).

[2016-12-14 11:39] feerrenrut commented on #6636
@hkdennis2k While it may not be the primary use case for NVDA, it's certainly a valid use case to use NVDA for accessibility testing. I think it would be handy if speechviewer gave some indication of warning/error sounds or other audiocons. Perhaps an indication of the mode that NVDA is in as well.

[2016-12-15 01:23] derekriemer opened #6643 "Allow moving to form fields in MS word."
Hi:
It would be useful to be able to move to form fields in word with browse mode.
For example, if pressing f in a large set of data, I should move to the next edit field or checkbox ...

[2016-12-15 05:00] derekriemer opened #6644 "Moving an object over an image with no alt-text breaks in powerpoint"
1. open powerpoint. create a slide, put test in the title.
2. take a screen shot by pressing print screen.
3. paste it into powerpoint on the slide you are on.
4. Go to the title, and move it.

* Expected:
    "behind left of unlabelled Image by 926 points, behind top of unlabelled image by 151 points, behind right of unlabelled image by 926 points, behind bottom of unlabelled image by 529 points,

[2016-12-15 05:01] derekriemer commented on #6644
There was a issue with me pasting that from speech viewer there, but I think you get the point.

[2016-12-15 06:43] jcsteh commented on #6636
I'm guessing we have an unhandled exception here which is breaking things. Can you please provide a log file capturing this issue with log level set to debug? See [Log Files and Crash Dumps](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) for details on how to do this.

[2016-12-15 08:50] feerrenrut commented on #6643
Related PR #6131

[2016-12-15 09:01] hkdennis2k commented on #6636
@jcsteh
https://gist.github.com/hkdennis2k/5dee77e3a7491c8613b9009291fa4f46

[2016-12-15 09:21] feerrenrut commented on #6639
Thanks for reporting this @michelhebert . I haven't been able to reproduce this. Could you provide a minimal standalone html file that reproduces this issue?

[2016-12-15 09:24] feerrenrut commented on #6627
I think we should look into this more closely to understand what is going on here. Assigning this a priority 2.

[2016-12-15 09:56] feerrenrut commented on #6620
@michaelDCurran Any thoughts on this? For now I will set this to a priority 3.

[2016-12-15 10:02] feerrenrut commented on #6613
It sounds like this one might be an easy win. Setting as a priority 2.

[2016-12-15 18:13] michelhebert commented on #6639
Sure. I should have provided an example from the beginning.

Test examples: https://jsfiddle.net/63Lrk2bv/7/
NVDA version: 2016.3
IE version: 11 (11.0.9600.18524)

The tests are set up to test focusing elements with tabindex="-1" programmatically on:
- `<h1>`
- `<div>` with `role="heading"` and `aria-level="2"`
- `<div>` with no semantics (no ARIA attributes to define it)
- `<p>`
- `<div>` with `r

[2016-12-16 02:09] feerrenrut commented on #6482
Seems like all the p2 parts of this have been done. I'll remove the p2 label now.

[2016-12-16 03:17] michaelDCurran commented on #6482
@jcsteh: would #6641 / #6642 affect some of your findings at all? I.e.
you may have been unknowingly testing with the wrong wxPython pyds.

[2016-12-16 03:59] jcsteh commented on #6482
Oh bleh. Yeah, that's entirely possible. I'll probably need to re-test all of this.

[2016-12-16 04:19] jcsteh commented on #6482
Yup. It seems I was indeed using the wrong pyds. Here's info from the correct wx._core_.pyd:

[2016-12-16 04:33] jcsteh commented on #6482
* So we now know that the pyds actually *do* have debug info; we were just using the wrong ones. That means we don't need to re-build wxPython.
* We're also [reasonably certain that we do need the pyd/dll files on the symbol server anyway](https://github.com/nvaccess/nvda/issues/6482#issuecomment-256006826).
* The pyds on the server are the old pyds without debug info. We need these for 2016.4 and

[2016-12-16 05:02] jcsteh opened #6646 "Upload NVDA symbols to Mozilla crash-stats"
We want to upload NVDA symbols to Mozilla crash-stats so that Mozilla crash reports have useful info if a crash occurs somewhere in our in-process code. This will make debugging such crashes a great deal easier, since we might not have to reproduce it ourselves and/or get a crash dump.

* We can make this part of our AppVeyor builds.
* We already have an account for sysadmin@nvaccess.org on crash-

[2016-12-16 05:14] feerrenrut commented on #6593
There seems to be different behaviour between standard windows builds and the insider program build. In the standard Windows build the list takes up most of the width of the dialog. The insider build is as described in this issue. On the windows insider build the list in the symbols list dialog is fine, so if this behaviour makes its way into the standard windows build we have a quick way to addre

[2016-12-16 05:15] feerrenrut commented on #6593
For now I propose we leave this issue on hold.

[2016-12-16 06:56] derekriemer commented on #6646
Don't forget wx symbols :-)

On 12/15/2016 10:02 PM, James Teh wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors portfolio <http://derekriemer.com>

[2016-12-16 09:13] feerrenrut commented on #6639
Thanks @michelhebert for the example. While this isn't ideal behaviour, the severity for the end user is low. I think we need to investigate a little in order to get a feel for the cost to fix this. I'll give this a priority 2 to this then re-prioritise if appropriate.

[2016-12-16 09:47] feerrenrut opened #6647 "Give indication of NVDA errors and other audiocons in speechviewer"
This would be useful speech viewer users. Being able to detect an error when there is no sound allows more flexibility in the way NVDA is used and displaying the mode that NVDA is in could also be quite helpful.

[2016-12-16 09:48] feerrenrut commented on #6636
Thanks @hkdennis2k. Extracted error from the log:

Log from NVDA version 2016.3.

We should try to improve the stability of this. I will split off the speech viewer improvements into a new issue see #6647

[2016-12-16 12:38] jcsteh commented on #6646
On the contrary, wx symbols are irrelevant here. We don't inject wx into any process (including Firefox), so a Firefox crash involving NVDA will never reference wx symbols.

[2016-12-17 08:57] MichelSuch opened #6648 ""Reset configuration to factory defaults" would need a confirmation dialog."
When in the NVDA menu, some user sometimes incidentally press the R key (or its equivalent key in other languages) whici resets NVDA to factory defaults.
Some are not able to reconfigure NVDA by themselves, and, in any case, it can take some times to get back to the wanted configuration.
So, it would be nice if this reset function could have a confirmation dialog when the key is pressed.

[2016-12-17 09:17] leonardder commented on #6648
NOTE that one can always go back to the saved configuration after a reset, since the reset configuration will only be saved after a quit of NVDA or an explicit save. That said, I agree a confirmation window would be helpful. I can send in a pr for this if core devs desire so.

N.B. Sent on behalf of @BabbageCom

[2016-12-17 11:12] Brian1Gaff commented on #6648
If you followed the way windows system restore worked you would need to have
a way back to the saved most recent config as well of course. the question
is, how far down the road do you want this to go. Its a bit like the undo
function in an editor, how far do you go?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Ga

[2016-12-17 11:32] MichelSuch commented on #6648
I think a simple dialog like:

Do you really want to get back to factory settings ?

OK

Cancel

would be enough.

Just to inform unexperimented users about what they have done.

                     Michel SUCH

michel.such@free.fr
Skype : michel.such
Twitter : @SuchMichel

Le 17/12/2016 à 12:12, Brian1Gaff a écrit :

[2016-12-17 15:55] bflora2 opened #6649 "Issue with numbered lists in WordPad"
I am using NVDA 2016.4 and I notice that NVDA does not identify numbering in numbered lists, or bullets in bulleted paragraphs, when arrowing through text in the WordPad word processor. I have enabled the "lists" setting in document formatting preferences. Is this an issue with NVDA, or is it due to some limitation within WordPad?

Also, I noticed the new feature to identify indentation levels wor

[2016-12-17 23:27] dawidpieper opened #6650 "NVDA 2016.4 and problem with menu bars"
Sometimes, rarely, but, nevertheless, when we exit a window from the menu and the window will disappear when we're in menu bar, the NVDA hangs up. It reacts on commands sent by screenreaderapi and keycommands like NVDA+F12, however it doesn't read any opened windows. System works properly, restart of NVDA helps. I noticed this problem on Windows 7 Pro X64, SP1, in the window of Windows Mail and, t

[2016-12-18 13:06] Brian1Gaff commented on #6650
Are you sure this is a new issue? I have had the odd funny with non reading
menu  pull downs in Goldwave for some versions now, and eventually put the
issue down to goldwave not nvda as restarting the application cured it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original

[2016-12-18 22:53] jcsteh commented on #6648
The problem here is that sometimes, users need to use this (generally via a
triple press of NVDA+control+r) to recover from a situation where they've
changed configuration such that speech or braille (whichever is their
primary output method) is unusable. If we force a dialog on the user in
order to proceed, they may simply not be able to recover, since they can't
read the dialog. As noted earlier

[2016-12-19 02:09] feerrenrut commented on #6648
Perhaps we could display a dialog after the reset.  Informing users of what happened and how to revert to the previously saved configuration.

[2016-12-19 02:10] derekriemer commented on #6648
We could restore to defaults and then show a dialog with undo and okay
buttons.

On 12/18/2016 3:53 PM, James Teh wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

W

[2016-12-19 02:11] derekriemer commented on #6648
I read Reefs mind literally at the same time he read mine.

On 12/18/2016 7:09 PM, Reef Turner wrote:

--
------------------------------------------------------------------------

    Derek Riemer

  * Department of computer science, third year undergraduate student.
  * Proud user of the NVDA screen reader.
  * Open source enthusiast.
  * Member of Bridge Cu
  * Avid skiier.

Websites:
Honors por

[2016-12-19 02:34] feerrenrut commented on #6649
Historically these formatting options (bullets, numbered lists) have not been available in NVDA due to technical limitations. However now this is feasible, but the work to achieve this needs to be prioritised against other open issues.

In terms of identifying the indentation levels this was an intentional design decision. We have tried to differentiate between line indentation (tab or space chara

[2016-12-19 02:39] feerrenrut commented on #6649
I'll give this a priority 3 to implement identifying bullets and numbered list items.

[2016-12-19 04:28] bflora2 commented on #6649
Thank you, Reef! I noticed that NVDA also seems to handle numbering in outlines by stating something like "Item 3 at level 2", or something like that. Given that outlines can be created in WordPad via nested lists (and more easily in the Jarte word processor which is based on the WordPad word processing engine), I'm hoping that NVDA capability can be extended to WordPad as well. Be even just suppo

[2016-12-19 06:26] MichelSuch commented on #6648
Yes, this looks good.

                     Michel SUCH

michel.such@free.fr
Skype : michel.such
Twitter : @SuchMichel

Le 19/12/2016 à 03:10, derekriemer a écrit :

[2016-12-19 07:30] Neurrone opened #6651 "NVDA freezes causing keyboard commands to stop working properly"
This started happening about a week ago. A few mins after NVDA starts up, it freezes periodically when I type or do something. A few seconds later, it echos all the keys that I typed. After this happens, NVDA keyboard commands no longer work properly. E.g, pressing NVDA+N causes NVDA to announce n or capital n instead of opening the menu. I'm on win10 1607, master snapshot branch

[2016-12-19 08:35] jmuheim commented on #6582
Just downloaded 2016.4, but couldn't find a way to make Speech Viewer re-opening at the previous position. Is there an option I have to activate?

[2016-12-19 09:11] Brian1Gaff commented on #6651
Are you sure this is not windows doing this? I've noticed on slower machines
that this weird behaviour occurs while its looking at or downloading updates
from Microsoft. However not seen the  effect where keyboard commands fail
unless Explorer crashes, which often stops shortcuts from working on all
versions of Windows.
 Another strange thing in 7 and 10 is that when typing into the save as
dialog

[2016-12-19 09:43] Neurrone commented on #6651
NVDA was working just fine for me for several months, so its probably not my machine being too slow. It always works again when I restart NVDA, and I've never noticed this happening with jaws.

[2016-12-19 09:46] Neurrone commented on #6651
Is there any debug mode setting or something I can turn on to see if I can get more info about this problem when it occurs?

[2016-12-19 09:56] derekriemer opened #6652 "If a column or row is marked as hidden, skip past it when table navigating."
This URI demonstrates the issue.
[code]

Firefox:
NVDA reports the edge of the table if you try to move past row 1, and jumps out of the table at column 3. It jumps back in at col 4, but moving left jumps out at col 3, and you can't try to table navigate again.

Chrome:
Both column and row report "edge of table" when they should skip hidden columns.

[2016-12-19 10:39] feerrenrut commented on #6582
No, there is no option that must be enabled to get this behaviour. The speech viewer should attempt to open with the same dimensions and at the same location. The option to automatically open when NVDA starts is at the bottom of the speech viewer window.

The speech viewer is not able to open in the same location if the number of screens, or the screen resolution has changed since the last time it