[2019-11-14 17:19] ehollig commented on #9487
According to @nishimotz in https://github.com/nvaccess/nvda/issues/9487#issuecomment-545707551 this can no longer be reproduced. Closing this issue.

[2019-11-14 17:19] #9487 closed

[2019-11-14 17:28] ehollig commented on #8386
I recommend bring up questions like these on the [NVDA Gitter](https://gitter.im/nvaccess/NVDA) or on  the [NVDA Screen Reader Development nvda-devel@groups.io](https://groups.io/g/nvda-devel) mailing list. As there has not been discussion here, I am going to close this issue and advise @beqabeqa473 to reach out using one of the channels above.

[2019-11-14 17:28] #8386 closed

[2019-11-14 17:37] ehollig commented on #6279
Related to #7905

[2019-11-14 17:43] ehollig commented on #6208
@michaelDCurran @feerrenrut @leonardder is there any interest in creating a feature request like this? I am leaning toward closing

[2019-11-14 18:16] ehollig commented on #6765
Closing as we have not heard from @derekriemer on confirmation of this issue. As @Adriani90 is not able to reproduce this issue, closing

[2019-11-14 18:16] #6765 closed

[2019-11-14 18:19] leonardder commented on #10491
Hmm. I don't think this could be caused by #10393. #10393 only makes comtypes log errors in the NVDA log, it does not change anything related to the behavior of the UIA handler. Without #10393, these errors are still there, they are simply not logged.

[2019-11-14 19:36] francipvb commented on #10481
Hello,

I saw this too. This may be caused by latest fFirefox update, not NVDA.

Cheers,

[2019-11-14 19:42] Cleversn commented on #10481
Thanks for confirming. Today I tested on Internet Explorer, and in fact, the problem doesn't occur there.

[2019-11-14 19:47] francipvb commented on #6291
Hello,

Run this in a CMD or a PowerShell session. Note that you need to have python 3 installed with the launcher.

[code]

Cheers,

[2019-11-14 19:50] francipvb commented on #10406
Hello,

Try this, I've posted also to #6291.

Run this in a CMD or a PowerShell session. Note that you need to have python 3 installed with the launcher.

[code]

Cheers,

[2019-11-14 23:56] Qchristensen commented on #7041
Which custom module are you using @Robert-J-H?

[2019-11-15 10:29] Andre9642 commented on #10406
Or more simply (in pure-batch):

`@for /l %x in (1, 1, 100000000) do @echo %x`

Cmd crashes around 9100 for me.
This bug is critical for me. In this case it does not matter, but during compilations it's very annoying. So I don't use UIA for Windows Console support in production environment. For this reason and other bugs, I consider UIA still in alpha Stage.

[2019-11-15 17:21] nvdaes commented on #957
A question related to this issue has been asked in an NVDA's spanish mailing list. We will be grateful if you can check this again or if you could accept a pull request. My suggestion is to add the following commands:
- control+alt+home: move to the first cell of the current row.
- control+alt+end: move to the last cell of the current row.
- control+alt+repag: move to the first cell of the current

[2019-11-16 10:52] lukaszgo1 commented on #10406
I can reproduce this with @Andre9642 's test case on my 1903 VM. @codeofdusk Are you planning to work on this? It is certainly worse that #6291 because terminal crashes completely, so it prevents users from completing whatever they were doing.

[2019-11-16 17:33] lukaszgo1 commented on #9689
I can no longer reproduce this with latest alpha on a vm running Windows 10 1903. @leonardder Is this fixed for you?

[2019-11-17 20:28] codeofdusk commented on #10406
I'm now able to reproduce this, seems to be caused by 9fbd6b49015eba744dc2294642d96c481194930d.

[2019-11-17 21:36] Qchristensen opened #10495 "Update Section 13.1 and 13.5 of the User Guide to reflect Windows OneCore as default synthesizer in Windows 10"
### Steps to reproduce:
Open User Guide section 13.1: https://www.nvaccess.org/files/nvda/documentation/userGuide.html#eSpeakNG

### Actual behavior:

Section 13.1 reads: "13.1. eSpeak NG
The eSpeak NG synthesizer is built directly into NVDA and does not require any other special drivers or components to be installed. NVDA starts using eSpeak NG by default. As this synthesizer is built into NVDA,

[2019-11-17 22:21] josephsl commented on #10495
Hi, been meaning to look for a motivation to work on docs19.3 pass 2 to address this and what’s new changes. I’ll get on it in a few minutes. Thanks.

From: Quentin Christensen <notifications@github.com>
Sent: Sunday, November 17, 2019 1:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Update Section 13.1 and 13.5 of the User

[2019-11-17 22:46] josephsl opened #10496 "User guide: remove Audiologic section"
### Is your feature request related to a problem? Please describe.
Building on top of #10495: NVDA removed Audiologic synthesizer support in 2019.3. Thus remove this from the user guide.

### Describe the solution you'd like
Remove Audiologic section (13.6) from the user guide.

### Describe alternatives you've considered
Leave it as is.

### Additional context
None

[2019-11-17 23:29] #10495 closed

[2019-11-17 23:29] #10496 closed

[2019-11-18 04:03] Qchristensen commented on #7396
Issue unchanged as at NVDA alpha-19159,cde557d5, Office 365 Version 16.0.12130.20344

I just edited the original subject to remove the ambiguity:

Changed from "Microsoft Word and text decoration: barred  text and highlighted text!" to "Microsoft Word Highlighted text".  As noted in my previous comment, if the original person can clarify what "Barred text" is in a new issue, that can be dealt with

[2019-11-18 04:12] DrSooom commented on #9982
@leonardder: Are you planning to add your fix to NVDA 2019.3?

[2019-11-18 05:49] jcsteh commented on #10480
Urgh. I can reproduce this in Firefox 70. However, the good news is that this is already fixed in Firefox 71 (currently in beta). I'm really sorry about the breakage.

[2019-11-18 05:49] #10480 closed

[2019-11-18 07:47] leonardder commented on #9982
I'm happy to do this, if you consider this issue to be fixed after merging try-initialDisplayFix.

[2019-11-18 07:57] DrSooom commented on #9982
@leonardder: Please read [this comment](https://github.com/nvaccess/nvda/issues/9982#issuecomment-536006356) and [this comment](https://github.com/nvaccess/nvda/issues/9982#issuecomment-537617305).

[2019-11-18 08:03] leonardder commented on #9982
Could you please summarize your relevant findings in around one or two
sentences? This would be very helpful when filing the pr. I understand
that you're pointing at several comments in order to be as complete as
possible, but it makes it very difficult for a potential reviewer to
filter out what's relevant. It should be possible for a reviewer to see
at one glance what this will fix.

[2019-11-18 08:40] #10083 closed

[2019-11-18 08:40] #10095 closed

[2019-11-18 08:40] #5326 closed

[2019-11-18 08:40] #9177 closed

[2019-11-18 08:40] #9485 closed

[2019-11-18 08:52] #10422 closed

[2019-11-18 09:02] DrSooom commented on #9982
### Summary of the issue:
If the braille display auto-detection feature is enabled and large braille table(s) (> 1 MB) are loaded on NVDA startup, the braille table(s) couldn't be completely loaded respectively compiled. Sometimes also the include opcode no longer operates and the braille output keeps blank after NVDA startup unless the braille output was updated (e.g. by opening the NVDA menu). O

[2019-11-18 09:10] leonardder commented on #9982
Great, thank you!

[2019-11-18 09:20] leonardder commented on #10491
I guess the first step would be finding out whether #10393 is the cause.
Though I'm pretty sure this isn't the case, I could be wrong of course.
Proper way would probably be checking the alpha before and after this pr
was merged.

[2019-11-18 14:05] DanilRostov commented on #8023
Still an issue. Tested with NVDA 2019.2

[2019-11-18 14:34] FelixGruetzmacher commented on #8389
I'm excited to test this as soon as it is available in a snapshot. Any news? Also in general regarding this issue?

[2019-11-18 15:07] #971 closed

[2019-11-18 18:38] lukaszgo1 commented on #10296
@leonardder What is the status of your investigation? This has been brought again on NVDA users list hence my question.

[2019-11-18 20:26] leonardder commented on #124
This can now be implemented pretty easily, as we now support quicknav scripts that are unbound by default.

[2019-11-18 20:53] #9982 closed

[2019-11-18 21:16] lukaszgo1 opened #10502 "Errors with latest Alpha during import of Screen curtain on Windows 7"
### Steps to reproduce:
1. Start Latest Alpha on Windows 7. The same error can be reproduced when focusing vision category of settings.
### Actual behavior:
Error sound is played and The following is logged;
ERROR - vision.visionHandler._getProvidersFromFileSystem (22:09:34.114) - MainThread (1192):
Error while importing vision enhancement provider module screenCurtain
Traceback (most recent call

[2019-11-18 21:20] Adriani90 commented on #10488
cc: @ruifontes

[2019-11-18 21:29] Adriani90 commented on #10484
I am not able to reproduce this in NVDA alpha-19159,cde557d5.
Tested in Chrome 78 and Firefox 70. In which browser are you trying? In my case NVDA says "checked" and "not checked" when pressing space bar on the elements.
Please test with last alpha. You can download the alpha version here:
https://www.nvaccess.org/files/nvda/snapshots/

[2019-11-18 21:30] Adriani90 commented on #10483
cc: @lukaszgo1, @leonardder maybe yet another focus issue here?

[2019-11-18 21:32] Adriani90 commented on #10481
cc: @MarcoZehe

[2019-11-18 21:46] Adriani90 commented on #1898
@ehollig, @CyrilleB79 it is not reproducible with step 3 in the description. But if you press ctrl+up arrow after selecting text, it is still reproducible. It seems specific to ctrl+up and down arrow.
cc: @lukaszgo1, @XLTechie

[2019-11-18 21:47] Adriani90 commented on #8952
@HarishTerala see the comment above by @ehollig

[2019-11-18 21:51] Adriani90 commented on #6208
Is automatic say all on page load in NVDA setting / browse mode not working for this purpose?

[2019-11-18 21:56] Adriani90 commented on #957
I would love this feature, especially at work it would help alot. ctrl+alt however is the better option in my opinion because it is very related to ctrl+alt+arrow keys and it is also easy to keep in mind for beginners.

[2019-11-18 21:58] Adriani90 commented on #7396
cc: @mltony we had a short discussion in connection with your browsenav addon on NVDACon this year. Here is a related issue.

[2019-11-19 02:57] XLTechie commented on #1898
@Adriani90 I am unable to replicate this, either with ianr's method, or with your method, under Windows 10 (1903), NVDA 2019.2. Unfortunately, I no longer have Windows 7 machines available. I can test with older NVDA if desired for some reason.

Specifically, for your method, I did the following:

1. In notepad, I entered the following text:
[code]
2. I moved to "line 4".
3. I pressed shift+up arr

[2019-11-19 02:58] DrSooom commented on #10502
I thought that Windows 7 don't get the screen curtain feature due to OS limitations. Only Windows 8.1 and later should get it. Please correct me if I'm wrong.

[2019-11-19 03:24] XLTechie commented on #1898
I commented a few minutes ago, but deleted it. Revised version here.

@Adriani90 I am unable to replicate this, in Notepad, as described in Ianr's method (the original issue).
However, I can replicate both Ianr's problem, and what you describe, under Word 2019 (no UIA).
Win 10 (1903), NVDA 2019.2.1 and 2019.3 latest alpha.

Specifically, for your method, I did the following:

1. In Notepad, and Wo

[2019-11-19 06:52] zstanecic commented on #10502
Yesp, this function is available on win 8 and later

From: Daniel Mayr <notifications@github.com>
Sent: Tuesday, November 19, 2019 3:58 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Errors with latest Alpha during import of Screen curtain on Windows 7 (#10502)

I thought that Windows 7 don't get the screen curtain feature

[2019-11-19 07:58] Brian1Gaff commented on #10502
Yes just ahead of this in this very list was a change to stop profiles
saving lots of stuff  not intended from this functions point of view, I
suspect that the code has broken the windows 7 opt out  part of the routine.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monito

[2019-11-19 08:10] sandeepnmenon commented on #10484
I am trying in Chrome browser.
To be clear, NVDA does read checked/unchecked on the elements.
It is not reading the same only the for the select all button at the top left of the table.

As for the rows it is reading out "space" when pressing space.
I downloaded the NVDA alpha-19159,cde557d5 version and can reproduce the issue.
Please try to reproduce in the codepen shared in the issue

[2019-11-19 09:02] #8952 closed

[2019-11-19 09:37] XLTechie commented on #1898
I vote for renaming to be Word-specific, and leaving open. The original problem
is solved if taken literally, but the systemic problem has not been, and this
issue has all the context. No reason to write it all up again somewhere else.

[2019-11-19 10:07] lukaszgo1 commented on #10491
I've taken slightly different approach, i.e. tried working with build from PR #10397 for an hour, and these errors never occurred. @leonardder Would it be possible to include  #10397 into 2019.3?

[2019-11-19 10:10] HarishTerala opened #10505 "MS Teams: [Chat - Files tab]: NVDA users are not able to navigate to "Share" controls in browse mode under Chat> Files tab"
### Steps to reproduce:
1. Open MS Teams app.
2. Open the one to one chat of a new user (not yet started any chat yet).
3. Navigate to "Files" tab and activate it.
4. Try to navigate to "Share" button in browse mode and activate it.

### Actual behavior:
NVDA users are not able to navigate to "Share" controls, when focus reaches around it NVDA reads as "File action toolbar".

### Expected behavior

[2019-11-19 10:43] jcsteh commented on #7724
I've had to look into this myself, since I need to use Android Studio.

The simple technical solution is for us to ship WindowsAccessBridge-32.dll with NVDA. The problem in the past was that the Oracle binary license prevents this. Now we have OpenJDK (GPL v2), but the problem now is that there are no 32 bit builds of newer versions.

Today, I created a sconstruct to build just the 32 bit Java Acc

[2019-11-19 10:45] jcsteh commented on #9384
Duplicate of #7724.

[2019-11-19 10:45] #9384 closed

[2019-11-19 10:59] HarishTerala opened #10506 "MS Teams: [Meeting]: Unable to navigate to the preview screens in the share panel using up/down keys"
### Steps to reproduce:
1. Open MS Teams.
2. Join a scheduled meeting and enable browse mode.
3. Open share panel and press Tab key to navigate to preview screen under "Windows" section.
4. Press down arrow key on 1st preview screen in "Windows" section and verify the NVDA behavior.

### Actual behavior:
User is not able to navigate to list items in the "Windows" section using arrow keys.

### Exp

[2019-11-19 11:25] feerrenrut commented on #7724
@jcsteh Not that you asked me, but personally I would prefer a separate binary repo. It makes it harder to get in a tangle when updating the dependencies and makes it easier to document the process for creating / updating each of the dependencies. I think it also makes it easier to see what the dependencies are.

[2019-11-19 11:34] jcsteh commented on #7724
Your input is just as welcome and authoritative, @feerrenrut. :) I assumed
Mick might have more history here, which is why I asked him, but that's
probably not true in this case anyway. I'll proceed as you suggest. I feel
weird about lots of little Git repos containing single dll files, but I
also know what you mean about the clarity.

[2019-11-19 12:14] jfayre opened #10508 "NVDA very sluggish when navigating 1password for windows desktop"
### Steps to reproduce:
1. Download the latest windows desktop version of 1password from http://www.1password.com
2. If you don't have a 1password account, sign up for a free trial.
3. Add a few passwords to your vault.
4. Tab to the list of passwords and use the arrow keys to navigate. NVDA will pause for around 1.5-2 seconds as you press the arrow keys to navigate.
JAWS and Narrator don't presen

[2019-11-19 13:19] leonardder commented on #7724
I think it makes sense if you could provide the sconstruct file for reference in the binary repo. though it won't be uset, it might make it much easier to update the build if needed.

[2019-11-19 13:24] feerrenrut commented on #7724
Instead, the readme can just refer to the repo by @jcsteh which has everything necessary: https://github.com/jcsteh/javaAccessBridge32 Perhaps we should have our own fork.

[2019-11-19 13:25] CyrilleB79 opened #10509 "NVDA sometimes loses speech when toggling highlight"
### Steps to reproduce:

* Start the computer. Note: I do not start Zoomtext nor Windows Magnifier.
* Start NVDA (from source)
* Open Vision settings panel
* Tab to the first item 'Enable Highlight'
* Press 'E' key during about 5 seconds; should activate and unactivate 'Enable Highlight' item at very high frequency.
* Press Tab many times to go to next items.

### Actual behavior:

Nothing is hear

[2019-11-19 13:25] CyrilleB79 commented on #10509
Cc @leonardder , @feerrenrut

[2019-11-19 13:30] #10502 closed

[2019-11-19 13:36] mwhapples commented on #7724
There are 32-bit builds of OpenJDK for Windows from Azul Systems https://www.azul.com/downloads/zulu-community/?&os=&os=windows&architecture=x86-32-bit&package=jre

The JRE community build in the above link contains WindowsAccessBridge-32.dll and the Zulu community builds are free to download and use without restrictions.

Seems like here is the binary which needs to be bundled with suitable licen

[2019-11-19 14:07] stanislavhacker opened #10510 ""aria-live" is not read if we use portable version"
### Steps to reproduce:
Start nvda as portable
Open chrome 78
Go to: http://accessibility.athena-ict.com/aria/examples/live3.shtml
Try "set alert" with 10s option

### Actual behavior:
After alert show, nvda nothing read

### Expected behavior:
After alert show, nvda read this text in alert

### System configuration
#### NVDA installed/portable/running from source: _Portable version of nvda_

####

[2019-11-19 14:34] leonardder commented on #10509
Ugh, this probably has to do with the highlighter thread not being
killed correctly. I will try to come up with a fix tomorrow.

[2019-11-19 16:46] ehollig commented on #10450
As noted by @jcsteh in https://github.com/nvaccess/nvda/issues/2497#issuecomment-228218468

CC @MarcoZehe
Closing

[2019-11-19 17:04] ehollig commented on #7126
Just a friendly reminder for @josephsl to reply to @Adriani90 comment in https://github.com/nvaccess/nvda/issues/7126#issuecomment-485556004
Can this issue be closed?

[2019-11-19 17:09] josephsl commented on #7126
Hi, I advise closing this one, as Skype was improved by Microsoft in recent releases. Thanks for reminding me about this.

From: Ethan Holliger <notifications@github.com>
Sent: Tuesday, November 19, 2019 9:05 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add support for universal app vers

[2019-11-19 17:13] ehollig commented on #10506
Have you tried navigating the list in focus mode? Some things in MS Teams do not work properly in browse mode

[2019-11-19 17:18] ehollig commented on #10505
I am able to activate the share control in focus mode. Once activating the files tab, either in browse or focus mode, tab to the share control and press enter. NVDA reads, "Share, share files  1 of 1". It then brings up a menu allowing you to upload from OneDrive, and pressing down arrow will allow you to upload from your computer.

[2019-11-19 17:24] ehollig commented on #10481
This does not occur in Chrome either. CC @jcsteh

[2019-11-19 17:27] #7126 closed

[2019-11-19 17:34] Adriani90 commented on #1898
@CyrilleB79 I see the point. I do not have enough sight to see if the selection was removed in notepad. I thought it was but now I understand. To avoid confusions, could you please open a new issue specific to MS word including the visual aspects of this? Honnestly I lean towars closing this one to avoid off topic comments.

[2019-11-19 17:35] JulienCochuyt commented on #10450
@ehollig shouldn't we leave this issue open to later check, once the issue gets fixed in Firefox, that  NVDA integrates correctly with it?

[2019-11-19 17:38] Adriani90 commented on #10484
Ok I confirm I can reproduce this issue only for the checkbox "select all items" in Chrome as well as in Firefox: CC: @jcsteh.

[2019-11-19 18:07] ehollig commented on #4247
Now that [Mozilla Bug 982125](https://bugzilla.mozilla.org/show_bug.cgi?id=982125) and #4877 is resolved, this may  be possible, in Firefox at least.

[2019-11-19 18:25] ehollig commented on #10450
Marking as needsExternalFix

[2019-11-19 19:52] mltony commented on #7396
@Adriani90
I thought about this again, and it looks like I won't be able to implement this from within BrowserNav after all, since BrowserNav operates on paragraphs, while smaller than paragraph parts of text can be highlighted.
Therefore, if we'd want to implement "jump to next highlighted text" features, it would need to analyze all the characters one by one, which would be way too slow. Unless

[2019-11-19 21:27] mltony commented on #957
I implemented this feature in Tony's enhancements add-on:
https://github.com/mltony/nvda-tonys-enhancements
It can be easily integrated into NVDA if someone wants to work on that PR.

[2019-11-19 21:55] PratikP1 opened #10511 "A noticeable delay while arrowing through 1 Password's list view with NVDA"
### Steps to reproduce:
1. Open 1 Password
2. Select your vault and tab to the list of items in your vault. (Choose category as necessary.)
3. Tab to the list of items in the vault.
4. Use your up and down arrow keys to navigate through the list items.

Note that the behavior occurs with or without add-ons running.

### Actual behavior:
Navigation is slow. There is a noticeable delay after pressin

[2019-11-19 22:04] Adriani90 commented on #10511
Closing as duplicate of #10508.

[2019-11-19 22:04] #10511 closed

[2019-11-19 22:17] #10491 closed

[2019-11-19 22:50] jcsteh commented on #10450
I tend to do this for some issues where the fix might be unclear or obscure. In this case, though, the fix will either work or it won't, and I'll be testing it against NVDA anyway, so I don't see any need to track this here.

[2019-11-19 23:04] jcsteh commented on #10481
Confirmed. Occurs in Firefox 70, but is fixed in Firefox 71, currently in beta. Sorry for the breakage.

[2019-11-19 23:04] #10481 closed

[2019-11-19 23:20] jcsteh commented on #7724
@mwhapples: sorry, I seem to have missed the significance of your comment. I probably saw it briefly, but wasn't sure about the licensing or similar at the time. (Being able to download and use it as a whole without restrictions is very different to pulling part of it out and bundling it with something else, which is the problem we've had in the past with the JAB. We really don't want users to hav

[2019-11-19 23:24] jcsteh commented on #7724
Scrap that; this build is only 40 mb. Not sure why the official OpenJDK builds are so much larger.

[2019-11-19 23:30] codeofdusk commented on #10406
I can open a PR to revert 9fbd6b4, which should resolve this issue, but will make auto-read unreliable in situations when the visible ranges cannot be trusted (see #9957). Thoughts? Cc @feerrenrut @leonardder @michaelDCurran @lukaszgo1 @francipvb

[2019-11-19 23:33] codeofdusk commented on #10406
Reverting the aforementioned commit would not break text review in these situations, and in theory increases performance (we're only diffing the visible text, not all the text).

[2019-11-19 23:42] TylerK93 commented on #9032
I have a similar problem, and it just started today. Here's what shows up in my NVDA log when I set the logging level to DebugWarning:

ERROR - RPC process 17940 (nvda_slave.exe) (17:35:12.058):
__main__.main:
slave error
Traceback (most recent call last):
  File "nvda_slave.pyw", line 93, in main
  File "comHelper.pyo", line 22, in _lresultFromGetActiveObject
  File "comtypes\client\__init__.pyo"

[2019-11-19 23:47] PratikP1 commented on #9032
Ditto. This started for me again. I had the first crash this morning followed by another crash a few hours ago. I didn’t have the time to trace it.

[2019-11-19 23:51] michaelDCurran commented on #10406
Yes, I think that 9fbd6b4 should be reverted.

We certainly only want to be diffing  25 lines or so, rather than a
possible 300 or more.

[2019-11-20 00:07] JasonYeMSFT opened #10512 "aria-labelledby element gets read twice"
### Steps to reproduce:
1. Create an empty html file
2. Write the following contents to it

[code]

(see [example.txt](https://github.com/nvaccess/nvda/files/3866640/example.txt), rename it to example.html)

3. Open the html in Chrome or in Electron as the index page
4. Tab over the elements on the page to see what NVDA reads

### Actual behavior:
When the focus gets to the checkbox, it reads the

[2019-11-20 00:27] ruifontes commented on #10488
I do not know enough HTML to check this...

[2019-11-20 00:52] #10406 closed

[2019-11-20 02:09] michaelDCurran commented on #9689
This was fixed several months back, but I can't quite identify the actual commit. I can confirm this issue no longer is reproducable.

[2019-11-20 02:09] #9689 closed

[2019-11-20 02:17] michaelDCurran commented on #10036
Please note that Windows consoles do not store space characters at all. If space is typed and or programmatically written, the character cell at that position is just left blank.
We should possibly return a space character for UIA text ranges that are blank in TextInfo.text. This at least will say 'space' for spaces in the middle of a line like it used to. However, spaces at the end of a line will

[2019-11-20 03:50] HarishTerala commented on #10505
@ehollig - Issue is in the browse mode, when we navigate using down arrow key first time it read as "File actions toolbar" again pressing down arrow it reads as "list". Here NVDA is not reading the "Share" control information and pressing Enter/Space key will not perform any action.

[2019-11-20 03:59] HarishTerala commented on #10506
@ehollig - In focus mode NVDA is working fine, but the issue is in browse mode.

[2019-11-20 04:42] dpy013 opened #10516 "Add ability to use GitHub Actions to build NVDA"
hi
The appveyor currently used by NVDA cannot compile multithreaded when compiling NVDA
### Is your feature request related to a problem? Please describe.
If possible, we can compile NVDA with GitHub Actions
### Describe the solution you'd like
help docs
[GitHub Actions docs](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions)
and
[Ev

[2019-11-20 04:52] dingpengyu commented on #10516
cc @josephsl
and
@michaelDCurran
system config （E5 2vCPU/​7G RAM）

[2019-11-20 05:01] leonardder commented on #10516
I have investigated github actions for add-on compilation, and it wasn't suitable at that time because of https://github.com/actions/upload-artifact/issues/3. In short, Github actions uploads artifacts in a zip file. Even when that would be supported, wildcards aren't either, see https://github.com/actions/upload-artifact/issues/11.

Having said that, it will probably take hours or days to convert

[2019-11-20 05:03] michaelDCurran commented on #10477
#10406 was closed with the merging of pr #10513 .
I have closed #9689 as it is no longer reproduceable.
I feel that  #10191 and #10113 are the most serious. The others can probably fixed with out too much issue.

[2019-11-20 05:13] dingpengyu commented on #10516
Thank you for your instructions

[2019-11-20 05:15] XLTechie commented on #10516
One of my back burner projects has been to convert the Appveyor script to
something more generic.
The goal being so that people who fork the main repo, do not actually need a
source compilation environment to test their own PRs and private changes, or
otherwise build from source for their own purposes.

I haven't gotten far with it because of lack of time, but it seems to me that if
we could get t

[2019-11-20 07:49] HarishTerala opened #10517 "MS Teams: [Shifts app]: From second time onwards, NVDA is not reading the displayed tooltip information when "Shift Activities info (i)" button was activated"
### Steps to reproduce:
1. Open MS Teams app.
2. Open "Shift" app from "More added apps". (Install "Shifts" app if not installed)
3. Navigate to any shifts grid and activate "+ Add shift" from "More options".
4. Turn off browse mode if enabled, press Tab/Shift+Tab key to navigate to "Shift Activities info (i)" button and activate it. Verify the speech of NVDA.
5. Again navigate back and activate "

[2019-11-20 07:57] CyrilleB79 commented on #957
This issue is very old. What is blocking?

I would also love have this feature integrated in core. Would be a great gain of productivity when exploring big tables on webpages. Of course, meanwhile @mltony's add-on does the job. Thanks Tony!

Note that this feature is in Jaws for at least 10 years. And on the contrary to other recent Jaws features (OCR, ResearchIt), it is a real screen-reader featu

[2019-11-20 08:18] CyrilleB79 opened #10518 "In MS Word, NVDA does not annunce when text is unselected"
### Steps to reproduce:

* Open MS Word
* Type some text
* Select some text
* Press left or right arrow key to cancel selection

### Actual behavior:

NVDA announce the character where the cursor has been moved.
Text is unselected but NVDA did not announce that text has been unselected.

### Expected behavior:

NVDA announce the character where the cursor has been moved and anounce that text has b

[2019-11-20 08:24] CyrilleB79 commented on #1898
All what is described in initial description of this issue has cannot be reproduced. I recommand closing this ticket. @Adriani90 can you do it?

Regarding the off-topic discussion about MS Word, I have opened a new issue to have it tracked: #10518. I have simplified the steps to reproduce since the issue is only that unselecting text is not reported in MS Word on contrary to Notepad or Wordpad. Th

[2019-11-20 08:27] XLTechie commented on #10518
To the question: Have you tried any other versions of NVDA? If so, please report
their behaviors: in the other issue, I did report trying this and getting the
same results in 2019.3 alpha.

[2019-11-20 08:36] CyrilleB79 commented on #10518
OK. I have tested also with last alpha run from source (source-master-833bc4e) and NVDA 2017.3 portable.
The issue has always been reproduced whatever the version.

[2019-11-20 08:51] leonardder commented on #10518
Is this with UIA enabled or disabled? Does that make a difference?

Please also provide the Word version in use.

[2019-11-20 09:02] CyrilleB79 commented on #10518
All these tests were made with default option, i.e. UIA disabled.

On NVDA 2019.2.1, enabling UIA does not make a difference: issue still present.

On NVDA 2019.2.1 and probably others, if I activate browse mode (Ctrl+Space), NVDA announces when the text is unselected.

[2019-11-20 09:59] nvdaes commented on #957
I agree with Cyrille in moving forward with this. I proposed a way to implement this. If you agree, I can make a PR or at least a draft.

[2019-11-20 10:26] feerrenrut commented on #7724
While it would have been nice to have avoided doing the work to get it building in the first place, the benefit for us now (thank you @jcsteh !) is that we aren't dependent on an external party. Though I have just noticed that you have used the DLL from Azul zulu instead. I assume this is to do with the size's you mentioned in your last comments?

[2019-11-20 10:36] jcsteh commented on #7724
The download size wasn't overly relevant, since I'd already downloaded the OpenJDK source anyway. The reason I went with Zulu in the end is that while it is indeed nice to not depend on some external unofficial thing, it's also one more thing we don't have to maintain; e.g. if OpenJDK changes the repo layout. As a nice bonus, the Zulu dll is a 3rd of the size of mine, although I suspect that's jus

[2019-11-20 12:44] jfayre commented on #10508
Just wanted to add a clarification. The sluggishness happens in the main 1password desktop app, not 1password Mini, which is the interface used to fill in passwords on websites, etc.

[2019-11-20 13:52] leonardder commented on #9682
@josephsl: Are you intending to provide a pr for this shortly?

[2019-11-20 14:32] leonardder commented on #10516
I agree that appveyor is not very ideal, however, our current appveyor
script uses pretty specific functionality, also related to tests. It
will take some time before actions is mature enough.

[2019-11-20 14:53] josephsl commented on #9682
Hi, yes, but not until after 2019.3 stable version is released. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Wednesday, November 20, 2019 5:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] How to prevent NVDA to overwrite touchscreen configurations on Windows (#9682)

[2019-11-20 16:26] Adriani90 commented on #7952
cc: @jcsteh is this something that you think could be implemented along with the bundling of Access Bridge dll? Or should we Close it? In my opinion this would bring benefits, especially for beginners.

[2019-11-20 16:44] Robert-J-H commented on #7041
Hi Quentin
I use the experimental regedit appmodule. Joseph did some preliminary
work based on my input and I extended it to include position info etc.
However, it's Python 2.7 and has probably to be migrated. Apart from
that, there are certain things I don't like, such as the very
ineffective position calculation.
NVDA counts all siblings when a new item is selected and that's very
time consuming

[2019-11-20 18:33] Adriani90 commented on #8960
cc: @jcsteh, @MarcoZehe

[2019-11-20 18:34] leonardder opened #10521 "NVDA Highlighter: allow customising colors, line thickness, dash style"
### Is your feature request related to a problem? Please describe.
The current NVDA Highlighter colors are chosen to be in contrast with each other. However, it is likely that some people with particular vision disabilities find it hard to recognize the different colors.

### Describe the solution you'd like
Add the ability to change line thickness, dash style and color of the lines surrounding th

[2019-11-20 18:37] Adriani90 commented on #7823
cc: @jcsteh

[2019-11-20 18:38] Adriani90 commented on #7358
cc: @MarcoZehe

[2019-11-20 18:40] Adriani90 commented on #10140
Yet another example of double information: #10512. It seems in Google Chrome this behavior appears more often.

[2019-11-20 18:42] Adriani90 commented on #1898
Closing as works for me.

[2019-11-20 18:42] #1898 closed

[2019-11-20 18:47] Adriani90 commented on #10433
Fixed in #10465.

[2019-11-20 18:47] #10433 closed

[2019-11-20 20:49] #7724 closed

[2019-11-20 21:15] jcsteh commented on #7823
Do they really need to be landmarks if they have headings?

I don't think anyone is questioning the fact that duplicate reading is annoying. The problem with removing duplication is that there has to be a choice of what to sacrifice. There is almost always a negative consequence when a screen reader tries to be "smart". Using the example from the issue description:
"My Section region My Section he

[2019-11-20 21:15] stickbear2015 commented on #10508
This looks like something specific to 1password, as running 7.2.576 on both machines here, doesn't present this issue with latest stable NVDA.
I've been offered the upgrade multiple times, but now I'm glad I didn't upgrade.
@jfayre contact me privately, I still have the older installer.

[2019-11-20 22:05] jcsteh commented on #8960
This is a bug in NVDA, not in browsers. I figured out why this is happening, so I'll submit a PR shortly.

[2019-11-20 22:06] CyrilleB79 commented on #4231
IMO the first menu item should neither be reported nor selected and we should inform on what Windows does, not change Windows/Office behaviour.

* If it is selected artificially by NVDA whereas Windows would not select it when NVDA is not loaded, there is a risk of side effect as described by @feerrenrut with the auto-complete example
* if it is reported but not selected, the user may think that t

[2019-11-20 22:54] jcsteh commented on #7952
Particularly given that some apps now bundle their own Java VM and given that many JREs don't provide an installer (official OpenJDK is just a zip file, for example), doing this from Ease of Access isn't possible for many users. I think NVDA should take care of this somehow, although the exact user experience is an open question.

I'm tempted to suggest that NVDA should just do this without asking

[2019-11-20 23:03] michaelDCurran commented on #7952
I think doing it at NVDA start-up is the best solution.

Note this should only be done for installed copies, not appx or portable.

[2019-11-21 01:31] carmacleod commented on #7823
Hi, all. I figured I'd better jump in here. :)

Please note that I opened this issue before I understood the difference between landmark regions and sections. :)

When I finally "got it", I wrote down this list of points:
- Outlines are for the information architecture of the page, aka "the content".
- Landmarks are a convenient way to skip around the "structure" of the page.
- Sections with headi

[2019-11-21 02:36] jcsteh commented on #7823
My personal opinion is that there shouldn't be a labelled region at all if
the section has a heading. I'd argue it's redundant. If the user wants to
navigate to the section, they can navigate by heading. The only reason to
have a labelled region is if there isn't a heading, which can happen where
the purpose of a section is obvious visually but not semantically.

Using a span instead of a heading

[2019-11-21 04:43] moyanming commented on #5755
Hi @Qchristensen,
We are the manufacturer of the Seika mini Notetaker Braille display. We have released the Seika Patch for NVDA v3.2, and @Accessolutions(https://github.com/accessolutions/seikamini-nvda) release the "seikamini-3.2.2019.1.1.nvda-addon" base on the v3.2 patch. We have tested the "seikamini-3.2.2019.1.1.nvda-addon" with Seika mini16, mini24, Seika v6, and Seika v7 and all work fine.

[2019-11-21 05:50] #10296 closed

[2019-11-21 05:56] #8960 closed

[2019-11-21 06:40] dingpengyu commented on #10030
hi
Does the current issue have a corresponding pr for testing?
thanks

[2019-11-21 06:43] nvdaes commented on #957
Just to clarify that my proposed implementation is quite incomplete. I have performed a git grep -n to search files containing alt+control+arrow gestures and this require changes in documentbase and files related to Microsoft Word. Also, the number of rows and columns of tables seems not to be explicitly retrieved in documentBase.py. I have looked at TonysEnhancements add-on, very quicly, and I fi

[2019-11-21 06:48] XLTechie commented on #7823
The "obvious" answer would seem to be to separate consideration of the element
text from the element itself.

If you have:

"My Section region"
"My Section heading level 2"

You cut that up, so you have:

"My Section"
"region"
"My Section"
"heading level 2"

So now we have two duplicated pieces of descriptive text, and two element
identifiers.
That would seem rather easy to collapse: the descripti

[2019-11-21 06:59] XLTechie commented on #7952
I'm not @michaelDCurran, but:

Could it be done on first run per account?

Actually, if you check and write-if-missing the .accessibility.properties file
on each run, wouldn't that be the same as doing it on first run, effectively
meaning that thereafter, it wouldn't matter if NVDA was running before Java apps
except for the first time, or first time after something strange happened, per
your conc

[2019-11-21 07:04] HarishTerala opened #10528 "MS Teams: [Meetings - Screen share]: In browse mode, when desktop screen was shared, NVDA reads about the external call monitor, instead reading about the shared window"
### Steps to reproduce:
1. Open MS Teams app.
2. Join any scheduled screen and open share panel. (Make sure browse mode is enabled)
3. Navigate to "Desktop" preview screen and press Enter key.
4. Verify the focus sync issue and speech of NVDA.

### Actual behavior:
In browse mode, when desktop screen was shared NVDA reads as "Call is in progress. Click here to go back to the call screen.", pressin

[2019-11-21 07:27] HarishTerala opened #10529 "MS Teams: [Calendar grid]: Unable to navigate to the meeting grids/scheduled meetings in browse mode"
### Steps to reproduce:
1. Open MS Teams app.
2. Navigate to "Calendar" toolbar button and press Enter key. (Make sure browse mode is enabled)
3. Press down/up arrow keys to navigate between the meeting grids/scheduled meetings and verify the issue.

### Actual behavior:
If role="application" is defined to the grids then user is unable to navigate to the meeting grids/scheduled meetings in browse

[2019-11-21 10:47] sandeepnmenon commented on #10484
@Adriani90 @jcsteh
Any update on this?

[2019-11-21 10:51] jcsteh commented on #10484
I can reproduce it, but I don't know for certain what's causing it. My
hunch is that it has something to do with the fact that when you toggle
that checkbox, it toggles the checkboxes for every other row on that page.
Because there are a lot of rows, that is a *lot* of stateChange events.
Perhaps they're being throttled somewhere, very likely NVDA (since handling
too many events causes performance

[2019-11-21 11:06] leonardder commented on #10528
Could you reproduce this in MS Teams on the web? Also, that makes you think that this is an issue in NVDA?

[2019-11-21 11:06] leonardder commented on #10529
Could you reproduce this in MS Teams on the web? Also, what makes you think that this is an issue in NVDA?

[2019-11-21 18:19] ehollig commented on #10488
This sounds like something that can be done now with #4877

[2019-11-21 19:02] ehollig commented on #9534
@alanfluff could you please update your original issue filling out the complete issue template so we may understand the issue you are experiencing? Alternatively, if this is a generic question, you can ask on the [NVDA Screen Reader Development nvda-devel@groups.io mailing list](https://groups.io/g/nvda-devel).

[2019-11-21 19:09] ehollig commented on #9407
@fernando-jose-silva and @Adriani90 is this still the case? Github may have made some changes since this issue was opened.

[2019-11-21 19:13] ehollig commented on #9368
This is still the case in the latest alpha. Sounds like another role that NVDA does not fully support. CC @leonardder

[2019-11-21 19:17] ehollig commented on #9296
I think this was discussed in another issue. Does anyone know why the announcement differs in browse mode and focus mode? In focus mode, it announces the number of items in the tablist, but is not announced in browse mode.

[2019-11-21 19:20] Adriani90 commented on #4231
Ok it seems there is a consensus regarding this among the developers and also throughout the community. I will close this issue for now. But if you have strong arguments as why NVDA should modify windows behavior, please comment on this issue and we can reopen it.

[2019-11-21 19:20] #4231 closed

[2019-11-21 19:27] Adriani90 commented on #9407
This is not reproducible anymore in NVDA alpha-19256,3cd482f5 and Chrome 78 or Firefox 70.
Closing as works for me.

[2019-11-21 19:27] #9407 closed

[2019-11-21 19:30] lukaszgo1 commented on #7823
I have to agree with @XLTechie here. Separating role text from role itself seems to be most logical solution. The same pattern can be observed in Moodle  (ad least in the version used at my university) when course is divided by weeks.

[2019-11-21 19:30] ehollig commented on #9164
@cochfarf we still require your Codepen in order to replicate this issue.

[2019-11-21 19:42] Adriani90 commented on #9953
I cannot reproduce this with NVDA alpha 19256,3cd482f5 and Firefox 70. The field label "text field here" is properly announced when using tab in focus mode and browse mode and also when using arrow keys in browse mode.
However, when pressing tab from the edit field it says "I am the label grouping". I guess this should be announced on the edit field itself and not on the "browse" button.
cc: @jcst

[2019-11-21 19:47] Adriani90 commented on #9617
I agree actually escape should bring you out of the embeded dialog as it is in most cases.

cc: @jcsteh maybe you have an idea why this is not possible in this case?

[2019-11-21 19:51] Adriani90 commented on #9579
Unfortunately we cannot reproduce this issue due to a missing minimal test case. Please comment on this issue if you have a minimal test case and we can reopen it. I am closing this as of now since we did not get any answer from the initial author. Thanks.

[2019-11-21 19:51] #9579 closed

[2019-11-21 19:53] Adriani90 commented on #9352
cc: @leonardder, @Andre9642

[2019-11-21 20:31] #10115 closed

[2019-11-21 20:38] #7952 closed

[2019-11-22 00:23] DrSooom commented on #10521
And, if possible, add transparency as well. If the contrast is too high, it could hurt in the eyes. Or if you have cataract, a white border on a dark background could glare extremely, so it's no longer possible to recognize the light-grey text in the dark area due to this white border.

[2019-11-22 00:33] dingpengyu opened #10532 "When testing Vision framework with NVDA beta-19263 and alpha-19262: Always &show a warning when loading {screenCurtainTranslatedName} String does not take effect after translation"
### Steps to reproduce:
First download the translation test template from [here](https://ci.appveyor.com/api/buildjobs/wuvi0ditnx1v80l4/artifacts/output%2Fnvda_snapshot_beta-19263%2C04569185.pot)
Then copy zh_CN-nvda.po Open the nvda.po with poedit and update the .po file with snapshot_beta-19263,04569185.pot
Final translation
Always &show a warning when loading {screenCurtainTranslatedName} Strin

[2019-11-22 01:14] enessaribas opened #10533 "NVDA does not read UTorrent 2.2.1 trackers list"
### Steps to reproduce:
1. with latest NVDA master, focus an active torrent in UTorrent, and shift tab to the tabs, and switch to the trackers with the left and right arrow keys.
2. Tab to the trackers list.
### Actual behavior:
NVDA says list item when arrowing through the trackers.
### Expected behavior:
NVDA reads name of the tracker, such as DHT.
### System configuration
#### NVDA installed/po

[2019-11-22 03:14] jcsteh commented on #9617
Functionality of the escape key (except for returning to browse mode for the current document) is determined by the page author, not NVDA.

NVDA+control+space is the intended way to deal with this. I couldn't reproduce any problem following https://github.com/nvaccess/nvda/issues/9617#issuecomment-496306328. For me, NVDA+control+space always returns me to browse mode in the outer document.

[2019-11-22 03:19] jcsteh commented on #9953
This issue with file inputs was fixed in Firefox 70. See https://bugzilla.mozilla.org/show_bug.cgi?id=1316965

No, because this label is associated with the file input, not the edit field.

[2019-11-22 03:19] #9953 closed

[2019-11-22 07:38] HarishTerala commented on #10528
Same is reproducible on Chrome.

This issue does not reproduce on Win32+JAWS, Chrome+JAWS, Mac+VoiceOver.

[2019-11-22 07:55] HarishTerala commented on #10529
Same is reproducible on Chrome.

This issue does not reproduce on Win32+JAWS, Chrome+JAWS, Mac+VoiceOver.

[2019-11-22 10:03] #10353 closed

[2019-11-22 18:22] Luke-Robinett commented on #7504
FYI none of this has been fixed and it's two years later now. Are we just going to endlessly swap error logs and play guessing games on the issues page or is someone at NVDA going to actually fix these problems? 1. IntelliSense messages about parameters and functions are not spoken at all. 2. the menus that list members when you type a period in your code do not work properly. Instead of NVDA just

[2019-11-22 19:03] josephsl commented on #7504
Hi Luke,

First, you are right - we (NVDA people) should have stepped up and kept an eye on this issue. The reason why we weren't able to do so is because of different forces pulling us into different directions - Python 3, speech refactor, vision provider framework and others.

Second, there is someone working on an NVDA add-on for Visual Studio, and I heard this issue is resolved (we need to dou

[2019-11-22 19:05] francipvb commented on #7504
Hello,

Sorry about that. We have a solution for this. However, the solution was rejected because it doesn't applies to SSMS.

If I manage to have SSMS installed this afternoon I will post a PR to solve this definitely.

Cheers,

[2019-11-22 20:55] Adriani90 commented on #3081
We do not have any updates on this since years and I didn't hear further reports on this problem from other users. If you have a certain case which can be reproduced, please comment on this issue and we can reopen it. I am closing this as abandoned since we lost contact to the initial author.

[2019-11-22 22:25] francipvb commented on #7504
Hello @Luke-Robinett,

Please try this [package](https://ci.appveyor.com/api/buildjobs/r3eysnxg1ug9f66o/artifacts/VisualStudioExtended-master-12.nvda-addon).

Cheers,

[2019-11-23 00:38] fernando-jose-silva opened #10535 "Excel hangs when using new feature in vision Enable Highlighting"
### Steps to reproduce:
enable Enable Highlighting
open a spreadsheet in excel
press f2 in a cell that contains content.
edit the cell.
Hit enter.
### Actual behavior:
excel locks up and sometimes reopens again.
### Expected behavior:
excel does not lock and works correctly
### System configuration
#### NVDA installed/portable/running from source:
instaled
#### NVDA version:
alfa 19266
#### Window

[2019-11-23 00:55] ruifontes commented on #10535
Not reproducible here...

Rui Fontes

Às 00:38 de 23/11/2019, fernando-jose-silva escreveu:

[2019-11-23 08:04] MichelSuch opened #10536 "LibreOffice Write: nothing spoken when reviewing a document using up and down arrows"
Using NVDA alpha-19266,67bf1df6, nothing is spoken when scrolling a document under libreOffice Writer 6.3.3.
### Steps to reproduce:
1. Open a document using libreOffice writer.
2. Try to scroll it using the up and down arrows.
### Actual behavior:
The document content is not spoken, though it is correctly displayed if you have a braille display.
### Expected behavior:
The content of each line sho

[2019-11-23 08:07] Brian1Gaff commented on #10533
If you can find some other instances where this sort of thing happens, it
might help people prioritise it higher up the pecking order, perhaps.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-11-23 08:11] leonardder commented on #3081
I've seen this recently in the sessions list of FileZilla.

[2019-11-23 08:17] Brian1Gaff commented on #3081
Hmm, I still see that explorer in windows 7 can be very laggy, ie move down
a list of audio files in explorer, hear one you want and hit enter and the
media player will probably play a different file altogether.
 Similar things occur if, say you open a dropbox folder from the desktop and
nothing appears to happen, indeed when cursoring it seems you are on the
destop, but an alt tab shows that the

[2019-11-23 08:21] Brian1Gaff commented on #10535
I've seen something similar on an older version of the software if focus
highlight add on is enabled. Have you tried disabling all add ons and seeing
what happens?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-11-23 10:16] lukaszgo1 commented on #10536
This should be marked as a regression. cc @leonardder  @michaelDCurran

[2019-11-23 10:16] lukaszgo1 commented on #10535
cc @leonardder

[2019-11-23 10:16] lukaszgo1 commented on #10533
cc @leonardder  @michaelDCurran

[2019-11-23 11:28] sandeepnmenon commented on #10484
@jcsteh
Any update on this? Is it something that will be picked up for being fixed?

[2019-11-23 11:51] leonardder commented on #10536
@MichelSuch: Please fully follow the issue template, especially the last few questions are important here.

[2019-11-23 11:59] lukaszgo1 commented on #10536
The most important question i.e.

has been answered but not in the proper place in the template.
@MichelSuch said:

[2019-11-23 12:13] leonardder commented on #10536
Thanks for pointing this out.

This definitely is a regression, caused by 4d1d4f640 (#10463).

I'm afraid the only thing we can do now is revert this and look at another solution for #4317. Alternative ideas @lukaszgo1?

[2019-11-23 12:21] leonardder commented on #10533
I think it would help to know where the regression started to occur.

[2019-11-23 13:08] Adriani90 commented on #10484
@sandeepnmenon see the comment from Jamie above.

[2019-11-23 15:34] lukaszgo1 commented on #10535
@fernando-jose-silva Please try to reproduce this with all add-ons disabled.

[2019-11-23 15:45] lukaszgo1 commented on #10097
@leonardder  Have you had time to look into this?

[2019-11-23 16:03] Brian1Gaff commented on #10536
I posted some questions about this software in the devel group a few days
ago, it seems not to work correctly in the old nvda either, ie  you get
mangled test apparently in the file you are typing into and this also
happened in the earlier release of Libra Write both installed and Portable.
Sometimes also you cannot read the file list either.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
P

[2019-11-23 16:05] Brian1Gaff commented on #10536
Could this be at the bottom of the Utorrent issue recently posted here as
well?
As I say, Liba Office has been plagued with weird things for some time now,
sadly.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-11-23 16:25] lukaszgo1 commented on #10536
@leonardder wrote:

I have created #10537 to fix this. If you would be able to take a look that would be fantastic.

[2019-11-23 17:00] fernando-jose-silva commented on #10535
I can reproduce the problem with disabled adons.￼￼

Enviado do meu iPhone

[2019-11-23 18:05] sandeepnmenon commented on #10484
So is that the case?

[2019-11-23 18:16] leonardder commented on #10535
I think the NVDA Highlighter isn't in error here, but the vision framework probably tries to fetch the location from the focus object in such a way the Excel object model does not appreciate.
I recall that I was able to reproduce this, and will try to look into it next week.

[2019-11-23 18:38] fernando-jose-silva commented on #10535
thanks.￼

Enviado do meu iPhone

[2019-11-23 19:16] lukaszgo1 commented on #10533
I cannot reproduce this with latest Alpha on Windows 7. @enessaribas Is there any particular reason why you are using so old version of UTorrent?

[2019-11-24 16:44] bramd commented on #9368
I tested with this data URL:

`data:text/html,<div role="alertdialog" aria-label="Warning" aria-describedby="foo"><span id="foo">Very serious warning!</span></div>`

NVDA adds the Dialog overlay class as expected, but it also assigns a role of alert. I'm not sure where this role is coming from. Can anyone give me some pointers on where the alert role may be set?

NVDA dev info in Chrome:

[code]

[2019-11-24 21:33] #10536 closed

[2019-11-24 21:48] #10030 closed

[2019-11-25 03:58] enessaribas commented on #10533
hello,
The reason for this is accessibility. It isn't practical for me to test all possible alphas of NVDA to determine the regression. Is there a way for me to provide more info about this? This definately works on pre-py3 alphas of NVDA.

[2019-11-25 08:35] lukaszgo1 commented on #10533
Could you please disable all add-ons, change log level to debug, try to reproduce the issue and upload a full log?

[2019-11-25 09:22] k-kolev1985 opened #10540 "In an Excel workbook, if multiple cells are selected, NVDA does not correctly report the currently focused with TAB/Shift+TAB cell"
In an Excel workbook, the user can select multiple cells and move the focus between the selected cells with TAB and Shift+TAB. In such scenario, Narrator correctly reports the currently focused cell from the selected cells, when pressing TAB or Shift+TAB. NVDA however does not - NVDA each time the focus changes reports the whole selection (range of selected cells).

### Steps to reproduce:
1. Laun

[2019-11-25 10:36] k-kolev1985 opened #10541 "NVDA fails to report set row and column headers in Excel, even if they are set from NVDA itself"
### Steps to reproduce:
1. Launch NVDA.
2. Open a workbook in Excel. The workbook has to have at least a few rows and columns filled with some data. In my case the file is an XLSX one and not a XLS (I don't know if it matters).
3. Move the focus to the first row and column with filled data.
4. Press NVDA+Shift+C to set this cell as the first header for all columns from top to bottom and left to ri

[2019-11-25 11:08] JulienCochuyt commented on #49
Unless #7232 being planned to be addressed soon, this issue is pretty annoying in browse mode for buttons and menu items when a web application features a lot of access keys.
Links might be found with lengthier text, and I guess announcing before or after for them is disputable.

My first approach, as proposed 7+ years ago in https://github.com/nvaccess/nvda/issues/49#issuecomment-155277279 would

[2019-11-25 12:34] k-kolev1985 opened #10542 "NVDA fails to read the list of suggestions when entering a formula in a cell in Excel"
### Steps to reproduce:
1. Launch NVDA.
2. Open a workbook in Excel (an empty one should suffice).
3. Press F2 to enter editing mode for the focused cell.
4. Start entering a formula. I type "=s". A list of suggestions beginning with "s" appear below the cell.
5. Use the up/down arrow keys to navigate between the suggestions.
6. Observe how the focus moves between the suggestions in the list and w

[2019-11-25 12:35] feerrenrut commented on #8389
It looks like this will get pushed back a release. Because it is a fundamental change it will require some time in alpha to give us confidence. That said, there are still aspects of this to be tuned, and I don't think we are confident we can reproduce the issue you experience. Can you send me a video of the issue? Hopefully this helps us to track down the cause.

[2019-11-25 12:50] FelixGruetzmacher commented on #8389
Videos are a bit tricky for me to make. What you would see, if I made one,
is me pressing enter, a window opening, and NVDA remaining silent. Are you
sure a video of what I just described would contain any information not
already contained in this description? I'll make one, for sure. I'd just
like to understand how it will be useful.

Am Mo., 25. Nov. 2019 um 13:35 Uhr schrieb Reef Turner <
notif

[2019-11-25 13:01] k-kolev1985 opened #10543 "NVDA fails to navigate to landmarks in EdgeHTML-based content"
**Note:** The problem occurs not only in the Microsoft Edge browser, but in all places which display content via EdgeHTML (e.g. the Twitter app for Windows 10). I can provide logs for the issue, if necessary.

### Steps to reproduce:
1. Launch NVDA.
2. Open Microsoft Edge (the EdgeHTML-based one).
3. Load a page with some landmarks in it (nvaccess.org should do it).
4. When the page loads, use the

[2019-11-25 13:14] feerrenrut commented on #8389
I can understand it would be tricky. We haven't been able to reproduce this locally, I am hoping that a video of the issue might give us more information, perhaps some feeling for the timing. I agree this may not get us anywhere. The alternative is to wait and see if our changes to the windows event handling makes a difference to you.

[2019-11-25 13:16] leonardder commented on #10543
Could you please provider a log file?

[2019-11-25 13:21] #10509 closed

[2019-11-25 13:30] FelixGruetzmacher commented on #8389
We need to be careful not to create the impression that I am the only
user suffering from this. This issue alone has several comments from
different users affected. The mailing list often touches on this issue
as well. However, I believe most users would just accept the fact they
need to alt+tab around a little to know what's going on. I'm not
saying there are no workarounds. I am, however, saying

[2019-11-25 14:07] k-kolev1985 commented on #10543
OK, here is a log attached. Testing done with add-ons disabled and log level set to "Debug".
[NVDA_Log_2019-11-25_#10543.log](https://github.com/nvaccess/nvda/files/3886961/NVDA_Log_2019-11-25_.10543.log)

[2019-11-25 14:26] k-kolev1985 commented on #10400
I've solved the mystery! 😊

In my NVDA configuration, in "Document formatting" section, in the "Table information" grouping, the first check box ("Tables") was unchecked. When I checked it, NVDA started recognizing the list of messages in Thunderbird 68 as a table as it did before v60. But I haven't changed before that option if I remember correctly - it was always unchecked for me in my NVDA conf

[2019-11-25 14:28] CyrilleB79 opened #10545 "Error at screen curtain activation when Windows Magnifier is active"
### Steps to reproduce:

* Launch Windows Magnifier (Windows+PavNumPlus)
* Alt+Tab to Magnifier window
* Press "Display" button and select "Full screen" option
* Press "Options" button and check the "Invert colors" checkbox
* Open Vision panel in NVDA settings
* Uncheck the "Always show a warning" checkbox (probably does not matter but I did this way)
* Check the "Enable screen curtain" checkbox

[2019-11-25 14:34] k-kolev1985 commented on #10541
I've solved the problem! 😊

In my NVDA configuration, in "Document formatting" section, in the "Table information" grouping, the first check box ("Tables") was unchecked. When I checked it, NVDA correctly reported the set column headers, but at the end of the spoken string (after the cell's content and address). That is OK though. Should I close the issue in this case?

[2019-11-25 14:37] leonardder commented on #10541
Yes, I think so. Thanks!

[2019-11-25 14:37] #10541 closed

[2019-11-25 14:40] leonardder commented on #10545
I'm afraid the only thing we could do here is improve the UX. As windows Magnifier holds the API that we use to activate the screen curtain, we simply can't use the screen curtain when the magnifier is on.

[2019-11-25 14:42] leonardder commented on #10545
It should be pretty easy to at least add a warning to the NVDA user guide telling that the screen curtain can't be enabled when the windows magnifier is on. We could also hide the curtain option when the magnifier is on.

@CyrilleB79: could you also check what happens if the curtain is on and you activate the widnows magnifier? I"m afraid the curtain is killed without notice? Again, this is also a

[2019-11-25 15:01] CyrilleB79 commented on #10545
Yes we can as described briefly in Test 2: Screen curtain can be activated when Windows Magnifier is active, provided that color inversion is not enabled at this time.

[2019-11-25 15:44] CyrilleB79 commented on #10545
@leonardder I have made the test you suggest. Here are the results:

Test 6:

* Activate Windows Magnifier (Windows+PavNumPlus) and check in options that color inversion is active
* Unactivate Magnifier (Windows+Escape)
* Activate and unactivate Magnifier once again to check that color inversion is kept in memory between 2 Magnifier launch.
* Once Windows Magnifier is not active, start NVDA's scre

[2019-11-25 15:53] CyrilleB79 commented on #10545
By the way, @leonardder, why did you put the CANTFIX label? Probably we cannot support screen curtain along with Windows Magnifier. However we can probably do some things to improve UX:

* Give the user a user-friendly message when he tries to activate the screen curtain while the Magnifier is active
* Avoid the error in the log
* Update user guide to warn the user not to use Magnifier along with

[2019-11-25 18:10] leonardder commented on #10545
Because we can't fix any conflicts between the magnifier and screen curtain. We can only describe them in the user guide.

Your tests really prove to be helpful, thanks a lot for this!

[2019-11-25 18:25] leonardder commented on #49
@JulienCochuyt: Could you give an example of this approach?

[2019-11-26 00:06] enessaribas commented on #10533
hello,
Here it is.
[nvda.log](https://github.com/nvaccess/nvda/files/3889365/nvda.log)

[2019-11-26 00:11] lukaszgo1 commented on #10533
Unfortunately there is nothing useful in your log. Could you please focus one of the list items, press NVDA+F1, and paste developer info for it here.

[2019-11-26 00:18] Luke-Robinett opened #10546 "NVDA won't read clipboard over a certain limit"
NVDA says "the clipboard contains a large portion of text" when pressing NVDA-C to read aloud the clipboard's contents if it contains what I gather is more than 1000 characters. I don't understand the purpose of this limitation. I suggest either removing it entirely or allowing the user to adjust the threshold at which it will no longer read the clipboard's contents.

[2019-11-26 01:23] josephsl commented on #10546
Hi, surprise: you are not the only one requesting this change (I think there is an issue noted on GitHub that asks the same thing i.e. duplicate). Thanks.

From: Luke-Robinett <notifications@github.com>
Sent: Monday, November 25, 2019 4:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA won't read clipboard over a certain

[2019-11-26 02:26] enessaribas commented on #10533
Developer info for navigator object:
name: ''
role: ROLE_LISTITEM
roleText: None
states: STATE_INVISIBLE, STATE_OFFSCREEN, STATE_FOCUSED, STATE_FOCUSABLE, STATE_SELECTED, STATE_SELECTABLE
isFocusable: True
hasFocus: True
Python object: <NVDAObjects.Dynamic_DuplicateFocusListViewListItemIAccessible object at 0x014FB890>
Python class mro: (<class 'NVDAObjects.Dynamic_DuplicateFocusListViewListItemIA

[2019-11-26 06:37] leonardder commented on #10533
This is likely a regression caused by #9873. However, given that @lukaszgo1 can't reproduce this on Alpha with a newer version of UTorrent, I'm hesitant cto change things here.

@enessaribas: Getting developer info for the list item turned out to be pretty helpful. Could you do the same, but with NVDA 2019.2.1?

[2019-11-26 08:56] lukaszgo1 commented on #10533
The problem is that I was not able to reproduce this not only with the latest version of Utorrent, but also with the version 2.2.1 which is used by @enessaribas. This suggests that there is another variable at play here.

[2019-11-26 09:22] leonardder commented on #10533
I think theoretically, it could be that the column widths in the list of @enessaribas' client are changed to 0. So, an interesting question would be, is there something visible visually, or is the list also collapsed visually? In the latter case, #9873 is definitely proving to be a future rather than a regression 😁

[2019-11-26 10:21] kolaps33 opened #10548 "NVDA narrate table title(aria-label) twice"
### Steps to reproduce:
1.
Navigate to the example page:
https://jsfiddle.net/kolaps33/1v34xwp6/15/
2. set focus on button : "test button to set focus into page"
3. ensure NVDA is in browse mode
4. press "t" key to navigate into the table

### Actual behavior:
NVDA narrate:
""""
students table  with 5 rows and 4 columns
students
""""

### Expected behavior:
NVDA should narrate:
"""" students table

[2019-11-26 11:39] #10532 closed

[2019-11-26 11:58] leonardder commented on #10535
@fernando-jose-silva There have been some changes to the highlighter recently. Can you still reproduce this?

[2019-11-26 13:20] fernando-jose-silva commented on #10535
I'm not on my personal machine where the crash occurs, I'm on the work machine that uses a different office version:
EXCEL.EXE 16.0.4927.1000
Updated nvda to last alpha
nvda.exe alpha-19297, a8aad369
and couldn't replicate the problem
The other difference between the two machines is that the personal nvda is installed, the working nvda is portable, I have no permission to install software.
thank y

[2019-11-26 14:56] CyrilleB79 commented on #10545
OK, I thought that CANTFIX label was a label to use when an issue was closed to indicate the closure reason. This incompatibility should however be indicated at least in user doc (and maybe in a message box when activating feature) before closing this issue.

[2019-11-26 15:00] CyrilleB79 commented on #10545
Another idea: Would it be possible to use MagGetFullscreenColorEffect before the screen curtain activation in order to store the current color transformation? This would allow to restore the color transformation when screen curtain is deactivated.

[2019-11-26 16:24] Luke-Robinett commented on #10546
OK, sounds good. Sorry for the duplicate. There are only tens of thousands of issues posted so I can be forgiven for missing it. :)

[2019-11-26 17:00] josephsl commented on #10546
Hi, don’t worry about making duplicates – even I myself (a long time contributor) forget that what I think is new is actually a duplicate. Thanks (duplicate of #5573).

From: Luke-Robinett <notifications@github.com>
Sent: Tuesday, November 26, 2019 8:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvac

[2019-11-26 17:02] #10546 closed

[2019-11-27 05:55] jcsteh commented on #7836
That is a website authoring error. The first item should be focused when the menu expands. NVDA only decides whether to switch between browse and focus modes when the focus moves. Since the focus doesn't move here, that decision does not occur.

[2019-11-27 08:24] #9508 closed

[2019-11-27 08:24] #8314 closed

[2019-11-27 18:25] Adriani90 commented on #6211
fixed in #10130. Closing.

[2019-11-27 18:25] #6211 closed

[2019-11-27 19:23] leoagm commented on #8735
This behavior is also happening with NVDA table shortcut "t". When it changes to a new table, it reads the caption twice. Tested on FF 70.0.1 and Chrome 78.

[2019-11-27 19:56] codeofdusk commented on #10036
I'd be happy with this solution – it also seems to have the added bonus of more accurately reflecting the console's contents.

[2019-11-27 20:45] josephsl commented on #8466
Hi,

Actually, it would be best to close this for now as Chromium Edge is about to go live. We will revisit this problem if there are situations where this must be resolved.

Thanks.

[2019-11-27 20:45] #8466 closed

[2019-11-28 02:30] codeofdusk opened #10555 "Support UI Automation in Microsoft Edge Chromium and Google Chrome"
### Is your feature request related to a problem? Please describe.
When starting Chrome with the `--enable-experimental-ui-automation` flag, browse mode is not functional.

### Describe the solution you'd like
Support for UIA Chrome, including browse mode and full functionality of all widgets.

### Describe alternatives you've considered
Continue to use the IA2 implementation and forcibly ignore U

[2019-11-28 02:50] josephsl commented on #10555
Hi, I think there is an issue on Chromium Edge/UIA, but I think we should use this one. CC @LeonardDer

From: Bill Dengler <notifications@github.com>
Sent: Wednesday, November 27, 2019 6:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Support UI Automation in Google Chrome (#10555)

Is your feature request related to a probl

[2019-11-28 06:09] sandeepnmenon commented on #10484
@Adriani90  @jcsteh
Please mark the issue appropriately to convey if it is going to be fixed or not.

[2019-11-28 06:24] #10113 closed

[2019-11-28 09:48] leonardder commented on #10459
@k-kolev1985 how is this now?

[2019-11-28 09:49] leonardder commented on #10402
Closing as duplicate of newer issue #10555, which has a broader scope.

[2019-11-28 09:49] #10402 closed

[2019-11-28 09:52] leonardder commented on #9926
I can no longer reproduce this.

[2019-11-28 09:52] #9926 closed

[2019-11-28 09:53] leonardder commented on #9475
I'm closing this. We can always reopen if this is still the case in stable versions ofr Edge Chromium.

[2019-11-28 09:53] #9475 closed

[2019-11-28 10:19] k-kolev1985 commented on #10459
@leonardder You mean after enabling the Native UI Automation flag,? I haven't tried this. I may try it these days and report back.

[2019-11-28 10:38] gdata1 commented on #10459
@leonardder I have improvements after turning on this flag, but I turned it off because I can't use it with the keyboard. Do not work cosing keyboards.

[2019-11-28 10:57] Adriani90 commented on #10484
cc: @feerrenrut which priority would you assign to this one?

[2019-11-28 11:18] leonardder commented on #10459
Nope, just according to your steps to reproduce in the initial comment of this issue.
Also, are there differences between how Edge and Chrome behave with this regard?

[2019-11-28 11:49] k-kolev1985 commented on #10459
The behavior is the same with the latest alpha build of NVDA and latest Microsoft Edge Canary. I can get exact versions of both if necessary.

I don't have Google Chrome installed on my machines - only a portable copy for test purposes. But even it is a stable 78 release. With it NVDA's mouse tracking behaves normally.

[2019-11-28 14:08] feerrenrut commented on #10484
There isn't a clear way to deal with this situation. I also expect it's possible for a web author to develop a work around, probably with an improved experience. For instance, I would prefer to hear 200 items checked, rather than just checked.

If we can verify that NVDA is indeed throwing away a flood of stateChange events. One possible solution worth prototyping is to see if we can determine tha

[2019-11-28 14:47] enessaribas commented on #10533
Hello,
I apologize for the slow response.  Here is the developer info with 2019.2.1.  I would also like to point out that visually these columns are visible.

Developer info for navigator object:
name: u'[Peer Exchange]; not allowed; 0; 0; 0'
role: ROLE_LISTITEM
states: STATE_INVISIBLE, STATE_OFFSCREEN, STATE_FOCUSED, STATE_SELECTED, STATE_FOCUSABLE, STATE_SELECTABLE
isFocusable: True
hasFocus: Tr

[2019-11-28 14:58] leonardder commented on #10533
This already has STATE)INVISIBLE and STATE)OFFSCREEN, so there's
definitely something wrong in UTorrent.

Have you tried removing your user configuration?

[2019-11-28 17:01] enessaribas commented on #10533
Which user configuration?? Additionally, sighted people can see the client properly and I have no issues with Utorrent other than this regression. If this change will not be reverted, could you add an option to disable it for certain applications?

[2019-11-28 19:46] FelixGruetzmacher commented on #8389
Deleted my previous comment as it didn't help matters and reflected a bad day on my part more than anything else. ;)
I now figured out that this problem is mostly resolved by:

Seems half a second is simply too short a time for some api calls on slow machines.
So I think we can be pretty sure that most if not all of these situations are watchdog-related. Here are a few ideas which might or might n

[2019-11-29 06:00] leonardder commented on #10555
I closed the other issue.

[2019-11-29 06:19] #10543 closed

[2019-11-29 08:21] feerrenrut commented on #8389
Thanks for the investigation @FelixGruetzmacher. We have a draft PR which I think covers your fourth point: #10556 Currently this is scheduled for 2020.1. I think it would be good for us to look at how the watchdog timeouts interact when looking at that PR again.

[2019-11-29 11:12] leonardder opened #10560 "Assign a gesture for the screen curtain by default"
### Is your feature request related to a problem? Please describe.
When introducing Screen Curtain, it was decided to add a global command for the curtain but leave it unassigned by default. Several people complained about this decision on NVDA-devel. As we now show a warning when initializing the screen curtain by default, I think apart from the question what key it should be, concerns about acci

[2019-11-29 11:14] josephsl commented on #10560
Hi, how about Control+NVDA+Print screen? Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Friday, November 29, 2019 3:12 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Assign a gesture for the screen curtain by default (#10560)

Is your feature request related to a problem? Please describe.

When introducing

[2019-11-29 11:25] ruifontes commented on #10560
For me it is better, since is more universal through the various
keyboard layouts...

Only drawback: most people have no idea what what this key is

Rui Fontes

Às 11:14 de 29/11/2019, Joseph Lee escreveu:

[2019-11-29 11:52] dnz3d4c commented on #10560
I agree with Control + NVDA + F12. I think it's a very good idea.

[2019-11-29 12:00] k-kolev1985 opened #10561 "NVDA's virtual buffer command for skipping links produces an error when there are no links to skip"
### Steps to reproduce:
1. Install the latest NVDA alpha build (though the problem is reproducible for some time now).
2. Open a browser and load a page in it. The less links/blocks of links it has - the better.
3. When the page loads, execute the command to go forward or backward passed blocks of links (N and Shift+N by default).

### Actual behavior:
When there are no more links/blocks of links

[2019-11-29 12:02] beqabeqa473 commented on #10560
for me nvda+control+/ is ok.

On 11/29/19, dnz3d4c <notifications@github.com> wrote:

--
with best regards beqa

[2019-11-29 12:59] k-kolev1985 commented on #10560
The drawback with keys such as slash, backslash, semicolon, period, comma, etc. is the fact that in some keyboard layouts such as "Bulgarian BDS/Typewriter", they may fail to work. And in such cases they have to be modified by the users or the translators of NVDA.

That is why I prefer something like F12, Print Screen, etc. For example:
- NVDA+Control+F12
- NVDA+Control+Print Screen

[2019-11-29 13:05] beqabeqa473 commented on #10560
i don't think re-asigning a gesture for user or for translator is a big problem.
we have very good input gestures dialog nowadays.

On 11/29/19, Kostadin Kolev <notifications@github.com> wrote:

--
with best regards beqa

[2019-11-29 13:12] lukaszgo1 commented on #10561
Duplicate of #10038. If it is indeed a regression it might be wort fixing it before 2019.3. cc @feerrenrut @michaelDCurran

[2019-11-29 15:24] #10561 closed

[2019-11-29 15:28] leonardder commented on #10560
Might be problematic for some smaller laptops without a dedicated print screen key, though most of them have a print screen behind an fn combination.

I will update the initial comment with all the listed suggestions. I like NVDA+control+f12 a lot!

[2019-11-29 15:33] Brian1Gaff commented on #10560
I don't think that is the point here. It needs to be something that works
out of the box in case a beginner wants it and having to remap it is often a
chore which is not needed in the other two cases, as long as the combination
has not already been grabbed by something else.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting

[2019-11-29 16:01] fernando-jose-silva commented on #10535
I tested it on my personal machine, and unfortunately the crash occurred again in excel.
The windows view is the same between both personal and work machines. 18363.476
The nvda verse also seems to make no difference, now I tested with nvda alfa 18346.
Finally, the difference between the two machines is that on the personal machine nvda is installed and on the work machine nvda is not installed.
T

[2019-11-30 03:55] DrSooom commented on #10560
@leonardder: Well, and not all small laptop keyboards contains all 12 F-keys. They could also be behind Fn. But there is a solution especially for this already in NVDA – keyboard layouts.

Are NVDA+CTRL+Shift+S or NVDA+Shift+S already allocated? NVDA+S alone (Desktop layout) toggles between Speech off, Beep mode and Speech on. Thus it could be easier to memorize the Screen Curtain shortcut if it's

[2019-11-30 03:58] josephsl commented on #10560
Hi, I imagine some add-ons took those keys already, hence the very reason for not assigning them in the first place at the moment. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Friday, November 29, 2019 7:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Assign a gesture for

[2019-11-30 13:53] MarcoZehe commented on #10508
I am also seeing this. Not always, but often. It also happens that sometimes, NVDA takes about 10 to 20 seconds after entering the master password to speak the search field. Searching then also reacts very slowly.

[2019-11-30 15:54] ruifontes commented on #10560
Hello!

NVDA+Shift+S is already used by NVDA to togglr the suspension mode for
active application.

Às 03:55 de 30/11/2019, Daniel Mayr escreveu:

[2019-11-30 18:14] knowledgebaum commented on #9131
Has this issue been resolved?

[2019-11-30 18:32] josephsl commented on #9131
Hi, someone is working on it (last time I checked). Thanks for reminding us about this inconsistency.

From: knowledgebaum <notifications@github.com>
Sent: Saturday, November 30, 2019 10:14 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA's documentation still references help balloons (

[2019-11-30 22:03] tmthywynn8 opened #10565 "Regression: Adobe Flash support in version 2018.4 and later"
As of NVDA 2018.4, support for Adobe Flash in NVDA ceased working. I know that Flash support is ending for other browser vendors at the end of 2020, i.e., [Microsoft](https://blogs.windows.com/msedgedev/2017/07/25/flash-on-windows-timeline/), [Mozilla](https://blog.mozilla.org/futurereleases/2017/07/25/firefox-roadmap-flash-end-life/), [Google](https://www.blog.google/products/chrome/saying-goodby

[2019-12-01 20:12] Brian1Gaff commented on #10565
Does this also fail in other browsers besides IE?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-12-01 20:25] lukaszgo1 commented on #10370
@Andre9642 How it behaves with latest Alpha?

[2019-12-02 02:28] Qchristensen commented on #7288
Still present in NVDA 2019.2.1 and alpha-19346,0c0d88aa

No difference was found by editing the link (the same as editing links in Word) and changing the text to display or screen tip.

Pressing TAB, although it appears to move the focus (the link has a faint dotted outline), does not change NVDA's focus, navigator object or review cursor location.

The link does read as part of the text (eg with

[2019-12-02 08:00] Andre9642 commented on #10370
Fixed via #10498

[2019-12-02 08:00] #10370 closed

[2019-12-02 14:23] Neurrone opened #10566 "Automatic reading of incoming console text with UIA is severely broken"
CC: @codeofdusk

### Steps to reproduce:

Use the terminal with the experimental UIA support enabled.

### Actual behavior:

Either incoming text is not read, or old text is read instead of the updated region of the screen. Using the review cursor also doesn't seem to work properly, if I can reproduce this more reliably I'll open another issue.

### Expected behavior:

Incoming text is read accura

[2019-12-02 14:28] codeofdusk commented on #10566
To be fixed by #10559 (WIP).

[2019-12-02 19:29] Luke-Robinett commented on #7504
Thanks folks. I apologize for my terse comment. I've removed it as I felt it wasn't professional nor the impression I want to put out there. I understand things take time and that everyone believes his or her issue is the most important and should deserve most of the attention. As a developer myself, I realize not everything has a convenient solution, but it's great to hear that progress is being

[2019-12-02 21:35] bdorer commented on #10535
I'm not able to reproduce this.

Am 26.11.2019 um 12:58 schrieb Leonard de Ruijter:

[2019-12-02 22:08] bdorer commented on #9922
Hi, this is a bug introduced by brailleExtender. I'm able to reproduce
it with NVDA 2019.2.1 but not with latest NVDA-alpha so it has to do
with python3 support I think.
@diegomatos16 please deactivate brailleExtender and try to reproduce.

Thanks

Am 04.11.2019 um 01:37 schrieb diegomatos16:

[2019-12-02 22:24] bdorer commented on #3417
I could test this but I don't know which ribbons to use. The noted
Shortcut isn't working. Could someone describe the way using ribbon names?

Thanks

Am 15.08.2019 um 22:57 schrieb Adriani90:

[2019-12-02 22:29] bdorer commented on #3150
Hi @k-kolev1985 and @lukaszgo1 did anyboddy do further tests? If not,
please do and reply.

Thanks

[2019-12-02 22:58] bdorer commented on #8153
I'm not able to reproduce this with latest LibreOffice.

[2019-12-03 01:43] #8689 closed

[2019-12-03 01:43] #9131 closed

[2019-12-03 01:49] #10038 closed

[2019-12-03 02:11] #10036 closed

[2019-12-03 03:23] codeofdusk commented on #10477
Fixed in #10559.

[2019-12-03 04:15] codeofdusk opened #10569 "Keyboard handler/ToUnicodeEx: typed characters from Braille displays not reported"
### Steps to reproduce:
1. Open a Windows Console, or some other application which uses `toUnicodeEx` to determine typed characters.
2. With "speak typed characters" enabled, enter text using a connected Braille keyboard.

### Actual behavior:
No characters are reported.

### Expected behavior:
Typed characters are reported.

### System configuration
#### NVDA installed/portable/running from sourc

[2019-12-03 04:15] codeofdusk commented on #10569
Cc @leonardder @michaelDCurran

[2019-12-03 05:31] codeofdusk commented on #10560
NVDA+shift+F11. Intuitive for Mac users.

[2019-12-03 05:37] josephsl commented on #10560
Hi, note that what is intuitive for one platform may not be that intuitive for those unfamiliar at first. Thanks.

From: Bill Dengler <notifications@github.com>
Sent: Monday, December 2, 2019 9:32 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Assign a gesture for the screen curtain by def

[2019-12-03 08:17] FelixGruetzmacher commented on #8153
Don't have LibreOffice on any of my machines right now, sorry.

Am Mo., 2. Dez. 2019 um 23:58 Uhr schrieb Bernd Dorer <
notifications@github.com>:

[2019-12-03 09:38] feerrenrut commented on #8409
We haven't had any response on this issue. PR #10572 updates Espeak for reference.

[2019-12-03 09:38] #8409 closed

[2019-12-03 09:41] feerrenrut commented on #7595
Since we have no extra information on this issue, and it has been addressed I am going to close it. Please let me know if this issue is still ongoing.

[2019-12-03 09:41] #7595 closed

[2019-12-03 11:29] #10001 closed

[2019-12-03 11:32] diegomatos16 commented on #9922
Hi. I am not with the braille extender addon instaled in NVDA.

[2019-12-03 11:32] #9922 closed

[2019-12-03 11:45] leonardder commented on #7883
Duplicate of #2167

[2019-12-03 11:45] #7883 closed

[2019-12-03 20:56] jakubl7545 opened #10575 "With UIA Enabled, focus mode doesn't browse mode in MS Word"
### Steps to reproduce:

- Make sure that you have UIA support for Word enabled
- open attached document
- in focus mode, place caret at the beginning of a document
- switch to browse mode and navigate to first heading
- switch back to focus mode

### Actual behavior:
Caret is still at the beginning of a document.
### Expected behavior:
It should be at the first heading where browse mode was.
###

[2019-12-03 21:28] #10569 closed

[2019-12-04 04:16] derekriemer opened #10576 "warn the user when attempting to screenshot blackness"
### Is your feature request related to a problem? Please describe.

Blind users often take screenshots for sighted colleagues. It is common, when using a privacy feature like NVDA's built in screen hiding feature, to screenshot while the screen curtain is pulled down. This causes the user to think they have taken a screenshot of some application, and instead they have taken a screenshot of blackne

[2019-12-04 04:18] derekriemer commented on #10576
Another dialog would just have 3 buttons, but I don't like long text in buttons which is why I made a radio group.

[2019-12-04 07:53] leonardder commented on #10097
I've just looked into this briefly.

The OneCore docs say that rate may range from 0.5 to 6.0. This is exactly the range we allow with rate boost, so with rate boost on, 0% is equal to 0.5, 100% is equal to 6.0 and 50% is equal to 3.25. This means that from 50 to 100%, there theoretically is a significant rate change. However, it looks like in practise, this works differently.

It is not clear to

[2019-12-04 07:56] leonardder commented on #10451
@MarcoZehe, what voices are listed in your NVDA 2019.3 Alpha? I assume only the German voices?
Does this problem also occur when you have a bare configuration of NVDA?

[2019-12-04 07:58] leonardder commented on #10292
@derekriemer: What's the current state of this? Could you provide us the number of characters on one line you have set in your browse mode settings?

[2019-12-04 07:59] leonardder commented on #10121
@rakesh-a11y: Could you please provide an anser to @jcesth's questions in https://github.com/nvaccess/nvda/issues/10121#issuecomment-523241702?

[2019-12-04 08:00] leonardder commented on #10045
@MarcoZehe: can you still reproduce this?

[2019-12-04 08:02] leonardder commented on #9989
@markusg2: Another friendly reminder to provide details about the status of this issue.

[2019-12-04 08:03] MarcoZehe commented on #10451
Yes, only the German voices were listed. And yes, also happened with add-ones disabled.

[2019-12-04 08:03] leonardder commented on #9278
Let's continue this discussion on the development list. We can always reopen this if there is a real benefit for us to incorporate this SDK port.

[2019-12-04 08:03] #9278 closed

[2019-12-04 08:36] MarcoZehe commented on #10045
Yes, if I let it run long enough, with debug info enabled as the level, it still takes very long to come up.

[2019-12-04 08:38] michaelDCurran commented on #10119
@leonardder  I have improved comments as requested. However, I did not take your suggestion of changing the makeTextInfo call into a direct WinConsoleUIATextInfo construction as this is not needed in the move method -- it can stay high-level. The only reason I did it in WinConsoleUIATextInfo's ```__init__``` method was because I was passing in _rangeObj which makeTextInfo does not allow.

[2019-12-04 08:49] leonardder commented on #10045
This is likely to have to do with the length of the log. I've also seen
the log viewer having some problems with opening if the log is just
extremely huge.

[2019-12-04 08:52] leonardder commented on #2124
I'd like to implement this, but I'd also like to add a feature that allows the speech to read the display contents, i.e. when you are reading text, speech should read the chunk of text that's on the display, *not* the real text that's on the display. This is not going to work for NVDAObjects though, only textInfos.

[2019-12-04 09:05] #10119 closed

[2019-12-04 09:05] #10191 closed

[2019-12-04 10:11] feerrenrut commented on #7788
Fixed with commit 1863d239180f290faf7a80709353575887bb8b72 via PR #10173

[2019-12-04 10:11] #7788 closed

[2019-12-04 11:20] dingpengyu opened #10578 "Error when testing Braille viewer with NVDA version alpha-19410"
In Error when testing Braille viewer with NVDA version alpha-19410

### Steps to reproduce:
First open the NVDA menu
Then enable Braille viewer from the tools submenu
At this time an error tone will be issued
### Actual behavior:
error
### Expected behavior:
normal work
### System configuration
#### NVDA installed/portable/running from source:
install version
#### NVDA version:
NVDA version alpha-

[2019-12-04 11:22] dingpengyu commented on #10578
cc @feerrenrut

[2019-12-04 12:17] lukaszgo1 commented on #10566
@Neurrone According to @codeofdusk this should be fixed in the latest Alpha. Can you confirm?

[2019-12-04 12:49] rakesh-a11y commented on #10121
In the recent past I am not facing this issue. Perhaps this issue got resolved.

[2019-12-04 13:33] leonardder commented on #10578
It looks like the fonts have to be added to the data files in setup.py.

[2019-12-04 13:35] leonardder commented on #10121
In that case, closing this as works for me. We can always reopen if the problem returns.

[2019-12-04 13:35] #10121 closed

[2019-12-04 13:44] feerrenrut commented on #10578
Thanks @dingpengyu and @leonardder I'm looking at this now.

[2019-12-04 13:52] lukaszgo1 commented on #10578
@feerrenrut While not directly related the following is witten in the log after unchecking Braille Viewer from the tools menu:
ERROR - unhandled exception (13:03:17.072) - MainThread (3560):
Traceback (most recent call last):
  File "brailleViewer\brailleViewerGui.py", line 198, in _onDestroy
    self._savePositionInformation()
  File "brailleViewer\brailleViewerGui.py", line 180, in _savePosition

[2019-12-04 14:02] #10300 closed

[2019-12-04 22:36] peterquale commented on #10208
@ameyer95, I get the same result with Chrome and NVDA. My output is "methan". (Firefox does not share this issue.)

I see many similar issues any time a sentence or other line of related text within a block level element is split with another HTML element. Most often, it is a SPAN tag that perhaps makes part of the text visually hidden, or maybe a word in a sentence is a different color. As in thi

[2019-12-05 08:52] dreinn opened #10580 "Sound error when sending a message in thunderbird, alpha-19414,3ccd7b85"
### Actual behavior:

NVDA makes a sound error when pressing ctrl-enter for sending message in thunderbird.

### Expected behavior:

Sending message should be without error sound.

### System configuration
#### NVDA portable

#### NVDA version: alpha-19414,3ccd7b85

#### Windows version: Windows7

See attached log for info
[logSoundErrorThunderbird.txt](https://github.com/nvaccess/nvda/files/39258

[2019-12-05 09:01] dreinn commented on #10580
just for your information, this seems quite variable, no problem for last 5 messages I sent!

[2019-12-05 10:36] DrSooom commented on #10576
Too much text and not really practicable if you are using [Snagit by Tech Smith](https://www.techsmith.com/screen-capture.html) instead of Microsoft's Snipping Tool.

Therefore I suggest to hold the PrtSc during screen curtain is on, like it is currently the case with the NVDA modifier keys.
+ Screen curtain is enabled:
  + Speech/Braille message on the first PrtSc press: Press it twice/Double Pre

[2019-12-05 12:05] #10578 closed

[2019-12-05 13:09] #10335 closed

[2019-12-05 15:50] Brian1Gaff commented on #10580
What do you see in the log, is it perhaps  a sluggishness which makes the
info slow to be changed depending on the sending of an email?

I've seen similar things happen on web sites that are sluggish to be fully
displayed in waterfox and firefox but nothing apparently comes of these
errors.
 Brian
bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.

[2019-12-05 16:09] Neurrone commented on #10566
This appears to be fixed, thanks.

[2019-12-05 16:09] #10566 closed

[2019-12-05 16:25] leonardder opened #10582 "Tab traversal broken in Speech Viewer"
### Steps to reproduce:
1. Open Speech Viewer
2. Use tab to navigate through the speech viewer.

### Actual behavior:
Tab doesn't jump from control to control

### Expected behavior:
Tab jumps from control to control.

## Additional context
It looks like wx.Frame doesn't implement tab traversal like wx.Dialog. May be this can be fixed by putting all controls on a wx.Panel inside the frame.

[2019-12-05 18:49] leonardder commented on #10576
Implementation detail, if the ScreenCurtain inherrits from baseObject.ScriptableObject, you can provide a script on the curtain that captures print screen and disable itself for a short time before executing the gesture. In that case, I think a single flash of the screen is sufficient, a dialog is overkill.

[2019-12-05 18:51] leonardder commented on #10535
@fernando-jose-silva Can you reproduce this when NVDA is running as a portable copy on your home system?

[2019-12-05 20:25] codeofdusk commented on #10477
All of the linked issues (above) have been closed as of #10559.

[2019-12-05 20:32] lukaszgo1 commented on #10477
Closing as per commend above.

[2019-12-05 20:32] #10477 closed

[2019-12-05 21:01] #2167 closed

[2019-12-05 21:16] elliott94 opened #10583 "Windows 10 - Login Dialog: Prompt to Press a Key when Displayed"
### Is your feature request related to a problem? Please describe.

I'm not quite sure on the best approach to resolve this, so will describe the issue and would be grateful to get your thoughts.

With Windows 7 and earlier, if the Login dialog was configured to be displayed on boot, this was presented to the user and either prompted for a password to be entered, or for a user to choose their name

[2019-12-05 21:32] Adriani90 commented on #9261
I also hear the progress tones when downloading and the download list is displayed. As for the second request of progress beeps for page download, I agree with the coments from Jamie and Marco.
Thus, I am closing this issue for now.

[2019-12-05 21:32] #9261 closed

[2019-12-05 21:45] Adriani90 commented on #1825
As per Jamie's comment above, I do not see any probability for this to be implemented. If someone comes up with other arguments, please comment on this issue and we can reopen it. I am closing it as can't fix for now.

[2019-12-05 21:45] #1825 closed

[2019-12-05 21:47] Adriani90 commented on #891
Can anyone reproduce this in Madia player classic 1.8.8? This is the last version which came out in October 2019.

[2019-12-05 22:15] Adriani90 commented on #10580
I cannot reproduce this in NVDA alpha 19420,a2c6f0f8 and Thunderbird 68.3.0.
@dreinn could you please try with the same versions like me and report back?

[2019-12-05 22:32] Adriani90 commented on #9998
This is definitely not caused by NVDA. I did not hear from other users reporting this problem and I cannot reproduce it myself. I also tend to think that touchpad or mouse is very sensitive.
I am closing this as works for me.
@RichCaloggero if you need further suggestions please contact the users list at
https://nvda.groups.io/g/nvda
Thanks.

[2019-12-05 22:32] #9998 closed

[2019-12-05 22:34] Adriani90 commented on #9741
@bingen13 are you still having this issue in NVDA 2019.2.1?

[2019-12-05 22:39] Adriani90 commented on #9541
yes we have discussed this topic on NVDACon in detail. I also experience this in web based netviewer apps in internet explorer (i.e. SAP CRM). It is exactly the same behavior. Actually this is very annoying especially if you work with such documents and panes every day.
It seems NVDA recognizes data tables and layout tables and reports them together as nested tables. It can not really distinguish

[2019-12-05 22:43] Adriani90 commented on #9328
this is still reproducible in NVDA alpha 19420,a2c6f0f8 and Firefox 70.0.1.
cc: @jcsteh, @MarcoZehe.

[2019-12-05 22:47] Adriani90 commented on #9247
This is still reproducible in NVDA alpha-19420,a2c6f0f8
Thunderbird 68.3.0 and Windows 10 1909 update (build 18363.47).

[2019-12-05 22:49] Adriani90 commented on #8832
@kara-louise are you still having this issue? I cannot reproduce it in NVDA alpha-19420,a2c6f0f8
and thunderbird 68.3.0.

[2019-12-05 22:54] kara-louise commented on #8832
@Adriani90 No, I managed to fix it as it was a Thunderbird issue.
Turns out I had to repair my folders.
Feel free to close this,  and I should remember to update. :)

[2019-12-05 22:54] #8832 closed

[2019-12-05 22:59] Adriani90 commented on #8698
I am testing this in Thunderbird 68.3.0 with NVDA alpha-19420,a2c6f0f8 and cannot reproduce this.
The list is read as a list and the items are reported just fine when navigating with up and down arrow. Also the file name, file size and file source is reported for each item.
It seems the issue is fixed.
Closing as works for me.
Please, if you still have this issue, don'thesitate to comment on this

[2019-12-05 22:59] #8698 closed

[2019-12-05 23:03] Adriani90 commented on #8402
@Qchristensen can you still reproduce this issue in Thunderbird 68.3.0 with NVDA last alpha version?
I tried to reproduce it but I am not sure if I understand correctly the issue. I cannot really reproduce it.

[2019-12-05 23:05] Adriani90 commented on #8127
@vincent-lg can you still reproduce this issue in thunderbird 68.3.0 and NVDA 2019.2.1?

[2019-12-05 23:12] Adriani90 commented on #7141
I get following error in focus mode from time to time when using table navigation commands in the message list:

[code]

[2019-12-05 23:13] Adriani90 commented on #7141
And doing the same in browse mode I get following errors from time to time:

[code]

cc: @feerrenrut

[2019-12-05 23:15] Adriani90 commented on #5677
@mohdshara can you still reproduce this issue in NVDA 2019.2.1 in Thunderbird 68.3.0 or in Firefox 70.0.1?

[2019-12-05 23:17] Adriani90 commented on #4923
We did not get any updates on this for more than two years. I am closing as abandoned. Please comment on it if you have any further updates and we can reopen it.

[2019-12-05 23:17] #4923 closed

[2019-12-05 23:20] lstar4ever commented on #8698
Yes, this can be closed, the problem is fixed in the latest Thunderbird version.

[2019-12-05 23:22] Adriani90 commented on #4708
@ruifontes could you please test once more with Thunderbird 68.3.0 and NVDA last alpha?
I think I cannot reproduce it.
cc: @ehollig

[2019-12-05 23:25] Adriani90 commented on #4379
Honnestly, I don't think there is a feature for outlook express and I doubt that there is someone working on the app module. But we can still let this issue open for a while, maybe something happens about it.
cc: @lukaszgo1

[2019-12-05 23:29] Adriani90 commented on #1776
This is still reproducible in NVDA alpha-19420,a2c6f0f8
Thunderbird 68.3.0 and Windows 10 1909 update (build 18363.47).

[2019-12-05 23:30] Adriani90 commented on #9247
Closing as duplicate of #1776.

[2019-12-05 23:30] #9247 closed

[2019-12-05 23:35] Adriani90 commented on #398
Hmm this behavior seems to have changed in Thunderbird 68.3.0 and NVDA alpha 19420,a2c6f0f8.
I cannot really reproduce this anymore.
Is anyone able to reproduce this?

[2019-12-06 05:36] bingen13 commented on #9741
I'm still having the issue, though it seems less frequent. I am sure it's not an audio processing issue, because while NVDA is frozen I've heard other sound notifications coming through.

[2019-12-06 12:22] josephsl commented on #10583
Hi, Narrator does not even announce a hint about it at all, and it isn’t even shown on screen (unless I’m really wrong). Thanks.

From: elliott94 <notifications@github.com>
Sent: Thursday, December 5, 2019 3:17 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Windows 10 - Login Dialog: Prompt to Press a Key when Displayed (#1058

[2019-12-06 13:45] stickbear2015 commented on #10583
the fingerprint login method doesn’t require a keypress, just if a password or pin (either alpha numeric or numeric) is required are you required to hit a key to get the edit box.

I use the escape key because hey, your in my way whatever you are, get out of my way, please so I can enter my password/pin.

For some unknown reason this only happens with NVDA or JAWS, narrator for some obscure reason

[2019-12-06 17:04] feerrenrut commented on #10418
`zhy` dictionary compilation is intentionally excluded.
If someone wishes to investigate further, see `nvdaHelper/espeak/sconscript`
Under the comment `#Compile all dictionaries`
Change the line:
`missingDicts=['zhy', ] #'mt','tn','tt']`
to:
`missingDicts = []`
And try to build, the errors are:
[code]

[2019-12-06 17:06] fernando-jose-silva commented on #10535
I tested and unfortunately can reproduce the problem on the home computer with a portable copy.
So I think it's due to my office verion
[excel_portable.txt](https://github.com/nvaccess/nvda/files/3933210/excel_portable.txt)

Thank you very much for your attention, follows the log of the portable copy on the home computer.

[2019-12-06 20:08] bswanwick commented on #10003
I'm seeing this same issue when using NVDA with React and Material UI.  The <Dialog> components on their demo page show this behavior.  https://material-ui.com/components/dialogs/

[2019-12-06 22:24] malcalevak commented on #7585
Since I just encountered the same issue, here's their code, simplified to use inline CSS so you can copy/paste it:
[code]

[2019-12-06 22:46] audiogamer22 opened #10586 "NVDA slowing down and stopping from time to time on my pc."
You have arrived at a default issue template (bug report).
It is preferable to [choose the type of issue](https://github.com/nvaccess/nvda/issues/new/choose) to submit.
Hint: Swap to the preview tab to be able to click the links.
Direct links to the templates:
- [Bug report](https://github.com/nvaccess/nvda/issues/new?template=bug_report.md)
- [Feature request](https://github.com/nvaccess/nvda/iss

[2019-12-06 22:54] audiogamer22 commented on #10586
[debug log.txt](https://github.com/nvaccess/nvda/files/3934322/debug.log.txt)

[2019-12-07 08:00] gdata1 commented on #10555
The native UI Automation is enabled by default in microsoft edge starting with version 80.0.355.0 (Official Build) canary.

[2019-12-07 10:03] feerrenrut commented on #10582
Fixed by #10585 with commit 4cc025b5208d2106601847bcf6a38484836033fc

[2019-12-07 10:03] #10582 closed

[2019-12-07 11:37] Brian1Gaff commented on #10586
A couple of comments.
 1. Did you launch nvda while a browser was already running?
I see you do not have the windows 10 app essentials running??
3. Is the Eloquence driver an official one?

My suggestion would be to try the default, ie one core synth. instead of
Eloquence, or Espeak Quincy if you like the robot sound.
 Try with all add ons removed and launch firefox after nvda, and see what
happen

[2019-12-07 15:22] nishimotz opened #10587 "English userGuide.html is not correctly generated"
### Steps to reproduce:

* run NVDA with English language UI
* open User Guide (in English)
* visit 12.1.1. General and 12.1.12. Object Presentation

### Actual behavior:

some headings are show as follows

[code]

### Expected behavior:

They should be shown as HTML headings.

I believe line 1064 should be a blank line, and line 1547 should need one more blank line.

### System configuration
####

[2019-12-08 08:26] mohdshara commented on #5677
alright, Firefox V71.0 and NVDA 2019.2, and using the body of this very ticket:
If I type the 2 words in separate lines without trying to right align them
قفز
القط
1. I hear each word in the correct order as I arrow up or down.
2. pressing home on either of them makes NVDA speak the correct first letter.
3. Arrowing left when my cursor is placed on the first letter I hear blank as expected.
4. Arr

[2019-12-08 09:25] MarcoZehe opened #10588 "Control key gets stuck after using Clipboard History"
### Steps to reproduce:

1. In Windows 10 1809 or later, turn on Clipboard History through Clipboard Settings in Windows Settings.
2. Copy some bits of text.
3. Press WindowsKey+V to open Clipboard History, choose an item, and paste it using Enter.
4. Continue working.

### Actual behavior:

Sometimes, not always, the keyboard now behaves as if the control key got stuck. Arrow keys left and right

[2019-12-08 09:26] MarcoZehe commented on #10588
CC @josephsl Maybe you have seen this?

[2019-12-08 09:39] Brian1Gaff commented on #10588
This is not new, I've seen this sort of thing apparently randomly in Windows
7 as well, but usually when a word processor is running.

Might be some odd effect due to the way nvda can hook into some routines
perhaps?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored

[2019-12-08 12:25] kayatli opened #10589 "NVDA Reports Extraneous Info with Comboboxes in Excel"
### Steps to reproduce:
1. Open an excel sheet with data validation cells that contain options.
2. Arrow to a cell that has data validation with options.
3. Press alt-down arrow to open the combobox.
4. Use up/down arrow to move through the options.

### Actual behavior:
Every time I arrow to an option, NVDA is reporting that it's a combobox that's expanded, has data validation, and that it's a dr

[2019-12-08 12:43] kayatli opened #10591 "Change Terminology used for Comboboxes in Excel"
### Is your feature request related to a problem? Please describe.
For new users learning terminology like what comboboxes and submenus are and how to interact with them, there should be consistency in how these types of controls are reported. In Excel, comboboxes in data validation cells are reported as submenus. A new user may mistakenly try to go into it by pressing right arrow or enter, just l

[2019-12-08 13:48] zstanecic commented on #9615
What is the state of this featurerequest?
@leonardder
@leonardder @Andre9642 @feerrenrut @feerrenrut @feerrenrut

[2019-12-08 13:55] zstanecic opened #10592 "when switching from another synth to espeak, the exception is generated and the synth has switched successfully"
### Steps to reproduce:
1. switch from espeak to any synthesizer
2. switch from this synthesizer to espeak back again
### Actual behavior:
we have the following exception in the log
INFO - synthDrivers.espeak.SynthDriver.__init__ (14:40:32.566) - MainThread (2988):
Using eSpeak NG version b'1.49.3 dev'
INFO - synthDriverHandler.setSynth (14:40:39.122) - MainThread (2988):
Loaded synthDriver espeak

[2019-12-08 16:53] elliott94 opened #10594 "Windows 7 - X64: Extraneous Text announced by NVDA within Windows Explorer when Reading Tooltips of Directories that have an & Character"
### Steps to reproduce:

This is similar to #5210, with a slightly different set of steps performed to reproduce - this assumes that the reading of tooltips is enabled from within NVDA's preferences:

1. From within Windows Explorer, create a new folder with a name of "Explorer Test Folder to test & NVDA"

2. Enter the directory, and place several random files within; these can be of any filetype

[2019-12-08 21:43] Qchristensen opened #10595 "NVDA does not read categories when inserting Icons in Office 365"
### Is your feature request related to a problem? Please describe.

In Word 365:
1. In a blank document, press alt+n, n, s to select "Icons" from the Insert ribbon.
2. Press TAB twice to move from the edit, past the categories, to the icon list itself.
3. NVDA reports the movement
4. Press the down arrow twice to move past the first (Accessibility) category, to the first item in the Analytics cate

[2019-12-08 21:49] Qchristensen opened #10596 "Report list count in Office 365 Insert icons feature"
### Is your feature request related to a problem? Please describe.

Possibly related to #10595.

In Word 365:
1. In a blank document, press alt+n, n, s to select "Icons" from the Insert ribbon.
2. Press TAB twice to move from the edit, past the categories, to the icon list itself.
3. NVDA reports the movement
4. Press the down arrow twice to move past the first (Accessibility) category, to the fir

[2019-12-08 23:57] #10587 closed

[2019-12-09 00:03] Qchristensen commented on #10588
Just to confirm, I can replicate this with NVDA, and pressing control once seems to fix it.

I can't replicate with Narrator, or without any screenreader running.  There is no error or anything unusual in the NVDA log:

IO - inputCore.InputManager.executeGesture (11:01:52.356) - winInputHook (20872):
Input: kb(desktop):enter
IO - inputCore.InputManager.executeGesture (11:01:52.414) - winInputHook

[2019-12-09 02:34] MarcoZehe commented on #10588
Confirming that I cannot replicate with Narrator.

[2019-12-09 04:21] Qchristensen commented on #3417
I only currently have Office 365, but using that:
- Alt+o, n uses an old Office keystroke to open a bullets and numbering dialog.  Once it opens, it reads the item currently in use (for standard filled circle bullets made by typing * then space, this is now a "custom" bullet style in this dialog), but I can't get it to read the other parts of the dialog.

- Using the regular alt+h, u for bullets (

[2019-12-09 04:34] Qchristensen commented on #8402
I just tried this with Thunderbird 60.8.0 (Evidently it's been awhile since I used Thunderbird) and couldn't reproduce it.  I've just updated to 68.3.0 and still can't reproduce this one so I'm going to close as worksForMe.

[2019-12-09 04:34] #8402 closed

[2019-12-09 08:52] MarcoZehe opened #10597 "Speak More button and context menu in Clipboard History Window"
### Steps to reproduce:

1. Enable Clipboard History in Settings.
2. Copy a few items to the clipboard.
3. In NotePad or any other text field, press WindowsKey+V.
4. Select an item from the list.
5. Press Tab.
   * Expected: NVDA should say "More button".
   * Actual: NVDA remains silent.
6. Press SpaceBar.
   * Expected: NVDA should announce the appearance of the context menu, and announce the fi

[2019-12-09 09:36] CyrilleB79 commented on #10588
I did not test with the clipboard history but I have already encountered modifier key remaining in down state randomly. To go out of this situation, I press one by one the modifiers keys (ctrl, shift, windows, alt left and right versions). This has already happened with any of the modifier key. I did not find any situation where the issue could be reproduced, so I have not opened an issue for this

[2019-12-09 10:19] Brian1Gaff commented on #10588
I'd confirm that nothing is in the log at all. Its as if something memorises
the state or fails to cancel it but its really random in windows 7.
 I don't think its new, it used to occur in xp way back but seemed to get
less likely until relatively recently for some weird reason.

I don't know where to go with that. Its not happened today though, and
sometimes other oddities occur like double speak

[2019-12-09 12:34] davidacm opened #10598 "NVDA cannot upgrade old settings if winConsoleSpeakPasswords is present."
### Steps to reproduce:

1. Enable "Speak &passwords in Windows Console (may improve performance)" in advanced settings.
2. Try to install NVDA 2019.3beta1.

### Actual behavior:
An exception is generated and the current config is not updated. All current user settings are lost.

ERROR - config.ConfigManager._initBaseConf (05:37:42.736) - MainThread (12356):
Error loading base configuration
Traceb

[2019-12-09 12:50] davidacm commented on #10560
I like NVDA + control + f12.
Some laptops need fn key to press f12. But is a key easy to find because f12 is always in the same position.
PrintScreen doesn't have a standard position in laptop keyboards and most users doesn't know where to locate it.
In my personal case, I asigned NVDA + alt + c for this command.

P.S: NVDA should have a feature to use "complex" key gestures to access the unfreque

[2019-12-09 13:22] davidacm opened #10599 "NVDA freezes in firefox frequently after returning from a computer sleep."
### Steps to reproduce:
1. Open many tabs and some windows in firefox. It depends on the site, lighter sities need more tabs to discover this bug. You can try with 4 opened windows, one of them with 30 tabs or more of different sities. Interact with some of them.
2. Sleep your computer and unsleep it.
3. Interact with the opened sities. Open more sities.

### Actual behavior:
At some point, NVDA w

[2019-12-09 14:24] josephsl commented on #10597
Hi, I’ve been trying to look for a way to do that for several months to no avail. I’ll keep looking for a solution. Thanks for reminding me about this.

From: Marco Zehe <notifications@github.com>
Sent: Monday, December 9, 2019 2:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: [nvaccess/nvda] Speak More but

[2019-12-09 15:07] Neurrone commented on #10476
Wondering if an intermediate solution could be implemented in time for the release of 2019.3 to address the potential privacy concerns? E.g, an announcement when the screen curtain gets automatically toggled off.

[2019-12-09 16:51] Adriani90 commented on #10599
Could you please try with nvda 2019.3 beta 1? There were some improvements regarding this problem which are introduced in beta 2019.3

[2019-12-09 18:19] mehgcap opened #10600 "braille lags in Windows cmd.exe, worse when using SSH"
### Steps to reproduce:
1. Run cmd.exe. I notice a much longer lag when using SSH to connect to a remote server.

### Actual behavior:
NVDA speech echoes what I type immediately. Without SSH, braille responds in half a second or so. When SSH-ed to a server, it can take up to 2 seconds to respond, This includes typing and deleting text.

### Expected behavior:
Braille and speech should be in sync,

[2019-12-09 18:37] leonardder opened #10601 "In Electron apps, disable browse mode by default"
### Is your feature request related to a problem? Please describe.
The number of Electron apps as well as applications where browse mode is triggered erroneously is increasing.

### Describe the solution you'd like
 I'd like to suggest to disable browse mode by default for at least the following apps and cases, in addition to Visual Studio Code and Skype:

* Spotify
* Microsoft Teams
* Windows Exp

[2019-12-09 18:38] lukaszgo1 commented on #10600
@mehgcap What happens if you set Windows Console support from advanced settings to legacy instead of Prefer UIA?

[2019-12-09 18:47] mehgcap commented on #10600
With Legacy selected, things seem to work perfectly once more.

[2019-12-09 18:55] lukaszgo1 commented on #10600
cc @codeofdusk @michaelDCurran

[2019-12-09 18:59] codeofdusk commented on #10600
What happens if you go back to automatic, but select "speak passwords in Windows console"?

[2019-12-09 19:05] mehgcap commented on #10600
Doing this causes the problem to return. I should also say that the NVDA key sometimes seems to be stuck, and I have to press it (caps lock, in my case) once before it un-sticks. This problem is present regardless of the "speak passwords" option's status. Using legacy mode fixes it, as well as the lag problem. Somehow, the two seem related.

[2019-12-09 19:26] codeofdusk commented on #10600
Are you typing on a Braille or qwerty keyboard?

[2019-12-09 19:28] mehgcap commented on #10600
Sorry, I forgot to specify that. I'm using a standard QWERTY keyboard, using laptop layout, though I'm on a desktop machine. Caps lock is my primary NVDA key, with the insert key in the "six pack" as my alternative.

[2019-12-09 19:34] codeofdusk commented on #10600
Do you also experience typing lag in the console when using your Braille keyboard?

[2019-12-09 19:46] mehgcap commented on #10600
Yes, as well as dropped characters. With legacy mode, I have no trouble. With automatic mode, braille typing is very laggy. I typed
git st
(my alias for "git status) and wound up with
gitt
(note the two Ts). I tried again, and the second word never even appeared. I also got no speech feedback as I deleted using the braille keyboard, except for when I deleted a space. I have no idea what's going on

[2019-12-09 21:37] craxal commented on #10548
Similar issue here. If the table label is updated, NVDA reads it 3 times in a row.

[2019-12-09 22:26] Qchristensen commented on #8961
Just to confirm this is still present in Office 365 and NVDA 2019.3 beta 1 on Windows 10 Version 1903 build 18362.388

Office 365 Version:
16.0.12228.20322

Log snippet follows:

[code]

[2019-12-09 22:31] Qchristensen commented on #8961
Just updated the title as this isn't limited to Office 2010 or NVDA 2018.x

[2019-12-10 02:35] ntcarver0 opened #10602 "Re-add Screen Curtain Enabled Beep at NVDA StartUp"
### Is your feature request related to a problem? Please describe.
If a user is is expecting the enabled beep that was available in the Screen Curtain add-on when NVDA was started and Screen Curtain was enabled by default, they may incorrectly assume that Screen Curtain is not enabled in NVDA 2019.3beta1 after a restart.

### Describe the solution you'd like
If it is possible, it would be great to

[2019-12-10 07:17] davidacm commented on #10602
I agree with this. In fact, a command to ask the status of this feature should be provided.
Even with the add-on, I usually have to change the screen curtain status to check if the feature is enabled or disabled.
Also a tone can be played when the screen curtain is enabled, even if the feature was enabled with a gesture.

[2019-12-10 09:23] jcsteh commented on #10601
This really concerns me. Certainly, having used it extensively, I don't
think Spotify is particularly usable without browse mode. Same for many
parts of Slack, although they at least have tried to implement keyboard
navigation (albeit quirkily/buggily).

[2019-12-10 10:33] leonardder commented on #10601
Interesting findings. May be we should advertise the using browse mode on page load options in configuration profiles instead.
As for MS Teams, using browse mode really slows down its use, so I will start with a pull request for it, whereas leaving Spotify and SLack as they are.

[2019-12-10 14:12] mehgcap opened #10603 ""expand to computer braille for the word at the cursor" option not translating punctuation, not reverting dot 7 caps indicator"
### Steps to reproduce:
1. Enable the option in the title.
2. Type some text, such as PHP code, so that punctuation preceeds a word. Example:
if($myVar == 5)
3. Place your cursor at the start of the line.

### Actual behavior:
the word "myVar" changes to computer braille. The parenthesis and dollar sign do not.

Place your cursor at the end of the line, so the line goes back to contracted braille.

[2019-12-10 14:58] lukaszgo1 commented on #10601
The problem with overwriting it per appModule is that users cannot disable it with a configuration profile. When browse mode got disabled by default for Skype there were some users on NVDA list for whom this broke their workflow - their were apparently used to navigating through Skype by searching particular strings with CTRL+NVDA+F.

[2019-12-10 15:03] Adriani90 commented on #10603
cc: @andre9642, @leonardder

[2019-12-10 15:17] Andre9642 commented on #10603
Hi @mehgcap. You should report this to [liblouis](https://github.com/liblouis/liblouis/issues/new).

[2019-12-10 16:02] josephsl commented on #10597
Hi,

Turns out these controls do not fire focus change events.

Technical: UIA objects come with "shouldAllowUIAFocusEvent" property, which returns whether the element can declare itself keyboard navigable (has keyboard focus property is used). For some reason, clipboard history context menu and other parts of this part of modern keyboard does not expose this at all, so a hack is needed until Micr

[2019-12-10 16:04] josephsl commented on #10597
Hi,

Clarification: rather, "has keyboard focus" is set to "False".

Thanks.

[2019-12-10 17:00] mehgcap opened #10605 "indentation indicator tones are delayed when using Firefox"
### Steps to reproduce:
Using Firefox, open any webpage. Be sure you are in Browse Mode, and that the page has some indentation on it. Also be sure to enable indentation indication and set it to tones. I haven't tested using speech instead of tones.

### Actual behavior:
Tones are delayed. When you arrow to a line that has a different indentation level, the tone plays well after speech starts to s

[2019-12-10 18:16] leonardder commented on #10602
Interesting suggestion. This might also cover the case mentioned in #10476 where someone misses the switch of the curtain.

[2019-12-10 18:16] leonardder commented on #10476
After thinking about this a little more, I really want to keep the possibility to switch on the Screen Curtain on for some profiles and of for others.

[2019-12-10 19:27] mhussaincov opened #10606 "google chrome chrome's task manager is in accessible when arrowing up and down the list of chrome processes"
### Steps to reproduce:
1. launch google chrome
2. access chrome's task manager by going to the more tools option
arrow up and down the list of chrome processes,

### Actual behavior:
nvda does not read out the name of the chrome process, it just says unknown when arrowing up and down the list

### Expected behavior:
nvda should read the list of chrome processes

### System configuration
#### NVDA

[2019-12-10 22:48] Adriani90 commented on #10606
cc: @feerrenrut

[2019-12-10 22:51] Adriani90 commented on #10605
cc: @jcsteh, @leonardder

[2019-12-10 22:59] Adriani90 commented on #10476
Actually I think it would be nice if we could specify for which profile a certain setting should apply. I.e. when in vision settings, for each setting there should be a combo box with following options, including all created profiles:
1. Off
2. On (globaly)
3. on (profile 1)
4. on (profile 2)
etc.

This structure could be applied for every settings cathegory where check boxes are displayed. Thus,

[2019-12-10 23:04] jcsteh commented on #10605
My guess is that what you're noticing is that the tone now occurs at the start of the actual text. So, if the text is "test" and is a visited link, you'll hear the tone after the words "visited link"; i.e. the tone will play with "test". While this is certainly different, I don't see this as a bug. If you were reporting indentation with speech, you'd hear "link 2 space test", not "2 space link tes

[2019-12-10 23:06] Adriani90 commented on #7173
@jcsteh can you reproduce this also in Firefox 71 with NVDA alpha-19441,855bf207?
When I try your simple test case there is no error displayed in the log.

[2019-12-10 23:10] jcsteh commented on #7173
Yes, I can, but I had to tweak the test case slightly:
`data:text/html,<section aria-label"almen%C3%BCk" role="region">test`
Same underlying bug though.

[2019-12-10 23:15] Adriani90 commented on #7173
Ok I can reproduce it now, thank Jamie for the modified simple test case.
I get slightly differen error than above as follows:

[code]

I don't really know why the column is different in every error. Maybe it depends on screen resolution?

cc: @feerrenrut

[2019-12-10 23:30] jcsteh commented on #7173
The column number in the error will be different for each modified test
case, since the position of the problematic code changes. It should be the
same for the same test case on the same browser, though.

[2019-12-11 01:42] davidacm commented on #10599
Thanks. I tried with the beta. Is hard to get this issue, but the problem is still present. Now NVDA recovers of freeze by itself, but the issue won't disappear until restart firefox. The log in debug mode is here:

DEBUGWARNING - watchdog._watcher (19:30:09.718) - watchdog (16788):
Trying to recover from freeze, core stack:
  File "nvda.pyw", line 215, in <module>
  File "core.pyc", line 545, in

[2019-12-11 02:38] Qchristensen opened #10607 "NVDA 2019.3Beta1 crashes when setting synthesizer to eSpeak NG if path name contains accented character"
### Steps to reproduce:

1. Start NVDA 2019.3 beta 1.
2. Create a portable copy.
3. When asked where to create the portable copy, specify a folder name which includes a character such as é, ç, ş, ğ.
4. Start the portable version.
5. Open NVDA's synthesizer dialog (NVDA+control+g)
6. Press HOME or use the arrow keys to select the "eSpeak NG" synthesizer.
7. Press ENTER.

### Actual behavior:

At th

[2019-12-11 03:02] josephsl commented on #10607
Hi, don’t tell me this is a side effect of text handling differences with Python 3 unless this is Espeak NG specific (one way to test is using an alpha release in August with the same setup). Thanks.

From: Quentin Christensen <notifications@github.com>
Sent: Tuesday, December 10, 2019 6:39 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvac

[2019-12-11 03:32] Qchristensen commented on #10607
Ok I tried Alpha 19128 from early November and it crashed the same way.

I tried the oldest alpha on the snapshots page currently 18581, from Sept 10 and it crashed.

So back to there at least it crashes, and it works back in 2019.2.1

[2019-12-11 03:43] josephsl commented on #10607
Hi, this suggests it might be a Python 3/path issue, given that those earlier alphas come with older Espeak NG releases. Thanks for clarifying this.

From: Quentin Christensen <notifications@github.com>
Sent: Tuesday, December 10, 2019 7:32 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NV

[2019-12-11 05:41] Adriani90 commented on #10599
Cc: @jcsteh

Von meinem iPhone gesendet

[2019-12-11 08:46] davidacm commented on #10599
Another log that seems to contain more info:

DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IAccessibleRole (02:37:18.153) - MainThread (15176):
accRole failed: (-2147024809, 'El parámetro no es correcto.', (None, None, None, 0, None))
DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IAccessibleRole (02:37:19.467) - MainThread (15176):
accRole failed: (-2147024809, 'El parámetro n

[2019-12-11 11:08] XLTechie commented on #10605
On Tue, 10 Dec 2019, James Teh wrote:

Consistent with what? Not with fact, surely.

The two spaces are not part of the visited link. But that makes it seem that
they are.

The two spaces come before the text which is the visited link.
So they should not be named as being part of the visited link.
That is changing the nature of the link, by making the indentation part of it.

So if a blind user sh

[2019-12-11 14:23] Neurrone commented on #10476
It sounds like there is a lot of design work that will take time.

I suggest as an intermediate solution just announcing when the curtain gets automatically switched off? This addresses the immediate privacy concerns, without committing to a design for how vision providers interact with profiles.

[2019-12-11 14:29] mehgcap commented on #10605
Thanks, @JCSteh. This is exactly what I'm experiencing, and now that I know what I'm hearing, it makes sense. I'm not sure how I feel about it yet, but I suspect it's just something new. In two weeks, I'll be so used to it I won't even think about it, and going back to the previous way will feel as odd as this new way does today.

As to @XLTechie's point, I see what you're saying, but I don't thin

[2019-12-11 14:32] Leuvarden opened #10608 "NVDA + Chrome: Escape key is not working on menuitems"
### Steps to reproduce:
1. Turn on NVDA, open Chrome (Version 78.0.3904.108), go to w3c page: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html
2.  Use Tab to focus "Font" menu (or any other), press Enter to open it;
3. Press Escape key to close the menu.

### Actual behavior:
Escape key should be pressed twice to close the menu.

### Expected behavior:
The men

[2019-12-11 19:07] frastlin opened #10610 "Allow the Focus Mode cursor and Brows Mode Cursor to sync in HTML editable applications"
### Is your feature request related to a problem? Please describe.

The problem is that I am unable to treat rich text editing applications, like [Google Docs](https://github.com/nvaccess/nvda/issues/9041) like Word, which makes Word my defacto text editor, just because of how quick I can move between elements when in brows mode.

### Describe the solution you'd like

I would like when I am editin

[2019-12-11 23:54] jcsteh commented on #10605
Why do you assume the two spaces aren't part of the link? They can be and often are. Weird, yes, but does it happen, absolutely. Consider this example:

`data:text/html,<p>Next line is link with spaces before it</p>&nbsp;&nbsp;<span role="link">test</span><p>Next line is link containing spaces</p><span role="link">&nbsp;&nbsp;test`

You'll see that in the first link, NVDA reports the indentation b

[2019-12-12 07:25] aaclause opened #10612 "Excel navigation causing _ctypes.COMError"
### Steps to reproduce:
1. Open Excel.
2. Fill some cells
3. Navigate to another cell (with enter/tab/arrow keys)

### Actual behavior:

The following errors occur and sometimes Excel crashes completely:

<details><summary>Show/hide Log</summary>

[code]

</details>

### Expected behavior:
No error

### System configuration
#### NVDA installed/portable/running from source:
Installed.

#### NVDA ve

[2019-12-12 09:12] surfer0627 opened #10613 "IE11: toggleVirtualBuffer, no audio indication of Focus and Browse modes"
This case occurs in edit field only. When user moves to edit field, and manually force focus mode.

### Steps to reproduce:
1. Open an internal page.
2. Press e to move to edit field.
3. Press NVDA+space to switch to focus mode.
(No audio indication. NVDA played audio error.wav.)
4. Press NVDA+space to switch to browse mode.
#### Actual behavior:
(No audio indication.)
By using single letter nav,

[2019-12-12 10:25] MariiaRi opened #10614 "FAQs reading is wrong"
### Steps to reproduce: Have an article that have a word "FAQs". Use NVDA to pronounce it.

### Actual behavior: The acronym spelling is wrong, sounds like a rude sentence.

### Expected behavior: For the NVDA to read it as separated letters. Was able to find that if write as FAQ's - the spelling is correct

### System configuration:
#### NVDA installed/portable/running from source: Application

#

[2019-12-12 10:47] XLTechie commented on #10614
What synth are you using?

[2019-12-12 10:50] MariiaRi commented on #10614
I have Windows OneCore voices, but checked the others as well and I can reproduce.

[2019-12-12 12:33] Adriani90 commented on #10614
This is specific to Synthesizers and can only be solved by adding an Expression to the dictionary or by changing the phonemes in the Synthesizer itself. Please contact the synth Provider for a solution.
Closing as invalid.

[2019-12-12 12:33] #10614 closed

[2019-12-12 12:59] francipvb commented on #10608
Hello,

This is a normal behavior of NVDA because when you open the web page you are in browse mode. When NVDA switches to focus mode automatically, browse mode is enabled automatically too, and this is what occurs when you press escape. In fact, this is a bit strange.

CC @feerrenrut @leonardder @jcsteh what are the motivations for this behavior?

[2019-12-12 13:01] francipvb commented on #10606
Confirmed with Edge beta.

[2019-12-12 13:12] francipvb commented on #10596
Confirmed. The fact is that NVDA does not report the element name for MSHTML elements in some cases.

[2019-12-12 14:26] beqabeqa473 opened #10615 "nvda is skipping empty columns when navigating with ctrl+alt+left/right arrows"
hello all.

in recent snapshots of nvda, i discovered some strange issue.

in multy column listviews, nvda is skipping empty cells when navigating with ctrl+alt+left/right arrows.

to better observe a situation, try to run code below and try to navigate with in first item.

[code]

[2019-12-12 21:16] Adriani90 commented on #10615
cc: @leonardder is this maybe because empty columns are invisible? Could be affected by #9873. However, I do not see why someone needs to have empty columns in lists reported by NVDA.

[2019-12-12 21:19] Adriani90 commented on #10613
cc: @feerrenrut

[2019-12-12 21:20] Adriani90 commented on #10612
cc: @michaelDCurran

[2019-12-12 21:27] Adriani90 commented on #10605
Just a thought from my side, could this not confuse users who might think that the indentation is to the right edge of the screen and not from left edge? I mean if the tone is played after the link is spoken, the could create this impression.

[2019-12-12 21:52] jcsteh commented on #10605
It's played after the word link is spoken, not the whole link. So, if the
spaces are part of the link and the rest of the text in the link is "test",
you might hear "link", followed by the beep and the word "text" in parallel.

[2019-12-12 21:59] jcsteh commented on #10608
You press enter on a form field to switch to focus mode. The symmetric behaviour is that you press escape to get out of focus mode and back into browse mode. That's why it's implemented like this.

However, there needs to be an exception for ARIA menus, since escape should clearly have different behaviour in this case. I thought we had an existing issue for this, but if we do, I can't find it.

No

[2019-12-12 22:16] Adriani90 opened #10616 "NVDA does not report objects in Malwarebytes 4.0.4"
### Steps to reproduce:
1. INstall Malwarebytes 4.0.4
2. Open it
3. Tab around
4. Use object navigation and route the mouse to different objects

### Actual behavior:
When tabbing around, NVDA does not report anything.
When using object navigation, NVDA reports the objects. When routing the mouse to objects, sometimes I get errors. I could catch following:

[code]

### Expected behavior:
NVDA shou

[2019-12-12 22:18] Adriani90 commented on #10616
@josephsl, @leonardder could this might be related to new QT versions?
It also seems that NVDA generates an error saying that the version atribute is unknown or so. Is this maybe related to app host versioning?

[2019-12-12 22:42] Adriani90 commented on #10605
Ok I should have read more carefully the comments above :-). Now I understand. In this case I am closing this issue as works for me.

[2019-12-12 22:42] #10605 closed

[2019-12-13 00:35] surfer0627 commented on #10613
[nvda toggle Virtual buffer line 486.log](https://github.com/nvaccess/nvda/files/3958401/nvda.toggle.Virtual.buffer.line.486.log)

[2019-12-13 01:50] Phoenix1991-lab opened #10617 "Project 64 Cheats Issue"
Greetings, This is Analis. I am having major issues with the cheat menu in Project 64. You may not know this, but project 64 is a Nintendo 64 emulator. When I try to enable cheats, the menu items all appear to be checked. When I try to manipulate a cheat then close out of the cheats menu, it resets itself. What do I need to do to make this work? I really want to know. Please get back to me ASAP! T

[2019-12-13 02:02] beqabeqa473 commented on #10615
yes, for some people including me it is important.

because i can jump for example to last name which for example on this
specific item in null but on another items it can be filled.

and also, i don't think they are invisible, they are just empty for
one specific item, but not for other.

On 12/13/19, Adriani90 <notifications@github.com> wrote:

--
with best regards beqa

[2019-12-13 06:41] hozosch commented on #10185
I'm now running 2019.3 beta 1 installed on windows 10 18363, and I still have that problem. It's whenever NVDA scrolls, and sometimes when it finishes a sentence. I think it's a speech refactor problem, because I was using an inofficial eloquence driver portet to python3, which also did it.

[2019-12-13 06:51] leonardder commented on #10615
This indeed looks like a regression. It makes sense to skip the columns when they are of width 0, but in this case, that shouldn't be the case.

[2019-12-13 08:14] Brian1Gaff commented on #10617
I think you might be better raising this on the development list, as odds
are without the template somebody will  not look at this issue. Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Phoenix1991-lab" <not

[2019-12-13 09:30] CyrilleB79 opened #10618 "Review cursor in console does not move as expected in NVDA 2019.3beta1"
### Steps to reproduce:

* Open Windows console (cmd)
* Press Numpad8 to read current line
  You can hear "C:\Users\myLogin>"
* Press Numpad4 many times to go back word by word
  You can hear successfully ":\User", "blank", " réservés"
  Note: on my French Windows the non empty line before the prompt is the following:
  `(c) 2018 Microsoft Corporation. Tous droits réservés.`
* Press Numpad6 to go

[2019-12-13 09:32] CyrilleB79 commented on #10618
Cc @codeofdusk

[2019-12-13 09:59] zstanecic commented on #10185
Hi!

Please try it with some official synth, especially sapi 4 or 5, and RH Voice or vocalizer

From: hozosch <notifications@github.com>
Sent: Friday, December 13, 2019 7:42 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3 versions of NVDA produce a scratch in the speech when finishin

[2019-12-13 12:08] hozosch commented on #10185
I primarily use Espeak, and it still happens with this synth. In sapi4 and 5 it doesn't happen, I don't have the money to buy vocalizer.

[2019-12-13 12:48] Adriani90 commented on #10185
Can you try on a different Laptop or PC? Can you reproduce it? Do you use multiple Sound Cards?
I am using NVDA 2019.3 Beta 1 on different PCs both with eSPeak and Eloquence as Wella s one core voices, both on Windows 10 and Windows 8.1. I cannot reproduce this Problem.

It might be a Sound issue from your Sound Card. Try also with different Headsets or Speakers.

[2019-12-13 12:57] Phoenix1991-lab commented on #10617
how to I contact NVDA Developers

On 12/13/19, Brian Gaff <notifications@github.com> wrote:

[2019-12-13 13:21] hozosch commented on #10185
I don't have any other OS or PC to test with. When I opened the issue, I had windows 7 on this machine I'm using now, and there it was also reproduceable. I also don't have any other sound card except the internal one with the realtec driver installed. Espeak is the only synth with which this happens, if we exclude that inofficial synth.

[2019-12-13 13:57] mehgcap opened #10619 "2019.3 beta 1 logs this error semi-frequently"
### Steps to reproduce:
not known

### Actual behavior:
Nothing odd happens, except the two-note sound indicating an error. Each time I check the log, I find the same traceback. Here it is:

[code]
### Expected behavior:
n/a
### System configuration
#### NVDA installed/portable/running from source:
portable
#### NVDA version:
2019.3 beta 1
#### Windows version:
10, 1903
#### Name and version of ot

[2019-12-13 14:16] zstanecic commented on #10185
So… it is a problem of espeak

From: hozosch <notifications@github.com>
Sent: Friday, December 13, 2019 1:09 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3 versions of NVDA produce a scratch in the speech when finishing the end of a line (#10185)

I primarily use Espeak, and it stil

[2019-12-13 14:48] sasgrw commented on #9715
So if treegrids automatically switch to focus mode (like listboxes and trees), then manually switching to browse mode **should** work?  I tried it and I can indeed navigate within the treegrid using standard table navigation (`ctrl+alt+arrowkey`).  On the example page in the OP, I navigated to the "Example" heading using `H` and then down-arrowed.  It announced _"tree view"_.  Using table navigati

[2019-12-13 16:59] zstanecic opened #10620 "In the windows explorer in the open dialog file list file names are read twice"
### Steps to reproduce:
1. for example, open the NVDA add-ons manager, and press on install add-on button.
2. when pressed, the open dialog appears to chose the add-on.
3. press shift+tab twice to go to the file list.
4. find the desired file you need
### Actual behavior:
file and folder names are pronounced twice, for example ad-on updater.nvda-addon, or the folder name add-ons add-ons
### Expect

[2019-12-13 17:13] Brian1Gaff commented on #10619
Reminds me of the way the suggest number of items in a list often gets it
wrong.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-12-13 18:00] XLTechie commented on #10620
Actually, I can replicate that bug in 2019.2.1.

[2019-12-13 18:02] XLTechie commented on #10620
What about in the add-on installer dialog? I am getting your double-speak
behavior there in 2019.2.1.

[2019-12-13 18:04] lukaszgo1 commented on #10620
This is a duplicate of #2395 and it is definitely not a regression.

[2019-12-13 18:35] zstanecic commented on #10620
Can you give arguments, why this is not a bug?

Users see this like a bug, because it’s spurious

From: Łukasz Golonka <notifications@github.com>
Sent: Friday, December 13, 2019 7:04 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] In the windows explorer in the open dialog file list file names

[2019-12-13 18:36] zstanecic commented on #10620
Luke…

It’s normal for portable copies, but not for installed

From: Luke Davis <notifications@github.com>
Sent: Friday, December 13, 2019 7:00 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] In the windows explorer in the open dialog file list file names are read twice (#10620)

Actually, I ca

[2019-12-13 18:51] lukaszgo1 commented on #10620
@zstanecic wrote;

Where you've seen me saying that it is not a bug? I only said that it is not a regression because, well duplicate of issue from 2012 cannot be a regression, can it?

[2019-12-13 20:26] leonardder commented on #10619
That's entirely unrelated.

According to the log, it looks like you were using Firefox or Thunderbird when triggering this problem. Do you use one or both of those?

[2019-12-13 20:28] leonardder commented on #10612
Do you by any chance have the NVDA Highlighter on?

[2019-12-13 20:30] leonardder commented on #10607
I think this might have to do with us using the wrong encoding for the path.
Does NVDA generate a crash dump?

[2019-12-13 21:25] Andre9642 commented on #10612
No. I tested with a clean portable copy (2019.3beta1)), just with braille enabled. Oh, I just realized that my log corresponds to my test with NVDA 2019.3beta1 portable (and not alpha). In any case, result are the same.

[2019-12-13 21:49] Adriani90 commented on #9625
Actually there are also young people surfing through the internet who do not know this feature. Also when pressing ctrl+tag to swich between tabs or ctrl+t to open new tabs, the tab titles are reported. Why not when pressing ctrl+enter?

[2019-12-13 21:51] Adriani90 commented on #9625
cc: @MarcoZehe do you have any edea for firefox at least, why is nothing reported when pressing ctrl+enter on a link?

[2019-12-13 21:53] DrSooom commented on #10619
Maybe related: #8967

@mehgcap: I guess if you have disabled the braille output (= no braille display), then this error doesn't occur, right?

[2019-12-13 21:55] Adriani90 commented on #9129
This is still reproducible in NVDA 2019.3 Beta 1. Disabling "automatically move system focus to focusable elements" with nvda+8 solved it but this experimental feature still has other issues.

[2019-12-13 21:57] Cleversn commented on #9625
Just as a matter of curiosity, the reason why I have never realized this problem is because I've created a sound scheme at the Windows control pannel to play a sound when a new process is opened. So, on pressing control+Enter, I know a new tab has opened because the open program sound plays.

[2019-12-13 22:00] Adriani90 commented on #9572
This seems solved in Skype UWP 8.54 and NVDA 2019.3 Beta 1. Closing as works for me.

[2019-12-13 22:00] #9572 closed

[2019-12-13 22:03] Adriani90 commented on #9172
cc: @jcsteh

[2019-12-13 22:07] Adriani90 commented on #9571
@jcsteh I actually don't think that this is a bug perse, but Maybe it could be made optional to read the whole row or to read the current cell only. At least in other applications like MS Word for example, NVDA reads only the current cell when pressing down arrow in tables.

[2019-12-13 22:08] lukaszgo1 commented on #9625
In other cases like CTRL+T or  CTRL_TAB NVDA reports title of the new tab because focus moves to it.
When opening a new one with CTRL+Enter it does not, so there is no point reporting anything. In addition if someone presses CTRL+Enter it is highly unlikely that it was done without knowing what this shortcut would do.

[2019-12-13 22:08] Adriani90 commented on #9264
cc: @CyrilleB79

[2019-12-13 22:15] Adriani90 commented on #10612
Related or maybe duplicate of #9317.

[2019-12-13 22:21] Andre9642 commented on #10612
@Adriani90 Indeed, sorry. Feel free to close my duplicate! However, my log is maybe more detailed. :)

[2019-12-13 22:23] DrSooom commented on #10617
@Phoenix1991-lab: First, please completely fill out the bug report draft, otherwise it will be closed. And also try it here: https://nvda.groups.io/g/nvda

Please note that the NVDA main devs are currently working on the release of NVDA 2019.3, which is a very huge step in NVDA's history. Therefore this bug, if it's really one in NVDA, may get fixed next year or even later as Project64 isn't an ap

[2019-12-13 22:35] Adriani90 commented on #9059
Ok it seems solved in Firefox 71, Chrome 79 and NVDA 2019.3 Beta 1. The focus stays not on the previously expanded menu item after pressing escape but at least it remains in the menu. Closing as works for me.

[2019-12-13 22:35] #9059 closed

[2019-12-13 22:42] Adriani90 commented on #9564
@Qchristensen I am testing again with NVDA 2019.3 Beta 1, In my case, step 3 still does not open the dialog for general settings. NVDA does not report anything.
Afterwards, Except for NVDA+ctrl+s, all other attempts to open other settings cathegories result in the notification which says that a settings dialog is already open.
It is however strange to me that only opening the synthesizer dialog wo

[2019-12-13 22:44] Adriani90 commented on #9359
This should be improved further in NVDA 2019.3 Beta 1. I cannot reproduce this anymore at all.
Anyone still having this issue?

[2019-12-13 22:47] Adriani90 commented on #9222
Still reproducible in NVDA 2019.3 Beta 1.
cc: @feerrenrut which priority would you assign to this? I my view it is a quite severe issue since the keyboard does not work for quite some time and switching windows does not work either.

[2019-12-13 22:53] Adriani90 commented on #9625
In my view it should at least report that a new tab has opened in background. Someone might press the key stroke also accidentally. Or at least a sound should indicate that something happened. This could be introduced by the browser itself, it does not have to be a feature in NVDA.

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Freitag, 13. Dezember 2019 23:08
An: nvaccess/nvda <nvda@no

[2019-12-13 22:54] Adriani90 commented on #10612
Thanks Andre, I will close mine.

Von: André-Abush Clause <notifications@github.com>
Gesendet: Freitag, 13. Dezember 2019 23:21
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] NVDA 2019.3 and Excel 2016: _ctypes.COMError (#10612)

@Adriani90 <https://github.com/Adriani90>  Indeed, sorry. Fee

[2019-12-13 22:56] Adriani90 commented on #9317
Closing in favor of #10612 which contains a more detailed log.

[2019-12-13 22:56] #9317 closed

[2019-12-13 23:25] CyrilleB79 commented on #9264
With Outlook 2016, I do not have anything spoken when I press these shortcuts. It is a problem because the message has changed and this should be announced.

There is probably nothing announced because the foreground window of the message does not change; only its content is updated.

@Adriani90, why would you expect to have Sender and Subject announced? Is it because this is the information you a

[2019-12-13 23:56] DrSooom commented on #10616
@Adriani90: If Qt 5.12.x is used, then yes. Qt 5.9.8, which is used by MuseScore 3.3.x, works fine with NVDA 2019.2.1. See also: https://musescore.org/en/node/285464

[2019-12-14 01:33] jcsteh commented on #10260
Probably the same underlying issue as #2812. Possibly a duplicate, though #2812 talks specifically about a pre tag, where I think it's possible to manifest this in other ways and I haven't checked the real world example Derek provided.

[2019-12-14 05:03] comunicationVoices opened #10621 "Python3. Eliminate the long silence in the one core voices"
Hello, in the version of NVDA 2019.3beta1, the long silences in windows one core remain as the versions below 2019.1. Silences happen when the text has a period, or two points, etc. I would like you to solve this error. Thank you for reading!

[2019-12-14 05:05] josephsl commented on #10621
Hi, just to clarify: you are saying that this is not happening with 2019.2.1, correct? If so, it is a definite regression. Thanks.

From: comunicationVoices <notifications@github.com>
Sent: Friday, December 13, 2019 9:03 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Python3. Eliminate the long silence in the one core voices (

[2019-12-14 06:10] MarcoZehe commented on #9359
Yes, @jcsteh and I are still tracking an issue in Firefox where after an extended period of usage, a COM process suddenly starts freaking out. This also happens with NVDA 2019.3 and is probably more related to Firefox than NVDA. However, one of my machines runs the 2004 Slow Ring insider builds, and I see the problem less frequently there. But it still occurs. Investigation on our end is continuin

[2019-12-14 08:02] XLTechie commented on #10620
My 2019.2.1 is installed. Win 10 1909.
And that shouldn't be normal for any copies.

[2019-12-14 08:18] leonardder commented on #10601
I'm closing this as there are many disadvantages to the proposal I hadn't yet carefully considered.

[2019-12-14 08:18] #10601 closed

[2019-12-14 08:19] leonardder commented on #10297
@AlexandrKozlovskiy Is this still reproducible?

[2019-12-14 08:21] leonardder commented on #9896
@kianoosh-shakeri Can you still reproduce this with Visual Studio 2019 (16.4?)

[2019-12-14 09:29] Brian1Gaff commented on #10620
Are tool tips turned on?

One thing I do notice though is that some open dialogues are different to
others and have different behaviour quite often, some are more like the old
xp  look and feel, others like the version of windows being run. I've even
found the sorting order of files different in open dialogues as well, so one
has to be careful about blaming explorer.

Brian

bglists@blueyonder.co.

[2019-12-14 10:47] zstanecic commented on #10620
Hi brian,

Tooltips are off.

From: Brian Gaff <notifications@github.com>
Sent: Saturday, December 14, 2019 10:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] In the windows explorer in the open dialog file list file names are read twice (#10620)

Are tool tips turned on?

One thing I do n

[2019-12-14 11:59] leonardder commented on #10618
I can not reproduce this with the latest alpha on Windows 10 2004 insider preview.

[2019-12-14 12:34] leonardder commented on #10615
Indeed caused by #9873.

[2019-12-14 12:41] leonardder commented on #10615
Should be fixed in #10623

[2019-12-14 12:51] leonardder commented on #7504
@francipvb Any luck with SSMS so far?

Cc @sjfbol

[2019-12-14 13:37] JAWS-test opened #10624 "Web content: Lists and selection lists are indistinguishable"
### Steps to reproduce:

Go to https://codepen.io/jaws-test/pen/LYERjrZ

* Navigate with tab key
* Use quick navigation for lists with L key

### Actual behavior:

* Lists (`ul` or `role=list`) and selection lists ('select' or `role=listbox`) are indistinguishable, both are output with the role "list"
* Both are also reached with the quick navigation with L, even if with I only the real list entri

[2019-12-14 16:39] Adriani90 commented on #1282
Still reproducible with NVDA 2019.3 Beta 1, Firefox 71 and Chrome 79.

[2019-12-14 16:42] Adriani90 commented on #927
Still reproducible in Firefox 71. @jcsteh is this something you could report on Bugzilla? Unfortunately this issue is quite severe in corporate environments, epsecially in sharepoint based interfaces and the table navigation does not work.

[2019-12-14 16:46] Adriani90 commented on #4907
@MarcoZehe could you please help here? Honnestly I think I don'treally understand the issue. If this is not present in Firefox, we can close it because it seems we lost contact to the initial author.

[2019-12-14 16:56] Adriani90 commented on #4560
It works as expected now in Chrome 79 with NVDA 2019.3 Beta 1.
Closing as can't fix for IE11.

[2019-12-14 16:56] #4560 closed

[2019-12-14 17:08] Adriani90 commented on #4033
@josephsl could you update the description of Crash hero as proposed by Derek above?

[2019-12-14 17:27] Adriani90 commented on #1464
Closing in favor of #3773 since the comments in that issue explain in more detail where the problems are.

[2019-12-14 17:27] #1464 closed

[2019-12-14 17:34] Adriani90 commented on #6097
Also reproducible in Chrome 79 with NVDA 2019.3 Beta 1:
cc: @leonardder

[2019-12-14 17:37] Adriani90 commented on #6046
Related issue: #10624.

[2019-12-14 17:42] Adriani90 commented on #5965
I cannot reproduce this issue and we calso lost contact to the initial author. Closing as works for me.

[2019-12-14 17:42] #5965 closed

[2019-12-14 17:42] josephsl commented on #4033
Hi, I think that’s really up to @DerekRiemer to do so. Thanks for reminding me about it.

From: Adriani90 <notifications@github.com>
Sent: Saturday, December 14, 2019 9:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Simplified error reporting (#4033)

@josephsl <https://github.com/josep

[2019-12-14 17:43] josephsl commented on #4907
Hi, and FF36 is way old by today’s standards. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, December 14, 2019 8:46 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA and Firefox 36 - skiplink doesn't properly "land" on a button. (#4907)

@MarcoZehe <https://github.com/MarcoZehe>  could you please hel

[2019-12-14 17:55] Adriani90 commented on #5902
This is solved in Firefox 71 with NVDA 2019.3 Beta 1.
Closing as works for me.

[2019-12-14 17:55] #5902 closed

[2019-12-14 18:06] Adriani90 commented on #5834
I am testing with NVDA 2019.3 Beta 1 on Firefox 71. I cannot reproduce this issue. Carret movement works as expected and no errors are raised. Closing as works for me.

[2019-12-14 18:06] #5834 closed

[2019-12-14 18:14] Adriani90 commented on #5803
I seems we didn't get any further arguments on this discussion. I am closing this issue since we don't have any response from the initial author since three years.
Please comment on this issue and we can reopen it if needed. Thanks.

[2019-12-14 18:14] #5803 closed

[2019-12-14 18:17] Adriani90 commented on #5425
We didn't get any updates from the initial author for more than four years now. I am closing this issue as abandoned.
Please comment on it and we can reopen it if needed. Thanks.

[2019-12-14 18:17] #5425 closed

[2019-12-14 18:26] Adriani90 commented on #5423
Why not using "o" for embeded objects for these sliders? Their meaning are more related to such objects (i.e. web players etc.).

[2019-12-14 18:32] MarcoZehe commented on #4907
That page has changed significantly since this report was filed. The player is the first skip link, and it navigates to the Media Player heading level 1 now. And that works just fine with NVDA and Firefox. This report can be closed.

[2019-12-14 18:34] Adriani90 commented on #5047
We do not have an update from the author since more than 4 years. Closing as abandoned.
Please comment on this issue and we can reopen it if needed. Thanks.

[2019-12-14 18:34] #5047 closed

[2019-12-14 18:42] Adriani90 commented on #3552
Closing as works for me.

[2019-12-14 18:42] #3552 closed

[2019-12-14 18:45] Adriani90 commented on #5159
@HerinHentry could you please provide an updated test case? The links above are not working anymore. Thanks.

[2019-12-14 18:49] Adriani90 commented on #4907
Closing as works for me.

[2019-12-14 18:49] #4907 closed

[2019-12-14 20:33] ghost opened #10625 "Automatic reading of subtitles does not work for certain YouTube videos"
I've noticed that there are certain YouTube videos where NVDA does not automatically read the subtitles. I know that the subtitles are there because they can be seen if you arrow around toward the top of the video player.
In order to read them, you have to continuously check that part of the page to see if it has changed. Unfortunately, I'm not sure what is different about certain videos that caus

[2019-12-14 22:29] hozosch opened #10626 "Annoying volume announcement in Explorer window"
### Steps to reproduce:
1. Place yourself in an explorer window.
2. Change your volume using the volume keys.

### Actual behavior:
NVDA will say something. In the case of my German NVDA, it's "Lautstärkepegel". I don't know what that equates to in English.
### Expected behavior:
NVDA shouldn't say anything
### System configuration
#### NVDA installed/portable/running from source:
Doesn't matter
#

[2019-12-14 22:35] josephsl commented on #10626
Hi, caused by UIA notification event. I’m a bit reluctant to revert this, as volume change information is meant to be spoken by screen readers. Please justify as to why we need to silence this. Thanks.

From: hozosch <notifications@github.com>
Sent: Saturday, December 14, 2019 2:30 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda

[2019-12-14 22:40] hozosch commented on #10626
Why is it doing it in explorer windows only? Can't we just figure out the right volume manually, for instance when the speech speaks, it's too loud, you change the volume and have the speech go on anyway?

[2019-12-14 22:40] hozosch commented on #10626
And what about telling the volume percentage instead? That may be something microsoft has to fix.

[2019-12-14 22:54] josephsl commented on #10626
Hi, that’s what used to happen – we didn’t even announce volume level changes. This change came about in Windows 10 Fall Creators Update and later with UIA notification event, and Narrator does announce volume level changes as a result. Until a few months ago NVDA used to announce this information from everywhere, but it was restricted to File Explorer since NVDA 2019.2. Thanks.

From: hozosch <no

[2019-12-15 03:39] codeofdusk commented on #10618
Possibly related to #10562.

[2019-12-15 05:56] Andre9642 commented on #10626
I also find this behavior uncomfortable. When I increase/decrease the volume, I usually have an audio stream (speech synthesizer or multimedia content) and I don't want that the screen reader pollutes my listening with such information.
In my opinion, it must be a configurable thing and not imposed.
Fortunately, it's only in explorer windows now and “It doesn't bother me too much anymore.

[2019-12-15 10:50] CyrilleB79 commented on #10618
On home computer (Win 10 1903 instead of 1809 at work), I do not reproduce the same way as at work. Anyway, I have other similar problem.
I try to go word by wor back untill the top of a newly opened console. When I have reached the beginning of the top line
`Microsoft Windows [version 10.0.18362.535]`
I am stuck on the `Microsoft` word and cannot go forward on the next word (`Windows`)

[2019-12-15 11:08] lukaszgo1 commented on #10618
cc @michaelDCurran It would be good to decide if we still should make UIA enabled for terminals by default.

[2019-12-15 12:36] dingpengyu opened #10627 "Feature request:"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-12-15 12:36] #10627 closed

[2019-12-15 13:08] dpy013 opened #10628 "Feature request: VSCode code hint: function hint, parameter list hintu"
hi
Current NVDA cannot report while using vscode VSCode code hint: function hint, parameter list hint
### Is your feature request related to a problem? Please describe.
Integration in NVDA
VSCode code hint: function hint, parameter list hint
Function
### Describe the solution you'd like
none
### Describe alternatives you've considered
none
### Additional context
open Visual Studio Code
Change lang

[2019-12-15 13:28] Novalis7747 opened #10629 "Outlook message flags not read when NVDA started as admin"
### Steps to reproduce:
- use a fresh NVDA 2019.3b1 portable copy
- run it as admin
- start outlook and navigate the message list of new mails
### Actual behavior:
- NVDA doesn't read any message flag like unread, forwarded, replyed and so on
### Expected behavior:
NVDA should read thos message flags
### System configuration
#### NVDA installed/portable/running from source:
NVDA portable 2019.3 Be

[2019-12-15 14:08] Adriani90 commented on #6108
I performed the steps described by Reef above and I cannot reproduce this issue in NVDA 2019.3 Beta 1 on Windows 10 1909 Update. Closing as works for me.

[2019-12-15 14:08] #6108 closed

[2019-12-15 14:19] Adriani90 commented on #6890
Still reproducible also on Chrome 79 with NVDA 2019.3 Beta 1. Only example 3 works correctly.
cc: @feerrenrut

[2019-12-15 14:20] Adriani90 commented on #6791
We do not have any updates from the initial author since more than 2 years. Closing as abandoned.

[2019-12-15 14:20] #6791 closed

[2019-12-15 14:30] Adriani90 commented on #6687
Hmm I am not sure maybe there is something wrong with my browser installation, or the link is outdated. It seems the js test case does not load. There are no buttons, no edit fields, just normal text.
@manu-codes could you please provide another test case?

[2019-12-15 14:37] Adriani90 commented on #6627
@feerrenrut this seems till reproducible in Firefox 71 and Chrome 79 with NVDA 2019.3 Beta 1. Since this has a P2 assigned, is there any update on this topic? Or should we assign another priority to it?
cc: @jcsteh.

[2019-12-15 14:42] Adriani90 commented on #6627
This seems like a duplicate of #6606. However, one has P2, the other has P3 assigned.

[2019-12-15 15:05] Adriani90 commented on #6602
No updates from the initial author since more than 3 years. Closing as abandoned.
@ctoth if you need any further advice, please feel free to contact the NVDA developers mail list at
https://groups.io/g/nvda-devel

[2019-12-15 15:05] #6602 closed

[2019-12-15 15:16] Adriani90 commented on #6421
Ok I tested with Chrome 79 and Firefox 71. It seems only in Firefox 71 this issue is still reproducible. Tested with NVDA 2019.3 Beta 1.
cc: @MarcoZehe

[2019-12-15 15:27] Adriani90 commented on #6225
It seems we lost contact to the initial author. I am closing this issue as abandoned. The links in the description are still not working.

[2019-12-15 15:27] #6225 closed

[2019-12-15 15:35] OzancanKaratas opened #10630 "Installer: Delete temporary files in libs"
### Steps to reproduce:
The installer should be prompted to stop or restart programs that use lib DLLs.
### Actual behavior:
NVDA installer does not delete the DLLs in libs.
### Expected behavior:
Installer should remove the old version DLLs instead of creating temporary files.
### System configuration
#### NVDA installed/portable/running from source:
Installed.
#### NVDA version:
2019.3beta1
####

[2019-12-15 15:35] brunoprietog commented on #10610
Hello,
In Microsoft Word, using UI Automation (you can activate this in advanced options) the same thing happens, there is no way to synchronize both modes as you can do with this option deactivated.

I'd love to see that issue solved.

Greetings

[2019-12-15 15:39] Adriani90 commented on #7257
This example does not work anymore, the dialog with the allert does not appear on Chrome 79 with NVDA 2019.3 Beta 1. @fernando-jose-silva do you have another test case? Are you able to reproduce it with NVDA 2019.3 Beta 1?

[2019-12-15 15:46] Adriani90 commented on #7226
@alexandretoco the design of the webpage in your description seems to have changed. There is not a link called "PASSAGENS AÉREAS'. Could you please update your description accordingly so that we can reproduce this issue?

[2019-12-15 15:49] Adriani90 commented on #7198
I wonder if the trash buttons in the dialog are maybe inside of a div? This might cause NVDA to remain silent when tabbing.

[2019-12-15 15:52] Adriani90 commented on #7134
We do not have any updates from the initial author since more than 2 years. Closing as abandoned.

[2019-12-15 15:52] #7134 closed

[2019-12-15 15:57] Adriani90 commented on #7099
Hmm, I could catch following error in Chrome 79 while reproducing this issue with NVDA 2019.3 Beta 1:

[code]

[2019-12-15 15:59] Adriani90 commented on #7099
It seems after pressing escape to close the save as dialog, chrome sugerates that it closed the whole application which is not true. The application is still open and regains focus when pressing tab.
I don't know if this is a bug in the Chrome app module in NVDA or in Chrome itself.

cc: @feerrenrut, @michaelDCurran

[2019-12-15 16:01] Adriani90 commented on #7099
I guess in Firefox happens the same but there is nothing written to the log.
cc: @jcsteh.
It might be also related to #8389.

[2019-12-15 19:41] Adriani90 commented on #7636
I cannot reproduce this problem in NVDA 2019.3 Beta 1 and Windows 10 1909 Update.
I tested as follows:
1. Open edge
2. Press ctrl+o
3. Type www.google.com
4. Press alt + shift
Actual behavior:
NVDA reports the keyboard language
Expected behavior:
See above.

Condition: it works if you press alt, hold it down, and press shift multiple times to switch between languages. If you wait for half a second

[2019-12-15 19:47] Adriani90 commented on #7627
This works as expected in Firefox 71 and NVDA 2019.3 Beta 1. Closing as works for me.

[2019-12-15 19:47] #7627 closed

[2019-12-15 19:59] Adriani90 commented on #7582
We do not have any updates from the initial author since mroe than two years. Closing as abandoned and works for me.

[2019-12-15 19:59] #7582 closed

[2019-12-15 20:00] frastlin commented on #10610
If UIA automation is planned to become standard, this feature needs to be fixed. This feature is the only reason why I still use word for word processing.

[2019-12-15 20:32] k-kolev1985 commented on #7636
@Adriani90 I can confirm that it works as you've described it. But the announcement of the input language switch in this case I think is just by accident. When the input language switching is done as you've described it (by pressing and holding ALT, pressing and releasing SHIFT while not releasing ALT until the switching is announced by NVDA), for some strange reason, the pop-up menu for input met

[2019-12-15 20:34] Adriani90 commented on #7522
might be related to #6627 and #6606.

[2019-12-15 20:46] Adriani90 commented on #7320
@leonardder what about adding form fields with aria-invalid/"true" to elements list instead? Then w and shift+w could be used for spelling errors only which would be consistent with aother applications. A gesture for aria-invalid="true" could be assigned in the input gestures dialog, in case users need it.

[2019-12-15 20:48] Adriani90 commented on #7266
Not reproducible with NVDA 2019.3 Beta 1 on Chrome 79. Closing as works for me.

[2019-12-15 20:48] #7266 closed

[2019-12-15 20:55] gdata1 commented on #7636
@Adriani90 I can attest to that. and works in windows 10 2004 building 19041.

[2019-12-15 20:57] Adriani90 commented on #7936
This works as expected with NVDA 2019.3 Beta 1 and IE11. Closing as works for me.

[2019-12-15 20:57] #7936 closed

[2019-12-15 21:34] Adriani90 commented on #7637
It would be really cool if someone could come up with a solution here. There are lots of corporate environment cases (i.e. SAP netviewer) where people fill online forms. The problem is that once submited, you cannot check with NVDA if the checkboxes in a submited form are checked or unchecked. For example if you have to fill the forms every year and you want to compare the data from previous years

[2019-12-15 21:44] Adriani90 commented on #7636
Thank you very much for the swift replies.
It makes sense that NVDA reads the language only when the popup is appearing, this is probably also what sighted people get. I think also this came with 1909 update. But I am not sure though.
For now I will close this as works for me. Please comment on it if it occurs again and we can reopen it.
Thanks.

[2019-12-15 21:44] #7636 closed

[2019-12-15 21:46] Adriani90 commented on #10615
Closing as fixed.

[2019-12-15 21:46] #10615 closed

[2019-12-15 21:51] Cleversn commented on #7637
Maybe related: Every time I go to answer a survey, in Google Docs for example, I've stumbled lots of times on check boxes and radio buttons whose status NVDA doesn't correctly report as I check/uncheck, leaving me quite confused. Using Firefox 71 and NVDA 2019.2.1 on Windows 10 1909.

[2019-12-15 22:34] #10598 closed

[2019-12-15 22:34] Adriani90 commented on #10598
closing as fixed

[2019-12-15 22:50] jcsteh commented on #7099
For firefox, NVDA was tracking this in #2497 and now #10450. The Mozilla bug is https://bugzilla.mozilla.org/show_bug.cgi?id=782547. The good news is that there's been some progress on this lately, but the fix hasn't landed yet.

Note that this will need to be fixed separately in Chrome. I'm not sure if they have a bug on file or not.

[2019-12-15 23:20] jcsteh commented on #7182
Same underlying issue as #927, so closing as duplicate.

[2019-12-15 23:20] #7182 closed

[2019-12-15 23:49] jcsteh commented on #927
Covered by https://bugzilla.mozilla.org/show_bug.cgi?id=1455066

[2019-12-15 23:50] Qchristensen commented on #10607
No, no crash dump.

[2019-12-15 23:55] Qchristensen commented on #9564
The synthesizer dialog is a separate dialog to the settings dialog, and because it can be opened via the "Change" button on the settings dialog, both need to be able to be open at the same time.

I just tried this again with 2019.3 beta 1 and it still works as I noted previously in [this comment](https://github.com/nvaccess/nvda/issues/9564#issuecomment-492452330)

[2019-12-16 00:15] jcsteh commented on #9172
I tried this in both Firefox and Chrome. In Firefox, the date doesn't change as it should. However, this isn't accessibility specific. In Chrome, the date does change, but changes aren't read after the first press. Using a text entry field for a calendar like this isn't going to be accessible.

Certainly, the accessibility issues here are problems with the site. It's possible the problems with the

[2019-12-16 05:50] michaelDCurran commented on #10607
I can reproduce this bug in NVDA 2019.2.1 also.
I created a NVDA 2019.3beta1 in a 'tést' folder in my user profile, and NVDA 2019.2.1 in a 'tést2' folder in my user profile. Running both of them, if I switch to espeak NG, NVDA just silently exits.
@Qchristensen  Are you sure your NVDA 2019.2.1 does not crash? Can you try within a 'tést2' directory?
There is a place in eSpeak's code (src/libspeak-n

[2019-12-16 07:06] MarcoZehe commented on #6421
@jcsteh Do you believe your original proposed solution is still the right approach here? Chrome may have changed something on their end which made it go away. Or should we just not fire name change events if the item in question doesn't have the focused state or similar? That would probably reduce the name change events we fire in Firefox, but also may cause other issues of not having an up to dat

[2019-12-16 07:10] michaelDCurran commented on #10612
I can't reproduce this with Excel 16.0.12410.2000 so far. We could sort of "ignore" the error here, but it would some functionality to be impacted when the error occured. It looks like it was going to speak a typed character. No doubt, if you had speak typed character on, you would have not heard the character in question when typing.
Is it at all possible for you to update MS Office? or is this t

[2019-12-16 07:52] CyrilleB79 commented on #10618
Here is a log where I perform the following actions:
* Press Windows+R, type "cmd" and press Enter to open the console
* Press many times Pavnum4 until I hear the word "réservés"
* Press Pavnum6 to try to go at the next word (failing)

[nvda-ConsoleNavigation.log](https://github.com/nvaccess/nvda/files/3966602/nvda-ConsoleNavigation.log)

@codeofdusk , @lukaszgo1:
Did you succeed in reproducing th

[2019-12-16 08:38] CyrilleB79 commented on #9564
I cannot reproduce either on NVDA 2019.3beta1.
@Adriani90, could you provide a log so that we can double check that we all execute the same steps?
Specifically, you did not comment to confirm or infirm @Qchristensen's following statement:

[2019-12-16 08:45] lukaszgo1 commented on #10618
@CyrilleB79 I cannot reproduce this problem on my VM running English version of Windows 10 1903.
Is it at all possible for you to install and switch to English language pack at least on the home system?

[2019-12-16 08:59] Andre9642 commented on #10612
Yes, It's the latest version for me (I've the student version).
It's annoying because sometimes I can't navigate in the sheet. I.e. when I press tab/arrow keys, I've just the error sound. Here an example:

<details><summary>Show/hide log</summary>

[code]

</details>

[2019-12-16 08:59] CyrilleB79 commented on #10629
Confirmed on my side with Outlook 2016 and installed version of NVDA 2019.3beta1.

To understand context, why do you need to launch NVDA with admin privileges? Does it have to do with Outlook or not?

Regarding technical analysis, I have not investigated. But maybe it is linked to the way NVDA gets this information. I think I recall that NVDA uses Outlook's COM interface to get this information. P

[2019-12-16 09:26] lukaszgo1 commented on #10618
I've installed French laguage pack on my VM, but I am still unable to reproduce this.

[2019-12-16 10:53] Novalis7747 commented on #10629
Great that you could reproduce it with a installed 2019.3b1 .
You see, when you run the portable copy without admin rights several parts of Win10 are not accessible, an example is the device manager.
I testet to run the 2019.3b1 portable as admin and also started  Outlook with run as admin and guess what, the message flags are beeing read. Good hint 😉

Cheers,
  Ralf
From: CyrilleB79 <notification

[2019-12-16 11:34] Qchristensen commented on #10607
I initially created it in a 201921é folder off downloads, and I just tried creating a portable version in c:\tést2 using NVDA 2019.2.1 both times, and I can successfully change to eSpeak NG and use that.

Ok, in my log when it loads eSpeak it has:

INFO - synthDrivers.espeak.SynthDriver.__init__ (22:30:17.551):
Using eSpeak NG version 1.49.1 dev
DEBUG - speechDictHandler.SpeechDict.load (22:30:17.

[2019-12-16 11:55] Adriani90 commented on #10612
@andre9642 for me I could reliably reproduce this issue when cells contained Dropdown menus or Combo boxes. Pressing f2 or alt+down arrow on those cells result in the comtypes erro.
Could you build a test case with an example Excel sheet? I will try to create one as well.

[2019-12-16 12:22] CyrilleB79 commented on #10618
I have just tried setting Windows UI to English and NVDA also switch to English due to "User default" language option selected. The issue is still reproduced on my side the same way as described in the initial description, replacing the French word "réservé" by the English one "reserved".

I cannot figure why I get this issue at home and at work whereas you @leonardder  and @lukaszgo1 do not exper

[2019-12-16 12:24] lukaszgo1 commented on #10618
I have Windows 10 version 1903 running on my VM.

[2019-12-16 12:29] fernando-jose-silva commented on #7257
Many things have changed since the opening of this calling, including the death of the computer used at the time.
Using a new machine with windows 10 1909 build 10.0.18363.476
nvda alfa 18460
chrome chrome
78.0.3904.108
I opened several websites and could not reproduce the problem anymore.
Thank you.

[2019-12-16 13:30] Adriani90 commented on #7257
Thanks for the reply. Closing as works for me.

[2019-12-16 13:30] #7257 closed

[2019-12-16 15:35] mehgcap commented on #10619
Yes, I was using Firefox. I thought I noticed it happening in other apps as well, though I could be wrong.

Yes, if no braille display is in use, the error goes away.

[2019-12-16 17:39] hozosch commented on #10626
Thank you. That's my opinion put into a much more elegant and clear way thatn I did there.

[2019-12-16 17:45] josephsl commented on #10626
Hi,

@LeonardDer, any thoughts? I'm still really reluctant to revert this completely. There is a reason why we announce UIA notification text - at least we are not doing it from everywhere like Narrator does. Tying this to "report notifications" may provide a solution, but this means people will miss important notifications such as from Store if it is turned off (one workaround then is to create a

[2019-12-16 18:27] josephsl commented on #10626
Hi,

Also, as we are going through one of the most sensitive times in NVDA's history, I think we should defer this issue until sometime in 2020. Personally speaking, I want a more suibstantial justification - for me, saying that "I get anoyed by volume notification changes" won't cut it, especially at a time when the highest of highest of priorities is making sure that when 2019.3 stable version s

[2019-12-16 18:34] hozosch commented on #10626
Andre's post had more in it than just "I get annoyed by volume change notifications", and it's exactly how I feel. I can see though that the highest priority is something different now.

[2019-12-16 18:47] josephsl commented on #10626
Hi,

At least Andre noted that it is less anoying as it is limited to File Explorer (see #9466). Back when I wrote this for Windows 10 App Essentials add-on (January 2019), volume level notifications were announced from everywhere. It has gone through refinements such as announcing brightness changes, and eventually limiting this announcement to File Explorer and nowhere else.

To give context: vo

[2019-12-16 19:01] hozosch commented on #10626
So, if we ged rid of that volume level announcement, it would affect all UIA notifications? That's of course not what I want!

[2019-12-16 19:10] josephsl commented on #10626
Hi,

At least letting you turn off UIA notifications by unchecking "report notifications" will get rid of volume level announcements AND other notifications in various apps unless you create an app-specific profile for File Explorer where you don't want notifications announced. Be warned: if there are notifications coming from File Explorer, turning off notifications via app-specific profile for F

[2019-12-16 22:48] michaelDCurran commented on #10607
@qchristensen: Could you please test the following try build? Again,
unpack as portable to a directory with accented characters, and let me
know if you can switch to eSpeak?

This try build is based on 2019.3beta1, but rather than using
os.fsencode to encode the path to eSpeak, it uses path.encode('mbcs')
which I think is more in line with what NVDA did in 2019.2.1 and below.

On my system at leas

[2019-12-16 23:10] lukaszgo1 commented on #10607
For me on Polish Windows 7 x64 both NVDA 2019.2.1 and latest Alpha crashes if placed on a folder with accented characters in its name. The try build created by @michaelDCurran also crashes. What is suspicious however is the fact that @Qchristensen log states:

Whereas my log on NVDA 2019.2.1 contains":

[2019-12-16 23:27] HerinHentry commented on #5159
Looks like issue related to https://github.com/nvaccess/nvda/issues/2491. With NVDA 2019, this is not happening.

[2019-12-16 23:36] lukaszgo1 commented on #10607
On my machine NVDA 2019.1.1 is able to start with eSpeak when placed in a folder containing accented characters, whereas 2019.2 and above are not.

[2019-12-16 23:55] michaelDCurran commented on #10607
@Qchristensen apologies. I forgot to actually past the try build link!
Here it is: https://ci.appveyor.com/api/buildjobs/8her0mlyia43ag4w/artifacts/output%2Fnvda_snapshot_try-i10607-19468%2Ca3acf1d5.exe

[2019-12-17 02:51] Qchristensen commented on #10607
Ah I wondered where the link was, I thought I was having a senior moment :)

Ok, setup a portable copy from your test build in c:\tést2 (I deleted the whole directory from my last test there).

NVDA still crashes.  The log looks similar to previous:

IO - speech.speak (13:48:08.588) - MainThread (14020):
Speaking [LangChangeCommand ('en_US'), 'eSpeak NG']
DEBUG - synthDrivers.oneCore.SynthDriver._

[2019-12-17 03:31] josephsl commented on #10597
Hi,

Further testing shows that it could introduce issues when opening clipboard history while focused on IAccessible objects such as Notepad++ - works beautifully for UIA controls, not so much for MSAA ones at the moment. One possible workaround might be to coerce focus event for these controls to live region or name change events, which may allow correct focus event handling once clipboard histo

[2019-12-17 03:47] josephsl commented on #10093
Hi,

#10359 is now part of NVDA.

Adding to the urgency: Windows 10 build 19536 (fast ring) re-introduces modern Korean IME. However, work associated with it is suspended until after NVDA 2019.3 is released (I'll investigate it further as part of Windows 10 App Essentials add-on, however).

Thanks.

[2019-12-17 07:22] leonardder commented on #10626
I'd be unwilling to remove UIA notifications because of them being there for a reason. That they are annoying in some situations is something that Microsoft should fix. Having said that, it seems that JAWS doesn't support them, see https://github.com/jcsteh/osara/pull/198

Having said that, I think that the "Report Notifications" entry in object presentation settings should really disable these no

[2019-12-17 07:29] michaelDCurran commented on #10607
@qchristensen: Can you double check that your NVDA 2019.2.1 is really
2019.2.1? As another person stated, the eSpeak version in your log is
wrong. Yours says 1.49.1dev, but 2019.2.1 has 1.49.3dev.

And if this is true, then this crash is a regression introduced in
eSpeak between 1.49.1dev and 1.49.3dev, and therefore not a regression
in NVDA after 2019.2.1.

[2019-12-17 08:51] CyrilleB79 commented on #10618
I have found that the commit responsible for this strange behaviour is 3cd482f5fce3472e42ea5f832e18a26876ce9dcc from PR #10522: it is the first commit of master branch where the problem occurs. However I still do not have any idea of the reason why it occurs on my side and not on other people's machine.

@michaelDCurran or other people, could you investigate further? The word boundaries are not de

[2019-12-17 09:20] Qchristensen commented on #10607
Ok, so a bit embarrassing, but maybe some unintentional investigation:

I was, as @michaelDCurran suspected, not running 2019.2.1, somehow it was 2018.2.1, so that's a bit embarrassing... but as noted, it was definitely crashing, so maybe a regression after all?

Trying 2019.2.1 and it too crashes.

Trying 2019.1.1 as a portable version in folder c:\tést201911\ - and I can switch to eSpeak and it

[2019-12-17 09:33] lukaszgo1 commented on #10607
I am afraid it is at least partially Python 3 regression after all.
Tested as follows:
1. Created a directory called d:\ąśę\
2. In it created portable copy of nvda_snapshot_alpha-18064,e579eb02 (This is the last Alpha powered by Python 2.)
3. Tried to start it - as I am on Windows 7 eSpeak is the default - it starts correctly.
4. Cleaned the directory, and created a portable copy of nvda_snapshot_

[2019-12-17 16:09] chigkim commented on #8604
@jcsteh, is there any progress on announcing UIA_FullDescriptionPropertyId for description?

[2019-12-17 18:13] KurtCattiSchmidt opened #10631 "Browse Mode does not work in Chromium-based Edge or Chrome with UIA enabled"
### Steps to reproduce:
1. Install the Microsoft Edge beta from https://www.microsoftedgeinsider.com/en-us/download or Google Chrome from https://www.google.com/chrome/
2. Launch Edge as usual, or launch Chrome with runtime flag --enable-experimental-ui-automation (e.g. "chrome.exe --enable-experimental-ui-automation"
3. Start NVDA and navigate to https://www.nytimes.com
4.  Press the down-arrow t

[2019-12-17 18:43] donalfitzpatrick opened #10632 "NVDA stops speaking in web application when using Polish Core Synthesiser"
###Note

I am posting this issue on behalf of a colleague from Poland who is not on Github.  My apologies if the language is somewhat garbled, I am happy to liaise with him to clarify.

### Description of issue

During loading of Web page in the Firefox web browser speaking was stoped. The synthesizer in use was Windows Core voice Adam Polish.
NVDA.

###  log error message after error:

ERROR - un

[2019-12-17 19:47] JamesCatt opened #10633 "Negative dollar amounts not announced with minus symbol"
### Steps to reproduce:
Create a web page with a negative dollar amount that uses the minus character (https://www.fileformat.info/info/unicode/char/2212/index.htm), such as `<p>&minus;$100</p>` and navigate to it with NVDA + any browser.
### Actual behavior:
Amount reads as "one hundred dollars" with no mention of the minus symbol.
### Expected behavior:
Amount reads as "minus one hundred dollars

[2019-12-17 20:10] Adriani90 opened #10634 "non visible characters are displayed on braille displays, how to avoid that?"
### Steps to reproduce:
Reported by several users on different groups.
i.e.
1. Use a braille display and open the twitter website
2. Switch to focus mode with nvda+space
3. Navigate through the tweets with j and k and see what is displayed on the braille display

### Actual behavior:
Characters like '\xfffc' (object replacement character)  or \'XFeFF' (zero with no break space) are displayed on th

[2019-12-17 20:12] Adriani90 commented on #10634
cc: @bramd, @dkager, @Andre9642, @leonardder

[2019-12-17 20:17] Adriani90 opened #10635 "NVDA reports group elements in browsers although this is disabled in document formating settings"
### Steps to reproduce:
1. Open a website with group elements
2. Navigate with NVDA in browse mode or focus mode through the website
3. Go to document formating settings and disable "groups"
4. Navigate again through the website

### Actual behavior:
NVDA still reports groups

### Expected behavior:
NVDA should not report groups

### System configuration
#### NVDA installed/portable/running from s

[2019-12-17 20:17] Adriani90 commented on #10635
cc: @MarcoZehe, @jcsteh

[2019-12-17 20:21] Adriani90 commented on #5159
@HerinHentry that issue was for Firefox. Do you mean this is not happening in Internet Explorer?

[2019-12-17 20:25] Adriani90 commented on #8604
cc: @feerrenrut

[2019-12-17 20:45] Adriani90 commented on #9564
@Qchristensen your steps are leading to my expected behavior. However, it seems in step 3 you get another result than me. IN my case, the general settings dialog just does not open. I don't really know what I should do, I also tried with disabled addons and the dialog still does not open although I get the error saying that a dialog is open.

[2019-12-17 20:49] DrSooom commented on #10634
U+FEFF is displayed in Firefox if an UTF-8 with BOM encoded html/php file is included. This isn't the case if you include UTF-8 without BOM encoded html/php files. Eliminating this Unicode character has to be done in my opinion by the web browsers – but always as an option. This is NOT a Liblouis or braille issue.

See also: https://en.wikipedia.org/wiki/Byte_order_mark#Byte_order_marks_by_encodin

[2019-12-17 20:53] Adriani90 commented on #9564
Hmm very strange, I have created a portable version of NVDA without copying my settings and the issue is not occuring. aFter that, I have started the installed version again and now the issue is not occuring anymore. Very strange...
Anyway, closing as works for me :)

[2019-12-17 20:53] #9564 closed

[2019-12-17 20:59] Adriani90 commented on #10634
However, in my view it would be cool if there is a possibility to avoid displaying these characters from NVDA or Liblouis perspective. You can also see it as a feature if you like, for me it is a bug because the braille translates characters which are not visible for sighted people for example. This is also how we treat pronounciation of non visible elements.

Von: Daniel Mayr <notifications@githu

[2019-12-17 21:14] DrSooom commented on #10632
Quote from [my comment in issue #10634](https://github.com/nvaccess/nvda/issues/10634#issuecomment-566743084):

[2019-12-17 21:31] DrSooom commented on #10634
@Adriani90: I guess you missed this sentence, which I added to my previous comment a few minutes later after publishing.

Thus I suggest to add a new list with checkboxes called "Ignored Unicode code points". Example Unicode code points: U+00FF, U+200E, U+200F, U+FEFF, U+FFFC and U+FFFE

I'm not sure how we should implement such a list. Shall we make it generally for all TTS and all braille tables

[2019-12-17 21:43] DrSooom commented on #10634
@Adriani90: Please also read [question No. ⠣ in the HUC Braille Tables documentation](https://danielmayr.at/huc/en.html#f2a).

[2019-12-18 08:34] bingen13 opened #10637 "NVDA becomes unresponsive on Firefox in some webpages"
### Steps to reproduce:

Open https://www.xunta.gal/dog/Publicados/2019/20191127/AnuncioCA01-251119-0001_es.html with Firefox.

### Actual behavior:

NVDA says loading document, and Firefox (or NVDA, not sure) stops responding to keyboard input.

### Expected behavior:

Webpage loads and can be read normally.

### System configuration
#### NVDA installed/portable/running from source:

NVDA install

[2019-12-18 13:20] leonardder commented on #10631
Closing as duplicate of #10631

[2019-12-18 13:20] #10631 closed

[2019-12-18 13:21] leonardder commented on #10555
Even in the stable build of edge, UIA now turns out to be the default.

[2019-12-18 13:24] francipvb opened #10638 "NVDA stops working in edge beta after page load"
### Steps to reproduce:

1. Install Microsoft Edge Beta from [here](https://www.microsoftedgeinsider.com/download).
1. Open _Microsoft Edge Beta_ from start menu and load any web page.
1. Wait until NVDA says "page loaded" or something similar in your language.

### Actual behavior:

NVDA stops responding. This may be related to #10631, but the fact is that browse mode is not activated in any case

[2019-12-18 13:29] gdata1 commented on #10555
I reported it to Microsoft. they said there should be UIA support on the nvda side. they also offer to turn it off manually, but not everyone knows how to do it. I don't think a lot of people will be able to turn it off in edge.

[2019-12-18 14:53] Brian1Gaff commented on #10637
Yes I found this on a web site called milkandmore which is a home delivery
site in the UK.
 I ended up blipping the power button and heard an nvda ding before the
computer shut down. I used waterfox on the site, but then encountered a very
odd effect where the displayed visible  picture was not what nvda was
reading.
 Has anyone else seen this effect in windows 7?

Brian

bglists@blueyonder.co.uk

[2019-12-18 15:28] leonardder commented on #10555
The problem is that NVDA doesn't create a tree interceptor to activate
browse mode. This is not something on Microsofts end.

[2019-12-18 20:10] mikebayus opened #10639 "No Addons will Install in Beta 3."
Hi Guys, I have tried installing addons, the ones that the NVDA community announcement page on the Addons web site says work, but they won't install.

You have arrived at a default issue template (bug report).
It is preferable to [choose the type of issue](https://github.com/nvaccess/nvda/issues/new/choose) to submit.
Hint: Swap to the preview tab to be able to click the links.
Direct links to the

[2019-12-18 20:12] josephsl commented on #10639
Hi, I see, but we are missing a crucial puzzle piece: which add-ons were you trying to install? Thanks.

From: mikebayus <notifications@github.com>
Sent: Wednesday, December 18, 2019 12:11 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] No Addons will Install in Beta 3. (#10639)

Hi Guys, I have tried installing addons, the one

[2019-12-18 20:22] mikebayus commented on #10639
Well, the first one I tried was the addon for Bluetooth Audio, and when
that one didn't install, and I got the Addon requirews update message, I
tried all of the other ones on the Addon NVDA community announcement page
on the community addons Web Site.

Well... all of the ones that are supposed to work with Python 3.7 and later
anyway.

None of them install.

So I suppose it would be easier to tel

[2019-12-18 20:30] josephsl commented on #10639
Hi, ah… Bluetooth Audio add-on doesn’t even have manifest information. I’ll do something about this. Thanks.

From: mikebayus <notifications@github.com>
Sent: Wednesday, December 18, 2019 12:23 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] No Addons will Install in Beta 3. (#10639)

Well,

[2019-12-18 20:46] mikebayus commented on #10639
Hello Joseph,

The other Addon I really got a lot of use out of was the VLC Media Player one.

That one won't install either.

Do you think that that is the problem with many of the other Addons on
the Web Site?

Because the addons that I tried wouldn't install, I couldn't get to
any of the manifests.

And, just so you know, I, because I dreaded the idea of having to face
Ella withdrawal, I looked

[2019-12-18 20:59] josephsl commented on #10639
Hi, manifest issue is one of the biggest issues regarding add-on compatibility – the others have to do with changes in terms of Python 2 to 3 and others introduced in NVDA 2019.3. I have advised the add-ons community to resolve manifest problem as soon as possible, and have marked affected add-ons (including Bluetooth Audio) as incompatible. Thanks for bringing this up.

From: mikebayus <notificat

[2019-12-18 21:04] mikebayus commented on #10639
You are most welcome.

On Wed, Dec 18, 2019 at 3:59 PM Joseph Lee <notifications@github.com> wrote:

[2019-12-18 21:42] mdyer1 opened #10640 "Switching to vocalizer from codefactory gives an error Unable to load vocalizer."
### Steps to reproduce:

1.  Install codefactory synth addon.
2.  Bring up the synth selection Dialog with NVDA+CTRL+S.
3. Select vocalizer from the list and press enter.
### Actual behavior:
Dialog appears with the message could not load synth driver Vocalizer.
### Expected behavior:

NVDA should now be speaking with vocalizer rather than the lst synth used.
### System configuration
#### NVDA ins