[2017-08-06 13:14] bhavyashah commented on #1652
@jcsteh @feerrenrut @tspivey Could the file attached in https://github.com/nvaccess/nvda/issues/1652#issuecomment-155291472 please be restored as well as the NeedsCodeReview label be added to this ticket?

[2017-08-06 13:17] bhavyashah commented on #1627
@jcsteh As you expressed in https://github.com/nvaccess/nvda/issues/1627#issuecomment-155291302, you were going to test this issue in IE 9 and revert. This is a friendly reminder to do that, and accordingly triage this ticket. CC @ehollig for testing and triaging also

[2017-08-06 13:20] bhavyashah commented on #1549
Could our resident Braille experts please test if the reported issue still stands with the latest versions of both NVDA and Duxbury?

[2017-08-06 13:27] bhavyashah commented on #1522
Since we have no means of contacting the original author of this ticket, the download link of the software in question has not been provided and we remain in the dark as to the present standing of the issue(s) reported with this app, I would like to kindly suggest closing as invalid. @ehollig

[2017-08-06 13:30] bhavyashah commented on #1510
Do we have any active users of NVDA+German IBM ViaVoice who can help us in determining whether this issue still stands?

[2017-08-06 13:33] bhavyashah commented on #1490
CC @michaelDCurran and @josephsl (for Edge) and @MarcoZehe (for Firefox) to seek browser-specific or more universal ways of implementing the requested feature.

[2017-08-06 14:13] ehollig commented on #5283
Everything here seems sorted. Closing

[2017-08-06 14:13] #5283 closed

[2017-08-06 14:20] bhavyashah commented on #1487
Out of interest, could someone please share the download link of the Percentage Checker add-on being discussed as well as its source code for the benefit of NVDA developers?

[2017-08-06 14:23] ehollig commented on #2041
Duplicate of #901

[2017-08-06 14:23] #2041 closed

[2017-08-06 14:24] bhavyashah commented on #1481
@jcsteh At one point in time, you set the milestone of this ticket to near-term, and the proposed ability does seem quite useful to me in a multiplicity of usage scenarios. Could you please clarify your current stand on this ticket and assign this a priority as well?

[2017-08-06 14:27] bhavyashah commented on #1473
Based on https://github.com/nvaccess/nvda/issues/1473#issuecomment-155289633 and https://github.com/nvaccess/nvda/issues/1473#issuecomment-155289634, it seems that this ticket can be closed as worksforme. @ehollig

[2017-08-06 14:32] bhavyashah commented on #1468
@jcsteh The original author of this ticket is now out-of-reach, but he did provide counter-arguments to your initial stand in his follow-ups https://github.com/nvaccess/nvda/issues/1468#issuecomment-155289552 and https://github.com/nvaccess/nvda/issues/1468#issuecomment-155289555. Could you please highlight your present stand on this ticket and triage it accordingly? CC @brian1gaff

[2017-08-06 14:35] bhavyashah commented on #1398
Strangely, Comment 1 is not present but Comment 2 is. Could this potentially be a Trac to Github transition glitch? @jcsteh @feerrenrut

[2017-08-06 14:39] bhavyashah commented on #1384
@dgoldfield  Could you please respond to https://github.com/nvaccess/nvda/issues/1384#issuecomment-155287903 and let us know if you are still experiencing this problem? If David responds in the negative or we do not hear from him within a week or two, I would suggest closing as worksforme. @ehollig

[2017-08-06 14:42] ehollig commented on #1533
I am not having issues navigating using caret navigation in this editor. It is possible that updates to the program resolved some of the problems. Closing. Please open another ticket with specific information on what is not working with this program if other problems persist.
Testing on Windows 10,1703.
The latest version of the program can be downloaded from http://www.thinbasic.com/index.php/dow

[2017-08-06 14:42] #1533 closed

[2017-08-06 14:42] bhavyashah commented on #1382
@vgjh2005 Could you please test and let us know whether this issue still exists? If not, I suggest closing this ticket as worksforme. @ehollig

[2017-08-06 14:44] bhavyashah commented on #1380
Could users of more recent versions of Visual Studio test and let us know if these frequent crashes with NVDA still take place? If not, I suggest closing this ticket as worksforme or invalid.

[2017-08-06 14:47] bhavyashah commented on #1343
I actually find this a fascinating feature request. I imagine this being somewhat similar in concept to the Punctuation/Symbol Pronunciation dialog but for web elements, control types and other 'objects'. Please add the feature label to this ticket, and prioritize it if possible. @ehollig

[2017-08-06 14:51] bhavyashah commented on #1315
Since @josephsl seems unable to replicate this issue on more recent builds of software, we shall need to retest this issue. Can Outlook 2007 users please aid us in this diagnosis?

[2017-08-06 14:52] bhavyashah commented on #1282
@jcsteh @feerrenrut Since this ticket seems to relate to ARIA, a key aspect of the ongoing Project Webfix, any thoughts/inputs?

[2017-08-06 14:53] ehollig commented on #1473
Sounds like everything is sorted here, and others have reported that it works. Closing as worksforme

[2017-08-06 14:53] #1473 closed

[2017-08-06 16:14] elliott94 commented on #5114
No; happy for this to be closed unless anybody else thinks otherwise.

[2017-08-06 16:16] dkager commented on #7471
@taymun26 Could you confirm whether pressing "k" works?
I can't reproduce on Windows 10.

[2017-08-06 16:21] elliott94 commented on #1609
This is exactly what I was looking for. :) Thank you, happy for this to be closed.

[2017-08-06 17:31] josephsl commented on #6695
Hi, we need this for Python 3 (#7105(. CC @JCSTeh

From: bhavyashah [mailto:notifications@github.com]
Sent: Sunday, August 6, 2017 4:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Compiling Liblouis with 32-bit Unicode support (#6695)

Just a gentle ping to bring the attention of NVDA c

[2017-08-06 17:33] josephsl commented on #1839
Hi, Noelia won’t be able to work on NVDA for a while. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Sunday, August 6, 2017 4:05 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Global plugin: report selected items in lists (#1839)

@jcsteh <https://github.com/jcsteh>  Just a friendly reminder to review th

[2017-08-06 21:23] ehollig commented on #1609
Closing because of https://github.com/nvaccess/nvda/issues/1609#issuecomment-320516775.

[2017-08-06 21:23] #1609 closed

[2017-08-06 21:27] ehollig commented on #5114
Closing because of https://github.com/nvaccess/nvda/issues/5114#issuecomment-320516420. If a problem similar like this still persists, please open a new ticket.

[2017-08-06 21:27] #5114 closed

[2017-08-06 21:33] ehollig commented on #1487
When I did a search for the percentage checker addon, I found this. http://oriolgomez.com/files/percentageChecker.nvda-addon
It is not on the official list of addons but I can confirm that it indeed works. There are some other pretty useful addons on this site as well.

[2017-08-06 21:41] ehollig commented on #1510
If this is a bug of IBM ViaVoice and Eloquence, it probably needsExternalFix. Looking at IBM ViaVoice on [Wikipedia](https://en.wikipedia.org/wiki/IBM_ViaVoice), it appears the latest stable release was 12 years ago. Closing because of these reasons.

[2017-08-06 21:41] #1510 closed

[2017-08-06 21:49] ehollig commented on #1522
Closing because we are unsure of the download link of this program, what currently does and does not work in this program with NVDA, and we are unable to contact the original author of this ticket.

[2017-08-06 21:49] #1522 closed

[2017-08-06 22:11] ehollig commented on #1627
The URL for this has changed. I believe it is now:
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_datalist
Note: The datalist tag is not supported in Safari or IE9 (and earlier)

[2017-08-06 22:19] jcsteh commented on #1627
Confirmed that datalist isn't supported for IE 8 or IE 9. Since everything works as expected in Firefox and this isn't supported by IE 8 or IE 9 (so not handling it is expected), closing as works for me.

[2017-08-06 22:19] #1627 closed

[2017-08-06 22:25] jcsteh commented on #6695
[**@josephsl**](https://github.com/josephsl) commented on [7 Aug 2017, 03:31 GMT+10](https://github.com/nvaccess/nvda/issues/6695#issuecomment-320520672 "2017-08-06T17:31:56Z - Replied by Github Reply Comments"):

No, we don't. Python 3 Unicode does handle 32 bit characters (actually, internally, i believe it's variable width now). However, Windows is still UTF-16 and thus ctypes still treats Unic

[2017-08-06 22:26] ehollig commented on #1619
The URL is [MozillaBug:648504](https://bugzilla.mozilla.org/show_bug.cgi?id=648504). The issue is still new and appears to not have any activity in the past year.

[2017-08-06 22:30] ehollig commented on #1557
It also appears that the original comment from the author has been deleted or it has been left blank. Closing as invalid

[2017-08-06 22:30] #1557 closed

[2017-08-06 22:46] ehollig commented on #1297
Since the original poster did not reply to @jcsteh's comment in https://github.com/nvaccess/nvda/issues/1297#issuecomment-155286868, information was not provided on what is not currently supported in the programs, the ticket is over 6 years old, and we are unable to contact the original author, closing

[2017-08-06 22:46] #1297 closed

[2017-08-06 23:04] jcsteh commented on #6695
For anyone that does want to try to implement this into the liblouis Python bindings, here are some rough thoughts:

1. The Python bindings need to know the number of bits used for widechar (16 or 32) by the compiled liblouis. That'll need to be an autotools macro expansion, just as is done for ###LIBLOUIS_SONAME###. (NVDA's build system will also need to handle this expansion as it does for ###LI

[2017-08-06 23:12] fernando-jose-silva commented on #7473
I have discovered two more situations where this problem occurs.

When using the windows onecore synthesizer, when pasting a file into a folder, it is expected that at the end of the copy, nvda will announce the name of the file in the folder.
What you might notice is that nvda does not tell you the name of the file you just pasted.
The file used in the test is very small, so the file copy window

[2017-08-06 23:28] jcsteh commented on #1282
I think there is an error in the original description, as it refers to the title tag, but I don't see how this is relevant. I'm guessing this was meant to refer to label. However, the point of the issue seems clear enough.

Quick test case: `data:text/html,<input type="checkbox" id="flash"><label for="flash">Flash the screen <input type="text" value="5" aria-label="Number of times to flash screen"

[2017-08-06 23:36] jcsteh commented on #6278
Duplicate of #1468.

[2017-08-06 23:36] #6278 closed

[2017-08-06 23:39] jcsteh commented on #1468
I still think this is counter-intuitive. Obviously, when dealing with characters, reading all symbols is the only thing that makes sense, since otherwise, nothing would be read. However, I don't see why words should be special.

Note that we already read symbols if the word only contains one character and that character is a symbol, since otherwise, we'd report nothing. However, this doesn't work

[2017-08-06 23:39] #1468 closed

[2017-08-06 23:55] jcsteh commented on #5133
P3 because there's an easy workaround (change the symbol level temporarily or move by character if you hear silence when moving by word).

Implementation note: this shouldn't be too difficult. In speech.py, in speakTextInfo around line 853, we check `len(textWithFields[0])==1`. This needs to be changed so that we strip white space from `textWithFields[0]` before checking the length. Note that we s

[2017-08-06 23:58] ehollig commented on #4422
Actually, MathPlayer was implemented into NVDA in 2015.2 according to the What's New.
• Using MathPlayer 4 from Design Science, NVDA can now read and interactively navigate mathematical content in web browsers and in Microsoft Word and PowerPoint. See the "Reading Mathematical Content" section in the User Guide for details. (#4673)
Closing, but can be reopened in I misunderstand the issue.

[2017-08-07 00:03] jcsteh commented on #1648
Since then, the report location command (NVDA+numpadDelete/NVDA+delete) has been extended to report some context specific info where appropriate. That will probably be extended further still for various situations. I tend to think the report current object commands (NVDA+tab and NVDA+numpad5) plus the report location command are enough to cover various scenarios, but those scenarios should be addr

[2017-08-07 00:03] #1648 closed

[2017-08-07 00:09] jcsteh commented on #3919
Closing as won't fix.

[2017-08-07 00:09] #3919 closed

[2017-08-07 00:12] ehollig commented on #5122
I am leaning towards a cantfix, but am uncertain on NVDA's current implementation with math as I do not use it myself.

[2017-08-07 00:18] #5912 closed

[2017-08-07 00:20] jcsteh commented on #4631
It'd be good to be able to read native Microsoft Word math using NVDA's math support. (We do support MathType, but that requires a separate product.) However, there are a few challenges/considerations here:

1. Office doesn't use MathML internally; it uses OMML. It includes an XSLT style sheet to convert between the two. We'd need to bundle an XSLT transformer to make use of this, perhaps lxml.
2.

[2017-08-07 00:26] jcsteh commented on #5122
This isn't possible:

1. We can't ship MathPlayer with NVDA, as although it is free, it is still a commercial product and there would be licensing issues. Also, this would significantly increase the size of the NVDA download.
2. At CSUN 2016, I and others did some prototyping of integrating [Speech Rule Engine](https://github.com/zorkow/speech-rule-engine) with NVDA. In future, we might be able to

[2017-08-07 00:26] #5122 closed

[2017-08-07 00:31] ehollig commented on #1820
I believe discussion for this will take place in #1911. Closing

[2017-08-07 00:31] #1820 closed

[2017-08-07 00:36] jcsteh commented on #6527
I was never able to reproduce the issue as reported; i.e. being unable to read the "x over y". I did see the extraneous content, but that's somewhat lower priority. It'd be good to know if anyone else can reproduce this. STR:

1. Ensure you have MathPlayer installed.
2. Open Internet Explorer and go to https://codepen.io/nms/full/ZpgBer
3. Press 2 to jump to the heading level 2.
4. Press down arro

[2017-08-07 00:43] ehollig commented on #1862
Closing, because the original author did not specify what problems they were having with the application. Also, it is recommended to contact the application author and request that their application be made more accessible.

[2017-08-07 00:43] #1862 closed

[2017-08-07 00:47] jcsteh commented on #3473
It's theoretically broader than one app (wx apps built with wxUSE_ACCESSIBILITY containing group boxes), but no one else has reported it for other apps and there's an app specific patch, so I don't see any harm in considering this for inclusion as app specific. It can always be generalised later. However, one problem is that we don't have contact with the reporter, so we can't get any issues addre

[2017-08-07 00:47] #3473 closed

[2017-08-07 00:56] #4812 closed

[2017-08-07 00:57] jcsteh commented on #4812
I haven't come up with any solution to this and it seems no one else has either. Closing.

[2017-08-07 01:05] jcsteh commented on #4308
Here's [the patch from Trac](https://github.com/nvaccess/nvda/files/1203624/0001-fixed-t4308-Nvda-no-longer-should-omit-the-first-cha.patch.txt).

@derekriemer, thanks for the patch. While this will indeed fix this particular case, the problem is that there are a lot of other cases it doesn't address; e.g. start typing a word, press NVDA+f12 to report the time, press space and you'll get no word.

[2017-08-07 01:05] #4308 closed

[2017-08-07 01:07] fisher729 commented on #7471
@taymun26, do you hear '"not supported in this document" when you press this letter? That's the behaviour in Word, and since this is also an Office application, the same should apply for Outlook, where it doesn't work. Could others test?

[2017-08-07 01:36] jcsteh commented on #5367
We haven't had solid reports on Flash crashes for a while. Also, #6885 might have fixed some potential issues here. With the demise of Flash, this is getting less and less relevant (and harder and harder to test). Closing as works for me, but we can reopen if someone can reliably reproduce this.

[2017-08-07 01:36] #5367 closed

[2017-08-07 01:57] jcsteh commented on #3350
There have been no changes in Reader related to this.

[2017-08-07 01:58] bhavyashah commented on #6527
On Internet Explorer 11, the third line below the first heading at
level 2 does read as x over y, although two lines preceding that read
only as x y. Unless @NSoiffer states that he/she still experiences
this bug, I suggest closing as worksforme.

On 8/7/17, James Teh <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.

[2017-08-07 02:11] jcsteh commented on #4008
The reporter suggests that no focus is reported at all in this app, but we don't know anything beyond that. It might be useful to have an advanced user take a look and see if they can figure anything out. That said, Adobe don't seem to be promoting this at all and Adobe Reader desktop is accessible for screen reader users, so I'm going to close this as won't fix. We can reopen if there is demand f

[2017-08-07 02:11] #4008 closed

[2017-08-07 02:14] jcsteh commented on #4074
Given the continuing demise of Flash, I don't think even investigating this is worthwhile. Closing.

[2017-08-07 02:14] #4074 closed

[2017-08-07 02:18] jcsteh commented on #5644
From what I understand, Adobe aren't really actively working on this any more, so changes are unlikely to happen there. It'd be possible to do browse mode in NVDA, but it's very low priority. Marking as p4.

[2017-08-07 02:20] jcsteh commented on #6673
I was asking @Neurrone to test using the steps I provided and report back. If that doesn't fix the issue, my diagnosis is incorrect.

[2017-08-07 02:35] jcsteh commented on #1840
Closing as a duplicate of #4738, since there's more technical discussion there and we're tracking this already. To cut a long story short, the aim is to handle this with profile triggers for languages.

[2017-08-07 02:35] #1840 closed

[2017-08-07 02:56] jcsteh commented on #7458
[**@bramd**](https://github.com/bramd) commented on [5 Aug 2017, 02:24 GMT+10](https://github.com/nvaccess/nvda/issues/7458#issuecomment-320292251 "2017-08-04T16:24:21Z - Replied by Github Reply Comments"):

There's no specific functionality for this at present, but it sounds reasonable. I'd probably suggest br(handyTech.ModularEvolution88):b1; i.e. keep the handyTech and use a full stop (or maybe

[2017-08-07 03:24] feerrenrut commented on #6582
I think [the suggestion](https://github.com/nvaccess/nvda/issues/6582#issuecomment-276759628) by @iamrauu is adequate.  This is quite a specialised request, and does not really need a to be a built in keyboard shortcut. As a note to anyone thinking about adding a button on to the speech viewer to do this, one problem you will face is that there will be a focus switch when pressing the button.

[2017-08-07 03:56] bhavyashah commented on #1724
Since the latest stable release of Total Commander for Windows 32+64 bit was about 7 months ago, I would consider this software's development status active. However, we cannot contact the original author of this ticket, the reported issue is almost six years old now, and this may have been resolved in recent versions of both TC and NVDA in this last six years. Time to close? @ehollig

[2017-08-07 04:01] bhavyashah commented on #1740
@jcsteh Since you seem to have replicated as well as investigated this ticket in the past (as indicated in https://github.com/nvaccess/nvda/issues/1740#issuecomment-155292151), could you please share updates about the current standing of the reported issue as well as methods of resolving it?

[2017-08-07 04:15] bhavyashah commented on #1772
@jcsteh In https://github.com/nvaccess/nvda/issues/1772#issuecomment-155292697, you have provided several justifications for the current order of speaking of control types. Do you maintain this stand or are you open to at least accepting a PR providing customization for the same? This probably has a non-trivial implementation cost, but I do feel that options in this case would be beneficial for ma

[2017-08-07 04:18] bhavyashah commented on #1776
@jcsteh For some odd reason, I happen to believe that you do use Mozilla Thunderbird. Could you and other NVDA+Thunderbird users, as well as NVDA+SeaMonkey Mail users, if any, please test and inform us if this bug still persists?

[2017-08-07 04:23] bhavyashah commented on #1784
@jcsteh The original author of this ticket seems to have responded to you with the requested information in https://github.com/nvaccess/nvda/issues/1784#issuecomment-155292880. Could the same attachment please be restored as well as a quick investigation be made? Regardless, it may be very likely that this almost 6-year-old issue is no lonhrt existent.

[2017-08-07 04:25] bhavyashah commented on #1786
@jcsteh @michaelDCurran It seems that a patch for this issue has already been provided. Therefore, could the NeedsCodeReview label please be added to this ticket and the attached patch be restored on Github as well?

[2017-08-07 04:28] bhavyashah commented on #1809
@michaelDCurran As indicated in https://github.com/nvaccess/nvda/issues/1809#issuecomment-155293174, you were able to successfully reproduce the reported crash. Is this still the case, or has this issue been resolved with an updated software setup? If no one is able to replicate this anymore, I suggest closing.

[2017-08-07 04:31] bhavyashah commented on #1836
@Qchristensen Could you please test this issue and report whether or not this bug still exists? If Quentin and others are unable to reproduce, I suggest closing as worksforme.

[2017-08-07 04:34] bhavyashah commented on #1842
Since the original reporter of this issue cannot be contacted and he/she did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/1842#issuecomment-155293392, we remain the dark with regards to what exactly this ticket encompasses. In addition, I am a frequent user of m.facebook.com's messaging feature on Firefox and all seems well to me. Time to close? @ehollig

[2017-08-07 04:36] jcsteh commented on #1784
[Read All Freeze.txt](https://github.com/nvaccess/nvda/files/1203878/Read.All.Freeze.txt)

The attached log does not show the steps I requested; i.e. pressing NVDA+f12 or NVDA+tab. Given the age of this issue, I'm going to close this as invalid, since we don't have sufficient information.

[2017-08-07 04:36] #1784 closed

[2017-08-07 04:37] bhavyashah commented on #1848
@jcsteh @leonardder Could you please assign this ticket a priority? The ticket summary seems to suggest that this is a regression as opposed to being a pre-existing bug, which may increase the value of this issue.

[2017-08-07 04:37] jcsteh commented on #1776
I don't use Thunderbird any more.

[2017-08-07 04:40] bhavyashah commented on #1864
IMHO, proper access to help balloons should have been looked into years ago given the clear demand for the same. Regardless, given that Windows 10 uses toast notifications which I believe are accessible, and clearly, Windows 10 is the future and not Windows 7/8.1, I suppose the priority of this feature is no longer high. Thoughts?

[2017-08-07 04:43] jcsteh commented on #1848
I don't think this is a regression. I think it just wasn't tested in earlier versions.

[2017-08-07 04:48] Qchristensen commented on #1836
I don't have 2010 but just tried in Word 2007 and Word 2016 and in both cases, NVDA reads:

"font combo box Calibri, changes the font of the selection."

(Actually in Word 2010 the font name is "Calibri (body)")

Either way #worksforme.  I'm fairly sure this is one of those things that has been cleaned up along the way (this issue was raised in 2011), but if someone with Word 2010 could double che

[2017-08-07 04:51] jcsteh commented on #1772
We've discussed making it possible  to customise this. Use cases where this might make sense include when screen layout is disabled or if there were a future option to have pauses between control information and content. In these cases, my arguments aren't as relevant. Implementation cost is still very high, though. So, p4 for now.

[2017-08-07 04:53] bhavyashah commented on #1708
If I understand mehgcap  correctly, shouldn't this be possible via customized symbol pronunciations for an app-specific profile? CC @brian1gaff and @jcsteh to elucidate

[2017-08-07 04:53] jcsteh commented on #1740
It still persists. No idea how to fix it besides never using modal dialogs, which isn't really feasible.

[2017-08-07 04:54] bhavyashah commented on #1742
@michaelDCurran @jcsteh In conclusion, does https://github.com/nvaccess/nvda/issues/1742#issuecomment-155292168 imply that this issue can be potentially fixed, or should we close this ticket as a cantfix?

[2017-08-07 04:55] jcsteh commented on #1708
I think profiles are the correct way to deal with this. You could trigger profiles for specific apps or manually switch profiles. There are open requests for faster manual switching of profiles (though I don't have issue numbers offhand). Closing as won't fix.

[2017-08-07 04:55] #1708 closed

[2017-08-07 04:56] bhavyashah commented on #1876
The original author of this ticket seems to suggest in https://github.com/nvaccess/nvda/issues/1876#issuecomment-155293977 that the reported issue is unrelated to NVDA. Time to close? @ehollig

[2017-08-07 04:59] bhavyashah commented on #1888
@michaelDCurran Are you still able to successfully reproduce the reported issue? Even if Mick responds in the affirmative, I would still say that IE 9 is more or less dead and I thus suggest closing this ticket as a wontfix regardless. @ehollig

[2017-08-07 05:01] bhavyashah commented on #1899
@jcsteh What priority would you deem appropriate for this ticket? From the sound of it, this seems to be a quick fix, in which case a higher priority would be justified. CC @leonardder @dkager @derekriemer and others

[2017-08-07 05:04] bhavyashah commented on #1906
Is it a patch that has been attached in https://github.com/nvaccess/nvda/issues/1906#issuecomment-155294151 or is it diagnostic information?

[2017-08-07 05:06] feerrenrut commented on #4520
Personally I'm not convinced that this is something that should be solved within NVDA. It would be much better if the synth was responsible for this, I think bugs should filed against synths that don't get this right. That said, if the same synth produces better results with other screen readers, then perhaps there is more that we can do.

[2017-08-07 05:08] bhavyashah commented on #1914
@jcsteh Could you please clarify if a tooltip is queued as stated in https://github.com/nvaccess/nvda/issues/1914#issuecomment-155294232 or if it does interrupt say all as believed by the original author?

[2017-08-07 05:11] bhavyashah commented on #1922
@jcsteh As indicated in https://github.com/nvaccess/nvda/issues/1922#issuecomment-155294289, has this issue been reported to Microsoft? Please let us know in case there has been any work from Microsoft in this regard.

[2017-08-07 05:13] dkager commented on #6695
There is also a function to get the widechar size, though that would require a library call from the wrapper:

[code]

A much more ambitious solution would be to make liblouis work with UTF-16 as opposed to UCS-2, i.e. add support for surrogate characters.

[2017-08-07 05:13] bhavyashah commented on #1924
From @jcsteh's https://github.com/nvaccess/nvda/issues/1924#issuecomment-155294296, it seems that this ticket requires the NeedsExternalFix label at the very least. Also, the age of this issue and seeming lack of information makes me lean towards closing. @ehollig

[2017-08-07 05:15] feerrenrut commented on #2704
File has been added to https://github.com/nvaccess/nvda/issues/2704#issuecomment-155300961.

[2017-08-07 05:15] #2704 closed

[2017-08-07 05:16] bhavyashah commented on #1931
The STR is not too clear, but I don't believe I have experienced such issues in recent stable Firefox builds. In case no one else has encountered the described behaviour in the recent past either, I suggest closing. @ehollig

[2017-08-07 05:19] bhavyashah commented on #1935
Confirmed with NVDA version 2017.2 and Word 2010.

[2017-08-07 05:19] feerrenrut commented on #3606
Both attachments added to https://github.com/nvaccess/nvda/issues/3606#issuecomment-155311319

[2017-08-07 05:26] bhavyashah commented on #1740
In that case, should we close this as cantfix?

[2017-08-07 05:27] jcsteh commented on #1922
It hasn't. However, this doesn't occur in Windows 10. Since Microsoft are really focused on Windows 10 now, it's extremely unlikely this would get fixed in earlier versions. Also, while annoying, it's not a total show stopper: you can still locate a file in these apps. Closing as can't fix.

[2017-08-07 05:27] #1922 closed

[2017-08-07 05:29] jcsteh commented on #1740
No; I'm hoping further investigation might reveal a solution eventually. P3 to investigate.

[2017-08-07 05:38] jcsteh commented on #1914
Tool tips are queued. Alerts might cancel speech, however. It's possible Thunderbird is using alerts for some things, and if so, this causes a problem here because some alerts are important and should interrupt speech. That should probably be dealt with in an app specific way.

Note that you can disable tool tips for say all now by using a say all triggered profile. I think that answers this reque

[2017-08-07 05:38] #1914 closed

[2017-08-07 05:39] feerrenrut commented on #7074
I think there are two use cases here (please correct me if these don't make sense to you, or there are more):

- As a user of NVDA, I want to know what duplicates/overridden keyboard shortcuts exist. This is because I have been using NVDA for a long time, have many add-ons, and profiles. I no longer know what clashes with what.
- As a user of NVDA, I want to be able to check if a keyboard shortcut

[2017-08-07 05:40] bhavyashah commented on #1836
I suppose the interface for this dialog differs between Word 2010 VS 2013/2016. I tested this using the slightly unclear STR provided in the ticket summary and was able to successfully reproduce it using NVDA version 2017.2 and Word 2010 on a Windows 8.1 64 bit system as follows:
* Open a new Word document.
* Press Ctrl+Shift+S to open the Apply Styles toolbar/dialog.
* Tab and press the Modify...

[2017-08-07 05:46] bhavyashah commented on #1943
The fact that we have moved on from flat review doesn't change anything with respect to this ticket, right? Regardless, in terms of priority assignments, I actually think a P3 may be appropriate because headers and footers are used very commonly in any word processor and the proposal sounds nice to have. Thoughts? @Qchristensen @feerrenrut @michaelDCurran

[2017-08-07 05:50] bhavyashah commented on #1951
I think adding the Open User Guide button to the Welcome dialog is the best approach too. Users would definitely seek help material the moment they install NVDA, and if they don't, one extra button would be of no harm to them anyways. Do you still have any doubts/concerns in this matter? @jcsteh If not, please add the NeedsCodeReview label.

[2017-08-07 05:56] bhavyashah commented on #1957
@jcsteh Is this localization request something that can be fixed quickly? If yes, please triage and add the QuickFix label accordingly.

[2017-08-07 05:57] feerrenrut commented on #7152
Yes, there is an update to `espeak-ng` looming. It will be interesting to know if this bug shows up when it hits `next`. See PR #7385

[2017-08-07 06:01] bhavyashah commented on #1958
@jcsteh As noted in https://github.com/nvaccess/nvda/issues/1958#issuecomment-155294544, has the raising of timeout been reconsidered ever since?

[2017-08-07 06:02] jcsteh commented on #1958
The timeout was raised in #7201, so this should effectively be fixed.

[2017-08-07 06:02] #1958 closed

[2017-08-07 06:03] bhavyashah commented on #1961
@jcsteh Since you asserted, and I guess I agree, that this is likely not an NVDA issue, could you please address https://github.com/nvaccess/nvda/issues/1961#issuecomment-155294566 and triage this ticket accordingly?

[2017-08-07 06:04] jcsteh commented on #1957
This probably isn't hugely difficult, but it's not really trivial either.

[2017-08-07 06:08] jcsteh commented on #1961
It's difficult to substantiate the claims that performance is better in these other apps. That said, the lag removal fix in #6166 will probably help this too.

[2017-08-07 06:09] bhavyashah commented on #1970
@michaelDCurran Could you please clarify whether the behaviour described in https://github.com/nvaccess/nvda/issues/1970#issuecomment-155294643 falls under the scope of this ticket itself or a separate issue needs to be raised? Also, CC @Qchristensen and others for assistance in testing and troubleshooting. Personally speaking, I don't think I am able to reproduce the reported issue because object

[2017-08-07 06:23] feerrenrut opened #7477 "Add accelerator for "Windows 10 OCR..." option"
### Steps to reproduce:

1. Open the NVDA preferences submenu (`NVDA+n` then `p`)
2. Notice that all options have an accelerator set except for "Windows 10 OCR..."
3. Press 'w'
4. Notice that the "Windows 10 OCR... " options dialog is opened.

### Expected behavior:
Expected this item to have an accelerator explicitly set (an underlined w for instance)

### Actual behavior:
There is no explicit ac

[2017-08-07 06:23] feerrenrut commented on #7477
Setting as priority 2 since its a recent feature, and this will be very quick to fix.

[2017-08-07 06:24] feerrenrut commented on #7477
We don't want this to go into the next release (2017.3), since it will affect the translations and is a minor issue.

[2017-08-07 06:25] bhavyashah commented on #1977
Since the original author of this ticket cannot be contacted and he/she did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/1977#issuecomment-155294676 requesting specifics and detailed information, I suggest closing. @ehollig

[2017-08-07 06:31] josephsl commented on #7477
Hi, one way to get around this is telling translators to add pneumonics for this item in their po files (Korean uses this approach). Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Sunday, August 6, 2017 11:23 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add accelerator for "Windows 10 OCR..." option (#747

[2017-08-07 06:35] feerrenrut commented on #1710
@fernando-jose-silva Could you please upload an NVDA log (with debug level logging) after this next occurs on your machine? The logs we have are all quite old, and I am worried that they may mislead us.

[2017-08-07 06:39] bhavyashah commented on #2003
I can safely say that this issue hasn't completely disappeared even with version 2017.2, and the results are exactly same as described in many of these comments, but there remains no reliable method of replication. Thoughts/inputs anyone?

[2017-08-07 06:44] bhavyashah commented on #2048
Don't commands like NVDA+Delete and NVDA+Tab help somewhat in this regard? If not, this may be possibly related to a ticket by Mesar I and @jcsteh recently commented on, whose number I am unable to relocate.

[2017-08-07 06:47] bhavyashah commented on #2032
@jcsteh Your https://github.com/nvaccess/nvda/issues/2032#issuecomment-155295154 is slightly unclear to me. Pressing NVDA+F5 always dislaces the focus to the top of the document rather than there being particular cases where this bug takes place. Could you please clarify?

[2017-08-07 06:52] bhavyashah commented on #2037
I am positive that I had filed a very similar ticket (probably on Trac) which duplicates this. Could someone please relocate that and close either this or the other one (I am bad when it comes to locating particular tickets)? @ehollig

[2017-08-07 07:01] jcsteh commented on #2032
My point is that this command is more meant for diagnosing problems, rather than something that users should actually use in real world usage. So, having it return focus to the right place isn't something we consider important because it shouldn't be necessary in real world usage anyway. If there are cases where you need to use NVDA+f5, those should be filed specifically and addressed.

[2017-08-07 07:04] feerrenrut commented on #4388
I'm a little unsure of the behaviour being described here, on my system (Windows 10) when I do the following:

1. Copy a folder containing enough stuff that it will take about 5 seconds to paste.
2. Paste into another folder.

**Actual:**
NVDA reports:
[code]

@bhavyashah Could you please outline what you expect NVDA to report? Do mean NVDA should interrupt itself as the progress bar changes eg:

[2017-08-07 07:16] bhavyashah commented on #4388
Updates of the progress bar (of Windows during copying of files) you have tested with are not indicated by speech or beeps, which, I suppose is a separate issue (which I must remember to file someday) altogether, as it seems to me. Could you try another progress bar, one which NVDA does recognize and can speak and beep for, in which you will automatically notice that NVDA is saying all percentage

[2017-08-07 07:19] bhavyashah commented on #2032
@jcsteh Okay, but if specific cases should be filed separately, can we close this ticket?

[2017-08-07 08:32] feerrenrut commented on #4388
Ok, I think, I see what you mean now. I have made a test application to make it easier to reproduce this problem:
[ProgressBarTest.zip](https://github.com/nvaccess/nvda/files/1204260/ProgressBarTest.zip)

The progress bar can increment faster than NVDA can speak the percentages. NVDA's speech becomes queued and in this case, the progress bar may have been complete for several seconds before NVDA f

[2017-08-07 08:46] feerrenrut commented on #2156
Added the attachment to https://github.com/nvaccess/nvda/issues/2156#issuecomment-155296098

[2017-08-07 08:48] feerrenrut commented on #1486
Added the attachment to https://github.com/nvaccess/nvda/issues/1486#issuecomment-155289857

[2017-08-07 08:50] feerrenrut commented on #1486
Since its been quite some time since this was tested. Could someone test this again, and create a PR for the inclusion of the attachment.

[2017-08-07 08:59] feerrenrut commented on #6904
I think @derekriemer's suggestion is the way to go. Allow the import and export of symbols and provide a common math symbols file.

To summarise this issue:
1. Setting up pronunciation for symbols is time consuming and error prone.
2. Depending on a users current task, it might be preferable to have symbols pronounced in a different way. Enabling and disabling a set of symbol pronunciation entries

[2017-08-07 09:01] bhavyashah commented on #4388
Precisely. I haven't tested the zipped file you sent but I am very sure from your textual description that you have interpreted the bug correctly.

[2017-08-07 09:06] jcsteh commented on #4388
I haven't actually tested this, but looking at the code, it's supposed to only speak percentages every 10%. However, without looking deeply, it looks like we might not be updating the cache for updates which don't speak, which could result in more percentages being read than should read.

[2017-08-07 09:08] jcsteh commented on #4388
Note that this still doesn't interrupt previous percentage utterances, but it would make things a whole lot better if it worked. I'm not sure interrupting is a good idea here, as that would cause progress bars to interrupt other information. For example, imagine there were a dialog which updated progress very soon after it was opened. That would cause the percentage indication to interrupt reporti

[2017-08-07 09:11] jcsteh commented on #6904
I don't see any reason we shouldn't include common math symbols into the core, excepting the Greek letters issue outlined in https://github.com/nvaccess/nvda/issues/6904#issuecomment-281498163, but that needs to be solved regardless. I can't think of any use cases that would explicitly require math symbols to *not* be read in specific circumstances.

[2017-08-07 09:12] jcsteh commented on #2032
That's a fair point. Closing as won't fix.

[2017-08-07 09:12] #2032 closed

[2017-08-07 09:25] feerrenrut commented on #1652
Added the attachment to the comment, since quite some time has passed this will need to be re-tested, and a PR created.

[2017-08-07 09:28] feerrenrut commented on #1398
I assume this was left out on purpose, comment 1 was just someone being added to the "watch list".

[2017-08-07 09:39] feerrenrut commented on #6904
I was considering a case like the Greek letters, where in one context you one a set of symbols to be pronounced in a certain way, but not in another context. Perhaps that is scope creep, and we should be focusing on the core issue: "Math symbols are not pronounced as expected by default"

[2017-08-07 10:23] khsbory commented on #4220
Wow, thank you for your advice.

My colleague is low vision, he is really want to know the way how to read from the mouse pointer.
I let him know the way and he wants to appreciate to you.

Thank you.

김 형 섭	 / Hyongsop Kim
(주)엔비전스 / 웹접근성사업팀 팀장

서울시 종로구 가회동 1-29
1-29 Gahoe-dong, Jongno-gu, Seoul, Korea
T. +82 70 4900 0895   F. +82 2 313 3645   M. +82 10 5359 5996

http://dialogueinthedark.co.kr
ht

[2017-08-07 11:33] dkager commented on #2807
Confirmed working, after restarting NVDA and Explorer.

[2017-08-07 12:20] kvn-dh-zeus commented on #5741
Currently in latest version, NVDA do not reading anything in any website only in firefox (Updated NVDA few minutes ago).

[2017-08-07 13:20] ehollig commented on #4220
Sounds like from https://github.com/nvaccess/nvda/issues/4220#issuecomment-320627423 that this issue has been resolved. Closing

[2017-08-07 13:20] #4220 closed

[2017-08-07 14:10] dkager commented on #7188
While it doesn't bother me personally, a few weeks of using this code makes me wonder if `***` (protected) is such a good idea. I have similar concerns about `...`, though less so.

The problem I see is that for protected fiels, you can now have 3 groups of asterisks:
1. An asterisk to indicate that the field is required.
2. 3 asterisks to indicate the protected state.
3. A number of asterisks tha

[2017-08-07 14:11] ehollig commented on #141
@feerrenrut or @jcsteh, could you dig up the attachment from trac and attach it here?

[2017-08-07 14:31] #1876 closed

[2017-08-07 14:33] k-kolev1985 commented on #1724
Actually, this seams to be fixed. I can now read the list items in the "Change start menu" dialog of Total Commander. The test is done on a 64-bit OS. I have both the 32 and the 64-bit versions of Total Commander v9.0a installed. In the 64-bit edition of Total Commander everything works as expected. In the 32-bit edition there is a minor annoyance - NVDA says "selected" in front of every entry in

[2017-08-07 14:36] ehollig commented on #1708
One of the issues you are looking for is #4209

[2017-08-07 14:37] ehollig commented on #1724
From https://github.com/nvaccess/nvda/issues/1724#issuecomment-320680561, closing as worksforme

[2017-08-07 14:37] #1724 closed

[2017-08-07 15:14] ehollig commented on #7424
Closing because @danwainwright01 has not responded to @leonardder's questions in https://github.com/nvaccess/nvda/issues/7424#issuecomment-316897574.
@danwainwright01, if this is still happening, please reply with the steps that you take to produce the issue you're having, the software you use, the actions you perform in the software, what do you expect to happen, and what happens instead?

[2017-08-07 15:14] #7424 closed

[2017-08-07 15:35] ehollig commented on #1977
Closing because insufficient information provided to questions asked in https://github.com/nvaccess/nvda/issues/1977#issuecomment-155294676. Also, we do not have a way to contact the original author.

[2017-08-07 15:52] fernando-jose-silva commented on #1977
I would ask please do not yet close the problem.
I believe I can reproduce the problem.
I have the abby fine reader 12.
Open the fine reader.
Use the Open File option.
Choose a pdf file as an example.
Now that the problem can be found.
Press alt and then an arrow below to navigate through the menu.
Expected the nvda should read the item with focus.
The thing is that the nvda is mute.
Follows a log

[2017-08-07 16:05] fernando-jose-silva commented on #7074
Perfect are these two situations.

[2017-08-07 16:06] ehollig commented on #1924
As @jcsteh said in https://github.com/nvaccess/nvda/issues/1924#issuecomment-155294296, it would be better if the application developer can implement accessibility in a more reliable way. Closing as wontfix

[2017-08-07 16:06] #1924 closed

[2017-08-07 17:30] fernando-jose-silva commented on #7473
I would like to report another situation where the one core synthesizer is cutting a speech:
In excel edit a cell, then press esc to return to the worksheet.
It is expected that nvda will announce the cell in focus.
What happens is that nvda announces only the name of the worksheet by cutting the cell name.

Again using next 14290 with onecore synthesizer, tests with vocaliser exprecive 1.1 acted

[2017-08-07 19:33] ehollig commented on #3606
After briefly looking at the attachments, I am leaning toward invalid as @dkager suggested in https://github.com/nvaccess/nvda/issues/3606#issuecomment-320724193 as we do not have a reliable way to replicate the issue. Feel free to reopen if you do not agree.

[2017-08-07 19:33] #3606 closed

[2017-08-07 19:39] ehollig commented on #7473
It would be interesting to know if these delays or error occur when using Narrator with the OneCore Synth and the same voice.

[2017-08-07 20:22] bdorer commented on #1776
Yes, this issue still occours but only if new messages are opened in a
ne window, not in a tab.
Here's a short log fragment showing you what's NVDA telling after
opening a message:
Input: kb(laptop):NVDA+l
IO - speech.speak (21:57:21.553):
Speaking [u'Ausgeklappt   Re: [nvaccess/nvda] NVDA reads the subject
more than once before it starts reading the message in Mozilla
Thunderbird and Seamonkey Ma

[2017-08-07 20:24] ehollig commented on #2036
The URL provided in the original post no longer exists. Also, it sounds like from @jcsteh's comment in https://github.com/nvaccess/nvda/issues/2036#issuecomment-155295199 that NVDA already supports descriptionChange events. If this issue still exists, and someone can provide another working example, the issue can be reopened. Closing

[2017-08-07 20:24] #2036 closed

[2017-08-07 20:31] ehollig commented on #2659
Duplicate of #1909

[2017-08-07 20:31] #2659 closed

[2017-08-07 20:37] ehollig commented on #1909
From @jcsteh's comment in https://github.com/nvaccess/nvda/issues/1909#issuecomment-155294161 the issue was not reproducible. Furthermore, the original author did not answer @jcsteh's question if the issue still occurs with NVDA 2011.2. Marking as worksforme, but would be happy to reopen if this still occurs with the latest NVDA and IE 9.

[2017-08-07 20:37] #1909 closed

[2017-08-07 21:02] ehollig commented on #1985
Unless I am missing something entirely, I am not able to locate the imagemap on the URL provided. If this is still the case, please create a new issue with updated information including:

- Latest NVDA
- Versions of Chrome, Firefox, and IE used
- An example where this issue can be located

Closing. CC @jcsteh

[2017-08-07 21:02] #1985 closed

[2017-08-07 21:10] ehollig commented on #1932
Closing because this is being covered by #4837 which already has a priority.

[2017-08-07 21:10] #1932 closed

[2017-08-07 21:29] ehollig commented on #2875
@jcsteh was not able to reproduce this in https://github.com/nvaccess/nvda/issues/2875#issuecomment-155303252, so closing.
I was not able to reproduce the described behavior. This could also be a special case of #2039.

[2017-08-07 21:29] #2875 closed

[2017-08-07 21:35] ehollig commented on #1842
Closing. Worksforme.
This also could be a special case of #4522

[2017-08-07 21:35] #1842 closed

[2017-08-07 21:39] PratikP1 commented on #7473
The behaviors I have observed can’t be replicated with Narrator and English voices of OneCore.

[2017-08-07 21:48] ehollig commented on #7276
@joshknnd1982 can you please respond to https://github.com/nvaccess/nvda/issues/7276#issuecomment-308889741

[2017-08-07 21:50] ehollig commented on #7244
CC @feerrenrut as this sounds like a visual issue.

[2017-08-07 21:52] bdorer commented on #7276
I'm using Thunderbird 52.2.1 and latest nvda next with several addons. There are no freezes on my side.

[2017-08-07 21:54] jcsteh commented on #1977
Closing as a duplicate of #5693, since that issue contains more detail.

[2017-08-07 21:54] #1977 closed

[2017-08-07 22:16] jcsteh commented on #5693
Thoughts based on these logs:

1. It seems that watchdog is cancelling too early; i.e. `_shouldRecoverAfterMinTimeout` is returning True when it shouldn't. I'm not sure why this is, but that is probably why certain things don't get read at all; the calls get cancelled by watchdog before the information can be retrieved. That doesn't explain why it's so slow, though.
2. A lot of these freezes seem

[2017-08-07 22:17] jcsteh commented on #5693
While I don't believe this is our bug, Abbyy Finereader is probably an important app used by quite a few screen reader users, so p2 to at least investigate further.

[2017-08-07 23:52] ehollig commented on #2093
CC @josephsl, just wondering what the status on your commit #655b457 was and if it could help with #2094

[2017-08-07 23:57] fernando-jose-silva commented on #5693
Perfect, it worked.

Follow the new log.

Please now how do i to nvda voutar the default settings after typing in the piton what you asked for.

It was the first time I entered the python console.

Thank you very much.

IO - inputCore.InputManager.executeGesture (20:55:20.486):

Input: kb(laptop):downArrow

IO - speech.speak (20:55:21.367):

Speaking [u'Digitalizar p\xe1ginas...\tCtrl+K  D  3 de 2

[2017-08-08 00:03] fernando-jose-silva commented on #7473
My nvda with this build next 14290 with the voice onecore in portuguese brazil is with the informed behaviors.

The previous build of nvda that I tested next 14240 did not have these problems, the only problem was regarding the priority audio mode.

De: PratikP1 [mailto:notifications@github.com]
Enviada em: segunda-feira, 7 de agosto de 2017 18:40
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc:

[2017-08-08 00:09] jcsteh commented on #5693
From what I can see, there's still a second or so of lag before it reports each menu item. Is that correct? Do you experience the same lag with Narrator?

There's no way to make this the default, nor would this be a good idea. If a window stops responding, NVDA will simply stop responding altogether; it won't recover when you switch to another application or the like. I just wanted to check whethe

[2017-08-08 00:29] fernando-jose-silva commented on #5693
Thank you very much, I did the tests with the narrator, and he did not present the time of 1 second to navigate.

De: James Teh [mailto:notifications@github.com]
Enviada em: segunda-feira, 7 de agosto de 2017 21:09
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Comment <comment@noreply.github.com>
Assunto: Re: [nvaccess/nvda] NVDA is almost unr

[2017-08-08 00:30] fernando-jose-silva commented on #7473
I did the tests with the narrator and none of the problems reported by me did.

The narrator is unfortunately much faster than the nvda.

De: Ethan Holliger [mailto:notifications@github.com]
Enviada em: segunda-feira, 7 de agosto de 2017 16:39
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Author <author@noreply.github.com>
Assunto: Re: [nvacce

[2017-08-08 00:34] ehollig commented on #2320
This probably has to do with the same bug why OneCore voices change their rate back to 50% when changed, and it is required to change the speed in the control panel. Either way, does this need an external fix @jcsteh?

[2017-08-08 00:38] ehollig commented on #2371
Closing as we do not have a way to contact the original author of this ticket, and the developer should really fix the accessibility of the application in the first instance.

[2017-08-08 00:38] #2371 closed

[2017-08-08 04:42] bhavyashah commented on #2068
@brian1gaff and other SAPI 4 users: Could you please test if this still persists with any SAPI 4 synthesizers? Given that SAPI 4 is fading into obscurity, this issue is more than five years old, and we have no means to contact the original author of this ticket, unless we can get any feedback confirming the current standing of this issue, I suggest closing. @ehollig

[2017-08-08 04:47] bhavyashah commented on #2112
@k-kolev1985 Could you please test and report whether or not the reported issue still persists? Even if it does, I expect priority to be P4, right? @feerrenrut

[2017-08-08 04:48] danewhk opened #7480 "NVDA not reading the objects under the mouse cursor when mouse emulator is used."
Some of our clients use emulator freeware such as “JoyToKey” to allow joystick to mimic a mouse, so they can control the mouse cursor with a joystick. It is found that NVDA would not read aloud the object or text under the mouse cursor when such emulator is used to control the mouse cursor. Do you have any suggestion on how we can make NVDA works with these mouse emulators?

Thanks so much!

Syste

[2017-08-08 04:49] feerrenrut commented on #141
I have updated https://github.com/nvaccess/nvda/issues/141#issuecomment-155278060 with the file

[2017-08-08 04:50] bhavyashah commented on #2119
@jcsteh @feerrenrut Could you please talk about the feasibility or possibility of this proposal? If it can be implemented taking security concerns and implementation considerations into account, please add the feature label.

[2017-08-08 04:55] bhavyashah commented on #2132
@jcsteh Since the original author of this ticket, although now out-of-reach, did respond to your questions in https://github.com/nvaccess/nvda/issues/2132#issuecomment-155295901, could you please provide a follow-up comment?

[2017-08-08 05:23] jcsteh commented on #2132
I haven't dug into this too deeply, but it looks like the no duplicate rule for child id > 0 is specific to simple children; i.e. IAccessibleChildID > 0, not event_childID > 0. In this case, these are full IAccessibles, but with a positive child id. We might be able to test event_childID > 0 instead... or perhaps we could somehow use the reorder event as was originally suggested.

Regardless, we d

[2017-08-08 05:23] #2132 closed

[2017-08-08 05:25] jcsteh commented on #2119
I think #6305 is a better solution to this problem. Closing as a duplicate.

[2017-08-08 05:25] #2119 closed

[2017-08-08 05:52] Mohamed00 commented on #2068
Using SAPI 4 and several engines, I can't seem to reproduce this, and the engine described doesn't seem to support capital pitch change adjustment. I'm leaning towards a worksforme for this unless someone else still reports this.

[2017-08-08 06:07] bhavyashah commented on #2067
@jcsteh As you indicated in https://github.com/nvaccess/nvda/issues/2067#issuecomment-155295439, the reported issue is a limitation of the Windows API function we use. Do we have alternatives to use with a more relaxed character limit? CC @feerrenrut for GUI expertise

[2017-08-08 06:10] bhavyashah commented on #2063
@jcsteh @feerrenrut Could the attachment in https://github.com/nvaccess/nvda/issues/2063#issuecomment-155295415 please be restored? Does it demonstrate the inaccessibility reported by the original author on more recent versions of web browsers? If not, I suggest closing as worksforme.

[2017-08-08 06:15] bhavyashah commented on #2054
Since the original author of this ticket cannot be contacted and he unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2054#issuecomment-155295344, the scope of this ticket remains unclear. Time to close? @ehollig

[2017-08-08 06:17] bhavyashah commented on #2033
Various comments on this ticket by the original author indicate that this issue lies with the Braille display and not NVDA itself. Given that this issue is more than five years old, unless our resident Braille experts recommend otherwise, I suggest closing. @ehollig

[2017-08-08 06:21] bhavyashah commented on #2053
While we may require the reported issue to be tested with a sample Greek PDF document in the latest version of Acrobat Reader, we probably cannot contact nikosdemetriou anymore. Thoughts? @ehollig @jcsteh

[2017-08-08 06:54] bhavyashah commented on #1997
@jcsteh Am I correct in understanding that an option specifically to toggle the reporting of space is being requested and agreed to here? If so, I consider such an option to be quite unnecessary and a redundant overkill. I am not convinced we should accept this feature request in the first place. Thoughts?

[2017-08-08 07:21] bhavyashah commented on #2106
@jcsteh Did any of the suggestions you provided in https://github.com/nvaccess/nvda/issues/2106#issuecomment-155295707 ever materialize? I believe not, and I thus suggest closing. @ehollig

[2017-08-08 07:21] k-kolev1985 commented on #2112
Yes, this still occurs under Windows 7 with NVDA 2017.2.

[2017-08-08 07:32] feerrenrut commented on #7244
Using Firefox version `53.0.3 (32-bit)` and NVDA Version: `master-14289,6c85ce59`

For those who are interested in this, but are unable to visually inspect the example:
There are two columns of list items, each is a link. In the left column is:
* Class aptent taciti sociosqu ad litora.
* Praesent vitae arcu tempor neque lacinia.
* In vulputate urna eu arcu. Aliquam.
* Duis viverra diam non justo.

[2017-08-08 08:17] bhavyashah commented on #2113
@k_kolev1985 Could you please test and report whether or not the reported issue still persists with the latest versions of NVDA and problematic software?

[2017-08-08 08:21] bhavyashah commented on #2137
@jcsteh Since you were deliberating on this issue as seen in earlier comments, could you also please respond to the thoughts expressed in https://github.com/nvaccess/nvda/issues/2137#issuecomment-155295935 and https://github.com/nvaccess/nvda/issues/2137#issuecomment-155295936?

[2017-08-08 08:21] feerrenrut commented on #2112
I cant get this dialog to show with Windows 7 Home Premium.

@k-kolev1985 Could you please add both the full expected text to this issue, and the actual text reported by NVDA to this issue? So that I can understand better how you are approaching this issue, could you also tell me how you read the text which is not initially reported by NVDA. Thanks!

[2017-08-08 08:24] bhavyashah commented on #2141
Since this ticket was more of an enquiry than a request, the original author of this ticket can no longer be contacted, there was no follow-up response to https://github.com/nvaccess/nvda/issues/2141#issuecomment-155295972 and an application should improve its accessibility implementation itself instead of screen readers having to work around them, I suggest closing. @ehollig

[2017-08-08 08:26] bhavyashah commented on #2150
CC @Qchristensen and @michaelDCurran (Microsoft Office experts) for thoughts on this ticket.

[2017-08-08 08:26] feerrenrut commented on #2063
I have attached the file to https://github.com/nvaccess/nvda/issues/2063#issuecomment-155295415, @bhavyashah would you be able to test this / investigate further?

[2017-08-08 08:32] bhavyashah commented on #2157
@tspivey @nishimotz Could you please test and report whether or not the reported issue still persists?

[2017-08-08 08:34] bhavyashah commented on #2158
NVDA has dropped the flat review concept in favour of the three review modes. Does that make this issue irrelevant?

[2017-08-08 08:39] bhavyashah commented on #2169
@feerrenrut @jcsteh Assuming that the reported issue still stands, please assign this a priority deemed appropriate by you.

[2017-08-08 08:47] k-kolev1985 commented on #2113
I no longer use Total Recorder and Format Factory, but the issue does no longer occur with Speed Commander.

[2017-08-08 08:51] bhavyashah commented on #2178
Since IE 9 is fading into obscurity, the original author of this ticket did not respond to https://github.com/nvaccess/nvda/issues/2178#issuecomment-155296250, and we have no means of contacting him/her, I suggest closing. @ehollig

[2017-08-08 08:57] bhavyashah commented on #2179
https://github.com/nvaccess/nvda/issues/2179#issuecomment-155296261 seems to indicate that this issue was fixed byAdobe. Regardless, with the demise of Flash, it is highly unlikely that this ticket will receive any attention due to its minimal value.

[2017-08-08 09:13] k-kolev1985 commented on #2112
@feerrenrut What - you don't get the deletion confirmation dialog for a shortcut? Have you by any chance disabled the deletion confirmation dialog in the properties of the "Recycle Bin"?

Anyway, here is what I get NVDA to read when the dialog appears and manually with screen review, both in bulgarian and my approximate translation to english:

// This is what NVDA reads when the dialog appears, i

[2017-08-08 09:58] ingf opened #7481 "Where can i find this complete emoji list"
hi, Where can i find this complete emoji list, or what is the solution, thak you!

https://github.com/nvaccess/nvda/blob/8234a65269ac9fc627be64d7276e00db265fd2a4/source/locale/zh_CN/symbols.dic#L299

[2017-08-08 14:20] ehollig commented on #2178
Actually, Microsoft removed the progress bar when they rebuild IE9. If this is referring to IE 8 and XP, it is very unlikely that this issue will be fixed. Closing as wontfix

[2017-08-08 14:20] #2178 closed

[2017-08-08 14:30] ehollig commented on #2113
Closing as the problem no longer exists in https://github.com/nvaccess/nvda/issues/2113#issuecomment-320892591.
If the problem still exists with Total Recorder or Format Factory, please create a new issue.

[2017-08-08 14:30] #2113 closed

[2017-08-08 14:39] ehollig commented on #2068
I tried to reproduce this and was unable to. Closing as worksforme

[2017-08-08 14:39] #2068 closed

[2017-08-08 14:45] #2141 closed

[2017-08-08 15:08] ehollig commented on #1745
Closing because we do not have contact with the original author, and it is really recommended to contact the application developers to report accessibility issues first when requesting support for new programs.

[2017-08-08 15:08] #1745 closed

[2017-08-08 15:14] ehollig commented on #1939
Is this something that can be retrieved from the NVDA+Del command? CC @michaelDCurran @bhavyashah

[2017-08-08 15:20] ehollig commented on #2850
I think I tend to agree with @jcsteh in https://github.com/nvaccess/nvda/issues/2850#issuecomment-155303033. Arrow keys are still command keys and this should not be changed. Feel free to reopen if someone disagrees.

[2017-08-08 15:20] #2850 closed

[2017-08-08 17:42] ehollig commented on #2049
Closing for the following reasons:

1. This ticket is over 5 years old.
2. We do not have a way to contact the original author as far as I am aware.
3. We have insufficient information to troubleshoot the issue further.
4. Others are using Libre Office with speech and Braille without a problem.

[2017-08-08 17:42] #2049 closed

[2017-08-08 17:55] ehollig commented on #2310
Closing because of lack of an example demonstrating the issue. Also, NVDA+f5 is somewhat of an emergency command and should not be necessary, as stated by @jcsteh in https://github.com/nvaccess/nvda/issues/2310#issuecomment-155297663.

[2017-08-08 17:55] #2310 closed

[2017-08-08 18:00] ehollig commented on #2403
@Brian1Gaff, have you experienced this lately? Considering I have not this issue and we do not have a way to contact the original author, I am leaning towards a close.

[2017-08-08 18:04] ehollig commented on #2457
As Windows 8.1 has superseded Windows 8, I am going to close this from @josephsl's comment in https://github.com/nvaccess/nvda/issues/2457#issuecomment-155298892 as worksforme

[2017-08-08 18:04] #2457 closed

[2017-08-08 18:37] ehollig commented on #2166
@jcsteh @feerrenrut @michaelDCurran are there still plans on adding the attachment to the main NVDA distribution.? Also, the attachment is currently unavailable as it was not transferred over from Trac.

[2017-08-08 19:02] ehollig commented on #3055
As stated by @jcsteh in https://github.com/nvaccess/nvda/issues/3055#issuecomment-155305564 the sluggish of the voices are not of fault of NVDA. Also, without more information from the original author, we can not troubleshoot what are causing the errors. Closing

[2017-08-08 19:02] #3055 closed

[2017-08-08 19:47] ehollig commented on #2224
Closing from comment provided in https://github.com/nvaccess/nvda/issues/2224#issuecomment-228344486. If this error still exists, please create an issue on the [ESpeak NG issue tracker](https://github.com/espeak-ng/espeak-ng/issues/new).

[2017-08-08 19:47] #2224 closed

[2017-08-08 19:50] ehollig commented on #5553
Closing this, as #6109 is now implemented and https://github.com/liblouis/liblouis/issues/137 is closed.

[2017-08-08 20:06] ehollig commented on #7137
Duplicate of #2250

[2017-08-08 20:06] #7137 closed

[2017-08-08 20:14] fernando-jose-silva commented on #7481
Good afternoon.
Taking advantage of this call, I would like to ask a question:
I understand that it is possible to read the emugis using the windowsonecore synthesizer.
My doubt is:
It is possible to read the emugis using other speech synthesizers, like nuance vocalizer exprecive, SpeechPlayer in Espeak, speak?
Thank you very much, if it is not possible, and it is necessary to use the windowsoneco

[2017-08-08 21:01] ehollig commented on #7002
@SuzieDollar, just a friendly reminder to respond to @feerrenrut's comment in https://github.com/nvaccess/nvda/issues/7002#issuecomment-289415335. This issue may be closed if we do not receive any additional information to troubleshoot the issue.

[2017-08-08 21:06] ehollig commented on #7053
@wccrawford, is this still an issue? When I open the URL that was given, I get a 404 error. This issue may be closed if we do not receive additional information on the issue or if the issue no longer exists.

[2017-08-08 21:06] bdorer commented on #6059
I wote for closing as I never heared of such problems any more. If I
could, I'd do.

Am 03.08.2017 um 08:18 schrieb bhavyashah:

[2017-08-08 21:13] ehollig commented on #6929
CC @Qchristensen @jcsteh for any input

[2017-08-08 21:32] ehollig commented on #7047
This is a duplacate of #1486. However, an app module was created to work in Windows 7 and it would be interesting to know if it works in Windows 10. Please try it and report your findings in #1486. The app module can be found in https://github.com/nvaccess/nvda/issues/1486#issuecomment-155289857 or you can click here for the [mmc.py.txt](https://github.com/nvaccess/nvda/files/1204321/mmc.py.txt) a

[2017-08-08 21:32] #7047 closed

[2017-08-08 21:39] ehollig commented on #1486
Here is an update STR for Windows 10 reported by @fernando-jose-silva in #7047:

1. Open file explorer with Windows+E
2. Shift+Tab to the treeview
3. Arrow down to "This-PC"
4. Press the right mouse button with numpad *
5. Press enter on the manage option
6. Walk with the arrow keys down to Disk Manager
7. Now press tab until NVDA says "graphical table view"
8. Try to use the arrow keys to view th

[2017-08-08 22:05] bdorer commented on #1486
I'm using this appmodule and it works great.

[2017-08-08 22:40] vortex1024 commented on #5693
Correct, NVDA still has that 1 second delay with the watchdog disabled, while narrator doesn't. Thanks much for looking into this. Let us know how we can help further.

[2017-08-08 22:52] jcsteh commented on #5553
Although we've updated liblouis in NVDA, there is no Chinese (China) table in NVDA's table list yet. Also, the tables mentioned here (zh-cn-1.ctb and zh-cn-3.ctb) are not in liblouis. Instead, there is a zh-chn.ctb. We should probably add this zh-chn.ctb. I have a few questions:

1. Should this be called Chinese (China), Chinese (China, Manderin) or Chinese (China, Simplified)?
2. @vgjh2005, do yo

[2017-08-08 23:02] jcsteh commented on #3113
We can test for an existing copy of NVDA by looking for nvda.exe or similar. It's not fool-proof - someone could theoretically have an nvda.exe which isn't related to an NVDA portable copy - but I think it's good enough to avoid the accidental case described here.

[2017-08-08 23:29] ruifontes commented on #2850
Hello!

Please, see #6553,

Most people, specially new screen readers and new NVDA users coming from
Jaws, want to hear the command keys, but not arrows...

Rui Fontes

-----Mensagem Original-----
De: Ethan Holliger
Data: 8 de agosto de 2017 16:20
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] suggestion for Speak command keys option
(#2850)

I think I tend to agree with @jcsteh i

[2017-08-09 00:21] tspivey commented on #5693
@fernando-jose-silva
You can re-enable the watchdog by restarting NVDA.

[2017-08-09 02:31] ehollig commented on #2908
It appears that the URL provided as an example no longer exists. @jcsteh, in https://github.com/nvaccess/nvda/issues/2908#issuecomment-155303715 it sounds like you had an opinion about this. Has this changed since the creation of the comment?

[2017-08-09 02:38] ehollig commented on #3257
@Brian1Gaff, is this still happening for you? It appears that there has been several releases of LibreOffice since you have reported this.

[2017-08-09 02:40] ehollig commented on #3150
@k_kolev1985, do you have more information about this issue that you could share so that I, and others can replicate it? Also, an error log demonstrating the issue also may be useful.

[2017-08-09 02:45] ehollig commented on #3271
@feerrenrut can you restore the attachment? this looks like an interesting hack, if someone may need to use safe mode on the computer for one reason or another. I agree this should not be included as apart of the main installation though, and should be available as a separate download if it indeed does work as advertised.

[2017-08-09 02:51] ehollig commented on #3309
Closing, as this sounds like a general question that has been resolved. You can use the [NVDA nvda@nvda.groups.io](https://nvda.groups.io/g/nvda) mailing list for general questions regarding NVDA.

[2017-08-09 02:51] #3309 closed

[2017-08-09 03:02] ehollig commented on #3311
I do not get these warnings when performing a search in Google, but maybe I am missing something that has been provided in the attachment? Otherwise, I am leaning toward a close. CC @feerrenrut

[2017-08-09 03:08] ehollig commented on #3336
I would be interested to know if this is still the case with the latest NVDA. Unfortunately, I do not believe we can contact the original author for more information, so closing as wontfix

[2017-08-09 03:08] #3336 closed

[2017-08-09 03:09] feerrenrut commented on #3113
I think its far easier to rename the portable "nvda" folder, or copy the contents somewhere new (eg one directory above) than it is to carefully only the nvda files when accidentally installing to a non empty folder.

[2017-08-09 03:30] jcsteh commented on #3113
It's easier, but confusing for the user. If they specify a directory, they
probably expect NVDA to be created there and may even rely upon this. For
example, if someone entered the path as e:\nvda and then went to run
e:\nvda\nvda.exe, this would obviously fail if we copied it somewhere else.
It's also a backwards compatibility break from a UX perspective.

[2017-08-09 04:09] feerrenrut commented on #3113
I think the users expectation is fairly arbitrary (for new users / those who haven't created a portable copy for a long time), after entering the path `e:\screenReader` some users will expect `e:\screenReader\nvda.exe` and others will expect `e:\screenReader\nvda\nvda.exe`. Personally I consider this an unknown when using applications that are going to create a bunch of files for me (and then get

[2017-08-09 04:23] feerrenrut commented on #2112
I have, at some point, seen the dialog you are talking about, but can't reproduce it on my current Windows 7 Home Premium install (fresh Virtual Machine). I only get the text "Are you sure you want to move this shortcut to the recycle bin?" followed by the path to the shortcut.
To double check we are doing the same thing:
1. Go to desktop
2. Highlight shortcut icon (I am choosing Firefox)
3. Press

[2017-08-09 04:27] feerrenrut commented on #2166
@ehollig Its been a long time since this issue was updated. Assuming the problem still exists and the attachment fixes the issue (or can be modified to) we will accept a PR to fix this issue.

The attachments were not imported automatically from Trac. This needs to be done manually. I have added the file to https://github.com/nvaccess/nvda/issues/2166#issuecomment-155296153

[2017-08-09 04:36] feerrenrut commented on #3271
Added attachment to https://github.com/nvaccess/nvda/issues/3271#issuecomment-155307544

[2017-08-09 04:44] feerrenrut commented on #3311
Added attachment to https://github.com/nvaccess/nvda/issues/3311#issuecomment-155307874.

@ehollig what version of NVDA are you using to test this? Be aware that release versions have warnings silenced.

[2017-08-09 06:03] k-kolev1985 commented on #2112
Yes, we're doing the same thing, although I'm using the NVDA shortcut for the purpose. There may be at least 2 reasons for you not being able to reproduce it:
1. The additional prompt for "Programs and Features" is not available on Windows 7 Home Premium.
2. Are you signed as an administrator? I am. The prompt may be available only for administrative accounts.

[2017-08-09 06:20] leonardder commented on #3547
This seems to be IE 8 specific. Furthermore, we can't contact the original author. Closing as won't fix.

[2017-08-09 06:20] leonardder commented on #3547
H

[2017-08-09 06:20] #3547 closed

[2017-08-09 06:39] MichelSuch opened #7482 "Notepad++ and Braille: scrolling problem"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

[2017-08-09 06:41] #7482 closed

[2017-08-09 06:43] dreinn commented on #7482
Confirmed but this is a duplicated of this thread:
https://github.com/nvaccess/nvda/issues/7419

At the moment, a display braille with notepad++ is unusable. Hope will be fixed for the 2017.3!

[2017-08-09 06:46] MichelSuch opened #7483 "Notepad++ and Braille: scrolling problem"
### Steps to reproduce:
With the latest next version, you can nomore scroll forward and backward with a braille terminal using Notepad++.
Other problem: you can't enter contracted braille from the terminal, the text seems to appear and disappear instantly.

[2017-08-09 07:06] k-kolev1985 commented on #3150
Actually, not much really. I haven't encountered such a dialog in a long time and I've stopped using VirtualBox a long time ago. But I was able to reproduce the issue again recently, while installing ViewScan from [https://www.hamrick.com](url). It installs a scanner driver and the same security prompt appears. If I remember correctly, I had to restart NVDA to make it read that dialog prompt. The

[2017-08-09 07:29] #7483 closed

[2017-08-09 07:30] leonardder commented on #7483
Closed as duplicate of #7419

[2017-08-09 07:32] leonardder commented on #7482
@MichelSuch: In the future when making a mistake, please use the edit button above your comment to edit your initial message instead of creating a new ticket. Thanks a lot.

[2017-08-09 11:33] wccrawford commented on #7053
Sorry about that!  I think we accidentally removed the sample there.

Thank you!

The sample was a simplified version of our actual problem, and it appears the complex version now works correctly, after updating NVDA.

I would close this ticket as fixed.  If the problem (or a similar one) reappears, I will open a new ticket.

Thanks again!

[2017-08-09 11:33] #7053 closed

[2017-08-09 12:08] bhavyashah commented on #2063
@feerrenrut Alright. Findings are as follows:
* Firefox version 54.0.1 displays two sliders, Play(/Pause) and Mute buttons, so all works as expected.
* Chrome (latest stable version) also works as with Firefox, with the addition of a Download Media option (unrelated to NVDA and accessibility).
* Internet Explorer 11, NVDA reads, because I believe the browser itself shows - ' This browser is not su

[2017-08-09 12:10] bhavyashah commented on #2614
@michaelDCurran According to https://github.com/nvaccess/nvda/issues/2614#issuecomment-155300088, should this ticket be closed as a cantfix? @ehollig

[2017-08-09 12:18] derekriemer commented on #6455
I vote to take the direct annotation off the checkable list. After doing the work to make one for NVDA, I'll submit the code later), I realized that to properly do direct annotation for it, we need to override all items, such as InsertItem, Append, AppendItem, ... so the role and state is changed when each new item is added. This gets ugly rather fast. I ended up settling on server annotation for

[2017-08-09 13:04] derekriemer commented on #7325
I've worked out a basic prototype of this.In an addon now so people can test.
http://files.derekriemer.com/checklist-0.1.0-dev.nvda-addon

[2017-08-09 13:04] derekriemer commented on #7325
If people like this I'll send it in for review.

[2017-08-09 13:05] derekriemer commented on #7076
@leonardder now that I'm mostly done with an accessible checkable list, is there likelyhood of this being done?

[2017-08-09 13:14] ehollig commented on #2063
Closing, as the HTML5 video element works in Firefox and Chrome, and acording to https://github.com/nvaccess/nvda/issues/2063#issuecomment-155295416,
"This may not be possible in IE without changes to IE itself."
Closing as Internet Explorer, NeedsExternalFix, cantfix

[2017-08-09 13:14] #2063 closed

[2017-08-09 13:48] leonardder commented on #7076
I belief this is ready for another review. I provided tests as @JCSTeh requested. Honestly, this would be a nice to have for #588 as well.

[2017-08-09 14:22] bhavyashah commented on #2155
@jcsteh Based on 'the best we can do is support it where it's possible if we aren't already and fall back to English where it's not possible' from your https://github.com/nvaccess/nvda/issues/2155#issuecomment-155296091, I take it that this is a valid issue which NVDA can resolve to a certain extent. If so, what priority would you recommend be assigned to this ticket?

[2017-08-09 14:26] bhavyashah commented on #2163
If I am on the same page here, I am fairly certain that this issue still occurs sometimes with Windows 8.1 and NVDA 2017.2. While the implementation cost of fixing such a bug is unknown to me, I would suggest assigning a P3 or P4.

[2017-08-09 14:27] ehollig commented on #2204
@jcsteh, is this issue specific to Symphony or does it apply to OO/LO as well? If it is specific to Symphony then I suspect that this issue can be closed.

[2017-08-09 14:42] bhavyashah commented on #2195
@jcsteh Although the original author of this ticket cannot be contacted anymore, since you were interacting earlier, could you still please respond to https://github.com/nvaccess/nvda/issues/2195#issuecomment-155296487?

[2017-08-09 15:06] bhavyashah commented on #2226
Since we have no means of contacting the original author of this ticket and no log or other diagnostic information to replicate the reported freeze, I suggest closing this ticket. @ehollig

[2017-08-09 15:09] bhavyashah commented on #2243
@feerrenrut @jcsteh Is there anything that needs changing on NVDA's end to prevent AVG (or other anti-virus software) from raising false positives against NVDA? If not, I suggest closing this ticket. @ehollig

[2017-08-09 15:12] bhavyashah commented on #2255
@jcsteh in https://github.com/nvaccess/nvda/issues/2255#issuecomment-155297174, you expressed your temptation to close this ticket as a wontfix. What is your opinion on this matter at present? As done by Jamie in the same comment, thoughts, @michaelDCurran?

[2017-08-09 15:20] bhavyashah commented on #2281
On the basis of https://github.com/nvaccess/nvda/issues/2281#issuecomment-155297372, could the NeedsCodeReview label please be added to this ticket? @josephsl @ehollig

[2017-08-09 15:24] ehollig commented on #2261
@pzajda are these issues still occurring for you? Also, @michaelDCurran do the logs provided offer anything useful, or do you believe this is of fault of some Bluetooth software as indicated in https://github.com/nvaccess/nvda/issues/2261#issuecomment-155297215

[2017-08-09 15:31] bhavyashah commented on #2308
I am not too convinced by this feature request. The absence of any concrete usage case or justification for this feature and lack of justification for differentiation between arrowing and Tabbing makes this ticket somewhat incomplete.Thoughts/inputs from others would be appreciated.

[2017-08-09 16:16] bhavyashah commented on #2313
@jcsteh Your https://github.com/nvaccess/nvda/issues/2313#issuecomment-155297671 seems to indicate that while this issue has a high implementation cost, you were hoping to tackle it within a release or two of NVDA. I wouldn't necessarily consider this a feature, because the request is simply to bring back a former, more desirable behaviour of NVDA GUI. Thoughts? @feerrenrut

[2017-08-09 16:34] ehollig commented on #2499
This sounds specific to lotus symphony, which development has been discontinued. Closing as wontfix

[2017-08-09 16:34] #2499 closed

[2017-08-09 16:35] bhavyashah commented on #2442
@jcsteh @michaelDCurran Just to clarify, is support for role=alert insufficient only in case of Internet Explorer, or does this affect other modern web browsers as well? If recent versions of Firefox and Chrome also demonstrate the problem(s) reported, then this ticket can be triaged, but addressing IE specific deficiencies are no longer worthwhile.

[2017-08-09 16:39] bhavyashah commented on #2445
Going case-by-case seems to be the only way of implementing this, and doing that sounds somewhat impractical, IMHO. @brian1gaff Do you agree to close this ticket as a wontfix? From a technical standpoint, I am not exactly sure how feasible it would be to dynamically report updates to System Tray icons of a specific set of programs.

[2017-08-09 16:41] bhavyashah commented on #2476
@elliott94 Does this still occur for you?

[2017-08-09 16:45] bhavyashah commented on #2487
@michaelDCurran Based on https://github.com/nvaccess/nvda/issues/2487#issuecomment-155299122, you seem to be somewhat unconvinced about this feature request. the two comments after yours affect your take on this matter?

[2017-08-09 16:47] ehollig commented on #2308
This should be fixed by #7434

[2017-08-09 16:47] bhavyashah commented on #2504
@jcsteh The original author of this ticket, although now out-of-reach, did follow-up in https://github.com/nvaccess/nvda/issues/2504#issuecomment-155299220 to your initial questions. Could you please triage this ticket depending on whether or not we have sufficient information to diagnose the reported issue?

[2017-08-09 16:49] bhavyashah commented on #2514
As Mesar noted in https://github.com/nvaccess/nvda/issues/2514#issuecomment-155299315, this ticket is too vague and unclear, we have no means of contacting the original reporter, and unfortunately he/she did not follow-up either on Mesar's prompt. Time to close? @ehollig

[2017-08-09 16:51] leonardder commented on #2226
[**@bhavyashah**](https://github.com/bhavyashah) commented on [9 aug. 2017 17:06 CEST](https://github.com/nvaccess/nvda/issues/2226#issuecomment-321283959 "2017-08-09T15:06:31Z - Replied by Github Reply Comments"):

I tend to disagree with your reasoning here. While the freeze might not occur any more, I think the author states in general that there should be another, somewhat easier way to change

[2017-08-09 16:52] bhavyashah commented on #2542
@brian1gaff According to your https://github.com/nvaccess/nvda/issues/2542#issuecomment-155299538, you did experience this or related issues at the time. Is this still the case? If not, I suggest closing this ticket due to the lack of detailed diagnostic information provided and the lack of any means to get in touch with the original reporter of this issue. @ehollig

[2017-08-09 16:55] ehollig commented on #3643
Closing this to consolidate discussion to #2281. CC @josephsl

[2017-08-09 16:55] #3643 closed

[2017-08-09 16:56] bhavyashah commented on #2557
As of 2017, we have the NVDA Remote add-on (CC @tspivey) and there exists another ticket requesting for the incorporation of this add-on's functionality into core. Time to close? @ehollig

[2017-08-09 16:58] bhavyashah commented on #2579
Dragging and dropping is not a typical method used by the average visually impaired computer user, but this addition might be nice to have for a sighted NVDA user. Thoughts? @feerrenrut @Qchristensen

[2017-08-09 17:02] bhavyashah commented on #2599
I am pretty sure I had reported this same thing at one point in time, and @jcsteh had told me that this was known, but a new OCR add-on release simply for this minor improvement would be meaningless. I might havve reported this on the NVDA-Devel list, but in case this was on the Trac issue tracker, please close either as a duplicate.

[2017-08-09 17:02] ehollig commented on #2557
I am not sure if this should be closed quite yet, as @jcsteh thoughts in https://github.com/nvaccess/nvda/issues/2557#issuecomment-155299647, while there are common concepts, #3564 is related, but probably not dependent.

[2017-08-09 17:05] bhavyashah commented on #2610
I haven't experienced such issues in recent versions of Firefox and NVDA. Time to close? @ehollig

[2017-08-09 17:07] bhavyashah commented on #2619
Can Poedit users please test and update us about the current standing of this issue with the latest stable version of both Poedit and NVDA? CC @k_kolev1985

[2017-08-09 17:14] bhavyashah commented on #2226
@leonardder According to @jcsteh's https://github.com/nvaccess/nvda/issues/2226#issuecomment-155296915, 'Allowing users to change settings while actually running on the secure desktop is a major security risk'. Therefore, I figured that Jamie was trying to clarify that even considering this suggestion was not possible due to security implications, and thus, only the reported freezes would be diagn

[2017-08-09 17:23] ehollig commented on #2514
Unfortunately, there is not enough information provided in this issue.
If you would like to help translate NVDA into a language that is currently not supported, take a look at the page for [Translating NVDA](https://github.com/nvaccess/nvda/wiki/Translating) and subscribe to the [NVDA Translations email list](https://www.freelists.org/list/nvda-translations).
If you would like a language that is c

[2017-08-09 17:23] #2514 closed

[2017-08-09 17:26] bhavyashah commented on #2432
@michaelDCurran Since you have apparently been assigned this ticket (and all others under the same category by Trac, I know), mind making a quick check and sharing your findings? I am not too sure I follow the ticket well enough to test this myself.

[2017-08-09 17:30] bhavyashah commented on #2623
It may be worth noting that NVDA now says 'selected instead' instead. Also, @jcsteh stated quite clearly that there is little to nothing that we can change to improve this situation without losing functionality. Time to close? @ehollig

[2017-08-09 17:32] bhavyashah commented on #2663
Since we have no means of contacting the original author, @brian1gaff and others were unable to reproduce the reported issue with a few SAPI 4  synthesizers, and SAPI 4 is fading into obscurity, I suggest closing this ticket. @ehollig

[2017-08-09 17:41] ehollig commented on #2623
Unfortunately, as stated in https://github.com/nvaccess/nvda/issues/2623#issuecomment-155300155, there is little to nothing that we can change to improve this situation without losing functionality. There is a workaround, however, stated in https://github.com/nvaccess/nvda/issues/2623#issuecomment-155300156. Closing, but would be happy to reopen if someone would want to address this specific case.

[2017-08-09 17:41] #2623 closed

[2017-08-09 17:43] bhavyashah commented on #2433
CC @josephsl to request further thoughts/inputs and assistance in triaging this ticket

[2017-08-09 17:46] ehollig commented on #2663
Closing, as @Brian1Gaff was not able to replicate the issue in https://github.com/nvaccess/nvda/issues/2663#issuecomment-155300574, and we do not have a way in contacting the original author for further clarification.

[2017-08-09 17:46] #2663 closed

[2017-08-09 17:47] bhavyashah commented on #2522
@feerrenrut Do you consider this feature request accepted, or do we require further discussion on its UX, usage case, value, etc.?

[2017-08-09 17:50] ehollig commented on #2522
If this is specifically for browse mode, this is being addressed in #6704.

[2017-08-09 17:50] bhavyashah commented on #2561
Since a more universal auto language switching functionality is in the works elsewhere (by Dinesh Kaushal and others), could we close this ticket as a duplicate of that other? @ehollig

[2017-08-09 17:54] ehollig commented on #2565
From the comment in https://github.com/nvaccess/nvda/issues/2565#issuecomment-155299712, this sounds sort of related to #3113

[2017-08-09 18:18] ehollig commented on #4739
This appears to be a duplicate of #4382

[2017-08-09 18:18] #4739 closed

[2017-08-09 19:53] ehollig commented on #2396
I believe NVDA announces the measurement of distance of tab now in Microsoft Word. Just tested in Microsoft Word 2016. Still, it would be interesting to know if these attachments are still needed. CC @feerrenrut

[2017-08-09 20:08] fernando-jose-silva commented on #2610
I've already tried this on slow computers.
Playgrounds:
Walk a few times with arrows below and press ctrl to interrupt the speech of the nvda.
After repeated for several times pressing the arrow and ctrl to interrupt the speech me that windows or nvda does not recognize that ctrl is loose.
If this occurs by pressing h to navigate through the titles, the history can be opened as long as ctrl is sti

[2017-08-09 20:13] ehollig commented on #2965
Was this issue posted prior to the change in the keyboard layout? From the what's new, it looks like the changes in the keyboard commands took place in 2013.1. NVDA+Shift+NumPadPlus does not currently do anything. Personally, I think the commands are fine how they are, and if someone would like to change them for one reason or another, they can change it in the input gestures dialog. Thoughts? CC

[2017-08-09 20:24] ehollig commented on #3004
Closing in favor of #4896. Discussion can continue there.

[2017-08-09 20:24] #3004 closed

[2017-08-09 20:42] fernando-jose-silva commented on #2226
I would also like to make a few suggestions:
The person who opened this call suggested that there might be an option to copy only the personal settings without the addons to the secure configuration of the system, this I believe could be interesting to avoid security risks. And if we want to make users even more impotent, it might be possible to choose which copy addons to copy when adding the add

[2017-08-09 21:04] fernando-jose-silva commented on #2487
If I can raise a voice to the called, surely would vote for a setting to control the volume of the beeps, because in the current situation depending on the audio equipment used is very important to hear the beeps in a high volume.
The onecore voices, for example, are lower, forcing the volume to be high , making the beeps very comfortable.
If it is possible to control the volume of the other audio

[2017-08-09 21:10] fernando-jose-silva commented on #2313
An indication of the actual progress of the installation in my opinion would be very important.

[2017-08-09 21:33] ehollig commented on #3277
Unfortunately, we are unable to contact the original author and there appears to be not enough information to troubleshoot this issue. I know others are using MS Word 2013 without a problem. Closing

[2017-08-09 21:33] #3277 closed

[2017-08-09 21:42] fernando-jose-silva commented on #5693
thank you so much

[2017-08-09 23:02] jcsteh commented on #2313
It's worth noting that even if we reported a percentage, it would be pretty inaccurate, as is often the case with installers. People are probably fairly familiar with progress bars that get stuck at various points or suddenly leap into furious action. :)

I agree this is not a feature request as such, but I still hold the implementation cost is high and the relative benefit to users is low. Settin

[2017-08-09 23:50] ehollig commented on #3266
It appears that this example no longer works for me. Does anyone have an updated example to provide?

[2017-08-09 23:51] ehollig commented on #4522
Closing as it sounds like a duplicate of #3266

[2017-08-09 23:51] #4522 closed

[2017-08-09 23:53] ehollig commented on #3265
Duplicate of #3266

[2017-08-09 23:53] #3265 closed

[2017-08-09 23:57] jcsteh commented on #2226
#6305 covers selection of add-ons to copy. That would also allow choosing to copy no add-ons.

Beyond this, I don't know of a way we can achieve what's requested here without creating security concerns or potential problems in multi-user environments. @leonardder, unless you have other suggestions on how this could be done, I think this hsould be closed as won't fix (but noting that #6305 solves a

[2017-08-10 00:01] jcsteh commented on #2965
Although I accept that the current keystroke cannot be executed with one hand, I think the risk of breaking backwards compatibility for existing users outweighs the gain here. Note that this can now be easily reassigned using the Input Gestures dialog, which did not exist at the time this issue was filed. Closing as won't fix.

[2017-08-10 00:01] #2965 closed

[2017-08-10 00:16] ehollig commented on #3219
Closing do to lack of information provided from the author and not a way to contact them for additional information.

[2017-08-10 00:16] #3219 closed

[2017-08-10 00:16] jcsteh commented on #4390
#3564 is more about RDP and Citrix. While related, it's not quite the same thing.

Ideally, I think it'd be nice to have NVDA Remote functionality in core. However, the fact that the NVDA Remote add-on exists and works extremely well makes this very low priority.

[2017-08-10 00:20] jcsteh commented on #2557
Closing as a duplicate of #4390, since it is more recent and talks about integration fo NVDA Remote, rather than rolling something completely new.

[2017-08-10 00:20] #2557 closed

[2017-08-10 00:36] jcsteh commented on #3502
Unfortunately, this log doesn't reveal anything useful and we no longer have contact with the reporter. Closing.

[2017-08-10 00:36] #3502 closed

[2017-08-10 00:44] jcsteh commented on #2950
No response to last question and can't contact reporter. Closing.

[2017-08-10 00:44] #2950 closed

[2017-08-10 00:45] jcsteh commented on #2504
There isn't sufficient info here. While we do know that the proxy requires a username and password, we don't know how it is configured on the system; i.e. whether it is auto configuration, manually entered data in the system settings, configured separately in each application, etc. Closing.

[2017-08-10 00:45] #2504 closed

[2017-08-10 00:49] ehollig commented on #3316
It would be interesting to know if this works with the latest version of Audacity. CC @derekriemer Regardless, https://github.com/nvaccess/nvda/issues/3316#issuecomment-155307908 may be a good reason to close this.

[2017-08-10 00:55] ehollig commented on #3169
No follow up from the original author to the question in https://github.com/nvaccess/nvda/issues/3169#issuecomment-155306345. If the synthesizer that was used was ESpeak, you may want to create an issue on the [ESpeak Issue Github Tracker](https://github.com/espeak-ng/espeak-ng/issues/new). Closing, as we are unable to contact the original author.

[2017-08-10 00:55] #3169 closed

[2017-08-10 00:59] jcsteh commented on #2255
I'm making an executive decision. Won't fix. :)

[2017-08-10 00:59] #2255 closed

[2017-08-10 01:01] ehollig commented on #3185
The URL provided appears not to load for me. If someone is able to provide another example where this issue exists, we can reopen this. Seeing we are unable to contact the original author of the issue, closing.

[2017-08-10 01:01] #3185 closed

[2017-08-10 01:09] jcsteh commented on #2243
Nothing specific that I know of. This would be a matter of finding a channel to contact relevant anti-virus vendors to report false positives when they arise. Closing.

[2017-08-10 01:09] #2243 closed

[2017-08-10 01:11] Qchristensen commented on #2579
While I'm not against the idea, I wonder how many users would take advantage of it compared to the resources to implement it?

If I was redesigning the add-ons dialog, I'd probably look first at whether we could display the add-ons listed at https://addons.nvda-project.org/index.en.html directly in the window and enable them to be installed directly from there, rather than linking to the page wher

[2017-08-10 01:15] jcsteh commented on #2195
There's not really anything to respond to. Some potential problems were noted, which I agree are certainly valid, but it's just a matter of refactoring things to get around that.

[2017-08-10 01:18] jcsteh commented on #2204
Applies to LO as well.

[2017-08-10 02:05] ehollig commented on #3479
Closing, since the original poster did not comment or answer any of the questions above and we are not able to contact the original poster.

[2017-08-10 02:05] #3479 closed

[2017-08-10 02:07] ehollig commented on #3516
Closing, as the original poster did not reply to @jcsteh's question in https://github.com/nvaccess/nvda/issues/3516#issuecomment-155309504. Also, we are unable to contact the original poster.

[2017-08-10 02:07] #3516 closed

[2017-08-10 02:21] ehollig commented on #3430
This works correctly in Windows 10,1703. Which version of Windows is this referring to? CC @Brian1Gaff, if you are able to test this on Windows 7

[2017-08-10 02:26] ehollig commented on #3592
Unfortunately, there does not appear to be an example provided from the original poster and we are unable to contact for additional information. Furthermore, the did not answer @jcsteh's question in https://github.com/nvaccess/nvda/issues/3592#issuecomment-155310791 on the browser used. Closing

[2017-08-10 02:26] #3592 closed

[2017-08-10 02:30] ehollig commented on #3610
Closing for reasons outlined in https://github.com/nvaccess/nvda/issues/3610#issuecomment-155311450.

[2017-08-10 02:30] #3610 closed

[2017-08-10 02:48] ehollig commented on #3681
Duplicate of #3680

[2017-08-10 02:48] #3681 closed

[2017-08-10 02:50] ehollig commented on #3682
Duplicate of #3680

[2017-08-10 02:50] #3682 closed

[2017-08-10 02:54] bhavyashah commented on #2487
@fernando-jose-silva  There is another ticket which deals entirely with the feature request of adding an Audio Manager to control the volume of all NVDA tones/beeps and sounds. Therefore, your suggestions in https://github.com/nvaccess/nvda/issues/2487#issuecomment-321381006 are already covered elsewhere.

[2017-08-10 03:36] bhavyashah commented on #4628
@brian1gaff Could you please test and report whether or not the reported issue still persists?
 with the latest versions of NVDA and Avast? Regardless, since this seems to be a Windows XP specific bug, it may not be worthwhile to resolve this anymore.

[2017-08-10 03:58] jcsteh commented on #2908
I think things have changed in this code since this issue was filed. Nevertheless, now that the test case has gone, this is no longer valid. Closing. If this behaviour is seen elsewhere, this can be reopened.

[2017-08-10 03:58] #2908 closed

[2017-08-10 04:48] leonardder commented on #4628
XP specific bugs aren't taken any more. Closing.

[2017-08-10 04:48] #4628 closed

[2017-08-10 04:53] leonardder commented on #2226
[**@jcsteh**](https://github.com/jcsteh) commented on [10 aug. 2017 01:57 CEST](https://github.com/nvaccess/nvda/issues/2226#issuecomment-321413074 "2017-08-09T23:57:43Z - Replied by Github Reply Comments"):

When #577 is merged, it might be an option to allow the user to open the new NVDA settings dialog for the secure configuration, after gaining administrative privileges of course. In that case

[2017-08-10 06:35] elliott94 commented on #2476
Happy for this to be closed - I haven't seen this since initially reporting.

[2017-08-10 07:04] dkager commented on #3915
Closing because of a lack of feedback.

[2017-08-10 07:04] #3915 closed

[2017-08-10 08:49] Brian1Gaff commented on #2476
No me neither, though I notice when updating portable copies from the web,
Firefox keeps on saying this file is not usually downloaded and you have to
bring up the context menu in the downloads list and select the option to
allow it to finish downloading.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the d

[2017-08-10 09:20] nishimotz commented on #2157
Though I haven't yet tested with the official builds, my working version based on the current master branch causes the issue mentioned here.
My setup is as follows:

* Windows 10 Version 1703 (15063) 64bit Japanese
* cmd.exe with new features enabled

Another issue may be related to this.
Reviewing the text by line, every Japanese characters are reported twice,
i.e. duplicated such as
ここれれはは試試験験でで

[2017-08-10 11:29] dkager commented on #7481
The "complete emoji list" is available [from Unicode.org](http://unicode.org/emoji/charts/full-emoji-list.html).

Reading emoji is already covered in #6523. Marking this as duplicate.

[2017-08-10 11:29] #7481 closed

[2017-08-10 12:56] fernando-jose-silva commented on #2487
Thank you very much.

De: bhavyashah [mailto:notifications@github.com]
Enviada em: quarta-feira, 9 de agosto de 2017 23:55
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [nvaccess/nvda] Add speech mode beep pitch to Voice Settings Dialog (#2487)

@fernando-jose-silva <https://github.com/fernando

[2017-08-10 13:25] ehollig commented on #2487
The issue dealing with volume of NVDA sounds is #1409. This ticket is different, however, as it deals with the frequency of the beeps.

[2017-08-10 13:34] ehollig commented on #2476
Closing from https://github.com/nvaccess/nvda/issues/2476#issuecomment-321464236

[2017-08-10 13:34] #2476 closed

[2017-08-10 14:34] ehollig commented on #2713
XP issues are not being addressed anymore. Closing

[2017-08-10 14:34] #2713 closed

[2017-08-10 14:48] ehollig commented on #3766
XP issues are no longer being addressed. Also, keep in mind that flash will be discontinued in 2020. Closing

[2017-08-10 14:48] #3766 closed

[2017-08-10 14:53] ehollig commented on #2728
This is an interesting issue. However, we are unable to contact the original poster for more information. Closing, as XP specific issues are not being addressed anymore.

[2017-08-10 14:53] #2728 closed

[2017-08-10 14:55] ehollig commented on #3257
Is this still an issue @Brian1Gaff?

[2017-08-10 16:13] ehollig commented on #3435
Closing. This works correctly for me in Excel 2016 and others have also reported that it works for them in other versions. As we are unable to contact the original poster, closing

[2017-08-10 16:13] #3435 closed

[2017-08-10 16:19] ehollig commented on #3488
This works correctly for me in Outlook 2016 and @josephsl reported it worked in 2010 and 2013 as well. Seeing as the original poster did not report with results with 2014.2 (or newer) and we are unable to contact the original author for additional information, closing

[2017-08-10 16:19] #3488 closed

[2017-08-10 16:22] ehollig commented on #3433
Closing for reasons in https://github.com/nvaccess/nvda/issues/3433#issuecomment-155308828 posted by @jcsteh

[2017-08-10 16:22] #3433 closed

[2017-08-10 16:41] derekriemer commented on #5103
@bhavyashah we don't prioritize features.

[2017-08-10 16:47] bhavyashah commented on #2355
Since there is little to nothing that NVDA can modify itself, the original author of this ticket is now out-of-reach and unfortunately he/she didn't respond to https://github.com/nvaccess/nvda/issues/2355#issuecomment-155297998 either, I suggest closing. @ehollig

[2017-08-10 17:12] ehollig commented on #2884
I believe this ticket an be closed, as TeamTalk 5 has superseded TeamTalk 4. Feel free to reopen if I am in error.

[2017-08-10 17:12] #2884 closed

[2017-08-10 17:13] bhavyashah commented on #5103
Right, this concept of mine was a little unclear a week ago. Ignore all other comments wherein I request the assignment of a priority to feature requests.

[2017-08-10 17:20] ehollig commented on #2802
Closing, as the original poster did not report trying with the latest version of NVDA as @jcsteh suggested in https://github.com/nvaccess/nvda/issues/2802#issuecomment-155302016.

[2017-08-10 17:20] #2802 closed

[2017-08-10 20:02] derekriemer opened #7485 "Mathml is not read as math in live regions"
Filed on behalf of @benetech
### Steps to reproduce:

1. go run [this example page](https://files.derekriemer.com/live_mathml.html).
2. Wait ten seconds, then ten more seconds.

### Expected behavior:
NVDA should read the math in the live region.

### Actual behavior:
NVDA reads only the text of the live region, as if math doesn't exist.

### System configuration:
NVDA version: Doesn't matter

NVD

[2017-08-10 23:52] fernando-jose-silva opened #7486 "Problems reading email in Outlook inbox"
I gave the nvda to a friend.
This friend used the jaws and decided to give a chanse to the nvda.
However on this machine I have an error that I could not solve.
When navigating with the arrows through the inbox nvda does not report the most resentful emails, while giving focus these emails nvda informs only edit.
By moving through this inbox to the older emails the emails are reported normally.
It

[2017-08-11 02:04] derekriemer commented on #3316
This still can happen, but much less.

[2017-08-11 02:09] derekriemer commented on #5741
latest version of which track?

[2017-08-11 02:15] derekriemer commented on #7125
yeah, just haven't had time for a PR yet, as I had a computer crash and work.

[2017-08-11 06:12] leonardder commented on #7125
Personally, I vote for adding this on the base object, raising NotImplemented. This will also allow people to use super when overriding this method, e.g.

[code]

[2017-08-11 08:14] IoanMan opened #7487 "Nvda read the time in skype messages"
Hello. I want to signal a problem that is quite disturbing. When I write a message or receive a message on skype, Nvda reads me the date and time that this message was sent or received. Although we disabled this skype setting, nvda continues to read this. Is there any solution to this problem? Would be interesting, I know there is an addon for nvda that more or less makes it easier to use it with

[2017-08-11 08:18] josephsl commented on #7487
Hi, I’ll assume this is Skype desktop 7.x? Thanks.

From: IoanMan [mailto:notifications@github.com]
Sent: Friday, August 11, 2017 1:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Nvda read the time in skype messages (#7487)

Hello. I want to signal a problem that is quite disturbing. When I write a message or receive a mess

[2017-08-11 08:33] florianionascu7 commented on #7487
Hello, I really confirm the issue raported by Ioan here. I hope it'll be fixed soon.

[2017-08-11 08:35] Brian1Gaff commented on #3257
I am no longer using Libra Office so I cannot say myself now. Its been a
while since I've tested it in any version of Windows. I'd close it and see
what others say if they use it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Ethan Holliger" <noti

[2017-08-11 08:38] Brian1Gaff commented on #3766
At present most of the issues concerning flash seem to be bad implimentation
in the first place.

However I understood that only really serious crashing bugs would be fixed
in xp, not that no issues are being  addressed at all.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Ori

[2017-08-11 08:38] leonardder commented on #7487
Closing as duplicate of #5648

[2017-08-11 08:38] #7487 closed

[2017-08-11 08:43] leonardder commented on #5648
Closing this in favour of duplicate #4951, as the current ticket requests for making the regex translatable, which is a no go according to @JCSTeh in https://github.com/nvaccess/nvda/issues/5648#issuecomment-168575699

[2017-08-11 08:43] #5648 closed

[2017-08-11 08:51] leonardder commented on #3257
As XP specific issues won't be addressed anymore, closing this anyway.

[2017-08-11 08:51] #3257 closed

[2017-08-11 09:00] IoanMan commented on #7487
Microsoft isn't very responsive. I wrote an report about skype on the ios about the problems with new interface. And the response was this problems resolving with the next update. Sorry for the inconvenience.

[2017-08-11 10:51] dreinn commented on #7419
sorry if this comment is not useful, any chances that this issues will be solved before 2017.3?
It is really frustrating because notepad++ is not usable anymore with a display braille, and it is a quite important text editor...

[2017-08-11 11:25] leonardder commented on #7419
There isn't anything to be solved before 2017.3, as the brokenness only occurs in next, not in master.

[2017-08-11 11:31] leonardder opened #7488 "Native driver for Eurobraille Esys displays"
Formally a duplicate of closed #5176, but that one specifically talks about including the current add-on based driver by Eurobraille.

I wonder, has a native driver been considered, either by Eurobraille, NV Access or a third party? The current add-on based driver has the following issues:

1. Slow response for several keys, including routing and scrolling. This also occurs in JAWS and Supernova,

[2017-08-11 12:38] zstanecic commented on #7488
@leonardder 1Slow response for several keys, including routing and scrolling. This also occurs in JAWS and Supernova, probably an issue in a common part of the current driver
Does it works better in window eyes or either cobra?
2No native integration for the Esys braille keyboard, so NVDA's braille input does not work
Is this thingie working in another screenreaders?
And... another thing: have you

[2017-08-11 13:32] ehollig commented on #2991
@k_kolev1985 do you know if this is still the case with this plugin? As stated in https://github.com/nvaccess/nvda/issues/2991#issuecomment-155304813, it is possible that this is not possible to do.

[2017-08-11 13:37] ehollig commented on #2797
CC @josephsl for further clerification

[2017-08-11 13:39] ehollig commented on #3002
This sounds similar to the request in #2797

[2017-08-11 13:40] ehollig commented on #3003
Closing because of https://github.com/nvaccess/nvda/issues/3003#issuecomment-155304924

[2017-08-11 13:40] #3003 closed

[2017-08-11 13:44] ehollig commented on #3013
Closing because of https://github.com/nvaccess/nvda/issues/3013#issuecomment-155305035

[2017-08-11 13:44] #3013 closed

[2017-08-11 13:49] ehollig commented on #3378
Closing because of https://github.com/nvaccess/nvda/issues/3378#issuecomment-155308397

[2017-08-11 13:49] #3378 closed

[2017-08-11 13:57] ehollig commented on #3089
Closing because of https://github.com/nvaccess/nvda/issues/3089#issuecomment-155305803. If more information can be provided, this can be reopened.

[2017-08-11 13:57] #3089 closed

[2017-08-11 14:18] ehollig commented on #4077
Closing because of https://github.com/nvaccess/nvda/issues/4077#issuecomment-155319498

[2017-08-11 14:18] #4077 closed

[2017-08-11 14:18] k-kolev1985 commented on #2991
I doubt that the situation has changed, but I can't confirm it, since I've stopped using AkelPad and I'm using Notepad++ at the moment with its DSpellCheck plugin. But even there the situation is the same, unfortunately. But never mind Notepad++ and its spellchecking - it is a topic for another discussion.

[2017-08-11 14:21] ehollig commented on #4183
Closing because of https://github.com/nvaccess/nvda/issues/4183#issuecomment-155321115

[2017-08-11 14:21] #4183 closed

[2017-08-11 14:47] #2355 closed

[2017-08-12 04:14] bhavyashah commented on #7480
Can NVDA's mouse tracking be made to support mouse emulators and joysticks? I have no clue, but @danewhk, could your clients try the Golden Cursor NVDA add-on and report whether it suffices their needs?

[2017-08-12 04:24] bhavyashah commented on #2389
Since the original author of this ticket is probably now out-of-reach and she unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2389#issuecomment-155298203, we remain unclear about what essentially is being requested. It is also worth noting that speech dictionaries does support regular expressions and the Puncctuation/Symbol Pronunciation dialog does allow adding

[2017-08-12 04:27] bhavyashah commented on #2408
According to @jcsteh's https://github.com/nvaccess/nvda/issues/2408#issuecomment-155298381, there seems to be nothing that can be done to solve this issue, and according to his https://github.com/nvaccess/nvda/issues/2408#issuecomment-155298384, the relevant change in standardizing the installation path is very much justified. Thus, I suggest closing. @ehollig

[2017-08-12 04:30] bhavyashah commented on #2615
@jcsteh This issue has more to do with certain Mozilla Firefox bugs as opposed to general NVDA deficiencies with the web or Google Groups. If my understanding is correct, could you please update us about the present status or progress made on relevant Mozilla bugs?

[2017-08-12 04:34] bhavyashah commented on #2660
#3494 seems to have been fixed in NVDA version 2014.4. If this is indeed the case, I suggest closing this ticket as fixed.

[2017-08-12 04:35] josephsl commented on #2408
Please reopen with further justifications as to why this problem must be fixed. Thanks.

[2017-08-12 04:35] #2408 closed

[2017-08-12 04:43] bhavyashah commented on #2624
I can reproduce the issue of 'unknown' being reported when a program is launched reliably via the following STR with NVDA version 2017.2 and Windows 8.1:
* Open the Start Menu.
* Search for any program, let's say Microsoft Word, or Internet Explorer, or Teamtalk, all three of which I tested at my end. Once the program appears in the search results, press it.
Expected Result: NVDA should announce t

[2017-08-12 04:45] bhavyashah commented on #2575
@Qchristensen For some odd reason, I am under the impression that you had filed a more recent ticket which duplicates this one. Thoughts?

[2017-08-12 04:47] #2660 closed

[2017-08-12 04:49] josephsl commented on #2624
Hi, reproducible on Windows 10 as well, may need to debug this via event tracking to find out what’s up. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Friday, August 11, 2017 9:43 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA reporting uneeded information when loding IE 10 (#2624)

I can reproduce

[2017-08-12 04:50] bhavyashah commented on #2510
@jcsteh The original author of this ticket is now out-of-reach and this ticket is over five years old, leading me to believe that it is very likely that this issue may have been resolved over the years, because such a bug would have been regularly reported were it non-exclusive to csm120. Thus, I suggest closing. @ehollig

[2017-08-12 04:52] bhavyashah commented on #2671
I fully concur with this feature request, because retaining formatting such as well as hyperlinking, table layouts and other aesthetics seems to be all the more important in a professional setting. Anyways, please change the label of this ticket from enhancement to feature. @feerrenrut @ehollig

[2017-08-12 04:58] bhavyashah commented on #3417
@jcsteh @michaelDCurran Could you please respond to https://github.com/nvaccess/nvda/issues/3417#issuecomment-155308699 by sharing how this Word accessibility deficiency can be reported to Microsoft?

[2017-08-12 05:02] bhavyashah commented on #3384
I cannot reproduce this with Internet Explorer 11 on Windows 8.1. My homepage on IE is MSN, and typing and editing in an edit field present on the website worked as expected. Since this issue is over four years old, it is possible that these issues were being caused by Google Instant, the original author of this ticket is now out-of-reach, and the demise of Internet Explorer, I suggest closing. @e

[2017-08-12 06:09] bhavyashah commented on #3299
Since the original author of this ticket is now out-of-reach and unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/3299#issuecomment-155307774, coupled with the fact that Adobe Digital Editions isn't being worked on too actively by Adobe (is the impression I am under), I suggest closing. @ehollig

[2017-08-12 07:13] bhavyashah commented on #3306
According to @michaelDCurran's https://github.com/nvaccess/nvda/issues/3306#issuecomment-155307840, this issue seems to take place with Narrator as well, suggesting that it isn't an inherent NVDA problem. Additionally, Mick requested the original author of this ticket, who is now out-of-reach, to perform testing with Narrator and revert with results, which unfortunately hasn't been done. Unless Mi

[2017-08-12 07:16] bhavyashah commented on #3319
If this bug turns out to be specific to Internet Explorer 8, then we can safely close this ticket since we are not addressing IE 8 issues anymore. Regardless, to ascertain that in the first place, @jcsteh, could you please take a look at the diagnostic information and test case provided in https://github.com/nvaccess/nvda/issues/3319#issuecomment-155307929 upon your request?

[2017-08-12 07:20] bhavyashah commented on #3314
@jcsteh From your https://github.com/nvaccess/nvda/issues/3314#issuecomment-155307892, I take it that addressing this issue as a whole is not possible and case-by-case patches will be required. In that case, may we close this ticket and request @k_kolev1985 to file individual tickets for each program separately? If not, am I missing something?

[2017-08-12 07:22] bhavyashah commented on #3355
@josephsl May we close this ticket as a duplicate of the ones you recently filed to better structure this Python 3 upgrade?

[2017-08-12 07:41] bhavyashah commented on #3362
According to @michaelDCurran's https://github.com/nvaccess/nvda/issues/3362#issuecomment-155308284, this issue seems to have a very high implementation cost. If my inference is indeed correct, and since this seems to be IE specific, addressing this may not be worthwhile. Thus, I suggest closing. @ehollig

[2017-08-12 07:41] leonardder commented on #3355
3.3.2 is heavily outdated anyway. Closing.

[2017-08-12 07:41] #3355 closed

[2017-08-12 07:59] bhavyashah commented on #3386
The original reporter is now out-of-reach, seems not to have experienced this issue again because no corresponding log has been attached as promised in https://github.com/nvaccess/nvda/issues/3386#issuecomment-155308457, and no one else seems to be able to replicate this. Thus, I suggest closing. @ehollig

[2017-08-12 08:01] bhavyashah commented on #3440
@brian1gaff @michaelDCurran Is this still the case with the current form of Outlook on the web? Regardless, it doesn't seem to me that NVDA has scope for a fix, rather Outlook authoring needs to be corrected.

[2017-08-12 08:20] bhavyashah commented on #3447
@brian1gaff Does this still occur at your end?

[2017-08-12 08:28] bhavyashah commented on #3476
@camlorn Could you please perform testing as requested in https://github.com/nvaccess/nvda/issues/3476#issuecomment-155309155 by @jcsteh and revert with results?

[2017-08-12 09:29] leonardder commented on #5028
Closing as duplicate of #5354, which has already been triaged.

[2017-08-12 09:29] #5028 closed

[2017-08-12 09:32] leonardder commented on #2315
I wonder whether this could have been fixed in the new Baum driver, which also applies to this display.

[2017-08-12 09:47] bhavyashah commented on #3733
@laughingthunder With the latest versions of both NVDA and iTunes, could you please perform the tests requested by @jcsteh in https://github.com/nvaccess/nvda/issues/3733#issuecomment-155314574 and revert with their results?

[2017-08-12 09:49] bhavyashah commented on #3742
I believe work has been done recently to improve support for ARIA grids. Does that encompass this ticket too? If so, I suggest closing.

[2017-08-12 09:52] bhavyashah commented on #3750
The reporting of font attributes must be enabled for NVDA to announce presence of subscripted and superscripted text in Word. Unless @sumandogra has something to add, I suggest closing. @ehollig

[2017-08-12 09:52] bhavyashah commented on #3749
The reporting of font attributes must be enabled for NVDA to announce presence of subscripted and superscripted text in Word. Unless @sumandogra has something to add, I suggest closing. @ehollig

[2017-08-12 09:59] bhavyashah commented on #3883
@surfer0627 Does this still occur with recent versions of browsers such as Edge, Firefox and Chrome, or do you believe that this freeze was most prominent only on IE 8? If this proves to be an IE 8 specific issue, I suggest closing since IE 8 bugs are no longer worthwhile to address. @ehollig

[2017-08-12 10:01] bhavyashah commented on #3890
@jcsteh You found the reported issue particularly odd initially, and the original author of this ticket, although now out-of-reach, did respond in https://github.com/nvaccess/nvda/issues/3890#issuecomment-155317516. I am unsure of how this ticket should be triaged.

[2017-08-12 10:07] bhavyashah commented on #3911
@jcsteh In https://github.com/nvaccess/nvda/issues/3911#issuecomment-155317667, you were hoping that this issue might already be fixed. Is it so?

[2017-08-12 10:09] bhavyashah commented on #3918
@jcsteh While I am not too sure about the accuracy of my interpretation, your comments seem to suggest that this ticket might be a cantfix. Could you please clarify/elaborate?

[2017-08-12 10:29] bhavyashah commented on #3970
I am pretty sure that Jacob and Brendon were reporting the inability to select paragraphs in Notepad, something beyond the scope of NVDA, and anyways, we cannot contact them anymore. Time to close? @ehollig

[2017-08-12 10:30] dkager commented on #7488
Could (1) be a firmware issue?

[2017-08-12 10:32] bhavyashah commented on #4025
I believe this issue has been reported in another ticket too, although I may be wrong. Regardless, I can confirm the reported bug in Microsoft Office Word 2010 where there aren't multiple text columns or any complications of the sort. At one point in time, this was extremely frustrating, but as Ashley stated, character navigation and word navigation does land on the next page itself, rather than s

[2017-08-12 10:36] bhavyashah commented on #4040
@jcsteh Could you please summarize your arguments against the proposed design change? While the proposal does make sense to me, I do understand how refreshing all voice parameters when the a different synthesizer is selected could cause performance problems.

[2017-08-12 10:42] bhavyashah commented on #4085
The elipsis appears in so many dialogs and buttons that I suppose one could consider as essential for default reading. Since my punctuation and symbol level settings are probably non-default, could someone please mention the default level at which ... is spoken (the ticket body seems to suggest None)?

[2017-08-12 10:48] dkager commented on #7486
Have you tried disabling the reading pane?

[2017-08-12 10:48] bhavyashah commented on #4116
NVDA no longer uses SourceForge for hosting. Time to close? @ehollig

[2017-08-12 10:49] bhavyashah commented on #4121
I believe this is no longer the case with the Speech Viewer window now made navigable/accessible. Time to close? @ehollig

[2017-08-12 10:51] bhavyashah commented on #4158
@jcsteh According to your https://github.com/nvaccess/nvda/issues/4158#issuecomment-155320791, you seem to believe that #308  may have resolved the reported issue. Has it done so?

[2017-08-12 10:54] bhavyashah commented on #4171
Modern apps in Windows 8.1 are hardly in use today in favour of UWD apps on Windows 10. Regardless, @jcsteh seems to suggest in https://github.com/nvaccess/nvda/issues/4171#issuecomment-155321016 that it may be difficult or impossible to support such screen scraping techniques consistently anyways. Thus, I suggest closing. @ehollig

[2017-08-12 10:55] bhavyashah commented on #4191
@jcsteh Your https://github.com/nvaccess/nvda/issues/4191#issuecomment-155321160 seems to suggest a cantfix to me. Thoughts?

[2017-08-12 11:28] leonardder commented on #7488
[**@dkager**](https://github.com/dkager) commented on [12 aug. 2017 12:30 CEST](https://github.com/nvaccess/nvda/issues/7488#issuecomment-321972724 "2017-08-12T10:30:08Z - Replied by Github Reply Comments"):

No. There is a tool by Eurobraille called Esyview, which registers key presses on the device. Performance for this tool is ok.

[2017-08-12 11:31] leonardder commented on #4040
I think this request will be redundant as soon as #577 is done. Still, synthesizer and voice settings will be two separate categories in the new settings dialog, but it is much easier to go from panel to panel, i.e. it doesn't require closing and opening dialogs. Having said that, leaning towards a won't fix.

[2017-08-12 11:34] leonardder commented on #4171
I agree.

[2017-08-12 11:34] #4171 closed

[2017-08-12 11:35] Brian1Gaff commented on #4040
I think this will be academic when the tab based property sheets are  put
into the  snapshots as tabbing is quite easy, and even now the short cut
keys are faster than the menu if you are a bit pushed for time.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-12 11:37] Brian1Gaff commented on #3970
Isn't this all tied in with the lack of windows commands that work in
Notepad and other text editors?
 If you, of example try to delete words in notepad you merely insert control
characters into the file, not delete anything.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-12 11:38] leonardder commented on #2285
I think they do not. Furthermore, this really looks like a duplicate.

[2017-08-12 11:41] Brian1Gaff commented on #3890
I have a machine that occasionally leaves an open window when it runs, which
is not actually actionable, but attempting to close it asks if you wish to
exit nvda. It does happen more after an update but can happen at start up.
Windows 7 64 bit. I've no idea what exactly is not exiting cleanly, but
normally a reboot of nvda will clear it  in the end.
 Its not the only piece of software with strange

[2017-08-12 11:43] leonardder commented on #2671
I think we should treat this as a duplicate of #5354, which is broader in scope. Thoughts?

[2017-08-12 11:44] Brian1Gaff commented on #3883
It actually does not happen much even in IE8 on the master branch. The main
issue was I think due to other factors brought about by the  age of IE 8 and
some web site behaviour. I've not used Edge, but iE 11 and Firefox  hardly
ever freeze for nvda reasons, even on quite slow machines.
 Occasionally you find Firefox saying its not able to get a page but a retry
usually fixes this. I see this a lot

[2017-08-12 11:44] leonardder commented on #1260
Closing this again, this time in favour of newer duplicate #5354, which already has a priority assigned and contains more discussion.

[2017-08-12 11:44] #1260 closed

[2017-08-12 11:46] leonardder commented on #1785
Added goodForNewDev label, since this might be good for a new dev :)

[2017-08-12 11:49] Brian1Gaff commented on #3447
Yes sometimes it does. I think the spoken word focus  or whatever is cut by
the following spoken string. Ie more and more we are finding edit areas on
the web had text in them that explain what  they are after etc, so this is
what does it. In this case its better to use the sound of course as this
always works. It occurred to me the other day that the obvious way around
this is to merely have a sp

[2017-08-12 11:51] Brian1Gaff commented on #3386
No not seen this at all. Sometimes an update to a portable version screen
gets lost in the alt tab ring, but this in fact can happen to other software
so suspect the problem is in Windows.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-12 11:53] Brian1Gaff commented on #3319
In fact nvda has a history of saying things several times. It still does it
on some programs and in some situations, but unless somebody has time to
spare trying to zap them all might be a bit of a challenge.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-12 11:53] leonardder commented on #5488
I think both spelling and copying to the clipboard will be a bit hard to implement at first sight, since nvda+b isn't as simple as just reading a piece of text, it uses a generator to read several objects in sequence.

[2017-08-12 11:55] Qchristensen commented on #2150
I must confess, I'd never used the Microsoft Office Word Web App, but it's here: https://office.live.com/start/Word.aspx

I will have to try and reproduce this particular scenario later, however, I thought it was worth putting the address up here for anyone else coming across this issue in the meantime.

[2017-08-12 11:56] Brian1Gaff commented on #3384
Unless I'm mistaken this was fixed at least two years ago by some extra
coding as different forms of edit areas used on the web upset things.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-12 11:57] leonardder commented on #5727
I've seen this in more applications and once filed #6221 for this, but it seems like the same issue. Closing #6221 in favour of this ticket, even though this ticket has a smaller scope.

[2017-08-12 11:57] leonardder commented on #6221
Closing in favour of #5727, even though this ticket might have some valuable information for that ticket as well.

[2017-08-12 11:57] #6221 closed

[2017-08-12 11:59] leonardder commented on #5237
@Bramd: Is this still the case?

[2017-08-12 12:00] Brian1Gaff commented on #2624
I think it misses the event telling it that the box contains the words you
are wanting to read for some reason.
 Its one of those irritating things I see all over the place and I've always
put it down to the screenreader not keeping up.

I often get it on the first launch of Firefox as well, when the processor
usage goes berserk.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address

[2017-08-12 12:05] leonardder commented on #4831
VMware 10 isn't the most recent version of this software any more.

@vgjh2005: Could you provide steps to reproduce? Do you still think this issue should be open?

[2017-08-12 12:08] leonardder commented on #3883
Closing this. If there are similar issues in other browsers or newer versions of IE8, please open a new issue.

[2017-08-12 12:08] #3883 closed

[2017-08-12 12:27] bramd commented on #5237
@leonardder Yes, just reproduced in Chrome using latest NVDA next.

[2017-08-12 12:54] fernando-jose-silva commented on #7486
Actually the reading panel is disabled, I have never tried to do the opposite, reactivate it.

I will try to play with this setting as soon as possible and return.

Thank you very much.

De: Davy Kager [mailto:notifications@github.com]
Enviada em: sábado, 12 de agosto de 2017 07:48
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Author <author@n

[2017-08-12 13:04] ThomasStivers commented on #4025
This is not an NVDA specific issue, nor a Word 2010 specific issue. Word can display pages side by side. When Word is set to display multiple pages side by side it is logical that navigating down would move to pages on the left side. The solution is to set word to display only one page at a time. I was able to duplicate this issue in Word 2016, but I do not believe it is an NVDA issue.

[2017-08-12 13:43] k-kolev1985 commented on #4025
Exactly. This can happen if the page is zoomed out enough that 2 pages can fit side by side on the screen, which is easier to occur on a wide-screen monitor and/or with higher screen resolution set. That is why I set the page zoom to "fit width". To do that while a document is opened, press F6 to go to the status bar; press TAB a few times to get to the Zoom button, which displays the zoom value a

[2017-08-12 13:53] ehollig commented on #3824
Closing because the original poster did not answer @jcsteh's questions in https://github.com/nvaccess/nvda/issues/3824#issuecomment-155316661. Also, the original posted did not report back trying this in the latest Firefox. If there is still request for this, or parts do not function as expected, please list specific things that are not working in a new issue.

[2017-08-12 13:53] #3824 closed

[2017-08-12 13:56] ehollig commented on #1384
If this problem still exists, we can reopen this issue. Closing as worksforme

[2017-08-12 13:56] #1384 closed

[2017-08-12 13:58] bramd commented on #7458
@ruifontes Are you able to run this from source? Keys are not mapped properly for the Basic braille yet, but it should work.

@zstanecic I understand that testing a build or an add-on is easier. Unfortunately, it is a bit hard to package this as an add-on for now. First of all, there is already a driver named handyTech and this might conflict with gestures and reverting to the original driver will

[2017-08-12 14:03] PratikP1 commented on #7486
@fernando-jose-silva, Try the following.
Outlook groups conversations by date, pacing today at the very top of the conversation list. That group is collapsible. Check if the top most item in the grouping is collapsed. Use the right arrow key to expand the group. The announcements are a little too verbose for my taste. It may be that the collapsed state is not being picked up.

The log, as you've p

[2017-08-12 14:31] ehollig commented on #3749
Closing because the reporting of font attributes must be checked in the document formatting dialog for NVDA to announce presence of subscripted and superscripted text in Word.

[2017-08-12 14:31] #3749 closed

[2017-08-12 14:32] ehollig commented on #3750
Closing because the reporting of font attributes must be checked in the document formatting dialog for NVDA to announce presence of subscripted and superscripted text in Word.

[2017-08-12 14:32] #3750 closed

[2017-08-12 14:43] ehollig commented on #3742
I believe this is now fixed in Firefox. @jcsteh, any further clarification?

[2017-08-12 14:49] ruifontes commented on #7458
Hi Bram!
Never did that, but if it not requires lots of Gb and you gave me the basics
to set my machine to do that, I will be able to test it...

Rui

-----Mensagem Original-----
De: Bram Duvigneau
Data: 12 de agosto de 2017 14:58
Para: nvaccess/nvda
Cc: ruifontes ; Mention
Assunto: Re: [nvaccess/nvda] Native driver for Handy Tech braille displays
(#7458)

@ruifontes Are you able to run this from

[2017-08-12 14:56] ehollig commented on #3384
I can not reproduce using IE 11 either. Closing as worksforme

[2017-08-12 14:56] #3384 closed

[2017-08-12 15:01] ehollig commented on #2510
Closing, as the ticket is over 5 years old and I do not recall this issue being reported before.

[2017-08-12 15:01] #2510 closed

[2017-08-12 15:15] ehollig commented on #2389
Closing, as @jcsteh said we can not allow for regular expression matching with symbols.

[2017-08-12 15:15] #2389 closed

[2017-08-12 15:45] ehollig commented on #3299
Closing, as we are unable to easily contact the original poster and they did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/3299#issuecomment-155307774

[2017-08-12 15:45] #3299 closed

[2017-08-12 15:47] #4116 closed

[2017-08-12 15:51] ehollig commented on #4121
Closing. I am able to focus to the speech viewer using the keyboard and read the text results in the speech viewer. Is this the case you are experiencing as well @jcsteh @josephsl?

[2017-08-12 15:51] #4121 closed

[2017-08-12 15:51] bhavyashah commented on #4207
@michaelDCurran Do you have any updates to share with regards to implementation notes for this issue? In my brief (and probably perfunctory testing) with Word 2010, there were two issues I noticed with variable degrees of consistency:
* When I opened a new blank Word document, pressing Alt only took me to the System submenu. Alt+H to specifically go to the Home tab in the ribbon didn't work either

[2017-08-12 15:56] bhavyashah commented on #4231
I am not too sure if it is NVDA interfering, or Windows itself only launches the context menu without focusing on the first menu item. Still, from a UX viewpoint, this sounds desirable, particularly for a newbie or one transitioning from elsewhere, and I vaguely recall being confused myself about why NVDA only said 'context menu' and did not report any menu item a few years ago, although that migh

[2017-08-12 16:00] ehollig commented on #3386
Closing, as the reported issue does not occur anymore and no one, not even the original poster, can replicate it.

[2017-08-12 16:00] #3386 closed

[2017-08-12 16:03] bhavyashah commented on #4236
I would like to kindly request that this request be turned down. Many users have reported and many tickets have been filed due to the verbosity caused primarily by landmarks and nested lists, and reporting the end of landmarks could potentially increase these annoyances. I agree with @jcsteh and unless @leonardder and others can provide other cogent counter-arguments, I suggest closing. @ehollig

[2017-08-12 16:05] bhavyashah commented on #4245
Not only is the reported issue quite vague but also the original author of this ticket is now out-of-reach and unfortunately did not respond to https://github.com/nvaccess/nvda/issues/4245#issuecomment-155321658 and https://github.com/nvaccess/nvda/issues/4245#issuecomment-155321659. Thus, I suggest closing. @ehollig

[2017-08-12 16:07] ehollig commented on #3970
#7052 discusses moving by paragraph in notepad and possibly can include selecting text. As that issue has a priority, closing this in favor of #7052

[2017-08-12 16:07] #3970 closed

[2017-08-12 16:08] ehollig commented on #7052
For anyone who works on the PR for this, can you include the ability to select text by paragraph as well as discussed in #3970

[2017-08-12 16:14] ehollig commented on #2285
Duplicate of #553

[2017-08-12 16:14] #2285 closed

[2017-08-12 16:16] bhavyashah commented on #4279
I have no justification to back my suggested improvements. Also, @leonardder is already working on adding some more elements to the Elements List dialog. The only concern I still have, which may be more of an enquiry that too, is why Level 0 is spoken for links in the Elements List dialog. As long as someone can clarify whether that is a valid bug or intended information, I am happy for this to be

[2017-08-12 16:16] ehollig commented on #2671
I agree with @leonardder. Do I close this as duplicate, put block label on this or that one, or what exactly?

[2017-08-12 16:16] #2671 closed

[2017-08-12 16:18] leonardder commented on #2671
There is some github magic that automatically marks this as a duplicate of a ticket if you say something like: "closing as duplicate of #5354." It does not add the duplicate label though, and I'm afraid that it doesn't work if the ticket is already closed.

[2017-08-12 16:18] bhavyashah commented on #4344
@jcsteh If NVDA is correctly reporting whatever Windows is exposing, I reckon it is okay to leave the current behaviour as it is, particularly because users are already familiar with this. Still, if you believe that this might be a quickfix/goodfornewdevs which may not confuse existing users, that would be equally fine by me. Feel free to triage accordingly.

[2017-08-12 16:23] josephsl commented on #3355
See #7105 for overall design, transition plan, and progress so far.

[2017-08-12 16:24] bhavyashah commented on #4348
I continue to agree that symbol level should be automatically set to All when focus is on the Symbol Pronunciation dialog, although this may be complicated with the implementation of a unified NVDA settings dialog. However, one concern I do have is the reporting of the ';' which separates the symbol from its pronunciation as well as symbol level and so on, thus being announced thrice in the proces

[2017-08-12 16:28] ehollig commented on #4245
Closing do to lack of information to replicate.

[2017-08-12 16:28] #4245 closed

[2017-08-12 16:28] bhavyashah commented on #4353
@jcsteh (Mr. James Teh :P) Could you please clarify your stand as to whether you would be happy to consider this ticket and thus allow NVDA to somehow announce Desktop in all cases instead of varying, or do you believe that we should leave things as Microsoft has internally labelled them?

[2017-08-12 16:32] bhavyashah commented on #4357
@jcsteh (Mr. James Teh again, please comment. :D) Unless you, @leonardder, @feerrenrut and others believe that an accessible dropdown with checkable items can be implemented with WX Python, I am happy for this ticket to be closed.

[2017-08-12 16:32] josephsl commented on #4171
Hi, universal apps are, for all intents and purposes, modern apps. Because of this, the big picture applies: cannot use screen scraping reliably, although one workaround is object navigation emulation (see ObjPad add-on for details). Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Saturday, August 12, 2017 3:54 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscr

[2017-08-12 16:36] fernando-jose-silva commented on #7486
Unfortunately the group is already expanded, when the nvda pronounces edit, if press enter the message is opened and read.
I'll take the complete log and attach

Enviado do meu iPhone

[2017-08-12 17:06] leonardder commented on #4348
[**@bhavyashah**](https://github.com/bhavyashah) commented on [12 aug. 2017 18:24 CEST](https://github.com/nvaccess/nvda/issues/4348#issuecomment-321991082 "2017-08-12T16:24:12Z - Replied by Github Reply Comments"):

Symbol pronunciation won't go into this new unified dialog. The configuration dialog will only deal with configuration manager settings (i.e. the settings that modify nvda.ini)

[2017-08-12 17:06] fernando-jose-silva commented on #7486
[Arquivo 12-08-17 13 51 20.txt](https://github.com/nvaccess/nvda/files/1219928/Arquivo.12-08-17.13.51.20.txt)

[2017-08-12 17:08] fernando-jose-silva commented on #7486
Ataxe

[2017-08-12 17:13] bhavyashah commented on #4348
@leonardder Oh, alright. Thanks for the clarification.

[2017-08-12 18:23] bramd commented on #7458
@zstanecic Could you please test the latest changes with your BrailleWave? According to BRLTTY code some displays are driven by an older protocol (BrailleWave, EasyBraille etc). Sending braille using the newer protocol worked, but at least the Easy Braille gave error beeps sometimes. Now the older protocol is used for this devices.

@ruifontes @leonardder indicated that he can trigger try builds o

[2017-08-12 18:29] zstanecic commented on #7458
@bramd now pulling changes

[2017-08-12 18:48] derekriemer opened #7490 "can't get landmark from a pdf in edge"
### Steps to reproduce:

1. Open this pdf in edge.
2. Read down by line, and move forward by character after my objective and proficiency.
3. Note this error.
error executing script: <bound method EdgeHTMLTreeInterceptor.script_moveByCharacter_forward of <NVDAObjects.UIA.edge.EdgeHTMLTreeInterceptor object at 0x051FCF90>> with gesture u'right arrow'
Traceback (most recent call last):
  File "scrip

[2017-08-12 18:49] derekriemer commented on #7490
PDF:
[resume.pdf](https://github.com/nvaccess/nvda/files/1219998/resume.pdf)

[2017-08-12 18:51] zstanecic commented on #7458
Hi, now the imput is not working: outpus at the beginning of each message returns k dots 1 3
after pressing the imput key it breaks, and one fragment from the log, wich is important:
IO - braille.BrailleBuffer.update (20:44:26.519):
Braille regions text: [u'NVDA uruchomiony']
IO - braille.BrailleHandler.update (20:44:26.519):
Braille window dots: 13457 12367 1457 17 - 136 1235 136 14 125 135 134 2

[2017-08-12 19:24] bramd commented on #7458
@zstanecic Thanks. Please check the latest changes for a fix to the braille output. I hope this also fixes the problems with input.

[2017-08-12 19:31] zstanecic commented on #7458
No, this is not fixing the imput, even i don’t have logged keys on the display. Now all the keys including routing doesn’t work, i know that, because they don’t interrupt speech.

[2017-08-12 19:43] leonardder commented on #7490
Ough, this is very like caused by the landmarks localisation fix indeed. Could you please double check this with 2017.2? If this works properly there, I will try to fix this in time for 2017.3, probably not that difficult.

@MichaelDCurran: I'm thinking about adding a landmark property to the base UIA class, but we could even consider adding it to the base NVDAObject, defaulting to None.

[2017-08-12 19:43] leonardder commented on #7490
This is either a p1 or a p2 to me, since it breaks PDF reading in Edge in a major way and is probably a regression.

[2017-08-12 20:18] ruifontes commented on #7458
Hi Bram, I will wait by the executable version...

I am engaged in 2017.3 translation...

Rui

-----Mensagem Original-----
De: Bram Duvigneau
Data: 12 de agosto de 2017 19:23
Para: nvaccess/nvda
Cc: ruifontes ; Mention
Assunto: Re: [nvaccess/nvda] Native driver for Handy Tech braille displays
(#7458)

@zstanecic Could you please test the latest changes with your BrailleWave?
According to BRLTTY co

[2017-08-12 20:33] derekriemer commented on #7490
hold on, I will have to get a 2017.2 installer.

[2017-08-12 20:34] bramd commented on #7458
@zstanecic I think input is fixed again. Please post a log if not.

[2017-08-12 20:36] derekriemer commented on #5488
You could use a compoundDocumentTextInfo or similar

[2017-08-12 21:33] PratikP1 commented on #7475
@jcsteh, mentioning you based on our Twitter conversation.

[2017-08-12 21:36] PratikP1 commented on #7473
@jcsteh, I'm mentioning you based on our Twitter conversation.

[2017-08-12 21:38] ehollig commented on #4216
Duplicate of #856

[2017-08-12 21:38] #4216 closed

[2017-08-12 21:40] ehollig commented on #856
See #4216 for additional information on this issue.

[2017-08-12 21:55] ehollig commented on #4314
Closing, as a request to improve the accessibility of this software has been sent to the developers.

[2017-08-12 21:55] #4314 closed

[2017-08-12 22:17] ehollig commented on #5633
Duplicate of #4314 3241

[2017-08-12 22:21] ehollig commented on #5633
Closing as duplicate of #3241. If this is still happening, please create a new issue and provide exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead.

[2017-08-12 22:21] #5633 closed

[2017-08-12 22:23] ehollig commented on #4362
Closing because of https://github.com/nvaccess/nvda/issues/4362#issuecomment-155324594

[2017-08-12 22:23] #4362 closed

[2017-08-12 22:29] derekriemer commented on #7490
yes, this is a regression from 17.2

[2017-08-12 22:33] derekriemer commented on #7490
yes, this is a regression from 17.2

[2017-08-12 22:55] ehollig commented on #4623
As far as I am aware, there is no way to fix false positives with antivirus's. Closing
The accessibility of the interface of Avast is covered in #3241. It would be recommended to contact the developers of Avast and ask them to improve accessibility into their app.

[2017-08-12 22:55] #4623 closed

[2017-08-12 23:09] ehollig commented on #4604
From the issue reported in #5120, it sounds as if this issue has been resolved in AVG 2015 but information is not readable from within the options dialog. Closing

[2017-08-12 23:09] #4604 closed

[2017-08-12 23:51] michaelDCurran commented on #7490
A base NVDAObject landmark property is fine with me.

[2017-08-12 23:52] NZGene commented on #2807
In Windows 10, on some machines NVDA has been saying unknown or pane in all browsers (apart from Edge). If using a copy of Mozilla Thunderbird, and you try and tab through to get to the tree view (where the folders are) it basically says unknown. It doesn't do anything in Mozilla Thunderbird. You can't even get to the menus in Mozilla Firefox. NVDA says unknown in the running applications section.

[2017-08-13 00:06] michaelDCurran commented on #4207
I was under the assumption that the needing to press alt twice had been fixed along time ago. I can't reproduce it with Word 2016.  As for my comment about not using UIA, it is worth mentioning that going forward, NVDA will exclusively use UIA for MS Word. See #7409. But, this will only be for Office 365. Can this specific issue of having to press alt twice be reproduced in Word 2013 / Word 2010?

[2017-08-13 00:14] michaelDCurran commented on #3417
This is still broken in Office 365 and affects Narrator as well. I shall
report this to Microsoft myself along with my other MS Word work.

[2017-08-13 01:23] jcsteh commented on #2807
@NZGene, it'd be good if you can try the steps I suggested in https://github.com/nvaccess/nvda/issues/2807#issuecomment-320149243 on affected machines and report whether that fixes the issue for you. The eventual aim is to develop a tool to fix problems like this automatically and it'd be helpful to know whether our suspicions about the cause of the problem are correct. Thanks.

[2017-08-13 01:25] ehollig commented on #2677
This still occurs using IE 11.
Relevant code:
``<input type=file accept=binary>
Ensure Automatic focus mode for caret movement check box is checked. CC @jcsteh @feerrenrut

[2017-08-13 01:31] ehollig commented on #2674
Sounds like from https://github.com/nvaccess/nvda/issues/2674#issuecomment-155300650 that @jcsteh's suggestion in https://github.com/nvaccess/nvda/issues/2674#issuecomment-155300647 fixed the issue.
Closing as worksforme, but please let me know if I have misunderstood the issue.

[2017-08-13 01:31] #2674 closed

[2017-08-13 01:46] jcsteh commented on #7473
Confirmed.

Can people experiencing this please test [this earlier next snapshot](https://ci.appveyor.com/api/buildjobs/a6akei54c542rrtu/artifacts/output/nvda_snapshot_next-14254,b58ac3ff.exe) and report whether the problem occurs there? I too am pretty sure this is a regression introduced by the ducking fix (#7463) and this is the next build just before that change got merged.

Technical: I added

[2017-08-13 02:41] ehollig commented on #3540
CC @ragb, could you respond to @jcsteh in https://github.com/nvaccess/nvda/issues/3540#issuecomment-155309700?

[2017-08-13 02:43] ehollig commented on #3560
Closing because of https://github.com/nvaccess/nvda/issues/3560#issuecomment-155309863

[2017-08-13 02:43] #3560 closed

[2017-08-13 02:50] ehollig commented on #3531
this is still the case with the latest NVDA. CC @jcsteh

[2017-08-13 03:03] ehollig commented on #3659
CC @leonardder, could you address the first issue on placement of LNK?

[2017-08-13 03:11] fernando-jose-silva commented on #7473
Thank you so much for you guys watching this, I was very happy.
I'm sorry, I did not understand, how many builds should I test?
I'll be with a machine with Windows 10 on Monday, I'm happy to help.
Congratulations and thank you very much for the work

Enviado do meu iPhone

[2017-08-13 03:12] ehollig commented on #3673
@jcsteh, should this be closed as you were unable to see anything obvious in the log? You also mentioned in https://github.com/nvaccess/nvda/issues/3673#issuecomment-155313166 that you would think on it.

[2017-08-13 03:15] ehollig commented on #3745
This is still the case with Firefox 54. CC @jcsteh

[2017-08-13 03:32] ehollig commented on #3982
@jcsteh, should this be closed as you said in https://github.com/nvaccess/nvda/issues/3982#issuecomment-155318439 that this particular test case is broken?

[2017-08-13 03:46] ehollig commented on #4055
#1007 discusses customizing or changing the sounds for NVDA. Closing this as a duplicate

[2017-08-13 03:46] #4055 closed

[2017-08-13 04:03] ehollig commented on #4455
@jcsteh, should this be closed as you said in https://github.com/nvaccess/nvda/issues/4455#issuecomment-155327398 that you ca not do anything with this dump?

[2017-08-13 04:08] jcsteh commented on #7473
The bit where I mentioned a next build in my comment was a link. Follow that link to get the build I was referring to specifically.

[2017-08-13 05:33] bhavyashah commented on #4207
Yes, I am able to reproduce this issue in Word 2010 via the following STR:
* Open a new blank Word document.
* Press Alt.
Expected Result: NVDA should move to the Home tab on the ribbon.
Actual Result: NVDA stays quiet and nothing seems to happen.
* Press Alt again.
Expected Result: NVDA should move to the Home tab on the ribbon.
Actual Result: NVDA does move to the Home tab on the ribbon.
However

[2017-08-13 06:01] bhavyashah commented on #2627
In conclusion, do we all agree to close this in order to consolidate discussion in #7383?

[2017-08-13 06:03] bhavyashah commented on #2196
@brian1gaff Could you please respond to @leonardder's https://github.com/nvaccess/nvda/issues/2196#issuecomment-313713795 by confirming whether or not this is IE 8 specific?

[2017-08-13 06:06] bhavyashah commented on #1710
This is just a gentle ping for @fernando-jose-silva to keep https://github.com/nvaccess/nvda/issues/1710#issuecomment-320580647 in mind and send across a log when the reported issue next occurs.

[2017-08-13 06:14] bhavyashah commented on #4907
The provided URL seems to contain no button with NVDA 2017.2 and Firefox 54 stable. Pressing Enter on the Skip to audio player link results in the following:
Input: kb(laptop):enter
IO - speech.speak (11:44:42):
Speaking [LangChangeCommand ('en_GB'), u'Listen to the latest KTN Weekly from Kingston Upon Thames Talking Newspaper - Mozilla Firefox']
IO - speech.speak (11:44:42):
Speaking [LangChangeC

[2017-08-13 06:16] bhavyashah commented on #3893
@jcsteh stated in https://github.com/nvaccess/nvda/issues/3893#issuecomment-155317530 that he is leaning towards a wontfix. Unless @leonardder, @feerrenrut and others have thoughts or further discussion, I suggest closing. @ehollig

[2017-08-13 06:21] bhavyashah commented on #3408
I cannot reproduce this issue with Windows 8.1 and internet Explorer 11 either. Unless @sumandogra can still replicate the reported issue, I suggest closing. @ehollig
P.S. Are we taking IE 10 specific issues into consideration anymore? IE 11 is within radar and IE 8 and 9 are not, but I am unsure of IE 10.

[2017-08-13 10:06] Brian1Gaff commented on #2196
In a nutshell, yes.
I seldom use IE now 8 or anything else as Firefox seems to work far better
for me.
 Occasionally you do get some odd controls on web sites but usually this is
down to the strange web site not the browser.
 I think that iE8 is now almost unsusable  since its only been getting
security fixes and no functional ones at all even in the extended support
the NHS has had running till t

[2017-08-13 10:18] Brian1Gaff commented on #3531
As a matter of interest, this can sometimes be three times if you have speak
tooltips on, but not always. Could it be being refreshed using that mega
slow UIA routine that often causes issues in explorer, as this looks and
feels like an explorer window with some extras bolted on.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putt

[2017-08-13 11:06] dkager commented on #2627
I don't know if we all agree, but sounds good to me.

[2017-08-13 11:06] #2627 closed

[2017-08-13 11:34] fernando-jose-silva commented on #1710
Hello everyone.
Sorry for the delay.
I made some discoveries that solved my problem that I will report below, however I would like to point out that I am not sure that this will solve the other errors reported in this same call.
I accidentally decided for a while to disable all of the beeping sounds of nvda like:
Line indentation announcements (sounds).
And some addons that emitted beeps like:
Obj

[2017-08-13 11:41] fernando-jose-silva commented on #7473
Perfect, I saw the email on the iphone and did not notice the link.
I'm going to take the test on Monday, thank you very much.

[2017-08-13 11:43] bramd commented on #7430
@feerrenrut What's the difference between Chrome/Firefox here? Is Firefox filtering out clickables through the tree if they are only set on the parent? I think the solution that would match the Firefox behavior, either as fix in Chrome or NVDA, would be the prefered one. This is what users might expect already from Firefox usage and in my experience in Firefox it works fine.

[2017-08-13 11:55] bramd commented on #7057
I hope this is the same issue. It seems sometimes also whitespace, not just line breaks, gets lost.
A simple testcase, open the following:

data:text/html,<pre><code><span class="keyword">def</span> <span class="title">hello</span></code></pre>

Expected: def hello
Actual: defhello

Tested in Chrome 62.0.3183.0 (Official Build) canary (64-bit).

[2017-08-13 14:07] ehollig commented on #2196
This is IE8 specific, as reported in https://github.com/nvaccess/nvda/issues/2196#issuecomment-322033013, closing

[2017-08-13 14:07] #2196 closed

[2017-08-13 14:15] ehollig commented on #3408
As far as I am aware, if the issue can be replicated in IE11, then we will take it. Users of Windows 7 do have the option to upgrade to the latest version of IE, which is IE11.
Closing this as worksforme, but if the problem still exists, please create a new issue with exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead.

[2017-08-13 14:15] #3408 closed

[2017-08-13 14:34] bhavyashah commented on #1873
According to https://github.com/nvaccess/nvda/issues/1873#issuecomment-155293959, Word provides sentence navigation commands in the form of Ctrl+Shift+PgUp/PgDn to move to the previous/next sentence. Not only is this the first time I have learnt that something within Word exists for sentence navigation but also this does not seem to work anyways in Word 2010, or at least the system focus or caret

[2017-08-13 14:44] bhavyashah commented on #2268
Sentence navigation is already covered elsewhere and thus this ticket exclusively covers keystrokes to read the current sentence and paragraph. I am not too sure if this should be accepted because it may be difficult to come up with logical keystrokes for desktop and laptop layouts given our existing concern about common keyboard shortcuts running out. No usage case has been provided either and th

[2017-08-13 14:47] bhavyashah commented on #2331
@jcsteh Does this still occur? I don't think I follow the issue correctly, because pressing NVDA+R and then arrowing around doesn't seem to generate errors at my end.

[2017-08-13 14:50] ehollig commented on #1906
The attachment is a patch. @feerrenrut should this code be looked into, because it sounds like it is only for VS 2008?

[2017-08-13 14:51] bhavyashah commented on #2353
At least with reference to stable versions of NVDA, it is a known fact that a new NVDA version can be expected quarterly. Since we do not push updates very regularly anyways, and three months is a reasonable time frame, I consider the proposed feature request to be an unneeded overkill. The story with development builds may be entirely different though, and due to my limited knowledge and experien

[2017-08-13 14:55] bhavyashah commented on #2362
@jcsteh notes in https://github.com/nvaccess/nvda/issues/2362#issuecomment-155298038 - "I'll see what I can come up with when I get some time. If you/someone else wants to poke at this, I can provide a quick brain dump on where to start." Could you please do one of the above and share your thoughts?

[2017-08-13 15:01] bhavyashah commented on #2384
From @jcsteh's https://github.com/nvaccess/nvda/issues/2384#issuecomment-155298165, part of this bug affects Windows XP, specific to which issues are no longer addressed by NVDA. However, this does affect all portable/source/non-uiAccess copies too. I doubt that I have ever experienced the reported issue personally with portable copies, but since Jamie seems to be acknowledgeing it, that should be

[2017-08-13 15:08] bhavyashah commented on #2387
With reference to the Windows Updates Windows8.1's Start Menu offered me on a search, I had no major updates available. However, there were 11 optional updates available, which link I pressed and received this in the NVDA log:
DEBUGWARNING - RPC process 3372 (explorer.exe) (20:38:17):
Thread 5620, build\x86_64\remote\sysListView32.cpp, nvdaInProcUtils_sysListView32_getGroupInfo, 28:
LVM_GETGROUPIN

[2017-08-13 15:10] bhavyashah commented on #2407
@jcsteh By https://github.com/nvaccess/nvda/issues/2407#issuecomment-155298372, could you please clarify if you were implying that this issue should be a wontfix/cantfix, or something else?

[2017-08-13 15:12] bhavyashah commented on #2690
@jcsteh @michaelDCurran Do the usage cases provided in https://github.com/nvaccess/nvda/issues/2690#issuecomment-155300813 suffice?

[2017-08-13 15:14] bhavyashah commented on #2730
@michaelDCurran Since you were assessing the reported issue earlier, could you please share any thoughts/inputs you may have in response to @nishimotz's https://github.com/nvaccess/nvda/issues/2730#issuecomment-155301139?

[2017-08-13 15:16] bhavyashah commented on #2736
@nishimotz Could you please share any updates about work done on Japanese Braille support in relation to your https://github.com/nvaccess/nvda/issues/2736#issuecomment-155301172?

[2017-08-13 15:18] bhavyashah commented on #2744
CC @josephsl and @jcsteh to kindly request further discussion on getting the OCR add-on part of NVDA's automated translation system, assuming that it isn't already.

[2017-08-13 15:42] ehollig commented on #3608
This is being discussed in #5573. Closing this in favor of #5573

[2017-08-13 15:42] #3608 closed

[2017-08-13 17:38] josephsl commented on #2744
Hi, now that Windows 10 OCR is here, discussion should focus on allowing those not using Windows 10 to reap the benefits of translating this add-on at a later time. I suggest delaying this until the old OCR add-on is updated to support the new content recognition framework, which should also give us an opportunity to improve the add-on in many ways. Thanks.

From: bhavyashah [mailto:notifications@

[2017-08-13 19:57] derekriemer commented on #7490
yes, this is a regression from 17.2

[2017-08-13 20:41] vgjh2005 commented on #4831
Hi:
It is not just a bug in VM 10. I just use this software to be the example.
However, adobe audition can be the examination. Thanks

2017-08-12 20:05 GMT+08:00, Leonard de Ruijter <notifications@github.com>:

[2017-08-13 22:36] michaelDCurran commented on #2442
This only affects IE. NV Access is not going to actively pursue a fix, but will accept a PR.

[2017-08-13 22:40] michaelDCurran commented on #2158
@bhavyashah  Flat review is equivalent  to NVDA's screen review today. I would think it is still valid.

[2017-08-13 22:46] michaelDCurran commented on #1943
Implementing #7409 (move to uIA) will give   Word 365 this ability out of the box. I still do not believe this is possible in Word 2010. However, we'll accept a pr if someone comes up with something. No priority from NV Access's point of view.

[2017-08-13 23:15] michaelDCurran commented on #1888
This is no longer an issue in IE 11. Since you can get IE 11 for Windows 7, and it was only specific to one website, now closing.

[2017-08-13 23:15] #1888 closed

[2017-08-13 23:20] michaelDCurran commented on #1742
Closing as cantfix

[2017-08-13 23:20] #1742 closed

[2017-08-13 23:46] michaelDCurran commented on #1608
I don't think we need to support Emoticons as it is possible to understand them as punctuation symbols. Also, an add-on exists for this already. Emoji on the other hand needs to be supported directly.

[2017-08-13 23:46] #1608 closed

[2017-08-14 01:36] Qchristensen commented on #2575
I filed #6452 about data validation list items being read twice (in Excel 2016).  In that case, the list itself is being identified though (NVDA reports, "Sub-menu B3" for instance).

Issue #5012 looks like it is about navigating within drop down lists, but doesn't indicate how they are identified.  It also references a number of other open and closed issues.

There are a couple of issues about fi

[2017-08-14 01:50] Qchristensen commented on #5488
The difficulty of implementing aside, I'm not against pressing NVDA+b twice to spell.  As one of the comments note, this would be consistent with other reading commands.

What happens when you press it three times is a tricky one, as with some commands we spell phonetically, and with others, we copy to the clipboard.

Personally, I prefer pressing three times to spell phonetically, as you may acci

[2017-08-14 02:30] feerrenrut commented on #2522
It's a shame that there isn't a specific example of where the reporter expected this to apply. I would assume they were asking for this behaviour across the board.

[2017-08-14 02:37] feerrenrut commented on #2396
I have added the attachments to this ticket.

[2017-08-14 02:55] bhavyashah commented on #5488
I can hardly imagine any usage case for phonetically spelling all contents of the current window, because Caps+B is pretty verbose anyways, and phonetically spelling it might just be excess load for densely populated windows and less responsive speech synthesizers. In contrast, Caps+B to copy all contents of the current window seems far more useful, although the same could also be achieved in many

[2017-08-14 03:17] bhavyashah commented on #1756
@jcsteh Assuming that the reported issue still occurs with the latest version of Firefox and elsewhere, your https://github.com/nvaccess/nvda/issues/1756#issuecomment-155292410 seems to be providing cogent justification against this ticket. Could you please clarify if this implies a wontfix, or am I misunderstanding something?

[2017-08-14 03:28] gregjozk commented on #7488
Hi,

anyone who would contact Eurobraille must have had a lot of luck :) When I tried to contact them and report problems with their driver back, they have not responded.

Regards, Jožef

[2017-08-14 03:30] jcsteh commented on #1756
The outstanding issue here is that "menu item" gets reported in browse mode, but it's superfluous, since this should be clear from the reported "menu bar" or "menu". We also don't need to report "check menu item". This would make browse mode consistent with focus mode.

[2017-08-14 03:32] jcsteh commented on #1756
P3, because it's annoying but doesn't break functionality and isn't widely reported as problematic by users. Not a candidate for 2017webfix for the latter reason.

[2017-08-14 03:38] jcsteh commented on #2690
We really need practical use cases here, not theoretical ones. For example, why does your external application need to do these things? What is it actually trying to achieve from a user perspective?

Closing given the age of the issue and the fact that we can't contact the reporter any more.

[2017-08-14 03:38] #2690 closed

[2017-08-14 03:43] jcsteh commented on #2407
There may be a way to fix this, but I don't know how. It also doesn't seem overly important. P4: we'll take a PR, but we can't prioritise this ourselves.

[2017-08-14 03:47] jcsteh commented on #2362
Fixed by #7410. CC @CToth.

[2017-08-14 03:47] #2362 closed

[2017-08-14 03:51] jcsteh commented on #2353
This increases complexity and makes things difficult for our statistics. Closing as won't fix. Note that less intrusive notifications (#2257) and postponing of updates (#4263) will make daily update checks less annoying for users who don't want to install the update immediately.

[2017-08-14 03:51] #2353 closed

[2017-08-14 03:52] jcsteh commented on #2331
I think so. It will occur if you press NVDA+r while in an editable text field.

This can be fixed by updating the OCR add-on to use the new contentRecog framework.

[2017-08-14 03:59] jcsteh commented on #2268
Closing as won't fix.

[2017-08-14 03:59] #2268 closed

[2017-08-14 04:07] bhavyashah commented on #1759
I was unable to reproduce all issues reported with NVDA 2017.2 and Firefox 54 stable.
* Arrowing around the first graphic on the provided URL did indeed navigate only between the characters of the alt text or description of the image. However, I am unsure of whether this should be considered expected behaviour, or if the graphic should occupy only one character in terms of arrowing and its corresp

[2017-08-14 04:10] bhavyashah commented on #2129
@jcsteh From your comments, it seems that only font colour, and possibly alignment as well, can be supported by NVDA in JAB. However, I believe Java Access Bridge has been superceded or something of the sort. Could someone please shed light on this so that JAB tickets can be accordingly triaged?

[2017-08-14 04:12] derekriemer commented on #1756
We'd need to report checkMenuItems. How else will we know if it's checked/unchecked?

[2017-08-14 04:14] bhavyashah commented on #2161
@josephsl's https://github.com/nvaccess/nvda/issues/2161#issuecomment-155296125 seems to suggest that the reported issue may have been fixed in NVDA version 2013.3. Unfortunately however, the original author of this ticket did not respond to the cited comment by testing with said NVDA release and onwards, and we have no means of contacting Paul anymore. Unless we receive feedback from an NVDA user

[2017-08-14 04:18] jcsteh commented on #5463
Browse mode is used for many different controls/applications and the ways we access content in those different cases are also quite different. The way in which we access content determines whether it's possible to do sentence navigation.

There are two pieces to supporting sentence navigation:

1. The really hard part: A way to retrieve the start and end of a sentence.
    - Some applications have

[2017-08-14 04:24] derekriemer commented on #4623
This was probably due to the av blocking in proc injection (If that's possible even).

[2017-08-14 04:24] bhavyashah commented on #2250
Several other tickets on the tracker have complained in one way or the other about NVDA's excess verbosity on the web when it comes to the reporting of various elements multiple times, the 'out of' feedback, etc. Although the original author of this ticket is now out-of-reach and unfortunately failed to respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2250#issuecomment-155297114, I wou

[2017-08-14 04:28] derekriemer commented on #4357
Ping to https://github.com/nvaccess/nvda/pull/7491

[2017-08-14 04:28] jcsteh commented on #1873
I agree this could be useful. However, it's far from simple to do this, and just because it's possible in one application doesn't mean it's possible in another.

There are two pieces to supporting sentence navigation:

1. The really hard part: A way to retrieve the start and end of a sentence.
    - Some applications have their own idea of sentences and we can ask these applications to tell us whe

[2017-08-14 04:30] jcsteh commented on #5904
Closing as a duplicate of #1873. In particular, see https://github.com/nvaccess/nvda/issues/1873#issuecomment-322097839.

[2017-08-14 04:30] #5904 closed

[2017-08-14 04:38] Qchristensen commented on #5488
Good point, I must admit I was thinking overall in terms of consistency of commands when I wrote that, moreso than a specific use for spelling out the entire window.

[2017-08-14 04:46] bhavyashah commented on #2676
@josephsl As the original author of this ticket, could you please respond to the questions asked in @jcsteh's https://github.com/nvaccess/nvda/issues/2676#issuecomment-155300661?

[2017-08-14 04:48] feerrenrut commented on #2470
Happy to accept a PR for this, however given the age of this ticket and VS 2010 we won't implement this internally. Marking as priority 4.

[2017-08-14 04:55] bhavyashah commented on #2752
If I am following this ticket correctly, object navigation is the work-around I employ to access the otherwise inaccessible portions of the Task Manager. Any thoughts/inputs on priorities and implementation anyone?

[2017-08-14 04:58] bhavyashah commented on #2753
@jcsteh Does this still occur with NVDA 2017.2 and the latest version of Java Access Bridge? Also, in case this proves to be a JAB bug, feel free to add the NeedsExternalFix label.

[2017-08-14 05:04] bhavyashah commented on #2776
Assuming that this still occurs (@nishimotz?), @michaelDCurran, any thoughts regarding this ticket?

[2017-08-14 05:06] bhavyashah commented on #2791
@josephsl As the original author of this ticket, could you please respond to the questions asked in @jcsteh's https://github.com/nvaccess/nvda/issues/2791#issuecomment-155301630?

[2017-08-14 05:07] jcsteh commented on #2753
No longer relevant because this refers to OpenOffice/LibreOffice with Java Access Bridge and that implementation has since been replaced by IAccessible2. Closing.

[2017-08-14 05:07] #2753 closed

[2017-08-14 05:08] bhavyashah commented on #2777
I use Classic Shell, a software that has modified my Start menu, thus making me unable to personally test the current standing of the reported issue. Could someone else having access to a non-modified Windows 8.1 Start menu please test and revert with results?

[2017-08-14 05:09] jcsteh commented on #1756
Because checked/not checked will still get reported, just not "check menu
item".

[2017-08-14 05:10] josephsl commented on #2791
Hi,
Almost five years later:

* Korean: fixed by adding character components in symbols and char descriptions dictionaries thanks to work from prominent leaders of the Korean NVDA community.
* Tamil: will need to ask on the translations mailing list.

Thanks.

[2017-08-14 05:12] jcsteh commented on #2129
Closing, as JAB in Libre/OpenOffice has been replaced by IA2, which provides much more info.

Just as a general triage note, JAB has been replaced by IA2 in Libre/OpenOffice, but it has not been replaced for Java Swing applications.

[2017-08-14 05:12] #2129 closed

[2017-08-14 05:15] bhavyashah commented on #2861
@jcsteh Since you were assessing this issue earlier, could you please respond to https://github.com/nvaccess/nvda/issues/2861#issuecomment-155303118 and kindly summarize the problems and solutions identified?

[2017-08-14 05:18] jcsteh commented on #3531
This occurs because we explicitly disable UIA for NVDA's own process, since that previously caused freezes and other weirdness due to the UI Automation Client in Windows. I'm not sure if this is still the case in Windows 10.

[2017-08-14 05:22] bhavyashah commented on #2867
@jcsteh @feerrenrut Is the bug report/feature request sufficiently clear for you? If not, CC @brian1gaff in case Brian has any information.

[2017-08-14 05:25] jcsteh commented on #4455
This was possibly related to #4457, which has since been fixed. Regardless, we can't do anything with this dump. Closing as works for me, since it can't be reproduced now.

[2017-08-14 05:25] #4455 closed

[2017-08-14 05:27] #3982 closed

[2017-08-14 05:34] jcsteh commented on #3673
I don't have any further thoughts on this, the log isn't any help and I haven't seen any other reports fo this. Closing as works for me. Note that #6787 provided some fixes related to profile switching, so this may have been fixed by that.

[2017-08-14 05:34] #3673 closed

[2017-08-14 05:54] jcsteh commented on #2861
I think we should change the repeat rule so that:

1. If the symbol should be spoken at this level and it should be preserved, output the real symbol only once after the repeated indicator. For example: ",,,," would produce "4 comma,"
2. If the symbol should not be spoken at this level and it should be preserved, leave the input alone. For example: ",,,," would produce ",,,,"

[2017-08-14 06:01] josephsl commented on #3531
Hi, still causes a freeze when running from source in Windows 10.

From: James Teh [mailto:notifications@github.com]
Sent: Sunday, August 13, 2017 10:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] The list items in folder view of choose add on package in the add on manager are announced twice. (#3531)

This occurs becau

[2017-08-14 06:06] jcsteh commented on #4353
Ideally, we should report Desktop in all cases here, despite Windows silliness. That said, I also think this is super low priority, especially if fixing it turns out to be tedious.

[2017-08-14 06:08] jcsteh commented on #4344
Closing as duplicate of #4353, since that issue has more detail and the same fix should be applied to cover both cases.

[2017-08-14 06:08] #4344 closed

[2017-08-14 06:14] jcsteh commented on #4279
The level 0 weirdness is covered by #7142. Additional elements list types are covered by #6131. Given that this addresses all outstanding issues here, closing as duplicate.

[2017-08-14 06:14] #4279 closed

[2017-08-14 06:36] feerrenrut commented on #4231
Visually, no items are highlighted when you first open the context menu. I think this might be risky to do, there are some situations where typing will automatically open a context menu EG auto complete. Sometimes focusing an item will trigger an action EG preview the outcome of the autocomplete.

We need to better understand the use case here. Why is it confusing when you don't hear the first ite

[2017-08-14 06:37] jcsteh commented on #3742
Firefox previously didn't support aria-owns fully, which was probably the cause of this. It does now.

@ehollig, did you re-test the test case(s) here? If not, this needs to be re-tested to confirm whether the issue is fixed.

[2017-08-14 06:40] jcsteh commented on #3890
Closing as works for me, as we haven't had any report of this in several years and I can't reproduce it.

[2017-08-14 06:40] #3890 closed

[2017-08-14 06:47] josephsl commented on #4231
Hi, partly because of the fact that certain screen readers do announce the first item of a context menu when it opens. This small thing makes a huge difference in user experience for some. I’m of the opinion that it is better to follow what’s on screen for context menus (as Reef points out). Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Sunday, August 13, 2017 11:37 PM
To: nva

[2017-08-14 06:49] jcsteh commented on #4040
1. When you switch synthesizers, you have to load the new synthesizer. That can be relatively slow and can also fail if there is an error loading the new synthesizer.
2. Because of 1), we would definitely not want to do this every time the user changes the synthesizer in the list. Otherwise, moving up and down through the list would be very slow and could potentially throw up error dialogs. Think

[2017-08-14 06:52] jcsteh commented on #4191
I think this could be covered as part of #4467, either indirectly (because it restarts after a certain amount of time if a freeze is detected) or directly (via a key press which triggers something similar). Note that we don't know how #4467 would be implemented yet, but it has been triaged for investigation.

[2017-08-14 06:52] #4191 closed

[2017-08-14 06:53] jcsteh commented on #4158
No idea. Needs to be tested.

[2017-08-14 07:00] jcsteh commented on #3918
It needs investigation, but it's possibly fixable. See https://github.com/nvaccess/nvda/issues/3918#issuecomment-155317705 regarding using GetThreadLocale.

@nishimotz, is this still something that's relevant for Japanese users?

[2017-08-14 07:02] jcsteh commented on #3911
No idea. However, we haven't had any further reports of this, so closing as works for me. Note that our crash dumps and logs are a lot more useful now, so we should have more luck in tracking this down if it happens again in future.

[2017-08-14 07:02] #3911 closed

[2017-08-14 07:05] jcsteh commented on #2315
Not sure what you mean by "new Baum driver". While there have been significant updates, they've all been incremental updates to the original driver that landed in 2010.

Regardless, this isn't fixed. As I noted in https://github.com/nvaccess/nvda/issues/2315#issuecomment-155297694:

This is more of a core issue than a driver specific issue.

[2017-08-14 07:08] bhavyashah commented on #2872
Could someone please take a look at the logs attached in https://github.com/nvaccess/nvda/issues/2872#issuecomment-155303216 and https://github.com/nvaccess/nvda/issues/2872#issuecomment-155303217 and let us know if it provides any useful information that might help us independently troubleshoot this issue (since the original author of this ticket can no longer be contacted)?

[2017-08-14 08:08] feerrenrut commented on #2677
I think I can reproduce this with IE Version: `11.540.15063.0` and NVDA version `master-14289,6c85ce59` but I'm not 100% sure.
@ehollig could you please elaborate on the steps to reproduce and clarified what the actual vs expected behaviour was for this?

[2017-08-14 08:21] leonardder commented on #4040
[**@jcsteh**](https://github.com/jcsteh) commented on [14 aug. 2017 08:49 CEST](https://github.com/nvaccess/nvda/issues/4040#issuecomment-322112376 "2017-08-14T06:49:13Z - Replied by Github Reply Comments"):

Nope, it doesn't, you will explicitly have to click apply.

It wil indeed show the voices for the old synthesizer, unless you have explicitly clicked apply, what you probably want to do anywa

[2017-08-14 08:23] leonardder commented on #2315
[**@leonardder**](https://github.com/leonardder) commented on [12 aug. 2017 11:32 CEST](https://github.com/nvaccess/nvda/issues/2315#issuecomment-321969054 "2017-08-12T09:32:11Z - Replied by Github Reply Comments"):

[2017-08-14 08:27] leonardder commented on #2315
Woops, sorry for going mad there.

[**@jcsteh**](https://github.com/jcsteh) commented on [14 aug. 2017 09:05 CEST](https://github.com/nvaccess/nvda/issues/2315#issuecomment-322114576 "2017-08-14T07:05:19Z - Replied by Github Reply Comments"):

Is this really so hard? We have gainFocus and leaveFocus event for the secure desktop, so couldn't braille just be de-initialized for gainFocus and initiali

[2017-08-14 08:37] Qchristensen commented on #1873
Just to pick up the keystroke question - I'd never heard of control+shift+page up / page down to move by sentence, and it doesn't work in Word.  Page down moves the caret down by one screen full of information (more or less).  CONTROL+PAGE DOWN at first moves to the start of the next actual page.  Adding SHIFT to navigation commands generally moves the caret and selects the text along the way so t

[2017-08-14 08:42] feerrenrut commented on #3893
Closing as `wontfix`. While its true that in (probably quite a few cases) exposing the class and id attributes may give an indication of the meaning of an element for technical users, it is also likely to be confusing to non-technical users.

[2017-08-14 08:42] #3893 closed

[2017-08-14 09:26] Brian1Gaff commented on #2867
Although I can see I'm on this thread, I don't recall anything about it at
all.
 I only see my name no actual data.
 However I'm unable to get at all my email due to a problem at Virgin this
morning!
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-14 09:31] feerrenrut commented on #7430
@bramd, in short this also effects Firefox. One of the first steps for resolving this issue is to provide a full set of examples to exercise all the known use cases. I have updated the description of this issue with a sample that demonstrates the problem.

[2017-08-14 09:39] feerrenrut commented on #1906
If including this patch allows us to provide better support to users who have to work with Visual studio 2008 then we should. However we should see if there is anyone who will volunteer to test this patch (or a try build of NVDA with this patch included). If there is any significant cost associated with this including this patch (EG developer time to integrate the patch, maintenance difficulty, or

[2017-08-14 09:41] feerrenrut commented on #1943
Given what @michaelDCurran has said, giving this a priority 4. We are happy to accept a PR to address this.

[2017-08-14 09:45] feerrenrut commented on #2867
No, I don't really understand what this is about. It would be fantastic if anyone who did know could update this with the steps to reproduce the problem, as well as the actual and expected output / behaviour from NVDA.

[2017-08-14 10:51] Brian1Gaff commented on #2867
Could position bar just mean where the screen has scrolled to, ie the old
chestnut of the screen scrolling to reflect where say all or couursor down
puts it and then its remembered when you come back again visually?

Since I cannot actually see the screen any more, its immitereal to me but if
sighted help was needed I know this issue can be a problem as I get, I
cannot see where you are reading fr

[2017-08-14 10:59] leonardder commented on #7477
Note that this would be a waste of time if the mile stone for #577 is 2017.3

[2017-08-14 11:07] jcsteh commented on #2867
This issue does not provide sufficient detail  and we don't have any way to contact the reporter. Closing.

[2017-08-14 11:07] #2867 closed

[2017-08-14 11:14] nishimotz commented on #3918
[Project1.zip](https://github.com/nvaccess/nvda/files/1222014/Project1.zip)

Original project1.exe file is attached as the zip file.

Tested with the following setup and confirmed that the issue is not resolved.

* nvda_snapshot_master-14295,890528bd.exe
* Windows 10 Version 1703 64bit Japanese

Original reporter who provided the executable file has migrated to the modern development tools.
Howeve

[2017-08-14 11:20] jcsteh commented on #2315
[**@leonardder**](https://github.com/leonardder) commented on [14 Aug 2017, 18:27 GMT+10](https://github.com/nvaccess/nvda/issues/2315#issuecomment-322129348 "2017-08-14T08:27:55Z - Replied by Github Reply Comments"):

Ah, if only things were as simple as it seems they should be. :) This essentially comes down to timing. What you suggest would work just fine if the secure copy always initialised a

[2017-08-14 11:32] jcsteh commented on #2615
#1354 causes the content of these buttons (including the hidden input field) to be overridden by the label/title. In practical terms, this means this issue is fixed.

[2017-08-14 11:32] #2615 closed

[2017-08-14 11:34] nishimotz commented on #2736
Japanese Braille support of NVDAJP is implemented as follows:
https://github.com/nvdajp/nvdajpmiscdep
The braille.py of NVDAJP bypasses liblouis and synthDrivers.jtalk.translator2 is used instead.
(Our Japanese TTS and Japanese Braille translator use the same morphological analysis system)

We restarted to work with liblouis recently.
So far, our target is limited to reverse translation of Japanes

[2017-08-14 11:37] jcsteh commented on #3314
If some or all of these apps do all indeed use a common toolkit, it's possible a single patch might cover multiple apps. We'd need the window class names for tooltips in all affected apps. Unfortunately, this is pretty difficult to get without watching for show events in an event tracing tool like AccEvent or AccProbe.

[2017-08-14 13:34] leonardder commented on #2315
[**@jcsteh**](https://github.com/jcsteh) commented on [14 aug. 2017 13:20 CEST](https://github.com/nvaccess/nvda/issues/2315#issuecomment-322165249 "2017-08-14T11:20:26Z - Replied by Github Reply Comments"):

Talking about freeing resources and access permissions, have you considered opening the HID file handles with FILE_SHARE_READ and FILE_SHARE_WRITE access parameters? Also, how about default p

[2017-08-14 13:43] leonardder commented on #7311
I've just received a message from someone who confirmed similar output degradation after installing SFB2016 on a Windows 7 X86 system. I've seen similar output degradation issues with SuperNova related to SFB2016 installation.

[2017-08-14 13:53] derekriemer commented on #2850
I think we are ignoring a very significant number of users by ignoring this, and thus should rethink it.

[2017-08-14 14:11] leonardder commented on #2850
I also agree with @JCSTeh and @ehollig on this matter. Note that JAWS in general has a weird way of handling key echo (e.g. it ties command key echo to the speak characters/words options)

[2017-08-14 14:15] ehollig commented on #3742
Tested both attachments and the example provided in the original post with the latest NVDA and Firefox 54 and was able to navigate the tables using the table commands. Closing as worksforme

[2017-08-14 14:15] #3742 closed

[2017-08-14 14:18] derekriemer commented on #2371
This is now fixed anyhow (I use this puppy every day).

[2017-08-14 14:20] derekriemer commented on #7074
this actually is a bigger issue since keys are context specific.

[2017-08-14 14:31] fernando-jose-silva commented on #2575
Using excel 2013 when I press alt + down arrow in a cell the nvda utters list only, when walking with the arrows above or below the list nvda does not read anything.
Nvda masterpiece 14294

[2017-08-14 14:39] fernando-jose-silva commented on #2522
For me I find a place where this would be very interesting.
Using outlook 2016 I get several emails that have a huge amount of empty lines, this I believe due to how the navigation mode of the nvda deals with these emails.
Being able to suppress empty lines in this case would speed up reading these emails much better.
These emails are very common coming from social networks like faceboo ,, linkdyn

[2017-08-14 14:40] derekriemer commented on #4422
No, aria-label with role of math labels something, but identifies the node as math.

[2017-08-14 14:43] ruifontes commented on #2850
Hello!

I totally agree with @derekriemer. We need to rethink this one...
As I said in last comment, please see #6553.

1 - We must solve the problem of Enter and accents, since they are typed
characters;
2 - Most newbies, specially those coming from Jaws, have great complains
about do not hearing command keys, and it is totally improdutive hearing
constantly "right arrow", "left arrow", "up arrow

[2017-08-14 14:45] ehollig commented on #2677
## StR
1. Ensure Automatic focus mode for caret movement is checked in Browse mode settings
2. Open the attachment in IE 11
3. Press down arrow
### Expected Result
NVDA says "buttonBrowse…" in browse mode and the button is clickable
### Actual Result
NVDA says "buttonBrowse…" in focus mode. Item is not clickable.
[test.html.txt](https://github.com/nvaccess/nvda/files/1222549/test.html.txt)

[2017-08-14 14:48] derekriemer commented on #7344
very simple test case of this.
`data:text/html,<p>The dcma</p><p>thinks the internet should b sensored.</p>`
This is caused when a paragraph ends adjacent to another paragraph. Fix: have virtual buffers put either a space or a lf at the end of a paragraph mark.

[2017-08-14 14:49] derekriemer commented on #7344
This can probably be replicated in any browser using a buffer, probably not edge.

[2017-08-14 14:56] aleventhal commented on #7430
Chrome here. We currently have an issue open to address this issue, and can expose things like Firefox does, or however the community agrees we should do it.

One thought was that we continue to expose the click action on the root of a subtree with a click handler, and expose a different action, like "click-descendant" for the subtree descendants.

In any case, we want to fix this on our side as w

[2017-08-14 15:43] ruifontes commented on #2250
In my humble opinion, the problem is only when we navigate withquick keys.

Please, see the examples gave in #7137.

Rui Fontes

-----Mensagem Original-----
De: bhavyashah
Data: 14 de agosto de 2017 05:24
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Option to disable the "out of element" messages
in web pages (#2250)

Several other tickets on the tracker have complained in one w

[2017-08-14 15:52] ruifontes commented on #2250
I don't agree to much with your proposal, since when I am arrowing through
the page, I think is important to know when I walk out of a element like a
list or table.
But if I am navigating with quick keys, I think it is not necessary to tell
the user that he is out of a bunch of elements...

And, if I understood your proposal, the behaviour will be equal for arrowing
and navigating with quick keys.

[2017-08-14 16:06] ruifontes commented on #5488
Hello!

All that features are not better supplied by Virtual Review addon?

You will get a windows with all text, and you can manage and read it as you
want/need...

Best regards,

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 14 de agosto de 2017 03:55
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Extend the "Read active window" command to be
able to spell the informatio

[2017-08-14 16:44] bhavyashah commented on #2522
@feerrenrut I suppose the original reporter was requesting this universally.
@fernando-jose-silva I believe there is some confusion with regards to what this ticket encompasses. NVDA says 'blank' for every blank line it encounters. The request being made here is to suppress the speaking of 'blank' so that NVDA would stay silent when one is arrowing down a chunk of empty lines. On the other hand, w

[2017-08-14 16:55] bhavyashah commented on #3314
CC @k_kolev1985 to keep https://github.com/nvaccess/nvda/issues/3314#issuecomment-322168012 in mind...

[2017-08-14 17:04] ruifontes commented on #3540
Hello!

Yes, can be closed.

Rui Fontes

-----Mensagem Original-----
De: Ethan Holliger
Data: 13 de agosto de 2017 03:41
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Continuous reading not stop when using new
configurations and vocalizer voices (#3540)

CC @ragb, could you respond to @jcsteh in #3540 (comment)?

—
You are receiving this because you are subscribed to this thread.

[2017-08-14 18:56] ehollig commented on #2946
This appears to work correctly for me in Excel 2016. Can someone test using Excel 2010 to see if they get the same results? CC @bhavyashah

[2017-08-14 19:01] fernando-jose-silva commented on #2522
Yes you're correct, do you think it's worth me to request the request I made in another call?

Enviado do meu iPhone

[2017-08-14 19:04] ehollig commented on #3633
The provided example does not work anymore in IE 11. @michaelDCurran, in https://github.com/nvaccess/nvda/issues/3633#issuecomment-155312175 it sounded as if you knew what the problem was and was going to address it. Is this still the case or something that still needs to be fixed?

[2017-08-14 19:08] ehollig commented on #3660
This does not happen for me using the latest NVDA and IE 11 on Wikipedia. Closing

[2017-08-14 19:08] #3660 closed

[2017-08-14 19:40] ehollig commented on #5707
Duplicate of #4689

[2017-08-14 19:40] #5707 closed

[2017-08-14 20:00] ehollig commented on #2161
Closing, as we are unable to contact the original poster for additional information.

[2017-08-14 20:00] #2161 closed

[2017-08-14 20:08] ehollig commented on #3540
Closing as requested in https://github.com/nvaccess/nvda/issues/3540#issuecomment-322248209

[2017-08-14 20:08] #3540 closed

[2017-08-14 21:58] ehollig commented on #2941
Closing, as the original poster did not mention which version of Outlook was being used, which version of NVDA, and the original poster is no longer easily reachable.

[2017-08-14 21:58] #2941 closed

[2017-08-14 22:47] ehollig commented on #2954
I am not able to replicate using Excel 2016 and Braille Viewer. If someone is using a Braille display and can replicate this, we can reopen this issue. Closing

[2017-08-14 22:47] #2954 closed

[2017-08-14 22:57] jcsteh commented on #7475
Closing as a duplicate of #7473, since i believe it to be the same underlying issue.

[2017-08-14 23:12] jcsteh commented on #4422
[**@derekriemer**](https://github.com/derekriemer) commented on [15 Aug 2017, 00:40 GMT+10](https://github.com/nvaccess/nvda/issues/4422#issuecomment-322208635 "2017-08-14T14:40:15Z - Replied by Github Reply Comments"):

It would also override the real math content within. See the example provided in the [issue description](https://github.com/nvaccess/nvda/issues/4422#issue-116044308). The label i

[2017-08-14 23:12] #4422 closed

[2017-08-14 23:20] PratikP1 commented on #7475
@jcsteh You are correct. I can confirm with the try build from #7473<https://github.com/nvaccess/nvda/issues/7473> that this issue is resolved as well. Thank you.

[2017-08-14 23:21] michaelDCurran commented on #3633
Closing as worksforme as bookshare.org no longer has the strange heading and this was the only case reported.

[2017-08-14 23:21] #3633 closed

[2017-08-14 23:26] jcsteh commented on #7311
Can affected users please try these instructions I originally outlined in https://github.com/nvaccess/nvda/issues/2807#issuecomment-320149243:

[2017-08-14 23:27] ehollig commented on #3778
Closing as we are not able to contact the original poster, and they did not answer @Brian1Gaff's questions in https://github.com/nvaccess/nvda/issues/3778#issuecomment-155315775
I do not believe the log provides anything useful, but the log does appear to have a lot of errors. CC @jcsteh

[2017-08-14 23:27] #3778 closed

[2017-08-14 23:27] jcsteh commented on #2315
I think having them open with shared access is risky. Writes from multiple
clients might get interspersed, which could cause all sorts of pain.

[2017-08-14 23:54] ehollig commented on #4627
Closing because of https://github.com/nvaccess/nvda/issues/4627#issuecomment-155330143. If this is referring to Libre Office, this is a very broad issue and would need additional information on specific cases.