[2017-06-27 18:29] dkager commented on #505
Then again, German is the only table I've seen *without* capitals.

[2017-06-27 19:08] leonardder commented on #7327
Oops, i'm sorry, blame me. I should have tested this with add-ons disabled. Turned out that console timer was the culprit here. Closing

cc @DerekRiemer

[2017-06-27 19:08] #7327 closed

[2017-06-27 22:12] derekriemer commented on #7327
That would be a bug in terminalChange

On Tue, Jun 27, 2017 at 9:55 AM, Leonard de Ruijter <
notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Ski

[2017-06-27 22:13] derekriemer commented on #7327
I'll try to fix this soon, haven't even had time yet for other things I've
been asked to do. Hopefully in the next week. If you send in a PR I'll
accept it too.

On Tue, Jun 27, 2017 at 4:12 PM, Derek Scott Riemer <
Derek.Riemer@colorado.edu> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergradu

[2017-06-28 01:08] josephsl opened #7330 "Search fields: announce suggestion count"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

Hi,

Building on #6241: in som

[2017-06-28 02:24] jcsteh commented on #7330
While this is certainly possible, we should consider use cases and possible disadvantages. Why is this information actually useful before the user has chosen to interact with suggestions? One of the advantages of using a sound to indicate suggestions appearing is that it is less distracting and doesn't take the user's attention, while still indicating the fact for those who want to know. It also i

[2017-06-28 02:27] josephsl commented on #7330
Hi, one possible use case is when searching for content on Windows Store where the user may not know how many search results are available. Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Tuesday, June 27, 2017 7:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Search field

[2017-06-28 02:34] jcsteh commented on #7330
They would get that as soon as they hit down arrow, though. Even if this use case were super important, that suggests we should drop the audio indicator and just report the suggestion count. Having both is surely redundant. Personally, I'd opt for not having the count.

@MichaelDCurran, @QChristensen, thoughts?

[2017-06-28 02:36] jcsteh commented on #7328
@MichaelDCurran, any particular reason we use the localized property here? I'd argue it makes sense to be consistent with the landmark names used in other browsers (as specified in our aria module).

[2017-06-28 02:55] michaelDCurran commented on #7328
landMarkType only has a hand full of constants. I guess we should at least support the constants it does have. but from memory some pretty important ones are missing currently. If role is exposed via ariaProperties then we could also just use that.

[2017-06-28 03:01] derekriemer commented on #7328
But "main" isn't a role, or is it?

On Tue, Jun 27, 2017 at 8:55 PM, Michael Curran <notifications@github.com>
wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Per

[2017-06-28 03:11] derekriemer commented on #7144
When I press d enough times I see
[code]

[2017-06-28 03:13] derekriemer commented on #7143
Any chance this will be looked into soon? I want to change wordpress themes, should I yank this code into a separate page?

[2017-06-28 03:13] derekriemer commented on #7141
should I label this browse mode?

[2017-06-28 03:15] derekriemer commented on #7130
[**@jcsteh**](https://github.com/jcsteh) commented on [May 2, 2017, 7:21 PM MDT](https://github.com/nvaccess/nvda/issues/7130#issuecomment-298803674 "2017-05-03T01:21:40Z - Replied by Github Reply Comments"):

So, can we disable it for the walker code?

[2017-06-28 03:16] derekriemer commented on #7125
@jcsteh What if we put this in raising "notImplementedError" and did the optimization we do for globalPlugins with chooseNVDAObjectOverlayClasses?

[2017-06-28 03:22] derekriemer commented on #6991
p4?

[2017-06-28 03:23] derekriemer commented on #6964
This isn't bugging me anymore. Not sure even if it's still present.

[2017-06-28 03:23] #6964 closed

[2017-06-28 03:29] derekriemer commented on #6692
needs triage

[2017-06-28 03:30] derekriemer commented on #6683
should this be part of project webfix?

[2017-06-28 03:31] derekriemer commented on #6652
should this be part of 2017webfix?

[2017-06-28 03:31] derekriemer commented on #6542
seems to be much much better now.

[2017-06-28 03:31] #6542 closed

[2017-06-28 03:37] #5887 closed

[2017-06-28 03:38] derekriemer commented on #5859
wait, why's this blocked???

[2017-06-28 03:44] Qchristensen commented on #7330
I agree with Jamie that reading the number of results while typing is distracting, and the information is readily available by down arrowing.  I started wondering if we could play say a high pitched tone when suggestions first appear and get lower as they narrow down.  The problem with that idea is that unlike say progress bars, which have defined start and end points, who is to say how many searc

[2017-06-28 03:47] derekriemer commented on #7330
We could do like indentone does, stop the sound at say 3 octaves above max,
where one note is one suggestion item, but I don't really know this seems
distracting.

On Tue, Jun 27, 2017 at 9:44 PM, Quentin Christensen <
notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergra

[2017-06-28 04:13] PratikP1 commented on #6827
I'm seeing a similar issue with Outlook and tables. Essentially, NVDA throws error sound when an email with tables is read with Read all command. Here is a log snippet that I've isolated. I'm also attaching a full log for reference.
NVDA version next-14139,11020922
Windows version 10 1703 build 16226

[NVDA Outlook tables.txt](https://github.com/nvaccess/nvda/files/1107543/NVDA.Outlook.tables.txt)

[2017-06-28 04:16] PratikP1 commented on #6827
Apologies. For some reason, Github didn't want to take my file attachment for the full log.
[NVDA Outlook tables.txt](https://github.com/nvaccess/nvda/files/1107547/NVDA.Outlook.tables.txt)

[2017-06-28 05:53] feerrenrut commented on #7009
Fixed with commit 1c068b7

[2017-06-28 05:53] #7009 closed

[2017-06-28 06:51] feerrenrut commented on #6991
I don't seem to be able to reproduce this issue in `next-14139,11020922` and Windows build `1703`.

I did the following:
1. Created two virtual desktops with an explorer window in each.
2. Made sure that the focus was on "Quick Access"
3. Used `ctrl+win+right` and `ctrl+win+left` to move between the virtual desktops.

I repeatedly (in both directions, left/right) get:
[code]
What versions do you h

[2017-06-28 06:52] egli commented on #505
I think our resident braille expert created the tables w/o caps letters because we produce most braille without.
But what's the problem with just adding another table? In what way will it "_blow up the braille tables list_"?

[2017-06-28 07:17] leonardder commented on #7320
I agree. Note that aria-invalid also supports the spelling and grammar values. So I assume an author writing
[code]
is perfectly valid here. We don't report the invalid state for text nodes in browse mode though, so that might be confusing somehow. We should at least report spelling errors in text that are marked as such, but that is for a separate issue.

[2017-06-28 07:27] leonardder commented on #7325
@feerrenrutcommented: I just updated the description

[2017-06-28 07:42] leonardder commented on #7328
Banner, complementary and contentinfo are missing.

[2017-06-28 07:47] leonardder commented on #7328
It is. So we can just go the role way using aria properties, or use the excisting landmark constants and fallback to role for the landmarks which don't have a constant. Personally, I prefer the first approach.

[2017-06-28 07:53] leonardder commented on #505
Even if most braille is produced without capital signs, if a braille spec contains them, they should be included in the braille table by default. Probably better to discuss this in liblouis/liblouis#363.

[2017-06-28 08:15] jcsteh commented on #7328
So does LocalizedLandmark still work for the missing landmarks? And if so,
what does (non-localized) Landmark return in that case?

Note that we should still probably use LocalizedLandmark for quick nav,
since there can be multiple ARIA roles and I don't think there's a way to
do a token match with UIA conditions.

[2017-06-28 08:35] jcsteh commented on #6683
[**@derekriemer**](https://github.com/derekriemer) commented on [28 Jun 2017, 13:30 GMT+10](https://github.com/nvaccess/nvda/issues/6683#issuecomment-311547016 "2017-06-28T03:30:33Z - Replied by Github Reply Comments"):

I don't think so. Webfix is more about problems that cause major problems or annoyance for quite a lot of users when using the web, particularly issues that keep getting reported

[2017-06-28 08:37] jcsteh commented on #6956
Fixed in 1d6035bd; merged to next in 9b0534f.

[2017-06-28 08:37] #6956 closed

[2017-06-28 08:45] jcsteh commented on #5859
Because we can't reproduce it, but we're concerned the crash was never "fixed" as such. However, it's been long enough now that if you're happy these crashes are gone, please go ahead and close this.

[2017-06-28 08:49] jcsteh commented on #7143
CC @MichaelDCurran. Would you be able to take a quick look at this some time soon before the test case disappears?

[2017-06-28 08:51] jcsteh commented on #7144
Is this relevant in multiple browsers or only Edge? Your report didn't specify.

[2017-06-28 09:19] leonardder commented on #7328
Yes

The number 80000, UIA_CustomLandmarkTypeId

Sounds like we are on one line here.

[2017-06-28 10:00] michaelDCurran commented on #7143
I promise to take a look at this tomorrow morning (my time). And  leading on from investigating this, I will change the number-specific heading quicknav code to search by attribute value of specific heading type, rather than the generalized paragraph search for all headings, as this will be faster in the specific number case.

[2017-06-28 10:31] leonardder commented on #7328
Coming back to this, it turns out that we can use the unlocalized Landmark property without problems, since it is not 0 for landmarks.

[2017-06-28 11:08] afercia commented on #5247
One possible workaround, until this gets hopefully fixed by Mozilla, is wrapping the CSS generated icon, or any other "visual decoration" that gets updated and triggers the accessible regeneration, within a span element with `aria-hidden="true"`.
For what is worth, this workaround is actually used by WordPress in a few places, and it works. However, there are situations where we can't really use a

[2017-06-28 12:49] leonardder commented on #6587
Turns out that I never came back to the report on how other screen readers do this.

As for Dolphin, things are still majorly broken, so there's nothing interesting we can learn from them.

JAWS has the possibility to print rows and columns on a braille display. That is, you can change braille view between single cell, current row and current column. They print around 10 cells on every cursor move

[2017-06-28 13:44] dkager commented on #5885
Has been reported and is awaiting moderation.

[2017-06-28 14:08] camlorn commented on #6991
You have to be running something that monkeypatches `role` to be `_role`.

This issue is about [unspoken](https://github.com/camlorn/unspoken) which tries to do this because it needs to block speaking of role announcements, but wants to keep everything else as-is.

[2017-06-28 14:32] tlvenkat457 opened #7334 "Event is not generated in DOM once the dropdown is open and first element is highlighted"
Configuration: Windows10, Firefox

Actual issue is the first item in dropdown is not auto focused on clicking space or return keys. After debugging, I found that keydown event is not generated instead seeing a click event, so my keydown event handler is not being invoked. I have added the code snippet in https://pastebin.com/ZKt231Xp
The above work around fixed the issue of highlighting the first

[2017-06-28 15:33] leonardder opened #7335 "Allow different object names for speech and braille"
In the current situation, objects have only one name property which is used for both speech and braille. I see several use cases for a separate object property (e.g. nameBrl) to allow overriding the object name.

1. Excel selection objects: For these objects, the name looks like "A1  through D1". It would be much shorter if we had something like a1/d1. Same applies to merged cells
2. For sysListVi

[2017-06-28 15:48] ruifontes commented on #7335
By the way, I don't know if it is related...
The information in a message list of Unread, Attachment, High Priority, also
should be make shorter in Braille...

Rui Fontes

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 28 de junho de 2017 16:33
Para: nvaccess/nvda
Cc: Subscribed
Assunto: [nvaccess/nvda] Allow different object names for speech and braille
(#7335)

In the current situation

[2017-06-28 17:14] leonardder commented on #7335
Hmm, this is somehow related, but probably quite difficult to do, as the information to shorten is language specific. In Thunderbird, for english, "Has Attachment" is printed, whereas in Dutch, we have "Heeft bijlage".

[2017-06-28 18:32] jrnepic opened #7336 "Incompatibility with user32 library functions"
### Steps to reproduce:
1. Open a Windows desktop program that uses these user32.dll APIs to create a pop-up menu: CreatePopupMenu, InsertMenuItem, and TrackPopupMenu.

### Expected behavior:
The pop-up menu should open without crashing the program.

### Actual behavior:
The program crashes and NVDA seems to restart itself. If I try debugging, I see an error message: "Unhandled exception at 0x2E15

[2017-06-28 22:18] jcsteh commented on #7336
This is definitely not related to these User32 functions, as a huge number of applications use these functions and NVDA works as expected with them. What made you suspect these functions?

You noted "the program crashes". I assume you meant the application you were using? If NVDA restarts, it sounds like NVDA is crashing as well.

This is going to be very tricky to investigate given that we cannot

[2017-06-28 22:23] jcsteh commented on #6991
[**@derekriemer**](https://github.com/derekriemer) commented on [28 Mar 2017, 23:21 GMT+10](https://github.com/nvaccess/nvda/issues/6991#issuecomment-289767238 "2017-03-28T13:21:00Z - Replied by Github Reply Comments"):

This seems to be somewhat different to your original report in https://github.com/nvaccess/nvda/issues/6991#issue-215296102, which related to Unspoken and the use of the "role" at

[2017-06-28 23:05] jcsteh commented on #852
Qt 5 has been out for some time now and it includes major accessibility improvements, including access to editable text fields via IAccessible2 and significant bug fixes. Also, NVDA now treats borders as layout. There are certainly still problems with Qt accessibility, but these should be filed as separate issues (and ideally against Qt itself).

[2017-06-28 23:05] #852 closed

[2017-06-28 23:32] dan1982code opened #7337 "NVDA Losing Linebreaks in PDF Files"
Open a PDF file with Acrobat Reader, such as the one attached here. Whether in "infer reading order from document" or "left-to-right" reading mode, NVDA squishes lines together that should be on separate lines. Saving the PDF file as text demonstrates that the linebreaks are preserved in the text stream. Other screen-readers do honour the linebreaks, which makes PDF files quite a bit easier to rea

[2017-06-28 23:35] dan1982code opened #7338 "ctrl+NVDA+f1 Speech Order"
Hitting ctrl+NVDA+f1, we get something like
Currently running application is firefox.exe and currently loaded module is firefox

Could we instead consider:
firefox.exe is currently running. firefox module is loaded.

This gets us the information that we want right away. I have no UI training/expertise but it seems to make sense that the part of a message that varies should be spoken first. e.g. wh

[2017-06-28 23:40] dan1982code commented on #7275
I have a simple example attached here. It would be great if this could be fixed.
[test.pdf](https://github.com/nvaccess/nvda/files/1110530/test.pdf)

[2017-06-28 23:40] #7337 closed

[2017-06-28 23:41] dan1982code commented on #7337
Sorry, duplicate.

[2017-06-29 00:05] michaelDCurran commented on #7143
Some further notes:
When moving down the page from the top, either with arrow keys or review cursor, after the "NVDA development" line in the "Other" submenu on the navbar, you then jump straight to the blank line above "Powered by Wordpress" at the bottom of the page. However, when moving back up, you go through all the main content. Also, if you move by character or word off the end of the "NVDA

[2017-06-29 00:21] jcsteh commented on #2915
@derekriemer, can you still reproduce this? Do you still even have access to this computer?

[2017-06-29 00:24] jcsteh commented on #5554
@Brian1Gaff, can you reproduce this on a system running a later version of Windows? While we're not explicitly dropping support for Windows XP, it's not feasible for us to fix issues related only to XP.

[2017-06-29 00:27] jcsteh commented on #4296
@Brian1Gaff, @MichelSuch, can you still reproduce this on non-XP systems?

[2017-06-29 00:29] jcsteh commented on #5470
I haven't seen this in a long time and the subsequent issue #5901 concerning a later build of Windows was reported as fixed. Closing.

[2017-06-29 00:29] #5470 closed

[2017-06-29 00:32] jcsteh commented on #5850
@nimerjaber, are you still able to reproduce this? I'm now using Chrome Canary on a daily basis and have not seen this.

[2017-06-29 00:46] jcsteh commented on #7334
When in browse mode, enter and space click the element under the cursor, rather than sending a key press. This is because we need to be able to click non-focusable elements and, even for focusable elements, we can't be certain they support key presses. This is not the case in focus mode.

When in focus mode, pressing escape returns to browse mode. However, it really shouldn't do this for ARIA menu

[2017-06-29 00:47] jcsteh commented on #7334
Closing as a duplicate of #3215, but please do answer my question here regarding the role of your dropdown items. Thanks.

[2017-06-29 00:47] #7334 closed

[2017-06-29 01:51] jcsteh commented on #3215
This is quite annoying when working with ARIA menus, autocompletes, etc.

[Test case (rename to .html)](https://github.com/nvaccess/nvda/files/1110668/fakeAutocomplete.html.txt)

STR:

1. Open the test case.
2. In browse mode, move the cursor to the edit field and press enter. Observe that NVDA switches to focus mode.
3. Press down arrow. Observe that NVDA reports "Some item".
4. Press escape.

[2017-06-29 01:55] jcsteh commented on #7338
What you suggest makes sense. However, this command isn't documented anywhere and is more intended for developers, since the user visible name of the application (what any other user would see) is available with NVDA+t. Therefore, assigning priority of p4.

[2017-06-29 02:07] jcsteh commented on #7330
1. In Chrome/Firefox, you can press escape to dismiss the autocomplete, at
which point what you originally typed will be restored.
2. This suggestions code actually doesn't apply in Firefox/Chrome anyway,
only in Windows autocomplete controls (like the Start Menu, Settings
Search, etc.). However, that's not necessarily going to be the case
forever, even though it's the state of things now.
3. I ki

[2017-06-29 02:13] jcsteh commented on #7130
[**@derekriemer**](https://github.com/derekriemer) commented on [28 Jun 2017, 13:15 GMT+10]

The issue isn't the walker code. The issue here is that any app module that tries to import "time" and doesn't disable implicit relative imports will fail. We could go through and patch all of our app modules, but it would still break app modules in add-ons.

[2017-06-29 02:16] jcsteh commented on #7125
I think that'd probably be premature optimisation; we could always do that if we found it to be a notable performance problem. Really, it's just a matter of adding it and documenting it.

[2017-06-29 02:24] jcsteh commented on #6652
@derekriemer, how often do you see this in the wild?

The whole idea of hidden columns seems kinda broken to me. The space is still present; it still looks like a column visually. You can argue that the space is purely for layout, but this argument is flawed because it still affects the semantics. In this example, the column after the hidden column gets reported as column 4, not column 3. That's g

[2017-06-29 02:28] jcsteh commented on #7141
These table navigation commands are actually from the RowWithFakeNavigation behaviour. They're intended to be used with XUL stuff like Thunderbird, not with HTML. We probably either shouldn't allow table navigation here at all or we should fall back to browse mode table navigation somehow. In the short-term, I'm leaning towards the former.

[2017-06-29 05:07] jcsteh opened #7339 "Regression of braille roleText introduced by c8a7c00a"
In the process of resolving merge conflicts when merging master into next, I noticed that c8a7c00a (aria-placeholder #7055) appears to have inadvertently removed `roleText` support for braille:

roleText was added in 0101cc40 (#7111). I don't have exact steps to test this, but I imagine you'd do this by tabbing to a particular shape (e.g. a circle) in PowerPoint and looking at the braille output.

[2017-06-29 06:01] leonardder commented on #588
To clarify, there is work in progress for this in #6131, and we discussed implementation and changes there. However, due to the proposed changes in the pr, I'd like #7328 to be fixed first before I start working on this again.

[2017-06-29 06:12] jcsteh commented on #7076
[**@leonardder**](https://github.com/leonardder) commented on [24 Jun 2017, 03:15 GMT+10](https://github.com/nvaccess/nvda/issues/7076#issuecomment-310723217 "2017-06-23T17:15:51Z - Replied by Github Reply Comments"):

The more unit tests, the better, but for this PR, I'm happy for you to just do unit tests for states. At a minimum, you want to verify that you're achieving what you set out to achi

[2017-06-29 07:34] kvn-dh-zeus commented on #5741
If we focus a div which is not sibling of currently focused div & it is grandchild of sibling of currently focused div, then NVDA is reading "section" for twice for 2 parent div present. So how can I fix this issue. This time I'm not focusing over each divs coming in the way in quick succession. If this is due to browser's default behavior, please provide a solution for that.

[2017-06-29 07:37] Brian1Gaff commented on #5554
Hi in the more recent snap this seems to have gone away.
 It seemed to be more to do with single processor machines of an older
vintage than XP though. On the support for xp front, obviously it is getting
old now but I feel if this had been a problem at boot up or update, it might
have been worth fixing it, as mostly the rest is still running well.
 I'll keep an eye out though, if you get my drift

[2017-06-29 07:42] Brian1Gaff commented on #4296
Yes intermittently I can. With auto  say all on, quite often the screen will
not read on its own. One has to open a menu item then close it again and
then do a say all. Even cursoring seems to be as if the page is empty.
 Windows 7 and a four core Intel and 8 gig of memory.
 It is more common on a first open of the browser and there is some core
frozen in stack in the  log but whether this is a re

[2017-06-29 08:18] Brian1Gaff commented on #2915
I did not see the original but.

DEBUG - core.main (08:58:31.923):
entering wx application main loop
DEBUG - external:globalPlugins.focusHighlight.startThread (08:58:31.923):
focusHighlight started
IO - speech.speak (08:58:31.944):
Speaking [LangChangeCommand ('en_GB'), u'Start  button  Ctrl+Esc']
IO - speech.speak (08:58:34.375):
Speaking [LangChangeCommand ('en_GB'), u'unknown']
IO - speech.spea

[2017-06-29 08:47] Brian1Gaff commented on #4296
Not on xp demo.

I launched Firefox via the File Hippo  update checker applet. This displayed
the page but the page was incomplete, ie the files needing to be updated
were not displayed. I did an f5 to refresh the page. This happened.

IO - inputCore.InputManager.executeGesture (09:19:44.298):
Input: kb(desktop):f5
DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IA2Attributes
(09:19:45.154

[2017-06-29 12:53] leonardder commented on #7076
Thanks @JCSTeh: tests are in https://github.com/nvaccess/nvda/commit/b869827

[2017-06-29 14:57] jrnepic commented on #7336
I suspect these functions because I observed that the crash occurs at TrackPopupMenu. Breakpoints before that function call are always hit. Breakpoints after that call are not hit if there is a crash. Note that this crash doesn't happen every time, so there must also be other contributing factors. I tried testing with an empty menu and noticed that the issue goes away. Adding anything to the menu

[2017-06-29 17:41] leonardder commented on #7188
I'm leaning towards making the unicode shapes untraslatable. @JCSTeh: What do you think about this? Unicode shapes in a po file might confuse people a lot.

[2017-06-29 20:17] fernando-jose-silva opened #7340 "Can not find the search field on a webpage"
When visiting the page:
Https://blogs.windows.com/windowsexperience/

There is an edit field on the page, but when you press the letter e to go to the search field, nvda informs you that there are no editing fields on the page.
When navigating with the arrows you can not find the field either.
I'm using windows 7 64bit and chrome 59 64bit.
I could not reproduce the problem on this same machine wit

[2017-06-29 21:06] jcsteh commented on #7188
Agreed. Unicode shapes should not be translatable.

[2017-06-30 00:03] jcsteh commented on #7340
I can't reproduce this, either with Chrome 59 or Chrome Canary. Can you
please try with all Chrome extensions and NVDA add-ons disabled?

[2017-06-30 00:37] #5554 closed

[2017-06-30 00:38] jcsteh commented on #5741
Please provide a minimal test case. We cannot provide any further information without one. Thanks.

[2017-06-30 00:57] michaelDCurran commented on #7143
PR #7341 fixes an NVDA bug which addresses the issues here. However, there does still seem to be a bug in Edge that was partly to blame for the issue. Specifically:
When moving by line down the page, after getting to the "NVDA development" link, moving by line lands you on some kind of blank link. At least, NVDA announces it as a link. Yet, checking the navigator object after that (i.e. caling UIA

[2017-06-30 03:49] Qchristensen opened #7342 "In Word, cannot press shift+a to move to the previous tracked change annotation in browse mode"
In Word (version 2007 and version 2016 at least), with NVDA in browse mode, pressing "a" moves to the next annotation, and pressing "shift+a" moves to the previous annotation.

Moving to the next annotation works as expected (moving to the next, comment, tracked change, etc).

Moving to the previous annotation only moves to previous comments.  Tracked changes are ignored.

To reproduce:
1. Open a

[2017-06-30 04:06] leonardder commented on #7342
Confirmed. This is likely to be a bug in browseMode.mergeQuickNavItemIterators. When I changed the code for annotations to only return the revisions iterator, all worked as expected.

[2017-06-30 05:54] Qchristensen commented on #480
I just had a look at this with Word 2016.

Using NVDA 2017.2, nothing is announced when I open the dialog; the focus is in the address edit.  When I tab around, I can read the rest of the dialog.  Entering text in the address field, I don't get any information other than typing echo.  If I navigate around text in the edit there is no feedback.

Using NVDA Next snapshot 14146,35ffacb3, I can intera

[2017-06-30 13:41] dan1982code opened #7344 "Linebreaking using BrowseMode Find"
Search (ctrl+NVDA+F) for the word math in this page in Firefox:
https://emu-docs.org/Super%20NES/General/snesdoc.html

It will be strangely found, but it's finding it across a linebreak with MA on one line and Th on the next.

[2017-06-30 17:57] PratikP1 commented on #480
As I suspected, now that #7254 is incubating, most of the problems with the envelope maker are gone. I can confirm @qchristensen's findings. Other than "edit" not being announced, this edit field also does not announce characters being deleted with back space. Outlook's signature editor calls this kind of field "edit document." In all other respects, fields in Word's envelope maker work now.

[2017-06-30 19:57] fernando-jose-silva commented on #7340
Many thanks for the feedback.
I ran the tests with the chrome and nvda add-ins uninstalled and the result was the same.
Just reinforcing this occurs in a machine with windows 7 64 bits and chrome 64bits.
I uninstalled the chrome and reinstalled, erasing the google folders, and in the case of nvda I ran a blank copy with no settings.
Another mystery of computer science.

[2017-07-01 05:00] stickbear2015 opened #7345 "UIA seems to stall under certain conditions."
### Steps to reproduce:
1. start a process like a batch processing job in total recorder or goldwave.
2. open any listview, explorer, etc.
### Expected behavior:
the listview should read

### Actual behavior:
the listview doesn't read.> Tell us what happens instead.

### System configuration:
NVDA version: 2017.2

NVDA Installed or portable: installed.
Other information:

Windows version: windows

[2017-07-01 05:23] josephsl commented on #7345
Hi, you say you can reproduce this from 2016 onward? What about versions such as 2015.2 or 2015.3? Thanks. CC @MichaelDCurran

From: stickbear2015 [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 10:00 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] UIA seems to stall under certain conditions. (#7345)

Steps to rep

[2017-07-01 05:28] stickbear2015 commented on #7345
if it's supported under windows 10, it's been tested thoroughly with the
same results.
It made no sense to list the 2015 versions when to be honest who's
really using them now.
But yes, they've been tested.
I'm not getting enough log output to be useful, except
WARNING - stdout (23:27:57):
1.0

[2017-07-01 05:30] josephsl commented on #7345
Hi, can you reproduce this problem while using Narrator and/or other screen readers? If this happens on other screen readers, chances are that another call to Redmond is in order. Thanks for checking into this.

From: stickbear2015 [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 10:28 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <

[2017-07-01 05:39] stickbear2015 commented on #7345
Hello,

after testing with JAWS 16, last build available that started to support
windows 10, 17, latest build, and  18, latest build, as well as
narrator, this issue seems to be specific to NVDA.
JAWS and Narrator read listviews like a champ even while running batch
processing, saving, etc.

[2017-07-01 05:42] josephsl commented on #7345
Hi, can you run NVDA with all add-ons disabled and see if that makes a difference? Thanks.

From: stickbear2015 [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 10:40 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA seems to stall under certain conditions. (#7345)

Hello,

a

[2017-07-01 05:46] stickbear2015 commented on #7345
just restarted NVDA with all addons disabled, with same results.

[2017-07-01 05:50] josephsl commented on #7345
Hi, Thanks for all this. At this point, I think it might be best to see what @MichaelDCurran asks us to do. Thanks.

From: stickbear2015 [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 10:46 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA seems to stall under certain condi

[2017-07-01 05:54] leonardder commented on #7188
One thing I'm not sure about until I do a commit for this.

Unicode is now defined as follows:
[code]

it could also be done like

[code]

What is preferred here? Personally, I prefer the first approach, as you can either instantly see the pattern on screen or on a braille display. With the second approach, you probably want to have the braille pattern in the comment anyway.

[2017-07-01 06:29] jcsteh commented on #7345
Your steps to repro mention using any list view. Let's clarify what you mean by "list view" here. We actually don't use UIA for controls Windows calls ListView; e.g. the list on the Desktop. In contrast, Explorer lists these days actually aren't ListView controls. They're a custom list control specific to Explorer and we do use UIA for those. So, have you tested this with any lists other than Expl

[2017-07-01 06:30] jcsteh commented on #7188
I think using the actual Unicode characters is best here. Note that you'll need to add an encoding comment at the top of the file and ensure it's saved as UTF-8 with no BOM.

[2017-07-01 06:40] stickbear2015 commented on #7345
@jcsteh
I didn't actually know that, and I'm sorry I wasn't completely clear, I
thought I mentioned the specific list views. I was doing that thing
where I was thinking faster than I was typing, and I thought I'd been clear.
To be clear, yes, explorer listviews, or list views in open dialogs,
save as dialogs, etc.
The desktop is not effected
how can I best get the necessary log output for you? I k

[2017-07-01 06:49] jcsteh commented on #7345
Ah, so NVDA doesn't actually freeze; non-UIA stuff works fine. In that case, a log probably won't show much; this suggests UIA core just isn't firing events. I've definitely also seen this with Narrator. I wonder why you aren't seeing it with Narrator in this instance.

With Narrator, can you try starting the slow background task and then holding down alt and repeatedly pressing tab? Does it event

[2017-07-01 07:01] stickbear2015 commented on #7345
I wouldn't consider it a slow app, just an app that has stolen enough
control away or causing something in the background to be a problem with
UIA under certain conditions.
The machine still chugs along and I can do other tasks except read
explorer listviews.
It's not one specific app, it's when apps, (mostly audio production
apps, or apps that perform a lot), do their thing things start not
behav

[2017-07-01 07:10] jcsteh commented on #7345
Just to be sure we're super clear here, you are saying you can now repro this with Narrator as well? If so, while not ideal, one plus is that I've seen this as well and think I might have a test case here we can send to Microsoft.

[2017-07-01 07:23] stickbear2015 commented on #7345
James,

on further checking, what happened last time when I initially tested it
with narrator when josiph asked me to was the task itself completed and
I didn't realize it and simply considered it unreproduceable with
narrator and logged it as such.

During this round of testing, I specifically started a situation that
causes the issue in question with narrator running and performed my
initial ste

[2017-07-01 08:12] jcsteh commented on #7345
Unless you're able to check whether this happens on an earlier version of Windows, no, I think we've got all we can get for now. Thanks.

[2017-07-01 08:55] #5859 closed

[2017-07-01 08:56] derekriemer commented on #7144
Only edge

On Wed, Jun 28, 2017 at 2:51 AM, James Teh <notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Personal website <http://derekrie

[2017-07-01 09:01] derekriemer commented on #6991
Did you expand one to a different level than the other?

On Wed, Jun 28, 2017 at 12:51 AM, Reef Turner <notifications@github.com>
wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusias

[2017-07-01 09:16] derekriemer commented on #6991
[**@jcsteh**](https://github.com/jcsteh) commented on [Jun 28, 2017, 4:23 PM MDT](https://github.com/nvaccess/nvda/issues/6991#issuecomment-311809232 "2017-06-28T22:23:52Z - Replied by Github Reply Comments"):

Right. I was completely misleading here and merged this issue into something else I discovered while working on this.

[2017-07-01 09:18] derekriemer commented on #6991
I'll open a new issue with the level announcement bug I discovered

[2017-07-01 09:23] derekriemer commented on #7330
[**@jcsteh**](https://github.com/jcsteh) commented on [Jun 28, 2017, 8:07 PM MDT](https://github.com/nvaccess/nvda/issues/7330#issuecomment-311842091 "2017-06-29T02:07:50Z - Replied by Github Reply Comments"):

Isn't that what overriding reportFocus does?

[2017-07-01 09:24] derekriemer commented on #7130
Gotcha. Yuck

On Wed, Jun 28, 2017 at 8:13 PM, James Teh <notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Personal website <http://derek

[2017-07-01 09:31] derekriemer commented on #7125
[**@jcsteh**](https://github.com/jcsteh) commented on [Jun 28, 2017, 8:16 PM MDT](https://github.com/nvaccess/nvda/issues/7125#issuecomment-311843221 "2017-06-29T02:16:00Z - Replied by Github Reply Comments"):

It's not optimization, it's a matter of the code calling it catching an attribute error and if it exists, simply not continuing through the function anymore. (I think)? Is this not intended

[2017-07-01 09:40] derekriemer commented on #6652
@jcsteh I've seen this a few times in the wild, but usually it's things like We have an icon in this column that is useless to you and we'd like to hide the column from you, how can we do this. Most times, we put alt text on the icon, but sometimes, its just a useless pretty decoration, or even an real blank column for (Purely visual spacing), but hidden in table nav (And bureaucracy problems prev

[2017-07-01 09:44] derekriemer commented on #2915
nope

[2017-07-01 09:44] #2915 closed

[2017-07-01 10:14] derekriemer commented on #5741
I see this on twitter, but have no clue why. I just Hear "section " over
and over basically.

On Thu, Jun 29, 2017 at 6:38 PM, James Teh <notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen

[2017-07-01 10:17] derekriemer commented on #7143
Sweet! Thanks for taking a look.

On Thu, Jun 29, 2017 at 6:57 PM, Michael Curran <notifications@github.com>
wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Perso

[2017-07-01 11:22] jcsteh commented on #7125
[**@derekriemer**](https://github.com/derekriemer) commented on [1 Jul 2017, 19:31 GMT+10](https://github.com/nvaccess/nvda/issues/7125#issuecomment-312421717 "2017-07-01T09:31:50Z - Replied by Github Reply Comments"):

Checking whether it's in the dict would be an optimisation (probably a premature one). Once this is added to the base NVDAObject, the AttributeError catch should be removed.

Not s

[2017-07-01 11:24] jcsteh commented on #7330
Nope. reportFocus is used by focus events, not by NVDA+tab.

[2017-07-02 01:29] dan1982code opened #7346 "Line Feeds in Firefox Browse Mode"
Open the attached in Firefox and read by word (ctrl+right/ctrl+left). NVDA announces "line feed" as a word at the end of each line. This is caused in the first case by a space at the end of line 1. Two line feeds are announced in a row after line 2 because of the trailing space on line 2 and the blank line.

I would expect these line feeds not to read when moving by word.
[vm.txt](https://github.c

[2017-07-02 04:15] jooyoungseo opened #7347 "Speech Viewer does not work when Nuance Vocalizer express synthesizer is used"
I am using the latest NVDA in conjunction with Vocalizer express Samantha engine.

If you try to open Speech Viewer, while vocalizer is loaded, you won't hear anything as it crashes.

However, this does not happen when eSpeak is used.

Hope this could be tackled.

[2017-07-02 04:16] josephsl commented on #7347
Hello, can you provide us with the sauce (log file) please that shows what’s going on? Thanks.

From: sjystu [mailto:notifications@github.com]
Sent: Saturday, July 1, 2017 9:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Speech Viewer does not work when Nuance Vocalizer express synthesizer is used (#7347)

I am using the la

[2017-07-02 04:29] sjystu commented on #7347
Sure, the following includes my log:

INFO - __main__ (00:22:07):

Starting NVDA

INFO - core.main (00:22:07):

Config dir: C:\Users\Jooyoung Seo\AppData\Roaming\nvda

INFO - config.ConfigManager._loadConfig (00:22:07):

Loading config: C:\Users\Jooyoung Seo\AppData\Roaming\nvda\nvda.ini

INFO - core.main (00:22:07):

NVDA version 2017.2

INFO - core.main (00:22:07):

Using Windows version 6.3.960

[2017-07-02 11:25] dkager commented on #957
@feerrenrut could you update the issue title to be more specific?
I think we agreed on:
- Commands to navigate to the first/last column/row.
- Unbound commands to go to the start/end of a table. This basically combines going to the first/last row *and* column.

#### Technical

For first/last row/column in browse mode I suggest extending _getNearestTableCell to also accept "first" and "last" as mov

[2017-07-02 11:28] dkager commented on #2336
We picked this up in #957, so let's discuss there.

[2017-07-02 11:36] dkager commented on #4337
According to the Mozilla bug Marco referenced this was fixed in FF 33.

[2017-07-02 11:47] dkager commented on #1227
Those external updates to the drivers should have happened by now. :)

[2017-07-02 12:02] dkager commented on #1229
Does this depend on/benefit from speech refactor?

[2017-07-02 12:09] dkager commented on #1259
Can still reproduce. Short and clear STR:

1. Open Notepad
2. Type `ok`
3. Press ctrl+shift+leftArrow
4. Type `ok` again
5. Press space

Expected: you hear "ok".
Actual: you hear "k".

[2017-07-02 12:19] dkager commented on #1283
Sounds like a good one for the 2017 browse mode improvement project whose name I conveniently forgot.

[2017-07-02 12:27] dkager commented on #1301
Probably OK to close this one because the software involved has changed quite a bit since thereport and no new mention was made of it since 2011.

[2017-07-02 12:32] dkager commented on #1318
Maybe worth re-testing, unless Gecko experts can confirm that this is fixed in later versions than FF 3.

[2017-07-02 12:35] bhavyashah commented on #1283
Project Webfix, perhaps?

On 7/2/17, Davy Kager <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.com/BhavyaShah125
Mobile Number: +91 7506221750

[2017-07-02 12:39] dkager commented on #1283
@bhavyashah Yes.

[2017-07-02 13:03] dkager commented on #1371
Assuming this issue is about Messenger, not Mail: Windows Live Messenger has been [discontinued](https://en.wikipedia.org/wiki/Windows_Live_Messenger#Discontinuation).

[2017-07-02 13:43] dkager commented on #1506
Since users can't directly influence app modules except through their containing plug-ins I would also say the command can be removed. If it is to be kept it could be documented in the "Extra Tools" chapter.

Technical oddnes: for some reason NVDA+ctrl+f1 isn't properly registered on my PC. NVDA only registers NVDA+ctrl. Doing the same with other F-keys gives the expected result, as does pressing

[2017-07-02 13:48] dkager commented on #1547
Looks like this issue was abandoned.

[2017-07-02 13:59] dkager commented on #1585
I can think of a few causes:
- Unlikely, but maybe faulty hardware.
- A problem with the B80 firmware. This seems very plausible. :)
- A problem in the driver. I don't have the B80, but with the BI 40 I don't have this issue. It also seems strange that only D3 is affected.
- The problem where panning past the visible text on the screen doesnt work. This was fixed for Scintilla, see #5678. However,

[2017-07-02 14:03] dkager commented on #1635
Another issue that looks abandoned.

[2017-07-02 14:07] dkager commented on #1638
How does this related to #7004?

[2017-07-02 14:13] dkager commented on #1702
You can read row-by-row with ctrl+alt+rightArrow. Then when you reach the last cell of the row, hit downArrow to jump to the first column of the next row and repeat.

[2017-07-02 14:19] dkager commented on #1732
It's now included. On this GitHub page with Firefox 54:

[code]

[2017-07-02 14:23] dkager commented on #1748
Good to close? Looks vague and possibly app-specific. We're already discussing this in other issues.

CC @leonardder

[2017-07-02 14:37] josephsl commented on #7347
Hi, the info log will not tell us what’s up. Can you try running NVDA with debug logging enabled (restart with that option from exit dialog). Run speech viewer and send the log please? Thanks.

From: sjystu [mailto:notifications@github.com]
Sent: Saturday, July 1, 2017 9:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.co

[2017-07-02 20:02] Ednunp opened #7348 "Extremely slow navigating between cells in MS Excel 2016 when a cell contains a comment or dropdown"
when using MS office 2016 as a direct enterprise install, or MS office 365, I notice a real slow down when using ms excel and using the arrow keys to navigate between cells. Sometimes it can take up to 2 seconds to move between cells. I have seen this issue on many different types of coputer. I have attached an excell file which you can see the problem in. with office 2010, this does not appear to

[2017-07-02 20:07] Ednunp opened #7349 "what is a reliable way to use the search dialogue control shift f in MS Outlook 2016?"
In outlook 2010, it is possible to perform the following action:
Hit control shift f
Enter search peramiters, for example subject line, email recieved from etc. hit search.
Switch to screen review, and scroll down until you come across the list of emails found by the search peramiter.
Use left click to focus on the list and read them.

In outlook 2016, this does not work. screen review does not fi

[2017-07-02 21:54] sjystu commented on #7347
Alright,

  Here it goes bellow:

INFO - __main__ (17:38:03):

Starting NVDA

INFO - core.main (17:38:04):

Config dir: C:\Users\Jooyoung Seo\AppData\Roaming\nvda

INFO - config.ConfigManager._loadConfig (17:38:04):

Loading config: C:\Users\Jooyoung Seo\AppData\Roaming\nvda\nvda.ini

INFO - config.ConfigManager._loadConfig (17:38:04):

Config loaded (after upgrade, and in the state it will be use

[2017-07-02 21:57] jcsteh commented on #1748
This issue seems to be about the caret not following braille in certain apps even when braille is tethered to focus. It's somewhat vague and is very old, so at the very least, the situation has probably changed. Therefore, I'm closing this. Please file issues for specific apps if this is still an issue.

[2017-07-02 21:57] #1748 closed

[2017-07-02 21:58] #1732 closed

[2017-07-02 22:01] jcsteh commented on #1702
#1911 discusses commands to read entire rows and columns.

[2017-07-02 22:01] #1702 closed

[2017-07-02 22:47] jcsteh commented on #1638
After #7004, NVDA now supports HTML placeholder and aria-placeholder in Chrome. In Firefox, aria-placeholder is supported, but not HTML placeholder. The latter requires https://bugzilla.mozilla.org/show_bug.cgi?id=1303429.

Closing as duplicate.

[2017-07-02 22:47] #1638 closed

[2017-07-02 22:48] jcsteh commented on #1635
No further info from reporter, so closing.

[2017-07-02 22:48] #1635 closed

[2017-07-02 22:54] jcsteh commented on #1585
I think we have to use screen scraping (display model) to access EdSharp. We don't support scrolling past what's visible on the screen there. Closing as duplicate of #659.

[2017-07-02 22:54] #1585 closed

[2017-07-02 22:55] #1547 closed

[2017-07-02 22:57] #1371 closed

[2017-07-02 23:08] jcsteh commented on #1283
I don't think this is a candidate for webfix:

1. For any browser other than IE, this is determined by the browser, not by NVDA. So, the fixes need to be made in the browsers.
2. IE specific fixes are low priority for us than other browsers.
3. Having both aria-labelledby and aria-label seems pretty obscure and unlikely, even in the wild. Webfix is really about issues that hurt quite a number of u

[2017-07-02 23:09] jcsteh commented on #1318
As far as I know, this bug still exists.

[2017-07-03 02:34] #1301 closed

[2017-07-03 02:36] jcsteh commented on #1229
Yes, as per [my comment above](https://github.com/nvaccess/nvda/issues/1229#issuecomment-228227784). :)

[2017-07-03 02:38] jcsteh commented on #1227
They did.

[2017-07-03 02:38] #1227 closed

[2017-07-03 02:39] #4337 closed

[2017-07-03 02:40] jcsteh commented on #2336
Closing as duplicate of #957.

[2017-07-03 02:40] #2336 closed

[2017-07-03 04:17] dan1982code opened #7350 "Mapping Braille Gestures"
Hi all,

The HIMS Braille Sense/Braille EDGE/Smart Beetle Series driver maps tons of braille gestures to useful keyboard commands, like page up, page down, ctrl+page up, ctrl+page down, etc. So it seems that braille displays can map such gestures. However, I cannot see how to do this with my Brailliant BI display. Is it possible?

This is a feature request, but also a request for whether there is

[2017-07-03 04:39] jcsteh commented on #5959
Closing in favour of #6060, which was filed later but is somewhat more general and a bit clearer.

[2017-07-03 04:39] #5959 closed

[2017-07-03 04:43] jcsteh commented on #6060
I'm bothered by having a special button to add emulated keys which is always present. It just doesn't really "fit" and is only relevant to one category. I suggested in https://github.com/nvaccess/nvda/issues/5959#issuecomment-224762276 that we could abuse the Add button to do this only while focused in the emulated keys category. From a technical standpoint, this seems a bit strange, but I think i

[2017-07-03 04:47] jcsteh commented on #7350
This is a duplicate of #6060.

While having a UI for this would be ideal, you can achieve this at present by manually editing gestures.ini. gestures.ini can be found in the NVDA user configuration directory, which will be `%appdata%\nvda` for an installed copy. If it doesn't exist, create it. The file might look something like this:

The identifier after the equals sign can be obtained by doing th

[2017-07-03 04:47] #7350 closed

[2017-07-03 05:52] michaelDCurran commented on #7345
Filed as MS Bug 12608330: Narrator becomes unresponsive in all apps when a single app is continually slow to respond

[2017-07-03 06:08] stickbear2015 commented on #7345
Can we get a link to track this bug, as i authored this bug here, I'd
like to track it to resolution from the microsoft end.

[2017-07-03 06:11] jcsteh commented on #7345
I'm afraid not. Microsoft don't provide public access to this bug tracker.

[2017-07-03 06:13] dkager commented on #1229
Not sure how I missed that comment...

Side note for when this gets fixed: as the comment in ToolTip.event_show says, an implementation with ui.message would be cleaner than directly calling braille helper functions. You could generalize and add a `queue` parameter to ui.message.

[2017-07-03 06:32] leonardder commented on #6060
I agree there, provided that the emulated system keyboard keys is always
present in the input gestures tree.

[2017-07-03 06:58] leonardder commented on #2385
After looking at the code as well as some discussion with @JCSTeh and @DKager, here are some rough implementation ideas:

1. Ad a new boolean option to the config spec, autoTether
2. Replace the getter and setter for braille.BrailleHandler.tether with getTether and setTether methods. This is because setTether needs an additional keyword argument to determine whether it was an automatic or manual t

[2017-07-03 09:58] ruifontes commented on #7350
Hi!

James wrote:
While having a UI for this would be ideal, you can achieve this at present
by manually editing gestures.ini.

Yes, but most users don't know how to do it and are afraid of do such thing!
With a UI it will be very easier!

Rui

[2017-07-03 11:30] jcsteh commented on #7350
I'm aware of that, which is why I said having a UI would be ideal. The reporter asked whether there is currently a workaround, so I provided the information as requested.

[2017-07-03 12:20] ehollig commented on #5550
I am not able to replicate this. NVDA does say unknown when Firefox is launched, but does not say unknown when Firefox is in focus.

[2017-07-03 18:25] Brian1Gaff commented on #5550
Several things here. it can say unknown on very slow pages or on very slow
machines occasionally, but its better it does this than sits there saying
nothing at all.
 Often as has been observed, Firefox can fail to get a page and goes into a
kind of sulk, but bringing up a menu, cancelling it and doing a page refresh
can sort it. Since this seems to be firefoxs fault not nvda, then unknown is
proba

[2017-07-03 18:42] leonardder commented on #692
Blocknote.net doesn't seem to have been updated in years. Furthermore, the website is talking about a new release being in development, not sure how old that text is though. I suggest a won't fix.

[2017-07-03 18:45] leonardder commented on #695
Five years after the last post in this issue, I think it is time for a won't fix anyway. Although IE6 might still be required for some users to use some time, it is very unlikely that this will ever be considered worthwhile to fix.

[2017-07-03 18:47] leonardder commented on #696
This is probably not a bug in NVDA. Furthermore, the last reply dates from seven years ago. Won't fix?

[2017-07-03 18:48] leonardder commented on #699
I suggest closing this in favour of #4904

[2017-07-03 18:53] leonardder commented on #707
I suggest closing this, similar to https://github.com/nvaccess/nvda/issues/508#issuecomment-306947785

[2017-07-03 18:55] leonardder commented on #708
It seems this is still a relevant ticket, might be good to set a priority for this.

[2017-07-03 19:00] leonardder commented on #713
It has been 7 years ago valuable information has been provided in this ticket. I can't reproduce this myself and we haven't gotten any other reports about this, it seems. I'd suggest a close as works for me.

[2017-07-03 19:01] leonardder commented on #715
Given @JosephSL wasn't able to reproduce this and Vista is discontinued, I suggest closing this as a works for me.

[2017-07-03 19:02] leonardder commented on #718
I think this can be treated as similar windows live issues (i.e. won't fix).

[2017-07-03 19:07] leonardder commented on #733
I'm afraid this issue doesn't provide enough information. For example, it is likely that cd burning needs a significant amount of system resources, which causes the sluggishness of NVDA. May be the particular system would even have been sluggish without NVDA running.

[2017-07-03 19:11] leonardder commented on #743
@elliott94: Do you still consider this issue to be valid?

[2017-07-03 19:12] leonardder commented on #765
This is unlikely to get fixed in the future, if it hasn't been already.

CC @brian1gaff

[2017-07-03 19:13] leonardder commented on #769
@brian1gaff: Could you provide a status update for this issue?

[2017-07-03 19:15] leonardder commented on #773
I'm not sure whether I can still reproduce this. Many things have been changed since this was reported 7 years ago.

[2017-07-03 19:16] leonardder commented on #777
@brian1gaff: Could you provide a status update for this issue?

[2017-07-03 19:17] leonardder commented on #779
It is not clear to me how to reproduce this particular issue, but I recall reading about it in another ticket.

[2017-07-03 19:19] leonardder commented on #791
@elliott94: Could you provide a status update for this issue?

[2017-07-03 19:55] derekriemer commented on #773
Closing as worksfome, because it seems that this is fixed after all these years. Please reopen if it isn't so.

[2017-07-03 19:55] #773 closed

[2017-07-03 19:58] derekriemer commented on #765
Closing as won't fix, because it's a microsoft bug, and in deprecated software, and hasn't been looked at in years. Reopen if NV Access wants to P4 it.

[2017-07-03 19:58] #765 closed

[2017-07-03 20:02] derekriemer commented on #718
Closing as wontfix

[2017-07-03 20:02] #718 closed

[2017-07-03 20:04] derekriemer commented on #715
I've used this feature on vista before on my Grandma's computer. Worksfome

[2017-07-03 20:04] #715 closed

[2017-07-03 20:06] derekriemer commented on #713
the original user never responded to @jcsteh question, the log is no longer available, and if this were serious, others would have reported. Closing as for being aged.

[2017-07-03 20:06] #713 closed

[2017-07-03 20:06] derekriemer commented on #713
@jcsteh @michaelDCurran how about an antique label? Would you guys have an issue with creating one?

[2017-07-03 20:11] derekriemer commented on #708
#7026 is a start for this. @jcsteh used to have an NVDA test harnice for doing integration and usability tests, what is the status on this?

[2017-07-03 20:12] derekriemer commented on #707
closing as wontfix

[2017-07-03 20:12] #707 closed

[2017-07-03 20:18] #696 closed

[2017-07-03 20:19] derekriemer commented on #695
or a p4, I doubt it would get a PR though

[2017-07-03 21:30] derekriemer commented on #7348
@MichaelDCurran

On Sun, Jul 2, 2017 at 2:02 PM, Ednunp <notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Personal website <http://derekr

[2017-07-03 23:34] #695 closed

[2017-07-03 23:43] jcsteh commented on #708
I did start on this, but the approach needs some refining. It watches log messages to gather output, but that means you have to get exact log strings to put in your tests, which is cumbersome. Processing log output is also ugly and error prone. Instead, once we get some sort of signalling/hooking framework (which will be done as a prerequisite of speech refactor), we can properly watch for output

[2017-07-03 23:45] jcsteh commented on #713
I don't think we need such a label; it doesn't really serve any purpose, as it's not something we need to search for or gather stats about. Labelling as worksforme.

[2017-07-04 00:05] jcsteh commented on #733
Closing as invalid, as we don't have sufficient information and a lot has changed in the last 7 years.

[2017-07-04 00:05] #733 closed

[2017-07-04 00:06] #699 closed

[2017-07-04 00:07] #692 closed

[2017-07-04 03:39] #7243 closed

[2017-07-04 03:44] #7289 closed

[2017-07-04 03:51] #7281 closed

[2017-07-04 04:15] #7339 closed

[2017-07-04 07:09] k-kolev1985 commented on #743
@leonardder, yes, the issue is still valid, even with the latest version of uTorrent. And it probably still can't be fixed, unfortunately. I doubt that the uTorrent team has done something to improve that.
@jcsteh, please do not use pixel color if possible, because that might not work for color themes in Windows different from the one used while creating the workaround on your machine.

[2017-07-04 07:28] kvn-dh-zeus commented on #5741
[nvda section.txt](https://github.com/nvaccess/nvda/files/1121228/nvda.section.txt)

@jcsteh
Try attached html in **firefox** with nvda. Issue it not present for role application, it is replicated for aria-hidden="true".
While **aria-hidden="true"** is given to any div, (inside that div) nvda reads **"section"** for each div coming their way while focusing some element.
How can we fix this issue

[2017-07-04 11:56] sidnc86 commented on #4953
What if we need to access shapes embedded in a sheet having macros assigned to them? Are those available from NVDA? I don't see them appearing in form field list. Nor can I browse to those using browse mode and pressing "f".

[2017-07-04 12:01] ruifontes commented on #779
Hello!

Do the following:
1 - Open a Word document;
2 - Type:
This is a test to text delection on Word
3 - Select the words:
to text delection
4 - Press delete to delete the text selected;
5 - Expected NVDA announcement:
o; selection deleted.
o is the letter to the right of cursor
6 - NVDA announces only:
o

Regards,

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 3 de julho de 2017

[2017-07-04 12:07] ruifontes commented on #779
More or less on same topic...

Steps to reproduce:
1 - If on my example, after deleting the text:
to text delection
2 - Press Ctrl+Z to Undo;
3 - Expected NVDA announcement:
"to text delection" selected.
4 - NVDA does not announce anything!

Rui Fontes

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 3 de julho de 2017 20:17
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda]

[2017-07-04 12:17] Neurrone commented on #7324
Anyone could take a look? Seems like a candidate for the webfix initiative.

[2017-07-04 15:03] ehollig commented on #5613
Confirmed using NVDA master-14147,13fe2449 and Word 2016

[2017-07-04 15:11] stephenbe opened #7355 "Javascript arrow keypress are ignored with NVDA"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version: 2017.2

NVDA Installed or portable:
Installed

Windows version:

Name and version of other software in use when reproducing the issue:

[2017-07-04 15:39] stephenbe opened #7356 "Inline buttons are read all at once while navigating with arrows"
### Steps to reproduce:

### Expected behavior:

Just like tab, you should be able to navigate each on individually.

### Actual behavior:
Each button is announced all at once and you cannot navigate on a specific button

### System configuration:
NVDA version: 2017.2
NVDA Installed or portable:

Windows version:

[2017-07-04 22:53] jcsteh commented on #7356
This is expected behaviour. If you want inline elements to appear on their own line, disable screen layout as documented in the User Guide. Note that you can navigate to subsequent elements on the line by moving by word, using quick navigation, etc.

[2017-07-04 22:53] #7356 closed

[2017-07-04 22:55] jcsteh commented on #7355
When in browse mode, this is expected behaviour; NVDA overrides the cursor keys to allow the user to navigate the document in a familiar way. Switching to focus mode passes keys to the application. Please see the User Guide for information about browse mode.

[2017-07-04 22:55] #7355 closed

[2017-07-05 00:53] jcsteh commented on #5741
Thanks for the test case. I can indeed reproduce the issue with that. Note, however, that focusing content inside an aria-hidden tree is an authoring error. The spec actually says that aria-hidden trees should not be exposed to accessibility at all, so assistive technology users possibly won't be able to interact with your focusable element at all. In Firefox, users can interact with focusable ari

[2017-07-05 00:56] jcsteh commented on #5741
[**@derekriemer**](https://github.com/derekriemer) commented on [1 Jul 2017, 20:14 GMT+10](https://github.com/nvaccess/nvda/issues/5741#issuecomment-312423602 "2017-07-01T10:14:35Z - Replied by Github Reply Comments"):

Looks like Twitter briefly focuses an aria-hidden element when expanding a tweet. It shouldn't do this, but ideally, we'd ignore it.

We'll deal with the weird NVDA bug that causes

[2017-07-05 07:36] feerrenrut commented on #5613
Thanks for checking this @ehollig. To clarify the expected behaviour, when pressing `ctrl+down arrow` in the last cell: nothing should be reported.

[2017-07-05 09:26] feerrenrut commented on #7324
I can reproduce this with in `Version: next-14139,11020922` with  Chrome `Version 59.0.3071.115 (Official Build) (64-bit)`
The example as a data URI:
[code]

And an example of the output:
[code]
And by checking the radio button another way:
[code]
@jcsteh What do you think about this issue?

[2017-07-05 12:03] dkager commented on #1508
In Dropbox 29.4.20 the tab controls are operable, but NVDA doesn't follow the focus when it moves onto the tabs bar.

[2017-07-05 12:22] dkager commented on #7348
I'm seeing roughly a 1-second lag.
Also interesting is https://github.com/nvaccess/nvda/issues/5750#issuecomment-293169775

[2017-07-05 12:27] dkager commented on #1792
Hasn't had any discussion since 2011 and doesn't have consistent STR (as the original poster pointed out).

[2017-07-05 12:31] dkager commented on #1793
While this sounds familiar I can't seem to reproduce on Windows 10. According to https://github.com/nvaccess/nvda/issues/1793#issuecomment-155293065 there is no log info for this either.

[2017-07-05 12:35] dkager commented on #1802
Didn't have this problem when installing VMware Player 12.1.0 last year on Windows 10.

[2017-07-05 12:43] dkager commented on #7263
Is this specific to the synthesizer in use? For me eSpeak doesn't read it differently if I copy and paste to Notepad.

[2017-07-05 12:48] dkager commented on #1814
@Brian1Gaff Is this still happening?

Sounds a bit like a missing/broken COM interface, e.g. if NVDA would start before something else that properly registers that interface.

[2017-07-05 12:50] dkager commented on #1829
I imagine this would have had more attention if it was still a consistent issue.

[2017-07-05 12:58] dkager commented on #1832
I think this can be closed:

1. The scope is too broad, spanning the entire STEM field and many different technologies.
2. There is no mention of solutions to the stated problems.

For reference, MathML is now supported. See #4673.

[2017-07-05 13:05] dkager commented on #1847
Anyone with Outlook 2010 who can confirm? Can't reproduce in Outlook 2013 or 2016 with NVDA 2015.1 or later.

[2017-07-05 13:07] dkager commented on #1279
Yes, in Windows 10 it is part of the visual appearance of the Wi-Fi icon in the taskbar.
So for Windows 10 there is some motivation to add a hotkey.

[2017-07-05 13:09] Ednunp commented on #7348
I am noticing something here.

When I maximise the window, this is when excel goes incredibly slow and
I am seeing a 3 or 4 second lag. If I restore the window, the lag
decreases. However, I need the windddow maximised. If it is not
maximised, when I press f2, to edit a cell, i just hear the word "payne"
and i'm not able to use the cursor to read what's in the cell." any
thoughts?

Thanks.

On 05/

[2017-07-05 13:10] dkager commented on #1878
As a minimum the issue title should be chopped down a bit. :)

[2017-07-05 13:15] dkager commented on #1884
We are doing this in #7236 as a fix for #217. Instead of completely hiding the ancestry there will be an option to scroll it out of the way by default.

[2017-07-05 13:22] dkager commented on #1910
Reasons to close:

- Doesn't always happen (as noted by the poster).
- This website definitely has changed since 2011.

[2017-07-05 13:29] dkager commented on #1911
#6587 requests this feature specifically for braille.

CC @leonardder

[2017-07-05 13:32] dkager commented on #1930
Can open this link without problems on the current version of apple.com with Firefox 54.0.1.

[2017-07-05 13:41] Andrewtop opened #7358 "[NVDA + browser] nvda reads Link which is inside an alert multiple times."
### Steps to reproduce:

1. Open FF or Chrome https://codepen.io/anon/pen/LLrXKL
2. Click "show error" button
3. Listen to the alert.

### Expected behavior:
Reads link in alert once

### Actual behavior:
Reads link in alert twice and in the end of alert reads the Link one more time

### System configuration:
NVDA version:
2017.2

Windows version:

[2017-07-05 14:15] leonardder commented on #1910
Also note that the layout of this web app differs between browsers

[2017-07-05 14:23] leonardder commented on #1802
Installed VMware player 12.5 yesterday and didn't have problems either.

[2017-07-05 14:45] dkager commented on #2004
Looks abandoned.

[2017-07-05 14:47] dkager commented on #2022
Having used IE in Windows 7 and 10 for a few months last year I can't say I recognize the symptoms.

[2017-07-05 14:51] dkager commented on #2041
This is likely a special case of #1911.

[2017-07-05 15:01] dkager commented on #2044
I would say this needs to be addressed in liblouis. Switching braille tables isn't a good idea because it assumes that people learn to read a language's native braille code. I don't think this is true for most people. For example, I don't read UEB but definitely want to read English texts. Even if you want to read a language's alphanumeric characters in the native braille code, such as the ä and ö

[2017-07-05 15:06] dkager commented on #2092
This looks quite vague...

[2017-07-05 15:10] dkager commented on #3167
Yes, duplicate of #2124.

[2017-07-05 15:10] dkager commented on #2124
I think this is a legitimate feature.

CC @leonardder

[2017-07-05 15:18] dkager commented on #2144
Duplicate of #1793, but with log info this time.

[2017-07-05 15:22] dkager commented on #2149
Hard to say what's going on, but could be another case of the problem described in #6177.

[2017-07-05 15:27] dkager commented on #2186
"The Google Talk app for Windows was shut down on February 23, 2015." - [source](https://support.google.com/talk/?hl=en)

[2017-07-05 15:30] dkager commented on #2198
Looks abandoned.
Note that even a user account with limited privileges should be able to read the log file, regardless of whether the user or the Administrator owns it.

[2017-07-05 17:08] robertspangler opened #7359 "Crash when saving document in Adobe Acrobat Pro 15.0"
I was attempting to split up a PDF file, which was a textbook, into separate, PDF chapters.  I would use the bookmarks list, press the applications key on each bookmark then press export to new document.  This would create the chapter in a separate file.  The NVDA crash occurs when I go to save the file.  It's been a few weeks, but I believe this crash occurred every other save attempt.
### Actual

[2017-07-05 17:39] leonardder commented on #1785
Seems to be a useful feature and quite easy to implement, but low on priority.

[2017-07-05 17:41] leonardder commented on #1803
@elliott94: It seems your file is gone.

Is this issue still present?

[2017-07-05 17:43] leonardder commented on #1813
Touch support has been implemented in 2012, but does this also mean that this issue can be closed?

[2017-07-05 17:44] leonardder commented on #1578
This issue seems abandoned and outdated, as seamonkey has received several updates since 2011

[2017-07-05 17:46] leonardder commented on #1582
@DerekRiemer: As you use GMail daily, would you like to treat this ticket?

[2017-07-05 17:48] leonardder commented on #1645
We are now at SoundForge 11, so it is very unlikely that this will be fixed specifically for 10. I suggest closing this, a new issue can be raised if this is still valid for SoundForge 11.

[2017-07-05 17:51] leonardder commented on #3644
I think the dialog is clear as it is. As soon as you focus the dialog, the currently active profile is shown. Showing the profile in the title bar sounds a bit too far-fetched to me, but this might be only my opinion.

[2017-07-05 17:52] leonardder commented on #3650
I'm not sure whether I've seen this, but at least I haven't considered that major to file an issue for it, and I'm using Thunderbird on a daily basis.

[2017-07-05 17:52] josephsl commented on #1813
Hi,
@MichaelDCurran, any thoughts?

[2017-07-05 18:17] leonardder commented on #2085
Everyone using IE8 should update to something newer if possible. For XP users there's no alternative to staying on IE8, but given the age of this ticket and the specific cases with an acceptable workaround, I suggest a close.

[2017-07-05 18:30] andrii-morozov opened #7360 "aria-label is ignored unless all the child content is hidden."
### Steps to reproduce:
[Example](https://codepen.io/anon/pen/vZroMb)
Focus the first div. Notice that aria-label is ignored only button content is read.
****

### Expected behavior:
I would expect the same behavior as for JAWS and Narrator. The aria-label is read in the first case.

### Actual behavior:
Aria-label is ignored.

### System configuration:
Windows 10. Firefox 54.0 (32-bit). NVDA 2017

[2017-07-05 18:52] leonardder commented on #2118
Confirmed. However, This is likely to require updates to the virtual buffer system, which is probably not going to happen.

[2017-07-05 18:56] leonardder commented on #2125
On #6769, @FeerRenrut posted some relevant tickets for this:

[2017-07-05 18:57] leonardder commented on #2133
We aren't using Trac any more, so this can be closed.

[2017-07-05 18:58] leonardder commented on #2134
cc @dkager

[2017-07-05 18:58] leonardder commented on #3772
I think this relies on #4877

[2017-07-05 18:59] dkager commented on #2134
Haha, I saw that one today but didn't investigate.

[2017-07-05 19:12] leonardder commented on #3207
I think we can safely treat this as a duplicate of #1956, with the note that for #1956, we should take speech into account. See also #7232

[2017-07-05 19:14] leonardder commented on #3226
Not sure about this one. Windows 8 is not exactly abandoned yet, but people have the possibility to update to Windows 10 and effort is being put into the Windows 10 mail app.

[2017-07-05 19:19] leonardder commented on #3228
I can't reproduce in Word 2016. With coordinates enabled, NVDA either reports the row or column number. With coordinates disabled, NVDA reports blank, at least for table nav.

[2017-07-05 19:21] leonardder commented on #2944
There is a Teamviewer add-on. I'm using TeamViewer 10 quite a lot, and you are able to access these features using object nav. TeamViewer is now at version 12, thus it is very unlikely that a fix will be provided for version 8. I suggest a close, and if still relevant, a new issue can be opened for the most recent version.

[2017-07-05 19:23] leonardder commented on #2801
Most of this seems already been covered. Having settings for work sheets stored on disk is not an appealing idea to me.

[2017-07-05 19:24] leonardder commented on #1657
@JCSTeh: Is this still valid?

[2017-07-05 21:13] fernando-jose-silva commented on #7263
The problem here is that in Portuguese it would be correct for the number below to be read as
R$ 2.357,72
real 2 mil 357 vírgula (comma) 72.

What happens is that the number is read as

r$ 2 ponto (.) 357 vírgula (comma) 72

This by pasting into the notepad and using the espeak

[2017-07-05 22:53] jcsteh commented on #1884
Closing as duplicate.

[2017-07-05 22:53] #1884 closed

[2017-07-05 23:07] derekriemer commented on #3376
closing as worksfome

[2017-07-05 23:07] #3376 closed

[2017-07-05 23:15] derekriemer commented on #3305
closing as invalid as webvisum is dead and this is a paid feature (Most likely).

[2017-07-05 23:15] #3305 closed

[2017-07-05 23:21] jcsteh commented on #1657
No, because it's XP specific and we're not fixing XP specific issues.

[2017-07-05 23:21] #1657 closed

[2017-07-05 23:22] #3261 closed

[2017-07-05 23:23] jcsteh commented on #2801
Yes, row/column header reading has been implemented for some time. Closing.

[2017-07-05 23:23] #2801 closed

[2017-07-05 23:23] derekriemer commented on #3259
@jcsteh Is this still the case (I think no).

[2017-07-05 23:23] #3259 closed

[2017-07-05 23:25] #2944 closed

[2017-07-05 23:26] derekriemer commented on #2935
closing because this clearly is fixed.

[2017-07-05 23:26] #2935 closed

[2017-07-05 23:27] #3228 closed

[2017-07-05 23:29] derekriemer commented on #2591
2017 web fix?

[2017-07-05 23:32] derekriemer commented on #2587
added blocked.

[2017-07-05 23:34] derekriemer commented on #2404
Um, wow, I don't know what I was meaning to say with this ticket, closing as I'm stupid.

[2017-07-05 23:34] #2404 closed

[2017-07-05 23:35] derekriemer commented on #2404
I think this is an issue with scope"col" and not setting the rowspan.

[2017-07-05 23:36] derekriemer commented on #2338
the confusing thing here might be "link linked"

[2017-07-05 23:36] jcsteh commented on #3207
This is a duplicate of #1772. Arguably, #1956 is a duplicate of #1772 as well (except #1772 only specifically mentions speech).

[2017-07-05 23:36] #3207 closed

[2017-07-05 23:42] jcsteh commented on #2591
It's a common request, so I'll include it in webfix for now, but I think it's lower priority than other webfix issues, not least because there is some controversy surrounding it.

[2017-07-05 23:48] jcsteh commented on #3602
@MichaelDCurran, is this fixed? Looks like it is except for protected view, but I'm not sure we can do anything about that?

[2017-07-05 23:53] derekriemer commented on #2587
oops, removing blocked and closing as fixed.

[2017-07-05 23:53] #2587 closed

[2017-07-05 23:55] jcsteh commented on #2134
The NVDA+f1 dev info for such a control might be enlightening.

[2017-07-05 23:59] jcsteh commented on #3772
When I filed this, I wasn't imagining this would actually check whether speech was still speaking, just that it would show an indicator whenever speech was cancelled. So, even if speech had finished and you pressed a key, you would see the indicator. That is still partially useful when looking in realtime because you could see that an alert interrupted speaking of other content, for example. Howev

[2017-07-06 00:00] derekriemer commented on #7233
The notepad++ addon for NVDA might help. https://github.com/derekriemer/nvda-notepadPlusPlus

[2017-07-06 00:00] derekriemer commented on #7233
I'm not sure what you are trying to ask here.

[2017-07-06 00:02] #2133 closed

[2017-07-06 00:22] dingpengyu commented on #7233
NVDA is not the normal choice to read aloud notepad + + code automatically fill up.

[2017-07-06 00:30] jcsteh commented on #7360
It's true that the spec doesn't say aria-label can be ignored. However, it also only talks about labels. It does not talk about what should be reported as content. Content and labels are not the same. By way of example, if we treated the div in your example the same way we do links, we would override the button altogether, since we override the content with the label in the case of buttons, links,

[2017-07-06 00:34] #2085 closed

[2017-07-06 00:56] jcsteh commented on #1813
Yes, this is covered by our implementation of touch support. Specific enhancements should be filed as separate issues.

[2017-07-06 00:56] #1813 closed

[2017-07-06 00:57] jcsteh commented on #3650
Where this does occur, it should be addressed by #6424. Closing as duplicate.

[2017-07-06 00:57] #3650 closed

[2017-07-06 00:59] jcsteh commented on #3644
I believe the reporter meant showing the name of the active profile in the title of settings dialogs; e.g. General Settings (my profile).

[2017-07-06 01:00] #1645 closed

[2017-07-06 01:01] jcsteh commented on #1582
This should be addressed by #6424. Closing as duplicate.

[2017-07-06 01:01] #1582 closed

[2017-07-06 01:02] #1578 closed

[2017-07-06 01:02] jcsteh commented on #1578
Closing. If this still persists in newer versions, please comment here and we can reopen and adjust the title.

[2017-07-06 01:07] jcsteh commented on #7359
From what I can see from this log, Adobe Acrobat is crashing, not NVDA. What makes you feel this is an NVDA crash?

[2017-07-06 01:10] jcsteh commented on #2198
This was referring to a different log file that gets created (I think as part of the py2exe bootstrapper) when NVDA fails very early in startup. It can't create the log file when not running with admin privileges because it can't write to Program Files. As you say, there's insufficient info and no further info from reporter, so closing.

[2017-07-06 01:10] #2198 closed

[2017-07-06 01:11] #2186 closed

[2017-07-06 01:14] jcsteh commented on #1793
Closing as duplicate of #2144, as that one contains more info.

[2017-07-06 01:14] #1793 closed

[2017-07-06 01:15] jcsteh commented on #2144
I closed #1793 as a duplicate of this one, as this one has more info.

P4 because this doesn't negatively impact functionality and is only intermittently reproduceable.

[2017-07-06 01:19] #3167 closed

[2017-07-06 01:20] #2092 closed

[2017-07-06 01:24] jcsteh commented on #2044
I think there's some merit in supporting this but making it configurable. There's an analogy in speech: some people might choose to read English with a synthesiser that primarily speaks another language because the accent might be more understandable to them (assuming the synth handles this well enough). So, I don't think this should be a won't fix, but it's definitely a low priority feature.

[2017-07-06 01:26] #2022 closed

[2017-07-06 01:26] jcsteh commented on #2022
Closing. Please reopen if you can reproduce this and provide thorough details.

[2017-07-06 01:27] #2004 closed

[2017-07-06 01:28] #1802 closed

[2017-07-06 01:29] #1910 closed

[2017-07-06 01:29] jcsteh commented on #1910
Closing. Please reopen if you can still reproduce this and provide details.

[2017-07-06 01:30] #1930 closed

[2017-07-06 01:33] jcsteh commented on #1878
Requested info not provided by reporter, plus Flash is more or less abandoned these days, both by Adobe and most implementers. Closing.

[2017-07-06 01:33] #1878 closed

[2017-07-06 01:34] jcsteh commented on #1279
Fair enough. I think we'd take code for this, but it's not a priority for us.

[2017-07-06 01:35] #1832 closed

[2017-07-06 01:36] #1829 closed

[2017-07-06 01:37] jcsteh commented on #1829
Also, IE 8 is very old now. Even on XP, users have the option of upgrading to a more modern alternative browser. Closing.

[2017-07-06 01:38] #1792 closed

[2017-07-06 01:51] jcsteh commented on #1508
I did some brief investigation. Dropbox doesn't fire a focus event (or any other event for that matter) on the tab control when it gains focus; e.g. when you tab to it. However, it does fire a stateChange event on the control that just lost focus. Also, activeChild on the dialog does return the tab control. So, it should be possible to come up with an app module that works around this. Of course,

[2017-07-06 01:59] jcsteh commented on #7324
It's definitely a bug on our side. However:

1. This strikes me as an odd use case. Why have a live region which announces something after you make a selection? This should be left up to the At; e.g. NVDA will announce "checked". Having a live region announce something is superfluous at best. What's the real world use case for this?
2. It's certainly not something that seems like it would be commo

[2017-07-06 02:26] Neurrone commented on #7324
@jcsteh that message was just to make it clear that what is being announced is part of the live region update. Real use cases would include things like calculators that update when you change selection, e.g changing display mode from decimal to hex.

[2017-07-06 02:50] dan1982code commented on #7358
I confirm this behaviour using Firefox 54. The text read by NVDA is

":
alert  Error
follow link
follow link
or do nothing
follow link  link  visited
:"

[2017-07-06 05:13] dkager commented on #2044
One more thing to keep in mind is that a word in another language that occurs in the middle of a sentence will probably break capital sign rules from the braille table. Liblouis has to switch to a different table, which results in a different set of capital sign rules. So this idea is most interesting for people who are proficient in two or more codes.

[2017-07-06 09:49] PratikP1 commented on #2044
One significant reason to add this type of functionality is for people needing to access textbooks when learning languages. These often commingl two languages. It requires that the book is properly marked up. I'll ask someone at the DAISY Consortium or Epub forum to get a sample document for a test case.

[2017-07-06 14:47] pzajda commented on #3644
Exactly @jcsteh
In my opinion, it could help to avoid some confusion on what profile is being modified when changing NVDA settings.

[2017-07-06 15:05] leonardder commented on #3644
I'm sorry for the misunderstanding.

There is one thing we should consider here, since #577 might come along in the near term. This would make the title quite long, e.g. NVDA Settings: Speech [my profile].

If this isn't a problem, it might be a good idea to add this to the implementation of #577.

[2017-07-06 16:45] dan1982code opened #7362 "Browse Mode Find, Edge, Failing to Find Text"
Go to this page in Edge:
http://mlb.mlb.com/media/player/mpa/index.jsp
and, from the top, ctrl+NVDA+f and search for the word available
It will not be found.
Now, press t until you get to the table of games, and search for the word available
It will be found this time.

This doesn't happen in Firefox.

[2017-07-06 16:51] RichCaloggero commented on #5939
Given this code:

[code]

## Expected behavior

- nvda should say "My Number" when control gains focus
- up / down arrow keys should adjust value
- should be able to edit text of number as usual

## Current behavior

Note, as reiterated below, this only seems to happen on desktop machines.  Changing the keyboard setting in NVDA from desktop to laptop has no effect.

- label is not read when contro

[2017-07-06 16:52] RichCaloggero commented on #5917
Given this code:

[code]

## Expected behavior

- nvda should say "My Number" when control gains focus
- up / down arrow keys should adjust value
- should be able to edit text of number as usual

## Current behavior

Note, as reiterated below, this only seems to happen on desktop machines.  Changing the keyboard setting in NVDA from desktop to laptop has no effect.

- label is not read when contro

[2017-07-06 16:54] josephsl commented on #7362
Hi, confirmed. I get a feeling that we’re not traversing all nodes, including traversing inside containers such as tables. CC @MichaelDCurran

From: dan1982code [mailto:notifications@github.com]
Sent: Thursday, July 6, 2017 9:45 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Browse Mode Find, Edge, Failing to Find Text (#7362)

[2017-07-06 17:00] robertspangler commented on #7359
Sorry, I’m by no means an expert coder.  I looked at the log and saw something about issues installing IA2 and the watchdog freezing, so I thought that it was at least something to do with NVDA.  If this isn’t anything that has to do with NVDA, please accept my apologies for wasting your time!

From: James Teh [mailto:notifications@github.com]
Sent: Wednesday, July 5, 2017 9:07 PM
To: nvaccess/nvd

[2017-07-06 18:19] andrii-morozov commented on #7360
So we have pretty complicated blocks. And as you know modern web apps are not as simple as websites.  We have chart containers which if the NVDA starts to read it would be pretty confusing. Because it woudn't make a lot of sense for users. So we created aria-label attribute which creator can use to describe the chart. Other than that blind user can click see data which will navigate him to simple

[2017-07-06 18:24] andrii-morozov commented on #7360
Other thing I was considering is to make all internal content aria-hidden though it not so simple because the tabular data is also part of this container. It means if the user will go to see data mode I will need to dynamically remove the aria-hidden attribute. Also the container has the control buttons which I don't want to be read by default. Though user can still access it through hot keys.

Ov

[2017-07-06 22:45] jcsteh commented on #7360
You say you want us to render aria-label and ignore the content inside. If we do this, the user won't be able to get to the button because the button is *inside* the labelled div. Are you saying you don't want the button to be rendered? You either want us to override the elements inside or not; it can't be "override some content except buttons".

[2017-07-06 22:46] jcsteh commented on #7360
Also, as I've already pointed out, Narrator does not render the div in browse modee, so your arguments concerning Narrator are not quite correct. Furthermore, users do not simply navigate with the tab key; they primarily use browse mode.

[2017-07-06 22:59] jcsteh commented on #7359
No apologies needed; I just wanted to narrow down the issue. It's possible that NVDA is somehow triggering this crash, but the crash itself is occurring in Acrobat.

Do you know if this occurs with any PDF or only certain PDFs? Is there perhaps a sample you could provide that reproduces the problem? We have contacts at Adobe, so we might be able to forward the issue to them for investigation.

If

[2017-07-06 23:08] jcsteh commented on #5917
I can confirm that wrapped labels don't get read. This is a Firefox bug we'll need to file. (accName doesn't expose the label in this case.)

I can't reproduce the other issue. Can you elaborate on your statement concerning NVDA losing focus? What exactly happens? What happens if you press NVDA+tab after this occurs? Do you have "Automatic focus mode for caret movement" enabled or disabled?

[2017-07-06 23:10] jcsteh commented on #5939
Duplicate of #5917.

[2017-07-06 23:10] #5939 closed

[2017-07-06 23:18] jcsteh commented on #3644
I think this makes sense as part of #577. As you say, it does make the
title long, but it's probably not significantly longer than, say, a web
browser with Gmail open. We could possibly consider dropping the "Settings"
or "NVDA" if we feel the context is clear enough without it; e.g. "NVDA:
Voice [my profile]" or "Settings: Voice [my profile]". I think I prefer the
former.

[2017-07-06 23:33] robertspangler commented on #7359
OK, I will try other PDF files and see what other dumps I can find.  I’m going on vacation next week, so it may be a week or two before I can get them to you.  Even if we find out that it’s not related to NVDA, I would love to get the info to Adobe so that they can fix the bug on their end as it’s very frustrating.  Oh, I don’t know if this makes a difference, and I really hate to say this since I

[2017-07-06 23:39] jcsteh commented on #7359
Okay. To be clear, I'm not at all ruling out the possibility that this is
somehow NVDA specific, but we need further info before we can make that
determination. Please do provide those details/dumps when you are able.
Thanks.

[2017-07-06 23:52] andrii-morozov commented on #7360
The problem is that browse mode doesn't work well always. If you go to excel online they actually doing pretty tricky things in order the user had good experience. They are having specific aria-live which changes whenever you tab/arrow key to different cell. They don't even focus the cell as it is. So if the user will use browse mode I am sure the experience will be awful because the cells are not

[2017-07-06 23:56] jcsteh commented on #7360
Something like Excel (or Google Sheets) is a good example of where browse mode is totally irrelevant. For that reason, it's also one of the few examples where role="application" is a good idea. Note that in focus mode (and role="application", where browse mode isn't even considered), NVDA will read your aria-labels when you focus just fine. The reason it doesn't in your example is that you're deal

[2017-07-07 00:52] andrii-morozov commented on #7360
Thanks for help. Will see what I can do. Ideally looking towards role="application"  at least for charts.

[2017-07-07 00:52] #7360 closed

[2017-07-07 03:20] RichCaloggero commented on #5917
When "Automatic focus mode for caret movement" is disabled, things behave as they should.

When I enable it, I get strange behavior Using this url:
`data:text/html,<input type="number" autofocus value="0">`

- control gains focus when url is loaded due to autofocus
- spin button is announced, followed by 0
- up arrow produces "spin button 0" while nvda+tab produces "edit focused 1"
- up arrow agai

[2017-07-07 03:38] dan1982code commented on #7052
I hope to make a balanced case for why it would be nice to have this feature (moving down/up by paragraphs) in NVDA.

The OP is talking about paragraphs as defined by lines separated by a blank line. Many text files are organized this way, and it's very convenient to be able to move through files by paragraph.

Notepad doesn't support moving by paragraphs... this is acknowledged by other comments

[2017-07-07 04:38] jcsteh commented on #5917
Enabling automatic focus mode for caret movement means you want NVDA to
switch to browse mode when you hit the edge of an editable text area with
the up and down arrow keys. A spin button is still an editable text area,
so this behaviour does (and should) apply. Otherwise, pressing down arrow
to move to a spin button would get you into focus mode, but continuing to
press down arrow would never get

[2017-07-07 04:57] #2439 closed

[2017-07-07 04:57] #6054 closed

[2017-07-07 04:57] #6113 closed

[2017-07-07 04:57] #6935 closed

[2017-07-07 05:13] PratikP1 opened #7363 "Chrome occasionally fails to recognize radio buttons in browse mode"
### Steps to reproduce:
1. Open Chrome
2. Visit the following link: https://google.qualtrics.com/jfe/form/SV_ewWXIoEVLBcyp7f?referral_code=0&reserved=0&pType=0&productTag=0&campaignType=0&campaignDate=0&labelTag=0&appTag=0&l=0
3. Choose the next button to get to the country selection screen.
4. use browse mode to choose your country from among the list of countries.

### Expected behavior:
NVDA sh

[2017-07-07 05:35] jcsteh commented on #6231
Now that contracted braille input (#6449) is in master, NVDA can support input of computer braille, uncontracted braille and contracted braille. Computer braille and uncontracted braille are handled the same way. However, NVDA needs to distinguish contracted braille tables.

If you want new tables added, please provide the following information for each table: the table file name, a description to

[2017-07-07 05:54] jcsteh commented on #6773
Danish tables can now be selected for input in master thanks to #6449. I'll add the computer braille table in an upcoming pull request. Closing.

[2017-07-07 05:54] #6773 closed

[2017-07-07 06:10] leonardder commented on #7301
I tried to reproduce my str in JAWS, and it seems like they do use multi pass for liblouis.

[2017-07-07 07:13] mohammadrezarashad opened #7367 "New Persian tables which should be added to NVDA"
Farsi Grade 1 (ar-fa.utb) is deprecated and should be removed from NVDA list of tables.
I Provided a new table for Grade 1 instead. I called it "Persian Grade 1". The table's filename is "fa-ir-g1.utb".
I also provided an 8-dot computer braille table for Persian for the first time; called "Persian 8-dot computer braille". The table filename is "fa-ir-comp8.ctb".
Of course, both of these tables are

[2017-07-07 12:36] aspireinnov opened #7368 "Accessibility issue while using NVDA with firefox and IE"
Steps to reproduce:
 1. Open Firefox
 2. Start NVDA , speech viewer
 3. Opened our UI homepage and started navigating through the different elements using tab.

Expected behavior:
The different elements on UI page should get displayed on the speech viewer logs screen in the same order as that of the navigation order.

Actual behavior:
The different elements being navigated through are displayed in

[2017-07-07 15:03] leonardder commented on #1678
I'm afraid I can't reproduce this. Much has changed in the last six years regarding to NVDA, Firefox and Facebook. I will leave this open for the next week for someone to come up with another str, and will close this at the end of next week if we haven't gotten any replies. After that, it is of course still possible to request a reopen.

[2017-07-07 15:17] leonardder commented on #2431
I can't reproduce this on Google, closing as works for me. It is very unlikely that NVDA reports a link when there isn't a link. If it does, it is probably due to bad web page programming or a bug in the browser. Of course, we can reopen if you still consider this issue to be valid.

[2017-07-07 15:17] #2431 closed

[2017-07-07 15:20] leonardder commented on #2436
Can't reproduce with Firefox, closing as works for me. Also, some essential information is missing, e.g. what browser is used?

[2017-07-07 15:20] #2436 closed

[2017-07-07 15:26] leonardder commented on #2196
@brian1gaff: Could you confirm whether this is IE8 only? If so, i'll close this as won't fix, since IE8 specific fixes won't be done anymore.

[2017-07-07 15:30] leonardder commented on #2511
Here in word 2016, --- just produces --- and *** produces ***. Not sure what to do with this.

[2017-07-07 15:31] leonardder commented on #2523
Outlook Express is Abandoned software. Closing as won't fix.

[2017-07-07 15:31] #2523 closed

[2017-07-07 16:27] Brian1Gaff commented on #2523
Thats as maybe but i still use it. I've had no issues with the latest version of Outlook Express on the current nvda versions even in windows 10 with the mshtml special file system now out there for it.
 I'd advise not  removing app modules though as many like myself like the program for special reasons.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
brian

[2017-07-07 16:36] leonardder commented on #2523
I think it's not being planned to remove appmodules for legacy apps at all, at least not until XP support is officially dropped. Anyway, I'll do a works for me instead.

[2017-07-07 16:50] leonardder commented on #1883
@Brian1gaff, closing this as no OE specific work will be done. Could you tell whether this is still a bug, or whether it now works properly for you?

[2017-07-07 16:50] #1883 closed

[2017-07-07 17:11] leonardder commented on #2585
I think that this is way beyond the scope of what a screen reader should do by default. Leaning towards a won't fix, but I'd like to have other's opinions first.

[2017-07-07 17:16] leonardder commented on #1833
1. is normal behaviour if you have Thunderbird set to open the message in a new window, whereas I can't reproduce this with setting the open message behaviour to open in a new tab, which I belief is the default. Can't reproduce 3 either. Given the age of this, closing as works for me, please comment if you think I am in error.

[2017-07-07 17:16] #1833 closed

[2017-07-07 17:20] leonardder commented on #3966
I haven't seen such behavior ever before, and we really need more information to track something like this down. Closing as invalid.

[2017-07-07 17:20] #3966 closed

[2017-07-07 17:24] leonardder commented on #1903
Closing as duplicate of #49

[2017-07-07 17:24] #1903 closed

[2017-07-07 17:33] leonardder commented on #3968
Is there someone with Powerpoint 2013 who could try to reproduce this? Would be greatly appreciated.

[2017-07-07 17:41] leonardder commented on #3599
cc @derekriemer

[2017-07-07 17:43] leonardder commented on #2819
@JCSTeh: So, if I understand you correctly, you'd like to get rid of the whole localized manifest system somehow?

[2017-07-07 18:31] leonardder commented on #796
WLM is abandoned, closing as won't fix.

[2017-07-07 18:31] #796 closed

[2017-07-07 18:37] leonardder commented on #866
Cc @JosephSL

[2017-07-07 18:42] leonardder commented on #867
I'm closing this as a Won't fix:

1. The ticket is abandoned for like 7 years
2. There are two accessible alternatives for Facebook: instant bird and Miranda NG. Even the Facebook website is doable.
3. It is very unlikely that someone will ever have the resources or interest fix this at some point, given the two former points.

If someone disagrees, please feel free to harass me. It's not that dif

[2017-07-07 18:42] #867 closed

[2017-07-07 18:44] leonardder commented on #872
This is a nice follow up for #577.

[2017-07-07 18:45] leonardder commented on #875
cc @tspivey

[2017-07-07 18:47] leonardder commented on #884
This is XP only, and XP specific issues won't be fixed any more unless really critical. Closing

[2017-07-07 18:47] #884 closed

[2017-07-07 19:32] leonardder commented on #891
Tried to reproduce this with a recent version: 1.7.11.24 (strange enough this number is lower), and it seems that nvda+end now reads the menu bar.

[2017-07-07 19:33] leonardder commented on #928
cc @JCSTeh @Brian1Gaff

[2017-07-07 19:34] leonardder commented on #897
Vista specific issues won't be solved anymore. Closing as wontfix.

[2017-07-07 19:34] #897 closed

[2017-07-07 19:36] leonardder commented on #946
@FeerRenrut, would you like to give sighted assistance to do this for #588, or does #6332 block this?

[2017-07-07 19:39] leonardder commented on #953
@JCSTeh: Is your opinion about this still the same?

cc @Brian1Gaff

[2017-07-07 19:41] leonardder commented on #1206
Sonic is now a separate dependency, although only used for espeak.

[2017-07-07 19:44] leonardder commented on #1207
This looks quite abandoned. Closing this, not yet sure about the label though.

[2017-07-07 19:44] #1207 closed

[2017-07-07 19:45] leonardder commented on #1273
@DerekRiemer and @JCSTeh: since we have dictation bridge now, I guess we can close this? Or is there anything that still can and should be done at the NVDA side of things?

[2017-07-07 19:46] leonardder commented on #1222
Closing, OE abandoned.

[2017-07-07 19:46] #1222 closed

[2017-07-07 19:47] leonardder commented on #1268
Closing, OE abandoned.

[2017-07-07 19:47] #1268 closed

[2017-07-07 20:54] Cambridgeport90 commented on #4493
This is still happening.

[2017-07-08 05:25] #3927 closed

[2017-07-08 05:26] leonardder commented on #3927
Can't reproduce any more, closed.

[2017-07-08 06:16] leonardder commented on #5324
I don't know whether the @BeQa is the same BeQa, but it would be great if you'd be able to create a pr for this.

[2017-07-08 06:18] leonardder commented on #5259
cc @JosephSL @derekriemer

The time I tested this initially, it wasn't technically possible to retrieve this information. I wonder whether it is possible now. Also, I recall a ticket that is related to this and where I mentioned my tests earlier, or it must have been IRC.

[2017-07-08 06:23] leonardder commented on #5155
Actually, it would be better to have a double or triple press of nvda+alt+c to copy a comment to the clip board. I don't see other valid use cases for such a button that fit in NVDA core's scope, copying an URL is something a browser has facilities for

[2017-07-08 06:26] leonardder commented on #4661
Also related to #4877

[2017-07-08 06:30] leonardder commented on #4607
Note that #4622 fixed my use case for using apostrophes in speech dictionaries.

[2017-07-08 07:00] leonardder commented on #3523
Since Miranda IM and Miranda NG are basically the same, closing this as a duplicate of #2519

[2017-07-08 07:00] #3523 closed

[2017-07-08 07:03] leonardder commented on #5808
This URL you mention has a very unofficial version of OE, and I'm leaning towards closing this with the same rationale as the other OE issues. @JCSTeh: Do you agree?

[2017-07-08 07:06] leonardder commented on #4379
Al though this is an OE error, the error reported is not specific to OE as @JCSTeh pointed out, so leaving this open for now, unless a core dev thinks that this should be closed anyway.

[2017-07-08 07:10] leonardder commented on #3483
It is very unlikely that this will ever be tracked down. Furthermore, Windows Live Mail and Outlook Express are both abandoned, closing as wontfix.

[2017-07-08 07:10] #3483 closed

[2017-07-08 07:12] leonardder commented on #3395
XP specific issues won't be fixed any more, unless really critical. Closing as wontfix.

[2017-07-08 07:12] #3395 closed

[2017-07-08 09:13] elliott94 commented on #1803
I haven't seen this for several years now - shall we close?

[2017-07-08 09:15] derekriemer commented on #1803
The original reporter says close.

[2017-07-08 09:15] #1803 closed

[2017-07-08 09:20] derekriemer commented on #5259
It's not in the battery api. If there's another way,p lease let me know.

[2017-07-08 09:29] derekriemer commented on #1273
Yeah. Dictationbridge is very robust here. For future readers of this ticket, you can get it at http://dictationbridge.com
Closing as fixed!

[2017-07-08 09:29] #1273 closed

[2017-07-08 09:30] derekriemer commented on #1206
Couldn't we in theory use it for everything?

[2017-07-08 09:32] derekriemer commented on #891
@leonardder why did you delete a comment here?

[2017-07-08 09:39] derekriemer commented on #3599
closing as wontfix because I opened it, and it seems to be fixed in most situations.

[2017-07-08 09:39] #3599 closed

[2017-07-08 09:41] elliott94 commented on #791
I no longer use this software - I'm happy for this to be closed if nobody else has experienced this recently.

[2017-07-08 09:43] derekriemer commented on #2585
well, we could theoretically do some of this with cloud sourced image descriptions, and we do this in excel, but not OCR.

[2017-07-08 09:48] mohdshara commented on #7273
in build 16237 some changes were made to the Emoji panel, in particular this may be beneficial to the implementation of this ticket:

"• Have you ever wondered “What the heck is this emoji supposed to be”? Wonder no more! If you hover your mouse over any of the emoji in the Emoji Panel, you’ll now see a handy showing you the exact Unicode character name. Bonus: we’ve added tooltips to the categori

[2017-07-08 09:48] derekriemer commented on #7368
can you send us a link to your page so we can further investigate this?

[2017-07-08 09:49] Brian1Gaff commented on #3483
I feel you are being draconian again.

Remember there are a lot of people still using these programs around the
world. I've not seen this issue though unless its just new today.the issues
may well be that many email software now has its own code for displaying and
handling html. this is certainly how Outlook express new developments by
third parties works. I'm using it now on windows 7 and could n

[2017-07-08 09:50] derekriemer commented on #7367
can you provide links to these tables, and, or, are they already in libLouis? cc @jcsteh

[2017-07-08 10:09] #791 closed

[2017-07-08 10:10] derekriemer commented on #791
closing because the reporter requested it.

[2017-07-08 10:10] PratikP1 commented on #5259
@derekriemer<https://github.com/derekriemer> Can you possibly use ChargeRateInMilliwatts in combination with FullChargeCapacityInMilliwattHours from the Battery​ReportClass to estimate the time to charge?

Reference: https://docs.microsoft.com/en-us/uwp/api/windows.devices.power.batteryreport

Feel free to tell me if I’m off.

[2017-07-08 10:12] derekriemer commented on #7363
d

[2017-07-08 10:17] derekriemer commented on #7052
re: @jcsteh

Reopening and marking as p4.

[2017-07-08 10:19] PratikP1 commented on #7273
Experientially speaking, in build 16237, there appears to be no difference in how Narrator or NVDA treat the emoji panel than originally reported by @jcsteh. I filed a bug in the Feedback Center last week. See the following. https://aka.ms/fk2cna

[2017-07-08 10:22] PratikP1 commented on #7363
@derekriemer Your comment appears to have been cut off.

[2017-07-08 13:24] josephsl commented on #7273
Hi, and a possible modification might be in order, as the panel title is announced when I use arrow keys (at least the implementation in my add-on may require some edits). Thanks.

From: PratikP1 [mailto:notifications@github.com]
Sent: Saturday, July 8, 2017 3:19 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject:

[2017-07-08 16:26] mohammadrezarashad commented on #7367
Yes. The tables are already in Liblouis 3.2.0.

[2017-07-08 16:28] PratikP1 commented on #7273
Here is a log snippet of what NVDA says when Win 10 Apps Essential 2017-07-05-dev is running. Window Title is not announced There’s nothing without the add-on running.

IO - inputCore.InputManager.executeGesture (12:20:07.668):
Input: kb(laptop):windows+.
IO - inputCore.InputManager.executeGesture (12:20:09.502):
Input: kb(laptop):tab
IO - speech.speak (12:20:09.595):
Speaking [LangChangeCommand (

[2017-07-08 19:37] dkager commented on #3483
As several comments stated, this problem was hard to reproduce. It boiled down to an encoding issue, though the conversation comes to a halt after that observation.

While not being able to activate links is serious enough, I think @leonardder is saying that it will likely not be fixed for applications considered discontinued.

[2017-07-09 03:11] Andre9642 opened #7369 "Braille: giving choice concerning Dot7 and Dot8"
Since PR #6449, dot7 and dot8 are universally bound to braille input specific scripts for erase and enter.
It is a bad idea in some cases.
For example, in french, dot7 corresponding to [no-break space](https://en.wikipedia.org/wiki/Non-breaking_space) ( U+A0) and B8 corresponding to [middle dot](https://en.wikipedia.org/wiki/middot) (·U+B7).
These signs are as important as other.
Before, with my d

[2017-07-09 03:49] josephsl commented on #7369
CC @JCSTeh and other French users.

From: André-Abush Clause [mailto:notifications@github.com]
Sent: Saturday, July 8, 2017 8:12 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Braille: giving choice concerning Dot7 and Dot8! (#7369)

Since PR #6449 <https://github.com/nvaccess/nvda/pull/6449> , dot7 and dot8 are universally bo

[2017-07-09 03:53] jcsteh commented on #7369
What does BRLTTY do for dots 7 and 8? Most users seem to want dots 7 and 8 to behave as we have bound them, but it seems French might be an exception. Getting around that might require specific exceptions for the French translation.

[2017-07-09 04:01] jcsteh commented on #7369
Another thought: is it reasonable for French users who need this to rebind the dot 7 and 8 bindings, since it's possibly the only table noticeably affected? Note that this can easily be done from the Input Gestures dialog, so this is in fact already configurable as requested.

[2017-07-09 06:24] derekriemer commented on #7363
whoops. um, try again.

This is strange. down arrow skips it in browse mode. if you tab into them, they focus fine.
I thought this meant the radio buttons were aria-hidden="true" but it seems not. This seems like it could potentially affect a large number of users.

[2017-07-09 12:35] dkager commented on #2552
While I'm not much of a Facebooker, this issue doesn't sound familiar to me with recent versions of the website in Firefox 52+. Nor did this ticket get much response. Closing.

[2017-07-09 12:35] #2552 closed

[2017-07-09 13:34] dkager commented on #2585
I agree with @leonardder that at least part of this feature request lies with content providers and/or user agents.

Besides that the ticket is too broad:
- What kind of diagrams? Only line and bar diagrams and pie charts? What about diagrams from specific fields of science: Venn diagrams, Gantt charts, automata, UML class dagrams, histograms, etc.
- What is the source of the diagram? Standard ima

[2017-07-09 13:56] PratikP1 commented on #7363
@derekreimer wrote:

I noticed the tabbing behavior and updated my comment. I also tested (but failed to note) the ARIA-hidden possibility. But, if that had been the case, none of the text should have appeared. The code didn't indicate it either.

[2017-07-09 14:09] Andre9642 commented on #7369
My apologies. I had not thought about this possibility. O.o Therefore, everything is good! :)

[2017-07-09 14:09] #7369 closed

[2017-07-09 15:26] dkager commented on #3606
Do we still have the log files referenced in https://github.com/nvaccess/nvda/issues/3606#issuecomment-155311330 and do they offer any additional info?
Tempted to close this because of scope creep.

[2017-07-09 15:38] dkager commented on #7367
See also https://github.com/liblouis/liblouis/pull/208.

Two questions:
1. Are these tables complete and ready for inclusion in NVDA, or do you need to test them further as suggested in #6733?
2. Do these tables implement an official braille standard or code? Is there consensus that the old table (ar-fa.utb) should be removed? Could you provide a brief summary of what you changed/improved?

[2017-07-09 15:51] mohdshara commented on #6392
Is it OK to seek some attention on this? I really would like to cut down on the number of open issues. We would like to know if this is something NVAccess is willing to investigate.

[2017-07-09 22:51] jcsteh commented on #7363
Duplicate of #6781. That issue relates to check boxes, but the cause is the same. For some reason, Chrome exposes these with a width and height of 0, which means they are effectively invisible and NVDA therefore doesn't render them. In contrast, Firefox exposes these with a width and height of 16 x 16.

[2017-07-09 22:51] #7363 closed

[2017-07-09 22:55] jcsteh commented on #2585
Closing as won't fix. If there are solid ideas on specific proposals with clearly defined goals, user experience and feasibility, we can consider these in separate issues.

[2017-07-09 22:55] #2585 closed

[2017-07-09 23:12] derekriemer commented on #7369
Well, every french braille user having to do this is a bit much, don't you think?

[2017-07-10 00:06] jcsteh commented on #7368
Do you have actual speech disabled? If you do this, the automatic "say all"
that occurs when you open the page will read the entire page, since there's
no concept of speech taking time when there's no actual speech. That would
explain why you're seeing all the content before you press tab, assuming
that's what you mean. The cursor also moves during this say all.

[2017-07-10 00:17] jcsteh commented on #7369
[**@derekriemer**](https://github.com/derekriemer) commented on [10 Jul 2017, 09:12 GMT+10](https://github.com/nvaccess/nvda/issues/7369#issuecomment-313971812 "2017-07-09T23:12:06Z - Replied by Github Reply Comments"):

I'll counter-argue: don't you think every non-French braille user having to bind dots 7 and 8 is a bit much? The set of French braille users is smaller than the set of non-French

[2017-07-10 00:19] josephsl commented on #7369
Hi, one more variable to the mix: how about changing input tables? Does this resolve the problem?

From: James Teh [mailto:notifications@github.com]
Sent: Sunday, July 9, 2017 5:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Braille: giving choice concerning Dot7 and Dot8 (#7369)

 <htt

[2017-07-10 00:21] jcsteh commented on #7369
CC @pzajda and @MichelSuch for their thoughts as French translators.

[2017-07-10 00:22] jcsteh commented on #7369
[**@josephsl**](https://github.com/josephsl) commented on [10 Jul 2017, 10:19 GMT+10](https://github.com/nvaccess/nvda/issues/7369#issuecomment-313975243 "2017-07-10T00:19:32Z - Replied by Github Reply Comments"):

Not sure I understand what you mean. If you mean changing the table itself to avoid dot 7 and 8 bindings, I'm assuming the tables follow some kind of standard (whether official or de fa

[2017-07-10 00:33] jcsteh commented on #891
Hmm. That suggests the menu bar is at the bottom of the screen.

P4 because there haven't been any other requests for this and it will require an application specific fix.

[2017-07-10 00:46] jcsteh commented on #5808
Closing as won't fix, since even though OE has been made to run on Windows 7, it clearly relies on code no longer supported by Microsoft. Also, we never had any luck with #3395 and this only ever occurred in Outlook Express. If someone wants to look at this, we can consider reopening, but it's not feasible for us to invest resources into this.

[2017-07-10 00:46] #5808 closed

[2017-07-10 00:50] jcsteh commented on #4607
Closing because the original use case was handled another way and fixing this would break matching with single quotes (as per https://github.com/nvaccess/nvda/issues/4607#issuecomment-155329991).

[2017-07-10 00:50] #4607 closed

[2017-07-10 00:56] jcsteh commented on #1207
I tend to label issues without sufficient issue as invalid (and have now done that here).

[2017-07-10 00:59] jcsteh commented on #953
Yes. I might be happy to consider a contributed implementation for this, but it'd need to be configurable (disabled by default) and work for multiple languages. It's certainly not something we (NV Access) will work on.

[2017-07-10 01:01] jcsteh commented on #928
We should probably look at reorganising some of those global options once #577 is done and we can have cleaner categorisation of our settings.

[2017-07-10 01:14] jcsteh commented on #2819
That was the intent, yes. However, add-ons have been using localised manifests for years now, popular add-ons are using the add-on template, the add-on template is required for far more than just this, we don't have any idea how to implement this, and we have far bigger problems to solve. So, closing, at least for the foreseeable future. :)

[2017-07-10 01:14] #2819 closed

[2017-07-10 01:25] Andre9642 commented on #7369
I think that's fine as it is. Some braille displays haven't dedicated keys for backspace and enter (eg: Brailliant). Objectively, these signs are little used, enter and backspace keys are much more useful. In my opinion, as long as they can be easily redefined, that's the main one.

[2017-07-10 03:00] jcsteh commented on #7273
@josephsl, I think this would be good to support in core. If you'd be willing to submit a PR, that'd be great. We should think about the best implementation, though:

[**@josephsl**](https://github.com/josephsl) commented on [12 Jun 2017, 12:05 GMT+10](https://github.com/nvaccess/nvda/issues/7273#issuecomment-307674396 "2017-06-12T02:05:14Z - Replied by Github Reply Comments"):

1. Any thoughts on

[2017-07-10 03:20] josephsl commented on #7273
Hi,

App module method: I'll report back if I find anything new (using slow ring 16232 on my physical desktop, which should make it easier for me to test this).
Candidate or not: I see why it could be labeled that way. If so, I guess it makes implementation super easy unless @MichaelDCurran says otherwise.
Other floating suggestions: not that I know of. I'll ask a contact from MS Shell team about

[2017-07-10 04:22] feerrenrut commented on #946
#6332 was a general issue to make sure that dilogs in nvda can be resized (if it is appropriate). If its necessary to do that for this issue, or for #588 I'm happy to help with doing that. Also happy to visually review a PR to ensure that the changes are visually acceptable.

#6332 doesn't have a particularly high priority, and isn't one of our projects at the moment, so is unlikely to get done an

[2017-07-10 04:22] #946 closed

[2017-07-10 04:45] aspireinnov commented on #7368
Observed similar behavior on www.google.com as well.

[2017-07-10 05:53] jcsteh commented on #6159
[**@mohdshara**](https://github.com/mohdshara) commented on [26 Jun 2017, 20:00 GMT+10](https://github.com/nvaccess/nvda/issues/6159#issuecomment-311016240 "2017-06-26T10:00:14Z - Replied by Github Reply Comments"):

Nice find; thanks. I updated the User Guide (22602cd0 #7366) to reference this link instead of the one we were referencing before, as it's more relevant and up to date.

[2017-07-10 06:15] leonardder commented on #891
Clarification for my deletion of a comment: it was actually a spam comment from the former ticket system that hasn't got removed. I intended to do this just silently, but it seemed Github kept track of it publicly, which I wasn't aware of.

[2017-07-10 06:28] michaelDCurran commented on #7348
It looks like Excel becomes massively slow when maximized, if the worksheet also contains one or more comments. It seems that all calls to properties on an Excel range object become 3 to 4 times slower in this situation.
A part from reporting this to Microsoft, all we can really try to do is limit the amount of object model calls we make, which is very tricky.
@Ednunp: Can you confirm that the pro

[2017-07-10 06:57] #6424 closed

[2017-07-10 07:03] jcsteh commented on #5725
I think this is probably fixed by #7201, which is now in master. @surfer0627, would you be able to test this with the latest master snapshot? Thanks.

[2017-07-10 07:05] jcsteh commented on #6699
I believe this to be a duplicate of #6424, which is fixed by #7201 (now in master). Closing as duplicate. Please reopen if this problem persists. Thank you.

[2017-07-10 07:05] #6699 closed

[2017-07-10 07:07] jcsteh commented on #4481
#7201 raises the default timeout to 100 ms, so cursor tracking should now work in terminals with up to 100 ms latency. Beyond this, #7201 also makes this configurable, but there's no UI for it. I don't think we'll ever add a proper GUI option for this, but an advanced config editing GUI is being discussed to at least avoid the need to fiddle in the Python console.

[2017-07-10 08:16] Brian1Gaff commented on #5808
Thanks for the clarification. most of the issues associated with Outlook
Express on 7 and 10 can be got around now by setting the system up in a
specific way. I think you are right that there was probably an issue in the
Microsoft code in the first place.
 To make it not fall over, for the record, always read email in html, never
allow a preview pane to be displayed.
 Do this on all identities and

[2017-07-10 08:21] surfer0627 commented on #5725
@jcsteh
Yes, it is fixed by 7201.
I'm going to close this.

[2017-07-10 08:21] #5725 closed

[2017-07-10 12:59] mohammadrezarashad commented on #7367
Dear Davy,
A1. Yes. They are complete and fully tested.
A2. As mentioned in fa-ir-g1.utb's header, the old (ar-fa.utb) table
has conflicts with Persian braille script; because it was originally
based on the Arabic braille. Also I added Persian numerals and other
signs which not available in the old table.
I also modified my assignments  of dot 7 and dot 8 in fa-ir-comp8.ctb;
because I thought it m

[2017-07-10 13:04] dkager commented on #6733
According to https://github.com/nvaccess/nvda/issues/7367#issuecomment-314098057 this table has now been fully tested. Moreover, it will be available in next. Closing this because a try build is no longer needed.

[2017-07-10 13:04] #6733 closed

[2017-07-10 14:39] mohammadrezarashad commented on #7367
I downloaded the Next_14168 and saw the mentioned tables. Thanks all of you NV Access! I hope Persian users could benefit from these new tables. Let me close this issue. Again, Thanks and
     VIVA NVDA!

[2017-07-10 15:35] mohdshara commented on #6159
in the user guide you say:
"Please note that the faster rates available with Narrator are not currently available with NVDA." I understand from this that even if you set the rate to %100 in text to speech settings and also set the rate to %100 in NVDA's voice settings, Narrator could still speak faster. IMHO, if my understanding isn't correct, this sentence should be removed. NVDA speaks really re

[2017-07-10 15:55] fisher729 commented on #7127
Hi.

I am using
Windows 10 1703 (15063.413) with NVDA Version: master-14172,0fb961db.
I have noticed this with NVDA 2017.2.

This behaviour changes based on the situation. Sometimes, NVDA
crashes. Other times, it says 'pane' and I have to press Tab to
interact with it. It's interesting, because if I remove an openwith
module that comes with NVDA, this issue goes away. Here is the log.

INFO - __ma

[2017-07-10 16:03] fisher729 commented on #7128
Hello. Any updates on this? It is affecting many more users now, since a lot more persons are now on the Creator's update. Any idea when this will be fixed? I turned off reporting help balloons because of this issue, but would love to turn it back on.

[2017-07-10 16:13] fisher729 opened #7370 "NVDA and Windows 10 Start Menu: reporting typed text after closing the menu"
This is a long standing issue with NVDA.

1. Open the Windows 10 Start menu.
2. Type in the name of an app/program like' Notepad'. If you type 'Note' for example, that should be sufficient, and I recommend that because the issue would become easier to spot.
3. Press Enter. The menu will close and something happens before Notepad starts.

Expected: NVDA just keeps quiet and Notepad starts.
Actual:

[2017-07-10 16:17] josephsl commented on #7370
CC @MichaelDCurran, looks like something odd is going on with our suggestions list item handler.

From: fisher729 [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 9:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA and Windows 10 Start Menu: reporting typed text after closing the menu (#7370)

This is a long

[2017-07-10 16:19] fisher729 opened #7371 "Spelling Errors in User guide"
Hi.

In section 14.1:
Tels NVDA to start with log level set to info and to write its log to c:\nvda.log

I noticed this using a OneCore voice :)

[2017-07-10 16:23] josephsl commented on #7371
Hi, any other spelling errors? Looks like another round of doc fixes is in order… Thanks.

From: fisher729 [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 9:20 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Spelling Errors in User guide (#7371)

Hi.

In section 14.1:
Tels NVDA to start with log level set to info

[2017-07-10 18:22] PratikP1 commented on #7371
Thanks for the challenge, @josephsl.  Here is my list. I have not gone through the document for grammatical accuracies with a few minor exceptions.

Here are a couple of things to note in NVDA next-14168,fb78b7e9 User Guide.

* If American English is standard, then the spelling of “license” should be substituted for “licence” Throughout the document. If U.K.-based English is used throughout, then

[2017-07-10 18:28] josephsl commented on #7371
CC @JCSTeh, @feerrenrut and other documentation specialists.

From: PratikP1 [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 11:23 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Spelling Errors in User guide (#7371)

Thanks for the challenge, @josephsl <https://github.com/jos

[2017-07-10 19:23] leonardder commented on #2796
XP specific issue, closing as won't fix.

[2017-07-10 19:23] #2796 closed

[2017-07-10 19:24] leonardder commented on #960
This is XP and Outlook Express specific. NV Access isn't putting effort into fixing XP specific issues any more. Closing as won't fix.

[2017-07-10 19:24] #960 closed

[2017-07-10 19:31] leonardder commented on #3519
Thanks for the clear str, this can still be reproduced easily.

[2017-07-10 19:35] leonardder commented on #1709
I'm not sure whether Windows Live writer is still alive, but given the state of Windows Live in general and the abandoned state of this ticket, I'm closing this for now as a won't fix. Please feel free to request a reopen and, if so, please provide the steps to reproduce this.

[2017-07-10 19:35] #1709 closed

[2017-07-10 19:38] leonardder commented on #3482
This sounds like changing the behaviour of the spell checker in a more general way, not only related to Word 2017. I agree that stuff could be improved a bit to make things work somewhat more intuitive, for example, you need object navigation in Word 2016 to find the actual misspelled word.

[2017-07-10 19:42] leonardder commented on #3487
I can't reproduce this for Excel 2016. However, if you are already editing a cell, pressing f2 again isn't something someone would normally do anyway. Closing as invalid, but please provide additional details (e.g. a use case why you think this should really be fixed)

[2017-07-10 19:42] #3487 closed

[2017-07-10 19:43] ehollig commented on #4999
I am not able to replicate this in Internet Explorer, Firefox, or Chrome using master-14172,0fb961db.

[2017-07-10 19:45] leonardder commented on #2429
Hmm, this is an interesting point, but probably quite difficult if not impossible to do for MSAA. As for Firefox/IAccessible2, this seems already been implemented as the reporter points out. How about UIA?

cc @JCSTeh @MichaelDCurran

[2017-07-10 19:48] leonardder commented on #2459
I wonder whether this is still reproducible. I'll keep this open for the next week for people to bring in their findings. If we haven't got any reply by then, I'll consider this ticket abandoned and will close.

[2017-07-10 19:48] ehollig commented on #4771
Is this still the case with the Goldwave addon?

[2017-07-10 19:53] leonardder commented on #2471
CC @mohammad-suliman, who seems to have provided a pr that might fix this.

[2017-07-10 19:56] ehollig commented on #3580
This is an XP issue and has not been touched in 5 years, so I assume that the problem is fixed or can be closed.

[2017-07-10 20:02] leonardder commented on #2500
[WMC is discontinued](https://en.wikipedia.org/wiki/Windows_Media_Center). Also considering this ticket being abandoned, closing this as won't fix. However, since Media Center is still available in pre Windows 10, I think we could accept a third party fix for this if someone is ever willing to provide it, which I doubt.

[2017-07-10 20:02] #2500 closed

[2017-07-10 20:06] josephsl commented on #2500
Hi, anyone using Windows 7 willing to provide a fix/PR please? Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 1:03 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Issues reading in windows media center (#2500)

WMC is discontinued <https://en.wikipedia.org/wiki/Windows_Media_

[2017-07-10 20:07] ehollig commented on #3139
Not able to reproduce using Powerpoint 2016. Does anyone have Powerpoint 2010 installed to see if the problem still occurs?

[2017-07-10 20:12] dan1982code commented on #7326
I'm noticing similar behaviour in the ghci Haskell shell. Strangely, none of these issues is evident in the Python shell.

mintty module: I've tried installing this but not sure how it is supposed to help with R.

I just updated to the latest NVDA-next as I thought that maybe the improved cursor-tracking would help here, but unfortunately not.

[2017-07-10 20:12] leonardder commented on #2577
Can still be reproduced. cc @jcsteh

[2017-07-10 20:14] leonardder commented on #1457
Closing this because this ticket is very old, many things have changed (i.e. IAccessible2 support in LibreOffice). Please request a reopen if you still experience this.

[2017-07-10 20:14] #1457 closed

[2017-07-10 20:15] leonardder commented on #2936
CC @Brian1Gaff, can you still reproduce this?

[2017-07-10 20:18] leonardder commented on #2942
This sounds like a general request to give more information in Outlook calendar view.

[2017-07-10 20:19] #3580 closed

[2017-07-10 20:26] ehollig commented on #1677
Can not replicate this. MP3Tag exits fine on my system.
Mp3tag v2.78, released Jun 25 2016
Windows 10,1607

[2017-07-10 20:59] ruifontes commented on #3487
Hello!

1 - Open an Excel file;
2 - In any cell start typing;
3 - Expected feedback:
Edit. character typed.
4 - Real feedback:
Edit. One edition box. Character typed.

Regards,

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 10 de julho de 2017 20:42
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Ref bug#3418-inExcel2013 an item, an edit
control is announced when on

[2017-07-10 22:09] abdullah5490 commented on #6699
I can't find the milestone download. Can you please paste a link to download the milestone release? Please? I'll test it and report you back about the issue.

[2017-07-10 22:50] abdullah5490 commented on #6699
well, here is my report. in the latest commit/master release, the NVDA is now navigating absolutely fine as character by character. but when I try to read word by word in an edit field under chrome, it read out all the content in that field, not each word one by one. For example, after typing this comment in the edit field using chrome, I pressed ctrl+right/left, it read my whole text written in t

[2017-07-10 22:51] jcsteh commented on #3487
I can't reproduce the original reporter's behaviour regarding pressing f2 while already editing. However, I think this issue might be referring to the pointless "an edit control" description that Excel exposes when editing. It also exposes a label of "Edit item", but this arguably isn't extraneous; it differentaites it from "Comment" or similar.

[2017-07-10 22:52] #1677 closed

[2017-07-10 22:52] jcsteh commented on #1677
Closing as worksforme as per above comment. Please reopen if the problem persists.

[2017-07-10 22:54] jcsteh commented on #6699
This sounds like a different issue. Does this happen in all edit fields in Chrome or just some? Do you have Chrome set to use a language other than English, and if so, what language?

[2017-07-10 22:57] abdullah5490 opened #7372 "NVDA read all text while reading word by word, in an edit field under chrome"
After fixing the issue #6699 by adding #7201 in the master build, the NVDA is now navigating absolutely fine as character by character. but when I try to read word by word in an edit field under chrome, it read out all the content in that field, not each word one by one. For example, after typing this comment in the edit field using chrome, I pressed ctrl+right/left, it read my whole text written

[2017-07-10 23:01] abdullah5490 commented on #6699
@jcsteh No, i'm using the english version of chrome, because It is the only language that I understand internationally. and its w10x64

[2017-07-10 23:11] jcsteh commented on #7326
Does this use a Windows command console (like cmd.exe) or is it a custom terminal like mintty? Developer info (NVDA+f1) might be enlightening.

[2017-07-10 23:31] jcsteh commented on #4999
Closing as worksforme, given that I and two others can't reproduce this. Note that there are few possibilities to consider here:

1. If mouse tracking is enabled, NVDA will read whatever is under the mouse. That could be quite a lot of text if the mouse is moved a lot.
2. It's possible that auto say all was enabled in a configuration profile triggered for the browser. If the Browse Mode settings d

[2017-07-10 23:31] #4999 closed

[2017-07-11 00:11] jcsteh commented on #7371
Thanks @PratikP1 for digging through this. :) A few clarifications:

[**@PratikP1**](https://github.com/PratikP1) commented on [11 Jul 2017, 04:22 GMT+10](https://github.com/nvaccess/nvda/issues/7371#issuecomment-314192062 "2017-07-10T18:22:38Z - Replied by Github Reply Comments"):

I only see one occurrence of "licence" (with a c). We've standardised on U.S. English for the NVDA project, so this

[2017-07-11 00:16] josephsl commented on #7371
Hi, will work on it tonight, along with modifying what’s new (once again) and adding “Welcome to NVDA!” at the beginning of the user guide to make it even friendlier (been meaning to propose this). Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 5:11 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@no

[2017-07-11 00:19] jcsteh commented on #7370
Actually, this is due to the enter key handler used to read automatically inserted text on the next line; e.g. automatic numbering in Word. It can be fixed by setting announceNewLineText to False for the search field.

P3 because it's superfluous but otherwise harmless, but should be fairly easy to fix.

[2017-07-11 00:27] jcsteh commented on #7128
We believe this to be a bug in UI Automation Core, but we'll be stuck with it for a while even if Microsoft eventually fix it, so p2 to work around it in NVDA.

[2017-07-11 00:33] jcsteh commented on #7127
I'm most concerned about cases where you say NVDA crashes. It'd be good if you can provide a log file and a crash dump for this situation.

Also, I notice you have Win 10 App Essentials installed. It'd be good if you can try with this disabled, only because it has some UIA event debugging code and I want to eliminate that as a possible trigger.

[2017-07-11 00:37] jcsteh commented on #6159
I have my rate set to 100% in Settings and 100% in NVDA. It is fairly fast, but I can still understand it. In contrast, if I set the rate to 100% in Narrator, it is much faster; I cannot understand it.

[2017-07-11 00:38] josephsl commented on #7128
Hi, workaround to be made available in Windows 10 App Essentials 17.07.1 by letting window open event handler consult the last toast message it keeps in its pocket. Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 5:27 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [n

[2017-07-11 00:38] jcsteh commented on #7367
This should remain open until this is merged into master. Thanks for testing.

[2017-07-11 00:40] josephsl commented on #7370
Hi Andre, do you know other places where this should be handled? Let me know so a PR can be submitted tomorrow. Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 5:20 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA and Windows 10 Start Menu: reporti

[2017-07-11 00:40] jcsteh commented on #7371
I'd suggest splitting the "welcome" addition into a separate PR because
it's unrelated to corrections and thus subject to separate criteria. Thanks.

[2017-07-11 01:07] mohammadrezarashad commented on #7367
OK. I didn't know this rule. Thanks.

[2017-07-11 02:20] fisher729 commented on #7370
No. not at this time. The start menu is the only one that stands out now.

On 7/10/17, Joseph Lee <notifications@github.com> wrote:

[2017-07-11 03:03] michaelDCurran commented on #7128
A PR would be much appreciated if you can.

[2017-07-11 03:42] derekriemer commented on #7367
No problem.

[2017-07-11 03:45] derekriemer commented on #6159
You can in fact get fast rates with NVDA, go into settings and change the speech speed slider to 100% there and then set NVDA to 100%

[2017-07-11 03:50] derekriemer commented on #7326
@jcsteh sorry. The mintty and putty trick works for R, See https://files.derekriemer.com/rgui.py

[2017-07-11 03:55] dan1982code commented on #7326
ghci.exe (GHC Haskell compiler) uses cmd.exe, which is why this behaviour is strange to me. It's the kind of thing that one would hope would just work, but it seems to be doing stuff that isn't used when interacting with vanilla cmd.exe.

This behaviour of NVDA -- spelling text instead of reading words, double-speaking stuff, sometimes explicitly reading space characters -- seems to happen in mult

[2017-07-11 03:58] Qchristensen commented on #7348
I can reproduce the slowdown when navigating a sheet which has a comment and the Excel window is maximised.

There does still seem to be some slowdown if the window is not maximised but not as much as when the window is maximised (say 1 second to start reading a cell rather than 3).

The slowdown is only on the sheet with the comment, but it seems to be the same anywhere on that sheet.

I tried wi

[2017-07-11 04:08] Qchristensen commented on #7330
Re this code not being used in Chrome / Firefox, would adding extra functionality to some autocomplete fields (Start menu search etc) but not others then cause confusion.  As hard as it is with every single program feeling the need to re-invent every type of control, as a user, I get used to the way a particular type of control works (announcing number of suggestions, or not, for instance), and th

[2017-07-11 04:23] andrew-l-d opened #7377 "Windows Onecore speech slow with NVDA 2017.3 snapshots"
Is it possible to have the Windows Onecore speech run any faster?  It can run considerably faster with Narrator.### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue s

[2017-07-11 04:24] dan1982code commented on #7326
Thanks! That is for the R GUI, so I put the rgui.py in the proper place and tried running the R GUI, but all I got was a greater symbol when I hit enter; it doesn't read any of the other output. I then adapted your appModule for r.exe itself, not rgui.exe, but it didn't change the prior behaviour of NVDA spelling words instead of saying them, and double-speaking the text that's output, etc. My con

[2017-07-11 04:37] jcsteh commented on #7326
I'm confused. I can't work out from the various comments whether this thing
uses Windows Console (cmd) or not.

At any rate, if it's cmd, there is a bug (#513) where having speak typed
characters enabled causes spurious spelling of output characters in some
cases. If this is happening, the workaround is to turn off speak typed
characters.

[2017-07-11 04:38] leonardder commented on #3487
[**@jcsteh**](https://github.com/jcsteh) commented on [11 jul. 2017 00:51 CEST](https://github.com/nvaccess/nvda/issues/3487#issuecomment-314272283 "2017-07-10T22:51:20Z - Replied by Github Reply Comments"):

This is indeed where @ruifontes refers to. Personally, I don't think we should do anything about this, since its exposed by Excel and can be easily silenced when you start typing. I agree the

[2017-07-11 04:38] jcsteh commented on #7377
Quoting the User Guide, section 12.5, Windows OneCore Voices:

[2017-07-11 04:38] #7377 closed

[2017-07-11 04:40] jcsteh commented on #3487
@MichaelDCurran, might be worth filing a bug with Microsoft about this.

[2017-07-11 04:43] dan1982code commented on #7326
Sorry, I caused the confusion.

r.exe does use cmd.exe. r.exe is stats software.

ghci.exe also uses cmd.exe. ghci.exe is Haskell compiler.

Both exhibit exactly bug 513 that you mentioned, and disabling "speak typed characters" fixes the spelling of output characters.

Thank you!

What I find really odd is that the spurious spelling of output characters happens only sometimes in cmd.exe. For exam

[2017-07-11 04:44] jcsteh commented on #7330
There are limits to how much we can unify this due to the severely
differing implementations. Also, those controls already behave rather
differently; I imagine that's true to some extent even for sighted users?

[2017-07-11 04:45] jcsteh commented on #7326
Closing as cuplicate of #513.

[2017-07-11 04:45] #7326 closed

[2017-07-11 04:57] jcsteh commented on #6159
That's exactly what I'm saying. Even with both of those set, it's not as fast as Narrator's 100%. It's fast, but not "as" fast.

[2017-07-11 05:10] #7371 closed

[2017-07-11 05:40] Ednunp commented on #7348
The main problem I foresee, is that lots of people using Excel, especially sighted people,  will put comments into the cells. Removing them may not be an option for many people

Sent from my iPhone

[2017-07-11 06:54] bramd commented on #7335
@leonardder Yes, this is hard. In Thunderbird the accessible name of the whole row is a concatination of all the fields. You could present each field differently in an appmodule, like we do in Outlook, but you would need to find a language independent identifier.

A more generic solution I can imagine and which could be distributed in an add-on is an inteface to customize the reading of listviews.

[2017-07-11 07:34] Ednunp commented on #7348
Hi. I removed comment as instructed and it now works much much better. I wonder if There is a way of locating all cells  with comments in them?

Sent from my iPhone

[2017-07-11 08:26] zahra21 opened #7379 "request to add one setting to desable spelling lines phoneticly."
i request to include one setting in 2017.3 for all people who cant or dont want to use it.
when i press nvda+up arrow twice to spell the line, sometimes nvda is a little slow in responding and sometimes i am in a complex task or in a hury and forget to press this command twice and i press it many times accedentally.
for this reason, i hear the phonetic spelling not only spelling the character of l

[2017-07-11 10:00] Qchristensen commented on #7379
Edited issue to trim to content related to request.

[2017-07-11 10:00] PratikP1 commented on #7271
As of Chrome Canary 61.0.3154.0, this problem has disappeared. I discovered that, if I let NVDA start talking and wait for about 8 to 10 seconds, the page would reload and start speaking from the top of the page. At that point, I was free to interact with it. Now, I am no longer experiencing this issue.

[2017-07-11 10:11] fernando-jose-silva opened #7380 "Recognition of texts in whole documents."
First of all I would like to thank you for the beautiful work on nvda as a whole, more precisely today with the functionality of character recognition with the ocr.As a suggestion for this great functionality, I would like to propose:It would be possible for the nvda to recognize an entire document at one time. Today we have to recognize the document by visible pages or parts on the screen.My use

[2017-07-11 10:19] PratikP1 commented on #7267
As of Chrome Canary 61.0.3154.0, this problem has been resolved. I can open Chrome's menu with alt+f or alt+e. Not landing on the first item is another issue. @Jcsteh, for reference, the issue you filed is labelled "Untriaged" but the regression you reported is resolved. I followed the STR you listed in your report. Chrome now says what it should.

[2017-07-11 10:35] #7267 closed

[2017-07-11 10:37] jcsteh commented on #7380
Recognising tables is something the OCR engine needs to support. Win 10 OCR certainly doesn't support this. I don't know of any free OCR engine that does.

[2017-07-11 10:38] #7271 closed

[2017-07-11 10:43] jcsteh commented on #7379
Thanks for taking the time to make the suggestion. However, this is not something we will implement. Having an option like this just for phonetic spelling of a line is fairly arbitrary. Someone else might decide that they also don't want to accidentally spell the line when they only meant to read the line, or that they don't want to read the date when they press NVDA+f12 twice. If we implemented o

[2017-07-11 10:43] #7379 closed

[2017-07-11 11:07] derekriemer commented on #7267
Should I add worksforme and remove needsExternalFix and googleWork?

[2017-07-11 11:28] derekriemer commented on #7335
[**@ruifontes**](https://github.com/ruifontes) commented on [Jun 28, 2017, 9:48 AM MDT](https://github.com/nvaccess/nvda/issues/7335#issuecomment-311702205 "2017-06-28T15:48:11Z - Replied by Github Reply Comments"):

Do we actually have a "attachment" state?

[2017-07-11 11:40] ruifontes commented on #7335
Hello!

Derek wrote:
Do we actually have a "attachment" state?

Maybe I don't make myself very clear...
In a message list, each message can have the attributes of:
Read/Unread
Attachment
Priority
...

Writing all those words in a Braille display we don't have enough cells to
the message itself...

Unread, Attachment, High priority,

We already have 33 cells occupied... 7 to display Name, Subject,

[2017-07-11 11:52] derekriemer commented on #7335
Sure. I was curious if there's an attachment state in accessibility APIs, because that would make this much easier.

[2017-07-11 11:57] ruifontes commented on #7335
That I don't know!
And it should depends on mail manager app used...

Rui

-----Mensagem Original-----
De: Derek Riemer
Data: 11 de julho de 2017 12:52
Para: nvaccess/nvda
Cc: ruifontes ; Comment
Assunto: Re: [nvaccess/nvda] Allow different object names for speech and
braille (#7335)

Sure. I was curious if there's an attachment state in accessibility APIs,
because that would make this much easier

[2017-07-11 11:59] derekriemer commented on #7330
[**@jcsteh**](https://github.com/jcsteh) commented on [Jul 1, 2017, 5:24 AM MDT](https://github.com/nvaccess/nvda/issues/7330#issuecomment-312426627 "2017-07-01T11:24:31Z - Replied by Github Reply Comments"):

My latex-access code uses reportFocus in this way, and gets called.

[2017-07-11 12:01] derekriemer commented on #7330
never mind, I have a script_reportFocus I forgot about there which calls reportFocus for nvda+tab.

[2017-07-11 12:05] derekriemer commented on #7372
[**@abdullah5490**](https://github.com/abdullah5490) commented on [Jul 10, 2017, 4:57 PM MDT](https://github.com/nvaccess/nvda/issues/7372#issue-241876112 "2017-07-10T22:57:58Z - Replied by Github Reply Comments"):

Which version of chrome?

[2017-07-11 12:09] derekriemer commented on #2942
can someone test this and see if outlook now does this? I think it might. cc @josephsl

[2017-07-11 12:10] aaclause opened #7381 "Input braille: problem with signs on multiple cells and computer braille tables"
First, let me list the next definitions in french braille (it's necessary to understand the following examples):

* ⠂ (dot2) = , — ⠒ (dots25) = : — ⠖ (dots235) = !
* ⠐ (dot5) = ´ (U+B4) — ⠘ (dots45) = ¤ (U+A4) — ⠸ (dots456) = ¸ (U+B8) — ⠨ = ¨ (U+A8; also capital sign in 6 dots braille)
* ⠁ (dot1) = a — ⠃ (dots12) = b.

AND

- "¤!" (⠘⠖) = ∩ (U+2229) — "¤¤!" (⠘⠘⠖) = ⋂ (U+22C2)
- "¸!" (⠸⠖) = ∪ (U+222

[2017-07-11 12:14] derekriemer commented on #3139
Can we get the log? unless this is different on xp from 7, I never used to see this on 7 when using NVDA back in 2013.

[2017-07-11 12:18] leonardder opened #7382 "Unexpected behavior with table and container navigation for nested tables"
I've seen the case below in a corporate environment. I agree it isn't common style of coding.

### Steps to reproduce:
1. Execute the following from a Firefox location bar:
[code]

2. Use table navigation inside the table. Everything works fine, until you reach outer table cell 3, which consists of a table itself with two cells.

### Expected behavior:
A. When in the inner table, pressing comma mo

[2017-07-11 12:25] zahra21 commented on #7379
hello.
thanks so much for your reply.
but in which version of nvda do you change spelling to we press its command only once?
also this is very important in compare to date which you mentioned.
i read and edit books with hundreds of pages and wish to have previous behaviour of nvda.
i wish how many times i press nvda+up arrow, hear only spelling the line letter by letter not with phonetics.!
for ex

[2017-07-11 12:43] jcsteh commented on #7381
Thanks for the thorough details. It's a lot to digest, so I'm not sure I
fully understand this. However, it sounds like in French, even in computer
braille, later braille cells can affect the interpretation of earlier
cells, even though the earlier cells do mean something when they occur
alone. The only way we can handle this is to have NVDA treat this table as
a contracted braille table, since we

[2017-07-11 12:52] zahra21 commented on #7379
its a very easy task for you i am sure.
and i sincerely request that accept it and put one checkbox in for example voice settings or anywhere in preferences thats possible to disable this and have previous behaviour of nvda.
i wish to use nvda 17.3 when becomes available, because of problems for cursor navigation between character using firefox and previous versions of nvda.
i had this problem in

[2017-07-11 12:55] jcsteh commented on #7267
1. Worksforme would suggest we don't quite know what fixed the issue, which i guess is partially true, but we do have a Chromium issue for this and we know what build it got fixed in, so it's reasonably clear it was an intentional fix. So, no worksforme.
2. For a closed issue, needsExternalFix still lets us know the fix was external, not ours. The "needs" bit isn't really correct, but switching st

[2017-07-11 13:57] mohdshara commented on #3131
This should be closed as won't fix like all other Windows Live issues.

[2017-07-11 13:58] fisher729 commented on #7127
Well, it appears that I can't reproduce this at the moment. It appears
that this behaviour was fixed somehow. Still, what is reported when
you open the dialog changes sometimes. I think the issue can be closed
though.

On 7/10/17, James Teh <notifications@github.com> wrote:

[2017-07-11 14:15] mohdshara commented on #3549
Hi. An Arabic input table now exists, however it doesn't work very well, it can only type the Arabic characters that don't map to any English character. that's because the existing Arabic table defines English characters via an include statement. which I think is wrong and nonstandard. I tried to edit the table but it didn't work. It looks like simply editing the table  and restarting NVDA is not

[2017-07-11 14:17] fisher729 opened #7383 "nvda announces keyboard and input language in weird places"
Very hard to reproduce, and not expected unless I press Alt and shift.
It happens many times when I sign in. It announces my language and my keyboard input method in unexpected places.
It sometimes happens when I start some programs and the response takes a while.

[2017-07-11 14:35] arodenbeck commented on #3525
What is the consensus on adding support for the sectioning tags such as article? I can see where from a verbosity perspective you might not want to hear "article - article end" each time. An option that might turn that on or off would be nice, but the bigger problem is jumping from article to article. If this is properly used, a user would be able to jump over an article after determining that it

[2017-07-11 14:48] josephsl commented on #2942
Hi, I need help from at least one another tester who uses Outlook 2010 and 2013, as well as steps to reproduce on newer systems. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Tuesday, July 11, 2017 5:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook 2007: Cale

[2017-07-11 14:56] mohdshara commented on #7383
For what it's worth, I do confirm this issue.

[2017-07-11 15:20] PratikP1 commented on #2942
I can verify this in Outlook 2016 (version 16.0.8201.2102). I can also verify in Outlook 2013. Quickly tested on a colleague's laptop. All relevant updates are installed.

[2017-07-11 15:30] josephsl commented on #2942
Hi, also, last time I used it, Calendar UWP provides this info as well. Thanks.

From: PratikP1 [mailto:notifications@github.com]
Sent: Tuesday, July 11, 2017 8:21 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook 2007: Calendar Should Provide Summary of X appointments on Specified Da

[2017-07-11 16:53] leonardder commented on #3131
Thanks for pointing this out.

[2017-07-11 16:53] #3131 closed

[2017-07-11 17:31] Brian1Gaff commented on #7380
The issue I think with picture pdfs are really a whole other subject, in my
view. Most ocr done in screenreaders tends to be to actually read a screen
of controlls etc.
 What is needed in my view is for Adobe to include  support for what you ask
for in their reader in the first place.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk,

[2017-07-11 17:51] abdullah5490 commented on #7372
@derekriemer its Version 59.0.3071.115 (Official Build) (64-bit). Language english.

[2017-07-11 17:54] ehollig commented on #4160
Sounds like Windows Live Writer end-of-life was in 2012 acording to [Wikipedia](https://en.wikipedia.org/wiki/Windows_Live_Writer). An open source fork was released as Open Live Writer but to my knowledge, no issues have been raised about this. Can this be closed?

[2017-07-11 17:57] Andre9642 commented on #7381
Thanks for your reply. Sorry for this message difficult to digest, but my English is perfectible and the problem isn't easy to explain. :)

I agree with your suggestion. However, would it be possible to enter in the "temporary mode" only when one of the following dot braille combinations is typed? ⠐ (dot5), ⠨ (dots46), ⠸ (dots456), ⠘ (dots45), ⠒ (dots25), ⠄ (dot3), and ⠶ (dots2356).
This might dis

[2017-07-11 18:17] ehollig commented on #5449
I am not able to replicate this bug. Could you provide an NVDA log with debug enabled that shows what may be happening? Also, which version of Windows 10 are you using?

[2017-07-11 18:19] ehollig commented on #5469
Could you provide an example site where this text appears? Also, does this still happen with the latest version of Firefox?

[2017-07-11 18:36] ehollig commented on #5339
I am not able to replicate this.
Tested using SayAll using Firefox 54.0.1 (32-bit) on a Wikipedia article.
@jcsteh any ideas?

[2017-07-11 18:44] leonardder commented on #4160
Duplicate of #1709

[2017-07-11 18:44] #4160 closed

[2017-07-11 18:50] ehollig commented on #5281
Unfortunately, I do not believe anything else can be done about this issue without the attachment.
@feerrenrut, is there an attachment I am missing?

[2017-07-11 19:26] gregjozk commented on #7269
Hi,

confirmed on windows 10 (64-bit) build 15063.413 last firefox (54.0.1 - 32-bit) and NVDA (last next snapshot).

This problem has been detected for a while.

[2017-07-11 23:16] jcsteh commented on #7381
[**@Andre9642**](https://github.com/Andre9642) commented on [12 Jul 2017, 03:57 GMT+10](https://github.com/nvaccess/nvda/issues/7381#issuecomment-314523514 "2017-07-11T17:57:13Z - Replied by Github Reply Comments"):

No; it's not a problem with your English. It's just a complex problem and I didn't have the time to figure out the exact details of each example. However, i think we agree about the r

[2017-07-11 23:36] jcsteh commented on #7383
See also #1676, #2627, #5545.

If you're hearing the language get reported, that means NVDA was notified that it changed at some point, even if that change wasn't obvious to the user.

@MichaelDCurran, since problems like this keep showing up from time to time, do you think it might be worth putting some debug logging at the top of the input lang change thingy? That way, we can poke through a log

[2017-07-11 23:36] jcsteh commented on #7383
P3 because it's annoying, but doesn't really affect functionality.

[2017-07-11 23:41] jcsteh commented on #3549
Editing a table and restarting should be sufficient. If you're using an installed copy of NVDA, you'll have to edit it within the Program Files directory, which requires administrator privileges. It might be easier to use a portable copy for this reason.

[2017-07-11 23:42] #7127 closed

[2017-07-11 23:45] jcsteh commented on #7382
I've always believed table navigation shouldn't consider layout tables when inclusion of layout tables is disabled. However, I believe @MichaelDCurran made a case against this, hence the current behaviour. Mick, is this (still?) correct, and if so, can you explain why? @QChristensen, thoughts?

[2017-07-12 00:06] michaelDCurran commented on #7382
I may have thought this at one time, but  today I would be fine with ignoring layout tables. I think from memory the issue was more around the complexity to do this, especially with Gecko as we use a hybrid of virtualBuffer and out-of-proc IA2. having said this, some of that code was slightly refactored when abstracting table support for browseMode, so it is worth looking into again. I certainly a

[2017-07-12 00:10] fernando-jose-silva commented on #7380
Thanks for the comments.
Reading documents using text recognition ocr not only in pdf but in outlook messages and images as jpg for me are very important, and are part of my daily corporate work.
And I doubt that any company that maintains the support of the files will adsize a character recognition to its tools.
My proposal is that nvda can make this activity more good.
I usually use character re

[2017-07-12 00:32] jcsteh commented on #7382
P2 because this can be quite problematic and layout tables are still (unfortunately) rather common.

[2017-07-12 03:35] feerrenrut commented on #5281
Indeed, in the attached image it looks like the UI for NVDA is in some other language. Is this issue still affecting anyone, I would be surprised if that were case. I'm going to close the issue. If I'm wrong, please comment on the issue and we can look into it further.

[2017-07-12 03:35] #5281 closed

[2017-07-12 06:39] feerrenrut commented on #5469
Unfortunately there is no way for elliott94 to get the latest comment on this issue. This issue was created automatically during the migration from Trac to Github. I'm going to close this issue, since its quite old and I don't think anyone is able to reproduce it. If someone can reproduce it, please comment and add some more information about how to make it happen and we will be happy to investiga

[2017-07-12 06:39] #5469 closed

[2017-07-12 06:42] feerrenrut commented on #5449
Thanks @ehollig, the information you requested would indeed be useful. Unfortunately there is no way for DataTriny to get the latest comment on this issue. This issue was created automatically during the migration from Trac to Github. I'm going to close this issue, since its quite old and I don't think anyone is able to reproduce it. If someone can reproduce it, please comment and add some more in

[2017-07-12 06:42] #5449 closed

[2017-07-12 07:27] michaelDCurran commented on #7348
To find all comments, press NVDA+f7 to bring up the Elements list and
then choose the Comments radio button.

[2017-07-12 07:46] leonardder commented on #7382
Ok, let me investigate the complexity of this later this week

[2017-07-12 07:48] michaelDCurran commented on #7382
I'll take this, as I am also working on some ARIA grid stuff which may directly affect this code.

[2017-07-12 08:13] leonardder commented on #7382
Ah, that works too.

[2017-07-12 08:34] PratikP1 commented on #7383
In Windows 10, left alt+shift are assigned to switch languages along with windows+space. As far as I can tell, both commands do identical things. I'll file a request with Microsoft to remove the left alt+shift combination as this is the one that cause the most problems. It's used far more frequently in forming keyboard commands.

[2017-07-12 10:38] sharkboyto opened #7386 "Access to Javascript Debugger on Firefox, Internet Explorer and Chrome!"
Hi,
I'm an italian blind developer.
My preferred accessible tolls are:
- Eclipse IDE
- Notepad++
- dbeaver (for DB)
- Tera Term  (for ssh terminal)
- WinSCP (for ftp connection and above)

For my work I need to debug web pages contain Javascript code.

The tools integrated into the most used web browsers are not accessible through assistive technologies, only with internet explorer have managed to

[2017-07-12 13:15] mohdshara commented on #3549
thanks. I just can't find the table responsible for input C:\nvda\louis\tables\ar-ar-g1.utb seems to handle Arabic braille output. while ar.tbl doesn't seem to do anything. can you guide me in this regard?

[2017-07-12 14:01] CSGiuliano77 opened #7388 "NVDA throws Error in a specific Word Doc"
### Steps to reproduce:

1.  Either open Word 2016 or open the attached file (Student log form 1.1.docx from File Explorer.
2.  Press either up or down arrows to read the text anywhere in the doc.
3.  NVDA plays an error tone.
4.  Relevant error text from NVDA log states:
ERROR - RPC process 3344 (WINWORD.EXE) (09:22:56.253):
Thread 8900, build\x86\remote\winword.cpp, calculatePreAndPostColumnOffs

[2017-07-12 14:29] dkager opened #7389 "Unnecessary import in api.py"
The `braille` module is imported in `setReviewPosition` but is also globally imported at the top of the file. The function-specific one is redundant. Or if it's not, a line of documentation would be nice to explain this.

[2017-07-12 15:16] ehollig commented on #6153
Is update check now working as expected? I assume so, otherwise this would get more attention. Can this be closed?

[2017-07-12 15:23] ehollig commented on #6121
Sounds like this issue has been resolved.

[2017-07-12 15:35] ehollig commented on #5431
All ribbons and elements are announced perfectly in Microsoft Word 2016. Can someone confirm that it works in 2013? Otherwise, I would suggest a close.

[2017-07-12 15:43] dkager commented on #4981
Closing because Google Talk has been discontinued (and because this issue never got a response).

[2017-07-12 15:43] #4981 closed

[2017-07-12 15:50] ruifontes commented on #5431
Yes, it also works in 2013.

Rui

-----Mensagem Original-----
De: ehollig
Data: 12 de julho de 2017 16:35
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Problem Reading Ribbons and its Corresponding
Elements with Shortcut Keys in Word 2013 (#5431)

All ribbons and elements are announced perfectly in Microsoft Word 2016. Can
someone confirm that it works in 2013? Otherwise, I would

[2017-07-12 15:55] dkager commented on #2976
@jcsteh Thoughts? Thinking about wontfix because AFAIK speech recognition software can emulate keyboard shortcuts and hence interact with NVDA. But it could be a very nice feature.

[2017-07-12 16:01] dkager commented on #3817
Closing because the Office online apps have changed quite a bit over the years. Please open a new issue if this problem still occurs.
CC @MarcoZehe

[2017-07-12 16:01] #3817 closed

[2017-07-12 16:15] dkager commented on #1356
In https://github.com/nvaccess/nvda/issues/1356#issuecomment-155287334 it is suggested that this is specific to WLM's text controls, not text controls in general.

Windows Live Messenger has been discontinued. Closing.

[2017-07-12 16:15] #1356 closed

[2017-07-12 16:18] dkager commented on #1185
Windows Live Messenger has been discontinued. Also, it's not really an NVDA issue. Closing.

[2017-07-12 16:18] #1185 closed

[2017-07-12 16:19] dkager commented on #902
Even if it worked in JAWS, WLM has now been discontinued. Closing.

[2017-07-12 16:19] #902 closed

[2017-07-12 17:13] ehollig commented on #5799
Maybe I am not doing it right, but when selecting a paragraph of text in Microsoft Word 2016 and performing NVDA+F, text remains to appear selected visually.

[2017-07-12 17:27] ehollig commented on #251
Acording to [Wikipedia](https://en.wikipedia.org/wiki/Yahoo!_Messenger), the Yahoo Messenger desktop client is no longer being developed and the clients no longer working by August 31, 2016.
CC @josephsl @leonardder

[2017-07-12 17:35] ehollig commented on #3080
I do not find any repetition using the above steps with Internet Explorer 11 and Windows 10

[2017-07-12 17:42] ehollig commented on #3408
I am not able to replicate this issue on Windows 10 using IE 11. Could someone using Windows 8 and IE 10 please test this?

[2017-07-12 18:10] ehollig commented on #1710
Is this still the case with Windows 7 systems? I would like to say and hope not.

[2017-07-12 18:35] fernando-jose-silva commented on #1710
Unfortunately I still have this problem on a machine with nvda currently master 14172 and windows 7 64bits.
The nvda stops responding for about 15 seconds and then resumes working correctly.
These crashes occur several times a day and occur at various locations, reading web pages, reading emails, browsing folders.
I am available.

[2017-07-12 18:56] ehollig commented on #686
Could #1710 be related?

[2017-07-12 19:09] fernando-jose-silva commented on #6121
I no longer have this problem, thank you.

[2017-07-12 19:41] ehollig commented on #1618
I believe OE bugs are no longer being fixed. @jcsteh also says this may not be an NVDA issue

[2017-07-12 21:03] fernando-jose-silva commented on #686
I believe so.

Enviado do meu iPhone

[2017-07-12 21:50] ehollig commented on #5588
Is this still the case with NVDA 2017.2?

[2017-07-12 23:06] #1618 closed

[2017-07-12 23:07] #6121 closed

[2017-07-12 23:15] jcsteh commented on #251
It looks like there is some new Yahoo Messenger app now which is still supported. However, we don't have any details at all concerning the accessibility of this new client, so I think that should be addressed separately. Closing.

[2017-07-12 23:15] #251 closed

[2017-07-12 23:25] jcsteh commented on #2976
Supporting voice commands is definitely in scope for NVDA. I'd say this is a valid (and potentially useful) feature. However, DictationBridge already supports this for Dragon and might some day support it for Windows Speech Recognition. While DictationBridge is a separate add-on, it's a much more compelling solution because it makes dictation more accessible as well, and duplicating effort here wo

[2017-07-12 23:25] #2976 closed

[2017-07-12 23:31] jcsteh commented on #5431
This was possibly a regression introduced during the development of #3831. I haven't seen any further reports of this either. Closing.

[2017-07-12 23:31] #5431 closed

[2017-07-12 23:38] jcsteh commented on #6153
Yes, update checking is working now; this was broken by 621e5393 and fixed by ac6b5228. As to why email addresses are required for downloads, this helps us to get a more accurate count of unique users. We plan to provide a statement clarifying the reasons for this on our new website, though there is no ETA on the launch for that yet.

[2017-07-12 23:38] #6153 closed

[2017-07-12 23:39] jcsteh commented on #7389
Nope, the function specific import is redundant and can be removed.

[2017-07-12 23:39] ehollig commented on #5399
I am able to open [Exercise 1](https://www.w3schools.com/js/exercise.asp?filename=exercise_conditions1) on [W3Schools](http://www.w3schools.com/js/js_if_else.asp) using IE 11 and latest NVDA. Can this be closed?

[2017-07-12 23:48] jcsteh commented on #3549
The same tables are used for both input and output; in this case,
ar-ar-g1.utb. The .tbl files are just metadata and can be ignored; NVDA
does not use them.

[2017-07-13 00:03] jcsteh commented on #5399
Closing as worksforme. Please reopen if the problem persists.

[2017-07-13 00:03] #5399 closed

[2017-07-13 01:05] jcsteh commented on #5469
@elliott94, can you still reproduce this?

[2017-07-13 02:26] ehollig commented on #5416
@josephsl: do you think this is a Korean issue or a Hims braille issue? I wonder if this still exists

[2017-07-13 02:39] ehollig commented on #5252
I am not able to replicate this. If I press the next button, arrowing around reads the updated text under the cursor.

[2017-07-13 02:43] ehollig commented on #5128
Do we have any additional information from the person who created this issue? CC @jcsteh

[2017-07-13 02:46] ehollig commented on #5188
Any additional information from the creater of this issue? CC @jcsteh

[2017-07-13 02:57] ehollig commented on #5233
This sounds very similar to #5320

[2017-07-13 03:04] jcsteh commented on #5233
Closing as duplicate of #5320, as it has a better summary and has been prioritised.

[2017-07-13 03:04] #5233 closed

[2017-07-13 03:05] jcsteh commented on #5188
Closing, as we don't have an easy way to find the reporter and this issue is now two years old without activity. We can reopen if the reporter provides the details requested.

[2017-07-13 03:05] #5188 closed

[2017-07-13 03:07] jcsteh commented on #5128
Closing, as we don't have an easy way to find the reporter and this issue is now two years old without activity. We can reopen if the reporter provides the details requested.

[2017-07-13 03:07] #5128 closed

[2017-07-13 03:07] #5252 closed

[2017-07-13 03:08] jcsteh commented on #5252
Closing as worksforme. If the problem persists, please provide details.

[2017-07-13 06:18] leonardder commented on #2385
Ok, this is causing major headaches. I've tried two things so far.

1. The implementation as proposed above. Auto tethering to focus is done using Braillehandler.handleGainFocus and Braillehandler.handleReviewMove. Auto tethering to review is done using the several scripts in globalCommands. This has the drawback that, if you are auto tethered to review and you change focus, the review cursor chan

[2017-07-13 06:35] jcsteh commented on #7386
These are issues that need to be fixed in the browsers. The browsers simply do not expose enough information for a screen reader to be able to access these areas.

There was some discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1088804 about making the Firefox Scratchpad accessible.

Beyond this, please file bugs against Firefox or Chrome (if they haven't been filed already).

Thanks.

[2017-07-13 06:35] #7386 closed

[2017-07-13 06:37] leonardder commented on #7386
Note that as for Firefox, firebug is fairly accessible if you explicitly enable its accessibility support. Also, I've had quite good results in the browser console with reviewing javascript errors. For example, I use the browser console for debugging grease monkey scripts.

[2017-07-13 09:03] dkager commented on #7389
Do you want a PR or can you sneak in a quick commit? :)

[2017-07-13 09:11] leonardder commented on #7389
We can do this as part of #2385 probably, since we might have to hack
into that function.

[2017-07-13 10:00] leonardder commented on #2385
To make clear, I myself prefer the second approach. @DKager, you?

[2017-07-13 10:04] dkager commented on #2385
Yes, I prefer option 2 even if it takes some refactoring.

[2017-07-13 13:34] ehollig commented on #5454
It sounds from the comments that NVDA doesn't lose focus and there is no noticeable effect aside from the error sound. This problem probably does not exist anymore. I would suggest a close, unless the author continues to have issues with this.

[2017-07-13 13:46] ehollig commented on #5424
Original author states that he can not reproduce the issue. I am unable to either. Suggest a close.

[2017-07-13 13:52] ehollig commented on #5423
Confirmed with Chrome 59. Is this a Chrome issue?

[2017-07-13 14:09] leonardder commented on #5423
Quick approach to have such a slider is to paste the following on a Chrome or Firefox address bar:
[code]

In Chrome Canary 61.0.3156.0 browse mode, this reports as slider, without the value. However, when you change the value in focus mode, the change is reported accurately. In Firefox 54.0.1, the slider is fully accessible. Same for IE11 and Edge in the Windows 10 creators update.
@ehollig: Coul

[2017-07-13 14:17] ehollig commented on #5423
In Chrome 59 browse mode, this reports as slider, without the value. When you change the value in focus mode using the arrow keys, nothing is reported.

[2017-07-13 14:29] leonardder commented on #5423
So it seems it has been fixed in Canary, at least for the focus mode part. @JCSTeh, the finding that for Firefox, the value of the slider is exposed in browse mode just fine, suggests that there's still work to do for Google at some point. Is that correct?

[2017-07-13 14:34] leonardder commented on #5423
As for quick navigation, it is quite easy to add this for form fields. I'd argue that the behaviour of sliders is somewhat similar to combo boxes in how you select a value from a non-visual perspective (with the keyboard).

[2017-07-13 15:06] ehollig commented on #6020
I am not able to replicate this. Could this possibly be related to #5339?

[2017-07-13 15:22] leonardder opened #7390 "Inconsistent browse mode behavior for html5 input="number""
### Steps to reproduce:
Firefox/Chrome address bar:
[code]

For IE and Edge, paste this in a HTML file.

### Expected behavior:
Equal presentation in Browse mode and equal quick navigation behavior

### Actual behavior:
* Firefox 54: presented as spin button with edit control, navigable with e and f quicknav
* Chrome Canary 61: presented as spin button editable, value presentation is entirely brok

[2017-07-13 15:23] ehollig commented on #4478
Was this submitted to the translations repository and fixed? CC @josephsl

[2017-07-13 16:10] Hatoon-fel commented on #3549
@jcsteh Hello!
I tried to edit the ar-ar-g1.utb to make it avoid confusion between Arabic and english characters, by trying to edit all include statements, But nothing change.
could you guide us to the right statements we have to edit, or if there is another file we need to edit please?
Thank you for all your efforts to make NVDA better!
@mohdshara

[2017-07-13 16:22] fernando-jose-silva opened #7391 "Some loss of focus on web pages"
I'm locating some focus failures when performing a search on a web page.
What happens is that shortly after triggering the nvda search window with ctrl + nvda + fe perform a search, the focus goes to the result more after pressing down arrow the focus does not continue next to the text found, the focus goes to the beginning from page.
I was able to reproduce with a frequent frequency in several we

[2017-07-13 16:59] leonardder commented on #5424
Seems like a one time occurrence indeed. Closing.

[2017-07-13 16:59] #5424 closed

[2017-07-13 17:03] leonardder commented on #5454
It is quite likely that Telegram has changed since the initial report, but I've seen those "AttributeError: 'NoneType' object has no attribute 'obj'" messages myself as well. I wonder whether exception handling should be removed at some point.

[2017-07-13 17:06] leonardder commented on #1710
cc @brian1gaff

[2017-07-13 17:09] leonardder commented on #3080
I'm closing this as invalid. This is or was probably related to bad web programming. If there are duplicates in the source of the website, there's nothing we could or should do about it.

[2017-07-13 17:09] #3080 closed

[2017-07-13 17:11] leonardder commented on #3080
Additional note, I recall JAWS has a feature to explicitly filter duplicated links, but I think this is not something that should go in NVDA core. Duplicate links are there for a reason, and if they are there for no valid reason, that's not something a screen reader should bother with.

[2017-07-13 17:14] leonardder commented on #7388
cc @FeerRenrut @MichaelDCurran, I recall the margin reporting code is from one of you guys, but not sure.

[2017-07-13 17:15] elliott94 commented on #5469
This isn't something that I've seen for a while now - happy for it to be closed unless anybody else disagrees.

[2017-07-13 17:16] leonardder commented on #3959
@csm120: Can you still reproduce this?

[2017-07-13 17:16] leonardder commented on #2519
This is annoying, but certainly not high priority. Giving this p4.

[2017-07-13 17:19] leonardder commented on #3952
@k-kolev1985: Can you still reproduce this in Total Commander 9.0?

[2017-07-13 17:19] leonardder commented on #3953
@k-kolev1985: Can you still reproduce this in Total Commander 9.0?

[2017-07-13 17:20] elliott94 opened #7392 "Excel 2010: Browse Mode Notification sounded when Navigating away from a Workbook into Firefox"
STR:

1. Ensuring that no web browser windows are open, launch Excel and open a new workbook

2. Leaving Excel open, open a new Firefox session

Actual: The notification for Browse Mode is sounded

Expected: Nothing should happen when the page is loaded

[2017-07-13 17:20] leonardder commented on #3969
@qchristensen: is the number of slides instantly visible for sighted users when they open a presentation?

[2017-07-13 17:26] leonardder commented on #2960
Anyone able to reproduce this with office 2010? This ticket looks quite abandoned. If we haven't received more information about this at the end of next week, I will close it due to lack of enough information. For example, it would have helped if we knew whether the issue also occurred with NVDA 2012.4

[2017-07-13 17:29] leonardder commented on #2973
This ticket looks abandoned. Furthermore, it is very likely that conexant updated their applet since the initial report.

So, this is a call for other conexant users. If we haven't gotten new information about this ticket at the end of next week, I will close this.

[2017-07-13 17:30] leonardder commented on #3679
@QChristensen, what do you think about this?

[2017-07-13 17:34] leonardder commented on #1699
Word 2003 is very old. I'd close this as won't fix if it wasn't a duplicate of #649. So, closing anyway.

[2017-07-13 17:34] #1699 closed

[2017-07-13 17:36] leonardder commented on #3263
Closing this as invalid, as this seems abandoned and we don't have enough information. For example, how is the status bar information retrieved, using NVDA's status bar command or by moving the focus to it using F6? Also note that, at least for Word 2016, it is possible to toggle what is shown in the status bar and what not.

If it is the status bar that can't be found, this is also a duplicate of

[2017-07-13 17:36] #3263 closed

[2017-07-13 17:39] leonardder commented on #3270
For Word 2017, NVDA only says that the spelling and grammar check is complete, no information about statistics whatsoever. However, it at least reads the dialog contents.

Anyone who can reproduce this in Word 2010?

[2017-07-13 17:45] leonardder commented on #3293
I can reproduce this in Word 2016, at least when I use shift+f3 as in the issue title.

I wonder whether it is possible to track down this command, similar to changing bold with ctrl+b, italic with ctrl+i, etc.

CC @MichaelDCurran, @FeerRenrut

[2017-07-13 17:57] leonardder commented on #2818
@k-kolev1985, I can't reproduce this myself. Could you please report whether this is still the case for you?

[2017-07-13 17:57] dkager commented on #2285
So do sighted people see an indication of a successful copy (not a paste)?
CC @leonardder

[2017-07-13 17:58] ehollig commented on #3293
I am not sure if this is what the original poster is talking about, but I can also confirm this in Word 2016.
Shift+F3 = Change the case of letters
F8 = Extend a selection
Shift+F8 =Reduce the size of a selection
https://support.office.com/en-us/article/Keyboard-shortcuts-for-Microsoft-Word-on-Windows-95ef89dd-7142-4b50-afb2-f762f663ceb2

[2017-07-13 17:58] leonardder commented on #2811
This is abandoned and I'm afraid the report is incomplete. E.g. what version of NVDA, how to reproduce? For example, I'd say this is about say all, but I'm just not sure.

Closing as invalid.

[2017-07-13 17:58] #2811 closed

[2017-07-13 18:01] leonardder commented on #2828
This issue looks abandoned and very specific. Closing, but if this still occurs, please give a shout and we can reopen.

[2017-07-13 18:01] #2828 closed

[2017-07-13 18:01] dkager commented on #2292
Closing because this issue looks vague. Also, can't reproduce in Word 2016, though it looks quite different from e.g. Word 2003.
If there is a problem in older versions of Word it should probably go into a new issue with more details.

[2017-07-13 18:01] #2292 closed

[2017-07-13 18:02] dkager commented on #2293
Closing because of a lack of information.

[2017-07-13 18:02] #2293 closed

[2017-07-13 18:02] leonardder commented on #1904
Due to the age of this ticket, it is very likely that this has been fixed now.

[2017-07-13 18:02] #1904 closed

[2017-07-13 18:16] leonardder commented on #1965
This is also how JAWS does this. Honestly, I have list reporting disabled in browsers as I find it too verbose.

[2017-07-13 18:25] leonardder commented on #5606
This is fixed for spelling errors. For grammatical errors, #7319 will fix this.

[2017-07-13 18:28] leonardder commented on #3869
Since this ticket is Abandoned and we haven't seen similar reports about the suggestion list not being read, closing as duplicate of #3410

[2017-07-13 18:28] #3869 closed

[2017-07-13 18:29] leonardder commented on #3278
Closing in favour of #3410

[2017-07-13 18:29] #3278 closed

[2017-07-13 18:30] ehollig commented on #997
I was able to find the "Settings & Privacy" link and activate it. It is likely that LinkedIn has changed their website since this ticket was created. Therefore, instructions may be different.

[2017-07-13 18:32] leonardder commented on #3714
This is related to #3410, although that's a newer version in which Microsoft has changed a lot, according to @JCSTeh. However, since it is also related to usability issues regarding to spell checking, closing this in favour of #3410. May be we can discuss all the spell checker related issues there, regardless of Word version.

[2017-07-13 18:32] #3714 closed

[2017-07-13 18:35] leonardder commented on #2070
This ticket looks abandoned. Outlook 2007 is also very old anyway. We can discuss reopening if this is still reproducible.

This is also related to #3410, although that's for a newer office version, and Word specific.

[2017-07-13 18:35] #2070 closed

[2017-07-13 18:36] dkager commented on #2357
Closing as invalid because:
- Lack of information.
- The websites mentioned have changed.
- IE8 is rather old.

[2017-07-13 18:36] #2357 closed

[2017-07-13 18:37] leonardder commented on #3482
This is related to #3410, but this is from an enhancement perspective. #3410 has a priority of P3. @JCSTeh, Should we treat these as one and close this one in favour of #3410?

[2017-07-13 18:41] leonardder commented on #7392
Why do you think this is expected behaviour? I'd expect that if I am in Excel, even when I am in Excel browse mode, that Firefox will also trigger the browse mode sound since I've been moving into another app which triggered focus mode.

[2017-07-13 18:41] ehollig commented on #1305
Google Voice has gone through a few changes over the years. Considering the age of this ticket, lack of information and steps to reproduce, I think it is safe to say it is fixed.

[2017-07-13 18:42] ehollig commented on #6840
@4RJames, is this still the case?

[2017-07-13 18:43] dkager commented on #2360
Closing as worksforme because it works for me. :)
Looks like an issue that was specific to a single installation of Windows with NVDA. Please reopen if the log does contain useful information after all.

[2017-07-13 18:43] #2360 closed

[2017-07-13 18:44] leonardder commented on #997
Linked in has changed in a very major way. Closing this as works for me. @ehollig, thanks for trying to reproduce!!

[2017-07-13 18:44] #997 closed

[2017-07-13 18:48] dkager commented on #2364
Works for me in IE11 with current version of youtube.com.

[2017-07-13 18:48] #2364 closed

[2017-07-13 18:49] leonardder commented on #1305
Hmm, saying that it has been fixed goes a bit too far in my opinion since we aren't sure. Closing, but I think neither works for me nor invalid is appropriate here.

[2017-07-13 18:49] #1305 closed

[2017-07-13 18:56] ehollig commented on #5218
I am able to create and read reminders with cortana in Notebook using Windows 10,1607. NVDA Master 14175

[2017-07-13 18:59] leonardder commented on #5218
Sounds like a works for you, so it will probably work for me as well. Closing, but please ring a bell when there's still something more or less horribly wrong.

[2017-07-13 19:01] josephsl commented on #5218
NO, not just yet.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Thursday, July 13, 2017 12:00 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] more support for cortana (#5218)

Sounds like a works for you, so it will probably work for me as well. Closing, but please ring a bell when there's still somethin

[2017-07-13 19:03] leonardder commented on #1969
Interesting thought, but this shouldn't be a replacements for placemarkers IMO.

[2017-07-13 19:04] josephsl commented on #5218
There are more work to be done.

Technical: issue caused by EdgeHTML code. Back when I (nvdakor) commented on this, NVDA did not have proper Edge support. Now that it does, it can be closed now. But there is an important thing to be done, and that'
s a separate issue for which I wrote a solution.

Thanks.

[2017-07-13 19:04] #5218 closed

[2017-07-13 19:07] leonardder commented on #3529
Duplicate of #2590

[2017-07-13 19:07] #3529 closed

[2017-07-13 19:09] leonardder commented on #4679
For the synthesizer in the settings ring part, this is a duplicate of #2590. Leaving it open due to the second idea.

[2017-07-13 19:12] ehollig commented on #6837
In Google Voice, I can confirm that you can read the list of entire text messages by mouseover. However, text messages can only be read in focus mode with tab and shift+tab, not browse mode. I am not exactly sure why this is, but the original poster requested to read text messages via mouseover.

[2017-07-13 19:16] leonardder commented on #4679
Actually, I can't see a use case for having synthesizers hidden in the synthesizer dialog, since it allows first letter navigation as @JCSTeh pointed out. Closing as duplicate for the first issue and a won't fix for the second one. But, feel free to provide a valid use case for the latter and we can consider reopening.

[2017-07-13 19:16] #4679 closed

[2017-07-13 19:33] k-kolev1985 commented on #3952
@leonardder Yes, I can still reproduce this with Total Commander 9.0.

[2017-07-13 19:40] k-kolev1985 commented on #3953
@leonardder No, I can no longer reproduce this with Total Commander 9.0. It seams that this bug has been fixed on Total Commander's side.

However, on a 64-bit system, if you launch the 32-bit variant of Total Commander, NVDA says "selected" in front of each item in the "Directory menu" list. But I guess that is a totally different bug altogether. :)

[2017-07-13 19:48] k-kolev1985 commented on #2818
@leonardder No, I also can no longer reproduce this issue. You may close the ticket.

[2017-07-13 20:48] ehollig commented on #5495
@abdullah5490 is this still the case with Outlook 2016 using NVDA 2017.2?

[2017-07-13 21:00] ehollig commented on #5498
I can confirm this in Word 2016, although I did not notice it until now.
### STR:
1. Open Microsoft Word
2. Add some text to the document
3. Exit by pressing Alt + F4
### Expected Behavior:
NVDA says "Microsoft Word Dialog" once.
### Actual Behaviour:
NVDA says "Microsoft Word Dialog" twice.
### Remarks:
Is this intentional or something that really needs to be fixed?

[2017-07-13 21:07] ehollig commented on #5519
@elliott94, have you had this issue where the Ease of Access Center opens upon launch of NVDA happen again, or was that a one time thing?

[2017-07-13 21:14] abdullah5490 commented on #5495
@ehollig Hi there. Actually i'm not using outlook as my default e-mail client anymore. But i'll confirm you in my next comment after configguring outlook in few hours.

[2017-07-13 22:21] elliott94 commented on #5519
No; I haven't seen this since. Happy for it to be closed.

[2017-07-13 22:27] ruifontes commented on #7392
Leonard, in that case, we should have the sound of browse mode deactivated
when exiting Excel and the sound of entering browse mode when landing in
Firefox...
For me, only make sense if happens like I said... Browse mode deactivation
when exiting the app in browse mode and entering again in browse mode when
landing in the new app...

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 13

[2017-07-13 22:27] elliott94 commented on #7392
It was simply that the sound shouldn't play; it doesn't have any advantage to the user, and if anything has the potential to cause some confusion as to why a notification sound is output.

[2017-07-13 22:28] ruifontes commented on #3270
Leonard, I think they ment the Word Count dialog...

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 13 de julho de 2017 18:39
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Word 2010: Allow NVDA to read the Text
Statistics dialog. (#3270)

For Word 2017, NVDA only says that the spelling and grammar check is
complete, no information about statistics whatsoever. Howev

[2017-07-13 22:53] jcsteh commented on #7392
We keep track of the last browse mode state; i.e. browse mode or focus mode. We play the sound whenever that state changes. In Excel, you start in focus mode, so when you switch to a browser, the sound gets played because that document is in browse mode and you were previously in focus mode (in Excel). Remember, Excel has browse mode now, so the focus mode and browse mode concepts do apply.

[2017-07-13 23:05] ehollig commented on #5579
Can anyone using Word 2007 reproduce this with the latest version of NVDA?

[2017-07-13 23:11] abdullah5490 commented on #5495
no @ehollig this issue is resolved i think, because i;m using outlook from 1hour but it doesn't act in a problematic way.

[2017-07-13 23:43] #5519 closed

[2017-07-13 23:58] ruifontes commented on #2385
One question that I possiblely didn't understood...

You wrote:
In other words, the braille will first present the focus object in review
mode and then auto tethers to focus.

The only difference will not be the cursor shape?

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 13 de julho de 2017 07:18
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Automatically switch

[2017-07-14 00:15] jcsteh commented on #5498
Annoying, but doesn't break functionality. P3.

[2017-07-14 00:19] jcsteh commented on #5606
Closing in favour of #7319.

[2017-07-14 00:19] #5606 closed

[2017-07-14 00:19] jcsteh commented on #5606
For reference, quick nav to/listing of spelling errors is issue #6942, PR #7258.

[2017-07-14 00:25] jcsteh commented on #1965
The problem with this is that there is no actual position for the start of a list or table; it's just meta information. In the world of virtual buffers (where you can generate arbitrary text as you wish), this might be possible, but we're slowly moving away from this. There are also questions about how to handle this when you start bringing editable text into the mix. Certainly, I don't think this

[2017-07-14 00:27] jcsteh commented on #3679
I think we'd need to see solid real world use cases for this.

[2017-07-14 00:30] jcsteh commented on #5454
I think this occurs when an editable text control dies just before (or during) NVDA's attempt to query information from it. P3 to investigate and hopefully find a way to handle these exceptions gracefully. Not p2 because we haven't found a case where it actually breaks functionality.

[2017-07-14 00:33] jcsteh commented on #3549
Please address questions/bugs regarding liblouis tables to the liblouis project. See https://github.com/liblouis/liblouis for details. There is a mailing list to which you can subscribe to ask questions. Thanks.

[2017-07-14 00:34] jcsteh commented on #3549
Closing because the table is now listed after #6449. It needs to be fixed to support back-translation properly, but that should be addressed in the liblouis project. Once the fixes make it into a liblouis release, this can be included in NVDA.

[2017-07-14 00:34] #3549 closed

[2017-07-14 00:37] jcsteh commented on #4478
Yes. It landed in NVDA in 22326a16 (2014.4).

[2017-07-14 00:37] #4478 closed

[2017-07-14 00:40] jcsteh commented on #7390
See #5422 for the issues specific to Chrome. Note that this is blocked on a fix from Google.

[2017-07-14 00:41] Qchristensen commented on #3969
When you open a presentation, visually you can see the first 4 or 5 slides down the left side in the slides list.  Just under that, the status bar has "Slide 1 of 100" (or however many slides there are).  You can press NVDA+end (laptop: NVDA+shift+end) to read that.  I can see the benefit in knowing the number of slides, although this isn't announced for other programs - eg number of pages in a Wo

[2017-07-14 00:44] jcsteh commented on #6020
Sounds like the same issue. Closing as duplicate.

[2017-07-14 00:44] #6020 closed

[2017-07-14 00:47] andrew-l-d opened #7393 "Focus/browse mode sounds"
I believe the sounds to indicate focus and browse modes introduced with v2017.3 are not sufficiently different from each other.  I accept that the difference is discernable, especially when using earphones, but I foresee people being confused or worse, missing the indication.  While the sounds used up to v2017.2 can be a bit raucous, they are eminently distinguishable.

Andrew

[2017-07-14 00:55] jcsteh commented on #5423
[**@leonardder**](https://github.com/leonardder) commented on [14 Jul 2017, 00:29 GMT+10](https://github.com/nvaccess/nvda/issues/5423#issuecomment-315094856 "2017-07-13T14:29:25Z - Replied by Github Reply Comments"):

Right. We were tracking this in #6323.

Technical: Chrome is exposing the text interface on these sliders and exposing the label as the text. I'd argue they shouldn't expose the tex

[2017-07-14 00:56] jcsteh commented on #5423
[**@leonardder**](https://github.com/leonardder) commented on [14 Jul 2017, 00:34 GMT+10](https://github.com/nvaccess/nvda/issues/5423#issuecomment-315096393 "2017-07-13T14:34:32Z - Replied by Github Reply Comments"):

Agreed. I'd be happy to see form field quick nav move to sliders.

[2017-07-14 01:25] ehollig commented on #5321
I do not believe this is the case anymore.

[2017-07-14 01:38] ehollig commented on #5310
I am not able to replicate this from the instructions provided in the previous comment. I am able to access all components of this app similar to Narrator. Has the camera app changed since this was reported?
CC @josephsl

[2017-07-14 01:41] ehollig commented on #5270
Is there a way we could get a log demonstrating this issue? I do not believe I have experienced this on Windows 10.

[2017-07-14 01:46] ehollig commented on #5273
This indeed could be because the voice is just slow/resource intensive and is slowing things down. Not much that we can do, unfortunately, unless there is additional information provided.

[2017-07-14 01:48] josephsl commented on #5270
Hi,

This was build 10240 (Version 1507), which was retired on May 9, 2017 for most users (except on Enterprise LTSB). Because this doesn't happen on later builds, this issue will be closed.

Thanks.

[2017-07-14 01:48] #5270 closed

[2017-07-14 01:52] ehollig commented on #5298
When I click the download button, everything works as expected. This sounds like it was an issue with the website.

[2017-07-14 02:01] josephsl commented on #5310
Hi,

Live region change event handling should fix some problems. The only annoying thing is that certain controls with no names raise live region change events, and I'll take care of that as part of next version of Windows 10 App Essentials add-on before asking @MichaelDCurran to take my PR.

Please reopen if folks run into other problems with this app.

Thanks.

[2017-07-14 02:01] #5310 closed

[2017-07-14 02:03] ehollig commented on #5225
Since #5651 is closed, can this be closed as well?