[2017-08-14 23:54] #4627 closed

[2017-08-15 00:11] #7490 closed

[2017-08-15 01:03] derekriemer commented on #4422
What if it's <img role="math" aria-label="x+2" blah>

[2017-08-15 01:04] ehollig commented on #4624
Marking this as feature.

[2017-08-15 01:07] ehollig commented on #4654
Closing, as @jcsteh provided the necessary information in https://github.com/nvaccess/nvda/issues/4654#issuecomment-155330346

[2017-08-15 01:07] #4654 closed

[2017-08-15 01:24] ehollig commented on #4835
I am not able to reproduce this using Firefox 54 and going to the stated Github page and viewing the source. Closing as invalid

[2017-08-15 01:24] #4835 closed

[2017-08-15 01:25] #7473 closed

[2017-08-15 01:29] ruifontes commented on #4624
For me, it is better as it is now, since exists an addon to do that...

Rui

-----Mensagem Original-----
De: Ethan Holliger
Data: 15 de agosto de 2017 02:04
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Ability to optionally hear typed characters in
a password protected feald (#4624)

Marking this as feature.

—
You are receiving this because you are subscribed to this thread.
Re

[2017-08-15 01:46] ehollig commented on #6208
CC @michaelDCurran @jcsteh, this sounds like a general question

[2017-08-15 01:49] ehollig commented on #4998
The provided example no longer exists. I got error 503. Also, as stated in https://github.com/nvaccess/nvda/issues/4998#issuecomment-155335559, the program is working properly. Closing as worksforme

[2017-08-15 01:49] #4998 closed

[2017-08-15 01:52] ehollig commented on #5030
A gentle nudge to @michaelDCurran or @jcsteh on this question.

[2017-08-15 02:04] ehollig commented on #4624
For reference, here is the [Speak Passwords addon](https://addons.nvda-project.org/addons/speakPasswords.en.html)

[2017-08-15 02:11] ehollig commented on #4855
Can I have the Braille experts take a look at this issue?

[2017-08-15 02:11] jcsteh commented on #5030
This isn't the right place for this question; nvda-devel is a better place.  That said, nvSpeechPlayer (as opposed to speechPlayerInEspeak) is not being actively maintained, so this isn't likely to get any attention. Closing.

[2017-08-15 02:11] #5030 closed

[2017-08-15 02:21] ehollig commented on #5030
Ah, thank you for the clarification. I got the two mixed up. And for anyone who browses this in the future, here is link to the [NVDA-Devel email list](https://sourceforge.net/p/nvda/lists/nvda-devel/).

[2017-08-15 02:32] derekriemer commented on #4422
wo, um ... I don't know how my message came through like that. What I meant, and have no idea how it happened, is What if `<img role="math" aria-label="a subscript one plus a subscript 2 plus dot dot dot plus a subscript n" src="blah">`

[2017-08-15 03:20] jcsteh commented on #2432
From the character set and the example website URL, I'm guessing this is Russian text. While I don't understand Russian, switching eSpeak to Russian and reading text containing these characters does not report text like "letter four one", etc. as described. This was possibly due to having eSpeak set to the wrong language or broken eSpeak data at the time. Regardless, this appears to be fixed. Clos

[2017-08-15 03:20] #2432 closed

[2017-08-15 03:23] feerrenrut commented on #7074
@derekriemer Could you elaborate on that? Do the use-cases suggested need to change, or should their be additional use-cases? Are you pointing out that keys are context sensitive because it makes it more complicated to fix this issue?

[2017-08-15 03:27] jcsteh commented on #4422
role="math" is somewhat of a problem. The spec is pretty vague/unclear on
how it should be used/handled. Furthermore, it's difficult to differentiate
it from the <math> tag. I honestly don't think we can support this properly
until the spec gets clarified.

[2017-08-15 03:44] feerrenrut commented on #2677
When you say that the item is not clickable, do you mean its not reported as clickable, but you can press enter to press the button? If so, how did you try to "click" the button.

[2017-08-15 04:39] jcsteh commented on #2137
Those two comments don't provide any test case, so we don't have sufficient detail to make a diagnosis. Regardless, it sounds like a separate issue which would need to be addressed separately.

[2017-08-15 04:42] jcsteh commented on #2106
No progress was made. We'd of course be happy to support this display, but we'd need someone to at least initially work with us to address code issues or a loan of a display and documentation as outlined earlier. Closing.

[2017-08-15 04:42] #2106 closed

[2017-08-15 04:46] jcsteh commented on #2054
Closing due to lack of feedback/interest. If there is active interest or someone willing to pursue this, please provide feedback on the outstanding questions here and we can reconsider.

[2017-08-15 04:46] #2054 closed

[2017-08-15 04:47] jcsteh commented on #2067
I don't know. There are newer APIs, but the question is whether we can map these back to WinMM device identifiers. Further research is required.

[2017-08-15 05:31] jcsteh opened #7498 "OneCore Voices: Support faster speech rates, greater pitch range, etc."
Compared with NVDA, Narrator is able to speak at faster rates with the OneCore Voices. It can also access a much wider pitch range. In addition, the rate set in Narrator is not affected by the rate set in Windows Settings, whereas NVDA is affected by this. This is because Narrator used an API which was previously private. That API has now been made public, so NVDA will be able to use it.

See the

[2017-08-15 05:34] josephsl commented on #7498
Hi, the API itself became public since build 16225 and later (according to UWP docs). Thanks.

From: James Teh [mailto:notifications@github.com]
Sent: Monday, August 14, 2017 10:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] OneCore Voices: Support faster speech rates, greater pitch range, etc. (#7498)

Compared with NVDA,

[2017-08-15 05:37] jcsteh commented on #7498
There's a bit of confusion as to when this became public. The documentation I linked to (which is supposedly the official UWP documentation) says 16257. However, I've also seen references which suggest earlier. It's safe to say that it's now available in Insider builds and the preview SDK.

[2017-08-15 06:25] bhavyashah commented on #2946
Confirmed. Using NVDA 2017.2 and Excel 2010on a Windows 8.1 system, please use the following STR to successfully replicate the reported issue:
* Open a new Excel workbook. Your focus will most likely land on a1.
* Type 'hello' in a1.
* Although arrowing around 'hello' works fine, pressing Shift+left/right arrow results in silence.
I ensured that Shift+left/right arrow was indeed selecting the corr

[2017-08-15 07:02] bhavyashah commented on #3109
Since the original author of this ticket is now out-of-reach and unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/3109#issuecomment-155305927 and the two subsequent comments, we remain with information insufficient for diagnosis. Unless we are in touch with a user of said Braille display who can confirm the reported issue, I suggest closing. @ehollig

[2017-08-15 07:22] bhavyashah commented on #3102
The original author of this ticket noted in https://github.com/nvaccess/nvda/issues/3102#issuecomment-155305881 that the reported crash was specific to Windows XP and/or Word 2003, both of which are too old software to address anymore. Thus, I suggest closing. @ehollig

[2017-08-15 07:26] bhavyashah commented on #3098
@michaelDCurran In short, no, the reported issue is not specific to protected documents. Not only does the original author of this ticket indicate this in https://github.com/nvaccess/nvda/issues/3098#issuecomment-155305857, but I can also replicate this successfully from time to time. I may need to more consciously investigate this in order to be able to provide a consistent and reliable STR, but

[2017-08-15 07:31] bhavyashah commented on #3096
Using Firefox 54 and NVDA 2017.2, I am getting completely different results than those provided in https://github.com/nvaccess/nvda/issues/3096#issuecomment-155305849 with http://webdesign.about.com/od/examples/l/bl_aa071105.htm. Going into focus mode on the first edit field of the page and then Tabbing lands me into advertisements, links, and what not - nothing close to what jmkenz  reported. Thi

[2017-08-15 07:33] leonardder commented on #3109
I agree. Closing as invalid.

[2017-08-15 07:33] #3109 closed

[2017-08-15 08:12] bhavyashah commented on #3081
@jcsteh Could you please take a look at the information provided in https://github.com/nvaccess/nvda/issues/3081#issuecomment-155305755 and clarify whether this seems to be an issue that needs case-by-case fixes or if a more universal solution is available.

[2017-08-15 08:12] gdata1 opened #7499 "windows 10 16257 Nvda doesn't say a notification in Microsoft edge"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

Hello. Starting with Windows 1

[2017-08-15 08:17] bhavyashah commented on #3058
@feerrenrut @Qchristensen Could you please be our sighted assistants for the diagnosis of this ticket as requested by @josephsl in https://github.com/nvaccess/nvda/issues/3058#issuecomment-155305585?

[2017-08-15 08:19] bhavyashah commented on #3053
Triagers and MS Office experts: Could you please address @josephsl's proposal of merging this ticket into another as noted in https://github.com/nvaccess/nvda/issues/3053#issuecomment-155305553?

[2017-08-15 08:27] bhavyashah commented on #3041
The announcement of 'nso generic container' for no apparent reason and even multiple times in some cases is an issue across Microsoft Office products. I recall another ticket being present reporting this same extraneous speech for the Apply Styles dialog in Word. Thoughts? @michaelDCurran

[2017-08-15 08:29] bhavyashah commented on #3024
According to https://github.com/nvaccess/nvda/issues/3024#issuecomment-155305158, the reported issue no longer persists with Internet Explorer 11. Since this therefore seems to be specific to older versions of IE, which we no longer can provide fixes for, I suggest closing. @ehollig

[2017-08-15 08:41] josephsl commented on #7499
Hi, I can confirm that live region change event isn’t fired, evidenced by the fact that Narrator too can’t read notifications. I’ll go ahead and send an emergency feedback to MS. Thanks for bringing this up.

From: nikita [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 1:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvac

[2017-08-15 08:41] bhavyashah commented on #2952
@jcsteh Keeping in mind the original author of this ticket is now out-of-reach, does his https://github.com/nvaccess/nvda/issues/2952#issuecomment-155304236 satisfy your initial concerns? At the least, I agree that introducing a toggle for the discussed behaviour seems unneeded.

[2017-08-15 08:47] bhavyashah commented on #2948
The original author of this ticket is now out-of-reach and unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2948#issuecomment-155304189 either. @jcsteh Do we have resources, contacts or technical information sufficient to work on this issue further?

[2017-08-15 08:51] bhavyashah commented on #2917
According to https://github.com/nvaccess/nvda/issues/2917#issuecomment-155303798, @brian1gaff seems to think that this issue may be specific to Windows XP. Also, with the demise of Flash, it investigating Flash specific bug reports may no longer be worthwhile. Thus, I suggest closing.

[2017-08-15 08:55] josephsl commented on #7499
Feedback: https://aka.ms/kr13aq

[2017-08-15 09:02] bhavyashah commented on #3708
@jcsteh confirms the reported issue in https://github.com/nvaccess/nvda/issues/3708#issuecomment-155313961. Does this still occur? If so, please assign a priority you deem appropriate to this ticket.

[2017-08-15 09:07] feerrenrut commented on #3058
I cant seem to reproduce the error text. Using Microsoft Word 2013 and NVDA `master-14289,6c85ce59`

### Steps I took:
1. Create a blank word document
2. Press `alt+n, k` causing the bookmarks window to open (from the insert panel)
3. Create several paragraphs
4. Open bookmarks window again.
5. Added a bookmark (by typing in the edit field, then pressing `alt+a`)
6. Open bookmarks window again.

N

[2017-08-15 09:15] leonardder commented on #3024
Agreed.

[2017-08-15 09:15] #3024 closed

[2017-08-15 09:48] bhavyashah commented on #3723
@jcsteh's https://github.com/nvaccess/nvda/issues/3723#issuecomment-155314300 sounds justification enough. Since we are willing to accept a patch (which seems to me unlikely to come), we probably should mark this as a P4 and label it as a feature. @ehollig

[2017-08-15 09:51] bhavyashah commented on #3728
@jcsteh Could you please clarify if your https://github.com/nvaccess/nvda/issues/3728#issuecomment-155314441 implies that this ticket should be closed as a cantfix?

[2017-08-15 10:41] bhavyashah commented on #3731
I am in agreement with @jcsteh's following quote:
"While I'm sure this is nice, surely this is the user's responsibility. If they install an add-on from somewhere else and then download an add-on with a different name from the official site, we can expect them to remove the old one. This issue is not unique to NVDA add-ons."
I am not too sure of whether we should still pursue implementing this, bu

[2017-08-15 10:57] nvdaes commented on #3731
Hi, I reafirm my previous comments as norrumar (now I'm nvdaes). Cheers

2017-08-15 12:41 GMT+02:00, bhavyashah <notifications@github.com>:

[2017-08-15 11:01] bhavyashah commented on #3764
We will probably need extensive discussion before we can finalize on the UX of this feature request, but this does sound worthwhile, at least to me. Also, I am probably also unfamiliar with the more technical implications of this added verbosity, but on the surface for now, this sounds fascinating and potentially useful. I would like to kindly request thoughts and inputs from others.

[2017-08-15 11:06] bhavyashah commented on #3765
Since the original author of this ticket is now out-of-reach, unfortunately did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/3765#issuecomment-155315412, and with the demise of Flash (which @brian1gaff and @derekriemer believe the provided test case uses), I suggest closing. @ehollig

[2017-08-15 11:08] bhavyashah commented on #3798
Will the transition of NVDA from Python 2.x to 3.x affect this ticket in any way?

[2017-08-15 11:11] bhavyashah commented on #3808
I think I agree with @jcsteh's https://github.com/nvaccess/nvda/issues/3808#issuecomment-155316426 because different Input Help messages for each review mode may make sense to a more advanced user, but it may create potential confusion for a novice user who will due to different Input Help messages being spoken for the same keystroke at different times. Unless @Qchristensen and other documentation

[2017-08-15 11:44] jcsteh commented on #3728
Yes, this can't be fixed.

[2017-08-15 11:44] #3728 closed

[2017-08-15 11:51] jcsteh commented on #2948
We do have contacts at Baum, but without current interest from users, I don't think pursuing this has any practical benefit. I'm closing this for now, but we can reconsider opening discussions with Baum should user interest arise.

[2017-08-15 11:51] #2948 closed

[2017-08-15 11:53] jcsteh commented on #2952
I still think there is a risk of ambiguity here, especially if a lot of different formatting information is being reported. Closing as won't fix.

[2017-08-15 11:53] #2952 closed

[2017-08-15 12:19] leonardder commented on #2948
As far as I know, this display is no longer shipped.

[2017-08-15 14:12] ehollig commented on #3159
Duplicate of #2917

[2017-08-15 14:12] #3159 closed

[2017-08-15 14:17] #3765 closed

[2017-08-15 14:19] derekriemer commented on #3731
I feel like this is the responsibility of the uninstalling addon.

[2017-08-15 14:22] ehollig commented on #2917
This sounds like a duplicate of #2179. Regardless, this will NeedExternalFix from Adobe. Closing as duplicate

[2017-08-15 14:22] #2917 closed

[2017-08-15 14:22] derekriemer commented on #7074
@feerrenrut I was pointing out that not all keys are available at all times, so using input help is not suitable for this, because new keys can come into existance at any point. However, we can't even enumerate all the keys without making keyMaps register themselves with us (Because a completely random NVDAObject can decide hey, I want this key), and it may not exist yet. Just something for the im

[2017-08-15 14:50] ehollig commented on #3041
The ticket that pertains to Word is #1836

[2017-08-15 14:59] ehollig commented on #2677
I should have specified. When I meant clickable, I meant the ability to press enter and for the browse dialog to pop up.

[2017-08-15 15:25] ehollig commented on #3058
I performed the steps provided by @feerrenrut in https://github.com/nvaccess/nvda/issues/3058#issuecomment-322418555 in Word 2016 with no error text reported.
When taking a look at the patch provided, it appears the error is:
"Errors were detected in this file, but Word was able to open the file by making the repairs listed below.  Save the file to make the repairs permanent."
Doing a quick Google

[2017-08-15 15:25] #3058 closed

[2017-08-15 15:53] josephsl commented on #3731
Hi,

Technical: an add-on can find out where an add-on lives and ask for add-on removal if told to do so.

I'd say it's something users should be told about and asked for confirmation before the newer add-on removes an incompatible add-on. As for what Zahari pointed out, this might bring up dependency problem where another add-on may depend on features provided by the deprecated add-on, and this i

[2017-08-15 15:53] #3731 closed

[2017-08-15 16:02] nvdaes commented on #3731
OK, the question is if NVDA's core could implement a function in
addonHandler to borrow translations, as pointed by Mesar.
Cheers

2017-08-15 17:53 GMT+02:00, Joseph Lee <notifications@github.com>:

[2017-08-15 16:14] Brian1Gaff commented on #2917
Well as mentioned, Flash thank goodness is on the way out now. In fact than
very latest installers do work with all windows, but some of the
experimental builds they put out had an installer that only seems to work in
windows 7 and up for nvda, ie the buttons are not identified or missing
altogether.
 I hope we can safely  put this, and flash into the bin!
Brian

bglists@blueyonder.co.uk
Sent via

[2017-08-15 16:27] Brian1Gaff commented on #3765
If this was indeed inaccessible flash, then those people with such sites
will probably have to redesign them in any case as I notice that Firefox now
tends to ward advising any flash add on is not used I notice.
 This is going to make such sites very hard to use!
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'

[2017-08-15 16:43] bhavyashah commented on #3696
The original author's https://github.com/nvaccess/nvda/issues/3696#issuecomment-155313717 clearly indicates that this is not an issue, because numbering is reported when list reporting is enabled and bullets are spoken at the appropriate Symbol level. If @Qchristensen and other documentation specialists can identify any lacking in terms of documentation as noted by the original author of this tick

[2017-08-15 16:47] bhavyashah commented on #5242
To summarize:
* Arrowing and other support for Excel charts will not be supported for Excel 2003 (probably due to 2003 being too old a version to prioritize and specifically work on).
* The lack of support of NVDA for charts in Excel 2003 requires to be documented.
* Listing of charts (probably in the Elements List dialog?) should be disabled for Excel 2003 since we do not support them there anywa

[2017-08-15 17:00] Brian1Gaff commented on #3633
Actually a page on the infosound web site also did something very much the
same, but I persuaded the author to take the offending bits off, and replace
them with normal text, which cured the issue of it going into focus mode for
no apparent reason.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display

[2017-08-15 17:03] ehollig commented on #3102
Closing, as this is a Word 2003 and XP specific issue. Note that I did try this using the attached document and Word 2016 and was able to print to PDF without errors. It also looks like the PDF program that was used has been updated to PDF creator 2.5.1. If this is still an issue using the latest version of this program, we can reopen. However, it sounds like from https://github.com/nvaccess/nvda/

[2017-08-15 17:03] #3102 closed

[2017-08-15 17:10] ehollig commented on #3696
Closing, as this seems to be resolved from https://github.com/nvaccess/nvda/issues/3696#issuecomment-155313717. I still would be interested to hear from @Qchristensen and other documentation specialists on any lagging of documentation in this comment.

[2017-08-15 17:10] #3696 closed

[2017-08-15 17:23] bhavyashah commented on #2880
If I am following this ticket correctly, the 'Allow skim reading during say all' option in the Keyboard Settings dialog does exactly this. It allows for standard navigation during a say all and adjusting the flow of the say all accordingly. When it comes to sentence navigation, this has been discussed elsewhere. bhirmanpour's request to set a dedicated speech rate for say alls may depend on the sp

[2017-08-15 17:27] bhavyashah commented on #2890
@jcsteh Could you please modify the ticket title accordingly to reflect our mostly agreed decision that a warning/error should be presented to mitigate any potential confusion as noted in yours and Mick's comments?

[2017-08-15 17:31] bhavyashah commented on #3120
Duplicate of #4446

[2017-08-15 17:32] bhavyashah commented on #3133
@josephsl's https://github.com/nvaccess/nvda/issues/3133#issuecomment-155306078 seems to invalidate this ticket. Time to close? @ehollig

[2017-08-15 17:35] bhavyashah commented on #3142
@jcsteh's https://github.com/nvaccess/nvda/issues/3142#issuecomment-155306144 suggests that Open Office's IA2 implementation was still under development at that point in time. Jamie, could you please test whether the reported issue still occurs with Open Office?

[2017-08-15 17:41] bhavyashah commented on #3149
Since the English locale of Windows works properly with NVDA as reported in https://github.com/nvaccess/nvda/issues/3149#issuecomment-155306230, it seems possible that this is a problem in the Bulgarian Windows locale itself, something NVDA might have little control over. Triaging thoughts? @jcsteh

[2017-08-15 17:45] ehollig commented on #2887
From https://github.com/nvaccess/nvda/issues/2887#issuecomment-155303421 it sounds like the issue reported is fixed. Closing as worksforme.
## Testing performed:
1. Open MS Excel (I have 2016)
2. Write "Hello" in cell A1.
3. Select A1 and B1 using shift+right arrow.
4. Press applications or shift+F10 and arrow down to format cells and press enter.
5. Press the right arrow key to the alignment tab

[2017-08-15 17:50] bhavyashah commented on #3158
@jcsteh While this issue now only covers the title attribute in IE, does it affect later versions such as IE 11 too? If so, feel free to assign this a priority as deemed appropriate.

[2017-08-15 17:54] bhavyashah commented on #3178
@jcsteh Could you please clarify if your https://github.com/nvaccess/nvda/issues/3178#issuecomment-155306421 implies that this ticket should be closed as a cantfix and partial duplicate?

[2017-08-15 17:56] ehollig commented on #3160
While having Swahili as a supported language of NVDA would be nice, we need a volunteer that can do the Swahili localization. Closing as we are unable to contact the original poster for additional information. CC @josephsl to forward to the translations list to see if there are any Swahili speakers that may be able to help.

[2017-08-15 17:56] #3160 closed

[2017-08-15 18:00] josephsl commented on #3160
Hi, shall be done today.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 10:57 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Swahili language addition (#3160)

While having Swahili as a supported language of NVDA would be nice, we need a volunteer th

[2017-08-15 19:16] bhavyashah commented on #2887
Using NVDA 2017.2 and Excel 2010 on a Windows 8.1 system, when a1 and b1 are merged and centred, there are two results:
* When navigation around the spreadsheet and landing on the merged 'a1 through b1' cell, pressing NVDA+F reports the following:
style Normal
no border lines
Calibri
11.0
black on white
background pattern none
align center
vertical align default
* However, when I press F2 to edit

[2017-08-15 19:47] ehollig commented on #2887
Interestingly, in Excel 2016, when I issue the F2 command to edit the contents of the cell and perform the NVDA+F, NVDA reports, "No formatting information". Maybe @michaelDCurran or @jcsteh could shed some light on this issue and the reasoning for the differences?

[2017-08-15 20:03] ehollig commented on #2880
The Allow skim reading during say all' option will allow you to move up and down by paragraphs during say all. I just tested this functionality on this page after indicating a say all.
Dedicated speech rate for say all can be achieved using profiles.
For sentence movement in browse mode, this is #5463.
For other applications or supporting the moving by sentence natively by NVDA, this is covered in

[2017-08-15 20:03] #2880 closed

[2017-08-15 22:01] jcsteh commented on #3178
#770 is now fixed and should have in turn fixed this. However, given the inherent inconsistency/unreliability of display hooking, we can't be certain as to whether it actually fixes the problem for this particular editor without specific testing.

@Camlorn, is TED Notepad something you still care about or should we close this?

[2017-08-15 22:15] jcsteh commented on #3158
It looks like IE 11 does support aria-label, so title gets correctly mapped to accDescription and this therefore gets reported properly in focus mode or when pressing NVDA+tab. However, we don't map accDescription to the description attribute in the vbuf backend, so this doesn't get reported when using quick navigation, etc.

Low priority because it's IE, but this shouldn't be too hard to fix.

[2017-08-15 22:23] jcsteh commented on #3142
Tested in LibreOffice, since OpenOffice is no longer actively maintained. Can't reproduce in LibreOffice 5.3.0.3. This is a bit old now, but it's reasonable to assume this fix still holds in later versions. Closing.

[2017-08-15 22:23] #3142 closed

[2017-08-15 22:28] jcsteh commented on #4272
I'm not able to look into this at the moment. I don't have any prior knowledge here, so anyone should be able to test this. It might be easiest if someone with some sight could take a look, but it might also be possible to figure out from the HTML/DOM.

[2017-08-15 23:11] ehollig commented on #4272
I just had a look at this in basic HTML. I noticed, in the HTML and visually, (with what little vision I have) that the message in the table appears on one line. You can also tell by changing the Maximum characters on one line in the Browse mode settings to 200 or even 300. To test this for yourself:

1. Press NVDA+CTRL+B and change the maximum characters on one line to 200.
2. Login to Gmail Basi

[2017-08-15 23:11] #4272 closed

[2017-08-15 23:19] ehollig commented on #3120
Closing in favor of #4446

[2017-08-15 23:19] #3120 closed

[2017-08-15 23:21] ehollig commented on #3133
Closing because of https://github.com/nvaccess/nvda/issues/3133#issuecomment-155306078

[2017-08-15 23:21] #3133 closed

[2017-08-15 23:40] ehollig commented on #4946
This probably requires fixes from Adobe. Adobe has announced that Flash is deprecated, thus will no longer be developed actively. Closing

[2017-08-15 23:40] #4946 closed

[2017-08-15 23:42] michaelDCurran commented on #2887
Excel 2016 implements UIAutomation for the formular bar. Thus we don't
use display model. However, the UIA implementation does not provide
useful formatting information yet.

[2017-08-15 23:45] ehollig commented on #5938
@eLearninDave is this still an issue for you?
Regardless, Adobe has announced that Flash is deprecated, thus will no longer be developed actively. Closing

[2017-08-15 23:45] #5938 closed

[2017-08-15 23:47] ehollig commented on #2179
This probably requires fixes from Adobe. Adobe has announced that Flash is deprecated, thus will no longer be developed actively. Closing

[2017-08-15 23:47] #2179 closed

[2017-08-16 00:21] Qchristensen commented on #3696
This does come up from time to time.  I'm not sure there's a perfect fix for this, but perhaps in the User Guide under 9.1.3 Voice Settings (punctuation / Symbol level): https://www.nvaccess.org/files/nvda/documentation/userGuide.html?#VoiceSettings. Where this currently reads:

"Punctuation/Symbol Level

Key: NVDA+p

This allows you to choose the amount of punctuation and other symbols that shoul

[2017-08-16 01:34] jmwalton92 commented on #7456
I am able to reproduce this as well using Version: master-14308,9d1d47fa, on windows 10 1703.

[2017-08-16 02:07] ehollig commented on #5565
@jcsteh, can you replicate this by enabling the formula bar in the view menu? Otherwise, we may need additional information from @dave090679 including a sample sheet that this occurs. Also, @dave090679 does this still happen for you in the latest Libre Office?

[2017-08-16 02:13] ehollig commented on #5533
Marking this as feature. Maybe something like this could be added to the already created [ExtendedWinamp addon](https://addons.nvda-project.org/addons/extendedWinamp.en.html)

[2017-08-16 02:16] ehollig commented on #5622
@jcsteh, from https://github.com/nvaccess/nvda/issues/5622#issuecomment-166165191, it sounds like this is a cantfix?

[2017-08-16 02:18] jcsteh commented on #5622
We can't fix the count, but see above regarding only reporting it if guessing is enabled.

[2017-08-16 02:24] jcsteh commented on #5565
No, I can't reproduce with the formula bar enabled. (It was already enabled for me.)

[2017-08-16 02:44] ehollig commented on #6724
@deconspray, can you respond to @jcsteh in https://github.com/nvaccess/nvda/issues/6724#issuecomment-272329366?

[2017-08-16 02:48] ehollig commented on #6739
@PratikP1, could you provide more information? this works correctly for me in Outlook 2016. The log does not provide anything either. I see that you pressed the down arrow key after pressing alt+F, but it provided the expected results.

[2017-08-16 02:52] ehollig commented on #6681
@iamjett27 is this still happening? If so, we may want a [debug log](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) demonstrating the issue.

[2017-08-16 02:53] bhavyashah commented on #4272
@ehollig You are right. Thanks for doing the needful.

[2017-08-16 03:15] bhavyashah commented on #2792
@surfer0627 Does this still occur for you? If so, is this issue specific to the Chinese input tool you specified, i.e. is this app specific, or does this happen with other input methods also? In case it is the former, please test with the latest version of the software in question.

[2017-08-16 03:22] bhavyashah commented on #2926
@jcsteh What is NV Access's current VPS hosting plan? In case this has improved since https://github.com/nvaccess/nvda/issues/2926#issuecomment-155303872, we may want to reconsider this ticket.

[2017-08-16 03:38] bhavyashah commented on #3182
@tspivy @josephsl and others: Is this crash still reproducible? Since Tyler notes in https://github.com/nvaccess/nvda/issues/3182#issuecomment-155306455 that disabling UIA eliminates the crash, UIA may be a causative factor of the crash. Thoughts? @jcsteh

[2017-08-16 03:43] bhavyashah commented on #3188
@jcsteh Does your implementation note of https://github.com/nvaccess/nvda/issues/3188#issuecomment-155306504 still stand exactly as that, given that automatic language switching is being improved and a speech refactor is also in the works?

[2017-08-16 04:03] jcsteh commented on #3188
That note was just a reminder of something to remember when we get to this; it wasn't intended to be a full implementation plan.

[2017-08-16 04:11] bhavyashah commented on #3238
A captcha solving service as part of NVDA and related topics have been discussed in #5979 and #3305.

[2017-08-16 04:11] gregjozk opened #7500 "In UserGuide change links which point to community.nvda-project.org/ to appropriate sites"
In a UserGuide are links, which point to community NVDA page, which is defunct. So change them so they will point to new locations.

### Steps to reproduce:
For example:
1. Open an UserGuide (suggest that it should be opened in Notepad++)
2. Go to line number 1738

### Expected behavior:
The links should direct us to pages, where topics are placed. E.G.

### Actual behavior:
There is text with lin

[2017-08-16 04:14] jcsteh commented on #2926
This is something we might consider in future, but our thinking is that it would be part of a low cost monthly subscription of some sort which would also include other services (yet to be determined). This would allow us to ensure we can scale with future demand and also create a small revenue stream.

[2017-08-16 04:15] danewhk commented on #7480
Thanks for your advises @bhavyashah. We have tried to operate the mouse with the combo keys of Golden Cursor, however, NVDA would not read aloud the items under the mouse cursor. We then tried to enable "review cursor follows mouse movement" in NVDA but still doesn't work. Thanks so much for your kind assistance!

[2017-08-16 04:15] josephsl commented on #7500
Hi, some were changed in 2017.3 version, but I do know there are places that still point to the community subdomain. CC @JCSTeh

From: gregjozk [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 9:12 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] In UserGuide change links which point to community.nvda-project.org

[2017-08-16 04:16] josephsl commented on #3238
Hi, I’m wondering if OCR might come in handy or some other service. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 9:11 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Research one way to discover captchas based on characters introduced in DOM (#3238)

A captcha solving service as

[2017-08-16 04:17] bhavyashah commented on #3244
@jcsteh's https://github.com/nvaccess/nvda/issues/3244#issuecomment-155307302 states that the reported issue has been fixed for Firefox 24, and thus the remaining work needs to be done internally in NVDA for Internet Explorer only. Could someone please check if this still occurs in Internet Explorer 11 as well? This is because if not, we may safely close this ticket given that we are no longer add

[2017-08-16 04:22] bhavyashah commented on #3251
Downloading speech synthesis data from Google Translate simply for the sake of using Google text to speech is definitely not something meant for NVDA core. Regardless, this may also not be legal. @jcsteh Could NV Access's contacts at Google be notified about the interest of NVDA users in porting Google TTS to Windows?

[2017-08-16 04:24] bhavyashah commented on #3255
CC @josephsl (current maintainer of NVDA's Developer Guide) for his thoughts/inputs on this documentation related proposal.

[2017-08-16 04:33] josephsl commented on #3255
Hi, in the end, @JCSTeh, @MichaelDCurran, I and some in the add-ons community agreed that at least good parts of add-on dev guide should be merged into an improved development guide, something I would like to target for 2018.1. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 9:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee225

[2017-08-16 04:47] bhavyashah commented on #7480
@danewhk  Could you please presss NVDA+M and ensure that mouse tracking is enabled while you perform these tests? CC @josephsl (who may have further ideas regarding Golden Cursor) and @jcsteh for diagnostic assistance

[2017-08-16 05:05] bhavyashah commented on #3298
Confirmed. To summarize:
* Backspace erases the character at the left of the system caret and NVDA reports the erased character.
* Delete erases the character at the right of the system caret and NVDA reports the character to the immediate right of the deleted character.
* Ctrl+Backspace deletes the word at the left of the system caret and NVDA reports the erased word.
* However, the bug is that w

[2017-08-16 05:08] bhavyashah commented on #3297
According to these two reports, these Braille issues are happening on more than one Braille display as well as more than one version of Microsoft Office, implying that this could potentially be an NVDA defect which needs to be addressed. I would like to kindly request Braille experts to take a look at this ticket and share their thoughts/inputs.

[2017-08-16 05:08] jcsteh commented on #3251
We actually had some discussions with Google about this a few years ago, but despite initial hopes, this turned out to be infeasible for technical reasons. The technology they use to compile the TTS engine for Chrome for Windows is Chrome specific. Closing as can't fix.

[2017-08-16 05:08] #3251 closed

[2017-08-16 05:10] jcsteh commented on #7480
@QChristensen, I seem to recall you did some research on this a while back due to another user report. If so, do you have anything to offer? Please disregard if I'm misremebering.

[2017-08-16 05:16] jcsteh commented on #3255
Long-term, I've been thinking we should consider combining all of our development documentation (including code documentation) into one single resource using Sphinx. While this does mean there is more work in documenting the code and we can't simply auto-generate all of the code documentation as Epydoc does, it has the added advantage that we can intersperse the code reference with explanatory tex

[2017-08-16 05:18] bhavyashah commented on #3284
@josephsl's https://github.com/nvaccess/nvda/issues/3284#issuecomment-155307634 suggests that recent LibLouis developments may have solved this ticket. Could someone please test and triage this ticket accordingly?

[2017-08-16 05:22] bhavyashah commented on #3276
Could Braille experts please test and report whether these Braille synchronization issues (particularly with MS Word's Undo and Redo, Ctrl+Backspace and Ctrl+Delete) still occur?

[2017-08-16 05:26] bhavyashah commented on #3302
@jcsteh Since you were able to reproduce this as mentioned in https://github.com/nvaccess/nvda/issues/3302#issuecomment-155307788, can you please retest this and update us about the current standing of the reported issue?

[2017-08-16 05:28] michaelDCurran commented on #3244
We did not make any effort to address this in Internet Explorer 11. Again like with other Internet Explorer issues, we'll accept a PR, but we are not placing priority on these.

[2017-08-16 05:33] bhavyashah commented on #3383
Based on @michaelDCurran's https://github.com/nvaccess/nvda/issues/3383#issuecomment-155308443 as well as my testing with Word 2010, this issue has clearly been fixed. Thus, I suggest closing as worksforme. @ehollig

[2017-08-16 05:35] jcsteh commented on #3302
Don't have one of these displays, but tested with the following entry in `%appdata%\nvda\gestures.ini`:

This binds f11 to emulate alt+tab.

For me, this now works as expected. However, I'm using Windows 10 64 bit. Closing as works for me, but if someone experiences this on Windows 8, we should reopen.

[2017-08-16 05:36] #3302 closed

[2017-08-16 05:49] bhavyashah commented on #3475
@feerrenrut Is the test case attached in https://github.com/nvaccess/nvda/issues/3475#issuecomment-155309137 sufficient for successfully reproducing the reported issue?

[2017-08-16 05:58] bhavyashah commented on #3486
At least on the surface, this feature request makes sense to me. Simply put, review modes should be attachable to configuration profiles. Please change labels from enhancement to feature. @ehollig

[2017-08-16 06:12] leonardder commented on #6213
I started working on this, and it seems there is a nicer approach than _getObjScript, namely overriding _get_script on BrailleDisplayGesture. This way, most of the work can be done in the braille module itself.

@JCSTeh: There are some braille display drivers which set the keyNames property on their input gesture class. However, some use sets, some use lists, and it seems that, especially for the

[2017-08-16 06:57] jcsteh commented on #6213
We previously used sets because we were using set order to normalize identifiers. However, since that order isn't reliable, we no longer do this and instead sort. So, building a set is pointless because we're just going to go and sort it anyway.

One other advantage of not using a set is that the id is also used as the display name If you use a set instead, the order reported to the user is arbitr

[2017-08-16 07:11] Brian1Gaff commented on #3182
I do still find that Wordpad can sometimes just give up in windows 7, the
usual  thing of its stopped working let be  go and find etc. My solution to
this has been to import the XP version of Wordpad, I'm afraid. The only
other strange thing is some cut and pasted stuff from wordpad seems to end
up pasted in Word as an object not text. Still trying to figure that one
out. If you paste it to notpad

[2017-08-16 07:21] leonardder commented on #6213
[**@jcsteh**](https://github.com/jcsteh) commented on [16 aug. 2017 08:57 CEST](https://github.com/nvaccess/nvda/issues/6213#issuecomment-322683507 "2017-08-16T06:57:46Z - Replied by Github Reply Comments"):

Sets are great for checking whether a group of keys is part of another group of keys. I assume with lists, this consumes more resources as well as more code, right? I think I will go for a li

[2017-08-16 07:30] Qchristensen commented on #7480
I did indeed.  What I found was that if the emulator uses a mouse driver, it works fine.  An example of this is Unified Remote, which lets you use the touch screen on your mobile phone to control your mouse pointer on your PC: https://www.unifiedremote.com/

I did specifically talk to the JoyToKey people and they advised they are injecting the mouse pointer (using SendInput from memory) to move it

[2017-08-16 07:46] jcsteh commented on #6213
Yes, if you're testing for multiple possibilities, set intersection is probably going to be more efficient... in theory.

[2017-08-16 07:53] bhavyashah commented on #3521
Similar (enough to be a duplicate?) to #3049

[2017-08-16 08:13] jmuheim commented on #6582
The suggestion by @iamrauu works for me. I don't need a specific feature for this. I close the issue.

[2017-08-16 08:13] #6582 closed

[2017-08-16 09:08] leonardder commented on #3521
Agreed, although slightly different in approach. Closing as duplicate of #3049.

[2017-08-16 09:08] #3521 closed

[2017-08-16 09:20] lallerke1 opened #7501 "Constantly error sound by switching and closing window"
1. Open nvda.
2. Open skype in compact view.
3. Or press any key in a win 10 machine.
I attached a log of my friend, who has constantly the problem.
[nvda.txt](https://github.com/nvaccess/nvda/files/1227684/nvda.txt)

*Edit:* Information from the log:
* Using NVDA version `next-14310,844f3145`
* Trying SAPI5 synth, unknown voice results in `Unsupported speech command: LangChangeCommand ('en_US')`

[2017-08-16 09:23] lallerke1 opened #7502 "Windows Onecore Voices and sapi5 respond not automatic"
If we use nvda with windows onecore voices, there is a lag with the speech by several pc-es using windows 10.

[2017-08-16 11:06] bhavyashah commented on #3570
@jcsteh's https://github.com/nvaccess/nvda/issues/3570#issuecomment-155310127 and https://github.com/nvaccess/nvda/issues/3570#ref-commit-2096318 seems to indicate that there has been work done on this. Could we please be updated about the present status of this work?

[2017-08-16 11:16] bhavyashah commented on #3885
@jcsteh's https://github.com/nvaccess/nvda/issues/3885#issuecomment-155317480 seems to suggest that this is an issue that happens with older versions of NVDA. Using a recent NVDA Master snapshot on Windows 8.1 (probably without any extra command console), I was unsuccessful in replicating the reported exception with the following STR:
* Focus on a Mozilla Firefox (version 54 stable here) window.
*

[2017-08-16 11:41] jcsteh commented on #3570
2096318 implements `windowUtils.CustomWindow`, which satisfies the narrowed requirements outlined in https://github.com/nvaccess/nvda/issues/3570#issuecomment-155310126.

Note that a4a47001 does actually implement a core custom window, though you can't register to receive arbitrary messages. However, given the concerns outlined in https://github.com/nvaccess/nvda/issues/3570#issuecomment-155310126

[2017-08-16 11:41] #3570 closed

[2017-08-16 11:49] jcsteh commented on #2385
[**@leonardder**](https://github.com/leonardder) commented on [13 Jul 2017, 16:18 GMT+10](https://github.com/nvaccess/nvda/issues/2385#issuecomment-314982595 "2017-07-13T06:18:53Z - Replied by Github Reply Comments"):

We could consider making eventHandler use the new extensionPoints.callWithSupportedKwargs function I added in #7484, which would allow us to pass additional kwargs without breaking

[2017-08-16 12:32] leonardder commented on #2385
[**@jcsteh**](https://github.com/jcsteh) commented on [16 aug. 2017 13:49 CEST](https://github.com/nvaccess/nvda/issues/2385#issuecomment-322746053 "2017-08-16T11:49:28Z - Replied by Github Reply Comments"):

That would be awesome, I think. Does this fit in the scope of #7484?

[2017-08-16 14:44] ehollig commented on #3885
As this sounds to be a harmless error and it does not occur anymore, closing

[2017-08-16 14:44] #3885 closed

[2017-08-16 14:58] ehollig commented on #3383
From testing performed in https://github.com/nvaccess/nvda/issues/3383#issuecomment-322670645, closing

[2017-08-16 14:58] #3383 closed

[2017-08-16 15:25] PratikP1 commented on #7502
This is most likely due to Windows API being used. @jcsteh I don’t think NVAccess can do anything about this behavior for now. Microsoft will have to speed up the responsiveness of OneCore through the API. Correct?

[2017-08-16 15:30] PratikP1 commented on #6681
I have been using Outlook 2016 with multiple versions of NVDA. I have never encountered this issue. A debug log is indeed necessary.

[2017-08-16 15:33] PratikP1 commented on #6739
I am no longer encountering this issue. The issue was a mismatch between what the speech said V what NVDA reported internally. This is resolved in the public release of Outlook 2016 and latest NVDA next. The issue can be closed.

[2017-08-16 15:42] ehollig commented on #3512
Closing, due to lack of information, and inability to contact the original poster. I also am not able to determine exactly what the issue is from the log provided.

[2017-08-16 15:42] #3512 closed

[2017-08-16 15:44] fisher729 commented on #7502
Further information may be needed about this ticket, such as if Master or Next is used. There is no doubt a lag when using SAPI5, but that is the fault of speech synth vendors and Microsoft's API limitations. For example, the voices built into Windoes may be less laggy than a SAPI5 synth purchased. OneCore support is quite good, and provides better responsiveness. No doubt it is slower than say eS

[2017-08-16 15:50] ehollig commented on #5745
@jcsteh, from https://github.com/nvaccess/nvda/issues/5745#issuecomment-185493089 it sounds like this needs an external fix and is not an NVDA issue. @pranavlal, is this still occurring for you?

[2017-08-16 15:56] ehollig commented on #5710
@fernando-jose-silva, is this still happening for you? I am not able to replicate using Chrome 60.

[2017-08-16 16:00] ehollig commented on #6108
@MichelSuch, just a friendly reminder to respond to @jcsteh in https://github.com/nvaccess/nvda/issues/6108#issuecomment-229545021

[2017-08-16 16:27] ehollig commented on #6397
@fernando-jose-silva, is this still happening for you? I was able to perform the above steps without a problem in Excel 2016. What version of Excel are you using? Closing as worksforme, but if anyone is able to reproduce using a different version of Excel, it can be reopened.

[2017-08-16 16:33] Olina-Roy commented on #7475
@jcstech I installed and ran the copy, but issue still persists.Is there anything else which I am missing out on.

[2017-08-16 16:59] ehollig commented on #6723
@elliott94, is this still the case for you? Seems to work okay for me using Outlook 2016 and the steps you provided above.

[2017-08-16 17:03] ehollig commented on #6739
Closing as worksforme as reported in https://github.com/nvaccess/nvda/issues/6739#issuecomment-322810611

[2017-08-16 17:03] #6739 closed

[2017-08-16 17:10] bhavyashah commented on #6397
Using Excel 2010 and Windows 8.1, I am able to reproduce something strange and similar with the following STR:
* Type a date, for instance "21/01/16", in A1.
* Press Enter or Tab out of A1.
* Arrow back to A1.
* Given that you are not editing the cell and are simply focused on it, press Ctrl+X.
* Paste the clipboard contents in any other cell.
Expected Result: While navigating around the spreadshe

[2017-08-16 17:17] bhavyashah commented on #5710
Neither can I reproduce the reported issue on a recent Chrome stable version. The translation is rendered with proper spacing, whether navigated by word or by line. Only 'screensaver' appeared as one word, which is probably expected translation itself, rather than incorrect rendering. All in all, I am unable to replicate this issue as well.

[2017-08-16 17:24] ehollig commented on #5710
Closing, unless @fernando-jose-silva is still experiencing this issue and can provide more information on exact steps to reproduce the issue

[2017-08-16 17:24] #5710 closed

[2017-08-16 17:24] bhavyashah commented on #3914
@jcsteh seems to state as a fact that this issue is specific to Windows 8 in https://github.com/nvaccess/nvda/issues/3914#issuecomment-155317679. If this is indeed the case, Windows 8 has been superceded by Windows 8.1, and thus, I suggest closing. @ehollig

[2017-08-16 17:28] bhavyashah commented on #3931
@josephsl You seemed to suggest in https://github.com/nvaccess/nvda/issues/3931#issuecomment-155317794 that you may consider working on this ticket in the future. This is mostly just a friendly reminder to hopefully get around to working on this as and when time, circumstance and priorities permit.

[2017-08-16 17:32] ehollig commented on #3914
Closing, as this sounds to be Windows 8 specific, and @jcsteh says in https://github.com/nvaccess/nvda/issues/3914#issuecomment-155317679 that this works properly in Windows 8.1.

[2017-08-16 17:32] #3914 closed

[2017-08-16 17:41] bhavyashah commented on #3956
I tend to agree with @jcsteh's reasoning in https://github.com/nvaccess/nvda/issues/3956#issuecomment-155318048 against the allotment of another single letter navigation key to tabs. Unfortunately, we can no longer contact the original author of this ticket and he/she did not follow-up or respond to Jamie's arguments either. Thus, I suggest closing. @ehollig

[2017-08-16 18:24] ehollig commented on #3956
Closing because we are unable to contact the original poster for additional information.

[2017-08-16 18:24] #3956 closed

[2017-08-16 19:54] ehollig commented on #4302
This sounds similar to #2707 and are probably related.

[2017-08-16 20:07] ehollig commented on #5641
Is there a way to get the name of the current desktop in Windows 10,1703? With Narrator, if I switch between desktop, Narrator correctly announces the name of the desktop. Example: Desktop 1, Desktop 2, etc. CC @jcsteh

[2017-08-16 20:10] ehollig commented on #5742
@jcsteh, from https://github.com/nvaccess/nvda/issues/5742#issuecomment-183089793, it sounds like this is intentional. Is there anything else that needs to be done for this issue?

[2017-08-16 20:15] ehollig commented on #5897
@wildcat11, is this still an issue for you or was this a one time thing. If you still are experiencing this issue, please attach a crash dump as suggested by @derekriemer in https://github.com/nvaccess/nvda/issues/5897#issuecomment-213958926

[2017-08-16 20:19] ehollig commented on #5851
Hello @afrim-maja, are you still experiencing this issue? If so, are there any example documents experiencing this issue that you could attach to this issue?

[2017-08-16 20:22] ehollig commented on #6013
CC @josephsl and @fernando-jose-silva, is this still the case? I found that Windows 10 did not announce the notification when I had the announcement of tooltips turned off but it works fine when that option is checked.

[2017-08-16 20:44] ehollig commented on #5479
@DavidMacDonald could you provide more information on the issue you are having? Otherwise, closing because of lack of information.
Testing performed:
I opened the above URL in Firefox 54 and was able to navigate the table using table movement commands. NVDA did announce the headers of each column as I moved between the columns.

[2017-08-16 20:44] #5479 closed

[2017-08-16 20:52] ehollig commented on #5736
@ctoth, any updates with a specific use case for this issue?

[2017-08-16 20:57] fernando-jose-silva commented on #6013
Thank you very much, I do not have this problem any more.

[2017-08-16 21:20] fernando-jose-silva commented on #5710
Thank you very much, I do not have this problem any more.

De: Ethan Holliger [mailto:notifications@github.com]
Enviada em: quarta-feira, 16 de agosto de 2017 12:57
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [nvaccess/nvda] error when editing text in chrome (#5710)

@fernando-jose-silva <htt

[2017-08-16 21:37] ehollig commented on #6362
Duplicate of #5710 4773

[2017-08-16 21:37] #6362 closed

[2017-08-16 21:38] ehollig commented on #6362
Duplicate of #4773

[2017-08-16 21:40] fernando-jose-silva commented on #6397
I can reproduce the problem even with Excel 2016 and 2013.
By putting the level of scoring for everyone I get the same results as Bhavyashah commented.
I pasted a nvda log where it shows the speech of the # characters.
I believe that as the contents of the cell are not fully visible which I believe is the reason why the cell contents are not read, nvda should pronounce something as non-visible.

I

[2017-08-16 21:52] ehollig commented on #7485
@derekriemer, it appears the link that you provided no longer exists. Do you have another use case?

[2017-08-16 21:58] ehollig commented on #7436
Duplicate of #6381

[2017-08-16 21:58] #7436 closed

[2017-08-16 22:14] jcsteh commented on #5742
This will be addressed by #4773.

[2017-08-16 22:14] #5742 closed

[2017-08-16 22:18] jcsteh commented on #4773
Specific test case from @syntaxbliss in https://github.com/nvaccess/nvda/issues/5742#issue-133028610:

Note: This refers to pressing down arrow to get to the input field, which suggests screen layout was off for this test.

[2017-08-16 22:37] derekriemer commented on #7485
usecase exists now.

[2017-08-16 22:54] ehollig commented on #6397
Hmmm, @michaelDCurran, @jcsteh, thoughts from the log provided?

[2017-08-16 22:56] ehollig commented on #6013
Closing from https://github.com/nvaccess/nvda/issues/6013#issuecomment-322896956

[2017-08-16 22:56] #6013 closed

[2017-08-16 23:36] jcsteh commented on #5641
Interesting. As far as I recall, Narrator didn't previously do this, so this is new if I'm correct. I still can't find any public APIs to get the current desktop name, nor can I see any way to do it with UIA (but that doesn't mean there isn't something I don't know about). They're possibly using the undocumented APIs used by the VirtualDesktopAccessor project linked above.

I took a quick look at

[2017-08-16 23:50] ehollig commented on #6874
I am not able to reproduce this using Outlook 2016 and the latest Master of NVDA. @PratikP1, is this still happening for you?

[2017-08-16 23:52] jcsteh commented on #7475
I think @Olina-Roy and @PratikP1 are referring to two different issues here. Looking more closely at @Olina-Roy's description, it mentions an error reported about the first field being blank, but this does not happen with the test case that @PratikP1 provided, regardless of the synthesizer.

@Olina-Roy, I think this is actually a duplicate of #3807 (On a Form that is enhanced with Aria invalid, NV

[2017-08-16 23:57] jcsteh commented on #7502
[**@lallerke1**](https://github.com/lallerke1) commented on [16 Aug 2017, 19:23 GMT+10](https://github.com/nvaccess/nvda/issues/7502#issue-250563260 "2017-08-16T09:23:38Z - Replied by Github Reply Comments"):

Please be more specific.
How long is the lag?
Where does it occur: between the time you press a key and the speech starting, between phrases, etc.?
What exact version of NVDA did you test wi

[2017-08-16 23:59] ehollig commented on #6817
@fernando-jose-silva, is this still happening for you? When I go to the URL mentioned and go to the edit field, NVDA reads:
Subscribe form landmark edit  has auto complete
Subscribe  form
Nome  edit  has auto complete
I tested this in Firefox, IE, and Chrome with similar results.

[2017-08-17 00:13] jcsteh commented on #2385
I think this should be done separately from #7484, just because it's
slightly unrelated.

[2017-08-17 00:34] ehollig commented on #6392
@jcsteh and @michaelDCurran is this something that is being considered when creating the new website?

[2017-08-17 02:25] nishimotz commented on #6528
Still happens with Skype 7.39.0.102.
As suggested in #6293, TChatRichEdit is mapped to RichEdit20.
Does that cause this issue as well?

[2017-08-17 02:34] jcsteh commented on #6392
My sincerest apologies for the huge delay in responding to this. It's a pretty complicated issue.

In principle, we agree it would be good to localise these two pages at the very least, if not more pages on the NV Access site. However, there are some significant challenges to sort out.

1. Legal/organisational: We have a fantastic translation community and it's highly unlikely that anyone would us

[2017-08-17 04:17] bhavyashah commented on #6817
Confirmed. Using Firefox 54 stable and NVDA 2017.2 on a Windows 8.1 system, I can successfully replicate the reported issue with the following STR:
* Go to
* Press NVDA+Ctrl+F, copy and paste 'Nunca perca uma atualização' as the text you wish to find, and hit Enter to land on the required instance of the entered string.
* Assuming screen layout is off, press down arrow once.
Expected Result: NVDA

[2017-08-17 04:27] bhavyashah commented on #7485
I am unable to reproduce the reported issue with the provided test case. Every ten or so seconds, NVDA automatically reports something, and a quick snippet of Speech Viewer contents when the page is opened is as follows:
"lorem ibsum
The power of x 1 2     is x to the powr of one over two.
The fraction of x 2    is x devided by two.
The power of x 1 2     is x to the powr of one over two. "
Isn't

[2017-08-17 04:40] bhavyashah commented on #5851
I have a test case to share. However, it is about 57 mb in size. Thus, would you like me to share its Google Drive URL or would you rather I attached it to Github? I am not even sure if Github will accept a 57 mb Word file... I would appreciate a clarification.

[2017-08-17 05:20] leonardder commented on #7488
[**@leonardder**](https://github.com/leonardder) commented on [12 aug. 2017 13:28 CEST](https://github.com/nvaccess/nvda/issues/7488#issuecomment-321975407 "2017-08-12T11:28:20Z - Replied by Github Reply Comments"):

Coming back to this, it seems, at least for the cursor routing, it yet turns out to be a firmware problem. Ugh.

[2017-08-17 05:22] leonardder commented on #7488
[**@gregjozk**](https://github.com/gregjozk) commented on [14 aug. 2017 05:28 CEST](https://github.com/nvaccess/nvda/issues/7488#issuecomment-322092392 "2017-08-14T03:28:43Z - Replied by Github Reply Comments"):

It seems they are giving preference tho their own add-on, which is 18 megs in size and doesn't care about NVDA's input layer, except for cursor routing.

[**@zstanecic**](https://github.c

[2017-08-17 05:47] jcsteh commented on #6817
Duplicate of #4773.

[2017-08-17 05:47] #6817 closed

[2017-08-17 09:44] PratikP1 commented on #7502
@jcsteh wrote:

My original statement should have been "If more responsiveness is needed, Microsoft will have to do it through the API." I was also noticing the difference between how Narrator performs with OneCore voices and NVDA. I suspect Microsoft is accessing the voices differently. You're right that OneCore voices definitely perform better than SAPI. There are instances when it seems like th

[2017-08-17 09:58] PratikP1 commented on #7475
You're right. I did not read @Olina-Roy's original comment correctly. I conflated this with the issue I was seeing.

[2017-08-17 10:01] PratikP1 commented on #6874
I am no longer having this issue. It is resolved.

[2017-08-17 10:14] nishimotz commented on #6528
Confirmed that the removal of mapping solves this IME issue on Windows 10.
I am still testing on Windows 8.1 and 7.

[2017-08-17 10:22] jcsteh commented on #7502
I'm reasonably certain Narrator uses the same API, based on some discussion with Microsoft and a few other things. Those voices will lag if you give them extremely big chunks of text, since the API processes it all at once rather than giving you back smaller chunks of audio as it goes. However, I can also reproduce this with Narrator. Since the character reading fix, I'm honestly not seeing much d

[2017-08-17 11:39] nishimotz commented on #6528
Tested the removal of TChatRichEdit mapping with Skype 7.39.0.102:

IME issue:

* Windows 10 : resolved
* Windows 8.1 : resolved
* Windows 7 : NOT resolved

Spelling error reporting:

* Windows 10 : spelling error is detected and NVDA can report
* Windows 8.1 : spelling error detection of Skype is not working
* Windows 7 : spelling error detection of Skype is not working

With current NVDA master

[2017-08-17 11:54] bhavyashah commented on #3988
I am a little unsure of whether I follow this ticket or not. It seems to me that this ticket is requesting a feature by which NVDA would be able to report the number of the instance of any given element present on the page already.
E.g. A webpage contains three check boxes. If the proposed feature request is implemented, then NVDA would report these as check box 1, check box 2, and check box 3.
@v

[2017-08-17 13:04] ehollig commented on #6874
Closing because of https://github.com/nvaccess/nvda/issues/6874#issuecomment-323025282

[2017-08-17 13:04] #6874 closed

[2017-08-17 13:05] PratikP1 commented on #7502
@jcsteh wrote:

This could help explain the lags I've seen. I'll continue to do comparison testing. The difference I noticed was in traversing through long lists like Outlook inbox. I realize that it's not fair to compare the performance of an engine like ESpeak NG.

[2017-08-17 13:34] Olina-Roy commented on #7475
@jctech, yes! #3807 is more like what I have been experiencing.Additionally, in the speech viewer I can see the currently focused field getting declared before the error message for the previous field, but its not getting read out.

The page is still under development, so there is no production url which I could share to demonstrate the issue. :(

[2017-08-17 13:35] Olina-Roy commented on #7475
I have added the screenshot in the document attached on my Original Post.

[2017-08-17 13:35] ehollig commented on #3470
@jcsteh, is this already in NVDA? I see 5 types of Norwegian Braille available in the Braille settings.
Norwegian 8 dot computer braille
Norwegian grade 0
Norwegian grade 1
Norwegian grade 2
Norwegian grade 3

[2017-08-17 13:40] elliott94 commented on #6723
Unfortunately this is still the case for Outlook 2010; I don't have access to any newer versions that I can test with.

[2017-08-17 13:49] leonardder commented on #3470
If I may answer, the answer is no :)

[2017-08-17 13:53] ehollig commented on #4349
Closing as Duplicate of #1772

[2017-08-17 13:53] #4349 closed

[2017-08-17 14:01] ehollig commented on #4307
Closing as Duplicate of #6392, as it has recent comments.

[2017-08-17 14:01] #4307 closed

[2017-08-17 14:14] ehollig commented on #4672
@jcsteh, there is nothing that NVDA can do with false positives, right?

[2017-08-17 14:19] ehollig commented on #4910
Maybe I am missing it, but I do not see tables in the attached message. Could someone else try this? I am using Outlook 2016.

[2017-08-17 14:46] ehollig commented on #4815
I am not able to reproduce this using IE 11 and the attached example.
[example.html.txt](https://github.com/nvaccess/nvda/files/1231619/example.html.txt)

1. Open the attach document (after removing the .txt extention) in Internet Explorer.
2. Arrow down to the link.
3. NVDA reports the link text.
4. Go to the top of the page and navigate to the next link by pressing K.
5. Same results.

With rega

[2017-08-17 14:46] #4815 closed

[2017-08-17 15:31] ehollig commented on #4843
Closing, as we unfortunately are not able to contact the original poster for more information on this issue. Also, this indeed sounds like an antivirus blocking NVDA in sum way, but not exactly sure as we would need more information.

[2017-08-17 15:31] #4843 closed

[2017-08-17 15:35] ehollig commented on #5279
Closing, as we are unable to contact the original poster for this issue, and they did not respond to @michaelDCurran's questions and request for a log in https://github.com/nvaccess/nvda/issues/5279#issuecomment-155342351

[2017-08-17 15:35] #5279 closed

[2017-08-17 15:50] ehollig commented on #5340
It appears that the original post has been deleted or did not migrate correctly from Trac. This will be very difficult to debug with only the logs provided. Furthermore, I do not believe we can contact the original poster for additional information. Closing

[2017-08-17 15:50] #5340 closed

[2017-08-17 15:57] ehollig commented on #5347
I recall there was an issue about this before but can not remember where I saw it. Any ideas @leonardder and other Braille experts?

[2017-08-17 16:01] leonardder commented on #5347
I do not know such an issue. @DKager, you must know if this is still the case. Any how, since we can't contact the original author and we are missing relevant details (what display does he use, what keys), I'd personally close this as invalid.

[2017-08-17 16:02] ehollig commented on #5347
Agreed

[2017-08-17 16:02] #5347 closed

[2017-08-17 16:03] derekriemer commented on #7485
No, this isn't real math. x2, not the fraction (Read that with mathplayer).

[2017-08-17 16:10] ehollig commented on #5412
@elliott94, is this still the case for you? If so, could you provide a test case where this happens?

[2017-08-17 16:19] elliott94 commented on #5412
I believe I have, but I can't think of any recent cases. Happy for this to be closed; I'll re-open if/when I see this again.

[2017-08-17 16:45] ehollig commented on #5412
Alright. Closing per request in https://github.com/nvaccess/nvda/issues/5412#issuecomment-323122413. If you can reproduce it, please open a new issue with exact steps to reproduce.

[2017-08-17 16:45] #5412 closed

[2017-08-17 22:31] jcsteh commented on #4672
Not directly, no. We need to try to figure out how to report issues like these to the relevant antivirus vendors, but this info isn't easy to find, especially for all the different vendors. Regardless, closing because the situation has almost certainly changed in three years.

[2017-08-17 22:31] #4672 closed

[2017-08-18 01:38] ehollig commented on #400
@Brian1Gaff, is this something you could test?

[2017-08-18 05:01] leonardder commented on #3659
[**@ehollig**](https://github.com/ehollig) commented on [13 aug. 2017 05:03 CEST](https://github.com/nvaccess/nvda/issues/3659#issuecomment-322018754 "2017-08-13T03:03:22Z - Replied by Github Reply Comments"):

This is probably best to answer by @dkager, since he fiddled with link presentation in browse mode recently.

[2017-08-18 05:02] leonardder commented on #7458
@bramd I wonder whether we should do a separate pr for the model based gesture identifiers?

[2017-08-18 05:08] leonardder commented on #3574
Sounds a bit like a needs an external fix. Note that wpf has more brokenness in it, for example regarding data grids.

[2017-08-18 05:10] leonardder commented on #5558
@michaelDCurran: Mind a p3 for this?

[2017-08-18 05:13] leonardder commented on #5395
Honestly, I don't get why this goes wrong. Isn't nVDA supposed to read the role if not name?

[2017-08-18 05:16] leonardder commented on #5184
Although a very interesting ticket, I'm afraid we can't contact the original author any more, and as @MichaelDCurran stated in https://github.com/nvaccess/nvda/issues/5184#issuecomment-155340861, a test case is needed for this. I'm leaning towards a close.

[2017-08-18 05:18] leonardder commented on #5326
@JCSTeh: Should someone file a bug against firefox for this?

[2017-08-18 05:19] leonardder commented on #5177
cc @bhavyashah

[2017-08-18 05:21] michaelDCurran commented on #5558
p3 is fine. Looks like we have a rough idea how to fix it.

[2017-08-18 05:22] leonardder commented on #5164
@tbdalgaard: Assuming you are the original author of this issue, could you elaborate whether you still see this as a problem? Note that you can assign desired input gestures in the input gestures dialogb. Ideas about default assignments for displays are welcome of course.

[2017-08-18 06:25] kvn-dh-zeus commented on #5741
@derekriemer working fine right now.

[2017-08-18 07:30] bhavyashah commented on #5177
This is extremely weird. Using NVDA 2017.3 RC 1 and Word 2010 on a Windows 8.1 system, below recorded are my results:
* Short document: Both Alt+up and down arrow work as expected.
* Long document: Alt+up and down arrow does just nothing. In this document containing over 600,000 characters (with space), pressing Alt+up and down arrow, both in focus and browse mode, has no effect. NVDA neither free

[2017-08-18 08:28] bhavyashah commented on #4380
I was certainly one of those who was flummoxed in my early days with NVDA when things like NVDA+. and NVDA+F (laptop keyboard layout) reported in the context of the character focused by screen review. However, I don't think I follow @jcsteh in terms of the proposed NVDA+F configurability. Could you please shed some more light on this and morph this ticket accordingly?

[2017-08-18 08:33] bhavyashah commented on #4395
I do not have a password to log in to my computer, but I have never heard reports of something fairly critical as this elsewhere. Since this ticket is more than 3 years old and we have no means of contacting the original author of this ticket for further diagnosis, unless we receive feedback confirming the reported issue, I suggest closing. @ehollig

[2017-08-18 08:35] bhavyashah commented on #4424
@jcsteh indicates that the reported issue is almost certainly a WxPython bug in https://github.com/nvaccess/nvda/issues/4424#issuecomment-155326851, does our upgrade to a newer version of WxPython affect this ticket in any way? @josephsl

[2017-08-18 08:47] bhavyashah commented on #4440
Can any more proficient Excel user understand what exact steps need to be taken in order to reproduce this issue? I don't think I follow, and we have no means to request a follow-up from the original author of this ticket either. Triaging thoughts? @ehollig

[2017-08-18 08:50] bhavyashah commented on #4451
@nvdaes Does the reported crash still occur? If so, could you please test this with all add-ons disabled and then share your findings?

[2017-08-18 10:24] Brian1Gaff commented on #4395
I have not seen anything like this for a long time.
 I do recall that some changes in 10 did stop nvda working on the screen for
a while, but not crashed it.
 Brian

[2017-08-18 10:30] bhavyashah commented on #4499
@michaelDCurran's https://github.com/nvaccess/nvda/issues/4499#ref-commit-7b7823c and @jcsteh's https://github.com/nvaccess/nvda/issues/4499#ref-commit-b6a4273 include commits. Are they indicators of further progress on this ticket, or has all of Jamie's earlier work been reverted due to problems? Also, should we give up in case of this ticket and close as cantfix, or do @leonardder, @derekriemer,

[2017-08-18 10:43] bhavyashah commented on #4530
Windows XP specific issues are no longer addressed and Windows 8 has been superceded by Windows 8.1. Thus, we need only focus on Windows 7 and Windows 8.1 for the purpose of this ticket. As a long-time Windows 8.1 user, I can confirm that I have been having no such issue since months with Windows Explorer. @jcsteh has acknowledged the presence of such a bug on Windows 7, attributing it to a proble

[2017-08-18 11:11] Brian1Gaff commented on #4530
Was not this resolved by the Microsoft issue of throttling back the
processor in advanced power settings not taking notice of the load of nvda?
 I have no issues in XP in current snaps I've tried, but 7 still is a little
slow to catch up with the screen, Idea I can think I've highlighted a file
to pay and a totally different one plays if I do not wait a second or so.

Its not serious though, and a

[2017-08-18 12:00] dkager commented on #3659
The reason is technical. Closing because I doubt the original author will read this.

[2017-08-18 12:00] #3659 closed

[2017-08-18 14:27] ruifontes commented on #3988
The author, vgjh2005, seems wanting NVDA to numbering the different elements
in a GUI.

I seems it is better to have a way  to allow NVDA to label controls not
labelled by the developer.
See:
Graphics Labeler Functionality #2111
ability to label previously unlabelled buttons in applications and websites
#4391
object customizer #6367
suggestion: providing a way to add custom labels on web pages on

[2017-08-18 14:56] derekriemer commented on #4499
I think this is fixed, but we need @jcsteh or @michaelDCurran to confirm.

[2017-08-18 15:24] mjanusauskas commented on #6069
Yes I can still reproduce it.

On Sat, Jul 29, 2017 at 3:15 AM, bhavyashah <notifications@github.com>
wrote:

[2017-08-18 15:36] bhavyashah commented on #4535
Something similar happens in Excel as noted in another ticket also. Selection via Shift+arrow keys within Excel cells is not reported either. Are these related in any way?

[2017-08-18 15:49] ruifontes commented on #4440
For me, can be closed.

How to try to reproduce:
1 - In A1 write a formula. Press Control Enter;
2 - Copy it to clipboard;
3 - Move to colun B;
3 - Press Control Space to select all the column;
4 - Press Control+V.

Expected and it happens.
NVDA announces the cell range and values of first and last cells.

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 18 de agosto de 2017 09:47
Para: nvacc

[2017-08-18 15:59] bhavyashah commented on #4537
This issue was definitely present very starkly till November last year, after which my usage of Excel became negligible. In my brief testing with NVDA 2017.3 RC 1 and Excel 2010 on Windows 8.1 just now, when I type "=sum(a2:a3)" in A1, pressing F2 on A1 to read the formula syntax itself, NVDA misses out on the last character of the formula, i.e. ")". This is consistently reproducible because the '

[2017-08-18 16:05] bhavyashah commented on #4538
@jcsteh @michaelDCurran Since this ticket relates to NVDA's support for a mouse, which might possibly require the intervention of a sighted developer, I would like to merely confirm if sufficient information to assess this issue has been gathered and analysed, or if further diagnostic tests are required, for which @feerrenrut and @Qchristensen may be ideal.

[2017-08-18 16:08] bhavyashah commented on #4635
Given the age of this issue, our inability to contact the original author of this ticket for further information, the fact that SAPI 4 is fading into obscurity, and Eloquence, one of the two voices with which the reported issue was claimed to be applicable, is illegal and unsupported, I suggest closing. @ehollig

[2017-08-18 16:10] bhavyashah commented on #4655
I suggest closing this in favour of (#4530) , to which this seems not only related but of which this might also be a duplicate, in order to consolidate further discussion there. @ehollig

[2017-08-18 16:13] bhavyashah commented on #4658
According to https://support.mozilla.org/en-US/kb/hello-status, Hello has been discontinued since Firefox 49. Time to close? @ehollig

[2017-08-18 16:14] ruifontes commented on #4537
After pressing F2, maximize the window.
That way, NVDA reports all characters...

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 18 de agosto de 2017 16:59
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Caret navigation problems when editing or
browsing formulas in Excel (#4537)

This issue was definitely present very starkly till November last year,
after which my usage of

[2017-08-18 16:17] bhavyashah commented on #4676
Since I no longer have access to any HP laptop nor are we in touch with Palacee_hun, as the original author of this ticket, I am happy for this to be closed. @ehollig

[2017-08-18 16:20] bhavyashah commented on #4684
At least as it seems best to me, this feature should be demonstrated and tested for some time as an add-on package and later be incorporated into core. This is a gentle ping to add-on developers to consider taking up this challenge if and when time, priorities and circumstance permits...

[2017-08-18 16:25] bhavyashah commented on #4689
I am not entirely convinced by @jcsteh's https://github.com/nvaccess/nvda/issues/4689#issuecomment-155330718. With the multiplicity of add-ons that we have today, many of which do have settings dialog, I can't imagine how cluttered the Preferences submenu would be with its inherent 14 items+add-on related items. With the emergence of a significant number of add-ons, this move would not separate ad

[2017-08-18 16:27] bhavyashah commented on #4692
There may still exist performance problems with Word, but this ticket is too vague and unclear, and as its original author, I am happy for this to be closed. @ehollig

[2017-08-18 17:23] ruifontes commented on #4689
I agree with the introduction of a new menu for Addons...
One question, in that new menu will go only the addons configuration entries
or also the help entries?

And, by the way, why not join Profiles, Restore to saved configurations,
restore to factory and Save configuration in one menu?

-----Mensagem Original-----
De: bhavyashah
Data: 18 de agosto de 2017 17:25
Para: nvaccess/nvda
Cc: Subscribe

[2017-08-18 17:25] ruifontes commented on #4684
In my opinion, that functionality should remain in the addons field...
It is not a screen reader feature, and visually there are no indication of
those errors...

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 18 de agosto de 2017 17:20
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Ability to warn the user about common errors in
text that are difficult to detect for a scre

[2017-08-18 17:25] francipvb opened #7504 "Broken NVDA Support for Visual Studio 2017.3"
Hello,

The NVDA support is broken with the last update for Visual Studio 2017 (15.3).

Some things that are not working:

* Object explorer. I.E. If you expand a node and go to a child NVDA thinks that the focused object is the next node (not the child)
* IntelliSense: Support for IntelliSense is completely broken. Autocompletion, quick actions, Code snippets and Surroundings popups aren't read b

[2017-08-18 17:56] zstanecic commented on #4684
Well,
The NVDA cannot do that.
And if you thing about the NVDA text analyzer,
That’s impossible for just one language

Od: ruifontes
Wysłano: piątek, 18 sierpnia 2017 19:25
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] Ability to warn the user about common errors intext that are difficult to detect for a screen reader user (#4684)

In my opinion, that functionality should remain in t

[2017-08-18 22:59] ruifontes commented on #4684
What's NVDA Text Analiser and where to find it?

Rui

-----Mensagem Original-----
De: zstanecic
Data: 18 de agosto de 2017 18:56
Para: nvaccess/nvda
Cc: ruifontes ; Comment
Assunto: Re: [nvaccess/nvda] Ability to warn the user about common errors in
text that are difficult to detect for a screen reader user (#4684)

Well,
The NVDA cannot do that.
And if you thing about the NVDA text analyzer,
That

[2017-08-18 23:04] zstanecic commented on #4684
Well, i willl name that feature in that way
It doesn’t exist

Od: ruifontes
Wysłano: sobota, 19 sierpnia 2017 00:59
Do: nvaccess/nvda
DW: zstanecic; Comment
Temat: Re: [nvaccess/nvda] Ability to warn the user about common errors intext that are difficult to detect for a screen reader user (#4684)

What's NVDA Text Analiser and where to find it?

Rui

-----Mensagem Original-----
De: zstanecic
Data:

[2017-08-19 00:19] ruifontes commented on #5177
Tested with 435000 characters and Word 2013, and it performs as expected...

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 18 de agosto de 2017 08:30
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] sentence navigation command Alt + down arrow
doesn't work in Microsoft Word (#5177)

This is extremely weird. Using NVDA 2017.3 RC 1 and Word 2010 on a Windows
8.1 system, below

[2017-08-19 00:23] ehollig commented on #4697
This sounds like a quickfix, is this still relevant to European users?

[2017-08-19 00:27] ehollig commented on #5792
@josephsl, is this taken care of in the add-on development guide and can this issue be closed?

[2017-08-19 00:31] ehollig commented on #1951
The only problem is, the patch link provided in https://github.com/nvaccess/nvda/issues/1951#issuecomment-155294505 seems to no longer work.

[2017-08-19 00:33] ruifontes commented on #4697
For Portugal don't make sense, since it is known only by Seika...

Rui

-----Mensagem Original-----
De: Ethan Holliger
Data: 19 de agosto de 2017 01:23
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] add an second (european name of the seika
braille displays in the user guide) (#4697)

This sounds like a quickfix, is this still relevant to European users?

—
You are receiving this

[2017-08-19 00:42] zstanecic commented on #4697
For croatia it has sense.
It’s sold as mini toucme braille

Od: ruifontes
Wysłano: sobota, 19 sierpnia 2017 02:33
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] add an second (european name of the seika brailledisplays in the user guide) (#4697)

For Portugal don't make sense, since it is known only by Seika...

Rui

-----Mensagem Original-----
De: Ethan Holliger
Data: 19 de agosto de

[2017-08-19 00:42] ehollig commented on #4494
This works correctly for me using Microsoft Office Word 2016 (English). Testing performed:

1. Open MS Word
2. Type a sentence, "The brown fox jumps over the lazy dog."
3. Perform one of the above commands, (Example: CTRL+M, CTRL+Shift+M, CTRL+T, CTRL+Shift+T, CTRL+Q)
4. After performing one of the above commands, report formatting with NVDA+F
### Expected and Actual Behavior
NVDA correctly announ

[2017-08-19 00:47] zstanecic commented on #4697
Well, for croatian use
Rs it’s relevant because it’s tou
Chme or mini touchme
Because there is a notetaker like device from seika
I don’t know if it’s supported by
 NVDA

Od: Ethan Holliger
Wysłano: sobota, 19 sierpnia 2017 02:23
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] add an second (european name of the seika brailledisplays in the user guide) (#4697)

This sounds like a quick

[2017-08-19 00:54] ehollig commented on #4438
I am not able to replicate using the above steps using Word 2016. Can someone else confirm the same? As we are unable to contact the original poster, I will close, once I have confirmation from someone else that they are unable to replicate.

[2017-08-19 00:56] zstanecic commented on #4494
Confirmed:
It doesn’t work
Nvda version: 2017.3 rc1, polish Microsoft office 2016
Using windows in polish, too
Steps to reproduce used as said
Od: Ethan Holliger
Wysłano: sobota, 19 sierpnia 2017 02:43
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] Provide More Feedback on Paragraph Formatting(#4494)

This works correctly for me using Microsoft Office Word 2016 (English). Testing perf

[2017-08-19 02:27] josephsl commented on #5792
Hi, yes, an example was briefly given for this in the latest add-on guide. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Friday, August 18, 2017 5:27 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Developer guide: initOverlayClass not mentioned. (#5792)

@josephsl <

[2017-08-19 04:18] bhavyashah commented on #4689
@ruifontes  Regarding the merger of mentioned configuration options under one dedicated submenu, I am certain that is covered elsewhere. I think I might search for that ticket later today and check about its current status...

[2017-08-19 04:22] bhavyashah commented on #4537
The work-around mentioned by @ruifontes in https://github.com/nvaccess/nvda/issues/4537#issuecomment-323396416 does not make any change in the test I performed and described in https://github.com/nvaccess/nvda/issues/4537#issuecomment-323393059. The ")" remains invisible to NVDA even when Excel is maximized or object review is used to inspect the cell contents.

[2017-08-19 07:38] bhavyashah commented on #4957
@leonardder Yes, this still applies to the Github NVDA Community Wiki. URL of the page in question is https://github.com/nvaccess/nvda-community/wiki/ApplicationSupport and it certainly is far from ideal. However, since this is a community contribution, I am unsure of how relevant this is on this tracker and how much NV Access or other NVDA developers may be able to resolve this Wiki.

[2017-08-19 07:42] bhavyashah commented on #3267
Regardless of whether or not this project is still alive, the original version of Speechhub for NVDA was quite popular and well-received. Could someone (CC at josephsl) please add a note about this on the Get Extra Voices page of the Github NVDA Wiki? This should be trivial to resolve.

[2017-08-19 07:48] leonardder commented on #4957
@JCSTeh @MichaelDCurran: How about allowing filing issues against this repo itself?

[2017-08-19 08:11] bhavyashah commented on #5392
@derekriemer Do you still experience such crashes on startup?

[2017-08-19 08:13] bhavyashah commented on #4923
This just a friendly reminder for @derekriemer to kindly respond to @ehollig's https://github.com/nvaccess/nvda/issues/4923#issuecomment-318509625.

[2017-08-19 08:15] bhavyashah commented on #4482
@nvdaes At the time of reporting this issue, you stated that this crash occurs several times a week. Does Do you still experience such crashes? If so, how frequent are these presently?

[2017-08-19 08:19] bhavyashah commented on #3986
@michaelDCurran You noted in https://github.com/nvaccess/nvda/issues/3986#issuecomment-232620249 that you would resume work on this when you had more time. Since that has evidently not happened due to other priorities, and since assigning priorities (P1, P2, P3 and P4) is something that I believe we have started fairly recently, feel free to assign a priority you deem appropriate for this one also

[2017-08-19 08:53] bhavyashah commented on #4745
I don't follow. If the reporting of spelling errors in NVDA is checked, how does that affect a Save dialog in Word? Unless anyone can make more sense of this ticket independently, since the original author of this ticket can no longer be contacted, I suggest closing. @ehollig

[2017-08-19 08:59] bhavyashah commented on #5042
I was uploading a couple YouTube videos a few months ago. If my memory serves me right, I remember encountering no such issue on Firefox. I cannot speak for Chrome, since I don't recall performing this there. Since it is likely that the YouTube video uploading interface has significantly changed since this report and since we have no means of reaching the original author of this ticket to request

[2017-08-19 09:00] josephsl commented on #3267
Hi, if the add-on is still being developed and if contacting the developer is still possible, then yes, it should be featured on our wiki. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Saturday, August 19, 2017 12:42 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] speach hub should be aded to nvda sinth

[2017-08-19 09:11] Brian1Gaff commented on #3267
I think development is over but the synth still works as indeed does Pico as
well
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Joseph Lee" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Brian Gaff" <bglists@blueyond

[2017-08-19 11:48] bhavyashah commented on #5353
To summarize:
* The proposed feature request is to enable and disable a permanent application specific sleep mode when NVDA+Shift+Z (keystroke to toggle sleep mode on and off for the active application, at least in the laptop keyboard layout) is pressed twice.
* This would be extremely useful in self-voicing applications, and would help us address certain other tickets as well which request automa

[2017-08-19 12:16] bhavyashah commented on #5172
@derekriemer I believe you were working on a Play Silence add-on at one point in time. Was that related to this ticket in any way?

[2017-08-19 12:16] bhavyashah commented on #5193
@elliott94 Does this still occur for you?

[2017-08-19 12:34] bhavyashah commented on #5260
@josephsl I believe you did some work on Windows 10 Calculator as part of the Windows 10 App Essentials add-on. If this is indeed so, could you please elaborate on the degree of accessibility it offers for said app, possibility of integrating that support into core, etc.?

[2017-08-19 12:38] bhavyashah commented on #5455
It is possible that the situation has changed since https://github.com/nvaccess/nvda/issues/5455#issuecomment-156944938. Regardless, there is nothing NVDA can do about false positives by anti-virus programs. Thus, I suggest closing. @ehollig

[2017-08-19 12:57] bhavyashah commented on #2009
@leonardder has been working on adding various elements to the Elements List recently. Leonard, could you please elaborate on the new elements supported by the Elements List dialog once you work is incorporated and accordingly triage this (probably as a duplicate)?

[2017-08-19 12:57] nvdaes commented on #4482
Hi, I am on holliday. I will take care of issues when I go back and have a computer available. Thanks.

Enviado desde mi iPhone

[2017-08-19 13:00] bhavyashah commented on #5726
I reckon a subtle ascending and descending tone of beeps would suffice for indication of volume changes by the volume rocker or other hardware buttons.

[2017-08-19 13:06] bhavyashah commented on #2878
Confirmed. The search edit field is read as 'edit blank' by NVDA, indicating that it is unlabelled from the software vendor's end itself. The second issue is that arrowing up to the Programs submenu, pressing the right arrow, and then pressing the left arrow does not take the user back to the Programs submenu but to some completely different place (PC username icon), something that seems less of a

[2017-08-19 13:18] dkager commented on #5726
Actually, I would really like to hear the exact percentage spoken when such buttons are pressed. But I feel this borders on what a screen reader should support.

[2017-08-19 16:25] ehollig commented on #3601
Closing, as we are unable to contact the original poster and do not have enough information to debug the issue.

[2017-08-19 16:25] #3601 closed

[2017-08-19 16:32] levtecaccess commented on #5726
I personally would like to have user configurable options to control what is heard when pressing volume buttons.

Best regards
Levi Johnson
Levtec Corporation
http://levtec.linkpc.net/

Sent from Mail for Windows 10

From: Davy Kager<mailto:notifications@github.com>
Sent: 19 August 2017 14:18
To: nvaccess/nvda<mailto:nvda@noreply.github.com>
Cc: levtecaccess<mailto:levijohnson2008@live.co.uk>; Aut

[2017-08-19 16:35] ehollig commented on #4731
Closing, because of reasoning in https://github.com/nvaccess/nvda/issues/4731#issuecomment-155331452

[2017-08-19 16:35] #4731 closed

[2017-08-19 16:41] Brian1Gaff commented on #5353
Yes this is what happens of course with the old global app module we used to
use, ie you needed one for each executable, also of course any delay between
tends to make nvda mutter things randomly, depending on the timings of
events in the next exe file being loaded or the previous 1 stopped.

In the main  there are ways around some of these things now, but some
programs work better than others do.

[2017-08-19 16:46] xtstoll opened #7505 "Set Password dialog box in OpenOffice cannot be read"
### Steps to reproduce:
1. Launch OpenOffice
2. Start a new document
3. Save new document and enable "Save with password" option

### Expected behavior:
NVDA should be able to read this dialog box.

### Actual behavior:
NVDA says nothing.

### System configuration:
NVDA installed, version 2017.2 in Brazilian Portuguese
Windows 7 in Brazilian Portuguese
OpenOffice 4.1.3 in Brazilian Portuguese

Scr

[2017-08-19 17:05] ehollig commented on #5880
Duplicate of #6021

[2017-08-19 17:05] #5880 closed

[2017-08-19 18:21] bhavyashah commented on #2936
This is just a friendly reminder for @brian1gaff to kindly respond to @leonardder's https://github.com/nvaccess/nvda/issues/2936#issuecomment-314222956.

[2017-08-19 20:36] ehollig commented on #5353
Could something like this be achieved with configuration profiles?

1. Open the program that is self voicing.
2. Press NVDA+N, C, Alt+N
3. Give the configuration profile a name
4. Press tab, and down arrow to current application.
5. Press Enter
6. Press NVDA+Shift+Z to turn sleep mode on.

Now, whenever the application is switched to, NVDA will be in sleep mode. Testing using notepad as a program

[2017-08-19 21:04] ehollig commented on #5353
Actually, when looking at #3721, this is not possible quite yet.

[2017-08-19 21:24] ehollig commented on #4676
As requested in https://github.com/nvaccess/nvda/issues/4676#issuecomment-323397109, closing

[2017-08-19 21:24] #4676 closed

[2017-08-19 21:31] ehollig commented on #5455
Ideally, these kinds of false positives should be reported to the developers of the antivirus software. There unfortunately is nothing NVDA can do in these regards. Closing

[2017-08-19 21:31] #5455 closed

[2017-08-19 21:37] ehollig commented on #5792
Thank you @josephsl, closing because of https://github.com/nvaccess/nvda/issues/5792#issuecomment-323494341

[2017-08-19 21:37] #5792 closed

[2017-08-19 21:40] ehollig commented on #5042
The original poster is stating the issue is in Firefox with youtube, and @bhavyashah states the problem did not exist in https://github.com/nvaccess/nvda/issues/5042#issuecomment-323510997. Closing, unless someone else experiences something different using latest Firefox and NVDA.

[2017-08-19 21:40] #5042 closed

[2017-08-19 21:57] ehollig commented on #4745
I do not quite follow either.
### Testing performed

1. Restart NVDA
2. Ensure Spelling errors is checked in the Document Formatting dialog.
3. Open the attached document.
4. Arrow around the document, ensuring not to make modifications.
5. Press Alt+F4
### Expected and Actual Behaviour
Word closes without a save dialog.

Although, this could also be a Duplicate of #949. Closing

[2017-08-19 21:57] #4745 closed

[2017-08-19 22:34] ehollig commented on #4692
This is a very vague and unclear issue. However, as requested by the original poster in https://github.com/nvaccess/nvda/issues/4692#issuecomment-323399556, closing

[2017-08-19 22:34] #4692 closed

[2017-08-19 22:40] ehollig commented on #4658
Closing because [Support for Hello was discontinued in Firefox 49](https://support.mozilla.org/en-US/kb/hello-status) and the latest version is Firefox 55.

[2017-08-19 22:40] #4658 closed

[2017-08-19 22:43] ehollig commented on #4655
Duplicate of #4530

[2017-08-19 22:43] #4655 closed

[2017-08-19 22:55] ehollig commented on #4635
Closing, as we are unable to contact the original poster for more information, and I am unable to find a link to download this True Voice synthesizer from Microsoft.

[2017-08-19 22:55] #4635 closed

[2017-08-19 23:05] ehollig commented on #6069
I am able to replicate this in Chrome. Firefox and Internet Explorer do not report clickable though

[2017-08-19 23:15] ehollig commented on #4440
This worksforme using Excel 2016 and performing the steps in https://github.com/nvaccess/nvda/issues/4440#issuecomment-323390341 which I believe to satisfy the requirements in the original post. NVDA does read the range of cells when CTRL+V is pressed. Closing

[2017-08-19 23:15] #4440 closed

[2017-08-19 23:24] ehollig commented on #4395
Closing, as we are unable to contact the original poster for more information or to clarify if this is still occurring for them. Also, @josephsl mentioned in https://github.com/nvaccess/nvda/issues/4395#issuecomment-155325881 that it worked for him. In order to determine what may be going on with this specific case, we would need a [crash dump](https://github.com/nvaccess/nvda/wiki/LogFilesAndCras

[2017-08-19 23:24] #4395 closed

[2017-08-20 00:15] ehollig commented on #3988
Closing as duplicate from the issues listed in https://github.com/nvaccess/nvda/issues/3988#issuecomment-323368650
Thank you @ruifontes for compiling this list.

[2017-08-20 00:15] #3988 closed

[2017-08-20 01:38] bhavyashah commented on #4438
Ctrl+PgUp and Ctrl+PgDn are the keystrokes to navigate between Find dialog search results. Regardless, arrowing between Page 3 and Page 4 contained no break as such. However, the document is indeed complex and NVDA reports 'new page' instead of the page number in some cases. Unless @surfer0627 requests otherwise, I believe this ticket can be closed as worksforme. @ehollig

[2017-08-20 01:42] ehollig commented on #4438
Thank you for testing @bhavyashah. Unless we can receive more information from the original poster, closing as worksforme

[2017-08-20 01:42] #4438 closed

[2017-08-20 01:44] bhavyashah commented on #2844
Since the original author of this ticket is now out-of-reach, he/she unfortunately failed to respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2844#issuecomment-155302983, the test case requires login credentials to access the Q&A section (as it seems to me) which we lack, and I believe this is merely a specific instance of Java focusing errors and jumpiness which has certainly been cov

[2017-08-20 01:49] ehollig commented on #2685
Closing, as the Google Issue [Chromium:323462](https://bugs.chromium.org/p/chromium/issues/detail?id=323462) has been fixed.

[2017-08-20 01:49] #2685 closed

[2017-08-20 01:51] bhavyashah commented on #2522
@fernando-jose-silva No, that feature request has already been made in #4904.

[2017-08-20 01:52] bhavyashah commented on #2795
There are two features being requested here:
* skipping over a large chunk of blank lines
* suppressing NVDA from saying 'blank' when blank lines are encountered and staying silent instead
The former has already been covered by #4904 and the latter can be taken care of by #2522. Thus, I suggest closing this as a duplicate. @ehollig

[2017-08-20 01:54] ehollig commented on #6972
I can confirm this issue using object navigation or NVDA+B with the above STR using English in notepad. Resulting in NVDA either repeating the information in the case of NVDA+B, or going in circles using object navigation. Using NVDA Master 14328

[2017-08-20 01:57] bhavyashah commented on #3823
Unfortunately, the original author of this ticket is now out-of-reach and he/she did not respond to @jcsteh's v about any specific application for which paragraph navigation was being requested so as to narrow the scope of this ticket. As @ehollig notes as well, implementing additional paragraph navigation for browse mode may be redundant since Ctrl+up/down arrows works perfectly well for that, do

[2017-08-20 02:07] bhavyashah commented on #4298
Yes, I suppose so. The fact that other audio also experiences this problem on the computer clearly implies that there is something wrong with the hardware as opposed to the software. Feel free to close as invalid. @ehollig

[2017-08-20 02:14] bhavyashah commented on #7320
@leonardder Do you think we could incorporate #5630's variation of the use of 'w' on the web under the umbrella of this ticket?

[2017-08-20 02:18] bhavyashah commented on #3015
I have never been good with Windows 8 Metro/Modern apps and such, but still, searching for 'message' in the Start menu yielded no programs as search results, leading me to believe that this app might no longer exist. @ehollig

[2017-08-20 02:32] ehollig commented on #1269
@Brian1Gaff, can you test this on Windows 7?

[2017-08-20 03:16] ehollig commented on #5295
@pranavlal is this still happening for you? Considering that #5268 is closed, and @jcsteh said that this should improve the issue, I am going to close this issue.

[2017-08-20 03:16] #5295 closed

[2017-08-20 03:29] ehollig commented on #1611
Closing as worksforme. If this is still an issue for someone, please create a new issue.

[2017-08-20 03:29] #1611 closed

[2017-08-20 03:32] ehollig commented on #6809
Could you please provide more information? What exactly in this program does not work?

[2017-08-20 03:36] Dennisl123 commented on #6809
One when arrowing throw the message list NVDA doesn’t read what message you’re on.  The options don’t read.  I suspect the import  export and message rules creations don’t read as well.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Saturday, August 19, 2017 11:32 PM
To: nvaccess/nvda
Cc: Dennisl123; Author
Subject: Re: [nvaccess/nvda] Please Make NVDA work with OEClassic (#6809)

C

[2017-08-20 03:41] ehollig commented on #5731
Closing, as it sounds like from https://github.com/nvaccess/nvda/issues/5731#issuecomment-181419661 that this issue has been resolved. This issue can be reopened if it has not.

[2017-08-20 03:41] #5731 closed

[2017-08-20 05:47] Dennisl123 commented on #6808
Why was this ticket closed?

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, July 17, 2017 3:02 PM
To: nvaccess/nvda
Cc: Dennisl123; Author
Subject: Re: [nvaccess/nvda] allow unlabeled buttons to be labeled (#6808)

Closed #6808 <https://github.com/nvaccess/nvda/issues/6808> .

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2017-08-20 08:17] Brian1Gaff commented on #6809
I'm sure I saw a thread about this on the users list saying the latest
version is better but not working well enough yet. This leads me to think
that much of the problems with this software are the actual way its been
written, and as we all know retrofitting accessibility to an already coded
program can be a nightmare. Maybe we could suggest that somebody
knowledgeable about  apis and what screenr

[2017-08-20 08:22] Brian1Gaff commented on #4298
I have seen this kind of thing with various sound cards. Often its driver
related. Certainly in the case of a creative card a downdate to the older
driver banished this apparent random volume setting at inopportune moments
completely.
 This was in XP, but I'd imagine resetting hardware values is the issue,
probably triggered by some control signal being misinterpreted.
 And yes it was all sound no

[2017-08-20 08:25] Brian1Gaff commented on #6972
Yes this issue on nvda/b has affected a lot of software. Its not a command I
use a lot, and if that is all it does then OK, but are we also saying this
has other effects, ones I've not seen?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-20 08:42] Brian1Gaff commented on #4745
Two things here.
 This is not confined to 2007, as I've seen it back in 2003. I seem to
recall there are several scenarios
1. Even without modification to the file, word thinks its different to the
loaded file and prompts to save the changes.
 This is a very long running issue, and I don't think anyone has managed to
figure out why some files do it and others do not. This implies that nvda
being t

[2017-08-20 08:47] Brian1Gaff commented on #2936
I was not sent an email about this new /old comment. May have been one of
the emails Virgin dumped.
 Using winamp now, with the latest add on as well, the only weirdness is if
you answer no to is this a new portable device you want to use.
 I'm thinking that the actuall issue is probably in winamp and unlikely to
ever get fixed now.
 I'll go and rre read the thread to see if I can remember exactly

[2017-08-20 08:51] Brian1Gaff commented on #2936
Personally, I seldom use winamp to look up cddb these days, but I think it
prompts you when there is an issue when you inseert some discs. .
 My feeling is that once again its Winamp as its suspiciously like the error
on portable  media.
 Probably worth closing and as it is, I think now abandoned software then so
be it. It can be annoying but worked around.
 Brian

bglists@blueyonder.co.uk
Sent vi

[2017-08-20 08:54] pranavlal commented on #5295
This is still happening only on certain kinds of messages. These messages have large attachments. This is on an Exchange server.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Sunday, August 20, 2017 8:46 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is sluggish when navigat

[2017-08-20 08:56] Brian1Gaff commented on #7505
Just a suggestion, originally this program required Java to work. It was
modified so it apparently did not need it, but maybe some parts still do and
need the access bridge.
 I've not seen much change on Open Office for some time, unlike Libra
Office, are there still people working on it?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co

[2017-08-20 14:27] fernando-jose-silva commented on #2522
Perfect thank you.

De: bhavyashah [mailto:notifications@github.com]
Enviada em: sábado, 19 de agosto de 2017 22:52
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [nvaccess/nvda] Option to suppress speaking of "blank" for blank lines (#2522)

@fernando-jose-silva <https://github.com/fernando-jos

[2017-08-20 15:19] ehollig commented on #2795
Duplicate of #4904

[2017-08-20 15:19] #2795 closed

[2017-08-20 15:35] ehollig commented on #3015
According to [Facebook](https://www.facebook.com/help/852837148154446), it looks like the messenger app is only available for Windows 10. As this issue is over 4 years old and I have not heard other issues regarding this reported, we are unable to contact the original poster, and it is discussing Windows 8, closing.

[2017-08-20 15:35] #3015 closed

[2017-08-20 15:44] ehollig commented on #4298
Closing as invalid because of https://github.com/nvaccess/nvda/issues/4298#issuecomment-319237559

[2017-08-20 15:44] #4298 closed

[2017-08-20 15:53] ehollig commented on #3823
Closing, as we are unable to contact the original poster and the specific application requested was not mentioned. Any request for paragraph navigation support will be addressed on an application specific basis.

[2017-08-20 15:53] #3823 closed

[2017-08-20 16:02] ehollig commented on #5295
As @jcsteh said in https://github.com/nvaccess/nvda/issues/5295#issuecomment-155342597

[2017-08-20 16:05] ehollig commented on #2936
Closing, as it sounds as if this is an issue with Winamp, which is now abandoned software. It is still usable, but development is abandoned.

[2017-08-20 16:05] #2936 closed

[2017-08-20 16:14] ehollig commented on #6808
@Dennisl123, this issue was marked as a duplicate, as #5874, already has code contributed to this issue.

[2017-08-20 16:21] ehollig commented on #2844
Closing, as we are unable to contact the original poster for more information, and the test case provided requires a username and password combination.

[2017-08-20 16:21] #2844 closed

[2017-08-20 16:22] derekriemer commented on #3823
It also works in apps like word.

[2017-08-20 16:25] derekriemer commented on #5792
I hope you consider merging that into the official dev guide. It's an important one.

[2017-08-20 16:29] derekriemer commented on #5172
It seems that this is becoming more and more common with modern dell sound cards, and the unspoken addon by @camlorn randomly fixes the problem, although I don't know what he does differently than NVDA to hold the sound card hostage. @feerrenrut Any idea on priority? This issue is very annoying for those who have it, making NVDA very very annoying to use and nearly useless on new dell sound cards.

[2017-08-20 16:30] bhavyashah commented on #6887
@fernando-jose-silva Does this still occur for you? Using NVDA 2017.3 RC 1 and a recent version of CCleaner, Internet Explorer is the first item of the tree view and NVDA does report that it is expanded and checked. Pressing Spacebar also triggered NVDA to report the state change accurately. I do vaguely recall encountering the issue you describe in the past, but at present, probably due over time

[2017-08-20 16:31] bhavyashah commented on #5907
This is just a friendly reminder to @vgjh2005  to kindly respond to @leonardder's https://github.com/nvaccess/nvda/issues/5907#issuecomment-315843555.

[2017-08-20 16:35] derekriemer commented on #4923
Given that the complete redesign of core spinning elimination and other stuff is done, by by. I don't think I have enough info and certainly don't have the dmp around still. @ehollig if you can go grab the zip file and reattach it, that would be great.

[2017-08-20 16:37] derekriemer commented on #5392
no, but @ehollig mind digging up the dump? I'll see what I can extract from it.

[2017-08-20 16:39] Dennisl123 commented on #6808
Will this be in a release soon?

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Sunday, August 20, 2017 12:15 PM
To: nvaccess/nvda
Cc: Dennisl123; Mention
Subject: Re: [nvaccess/nvda] allow unlabeled buttons to be labeled (#6808)

@Dennisl123 <https://github.com/dennisl123> , this issue was marked as a duplicate, as #5874 <https://github.com/nvaccess/nvda/issues/5874> , already has c

[2017-08-20 16:43] ehollig commented on #5392
@derekriemer, the dump can be found in https://github.com/nvaccess/nvda/issues/5392#issuecomment-155343663 or [nvda_crash.dmp.zip](https://github.com/nvaccess/nvda/files/1236650/nvda_crash.dmp.zip). Remove the .zip extension.

[2017-08-20 16:45] ehollig commented on #4923
@derekriemer, the attachment can be found in https://github.com/nvaccess/nvda/issues/4923#issuecomment-155334635 or [feb_14_15_in_thunderbird_random_crash.zip](https://github.com/nvaccess/nvda/files/1236649/feb_14_15_in_thunderbird_random_crash.zip). Remove the .zip extension.

[2017-08-20 16:48] bhavyashah commented on #5533
Winamp is sort of abandonware now. Time to close? @ehollig

[2017-08-20 17:16] ehollig commented on #5046
I tend to agree with @jcsteh. If NVDA announced "Searching..." and then announced, "Search complete", prior to announcing the focused item, this would get really verbose. Thoughts from others? CC @josephsl

[2017-08-20 17:26] josephsl commented on #5046
Hi,

Windows 10 specific changes were implemented as of NVDA 2017.3 (#6241), not in a position to investigate Windows Vista as support for it has ended as of this year. Live region change is a tempting solution (#7281 and friends), but only if the control supports it. As I outlined above (as nvdakor), it leads to event flooding, possibly leading to people not hearing results in time to react to it

[2017-08-20 18:01] ruifontes commented on #6808
Hello!

For me, it seems abandoned code... last comment about code is one year
old...

And the broad of this ticket is only for HTML objects, and not GUI
objects...

Rui

-----Mensagem Original-----
De: Ethan Holliger
Data: 20 de agosto de 2017 17:14
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] allow unlabeled buttons to be labeled (#6808)

@Dennisl123, this issue was marked as

[2017-08-20 18:05] Neurrone commented on #7417
Bump, seeing a lot of these recently.

[2017-08-20 18:26] ruifontes commented on #4689
Hi!

It is:
Reordering Main Menu Structure In NVDA #5976

it is closed, but I do not agree! Smile!

Rui

-----Mensagem Original-----
De: bhavyashah
Data: 19 de agosto de 2017 05:18
Para: nvaccess/nvda
Cc: ruifontes ; Mention
Assunto: Re: [nvaccess/nvda] add an Addons submenu in the NVDA Menu,
containing all add-on and add-on settings dialogs (#4689)

@ruifontes Regarding the merger of mentioned co

[2017-08-20 18:34] ehollig commented on #1849
@leonardder, I have restored the attachments in https://github.com/nvaccess/nvda/issues/1849#issuecomment-155293448 and https://github.com/nvaccess/nvda/issues/1849#issuecomment-155293449

[2017-08-20 18:54] ehollig commented on #3961
As @jcsteh said in https://github.com/nvaccess/nvda/issues/3961#issuecomment-155318134, please contact the developers of Viber to make this program more accessible for screen readers. Closing

[2017-08-20 18:54] #3961 closed

[2017-08-20 19:27] ehollig commented on #5297
Closing because of https://github.com/nvaccess/nvda/issues/5297#issuecomment-155342610. Requests like this should really be made to Microsoft. In Windows 10, you can easily provide feedback in the Feedback Hub by pressing Windows+F.

[2017-08-20 19:27] #5297 closed

[2017-08-20 19:33] ehollig commented on #4732
@bhavyashah, do you still have a Windows 7 machine to test this on or could you clarify exactly what is the issue addressed in this ticket? If not, @Brian1Gaff, could you test this?

[2017-08-20 19:38] ruifontes commented on #5976
Hello!
I agree with @bhavyashah:
Donation and Exit are well as they are.

Using @josephsl description of messages send by each menu:
• Preferences: flexibility. Profiles is one of the best examples of flexibity on configurations! So, it should be in this menu...
• Tools: Hidden gems.
• Help: Giving assistance via various channels and glimpsing the past, present and future.
• Various config setting

[2017-08-20 19:41] PratikP1 commented on #7417
Possible duplicate of #6827 and #7196. Also possibly related to #5450 5776.

[2017-08-20 20:18] pleveris opened #7507 "NVDA suddenly goes away for some reason..."
### Steps to reproduce:
Actually, there are almost any. In fact this problem happens not always in a same way; I'd say randomly...
The most often this happens when I press Windows key quickly or when go to Network Connections window and press on a Close button which appears if PC is unable to connect to a network...
After this happens NVDA is unable to do anything (speak, react to key presses and

[2017-08-20 20:22] ehollig commented on #7417
Duplicate of #7196

[2017-08-20 20:22] #7417 closed

[2017-08-20 20:28] josephsl commented on #7507
Hi, does this happen with the add-on mentioned is disabled? If not, then this is yet another manifestation of the app switching problem discussed in earlier issues. Thanks.

From: Pauliusleveris [mailto:notifications@github.com]
Sent: Sunday, August 20, 2017 1:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA suddenly goe

[2017-08-20 20:40] Pauliusleveris commented on #7507
Hello,
I didn't try it actually...
Thanks.
Sincerely,
Paulius Leveris<div id="DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2"><br />
<table style="border-top: 1px solid #D3D4DE;">
	<tr>
        <td style="width: 55px; padding-top: 13px;"><a
href="https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail"
target="_blank"><img
src="https://ipmcdn.avast.com/ima

[2017-08-20 20:50] ehollig commented on #3797
@derekriemer is this still the case? When I open the attachment with Outlook 2016 and navigate by graphics, and then perform NVDA+D, I get "No long description" and no error tones.

[2017-08-20 20:53] josephsl commented on #7507
Hi, yes, please try that and report back with results. Thanks.

From: Pauliusleveris [mailto:notifications@github.com]
Sent: Sunday, August 20, 2017 1:41 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA suddenly goes away for some reason... (#7507)

Hello,
I didn't try it actually...
Th

[2017-08-20 21:02] ehollig commented on #4701
Closing, as it sounds like this issue has been resolved from https://github.com/nvaccess/nvda/issues/4701#issuecomment-155330834

[2017-08-20 21:02] #4701 closed

[2017-08-20 21:07] ehollig commented on #5337
I am not able to replicate this using Windows 10 either. Is anyone able to test using Windows 8.1 or Windows 7?

[2017-08-20 21:31] ehollig commented on #5895
Closing as duplicate of #5354

[2017-08-20 21:31] #5895 closed

[2017-08-20 21:35] ehollig commented on #5066
@michaelDCurran, can this type of information be retrieved from Word and reported as requested in https://github.com/nvaccess/nvda/issues/5066#issuecomment-155338582?

[2017-08-20 22:22] michaelDCurran commented on #5066
Extra information for property changes can be seen in the Elements list when selecting annotations.

[2017-08-20 22:56] fernando-jose-silva commented on #6887
Unfortunately for me the problem still occurs.
I am using the nvda next 14327 and the "c cleaner" 5.33 64bits, the windows is the 10 15063.540 64bits.
I believe this should be dependent on windows and if the software is 64 bit.
Thank you very much.

[2017-08-20 23:17] jcsteh commented on #4499
No. The fix for this was reverted in 171a430, since it didn't actually work. Setting as p4, since this affects few users, has a work around (disable Handle keys from other applications) and appears to be very difficult to even diagnose.

[2017-08-20 23:42] chrisbelle2015 commented on #5533
It is indeed, but still seems to be very popular in the comunity.
Look how long people stuck with reaper even after that Russian guy's
abandon ware reaccess was getting long in the tooth and buggy,
it kind of was to begin with, but as long as tools work, they are worth
having around, everyone get's this false sense of if it wasn't made
yesterday, it's not worth anything, but that just simply is no

[2017-08-20 23:42] jcsteh commented on #4380
On further thought, I think making this configurable would just make things more confusing as you say. Closing as won't fix.

[2017-08-20 23:42] #4380 closed

[2017-08-20 23:48] jcsteh commented on #5326
Interestingly, in Chrome, the button does now get the author provided label instead of "Choose file".

For Firefox, I still think I'd prefer the file input (which currently gets a role of text frame) to get a role of grouping. It already gets the label. That way, this would be read as a labelled grouping with a Browse button when tabbing.

A bug has yet to be filed against Firefox.

[2017-08-20 23:50] #7475 closed

[2017-08-20 23:50] jcsteh commented on #7475
Closing as duplicate of #3807.

[2017-08-21 00:33] ehollig commented on #5066
Thank you @michaelDCurran. Sounds like everything is settled here from the comment provided in https://github.com/nvaccess/nvda/issues/5066#issuecomment-323615836. Closing as worksforme

[2017-08-21 00:33] #5066 closed

[2017-08-21 01:16] ehollig commented on #7103
Duplicate of #6786

[2017-08-21 01:16] #7103 closed

[2017-08-21 01:44] LivingForGod1991 commented on #6887
Hi. This is also the case for me. I’m also using NVDA Next snapshot 14327, CCleaner 5.33, and Windows 10 Home build 16257 64-bit.

From: fernando-jose-silva [mailto:notifications@github.com]
Sent: Sunday, August 20, 2017 5:57 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Nvda does not announce checkbox status in software

[2017-08-21 01:52] ehollig commented on #7342
@leonardder, from https://github.com/nvaccess/nvda/issues/7342#issuecomment-312169697, it sounds as if this is a quickfix. Is this true?

[2017-08-21 01:57] Qchristensen commented on #2511
If you type --- (three or more hyphens) then press ENTER, it creates a single line bottom border under the current paragraph.

If you type *** (three or more asterisks) then press ENTER, it creates a 3pt width dotted bottom border (visually a line of solid squares).

It's true that NVDA doesn't announce this, as it doesn't announce any borders, which is the subject of issue #2010

(Note: technical

[2017-08-21 02:08] Qchristensen commented on #2010
My assumption about this issue is that it is wanting borders detected as formatting in Word.  To set borders, press alt+h, b, o, then select options from the dialog box.  To set a basic border on one side or all of a paragraph, press alt+h, b then choose the option from the list.  The dialog box (o) lets you let the style, colour and width of the border.

I've uploaded a document here with some li

[2017-08-21 02:11] ehollig commented on #3867
@michaelDCurran, do you know what the stand is on this issue and whether it should be triaged?

[2017-08-21 02:17] michaelDCurran commented on #3867
Closing as fixed as the only example was worked around. As long as the variant in a callback is set to vt_empty no crash will occur.  The underlying bug is certainly in comtypes/ctypes. If we see this again we can res erect the effort and report it properly to both the Python and comtypes projects.

[2017-08-21 02:17] #3867 closed

[2017-08-21 02:30] ehollig commented on #2827
When I open a password protected Word documents, NVDA does read the prompt to enter the password. NVDA does not read the characters typed or read when I delete them, but that is a different issue stated by @michaelDCurran in #2716. As we are unable to contact the original poster in regards to the crash to debug the issue, closing as duplicate of #2716

[2017-08-21 02:30] #2827 closed

[2017-08-21 02:40] ehollig commented on #6910
For someone who is doing a lot of editing in Excel, I can see how this would be a lot of information that is being spoken. I believe there is reasoning for why NVDA announces the information it does though. In a Microsoft Excel document, in cell A1, if I type something, NVDA says:
Edit Item
edit
an edit control
Maybe this could be shortened to just editing? CC @feerrenrut @michaelDCurran

[2017-08-21 02:42] michaelDCurran commented on #6910
This is a Microsoft bug, which has been reported to them.   In short, the name is "edit item", the role is edit, and the description is "An edit control". Both name and description are not necessary here.

[2017-08-21 02:58] ehollig commented on #5697
@pranavlal, just a friendly reminder to respond to @leonardder in https://github.com/nvaccess/nvda/issues/5697#issuecomment-315824532

[2017-08-21 03:01] ehollig commented on #5561
Closing, as requested in https://github.com/nvaccess/nvda/issues/5561#issuecomment-315850715. If this issue still exists for someone, we can reopen this issue.

[2017-08-21 03:01] #5561 closed

[2017-08-21 03:08] feerrenrut commented on #3475
@bhavyashah Yes, this issue can be reproduced with that test case. The test case also includes two work around options. I have updated the description of this issue to make it clearer.

[2017-08-21 04:09] leonardder commented on #7342
I'm afraid it isn't as simple as this.

[2017-08-21 05:39] feerrenrut commented on #4538
I think the main thing missing from this is some concrete example. When trying to implement this the developer will need to come up with a method of testing it. We need a test case that demonstrates how moving the mouse with a script results in a better accessibility outcome. Also handy would be a set of steps to for the implementer to have some certainty that they will avoid regressions. Such as

[2017-08-21 05:53] feerrenrut commented on #5172
Based on the impact (skipped sounds) of this, I would consider this is fairly important. The questions that come to mind are:
* How many users does this actually impact?
* Is a developer able to reproduce this problem?
* What are the concrete steps to reproduce the problem?

Without being able to reproduce this, it will be difficult to fix. Essentially requiring a process of sending builds to user

[2017-08-21 06:21] bhavyashah commented on #5754
Thiss is just a friendly reminder for @leonardder to kindly respond to @derekriemer's https://github.com/nvaccess/nvda/issues/5754#issuecomment-319031754.

[2017-08-21 07:05] Pauliusleveris commented on #7507
ello,
Tried that problem with add-ons disabled, and I didn't need to wait
for long time - this problem happened just by pressing Windows key
after NVDA started with add-ons disabled...
Thanks.
Sincerely,
Paulius Leveris<div id="DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2"><br />
<table style="border-top: 1px solid #D3D4DE;">
	<tr>
        <td style="width: 55px; padding-top: 13px;"><a
href="https://www.a

[2017-08-21 07:41] josephsl commented on #7507
Hi, yep, sounds like the app switching bug. Thanks.

From: Pauliusleveris [mailto:notifications@github.com]
Sent: Monday, August 21, 2017 12:06 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA suddenly goes away for some reason... (#7507)

ello,
Tried that problem with add-ons disabled,

[2017-08-21 08:17] vgjh2005 commented on #5907
Hi:
This Ticket isn't reported by me and that person is too busy.

[2017-08-21 09:31] Brian1Gaff commented on #4732
Right, well. Often in Windows 7 when you do the test of the volume in the
defrag, the actual descriptors of the fields are spoken as gibberish with a
situation like if  foreign characters are present, but that language is not
in Windows. IE letter this or that.
Strangely, the actual fields of the data are correct.
Later if you do a defrag you will find next time you look at the same part
of the ut

[2017-08-21 09:34] Brian1Gaff commented on #5533
Its still used a lot though.
 I wonder if somebody might wish to do this in an add on, assuming the way
to do it is actually feasible in the software, though Jaws manages it.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-21 09:40] Brian1Gaff commented on #6887
I have just tested this in windows 7. It works on the first item, but
subsequent items only respond if you change their state, so to be sure its
set as what you want you need to hit space twice, once to change it the
other way then again to get it back as it was. Simply going up and down does
not reveal the presence of checkboxes at all.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please

[2017-08-21 09:43] Brian1Gaff commented on #5172
I had a dell laptop in here a couple of weeks ago, dual booting xp and 7.
Neither would work through the internal card without cropping of the end of
speech a lot. I ended up plugging in an el cheapo usb sound device through a
couple of speakers. Liuckily the guy is sighted or it would have made him
send it through the window.
 However its odd as i have a Dell of 2013 vintage with none of this iss

[2017-08-21 09:57] Brian1Gaff commented on #5337
I am at a loss to quite understand what is being described here. is it that
special folders carry this tab, as here in Windows 7, I have a folder full
of mp3s and all sorts, and apart from properties I cannot see any other
metadata viewing option.

In 7 Explorer will occasionally crash in any case. Its a well known issue
with 7 generally.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Pleas

[2017-08-21 10:39] bhavyashah commented on #6805
@derekriemer Do the reported freezes and crashes still occur with recent stable/nightly versions of Firefox? Visiting https://arewee10syet.com/ did not cause any freeze as such from a usage standpoint, but certainly quite a lot of interesting log content. The odd thing is that NVDA does not freeze as such at all, so a user might not even observe the effects you describe and those that the log cont

[2017-08-21 10:47] bhavyashah commented on #6532
@tspivy Since you reported in https://github.com/nvaccess/nvda/issues/6532#issuecomment-296999784 that the described crash is still reproducible at your end, could you please provide further information (crash dump, any requisite conditions to lead to a reliable STR, Skype version, etc.) when this happens again? @derekriemer, how about your ability to reproduce this crash in recent times?

[2017-08-21 10:54] bhavyashah commented on #6172
@feerrenrut Does this mean that the reported crash is a result of a Focus Highlight add-on issue? In that case, I suppose we can safely close this ticket and report this to the add-ons community.

[2017-08-21 11:00] tspivey commented on #6532
I get these a lot, usually when closing a chat. Skype recovers, but I still get the dialog or a Skype has stopped working message.
This time, the error message was:
    Access violation at address 6DE05DEA in module 'MSFTEDIT.DLL'. Write of address 0000013C.
Skype version: Skype™‎   Version 7.38.0.101
NVDA version: master-14324,17dfc68e
Windows 10: Version 1703 (OS Build 15063.540)
Crash dump, gen

[2017-08-21 11:42] fernando-jose-silva commented on #6887
For me nvda never announces the status of checkboxes, regardless of their status.

Enviado do meu iPhone

[2017-08-21 12:26] Brian1Gaff opened #7509 "Firefox 56 no longer displays the page when launched"
Firefox from 55 to 56, when it launches, it seems to be in a weird place called bookmarks panel or similar. One then has to tab several times to get to the page and hence browse mode. Sadly you are no longer taken to the edit field if its a search engine, and then you need to explore to find if its up or down from where its dunped you.
I am using the latest master branch, but some people on the us

[2017-08-21 12:38] Brian1Gaff commented on #6172
I have noticed several occurrences of this in Windows 7. Yes I do have focus
highlight installed, but even if an nvda  menu or settings sheet is open it
can slow down windows  shutting down. Google drive has similar issues.
 It seems eventually to either manage to close or it gives you the option to
force it, depending on the software.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please a

[2017-08-21 12:41] Brian1Gaff commented on #6887
I think what I was getting at is that often you won't even know a checkbox
exists in this part of ccleaner without toggling them.

Its only then that you heare they are there and the state its toggled to.
This particular part is also flakey as it uses uia I think and hence won't
work on 7 and up on portable versions of nvda very reliably, escpecially
after a scan.

Brian

bglists@blueyonder.co.uk

[2017-08-21 12:57] bhavyashah commented on #5973
@feerrenrut I was under the impression that Flash would be way lower in priority due to its coming death and the fact that most websites are transitioning to HTML 5 anyways. In fact, we have closed several Flash specific tickets as wontfix too. Thus, P3 seems unjustified to me. Thoughts?

[2017-08-21 13:02] bhavyashah commented on #5588
This is just a friendly reminder for @nvdaes to kindly respond to @ehollig's https://github.com/nvaccess/nvda/issues/5588#issuecomment-314907615. In case you are away or busy, please feel free to respond only at your convenience.

[2017-08-21 13:46] jiwi12 opened #7510 "NVDA doesn't read certain dialog text in Microsoft Word"
NVDA only reads the Ok or Close buttons in certain Word dialogs instead of reading the text automatically. The text can be read with Insert+b as a workaround.

Steps to reproduce:
1. Open a Microsoft Word document that has content, or create one.
2. Go to the Review ribbon with alt+r, then select Word Count... in the Proofing group.

Another example:
1. From within the previous document, go to the

[2017-08-21 13:55] ehollig commented on #7510
This works correctly in Word 2016. @bhavyashah can you confirm using Word 2010?

[2017-08-21 14:56] ehollig commented on #5132
Marking this issue as feature.

[2017-08-21 15:06] bhavyashah commented on #7510
This works absolutely correctly on Word 2010 as well. In particular, the Word Count dialog and the one shown after a replacement is issued are read automatically by NVDA, which are the two cases specifically mentioned by @jiwi12.

[2017-08-21 15:07] fernando-jose-silva commented on #6887
If they could evaluate in windows 10, 64 bits, in my case nvda never announces the statos of these boxes

Enviado do meu iPhone

[2017-08-21 15:12] jiwi12 commented on #7510
Strange. I can reproduce it on two different computers with multiple versions of NVDA and word.

[2017-08-21 15:17] ehollig commented on #7510
@jiwi12, could you please provide a [Log file](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) demonstrating the issue with all addons disabled?

[2017-08-21 15:20] jiwi12 commented on #7510
I just reset NVDA to factory defaults, and it worked correctly in Word.  My preferred configuration had NVDA said not to read tooltips, and apparently the dialogue texts were considered such. Turning tooltips back on fixed the problem. Thanks.

[2017-08-21 15:20] #7510 closed

[2017-08-21 15:22] jiwi12 commented on #7510
Sorry, it was actually object descriptions.

[2017-08-21 15:24] fisher729 commented on #7509
Hi.
On first observation, Firefox 56 is not the latest stable version. Does this mean that any issue relating to a Firefox bug can be fixed before major release? Secondly, the bookmarks panel is present in Firefox 55.0.2 if, say, I press Control+I. Could you press this shortcut to see if the page loads normally? If yes, this issue may be due to an accidental press. Thirdly, could you send steps to

[2017-08-21 16:47] elliott94 commented on #7311
Yes; applying the above steps has now resolved this, and allowed NVDA to output content as expected.

[2017-08-21 16:50] elliott94 opened #7511 "Skype for Business 2016: Content of Chat Messages Not Automatically Read"
When running the latest NVDA Next snapshot as of this issue, I've noticed that the content of chat messages is not automatically read. From taking a look at the latest couple of merges, it looks as if these should now automatically be read. Is this the case?

[2017-08-21 17:08] elliott94 commented on #5193
I haven't seen this for a while now; happy for it to be closed.

[2017-08-21 17:10] ehollig commented on #5193
Closing as requested in https://github.com/nvaccess/nvda/issues/5193#issuecomment-323800647

[2017-08-21 17:10] #5193 closed

[2017-08-21 19:28] jeanbrazcosta opened #7512 "Nvda closing Sql Developer"
1> Open Sql Developer.
2> connect ### Steps to reproduce in database.
3> make a select.
4> press control + page up or alt + page up for to go to grid.

5> press Press the directional arrows.

This point Nvda Nvda will close the application

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name

[2017-08-21 20:12] ehollig commented on #7231
I am not having an issue opening and reading Excel help when performing the above steps using Excel 2016 on Windows 10. After pressing F1, I need to press tab to begin reading Excel help information.
Could you please try this with all addons disabled and if the problem persists, could you provide a [log file](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) with logging set to debug in

[2017-08-21 20:23] ehollig commented on #5124
Does any braille experts have any comments on this issue? Unfortunately, we are unable to contact the original poster for further clarification with regards to this issue.

[2017-08-21 20:32] ehollig commented on #5243
@halim, @aliminator, @jcsteh, it does not sound like others are interested in this change as asked in https://github.com/nvaccess/nvda/issues/5243#issuecomment-155341577 based on the replies in this ticket. Is this something still worth looking into or changing?

[2017-08-21 20:39] ruifontes commented on #5124
Regarding the various commnets of the author:
1 - At least with Basic Braille and Orbit Research 20 I don't need to
restart NVDA after suspension;
2 - I don't know if it is a very requested feature. For me, priority 4 or
more... It is importante to people learning other languages.
3 - I don't understand what he wants to say...
4 - I suppose he wants the Braille display to refresh line by line, or

[2017-08-21 20:43] ehollig commented on #5755
@josephsl, @jcsteh, were you able to get this driver from @khsbory?

[2017-08-21 22:20] ehollig commented on #7439
@elliott94, is this still an issue? I am not able to replicate using Word 2016.

[2017-08-21 22:44] ehollig commented on #2511
Reporting of shapes is discussed in #5738 I believe. Closing as duplicate

[2017-08-21 23:00] ehollig commented on #7176
This sounds like a duplicate of #5768

[2017-08-21 23:00] #7176 closed

[2017-08-21 23:22] ehollig commented on #3647
@jcsteh, do you still think something like this is counter-productive as stated in https://github.com/nvaccess/nvda/issues/5976#issuecomment-220572872? Other comments in #5976 think this may be a useful feature.

[2017-08-22 00:43] ehollig commented on #3069
I have not had an issue creating rules using Outlook 2016, although this could possibly be specific to Outlook 2010. Is there anyone with Outlook 2010 who could test using the manage rules and alerts and creating a new rule?

[2017-08-22 00:48] ehollig commented on #3459
Outlook Express has been replaced by Windows Mail in later versions of Windows according to [Wikipedia](https://en.wikipedia.org/wiki/Outlook_Express). This sounds like an XP specific bug, which only critical bugs are being addressed. Closing as wontfix

[2017-08-22 00:48] #3459 closed

[2017-08-22 00:53] jcsteh commented on #3647
1. Change for change's sake is rarely a good idea.
2. I don't think 11 items in the main menu is unreasonable, especially as these are pretty basic functions.
3. IMO, adding an extra menu for these just makes them harder to find/get to.
4. "Configuration" might get confused with "Preferences". If we were going to do this, I'd suggest "Configuration management".
5. I'll defer to @QChristensen, @Mic

[2017-08-22 01:01] ehollig commented on #3876
There is a lot of watchdog activity in the log provided, however, I do not believe I see anything about Microsoft Word in the log provided. As we are unable to contact the original poster for more specific information, closing as invalid

[2017-08-22 01:01] #3876 closed

[2017-08-22 01:17] Qchristensen commented on #2511
@ehollig - The name of this issue is confusing.  The issue is actually around reading borders, not shapes.  I've renamed the issue to clarify and reopened.

[2017-08-22 01:22] michaelDCurran commented on #3647
I agree with Jamie's points. Closing as wontfix

[2017-08-22 01:22] #3647 closed

[2017-08-22 02:39] ehollig commented on #2988
This is not an issue on Windows 10. Could someone please test on Windows 7 to see if this is still an issue?

[2017-08-22 02:46] ehollig commented on #3657
Closing, as this information is not clear enough, as reported in https://github.com/nvaccess/nvda/issues/3657#issuecomment-155312899

[2017-08-22 02:46] #3657 closed

[2017-08-22 02:49] ehollig commented on #3639
@josephsl, do you know the status on this issue and whether it still applies?

[2017-08-22 02:54] ehollig commented on #3658
As stated by @jcsteh in https://github.com/nvaccess/nvda/issues/3658#issuecomment-155312907, you can do this in Windows 7 by pressing Windows key+p and selecting "Projector only". For newer versions of Windows, I do not believe this is possible without using some 3rd party software. This would have to be changed by Microsoft. Closing as NeedsExternalFix and cantfix

[2017-08-22 02:54] #3658 closed

[2017-08-22 02:58] ehollig commented on #3658
Duplicate of #5856

[2017-08-22 03:31] feerrenrut commented on #6172
Yes, I believe this was a result of the focus highlight add-on. I have no tried this again with the latest focus-highlight addon: `focusHighlight-5.0-dev-170416 ` (which is at the pre-release stage). The crash did not occur. I believe I had `focusHighlight-3.0.nvda-addon` installed at the time. I tested this again with focus highlight 3 and cant reproduce the issue with nvda version `Version: mast

[2017-08-22 03:31] #6172 closed

[2017-08-22 03:36] feerrenrut commented on #5973
Yes, I think its best to be consistent with our approach to this. Closing as won't fix, it's very unlikely we would get to issues like this before Flash is well and truly obsolete.

[2017-08-22 03:36] #5973 closed

[2017-08-22 04:03] bhavyashah commented on #7439
@ehollig No, everyone should probably be able to reproduce this, because this is less of a bug and more of a change of behaviour for consistency of expectations. The expected result is for the spaces to be announced when the appropriate Symbol level is chosen. A change for the sake of consistency such as this could have severe complications in practical situations, introducing potential confusion

[2017-08-22 06:02] bramd commented on #7458
@leonardder Do you have any use for this outside the Handy Tech driver? A separate PR would be fine with me, but code that isn't used anywhere shouldn't be in core yet in my oppinion.

[2017-08-22 06:11] LivingForGod1991 commented on #6887
It’s that way in my case as well. NVDA never announces the checkboxes, even if I push the spacebar to toggle them. The first one is not even announced.

From: fernando-jose-silva [mailto:notifications@github.com]
Sent: Monday, August 21, 2017 10:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Lanie Molinar <laniemolinar91@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvacces

[2017-08-22 06:19] leonardder commented on #7458
[**@bramd**](https://github.com/bramd) commented on [22 aug. 2017 08:02 CEST](https://github.com/nvaccess/nvda/issues/7458#issuecomment-323927623 "2017-08-22T06:02:43Z - Replied by Github Reply Comments"):

I'm sure other drivers can benefit from this, especially the Baum driver which supports a wide range of displays. See also https://github.com/nvaccess/nvda/issues/6063#issuecomment-319168473

[2017-08-22 07:03] jcsteh commented on #7402
I was running an older beta of MathPlayer. I updated and I now definitely get the pitch changes.

@Neurrone, what speech synthesiser are you using? This will only work on synth drivers which support inline pitch changes. eSpeak, OneCore and SAPI 5 all do. However, third party drivers may not. Note that raising pitch when reading capitalised characters is handled by actually changing the pitch of t

[2017-08-22 08:00] Brian1Gaff commented on #3459
bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-22 08:02] Brian1Gaff commented on #3459
Actually this problem no longer seems to have occurred recently even on the
modified version of Outlook express I use in windows 7 and 10, so I'm
wondering if its accidentally been sorted out by another update.
 Tested on both master and Next branches. I use message rules a lot to sort
emails, and have had no problems
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal ema

[2017-08-22 08:12] Brian1Gaff commented on #7509
I simply updated from 55 to 56. I did not press any key. it did it on
opening the  program every time. I know about the i and b shortcuts here and
avoid them, plus nothing in the menus or set up was changed.
 I am using Windows 7 pro 64, and in this case the latest master snap or the
rc of the new version.
 I was not sure about where the cause lay since if you look at the user list
there are peopl

[2017-08-22 08:15] Brian1Gaff commented on #6887
It is indeed strange that although this effect is there for everyone, that
some get it if you actually operate the invisible checkbox and some never
see it at all.
 Would I perhaps be right in thinking that the ones who never see it at all
are using windows 10?
 I'm using 7.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting '

[2017-08-22 09:29] k-kolev1985 commented on #6887
Yes, I also have this issue and for me NVDA does not see the check boxes as such - only as tree view items. I'm running the latest "next" snapshot of NVDA on a Windows 10 64-bit system. CCleaner is the latest version and it is also 64-bit, because that is what you get when you install CCleaner on a 64-bit system. But I think this is a problem of CCleaner and not of NVDA. I've been complaining to t

[2017-08-22 10:51] Qchristensen opened #7514 "Capital pitch change percentage not working"
Using both Microsoft OneCore and SAPI 5, NVDA seems to ignore the "Capital pitch change percentage"  setting and treat it as if it was set to 0%.  If "Say cap" before capitals is checked, then NVDA reads cap and says the capital letter with the pitch changed as per the capital pitch change setting.  eSpeak seems to work normally.

Using Windows 10 (regular home build and fast insider), and using a

[2017-08-22 10:53] bhavyashah commented on #3584
@jcsteh noted in https://github.com/nvaccess/nvda/issues/3584#issuecomment-155310561 that reassigned key bindings are programmatically difficult to retrieve efficiently. Since the requested feature makes a lot of sense to me too, and it is very much possible that novice NVDA users may remain unaware about the keystrokes assigned to these NVDA dialogs, I would like to request technical reconsiderat

[2017-08-22 12:49] fisher729 commented on #7514
Hi.
I cannot confirm this. With the capital pitch change set to 30%, I hear a suttle difference in the pitch of the OneCore voices. The change becomes even more evident when the setting is changed, as it works when it is set to 50%, -50% etc. Perhaps making the default percentage change to something more obvious when this voice is switched to could be an option. So, it does work for me, but only s

[2017-08-22 13:20] ehollig commented on #4796
@k_kolev1985, is this still an issue for you? Unlike my report in https://github.com/nvaccess/nvda/issues/4796#issuecomment-318408337, I am able to activate links on this page in IE11 using enter. If there are links that do not work for you, could you specify which ones?

[2017-08-22 13:34] ehollig commented on #5971
Closing as worksforme. If this is still an issue, we can reopen this issue. It may be worth trying to "Reset configuration to factory defaults" to see if something accidentally got changed in your user configuration directory.

[2017-08-22 13:34] #5971 closed

[2017-08-22 13:42] ehollig commented on #3581
Closing, as this appears that it should have been closed from [e15e8ad](https://github.com/nvaccess/nvda/commit/e15e8ad9f24f3fd737ca12dd3fd127dfad438769).

[2017-08-22 13:42] #3581 closed

[2017-08-22 13:49] ehollig commented on #5850
Closing, as it appears the [ChromeIssue:600219](https://bugs.chromium.org/p/chromium/issues/detail?id=600219) was fixed in November 2016. If this is still an issue, we can reopen. CC @nimerjaber

[2017-08-22 13:49] #5850 closed

[2017-08-22 14:43] ehollig commented on #5315
Closing, as reported worksforme in https://github.com/nvaccess/nvda/issues/5315#issuecomment-317189047. @dave090679:, if this is still an issue, we can reopen this.

[2017-08-22 14:43] #5315 closed

[2017-08-22 14:46] ehollig commented on #5542
Closing as requested in https://github.com/nvaccess/nvda/issues/5542#issuecomment-315850438. If this is still an issue for someone, we can reopen.

[2017-08-22 14:46] #5542 closed

[2017-08-22 15:00] Neurrone commented on #7402
@jcsteh ah yeah changing to espeak fixed it, thanks.

[2017-08-22 15:09] k-kolev1985 commented on #4796
I've done a quick test and now I can activate links on that website. Apparently there was a change either in NVDA or the website that made it possible. So, I think we can close this ticket.

[2017-08-22 15:13] camlorn commented on #5172
I have seen something like this in some form on almost every computer I have ever used any screen reader on for the last 8 or so years, fortunately (but not always) fixable by disabling enhancements in control panel.

Unspoken fixes it because Unspoken never closes the audio device and is always writing zeros.  The sound card can't distinguish between that and actual audio, and so holds onto all r

[2017-08-22 17:25] Brian1Gaff commented on #6887
I only have the free version but yes you do have to use the 64 bit version.
are you aware there is a portable archive version as well. I tend to use
that a lot.
 However in the treeview of all of them I only get told there is a checkbox
when I change it with space, or encounter it just after I altered it without
moving focus.
 They also have a bug for xp users that means that it can only run on In

[2017-08-22 17:31] Brian1Gaff commented on #3876
I thought this was about Outlook though?
 Incidentally any known reason why Outlook 2003 might be crashing in
creators update with latest nvda? Not me but a friend and finding it hard to
get the info I need to find out what is doing wht to which!
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display nam

[2017-08-22 18:56] vimalan-sakthivel commented on #4520
NVDA (version 2.17.2) reads "NEW" as N.E.W.

[2017-08-22 20:24] derekriemer commented on #3208
[**@jcsteh**](https://github.com/jcsteh) commented on [Jan 27, 2017, 12:01 AM MST](https://github.com/nvaccess/nvda/issues/3208#issuecomment-275601878 "2017-01-27T07:01:51Z - Replied by Github Reply Comments"):

is this still true after the work @leonardder  did?

[2017-08-22 20:30] derekriemer commented on #3208
I do have to wonder, should we not make the key of the table (name, channel, version)?

[2017-08-22 20:33] ehollig commented on #3876
@Brian1Gaff, yes, I meant Outlook. Thank you for catching that

[2017-08-22 20:35] ehollig commented on #4796
Thank you for the reply. Closing as worksforme

[2017-08-22 20:35] #4796 closed

[2017-08-22 21:43] ehollig commented on #5339
Duplicate of #1726

[2017-08-22 21:43] #5339 closed

[2017-08-22 22:08] #7402 closed

[2017-08-22 22:26] ehollig commented on #4771
@Brain1Gaff, any updates on this issue?

[2017-08-22 22:49] ehollig commented on #500
@Brian1Gaff, just a friendly reminder to respond to @leonardder in https://github.com/nvaccess/nvda/issues/500#issuecomment-307867494. If it is the case that there are no foreground progress bars, you may have to report this to the developers of Cdex

[2017-08-22 22:59] ehollig commented on #7294
@Sabatoy, could you provide an example website where this occurs? Also, explain the exact steps you took, as well as what you experienced, and the expected result. This will allow for others, and I to replicate the issue.

[2017-08-22 23:13] ehollig commented on #4571
@csm120, is this still the case? What version of Outlook is being used

[2017-08-22 23:47] fernando-jose-silva commented on #4571
I have a problem with outlook 2013 to open excel documents, right after putting the arrow on the file the nvda pronounces something like viewer's outlook and I can not open the file with enter.

[2017-08-23 00:12] Qchristensen commented on #7514
Maybe it's something in Windows on certain hardware?  I was sure if this had really been a widespread issue for any length of time someone would have noticed it.  Re the pitch change, it's subtle enough, but I can usually pick it.  I did crank it up to be sure though and it definitely isn't working on OneCore or SAPI 5 on three computers here except when announce cap is also checked.  Works fine i

[2017-08-23 01:51] ehollig commented on #5015
Closing, as it sounds that this issue has been resolved from https://github.com/nvaccess/nvda/issues/5015#issuecomment-155336267

[2017-08-23 01:51] #5015 closed

[2017-08-23 01:53] mohammadrezarashad opened #7515 "Possibility to add a keystroke to switch between input and output braille tables"
Is it possible to create a quicker way to switch between specified input or output braille table?
This could benefit Bylingual blind users to switch between their chosen braille tables for reading and typing in braille using their braille displays.
For example I, as a Persian user who also wants sometimes to read just English text, would be able to switch between Persian grade 1 and American Engli

[2017-08-23 02:21] ehollig commented on #7515
This is requested in #3718, but that primarily requests for switching of input tables. If a feature like this were to be implemented, I agree that it should allow for switching of input and output tables. CC @leonardder and other Braille experts

[2017-08-23 04:04] feerrenrut commented on #4520
@vimalan-sakthivel which synthesizer were you using? Espeak? Does this happen with other synthesizers?

When I test "NEW" with NVDA Version: `master-14328,c6379eb3` (close to the upcoming release of NVDA 2017.3) using espeak I get the described behaviour. However when I use the Microsoft Speech API version 5 synthesizer "NEW" is spoken as "new".

@vimalan-sakthivel could you please create a new is

[2017-08-23 04:04] #4520 closed

[2017-08-23 05:42] bhavyashah commented on #4520
@feerrenrut I would like to kindly request reopening this issue. This ticket does not deal with synth specific pronunciation bugs but with a feature request for a combo box to toggle whether capitalized words should be read individually, e.g. N V D A, as complete words, e.g. nvda, or to allow the synthesizer to handle it via its own pronunciation rules.

[2017-08-23 07:27] dave090679 commented on #5315
hi,

on my system, this error still occurs; a debug log follows:

INFO - __main__ (09:24:21.450):
Starting NVDA
DEBUG - __main__ (09:24:21.450):
Debug level logging enabled
DEBUG - core.main (09:24:21.671):
Core starting
INFO - core.main (09:24:21.674):
Config dir: C:\Users\tescht\AppData\Roaming\nvda
DEBUG - core.main (09:24:21.674):
loading config
INFO - config.ConfigManager._loadConfig (09:24:2

[2017-08-23 07:46] Brian1Gaff commented on #500
I once again never saw this email alert that this old ticket had new
comments, so apologies.
 Certainly I have found recent versions of Cdex are actually more awkward to
use than the old one was, so I have gone back. The lack of bleeping can
sometimes be slightly less annoying if you use object nav in certain cases.
 I have not attempted to try the very latest update of this software due to
bad ex

[2017-08-23 07:49] Brian1Gaff commented on #4771
Ahem, nearly missed this, as I'm brian1gaff, not brain!
 Old ticket, no longer of relevance.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Ethan Holliger" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <s

[2017-08-23 08:39] surfer0627 opened #7516 "Notepad++: command "move to next line" NVDA a little bit lag"
### Steps to reproduce:
1. Open Notepad++.
2. Press downArrow several times.

### Expected behavior:

NVDA moves smoothly.

### Actual behavior:

NVDA reports next line message a little bit lag

### System configuration:

NVDA version: 2017.3rc1 Installed
Windows version: windows7 64bit
Name and version of other software in use when reproducing the issue:
Notepad++ 6.7.9.2

### Other questions:

T

[2017-08-23 08:45] feerrenrut commented on #4520
You're right, I didn't properly consider the initial request. But I don't think it really changes the outcome. To start with, I would categorise this as a new feature rather than a bug.  As a feature, its not well defined enough, in terms of the problem it's trying to solve, and the value it would bring to users.

To start with I think its important for this issue to distinguish between an (pronou

[2017-08-23 09:30] zersiax commented on #2736
@nishimotz Is there currently a way to integrate this work into the regular version of NVDA? What I mean is, can I add/replace in a regular NVDA install to make the Japanese braille support active?
I am studying this language in my spare time and I currently get by with having an NVDAJP copy running next to my regular NVDA, so I swap between them if I want to see the Japanese characters show up.
H

[2017-08-23 09:47] bhavyashah commented on #4520
The reasoning you provide is very cogent. Thus, I guess the current status (closed) of this ticket is probably justified. It was interesting however to understand how any feature needs to be thoroughly evaluated from all angles, use cases, etc. Thanks @feerrenrut.

[2017-08-23 12:26] zersiax commented on #5903
This happens sometimes still, but quite rarely. And when it happens it usually has to do with scrolling content being manipulated with JS, or with divs that have been marked up to be clickable. I am assuming that is likely caused by these elements being off-screen / unreachable due to some other mechanic. I'd say we can close this one for now.

[2017-08-23 12:35] leonardder commented on #5903
@zersiax: Since you are the initial author, let's close this on your request. You can always request a reopen if you so desire.

[2017-08-23 12:35] #5903 closed

[2017-08-23 13:41] ehollig commented on #4771
Sorry about that @Brian1Gaff, it was a spelling error. it has been fixed. Closing as requested.

[2017-08-23 13:41] #4771 closed

[2017-08-23 13:47] ehollig commented on #500
When I perform a search for Cdex, I am unable to find any issues aside from this one. If this is still an issue with the latest update of this software and it is an NVDA issue, please create a new issue. If the problem is not the fault of NVDA, please contact the developers of the software. Closing as requested

[2017-08-23 13:47] #500 closed

[2017-08-23 13:56] vimalan-sakthivel commented on #4520
@feerrenrut
you're correct. I used eSpeak NG. and like you mentioned this issue was not observed with Microsoft Speech API version 5. I have raised a new issue with eSpeak NG. Thank you!
https://github.com/espeak-ng/espeak-ng/issues/301

[2017-08-23 14:17] ehollig commented on #5315
@dave090679 could you please try this with all addons disabled? Does this still occur with a stable version of NVDA? With a stable version of NVDA, all error tones will be suppressed.

[2017-08-23 15:03] ehollig commented on #5636
Duplicate of #4100

[2017-08-23 15:03] #5636 closed

[2017-08-23 15:07] ehollig commented on #3931
Possibly related: #4100

[2017-08-23 17:32] tmthywynn8 opened #7518 "Add Vietnamese braille translation table to NVDA"
According to [vi-g1.ctb's history page](https://github.com/liblouis/liblouis/commits/master/tables/vi-g1.ctb), the Vietnamese Grade 1 table has been available since February 13, 2015. It is, according to the headers, based on fr-fr-g1.utb, and supports Unicode-encoded Vietnamese text, as opposed to TCVN3  or VNI. From a brief look at the code table, it does match with the [Vietnamese Braille code]

[2017-08-23 20:08] fernando-jose-silva opened #7519 "Error reading window in chrome"
Today I received a window in the chrome where nvda can not read the content.
Steps:
Using crome 60 64bit and windows 7 64 bit with nvda master 14328, visit:
Https://www.toppn.com/view/190629.html

Soon to open the link the nvda speaks
Chrome Legacy Window
unknown
When navigating with tabe through the window, nvda pronounces
unknown
It is not possible to navigate with the arrows and also could not

[2017-08-24 00:41] PratikP1 commented on #7519
It appears that this is a Chrome window, warning of an insecure connection. Chrome does not show the actual page but a warning  instead. This warning is not accessible.

[2017-08-24 04:28] derekriemer commented on #6805
@bhavyashah this was with e10s on, which you probably don't have enabled. This has been fixed a lot by mozilla, this was primarily a holding ground for tickets which had parets of the stack in NVDA's address space, so I'm closing it.

[2017-08-24 04:28] #6805 closed

[2017-08-24 04:29] derekriemer commented on #3797
I don't know. I don't use thunderbird now.

[2017-08-24 04:30] derekriemer commented on #4923
I'll investigate once my life settles down after this week.

[2017-08-24 06:29] zahra21 commented on #6805
hello.
thanks so much for your great job.
derekriemer could you please tell is it related to
https://www.github.com/nvaccess/nvda/issues/6885 or not?
if i use previous versions of nvda which recieved messages execInWindow instead of execInThread?
if i use previous versions of nvda and e10s becomes enabled for me in firefox, do i recieve quite crash and freeze most of times or not?
whats the differ

[2017-08-24 07:48] bhavyashah commented on #5936
Duplicate of #4285

[2017-08-24 08:13] bhavyashah commented on #931
A few thoughts:
* This ticket deals with the beep that is played whenever capitalization is encountered when the Beep for capitals check box part of the Voice Settings dialog is checked.
* It is highly unlikely that a proper .wav sound scheme will be introduced since this may cause performance slowdowns as noted by @brian1gaff in the ticket body.
* It is highly unlikely that the current beep will

[2017-08-24 08:21] bhavyashah commented on #931
Please note that the 'other ticket' concerning an 'audio manager' as I mentioned in https://github.com/nvaccess/nvda/issues/931#issuecomment-324565820 is #1409.

[2017-08-24 10:31] bhavyashah commented on #1409
A few thoughts:
* @derekriemer notes in https://github.com/nvaccess/nvda/issues/1409#issuecomment-155288369 that the volume of tones (such as the beeps for progress bar updates) increases as it goes higher. This is undesirable since a user only expects the pitch to increase and the volume of the tones to remain constant. However, @brian1gaff's
https://github.com/nvaccess/nvda/issues/1409#issuecomm

[2017-08-24 10:50] bhavyashah commented on #1807
I use a Windows 8.1 system running NVDA 2017.3 RC 1. However, I have no experience with the Windows 8 Metro apps and I am afraid I don't exactly follow the slightly unclear STR present in the ticket body. I suspect that this might have been resolved overtime since Kevin reported this issue with a developer preview of Windows 8, which is likely to have undergone drastic change before evolving into

[2017-08-24 10:59] bhavyashah commented on #3139
Using NVDA 2017.3 RC 1 and Powerpoint 2010 on Windows 8.1, I was able to replicate the reported error via the following STR:
* Open a new blank PowerPoint presentation (Run>powerpnt).
* Type something (I Love NVDA) in the title and something (Yo Buddy) in the subtitle fields of the first blank title slide of the presentation.
* Press Ctrl+S and observe that NVDA reports it properly without generat

[2017-08-24 11:06] bhavyashah commented on #7227
I concur with @Qchristensen's  when he says - "Probably the one difference for sighted users is that a sighted user would likely then paste the screenshot into the program they wanted, and be able to visually verify that it was how their screen looked when they pressed the print screen key and not some other image that might have been on the clipboard." There is debate about how practically useful

[2017-08-24 11:09] bhavyashah commented on #6843
@fernando-jose-silva I believe you had reported another issue particularly related to translate.google.com on Chrome which seemed to have been resolved according to recent tests you and others performed. Could you please provide us a status update for this ticket too and let us know the current standing of the reported error?

[2017-08-24 12:04] fernando-jose-silva commented on #1409
Perfect, thank you, I agree with the proposal of two volume controls, one for the synthesizer, and one for all nvda sounds, including beeps and all sounds of adons including beeps. This new volume setting, can stay within the voice setup window.

Enviado do meu iPhone

[2017-08-24 12:29] fernando-jose-silva commented on #7519
Will we be able to enable the ocr for this window while the chrome does not solve, I tried to use the ocr in windows and I heard an error sound, the ocr works in other windows

Enviado do meu iPhone

[2017-08-24 13:01] derekriemer commented on #1409
No, of course that is an audio illusion.

[2017-08-24 13:02] derekriemer commented on #1409
I think the follow checkbox might be useful, so that NVDA sounds and synth sounds remain the same if the user turns down the synth, the user also turns down the speech.

[2017-08-24 13:18] bhavyashah commented on #6753
To summarize:
* The types of situations (search suggestions and other automatic suggestions and related fields) for which a sound is being proposed seem to be agreed upon without argument and the use case seems sufficiently clear also.
* We have also agreed upon introducing sound feedback for providing this indication as opposed to speech feedback, so as to not interrupt or disrupt a user's normal

[2017-08-24 13:32] ehollig commented on #5936
Thank you @bhavyashah, I knew there was a duplicate for this, but could not find it. Closing as duplicate

[2017-08-24 13:32] #5936 closed

[2017-08-24 13:32] fernando-jose-silva commented on #6843
Perfect, works correctly, sounds of errors are no longer heard in this case.

[2017-08-24 13:33] ehollig commented on #6843
Closing, as reported fixed in https://github.com/nvaccess/nvda/issues/6843#issuecomment-324635978

[2017-08-24 13:33] #6843 closed

[2017-08-24 15:11] bhavyashah commented on #7392
@jcsteh By https://github.com/nvaccess/nvda/issues/7392#issuecomment-315223560, are you trying to imply that the described behaviour is expected and desirable for consistency, or are you open to making exceptions and allow for a change of behaviour as requested originally by this ticket?

[2017-08-24 15:22] bhavyashah commented on #7501
@lallerke1  Constant errors is quite worrying. Could you please ask your friend to disable all add-ons and then report whether the reported issues still arise? Also, do these constant errors only reflect in the log or do they adversely affect NVDA's performance as well? Answers to these questions would greatly assist us in diagnosing this ticket.

[2017-08-24 15:47] ehollig commented on #5948
Duplicate of #481

[2017-08-24 15:47] #5948 closed

[2017-08-24 16:51] bhavyashah commented on #5073
In case anyone would like to thoroughly understand what JAWS's flexible web functionality does and how it works from  a UX standpoint, please visit http://doccenter.freedomscientific.com/doccenter/doccenter/rs25c51746a0cc/2012-10-24_WhatIsNewJAWS14-L2/02_JAWS14-NewFeatures-L2.htm.

[2017-08-24 17:28] derekriemer commented on #7227
I think and really do think, we need multiple levels of speak command keys, where print screen and some notable others (scroll lock, caps-lock, and things like insert (Which change your editor to overtype mode)), should be spoken.

[2017-08-24 17:32] derekriemer commented on #1807
@jcsteh confusingly said "It does now :-)" I'm not sure what he meant. I would suggest a close here, I sassume he meant "It works now :-)"

[2017-08-24 17:45] derekriemer commented on #6805
using the latest version will work. We don't recommend using previous versions of NVDA, and both sides made fixes.

[2017-08-24 17:49] derekriemer commented on #6753
This is fixed in 17.3

[2017-08-24 17:49] #6753 closed

[2017-08-24 21:58] zersiax commented on #7498
Seeing a possible glitch here, in latest next build on latest windows 10 stable, changing the tts settings in either control panel or Narrator Settings does not appear to influence NVDA when speaking through oneCore, where I have observed this happening a few months ago. Has something changed in regards to this?

[2017-08-24 22:03] ehollig commented on #1807
[**@derekriemer**](https://github.com/derekriemer) commented on [Aug 24, 2017, 11:32 AM MDT](https://github.com/nvaccess/nvda/issues/1807#issuecomment-324703622 "2017-08-24T17:32:13Z - Replied by Github Reply Comments"):

He meant that Windows 8 is now an option in the drop down on the issue tracker on the old Trac server,
It appears in the log provided in https://github.com/nvaccess/nvda/issues/1

[2017-08-24 22:03] #1807 closed

[2017-08-24 22:25] jcsteh commented on #7498
Narrator Settings would never affect it, only Windows Speech Settings.

Nothing has changed in the driver. Something might have changed in Windows
I guess. Even if that is so, there's nothing we can do to work around it
until this issue is implemented (which is currently blocked by quite a few
things as noted above).

[2017-08-24 22:52] jcsteh commented on #7392
I'd argue it's consistent and that we don't need an exception for Excel. Any change in behaviour related to these sounds should be consistent across all applications.

[2017-08-24 22:52] #7392 closed

[2017-08-24 23:08] #5482 closed

[2017-08-24 23:11] #6780 closed

[2017-08-25 02:12] josephsl opened #7520 "Upgrade SCons to 3.0.0"
Hi,

On August 22, 2017, SCons project announced the release of an alpha build of SCons 3 that supports Python 2.7, 3.5 and 3.6. As noted in #7105, an upgrade to SCons is all we need at this point before working on Python 3 upgrade feasibility research. Now that SCons 3 alpha is here, I think the stage is almost set to start working on Python 3 upgrade research. But before the research can commenc

[2017-08-25 02:15] josephsl commented on #7105
Hi,

To @CToth: As for add-ons, I'm taking your advice by making sure future versions of my add-ons are source-compatible with both 2 and 3. Sometime this year, I'll advise others to follow suit. Thanks.

[2017-08-25 02:20] josephsl commented on #7105
Hi,

Follow-up to SCons: see #7520 for an update. With that in place, we're ready to start researching. Thanks.

[2017-08-25 04:06] leonardder commented on #7520
Note that SCons 3 will also support Visual Studio 2017, necessary for #7498.

I've done first tests with Scons 3, and it seems that the gettext tools module can't be found or at least isn't compiled by SCons 3. Also, there are some changes required to make the sconstruct files compatible (e.g. print needs to be a function call).

[2017-08-25 05:42] zahra21 commented on #6805
hi.
thanks so much for your reply.
could you please test for me with previous versions?
because for some reasons, i cant update my nvda anymore.
i cant explane my reasons here, but realy wish that know specially about nvda 2017.1 and 2017.2
i forgot to ask, with which version of nvda did you test?
i appreciate your help, please test for me with previous versions.
God bless you and i wish his infin

[2017-08-25 06:15] leonardder commented on #2736
@nishimotz: is there a related liblouis issue?

[2017-08-25 07:05] zersiax commented on #7498
Found it already. There's quite a few places where speech rates can be set and only one of them works, e.g. the ones in narrator settings and control panel's tts settings don't work, only the settings in another part of the windows+i settings dialog seem to take :)

[2017-08-25 07:22] bhavyashah commented on #6751
Possibly related to #5373

[2017-08-25 07:28] bhavyashah commented on #6208
@jmuheim #4998 has been closed as worksforme. Do you believe we could close this ticket as a duplicate of that one, or as a worksforme in itself? Regardless, the Github issue tracker isn't really meant for questions. Please post those on the NVDA_Devel list or forums of the like.

[2017-08-25 07:31] bhavyashah commented on #6279
There are two ways of looking at this feature request:
* Customization of pronunciation and speech for mathematical content should ideally and logically be offered by Math Player itself as opposed to the screen reader.
* However, since I believe the above point isn't available currently, and since NVDA already has Speech Dictionaries and the Symbol/Pronunciation dialog in place, could we not someh

[2017-08-25 07:34] bhavyashah commented on #6198
This is a friendly reminder for @derekriemer and a gentle request for other web accessibility experts to kindly respond to @chrishanpeiris's https://github.com/nvaccess/nvda/issues/6198#issuecomment-234450734. Also, if the original issue was a result of incorrect web authoring, please let us know if this ticket can be closed as worksforme.

[2017-08-25 07:35] leonardder opened #7521 "Navigator object in virtual buffers doesn't seem to follow correctly"
### Steps to reproduce:
Paste the following in a chrome or firefox address bar:

[code]

### Expected behavior:
When arrowing through the virtual buffer, I expect the navigator object to land as follows for every line number:

1. just text (TextLeaf object inside document object)
2. A paragraph (TextLeaf object inside paragraph object inside document object)
3. blank line (white space object insid

[2017-08-25 07:42] bhavyashah commented on #4982
@jcsteh By https://github.com/nvaccess/nvda/issues/4982#issuecomment-155335141, are you trying to imply that this ticket should be closed as a wontfix? It may be worth noting that Narrator reads what NVDA calls 'File submenu" as 'File collapsed menu item". CC @sumandogra

[2017-08-25 08:53] bhavyashah commented on #7044
@feerrenrut Just to clarify, shouldn't this ticket be labelled as a feature instead of being marked an enhancement with a priority? I have tried to understand the distinction between a feature and enhancement multiple times, but I seem to be missing something again.

[2017-08-25 09:23] bhavyashah commented on #5160
From @Qchristensen's https://github.com/nvaccess/nvda/issues/5160#issuecomment-319001356, the reported issue does not seem specific to NVDA's installer or portable copy creation dialog, but rather to the Explorer pane part of such dialogs on Windows 7. Since Quentin tested only with Windows 10, on Windows 8.1, the Create Portable NVDA dialog>Browse... button>Select Portable Directory dialog does n

[2017-08-25 09:41] bhavyashah commented on #3113
@feerrenrut By https://github.com/nvaccess/nvda/issues/3113#issuecomment-321147388, are we agreeing that a folder with all required portable copy files should be created or is there still debate? Once that is sorted, I would like to urge prioritizing this as P2 because of the incredible annoyance it causes to those users expecting either a single file to serve as a launcher for the portable copy o

[2017-08-25 09:48] bhavyashah commented on #5419
Although @jcsteh reopened this ticket in https://github.com/nvaccess/nvda/issues/5419#issuecomment-155343985, the cited comment still seemed indicative of a cantfix. Thoughts? @feerrenrut @leonardder and others

[2017-08-25 09:51] bhavyashah commented on #6936
@rnickelson The provided test case (rnickelson ) seems to no longer exist. Could you please create or share an alternate test case demonstrating the reported issue?

[2017-08-25 09:58] bhavyashah commented on #6282
@mpreyskurantov  Could you please mention the version of Internet Explorer in use while experiencing this issue? Also, please test the same with NVDA 2017.3 and let us know in case there are any changes in the testing results. Also, it may be helpful if you could attach a test HTML document demonstrating the reported problem instead of only providing the relevant HTML markup.

[2017-08-25 10:06] gdata1 commented on #6989
Hello. Could you send feedback to Microsoft on this issue?

[2017-08-25 11:20] jcsteh commented on #5419
We can't fix dlls being left behind. In theory, we should be able to fix nvda_logo.wav being left behind by using a player which closes the file properly once it finishes playing. We might be able to use the Windows PlaySound function; I'm not honestly sure why we don't use that already. Not high priority, though, since these are temporary files and are thus candidates for cleanup by Windows.

[2017-08-25 11:26] jcsteh commented on #3113
To clarify my above comments, I suggest the following (but @feerrenrut might have reasons against this):

1. The directory we use should be the specific directory chosen, not a subdirectory.
2. We should test if the directory contains files. If it doesn't, go ahead and continue; skip the rest of these steps.
3. We should check for files that would only reasonably be found in a copy of NVDA (e.g. n

[2017-08-25 11:30] jcsteh commented on #4982
These are menu items which open menus, not menus themselves. Closing as won't fix.

[2017-08-25 11:30] #4982 closed

[2017-08-25 13:09] Raushen commented on #6282
Hello, @bhavyashah

I have tested this issue under a newer NVDA 2017.3 on IE 11.0.9600.18739, and it still does not work as expected.
You can check how it works on my video (with sound) via the following link:
https://monosnap.com/file/MEg24FnPnjFJpbFlTUD8b0bhYOuoik
Moreover, I have also noticed that it is now broken on FF 55.0.2.
Please find the full test html page in the attachment.
[NVDAApplica

[2017-08-25 14:42] DzmitryAlifer opened #7522 "NVDA skips pronunciation of outer 'div' when moving baсkward (using `Shit+Tab`)"
Here is my [code snippet at jsfiddle](https://jsfiddle.net/y8tLme06/21/) and its duplication below:

Here is the actual behavior (what you do / focused element id / what NVDA reads):

### When moving forward (using `Tab`):

### When moving backward (using `Shift + Tab`):

### Actual behavior:
while moving backward on step #3 NVDA reads nothing

### Expected behavior:
on the same step NVDA reads: T

[2017-08-25 15:54] rnickelson commented on #6936
It is fixed now. The site was down.

[2017-08-25 16:33] gregjozk opened #7523 "working in browsers is broken after restart of NVDA"
Hi,

I know, possibly there is already simular issue, however I'm going to file this:

### Steps to reproduce:

1. go to browser (tested in Firefox)
2. restart NVDA (with shortcut defined on a desktop or in a InputGesture)

### Expected behavior:

NVDA is going to work in browsers as before restart especially when update process is finnished.

### Actual behavior:

Browse mode is not working, focu

[2017-08-26 00:26] nishimotz commented on #2736
No liblouis issue so far.
I have discussed on Japanese support at the liblouis list in 2012.
At that time, "otherTrans" mode was the possible solution.
However, liblouis recently deprecated otherTrans mode.

[2017-08-26 05:12] Daredevilsprmcy opened #7525 "There are some inconsistencies with the way braille is represented in NVDA version 2017.3 English US grade 2 tables"
Using NVDA version 2017.3, go to NVDA key+n, preferences, braille settings, change to your braille display, set output and input as English US Grade 2, press enter.
Open Notepad and type the following on your computer keyboard:
afterlife, boyfriend, boyfriends, girlfriend, and girlfriends.
The text in Notepad shows correct representations of the above words.
However, on the braille display your re

[2017-08-26 05:30] josephsl commented on #7525
CC @JCSTeh, @DKager and other braille table experts, as this is something to do with back-translation in en-us-g2.ctb. Thanks.

From: Daredevilsprmcy [mailto:notifications@github.com]
Sent: Friday, August 25, 2017 10:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] There are some inconsistencies with the way braille is repres

[2017-08-26 06:05] Daredevilsprmcy commented on #7525
I don’t have their direct e-mail addresses though.

Can you cc this to them yourself.

Thank you.

Dmitriy

From: Joseph Lee [mailto:notifications@github.com]
Sent: Saturday, August 26, 2017 1:30 AM
To: nvaccess/nvda
Cc: Daredevilsprmcy; Author
Subject: Re: [nvaccess/nvda] There are some inconsistencies with the way braille is represented in NVDA version 2017.3 English US grade 2 tables (#7525)

C

[2017-08-26 06:28] josephsl commented on #7525
Hi, already done it via at mentions. Thanks.

From: Daredevilsprmcy [mailto:notifications@github.com]
Sent: Friday, August 25, 2017 11:06 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] There are some inconsistencies with the way braille is represented in NVDA version 2017.3 English US grad

[2017-08-26 08:57] leonardder commented on #7523
Closing as duplicate of #7269

[2017-08-26 08:57] #7523 closed

[2017-08-26 09:06] mohdshara commented on #7269
confirmed with NVDA 2017.3 and firefox 55..0.3. I have been experiencing this for a while, and our Arabic speaking users confirm this as well.

[2017-08-26 13:17] nvdaes commented on #7515
Hi, imo this will be better fixed with an add-on, since it requires to configure a subset of input or output braille tables, and keystrokes to switch between options, for instance synthesizers or log levels, could be requested and make less simple the NVDA's gui.
Anyway, if this was implemented in the NVDA's core, a possibility will be to add:
- A checkbox after each combo box (for output and inpu

[2017-08-26 14:08] ehollig commented on #6360
Related issue: #3286

[2017-08-26 15:01] bhavyashah commented on #3274
@josephsl Could you please request the Korean user who reported these slowdowns to test with the latest version of NVDA (now NVDA version 2017.3) as requested in @jcsteh's https://github.com/nvaccess/nvda/issues/3274#issuecomment-155307562? CC @brian1gaff (user of Windows 7)

[2017-08-26 15:25] bhavyashah commented on #3595
@jcsteh Could you please clarify exactly which keys are being referred to as multimedia keys in the context of this ticket? Play/Pause is one that comes to mind, but it would be beneficial if you could specify all multimedia keys that this ticket encompasses, since we have no means of contacting the original author of this ticket.

[2017-08-26 15:43] bhavyashah commented on #3600
As noted in the concluding remarks of https://github.com/nvaccess/nvda/issues/3600#issuecomment-155311106, we may want to morph this ticket to propose a new keyboard shortcut for 'inspecting cell attributes'. A few thoughts in that regard:
* NVDA+E sounds like a fitting keyboard shortcut for this purpose, though there could be several other varied suggestions for the keystroke such a feature shoul

[2017-08-26 15:47] bhavyashah commented on #3607
Duplicate of #6648

[2017-08-26 15:56] bhavyashah commented on #3611
Confirmed. Using Firefox 55 stable and NVDA 2017.3, here's an interesting log snippet present while I Tab through the social media links (which a user might not even realize is a frame since NVDA appears not to report it):
DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IAccessibleRole (21:28:26.249):
accRole failed: (-2147024809, 'The parameter is incorrect.', (None, None, None, 0, None))

[2017-08-26 16:02] bhavyashah commented on #3642
@jcsteh Based on https://github.com/nvaccess/nvda/issues/3642#issuecomment-155312478, it does seem like the same issue is being discussed mutually. Thus, could you please respond to https://github.com/nvaccess/nvda/issues/3642#issuecomment-155312474 and update us about the current standing of Windows Explorer's performance on Windows 7 with NVDA?

[2017-08-26 16:05] bhavyashah commented on #3676
CC @leonardder and @derekriemer for general thoughts on this pretty interesting idea and @josephsl to discuss this feature request's impact on Windows 10 UWP apps.

[2017-08-26 16:20] ehollig commented on #3680
[**@nvaccessAuto**](https://github.com/nvaccessAuto) commented on [Jun 4, 2014, 10:11 PM MDT](https://github.com/nvaccess/nvda/issues/3680#issuecomment-155313290 "2014-06-05T04:11:07Z - Replied by Github Reply Comments"):

As we are now able to access formulas using NVDA+F7, is there anything else that needs to be done with this issue?

[2017-08-26 16:25] bhavyashah commented on #3780
@k_kolev1985 Could you please clarify if you believe these inconsistencies to be a result of problems in mouse tracking or caused by issues in NVDA's touch screen support?

[2017-08-26 16:26] ehollig commented on #4956
Closing, as this appears to be resolved in ESpeak 1.49.1

[2017-08-26 16:26] #4956 closed

[2017-08-26 16:29] ehollig commented on #3812
[**@nvaccessAuto**](https://github.com/nvaccessAuto) commented on [Jan 24, 2014, 10:49 AM MST](https://github.com/nvaccess/nvda/issues/3812#issuecomment-155316473 "2014-01-24T17:49:25Z - Replied by Github Reply Comments"):

Closing as cantfix. Feel free to reopen if you disagree.

[2017-08-26 16:29] #3812 closed

[2017-08-26 16:33] ehollig commented on #6404
@fernando-jose-silva, is this still an issue? It sounds as if it is a specific issue to your particular computer. Have you tried reinstalling NVDA or tried it with the latest version of NVDA?

[2017-08-26 16:44] ehollig commented on #3607
Closing as duplicate of #6648, as #6648 has a priority.

[2017-08-26 16:44] #3607 closed

[2017-08-26 16:49] k-kolev1985 commented on #3780
To be honest, I haven't compared mouse tracking and touch support recently on my portable computer which has a touch screen. The main reason for that is that I don't have the necessary free time to do it. Now it is running Windows 10 anyway and the examples above are for Windows 8.1, which makes this ticket somewhat out of date, I think. Maybe we should close it if nobody else can provide current

[2017-08-26 17:06] bhavyashah commented on #4088
Duplicate of #3462

[2017-08-26 17:12] bhavyashah commented on #4205
Him Prasad Sir did work on the Poedit Made Easy NVDA add-on which may be worth considering for inclusion in the community add-ons portal or integration in core itself, if it still holds relevance for the latest version of Poedit. If it doesn't work, unfortunately, Him Prasad Gautam AKA dhankuta  is no more with us to continue work on the Poedit app module.

[2017-08-26 17:14] bhavyashah commented on #4132
Unfortunately, the original author of this ticket did not respond to @michaelDCurran's https://github.com/nvaccess/nvda/issues/4132#issuecomment-155320368 and we have no means of contacting him/her at present. Since it seems that we have insufficient information to diagnose the reported issue, I suggest closing. @ehollig

[2017-08-26 17:17] tbdalgaard opened #7526 "Danish contracted eight dot braille doesn't show capital characters"
NVDA 2017.3 does not show capital characters when using the 8 dot contracted braille table.
This was the case until 2017.3 where the input table was added.

Here is how to reproduce

1. Select the Danish 8 dot contracted table under options, braille options.
2. Open Notepad and type:
Hello World
Now make a newline and type:
NVDA
Remember to type all characters as capitals when typing NVDA.
3. On t

[2017-08-26 17:25] josephsl commented on #4205
Hi, no, I’d say we close this and reopen if a new maintainer is found. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Saturday, August 26, 2017 10:12 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Adding new features in poedit modules. (#4205)

Him Prasad Sir did work on the Poedit Made Easy NVDA add-on

[2017-08-26 17:28] josephsl commented on #7526
Hi, Can you reproduce this with United States English 8-dot computer braille and other ones when ts 7 and 8 are used? CC @DKager and other Danish speakers.

From: Thomas Byskov Dalgaard [mailto:notifications@github.com]
Sent: Saturday, August 26, 2017 10:17 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Danish contracted eight

[2017-08-26 18:09] ehollig commented on #4205
Closing, as suggested by @josephsl in https://github.com/nvaccess/nvda/issues/4205#issuecomment-325149255. This can be reopened, or a new issue can be created, if a new maintainer is found.

[2017-08-26 18:09] #4205 closed

[2017-08-26 18:12] ehollig commented on #4088
Duplicate of #3462

[2017-08-26 18:12] #4088 closed

[2017-08-26 18:20] ehollig commented on #4132
Closing, because of insufficient information to diagnose the issue and inability to contact the original poster.

[2017-08-26 18:20] #4132 closed

[2017-08-26 18:36] elliott94 opened #7527 "Lone Wolf: Issues when Used with NVDA"
Lone Wolf is an older title developed by GMA Games that I started to play again recently. During gameplay, since text is written to the screen there are several issues when playing with NVDA; primarily that text is output twice, and the word "Selected" prepended to anything spoken. If I could clearly outline the problems here, is there anybody that would consider making changes to make this game p

[2017-08-26 18:38] dkager commented on #7526
I don't speak Danish, but @BueVest does. :)

[2017-08-26 18:46] elliott94 opened #7528 "Outlook 2010: Filename of Attachment Not Announced after NVDA Restart"
STR:

1. Compose a new message, and attach any file

2. From within the message window, navigate to the "Attachment" entry; the filename and size of the attached file will be announced

3. Restart NVDA, and navigate back to the open message

Expected: When navigating back to the attachment entry, the filename and size should be output as previously

Actual: The text "Outlook File Attachment" is an

[2017-08-26 18:47] elliott94 commented on #7439
I disagree; this has nothing to do with symbol levels. The announcement of spaces in Notepad, for example, works as expected without issue whereas in Word 2010 this is not the case.

[2017-08-26 21:39] Brian1Gaff commented on #3642
This seems to have been going on for some years now. I have to say that in 7
with the processor idle rate speeded up there seems to be little lag unless
the folder is very large, then you can hear the indexing happening via the
beeping.

The main annoyance of all of this is that you can end up actioning a file
you did not intend as the selected bar has not internally caught up with
where you are f

[2017-08-26 21:45] Brian1Gaff commented on #7523
Normally in Windows 7, when you do restart nvda, firefox is not in focus
when it comes up, so the problem never is seen.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-26 21:49] Brian1Gaff commented on #3113
Sounds sensible to me. Interestingly the subtle change in the way folders
are selected in Windows 7, which Microsoft reversed in 10, seems to confuse
many people into either shoving the portable version into the route or into
the first sub directory of the last portable nvda version instead of the
wanted one.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-

[2017-08-26 21:52] Brian1Gaff commented on #5419
I'm not worried by this at all. As you say not only does windows clean out
this, but ccleaner will as well. Other programs are far worse than nvda in
this respect. Not to name names of course, but it begins with an A.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-08-26 21:58] Brian1Gaff commented on #3113
Actually I'm reading this backwards, but may take is that in addition to
checking if its already got an nvda folder with the files in it, it should
on a pristine stick or one with no nvda folder, create one and even maybe
suggest that it puts a shortcut in the root to the executable.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk,

[2017-08-26 22:00] bhavyashah commented on #7439
@elliott94  I guess I am a little confused. Pressing the read current line (NVDA+L on a laptop) command once reads the current line like it usually would without explicitly speaking spaces - as tested in Firefox, Word and Notepad. However, the issue I am able to successfully reproduce only on in Word 2010 is when NVDA+L is pressed twice and the current line is spelt but spaces are ignored. Do you

[2017-08-27 01:28] Cambridgeport90 opened #7529 "NVDA fails to read checked or unchecked in Server Manager while installing roles or features"
To reproduce this:
Open Server Manager from a Windows server 2012 or newer server
click add roles and features
select a role or feature to be installed
Notice on the next screen that NVDA reads the names, but does not read whether they are unchecked (not yet installed) or checked (installed).
As a result, we are forced to use our judgements to ensure that everything gets installed correctly. This

[2017-08-27 01:33] josephsl commented on #7529
Hi, dev info please. Note that for others trying to reproduce this, you need to be using Server with desktop experience or minimal GUI (or if using Server 2016, use it on a server configured with full desktop experience installation). Thanks.

From: Katherine Moss [mailto:notifications@github.com]
Sent: Saturday, August 26, 2017 6:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <s

[2017-08-27 02:07] Cambridgeport90 commented on #7529
What additional info do you need on this side? I've noticed this with all NVDA versions, but the one I'm running on the server is 2017.2 (couldn't get .3 to update).

[2017-08-27 07:03] zahra21 commented on #1582
hello.
two days ago i downloaded nvda 2017.3 (just for testing to see whether some bugs about typing and etiting texts in editable boxes are fixed or not).
after installing nvda 2017.3, i realized repeating some characters, words line when i wanted to navigate in the message which i typed in my gmail.
so, i think this bug is not duplicate of bug 6424 and should not be closed as duplicate.
because

[2017-08-27 07:10] javidominguez opened #7530 "Suggestion: Warning that there is loaded a profile when you change settings."
When there is a profile loaded, if i change a setting, that only applies for current profile. It's right, but this can produce a bit of confusion When I want to change a setting globally. Sometimes I don't remember that there is loaded a profile. I'm aware of the error when I switch to another application.
I think it would be good to inform which profile to affect changes, for example, modifying t

[2017-08-27 07:14] zahra21 commented on #3650
hello.
i downloaded nvda 2017.3 two days ago just for testing and reverted to 2017.2
after my test, (i should mention that i am not familiar with thunderbird, my test was in firefox).
i realized that when i write some lines in edit boxes (specially in gmail and wordpress websites) when i navigate in my written documents, sometimes nvda report incorrect characters, words and lines, (i see mixture o

[2017-08-27 10:41] fernando-jose-silva commented on #6404
Problem is resolved after you format the computer. thank you

Enviado do meu iPhone

[2017-08-27 13:17] Andre9642 commented on #7515
Hi,
In the meantime, I propose you my BrailleExtender add-on. I recently added the possibility to switch between several input braille tables https://andreabc.net/projects/NVDA_addons/BrailleExtender/

[2017-08-27 13:42] ehollig commented on #6404
Thank you for the update. Closing as worksforme

[2017-08-27 13:42] #6404 closed

[2017-08-27 14:41] ehollig commented on #4037
Closing, as we are unable to contact the original poster, that I am aware of, and they did not respond to @josephsl's questions in https://github.com/nvaccess/nvda/issues/4037#issuecomment-155319117

[2017-08-27 14:41] #4037 closed

[2017-08-27 15:06] elliott94 commented on #7439
Apologies; this was entirely my fault, I forgot that one key point! :) Issue title and description changed to reflect this. Thank you for pointing this out!

[2017-08-27 15:15] YogeshChhabra opened #7531 "some coding is announced while using Gmail in internet explorer 11"
1. Open internet explorer 11.
2. open inbox of your gmail account.
3. move to a link "create a filter" and navigate with down aero key.
4. NVDA will read some coding language.

### Expected behavior:
NVDA should not announce this coding language.

### Actual behavior:
NVDA is announcing some coding instead

### System configuration:
NVDA version:
NVDA 2017.3

NVDA Installed or portable:
Installed

[2017-08-27 15:16] bhavyashah commented on #4014
@josephsl's https://github.com/nvaccess/nvda/issues/4014#issuecomment-155318747 seems to indicate that resolving this ticket may need an external fix, requiring the NeedsExternalFix to be added. Also, @dkager, since you expressed interest in the reported issue in https://github.com/nvaccess/nvda/issues/4014#issuecomment-155318749, feel free to provide a status update, in case there is any.

[2017-08-27 15:19] dkager commented on #4014
Label added.

[2017-08-27 15:19] ehollig commented on #7512
Could you please provide a [Log File](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) with debugging enabled in the general settings of NVDA demonstrating the issue?

[2017-08-27 15:25] bhavyashah commented on #4033
In terms of trying to ensure quality of the report, we already have a fairly comprehensive set of standard questions present in the Github template for filing new tickets. Apart from that, this seems like an great proposal to bridge the gap between users and developers even further. One concern that remains is users accidentally or deliberately spamming this channel of reporting issues. To regulat

[2017-08-27 15:33] bhavyashah commented on #4150
@jcsteh @khsbory Could you please clarify the versions of Internet Explorer the reported issues applies to? In case this has been fixed by any chance in Internet Explorer 10/11, then we may safely close this ticket. Otherwise, we may need to mark this as P4.

[2017-08-27 15:40] bhavyashah commented on #4178
@jcsteh's https://github.com/nvaccess/nvda/issues/4178#issuecomment-155321096 implies that someone with such a device would be in a position to investigate this bug further. Clearly, no one has stepped up with necessary prerequisites in the past three years. Additionally, Jamie very much doubts that a work-around for an issue of this kind even exists. If @k_kolev1985  does not disagree, I suggest

[2017-08-27 15:47] bhavyashah commented on #4270
I can confirm that this issue still persists.

[2017-08-27 15:56] ehollig commented on #4175
Closing, as we are unable to contact the original poster, that I am aware of. Also, they did not respond to @jcsteh's request in https://github.com/nvaccess/nvda/issues/4175#issuecomment-155321058 to describe the issue in another way. I do agree that providing an alert dialog would just be annoying for users, as they are aware that their display is disconnected.