[2020-04-15 16:56] zahra21 commented on #11004
hi.
as i mentioned in different places,
my favorite version of nvda, is nvda 2017.2.
i tested with this version and reproduced this issue.

[2020-04-15 16:58] Adriani90 commented on #10969
this is not possible for all languages. this needs a solution individually for every language and the most feasible way is to make a user defined interpunctuation cathegory.

Von meinem iPhone gesendet

[2020-04-15 17:18] lukaszgo1 commented on #10446
Sound announcement is not appropriate in this case as we are loosing a useful part of the message i.e what exactly we are leaving - important in case of nested containers. @feerrenrut While I understand your doubts about this change it brings two important advantages IMHO:
1. The changeable information is presented first which is always a good think
2. It is consistent with other screen readers -

[2020-04-15 17:31] elliott94 opened #11014 "Outlook 2010/2016: Unread Status of Messages not announced when Selecting with the Keyboard"
### Steps to reproduce:

Note: This may also be reproduceable in newer versions of Outlook; 2010 and 2016 are the only versions that I've had available to test with, so I've listed these as a starting point.

1. Open a folder that contains at least 3/4 unread email messages; you'll notice that as you move up/down, NVDA automatically announces either "read" or "unread" to indicate their status

2.

[2020-04-15 19:02] Adriani90 commented on #10446
But you hear what you are entering, so it is clear what you are going to leave. For nested elements there could be the same sound when leaving the whole container, but a bit longer.

Von meinem iPhone gesendet

[2020-04-15 19:29] errotech opened #11015 "NVDA doesn't speak Unicode-sign "Hammer and Sickle""
Sign-name: Hammer and Sickle
Sign: ☭
Heximaldecimal Unicode: U+262d

[2020-04-15 19:45] christopherpross opened #11016 "NVDA running from source not possible strange behavior"
NVDA run from source here is not possible, it exit after start and produces no errors. I don't know whats going wrong here on my system, but I want to report this, maybe I do somethink wrong or it is a edge case.

### Steps to reproduce:
- Install Python 3.7.7 (32 bit)
- fork the current nvda-repo and clone it
- then follow the instructions in the readme.md to prepare the sourcetree and make sure

[2020-04-15 20:37] Brian1Gaff commented on #11010
Might still be worth pointing this non standard control out to the authors,
as they may be able to fix it simply.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "florianionascu7" <notifications@github.com>

[2020-04-15 20:40] Brian1Gaff commented on #11012
Also for others as well you will often find that if you grab the template
its actually easier to fill out externally then uploaded to the blank field
after deleting the template  in the edit field. Depends on the latency , but
works for me.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name fi

[2020-04-16 06:14] leonardder commented on #10975
@alexarnaud DO you have a reference to the bugzilla ticket mentioning this bug?

[2020-04-16 07:24] leonardder commented on #9178
I did some investigations:

1. One way we could do this is:

	* Enumerate all processes on the system
	* Find out what processes are our executable
	* Terminate these processes

	Of course, all ***after*** confirmation

2. I tried to find out what the taskkill command does when trying to terminate NVDA gracefully. It seem to cause some stress for the NVDA process, as after executing the command mu

[2020-04-16 08:52] leonardder commented on #9178
Another update. We can easily get the list of processes using WMI. We can even terminate them using WMI while at it, but that's something I do not prefer to do, as it adds unneeded complexity.

[2020-04-16 09:46] VantageKR commented on #4669
Have been experiencing NVDA simply not reading long lines anymore, when using gvim via a plugin that interfaces with gvim via OLE automation. This worked perfectly before this most recent version of NVDA. Have also experienced NVDA hanging when say the Windows console outputs a lot of text - this did not happen before. Unfortunately, reverting to an older NVDA does not solve this problem, but I'm

[2020-04-16 10:27] feerrenrut commented on #10925
In NVDA 2019.1 there is also the following error when using Chrome:

[code]

[2020-04-16 10:36] leonardder commented on #10975
Thanks!

I'm going to reopen this issue:

1. it is causing confusion for many people, so it is easier to find when it is open rather than closed
2. There's still some debate going on about whether NVDA should handle these erroneous cases itself.

[2020-04-16 10:53] smeveriss commented on #10975
Hi lenard.
Well since the issue is fixed in thunderbird bugzilla when is this fix going to make it into compiled versions.
I know the milestone has been set on mozilla bugzilla for 77.0 but noticed a patch exists for esr.
So any idea when the next esr will be coming.
Since this bug is now solved in source, I do wander that for us users effected if maybe a hotfix can be compiled just for this bug u

[2020-04-16 11:03] DrSooom commented on #10971
@SeanTolstoyevski and @tspivey: Please disable the options
- Report tooltips
- Report object position information
- Guess Object Position Information when unavailable

in the Object Presentation NVDA Settings and report the result. Thanks.

[2020-04-16 11:04] leonardder commented on #10975
IN that case, it will land in the next ESR, probably.

Likely in 4 till 6 weeks.

You mean a hotfix in NVDA? I'm afraid that's way too much afford. There's more to see to convince the Thunderbird devs to incorporate this in a minor release and release an 68.7.1, for example.

[2020-04-16 11:25] ppathania123 commented on #9480
NVDA is not reading tooltips in Dynamics CRM application.
Any help on this?

[2020-04-16 11:25] SeanTolstoyevski commented on #10971
I have ini files link above.
these options are disabled.

I'm not stupid.
I close this issue.
you don't read what I wrote.

[2020-04-16 11:51] leonardder commented on #10971
With respect, but please keep kind to each other. @SeanTolstoyevski as your issue is reproducible by others, I"m reopening it. I will also try to minimize unneeded comments a bit so it will be easier to follow the discussion.

[2020-04-16 11:57] feerrenrut commented on #6050
Suggestion: start small. It's much easier to get a PR accepted, especially for something as subjective as good documentation.

[2020-04-16 11:58] DrSooom commented on #9480
@ppathania123: Please open a new issue for this. It seems that your question has nothing to do with the issue here. Thanks.

[2020-04-16 12:05] alexarnaud commented on #10975
OK, let's me discuss with the TB team for that.

[2020-04-16 12:08] feerrenrut commented on #7894
Thanks @josephsl we'll take a look soon.

[2020-04-16 12:24] DrSooom commented on #11015
See also: https://emojipedia.org/hammer-and-sickle/ and issue #3805.

[2020-04-16 12:36] DrSooom commented on #11014
I noticed this incorrect behavior just a few days (or weeks) ago with Microsoft® Outlook® 2010 (14.0.7245.5000) SP2 MSO (14.0.7237.5000) and NVDA 2019.2.1 on Win7x64. So thanks for opening this issue.

[2020-04-16 15:32] feerrenrut commented on #10970
This wasn't how I interpreted the video. From the video I understood the following:
- Lenovo machine, no lag with NVDA regardless of version.
- Asus machine, jittery performance without NVDA, and much worse performance with NVDA.

The jittery performance can be seen in [the video at 0:55](https://youtu.be/j9edNuN9tck?t=55) the 'a' key is held down while in notepad. You have to look carefully, but

[2020-04-16 16:25] feerrenrut commented on #10971
@tspivey I tried this with the settings you suggest:
- The time between key press and key announcement is very short.
- There is then a long pause until the icon name is spoken.

It's known that OneCore has quite a large delay between sentences / utterances compared to espeak. However after testing with the same settings between 2013.3 and 2019.2, I do note that one core pauses have gotten larger.

[2020-04-16 16:36] SeanTolstoyevski commented on #10971
The thing I'm talking about is the same as @tspivey.

so this:

[2020-04-16 17:01] feerrenrut commented on #10971
Thanks @SeanTolstoyevski

[2020-04-16 17:10] feerrenrut commented on #11008
Since this functionality is covered by add-ons, I'm going to close this issue.

[2020-04-16 17:10] #11008 closed

[2020-04-16 17:19] feerrenrut commented on #11016
Could you test the latest alpha snapshot:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-04-16 17:37] feerrenrut commented on #9178
Another approach might be to ensure that NVDA exits when the user logs out or switches.

[2020-04-16 17:51] elliott94 opened #11018 "Outlook: Announce Selection State of Categories when Focused"
### Is your feature request related to a problem? Please describe.

When connecting Outlook to an Exchange account, it's possible to assign categories to messages; this is useful, for example, when working with multiple team members within a shared mailbox. When a category has been assigned to a message, NVDA announces the name of the category when the message has focus.

Outlook offers several me

[2020-04-16 18:13] elliott94 opened #11019 "Outlook 2016: Incorrect Selection State of Folder announced when Moving a Message"
### Steps to reproduce:

The following assumes that Outlook 2016 has been configured with an Exchange account that has at least two email messages within the Inbox folder.

1. Create a new folder directly within the Inbox folder; name it "Test" or similar

2. Right-click the top email in the Inbox, open the "Move To..." submenu, and choose "Select Folder" - when prompted, choose the folder created

[2020-04-16 18:20] lukaszgo1 commented on #9178
@feerrenrut wrote:

This is IMHO very poor workaround. When logging off NVDA turns of as all other processes so in this case problem obviously does not exists. When switching users however you would expect all opened programs to stay intact when you've switched accounts and I do not  see a reason to make an exception for NVDA.

[2020-04-16 19:42] galich commented on #10508
@jcsteh hi there, I'm 1Password for Windows dev lead. Sorry we didn't notice we are flooding with these events that much.

While we are going to find out if we can suppress most of them, I'd love to know what would be the reasonable limit?

[2020-04-16 19:46] Adriani90 commented on #11019
@elliott94 the reporting is a bit confusing here, but it is correct. NVDA reports what you focused. But the folder is not selected. If you press enter, then it is selected.
cc: @Qchristensen, @leonardder this might be due to UIA in Outlook providing confusing information. Actually NVDA should report only the item which is focused, without any further information.
However, maybe some impressions fr

[2020-04-16 20:17] Adriani90 commented on #11018
I don't know if this is exposed by Outlook at all. Maybe @leonardder and @feerrenrut can help further.

In short, I understand this as follows:
1. Open Outlook
2. In the home tab under the ribbon "cathegorize", create a new cathegory
3. Right click on a message
4. Assign a cathegory to it
5. Try to remove the cathegory either by
a: right click on message and remove all cathegories or
b: go to the

[2020-04-16 20:21] Adriani90 commented on #11014
Closing as duplicate of #6819

[2020-04-16 20:21] #11014 closed

[2020-04-16 20:26] Adriani90 commented on #11004
Do you have by chance disabled the automatic focus movement to focusable objects? Press nvda+8 or enable it in the advanced settings again and see if the issue is still reproducible.

[2020-04-16 20:26] Adriani90 commented on #11004
Also maximize the window with windows+up arrow when reproducing this.

[2020-04-16 20:30] Adriani90 commented on #10987
cc: @josephsl, @nvdaes

[2020-04-16 20:37] josephsl commented on #10987
Hi, It might be due to Ikiwiki unless there is a file in translations workflow that is responsible for this. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, April 16, 2020 1:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA Community Add-ons website bug: The simpli

[2020-04-16 20:39] lukaszgo1 commented on #11018
In Outlook 2010 this works correctly. In Outlook 365 however the selected category has no checked state. It is still possible to learn what category is selected because all other categories are announced as not selected. Also note that proper states are exposed via IAccessible in this case but not via UIA.

[2020-04-16 20:53] Adriani90 commented on #10138
@k-kolev1985 I tested in skype electron for desktop version 8.58, when I press enter after writing a message, NVDA reports that it has been sent. So this issue might be solved now. Could you test please?

[2020-04-16 20:55] nvdaes commented on #10987
Hi, this is something that should be fixed by @michaelDCurran, who requested to be notified about major breaks in the translations system:
https://nvda-addons.groups.io/g/nvda-addons/message/12046
BTW, @jcsteh  documented how to [add a new language for ikiwiki](https://github.com/nvaccess/l10n-code/wiki/Adding-a-New-Language-to-Ikiwiki)

[2020-04-16 20:58] Adriani90 commented on #9832
@kianoosh-shakeri I cannot reproduce this with NVDA 2020.1 Beta 1 and Skype Electron 8.58 on Windows 10 1909 update.

Could you please report if this is still reproducible for you?

[2020-04-16 21:01] Adriani90 commented on #9348
I am closing this issue since it is not related to NVDA, but to eSpeak. Thanks.

[2020-04-16 21:01] #9348 closed

[2020-04-16 21:08] Adriani90 commented on #9219
In NVDA alpha-19988,66fcfe69 now NVDA reports check box checked on or unchecked off. I guess "on" or "off" are provided by UIA and NVDA reports both. I guess the skype app module needs to be edited accordingly.
Maybe @leonardder can help here.

[2020-04-16 21:12] Adriani90 commented on #10138
Is this a duplicate of #8591?

[2020-04-16 21:36] christopherpross commented on #11016
Yeah, it is now working. Thx. And sorry for this.

[2020-04-16 21:36] #11016 closed

[2020-04-16 23:18] jcsteh commented on #10508
Thanks so much for looking into this, @galich.

It's hard to talk in terms of limits for events. Where events serve an important purpose, some client might need them and it's reasonable to fire them.

The issue here is that the events don't really seem to serve any useful purpose. When you move to a new item, from the user's perspective, the fields for the new item are effectively completely separ

[2020-04-17 03:36] ppathania123 opened #11020 "NVDA is not reading tooltips for Dynamics CRM(Navigation done using keyboard only)."
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your computer?

#### H

[2020-04-17 06:03] leonardder commented on #9178
at the logon screen turned on. After that, you try to update NVDA using an RDP session. That's not going to work as the logon screen of the system itself is still active with NVDA running.

I have a prototype in such a state that it can list processes for other users, it only fails to terminate them. Interesting enough, termination succeeds if I run nvda_slave elevated, so not sure what's going wr

[2020-04-17 06:20] leonardder commented on #9219
SKype Electron does not use UIA, it uses IAccessible2.

Anyhow, while reporting ON and Off is redundant, there are more cases where information is doubled like this. I don't consider it of very high priority.

@k-kolev1985 Could you also confirm that the initial issue, namely something like `not pressed checked` being reported for toggle buttons, is fixed? IN that case, we can close this issue.

[2020-04-17 06:21] k-kolev1985 commented on #10138
@Adriani90 I've tested with Skype version 8.59.76.73 (insider build) and I can still reproduce the problem. Previously I was using v8.58 and I still could reproduce it. I don't know how it works for you in split window mode. And what about incoming chat messages? Does NVDA read them to you when the chat window in question is in focus?

And no, issue #8591 is not the same. That one affects single w

[2020-04-17 06:51] k-kolev1985 commented on #9219
@leonardder Yes, the initially reported problem with the confusing status for the toggle switches is fixed now (tested with Skype version 8.59.76.73 and NVDA version alpha-19988,66fcfe69).

[2020-04-17 07:17] leonardder commented on #9219
In that case, closing as works for me.

[2020-04-17 07:17] #9219 closed

[2020-04-17 08:24] Adriani90 commented on #10758
This is not reproducible in NVDA 2019.3.1 with Skype@ for Business 2016 (16.0.4978.1000)
@fernando-jose-silva are you still having this issue?

[2020-04-17 09:08] cablegunmaster opened #11021 "Installer not starting up"
### Steps to reproduce:
1. Download a NVDA version from the website
2. Start the setup.
### Actual behavior:
Please wait while loading setup shows.
After this nothing is happening, and the setup does not continue.
this happens on all versions of the installer. (whether the setup has elevated rights or not).

After several attempts I get this message when windows 10 does a troubleshooter:
An unexpe

[2020-04-17 10:04] mohdshara commented on #11004
automatic focus movement to focusable objects is checked in the advanced settings. also maximizing the window doesn't make a difference.

[2020-04-17 10:41] jcsteh commented on #10721
@feerrenrut, I mentioned briefly when we spoke today that I had a theory (more of a hunch) regarding the OneCore lag. It turns out my hunch was correct.

If you take a look at ffa71c7c (#7495), you'll note that at one point, we were getting lag when typing characters. I tracked this down to WaveOutOpen (called by nvwave) blocking for ~100 ms whenever it was called from the OneCore engine callback

[2020-04-17 10:59] munawarb opened #11022 "NVDA gives extraneous table layout information in Outlook, making the message too verbose"
### Is your feature request related to a problem? Please describe.
Yes. In Microsoft Outlook, for complex HTML Email messages, NVDA will say something like "table with x columns and y rows, table with x columns and y rows, ..., [content]". This makes the Email message difficult to consume. Most of the time I'd argue it's impossible to consume because I have to wade through all the tables, and to a

[2020-04-17 11:10] leonardder commented on #9178
Another update.

It seems that either there's something wrong with how we elevate, or something else.

1. If I run an elevated nvda_slave that tries to terminate a process for another user, I get access denied when trying to open a handle to the process. If I start nvda_slave from an elevated command prompt, it is able to open the handle and even terminate the process.
2. Same applies when I use W

[2020-04-17 11:30] Neurrone commented on #11004
I think it might be caused by that setting.

When disabled and when on the first h2, when pressing tab nothing happens.

[2020-04-17 11:34] lukaszgo1 commented on #10133
@Qchristensen Could you please respond to [this commend](https://github.com/nvaccess/nvda/issues/10133#issuecomment-526813470) by @JulienCochuyt  ?

[2020-04-17 11:50] Adriani90 commented on #11021
This error occurs mostly when a partition has damage or when an windows update has not been installed completely. I guess NVDA cannot really detect your Windows version when you start the setup.
Try to update your Windows first and try to install NVDA again after that.
I think this issue is not really an NVDA issue.

[2020-04-17 11:50] Adriani90 commented on #11021
Also try to run the setup as administrator.

[2020-04-17 11:51] lukaszgo1 commented on #11020
@ppathania123 Please fill the template otherwise this issue would be closed.

[2020-04-17 11:54] Adriani90 commented on #11022
Closing as duplicate of #9541.

[2020-04-17 11:54] #11022 closed

[2020-04-17 12:05] fernando-jose-silva commented on #10758
I temporarily lost access to this problem machine, this machine is at my place of work, where we are away due to a pandemic.
  The notebook we received to work at home, has a version of Skype for Business 2016, and I don't have this problem.
  Just regain access to the troubled machine after the quarantine has ended.

Enviado do meu iPhone

[2020-04-17 12:18] jcsteh commented on #10721
Submitted as #11023.

Submitted as draft #11024.

[2020-04-17 12:32] cablegunmaster commented on #11021
- Try to update your Windows first
The windows version is said to be the latest version.
 - Try to run the setup as administrator.
Same issue.

[2020-04-17 12:45] #10966 closed

[2020-04-17 13:35] feerrenrut commented on #10987
@nvdaes Isn't this just a translation error?

[2020-04-17 13:49] #10508 closed

[2020-04-17 14:16] feerrenrut commented on #9178
@lukaszgo1 Of course, this has to be transparent to the user. NVDA would need to be able to restore itself on user switching back. It would be good if this took into account the state of NVDA. A user may have modified but unsaved preferences, we can't assume they should be saved or discarded. Searching for and force killing the process doesn't seem like a good solution either.

Handling the log-on

[2020-04-17 14:21] aleventhal commented on #9368
It's actually a regression from a couple of years ago. I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=1071838  and I believe that using xml-roles:alertdialog along with ROLE_SYSTEM_DIALOG but still get the benefit of JAWS dialog commands, and automatically speaking the alertdialog even if it doesn't receive focus. More info in the Chrome bug.

I should be able to get a fix into C

[2020-04-17 14:40] feerrenrut commented on #10721
Re-opening, since there are still cases where this issue occurs.

[2020-04-17 14:40] lukaszgo1 commented on #9178
@feerrenrut  wrote:

As long as user is asked if he/she wants to close other instances of NVDA I believe that it is the best solution. It is certainly good first step - in the current state if NVDA is running on another account and upgrade is attempted it is broken so hardly ideal.

I cannot recall the specific software however I've seen multiple times a message stating that the program is running

[2020-04-17 14:46] nvdaes commented on #10987
I think thisis a translation error. I mentioned Jamie"s article about adding new languages for reference. Anyway, I am not sure about the location of ikiwiki after the migration of add-ons to GitHub.

[2020-04-17 15:02] feerrenrut commented on #9178
This is usually when the application is running for the current user.

The process running as another user significantly complicates this, it seems @leonardder is running into some difficulties with this approach. It's worth considering other approaches.

[2020-04-17 15:25] trumpton commented on #10970
Thanks both for the responses ...

@Neurrone: didn't find silenzio, but ran the test with a radio station playing in the background (I suspect that would also stop the audio subsystem from going to sleep).  I saw no difference unfortunately.

@feerrenrut: Based on your spotting the jittery performance, I also tried the same test again whilst setting the keyboard repeat delay (first character) and

[2020-04-17 15:48] leonardder commented on #9178
I'm not very comfortable with auto force killing either, so that's why I made it optional in my prototype.

I think I'd like to go with the easiest solution, namely checking whether there are any running processes and if so, refuse to install. We should also be able to give a hint about what logged in user is using the proces.

[2020-04-17 17:39] Adriani90 commented on #10758
@fernando-jose-silva thanks for reporting. I think this issue is not reproducible in newest NVDA version  and newest skype for business version. But feel free to comment on it and we can reopen if this is still a problem for you.
For now I am closing this as works for me.

[2020-04-17 17:39] #10758 closed

[2020-04-17 17:44] Adriani90 commented on #10971
Actually, is this not a duplicate of #10721? Or at least very related? Maybe PR

[2020-04-17 17:51] SeanTolstoyevski commented on #10971
no,

Although similar, this situation is different from that issue.

only the delay in navigation is mentioned here.
In that issue, the user does not navigate letters.
navigates with various keys combinations.
onecore is used.

I'm talking about espeak here.
but the situation was also observed in onecore. I am not using onecore. I do not know.

and I want to ask a question.
are you going to do som

[2020-04-17 17:53] Adriani90 commented on #11004
@Neurrone this is ok, if you disable it the system focus does not move when you press tab out of the browse mode because it is blocked and does not follow the virtual cursor. However, if automatically set focus to focusable objects is enabled, everything should work as expected.
Is this also reproducible in Firefox 75? Or did this start with Firefox 76?
cc: @MarcoZehe

[2020-04-17 17:57] Adriani90 commented on #10998
@eDADMSFTChristopher in order for us to investigate exactly what the issue is, could you please create a minimal test case out of that control / table and post it here?
Without user name and password it will be impossible for us to reproduce.
Thanks for your assistance.

[2020-04-17 18:03] Adriani90 commented on #10996
Closing in favor of #10997.

[2020-04-17 18:03] #10996 closed

[2020-04-17 18:11] Adriani90 commented on #10971
@SeanTolstoyevski we are trying our best. Issues like this are not very trivial. and investigation usually means also that we might have many questions. And we also need regular updates from the people who created issues. otherwise we tap in darkness.
Let's see if it gets better after #11024. #11023 has already been merged and these two pull requests together might already have a positive impact o

[2020-04-17 18:17] Adriani90 commented on #10971
One proposal from my side, could you please run the COM registration fixing tool in NVDA menu under tools?

Using eSpeak with NVDA Version: alpha-20005,14c2e2ec on Windows 10 1909 on a Dell laptop, I cannot reproduce this issue. The time between the key press and the reporting of the element in my case is less than 0.1 second as follows:

[code]

[2020-04-17 18:48] SeanTolstoyevski commented on #10971
hey @Adriani90
OK. Isn't the difference much?

This is the log of 2019.2.
There is more than 20 ms difference.
I `m talking about this.
[code]

The average of the log you send is 70 ms.
30 ms in 2019.2.

[2020-04-17 18:50] SeanTolstoyevski commented on #10971
Yes, I run COM registration fixing tool. :) .

[2020-04-17 20:04] manish10 opened #11026 "NVDA table navigation does not work in real HTML table when css display:table applied to parent"
### Steps to reproduce:
In the HTML at the bottom of this issue, navigate to the table on the page and try to use the table navigation keys ctrl+alt+arrow keys.
### Actual behavior:
NVDA announces not in a table cell.
### Expected behavior:
NVDA should move to the next or previous cell.
### System configuration
#### NVDA installed/portable/running from source: install

#### NVDA version: 2019.3.1

[2020-04-17 21:53] Mike-AgileBits commented on #10508
Hi,

I'm Mike, the lead QA engineer for 1Password for Windows. We have made some adjustments to 1Password to try to speed this up but we're not sure if it is better or worse, we tried testing it ourselves and NVDA seem to be more responsive but not entirely lag-free. We would like to ask if anyone here can help us test it with a private build. If yes, please email us directly at `support+windows@1

[2020-04-17 23:25] dingpengyu commented on #10987
hi
Currently I cannot get the relevant error log.
thanks

[2020-04-18 06:20] Andre9642 commented on #10992
Fixed by #11017

[2020-04-18 06:20] #10992 closed

[2020-04-18 06:33] nvdaes commented on #10987
Don't worry, this must be an error in the website itself, not related to NVDA. Hope this can be fixed soon.

[2020-04-18 07:39] Jookia opened #11027 "Wine support"
### Is your feature request related to a problem? Please describe.

NVDA currently doesn't work on Wine meaning a lot of accessible Win32 apps can't be used accessibly in Wine on Linux.

### Describe the solution you'd like

I'd like to see NVDA running on Wine and reading out things on my screen.

### Describe alternatives you've considered

Hooking up Wine's accessibility implementation (or lack

[2020-04-18 07:48] mohdshara commented on #11004
I have Firefox portable at version 75. I notice the same behavior.

[2020-04-18 07:51] Andre9642 commented on #10992
My bad. I spoke too quickly, the bug is still present (maybe less often). In the meantime, I discovered that my report is a duplicate of #10895, so I leave it closed.

[2020-04-18 07:52] josephsl commented on #11027
Hi, I think it would be best to ask Wine developers to tackle this, as the overall aim of Wine project is to provide a Windows API compatibility layer for Linux platforms. Doing so will open up many things not only for NVDA, but also for other assistive technologies that rely on MSAA support. Thanks.

From: Jookia <notifications@github.com>
Sent: Saturday, April 18, 2020 12:40 AM
To: nvaccess/nvda

[2020-04-18 08:00] Jookia commented on #11027
I did that this week too by opening a bunch of bugs focusing on the specific MSAA functionality needed and explaining more in the NVDA Wine bug. But some of the blocks for NVDA are unrelated to MSAA but for things that might not need to be implemented. For instance, NVDA is currently broken altogether because Wine doesn't support the CoInitialize function. Having NVDA notice that Wine is returning

[2020-04-18 08:17] josephsl commented on #11027
Hi, so if you did modify NVDA and let it drop CoInitialize, does it even run then? Note that this is COM related, something Wine project should support better in order to let COM servers and clients interact better. Thanks.

From: Jookia <notifications@github.com>
Sent: Saturday, April 18, 2020 1:01 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment

[2020-04-18 08:23] Jookia commented on #11027
Yes, I can confirm that it works. I spent this week seeing how far I
could tweak NVDA for it to run in Wine and got to the point it could
cursor read Firefox web pages.

On Sat, Apr 18, 2020 at 01:18:02AM -0700, Joseph Lee wrote:

[2020-04-18 09:01] josephsl commented on #11027
Hi,

I see.

What I'm trying to get at is looking at this from long-term accessibility and advocacy standpoints. For years, Wine was praised for excellent compatibility with apps and games using Windows API features many apps use. The fact that we are talking about tweaking screen readers to work with Wine when the project doens't provide necessary modules speaks to the larger issue of advocating

[2020-04-18 09:19] Jookia commented on #11027
Having NVDA be more tolerant of Wine's bugs would cut down on what Wine
needs to do support NVDA functioning, even if in a limited form.

[2020-04-18 09:35] josephsl commented on #11027
Hi,

Still, I think that's a short-term solution. Although practical, it still doesn't address the bigger problem of awareness of accessibility by Linux app vendors. Sure, the proposed solution may allow NVDA to be used for various development purposes on Linux, but remember that we're talking about a foreign entity trying to get work done through a compatibility layer.

Another key thing to note:

[2020-04-18 09:43] Jookia commented on #11027
It's not meant to address the bigger issue of accessibility by Linux app
vendors. That's a separate issue to Wine accessibility.

This solution assumes Wine developers will implement accessibilty API
support in Wine, but NVDA requires other APIs too. Implementing the
accessibility API overnight will not make NVDA run on Wine.

[2020-04-18 09:58] josephsl commented on #11027
Hi,

We know that implementing accessibility API support overnight doesn't mean NVDA will run fully, and suppose Wine developers do implement necessary changes. But my overall question remains: are they even talking about adding compatibility layer for oleacc.dll and UIAutomationCore.dll, or for that matter, COM compatibility? If yes, we might consider this proposal, otherwise the best people to p

[2020-04-18 10:05] Jookia commented on #11027
Does NVDA use UIA much? My impression was that only really MSAA support
needed to be added.

[2020-04-18 10:14] josephsl commented on #11027
Hi,

Yes, NVDA does use UIA, and UIA client/server support is needed if dealing with a Windows app with UIA server features running under Wine. As UI Automation is built on top of COM (Component Object Model), solid COM support is required to interact with UIA server apps. Lack of CoInitialize/CoInitializeEx in Wine indicates no solid COM support yet, making NVDA unusable as a UIA client, which is

[2020-04-18 10:19] Jookia commented on #11027
Oops, I was mistaking CoInitialize for CoEnableCallCancellation.
Yes Wine does support COM. I was thinking of taking a stab at
implementing parts of MSAA myself for Wine, at least the parts I'd be
able to do.

[2020-04-18 10:27] josephsl commented on #11027
Hi,

In this case, it would be best to talk to Wine developers about cooperating with AT-SPI developers to come up with some sort of a bridge between the two.

In order to support Windows screen readers (not only NVDA, but others), the following accessibility API's must be implemented:

* MSAA (Microsoft Active Accessibility)/IAccessible
* IAccessible2
* UI Automation (both server and client bits)

[2020-04-18 10:31] josephsl commented on #11027
Hi,

Speaking of additional accessibility API's:

* IAccessible2 is used to talk to Firefox, Chrome, and other apps implementing IAccessible2 server side components. IAccessible2 came out as enhanced version of MSAA and as an alternative to UI Automation.
* UI Automation is used in newer Windows releases in order to talk to newer apps. Although implementing IUIAutomation would suffice, for best re

[2020-04-18 10:36] Jookia commented on #11027
I don't believe an AT-SPI bridge would be as portable as supporting NVDA
given Wine works on ReactOS and macOS as well.
On Sat, Apr 18, 2020 at 03:27:50AM -0700, Joseph Lee wrote:

[2020-04-18 10:40] josephsl commented on #11027
Hi,

True. But at least looking into sing existing bridges might be helpful for a while before considering full native implementation.

Thanks.

[2020-04-18 10:46] Jookia commented on #11027
True. Thanks for all this feedback and input.
On Sat, Apr 18, 2020 at 03:40:31AM -0700, Joseph Lee wrote:

[2020-04-18 12:45] DrSooom commented on #10998
@Adriani90: I guess your own Microsoft/Skype account is enough here. But please shorten the two URLs in the issue description to `https://login.microsoftonline.com/` as they contain sensitive data. Thanks.

[2020-04-18 12:56] leonardder opened #11028 "NVDA controller client: allow choosing speech prioiryty when speaking"
### Is your feature request related to a problem? Please describe.
External software can use the NVDA controller client library to make NVDA announce text. This is used by twitter clients like TWBlue and Chicken Nugget, for example. This functionality is also used internally, for example by the live region handler.

However, the new speech priority support is not added to the NVDA controller clien

[2020-04-18 12:58] leonardder commented on #10954
It is very hard to debug this, as updates of alpha tend to disable serviceDebug. I think this is ok, serviceDebug is really a dangerous thing which we should actually block from working on release builds altogether.

[2020-04-18 13:03] leonardder commented on #8679
@josephsl Is this required for us moving forward to WXPython 4.10?

[2020-04-18 13:05] leonardder commented on #8508
I'm closing this because we're now using IA2 for Edge Chromium. If we ever move to UIA for Edge/Chrome, that's still a different story.

[2020-04-18 13:05] #8508 closed

[2020-04-18 13:06] leonardder commented on #8114
I'm closing this for now. We can always revisit if necessary.

[2020-04-18 13:06] #8114 closed

[2020-04-18 13:16] leonardder commented on #7322
This works in edge Chromium with IA2, for IE I wouldn't bother. Closing.

[2020-04-18 13:16] #7322 closed

[2020-04-18 13:18] leonardder commented on #6825
I can no longer reproduce this, probably a Python 3 fix we got for free. Closing.

[2020-04-18 13:18] #6825 closed

[2020-04-18 13:19] leonardder commented on #6560
I do no longer care. Closing.

[2020-04-18 13:19] #6560 closed

[2020-04-18 13:20] leonardder commented on #6383
This proposal was based on an add-on written at the time vision enhancement providers were not yet implemented. Therefore, it's now obsolete. Closing.

[2020-04-18 13:20] #6383 closed

[2020-04-18 14:39] DrSooom commented on #11021
Install or update the sound card driver. … Maybe irrelevant if NVDA Portable already starts correctly.

[2020-04-18 14:55] DrSooom commented on #11021
Additional question: Which security software is installed? Temporary disable it while you're installing NVDA.

[2020-04-18 17:27] josephsl commented on #8679
Hi,

It’s ideal, but I haven’t seen issues with wx.Yield in 4.1.0 snapshots I have (also partly because there is a wx.Locale issue that’s blocking us from moving to 4.1.0). Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Saturday, April 18, 2020 6:04 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Su

[2020-04-18 18:08] elliott94 commented on #9696
Happy for this to be closed - this isn't happening for me now. :)

[2020-04-18 18:08] #9696 closed

[2020-04-18 18:56] amirsol81 opened #11029 "Control+Delete doesn't report the word being deleted"
### Steps to reproduce:
Simply open a Word document, a file in Wordpad, a new message in Thunderbird, etc. and start typing some words. Move a few words backwards via Control+Left. Now try deleting words to the right of the cursor with Control+Delete.
### Actual behavior:
NVDA remains silent as each word gets deleted via Control+Delete.
### Expected behavior:
NVDA should echo the deleted word, or

[2020-04-18 19:21] amirsol81 opened #11030 "Unable to activate Focus mode manually if its relevant check boxes are unchecked in the Browse mode section of NVDA settings"
### Steps to reproduce:
1. Open NVDA settings, go to the Browse mode section, and make sure both Automatic focus mode for focus changes and Automatic focus mode for caret movement check boxes are unchecked. This means that you should activate manually by, say, pressing Enter on an Edit box.
2. Go to web.telegram.org and in case you happen to have a Telegram account, log in with your number.
3. Whe

[2020-04-18 20:23] amirsol81 commented on #8471
This is no longer duplicable with NVDA alpha-20005,14c2e2ec and Windows 10 Pro 64-Bit Version 2004 (OS Build 19041.207). So I suggest closing it.

[2020-04-18 20:25] amirsol81 commented on #8458
This is no longer duplicable with NVDA alpha-20005,14c2e2ec and Windows 10 Pro 64-Bit Version 2004 (OS Build 19041.207). So I suggest closing it.

[2020-04-18 20:25] #8458 closed

[2020-04-18 20:28] amirsol81 commented on #8443
This is no longer duplicable with NVDA alpha-20005,14c2e2ec and Windows 10 Pro 64-Bit Version 2004 (OS Build 19041.207). So I suggest closing it. Of course, I no longer have access to test it with Windows 7 with which I was also able to duplicate it. So it is closed until something problematic is found.

[2020-04-18 20:28] #8443 closed

[2020-04-18 20:34] amirsol81 commented on #7924
This is still duplicable with NVDA alpha-20005,14c2e2ec and Windows 10 Pro 64-Bit Version 2004 (OS Build 19041.207).

[2020-04-18 22:00] CyrilleB79 commented on #10540
Could it be a duplicate of #6959?

Note that in an Excel cell selection, you can move the focus the following way:
* Enter/Shift+Enter moves the focus in column and go to the next/previous column when the column end is reached.
* Tab/Shift+Tab moves the focus in line and go to the next/previous line when the line end is reached.

[2020-04-18 22:05] CyrilleB79 commented on #6959
I suspect #10540 being a duplicate of this one. See @k-kolev1985 's description in the ticket that may be interesting.

As written in #10540:
Note that in an Excel cell selection, you can move the focus the following way:
* Enter/Shift+Enter moves the focus in column and go to the next/previous column when the column end is reached.
* Tab/Shift+Tab moves the focus in line and go to the next/previo

[2020-04-18 23:14] Adriani90 commented on #11026
I cannot reproduce this in NVDA Version alpha-20015,56a62097 and Crome or Edge cromium 81. @manish10 could you please test with these verisons?
The last Alpha version of NVDA can be downloaded here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-04-18 23:23] Adriani90 commented on #11009
Could you please try with NVDA Version: alpha-20015,56a62097?
I cannot reproduce it with this version on Edge cromium 81. However, the behavior might be different in the development version of Edge 83.

For the future, I suggest not to create issues based on development versions of third party software other than NVDA. In my view we should report issues against NVDA only based on stable versions o

[2020-04-18 23:26] Adriani90 commented on #10998
Thanks Daniel for the suggestion, however, I think we still need a minimal test case here. Not all developers do have a Microsoft account.

[2020-04-18 23:29] Adriani90 commented on #10980
@Andre9642 I cannot reproduce this with NVDA Version: alpha-20015,56a62097 on last stable Edge Cromium 81.

Can you confirm?

[2020-04-18 23:30] Adriani90 commented on #10980
However, I have to metntion that I do not have a braille display connected. It might be related to braille only.

[2020-04-18 23:33] Adriani90 commented on #10967
@gdata1 I cannot reproduce this in last stable Edge Chromium 81 with NVDA Version: alpha-20015,56a62097.

I did following:
1. Open a new tab
2. Press alt+d to go to the address bar
3. Typed google.com
Actual behavior: NVDA jumped to the webpage, landing on the google search field. This is also expected behavior.
Can you confirm with the versions above?

[2020-04-18 23:36] Adriani90 commented on #10869
Might be related to #10895.

[2020-04-18 23:39] Adriani90 commented on #10847
cc: @Qchristensen, @feerrenrut maybe you can help here from a sighted people perspective.

[2020-04-18 23:40] gdata1 commented on #10967
@Adriani90 Hello. I have this happening on version 84.0.488.0 (Official Assembly) canary (64-bit version) this happens even when I open the browser settings page. nvda remains in the address line. NVDA version alpha-20005,14c2e2ec

[2020-04-18 23:46] Adriani90 commented on #10650
@k-kolev1985 the behavior should be quite similar to Google Crome. Right?

[2020-04-18 23:53] Adriani90 commented on #10645
This works correctly in Firefox 75.
@aleventhal do you have any idea why the value is not exposed in Crome or chromium based browsers here?

[2020-04-18 23:55] Adriani90 commented on #10555
In Edge Cromium 81 which is the last stable version, UIA is enabled by default and browse mode seems to work as expected.
@codeofdusk can you confirm?

[2020-04-18 23:59] Adriani90 commented on #10472
Since Edge cromium will be distributed with Windows 10 20 H1 update, I guess we should concentrate on Edge Cromium.
Did you try the internet explorer simulation in Edge Cromium? Does it work there? Ideally using NVDA 2019.3.1.

[2020-04-19 00:11] Adriani90 commented on #10472
Looking deeper to this example, in my view from an user perspective is not very best. It is ok to hear the position of every element, but the level should be reported only once when entering it. For example expanding "fruits" with right arrow, it says "expanded". Pressing down arrow, it says "level 2". After that it is self explanatory that all elements thereunder are level 2, unless I press down

[2020-04-19 00:13] Adriani90 commented on #10440
@Oreonan could you please test with NVDA last Alpha version and Edge Cromium 81? Is this still reproducible?

[2020-04-19 00:18] Adriani90 commented on #10429
No update since almost 6 months and there are several crome versions released since then. Closing for now as works for me. If this is still happening, please comment on it and we can reopen. Thanks.

[2020-04-19 00:18] #10429 closed

[2020-04-19 00:30] Adriani90 commented on #10324
@pidixit an update here, it seems in Firefox Aria-expanded is announced correctly in Firefox 75 with NVDA Version: alpha-20015,56a62097.
In Google Crome and Edge Cromium AriaAria-expanded is not announced in this example.
Does Cromium expose this?
cc: @aleventhal

[2020-04-19 00:34] Adriani90 commented on #10310
@AccessibilityTestingTeam-TCS How is this behavior in Edge Cromium 81 or higher? I think since Edge Cromium will be distributed to most users soon, it makes sense to concentrate on that browser regarding NVDA issues rather than EdgeHTML Edge 44.

[2020-04-19 00:42] codeofdusk commented on #10555
On my machine (Chrome 83) with the `--enable-experimental-ui-automation` flag, NVDA now seems to force IAccessible 2.

[2020-04-19 00:46] josephsl commented on #10555
Hi, this is because UIA will be ignored from document window itself. Other controls will be recognized as UIA if they are UIA elements. Thanks.

From: Bill Dengler <notifications@github.com>
Sent: Saturday, April 18, 2020 5:43 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Support UI Autom

[2020-04-19 00:46] Adriani90 commented on #10225
In Edge Cromium 81 this works as expected. All requirements are reported when typing the password, if a requirement is met, NVDA says the requirement followed by "success". If it is not met, NVDA reports the requirmeent followed by "not success".
I am closing this issue in favor of Edge Cromium which will be distributed with Windows 10 20 H1 update to most users.

[2020-04-19 00:46] #10225 closed

[2020-04-19 00:48] codeofdusk commented on #10555
Makes sense, so this issue is still not resolved (we still need to implement support for UIA in Chrome).

[2020-04-19 02:21] jcsteh commented on #5641
Reopening, since this was reverted (#9629) before it ever got into the release.

[2020-04-19 02:31] jcsteh commented on #5641
I suspect the reason #8259 was causing problems for some users is that even though we were disabling the change handling for <= Windows 10 May 2019, the Desktop IAccessible object's name property still would have called accName on the Desktop IAccessible. That means we probably could have called it in some cases, even on Windows 10 builds where this caused freezes. I'm going to submit a revised PR

[2020-04-19 03:22] Andre9642 commented on #10980
Yes, no problem if I don't have a braille display connected.

[2020-04-19 03:33] amirsol81 commented on #7041
This is still duplicable with NVDA alpha-20005,14c2e2ec and Windows 10 Pro 64-Bit Version 2004 (OS Build 19041.207). As another example, the RSS feed tree view in Internet Explorer, accessible via Control+G, displays it -- all items there are "1 of 1 level 1" regardless of their position.

[2020-04-19 07:19] amirsol81 opened #11032 "NVDA remains silent and doesn't announce the corrected word in MS Word 2016 if AutoCorrect is on"
### Steps to reproduce:
AutoCorrect is On by default in Microsoft Word, but:
1. To make sure if it's On, go to the File tab, choose Options, go to the Proofing Tab, and select the AutoCorrect Options button. Make sure the Replace text as you type check box is checked.
2. Having returned to the main MS Word window, if you type many misspelled words such as "namme" for "name", "noboddy" for "nobody"

[2020-04-19 10:17] Oreonan commented on #10440
@Adriani90 Ah no, I just tested and I confirm that I do not reproduce the bug today

[2020-04-19 10:17] #10440 closed

[2020-04-19 11:07] Adriani90 commented on #11026
For now I am closing this as works for me. Please feel free to comment on this if you are still having this problem and we can reopen it. Thanks.

[2020-04-19 11:13] Adriani90 commented on #10967
@gdata1 not sure if this will have any effect, but could you please try to run the COM registration fixing tool in NVDA menu under "tools"?
So it seems this problem might have appeared after Edge Cromium 81. Or can you also reproduce this problem in Edge Cromium 81? If not, I think a bug with Microsoft should be filled as well.

[2020-04-19 11:37] Adriani90 commented on #9066
Update with NVDA alpha-20015,56a62097 on Edge scromium stable 81:
When moving the mouse and then trying to navigate character by character or word by word with review commands, it works as expected. However, line by line does not work. Actually it seems document review disappears and we have just screen review or object review remaining. Pressing arrow keys in browse mode makes the document review

[2020-04-19 11:38] Adriani90 commented on #9066
In Crome 81 the document review mode also disappears when moving the mouse, same like in Edge cromium.

[2020-04-19 11:43] Adriani90 commented on #3244
If this is not an issue in Firefox anymore, I suggest to close it because IE will probably not get and enhancements from NVDA's side sofar.

[2020-04-19 12:21] Adriani90 commented on #3600
The link does not work anymore.
@kennpetri could you please update with a minimal test case or a new working link?
@jcsteh maybe you can still reproduce this?

[2020-04-19 12:29] Adriani90 commented on #5240
We do not have any update on this, and I cannot reproduce it really. Closing as works for me. We can reopen if there is any further update which proves that this is is still an issue.

[2020-04-19 12:29] #5240 closed

[2020-04-19 12:33] Adriani90 commented on #10963
This is reproducible in Crome and edge cromium 81, headers are reported even if you are in the first row. Also all the divisions (Paris, Rome) are reported together, no matter in which divisiona you are navigating.
cc: @aleventhal is there a bug filled with Cromium on this?

Let's continue discussions in #3245.

In Firefox this works as expected.

[2020-04-19 12:33] #10963 closed

[2020-04-19 12:41] Adriani90 commented on #6978
This works as expected with NVDA Version: alpha-20015,56a62097, Firefox 75, Crome 81and Edge Cromium 81. Closing as works for me.

[2020-04-19 12:41] #6978 closed

[2020-04-19 12:43] Adriani90 commented on #10774
@pablonete could you please provide a minimal test case or an example website where we can reproduce this?

[2020-04-19 12:47] Adriani90 commented on #10890
at least for Firefox cc: @jcsteh is this correctly exposed by Firefox?

Maybe @aleventhal could also comment on Cromium and how is it exposed there.

[2020-04-19 12:48] Adriani90 commented on #10774
Actually, closing as duplicate of #10890 which also contains an example.

[2020-04-19 12:50] Adriani90 commented on #10813
cc: @aleventhal since this seems to occur only in Crome.

[2020-04-19 12:53] Adriani90 commented on #10810
cc: @leonardder maybe you can help here since you implemented the grouping reporting feature earlier.

[2020-04-19 12:59] Adriani90 commented on #9153
Closing as works for me, considering also Marco's comment above. Thanks.

[2020-04-19 13:03] Adriani90 commented on #9153
Oh, after testing further, I will reopen this. The behavior is as follows:
Firefox: no Aria describedby reported when pressing nvda+tab or when navigating in focus mode, the link in the minimal test case is not reported at all and neither the aria describedby.

In Crome, the aria describedby is only reported when pressing nvda+tab, but not in focus mode.

In Edge 81 everything works correctly.

da

[2020-04-19 13:07] Adriani90 commented on #9153
[code]

[2020-04-19 13:08] Adriani90 commented on #9153
This might occur because it seems the span id is hidden. Is this expected behavior?

[2020-04-19 13:11] amirsol81 commented on #6048
@Adriani90 Honestly I haven't seen something other than the following page from FreedomScientific which actively promotes MouseOver support for JAWS, but others might have more examples of that ilk: https://support.freedomscientific.com/Training/Surfs-Up/MouseOver.htm

[2020-04-19 13:15] gdata1 commented on #10967
@Adriani90 I did what you said, but it didn't help. the problem started on version 83. with all versions of nvda. including nvda alpha and nvda 2019.3.

[2020-04-19 13:18] Adriani90 commented on #9192
I can reproduce this in any browser but only when pressing enter on the link from browse mode.
In Focus mode it works as expected.
cc: @MarcoZehe do you have any idea why NVDA does not report anything in Firefox?

[2020-04-19 13:26] Adriani90 commented on #10813
Actually, after testing further, it seems this works as expected in all browsers, including Google Chrome 81 with NVDA Version: alpha-20015,56a62097.

@terrill please feel free to comment if you still see this issues with the software versions in my comment. We can reopen if this is still the case.
I am closing this for now as works for me.

[2020-04-19 13:26] #10813 closed

[2020-04-19 13:32] Adriani90 commented on #10728
I can reprotuce this in any browser, also Firefox and Edge Cromium. In the best case NVDA reports only "current page" but does not report which current page this is.
For Firefox cc: @MarcoZehe or @jcsteh

For Cromium maybe cc: @leventhal.

[2020-04-19 13:40] Adriani90 commented on #10606
Works as expected in Edge 81 and Crome 81 with NVDA Version: alpha-20015,56a62097
In Crome NVDA repeats "list. Browser." on every list item but this is another issue.

Try to run the COM registration fixing tool and try again. I think this list is sort of Java code and might also work only if Java Access Bridge is enabled.

I am closing this as works for me. Feel free to comment if you still have

[2020-04-19 13:40] #10606 closed

[2020-04-19 13:45] Adriani90 commented on #10061
This works as expected in Edge Cromium 81 with NVDA Version: alpha-20015,56a62097.
Closing as works for me, since Edge Cromium will be distributed to most users in Windows 20 h1 update.

[2020-04-19 13:45] #10061 closed

[2020-04-19 13:51] Adriani90 commented on #9952
This works as expected in Edge  Cromoum and Google Crome 81 with NVDA Version: alpha-20015,56a62097. Closing as works for me.
Feel free to comment if you still have this issue with these versions and we can reopen it.

[2020-04-19 13:51] #9952 closed

[2020-04-19 13:53] Adriani90 commented on #9904
This works as expected in Firefox 75, Crome and Edge Cromium 81 with NVDA Version: alpha-20015,56a62097. Closing as works for me.

[2020-04-19 13:53] #9904 closed

[2020-04-19 14:02] Adriani90 commented on #9850
Closing in favor of #10650, the discussion thee gets abit further.

[2020-04-19 14:02] #9850 closed

[2020-04-19 14:05] Adriani90 commented on #9760
@hills001 could you please provide a minimal test case or a new link? The link in the description does not work anymore, the codepen is expired.

cc: @feerrenrut

[2020-04-19 14:08] Adriani90 commented on #9747
@MarcoZehe any updates on this? I guess things changed somehow in NVDA 2020 Beta and newest versions of Crome, Firefox and Edge. Grateful if you could give us a short update.

[2020-04-19 14:10] MarcoZehe commented on #9747
This seems to have resolved itself with NVDA‘s update to Python 3 and all the updated packages. Haven‘t seen this problem in months.

[2020-04-19 14:13] Adriani90 commented on #9722
This works as expected in Edge Cromium 81, Crome 81 and Firefox 75 with NVDA Version: alpha-20015,56a62097.
Closing as works for me since Edge Cromium will be distributed to most users in 20 H1 update of Windows 10.

[2020-04-19 14:13] #9722 closed

[2020-04-19 14:18] Adriani90 commented on #9695
This is only reproducible if read whole page after load is enabled in browse mode settings.
cc: @feerrenrut

[2020-04-19 14:30] Adriani90 commented on #9680
This is actually expected, since in browse mode NVDA fetches all parent object including their child object so that users can navigate the website using arrow keys. It's sort of an alternative to mouse navigation if you like. It seems it is possible to focus the child object with the mouse, so it is also focusable by NVDA's navigator when using object navigation. In turn, it is also focusable with

[2020-04-19 14:31] Adriani90 commented on #9644
@fernando-jose-silva can you reproduce this on NVDA 2019.3.1 or on NVDA 2020 Beta?

[2020-04-19 14:35] Adriani90 commented on #9595
We do not have an update since almost 10 months, closing as abandoned. Please comment on it if it is still occuring with the last versions and we can reopen it. Thanks.

[2020-04-19 14:35] #9595 closed

[2020-04-19 14:37] Neurrone commented on #9595
I don't think we should close the issue so hastily. NVDA's issues with office, excel included are well known so I think we should still leave this open unless the STR no longer reproduces the problem.

[2020-04-19 14:39] Adriani90 commented on #9515
@gdata1 how is this behavior in Edge Cromium?

[2020-04-19 14:43] gdata1 commented on #9515
@Adriani90 this issue has not yet been fixed. especially on some sites. for example, www.vk.com

[2020-04-19 14:44] gdata1 commented on #9515
I checked for edge 81 stable version and edge 84 Canary

[2020-04-19 14:47] Adriani90 commented on #9501
@yuryk53, @Sandhya-aluri how is this now with last Chrome 81 and last NVDA alpha? Or with NVDA 2019.3.1?

[2020-04-19 14:50] Adriani90 commented on #9426
@bramd could you please comment on the Cromium bug so it gets triaged again? I have the feeling that they will close it without any solution and in my view this issue is very important.

[2020-04-19 15:00] Adriani90 commented on #9390
This works as expected in NVDA Version: alpha-20015,56a62097, Google Chrome and Edge Chromium 81 as well as Firefox 75. NVDA reports the aria label in focus mode, or when pressing nvda+tab or nvda+shift+o in browse mode. NVDA did never report aria label in browse mode when pressing arrow keys, and this is expected behavior.
Closing as works for me.

[2020-04-19 15:00] #9390 closed

[2020-04-19 15:04] Adriani90 commented on #9381
This works as expected in Edge Cromium 81 with NVDA Version: alpha-20015,56a62097.
Closing as works for me since Edge Cromium will be distributed to most users in Windows 20 H1 update.

[2020-04-19 15:04] #9381 closed

[2020-04-19 15:05] Adriani90 commented on #9362
@nishimotz how is this behavior in NVDA 2020 Beta with Edge Cromium 81 or higher?
If it works there, I suggest to close this issue since the Cromium version will be distributed automatically with Windows 10 20 H1 update.

[2020-04-19 15:12] Adriani90 commented on #9426
I think this is a duplicate of  #3245.

[2020-04-19 15:13] Adriani90 commented on #9426
Closing as duplicate.

[2020-04-19 15:13] #9426 closed

[2020-04-19 15:21] Adriani90 commented on #9595
It is not hastly, we asked for updates and didn't get any answer since months. I also provided suggestions in my comment. If the initial author reports that this is still reproducible, we can reopen.
I cannot reproduce it with last NVDA alpha on Excel 2016.

[2020-04-19 15:22] Adriani90 commented on #9747
Thanks for reporting. Closing as works for me. We can reopen if this happens again.

[2020-04-19 15:22] #9747 closed

[2020-04-19 17:39] manish10 commented on #11026
I can reproduce this on chrome and edge with the april 15th alpha build and the latest chrome 81  and edge with the html in the bug.

[2020-04-19 17:41] manish10 commented on #11026
kindly reopen the bug. It is causing a lot of problems with one of our internal apps.

[2020-04-19 18:01] Adriani90 commented on #11026
@manish10 could you please test with NVDA alpha from April 18th?
I am reopening this for now, but I am prety sure this is not reproducible with this Alpha on any of the browsers.
I have created a new html file with your code snippet as attached.
I can open this file in any browser and the table navigation with ctrl+alt+arrow keys works as expected.
Could you please give more details? Do you hear a

[2020-04-19 18:02] Adriani90 commented on #11026
cc: @feerrenrut

[2020-04-19 19:38] manish10 commented on #11026
The html in the body of the issue got messed up and does not apply the style to the div on the table. apologies for that. I am trying to attach the zip file with the html that will repro the issue.
[test-table.zip](https://github.com/nvaccess/nvda/files/4500026/test-table.zip)

[2020-04-19 19:53] Adriani90 commented on #11026
Thanks very much, with this file I can reproduce the issue in Crome and Edge.
When I enable reporting of layout tables in NVDA's browse mode settings, following error is written to the log:

[code]

I guess the CSS style make it look like a table, but Chrome and Edge might render this as text blocks instead of table cells.
However, maybe @aleventhal can also help here. We saw this issue in differe

[2020-04-19 20:38] manish10 commented on #11026
Both narrator and jaws are able to recognize and work correctly with this table in edge and chrome.
Also, it is a valid semantic table and not made to look as such with css. The css is applied to the parent tag of the table element.

[2020-04-19 20:39] bramd commented on #11026
I have seen various variants of this bug in the wild as well. It seems Chrome exposes something with `display: table` as a layout table, but since the children of this element have no table semantics at all, this messes up the structure.

I consider it a browser bug that table layouts from CSS get into the accessibility layer and think Firefox handles this correctly these days but had similar issu

[2020-04-19 20:48] #8330 closed

[2020-04-19 20:48] derekriemer commented on #8330
no.

[2020-04-19 20:58] bramd commented on #11009
@Adriani90 I think it might be worthwhile to log issues against dev/beta versions of third party software, especially things like browsers which are used so often. It can help identify potential issues in the next version of this software and works as a central place to keep information about this issue for other users who may encounter it.

I retested this in Edge stable and beta with latest NVDA

[2020-04-19 22:55] jcsteh commented on #10728
Can't reproduce in Firefox. When I activate "Dash Board", then read both links in browse mode, only "Dash Board" is reported as current page.

[2020-04-19 23:20] jcsteh commented on #10890
Firefox exposes this correctly and fires the correct events. NVDA even handles these events.

The issue here is that aria-sort is set on the cell, but the element the user actually activates is a button inside the cell. NVDA only reports changes that occur on the focused element, and since the button is the focused element and aria-sort isn't set on the button, no change is reported. Contrast this

[2020-04-20 05:55] Qchristensen commented on #737
Has anyone looked at this issue lately?  I had a request from a user for it today.

[2020-04-20 07:19] Brian1Gaff commented on #737
Yes Jaws has an option like this. It can be very handy when you go to sites
you have never visited before. Controlling verbosity  is a very personal
thing though, and soon ends up with so many options that one can miss the
onne you want.
 Like many things though, I do like that feature of Jaws, but only when
using sites that have been redesigned or are new to me.
 Brian

bglists@blueyonder.co.uk
S

[2020-04-20 07:47] manish10 commented on #11026
Applying role="presentation" does fix the issue.

[2020-04-20 08:31] leonardder commented on #10811
It looks to me this was closed unintentionally.

CC @bramd

[2020-04-20 13:43] SeanTolstoyevski commented on #10811
I Forked NVDA.

I will send the PR.

I forgot.

Thanks for remind me @leonardder

[2020-04-20 14:20] leonardder opened #11033 "Add support for ARIA role code"
### Is your feature request related to a problem? Please describe.
The [code](https://www.w3.org/TR/wai-aria-1.2/#code) role is part of the ARIA 1.2 spec draft. It should indicate to screen readers that the element with this role contains code, thereby instructing the screen reader to read the contents at full punctuation. This role has been added to the Visual Studio code editor.

### Describe th

[2020-04-20 14:23] fisher729 commented on #6048
Hi.

They're becoming less and less frequent now, especially with the
advent of  touch devices.

On 4/19/20, amirsol81 <notifications@github.com> wrote:

[2020-04-20 14:38] MarcoZehe commented on #11033
I think supporting this role as a trigger for a configuration profile makes the most sense.

[2020-04-20 15:37] feerrenrut commented on #9178
@leonardder That sounds good, and keeps NVDA usable in this situation. Eventually we plan to streamline the update process, ideally in the background without disturbing the user (if enabled in config). In order to do that, we will likely need to be able to install to another location which takes over once NVDA is closed. For this we will also need to know if NVDA is running on other profiles.

[2020-04-20 16:21] fernando-jose-silva commented on #9644
everything works now
very different software versions
nvda alfa 19992
office 2013
windows 7

[2020-04-20 19:11] Adriani90 commented on #9644
I cannot reproduce this with One Core voice on Windows 10 1909 Update and MS Office 2016 in the documents attached to this issue.
Usually, NVDA interupts reading when a toast notification from any application in the background appears. But for this behavior there is another issue and can only be solved by speech refactor.
Thanks also for your reporting Fernando.
I am closing this for now as works

[2020-04-20 19:11] #9644 closed

[2020-04-20 19:19] Adriani90 commented on #9775
@DataTriny, @XLTechie can you still reproduce this in NVDA 2019.3.1 or 2020.1 Beta on Windows 10 1909?
I am using last Alpha version and am not able to reproduce. I remember that I could definitely reproduce it on Windows 1809 but this is long time ago.

[2020-04-20 19:25] Adriani90 commented on #9575
cc: @MarcoZehe

[2020-04-20 19:28] Adriani90 commented on #9454
@MarcoZehe any updates on this? Is it still reproducible with last Alpha version of NVDA?

[2020-04-20 19:35] Adriani90 commented on #9443
I saw a similar issue with aria describedby in a span. Actually, NVDA reports this in Crome, Edge and IE as expected, but only in focus mode or when pressing nvda+tab or nvda+shift+o.
In Firefox this is not reported in browse mode, nor in focus mode.
Since users mostly navigate websites in browse mode, I would suggest to find a workaroung in NVDA to report this in browse mode as well. Otherwise us

[2020-04-20 19:35] MarcoZehe commented on #9575
Column headers must also be contained in a row container.

[2020-04-20 19:44] Adriani90 commented on #9354
@svenka22 I am testing on NVDA 2019.3.1 and Crome 81, I cannot reproduce this issue either. I am closing this for now as works for me.
But please don't hesitate to comment on it if you are still reproducing this issue, then we can reopen it.

[2020-04-20 19:44] #9354 closed

[2020-04-20 19:46] Adriani90 commented on #9235
@DataTriny how is the behavior in NVDA 2020 Beta 1 and Firefox 75?

[2020-04-20 20:04] Adriani90 commented on #9191
This works as expected in Edge Cromium 81. Since this will be distributed broadly through the Windows Update 20 H1, I will close this issue as works for me.

[2020-04-20 20:04] #9191 closed

[2020-04-20 20:14] Adriani90 opened #11037 "Error while moving the mouse in Internet explorer, causing significant performance issue"
### Steps to reproduce:
1. Open any website in Internet explorer
2. Move the mouse quickly over the page

### Actual behavior:
Following errors are written to the log:
[code]

and

[code]

the unknown index might be the cause here for the performance lag, about 6 or 7 seconds until NVDA says anything:
[code]

I think NVDA actually does not know where the mouse cursor is and tries to report as much

[2020-04-20 20:16] jacobchawala opened #11038 "all Hotkeys should speak in Microsoft-Word"
In Microsoft-word, CTRL+m, CTRL+q, CTRL+s, CTRL+t, CTRL+W, CTRL+F1 and other hotkeys are not announced by NVDA.

### Is your feature request related to a problem? Please describe.
Yes, Users get trouble of knowing the actions they are doing. they keep on assuming that, for instance, if the document is saved, hanged in a paragraph, and the like. if these hotkeys are announced by NVDA, it helps user

[2020-04-20 20:19] ruifontes commented on #9775
Yes, still occurs intermitently...

Rui Fontes

Às 20:19 de 20/04/2020, Adriani90 escreveu:

[2020-04-20 20:20] Adriani90 commented on #9183
Still reproducible in NVDA alpha-20015,56a62097 on Firefox 75.

[2020-04-20 20:23] Adriani90 commented on #9111
@k-kolev1985 can you also reproduce this in Edge Chromium 81? If not, I vote for closing this issue since Edge Chromium will be distributed to most users in Windows update 20 H1.

[2020-04-20 20:28] Adriani90 commented on #9108
@MarcoZehe try to open the html file in Internet explorer. When you press down arrow, NVDA reports "combo box active". This should be reported in other browsers as well. Or am I wrong here?

[2020-04-20 20:30] jacobchawala commented on #11029
sure. It happens the same even in my Microsoft-Wore. for me, not only CTRL+Delete but also CTRL+backspace. no deleted word is spoken whether by pressing CTRL+Delete or CTRL+backspace. when pressing these hot keys, they should echo the deleted word. for instance, if you delete the word this by pressing CTRL+backspace, NVDA should say "delete back word this; when pressing CTRL+Delete, NVDA should sa

[2020-04-20 20:41] Adriani90 commented on #9047
This is fixed in NVDA alpha-20015,56a62097 and Crome 81.
Closing as works for me.

[2020-04-20 20:41] #9047 closed

[2020-04-20 20:50] Adriani90 commented on #8993
This works as expected with NVDA Version: alpha-20015,56a62097 and Google Chrome or Edge Chromium 81.
Closing as works for me.

[2020-04-20 20:50] #8993 closed

[2020-04-20 20:56] Adriani90 commented on #11038
There are already some issues already open, regarding many hot keys.
With UIA in MS Office 365, many of these hot keys are announced. Unfortunately this is not possible to report this in all MS Word versions because the information about the action is not exposed in earlier such as MS Word 2013 or older.

cc: @lukaszgo1 what do you think?

[2020-04-20 21:04] lukaszgo1 commented on #11038
Many of these are covered by https://github.com/nvaccess/nvda/pull/10415 and #10283. Ctrl+s and Ctrl+f1 are not changing text. In the former case I do not think there is any visual indication of the document being saved though I might be wrong here. In case of minimizing/maximizing ribbon with Ctrl+F1 I don not think it deserves to be announced though technically it should be possible.

[2020-04-21 00:04] Mike-AgileBits commented on #10508
Hi guys,

Just an update, we've shipped a beta update to 1Password (7.4.767) that should improve on this a bit. Someone from here has written to us and they were able to confirm that it helped a bit. We also fixed a few other accessibility issues in the same beta update.

We're looking into another lag that doesn't seem to happen in Narrator, there's a slight delay when pressing Control + N to sel

[2020-04-21 04:55] MarcoZehe commented on #9108
AFAIK, this is an NVDA bug, unless @jcsteh proves me otherwise. For some reason, it doesn't report the current selection in virtual cursor mode in some combo boxes. It does this in Google Calendar and other apps as well that have custom combo boxes. Interacting with the combo box reveals the current value, but NVDA doesn't render it in the virtual buffer for some reason, unlike normal select size=

[2020-04-21 04:55] MarcoZehe commented on #9454
Nope, still an issue.

[2020-04-21 06:00] jcsteh commented on #9108
There are a few issues here.

First, the combo box isn't focusable, which is I guess what @WiproCRMAccessibility meant in saying that it is non-interactive. I don't follow how a non-focusable combo box makes sense. A combo box control is inherently interactive. This is why NVDA doesn't render the control at all when it can't determine a value.

Second, regarding NVDA not being able to determine a

[2020-04-21 06:18] k-kolev1985 commented on #9111
@Adriani90 No, I cannot reproduce this in Chromium Edge 81.

[2020-04-21 06:22] jcsteh commented on #9108
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1631693 for the Firefox part of this.

[2020-04-21 06:33] jcsteh commented on #9443
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1631695

This is a broader issue and should be considered separately from this one. Briefly, you can get this on demand with NVDA+numpad5/NVDA+shift+o as you've noted, but that obviously assumes you know it's there. We don't always want to report descriptions though because they're secondary information. I suspect there's already another issue cov

[2020-04-21 07:19] Adriani90 commented on #9111
Then I would close this for now since Edge Cromium will be distributed with the Windows 10 Update 20 H1 to most users.

[2020-04-21 07:19] #9111 closed

[2020-04-21 07:25] Adriani90 commented on #9443
I agree with the laast point in your comment Jamie, I think this could be optional, for example a checkbox in browse mode settings called "report element descriptions".

[2020-04-21 13:05] leonardder commented on #11002
I have the strong feeling that something @Jcsteh wrote in https://github.com/nvaccess/nvda/issues/10508#issuecomment-613843685 is related to this:

I would say that a solution based on option 2 would have the least chance of regressions while having positive impact on performance.

Now, I"m not sure what thread or threads handle all these events, as the log calls them dummy threads. However, if th

[2020-04-21 13:43] mspatil110 opened #11042 "CELA P1_A11y_code.visualstudio.com_VisualStudioCode_CodeEditingRedefined_Keyboard: Tooltip is missing for non text content other platform and insiders edition button."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**#CELAP1_A11y_code.visualstudio.com;#A11ySev2;#A11yTCS;#A11yMAS;#Benchmark;#ChromiumEdge;#DesktopWeb;#MAS1.1.1;#Win10;#Visual Studio Code;#CELAP1_code;#ColorContrast;

**Environment Details:**
Application Name: code.visualstudi

[2020-04-21 14:04] DataTriny commented on #9235
Hi @Adriani90, using the webpage I provided in the issue description, the behavior is still the same with NVDA 2020.1 beta1.

[2020-04-21 14:58] #11042 closed

[2020-04-21 15:19] feerrenrut commented on #11028
Related: #9079

[2020-04-21 16:53] amirsol81 commented on #2111
Hi. Even some printers and scanners have apps which require image/button-labeling in order to become more accessible. So please kindly consider implementing this functionality.

[2020-04-21 18:13] drazen-j commented on #8023
Still an issue with NVDA

[2020-04-21 20:24] Adriani90 commented on #8023
This issue does not occur in Edge Cromium 81. I am closing this as works for me since Edge Cromium will be distributed to most users through Windows 10 20 H1 update.

[2020-04-21 20:24] #8023 closed

[2020-04-21 20:33] Adriani90 commented on #8990
This works as expected in Edge Chromium. I am closing this issue as works for me since Edge Chromium will be distributed to most users through Windows 10 20 H1 update.

[2020-04-21 20:33] #8990 closed

[2020-04-21 20:40] Adriani90 commented on #8970
@fisher729 could you please test now with NVDA 2020.1 Beta and Firefox 75? Or ideally you can test with last alpha version of NVDA from 21.04.2020.
I can navigate through the table without any errors with ctrl+alt+arrow keys.

[2020-04-21 20:44] Adriani90 commented on #8949
This is working as expected in Crome 81 and NVDA Version: alpha-20026,16ec967e. Closing as works for me.

[2020-04-21 20:44] #8949 closed

[2020-04-21 20:54] Adriani90 commented on #8925
cc: @feerrenrut maybe you have any suggestions. This issue affects every browser, in most edit fields.

[2020-04-21 21:45] Adriani90 commented on #8856
@michaelDCurran I have had a look at this but I am not sure if there is a solution for this. In txt2tags I don'T find any configuration command for dir or lang atributes. I guess the html file is generated everytime the translation is updated, so we don't have any chance to apply the lang and dir atributes automatically during the conversion process. Right?

[2020-04-21 22:04] Adriani90 commented on #8512
This works fine in edge Chromium 81.
However, I discovered another issue. It seems the title "hide dialog" is a link and can be clicked in focus mode, but this is not focusable at all in browse mode. I tested with all browsers.
@jcsteh is this due to the title of the dialog being placed into a div? I guess this is not expected behavior. Right?

[2020-04-21 22:07] Adriani90 commented on #8468
I cannot reproduce this in Edge Chromium 81. I am closing this as works for me since Edge Chromium will be distributed to most users through Windows 10 20 H1 update.
Please comment on it if you can reproduce it in Edge Chromium, then we can reopen it. Thanks.

[2020-04-21 22:07] #8468 closed

[2020-04-22 00:21] nishimotz commented on #9362
Chromium Edge is not yet widely used in Japan, but we have confirmed that this glitch is not happening with the combination of the traditional Edge and the more recent NVDA.

[2020-04-22 00:21] #9362 closed

[2020-04-22 03:53] brunoprietog opened #11043 "NVDA leaves a table when browsing blank cells in MS Word with UIA enabled"
With UIA enabled for Microsoft Word, when you navigate a table that contains empty cells, NVDA leaves the table as it passes through that cell, using the Alt+CTRL+Arrow navigation commands. If you navigate only with arrows, for example, with a right arrow to move to that empty cell, it does not report the cell/column/row change.

### Steps to reproduce:

With UIA enabled, insert a table in Microso

[2020-04-22 04:38] xingkong0113 opened #11044 "Bug report: When using poedit to translate NVDA Simplified Chinese and save, the following string has an error"
### Steps to reproduce:
First use the local compilation environment to generate nvda.pot, and use .pot to generate zh_CN.po.
Then translate the following string and save it, the following error message appears:
msgid "{symbol} as in {description}"
msgstr "{description} "
1 problem was found in the translation. The entries with errors are marked in red in the list. The error details will be display

[2020-04-22 04:46] dingpengyu commented on #11044
cc @feerrenrut and
@josephsl

[2020-04-22 05:58] wise1453 opened #11045 "NVDA is full of errors in Chromium-based browsers. It does not read under the mouse cursor."
I am using the NVDA beta version. I am a low vision user. I write the problems respectively.

It does not read buttons on all sites. Go to any site. Place the mouse cursor over the buttons. You will notice that most buttons are not read by NVDA.

It does not read texts next to the selection boxes. It is necessary to click on the selection box. Reads after clicking. It does not focus on search boxe

[2020-04-22 06:31] amirsol81 commented on #11030
Wish I could, but I don't have access to Firefox for testing.

[2020-04-22 06:36] Brian1Gaff commented on #11045
I think it would be useful if you refer to the issue numbers you raised on
this. I guess what is needed is a partially sighted developer to run through
the list you mention and look for some commonality.
 I'm sure somebody will be along in a moment to ask you too fill in one of
the templates so a at least folk can start from the situation you have.
 Brian

bglists@blueyonder.co.uk
Sent via blueyon

[2020-04-22 09:13] cablegunmaster commented on #11021
The sound card driver is working perfectly, Is there a log file I could look into when the installer is not booting up?  I am helping/debugging this in the hope its either a installer issue or a windows 10 issue.

The software itself is working with the work around as normally intended, but still in the future when new releases come out, I dont want to have this same issue:  installer shows and di

[2020-04-22 09:22] leonardder commented on #11021
I've seen this in some circumstances:

* A system with a very low amount of available RAM
* A system with insufficient free system drive space
* A system with insufficient rights to write to the temporary folder. i think the latter isn't the case on your system.

Have you been able to reproduce this on other systems as well? Note that you can always start an installer from a portable copy by choos

[2020-04-22 09:30] cablegunmaster commented on #11021
This is not the case, 12 GB seems sufficient.

276 GB free on my C:\ disk.

How can I check if this is the case?
And why is this also happening when I give the program permissions as an administrator?

Its only failing on the laptop.

- Yeah, that was basically my workaround option :)  in my OP.
I am still debugging this because I want to know how to change my PC to make the installer also work.
I

[2020-04-22 09:38] Adriani90 commented on #11021
Could you please set the UAC level to 0 and try again?

Von meinem iPhone gesendet

[2020-04-22 10:05] cablegunmaster commented on #11021
![useraccountcontrolsettings](https://user-images.githubusercontent.com/8159246/79969019-360a7200-8491-11ea-828b-687dd7cdba54.jpg)
This was what I had it on the normal default setting on windows 10.
Changing it to the lowest (not recommended) setting does not make the installer appear.
I am going to reboot to be sure. and make a new windows profile (maybe this windows profile is bugged?)

[2020-04-22 11:04] cablegunmaster commented on #11021
Issue came down to: Windows profile is bugged.
Solution create new windows user profile.

[2020-04-22 11:19] leonardder commented on #11021
While the issue is solved for you, I think something has to be done about this. If NSis generates an error of some sort, we somehow need to be able to access that.

[2020-04-22 11:20] cablegunmaster commented on #11021
So this leaves me to how to access the NSIS logs does it generate any?

[2020-04-22 11:38] lukaszgo1 commented on #1318
I'm afraid it is not fixed for me in some cases, the main one being new messages on messenger.com.
To reproduce:
1 Login to messenger in the one tab and open conversation on which you expect a new message.
2. Switch to the another tab.
3. Wait for the new message.

The message is being read even though the messenger tab is opened in the background.
cc @jcsteh

[2020-04-22 11:40] Adriani90 commented on #11045
@wise1453 your description is not very easy to read. Please in the future, stick to the template and describe one by one how your issue is reproducible. In software development it is not very easy to investigate if you have much plain text containing almost no details.
Don't get me wrong, thank you very much for reporting. I just suggest to make your description short and concentrate on the point,

[2020-04-22 11:40] Adriani90 commented on #11045
And please post the version of NVDA you are testing with as well as the version of all other programs you see this issue in. Including also the version of your Windows. Thanks.

[2020-04-22 11:51] Adriani90 commented on #11045
See for example #10650 or #9515.

[2020-04-22 11:54] feerrenrut commented on #9575
The sample starts with:
[code]
@HeenaAttar I think @MarcoZehe  is suggesting this is an authoring error. The provided sample is missing a `rowgroup` see https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Table_Role

[2020-04-22 11:55] jcsteh commented on #1318
Can you reproduce the problem with this URL?
data:text/html,<div aria-live="polite" id="live"></div><script>let i = 1;
function tick() { live.textContent = i++; setTimeout(tick, 1000); }
tick();</script>
If not, please file a separate issue for the Messenger problem. Thanks.

[2020-04-22 12:06] jcsteh commented on #9575
No; a rowgroup is not required, though it is allowed. The [markup](https://github.com/nvaccess/nvda/issues/9575#issuecomment-617731745) does include a row; the [original issue comment](https://github.com/nvaccess/nvda/issues/9575#issue-444921394) just neglected to include the row in the described structure.

@Adriani90 is correct: the table counts are reported in browse mode, but not focus mode. I

[2020-04-22 13:15] Adriani90 commented on #1318
is the message exposed via live region? I know that some messengers expose the new message via notification, i.e. toast notifications. But you are on Win7. Right?

Von meinem iPhone gesendet

[2020-04-22 13:44] DrSooom commented on #11021
@cablegunmaster: Sorry, I forgot to mention: https://www.nvaccess.org/category/news/releases/

[2020-04-22 13:52] christopherpross commented on #10692
@feerrenrut would it ok, if I work on this issue? because of the limitation of prs. If so, could you confirm the following requirements:

- the user should be informed, if the screencurtain is enabled on startup, when the sound is enabled or disabled.
- the reporting should be consistend in all situations and all possible settings regarding sound settings and screencurtain settings
- it should exi

[2020-04-22 15:03] leonardder commented on #10247
cc @EngineeringMario: who reported several other instances of this issue lately

[2020-04-22 15:06] leonardder commented on #10247
The [Kill NVDA](https://addons.nvda-project.org/addons/killNVDA.en.html) by @tspivey can assist with this. Note that is still an workaround.

[2020-04-22 16:16] Adriani90 commented on #9575
I am reopening this issue, it is imo quite important to report the number of rows and columns when entering the table also in focus mode, especially in web apps where focus mode is recommended to navigate (i.e. google drive etc.). Such apps might provide very useful shortcuts which makes the usability much more efficient than in browse mode. Thus, when tabbing into a table, I would expect NVDA to

[2020-04-22 16:22] Adriani90 commented on #8431
@gdata1 how is this in Edge Chromium 81?

[2020-04-22 16:37] feerrenrut commented on #9575
Ah, sorry for the confusion there.

[2020-04-22 16:50] Adriani90 commented on #8347
Ok I don't know if this is a web authoring bug, I think outgoing messages are not exposed as live region when you press enter to send it. Outgoing messages are not reported in any browser.

I noticed in Firefox however that only the first two words or so of the incoming messages are reported. This is quite strange. It seems in Chrome and Edge Chromium incoming messages are reported completely.

me

[2020-04-22 17:01] Adriani90 commented on #8337
This is reproducible in every browser with NVDA. I didn't find any browser which let's NVDA to read the captions and subtitles automatically. Very strange.

You can test for example with this video:
https://www.youtube.com/watch?v=QRS8MkLhQmM

But maybe I am doing something wrong here. I tried in full screen as well, I placed the mouse on the captions or subtitles, no chance.

[2020-04-22 17:01] Adriani90 commented on #8337
cc: @derekriemer, @Qchristensen.

[2020-04-22 17:03] Adriani90 commented on #8312
This works as expected in Edge Chromium 81, I am closing as works for me since Edge Chromium will be distributed to most users in Windows 10 20 H1 update.

[2020-04-22 17:03] #8312 closed

[2020-04-22 17:06] Adriani90 commented on #8311
This works well in Edge Chromium 81. Closing as works for me.

[2020-04-22 17:06] #8311 closed

[2020-04-22 17:08] Adriani90 commented on #8309
Closing as works for me, this is working well in Edge Chromium 81. Edge Chromium will be distributed to most users through Windows 10 20 H1 update.

[2020-04-22 17:08] #8309 closed

[2020-04-22 17:08] Adriani90 commented on #8308
Yes, thanks for asking. I am closing this as works for me.

[2020-04-22 17:08] #8308 closed

[2020-04-22 17:09] Adriani90 commented on #8307
This is not the case with Edge Chromium 81. Closing as works for me.

[2020-04-22 17:09] #8307 closed

[2020-04-22 17:11] Adriani90 commented on #8306
Closing as works for me, in Edge Chromium 81 everything works fine.

[2020-04-22 17:11] #8306 closed

[2020-04-22 17:12] Adriani90 commented on #7708
The link is not working anymore, but I have tested on other websites with layout tables in Edge Chromium 81. Everything works correctly now. Tested with NVDA Version: alpha-20026,16ec967e.

Closing.

[2020-04-22 17:12] #7708 closed

[2020-04-22 17:13] Adriani90 commented on #8305
Tis was indeed a duplicate, I saw this too late. Now everything works fine in Edge Chromium 81. Closing as works for me.

[2020-04-22 17:13] #8305 closed

[2020-04-22 17:15] gdata1 commented on #8431
@Adriani90 No. it only happens in the old edge. not chromium

[2020-04-22 17:15] Adriani90 commented on #8304
Working fine in Edge Chromium 81 with NVDA Version: alpha-20026,16ec967e. Really fast. Closing as works for me.

[2020-04-22 17:16] Adriani90 commented on #8266
cc: @MarcoZehe I am not sure if this is bad web authoring here.

[2020-04-22 17:24] MarcoZehe commented on #8266
I think @jcsteh already explained how this works.

[2020-04-22 17:29] Adriani90 commented on #8173
I can reproduce with the example provided by @ruchirkemnaik using every browser with NVDA Version: alpha-20026,16ec967e.

[2020-04-22 17:34] Adriani90 commented on #8098
This works as expected in Edge Chromium 81 with NVDA Version: alpha-20026,16ec967e. Closing as works for me.

[2020-04-22 17:34] #8098 closed

[2020-04-22 17:37] Adriani90 commented on #7974
This works as expected in Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Windows 10 20 H1 update.

[2020-04-22 17:37] #7974 closed

[2020-04-22 17:41] Adriani90 commented on #7912
This does not occur in Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Windows 10 20H1 update.

[2020-04-22 17:41] #7912 closed

[2020-04-22 17:46] Adriani90 commented on #7838
This does not occur in Edge Chromium 81. Closing as works for me.

[2020-04-22 17:46] #7838 closed

[2020-04-22 17:51] Adriani90 commented on #11026
Hmm it would be interesting to know why Jaws and Narator can handle the table correctly even without role="presentation".
cc: @leonardder do you have any ideas?

[2020-04-22 17:55] cablegunmaster commented on #11021
I am sorry ? I am trying to understand this one line.
What does this have to do with the installer not being shown?

For this pc and user account; It is happening on all versions (tested from 3.1 backwards).
I am switching over my windows profile to another one and keep this one for you guys, just for debug purposes. If you got any debug solutions / please comment.

[2020-04-22 17:55] Adriani90 commented on #11021
maybe this is related to #9178.

[2020-04-22 19:35] fisher729 commented on #8970
It works here even with 2019.3

On 4/21/20, Adriani90 <notifications@github.com> wrote:

[2020-04-22 21:11] TomAuger commented on #10890
Question then: does putting the aria-sort attribute on the button address the use case of helping the AT understand that the column that button is present in is sorted in a particular way? Or does the aria-sort attribute NEED to be on the TH in order for it to have any useful meaning?

Put another way, can we simply start putting aria-sort on our inner buttons (inside the TH) as in your example ab

[2020-04-22 21:18] TomAuger commented on #10890
As an experiment, I removed the inner <button> element altogether, and instead, put the "onclick" handler on the TH element itself, and then tested using the keyboard. While I was able to change the aria-sort attribute programmatically on the very element that had focus, the change was nonetheless not announced, so I wonder whether the above statement is, in fact, true.

Tested in Google Chrome (l

[2020-04-22 22:21] jcsteh commented on #10890
That's what I would have suggested. However, you should also make the th focusable (tabindex) if you haven't already. I don't really see the need for the inner button.

The above statement was specific to Firefox. I tested in Chrome and it is indeed broken there. The problem is that Chrome isn't firing the correct events.

[2020-04-22 22:23] jcsteh commented on #10890
Putting aria-sort on a button in actual practice is a violation of the ARIA spec. My apologies for using that simplified example. It needs to be on the th.

[2020-04-22 22:34] jcsteh commented on #10774
Firefox does notify of aria-sort changes, so I've adjusted #10890 to cover the issue with NVDA not reporting aria-sort when the change occurs on something other than the focused element. However, Chrome doesn't notify of aria-sort changes at all, so it doesn't even work on the focused element. Thus, I'm reopening this.

STR:

1. Open this URL:
    `data:text/html,before<table><tr><th tabindex="0"

[2020-04-22 22:36] jcsteh commented on #10890
The Chrome specific issue is covered in #10774.

[2020-04-22 23:04] hills001 commented on #9760
@Adriani90 Hi, I've just updated the original post with a link to a new demo.

[2020-04-22 23:06] SeanTolstoyevski commented on #10811
Hi,

I sent my first PR to NVDA.
I think it was not accepted.
But the comment was not written either.

Can you please summarize the situation with me?

I would like to fix it if it is wrong.

[2020-04-22 23:25] hills001 commented on #8528
@Adriani90 Hi, I've just updated the demo page for this issue: https://nvda-firefox-block-level-links-8528.netlify.app/ - I am still having this problem with NVDA 2019.1.1 and Firefox 75.0

[2020-04-22 23:42] britechguy opened #11046 "NVDA "Freezing" in Focus Mode - Transient Issue, have not yet replicated"
Problem Description
Steps to Reproduce: I have not been able to reproduce, but felt this should be reported

Actual Behavior (if not described in Steps to Reproduce): Opened NVDA while running the Dev version of Microsoft Edge.  I use Focus Highlight, so I am reporting based on what it is showing.  When NVDA opened it went straight into Focus mode (blue dashed line) and never said anything.  It di

[2020-04-23 00:26] saadataz opened #11047 "Aria 1.1 Combo box not getting focused with Single Button navigation shortcuts"
NVDA does not jump to edit fields defined using [Aria 1.1 Combobox syntax](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html). However, it works fined with [Aria 1.0 Combo box examples](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.0pattern/combobox-autocomplete-both.html)

### Steps to reproduce:
1. Open chrome
1. Navigate to https://w

[2020-04-23 01:04] josephsl commented on #10811
Hi, I think the PR is okay (unless someone says otherwise); at the moment we are trying to focus on making sure pull requests that haven’t been touched in months and years get updates (think of it as PR maintenance). Thanks.

From: SeanTolstoyevski <notifications@github.com>
Sent: Wednesday, April 22, 2020 4:07 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.githu

[2020-04-23 07:42] Brian1Gaff commented on #11046
Is this the focus highlight add on. I had a lot of strange crashes when I
used that to try and show a sighted person where I was on a problem page or
two.
 I have it off most of the time now, and although I get crashes, its seldom
in web browsers any more.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the

[2020-04-23 08:38] Adriani90 commented on #11047
@saadataz I cannot reproduce this with NVDA 2019.3.1 on Google Chrome 81.
Please test NVDA 2019.3.1 on newest Chrome version.
And also please run the COM registration fixing tool in NVDA menu under "tools" before reproducing this issue.

[2020-04-23 08:45] Adriani90 commented on #11046
@britechguy the questions of the template should be answered either with yes or no. Please try
1. To restart your computer and
2. To disable addons
I think this is a duplicate of #10869. Closing as duplicate.

[2020-04-23 08:45] #11046 closed

[2020-04-23 08:52] Adriani90 commented on #8431
Thanks for reporting. Closing as works for me in Edge Chromium 81 which will be distributed to most users with Windows 10 20 h1 update.

[2020-04-23 08:52] #8431 closed

[2020-04-23 08:54] Adriani90 commented on #8970
Perfect, thanks for reporting. Closing as works for me.

[2020-04-23 08:54] #8970 closed

[2020-04-23 12:47] aleventhal commented on #10925
The sample markup is illegal, because the `<th>` and `<td>` elements are naturally cells, but then have child spans that are also cells via role="gridcell". Chrome does try to support a wide variety of strange and illegal table markup, but we haven't seen this one before.

My suggestion would be to get rid of the span elements and make the td or th elements have the tabindex and role. Another opti

[2020-04-23 13:48] feerrenrut commented on #10925
@aleventhal thanks for the update. This sample was distilled from https://github.com/nvaccess/nvda/issues/10880#issuecomment-606089517 where they also got the error. Looks like we can at least close this issue.

[2020-04-23 13:48] #10925 closed

[2020-04-23 15:22] Neurrone commented on #11004
Here's [another example where this behaviour occurs](https://www.mediacurrent.com/blog/what-is-gatsbyjs/)

[2020-04-23 16:04] britechguy commented on #11046
It makes no sense to give a YES/NO answer when neither applies.  You cannot answer whether something continues after restarting if you didn't restart or continues after disabling add-ons if you didn't disable.

[2020-04-24 00:37] saadataz commented on #11047
Just tested with NVDA 2019.3.1 and Chrome 80. Its working now
Thanks!

[2020-04-24 00:37] #11047 closed

[2020-04-24 02:01] agashlin commented on #10736
This also seems to be causing issues with reading the names of buttons (and possibly other elements) on mouse move, in IE8. I have a fix.

`event_mouseMove()` [tries to pass a Point into `makeTextInfo()`](https://github.com/nvaccess/nvda/blob/16ec967e3dcadb77d79862fd6dcb3c4868247260/source/NVDAObjects/__init__.py#L1063), assuming that it will hit a `NotImplementedError` exception if the info objec

[2020-04-24 04:33] TamerSoliman opened #11051 "Single-Key Navigation does not work with FireFox"
### Steps to reproduce:
1) Install NVDA 19.3.1 or 19.2.1 on Windows 10 19.9
2) Install FireFox 68.7.0ESR or 75.0
3) Double click Firefox desktop icon
4) Type 'hello' and hit the enter key.
5) press the 'h' keyboard key or 'u' keyboard key to navigate to, respectively, the next heading or next unvisited link on the search results.
### Actual behavior:
NVDA says 'h' or 'u' and an  either an 'h' or '

[2020-04-24 04:45] josephsl commented on #11051
Hi, which page is this? In order to use first letter navigation commands, one must be in browse mode ,and based on description, NVDA isn’t switching to it somehow. Thanks.

From: Tamer Soliman <notifications@github.com>
Sent: Thursday, April 23, 2020 9:33 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Single-Key Navigation doe

[2020-04-24 05:34] josephsl opened #11052 "Post-speech gen refactor - AttributeError: speechDictHandler has no attribute "ENTRY_TYPE_ANYWHERE""
Hi,

Exhausted possible routes apart from either something with my add-ons or a regression:

### Steps to reproduce:
To do this, prepare two NVDA installers: alpha.20015 and alpha.20026, and latest Resource Monitor add-on (or any add-on that comes with installTasks.py):

1. Install alpha.20015.
2. Restart NVDA and install Resource Monitor add-on.
3. Restart NVDA if prmopted.
4. Install alpha.20026

[2020-04-24 08:29] feerrenrut commented on #11051
@TamerSoliman When you attempt to switch to browse mode with `insert+space`, do you hear a "boop" or "browse mode" announced?

It would be helpful to get an NVDA log, perhaps there is some clue to explain what is happening. Please ensure that this is at debug level (set on the general settings panel). If you aren't sure, [please see the wiki page for how to collect the log.](https://github.com/nva

[2020-04-24 09:25] leonardder commented on #10861
Ugh, it looks like VS code selection really behaves a bit weird from a non visual perspective, see https://github.com/microsoft/vscode/issues/91061#issuecomment-618883146 and https://github.com/microsoft/vscode/issues/91061#issuecomment-618900791.

@bkoray noted in https://github.com/microsoft/vscode/issues/91061#issuecomment-618624912 that he would really like the ability in NVDA to hear how many

[2020-04-24 09:28] #10736 closed

[2020-04-24 10:15] lukaszgo1 commented on #11037
@Adriani90 I believe this should be fixed in #11050. Can you confirm?

[2020-04-24 10:35] DrSooom commented on #11021
@cablegunmaster: It belongs to:

[2020-04-24 13:20] Adriani90 commented on #7778
@elliott94 do you still see this issue with NVDA 2020 Beta or 2019.3.1 and Firefox 75?

[2020-04-24 13:23] feerrenrut opened #11053 "Chrome system tests failing intermittently"
Occasionally the Chrome system tests fail, restarting the build usually results in the test passing.
These tests are new and need to be made more robust.

Example: https://ci.appveyor.com/project/NVAccess/nvda/builds/32216527/messages
System test logs attached: [systemTestResult.zip](https://github.com/nvaccess/nvda/files/4529071/systemTestResult.zip)
Error: `Specific speech did not occur before t

[2020-04-24 13:24] Adriani90 commented on #11051
@TamerSoliman does the navigation with tab and shift+tab work properly with NVDA in Firefox?
Do you have by chance installed and uninstalled Skype for business on that machine?
It might be related to #7778 which sugerates that Skype for business might unrergister COM DLLs which are not included in the COM registration fixing tool.

[2020-04-24 13:36] Adriani90 commented on #11045
Closing in favor of the issues referenced above and other issues related to this.
Moreover, I checked with last alpha on Edge Chromium 81 after #11050 has been merged and at least moving the mouse around does not cause errors.
Regarding NVDA freezin in context menus, there is already issue #10895.

[2020-04-24 13:36] #11045 closed

[2020-04-24 13:38] Adriani90 commented on #11037
Yes fixed now. Thanks very much.
Closing as works for me.

[2020-04-24 13:38] #11037 closed

[2020-04-24 13:49] Adriani90 commented on #10650
@k-kolev1985 following questions to investigate further:
* Which unit is your mouse tracking set to? Character, word, paragraph?
* Could you please try to test this also with screen layout enabled in NVDA browse mode settings?
* Please enable UIA in Edge Chromium
1. Enter edge://flags in your address bar
2. Searh for UIA or Automation and activate that.
Is the issue still present after that?

[2020-04-24 14:01] feerrenrut commented on #11052
The full name for these two builds is `alpha-20015,56a62097` and `alpha-20026,16ec967e`. The second part is helpful because it is the SHA for the commit.

They come from the following respective commits:
1. [`alpha-20015,56a62097`](https://github.com/nvaccess/nvda/commit/56a6209704ca80723d11e038647f9761c84617a8)
   - This commit just update the changes file
1. [`alpha-20026,16ec967e`](https://gith

[2020-04-24 14:03] feerrenrut commented on #11052
I'll assume the `installTasks` module on master exhibits the problem: https://github.com/josephsl/resourceMonitor/blob/master/addon/installTasks.py

[2020-04-24 14:05] gdata1 commented on #10650
@Adriani90 I also have a problem with edge chromium. poor reading with your mouse. I tried to do what you said, but it didn't help. nvda poorly reads the contents of web pages. links, buttons, text. when my friend whose good eyesight injected the mouse cursor nvda often kept quiet and read with great delay. I tested on edge stable version 81 and edge Canary. nvda version alpha-20045,a335297e

[2020-04-24 14:12] feerrenrut commented on #11052
I'm a little confused by the initial description. I assumed this issue was not happening in `alpha.20015` and then was in `alpha-20026` but you don't explicitly say that. Can you confirm please?

Can you reproduce with a source copy of NVDA? If so, you could roll back the changes in commit 78b85fa (#11040) chunk by chunk and see when the error is introduced.

[2020-04-24 15:05] k-kolev1985 commented on #10650
@Adriani90 Here is my report:
1. Mouse echo resolution: Paragraph.
2. Doesn't matter if "Screen layout" in NVDA is enabled or not.
3. The option "Native UI Automation" seams no longer to be available in edge://flags in version 84.0.494.0 of Chromium Microsoft Edge.

[2020-04-24 15:19] feerrenrut commented on #10692
Yep, please go ahead. Please don't forget to carefully test all situations with and without "Always show a warning when enabling screencurtin" enabled.
There a few variations, so I'll be looking for a detailed "testing performed" section of the PR.

[2020-04-24 15:53] feerrenrut commented on #11046
@britechguy Some background:

Those items are intended to prompt the reporter to try those things before opening an issue. Of course they are not always applicable, and can be left blank or just answered with 'NA', 'Not Applicable' or similar.

The formatting of the template is intended to make it quicker and easier for members of the NVDA developer community to understand the raised issue. A cons

[2020-04-24 15:56] TamerSoliman commented on #11051
[nvda.log](https://github.com/nvaccess/nvda/files/4529997/nvda.log)
@josephsl  and @feerrenrut  Yes, I get the expected sound indicator when I press insert+space, but 1-key navigation doesn't work afterwards. A log is attached where I try to navigate using the following single keys: h, u, k, l, and i.
@Adriani90  Navigation through tab and shift+tab works as expected in Firefox. I haven't installe

[2020-04-24 16:05] feerrenrut commented on #8528
@hills001 I can't reproduce this issue with the latest NVDA alpha or NVDA 2019.1.1 with Firefox 75
I tried in both focus mode and browse mode, pressing enter always activated the link.

There are a few things we can do to work out if we have differences in our configuration that maybe the reason for different behavior.
- Confirm that you get the same behavior after restarting with addons disabled.

[2020-04-24 16:26] feerrenrut commented on #11051
Thanks for the log. The following is quite technical, and may not be very helpful to you immediately, but is intended as notes for anyone investigating this further.

My hunch is that this is due to the freeze.
[code]

After this we don't get any `executeGesture` logging for the keys pressed. I assume the announced `u h k l` was due to key presses. This makes me think that NVDA is not getting the

[2020-04-24 16:27] britechguy commented on #11046
Reef,

         Thanks for the additional information.   I have been working on an
MS-Word template that is a fillable form that allows a blind user to create
one of these reports just by filling out the appropriate fields, then being
able to select the entire result and paste it in.   I had removed the
various sets of # lead in characters not thinking about the fact that they
would be used for na

[2020-04-24 16:51] feerrenrut commented on #11046
It's unlikely there would be any harm in running the COM fixing tool, and if it solves the issue everybody wins.

one?

Not really, the best suggestion I have right now is to do a binary search:
1. Restart with addons disabled (via Quit dialog), confirm the issue goes away.
1. Split the addons into two groups, and enable 1 group. So half total. Test and label that group good or bad.
1. Keep splitt

[2020-04-24 16:55] britechguy commented on #11046
Reef,

            Thanks again.  The process for narrowing down add-on issues in
NVDA is very much like the clean boot process in Windows.  I will just
hope, going forward, that the majority of issues I encounter are able to be
replicated with all add-ons disabled!

Brian

On Fri, Apr 24, 2020 at 12:51 PM Reef Turner <notifications@github.com>
wrote:

--
*Bri the Tech Guy*          *http://britec

[2020-04-24 17:09] lukaszgo1 commented on #11051
The fact that NVDA can freeze inside _isUIAWindowHelper worries me as this method is quite simple IMHO. Perhaps adding additional logging to this method when UIA is checked in the debug log categories would be helpful to track similar issues?

[2020-04-24 17:13] feerrenrut commented on #8337
I couldn't get this working well at all. What I could do:
- Enable closed captions. Tab through the controls for subtitles / closed captions. It is after volume and before settings.
- I could read the current caption in browse mode. Wait until somebody is speaking in the video, press pause, then in browse mode press up arrow until you read the captions.

Looking at the implementation, the captions

[2020-04-24 17:25] feerrenrut commented on #11051
In NVDA 2019.3.1 Line 534 of `_UIAHandler` was `res=windll.UIAutomationCore.UiaHasServerSideProvider(hwnd)` I don't think we have any use for UIA in Firefox, perhaps this could exit early based on an appmodule or similar.

Probably worth asking @jcsteh for his advice here.

[2020-04-24 17:38] aleventhal commented on #10774
Filed https://bugs.chromium.org/p/chromium/issues/detail?id=1074380
It's an easy fix and should make it into Chrome 84.

[2020-04-24 17:45] josephsl commented on #11052
Hi, this issue doesn’t occur in source code copy as restarting it from NVDA itself after installing add-ons isn’t working, and yes, this issue doesn’t appear in older NVDA alpha build. The only thing the install tasks in the add-on does is check Windows version for compatibility purposes and displays a dialog if it isn’t compatible. I’ll do some more investigations. Thanks.

From: Reef Turner <not

[2020-04-24 17:47] elliott94 commented on #7778
Yes - this is still reproduceable with both the latest versions of NVDA and Firefox on Windows 7 X64.

[2020-04-24 18:05] josephsl commented on #11052
Hi,

Based on source-based portable copy (scons dist), I can confirm that the commit mentioned might be a highly likely one:

1. Ran scons dist from beta branch and renamed the resulting folder once generated.
2. Checked out a different branch and reverted the commit mentioned.
3. Ran scons dist.
4. Installed Resource Monitor multiple times on both versions.

The beta branch raises AttributeError,

[2020-04-24 20:07] josephsl commented on #11052
Hi,

Found it: say all handler might be it.

Tests:

1. Build a portable copy of NVDA with speech generator refactor removed.
2. Run the generated portable copy and install add-ons.
3. Delete the portable copy.
4. Copy say all handler from current beta.
5. Repeat steps 1 through 3.
6. Stash changes.
7. Copy speech module from beta.
8. Repeat steps 1 through 3.
9. Stash changes.
10. Pop the last tw

[2020-04-24 20:33] josephsl commented on #11052
Hi,

Traced to importing generator when NVDA isn't fully initialized. I'll send a PR that will import this specific attribute just before the flatten list iterator is called. An alternative is just using the attribute from speech module without direclty importing it.

Thanks.

[2020-04-24 22:02] Adriani90 commented on #8337
in browse mode I can read them too. I think however it would more confortable having them read automatically while watching the video. I recall that there was a PR in place which refactors the live region handler but I am not sure if it will fix this issue.

Von meinem iPhone gesendet

[2020-04-24 22:56] Adriani90 commented on #7292
In Edge Chromium 81 it works as expected, so this issue impacts only IE.

[2020-04-24 22:58] Adriani90 commented on #7395
We do not have an update for this from the initial author since more than two years. Closing as abandoned.
I cannot reproduce this on Windows 10 1909 Update with NVDA 2019.3.1 and I didn'thear any other user reports regarding this issue.

[2020-04-24 22:58] #7395 closed

[2020-04-24 23:00] Adriani90 commented on #7555
This works as expected in Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Windows 10 20 H1 update.

[2020-04-24 23:00] #7555 closed

[2020-04-24 23:02] Adriani90 commented on #7653
This works as expected in Edge Chromium 81. Closing as works for me and as abandoned because we didn't get any updates from the initial author since year.

[2020-04-24 23:02] #7653 closed

[2020-04-24 23:06] Adriani90 commented on #7791
The website changed its design, this is no longer reproducible. Closing.

[2020-04-24 23:06] #7791 closed

[2020-04-24 23:11] Adriani90 commented on #7156
This works as expected in Chrome and Edge Chromium 81 as well as Firefox 75 with NVDA Version: alpha-20045,a335297e.
Closing as works for me.

[2020-04-24 23:11] #7156 closed

[2020-04-24 23:14] Adriani90 commented on #7144
This is not reproducible in Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Windows 10 20 H1 update.

[2020-04-24 23:14] #7144 closed

[2020-04-24 23:22] Adriani90 commented on #7078
@Qchristensen is this maybe the same like described in #8925? That one focuses on browsers but I tend to think this is indeed a behavior which can be seen system wide.
If it is the same issue, then I suggest to close #8925 in favor of this one and to adjust the description to include browsers as well.
Thanks.

[2020-04-24 23:26] Adriani90 commented on #7075
@leonardder in case you are interested to work further on that pull request, I suggest to drop the implementation for the old Edge and stick to Edge Chromium instead.

[2020-04-24 23:31] Adriani90 commented on #6999
This works as expected in Edge Chromium 81, even in IE11. I close this issue since Edge Chromium 81 will be distributed to most users via Windows 10 20 H1 update.

[2020-04-24 23:31] #6999 closed

[2020-04-24 23:32] Adriani90 commented on #6989
This works as expected on Windows 10 1909 Update and Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Winows 10 20 H1 update.

[2020-04-24 23:32] #6989 closed

[2020-04-24 23:39] josephsl opened #11056 "Upgrade wxPython to 4.1.1"
Hi,

Update: originally 4.1.0, but wxPython 4.1.1 was released on November 25, 2020, hence the change of title and content. Unless requested, subsequent comments below refer to 4.1.0.

This issue serves as both a meta issue and a concrete one.

### Is your feature request related to a problem? Please describe.
wxPython 4.1.0 was released on April 24, 2020, with 4.1.1 released about seven months la

[2020-04-24 23:41] Adriani90 commented on #7161
I cannot reproduce this in NVDA Version: alpha-20045,a335297e and MS Word 2016, MS Word 365 or MS Word 2010.
It might have been fix after the porting to Python 3. I am closing this as works for me, but feel free to reopen if it is still occuring for you.

[2020-04-24 23:41] #7161 closed

[2020-04-24 23:42] josephsl commented on #10383
Partly blocked by #11057.

[2020-04-24 23:46] Adriani90 commented on #7197
This is not occuring in Edge Chromium 81. Closing as works for me since Edge Chromium will be distributed to most users via Windows 10 20 H1 update.

[2020-04-24 23:53] Adriani90 commented on #6981
This is exposed and reported correctly by NVDA in Edge Chromium 81. Closing as works for me.

[2020-04-24 23:53] #6981 closed

[2020-04-24 23:55] Adriani90 commented on #6980
This works as expected in Edge Chromium 81. Closing as works for me.

[2020-04-24 23:55] #6980 closed

[2020-04-24 23:56] Adriani90 commented on #6975
No error in Edge Chromium 81. And we didn't get any updates from the initial author since years. Closing as works for me and abandoned.

[2020-04-24 23:56] #6975 closed

[2020-04-24 23:57] Adriani90 commented on #6973
Closing as works for me, the performance is much better in old Edge and also in Edge Chromium 81. Closing as works for me.

[2020-04-24 23:57] #6973 closed

[2020-04-24 23:59] Adriani90 commented on #6949
This works as expected in Edge Chromium 81. Closing as works for me.

[2020-04-24 23:59] #6949 closed

[2020-04-25 00:01] Adriani90 commented on #6925
@nvdaes how is this in Edge Chromoum 81 or newer? I suggest to close this if it works as expected in Edge Chromium because it will be distributed to most users anyway through the Windows 10 20 H1 update.

[2020-04-25 00:05] Adriani90 commented on #6920
@k-kolev1985 I assume allerts are read properly in Edge Chromium 81 or newer. Right?

[2020-04-25 00:16] Adriani90 commented on #6855
When I am in Edge Chromium 81 and try to switch languages with alt+shift, NVDA now totally crashes, even the the log is not completely written. Here is a part from the nvda_old.log after NVDA chrashed.

[code]

[2020-04-25 00:17] Adriani90 commented on #6855
I think this issue is quite severe, might be related to UIA.
cc: @josephsl, @michaelDCurran

[2020-04-25 00:18] tspivey commented on #7395
I haven't seen this recently.

[2020-04-25 00:20] Adriani90 commented on #6734
This is not reproducible in Edge Chromium 81. Closing as works for me sinceEdge Chromium will be distributed to most users via Windows 10 20 H1 update.
But feel free to comment on this if you are still having the issue in Edge Chromium and we can reopen it.

[2020-04-25 00:20] #6734 closed

[2020-04-25 00:22] Adriani90 commented on #6438
cc: @lukaszgo1

[2020-04-25 00:26] Adriani90 commented on #5368
Closing as works for me, this works as expected in Edge Chromium 81.

[2020-04-25 00:26] #5368 closed

[2020-04-25 00:27] josephsl commented on #6855
Hi, if this is still happening in Edge 81, then we should consider this, otherwise I propose closing and recommending a reopen if the problem persists. Besides, build 15025 is too old (an Insider Preview); the closest is 15063 (Version 1703) but it is out of support. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, April 24, 2020 5:17 PM
To: nvaccess/nvda <nvda@noreply.github.com>

[2020-04-25 00:30] Adriani90 commented on #4047
In Edge Chromium 81 this works as expected. So only IE is affected by this issue still.

[2020-04-25 00:33] Adriani90 commented on #3807
No updates by the initial author since years and the link does not work anymore. Closinga s abandoned.

[2020-04-25 00:33] #3807 closed

[2020-04-25 00:36] Adriani90 commented on #1701
@frastlin, @andre14 could you please give an update on this? How is it now working with NVDA 2019.3.1 or 2020.1 Beta?

[2020-04-25 00:42] Adriani90 commented on #6855
Hi, as I said, I tested in Edge Chromium 81.

Windows 1909 Update

NVDA Version: alpha-20045,a335297e

Thanks.

Von: Joseph Lee <notifications@github.com>
Gesendet: Samstag, 25. April 2020 02:28
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Windows 10 build 15025 problem in switching the R

[2020-04-25 01:02] nvdaes commented on #6925
Thanks, I wantet to suggest to @josephsl to close it and I delayed it unfortunately. As far as I know, Edge has removed support for epub and it is not recommended by @Daisy now. The most accessible open source app based on Chronium that I use with NVDA as my epub reader is Thorium.
cc: @danielweck

[2020-04-25 01:52] nidza07 opened #11058 "Windows 10: NVDA does not interrupt speech when keyboards are switched using windows plus space"
### Steps to reproduce:
1. Add some keyboards. In this example, I use English (united states) and Serbian Latin.
2. Try holding the windows key down and pressing the space bar continuosly to switch between different keyboards.
### Actual behavior:
NVDA does not interrupt speech as soon as you press space bar to announce the name of the currently active keyboard and instead continues to announce th

[2020-04-25 02:26] TamerSoliman commented on #11051
@feerrenrut  The following doesn't solve the problem:
control+insert+z

import config
config.conf['UIA']['enabled']=False
exit()

ult+control+n

[2020-04-25 03:09] frastlin commented on #1701
Yes, this is fixed, but when you insert the word by hitting tab, the word is not announced like it is when you hit enter.

[2020-04-25 05:42] jcsteh commented on #11051
While it's true that Firefox doesn't need UIA at this stage, my suspicion
(as seemingly confirmed by later comments) is that the breakage here is
symptomatic of another problem, rather than the problem itself.

I've heard of a few rare cases of users experiencing this. I'm slightly
concerned there might be some other application on the system which is
hooking typed characters, but I don't really k

[2020-04-25 06:31] k-kolev1985 commented on #6920
@Adriani90 Yes, as far as I could test, alerts are read properly in Chromium-based Microsoft Edge.

[2020-04-25 07:03] Brian1Gaff commented on #6925
Does this feature depend on operating system, as there is now an edge for
Windows 7, would that work?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-04-25 11:26] Adriani90 commented on #11058
cc: @josephsl, @leonardder

[2020-04-25 11:29] Adriani90 commented on #8337
It is the PR #9079.

[2020-04-25 11:31] Adriani90 commented on #6925
yes, that would work.

Thanks @nvdaes for reporting back. I will closing this isue for now. We can reopen this discussion if needed.

[2020-04-25 11:31] #6925 closed

[2020-04-25 11:33] Adriani90 commented on #1701
@frastlin thanks for the quick reply. Could you please create a new issue describing the behavior when pressing tab to add suggested word? It would raise the attention much more than in this issue. I am closing this for now as works for me.

[2020-04-25 11:33] #1701 closed

[2020-04-25 11:35] Adriani90 commented on #6920
Thanks for reporting back, then I close this as works for me since Edge Chromium will be distrobuted to most users via Windows 10 20 H1 update.

[2020-04-25 11:35] #6920 closed

[2020-04-25 11:58] Adriani90 commented on #236
I am closing this in favor of #235 since the discussion goes further there and touches this aspect as well.

[2020-04-25 11:58] #236 closed

[2020-04-25 12:00] Adriani90 commented on #891
We do not have updates on this issue since years and I cannot reproduce it in the last version of Mediaplayer classic. Closing as abandoned.

[2020-04-25 12:00] #891 closed

[2020-04-25 12:02] Adriani90 commented on #875
@codeofdusk that issue was partly a duplicate.
@tspivey how is the behavior now in NVDA 2020.1 Beta?

[2020-04-25 12:04] nvdaes commented on #6925
Thank you @Adriani90 .
For reference, here is [Thorium reader website](https://www.edrlab.org/software/thorium-reader/).
Here are [useful keystrokes for Thorium](https://github.com/readium/readium-desktop/wiki/Keyboard-shortcuts).
Here the [Roundup about epub reading system](https://inclusivepublishing.org/rs-accessibility/). Note that Edge is not mentioned in the latest version of the document as

[2020-04-25 12:10] Adriani90 commented on #743
@elliott94 is this still reproducible in UTorrent 3.5.5 (last stable version) with NVDA 2019.3.1 or newer?

[2020-04-25 12:21] Adriani90 commented on #407
Actually I agree with the comment by Jamie above. I would say it would be enough to know the first selected element in browse mode when the list is colapsed along with the number of all other selected elements, like proposed in #5005.
For example "list box volvo and 5 other elements selected".
When expanding the list and navigating in focus mode, one could navigate the selected items by ctrl+up an

[2020-04-25 12:21] #407 closed

[2020-04-25 12:31] Adriani90 commented on #1428
@michaelDCurran is this solved by #10550? cc: @jcsteh since you created this issue years ago.

[2020-04-25 12:40] Adriani90 commented on #1259
I cannot reproduce this in NVDA Version: alpha-20045,a335297e with Notepad or in any browser. In MS Word it does work correctly as well, although there NVDA does not report when the selected becomes unselected. But this is another issue.
@fisher729 can you still reproduce this with last NVDA alpha?

[2020-04-25 12:45] Adriani90 commented on #1210
I suggest to open a new issue specifically for Libre office if needed. Lotus Symphony has been discontinuedin 2012 accorting to this article:
https://en.wikipedia.org/wiki/IBM_Lotus_Symphony

I am quite sure that there are hardly any companies using Lotus symphony. Most of them changed their suites to more stable software with further support.
I am closing this as abandoned.

[2020-04-25 12:45] #1210 closed

[2020-04-25 12:49] Adriani90 commented on #1206
The sonic library is integrated as dependency in NVDA as Leonard pointed above already. Thus this issue is fixed. I suggest to open new issues for specifically synths which would benefit from usage of Sonic. Closing.

[2020-04-25 12:49] #1206 closed

[2020-04-25 12:54] fisher729 commented on #1259
Hi.

This issue seems to have been resolved in the latest stable and alpha releases. As a side note, I should hunt down and comment on an issue where NVDA is announcing previously typed text when speaking typed words.

[2020-04-25 12:57] Adriani90 commented on #949
@lukaszgo1 how is this in NVDA 2019.3.1? Maybe this has been fixed by chance while updating to Python 3.

[2020-04-25 13:01] Adriani90 commented on #1848
@jupiterfr how is this now in NVDA 2019.3.1?

[2020-04-25 13:07] Adriani90 commented on #1617
@leonardder I recall that you submited a PR to solve something like this, I think it was related to braille but maybe it fixed also this issue. Can you confirm?

[2020-04-25 13:09] Adriani90 commented on #2134
@mwhapples could you please test now with NVDA 2019.3.1 and the last Eclipse versoin? Is this still an issue?

[2020-04-25 13:19] Adriani90 commented on #1951
Actually I don't see a need for this since we can open the user guide from the NVDA menu even during the welcome dialog is open or even during the indtallation process of NVDA.
I didn't see any software working in background which provides such a key stroke.
I am closing this issue. Please comment on it if you have other arguments and we might reopen this discussion.

[2020-04-25 13:19] #1951 closed

[2020-04-25 13:21] Adriani90 commented on #2383
We do not have an update from the initial author since years. I am closing this issue as abandoned.

[2020-04-25 13:21] #2383 closed

[2020-04-25 13:24] Adriani90 commented on #2250
yes, closing as fixed.

[2020-04-25 13:24] #2250 closed

[2020-04-25 13:30] Adriani90 commented on #2183
@Qchristensen is the text visually selected when switching to focus mode while reading the document in Adobe Reader and selecting with shift+arrow keys or ctrl+shift+arrow keys?
If yes, then this issue migh be obsolete but there is anoter one. When switching to focus mode, NVDA does not report the characters at all when pressing arrow keys.
cc: @leonardder

[2020-04-25 13:39] Adriani90 commented on #2140
Closing in favor of #10185. And this might be fixed by #11024.

[2020-04-25 13:39] #2140 closed

[2020-04-25 13:43] Adriani90 commented on #2519
@codeofdusk can you test if you can reproduce this? I guess this issue was not part of your draft PR targeting Miranda. Right?

[2020-04-25 13:49] Adriani90 commented on #9050
Closing as duplicate of #2511.

[2020-04-25 13:49] #9050 closed

[2020-04-25 13:52] Adriani90 commented on #2511
Closing as duplicate of #2010 which contains also a test document with different borders and shapes.

[2020-04-25 13:52] #2511 closed

[2020-04-25 13:58] Adriani90 commented on #2484
@k-kolev1985, could you please test if this is still reproducible in uTorrent 3.5.5 with NVDA 2019.3.1 or newer? Thanks.

[2020-04-25 14:05] Adriani90 commented on #2791
@josephsl could you please ask in the translation lists about the current behavior in NVDA 2020 Betaß There was PR #10550 which might have improved this.

[2020-04-25 14:08] Adriani90 commented on #2754
@josephsl please try to test this also if possible, or maybe ask someone in the translations list to test if this has improved in last NVDA alpha. Thanks.

[2020-04-25 14:09] Adriani90 commented on #4075
@vgjh2005 how is this behavior now in NVDA last alpha version?

[2020-04-25 14:19] Adriani90 commented on #10902
cc: @jcsteh I don't exactly know how to handle this issue. Maybe you have suggestions here.

[2020-04-25 14:30] k-kolev1985 commented on #2484
@Adriani90 Unfortunately, I cannot. I stopped using and uninstalled from my machine uTorrent at least a few months ago.

[2020-04-25 14:41] Adriani90 commented on #10245
@jdrush89 could you please test with NVDA Version: alpha-20045,a335297e in Chrome 81? I cannot reproduce this issue with these verisons.
You can download the alst alpha here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-04-25 14:44] Adriani90 commented on #10136
Closing as duplicate of #6606.

[2020-04-25 14:44] #10136 closed

[2020-04-25 14:46] dingpengyu commented on #11056
hello josephsl
Is it possible to use inno setup to package NVDA?
thanks

[2020-04-25 14:53] Adriani90 commented on #9010
This is broken in Firefox and Google Chrome as well now. In IE it seems all divs are reported togehter (EFG).

[2020-04-25 14:54] Adriani90 commented on #9010
In edge Chromium is broken as well.

[2020-04-25 14:55] Adriani90 commented on #9010
CC: @jcsteh at least for Firefox

[2020-04-25 14:59] Adriani90 commented on #8512
I think this is a duplicate of #2745. Focusing elements in a div has become very problematic in every browser meanwhile.

[2020-04-25 15:07] Adriani90 commented on #8266
yes, sorry missed that comment. Closing this issue since the behavior is consistent here.

[2020-04-25 15:07] #8266 closed

[2020-04-25 15:21] Adriani90 commented on #6664
This works as expected in Firefox 75 with NVDA Version: alpha-20045,a335297e. Closing as works for me.

[2020-04-25 15:21] #6664 closed

[2020-04-25 15:24] Adriani90 commented on #5914
Closing as abandoned and works for me. I cannot reproduce this in Edge Chromium 81.

[2020-04-25 15:24] #5914 closed

[2020-04-25 17:19] josephsl commented on #2791
Hi, probably not at this point unless I’m wrong 9I have moved on from Korean translation at this point, but we can ask translators once 2020.1 is released). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, April 25, 2020 7:05 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda

[2020-04-25 21:34] Adriani90 commented on #1259
Thanks for reporting. Closing as works for me.

[2020-04-25 21:34] #1259 closed

[2020-04-25 21:39] Adriani90 commented on #4075
cc: @larry801, @dingpengyu could you please test if this is still an issue in the alst alpha version of NVDA?

[2020-04-25 22:03] Adriani90 commented on #4626
This works as expected in NVDA Version: alpha-20045,a335297e and most edit fields in most programs. Closing as works for me.

[2020-04-25 22:03] #4626 closed

[2020-04-25 22:12] Adriani90 opened #11059 "Chromium browsers: report typed words does not work correctly when adding a line break"
### Steps to reproduce:
1. Open a web page with a multi line edit field in Google Chrome or Edge Chromium, i.e. this issue with its comment area
2. In NVDA's keyboard settings, enable "report typed words"
3. In the multiline edit field, type:

This is line one
this is line two

### Actual behavior:
NVDA reports the previous lines whenever you add a line break with enter.

### Expected behavior:
NV

[2020-04-25 23:20] Adriani90 commented on #3081
I tested in uTorrent 3.5.5 with NVDA and the issue is reproducible. I think this might be java specific.

[2020-04-25 23:22] Adriani90 commented on #2484
I tested in uTorrent 3.5.5 and this is not reproducible. Closing as works for me.

[2020-04-25 23:22] #2484 closed

[2020-04-25 23:25] Adriani90 commented on #743
I can reproduce this in uTorrent 3.5.5 as follows:
1. Create a torrent file containing more than one file of any format
2. Open it in uTorrent
Actual: a list shows up where you can choose which file should be downloaded. However, NVDA does not report if the files are selected or not. Exploring with object navigation I can see that there is the patern "selected" or "not selected" as a child to the

[2020-04-26 01:56] dnz3d4c commented on #2754
Hi.
I am part of the Korean translation team.
This issue is still reproducible in the alpha and stable version.
Thank you.

[2020-04-26 12:41] bdorer opened #11060 "In Edge NVDA-Cursor isn't able to copy or select more than 2 caracters"
### Steps to reproduce:
1. Open Edge
2. go to www.nvaccess.org
3. Arrow Down to the donation link
4. Press NVDA+f9 to place start for copying
5. Press Numpad 3 until you here n
6. Press NVDA+f10 one time.
7. Press NVDA+f10 2 times
### Actual behavior:
After Step 6 you here Do selected.
After step 7 you see only do in the clipboard.
### Expected behavior:
After step 6 NVDA should say donation selec

[2020-04-26 18:23] Adriani90 commented on #11060
Could you try in Edge Chromium 81 stable please?

[2020-04-26 22:55] hills001 commented on #8528
@feerrenrut thanks for the reply. I tried using a different computer and also wasn't able to replicate the issue. After enabling logging I noticed the following line in Firefox:
**DEBUGWARNING - virtualBuffers.gecko_ia2.Gecko_ia2._activateNVDAObject**
which lead me to this issue: https://github.com/nvaccess/nvda/issues/9886.  It seems pressing nvda + 8 toggles 'Automatically set system focus to fo

[2020-04-27 00:05] jcsteh commented on #9010
This usage is incorrect authoring. The accessible name (which is how the title attribute is exposed in this case) is intentionally not rendered in browse mode for spans which have content, since this would cause the content of spans to be overridden in a lot of cases where it shouldn't. See [my blog post](https://www.jantrid.net/2015/12/woe-aria-surprisingly-but-ridiculously.html) for an in-depth

[2020-04-27 00:05] #9010 closed

[2020-04-27 00:49] jcsteh commented on #10971
For reference, I originally thought this might be the cause of problems too. However, I subsequently realised that both OneCore and eSpeak don't allow subsequent utterances to be sent to the synth until after the current utterance has finished speaking. That is, we have to queue the utterance within the driver. So, whether we send multiple utterances to the driver or not shouldn't matter; the driv

[2020-04-27 01:55] SeanTolstoyevski opened #11061 "Texts with multiple line spacings are voiced with NVDA + down arrow and voices crack"
### Steps to reproduce:
1. Create text as follows in the notepad.
[code]
2. Go to the beginning of the text.
3. Press the NVDA + down arrow.

### Actual behavior:

Voices crack in some places.

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:
installed
#### NVDA version:

2019.3.1

#### Windows version:

windows 10 pro, 64 bit, 18363.778

#### Name

[2020-04-27 02:04] SeanTolstoyevski commented on #10971
Hi all,

I have very little idea about NVDA's connection with Espeak.
But I think the following.

1. When I think the delay is due to Espeak, this delay should be everywhere. 
For example, when pressing letters in notepad. But it's fast.
2. If I think there is a problem with Python, threading, or other problems, other systems that call these processes a lot should work with delay. But they work ve

[2020-04-27 05:56] jcsteh commented on #10971
On further reflection, there's an additional source of delay: when the synth notifies NVDA that it has reached an index (which happens on a background thread), that notification is dispatched to the main thread using queueHandler.queueFunction. That uses core.requestPump to request a core pump. If a core pump hasn't already been requested, that will deliberately be delayed for at least 10 ms. In p

[2020-04-27 07:20] zahra21 commented on #11030
hi.
i dont know whether its specific for a particular browser or particular website.
but i wish to remind the hotkey for activating brows mode or focus mode in nvda, is nvda plus space, not enter or space like in jaws!
i hope that it helps you.

[2020-04-27 07:27] amirsol81 commented on #11030
Hi,

When you want to start typing into an edit box in NVDA, you have to press Enter or Space on it. What you mentioned re Insert+Space has nothing to do with typing -- it's more of a navigation concept. It's similar to Insert+Z in JAWS. My reported issue affects entering the text box with Enter or Space when focused on the second edit box of the Telegram Web interface.

[2020-04-27 07:33] zahra21 commented on #10841
after more testing,
(i always use skim reading in SayAll).
i realized that:
when i use SayAll and navigate by heading, it works properly, unles if i press h very quickly!
if i use down arrow, skim reading SayAll, works perfectly, nvda reads next line and just ignores blank lines using down arrow, as it works in using normal SayAll without skim.
if i use up arrow, everythings work fine, unless nvda

[2020-04-27 09:15] ondrosik opened #11062 "temporary Screen curtain deactivates after say all profile or manual profile trigger"
Steps to reproduce:
1) create say all profile and change something (in my situation something in eSpeak). Do not touch screen curtain
2) get back to the normal profile
3) Enable temporary screen curtain
4) invoke say all
NVDA will disable screen curtain

Log looks like this:
[code]
Additional info:
- the same situation can be reproduced when you enable temporary screen curtain and manually activat

[2020-04-27 09:43] leonardder commented on #11062
Hmm, this is a tricky one. The temporary curtain is active until the next configuration change. If the config profile is switched, the vision handler disables providers that are not active in the configuration.

[2020-04-27 10:26] MarcoZehe commented on #10548
CC @michaelDCurran @feerrenrut There are several instances where NVDA does not suppress the AccDescription if it is the same as AccName. The VS Code issue linked above is an example of that. Firefox is smart in that it does not even expose AccDescription if it is identical to AccName, but other engines do not do that. I think NVDA should be smart to suppress unnecessary chatter if the two items ma

[2020-04-27 10:47] MarcoZehe commented on #7841
Firefox suppresses the AccDescription, of which the title attribute is usually the primary source, if the AccName is the same. So if the name is from aria-label, but the title is also provided for tooltips for sighted people, and these two are identical, Firefox strips out the AccDescription.

JAWS adopted this behavior also for other cases, such as Chromium, or Windows 32 apps. Orca on Linux does

[2020-04-27 11:02] isidorn commented on #7841
100% agree with @MarcoZehe
It would be great if we get this fixed in NVDA.

[2020-04-27 11:40] fisher729 commented on #11061
Hi.

Which synthesizer is in use here? I can confirm a small crackle when using eSpeak, but I'm not sure if continuous reading of long text can cause this in eSpeak under normal circumstances, as I don't use it on the regular.

[2020-04-27 11:43] fisher729 commented on #11062
Hi.

I think the implementation of screen curtain is very tricky and confusing at best. Why there was a temporary feature, I do not know, when there are profiles at play in NVDA, as well as reverting saved settings and the ability to manually save settings. It is not intuitive in my opinion. There should only be two modes...on or off.

[2020-04-27 11:48] fisher729 commented on #11043
Hi.

I can confirm that this issues occurs.

[2020-04-27 11:56] fisher729 commented on #310
Hi.

Should this issue still be open @Adriani90

[2020-04-27 13:33] leonardder commented on #11062
The temporary mode was implemented for people who would like to have
Screen Curtain enabled on a temporary basis, until they restart NVDA.
This applies to people who don't use screen curtain as a default.

[2020-04-27 14:26] fisher729 commented on #11062
Yes, but the use cases don't warrant the need for a temporary screen curtain.

If someone wants the screen curtain setting to temporarily be
available, then they could either create a profile with it enabled or
uncheck saving of configuration profiles when NVDA is exited. They
could also disable the screen curtain after use. This mirrors what is
seen in other screen reader products.

The temporary

[2020-04-27 15:00] #10748 closed

[2020-04-27 16:17] SeanTolstoyevski commented on #11061
Synthesizer is Espeak.

[2020-04-27 19:19] trichview opened #11063 "Implement support for TSRichViewEdit (window class mapping)"
### Is your feature request related to a problem? Please describe.
I request to implement support for our ScaleRichView library. This is a Delphi word processing component that is used in many applications, Web site: https://www.trichview.com/features/scalerichview.html
Sample application based on ScaleRichView (no installation required): https://www.trichview.com/support/files/temp/ActionTestTabs

[2020-04-27 21:12] smhigley commented on #10890
@jcsteh a more realistic example of why a grid might control sorting with a button within the cell rather than with the cell itself is when a header cell might have multiple actions that can be taken, e.g. sorting, filtering, selection, etc. Sometimes there are just multiple buttons within the cell, and sometimes there's a single actions menu, where the sort functionality is controlled by a menuit

[2020-04-27 21:39] Adriani90 commented on #11030
@feerrenrut in Firefox 75 everything works correctly.

I cannot reproduce this issue in Google Chrome 81.0.4044.122
But I can definitely reproduce it in Edge Chromium 81. Pressing enter on an edit field does not trigger the focus mode there.

[2020-04-27 21:54] Adriani90 commented on #310
This is still inconsistent in NVDA alpha 20045,a335297e. The speech refactoring might have made it possible to fix this, but there is no fix for this via speech refactoring yet.

[2020-04-27 22:17] Adriani90 commented on #11061
I can reproduce this only with eSpeak, and there also depending on which variant you are using. for example using Variant Quincy there is much less crackling than using for example variant "Robert".
I am not sure if NVDA can do something about this. The sound of the voices are comming actually from the eSpeak project. I suggest you to open also an issue on github to their repository at
https://git

[2020-04-27 22:25] fisher729 commented on #310
Hi.
Well, I'm using the latest stable, and I don't face this issue using
either eSpeak or OneCore voices

On 4/27/20, Adriani90 <notifications@github.com> wrote:

[2020-04-27 23:07] jcsteh commented on #10890
I understand the use case. I'd agree it probably makes sense to support
this, but that's not my decision; I'm not a core developer.

[2020-04-28 09:17] amirsol81 commented on #11061
As much as I tried, I had no luck breaking Eloquence, Windows OneCore, and eSpeak set to Persian which is based on British English, which, IMO, means good luck this time around.

[2020-04-28 09:22] amirsol81 commented on #11058
In many ways, this is quite similar to, or related to #9816. I can also duplicate it with Win 10 Pro 2004 64-Bit and the latest NVDA alpha.

[2020-04-28 11:36] #11052 closed

[2020-04-28 13:05] feerrenrut commented on #11061
This may be improved by: #11024 which has a [build you can test with](https://ci.appveyor.com/api/buildjobs/scexo5rpqllcsx7w/artifacts/output%2Fnvda_snapshot_pr11024-20018%2Caa38fb32.exe). Note that this build still has some issues, this PR is still only a draft.

[2020-04-28 13:24] feerrenrut commented on #7841
I agree this would be better for end users. For a11y testers using NVDA, there could be an argument to preserve this behavior behind a option (so they can more easily detect this case). Though if all screen readers accept and work around this issue, then it might as well be the standard.

[2020-04-28 13:58] feerrenrut commented on #8528
Yep, thanks for letting us know. I'll close this issue.

[2020-04-28 14:09] feerrenrut commented on #8528
I actually still cant reproduce this in Firefox. @hills001 Could you clarify the exact key presses you use to reproduce this? Please also clarify if you start in browse mode or focus mode.

It would be helpful to know if this reproduces in Chrome also.

[2020-04-28 14:38] aleventhal commented on #10774
The change has landed and should be in tomorrow's Canary.

[2020-04-28 14:52] feerrenrut commented on #8337
The goal of PR #9079 is to expose the politeness setting for aria-live. NVDA should already be announcing aria-live changes. A minimal test case would help us to reproduce the issue. I believe with this youtube example the problem can be reproduced in Firefox and Chrome also.

[2020-04-28 16:08] SeanTolstoyevski commented on #11061
OK,

I will share this issue on Espeak.
Maybe it's Espeak's problem.

I will write the result here.

[2020-04-28 16:42] isidorn opened #11064 "vsCode statusbar not properly read"
1. Open VS Code insiders
2. Trigger read status bar in NVDA command

VS Code issue https://github.com/microsoft/vscode/issues/96392

Comments from @joanmarie on what Orca is doing in Linux

Orca is doing an accessibility tree dive from the bottom up, looking for something with the accessible role of "status bar". I recently had to change it to sanity-check candidate status bars for the "showing" a

[2020-04-28 17:31] leonardder commented on #10033
I don't think we support nor can support BRLTTY in such a way that it uses its own braille tables for output. BRLTTY support is there to be able to use NVDA with braille displays that aren't support natively by NVDA itself. NVDA is responsible for braille output translation.

[2020-04-28 17:32] leonardder commented on #6483
@gregjozk Are you still interested in getting this fixed?

[2020-04-28 17:34] leonardder commented on #4177
As we can't seem to reach the original author, closing this for now to clear up our backlog a bit. If this is still an issue to someone, feel free to reach out and we can reopen/reassess priority, though it won't be higher than a p4 or even a won't fix.

[2020-04-28 17:34] #4177 closed

[2020-04-28 18:56] snufas opened #11066 "buttons on chrome browser are not accessible using mouse tracking."
### Steps to reproduce:
try to use mouse tracking with crhome on any website.

### Actual behavior:
When ever I put the mouse cursor over the button element in chrome it does not read the element name.  in order to fix that issue, I either have to navigate using B key  on my keyboard,  use a button list,  or when I hover my mouse use  "move navigator object to mouse" command.   there are workaroun

[2020-04-28 19:34] gregjozk commented on #6483
Hello,

right now, no, due to having a protocol converter, which successfully
converted my Satellite 44 to BC6 (enabled more or less all key
combinations except of status cells) but it was not a skope of this
PR.
however others, who are not so happy than me, mey benefitt from this
PR (see Narrator's documentation)

anyway thanks for your excelant work.

2020-04-28 19:32 GMT+02.00, Leonard de Ruijt

[2020-04-29 01:23] hills001 commented on #8528
@feerrenrut thanks for the reply, hopefully it's not a common issue, however I was able to replicate the issue in Chrome and IE11 on a couple of different machines when browse mode was enabled.

I have 'Enable browse mode on page load' and 'Automatic focus mode on focus changes' enabled and 'Automatic focus mode for caret movement' disabled in settings.

Here's the steps and key presses I used:

-

[2020-04-29 05:31] danghoaiphuc commented on #11063
Hi @trichview , I am just a user of some software that uses your Delphi components but do you think if adding Window class mapping should solve the issues from the root. Before, I have tried to do the same with other screen readers like the code you import into NVDA but some don't work and even with NVDA works not nicely, especially with NVDA's own commands.
I think the best solution should be to

[2020-04-29 09:11] trichview commented on #11063
Thank you for information. However, can you give me at least one example of an editor, where NVDA works using IAccessible?
I read IAccessible documentation, and as far as I see, a minimal object for accessibility is a block of text, without access to individual characters. So I do not understand how to instruct NVDA to read a single character when the caret moves :( Another editor example would be

[2020-04-29 10:02] dyedwiper opened #11068 "Alert not read correctly in Chrome and not read at all in Firefox/IE"
### Steps to reproduce:

Open this page in a browser:

[code]

Check NVDA output.

### Actual behavior:

NVDA output on load in Chrome:
"alert  text
someLink
someLink
someLink  link"

No alert output in Firefox and IE.

### Expected behavior:

NVDA output:
"alert
someHeading heading
text
someLink link"

### System configuration
#### NVDA installed/portable/running from source:
installed

#### NVDA

[2020-04-29 12:00] feerrenrut commented on #11064
I think this issue should be specific to vsCode. The browser case is a little more tricky since browsers may have their own window chrome status bar in addition to any HTML defined status bar, though I'm happy for that to be split into a separate bug. It may be that for "browser based" applications that don't have a status bar (most these days) we use appModules to opt-in to retrieving the status

[2020-04-29 12:16] feerrenrut commented on #11062
@leonardder I can see the appeal to making screen curtain settings global (not tied to a profile). What is the use case for profiles with screen curtain? Or another option is to make gestures override the current profile.

[2020-04-29 13:15] leonardder commented on #11062
The config profile support is actually one of my main use cases for the screen curtain. Applications I don't want people to see what I'm doing in are tied to a profile that enables the curtain when I'm in that app.

[2020-04-29 13:51] CyrilleB79 commented on #11062
@leonardder IMO screen curtain should be a global setting because we cannot guarantee that privacy is honored if this setting is profile-dependant. Worse, it makes believe the user that he has a guaranteed privacy whereas it is not always the case.
Here is a usecase demonstrating it:
I make a profile for Firefox to have screen curtain enabled in this app only so that I can check sensitive informat

[2020-04-29 14:18] XLTechie commented on #11062
I would agree completely with @CyrilleB79. I do not think people expect this
setting to be profile-dependent, either, as most (all?) other systems that
support a screen curtain, either have it globally on or globally off. There is
no circumstantial application of the screen curtain.

[2020-04-29 14:20] feerrenrut commented on #11062
I think both concerns could be resolved with this. Couple that with [the request for audible feedback during every enable / disable of screen curtain (issue #10692)](https://github.com/nvaccess/nvda/issues/10692) and the user should be well informed about the current state.

With this approach there is a corner case to consider:
"When using a gesture to disable screen curtain, when the current pro

[2020-04-29 15:06] Neurrone opened #11069 "Provide ability to jump between list items at the same level"
### Is your feature request related to a problem? Please describe.

In places such as Reddit and hackernews, it would be extremely convenient if there was a version of the i key which did not take into account child list items. This would rapidly allow for jumping to the next list item while skipping child lists.

### Describe the solution you'd like

Provide some method of moving between list ite

[2020-04-29 15:22] feerrenrut commented on #11069
To generalize this feature, a command could be added to jump to the next item matching the current item. So if you are on a level 2 list item, jumps to the next level 2 list item. If on a level 2 heading, to the next level 2 heading. Though it raises the question of what to do with multiple matches, EG a link and a level 2 list item. Perhaps it should only apply to hierarchical items EG: unordered

[2020-04-29 15:23] feerrenrut commented on #11059
Can you test the previous release and report if this is a regression please?

[2020-04-29 15:43] CyrilleB79 commented on #11062
@feerrenrut do you include the pop-up window use case in the "both concerns" you mention? If yes, could you elaborate on this taking the same use case as example? I do not understand why making screen curtain gestures override the current profile resolves the issue.

[2020-04-29 15:48] fisher729 commented on #11062
Hi.

I can actually see the need for application/profile specific screen
curtain, similar to what the add-on provided. For those persons that
want it to be turned on and off only, they can use the normal
configuration profile to do so, or deactivate any running profiles and
toggle it. This would be consistent with all of NVDA's other settings,
barring the general ones. However, the temporary and p

[2020-04-29 15:51] behofer opened #11070 "NVDA crashes / becomes totally unresponsive when replying to a message in Outlook 365"
### Steps to reproduce:
1. Open Outlook for Office 365.
2. Compose a message or replying to one.
3. When writing text / navigating through entered text sometimes NVDA gets stuck and totally unresponsive so that no speech output is generated anymore and braille display isn't refreshed anymore.
4. NVDA must be re-launched.

### Actual behavior:
When composing a message or replying to one in Outlook

[2020-04-29 16:43] DrSooom commented on #11069
Duplicate of issue #8193.

[2020-04-29 16:53] DrSooom commented on #11070
Duplicate of issue #10247.

[2020-04-29 17:03] DrSooom commented on #11068
@dyedwiper: Please list all Firefox, Google Chrome and IE versions where this issue occurs. Thanks.

[2020-04-29 17:07] DrSooom commented on #11066
Maybe related: Issue #10650.

[2020-04-29 18:16] Adriani90 commented on #11070
Closing as duplicate.

[2020-04-29 18:33] Adriani90 commented on #10766
There is a more general discussion on this topic in #10247. I think this is very related and might occur if you have lot of mails in a folder or if there are many mails with lots of flags like invitations with attachments with importance flags, emails with other different flags such as replied, atributed preview, and and and.
My guess is that NVDA tries to fetch all the flags exposed by outlook fo

[2020-04-29 18:35] Adriani90 commented on #10247
I think these crashes might occur more often if you have lots of mails in a folder or if there are many mails with lots of flags like invitations with attachments with importance flags, emails with other different flags such as replied, atributed preview, and and and.
My guess is that NVDA tries to fetch all the flags exposed by outlook for an email or an invitation and fails at some point, ending

[2020-04-29 18:38] lukaszgo1 commented on #10766
@Adriani90 These are completely separate issues as evident by the fact that this was not happening in 2019.2.1 according to the OP Please reopen and more importantly read entire conversation before closing!

[2020-04-29 18:39] lukaszgo1 commented on #10247
This happens when editing not when accessing list of messages and also according to the description occurs in Word.

[2020-04-29 18:50] Adriani90 commented on #10247
Please read the title and the conversation. Thanks.

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Mittwoch, 29. April 2020 20:40
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] When using Word Object Model in Word/Outlook, NVDA freezes and stops the keyboard from responding (#102

[2020-04-29 18:51] Adriani90 commented on #10766
I am reopening, however I still think this is not related to 2019.3.1. There has been alot of conversation on NVDA or even Outlook crashing when switching folders. I think this issue is rather caused by an Outlook update, any flags which might have changed for the folders between 2019.3 RC1 and RC2 testing or something else.
I cannot reproduce this with NVDA alpha-20056,96cf444b and Outlook MSO (1

[2020-04-29 20:32] EngineeringMario commented on #10247
We have quite a few customers suffering these problems while editing in Outlook or MS Word; Not really related to any version of office.
This moment we expect is is a language related problem. The first tests will show this. Later this week we will suggest customers to only use the original language version.
Within a few weeks we’ll know for sure.
We’ll keep you informed

Van: Łukasz Golonka [mail

[2020-04-30 01:07] codeofdusk opened #11071 "Allow splitting of translatable strings"
The translation system should allow strings to be split across lines. See https://github.com/nvaccess/nvda/pull/10941#issuecomment-620622703

### Summary of the problem

When a translation string is too long (generating a flake8 error) there is no way to reformat it to avoid the flake8 warning and such that the translation system picks up the string and translation comment correctly.

The followin

[2020-04-30 07:18] leonardder commented on #9468
@fisher729 Could you still reproduce this?

[2020-04-30 09:10] dyedwiper commented on #11068
So far I tested with:
Chrome 81.0.4044.122
Firefox 68.7.0esr
IE 11.1158.17736.0

[2020-04-30 11:09] feerrenrut commented on #11070
@behofer Can you tell us the language you have configured for the following:
- For Windows (settings -> language)
  - Windows display language
  - Windows preferred language
- For Office (via File -> Options -> Language)
  - Office Display language
  - Office Authoring language

@Adriani90 @DrSooom We have not been able to reproduce many of these serious issues with Office. One theory we have is b

[2020-04-30 12:25] amirsol81 opened #11073 "Issue displaying text after links when the Screen Layout mode is turned off"
### Steps to reproduce:
1. First and foremost, make sure the Screen Layout mode is turned off. It can be done via Insert+V when placed on a webpage.
2. The issue can be duplicated everywhere but, as an example, go to https://www.macrumors.com/2020/04/30/google-pixel-buds-airpods-features
3. Locate the first level-1 heading which says: "Google's New True Wireless Pixel Buds Mimic Two Key AirPods Fe

[2020-04-30 13:02] behofer commented on #11070
@feerrenrut:
* Windows display language: German (Germany)
* Windows preferred language: German (Germany)
* Office Authoring language: German (Germany)
* Office display language: 1. Bound to default Windows language; 2. German; 3. English
Generally, second language is always set to English.
If I can collect anythiing else, let me know.
Reproducing it is really hard! I was hoping the error at the en

[2020-04-30 13:19] Adriani90 commented on #11060
This is not reproducible in Edge Chromium stable 81. Closing since Edge Chromium will be distributed with the next Windows 10 update. However, the label edge / spartan is assigned in case this needs to be reopened after switching bak to UIA at anytime in the future.

[2020-04-30 13:19] #11060 closed

[2020-04-30 13:56] #10888 closed

[2020-04-30 14:04] feerrenrut commented on #11069
Ah thanks @DrSooom I'm not familiar with #8193. Are my questions and considerations already answered there or do I need to copy over the relevant parts. Either way I will close this issue.

[2020-04-30 14:04] #11069 closed

[2020-04-30 14:22] behofer commented on #11070
[nvda-old_20200430.log](https://github.com/nvaccess/nvda/files/4558871/nvda-old_20200430.log)
@feerrenrut: Another log, error messages at the end are different, maybe it helps.

[2020-04-30 14:23] leonardder commented on #9468
I"m not sure as of what can cause performance issues in Excel. Some people report major lag, but al seems to work quite smooth here as of late.

[2020-04-30 14:46] feerrenrut commented on #11062
My understanding of this concern:
- As a blind user I want to be able to manually enable screen curtain knowing it will not be disabled under any circumstances. This is so that I can be confident that despite changing applications and potential unanticipated popup windows my screen will not become visible.

To achieve this, manual screen curtain activation (via the gesture) overrides any profile s

[2020-04-30 14:53] feerrenrut commented on #11070
Thanks for providing more information.
I notice several errors in braille, and at least one in the brailleExtender addon. Could you try disabling this addon to ensure it's not causing the problem? We have had some suspicion that using braille devices with office is triggering a problem. I understand working without braille devices temporarily might not be an option, but if it is for you, it could

[2020-04-30 14:56] Adriani90 commented on #11069
At least for headings there is already something in place. Pressing 2 on the keyboard in browse mode will jump between headings level 2, 3 for level 3 etc. maybe shift+numbers in browse mode should jump between list levels. I.e. shift+2 for list item level 2.

[2020-04-30 15:12] feerrenrut commented on #8528
I think this is intentional, though to be honest I don't know the history behind it. Perhaps @michaelDCurran or @jcsteh could fill us in?

My understanding: the virtual cursor (browse mode pointer for where you are) doesn't follow focus (moved by tab). When in browse mode, enter triggers the action for the item at the virtual cursor, in focus mode it triggers the action for the item with focus. Th

[2020-04-30 15:22] zahra21 commented on #11073
hi.
i tried with my favorite version of nvda (2017.2), and cant reproduce the issue.
i also tried with 2017.3 and the behaviour is the same as 2017.2!
the newer versions of nvda cant be installed on windows xp that i can test it!
with 2017.2 and 2017.3, nvda says:
Google's New True Wireless Pixel Buds Mimic Two Key AirPods Features
and does not say iPhone etc.

[2020-04-30 15:23] #7394 closed

[2020-04-30 15:23] #7888 closed

[2020-04-30 15:23] #6315 closed

[2020-04-30 15:32] DrSooom commented on #11069
@Adriani90: Shift+1 to Shift+6 already invert the order (bottom to top instead of top to bottom). Please continue the discussion in issue #8193. Thanks.

@feerrenrut: I'll take a look on this soon.

[2020-04-30 15:36] amirsol81 commented on #11073
Given what you said at the end to describe your point, I think you didn't get the bug at all. iPhone is a different link and shouldn't appear on the line which represents the first link.

[2020-04-30 16:18] CyrilleB79 commented on #11062
@feerrenrut thanks for clarification. So the use case of manual activation seems clear to me and a profile switch would not interfere with it.

Anyway, unless I have missed something, the activation triggered by profile switch does not address privacy concerns, as described in the pop-up window use case. Another use case that does not guarantee privacy is the following:
* Again let's imagine Firef

[2020-04-30 16:24] feerrenrut commented on #6438
I think this issue has been resolved with PR #10919. Always reading super / sub script can now be configured independently of other format settings.

[2020-04-30 16:46] feerrenrut commented on #11029
I have a feeling this is because the caret does not move when using ctrl + delete, however it does when pressing ctrl+backspace.

[2020-04-30 16:54] feerrenrut commented on #737
To me it looks like the feature as described will not be implemented, reasons for this are well explained in previous comments. There is potentially a remaining use case for providing some kind of skimmed overview of a page. Though the specific goals have not been well defined. This issue currently reads like an implementation in search of justification. I'd prefer to close this issue.

[2020-04-30 16:54] #737 closed

[2020-04-30 16:58] DrSooom commented on #8193
Based on [@feerrenrut's comment in issue #11069](https://github.com/nvaccess/nvda/issues/11069#issuecomment-621282358) and after reading the whole issue comments here I currently have no idea which behavior in which situations is wanted. Therefore here some questions – some suggestions are already mentioned above by different users, but nothing is fixed:

#### Headlines:
H, Shift+H, 1 to 6 and Shi

[2020-04-30 17:17] amirsol81 commented on #11029
Quite interestingly, the NVDA Global Plug-in, an NVDA Add-on, has an option for fixing this which works very well.

[2020-04-30 17:30] mohammad-suliman commented on #11059
This is a Chromium issue:
https://bugs.chromium.org/p/chromium/issues/detail?id=1044410

It will be fixed in Chrome 83 witch is supposed to be released in mid may I
think.

On Wed, 29 Apr 2020 at 18:23 Reef Turner <notifications@github.com> wrote:

[2020-04-30 17:57] fisher729 commented on #9468
You can close the ticket.

On 4/30/20, Leonard de Ruijter <notifications@github.com> wrote:

[2020-04-30 20:05] Adriani90 commented on #10555
CC: @feerrenrut after our private discussion I think this is maybe nice to keep an eye on for the future.

[2020-04-30 20:18] Adriani90 commented on #10061
I think this is only reproducible in the ol Edge Spartan. Addin appropriate label.

[2020-04-30 20:24] Adriani90 commented on #9722
Adding appropriate label since it is probably still reproducible in Edge Spartan and UIA related environment.

[2020-04-30 20:27] Adriani90 commented on #9381
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 20:29] Adriani90 commented on #9191
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 20:33] Adriani90 commented on #9111
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 20:52] Adriani90 commented on #8468
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:00] Adriani90 commented on #8312
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:01] Adriani90 commented on #8311
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:02] Adriani90 commented on #8309
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:03] Adriani90 commented on #8307
Adding appropriate label since this is definitely still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:04] Adriani90 commented on #8306
Adding appropriate label since this is definitely still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:05] Adriani90 commented on #8305
Adding appropriate label since this is definitely still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:06] Adriani90 commented on #8304
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:11] Adriani90 commented on #7974
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:11] Adriani90 commented on #8023
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:13] Adriani90 commented on #7912
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:16] Adriani90 commented on #7838
Adding appropriate label since this is deefinitely still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:19] Adriani90 commented on #7653
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:27] Adriani90 commented on #7206
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:33] Adriani90 commented on #6978
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:35] Adriani90 commented on #6975
Adding appropriate label since this is probably still reproducible in Edge Spartan and UIA related environments.

[2020-04-30 21:53] Adriani90 commented on #9468
Closing as works for me. Thanks for reporting.

[2020-04-30 21:53] #9468 closed

[2020-04-30 21:57] Adriani90 commented on #11029
I just want to mention that addon has some fixes but it is not an official addon and has not passed the review. That addon is very comprehensive and has other conflicts with different NVDA features, key strokes etc. This addon is used only by a limited number of users worldwide.

[2020-04-30 22:14] Adriani90 commented on #8193
@DrSooom I respectfully disagree with this approach. This makes things much too complicated. An enduser will know automatically when pressing 1, 2 or 3 or shift+1, +2or +3 between which heading levels NVDA will jump. We do not need extranious feedback here and it is clear that pressing 2 twice will skip all the other higher or lower heading levels as before.
I would not change the behavior of h an

[2020-04-30 22:19] Adriani90 commented on #10695
@feerrenrut imo this issue should be reopened. the addons in questions are not official addons and at least Global Plugin extension has not passed the review due to its complexity and some conflicts with already existing NVDA features and key strokes. Thus, these addons are only used by a limited number of users worldwide.
While I understand users of the Global Plugin Extension addon, it modifies

[2020-04-30 22:27] Adriani90 commented on #737
One suggestion from my side at least, could this not be acomplished in the elements list? At least for the elements that can be chosen there? The radio buttons could contain also the number of the elements (i.e. link 320 radio button, headings, 20 radio button etc.). However, I think even this would have a big impact on performance. I wonder how Jaws does this?

[2020-04-30 22:36] Adriani90 commented on #6438
I think this is not fixed, but this might be due to the rendering of the characters. If I write 1^3 NVDA still reads "1 3" instead of "1 superscript 3".

[2020-04-30 22:41] Adriani90 commented on #6438
Actually such numbers are usually read as for example 1 to the 3 instead of "1 subscript 3".

[2020-04-30 23:33] jcsteh commented on #8528
No, it isn't. It's a known bug when "Automatically set system focus to focusable elements" is disabled. See https://github.com/nvaccess/nvda/pull/9511#issuecomment-495099828, #10884.

I confirmed that the browse mode cursor always follows tab, even with this setting disabled. However, for some reason, when the setting is disabled, pressing enter doesn't work in this case. I don't know why.

[2020-05-01 03:39] jcsteh opened #11077 "Restrict most event processing to objects of interest to the user"
### problem
Some web apps, such as Twitter and Slack, fire a lot of events, most of which aren't things we need to report to the user. For example, when you focus the message list in Slack, it changes the name for every item in the list and adds the Message actions grouping to every item in the list. This results in noticeable performance problems. On my system with Firefox Nightly, focusing the S

[2020-05-01 04:11] amirsol81 commented on #11029
So I hope the issue is fixed via NVDA itself in the near future.

[2020-05-01 07:18] feerrenrut commented on #11029
Perhaps someone can look at how that add-on fixes the problem and submit a PR.

[2020-05-01 07:24] feerrenrut commented on #11077
There is some ongoing work in the same area: "External win event limiter #10556" I'll be looking at this again shortly. When I do I'll take a look at this issue as well.

[2020-05-01 07:35] feerrenrut commented on #8528
Yep, can confirm with the [example page](https://nvda-firefox-block-level-links-8528.netlify.app/)
- In browse mode, virtual cursor on "heading    level 1  Example block level links"
- Press Tab
- Press numpad 8 to confirm current virtual cursor location, hear "visited  link    heading    level 3  Example 1"

I think this issue contains the clearest explanation of the problem, I'll reopen it. Note

[2020-05-01 07:41] Adriani90 commented on #8528
I saw this issue not only for these links but also i.e. for buttons in some cases. It's occuring only when automatically set focus to focusable elements is disabled. For some reason NVDA seems to have problems in syncing the virtual cursor and the system focus. If the automatic set focus is disabled, when pressing enter or space NVDA should draw the system focus to the element on which the action

[2020-05-01 07:42] DGartmann commented on #10917
Issue still present in the 5.0.1 version of the Zoom client.

[2020-05-01 07:45] DGartmann commented on #10917
Sorry. Closed by mistake.

[2020-05-01 07:48] Adriani90 commented on #8528
See also #9886.

[2020-05-01 07:55] Adriani90 opened #11078 "report subscripts and superscripts #10919: exclude reporting on elements in browsers such as buttons etc."
### Steps to reproduce:
1. Open NVDA and enable reporting of subscripts and superscripts in NVDA's document formating settings
2. Open a browser i.e. Firefox
3. While navigating on websites with arrow keys or quick commands in browse mode, notice what NVDA reports (i.e. on some buttons in the comment area of this issue)

### Actual behavior:
NVDA reports very often "base line"

### Expected behavi

[2020-05-01 07:59] feerrenrut commented on #8528
I have updated the description of this issue, can someone else confirm that they can reproduce it with the steps mentioned (to ensure they are clear) thanks.

[2020-05-01 08:32] feerrenrut commented on #11078
Other than in MathML or other explicitly defined math, it could be difficult to determine "math content". I think a reasonable path forward is to only announce base line if the last text announced was superscript or subscript. Examples could help to clarify your issue description:

**Given:**
This is a regular sentence with <sup>some superscript note</sup> followed by more text

**Expected:**
Spee

[2020-05-01 08:38] feerrenrut commented on #11078
Interestingly, I can't get NVDA to recognise that "some superscript note" is actually formatted as superscript. It was written like this in the comment, and visually appears as superscript. Pressing `NVDA+F` on this text announces it as baseline.
[code]

[2020-05-01 08:40] feerrenrut commented on #6438
@Adriani90 I think the `^` character was just used to denote that the following number would be formatted as superscript. I think this because Derek says in the initial description:

Indicating that it is already something that can be enabled, but only if you enable other format reporting that isn't desired.

[2020-05-01 08:46] paulber19 commented on #11029
Hi,
I am the author of this add-on and I am very attentive to any report of
problems encountered by it use.
However, I have not so far reported to you those you mentioned.
Those reported during the review for acceptance by the community were
resolved long ago.
If there are any left, I will be happy to correct them.
You said:

I would like to know how you measure it and is this statement really
val

[2020-05-01 08:47] feerrenrut commented on #10695
I think I have seen another issue suggesting that wrapping be achieved with a double press. I think a new issue should be opened to describe this clearly. Reaching the final element should continue to say "no next element type. Press twice to go to go to first element." or "Press twice to wrap" or something similar.

[2020-05-01 08:51] feerrenrut commented on #11029
@paulber19 please don't start add-on review discussions here. The NVDA add-on mailing list is a better place to have this conversation and ask these questions. Of course you can link to this issue to give people context. I'm going to hide these comments to keep discussion on track.

[2020-05-01 09:12] paulber19 commented on #11029
OK. I understand.
I'm very sorry.
Please also hide the email to which I replied.
Best regards.
Paul.
Le 01/05/2020 10:51, Reef Turner a écrit :

[2020-05-01 09:16] feerrenrut commented on #8193
Sorry @DrSooom but this doesn't really help. This only makes this issue more uncertain, when it was [basically all but agreed upon](https://github.com/nvaccess/nvda/issues/8193#issuecomment-548607228)

@Adriani90 the reason this is important is that (good) lists and headings are often highly contextual and hierarchical.  The information in sub-elements relate to the parent. In my opinion this shou

[2020-05-01 11:00] lukaszgo1 commented on #7067
I've fixed this for Office 2013 and older in #10981.  To do that it has been necessary to use IAccessible for these controls and then change their role to grouping when accValue is "Group" (testing with different Office languages shows that it is not localized). For 2016 and 365 this still does not work. While the  AccValue still  can be used to change role when ribbons are collapsed and they are

[2020-05-01 11:42] #4207 closed

[2020-05-01 11:42] #9252 closed

[2020-05-01 11:53] feerrenrut commented on #10917
Have you tried contacting Zoom support for this issue?

[2020-05-01 13:21] leonardder commented on #10555
Personally, I think a first pr should address two things:

1. Ad a flag to NVDA's advanced settings to enforce IA2 in Edge and Chrome, which is enabled by default
2. Implement a basic browse mode tree interceptor for UIA in Edge/Chrome that's active when UIA is used.

[2020-05-01 13:24] codeofdusk commented on #10555
Why enforce IA2? Wouldn't it make sense to make the flag be for enabling UIA, similar to Word and Windows Console?

[2020-05-01 13:25] feerrenrut commented on #3328
This will add complexity to the update process, and put pressure on the update server. Given the relatively small size of NVDA this issue should be considered a low priority.

[2020-05-01 13:25] leonardder commented on #11002
Related to #11077

[2020-05-01 13:31] leonardder commented on #11077
@jcsteh: I think a related approach, though a bit controvercial, could imply move most of the now time consuming logic to c++ code. I think that's the intend of #10556 as well, and therefore I really dig @feerrenrut's initiative to investigate this further within the scope of that work.

[2020-05-01 13:33] leonardder commented on #7075
Note that the implementation for Edge Legacy/Spartan isn't very much Edge, but rather UIA specific. Therefore it also applies to Word with UIA enabled.

@JulienCochuyt are you still intending to adopt my work at some point? We really need a sighted person to work on this, I'm afraid. It's just too complex for blind eyes to be aware of all the edge cases.

[2020-05-01 13:36] feerrenrut commented on #10555
For these feature flags its important to additionally include an explicit "use default" option, so for a binary decision, it becomes ternary:
- The current NVDA default (most users should / will stay on this option) the outcome of this option can change in future. It may result in X in this release and Y in the next.
- Explicitly X
- Explicitly Y

This is particularly important if developers can f

[2020-05-01 13:36] codeofdusk commented on #11077
Why not both – move this code to C++ (#10556) and add additional filtering for events from objects not in focus?

[2020-05-01 13:38] codeofdusk commented on #10555
Yes, but like UIA console, don't expose this option in the GUI until it becomes default.

[2020-05-01 13:44] feerrenrut commented on #10555
No. This does not solve the problem I outlined. It must be exposed in the GUI otherwise the user is missing one of the explicit choices. They are left with only:
- Explicit X
- Current default Y

If the user specifically wants to use Y until some amount of time after X has become the default doing this will break their config. To provide an effective update path you need three options for a binary

[2020-05-01 13:45] leonardder commented on #11062
I don't fully understand this idea of @feerrenrut I'm afraid. As far as I know, a profile switch should not disable a permanently enabled screen curtain unless it was once explicitly disabled within that profile. If it was once disabled within a profile, disabling the screen curtain could have been done for a particular reason.

The problem is temporary activation. If the curtain is temporary acti

[2020-05-01 13:59] feerrenrut commented on #11062
I'm trying to avoid getting bogged down with the limitations of the implementation, and think in terms of user outcomes here.

My assertions:
- "if a user manually enables screen curtain with a gesture, they don't want it disabled by anything other than a gesture, or exiting NVDA only in the case of temporary activation"
- "A user who regularly enables and disables screen curtain for particular ap

[2020-05-01 14:05] leonardder commented on #11062
This makes sense.

[2020-05-01 14:20] DGartmann commented on #10917
No. I'm not sure what to tell them because Jaws 2020, as far as I can tell, works in these edit fields.

[2020-05-01 14:43] k-kolev1985 commented on #10555
I don't know how important it is, but recently I was looking for the setting "Native UI Automation" in "edge://flags" in 64-bit Microsoft Edge Canary version 84.0.499.0 and did not find it by searching for "Native UI Automation" from within the provided search field. Could it be that the setting was removed and now UIA is the default and could not be changed as we could in the past? I don't know i

[2020-05-01 14:43] leonardder commented on #10555
I will do so in #11079, though now it is still binary, and really broken if enabled. I actually followed @codeofdusk's suggestion and worded it positively towards UIA instead.

[2020-05-01 15:02] #3244 closed

[2020-05-01 15:21] JulienCochuyt opened #11080 "Current xgettext integration does not allow to follow copyright headers guidelines"
### Steps to reproduce:

When adding a new source file, or updating an existing one, follow copyright headers guidelines at (https://github.com/nvaccess/nvda/wiki/Copyright-headers)
In the process, add a contributor name containing a non-ASCII character.
Build POT using `scons pot`

### Actual behavior:

Build fails as `xgettext` complains about the non-ASCII character.

### Expected behavior:

Bu

[2020-05-01 15:23] feerrenrut commented on #10310
I'm going to close this issue, the site is not available and was not a minimal test case. This issue is not likely to lead to an improvement in the NVDA project.

[2020-05-01 15:23] #10310 closed

[2020-05-01 15:23] akash07k commented on #10695
Completely agreed with @Adriani90 the issue should be reopened and I don't think that there's any problem in implementing the behaviour same as JAWS. there shouldn't be any need of logging the fresh issue.

[2020-05-01 15:26] feerrenrut commented on #11080
I think this will be fixed with:

[code]

See https://github.com/nvaccess/nvda/wiki/Contributing#encoding

[2020-05-01 15:27] feerrenrut commented on #11080
Perhaps the copy-right headers page should mention that. Probably wouldn't hurt if all files had that. Or maybe you have a fix in mind that will remove the need for this?

[2020-05-01 15:44] akash07k commented on #10695
Moreover, I don't feel that there's any need of achieving the wrapping with double press/tap. The wrapping can be made togglable altogether and if required then it can be kept off by default.

[2020-05-01 15:57] Adriani90 commented on #10695
What exactly is the point against having this on double press? Is it because this should be like in jaws? Actually having this on a double press is more efficient and you don‘t need an additional setting. We should avoid an overload of settings like it is in jaws. They even seem to begin cleaning up the settings section because there are far too much settings which are not needed or which remain t

[2020-05-01 16:12] JulienCochuyt commented on #11080
@feerrenrut wrote:

Sorry, I missed this one.

Indeed.

I agree, it wouldn't.

See PR #11081.
Both approaches are fine to me.

[2020-05-01 16:36] akash07k commented on #10695
Ok,
Fine.
Please mention me on that issue so that I can also track the conversation

[2020-05-01 18:23] oferb commented on #4242
Yet another use-case:

Being able to create something like Emacspeak for code, where semantic meaning of words is translated to a different pitch (e.g variable names sound different than class names).
This is similar to syntax highlighting for sighted developers.

https://en.m.wikipedia.org/wiki/Emacspeak

I personally think, if it's speaking hints specifically for screen readers, it's there to he

[2020-05-01 20:24] amirsol81 opened #11082 "Alpha-20080 has broken NVDA's time-oriented functions in Foobar2000"
### Steps to reproduce:
1. First and foremost, make sure you are running NVDA Alpha 20080,83e32ba6 or newer.
2. Play an MP3 file via Foobar2000.
3. Press Control+Shift+E, Control+Shift+R and Control+Shift+T to check the elapsed, remaining and total times.
### Actual behavior:
NVDA erroneously says: "No track playing".
### Expected behavior:
NVDA should report the elapsed, remaining and total times

[2020-05-01 20:31] JulienCochuyt commented on #7075
@leonardder wrote:

I really do. The big question is when will I have enough time to.
As you know, this issue is big enough not to be handled in a few minutes of my spare time, and will at least require a couple of days of my work time. As often, an emergency chases another, and despite this issue being in my work pipe, it couldn't yet gain a proper schedule.
If anyone feels qualified enough to pi

[2020-05-01 20:43] leonardder commented on #10555
I implemented a prototype in #11079 that works somehow. However, it looks like browse mode is pretty broken in that it keeps bouncing all over the page in complexer documents. Therefore, I don't consider it good enough to go into a release build.

May be either @feerrenrut or @michaelDCurran could elaborate on what the current plans are with Chromium and UIA. I see several solution.

1. Abandon th

[2020-05-01 20:50] jcsteh commented on #11077
There are certainly good reasons to move win event listening and filtering code to C++. On the other hand, that in itself won't solve the problem here. The time consuming part of processing win events (in this particular case) is not the listening and filtering, but more the instantiation of NVDAObjects and the contention on the main thread caused by queuing them as NVDA events. And that part has

[2020-05-01 21:35] josephsl commented on #11082
Hi,

Follow-up from #9792, so this app module must provide a way to retrieve status information correctly.

Thanks.

[2020-05-01 21:58] Adriani90 opened #11083 "Selection by paragraph in Firefox with ctrl+shift+arrow keys is broken"
### Steps to reproduce:
1. Open Firefox with NVDA
2. In an edit field with text, i.e. comment area or issue description, select the text with ctrl+shift+arrow keys.

### Actual behavior:
NVDA selects only the current line and does not move further up or down.

### Expected behavior:
NVDA should select the paragraphs as it worked recently.

### System configuration
#### NVDA installed/portable/runn

[2020-05-01 21:59] Adriani90 commented on #11083
@jcsteh I recall this worked properly recently, I think this is a regression from one of the last PRs. It occurs only in Firefox.

[2020-05-01 22:07] CyrilleB79 commented on #11062
Could you give a real life example please? Sorry but I really cannot figure such use cases since I am only a rare user of screen curtain, and I did never need to have it profile dependent.

I also fear that the screen curtain option be difficult to understand clearly for all users: temporary vs. definitive, global shortcut vs. profile-associated setting, etc. Hence my comments.

[2020-05-01 22:07] Adriani90 opened #11084 "Chromium browsers: selecting by paragraph is inconsistent"
### Steps to reproduce:
1. Open NVDA in Chrome or Edge Chromium
2. In an edit field with text, i.e. multiple lines, select the text with ctrl+shift+down arrow paragraph by paragraph
3. Remove the selection with ctrl+shift+up arrow backwards paragraph by paragraph

### Actual behavior:
Steps 2 and 3 show different behavior, when you remove the selection in step 3 NVDA seems not to move paragraph by

[2020-05-01 22:09] Adriani90 commented on #11084
Maybe related to #11083. cc: @aleventhal, @jcsteh

[2020-05-01 22:10] Adriani90 commented on #11083
This occurs only in focus mode

[2020-05-01 22:11] Adriani90 commented on #11084
This occurs only in focus mode

[2020-05-01 22:35] Adriani90 opened #11085 "Wrap the focus and the virtual cursor in browse mode to the first element after reaching the last element with quick navigation key"
### Is your feature request related to a problem? Please describe.
Originally, @akash07k requested this feature in #10695 to cover different use cases:
* There are very complex web pages and you don't want to press ctrl+home to go to the top and search again for your element, instead you want to jump i.e. to the first table after reaching the last one
* There is no home or end key on the keyboard

[2020-05-01 22:56] codeofdusk commented on #10555
I vote for option 3 if the freeze can be fixed.

[2020-05-01 23:02] garrettk18 opened #11086 "Dot 7 Being Added to Capital Letters in "Unified English Braille Code Grade 2" table"
### Steps to reproduce:
1. Make sure Output Table is set to "Unified English Braille Code grade 2".
2. Make sure "Expand To Computer Braille for the Word at the Cursor" is checked.
3. In Notepad, type `Hello, world!`
4. Be sure that the cursor is at the end of the line, so that you can see the capital sign in "Hello".
### Actual behavior:
There is a dot 6 before the 'h' and a dot 7 under the lette

[2020-05-01 23:03] ruifontes commented on #11085
Again, there are already two add-ons with that feature, for me very usefull:

screenRapping and NVDAExtensionGlobalPlugin

Rui Fontes

Às 23:36 de 01/05/2020, Adriani90 escreveu:

[2020-05-01 23:12] garrettk18 commented on #10097
@leonardder If you can point me to a link to 2019.1 (I have 2018.3RC3, go figure!), I can produce this in about 5 minutes.

[2020-05-01 23:32] garrettk18 commented on #11086
I had a moment, this is a dot *7* and not a dot 8. And, as per a suggestion from a friend, I confirmed this is *not* a cursor marker.

[2020-05-01 23:35] josephsl commented on #11086
Hi, I wonder if this is specific to UEB grade 2, or if it is reproducible in grade 1? If yes, I think we may need to dig into what’s going with braille cursor code. If not, chances are that this might be something going on with liblouis. CC @LeonardDer

From: Garrett Klein <notifications@github.com>
Sent: Friday, May 1, 2020 4:33 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subsc

[2020-05-02 00:43] garrettk18 commented on #11086
Possibly related: I think there's a fundamental issue somewhere with what "computer braille" means in UEB Grade 2.

1. Type the word `x86`
2. Move the cursor to the x
3. You'll notice "xhf" on the display, not "x86" or "x#hf".

This one goes away when using English U.S. Grade 2 (AKA EBAE). The original issue does not.

[2020-05-02 00:49] garrettk18 commented on #11086
@josephsl This occurs in UEB Grade 1 as well.

[2020-05-02 01:36] ultrasound1372 commented on #11063
It's not used for notepad? I know it wouldn't be for wordpad because that's a rich edit control. I think IAccessible info is exposed on sintilla edits, so notepad++/notepad2 etc, or text areas in standard Windows GUIs or a crossplatform solution that instantiates objects based on the platform, such as JavaFX, WXPython etc. Not sure about Windows forms.

[2020-05-02 01:44] ultrasound1372 commented on #11056
Did WXPython 4.1.0 fix the strange naming bugs that we started encountering in 4.0.4 and up to 4.0.7? People I know that develop apps are still using 4.0.3 because of this change, I think it's in WXWidgets and involves what accessible names controls get. Some change made it so you have to specify those specifically with accessible naming instead of just defaulting to the standard name, least that'

[2020-05-02 01:48] ultrasound1372 commented on #11033
Somewhat related, I think adding configuration profiles for more than just application switching, manual trigger, or say all right? Would be a good thing. An example I can think of is probably rather hard to implement but would be rather useful, config profile detection based on the address of a given website. Obviously some fairly advanced filtering would need to be in order, probably regex, and

[2020-05-02 01:57] josephsl commented on #11056
Hi, yes resolved. There are more important things to look at though: I spent at least two days trying to work out more important issues with wxPython 4.1.0, namely NVDA freezing in message boxes, localization support and so on. Thanks.

From: Colton Hill <notifications@github.com>
Sent: Friday, May 1, 2020 6:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.co

[2020-05-02 03:07] trodick commented on #10097
@garrettk18 I'm not @leonardder, but perhaps grab the 2019.1 tag and build it from source? https://github.com/nvaccess/nvda/releases/tag/release-2019.1

[2020-05-02 05:43] Adriani90 commented on #11085
Again, both addons are not official and are used by a limited number of users worldwide since they did not go through the review process. Especially the second addon did not pass the basic review yet.

Von meinem iPhone gesendet

[2020-05-02 06:02] JulienCochuyt commented on #11071
@codeofdusk, you were almost there with your second example. Try this:
[code]

Note the translator comment itself can also fit on multiple lines and still get extracted correctly.
Reference: (https://www.gnu.org/savannah-checkouts/gnu/gettext/manual/html_node/xgettext-Invocation.html#Operation-mode)
In this manual, the sentence

should probably read **literal** instead of **keyword** (Any voluntee

[2020-05-02 06:09] Adriani90 commented on #11064
Cc: @josephsl, @JulienCochuyt is this a candidate for a custom status bar? Or is this not possible in web apps?

[2020-05-02 06:37] Adriani90 commented on #10097
@garrettk18, @trodick please if you are testing, do this in the last NVDA alpha version because this might have changed alot since 2019.2 or 2019.1 version. Thanks.

[2020-05-02 06:38] Adriani90 commented on #10097
The alpha snapshots are here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-02 06:48] josephsl commented on #11064
Hi,

What Julian wrote in #9792 deals with retrieving status bar objects for the focused app, not necessarily for web applications. This is because web apps are hosted inside a larger user interface window, so coming up with custom status bar fetcher will require looking at either the web app or the web browser window.

A few years ago I, @JCSTeh, and one or two others had a debate as to which cla

[2020-05-02 07:13] Adriani90 commented on #2093
yes this occurs also in Winamp 5.8 but only in very rare cases. I am closing this issue since the ol Winamp interface is discontinued, they are working on a new Winamp 6.0 which will be redesigned.

[2020-05-02 07:13] #2093 closed

[2020-05-02 07:16] Adriani90 commented on #2067
I can reproduce this in NVDA alpha-20097,6a573cd9.
cc: @JulienCochuyt

[2020-05-02 07:21] Adriani90 commented on #2009
No meaningful contributions to this sofar, I am closing as abandoned. Please create new issue regarding form fields and separate issues for other elements that you thing might be important.

[2020-05-02 07:21] #2009 closed

[2020-05-02 07:26] Adriani90 commented on #2003
for the issue with the attached word document there is a separate one in place. Regarding CCleaner issue, it works properly now in NVDA 2020 RC1, running as administrator.
I am closing this issue because we don't have meaninful updates from the initial author or several other users marked in this issue.
If you have a current use case where you can reproduce this reliably, please open a new issue.

[2020-05-02 07:26] #2003 closed

[2020-05-02 07:36] Adriani90 commented on #1858
Actually I cannot reproduce this with NVDA alpha-20097,6a573cd9 in MS Word 2010. Pressing ctrl+s always reports the dialog in focus and the content as expected. It might have fixed by #10981. which has been introduced by @lukaszgo1. I am closing this as works for me but feel free to comment if you are still able to reproduce with last NVDA alpha and we can reopen it.

[2020-05-02 07:36] #1858 closed

[2020-05-02 07:36] akash07k commented on #11085
Absolutely. Agreed with @Adriani90 It will be good and useful if we'll have this feature natively in NVDA. :-)

[2020-05-02 07:38] leonardder opened #11088 "Document NVDA build process based on Visual Studio Build Tools"
### Is your feature request related to a problem? Please describe.
Currently, the readme advises people to build NVDA with Visual Studio community. For people who never use the IDE, this is overkill.

### Describe the solution you'd like
Describe the process based on Visual Studio 2019 build tools. Add a note that Build tools can be swapped for whatever version of Visual Studio they prefer.

[2020-05-02 07:38] Adriani90 commented on #9374
@GuruSR are you still able to reproduce this issue? Please test with the last alpha version of NVDA. You can get it here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-02 07:40] Adriani90 commented on #1848
It seems we've lost contact to the initial author and I didn'T hear other users having this issue. If I am wrong, then please comment and we can reopen this or create a new issue to gain more attention.
Closing as abandoned.

[2020-05-02 07:40] #1848 closed

[2020-05-02 07:43] Adriani90 commented on #2281
No meaningful updates during the last 7 years, closing as abandoned.

[2020-05-02 07:43] #2281 closed

[2020-05-02 07:48] Adriani90 commented on #2171
@hadi_gsf are you still using Teamspeak with NVDA? How is it working now in NVDA 2020.1 RC1?

[2020-05-02 07:48] Adriani90 commented on #2171
It seems we lost contact to the initial author and there are no updates on this since many years. Closing as abandoned.

[2020-05-02 07:48] #2171 closed

[2020-05-02 08:02] Adriani90 commented on #2166
This is still reproducible with NVDA alpha-20097,6a573cd9. The application belongs to Microsoft now ACCORDING TO
https://docs.microsoft.com/en-us/sysinternals/downloads/procmon

Currently this application is not usable with NVDA at all because all the log entries comming in are spoken, no matter where the focus is. Even if you open the menu, you cannot ready anything in there.
cc: @feerrenrut I th