[2017-07-23 05:37] bhavyashah commented on #5570
Since all seems well and sorted, this ticket should be closed. @jcsteh

[2017-07-23 05:41] bhavyashah commented on #5488
Thoughts? @leonardder @Qchristensen @ehollig @dcager

[2017-07-23 05:42] #5570 closed

[2017-07-23 06:13] bhavyashah commented on #5440
I would be surprised if this is still existent, given NVDA's strides in improving Windows 10 and Edge support in the last two years, plus the popular Windows 10 App Essentials add-on. Does the described behaviour still take place? @josephsl

[2017-07-23 06:16] bhavyashah commented on #5425
Does this bug still stand? @surfer0627 If yes, should this be investigated and tackled as part of Project Webfix? @jcsteh @feerrenrut

[2017-07-23 06:19] bhavyashah commented on #5374
NVDA support related questions should be sent either to the NVDA Users International forum (Groups.io e-mail list) or to info@nvaccess.org (although I am unsure of the latter). Regardless, since this is the Github issue tracker for NVDA, and this ticket is an enquiry rather than a bug report or feature suggestion, I suppose this can be safely closed. @leonardder @jcsteh

[2017-07-23 06:23] bhavyashah commented on #5371
On a Windows 8.1 64 bit system, I was recently encountering immense CPU loads due to NVDA in version 2017.1, but nothing alarming with 2017.2. Does the described issue still exist at anyone's end? If nothing significant is reported here, I suppose this ticket should be safely closed.

[2017-07-23 06:35] bhavyashah commented on #5447
Doesn't screen review or object navigation reveal the desired information from the dialog? Also, does this bug still exist?
P.S. Please mention the original reporter in case his username is known.

[2017-07-23 06:52] josephsl commented on #5440
Hi,

Loging status announcement: to be taken care of by live region change event.

Please reopen if any of the issues discussed above happens on builds 10586 and later. Thanks.

[2017-07-23 06:52] #5440 closed

[2017-07-23 07:21] k-kolev1985 commented on #5447
@bhavyashah Here are my answers to your questions:
1. I'm the reporter of this bug.
2. Yes, as far as I know (I'll test it to be certain later today|) - the bug still exists.
3. I guess that screen review or object navigation can read this information. But that is not the point here, because I can do it with NVDA+B as well on demand. The point is that NVDA should do it automatically when the dialo

[2017-07-23 08:37] Brian1Gaff commented on #5447
There are many times this does not seem to work. the classic one was always
live mail but I've seen it in other programs as well. I think what is
obviously not happening is that the software concerned does not actually
flag to nvda that its new content and where it actually is, when you do
nvda/b you read the whole lot  with no care about boundaries etc, indeed in
some circumstances you can get co

[2017-07-23 08:40] Brian1Gaff commented on #5371
Personally apart from an odd spike that is hard to trace, not for me at
least. Of course its usage can go up when scrolling down a folder etc, and
if the processor is throttled back as is often the case on multi  core
machines. Maybe the real culprit is why windows cannot see nvda wants a
faster clock speed.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
b

[2017-07-23 08:42] Brian1Gaff commented on #5570
Was this, in the end not because it needs a certain service pack in Vista to
be installed?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "bhavyashah" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscri

[2017-07-23 15:27] Brian1Gaff commented on #6836
Does this inclusion explain the error I'm getting in recent Next snaps when
running the installer from the next archive? I posted this to the dev list
recently.
 Should this not be trapped so when it does not seem to be found its not
going to generate an error sound?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Ga

[2017-07-23 15:33] fernando-jose-silva opened #7431 "NVDA does not return the sound of the audios to normalized using the voice synthesizer windows one core"
I changed the nvda synthesizer to the one-core windows voices and noticed a problem.
When playing a song using any audio player the nvda lowers the sound as long as there is talk, however when the voice for the sound does not return to normalised Audio.
The nvda's hen reduction setting is to redirect sounds when playing speech.
This problem did not occur when using another speech synthesizer as nu

[2017-07-23 15:45] dkager commented on #6836
running the installer from the next archive?

It would be really helpful if you could post the error, along with steps to reproduce if you have them.

[2017-07-23 22:19] andrew-l-d opened #7432 "Windows 10 OCR"
The Windows 10 OCR inclusion in 2017.3 is not mentioned in the What's New document.  Especially as it is a great resource, it deserves a mention there as well as in the User Manual.

Andrew
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other softw

[2017-07-24 00:01] ehollig commented on #2296
I am not able to replicate this using the latest NVDA and Word 2016. Please correct me if I am wrong and this is still the case with Word 2007. CC @Brian1Gaff

[2017-07-24 00:05] ehollig commented on #2844
It appears that there is not enough information provided in this ticket to replicate the issue and no way to contact the original poster. Can this issue be safely closed as invalid?

[2017-07-24 00:13] ehollig commented on #4200
As the original poster in https://github.com/nvaccess/nvda/issues/4200#issuecomment-155321244 said that the problem is now gone, and @jcsteh suspects that it was a piece of software (or less likely a driver) installed by the computer manufacturer that was causing the problem as stated in https://github.com/nvaccess/nvda/issues/4200#issuecomment-155321245, can this ticket be safely closed? The logs

[2017-07-24 00:21] ehollig commented on #3884
@Brian1Gaff, is this still the case for you? Also, is there anything relevant in the log provided in https://github.com/nvaccess/nvda/issues/3884#issuecomment-155317470? CC @michaelDCurran

[2017-07-24 00:38] fernando-jose-silva commented on #6159
There to all.
I would like to thank you for the great work.
I did not use the one-core voices, but I decided to use them for testing.
I'm using windows 10 15063.483, and the nvda next 14215.
On Saturday I used nvda normally without any errors using the vocalizer 1.1 driver.

On Sunday I started using the one-core voices and one day the nvda stopped for 2 times.
Once when opening chrome and again w

[2017-07-24 02:31] josephsl commented on #6467
Hi,

@MichaelDCurran, attached is the path that Matt should have sent as an official PR, but looks like it didn't make it through. I'm attaching in in case you'd like to review it and let Jamie or someone commit this. Thanks.
[displayModel-attempted-fix.txt](https://github.com/nvaccess/nvda/files/1168656/displayModel-attempted-fix.txt)

[2017-07-24 04:15] leonardder commented on #7432
Thanks for pointing this out. However, al though it is planned to have Windows 10 OCR support in NVDA 2017.3, it has not yet arrived in the master branch. As soon as it will arrive, appropriate information will be added. See also [this article about NVDA's release process](https://github.com/nvaccess/nvda/wiki/ReleaseProcess). Closing.

[2017-07-24 04:15] #7432 closed

[2017-07-24 04:17] leonardder commented on #5371
I've seen CPU usages around 10% quite often, but quite hard to track this down I'm afraid.

[2017-07-24 04:18] leonardder commented on #6836
If you have once installed Next and than run a master installer, this error is expected. From what you said on NVDA devel, I assumed this was the case. Are you sure you get these errors in  most recent next?

[2017-07-24 04:19] leonardder commented on #3884
Note that this mentions legacy stuff like IE8 and Outlook Express, so this is going to be a won't fix most likely. I'd rather close as works for me though :)

[2017-07-24 05:23] feerrenrut commented on #5596
Closing this issue as a duplicate. Please see #7297 for an explanation of the intended approach regarding this.

[2017-07-24 05:23] #5596 closed

[2017-07-24 11:15] hithp opened #7436 "NVDA reads not checked for the custom radio buttons with aria-checked property in IE11"
NVDA reads "Not checked" for the custom radio buttons both in focus and brows mode in IE 11.
The code is according to the aria specifications and aria-checked is dynamically updated based on the user action.
The sample URL to verify the Same:
https://dequeuniversity.com/library/aria/custom-controls/sf-checkboxes-radios

Platform Specs:
NVDA 2017.2.
IE11 latest.
Windows7 professional 64 bit.
NVDA h

[2017-07-24 11:33] kvn-dh-zeus commented on #5741
Where can we find updated version of nvda with fix of this issue?

[2017-07-24 15:27] matter3 opened #7438 "Legend title is not readout when selecting same page link to input field using space or enter."
When selecting a link that is a same page link to a form field, if you use enter or space to select that link you will not be read out the legend title for that field by NVDA.

### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:
2017.2

Running in a VM.

Windows version:
Windows 10 Enterprise Evaluation

[2017-07-24 16:43] Brian1Gaff commented on #3884
This is very old and from memory I think this problem stopped after some
other bug was fixed. I guess this ticket was missed then

The only issue with Outlook Express I know of is that if a plain text
display is selected and also if a preview pane is allowed. Nvda can seem to
make Outlook express think its out of memory and it cannot open the message
editor or indeed some other windows. a restart

[2017-07-24 17:10] leonardder commented on #3884
Thanks for the clarification!

[2017-07-24 17:10] #3884 closed

[2017-07-24 17:33] ehollig commented on #1845
Unfortunately, it appears that the link provided gives me a "406 Not Acceptable" error. Can anyone confirm if this issue appears in the latest Firefox with the latest NVDA? As @jcsteh said it works correctly in IE 8 from https://github.com/nvaccess/nvda/issues/1845#issuecomment-155293421, I would hope that the same results would occur in IE 11.

[2017-07-24 17:43] ehollig commented on #1952
Sounds related to #4904. CC @derekriemer

[2017-07-24 17:54] ehollig commented on #3451
Acording to Google Issue [Chromium:347448](https://bugs.chromium.org/p/chromium/issues/detail?id=347448) it appears this was fixed in May 2014. Can this issue be closed? I am not able to test this with the attachment, as it is unavailable.

[2017-07-24 19:22] elliott94 opened #7439 "Word 2010: Spaces not Announced when Spell Current Line is Activated"
STR:

1. Ensuring that Word 2010 is the installed version, open a new document

2. Type the following: "This is a test"

3. Use the "Spell Current Line" gesture

Expected: Assuming that the symbol level is set to "Some", NVDA should output "This space is space a space test"

Actual: The entire line is spoken without any spaces whatsoever

[2017-07-24 20:13] elliott94 commented on #7311
Section of a log attached - let me know if this is useful. The account that NVDA is running under has admin permissions - sorry for the lack of clarification!
[nvda.txt](https://github.com/nvaccess/nvda/files/1171068/nvda.txt)

[2017-07-25 00:12] ehollig commented on #2779
I am not sure what to think about this ticket. The original author does not state what version of NVDA they are using or the operating system version. Due to the age of this ticket, I assume it is referring to Windows 8, which has been superseded by Windows 8.1. Any thoughts @josephsl or @bhavyashah

[2017-07-25 00:21] ehollig commented on #2685
This appears to be fixed in May 2015 from Google Issue [Chromium:323462](https://bugs.chromium.org/p/chromium/issues/detail?id=323462)

[2017-07-25 00:25] ehollig commented on #2881
As reported in https://github.com/nvaccess/nvda/issues/2881#issuecomment-155303330, this works as expected for other users. The original poster does not indicate which version of NVDA is being used, or the version of Windows. Due to the age of this ticket, I assume it is Windows 8. Any ideas @josephsl or @bhavyashah

[2017-07-25 00:28] ehollig commented on #2795
Related issue: #4904

[2017-07-25 00:38] ehollig commented on #2841
I do not have an issue filling out the form provided in https://github.com/nvaccess/nvda/issues/2841#issuecomment-155302958. NVDA position does not get lost.

[2017-07-25 01:32] ehollig commented on #2937
I am not able to replicate this using IE 11. Log file displays all of the text when set to debug as well. Unless this is a particular issue with IE 9, I suggest a close.

[2017-07-25 01:34] ehollig commented on #2972
It appears that this issue does not contain an example of the problem and there is no way to contact the original author. Unless someone can replicate this or provide an example using Word 2003, I suggest a close.

[2017-07-25 01:38] ehollig commented on #2925
@ctoth, were you the original Q who made this ticket? If so, could you provide more information to reproduce this if it is still happening?

[2017-07-25 02:07] ehollig commented on #3593
I can not reproduce this either. I performed the same steps as in https://github.com/nvaccess/nvda/issues/3593#issuecomment-155310814 by using both the Voice Settings Dialog, as well as the Synth settings ring. CC @jcsteh

[2017-07-25 02:22] ehollig commented on #3685
Should this be closed as #3421 was resolved in 2014.3?

[2017-07-25 02:28] ehollig commented on #3621
@derekriemer are you still experiencing this issue? According to [MozillaBug:935375](https://bugzilla.mozilla.org/show_bug.cgi?id=935375) this problem has been resolved.

[2017-07-25 06:57] leonardder opened #7441 "Display model bug with negative coordinates"
CC @MichaelDCurran

### Steps to reproduce:
1. Start Wordpad
2. Retrieve the location for the foreground object. Here, it is (-8, -8, 1382, 744)
3. Create a DisplayModelTextInfo for the foreground object
[code]
4. List all the rectangles with a left coordinate >2000
[code]

### Actual behavior:
The following rectangle is returned: (65528, 159, 1374, 708)

### Expected behavior:
This rectangle shou

[2017-07-25 07:20] michaelDCurran commented on #7441
We need something like:
[code]

And use that in place of all calls to ord on line 171 of displayModel.py

We could possibly use struct.unpack or ctypes casting, but that would
involve either converting the string or accessing its raw pointer etc.

If you can validate that this gives the correct results, feel free to
create a pr.

[2017-07-25 08:30] MichelSuch opened #7442 "Problem in Thunderbird and Firefox when restarting NVDA (next branch)"
### Steps to reproduce:

This does not occur using 2017.2:
1. open a site in Firefox, or simply open thunderbird.
2. Now, restart NVDA.
If you switch to the Firefox window, you'll not be able to read the displayed page until you restart Firefox.
In tn, open a message, you won't be able to read its content until you restart tb.
The test was performed after removing all addons, to make sure the prob

[2017-07-25 13:09] vgjh2005 commented on #6133
Hi:
I guess this bug is about specific language( example simplified Chinese etc). Because when press arror keys to navigate the play area, many com error are catchd.
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyc", line 366, in Notify
  File "IAccessibleHandler.pyc", line 875, in pumpAll
  File "IAccessibleHandler.pyc", line 668, in processFocusWinEvent
  File "

[2017-07-25 15:41] ehollig commented on #6278
If I understand this correctly, you would like NVDA to report the symbol at the end of the sentence when reading by line or by paragraph like it does when reading a sentence word by word.
This is possible by changing the Punctuation/Symbol Level by pressing NVDA+P. It sounds like you would want to change this to "All", so that all punctuation will be read as words while reading by line or by parag

[2017-07-25 15:54] ehollig commented on #3823
This is discussed in #7052 which talks about moving by paragraph in notepad and #3970 talks about selecting text in notepad with CTRL+Shift+Up/Down if this is the application that was in mind.
It is already possible to move by paragraph in browse mode by pressing CtRL+Up/Down, but #4904 discusses skipping empty lines in browse mode.
CC @derekriemer and @jcsteh for any additional comments.

[2017-07-25 16:31] ehollig commented on #4032
I can not reproduce this and can not say I have seen it either. Has anyone else seen this? CC @jcsteh

[2017-07-25 16:39] ehollig commented on #4073
According to [MozillaBug:949518](https://bugzilla.mozilla.org/show_bug.cgi?id=949518) and https://github.com/nvaccess/nvda/issues/4149#issuecomment-155320658, this was fixed for Firefox 32.

[2017-07-25 16:49] ehollig commented on #4047
As @jcsteh said in https://github.com/nvaccessAuto, [MozillaBug:991969](https://bugzilla.mozilla.org/show_bug.cgi?id=991969) was fixed for Firefox 31. Google Issue [Chromium:359857](https://bugs.chromium.org/p/chromium/issues/detail?id=359857) was fixed in January 2015. I believe this issue still exists in IE 11.

[2017-07-25 19:49] NSoiffer commented on #7308
Would a 64-bit build of MathPlayer be a better solution for you? Or is this a problem you need to solve for other reasons also?

[2017-07-25 23:41] michaelDCurran commented on #7128
Fixed in PR #7376

[2017-07-25 23:41] #7128 closed

[2017-07-25 23:42] #7370 closed

[2017-07-25 23:55] #7143 closed

[2017-07-26 00:05] #7328 closed

[2017-07-26 06:24] #4073 closed

[2017-07-26 06:31] leonardder commented on #6278
ehollig: Hmm, but setting punctuation level to all means that the dot is always spoken, and it seems @OnFireToCode only wants this for word by word navigation. That would either require a new symbol level for words (e.g. like we have for characters), and than you would need to have multi selection possibilities for the symbol level.

[2017-07-26 06:34] leonardder commented on #7442
Hmm, I had this issue for a little while, but now it seems to has magically gone away. Can't reproduce with next-14233,f78950a7 and Firefox 54.0.1 X64 on Windows 10 creators update.

[2017-07-26 06:39] leonardder commented on #3525
I also agree that having article reported would be helpful. I know that JAWS reports it, and I usually find it more useful than disruptive.

[2017-07-26 06:48] leonardder commented on #3619
Seems that [the Mozilla Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=934872) is still open.

[2017-07-26 06:51] leonardder commented on #1851
CC dgoldfield

This issue is rather old, and I can't remember experiencing this. Closing around this time next week if no other info is provided.

[2017-07-26 06:52] #2616 closed

[2017-07-26 08:47] leonardder opened #7445 "NVDAObjects.window.edit._getPointFromOffset doesn't support multiple monitors"
### Steps to reproduce:
1. Start notepad
2. Run the following from a python console
[code]

### Expected behavior:
Normal, useful coordinates are printed, either positive or negative.

### Actual behavior:
NVDA prints 65536L,66052L

### Technical background
NVDAObjects.window.edit._getPointFromOffset is using winUser.HIWORD and winuser.LOWORD. Long story short, it shouldn't.

From [this page on MS

[2017-07-26 15:15] ehollig commented on #4181
I do not experience the described problem using the latest NVDA Master. It does not appear the original author has answered @jcsteh's questions in https://github.com/nvaccess/nvda/issues/4181#issuecomment-155321108 which would make this harder to replicate. Any thoughts?

[2017-07-26 15:19] dan1982code commented on #7442
I can confirm this with next 14236,dcffa77f, Firefox 54.0.1 x64, Win 10 creator's. Weird: very similar setup to leonardder who couldn't reproduce this.

[2017-07-26 15:30] ehollig commented on #4288
@bhavyashah, are you still experiencing this? On Windows 10 with CCleaner  v5.32.6129 I am not able to replicate this with the results that you describe. CC @Brian1Gaff

[2017-07-26 16:03] ehollig commented on #4390
@bhavyashah, is the addon that can be accessed from http://nvdaremote.com what you were looking for in this particular ticket?

[2017-07-26 16:35] Brian1Gaff commented on #4288
I think the design of Ccleaner has moved on since this time. It has had some
gui alterations and although parts are better, it now seems to not always be
given focus after some buttons neediing the old shift tab away and back
method.
 This also happens on Windows 7. However I think the problem is Ccleaner not
nvda.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email

[2017-07-26 16:43] leonardder commented on #4390
@JCSTeh: is there still a desire to include NVDA Remote or parts of it in NVDA Core? If not, we can safely close this.

[2017-07-26 16:46] leonardder commented on #4181
It is probably quite hard to track down the initial author anyway. Closing as invalid, since @JCSTeh clearly asked for more information which hasn't been provided.

[2017-07-26 16:46] #4181 closed

[2017-07-26 16:48] leonardder commented on #4032
I'm afraid this is another case of an author which we can't contact any more. Also, @JCSTeh asked for more information, which hasn't been provided on his request. Closing as invalid.

[2017-07-26 16:48] #4032 closed

[2017-07-26 16:50] leonardder commented on #2972
Agreed here. Word 2003 issues usually end up in a won't fix anyway :)

[2017-07-26 16:50] #2972 closed

[2017-07-26 16:50] ehollig commented on #4720
@bhavyashah and I were unable to reproduce this issue and thus this ticket can be closed.

[2017-07-26 16:52] leonardder commented on #2937
CC @RuiFontes, do you have anything to add here?

[2017-07-26 16:54] leonardder commented on #3593
We can't contact the original author any more. Closing as work's for me.

[2017-07-26 16:54] #3593 closed

[2017-07-26 16:57] bhavyashah commented on #4390
Yes @ehollig, and this ticket can be safely closed unless @jcsteh is
in favour of incorporating NVDA remote into core.

On 7/26/17, Leonard de Ruijter <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.com/Bh

[2017-07-26 17:00] leonardder commented on #2149
Closing due to lack of recent information.

[2017-07-26 17:00] #2149 closed

[2017-07-26 17:01] leonardder commented on #4180
Closing as invalid due to lack of recent information and steps to reproduce,

[2017-07-26 17:01] #4180 closed

[2017-07-26 17:02] leonardder commented on #4936
Closing due to lack of recent information. Please request a reopen if the described issue is still valid.

[2017-07-26 17:02] #4936 closed

[2017-07-26 17:05] leonardder commented on #3078
@JCSTeh: I remember you tackled another XFA pdf issue in the recent past. Do you have the chance to check this one?

[2017-07-26 17:06] bhavyashah commented on #4288
On my present Windows 8.1 and NVDA 2017.2 setup, I can reproduce the
afore described behaviour. However, I am using a slightly old version
of CCleaner - v 5.22.5724, whilst the latest stable release is v
5.32.6129. I would appreciate if maybe a couple developers could
investigate this briefly to verify whether this is an NVDA deficiency
or a CCleaner GUI issue (the latter seems more likely), so th

[2017-07-26 17:45] ehollig commented on #4632
When I change the punctuation setting to "All" and read https://github.com/nvaccess/nvda/issues/4632#issue-116045889, the quotes around "most" and "all" are correctly read. It seems that we need more information from the author on this ticket.

[2017-07-26 17:51] ehollig commented on #4583
I am unfortunately unsure what the original author is talking about, and am not able to reproduce without a test case and exact steps to reproduce as @jcsteh requested in https://github.com/nvaccess/nvda/issues/4583#issuecomment-155329792

[2017-07-26 18:48] dkager opened #7447 "Double pressing cursor routing button on "lnk" in browse mode doesn't activate it"
### Steps to reproduce:
1. In any browser, go into browse mode and position the cursor on a link.
2. Press the cursor routing button on a braille display above the control type label "lnk".
3. If the cursor wasn't on the first character of the link, it will now be moved there. In that case, repeat step 2.

### Expected behavior:
The link is activated.

### Actual behavior:
The cursor is routed if

[2017-07-26 18:56] dkager commented on #7447
To be clear: double routing anywhere in the link text does activate it. Routing once on the label "lnk" outside browse mode also activates it.
I would say P3 because this is very minor, but will become more relevant with #6802.

[2017-07-26 19:00] leonardder commented on #4788
Closing as invalid, since Flash isn't used in Youtube anymore. @bhavyashah, have you experienced this in other web pages as well in the recent past?

[2017-07-26 19:00] #4788 closed

[2017-07-26 19:04] leonardder commented on #5059
Any thoughts about this? I belief the user guide is ok as it is. I don't think that overlapped/cropped cells should be mentioned in the user guide explicitly. There is already a section about application specific features which covers major things.

[2017-07-26 19:09] leonardder commented on #4611
Confirmed for windows 10 registry editor. However, when i disable "Guess object position information when unavailable", position information is not announced. This means that NVDA has to guess based on a particular algorithm, and that algorithm fails here.

I'm leaning towards a won't fix. @JCSTeh, thougths?

[2017-07-26 19:36] ruifontes commented on #2937
Hi Leonard!

The problem is solved.
Can close it.

Rui

-----Mensagem Original-----
De: Leonard de Ruijter
Data: 26 de julho de 2017 17:52
Para: nvaccess/nvda
Cc: ruifontes ; Mention
Assunto: Re: [nvaccess/nvda] NVDA skipps parts of the text (#2937)

CC @ruifontes, do you have anything to add here?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2017-07-27 04:31] bhavyashah commented on #6410
Just curious, shouldn't a ticket with the blocked label also be closed, or is there a difference between the two states?

[2017-07-27 04:38] bhavyashah commented on #7197
Is this ticket specific to Edge, or can its scope be expanded to include other web browsers (particularly Firefox)? On babbage.com, since there are a fairly low number of headings, pressing Alt+H took only about 3-5 seconds using Firefox 54.0.1 and NVDA 2017.2, which is a relatively minor lag. However, when on a lengthy article in Wikipedia, Alt+H, Alt+K and Alt+D results in major freezes. Has thi

[2017-07-27 06:02] #2937 closed

[2017-07-27 06:08] jcsteh commented on #7442
Probably a duplicate of #7269, but might be #5758. However, neither of these issues are specific to the next branch. It'd be good if all affected people could re-test with NVDA 2017.2 just to be sure. CC @MichaelDCurran.

[2017-07-27 06:10] bhavyashah commented on #4711
Since we do not have any means to get in touch with the original reporter of the ticket (except his e-mail address, which I may can share upon request) and user 'dhankuta', who, I believe, was Him Prasad Gautam, is unfortunately no more, can we safely close this issue? For your information, the final product that Akash was developing is BrailleSpark (www.akashk.in) and and the reported bug has not

[2017-07-27 06:13] leonardder commented on #6410
[**@bhavyashah**](https://github.com/bhavyashah) commented on [27 jul. 2017 06:31 CEST](https://github.com/nvaccess/nvda/issues/6410#issuecomment-318255739 "2017-07-27T04:31:45Z - Replied by Github Reply Comments"):

Yes, a blocked ticket either requires more information as above but isn't considered to be invalid. You'll mostly see blocked for tickets depending on other tickets.

@UCDharriman: Wo

[2017-07-27 06:13] #3451 closed

[2017-07-27 06:17] bhavyashah commented on #6284
@sp55000 As has been suggested earlier, could you please file a separate Github ticket for each LibreOffice accessibility bug individually? Additionally, sending feedback to LibreOffice folks may also help in establishing a bridge between devs of LO and NVDA. Since this particular ticket has nothing specific, can we safely close it? @michaelDCurran @leonardder @Qchristensen

[2017-07-27 06:18] leonardder commented on #7197
@bhavyashah: I think your issue fits into the scope of this ticket (i.e. it is not Edge specific). I belief we should aim onto a method that will allow the elements list to break out of a frozen quicknav iterator. However, as @JCSTeh mentioned, this will be hard for UIA as UIA calls can't be cancelled.
[**@jcsteh**](https://github.com/jcsteh) commented on [24 mei 2017 00:58 CEST](https://github.co

[2017-07-27 06:20] bhavyashah commented on #4932
@jcsteh @michaelDCurran @feerrenrut @leonardder Any thoughts on the implementation strategy proposed by @ManshulBelani ?

[2017-07-27 06:21] leonardder commented on #4711
@bhavyashah: I think especially your last point is a sufficient rationale for closing this. If this is still an issue, anyone who desires so can request a reopen.

[2017-07-27 06:21] #4711 closed

[2017-07-27 06:36] jcsteh commented on #4611
This only occurs in the 64 bit registry editor; I just tested it with the 32 bit version and it works as expected. We can map from an IAccessible child id to an HTREEITEM (so this must be CommCtrl >= 6). At a guess, I'd say bits are being truncated from the 64 bit handle when the response comes back as 32 bit in this case.

This doesn't explain why this works just fine in, say, Device Manager. My

[2017-07-27 06:44] jcsteh commented on #7197
I haven't really put much thought into it. The problem is that even if we set UIA timeouts, they only apply to a single call, but perhaps we're actually making multiple calls and the single calls never exceed the timeout and thus don't throw an exception. We really don't want to have to manually check the watchdog after every single UIA call. A profile or trace function runs for every call, so you

[2017-07-27 06:56] jcsteh commented on #3078
I just tested an XFA PDF with both a combo box and a list box (though I don't know how these are mapped internally). While the selected item wasn't rendered in browse mode, I wasn't seeing any id either, and I was seeing the display text in focus mode. It's difficult to know exactly what I'm looking for without a test case and exact steps and we can't contact the reporter, so closing.

[2017-07-27 06:56] #3078 closed

[2017-07-27 06:58] #4720 closed

[2017-07-27 07:00] jcsteh commented on #7308
No; NVDA is 32 bit (and we have no plans to change this at this point), so
we use 32 bit MathPlayer. Also, this relates to the way we access MathML in
Firefox/Chrome, rather than how we process it after that. Thanks for your
interest, though!

[2017-07-27 07:08] #4200 closed

[2017-07-27 07:09] #5374 closed

[2017-07-27 07:12] jcsteh commented on #5425
Definitely not a candidate for webfix because it's specific to an app which isn't widely used.

[2017-07-27 07:17] jcsteh commented on #4466
Still valid. Probably should be moved into the nvaccess/l10n-code GitHub project at some point, though.

[2017-07-27 07:59] josephsl opened #7448 "Text navigation in Korean: navigating by word becomes character navigation if a line contains one or more words where Korean characters are proceeded by English or numbers"
Hi,

Raised numerous times by the Korean community:

When trying to move by word on a line that contains a mixture of Korean and English characters or numbers, it becomes character navigation if a Korean word (or a string) is proceeded by numbers or English characters.

Steps to reproduce:

1. With Notepad or other text fields focused, type lines using only Korean characters.
2. Type a mixture of

[2017-07-27 08:14] bhavyashah commented on #7197
Alright. Please let me know if any log information, STR or other
troubleshooting is required for my part. Succinctly put though,
pressing Alt+H in the Elements List dialog, and even opening the
Elements List in the first place by pressing NVDA+F7, while viewing a
lengthy Wikipedia page in Firefox, results in a freeze of 3 seconds to
almost half a minute, which does seem to reflect in log contents

[2017-07-27 08:15] limaoscar commented on #6442
Hello, the problem still persit in NVDA 2017.2 and java 8
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b15)
Java HotSpot(TM) Client VM (build 25.45-b02, mixed mode)
I tried to enable the  mini dump for jnlp application, but it does not write any dump.
I only have retreived the log debug and a nvda_crash.dmp file.
Hope could be useful.
If you need more details please tell

[2017-07-27 08:25] leonardder commented on #7197
I agree that we shouldn't check the watchdog for every single call, but how about ten calls, for example? Or, even better, allow setting an interval?

[2017-07-27 08:31] leonardder commented on #6442
Looks like an unintentional close.

[2017-07-27 08:33] leonardder commented on #6442
@limaoscar: Could you test this with [the most recent master build from this page](https://www.nvaccess.org/files/nvda/snapshots/)?

[2017-07-27 08:49] jcsteh commented on #7197
Wait. I've never heard any mention of this being a regression before now. I assumed this was just reported as always being the case. When are you saying this regressed? Note that I don't consider a delay of 3 seconds to be a freeze. Realistically, if it's a big page, you can't expect this to be instant. That's the nature of gathering a list: the longer the list, the longer it takes to gather. What

[2017-07-27 12:31] JangChangHwan commented on #7448
Above problem in korean language also happen text review in notepad as well as general message boxes.
if messages in dialogbox are Korean string starting with english or number, numpad4/5/6 treat a korean character as word. So NVDA speaks first character of a word.
A word in korean sentences is separated by space like english, different with japanese and chinese.
In korean language, all unicode ch

[2017-07-27 14:02] dan1982code commented on #7442
I think it's #5758 for me. If I ctrl+alt+n from within Firefox, browse mode is unusable until I close Firefox. If I first open Notepad, then do ctrl+alt+n, Firefox browse mode is usable. So it only breaks if I ctrl+alt+n from within Firefox. Note that exactly the same behaviour is experienced with Thunderbird.

The "open some other application" trick is a useful workaround in the meantime. In fact

[2017-07-27 15:38] ehollig commented on #4577
I do not experience a lag when opening the voice dialog with NVDA+CTRL+V. Can anyone confirm that this is still an issue on slower machines or if it is indeed a regression? CC @jcsteh

[2017-07-27 15:38] bhavyashah commented on #7197
Apologies. Regression was just factually inaccurate word choice,
because indeed, this has always been the case. 3 seconds is quite
understandable, but as you said, 10 seconds or more, which is the
duration of freezes I can successfully replicate on longer webpages,
is problematic. Hope that clears any confusion I may have
inadvertently created earlier.

On 7/27/17, James Teh <notifications@github.

[2017-07-27 15:39] UCDharriman commented on #6410
Unfortunately I'm not currently able to reproduce the issue; access to the Lectora output will be restricted for the next month or so while its host platform undergoes an upgrade. Feel free to treat the ticket as needed. Thank you.

[2017-07-27 15:44] ehollig commented on #4511
Sounds like from https://github.com/nvaccess/nvda/issues/4511#issuecomment-155328420, the problem has been fixed. Can this then be safely closed? CC @leonardder @jcsteh

[2017-07-27 15:54] ehollig commented on #4648
I have not seen this problem in a very long time using Windows 10 or 8.1. @bhavyashah, are you still experiencing this problem on occasion or does it still happen on Windows 7? CC @jcsteh for any technical input.

[2017-07-27 16:05] ehollig commented on #4796
I am able to activate the links on this page using IE 11 and performing the steps described in https://github.com/nvaccess/nvda/issues/4796#issue-116047358. CC @leonardder

[2017-07-27 16:24] bhavyashah commented on #4648
I no longer use a Windows 7 system, since my primary machine runs
Windows 8.1 64 bit, on which, I do not believe I have experienced this
issue in the past several months, at the very least. Feel free to
close.

On 7/27/17, Ethan Holliger <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Addr

[2017-07-27 16:44] #4648 closed

[2017-07-27 16:47] leonardder commented on #636
Since there doesn't seem to be interest in this and this ticket is very old, closing for now. There are quite good alternatives out there.

[2017-07-27 16:50] tfri opened #7449 "Word Crashed on Opening Document Properties"
### Steps to reproduce:
Opened NVDA, set to no speech with Speech Viewer open
Opened Word Document in Word 2013
Opened Document Properties window.

### Expected behavior:
Nothing

### Actual behavior:
Word crashed.
I tried again after exiting NVDA and it worked normally. Once I had the Properties window open, I could start NVDA with no issues.

### System configuration:
NVDA version:
2017.2

NVDA

[2017-07-27 18:48] ruifontes commented on #4577
Hello!

In a slow machine with Windows 10:

IO - inputCore.InputManager.executeGesture (19:37:35.627):
Input: kb(desktop):control+NVDA+v
DEBUGWARNING - Python warning (19:37:35.744):
C:\Program Files\NVDA\library.zip\gui\settingsDialogs.py:69:
DeprecationWarning: object() takes no parameters
IO - speech.speak (19:37:36.351):
Speaking [u'Defini\xe7\xf5es da Voz  Janela']

724 miliseconds to open th

[2017-07-27 22:29] jcsteh commented on #7442
Okay. Closing as a duplicate of #5758.

[2017-07-27 22:29] #7442 closed

[2017-07-27 22:57] ehollig commented on #4923
As this error is not reproducible and is just a "once off" as stated in https://github.com/nvaccess/nvda/issues/4923#issuecomment-155334637, can this be closed? Or should the attached log be looked into. CC @derekriemer

[2017-07-27 23:27] ehollig commented on #4917
This seems to read perfectly in Firefox 54. CC @jcsteh

[2017-07-28 01:12] Qchristensen commented on #6902
I started looking at this in response to a report from a user of sluggishness navigating footnotes.  I'm not getting all the errors, but there is definitely a delay of between 500 - 700ms.  I tested both using down arrow and using control+down arrow and also using SAPI 5, OneCore and eSpeak voices.  Log taken from Master 14241, but same behaviour observed in stable 2017.2 (my notes in parenthesis)

[2017-07-28 02:01] michaelDCurran commented on #5534
As well as the normal editableText role, We will look for the editable state, but only on document, textFrame, section and paragraph.

[2017-07-28 02:20] Qchristensen commented on #6902
I just did a bit more testing, I tried a few different footnotes of various lengths and it seems that, setting aside a delay of around 170ms to move from one footnote to the next, there is a delay of about 2.5 ms per character (of the new footnote) before it is read out.
If moving to a footnote with 10 characters, the delay is around 170ms + (2.5 x 10) = 195ms (1/5th of a second)
If moving to a fo

[2017-07-28 04:19] michaelDCurran commented on #4773
Note: In the VBufBackend for gecko, if explicitName and not nameIsContent and not isLabelVisible, then expose alwaysReportName as true.

[2017-07-28 07:21] Brian1Gaff commented on #4923
Yesterday I had Master crash the whole of windows when it updated and tried
to restart, but the sort of happenings are rare and hard to pin down
exactly. I've not seen nvda crashes that are repeatable all the time, they
tend to happen, I think due to problems in either running applications or
some damage to that windows session for some reason.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.

[2017-07-28 12:09] leonardder commented on #4917
Comfirmed. Closing as works for me.

[2017-07-28 12:09] #4917 closed

[2017-07-28 14:41] gregjozk opened #7450 "correct some phrases reported in braille to be consistent and some other braille related suggestions"
This ticket is not a clasical bug. it would be a feature request and also slightly duplicate of#217 and others.

### Expected behavior:
in braille (english version of NVDA a words such as taskbar and tool bar should be written with spaces or all of them without spaces (same as in JAWS)

### Actual behavior:
now taskbar is written without spaces and tool bar is written with space.

### System confi

[2017-07-28 14:56] gregjozk opened #7451 "make NVDA updatable without administrative rights (same behaveour as Mozilla applications)"
I use NVDA also in corporate environment and always when a new version of NVDA becomes available, I must contact our IT department "helpdesk" when I wanted to update NVDA.

I would not have suggested this if I have not observed, that some programs like Mozilla applications do not need administrative rights to update themselves.

### Expected behavior:
NVDA can be (self)updated without entering an

[2017-07-28 15:01] leonardder commented on #7450
Where do you read taskbar exactly? Note that most of this is already incubating in next.

[2017-07-28 15:19] leonardder commented on #7451
Although I understand your suggestion, I don't think we shouldn't do this.

1. Mozilla and other auto updaters require a separate service running in the background, which is a bit aggressive IMO. It shouldn't be the default at all.
2. Usually, system administrators lock down administrative privileges because they want control over what is updated and what not. It is very unlikely that an auto upda

[2017-07-28 15:19] gregjozk commented on #7450
Hi,

when you close some programs or when NVDA is started, NVDA says taskbar and it is written on braille display.

[2017-07-28 15:28] dkager commented on #7450
Please open a separate issue for this. While it looks trivial, I think it requires some more thought.

Another separate issue. It already shows up in list views, e.g. the desktop.

[2017-07-28 15:40] dkager commented on #7450
As for the Taskbar, that is the name of that specific control (hence the capital) whereas tool bar, menu bar, etc are types of widgets. Whether or not there should be a space is a valid question, though we pretty much cover that by the abbreviations that are currently incubating.

[2017-07-28 16:16] ehollig commented on #5053
Possible duplicate of #4947 and #374

[2017-07-28 17:24] leonardder commented on #7450
Given @Dkager's reply in https://github.com/nvaccess/nvda/issues/7450#issuecomment-318684192 which I agree with, I think it's best to close this as a duplicate of #7188.

[2017-07-28 17:24] #7450 closed

[2017-07-28 17:27] leonardder commented on #7188
I changed the title of this issue, since the associated pr doesn't cover shortening position info.

@gregjozk: If you are opening a separate issue for stripping spaces between column and row position (which is actually position info), I'm happy for you to also cover position info for lists as I mentioned in https://github.com/nvaccess/nvda/issues/7188#issuecomment-302423094

[2017-07-28 17:31] leonardder commented on #5053
Thanks for this, I stumbled upon this issue and knew that there was a duplicate, but didn't know its number. Closing as duplicate of #374

[2017-07-28 17:31] #5053 closed

[2017-07-28 17:32] leonardder commented on #4947
Closing as duplicate of #374.

[2017-07-28 17:32] #4947 closed

[2017-07-28 18:43] leonardder opened #7452 "Allow braille display specific settings in the GUI"
In NVDA's voice settings, a synthesizer can implement specific settings, such as inflection, etc. For this, the VoiceSettingsSlider class is available for use. I propose generalizing this custom settings system to allow custom settings for braille displays as well. Possibilities include:

* Dot firmness
* Enable/disable braille input. This is desirable for the handy tech driver, since one of the h

[2017-07-28 18:55] ehollig commented on #4670
I can confirm this on Windows 10 with Office 2016 as  well as any other save as dialogs like in Notepad. This is slightly annoying, but it does not break functionality.

[2017-07-28 19:15] gregjozk opened #7453 "strip space between table coordinates"
as @leonardder suggested at issue #7188 (comment) I'm opening a separate issue for the point, which was suggested first in #7450

### Expected behavior:
in braille there should be reported "tb RxCy" and tb should be always presented for consistency reasons.

### Actual behavior:
tb rx cy (tb is presented only at first column and row - tb r1 c1)

### System configuration:
NVDA version:
2017.2

NVDA

[2017-07-28 19:17] netblue44 opened #7454 "NVDA DOES NOT ANOUNCE ALL SHORTCUT KEYS FOR DROPDOWN MENUES IN OFFICE 365"
In Spanish version of Office 365,
NVDA does not announce the file menu when ALT+A is pressed.
All other dropdown menues are anounced when there corresponding shortcut keys are used.
This does not happen with narrator.
I am using windows 10 creator Spanish

[2017-07-28 19:32] gregjozk opened #7455 "report in braille how many items are in a list"
as @dkager advised at issue #7450 (comment) I'm opening a separate ticket for this.

### Expected behavior:
On webpages and other documents, there are also lists and tables with x items. I suggest that NVDA reports in braille how many elements are on a list as it does with speech. e.g.:
- speech: list with x items or table with x rows and y columns.
- braile: lst with x items or tb with x rows and

[2017-07-28 19:39] dkager commented on #7455
I agree this is the appropriate behavior for unordered lists. For ordered lists and tables the current index of an item is intrinsic, and reporting the total number of items is the topic of this issue.

[2017-07-28 19:42] gregjozk commented on #7451
Hi,

I understand this. there are security reasons and other policies. so it was only a suggestion if it is possible to do. may be a check box can be implemented where a user would choose if he or she wants to use a background service for updating NVDA.

[2017-07-28 19:50] gregjozk commented on #7455
Hi,

but speech feedback does not give this information either, so I don't expect this, however I will be glad, if this would be done.

[2017-07-28 19:52] dkager commented on #7455
Yep yep, I was agreeing with you. :)

[2017-07-28 20:25] fernando-jose-silva commented on #7451
I would just like to reinforce my interest also in this functionality.
I also use nvda in a corporate environment and it is necessary every time to request the administrator right for a short time to be able to do the nvda update.
This also prevents the use of nvda next or master, as they have much more frequent updates.
Finally I should point out that I often need to contact support because the a

[2017-07-28 21:44] ehollig commented on #1418
I was not able to reproduce this using the STR provided in https://github.com/nvaccess/nvda/issues/1418#issue-116026084, step 4, as I believe the events page has changed since this was created. @jcsteh, does NVDA treat ARIA dialogs any differently since this was created?

[2017-07-28 21:55] ehollig commented on #1674
Annoyingly, like https://github.com/nvaccess/nvda/issues/1674#issuecomment-155291675, I can not reproduce the bug using latest NVDA and IE 11. I tried using the textarea for this ticket, and the Google Search edit box. Using the arrow keys to review the text, and deleting the text, it read the spaces as expected.

[2017-07-28 22:02] ehollig commented on #1716
I think I agree with @jcsteh in https://github.com/nvaccess/nvda/issues/1716#issuecomment-155292014. Disabling screen layout will allow for all links to appear at the start of the line. I think when screen layout is enabled, it should show text as it is visually displayed on screen, including spaces. I do not believe anything else should be done on this ticket and should be safely closed.

[2017-07-28 23:03] ehollig commented on #5169
This works as expected for me when I enable the desktop layout. If it is not possible to contact the original author, I would say this can be closed.

[2017-07-28 23:06] ehollig commented on #5174
This works as expected for me. Also, I believe this is referring to the old ticket software. Unless we can contact the original author for more information, I would say this can be closed.

[2017-07-28 23:18] ehollig commented on #5163
Possible duplicate:
Total Commander: #1724, #3952. I wonder if #3791 could help with this?
MP3Gain: #4675

[2017-07-28 23:22] ehollig commented on #5168
This appears to workforme in Outlook 2016. Can anyone test using Outlook 2013 to see if the experience is different?
Also, can anyone change the title of this issue? It is currently too verbose.

[2017-07-29 06:53] leonardder commented on #5174
Closing as invalid, since Trac is no more for us.

[2017-07-29 06:53] #5174 closed

[2017-07-29 06:57] leonardder commented on #5163
This issue is too broad (e.g. it describes two different problems in two different programs), and there is no means to contact the original author. Closing as invalid, please create separate tickets describing your issues along with steps to reproduce if they are still reproducible. Also, there might be duplicates indeed, as @ehollig pointed out.

[2017-07-29 06:57] #5163 closed

[2017-07-29 06:58] leonardder commented on #5169
Agreed.

[2017-07-29 06:58] #5169 closed

[2017-07-29 07:04] leonardder commented on #7451
[**@fernando-jose-silva**](https://github.com/fernando-jose-silva) commented on [28 jul. 2017 22:25 CEST](https://github.com/nvaccess/nvda/issues/7451#issuecomment-318753591 "2017-07-28T20:25:20Z - Replied by Github Reply Comments"):

Still, do you think your administrators would allow you to have auto updating enabled for NVDA? They usually want you to ask for administrative privileges for a reas

[2017-07-29 07:33] bhavyashah commented on #7449
@tfri  Could you please answer the following questions:
* Are both parts of Step 1, i.e. opening Speech Viewer as well as setting NVDA to No Speech compulsorily required for the replication of the described behaviour?
* For the benefit of other testers (including me), could you elaborate on the steps you took to open the Document Properties window in MS Word?

[2017-07-29 07:43] bhavyashah commented on #7430
While this certainly isn't a new discovery and I don't believe this is the first time it has been reported either, can @jcsteh, @feerrenrut and @leonardder please take a look?

[2017-07-29 07:48] bhavyashah commented on #6431
@jcsteh Umm, why is this ticket blocked but not closed?
@Elshara  Regardless, could you please provide a test case for this issue where there are both Flash based controls of a width/height you consider accessible as well as their inaccessible counterparts with a lesser width/height? You may need to provide more detailed information for your issue to be diagnosed thoroughly.
As a side note though,

[2017-07-29 07:50] bhavyashah commented on #6399
Related to Project Webfix? @jcsteh @feerrenrut

[2017-07-29 07:53] bhavyashah commented on #6370
Worth tackling as part of Project Webfix? @jcsteh @feerrenrut Happy to perform further testing to figure whether the Firefox slowdowns I reported earlier are even related to the scope of this ticket.

[2017-07-29 08:05] fisher729 opened #7456 "nvda and windows mail: backspace issue"
1. Open the Windows 10 Mail App.
2. Compose a message.
3. Make an error or force the use of backspace in any field (To, Subject, etc.)
Expected: NVDA announces the character that is removed.
Actual: NVDA announces absolutely nothing.

NVDA version: master-14241,57432f41, but noticed with NVDA 2017.2 as well.
Windows version: Windoes 10 1703 (OS Build 15063.483, but noticed with other variants of W

[2017-07-29 08:13] josephsl commented on #7456
CC @MichaelDCurran, and I, too, can reproduce this.

From: fisher729 [mailto:notifications@github.com]
Sent: Saturday, July 29, 2017 1:06 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] nvda and windows mail: backspace issue (#7456)

1.	Open the Windows 10 Mail App.
2.	Compose a message.
3.	Make an error or force the use of bac

[2017-07-29 08:15] bhavyashah commented on #6069
@mjanusauskas  Can you still reproduce this issue using the latest stable release of Chrome on the page http://9to5mac.com/2016/06/13/ios-10-features-developers/, because I cannot.
Please re-investigate and check whether this ticket is relevant to Project Webfix. @jcsteh @feerrenrut

[2017-07-29 08:17] fisher729 opened #7457 "nvda key labeller: a different approach"
Hi.

A feature request in NVDA is the possibility for the user to label keys. What if a dialog was created, similar to a dictionary dialog, where the user can define what NVDA speaks after a key press?

For example: I want Control+C to announce 'Copy' no matter where I am. I would open the Key Labeller dialog, press in a hot key field the Control+C combination. Then a tree view item similar to the

[2017-07-29 08:30] bhavyashah commented on #6048
I suppose one could file a bug with Firefox and Chrome and send feedback to MS Edge, and if and when all three browsers implement the necessities, we could reconsider this ticket. Could you please do that? fisher729
Also, due to the already mentioned reasons, I take it that this cannot currently be worked on in any way with pertinence to Project Webfix, right? @jcsteh @feerrenrut

[2017-07-29 08:32] bhavyashah commented on #5973
Keeping in mind the on going Project Webfix as well as the fact that Flash shall be abandonware soon enough, any updated thoughts? @jcsteh @feerrenrut

[2017-07-29 09:09] Brian1Gaff commented on #5973
The sooner Flash is got rid of the better, then maybe some of the clueless
sites that insist on using it will have to come into line and make them work
properly in html5.
 Most of the media player crashes and weirdnesses seem to be due to Flsh
plug ins or the code that invokes it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, put

[2017-07-29 09:36] Brian1Gaff commented on #1716
The issue I think is how to communicate that the link is not currently under
the focus when you might otherwise assume that it is.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-07-29 09:40] Brian1Gaff commented on #4670
Somebody needs to change the title of this as yes, it does often affect
other similar dialogues and also in other versions of Windows. I'm
suspicious that multiple events or  some refreshing of content is causing
this one.
 Its very hard to call when its going to happen.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Bria

[2017-07-29 09:43] bhavyashah commented on #7033
@jcsteh Could you please reference the relevant Firefox ticket here so that @derekriemer and others interested can track this issue's progress?

[2017-07-29 09:45] bhavyashah commented on #6988
Could you please assist in troubleshooting this (possibly-related-to-Project-Webfix) issue? @jcsteh @feerrenrut @leonardder

[2017-07-29 09:50] bhavyashah commented on #6986
@surfer0627  Can you still reproduce the issue as described above with the given test case? At my end, Firefox detects only one list, which is the clickable list, as mentioned earlier by the original reporter. However, in Internet Explorer 11, NVDA can jump to two lists, one with three items and another with two. Bearing in mind the currently active Project Webfix, any inputs? @jcsteh @feerrenrut

[2017-07-29 13:31] bhavyashah commented on #6441
@derekriemer Please respond to https://github.com/nvaccess/nvda/issues/6441#issuecomment-252520575. Also, it is worth noting for triaging purposes that Adobe Flash will be discontinued by the end of 2020.

[2017-07-29 13:36] bhavyashah commented on #5903
@zersiax  Given that this ticket is several Firefox versions old and Windows 10 has also evolved significantly, could you please retest and let us know whether this issue still exists with more recent software?

[2017-07-29 13:44] bhavyashah commented on #5345
The URL http://itstiredinhere.com/accessibility/ no longer seems to be active.
@smashuu  @smithwib  Could you please share a direct URL to a webpage with a modal dialog where you are able to consistently and successfully reproduce the above described behaviour with recent versions of Chrome, NVDA and Windows 10?
CC @jcsteh  and @feerrenrut (for Webfix relevance)

[2017-07-29 13:49] bhavyashah commented on #5283
Everything here seems sorted, the remainder of the issue was filed as a separate ticket, and most of the later discussion wasn't diagnostic. Thus, can this ticket be safely closed? @pkra @jcsteh

[2017-07-29 13:54] bhavyashah commented on #4583
I concur with @ehollig. Since we have hardly any information with regards to what the author was originally reporting, no STR, no test case, and most importantly, no means to contact the original reporter of this ticket, could this ticket be safely closed? @jcsteh @feerrenrut @leonardder

[2017-07-29 14:01] bhavyashah commented on #4046
This ticket contains no specifics - no STR, no test case, and no means to contact the original reporter. Please consider closing as Invalid. @jcsteh @feerrenrut @leonardder

[2017-07-29 14:04] bhavyashah commented on #3976
I would like to sincerely request evaluation of the reported issue and assessment of its relevance to Project Webfix, because there has been none earlier. @jcsteh @feerrenrut @leonardder @ehollig

[2017-07-29 14:11] fernando-jose-silva commented on #7457
I really liked the suggestion.
It would solve a lot of the waiting we have for translation of nvda addons that delay and also waiting for the introduction of resources in nvda.

[2017-07-29 14:23] bhavyashah commented on #6772
Apologies for not responding earlier, I missed the reminders by @feerrenrut .
There is no longer any crash with NVDA 2017.2 on the same system (but with latest Windows updates installed, I expect), but a very noticeable and consistent freeze once I press Enter to apply the renamed file name. I hope the following log snippet suffices (I renamed test.MP3 to hey.MP3, I think, in case that matters):
D

[2017-07-29 14:26] bhavyashah commented on #6293
@jcsteh Feel free to triage this ticket. I wouldn't vote for too high a priority on this one - probably a P4, or a P3 only if implementation cost is minimal.

[2017-07-29 14:30] bhavyashah commented on #6062
This ticket can probably be safely closed. I cannot recall any crash in Skype, or experienced an NVDA crash in general, in the recent past. This issue seems to have been resolved. @jcsteh

[2017-07-29 14:53] fernando-jose-silva commented on #6988
Unfortunately I'm not a programmer, I'm a nvda user, I can contribute with tests.
Thank you so much for the great work.

[2017-07-29 14:55] bhavyashah commented on #5750
@leonardder As requested by @feerrenrut in https://github.com/nvaccess/nvda/issues/5750#issuecomment-293203463, would you be able to look into these slowdowns further? Please share updated findings, if any. Also, CC @Qchristensen for any leads.

[2017-07-29 14:59] bhavyashah commented on #5278
Given that this is a fairly old ticket, there is insufficient information and we cannot get in touch with the original reporter, please close this. @jcsteh @leonardder

[2017-07-29 15:06] bhavyashah commented on #5208
The freeze/crash seems to have already been resolved, and seeing that the original reporter did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/5208#issuecomment-155341142, please close this ticket.

[2017-07-29 15:13] bhavyashah commented on #5175
I have never disabled mouse tracking for all usage purposes, and am therefore a little confused here. Shouldn't NVDA ignore any and all mouse movement when mouse tracking is off anyways? In theory, this is what disabling mouse tracking suggests to me, but NVDA's speech is interrupted when I move the mouse pointer even though mouse tracking is off. I do think that NVDA should external mouse-related

[2017-07-29 15:20] bhavyashah commented on #5167
I used to have this one laptop (without ICloud) where NVDA said 'unknown' for a lot of things, making NVDA effectively useless and non-functional as a screen reader. I no longer have that now, and thus cannot contribute anything substantial towards testing. Any which ways, what should we do with this ticket, bearing in mind that developers are unable to reproduce this issue, there exist no means t

[2017-07-29 15:22] bhavyashah commented on #5160
Updates/inputs? @jcsteh @Qchristensen @leonardder

[2017-07-29 15:24] bhavyashah commented on #5076
CC @Qchristensen

[2017-07-29 15:27] bhavyashah commented on #5002
The NVDA project has moved on to Github. Since this ticket concerns Internet Explorer (a relatively unimportant browser now that Edge is on the rise) and more specifically Trac (which we no longer use), please close this issue. @jcsteh @leonardder

[2017-07-29 15:30] bhavyashah commented on #5001
I doubt that this issue even exists at present. @jcsteh @Qchristensen

[2017-07-29 15:32] bhavyashah commented on #4992
I suspect this ticket has a duplicate somewhere, although I might well be wrong.
@Qchristensen @josephsl Could you please retest this issue?

[2017-07-29 15:34] bhavyashah commented on #4671
Any success in reproducing this issue? @feerrenrut @leonardder @jcsteh @derekriemer

[2017-07-30 09:31] Brian1Gaff commented on #6772
I have missed the forgoing, but I rename a lot with my windows 7 machine
here, and since fixing the processor idling issues often mentioned, the
delay went away completely when enter was pressed.
 Might not be relevant, don't know, I'm using latest master snap.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in

[2017-07-31 01:40] derekriemer commented on #6441
sorry, can't reproduce anymore, plus, I have flash permanently disabled here.

[2017-07-31 01:40] #6441 closed

[2017-07-31 02:10] derekriemer commented on #4390
There's already https://github.com/nvaccess/nvda/issues/3564

[2017-07-31 02:19] derekriemer commented on #3621
nope

[2017-07-31 02:19] #3621 closed

[2017-07-31 03:24] jcsteh commented on #6370
Closing because it seems the originally reported issue is no longer occurring as specified. The subsequent AttributeError finding is covered by #5454.

@bhavyashah, please open new issue(s) covering problems you're still experiencing, including all necessary info. This issue is getting far too confusing to be useful. Thanks. :)

Note that none of the issues discussed here are candidates for webfix

[2017-07-31 03:24] #6370 closed

[2017-07-31 05:50] feerrenrut commented on #6284
Closing this issue, since it is not describing one particular issue. We are happy to accept and look into the problems that have been mentioned here if they are created and described in individual issues. Please consider adding an example document when creating these issues. This will make it much easier for the person who is to try to fix these issues. Thanks.

[2017-07-31 05:50] #6284 closed

[2017-07-31 06:47] feerrenrut commented on #3976
Added the attachment to this issue (see comment  https://github.com/nvaccess/nvda/issues/3976#issuecomment-155318358). It would be excellent if someone could try to reproduce this issue and report back. Specifically we want know what browser / browsers it affects or does not affect. (chrome, firefox, IE, Edge).

[2017-07-31 06:48] feerrenrut commented on #7430
Please see relevant issue that discusses this issue in more depth: #5481 and #6399
#3976 also seems related, unconfirmed if it's a duplicate.

[2017-07-31 06:48] feerrenrut commented on #6399
Closing as duplicate, please see #7430.

[2017-07-31 06:48] #6399 closed

[2017-07-31 06:49] feerrenrut commented on #5481
Closing this issue as a duplicate, please see #7430 for future work to resolve this work.

[2017-07-31 06:49] #5481 closed

[2017-07-31 06:56] feerrenrut commented on #7430
Possible fixes:

1. Disable reporting of clickable by default
1. Report clickable for any text without enclosing semantics
    - `<div onClick=";"><button>b</button>t</div>` would report "button b clickable t"
1. Collapsing clickables
    - If we would report clickable more than once for a line, just report it once
    - `<div onClick=";"><div onClick=";"<button>b</button></div></div>` would repor

[2017-07-31 06:58] feerrenrut commented on #7430
Choosing a solution:

### Report clickable only for nodes which effectively contain only text
The most ideal solution theoretically. The problem is that for technical reasons, we can probably only do this if the node is within the current line; i.e. we wouldn't report clickable if the text spanned multiple lines. That might be a problem for long link-like things or clickable paragraphs.

### Repor

[2017-07-31 07:33] feerrenrut commented on #6048
While a sighted user often has no visual indication that some element has a mouse over action, I'd argue that its easier (and more natural) for a sighted user to explore the webpage with the mouse, making the mouse over actions more easily discoverable. @bhavyashah correct, this will not be added to the webfix project. To get a better understanding of the priority of this issue, it would be useful

[2017-07-31 07:40] feerrenrut commented on #5973
While this is an annoying issue, there is no plan to try address this issue as part of the webfix project.

[2017-07-31 07:47] feerrenrut commented on #6986
@bhavyashah Do you consider this issue fixed for IE in that case? I think this issue needs further clarification before we can consider trying to fix it. Next steps would be to:

- [ ] Produce a minimal test case which triggers the problematic behaviour
- [ ] A summary of actual behaviour with each of the major browsers (Chrome, Firefox, Edge, IE)
- [ ] Clarification on the expected behaviour in e

[2017-07-31 08:04] feerrenrut commented on #5345
The [Twitter Bootstrap modal demos](http://getbootstrap.com/javascript/#modals) are still available, I was not able to reproduce this with Chrome Version `59.0.3071.115` however, I'm not actually that confident that I know what I am looking for. @smashuu  Could you please add steps to reproduce the problematic behaviour that you were seeing with the bootstrap examples?

[2017-07-31 08:07] feerrenrut commented on #4583
As discussed this issue seems to be at a dead end. If anyone is able to reproduce this issue or has more information, please comment and we would be happy to re-open this issue and work through the process required to gather the necessary information.

[2017-07-31 08:07] #4583 closed

[2017-07-31 08:11] Qchristensen commented on #5175
I think there's two issues here - What you've pointed out about mouse tracking @bhavyashah may be an issue, but let's stick to "the ability to have NVDA read something in the background" which I think is essentially the summary of this issue.

While the earlier comment that if you just want something to read out long text to you while you do something else, there are other packages than a screen r

[2017-07-31 08:14] feerrenrut commented on #4046
Happy to reopen this issue if we can get some more specific information:

- [ ] Example website or more ideally a minimal test case.
- [ ] The actions required to trigger the problematic behaviour, or in other words "the steps to reproduce".

[2017-07-31 08:14] #4046 closed

[2017-07-31 08:20] feerrenrut commented on #6988
@fernando-jose-silva , In your most recent log I noticed that you have some addons enabled. Could you please disable these addons, and try this again. This can be done by selecting the "restart with addons disabled" option when quiting NVDA. Please report back on the result of this.

[2017-07-31 08:22] limaoscar commented on #6442
Hello, thanks for reopen it!
I tried your suggestion but unfortunately it still crashes, also it did not produce any crash dump
so I am attaching only the new log.
I followed the procedure to open python console over the java gui, it showed me the correct file path but after the PC has crashed and I have resytarted it , I could not find nay new crash under that path.
[NVDA_CRASH_nvda_snapshot_next

[2017-07-31 08:24] Qchristensen commented on #5160
Ok the original issue is correct.  In Windows 7, you can tab to that explorer pane when creating a portable copy.  As noted, none of this explorer pane reads with regular navigation.  The focus is actually on an Organise drop down button (pressing down arrow at that point correctly reads the options starting with cut, copy etc).  Instead of down arrow, if you press right arrow, you land on "New fo

[2017-07-31 08:30] Qchristensen commented on #5001
Brendan,  Can you please advise - are you able to use ANY Microsoft office program at all (either loading a document or opening a blank new document) - either Word, Excel, PowerPoint etc?  Also, can you please confirm which version of Windows you are using?

Also if you could please provide a full log when you get this freeze, that could be really helpful please.

The only other thing I was wonder

[2017-07-31 08:30] Brian1Gaff commented on #3976
All I can think of here is some logic that looks at the actual generation of
the clickable word or the codefor it, stores it and if the next word or code
is also clickableand no command is received in between, suppresses it.
 Of course then if the actual element has no text and nothing is spoken, and
the next item is different and also clickable this will not get spoken
either.
  I need a lie down

[2017-07-31 08:39] Qchristensen commented on #4992
I actually don't have either Office 2010 or 2013 handy, but testing in 2007 and 2016 which I do have handy, I found that alt+down arrow doesn't actually open the drop down list, it moves to the end of the text currently in the selected drop down list and unselected the text (which results in the current font being read again as unselected).  Pressing down arrow on its own does read each font name

[2017-07-31 09:06] feerrenrut commented on #7419
Yes, this is caused by https://github.com/nvaccess/nvda/commit/e5cc1931e0ebf4b37e72b1f634c30f9482543dcb . I am looking into a fix for this problem. While we could just try to block show/hide caret events for scintilla window classes (which fixes the problem in Notepad++) , it seems that this problem does not occur in at least one other Scintilla based editor (SciTE).

[2017-07-31 10:18] derekriemer commented on #7431
@jcsteh

[2017-07-31 10:26] derekriemer commented on #5573
How would you feel if we just simply made this a config value berried in advanced config?

[2017-07-31 10:31] derekriemer commented on #3392
I see no reason from a usability point why we shouldn't do this.

[2017-07-31 10:32] derekriemer commented on #3392
Closing in favor of #3958 because it's much more abstract. @feerrenrut do you know who should prioritize this?

[2017-07-31 10:32] #3392 closed

[2017-07-31 10:33] derekriemer commented on #5601
closing as duplicate and in favor of #3958

[2017-07-31 10:33] #5601 closed

[2017-07-31 10:37] derekriemer commented on #5754
@leonardder do you have a drupal install to test this on?

[2017-07-31 10:38] derekriemer commented on #6905
Showing the text visually is supported by the speech viewer. Closing because this works already given the above addons.

[2017-07-31 10:39] derekriemer commented on #6905
@ehollig mind pointing that link at the official addon on the addons site as well (Add a link to your report) so future people who look at this can find it?

[2017-07-31 10:40] derekriemer commented on #6905
okay, reopening,, as the speech view part was slightly different than I ghought.

[2017-07-31 10:41] derekriemer commented on #4900
Should we be using feature or enhancement?

[2017-07-31 10:42] derekriemer commented on #4900
whoops, slip of the finger, aaah

[2017-07-31 10:43] derekriemer commented on #4900
@feerrenrut p3 or p4?

[2017-07-31 11:26] derekriemer commented on #5082
wo, that's a thing, neat hang on

[2017-07-31 11:30] derekriemer commented on #5082
these directions do not bring up a chromeless ff for me

[2017-07-31 12:22] MarcoZehe commented on #5082
First I'm seeing of this bug, and never actually used this technique myself. If it brought up a chromeless window once, but does not now, I guess this bug is obsolete. Note that it's very likely that this was an experiment at some point which got stopped and the capability removed.

[2017-07-31 12:41] fernando-jose-silva commented on #6988
Thank you very much.

I ran the tests again, and to my surprise I did not have the problem anymore, the search field was located by walking with the arrow keys and pressing the letter e.

I do not know for sure what has changed from the previous week to today.

Actually nvda usually every Friday, and I am currently with the nvda master 14241.

The chrome is with automatic updates on, but I do not

[2017-07-31 12:59] tfri commented on #7449
1. Yes, both parts of Step 1 were done.
2. To open the Document Properties, Click File. Con the right where the properties are displayed, click the triangle beside the word Properties. Choose Show Document Panel.

[2017-07-31 15:58] bhavyashah commented on #5001
@Qchristensen No, some issues with regards to 'unknown' I had reported elsewhere with a system I no longer have access to may not be related to MS Office, because I am certain that one or the other version of Office was definitely installed on that laptop. MS Office may have been uninstalled at some point in time and reinstalled, but at the time of testing, MS Office was certainly present (whether

[2017-07-31 16:09] bhavyashah commented on #6986
If I am following @surfer0627 correctly, then I am unable to reproduce the said behaviour. NVDA does detect a list, two in fact, on the given page in Internet Explorer 11. However, a discrepency worth pointing out here is that there is only one list with 'l' in Firefox and two in IE 11, something worth a technical investigation. I would lean towards prioritizing a quick check as to why different l

[2017-07-31 16:14] bhavyashah commented on #5973
Alright. More dynamic things like Edge and evolving ARIA need the
attention anyways, as opposed to the soon-to-be-obsolete Flash.

On 7/31/17, Reef Turner <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.co

[2017-07-31 16:19] bhavyashah commented on #6048
CC @Qchristensen (our best bet on all-things-mousey, as in visual or sight-oriented or heavily involving the mouse :P)

[2017-07-31 16:28] bhavyashah commented on #6370
Alright.

[2017-07-31 16:41] bhavyashah commented on #5573
I reckon I'd be fine with it, givven that the messy hack to work with
advanced config was relatively risk-free and at least somewhat
user-friendly.

On 7/31/17, Derek Riemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah12

[2017-07-31 16:44] bhavyashah commented on #3392
Did you close this ticket accidentally? You just closed another
related ticket too, Derek. Feel free to undo anything unintentional,
either by reopening this one or its counterpart.

On 7/31/17, Derek Riemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com

[2017-07-31 17:00] leonardder commented on #3157
@cskchao: Could you confirm whether this works now, so we can close this issue?

[2017-07-31 17:13] bramd opened #7458 "Native driver for Handy Tech braille displays"
Currently, there are many braille display drivers that depend on an external DLL from the vendor. The Handy Tech driver is one of those. The DLL used for this driver is relatively large to distribute and this COM server has caused some crashes, performance problems and hard to debug issues in the past.

Rewriting the Handy Tech driver in native Python might solve some open issues and allows for be

[2017-07-31 17:16] leonardder opened #7459 "Provide a native driver for Hims displays"
I've started investigating some more details for a native driver for Hims devices today. This should fix #6063 and #6086.

One major problem is that Hims devices use a custom USB driver, which presents itself as a generic USB serial. However, it is neither native serial nor HID. I've tried to sniff the data sent from and to the device using a free tool called Device Monitoring Studio or [Free USB

[2017-07-31 18:33] elliott94 opened #7460 "NV Access Website: Suppress Browser HTTPS Warnings"
Since all pages on the main NV Access site are now served using HTTPS, browsers now throw a warning whenever a link is clicked that redirects to a standard HTTP link on the old NVDA-Project.org site. Could all cases of these links be changed to reference GitHub pages directly? This would fix these warnings from being displayed.

[2017-07-31 18:34] Laughingthunder commented on #5573
I agree. I've had issues with that ridiculous limit for years. My thought is that if I ask NVDA to read the contents of the clipboard, it should do so without imposing needless limits on the amount of text. For instance, if NVDA starts reading something, and I no longer wanted to do so, I can just press the control key. No big deal! I just don't see the reason for the limit in the first place, Exc

[2017-07-31 18:43] ehollig commented on #5611
It sounds like, from https://github.com/nvaccess/nvda/issues/5611#issuecomment-165316397 this issue has been resolved. I also was able to have NVDA speak typed characters in Edge and the Store with addons disabled.

[2017-07-31 18:44] josephsl commented on #5611
Hi, resolved in Creators Update and nVDA 2017.2 Will close. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Monday, July 31, 2017 11:43 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA fails to read typed characters on Windows 10 (#5611)

It sounds like, from #5611 (comment) <https://github.com/nva

[2017-07-31 18:47] ehollig commented on #5603
I do not see a brightness button in the action center. Can someone provide a clear STR? @jcsteh @josephsl

[2017-07-31 18:55] ehollig commented on #5671
This works as expected for me in Firefox 54.0.1. @abdullah5490 is this still happening with the latest version of Firefox and latest NVDA? You may also want to try this with addons disabled in Firefox, in case one may be causing issues.

[2017-07-31 19:06] leonardder commented on #7306
[**@jcsteh**](https://github.com/jcsteh) commented on [20 jul. 2017 01:55 CEST](https://github.com/nvaccess/nvda/issues/7306#issuecomment-316555321 "2017-07-19T23:55:47Z - Replied by Github Reply Comments"):

This is interesting. However, what would nvda+Control+Shift+H look like, for example? Initially, the idea of #6213 popped into my mind due to the amount of function keys on Hims displays whic

[2017-07-31 19:07] ehollig commented on #5768
This sounds related to #5699

[2017-07-31 19:09] ehollig commented on #5731
@pnikesh are you still having this problem with the latest version of Adobe Reader? It sounds like from https://github.com/nvaccess/nvda/issues/5731#issuecomment-181419661 that this issue has been resolved and can be closed.

[2017-07-31 19:11] leonardder commented on #7458
Great initiative. I've seen it working quite well already.

The following issues could be tackled in this:

* #5806: Basic Braille 40: No Panning Commands
* #5774: Basic Braille 40: Wrong label for braille display keys
* #4775: Support for HandyTech Active Tactile Control. This support should and will probably be very basic though

This driver might depend on functionality to be enabled or disable

[2017-07-31 19:17] leonardder commented on #6063
[**@jage9**](https://github.com/jage9) commented on [24 mei 2017 02:57 CEST](https://github.com/nvaccess/nvda/issues/6063#issuecomment-303583719 "2017-05-24T00:57:20Z - Replied by Github Reply Comments"):

Actually, I think this can be done in one driver, without having separate ones. I opened #7458 and I can do this as a part of it.

[2017-07-31 19:19] leonardder commented on #6436
This is already backed out. I'm planning to put all future Hims efforts into #7459, so I guess this can be closed if we agree that this is the right way to go.

[2017-07-31 19:24] leonardder commented on #5416
@khsbory: Could you provide an update for this issue? Does it still occur?

[2017-07-31 19:26] leonardder commented on #4857
@khsbory: Could you provide an update for this issue? Does it still occur?

[2017-07-31 19:30] leonardder commented on #4220
@khsbory: What you could do is the following:

1. Place the mouse where you want to start reading
2. Press nvda+shift+n (laptop lay-out) or NVDA+numpad multiply (desktop layout)
3. Press NVDA+shift+a (laptop layout) or numpad plus (desktop layout)

Would that be an option for you?

[2017-07-31 19:35] ehollig commented on #2399
According to [Wikipedia](https://en.wikipedia.org/wiki/Microsoft_Word_Viewer), Word Viewer is discontinued and download will be unavailable in November 2017.

[2017-07-31 20:34] abdullah5490 commented on #5671
@ehollig it sometime works, and sometime not. even I don't have any add-on enabled

[2017-07-31 21:25] ruifontes commented on #5603
1 - Press Windows+A;
2 - If you land in Expand quick Actions, press Enter to expand;
3 - Tab once and with the arrows look by Brightness button. In my case is 8
of 16...;

By the way, NVDA announces 16 items but only shows 15...

Rui

-----Mensagem Original-----
De: Ethan Holliger
Data: 31 de julho de 2017 20:10
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Windows 10: brightness

[2017-07-31 23:19] jcsteh commented on #6436
Closing, since the regression is fixed. Note that #6063 remains open, since we don't have a fix for that yet which doesn't break other things.

[2017-07-31 23:19] #6436 closed

[2017-07-31 23:26] jcsteh commented on #5611
Reporting of typed characters in UWP apps was fixed in #6017. Closing as a duplicate of #6017.

[2017-07-31 23:26] #5611 closed

[2017-07-31 23:27] ehollig commented on #5822
@derekriemer were you going to submit a PR for this?

[2017-07-31 23:34] ehollig commented on #5971
I am not able to replicate this. I set NVDA to Always duck on both a portable and installed copy. Restarting NVDA several times still had the setting for Always duck set. Could we possibly have more information on steps to reproduce the issue or a log set to debug?

[2017-07-31 23:37] jcsteh commented on #6988
Thanks for the update! Closing.

[2017-07-31 23:37] #6988 closed

[2017-07-31 23:42] jcsteh commented on #7431
Confirmed. STR:

1. Switch to the Windows OneCore Voices synthesiser.
2. Play some music.
3. Use NVDA+shift+d to set NVDA's audio ducking mode to "Duck when outputting speech and sounds".
    - Expected: After NVDA finishes speaking, audio should be unducked after a short delay.
    - Actual: NVDA finishes speaking, but audio is never unducked.

I must be missing a call to WavePlayer.idle somewher

[2017-07-31 23:47] ehollig commented on #5896
I can confirm this in Office 2016 as well. I was able to replicate this with two links on their own line.

[2017-08-01 00:10] jcsteh commented on #7459
[**@leonardder**](https://github.com/leonardder) commented on [1 Aug 2017, 03:16 GMT+10](https://github.com/nvaccess/nvda/issues/7459#issue-246823182 "2017-07-31T17:16:27Z - Replied by Github Reply Comments"):

Note that I do now have the documentation for HanSoneConnect.dll, which should allow us to fix #6063 for the current driver. We can discuss getting you access to those docs if you're intere

[2017-08-01 00:36] jcsteh commented on #7306
[**@leonardder**](https://github.com/leonardder) commented on [1 Aug 2017, 05:06 GMT+10](https://github.com/nvaccess/nvda/issues/7306#issuecomment-319165870 "2017-07-31T19:06:56Z - Replied by Github Reply Comments"):

With Narrator, you'd do the following (changing NVDA to caps lock because that's what Narrator uses): space+dot8+dot6 (hold caps lock), space+dot8+dot3 (hold control), space+dot8+dot

[2017-08-01 00:38] ehollig commented on #3677
Can this, as well as #2824 be marked as a duplicate as it sounds like there are other tickets that are covering this topic. Also, NVDA does not use track anymore, which is used to reproduce the issues.

[2017-08-01 00:53] ehollig commented on #3581
I think this should have been closed from [e15e8ad](https://github.com/nvaccess/nvda/commit/e15e8ad9f24f3fd737ca12dd3fd127dfad438769).

[2017-08-01 00:57] ehollig commented on #4298
As @Brian1Gaff said in https://github.com/nvaccess/nvda/issues/4298#issuecomment-155322226, it sounds like this is a hardware issue if the problem is occurring with other screen readers as well. Can this be closed?

[2017-08-01 01:06] derekriemer commented on #5822
some day

[2017-08-01 01:11] ehollig commented on #4882
I can not reproduce this using NVDA Master and Firefox 54. Can anyone else reproduce this?

[2017-08-01 01:15] derekriemer commented on #5573
On the contrary, what if "a" was on the clipboard 3,000,000 times. This is well known to lock many many synths and make NVDA useless.

[2017-08-01 01:16] jcsteh commented on #7393
Feedback on this issue, #7218, these two [nvda-devel](http://nabble.nvda-project.org/New-sounds-in-next-snapshots-td42138.html) [threads](http://nabble.nvda-project.org/Feedback-from-me-on-new-sounds-td42079.html), social media and elsewhere suggests that while some users are happy with the new sounds, a significant number of users have concerns (e.g. difficulty in discerning the sounds) or are ve

[2017-08-01 01:16] #7393 closed

[2017-08-01 01:17] derekriemer commented on #3392
Nope, I need to mark it as a duplicate though. I have a comment explainin why I closed it, because #3908 is more abstract and general.

[2017-08-01 01:22] #6062 closed

[2017-08-01 01:22] derekriemer commented on #6062
This seems to have mistreriously gone away.

[2017-08-01 01:35] jcsteh commented on #5382
Feedback on #7218 , #7393, these two [nvda-devel](http://nabble.nvda-project.org/New-sounds-in-next-snapshots-td42138.html) [threads](http://nabble.nvda-project.org/Feedback-from-me-on-new-sounds-td42079.html), social media and elsewhere suggests that while some users are happy with the new sounds, a significant number of users have concerns (e.g. difficulty in discerning the sounds) or are veheme

[2017-08-01 01:35] #5382 closed

[2017-08-01 01:39] jcsteh commented on #1007
We attempted to change the default sounds in #7218, but users were quite divided as to the new sounds being better or worse, so this has been reverted. We will not consider a change to the default sounds in the near term. Our current thinking is that in future, we should allow add-ons to provide sound packs, though this would probably require a small global plugin to hook the playWave function (#3

[2017-08-01 02:00] derekriemer commented on #5082
I'll close as invalid for now, if anyone rediscovers this, reopen please.

[2017-08-01 02:00] #5082 closed

[2017-08-01 02:06] derekriemer commented on #5335
To make the gui act like a terminal isn't hard. I'd do a p4 @feerrenrut  because maybe I'll fix it some day.

[2017-08-01 02:13] derekriemer commented on #5556
Are you happy for this to be closed?

[2017-08-01 02:25] ehollig commented on #6179
I am not sure if I am performing the steps correctly, but when I press T to go to the table, I am presented with a checkbox. When I press alt+CTRL+right, I get the sender, alt+CTRL+right then returns the subject/first few lines of the message. performing that command again gives the time/date the message was sent. Everything works as expected using Firefox 54.
Possibly related: #4272

[2017-08-01 02:29] #6952 closed

[2017-08-01 02:31] bhavyashah commented on #6179
@fernando-jose-silva  Could you please inform us if about whether bug still persists or not? If it does, please mention the web browser(s) and their respective version(s) with which the same can be replicated.
My testing is akin to that of @ehollig. As a regular GMail Basic HTML web interface user with Firefox, I have never experienced such an issue.

[2017-08-01 02:32] ehollig commented on #6254
In Office 2016, I experience the same results as https://github.com/nvaccess/nvda/issues/6254#issuecomment-239054545. It would be helpful to know which version of Excel is being used that experiences this issue. CC @sumandogra

[2017-08-01 02:38] bhavyashah commented on #5556
@elliott94 said 'I'm happy for this to be closed unless anybody else can provide feedbac.' in https://github.com/nvaccess/nvda/issues/5556#issuecomment-315850082. Since no additional feedback has been received in the past two weeks with regards to this issue, I suppose we can safely close this ticket. @derekriemer @feerrenrut

[2017-08-01 02:49] ehollig commented on #4269
@bhavyashah are you still able to replicate this? I am not able to using Windows 10. I wonder if this has to do with the manufacturers volume control versus Microsoft's Volume control.

[2017-08-01 02:49] bhavyashah commented on #1007
Umm, shouldn't we give another try to a different sound pack, in the
hope that something more likeable might be produced? We should
experiment with at least a couple sound schemes with users before we
throw in the towel. After all, every setback is a setup for a new
comeback. :D
On a serious note too, I do believe, that if prioritization and
circumstance permits, we should give a shot to at least

[2017-08-01 02:49] #5770 closed

[2017-08-01 02:51] jcsteh commented on #4682
@dkager, am I correct that this is fixed by #6775? It seems to work for me, but I know you felt #5770 and this issue were a bit different.

[2017-08-01 02:55] #5556 closed

[2017-08-01 02:58] #6188 closed

[2017-08-01 02:58] #6836 closed

[2017-08-01 02:58] #7367 closed

[2017-08-01 03:00] bhavyashah commented on #3392
Figured. BTW, #3908 is not what you meant in your last comment. Feel free to edit.

[2017-08-01 03:02] derekriemer commented on #3392
[**@bhavyashah**](https://github.com/bhavyashah) commented on [Jul 31, 2017, 9:00 PM MDT](https://github.com/nvaccess/nvda/issues/3392#issuecomment-319254413 "2017-08-01T03:00:44Z - Replied by Github Reply Comments"):

Nice catch, thanks!

[2017-08-01 03:02] #5741 closed

[2017-08-01 03:03] feerrenrut commented on #4900
I don't think that we need to provide a priority on this, essentially because it is a feature its unlikely to get worked on outside of a project. Bugs come first.

Before we leave this issue, do we understand the use case here?

I think the most important part of the initial description is the last part:

Ignoring the suggested implementation for a moment, perhaps we can consider the request as a

[2017-08-01 03:10] bhavyashah commented on #5573
While I disagree that limits are needless, I do think a 500 to 1000
character extension or the ability to customize the same would be
welcomed by all.

On 8/1/17, Derek Riemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah

[2017-08-01 03:14] bhavyashah commented on #4882
Neither can I. This is too old an issue and it is quite unlikely that this bug still stands. Unless we receive any feedback stating otherwise, within, let's say the next week or two, I would suggest closing. @feerrenrut

[2017-08-01 03:15] jcsteh commented on #1007
[**@bhavyashah**](https://github.com/bhavyashah) commented on [1 Aug 2017, 12:49 GMT+10](https://github.com/nvaccess/nvda/issues/1007#issuecomment-319252952 "2017-08-01T02:49:36Z - Replied by Github Reply Comments"):

No alternatives have been proposed over the years that don't fail to meet the requirements in #7218 in some way. From the feedback received, there isn't even sufficient clear, common

[2017-08-01 03:20] Qchristensen commented on #6048
It's a tricky one.  You might have a page which has onMouseOver events for all its links, but all they do is visually highlight the link in some way.  But you might also have a site which displays a submenu as an onMouseOver event.  If it has implemented it such that you can get to the submenu with the keyboard anyway, then you still probably don't need to know about the onMouseOver event.  There'

[2017-08-01 03:34] feerrenrut commented on #5001
If we can get some more information on this issue then we can reopen it. For now I will close it with the assumption that it is no longer a problem.

[2017-08-01 03:34] #5001 closed

[2017-08-01 03:42] feerrenrut commented on #6986
In that case its better to close this issue and open a new one describing that issue directly, there is too much noise on this issue which distracts from the difference between Firefox and IE. Could you please open a new issue to describe the difference in behaviour that you have noticed?

@surfer0627 if you are able to reproduce this and would like to work with us to try to narrow down the cause,

[2017-08-01 03:42] #6986 closed

[2017-08-01 03:44] bhavyashah commented on #6986
Alright, will do that (not sure when though).

On 8/1/17, Reef Turner <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.com/BhavyaShah125
Mobile Number: +91 7506221750

[2017-08-01 04:15] feerrenrut commented on #6048
As mentioned already, at best this issue is blocked by the need to be able to get the information. However before we can apply the blocked label and a priority we should elaborate on the value this would provide. I don't think we have a solid understanding of how frequently a user misses useful information due to being unaware of the mouse over action, and what the consequence of this is.

[2017-08-01 05:59] jcsteh commented on #7033
I haven't filed a bug for this yet. Someone else is welcome to do so... or I'll get to it eventually. I'll update the issue with a bug number when I file one.

[2017-08-01 06:12] leonardder commented on #7459
[**@jcsteh**](https://github.com/jcsteh) commented on [1 aug. 2017 02:10 CEST](https://github.com/nvaccess/nvda/issues/7459#issuecomment-319231122 "2017-08-01T00:10:04Z - Replied by Github Reply Comments"):

Yes, exactly.

It is called Hims USB Driver, not very helpful. Interesting enough, the driver installer also seems to install some FTDI stuff.

This is the newer models driver, right?

[Here](

[2017-08-01 06:36] jcsteh commented on #7459
[**@leonardder**](https://github.com/leonardder) commented on [1 Aug 2017, 16:12 GMT+10](https://github.com/nvaccess/nvda/issues/7459#issuecomment-319278002 "2017-08-01T06:12:32Z - Replied by Github Reply Comments"):

Very likely FTDI then.

Yup: papenmeier.py. See the calls to the ftdi2 module.

[2017-08-01 06:49] Brian1Gaff commented on #3677
Also, does anyone still use IE8, even on XP?
 Its actually now being chucked off many web sites if you try.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Ethan Holliger" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc:

[2017-08-01 06:50] leonardder commented on #7459
[**@jcsteh**](https://github.com/jcsteh) commented on [1 aug. 2017 08:36 CEST](https://github.com/nvaccess/nvda/issues/7459#issuecomment-319281670 "2017-08-01T06:36:52Z - Replied by Github Reply Comments"):

I'm afraid not, since none of the VID?PID combinations for the Hims devices belong to the FTDI part of the driver. But, I can always try to talk to the display using the ftdi2 module and see w

[2017-08-01 08:22] Brian1Gaff commented on #4882
Well this effect can occur momentarily on slow machines in a similar way to
repeated blank or some other random spoken text in Firefox as it is
notorious, especially the first time it runs in a session for causing nvda
watchdog operation and lots of apparent messing about. It is what it is and
seems not to cause any issues. Far more likely seems to be the  tendency for
Firefox to not go into its s

[2017-08-01 11:35] fernando-jose-silva commented on #6179
Perfect, the problem has been solved, there have been several updates since the problem was opened.
Thank you very much for your attention.

Enviado do meu iPhone

[2017-08-01 12:55] Laughingthunder commented on #5573
You have a good point about the repeated letters on the clipboard. That could definitely messed things up. So, I agree. There should be some sort of limit, but it should definitely be configurable. And, if possible it should just be expose in one of the preferences dialogs.

Sent from my iPhone

[2017-08-01 14:13] leonardder commented on #2824
Closing this one as a duplicate of #3677, as it is specifically related to a table in the old Trac system, which is no longer in use.

[2017-08-01 14:13] #2824 closed

[2017-08-01 14:15] leonardder commented on #3677
Closing this:

1. The NVDA project no longer uses Trac
2. IE8 is obsolete, XP users should at least consider to use something more up to date.

if this issue can be reproduced for another website and a newer version of IE (preferably IE11), please raise a new issue.

[2017-08-01 14:15] #3677 closed

[2017-08-01 16:26] leonardder commented on #7459
Looking in my mail archive, I found a mail from Hims with relevant details. The USb driver is a [Bulk driver](https://msdn.microsoft.com/en-us/library/windows/hardware/ff540174(v=vs.85).aspx). As I didn't have an idea what bulk was supposed to mean, I simply ignored that word, thinking that it hadn't any value, but it seems it has.

[2017-08-01 17:39] ehollig commented on #1609
@elliott94, this is now possible with the [Speech History](https://addons.nvda-project.org/addons/speech_history.en.html) addon. I do not know if this will become a core feature of NVDA though. Is this what you were looking for?

[2017-08-01 17:47] ehollig commented on #1807
Can anyone confirm this still is the case with Windows 8.1, as I believe Windows 8 was succeeded by 8.1? CC @josephsl @bhavyashah

[2017-08-01 18:23] dkager commented on #4682
I believe I initially wanted to do the selection code in two steps: first for left/right selections on a single line in #5770 and then multi-line selections in this issue. But in the end I did both, so yes this is fixed.

[2017-08-01 18:23] #4682 closed

[2017-08-01 19:59] fernando-jose-silva commented on #1409
I would just like to put my point of distress.
I resuscitated the voice of the nvda to use the voices of windows onecore, this to be able to use the functionality of reading of the emugis.
The voice in Brazilian Portuguese is very low.
One thing that's bothering me a lot is how I had to add to the sound of nvda. The sounds of nvda were almost unbearable when wearing headphones.
So I would suggest

[2017-08-01 21:54] #7431 closed

[2017-08-01 22:11] ehollig commented on #5834
Any update on this issue? If you could provide an updated test case, along with the tested browser so that I and others can replicate this issue. @zersiax

[2017-08-01 22:31] ehollig commented on #6251
@alex-dolbik, could you provide an example site where this occurs? Also, which browser and version of NVDA are you using? Having more information like this will help me, and others, replicate the issue.

[2017-08-01 23:17] #3050 closed

[2017-08-01 23:26] ehollig commented on #5970
As @jcsteh said in https://github.com/nvaccess/nvda/issues/5970#issuecomment-220575872, "You can use NVDA's review cursor and object navigation to access
information in Windows Update." It unfortunately does not appear that Windows allows you to uncheck particular updates. CC @josephsl for any additional information.

[2017-08-01 23:29] ehollig commented on #6168
@michaelDCurran, is this fixed in NVDA 2017.2 or will this be fixed as apart of #7289?

[2017-08-01 23:32] josephsl commented on #5970
Hi, the UI presentation has seen some changes in Fall Creators Update (where each update item will present its own download/installation status), but as noted before, you cannot check individual updates to not be installed. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Tuesday, August 1, 2017 4:27 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee2259

[2017-08-01 23:43] michaelDCurran commented on #6168
This is again fixed in 2017.3 in pr #7295. It was originally fixed, but
then broke due to issue #7289.

[2017-08-01 23:48] michaelDCurran commented on #6168
Originally fixed in PR #6271.  It regressed due to Windows 10 Creators Update, and was again fixed in PR #7295.

[2017-08-01 23:49] #6168 closed

[2017-08-01 23:50] #217 closed

[2017-08-01 23:58] #7188 closed

[2017-08-02 00:30] ehollig commented on #4647
@jcsteh has this been fixed in Liblouis for Spanish computer braille?

[2017-08-02 00:37] #4511 closed

[2017-08-02 00:45] ehollig commented on #5564
@dave090679, it appears the Dropbox link gives me an error. Is this error still occurring for you?

[2017-08-02 00:46] jcsteh commented on #1418
Before #7433 (which has only happened in the last couple of weeks), dialogs in all browsers (except Edge) did not use browse mode. Due to changes in ARIA 1.1 and the prevalence of web dialogs relying on users being able to browse document content (including Facebook), PR #7433 (issue #4493) changes this so that browse mode is used for dialogs.

Closing as a duplicate of #4493.

[2017-08-02 00:46] #1418 closed

[2017-08-02 00:49] jcsteh commented on #4647
Honestly, I have no idea. :(

[2017-08-02 00:50] jcsteh commented on #4647
If this issue still exists, it should be [filed as a liblouis issue](https://github.com/liblouis/liblouis/issues/new). Also, we can't contact the original reporter, so have no way of confirming. Closing.

[2017-08-02 00:50] #4647 closed

[2017-08-02 00:51] ehollig commented on #5850
@nimerjaber, just sending a friendly reminder to respond to @jcsteh's comment in https://github.com/nvaccess/nvda/issues/5850#issuecomment-311829076. Also, it appears that the [ChromeIssue:600219](https://bugs.chromium.org/p/chromium/issues/detail?id=600219) was fixed in November 2016.

[2017-08-02 01:03] ehollig commented on #5002
This issue concerns Trac, which NVDA no longer uses. Closing

[2017-08-02 01:03] #5002 closed

[2017-08-02 01:17] #7286 closed

[2017-08-02 01:25] ehollig commented on #5757
The original poster can no longer reproduce this issue. Closing

[2017-08-02 01:25] #5757 closed

[2017-08-02 01:36] ehollig commented on #3093
Per https://github.com/nvaccess/nvda/issues/3093#issuecomment-316922219, closing

[2017-08-02 01:40] ehollig commented on #5485
Per https://github.com/nvaccess/nvda/issues/5485#issuecomment-316145926, closing

[2017-08-02 01:41] #5485 closed

[2017-08-02 01:44] ehollig commented on #4730
Thanks for the update. Closing as invalid

[2017-08-02 01:44] #4730 closed

[2017-08-02 01:46] #5655 closed

[2017-08-02 01:46] #6652 closed

[2017-08-02 01:46] #7382 closed

[2017-08-02 02:00] ehollig commented on #2832
Thanks for the update. Closing as worksforme

[2017-08-02 02:00] #2832 closed

[2017-08-02 02:08] ehollig commented on #5525
Thank you for the update. Closing for now. If you find that this problem still exists, we can reopen this issue.

[2017-08-02 02:08] #5525 closed

[2017-08-02 02:21] ehollig commented on #4062
I am experiencing the same results as @jcsteh in https://github.com/nvaccess/nvda/issues/4062#issuecomment-155319401 when ESpeak is set to Russian. Closing, but please let me know if I am wrong as I do not speak Russian.

[2017-08-02 02:21] #4062 closed

[2017-08-02 03:20] fisher729 opened #7466 "NVDA and Windows 10 Mail: Error when backspace is pressed"
Steps to Reproduce:
1. Open Windows 10 Mail
2. Go to a message in the message list.
3. Select it. It opens in browse mode.
4. Press Backspace to go back to the message list.
An error sound plays in the snapshots. I have attached a brief portion of my log. Running the latest Master snapshot of NVDA. This also occurs with add-ons disabled, so that's not the issue.
IO - inputCore.InputManager.execute

[2017-08-02 03:40] fisher729 commented on #5789
Hi.

Any updates on this ticket. It might be easy to fix, but it hasn't been looked at as yet...

[2017-08-02 03:44] fisher729 commented on #5630
I opened this ticket with a different account. I initially thought about it in Word, but I'm trying to see how it could be implimented to recognise spelling errors in a Firefox edit field or something, without browse mode. That is just an example. Perhaps this cannot be done.

[2017-08-02 04:47] #7122 closed

[2017-08-02 06:04] bhavyashah commented on #6873
Since this sounds fairly trivial to tackle, could we come back to this for a bit? @jcsteh @josephsl
By the way, instead of removing the section of Nuance Vocalizer altogether, I believe we would be able to do more justice to all TTS engines by simply mentioning all in one list. Details regarding each can be obtained from the Get Extra Voices page to which we have already linked, but a comprehensiv

[2017-08-02 06:10] bhavyashah commented on #6447
Since this ticket has a P2 priority and documentation usually seems to me a relatively less tricky aspect, could this please be looked into?

[2017-08-02 06:15] bhavyashah commented on #6444
In case @jacobchawala, maybe @Qchristensen and others do not have supporting arguments or further inputs with regards to the multiple suggestions put forth in this ticket, and taking into account @jcsteh's counter-arguments present in https://github.com/nvaccess/nvda/issues/6444#issuecomment-253112202, can this ticket be closed?

[2017-08-02 06:18] bhavyashah commented on #6315
CC @jcsteh

[2017-08-02 06:36] bhavyashah commented on #7394
I believe @josephsl was working on some documentation issues in the recent past. Could you fix this one too?

[2017-08-02 06:41] bhavyashah commented on #6811
@jcsteh Do we have an accurate picture of the UX of this feature request, or is more discussion necessary before the same can be ascertained properly?

[2017-08-02 06:48] bhavyashah commented on #6648
We still have some debate with regards to the UX of this suggestion. Thoughts/inputs? @jcsteh @leonardder @dkager and other participants...

[2017-08-02 07:07] bhavyashah commented on #6582
@jmuheim  @feerrenrut @iamrauu What is the final conclusion with regards to the UX of this ticket? Do we want an option to clear the contents of the speech viewer, do we want an unbound assignment for toggling the speech viewer, or something else? A summary would be helpful to understand the scope and impact of this feature suggestion.

[2017-08-02 07:10] bhavyashah commented on #5848
A friendly ping to @jcsteh, @feerrenrut and other reviewers to take a look at the PR submitted by @nvdaes , since it seems to be almost four months old.

[2017-08-02 07:14] bhavyashah commented on #5650
@jcsteh I realize that the last activity on this ticket is just a little over a fortnight old, but still, a gentle ping to you and perhaps @josephsl to resolve the reported documentation issue whenever convenient.

[2017-08-02 07:24] bhavyashah commented on #5072
@derekriemer Could you please follow-up with @jcsteh with regards to https://github.com/nvaccess/nvda/issues/5072#issuecomment-155338711? If Derek agrees, we should be able to safely close this ticket. @ehollig

[2017-08-02 07:35] bhavyashah commented on #5071
@derekriemer Could you please respond to https://github.com/nvaccess/nvda/issues/5071#issuecomment-155338688? As the author of the Microsoft Excel training module from NV Access, @Qchristensen's inputs would also be valuable.

[2017-08-02 07:37] bhavyashah commented on #5059
CC @jcsteh @Qchristensen

[2017-08-02 07:38] bhavyashah commented on #4864
CC @jcsteh

[2017-08-02 07:41] bhavyashah commented on #4837
@leonardder Could you please share an update about the progress of this feature's implementation?

[2017-08-02 07:43] bhavyashah commented on #4540
Feel free to close this ticket...

[2017-08-02 07:54] bhavyashah commented on #4359
@jcsteh Please excuse https://github.com/nvaccess/nvda/issues/4359#issuecomment-155324454 and feel free to close this ticket. @ehollig

[2017-08-02 07:56] bhavyashah commented on #4039
Any updates? @jcsteh @josephsl

[2017-08-02 07:58] bhavyashah commented on #4020
CC @jcsteh @josephsl @Qchristensen

[2017-08-02 08:06] josephsl commented on #5650
Hi, once I get more feedback on #7309 (touch keyboard), I’ll remind myself to implement suggestions on this issue. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 12:14 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA User Guide and touch comm

[2017-08-02 08:09] #4540 closed

[2017-08-02 08:11] josephsl commented on #4039
Hi, a much improved developer guide is in the works and more edits are being planned (may need to locate the one I raised a few weeks ago), and I’d like to focus my 2017.4 efforts on documentation improvements. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 12:57 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>;

[2017-08-02 09:58] derekriemer opened #7467 "provide a way for addons to state that their section should apply to only base config"
STR:
do this in the python console.
import config;config.conf.spec["nb1"]={"sharksBite":'string("default="painfully")'}
config.conf["nb1"]
That works.
Now try this.
config.conf.spec["nb2"]={"dogsBark":'string(default="loudly")'}
config.conf.BASE_ONLY_SECTIONS.add("nb2")
config.conf["nb2"]
You get a key error.

This is a problem for addons such as tip of the day (refactor coming soon), crash hero,

[2017-08-02 10:09] derekriemer commented on #5741
[**@kvn-dh-zeus**](https://github.com/kvn-dh-zeus) commented on [Jul 24, 2017, 5:33 AM MDT](https://github.com/nvaccess/nvda/issues/5741#issuecomment-317395337 "2017-07-24T11:33:57Z - Replied by Github Reply Comments"):

It'll be live in about 3 weeks. The RC for 2017.3 is about 2 weeks away, and after that, the 2017.3 release will be a week later barring any bugs, to which we'll delay until they

[2017-08-02 10:33] dkager opened #7468 "New braille context presentation modes sometimes break panning backwards"
### Steps to reproduce:

1. Open the NVDA Log Viewer (NVDA+n, T, V).
2. Pan braille backwards.

NB: The context presentation mode in use doesn't matter.

### Expected behavior:

The braille dispay shows "NVDA Log Viewer multi line ro edt".

### Actual behavior:

Nothing happens.

### System configuration:

NVDA version: master-14282,1ce6e944
I traced this to commit 1785d5f32 (merged #7236).

### O

[2017-08-02 11:23] zstanecic commented on #7468
i can comfirm that using the latest snapshot and handytech braille wave display without bluetooth from source.

[2017-08-02 12:38] dreinn opened #7469 "Braille Cursor routing bring to the next characther"
### Steps to reproduce:
Open a text editor, I tried notepad, thunderbird new message and this edit field on Google Chrome.
Press a cursor routing.
The cursor will be positioned a charachter after your desired position.
For example if you have the word NVDA, and you want the cursor to the D charachter, after pressing cursor routing you will be positioned on the A charachter.
This behaviour is prese

[2017-08-02 12:58] derekriemer commented on #5573
his has been marked good for new dev, and help wanted. I'd love to see a pr for it.

Hint: you'll need to modify the global command.

[2017-08-02 13:28] derekriemer commented on #7468
@leonardder

[2017-08-02 13:36] derekriemer commented on #5072
I think this can be closed, but I do want to state again that it is way to difficult to find things if you are a beginner. I'd prefer the link on nvaccess.org to somehow link to all the important project links, because many users will struggle to realize that they have to click through from github to the wiki (On a separate github repo). It's at least 2 clicks to get to the wiki, after clicking th

[2017-08-02 13:54] leonardder commented on #7469
Could you try this with a much older version of NVDA, e.g. 2016.3? This
looks like an issue in the MDV Lilli driver. What braille table are you
using?

[2017-08-02 13:55] leonardder commented on #7468
Ugh, let me investigate this either today or tomorrow, but as soon as
possible anyhow.

[2017-08-02 14:25] dreinn commented on #7469
Hello,
I have a very old NVDA 2014.2 installed on this pc, because I have no
admin rights.
The problem is the same. My table is italian 8 dots, but I tried to
change it to German or English unified braille, same thing. Cursor
routing is always one charachter after the proper position.
So you assume it is a problem of lilli driver?
I will ask some friends to make some tests about it, they have that

[2017-08-02 14:51] ehollig commented on #4359
As requested in https://github.com/nvaccess/nvda/issues/4359#issuecomment-319597008

[2017-08-02 14:51] #4359 closed

[2017-08-02 15:14] derekriemer commented on #7382
take this example.

data:text/html, <p>Prepare for a table</p><table><tr><th>Header 1</th><th>Header 2</th></tr><tr><td>Outer table cell 1</td><td>Outer table cell 2</td></tr><tr><td><table><tr><th>Inner table cell 1</th><td>Inner table cell 2</td></tr></table></td><td>Outer table cell 4</td></tr><tr><td>Outer table cell 5</td><td>Outer table cell 6</td></tr></table>

Table nav still traps the use

[2017-08-02 15:20] nvdaes commented on #5848
Hi, I think it's better to look at the issue related to VitalSource,
better evaluated than Azardi regarding to accessibility for reading
ePUB. I use vitalSource now and not Azardi, and finally I checked that
the problem regarding to focus doesn't occur with Narrator.
Cheers.

2017-08-02 9:10 GMT+02:00, bhavyashah <notifications@github.com>:

[2017-08-02 16:00] #3093 closed

[2017-08-02 16:09] ehollig commented on #6732
@beqabeqa473 it appears that your issue is blank. Could you please provide exact steps to reproduce as well as a description of the issue you are having?

[2017-08-02 16:13] tspivey commented on #7395
Everything's completely normal. I'm able to use Edge, navigate around, etc.
This time, I had UIA disabled for something. No difference, NVDA is still unusable.

[2017-08-02 16:14] beqabeqa473 commented on #6732
hi.

in visual studio 2015 installer states of checkboxes aren't accessible.

the problem is that checkable object is inside of list item and is not navigable with arrow keys

[2017-08-02 16:25] ehollig commented on #2833
I am not exactly sure what the original poster is referring to. Any ideas @Brian1Gaff?

[2017-08-02 16:27] ehollig commented on #2008
Any thoughts on this issue? CC @jcsteh @josephsl and others

[2017-08-02 16:30] ehollig commented on #3795
This appears to have been implemented in 2014.4. Closing. Please reopen if I have misunderstood.

[2017-08-02 16:30] #3795 closed

[2017-08-02 16:32] fisher729 commented on #4937
@jcsteh, do you think this issue can be closed? I have certainly seen this fixed by issues such as #6010. I haven't seen this happen in a very long time.

[2017-08-02 16:38] fisher729 commented on #4400
@jcsteh, perhaps this issue should be closed, as some of these voices have been included in eSpeak NG, and, based on feedback I got for raising a similar issue, submitting this to the devs of eSpeak NG would be the better solution.

[2017-08-02 16:39] ehollig commented on #6179
Closing from https://github.com/nvaccess/nvda/issues/6179#issuecomment-319345508

[2017-08-02 16:39] #6179 closed

[2017-08-02 16:47] JamaicanUser commented on #4243
As the person that initially reported this, I can confirm that this issue has long been resolved.

[2017-08-02 16:47] josephsl commented on #4937
Hi, live region change announcement takes care of it, and I did work on specific issues with logonui and touchscreen support. Thanks.

From: fisher729 [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 9:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows Logon: Incorr

[2017-08-02 16:48] ehollig commented on #4243
Thanks for the update. Closing

[2017-08-02 16:48] #4243 closed

[2017-08-02 16:54] fisher729 commented on #4272
I have seen Narrator read the link as if it were one line using Microsoft Edge.

[2017-08-02 16:56] leonardder commented on #7469
[**@dreinn**](https://github.com/dreinn) commented on [2 aug. 2017 16:25 CEST](https://github.com/nvaccess/nvda/issues/7469#issuecomment-319688662 "2017-08-02T14:25:33Z - Replied by Github Reply Comments"):

So it seems it has been there since the driver is there. Could you report what happens in Next if you press the cursor routing cell above cell 40?

[2017-08-02 17:01] ehollig commented on #3920
Any updates on this one? CC @josephsl

[2017-08-02 17:03] ehollig commented on #5261
CC @jcsteh @josephsl

[2017-08-02 17:04] josephsl commented on #3920
Hi, at this point, it would be preferable to move to Windows 10 version. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 10:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mail client in Windows 8 no speech in messagefield (#3920)

Any upda

[2017-08-02 17:05] leonardder commented on #7382
[**@derekriemer**](https://github.com/derekriemer) commented on [2 aug. 2017 17:14 CEST](https://github.com/nvaccess/nvda/issues/7382#issuecomment-319703500 "2017-08-02T15:14:20Z - Replied by Github Reply Comments"):

You can leave the inner table with comma, so I think that is at least something. But I agree that data tables inside data tables should be treated as layout tables.

[2017-08-02 17:09] leonardder commented on #2008
@ragb: Could you provide a rationale on why you think urllib2 should be preferred over urllib?

@josephSL: Do you use urllib2 in the add-on update mechanism?

[2017-08-02 17:10] josephsl commented on #2008
Hi, not just yet, as I want to make sure the basic implementation is ready (making sure I and NV Access work on a server implementation and the database). See #3208 for details. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 10:09 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.

[2017-08-02 17:12] leonardder commented on #2833
I'm closing this as invalid.

1. I can't reproduce this in MS Word or LibreOffice Writer, the only major products I know of that report page numbers.
2. @Brian1Gaff rightly asked for more details from the author, which hasn't been provided.

[2017-08-02 17:12] #2833 closed

[2017-08-02 17:27] leonardder commented on #7459
Definitely not FTDI2.

[2017-08-02 17:28] ehollig commented on #2279
As stated in https://github.com/nvaccess/nvda/issues/2279#issuecomment-155297348, the issue could not be reproduced. If someone using Excel 2007 can still produce this issue, it can be reopened.

[2017-08-02 17:28] #2279 closed

[2017-08-02 17:35] ehollig commented on #2381
Closing for 2 reasons:

1. The original author did not reply to @jcsteh's comment in https://github.com/nvaccess/nvda/issues/2381#issuecomment-155298154
2. This ticket is over 5 years old, with no additional information provided from the author to replicate the issue.

[2017-08-02 17:35] #2381 closed

[2017-08-02 17:40] ehollig commented on #2893
Can anyone reproduce using Windows 8.1? CC @bhavyashah

[2017-08-02 17:45] ehollig commented on #2876
NVDA works well with IE 11 and I believe it works the same with IE 10 on Windows 8.1. Can you confirm this @bhavyashah?

[2017-08-02 17:51] ehollig commented on #3077
I am able to use NVDA+F7 in Outlook 2016. Is it possible to do this in Outlook 2010 as well?

[2017-08-02 18:38] ehollig commented on #3077
Note that the author is referring to using NVDA+F7 after tabbing into the message view of Outlook. In my previous comment, I was opening the message in a new window. In the message view of Outlook 2016, NVDA+F7 does not work probably because of what @jcsteh said in https://github.com/nvaccess/nvda/issues/3077#issuecomment-155305744 that "the message is detected and handled like any other instance

[2017-08-02 18:57] leonardder commented on #3077
@ehollig: I think your last comment would be a good rationale for closing this, especially since it is possible to get NVDA+f7 to work by enabling browse mode.

[2017-08-02 18:58] leonardder commented on #7469
@JCSTeh: Any idea whether we can track down the original authors of this Lilly driver?

[2017-08-02 19:00] leonardder commented on #7457
I belief this would be suitable for an add-on, but i see no valid reason to have this in NVDA core. I mean, why should you have NVDA announce that you copied something when you pressed control+c? If you want to make sure your key presses did come through, you can enable speak command keys.

[2017-08-02 19:00] ehollig commented on #3077
Alright. Thanks for the feedback. Closing

[2017-08-02 19:00] #3077 closed

[2017-08-02 19:10] leonardder commented on #7320
@JCSTeh/@MichaelDCurran, would be nice to have your opinion about which path to follow here. I'm leaning towards the approach where we use w and shift+w navigation to jump to web objects with the invalid state in Firefox, Chrome and Edge. I'm getting more and more reluctant about the idea to add a custom guessing mechanism to IE, so I think it should either not be implemented there, or be only sup

[2017-08-02 19:14] Olina-Roy commented on #6080
Hey! Was this issue resolved.I am facing a similar issue where the reader is logging about the required edit field but not reading as a voice output.NVDA is directly reading the alert message of the previous field.

[2017-08-02 19:20] leonardder commented on #7468
There is another issue which already existed before this new context presentation functionality.

### Steps to reproduce
1. Open de log viewer, and position the caret at the first line
2. Pan backwards. The line starts with "NVDA Log Viewer mln ro edt".
3. Pan forward
4. Pan backward ones again

Expected: The line starts with "NVDA Log Viewer mln ro edt"
Actual: You have to pan back another time,

[2017-08-02 19:24] ehollig commented on #6080
@Olina-Roy, if you are experiencing the exact same issue, please provide exact steps to reproduce, including the program you used, version of NVDA, what you experienced, and the expected behavior. If it is a similar issue but not the same, please open a new ticket explaining the issue.
@jcsteh does the attachment provide any additional information that would allow for replication of the issue, or

[2017-08-02 19:25] leonardder commented on #7467
I think it should even be considered to have  add-ons configuration sections in BASE_ONLY_SECTIONS by default, unless specified otherwise.

[2017-08-02 19:30] ehollig commented on #4632
This worksforme and we can not contact the original author for more information. Closing.

[2017-08-02 19:30] #4632 closed

[2017-08-02 19:53] michaelDCurran commented on #7320
I think supporting aria-invalid="true" in IE is fine, but I don't
believe guessing would be a good choice.

[2017-08-02 20:24] ehollig commented on #1193
Closing:

1. This ticket is almost 7 years old.
2. IBM discontinued development of lotus symphony in January 2012.

[2017-08-02 20:24] #1193 closed

[2017-08-02 20:25] fernando-jose-silva commented on #7457
Turning on the command keys to speak is annoying, you will hear the keys being pressed anywhere.
At how much I just want to hear copied with ctrl + c and pasted with ctrl + v.
I can customize my application as I can customize my speech, for example, many shortcuts in my Brazilian language are not being spoken, as an example ctrl + b in the word Brazil is save, having this functionality I would alr

[2017-08-02 20:33] fisher729 commented on #7457
I agree, this would be good if it were in an addon.

On 8/2/17, fernando-jose-silva <notifications@github.com> wrote:

[2017-08-02 21:27] taymun26 opened #7471 "Quicknav Keys not working in Outlook 2016"
Steps to reproduce:

1. Open Outlook 2016
2. In the mail list, open any mail which contains a link or table, etc.
3. Press "u" letter in case there is a link.
Expected: NVDA should jump to the next linkk.
In this case NVDA does not do anything.

Tested with current Next snapshot.

[2017-08-02 21:29] ehollig commented on #2165
Using Skype 7.38.0.101, NVDA announces the check box status in the sounds settings options. IE. Checked or not checked. Looking at Skype releases, it appears that there has been many releases and changes since Skype 7.0. Closing

[2017-08-02 21:29] #2165 closed

[2017-08-02 21:37] taymun26 commented on #7471
=== Further details

OS: Windows 7
NVDA version: > Snapshot 14200 (tested with different versions)

Restarting Outlook or Windows did not help.

[2017-08-02 22:00] ehollig commented on #2081
The original author did not report back with trying with the latest version of NVDA (at the time) or answer any of @jcsteh's questions in https://github.com/nvaccess/nvda/issues/2081#issuecomment-155295530. Also, @jcsteh was not able to reproduce the issue. As there is not a way to contact the original author, and Lotus Symphony development has been discontinued, closing.

[2017-08-02 22:00] #2081 closed

[2017-08-02 22:06] ehollig commented on #2214
What do you think of this idea? It would be nice to have an option to access the user config directory in the Tools menu for reasons stated above. CC  @jcsteh

[2017-08-02 22:24] ehollig commented on #2842
It seems to me, filling out this form using IE 11 and Windows 10 seems to work as expected.
The values I used were, "Nevada" and "Las Vegas, NV". I was able to change the value of the "Product" combo box and all other combo boxes on the page. If this is still the case on Windows 8, this can be reopened, but for now Closing.

[2017-08-02 22:24] #2842 closed

[2017-08-02 22:27] ehollig commented on #3015
Does this message app for Facebook still exist on Windows 8.1? CC @bhavyashah

[2017-08-02 22:30] ehollig commented on #3252
@jcsteh is this still the case? Does the attached file provide information to replicate the issue? Currently, it is unavailable.

[2017-08-02 22:44] ehollig commented on #3294
I just performed these steps in Microsoft Word 2016 with styles was selected in document formatting and was not able to replicate this issue. I think @jcsteh is right in https://github.com/nvaccess/nvda/issues/3294#issuecomment-155307747, that the performing those commands does not change the style of the text unless text is selected. Closing as worksforme

[2017-08-02 22:44] #3294 closed

[2017-08-02 23:20] jcsteh commented on #7469
There are two names on the copyright line for this driver, and although we don't do this with newer code, they include email addresses as well. I guess you could try contacting them.

That said, this looks like it might be a simple off by one bug. I'm guessing the driver returns 1-based routing indexes, but we expect 0-based. That could be easily tested if we provide a try build which logs the rou

[2017-08-02 23:38] jcsteh commented on #7468
While I guess it's asymmetric, I'd argue this is potentially useful/correct. It means you can always get back to the state you were in when the control gained focus, as opposed to focus being entirely special.

Would this improve the state of things if you didn't implement point 1?

[2017-08-02 23:39] jcsteh commented on #7459
Yup. Looking at the BRLTTY source, it seems only the SyncBraille is FTDI.
In NVDA, that's a separate driver.

[2017-08-02 23:43] jcsteh commented on #2008
I vaguely recall that urllib2 has better support for system configured
proxies, but I looked into this a long time ago, so I'm not sure.

[2017-08-02 23:47] jcsteh commented on #4937
This works in Windows 10. I'm not sure about the status for Windows 8/8.1. I don't think they use the live region event, but they possibly use the system alert event, which was also implemented in #7282. Any Win 8/8.1 users able to test this?

[2017-08-02 23:49] jcsteh commented on #4400
Closing as per previous comment.

[2017-08-02 23:49] #4400 closed

[2017-08-02 23:59] jcsteh commented on #5072
It'd probably make sense to link to the Community Wiki somewhere on the NV
Access "Get Help" page.

[2017-08-03 01:24] fisher729 commented on #7456
@josephsl, could this be related to issue #7466 that I created recently?

[2017-08-03 01:40] josephsl commented on #7456
Hi, probably not. Thanks.

From: fisher729 [mailto:notifications@github.com]
Sent: Wednesday, August 2, 2017 6:25 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] nvda and windows mail: backspace issue (#7456)

@josephsl <https://github.com/josephsl> , could this be related to issue #7466 <h

[2017-08-03 01:59] ehollig commented on #4484
I am not able to reproduce this using the comment box on this issue for an example. When in browse mode and I press, Z, Y, P, or any punctuation/symbols, Windows makes an error tone and the key is not passed to the application. Closing, but if someone can reproduce and provide an STR, this can be reopened. Closing

[2017-08-03 01:59] #4484 closed

[2017-08-03 02:14] ehollig commented on #4544
As @jcsteh said in https://github.com/nvaccess/nvda/issues/4544#issuecomment-155329040, those two errors are pretty harmless. Also, it is unclear on what steps were performed to get these errors. Mouse tracking issue will be covered in #3654, therefore this is a duplicate.
The URL provided in https://github.com/nvaccessAuto does not exist anymore, therefore I am unable to replicate the example pro

[2017-08-03 02:14] #4544 closed

[2017-08-03 04:37] bhavyashah commented on #7457
As per https://github.com/nvaccess/nvda/issues/7457#issuecomment-319790002, should we close this ticket since the reporter agrees that this feature request is add-on territory and unsuitable for core? @ehollig

[2017-08-03 04:49] bhavyashah commented on #2876
According to http://winaero.com/blog/how-to-enable-compatibility-view-in-internet-explorer-11-ie11/:
"In Internet Explorer 11, the compatibility view button is removed from the address bar because document modes are now deprecated. Microsoft felt that the button had outlived his purpose because it's been many years now since Microsoft introduced X-UA-Compatible tags. Web developers were supposed t

[2017-08-03 05:00] bhavyashah commented on #2893
The STR provided by the original reporter is slightly unclear to me. Still, following the below steps worked as expected:
* Open a folder (which contains a subfolder) in Windows Explorer.
* Press the Applications key on any subfolder present in that folder and press 'e' to open it in a new window.
* Note: Although reporting the appearance of the folder in a new window does take NVDA several second

[2017-08-03 05:46] jcsteh commented on #2807
Ideally, we want to try to create some sort of tool built into NVDA which can fix problems like this. That tool should run automatically at install time, but it could also be an option in the Tools menu for systems which get broken post NVDA install. We will not support Windows XP or Vista with this tool, since that adds additional complexity and those operating systems are no longer supported by

[2017-08-03 05:57] bhavyashah commented on #7391
No rush, but thought I'd maybe CC @jcsteh and @feerrenrut to kindly request a more technical diagnosis of this issue as and when convenient.

[2017-08-03 06:07] bhavyashah commented on #6514
@zahra21  Is this pronunciation issue still existent? If yes, please report it on the tracker part of ESpeak-NG's Github project located at https://github.com/espeak-ng/espeak-ng.

[2017-08-03 06:10] bhavyashah commented on #6423
@jacobchawala Could you please update us as to whether or not this issue still occurs?

[2017-08-03 06:12] bhavyashah commented on #6365
@michaelDCurran Could you kindly respond to https://github.com/nvaccess/nvda/issues/6365#issuecomment-256828456 and update us about the current development status of NV Speech Player?

[2017-08-03 06:16] bhavyashah commented on #6313
@lstar4ever  Could you please clarify as to whether or not this issue applies with ESpeak-NG, the project that has superceded ESpeak?

[2017-08-03 06:18] jcsteh commented on #6177
The more general issue is #2807, where a possible tool to fix such issues is also being discussed. Marking as a duplicate of #2807.

[2017-08-03 06:18] #6177 closed

[2017-08-03 06:18] bhavyashah commented on #6059
@bdorer  states that the necessary translation revisions have been made and this issue should now be fixed. Should we therefore close as per previous comment? @ehollig

[2017-08-03 06:21] leonardder commented on #7457
@bhavyashah: Agreed. See also https://github.com/nvaccess/nvda/issues/75#issuecomment-155277515 for @MichaelDCurran's rationale about why speaking cut, copy and paste won't be implemented for all cases.

[2017-08-03 06:21] #7457 closed

[2017-08-03 06:23] jcsteh commented on #2807
Further findings regarding regsvr32 oleacc.dll:
1. If the IAccessible registration is correct (i.e. marshalling with oleacc.dll), regsvr32 oleacc.dll leaves it alone.
2. If it specifies a proxy other than the typelib marshaller or oleacc, it registers the typelib marshaller with the correct typelib.
3. If it's already the typelib marshaller, it corrects the typelib if necessary, but leaves the typ

[2017-08-03 06:23] leonardder commented on #7457
I labelled this invalid, since @fisher729 initially requested this but now agrees that it would best fit in an add-on. It felt a bit harsh to do a won't fix here.

[2017-08-03 06:23] bhavyashah commented on #6038
Since https://github.com/espeak-ng/espeak-ng/issues/133 has already been closed, can we close here as well? @ehollig

[2017-08-03 06:26] leonardder commented on #7469
[**@jcsteh**](https://github.com/jcsteh) commented on [3 aug. 2017 01:20 CEST](https://github.com/nvaccess/nvda/issues/7469#issuecomment-319825083 "2017-08-02T23:20:20Z - Replied by Github Reply Comments"):

Either that, or the key range that is reserved for routing according to the driver starts and ends one too high. The reserved key range is 257--296, Personally I'd start with 256 if I'd develo

[2017-08-03 06:27] bhavyashah commented on #5912
@vgjh2005  Could you please test this issue with the ESpeak-NG synthesizer and then respond to https://github.com/nvaccess/nvda/issues/5912#issuecomment-216011467?

[2017-08-03 06:28] jcsteh commented on #7391
I think Chrome is killing the document accessible when the focus moves in this case and is then creating a new document accessible. This is probably due to some change which requires it to rebuild the tree (maybe CSS), but it should never regenerate the document accessible. This needs to be confirmed and a bug filed with Chromium if I'm correct.

[2017-08-03 06:31] leonardder commented on #7468
[**@jcsteh**](https://github.com/jcsteh) commented on [3 aug. 2017 01:38 CEST](https://github.com/nvaccess/nvda/issues/7468#issuecomment-319827805 "2017-08-02T23:38:44Z - Replied by Github Reply Comments"):

Mmm. Wonder what @DKager thinks about this, especially now we have a special script to move the display to the current focus.

Sure. For example, in the python console

1. Open the console and

[2017-08-03 06:43] zahra21 commented on #6514
hello.
in nvda 2017.1 and 2017.2 which use espeak-ng 1.49.1.dev the issues is still persists.
but i could not espeak-ng 1.49.1 stable sapi5 version to test.
also, i downloaded one version of espeak-ng which is not sapi5 version, but i could not use it in my system windowsXP 32bit.
although i downloaded x86 version, when i tried to open it, said not valid for win32!
could you please test with nvda

[2017-08-03 06:45] bhavyashah commented on #7152
As noted in my previous comment, I am unable to replicate this issue. @derekriemer Does this bug still stand for you? If not, please close.

[2017-08-03 07:08] bhavyashah commented on #5656
An NVDA crash, that too with a program as frequently used as Word, is usually quite concerning. Could someone please diagnose this report?

[2017-08-03 07:11] bhavyashah commented on #5502
Just wondering, is this still the case with ESpeak-NG? If so, do we have the Github usernames of members of the Norwegian localization team, if they have Github accounts in the first place, that is? As noted in https://github.com/nvaccess/nvda/issues/5502#issuecomment-157202292, their inputs would be valuable.

[2017-08-03 07:13] bhavyashah commented on #5377
@jcsteh Does https://github.com/nvaccess/nvda/issues/5377#issuecomment-155343430 imply a wontfix/cantfix?

[2017-08-03 07:15] bhavyashah commented on #5272
@jcsteh @michaelDCurran Could you please briefly address this request and subsequently close this ticket?

[2017-08-03 07:28] bhavyashah commented on #5153
I believe this ticket should be closed due to the following reasons:
* NVDA has moved on from ESpeak to ESpeak-NG.
* Any pronunciation issue, particularly the one reported in this ticket, is not only subjective but also related to the synthesizer and not the screen reader.
* Although the problem does not require significant troubleshooting information, we still do not have any means of contacting

[2017-08-03 07:29] bhavyashah commented on #5114
@eliot94 Are you still experiencing these performance deficiencies?

[2017-08-03 07:39] leonardder commented on #2008
If urllib2 is backwards compatible, it is as easy as changing the import and the function calls in updateCheck, however, that might break compatibility with add-ons depending on urllib.

[2017-08-03 07:39] bhavyashah commented on #5095
@jcsteh Does this problem occur with ESpeak-NG as well? Also, on a slightly related note, I often experience this bug wherein ESpeak-NG suddenly jumps its pitch while reading Math content to a point where it is either too nasal or too deep, for no apparent reason. The only way to restore the original pitch, apart from restarting NVDA of course, is to just press NVDA+Ctrl+V to open Voice Settings,

[2017-08-03 07:40] josephsl commented on #2008
Hi, I’ll do some initial investigations as part of #7105. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 12:39 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Missing python library modules on binary distribution to be used within plugin (

[2017-08-03 07:44] bhavyashah commented on #5092
Are we in touch with any Persian user who would be able to verify whether this is still the case with ESpeak-NG? If not, I would recommend a close due to the following reasons:
* Any TTS deficiencies cannot be tackled by the screen reader.
* In case of ESpeak-NG at least, their Github project page located at https://github.com/espeak-ng/espeak-ng which has an issue tracker of its own.
* We have no

[2017-08-03 07:45] dreinn commented on #7469
I made other test:
if I press routing38, it goes to 39, according with the mentioned bug.
Pressing 39 goes to 40.
Pressing 40 has no effect! The cursor remains on the last position, it
can be cell 2 if it was the last place.

Pressing NVDA-1 and then cursor routing works well, because also  40 is
announced as "route".

Yesterday I talked with a friend of mine that has Lilli display braille,
and he

[2017-08-03 07:46] bhavyashah commented on #5065
@jamaicanuser Could you please update us as to whether or not this bug still stand?

[2017-08-03 07:50] bhavyashah commented on #5011
Could someone please test this and revert about the current standing of this issue? If no one can confirm its presence within about a week or two, I would kindly suggest closing.

[2017-08-03 07:52] bhavyashah commented on #4889
@tspivey Is this issue still existent?

[2017-08-03 07:53] bhavyashah commented on #4881
CC @jcsteh

[2017-08-03 07:53] leonardder commented on #5153
[**@bhavyashah**](https://github.com/bhavyashah) commented on [3 aug. 2017 09:28 CEST](https://github.com/nvaccess/nvda/issues/5153#issuecomment-319891077 "2017-08-03T07:28:14Z - Replied by Github Reply Comments"):

There is one very important thing we do not know, what language did the author use?

If this still exists, it should be reported for Espeak-NG. Closing as invalid.

[2017-08-03 07:53] #5153 closed

[2017-08-03 07:54] bhavyashah commented on #4827
CC @jcsteh

[2017-08-03 07:59] bhavyashah commented on #4812
As noted by @jcsteh in https://github.com/nvaccess/nvda/issues/4812#issuecomment-155333224, there is no solution for the issue reported. In case others cannot come up with ways of solving this issue either, we'll probably need to close as a cantfix. @ehollig

[2017-08-03 08:01] bhavyashah commented on #4755
CC @jcsteh

[2017-08-03 08:03] leonardder commented on #7469
Thanks for this info, this should be enough to track this down. A try
build is on the way.

[2017-08-03 08:06] bhavyashah commented on #4520
A friendly ping in case any developer wants to give this feature request a try or @feerrenrut would like to assign this a priority.

[2017-08-03 08:09] bhavyashah commented on #4497
CC @michaelDCurran

[2017-08-03 08:21] jcsteh commented on #2008
It's not backwards compatible. Also, we access the socket to change the
timeout, which is private and in a different place with urllib2.

[2017-08-03 08:23] PratikP1 commented on #7471
taymun26 wrote:

Navigating by using letter u is not supported in Outlook. You should use letter "k" instead to move from link to link. "U" is used to navigate from unvisited link to unvisited link. In the steps above, if you substitute "k," it works. I am unable to replicate the behavior you outlined.

[2017-08-03 08:26] jcsteh commented on #5377
I think can't fix, though we can reopen if someone has a technical solution which is feasible and takes other languages into account.

[2017-08-03 08:26] #5377 closed

[2017-08-03 08:34] leonardder commented on #7469
Please try [This NVDA build](https://ci.appveyor.com/api/buildjobs/n43vp39qevypa6y3/artifacts/output%2Fnvda_snapshot_try-lilli-14286%2C1ddb8071.exe). If I'm correct, this fixes the cursor routing indexes. Please pay extra attention to the first and the last routing key.

[2017-08-03 08:56] dreinn commented on #7469
Yes! It works perfectly!
I made several tests and it works from 1 to 40!
Thank you!

[2017-08-03 08:57] Brian1Gaff commented on #4881
This sort of issue seems totally dependent on the synth used under sappi 4,
for example the old illegal Viavoice has no issues that I can see.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "bhavyashah" <notifications@github.com>
To: "nvaccess/nvda"

[2017-08-03 09:13] jcsteh commented on #4881
Given that this appears to be voice specific as per the above comment, the fact that SAPI 4 is fading into obscurity and the age of this issue, closing as works for me.

[2017-08-03 09:13] #4881 closed

[2017-08-03 09:38] Brian1Gaff commented on #4881
Yes the slow ones are the old Microsoft ones like Mary etc, as far as I can
tell.
 Not tremendously slow but definitely sluggish.

Mind you the speech platform voices in that interface can be laggy but that
I assume is doe to other reasons.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name fie

[2017-08-03 10:21] Qchristensen commented on #5071
The commands to move around charts are actually Excel keystrokes, not NVDA specific ones.  I have had many comments on the Word and Excel training material on how people never knew many of those features were accessible, but as Jamie said, if we start documenting one keystroke which isn't NVDA specific in the user guide, where do we stop?  Indeed, the Word and Excel training modules do cover a lot

[2017-08-03 10:32] Qchristensen commented on #5059
For Word, Browse mode is documented in the User Guide now, if it wasn't when this issue was raised: https://www.nvaccess.org/files/nvda/documentation/userGuide.html#toc49

The other comments about Skype and Excel raise an interesting point, they are NVDA specific reporting, which is useful for users to know, but unlike most things covered in the user guide, they don't need the user to press anythi

[2017-08-03 10:47] Qchristensen commented on #4020
This could certainly be worth mentioning as a limitation of portable versions.  I'll have to think on the wording, I can't come up with anything I like tonight!

[2017-08-03 11:14] bhavyashah commented on #4063
#1668 has already been implemented and the issues pertaining to unresponsiveness have been resolved as reported in https://github.com/nvaccess/nvda/issues/4063#issuecomment-155319407. Time to close? @ehollig

[2017-08-03 13:10] ehollig commented on #4063
Closing because of the implantation of #1668 and the issues pertaining to unresponsiveness have been resolved as reported in https://github.com/nvaccess/nvda/issues/4063#issuecomment-155319407. Closing

[2017-08-03 13:10] #4063 closed

[2017-08-03 13:23] ehollig commented on #6038
Closing, as it seems https://github.com/espeak-ng/espeak-ng/issues/133 has been resolved.

[2017-08-03 13:23] #6038 closed

[2017-08-03 13:36] ehollig commented on #2893
Closing for a couple reasons:

1. Ticket is 5 years old. A lot of NVDA updates have occurred since then.
2. the steps to reproduce is a little unclear. However, performing the steps in https://github.com/nvaccess/nvda/issues/2893#issuecomment-319868189, NVDA does accurately announce the window title followed by the subfolder name.

If this problem still exists, we can reopen this ticket or a new t

[2017-08-03 13:36] #2893 closed

[2017-08-03 13:41] bhavyashah commented on #2704
@feerrenrut Could we please have the variant file's attachment, merely out of interest? Regardless, variants should be ideally incorporated into ESpeak-NG itself and appear in NVDA as a consequence. Please request the folks at ESpeak-NG through its Github project located at https://github.com/espeak-ng/espeak-ng to integrate Pablo. Please add the NeedsExternalFix label to this ticket and/or close

[2017-08-03 13:44] dkager commented on #2807
There is no such thing as coincidence: today I had this problem with MathPlayer. So I would be happy to work on some kind of tool (though I lack the appropriate background).

[2017-08-03 13:49] bhavyashah commented on #2839
According to https://en.wikipedia.org/wiki/Festival_Speech_Synthesis_System, the last stable release of the Festival speech synthesizer was in December 2014. Evidently, as previous comments seem to suggest, this issue is specific to Festival, whose development seems inactive. Unless we can get active Festival devs to cooperatively investigate the reported issue, I would like to kindly suggest clos

[2017-08-03 13:50] bhavyashah commented on #2728
CC @jcsteh @brian1gaff

[2017-08-03 13:56] bhavyashah commented on #3915
The provided URl seems to be dead. Any updates to share about the current standing of this issue? @jcsteh @dkager @Brian1Gaff

[2017-08-03 13:57] ehollig commented on #1615
I am experiencing the same results as @jcsteh in https://github.com/nvaccess/nvda/issues/1615#issuecomment-155291195 with no dictionary entries using the latest ESpeak NG. Closing

[2017-08-03 13:57] #1615 closed

[2017-08-03 14:02] bhavyashah commented on #3450
CC @jcsteh

[2017-08-03 14:08] bhavyashah commented on #3445
There are hardly any benefits to this proposal, IMHO. Plus, the potential confusion this may cause to newbie users, keeping in mind the fact that NVDA is the most fundamental and vital companion for any blind computer user, also needs to be taken into account. As noted by @brian1gaff earlier, saving a few bytes, or at most, a few megabytes, is pretty pointless at the risk of causing extraneous con

[2017-08-03 14:10] bhavyashah commented on #3342
CC @jcsteh

[2017-08-03 14:11] bhavyashah commented on #3317
CC @Qchristensen and a friendly ping to @jcsteh

[2017-08-03 14:15] Rasubra8 commented on #7135
Any update on this issue please?

[2017-08-03 14:37] ehollig commented on #5092
CC @josephsl can the translator help in this situation to confirm if this is still the case?

[2017-08-03 14:39] ehollig commented on #3123
ESpeak does support the Arabic and Japanese languages as an option in the voice settings dialog.
For suggestions on new voices or languages, including Hebrew, please create a new issue on the [ESpeak NG Github page](https://github.com/rhdunn/espeak/issues/new).

[2017-08-03 14:39] #3123 closed

[2017-08-03 14:42] ehollig commented on #3204
For suggestions on new voices please create a new issue on the [ESpeak NG Github page](https://github.com/rhdunn/espeak/issues/new).
@jcsteh, it may be useful to attach the original file so that it can be forwarded on to the ESpeak tracker.

[2017-08-03 14:42] #3204 closed

[2017-08-03 14:50] ehollig commented on #3268
For suggestions on new voices please create a new issue on the [ESpeak NG Github page](https://github.com/espeak-ng/espeak-ng/issues/new).
@jcsteh , it may be useful to attach the original file so that it can be forwarded on to the ESpeak tracker.

[2017-08-03 14:50] #3268 closed

[2017-08-03 14:59] ehollig commented on #2839
this indeed sounds to be specific to Festival and needs an external fix.

[2017-08-03 14:59] #2839 closed

[2017-08-03 15:06] ehollig commented on #7135
CC @jcsteh I know some work has been done on modal dialogs. Any updates?

[2017-08-03 16:55] bhavyashah commented on #2464
CC @jcsteh

[2017-08-03 17:31] ehollig commented on #2392
I can not replicate this using the latest NVDA on Windows 10. I tested this by setting my default voice to Microsoft Zira Desktop - English (United States) (the second one in the list) and saved the settings. Then I went to the setting for "Use currently saved settings on the logon and other secure screens" and activated it. When I press CTRL+Alt+Delete, Zira was the voice used, as expected. If an

[2017-08-03 17:31] #2392 closed

[2017-08-03 17:39] ehollig commented on #2441
@rhdunn, since this sounds like an Espeak issue, can you file an issue on this topic on the [ESpeak Issues on Github](https://github.com/espeak-ng/espeak-ng/issues/new) and post a link to the issue here so that we can track it?

[2017-08-03 17:47] ehollig commented on #7081
@stickbear2015 @derekriemer any updates? I am unable to reproduce this on creators update 1703. CC @josephsl

[2017-08-03 17:50] ehollig commented on #7074
I believe you are able to retrieve this information by pressing NVDA+1 to turn on input help mode and press the command you would like to assign. I am unsure if this works for a modified keyboard layout though. CC @feerrenrut

[2017-08-03 17:56] ehollig commented on #7199
Could you provide more information?
Please provide exact steps to reproduce, including the program you used, version of NVDA, what you experienced, and the expected behavior.

[2017-08-03 18:39] fernando-jose-silva commented on #7074
You have a clue, this just does not work for add-ons I believe are older ones that do not expose shortcut keys in the help.
Could the keyboard help or nvda's own input gesture window inform me of already duplicated keyboard commands, for my copy of nvda that already has years of customization would be very useful, only in a small search I have already found a few commands Duplicates.
I believe tha

[2017-08-03 19:35] ehollig commented on #7340
CC @derekriemer can you try this on Windows 7 with Chrome? I am getting the same results as @jcsteh on Windows 10.

[2017-08-03 22:40] ehollig commented on #4928
I am not able to reproduce this in Firefox or Chrome, and if @jcsteh is right in https://github.com/nvaccess/nvda/issues/4928#issuecomment-155334672 that this is a live region, this is not an NVDA issue, but an authoring error. Closing

[2017-08-03 22:40] #4928 closed

[2017-08-03 23:16] Qchristensen commented on #5175
Not so much an update, but a potential alternative for someone wanting full documents read in the background, I found a freeware program called Balabolka.  The first time I ran it, none of the controls read, but the second time it read everything perfectly.  In any case, press control+o to open a file, then f5 to have it read in the background.  The trick is you can't use the same synth as NVDA is

[2017-08-03 23:18] ehollig commented on #5418
@jcsteh is this still going to be implemented into NVDA, or should initiative be put toward #7458

[2017-08-03 23:26] ehollig commented on #4698
CC @michaelDCurran

[2017-08-03 23:30] ehollig commented on #5064
There is not enough information in this ticket to replicate the issue. Unless we can contact the original author for further clarification and steps to reproduce, closing as worksforme

[2017-08-03 23:30] #5064 closed

[2017-08-03 23:57] jcsteh commented on #5418
Long-term, I think #7458 is the better approach. Near-term, I'm happy to update the dll in NVDA, but we still need to know whether we have permission from Handy Tech to do this and that it's not a private/test release; see https://github.com/nvaccess/nvda/issues/5418#issuecomment-155343973. CC @BramD for his thoughts, since he's working on #7458.

[2017-08-04 00:11] jcsteh commented on #7135
This is unrelated to the current work on web dialogs.

The expected behaviour for the report title (NVDA+t) command is that it reports the title of the current application or foreground window. On the web, the foreground window is always the browser itself except when an operating system dialog (e.g. Save As) is displayed. In terms of user experience, I think there's a good argument for making thi

[2017-08-04 00:44] jcsteh commented on #2807
[**@dkager**](https://github.com/dkager) commented on [3 Aug 2017, 23:44 GMT+10](https://github.com/nvaccess/nvda/issues/2807#issuecomment-319972876 "2017-08-03T13:44:20Z - Replied by Github Reply Comments"):

It'd be great if you could confirm whether [this registry patch](https://github.com/nvaccess/nvda/files/1196077/oleaccFix.reg.txt) (rename to .reg) fixes the issue. This is for a 64 bit syst

[2017-08-04 01:39] fisher729 commented on #6759
I got confused with the wording of this change in the What's New. Of course, I know what it does, however. Essentially, when reporting progress bars is not set to include beeps, NVDA won't beep for the update checker dialog and other dialogs I've seen.

[2017-08-04 01:54] ehollig commented on #2159
Closing do to the website mentioned in https://github.com/nvaccess/nvda/issues/2159#issue-116029835 seems to not exist, and from the information provided, it seems to be specific to this one application/website.

[2017-08-04 01:54] #2159 closed

[2017-08-04 02:08] ehollig commented on #4573
I performed the steps outlined in https://github.com/nvaccess/nvda/issues/4573#issue-116045545 and was able to activate and navigate to the edit and delete". They both appear as buttons in IE 11 and Firefox 54. More and more sites now are warning you your browser is out of date and you should update if using IE 8, which may be part of the issue. Closing

[2017-08-04 02:08] #4573 closed

[2017-08-04 02:26] jcsteh commented on #6431
This is blocked because the reporter needs to provide additional info before this issue can be considered valid. However, it seems I either forgot to comment or my comment didn't submit for some reason. :(

@@Elshara, please provide the info requested by bhavyashah above. Thanks.

Triage note: we should close this within a few weeks if the required information is not provided.

[2017-08-04 02:41] jcsteh commented on #7451
I don't think the use cases provided here (corporate environments) are valid, since administrators would normally disable such functionality due to wanting additional control over what gets installed. This is probably more relevant for home users so that updates just happen transparently for them, thus encouraging immediate install of updates. So, I think this is a valid feature, though possibly n

[2017-08-04 02:49] ehollig commented on #4543
@vgjh2005, is this still the case for you? If so, please upload the problematic file and indicated the line number of the new symbol as suggested in https://github.com/nvaccess/nvda/issues/4543#issuecomment-155329036.

[2017-08-04 03:01] ehollig commented on #4508
Sounds to me like all the issues have been resolved in https://github.com/nvaccess/nvda/issues/4508#issuecomment-155328344. For the second issue, we would require additional information from the author to reproduce the issue. Since we do not have a way in contacting the original author, closing.

[2017-08-04 03:01] #4508 closed

[2017-08-04 03:13] ehollig commented on #4365
Unfortunately, there is not enough information provided from the author of this ticket and we have no way in contacting the original author. Closing as invalid

[2017-08-04 03:13] #4365 closed

[2017-08-04 03:49] jcsteh commented on #2807
For anyone experiencing this issue, please try the following. Note that these instructions are not as complete for Windows 8 and 8.1 yet.

1. Please apply [this registry patch](https://github.com/nvaccess/nvda/files/1199173/oleaccProxy.reg.txt) (remove the .txt extension).
2. If you're using 64 bit Windows, please also apply [this second registry patch](https://github.com/nvaccess/nvda/files/11991

[2017-08-04 03:52] fisher729 commented on #7371
Hi.

The word 'balloon' is incorrectly spelled 'baloon' in Section 8.1 in the Master user guide.

[2017-08-04 04:02] derekriemer commented on #7340
1. I opened chrome (Not canary).
2. I went to https://blogs.windows.com/windowsexperience/
3. I pressed e. Result: Speaking [LangChangeCommand ('en_US'), u'banner landmark ', u'search landmark ', u'combo box  editable  has auto complete']

[2017-08-04 04:04] derekriemer commented on #7081
I haven't seen this in quite some time, but I know it exists, (I suspect a race condition).

[2017-08-04 04:04] fernando-jose-silva opened #7473 "Nvda not announcing all the speeches when using the windows onecore synthesizer"
I installed nvda next 14285 and noticed a problem using the windows onecore synthesizer.
By unchecking and selecting a checkbox several more times then nvda does not announce whether the box is unchecked or checked.
It is a problem in the windows onecore synthesizer because when using another synthesizer as nuance vocaliser exprecive and a voice sap5 the synthesizer announces quickly and accuratel

[2017-08-04 04:07] derekriemer commented on #5071
I feel mentioning "you can arrow around charts" is not going to far, and to be fair, most users who aren't top notch computer users are going to get frustrated with not knowing its possible (or knowing the training material exists). You could put something in the guide like "many more keystrokes and features are available in exccel which help screen reader users, see our excel module for more info

[2017-08-04 04:09] derekriemer commented on #5656
I'll look at this in the next month? I have the dump file, and I can look at it once I get my new drive. In case I forget, here's the dump.

[2017-08-04 04:10] derekriemer commented on #5656
never mind, I deleted that dump. Oops.

[2017-08-04 04:11] derekriemer commented on #5656
What we really would need is a stack trace, which I now can't get,, recommend a close.

[2017-08-04 04:12] derekriemer commented on #7152
Hold off. That was reverted from next, it'll be in maybe again. cc @feerrenrut because I think he's doing the upgrade for that.

[2017-08-04 06:29] bhavyashah commented on #5656
As noted by @derekriemer in https://github.com/nvaccess/nvda/issues/5656#issuecomment-320151668, as the original author of this ticket, he recommends a close. Please do so. @ehollig and other

[2017-08-04 06:36] bhavyashah commented on #5071
I agree with @derekriemer's https://github.com/nvaccess/nvda/issues/5071#issuecomment-320151294 with reference to addinng information about the official Basic, Word and Excel training modules available in the NVDA User Guide itself. Many more users will be driven to check out the modules and potentially purchase them. And in any case, I do think it is important to have a more directly visible ment

[2017-08-04 06:51] #7468 closed

[2017-08-04 07:33] bhavyashah commented on #7347
@josephsl Could you please take a look at the information provided by @sjystu in https://github.com/nvaccess/nvda/issues/7347#issuecomment-312519369 as requested in https://github.com/nvaccess/nvda/issues/7347#issuecomment-312495603 by yourself? Also, am I correct in assuming that the Vocalizer driver being referred to is the one by Tiflotecnia?

[2017-08-04 07:47] bhavyashah commented on #7263
CC @dkager  in case you have any follow-up comment to @fernando-jose-silva 's https://github.com/nvaccess/nvda/issues/7263#issuecomment-313228550. I am unable to ascertain from comments whether this issue is on the part of the speech synthesizer or the fault of the screen reader. Any additional inputs? @Qchristensen

[2017-08-04 08:03] PratikP1 commented on #7473
I am not able to replicate this behavior using NVDA version next-14285,ded94003. I have tried with several checkboxes and all the English voices.

[2017-08-04 08:18] bhavyashah commented on #7207
As indicated by @PratikP1 in https://github.com/nvaccess/nvda/issues/7207#issuecomment-304683653, the reported issue may be a fault of Firefox. Assuming this freeze still occurs (please comment if otherwise @audiogamer22), has this been reported on the Firefox tracker so far? @jcsteh

[2017-08-04 08:51] Qchristensen commented on #7263
Logically, the value R$ 2.357,72 might be understood (by a human) to mean
"real 2 mil 357 vírgula (comma) 72", however what is written is R$ 2.357,72 so that is what is read.

Just as in US currency $2.95 means "Two dollars and ninety-five cents" to a human, what will be read out is "dollar 2 point nine-five".

Theoretically, you could override this with dictionary rules in NVDA using regex. I'm n

[2017-08-04 08:55] Qchristensen commented on #3317
I'm not 100% I understand the original issue or whether it still applies.  I run old snapshots to test things all the time, with various synthesizers and haven't noticed a problem, (I don't generally run snapshots older than 2015 though).

In any case, as Jamie's comment noted, we can't go back and change old builds.  If anyone can identify if the issue still exists we could perhaps look at what w

[2017-08-04 09:47] #1851 closed

[2017-08-04 10:31] bhavyashah commented on #6903
@derekriemer Are you still able to consistently reproduce this freeze? If so, what version of Microsoft Office and Windows are you using?

[2017-08-04 10:42] bhavyashah commented on #6514
@rhdunn Could you please take a look at this ESpeak-NG issue reported here by @zahra21? Also, it would be appreciated if you could either assist Zahra in filing a ticket on the ESpeak-NG Github tracker or alternatively notify the Farsi maintainer of ESpeak-NG about this problem. Also, CC @jcsteh in case you may want to address https://github.com/nvaccess/nvda/issues/6514#issuecomment-319882748.

[2017-08-04 10:47] bhavyashah commented on #6450
@Brian1Gaff In https://github.com/nvaccess/nvda/issues/6450#issuecomment-258776888, you said that you would conduct more diagnostic tests. Could you please update us about the results of those and the current standing of the issue(s) reported in this ticket?

[2017-08-04 10:51] bhavyashah commented on #1840
@jcsteh Could you please respond to https://github.com/nvaccess/nvda/issues/1840#issuecomment-155293381? Furthermore, I believe the feature proposed in this ticket depends on the implementation of the speech refactor covered by another ticket (not sure which though). I suppose this ticket should therefore be blocked and the speech refactor ticket should be referenced, leaving this ticket open. @eh

[2017-08-04 10:54] bhavyashah commented on #1736
Does this issue still stand with ESpeak-NG, the successor of ESpeak? I believe the SAPI 5 version of ESpeak-NG is under development at the moment, and thus would request @rhdunn to take this ticket into account for the same.

[2017-08-04 10:58] bhavyashah commented on #1726
If none of us are able to reproduce failures and inconsistencies in say alls, since tkeenan79 unfortunately did not respond to https://github.com/nvaccess/nvda/issues/1726#issuecomment-155292075, and given that we have no way of contacting the original author, can this ticket be safely closed? @ehollig

[2017-08-04 11:03] bhavyashah commented on #1710
@leonardder Since this ticket is a duplicate of #3029, should this not be closed? It seems that @fernando-jose-silva seems to be able to reproduce the described behaviour, implying that this issue is still existent. Could we please have some help in troubleshooting and triaging this issue? @feerrenrut @jcsteh

[2017-08-04 11:10] bhavyashah commented on #1608
As requested by @jcsteh in https://github.com/nvaccess/nvda/issues/1608#issuecomment-315643471, @michaelDCurran, thoughts? Just a gentle reminder in case that comment got inadvertently skipped earlier.

[2017-08-04 11:25] bhavyashah commented on #1561
I am unable to replicate the reported issue with NVDA 2017.2 on a fairly powerful machine endowed with an I5 processor and 8 gb RAM. I tested this report by enabling the relevant setting, typing at 300-400 CPM in two or three breaks for a couple of minutes, and the text appeared properly spaced in all cases. Since we have no means of contacting Palacee_hun for additional diagnosis, I recommend clo

[2017-08-04 12:14] fernando-jose-silva commented on #7473
Thanks for the feedback, please check with the voice onecore portuguese Brazil.
Other issues I discovered, the problem does not occur with the next 14240 update, I know that an update was performed to answer another one called mine this week stating that the audio reduction was not working properly.
Finally, the problem seems to be occurring due to the speech of the characters, I have deselected t

[2017-08-04 13:20] ehollig commented on #1561
Closing because of the reasoning in https://github.com/nvaccess/nvda/issues/1561#issuecomment-155290699 and the findings in https://github.com/nvaccess/nvda/issues/1561#issuecomment-320225395.

[2017-08-04 13:20] #1561 closed

[2017-08-04 13:50] Olina-Roy opened #7475 "NVDA, in Form's mode, the fields name are not announced, however it is displaying the same in the Speech Viewer"
[Contact Form_NVDA issue.docx](https://github.com/nvaccess/nvda/files/1200594/Contact.Form_NVDA.issue.docx)

In Form's mode, using a tab key the fields name are not announced in NVDA screen reader, however it is displaying in NVDA Speech Viewer.

### Steps to reproduce:

[2017-08-04 13:57] Olina-Roy commented on #6080
@ehollig, I have opened issue #7475.

[2017-08-04 14:21] PratikP1 commented on #7475
I can confirm this behavior in Firefox and the latest next build. I was just about to report this. I have been able to replicate this on several forms. The behavior occurs if “speak typed words” is switched on but does not if it is switched off. Additionally, this behavior only happens using Microsoft OneCore voices. It does not occur if ESpeak NG or Codefactory Eloquence is selected. (I have atta

[2017-08-04 14:27] fernando-jose-silva commented on #1710
Yes, thank you.

Enviado do meu iPhone

[2017-08-04 14:30] PratikP1 commented on #6080
Based on my testing of #7475, there are factors such as synthesizer used and whether "speak typed word" is switched on which affect this behavior. I am wondering If the same applies here. @lnnus, can we get the following details?
1. NVDA version
2. Browser version
3. URL where the problem occurred or another location where the same happens.
4. Synthesizer used.
5. DO you have "speak typed words) o

[2017-08-04 14:42] fernando-jose-silva commented on #7263
Changing nvda's speech to read coins in a way to the user's taste by changing the nvda dictionary for beginners is not very easy.
My suggestion would be so that nvda could offer the user a way to read more friendly coins.

Enviado do meu iPhone

[2017-08-04 14:57] ehollig commented on #7340
Thanks for the update. Worksforme. Closing
@fernando-jose-silva, if this is still happening, please try with all addons and Chrome plugins disabled and upload a new log with logging level set to debug.

[2017-08-04 14:57] #7340 closed

[2017-08-04 15:01] ehollig commented on #7371
Confirmed. CC @jcsteh

[2017-08-04 15:04] derekriemer commented on #7467
I'd disagree. Things like unspoken shouldn't need to do extra work to get profiles.

[2017-08-04 15:09] #5656 closed

[2017-08-04 15:12] derekriemer commented on #7382
There *could* be a usecase, but it would be verry weird.

[2017-08-04 15:14] derekriemer commented on #6903
It's still outstanding, I haven't seen it in a while, but I think it still exists.

[2017-08-04 15:16] ehollig commented on #7473
I am not able to reproduce the first issue, but I am able to replicate the second issue described using OneCore synth.

[2017-08-04 15:29] ehollig commented on #5203
@bdorer is this still an issue? Do you think the dot in German should be set to most?

[2017-08-04 15:44] PratikP1 commented on #6903
In fact, I was able to replicate this last night. Unfortunately, I cannot share the document in which this happened. I'll try to replicate with a document that I can share.

[2017-08-04 15:49] bramd commented on #5418
@jcsteh I hope to finish the work in #7458 soon. I'll post a status report in that issue.

Since there are lots of Handy Tech models, including very old ones, I'm unable to get them all tested without getting Handy Tech on board. Also, the keybindings are abstracted a bit by the COM server, so custom gestures might not work without providing some kind of migration code, or something that can still

[2017-08-04 16:21] bramd commented on #7458
### Current status of the handytech-native branch

Implemented:
* Braille output for modern USB serial and HID models
* Handling of keys for modern USB serial and HID models including routing
* All known (from BRLTTY) hardware IDs for USB devices
* A tree of classes to handle model specific keys/functions/protocol variations
  * All known models (from BRLTTY) with correct ID used in the protocol a

[2017-08-04 16:24] bramd commented on #7458
@jcsteh Do you have any ideas on differentiating between models in the gestureMap? Is there functionality to use something like sub identifiers (e.g. brl(ht+ModularEvolution88):b1, where ModularEvolution88 is the model of Handy Tech display? Ideally, if that gesture isn't bound, it will fall back to the generic brl(handyTech):b1 gesture.

[2017-08-04 16:52] ehollig commented on #5671
Okay, are you using the latest version of Firefox? As I said, this works as expected for me in Firefox. Maybe a NVDA log would be useful that shows this behavior.

[2017-08-04 17:07] ehollig commented on #6882
Closing in favor of #4209. @Piciok, feel free to comment if you have any additional comments or thoughts.

[2017-08-04 17:07] #6882 closed

[2017-08-04 17:16] ehollig commented on #4948
@jcsteh what do you think of this issue? It may be useful for menus that use ARIA.

[2017-08-04 17:27] ehollig commented on #7396
If you turn on Font attributes and Style in the document formatting dialog, does this do what you would like?

[2017-08-04 17:32] zstanecic commented on #7458
@bramd @leonardder the initiative and the driver is great, it even fixes some bugs in the notepad plus plus using NVDA, i.e routing to a particular text field works in scintilla controls normally. but, as i use an older braille wave model as a hid with the rs232 serial on my computer:, there are some issues, with the log attached: panning keys are not working, and some other keys are not working (

[2017-08-04 18:06] PratikP1 commented on #7473
The more I test this, the more it leads me to conclude that OneCore is somehow introducing significant delays. (See attached log.) With English voices, once character echo is turned on, the delay becomes noticeable. I see instances of the checkbox state not being announced. The log does not reflect this. The difference in time for announcing the state when speak characters is off V. when it's on i

[2017-08-04 18:11] zstanecic commented on #7458
@bramd so, let me answer your question one by one:
•Did it give you the expected braille output?
•Is it able to fill all cells of the display? Type a line of 40 characters in Notepad for example (BrailleWave has 40 cells from the top of my head)
yes, the outputa as expected, has 40 cells, even it’s stated in the log viewer.
•Could you enter input help (nvda+1) and press all keys on the display one

[2017-08-04 18:16] bramd commented on #7458
@zstanecic Thanks. I'll consider your suggestions for the b keys. This keys are on almost every Handy Tech display, so I have to think if this makes sense for all of them. Also, b4/b5 should be prev/next line, even with the COM server. Once braille input has been implemented in this driver, this should also work for your Braille Wave.

I just updated the branch with the keys for the Braille Wave.

[2017-08-04 18:19] ehollig commented on #3112
Any new variants or voices for ESpeak should be submitted on the [ESpeak Issue Github page](https://github.com/espeak-ng/espeak-ng/issues/new).
@jcsteh it may be helpful to attach the file to this ticket so that it may be sent to the ESpeak tracker.

[2017-08-04 18:19] #3112 closed

[2017-08-04 18:38] zstanecic commented on #7458
@bramd, now all the keys are not working on braille wave in the imput help, and outside of the imput help: see log again!
[nvda.txt](https://github.com/nvaccess/nvda/files/1201320/nvda.txt)

[2017-08-04 18:40] ehollig commented on #3767
Closing because of comments in https://github.com/nvaccess/nvda/issues/3767#issuecomment-155315467

1. The developer of Siebel should improve the accessibility of the framework so that it can be accessible with all assistive technology products.
2. We need specific details about the problems encountered when using such applications with NVDA to assist with making this application more accessible.

[2017-08-04 18:40] #3767 closed

[2017-08-04 18:42] ehollig commented on #4163
@leonardder have you ever experienced this using Thunderbird?

[2017-08-04 19:12] bramd commented on #7458
@zstanecic Ah, I seey, should be fixed.

[2017-08-04 19:15] zstanecic commented on #7458
@bramd
i don’t see any new fixes in the repo yet...

[2017-08-04 19:32] zstanecic commented on #7458
ok. another steps to reproduce for keys b3 and b6: 1. press ins +1 2. press b3 or b6 these are not read outloud with the description only.. description of b1 was not read too...
panning is working as expected, escape is working as expected and the enter key on the display is working as expected i.e they act like tab and shift tab.
and, ah i forgot
enter in the keymap is also emulated as escape+ re

[2017-08-04 19:47] ehollig commented on #2495
I can not reproduce this in notepad or Microsoft Word 2016 with the steps provided in https://github.com/nvaccess/nvda/issues/2495#issue-116031195. Closing

[2017-08-04 19:47] #2495 closed

[2017-08-04 22:23] bramd commented on #7458
@zstanecic Thanks for the feedback. It is correct that b3 and b6 do not speak in input help. This is because they are mapped to left/right panning as well. This is needed for the Basic Braille, since it has only 6 b-keys. Escape+return has been mapped to enter as well.

[2017-08-04 22:26] bramd commented on #7458
Braille input has now been implemented. It can be turned on/off by pressing space+dots 1, 2, 7, that is space+b1+b3+b4 in the Handy Tech key names. This is consistent with other Handy Tech drivers that have this feature.

[2017-08-04 23:31] ehollig commented on #2866
Closing because of reasons mentioned in https://github.com/nvaccessAuto

1. Exact steps to reproduce have not been provided.
2. Adobe Reader 8 is now 4 versions behind the latest version (Adobe Reader DC).

[2017-08-04 23:31] #2866 closed

[2017-08-05 00:53] ehollig commented on #5167
Closing because of reasons stated in https://github.com/nvaccess/nvda/issues/5167#issuecomment-318837891.
If the reasoning is because of the iCloud Control Panel, and someone can replicate this and provide steps to reproduce, we can reopen this ticket. As stated by others though, worksforme

[2017-08-05 00:53] #5167 closed

[2017-08-05 00:55] #5208 closed

[2017-08-05 00:57] #5278 closed

[2017-08-05 01:01] ehollig commented on #4288
@bhavyashah, can you please update CCleaner to the latest version to see if the described behavior still occurs? If it does, could you please attach a log demonstrating the issue with logging level set to debug?

[2017-08-05 01:16] zstanecic commented on #7458
@bramd theres’ one thing: in the comm driver wich the stable nvda uses, theres’ no braille input for the braille wave device. Now the imput works on my device. I can just say thank you. now, it will be the big time for improvements in the braille tables, as some have big errors, like the serbian one, because when you try to write something, you cannot do it normally, it doesn’t respect the number

[2017-08-05 01:41] ehollig commented on #2127
Closing because the issue was investigated and unfortunately, there was no way to solve it as stated in https://github.com/nvaccess/nvda/issues/2127#issuecomment-186691438
Unless @michaelDCurran has additional information to provide, closing as cantfix

[2017-08-05 01:41] #2127 closed

[2017-08-05 07:50] Brian1Gaff commented on #4288
This sort of thing is annoying certainly, but one can shut it up. Currently
if you use the latest master snap and the latest ccleaner you get all the
junk spokentwice in any case.,

as per..

snip
INFO - core.main (08:17:55.009):
NVDA version master-14289,6c85ce59
INFO - core.main (08:17:55.009):
Using Windows version 6.1.7601 service pack 1 workstation

snip

IO - speech.speak (08:30:01.188):
Spe

[2017-08-05 09:59] francipvb commented on #5648
Hello,

Just making this issue alive ...

What about reading the incoming messages as they come up and let the user change it through dictionary?

It is a nice solution I think.

Cheers,

[2017-08-05 10:20] bhavyashah commented on #2707
Confirmed. Using NVDA master-14274,18073792 (temporary copy) on a Windows 8.1 system, I was alarmed when I was able to successfully and consistently replicate these errors consecutively because the error sounds were quite frightening. :) Assuming you have more than one keyboard layout to toggle between (I have three; Hindi Traditional, English India and English US), follow the below steps to repli

[2017-08-05 10:34] bhavyashah commented on #4288
@ehollig I hope @Brian1Gaff's testing suffices. If not, let me know and I'd be happy to chime in.

[2017-08-05 11:02] zstanecic commented on #7458
@bramd as the handytech displays are popular  in Croatia, can you give me the driver as an NVDA add-on so that i can test the driver in my steble envirinment? or give me instructions how this driver will work as an separate driver, because i want to distribute the driver to the people, who have more details, so that i can give you more feedback regarding the driver. All the best, Zvonimir

[2017-08-05 13:09] audiogamer22 commented on #7207
No. It seems it is fixed.

Sent from my iPhone

On 4 Aug 2017, at 09:18, bhavyashah <notifications@github.com<mailto:notifications@github.com>> wrote:

As indicated by @PratikP1<https://github.com/pratikp1> in #7207 (comment)<https://github.com/nvaccess/nvda/issues/7207#issuecomment-304683653>, the reported issue may be a fault of Firefox. Assuming this freeze still occurs (please comment if other

[2017-08-05 14:11] ruifontes commented on #7458
I can test with a Basic Braille 20.

Rui Fontes

-----Mensagem Original-----
De: zstanecic
Data: 5 de agosto de 2017 02:16
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Native driver for Handy Tech braille displays
(#7458)

@bramd theres’ one thing: in the comm driver wich the stable nvda uses,
theres’ no braille input for the braille wave device. Now the imput works on
my device

[2017-08-05 15:29] bhavyashah commented on #6678
@miki123211  Could you please respond to @josephsl's https://github.com/nvaccess/nvda/issues/6678#issuecomment-269130885 by providing system information, particularly the version of Adobe Acrobat Reader in use?

[2017-08-05 15:32] bhavyashah commented on #6673
@jcsteh From https://github.com/nvaccess/nvda/issues/6673#issuecomment-270037047, do you mean that further testing on the part of @Neurrone is required, or that you have successfully reproduced this issue and a technical investigation needs to be made by Adobe and NV Access themselves?

[2017-08-05 15:36] bhavyashah commented on #5827
@jcsteh Since it seems that @sukiletxe has provided the required documents and information in https://github.com/nvaccess/nvda/issues/5827#issuecomment-199882132 as requested by you in https://github.com/nvaccess/nvda/issues/5827#issuecomment-199827449, could you please investigate the reported issue and share your findings?

[2017-08-05 15:43] bhavyashah commented on #5644
@jcsteh Do you consider the AdobeWork label sufficient or should NeedsExternalFix also be added to this (and maybe a couple others) ticket?

[2017-08-05 15:50] bhavyashah commented on #5562
@jcsteh https://github.com/nvaccess/nvda/issues/5562#issuecomment-162412558 suggests that you are able to successfully reproduce the reported issue and are aware of the causative factors of this regression. Could you and @surfer0627  please check if this bug still stands in the latest version of Acrobat Reader?

[2017-08-05 15:54] bhavyashah commented on #5367
@jcsteh Does https://github.com/nvaccess/nvda/issues/5367#issuecomment-209244835 mean that this issue has only been solved in part? If so, I would be interested in hearing from @derekriemer and others if they still experience Flash crashes with NVDA running. Regardless, it should be noted that Flash shall be discontinued by Adobe by the end of 2020.

[2017-08-05 15:57] bhavyashah commented on #5158
@dkager By https://github.com/nvaccess/nvda/issues/5158#issuecomment-233739881, do you mean that the reported issue no longer exists at your end with recent versions of Adobe Digital Editions? If so, this issue can be safely closed. @ehollig

[2017-08-05 16:01] bhavyashah commented on #5099
@jcsteh From https://github.com/nvaccess/nvda/issues/5099#issuecomment-155339203, I infer that the scope of this ticket is not specific and thus remains unclear. Could you and @josephsl please take another look at this ticket so as to ascertain what the reported issue or requested feature exactly is?

[2017-08-05 16:15] ehollig commented on #4846
Closing because we do not have a way to contact the original author and there is insufficient information to duplicate the issue.

[2017-08-05 16:15] #4846 closed

[2017-08-05 16:23] ehollig commented on #4074
This is an interesting idea. Although, keeping in mind that flash will be discontinued in 2020, what are your thoughts @jcsteh? I am leaning toward a wontfix

[2017-08-05 16:25] bhavyashah commented on #4008
@jcsteh Given that we have no means of contacting the original author of this ticket, do you think we have sufficient information to diagnose this issue or should we close it for the time being? Could the Github username of k_kolev1985 also be shared by someone and consequently mentioned?

[2017-08-05 16:27] ehollig commented on #2498
@josephsl, do you know if Metro apps have been officially superseded by UWD apps or whether they are still supported by Microsoft?

[2017-08-05 16:29] bhavyashah commented on #3350
@jcsteh You expressed a few thoughts and concerns about this ticket in https://github.com/nvaccess/nvda/issues/3350#issuecomment-155308167 almost four years ago. Might you have any updates with regards to the request given that Adobe Reader has changed significantly and is now Adobe DC/Acrobat Reader?

[2017-08-05 16:36] bhavyashah commented on #2183
@jcsteh You expressed thoughts on this ticket in https://github.com/nvaccess/nvda/issues/2183#issuecomment-155296285 more than five years ago. Any updates? CC @Qchristensen and @feerrenrut also in case their sight may aid in diagnosing this somewhat visual-oriented issue...

[2017-08-05 16:38] bhavyashah commented on #2176
The original author of this ticket did not respond to @jcsteh's https://github.com/nvaccess/nvda/issues/2176#issuecomment-155296240 and we have no available means of contacting him. Time to close? @ehollig

[2017-08-05 16:46] bhavyashah commented on #1545
@jcsteh Since the original author did respond to your request for further details and specifics in https://github.com/nvaccess/nvda/issues/1545#issuecomment-155290532, do you have any follow-up to make or priority to assign to this ticket (P4 perhaps)?

[2017-08-05 17:08] dkager commented on #5158
What I meant is that I don't see any of the book's text content on the braille display, so this problem doesn't occur for me. But that's not because it was fixed, but because my problem is even worse. :)

I should say that I haven't tested this since my comment from a year ago.

[2017-08-05 17:09] ehollig commented on #7207
As stated in https://github.com/nvaccess/nvda/issues/7207#issuecomment-320442879, this issue has been fixed. The larger scope of this issue will be covered in other tickets. Closing

[2017-08-05 17:09] #7207 closed

[2017-08-05 17:23] ehollig commented on #2620
Duplicate of #4133

[2017-08-05 17:23] #2620 closed

[2017-08-05 17:28] ehollig commented on #1814
@Brian1Gaff just a friendly reminder to reply to https://github.com/nvaccess/nvda/issues/1814#issuecomment-313093015

[2017-08-05 17:32] ehollig commented on #2794
This sounds specific to IBM Lotus Symphony which development has been discontinued. Closing

[2017-08-05 17:32] #2794 closed

[2017-08-05 23:18] ehollig commented on #2176
If this is still the case with the latest version of Adobe Reader, please create a new ticket or provide an example document demonstrating the issue. Closing

[2017-08-05 23:18] #2176 closed

[2017-08-06 03:15] ehollig commented on #7211
@tommyTsaiTou could you provide more information about PIME and answer the other questions addressed in https://github.com/nvaccess/nvda/issues/7211#issuecomment-304581536? This will help in assigning a priority to this issue.

[2017-08-06 03:39] vgjh2005 commented on #5912
Fixed! Thanks!

[2017-08-06 03:49] ehollig commented on #6006
@leonardder, do you have a BS QWERTY available to test this? https://github.com/nvaccess/nvda/issues/6006#issuecomment-226952950 says you may.

[2017-08-06 04:50] bhavyashah commented on #5912
Based on https://github.com/nvaccess/nvda/issues/5912#issuecomment-320483607, I guess it is time to close this ticket. @ehollig

[2017-08-06 07:13] Qchristensen commented on #2183
Ideally, if we could visually highlight text while selecting, it would, as noted, aid sighted / low vision users, though how easy it would be to implement and how much overhead it would bring could be the issue.  In some cases - in both Adobe Reader DC and web browsers for instance, you can select text with the mouse and it is visually highlighted, even though it may not be when done with the keyb

[2017-08-06 08:49] Brian1Gaff commented on #5912
Via Voice is very old now and sundry versions were made, one sounding
uncannily like  Eloquence of course. However in two archives of home page
reader here, i see different versions of via voice. One seems buggy and apt
to just stop, and the other one OK.
 As I do not know the legality of still installing these after the long time
period, I'm loathe to ask about the one mentioned  to try to see if

[2017-08-06 08:52] Brian1Gaff commented on #2183
In Supernova, the highlighting works, but I used to find it was either ahead
or behind the spoken words quite a lot of the time.
 Of course we had slower machines in those days. I'd imagine in say all it
would be possible as long as you are not speed reading!
 Certainly when I'm trying to find a place on a web site and have some eyes
with me, I'd like some way to indicate where I am to them so the

[2017-08-06 09:00] Brian1Gaff commented on #5367
I just wonder though, whether web sites will all be using html 5 instead of
flash by then. I suspect not.
 I know a lot of sites, often those  like paypal and  e commerce sites for
credit card entry etc, still prompt for flash if its not enabled and can be
very hard to navigat either  with it on or off.

Not had outright crashes for some time, but occasionally they do just tell
me I'm out of date

[2017-08-06 09:03] Brian1Gaff commented on #6678
I'm not sure if any of these adobe reader threads mention it, but one of the
main issues about strange goings on is because of no or poor tagging of
reading order in the file to start with. Not much a screenreader can do
about this. Adobe should force  creators to tag their files correctly in my
view.
You can often see the mess if you extract the text from a pdf, either in
reader itself or using t

[2017-08-06 09:58] Qchristensen commented on #2183
Ah highlighting the word being spoken is, I believe, a different issue to the one this ticket is for, which is that when reading a PDF file (although the same is true in some, but not all other Browse mode documents), when you select text, for instance with shift+right arrow, the text is not visually highlighted.

For highlighting what is being read, the best option at present is the "focus highli

[2017-08-06 10:01] bhavyashah commented on #4388
I am still able to consistently reproduce the reported bug. Any thoughts on the assignment of a priority to this ticket (a P3 IMHO if implementation cost is not too high)? @feerrenrut @jcsteh

[2017-08-06 10:24] bhavyashah commented on #4308
@jcsteh Just a friendly reminder to review this more than 2-year-old code submission.

[2017-08-06 10:32] bhavyashah commented on #4263
@jcsteh @leonardder Could you please update us about the status of the code  review for this feature?

[2017-08-06 10:38] bhavyashah commented on #5267
Could someone please summarize the limitations of the current implementation and what work still remains for this issue to be fully addressed?

[2017-08-06 10:43] bhavyashah commented on #3473
@jcsteh Your https://github.com/nvaccess/nvda/issues/3473#issuecomment-155309126 is slightly unclear to me. Do you consider the issue raised as universal and the patch to be app-specific, or is the submission ready for code review but one hasn't had the chance to do that yet, or something else? I would appreciate a clarification.

[2017-08-06 10:46] bhavyashah commented on #3304
@dkager  Since your submission seems to be ready for code review, I would like to kindly request @josephsl, @jcsteh and others to take a look. If it isn't ready, please update us about the implementation status, Davey.

[2017-08-06 10:53] bhavyashah commented on #2649
@michaelDCurran Since you have been assigned this ticket, could you please review the almost 2-year-old code submission mentioned in https://github.com/nvaccess/nvda/issues/2649#issuecomment-155300466?

[2017-08-06 10:57] bhavyashah commented on #2446
Since vrdhn  is the author of the code which @michaelDCurran reviewed in https://github.com/nvaccess/nvda/issues/2446#issuecomment-158818042 but his Github username is unknown to me, could someone please mention him (or perhaps another NVDA India member) for the suggestions put forth by Mick to be incorporated?

[2017-08-06 11:01] bhavyashah commented on #2156
@feerrenrut Could we please have the code which was provided as an attachment in https://github.com/nvaccess/nvda/issues/2156#issuecomment-155296098 on Github?

[2017-08-06 11:04] bhavyashah commented on #1839
@jcsteh Just a friendly reminder to review the branch shared by norrumar (I believe @nvdaes) in https://github.com/nvaccess/nvda/issues/1839#issuecomment-155293378.

[2017-08-06 11:10] bhavyashah commented on #1486
@jcsteh @feerrenrut Could the file attached in https://github.com/nvaccess/nvda/issues/1486#issuecomment-155289857 please be restored? Post that, a gentle ping to all code reviewers to take a look at the submission.

[2017-08-06 11:10] fernando-jose-silva commented on #7473
I agree, thank you

Enviado do meu iPhone

[2017-08-06 11:42] bhavyashah commented on #7344
Confirmed using NVDA version 2017.2 and Firefox 54.0.1. The sample URL and STR provided by @dan1982code were quite easy to follow. Apart from Firefox however, it is worth noting that this issue can be replicated in Chrome (and probably all other browsers) also.

[2017-08-06 11:45] bhavyashah commented on #7125
@derekriemer Is the argument/explanation provided by @jcsteh in https://github.com/nvaccess/nvda/issues/7125#issuecomment-312426558 sufficient for you? If not, I would encourage further discussion so as to ascertain what needs to be done.

[2017-08-06 11:49] bhavyashah commented on #6904
@feerrenrut Since @derekriemer has responded in https://github.com/nvaccess/nvda/issues/6904#issuecomment-282339536 to the questions you posed in https://github.com/nvaccess/nvda/issues/6904#issuecomment-282332790, do you have any follow-up to make or is the scope of this ticket clear? Also, the symbols for pi and sigma provided in the ticket summary are read by ESpeak-NG correctly for me.

[2017-08-06 11:51] bhavyashah commented on #6695
Just a gentle ping to bring the attention of NVDA code contributors to this P2 issue in case anyone desires to work on this.

[2017-08-06 11:54] bhavyashah commented on #6527
@jcsteh Since you seem to have been involved in diagnosing and troubleshooting this issue, could you please highlight the current standing and impact of this issue as well as assign an appropriate priority to this ticket?

[2017-08-06 11:56] bhavyashah commented on #6273
CC @michaelDCurran in case you and others can shed light on the technicals behind the problems described by @derekriemer and myself in this ticket.

[2017-08-06 12:03] dkager commented on #6695
As noted in https://github.com/nvaccess/nvda/issues/6695#issuecomment-270511629 this needs some upstream work first. (In general, I'm not too fond of how liblouis deals with Unicode.)

[2017-08-06 12:03] bhavyashah commented on #5122
@jcsteh Could you please address this ticket? The requested enhancement does not sound possible to me.

[2017-08-06 12:06] dkager commented on #3304
See the associated PR (#5489), which definitely isn't ready anymore.

[2017-08-06 12:08] bhavyashah commented on #5105
@jcsteh @feerrenrut I would suggest labelling this as a P2 or a P3 depending on the implementation cost because the reported issue has a wide-ranging impact from Math to other special characters. Additionally, this is more of a bug that needs to be fixed rather than a new feature. Thoughts?

[2017-08-06 12:11] bhavyashah commented on #5103
@feerrenrut @jcsteh Since this change would be a major relief for all NVDA+MathType users, I suggest labelling this ticket as P3, or even a P2 if implementation cost is not significant.

[2017-08-06 12:17] bhavyashah commented on #4631
@michaelDCurran @jcsteh @Qchristensen What priority do you think should be assigned to this ticket? Since the implementation cost seems to be non-trivial, I am leaning towards P3 or P4, although I have little knowledge about the feature's value and impact.

[2017-08-06 12:20] bhavyashah commented on #4422
@jcsteh You seem to indicate in https://github.com/nvaccess/nvda/issues/4422#issuecomment-155326820 that this issue would be invalidated if Math Player support in NVDA becomes a reality, which it has, as of 2017. Time to close? @ehollig

[2017-08-06 12:23] bhavyashah commented on #3919
@jcsteh Based on https://github.com/nvaccess/nvda/issues/3919#issuecomment-155317711,, should this ticket be closed as a wontfix or left open as a P4?

[2017-08-06 12:25] dkager commented on #5267
WRT the braille side of things, an update is in https://github.com/nvaccess/nvda/pull/6778#issuecomment-320503561.

[2017-08-06 12:43] bhavyashah commented on #1539
Does anyone have more user-friendly alternatives to line feed and carriage returned at present? Also, even before considering any proposed alternatives, we must keep in mind the fact that these two terms have been in NVDA since many years now and changing them may result in potential confusion. If no one disagrees, I would like to kindly suggest closing this ticket as invalid. @ehollig

[2017-08-06 12:46] bhavyashah commented on #1557
Since we have no means of contacting the original author of this ticket and he has not replied to @josephsl's https://github.com/nvaccess/nvda/issues/1557#issuecomment-155290680, can this ticket be closed as invalid? @ehollig

[2017-08-06 12:48] bhavyashah commented on #1617
@jcsteh Since cardsfan22 has answered your initial questions in https://github.com/nvaccess/nvda/issues/1617#issuecomment-155291204, could you please triage this ticket?

[2017-08-06 12:53] bhavyashah commented on #1619
@jcsteh Could you please mention the URL of MozillaBug:648504 that you had filed? Googling 'MozillaBug:648504' leads me only to this NVDA Github ticket thus preventing me and possibly others from tracking the progress of this issue on the Firefox tracker.

[2017-08-06 12:56] bhavyashah commented on #1648
@jcsteh In https://github.com/nvaccess/nvda/issues/1648#issuecomment-155291452, you had mentioned that something of the like was being considered back then. Could you please update us with your present thoughts on this ticket?

[2017-08-06 13:11] bhavyashah commented on #1651
@dgoldfield Can you still reproduce this issue with the latest versions of both NVDA and the Atlantis word processor?