[2021-03-18 23:22] dingpengyu commented on #11044
hello all
Is there an update on the current issue?
thanks

[2021-03-18 23:22] nidza07 commented on #12197
Here is a log demonstrating the issue:
[Foobar remaining time bug.log](https://github.com/nvaccess/nvda/files/6167680/Foobar.remaining.time.bug.log)

[2021-03-18 23:29] josephsl commented on #12197
Hi, based on the log, it appears this is something to do with wxPython (again…) + Python 3.8. Thanks.

[2021-03-19 00:03] Qchristensen commented on #12167
It's not that NVDA deliberately doesn't support Access - more it's a range of issues:
- The accessibility of MS Access is not quite at the same level as other Office programs
- NVDA could likely work better in Access (from our end).
- Access is not as widely popular as say Word or Excel, and we try to prioritise issues which will have the most beneficial impact to the widest number of users, so th

[2021-03-19 00:17] seanbudd opened #12198 "Installation process crashes due to StaticBoxSizer changes"
The standard installation process crashes with the following traceback, likely caused by #12181

[code]

_Originally posted by @OzancanKaratas in https://github.com/nvaccess/nvda/issues/12183#issuecomment-802345151_

[2021-03-19 00:33] seanbudd commented on #12198
Closing as duplicate of #12196

[2021-03-19 00:33] #12198 closed

[2021-03-19 00:34] seanbudd commented on #12196
The standard installation process crashes with the following traceback, likely caused by #12181, looking at this on #12199

[code]

[2021-03-19 00:48] tspivey opened #12200 "Wrong cell read in Excel"
### Steps to reproduce:
1. In an empty workbook, move to B1.
2. Press a letter.
3. Press down and left.

### Actual behavior:
If I press down and left too fast, I hear either B2 or nothing.
### Expected behavior:
I should hear A2.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
2020.4
#### Windows version:
Version 2004 (OS Build 19041.867)
##

[2021-03-19 02:37] XLTechie commented on #12200
I can not replicate this in latest alpha for Excel 2019.

[2021-03-19 03:13] cary-rowen commented on #8739
This is great, of course I also hope to have a gesture to report the footnote

[2021-03-19 06:42] leonardder commented on #11131
@feerrenrut Would you be open to a pr that removes flash support from NVDA?

[2021-03-19 08:10] CyrilleB79 commented on #12010
@feerrenrut, @seanbudd, would you consider labeling this issue for NVDA 2021.1, since it is a regression in current alpha stage (already present befor py38)?
Thanks.

[2021-03-19 08:17] MarcoZehe commented on #12010
I can also confirm both routing key problems, that in NotePad and that in Chromium-based browsers.

[2021-03-19 08:17] MichelSuch commented on #12010
I would add that this is a very annoying problem.

Michel Such ***@***.***>
------------------------------------------------------------------------
Expert NVDA certifié 2019
Le 19/03/2021 à 09:11, Cyrille Bougot a écrit :

[2021-03-19 08:17] zstanecic commented on #12198
I can confirm the same with polish windows 10 locale

ERROR - unhandled exception (08:03:28.117) - MainThread (6604):

Traceback (most recent call last):

  File "gui\__init__.pyc", line 371, in onInstallCommand

  File "gui\installerGui.pyc", line 328, in showInstallGui

  File "gui\installerGui.pyc", line 182, in __init__

AttributeError: 'BoxSizerHelper' object has no attribute 'GetStaticBox'

[2021-03-19 08:54] Adriani90 commented on #11044
cc: @feerrenrut

[2021-03-19 09:16] gauravahir28 opened #12203 "NVDA reads blank After pressing left arrow in windows default mail app."
### Steps to reproduce:
- Open windows default mail app.
- open an any email of which the first line is not empty.
- Move your focus to the first  letter of the first word.
- Keep pressing left arrow.
### Actual behavior:
NVDA reads blank.
### Expected behavior:
NVDA should read First letter of that first word.
### System configuration
#### NVDA installed/portable/running from source:
Installed.
#

[2021-03-19 10:22] CyrilleB79 commented on #11044
Hello @dingpengyu

I am not sur to really understand what is the problem. But some details are missing in description of this issue:
1. In the steps to reproduce:

   How do you generate this? Do you use poEdit? Please add details.

   Which string? I guess it is "{symbol} as in {description}" but please confirm.
2. Actual result
   Where can you see the error message
3. Expected result
   Please

[2021-03-19 10:33] zahra21 commented on #12116
hi.
i downloaded the snapshot version from:
https://ci.appveyor.com/api/buildjobs/g6altrqhcrr5ci2s/artifacts/output%2Fnvda_snapshot_try-py3.8_venv-21858%2C9ab0f6df.exe
installed it on windows seven and i confirm that it worked for me without any error when installing!

[2021-03-19 15:47] mohammad-suliman commented on #10489
Thanks for your comments. I no longer can reproduce the issue, but here are things worth mentioning:
* I have upgraded my laptop to a one with much better specs
* I use office 365 rarely nowadays
* The issue is still open on the Chromium side

[2021-03-19 18:12] TechHorseG commented on #12194
Thanks for the addons link, I will check it out. Thanks for all responses.

[2021-03-19 18:12] #12194 closed

[2021-03-19 22:19] kpasagada commented on #11310
Is there an update on this issue? It looks like its been stuck for a while now.

[2021-03-20 00:15] XLTechie opened #12204 "Odd behavior with a particular checkboxe, not browser specific"
### Steps to reproduce:

1. Open this page in a (private) browser window: [My Social Security Terms of Service Agreement Form](https://secure.ssa.gov/RIR/CatsView.action)
2. Attempt to select the "I agree" checkbox with the space key.
3. Re-read the line with up/down arrow or other means.
4. Try to select the box again.
5. Perhaps try using mouse routing.

### Actual behavior:

The I agree checkbo

[2021-03-20 00:17] XLTechie commented on #12204
CC: @jcsteh

[2021-03-20 00:20] XLTechie commented on #12204
I should note that upon page reload, the next press of the checkbox will not
speak.

[2021-03-20 07:20] gregjozk opened #12205 "Portable copy: an install dialog NVDA does not show "copy portable config to this account" or something like that at the first time"
Hello,

when I roled back from latest alpha - 22012... to alpha - 21810... via a portable copy I found next bug:
after I ran a portable copy and went to nvda menu, tools, install nvda on this computer, in the first dialog, which has been shown, there was missing a check box to copy portable config to this account. after installing nvda, I ran portable copy again and went to menu and again pressed

[2021-03-20 10:03] Brian1Gaff commented on #12204
This is a similar issue I get with the British wireless for the blind upload
site in which you can select a box and hit delete to delete all old files.
It will say checked, but then it will say unchecked if you cursor over it
again, but if you move several lines up and then back it is in fact checked.
 I think it needs someone to check these things with edge and other browsers
not based on mozilla

[2021-03-21 10:03] MarcoZehe opened #12206 "Windows Terminal with Braille: UIA and runtime errors when closing it"
### Steps to reproduce:

1. Open Windows Terminal.
2. Do some things, it is not really important. I looked at the Preview version and checked out the new Settings UI, then closed it and returned to PowerShell.
3. Type `exit` and hit Enter to close.

### Actual behavior:

Often when I close Terminal, errors like this are logged:

[code]

### Expected behavior:

No such errors.

### System configura

[2021-03-22 02:20] jcsteh commented on #12185
Many objects in general, regardless of what they are, will increase load times. That is, a single object with lots of text will be relatively fast, but the same amount of text spread across many objects will be much slower. Tables are particularly problematic because cells are usually very small, but there tend to be a lot of them. Long lists can be similarly problematic.

Yeah, I've given this so

[2021-03-22 05:37] feerrenrut commented on #12010
I can reproduce this issue with the braille viewer and notepad.exe, using the hover mouse to route option.

[2021-03-22 06:43] feerrenrut commented on #11131
Yes, I think we can go ahead with removing Flash.

[2021-03-22 10:33] kara-louise commented on #10588
Has there been any developments on fixing this issue?
the workaround @josephsl mentioned is fine for what it is, but a permanent fix is needed.

[2021-03-22 11:16] Adriani90 commented on #10588
cc: @feerrenrut

[2021-03-22 11:25] feerrenrut commented on #12018
Fixed with https://github.com/nvaccess/nvda/pull/12075

[2021-03-22 11:25] #12018 closed

[2021-03-22 18:05] leonardder opened #12209 "Consider dropping gui.accPropServer based GUI annotations in favour of wx.Accessible"
### Is your feature request related to a problem? Please describe.
To annotate dialogs (e.g. adding accessible descriptions, changing roles, checked/unchecked state of checkable list items), we use the gui.accPropServer module for a custom COM server implementation using comtypes. It took us several iterations to get this right and honestly, it feels slightly hacky to me.

### Describe the solutio

[2021-03-22 18:08] leonardder commented on #12209
CC @feerrenrut you also devoted some time to the gui.accPropServer module. I really feel like we need to consider the wx way since it results in less and cleaner code and means a switch to a process that is much better documented and elegant

[2021-03-22 18:59] nidza07 commented on #12197
Any updates  on  this one? It can still be reproduced using alpha-22050,83738d7d

[2021-03-22 23:00] fernando-jose-silva opened #12211 "read formatting information in notepad"
### Steps to reproduce:
Open the notepad.
type a text
select all text
open the menu bar with alt
right arrow until formatted
down arrow to source
press enter
in the open window walk with tab and configure things like
source
font style
size
walk with tab and press enter.
Now focus on any character that has been formatted and press nvda + f
### Actual behavior:
nvda speaks without formatting informa

[2021-03-23 02:34] dingpengyu opened #12212 "NVDA version alpha-22057 cannot be installed properly"
### Steps to reproduce:
First download the latest alpha from [here](https://ci.appveyor.com/api/buildjobs/q2i22mxxlcs9afnv/artifacts/output/nvda_snapshot_alpha-22057,fc6b73f5.exe) and perform the installation process.
Then you can reproduce the error
### Actual behavior:
NVDA will play a beep after you tap the install button during the installation process.
### Expected behavior:
NVDA performs nor

[2021-03-23 03:01] dingpengyu opened #12213 "NVDA plays a beep when using chromium kernel browser website"
### Steps to reproduce:
First open [github](https://github.com)
Then NVDA play an error tone
### Actual behavior:
Then NVDA will play an error tone
### Expected behavior:
NVDA normal loading page
### System configuration
#### NVDA installed/portable/running from source:
install version
#### NVDA version:
NVDA version alpha-22050
#### Windows version:
Microsoft Windows [version 10.0.19042.867]
####

[2021-03-23 03:05] seanbudd commented on #12212
Duplicate of #12196

[2021-03-23 03:05] #12212 closed

[2021-03-23 04:16] seanbudd commented on #12123
I'm going to start on removing the backwards compatibility introduced in #10934 tomorrow, if you haven't already started on it

[2021-03-23 04:17] amirsol81 commented on #12196
@seanbudd Any progress regarding this?

[2021-03-23 07:10] leonardder commented on #9861
Selection patterns are added in #12210

[2021-03-23 08:36] #12010 closed

[2021-03-23 08:43] feerrenrut commented on #12209
It would be worth trying it out. Removing code is certainly nice to do.

[2021-03-23 08:47] cary-rowen commented on #124
@feerrenrut
@seanbudd

Is there any news on this issue?
Thanks

[2021-03-23 09:36] lukaszgo1 commented on #12123
I've written most of the code already - it is available in ` IAccessibleHandlerNoStarImportsForCOMInterfaces` on my fork. I'll finish it off as soon as I can.

[2021-03-23 09:46] #11131 closed

[2021-03-23 10:24] CyrilleB79 commented on #6431
Hello
Due to Flash support removal (#12207), this PR should probably closed with WONT FIX label.
Cc @leonardder, @feerrenrut

[2021-03-23 10:25] #6431 closed

[2021-03-23 17:51] Adriorjalesvidal opened #12216 "NVDA Android studio editor error is not spoken"
### Steps to reproduce:
1. Create an Android Studio project (tested with Java languaje selected)
2. Make a mistake on the code editor, like deleting the semicolon at the end of a line.
3. Press F2 to navigate to the next error on the file
4. Press CTRL + F1 to read the error message
5. NVDA does not read any message.

### Actual behavior:
NVDA doesn't read the code editor error description on Andr

[2021-03-23 18:25] poonamdeo opened #12217 "NVDA not reading any browse results"
### Steps to reproduce:
1. Open Browser (Chrome, Firefox, Microsoft Edge)
2. Browse any search result
3. Press Enter
### Actual behavior:
NVDA does not read words after being typed and also does not read the page loaded, instead announces as unknown and sometimes doesn't announce anything.
### Expected behavior:
NVDA should read the words typed and after completing the search it should read the op

[2021-03-23 19:23] Palacee-hun commented on #12045
With most elaborate work I managed to track down the very core of these freezes. The NVDA workaround code I had shared above was very much needed for that as a frozen screen reader is not particularly useful for serious debugging purposes. This was a Ghidra bug. Technically one tiny method overrode AccessibleContext retrieval for a vertical scrollbar subclass with a specific visual appearance, but

[2021-03-23 19:46] lukaszgo1 commented on #12045
Have you considered to submit a pr yourself?

[2021-03-23 20:08] bdorer commented on #12185
well, even loading German userguide without addons takes 16.217 sec
using latest firefox and NVDA alpha. Just as a reference.

Am 22.03.2021 um 03:20 schrieb James Teh:

[2021-03-23 22:33] Palacee-hun commented on #12045
No and I won't do that myself. Reasons are simple: I have absolutely no experience with that. I've never ever made a pull request. I've read through many tutorials, but somehow I couldn't understand the Github "bureaucracy" with pull requests and why so many steps are needed just to put a very tiny fix in place. I am very strong at tracking down and fixing very hard to find bugs (like this) even i

[2021-03-23 23:15] #12196 closed

[2021-03-23 23:55] dingpengyu commented on #11044
The current problem description is not clear, I will rewrite this problem

[2021-03-24 03:02] feerrenrut commented on #12045
It's important that someone who truly understands the problem and required change creates the Pull Request, since it is the mechanism for communicating the intent, reasoning and approach to the rest of the developers on the project.

I'd be happy to provide guidance with creating the PR if you would like. The process is very safe, and the community is friendly.

[2021-03-24 03:47] seanbudd commented on #12160
I can't reproduce this on `alpha-21882,528d5708` nor using the latest alpha `alpha-22086,0316158b`. I'm running Windows 10 and using the main Russian locale for my windows VM. Are you using a different Russian dialect?

[2021-03-24 06:06] seanbudd commented on #12162
Closed by #12207

[2021-03-24 06:06] #12162 closed

[2021-03-24 06:23] MarcoZehe commented on #12045
CC'ing @Zersiax because didn't you recently also experiment/fight with some JAVA-related NVDA crashes and freezes? Are they related maybe?

[2021-03-24 08:16] akash07k commented on #12216
Yes, even this bug is there with latest android studio caneri too.
would be good if it gets fixed.

On 3/23/21, Adriorjalesvidal ***@***.***> wrote:

[2021-03-24 08:36] ainekc commented on #11427
Also NVDA doesn't read any line or para info for me when UIA is enabled. Works as expected without UIA.

[2021-03-24 09:10] Palacee-hun commented on #12045
No, that was the only Java-related crash/freeze I've ever encountered with NVDA during the more than 10 years since I use NVDA exclusively.

[2021-03-24 09:24] Adriorjalesvidal commented on #12216
Latest working release of android studio is release 3.6.3

[2021-03-24 09:26] akash07k commented on #12216
Sorry buddy, I had to right latest Android Studio Caneri 4.1.3

On 3/24/21, Adriorjalesvidal ***@***.***> wrote:

[2021-03-24 10:05] Brian1Gaff commented on #12217
Have you recently uninstalled an office product or any other major
application or anti virus system? What anti virus do you use.

I've seen this in windows 7 as well, and it tends to be some registry
corruption or incorrect restoration by an uninstaller. I took my machine
back to an earlier date to fix it and eventually found it was avast, which I
used Avastclear to remove in safe mode, I understo

[2021-03-24 11:40] zahra21 commented on #7269
michaelDCurran,
you mentioned that:
"This can only be reproduced on a small amount of machines running Windows 10 Creaters Update."
i tested and my result is very different for this bug!

[2021-03-24 12:20] zahra21 commented on #7269
i tested some versions of firefox on windows seven for example: firefox 52 until 56 and also 67 which is the last version that multiprocess can be enabled or disabled easily on that version.
                    first, its not specific for windows ten only, as i said, i reproduced it on windows seven.
                    second, it does not affect firefox multiprocess disabled.

[2021-03-25 01:29] seanbudd commented on #1740
This behaviour has been implemented on #12183

[2021-03-25 04:46] #12209 closed

[2021-03-25 05:57] feerrenrut commented on #5638
I'd like feedback from people on how they intend to use this. The simplest mechanism would be adding a function such as `bool nvdaController_isSpeaking` but this will require client software to poll while waiting for speech to finish.
A more complicated addition might be to allow registration of a callback to notify that speech is finished:
`void nvdaController_onFinishedSpeaking(void (*onFinished

[2021-03-25 06:04] dingpengyu opened #12219 "NVDA version alpha-22117 cannot be installed properly"
### Steps to reproduce:
First from [here](https://ci.appveyor.com/api/buildjobs/luhw4g6y56eca2cx/artifacts/output%2Fnvda_snapshot_alpha-22117%2C57e02cae.exe) download NVDA version alpha-22117
Then execute the installation process to reproduce the problem
### Actual behavior:
The installer cannot be executed properly
### Expected behavior:
Can be installed normally
### System configuration
#### NVD

[2021-03-25 07:37] seanbudd commented on #12219
Relevant traceback from the log provided

[code]

AppVeyor page: https://ci.appveyor.com/project/NVAccess/nvda/builds/38393121/artifacts
PR that the alpha build references: https://github.com/nvaccess/nvda/pull/12215

[2021-03-25 08:05] #12153 closed

[2021-03-25 08:05] #1740 closed

[2021-03-25 08:44] zstanecic opened #12220 "wxAssertion error when closing braille or speech settings panels."
### Steps to reproduce:
1. Open, for example the NVDA voice settings,
2. try to change something or nothing, it is based on your preferences and taste,
3. press enter to save, and/or escape to destroy your changes
### Actual behavior:
NVDA plays an error sound and produces the following exception, see log

[code]

### Expected behavior:
NVDA should close this dialog without these types of exceptio

[2021-03-25 08:48] zstanecic commented on #12220
To give you more hints: this issue started to appear after introducing commit which included fetching accessible labels from wx directly.

[2021-03-25 09:25] MarcoZehe opened #12221 "NVDA freezes when trying to update itself to build 22123 alpha"
### Steps to reproduce:

1. From an older snapshot, in my case NVDA version alpha-22114,ed5fca6b, try an auto-update to alpha snapshot version alpha-22123,8665526b.
2. The download runs, I hit Install, the sound plays and NVDA is shut down.
3. The new instance loads, starts speaking, then immediately goes into an infinite WatchDog freeze loop. the UAC dialog to ask me whether I want to install nev

[2021-03-25 09:27] MarcoZehe commented on #12221
Above comment updated with a log file.

[2021-03-25 10:26] #11795 closed

[2021-03-25 10:26] #11837 closed

[2021-03-25 10:26] #11933 closed

[2021-03-25 10:52] CyrilleB79 commented on #11078
Ping @Adriani90, @ultrasound1372
Please provide feedback.

[2021-03-25 14:35] CyrilleB79 opened #12224 "Setting panels do not scroll automatically [Alpha regression]"
### Steps to reproduce:

1. Open a setting panel with many items, e.g. Document settings (ctrl+NVDA+D); do not maximize the window.
2. Tab many times until you reach the "Spelling errors" option
3. Tab once again to "Page" option
4.  Continue tabbing

### Actual behavior:

At step 3. we can hear that the option "Page" is focused. But visually, the setting panel did not scroll automatically. Thus,

[2021-03-25 16:36] ABuffEr opened #12225 "Wrong text chunks during say all in browsers"
### Steps to reproduce:

1. open a web page with Firefox or Chrome (browsers I tested);
2. start sayAll;
3. after some words or lines, stop it with control or shift;
4. change line with arrows or open a new page,;
5. relaunch sayAll.

### Actual behavior:

SayAll reads a text chunk of previous reading before the new text.

### Expected behavior:

SayAll forgot the old text and starts from new one.

[2021-03-25 17:03] lukaszgo1 commented on #12225
I've introduced this regression in #12195 I'll submit a fix later today.

[2021-03-25 17:23] ABuffEr commented on #12225
Thanks, I wait pr merging to close this issue.

[2021-03-25 17:59] kvark128 commented on #12160
I use the ru_RU locale. Here is my research in the Python 3.8.8 console:

('ru_RU', 'cp1251')

('Russian_Russia', '1251')

('ru_RU', 'UTF-8')
Creating an instance of wx.App for some reason changes the encoding of the current locale, which probably later causes a failure when trying to write to the NVDA log. NVDA crashes with the exit code 0xc0000374.
I commented out call the locale.setlocale funct

[2021-03-25 18:42] fernando-jose-silva opened #12226 "nvda does not read the deleted email address in the email app"
### Steps to reproduce:
open a new email in the windows 10 email app
in the field
for
enter an email address
now delete this email with backspace.
### Actual behavior:
the nvda read right to left
### Expected behavior:
nvda should read the deleted email address
### System configuration
#### NVDA installed/portable/running from source:
instaled
#### NVDA version:
nvda.exe, NVDA alpha-22126,ff79f518

[2021-03-25 19:48] lukaszgo1 opened #12227 "Impossible to use any UIA control in latest Alpha"
### Steps to reproduce:
1. Try to access any UIA application - list of files in Windows Explorer search box in menu start etc.

### Actual behavior:
Error sound plays and the following is in the log:
[code]

### Expected behavior:
No errors and controls should be readable.
### System configuration
#### NVDA installed/portable/running from source:
Tested with portable and from sources.

#### NVDA v

[2021-03-25 19:48] lukaszgo1 commented on #12227
cc @michaelDCurran

[2021-03-25 19:57] zstanecic commented on #12227
I cannot reproduce this on windows 10 20h2.

From: Łukasz Golonka ***@***.***>
Sent: Thursday, March 25, 2021 8:48 PM
To: nvaccess/nvda ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [nvaccess/nvda] Impossible to use any UIA control in latest Alpha (#12227)

Steps to reproduce:

1.	Try to access any UIA application - list of files in Windows Explorer search box in menu start etc.

Actual behavi

[2021-03-25 20:49] fernando-jose-silva opened #12229 "nvda is not reading the list of messages in an email app box"
### Steps to reproduce:
open the email app on windows 10
navigate with the arrows above and below the message list
### Actual behavior:
just a speechless error sound
### Expected behavior:
nvda read the email in focus
### System configuration
#### NVDA installed/portable/running from source:
instaled
#### NVDA version:
nvda.exe, NVDA alpha-22132,d90b24e7

#### Windows version:
10 19043.899
#### Na

[2021-03-25 20:52] UchuuKani opened #12230 "Focus jumps to different element on page after closing and attempting to Open Material UI Dialog component"
### Steps to reproduce:
1. Open Chrome or Edge
2. Browse to https://material-ui.com/components/dialogs/
3. With NVDA active in browse mode, navigate to the first dialog demo and focus on the button which reads "Open simple dialog" (in browse mode, navigate to "Simple dialogs" heading then tab twice to reach the button)
4. Open the dialog using the keyboard using Enter or Space while focused on but

[2021-03-25 20:56] ultrasound1372 commented on #11078
@CyrilleB79 appears to work for the use case I presented in my issue.

[2021-03-25 20:56] kvark128 commented on #12205
This problem appeared back in NVDA 2020.4. The check box disappears if the %APPDATA%\nvda folder does not exist. If manually create this folder and restart NVDA portable copy, the check box will appear again.

[2021-03-25 21:05] XLTechie commented on #12220
I can replicate this for the following settings categories, but not for the
others:

Speech
Braille
Voice

[2021-03-25 21:13] ultrasound1372 opened #12231 "Reporting of superscripts and subscripts with numbers is bugged in Word"
### Steps to reproduce:
With superscripts and subscripts reporting enabled, interact with marked up text that features numbers raised to exponents using standard font superscript, or that subscripts a number. For example
[nvda_script_anomaly.docx](https://github.com/nvaccess/nvda/files/6207859/nvda_script_anomaly.docx)

### Actual behavior:
The first equasion is read as "superscript 7778 baseline

[2021-03-25 21:13] ultrasound1372 commented on #12231
CC @CyrilleB79 since you're the one who fixed the other script bug.

[2021-03-25 22:58] CyrilleB79 commented on #11078
Yes @ultrasound1372, I have made a PR that may solve this issue.
And that's why I was asking you to test the [test build](https://ci.appveyor.com/api/buildjobs/mqle2nn7wkpcclu4/artifacts/output%2Fnvda_snapshot_pr11897-21450%2C1f912784.exe) to know if the issue is fixed in this build.
Thanks.

[2021-03-25 23:07] CyrilleB79 commented on #12224
Probably due to recent modifications to GUI (new version of wxPython and follow-up)
Cc @seanbudd

[2021-03-25 23:10] XLTechie commented on #12227
I can not repro either.  Can you perhaps give an exact STR, showing where it
stops working?

Also, please run the com reg fixing tool.

[2021-03-25 23:25] seanbudd commented on #12221
Possibly related to #12219

[2021-03-25 23:26] seanbudd commented on #12160
Thanks @kvark128

Sounds like #12214 should fix this

[2021-03-25 23:37] lukaszgo1 commented on #12227
This is a regression from #12210

[2021-03-25 23:42] seanbudd commented on #12220
Sounds related to #12219 / #12215

[2021-03-26 00:00] michaelDCurran commented on #12227
We'll just need a try except catching COMError around the fetching of the annotationTypes property in _get_states. Looks like Windows 7 UIA core can't handle that property ID.

[2021-03-26 00:01] mezzab commented on #7906
Hi,  I have met the same problem.

Is there any plan to change this behavior?

cc @michaelDCurran @feerrenrut

[2021-03-26 01:42] seanbudd commented on #12224
Found this similar issue with a solution posted: https://discuss.wxpython.org/t/tabbing-in-a-scrollpanel/35009, going to investigate

[2021-03-26 04:42] feerrenrut commented on #10489
I've labelled this as requiring an external fix. It seems unlikely there is anything we can do about this from NVDA's side.

[2021-03-26 05:49] XLTechie opened #12234 "Errors when opening Firefox tabs, navigating Explorer, etc.: Dynamic_MultitaskingViewFrameListItemListItemUIA' object has no attribute 'IAccessibleObject"
### Steps to reproduce:

Install or run latest alpha.
Open one or more pages in Firefox.

Alternate:
Open Windows Explorer, and move up and down a file list.

### Actual behavior:

Upon opening a new page, changing tabs, or changing windows, Multiple error sounds play, and a chain of exceptions is shown in the log:

[code]

### Expected behavior:

No error sounds, no errors.

### System configurat

[2021-03-26 05:52] XLTechie commented on #12234
CC: @seanbudd @feerrenrut

[2021-03-26 05:53] feerrenrut commented on #7906
I believe this is an authoring error. The [spec for `aria-live`](https://www.w3.org/TR/wai-aria-1.1/#aria-live) describes this in terms of updates, rather than initial content:

NVDA does not announce the initial content until the user intentionally tries to read it. Content that is added "on load" is also considered "initial content". Updates to live regions are reported.

It has been discussed p

[2021-03-26 05:53] #7906 closed

[2021-03-26 05:56] feerrenrut commented on #11798
Also discussed here: https://github.com/nvaccess/nvda/issues/7906#issuecomment-807957477

[2021-03-26 05:59] seanbudd commented on #12234
I think possibly related to #12232, cc: @lukaszgo1

[2021-03-26 06:02] feerrenrut commented on #11299
Currently, a screen reader can't differentiate a programmatic change of focus from a user initiated change of focus. A user initiated change of focus is considered of higher importance than anything else and starts speech with a clean slate. Given that we can consider an aria-live update as non-user initiated speech, I think it makes sense to requeue it on focus change, or any action other than ex

[2021-03-26 09:41] zstanecic opened #12235 "In microsoft Outlook 2019 /365, NVDA fails to read attachments with the latest alpha"
### Steps to reproduce:
1. Open outlook, and locate the message with the multiple attachments, then head over to the attachments list
2. when navigating with the left and right arrows, you will notice that NVDA is not reading the attachments list
3. the folowing log is in the output
ERROR - eventHandler.executeEvent (10:40:30.988) - MainThread (5588):
error executing event: gainFocus on <NVDAObjec

[2021-03-26 09:54] MarcoZehe commented on #12221
Still a problem when trying to update to version alpha-22148,9a1cca54. Downloading the full installer and running it manually, with a regular install dialog sequence, does update the build successfully, and the new build then runs fine.

[2021-03-26 10:15] Nikita34196 commented on #12229
Hello. I have this problem, too. I use the latest alfa version. when you move the arrows in the list of emails, nvda loses the sound of the error and that's it. Mail app for windows 10
[nvda.log](https://github.com/nvaccess/nvda/files/6210973/nvda.log)

[2021-03-26 10:17] zstanecic commented on #12221
Hi Marco,

I cannot reproduce the freeze,

Windows 10 20h2, lates cu's installed and so on

From: Marco Zehe ***@***.***>
Sent: Friday, March 26, 2021 10:55 AM
To: nvaccess/nvda ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [nvaccess/nvda] NVDA freezes when trying to update itself to build 22123 alpha (#12221)

Still a problem when trying to update to version alpha-22148,9a1cca54. Download

[2021-03-26 10:52] #12227 closed

[2021-03-26 11:08] Sebi2020 commented on #7906
This does not only happen to initial content. But okay.

[2021-03-26 13:07] kvark128 commented on #12160
wxPython version 4.0.3 does not change the current locale, but I can do it manually in the Python console of NVDA 2020.4 and the same crash will occur:
[code]
When trying to write to the log, NVDA immediately crashes.

[2021-03-26 13:07] lukaszgo1 commented on #12234
@XLTechie Could you please test [this build](https://ci.appveyor.com/api/buildjobs/821n8nmhtaaxnpa9/artifacts/output%2Fnvda_snapshot_pr12236-22162%2C6781ed8c.exe) just to make sure the issue is fixed for you?

[2021-03-26 13:15] vchereshnevyi commented on #8341
Hi there, looks like this issue still reproduce in Chrome. NVDA blocked events for keypress ENTER/SPACE when pseudo element is changed on expand state. Demo: https://codepen.io/accessibility-developer-guide/pen/VdwvwW
It works fine when you change pleudo **:before** to **:after** . Demo: https://codepen.io/cherry-v/pen/VwPawYZ
But I'm not feel that it good fix. We need fix it in NVDA side to feel

[2021-03-26 13:59] sclower commented on #7906
I disagree. If the element is created dynamically, for example a status indicator in response to a user action, the initial text is not read aloud. If JAWS and VoiceOver read the initial text when the element is added to the DOM and NVDA does not, then I believe NVDA’s implementation is in error.

Note: we intentionally avoid use of role=“alert” because of the “alert” message that is prepended to

[2021-03-26 14:38] mezzab commented on #7906
Yep, same situation in our team, we avoid the use of role = "alert" because of the spoken "alert" preceding the update. I agree with @sclower .

Also, this behavior is different with other screens readers, like Voice Over or Orca.

Regardless, thanks for the answer.

[2021-03-26 14:39] ultrasound1372 commented on #11078
Yes, I was saying I tested the test build and it fixes the issue I reported.

[2021-03-26 21:50] XLTechie commented on #12234
Tested and confirmed.

Thanks for the quick work.

[2021-03-27 01:02] tangela19 opened #12237 "Support for the Orbit 40"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context
Please update the baum/orbit nvda support to include the newly released Orbit 40.

Currently there is support for the orbit in varioultra emulation mode, but the 20 is natively supported and the 40 should be as well.

[2021-03-27 02:37] dingpengyu commented on #10516
cc @seanbudd

[2021-03-27 02:40] dingpengyu commented on #10516
Has the above problem been solved by github actions?

[2021-03-27 11:44] shivasai09 commented on #12090
ping

[2021-03-27 14:46] Mohamed00 commented on #12152
This is still happening as of alpha-22160,656ecb5f. Interestingly, it turns out that SAPI4 technically loads normally, however it only crashes when it actually speaks something. For example, if you load SAPI4 with speech off, it works fine, however if you change speech modes, which causes something to be spoken, it crashes.

[2021-03-27 19:32] lukaszgo1 opened #12238 "NVDA Alpha fails to clean its system tray icon after restart"
### Steps to reproduce:
Start NVDA Alpha, restart it ten times in a row and inspect system tray.
### Actual behavior:
There are 10 NVDA icons in system tray - 9 of them are dead and would disappear when clicked.
### Expected behavior:
There should be just one icon for the currently running instance of NVDA.

### System configuration
#### NVDA installed/portable/running from source:
Portable
#### N

[2021-03-27 19:42] lukaszgo1 commented on #12238
Probably a regression from 8665526b573affa35d9d89b0650972482e45dc4c as of this commit were no  longer destroying our system tray icon.

[2021-03-28 05:27] brogar2000 opened #12239 "Could we get Language Specific Speech Dictionaries"
### Is your feature request related to a problem? Please describe.
There are a lot of applications that are in a specific language and have no built-in translation features. As far as automatic translation goes, there are a few addons that get the job done, but there's nothing out there that allows you to translate applications manually should you know how to do it. You could use the NVDA default

[2021-03-28 06:09] XLTechie commented on #12238
Related to #11553

[2021-03-28 09:41] Brian1Gaff commented on #12238
I noticed this as well, as you say this used to happen many versions ago as
well.
 Brian

***@***.***
Sent via blueyonder.
Please address personal E-mail to:-
***@***.***, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Łukasz Golonka" ***@***.***>
To: "nvaccess/nvda" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Satu

[2021-03-28 11:23] bdorer commented on #12239
An other usecase: I read a text in an other language for example english
while my language is German. I added some common words in the voice
dictionarry for eSpeak. Now if I read an english text with an english
voice of eSpeak, NVDA uses the same dictionarry and mispronounces words.
So if we could have an language combo box in the dictionarries it would
help a lot.

[2021-03-28 16:36] TechHorseG opened #12240 "Bug: closing the currently focused window via a script command crashes NVDA"
NVDA portable 2020.4 / Win10 20H2
(although this bug happened in earlier versions of both)

Hello. If a window is currently active and is closed via script commands, then NVDA can crash and stop talking. Probably the easiest example to illustrate this is as follows.

1. Open a Command Prompt (there is a shortcut in the Win+X menu).

2. Paste the following line into it, and press enter:

`title Uni

[2021-03-28 16:48] lukaszgo1 commented on #12240
Firstly this does not affect every window - just console windows. Secondly this is a duplicate of #1682

[2021-03-28 17:21] zersiax commented on #7756
Not sure if this is still being looked into at all, but I would say allowing this as a toggle, for live region information as well as, say, role=alert, should probably be considered. The gains for people not using speech for whatever reason would be quite substantial off the top of my head, but there's more use cases:

- Monitor things happening in Zoom and other applications through braille alone

[2021-03-28 17:23] TechHorseG commented on #12240
Oh sorry. Pity it seems to have been unfixable for so long! Guess it's a tricky one.

[2021-03-28 17:23] #12240 closed

[2021-03-28 23:47] zersiax commented on #9352
As I already pointed out in #7756 I think having a toggle to read these can be quite the productivity booster.
There are times when working with braille only is preferred or even the only option, and while I respect that incorrect alert spam can be debilitating in such a scenario, having the option is definitely a requirement for making sure no information is missed in such a scenario.

[2021-03-28 23:50] #12197 closed

[2021-03-29 00:02] #12234 closed

[2021-03-29 01:27] seanbudd opened #12244 "Fix OpenSSL warning on AppVeyor build"
### Steps to reproduce:

Trigger an AppVeyor build of NVDA by pushing a commit to a PR to master, or pushing to a "try-*" branch

### Actual behavior:

Appveyor's build script throws the following warnings

[code]

### Expected behavior:

No warnings

https://unix.stackexchange.com/questions/507131/openssl-1-1-1b-warning-using-iter-or-pbkdf2-would-be-better-while-decrypting

### System configurati

[2021-03-29 02:57] amirsol81 commented on #12197
@seanbudd This is still reproduceable with Alpha 22160. Is it supposed to fix the Foobar2000 issue?

[2021-03-29 03:41] seanbudd commented on #12197
@amirsol81, no, the alpha snapshot seems to not be published yet due to a build failure. I've queued the alpha/master branch to rebuild

[2021-03-29 04:28] seanbudd commented on #12197
@amirsol81, alpha-22176 , the alpha snapshot which incorporates these changes has been published now

[2021-03-29 05:23] MarcoZehe commented on #12221
Some further investigation shows that this freeze only seems to happen if the previously focused window is a Chromium-based one, either a browser or Electron app like Discord. If I make sure the window is something else, like a command prompt, the freeze does not happen. This is in the moment between the old NVDA shutting down and the new one having just started, and the UAC dialog coming up for t

[2021-03-29 07:56] XLTechie commented on #12240
Perhaps consider closing this, and posting your interest in a solution on #1682.

That issue has several (closed) duplicates, but it still has the most important
discussion of why this happens, and whether it should be fixed.

[2021-03-29 08:40] skullyhoofd commented on #11103
I'm working on this issue at the moment, but struggling to understand how to access current active settings. Can anybody guide me where to look to check whether QuickNav is enabled?

[2021-03-29 08:41] feerrenrut commented on #7906
@mezzab and @sclower Please open a new issue and provide a minimal test case. You need to fill in the details of the template so that there is no (or less) ambiguity about what you are describing. I have responded to the initial test case provided. We view this test case as web author error, since in this test case the aria-live element was created with content via the "on page load" event. Subseq

[2021-03-29 09:54] bramd opened #12246 "Outlook crashes when navigating to previous/next week in calendar"
### Steps to reproduce:

1. Go to day view in the calendar
2. Use alt+up/down arrow to navigate by week in Outlook calendar

### Actual behavior:

Sooner or later (usually very soon) Outlook will crash.

### Expected behavior:

Outlook should not crash.

### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
alpha-21974,4b74c7bb

#### Windows versio

[2021-03-29 10:06] CyrilleB79 commented on #11103
Quick nav is enabled by default in browse mode, i.e. when using NVDA in browsers.

[2021-03-29 12:31] amirsol81 commented on #12197
@seanbudd Thanks. Alpha 22176 fixes Foobar2000's issue.

[2021-03-29 13:27] lijianwei2019 opened #12247 "GUI：UI issues introduced by Python 3.8"
UI issues introduced by Python 3.8

### Python 3.7 behavior:

1.Center the screen of the update window
2.The update time prompt is located above the progress bar
3.Set the panel cursor to be uniformly dark blue

![3](https://user-images.githubusercontent.com/59390108/112843116-d53ddd80-90d4-11eb-9be5-4d8fbdae77cb.PNG)

![1](https://user-images.githubusercontent.com/59390108/112843163-e0910900-90d4

[2021-03-29 20:27] Nikita34196 commented on #12247
Hello. in the latest alpha versions I've discovered a great retres availability. basically it's squinting at system interfaces. For example. nvda does not now announce an update when downloading and installing. There's been no problem with that before.

[2021-03-29 20:55] kvark128 commented on #12160
It looks like the cause of the problem is UCRT, as described in this issue:
https://bugs.python.org/issue36792
These commands in the Python console of NVDA 2020.4 I have also causes heap corruption and crash:
import locale, time
locale.setlocale(locale.LC_ALL, 'ru_RU')
time.localtime(time.time())

[2021-03-30 00:12] #12225 closed

[2021-03-30 01:51] seanbudd commented on #12160
Hi @kvark128, I've tried to build a workaround for this which reverts to previous behaviour around setting the python locale to match the Windows one rather than the translation service - do you mind testing this build using the "User Default" system language like before? https://ci.appveyor.com/api/buildjobs/ymaxrabvfmfmxk1m/artifacts/output%2Fnvda_snapshot_try-fix-ru-locale-22193%2C2e816544.exe

[2021-03-30 02:43] feerrenrut commented on #12247
@lijianwei2019  Can you expand on how these changes impact you or others?

The location of the update dialog is clearly a regression.

[2021-03-30 04:28] #12123 closed

[2021-03-30 08:27] feerrenrut commented on #11613
I can reproduce this myself, I can confirm that I had to manually kill NVDA in order to un-freeze my system, I had no response from NVDA at all. I had to use task manager to kill NVDA.

[2021-03-30 09:33] DavidBitSource opened #12249 "no reliable braille output in LibreOffice Calc"
### Steps to reproduce:
* LibreOffice Calc
* Enter data into Calc (not the first column).

### Actual behavior:
Just the TTS gives you feedback, the braille display doesn't change. This mostly occurs when the TTS announces "text frame".
### Expected behavior:
Proper braille ouput in real time, according to the screen and according with the TTS output.
### System configuration
#### NVDA installed/p

[2021-03-30 10:06] zstanecic commented on #12152
Hi to all!
Log of the sapi4 synth using the latest alpha and NVDA.
Note that even with addons disabled, sapi4 makes problems and the remote addon logs are not there
INFO - synthDriverHandler.setSynth (12:03:16.400) - MainThread (6484):
Loaded synthDriver sapi4
ERROR - eventHandler.executeEvent (12:03:16.894) - MainThread (6484):
error executing event: gainFocus on <NVDAObjects.Dynamic_DialogIAcces

[2021-03-30 10:08] lijianwei2019 commented on #12247
Break the original UI style@feerrenrut

[2021-03-30 10:08] zstanecic commented on #12152
All in all, spi  4 liads, but without speech.

[2021-03-30 11:36] skullyhoofd commented on #11103
Ah thanks, that explains a lot actually!

[2021-03-30 12:03] cary-rowen commented on #12152
The latest Alpha version can still be reproduced

[2021-03-30 15:27] kvark128 commented on #12160
As a workaround, this problem is solved by the following code, which must be inserted before initializing the NVDA log:
[code]
It is important that this code is executed before attempts to write to the log, otherwise the crash will occur again. It looks like errors when working with memory somewhere inside UCRT.

[2021-03-31 03:52] cary-rowen commented on #7275
According to my test, Foxit Reader does not have this problem, but this problem is still important, and it would be great if it can be solved.

[2021-03-31 03:55] cary-rowen commented on #7275
There have been multiple duplicate Issues so I believe people are very concerned about this issue.
 @feerrenrut @leonardder

[2021-03-31 05:36] feerrenrut commented on #12247
Ok. As part of the recent updates, wxPython was updated. I suspect that some more modern controls are used which will explain some changes. Unless the changes cause a specific problem, I don't think they need attention.

[2021-03-31 06:11] feerrenrut commented on #7756
Yep, I think putting this behind a toggle is a good way to start experimenting with the UX for this. Happy to accept a PR if someone wants to work on this.

[2021-03-31 06:31] CyrilleB79 commented on #12160
I am also facing this issue on two computers running Windows 10 1809 French UI.
Strangely, this issue has only appeared a few days ago. And I am not able to run Py3.8 build that I were previously able to run on the same machines. Probably due to an update?

@kvark128 you write:

Could you please explain where exactly you paste this code? Thanks.

[2021-03-31 09:47] poonamdeo commented on #12217
@Brian1Gaff
I have recently uninstalled Microsoft Office Professional 2010 and installed Microsoft Office Home and Student 2019.
The antivirus I have on my system is Seqrite Endpoint Security, product version 17.00 (10.3.1.6), 64-bit.
Windows got updated to version 2021-03 Cumulative Update Preview for Windows 10 Version 20H2 for x64-based Systems (KB5000842)
What is the next step to check registr

[2021-03-31 11:36] lijianwei2019 commented on #12247
@CyrilleB79 @JulienCochuyt

[2021-03-31 12:30] kvark128 commented on #12160
This should be inserted into the nvda.pyw file, before calling logHandler.initialize(). NVDA should be run from the source code.

[2021-03-31 12:32] FalkoBabbage commented on #11801
I checked today what Jaws is doing when defining a column header and it does not use the internal Define Name feature in excel anymore. It now generates a .jsi file in the users Appdata with the relevant information with the name of the excel sheet. I'm not sure why they changed it because now this information is not coupled to the actual excel sheet anymore.

[2021-03-31 12:39] MarcoZehe commented on #11801
This is how they have always done it if you didn't define the column/row headers yourself using the "Define Name" feature. They never wrote it to the Excel sheet AFAIK, they always created that JSI file if you defined using either the shortcuts or the Insert+V dialog. So the only way you can actually make this work cross-screen-reader is by using the Define Name feature manually in Excel and give

[2021-03-31 12:50] Nikita34196 opened #12254 "problems of the latest alpha versions of nvda with the mail app for windows 10"
Hello. The latest alpha versions of nvda do not read the list of emails in the mail app for Windows 10. Try to log into the mail app and get on the email list. nvda will play the sound of the error. expected nvda should read the items in the list. there are also problems with the windows update center and with many switches in windows 10 settings. I think all these problems are related. because it

[2021-03-31 21:18] CyrilleB79 opened #12255 "SayAll restarts automatically"
### Steps to reproduce:

* Enable "Allow skim reading" in document formatting settings
* Open a webpage, e.g. NVDA user guide.
* Press control key to be sure to stop sayAll
* Press H to go to next title

### Actual behavior:

NVDA reads the next title and then restarts in sayAll.

### Expected behavior:

NVDA reads the title and stops speaking.

### System configuration
#### NVDA installed/portabl

[2021-03-31 21:26] lukaszgo1 commented on #12255
Cannot reproduce with NVDA version alpha-22222,2e37433e in Firefox. Are you sure this is not caused by add-ons?

[2021-04-01 08:43] ondrosik opened #12256 "NVDA shows irelevant search results in certain web pages"
When I search for certain string on this website:
http://kiwisdr.com/public/
NVDA shows also other irelevant results not related to entered string.

Steps to reproduce
:

-Open http://kiwisdr.com/public/
(I can reproduce it in Chrome and firefox)
- Invoke search dialog nvda+ctrl+f
- Type "czech" and press enter
- Depending on the current table status you will see something like UK or something dif

[2021-04-01 10:28] k-kolev1985 opened #12257 "In most cases alerts in Skype 8.70 are not read by NVDA"
### Steps to reproduce:
1. Open Skype.
2. Make a test call to echo123.
3. During the call, press Control+M to mute/unmute your microphone.

### Actual behavior:
NVDA stays silent.

### Expected behavior:
NVDA should read the alert about the microphone being muted/unmuted.

### System configuration
- Operating system: Windows 10 Pro version 20H2 (build 19042.867), 64-bit, in Bulgarian with all loca

[2021-04-01 10:42] k-kolev1985 opened #12258 "Under certain circumstances NVDA fails to start reading automatically a newly loaded page in Microsoft Edge"
### Steps to reproduce:
1. Update Microsoft Edge to its latest stable release (v89).
2. Open Microsoft Edge and load the website of NV Access (it does not occur only with it, but it is a good example).
3. Activate the "Download" link from the menu on the main page.

### Actual behavior:
On the newly loaded "Download" page, NVDA says only "loading complete" and does not start reading the page autom

[2021-04-01 14:26] christopherpross commented on #2233
Hey,
i had looked into the VS IDE and I thing the implementation of announce of breakpoints and lightboulds would be easiely to implement.
The question is, would it better to put that in a add-on or directly in nvda. the serial forges of the VisualStudio add-ons are not under active development i think.
What is your opinion?
How you do you prefer to announce the extra informations?

[2021-04-01 14:55] CyrilleB79 commented on #12255
OK.
I have tested to disable add-on.
Finally, the issue seems due to Speech history add-on (jscholes/nvda-speech-history#16).
Closing this on NVDA side.

[2021-04-01 14:55] #12255 closed

[2021-04-01 16:13] cary-rowen commented on #2233
I very much hope that this information can be reported without relying on additional components.

[2021-04-02 10:07] Brian1Gaff commented on #12258
Is not this an old problem on many browsers and can happen due to delays
somewhere. .
 Brian

***@***.***
Sent via blueyonder.
Please address personal E-mail to:-
***@***.***, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Kostadin Kolev" ***@***.***>
To: "nvaccess/nvda" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent:

[2021-04-02 10:57] k-kolev1985 commented on #12258
No, it is not an old problem. It started with Edge v89.

[2021-04-02 11:06] Robin66 opened #12261 "Fix a load of linting issues"
I am analysing the NVDA codebase for a university course and I noticed there are many linting issues such as whitespaces that show up when you run Flake8 on the whole source folder instead of the diffs.

### Is your feature request related to a problem? Please describe.
There are many linting issues in the source code that can be fixed with auto-formatting.

### Describe the solution you'd like
Ap

[2021-04-02 11:31] MarcoZehe commented on #12261
I think this is a great idea. Two suggestions:

1. Do it on all files at once if possible, minimizing friction.
2. Do it at the start of a new cycle, e. g. after 2021.1 has been merged to RC or has just been released and all issues fixed during the beta/RC cycle have been merged back to Master. That way, all contributions for 2021.2 will start from the newly formatted code.

It may impact a few op

[2021-04-02 11:55] Robin66 commented on #12261
@MarcoZehe that timing thing sounds like a good idea. Is there any form of timeline estimate for 2021.1?

[2021-04-02 12:22] lijianwei2019 commented on #12261
@feerrenrut

[2021-04-02 14:15] CyrilleB79 commented on #12261
Hello Robin

It seems that's your first contact with NVDA project. Welcome to you.

I am just a single contributor. Eventually it will be up to NVAccess people to decide if it is relevant to submit a PR on this topic.

I want to highlight some points to take into consideration:
* Using `git blame` to know who has written a line of code and in which commit/PR will point to the foreseen code linting

[2021-04-02 18:51] ivnc commented on #10842
Hello.

A user has reported that this issue is also reproducible with Windows 10 32 bits. Since the original reporter also has a 32-bit system, in their case Windows 7 with SP1, this is probably a problem related only to 32-bit machines.
This second report was solved by downloading JDK from AdoptOpenJDK and manually copying the file windowsaccessbridge-32.dll into system32 folder.

Regards.

[2021-04-02 19:59] trypolis464 commented on #12238
This never actually stopped happening for me. It will be good to see it fixed. It might be a WXPython issue, not sure though, but TW Blue does it too.

[2021-04-03 00:31] XLTechie commented on #12261
**Indeed, welcome!**

@CyrilleB79 I am unclear how this would be any different than somebody doing an
unrelated PR, and having to fix somebody else's line of code's bad linting, in
order to get their code to validate.
It happens all the time. Does that not also damage the blame process?

Eventually, most unlinted code will have to be linted, and in, I suspect, the
vast majority of cases it will be

[2021-04-03 02:36] fernando-jose-silva opened #12265 "nvda does not read the list of attachments in outlook"
### Steps to reproduce:
open an email in outlook that has an attachment.
Press shift + tabe to focus on the list of attachments
### Actual behavior:
nvda does not speak, just an error sound
### Expected behavior:
nvda should read the name of the attachments
### System configuration
#### NVDA installed/portable/running from source:
instaled
#### NVDA version:
nvda.exe, NVDA alpha-22222,2e37433e

##

[2021-04-03 08:56] brunoprietog opened #12266 "NVDA does not focus listbox aria-role in browse mode"
### Steps to reproduce:

1. In Microsoft Edge, go to this [link](https://www.w3.org/TR/wai-aria-practices-1.2/examples/listbox/listbox-scrollable.html) for a listbox in W3C.
2. Look for the listbox located below the level 2 header that says example and press enter.
3. Try to move with up and down arrows through the items.

### Actual behavior:

NVDA does not focus the listbox, so pressing enter ca

[2021-04-03 08:57] josephsl commented on #12261
Hi,

I tend to favor issue by issue strategy. Based on my experience with linting several NVDA add-ons last year (StationPlaylist, for example), resolving one linting error causes others to show up, or even bugs to surface. Because a linting error can span multiple modules, I think it would be more efficient to describe and mitigate a lint error, test changes, and package them as separate PR's, on

[2021-04-03 14:14] trypolis464 opened #12267 "A lot of NVDA's classes still have the base class of object."
### Is your feature request related to a problem? Please describe.
I wouldn't necessarily call it a problem in the sense that something's broken, but it's certainly something that would be nice to fix.
### Describe the solution you'd like
In Python 3, classes have a base class of object by default, making class Thing: the same as class Thing(object):
### Describe alternatives you've considered
N/A

[2021-04-03 19:03] Robin66 commented on #12261
Thank you @josephsl, you raise some good points.

I don't mean to make any changes that could impact functionality. I was not planning to change variable names or tackle method complexity or anything like that (I know I don't know enough about how things work for that), instead focussing on whitespaces, indentation and line length. With such changes I don't see how fixing them for one module break

[2021-04-03 20:48] CyrilleB79 commented on #12265
Reproduced also on my side on 2 computers.

The regression seems to have appeared with #12210.
Cc @michaelDCurran, author of this PR.

[2021-04-04 07:51] Brian1Gaff commented on #12266
I believe there is a list like this on most Amazon pages as well, there are
ways around it not working but that is not really the point.
 Brian

***@***.***
Sent via blueyonder.
Please address personal E-mail to:-
***@***.***, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Bruno Prieto" ***@***.***>
To: "nvaccess/nvda"

[2021-04-04 15:27] dkager commented on #12107
More worrying is that NVDA does not report anything in braille as you type. Could this be a consequence of the changed behavior?

[2021-04-04 16:08] dkager opened #12268 "No braille feedback in Windows Calculator"
### Steps to reproduce:
1. Open Windows Calculator.
2. Type 2
3. Type +
4. Type 3
5. Type = (or Enter)

Note that the new appmodule listens for the Enter key, but not the equals (=) key. However, both work to display the result. Speech reports the result when you press Enter, but braille provides no feedback regardless of what key you press.

### Actual behavior:
The braille display continues to s

[2021-04-04 18:19] josephsl commented on #12268
Hi, resolved in Windows 10 App Essentials 21.04 – at least braille will announce results. Letting braille announce expressions as you type will require some time to tweak UIA notification event. I’ll submit a pull request that will resolve results announcement and add Delete to Calculator commands within the next 24 hours. Thanks for reminding me about this.

From: Davy Kager ***@***.***>
Sent: Su

[2021-04-04 18:20] josephsl commented on #12107
Hi, specifically, UIA notification event. I’ll think about tweaking this for braille users. Thanks.

From: Davy Kager ***@***.***>
Sent: Sunday, April 4, 2021 8:28 AM
To: nvaccess/nvda ***@***.***>
Cc: Joseph Lee ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] Calculator doesn't read as well in NVDA 2020.4 as in 2020.3 (#12107)

More worrying is that NVDA does not report anything i

[2021-04-05 06:03] svilla03 opened #12269 "Add Image description functionality"
### Is your feature request related to a problem? Please describe.
No
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context
Image description can very helpful in many situations. For example, you will want to pick out some details, such as automibles or a group of people. Another scenario is if you are working on a project and need to make sure y

[2021-04-05 06:22] XLTechie commented on #12269
You might want to ask on the add-on list. There was a Google Summer of Code
operative working on an add-on for this.

https://groups.io/g/nvda-addons

[2021-04-05 07:36] criscoween commented on #6457
I'm running into an issue similar to what @bbudd describes. We load an iframe popup (specifically, Google's invisible reCAPTCHA v2) and it receives focus. If I have NVDA running and hit "enter", the click event actually fires on the link that launched the popup, even though document.activeElement is in the iframe. If I don't have NVDA running, the click event fires on the iframe element as expecte

[2021-04-05 10:36] Nikita34196 commented on #12265
Hello. I also confirm this. . I think the problem also affects some windows settings. there, too, there was a regression.

[2021-04-05 12:25] gauravahir28 opened #12270 "Add "Report an Issue" option in NVDA's Help menu."
### Is your feature request related to a problem? Please describe.
Many of NVDA users do not know how to report the issue if they find.
As most of the other applications contains "report an issue" option mostly inside "Help" menu, NVDA also should have the same under "Help" menu so that, more users can report the bugs if any.
This will ensure that more Bugs get identified and addressed as well as

[2021-04-05 13:40] josephsl opened #12271 "UIA handler: introduce UIA drag/drop event handlers for use with announcing items that were rearranged on screen"
Hi,

I believe the following was asked before, but figured it would be best to put it in a systematic way:

### Background:
When rearranging UIA objects such as Start menu tiles and Action Center items (Windows 10), UIA can raise drag drop events. This is checked by Narrator (at least) to announce the new object location. For example, when rearranging Action Center items by pressing Alt+Shift+left

[2021-04-05 13:53] josephsl commented on #12271
Hi,

Actually, gain focus event won't work directly as NVDA (through UIA handler thread) says focus event was ignored by the dragged object. So it appears dedicated events should be created in UIA objects to queue gain focus event for focused objects.

Thanks.

[2021-04-05 16:44] vivekarza opened #12272 "Radio button text is not announced on mouseover in chrome, working in firefox"
### Steps to reproduce:
1. Open the link in Chrome browser https://webaim.org/techniques/forms/controls#radio
2. Start the Screen Reader.
3. Mouse over on any of the radio buttons "Overnight/Two day/Ground"
4. The labels are not announced.
note:- same working in firefox.
### Actual behavior:
Not announced label text in chrome browser(Version 89.0.4389.114 ), when mouseover on radio button label
##

[2021-04-05 19:00] DrSooom commented on #12270
Duplicate of issue #4033, #7745 and #8685.

[2021-04-05 19:09] DrSooom commented on #12249
Also reproducible with LibreOffice 7.1.1.2 and NVDA 2019.2.1 on Win7x64. LibreOffice 7.1.2.2 wasn't tested.

[2021-04-05 19:46] alicequiros opened #12273 "Tree with checkboxes and buttons on each row cannot be navigated using a keyboard"
### Steps to reproduce:
1. Enable NVDA
2. Navigate to https://codepen.io/aquiros/pen/rNjwbqm
3. Focus on the search box
4. Hit tab twice to navigate to the checkbox next to "Apples"
5. Hit tab a few more times, moving to the other buttons and checkboxes. Note that they are receiving tab focus.
6. Hit enter, note that the checkbox next to "Apples" is the one that receives the event rather than the

[2021-04-05 22:27] seanbudd commented on #12246
Would you be able to share a log file? https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps

[2021-04-05 22:53] seanbudd commented on #12270
Thanks @gauravahir28 - I agree that this would be a great feature down the line if the existing bug backlog is addressed. There's already discussion on this on #4033, feel free to take a look and leave any additional thoughts that might have been missed in that ticket.

[2021-04-05 22:53] #12270 closed

[2021-04-06 01:41] feerrenrut commented on #12261
Hi @Robin66, and welcome!

This is something that we at NV Access have been considering for a long time, but as you can imagine it hasn't been a high priority. Assuming a high level of care is taken, I don't see any reason to hold this back. It would be fantastic if you were able to make this happen!

Some thoughts:
- I personally use pycharm, it gets most of the formatting right, however I have f

[2021-04-06 05:43] feerrenrut commented on #12219
Is this issue still occurring?

[2021-04-06 05:59] XLTechie opened #12275 "Proposal: make the COM Registration Fixing Tool question on the NVDA bug template be more provocative"
### Is your feature request related to a problem? Please describe.

In various Github questions I've observed and commented upon, the solution has turned out to be running the COM Registration Fixing Tool.

The current bug issue template asks whether the user has run the tool.
In every such case, the user has responded "no" to that question.
Later, someone notices that the user said "no" to that,

[2021-04-06 06:53] XLTechie commented on #12273
alicequiros wrote:

By focus, I assume you mean enter focus mode (I.E. don't be in browse mode)?
Because I can not make anything work in that frame while in browse mode, only
after pressing space to enter focus mode on the search field. My setting is not
to enter focus mode by default.

In Firefox, I only have to hit tab once.

Hitting enter for me has no effect on any checkbox.  It appears that t

[2021-04-06 08:14] michaelDCurran commented on #12154
Stack trace from crash dump:
[code]

In short it looks like a UI Automation propertyChange event handler is freeing an IAccIdentity COM interface after it has already been freed.

IAccIdentity suggests this is MSAA being proxied by UI Automation. However, we have tried rather hard to stop UIA core from proxying MSAA, especially the mapping of winEvents to UIA propertyChange events, as NVDA already

[2021-04-06 08:44] CyrilleB79 commented on #12224
@seanbudd, would you add 2021.1 label for this one since it is a regression in 2021.1 dev cycle.
This issue only impacts sighted and visually impaired people, but since many visually impaired already complain of various NVDA bugs specific to them, it would be wise not to introduce new ones.
Thanks.

[2021-04-06 10:36] seanbudd commented on #12224
Hi @CyrilleB79, it is already added to the milestone - we will fix it in beta if it doesn't make it before then.

[2021-04-06 10:43] CyrilleB79 commented on #12224
Oh sorry. I had missed it.

[2021-04-06 11:06] #11613 closed

[2021-04-06 16:38] alicequiros commented on #12273
The problem isn't the tree expanding. In fact, in this example there is no backing code to do so, just the tree roles. The problem is that it's impossible to toggle one of the other checkboxes (Pears or Bananas) using just the keyboard.

[2021-04-06 17:10] lukaszgo1 commented on #12160
@CyrilleB79  @kvark128 Could you please test [this build](https://ci.appveyor.com/api/buildjobs/ala1b23m47rpp25a/artifacts/output%2Fnvda_snapshot_pr12250-22254%2Cfd7e1bf8.exe) and if you are able to run from sources branch I12160 of my fork just to make sure that there are no differences between binary and source copies.

[2021-04-06 18:33] haritha2112 opened #12278 "Aria-live region not working as expected."
### Steps to reproduce:

In Chrome or Firefox, visit any one of the following:
1.  [JSBin](https://output.jsbin.com/lapiras)
2. [Live Region Playground](https://dequeuniversity.com/library/aria/liveregion-playground)

### Expected behavior:
For the JSBin example, the NVDA reads the 'Button 1 Clicked' when Button 1 is clicked, and reads  'Button 2 Clicked' when Button 2 is clicked.
For the Live reg

[2021-04-06 19:41] kvark128 commented on #12160
Yes, I confirm that this build starts and working correctly. Code from branch I12160 also does not cause a crash. Many thanks.

[2021-04-06 20:18] CyrilleB79 commented on #12160
I have tested the snapshot you reference in your comment above (nvda_snapshot_pr12250-22254,fd7e1bf8.exe) as well as the head of your PR's branch (commit b2eaf4fdc1f556725c728418059c4590fc15b0c1) from source.
Both are starting and working correctly.

Good job! Thanks to you @lukaszgo1  and to @kvark128.

[2021-04-06 20:36] XLTechie commented on #12273
On Tue, 6 Apr 2021, alicequiros wrote:

You say that, but at least in FF 87, I was able to do it with space (under NVDA
recent alpha).

While I agree in Chromium browsers it doesn't currently work, and even in
Firefox it should be doable with enter, it might be worth trying to understand
why space works and enter does not.

[2021-04-06 20:43] michaelDCurran commented on #12221
@MarcoZehe  I am having trouble reproducing this. Do you have Use UIA in Edge and other Chromium browsers enabled in NVDA's advanced settings?
when previously focused on a Chromium Window, are you actually in a document? on a particular form control, or just in the outer Chrome?
Can you give me a specific scenario you know does this all the time and I can try?

Could you please also reproduce the

[2021-04-06 20:53] michaelDCurran commented on #12221
@MarcoZehe   It would be also very useful if you could test a couple of alpha snapshots before 22123 and see if you can reproduce the problem with those as well.

[2021-04-06 23:03] seanbudd commented on #12269
Hi @svilla03 - this would be a great addition to NVDA (and something I'm personally interested in doing). We have another issue to discuss this on #7671.

[2021-04-06 23:03] #12269 closed

[2021-04-07 01:05] XLTechie commented on #12273
CC @MarcoZehe (I believe you have some knowledge of Chrome oddities)

[2021-04-07 01:58] feerrenrut commented on #12278
2019.3.1 is quite an outdated version of NVDA. The most recent release is 2020.4. For technical reasons there are some serious limitations to the Windows store version of NVDA (these are described on the store listing, and include being able to work with Chrome and Firefox). Unless you are using Windows 10 S, or have some other specific requirement to use the Microsoft Store version please use the

[2021-04-07 01:58] #12278 closed

[2021-04-07 06:48] #12265 closed

[2021-04-07 06:49] feerrenrut commented on #6457
Hi @aminpaks @bbudd @criscoween it would be really helpful if you could all create your own independent issues. Due to the complexities involved in this type of problem it is very possible you are seeing different things. Due to the very active development of NVDA, browsers and web accessibility it is important to know the versions of software you are using to start to diagnose the issue. All this

[2021-04-07 07:49] christopherpross commented on #12159
Hey, after my first PR regarding thisss bug, which had not a good approach, I want to start here a  discussion about the fix of this issue. Any thoughts?

[2021-04-07 08:07] JayDi85 commented on #12159
Best UX solution is improve of uninstall wizard:
* add special step with "disable access bridge" check box and warning message

I don't know details about NVDA source code, but can find [NSIS](https://nsis.sourceforge.io/) source files (installer developer software). It supports custom [pages](https://nsis.sourceforge.io/Show_custom_page_when_a_section_has_been_selected), so I think it can be impl

[2021-04-07 08:12] XLTechie commented on #12159
I agree with the uninstaller idea.

Perhaps with a default of disable, if it is detected that NVDA did the
enablement (by the registry flag that @leonarder mentioned).

[2021-04-07 14:02] tsengwoody opened #12281 "ModuleNotFoundError: No module named 'comtypes.gen.MathPlayer' when import MathPlayer module"
### Steps to reproduce:

1. Activates the NVDA Python Console
2. input "from mathPres.mathPlayer import MathPlayer"

NVDA Python Console show "ModuleNotFoundError: No module named 'comtypes.gen.MathPlayer'module"

### Actual behavior:

NVDA Python Console show "ModuleNotFoundError: No module named 'comtypes.gen.MathPlayer' when import MathPlayer module"

### Expected behavior:

NVDA Python Console

[2021-04-07 17:30] alicequiros commented on #12273
After some testing on my end, this issue does appear to be primarily a Chrome issue.

[2021-04-07 18:05] christopherpross commented on #12159
Hey,
Yeah this should be easiely to implement, my question is whether this registry flag already exist? Because I don't find that in the code, or should I implement that too?

[2021-04-08 01:50] seanbudd commented on #12261
I've had to do a lot of linting on #12251 due to a code restructure. Here was the process so far - I imagine some of the manual steps could be automated a bit more if this was to be applied across modules or code bases. https://github.com/nvaccess/nvda/pull/12251#issuecomment-815385670

[2021-04-08 07:28] seanbudd commented on #10933
`gui.dpiScalingHelper.scaleSize` returns `Union[float, Tuple[float, float]]` which causes many python deprecation warnings when passing these values into certain `wx` functions. It would be good to change this to return `Union[int, Tuple[int, int]]` or create a new method if any usages of `scaleSize` expects floats.

This may be fixed by wxPython: https://github.com/wxWidgets/Phoenix/issues/1678

[2021-04-08 08:54] CyrilleB79 commented on #10928
@seanbudd, does #12283 fix this issue? At least partially?
If this does not totally fix this issue, it should be clarified what remains to do.

[2021-04-08 12:03] simonurmi opened #12284 "Browser window information is announced if focused element is lost"
A very minimal setup to reproduce the bug is attached as an HTML file. The button has a click handler, which removes the button when activated. If NVDA has focus in an element that disappears, it starts announcing information about the browser window, as well as the word "unknown", which shouldn't happen. This does not happen if the tab key is used to move the browser's own focus on the element. T

[2021-04-08 12:27] Neurrone commented on #8145
This was fixed a long time ago, closing.

[2021-04-08 12:27] #8145 closed

[2021-04-08 13:14] MarcoZehe commented on #12221
This is no longer reproducible. Fixed by one of the recent alphas. Closing.

[2021-04-08 13:14] #12221 closed

[2021-04-08 23:43] seanbudd commented on #10928
These parts have been implemented on #12283

I haven't fixed this - this would be a good to have so that the failures are included in the `tests` section. I think you have to structure the output a different way in the `checkPot` python script.

I think it was included earlier just to fail quicker - moving it would add ~5min to the AppVeyor process if it was to fail

[2021-04-09 00:22] #12160 closed

[2021-04-09 07:13] feerrenrut commented on #12281
I can reproduce this, as well as the change in behavior between 2020.4 and alpha.

This might be related to "Make com interfaces ide friendly" #12201, but I don't immediately see how it could cause this issue.

[2021-04-09 07:23] feerrenrut commented on #10928
Yes, this is right. It's hard to know what is best. It would be good to know about the translation issues early, on the other hand a missing translation string prevents the author from knowing if the automated tests passed.

[2021-04-09 07:31] feerrenrut commented on #10933
A while ago, wxWidgets was trying make this kind of scaling happen automatically. If that is done, we might be able to remove this custom solution.

[2021-04-09 08:59] lukaszgo1 commented on #12254
@Nikita34196 Is this still reproducible for you with latest Alpha?

[2021-04-09 09:01] lukaszgo1 commented on #12235
@zstanecic Is this still reproducible for you with latest Alpha?

[2021-04-09 09:03] lukaszgo1 commented on #12229
@fernando-jose-silva Is this till reproducible for you with latest Alpha?

[2021-04-09 09:04] lukaszgo1 commented on #12226
@fernando-jose-silva Would you be able to try this with 2020.4? It'll help to asses if this is a regression or not.

[2021-04-09 09:06] lukaszgo1 commented on #12220
Is this still reproducible? For me it isn't but I was never able to reproduce this on my system.

[2021-04-09 09:11] lukaszgo1 commented on #12158
@dingpengyu From your log it looks like the errors are caused by synnth driver add-on, but in the pr description you've stated that this can be reproduced with add-ons disabled. Assuming that this is still reproducible could you please try one more time with add-ons disabled and report back.

[2021-04-09 09:12] lukaszgo1 commented on #12156
@fernando-jose-silva Is this still reproducible for you.

[2021-04-09 09:17] lukaszgo1 commented on #12152
cc @michaelDCurran Would you be able to look into this? At the very least this should be added to 2021.1 milestone.

[2021-04-09 09:18] lukaszgo1 commented on #12117
@fernando-jose-silva Is this still reproducible for you?

[2021-04-09 09:20] dingpengyu commented on #12158
The error will not occur after stopping the plugin altogether.

[2021-04-09 09:23] lukaszgo1 commented on #12158
Since this is caused by add-ons please close this issue here, investigate which add-on is causing the problem and report it to its author.

[2021-04-09 09:28] zstanecic commented on #12152
This should be added to the 21.1 milestone, as some users will refuse to upgrade to the new version, especiallz those using sapi4 sznths.

From: Łukasz Golonka ***@***.***>
Sent: Friday, April 9, 2021 11:18 AM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] SAPI4 crashes in alpha-21882,528d5708 (#12152)

cc @michaelDCurran <https://githu

[2021-04-09 09:34] Nikita34196 commented on #12254
@lukaszgo1 Hello. The problem has been fixed in the email app. but the problem with the windows settings has not been fixed. Enter the settings. nvda automatically has to report the point at which the cursor is installed. in fact, nvda doesn't report anything until I start moving arrows. also nvda does not tell the progress of downloading windows updates. i tried nvda 2020.4 there are no such prob

[2021-04-09 09:35] zstanecic commented on #12235
Hi,

I am wondering why this was not automatically closed with one of the recent commits.

This was recently fixed, so it is worth clising…

From: Łukasz Golonka ***@***.***>
Sent: Friday, April 9, 2021 11:02 AM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Mention ***@***.***>
Subject: Re: [nvaccess/nvda] In microsoft Outlook 2019 /365, NVDA fails to read attachments with the latest

[2021-04-09 09:42] zstanecic commented on #12220
This is reproducible with the error log

ERROR - unhandled exception (11:33:41.769) - MainThread (8416):

wx._core.wxAssertionError: C++ assertion ""GetWindow() != 0"" failed at ..\..\src\common\wincmn.cpp(3919) in wxWindowAccessible::GetDescription():

The above exception was the direct cause of the following exception:

SystemError: <class 'wx._core.WindowDestroyEvent'> returned a result with an

[2021-04-09 10:10] fernando-jose-silva commented on #12117
yes the problem is still reproducible.
I found out that the problem is due when opening an email the nvda is not automatically going into browsing mode.
If I open an e-mail to force the navigation mode with nvda + space everything works fine.
It is an annoying problem, since every open email you need to go to browsing mode.
This is a regression of the alpha versions.
Checking the option in the aut

[2021-04-09 10:13] fernando-jose-silva commented on #12156
yes the problem is still reproducible.

[2021-04-09 10:23] fernando-jose-silva commented on #12226
I tested with 2020.4 and the problem is present, it didn’t seem to be regression.
Thanks.

[2021-04-09 10:27] fernando-jose-silva commented on #12229
no thanks, problem solved when using the last alpha.
If I am not mistaken corrected in alpha 22260.

[2021-04-09 10:33] lukaszgo1 commented on #12229
@fernando-jose-silva Thanks for the update! Since this is fixed could you please close this issue??

[2021-04-09 10:35] lukaszgo1 commented on #12235
@zstanecic Please close it then.

[2021-04-09 10:40] #12235 closed

[2021-04-09 10:41] #12229 closed

[2021-04-09 15:48] christopherpross commented on #12159
Hey guys,
@XLTechie and @leonardder, I marked you because we had already talked in the PR, so maybe you will have an idea?

i am not sure, whether I could do that. Because we need for this to work, an uninstaller gui, which would have the following limitations (correct please if I am wrong):
- The UI is not translable with gettext
- It exist a work arround for that, but requires to build for each

[2021-04-09 19:30] burakyuksek commented on #12161
Turning off UIA fixes the issue but then we lose the performance improvements it causes.

[2021-04-10 01:16] XLTechie opened #12285 "Add input gesture menu has no cancel option"
### Steps to reproduce:

1. Open Input Gestures dialog (NVDA+n, p, n).
2. Open a category, such as "Configuration".
3. Move to an item, such as "Reports the name of the current NVDA configuration profile".
4. Add any gesture, by pressing Alt+A. For example, use NVDA+Shift+Alt+C.

### Actual behavior:

The context menu appears, containing options for desktop layout, laptop layout, and all layouts.

[2021-04-10 01:37] XLTechie commented on #11419
With everything else that's going on, there has been no comment or action on this in about nine months. I agree with @CyrilleB79 above: adding a tangible Cancel option would be a good start. I have requested this in #12285.
I propose that as a step 1 to resolving this issue.

Then, whether or not we bind escape to it (I think we should if we can), it would at least give the user a way out, and it

[2021-04-10 01:44] XLTechie commented on #12285
I view this as a stepping stone to a solution for #11419, and the idea for adding a Cancel option is one of the ideas discussed there (although I didn't remember that until posting this and rereading that).

I'm fine if someone wants to merge these issues, but that one is particularly keyboard focused, where this starts with adding the cancel option which could potentially then resolve the keyboar

[2021-04-10 07:08] seanbudd commented on #12238
I reproduced this with `alpha-22119,8412adbd` so this isn't a regression from `8665526`.

[2021-04-10 09:20] khsbory commented on #12084
@feerrenrut Hey, there. May I ask did you check my NVDA bug report regarding this issue?
Thank you.

[2021-04-10 19:54] CyrilleB79 commented on #12285
Yes, the two GitHub issues are two solutions for the same problem.

Note that, you also write:

Another solutions is to select the shortcut just added and remove it if you remember it. This avoid to lose all modifications made previously in the window. But it is not user-friendly either.

[2021-04-10 22:59] XLTechie commented on #12285
True, although you may have done something with the just assigned gesture, that
compromises your ability to delete that gesture (like reassigning alt+r or
similar).

[2021-04-11 12:21] bramd commented on #12104
I think this is expected behavior when the heading spans multiple "virtual" lines in NVDA's presentation of the website. You could change the line length in browse mode settings to se this effect. However, I notice NVDA also does this during say all as you describe (automatically on page load or triggered by nvda+downArrow). Since in say all it's not really clear when a line begins/ends, it might

[2021-04-11 22:16] bramd commented on #12246
@seanbudd Here is a log of the crash happening. I scrubbed it from some personal data, such as events from the calendar. Please note that NVDA and Outlook are set to English, but the date and time format and Exchange server are set to Dutch .SO, you see folder names like Agenda (calendar) and dates in Dutch. From the log  I gather that the crash happens when NVDA handles an on_focus event, but it

[2021-04-11 22:33] bramd commented on #12010
@feerrenrut I would like to reopen this, since a specific issue in textareas seems still be present.

STR:
1. Use Chrome/Chromium based Edge
2. Open `data:text/html,<textarea>foobarfoobarfoobarbazasdfasdfasdf%0Aasdfasdfasdf</textarea>`
3. Add a new line at the end of the textarea
4. Press routing somewhere in that line

Expected: routing moves cursor to clicked position
Actual: Cursor moves back t

[2021-04-11 23:33] jcsteh commented on #11419
I don't know. It's just always been that way, obviously some Windows UX decision made eons ago. Regardless, I don't know of any way GUI devs can override it.

Agreed, as above. I just don't know what's involved in implementing that. I'd far prefer that to the explicit cancel option, though. But again, my opinions are not so relevant around here any more, haha.

[2021-04-11 23:47] seanbudd commented on #12238
this is also reproduced on `2020.4`. I haven't been able to find a way to consistently fix this and considering it's not a regression I'm going to take this off the milestone for 2021.1

[2021-04-12 03:38] Qchristensen opened #12287 "PowerPoint: Selected slides not reported when selecting slides in the thumbnail pane"
### Steps to reproduce:

1. Open PowerPoint to a presentation with more than one slide (or create one)
2. Press F6 / CONTROL+F6 if needed to move to the thumnail list (only the current slide title is read and the number of slides, eg "5 of 7", but it is after the notes and before the slide view when using F6).
3. Press the up and down arrow keys to move between slides
4. Press SHIFT+down arrow to

[2021-04-12 04:41] dingpengyu commented on #12219
The current issue has been resolved and I will close this issue.

[2021-04-12 04:41] #12219 closed

[2021-04-12 04:44] #12213 closed

[2021-04-12 04:46] #12158 closed

[2021-04-12 04:55] MarcoZehe commented on #12010
Confirmed, this is still present for me also.

[2021-04-12 06:15] CyrilleB79 commented on #12238
According to my tests, the issue seems to occur on NVDA 2020.4 only occasionally and after having worked several hours with NVDA. On the contrary, on last alpha (nvda_snapshot_alpha-22295,49a85788), the issue seems to be reproducible systematically.
Tests performed with NVDA 2020.4 installed version and NVDA alpha portable.
So IMO, there is a regression in this dev cycle.

In any case, the severit

[2021-04-12 07:48] michaelDCurran commented on #12152
I have managed to create a minimal testcase outside of NVDA which reproduces the issue.
It seems as though the stack becomes corrupted as the call to our ITTSBufNotifySynk's TextDataStarted method completes, and control goes back to the SAPI4 engine. Then as that function in the engine returns, it jumps to an invalid address.
I can trace the calls through Python and Windows code, but for the engin

[2021-04-12 09:37] cary-rowen commented on #9039
This is still confusing, and I can still reproduce this issue using 2020.4.
Is there any news about this?
@michaelDCurran
@josephsl

[2021-04-12 10:09] cary-rowen commented on #12152
I will share another engine to help you troubleshoot problems. Although this is a very old technology, there are still many people using it:
If the installation interface is in Chinese, then you only need to press Alt + Y to complete the installation.
I tested that NVDA2020.4 can work with this engine.
But the latest Alpha cannot work with this engine.
https://www.dropbox.com/s/3njaa8jrplutk24/IBM

[2021-04-12 10:23] lukaszgo1 commented on #12152
@michaelDCurran  SAPI 4 SDK can be downloaded from: http://grossgang.com/tts/sapi_voices/SAPI4SDK.exe
I don't think this crash is engine specific I've reproduced it with a commercial Polish synth. Its demo can be downloaded from: http://speak3.altix.pl/demo/SpeakDemo.exe though I'm not sure about limitations of the demo version.
Another alternative would be to reimplement SAPI 4 support in a diffe

[2021-04-12 14:16] RichCaloggero opened #12288 "aria-describedby and single line input fields"
### Is your feature request related to a problem? Please describe.

Assume we have a label such as "name" on our input field.

Suppose further that our `aria-describedby` on that field points to a long bit of text such as "(Enter as: Last/Surname, First/Given Middle)".

CUrrently, both label and contents of element referenced by `aria-describedby` are read *before* the current value of the input f

[2021-04-12 15:28] MarcoZehe commented on #12288
I believe this is already being dealt with in #12149.

[2021-04-12 16:59] #12288 closed

[2021-04-12 16:59] RichCaloggero commented on #12288
Closed: duplicate of #12149.

[2021-04-12 21:41] camiloorrego commented on #9017
I'm using the version 2020.4 and I only have this problem with I'm using shortcut keys (Control + Alt + Arrows)

How can I fix it?

[2021-04-12 22:59] michaelDCurran commented on #12152
Another possibly related cPython issue: https://bugs.python.org/issue38748

[2021-04-12 23:53] #12275 closed

[2021-04-13 04:29] zstanecic commented on #12152
Note: if this cannot be fixed, it will be better to remove this and let people tell that synths are unsupported, discontinued and no longer developed. The good example is the speak3 synthesizer which Łukasz mentioned. The demo version of this synth is no longer updated, and this version is from the year 2013. Altix sells this stills, but it is not actively developed.
Another popular sapi4 synth am

[2021-04-13 05:39] leonardder commented on #12152
I'd be curious to know how it behaves on Python 3.9. Would you be able to share your test case?

[2021-04-13 05:44] leonardder commented on #12267
I don't think there's anything wrong with classes inheriting from object explicitly, even in Python 3.8. I think this is neither a bug nor it will add anything valuable to the product when this is changed. Therefore I"m closing this.

[2021-04-13 05:44] #12267 closed

[2021-04-13 05:45] leonardder commented on #12271
This would be very helpful for the highlighter as well.

[2021-04-13 05:50] leonardder commented on #12246
I can not reproduce this myself with Outlook 16.0.13901.20276.

[2021-04-13 07:36] Qchristensen opened #12289 "Command line switch --minimal isn't silent"
### Steps to reproduce:

Run NVDA with the --minimal command line switch.

### Actual behavior:

NVDA's launcher startup sound plays,
NVDA starts a temporary copy
No launcher interface appears

### Expected behavior:

The description of the switch is: "No sounds, no interface, no start message, etc."

While there doesn't seem much point in running:

nvda.exe --minimal

with no other switches and N

[2021-04-13 07:42] michaelDCurran commented on #12152
My minimal testcase also crashes in Python 3.9.
This is looking more and more like stack corruption in the libFFI library, which is used by ctypes.
If this is causing problems for SAPI4, it may be causing problems in other places. Probably anywhere where a Python callback is called from outside of Python, though the particular calling convention may affect things.
This may be also what is making U

[2021-04-13 08:00] zstanecic commented on #12152
So, as i see we are not going to downgrade python?

Is there any fix in the comtypes master branch for this?

From: Michael Curran ***@***.***>
Sent: Tuesday, April 13, 2021 9:43 AM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] SAPI4 crashes in alpha-21882,528d5708 (#12152)

My minimal testcase also crashes in Python 3.9.
This is looki

[2021-04-13 08:16] michaelDCurran commented on #12152
Downgrading Python is not out of the question yet. But a bit more research is still required.

[2021-04-13 09:02] Brian1Gaff commented on #12288
I've often wondered  if a little peep could be read in spoken output when
the type of item being read changes in the middle as in the example.
 Brian

***@***.***
Sent via blueyonder.
Please address personal E-mail to:-
***@***.***, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Rich Caloggero" ***@***.***>
To: "nvacces

[2021-04-13 09:04] feerrenrut commented on #12289
Question is, should the docs be changed to say that this does play the startup sound, or should the startup sound be removed when this is present.

Typically for an installer the argument `--silent` only prevents user prompts. EG all required information must be provided on the command line for the install to complete, otherwise the command fails.

The first step here I think should be surveying t

[2021-04-13 09:35] lukaszgo1 commented on #12254
Relevant part of the log:
[code]

@josephsl Since you're on Insiders same as Original Poster is this issue reproducible for you in Windows Settings?

[2021-04-13 09:46] feerrenrut commented on #12084
In the future, please fill out the bug template. It is structured to ensure that you provide the information we need in an easy to read way.

This does look to me like a legitimate bug. I tested this with Edge (Anaheim) `Version 89.0.774.75 (Official build) (64-bit)`

To anyone else looking at this, the test sample contains two variations (Example 1 and Example 2), the first one works as expected

[2021-04-13 11:18] josephsl commented on #12254
Hi, I’ve seen this after opening Edge in Insider Preview build 21354, specifically when address omnibar is focused. Thanks.

[2021-04-13 12:50] Adriani90 commented on #12284
@simonurmi which output do you expect from NVDA in this situation exactly? exactly?

@feerrenrut maybe something which can be considered via cancelable speech.

[2021-04-13 13:00] feerrenrut commented on #12010
@bramd I'd prefer if a new issue. It may be independent and deserves the usual set of questions (from the template).

[2021-04-13 13:14] feerrenrut commented on #12284
It would be great if you could describe what you expect NVDA to do in this case.

Focus management when removing an element with system focus is a known issue, and something to discuss with web standards committees and browser manufacturers. Where should focus land when an element is removed? Currently it lands on the document root.

A similar but slightly different question, and it sounds like wh

[2021-04-13 17:36] christopherpross commented on #10032
yeah the behavior is still the same, the strange thing is, that the speech is not recieving the thribble line numbers, only the braille display is showing it. The textinfo is also showing only one line number.

[2021-04-14 08:39] feerrenrut commented on #12220
I can reproduce this, and I have been investigating.

Here is what I have found
- Only the braille and speech settings panels have the failure.
- These both share a common layout. A group (`StaticBox`), containing a label (`StaticText`), `ExpandoTextCtrl`, and `Button`.
- In #12181, we were [advised ](https://trac.wxwidgets.org/ticket/19086) to make the `StaticBox` the parent of any controls in th

[2021-04-14 09:12] feerrenrut commented on #12220
There doesn't seem to have been many recent changes in wxAccessible in the wxWidgets repo. I suspect that we only now get this assertion because wxPython has enabled accessibility in the build of wxWidgets it includes (and we have recently updated to wxPython 4.1.1) but I **have not confirmed this**.

wxPython 4.1.1 [seems](https://github.com/wxWidgets/Phoenix/commit/1d243a37c3c7ec0fd85ac646b913d1

[2021-04-14 10:17] feerrenrut commented on #12220
wxWidgets ticket: https://trac.wxwidgets.org/ticket/19145

[2021-04-14 11:57] lukaszgo1 commented on #12220
@feerrenrut  Would you be  able to confirm that this issue goes away when reverting 57e02cae77b33a312b5adc190b150bca9e27967e As this commit seems the most logical candidate to me. Perhaps using `wx.Accessible` would allow to create a MWE for this issue.

[2021-04-14 16:53] XLTechie commented on #12220
What negative effects are there to doing that?

[2021-04-14 16:57] XLTechie commented on #12220
Oh, never mind, I think I see--it breaks RTL.

[2021-04-14 18:50] michaelDCurran commented on #12152
I have commented on the existing Python issue: https://bugs.python.org/issue38748 and attached another minimal testcase, which I have now gotten down to a __stdcall Python callback that takes a long and a long long.

[2021-04-15 00:18] Qchristensen commented on #12289
We don't have a --silent argument, but --install and --install-silent both install NVDA without prompting (aside from the UAC prompt).  The only difference between the two switches is that --install then starts the installed copy whereas --install-silent does not.  Perhaps --install-exit would have been more indicative of what happens?

In either case, adding --minimal does not do anything differe

[2021-04-15 00:36] Qchristensen commented on #12128
@FoxMachina can you still replicate this?  I just tried it, and I found:

- When typing, whether you are inserting text, or deleting text is not reported while typing.
- While navigating, NVDA correctly reports whether text is inserted, deleted, or not inserted (when moving between inserted and original text).
- This behaviour is the same regardless of the state of "Use UI Automation to access Mic

[2021-04-15 09:03] seanbudd commented on #12192
I haven't been able to reproduce the "Updating NVDA"  aspect of this ticket when updating to the latest alpha - can you confirm that this aspect is no longer an issue?

 "Downloading update" should be fixed in #12295

[2021-04-15 10:32] michaelDCurran commented on #12154
I have made a try build of NVDA downgraded to Python 3.7, but otherwise identicfal to NVDA master at time of this comment:
https://ci.appveyor.com/api/buildjobs/9j0yrsjmphluhd9n/artifacts/output%2Fnvda_snapshot_try-py37-22369%2C439dc27a.exe
Please give this try build a test and let me know if the issue no longer occurs.

[2021-04-15 10:34] michaelDCurran commented on #12152
I have made a try build of NVDA downgraded to Python 3.7, but otherwise identical to NVDA master at the time of this comment:
https://ci.appveyor.com/api/buildjobs/9j0yrsjmphluhd9n/artifacts/output%2Fnvda_snapshot_try-py37-22369%2C439dc27a.exe
Please test the SAPI4 synthDriver in this build and report if SAPI4 is again working for you. It seems to be working well for me.

[2021-04-15 10:46] zstanecic commented on #12152
Hi,

It works.

But is there any way to make sapi4 work on py 3.8?

I am afraid that in the future we will need to drop this, or there will be a problem.

From: Michael Curran ***@***.***>
Sent: Thursday, April 15, 2021 12:34 PM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] SAPI4 crashes in alpha-21882,528d5708 (#12152)

I have made a

[2021-04-15 11:12] michaelDCurran commented on #12152
There is a very serious bug in Python 3.8+ which causes stack corruption
on certain Python callbacks via ctypes.

that bug must be fixed in Python / LibFFI to ensure NVDA's stability.

[2021-04-15 11:17] simonurmi commented on #12284
I'd prefer no output at all over the current output, which sounds like NVDA reached some kind of an error state.

By "NVDA focus" I meant the virtual cursor. I don't really have a strong opinion on this. For example, with single-page web apps, developers are expected to programmatically manage focus, so cursor placement is not an issue there. Moving the cursor to document root would make sense in

[2021-04-15 11:19] zstanecic commented on #12152
Where this issue can be followed?

From: Michael Curran ***@***.***>
Sent: Thursday, April 15, 2021 1:12 PM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] SAPI4 crashes in alpha-21882,528d5708 (#12152)

There is a very serious bug in Python 3.8+ which causes stack corruption
on certain Python callbacks via ctypes.

that bug must be fixe

[2021-04-15 11:20] michaelDCurran commented on #12152
https://bugs.python.org/issue38748

[2021-04-15 11:22] zstanecic commented on #12152
What can be done in the meantime to fix this?

Are our backwards compatibility changes safe?

From: Michael Curran ***@***.***>
Sent: Thursday, April 15, 2021 1:21 PM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Comment ***@***.***>
Subject: Re: [nvaccess/nvda] SAPI4 crashes in alpha-21882,528d5708 (#12152)

https://bugs.python.org/issue38748

—
You are receiving this because you com

[2021-04-15 11:29] k-kolev1985 commented on #12192
The dialog that shows the update installation progress of NVDA is still not centered on the screen when updating to NVDA version alpha-22370,35ceac29.

The other not centered dialog is the one for downloading the update, but that I will be able to test when the next alpha comes out.

Those two dialogs are the ones not centered (at least I don't know about others).

[2021-04-15 11:39] michaelDCurran commented on #12152
Depending on the results that come from people testing this try build as
I have requested here and on another issue, I may soon create a pr to
downgrade to Python 3.7.

The only PRs that needed to be reverted were:

* Updating brlAPI to a Python 3.8 build

* Switching to using Python's own pgettext

* calling os.add_dll_directory when loading liblouis.

None of these PRs have any user visible chan

[2021-04-15 11:45] dingpengyu commented on #11530
cc @seanbudd
Can you please solve this problem?

[2021-04-15 12:51] lukaszgo1 commented on #12154
@michaelDCurran  I can confirm that UIA controls are once again usable under Windows Server 2012 with the try build that you've posted above.

[2021-04-15 12:54] lukaszgo1 commented on #12254
@Nikita34196  Could you please test with [this try build](https://ci.appveyor.com/api/buildjobs/9j0yrsjmphluhd9n/artifacts/output%2Fnvda_snapshot_try-py37-22369%2C439dc27a.exe)?

[2021-04-15 13:01] lukaszgo1 commented on #12152
I can also confirm SAPI 4 works for me with this try build.

[2021-04-15 13:42] Nikita34196 commented on #12254
@lukaszgo1 hi. I've tested it now. unfortunately, the problem remained.
[nvda.log](https://github.com/nvaccess/nvda/files/6318432/nvda.log)

[2021-04-15 13:52] cary-rowen commented on #12152
Yes, this internal version can continue to use the SAPI4 synthesizer
@michaelDCurran

[2021-04-15 14:12] Nikita34196 commented on #12254
I was testing older versions now. problem starts after alpha-21871,16b83338

[2021-04-15 14:24] lukaszgo1 commented on #12254
Could you please try with the build that I've linked above but start it from the command line passing `--disable-addons` to the executable?

[2021-04-15 14:51] Nikita34196 commented on #12254
@lukaszgo1 if you disable all add-ons, the problem is fixed. only thing. when nvda starts there is an error sound. here is log
[nvda.log](https://github.com/nvaccess/nvda/files/6318907/nvda.log)

[2021-04-15 17:10] lukaszgo1 commented on #12254
@Nikita34196 You don't need to worry about the error from the last log. it is caused by the fact that your default speech synthesizer is an add-on and therefore cannot be loaded when add-ons are disabled.
Could you please repeat the testing with the current Alpha and add-ons disabled
Given that this problem cannot be reproduced when add-ons are disabled I suggest to close this issue, try to disabl

[2021-04-15 17:20] Nikita34196 commented on #12254
if you disable the add-on, the last alpha works smoothly. thank you.

[2021-04-15 17:28] CoBC opened #12296 "Reading comboboxes editable in QT applications"
### Steps to reproduce:
- Open a QT application
- Go to a field using a combobox with editable attribute set to true
- Try to read combobox content with left and right arrows
### Actual behavior:
- NVDA say nothing, braille cursor is not moved
### Expected behavior:
- NVDA should speak letters, and cursor braille should moved
### System configuration
#### NVDA installed/portable/running from sourc

[2021-04-15 18:25] Mohamed00 commented on #12152
Also confirmed, I can no longer reproduce the SAPI4 crash in this build.

[2021-04-16 00:49] seanbudd commented on #12192
Strange, I'm still unable to reproduce this for "Updating NVDA". I have a couple of questions for troubleshooting as I think this might be a display specific wxWidgets issue.

- If you open the NVDA python console and enter `import wx; wx.GetDisplaySize()` what is returned?
- Do you happen to be using multiple monitors?
- Does the "Check for update" dialog centre properly?

[2021-04-16 01:57] cary-rowen opened #12299 "After clicking the "Restore Default" button under the "Advanced" category, you cannot close the settings panel by clicking the "OK" button"
### Steps to reproduce:
1. NVDA + N to open the "NVDA" menu, go to "Preferences" ➡ "Settings";
2. Use the down arrow to move to the "Advanced" category;
3. Use the Tab key to find and click the "Restore defaults" button;
4. Then click the "OK" button.
### Actual behavior:
NVDA plays an error tone and does not close the settings dialog.
### Expected behavior:
NVDA should restore the advanced settin

[2021-04-16 02:04] cary-rowen commented on #12299
The following is the log file:
[nvda_log.txt](https://github.com/nvaccess/nvda/files/6322015/nvda_log.txt)

[2021-04-16 02:33] XLTechie commented on #12299
But wait, there's more...

After that error occurs, it seems that there is a failure to clean up which shows up in subsequent entries into the settings panel.

I replicate the error in this log, and, at `Mark 2`, we can see what happens when I next enter the panel.
[secondary error.txt](https://github.com/nvaccess/nvda/files/6322096/secondary.error.txt)

CC @seanbudd

[2021-04-16 02:34] XLTechie commented on #12299
@cary-rowen As a further diagnostic point: if you check the box to actually change advanced settings, the restore button works fine, at least on my system.

[2021-04-16 02:44] cary-rowen commented on #12299
Yes, thank you for your supplement. @XLTechie

[2021-04-16 04:48] feerrenrut commented on #12220
Yep

I had confirmed this: Here is the alpha build prior to the introduction of 57e02ca https://ci.appveyor.com/api/buildjobs/gqw4xxr46e67t1yh/artifacts/output%2Fnvda_snapshot_alpha-22114%2Ced5fca6b.exe

I also tested disabling our own accPropServer before 57e02ca was introduced. The problem is reproducible in both cases.

[2021-04-16 06:51] feerrenrut commented on #12284
I don't consider "unknown" as an error state necessarily. In a way, it could be considered to be telling the user what is actually happening, the location of the virtual cursor is not known, though it might be more accurate to say it is not available. I agree it would be more friendly to move the virtual cursor to the prior sibling or parent object. However, I think it is also important that the u

[2021-04-16 06:56] k-kolev1985 commented on #12192
OK, typing:
import wx; wx.GetDisplaySize()
into the NVDA console returns the following:
wx.Size(1920, 1080)
My DPI scaling is at 100%, if that matters.

No, I do not use multiple monitors.

Yes, as far as I could see (it appears only for a short period of time), the "Check for update" dialog is centered.

[2021-04-16 09:13] XLTechie commented on #12284
@feerrenrut wrote:

While that is what it means, I think it usually signifies some larger error
state, or unreadable condition, that the user has to find a way out of.
It feels overly generalized for what's happening here.

Plus, all of the exhaustively repeated grammar around it--effectively re-reading
the window--seems like overkill, and takes up the user's time.

That said, in latest alpha I'm

[2021-04-17 11:06] Neurrone opened #12303 "Key echo while typing and speech while editing cells in Excel does not work at all without the experimental UIA setting enabled"
### Steps to reproduce:

This happens with default settings (i.e, usage of UIA in Excel is not enabled). The problem goes away when turning the setting on, so this is probably a regression.

1. Open a new blank excel workbook. Type some text into cell A1, e.g "abc"
2. Press f2, and attempt to use the arrow keys to read the text

### Actual behavior:

Nothing is heard when typing into a cell. Press

[2021-04-17 14:37] CyrilleB79 commented on #12303
Hello
Could you please try another version of NVDA (ideally 2020.4) before speaking of regression?
Also please try to run COM Registration Fixing Tool.

I do not succeed in reproducing this issue on my side with the following config:
* NVDA Version : last alpha source-master-516706d'] or installed 2020.4
* Excel 2016 (version '16.0.5134.1000')
* Windows 10 1809

[2021-04-17 15:21] Neurrone commented on #12303
@CyrilleB79 the reason why I mention this is a regression is because it works for me in 2020.4.

I've also upgraded to the latest snapshot version and can still reproduce it. Note that after I enable the "Use UI Automation to access Microsoft Excel spreadsheet controls when available" option in advanced settings, the problem goes away.

[2021-04-17 18:48] lukaszgo1 commented on #11774
@CyrilleB79 If I'm not mistaken after #12075 Visual Studio is not necessary any longer for linting. Would you be able to confirm and assuming that this issue is fixed for you close it?

[2021-04-17 19:48] CyrilleB79 commented on #11774
Correct: #12075 is fixing this issue and I am already running the `runlint.bat` script on a computer without Visual Studio.
Thanks @lukaszgo1 for pointing this; I had forgotten that I had opened this issue.

One additional question:
Since you also mention unit and system tests in https://github.com/nvaccess/nvda/issues/11774#issuecomment-727650474. What is the status now? Is Visual Studio still ma

[2021-04-17 19:48] #11774 closed

[2021-04-17 19:59] CyrilleB79 commented on #12303
OK. Still, can you clarify the following points:
* Could you please try to run COM Registration Fixing Tool? If already done, is there any change?
* Regarding 2020.4 did you test before upgrading to last alpha or did you test recently, e.g. with a portable version (since it seems you have alpha installed)?
Thanks.

[2021-04-17 20:11] lukaszgo1 commented on #11774
No, both unit and system tests can be executed without VS installed assuming that the virtual env has been created on a machine with Visual Studio.

[2021-04-17 20:47] CyrilleB79 commented on #12010
@bramd, @MarcoZehe and @Oreonan:
Just a reminder: if you still experiment the issue described in https://github.com/nvaccess/nvda/issues/12010#issuecomment-817383795 and you want to have a chance for it to be fixed in 2021.1, you should open a new issue on this topic.

[2021-04-17 21:09] CyrilleB79 opened #12304 "Formatting information heard when using Outlook shortcuts"
Issue reported following a discussion [here](https://groups.io/g/nvda-fr/topic/82076351#2496) on a French mailing list.

### Steps to reproduce:

* Open a received message to read.
* Press contrôl+R

### Actual behavior:

* Briefly, an alignment message is reported, e.g. "Left aligned"
* An answer message is opened.

Notes:
* That alignment message may be more or less audible since it is truncated

[2021-04-18 07:07] Neurrone commented on #12303
@CyrilleB79 I've just ran the com registration fixing tool which doesn't change anything, I can still reproduce the problem. I downloaded V2020.4 off the installer as I didn't want to interfere with my already installed copy.

I have enabled debug logging. I pressed right arrow, entered the text "def" in an empty cell then pressed tab. From the output below, the error "_ctypes.COMError: (-21474181

[2021-04-18 16:15] NVCDevelopmentTeam opened #12305 "How can NVDa screen readers work and access with mobile game development tool BuildBox to help visually impaired developers make use of everything to get projects done in no time ."
Hello, I am happy to accompany developers around the world. I myself am a blind person and I have many years of experience in researching assistive and accessible technology for the visually impaired. However, lately I've been paying attention to no code and low code. They are really helpful to me. However, the problem to be raised is how can NVDa function well with them without any barriers durin

[2021-04-18 20:38] CyrilleB79 commented on #12303
Thanks for the additional information and for the log.
No problem if you tested with the installer of 2020.4 running a temporary version, that remains a valid test.

One last question: did it use to work on this machine some time ago? If yes, any idea when this has changed?

Unfortunately, I have no idea regarding the cause of this error. The forums seem to indicate various causes such as presence

[2021-04-19 02:09] Wildebrew opened #12306 "NVDA exposes the underlying semantics of elements with role="switch" but not the switch role itself"
When you use role="switch" and an `aria-checked` attribute on either a checkbox or toggle button, NVDA exposes the underlying semantics (announced "checkbox checked" or "checkbox, pressed, checked" or that of the button "button pressed". It does not announce the word "Switch" or change its announcement from "checked" to "on" or "pressed".

### Steps to reproduce:
You can visit this collection of [

[2021-04-19 05:15] JAWS-test commented on #12306
role=switch is missing at https://codepen.io/felipefialho/pen/DIdKj

[2021-04-19 06:38] Wildebrew commented on #12306
I added it to the code manually and tested, I also know how it works
from testing an intenral example.
I should create a separate CodePen example.

On 4/19/21, JAWS-test ***@***.***> wrote:

--
Work hard. Have fun. Make history.

[2021-04-19 07:08] #12247 closed

[2021-04-19 07:38] Brian1Gaff commented on #12305
If they won't support disabled people are they in a country with strong laws
like the usa? They may have to be persuaded. On the other hand do you really
want to write with a tool whose developers have no idea about accessibility,
what does it say about the accessibility of apple and android code it might
produce at the end?

Brian

***@***.***
Sent via blueyonder.
Please address personal E-mail t

[2021-04-19 14:10] NVCDevelopmentTeam commented on #12305
Thank you, your question is very nice. However, I contacted them and they will try to improve them in the future. But this will take a long time and I cannot wait much longer. You guys on my development team are in need of a right tool to reconcile things for people with disabilities and the average person to be able to play my game on and I think it's great that everything will be approached, it

[2021-04-19 15:13] Neurrone commented on #12303
I'm not sure, this is a fresh reinstall of Windows and I don't use excel that often. It so happened that it was the first time I used excel after the reinstall of Windows, so I'm doubting any software issues.

Also doesn't explain why it works in NVDA 2020.4 and not the latest snapshot version.

[2021-04-19 15:42] Carlos-EstebanM commented on #7074
Hi all.
A developer has an addon for Check Input Gestures duplicate, with an option in the submenu tools.
Is a good idea have this feature in the core? Yes, is possible check if a command has an action with the input help, but the user need a feature for check if an addon have other action for a command. Is necessary for the users that use no official addons, for example. For example, is possible

[2021-04-19 15:55] yplassiard commented on #7074
Very good idea. Would be a good idea that NVDA, upon first launch of a newly installed add-on, checks for dupplicates and present the list of conflicting gestures so that the user would be able to reassign them immediately, or, if we don't want to "block" the user until the gestures are reassigned, just warn him/her and let hm do the reassign within the gestures dialog.

[2021-04-19 16:20] nvdaes commented on #7074
@Carlos-EstebanM, you provided a link to the add-on, but I think you didn't mention to @grisov, who is its developer. Let's mention this person with @, in case the author is interested in receiving messages of this thread.

[2021-04-19 23:26] #12299 closed

[2021-04-20 02:26] seanbudd commented on #12246
I managed to reproduce this using this dutch calendar: `webcal://agenda-abonnement.nl/schoolvakantiesnoordnederland.ics` from https://agenda-abonnement.nl/

[2021-04-20 02:28] seanbudd commented on #12246
We are sending the crash dump to microsoft to investigate

[2021-04-20 02:53] michaelDCurran commented on #12281
This is a regression introduced by pr #12201

comInterfaces_sconscript instructs comtypes to generate Python files from typelibs/mathPlayer.tlb. Comtypes produces MathPlayer.py (note the uppercase M). However, the sconscript target was hardcoded as "mathPlayer.py" (note the lowercase m). This has always been the case, and has not been a problem as scons and Windows is case insensitive and so Scons

[2021-04-20 04:00] feerrenrut commented on #12281
Thanks for the investigation @michaelDCurran!

[2021-04-20 04:19] #12152 closed

[2021-04-20 04:19] #12154 closed

[2021-04-20 05:38] #12147 closed

[2021-04-20 06:54] twonghkbu commented on #11963
May I know what action could we do if most of the emoji was defined as "↑↑↑" in the CLDR file and could not be announced at all?
[cldr_zh_HK.txt](https://github.com/nvaccess/nvda/files/6341250/cldr_zh_HK.txt)

[2021-04-20 07:44] feerrenrut commented on #11530
@dingpengyu this issue appears to be caused by the library being used in Proxmox. Until this is fixed, it seems you can either use Firefox, or you can use a release version of NVDA and you will not hear the error tone.

[2021-04-20 07:49] dingpengyu commented on #11530
Thank you for your note
I will close this issues

[2021-04-20 07:49] #11530 closed

[2021-04-20 08:50] feerrenrut commented on #11064
Sorry @isidorn we haven't been able to prioritize this yet.

[2021-04-20 09:06] #12281 closed

[2021-04-20 10:02] cary-rowen opened #12311 "Starting with version 2019.3, the "Capital pitch change" when using the SAPI4 synthesizer was invalid"
Below is the debug log I added, You may find helpful information from line 630.
[nvda_log.txt](https://github.com/nvaccess/nvda/files/6350567/nvda_log.txt)

### Steps to reproduce:

1. Download and install the speech synthesizer provided in the following link, or use the SAPI4 speech synthesizer already on your computer.
link: [https://www.dropbox.com/s/3njaa8jrplutk24/IBM_ViaVoice_TTS_Runtime-V6.

[2021-04-20 13:13] Nikita34196 opened #12313 "nvda windows store"
hi. are there any improvements in the nvda functionality for the windows store. how much I know in nvda from the store can not install additions. I read an article about changes in store policy. here. https://www.windowscentral.com/windows-10-big-changes-coming-app-store

[2021-04-20 19:54] XLTechie opened #12315 "Remote Python Console not available in binary builds, but referenced without qualification in dev guide"
The 2020.4 Developer Guide, section 6, describes the Remote Python Console.
[Section 6.1](https://www.nvaccess.org/files/nvda/documentation/developerGuide.html#toc47) describes the steps to activate it.

### Steps to reproduce:

Run the following in the regular Python Console (NVDA+Ctrl+Z):
[code]

### Actual behavior:

The regular Python Console emits:
[code]

### Expected behavior:

The Remote C

[2021-04-20 19:57] XLTechie commented on #12315
I searched the Changes file, and there is no reference to removal of the Remote Python Console.
I am therefore uncertain whether this is a relic in the Dev Guide as I originally thought, or a bug in NVDA.

[2021-04-20 20:03] lukaszgo1 commented on #12315
Python console is not available in binary builds by design since it poses a security risk. It can still be imported when using a source copies. I agree this fact should be documented in the dev guide. For additional discussion see #9517

[2021-04-20 20:35] XLTechie commented on #12315
I see, thanks.

I'm not sure I accept the bad add-on argument, as any malicious add-on could write their own remote exploit, or absorb the remote console module with minimal changes. But I suppose it does have some appearance merit for corporate installations.

[2021-04-20 20:59] ehollig commented on #2522
I had a request from a user for this feature. It is most noticeable in some emails in Outlook. Is this still being considered as something to be added to NVDA?

[2021-04-20 21:06] XLTechie commented on #2522
I've observed surprisingly many requests for this feature over the years on
mailing lists, and in direct support calls.
Apparently some people really hate hearing "blank".

[2021-04-21 00:58] #12315 closed

[2021-04-21 01:04] #12224 closed

[2021-04-21 02:14] seanbudd commented on #10791
This is due to the event being vetoed https://github.com/nvaccess/nvda/blob/release-2020.4/source/speechViewer.py#L103

[2021-04-21 07:15] #12071 closed

[2021-04-21 07:15] #12205 closed

[2021-04-21 08:36] vgjh2005 commented on #12311
Hi:
I agree with you. It is a Critical issue! SAPI version 4 is still the most important synthesizer today. Though there are more and more modern complex synthesizer switching system plugins,  but using different sounds to announce different languages do to text reading is not enough of satisfied. Fortunately, IBM viavoice text to speech engine has been able to run to announce multi language at th

[2021-04-21 08:46] zstanecic commented on #12311
Hi,

The workaround for this is to turn off use spelling functionality checkbox in the NVDA voice settings.

When this setting is turned off, the speech returns to normal, i.e capital pitch change is normal.

From: vgjh2005 ***@***.***>
Sent: Wednesday, April 21, 2021 10:36 AM
To: nvaccess/nvda ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [nvaccess/nvda] Starting with version 2019.3, the

[2021-04-21 08:52] #11948 closed

[2021-04-21 09:15] cary-rowen commented on #12311
Thanks, I have tried this method and it does not work as expected, so it is invalid.
@zstanecic

[2021-04-21 09:18] cary-rowen commented on #12311
Can you investigate this? Thank you.
@CyrilleB79

[2021-04-21 09:23] zstanecic commented on #12311
Ach, this works for one type of sapi4 synths, but not for others.

From: Rowen ***@***.***>
Sent: Wednesday, April 21, 2021 11:16 AM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Mention ***@***.***>
Subject: Re: [nvaccess/nvda] Starting with version 2019.3, the "Capital pitch change" when using the SAPI4 synthesizer was invalid (#12311)

Thanks, I have tried this method and it does n

[2021-04-21 09:28] cary-rowen commented on #12311
Yes, so I believe this is a bug of NVDA. In the synthesizer download link I provided, this method is invalid.

[2021-04-21 09:42] zstanecic commented on #12311
Aare there any debug logs?

From: Rowen ***@***.***>
Sent: Wednesday, April 21, 2021 11:28 AM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Mention ***@***.***>
Subject: Re: [nvaccess/nvda] Starting with version 2019.3, the "Capital pitch change" when using the SAPI4 synthesizer was invalid (#12311)

Yes, so I believe this is a bug of NVDA. In the synthesizer download link I provided,

[2021-04-21 09:52] lukaszgo1 commented on #12303
cc @michaelDCurran

[2021-04-21 09:54] lukaszgo1 commented on #12254
@Nikita34196 Could you please close this issue?

[2021-04-21 09:57] lukaszgo1 commented on #12117
@michaelDCurran  Ping. Would it be possible to look into this before 2021.1 as it is clearly a regression.

[2021-04-21 10:49] #12254 closed

[2021-04-21 10:57] michaelDCurran commented on #12117
Yes, this will get done before 2021.1.

[2021-04-21 11:07] JulienCochuyt opened #12317 "[html5 input type="number"] Label missing from the Elements List when the field is not empty"
### Steps to reproduce:

Same test case as #7390:
Copy the following in the address bar of a supporting web browser (Firefox/Chrome/Edge Chromium):
`data:text/html, <label for="spin">Spin</label><input id="spin" type="number" min=3 max=10 />`

Open the Elements List dialog (`NVDA+F7`) and select the "Form fields" type.

Notice the sole element does have a label: "Spin".

Close the dialog and now f

[2021-04-21 11:59] cary-rowen commented on #12311
@zstanecic I have added the debug log at the very beginning of the first comment.
Thank you for your reminder and hope you can assist in the investigation.

[2021-04-21 12:29] zstanecic commented on #12311
The thing is very simple, but it should be rewritten with people who knows sapi4.

Pitch command is not supported at all, but it should be.

From: Rowen ***@***.***>
Sent: Wednesday, April 21, 2021 1:59 PM
To: nvaccess/nvda ***@***.***>
Cc: zstanecic ***@***.***>; Mention ***@***.***>
Subject: Re: [nvaccess/nvda] Starting with version 2019.3, the "Capital pitch change" when using the SAPI4 synthes

[2021-04-21 22:33] #12114 closed

[2021-04-21 23:16] dingpengyu commented on #12311
cc @seanbudd

[2021-04-22 03:58] #12303 closed

[2021-04-22 04:56] khsbory commented on #8235
@feerrenrut Hello. Regarding add aria-haspopup additional attribute in NVDA, is there any update?
Aria-1.2 spec also have these attributes such as dialog, grid and etc.
I think NVDA should consider to add these attributes.
Thank you.

[2021-04-22 06:07] seanbudd commented on #11553
Can you confirm if #12286 (now on alpha) fixes this?

[2021-04-22 07:27] JulienCochuyt commented on #12211
Which "notepad" app are you referring to?
The "notepad" app shipped with Windows is a plain text editor.
Its formatting options are just for visual rendering and printing.
They apply to the whole document, not to individually selected chunks of text.
Are you stating this global configuration of the plain text editor should be presented when pressing `NVDA+f`?

[2021-04-22 07:37] JulienCochuyt commented on #12193
I haven't checked, but I guess they keep rendering the Aria live alert on every async refresh of the page content…
Have you tried to disable reporting of dynamic content changes by pressing `NVDA+5` ?
This is not a fully satisfying solution however, as all alerts from the browser will be silent, but it might help getting the next task done before reactivating.

Many web apps exhibit this faulty be

[2021-04-22 09:49] Nikita34196 opened #12323 "errors in the last alpha. immediately after start-up"
hi. in the last alpha, an error in the nvda.exe file appears immediately after startup. nvda actually doesn't work. there were also errors in the log. INFO - __main__ (12:28:28.821) - MainThread (8544):
Starting NVDA version alpha-22485,60c0b76b
INFO - core.main (12:28:28.914) - MainThread (8544):
Config dir: C:\Users\ntara\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (12:28:28.914

[2021-04-22 09:50] chojiro opened #12324 "Excel 2019: NVDA doesn't pick up on column headers when creating Excel tables"
### Steps to reproduce:
1. Open Excel and create a new sheet
2. When you are on A1, write some text across the different columns (for instance A1 to C1)
3. When on C1, press shift+down arrow three times to select the rows from C1 to C4, then press shift+left arrow to select to A4
4. Press Ctrl+L to create a table, and it should show =$A$1:$C$4 even though NVDA apparently can't read this
5. Tab onc

[2021-04-22 09:51] zstanecic commented on #12323
Hi Nikita,

This is the error of the NVDA addon you have installed on your system.

From: nikita ***@***.***>
Sent: Thursday, April 22, 2021 11:50 AM
To: nvaccess/nvda ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [nvaccess/nvda] errors in the last alpha. immediately after start-up (#12323)

hi. in the last alpha, an error in the nvda.exe file appears immediately after startup. nvda actually d

[2021-04-22 09:58] XLTechie commented on #12323
cc @josephsl
From the recent code removal.

[2021-04-22 09:59] Nikita34196 commented on #12323
@zstanecic hi. by mistake in the log I realized that the error in the supplement. but by this there are errors in the files of the nvda itself. An error in the nvda.exe file appears immediately after startup. is this also related to additions? unfortunately, I can not accurately show this error because nvda on the last alpha due to the error almost does not work.

[2021-04-22 12:15] feerrenrut commented on #12323
This issue is with an addon which will need to be updated before the next release. I'm going to close this issue. You will have to either disable this addon (or all addons) or continue using an older version of NVDA until the addon is updated.

[2021-04-22 12:15] #12323 closed

[2021-04-22 13:23] kpeterson85 commented on #11395
@jaragunde Thank you for the update. I see there has been ongoing comments with the most recent issue you opened (https://crbug.com/1164927). Are you able to provide some details on the status of it and when a fix might be released?

[2021-04-22 15:59] lukaszgo1 opened #12325 "gui.safeAppExit is called too early making it impossible for add-ons to cleanup their own GUI"
Regression from #12286

### Steps to reproduce:
1. Install an add-on which adds menu items to NVDA menu such as Unicorn DVC, NVDA Remote etc.
2. Exit NVDA and inspect the log from the previous run.
### Actual behavior:
Entries similar to the following can be seen:
[code]

### Expected behavior:

Add-ons should be able to clean up their own gui.

### System configuration
#### NVDA installed/portabl

[2021-04-22 16:01] lukaszgo1 commented on #12325
@seanbudd  My first thought would be to make `gui.safeAppExit` responsible for terminating  our modules in the right order i.e. starting with `globalPluginHandler` `appModuleHandler` and only when they're terminated we should start terminating gui.

[2021-04-22 22:24] CyrilleB79 commented on #11963
Hello

Here are some more information on the "↑↑↑" symbol:

From [CLDR 36 Release Note](http://cldr.unicode.org/index/downloads/cldr-36#TOC-Migration) in Migration paragraph:

Moreover, the "↑↑↑" symbol is also present in the pt_PT cldr.dic file, not only in the zh_HK cldr.dic file.

It seems these symbols should not be retained when compiling our cldr.dic files.

Cc @OzancanKaratas, @leonardder w

[2021-04-23 00:01] seanbudd commented on #12325
That would be my approach as well. I'm looking to revert #12286 and then continue the work there

[2021-04-23 00:11] fernando-jose-silva commented on #12211
thanks, did not know that the formatting was displayed only in print.
 Even so, I believe it would be interesting for the nvda to announce that the formatting is marked for printing.

Enviado do meu iPhone

[2021-04-23 01:15] JulienCochuyt commented on #12211
@fernando-jose-silva wrote:

Just to be clear: It is both use for display and printing. The point is that it is applied to the whole content yet not saved to the file but rather a setting of the notepad app.

Even if reporting of the formatting surely would not hurt, I would not consider it of high priority given there are only four controls to review in the dialog.

[2021-04-23 01:17] e111077 commented on #9096
The same issues are happening on Chrome in the W3C's combobox examples here:

https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

Should I file a different issue for combobox or is adding onto this bug the same underlying issue?

[2021-04-23 01:35] trypolis464 opened #12327 "Alt+F4 closes Braille Viewer, but not Speech Viewer."
### Steps to reproduce:
Go to NVDA Menu -> Tools -> Speech viewer. Alt+Tab to it, and try to press Alt + F4. Nothing happens. I'm not sure if this is on purpose or not. Then, open Braille Viewer (NVDA Menu -> Tools -> Braille Viewer), tab over to it, and press Alt+F4. It closes.
### Actual behavior:
Only one of the two viewers responds to the close command.
### Expected behavior:
For both to have

[2021-04-23 01:44] JulienCochuyt commented on #12327
Closing in favor of #10791 (see https://github.com/nvaccess/nvda/issues/10791#issuecomment-588047238)

[2021-04-23 01:44] #12327 closed

[2021-04-23 02:14] JulienCochuyt commented on #10791
@bhavyashah wrote:

I fully agree. Please see PR #12328 for the addition of a standard close button on the Braille Viewer as well.

@seanbudd wrote:

Indeed. Still, care must be taken to properly handle unchecking of the dedicated NVDA Tool menu entry, as is currently done with the Braille Viewer.

[2021-04-23 05:49] NeerajVishwakarma opened #12329 "NVDA doesn't read drop-down selected value in Firefox. Working fine in Chrome and Edge."
### Steps to reproduce:
    1. Open Firefox
    2. Open NVDA with/out Browse mode
    2. Go to Drop-Down on the page
    3. Select Value

    Chrome, Edge work fine.

### Actual behavior:
    Does not announce selected value. Instead it reads Label + combobox + collapsed
### Expected behavior:
    NVDA should read the selected value Label + combobox + selected value + collapsed
### System configur

[2021-04-23 08:33] XLTechie commented on #12329
Can you provide an example page please?

[2021-04-23 08:54] JulienCochuyt commented on #10692
@christopherpross, any update?

[2021-04-23 09:09] christopherpross commented on #10692
@JulienCochuyt sorry, I have Forgotten this issue for Long time. I will fix that  now sorry for the inconvenience.

[2021-04-23 09:27] XLTechie commented on #11847
@britechguy While I agree with the request behind this issue, there is, to my knowledge, no obvious way to do this globally.
In general, NVDA only turns off a setting like this when something bad happens. That error handling can happen anywhere in the codebase.

It would therefore be very helpful for you, and anyone else, to post information about cases when this can happen, and list them here or

[2021-04-23 10:41] JulienCochuyt commented on #10692
@christopherpross,
No problem at all, just a gentle reminder.
Thank you for your work.

[2021-04-23 13:42] jaragunde commented on #11395
There was a box with role "alert" inside the dialog, confusing ATs; removing it seems to have fixed the problem. The fix is included in the Chrome 90 release.

[2021-04-23 13:57] fernando-jose-silva commented on #11847
I have this problem sometimes, nvda disables the option to start nvda after I join.
Usually after installing or updating some add-ons, there is a call to investigate this, but I have lost track of it, it is open for years.
I am very much in favor of the nvda informing if any changes in the settings are changed this when it is not the user who has made it.
Going a little further, there are competit

[2021-04-23 14:16] Anubarak commented on #8318
I faced this issue today too and I tought it was due to my wrong code.
Can someone suggest a reader that supports it so I can test my HTML?
@Wildebrew Thanks for your example

[2021-04-23 14:26] sclower commented on #6341
I am also interested in seeing this issue move forward. We are adding more Braille support to our software and would like to standardize on UNICODE dot patterns where we can. I realize interpretation is left to the synthesizer, but if the most widely used options (like OneCore and Eloquence) don't know how to voice them, it may be time for NVDA to do so on its own.

[2021-04-23 14:41] britechguy commented on #11847
Luke,

I have no problem following the requested format, but I now request that
the template be changed to indicate where the responses belong.  This is at
least the third time where I have been asked to change how I'm doing
submissions because it is not at all clear to me where responses belong.
The template should be something like:

### Enter your Windows version:
[Enter version here]

etc.

I'

[2021-04-23 15:03] OzancanKaratas commented on #11963
The only way to do this is to follow the instructions in the CLDR repository.

[2021-04-23 18:51] XLTechie commented on #11847
I was thinking that after my message this morning.  I would not do it as you suggest, as that would hopelessly clutter the template, but a bit of instruction in the template comment at the top would probably be helpful.

I think it is assumed--and i believe wrongly--that commenters on Github have taken the time to learn about Markdown (the text processing language used by Github).
Anyone familiar

[2021-04-23 18:55] XLTechie commented on #11847
@britechguy as to the rest of your comment on the topic of this issue, I completely agree that if possible, warnings should be shown when a setting is altered without the user's intent. I would just like more information about how many circumstances have that condition. I will put a list in my original comment.

[2021-04-23 18:59] britechguy commented on #11847
Luke,

         I've taken everything you've said on board, but you nailed it
with, "*However, there's no real reason to expect anyone to know Markdown.*"
As you, and anyone who's observed me on groups knows, I am a tech geek with
a bachelor's degree in computer science and decades of experience.   Not
once in that period of time have I ever used Markdown.  Just like I have
never used LaTex.  Thes

[2021-04-23 19:59] XLTechie commented on #11847
The `### markers` generate HTML headings, with the number of hash marks indicating the level of the heading. I.E. `#` equates to `<h1>`, `##` to `<h2>`, etc.; with the rest of the line making up the content of the element, and the end of line causing the `</h2>`, etc.
In the bug issue template, each question is a heading, making it easy to jump from heading to heading, and then press down arrow to

[2021-04-23 20:10] britechguy commented on #11847
Well you can rest assured that I will be putting any content going forward
on the line following those pound sign lines.  I have also updated the
MS-Word fillable forms such that it's what they do, too.

[2021-04-23 20:45] fernando-jose-silva opened #12331 "nvda does not announce the names of the menus when walking with left and right arrows in the itunes"
### Steps to reproduce:
open itunes.
press alt
walk with arrows to the right and left
### Actual behavior:
nvda goes mute
### Expected behavior:
nvda should read the names of the menus in focus
### System configuration
#### NVDA installed/portable/running from source:
instaled
#### NVDA version:
nvda.exe, NVDA alpha-22498,d9afe35d
#### Windows version:
10 10.0.19043,962
#### Name and version of ot

[2021-04-23 22:10] jage9 commented on #8674
I see this issue was closed without being resolved. While an add-on is available, it seems like an appropriate use of NVDA+F twice, especially with a shorthand for color values. I'm currently in a spot where I need to determine the hex colors of various website elements in order to copy them to other locations. Since the information is available, and NVDA+F twice by design is a command that would

[2021-04-24 01:08] JulienCochuyt commented on #8674
@jage9,
I actually quite agree with @XLTechie's https://github.com/nvaccess/nvda/issues/8674#issuecomment-653281034 proposal of a setting in the Advanced section.

For a quick and dirty one-liner workaround, you may paste the following in the Python console:
[code]

Make sure to run this only once per session, though, otherwise it'll mess things up until you restart NVDA.

[2021-04-24 11:23] Gene703122 commented on #11716
I strongly believe that the default should be changed to screen layout off.  One reason has already been mentioned by one member, confusion caused to some or perhaps a good many people switching to NVDA from another screen-reader.  But there is another important reason.  It is empirically more difficult to use web pages if screen layout is being used except in certain specific instances.  Internet

[2021-04-24 22:35] Carlos-EstebanM commented on #7074
OK, the next time I also go to mention the author also with the user in
GitHub.

Regards.

Carlos Esteban Martínez Macías.
Músico (pianista) y también ayuda a usuarios con discapacidad visual en el
uso de lectores de pantalla y tecnología.
Experto certificado en el lector de pantalla NVDA.

Musician (pianist) and also help to users with a visual disability in the
use of screen readers and technolo

[2021-04-25 04:35] TechHorseG commented on #12193
@JulienCochuyt thanks, but I already have reporting of dynamic content changes disabled.

This repeated alerts problem started as soon as I updated Firefox to v86, whereas previously such Netflix alerts would have been read out just once only.

So it seems reasonable to infer that this is not due to some coincidental recent dodgy code change at the website's end? But a change in how FF handles or

[2021-04-25 04:44] XLTechie commented on #12193
There are other cases, such as the Appveyor build in progress page, where there
are various on-going updates which are never spoken, with or without dynamic
content changes. In the console you have a running time of build,
new messages showing up, etc.

The inverse of the problem in this issue.

Dynamic content changes seems to miss several possibilities for dynamic content

As an aside: have you

[2021-04-25 07:12] grisov commented on #7074
Hello colleagues,

Thank you for mention me in this conversation.
Like many NVDA users, I'm also interested in this question.
The add-on identifies only the most common situations of duplication of gestures, but it seems to me that this is enough.

Checking keyboard shortcuts at the time of their assignment and during the installation of add-ons are very good ideas.
I'll think about whether I can

[2021-04-25 12:37] JulienCochuyt commented on #7743
@derekriemer, I'm not sure to understand how exactly does PR #9079 fixes this very issue.
It for sure made things better, but if the main goal is correctly stated in the title "Add option to disable automatic dynamic web content for a specific region of a webpage", then this goal is not fulfilled as `nvdaControllerInternal_reportLiveRegion` receives no information about which part of the document

[2021-04-25 12:39] JulienCochuyt commented on #7743
Likely related: #12193

[2021-04-25 12:45] JulienCochuyt commented on #12193
@TechHorseG, my request in https://github.com/nvaccess/nvda/pull/9079#issuecomment-495149844 indeed aimed at providing a first step in this way. I guess an option for disabling same announce **from the same source** would be well suited for many cases.

@XLTechie wrote:

content change

Are those updates properly "live"?

[2021-04-25 14:24] fernando-jose-silva opened #12336 "the nvda settings window is not closed"
### Steps to reproduce:
I will inform all the palaces I made, as I have not tested other scenarios where this problem can occur.
I opened the nvda settings window
I selected the advanced tab
unchecked the checkbox
Enable selective logging of UI automation events and property changes
I walked with shift + tabe until I applied and pressed space
I walked with shift + tabe until ok and I pressed space

[2021-04-25 14:26] Pantyhose-X opened #12337 "keyboard voice prompts"
### Is your feature request related to a problem? Please describe.
We hope can close all other voice prompts.
### Describe the solution you'd like
* Close the mouse to read aloud.
* Close cursor to read aloud.
Actual behaviour
Applied to language learning. Pronunciation correction
Always speak typed keys Speak phonetic letters Phonetic letters are spoken when long pressing on keyboard keys and nav

[2021-04-25 15:54] trypolis464 opened #12338 "Consider Cythonizing When compiling"
### Is your feature request related to a problem? Please describe.
Not necessarily a problem, but it certainly would make NVDA run faster, possibly also allowing us to remove certain things from nvdaHelper that needed it for the speed.
### Describe the solution you'd like
Cythonize the NVDA codebase when building, thus majorly improving speed.
### Describe alternatives you've considered
Just keep

[2021-04-25 16:00] TechHorseG commented on #12193
"As an aside: have you tried FF 88?"

Yes, the repeated Netflix alerts problem persists in FF88, unfortunately.

[2021-04-25 16:08] josephsl commented on #12338
Hi, some issues to consider, namely performance under ARM64 (x86/x64 binaries will be emulated in Windows 10 on ARM), Cython being optimized for scientific computing and other critical tasks, and compatibility with C extensions and other Python libraries (such as wxPython). Thanks.

[2021-04-25 16:10] lukaszgo1 commented on #12338
I believe this has been discussed with @michaelDCurran during one of the NVDA conferences where he said that either this has been attempted and speed improvements were negligible or he don't believe it would make  NVDA faster. Obviously the best way to measure this would be to actually try Cythonizing and see what happens.

[2021-04-26 00:32] JulienCochuyt commented on #12067
@lukaszgo1 wrote:

Isn't it precisely what screen layout is all about?
Please do correct me if I'm wrong, but the way I understand it:
 - screen layout on: Present as much as possible on one line what fits on one line on screen
 - screen layout off: Split on logical boundaries, to allow for more granular review and interaction.

The spelling error being presented on a line on its own, it is then e

[2021-04-26 03:35] twonghkbu commented on #11963
The incomplete annotations were caused by the "↑↑↑" symbol issue that @CyrilleB79 mentioned above.

[2021-04-26 06:56] Qchristensen opened #12339 "Report spelling errors in PowerPoint"
### Is your feature request related to a problem? Please describe.
When typing in a placeholder in PowerPoint, spelling errors are highlighted with a red squiggly underline.  NVDA does not report this either when typed, or when navigating to the error with spelling errors set to be reported in NVDA's document formatting settings.

### Describe the solution you'd like

Report spelling errors in Pow

[2021-04-26 10:32] lukaszgo1 commented on #12067
I was looking at this from the perspective of a word  processor user where spelling errors are just a part of the text  but I'm happy either way as long as this is consistent. I've mentioned what you've proposed as an alternative implementation in my first comment i.e.

[2021-04-26 11:23] JulienCochuyt commented on #12067
Sorry for the misunderstanding.
Do you complain about aria-invalid on a web page not presented the exact same way as a spelling error in a word processor depending on the "screen layout" setting?
As pointed out by @leonardder in https://github.com/nvaccess/nvda/pull/11906#issuecomment-739800931

Hence, I'd say that IMHO aria-invalid presentation with screen layout on is coherent with spelling erro

[2021-04-26 13:07] OzancanKaratas commented on #11963
I am aware of the problem. However, there is nothing NVDA developers can do to fix this. This problem is caused by incomplete translations in the original CLDR files. If the CLDR team doesn't fix these issues, your problem can't be solved.

[2021-04-26 13:44] masi commented on #9343
Please, ignore SHY. For German we need lots of shoft-hyphens. In many projects we need automated hyphenation which escalates this problem.

[2021-04-26 14:31] CyrilleB79 commented on #12067
Hello

I agree that consistency should be respected.
Maybe it is just a matter of habit but personally, I would prefer not to have the spelling error alone on its line even with screen layout off mode (mode that I am usually using).
For a real life example, I am regularly writing e-mail in an edit field of a browser page (webmail). My messages contain spelling errors due to unknown technical terms

[2021-04-26 14:49] CyrilleB79 commented on #11963
@OzancanKaratas did you read https://github.com/nvaccess/nvda/issues/11963#issuecomment-825222081? Specifically

How do you understand it?
Why are you saying that the translation is incomplete?
Could you please elaborate on what should be modified on CLDR side?

Personally, I understand that "↑↑↑" is a valid value for CLDR and that it should be stripped out by people using CLDR data, i.e. us (NVDA

[2021-04-26 17:01] christopherpross commented on #10692
Hey @feerrenrut  and @JulienCochuyt  should I cover also the case, if the screencurtain couldn't be disabled/enabled? If so, should I handle that in the screencurtain or in the visionhandler for all providers? I ask because the idention of this issue is to inform the user in all cases whether the screencurtain is turned off or on.

[2021-04-26 17:26] mmack66 opened #12340 "Screen reader is misreading a mixed character string"
### Steps to reproduce: Have the screen reader read out: confirmation number  3 E 6 B H U

### Actual behavior:  There is a mixed string of text representing the confirmation code on an airline website.  The particular confirmation number is 3 E 6 B H U, the screen reader reads out “3 times 10 to the power of 6 B H U”.  The speech viewer is fine.

### Expected behavior: confirmation number should

[2021-04-26 18:42] XLTechie commented on #10692
Would doing it in the vision handler for all providers, cover the case which
spauned #11847? That issue was caused by the highlighter being turned off
automatically when it couldn't be started, with no notice to the user.
(The config is changed, so it doesn't try to turn on again, even if that's how
it was configured originally)

[2021-04-26 20:02] christopherpross commented on #10692
￼well, that will cover it too, if I understand the issue correctly.

[2021-04-26 21:07] CyrilleB79 commented on #12340
Hello

Which synthesizer are you using?
It seems a duplicate of the following issue: #12121.

Also related to (and maybe also duplicate of) #8959.

[2021-04-26 22:03] OzancanKaratas commented on #11963
To @CyrilleB79:

Some values in the CLDR's Chinese and Portuguese XML files have been translated as ↑↑↑ instead of the valid translations. For example, I found the following line in zh_Hant_HK.xml:

		<annotation cp="🏻" type="tts">↑↑↑</annotation>

[2021-04-26 22:24] CyrilleB79 commented on #11963
@OzancanKaratas, sorry, but you did not reply to all the questions I am asking. Especially if you have read the release notes that I have quoted and what you think about it.

I do not have so much time to investigate further for now, but I am really convinced that the issue of “↑↑↑” symbols is coming from the way we integrated CLDR in NVDA (especially after its migration to git, not from CLDR itse

[2021-04-26 23:38] seanbudd commented on #12238
Reopened due to #12326

[2021-04-27 02:03] twonghkbu commented on #11963
Hi @CyrilleB79 @OzancanKaratas
I am not sure if it helps. It appears that the annotation in zh_hk will become "↑↑↑" if the values are missing from the "Sublocales..." column in the Locale Data Summary for Chinese Traditional.
(https://unicode-org.github.io/cldr-staging/charts/latest/summary/zh_Hant.html)

[2021-04-27 03:03] seanbudd commented on #12246
I've managed to reproduce this in 2020.4

[2021-04-27 04:12] XLTechie opened #12344 "gui.messageBox does not allow button renaming"
### Is your feature request related to a problem? Please describe.

I was trying to implement some code for a proposal of a UX bug fix.
It would have been convenient to use a dialog containing "Cancel" and "Continue" buttons.
If I was to do that in an add-on, it would be straight forward:
1. Call `wx.messageDialog`, with the `wx.OK | wx.CANCEL` flags, in a context handler.
2. Then call `.SetOKLabe

[2021-04-27 04:25] XLTechie opened #12345 "If the UAC is cancelled, the COM Reg Fixing Tool still claims to have completed successfully, though an error is logged"
### Steps to reproduce:

1. Run the COM Reg Fixing Tool.
2. Select `yes` in the initial dialog.
3. Press escape, or decline the UAC permission request.

### Actual behavior:

NVDA logs an error stating that the process was cancelled, but the user gets the same completion dialog as if the run had been successful.

### Expected behavior:

Either some other message is shown; or no dialog is shown at

[2021-04-27 09:35] bramd commented on #12246
Sean, thanks for putting in the effort and great to hear you reproduced
this. Besides the Exchange/Office 365 calendar I also have a calendar
subscription to a feed from our planning system that adds all-day events
with the work I'm scheduled for. So, having a calendar subscription
and/or having all-day events might be one of the causes.

[2021-04-27 14:27] vgjh2005 opened #12347 "navigator object will be locked into the new microsoft input method conposition window when inputting."
### Steps to reproduce:
1. Press win+spacebar to switch input method to microsoft input method.
2. Please be insure that  options "caret moves review cursor " and option "focus moves navigator object" is on at the same time.
3. Press any letter to make some input.
4. Press alt tab to switch to another window.
5. Press nvda+numpad to navigate the new window content.
### Actual behavior:
Only conten

[2021-04-27 14:44] josephsl commented on #12347
CC @MichaelDCurran, and I’m keeping an eye on this. Thanks.

From: vgjh2005 ***@***.***>
Sent: Tuesday, April 27, 2021 7:28 AM
To: nvaccess/nvda ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [nvaccess/nvda] navigator object will be locked into the new microsoft input method conposition window when inputting. (#12347)

Steps to reproduce:

1.	Press win+spacebar to switch input method to microso

[2021-04-27 15:05] mmack66 commented on #12340
Hello Cyrille,

Thanks for the quick response.  My synthesizer is Windows OneCore.  Sorry,
my issue definitely seems to be a duplicate of #12121.

Best,
Marti

On Mon, Apr 26, 2021 at 4:07 PM Cyrille Bougot ***@***.***>
wrote:

[2021-04-27 15:21] vgjh2005 commented on #12347
@josephsl @michaelDCurran I am sorry for my bad memory. Please re-review this issue. Sorry again.

[2021-04-27 15:54] JulienCochuyt commented on #12067
I agree with both of you that consistency is of most importance.
When it's not the case, the documentation / UI should probably make it more clear.

We've made a quick internal consultation on the matter here at @Accessolutions and unanimously settled on supporting all the points raised by @CyrilleB79 in https://github.com/nvaccess/nvda/issues/12067#issuecomment-826883032.

The only short lived co

[2021-04-27 15:59] JulienCochuyt commented on #12338
Another point to consider is how cythonized modules behave in the context of monkey-patching as quite a few addons use it for different purposes.

[2021-04-27 16:15] cary-rowen commented on #12347
Yes, it confuses me, sometimes I use object navigation to read and use system focus to write book notes at the same time, but the new version of Microsoft Pinyin breaks that.
This will only be affected for languages with input composition windows. E.g, Chinese.

[2021-04-27 17:34] leonardder commented on #12338
I did some research into this and cythonizing the whole codebase takes a massive amount of time. This would be quite problematic with our current workflow.

[2021-04-27 21:40] CyrilleB79 commented on #12340
Thanks.
In this case, no problem.
Please just close this issue and make additional comments in the other one if needed.

[2021-04-27 22:29] XLTechie opened #12348 "Often, entry into the python console causes modifier keys to stick"
### Steps to reproduce:
### Actual behavior:

I can't give an exact STR without describing the actual behavior, and because this problem is intermittent.

For the last many alphas (at least all since 2020.4, maybe before), entry into the python console causes the NVDA and control keys to stick.

For example: pressing NVDA+ctrl+z, waiting for the prompt to appear, and then starting to type "import"

[2021-04-27 22:30] XLTechie commented on #12348
cc @josephsl @michaelDCurran

[2021-04-28 01:30] feerrenrut commented on #8175
Hi @ScottChesworth could you please provide an NVDA log for this issue, or advise if it still occurs?

[2021-04-28 03:02] ScottChesworth commented on #8175
@feerrenrut, yep, still present in the public release of NVDA 2020.4. In the software I use most often (Reaper X64), any plug-in included in the "List1" control of Reaper's FX window in a project that uses over 4GB of RAM seems to be susceptible on my machine. It doesn't happen every time those conditions are met here, but it does happen often. I seem to be having a lucky day today, will pop a log

[2021-04-28 06:33] NVCDevelopmentTeam commented on #12305
I think no code and low code will change the future, because the market itself is very lack of manpower. So there is a need for new solutions to replace the traditional application development. Instead of having to type each command line, you can use drag and drop operations, which is very useful for companies that want to quickly develop their applications without any obstacles hindering their pr

[2021-04-28 06:52] Robert-J-H commented on #8175
Confirmed here. The list in the FX Browser is affected as well.

On 28/04/2021, ScottChesworth ***@***.***> wrote:

[2021-04-28 06:59] NVCDevelopmentTeam commented on #12305
I personally find that programming for the visually impaired in Vietnam as well as pursuing the information technology industry for the visually impaired in Vietnam is impossible, it is very difficult to compete because no one has the patience to accept. The visually impaired came to work for them and never liked to work with the visually impaired. That is a barrier, so all visually impaired progr

[2021-04-28 07:08] NVCDevelopmentTeam commented on #12305
I personally find it impossible to learn programming for the visually impaired in Vietnam as well as pursuing the information technology industry for the visually impaired in Vietnam, it is very difficult to compete because no one has the patience. to get the blind to work for them and never like to work with the visually impaired. That is a barrier, so all visually impaired programmers in Vietnam

[2021-04-28 07:36] CyrilleB79 commented on #12348
I have sometimes encountered modifier keys remaining in down state for a long time (also before 2020.4) but not so often and not necessarily in the console.

In this case, I press all the modifiers one by one (both control, shift, alt and 3 NVDA) and things turn back normal.

Of course, it is not a solution.

[2021-04-28 08:07] cary-rowen commented on #12348
Yes, I have encountered this situation, but it is not easy to reproduce.

[2021-04-28 08:28] Adriani90 commented on #12305
cc: @Qchristensen, @feerrenrut maybe it makes sense to esablish a contact between the developers and NV Access. This might improve things here i guess.

[2021-04-28 16:05] leonardder commented on #12152
@michaelDCurran It turns out that https://bugs.python.org/issue38748 contains a question for a small unit test. I guess that can help in fixing the bug when provided.

[2021-04-28 16:29] isplunke opened #12350 "Existence of more items in listbox not announced in Browse Mode"
When reading a listbox in browse mode it may not be clear to a user there are more items than what is announced.

### Steps to reproduce:
Using a list box with many items eg from the aria-practices example below:
[code]

1. Navigate to https://www.w3.org/TR/wai-aria-practices-1.1/examples/listbox/listbox-scrollable.html
2. Enable browse mode (typically insert + space)
3. Press the down arrow key

[2021-04-28 16:33] josephsl commented on #12350
Hi, you must be in focus mode to interact with list boxes (tested with Edge 90+NVDA alpha). Thanks.

[2021-04-28 23:37] michaelDCurran commented on #12152
Yep saw that. I'll look into that after NVDA 2021.1 is released if the
other person on the issue has not got to it first.

[2021-04-28 23:42] XLTechie opened #12351 "COM Registration Fixing Tool shouldn't start with a warning dialog and off-putting language"
### Is your feature request related to a problem? Please describe.

The COM Registration Fixing Tool is a critical utility for maintaining the accessibility of Windows software.
It seems that more and more actions in Windows have the potential to cause COM deregistration, and the tool must be used more than in past years.

In supporting users across a few mailing lists, and in direct phone calls a

[2021-04-28 23:54] jcsteh commented on #12351
Ultimately, this isn't my decision, but just a bit of commentary:

That's true, but software installations explicitly and obviously require administrator privileges. When you install software, you expect that it may modify your system in some way or another and that it may thus require admin privs.

True, but it's also effectively an advanced/developer tool; most users don't come across it.

Actua

[2021-04-29 00:12] #10791 closed

[2021-04-29 00:16] seanbudd commented on #12351
I'm not sure if this behaviour is already included in the tool, but it might be worth adding an option to backup the registry before running the tool or giving instructions on how to do so.

[2021-04-29 00:32] XLTechie commented on #12351
First, thanks @jcsteh for providing your commentary.

And running the tool requires them as well.
Perhaps I am unusual, but I always assume that anything which requests elevation, is doing something that could change system files. I had thought that was a general understanding.

I thought it surely must, but hadn't actually dug through the installer to look so I didn't want to claim it.

Fair enou

[2021-04-29 00:44] jcsteh commented on #12351
Oh sure, it's reasonable to say that requesting elevation means system
stuff is going to be changed. However, the user needs to have some idea of
*why* something is going ot request elevation. With an installer, that
understanding is implicit. With something like this, it has to be explicit.

[2021-04-29 05:40] seanbudd commented on #12336
I haven't been able to reproduce this. You mentioned that the issue no longer occurs after running the COM registration fixing tool, does that mean it is no longer present at all now?

[2021-04-29 06:45] JulienCochuyt commented on #12348
I'm a huge NVDA Python Console user, can't remember a working day in the last 5 years or so without using it.
Faulty sticky modifiers key is something most intensive keyboard typist encounter more or less frequently, but I never could associate it with the opening of the NVDA Python Console.
I'm not stating the present report is wrong in its assumptions, but rather that there might potentially be

[2021-04-29 07:48] XLTechie opened #12353 "Add a gui.MessageDialog function, in order to gain the features of dialogs, while still protecting from calling wx.MessageDialog"
Alternate proposal to #12344

### Is your feature request related to a problem? Please describe.

I was trying to implement some code for a proposal of a UX bug fix.
It would have been convenient to use a dialog containing "Cancel" and "Continue" buttons.

If I was to do that in an add-on, it would be straight forward:
1. Call `wx.messageDialog`, with the `wx.OK | wx.CANCEL` flags, in a context ha

[2021-04-29 07:58] XLTechie commented on #12344
For what it's worth, I have made the change to wx.MessageDialog inside of gui.messageBox, and have added keyword arguments for the various Set*Label(s) calls, in a test build.
I have yet to notice any ill effects after several hours of use, but I will keep running it to see if anything unusual happens.

[2021-04-29 10:04] fernando-jose-silva commented on #12336
sorry, edit the comment above, wrong answer due to lack of correct understanding of the English language The problem still occurs even after running the registry correction tool with

[2021-04-29 10:18] CyrilleB79 commented on #12336
@fernando-jose-silva could you provide a log in debug mode when you reproduce this issue?
Also can you hear an error sound when pressing "OK"?

At least are you able to reproduce this issue with NVDA 2020.4 (e.g. portable or from the launcher)?

[2021-04-29 13:54] fernando-jose-silva commented on #12336
log:
[exit.txt](https://github.com/nvaccess/nvda/files/6399110/exit.txt)

[2021-04-29 14:02] fernando-jose-silva commented on #12336
The problem did not happen when using nvda 2020.4
I just got a call from a friend running the alpha nvda last version also asking me why the settings are not closing.
Yes, an error sound is played.
Thank you very much for your attention.

[2021-04-29 14:55] CyrilleB79 commented on #12336
Thanks for the log! It should help NVAccess people.

Linked to issue #12220 and to workaround PR #12292.
Cc @feerrenrut

For information, I have tried to reproduce the issue. Without success with the same steps.
But I could reproduce it as follows:
* Open settings
* Go to Speech settings and change the synth
* Go to advanced settings
* Enable "selective logging of UI automation events and property

[2021-04-29 15:38] britechguy commented on #12351
I have, for a very long time, thought that the warning message, as presented by the COM Registration Fixing Tool, is a huge blunder as far as how end users are going to react to it.

Warnings, identified as warnings, are generally only issued in one of two situations:  when there is significant risk of an unintended result or where the intended result is not something that the user would "naturall

[2021-04-29 15:43] britechguy commented on #12351
Unless there is very good reason to believe this is necessary, or it could be done "silently," this is another thing that if emphasized will be very off-putting to the uninitiated.

If, up until this point, and for as long as the tool has existed, there has not been a perceived need to do this I can really see no reason to do it now.  There's been years of use of the tool without issue in the fiel

[2021-04-29 19:05] XLTechie commented on #12336
I was able to repro this using @CyrilleB79's STR.

@seanbudd this looks similar to something you just recently fixed, maybe back again?

When hitting apply in advanced settings after @CyrilleB79's STR:
[code]

Here's another STR:

1. NVDA+n, p, s, s, alt+h.
2. Up/down arrow to change synths, then press enter.
3. Alt+h to change synth again.
4. Arrow to a different synth and press enter.
5. Shift+t

[2021-04-29 19:32] britechguy commented on #12351
Here's my own proposal for an appropriately thorough, but "soothing," COM Registration Fixing Tool dialog box, sans any mention of the word warning:

Welcome to the COM Registration Fixing tool.
This tool is used by NVDA to fix interaction issues between NVDA and Windows and/or application programs.
It examines the system registry for corrupted or missing entries and will correct either.
You have

[2021-04-29 19:53] josephsl commented on #12351
Hi, translators, any thoughts?

[2021-04-30 08:38] #12311 closed

[2021-04-30 15:15] NVCDevelopmentTeam commented on #12305
Personally, I think, all developers need to work together. To give priority to developers with visual impairments.

[2021-04-30 16:45] hozosch opened #12356 "Capitalization pitch change doesn't work with sapi 4"
### Steps to reproduce:
1. Select sapi 4 as your Synthesizer.
2. Make sure that the capitalization pitch change setting is set to have an effect on the pitch, for example at the default value 30.
3. Cursor over a capital letter or type one, assuming that speaking typed characters is turned on
### Actual behavior:
NVDA doesn't rise the pitch when reading the letter
### Expected behavior:
NVDA shoul

[2021-04-30 17:15] #12340 closed

[2021-04-30 17:16] mmack66 commented on #12340
This is a  duplicate of #12121.

[2021-04-30 18:42] XLTechie commented on #12356
I believe this is a duplicate of #10896 and #10926.

[2021-04-30 18:59] #12356 closed

[2021-04-30 19:10] XLTechie commented on #12356
Not really. You have to do your own searching for existing issues.

That old feature I think it had, of suggesting issues with similar titles,
seems no longer to exist. At least, it never happens for me any more.

[2021-04-30 19:30] lukaszgo1 opened #12357 "Update to py2exe 0.10.2.0 or later"
### Is your feature request related to a problem? Please describe.
Currently we;re using py2exe 0.10.1.0. While it is okay for now as we are stuck on Python 3.7 as soon as we need to upgrade to Python 3.10 or later we would need to move to the newer version of py2exe. Unfortunately it is impossible to freeze NVDA with any version newer than 0.10.1.0. The  traceback (taken with 0.10.4.0 so the most

[2021-05-01 04:38] cary-rowen commented on #12356
I think this is still a duplicate of #12311. But PR#12354 seems to fix it, can you test it with the latest Alpha version?

[2021-05-01 04:42] cary-rowen commented on #10896
#12354  It seems to solve this issue. Can you test it with the latest alpha version?

[2021-05-01 04:44] cary-rowen commented on #10926
#12354   seems to solve this issue, can you test it with the latest alpha version

[2021-05-01 04:46] NVCDevelopmentTeam commented on #12305
Hi, I am very pleased to be able to share more about what I know about the current situation of the visually impaired in Vietnam so that you can better understand the problem. From there, solutions will be given to help the visually impaired in Vietnam as well as a new topic for all developers to discuss in the coming time to better improve their products. Get experience in helping them integrate

[2021-05-01 09:46] hozosch commented on #12356
It's true, the latest alpha partially fixes the problem, and yes, 2019.2.1 has the same partial fix as the Alpha versions. In both versions, the problem still persists with Infovox Desktop 2.2 though.

[2021-05-01 14:42] julianladisch commented on #10634
The issue is fixed when setting "Punctuation/symbol level" to "some" in the Speech settings. I use NVDA version 2020.4.

[2021-05-01 14:42] julianladisch commented on #9343
The issue is fixed when setting "Punctuation/symbol level" to "some" in the Speech settings. I use NVDA version 2020.4.

[2021-05-01 20:08] masi commented on #9343
I don't understand why removing soft-hpyhens is not desirable. Normally it is invisible and shuld not be announced. And if it is shown it should IMHO not be announced either. It conveys absolutely no information related to the contents.

[2021-05-02 11:09] julianladisch commented on #9343
Removing soft hyphens is desirable.

NVDA ignores and doesn't announce soft hyphens when the user has set "Punctuation/symbol level" to "none" or "some" in the NVDA Speech settings. "some" is the default.
NVDA announces "soft hyphen" for each soft hyphen when the user has set "Punctuation/symbol level" to "most" or "all" in the NVDA Speech settings.

An NVDA user might want to verify the correct p

[2021-05-02 13:17] DrSooom commented on #9343
@julianladisch: Which TTS synthesizers are you using? And which languages?

[2021-05-02 18:28] masi commented on #9343
That makes sense. My fault that I didn't think of that use case.

So it boils down to the question whether soft hyphens should be announced with setting "most" or only in "all"? Or they could get their own settings. After all proof-reading is probaly not what users do all the time.

[2021-05-03 02:07] feerrenrut commented on #12356
If this is specific to infovox, it might be worth having a separate issue. There may be something non-standard about infovox that needs a workaround.

[2021-05-03 08:16] peterpacult commented on #945
Dear NVDA team, like the previous speakers, I would be very happy if such a function could be implemented in NVDA.

[2021-05-03 08:37] FormlosLK commented on #9343
Just a quick reminder: this issue is NOT about the announcement of the "shy" character. It is about the odd pronounciation of the whole words, where "shy" is used.

[2021-05-03 09:42] leonardder opened #12359 "Incorrect assumptions in Gecko VBuf break table navigation in some tables in Chromium"
Related to #8462, #9760

### Steps to reproduce:
1. Download [BrokenTableTest.html.txt](https://github.com/nvaccess/nvda/files/6414036/BrokenTableTest.html.txt)
2. Remove the extension and open the file in Chrome/Edge Chromium
3. Try table navigation.

### Actual behavior:
Table navigation doesn't work. NVDA does not announce table row/column count for the table. If reporting of layout tables is e

[2021-05-03 11:09] leonardder commented on #12359
After further investigation, this problem is probably caused as follows:

1. Chrome treats every node with display:table as IA2_ROLE_TABLE
2. The table has no rows and no cells, only an inner table created with the table tag
3. NVDA never fetches IAccessibleTable2 for the inner table.

[2021-05-03 11:55] Adriani90 commented on #9343
cc: @michaelDCurran

[2021-05-03 13:20] jeanbernardo opened #12361 "Matrix navigation in Microsoft Word"
### Is your feature request related to a problem? Please describe.
When I browse a matrix in Word, the navigation by elements becomes very verbose.
### Describe the solution you'd like
The solution would be to be able to use table navigation commands to navigate through rows and columns of the matrix. In addition to an extra command to navigate the diagonals of the matrix.

### Describe alternativ

[2021-05-03 15:20] NVCDevelopmentTeam commented on #12305
Hi, I think an optimal solution to replace traditional software development is needed to make it faster and less costly to publish them to the app stores. That includes no code and low code will be key so that every project will be completed as soon as possible. I know a lot of tools like kodular, Bubble, GlideApps, Configure, thunkable, app inventor, ... honestly, this is a great tool to help peo

[2021-05-04 01:00] #12317 closed

[2021-05-04 07:40] CyrilleB79 commented on #945
Here are some refs of the already opeend issues mentionned by @Adriani90:

Reference: #8518.

References: #9527, #7744

@peterpacult if these opened issues match your need, please comment there.
Else, please open a new issue since the original reporter of this issue probably cannot be contacted anymore and thus will not reopen the current issue.

[2021-05-04 07:48] XLTechie opened #12362 "Context Help doesn't work for long section names, if Firefox is the default browser"
Note. This is almost surely a Firefox bug (if it can be replicated). However it causes NVDA's Context Help to fail, which is why I'm posting it here.

### Steps to reproduce:

Attempt to open any context help URL from the run dialog, with Firefox set as your default browser.
For example, using the URL `file:///C:/Program Files (x86)/NVDA/documentation/en/userGuide.html`, and appending one of the a

[2021-05-04 07:49] XLTechie commented on #12362
CC @jcsteh  @josephsl

[2021-05-04 08:12] CyrilleB79 commented on #310
Hello

Since I have already worked recently on this part of the code (#11977), I may work on this ticket if it is really a need.
But is there anybody wanting to have this ticket resolved and how?

Now that #11977 has been merged, the "cap " message and the character are actually split one from another.

The original reporter (aleksey_s, probably Aleksey Sadovoy) indicates that:

If anyone understa

[2021-05-04 08:21] josephsl commented on #12362
Hi, actually, Quentin, @feerrenrut, @MichaelDCurran

From: Luke Davis ***@***.***>
Sent: Tuesday, May 4, 2021 12:50 AM
To: nvaccess/nvda ***@***.***>
Cc: Joseph Lee ***@***.***>; Mention ***@***.***>
Subject: Re: [nvaccess/nvda] Context Help doesn't work for long section names, if Firefox is the default browser (#12362)

CC @jcsteh <https://github.com/jcsteh>  @josephsl <https://github.com/josephs

[2021-05-04 09:09] CyrilleB79 commented on #10135
Hello
You write:

abd

I agree the message is misleading for the developer.
But the user does not have to know the nature of the real issue (missing or badly formatted manifest file).
IMO the message should just be labelled such as:
"Could not install add-on ; invalid add-on file."
Then there are two ways:
* A user will look for a newer version of this add-on fixing the issue or report the issue t

[2021-05-04 09:18] CyrilleB79 commented on #847
@ehollig could you please remove the blocked label now since the corresponding issue and PR are closed/merged? Thanks.

[2021-05-04 10:08] feerrenrut commented on #12336
This looks like it was caused by: PR "Work around wxWidgets assertion #12292"

I'll update this with an alternative approach.

[2021-05-04 11:21] NVCDevelopmentTeam commented on #12305
I think it's not enough right now, with react native NVDA hasn't mentioned it yet and it doesn't stand out for the visually impaired. All tools for developers with visual impairments are very limited and it cannot fully converge the necessary and sufficient conditions. I know that in Vietnam, the visually impaired people only have jobs such as craftsmen, fortune tellers, acupressure massage, lathe

[2021-05-05 06:08] feerrenrut commented on #12220
A screenshot of the assertion message:
![image](https://user-images.githubusercontent.com/3491346/117102637-4eeb7a00-adab-11eb-936c-fe3db5e27a68.png)

[2021-05-05 06:48] CyrilleB79 commented on #9420
@fernando-jose-silva, do you still experience this issue? If not, please close it. Thanks.

On my side, the issue cannot be reproduced anymore; reading of the page restarts after the alert has been read.
I have tested with Chrome Version 87.0.4280.141 (Build officiel)
(64 bits).

In any case, the blocked label should be removed since #4877 has been merged. @Adriani90 could you take care of it if @

[2021-05-05 07:14] #12117 closed

[2021-05-05 07:28] seanbudd commented on #12050
Reopened from #12365

[2021-05-05 08:27] CyrilleB79 commented on #4247
Could anyone remove blocked and blocked:needexternalfix labels?

[2021-05-05 09:20] fernando-jose-silva commented on #9420
thank you solved

[2021-05-05 09:20] #9420 closed

[2021-05-05 09:46] feerrenrut commented on #10767
There seems to be a lot of history here, and it looks like the cause was found (thanks to all involved). Could anybody summarize any outstanding issues? Does this need code changes, or only translation updates?

[2021-05-05 10:09] feerrenrut commented on #11277
None of the links function on this issue, the example was never attached to the issue directly. There is nothing we can do with this. Closing the issue. @nousrnm If you are still interested in getting this resolved please open a new issue, in future please attach examples as txt, zip, or simply paste into the description.

[2021-05-05 10:09] #11277 closed

[2021-05-05 10:32] feerrenrut commented on #9096
This issue is not very clear. In future please copy the exact speech that hear (use speech viewer to help) and paste under the title "actual behavior". Then you can edit this for the "expected behavior".

When using the [W3C example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-actions-active-descendant.html):
Pressing tab to get to the "Actions" NVDA speaks:

Then

[2021-05-05 11:12] feerrenrut commented on #8674
If someone is willing to do the work, this might be appropriate as a command (not assigned to a shortcut). The command could report the named color on first press and the RGB / HEX on second and third press.

[2021-05-05 11:19] jaselson opened #12366 "Minus figures are read the same as Positive figures in Excel and PDFs"
### Steps to reproduce:
I have an excel table containing minus figures (entered as accounting with the £ sign on the left). NVDA does not read them as minus figures. Thus £40,000 and -£40,000 are read as the same. NVDA does not read the minus. I have exported the excel sheet as an accessible PDF to go on our website. NVDA has the same problem with minus figures in the PDF. I work for a Local Gover

[2021-05-05 11:49] JulienCochuyt commented on #8674
@feerrenrut wrote:

Having an easy way to copy this info is also pretty useful, especially as there are up to three colors to consider (foreground, background and background2 in case of a gradient).
The browsable message is just perfect for this.
Thus, I'd like to kindly insist on providing a new unbound global command script `showTechnicalFormattingAtReview`, behaving just like `showFormattingAtR

[2021-05-05 13:50] JulienCochuyt commented on #8674
@leonardder is your BabbageCom/nvda@ad41d9f6c still relevant / functional? Should it be included here?

[2021-05-05 15:26] CyrilleB79 commented on #10767
Thanks @feerrenrut to pay attention to this issue.
There has been a lot of comments regarding `gesture.ini` file localization. Sorry for these off-topic comments.

However, the initial issue remains and cannot be fixed just by localization tasks (`gestures.ini` modifications). The initial issue description is correct and you can re-read it.

The main points to keep in mind are:
* On the French key

[2021-05-05 15:40] lukaszgo1 commented on #8674
+1 to this.

I believe the most common presentation inn NVDA is RGB decimal  - while certainly more verbose than RGB hex it seems to me the latter is known only to people familiar with HTML/CSS. For what its worth all other screen readers under Windows present color as RGB decimal.

[2021-05-05 16:18] JulienCochuyt commented on #8674
@lukaszgo1 wrote:

Thanks for the feedback.
In order to preserve conciseness (especially when there are three colors involved) I would opt for not mentioning the names "red", "blue" and "green", but I'm wondering whether slashes or commas are most appropriate as separators. That is, either "(RGB: 255/255/255)" or "(RGB: 255, 255, 255)".

FWIIW, here is my draft implementation: accessolutions/nvda@

[2021-05-05 17:07] leonardder commented on #8674
It is only relevant if you care about NVDA reporting an unknown background colour for display model text if the colour couldn't be determined appropriately.

[2021-05-05 17:09] leonardder commented on #8674
I will reopen as there seems to be debate about whether this should yet be in core.

[2021-05-05 21:26] JulienCochuyt commented on #6167
In the French locale, we also have a collision with the access key "C" between Form fields ("**C**hamps de formulaire") and Activate ("A**c**tiver").
While this is obviously not a bug, this is not as ergonomic as can be especially for less advanced users.

Beware though not to remove the "**M**ove to" letter "M" access key, as it is useful to trigger the secondary action when both are available.

[2021-05-05 21:30] fernando-jose-silva opened #12368 "inform the user of the end points of a slider"
### Is your feature request related to a problem? Please describe.
no
### Describe the solution you'd like
when using the narrator i discovered a function that i found interesting, that could be used by nvda
in the narrator place the reader for maximum details.
I would like the nvda on the keyboard to stay focused on a slider, it will inform you what is the maximum and minimum value of this contro

[2021-05-05 23:07] JulienCochuyt commented on #6167
Well, I've played with this and I can't seem to be able to set the visual cue only when the focus is in the tree.
It does get removed upon leaving the tree, but is visually refreshed only when alt-tabbing back to the dialog…

[2021-05-06 01:07] e111077 commented on #9096
Again please let me know if this should necessitate its own issue.

For the case of combobox with has-popup announcing expanded / collapsed:

### Steps to Reproduce:

1. Open W3C aria example ([link](w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html))
2. focus the second example
3. type the letter "a" to expand the combobox
3. type the letter "z" to expand the combob

[2021-05-06 02:37] feerrenrut commented on #12366
I can't reproduce this issue with Excel for Office 365. After resetting my NVDA config to default settings, I tried:
- entering "-£40,000" in cell A1 it is read as "minus forty thousand A1"
- Setting the cell formatting to currency, same result.
- Setting the cell formatting to text, same result.

Some things to check:
- Change your symbol level to ensure you are not set to None, use keyboard shor

[2021-05-06 03:10] feerrenrut commented on #12366
I have been able to reproduce this issue. Only if I set the "Negative Numbers:" option in Excel, cell formatting, currency to the second option which has no minus symbol but the text in red.

![image](https://user-images.githubusercontent.com/3491346/117235654-b3fda900-ae59-11eb-8dd5-bd79839cd2cd.png)

All other options (that have a minus symbol displayed visually) result in the minus symbol being

[2021-05-06 03:18] feerrenrut commented on #8674
While I think this is most useful for developers (but not necessarily NVDA developers), it is quite a small addition and as long as it is a command doesn't add more config to create varied behavior for end users.

An advanced or developer centric formatting command sounds like a good idea @JulienCochuyt

I think commas and a colon are most appropriate. It is the main convention I have seen. EG "RG

[2021-05-06 05:31] feerrenrut commented on #10767
Ok, thanks @CyrilleB79 for this fantastic summary. Let's make this issue a feature request to "add support for AltGr in shortcuts", I'll update the title.

[2021-05-06 06:00] #12289 closed

[2021-05-06 06:21] leonardder commented on #11622
I think the initial request in this was covered by #12322, i.e. --minimal now acts as such.
I agree that silent really should be sileent. CC @JulienCochuyt

[2021-05-06 07:39] jaselson commented on #12366
Thanks both, you have solved my problem. I had set the cell formatting to Accounting which places "-£" to the left of the cell with the number on the right as I visually preferred it. This doesn't give any options for negative numbers but does display them with a minus. I then set conditional formatting to colour any negative numbers differently.

Setting the cell formatting to "Number" and choosi

[2021-05-06 07:40] jaselson commented on #12366
Sorry, I said both people when it was just the one person (who was super helpful :))

[2021-05-06 08:16] #12220 closed

[2021-05-06 08:16] #12336 closed

[2021-05-06 08:30] feerrenrut commented on #11619
See also https://github.com/nvaccess/nvda/pull/12322

[2021-05-06 08:43] feerrenrut commented on #12366
Ah, I see. Yes, I can also reproduce the issue with the accounting category. Sorry, I don't have any best practices for you, though you may want to look at the "currency" cell formatting option.

I'm going to make some edits to the initial description, so that we can track this bug.

[2021-05-06 08:53] feerrenrut commented on #12366
@jaselson When using the "accounting" option, it is possible for the screen reader to announce the "-$" symbols. Setting symbol mode to "all" with `NVDA + p` will read them as "dash dollar". The minus symbol is interpreted as a dash because it is not next to a number.

I still think this is a bug, it is putting visual presentation before accuracy in an application where accuracy really counts.

[2021-05-06 09:17] feerrenrut commented on #9096
Thanks for the clear write up @e111077. I think your comment would indeed be better as a new issue.

[2021-05-06 10:56] JulienCochuyt commented on #6769
Thanks to @josephsl hints, I could prototype option 2 with what seems at first glance running with decent performance.
However, complying with the current `api.getStatusBarText` implementation requires overlaying the status bar children, which in turns requires to look up the object parent in `chooseNVDAObjectOverlayClasses`.
The prototype works fine, but I've already encountered in other situatio

[2021-05-06 11:17] feerrenrut commented on #10418
I have a potential fix for this, could you please test [this build](https://ci.appveyor.com/api/buildjobs/wv6l2lddhqsmt13c/artifacts/output%2Fnvda_snapshot_pr12370-22601%2C6da721c8.exe) from #12370

[2021-05-06 12:19] cary-rowen commented on #12347
Do you understand the causes of this problem?
Could you please investigate this?
Thank you!
@josephsl

@michaelDCurran
@feerrenrut

[2021-05-06 12:28] JulienCochuyt commented on #6769
By the way, wouldn't the UIAWalker method be a suitable solution for cases where the standard `api.getStatusBar` mechanism could not locate one? Or is this too performance-risky? (I'm not experienced in UIA at all.)

[2021-05-06 12:49] kara-louise commented on #10418
@feerrenrut That seems to work.

[2021-05-06 13:06] JulienCochuyt commented on #8674
@feerrenrut, thanks for the feedback.
I'm not sure I'm getting your point regarding the different formats, though.
The current prototype implementation supports a single format and requires no configuration at all.
I understand we agree to default on decimal with commas (RGB: 255, 255, 255)
Outputting in two formats, eg: (RGB: 255, 255, 255 / #ffffff) seems still quite reasonable, but adding more

[2021-05-06 13:21] lijianwei2019 commented on #12347
@seanbudd

[2021-05-06 14:37] josephsl commented on #12347
Hi, this is partly caused by system focus not moving to what you were working on when you close IME window. It might be possible to detect this by checking for UIA off-screen property on top-level IME window and moving focus, but it means NVDA won’t announce things such as “emoji panel is closed”, something Narrator does at the moment. Thanks.

[2021-05-06 17:04] burakyuksek opened #12373 "Issue with keyboard echo in browsers when keyboard layout is switched"
### Steps to reproduce:
Make sure you have more than 2 keyboard layouts.
1. Open google chrome
2. Enable keyboard echo
3. Type text into address bar or some edit box in a webpage
4. Hold alt, press shift twice to switch to third keyboard layout
5. Repeat step 3.
### Actual behavior:
You will not hear keyboard echo after step 5
### Expected behavior:
NVDA should still announce keyboard echo after s

[2021-05-06 17:22] XLTechie commented on #8674
@JulienCochuyt Since you're doing this in a browseable message, why not
put the different formats after each other, one per line, as the last
element provided?

RGB: 255, 255, 255
Hex: #FFFFFF
HSB: 26.1, 51.6%, 43.7%
CMYK: 0, 0.385, 0.68, 0.337

if you're going to provide that much information. The user not caring
about HSB or CMYK can just stop reading.

Alternatively, if just providing hex and R

[2021-05-06 17:34] OzancanKaratas commented on #12097
@feerrenrut, this issue and #12086 are the same as #11963. Please close this and #12086.

[2021-05-06 17:37] OzancanKaratas commented on #12086
Duplicate of #11963. Please close this.

[2021-05-06 17:42] julianladisch commented on #9343
Thank you for clarification.

The steps to reproduce should be extended:

The "Actual behavior" should be:

I confirm this bug.

[2021-05-06 18:14] JulienCochuyt commented on #5664
@Adriani90, would you please be able to re-test this in order to qualify a potential regression?

[2021-05-06 19:07] ajborka commented on #8674
My experience with this issue is the varying preferences each person might have with displaying color values. A typical user might want color names, where a developer might want the other color models. On the other hand, some developers such as myself, use more than one. I would recommend providing an option for the color model(s) to show with formatting information. In fact, it might be more of a

[2021-05-06 20:28] JulienCochuyt commented on #8674
@XLTechie wrote:

Because in order to limit the workload and the burden of maintaining a feature that is not really needed by the "core target", I chose to follow @leonardder's prototype path of reusing the "showFormatting*" commands code, which in turn actually reuses the code used to report format changes in speech.
The original statement, as output to speech when reporting of color changes is e

[2021-05-06 21:16] CyrilleB79 commented on #10767
Well, this way, you are transforming an issue in feature...
IMO the original issue was describing a bug in French environment anyway:
* Typing '#' character in Word reports unwantedly title level and style (actual version of NVDA)
OR
* Title level and style not reported when pressing ctrl+alt+3 (if we modify French `gestures.ini` to unbind ctrl+alt+3)

[2021-05-06 22:32] CyrilleB79 commented on #12086
No it does not seem to be a duplicate to me:
* This issue is about punctuation symbols that seem to be included recently in CLDR (also in some other languages if not all such as French or Italian)
* #11963 also presents punctuation issues but overall is about "↑↑↑" in CLDR files (lines that should not be there or at least not loaded by NVDA)

I recommend further investigation in both problems befo

[2021-05-06 22:39] CyrilleB79 commented on #12097
I do not clearly understand this issue.
But as indicated in https://github.com/nvaccess/nvda/issues/12086#issuecomment-833916590, #12086 and #11963 do not seem to be identical issues to me.
Please read carefully #12086 before closing it as duplicate.

[2021-05-06 23:31] Qchristensen opened #12375 "Backspacing a new line on the web causes NVDA to read the character prior to the new line"
### Steps to reproduce:
1. Open a website with a multi-line edit.  (I can recreate in Gmail, Google Docs, Twitter and Facebook, in Chrome and Firefox, although interestingly, not GitHub).
2. Type at least one character and a newline (enter)
3. Backspace to remove the newline
4. Backspace to remove a character

### Actual behavior:

At step 3, NVDA removes the newline, moves to after the last chara

[2021-05-07 00:32] michaelDCurran commented on #12246
Specifically the crash occurs when trying to access the SelectedStartTime or SelectedEndTime properties on a Outlook CalendarView object after pressing alt+upArrow or alt+downArrow to move to another week, but only after an appointment was previously selected.
There is a curious statement on the page for the SelectedStartTime property: https://docs.microsoft.com/en-us/office/vba/api/outlook.calend

[2021-05-07 01:37] bradjcoughlin commented on #5830
@Brian1Gaff I realize this is an old thread, but I've found that sometimes excess 'clickable' announcements are caused by event listeners that are targeting too many elements on the page. For example, jQuery makes it easy to target all elements using the star selector `$('*')` and `.on('click', function( // do something or nothing ));` which indicates to NVDA it is clickable, even if nothing happe

[2021-05-07 02:31] #12238 closed

[2021-05-07 02:34] seanbudd commented on #12325
Closed by #12326 and the fixed methodology implemented in #12342

[2021-05-07 02:34] #12325 closed

[2021-05-07 06:03] seanbudd opened #12377 "Linting was disabled on `speech.py`"
#12251 disabled lint checking on `speech.py`

[2021-05-07 06:45] #9784 closed

[2021-05-07 07:34] feerrenrut commented on #12362
Just to be sure @XLTechie, can you confirm that the anchor in the URL is spelled the same as the `a` name in the HTML file?

If I paste the following URL into Firefox, it opens to the right section:
`https://www.nvaccess.org/files/nvda/documentation/userGuide.html#RunCOMRegistrationFixingTool`

Though we actually write a file with a redirect, because we found that one of the browsers didn't like o

[2021-05-07 07:40] feerrenrut commented on #10767
Is there something we can do about those issues? Or only add support for altGr?

[2021-05-07 08:10] JulienCochuyt commented on #12375
I do reproduce on GMail in Firefox, but not in Chrome 90.0.4430.93 under Windows 10 20H2 19042.964 with a French locale.
Here, at step 3:
 - In Notepad++, NVDA says "blank": KO
 - In Notepad, NVDA says "new line": OK
 - In Firefox / GMail, NVDA says the previous character: KO
 - In Chrome / GMail, NVDA says "new line": OK

[2021-05-07 08:21] cary-rowen commented on #12347
Sorry! I may not fully understand what you are trying to express. Is there any other solution for this issue?
This problem does not occur when using the compatible old version option of the Microsoft Pinyin input method.
@josephsl

[2021-05-07 08:24] XLTechie commented on #12362
I haven't tested this again tonight, but that was the exact spelling and
capitalization I used.

The refresh URL you gave was an https URI, but
gui.contextHelp.writeRedirect() generates a file URI (I.E. works off
line), which it derives from globals.

I am not, however, talking about pasting into Firefox.
What happens if you paste that URL into a run dialog (The file based URL,
not the https one)

[2021-05-07 08:25] josephsl commented on #12347
Hi, I know, it is a bit hard to understand all this… I think a simple way to look at this is a conflict between what NVDA thinks system focus is versus what Windows says where the cursor is. Hope this helps a lot.

[2021-05-07 08:29] josephsl commented on #12362
Hi, as for a browse mode message with just the section content, that’s an extension of #2699, and I think that ought to be the “more useful” user experience. Displaying only the section content also allows me o prepare another add-on of mine to come to Core: Control Usage Assistant. Thanks.

[2021-05-07 08:53] XLTechie commented on #12362
@josephsl I had been waiting until the end of #11006 to propose it, but I
couldn't resist mentioning it here, as it would definitely solve this
issue.

If this issue is real, it's also probably the only way worth pursuing to
solve it from our side. But I would like someone else to confirm this
isn't some quirk unique to my setup.

[2021-05-07 10:43] feerrenrut commented on #8674
The current prototype implementation supports a single format and requires no configuration at all.
I understand we agree to default on decimal with commas (RGB: 255, 255, 255)
Outputting in two formats, eg: (RGB: 255, 255, 255 / #ffffff) seems still quite reasonable, but adding more formats after each color names will pollute the output more than it helps IMHO.
Thus, would you prefer (sorted acco

[2021-05-07 10:47] feerrenrut commented on #10692
Smaller changes are usually easier to get reviewed and merged. If you can see a way to do this iteratively handling each issue, by the third you'll have a good understanding of what is necessary. I'm looking forward to seeing the draft PR. Thanks for your work here @christopherpross

[2021-05-07 10:56] JulienCochuyt commented on #12375
The issue seems to come from the fact NVDA cannot fetch the actual caret position while in focus mode in Chrome nor Firefox.
Hence, the "announce deleted character" code is bypassed and the announce is solely the result of the next events received after letting the `backspace` key through.
The "working" cases seem to be the result of different events being sent.
Try by example to select a couple c

[2021-05-07 11:05] lukaszgo1 commented on #12238
I'm afraid this is not fixed for me with the initial STR. Restarting latest Alpha of NVDA ten times in a row leaves nine dead NVDA icons in the system tray whereas doing the same with 2020.4 only one icon is present. At first I thought this may be caused by wxPython upgrade and therefore be outside of our control but performing initial STR with the build from #12075 i.e. just after wxPython 4.1.1

[2021-05-07 15:57] Logerfo opened #12380 "Pattern for repeated characters between whitespace"
### Is your feature request related to a problem? Please describe.
Problem: reading through a series of space separated repeated emojis is very time consuming.

### Describe the solution you'd like
The repeated character regex pattern could ignore whitespaces:

https://github.com/nvaccess/nvda/blob/0316158bc9f43066d6db44431bbd2402c27330b0/source/characterProcessing.py#L503

### Describe alternativ

[2021-05-07 18:17] Futyn-Maker opened #12381 "Adding Liblouis hyphenation support for braille"
### Is your feature request related to a problem? Please describe.

Now NVDA, at least for Russian language, make hyphenations incorrectly (with unchecked "avoid words splitting when possible"). I don't know if the problem is for other languages, but if there's the same algorythm, I guess, yess.

### Describe the solution you'd like

Liblouis has hyphenation tables for some languages. Firstly, the

[2021-05-07 18:20] josephsl commented on #12381
Hi, an important question: is this unique to NvDA, or does it affect others using Liblouis such as JAWS and Narrator? If it is unique to NVDA, then we might as well investigate this; if not, it might be something to do with braille tables from Liblouis. Thanks.

[2021-05-07 18:34] josephsl commented on #12381
Hi, in this case, it might be best to contact whoever wrote Russian braille table for Liblouis, as hyphenation is defined at the table level, not at the Liblouis library levee. Thanks.

[2021-05-07 19:09] josephsl commented on #12381
Hi, @LeonardDeR may know more about communication between NVDA and Liblouis (or perhaps @JCSTeh might). I assume it was tables based on initial comment, but based on what you said above, it might be something to look into. Thanks.