[2019-03-28 17:40] ehollig commented on #9164
@cochfarf can you provide a link to your code pen?

[2019-03-28 19:29] ehollig commented on #7152
I do not believe I am experiencing this issue. @derekriemer and @feerrenrut can you confirm?

[2019-03-28 19:30] ehollig commented on #7086
@elliott94 can you still replicate this issue?

[2019-03-28 19:36] Adriani90 commented on #1650
I am testing with NVDA 2019.1 on Firefox 66.0.2. and Chrome 73. Every example is pronounced only once as it should be.

Tested as follows:
1. In Browse mode, navigate the tests from top to bottom of the website and back fro bottom to the top with arrow keys: labels reported only once
2. In browse mode navigate the tests from top to bottom and back to top with tab and shift+tab: NVDA reports the la

[2019-03-28 19:37] #1650 closed

[2019-03-28 19:38] ehollig commented on #7222
@joshknnd1982 and @leonardder are you still experiencing this with the latest version of Firefox?

[2019-03-28 19:56] Adriani90 commented on #9359
@DataTriny is this also the case with NVDA 2019.1?

By the way, I wasn't experiencing system hangings during last 10 days anymore. Now using NVDA 2019.1 and Firefox 66.0.2.

[2019-03-28 20:02] joshknnd1982 commented on #7222
No, you can close the issue if you want to.

On Thu, Mar 28, 2019, 15:38 Ethan Holliger <notifications@github.com> wrote:

[2019-03-28 22:59] DataTriny commented on #9359
Yes @Adriani90 it is still the case. Tested with NVDA 2019.1 and Firefox 66.0.2.

[2019-03-29 01:16] ehollig commented on #7222
Closing as requested.

[2019-03-29 01:16] #7222 closed

[2019-03-29 01:38] #5450 closed

[2019-03-29 04:11] dingpengyu opened #9416 "Feature request: NVDA sound control shortcut"
Hi
In the daily use of NVDA, and is a music producer, there is more than one sound card, this time there is a need to switch back and forth.
### Is your feature request related to a problem? Please describe.
The normal sound card switching steps are like this: First open the context menu, then open the mobile center, then open to change the audio settings. Finally, switch between the sound card an

[2019-03-29 04:23] varunmshetty opened #9417 "NVDA automatically reads all input fields on an aspx page (non-stop) when tabbing into the 1st input field on IE"
### Steps to reproduce:
Open the URL https://account.pho-dev.ca/signup.aspx on IE 11 browser (v11.648.17134.0)
Navigate to the "First Name" field using keyboard tabbing.

### Actual behavior:
On IE 11, NVDA reads out the following: "Put First Name star required field, last name star required field, email star please enter email and so on..". Other browsers like Firefox and Chrome does not have thi

[2019-03-29 05:02] Adriani90 commented on #9416
Is this really falling in nvda‘s purpose? Actually you can switch to another sound card by pressing nvda+ctrl+s and choosing an output device in that dialog. In my view this feature should at least reported to Microsoft to be part of Windows. At least this is my opinion.

[2019-03-29 05:07] HarishTerala commented on #8889
@ehollig - Issues is fixed and working as expected.

**Test environment**
Platform: Win32
Application: MS Teams
NVDA version: 2019.1

[2019-03-29 05:07] #8889 closed

[2019-03-29 05:07] dingpengyu commented on #9416
hi Adriani
I know that I can switch from the NVDA settings, but the sound card switching in the NVDA settings is not comprehensive.

[2019-03-29 05:15] DrSooom commented on #9416
Even if this sounds quite interesting for a NVDA add-on, I'm not sure if NVDA has the permission to handle these tasks. Personally I wouldn't want to see this feature in the NVDA core, because quite a lot of NVDA users don't need this – it's just too specific for the core.

[2019-03-29 05:21] HarishTerala commented on #8952
@ehollig - Issues still repro's.

We can reach Video and Audio call buttons using Tab key. But when browse mode is enabled and upon pressing down arrow key on 'Video call" button focus does not moves to "Audio call" button, here NVDA skips these controls and moves to "Conversation" tab. Also using up arrow key NVDA skips "Audio call" button and focus moves to "Video call" button.

**Test environme

[2019-03-29 05:22] dingpengyu commented on #9416
In fact, the purpose of my issue is to improve the production efficiency of NVDA. There are still many places where NVDA can be improved. Sound card control is only a small part of it.

[2019-03-29 05:26] dingpengyu commented on #9416
hi DrSooom
Respect your opinion

[2019-03-29 05:49] dingpengyu commented on #9416
The main application environments for sound card control include: Radio Hosts Musicians with independent sound cards and podcasters There is also an environment for audio tutorials.
After using the sound card control, the screen reader can be separately output to the second fast sound card, so that the listener can have a better operation experience regardless of the lecture or the host, and the l

[2019-03-29 08:38] ManiaCs213 opened #9418 "NVDA closes chrome!"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-03-29 10:01] lukaszgo1 commented on #9418
@ManiaCs213 Could you please update the issue according to the issue template? Even though the issue draft isn't filled it looks similar to #9410 and #9364 cc @michaelDCurran  @feerrenrut

[2019-03-29 10:12] praveena-muk commented on #9412
I can repro this issue in NVDA 2018.4.1  + Chrome 73.0.3683.86

[2019-03-29 11:17] feerrenrut commented on #7152
I don't think I have ever been able to reproduced this. I don't know what "French English" means. I think it's best to close this issue for now. If @derekriemer or anyone can still reproduce this issue, please comment with instructions on how and we will re-open it.

[2019-03-29 11:17] #7152 closed

[2019-03-29 11:32] feerrenrut commented on #9364
I can reproduce this with both Google Chrome: 72.0.3626.121 and 73.0.3683.86

Using NVDA version alpha-16976,7fc6c71f

[2019-03-29 11:36] lukaszgo1 commented on #9364
What about adding regression label to this?

[2019-03-29 11:43] feerrenrut commented on #9410
This might be true for isolating an addon causing a problem, the easiest way to run NVDA with all addons disabled is to select "restart with addons disabled" from the NVDA quit menu.

[2019-03-29 15:12] alexandretoco opened #9419 "google schrome crashes when selecting a list item"
### Steps to reproduce:
1. open schrome and go to:
https://sites.google.com/site/secretariapiloto188cvv/diarioplantao
2. fill the e-mail and tab to the button called "próximo" and activate it.
3. when the next page loads, press tab and you will be placed in a list. press some arrowdown and press spacebar to select an item.
In this moment, schrome will crash.

### Actual behavior:
schrome crashes w

[2019-03-29 15:40] fernando-jose-silva commented on #9416
I already missed a shortcut key to toggle the output of nvda to different sound cards on a notebook that did not automatically switch between the headphone output and the speakers automatically. In this notebook in question the headphone output and the speakers were shown as different sound cards.
It should be noted that in this notebook I could not change this behavior even updating the sound dri

[2019-03-29 16:48] fernando-jose-silva commented on #9361
I noticed a similar problem now when downloading in chrome.
Make a download that is time consuming in chrome.
Press ctrl + j.
On the chrome downloads page, when the download is performed, walk with the arrows above and below.
When navigating through downloads, nvda skips a few lines, or repeats a few lines.
The focus becomes erratic as if the page was updating and inserting lines.
I noticed this o

[2019-03-29 17:09] fernando-jose-silva opened #9420 "nvda interrupts reading continues while reading notification of chrome download progress"
### Steps to reproduce:
Start a large download in chrome, one that takes several minutes.
Now open another page in chrome as an article and start the continuous reading with nvda + a.
Now notice that nvda will start reading the text.
After some time chrome will show a notification informing you of the progress of the download.
### Actual behavior:
Nvda stops reading continuously, reads the notific

[2019-03-29 18:08] fernando-jose-silva opened #9421 "nvda does not browse the list in browse mode in the firefox settings window list of file types"
### Steps to reproduce:
Open firefox, then open firefox options from the Tools menu.
Navigate with tab until the nvda speak file list.
In this list you can choose the file type and then choose what firefox should do when downloading this type of file.
### Actual behavior:
I tried to navigate between the items in this list with arrows below and above, I tried to press enter and space and navigate t

[2019-03-29 18:42] AmadeusW commented on #8336
I work on the Visual Studio's Editor team, and we provide the IntelliSense UI. I'd be happy to work with NVDA developers to prevent it from reading the entire line.

To give you more context on how IntelliSense narration works:
IntelliSense completion is a tricky piece of UI because it appears in a popup window, pretends that it has focus, yet the editor in the background has actual focus: you can

[2019-03-29 18:44] Adriani90 commented on #9410
Closing as duplicate of #9364.

[2019-03-29 18:44] #9410 closed

[2019-03-29 18:46] Adriani90 commented on #9418
Duplicate of #9364, this is also related to a list box / combo box.

[2019-03-29 18:46] #9418 closed

[2019-03-29 18:47] Adriani90 commented on #9364
There are several people reporting this on Github, assigning at least P2 should be appropriate. @feerrenrut what do you think?

[2019-03-29 18:49] lukaszgo1 commented on #9419
Looks like another duplicate of #9364. @Adriani90 what do you think?

[2019-03-29 18:49] Adriani90 commented on #9419
Closing as duplicate of #9364. Thanks for reporting.

[2019-03-29 18:49] #9419 closed

[2019-03-29 18:54] Adriani90 commented on #9421
cc: @jcsteh for what ever reason NVDA does not fire the event which enables focus mode when pressing enter on the list which contains file types. This is the issue here.

[2019-03-29 19:05] josephsl commented on #8336
Hi,

If this is a UIA text block, then Windows 10 App Essentials add-on will log this as well (if NVDA is restarted with debug logging enabled).

Info from NVDA side: the flow described above corresponds to name change event in NVDA. Essentially, the app module for Visual Studio (which ships with NVDA) will need to provide a handler for this event. This handler will need to identify the object in

[2019-03-29 19:06] Adriani90 commented on #8952
Thank you for reporting back @HarishTerala.

[2019-03-29 19:07] Adriani90 commented on #8891
@HarishTerala could you please test if this issue is still reproducible?

[2019-03-29 19:17] jakubl7545 opened #9422 "Browse mode doesn't work in MS Word"
### Steps to reproduce:
Open any MS Word document
switch to browse mode with NVDA+space
### Actual behavior:
Focus mode remains active with no error
### Expected behavior:
Browse mode should turn on
### System configuration
#### NVDA installed/portable/running from source:
installed
#### NVDA version:
alpha-16976,7fc6c71f
#### Windows version:
Windows 10 1803
#### Name and version of other softwar

[2019-03-29 19:26] josephsl commented on #9422
Hi, confirmed. Note that this does not happen with 2019.1, so looks like a recent commit to master might be to blame. Thanks.

From: jakubl7545 <notifications@github.com>
Sent: Friday, March 29, 2019 12:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Browse mode doesn't work in MS Word (#9422)

Steps to reproduce:

Open any

[2019-03-29 19:28] Adriani90 commented on #8543
There are many locale folders which are outdated and are not on the translations system (see i.e. AF, AF_ZA, AS, BN, ID, KOK, MNI) and many more. In my view it is good that they are included in NVDA's installations folder. if anytime in the future someone applies for translation of these languages, we can integrate them very easily in the translation system and we don't need to raise pull requests

[2019-03-29 19:34] leonardder commented on #9422
Looks like the ability to disable browse mode by default is the cause here. I might be able to provide a fix next week. Was pretty sure I tested this properly before, but oh well.

[2019-03-29 19:41] josephsl commented on #8716
Hi,

I'm reopening this due to regression caused by the associated pull request in Microsoft Word.

Thanks.

[2019-03-29 19:42] josephsl commented on #9422
Hi,

Regression caused by PR for #8716.

Thanks for confirming our thoughts.

[2019-03-29 19:51] LarrySilvermintz commented on #8716
Thank you Joseph.  Would be good to get the feature.

Regards,
Larry Silvermintz

941-556-9200

Sarasota, FL

  _____

From: Joseph Lee [mailto:notifications@github.com]
Sent: Friday, March 29, 2019 3:41 PM
To: nvaccess/nvda
Cc: LarrySilvermintz; Author
Subject: Re: [nvaccess/nvda] Feature request: Lock focus-mode: (#8716)

 Reopened #8716 <https://github.com/nvaccess/nvda/issues/8716> .

-
You ar

[2019-03-29 20:23] leonardder commented on #8716
I disagree with reopening. There's no need to reopen this as long as #8846 is not reverted. I will most likely provide a fix to this at the start of next week, which progress can be tracked in #9422. In browsers, the feature is implemented as advertised.

[2019-03-29 20:45] leonardder commented on #8716
I just confirmed that this feature works as advertised in cases where browse mode is enabled by default on page load. The regression in Word, caused by #8846, is not related to this functionality. I just filed #9423 to fix #9422. Closing this one again.

[2019-03-29 20:45] #8716 closed

[2019-03-30 00:04] larry801 commented on #8543
zh is now replaced by  more accurate locale zh_CN zh_TW and zh_HK, it is different from AF, AF_ZA, AS, BN, ID, KOK, MNI, "zh"  will never come back.
@Adriani90

[2019-03-30 00:22] Adriani90 commented on #8543
Reopened, sorry for my missunderstanding.

[2019-03-30 00:29] manish10 commented on #8751
This seems to be fixed with the 2019.1 release of NVDA. I no longer face
this issue on tseveral excel sheets I worked on today.In general NVDA feels
much more responsive in excel now.

Regards,
Manish
http://iaccessible.net <http://iaccessible.blogspot.com>

On Wed, Mar 27, 2019 at 10:42 AM Ethan Holliger <notifications@github.com>
wrote:

[2019-03-30 06:54] k-kolev1985 opened #9424 "NVDA's support for Scintilla controls. is broken in alpha snapshots, if "line wrap" is enabled in the text editor"
### Steps to reproduce:
1. Install a text editor like Notepad++.
2. In it, open a text file containing a few lines of text.
3. Enable the text editor's "line wrap" feature.
4. Start reading line by line with the up/down arrow keys.
5. Enable NVDA's mouse tracking and use the mouse to hover over and read the separate lines of text.

### Actual behavior:
With the up/down arrow keys, NVDA reads anoth

[2019-03-30 08:07] leonardder commented on #9424
CC @DataTriny, this is probably caused by #9233. Could you please investigate as soon as possible what might causing this?

[2019-03-30 16:30] Adriani90 commented on #8751
Closing as works for me. Thank you for reporting back!

[2019-03-30 16:30] #8751 closed

[2019-03-30 16:33] Adriani90 commented on #8336
cc: @francipvb, @mohammad-suliman your thoughts are also very apreciated here. Thanks!

[2019-03-30 17:05] francipvb commented on #8336
It is easily identifiable by NVDA right now, at least in Visual Studio 2017 and 2019.

Well, casually I have a script for intellicense at code editor, but it only interrupts speech and call to `reportFocus` but in a list item, not the label. This approach have some problems, anyway.

For the label, event_liveRegionChanged is called too late in some situations, but it occurs also on other parts of

[2019-03-30 17:32] Adriani90 commented on #6746
Is this not already possible with profiles?

[2019-03-30 17:37] Adriani90 commented on #6745
I agree on this feature. However, for me it works also great with object navigation because I actually do not want to hear the descriptions every time when I press up and down arrow in the lists. However, it would be nice if there was a key stroke associated to the descriptions. But I guess this can only be done by Microsoft.

[2019-03-30 17:41] Adriani90 commented on #6743
@Qchristensen the tooltipps seem to be reported properly now. Could you please test with NVDA 2019.1 please?
I have tested just now in Office 2016 and 365 and I can not reproduce this issue.

[2019-03-30 17:43] Adriani90 commented on #6743
In Office 2010 NVDA 2019.1 reports them also properly.

[2019-03-30 17:45] Adriani90 commented on #6745
In Excel 2010 it works actually quite good. You select the function with arrow key and the description is automatically read by NVDA when you press tab once. Then press shift+tab, choose another function and press tab to hear its description.

[2019-03-30 17:50] Adriani90 commented on #6742
@Qchristensen I am testing in Excel 2016 and 365 with NVDA 2019.1. It seems NVDA reports now the evaluation result when you enter the dialog but not the references. Moreover, if you want to review the evaluation word by word etc, you must use object navigation and object review.

[2019-03-30 17:51] Adriani90 commented on #6742
The references are only reported when you use object navigation. Not when you enter the dialog.

[2019-03-30 17:55] Adriani90 commented on #6742
In Excel 2010 you could at least navigate the references and the content of the cell, although the edit fields are also buggy. The evaluation result is also read when you enter the dialog but it behaves exactly like in Excel 2016. You can only review the result with object navigation and object review.

[2019-03-30 17:59] Adriani90 commented on #6720
Ok can anyone confirm that NVDA freezes in Libre when dealing with tables? How big is the user impact?

[2019-03-30 18:06] Adriani90 commented on #6740
The issue is still reproducible in MS Office Word, Excel, Powerpoint and Outlook.

[2019-03-30 18:10] Adriani90 commented on #8390
Closing as duplicate of #6740.

[2019-03-30 18:10] #8390 closed

[2019-03-30 18:13] Adriani90 commented on #8391
This is solved in NVDA 2019.1 and Office 2016 / 365. Closing as works for me.

[2019-03-30 18:13] #8391 closed

[2019-03-30 18:21] lukaszgo1 commented on #9001
This happens on more and more login forms for example when logging in to Twitter or PayPal. Any chance for a fix? cc @jcsteh @MarcoZehe

[2019-03-30 18:22] Adriani90 commented on #9230
This is still reproducible in NVDA 2019.1 and Firefox 66.0.2.
cc: @jcsteh, @leonardder, this is somehow important in my view because as of now NVDA cannot switch to focus mode in that dialog at all and the dialog can only be closed by pressing escape multiple times.

[2019-03-30 18:30] Adriani90 commented on #6737
I can reproduce this in Firefox 66.0.2 and Chrome 73 with NVDA 2019.1.
Tested as follows:

Keyboard layout set to Laptop
1. Open one of the browsers
2. Go to google.com
3. In browse mode, navigate with arrow keys to "google apps"
4. Press nvda+up and down arrow and see what happens
5. Press nvda+backspace
6. Press nvda+up and down arrow and see what happens

Actual: NVDA's review mode is document

[2019-03-30 18:32] Adriani90 commented on #6732
@beqabeqa473 are you still having this issue in NVDA 2019.1?

[2019-03-30 18:34] Adriani90 commented on #6724
@deconspray are you still available? If so, are you still having this issue in Firefox 66.0.2 and NVDA 2019.1? I cannot reproduce it.

[2019-03-30 18:37] Adriani90 commented on #6722
cc: @leonardder this might be also of interest for you at Babbage.

[2019-03-30 18:39] Adriani90 commented on #6694
@ABuffEr is this still the case in NVDA 2019.1? Do you have the addon Windows 10 app essentials installed?
cc: @josephsl, @derekriemer, @Robert-J-H

[2019-03-30 18:49] Adriani90 commented on #6690
This would be very useful when reviewing issues and trying to reproduce them. Thanks.

[2019-03-30 18:57] Adriani90 commented on #8195
@leonardder could this possibly be touched by your display model PR?

[2019-03-30 18:58] Adriani90 commented on #6809
Closing as duplicate of #8195

[2019-03-30 18:58] #6809 closed

[2019-03-30 19:02] Adriani90 commented on #6807
I am testing with NVDA 2019.1 in IE11 on Starpage. It works as expected. Note that startpage has undercome several changes in the design since the initial author reported this issue. Closing as works for me. If someone can reproduce this though, we can reopen it.

[2019-03-30 19:02] #6807 closed

[2019-03-30 19:04] Adriani90 commented on #6769
@ruifontes are you planing to raise a pull request with the las version of the NVDA Addon?

[2019-03-30 19:06] Adriani90 commented on #6801
I think this is still not solved.
cc: @josephsl

[2019-03-30 19:08] ruifontes commented on #6769
No, I am yet gaving my first steps in GitHub...
If you, or someone else, can do it, better!

[2019-03-30 19:10] Adriani90 commented on #6800
@tspivey, @ctoth Is this still an issue in NVDA 2019.1? Unfortunately I am currently not able to compile it myself on this system, so I cannot test if this is still reproducible.

[2019-03-30 19:12] Adriani90 commented on #6793
cc: @jcsteh this could be similar to the behavior on the gmail website.

[2019-03-30 19:16] Adriani90 commented on #6791
@Knida89 are you still having this issue with NVDA 2019.1 nd Chrome 73? I cannot reproduce it. I can only imagine that it is due to the synthesizer you are using. Is the unresposiveness also occuring when you use eSpeak?

[2019-03-30 19:20] Adriani90 commented on #6788
This would be a really nice feature indeed.
cc: @feerrenrut, @michaelDCurran

[2019-03-30 19:22] Adriani90 commented on #6767
@derekriemer I cannot reproduce this in Chrome 73 and NVDA 2019.1. Are you still having this issue?

[2019-03-30 19:34] Adriani90 commented on #6750
Pressing tab and then shift+tab solves this. However, I can reproduce this issue and unfortunately there is not useful Information in the log I guess.

[2019-03-30 19:36] Adriani90 commented on #6768
cc: @marlon-sousa

[2019-03-30 19:38] Adriani90 commented on #6765
@derekriemer I cannot reproduce this in Chrome 73 either. I suggest to wait from a confirmation from Derek for some weeks and then closing this as works for me. Thanks.

[2019-03-30 19:40] Adriani90 commented on #6758
This is still reproducible in NVDA 2019.1 and Excel 2016 and 365.

[2019-03-30 19:42] Adriani90 commented on #6755
Should this be closed as can't fix?

[2019-03-30 19:43] Adriani90 commented on #6751
@leonardder is this still an issue?

[2019-03-30 19:45] lukaszgo1 commented on #6769
In my view we  cannot proceed with this until #4640 is implemented. The problem with the current approach is the fact that the entire script for reading status bar is duplicated, therefore any updates to it needs to be performed in the Explorer appmodule in addition to the globalCommands.py

[2019-03-30 20:08] lukaszgo1 commented on #6755
No it shouldn't. If something has P4 assigned there is something to be improved, but no one from NV Access is going to work on this.

[2019-03-31 03:32] marlon-sousa commented on #6768
Hello, perhaps using the find dialog component from wx widgets can fix that. T!is is in ny to do list and I didn.t do it before because I hopped that my changes would be integrated into 2019.1 but cinse it wasn.t then I think I can integrate this now. The only thing I would like to be sure is that the feature will be integrated in 2019 2 regardless of this fix.

[2019-03-31 07:54] Brian1Gaff commented on #6755
It obviously needs to  count backwards to a valid link when it stops as it
is now, and then it will presumably be able to stop in the right place.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-03-31 08:57] Adriani90 commented on #6768
@marlon-sousa your change regarding search history is now part of Alpha, so it will be 100% be part of 2019.2 if no further bugs are identified by users. As of now we do not have any negative reports about that. And as far as I can see, everything works well in Alpha so there is no reason not to include it in 2019.2.

[2019-03-31 09:05] Adriani90 commented on #9420
Blocked by #4877

[2019-03-31 09:22] Adriani90 commented on #7427
@feerrenrut in my view, formating must not be reported explicitely when selecting lines because an user is aware of what he wants to select before doing it.

But the formating and markup should definitely be copied (i.e. tables, links etc). This is the case when selecting, copying and pasting things from web into MS Word with the mouse when NVDA is not running for example. Note that this feature i

[2019-03-31 12:29] pitermach opened #9425 "NVDA no longer lets me turn on browse mode inside application role"
### Steps to reproduce:
In either Chrome or Firefox, go to a website making use of the aria application role (IE https://cyclepath.iamtalon.me) or the attached HTML example. Get your focus inside the content contained in the application role, and try to turn on browse mode with NVDA+Space

### Actual behavior:
This used to work, but no longer does. While the focus is inside the application,  NVDA+

[2019-03-31 12:53] Timtam commented on #9424
reproducable by me, it also messes up the text shown on braille displays as well if thats of any help, tested with a Baum braille display addressed via Baum drivers.

[2019-03-31 14:57] leonardder commented on #9425
See 9422 and 9423

[2019-03-31 16:13] pitermach commented on #9425
Ah, so these issues might be related. Do you think #9423 will also fix this regression? I don't have a source installation to check, but if it does I can close this issue.

[2019-03-31 17:31] leonardder commented on #9425
I'm pretty sure it will fix this. I'd say, lets keep this open for now until you can confirm that it's fixed.

[2019-03-31 18:05] bramd opened #9426 "NVDA reads to many column headers in Chrome"
### Steps to reproduce:
1. Open `data:text/html,<table><thead><tr><th>One</th><th>Two</th></tr></thead><tr><td>Foo</td><td>Bar</td></tr><tr><th>Three</th><th>Four</th></tr></table>`
1. Read the table either by continuous reading or by navigating from cell to cell

### Actual behavior:
1. NVDA reads "One" and "Three" as header of "Foo" in Chrome
1. NVDA reads "Two" and "Four" as header of "Bar" in

[2019-03-31 18:27] DataTriny commented on #9424
Hi,
I can confirm that my PR introduced the bug mentioned here. I didn't see it while testing because I never enable word wrapping in Notepad++.

@leonardder the coordinates passed to `_getOffsetFromPoint` are correct, but the ones returned by `winUser.ScreenToClient` are not. I will investigate further to find whether it is a Scintilla bug or not.

[2019-03-31 19:41] DataTriny commented on #9424
Alright, fixed in #9427.

@leonardder feel free to tell me if I did something wrong. This part of the code were totally broken by the way!

[2019-03-31 22:20] bramd commented on #9426
This seems to be an issue in Chrome's IATableCell interface. I filed this bug: https://bugs.chromium.org/p/chromium/issues/detail?id=947881

[2019-03-31 22:55] #9422 closed

[2019-04-01 02:53] michaelDCurran commented on #9364
Filed Chrome Issue 947898: NVDA causes Chrome to crash in IEnumVARIANT::next fetched from IAccessible::accSelection
We will probably have to disable fetching of the current selected item in listboxes in Chrome until this bug is addressed by Google.

[2019-04-01 04:11] josephsl commented on #5760
Hi,

Update: I'm willing to donate Calculator app module from Windows 10 App Essentials to NVDA Core in the next few moments.

Thanks.

[2019-04-01 05:17] josephsl commented on #5760
Hi,

For now, I'll close this issue, as the PR I'll be writing addresses a different issue.

Thanks.

[2019-04-01 05:23] josephsl opened #9428 "Windows 10 Calculator: repeated typed character announcement if speak typed characters is enabled"
Hi,

Technical discussion from #5760, but way different:

### Steps to reproduce:
1. Start Windows 10 Calculator.
2. From Calculator, enable speak typed characters (NvDA+number row 2).
3. Enter some calculations.

### Actual behavior:
NVDA may repeat typed characters twice.

### Expected behavior:
NVDA does not repeat typed characters.

### System configuration
#### NVDA installed/portable/running

[2019-04-01 07:33] leonardder commented on #9425
The fix is now in Alpha snapshots. Could you verify whether it is fixed?

[2019-04-01 07:54] HarishTerala commented on #8891
@Adriani90 -  It depends on user to user which mode they are comfortable in interacting with messages in a conversation.

Yes, issue still repro's. But now NVDA reads the message 4 times.

**For quick repro follow the steps:**
1. Teams> Press Tab key to navigate to most recent message. (Make sure you are in browse mode)
2. Press up arrow keys until you read complete message.

[2019-04-01 08:59] feerrenrut opened #9431 "Formula not reported in excel 2007"
### Steps to reproduce:
1. Create a new sheet in MS excel 2007
1. Add a simple formula to a cell and press enter
1. Use arrow keys to return to the cell with the formula

### Actual behavior:
The result of the formula is reported (calculated value). "has formula" is not announced.
Pressing F2 allows us to confirm the presence of the formula.

### Expected behavior:
"has formula" should be announce

[2019-04-01 09:04] feerrenrut commented on #9431
Some alternatives that can be used to work around this issue can be found in https://github.com/nvaccess/nvda/issues/7899. Specifically, pressing ```control + ` (accent grave)``` in excel will toggle between showing formulae in (all) cells rather than the result.

[2019-04-01 11:00] michaelDCurran commented on #9431
Does inserting a comment on the cell, cause NVDA to announce "has comment"? If not, I am guessing this is a broader problem where NVDA is not able to inject into Excel at all.

[2019-04-01 12:38] feerrenrut commented on #9431
No, "has comment" is also not reported. The NVDA log contains the following:

The most relevant thing in the log seems to be (there a few similar such errors):
[code]

[2019-04-01 14:02] jhomme opened #9433 "Word 2016, NVDA Advanced Mode: Alt Text Does Not Speak In Tables"
### Steps to reproduce:

- Turn on NVDA Advanced mode
- Use a document that contains a table
- Ensure that the table has alt text in the Title field
- Move out of the table, then back into it.
### Actual behavior:
NVDA does not speak the alt text.
### Expected behavior:
NVDA should speak the alt text.
### System configuration
#### NVDA installed/portable/running from source:
Installed. Not portabl

[2019-04-01 16:04] Adriani90 commented on #6665
Testing with NVDA 2019.1 and NVDA 2018.4.1 in MS Word 2010, I cannot reproduce this issue. If someone can reproduce it, Please comment on it and we will reopen it. I am closing this as works for me.

[2019-04-01 16:04] #6665 closed

[2019-04-01 16:11] Adriani90 commented on #6829
@joshknnd1982 could you please provide an update to this issue? Is this still occuring? Are you using Internet Explorer? Or which browser?

[2019-04-01 16:17] Adriani90 commented on #6825
This issue is still reproducible in NVDA 2019.1.

[2019-04-01 16:25] pitermach commented on #9425
I just tested with alpha-16982,01118965. It looks like the issue was indeed fixed

[2019-04-01 16:25] #9425 closed

[2019-04-01 16:26] Adriani90 commented on #6819
I can reproduce this issue in NVDA 2019.1 and Outlook 2016 as follows:
1. Open Outlook
2. Focus an unread message in the message list (make sure NVDA reports unread)
3. Hold down shift key and start selecting messages with down arrow
Actual: NVDA will report "unread" for all messages you select regardless of their real tag. Messages which are read are also reported as "unread"
Expected: NVDA shoul

[2019-04-01 16:34] Adriani90 commented on #6905
cc: @jscholes, @nvdaes your thoughts on this are also very apreciated. In my opinion, speech history could be integrated as part of speech viewer similar to i.e. search history in find dialog implemented by @marlon-sousa.

[2019-04-01 16:36] Adriani90 commented on #6902
@Qchristensen, @derekriemer I can notice a significant performance improvement with NVDA 2019.1. Could you please test and report back if the performance is still bad for you? Thanks!

[2019-04-01 16:38] Adriani90 commented on #6903
@PratikP1 are you still able to reproduce this in NVDA 2019.1? It should work much better now according to my tests at least.

[2019-04-01 16:39] AmadeusW commented on #8336
How do we prevent NVDA from reading the entire line of code?
Currently, when intellisense popup appears, we raise `AutomationEvents.MenuOpened` event, and when it closes, we raise `AutomationEvents.MenuClosed`.

Great!

If all screen readers correctly read name and help text, I'll be happy do it.
Unfortunately, I have no means of detecting NVDA to provide different experience

Sure, let me know wh

[2019-04-01 16:44] Adriani90 commented on #2296
@Neurrone, @parham, @dineshkaushal, in NVDA 2019.1 MS Word reacts much faster even with pages enabled. But to assess this issue correctly we need more tests. Could you guys please test if there is still a significant performance issue when pages are enabled? For me at least it works quite fine now.

[2019-04-01 16:45] jscholes commented on #6905
* If you want to be able to review NVDA's speech history using an entirely speech-based workflow, the Speech History add-on is probably the way to go.
* If you want to see a visual on-screen display of the same, that's what the speech viewer is for.
* If we want the speech viewer to record spoken sequences while closed for later review, an option could be added to the Advanced panel of the Setting

[2019-04-01 16:48] Adriani90 commented on #5851
In tables with big paragraphs of text in one cell the performance is still not good but it is much better.

[2019-04-01 16:52] josephsl commented on #8336
Hi,

Correction: controller for, not controllers.

Although the following document isn't really applicable here, it explains how certain UIA events work behind the scenes:

https://github.com/josephsl/wintenapps/wiki/w10addoninternals

The NVDA source code itself does provide examples of how the screen reader will interpret some (if not all) UIA controller for events.

As for help text: I wouldn't

[2019-04-01 17:03] elliott94 opened #9434 "Installer: Allow the installation of NVDA to be Executed as a Different User"
As part of my job, I often need to install NVDA on workstations. The setup of these systems is that there is a local administrator account, and Windows domain accounts - the latter of these does not have admin permissions over the system, and as a result I first need to choose to specifically run NVDA as this alternative account - which isn't always the easiest thing to do if relying on memory to

[2019-04-01 17:04] Adriani90 commented on #6901
Wow this will be really tricky to implement in my opinion because of the limited space on a braille display. But definitely useful especially with regular braile users.
One suggestion for implementation from my side:
Is it possible to add a key stroke in NVDA'sexcel app module to report row or column header on demand? In this case we could emulate that key stroke on a braille display and we would

[2019-04-01 17:05] Adriani90 commented on #6897
@zahra21 yes in Excel this is supported. In Libre Calc this is still an issue. Right?

[2019-04-01 17:08] dkager commented on #6901
I think the suggestion for an NVDA command to show row/column headers in braille should also be considered for Word, where pretty much the same problem exists with space on a braille display.

[2019-04-01 17:12] Novalis7747 commented on #6819
I can reproduce this with Office 365 and NVDA 2019.1.

From: Adriani90 <notifications@github.com>
Sent: Montag, 1. April 2019 18:26
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook: When selecting multiple messages in 2016, NVDA uses the read/unread characteristics of the first message

[2019-04-01 17:22] Adriani90 commented on #6891
I can confirm this issue in NVDA 2019.1 and Excel 2016 and 365. The data in the field is being reported when using arrow keys but not when landing on the field with tab or shift+tab. Reviewing the content of the field with the review cursor does not work either and NVDA is silent when selecting the content with shift+arrow keys.
cc: @lukaszgo1, @leonardder I think this is also sort of bad implemen

[2019-04-01 17:24] Adriani90 commented on #6891
In Excel 2010 everything works correctly except when selecting the content, NVDA is still silent.

[2019-04-01 17:26] Adriani90 commented on #6879
@elliott94 my Outlook 2010 seems to be broken, could you test if this issue is still reproducible in NVDA 2019.1 and Outloook 2010? Thank you!

[2019-04-01 17:42] Adriani90 commented on #6871
I am testing in Outlook 2016 and Outlook 365, the issue is still reproducible with NVDA 2019.1 as follows:
1. Open Outlook
2. Go to file ribbon
3. Go to information with arrow keys and press tab until you hear (account settings)
4. Press spacebar to expand it
5. Press tab to land on "change password"
6. Type something in the edit field
7. Press tab and shift+tab
8. Press left and right arrows to n

[2019-04-01 17:43] Adriani90 commented on #6871
[code]

[2019-04-01 17:51] Adriani90 commented on #6869
I agree there should be at least a confirmation dialog when uninstalling NVDA which asks if the user wants to also remove all the settings, drivers and addons. Lots of beginners have some strange issues and we must explain everytime how to find the user config directory in %appdata% and how to remove it and then reinstall NVDA.

[2019-04-01 17:53] Adriani90 commented on #6861
@nvdaes is this still the case in the last versions of the editors?

[2019-04-01 17:55] Adriani90 commented on #6859
This is still the case in NVDA 2019.1 and Outlook 2016 and 365.

[2019-04-01 18:01] Adriani90 commented on #6858
This is not reproducible anymore in NVDA 2019.1 and Outlook 2016. @PratikP1, @dkager can you also confirm? If yes, we should close this as works for me.
I tested as follows:
1. Open Outlook
2. Open the file ribbon
3. Navigate with arrow keys to "information"
4. Navigate with tab to "account settings"
Actual: NVDA reports "Acount settings colapsed" which is also expected. Pressing space bar on it o

[2019-04-01 18:08] Adriani90 commented on #6831
Confirming I can reproduce this issue in NVDA 2019.1 and IE11.
Additionally,
In Firefox, when using tab in browse mode, the arialabeledby is also not reported.
In Chrome, when pressing x, the arialabeledby is reported twice.

[2019-04-01 18:09] Adriani90 commented on #6856
@khsbory is this sill an issue in NVDA 2019.1?

[2019-04-01 18:12] dkager commented on #6858
Yes, works for me.

[2019-04-01 18:12] #6858 closed

[2019-04-01 18:18] Adriani90 commented on #6846
What needs to be done here further on? All PRs are either closed or merged.
cc: @josephsl, @feerrenrut

[2019-04-01 18:23] josephsl commented on #6846
Hi, there are other things we may need to remove or mark as deprecated, more so once we transition to python 3. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Monday, April 1, 2019 11:19 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Code cleanup: officially remove deprecated co

[2019-04-01 18:24] Adriani90 commented on #6832
@bhavyashah, @ehollig are you still able to reproduce this issue?

[2019-04-01 18:25] Adriani90 commented on #6829
Thanks for reporting back. Closing as works for me.

[2019-04-01 18:25] #6829 closed

[2019-04-01 18:33] AmadeusW commented on #8336
How do we prevent NVDA from reading out the entire line of code when user is scrolling through the intellisense list?

[2019-04-01 18:34] AmadeusW commented on #8336
Another issue: NVDA does not read tooltips. When tooltip is opened, AccEvents reports this, and we expect screen reader to read the value of the Name property
[code]

[2019-04-01 18:41] josephsl commented on #8336
Hi, possibly because this is disabled by default in NVDA – one needs to enable this via NVDA Settings/Object presentation/Report tooltips. Thanks.

From: Amadeusz Wieczorek <notifications@github.com>
Sent: Monday, April 1, 2019 11:35 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] IntelliSe

[2019-04-01 18:58] josephsl commented on #8336
Hi,

Preventing reading of current line under cursor: a bit tricky. The long-term solution is changing how IntelliSense results are presented to screen readers by exposing suggestions as list items, thereby allowing NVDA and other screen readers to take care of it through logic that ships with them. For short-term, perhaps live region change or name change could suffice, but this again could becom

[2019-04-01 20:44] Adriani90 commented on #6901
I think this is not a very good solution due to following reasons:

1.	Users expect actually to see the content of the previous cell when
pressing the left scroll key
2.	More and more users request a feature where NVDA displays more than
one cell on a braille line (especially for cells containing numbers).
3.	What happens if you scroll to the left and see the column header and
then press a routing

[2019-04-01 21:01] ruifontes commented on #6901
Adriani, when you scroll back you use the panLeft key...

Rui Fontes

Às 21:44 de 01/04/2019, Adriani90 escreveu:

[2019-04-01 21:09] DanteGagne commented on #8336
Hey folks, I'm Dante Gagne and I'm the accessibility driver for Visual Studio. My responsibility is coordinating the various efforts around Visual Studio and the sister products to be compatible with today's ATs.

Joseph, I completely agree with your assessment as far as engaging with the Visual Studio team, and our overarching goal here is for a solid experience with all ATs. The Intellisense exp

[2019-04-01 22:22] francipvb commented on #8336
Right, I've tested Visual studio with JAWS 2019 (demonstration mode) and it works very well.

I think that the right approach would be to see what JAWS does right related to UIA and accomodate NVDA's code to work the same, but I prefer to let this decision to NVDA project members. It would propagate a better functionality to UIA support in general.

About IntelliSense tooltips and screen readers,

[2019-04-01 23:38] fernando-jose-silva commented on #6828
I tested it with all the updated software
windows 10 17763.379 nvda alfa 16976
and the problem continues
The way of testing is the same as stated above:
open a directory and create 3 folders with the names
apartamento
casamento
conta
walk to the top of the list with home
press ca
the folder in focus is casamento
the last reading of letter (a)
And do not read the name of the folder in focus wedding

[2019-04-02 00:05] josephsl commented on #8336
Hi,

I'm thinking more towards using Narrator as an example in Windows 10.

Update: I'm working on it at the moment.

Technical: do not rely solely on automation ID - class name is more reliable. Also, because too many name change events are fired, use something more useful such as UIA item status event (NVDA tracks this event from 2019.1 onwards). I'm performing some event handling tests to deter

[2019-04-02 00:30] josephsl commented on #8336
Hi,

For anyone planning to work on resolving this:

1. Do not use name change event unless we get really compelling justifications regarding its superiority over other events.
2. Try using UIA item status event. Note that you need to be careful about this, as it announces highlighted IntelliSense items twice; item status text differences are seen, which is the way to detect what element to announ

[2019-04-02 00:35] jcsteh commented on #6793
What behaviour on Gmail exactly?

[2019-04-02 00:37] jcsteh commented on #9230
If you press NVDA+tab after pressing enter to close the dialog, does NVDA say "unknown"? If so, this is https://bugzilla.mozilla.org/show_bug.cgi?id=1190882. I actually have a patch for this, but need to polish it and got sidetracked by other work.

[2019-04-02 00:41] jcsteh commented on #9421
Just to clarify:

Do you mean you have intentionally disabled "Automatic focus mode for focus changes" in NVDA's Browse Mode settings? (This is fine; I just need to be sure I understand what you're saying here.)

[2019-04-02 02:03] fernando-jose-silva commented on #9421
Thank you very much.
Yes, I changed the settings of the nvda.
disabled "Automatic focus mode for focus changes" in NVDA's Browse Mode settings.

[2019-04-02 02:14] Qchristensen opened #9435 "Explorer.exe crashes in Windows 7 when start menu accessed with the mouse."
### Steps to reproduce:

On Windows 7:
1. Click on the Start button to open the start menu.
2. Move the mouse over a couple of the items in the start menu as if to select something.

### Actual behavior:

Explorer.exe stopped responding, and was restarted by Windows.
Intiailly I used SAPI 5 voice, and the log contained:
"DEBUGWARNING - eventHandler.executeEvent (11:39:07.355):
error executing even

[2019-04-02 02:16] Qchristensen commented on #9435
I also meant to add, accessing the Start menu with the keyboard works fine.

[2019-04-02 03:51] josephsl opened #9436 "Appx: exclude ARM64 lib folder from included in AppX package"
### Is your feature request related to a problem? Please describe.
As of NVDA 2019.1, ARM64 libraries are included to interface with 64-bit ARM versions of several apps, notably Firefox. While these libraries are needed in regular distribution, Windows Store version might not allow this. In fact, the sconscript file for AppX excludes ARM64 lib folders from list of files/folders to be excluded from

[2019-04-02 03:52] jcsteh commented on #9421
Technical: This occurs because the list items contain other elements; labels, etc. After #9166, We now render the list item into the buffer. Unfortunately, that also means we render its descendants, including labels, etc. So, when you press enter, we ask whether the label (the deepest element under the cursor) needs focus mode, and since labels don't normally need focus mode, the answer is False.

[2019-04-02 04:03] DrSooom commented on #9435
Does this issue also occur if mouse tracking (NVDA+M) is disabled?

[2019-04-02 04:19] josephsl opened #9438 "AppX: developer scratchpad setting is visible when it should not"
Hi,

This issue requires testers to download a side loadable version of NVDA (Windows 10):

### Steps to reproduce:
1. Install Windows Store edition of NVDA.
2. With Windows Store version of NVDA running, open NVDA menu/Preferences/Settings/Advanced.
3. After accepting the disclaimer, tab through this panel.

### Actual behavior:
Developer scratchpad option is visible.

### Expected behavior:
Beca

[2019-04-02 07:48] Brian1Gaff commented on #6846
Do you envisage a lot of app modules giving problems as well as add ons?

I think the development cycle for such a big change is probably going to be
longer than the norm to avoid things looking worse than the current version.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Ori

[2019-04-02 08:00] Brian1Gaff commented on #9435
It does but there is something odd from time to time when reviewing
characters ie actual spelling using the review modes that can end in the
explorer has stopped working issue as well. Often I've seen strange things
going on in older copies of Word resulting in the machine needing a reboot.
Hard to get a log in such situations I find. Its only worse in the latest
version of nvda.
 I do not use the

[2019-04-02 08:41] jozefbriss commented on #8960
We have a similar issue with role="treeview" / role="treeitem" and aria-current. "current" is repeated several times up to 5. It really gets annoying quickly.

[2019-04-02 08:51] winman3000 opened #9439 "Upgrade to Liblouis 3.9.0"
Please upgrade to the latest Liblouis version, as this fixes lots of German Braille issues.

[2019-04-02 10:36] leonardder commented on #9439
There's pull request #9346 for this.

[2019-04-02 11:17] francipvb opened #9440 "Upgrade to comtypes 1.1.7"
### Is your feature request related to a problem? Please describe.

I saw that UIA is a bit slow than other screen readers (in stable releases), but after some testing I saw a better performance with this version of comtypes, not so much, but it is notable.

### Describe the solution you'd like

I don't know what should be the correct solution, because a comment from @leonardder on #8522. I was se

[2019-04-02 12:10] leonardder commented on #9440
There were some issues with comtypes 1.1.3, most notably causing the Handy Tech classic braille driver to stop functioning. See #7831. This was fixed in #8213, but than we had to switch back to https://github.com/enthought/comtypes/commit/edbaf3bfb7b0c68daa6ee8eac4a770dc66e296ec because https://github.com/enthought/comtypes/commit/98f6a42e8b452c67a65848d1c4476fb37df2aa6a introduced another bug. Se

[2019-04-02 12:15] leonardder commented on #9436
I'm not convinced that ARM64 libs are not allowed. How is the Windows Store version of NVDA on ARM64 supposed to communicate with Firefox for ARM when we exclude these libraries?

[2019-04-02 18:07] elliott94 commented on #6879
This is still reproduceable for me. :)

[2019-04-02 18:59] elliott94 commented on #7086
I haven't seen this on higher-end hardware for a while - closing for now.

[2019-04-02 18:59] #7086 closed

[2019-04-02 22:37] Qchristensen commented on #9435
With mouse tracking disabled, the crash doesn't happen.

Brian, re crashes which require a reboot - in the %temp% folder, where the nvda.log is kept, there is usually an nvda-old.log which is the log from the previous time NVDA was run.  If you look for that file when you restart the computer, it should have just about everything NVDA recorded about what it was doing.  Also re the problems with is

[2019-04-03 07:14] Qchristensen opened #9442 "Mouse movement in chrome context menu reads every item"
Initially reported by a user (DM on twitter) and reproduced by me.

### Steps to reproduce:

1. Press the context menu key or right click the mouse in a web page in Chrome
2. move the mouse down through the items quickly enough that it should skip some.

### Actual behavior:

NVDA reads every menu item completely that the mouse moves over (if the mouse is moved sideways out of the menu, down, and

[2019-04-03 08:28] SilvioJeschofnik opened #9443 "Img with aria-hidden="true" cannot be used as target for aria-describedby in IE and Firefox"
When using an aria-hidden image as description for a link, NVDA  ignores it in Firefox. In Chrome it behaves as expected.

Having the following code:

`<a href="#" aria-describedby="Icon" >
  <img id="Icon" title="PDF" aria-hidden="true" alt="PDF" src="PdfIcon.png">
  <span>Document</span>
</a>`

NVDA announces

- Firefox: "Document link"
- IE: "Document link"
- Chrome: "Document link PDF"
- Edge:

[2019-04-03 08:57] leonardder commented on #9443
Firefox no longer renders aria-hidden content in the accessibility tree, so NVDA doesn't know about the hidden image at all I believe. Why do you actually want to set aria-hidden on the image?

[2019-04-03 09:24] SriNandiniG opened #9444 "In detailslist component of office ui fabric react, when we tab to each row,NVDA mention the word row twice"
### Steps to reproduce:
https://codepen.io/vitalius1/pen/OqerJN

### Actual behavior:
when we navigate to the rows in the fable, nvda mentions all the details in the table follow by row row 4(i.e, row number). for example, in the codepen given when we navigate to the first row nvda reads it as Lorem ipsum.vsdx Dolor Sit 62kb row row one

### Expected behavior:
NVDA should not mention the row twice

[2019-04-03 09:26] DrSooom opened #9445 "Update CLDR 34 to CLDR 35"
### Actual behaviour:
NVDA 2019.1 uses CLDR 34.
### Expected behaviour:
NVDA should use CLDR 35, which was released on March 27, 2019.
See also: http://cldr.unicode.org/index/downloads/cldr-35
CC: @leonardder and @michaelDCurran

[2019-04-03 09:27] SilvioJeschofnik commented on #9443
When I use a separate hidden span (which will be the way to go for now), it works, even if it is aria-hidden.

I don't want the descriptive content to be read before the actual content, but the image should be rendered before the text. When using the separate span, I need to render the text "PDF" a third time, what I wanted to circumvent.

[2019-04-03 09:28] MichaelKetting commented on #9443
@leonardder yes, aria-hidden removes the elements from the accessiblity tree, similiar to HTML hidden=hidden attribute, just only for AT instead of UI and AT. The thing is, content referenced via aria-describedby and aria-labelledby will be read even if it's not part of AT. And it works in Firefox 66 for other places, e.g. wenn you use a hidden or aria-hidden element as a label or description for

[2019-04-03 09:33] DrSooom commented on #6341
@leonardder: Just a ping. Any thoughts regarding my last suggestion?

[2019-04-03 11:37] leonardder commented on #9445
Thanks for bringing this up. The github repo we use for this has to be updated for this. See https://github.com/fujiwarat/cldr-emoji-annotation/issues/2

[2019-04-03 11:43] leonardder opened #9446 "SCons doesn't detect Visual Studio 2019 properly, which may cause build issues as soon as appveyor updates its images"
### Steps to reproduce:
1. Install Visual Studio 2019, delete 2017
2. Try to build NVDA

### Actual behavior:
SCons prints an error that it couldn't find the universal platform components.

### Expected behavior:
SCons prints an error indicating that Visual Studio 2017 is required

#### Additional details
Testing on my system reveals that SCons detects VS2019 as version 14.1, rather than 14.2. I t

[2019-04-03 14:21] leonardder commented on #9443
cc @jcsteh

[2019-04-03 16:32] RD-Brown opened #9447 "In Google Chrome, NVDA does not read pop-up link information"
When a pop-up link is used to provide additional contextual information, such as a word’s definition, NVDA does not read the additional information when the link is activated.  (TestNav, Pearson’s test delivery platform, is used to demonstrate this error inside Google Chrome.)

### Steps to reproduce:
1.	In Chrome, go to link:
https://ref.testnav.com/client/index.html#login?username=LGN522573008&p

[2019-04-03 16:48] feerrenrut opened #9448 "Can not copy settings to system profile [fresh install]"
### Steps to reproduce:
1. Uninstall NVDA
1. Remove user profile from `%appdata%/nvda`
1. Remove system configuration profile from `C:\Program Files (x86)\NVDA\systemConfig`
1. Install NVDA
1. Attempt to "Use currently saved settings on the logon and other secure screens (requires administrator privileges)" (button on the general settings panel [`NVDA+control+g`])

### Actual behavior:
An error so

[2019-04-03 16:54] josephsl commented on #9448
Hi, perhaps a leftover from pre-scratchpad commits? Thanks.

From: Reef Turner <notifications@github.com>
Sent: Wednesday, April 3, 2019 9:49 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Can not copy settings to system profile [fresh install] (#9448)

Steps to reproduce:

1.	Uninstall NVDA
2.	Remove user profile from %appdat

[2019-04-03 17:00] feerrenrut commented on #9448
Thanks Joseph. Yep, I have a fix on it's way.

[2019-04-03 21:50] Adriani90 commented on #9333
@Adriorjalesvidal could you please test with last NVDA Alpha and see if the issue is still happening?

The last alpha is here:
https://ci.appveyor.com/project/nvaccess/nvda/build/alpha-16982,01118965

[2019-04-03 21:52] Adriani90 commented on #9004
@jacobchawala could please test once more with NVDA 2019.1? There were significant improvements in this version with regard to performance. Thanks!

[2019-04-03 21:56] Adriani90 commented on #8834
cc: @jcsteh

[2019-04-03 21:58] Adriani90 commented on #9289
This seems to be solved now, cc: @nvdaes. Can someone also confirm it? If so, then we ca close it I guess.

[2019-04-03 22:08] Adriani90 commented on #6793
Ok just ignore my last comment, the behavior in GMail where table navigation didn't work is solved in Firefox 66.0.2. @munawarb could you please test with Firefox 66.0.2 and NVDA 2019.1 if the transaction table works now? Thanks!

[2019-04-03 22:13] jscholes commented on #9289
The add-on manifest is fixed and a new version has been released.  I'm happy for it to be closed.

[2019-04-03 22:24] Adriani90 commented on #8808
@fernando-jose-silva this is solved in Firefox 66.0.2. At least it works for me with NVDA 2019.1. Can you confirm?
The chrome issue is still valid, but this could be also due to implementation aspects and how the browser exposes the table to NVDA. See i.e. the statement from @feerrenrut in #7852. I think there is no way to provide a consinstent heuristic to distinguish between different table stru

[2019-04-03 22:28] Adriani90 commented on #8471
This issue is still reproducible in NVDA 2019.1 and Windows 10 1809 update.

[2019-04-03 22:30] Adriani90 commented on #8794
@fernando-jose-silva so I am understanding correctly that this issue is now solved? Or are you still having it?

[2019-04-03 22:33] Adriani90 commented on #8783
@tspivey, @fernando-jose-silva, @ryok141, @Rob-Hudson could anyone of you give a short update with NVDA 2019.1 and last Windows 10 update? Did you encounter the issue in the last several weeks?

[2019-04-03 22:41] Adriani90 commented on #8462
@amirsol81, @ghost are you still able to reproduce this on the link in the issue description? I cannot reproduce it in NVDA 2019.1 and Chrome 73.
@netblue44, @munawarb many table issues seems to be solved in Firefox 66.0.2, including the gmail interface.

[2019-04-03 22:45] Adriani90 commented on #8330
I cannot reproduce this anymore in Firefox 66.0.2. @derekriemer can you confirm?

[2019-04-03 22:47] Adriani90 commented on #8112
@fernando-jose-silva Could you please test with NVDA 2019.1 and Chrome 73? Can you still see this issue? I cannot reproduce it.

[2019-04-03 22:49] Adriani90 commented on #8111
This issue is also potentially fixed by fast browse mode. cc: @mltony

[2019-04-03 22:51] Adriani90 commented on #8087
This could also be fixed by fast browse mode. cc: @mltony

[2019-04-03 22:52] Adriani90 commented on #8211
This will also probably be fixed by fast browse mode. CC: @mltony

[2019-04-03 22:55] Adriani90 commented on #7911
@nidza07 could you please test with last NVDA Alpha if this issue is still occuring? The last Alpha version is here:
https://ci.appveyor.com/project/nvaccess/nvda/build/alpha-16982,01118965

Thanks!

[2019-04-03 22:59] Adriani90 commented on #7755
@bhavyashah, @khsbory I am testing with Chrome 73 and NVDA 2019.1. I cannot reproduce this issue. Are you still able to reproduce it?

[2019-04-03 23:01] Adriani90 commented on #5115
@elliott94 I am testing several website in Firefox 66.0.2 where such issues occured before and now I cannot reproduce it anymore. I am testing with NVDA 2019.1. Are you still seeing this issue? Thanks!

[2019-04-03 23:04] Adriani90 commented on #7529
@Cambridgeport90 could you please test with NVDA 2019.1 if this issue is still occuring? if so, could you please upload the log file which you generate by pressing nvda+f1? Thanks!

[2019-04-03 23:08] Adriani90 commented on #7141
Still reproducible in NVDA 2019.1 and Firefox 66.0.2.

[2019-04-03 23:09] Adriani90 commented on #7359
@robertspangler are you still having this issue in NVDA 2019.1?

[2019-04-03 23:13] Adriani90 commented on #7116
@dkager, @PratikP1, @derekriemer could anyone of you please test if this issue is still occuring? Unfortunately I do not have a braille display at hand to test. Thanks!

[2019-04-03 23:33] josephsl commented on #9436
Hi,

Same can be said about 64-bit Firefox on x64 processors at this moment - I just tested a side loadable copy of NVDA I've got, ran Firefox 66 64-bit version, and got error 1775 (NULL context handle). In short, unless Store policy has changed, DLL injection isn't allowed for Store apps.

Thanks.

[2019-04-03 23:47] #9436 closed

[2019-04-04 01:05] fernando-jose-silva commented on #8111
Thank you very much.
I am no longer a corporate gmail user.
I tested using gmail's non-commercial user account and could no longer replicate the problem.

[2019-04-04 01:18] fernando-jose-silva commented on #8112
Strange, I took the test now and I was able to replicate the problem again.
Open a new message in gmail.
In the field, press enter.
type a letter in case I typed s.
Now automatically the nvda went out of focus mode and went to Browse mode.
Hope the nvda continued in focus mode.
The automatic switching between focus mode and nvda Browse is disabled.
nvda alfa 16976
chrome 73
thank you.

[2019-04-04 01:19] fernando-jose-silva commented on #8112
log:
[gmail.txt](https://github.com/nvaccess/nvda/files/3041307/gmail.txt)

[2019-04-04 01:21] dingpengyu commented on #9446
hi leonardder
I read the AppVeyor Platform Updates page, the official version of visual studio2019 has not been updated
This is the page address:
https://www.appveyor.com/updates/

[2019-04-04 01:23] fernando-jose-silva commented on #8794
perfect, everything solved.

[2019-04-04 01:30] fernando-jose-silva commented on #8808
Thank you very much.
I confirmed, in firefox everything works fine, in chrome it's in trouble.

[2019-04-04 02:08] fernando-jose-silva commented on #8783
I have found the problem in the last few weeks, but now it occurs much more sporadically, say, 2 times a week.

[2019-04-04 03:38] #9438 closed

[2019-04-04 03:54] Cambridgeport90 commented on #7529
I can certainly do that for you. I actually had forgotten I’d entered this issue, so thanks for the reminder!

From: Adriani90 <notifications@github.com>
Sent: Wednesday, April 3, 2019 7:05 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Katherine M. Moss <KMoss@WinterHillSolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA fails to read checked or unchecked in

[2019-04-04 03:58] #9364 closed

[2019-04-04 04:02] josephsl commented on #7529
Hi Kat, if you don’t mind, can you try duplicating this in Server 2019 as well (with Desktop Experience installed)? Thanks.

From: Katherine Moss <notifications@github.com>
Sent: Wednesday, April 3, 2019 8:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA fails to read checked or unch

[2019-04-04 09:35] Adriani90 commented on #8794
Closing as works for me.

[2019-04-04 09:35] #8794 closed

[2019-04-04 10:31] adamsamec opened #9453 "Quick switching of windows of current application"
I am missing a keyboard command which would show a list of the opened windows of the currently active application only and let me select the window which I want to switch to.

### Is your feature request related to a problem? Please describe.
I am always frustrated when I have to Alt + tab through all the opened windows of all the running applications to find the one that I want to switch to.

###

[2019-04-04 10:33] lukaszgo1 commented on #9289
While this particular add-on is fixed they maybe others with the same problem - I've explained it above. Even dev guide uses strings without quotes. There is a #8594 for this, but there was no activity on it for almost 8 months. In short at the minimum we should merge #8594 as soon as possible and ideally the fields other than compat values shoullnd't be validated.

[2019-04-04 12:44] Cambridgeport90 commented on #7529
Will do, certainly! I don’t currently have a Windows server 2019 install up to play with at the moment, but I will ideally shortly.

From: Joseph Lee <notifications@github.com>
Sent: Thursday, April 04, 2019 12:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Katherine M. Moss <KMoss@WinterHillSolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA fails to read

[2019-04-04 14:37] DrSooom commented on #9453
Win+1 to Win+9 (and maybe Win+0 too). You can also combine these hotkeys with Shift (new instance) and Alt (Jumplist). But I'm not sure if they are still the same on Windows 10. They were introduced with Windows 7. And ALT+ESC (firm switching order) instead of ALT+TAB is also possible. And Win+T moves the focus to the task bar, where you can navigate between its entries (include grouped entries) v

[2019-04-04 14:59] MarcoZehe opened #9454 "In UWP applications, if a link contains visible text as the name, it is not announced by NVDA"
### Steps to reproduce:

Found while using the [Unigram](https://www.microsoft.com/store/apps/9n97zckpd60q) Telegram client, which is an UWP application.

1. Set up a [Telegram](https://www.telegram.org) account if you don't have one.
2. Download Unigram from the above Store link and connect it to your account.
3. Create a conversation, and ensure that you have at least one reply in there:
   1. F

[2019-04-04 15:06] fernando-jose-silva commented on #9389
If we could return to investigate this problem a little more or less 1 week ago I have this problem again even with the reading panel disabled, there may be some other question that is causing the items not to be read in the box. input.
[outlook.txt](https://github.com/nvaccess/nvda/files/3044120/outlook.txt)

[2019-04-04 15:27] MarcoZehe commented on #9454
Additional info: Narrator does speak the link properly.

[2019-04-04 16:42] fernando-jose-silva commented on #8783
I just got a log of a delay in nvda's response.
I opened windows explorer.
I started navigating the folders with the arrow keys.
As soon as I opened windows explorer the nvda was mute.
While navigating with the arrows the nvda also remained mute for about 12 seconds.
Until you started reading the items with focus.
The arrows moved around the screen even with nvda without speech because I was alrea

[2019-04-04 17:11] fernando-jose-silva opened #9455 "Automatic reading of window title when navigating shortcuts in windows toolbars"
### Steps to reproduce:
Press
windows + alt + numbers from 1 to 9.
Each time you walk through an item windows displays the shortcuts on the items in the taskbar.
For example on my machine in the current section.
windows + alt + 1 shows the shortcuts to microsoft hedge.
now press windows + alt + 2 on my machine windows now displayed shortcuts to outlook.
When we press windows + alt + numbers and na

[2019-04-04 18:52] elliott94 commented on #5115
Happy to close for now; I haven't seen this for a while.

[2019-04-04 21:18] Adriani90 commented on #9453
Windows+tab or ctrl+alt+tab already displays a list of opened Windows. After pressing, you can navigate with left and right arrow through all the opened windows. To switch to a window, press enter on it.

[2019-04-04 21:19] Adriani90 commented on #9453
So there are several confortable solutions already in place.

[2019-04-04 21:26] Adriani90 commented on #9455
@fernando-jose-silva I am testing with NVDA Version: alpha-16982,01118965 and the title is recognized automatically. Did you enable object descriptions in NVDA's object presentation settings?

[2019-04-04 21:28] Adriani90 commented on #9455
I know from other issues that you use the addon global plugin extensions from @paulber007. Unfortunately it seem this addon produces some conglicts in last versions of NVDA. So please, if you don't mind, try to reproduce your problems after disabling that addon.

[2019-04-04 21:30] Adriani90 commented on #9453
Thus, I am closing this one as won't fix. Please comment on it with arguments and suggestions and we can reopen it. Thanks!

[2019-04-04 21:31] #9453 closed

[2019-04-04 21:33] Adriani90 commented on #6828
@fernando-jose-silva is the addon global plugin extensions enabled? Could you please disable it and try to reproduce the issue again?

[2019-04-04 21:38] Adriani90 commented on #8783
@fernando-jose-silva, as stated in other issues already, please try to reproduce this issue after disabling global plugin extensions addon. This one seems to be related to commandkeyselectiveannouncement and remanence which is probably enabled in global plugin extensions. Thanks.

[2019-04-04 21:46] Adriani90 commented on #9230
Yes it say unknown when pressing nvda+tab. Thanks Jamie very much for your reply. That sounds great.

[2019-04-04 21:48] mxcosu commented on #8023
This is still an issue with Edge - tested with both Jaws and NVDA

[2019-04-04 21:49] Adriani90 commented on #5115
Thanks for confirming. Just comment on it if you have this issue again and we can reopen it.

[2019-04-04 21:49] #5115 closed

[2019-04-04 23:08] munawarb commented on #6793
Hi @Adriani90, I still get the problem for the Capital One website. I tried to look at the HTML but it seems like they're running a web application and their page is rendered completely using JavaScript, so I couldn't poke around at the the raw HTML.

I noticed that NVDA is saying "table with 1 row and 0 columns" and, while it's announcing "header cell" for the different cells, it's as if the cell

[2019-04-05 00:18] adamsamec opened #9459 "Make NVDA Find dialog search whole screen"
It would be practical if the NVDA find dialog was able to find text in whole screen, not just in the current document. E.g., one could then use it to find an item in the tree view of folders in the File explorer, or to find a specific checkbox in a dialog.

### The problem.
Sometimes, a dialog is too complex to tab over all of its items to find the correct one, or there is a need to quickly jump f

[2019-04-05 00:37] fernando-jose-silva commented on #9455
Thank you very much.
The machine with problems is my machine.
To my surprise and happiness on my personal machine everything works fine.
There is some configuration of windows or nvda conflicting.
You can close the call, I'll investigate on my account because it's not a general problem of nvda.

[2019-04-05 01:00] fernando-jose-silva commented on #6828
In c
[w2.txt](https://github.com/nvaccess/nvda/files/3045963/w2.txt)
ase of this problem I disabled the add-ons and managed to reproduce the problem.
log:

[2019-04-05 01:10] adamsamec opened #9460 "Quicker switching of windows and applications"
I am missing two following keyboard commands. The first command would show a list of the opened windows of the application in the foreground only and let me select the window of that application. Selecting the window from that list and pressing Enter would switch me to that window. The second command would show a list of running applications and let me choose the application I want to switch to, o

[2019-04-05 01:16] josephsl commented on #9460
Hi, not to come across as sounding a bit annoyed, but isn’t this something you’ve raised a few hours before? If so, I think it would be helpful to close the earlier issue, as this one is a bit more detailed. As for the second suggestion, I recommend taking a look at SystrayList add-on. But even then, we must keep in mind that macOS and Windows work differently when it comes to task switching, inte

[2019-04-05 01:37] fernando-jose-silva commented on #8783
I disabled the add-ons in question, if I understood correctly which add-ons are:
Do you have the name of the generally problematic add-ons?
In any case if we can wait for some time until I see if the problem returns, maybe a couple of weeks.

[2019-04-05 01:38] josephsl commented on #9459
Hi,

Technically, it is doable. However, I would add a note of caution: operating system differences, and consequently, differences in how VoiceOver and Windows screen readers such as NVDA operates and mindset of people behind them.

Think of it this way: you have two pictures of a landscape (say, a mountain) that appears to be colored the same. But upon closer inspection, it is found that they us

[2019-04-05 03:40] DrSooom commented on #9460
@adamsamec: If you pin the most important applications to the task bar, their position on it would be always firm. Ergo Win+1 to Win+9 should no longer be a problem.

I have pinned the following applications on the task bar: Windows Explorer, Mozilla Firefox, Windows Media Player, Microsoft Outlook and Mozilla Thunderbird. And on the NUC, on which I'm working more with Notepad++, I put this one on

[2019-04-05 03:50] larry801 commented on #9460
There is a stand alone application with this feature in windows.
Easy window switcher
https://neosmart.net/EasySwitch/

[2019-04-05 04:24] DrSooom commented on #9459
See also: issue #7330, #7415, #7422, #7759, #7855, #8567 and a few more as well as PR #7331.

[2019-04-05 04:43] Adriani90 commented on #9460
Ok I understand now the real purpose. Thank you for details. I think an addon could make sense here, since as a local user i.e in corporate environvent, you are not allowed to install stand-alone applications by yourself.

[2019-04-05 06:10] paulber007 commented on #9455
Hello,
being the author of the addon cited, I am very interested to know the
possible inconveniences produced by the addon.
Can you tell me describe them to you in private.
Thank you.

Paul.

Le 04/04/2019 23:28, Adriani90 a écrit :

[2019-04-05 07:11] k-kolev1985 opened #9461 "Incorrect behavior of NVDA when interacting with icons in the system tray"
### Steps to reproduce:
1. Launch NVDA.
2. Install first if not installed and launch if not already running the desktop version of "OneDrive". It is required to reliably reproduce the issue.
3. Press Windows+B to move the system focus to the system tray.
4. Use UP/DOWN arrows to move between the icons in the system tray.
5. Go to the icon of "OneDrive" and try to interact with it via the keyboard

[2019-04-05 07:48] Adriani90 commented on #8783
Fernando this is hard to say which addons might cause conflicts. We can just make assumptions based on experience from other People. We must test things case by case and then decide if an addon was the Problem or not. Here is quite clrear that in the log golobal plugin extensions influences your Input and this could have some implications on the Cursor movement. That's why I think the addon causes

[2019-04-05 07:59] DataTriny commented on #9461
This behavior seems to be here on purpose, here is what I found in the explorer app module:

[code]

I confirm that OneDrive's tray icon can be activated via the keyboard if NVDA is closed (Windows 10 version 1809, NVDA 2019.1).

[2019-04-05 08:39] Adriorjalesvidal commented on #9333
Hi
I will test it in a couple of hours, i’ll keep you in touch

[2019-04-05 08:48] Brian1Gaff commented on #9459
nvda/b although it has its issues, like eternally reading the same bit due
to weird info from a piece of software, It would be perhaps good if this
command could also search for a string and pause when it came to it, then
allow the mouse or cursor to be focussed there. Now whether this would do
any good is going to depend on what it actually is of course.
 Interestingly sometimes this command will

[2019-04-05 08:53] Brian1Gaff commented on #9460
Funny this, as several sighted people have the exact same issue at not
knowing which bit of which visible window to click on for the version of an
app they want to get to. Is this not why Microsoft are asking for feedback
on changing the use of alt/tab and extending it?
 It is I think a limitation in Windows for all not something that a
screenreader can in fact do very much about.
 Brian

bglists@

[2019-04-05 08:57] Brian1Gaff commented on #9461
This is a repeat of one a few weeks back if I'm not mistaken.
 I'm not sure but I think its possibly the active state of the one drive
icon which is the cause of this on a screenreader.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-05 09:54] DrSooom opened #9462 "Add an option to enable/disable the mouse movement to the left top corner after the systray got focus"
### Steps to reproduce:
1. Press WIN+B to move the focus to the systray.
2. Press ArrowLeft once.
### Actual behaviour:
Quote from [@DataTriny's comment on issue #9461](https://github.com/nvaccess/nvda/issues/9461#issuecomment-480184474):

The mouse cursor will be moved by default to the left top corner of the screen after the focus went into the list of icons in the systray.
### Expected behaviou

[2019-04-05 09:59] DrSooom commented on #9461
@DataTriny: Thanks a lot for this hint. I didn't recognize this until now. It's the same mouse movement on Win7x64 after the Systray got focus. I opened issue #9462 regarding this right now.

[2019-04-05 11:15] leonardder commented on #4703
I'm pretty sure this is fixed in #9427.

[2019-04-05 11:38] Adriani90 commented on #9455
Hey Paul, thanks very much for commenting! As of now we are not sure where all conflicts occure and if this is something only caused by this addon. But some users Report different conflicts in MS Word for example, where expanding Combo boxes in browse mode with alt+down arrow etc. is not working properly. Table Navigation and and paragraph Navigation in MS Word are also affected when using the add

[2019-04-05 12:24] DataTriny commented on #9462
Hi @DrSooom,

Of course, this would just be a dirty workaround. If the mouse is over a tray icon, it would be impossible to navigate the whole notification toolbar. This behavior can be seen both with Windows Narrator and JAWS.

@michaelDCurran, @jcsteh, @josephsl, @lukaszgo1, @leonardder, @dkager: can the person who added this piece of code explain why moving the mouse over the focused icon is no

[2019-04-05 12:36] leonardder commented on #4703
@Dkager: Could you test [this](https://ci.appveyor.com/api/buildjobs/j0g2x4o86gfa95tn/artifacts/output%2Fnvda_snapshot_try-npp_linewrap_fix-17014%2C1ef873e6.exe) try build?

[2019-04-05 14:06] Adriorjalesvidal commented on #9333
Hi, I am using NVDA 2019.1 and the issue have been  fixed when i’ve updated it from 2018 latest version
By the way, please put the spotlight into the issues when navigating letter by letter, because the focus usually says two times the same character and it happens in most applications but no in Windows native, except into Mail app.
Please if you want me to put it into GitHub make me know it.
Than

[2019-04-05 14:15] paulber19 commented on #9455
Thank you Adriani for your response.
It is a shame, because to this day, I have not been aware of the issues
that you me entionnez.
This means that there are not so frequent as this, and the addon is not
necessarily likely to be the cause of any malfunction of NVDA.
I'm going to try to reproduce the case you have described to detect
potential problems with the addon and waits for the other cases.

[2019-04-05 14:46] lukaszgo1 commented on #9462
It was introduced by @jcsteh in 67f792b9f3291101697bb2aeb768fd8ea979365f

[2019-04-05 14:55] Adriani90 commented on #9455
Hey Paul, I am sorry I did not intend to offend you or the addon. But for me it is easier to conclude if something is caused by an addon if I advice an user to disable a certain addon. Given the fact that I got those reports from users and that I saw the related functions of the addon impacting input in the issue referenced above, I concluded that it might cause a conflict and that's why NVDA does

[2019-04-05 14:55] #9455 closed

[2019-04-05 14:58] Adriani90 commented on #8783
@paulber007 this is
the issue in question. As it is hard to reproduce, we are depending on tests carried by Fernando. Thus, first of all we need to find out if it is really caused by an addon.

[2019-04-05 15:01] Adriani90 commented on #9333
Could you please give exact stept to reproduce the issue when navigating character by character? I cannot reproduce it in NVDA 2019.1.

[2019-04-05 15:06] Adriani90 commented on #7911
I am testing with NVDA 2019.1, the issue is not occuring anymore. Closing as works for me. Please comment on it if you stillhave this issue and we can reopen it. Thanks!

[2019-04-05 15:10] fernando-jose-silva commented on #8783
follows the log of 1 more of these locks.
If you recommend disabling any more test addon, you can talk.
[w3.txt](https://github.com/nvaccess/nvda/files/3048529/w3.txt)

[2019-04-05 15:12] Adriani90 commented on #6720
I am closing this as works for me, see Quentin's comment above. Thanks and sorry for missunderstanding the comment. :-)

[2019-04-05 15:12] #6720 closed

[2019-04-05 15:17] josephsl commented on #7911
Hi,

Caused by same problem as #9341 - COM error exception not handled, actually resolved in 2019.2, not 2019.1. The reason why people won't come across this in 2019.1 is due to Windows 10 App Essentials add-on shipping with the fix for this bug.

Thanks.

[2019-04-05 15:26] Adriorjalesvidal commented on #9333
Open Mail app in Windows 10.
Select an email
Tap answer button
Activate focus mode pressing NVDA + space,  to be able to write letters such as h or d without beeing played as navigation shortcuts by NVDA,
You can write some sentences to test this bug now, and after you can navigate with arrow keys left, right, up or down and you can see that several times the screen reader repeats the same charact

[2019-04-05 15:39] Adriorjalesvidal commented on #9333
Hi again

In a previous email i’ve told you that the issue of nvda unresponsive when clicking a link from mail app in Windows 10 were fixed updating the nvda version to 2019, but when i answer your email NVDA fall lost again.

Sorry, but this issue is very difficult to explain because is not happening always. It not depends on clicking a link but it only happens when using Mail app.
I am trying to

[2019-04-05 16:10] DataTriny commented on #9333
Hi @Adriani90,

Like #7911 you just closed, the problem described here is solved by the Windows 10 App Essentials. So it would be nice to integrate the fix in NVDA core if possible.

CC @josephsl

[2019-04-05 16:13] Adriani90 commented on #8432
Here is the whole developer info when reproducing this issue in NVDA 2019.1 with Open Office 4.1.6:

[code]

[2019-04-05 16:13] Adriani90 commented on #8432
In Libre office 6.2.2 the problem is not occuring.

[2019-04-05 16:15] josephsl commented on #9333
Hi,

If this is another confirmation of #9341, then yes, resolved in NVDA 2019.2. People running 2019.1 and Windows 10 App Essentials won't experience this bug - in short, I have resolved this first from that add-on, and then sent the bug fix to NV Access for inclusion in 2019.2.

Thanks.

[2019-04-05 16:15] Adriani90 commented on #8152
@lallerke1 could you please upload an example document so we can reproduce this issue? Thanks!

[2019-04-05 16:20] Adriani90 commented on #4498
It seems we unfortunately do not have any response from the author since 5 years. I tend to close this issue. But before doing that, maybe someone with a braille display could test quickly.
cc: @Qchristensen, @novalis7747, @dkager, @bramd, @leonardder.

[2019-04-05 16:39] Adriani90 commented on #4119
Hm, after how many lines approximately NVDA stops speeking? I am trying to reproduce it with NVDA 2019.1 in Open office 4.1.6 but I cannot. I wrote about 20 lines of text.

[2019-04-05 16:43] Adriani90 commented on #4119
Ok I could reproduce this issue with following document attached.

[2019-04-05 16:44] Adriani90 commented on #4119
[ONKYO.docx](https://github.com/nvaccess/nvda/files/3048869/ONKYO.docx)

[2019-04-05 16:45] Adriani90 commented on #4119
It seems the issue occurs only in big documents. When you try to navigate with arrow keys, no chance to read it. There are following errors written to the log and I guess this is the reason why say all does not work as expected.

[2019-04-05 16:50] Adriani90 commented on #4119
[code]

[2019-04-05 16:50] Adriani90 commented on #4119
the main part should be this:
[code]

[2019-04-05 16:52] Adriani90 commented on #4119
the deeloper info for a character while trying to focus it with the carret by pressing arrow keys loks like this:

[code]

[2019-04-05 16:53] Adriani90 commented on #4119
cc: @leonardder

[2019-04-05 16:58] Adriani90 commented on #4119
Reproducing also in Libre office 6.2.2

[2019-04-05 17:31] Adriani90 commented on #8152
this is highly related to #4119 and #8763.

[2019-04-05 17:35] Adriani90 commented on #7505
@xtstoll are you still having this issue?

[2019-04-05 17:44] xtstoll commented on #7505
Just retested, and it's OK now. I could not test with the same exact conditons, but I think it's OK. Working in the lastest NVDA.

NVDA installed, version 2019.1 in Brazilian Portuguese
Windows 10 in Brazilian Portuguese
OpenOffice 4.1.5 in Brazilian Portuguese

Screenshot of dialog "Set Password" tested:
<img width="264" alt="soffice bin_2019-04-05_14-40-55" src="https://user-images.githubusercon

[2019-04-05 17:44] #7505 closed

[2019-04-05 18:05] Adriani90 opened #9463 "NVDA exits automatically in MS Word when working with this document"
### Steps to reproduce:
1. Open NVDA
2. In any MS Word version, open the attached document
3. Press ctrl+shift+down arrow to select paragraphs of text and tables. Hold down the key stroke for 5 seconds or so.

### Actual behavior:
NVDA exits with the following in the log (see comment above). The entire log file is also attached. But note that it is very long. The synthesizer is still working thoug

[2019-04-05 18:06] Adriani90 commented on #9463
[code]

[2019-04-05 18:18] Adriani90 commented on #9463
Here is the entire log file. addons were disabled.
[nvda-old.txt](https://github.com/nvaccess/nvda/files/3049144/nvda-old.txt)

[2019-04-05 18:28] Adriani90 commented on #7911
Reopening until it is solved by a merged PR.

[2019-04-05 18:49] lukaszgo1 commented on #7911
It is solved now #9392 is in master already.

[2019-04-05 19:02] Brian1Gaff commented on #9463
What I found interesting was attempting to load it into word 2003, it
invoked the document conversion routine and the resulting file, is it
german? Did not exhibit the problem, but was very sluggish of course as I do
not think nvda is optimised for such an old version of Word.
 I could highlight loads of paras and the table etc, but as I say it was
slow. Windoows 7 here.

Interesting.

bglists@blu

[2019-04-05 19:37] Adriani90 commented on #9463
Interesting, yes it is german.

Von: Brian Gaff <notifications@github.com>
Gesendet: Freitag, 5. April 2019 21:02
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] NVDA exits automatically in MS Word when working with this document (#9463)

What I found interesting was attempting to load it into

[2019-04-05 19:50] ariellyciandt opened #9464 "NVDA doesn't read submenu's parent element when we focus on it and hide its submenu"
Hello,

I am facing some issues with my NVDA here, and I don't know whether it is a bug or not.
My development team is implementing a navigation menu very similar to the one used in Vision Autralia website, which is considered a WCAG AAA reference, and we ended up facing the following scenario in both websites:

### Steps to reproduce:
1. When I open [Vision Australia]( https://www.visionaustralia

[2019-04-05 20:00] Adriani90 commented on #9464
cc: @MarcoZehe, @jcsteh

[2019-04-05 20:05] Adriani90 commented on #3227
@Shaimaa how is the performance in NVDA 2019.1 in such documents?

[2019-04-06 04:18] Igor3947 commented on #5158
I'm experiencing the same problem. It appears that text is selected whenever arrow keys are used; in addition, it is also not possible to move through text using the panning keys on the display.

[2019-04-06 04:55] DrSooom commented on #9463
This Word document contains 141 JPEG files. Disable "Editor revisions" and "Comments" in the Document Formatting Settings and try again.

[2019-04-06 04:59] DrSooom commented on #9464
@ariellyciandt: Please add the Firefox version to the issue description. Thanks.

[2019-04-06 10:04] Brian1Gaff commented on #9463
That would explain the laggy nature and probably why converting it to an
earlier format worked, albeit slowly.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-07 04:21] DrSooom commented on #9462
I just want to note down, that you are able to change the visibility behaviour of these icons in the systray since Windows 7 (or already since Vista). They will than moved into an expandable area, which can be reached by activating the NotificationChevron button. And if you move the focus to it and within it by pressing ArrowRight or ArrowLeft, the mouse cursor will stay where it was. And furtherm

[2019-04-07 12:57] DataTriny commented on #9462
Hi @DrSooom,

Thank you for suggesting this setting.

Unfortunately, if we decide to stop moving the mouse to the top left of the screen, the problem is still there. I would even say that it is more likely to happen since in my opinion people who don't use the mouse have a better chance to accidentally move it so that it is off-centered, but not on the bottom right of the screen. Like in the norma

[2019-04-07 13:15] Neurrone opened #9465 "NVDA gets laggier over time in Word using UIA and has to be restarted periodically"
Reporting on behalf of a friend.

### Steps to reproduce:

1. Enable usage of UIA in word
2. Use word normally.

### Actual behavior:

NVDA should remain responsive while using Word.

### Expected behavior:

NVDA slows down over time when working in Word, requiring a restart every 10 mins to retain performance.

### System configuration
#### NVDA installed/portable/running from source:
Installed

[2019-04-07 13:26] Neurrone commented on #9359
Any luck tracking the root cause?

[2019-04-07 13:40] DrSooom commented on #9462
An appearing Help Balloon in Windows 7 on moving the mouse cursor on such an icon. It really depends on the application behind such an icon. Sadly there isn't a general answer for all possibilities. Therefore the checkbox for advanced users. They should be able to know the consequences.

[2019-04-07 13:42] lukaszgo1 commented on #9462
I am wondering how it is solved in JAWS.

[2019-04-07 14:11] DataTriny commented on #9462
Hi @lukaszgo1,

JAWS 2019.1903 (demo version) behaves exactly like Windows Narrator (at least on my setup: Windows 10 Education version 1809):

- it doesn't move the mouse,

- it can't reliably bring the focus to a tray icon if the mouse is hovering over another one (Windows behavior by the way),

- and OneDrive's tray icon can't be activated if the mouse is sitting on the top-left corner of the s

[2019-04-07 14:36] DataTriny commented on #9462
OK, I just found a stupid and dirty solution that seems to cover all our cases.

Instead of moving the mouse to coordinates `x=0, y=0` when a tray icon get focus, simply move it to `x=1, y=0`.

What do you guys think?

[2019-04-07 15:58] ehollig commented on #8111
Closing as worksforme

[2019-04-07 15:58] #8111 closed

[2019-04-07 19:42] Adriani90 commented on #7911
Closing.

[2019-04-07 19:42] #7911 closed

[2019-04-07 19:44] Adriani90 commented on #9333
Ok the referenced pull request is also merged, so let's wait for the test with the last Alpha and the confirmation by @Adriorjalesvidal and then close it if does not occur anymore.

[2019-04-08 08:41] DrSooom commented on #9462
@DataTriny: Changing the coordinates from 0×0 to 1×1 Pixel will maybe fix issue #94621, but not this one here. Furthermore we must think about the magnifier users too. Such unexpected mouse movements should be made disabled by them via a checkbox.

Background information: The mouse cursor is in most cases an arrow which head points to the left top corner. From WinXP to Win7 these *.cur files are 3

[2019-04-08 08:59] #8593 closed

[2019-04-08 09:47] DataTriny commented on #9462
Hi again @DrSooom,

Don't worry, I'm one of those magnifier users and I also find quite annoying when an application moves my cursor. I am just trying to find the best answer to the problem.

The checkbox you suggested may be a good idea afterall: let's assume magnifier users won't put their mouse over the system tray, (if they do, well we can't really do that much).

I would be glad to take owner

[2019-04-08 09:56] DataTriny commented on #9462
- Which text would best convey the meaning of this setting?

- I would enable this mouse movement by default (simply because it seems there are more keyboard only users).

[2019-04-08 09:56] lukaszgo1 commented on #9462
What about moving mouse cursor only if it is placed on a system tray icon and otherwise do nothing?

[2019-04-08 09:59] DataTriny commented on #9462
@lukaszgo1 I didn't think about this? Sounds reasonable to me.

[2019-04-08 11:21] ariellyciandt commented on #9464
Hello, @DrSooom,

The Firefox version is Firefox 66.0.2 (64-bits).

Thank you,

Arielly.

[2019-04-08 11:44] fisher729 commented on #9431
Hi.

NVDA no longer causes Excel 2007 to crash or refuses to report if a cell has a formular.
Should be corrected to: NVDA no longer causes Excel 2007 to crash or refuses to report if a cell has a formula. (no R)

[2019-04-08 12:00] DrSooom commented on #9462
@lukaszgo1: I'm not sure, if I understood you correctly. Here is the StR:
1. Press Win+B followed by ArrowRight.
2. Mouse cursor is moved to 0×0.
3. Move it now over another icon in the systray.
4. Press ArrowRight again.
5. Et voilà, the mouse cursor moved again to 0×0.

@DataTriny: We should figure out how many mouse movements are hard-coded in NVDA first. But we can do this later on in a separa

[2019-04-08 12:09] lukaszgo1 commented on #9462
I haven't tested but I've thought about the following:
1. Move to system tray
2. press an arrow key.
3. Check if the mouse cursor is positioned on a system tray icon and then
3.1 if it is move it to 0.0
3.2 if it isn't do nothing.

[2019-04-08 12:25] fisher729 opened #9468 "NVDA hangs when entering a formula in Excel 2019"
Using NVDA 2019.1, as well as NVDA 2019.1rc1, NVDA hangs when the following occurs:

1. Type a number in a cell. (e.g. 24)
2. Go below that cell with Enter and type another number (e.g. 12)
3. Go below that cell, then type the addition formula to add the two prior cells =(24+12)

You will realise that NVDA hangs a little bit, with no character echo.

Using Windows 10, 1809, Office 2019, didn't tes

[2019-04-08 12:48] DataTriny commented on #9462
@DrSooom:

The steps you give produce exactly the issue we are trying to fix!

If we don't move the mouse, here is what happens:

1. press Win+B followed by arrow right,
2. move mouse cursor on another icon in the system tray,
3. this new icon now get the focus,
4. press right arrow a second time,
5. the icon next to the one focused by the mouse will get focus,
6. after a short amount of time the

[2019-04-08 13:02] leonardder commented on #9468
Could you reproduce this with NVDA 2018.4?

[2019-04-08 13:05] Adriani90 commented on #6924
@k-kolev1985, @leonardder, are there any improvements visible in 2019.1 regarding this performance issue? I am not using zoom text or magnification software at all, so I cannot really test this. Thanks in advance for your availability.

[2019-04-08 13:10] Adriani90 commented on #6923
Testing in NVDA alpha-17024,97a70f1b, I get following results:
1. In firefox 66.0.2 NVDA totally ignores the link
2. In Chrome it reports
"link app q=email/index"
3. In IE it reports "link"
@jcsteh any idea why in Firefox the link is not recognized at all?

[2019-04-08 13:31] k-kolev1985 commented on #6924
Hmm, I'm running an installed copy of NVDA version alpha-17024,97a70f1b and I don't experience this problem anymore. I tried it with a portable copy of NVDA 2019.1 and also did not experience the problem. Maybe whatever was causing the issue (either by NVDA or Windows - I don't know) was fixed.

[2019-04-08 13:32] Adriani90 commented on #6919
In my tests NVDA reads the control type (button, button submenu etc.) but apparently does not read the label. Subtitles are not read at all.
cc: @jcsteh is this something which must be improved from Mozilla's side? In Chrome it works correctly. Even subtitles are being reported.

[2019-04-08 14:04] Adriani90 commented on #6912
I do not entirely understand this issue I think. But according to my tests in Firefox 66.0.2 and NVDA 2019.1, when tabbing in focus mode, NVDA says only "speak" and it does not read the description of the button in the frame and it ignores the frame title. When tabbing in browse mode, NVDA reports "speak grafic" also ignoring the description and the frame title.

In Chrome 73, when tabbing in focu

[2019-04-08 14:12] DataTriny commented on #6923
Hi there!

Considering the following code:

[code]

It works both in Firefox 66.0.2 and Chrome 73. On Edge the link is not reported, but since it will soon use Chromium, it doesn't matter.

However, we are missing a bit of information here, so I had to improvize. It would be useful to have the code of the `Email` element as well as the CSS for the `<a>` and the `<i>`.

[2019-04-08 14:13] Adriani90 commented on #6908
This is still reproducible in libre office calc 6.2.2 and NVDA 2019.1. I guess this is an external fix. @feerrenrut, @leonardder what do you think?

[2019-04-08 14:18] Adriani90 commented on #6908
Here is the developer info after pressing the context menu key on the template to open its menu:

[code]

[2019-04-08 14:20] k-kolev1985 commented on #6222
About the issue with Skype UWP (from Microsoft Store). Now I'm running the latest version of the app and the problem seams to be gone. Skype UWP version is 8.43.76.38 and the version of the app is 14.43.38.0 (all taken from Skype's about dialog). I think that is a test (insider) version of Skype UWP, but it should become stable and released to the public in the near future, I guess. So, I think th

[2019-04-08 14:28] Adriani90 commented on #6972
This issue is still reproducible in NVDA 2019.1 and Notepad on Windows 10 1809 Update.
1. Type something in the editor
2. Press al+f4
3. Press nvda+b
Actual: NVDA repeats the dialog without stopping until you press a key to interupt the speech
Expected: NVDA should read the dialog only once.

4. Type something in the editor
5. Press alt+f4
6. With laptop keyboard layout, press nvda+shift+right arr

[2019-04-08 14:29] Adriani90 commented on #6970
@zstanecic the performance of NVDA in MS Word improved significantly since this issue has been reported. Are you still having this problem in NVDA 2019.1?

[2019-04-08 14:38] Adriani90 commented on #6965
I can reproduce this issue in IE11 with NVDA 2019.1. When using arrow key to navigate in browse mode, NVDA reports each item of the list box on a line instead of reporting "list box IOS selected".
I tried to see if I cann access the list by focus mode:
1. Pressing enter on the list does not work
2. Pressing NVDA+space works. When accessig the list with tab and shift+tab, following error in in the

[2019-04-08 14:38] Adriani90 commented on #6965
[code]

[2019-04-08 14:39] Adriani90 commented on #6965
cc: @feerrenrut, @leonardder

[2019-04-08 14:50] Adriani90 commented on #6963
@dszymczuk, @dszymczuk is this still an issue in NVDA 2019.1 and Firefox 66.0.2? I cannot reproduce it anymore.

[2019-04-08 14:56] Adriani90 commented on #6959
This issue is still reproducible in NVDA 2019.1 and Excel 2016 and 365.
I would prefer NVDA to report the cell with focus first and then the selected range. I.e.:
* B3, A3 through D3
After pressing tab
* C3, A3 through D3

[2019-04-08 14:58] Adriani90 commented on #6938
@derekriemer, @PratikP1, @Brian1Gaff are you still seeing this issue? I cannot reproduce it in NVDA 2019.1.

[2019-04-08 15:03] Brian1Gaff commented on #6938
I certainly do not see it in the latest nvda, but since this was reported I
think Google have also changed their search page.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2019-04-08 15:11] Adriani90 commented on #6940
Testing with NVDA 2019.1 as follows:
1. Coppied the code from jsfiddle to a blank html file because tabbing does not work under the provided link above
2. Opened it in IE
Result: the link is reported only once which is the desired behavior.

@sesopenko can you still reproduce this issue? if so, could you please rebuild the example on a different platform? It seems tabbing does not work on the exam

[2019-04-08 15:11] Brian1Gaff commented on #6965
Is this everywhere or in specific pages?

I suspect not a lot of people will be using IE11, but I think I still have
it, so if I knew where to look
Not implemented makes it sound like its not going to be easy to fix perhaps?
 ....
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-08 15:21] Adriani90 commented on #6939
@sesopenko this is actually not an issue in NVDA. Every page is loaded in browse mode by default and it changes automatically to focus mode when moving the virtual cursor with arrow keys or tab over an edit field etc. Now in NVDA 2019.1, in browse mode settings you can enable focus mode by default. This will cause browse mode not to be activated anymore after loading  a page.
@leonardder solved th

[2019-04-08 15:21] #6939 closed

[2019-04-08 15:25] Adriani90 commented on #6937
@derekriemer any updates on this issue? Are there any improvements to kindle being made during last two years?

[2019-04-08 15:27] Adriani90 commented on #6936
Related to #6965. Actually I think that solving the related issue will solve this one as well.

[2019-04-08 15:30] Adriani90 commented on #6931
@ossossosso how is it working with NVDA 2019.1 and the last version of plover? Do you still have this issue?

[2019-04-08 15:33] Adriani90 commented on #6929
@The-Dark-Man are you sure you are installing NVDA with administrator rights? You can only activate that in the installation process if you have admin rights I think.

[2019-04-08 15:35] Adriani90 commented on #6926
@leonardder is the control type 50025 meanwhile implemented into NVDA'd UIAHandler?

[2019-04-08 15:42] Adriani90 commented on #6924
Ok, then closing as works for me. If the issue occurs again, please comment on it and we can reopen it.

[2019-04-08 15:42] #6924 closed

[2019-04-08 15:44] Adriani90 commented on #6938
Closing as works for me. If it is still occuring, please comment on it and we can reopen it. Thanks!

[2019-04-08 15:44] #6938 closed

[2019-04-08 16:41] ossossosso commented on #6931
Thank you for your question.
A usable workflow between a SCreen Reader and Plover needs a specific plugin to make them dialogue correctly. Unfortunatly an update, unless dedicated to it, cannot fix all the issues.

Thanks again.

[2019-04-08 20:10] adamsamec commented on #9453
Hello,
the issue https://github.com/nvaccess/nvda/issues/9460 already includes this issue and is described in more detail. So you can even delete this issue. Thanks and sorry for confusion.

[2019-04-08 22:31] dnz3d4c commented on #6972
I want to know why this is happening. I hope it was fixed soon.

[2019-04-09 05:02] DrSooom commented on #9453
@adamsamec: This issue is already closed. It needn't to be deleted.

[2019-04-09 05:11] DrSooom commented on #9462
I have always disabled "Follow mouse cursor" in the NVDA's Review Cursor Settings. Could you do the same and repeat your steps?

[2019-04-09 06:28] ironcross32 opened #9472 "Windows 10 NVDA OCR Crashing NVDA"
### Steps to reproduce:
This issue is intermittent and mostly happens within Reaper. It msotly happens when trying to OCR certain VSTi plugins
### Actual behavior:
NVDA will crash and then recover from said crash after attempting to OCR a plugin window, which never used to be the case.
### Expected behavior:
NVDA should scan the window, and report the text found just as with any other attempted OC

[2019-04-09 07:55] DataTriny commented on #9462
Hi @DrSooom,

Whether mouse tracking is enabled or not doesn't matter here since, as I wrote here before, this is a Windows behavior (which means that it occures with NVDA, JAWS, Windows Narrator and even with no running screen reader at all).

At least in Windows 10, as soon as the mouse is hovering on a system tray icon, it get focused and we can't do much about it. That's why we move it out of

[2019-04-09 08:55] DataTriny opened #9473 "AddonsDialog: some add-ons are marked as Enabled when NVDA is launched with --disable-addons flag"
### Steps to reproduce:

1. Launch NVDA.
2. Make sure you have at least one add-on installed.
3. Close NVDA.
4. Launch NVDA from the command line with the `--disable-addons` flag.
5. Open the add-on manager dialog.

### Actual behavior:

Add-ons that are enabled on your profile will appear as enabled on the dialog.

### Expected behavior:

Since NVDA has been told to start with all add-ons disable

[2019-04-09 11:17] DrSooom commented on #9462
@DataTriny: I didn't talk about the mouse tracking (NVDA+M).

But you're right, Windows 7 puts the focus onto the icon behind the mouse cursor, no matter if "Follow mouse cursor" in the NVDA's Review Cursor Settings is enabled or not. And this behaviour exists not only in the always visible area of the systray, it also exists in the expanded, normally hidden area of the systray.

Well, and if you

[2019-04-09 11:23] fisher729 commented on #9473
Confirmed.

My recommended action/fix would be to:

1. Leave the add-on dialog enabled.
2. Each add-on should be marked as disabled.
3. No option to enable or disable them should be present.

[2019-04-09 12:03] Qchristensen commented on #4675
I have a user (from Twitter) advising that they are having the same problem, at least with the file list view, using NVDA 2019.1.  I'm trying to get more information from them.  Has anyone else tried out the program and replicated (or not replicated) the issue?

[2019-04-09 13:00] DataTriny commented on #9473
I agree. Will try to implement this soon!

[2019-04-09 15:31] DrSooom commented on #9462
Well, but you have to do the same procedure after Space or Enter was pressed at the NotificationChevron button, as there are two systray areas.

Furthermore I'm asking me if it's better just to move the mouse cursor – let's say – 100 px to left and 100 px up. Of course this only works correctly, if the task bar is located at the bottom or at the right side. But we can fetch the position of the sys

[2019-04-09 16:20] anrocqt commented on #8604
Hi. Thanks for reporting the issues you found with the Qt accessibility framework on Windows. I apologize for the delayed response. About some of them:

- "It looks like that NVDA is not receiving any PropertyChangedEvents when changing the value of the combo box without expanding it."
- "QComboBox neither implements a ExpandCollapse nor a Selection pattern, which, according to the Microsoft Docs,

[2019-04-09 16:33] feerrenrut commented on #9285
Related issues #9193  #9194 #9195

Please notice that Office (certainly excel) has changed the comments system. Renaming the old comments system as "notes", introducing a new comments system that supports replies.

[2019-04-09 16:37] feerrenrut commented on #9473
The dialog is still useful, allowing users to get information about their addons and uninstall them. This is particularly useful if an addon is causing a usability problem.

[2019-04-09 17:02] feerrenrut commented on #6754
@josephsl Do you know of any examples?

[2019-04-09 17:14] josephsl commented on #6754
Hi, we can ask the add-ons community. Thanks.

From: Reef Turner <notifications@github.com>
Sent: Tuesday, April 9, 2019 10:02 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Reduce Volume Synth Settings Ring increment/decrement to 5 (#6754)

Because this change may break some synthesizers

[2019-04-09 17:42] fisher729 commented on #9473
No, do not disable the dialog, just disable the option to enable or
disable the add-ons, as well as show each add-on as disabled while in
this mode.

On 4/9/19, Reef Turner <notifications@github.com> wrote:

[2019-04-09 17:45] Adriani90 commented on #6754
I cannot think of a synthesizer which would not support this feature. But the best way is to maybe release a try build with this feature implemented and ask for user reports.

[2019-04-09 17:52] Adriani90 commented on #9435
cc: @nishimotz, @leonardder

[2019-04-09 18:15] Adriani90 commented on #6990
@PratikP1 is this still the case when composing / forwarding a message? I cannot reproduce it in NVDA alpha-17029,4d2e7f2b.

[2019-04-09 18:32] Adriani90 commented on #6995
@surfer0627, @feerrenrut I am testing with NVDA 2019.1 and Office 2010 as well as Office 2016 / 365. I hahve also tried both with UIA enabled and disabled. i cannot reproduce your issues regarding column report. Are you still having this problem?

[2019-04-09 18:34] Adriani90 commented on #7041
cc: @ABuffEr

[2019-04-09 18:54] Adriani90 commented on #7060
This is not reproducible in NVDA 2019.1 and Chrome 73. Closing as works for me. @n0ot you can comment on it if you can still reproduce it and we will reopen this issue. Thanks.

[2019-04-09 18:54] #7060 closed

[2019-04-09 18:57] Adriani90 commented on #7056
@gdata1 there were several issues with regard to this problem and they have been closed because people, including myself, are not having the problem anymore. are you still having this issue?

[2019-04-09 18:58] Adriani90 commented on #7051
@tommyTsaiTou how is NVDA 2019.1 behaving with the last version of zmud?

[2019-04-09 19:02] Adriani90 commented on #7045
cc: @feerrenrut this might be of interest, giben the new automated robot framework.

[2019-04-09 19:06] gdata1 commented on #7056
No.

[2019-04-09 19:06] #7056 closed

[2019-04-09 19:08] Adriani90 commented on #7040
In Crhome 73 and NVDA 2019.1 this issue is not reproducible. The element is reported as clickable. In Firefox 66.0.2 it is also reported accordingly.
In IE11 is still reproducible though.

[2019-04-09 19:13] Adriani90 commented on #7038
This is still reproducible in NVDA 2019.1.

[2019-04-09 19:27] Adriani90 commented on #7037
@nileshpenta, @JulienNado, @puru0019 are you still able to reproduce this issue in NVDA 2019.1? Unfortunately when i try to test this, I get the message that my network might send automatic requests and I am adviced to try it later. This is not the case when I do it in Firefox or Chrome.

[2019-04-09 19:28] Adriani90 commented on #7037
If you are still able to reproduce it, which addons do you have installed in your internet explorer?

[2019-04-09 19:30] Adriani90 commented on #7036
cc: @feerrenrut, @francipvb

[2019-04-09 19:47] Adriani90 commented on #7029
@michelhebertI cannot reproduce this issue in IE11 and NVDA 2019.1. Could you please test if you are still having this problem?

[2019-04-09 19:48] Adriani90 commented on #7029
Ok the initial author does not seem to be available anymore.

[2019-04-09 19:49] Adriani90 commented on #7022
Fernando are you still having this issue in last Windows 10 version with NVDA 2019.1?

[2019-04-09 20:00] Adriani90 commented on #7008
Testing with NVDA 2019.1:
The performance difference is obvious when enabling reporting of pages in NVDA's document formating settings. But now the document works very fluently both in MS Word 2010 and 2016 / 365 with or without UIA. I am closing this one in favor of the issue referenced above.
@jhomme if you are still having this issue, please comment on it and we can reopen it.

[2019-04-09 20:00] #7008 closed

[2019-04-09 20:05] Adriani90 commented on #7000
It is time to bring this issue to life again. I also thank you all developers and contributors to this project. When I started to contribute about three years ago, I had in mind just to report some issues which at that time drove me crazy. If I am looking back to that time I see a lot of things which happened until today and I hope this big and meaninful project will continue in the future. Thanks

[2019-04-09 20:09] lukaszgo1 commented on #7000
Don't you think that GitHub issue tracker isn't a proper place for this?

[2019-04-09 20:12] Adriani90 commented on #6996
@feerrenrut I cannot reproduce this issue in NVDA alpha-17029,4d2e7f2b. i tested both in Word 2010 and Word 2016 / 365. Is it still reproducible in Word 2013 though?

[2019-04-09 20:37] Adriani90 commented on #6991
Testing with NVDA alpha-17029,4d2e7f2b, as follows:
1. Open two explorer windows in Windows 10 (it is not necessary to create two desktops)
2. In both explorer windows press shift+tab to move into the tree view
3. Press alt+tab to move between the explorer windows.

Actual: When the cursor is on the same level in both explorer windows (i.e. this PC), NVDA reports "This PC expanded 3 of 4, level on

[2019-04-09 20:55] gdata1 opened #9475 "edge chromium"
Hello. I installed the preview version of Microsoft Edge.
When I get into the edit box the browser does not respond. This happens with the Nvda enabled.
windows 10 18865
edge Version 75.0.124.0 (Official build) canary (64-bit)
nvda alpha-17029,4d2e7f2b

[2019-04-09 21:06] fernando-jose-silva commented on #7022
yes, unfortunately I can not get to the list where there is the trageto using the keyboard or the navigation by objects

[2019-04-09 21:12] Adriani90 commented on #7022
Cc: @josephsl is this something which could be improved in Win10 app essentials addon?

Von meinem iPhone gesendet

[2019-04-09 21:14] feerrenrut commented on #6996
No, I can't reproduce the log error ( using nvda version `alpha-17029,4d2e7f2b` and Word 2013)

Looking more closely, the code that produced this warning was commented out in the interests of performance. See [PR #9217 file nvdaHelper/remote/winword.cpp at line 1005](https://github.com/nvaccess/nvda/pull/9217/files#diff-90846759642698297f744ca06fdb37edR1005 )

I don't recommend we close this off.

[2019-04-09 21:16] lukaszgo1 commented on #9472
@ironcross32 Could you please try to reprorduce it with all add-ons disabled? The log mentions Eloquence add-on in particular.

[2019-04-09 21:16] Adriani90 commented on #9475
Do you have a log file when the issue occurs? Could you please upload it to this issue?

[2019-04-09 21:22] gdata1 commented on #9475
Hello. Can download.

[2019-04-09 21:25] gdata1 commented on #9475
INFO - __main__ (00:23:07.595):
Starting NVDA
INFO - core.main (00:23:07.674):
Config dir: C:\Users\nikit\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (00:23:07.674):
Loading config: C:\Users\nikit\AppData\Roaming\nvda\nvda.ini
INFO - core.main (00:23:07.815):
NVDA version alpha-17029,4d2e7f2b
INFO - core.main (00:23:07.816):
Using Windows version 10.0.18865 workstation
INFO - core

[2019-04-09 21:26] gdata1 commented on #9475
Again. The problem only occurs when the Nvda is turned on.

[2019-04-09 22:40] ironcross32 commented on #9472
I did that before writing up this issue. While the log was in effect during addons, with no addons running and speech falling back to one core, same result.

[2019-04-09 23:28] josephsl commented on #7022
Hi,

Depends on what Microsoft thinks of this. I need a reliable way of reproducing this, along with the version of the app in question.

Thanks.

[2019-04-10 00:56] ehollig commented on #8434
@nishimotz is this an issue with the latest version of NVDA?

[2019-04-10 01:03] ehollig commented on #8120
@feerrenrut are all of the groups visible in the start menu? If not, this would explain why NVDA is skipping some groups

[2019-04-10 03:14] surfer0627 opened #9476 "Firefox: table navigation commands caused "executing Script error""
This case occurs while using table navigation commands to move to columns or rows.

### Steps to reproduce:
1. Open [this link](http://pchome.megatime.com.tw/group/mkt5/cidE003/050_4.html).
2. Press t to move to table.
3. Press control+alt+rightArrow fifth times to move to column6.
#### Actual behavior:
The system cursor may stop at column3 or column 4. (With log message below.)
ERROR - scriptHand

[2019-04-10 07:23] Qchristensen commented on #4675
I've got a log now:
[nvda (18).log](https://github.com/nvaccess/nvda/files/3062464/nvda.18.log)

[2019-04-10 07:47] DrSooom commented on #9476
CC: @jcsteh and @MarcoZehe; It seems that there is some auto-updated content on this site.

[2019-04-10 07:55] DrSooom commented on #9475
@gdata1: Please set the log level to "Debug" and upload the logfile here. Please don't post the content of a logfile as a comment. Thanks.

[2019-04-10 10:02] gdata1 commented on #9475
[nvda.log](https://github.com/nvaccess/nvda/files/3063176/nvda.log)

[2019-04-10 10:13] larry801 opened #9478 "Add support for seika notetaker braille display"
### Is your feature request related to a problem? Please describe.
No
### Describe the solution you'd like
Add driver for seika notetaker from patch file provided by manufacturer into nvda core
### Describe alternatives you've considered
None

[2019-04-10 12:45] #6754 closed

[2019-04-10 12:46] DrSooom commented on #9475
Could you please disable the RHVoice add-on (or just change the TTS to eSpeak) and repeat the steps starting with launching Edge via the Windows Desktop? RHVoice produces quite a lot of errors. Thanks.

[2019-04-10 12:49] feerrenrut commented on #6754
I'm happy with this plan, I have merged it. Please contact me if there are issues with synths.

[2019-04-10 13:10] DataTriny commented on #9462
Hi, I don't find moving the mouse a little bit (by say 50px) is a particularely difficult task, plus I agree that it would cause less trouble for magnifier users. Will work on that soon.

[2019-04-10 14:02] gdata1 commented on #9475
[nvda.log](https://github.com/nvaccess/nvda/files/3064164/nvda.log)
No. The problem is not gone.

[2019-04-10 14:26] feerrenrut commented on #8120
@ehollig They are visible only if you have items that start with that letter. @fernando-jose-silva Do you have any items in the start menu that begin with a letter that is a missing group. Also @fernando-jose-silva I notice in your log that there are several errors touching on add-ons. Could you repeat the test with all addons disabled?
To do this, ensure that NVDA is configured to "Show exit opti

[2019-04-10 14:49] fernando-jose-silva commented on #8120
Many thanks, I no longer have this problem, everything has changed:
another machine
windows 17763.437
nvda alfa 17004

[2019-04-10 14:50] DrSooom commented on #9475
Okay, this logfile is a little bit easier to read – and with a disabled audio ducking feature it would be even better. So, see line 392, 463, 618 and especially beginning from line 679.
CC: @jcsteh and @michaelDCurran

[2019-04-10 14:58] feerrenrut commented on #8120
In this case, I propose we close this issue. If anyone can still reproduce it, then we will open it again.

[2019-04-10 14:58] #8120 closed

[2019-04-10 15:28] spanky-acapulco opened #9480 "NVDA reads tooltips although this is disabled"
### Steps to reproduce:
Make sure, *Settings > Object Presentation > Report Tool Tips* is **disabled** in your NVDA.
Open this in Firefox with NVDA, **focus one of the links**.
https://codepen.io/martin-mengele/pen/qwrpKK

### Actual behavior:
NVDA reads the link's name and it's description.
Nothing too conspicuous in the Firefox A11y tree, see image.

![image](https://user-images.githubuserconten

[2019-04-10 16:04] feerrenrut commented on #9480
Thank you for the detailed bug report, however please be aware that many of the people who maintain NVDA are blind or vision impaired. Some of us are helped by images, though it's best if accurate text descriptions are provided first.

The title attribute is being mapped to the accessible description, [this is expected](https://www.w3.org/TR/WCAG20-TECHS/H33.html) to be announced.

Using Chrome, w

[2019-04-10 16:04] #9480 closed

[2019-04-10 16:19] jakubl7545 opened #9481 "Impossible to use NVDA after exiting math content"
### Steps to reproduce:
In order to reproduce it you must have braille display connected.
Open this page
https://en.wikipedia.org/wiki/Normal_distribution
go to any math formula
press NVDA+alt+m to interract with math content
press escape to exit math
### Actual behavior:
NVDA produces this error on any key press and must be restarted
ERROR - eventHandler.executeEvent (17:39:45.654):
error executi

[2019-04-10 16:37] leonardder commented on #9446
As they seem to prefer bug reports on a mailing list, i created [this](https://pairlist4.pair.net/pipermail/scons-users/2019-April/007684.html) thread there.

[2019-04-10 16:38] Adriani90 commented on #9475
I think this is not related to the synthesizer. It is rather related to the offset of 0 which seems to be too big for buffer, here are the important parts of the log:

[code]

[code]

[code]

[2019-04-10 16:38] Adriani90 commented on #9475
I might be wrong, but it seems the freeze occurs after leaving the edit field with escape aand a link has been accessed with enter afterwards.

@gdata1 can you confirm?

Could you please do following?

1. Change NVDA language to englisch
2. Restart NVDA with disabled addons
3. Open Edge Canary and try to reproduce the issue
4. Open the log file and save it
5. Upload the file to this issue.

[2019-04-10 16:42] spanky-acapulco commented on #9480
Sorry for leaving out the image alt texts, but I could not find a way to add them (my first issue so far). And thanx for immediate reply!

To your test: I disabled the report tooltips option, but it reads the tooltip on focussing the link, although it's not displayed or anything. This is not expected behaviour I think, if I disable this in NVDA. No?

[2019-04-10 16:44] Adriani90 commented on #7032
I am testing with NVDA alpha-17047,56e208d2 and MS Excel 2016 / 365 as well as Excel 2010. I cannot reproduce this issue.

@khsbory, @feerrenrut are you still able to reproduce it?

[2019-04-10 17:10] PratikP1 commented on #9475
Just to add a little more to this. Not sure if it will help. I'm able to work with edit fields without a problem with Edge Chromium 64 bit. Latest NVDA alpha and Windows 10 18362. I'm attaching the log with the results. These are only a few examples. I've been using the browser since Monday.

[NVDA log for Edge Chromium.log](https://github.com/nvaccess/nvda/files/3064982/NVDA.log.for.Edge.Chromium

[2019-04-10 17:11] DrSooom commented on #9475
@Adriani90: I knew that the RHVoice might not be the reason for this issue, but I just wanted to clean up the logfile a little bit. Just take a look at the first one and you see what I mean.

@gdata1: Therefore in addition to @Adriani90 mentioned steps, please disable audio ducking too. Thanks.

[2019-04-10 17:20] DrSooom commented on #9480
@spanky-acapulco: Are you moving the cursor to a link in browse or in focus mode? You can toggle between them by pressing NVDA+Space. Use Tab in focus mode and K/Shift+K in browse mode.

[2019-04-10 17:24] DrSooom commented on #9481
CC: @leonardder and @jcsteh

[2019-04-10 17:25] ABuffEr commented on #7041
Hi,
I received some recent citations from this issue, so I sadly confirm that bug is stilll here, testing regedit on Windows 10 64-bit with NVDA 2019.1.1rc1.

[2019-04-10 17:42] gdata1 commented on #9475
[nvda.log](https://github.com/nvaccess/nvda/files/3065086/nvda.log)
The problem does not disappear. I did all the steps

[2019-04-10 19:48] adamsamec commented on #9460
Hi,
thanks for your suggestion, Larry. Easy Window Switcher is a useful utility, but it is still not what I am searching. As I've described, I am missing a command which would show a list of opened windows of the current application and, another one which would show a list of running applications.
I think this should be part of NVDA rather than an Add-on, in a similar fashion as JAWSkey + F10 show

[2019-04-10 19:55] gdata1 commented on #9475
After disabling add-ons the problem does not disappear
[nvda.log](https://github.com/nvaccess/nvda/files/3065593/nvda.log)

[2019-04-10 20:53] yooc opened #9482 "Stops reading midway through sentence"
### Steps to reproduce:
1. Open a page with some amount of text to read. Tested using this example page: http://22point.com.au/random/test.html
2. Attempt to read through text using down arrow key.

### Actual behavior:
NVDA stops at random points of the text. Can't read to end of sentence. But the content is accessible by continuing to read through the text using arrow key.

### Expected behavior

[2019-04-10 21:58] Adriani90 commented on #9460
Another interim options would be to work with multiple desktops. In this way you could organize one application per desktop. This is verry efficient but it works only on Windows 10.

Von meinem iPhone gesendet

[2019-04-11 02:31] josephsl commented on #9473
Hi,

I'm wondering if the root problem is #6275? I'll do some tests to see if it is indeed a mistake from that one with 2018.4.

Thanks.

[2019-04-11 02:34] josephsl commented on #9473
Hi,

Yep, testing shows this is a regression.

Thanks.

[2019-04-11 03:07] ehollig commented on #9482
This is probably due to the setting in browse mode settings for "Maximum number of characters on one line" set to 100. This option can be changed to any value, with a maximum of 250. @yooc does this solve the issue for you if you change the value to 250? CC @leonardder and @michaelDCurran to see why exactly this is capped at 250.

[2019-04-11 03:26] ehollig commented on #9447
I can reproduce this in Chrome and Firefox. The code snippet is:
``<span id="pluginde96d" class="glossary-term glossary-plugin" data-content="grew up well" data-title="Glossary Definition" data-placement="bottom" tabindex="0" data-hasqtip="0" aria-haspopup="true" role="link">throve</span><div class="visuallyhidden shadow-popup" aria-hidden="true" id="qtip-0-shadow-popup"><div class="shadow-popup-t

[2019-04-11 05:05] DrSooom commented on #9460
@Adriani90: @adamsamec already wrote that this isn't a solution for him. Please see the issue description.

@adamsamec: Why you don't use the Windows-own Task Manager (CTRL+Shift+ESC) to switch between windows?

[2019-04-11 05:09] leonardder commented on #9446
See scons/scons#3346

[2019-04-11 07:44] spanky-acapulco commented on #9480
Although I didn't switch the modes I just tried this in different modes:

### browse mode
- moving to the link via tab/shift+tab (focusing the link): it reads tool tips (title attribute)
- moving the cursor via ↑,↓ keys: it doesn't read tool tips (title attribute)

### focus mode:
- moving to the link via tab/shift+tab (focusing the link): it reads tool tips (title attribute)

![Screenshot: settin

[2019-04-11 09:37] sine-w opened #9483 "Possible bug when navigating with table in webpage"
### Steps to reproduce:
visited https://www.smartid.gov.hk/en/Who-shall-replace-identity-cards/index.html
press t, and NVDA speak table  with 1 rows and 1 columns
however, if I press down arrow , it speak column 2 ...,
press down arrow again, it speak column 3....
again, column 4.
after column 4, if I press down arrow, it speak column 1, where it didn't speak row 2.

reporting this because I am no

[2019-04-11 10:37] Adriani90 commented on #7000
In fact yes, however, I would let @josephsl to decide what he wants to do with it. Thanks.

[2019-04-11 11:03] DrSooom commented on #9483
The W3C NU HTML checker report more than [120 errors for this site](https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.smartid.gov.hk%2Fen%2FWho-shall-replace-identity-cards%2Findex.html) including errors in the table. Could it be that the rows and columns of the table are responding to the display resolution by using JavaScript?

[2019-04-11 12:35] feerrenrut commented on #9480
No alt text necessary, just write text before the image, eg "the following image shows: blah"

I think the confusion comes from a misunderstanding: The title attribute is not equal to a tool tip.

I believe this is the expected behaviour:
- if an application shows a tooltip (a little box with text in it that appears over the top of the application), then it is read with "tool tip" appended.
- This

[2019-04-11 13:02] adamsamec commented on #9460
Hi @DrSooom,

Windows Task manager is close, but still not what I need. It doesn't let me  choose between all the running apps, e.g., I cannot switch to File explorer using it. Also, it does not allow me to jump to an item by writing first letters of its name. And lastly, Ctrl + Shift + Esc is very unhandy shortcut. However, thanks for your suggestion.

[2019-04-11 14:20] spanky-acapulco commented on #9480
Yep, I got it right now. Thanx for the clarification!

[2019-04-11 14:24] lukaszgo1 commented on #9289
I've experienced it with another add-on available at http://www.zlotowicz.pl/nvda/klawiszeschowka.nvda-addon Any chance of looking into it? I can fix it by removing validation from fields other than compatibility values however don't want to do that without approval of someone more experienced. cc @feerrenrut

[2019-04-11 14:35] josephsl commented on #9289
Hi, I’d say we should keep validating all fields regardless, especially now that Python 3 transition is close at hand and its tie for add-on authors to seriously think about compatibility state of their add-ons. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Thursday, April 11, 2019 7:24 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Ment

[2019-04-11 14:40] yooc commented on #9482
@ehollig That worked! Thanks for the tip. We'll try to spread the knowledge on our part as well. 😄

[2019-04-11 19:15] fernando-jose-silva commented on #8783
I am attaching yet another nvda locking log on windows.
in the case of suggestions to disable addons I am at disposal.
[w4.txt](https://github.com/nvaccess/nvda/files/3070221/w4.txt)

[2019-04-11 19:37] Adriani90 commented on #8783
Ok Fernando in your last log file, were all addons disabled? Could you please try to reproduce the issue with all addons disabled?
Before doing that, please run the com registration fixing tool in NVDA menu > tools > run com registration fixing tool.

To be honnest, something seems to influence your input when accessing the file explorer but I cannon really track what it is. Unfortunately I cannot

[2019-04-11 19:39] Adriani90 commented on #8783
Do you have audiothemes 3d enabled? This could also be a potential cause but as I said, we must try different things.

[2019-04-12 02:09] fernando-jose-silva commented on #8783
Thank you very much for the great help.
My last log the addons are enabled.
I am addicted to the addons testing the nvda without them for long it will be torture.
At this point I will leave it to others to point out problems, or they may close for now.
If I ever get the clear pauses to reproduce the problem without much test time I will report again.

[2019-04-12 05:54] #6222 closed

[2019-04-12 06:23] andrew-l-d commented on #9195
This is not good.  A strategy I suggest for improving access to complex spreadsheets is to use comments in relevant cells.  I had a JAWS user check a test file and he reported the same issue.  Narrator does recognise both comments and notes.  It has a similar issue to NVDA when entering a note - some digital gymnastics to get it to read the spreadsheet again.

[2019-04-12 08:04] #9473 closed

[2019-04-12 08:05] leonardder commented on #7075
I finally picked this up again.

So that's what I've done now:

@k-kolev1985 : Could you please test [this](https://ci.appveyor.com/api/buildjobs/iak0fpesqhjj176a/artifacts/output%2Fnvda_snapshot_try-UIAScroll-17065%2Cf62d796a.exe) try build?

[2019-04-12 09:01] #9445 closed

[2019-04-12 09:24] #9439 closed

[2019-04-12 09:54] lukaszgo1 commented on #5785
With merge of #9474 this issue is not fixed. Can someone close it?

[2019-04-12 09:59] #5785 closed

[2019-04-12 10:47] k-kolev1985 commented on #7075
OK, this is much better. Now the scrolling is as follows:
1. The scrolling when reading down the page occurs when the virtual cursor reaches the bottom visible part of the page. Pressing down arrow reads line by line, so scrolling occurs line by line.
2. The scrolling when reading up the page occurs when the virtual cursor reaches the top visible part of the page. Pressing up arrow reads line by l

[2019-04-12 11:51] leonardder commented on #7075
This is exactly how I intended things to be, so that's great!

[2019-04-12 12:21] kolaps33 opened #9484 "NVDA doesn't narrate parentheses in aria-keyshortcuts attribute"
### Steps to reproduce:
Please open the example: https://jsfiddle.net/m3b6tq79/
1. navigate to the first button.
2. Observe NVDA narration:

If example would not be available the html is:

[code]
### Actual behavior:
 "big smile emoticon laugh"

### Expected behavior:
 "big smile emoticon menu 'left parenthesis' laugh 'right parenthesis'"

### System configuration
#### NVDA installed/portable/runn

[2019-04-12 13:17] gdata1 commented on #9475
Here is an example of the pages on which this happens most often.
https://vk.com/feed
https://www.youtube.com/feed/subscriptions

[2019-04-12 14:39] leonardder commented on #6382
I'm taking the scrollIntoView part as part of #7075, trying to make it consistent across Edge, Chrome and Firefox. I"m afraid Internet Explorer will always be the exceptional case here.

[2019-04-12 14:41] leonardder commented on #7075
I'm taking the scrollIntoView issues reported in #6382 as part of this as well.

@Qchristensen wrote in https://github.com/nvaccess/nvda/issues/6382#issuecomment-316315798:

I'm inclined to implement the latter as in the try builds above, but both are possible. It would help if either @Qchristensen or @feerrenrut can give an opinion on this. Also @k-kolev1985, what do you prefer?

[2019-04-12 14:43] leonardder commented on #7075
I created [a new try build](https://ci.appveyor.com/api/buildjobs/xptxwh1fluqtl7p6/artifacts/output%2Fnvda_snapshot_try-UIAScroll-17079%2Ce2ee4106.exe) that should give identical results across the Chrome, Edge and FIrefox browsers. @k-kolev1985: Would you be able to confirm this?

[2019-04-12 15:45] k-kolev1985 commented on #7075
I like the current implementation in the "try" builds.

I've noticed however, that the behavior is a bit different between Edge and Firefox (I don't use Chrome). In Edge, when the cursor has reached the bottom line and we've read a few more lines down and the page has scrolled, if we press up arrow to read a line up, scrolling is not done, because it is not necessary. In Firefox however, if we do

[2019-04-12 17:31] leonardder commented on #7075
Thanks for your amazing help!
[Here](https://ci.appveyor.com/api/buildjobs/413hfrcelrm2sd5v/artifacts/output%2Fnvda_snapshot_try-UIAScroll-17080%2C01fcd3d1.exe) is a try build that should fix that as well.

I'm actually pretty confident that I"ll be able to come up with a proper implementation for Internet Explorer. While it won't be as accurate as the other browsers, it will still allow us to hav

[2019-04-12 21:26] Adriani90 commented on #7070
cc: @michaelDCurran

[2019-04-12 21:48] Adriani90 commented on #7067
@Qchristensen I am not able to reproduce this issue in NVDA 2019.1 and MS Office 2016 / 365 as well as Office 2010. Are you still seeing this issue on your side?

[2019-04-12 21:54] Adriani90 commented on #7134
@dreinn I think this is not entirely related to NVDA. How is the behavior now in NVDA 2019.1? Are there improvements visible? This issue depends also on how the developer of the chrome extension implemented the controls. You will never get an 100% accessibility just from NVDA's side.
If you have a specific issue and you think that it is related to NVDA, please don't hesitate to create new issues f

[2019-04-12 21:56] Adriani90 commented on #7130
cc: @josephsl, @feerrenrut, @michaelDCurran this might be of interest while moving to Python 3.

[2019-04-12 21:58] Adriani90 commented on #7125
cc: @josephsl

[2019-04-12 22:02] Adriani90 commented on #7081
@tspivey, @stickbear2015 I cannot reproduce this issue in NVDA 2019.1 and Windows 10 1809 update. Are you still having this issue?

[2019-04-12 22:15] Adriani90 commented on #7100
@fernando-jose-silva do you think this issue is still present? The interface has been changing from time to time in Windows 10. I cannot really find the combo box you describe. Could you please post exact steps to reproduce? Thanks.

[2019-04-12 22:24] Adriani90 commented on #7099
I can reproduce this issue in Firefox 66.0.3 and Chrome 73 with NVDA 2019.1.
Following is in the log:

[code]

[2019-04-12 22:26] Adriani90 commented on #7099
related to #8389

[2019-04-12 22:38] Adriani90 commented on #7082
I can still reproduce this issue as follows in NVDA 2019.1 and IE11:
1. Copy the code from the description into an empty file
2. Save it as html
3. Open it in IE
4. Press nvda+spacebar to change to focus mode
5. Press tab and shift+tab

Actual: NVDA reports "list Nokia"
Expected: NVDA should report "Select a Fone: List Nokia"

[2019-04-12 22:41] Adriani90 commented on #7078
cc: @leonardder

[2019-04-12 22:44] Adriani90 commented on #7074
@yplassiard I think your approach sounds reasonable. cc: @nvdaes

[2019-04-12 22:58] Adriani90 commented on #7072
I am testing with NVDA 2019.1 and Firefox 66.0.3 as well as Chrome 73. This issue is not reproducible anymore. NVDA reports the slider correctly without "editable". It also reports selected item.
In forms mode (called focus mode in NVDA) the interaction with the slider is possible. In Brose mode it is not possible because the arrow keys jump between elements and do not enter the elements. This is

[2019-04-12 22:58] #7072 closed

[2019-04-12 23:02] Adriani90 commented on #7073
this is still reproducible in NVDA 2019.1 and firefox 66.0.3.

[2019-04-12 23:04] fernando-jose-silva commented on #7100
I also would not know how to reproduce the problem, I came to this windows configuration screen from a windows notification.
As I have never encountered this problem I believe that the call can be closed.
Thank you very much.

[2019-04-12 23:04] Adriani90 commented on #7073
Note that in Chrome both implementations display the time and the activity each on a separate line. But when pressin h in browse mode to navigate heading by heading, both lines 8time and activity) are reported together.

[2019-04-12 23:11] Adriani90 commented on #8408
Closing as duplicate of #7074

[2019-04-12 23:12] #8408 closed

[2019-04-12 23:13] Adriani90 commented on #7074
related also to #3848

[2019-04-12 23:14] Adriani90 commented on #7100
Closing.

[2019-04-12 23:14] #7100 closed

[2019-04-13 06:56] leonardder opened #9485 "Optionally report groupings (e.g. aria role group) in browse mode"
### Is your feature request related to a problem? Please describe.
Open the following on the Firefox or Chrome address bar:

```data:text/html, <p><button>Button in paragraph</button></p><p role="group" aria-label="This is a group"><button>Button in group</button></p>```

Neither the aria role of group, nor the group label are provided in browse mode. With focus mode, when you tab through the butt

[2019-04-13 07:48] k-kolev1985 commented on #7075
Yes, now the problem in Firefox is fixed. Thanks!

[2019-04-13 08:38] bramd commented on #9485
@leonardder This is the same case as fieldset+legend, now there is no indication of the legend's role in browse mode. Do you know how other screen readers handle this case?

Not the same as this issue, but related:
If we announce more things as groups/containers I'm worried more and more how NVDA speaks them. It now is already very verbose if you enter a landmark or region with an accessible name

[2019-04-13 10:20] lukaszgo1 commented on #7067
I can still reproduce it on Windows 7 with Office 2010 32-bit  using latest Alpha of NVDA.

[2019-04-13 11:42] leonardder commented on #7075
Just to make sure, Edge and Firefox are behaving equally now?

[2019-04-13 11:44] leonardder commented on #9485
@jcsteh: Could you please share your thoughts about this?

[2019-04-13 12:22] k-kolev1985 commented on #7075
Yes, they do. :-)

[2019-04-13 15:21] Neurrone commented on #9343
A practical example where this is a huge problem is the CTAN repository for latex packages - for example, the page for the [Amsmath package](https://ctan.org/pkg/latex-amsmath)

[2019-04-13 20:46] lukaszgo1 commented on #9250
I've looked into it further and:
1. The current behavior was introduced by a92d47ff1e8e91f099ff7978acfada0285183c3f
2. The previous behavior (with 2017.4) was even worse, because when tabbing to one of these fields cared moves to the parent document and user was typing in it not in the theoretically focused field. With sources of 2017.4 comenting  out

 from winword.py in NVDAObjects/Window and th

[2019-04-13 20:57] Adriani90 commented on #9431
I think this issue is solved in last NVDA Alpha. Right?

[2019-04-14 12:10] HegrJan commented on #8996
Problem still persists in NVDA 2019.1

[2019-04-15 00:37] ehollig commented on #9482
As the user is able to change this with an existing setting, I am going to close this.

[2019-04-15 00:37] #9482 closed

[2019-04-15 00:41] ehollig commented on #7029
@michelhebert are you still experiencing this issue in Internet Explorer? @Adriani90 was not able to from https://github.com/nvaccess/nvda/issues/7029#issuecomment-481408073

[2019-04-15 04:58] dnz3d4c opened #9486 "Can not Activate Korean grade2/grade2(2006) Braille Table in NVDA 2019.1"
### Steps to reproduce:
1. Enabling the Braille Panel in the NVDA Settings dialog
2. Changed braille output to Korean grade 2 (2016) or Korean grade 2.
### Actual behavior:
Korean table not activate
### Expected behavior:
Korean table must be active.
### System configuration
#### NVDA installed/portable/running from source:
Portable
#### NVDA version:
2019.1
#### Windows version:
Windows10 version

[2019-04-15 05:45] dnz3d4c commented on #9486
@josephsl I think this problem has a big effect on users who use Korean braille tables. Can you investigate further to resolve the issue?

[2019-04-15 06:05] josephsl commented on #9486
Hi, I have rice, but no soy sauce in front of me – log please. Thanks.

From: dnz3d4c <notifications@github.com>
Sent: Sunday, April 14, 2019 10:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Can not Activate Korean Braille Table in NVDA 2019.1 (#9486)

@josephsl <https://github.com/jos

[2019-04-15 06:55] jcsteh commented on #9485
I've always found this pretty tricky/controversial.

There are certainly cases (like this one) where information can be missed if we don't report this. On the other hand, it can also cause double reporting. A lot of the time (particularly with fieldset/legend), the legend is visible (perhaps even semantically identified as a heading), so the user will see that first as they browse the document. In

[2019-04-15 07:05] jcsteh commented on #7073
Yes. That element gets an effective style of display: block when you do this. (You can see this if you query `window.getComputedStyle(timeElement).display`.) There isn't really a good way to get around this.

Interestingly, setting role="presentation" on the time element will probably fix this because it will hide the semantics of the time element (including its display type). That probably somewh

[2019-04-15 07:05] jcsteh commented on #7073
Closing as cantfix.

[2019-04-15 07:05] #7073 closed

[2019-04-15 07:18] dnz3d4c commented on #9486
Traceback (most recent call last):
  File "eventHandler.pyo", line 155, in executeEvent
  File "eventHandler.pyo", line 92, in __init__
  File "eventHandler.pyo", line 100, in next
  File "appModules\explorer.pyo", line 301, in event_gainFocus
  File "eventHandler.pyo", line 100, in next
  File "NVDAObjects\__init__.pyo", line 967, in event_gainFocus
  File "braille.pyo", line 1832, in handleGainF

[2019-04-15 07:24] josephsl commented on #9486
Hi, cannot reproduce this in 2019.1 on my computer. What about restarting with add-ons turned off? Thanks.

From: dnz3d4c <notifications@github.com>
Sent: Monday, April 15, 2019 12:19 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Can not Activate Korean Braille Table in NVDA 2019.1 (#9486

[2019-04-15 08:25] Brian1Gaff commented on #9486
He did say a portable version could it be a permissions issue for a portable
copy?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-15 08:29] dnz3d4c commented on #9486
The same issue occurs after you disable add-ons.
I tried to activate the Korean braille table after connecting the smartbittle braille display, but I can not activate it. Colleagues using other Braille displays have also experienced this problem.

[2019-04-15 08:52] dnz3d4c commented on #9486
I additionally confirmed that it is not possible to activate only the Korean grade2, Korean grade (2006) version tables. For grade 1 tables, there is no problem.
I have updated the content of the issue.

[2019-04-15 09:59] nishimotz opened #9487 "Excel crashes when data validation drop-down is used"
### Steps to reproduce:

* start NVDA and Excel, open new sheet
* move to cell A1
* Alt A V V to open "Data Validation" dialog
* Alt+A to focus on "Allow"
* use arrow keys and select "List", and Enter
* use Tab or Alt+S to focus on "Source" edit
* type "A,B,C"
* Enter to apply validation to the cell
* make sure focus is still on cell A1
* press Alt+downArrow to open the combo box
* select "A" and

[2019-04-15 10:28] sovprene opened #9488 "UIA in the OneNote UWP"
I need to read notes via UIA from the OneNote UWP app (Windows 10 App). I enumerate the elements using IUIAutomationTreeWalker and get to the page element, but there are no childs there. But if I run the application Nvda, then these elements appear. I don’t know python, I didn’t know how  to start debugging and it’s hard for me to understand how this application works. I tried to subscribe to the

[2019-04-15 11:09] DrSooom commented on #9488
@sovprene: Please completely fill out the bug report draft. Thanks.

[2019-04-15 12:16] GuruSR commented on #9374
I tried the com registration fixing tool, along with some of the other suggestions except the "Editor revisions", though I am not sure any of these are going to help.  The actual program was stalling itself, unsure what from, but the NVDA tray icon was unresponsive for a whole minute and during that time no voice was happening.  I was remoted into the machine and saw the task manager, it was showi

[2019-04-15 12:22] Brian1Gaff commented on #9488
Or maybe this is perhaps a post for the add ons list instead?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-15 12:25] sovprene commented on #9488
This is not a problem with the program, it works correctly. I appeal to the developers, since I have a similar task, but I need to read the text from OneNote with using UIA.

[2019-04-15 14:00] k-kolev1985 opened #9489 "NVDA reports incorrectly the title of the download progress window of Internet Download Manager"
### Steps to reproduce:
1. Download internet Download Manager from [its website](http://www.internetdownloadmanager.com). It has a trial period, which will be enough for our purposes.
2. Install Internet Download Manager.
3. Get the URL address of a file to download (preferably a large one, so while it's downloading, you can easily observe the behavior of NVDA in the download progress window of In

[2019-04-15 14:09] Neurrone opened #9490 "Expanding and collapsing disclosures in the Firefox console in browse mode unexpectedly redirects focus to text input"
Cc: @MarcoZehe and @jcsteh

### Steps to reproduce:

1. Paste the following code into the console.

[code]

2. Press space on the collapsed button to expand its contents, while still in browse mode.

### Actual behavior:

Focus is always forcefully moved to the text input. The disclosure does expand.

### Expected behavior:

The disclosure is expanded, and focus does not move unexpectedly.

### Sy

[2019-04-15 15:53] DrSooom commented on #9374
You should take a look at all processes of all users in the Task Manager (admin privileges required).

[2019-04-15 16:04] josephsl commented on #9486
Hi, I believe the Korean grade 2 tables are the only ones affected? If yes, then this is a table issue. If not, then we need to figure out what happened with Liblouis 3.8. Thanks.

From: dnz3d4c <notifications@github.com>
Sent: Monday, April 15, 2019 1:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nv

[2019-04-15 17:31] luisluix opened #9493 "NVDA aria-live reads different things for non-standard words."
### Steps to reproduce:

https://jsfiddle.net/rcqvum5j/

have a dropdown linked to a textbox, with aria live.
when the dropdown changes, change the text in the textbox.  nvda should read the word added.
make the words and the values differnts from each other.

### Actual behavior:

If you are navigating by keyboard up/down it reads different things going up->down than down-> up. it also cuts off i

[2019-04-15 18:48] derekriemer opened #9494 "error in google docs table nav"
### Steps to reproduce:
1. open a new docs document with braille mode enabled.
2. create a 3x3 table.
3. fill out the table.
3. try to press `alt+ctrl+<arrow keys>`

### Actual behavior:

[code]

### Expected behavior:

NVDA can move around the table.

### System configuration
#### NVDA installed/portable/running from source:
instaled

#### NVDA version:
alpha-17077,7f274eca

#### Windows version:

[2019-04-15 19:01] DrSooom commented on #9494
@derekriemer: Please add the Chrome and Firefox version to the issue description and try with NVDA 2019.1.1 as well. Thanks.

[2019-04-15 19:04] DrSooom commented on #9493
@luisluix: Please add the Firefox version to the issue description. Thanks.
CC: @jcsteh

[2019-04-15 19:22] luisluix commented on #9493
I added the version, is the latest one tho.

[2019-04-15 20:28] caseyjhol opened #9496 "In Firefox, text inside an element with a CSS transform applied is not recognized"
### Steps to reproduce:
1. Visit https://codepen.io/caseyjhol/full/eoeEOK in Firefox (66.0.2 and 66.0.3)
2. Hover over text in the green box
3. Hover over text in the red box

### Actual behavior:
Text in the green box is read aloud. Text in the red box is not.

### Expected behavior:
Text in the red box should also be read aloud.

### System configuration
#### NVDA installed/portable/running from

[2019-04-15 20:47] luisluix commented on #9493
after researching more it seems to be intended behavior

https://github.com/nvaccess/nvda/issues/6963#issuecomment-291693090

nvda will only read the diff of what changed.

[2019-04-15 21:35] mehgcap commented on #9094
After 2019.1.1, with the same work PC and keyboard I've been using all along, this issue seems to be fixed. I don't know whether that was intentional, accidental, or a complete coincidence, and I'll likely never know. For now, though, it's fixed!

[2019-04-15 21:35] #9094 closed

[2019-04-16 01:40] jcsteh commented on #9490
This isn't NVDA specific. It looks like clicking the button throws focus to the console input. My guess is that they're doing this so the button doesn't get focus when it is clicked with the mouse, since that's the default behaviour and is probably pretty annoying for mouse users in this case (they want the input to keep keyboard focus). It'd be great if you could file a Mozilla bug and CC me (or

[2019-04-16 01:40] #9490 closed

[2019-04-16 01:46] jcsteh commented on #9493
Correct. If you want the entire value to be read always, add aria-atomic.

[2019-04-16 01:46] #9493 closed

[2019-04-16 04:32] GuruSR commented on #9374
@DrSooom, umm.  Cmd in Admin mode, running TASKMGR from that prompt, I see everything.  Normally the threads with respect to NVDA are hovering up at the top when set to CPU usage highest to lowest, though during this NVDA not responding, they weren't in the top 10-15, meaning it was stuck waiting on something else, wouldn't even respond to the right click on the tray icon for a good minute.  And t

[2019-04-16 06:27] SriNandiniG opened #9498 "User is not informed if there is a clickable element in the cells of detailslist component while using nvda."
### Steps to reproduce:
https://codepen.io/vitalius1/pen/OqerJN
### Actual behavior:
In the codepen demonstation, there is a dialog box that shows up upon clicking elements in the detailslist. The narrator/nvda does not mention button/link which tells the users that there is on click. I have raised the same issue to office-ui-fabric team( https://github.com/OfficeDev/office-ui-fabric-react/issues/

[2019-04-16 06:53] josephsl commented on #7105
Hi,

Update as of April 15, 2019: several add-ons are Python 3 ready or are being ported to Python 3. Broad transition won't begin until NV Access officially declares start of Python 3 transition phase.

Thanks.

[2019-04-16 10:12] DrSooom commented on #9498
@SriNandiniG: Please add the webbrowsers (including their versions) to the issue description where this issue occurs/was tested. Thanks.

[2019-04-16 13:14] Neurrone commented on #9490
Thanks for investigating.

I've [filed this bug on Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1544773). Tried to CC you like I would on GitHub, not sure if it worked or not.

[2019-04-16 14:17] varunmshetty commented on #9417
Hello everyone, Just curious if anyone had a chance to look at this behavior. Please let me know.

Thanks,
Varun

[2019-04-16 15:56] DrSooom commented on #9460
On Windows 7 you are able to move the selection in the Windows Explorer to a folder or file by directly typing its name. It's the same behaviour for the lists in the Task Manager and also in some other Windows-own applications. But I'm not sure if these behaviours still exist in Windows 10-1809.

[2019-04-16 18:15] jakubl7545 commented on #9285
I've looked into it and it turned out that this issue is caused by that condition:
		if not obj.parent or obj.parent.name!='Comment':
			continue
The problem is that this object name is language sensitive i.e. in polish it is "Komentarz". So when the language in word interface is set to other than english, this condition is always true and NVDA doesn't see any comments even if there are some.

[2019-04-16 19:29] elliott94 commented on #7778
Just a small update.

After testing this on a separate machine with a freshly-installed build of Windows 10 (the same version as initially outlined in my description for this ticket), I am experiencing the exact same behaviour. It definitely seems like something is up with the corporate build that my organisation are using; that to one side, however, this is definitely caused by a change between F

[2019-04-16 20:06] fisher729 commented on #124
Hi.

Bumping this issue due to constant conversations on the email list about it. I do agree that it is relevant, and Y or Z can be a key for this purpose. Any thoughts @michaelDCurran @josephsl @jcsteh and @feerrenrut?

[2019-04-16 20:16] josephsl commented on #124
Hi, how about a slash key or some other punctuation character we didn’t use yet? At this point, I’d rather put more focus on upcoming Python 3 preparation (this doesn’t mean this issue should be forgotten). Thanks.

From: fisher729 <notifications@github.com>
Sent: Tuesday, April 16, 2019 1:07 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mentio

[2019-04-16 21:27] Adriani90 commented on #9472
cc: @jcsteh, @leonardder

[2019-04-16 21:29] Adriani90 commented on #9431
@feerrenrut is this solved in NVDA 2019.1.1?

[2019-04-16 21:32] Adriani90 commented on #9285
Does that mean you can read the comments if MS Word is set to english language?

[2019-04-16 21:37] jakubl7545 commented on #9285
I didn't checked that, but I changed the word 'Comment' from condition to polish "Komentarz" and it worked well, so I suppose it would work with MS Word language set to english.

[2019-04-16 21:37] Adriani90 commented on #7142
This is still reproducible in NVDA2019.1.1.
Note following:
* When choosing links rather than headings, NVDA reports level 0 on every entry in the list.
Expected: when choosing links, NVDA should not report level at all.

[2019-04-16 21:41] Adriani90 commented on #7140
@fernando-jose-silva are you still seeing this issue in NVDA 2019.1.1 and Chrome 73? I cannot reproduce it.

[2019-04-16 21:47] Adriani90 commented on #7221
@DrDento are you still able to reproduce this issue? did you try to reproduce it with all addons disabled?

[2019-04-16 21:49] zstanecic commented on #9285
which is unacceptable, as i use word in russian, eventually polish when i am using it on another machine.
can we implement all possible names for it, to avoid switching languages to english, as it is not an option?

[2019-04-16 21:50] Adriani90 commented on #7220
@feerrenrut is this partly solved with the new automated testing framework?

[2019-04-16 22:03] Adriani90 commented on #7213
@abhishekkumawat23 are you still seeing this issue in NVDA 2019.1.1?

[2019-04-16 22:06] jcsteh commented on #9472
Could you please provide a crash dump? If you press Windows+r and type %temp% (note the percent signs), there should be a file called nvda_crash.dmp.

[2019-04-16 22:10] jcsteh commented on #7778
Firefox 57 and later use some facilities of COM that weren't used by
earlier versions. However, under normal circumstances, there's no reason
this should be a problem. The question is what is being changed or
installed by your organisation which causes this. I haven't yet been able
to figure that out, as I haven't been able to reproduce it here or access a
machine which manifests this.

[2019-04-16 22:15] jcsteh commented on #9490
Thanks! No, you can't CC like that; there's a separate CC field where you
can type :jamie (or my Mozilla email address) to CC me. That said, I'm not
sure if you can access that field or not. Regardless, I followed the issue
myself.

[2019-04-16 22:29] Adriani90 commented on #7161
I can still reproduce this issue in NVDA 2019.1.1.
In my opinion this issue should be investigated further due to following reasons:
1. When switching from browse mode to focus mode and pressing up and down arrow, NVDA will not read anything if the text is only one line long. But itwill read characters if you press left and right arrow.
2. The error seems to be raised only when reaching the border

[2019-04-16 22:32] Adriani90 commented on #7210
@vgjh2005 are you still having this issue in NVDA 2019.1.1? In this case it is really hard for us to reproduce. At least I cannot reproduce it with NVDA 2019.1.1 This is caused by the fact that your system seems to be specific with multiple screen readers installed. Could you try to run the com registration fixing tool in nvda menu / tools and see if the issue is still occuring? Thanks.

[2019-04-16 22:37] Adriani90 commented on #7198
@hvinh the link is not working on my side unfortunately. So I cannot test if this issue is still reproducible. are you still having it in NVDA 2019.1.1 and Firefox 66.0.3?

[2019-04-16 22:46] Adriani90 commented on #7183
This feature would boost efficiency in complex excel sheets with many formulas significantly. At least in my case, I spend sometimes lots of minutes just to track where a formula gets its values from. Such a feature would accelerate the work alot.

[2019-04-16 22:53] Adriani90 commented on #7182
I can somehow reproduce an issue like this with NVDA 2019.1.1 and Firefox 66.0.3.

In the first example provided by @MABennett3, the second table works as expected. No issues. But while navigating in the first table, I get following error in the log file:

[code]

cc: @jcsteh

[2019-04-16 22:56] Adriani90 commented on #7182
In the second example by @bud93411 the header seems to be splited from the table and table navigation command cannot be used. In fact NVDA does not recognize it as a table at all.

Starting with 1pt (first cell under the header), while navigating with table navigation commands, it is not possible to move between the cells. In the log there is following error:

[code]

[2019-04-16 23:01] Adriani90 commented on #7182
In Google chrome table navigation is not possible in any of the examples. In the second example I get the same error like in Firefox.

[2019-04-16 23:02] Adriani90 commented on #7178
cc: @josephsl

[2019-04-16 23:05] Adriani90 commented on #7175
related to #8389

[2019-04-16 23:13] Adriani90 commented on #7160
This is reproducible in NVDA 2019.1.1 and Firefox 66.0.3 and other browsers. To clarify how I tesed
1. Open the link in the description
3. With NVDA in browse mode, move with h for heading and down arrow key to the first element which is "hello"
4. Press tab twice
5. Press enter and after that press ok
6. Press shift+tab twice
7. Press enter

Actual: When doing step 4, NVDA reads "Hello 1 line 2"

[2019-04-16 23:20] Adriani90 commented on #7173
@oaron, @jcsteh  I cannot reproduce this issue in NVDA alpha-17077,7f274eca and Firefox 66.0.3. Can you still see this error?

[2019-04-16 23:22] Adriani90 commented on #7171
@fernando-jose-silva does it work in NVDA 2019.1.1 and Chrome 73 now as expected? Or are you still having this issue?

[2019-04-16 23:32] Adriani90 commented on #7156
This issue is reproducible in NVDA 2019.1.1 and every browser. I tested in Firefox 66.0.3, Chrome 73 and Edge. The issue is that NVDA does not read the item number in the combobox. To reproduce as follows:
1. Open the code from the description in a new html file in a browser
2. Press enter on the combo box
3. Press alt+down arrow
4. Press down and up arrow

Actual: NVDA reads "Volvo, SAP, Audi" et

[2019-04-16 23:38] Adriani90 commented on #9472
There is a crash dump in the logs.zip file in the description. But for what ever reason I cannot read the content of the file.

Von: James Teh <notifications@github.com>
Gesendet: Mittwoch, 17. April 2019 00:06
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Windows 10 NVDA OCR Crashing NVDA

[2019-04-16 23:38] Adriani90 commented on #9285
This will not be possible I guess. There must be another solution for that.

cc: @michaelDCurran

Von: zstanecic <notifications@github.com>
Gesendet: Dienstag, 16. April 2019 23:50
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] In microsoft office Word 2016-365, when the UIA is enabled, the

[2019-04-17 00:29] jcsteh commented on #9072
We believe this has been fixed by Microsoft. @leonardder, I'm closing this as fixed, but please reopen if the problem persists.

[2019-04-17 00:29] #9072 closed

[2019-04-17 00:37] jcsteh commented on #9402
We've also had a [report of a crash in markNodeAsNonreusableIfInAncestor](https://bugzilla.mozilla.org/show_bug.cgi?id=1532603). While a different crash and we don't have STR, it's likely that this is also due to an invalid child node and that this was caused by a node moving.

[2019-04-17 00:52] fernando-jose-silva commented on #7171
perfect, everything works fine now.

[2019-04-17 00:59] vadimhp commented on #7823
I strongly suggest that NVDA smartly avoid reading the heading contents the second time if they were already read out once due to aria-labelledby.

[2019-04-17 01:08] fernando-jose-silva commented on #7140
perfect, everything works fine now.

[2019-04-17 01:41] gregjozk commented on #124
2019-04-16 22:16 GMT+02.00, Joseph Lee <notifications@github.com>:

[2019-04-17 01:42] jcsteh commented on #9472
My apologies. I missed that. You'd need to examine that with a Windows
debugger like WinDBG. That's fairly complicated stuff. :)

[2019-04-17 01:44] jcsteh commented on #7173
I can still reproduce it here.

[2019-04-17 01:45] jcsteh commented on #7173
Simple test case: `data:text/html,<section aria-label"almenük" role="region">`

[2019-04-17 01:54] gregjozk commented on #124
Hello,

excuse me for previous blank message. The enter key was pressed too
quickly. If I've been asked for opinion, I would not advised / or
other character due to possible localisation (internationalisation
problems. NVDA users use many keyboard layouts and / is not a single
key on many of them. E.G. if I wanted press "/", I should have pressed
combination shift+7 key.

thanks.

regards,
Jožef

[2019-04-17 02:02] jcsteh commented on #7182
Regarding @MABennett3's test case, this is a Firefox bug. NVDA relies on Firefox to expose table semantics. (In contrast, I guess JAWS must be building its own idea of the table.) The intervening divs are causing problems for Firefox's table accessibility code.

The ARIA spec seems to suggest that required owned elements can be DOM descendants, not just DOM children, so I guess this should be fixe

[2019-04-17 08:26] ironcross32 commented on #9472
Yes its binary data, is this not standard practice? I'm not sure what you're asking me for.

[2019-04-17 08:52] hvinh commented on #7198
Hello @Adriani90.

I do have the latest versions installed and i just confirmed that the issue is still happening.
Please use this link: https://tinyurl.com/y6spr8pq

You can follow the steps described previously, but select special assistance instead of seats (escort for the blind, wheelchair)

Then tab on the trash icon button for escort for the blind and delete it.
Tab again: nothing is read on

[2019-04-17 11:08] abdel792 opened #9499 "Announce the reverse located cell after moving to it when pressing shift + enter"
### Steps to reproduce:

1. Open Excel;
2. In a sheet, move to cell A2 for example, with downArrow;
3. Realize the gesture Shift+Enter or Shift+numpadEnter, the focus is then moved to the reverse located cell (left, up, right or down, according to user's configuration in Excel).

### Actual behavior:

NVDA is silent, it doesn't announce the cell to which we have just moved.

### Expected behavior:

[2019-04-17 11:26] netblue44 commented on #124
No not slash or any other punctuation character because they will cause
problems for different languages

I Propose y, p, or w

this is a really important feature because nearly all websites now have
multiple clickable elements.

On 16/04/2019 02:16 p. m., Joseph Lee wrote:

[2019-04-17 12:41] Neurrone commented on #9490
I see a combo box called "Need more information from", is this the one you're referring to?

[2019-04-17 13:11] Adriani90 commented on #9472
No that's ok, it was me not knowing how exactly to see the Content. I am not very experienced in development stuff yet. :-) Sorry for any confusions.

[2019-04-17 15:59] dkager commented on #9485
Very interesting discussion. Should groups/fieldsets also be escapable, e.g. with comma in browse mode? I'm thinking this would be particularly useful for figures, but might clutter things if you have a list in a fieldset in a form in a landmark. Which ones do you expect to be able to escape from?

[2019-04-17 19:25] ironcross32 commented on #9472
OK, I must admit, that one had me shaking my head a bit :)

[2019-04-17 21:20] Adriani90 commented on #7171
Closing as works for me

[2019-04-17 21:20] #7171 closed

[2019-04-17 21:21] Adriani90 commented on #7140
Closing as works for me

[2019-04-17 21:21] #7140 closed

[2019-04-17 21:44] Adriani90 commented on #7198
Thanks for providing this link. I can reproduce this issue. in NVDA 2019.1.1 and Firefox 66.0.3. After checking two checkboxes for assistance (blind escort and wheel chair), I pressed tab until I heared "remove blind escort". I pressed enter. Then, I pressed tab to move to the second remove button for wheel chair. But NVDA didn't report anything. Following error is shown on the log file:

[code]

[2019-04-17 21:56] Adriani90 commented on #7270
@josephsl are you still seeing this issue? I cannot really reproduce it in NVDA alpha-17077,7f274eca. But maybe it is not reproducible every time.

[2019-04-17 21:59] Adriani90 commented on #7266
@PratikP1 the verbosity reduced to ""Chrome menu button submenu" when pressing alt. I am testing with NVDA 2019.1.1 and Chrome 73. So I cannot reproduce this issue. Are you still having this problem?

[2019-04-17 22:00] Adriani90 commented on #7233
@dingpengyu are you still having this issue in NVDA 2019.1.1?

[2019-04-17 22:07] Adriani90 commented on #7265
This is still reproducible in NVDA 2019.1.1 and i.e. Firefox 66.0.3.

[2019-04-17 22:08] Adriani90 commented on #7265
It is also reproducible in Chrome 73 and IE11.

[2019-04-17 22:13] Adriani90 commented on #7263
@fernando-jose-silva are you still having this issue in NVDA 2019.1.1? If yes, which synthesizer are you using? Is the same issue with other synthesizers reproducible? I had similar problems with a synthesizer which added entries to my speech dictionary without warning me before. I discovered that after hours of investigating because reportings in MS Excel were strongly broken (i.e. NVDA reported

[2019-04-17 22:14] Adriani90 commented on #7263
For me, I cannot reproduce this issue in german, romanian and english language with different synthesizers.

[2019-04-17 22:17] Adriani90 commented on #7262
Unfortunately I cannot reproduce this issue in NVDA 2019.1.1. @fernando-jose-silva could you please test if you reproduce this issue on other machines as well? It might be something specific on your machine. Also please try to reproduce this issue with all addons disabled.

[2019-04-17 22:27] RD-Brown opened #9500 "In Google Chrome, NVDA does not initially read graphics containing a large amount of alt text"
When an image contains a large amount of alt text, NVDA does not initially recognize that a graphic is present, and mistakenly announces, “No next graphic,” when G is pressed at the top of the page.  (TestNav, Pearson’s test delivery platform, is used to demonstrate this error inside Google Chrome.)

### Steps to reproduce:
1.	In Chrome, go to link:
https://uat-gen.testnav.com/client/index.html#lo

[2019-04-17 22:27] josephsl commented on #7270
Hi, haven’t come across this in more recent builds. I vote that we close this unless someone objects to this. Thanks,

From: Adriani90 <notifications@github.com>
Sent: Wednesday, April 17, 2019 2:56 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows 10 build 16215/Edge: UIA property fe

[2019-04-17 22:28] Adriani90 commented on #7257
I think I can reproduce this issue in NVDA 2019.1.1 and Chrome 73.
1. Open the link in the description, not ethat this issue might be reproducible only if you open it for the first time. A dialog wil appear.

Actual: You will hear "alert: Allow button, Block button". The alert itself cannot be read with object navigation or with tab and shift+tab. The message of the alert is even not reported when

[2019-04-17 22:30] Adriani90 commented on #7256
cc: @bramd, @leonardder

[2019-04-17 22:31] Adriani90 commented on #7250
cc: @derekriemer

[2019-04-17 22:34] dingpengyu commented on #7233
hi Adriani
I used NVDA alpha 17077 to test the problem. NVDA still can't read the code selection list of np++. Here's nvda. log
[nvda.log](https://github.com/nvaccess/nvda/files/3091808/nvda.log)

[2019-04-17 22:36] Adriani90 commented on #7234
I am closing this because it is related to an old skype version and it is not reproducible in Skype 8.

[2019-04-17 22:36] #7234 closed

[2019-04-17 23:05] Adriani90 commented on #7247
@derekriemer, @jcsteh I was looking through the code and was thinking to solve this issue because this seems even easy enough for me to do it and it is a good exercise to jump into understanding the source code.

But I have a concern here. What if some people used the constant 114 for alert role in their addons / app modules or in the controler client? Removing this entry from the dict would break

[2019-04-17 23:06] Adriani90 commented on #7247
Or at least it could cause alert not to be reported.

[2019-04-17 23:15] Adriani90 commented on #7246
@jcsteh I noticed that it works reliably when pressing f5 or when moving backwards to a previous page (alt+left arrow or backslash) if the page is not part of the same website (i.e. mooving backwards from link in the description to Github). But it does not work when mooving forward (alt+ right arrow from Github to link in the description).
If I am moving back and forth between two github pages, NV

[2019-04-17 23:33] Adriani90 commented on #7244
@feerrenrut I guess you have enabled screen layout when available in NVDA browse mode settings. Right? Because I cannot reproduce this issue with the screen layout feature disabled.
When screen layout is enabled, NVDA reports approx. three list items on a line with 100 character per line set in NVDA's settings. I would expect NVDA to report two entries per line at most due to the fact that there a

[2019-04-17 23:36] Adriani90 commented on #7241
@netblue44 in NVDA 2019.1 there is a significant performance improvement made in MS Word. Are you still having this issue? Could you please test with UIA disabled?

[2019-04-17 23:46] Adriani90 commented on #7240
I can still reproduce this in NVDA 2019.1.1, Firefox 66.0.3 and Chrome 73.
@jcsteh I think there was an issue which was somehow duplicate tot his but unfortunately I cannot find it anymore. You explained there why this behavior is tricky to solve.

I tested as follows:
1. Open the link in the description
2. Press "o" in browse mode to jump to the application role
3. Press tab once, then shift+tab

[2019-04-17 23:48] Adriani90 commented on #7235
@albzan could you please give an update to this one? Does it work better now in NVDA 2019.1.1?

[2019-04-17 23:56] Adriani90 commented on #7227
@david-acm I am marking you to this issue since you have recently made an excelent contribution to the community creating an addon which could do this. Maybe you are interested to raise a pull request against the core of NVDA at least for the print key.

[2019-04-18 00:11] Adriani90 commented on #7226
cc: @jcsteh, @mltony, @leonardder I can reproduce this issue just by navigating with arrow keys around. Edit fields are skipped very often if you navigate fast with down and up arrow key.

There is following in the log:

[code]

Moreover, this is also shown while navigating around:

[code]

[2019-04-18 00:15] Adriani90 commented on #7224
I cannot reproduce this issue in NVDA 2019.1.1 and Chrome 73.
Closing as works for me, since we have the same results by other users. @michaldziwisz if you are still having this issue, please comment on it and we can reopen it. Thanks.

[2019-04-18 00:15] #7224 closed

[2019-04-18 00:21] jcsteh commented on #7244
The line lengths in NVDA browse mode currently don't match visual line lengths. This is expected behaviour. The same is true for columns, since they're effectively a visual styling feature.

The only thing that's relevant here as far as NVDA is concerned is the display style. inline-block will cause them to be treated as if they don't need to be rendered on their own line, which is what's happenin

[2019-04-18 00:23] Adriani90 commented on #9500
Note that when navigating to the introduction, "this is a very big grafic ... etc.", you can also use object navigation to access the grafic.
1. By pressing num 6 on the numblock if the keyboard layout in NVDA's settings is "desktop"
2. Or by pressing nvda+shift+right arrow if the keyboard layout is "laptop".

However, this is anyway a strange behavior, NVDA should detect the grafic initially and

[2019-04-18 00:25] jcsteh commented on #7246
That's an entirely different issue related to so-called "single page apps" (SPAs). When you move between pages on GitHub, the page doesn't actually reload; the current document is updated dynamically. That makes things faster and smoother. Unfortunately, there's no good way to make this accessible. There's some discussion going on between various stakeholders at the moment as to how to improve thi

[2019-04-18 00:28] Adriani90 commented on #7270
Closing as works for me.
If someone can reproduce it, please comment on it and We reopen it.

[2019-04-18 00:28] #7270 closed

[2019-04-18 00:46] jcsteh commented on #9490
No; that's for an explicit request for further information from that user.
There should be a "cc list" section near the top of the bug. That said,
it's possible you don't have access to that; I'm not sure. In any case,
once I have bug numbers, it's all good.

[2019-04-18 03:32] david-acm commented on #7227
Hi @Adriani90
Thanks for your mention. I could do it, personally haven't had any mistake with that key. But might be useful for other users. In fact, I sometimes have mistakes with the insert key. So this feature should be general for any key.
The speak command keys feature is really tedious on NVDA, I know. It must be improved.E.G. with a white list of keys to report. Sound indications could be a

[2019-04-18 10:47] ruifontes commented on #7227
Hello!

NVDAExtensionGlobalPlugin, from PaulBer19, already does it...
It is available, among other places, on:
https://www.tiflotecnia.net/addon_Extensao.htm
Note: Page in portuguese...

Best regards,

Rui Fontes
NVDA portuguese team
Tiflotecnia, Lda

Às 04:32 de 18/04/2019, david-acm escreveu:

[2019-04-18 11:10] Sandhya-aluri opened #9501 "NVDA is reading the day name incorrectly inside the date picker"
### Steps to reproduce: https://codepen.io/sandhya-aluri/pen/RdJVbx
<img width="809" alt="nvda" src="https://user-images.githubusercontent.com/48669559/56357027-185c5a00-61f8-11e9-8689-03da6ec5df00.png">

### Actual behavior: NVDA is not reading the dates inside the calendar properly. NVDA is mentioning row number 1 Monday and also reading the day name incorrectly for all the dates selected.

###

[2019-04-18 12:26] fernando-jose-silva commented on #7262
I was able to reproduce only my second page, open a document in word, and paste the line:
A59103 Tifvil9981*
Now press an arrow and notice that the nvda changed the order of the codes, it read first:
Tifvil9981*
and then read:
A59103
most in the written line is in the order:
A59103
and then:
Tifvil9981*
Tested with speack ptbr and amirican.
Also tested with voices windows onecore ptbr.
Windows and

[2019-04-18 12:29] fernando-jose-silva commented on #7262
I do not know why chrome insists on separating the * at the end of the code
Tifvil9981
with a space plus this space does not exist as this is a password.

[2019-04-18 13:05] fernando-jose-silva commented on #7263
Perfect
@Adriani90
Solved deleting multiple entries of dictionaries, the vast majority not created by me.
Congratulations on your work, very valuable for everyone.

[2019-04-18 13:10] fernando-jose-silva commented on #7262
Perfect also solved after deleting entries in the dictionary as recommended by
@Adriani90
As a suggestion in the nvda log when an expression was modified by an entry in the dictionary this could be reported, it would facilitate the resolution of this problem.

[2019-04-18 13:12] Neurrone commented on #9490
Thanks, I found it by expanding the people section disclosure.

[2019-04-18 13:53] Brian1Gaff commented on #9501
Hi maybe  I am misunderstanding here, but using 2019.1.1 on that page and
opening one of the items with days in it I can hear the days correctly
spoken in Waterfox. What is your browser?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2019-04-18 21:23] JouMxyzptlk commented on #7348
I found following reason which slowed quite a number of Excel 2010/2013 and 2016 installations to crawl unusable even on simple Excel sheets in a company administered by me:
Check your system control panel region for "mixed" language settings. We had set "English (Deutschland)". As soon as we set it to "English (English)" or "Deutsch (Deutsch) Excel worked fine. We guess Excel is sensitive to some

[2019-04-18 21:45] Adriani90 commented on #7262
Thanks very much Fernando for reporting back and for your suggestion. I will forward this directly to NV Access for further steps. Very appreciated.
Closing as works for me.

[2019-04-18 21:45] #7262 closed

[2019-04-18 21:55] Adriani90 commented on #7263
Thank you very much,
closing as works for me.

[2019-04-18 21:55] #7263 closed

[2019-04-18 22:20] AdeyemiA commented on #6123
@Adriani90 one work-around is to add role="menuitem"; this should fix it. See [here](https://github.com/w3c/aria/issues/454#issuecomment-308305351).

[2019-04-19 12:54] paulber19 commented on #7227
Hi,
the last version (v8.0) is here:
https://www.nvda-fr.org/article.php?id=10
Best regards.
Le 18/04/2019 12:47, ruifontes a écrit :

[2019-04-19 22:26] catamphetamine commented on #6606
@haltersweb That's a good showcase app.
We implemented your idea in a workaround in our React app.
So, the workaround is to have an `aria-live` region outside of the current SPA "page" content.
Example:

[code]

And then on each subsequent navigation it should:

* `document.getElementById('page-loading-status-announcement').textContent = 'New page is being loaded'` on before loading new page has s

[2019-04-19 22:32] derekriemer commented on #9494
happens with 2019.1.1 and it's obvious. No need to add firefox and chrome versions, it occurs with them all after 2019.1.

[2019-04-19 22:35] fisher729 commented on #124
Hi.

W is already used for spelling errors. I think Y is the best option at the moment.

[2019-04-20 13:30] bourpie opened #9502 "NVDA not honoring the lang attribute"
### Steps to reproduce:

On Windows 10 in french, in Chrome or Firefox open a web page which has the page lang attribute set to "en" (&lt;html lang=&quot;en&quot;&gt;)

### Actual behavior:

The voice reads english with a french accent

### Expected behavior:

The voice should read english with an english accent

### System configuration

French Windows 10

#### NVDA installed/portable/running fro

[2019-04-20 16:12] lukaszgo1 opened #9503 "In edit boxes using DisplayModelEditableText space is added in front of each not empty line."
### Steps to reproduce:
1. Open  any application using DisplayModelEditableText and write a few lines.
2. Move with up and down arrows and press NVDA+up arrow to spell each of them.
3. move with left and right arrow and compare the results.
### Actual behavior:
When spelling space is presented in front of each line. It is particularly problematic when indentation reporting is used in these editors

[2019-04-20 16:25] lukaszgo1 opened #9504 "When moving with arrows in specific Word document current page and section number are announced in random places."
I cannot share the document publicly here. If someone would like to work on this just mention me here and I will send it privately.

### Steps to reproduce:
1. Open the Word document in question,
2. Start moving with the down arrow to the first group of empty lines.
3. Move back with the up arrow.

### Actual behavior:
NVDA randomly announces page 1 Section 1.
### Expected behavior:
NVDA should an

[2019-04-20 16:42] lukaszgo1 opened #9505 "Add ability to retrieve formatting for the text under the cared"
### Is your feature request related to a problem? Please describe.
I am working all the time with review cursor and object navigation not following the cared mainly to be able to for instance read some instructions with the review cursor in the one window and work at the same time in the other program like sighted people are working by placing two windows side by side. Therefore each actions which

[2019-04-20 17:05] Brian1Gaff commented on #9504
This also has some tie in with the way you can get stuck in a page unless
you can make the zoom level bigger so the pages only fit one to a screen. It
seems the way nvda moves from page 1 to page 2 is very flaky at the moment.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2019-04-20 17:06] Brian1Gaff commented on #9502
What is the synth in use when this happens?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-04-20 17:19] leonardder commented on #9503
I guess this can be worked around by subclassing displayModel.EditableTextDisplayModelTextInfo, setting stripOuterWhitespace to True. I'm afraid this can lead to unexpected outcomes though, such as stripping spaces that ought really be there. As we most likely don't want this, this is very unlikely to get fixed at all. I'm tempted to close this as a can't fix (i.e. we really can't make sure what s

[2019-04-20 17:22] leonardder commented on #9505
I recall there either is an issue for this already, or this has been discussed on a mailing list. Anyhow, this is a valid request and is not very difficult to implement, as long as the implementation ensures that the script only works when there is a caret.

[2019-04-20 17:28] DrSooom commented on #9502
@bourpie: Please enable "Automatic Language switching" as well as "Automatic Dialect switching" in the Speech NVDA Settings and try again. Note that not all TTS Engines support these options.

[2019-04-20 17:35] DrSooom commented on #9503
@leonardder: Maybe a candidate for a new checkbox in the Advanced NVDA Settings? Just a thought.

[2019-04-20 17:58] DrSooom commented on #9505
See issue #7869 and #8674 and PR #7990. A checkbox in the Document Formatting Settings would be fine as (later on) it should be possible to configure which formatting values should be spoken (and shown via Braille flash message) via NVDA+F and shown after Double-NVDA+F in a separate window.

[2019-04-20 18:08] bourpie commented on #9502
@DrSooom: I had both enabled "Automatic Language switching" as well as "Automatic Dialect switching" but it didn't work. It worked when I changed the TTS Engines. Thanks for the tip.

[2019-04-20 18:08] #9502 closed

[2019-04-20 19:06] elliott94 opened #9506 "Input Gestures Dialog: Change Category of "Toggles on and off the inclusion of layout tables in browse mode" Setting"
When taking a look through the Input Gestures dialog, I've noticed that the above setting is under the "Misc" tab; however, when taking a look through the main Settings dialog this setting can be found under the "Browse Mode" category. Would it be possible to move this option here as well so that the settings in the main config dialog and Input Gestures match?

[2019-04-20 23:17] Adriani90 commented on #7296
This is still reproducible in NVDA 2019.1.1.
cc: @leonardder, @michaelDCurran

[2019-04-20 23:25] Adriani90 commented on #7292
This is still reproducible in NVDA 2019.1.1 and IE11. Tested as follows:
1. Opened the link in the description
2. Navigated with arrow key to the first tab
3. Switched to focus mode with nvda+space bar
4. Pressed tab and then shift+tab to land on the tab area.

Actual: NVDA does not report "1 of 3" to indicate which tab I am focusing and how many tabs there are.
I get following error in the log:

[2019-04-20 23:31] Adriani90 commented on #7288
This is still reproducible in NVDA 2019.1.1.

[2019-04-20 23:35] Adriani90 commented on #7278
Still reproducible in NVDA 2019.1.1 and different browsers (tested in FF 66.0.3 and Crhome 73).

[2019-04-20 23:38] Adriani90 commented on #7277
This is also reproducible with NVDA 2019.1.1 and MS Excel 2016 / 365.

[2019-04-20 23:47] Adriani90 commented on #7390
The issue in Edge and IE11 still exists in NVDA 2019.1.1. Chrome and Firefox work very well now.

[2019-04-21 00:09] Adriani90 commented on #7324
The current implementation is certainly not ideal. @jcsteh this would also apply to edit fields and I think the main use case here is to gain more efficiency and to avoid confusions. If we take the second example provided by @bestuiexperience, NVDA even reports the live region after leaving the edit field with tab which is actually already too late.
1. Open the link
https://jsbin.com/sebegotiga/ed

[2019-04-21 00:12] Adriani90 commented on #7324
I think this issue depends strongly to the way how the web developer implements such live region events and how they are meant to be reported. I don't know if there is already a certain standard for this behavior but in my view both examples showed in this issue are not ideal from an user perspective.

[2019-04-21 00:18] Adriani90 commented on #7381
@Andre9642 is this issue still reproducible in Liblouis 3.9? Did you have an opportunity to test that on a try build or so?

[2019-04-21 08:04] Andre9642 commented on #7381
Yes, this issue is still reproducible. However French Braille tables have been updated since awhile and it's harder to reproduce now.
To reproduce this, edit `./louis/tables/fr-bfu-comp68.cti` and remove the `noback` opcode from all rules.

I am on alpha channel and it's updated. :)

[2019-04-21 09:43] elliott94 opened #9507 "Input Gestures Dialog: Add Missing Gestures for Document Formatting"
When taking a look at the gestures listed for Document Formatting from within the Input Gestures dialog, I've noticed that both "Cell Borders" and "Font Name" are missing. Would it be possible to add these so that all gestures are present?

[2019-04-21 11:59] DrSooom commented on #9507
In NVDA 2018.1 "Cell Borders" is missing, but there is an entry for the font name. It's called "Toggle reporting font name changes on or off" or so. (I'm using the German GUI.)

And for the next time, please completely fill out the bug report draft for such kind of issues. Thanks in advance.

[2019-04-21 12:13] DrSooom commented on #9506
Confirmed for NVDA 2018.1 and 2019.1 RC1. But then what should we do with the four entries regarding cell navigation within a table? They are also located in this category.

[2019-04-22 07:14] Sandhya-aluri commented on #9501
chrome

[2019-04-22 09:05] elliott94 opened #9508 "English User Guide: Additions/Corrections"
I've carried out an entire read through of the English User Guide, and noticed the following additions/corrections that I hope may be useful - original text will come first on each line, followed by a ">" symbol and my suggested addition/correction. It's worth noting that this is based on alpha-16944,00a63f0a so I totally understand that several of these may already be fixed.

NVDA is copyright 20

[2019-04-22 09:09] elliott94 opened #9509 "Key Commands File: Missing Default Input Gestures"
When taking a look through the Input Gestures dialog, I've noticed the following default gestures that are missing from the Key Commands file - could these be added for completeness? See below:

Logs information about the current navigator object which is useful to developers and activates the log viewer so the information can be examined.

Speaks the filename of the active application along with

[2019-04-22 09:24] elliott94 opened #9510 "Windows 8: Drop Support for anything Less than Windows 8.1"
As of 12/01/2016, Microsoft no longer support the original RTM version of Windows 8; devices must be running Windows 8.1 to continue receiving updates. To ensure that we are only supporting OSs that are continuing to receive support and to encourage users to stay up-to-date with security fixes, it may be worth considering dropping Windows 8 support.

If people think that this may be worth it, a go

[2019-04-22 09:29] lukaszgo1 commented on #9510
Would this bring any actual benefit for users? In my opinion it would not. Furthermore Windows Server 2012 is still supported and it also is Windows 6.2.

[2019-04-22 10:29] leonardder commented on #9510
There is no benefit in dropping Windows 8 support while keeping support for Windows 7. Even after official support for windows 7 will be dropped, I believe it will still be possible to buy extended support from Microsoft. Furthermore, Lukas has a valid point concerning Windows Server 2012.

I'm closing this as won't fix.

[2019-04-22 10:29] #9510 closed

[2019-04-22 12:43] Nitram1123 opened #9512 "Cursor routing don't work with IntelliJ idea community edition 2019.1.1, NVDA 2019.1.1 and HumanWare Brailliant BI 40"
### Steps to reproduce:
Run NVDA
Run IntelliJ
Open a java file in the editor
Test the cursor routing

### Expected behavior:
No button works on my Brailliant BI in the editor

### System configuration

#### NVDA version:
2019.1.1

#### Windows version:
Windows 10

#### Name and version of other software in use when reproducing the issue:
Java jre 1.8.0_172

### Other questions
I believe this featu

[2019-04-22 12:53] DrSooom commented on #9509
@elliott94: Which NVDA version was used? And as I said before in issue #9507, please always completely fill out one of the both drafts, otherwise your issues will get closed. Thanks.

[2019-04-22 12:56] DrSooom commented on #9508
See also issue #8689

[2019-04-22 13:20] leonardder commented on #9503
I'm not a huge fan of that, but it could be debated of course.

[2019-04-22 14:34] elliott94 commented on #9509
Tested with an Alpha build; however, these have been missing for some time now.

[2019-04-22 14:35] lukaszgo1 commented on #9509
This is a duplicate of #1506. Initially only CTRL+NVDA+F1 is mentioned but at the end of the duscussion @ehollig also mentions NVDA+F1.

[2019-04-22 14:39] lukaszgo1 commented on #9503
If stripOuterWhitespace removes all spaces to the left of the text it would make reporting of indentation even less useful that it is now in these fields. As it always adds one space it looks like a bug in the code rather than some sort of wrong guess, so maybe instead of removing spaces we should try to fix an actual bug. I agree that it isn't top priority.

[2019-04-22 16:38] jhomme opened #9513 "Broken Link to Doxygen In Readme.md file"
### Steps to reproduce:

- Open the NVDA GitHub repository and review the readme.md file.
- Click the link to Doxygen.

### Actual behavior:

- Forbidden access message appears.

### Expected behavior:

- Should get a page that allows the user to find out how to get Doxygen.

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

2019.1
#### Windows version

[2019-04-22 19:18] leonardder commented on #7390
I guess that for both IE 11 and Edge, a fix is very unlikely. This works ok in Edge Chromium as expected.

[2019-04-22 20:03] Adriani90 commented on #9295
@fernando-jose-silva is this issue also reproducible in NVDA 2019.1.1?

[2019-04-22 20:14] Adriani90 commented on #9219
Testing with NVDA 2019.1.1 and Skype 8.42.0.60,
I cannot reproduce this issue anymore. @k-kolev1985 can you confirm?

[2019-04-22 20:17] Adriani90 commented on #9004
@jacobchawala are you still available to test once more with NVDA 2019.1.1? Thanks!

[2019-04-22 20:24] k-kolev1985 commented on #9219
I can still reproduce it with both NVDA latest alpha snapshot and 2019.1.1 and Skype 8.44.76.27.

[2019-04-22 20:33] Adriani90 commented on #8813
@k-kolev1985 could you please test if this is reproducible for you? I am using Skype electron for desktop 8.43.0.56 and I cannot reproduce it in NVDA 2019.1.1.

[2019-04-22 20:35] Adriani90 commented on #9219
Ok here it was my fault since I was testing with Skype UWP. Testing again with Skype electron for desktop 43.0.56, the issue is still reproducible.

[2019-04-22 20:45] Adriani90 commented on #7612
Testing with NVDA 2019.1.1 and Skype UWP 8.42 and Skype electron for desktop 8.43, this issue is not reproducible for me. @gdata1, @zstanecic, @k-kolev1985 could anyone of you please test if you can reproduce it?

[2019-04-22 20:49] Adriani90 commented on #8705
This is still reproducible in Skype Electron for desktop 8.43 and NVDA 2019.1.1. Here is the developer info:

[code]

[2019-04-22 20:52] Adriani90 commented on #8638
@mehgcap, @Neurrone just a reminder, are you still having this issue in NVDA 2019.1.1 and Windows 10 last update using Chrome 73?

[2019-04-22 20:56] Adriani90 commented on #8580
@MarcoZehe are you still having this issue? I am using NVDA 2019.1.1 on Windows 10 1809 Update and Skype UWP 8.42 and I cannot reproduce this issue. I could reproduce it however on Windows 10 1803 Update.

[2019-04-22 20:59] Adriani90 commented on #8534
@hozosch I am testing with NVDA 2019.1.1 and Skype UWP (Windows store app built in Windows) 8.42. I cannot reproduce this issue. are you still having it?

[2019-04-22 21:04] Adriani90 commented on #8267
I am voting actually against implementing such a feature only for skype. There are many other software which require internet connection. Impelmenting such a reporting feature for each of them would be too much work. I suggest to rather implement a reporting feature which reports if the network connection status in the system tray changes (bot for LAN and WLAN). @k-kolev1985, @leonardder, @lukaszg

[2019-04-22 21:08] Adriani90 commented on #7507
@Pauliusleveris this is just a reminder, can you still reproduce this issue? Note thaht such specific issues are not easy to reproduce for every one so we are relying on your tests. If we do not have updates on this issue, it will be closed sooner or later without any result unfortunately.

[2019-04-22 21:13] Adriani90 commented on #7501
@lallerke1 this is just a reminder, can you still reproduce this issue or is your friend still able to reproduce it? This is a very specific issue and that's why it is very hard to reproduce withough any updates from you and your friend. I cannot reproduce this issue with NVDA 2019.1.1 and Skype UWP 8.42 as well as Skype Electron for Desktop 8.43. If we do not get updates from your side, this issu

[2019-04-22 21:17] Adriani90 commented on #7126
@josephsl are there still any cases in Skype UWP where your Windows 10 App Essentials is needed? Or is the support provided by NVDA natively now?

[2019-04-22 21:19] Adriani90 commented on #5985
As no one using Skype 7 commented on this until now, i assume most people are using Skype 8 already. I am closing this one accordingly as won't fix.

[2019-04-22 21:19] #5985 closed

[2019-04-22 21:21] lukaszgo1 commented on #8267
I believe that this isn't about detecting connection loss by NVDA them self but rather about reading alert from Skype. I might misunderstand orginal reporter intentions though.

[2019-04-22 21:22] Adriani90 commented on #4780
I am closing this as won't fix since the application is dicontinued and we do not have any answer from the initial author since almost 4 years.

[2019-04-22 21:22] #4780 closed

[2019-04-22 21:25] Adriani90 commented on #572
@leonardder do you think this is something which is likely to be solved in the near future? Or is it not reproducible at all?