[2019-05-13 16:58] #6090 closed

[2019-05-13 18:17] #9554 closed

[2019-05-13 18:17] Amanullah0123 commented on #9554
it was a question not an issue

[2019-05-13 18:28] Adriani90 commented on #9554
@Amanullah0123 for questions like this one, the community is very keen to help you on this on Gitter. Please feel free to raise your questions in the messaging area for NVDA here:
https://gitter.im/nvaccess/NVDA

[2019-05-13 23:42] Qchristensen commented on #2946
In Excel 365, "Allow editing in cells" can now be checked or unchecked, it works either way.

I don't have Excel 2010, but in Excel 2007, this error still exists with NVDA 2019.1.1.  If you edit a cell, you can use the arrows to move through the text and it reads fine, but as soon as you press SHIFT+ARROW, the text gets selected, but NVDA does not report anything.  Press NVDA+shift+up arrow to rep

[2019-05-14 01:08] Qchristensen commented on #6587
Yes, we also get requests from users wanting the ability to read either a row, a column, or to use "Say all" on a spreadsheet to read a whole sheet at once.  Both in Braille and speech.

Currently, a workaround for this is to select the row, column, or whole sheet, copy it and either read the contents of the clipboard or paste into Notepad to read.

[2019-05-14 01:11] Qchristensen commented on #6593
Since I last looked at this issue, I've reverted to a stable build of Windows.  My add-ons window seems correctly proportioned now, however this may be due to leaving the insiders program as per @feerrenrut's earlier note.  Could someone using an insider build of Windows confirm that the issue still exists, please?

[2019-05-14 01:22] Qchristensen commented on #6480
A lot of people have requested "earcons" for various things, such as we use for changing between browse and focus mode.  Similar to that example, I would suggest a way to select between either earcons, or verbal reporting.

Probably the first thing is confirming that we can find out this information to begin with, and then work out how to convey it to the user.

[2019-05-14 03:37] Qchristensen commented on #5836
Word uses a handful of its own custom cursors for various things.  For instance if you move the mouse near the right margin, it becomes a text i-bean with some right aligned lines next to it (if you double click, the current paragraph will be right aligned, as well as cursors for moving and resizing various Word objects.  Because these are not standard windows cursors, they are all called "unknown

[2019-05-14 04:18] Qchristensen commented on #6428
Theoretically yes there is an option to add "page number" to the status bar as described by @Adriani90 - however in practice, my status bar only ever seems to say "Ready", and the count and sum of any selected cells etc.

Excel also has a "Page break preview" feature (on the View ribbon - alt+w, i) which could be used (by a sighted user) to plan the print layout - you can also drag page borders ar

[2019-05-14 15:09] feerrenrut commented on #9551
I have had a chat to @michaelDCurran about this.

We have agreed that it is ok to remove "top" and "bottom" from `script_review_top` and `script_review_bottom`. However, to keep these the behaviour symmetrical with the left / right commands, then "left" and "right" should be removed from `script_review_startOfLine` and `script_review_endOfLine`

We realised that `script_review_previousLine` requir

[2019-05-14 15:19] feerrenrut commented on #6081
There was a partial implementation of this in PR #6082. It was closed because we lost contact with the author, some small changes were required and further testing. Anyone interested may take this on.

[2019-05-14 18:20] Adriani90 commented on #3475
@feerrenrut in case this is still reproducible in NVDA 2019.1.1, is this an NVDA issue? As far as I understand this seems to be a mistake in how WPF exposes the information. Is this still the case when creating applications with WPF 4.7 which is the last version? Note that WPF is now part of the .netcore and I guess this will become more important in future applications. If this is an issue in WPF

[2019-05-14 18:28] Adriani90 commented on #3450
We do not have an update from the initial author since more than 5 years. Unfortunately we are relying on tests from the initial author because this issue is very specific and cannot be reproduced reliably. I am closing this for now, but feel free to comment on it if you can reproduce it. We can reopen the discussion afterwards.

[2019-05-14 18:28] #3450 closed

[2019-05-14 18:34] Adriani90 commented on #3447
We do not hhave an update from the initial author since two years. @Brian1Gaff if you are still having this issue, please comment on it. Are you seeing this issue also with other words (i.e. quick navigation in browsers)?
For now I am closing this one as works for me because I cannot reproduce it and I didn't hear any other user reports about this specific issue. I guess it is related to the sound

[2019-05-14 18:34] #3447 closed

[2019-05-14 18:48] Adriani90 commented on #3417
I cannot really reproduce it in Office 2016 / 365.
@feerrenrut, @Qchristensen are you able to reproduce it in Office 2013 or older?

[2019-05-14 18:51] Adriani90 commented on #3417
I don't think this is related, but When I access the dialog "define new numbering format", I get following error in my log when navigating with tab and shift+tab:

[code]

[2019-05-14 19:18] Adriani90 commented on #3306
@ScottV is this still reproducible with NVDA 2019.1.1?

[2019-05-14 19:27] Adriani90 commented on #3361
This is partly reproducible in NVDA 2019.1.1 on WX 4.0.4as following:
1. Open the log viewer of NVDA
2. Open the save as dialog
3. press ctrl+nvda+s or the shortcut for any other NVDA settings dialog apart from the general settings
4. Press tab or shift+tab

Actual: NVDA is not reporting anything is the focus is not moving.
Expected: NVDA should not open the dialog. A dialog should be displayed wh

[2019-05-14 19:28] Adriani90 commented on #3361
The general settings dialog is not visibly displayed, however it seems it is fired without any warnings. Pressing ctrl+nvda+g twice displays a dialog which says that a settings dialog is already opened although this is not visible on the screen.

[2019-05-14 19:38] Adriani90 opened #9564 "Unable to open NVDA settings dialog"
### Steps to reproduce:
1. Open NVDA and open its log viewer
2. Open the save as dialog
3. Press ctrl+nvda+g
4. Close the save as dialog with escape and close the log viewer
5. Press ctrl+nvda+g
6. Got to the nvda menu and open the settings by pressing enter on the menu item
7. Press ctrl+nvda+s

### Actual behavior:
After doing steps 1 through 4 you note that NVDA does not open the general settin

[2019-05-14 19:38] Adriani90 commented on #9564
This might also be related to #3361. However, in this case there is no error or any warning when pressing ctrl+nvda+g the first time.

[2019-05-14 19:54] Adriani90 commented on #3314
cc: @k-kolev1985 I guess this is still reproducible with NVDA 2019.1.1 in most of the applications described above. Is this correct?

[2019-05-14 20:35] k-kolev1985 commented on #3314
@Adriani90 Yes, this is still reproducible at least with Cobian Backup, Balabolka. The mentioned Skype example was before version 8, which was a totally different thing - now the tooltips in Skype 8 are read by NVDA. I don't have a recent version of KMPlayer to test it out on it (I don't use it anymore).

[2019-05-14 21:04] caseyjhol commented on #9496
@tapper82 Are you not familiar with the concept of a reduced test case? I've updated the colors to hopefully make it a bit clearer. Are you implying that users with that are only partially visually impaired do not use screen readers? Am I to believe NVDA is strictly for users who do not use a mouse?

[2019-05-14 23:53] Qchristensen commented on #9564
I might have got this wrong, however, what happens for me seems to be exactly what is supposed to happen:

1. Open NVDA and open its log viewer
(log viewer opens)
2. Open the save as dialog
(save as dialog opens)
3. Press ctrl+nvda+g
(General settings dialog opens)
4. Close the save as dialog with escape and close the log viewer
(alt+tab to save as dialog?  or did you want me to close the general

[2019-05-15 01:22] Qchristensen commented on #6270
This is still reproducible in NVDA 2019.1.1 using the standard settings.  When using UI Automation, the non-contiguous selection remains selected.  The only issue then is if you read the selected text, NVDA only reads the portion at the caret (but copying, deleting, changing formatting etc all work on ALL selected text).

[2019-05-15 01:31] Qchristensen commented on #6290
In Outlook 365 16.0.11601.20174 with NVDA 2019.1.1, NVDA is reporting links and headings in Say all, but not "out of link" or "out of heading", unless I don't have something set?

[2019-05-15 06:09] Qchristensen commented on #6141
In Office 365 version 16.0.11601.20174 and NVDA 2019.1.1, the behaviour has changed:
- If you click on the "Shapes" item in the insert ribbon and then the one you want, the cursor changes to a precision cursor, and you can use the mouse to size and insert the shape wherever you want. (Therefore this specific issue is now resolved).
- If you use the keyboard to select a shape: ALT+n, then s, then h

[2019-05-15 09:09] #9561 closed

[2019-05-15 09:16] kieranlittle667 opened #9565 "NVDA silent on user account control (uac) screens and user account prompt for remote desktop in windows 10"
### Steps to reproduce:
Open mstsc and connect to a server, or, try and run CMD as admin with UAC on. (Unsure if issues are related but I suspect they are)

### Actual behavior:
NVDA is silent on these screens
### Expected behavior:
NVDA should read these, presenting the user with either the yes/no / administrator username / password boxes, or in the case of RDP should speak the standard login box

[2019-05-15 09:17] #9494 closed

[2019-05-15 09:50] francipvb commented on #6016
Hello,

No, NVDA doesn't work with latest ESET products versions.

I will upload a log chunk in a moment.

[2019-05-15 10:02] francipvb commented on #6016
Please see this chunk>

[code]

Cheers,

[2019-05-15 10:32] Brian1Gaff commented on #9564
One other dialogue funny is the issue. You poll for an update and one is
found, you get it to download it, many times when it returns the dialogue to
update is still active and one can download it again. What should occur is
that always the ready to install dialogue should appear and the download
should close.
 I've noticed this happen a lot on Alpha snaps, and of course I cannot test
it on the st

[2019-05-15 12:22] leonardder commented on #8375
For everyone who is interested in this discussion, I've updated https://github.com/nvaccess/nvda/issues/8375#issue-330532522 to contain an in depth overview of our options to replace Py2exe 0.6.9.

@albertosottile: You seem to be pretty interested in our possible efforts to freeze NVDA with your fork. It might also be the least effort on our end. However, it would help to know what your goals are

[2019-05-15 13:04] michaelDCurran commented on #8375
I think a missing requirement is  to collect any dependent python extention dlls (.pyd files). I don't think I saw that in your list?

[2019-05-15 13:11] leonardder commented on #8375
You're correct, I'll at that.

[2019-05-15 13:48] JulienCochuyt opened #9566 "Google Chrome: Error in focusable table cells spanning multiple rows or columns"
### Steps to reproduce:

In Google Chrome, browse to a table cell spanning two rows or columns with a focusable element within.
Then hit NVDA+pavnum8 (or NVDA+shift+up in laptop configuration) to navigate to the parent object.

#### Example

[code]
### Actual behavior:
NVDA does not say anything.
Log shows the following error:
[code]

### Expected behavior:
NVDA should review the line containing t

[2019-05-15 13:51] leonardder commented on #9566
Have you tested this with latest Alpha as well? That version contains a
fix for errors related to tables in Chrome and Firefox.

[2019-05-15 13:58] JulienCochuyt commented on #9566
Great news, thanks, I will test it.
Can I access to an official build somewhere or should I build it myself?

[2019-05-15 14:00] leonardder commented on #9566
Sure. Just take the most recent Alpha snapshot from [here](https://www.nvaccess.org/files/nvda/snapshots/)

[2019-05-15 14:07] albertosottile commented on #8375
Thanks for the tag. I read the first post carefully and it seems that there are several potential issues in using the forked `py2exe` for your project, both technical and political. I will try to address them hereafter.

First of all, I never tried manifests and to be honest I was not even aware of this feature in py2exe. As far as I know, this could be the most serious technical hurdle you (we?)

[2019-05-15 14:14] JulienCochuyt commented on #9566
This issue is fixed.
It cannot be reproduced anymore using latest alpha build as of c20a5032.

Thanks a lot!

[2019-05-15 14:14] #9566 closed

[2019-05-15 15:07] DrSooom commented on #9565
@kieranlittle667: Three questions:
1. Which synthesizer are you using?
2. Did you copy the current configuration (incl. TTS add-ons) to the system configuration via the General NVDA Settings Dialog?
3. What's the bevahiour after starting Windows at the logon screen?

[2019-05-15 15:17] DrSooom commented on #9564
@Brian1Gaff: Could you please open a separate issue regarding the update dialog, as it seems that it has nothing to do with this issue here? Thanks.

@Adriani90: "But" insteadd of "Bug" in the issue title.

[2019-05-15 15:26] jakubl7545 opened #9567 "Cant load OneCore voices with latest threshold snapshot"
### Steps to reproduce:
Run latest threshold snapshot
press NVDA+ctrl+s to open select synthesiser dialog
### Actual behavior:
An error is produced and OneCore isn't in the synths list
ERROR - synthDriverHandler.getSynthList (17:10:57.437):
Error while importing SynthDriver oneCore
Traceback (most recent call last):
  File "synthDriverHandler.pyc", line 52, in getSynthList
  File "synthDriverHandl

[2019-05-15 16:22] pranavlal commented on #5836
Hi,

This is good to know. Can we add cursor identification as a feature?

-----Original Message-----
From: Quentin Christensen <notifications@github.com>
Sent: Tuesday, May 14, 2019 9:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Mouse shape change unrecognized when macro recording is enabl

[2019-05-15 17:11] Pickl opened #9568 "Using Alva 640 Comfort with NVDA"
Hi,

I am new to this site so unsure if I am posting in the correct place. I am hoping someone might be able to give me some pointers.

I am unable to get the Alva 640 Comfort and NVDA to communicate with each other. Any advice would be greatly received!

Currently I have ensured I have the most recent version of NVDA installed and have added some extra drivers here: C:\program files (x86)\NVDA

T

[2019-05-15 17:15] leonardder commented on #9568
Hey Laura,

Thanks for your report. As far as I know, the ALVA Comfort should work properly with the most recent version of NVDA, without any drivers. Therefore, please test with a virgin version of NVDA if you want to make sure your environment is correct.

When your ALVA is connected to your machine, could you make sure that the Optelec ALVA BC6 series display driver is listed in the list of bra

[2019-05-15 17:20] leonardder commented on #9567
This seems to be a merge conflict oversight from @michaeldcurran, or something else went wrong here.

Having said that, while we really encourage active testing of the threshold branch, we'd appreciate it if you could be reluctant opening issues for Threshold. This branch is in active development and it has the focus of many people, including NV Access and other members of the NVDA Council. Theref

[2019-05-15 17:35] Pickl commented on #9568
Hi!

Thank you so much for your quick response! Having just reinstalled NVDA for the 3rd time today and having your confirmation that it should work I have now discovered that it was the cable I was using that is faulty and I am now connected via bluetooth. :)

Thanks again!

[2019-05-15 17:43] leonardder commented on #9568
Thanks again.

While at it, would you be able to confirm that the Braille keyboard is
working as expected as well?

[2019-05-15 18:15] Pickl commented on #9568
This is my first time using the ALVA so I am just trying to identify what keys do what with NVDA at the moment.
For example, looking at the NVDA user guide I expected the NVDA Menu to open when I pressed space with dot 1 and dot 3 however this doesn't happen.
I am unsure if this is because I have installed using the Windows bluetooth windows pairing control panel applet rather than the ALVA Blueto

[2019-05-15 18:42] kenya612 opened #9569 "The word "imagines" is mispronounced with lang"en""
### Steps to reproduce:
1. Load NVDA 2019.1.1 in Windows 10
2. Load the attached file that contains the words "imagines" and "imagine" in any browser - Chrome Version 74.0.3729.131 (Official Build) (64-bit) or Firefox Developer Edition 68.0b1 (64-bit)

### Actual behavior:

The word "imagines" is pronounced im-ay-gin-ees.

### Expected behavior:

The word "imagines" is pronounced im-a-gins.

### S

[2019-05-15 18:45] josephsl commented on #9569
Hi, have you reported this problem to Microsoft yet? I recommend doing so somehow because this might be a synthesizer issue rather than NVDA. Thanks.

From: kenya612 <notifications@github.com>
Sent: Wednesday, May 15, 2019 11:42 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] The word "imagines" is mispronounced with lang"en" (

[2019-05-15 18:50] kenya612 commented on #9569
I haven’t, but I will. Thank you for the suggestion. Much appreciated.

From: Joseph Lee <notifications@github.com>
Sent: Wednesday, May 15, 2019 12:46 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: kenya612 <kenya612@msn.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] The word "imagines" is mispronounced with lang"en" (#9569)

Hi, have you reported this problem to Micros

[2019-05-15 20:13] Adriani90 commented on #9569
This is definitely a synthesizer issue and is not related to NVDA. Closing. Please report this to Microsoft.

[2019-05-15 20:13] #9569 closed

[2019-05-15 20:15] Adriani90 commented on #9567
Having said that by @leonardder, I am closing this one for now. Please report this issue to NV Access directly or via the development mail list. Once the threshold branche becomes stable, you can create issues on Github. Thanks.

[2019-05-15 20:15] #9567 closed

[2019-05-15 20:20] Adriani90 commented on #4877
@michaelDCurran I propose to let this issue open because here are many issues referenced which contain use cases for this feature. After solving and closing them, I propose to close this as well.

[2019-05-15 20:24] Adriani90 commented on #9565
If your UAC is set to 34%, NVDA will not report anything on the screen. This is covered already in issue #6236. Closing as duplicate. Please continue the discussion on that issue.

[2019-05-15 20:33] Adriani90 commented on #7081
@tspivey I cannot reproduce this issue in NVDA 2019.1.1 on Windows 10 1809 Update. Are you still seeing this problem?

[2019-05-15 20:36] lukaszgo1 commented on #7081
It sometimes happens to me on Windows 7. As said above it isn't easily reproducible.

[2019-05-15 20:37] Adriani90 commented on #9564
@Brian1Gaff your issue is covered in #4579.

[2019-05-15 20:40] lukaszgo1 commented on #9565
@Adriani90 These two issues don't seems to be related in any way.

[2019-05-15 21:00] Adriani90 commented on #9043
Closing as duplicate of #8155. Thanks for reporting. Please continue the discussion on issue #8155

[2019-05-15 21:00] #9043 closed

[2019-05-15 21:15] frastlin commented on #8155
I request this feature every day I use Google docs.
This, jumping by headings, and editing tables, are still not the best experience for me in Google Docs.

[2019-05-15 21:25] Adriani90 commented on #7942
this is solved now in NVDA alpha-17240,c20a5032 by PR #9562. Closing as works for me. @fernando-jose-silva if you are still having this issue in last NVDA alpha, please comment on it and we can reopen the discussion. thanks.

[2019-05-15 21:25] #7942 closed

[2019-05-15 21:35] Adriani90 opened #9570 "Google docs table navigation: text is written to the wrong cell"
### Steps to reproduce:
1. Open a new document in Google docs
2. Enable screen reader and also braille support
3. Create a table with some rows and columns
4. Place the carret in the first cell
5. Press ctrl+alt+right arrow key
6. Type "hello"
7. Press ctrl+alt+left arrow key
8. Type "hello"

### Actual behavior:
The text is automatically moved to the first cell of the last row. In my case, the te

[2019-05-15 21:36] Adriani90 commented on #9570
cc: @feerrenrut, @Qchristensen what happens to the carret visually when starting typing? (steps 6 and 8)? Is it directly moving to the first cell of the last row?

[2019-05-15 21:44] Adriani90 opened #9571 "Google docs table navigation: NVDA reads the whole row when using up and down arrow in Firefox"
### Steps to reproduce:
1. Open a new document in google docs
2. Enable screen reader and also Braille suport
3. Create a new table with 3 rows and 3 columns
4. Place the carret in the first cell
5. Press down arrow

### Actual behavior:
NVDA will read "row 2 column 1, column 2. column 3. While I understand the desire for reading the whole row in some cases, this should be optional if possible.

#

[2019-05-15 21:45] Adriani90 commented on #9571
cc: @jcsteh, @leonardder mybe I am wrong and this is an issue in Google docs rather than NVDA but I don't really know.

[2019-05-15 21:57] Adriani90 opened #9572 "Skype 8 UWP: NVDA freezes or restarts when selecting text"
### Steps to reproduce:
1. Open Skype UWP
2. Open a chat
3. In the message edit field, type "hello"
4. Press ctrl+home to go at the beginning of the message
5. Press ctrl+shift+right arrow key to select word by word and hold it down for more than 5 seconds

### Actual behavior:
NVDA will freeze or will restart with following in the log:
[code]

### Expected behavior:
NVDA should not freeze or cras

[2019-05-15 21:59] Adriani90 commented on #9572
cc: @josephsl, @ruifontes, @zstanecic, @k-kolev1985 could you please test and report your results? I am not sure if it is an issue only on my side. Derek also confirmed that NVDA freezes. In my case NVDA crashes and the process terminates automatically.

[2019-05-15 22:03] Adriani90 commented on #9565
@kieranlittle667 if you switch the value in UAC settings to more than 34 or below, does this solve this issue?

[2019-05-15 22:07] Adriani90 commented on #9565
I am reopening this one, but I think that setting the UAC value to 0 solves this issue. I had similar issues on Windows 8.1 and also Windows 10.

[2019-05-15 22:33] ruifontes commented on #9572
Using last Alpha, Windows 10 1809, compilation 17763, Skype Version
8.44.0.40, application version 14.44.40.0 I don' have that problem...

Rui Fontes

Às 22:59 de 15/05/2019, Adriani90 escreveu:

[2019-05-16 00:12] jcsteh commented on #9571
This is somewhat controversial. In general, I'd agree; it's consistent with what we do elsewhere. However, in terms of what Firefox treats as a line, it's a little trickier because it really is on the same line as far as the up/down arrow keys are concerned, which is generally how "line" is determined. I'm inclined to treat it as a bug, but I need to give it some more thought.

[2019-05-16 00:40] jeanbrazcosta commented on #8426
The problem has been resolved.

Thanks.

[2019-05-16 00:49] dingpengyu commented on #9548
How about the following Modules?
txt2tags
Reason for deletion:
The current txt2tags official has not been updated for a long time.
Alternatives:
You can use the markdown, or poedit plus markdown to translate the user guide and update the log.
thank

[2019-05-16 00:51] josephsl commented on #9548
Hi, I advise against removing t2t at the moment. Although we did discuss this in another issue, it is a bit risky to remove it at this stage until we think hard on a better solution. @LeonardDer, any thoughts on this one? Thanks.

From: eric <notifications@github.com>
Sent: Wednesday, May 15, 2019 5:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Menti

[2019-05-16 01:13] dingpengyu commented on #9548
hello leonardder
I have two ideas
The first is to use python official to first convert the user guide and log into sphinx and then generate the .po file. At this time, the translator can use the poedit editor to translate the specific syntax. You don't need to export the .html file. Use the poedit editor to export to HTML functionality
The second idea is to use poedit plus markdown to manage the t

[2019-05-16 02:59] enessaribas commented on #9559
Hi,
I can also consistently reproduce this. The curser appears not to follow say all.
Moreover, when in browse mode and review mode,  when switching between modes, the possition of the curser is not retained.

[2019-05-16 04:53] jcsteh commented on #9230
Fixed for Firefox 68 (and now in Nightly).

[2019-05-16 04:53] #9230 closed

[2019-05-16 06:51] k-kolev1985 commented on #9572
Yes, I can definitely reproduce it. In my case NVDA froze and I had to restart it via its desktop shortcut.

### Test environment:
- Operating system: Windows 10 Pro version 1809 (build 17763.475), 64-bit, in Bulgarian with all locale settings set to "Bulgarian".
- NVDA version: alpha-17248,7ffc65fe, installed, in bulgarian.
- Skype UWP Version: 8.45.76.40, app version: 14.45.40.0, in bulgarian.
-

[2019-05-16 07:58] kieranlittle667 commented on #9565
@DrSooom Doesn't matter what synth I use, eSpeak, windows OneCore, etc, issue still present. Yes, I have copied user config to system config, and windows reads the logon screen fine. @Adriani90 I wasn't aware of this issue, but now I've investigated with a higher level of UAC you are correct in that the level set to 34 is the issue. However, i can now see that the issues are not related, as this d

[2019-05-16 08:15] Qchristensen commented on #6605
This is all still the same in Office 365 16.0.11601.20174 and NVDA 2019.1.1.

(Also, just to clarify, since I did the same thing for ages - Office 365 is not the same as Office 2016 or Office 2019.

[2019-05-16 09:35] josephsl opened #9573 "scons/devDocs: "iteration over non-sequence" error shown since introduction of abc.abstractmethod"
Hi,

Traced with git bisect to PR #8393:

### Steps to reproduce:
1. Open Command Prompt.
2. Switch to NVDA source code directory.
3. Run scons devDocs.

### Actual behavior:
Epydoc says "iteration over non-sequence".

### Expected behavior:
API docs are generated.

### System configuration
#### NVDA installed/portable/running from source:
Source

#### NVDA version:
Alpha.17248

#### Windows versi

[2019-05-16 09:46] ruifontes commented on #9572
@Kolev, that version of Skype is the Skype Preview?
I don't find any way to update my version...

Rui Fontes

Às 07:51 de 16/05/2019, Kostadin Kolev escreveu:

[2019-05-16 10:25] DrSooom commented on #9572
@ruifontes: My Info » Settings » Help and Feedback: There you should see the current installed version of Skype 8 and if an update is available. Skype 8.45 was release two days ago – if I'm not wrong.

All three keys or just CTRL+Shift? I wasn't able to reproduce this issue in Skype 8.45 on Win7x64 with NVDA 2018.1. Well, but now I know why I'm no longer using Skype on Win7. I just hate such Elect

[2019-05-16 10:29] DrSooom commented on #9573
@josephsl: Any changes between NVDA 2018.4 and Alpha 17248? Or is the behavior the same?

[2019-05-16 10:38] kara-louise commented on #4209
I love this feature, but, I think currently the switching message is a bit verbose. I suggest rather than saying "Configuration profile Web manually activated" for example, say "web manually activated". Or just "web activated".

[2019-05-16 12:10] fernando-jose-silva opened #9574 "it is not possible to open a list in chrome while in browsing mode"
### Steps to reproduce:
Enter the satisfaction survey of the 2019 nvda

https://docs.google.com/forms/d/16Ze6P2WrJJNelH2APaSNdNp5u_n2esqYWdfnWXjaOLc/viewform?ts=5cda05eb&edit_requested=true

press 2 times l to go to the list
Is your use of NVDA primarily for accessibility testing?

press enter, space, alt + arrow below to expand the list and change the options.
### Actual behavior:
enter, and alt

[2019-05-16 12:15] HeenaAttar opened #9575 "NVDA Tool - Sub grid section on a form doesn’t recognize the total number records"
We are using NVDA Tool for checking how accessibility works in our project and found that for subgrid section on form NVDA tool doesn't announce total number of records even though it has below structure.
-	DIV with role=grid
                o	Div with role=columnheader
                        	Div with role=gridcell
              o	Div with role=row
                        	Div with role=gridce

[2019-05-16 13:02] fernando-jose-silva commented on #8783
Due to the project
threshold
I was obliged not to use a complement.
But this helped in this call.
See in the log below that nvda keeps locking in windows 10 1809.
Thank you.
[1809.txt](https://github.com/nvaccess/nvda/files/3187143/1809.txt)

[2019-05-16 13:30] fernando-jose-silva opened #9576 "nvda threshold does not advertise and makes an error sound when pruning capital letter"
### Steps to reproduce:
Open Notepad.
Please enter a capital letter.
Now navigate left with the arrow and try to read the character in uppercase.
### Actual behavior:
When typing an uppercase letter or trying to read an uppercase letter, nvda makes the error tone and does not speak the uppercase character.
### Expected behavior:
nvda should read the uppercase characters normally, either when navig

[2019-05-16 13:35] esinior commented on #9525
i am using microsoft anna narrator without any problem but i haven't used any other program

[2019-05-16 13:41] fernando-jose-silva opened #9577 "nvda threshold do not advertise the typed words when pricing space"
### Steps to reproduce:
in the nvda keyboard settings, check the 2 options:
speak typed characters
speak typed words
Open Notepad and type a word, press spacebar
### Actual behavior:
nvda announces only space and does not pronounce the word that has just been typed.
### Expected behavior:
nvda should announce the typed space character and then announce the typed word.
### System configuration
####

[2019-05-16 13:54] fernando-jose-silva opened #9578 "nvda threshold does not save the configured voice speed"
### Steps to reproduce:
In the nvda settings on the speech tab configure the one core synthesizer.
Select the check box
Special increase in speed
At the speed slider control set the speed to 35.
Press the apply buttons and ok.
Save nvda settings
Restart the nvda.
### Actual behavior:
Voice speed is at 50%
### Expected behavior:
the speed should be at 35, which was set by me, and saved in the setti

[2019-05-16 14:21] k-kolev1985 commented on #9572
@ruifontes If you want to update to an Insider Preview of Skype UWP, you can join it from Skype's "About" dialog, if I remember correctly.

@DrSooom I think the problem described here affects only Skype UWP, which is the one from Microsoft Store for Windows 10.

[2019-05-16 14:23] josephsl commented on #9573
Hi, 2018.4 can build API docs via Epydoc, whereas since that commit, it can’t. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, May 16, 2019 3:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] scons/devDocs: "iteration over non-sequence" error shown since introduction

[2019-05-16 15:02] #7452 closed

[2019-05-16 15:14] GuruSR commented on #9374
2019.1.1 seems to not have made any difference yet, there still is a large delay on the "Save As" dialogue box when just doing so from an empty document.  At least the system is showing NVDA as having some CPU usage,   But it now opened up a crash with NVDA's speech synthesizer change, crashes NVDA (close and restart, no settings save).  I'll post the bug momentarily.

[2019-05-16 15:15] feerrenrut commented on #4209
I think it could easily be confusing to someone who is not very familiar with what is going on. Though I agree that the name of the configuration profile should come first, an experienced user can then silence their synth. What about `{name} profile activated` and `{name} profile deactivated`

[2019-05-16 15:29] leonardder commented on #9578
Duplicate of #9558

[2019-05-16 15:30] GuruSR commented on #9374
The crash of the synthesizer was fixed after a restart, but the issue is now, the "Save As" dialogue is not being read period, open Excel 2010, Alt key, F key, A key (Save As), window opens silently.  IT will read it if I move the mouse, but not if I don't use the mouse.

There appears to be an issue with "Follow system focus", as the main window for the Save As isn't being seen as "New" and is no

[2019-05-16 15:40] GuruSR commented on #9374
The way the user has been able to hear the file dialogues in Office 2010, is using the alt and tab keys until they hear the program they are in and then letting go of it.  I'm testing it now, the issues are slow to no response from the dialog, 2019.1.1 has no response.

I have all Mouse tracking off.

[2019-05-16 15:48] GuruSR commented on #9374
Just tried Narrator with NVDA, Narrator reads the file dialogues, NVDA will not.

[2019-05-16 16:41] kylesavoca opened #9579 "[Firefox] Button Focus is not announced as they are in other browsers (Focusing with Javascript)"
We have an issue with a focusing on a <button type="button">Play </button> that swaps out to a pause button when pressed, and then forcing focus after said swap. The button has a child element, a visually hidden span that is read when toggling & focusing.
When clicked to pause or play the carousel, the button is swapped for a new button, and in JavaScript we are forcing focus on the new button.
In

[2019-05-16 18:34] Adriani90 commented on #9578
Closing as duplicate.

[2019-05-16 18:34] #9578 closed

[2019-05-16 18:39] Adriani90 commented on #9575
@HeenaAttar could you please upload a minimal test case or a website where we can reproduce this issue? Thanks for reporting!

[2019-05-16 18:42] Adriani90 commented on #9574
I can reproduce this issue as well.
@michaelDCurran is this something related to the changes which had to be reverted recently due to a bug in Google Chrome itself?

[2019-05-16 18:44] Adriani90 commented on #9573
cc: @feerrenrut, @michaelDCurran

[2019-05-16 18:44] kara-louise commented on #4209
Yes, That'd work.

Apologies if This appears twice as reply via e-mail doesn't seem to be working.

[2019-05-16 18:46] Adriani90 commented on #9579
@kylesavoca could you please test also with NVDA 2019.1.1? Is there the same issue?
cc: @jcsteh

[2019-05-16 19:06] Adriani90 commented on #9374
@GuruSR I am testing in Excel 2010 with Nvda 2019.1.1 but I cannot reproduce the issue with the save as dialog. Could you please check following?
1. In NVDA's settings under object presentation: is the checkbox "report object descriptions" enabled?
2. Could you please install the NVDA addon bluetooth audio and the addon windows 10 apps essentials and check if the issues are still occuring?
The add

[2019-05-16 19:07] Adriani90 commented on #9374
Could you please also write which addons are installed in NVDA currently? You can see the list of installed NVDA addons by going to NVDA menu / tools / addons manager.

[2019-05-16 19:11] Adriani90 commented on #8783
@fernando-jose-silva I don't exactly understand your conclusion. The log file does not show any errors or any frozen core in stack. Is NVDA sluggish also when using Threshold?

[2019-05-16 19:14] Adriani90 commented on #9525
@esinior is the sapi5 driver loaded in your windows at all? Could you check in Windows ease of access settings (windows+i)?

[2019-05-16 19:34] fernando-jose-silva commented on #8783
yes, my conclusion is that even with the plugins disabled the problem continues.
Yes I am using nvda threshold 17249
Finally I do not know why the log shows nothing.
by pressing down arrow in the list in explorer the nvda read only the date of modification of the file but did not read the name of the file or folder.

[2019-05-16 19:45] Adriani90 commented on #8783
This could be caused if you are on another column. If you press left arrow, do you land on the file name? Which view is set on your windows explorer? You can check that by doing following:

1.	Open windows explorer with windows+e
2.	Press alt
3.	Navigate with right arrow to “view”
4.	Press tab until you hear “view button submenu”
5.	Open that with space bar
6.	Try different view options.

Von: fer

[2019-05-16 20:09] fernando-jose-silva commented on #8783
the list view is set to details.
No, I'm in the very first column, where there is the file name.
What nvda is reading is the windows screen tip, the help balloons, in my nvda the option to read the tooltips is active.

[2019-05-17 01:32] Qchristensen commented on #6640
This still seems to be reproducible with NVDA 2019.1.1 and dropbox v 72.4.136 in Microsoft Word v16.0.11601.20174  (I don't think the version of Word is so important here, but you never know).

Note that the steps to disable this setting in Dropbox have now changed:

Press WINDOWS+B to go to the system tray
Press RIGHT ARROW to move to the Dropbox icon (it may also be in the System notification ov

[2019-05-17 01:47] Qchristensen commented on #6156
I can no longer reproduce this issue.  I can set the Balloons option to any of the three options, focus returns to the document and I can navigate and read as normal (the text at the caret is read while navigating, as expected).

I am using NVDA 2019.1.1 and Office 365, v16.0.11601.20174 Can anyone please confirm if this is also working in earlier versions of Office before we close this issue?

[2019-05-17 01:48] Qchristensen commented on #6156
Also just to note, this works whether the UIA setting in NVDA is checked or unchecked.

[2019-05-17 01:52] Qchristensen commented on #6217
This is still reproducible with NVDA 2019.1.1 and Word 365, version 16.0.11601.20174  with or without UIA enabled.

Using object navigation seems to ignore the checkboxes.  Pressing spacebar checks or unchecks the checkbox for the current item, and NVDA simply announces "Space" when that key is pressed.

[2019-05-17 02:18] Qchristensen commented on #6155
In Office 365 v16.0.11601.20174 , this is still reproducible with UIA NOT enabled.  With UIA enabled, the change in location is read as you create a new comment with control+alt+m and return to the document with escape.

In testing this, I did find a way of having the location announced when creating the comments, which is to show comments in the revision pane rather than balloons.

Press ALT+R fo

[2019-05-17 02:54] GuruSR commented on #9374
No addons are installed in Office or NVDA.  Why would I be wanting to install Bluetooth Audio, makes little to no sense to use that as the audio cable goes into the monitor so the user can plug headphones in to the monitor (which they have for years) and is comfortable doing so.

As stated, I tried Narrator and NVDA, NVDA would always read the section first, then Narrator would repeat, NVDA would

[2019-05-17 02:58] GuruSR commented on #9374
One other notice, before I turned the mouse tracking completely off, moving the mouse over that window, NVDA would read it, but not when it was opened by keyboard only and the mouse was not moved over it.  If Alt-Tab to another program and then back, it reads the window properly, seems to me that the system caret is not being recognized as moving from a main window to a child window. Sounds like N

[2019-05-17 03:41] Qchristensen commented on #5996
Microsoft are pushing everyone to submit issues on their uservoice forum, so I have done that for this one: https://office365.uservoice.com/forums/264636-general/suggestions/37670659-make-status-bar-option-descriptions-part-of-the-it

[2019-05-17 03:58] Qchristensen commented on #6005
Microsoft might have changed this, but in Ofice 365 now, pressing ALT+H, M, D goes into define new multi-level list as desired, but the default list type is "Bullet, solid circle", and evidently with this type of bullet, you can't adjust the formatting using the edit box this issue is about.  If you press ALT+N to go to "Number style for this level" and press HOME to go to "None", the edit box bec

[2019-05-17 04:36] Qchristensen commented on #6746
It presumably could be done with profiles, however that would leave it ALWAYS off in a particular program (or when a profile is active).  My use case was more around wanting to navigate to a control, toggle NVDA+7 so the review cursor stays there, go where I need to enter data and be able to read the text at the review cursor.  For instance, to see whether there is a key conflict when assigning sh

[2019-05-17 04:43] Qchristensen commented on #6743
In my example, the date and time formulas, the first one is DATE.  NVDA Reads:
DATE (Year, month, day)

If you hover the mouse over it however, it displays that text in bold in a tooltip.  In the same tooltip, it also says:
Returns the number that represents the date in Microsoft Excel date-time code.

[2019-05-17 05:07] Qchristensen commented on #6745
Actually, the first part of this now works in NVDA 2019.1.1 and Office 365 v16.0.11601.20174 .
If I press SHIFT+F3, type round up and press ENTER, the "Select a function" list changes to show matching functions, the focus moves to the first one (ceiling) and NVDA reads the description.  If I ARROW through the list, NVDA reads the name and description for each item.

The next window, where you can

[2019-05-17 06:26] AmirShareef opened #9580 "While navigating through the video in NVDA screenreader, once we enter the Full screen mode and if we Press Enter key again, focus is moving out from full screen button."
User Experience: Users who rely on screen readers will be affected if While navigating through the video, once we enter the Full screen mode and if we Press Enter key, Focus is moving on to the top of the page.

Test Environment:
OS: Windows 10
Browser: Chrome

URL: https://www.microsoft.com/en-th/surface/devices/surface-laptop-2?activetab=surface_laptop_2_pivot:primaryr3

Screen readers: NVDA

**

[2019-05-17 06:29] dnz3d4c opened #9581 "Unable to navigate module configuration panel in Audacity 2.3.2"
### Steps to reproduce:
1. Open Audacity (version 2.3.2)
2. Press Ctrl+P
3. Press the down arrow to move to module category Than press Tab key
### Actual behavior:
An event error occurs.
### Expected behavior:
You should be able to navigate the module category panel.
### System configuration
#### NVDA installed/portable/running from source:
- Installed
#### NVDA version:
Version: alpha-17252,7
###

[2019-05-17 07:36] Brian1Gaff commented on #9579
Would be interesting to know if waterfox has this issue, as its based on
older code of Firefox, and wondered if this is in fact just a firefox bug?
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2019-05-17 10:13] feerrenrut opened #9582 "Switching profile command message is too verbose"
Currently, when switching profiles the following message is used: `"Configuration profile {profile} manually activated`

To keep the result of the action clear, we want to explain that the profile has changed, however the name of the configuration profile should come first. An experienced user can then silence their synth.

Instead change the messages to `{profile} profile activated` and `{name} p

[2019-05-17 10:18] francipvb commented on #6016
CC @leonardder @feerrenrut @jcsteh

Have you any suggestion how to fix this?

[2019-05-17 14:06] HeenaAttar commented on #9575
[Subgrid.zip](https://github.com/nvaccess/nvda/files/3191756/Subgrid.zip)

@Adriani90 please find standalone page which have similar structure in our application where we can reproduce this issue. On initial load or refresh on standalone page NVDA says table has 2 rows and 2 columns, where as in our application with same dom structure it does not says table with respective rows and columns. Second

[2019-05-17 14:11] Pickl commented on #9568
Just to update...

I am unable to change from uncontracted to contracted braille i'm trying to use UEB.

These functions work:

Enter = enter key
Windows = windows key
Backspace = Space + dot 1 + 2
Escape = Space + dot 1 + 5
Delete = Space + dot 4 + 5
Home = Space + dot 1 + 2 + 3
End = Space + dot 4 + 5 + 6
Tab = Space + dot 5 + 6

If anyone can shine any light on toggling between contracted and u

[2019-05-17 14:51] leonardder commented on #8375
Just a quick update. I've been able to create a distribution using the py2exe fork that started properly. There are many things to fix and improve on our end, but what I've been able to accomplish in under two hours is really impressive.

I will give a more thorough update halfway next week.

[2019-05-17 14:54] nishimotz opened #9583 "Application with multibyte file name raises error"
### Steps to reproduce:

* download test_app.zip below and extract the executable file

https://www.dropbox.com/s/66xdm39bis2x03k/test_app.zip?dl=0

"テストアプリケーション.exe" is provided by @riku22
in https://github.com/nvdajp/nvdajp/issues/198

* start NVDA
* start the application

### Actual behavior:

* NVDA raises errors and the application is not accessible

### Expected behavior:

* NVDA works with

[2019-05-17 16:20] DrSooom commented on #9374
@GuruSR: Thanks for your last post. I sometimes have the same behavior with Microsoft Office 2010 after pressing F12 (Save as...). Pressing Alt+Tab twice solves this issue of non-recognized opened dialog by NVDA. And before you're going to repair/totally re-install Microsoft Office 2010, please create a full image-based backup of the whole system first.

[2019-05-17 16:36] DrSooom commented on #9574
@fernando-jose-silva and @Adriani90: Could you take a look at the combobox "Gehe zu..." on [this page](https://danielmayr.at/links.php) (located above the first headline) as well, as the Google Form combobox behavior is also a little bit strange in Firefox. And what happens exactly after pressing ALT+ArrowDown twice at the combobox?

[2019-05-17 16:53] DrSooom commented on #9579
I suggest to wait for Firefox 67.0 which should be released next week.

[2019-05-17 16:57] DrSooom commented on #9580
@AmirShareef: Please specify the Windows 10, the NVDA and the Google Chrome version. Thanks.

[2019-05-17 17:10] DrSooom commented on #9583
CC: @leonardder

[2019-05-17 18:18] DrSooom commented on #9582
As these messages are only raised after pressing their responsible command's hotkey, "{profile} activated" and "{profile} deactivated" could be enough too. Any thoughts?

Furthermore in my opinion there are a few more too verbose speech/braille feedbacks (e.g. NumLock, CapsLock and ScrollLock messages).

[2019-05-17 18:39] GuruSR commented on #9374
Not reformatting a system to solve an issue with any piece of software, it is like shooting a horse for having scraped a knee.  NVDA is not seeing the window, but the Narrator does, means it isn't an issue with the system or Office 2010, NVDA is simply (code wise), not seeing a "change" of the system caret or window change, unless the mouse is moved over it, then the mouse movement finds it, so cl

[2019-05-17 18:45] GuruSR commented on #9374
(NVDA.ini)
`schemaVersion = 2
[upgrade]
[update]
	autoCheck = False
	allowUsageStats = False
	askedAllowUsageStats = True
	startupNotification = True
[general]
	language = Windows
	saveConfigurationOnExit = False
	askToExit = False
	playStartAndExitSounds = True
	loggingLevel = INFO
	showWelcomeDialogAtStartup = False
[speech]
	synth = sapi5
	outputDevice = Microsoft Sound Mapper
	[[espeak]]
		voi

[2019-05-17 19:03] DrSooom commented on #9374
I forgot to mention that I'm still on Win7x64. Sorry. (Win10-VMs aren't set up.)

But one more tip/try: Wait one or two minutes after logon and then restart NVDA. Then launch Microsoft Word/Excel/PowerPoint 2010 and press F12. Any changes?

[2019-05-17 19:13] GuruSR commented on #9374
I am not on-site, so I cannot test anything with that system.  I have restarted NVDA a few times to see if things would fix themselves, it hasn't.  It got worse from 2018.4 to 2019.1.1, it won't read the window at all anymore, it would *partially* do so with the Save As dialogue if you wanted to wait a minute or two (to a blind person, the computer has crashed).  I would rather find out if the aut

[2019-05-17 19:30] josephsl commented on #9374
Hi,

!@MichaelDCurran,sorry to take your eyes off Threshold, but can you take a look at what might be happening?

Let's try something to see if it is indeed caret or not: can you try the following two things for us please:

1. Ask the user to use a synthesizer other than SAPI5. First, try with Espeak, and then switch to Windows OneCore and see if that makes a difference (probably not, but at least

[2019-05-17 19:55] DrSooom commented on #9374
@josephsl: @Adriani90 suggested these add-ons – that wasn't me. I also don't understand how they should help here. But you're right, a logfile with debug logging level will help here the best.

@GuruSR: Normally NVDA starts after logon. The user should just wait until everything has launched after the logon. I didn't suggest to quit NVDA for one to two minutes – I suggested to restart NVDA after t

[2019-05-17 19:59] josephsl commented on #9374
Hi, yep, apologies for not checking who said what. Thanks.

From: Daniel Mayr <notifications@github.com>
Sent: Friday, May 17, 2019 12:56 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Slow to no response in Office 2010, Windows 10. (#9374)

@josephsl <https://github.com/josephsl> : @Adria

[2019-05-17 23:26] Adriani90 commented on #9374
Ok to clarify, the description of the bluetooth audio addon might be confusing. This addon does not apply only for bluetooth but for every sound card and every king of pairing regardless if it is by cable or bluetooth. I had this issues with windows not being reported by NVDA and I discovered it was because my sound card changed to standby after one or two seconds making the speech on mute. after

[2019-05-17 23:28] Adriani90 commented on #9374
Every software might have some problems some time, At least trying to reinstall it and trying to reproduce the issue afterwards is a step that would be logical in my opinion.

[2019-05-17 23:33] Adriani90 commented on #9374
Anyway, @GuruSR could you please install the last NVDA alpha version and see if you hear a error sound when trying to open the save as dialog? If you hear an error sound, could you please upload the log file as suggested by @josephsl above?
The last NVDA alpha version is here:
https://ci.appveyor.com/api/buildjobs/k2pit1g3ugsp1bvp/artifacts/output/nvda_snapshot_alpha-17252,7e26d874.exe

[2019-05-17 23:37] Adriani90 commented on #9374
@GuruSR if you reinstall NVDA, after remoing the current NVDA version from the system, please do following:
1. Press Windows+r
2. Type %appdata%
3. Delete the folder called "NVDA

After deleting the folder, please install NVDA again and try to reproduce the issue.

[2019-05-17 23:50] Fatihyuksek opened #9584 "Add an option to use up and down arrow to navigate paragraphs by default"
### Is your feature request related to a problem? Please describe.
I want to navigate by paragraphs in web pages with up and down arrows instead of using ctrl+up and down arrows
### Describe the solution you'd like
Add an option that enables navigating by paragraphs instead of lines when you press the up and down arrow keys
### Describe alternatives you've considered
none
### Additional context
I

[2019-05-17 23:59] Adriani90 commented on #6156
I tested with NVDA 2019.1.1 in Word 2010, I cannot reproduce this issue either. I am closing this as works for me. If someone still has this problem, please comment on it and we can reopen the discussion. Thanks.

[2019-05-17 23:59] #6156 closed

[2019-05-18 00:05] Adriani90 commented on #6743
Ok when testing this in Excel 365 I don't get the information mentioned by Quentin when moving the mouse over the object. So it seems this issue is still reproducible.

[2019-05-18 00:06] ruifontes commented on #9374
Can't test...
I do not have access to Office 2010...
In Office 2019 no problems...

Rui Fontes

Às 00:26 de 18/05/2019, Adriani90 escreveu:

[2019-05-18 01:52] pranavlal commented on #9374
I do not have access to office 2010 so cannot help.

-----Original Message-----
From: Adriani90 <notifications@github.com>
Sent: Saturday, May 18, 2019 4:57 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pranavlal <pranav.lal@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Slow to no response in Office 2010, Windows 10. (#9374)

Ok to clarify, the description of t

[2019-05-18 03:45] lukka opened #9585 "When AutomationProperties.HelpText matches the content of a textbox, it should not be said"
### Steps to reproduce:
 - use following app, build and run
[ndva_doublemention.zip](https://github.com/nvaccess/nvda/files/3193619/ndva_doublemention.zip)
 - use Narrator and notice that the content of the textbox is said once

### Actual behavior:

 - use NVDA, the content of the text box is said twice like "edit hello hello", and the content is just hello
 - that is happening when the tooltip i

[2019-05-18 03:48] josephsl commented on #9585
Hi, what does UIA docs say about this problem? If Narrator is indeed following what UI Automation docs are saying, then we do need to work on a fix from NVDA side; otherwise, a discussion with Microsoft might be in order. Thanks.

From: lukka <notifications@github.com>
Sent: Friday, May 17, 2019 8:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subj

[2019-05-18 06:19] esinior commented on #9525
@Adriani90  i went to ease of access but win+i key didn't do anythimg and i didn't see anything for checking the driver, i've installed some speech sdk 5.1 modules (SpeechSDK51.exe | msttss22L.exe | Sp5TTIntXP.exe) if they are related! how can i check it?
my menu photo is attached

[2019-05-18 06:34] Brian1Gaff commented on #9582
I have no issue with those, as has been said, one can just silence the thing
in the middle if one is in such a hurry.

And I'd still like to see the copy paste etc spoken  by default. all other
screenreaders do this, and if this were made optional it would benice  for
thos who don't want it.
 Its silly having an add on to do this.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please addres

[2019-05-18 07:17] Adriani90 commented on #9581
@dnz3d4c did this work properly in NVDA 2018.4.1?
cc: @Robert-J-H, @paulber007

[2019-05-18 07:35] Adriani90 commented on #9580
I can reproduce this issue in NVDA 2019.1.1 and Chrome 74. In Chrome, after pressing the full screen button, NVDA says "notification:press escape to exit the full screen. The site displays the media player in a separate dialog, similar to a modal dialog. If you press enter on exit full screen, the cursor jumps to the top of the page.
It seems related to azure media player. I tested in other media

[2019-05-18 07:40] Adriani90 commented on #9580
The cursor is also jumping when websites use media players which display the controls in a dialog after pressing full screen. See for example also a website with BRIGHTCOVE PLAYER like this one:
https://www.brightcove.com/de/player
The cursor is not jumpic right at the top of the page but directly above the the media controls.
cc: @mltony, @leonardder

[2019-05-18 08:09] Adriani90 commented on #9575
@HeenaAttar testing on this sample page in Crhome 74 and Edge 44 as well as Firefox 66.0.5 as follows:
1. Open NVDA
2. Open the sample page
3. In browse mode, navigate with tab and shift+tab and also with arrow keys from the first grid to the second one and then back into the first grid.
4. In focus mode, Navigate with tab and shift+tab from a grid into the other.
Actual browse mode: for me NVDA s

[2019-05-18 08:09] paulber19 commented on #9581
Hi,
I have not noticed any problem with:
-NVDA 2018.4.1,
-NVDA 2019.1.1
- NVDA alpha-17252,7e26d874
Cheers.
Le 18/05/2019 09:17, Adriani90 a écrit :

[2019-05-18 08:17] Adriani90 commented on #9574
@DrSooom NVDA is behaving correctly with this combo box. In Firefox NVDA seems to read the title of the webpage when colapsing the combo box by pressing alt+down arrow twice. There was a bug filled for that but I cannot find it just now. Anyway, that is not related to this problem described here.

[2019-05-18 08:31] Adriani90 commented on #606
We do not have an update from the author since 9 years or so. I am closing this one but feel free to comment on it if you are still having this problem. We can reopen the discussion afterwards. Thanks.

[2019-05-18 08:31] #606 closed

[2019-05-18 08:40] Adriani90 commented on #598
Testing now on Skype 8 UWP 44.0.40 and Skype Electron 8.45.0.41 with NVDA 2019.1.1, everything can be accessed now with tab and shift+tab in a profile dialog.
@k-kolev1985 can you confirm?

[2019-05-18 08:53] Adriani90 commented on #1196
@alexey_s

[2019-05-18 09:17] DrSooom commented on #8961
Same behavior with NVDA alpha-17252,7e26d874.

[2019-05-18 09:29] Adriani90 commented on #1196
We cannot find the author of this issue and we do not have an update on this since many years. Meawhile, the most current version of Jaba mud client is 3.5.
We also don't have any further requests related to this mud client at all from other users. I am closing this as abandoned.

[2019-05-18 09:29] #1196 closed

[2019-05-18 09:32] Adriani90 commented on #927
I get this behavior also in many share point applications which contain grids.

[2019-05-18 09:40] DrSooom commented on #9374
I couldn't reproduce this issue with NVDA alpha-17252,7e26d874 (running from the installer) in Microsoft Word 2010 and Microsoft Excel 2010 on Win7x64 by pressing Alt, D, T (German GUI, lead to "Save as...") or just F12 on my Stand_PC during a quick test. (Microsoft Office 2010 isn't installed on my NUC. And I have also to mention that most of the time I'm just using Microsoft Outlook 2010 followe

[2019-05-18 09:46] Adriani90 commented on #891
@leonardder is there any change in Mediaplayer classic 1.8.6 regarding this issue? For what ever reason I cannot install the mediaplayer classic on my PC. The installer does not run.

[2019-05-18 09:54] Adriani90 commented on #829
@Brian1Gaff can you still reproduce the errors described by you above? The problem in my comment above are not related to protected or unprotected documents. With NVDA 2019.1.1 and MS Word 2010, I cannot reproduce the errors.
@DrSooom could you please try to reproduce this one as well? Thanks.

[2019-05-18 10:03] Adriani90 commented on #812
Closing this in favvor of #2156 because the discussion is more detailed on that issue.

[2019-05-18 10:03] #812 closed

[2019-05-18 10:15] k-kolev1985 commented on #598
Yes, now every information in the profile dialog for a Skype user is accessible and readable either via keyboard navigation or with object navigation.

[2019-05-18 10:22] Adriani90 commented on #598
Closing as works for me.

[2019-05-18 10:22] #598 closed

[2019-05-18 10:23] beqabeqa473 commented on #7452
hi.

found a regression.

when using synthiser which is using LanguageInfo class in synthDriver class an name error is thrown.

please fix this as soon as possible.

fix should be trivial, instead of ID write id in the following line.
		super(LanguageInfo,self).__init__(ID, displayName)

should be

		super(LanguageInfo,self).__init__(id, displayName)

[2019-05-18 10:52] Robert-J-H commented on #9581
Firstly, the error log is not directly related. The appmodule of Audacity uses "replace" to remove ampersand(&) characters which is actually not necessary any more. However, we kept it because people might still use very, very old versions.
We've tried to eliminate the occurrences on the Audacity side, alas, that's one we've missed.

As to modules: The module pane can be explored (tabbing) but the

[2019-05-18 10:53] dave090679 opened #9586 "suggestion: smart startup capability for NVDA"
Hi guys,

instead of just having 2 Settings for the autostart option (on or off) we could have a third "smart" autostar option. If you selected the smart startup and you start nvda by pressing ctrl+alt+n, nvda should start and it should create an autostart shortcut for the current user. If the smart setting is enabled and you press nvda+q while nvda is running, the autostart shortcut should be del

[2019-05-18 10:55] lukaszgo1 commented on #9374
I also cannot reproduce this on Excel 2010 running on Windows 7 x64. @GuruSR Is the installed version of Office 32 or 64 bit?  low-end hardware as these never worked well with NVDA unfortunately.

[2019-05-18 14:48] DrSooom commented on #829
@Adriani90: Due to security reasons I'm no longer open doc files with Microsoft Word 2010. And for converting docx files into pdf I'm using LibreOffice Writer 6.2.x. Therefore I'm not going to test this. Furthermore I'm not really familiar with form elements in Word documents.

[2019-05-18 14:57] DrSooom commented on #9584
This will lead into inconsistence behavior in navigation. Could you tell us some reasons why this counter-rotating navigation feature should be implemented? Currently I only can see one: motoric limitations.

[2019-05-18 14:59] Neurrone commented on #9021
I've implemented an add-on that works around this issue. See the [last comment in the Code tracking issue](https://github.com/Microsoft/vscode/issues/28316#issuecomment-493683016)

[2019-05-18 15:12] DrSooom commented on #9586
@dave090679: The hotkey CTRL+ALT+N is allocated to the NVDA's shortcut icon on the Windows Desktop. This is a Windows feature since many, many years. Even if NVDA isn't automatically started after logon, you still be able to launch it by pressing CTRL+ALT+N, unless you also delete that shortcut icon on the Windows Desktop. Therefore I can't see a benefit in this feature, as you're already able to

[2019-05-18 16:15] Fatihyuksek commented on #9584
Hello,
I want to read more fluently while using the arrow keys. The lines are too short. Narrator in windows 10 works like this and it is not inconsistent

iPhone’umdan gönderildi

Daniel Mayr <notifications@github.com<mailto:notifications@github.com>> şunları yazdı (18 May 2019 17:57):

This will lead into inconsistence behavior in navigation. Could you tell us some reasons why this counter-rotat

[2019-05-18 16:38] leonardder commented on #9584
1. As @DrSooom pointed out, this will lead into inconsistent behavior in navigation
2. As a workaround, you can increase the "maximum number of characters on one line" option in the browse mode settings category of NVDA's settings dialog

I'm closing this one as per above points. I noticed however that it is not possible to reassign the several browse mode navigation keys using the input gestures

[2019-05-18 16:38] #9584 closed

[2019-05-18 16:41] leonardder commented on #9586
I understand this request and think that, though it might be a bit complex, could be valid.

[2019-05-18 16:42] leonardder commented on #6743
I wonder whether #8124 is somehow related to this issue.

[2019-05-18 16:47] leonardder commented on #9582
As the author of this feature, I agree with this request.

[2019-05-18 16:49] leonardder commented on #9585
@lukka: Please provide a compiled version of this app for ease of testing.

[2019-05-18 16:50] leonardder commented on #9583
@nishimotz: Could you please provide appropriate logs? You might also be able to provide a pr for this? Note that fixing to Python 3 might fix this without any effort.

[2019-05-18 16:55] leonardder commented on #9568
@Pickl: You should be able to switch from contracted to uncontracted UEB by choosing Unified English Braille Code grade 2 or grade 1 respectively. This can be done using the braille category in NVDA's settings dialog.

With regarding to opening the NVDA menu, this can be done using sp1+sp3, the first and third smart pad keys.

As your display is working as expected, I"m closing this issue as works

[2019-05-18 16:55] #9568 closed

[2019-05-18 16:57] leonardder commented on #9573
cc @derekriemer

It might be best to revisit this when further on in the Python 3 transition.

[2019-05-18 17:19] leonardder commented on #9565
@kieranlittle667: Just to make sure, do you have Use NVDA on the Windows logon screen enabled in NVDA's general settings? If so, could you please uncheck the box, press apply, then check it again and save your settings and see whether the problem persists?

[2019-05-18 17:20] leonardder commented on #9548
I started working on this on my deprecate branch.

[2019-05-18 17:36] josephsl commented on #9548
Hi,

I'll work on code consistency edits (winUser.FindWindow -> findWindow, for example), destined for a separate issue.

Thanks.

[2019-05-18 17:45] josephsl opened #9589 "Source code: consistency edits for coding style and guidelines"
Hi,

Building from #9548:

### Is your feature request related to a problem? Please describe.
Since its inception in 2006, NVDA's source code has grown over the years with help from NV Access people and hundreds of contributors. Due to the nature of this project, different people had different coding styles, which eventually led to different spellings, function names, copyright header differences

[2019-05-18 19:22] tech55541 commented on #7867
Hello,

I forgot to enable debug but I was able to grab the "old" log as described. The error is so random, I really would rather not leave debug on constantly. This is what I have, please let me know if it's useful.

Thanks.
[nvda-old.log](https://github.com/nvaccess/nvda/files/3194404/nvda-old.log)

[2019-05-18 23:13] nishimotz commented on #9583
@leonardder the log is contained in the issue above.

I did not identify how to fix it so far.

[2019-05-18 23:42] nishimotz commented on #9583
I am not sure it works, but I have created the PR as #9590

[2019-05-18 23:49] lukka commented on #9585
[ndva_doublemention.zip](https://github.com/nvaccess/nvda/files/3194621/ndva_doublemention.zip)
Attached the binary, let me know.

[2019-05-19 00:27] GuruSR commented on #9374
Finally back at my office, I am unable to test the machine in question until Thursday May 23rd at round 10AM EST, so I can obtain the log file then, I can clear out the %appdata% for NVDA and run a test version of the latest snapshot when I am present to actually hear the sound or not.  The dialogues are an issue with both Open and Save As, not just the Save As.  I cannot test Bluetooth but can in

[2019-05-19 06:26] enessaribas opened #9591 "Excel freeze/crash completely crashes NVDA making it completely unresponsive to user input"
### Steps to reproduce:
1. open excel, and initiate an action that causes excel to freeze and become unresponsive.

### Actual behavior:
NVDA completely  freezes and crashes, even when focus is not in the unresponsive excel window. Moreover, ctrl alt del to bring up the login screen, or NVDA restarts do not resolve this issue.
### Expected behavior:
NVDA does not crash with excel, permiting termin

[2019-05-19 08:09] Brian1Gaff commented on #9586
So are they saying they want nvda to only start on auto if no other
screenreader is also on by default?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Leonard de Ruijter" <notifications@github.com>
To: "nv

[2019-05-19 08:16] Brian1Gaff commented on #9589
Its really hard to say up front what ramifications this might have for
legacy software still used a lot by many people. I wonder if there is any
way to  do things a bit at a time and flag routines as they are dealt with.
Also of course because of the interdependence of routines on others, maybe
not yet sorted, one might end up with a chicken and egg problem or indeed a
runaway dependency cascade i

[2019-05-19 08:50] lukaszgo1 commented on #9586
I honestly don't see an advantages in implementing this. You are able to start NVDA at will by pressing Win+r and typing nvda even if desktop icon has no shortcut. At first I thought that it might be useful for shared computers like at the university but when blind user finishes working with it he usually shuts it down rather than closing NVDA AND turning it off blindly.

[2019-05-19 09:58] nishimotz commented on #9583
It seems that AppVeyor CI is failing, because pygetwindow, which is used by pyautogui, is broken.

[2019-05-19 11:46] Adriani90 commented on #9591
@enessaribas if NVDA crashes, there will be a mini crashdump generated. Could ypu please upload it here together with the log file?
You can do this by following steps:
1. Open NVDA and reprotude the issue
2. After terminating Excel and restarting NVDA, press windows+r and type %temp%
3. There you should find two files:
a) NVDA_old.log and
b) NVDA_minicrashdump.dmp
Could you please upload those two

[2019-05-19 11:49] Adriani90 commented on #9591
Before doing the stepps above, could you please update to Version: alpha-17252,7e26d874? The alpha is here:
https://ci.appveyor.com/api/buildjobs/k2pit1g3ugsp1bvp/artifacts/output/nvda_snapshot_alpha-17252,7e26d874.exe

[2019-05-19 12:20] Adriani90 commented on #9374
Ok that could explain why people many people cannot reproduce it because most people tested with 64bit on 64bit system or 32bit version on 64 or 32bit system. I can imagine that there is a com dll not included in the com registration fixing tool which does not register properly on your system. If you say it's a mix of 64bit and 32bit system, this could be fairly heavy to find out exactly which com

[2019-05-19 13:01] lukaszgo1 commented on #9374
I believe by mix he means that he has Office 32-bit installed on 64-bit version of Windows. Very common setup I am doing exactly the same and from another tickets I believe @DrSooom is also using 32-bit Office on an 64-bit Windows. There is one more thing worth checking @GuruSR Could you please change power plan to high performance? It often makes huge difference when working with NVDA.

[2019-05-19 16:01] DrSooom commented on #9374
@lukaszgo1: Correct. To be exactly: Microsoft Office 2010 (14.0.7232.5000, 32-Bit, SP2) on Win7x64.

Regarding the Task Manager: Take a look at the menu "View", where you can change the update speed. Maybe the auto-update process was hold. Therefore its systray icon isn't updated too.

Regarding COMRegistrationFixes: This folder only contains the file "oleaccProxy.reg" with the following content:

[2019-05-20 01:36] nishimotz commented on #9583
Tested with nvda_snapshot_pr9590-17270,ad4d45bd.exe.
The issue is fixed with PR #9590.
Please review the PR.

[2019-05-20 02:38] #9558 closed

[2019-05-20 02:38] #9576 closed

[2019-05-20 02:56] stickbear2015 opened #9595 "excel becomes laggy and unresponsive under certain circumstances."
### Steps to reproduce:
Open the attached .xls file in excel
### Actual behavior:
NVDA initially works but as you enter data, and minnipulate this form NVDA lags and becomes unresponsive while in the excel window. While this doesn't prevent working in excel it slows things down.
### Expected behavior:
NVDA should be just as responsive in excel as in other parts of the operating system.
### System

[2019-05-20 03:53] enessaribas commented on #9591
Hi,
I do not know a way to relyably crash excel. This crash happened spontaniously, and I cannot cause another crash. However, any situation causing excel to freeze generates this condition.

[2019-05-20 03:55] Qchristensen opened #9596 "Add option to installation routine to choose whether to keep previous configuration (where one is found)"
### Is your feature request related to a problem? Please describe.
Users who encounter problems with NVDA, sometimes try to resolve them by uninstalling / reinstalling NVDA.  If the problem is caused by an NVDA setting or add-on, reinstalling, even uninstalling and then installing again, won't help, as the previous configuration is kept and reinstated.

### Describe the solution you'd like

Readin

[2019-05-20 03:56] Qchristensen commented on #6869
Reading through this issue again, I figured I would create the issue that I suggested in my comment, so I have done that: https://github.com/nvaccess/nvda/issues/9596

[2019-05-20 05:05] leonardder commented on #9577
I can reproduce this issue.

Cc @michaelDCurran

Marking this as p2, but a p1 might be more sufficient here, since this regards essential functionality many people are using.

[2019-05-20 05:09] leonardder commented on #9596
Note that nvda+ctrl+r three times will still not remove add-ons, and in some cases, add-ons may be the case of the breakage. In that case however, the NVDA launcher also runs from the currently active configuration, so the configuration might even be that broken that updating NVDA using the launcher doesn't work.

[2019-05-20 05:15] Qchristensen commented on #7067
In Windows 10 (May 2019 update 18362.1 ) with NVDA 2019.1 in Word 365 v 16.0.11601.20184, I get the correct announcement when moving to the font grouping (which starts with an edit box).

Interestingly now, however, if I press CONTROL+RIGHT ARROW to move to the font grouping, it reads all the correct information, including font name etc, however, if I press CONTROL+RIGHT ARROW again, it reads "Cal

[2019-05-20 05:19] leonardder commented on #9585
Thanks for this.

UIA's helptext property is mapped to the description property on NVDAObjects.
The UIA documentation says that this information is typically obtained from tooltips specified by providers. Therefore, I wonder whether mapping the helptext property to description is appropriate here. It probably is, since it has been so for years.

A possible workaround could be disabling reporting d

[2019-05-20 05:24] leonardder commented on #9583
You mean the Japanese issue right? Please provide a direct reference to the log in *this* issue (i.e. directly copy the traceback here or provide an URL to a log file).

[2019-05-20 05:34] dingpengyu commented on #9524
cc
@leonardder

[2019-05-20 05:34] AmirShareef commented on #9580
Windows 10:  version 1809 , OS build 17134.765
NVDA: 2017.4
Chrome Version 74.0.3729.157 (Official Build) (64-bit)

[2019-05-20 05:34] Qchristensen commented on #7183
Just to confirm that this issue still exists in NVDA 2019.1.1 and Excel 365 v16.0.11601.20184

Furthermore, if you press CONTROL+[ or CONTROL+] and move the focus to another cell, not only does NVDA not report it, but press NVDA+delete or NVDA+tab both still report the previous cell.

Narrator DOES report the move to the new cell, in WIndows 10 (May 2019 update).

[2019-05-20 05:43] nishimotz commented on #9583
I have tested with the Japanese Shift-JIS (code page 932) environment.

When the focus moves to the app, error raises as follows.

[code]

[2019-05-20 06:05] leonardder commented on #9589
I agree with this proposal. However, with regard to winUser, we'd have to discuss whether we follow standard NVDA guidelines (lowerCamelCase) or mimic windows API UpperCamelCase. I guess the inconsistency in winUser is caused by unclarity about the followed approach.

[2019-05-20 06:13] leonardder commented on #9524
Before considering this, I really think it is helpful to have an overview of the several Chinese translations within NVDA (i.e. what group of Chinese speaking people is targeted by what language), and how does the plain zh folder fit within this picture?

[2019-05-20 06:14] michaelDCurran commented on #9577
speech.speak always clears curWordChars (forgetting the current word being typed). However, speech.speakSpelling (used for speaking a typed character) internally calls speech.speak. I think before speech refactor speakSpelling bypassed speech.speak and called the synth's speak method directly.
We originally chose to clear curWordChars in speech.speak to lessen the chance that typing a non-alphaNum

[2019-05-20 06:17] leonardder commented on #9583
Thanks for providing the log.

I can reproduce this by simply adding an é to the filename of a random executable. I think this is caused by NVDA trying to encode a bytes object (which is already encoded) to mbcs. IN that case, Python first decodes the string and than re-encodes it. It seems that decoding the string fails here.

TO reproduce, just try this:

`"é".encode("mbcs")`

[2019-05-20 06:18] michaelDCurran commented on #9577
Of course there is pr #8110 that replaces all of this code anyway. But right now at least, we should probably fix this current implementation.

[2019-05-20 06:20] Qchristensen commented on #7412
In Word 365 v16.0.11601.20184 in browse mode, it DOES find graphics, even without alt text, with G / shift+g etc.  Also, Office 365 now automatically generates alt text when you insert an image.  I can't get Word to NOT be able to find an image in browse mode now (if I delete the alt text, it calls it "picture 1" - if I set it to one of the alignments that is not inline, it still finds it, althoug

[2019-05-20 06:27] leonardder commented on #9577
I believe #8110 still relies on curWordChars not being cleared, though I"m not exactly sure.

I'd appreciate it if you could keep #7812 in mind when looking in to this. That was actually the trigger to create #8110 in the first place.

[2019-05-20 07:19] Qchristensen commented on #8210
Is it deliberate?  (As in is it a known bug, or specifically supposed to be like that for.... .reasons?)  Screen reader users who don't have a Braille display aren't necessarily going to think to try that option.

I just tried with NVDA 2019.1.1 and Chrome Version 74.0.3729.157 (Official Build) (64-bit), as well as In Firefox 66.0.5 (64-bit) (the results were the same in both browsers):

WIth Scre

[2019-05-20 07:28] Qchristensen commented on #7947
When I test in Windows 10, 18362.1 (May 2019 update) with NVDA 2019.1, by opening Windows mail, creating a new message, and moving to the body and typing:

- With reporting of "spelling errors" enabled in NVDA's document formatting settings, spelling errors are reported correctly, but no other words are reported as spelling errors.
- With reporting of "spelling errors" disabled, spelling errors ar

[2019-05-20 07:36] Qchristensen commented on #8034
Without looking at the code, I'm not sure exactly what is going on, but visually here's what's happening:

- When the page loads, it presents a large white rectangle, with a grey rectangle inside it, and the text ddd inside that, with a bit of space between the text and the top-left edge of the rectangle.

- When down arrow is pressed, The grey rectangle suddenly moves to the top left of the white

[2019-05-20 07:49] #9577 closed

[2019-05-20 07:52] stickbear2015 commented on #8297
I forgot this issue was still open. I fail, lol.
I can't reproduce it on my end either. I'll close it for now unless it comes up again.

[2019-05-20 07:52] #8297 closed

[2019-05-20 08:39] Brian1Gaff opened #9598 "TypeError when processing presentationalRowNumber"
### Steps to reproduce:
Start a copy of nvda beta/Alpha/Threshold (date of ticket 12th may 19)
### Actual behavior:
Run for a while then  restart and look at the old log. There are a lot, and I mean a lot of warnings about a parameter  error of some kind no matter what is on the screen.
Note slight slowing of nvda. even though no add ons are running.
### Expected behavior:
NVDA should run with ver

[2019-05-20 08:48] leonardder commented on #9598
This looks like a regression caused by #9562

Cc @michaeldcurran

[2019-05-20 08:49] feerrenrut commented on #9582
I think this might be boarding on too little information, for instance it might be spoken as "web activated" or similar, which will likely cause confusion to someone who didn't expect it (or forgot about the shortcut). Whereas "web profile activated" gives that extra context to understand what has happened.

[2019-05-20 10:39] kieranlittle667 commented on #9565
@leonardder Yes, I do have that checked. I've unchecked it, applied, checked it again, applied and save config, the issue still exists.

[2019-05-20 12:37] nishimotz commented on #9583
Related issue is reporeted as follows:

* start nvda_snapshot_pr9590-17282,41c124a2.exe
* start multibyte file name executable such as  "テストアプリケーション.exe"
* press Ctrl+NVDA+F1

[code]

Now I understand that the issue is caused by PR #8727.

appModuleHandler.py:

[code]

I cannot understand why appName allows both unicode and mbcs.

IMO, importlib.import_module() should be monkey-patched to take mbc

[2019-05-20 12:45] nishimotz commented on #9583
Sorry, I have corrected the last two sentences in the comment above.
I welcome the discussion.

[2019-05-20 16:51] DrSooom commented on #9596
Therefore we need the following:
1. Checkbox (Ignore the configuration of the currently installed NVDA version" at the License Dialog.
Pressing one of the three buttons will load the default configuration without any add-ons. Maybe a (soft) restart of the temporary NVDA copy is required to perform this task.
2. Checkbox "Backup the whole current configuration (incl. add-ons)" at the Installer Dial

[2019-05-20 23:29] Qchristensen commented on #5836
@feerrenrut do you know if Word identifies its custom mouse pointers (like the left, centre and right align ibeam cursors, or the macro recording cursor) in any way?  Currently we call them "Unknown cursor" (if report mouse shape changes is enabled).

[2019-05-20 23:54] Qchristensen commented on #9570
I must admit, I find navigating the table a bit flakey.  Sometimes control+alt+arrows move, sometimes they don't, and sometimes they say they do but the focus stays where it is.  I actually can't figure out why it changes.

I did almost reproduce this just now - I pressed control+alt+right arrow, and NVDA reported "column 2" but the focus stayed in column 1, the text was typed in column 1.  Then w

[2019-05-21 06:21] leonardder commented on #9591
Could the crash be related to initiating an edit action, i.e. pressing f2 in a cell?

If so, could you go to Excel's options, and on the advanced tab, disable the check box that says: `Allow editing directly in cells`?

[2019-05-21 06:24] feerrenrut opened #9602 "Collect success for NVDA usage in organisations."
In particular, stories about NVDA with MS office. This is for MS's partnership page.

[2019-05-21 06:26] josephsl commented on #9602
Hi, how about asking Gene Gibson if NV Access people can feature his efforts with New Zealand libraries? Thanks.

From: Reef Turner <notifications@github.com>
Sent: Monday, May 20, 2019 11:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Collect success for NVDA usage in organisations. (#9602)

In particular, stories about NV

[2019-05-21 06:58] #9598 closed

[2019-05-21 06:59] dingpengyu commented on #9524
hi leonardder
Zh is now replaced by a more accurate locale zh_CN zh_TW and zh_HK, zh now no one maintains, and he is not in the svn repository, based on the above problem, deleting the zh directory is a better choice, this is for security reasons the result of.
thank

[2019-05-21 08:57] feerrenrut commented on #7105
We will be targeting python 3.7, at this stage we expect to do at least one more releases of NVDA (possibly two) before we do a python 3 release of NVDA.  We want to make it as simple as possible to find and fix issues caused bt high risk changes. So the aim is to have the minimal changes, just those related to python 3 and the speech refactor PR.

There has been investigation into the packaging t

[2019-05-21 09:04] leonardder commented on #7105
Hmm, this seems like an interesting idea, though I wonder whether py2exe can deal wit this while freezing the code. That needs to be found out.
It is probably very trivial to add the -3 flag to test builds only, so release builds don't get affected.

[2019-05-21 09:36] #4464 closed

[2019-05-21 09:36] #7727 closed

[2019-05-21 09:36] #8729 closed

[2019-05-21 09:36] #8849 closed

[2019-05-21 12:33] feerrenrut commented on #1506
Generally I agree. In a case like this, where we think it is a fairly unused feature and those that use it are likely to know they need to re-assign the shortcut, then maybe it's ok?

I don't recommend we remove it at this stage. We should certainly document it, but we should still try to consider if we can remove the default shortcut.

[2019-05-21 12:45] Adriani90 commented on #1506
I suggest removing the Default shortkey and create a new item in Input gestures Dialog where users can assign a shortcut for it. I think this Feature is important if we ask beginners who Report issues to deliver the Software Version in which they reproduce a specific issue. Often they do not know exactly where to look in the log file.

[2019-05-21 12:51] #9582 closed

[2019-05-21 13:05] feerrenrut commented on #9589
I can certainly understand the desire for more consistent code, however a broad set of changes just for code style is not something we would consider. We are willing to consider breaking compatibility and introducing risk when we must (python3), or when it allows for sufficient new features and opportunities for innovation (speech refactor). I don't think we are willing to introduce risk to rectif

[2019-05-21 13:05] #9589 closed

[2019-05-21 13:26] feerrenrut commented on #9589
Linking to #6090 since the reasoning for closing is similar.

[2019-05-21 14:21] leonardder commented on #8375
@feerrenrut: I'm getting the following error from py2exe when trying to integrate images/nvda.ico into the executables:

<details>
<summary>Exception</summary>
[code]
</details>

I'm very unfamiliar with the ico format. Is it true that there could be multiple images embedded in one ico? Before I continue investigation of this, it might help to know whether the ico file is really valid.

[2019-05-21 14:28] leonardder commented on #8375
Reply to https://github.com/nvaccess/nvda/issues/8375#issuecomment-492670031 from @albertosottile

There is some commented out code in py2exe regarding manifests. I think I'll first try to have a look at that code in order to see whether it can be reused. If so, I can file a pr against your fork to have it included.

First investigations indeed seem to prove that we aren't going to suffer from thi

[2019-05-21 16:21] albertosottile commented on #8375
That's great news, and of course a PR would always be welcome.

[2019-05-21 19:42] Adriani90 commented on #3611
I am closing this as works for me. I cannot reproduce it in Firefox 66.0.5.

[2019-05-21 19:42] #3611 closed

[2019-05-21 19:50] Adriani90 commented on #3600
This is still reproducible in Firefox 66.0.5 and other browsers. I am not sure if this is an NVDA bug though.
cc: @jcsteh as far as I understand, the last cell in the table should be reported together with "Aproval" and "date". But it is reported only with "aproval" as heading. "date" is being ignored.

[2019-05-21 20:01] Adriani90 commented on #3510
@lallerkee1 can you still reproduce this issue in NVDA 2019.1.1?

[2019-05-21 20:04] Adriani90 commented on #3510
I am closing this issue as we do not have any updates from the author since years. This issue seems very specific and cannot be reproduced by everyone. If you are still having this issue, please comment on it and we can reopen the discussion. Thanks.

[2019-05-21 20:04] #3510 closed

[2019-05-21 20:12] Adriani90 commented on #3575
@Qchristensen we need your helpful eyes again. :-) Could you please test with NVDA last alpha or 2019.1.1 in different browsers if the first link gets visual focus, as it is claimed in this issue? Thanks.

[2019-05-21 20:22] Adriani90 commented on #3571
I am closing this one as abandoned. We cannot reach to the initial author and the case is very corner. Actually I don't know exactly what is expected here. Testing with NVDA 2019.1.1, NVDA reads the dialog and application role when tabbing in focus mode in IE11. If someone has further thoughts on this, please comment on it and we can reopen it. Thanks.

[2019-05-21 20:22] #3571 closed

[2019-05-21 20:49] Adriani90 commented on #3519
@Qchristensen I feel like this could be already covered in the issue #5836. Maybe the mouse shapes are defined in Windows and are standardized for every application. So I guess this is the same issue we see in MS Word. Enablind UIA in MS Word also reports unknown on mouse shapes. Right?

[2019-05-21 20:55] Adriani90 commented on #3531
Is this then possible to enable UIA on NVDA's own process only on Windows 10? If this does not freeze on 2809 Update it is actually a green light for doing this.
cc: @michaelDCurran

[2019-05-21 21:05] Adriani90 commented on #3764
@zahari_bgr I do not exactly understand which use case you want to achieve. Reporting this on every container would produce a lot of verbosity which is not necessary everytime. Are there any other examples which clarify the use case of this feature?

[2019-05-21 21:07] Adriani90 commented on #3764
The author is not available anymore and we do not have updates on this discussion since many years. Please comment on it if you have a use case in mind where this could be helpful. I am closing thi one as abandoned but we can reopen it if the discussion on this starts again.
cc: @lukaszgo1, @leonardder, @k-kolev1985, @Robert-J-H

[2019-05-21 21:08] #3764 closed

[2019-05-21 21:12] Adriani90 commented on #3723
I guess this is now fixed since the native driver for friedom scientific braille displays has been added to NVDA's core. Can this be closed?
cc: @leonardder, @feerrenrut, @bramd

[2019-05-21 21:15] michaelDCurran commented on #8375
Ico files contain multiple images suitable for various common display
scenarios such as thumnails in File explorer, Desktop icon, Start menu
icon, system tray icon etc. With newer Windows Operating Systems, the
number of image sizes has gone up yet again.

However, I can't completely guarantee that there is no maximum amount of
images aloud in an ico file. To my knowledge our ico file is valid.

[2019-05-21 21:17] Adriani90 commented on #3708
@dkager could you please help us in testing if this is still an issue in NVDA 2019.1.1 or Alpha? Unfortunately I cannot test because I do not have a braille display at hand.
cc: @leonardder

[2019-05-21 21:26] Adriani90 commented on #3653
@lukaszgo1 could you please test if this is reproducible for you? In my case, NVDA does not report the coordinates in table when selecting with shift+ or ctrl+shift+arrow keys. Testing with NVDA alpha-17304,df6010f5

[2019-05-21 21:30] Adriani90 commented on #3630
@leonardder  Could this be related to #3497?

[2019-05-21 22:38] bramd commented on #3723
Yes, it can be used with Bluetooth. Since USB is not going to happen as long as a driver is not provided in Windows or through Windows update by default, which is out of our control, I would like to close this.

[2019-05-22 03:59] lukaszgo1 commented on #3653
I've tested in Office 2010 with NVDA version alpha-17304,df6010f5and for me  only selected text is reported and it is reported properly.

[2019-05-22 06:38] Robert-J-H commented on #3764
Closing is fine by me. Skype is a special case and should be treated
as such (if the problem still exists).
We should first tackle the general position info problems I've
mentioned elsewhere (menus, tabs, checklists and running programs).

On 21/05/2019, Adriani90 <notifications@github.com> wrote:

[2019-05-22 07:31] leonardder commented on #8375
I couldn't found such a maximum for images in an ico file.

I've filed https://github.com/albertosottile/py2exe/pull/9.

There are two major things I still have to look into:

* The system dll routine has changed. System dll's like api-ms-win-crt-convert-l1-1-0.dll are ending up in the distribution
* The manifest inclusion logic has to be changed

[2019-05-22 08:32] leonardder opened #9604 "Again remove Handy Tech com server from NVDA distributions"
### Is your feature request related to a problem? Please describe.
Though we have a native driverfor Handy Tech braille displays, the com server used for the legacy driver is still kept for ease of use, per request of handy tech. See #8213

### Describe the solution you'd like
Again, I'd like to consider removing the com server from NVDA as part of the Threshold/Python 3 transition. At the time #8

[2019-05-22 09:00] albertosottile commented on #8375
PR accepted. Will be included in the next release.

This occurs also with PyInstaller, so I assume the change was in the Python ABI, hence that is here to stay. The solution is to delete the `api-*.dll` files from the distribution after packaging. This can be done efficiently in the `setup.py` script, see e.g. [here](https://github.com/Syncplay/syncplay/blob/a9172f9fa66a8eff488a76b209015411ef641dd

[2019-05-22 10:41] #3723 closed

[2019-05-22 15:47] nimerjaber opened #9607 "Lag in NVDA menus"
### Steps to reproduce:
1. Press NVDA+n.
2. Observe the amount of time to open the NVDA menu.
3. Press down arrow to help and press right arrow to expand.
4. Observe the amount of time it takes to expand help menu.
### Actual behavior:
Accessing menus is slow and exhibits lag.
### Expected behavior:
Accessing menus is snappy.
### System configuration
#### NVDA installed/portable/running from sourc

[2019-05-22 15:49] derekriemer opened #9608 "fs braille displays on alpha ignore keypresses on main 8-key and space."
The brand new fs driver breaks on my focus (Older series). I don't know how their numbering for series goes, but the fermware fersion says focus 40 5.71
STR:
1. open input help mode.
2. try to type anything on one of the 8 keys of input.
expected: input
Actual: Not even registered by the new driver.

[2019-05-22 16:17] derekriemer commented on #9607
@leonardder @feerrenrut

[2019-05-22 16:18] derekriemer commented on #9607
This is r regression from the last alpha.

[2019-05-22 16:18] derekriemer commented on #9608
@jcsteh did you take up the rest of the work on the fs driver? Trying to tag the right peeps here.

[2019-05-22 16:29] josephsl commented on #9607
Hi, uh oh, @MichaelDCurran and I are responsible for this, possibly due to aggressive virtual desktop name announcement code implemented at the moment. I’m going to keep an eye on this. Thanks.

From: Derek Riemer <notifications@github.com>
Sent: Wednesday, May 22, 2019 9:18 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] L

[2019-05-22 16:34] leonardder commented on #9608
@bramd is the right author here

[2019-05-22 16:42] bramd commented on #9608
@derekriemer Thanks for reporting this issue. I have a display with firmware 5.71 as well and braille input works as expected in input help.

It is possible to disable the braille keyboard in hardware, could you check if this is the case? If you press the power button, you should get the status display including firmware and connection state. If the braille keyboard is disabled, you see a `⣮⣵` sym

[2019-05-22 17:06] leonardder commented on #9607
To me, it's not noticeable.

@nimerjaber: could you try this with all add-ons disabled?

[2019-05-22 17:22] nimerjaber commented on #9607
I did try with all add-ons disabled and still was able to repro.

thanks.

On Wed, May 22, 2019 at 10:11 AM Leonard de Ruijter <
notifications@github.com> wrote:

--
Best,

Nimer Jaber

The message above is intended for the recipient to whom it was
addressed. If you believe that you are not the intended recipient,
please notify me via reply email and destroy all copies of this
correspondence. Acti

[2019-05-22 18:17] leonardder opened #9609 "NVDA freezes in Notepad++ 7.7"
### Steps to reproduce:
1. Install Notepad++ 7.7 X64
2. Type a line of text.
3. Press home to move the caret to the first character within the document

### Actual behavior:
NVDA seems to freeze for around 10 seconds, then reports blank.

### Expected behavior:
NVDA directly reads the first character.

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA

[2019-05-22 19:09] dkager commented on #3708
I can't reproduce this in Windows 10, but that doesn't say anything about Windows 7 (as per the original report).

[2019-05-22 20:43] DrSooom commented on #9609
Sources: [Official announcement](https://notepad-plus-plus.org/news/notepad-7.7-released.html), [Changelog in the thread](https://notepad-plus-plus.org/community/topic/17668/notepad-7-7-release)

I'm still on Notepad++ 7.6.6 (32-Bit). Thanks for the hint.

@leonardder: You interchanged the two behaviors. And could you please test the 32-Bit version as well?

[2019-05-22 21:20] DrSooom commented on #9609
Okay, I already opened "huc6-u+0000-u+ffff.tbi" from the [HUC Braille Tables](https://danielmayr.at/huc/) (1.94 MB, 65,568 lines) with the portable (7z) versions of Notepad++ 7.7 on Win7x64 with NVDA 2018.1. The 32-Bit version loaded the "little" tbi file (= plain/normal text file) immediately and the 64-Bit version required up to 11 seconds on an Intel Core i7 960 (more than 9 years old, but stil

[2019-05-22 21:52] Adriani90 commented on #9609
cc: @DataTriny

[2019-05-22 21:54] Adriani90 commented on #9609
@leonardder I have just moved the text from expected behavior into the actual behavior and vice versa. I hope it is ok. :-)

[2019-05-22 22:13] Adriani90 commented on #3350
It is still an issue, but it depends how strong the protection is. You can protect your pdf document in several ways. If the protection is not sstrong, then NVDA recognizies the text. I think @derekriemer wanted to start some research on this.

[2019-05-22 22:23] Adriani90 commented on #3653
@nsousa2007 are you available to test further? What exactly is the issue here? In our results so far NVDA does not report cell coordinates when selecting text in tables. When I press shift+down arrow from the row 1 column 1, NVDA select the whole row 2 which is actually implemented in Word itself. If you copy and paste the selection anywhere elsse, the whole row will be pasted in a table format.
C

[2019-05-22 22:26] Adriani90 commented on #3653
@johnykulik4025 could you please also test if this issue is reproducible in Office 2007? Thanks.

[2019-05-22 22:36] Adriani90 commented on #3813
I have edited the description and updated the link so it works again. The issue is still reproducible in NVDA 2019.1.1 only on Firefox. Testing in Firefox 66.0.5. Chrome and IE work as expected.

[2019-05-22 22:48] Adriani90 commented on #8831
cc: @leonardder, @mltony this is related to all issues that are targeted by PR #9511. Disabling automatic set system focus on focusable elements solves this issue. Is that PR going to remain a sustainable option for users? Or are there any thoughts about alternative approaches?

[2019-05-22 22:54] Adriani90 commented on #8750
@mikebayus thanks for reporting. I close this one as works for me, it seems your problem is solved. If you have suggestions for editing the .dic file, please create a new feature request for it anf fill the template. Thanks.
But I also think that such issues are also synthesizer specific and not really NVDA issues. If you encounter such issues with multiple synthesizers, then it could be more rela

[2019-05-22 22:54] #8750 closed

[2019-05-22 22:56] Adriani90 commented on #8750
Note that if something changes in NVDA, addon developers must come with an update accordingly. It is not necessarely a fault in NVDA if an addon developer does not wnat to invest time in understanding the changes and comming with a solution.

[2019-05-22 23:06] Adriani90 commented on #8680
I guess this is hapenning very random. @fisher729 am I correct? I think I could reproduce it one time in 20 attempts or so.

[2019-05-23 03:13] nishimotz commented on #9583
Created new PR as #9610.
PR #9590 is a more conservative work around this, but need to be squashed.
I hope either of them should be considered for 2019.2.

[2019-05-23 04:01] zahra21 commented on #9609
hello.
i tested with nvda 2017.2 which is the best version for me on windows xp and notepad++ 7.7 32bit.
i tested one book which is 4.19 mb in html format and even i converted it to text and cant reproduce the mentioned issue in html and text format of my book!
notepad++ opened for me these files very fast and nvda did not freeze.
but since my book is very large, (it contained 1307 when i opened i

[2019-05-23 05:03] Qchristensen opened #9611 "Focus movement changing between focus and browse mode with UIA in Word 365"
### Steps to reproduce:
1. Open Word 365 with a document longer than visually fits on screen.  Have the option to use UIA in Word checked in NVDA's advanced options.
2. At the top of the document, press NVDA+spacebar to put NVDA in Browse mode.
3. Press CONTROL+END to move to the end of the document.
4. Press NVDA+spacebar to put NVDA in Focus mode.
5. Press the up arrow.

### Actual behavior:

A)

[2019-05-23 06:03] leonardder commented on #9609
@DrSooom wrote:

This is exactly where I"m suffering from. I updated the initial description accordingly.

@Adriani90 wrote:

Thanks for that!

[2019-05-23 06:15] leonardder commented on #9609
I've also found the underlying issue.

When expanding to character, NVDA sends the SCI_POSITIONAFTER message to the control, passing -1 in the case offset is 0. However, in the X64 version of Notepad++, the result of that call is the length of the document, whereas in the X86 version, it returns 0 as expected.

In the case the length of the document is returned, NVDA ends up in a while loop. This

[2019-05-23 06:50] Qchristensen opened #9613 "Additional list numbers read when navigating a list in Word with UIA"
### Steps to reproduce:

1. Turn NVDA's UIA in Word option on.  Open Word 365 to a blank document.
2. Type: 1. The first
3. Press enter and for list item 2 type "the second".
4. Press UP ARROW.
5. Press LEFT ARROW
6. Press RIGHT ARROW four times.

### Actual behavior:

A) At Step 4, NVDA reads "1. The first 2"
B) At Step 5 (left arrow), NVDA reads "T".
C) At step 6, NVDA reads "2", then "2. T", th

[2019-05-23 07:21] Qchristensen commented on #3519
The two issues are similar, but possibly slightly different:

- This issue #3519 occurs when the mouse pointer changes to the standard Windows "Link Select" cursor.  If you open the start menu, type MOUSE, and open Mouse settings, then go to "advanced options" which brings up the old control panel mouse options and press CONTROL+TAB, the focus should be in "pointers".  On this screen is a list of

[2019-05-23 09:17] JulienCochuyt commented on #5755
(Cross-posting to issue #9478, I guess we could close one of the duplicates)

Accessolutions repackaged the Seika notetakers driver patch for NVDA version 3.2 as an add-on compatible with 2019.1.1
Repository: https://github.com/accessolutions/seikamini-nvda
Packaged release: https://github.com/accessolutions/seikamini-nvda/releases/download/3.2.2019.1.1/seikamini-3.2.2019.1.1.nvda-addon

We are wo

[2019-05-23 09:18] JulienCochuyt commented on #9478
(Cross-posting to issue #5755, I guess we could close one of the duplicates)

Accessolutions repackaged the Seika notetakers driver patch for NVDA version 3.2 as an add-on compatible with 2019.1.1
Repository: https://github.com/accessolutions/seikamini-nvda
Packaged release: https://github.com/accessolutions/seikamini-nvda/releases/download/3.2.2019.1.1/seikamini-3.2.2019.1.1.nvda-addon

We are wo

[2019-05-23 09:34] Brian1Gaff commented on #9607
I'm not seeing this here, but then it was running a little sluggish  I
though before due to those long error warnings we were getting when written
to the log.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From:

[2019-05-23 09:52] leonardder commented on #9478
duplicate of #5755

[2019-05-23 09:52] #9478 closed

[2019-05-23 13:58] ruifontes commented on #5755
Julien, I have tried to go to bothe links and both report page not found!

Have you make them public?

Best regards,

Rui Fontes
Tiflotecnia, Lda.

Às 10:17 de 23/05/2019, Julien Cochuyt escreveu:

[2019-05-23 14:15] JulienCochuyt commented on #5755
Sorry @ruifontes, my bad.

It is public now. Please try again, and thank you for your interest.

[2019-05-23 14:31] ruifontes commented on #5755
Thanks!

Rui Fontes

Às 15:15 de 23/05/2019, Julien Cochuyt escreveu:

[2019-05-23 19:08] Adriani90 commented on #6028
I am testing with NVDA 2019.1.1 in all browsers, including IE11. No code snippets are being read. NVDA reports "title of the document document", "content of the document". So I cannot reproduce this issue. Steps to reproduce are missing in the description and so we are not able to understand exactly what's going on.
@midhun1, @ajitbubu, @petiso, @chrisd27, @hkdennis2k are you still having this iss

[2019-05-23 19:19] zstanecic opened #9615 "allow setting dot firmness for the esys 16, 24, 40, 80 displays from the settings dialogq"
### Is your feature request related to a problem? Please describe.
No, it is not a problem, but is a small suggestion.
### Describe the solution you'd like
Allow setting the dot firmness for all esys displays, as it is supported by the hardware itself. Checked in the latest jaws versions. I don't know, which braille displays support this, but it is a small thing.
### Describe alternatives you've c

[2019-05-23 19:25] Adriani90 commented on #5720
This issue is still reproducible in IE11 with NVDA 2019.1.1. I get following errors in the log:

[code]

[2019-05-23 19:26] Adriani90 commented on #5720
cc: @leonardder maybe this is related to this warning:

DEBUGWARNING - RPC process 4888 (iexplore.exe) (21:14:29.947):
Thread 2268, build\x86\vbufBase\storage.cpp, VBufStorage_buffer_t::getTextInRange, 948:
Bad offsets of 11 and 14, returning NULL

[2019-05-23 19:33] Adriani90 commented on #9615
cc: @leonardder is this not already implemented? There was a PR related to this recently.

[2019-05-23 19:36] Adriani90 commented on #3653
I am closing this one as invalid. If someone can reproduce an issue like described by the initial author, please open a new one with updated steps to reproduce.

[2019-05-23 19:36] #3653 closed

[2019-05-23 19:36] zstanecic commented on #9615
It is implemented, but it is not implemented for the esys displays.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 23, 2019 9:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] allow setting dot firmness for the esys 16, 24, 40, 80 displays from the settings dialogq (#9615)

cc

[2019-05-23 19:49] Andre9642 commented on #9615
Are you sure? I have an Esys for 7 years and I have never seen that.

It seems to me that proves nothing, JAWS shows this option for all braille displays.

[2019-05-23 19:49] Adriani90 commented on #3708
@nvdaes, @hozosch can you reproduce this on Windows 7?

[2019-05-23 19:55] zstanecic commented on #9615
Well,

I have seen in jfw, that it works for esys, and it has an effect on the quality of braille dots.

So it changes it on the hardware. I saw this on another computer

From: André-Abush Clause <notifications@github.com>
Sent: Thursday, May 23, 2019 9:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Author <author@noreply.github.com>
Subject: Re: [nvacc

[2019-05-23 20:00] lukaszgo1 commented on #3708
I cannot reproduce it with Focus 40 Blue 4th gen on Windows 7 Pro x64 with NVDA version alpha-17311,0d29265e

[2019-05-23 20:01] Adriani90 commented on #4007
I have tested in NVDA 2019.1.1 with the last version of the facebook app from Windows store, the app is still very inaccessible. Edit fields are not in the tab order, you cannot jump to them with objectnavigation and you cannot move into the text etc.
cc: @josephsl I supose the priority for improving Windows 10 aps in general is very low. Right? It seems many companies just create some apps to tes

[2019-05-23 20:02] DrSooom commented on #8563
Still reproducible with Notepad++ 7.7 (32- and 64-Bit portable; Scintilla 4.14).

[2019-05-23 20:04] hozosch commented on #3708
Well, with my windows 7 professional 64 bit system, I can neither reproduce it with the latest stable version nor the latest snapshot using my handy tech active star AS4-16016

[2019-05-23 20:05] Adriani90 commented on #3963
@JulienCochuyt is this somehow improved in the newer driver versions for Seika?

[2019-05-23 20:16] lukaszgo1 commented on #9608
I cannot reproduce it with my Focus 40 Blue with firmware version 5.71 either.

[2019-05-23 20:20] Adriani90 commented on #4054
@k-kolev1985 I think it is hardly, if not possible at all for NVDA to customize the accessibility strings provided by the accessibility API. Fore example you find also stuff like "Dal-on" in Outlook which is used in the database for the window design in C#. I guess only Microsoft can really improve this consistently.
Could you please report this to them via Feedback hub or so?

[2019-05-23 20:43] Adriani90 commented on #4288
Ok I am testing with NVDA 2019.1.1 in CCleander 5.57, the issue is still reproducible. To be clear, when starting CCleaner or when changing to its window with alt+tab, NVDA reports the system information twice and does not report the current focused control. You must press tab or shift+tab to interupt the speech and to hear which control is focused.

[2019-05-23 21:25] Adriani90 commented on #4221
@dkager, @ruifontes, @zstanecic would you be available to test please this in Gmail on IE11 with NVDA 2019.1.1? I am quite sure that this issue still occurs but I am not able to test myself and maybe I am wrong. Thanks.

[2019-05-23 21:33] nsousa2007 commented on #3653
Hallo Adriani,

Sorry for answering so late.
I'll check it again and  come back soon.

Regards,
NSousa

Em qui, 23 de mai de 2019 às 20:36, Adriani90 <notifications@github.com>
escreveu:

--
Norberto Inácio de Sousa
Consultor de acessibilidade Web e digital;
Formador de acessibilidade, informática e línguas;
https://www.linkedin.com/in/norberto-in%C3%A1cio-de-sousa-a129ab4b/
Tlm. 962836137

[2019-05-23 21:37] #9609 closed

[2019-05-23 21:42] Adriani90 commented on #4163
We do not have an update from the initial author since years. I am not able to reproduce it with NVDA 2019.1.1 and Thunderbird 60. Closing as works for me. If you are still having the problem, please comment on it and we can reopen it. Thanks.

[2019-05-23 21:42] #4163 closed

[2019-05-23 21:45] Adriani90 commented on #4150
Still reproducible in NVDA 2019.1.1. I wonder if someone can test in the IE mode of Edge chromium if this issue occurs there as well?

[2019-05-24 00:26] mshoho opened #9616 "Handling ARIA 1.1 Combobox is broken in Chrome and Firefox"
ARIA 1.0 combobox role should be applied to `<input>`, but ARIA 1.1 combobox role is being applied to a container.

NVDA seems to handle ARIA 1.0 comboboxes ok. But handling ARIA 1.1 comboboxes is broken:
  1. In Browse mode NVDA just skips the combobox and its entire contents including `<input>` inside the container with `role=combobox`.
  2. I can use Tab to focus the `<input>` inside the contai

[2019-05-24 00:32] long2know commented on #8235
I've recently been working with NVDA and stumbled upon this thread.  Our accessibility testers have also pointed out, like in the previous comments, that NVDA incorrectly adds the extra role of "subMenu" for any element that has "aria-haspopup," whereas Edge w/ Narrator does not.

In every widget I'm using (like AngularJS uib-dropdown, uib-datepicker, custom datepickers / comboboxes, etc), the "su

[2019-05-24 04:24] zahra21 commented on #9609
do you mean that this bug only affected 64bit notepad++ and is not reproduceable in 32bit as i mentioned i did not observe any issue when i installed notepad++ 7.7 32bit?

[2019-05-24 04:54] leonardder commented on #9609
Yes, exactly. I couldn't reproduce this on the X86 version either.

[2019-05-24 05:07] k-kolev1985 commented on #4054
@Adriani90 It is not worth it to report it to Microsoft either - they won't fix it, because they no longer develop Windows 8.1, as far as I know. We might as well just close the issue. If you can - close it - I can't.

[2019-05-24 06:11] nvdaes commented on #3708
I can't reproduce this on Windows 7 Professional 64 with NVDA 2019.1.1, testing with my Ecobraille Plus Display tethered to focus, automatic tether and review cursor.

[2019-05-24 07:52] JulienCochuyt commented on #3963
I guess no.
There are two distinct drivers for the two kinds of Seika devices.
- One supports Seika braille displays and is included in NVDA since 2012.3beta1. I assume this is the one the present issue is about.
- The other one supports Seika notetakers (Mini16, Mini24, V6 and V7). We have recently repackaged it as an add-on for easier installation, based on the patch version 3.2 provided by the

[2019-05-24 07:58] leonardder commented on #3963
@JulienCochuyt wrote:

Out of curiosity, are you indenting to assist them in converting the driver to a native implementation using hwIo? This is mostly preferred.

[2019-05-24 09:24] Novalis7747 commented on #6429
this is really a very important feature I miss since years in NVDA and Excel. The announcement of an autofilter row is essential for me to do my daily work. I'm kinda bored of switching to another screen reader when working with Excel. If you need an example I can upload one. Any chance to get this in NVDA in 2019?

[2019-05-24 10:38] DataTriny commented on #8563
Hello,
As previously mentionned, a caret event is not fired when the cursor is standing at the start of the text area. I would really like to work on this, but I have absolutely no idea on why is this happening. @leonardder do you think this bug is related to Scintilla? If not, what are we supposed to do to trigger this caret event?

[2019-05-24 12:02] lukaszgo1 commented on #8295
@leonardder I'm afraid I do not understand your last comment. When navigating with ctrl+arrows the editor determines what is a word separator and what isn't. When working with object review it is an NVDA job to determine this and since in Scintilla the word separators aren't set to space by default when NVDA sends Scintilla messages asking about start and end of given word space is returned.

[2019-05-24 12:25] RichCaloggero opened #9617 "Only way to escape from element with application role is tab"
### Steps to reproduce:

[code]

Running the above:

1. tab twice to the element with application role
2. press either NVDAKey+spaceBar or escape

### Actual behavior:

- pressing NVDAKey+spaceBar reads the actual text within the `div` rather than label, but still does not put you back in browse mode
- pressing escape does nothing

### Expected behavior:

- either or both of these keystrokes shoul

[2019-05-24 12:33] lukaszgo1 commented on #8295
cc @DataTriny given your recent work on Scintilla.

[2019-05-24 12:35] RichCaloggero commented on #9617
## Why this is important

MathJax has developed a native accessibility solution which will replace the need for mathPlayer. When the correct settings are enabled, you can tab to an expression and drill down into it in a similar way as with MathPlayer.  It uses arrow keys for navigation, so it embeds the expression in an element with role of application.

The problem is that if you are in a long do

[2019-05-24 13:02] tspivey commented on #9617
Please read section 6.4. Embedded Objects in the manual and try again.

[2019-05-24 13:02] Adriani90 commented on #3708
Thank you all for reporting back. I am closing this as works for me.

[2019-05-24 13:02] #3708 closed

[2019-05-24 13:22] Adriani90 commented on #3963
@JulienCochuyt especially in E-Mail Clients but also in General in lists where items can be deleted. I am not sure if this is only related to Seika. It could also be due to the Review Cursor not properly jumping to the next item in the list after deleting an item. But for that we should test this with several Braille Displays and under different tetering Options.
@nvdaes, @dkager, @hozosch, could

[2019-05-24 13:43] hozosch commented on #3963
With my braille display, the handy tech active star AS 4-16016, and thunderbird 60.6.1 it works correctly, although sometimes, it displays something else before the next message, but it changes so fast, there's no chance for me to make out what it is. It isn#t like described in the issue though, it does display the next message in the end.

[2019-05-24 13:47] Adriani90 commented on #4054
I am closing this as won't fix. Please comment on it if you have other arguments / suggestions and we reopen the discussion. Thanks.

[2019-05-24 13:48] #4054 closed

[2019-05-24 13:51] Adriani90 commented on #8295
and also cc: @franzipvb

[2019-05-24 15:49] fernando-jose-silva commented on #9374
My opinion is that this nvda problem of not announcing open windows on some machines is a chronic problem that exists for so many years, I've seen on so many machines.
Strange that this could never be solved.
My machine is very different is with windows 10 18362.113 and office 16.0.11601.20204
and I was able to reproduce this right now.
I just opened a document in the word and pressed f12, the sav

[2019-05-24 16:07] josephsl commented on #9067
Hi,

For future reference: whenever one changes iter* to ones without, make sure to check the type of the class where the method is defined in (hence skipping ConfigManager class). Also, staring from today's commits, explanatory comments will be added (see #7105 comment from Reef for details).

Thanks.

[2019-05-24 16:10] fernando-jose-silva opened #9618 "nvda cuts off the first item that is focused on the extended inventory list."
### Steps to reproduce:
open site
www.google.com
press b to get the button
Google Apps
Press enter.
Press (comma) to go to the last item in the list
More Google apps
Press enter.
### Actual behavior:
nvda announces the expansion of the list and says nothing more.
### Expected behavior:
nvda announces expansion of the list
and announces the first item in the case the first google app in this list.

[2019-05-24 16:49] DrSooom commented on #9616
@mshoho: Please add all webbrowsers (incl. version), where this issue occurs, to the issue description. Thanks.
CC: @jcsteh and @MarcoZehe

[2019-05-24 16:55] DrSooom commented on #9617
@RichCaloggero: Press NVDA+CTRL+Space – if you don't want to read the manual. 😉

[2019-05-24 18:42] Adriani90 commented on #9618
@leonardder, @mltony this is solved if you disable "automatically set system focus to focusable elements" in advanced settings of NVDA.

[2019-05-24 18:48] Adriani90 commented on #9607
I can definitely reproduce this in Alpha 17311,0d29265e. When pressing nvda+n NVDA reacts much slower than before. This is also the case when I expand the sub menus in NVDA menu. NVDA announces the first item in the expanded sub menu after 1.5 sec or so. Here is the log with time since input:

[code]

[2019-05-24 18:57] josephsl commented on #9607
Hi, can you reproduce this with 17329? Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, May 24, 2019 11:49 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Lag in NVDA menus (#9607)

I can definitely reproduce this in Alpha 17311,0d29265e. When pressing nvda+n NVDA reacts mu

[2019-05-24 19:16] leonardder commented on #8295
[**@lukaszgo1**](https://github.com/lukaszgo1) commented on [24 May 2019, 14:02 CEST](https://github.com/nvaccess/nvda/issues/8295#issuecomment-495594616 "2019-05-24T12:02:01Z - Replied by Github Reply Comments"):

This is true.

This is not entirely true. When moving to the next word, NVDA asks the TextInfo object for the particular control to move to the next word. How a TextInfo object calculat

[2019-05-24 19:29] leonardder commented on #8295
I looked at the code and it looks like NVDA has a certain workaround in it to ensure that word offsets are correct, with the downside of space treated as a separator.

[2019-05-24 20:32] lukaszgo1 commented on #8698
With latest Thunderbird daily it seems to be partially fixed i.e. after activating the list it is possible to move between attachments with arrow keys and have them read. The list is still announced as a button. I am not a Thunderbird user so it would be nice to have this confirmed by someone else before closing.

[2019-05-24 22:13] ruifontes commented on #9607
Not, not reproducible anymore...

Rui Fontes

Às 19:58 de 24/05/2019, Joseph Lee escreveu:

[2019-05-25 00:20] Adriani90 commented on #9607
Yes, for me it is still reproducible with 17329.

[2019-05-25 00:47] ruifontes commented on #9607
With Windows 10 1809 or 1903?
I am using Windows 10 1903, NVDA alpha-17329 and the lag have disapeared...

Rui Fontes

Às 01:20 de 25/05/2019, Adriani90 escreveu:

[2019-05-25 01:00] Adriani90 commented on #9607
I am using 1809 update.

Von: ruifontes <notifications@github.com>
Gesendet: Samstag, 25. Mai 2019 02:48
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Lag in NVDA menus (#9607)

With Windows 10 1809 or 1903?
I am using Windows 10 1903, NVDA alpha-17329 and the lag have disapeared...

Rui F

[2019-05-25 06:58] leonardder commented on #8295
On closer inspection, at least for Notepad++, it is Scintilla that's failing here. Scintilla is definitely treating one space or a group of spaces as a word when using SCI_WORDSTARTPOSITION and SCI_WORDENDPOSITION.

[2019-05-25 09:42] lukaszgo1 commented on #8295
Which is exactly what I am saying. According to this quote from the Scintilla documentation when we want Scintilla not to do that we have to set spaves as word separators ourselves.

SCI_GETWHITESPACECHARS(<unused>, char *characters) → int
Similar to SCI_SETWORDCHARS, this message allows the user to define which chars Scintilla considers as whitespace. Setting the whitespace chars allows the user

[2019-05-25 10:53] leonardder commented on #8295
The problem is that the docs say:

However, the movement behaviour of ctrl+left/rightArrow doesn't match with the offsets returned by SCI_WORDSTARTPOSITION and SCI_WORDENDPOSITION

[2019-05-25 11:49] hozosch opened #9619 "NVDA freezes in SVN commit dialog"
### Steps to reproduce:
Assuming you are placed on a folder you checked out with SVN,
1. Run svn commit from the explorer context menu
2. Type something in the log text editor.
3. Delete the text
### Actual behavior:
NVDA freezes when deleting the last remaining character in the edit field
### Expected behavior:
NVDA works as usual.
### System configuration
#### NVDA installed/portable/running fro

[2019-05-26 17:20] venkateshpotluri commented on #7877
@mush42  I face a similar issue but would not like to switch to JFW for my presentations because that interferes with the live captions feature.

* Would you be able to share your fork of Power Talk?
* Is the version you are using the same as the python code in your attachment above? if so, could you provide instructions on how to use it?

Thanks.

[2019-05-27 05:09] NavyaGoberu opened #9620 "[Preview-MAS Violation]:Screen reader is narrating caption informaton twice when we press shortcut key "T""
User Experience:
User who rely on screen reader if screen reader is narrating repeated information user will confuse.

Test Environment:
OS: Windows 10
Browser: Chrome
Screen reader: NVDA
URL: https://microsoftignite-staging-beta.azurewebsites.net/en-us/ignite/pricing

Repro Steps:
Step 1: Open the above URL using any browser.
Step 2: navigate to hero section and Press “T” to read the caption info

[2019-05-27 06:15] Qchristensen commented on #3575
In both Firefox and Chrome, what I found was:
- If I refresh the page with F5, while the focus is on the second link, the page refreshes and the focus stays on the second link.  Pressing TAB moves into the browser tab / menu area (as it usually does once you Tab past the last control on a page).
- If NVDA is not running, when the page refreshes, neither link has focus and TAB takes focus to the fi

[2019-05-27 06:26] dnz3d4c commented on #9619
I hope this problem will be resolved soon. #8641 has been verified to be reproducible in the latest NVDA stable version.

[2019-05-27 06:29] leonardder commented on #9619
I think this should be fixed in latest Alpha builds. See #9612.

[2019-05-27 08:46] NavyaGoberu opened #9621 "[Preview-MAS Violation]:During scan mode column heading are narrated twice."
User Experience:
User who rely on screen reader if when focus on the column header screen reader is narrating twice user will confuse.

Test Environment:
OS: Windows 10
Browser: Chrome
URL: https://int.onerf.microsoft.com/en-us/enterprise/tablev2?preview=inprogress&variationChoices=*:default

Repro Steps:
Step 1: Open the above URL using any browser.
Step 2: Navigate to section “OneGDCWeb-TableV2-

[2019-05-27 08:49] dnz3d4c commented on #9619
I tested it with the latest alpha build, and I could not reproduce the problem. This issue seems to have been fixed.

[2019-05-27 09:39] Adriani90 commented on #9619
Closing as works for me. Please comment on it if you are still having it in future Releases of NVDA (i.e. 2019.2).

[2019-05-27 09:39] #9619 closed

[2019-05-27 10:00] #9286 closed

[2019-05-27 10:08] herodees commented on #6016
Remote control of the product with NVDA has been evaluated by HIPS (Host-based Intrusion Prevention System) as a security risk, as it allows malware to compromise protection.
If you want this option, you'll need to turn off self defence, what is not recommended.

[2019-05-27 12:01] nvdaes commented on #3963
I can't reproduce this with Ecobraille display on Windows 7 with NVDA 2019.1.1.

[2019-05-27 13:51] lukaszgo1 opened #9622 "when activating document review and review cursor isn't following focus review cursor always ends up at the top of the document."
### Is your feature request related to a problem? Please describe.
When pressing NVDA+numpadMinus to move review cursor and navigator object to the position of the caret/focus respectively and the caret is inside the browse mode document navigator object/review cursor ends up at the position of the last focused object not at the caret position.
This is mainly problematic in two cases:
1. In long p

[2019-05-27 13:56] xtstoll opened #9623 "Unable to navigate between slides and edit content in Google Slides"
### Steps to reproduce:
1. Open Google Chrome.
2. Open a presentation in Google Slides with multiple slides and text content.
3. Press DOWN ARROW to go to the next slide.
4. Press TAB to go to a text box on a slide.
5. Press ENTER to edit the text.

### Actual behavior:
- When pressing DOWN ARROW, nothing happens.
- When pressing ENTER on text box, NVDA makes the sounds for Edit Mode, but does not

[2019-05-27 15:52] GauravTheCoder commented on #9549
I'd like to have NvdA+NumLock keystroke assigned  to toggle on/off the objNav through NumPad.
I have this  weird keyboard layout where the rightmost key at the top row is end, then left to that in the horizontal row are page down, page up, and home. I'd like to use my NumPad for home/end and page up/down, thanks.

[2019-05-27 20:13] Adriani90 opened #9624 "NVDA reports object status of details button while downloading update"
### Steps to reproduce:
1. Open NVDA
2. Wait for the update notification to appear or search for an update from NVDA menu
3. Press "download update"
4. While downloading, press tab and make sure the focus is on the button "show details".

### Actual behavior:
NVDA reports randomly from time to time "show details", "hide details", "expanded", "colapsed" during the whole downloading process.

### Ex

[2019-05-27 20:19] Adriani90 commented on #3963
@zstanecic, @larry801 are you maybe available to test this with a Seika Braille display? I seems this issue is really specific to Seika but we don't know if it is still reproducible.

[2019-05-27 20:31] Adriani90 commented on #572
We do not have any updates on this issue since two years and the Miranda client has been updated. I am closing this issue as abandoned but feel free to comment on it if it is still reproducible and we can reopen the discussion. Thanks.

[2019-05-27 20:31] #572 closed

[2019-05-27 20:40] Adriani90 commented on #398
Ok, this works quite good when disabling quick navigation with nvda+shift+space bar. But quick navigation gets automatically enabled after a dialog is displayed or when the cursor jumps to another area on the thunderbird window.
Is it possible to turn off quick navigation for an application entirely until you press nvda+shift+space bar again?

[2019-05-27 20:41] Adriani90 commented on #398
I am onl keyboard layout Laptop.

[2019-05-27 20:59] Adriani90 commented on #829
@lukaszgo1, @buevest, @hozosch, @gregjozk, @Sylvie42 could anyone of you please try to reproduce this issue? I cannot reproduce the errors described by @Brian1Gaff above. Note that the discussion is a bit longer on this issue.

[2019-05-27 21:02] Adriani90 commented on #1445
@leonardder are you still seeing this issue?

[2019-05-27 21:07] Adriani90 commented on #1380
@francipvb, @JulienCochuyt do you know by chance if this is still occuring in VS Studio 2010 or newer versions? This is a prety old issue and we lost contact to the initial author.

[2019-05-27 21:10] Adriani90 commented on #1318
@modulus, @pvagner are you still seeing this issue in NVDA 2019.1.1 and Firefox 67?

[2019-05-27 21:11] RichCaloggero commented on #9617
## NVDAKey+control+spaceBar does blur

This does blur the element and gives the keyboard back to NVDA. However, you need to be a bit careful about how you focus an element.

- run the following test
- tab till you land on the second expression (which has role of application) then press NVDAKey+control+spaceBar
   + your focus will land on the item which had focus just before expression 2
- now arr

[2019-05-27 21:15] Adriani90 commented on #1201
This is still reproducible in Windows 10 1809 with NVDA 2019.1.1.

[2019-05-27 21:22] Adriani90 commented on #1717
@Andre9642 I see that the pull request referenced above is merged to master. In which version of Liblouis will this be solved? Is this already Liblouis 3.9 which has now been updated in NVDA?

[2019-05-27 21:35] Adriani90 commented on #1545
According to my research PDF converter professional is discontinued. Last release (version 8.1) was in 2013. We do not have an udate from the initial author and do not have any further requests from users. I am closing this as abandoned. Please comment on it if this issue is important for you and we can reopen the discussion. Thanks.

[2019-05-27 21:35] #1545 closed

[2019-05-27 21:38] Adriani90 commented on #1490
I think announcing new tab or tab closed every time when using the commands will introduce too much verbosity in NVDA. In general, NVDA reads the title of the new page when you press ctrl+enter on a link and announces the title of the page when you press ctrl+w to close the tab.

[2019-05-27 21:40] Adriani90 commented on #1490
The only issue I see here is ctrl+enter for opening a link in a new tab.In this case most of times NVDA does not say anything.

[2019-05-27 21:45] Adriani90 opened #9625 "The focus does not change when opening a link in a new tab, NVDA is silent"
### Steps to reproduce:
1. Open Firefox or Chrome
2. Open NVDA
3. Go to www.google.com and in the search field type Github nvda
4. Using browse mode in NVDA, navigate with h to the first result
5. Press ctrl+enter on the link

### Actual behavior:
NVDA reports only "visited" but it does not indicate that a new tab has been opened. The focus stays on the google search page.

### Expected behavior:

[2019-05-27 21:46] Adriani90 commented on #1490
I am closing this in favor of #9625

[2019-05-27 21:46] #1490 closed

[2019-05-27 21:49] DrSooom commented on #9620
@NavyaGoberu: Please specify the Win10, the Google Chrome and the NVDA version in the issue description. Thanks.

[2019-05-27 21:50] DrSooom commented on #9621
@NavyaGoberu: Please specify the Win10, the Google Chrome and the NVDA version in the issue description. Thanks.

[2019-05-27 21:58] Adriani90 commented on #1858
This might be related to #9374.

[2019-05-27 22:03] DrSooom commented on #9625
@Adriani90: Isn't this a browser feature – open links in a new tab in the foreground/background?

[2019-05-27 22:07] JulienCochuyt commented on #1380
I don't know.
I was not yet a full-time NVDA user when I intensively worked with VS 2010.
I fully switched only around 2015.3 and was back to Eclipse at the time.
My recent uses of VS 2012 & 2015 with newer NVDA were not problematic, but nothing heavy on resource consumption, so I can't tell.

[2019-05-27 22:12] Adriani90 commented on #1836
I think this cannot really be solved in NVDA. It seems this issue comes from accessibility API and Microsoft can improve this. But I don't think they will put efforts in solving it because in Office 2016 and newer this extra verbosity is not reproducible. Even in Office 2010 withNVDA 2019.1.1, the extra verbosity is not significant anymore.

I am closing this issue but feel free to comment on it i

[2019-05-27 22:12] #1836 closed

[2019-05-27 22:15] Adriani90 commented on #3021
This is not reproducible in NVDA 2019.1.1 and Excel 2010. I am closing this as works for me.

[2019-05-27 22:15] #3021 closed

[2019-05-27 22:18] Adriani90 commented on #3041
This is not reproducible in NVDA 2019.1.1 and MS Excel 2010. Closing as works for me.

[2019-05-27 22:18] #3041 closed

[2019-05-27 22:26] Adriani90 commented on #9625
This might be, thanks for pointing out. I have edited the description accordingly.

[2019-05-27 22:55] DrSooom commented on #9625
Only as an option, as everybody should already know that CTRL+LeftClick and CTRL+Enter open a link by default in a new tab. And the tabbed browser feature is 15 years old.

[2019-05-28 01:44] jcsteh commented on #8831
It's worth noting that disabling automatic setting of system focus prevents this issue from occurring, but it doesn't really "fix" it. Of course, if we do that, we may choose to close this as won't fix, since it effectively solves it for users. That said, [possible solutions for this specific issue are outlined in my comment above](https://github.com/nvaccess/nvda/issues/8831#issuecomment-44149613

[2019-05-28 04:13] hozosch commented on #829
Can't reproduce this with word 2010 and the attached e mail form. Using windows 7 pro 64 bit and NVDA 2019.1.1

[2019-05-28 06:47] subbart opened #9628 "NVDA not narrating "radio button" selected access text after selecting the radio button"
### Steps to reproduce:

### Actual behavior:
1) Open WPF window with radio buttons
2) Navigate the radio button using nvda keys
3) NVDA currently narrates the current status of radio button ( enabled / disabled)
4) Now select or deselect the radio button
5) NVDA not narrating new state
6) Go to any other control on the page and come back , NVDA correctly narrates the new state.

Microsoft narrato

[2019-05-28 08:20] Andre9642 commented on #1717
@Adriani90 yes, the original issue is now solved in libLouis. You can close this.

[2019-05-28 09:29] jakubl7545 commented on #9285
@feerrenrut Do you have any thoughts regarding my latest comment?

[2019-05-28 09:45] pvagner commented on #1318
Hello,

On my end This can still be reproduced with NVDA 2019.1 and Firefox 67 on Windows and Firefox 69 and Orca master on linux.

Easier steps to reproduce than chatzilla:
* Open the page at https://terrillthompson.com/tests/aria/live-scores.html
* 2 Hit Start game 2 button and notice how your screen reader of choice announces the region changes.
* Press ctrl+t to open a new tab.
* 4 navigate a

[2019-05-28 09:51] feerrenrut commented on #9285
If the number is 13 only because of the screen / windows size, then we can't hard code it. Instead, can we report date when we can, and catch errors when we can not?

[2019-05-28 09:54] Adriani90 commented on #1717
closing as works for me.

[2019-05-28 09:54] #1717 closed

[2019-05-28 10:33] jakubl7545 commented on #9285
That's what I did. When it is not possible to retrieve date only comment itself and author are reported.

[2019-05-28 11:48] jcsteh commented on #1318
There isn't a Mozilla bug at this stage. The problem is that there's no clear way to map this in current accessibility APIs.

objects in background tabs do get the offscreen state. Unfortunately, web authors use off-screen live regions to make screen readers speak information which isn't visible, so screen readers can't ignore off-screen live regions. We still need to fire the events because other

[2019-05-28 14:28] lukaszgo1 commented on #9252
I've just discovered that when UIA is used for treeview in the options of MS Excel in which you can enable or disable sections of ribbon state of them isn't announced. Previously it was very easy to get to them with object nav - the appropriate checkbox was directly below an item, but now with UIA used for them it is no longer possible.
Any chance for a fix?

[2019-05-28 15:12] #9086 closed

[2019-05-28 17:45] derekriemer commented on #9608
Okay, yeah, kb was disabled.

[2019-05-28 17:47] Adriani90 commented on #9607
This is not reproducible in
alpha-17373,98dc8278
The pull request regarding reporting of virtual desktop has been reverted. I guess this was the cause for this.
I am closing this as works for me.

[2019-05-28 17:47] #9607 closed

[2019-05-28 17:48] #9608 closed

[2019-05-28 18:06] Mohamed00 opened #9632 "UIA in Windows Console: Space Character is not Announced when Deleting Characters"
### Steps to reproduce:
Open the command prompt and type a command, such as help help, and press backspace to delete the characters.
### Actual behavior:
The space character is not announced when deleting characters, and the character to the left is announced instead of the space.
### Expected behavior:
The space character should be announced.
### System configuration
#### NVDA installed/portable/

[2019-05-28 18:12] Adriani90 commented on #3070
@jcste should we close this in favor of #1318 and #7743? Those issues contain many examples and the discussion goes a bit further. #1318 covers firefox and #7743 is about different browsers but especially IE.

[2019-05-28 18:15] Adriani90 commented on #7743
#1318 is related.

[2019-05-28 18:17] Adriani90 commented on #1318
It seems @derekriemer is also looking into this. See #9079.

[2019-05-28 18:22] derekriemer opened #9633 "Braille: Cannot exit input help mode with emulated NVDA key."
### Steps to reproduce:

1. connect braille display, and set up a key on the display to emulate the NVDA key with.
2. Press the NVDA key. NVDA says "NVDA pressed"
3. Press 1. Input help turns on.
4. Emulate NVDA again. it says "NVDA pressed.
5. press 1.

### Actual behavior:
it says 1.

### Expected behavior:
Input help turns off.

[2019-05-28 18:22] derekriemer commented on #9633
@leonardder

[2019-05-28 18:46] leonardder commented on #9633
Ugh, this is a tricky one. Definitely not high on my priority list at
the moment. Feel free to assign this a priority yourself, I guess p3
will suffice.

[2019-05-28 22:43] jcsteh commented on #3070
Closing in favour of #1318, yes. However, I'll adjust the title of #1318, since it's fairly confusing right now.

[2019-05-28 22:43] #3070 closed

[2019-05-28 23:05] jcsteh commented on #1318
I updated the [issue description](https://github.com/nvaccess/nvda/issues/1318#issue-116025528) for clarity.

That PR is indeed about live regions, but this problem is out of scope there.

I just realised this isn't an issue for Chrome, since Chrome uses different HWNDs for different tabs. That makes it less important to try to standardise a new solution. Also, Firefox already provides a relation

[2019-05-29 03:16] GuruSR commented on #9374
But the user in question is not using CTRL+S, is using Alt, then F, then scrolling down to Save As and pressing Enter.

Also, the build *is* apparently reporting the Save As and Open dialogues fine, but, NVDA is still getting caught on some object while Office 2010 Excel is open and the user has left the machine to take the dog for "you know", upon returning, the machine "has crashed" because the

[2019-05-29 04:55] leonardder commented on #9583
Ugh, I wasn't aware that this is a regression. That means we should treat this a bit diffrently.

Commit 6d4b1121 only seems to bump the version.
I wonder whether this could be the update from Python 2.7.15 to 2.7.16.

[2019-05-29 05:45] nishimotz commented on #9583
Created PR #9635 against the beta branch.

[2019-05-29 06:21] josephsl commented on #9583
Hi,

I think rather than reverting the possibly offending code (part of which is app module handler code), it would be best to perform version checks as a temporary workaround with a source code comment reminding @feerrenrut about this problem. Note that in Python 3, decoding a Unicode string with MBCS results in creation of a bytes object, something we should avoid if possible except in special c

[2019-05-29 07:04] Brian1Gaff commented on #9633
Is it just the one toggle or does this affect others as well?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows XP machine!

[2019-05-29 09:42] feerrenrut commented on #8661
I have updated the description with a preference for comparing a character to a single byte (from bytes). I think we should do the same for other types of comparisons:
- unicode string with bytes
- Changes in indexing of strings

[2019-05-29 10:12] feerrenrut opened #9637 "Python 3: update string literals to have either u, r, or b prefix"
### Problem:

In python 3, plain string literals become unicode strings. In some parts of NVDA we use plain strings for binary data. This will cause errors and strange behaviour.

To gain confidence in a Python 3 release of NVDA we need consider these strings, and how they are used, and decide if the literal should be prefixed with 'u', 'r', or 'b'.
There are more than 1000 unspecified string lite

[2019-05-29 10:14] Adriani90 commented on #9374
@GuruSR when NVDA freezes, is there any other application which crashes at the same time? If yes, after terminating that applicatoin, does NVDA start talking again?

Regarding logging. With ctrl+nvda+f1 you can easily Display the logging window and you can save it like any other document. Even if NVDA freezes, after the freeze is gone you can press ctrl+nvda+f1 and all things are saved to it, also

[2019-05-29 10:17] Adriani90 commented on #9374
As far as I understand, NVDA does not Crash, it freezes. Right?
Could you please try to use it with disabled Network Drivers? I know this is a mess but there were People reporting something similar which was apparently caused by a Network Driver.
@qchristensen could you please give some more guidance regarding Network Drivers here? Thanks.

[2019-05-29 10:18] Adriani90 commented on #9374
Sorry the key stroke for logging window is nvda+f1. Without ctrl. :-)

[2019-05-29 10:19] Novalis7747 commented on #9374
Short correction to Adriani’s shortcut to open the log viewer, it is just NVDA-F1, not control-NVDA-F1

From: Adriani90 <notifications@github.com>
Sent: Mittwoch, 29. Mai 2019 12:15
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Slow to no response in Office 2010, Windows 10. (#9374)

@GuruS

[2019-05-29 11:08] feerrenrut commented on #9637
Part of difficulty here is crafting reliable regex to find these cases.

[2019-05-29 11:15] feerrenrut commented on #9637
One option here might be to implement a fixer in 2to3 to help find the cases we care about. 2to3 already contains a parser, and the appropriate framework for running it over a large set of files. I will look at this approach first. I'll see if I can get it to add a a unique comment to the source that we can then search for.

[2019-05-29 11:25] leonardder commented on #9637
Note that we do not only have to deal with the b literal for byte
strings, but in that case, indexing behavior is also changed and we need
to account for that.

[2019-05-29 12:45] lukaszgo1 commented on #5353
Isn't this one a duplicate of #3721?

[2019-05-29 13:34] aloeugene commented on #6680
Hi all,

I can say that it still reproduces for me in IE11 with NVDA 2019.1.

Code sample:
[code]

[2019-05-29 14:36] leonardder commented on #9637
Have you considered cases like `r'.+'` here? I guess this regex also catches strings like `r"""hello"""`, in which case we should also match on line breaks.

Most of them will probably be in braille display drivers. We could make hwIo treat unicode strings in braille display drivers as latin-1, in which case the bytes mapping is the same. However, that really obfuscates possible issues.

May be we

[2019-05-29 14:42] Adriani90 commented on #5353
Yes this is a duplicate. Closing.
Thanks for picking this up.

[2019-05-29 14:43] #5353 closed

[2019-05-29 14:59] leonardder opened #9638 "Update NVDA build environment to Python 3"
To create a distribution of NVDA, several third party packages are used and some scripts are involved. In particular:

* Py2exe to byte compile Python code and collect dependencies: #9605 (#8375)
* txt2tags to build the t2t documentation: #8734
* Epydoc: used to build developer documentation for our Python code
* Doxygen: Used to create the developer documentation for NVDAHelper
* Robot Framework:

[2019-05-29 15:02] leonardder commented on #8734
@nishimotz: would you be able to provide a pr for all the code you changed that is part of the NVDA repository? Also, I think we prefer a conversion to Python 3 code, not necessarily compatible with both (e.g. using six). I think we should also stick to the txt2tags version we're currently using in the build process, regardless whether that's the most recent one.

I think it is really important th

[2019-05-29 16:14] feerrenrut commented on #9637
@leonardder I think there are a few misunderstandings here. Rather than answer your questions individually I'll explain my progress on this so far.

My initial plan was to look at every string. I was expecting to use regex to find the next string missing a 'u' prefix, asses it, and modify it to have a 'u' prefix. This allows us to keep track of what as been assessed, and is comprehensive. I though

[2019-05-29 21:46] vkadri commented on #8440
Hi, any update on this? This is still an issue.

[2019-05-29 21:47] lukaszgo1 commented on #4479
Still reproducible under Windows 7 X64 Ultimate English and PowerPoint included int Office  2013 x64 also in English with today's Alpha snapshot. It is the same bug as described above, because when UIAHandler is terminated freeze goes away.
@feerrenrut Given the solution presented by @jcsteh above would it be reasonable to attempt implementing it? While it probably doesn't affect a lot of users fo

[2019-05-29 23:43] josephsl opened #9640 "Python 3: dict.has_key is no more"
Hi,

Another round of Python 3 compatibility report: dict.has_key is gone.

### Steps to reproduce:
Define a dictionary and try obtainig a key by doing dict.has_key(key).

### Actual behavior:
Attribute error is raised in Python 3.

### Expected behavior:
No errors.

### System configuration
#### NVDA installed/portable/running from source:
Source and installed

#### NVDA version:
master.17384

##

[2019-05-29 23:52] josephsl opened #9641 "Python 3: division operator differences between classic and the new division"
### Steps to reproduce:
Run Python 2 and 3 interpreters and try performing division operation such as "3 / 2" and "3 // 2".

### Actual behavior:
Errors such as not being converted to integer in Python 3.

### Expected behavior:
No errors.

### System configuration
#### NVDA installed/portable/running from source:
Source and installed

#### NVDA version:
master.17384

#### Windows version:
Windows

[2019-05-30 04:26] nishimotz commented on #8734
@leonardder Firstly I will remove Python 2 support from my PoC work, then make PR against NVDA repository.
What branch of NVDA should I use?

[2019-05-30 09:30] sagoenka opened #9642 "DetailsList column header sorting order is not Reading in NVDA"
### Steps to reproduce:
https://codepen.io/anon/pen/EzNoGP?&editable=true
### Actual behavior:

For Fabric.DetailsList we have columns when we navigate to each column header through clicking on Tab button ,once Tab entered to the DetailsList then i used down Arrow key to navigate to the column Headers and after clicking space on column header, grid is sorting but not reading everytime by NVDA when

[2019-05-30 10:21] leonardder commented on #8734
I think that should be threshold. Note that txt2tags itself resides in
https://github.com/nvaccess/nvda-misc-deps/ . I think it makes sense to
keep it that way for now.

[2019-05-30 12:18] gregjozk commented on #7074
Hi,

only for clarificationn:
from my point of view, we want that NVDA shows key conflicts. these may happen due to addon's instalation, reassign existing gesture; also we must differentiate between global and app specific gestures.
one of solutions could be another category in input gestures dialog, where duplicate items would be listed. e.g. here would be all elements with nvda+j key assigned.
i

[2019-05-30 14:40] erickbelfy commented on #3575
With a given HTML code:

[code]

With NVDA on, when i hit tab instead of going to the first nav->ul->li->button it goes to the header first button (hamburger-button), even with css turned off i can't reach the first button while NVDA on.

[2019-05-30 17:12] JohnnyTiresias opened #9643 "SVOX Pico tts addon incompatible since last update 2019.1.1, cannot be reinstalled anymore"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-05-30 17:36] lukaszgo1 commented on #9643
This is a duplicate of #9289 even though the add-on in question is different the error cause is the same. As SVox is hosted directly on NV Access server it would be nice to update manifest to the new format.

[2019-05-30 18:07] fernando-jose-silva opened #9644 "nvda interrupts continuous reading"
### Steps to reproduce:
I started reading a document in word, this is a document with 112 pages.
This document has several elements, such as figures, tables, links and other formats that I do not know in its entirety.
When you start reading this document, with nvda + a.
After a while the reading is stopped.
It is not another open window or loss of focus, nvda does not announce the opening of any w

[2019-05-30 18:33] fernando-jose-silva commented on #9644
I believe that I was able to capitalize on one of the excerpts from the document where nvda presents the problem.
Open the attached word document
Press nvda + the notebook layout to read the document.
See that in the last line the nvda le up to 5.
The line has more unread content by nvda with nvda + a:
5. APOIO ÀS FAMÍLIAS

[2019-05-30 18:34] fernando-jose-silva commented on #9644
[Em 2018.docx](https://github.com/nvaccess/nvda/files/3238286/Em.2018.docx)

[2019-05-30 19:15] leonardder commented on #9640
If there will be a separate pr for this, I vote for filing it against master. This is because the change is completely compatible with Python 2 and will be merged into threshold when master is merged. When merged into master, it will also get broader testing.

[2019-05-30 20:33] nimerj opened #9645 "NVDA too verbose in Gmail settings"
### Steps to reproduce:
1. Open Chrome and navigate to gmail.com
2. Navigate to gmail settings by pressing tab to settings and pressing enter, down arrow to settings and pressing enter again.
3. tab throughout the settings dialog through the various options. Tab ten or more times to really observe the issue, and listen to what NVDA verbalizes
### Actual behavior:
NVDA is entirely too verbose, read

[2019-05-30 23:38] Qchristensen commented on #9374
Re network drives, they can cause a delay, but generally I've found the delay tends to be visual as well as for NVDA (eg, the files / folders take some time to populate in the save dialog even for a sighted user).  I've got my Windows 10 set to save documents to my "OneDrive" and I find it can be very slow to bring up save as dialogs compared to dialogs which access local folders, but that's a gen

[2019-05-31 00:31] DrSooom commented on #9374
It could also be that the HDD was turn off after a few minutes of inactivity. A HDD needs up to 10 seconds to turn on again. Normally you should be able to hear the HDD engine starting. If this is the case, it could take up to 10 seconds until the Open/Save as-Dialog opens. That's normal – but sometimes hard to explain casual users (based on my experiences). Please note that I'm not talking about

[2019-05-31 06:35] leonardder commented on #9583
@josephsl: Are there user noticeable improvements in #8727? If not, there's no reason to keep it in master/beta if it breaks things. I'm afraid that merging #9635 introduces more risk than reverting #8727.

Cc @feerrenrut

[2019-05-31 06:59] josephsl commented on #9583
Hi,

There is no user-level improvements in #8727, however importlib is the way to go for import internals in Python 3. I'll prepare a reversion PR just in case reverting should take highest of highest of priorities.

Thanks.

[2019-05-31 07:22] leonardder commented on #9583
[**@josephsl**](https://github.com/josephsl) commented on [31 May 2019, 08:59 CEST](https://github.com/nvaccess/nvda/issues/9583#issuecomment-497599218 "2019-05-31T06:59:20Z - Replied by Github Reply Comments"):

That's true. But if importlib creates issues for Python 2 that require workarounds, I think we should defer using importlib to threshold.

[2019-05-31 07:42] nishimotz commented on #8734
@leonardder you mean I should fork nvda-misc-deps repository to make PR?

[2019-05-31 07:56] leonardder commented on #8734
For the txt2tags file, yes. For other files, such as site_scons.site_tools.t2t, the code resides in the normale NVDA repository. I agree it is slightly confusing.

[2019-05-31 08:28] Brian1Gaff commented on #9643
Yes this and the  speech player in Espeak and other synths do not work in
later snaps. Whether this is just a manifest issue, I'm not sure, certainly
speech refactoring etc will break them and python3 definitely does.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitore

[2019-05-31 08:31] Brian1Gaff commented on #9643
You can do this yourself after its installed, but remember if you do push
the working version of nvda too   far ahead, say 2019.4, it will probably
really break by then due to work on the nvda core code.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.bl

[2019-05-31 08:35] Brian1Gaff commented on #9644
I'm assuming you have not seen this in the other snap branches of alpha and
beta?
 Threshold is rather a special case, and I've seen lots of minor rough
edges. I'd be worried if stable or beta did this.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.bli

[2019-05-31 08:36] josephsl commented on #9643
Hi, have you tried contacting the add-on author about this? I advise doing that first, as the author might not be aware of changes in recent NVDA releases or may have something else to say. Thanks.

From: JohnnyTiresias <notifications@github.com>
Sent: Thursday, May 30, 2019 10:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda]

[2019-05-31 08:41] lukaszgo1 commented on #9643
The add on author is NV Acces, so I believe it is proper place for this discussion.

[2019-05-31 08:50] leonardder commented on #9643
@michaeldcurran: Do you think this add-on can be updated for speec hrefactor at some point?

[2019-05-31 09:09] josephsl commented on #9640
Hi, we may need to wait, as two of the lines affected by this are tied to xrange to range conversion. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Thursday, May 30, 2019 12:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3: dict.has_key is no more (#9640)

If t

[2019-05-31 09:18] michaelDCurran commented on #9643
I'm sure it is possible. Not of great priority as only about 0.1% of
people use it according to our statistics.

[2019-05-31 10:15] nishimotz commented on #8734
@leonardder created PR #9648

[2019-05-31 11:11] Pickl opened #9652 "ALVA 640 Comfort drivers need updating"
ALVA 640 Comfort cannot use the NVDA contracted/uncontracted UEB braille tables for translation.

It will display correctly on the braille display when the option is changed in the NVDA options menu but will not take the braille input. It has to use its inbuilt braille tables which are now out of date for UEB, can NVDA drivers be updated to support the ALVA 640 Comfort?

I have been in touch with

[2019-05-31 11:12] pidixit opened #9653 "NVDA reads list item twice on chrome"
### Steps to reproduce:
Following is the html snippet which is causing the issue:
[code]

Start NVDA and navigate through the list.

### Actual behavior:

Following is the Speech viewer output while running on Chrome (Version 74.0.3729.169 (Official Build) (64-bit)):

[code]
Here, the list item is read twice for item "Hello1".

Analysis:
This behavior seems to be related to combination of styles *

[2019-05-31 11:47] leonardder commented on #9652
Thanks for your report.
Could you please try to disable HID keyboard input using thumb key 1 + smartpad enter key? Thumb key one is the left most humb key. Pressing these keys should at least say something about HID keyboard simulation disabled/enabled or unavailable.

[2019-05-31 11:54] Pickl commented on #9652
Hi,
Hope I have given enough info. Please let me know if you need anymore.
There isn't a smartpad on the ALVA 640 comfort.
https://uk.optelec.com/products/abc-640-cf-alva-comfort-640.html

[2019-05-31 12:00] leonardder opened #9654 "Major performance regression in Firefox edit fields on Windows 10 1903"
Cc @jcsteh @michaeldcurran @codeofdusk

### Steps to reproduce:
Try to edit and select text in firefox edit controls, particularly multi line controls.

### Actual behavior:
Typing, movement and selection are all pretty slow compared to older NVDA releases.

### Expected behavior:
No performance regressions.

### Testing performed
It occurred to me that I only experienced these performance regress

[2019-05-31 12:09] lukaszgo1 opened #9655 "More reliable results from system tests"
### Is your feature request related to a problem? Please describe.
For some time now NVDA has ability to perform system tests during build on AppVeyor. These are very important and would be even more important in the future due to Python 3 migration. At the moment it is necessary to install some packages from pip to perform these. As they are installed from an online repository  for most of them l

[2019-05-31 12:29] leonardder commented on #9652
In that case, there doesn't seem to be a way for you to enable or
disable this with a gesture. In NVDA 2019.2, there will be a way to
enable or disable this feature using NVDA's settings dialog.

For now, please try the following:

1. Open the NVDA python console with nvda+ctrl+z

2. Paste in the following and press enter:

braille.handler.display.hidKeyboardInput = False

After that, are you able

[2019-05-31 12:30] JohnnyTiresias commented on #9643
The SVOX Pico add-on had the advantage of being effctively included on the portable version in the usb key. So I could run NVDA with Pico without the precondition of having preinstalled the tts engine on the level of the OS, and Pico has a reasonable quality much better than espeak.

In contrast the high quality voices offered by Windows 10 itself, are NOT included/integrated in tue portable versi

[2019-05-31 13:01] lallerke1 opened #9656 "facebook messenger inaccessibility"
Steps to reproduce:
1. Start Mozilla Firefox or Google Chrome.
2. Sign into www.messneger.com
3. Navigate to the active contacts.
4. Read the list with the arrow keys.

Actual behavior:
NVDA doesn't read the list neither with the arrow keys, nor with the tab key, even brows mode is activated with nvda+space.
Expected behavior:
Hotkeys should read the contact list in  messenger in firefox and chrom

[2019-05-31 13:04] lallerke1 commented on #9656
Sorry, write not well the website:
www.messenger.com

[2019-05-31 13:07] Pickl commented on #9652
The braille input is now working as expected.

However, now it grade 2 the ALVA 640 comfort is now emitting a loud piercing beep after you type a word and then press space. In grade 1 it is emitting the beep after every letter.

I have tried turning NVDA and the display on and off again and this reset it to how it was before I added that into the console. I entered the code again but I am still ge

[2019-05-31 13:07] lallerke1 commented on #9656
@Qchristensen please visualize it, if you can.

[2019-05-31 17:53] fernando-jose-silva commented on #9644
no, in alpha verbs I have not seen this problem.
Follows a message in outlook also with this problem.
Open the message, press nvda + a to read.
Note that reading is interrupted in several places.
To resume reading press down arrow.
Another computer.
nvda
threshold-17401, a939e3c0
windows 10 18362.116
[SETE PRÁTICAS PARA A PAZ.msg.txt](https://github.com/nvaccess/nvda/files/3242340/SETE.PRATICAS.PA

[2019-05-31 18:11] DrSooom commented on #9652
@Pickl: It should be possible to completely disable every sound feedback via the system menu of the ALVA 640 Comfort. If I'm not wrong, you have to press B1, B3, B4 and BSpace together to open the menu. Then select "Settings" and scroll down to the different sound options.

But it would be interesting why the ALVA 640 Comfort began to beep. A deeper look at the system menu couldn't be wrong.

[2019-05-31 18:16] DrSooom commented on #9653
@pidixit: Please also add the Firefox and Google Chrome version to the issue description. Thanks.

[2019-05-31 18:21] Adriani90 commented on #9548
@leonardder now that the PR above has been merged. Is this issue fixed? Or is there any further work to be done?

[2019-05-31 18:36] Adriani90 commented on #9643
@michaelDCurran I guess the statistics show a low number of users because the addon as such is not well known to the community. It would be nice to post all addons from NV Access on the official addon website. AS of now I can find the addon only in wiki article "extra voices".
Otherwise, if NV Access is not prioritizing this in the near future, you could officially donate the addons to the communi

[2019-05-31 22:52] Adriani90 commented on #8433
@Brian1Gaff, @fernando-jose-silva, @lukaszgo1 Dropbox started recently to implement WCAG standards and they seem to push towards accessibility. I think some developers from QT also influenced this somehow. In Dropbox 73.4.118 I cannot reproduce these issues. All dialogs are accessible now. Tabs are also reported when landing with tab and shift+tab on them. There are small issues still but I would

[2019-05-31 23:10] Adriani90 commented on #1508
This issue is fixed in Dropbox 73.4.118. Closing as works for me. If you are still seeing this issue in Dropbox 73.4.118 or newer versions, please comment on this to reopen the discussion or create a new issue accordingly. Thanks.

[2019-05-31 23:10] #1508 closed

[2019-05-31 23:12] michaelDCurran commented on #9643
No repo as far as I am aware. I think the last time I touched that
add-on was in 2010 or earlier?

Of course the beauty of open source is anyone can unpack that add-on,
fix the issue and release a new one. :) Otherwise, NV Access will get
around to it at some date.

[2019-05-31 23:30] Adriani90 commented on #4221
@nvdaes, @@david-acm could you please try to test if this issue is still reproducible? Thanks.

[2019-05-31 23:36] Adriani90 commented on #4388
Unfortunately Bhavyah seems not to be available for a long time. I am closing this as works for me. Please comment on it if you are still having this problem and we can reopen the discussion. Note that you can press ctrl key and then NVDA will start speaking from the last current percentage onwards.

[2019-05-31 23:36] #4388 closed

[2019-05-31 23:44] Adriani90 commented on #3575
@jcsteh is this not the same behavior like in #4386? If yes, then I suggest to close #4386 in favor of this one because here we have more recent updates and code examples. What do you think?

[2019-06-01 00:13] #9654 closed

[2019-06-01 00:37] Adriani90 commented on #4498
@david-acm, @zstanecic, @ruifontes, @nvdaes, @lukaszgo1 could someone please test if this is still an issue in Libre Office?

[2019-06-01 00:40] Adriani90 commented on #4497
I am closing this because we lost contact to the author and we do not have updates since a very long time. Please comment on it if you want to reopen the discussion. But feel also free to report these issues directly  to NV Access as it is the author of the NV speech player addon.

[2019-06-01 00:40] #4497 closed

[2019-06-01 00:41] GuruSR commented on #9374
I've not had time to respond, but, the "build" which was posted, *is* saying the Open and Save As dialogues only after folder population, which is very quick because of the local Documents folder in use, I've suggested they be leaned out for better performance.  The machine is a NUC with an SSD in it, so load times are rapid as are saves.  The machine's power settings are at max and no sleep of an

[2019-06-01 00:49] Adriani90 commented on #9374
Yes, I am also thinking that a com object could be the issue here. But without a log file will be really hard to track what exactly is happening. After the freeze, when NVDA speaks again, press nvda+f1 and save that file and upload it here please.

Otherwise, I am not sure if autosave is the cause here. It depends. Is the folder where excel creates backup copies on a server in your network? In tha

[2019-06-01 00:57] Adriani90 commented on #4581
@david-acm coul you please test if this issue is still reproducible with focus braille display?

[2019-06-01 00:57] Adriani90 commented on #4581
If possitlbe test with las NVDA Alpha.

[2019-06-01 07:29] leonardder commented on #9583
This should be fixed as of #9657. Please request a reopen if otherwise.

[2019-06-01 07:29] #9583 closed

[2019-06-01 08:04] leonardder commented on #9656
Do you have a reason to think that this is caused by NVDA, or whether it is an issue in the Facebook web app itself?

[2019-06-01 08:42] bramd commented on #4498
I can't reproduce this. However, after inserting a formula and going to the pane with functions with f6, this list of functions in a category is not readable. It is just reported as a "scroll pane". However, since the categories read corectly and the scroll pane is not accessible at all (either in speech or braille) this is clearly a separate issue.

[2019-06-01 17:19] Brian1Gaff commented on #1508
Hi  two things on this one. Firstly since one of my computers had to have
windows 7 installed again Dropbox preferences now work pretty well again,
Secondly, the add on does still work to make it less confusing.

I still do not know what uninstalling Avast did to the dropbox tabs etc in
windows 7. I still have one machine with the issue, so it might be something
that can be added to the  repair to

[2019-06-01 20:56] elliott94 opened #9662 "Windows 10 - Command Prompt: Incorrect Number of Characters Announced when Performing a Select All"
Apologies if this has already been logged - I wasn't able to find a similar issue. Tested with the latest Alpha snapshot (alpha-17437,cda0a3c0) on Windows 10 1703 X64.

STR:

1. Open a new Command Prompt, and perform any action to generate some additional text on the screen

2. Perform a Select All with CTRL + A

When this is done, NVDA will announce many more characters than were in fact on the s

[2019-06-01 23:36] Adriani90 commented on #1508
Did you try to run the com registry fixing tool?

You have to make sure that dropbox 73.4.118 is the version on the machine you mentioned. I don’t know exactly what Avast would influence in this matter, but I don’t think this is really caused by uninstaling Avast. Try to clean your registry with CCleaner after uninstalling Avast maybe there are some unneeded keys there.

Von: Brian Gaff <notificat

[2019-06-01 23:43] Adriani90 commented on #4498
Thanks for reporting back. I am closint this as works for me. Please comment on it if you still see this issue.
@bramd would you mind to open a new issue for that scroll pannel? Thanks.

[2019-06-01 23:43] #4498 closed

[2019-06-01 23:46] Adriani90 commented on #8153
@FelixGruetzmacher, @nvdaes, @buevest, @gregjozk are you able to reproduce this issue? Unfortunately I do not have a braille display at hand so I cannot test this. Thanks.

[2019-06-01 23:49] Adriani90 commented on #8433
I am closing this for now becaue many things improved in Dropbox 73.4.118. Please open new specific issues for every feature which dows not work as expected in Dropbox 73.4.118 or newer versions with NVDA. Thanks.

[2019-06-01 23:49] #8433 closed

[2019-06-02 18:24] josephsl commented on #9595
Hi,

Can you try this with latest alpha and beta snapshots please?

Thanks.

[2019-06-02 19:15] stickbear2015 commented on #9595
@josephsl
Testing with latest alpha and beta snapshots results in similar performance issues.
I also for fun ran latest master bleeding edge with similar issues.

[2019-06-02 19:59] josephsl commented on #9595
Hi,

Master = alpha.

You mentioned this not happening with really old releases. Can you pinpoint to a specific version (say, 2017.4) where NVDA responded just as quickly as any other scenarios? If a later version did introduce regressions, chances are that it might be something with NVDA, Excel, or a combination of these.

Thanks.

[2019-06-02 21:12] stickbear2015 commented on #9595
@josephsl
I've run tests so far back to when we began supporting 2016. This particular form is full of formulas, and other administrative nonsense I don't even know if I can find a version that'll be as responsive as you'd expect in office. Have you tried playing with the file I attached?

[2019-06-02 22:46] josephsl commented on #9595
Hi, yes I have, and didn’t notice differences yet. Thanks.

From: Shane Davidson <notifications@github.com>
Sent: Sunday, June 2, 2019 2:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] excel becomes laggy and unresponsive under certain circumstances. (#9595)

@josephsl <https://github.co

[2019-06-03 02:54] Qchristensen commented on #9595
It doesn't seem too sluggish for me either.  Every single field has an input message which pops up, I wonder if that could be causing it for you?

Personally, I wouldn't have designed it with an input message on EVERY field.  EG instead of having the label "Invoice date" and the input message clarifying to include the date in MM/DD/YYYY, just make the label "Invoice date (MM/DD/YYYY)".

So, my two

[2019-06-03 05:44] #1318 closed

[2019-06-03 05:58] leonardder commented on #7345
Note that #9658 was a follow up to #8785 and should have improved things even more.

[2019-06-03 05:59] leonardder commented on #8389
I hope that #9658 has contributed positively to this.
@FelixGruetzmacher: would you be able to do some tests with the most recent Alpha version of NVDA?

[2019-06-03 12:46] xtstoll opened #9665 "Portuguese characters o, ç, ó and õ output incorrectly on screen when using Braille Me"
### Steps to reproduce:
1. Connect braille display Braille Me to computer using a USB cable.
2. Configure NVDA to recognize the braille display (Preferences > Settings > Braille).
3. Configure NVDA for input and output braille tables in Portuguese, Grade 1.
4. Open Notepad and type the letters o ç ó õ using the braille display.

Typed as the following:
o = dots 1-3-5
ç = dots 1-2-3-4-6
ó = dots 3-

[2019-06-03 12:47] xtstoll commented on #9665
<img width="960" alt="notepad_2019-06-03_09-43-08" src="https://user-images.githubusercontent.com/24814666/58802810-75637200-85e4-11e9-95bc-3c496aa1bca6.png" alt="screenshot of Notepad screen with incorrect characters">
<img width="590" alt="nvda_2019-06-03_09-11-23" src="https://user-images.githubusercontent.com/24814666/58802812-75637200-85e4-11e9-9a6d-bd47b10512ee.png" alt="screenshot of Braill

[2019-06-03 13:11] Pickl commented on #9652
@DrSooom thank you for that suggestion. I will give that a go. I'm not a coder myself so I wouldn't know what else to have a look at. Is there anything else I could try using the NVDA Python Console? The Optelec website doesn't state the ALVA 640 Comfort works with NVDA but it is our screen reader of choice so I would like to be able to get it working.

[2019-06-03 13:45] mshoho commented on #9616
I am currently reproing it in Chrome Version 74.0.3729.169 (Official Build) (64-bit) and in Firefox 67.0 (64-bit).

[2019-06-03 14:44] Adriani90 commented on #9595
Which Synthesizer are you using? Do you have addons installed? Could you provide a list of nvda addons installed?
In Excel and in MS Office in General, you can also install addins. Could you disabel the addins in Excel and see if it is still sluggisch? Sometimes the dropbox addin causes Performance issues with NVDA.

[2019-06-03 14:47] Adriani90 commented on #9616
cc: @jcsteh is this exposed accordingly by Firefox? I think there was a discussion about this in another issue but I cannot find it just now.

[2019-06-03 16:54] fernando-jose-silva commented on #8389
I downloaded the last alpha and installed it.
nvda alfa 17460
When repeating the test of the word that had done before.
Open the start menu.
type word
press enter.
Nvda announced
panel.
You would expect nvda to advertise the focus item that is blank.
If I press alt + tabe to another window and press alt + tabe to the word window again or your blank document as expected earlier.
The logo follows
[f

[2019-06-03 17:08] fernando-jose-silva opened #9666 "nvda does not advertise videos in powerpoint"
### Steps to reproduce:
I created a PowerPoint presentation.
On the slide I inserted a video from the local machine.
I pressed f5 to start slideshow.
When reading the slide where there was the video the nvda read the slide with the arrows but did not report that there was a video on the slide.
I believe you have seen in previous calls this failure.
However the second part does not.
When pressing t

[2019-06-03 19:36] Brian1Gaff commented on #9643
I think the speech player in Espeak will go under soon based as it is on the
older version of  espeak.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- O

[2019-06-03 22:10] DrSooom commented on #9665
Please open an issue against [Liblouis](https://github.com/liblouis/liblouis/issues/new). The file name of the braille table you are using is called "pt-pt-g1.utb" – if I'm not wrong.

But before doing so, please download [NVDA 2019.2 Beta 1](https://ci.appveyor.com/api/buildjobs/x97vwoyo1eyq5e25/artifacts/output/nvda_2019.2beta1.exe) and see, if this issue still occurs there. You don't have to in

[2019-06-03 23:04] angeloabrantes commented on #9665
Hi,

We are traying to solve the problem.

Thanks

Ângelo Abrantes

NVDA's portuguese team.

Às 23:10 de 03-06-2019, Daniel Mayr escreveu:

--
Cordiais Cumprimentos
Ângelo Abrantes, Equipa <Portuguesa do NVDA

---
Este e-mail foi verificado em termos de vírus pelo software antivírus Avast.
https://www.avast.com/antivirus

[2019-06-03 23:13] Qchristensen commented on #9656
Facebook messenger displays a list of contacts down the left hand side of the screen, the currently selected conversation in the middle, and details and options for the current contact on the right.  The focus starts in the "Type a message" edit below the currently selected conversation in the middle of the screen.  There might be a quicker shortcut to get directly to your list of contacts, but I

[2019-06-04 00:59] jcsteh commented on #9616
Firefox exposes this correctly as far as I can see. This will require some changes to NVDA.

[2019-06-04 02:05] stickbear2015 commented on #9595
go ahead and try filling out the form, then leave and come back to it. Just fill it with example data. note: it will come up protected, enable editing to fill it out.
I'm using codefactories eliquence addon, even with others disabled it still gets sluggish as data is entered. It's more noticeable if I leave the window and come back to it to continue working in the file, say for example to look up

[2019-06-04 06:57] surfer0627 commented on #2204
@Adriani90 commented

Yes.
In the past, developer Jteh used to point out:

And [tdf 91739](https://bugs.documentfoundation.org/show_bug.cgi?id=91739) – nvda can not read documents from top to bottom. - is One of issues reported on LibreOffice issue tracker.

My question is that is it possible for NVDA developers to submit changes to the LibreOffice Git repository to fix IAccessible2 standard issue

[2019-06-04 08:08] leonardder commented on #9655
@lukaszgo1: do you consider this fixed? If not, could you please update the initial description?

[2019-06-04 10:16] pidixit commented on #9653
Updated version details.

[2019-06-04 13:21] leonardder commented on #8819
Just filed https://github.com/nvaccess/nvda-misc-deps/pull/13.

I really need a device to get rid of this wrapper and create something that fits into hwIo. This module should work for now.

[2019-06-04 13:54] leonardder commented on #8725
I just wrote to the BRLTTY mailing list, see [this post](https://brltty.app/pipermail/brltty/2019-June/016715.html).
I'd really prefer an official build from the BRLTTY project.

[2019-06-04 19:03] Adriani90 commented on #7743
#9634 partly improves the experience with NVDA and live regions in Firefox. Now NVDA reports them only when your focus is in the coresponding tab. This is indeed very appreciated.

Now the problem still exists in IE and in corporate environments many SAP or sharepoint solutions work only in IE. Live regions are reported in IE although I don't focus the window at all. Even when I am on desktop the

[2019-06-04 23:56] btman16 opened #9669 "NVDA Doesn't Read As the Value of Certain Sliders Change In Control Panel"
### Steps to reproduce:
1. Open the Control Panel.
2. Go to User Accounts and press enter.
3. Click "Change User Account Control Settings.
4. Tab to the Notification Level slider and use the up and down arrow keys to adjust the value.
### Actual behavior:
NVDA is silent as the value changes.
### Expected behavior:
NVDA should announce the new value of the slider as it changes.
### System configura

[2019-06-05 11:14] leonardder commented on #9604
I discussed this in a phone call with @FelixGruetzmacher. Handy Tech will advise people to run the com server installer if they really want to stick to the classic driver.

[2019-06-05 12:27] leonardder commented on #7587
I finally got hold of a display with FTDI chip, this is good!

[2019-06-05 12:35] 36degrees opened #9675 "NVDA reports inputs of `type="number"` in Firefox as unlabeled in the 'forms' elements list"
### Steps to reproduce:

In Firefox, with an HTML document containing the following markup, open the elements list using NVDA + F7 and select the 'Form fields' type.

[code]

([View in Codepen](https://codepen.io/36degrees/pen/joJovN))

### Actual behavior:

The elements list does not include the text from the label associated with the number field; instead reporting it as 'unlabeled':

- Text fie

[2019-06-05 14:14] PigeardSylvain commented on #9616
I tried adding a tabindex="0" attribute on the div with combobox role. It's better but it till not work as it should. It's not possible to type text into the input.
I also tried to add the input id in the aria-controls attribut, same result.

[2019-06-05 15:23] Y-V-H commented on #6627
Hello everyone,
I can reproduce this issue.
Behavior like @feerrenrut described.
I use FF 67.0.1 and NVDA 2019.1.1
Has somebody any update on this?
![image](https://user-images.githubusercontent.com/11545672/58968628-055d1380-87bf-11e9-8f47-78523a7668de.png)

[2019-06-05 17:22] Adriani90 commented on #9669
Cc: @josephsl, @michaelDCurran

[2019-06-05 17:25] josephsl commented on #9669
Hi, I think this is a duplicate of an issue filed a while ago (if I remember correctly). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, June 5, 2019 10:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA Doesn't Read As the Value of Certain Sliders Change In Contro

[2019-06-05 17:28] leonardder commented on #8819
I have a papenmeier device to test with and am converting that code to hwIo. Closing this issue in favour of #7587.

[2019-06-06 00:02] codeofdusk commented on #6291
Latest `master` includes a rewrite of NVDA's console support using UI Automation (enable it in the advanced preferences). Running the test program by @lukaszgo1 seems to yield improved results. Do you consider this issue closed when UIA is used (i.e. should we close it once UIA becomes the default)?

[2019-06-06 07:45] leonardder commented on #8636
Now we officially decided to drop our pywin32 dependency, restoring the service is no longer an option really.

[2019-06-06 08:18] leonardder opened #9676 "Command line parameter to copy portable configuration on silent installations"
### Is your feature request related to a problem? Please describe.
When running NVDA from a portable copy, you can install it from the NVDA menu. A nice convenience feature is the ability to copy the current configuration to the user account. However, it is not possible to do this when running a silent installation for the portable configuration, or when running the launcher with a custom configur

[2019-06-06 08:19] leonardder commented on #9284
Filed an issue for a command line parameter to copy portable configuration on silent installations, Issue #9676

[2019-06-06 08:58] Qchristensen opened #9677 "Underline and Strikethrough not reported in text in PDF files in Adobe reader"
### Steps to reproduce:

Open a PDF file which contains underlined or text with "strikethrough".  (I've attached an example to this issue).

Have NVDA report font formatting or navigate through text with NVDA set to report font attributes.

[Here is strikethrough text.pdf](https://github.com/nvaccess/nvda/files/3260785/Here.is.strikethrough.text.pdf)

### Actual behavior:

NVDA reports italic and

[2019-06-06 12:59] yuryk53 commented on #9501
The bug is reproduced with office-ui-fabric-react fiddle: https://codepen.io/yuryk53/pen/arrRLz . You could also check https://developer.microsoft.com/en-us/fabric#/controls/web/calendar with Chrome and NVDA.
The bug is reproduced only in Chrome (current version: 75.0.3770.80) with NVDA. In Firefox & Edge works correctly. The HTML markup generated by <Calendar /> component complies with WCAG. Chro

[2019-06-06 14:11] bashmish opened #9680 "Child button gets announced when using Arrow keys on the parent role="button" while it is not focusable"
This has been originally reported here: https://github.com/ing-bank/lion/issues/64

### Steps to reproduce:

Demo: https://stackblitz.com/edit/js-mu9ixf

1. Open in Chrome this demo https://js-mu9ixf.stackblitz.io with NVDA (I'm using 2019.1.1)
2. Focus on first native button with text `Native button before`
3. Press Down Arrow key => `lion-button` with text `Lion button` gets announced
4. Press D

[2019-06-06 14:33] elliott94 opened #9681 "Outlook 2010: Closing Brackets Not Announced if Navigating by Word"
Tested with NVDA snapshot alpha-17509,0f7c1419 on both Windows 7 and 10 X64.

STR:

1. Open a new message from within Outlook, and in the body type the following:

This is a (test) with NVDA

2. Navigate to the top of the just-typed text, and begin to read by word with CTRL + right

You'll notice that NVDA reads the presence of the left bracket, but doesn't make any announcement that the right bra

[2019-06-06 15:09] simonesilva opened #9682 "How to prevent NVDA to overwrite touchscreen configurations on Windows"
### Steps to reproduce:
When NVDA is on, it overwrites a set of predefined touch and gestures configurations for touchscreens, so what was before a single tap action becomes a fast double tap one. I need to prevent NVDA from overwriting some default settings on Windows.

I already tried removing "tap (Touch screen)" from "Input Gestures" under "Preferences" option, but it only stopped dictating, I

[2019-06-06 15:49] Maetz007 opened #9683 "Chrome table content is not announced in NVDA"
### Steps to reproduce:
1. Use Chrome browser and ensure NVDA is loaded and running properly.
2. Go to: https://www.leaderscosmeticsusa.com/collections/aquablend-oil-pocket-masks/products/aquablend-oil-pocket-moisture-mask
3. Navigate to the "Shipping and Returns" tab.
4. Attempt to navigate into the table under the "We offer FREE GROUND SHIPPING to domestic customers on orders over $50 (before ta

[2019-06-06 15:50] Brian1Gaff opened #9684 "Problem exiting settings gui for synth in NVDA version beta-17453,305bb049"
### Steps to reproduce:

Run the above version of nvda. I ran it as portable
Go into preferences/settings/synths and fiddle about a bit, then  go and look at the various settings and tab down them till you reach OK and  activate it.

### Actual behavior:
 it gives an error as in the log at the end of this report
### Expected behavior:
It should exit the gui as normal
### System configuration
Windo

[2019-06-06 16:44] hozosch commented on #9532
Sorry people, it seems that my imaginations how German espeak should sound don't agree with those of others. Thanks for doing it anyway now. I'll close this issue.

[2019-06-06 16:44] #9532 closed

[2019-06-06 20:53] Daredevilsprmcy commented on #7525
Hello,

I don’t know how to file a proper complaint against LibLouis, but the US Grade 2 errors are still there.

In the newest version of NVDA, they have fixed only the o’clock into o’c as should be.

But for words like girlfriend, girlfriends, boyfriend, boyfriends, and afterlife, the errors are still there.

That said, when you change the input and the output to UK Grade 2, those errors aren’t

[2019-06-06 23:00] Qchristensen opened #9685 "Report "Resolved comments" in Word 365"
### Is your feature request related to a problem? Please describe.
In Word 365, it is possible to mark comments as "resolved".  Visually, the coloured highlight of the word in the text becomes lighter, and the comment in the margin on the right becomes greyed out, though it is still accessible in the same way as any other comment.

There is currently no easy way to tell with NVDA that the comment

[2019-06-06 23:16] Qchristensen opened #9686 "Add additional ways to restart NVDA"
### Is your feature request related to a problem? Please describe.

Occasionally it is necessary to restart NVDA.  The "Exit NVDA" screen (NVDA+Q) provides several options for restarting, restarting with add-ons disabled etc.

If the "Show exit options when exiting NVDA" checkbox is unchecked in NVDA's general settings, there is no easy way to perform these restart options.

### Describe the solut

[2019-06-06 23:21] josephsl commented on #9686
Hi, can we also do something about advertising command-line parameters more? Most options in Exit NVDA list can be invoked from Run dialog. Thanks.

From: Quentin Christensen <notifications@github.com>
Sent: Thursday, June 6, 2019 4:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add additional ways to restart NVDA (#9686)

[2019-06-06 23:43] #8566 closed

[2019-06-06 23:44] Qchristensen commented on #9686
(Sorry, just edited your comment to take out all of my original issue from the reply).

I'm not against advertising the command-line parameters more (do mean in the post on the user group that prompted me to create this issue - or something else?) although ideally restarting with add-ons disabled (or debug logging etc) are things most users should not need to do very often, and not a large percent

[2019-06-07 02:08] XLTechie commented on #9686
I definitely agree that something needs to be done here. Twice in the last two
weeks, I have seen messages on the users list, from people instructed to perform
NVDA-q in order to restart without addons, and who had it fail and didn't know
what to do next.

I was going to propose a new button in general settings, called "Restart now
with addons disabled" or "Restart now without addons", but i think

[2019-06-07 02:10] josephsl commented on #9686
Hi, another option might be an unassigned gesture to restart with add-ons off, similar to what we already have. In regards to gesture suggestion, I’d stay away from NVDA+Shift+F3 due to this being assigned to find previous in browse mode. Thanks,

From: Luke Davis <notifications@github.com>
Sent: Thursday, June 6, 2019 7:09 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee2

[2019-06-07 02:41] XLTechie commented on #9686
Ah, forgot about find previous in browse mode. being NVDA+shift+F3; I retract
that part of the suggestion and limit my suggestion to either NVDA+alt+F3, or
unassigned.

[2019-06-07 04:05] codeofdusk commented on #9632
This is probably related to the caret movement issues on 1903. CC @michaelDCurran

[2019-06-07 06:09] XLTechie opened #9688 "Gestures still saved when "Save configuration on exit" is off"
### Steps to reproduce:

1. Press NVDA+ctrl+g, and turn off "Save configuration on exit" if it's on.
2. Open the NVDA menu, preferences, input gestures.
3. Go to any unassigned gesture (example: "Restarts NVDA" under "Miscellaneous").
4. Assign a gesture to that function (example: NVDA+alt+F3).
5. Press OK.
6. Restart NVDA by any means (example: ctrl+alt+n).
7. Repeat steps 2 and 3 above, and exam

[2019-06-07 06:10] leonardder opened #9689 "UIA in Windows consoles: no easy way to read prompt contents with speech"
### Steps to reproduce:
1. Enable NVDA's experimental UIA support in Windows consoles in recent Alpha builds
2. Open a command console
3. Type python
4. Press down arrow

### Actual behavior:
NVDA says blank. However, braille just shows the prompt, just as expected.

### Expected behavior:
NVDA reads the complete line, including the prompt: e.g. `C:\Users\Leonard de Ruijter>python`

### System con

[2019-06-07 09:50] stickbear2015 commented on #9595
I'm attaching the debug output from NVDA 2019.2 beta 1 to this comment. I don't know what's gonna be useful, but just before I entered the log viewer things were starting to get slow and sluggish, so I hope their's something of use here
[nvda-debug-2019-beta2.log](https://github.com/nvaccess/nvda/files/3265368/nvda-debug-2019-beta2.log)
.

[2019-06-07 16:25] fernando-jose-silva opened #9694 "Speech slower than expected with cell navigation in excel"
### Steps to reproduce:
Open a spreadsheet in excel with simple formulas
cell a1 enter the formula
= 1 * 30
cell a2
= a1 * 12
a1 will have 30
a2 will be
360
Now keep alternating with arrows up and down between cells a1 and cell a2.
Doing this with medium to high speed.
Note that after a few tries the nvda starts to fail to read the results in these cells.
The focus is on cell a2 reading the result

[2019-06-07 16:58] Brian1Gaff commented on #9686
Its going to become more important as add ons lose compatibility with newer
versions of nvda of course. I've had restart nvda with and without add ons
fail, but it seems this is a problem of some files not being freed fast
enough to be ready to write to on the restart in some Windows 7
installations for whatever reason.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail

[2019-06-07 17:46] bramd commented on #9675
I can reproduce this. It's not just a bug in the elements list, but also when the field has focus. In NVDA's object navigation I see the field as a spin button which has an edit field and two buttons inside. Those buttons are unlabeled, but decrease/increase the value.

When tabbing to the field NVDA reads the label correctly, since it reads the label of the parent control (the spin button) as wel

[2019-06-07 18:22] bramd commented on #9675
CC @jcsteh

[2019-06-07 20:24] codeofdusk commented on #9689
Expected behavior observed on Windows 10 1803. This is likely related to #9632 and the other 1903 caret/text range bugs. Cc @michaelDCurran

[2019-06-07 20:45] Adriani90 commented on #4581
@ivnc could you please try to test if this issue is still reproducible on focus blue? Thanks.

[2019-06-07 23:04] disimmon opened #9695 "NVDA is extra verbose when reading dialog contents if focus is given above first text element"
### Steps to reproduce:
Open Edge Latest or Chrome latest and go to https://jsfiddle.net/cfs1Ljz5/

Navigate to the `Open Dialog (Error)` button and activate it to reveal the dialog and programmatically move focus to the modals close button.

The dialog has a `role="dialog"` and accessible name indicated by an aria-labelledby pointing to the h2 within the dialog.

### Actual behavior:
When showing

[2019-06-08 08:21] Brian1Gaff commented on #9684
Today I completely reinstalled all the snapshots and the problem seems to be gone. So it could well be something that was not being removed from a previous snapshot causing these issues. Of course strange things still do occur in Thresold but I suppose that is to be expected.
 It would be interesting to see if anyone else has the issue and if they do, I'd suggest a clear out and reinstall and see

[2019-06-08 08:21] #9684 closed

[2019-06-08 08:51] elliott94 opened #9696 "Skype for Business 2016: Error each Time a new Message is Sent"
Tested on Windows 10 1803 X64 with the latest NVDA snapshot (alpha-17533,549a6aaa).

Upon updating to the latest build of Skype for Business 2016 (16.0.4861.1000), an error is output in NVDA's log - see below. This same error is also sometimes generated when navingating around the main window of an open conversation - this error did not occur with previous builds of the client.

error executing ev

[2019-06-08 08:53] leonardder commented on #8819
I've started with an attempt to update the Papenmeier driver to support braille display auto detection. However, the current driver can be considered the most complex driver in core and is coded in a very non object oriented way. Therefore, I don't dare to touch the driver without official protocol documentation from the manufacturer.

As it might take some time to get this documentation and it al

[2019-06-08 08:55] leonardder commented on #7587
I've started with an attempt to update the Papenmeier driver to support braille display auto detection. However, the current driver can be considered the most complex driver in core and is coded in a very non object oriented way. Therefore, I don't dare to touch the driver without official protocol documentation from the manufacturer.

@Adriani90: Do you think you could be of any assistance for th

[2019-06-08 17:21] xtstoll commented on #7717
I was able to test here with Focus 40 Blue and NVDA 2019.1.1 on Windows 10. This seems to be resolved! Numbers and capital letters are working properly now.

There is another issue with Portuguese characters on the Focus 40 Blue with NVDA, which I have also reported here for the Braille Me:
https://github.com/nvaccess/nvda/issues/9665#issuecomment-498445296

[2019-06-08 17:21] #7717 closed

[2019-06-09 00:45] btman16 commented on #9669
Hello,

Is it possible I could get the number that this one duplicates by
chance please? I was thinking that any follow up and discussion could
be done on that one instead. This is a pretty big issue for me so
that's why I'm following up.

Sincerely,

Brandon Tyson

On 6/5/19, Joseph Lee <notifications@github.com> wrote:

--
“Be what you are. This is the first step towards becoming better than you

[2019-06-09 03:18] DrSooom commented on #9669
Duplicate of issue #9356

[2019-06-09 04:23] DrSooom commented on #9680
CC: @jcsteh

[2019-06-09 04:37] DrSooom commented on #9681
@elliott94:
1. Which synthesizer are you using?
2. And please report the current used symbol level and the configuration for the two brackets in the Punctuation/Symbol Pronunciation Dialog as well.
3. And please report each cursor positions after pressing CTRL+ArrowRight. In Microsoft Word 2010 (quick test with NVDA 2018.1) the cursor jumps as follows: a ( t ) w

[2019-06-09 04:40] DrSooom commented on #9682
What happens if you press NVDA+F2 before performing the touch gesture?

[2019-06-09 04:51] DrSooom commented on #9683
@Maetz007: Could you please try to reproduce this with [NVDA 2019.2 Beta build 17522](https://ci.appveyor.com/api/buildjobs/pksyej8s246fbl6g/artifacts/output/nvda_snapshot_beta-17522,a7bdcaea.exe) (newer than Beta 1) as well? Just run the Installer (temporary copy of NVDA). You don't have to install this Beta version on your system.
CC: @michaelDCurran

[2019-06-09 05:41] DrSooom commented on #9686
I suggest a new submenu called "Restart", which is located above "Exit" – if you don't want to change quite a lot of things.

In addition we can also allocate the following commands:
- NVDA+Q: Exit NVDA or show the Exit Dialog
- NVDA+Shift+Q: Restart NVDA with disabled add-ons
- NVDA+CTRL+Q: Show the Exit Dialog
- NVDA+CTRL+Shift+Q: Restart NVDA with debug logging level

Well, we could also replac

[2019-06-09 06:11] DrSooom commented on #9688
Customized gestures are stored in the file "gestures.ini". This behavior exists since NVDA 2013.3, in which this function was added to NVDA.

In addition: What's about the behavior for add-on settings? As not all add-ons are able to save their configuration into the file "nvda.ini", the behavior here is also inconsistent.

[2019-06-09 06:34] DrSooom commented on #9695
The latest Google Chrome version is 75.0.3770.80 (released on June 4, 2019).