[2017-10-24 03:32] feerrenrut commented on #7688
One option to address this might be for the launcher to run NVDA with `securemode` stopping NVDA from having write access to the users config directory.

[2017-10-24 05:19] leonardder commented on #6245
I can also reproduce a significant slow down of NVDA when opening the Task Manager under both Fall Creators update systems. That is, it takes a lot of time before NVDA is successfully able to navigate the task manager, and even then, performance is not ideal.

[2017-10-24 05:19] #5774 closed

[2017-10-24 05:21] leonardder commented on #7686
Though it is quite an unusual and unsupported way to destroy an add-on this way, it is indeed quite drastic and probably not very difficult to fix. I'd suggest a p3.

[2017-10-24 05:25] leonardder commented on #7682
Could you please re-enable the "Use NVDA on the Windows logon screen (requires administrator privileges)" setting in the general settings? And, with re-enable, I mean disabling it, pressing ok, reopening the dialog and enabling again. Curious if the problem still persists after that. This problem doesn't sound familiar to me, even though I'm using two systems with this build.
cc @JosephSL

[2017-10-24 05:27] leonardder commented on #7681
This code is identical to the restart code used for restarting an installed version after an update. Could you try updating a portable copy by running the copy that initiates the update with add-ons disabled?

[2017-10-24 05:30] leonardder commented on #7678
@munawarb: Could you please file an issue against liblouis at http://github.com/liblouis/liblouis/issues/. Please mention this ticket while doing it. You can do that by using ```nvaccess/nvda#7678``` when referring.

[2017-10-24 05:30] leonardder commented on #7678
I give this the external fix label, unless it turns out to be NVDA's fault.

[2017-10-24 05:31] leonardder commented on #4776
[**@dkager**](https://github.com/dkager) commented on [21 okt. 2017 18:53 CEST](https://github.com/nvaccess/nvda/issues/4776#issuecomment-338416394 "2017-10-21T16:53:56Z - Replied by Github Reply Comments"):

I hope you had a great Monday while testing this ;)

[2017-10-24 07:25] josephsl commented on #7686
Hi, either we can use a try/except test and ignore the add-on, or let the add-on user know about this fact. This also means future add-on update will not work either. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, October 23, 2017 10:22 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Core:

[2017-10-24 08:13] craigbrett17 commented on #7669
Seems related to: #3671

If WindowEyes runs as admin, how does it then read things that are run as a standard user? If NVDA could run as admin but still manage to read things on the standard user, I'd say that's an acceptable work around. But that doesn't seem to be the case right now.

The way things stand, I have to flick between an administrative NVDA and a standard one, depending on what I wan

[2017-10-24 08:53] Brian1Gaff commented on #7681
Already did this, and its hit and miss, however strangely this also seemed
to make the install restart also flakey.

This morning, and both booted up again OK.
 As I say its very peculiar.
 You saw the log file, so it may well be something not being released by
windows 7.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Bri

[2017-10-24 09:04] dkager commented on #4776
I cheated and tested this on a foggy Tuesday morning, as the leaves turned yellow then orange then red and began to fall in great cascades mourning summer. I ate bacon from one hand and deftly played a beautiful lute with the other. And it works now with the new braille input code.

[2017-10-24 09:04] #4776 closed

[2017-10-24 10:26] fernando-jose-silva commented on #7682
Thank you for checking and ripped.

Enviado do meu iPhone

Em 24 de out de 2017, à(s) 03:25, Leonard de Ruijter <notifications@github.com> escreveu:

[2017-10-24 10:34] fernando-jose-silva commented on #6245
Yes, still experimental slowness when using Task Manager, thank you.

Enviado do meu iPhone

Em 24 de out de 2017, à(s) 03:19, Leonard de Ruijter <notifications@github.com> escreveu:

[2017-10-24 12:34] Brian1Gaff commented on #7682
No but I have found on at least one machine that windows is slow to enable
sound in any way shape or form making one think its sluggish. I've seen it
on 7 and 10.
 I now don't bother with a log in, but when I did the only fix was to use
that old program that compressed the registry files that we used to use on
XP.
 Something to do with the way things load at start up perhaps?
 Just a thought.

Bri

[2017-10-24 12:36] Brian1Gaff commented on #7686
What about the old dodge of putting a home made app module manually in to
see if it fixes a problem with a program?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Joseph Lee" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>

[2017-10-24 14:04] Brian1Gaff commented on #7681
In addition to my last here are the logs good and bad. Sadly no indication
other than a truncated log.

OK so even if it does reboot successfully its awfully close to failing.

IO - tones.beep (13:59:17.760):
Beep at pitch 1760, for 40 ms, left volume 50, right volume 50
IO - speech.speak (13:59:17.841):
Speaking [LangChangeCommand ('en_GB'), u'Success  dialog  Successfully
created a portable copy

[2017-10-24 18:42] elliott94 commented on #7686
This actually occurred after removing an add-on via the Add-Ons Manager, but for whatever reason the main directory wasn't removed at which point I received the error detailed in the issue description.

[2017-10-25 02:42] vgjh2005 commented on #7653
Hi:
I think you should use edge to test this issue. Because this issue is occured at microsoft edge. My way to sure document  include headers info is pressing arror keys. NVDA will tell me headers level info. But can't jump to it by pressing H key.

[2017-10-25 02:47] Gucalle opened #7691 "LoadLibrary failed for ISimpleDOM.dll"
I'm not sure what happened exactly.  Webroot Secure Anywhere detected something in NVDA as adware, and before i had time to try to get it to ignore the problem, it did an autoscan and removal of something.

Now, whenever I open NVDA, or it interacts with a newly open program, I get a system error sound, as well as sometimes requiring me to alt+tab in and back out of the program to get it to intera

[2017-10-25 06:14] feerrenrut opened #7692 "Wx assertion on welcome screen"
### Steps to reproduce:
1. Start nvda with debug logging
1. Open the Welcome dialog (you can do this through `NVDA+n`,`h`,`l`)

### Expected behavior:
No exception in the log.

### Actual behavior:
The following exception in the log:
[code]

The key line is:
[code]

### System configuration:
NVDA version:
Recent dev build, just prior to 2017.4

[2017-10-25 06:18] josephsl commented on #7692
Hi, taken care of as part of #7077. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Tuesday, October 24, 2017 11:14 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Wx assertion on welcome screen (#7692)

Steps to reproduce:

1.	Start nvda with debug logging
2.	Open the Welcome dialog (you can do this through

[2017-10-25 06:24] feerrenrut commented on #7653
Sorry, I wasn't very clear.

With the PDF supplied on this issue (2017H1.zip) I could:
* Not jump to headers in Acrobat reader
* Not jump to headers in Edge

With another PDF on my system I could:
* jump to headers in Acrobat reader
* Not jump to headers in Edge

[2017-10-25 06:29] feerrenrut commented on #7692
Thanks @josephsl, I would be happy for this bug to be fixed independently. This makes it even easier though!
See https://github.com/nvaccess/nvda/pull/7104/files#diff-9140a5f85417543d5f030fb3402465b9R591
Relevant change:
[code]

[2017-10-25 07:54] Brian1Gaff commented on #7691
When I saw this last night, I assumed it was due to the too many tests of
installing to prove the new update worked. I ended up completely rebooting
the system then installing from a known working portable version.

Brian
Note it was a little awkward if you left it running as some bits of nvda
then had no typing in feedback.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal em

[2017-10-25 08:01] Brian1Gaff commented on #7681
Hi this mornings update to next just would not auto run on an update to an
installed copy till I did a windows restart. However it was able to be run
from my batch file and showed the correct snapshot number had been
installed. Once again the log error was written in the nvda folder that day.
 Interestingly, I observed that if the update takes a bit longer, ie due to
the new code trying to, and no

[2017-10-25 09:46] feerrenrut commented on #7657
A more minimal example (paste into the address bar of chrome or firefox):
[code]

I can reproduce this issue, with: NVDA Version: `next-14544,66b351c7` and Chrome version `61.0.3163.100`. Accessibility Viewer does not show the label at all when the dropdown has focus.

In Firefox `56.0.1` the label is reported. Accessibility Viewer shows the label in the MSAA:accName and IAccessible2:Name fields.

[2017-10-25 11:06] feerrenrut commented on #6080
I had a look at the attachment, while I can see that the problem is some text is displayed in speech viewer that was not heard by the user, there is nothing to go on as to why this might be the case. The URL does not look like something open to the public. Again, I would request an example web site that we can play with, a log file with debug level logging would also be handy.

[2017-10-25 12:03] feerrenrut commented on #7686
I agree with P3. One thing that is probably worth thinking about, is how resolving this will impact an add-on developer. One thing that is good about the current behaviour, is that it's clear that there is a problem.

[2017-10-25 12:50] fernando-jose-silva commented on #7682
I unchecked and re-marked the beginning of nvda in the login window, and now nvda takes about 12 seconds to talk.
Thank you very much.

[2017-10-25 14:11] leonardder commented on #7459
It turns out that the handles created by the ftdi2 module are ftdi2 specific (i.e. they don't support generic (async) read/write operations). This will make hwIo support for these a bit more complicated.

[2017-10-25 14:17] leonardder commented on #7459
It turns out that the handles created by the ftdi2 module are ftdi2 specific (i.e. they don't support generic (async) read/write operations). This will make hwIo support for these a bit more complicated if not impossible.

I actually tested this with a Baum Vario Pro, which supports both the Ftdi2 module and has a generic serial port. Hopefully the latter is also the case with the sync braille.

[2017-10-25 14:48] josephsl commented on #7692
Hi, there are other host of issues fixed as part of wxPy4 work. All that’s needed are official version of wxPython 4, fixing wx.Yield problem and widest possible testing phase. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Tuesday, October 24, 2017 11:30 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.c

[2017-10-25 16:16] BueVest opened #7693 "Urgent: Please add option to enable multi-pass mode for Liblouis under settings/Braille"
Currently, NVDA uses Liblouis in pass_1_only mode, presumably to ensure correct cursor positions. However, this seriously messes up Braille with all Liblouis tables that use multi-pass opcodes, such as Danish, Polish and probably other tables as well. se #7526 and #7301.

With the above option, the user could (at his or her own risk) enable multi-pass mode, until you feel it is safe to do this gen

[2017-10-25 17:06] leonardder commented on #7693
I'm closing this in favour of #7301, which contains more discussion. Nevertheless, I like the idea to make this an option, though I think it shouldn't be GUI configurable as it will cause confusion for end users who don't know what multi pass is supposed to be. Note that this is liblouis specific terminology.

[2017-10-25 17:06] #7693 closed

[2017-10-25 17:09] leonardder commented on #7301
@BueVest suggested to make this a GUI configurable option. Although I disagree with the idea to make this GUI configurable, I belief it should be considered to make this a hidden option. This will allow us and liblouis folks to test possible brokenness in liblouis using NVDA.

Thoughts @michaeldcurran, @dkager, @jcsteh, @josephsl and others?

[2017-10-25 18:02] andersbp opened #7694 "NVDA can not read the information in "Turn Windows features on/off" if they is installed on an USB-key"
### Steps to reproduce:
1. Install the latest version of NVDA on an USB-key, where you install NVDA as a portable version
2. After that, run NVDA from the USB-key
3. Press on the Windows-key, so the start menu open in Windows
4. Write programs and features, and find the option "Programs and features" via the arrow keys
5. Pres enter to open "Programs and features"
6. Now, use the tabulator-key to

[2017-10-25 18:26] josephsl commented on #7301
Hi, I’d say a private function or a config key should be provided for this and others, and let this be a volatile key (reset when NVDA restarts). Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Wednesday, October 25, 2017 10:09 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvac

[2017-10-25 18:29] leonardder commented on #7301
[**@josephsl**](https://github.com/josephsl) commented on [25 Oct 2017, 20:26 CEST](https://github.com/nvaccess/nvda/issues/7301#issuecomment-339425332 "2017-10-25T18:26:15Z - Replied by Github Reply Comments"):

Tend to disagree with this. Though an option in the gui is too much, this won't be a proper solution for people like @BueVest.

[2017-10-25 18:29] leonardder commented on #7526
@BueVest: Do I understand you correctly that you belief this is caused by pass1only (so multi pass being disabled)?

[2017-10-25 18:31] leonardder commented on #7694
From the readme:

Closing as can't fix.

[2017-10-25 18:31] #7694 closed

[2017-10-25 18:33] #7616 closed

[2017-10-25 18:33] #7639 closed

[2017-10-25 18:58] leonardder commented on #7538
Heavyliy inspired as I am by the JAWS 2018 what's new, I belief we should create these quick navigation commands in any case. We can leave them unbound by default until we come up with a suitable default assignment.

[2017-10-25 19:00] LeonarddeR opened #7695 "Menu and menu item quick navigation keys"
I'm forwarding a suggestion from a @babbagecom customer, who would like to have quick navigation possibilities for either menus, menu items or both. I'd like to suggest the following possibilities:

* Treat menu's as lists and menu items as list items.
* Add separate menu and menu item quick navigation commands, and leave them unbound by default, similar to what I suggested in #7538

[2017-10-25 19:25] michaelDCurran opened #7696 "NVDA install fails when Windows 10's Controlled Folder Access is enabled"
### Steps to reproduce:
In windows 10 Fall Creaters update:
* Enable Controlled Folder Access in windows Defender (Virus and Threat Protection -> Virus and Threat Protection Settings -> Controlled Folder Access).
* Install NVDA either by downloading and running the launcher, or via NVDA's update feature.
* If installing from the launcher, ensure that the "create desktop shortcut" checkbox is check

[2017-10-25 20:50] BueVest commented on #7526
Yes, absolutely. The cause has already been described in this thread, which has apparently also been closed by the way.

Also, this is in accordance with what happens when I turn this option on in the tests. More and more tables depend on multi-pass opcodes. For Danish, 8 dots grade 2 and 6 dots grade 1 and to are messed up.

[2017-10-25 20:53] BueVest commented on #7301
Tend to disagree with this. Though an option in the gui is too much, this won't be a proper solution for people like  <https://github.com/buevest> @BueVest.

Agree. A volatile key will still leave Braille unusable to Danish and Polish users, possibly others.

Fra: Leonard de Ruijter [mailto:notifications@github.com]
Sendt: 25. oktober 2017 20:29
Til: nvaccess/nvda <nvda@noreply.github.com>
Cc: Bue

[2017-10-25 20:57] zstanecic commented on #7301
How about adding multipass in the options and making it documented with the description for the normal user?
Maybe it messes up the imput for the polish grade one table?

Od: BueVest
Wysłano: środa, 25 października 2017 22:53
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] Disable pass1only for liblouis braille output(#7301)

Tend to disagree with this. Though an option in the gui is t

[2017-10-25 21:01] josephsl commented on #7301
Hi, or we should have a snapshot series with this option added for testing purposes. We should document this if and only if testing says it can be done safely, as this is mostly an internal change. Thanks.

From: zstanecic [mailto:notifications@github.com]
Sent: Wednesday, October 25, 2017 1:58 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <ment

[2017-10-25 21:07] zstanecic commented on #7301
Hi,
If you can do it, do it, i am not against it.
It will help us, to see, wich tables can be used with multipass.
Maybe this will fix some ueb errors

Od: Joseph Lee
Wysłano: środa, 25 października 2017 23:01
Do: nvaccess/nvda
DW: zstanecic; Comment
Temat: Re: [nvaccess/nvda] Disable pass1only for liblouis braille output(#7301)

Hi, or we should have a snapshot series with this option added for t

[2017-10-26 00:54] mjanusauskas opened #7698 "Unable to assign people or labels in GitHub issue tracker"
### Steps to reproduce:
1. Open an issue in the GitHub issue tracker.
2. Press a to assign someone to the issue or l to apply a label.
3. Try using the arrow keys to make a selection or alternatively try typing the exact value and pressing Enter.

### Expected behavior:
The selected value should be spoken by NVDA when using the arrow keys, or according to GitHub support entering the exact value an

[2017-10-26 02:10] ehollig commented on #7698
The [Greasemonkey scripts to improve the accessibility of various websites by NvAccess](https://github.com/nvaccess/axSGrease) should help with assigning labels. Specifically, the [GitHub Accessibility Fixes](https://github.com/nvaccess/axSGrease/raw/master/GitHubA11yFixes.user.js). Leaving this open in case these edit fields are found in the wild and could be improved internally.

[2017-10-26 02:43] vgjh2005 commented on #7653
So, headers jumping in edge has been broken.

2017-10-25 14:24 GMT+08:00, Reef Turner <notifications@github.com>:

[2017-10-26 02:49] Qchristensen opened #7699 "LibreOffice Writer: Line numbers announced when navigating but not editing."
In LibreOffice 5.4.2.2 and NVDA 2017.3 (also Next 14541) when Line numbers are enabled in NVDA's document formatting, they are only read aloud when navigating (eg using up and down arrows), not when typing (eg pressing enter to move to a new line).

In Braille, each line is denoted with the number symbol and line number before the text on each line when navigating, as expected.  When ENTER is pres

[2017-10-26 02:56] Gucalle commented on #7691
Ah, so I should try to use someone else's computer for a bit and make a portable copy there, completely wipe NVDA from this one, and see if the portable copy works on here, and install from there?  Well thanks for that bit of info, I'll go try it out tomorrow.

     The other thing I could also look into is trying to restore whatever WSA took out and see if that works.  Granted, given how annoying

[2017-10-26 02:57] Gucalle commented on #7691
Ah, so I should try to use someone else's computer for a bit and make a portable copy there, completely wipe NVDA from this one, and see if the portable copy works on here, and install from there?  Well thanks for that bit of info, I'll go try it out tomorrow.

     The other thing I could also look into is trying to restore whatever WSA took out and see if that works.  Granted, given how annoying

[2017-10-26 02:58] Gucalle commented on #7691
Ah, so I should try to use someone else's computer for a bit and make a portable copy there, completely wipe NVDA from this one, and see if the portable copy works on here, and install from there?  Well thanks for that bit of info, I'll go try it out tomorrow.

     The other thing I could also look into is trying to restore whatever WSA took out and see if that works.  Granted, given how annoying

[2017-10-26 02:59] josephsl commented on #7691
Hi, one important thing you need to do: if WSA panics again, do let WSA developers know as soon as possible. We had similar hiccups like this with several AV vendors a while back. Thanks.

From: Gucalle [mailto:notifications@github.com]
Sent: Wednesday, October 25, 2017 7:58 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] L

[2017-10-26 03:23] Qchristensen opened #7700 "LibreOffice Writer: Comments not indicated or reported in Writer"
Comments in LibreOffice writer work similar to the way they work in Word.  Press control+alt+c to add a comment, type the comment, then press escape to return to the document.  Press control+alt+page up or control+alt+page down to move between comments.

Using NVDA 2017.3 and LibreOffice 5.4.2.2 (x64), NVDA does not indicate comments when reading or navigating.  If right arrow is pressed to move t

[2017-10-26 04:00] Qchristensen opened #7701 "LibreOffice Writer: Border style not reported"
In LibreOffice 5.4.2.2 (x64) using NVDA 2017.3:

Press alt+o then P to open page options
or
Press alt+o then A to open paragraph options

then press control+tab to move to the borders page of the dialog.
Next, press tab to move to "Line, Style".  This drop down list has options for the type of line used for the border (solid, dotted, dashed, double lines, etc).  These styles are not reported, simp

[2017-10-26 04:23] Qchristensen opened #7703 "LibreOffice & OpenOffice Impress: No information reported when running slideshow"
In LibreOffice Impress, v 5.4.2.2 (x64) or Apache OpenOffice 4.1.4, using NVDA 2017.3.  Open a slideshow, then press F5 to run.  NVDA reports: "root pane unknown FILENAME - LibreOffice Presentation  document  editable" (where FILENAME is the name of the file).

The contents of the first slide are not read, and using arrows, enter, space etc only results in the key pressed being read out (if speak

[2017-10-26 05:10] leonardder commented on #7698
What issue tracker are you using for this?

[2017-10-26 05:34] leonardder commented on #7301
[**@josephsl**](https://github.com/josephsl) commented on [25 okt. 2017 23:01 CEST](https://github.com/nvaccess/nvda/issues/7301#issuecomment-339470060 "2017-10-25T21:01:07Z - Replied by Github Reply Comments"):

Not intending to be headstrong, but I also tend to disagree with this one:

1. There are currently people suffering from our use of pass1only, see #7526. Having a snapshot series requires

[2017-10-26 06:04] dkager commented on #7301
I'm not even sure why `pass1Only` is a flag. What point is there in half a translation, other than working around bugs in the translator? No table I have seen so far properly "falls back" to not using multi-pass if it is disabled. So ideally, whatever is broken in liblouis should be fixed (yes, I know that's an unpopular task) and the evil flag should be removed.

[2017-10-26 06:37] zstanecic commented on #7301
Yes, i agree with you, as the multipass is implemented also in jaws on braille imput, and it works bettter with the unicode tables

Od: Leonard de Ruijter
Wysłano: czwartek, 26 października 2017 07:35
Do: nvaccess/nvda
DW: zstanecic; Mention
Temat: Re: [nvaccess/nvda] Disable pass1only for liblouis braille output(#7301)

@josephsl commented on 25 okt. 2017 23:01 CEST:
Hi, or we should have a snaps

[2017-10-26 07:17] BueVest commented on #7301
I have thought along the same lines. No tables can handle a fall-back to pass 1 only because there is currently no way that a table could detect that the flag is being used. Also, enabling a feature using pass 1 only may require quite a different approach than using multi-pass, so handling a fall-back properly may be rather difficult if not downright impossible.

Personally, I think this flag shou

[2017-10-26 07:49] leonardder commented on #7301
@Jcsteh: Would you be able to give your view on the last few comments? I belief you were a strong advocate of using pass1only.

@michaeldcurran: Given the concerns below, I belief it might be good to merge #7702 into master before the 2017.4 release, to at least give people switching capabilities inside a release version. After that, we could considering making multipass the default for next.

Not

[2017-10-26 09:23] michaelDCurran commented on #7301
I don't have a problem with getting this into Master for 2017.4, as by
default the behavior has not changed, and the user has to take explicit
action to get the new behavior.

[2017-10-26 18:07] francipvb opened #7704 "NVDA breaks Excel randomly when editing"
### Steps to reproduce:
I really don't know how to reproduce this, but Excel keeps hanging after some editing.

Sometimes it happens when pressing enter after editing a cell.

Sorry for the too basic information ...

### Expected behavior:
Just edit without problems and without a broken session after using excel ...

### Actual behavior:
After editing a sheet ten minutes it starts hanging and the

[2017-10-26 18:09] francipvb commented on #7704
Can be solved by solving #7409 or it is unrelated to this?

[2017-10-26 21:33] mcsedmak opened #7705 "nvda2017.3 fails to read emails with tables in outlook 2013 2013 under windows 7"
### Steps to reproduce:
1. Open outlook 2013 in windows 7 while running nvda2017.3
2. In the list of emails, select an html email with a table including links and press return to open the email for viewing
3. Attempt to navigate by using "k" to jump to the next link

I have not narrowed this down to happen with all emails that include tables.  However almost every email sent from the Jira bug syst

[2017-10-26 23:41] dineshkaushal commented on #7705
Possible duplicate of #7196

[2017-10-27 02:13] mjanusauskas commented on #7698
The built-in issue tracker in GitHub. Navigate to a GitHub repository and click on the issues tab.

[2017-10-27 06:22] leonardder commented on #7698
Sorry, I should have formulated my question more clearly. I actually meant to ask whether you had a specific repository in mind. Just to make sure, for the NVDA repository, only people with collaborator access have the ability to assign people to issues or apply labels.

[2017-10-27 13:36] ehollig commented on #7705
Closing as duplicate of #6827

[2017-10-27 13:36] #7705 closed

[2017-10-27 15:49] adlevision commented on #7348
Has this issue been documented for other Office applications?  I've wondered for years why NVDA goes incredibly slow when attempting to type/edit comments in MS Word 2016 (possibly 2013 as well).  Sounds like it may be the same issue?  There is a 2-second delay for each arrow keypress.  I think that many folks who use Word are forced to do so because we work collaboratively in some way, and that g

[2017-10-27 16:13] JLastort commented on #3321
I found a workaround. You can indicate to NVDA that it should go into forms mode by wrapping the fieldset in a div.

<div role="form" aria-label="Type of Service">
<fieldset>
....
</div>

[2017-10-27 16:23] xtstoll opened #7706 "Commands with modifier keys don't work with Focus Blue braille displays"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version: 2017.3 (Brazilian Portuguese)
NVDA Installed or portable: installed
Windows version: 10
Braille display: Focus 80 Blue and Focus 40 Blue
Focus Blue driver: version 1.0.2030

Does the issue still occur after restarting your PC? Yes
Have you tried any other versions of NVDA? Yes, 2018.rc1 (

[2017-10-28 02:52] mjanusauskas commented on #7698
I am using a private GitHub repository at my workplace for which I have full write access.

[2017-10-28 03:02] dnz3d4c opened #7707 "locale / ko/LC_MESSAGES: wxstd.mo not included"
There is no wxstd.mo file in locale / ko/LC_MESSAGES directory. This causes an untranslated string to be present in the voice setting dialog (OK, Cancel button)

Thanks

[2017-10-28 04:14] josephsl commented on #7707
Hi, that’s because there were no changes made to the po file in a very long time. Will see if wxPy4 includes a fix, and if so, this issue will be closed once #7077 is closed. Thanks.

From: dnz3d4c [mailto:notifications@github.com]
Sent: Friday, October 27, 2017 8:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] locale / ko/L

[2017-10-28 04:54] dnz3d4c commented on #7707
Thanks

[2017-10-28 07:41] dineshkaushal opened #7708 "Layout Tables are not being ignored in Microsoft Edge"
### Steps to reproduce:

1. Open Microsoft Edge
2. Browse to http://developer-guide.access4all.ch/en/examples/hide_empty_table_cells_in_layout_tables.html
3. Navigate till you observe that there are tables, but they not data tables.

This page was created by @jmuheim for issue #5391, but we could use for our purpose as well.

### Expected behavior:
These tables should be ignored as they are being

[2017-10-28 11:03] gdata1 commented on #7612
Hello. I sent feedback to NS to give someone a problem.
https://aka.ms/Obqhyj

[2017-10-28 11:56] pitermach opened #7709 "NVDA snapshots cause Foobar to crash when playing tracks from the playlist list box"
### Steps to reproduce:

1. Open Foobar 2000
2. Open a few files to make a playlist.
3. You might see foobar crash immediately. If  not, tab to the playlist list, and  press enter on tracks to play them. The crash will then occur sooner or later.

## Expected behavior:
No crashes

### Actual behavior:
Foobar 2000 crashes with the "Foobar 2000 has crashed" message. The issue is definitely NVDA rela

[2017-10-28 12:40] Brian1Gaff commented on #7709
Could it be something  that removing the nvda service might have caused?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-10-28 22:03] bergmeister commented on #7314
I have the same error as @sudheesh001  when trying to compile on a new VM with only VS 2017 on it although I even installed the additional C++ build tools to have `cl.exe` on the PATH. On my other dev box with VS2015 and VS2017 it compiles fine so there must still be some VS2015 dependency.

[2017-10-29 08:51] Brian1Gaff opened #7710 "Add a warning about Firefox 57 and later to start screen of nvda"
Since we now are aware that this version of Firefox has serious slow down issues and the eventual aim is to no longer support screenreaders in the traditional way that most screenreaders expect for security reasons. I feel that the next version of nvda should carry a warning about the use of later versions of Firefox until the access issues have been sorted out. This should apply to updates and ne

[2017-10-29 08:51] nvdaes commented on #7155
After reporting the broken link, a person of the DAISY Consortium suggests me to look at epubtest.org and then go to Accessibility.
I can't find the VitalSource Bookshelf for desktop now. I'll evaluate it with NVDA, as I've told to this person. For now I will use the add-on posted on the website, now under development, when it becomes stable.

Cheers

[2017-10-29 11:39] dkager commented on #7710
I feel putting this on the welcome screen is a bit of a strong reaction, though I can definitely see why you would want this at the top of the release notes.

[2017-10-29 17:27] Brian1Gaff commented on #7710
One has to imagine you are a first installer though. I find that human kind,
me included seldom reads stuff, we tend to go in and play, and hence they
would need to definitely  look at your notes , but may not realise they are
even there.
 This is going to spread like wildfire as Jaws already has an article and
Dolphin are having issues as well, so I tend to feel, that although it may
seem  drasti

[2017-10-29 23:55] derekriemer commented on #7314
this now works for me actually

[2017-10-29 23:55] derekriemer commented on #7314
can you post your error?

[2017-10-30 00:04] bergmeister commented on #7314
@derekriemer Its exactly the same as your error. I am building on a fresh new Windows Server 2016 VM with VS 2017 only being installed. I ticked all C++ related options and even some backcompat options with VS2015.

[2017-10-30 02:57] derekriemer commented on #7314
@michaelDCurran

[2017-10-30 08:36] feerrenrut commented on #7653
Has this worked in the past? If so, do you know what versions of NVDA or Edge you were using? or when approximately it did work?

[2017-10-30 14:16] PratikP1 commented on #7661
Thank you for doublechecking. I uninstalled Kindle for PC, cleared all files in the library, and reinstalled. Now it works as expected with NVDA.

[2017-10-30 14:45] ehollig commented on #7661
Closing as worksforme, from above comment.

[2017-10-30 14:45] #7661 closed

[2017-10-30 16:02] leonardder commented on #7587
[**@jcsteh**](https://github.com/jcsteh) commented on [12 sep. 2017 08:27 CEST](https://github.com/nvaccess/nvda/issues/7587#issuecomment-328751409 "2017-09-12T06:27:56Z - Replied by Github Reply Comments"):

Probably, though as I reported in #7459, it isn't that trivial to add Ftdi2 to hwIo.

[2017-10-30 16:04] leonardder commented on #7488
There is a first driver to test in the @babbagecom eurobraille-native branch. I will probably be able to create a pr in one of next weeks.

[2017-10-30 16:26] zstanecic commented on #7488
Hi @leonardder,

can you give me the try build, as we have users in croatia, wich use the
esys displays?

W dniu 30.10.2017 o 17:04, Leonard de Ruijter pisze:

[2017-10-30 17:54] leonardder commented on #7488
I'm afraid this is not ready for that broad testing. May be later this week.

[2017-10-31 02:51] #7518 closed

[2017-10-31 03:06] #7692 closed

[2017-10-31 08:21] #6782 closed

[2017-10-31 09:11] feerrenrut commented on #7659
Could you please do the following, and attach the log file to this issue. See [this wiki article](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps) if you are unsure how to do this.
* Set your logging level to "Debug"
* Save config and restart NVDA
* Open NVDA preferences, OCR
* Try to recognise something with `NVDA+r`
* Attach the full log to this issue.

[2017-10-31 09:33] feerrenrut commented on #6115
@RD-Brown To ensure that we understand the use case, can you confirm which (if any) of the following correctly describe what you are concerned about:

- After an NVDA user has completed a secure test, we want to be able to limit the ability of the next computer user from viewing the answers.
- When a user of NVDA is completing a secure test we want to be able to limit their ability to copy the con

[2017-10-31 09:49] feerrenrut commented on #7032
I can reproduce this with a recent next build and Excel 2013.

Debug level log:  [Excel2013-KoreanInput.txt](https://github.com/nvaccess/nvda/files/1430215/Excel2013-KoreanInput.txt)

[2017-10-31 14:28] RD-Brown commented on #6115
- When a user of NVDA is completing a secure test we want to be able to
   limit their ability to copy the contents (EG questions / answers) of this
   test and sharing it with others.

[2017-10-31 19:35] leonardder commented on #7710
There is now an official statement in the last NVDA in process. Personally, I don't think the welcome screen should be used for warning people about the use of FF57.

[2017-10-31 19:37] leonardder commented on #3572
Closing as duplicate of #3564. @camlorn is right in https://github.com/nvaccess/nvda/issues/3572#issuecomment-155310194

[2017-10-31 19:37] #3572 closed

[2017-10-31 19:44] leonardder commented on #3868
@michaeldcurran: is this still something that should be concidered, and if so, how should such a thing be realised?

[2017-10-31 19:49] leonardder commented on #4555
I can't reproduce this with NVDA Next and a recent version of Notepad++. As I'm afraid we can't track down the original author of this issue, I will close this as works for me. Please get in touch if this is still a problem.

[2017-10-31 19:49] #4555 closed

[2017-10-31 19:51] leonardder commented on #7283
I think @feerrenrut is right here, so closing this as a duplicate of #4620.

[2017-10-31 19:51] #7283 closed

[2017-10-31 19:53] leonardder commented on #4772
@michaeldcurran: as you were the last who commented in this ticket, you might know the current status of this?

[2017-10-31 20:00] leonardder commented on #5226
Closing this as invalid because we can't reach the initial author of this ticket any more. Furthermore, the author didn't answer the question in https://github.com/nvaccess/nvda/issues/5226#issue-116051314 . Feel free to give a shout if this should still be concidered a problem.

[2017-10-31 20:00] #5226 closed

[2017-10-31 20:03] leonardder commented on #5433
@JCSTeh: Could you give a specific use case where this would be an useful change?

[2017-10-31 20:04] leonardder commented on #5688
@josephsl and @jcsteh: Any status updates here?

[2017-10-31 20:06] DGartmann opened #7713 "Can't activate Input Gestures Dialog with Focus40 Blue Braille Display"
### Steps to reproduce:

1. Go to nVDA by pressing NVDAKey+n and then choose Preferences
2. Activate the Input Gestures dialog from the Settings submenu.
3. A sound is heard and no dialog box opens. When you try to perform the same command or try to open another NVDA dialog box the error message "Another NVDA dialog ox is open" is shown and a restart of NVDA is necessary to be able to open a diffe

[2017-10-31 20:09] leonardder commented on #7713
Ugh, this is caused by #7517. Let me look into this later this week.

Do you by any chance have custom gestures for your Focus blue?

[2017-10-31 20:14] leonardder commented on #7713
Ah, this is actually not a bug in #7517, but a typo in the freedomscientific driver that has now been cached. Nevertheless, this ValueError should not stop the input gestures dialog from launching. I will create a pr either tomorrow or thursday.

[2017-10-31 21:22] ehollig commented on #686
@fernando-jose-silva, are you still experiencing this issue or can this issue be closed?

[2017-10-31 21:24] ehollig commented on #1710
@fernando-jose-silva, it sounds from https://github.com/nvaccess/nvda/issues/1710#issuecomment-322036706 that this issue is resolved from you. Is this the case, and if so, I think this issue can be closed as we have not had any reports of this for several years.

[2017-10-31 22:21] harsha9963 opened #7714 "Drop down announcing issue"
While navigating to the drop down box using "Tab" key. The reader is not able to announce the label or description of the box every time I navigate to it. The screen reader announces it sometimes and doesn't most of the times. But, The label or the description is getting printed on the screen viewer every time I navigate to the box.

[2017-10-31 22:40] ehollig commented on #7714
Could you provide an example where this is happening? Also, could you please provide exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead.

[2017-10-31 22:48] ehollig commented on #7651
Closing as worksforme. If this is still an issue after trying the solution in https://github.com/nvaccess/nvda/issues/7651#issuecomment-335843321, we can reopen this.

[2017-10-31 22:48] #7651 closed

[2017-10-31 23:16] fernando-jose-silva commented on #1710
Actually I still have this problem.
If I have any kind of nvda beeps enabled these crashes in the nvda speech occur.
In order for me to not try these locks, I need to disable all nvda beeps, such as on breadcrumbs, line indentation, and any locations with beeping options.

This only occurs on windows 7, on windows 10 on two other machines that use this does not occur.

[2017-10-31 23:23] fernando-jose-silva commented on #686
I still have this problem, I also reported in the 1710.
If the nvda is with any beeps the sound hangs, if you disable the beeps the sound works.
This occurs on windows 7 64bits, on machines with windows 10 no.

[2017-11-01 02:35] michaelDCurran commented on #4772
These apps have been totally redesigned since this issue was open. Closing as worksforme.

[2017-11-01 02:35] #4772 closed

[2017-11-01 02:40] michaelDCurran commented on #3868
I think we should still consider it in future. In short,  Something would need to run at windows logon which simply watched for a particular key press, and let all other keys through. Detecting this key press it would then start the full NVDA. I think we could add this functionality to nvda_eoaProxy.pyw

[2017-11-01 05:27] #7592 closed

[2017-11-01 05:27] #7688 closed

[2017-11-01 05:39] #7477 closed

[2017-11-01 05:41] feerrenrut commented on #5667
The change associated with issue has been reverted. Re-opening this issue. The change caused an error to be raised in some circumstances please see https://github.com/nvaccess/nvda/pull/5680#issuecomment-340877036 for further details.

[2017-11-01 10:32] feerrenrut commented on #7713
@leonardder Is there a workaround for those experiencing this?

[2017-11-01 10:37] feerrenrut commented on #6115
@RD-Brown are you suggesting that the other use-case is not relevant for this issue?

[2017-11-01 10:52] leonardder commented on #7713
Yes, the freedomScientific.py from #7716. :) I asked Mick to review, but
if you'd like to give it a shot, go ahead.

[2017-11-01 12:49] RD-Brown commented on #6115
Both use cases are valid.  The case I listed was our primary concern when
we initially filed this bug.

[2017-11-01 14:26] xtstoll opened #7717 "Input of Grade 1 Braille in Portuguese is not working on Focus Blue braille displays"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version: 2017.3
NVDA Installed or portable: installed

Other information:
Windows version: Windows 10.15063
Name and version of other software in use when reproducing the issue: Focus Blue 40 with Firmware 5.71

### Other questions:
Does the issue still occur after restarting your PC? Yes
Have you

[2017-11-01 14:32] escetic opened #7718 "Forms mode invoked when placed on table via Javascript"
Using NVDA and IE, Chrome and FF I'm able to arrow correctly through this table (code below), in other words move between the individual cells with ctrl-alt-arrow.

But if I press the link, it places focus within the table but puts us into forms mode (which I don't think is announced).  The user thus finds themselves in a data table but unable to move around with the usual ctl-alt-arrows, which I

[2017-11-01 14:38] zstanecic commented on #7717
@josephsl,

does it need an external fix from the portuguese braille table maintainer?

W dniu 01.11.2017 o 15:26, xtstoll pisze:

[2017-11-01 14:41] josephsl commented on #7717
Hi, based on data given, yes. In this case, the proper authority would be Liblouis people. Thanks.

From: zstanecic [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 7:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Input of Grade 1 Braille in Portuguese is not working

[2017-11-01 14:41] josephsl commented on #7717
BTW, please test with latest master snapshot (as a portable copy) and see if the issue isn’t present in 2017.4, otherwise let’s make a trip to Liblouis. Thanks.

From: zstanecic [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 7:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvacces

[2017-11-01 15:16] ruifontes commented on #7717
We are lloking to this error and others.
The corrected tables will be submited to LibLouis.

Rui

-----Mensagem Original-----
De: zstanecic
Data: 1 de novembro de 2017 14:38
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Input of Grade 1 Braille in Portuguese is not
working (#7717)

@josephsl,

does it need an external fix from the portuguese braille table maintainer?

W dniu 01.1

[2017-11-01 15:47] leonardder commented on #7717
Is there a liblouis issue to track for this?

[2017-11-01 15:51] leonardder commented on #7718
Could you test this with disabled nvda browse mode preferences > Automatic focus mode for focus changes?

[2017-11-01 16:14] Brian1Gaff commented on #686
I'm using Windows 7 pro with 64bit system and do not see this on inbuilt or
usb sound.

I do sometimes notice some  clipping of the end of some synths speech, but
its intermittent and hard to pin down. certainly not something to go mad
over.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name fi

[2017-11-01 16:20] Brian1Gaff commented on #7710
Why not?

 New users might not be able to just go to the web site. maybe we should
consider what many other bits of software do, ie display the read me first
file or a web page before you are allowed in. the latter of course might be
a catch 22 if the machine already has the offending version of Firefox on
it!

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-

[2017-11-01 17:01] leonardder commented on #6387
@derekriemer: Is this still reproducible? If so, could you explain why you think this is caused by NVDA and not by a bug in CK Editor, for example?

[2017-11-01 17:02] leonardder commented on #6356
@rpaquay: Would you be able to try this again with the most recent version of master, which requires VS2017 and uses the Windows 10 SDK?

[2017-11-01 17:03] leonardder commented on #6338
@feerrenrut: As you reported this issue, could you set a priority?

[2017-11-01 17:06] leonardder commented on #6344
@feerrenrut: I'd say a p4 is sufficient for this? Setting this as good for new dev

[2017-11-01 17:09] leonardder commented on #5779
Could we treat this as a duplicate of #1961?

[2017-11-01 17:11] leonardder commented on #6027
@@michaelDCurran: Could you provide a priority for this? It sounds quite serious, so I'd say at least a p3 or a p2?

[2017-11-01 17:19] leonardder commented on #5446
I'd say a p3 is ok for this, as this is causing problems for external contributions only? cc @jcsteh @michaeldcurran

[2017-11-01 21:25] michaelDCurran commented on #6027
Gave it a p2. More information for crashes is important.

[2017-11-01 21:27] michaelDCurran commented on #5446
Gave it a p3. Although serious when it happens,  the developer of the plugin would have surely noticed it when developing.

[2017-11-01 21:45] #7713 closed

[2017-11-01 23:23] derekriemer commented on #7710
Going for no in the welcome screen.
"Welcome to NVDA, hey this software doesn't work!" is not a good message to send.

[2017-11-02 00:08] derekriemer commented on #6387
Can't test. I don't have access to a drupal install now.

[2017-11-02 01:35] jcsteh commented on #5172
I'm seeing this with Realtek High Definition Audio on a Lenovo P51, even with enhancements disabled. The first sound played after audio has been closed incurs about a half second of lag when a headset is connected (not USB). Curiously, the lag is less (though still not instant) when using the laptop's speakers. This happens even if I exit NVDA and cause a Windows sound to play; e.g. by pressing ba

[2017-11-02 06:51] #5418 closed

[2017-11-02 06:51] #5806 closed

[2017-11-02 06:51] #7458 closed

[2017-11-02 08:04] BueVest commented on #7301
So, is it going to be merged in 2017.4?

Fra: Michael Curran [mailto:notifications@github.com]
Sendt: 26. oktober 2017 11:23
Til: nvaccess/nvda <nvda@noreply.github.com>
Cc: BueVest <bue@vester-andersen.dk>; Mention <mention@noreply.github.com>
Emne: Re: [nvaccess/nvda] Disable pass1only for liblouis braille output (#7301)

I don't have a problem with getting this into Master for 2017.4, as by
def

[2017-11-02 08:21] zstanecic commented on #7301
Quoting @dcurran
I don't have a problem with getting this into Master for 2017.4, as by
default the behavior has not changed, and the user has to take explicit
action to get the new behavior.

There is one problem.
Document in the user guide what multipass is, how this affect user, and
how this option works.
Put this in the advanced topic section of the user guide.
W dniu 02.11.2017 o 09:04, BueVe

[2017-11-02 09:24] Brian1Gaff commented on #7710
I don't think that was what was being suggested actually!
 I do feel here that as there is a lot of stuff about improvements on
Firefox in whats new, maybe that needs a little star to say firefox 55 or
earlier ( 56 having the fucus bug if the sidebar is open)
  Maybe then if Whats new is flagged folk might be able to see the issue.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please addre

[2017-11-02 09:45] Brian1Gaff commented on #5172
I don't understand what is going on here, as some cards chop at the end some
at the start, yet they all seem not to do this on normal windows sounds.
 the thing I notice though is that most modern machines have some kind of
semi intelligent system monitoring the sockets and identifying what is
plugged in and also quite often if you monitor inputs on these machines the
latency between the input and

[2017-11-02 16:06] Techieegirl opened #7720 "NVDA with IE & FF not reading the product name."
We are using NVDA + IE 11 on the website and the Product name (clickable link) is not recognizing correctly. Instead of saying "Product name" NVDA is announcing "grouping". We feel its a known issue. Reference to the known issue :- https://dequeuniversity.com/testsuite/aria/aria-label-aria-labelledby/results/

NVDA + FF have same kind of issues but instead of saying the Product name, NVDA announce

[2017-11-02 16:12] leonardder opened #7721 "Native braille display drivers: provide a generic way to handle acknowledgement packets."
### Issue summary
For several braille displays, when sending a packet, the display acknowledges the receipt of a packet. This is a mechanism to make sure that a packet has been delivered to a braille display in a correct way. Several displays have such a feature, including Handy Tech, Eurobraille and Freedom Scientific displays.

### Proposal
Since there are multiple drivers with the need of prope

[2017-11-02 17:14] dave090679 opened #7722 "foobar 2000 crashes when skipping tracks in playlists"
Hi guys,

When I skip between the tracks in a playlist, foobar2000 crashes and it's asking me to send a crash dump.

### Steps to reproduce:
1. load a m3u playlist or add a folder to an empty playlist.
2. play the first track of the list.
3A. skip between the tracks using the multimedia keys of your keyboard.
3B. select a random track of the playlist.

### Expected behavior:
every track should be

[2017-11-02 17:43] Brian1Gaff commented on #7722
Is this perhaps the same issue as in another ticket of it crashing on a
playlist track 79 if played or randomly sometimes?
 I've yet to get it to happen here but my playlists are much shorter than
the apparent critical length in the other ticket.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display na

[2017-11-02 17:56] bergmeister commented on #7314
I tried today on a physical Windows 10 box and had no errors. Maybe it was a problem of the OS (Windows Server 2016) or it being a VM in Azure. I would normally think it could be the former but given that the AppVeyor image [Visual Studio 2017](https://www.appveyor.com/docs/build-environment/#operating-system) that you use is running on WinServer 2016 it might be the latter...

[2017-11-02 23:01] smokymcbear opened #7723 "NVDA is skipping focus for menu items when using up and down cursor"
### Steps to reproduce:
 Firefox 56.0.2 (32-bit)
 Windows 10 64-bit

 `<Button onKeydown={(event) => {console.log("onKeydown works!")}} />`
 The above console.log isn't outputting at all when skipping through the menu items. The Screen reader also seems to read the menu items it has skipped too.
 Navigating the menu with cursors at a fast speed will force the screen reader to not skip focus howeve

[2017-11-02 23:34] tspivey commented on #7709
git bisect output, from master:
    58e1946e415b8ffcea836b953310696e1d452b3c is the first bad commit

[2017-11-02 23:50] RichCaloggero commented on #7718
I tried this code with latest NVDA 2017.3.

With "automatic focus mode for focus changes" enabled, the "entering focus mode" sound is indeed played; when you turn it off, the sound is not played. In both cases, focus mode (forms mode) is turned on. I agree with the poster: this seems unexpected.

If you instead set focus to a cell inside the `tbody` tag, forms mode is _not_ entered when "automatic

[2017-11-03 00:10] ehollig commented on #7664
@josephsl, as docs17.4 or #7662 is now merged, can this be safely closed?

[2017-11-03 00:13] josephsl commented on #7664
Hi, yes, go ahead. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Thursday, November 2, 2017 5:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Possibly Remove the UI Automation only supported in Windows 7 and later Statement from the User Guide (#7664)

@josephsl <

[2017-11-03 00:13] ehollig commented on #7604
I think this is a limitation of the synthesizer. Which synth are you using? CC @feerrenrut

[2017-11-03 00:20] ehollig commented on #7664
Closing as fixed by #7662

[2017-11-03 00:20] #7664 closed

[2017-11-03 04:35] jcsteh commented on #7721
Conceptually, this sounds reasonable to me. A couple of clarifications:

1. You suggest that both the executor and _handleAck should "queue the
executor APC to the background thread". These functions (the executor and
_handleAck) will be running in the background thread, right? So we're
actually queuing to the same thread we're in. There's no problem with that;
I just want to be super clear.
2. I

[2017-11-03 05:59] leonardder commented on #7721
[**@jcsteh**](https://github.com/jcsteh) commented on [3 Nov 2017, 05:35 CET](https://github.com/nvaccess/nvda/issues/7721#issuecomment-341621086 "2017-11-03T04:35:38Z - Replied by Github Reply Comments"):

That is true, but I was a bit reluctant to call a PAPCFUNC like a regular python function, so that's why I decided to queue here.

That is true, I will do that.

[2017-11-03 06:53] pratham2003 commented on #6234
I'm facing the same issue. Chrome reads it as 'editable' .. Doesn't say that it's read-only.
Chrome Version 62.0.3202.75 (Official Build) (64-bit)
NVDA Version 2017.3

On latest firefox version 56.0 (32-bit) the input[type="number"][readonly][aria-readonly="true"] box reads '.... Edit Read-only...'

This looks more like a chrome issue

[2017-11-03 09:23] shadyar opened #7724 "No X86 JAVA9 Access Bridge available might cause JAVA support issues for NVDA in future"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:

NVDA Installed or portable: Installed

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

[2017-11-03 10:43] leonardder commented on #7724
[**@shadyar**](https://github.com/shadyar) commented on [3 nov. 2017 10:23 CET](https://github.com/nvaccess/nvda/issues/7724#issue-270917165 "2017-11-03T09:23:52Z - Replied by Github Reply Comments"):

What makes you think this is the case? I have JRE 9 X86 here and it works pretty well.

[2017-11-03 14:00] JLastort commented on #7657
If the problem does not exist in the Chrome Canary version, does that mean the next release of Chrome will not have this issue? Has anyone found a workaround for it?

[2017-11-03 18:23] ehollig commented on #7720
Can you please provide exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead. I am not able to locate the text "Product name" on the website you reference.

[2017-11-03 18:33] Brian1Gaff commented on #7720
No me neither.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-11-03 18:33] ehollig commented on #7549
Marking this as NeedsExternalFix. As @leonardder points out above, there are plenty of workarounds. You are welcome to file a bug with Microsoft on this issue if you would like. CC @feerrenrut in case he has other opinions on this issue

[2017-11-03 18:38] ehollig commented on #7525
CC @JCSTeh, @DKager, @leonardder and others. As @josephsl pointed out in https://github.com/nvaccess/nvda/issues/7525#issuecomment-325089017, this has to do with back-translation in en-us-g2.ctb.. Does this need to be fixed in Liblouis?

[2017-11-03 18:41] ehollig commented on #7509
@Brian1Gaff, is this still reproducible? I am currently using Firefox 56 and do not experience described behavior.

[2017-11-03 18:44] ehollig commented on #7501
I think the most concerning warning in the log is:
Unsupported speech command: LangChangeCommand ('en_US')
Does anyone know what may cause this? It appears the user was using Sapi5.

[2017-11-03 18:47] ehollig commented on #7500
@josephsl, has this been resolved in #7662 a part of docs17.4?

[2017-11-03 18:55] ehollig commented on #7486
@fernando-jose-silva, does this still occur with the latest version of Outlook? Does it happen with a different synthesizer besides vocalizer expressive? It appears there a lot of errors with outdated or inaccessible addons. Does the issue occur with all addons disabled?

[2017-11-03 19:07] ehollig commented on #7394
I see that the paragraph discussed in the issue description has been changed for NVDA 2017.4. Is this issue resolved, or does further changes need to be made.

[2017-11-03 19:19] ehollig commented on #7347
@sjystu, is this still an issue using NVDA 2017.3 or the latest Master of NVDA?

[2017-11-03 20:22] josephsl commented on #7500
Hi, yes, resolved. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Friday, November 3, 2017 11:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] In UserGuide change links which point to community.nvda-project.org/ to appropriate sites (#7500)

@josephsl <https://githu

[2017-11-03 20:27] ehollig commented on #7500
Thanks @josephsl. Closing from https://github.com/nvaccess/nvda/issues/7500#issuecomment-341816098

[2017-11-03 20:27] #7500 closed

[2017-11-03 22:47] ehollig commented on #7427
I think this would be fixed by #7687

[2017-11-04 01:35] Daredevilsprmcy commented on #7525
No, UEB doesn’t have those problems because it doesn’t have the contraction for o’clock. Problems with translating boyfriend and afterlife is also accurate in UEB grade 2.

Only US grade 2 has those issues. Note, if one uses UK grade 2, everything becomes perfect. o’clock is properly contracted and words like afterlife, girlfriends are contracted the way they should.

Dmitriy

From: Ethan Holliger

[2017-11-04 07:10] jcsteh commented on #7525
Actually, this is related to forward translation, not backward, since the reporter noted typing on the computer keyboard. And yes, any such issues need to be addressed in the liblouis project.

[2017-11-04 09:42] Brian1Gaff commented on #7509
Yes the bugzilla feed i looked at from this said won't fix and fixed in 57,
which obviously is rather pointless at present as 57 does not work at all
with nvda now apart from the menu bar.The advice as I have seen it is to use
way back to version 52, though 55 will still work if you close the bookmarks
sidebar wotsit in 56 you can make it work sort of, at least for me anyway.

What a mess!
Brian

[2017-11-04 13:47] bramd commented on #7721
I just had a look at BRLTTY's code to see how they handle this.

They also abstracted the acknowledgement handling from the drivers into core. Each driver structure that uses this has the following attributes to keep state:

* Alarm: set when waiting for an ACK/NAK, seems to be a timer that is set to missing.timeout
* Messages: a queue of braille messages (see below)
* Missing.count: number of mis

[2017-11-04 14:00] bramd commented on #7710
From a user experience point of view, I think a clear warning is a good idea. Many less technical users might just update NVDA and are not that interested in the what's new documentation. It also will have a low priority in most translation teams that don't have many resources, so might not even be available in their own language.

I didn't try Firefox 57 and I'm not sure how bad the experience wi

[2017-11-04 14:13] bramd commented on #7706
I don't know if we have support for such prefix keys to "hold" a modifier such as ctrl. We could implement this as part of #2945.

[2017-11-04 14:34] dkager commented on #7710
I'd rather see a one-time, app-specific warning.

[2017-11-04 14:42] bramd opened #7727 "Native driver for Freedom Scientific braille displays"
The current driver for Freedom Scientific braille displays uses a DLL from FS to communicate with the displays. To benefit from upcoming improvements to NVDA's braille support such as autodetection (see #1271), a native implementation of this driver is prefered.

I started work on such a driver in the branch at https://github.com/bramd/nvda/tree/freedomscientific-native.

[2017-11-04 17:35] leonardder commented on #7721
I agree this would be handy. Note that queueing messages to the background thread now also only applies to braille cells, so that's why I suggested building upon this system. If we make ACK handling more generic, we should make queueing to the thread more generic as well.

[2017-11-04 19:19] miki123211 commented on #7427
It seems it won't, it only makes NVDA honor the voice language (i.e. when announcicng symbols) but it doesn't use automatic language detection.

[2017-11-04 22:15] derekriemer commented on #7427
Any assessment on priority for this? My guess is it should be pretty high since for those affected, it's pretty bad when selecting.

[2017-11-05 09:16] Brian1Gaff commented on #7710
I'd agree. I was expecting when I downloaded 57 off the shelf, at present in
beta of course, for this checkbox to be off and that firefox would work,
albeit very sluggishly. However I downloaded it from my windows 7 machine
directly as an update from 55 beta and even after a complete system restart,
only the menus worked no sign of focus or brows mode, just lots of unknowns
.
 If the beta has this

[2017-11-05 09:25] Brian1Gaff commented on #7710
if I was doing things in this situation, I think I'd want to put a short
delay on the release of nvda, and actually see what the release of Firefox
57 did in reality, on all supported operating systems, then if needed add a
warning on the start page which most people bypass after installation, but
that then still leaves those who update and do not read any lists or bloggs
suddenly getting whatever

[2017-11-05 11:17] gdata1 opened #7728 "Problems with the new yutube design in Microsoft Edge"
Hello. 1. Open Edge.
2 Go to Www.yutube.com
3 move through the headings.
Expected. Nvda reads the name video.
Fact. Nvda says it's empty.
windows.  windows 10 1709
nvda. next-14588,6a175cf6

[2017-11-05 13:45] nishimotz commented on #7065
pre-release of focusHighlight-5.0-dev-171105
https://github.com/nvdajp/focusHighlight/releases/tag/5.0-dev-171105

It now uses GDI Plus and physical coordinates are used for drawing rectangles.
However, it is not enough for Per-monitor DPI awareness support.
NVDA core should be updated as well.
Is it correct? Should I make pull request as follows?

[code]

[2017-11-05 15:52] CamLV commented on #7696
Add the install .exe to allowed apps. Open Windows Defender Security Center, go to Virus and Threat Protection -> Virus and Threat Protection Settings -> Controlled Folder Access and click on Allow an app through Controlled folder access. Navigate to your Downloads folder and select the installer. Be very careful with this and ensure that the app is from a reliable source and only seeking access t

[2017-11-05 15:56] josephsl commented on #7065
Hi, please wait until my PR (post XP API) is merged before working on this. Thanks.

From: Takuya Nishimoto [mailto:notifications@github.com]
Sent: Sunday, November 5, 2017 5:45 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Focus tracker incorrect when screen resolution is not 100% (#7065)

pre-release of focusHighlight-5

[2017-11-05 21:39] ehollig commented on #7728
Duplicate of #7611

[2017-11-05 21:39] #7728 closed

[2017-11-05 21:59] gdata1 commented on #7539
Hello. It doesn't work for me.

[2017-11-05 22:45] NedAT opened #7729 "openning file menu constantly while using ctrl+alt+arrow keys in a table"
1. Open a web page in IE11 in Windows 7.
2. Start navigating a table using ctrl+alt+arrow keys.
3. Release the keys.

Focus should stay in the current table cell waiting for the next command.

The browser's File menu opens instead.
Have to hit "escape"  to go back to the contents.

NVDA version: 2017.3, installed.

Windows version: 7 Pro, x64, Version	6.1.7601 Service Pack 1 Build 7601

Name and v

[2017-11-05 23:06] ehollig commented on #7539
Closing as duplicate of #7611, as it contains more information.

[2017-11-05 23:06] #7539 closed

[2017-11-05 23:11] gdata1 commented on #7611
If the 7538 problem is closed. 'll answer here.
I have this problem now.

[2017-11-05 23:13] ehollig commented on #7729
Is it possible you are not releasing the alt key at the same time as the control key? CC @Brian1Gaff to test this on Windows 7

[2017-11-05 23:54] jcsteh commented on #4464
You're absolutely right that the responsibility of documenting this should rest with the vendor. However, as with many things, it doesn't matter whose responsibility it is if users keep coming to us with the problem. In the absence of the right people taking responsibility, we want to reduce the support load on NV Access and our community, and if including a sentence in our User Guide can do that,

[2017-11-06 00:07] jcsteh commented on #7721
It certainly makes sense to explore these ideas. However, I'd advise caution on a few points:
1. Queuing to the background is great for writing cells because the main thread doesn't care about the response. However, if there were ever any queries where the main thread needed some kind of response, you'd then have to come up with a mechanism to wait on that response. That's certainly possible, but

[2017-11-06 00:13] fernando-jose-silva commented on #7486
I was able to solve the problem by reinstalling the nvda of this person, now what it took for the error to be generated will be an unknown.
Thank you very much.

[2017-11-06 00:27] wangp opened #7730 "PDF structure issue, 50 page limit"
I am testing NVDA 2017.3 (installed) with Acrobat Pro DC on Windows 7.

Compare these two files:

- [nvda-0049.pdf](https://github.com/nvaccess/nvda/files/1444586/nvda-0049.pdf) has 49 pages with one H1 tag per page. Pressing 'h' or '1' correctly skips to each heading.

- [nvda-0050.pdf](https://github.com/nvaccess/nvda/files/1444588/nvda-0050.pdf) has 50 pages with one H1 tag per page. Pressing '

[2017-11-06 00:43] nishimotz commented on #7065
@josephsl So, it is too late for 2017.4, right? How about for 2018.1?

[2017-11-06 00:56] ehollig commented on #7730
In Adobe Acrobat Pro DC, press CTRL+K to go to preferences. Press tab three times to go to "Page vs Document:  combo box". NVDA reads, "For large documents, only read the currently visible pages". Press tab one more time and notice the visible pages is 50.
Does this help your issue?

[2017-11-06 00:58] josephsl commented on #7065
Hi, I’d say it is risky for 2017.4. For 2018.1, sure. Thanks.

From: Takuya Nishimoto [mailto:notifications@github.com]
Sent: Sunday, November 5, 2017 4:43 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Focus tracker incorrect when screen resolution is not 100% (#7065)

@josephsl <https://

[2017-11-06 01:50] wangp commented on #7730
Indeed it does, thank you!

After I set "Page vs Document" to "Read the entire document", I was able to navigate within a few other large documents, after waiting for them to load in the background.

[2017-11-06 01:50] #7730 closed

[2017-11-06 01:54] feerrenrut commented on #7611
Considering the difference between next and master the last time I investigated, I think we should try to track down why this is the case. Giving this a P1 to investigate further.

[2017-11-06 02:27] ehollig commented on #7486
Closing as invalid from https://github.com/nvaccess/nvda/issues/7486#issuecomment-342017769

[2017-11-06 02:27] #7486 closed

[2017-11-06 03:28] ehollig commented on #7704
I do not believe I can reproduce your issue @francipvb. Is it possible to get an NVDA log with logging set to debug demonstrating the issue attached to this ticket?

[2017-11-06 03:59] feerrenrut commented on #7604
I added a data URI version of the example to the description. I can reproduce this when using the Espeak synthesizer, in NVDA version `next-14588,6a175cf6
`.

One interesting thing to note is that when reading out the element after pressing down arrow, NVDA reads "Button O F F" as individual letters. When using `Ctrl+Right Arrow` NVDA reads "Off" as a single word.

Both SAPI5 and OneCore synths sp

[2017-11-06 04:08] ehollig commented on #6410
@UCDharriman, are you still able to reproduce this issue? If so, can you provide the information requested in https://github.com/nvaccess/nvda/issues/6410#issuecomment-256235214

[2017-11-06 04:17] NedAT commented on #7729
Well, I thought of such a possibility, but the mentioned issue was not present on the other screen reader I got rid of.

I also tried to eliminate "key repeat" through windows, but it didn't work.

What is the probability of adding that feature (turning key repeat on/off) in NVDA?

[2017-11-06 04:35] feerrenrut commented on #6344
This issue really was just a dump of some feedback NV access received on the UI. Essentially these are discussion points, I don't think NV Access necessarily agrees with all of this feedback. @ThomasStivers thanks for the PR, however please follow this issue, since I think it's worth some discussion first.

Here are my opinions:
Proposed: `Language (requires restart to fully take effect)` becoming

[2017-11-06 04:40] josephsl commented on #6344
Hi, for the last item, I think it could be reworded as, “start NVDA after signing onto Windows”. This acknowledges the fact that users can now use MS Account to sign in as opposed to local account, as well as using remote systems. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Sunday, November 5, 2017 8:36 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribe

[2017-11-06 05:25] feerrenrut commented on #6338
Sure, I think this will be tricky to fix, and will probably take some time. I'll give this a priority 3.

[2017-11-06 06:01] feerrenrut commented on #6115
Understood, the other case can be mitigated by restarting NVDA. Handy to know that this about security of the content, rather than security of the user.

To stop a user from copying content using NVDA would require more than just disabling the speech viewer. There are other methods for selecting and copying text to the clipboard. Although, using the speech viewer might be the most convenient way t

[2017-11-06 07:01] feerrenrut commented on #7657
@JLastort. After playing with this again, the label does seem to be read out if NVDA is in focus mode rather than browse mode. Using Chrome Version `62.0.3202.75 (Official Build) (64-bit)` and NVDA version `next-14588,6a175cf6`

Can you test if you get the behaviour on your system in browse and focus modes and report back please? In terms of work arounds, do you mean for web developers or NVDA use

[2017-11-06 09:04] feerrenrut commented on #7729
Does this happen every time you do this?
Does this happen in other applications (other than IE 11)?
To rule out that this is a problem with the keyboard, could you please try another keyboard?

[2017-11-06 09:58] feerrenrut commented on #7427
It wasn't immediately obvious to me when looking at this issue, but after testing it myself (in chrome) I found that:
When reading the line with down arrow, the locale is honored, however when selecting it is not.

If you dont mind, I will update the description to try to clarify that.

Without thinking about the implementation at all, this request raises a few questions.
- How much context should

[2017-11-06 10:08] Brian1Gaff commented on #7696
As I understood this it was the desktop icon creation that was the issue
here, so updates one supposes can see if its still there and not corrupted
or changed and hence not try to overwrite it on an update.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-06 11:24] feerrenrut commented on #7509
Could you please link to the Bugzilla feed so that we could get more information?
Could you also try starting Firefox in a "New Private Window" and report back on what happens?

At the moment there is not enough information here to reproduce the problem. This makes it very hard to progress the issue, and uses up a lot of time while trying to "guess" what might be causing it for you.

While trying

[2017-11-06 12:17] bramd commented on #7727
An early try build is here: https://ci.appveyor.com/project/NVAccess/nvda/build/try-freedomscientific-native-14592%2c331e13db/artifacts

This has had some testing with a Focus 40 blue. If you have a FS display, please test this build. I'm especially interested in

1. Larger displays such as the Focus 80, I expect some issues there
2. The first generation Focus displays (Focus 44/70/84), these disp

[2017-11-06 13:02] francipvb commented on #7704
Hello,

I'm confused. I cannot reproduce this too. May be a problem with Creators Update or a problem when running with battery?

I've upgraded my system two weeks ago and didn't tested it before.

If I can get this issue again I'll post a log here.

Cheers,

[2017-11-06 13:16] jmuheim opened #7731 "Table with multiple headers in a row only announces one of them"
I think I remember that NVDA in earlier versions announced all table headers of a row, not only one.

It seems this has changed! Take a look at the following table and browse the rows: each of them should have 2 `<th>` elements (e.g. "Agrisano" and "AGRIeco"), but only the last one is announced ("AGRIeco").

https://www.priminfo.admin.ch/de/praemien?location_id=56361661329074&insurer=312&plan=telf

[2017-11-06 14:59] NedAT commented on #7729
Does this happen every time you do this?

-         Almost every time. I did experiment and found out that if I release the Alt key before ctrl, File menu pops up.

-         - If ctrl is released first, however, then everything is fine.

-
Does this happen in other applications (other than IE 11)?

-         NO. I tried with Firefox, it works like a charm.

-

I am using a wireless keyboard, as w

[2017-11-06 15:20] leonardder commented on #7727
CC @xtstoll, @DGartmann: You both are users who either reported issues related to the Focus displays in the past, or have an open issue. Would you be able to test this try build and provide your feedback?

[2017-11-06 16:09] leonardder commented on #1271
I consider the code in the @babbagecom i1271 branch to be feature complete, but before I file a pr, here is an overview of the changes since @jcsteh worked on this. Several things have changed, as @jcsteh's implementation was pre hwIo. Most notably:

1. hwIO.IoBase._recvEvt is no longer a Python event, since threading.Event.wait blocks the calling thread, including queued APCs.

2. hwIO.IoBase.wai

[2017-11-06 16:57] Andre9642 commented on #7488
Hello,
i've been tested with an Esys. It works like a charm.
Well, It's now possible to change the input braille table and gestures! :)
Thanks

[2017-11-06 18:14] Brian1Gaff commented on #7509
https://bugzilla.mozilla.org/show_bug.cgi?id=1394207

I think the advice was to close it in options.
     They do not intend to fix it... grin, I now understand why with 57,
which I tried over the weekend, Oh dear.
 Brian
bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-06 18:24] Brian1Gaff commented on #7729
Isn't right alt in fact cntrol/alt?
 If anyone has a table to test it I'll give it a try. I have nothing
relevent here at the moment and so am in a bit of a difficult possition to
test it.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Ethan Hollige

[2017-11-06 18:27] Brian1Gaff commented on #7728
I guess nobody has actually put the word video into a dictionary entry with
a null replacement have they?
Not that I can test here, but just wondered!

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message

[2017-11-06 18:53] k-kolev1985 commented on #7729
Apparently it is keyboard dependent. I can reproduce it with my Logitech K270 keyboard, no matter if connected to my desktop PC or my ASUS T100TA. But if I use the keyboard of the ASUS T100TA itself, I cannot reproduce the issue.

The Logitech K270 is a wireless keyboard. Can please anyone who can reproduce the issue share the brand and model of the keyboard and type of connection being used for t

[2017-11-06 18:53] Brian1Gaff commented on #7501
I'd ignore the  speech synth error warnings, they are in my experience quite
normal if the voice is not multilingual.

IO - inputCore.InputManager.executeGesture (18:43:14.009):
Input: kb(desktop):downArrow
DEBUG - speechDictHandler.SpeechDict.load (18:43:14.023):
Loading speech dictionary
'C:\Users\Brian\AppData\Roaming\nvda\speechDicts\voiceDicts.v1\sapi5\sapi5-ScanSoft
Serena_Full_22kHz.dic'...

[2017-11-06 18:57] NedAT commented on #7729
No, it’s left ctrl & left alt.

Here is the relevant output from the NVDA log (set on i/o level):

. . .

IO - inputCore.InputManager.executeGesture (11:49:35.246):

Input: kb(desktop):alt+control+downArrow

IO - speech.speak (11:49:35.256):

Speaking [u'link', u'AccessWorld']

IO - inputCore.InputManager.executeGesture (11:49:35.506):

Input: kb(desktop):alt+control+downArrow

IO - speech.speak (

[2017-11-06 19:01] k-kolev1985 commented on #7729
Actually, I spoke too soon. I was able to reproduce the issue even with the keyboard of the ASUS T100TA, though not so frequently as with the Logitech K270. Maybe the speed with which the keyboard sends key presses has something to do with it? I've noticed (at least in the passed) that different keyboards have different speeds of sending key presses, even if the repetition delay in the keyboard op

[2017-11-06 19:03] gregjozk opened #7733 "Native driver for Optelec braille displays"
Is it possible to start work on native driver for Optelec displays such as BC6 series?

Here are some benefits:
- many users use these displays (BC640/680, BC640 Comfort (USB and also emulate them with protocol converter attached to Alva Satellite or Tieman Voyager displays.
- It would be possible to use advanced braille features which are coming to NVDA.

Unfortunately I don't have enough skills

[2017-11-06 19:10] NedAT commented on #7729
Well, my wireless keyboard is Logitech as well, but the same thing happens when I use the regular one on the laptop.

I did try to turn off key repeat in Windows unsuccessfully. The option “Ignore all key repeats”  is checked, but keys are still being repeated; not as quickly as before though.

From: Kostadin Kolev [mailto:notifications@github.com]
Sent: Monday, November 06, 2017 12:02 PM
To: nvac

[2017-11-06 19:29] gregjozk opened #7734 "Input Gestures dialog: detect duplicate keyboard gestures and rimnd users about them"
Idea behind this issue is that NVDA will warn user if conflicted keyboard gesture exists. This may heppen, when a new addon was installed and it has added a new gesture or when one of gestures has been
changed manually.

### Steps to reproduce:

1. open Input gesture dialog
2.asign e.g. NVDA+f12 to the other script.

### Expected behavior:

NVDA should warn you, that this gesture already exists an

[2017-11-06 19:35] josephsl commented on #7734
Hi, isn’t this a duplicate of something? Thanks.

From: gregjozk [mailto:notifications@github.com]
Sent: Monday, November 6, 2017 11:30 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Input Gestures dialog: detect duplicate keyboard gestures and rimnd users about them (#7734)

Idea behind this issue is that NVDA will warn user

[2017-11-06 19:38] clementb49 commented on #7488
Hello,
I just tested this driver with an Esytime on the firmware 1.06 and I get the following error.

[code]

[2017-11-06 20:25] ABuffEr opened #7735 "NVDA updating fails with Windows Protected Folders enabled"
Hi,
I use NVDA master installed on Windows 10 1709 (Fall Creators Update), and I enabled Protected Folders, a new anti-ransomware feature of this Windows version, more info here:
https://docs.microsoft.com/en-us/windows/threat-protection/windows-defender-exploit-guard/customize-controlled-folders-exploit-guard
I also customized Temp folder path, I think that is irrelevant, but I cannot test it, so

[2017-11-06 21:28] DGartmann commented on #7727
@leonardder: How are we supposed to test this build? Is it an installable version that should replace the current "Next" build?

[2017-11-07 02:11] ehollig commented on #7734
Duplicate of #3605

[2017-11-07 02:11] #7734 closed

[2017-11-07 02:13] francipvb commented on #7704
Hello,

I got a [log](https://github.com/nvaccess/nvda/files/1448428/log.log) with the session. I've read it but I didn't found valuable info.

I opened Excel two times:

* The first was with the CA adapter connected and no other office program running.
* The second ones was without CA adapter and Word running alongside Excel.

I hope that this log and this new info would help you.

Cheers,

[2017-11-07 02:42] feerrenrut commented on #7729
I don't think alt is affected by the windows key repeat feature.

I am using the built in keyboard on my laptop, with IE 11.

Without NVDA running, the file menu is shown if I press `ctrl+alt`. If I press `ctrl+alt+down arrow` the file menu does not appear.
I tried all combinations of releasing the keys `ctrl+alt+down arrow` the order made no difference.

The behaviour did not change with NVDA run

[2017-11-07 02:45] ehollig commented on #7509
Closing, as it sounds this issue will be fixed in Firefox 57

[2017-11-07 02:45] #7509 closed

[2017-11-07 03:15] ehollig commented on #7729
I was able to reproduce this on my laptop, using both the internal keyboard and wireless external keyboard. I pressed left control + left alt + an errow key several times at various speeds, releasing the keys at different times. Here is what I found:

- The issue only occurs in Internet Explorer. Does not occur in Google Chrome or Firefox
- The issue can be reproduced by just pressing left control

[2017-11-07 03:24] feerrenrut commented on #7729
Ok, that does make it sound like an IE issue.

Note: I think that it is the correct behaviour to show the file menu when only `ctrl+alt` are pressed.

Testing this some more, I can only reproduce this (with `ctrl+alt+down arrow`) if the `alt` key is pressed first., and the `ctrl` key is released last.
So, using the following sequence:
`alt pressed`, `ctrl pressed`, `down arrow pressed`, `down arro

[2017-11-07 04:05] feerrenrut commented on #7735
Could you update the description to provide the NVDA version you are using?

This is a duplicate of #7696. So I will close this issue, however please feel free to comment on it.

Which has a fix incubating (available in `next` builds), however, there is a known issue remaining, the desktop shortcut can not be created when Protected Folders is active.

Please can you try updating again, and untick

[2017-11-07 04:05] #7735 closed

[2017-11-07 05:38] feerrenrut commented on #7501
I updated the description with the information I could pull from the attached log file.

In terms of the language change warning, these warnings can be ignored.
In short it looks like there is / was some problem with using skype. Is anyone able to reproduce this issue? If not we will have to assume it has been fixed by a skype update.

The wx assertion is also concerning. The stack trace doesn't t

[2017-11-07 06:12] feerrenrut commented on #7731
Thanks for raising this question, it sounds like it could be a regression. However, as it stands there is not enough information provided on this issue to investigate further. Please could you fill in the issue template, and provide a minimal testcase. If you could try some previous releases to report the last version that had the behaviour you expect that would also be excellent.

[2017-11-07 06:26] feerrenrut commented on #7501
I believe the wx assertion issue is covered here: #6637 so we can safely ignore it on this issue.

We would still like to know if the skype problem is on going.

[2017-11-07 06:35] feerrenrut commented on #6637
I believe this be reproduced in any part of our GUI by pressing alt then escape

The following reproduces it in the synthesizer menu:
1. Open synth settings: NVDA+n, p, s
1. Press alt.

See Log:  [nvda.log](https://github.com/nvaccess/nvda/files/1448911/nvda.log)

And in the log viewer
1. Open log viewer NVDA+F1
1. press alt
1. press escape

See Log:  [nvda.log](https://github.com/nvaccess/nvda/fi

[2017-11-07 06:36] feerrenrut commented on #6637
The previous comment by Jamie indicates that this could be fixed by upgrading wxWidgets. After the move to wxPython 4 we should see if this issue is resolved. @josephsl Could you comment on whether this issue is fixed with wxPython 4?

[2017-11-07 06:40] josephsl commented on #6637
Hi, I cannot reproduce this on latest next snapshot at the moment (powered by wxPython 3.0.2), nether in Synthesizer dialog or log viewer. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Monday, November 6, 2017 10:36 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Refres

[2017-11-07 07:02] feerrenrut commented on #6637
Could you give some more details about what you tried? I am using install NVDA version `next-14588,6a175cf6` which has wxPython 3.02. This is on Windows 10 version 1703 build `15063.674`

There is no error sound, the log must be inspected to locate the assertion.

[2017-11-07 07:10] josephsl commented on #6637
Hi, I followed the steps outlined in the above comment (pressed Control+NVDA+S to open Synthesizer dialog, pressed Alt, then escape, then opened log viewer to inspect if something was recorded). Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Monday, November 6, 2017 11:02 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention

[2017-11-07 07:24] feerrenrut commented on #6637
Could you confirm that you are using an installed version of NVDA and its version number, and the version of windows that you are using. This helps us to see what the differences are between our two systems. The steps you listed differ from the ones that I posted, however I can reproduce the issue that way as well.

[2017-11-07 07:26] josephsl commented on #6637
Hi, this is NVDA next.14588 installed on Windows 10 build 17025. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Monday, November 6, 2017 11:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Refreshing in log viewer results in assertions (#6637)

Could you confirm that y

[2017-11-07 07:45] feerrenrut commented on #7720
It's not very clear, but I think the link is not supposed to be an example, but instead it's the proof.

@Techieegirl The page you linked to has quite a few tests on it, could you please provide an example of the case you are interested in. Or point out which of the tests on that page you are specifically interested in?

[2017-11-07 07:47] NedAT commented on #7729
OK good people,

I think the same: it’s an IE11 issue.

The way to avoid it is to release ctrl before releasing alt key.

Or, even better, get rid of old habits and switch to another browser altogether!

The only reason I opened it is I didn’t have this problem until I  switched to NVDA 24/7, and it was becoming annoying.

I am not sure who can close the thread, but it’s time to do so.

Many thank

[2017-11-07 07:59] feerrenrut commented on #6234
@pratham2003 this issue relates to "editable" announced when using firefox. Rather than "readonly" not announced when using chrome. Could you please raise a new issue for the problem you describe. I believe the following example illustrates the problem:

`data:text/html,<label for="numoforanges">Number of oranges</label><input type='number' readonly aria-readonly='true' id="numoforanges" value=5><

[2017-11-07 08:08] feerrenrut commented on #7729
Closing as "cantfix"

[2017-11-07 08:08] #7729 closed

[2017-11-07 08:14] feerrenrut commented on #7709
Attached the crash reports from the original description (in case they stop being hosted).
[crash reports.zip](https://github.com/nvaccess/nvda/files/1449157/crash.reports.zip)

[2017-11-07 08:42] Mohamed00 commented on #7722
I can confirm this. Foobar crashes often when NVDA is running, and not when any other screen reader is running. Could this be related to the Foobar2000 app module?

[2017-11-07 09:27] leonardder commented on #7727
@DGartmann: You can install this build, but I'd advise to run this build either as a portable copy, or just run the build from the executable file without installing. There shouldn't be incompatibilities with configuration in case of the native driver.

[2017-11-07 09:36] leonardder commented on #7488
@clementb49: This is interesting. Could you test another try build with the log level on debug warning?
https://ci.appveyor.com/api/buildjobs/j06by9jnwdhnbbxv/artifacts/output%2Fnvda_snapshot_try-eurobraille-native-14596%2C04361f93.exe

My hypothesis is that the driver is connecting to the wrong HID interface.
Also, it would be very helpful if you could start a python console (nvda+control+z, and

[2017-11-07 09:40] leonardder commented on #7733
CC @dkager, who also has such a display and has some decent programming skills. I will see whether I could get an old device myself.

I have to note though, that it would be very helpful to have the data protocol for these displays, especially to implement the converter and Comfort part.

[2017-11-07 09:58] leonardder commented on #1271
@michaeldcurran: I forgot to mention that your feedback on the above comment would also be appreciated. Also @qchristensen, @josephsl and others, it would be great if you could share your opinion on how you think braille display detection would fit into the current documentation (e.g. should we just list the supported displays in a separate paragraph, or should we add a note to every specific disp

[2017-11-07 10:17] clementb49 commented on #7488
Hello
I tested the new build. Here is the log in debug mode:

[code]

[2017-11-07 10:22] zstanecic commented on #1271
hi,

i think, that the separate paragraph " supported autodetection braille
displays" will be a better option

W dniu 07.11.2017 o 10:58, Leonard de Ruijter pisze:

[2017-11-07 10:36] leonardder commented on #7488
[**@clementb49**](https://github.com/clementb49) commented on [7 nov. 2017 11:17 CET](https://github.com/nvaccess/nvda/issues/7488#issuecomment-342437548 "2017-11-07T10:17:56Z - Replied by Github Reply Comments"):

This debug warning is unrelated. Do you still experience the same errors as before with this build?

What makes it a bit difficult here is that there are at least three HID devices corr

[2017-11-07 11:36] jcsteh commented on #1271
For what it's worth, I'd suggest:
1. Having a general paragraph noting that NVDA can auto detect many displays and that the display specific section will note if detection is not supported for that display; and
2. Having a sentence in a display section if auto detection is not supported.

Reasons:
1. This means a user doesn't need to read through a huge list to work out whether their display is su

[2017-11-07 12:06] ABuffEr commented on #7735
Ops, I searched without finding the previous issue...
Updated with master version, re-installed (same version) unticking the desktop checkbox, and it works fine (but Windows notification appears in any case).
About remaining issue of shortcut creation (the first time, I suppose), I'm thinking... would it be possible to create a shortcut as pin in taskbar? I see two folders in %APPDATA%\Microsoft\I

[2017-11-07 12:33] DrDento opened #7736 "Brailliant BI40 Not reactivating after PC leaves sleep mode"
**### Steps to reproduce:**
1: Connect Brailliant BI40 Via USB
2: Start NVDA 2017.3
3: Check Brailliant is working properly
4: Put computer into sleep mode
5: Wake Computer
6: Check Brailliant is working properly.

**### Expected behavior:**
After leaving sleep mode, the Brailliant
should reactivate automatically

**### Actual behavior:**
The Brailliant does not reactivate

**### System configurat

[2017-11-07 14:14] Mohamed00 commented on #7722
Until this issue gets resolved, here is a quick workaround. When you press enter on a track in a playlist, quickly minimize the Foobar2000 window before the track plays. This crash only seems to happen when the Foobar2000 window has focus. Moreover, it happens more often with streams than locally stored files.

[2017-11-07 15:05] leonardder commented on #7736
cc @dkager, @bramd, who are brailliant users.

[2017-11-07 15:15] Brian1Gaff commented on #7722
It did not used to do this, so unless its something that was changed or
removed when the nvda service was removed,I'm at a bit of a loss. Its only
happened to me once so far and unable to get it to happen again, but it does
seem that it might be delay related in some cases.
 Weird, sorry I cannot be of much more help as I do not have large
playlists.

Brian

bglists@blueyonder.co.uk
Sent via bluey

[2017-11-07 15:20] Brian1Gaff commented on #7509
Yes a bit bitter sweet under the circumstances though, sadly.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-07 15:27] Brian1Gaff commented on #7735
One thought of course is that if the actual software is installed, that even
though the shortcut is not installed for the first time, it is instead
created somewhere easy to get to and leave the temp copy running or start
the installed copy and present a message about copying the shortcut
manually.

Tonsure if that would be allowed but most people  seem to want to put
shortcuts and files on their

[2017-11-07 15:30] Brian1Gaff commented on #7734
Not sure if it is, but then github issue search is built by Klingons...
 Its a good idea if it can be achieved. it sounds like a logic nightmare
when you are talking two different layouts and multiple languages as well as
add ons that may come already with existing conflicted key sequences.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.

[2017-11-07 15:58] leonardder commented on #7488
@clementb49: Could you please provide a full log including all debugWarnings and errors for the following try build? You may also sent your log to leonard_dev at babbage dot com.

https://ci.appveyor.com/api/buildjobs/mwa0huhklyw5ftfq/artifacts/output%2Fnvda_snapshot_try-eurobraille-native-14597%2C7d59f663.exe

[2017-11-07 17:01] nunahosting commented on #7729
I have to second this. I think it is an IE bug as when I test with jaws or narrator I get the same results.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Monday, November 6, 2017 10:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] openning file menu constantly while using ctrl+alt+arrow keys in a table (#7

[2017-11-07 19:14] lukaszgo1 commented on #7727
Hi,
i’ve tried this try build with Focus 40 Blue New connected via USB to machine running Windows 10 build 14393 unfortunately it gives an error. I’m attaching the log.
[focus-try-build-NVDA.log.txt](https://github.com/nvaccess/nvda/files/1451285/focus-try-build-NVDA.log.txt)

[2017-11-07 19:55] dkager commented on #7736
The Brailliant has some issues when losing a connection and reconnecting, especially when disconnected while NVDA is running or when being connected to another computer without being turned off first. I have the feeling this is partly a firmware issue. I will post the log exerpt when I next see this.

[2017-11-08 03:41] ehollig commented on #2835
@dkager, should this be closed, as #7407 is closed?

[2017-11-08 06:09] dkager commented on #2835
Danish grade 1.5 is not yet in NVDA. However, there also has not been a user request that I know of, except for a hint by the table maintainer. Closing this until such a request is made. Then it would be trivial to add these last tables.

[2017-11-08 06:09] #2835 closed

[2017-11-08 06:14] michaelDCurran commented on #7709
I believe I have fixed the bug. Please test the following try build as soon as you can and confirm it is fixed:
https://ci.appveyor.com/api/buildjobs/jl9lqma0cuk63j0q/artifacts/output%2Fnvda_snapshot_try-i7709-14599%2C4f6cfcf3.exe
If so  we will try and get this into NVDA 2017.4.

[2017-11-08 10:57] leonardder commented on #7488
I've been able to track the issue down, so this new try build should work:
https://ci.appveyor.com/api/buildjobs/neym15rmykr1fq64/artifacts/output%2Fnvda_snapshot_try-eurobraille-native-14602%2Ca21cb782.exe

@clementb49: Thanks a lot for your help.

There is one known issue with this build for esytime, it will print a debug warning in the log about a packet being ignored. This is expected and will

[2017-11-08 11:50] feerrenrut commented on #7723
@smokymcbear Please note, many of the NVDA developers are blind and are unable to view the GIF in the description. Furthermore, we can only guess as to how the menu in the GIF is implemented.

**Could you please provide a minimal example, with instructions for how you interact with it?**
For example, please describe the keypresses used to move through the menu (arrow keys or tab).

[2017-11-08 12:13] feerrenrut commented on #5779
@leonardder I think so.

[2017-11-08 12:13] #5779 closed

[2017-11-08 12:17] feerrenrut commented on #6356
I've run into this (or something similar) before, I ended up having to resinstall Visual Studio 2015 and the Windows SDK component. Since the issue seems to be resolved for @rpaquay, I'll close the issue. However, @rpaquay if you have any other information to add, please do.

[2017-11-08 12:17] #6356 closed

[2017-11-08 13:35] OzancanKaratas commented on #7724
I mentioned this problem on an issue, I think we can do with following changes:

Source: #7609
File: source / JABHandler.py

legacyAccessBridge=True
try:
	bridgeDll=getattr(cdll,'windowsAccessBridge-64')
	legacyAccessBridge=False

Please open a try-jabswitch64 branch, we should try this code there.

[2017-11-08 13:39] leonardder commented on #7724
windowsAccessBridge-64 won't work with NVDA, as NVDA is, and will probably remain, x86.

@shadyar: Could you please answer my https://github.com/nvaccess/nvda/issues/7724#issuecomment-341670241 ? I'm afraid I have to close this as invalid otherwise.

[2017-11-08 13:48] leonardder commented on #7724
Hmm, seems you are right, according to this [Stack Overflow thread](https://stackoverflow.com/questions/46356345/can-java-9-run-on-a-32-bit-os)

CC @Michaeldcurran, @feerrenrut, @jcsteh

Would it be possible to convince Oracle to ship WindowsAccessBridge-32.dll, I wonder. I guess not, since they never shipped that DLL with the X64 jre.

[2017-11-08 14:41] nvdaes commented on #6925
Replying to @josephsl

I think it should be use an ePUB 3.0 file, for instance the proposed in epubtest.org to evaluate accessibility of reading systems.
Unfortunately, that website doesn't seems to mantain permanent links of evaluations, so hope you can find Edge evaluation with JAWS.
I'm evaluating Edge and other ePUB reading systems with NVDA performing the proposed tests, and I think that the

[2017-11-08 15:59] OzancanKaratas commented on #7724
May [this file](http://www.oracle.com/technetwork/java/javase/downloads/jab-2-0-2-download-354311.html) be used? This file is containing a C codes. I think it is able to compiled for supporting 64-bit architecture.

[2017-11-08 16:07] Raushen commented on #6282
Hello @feerrenrut,
Let me clarify the complexity of this issue in greater detail.
We have a task to make our Menu control work in the following scenarios:
- Support for navigation with arrow keys;
- NVDA support;
- JAWS support;
- It should meet all the Section 508/WCAG 2.0/WAI-ARIA 1.1/HTML5 standards;
- It should pass the WCAG and Section 508 audit.
Regarding the audit:
Experts that are involved

[2017-11-08 17:15] andrewleith commented on #6282
@Raushen, it may be because there is no tab stop on your `role="application"` `div`.  If you are using tab to navigate, this means you will by pass that element and go straight to the first `a` element.

Have you tried this:
[code]

[2017-11-08 19:45] ehollig commented on #5152
Closing, because This seems to work correctly for me using NVDA Master-14590,5efe71c8.

1. Open Notepad and type, "This is a test }"
2. Ensure you are using ESpeak with the Tamil voice and Punctuation/symbol level is set to most in the Voice settings dialog.
3. Read the line in the notepad file. Notice the } is read.
4. Change the Punctuation/symbol level in voice settings to some and read the lin

[2017-11-08 19:45] #5152 closed

[2017-11-08 19:50] bramd commented on #7727
@lukaszgo1 Could you try this build? https://ci.appveyor.com/api/buildjobs/78sb6qru7he2t6bs/artifacts/output%2Fnvda_snapshot_try-freedomscientific-native-14603%2C22490378.exe

[2017-11-08 19:58] ehollig opened #7740 "Symbol freezes NVDA when Read"
I noticed this when testing #5152
### Steps to reproduce:
1. Open Voice Settings
2. Ensure ESpeak is the synthesizer and change the voice to Tamil
3. Go to the Punctuation/symbol pronunciation dialog. (NVDA+N, P, P)
4. Press down arrow to the symbol ":"
5. Notice that NVDA freezes and must be restarted to continue.

### Expected behavior:
NVDA should read the line without freezing.

### Actual beh

[2017-11-08 20:08] leonardder commented on #3935
This ticket looks abandoned, has anything like this been seen during the last three years? I will close this issue around this time next week if we don't get any response.

[2017-11-08 20:15] leonardder commented on #5383
@feerrenrut, any thoughts about this?

[2017-11-08 20:17] leonardder commented on #5590
@csamaha1: Can you still reproduce this?

[2017-11-08 20:27] Brian1Gaff commented on #7740
You sure have this message freezes nvda when it gets down past the bit about
the symbol, so its an espeak character that mutes the sound as it seems to
think its still speaking but is in fact completely silent in English for me
after that and I have to reboot the  nvda master. version I'm running.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.

[2017-11-08 20:28] ehollig commented on #7237
Closing as worksforme, unless @mohammad-aloufi or someone can still reproduce this issue.

[2017-11-08 20:39] Brian1Gaff commented on #7740
IO - speech.speak (20:22:18.033):
Speaking [LangChangeCommand ('en_GB'), u'heading  level 3', u'Additional
Information']
IO - inputCore.InputManager.executeGesture (20:22:18.555):
Input: kb(desktop):downArrow
IO - speech.speak (20:22:18.573):
Speaking [LangChangeCommand ('en_GB'), u'I think I may have pinpointed the
symbol causing the issue (\u0bb3\u0bcd):', u'\n'

The rest of this log was totally

[2017-11-08 20:41] ehollig commented on #3759
I thought this was because Automatic Say All on page load was checked, but testing this in a slideshow after pressing F5, NVDA continues to read as if it is performing a skim reading say all.

[2017-11-08 20:46] ehollig commented on #3052
For me, using Outlook 2016, the menu items, "follow up" and "quick steps" both report that they have a submenu. Closing this as worksforme, but if someone can reproduce this issue on Outlook 2010, we can reopen this issue.

[2017-11-08 20:46] #3052 closed

[2017-11-08 20:51] Brian1Gaff commented on #7740
Agreed, no issue on last release portable. The character is pronounced and
nvda carries on OK, When was the current version of Espeak Merged into
Master last?

I'm using windows 7 64 and latest master but at the moment a portable
version of 2017.3, as I said, it says the symbol. So the language of the
synth is not the issue just the character, which might I guess appear on a
web page with English

[2017-11-08 20:54] ehollig commented on #3898
Closing as worksforme, as we have not heard from the original poster in awhile.
Also, when I type a name or an address in Outlook 2016, autocomplete results do not show visually, and are not read until after typing a few characters.

[2017-11-08 20:54] #3898 closed

[2017-11-08 20:57] ehollig commented on #3405
Closing as invalid, as we have not heard from the original poster. If this is still an issue for @sumandogra: or others who may use Outlook 2013, we can reopen this issue.
Note: in Outlook 2016 in the navigation bar, NVDA reports these buttons as pressed or not pressed.

[2017-11-08 20:57] #3405 closed

[2017-11-08 20:58] lukaszgo1 commented on #7727
@bramd This build is working correctly. Thanks for fixing.

[2017-11-08 21:00] smokymcbear commented on #7723
Hi @feerrenrut , here's a minimal example of the code. I used arrow keys UP and DOWN to navigate through the menu. Here's an [interactive example](https://codesandbox.io/s/pyy5mx44qx). Please let me know if there's anymore information I can provide to diagnose this situation. Thanks!

[code]

[2017-11-08 21:02] ehollig commented on #7740
I apologize. I did not realize this would lock up English ESpeak as well.

[2017-11-08 21:50] smokymcbear commented on #7723
Ok so within the interactive example https://codesandbox.io/s/pyy5mx44qx , the example code isn't exactly working as intended on either chrome or firefox. However, when I turn on NVDA, the code is working as intended which is very strange. Perhaps, NVDA is registering different keycode events?

[2017-11-08 23:02] derekriemer commented on #7727
I need to test this

[2017-11-09 04:12] derekriemer commented on #5590
This needs the crash label. If the reporter is still around, this is likely to cause issues with the reporters ability to do their job effectively, so we should probably think about putting a high priority on it.

[2017-11-09 04:14] derekriemer commented on #5590
did this intentionally get 2017webxia, or did I accidentally do that?

[2017-11-09 04:16] derekriemer commented on #5152
I'm willing to bet this was fixed by an upgrade to espeak

[2017-11-09 04:30] derekriemer commented on #6344
We want to make sure it's short and sweet however.

[2017-11-09 04:36] josephsl commented on #6344
Hi, short, sweet, and translatable. For most translators, they don’t need to worry about most messages. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Wednesday, November 8, 2017 8:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Wording of options (#6344)

We want to

[2017-11-09 09:53] Brian1Gaff commented on #7740
No its good to find as it needs fixing I think. Quite urgently. Since its
not in the last stable release somebody needs to look at this. maybe its a
problem with Unicode or perhaps a variable not defined issue due to all the
messaging about after the xp bits were taken out. That was why I asked when
the last version of espeak was merged into master.
 Anyone care to let me know I'm happy to run thr

[2017-11-09 10:04] ThomasStivers commented on #6344
For these dialog labels shorter is better in my opinion. If we want to provide longer explanatory text we might consider implementing context help across the preferences boxes. This help could open the appropriate section of the user guide in the user's default browser when F1 is pressed or when a Help button, added with OK and Cancel, is pressed.

I like the idea of using tool tips, but they will

[2017-11-09 10:21] bramd commented on #7727
@derekriemer Which model do you have?

[2017-11-09 10:56] xtstoll commented on #7727
@bramd I tested with a Focus 40 Blue using this build (nvda_snapshot_try-freedomscientific-native-14603,22490378.exe) on a pen drive, and the modifier keys still didn't work for me.

I did my repro from bug ticket here: https://github.com/nvaccess/nvda/issues/7706

Do I need to install anything else before trying again?

[2017-11-09 11:02] leonardder commented on #7727
@xtstoll: This behaviour is not covered by this new driver. The intended behaviour should be implemented in NVDA core itself in order for other displays to benefit from it as well/

[2017-11-09 15:20] Brian1Gaff commented on #7740
So why is it that on this  it hangs, but on a cut and pasted character it
says tamil and the character OK. Is there some subtle difference between it
in this message and what I tried by cutting and pasting it? Could there be
more than one character  together that causes the problem

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting '

[2017-11-09 15:39] Brian1Gaff commented on #7724
There must be machines still out there no 64 bit so this seems a little odd
to me. In the past did you not need both enabled to make accessible java
apps work reliable anyway?

I'm afraid I don't have any Java on this machine after the clunky
experiences on xp I used to get on such software.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder

[2017-11-09 22:45] ehollig commented on #7740
CC @feerrenrut. Could this possibly be due to updating ESpeak? Although, it appears testing the Master branch before that, it still occurs.

[2017-11-10 05:43] nvdaes commented on #6925
Here are results of Edge Evaluation with the ePUB Accessibility Test (fundamental, i.e., all items are required), not the optional tests.
In short, all test relative to file and Non Visual Reading pass, these last with comments. Some navigation and annotation tests fail. Comments and an NVDA log fragment are provided in the attached file.
Thanks
[Edge.txt](https://github.com/nvaccess/nvda/files/14

[2017-11-10 06:04] shadyar commented on #7724
@leonardder
#7724

hi
I do not know how you use JRE v9 x86 due to it has not been published by Oracle as an official final version. it seems JRE & JDK are published only for x64 machines
take a look at these pages
[official  JDK download page](http://www.oracle.com/technetwork/java/javase/downloads/jdk9-downloads-3848520.html)
[official  JRE download page](http://www.oracle.com/technetwork/java/ja

[2017-11-10 07:15] derekriemer commented on #7723
As far as I know, NVDA isn't messing with the key codes. Are you sure your NVDA is in focus mode?

[2017-11-10 09:32] Brian1Gaff commented on #7740
Not for me it does not.
I just tried it with before and after runs of the archives back on the 1st
of this month.

I'm using windows 7. I also note that it is in fact two chars  together.
This is the version merged in snap
nvda_snapshot_master-14578,d63f4ed4.exe
nvda_snapshot_master-14578,d63f4ed4.exe

The one prior is unaffected.
 Brian
bglists@blueyonder.co.uk
Sent via blueyonder.
Please address

[2017-11-10 09:40] zahra21 commented on #7618
hello again.
i think the x86 version of libreoffice is more stable and also more accessible.
moreover, you can use it in both 32 and 64bit versions of windows!

[2017-11-10 10:35] zahra21 commented on #4119
hello.
as i am not technical, i did not understand the reasons which you provided.
but the only solution for me is using file menu, preview in web browser to make temporary copy of my file in html format, opens my default web browser (for me firefox), and i read my file with firefox which requires more process and more usage of ram.
what should i do?
in a normal reading, nvda only reads one or two

[2017-11-10 12:04] bramd commented on #7736
A few things might be happening here, could you please answer these questions:

1. Which firmware version do you have? This can be displayed by scrolling down through the status info when the display is turned on and not connected,.
2. Does the Brailliant sleep during the sleep of your computer? This is a setting in the firmware configuration menu of the display. If set to a certain time, the disp

[2017-11-10 12:46] zahra21 commented on #7703
hello.
in libreoffice and openoffice (no matter which version i use), it seems that impress is not accessibile for blind users.
i cant read the content of presentation, i think that can only use page up or page down to navigate and read the header of each slide, but cant read its content using nvda!
i sometimes use tab and impress wants me whether i want to save the changes in the file or not.
i r

[2017-11-10 12:59] zahra21 commented on #7700
hello.
is it possible to read comments using navigator which can activate using f5?
i am not familiar with office programs very much, but i know navigator behaves like brows mode which we use with different browser for reading html contents.
God bless you and i sincerely appreciate your attention towards users of opensource office suites like libreoffice!

[2017-11-10 13:24] ondrosik commented on #7709
I can't reproduce it on my machine e. g. Foobar was working as expected, but my friend told me, that it is fixed in this provided version.

[2017-11-10 15:19] zahra21 commented on #4564
hello.
the problem of supporting calc for screen reader users, is resolved completely in libreoffice 4.3.4.1
in some versions (4.3, 5.0) you need to use f2 first to make it accessible.
in some versions like 4.4 and 5.1 you dont need f2 for accessibility and reading content of the cells.
i think that this bug should be closed and fixed.
in 5.2, i had many issues using calc, but it seems to be resol

[2017-11-10 15:54] zahra21 commented on #3498
hello.
i had this problem since libreoffice 5.2
it seems that its resolved in 5.3.4, but i am not sure completely.
do you mean that the problem occures in all versions of libreoffice and the only solution is desabling formula?
i appreciate your help, if the solution works for me,
God bless you all and his infinite mercy i pray for you.

[2017-11-10 19:47] Brian1Gaff commented on #7709
No I never got the crash to happen either.
I suspect you need a big playlist file.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-11 01:23] kayatli commented on #7722
This issue occurs for me as well with the latest NVDA Master build and the latest version of Foobar2000. this happens on on a playlist of local files.

[2017-11-11 01:47] ehollig commented on #3498
Closing as worksforme with the latest version of libreoffice 5.3.4 from https://github.com/nvaccess/nvda/issues/3498#issuecomment-343510486

[2017-11-11 01:47] #3498 closed

[2017-11-11 01:50] ehollig commented on #4564
Thank you @zahra21 for testing these libreoffice issues. Closing as worksforme

[2017-11-11 01:50] #4564 closed

[2017-11-11 09:24] Brian1Gaff commented on #7703
Remember, anything that is fixed in issues here will not run on XP versions
of Windows. I only mention this fact as I seem to recall your main machine
still ids xp based.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-11 12:00] leonardder commented on #7722
[**@Mohamed00**](https://github.com/Mohamed00) commented on [11 Nov 2017, 10:32 CET](https://github.com/nvaccess/nvda/issues/7722#issuecomment-343652372 "2017-11-11T09:32:17Z - Replied by Github Reply Comments"):

I edited #7737 in such a way that it will also close this issue as well as soon as the pr is merged into master.

[2017-11-11 15:49] gregjozk commented on #7733
Hi,

shell it help you if I sent you a protocol converter via postal service or DHL? my display is currently on a maintenance and repairment so I do not need it now.
If you guide or tech me I will also be glad to send you other materials to successfully develop a native driver for BC6 series.

regards, Jožef

[2017-11-11 17:28] leonardder commented on #7733
The most important thing is the protocol, so if you could assist in getting hold of that, that would be awesome.

[2017-11-12 01:44] Adriani90 commented on #7237
I can reproduce this with NVDA 2017.3 and Windows last update.

Here is what I get from debug. I guess that those oleacc.AccessibleObjects appear because I have pressed some keys on my keyboard while NVDA was frozen. But I might be wrong. So does anyone have a solution in mind?

DEBUGWARNING - watchdog._watcher (23:14:37.453):
Trying to recover from freeze, core stack:
  File "nvda.pyw", line 199,

[2017-11-12 01:51] Adriani90 commented on #7724
what restricts the NVDA project to become a 64bit software as well? The problem would be solved and NVDA would be equiped for future projects since there will be less and less applications in 32 bit.

[2017-11-12 03:44] Adriani90 opened #7742 "Speak enumeration signs and bullet shapes in MS Word"
[production process.docx](https://github.com/nvaccess/nvda/files/1464347/production.process.docx)
[symbole.zip](https://github.com/nvaccess/nvda/files/1464351/symbole.zip)
Steps to reproduce:
1. Open MS word and type following:
1. production process
1.1. planning
* Example
- part one
- part two
2. starting process
2.1. equipment requirements
a. raw materials
b. machines
c. packages

Expected behav

[2017-11-12 03:49] ehollig commented on #7237
Hello. Can you provide steps to reproduce? I could be wrong, but I do not believe the portion of the log provided provides enough information.

[2017-11-12 04:01] Adriani90 opened #7743 "Add option to disable automatic dynamic web content for a specific region of a webpage"
Steps to reproduce:
1. open this website with NVDA running
http://www.condenast.com/

Expected behavior:
NVDA should stay silent even there is dynamic content on the page.

Actual behavior:
NVDA reads every few seconds the dynamic content. Dynamic content is unchecked under object presentation, as well as tooltips and similar announcements. Animations are turned off in Internet Explorer or Firefox

[2017-11-12 04:11] Adriani90 commented on #7237
1. go into the browser
2. Press alt to open Menü bar
3. Press windows key out of the menü bar of the browser

However, it seems to be inconsistent since it does not occur very often. Could it have something to do with the UIA?

Best
Adriani

[2017-11-12 04:33] josephsl commented on #7724
Hi, portability matters because people use NVDA as portable copy, which runs as 32-bit app to maximize compatibility. Thanks.

From: Adriani90 [mailto:notifications@github.com]
Sent: Saturday, November 11, 2017 5:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] No X86 JAVA9 Access Bridge available might cause JAVA support

[2017-11-12 04:52] Adriani90 opened #7744 "Improve accessibility from NVDA's perspective"
Steps to reproduce:
Example 1:
1. Take an MS excel sheet with cells of different background color filled with text of different colors
2. Try to navigate between background red cells since it is allowed to fill only in red cells
Example 2:
1. Take a pdf document with track change of several users (letz say blue for inserted text from user 1, purple for inserted text from user 2; light red  for del

[2017-11-12 05:16] Adriani90 opened #7745 "NVDA feedback hub"
Steps to reproduce:
1. German user who does not speak any other languages
2. Would like to express his ideas / to upload his issues to the NVDA community

Expected behavior:
1. A new dialog should be created in NVDA (Feedback dialog) which can be accessed in the menu or by pressing a certain key stroke. The dialog contains a combo box where the user can choose his language and a second one where h

[2017-11-12 10:12] elliott94 opened #7746 "Windows 10: NVDA Silent on Cortana Search Screen when Laptop Lid Closed"
When typing anything into the Cortana search screen, NVDA is silent when my laptop lid is closed and I'm typing on an external keyboard. Search suggestions are automatically output as expected when the lid is opened; currently, I'm manually able to cursor around and focus on these after typing what I'm searching for. I can get developer info if that would help diagnose this.

[2017-11-12 10:49] Adriani90 commented on #7744
I have an additional suggestion.

In order to make this as interactive as possible, the ring of settings could be dynamic. That means for example if I choose Colors in the document formating section, then a new entry called "say color" is being generated. If I chosse font, then the "say color" section is now "say font". The standard keys could still remain y and x.
If I select "nothing" in the doc

[2017-11-12 10:53] Brian1Gaff commented on #7746
What make and model of laptop is it? Might be just a quirk of the bespoke
software in your laptop that deals with what happens when the lid is closed.
some go into a semi sleep mode others hibernate and others do nothing at all
or maybe switch the screen off.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in t

[2017-11-12 10:56] Adriani90 opened #7747 "Flexible ring of settings"
Steps to reproduce:
1. Certain users don't ned certain settings very often but some settings are of high importance for them
2. Some important settings would make the user experience much better if they could be changed directly out of the ring.

Expected behavior:
The user should have the flexibility to add or remove settings from the ring.

Actual behavior:
The ring of settings has not changed s

[2017-11-12 10:56] Brian1Gaff commented on #7724
Hi, but in Windows 10, NVDA portable is pretty  lame. Many bits of software
do not read, take as a for instance the list of issues in Ccleaner for
example. One assumes this is the use of UIA only being fully available to
trusted installed software.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display

[2017-11-12 11:03] Brian1Gaff commented on #7743
I have just tried this in firefox 52 on windows 7 but with the dynamic
content checked and nothing is being read other than what I go to read.
 What is the difference between 8 and 7 in this respect or is the page only
sometimes dynamic and I chose not one of those times? grin.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Bria

[2017-11-12 11:11] Adriani90 opened #7748 "Flexible browse mode"
Steps to reproduce:
1. Someone never uses for example letter m to jump between frames or letter l to jump between links
2. Letter x and y are needed for other functions than for check boxes and combo boxes
3. Check and combo boxes can replace the navigation keys for frames and links.

Expected behavior:
In the menu there should be asection called "browse more settings" or something like that. In t

[2017-11-12 11:14] Brian1Gaff commented on #7724
Would this not rather mean two versions as 32 bit systems are not going away
fast and one has to remember that free screenreaders are often used by those
who do not have much disposable income and so tend to use older hardware.

I also seem to recall reading that there was a Java access bridge for 32 bit
systems its just not the latest all singing and dancing one. I also recall
both bridges needed

[2017-11-12 11:19] Brian1Gaff commented on #7237
I seem to recall a similar log to this one in another issue a while back. I
commented at that time about the extra errors to do with speech synth sapi5
was a red herring, are these two issues maybe the same issue?
 Sorry cannot remember which it was!

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the displa

[2017-11-12 11:27] Adriani90 commented on #7724
I found a very interesting discussion on this here:

https://portableapps.com/node/24371

Why can NVDA not become a hybrid version?
Alternatively, in case a hybrid version is not feasible, nowadays we don't have really big problems with respect to enough storage on a stick anymore. Sticks with even 32 gb can be bought for 15 USD or cheaper. So why not having the possibility to install 64bit and 32

[2017-11-12 12:34] Adriani90 commented on #7743
Yes sometimes is more dynamic. Try to load the page in internet explorer.

Von: Brian Gaff [mailto:notifications@github.com]
Gesendet: Sonntag, 12. November 2017 12:03
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Add option to disable automatic dynamic web content for a specific region of a

[2017-11-12 12:45] Adriani90 commented on #7743
In firefox seems to depend on a certain plug in which displays the content properly. But I couldn’t found yet which one. It could be any video player or codec.

Try to load the page in Internet explorer.

Best

Adriani

Von: Brian Gaff [mailto:notifications@github.com]
Gesendet: Sonntag, 12. November 2017 12:03
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com

[2017-11-12 12:49] Adriani90 commented on #7743
It seems like NVDA interprets the output of some video codecs different than jaws does. Otherwise I cannot explain why the other screenreader does not have this problem.

Von: Adriani Botez [mailto:adriani.botez@googlemail.com]
Gesendet: Sonntag, 12. November 2017 13:45
An: 'nvaccess/nvda' <reply@reply.github.com>; 'nvaccess/nvda' <nvda@noreply.github.com>
Cc: 'Author' <author@noreply.github.com>

[2017-11-12 12:52] PratikP1 commented on #7237
@Adriani90 commented

Can you provide a full log of when this occurs? I'm not able to reproduce this with any browser installed on Windows 10 1709 build 17035.100. I haven't seen a freeze occur on Windows builds like this in a while. The next thing to check is whether this problem occurs when Narrator is running. It could be problematic to check if the browser referred to is anything other than Ed

[2017-11-12 12:56] josephsl commented on #7745
Hi, this is what user lists are for: we do have folks over there who can translate messages and post feedback on their behalf. Also, note that not all feedback we get are strictly NVDA or accessibility related. But because this may spur follow-up discussions (including a second round of talks at NVDACon later), I suggest keeping this open. Thanks.

From: Adriani90 [mailto:notifications@github.com]

[2017-11-12 12:57] PratikP1 commented on #7743
I have not been able to replicate this behavior in Firefox 56 or Nightly. I was able to do so in IE. I tested with both dynamic content enabled and disabled. It appears to make no difference. I rather suspect that this issue is related to the particular web site rather than NVDA’s behavior.

[2017-11-12 13:24] Adriani90 commented on #7237
Attached the log file.

I think I come behind the problem slowly.

1. Start NVDA
2. Start Jaws
3. Stress the screenreaders by pressing the Windows key and then alt + tab. NVDA freezes but jaws not.

It also occurs when you exit NVDA, start jaws, exit Jaws and then start NVDA again. The probability for this issues rises significantly.

I guess it is due to the changes jaws temporarely causes to the

[2017-11-12 13:31] Adriani90 commented on #7743
I think rather that it is the way NVDA interacts with video codecs. IE seems to display the content properly due to its codecs. But other screen readers do not have this problem.

Von: PratikP1 [mailto:notifications@github.com]
Gesendet: Sonntag, 12. November 2017 13:58
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betr

[2017-11-12 13:56] Adriani90 opened #7749 "Lock navigation or review mode"
Steps to reproduce:
1. You have an application where you have to use diferent navigation modes (browse mode, object navigation, and screen review)
2. you need very often the object navigation and the browse mode (for example in Outlook when you are dealing with Calendar including files and long messages)
3. you want to use just the object navigation for more than 3 minutes to do some actions, afte

[2017-11-12 13:59] Adriani90 commented on #7237
I have also tried it with all addons deactivated. It does not make any difference.

[2017-11-12 19:20] school510587 opened #7750 "Let users decide the order of rules in the list of speech dictionary"
It is suggested that NVDA add two buttons (e.g. "Move Up" and "Move Down") to change the order of rules in the speech dictionaries.
Because regular expressions are allowed, there may be some situation that a string matches more than one rule.
For example, I want to define rules that NVDA should tell me a fraction is encountered when two numbers separated by a slash are present with proper modifier

[2017-11-12 23:01] fernando-jose-silva commented on #7745
I see that some discussion lists like the one in Portuguese Brazil are almost inactive.
Very few e-mails come to her, and when she asks herself something in it the answer takes a long time to come, this when it comes.
The attention gained when opening a call in github is much greater.
I used to talk to you, I used the google translator, and although it looks awful you always supported me.
My sugge

[2017-11-13 07:20] feerrenrut commented on #7740
I have confirmed that this issue is not present in d232c913, if the later of d63f4ed4 is the first in which this problem happens, then there are 3 commits it could have been due to:
- Update espeak (PR #7583) 9e8c05fbdba102bef7ce334e21a439ec8be82bb2
- Update changes file for PR #7583 0ff1224ad84762ae75242047af2b76de779d58f7
- Move voice dict files (PR #7666) d63f4ed4710631e773aca13246bf52049fa7c60

[2017-11-13 09:33] Brian1Gaff commented on #7740
Yes as I said. the dictionary change only affects orphaning off files with
the old name construct so should not affect normal performance at all.
 I agree.
 maybe its not being trapped correctly somewhere or something really daft.
is there any way to stress test espeak with every known code to see if there
are any other gotchas waiting out there?

One other issue how is it that the characters are

[2017-11-13 09:37] feerrenrut commented on #7740
This approach means that emoji will not be supported for Tamil. Please try the following build to confirm that the problem is resolved and leave a comment here. https://ci.appveyor.com/api/buildjobs/ux1v4wj356282hqg/artifacts/output%2Fnvda_snapshot_try-i7740-fixEspeakFreezeWithTamilEmoji-14614%2C6f53b534.exe

[2017-11-13 09:37] Brian1Gaff commented on #7750
That is a bit like the old email rules in Outlook Express worked where you
could move them around and by careful use of and stop processing more rules,
it was far easier to make things only go where you wanted them
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-13 09:43] Brian1Gaff commented on #7237
I thought graphic driver interference ended on xp? That display chain driver
always did give a headache, even when I used to use Supernova it kept
complaining it was not loaded correctly, reboot the machine.
 In newer versions of windows this seems pretty benign to me, but of course
I'd be very wary having several screenreaders running at exactly the same
time, personally.
 Brian

bglists@blueyond

[2017-11-13 09:48] Brian1Gaff commented on #7743
Well, what can I say, I have no extra things loaded and I do use the klite
codec pack but that is really only relevant on embedded or rich content I'd
have thought. The rest of the time its using the generic loaded with firefox
extensions and add ons.All I have are the flash and normal ones and in the
add onse  navigational sounds and the ublock Origin advert remover.

bglists@blueyonder.co.uk
Sen

[2017-11-13 09:54] Brian1Gaff commented on #7724
I would say that only properly installed versions of a screenreader are
allowed to access some of the accessibility APIs and hence I do not see how
you can have a portable version which is installed as well and both will be
able to see the uia data etc needed.

Catch 22 and all that.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk,

[2017-11-13 09:54] Brian1Gaff commented on #7748
I'd not say this is a good idea, say for example one user had gone mad and
redefined lots of these then another user  came along and found all the
usual keys did other things.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-13 10:02] derekriemer commented on #7740
This fixes the unrelated tamil freeze I saw when opening voice settings after setting the language. Not sure if it fixes the original issue.

[2017-11-13 10:17] derekriemer commented on #7743
Are you asking for a feature to make live regions on websites (Dynamic content which speaks as info changes) be controlled by the dynamic content changes feature?

[2017-11-13 10:22] derekriemer commented on #7748
Closing as works. This feature already exists.

1. Open a browser.
2. visit the NVDA menu, preferences, then input gestures. Move to the browse mode category, then expand it, and add/remove the keys you want there. Note that you actually can remove entries here, or change a key, (I actually map find to / and find next/previous to ' and ;.

[2017-11-13 10:25] feerrenrut commented on #7740
Thanks Derek, is there an open issue for the voice settings problem? I couldn't find it. If so, could you comment it on the PR #7751

[2017-11-13 10:39] Brian1Gaff commented on #7743
In the original thread which was on the user list the person complained that
a particular page kept speaking the active area no matter what switches were
on or off. as it was a page internal to his company, nobody could test it,
so somebody then supplied a page where it happened but for me at least it
was fine, and yet others were saying it was r3epeating some info every few
seconds.
 I think its

[2017-11-13 11:03] Adriani90 commented on #7748
oh thanks for that Derek. I will create a new issue to propose linking all browse mode Navigation key also to Office products and such. Cause as of now there is not a Definition of e for edit fields or c for Combo boxes in MS word or o for objects in MS Outlook..

[2017-11-13 11:18] Adriani90 opened #7752 "Add support for all browse mode navigation keys in MS Office products and improve navigation through forms by pressing tab"
Steps to reproduce:
1. Run MS Word or MS Outlook with a template for a certain form containing formfields, headings, links, embeded objects etc.
2. Try to fill in the form by navigating in browse mode from edit field to edit field or try to jump between embeded objects
3. Try to navigate through the formfield in MS word by pressing tab.

Expected behavior:
NVDA should let me navigate either in bro

[2017-11-13 11:27] Adriani90 commented on #7743
That with the company page was me indeed. We implemented a sharepoint solution at work and the behavior is the same as on the website above. It is the same one which I have posted in the treat. at work I have the problem in Firefox eather, but not at home. At home the problem still persists in Internet explorer.

It occurs only with NVDA.

On the sharepont site there is exactly the same kind of em

[2017-11-13 11:29] Adriani90 commented on #7743
Sorry for the spell errors guys, I am little bit in hurry.

Thanks for your help.

[2017-11-13 11:58] DrDento commented on #7736
The Firmware number is 2.3.01
Auto-power off is disabled

[2017-11-13 12:06] Brian1Gaff commented on #7743
The weird thing is that in firefox on that public page the embedded element
seems to be totally empty to me, and one has to get out of it to continue to
use the page. I'll try the IE  one, but this seems to me to be that we are
missing something somewhere here, but cannot pin it down.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk,

[2017-11-13 13:09] Adriani90 commented on #7743
So, I've finally found the trigger for this. Java seems to be the problem again. If your Java works properly in Firefox, then you will have this problem in Firefox as well. I have disabled Java in about:config and there was no problem anymore. I have enabled it again and NVDA begins speaking all the time. It seems to be a problem in NVDA regarding Java script in browsers. I have searched in about:

[2017-11-13 13:37] Adriani90 commented on #7237
Well, they are not always running at the same time but for some applications Jaws wrks better, so I exit NVDA, start Jaws, end my work, exit Jaws and start NVDA again. And the problem occurs then quite often.

[2017-11-13 14:37] yassinmmoussa opened #7753 "NVDA does not recognise Java Swing UI elements"
Steps to reproduce:

1. Create a new Java Project on Eclipse Neon
2. Initialize JFrame, add one Jbutton, one JLabel, one list and one text field
3. Set Accessibility Name and Description for all the above elements
4. Compile and run with NVDA running in the background
5. Notice that NVDA does not recognise the UI elements at all

Expected behavior:
NVDA should read out the name of the Button when

[2017-11-13 14:43] ehollig commented on #7740
@feerrenrut, this try build fixes the issue for reading the symbol both in English and Tamil.
Interestingly though, in NVDA master-14609,14811579 when I read the symbol, it appears as if there is one character when reading character by character. When using this try build, it appears that there is two characters.
I think the issue @derekriemer is referring to is, NVDA froze when he was checking th

[2017-11-13 15:04] Brian1Gaff commented on #7740
Yes i tried to make this point earlier. I was very surprised that it was
triggered in the UK English version of Espeak, I guess because it is capable
of switching its language.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-13 15:06] Brian1Gaff commented on #7743
That makes sense as this machine has no Java installed on it. Its more
trouble than it is worth. I remember on XP I was forever being told that
Java was insecure and the  add on was disabled, so what is the point I
thought.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-13 15:08] Brian1Gaff commented on #7743
Are you confusing javascript with Java though. its not entirely clear as
I've most certainly not changed javascript in firefox and its on by default.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-13 16:21] govsta1981 opened #7754 "Zoom Does Not work As Expected with NVDA"
### Steps to reproduce:

1. Go to this link and install the zoom client: https://zoom.us/download
1. Install the program.
1. When you launch the program, tab to either "start a meeting with video", or "start a meeting without video". Press enter on either of these buttons.
1. Press alt+a to mute or un-mute your audio. Press alt+v to turn your video on or off.
1. Press alt+h to open the chat panel.

[2017-11-13 18:33] dkager commented on #7753
Did you enable the Java Access Bridge through Control Panel --> Ease of Access --> Use the computer without a display?

[2017-11-13 18:47] ehollig commented on #7747
Could this be accomplished with configuration profiles? For example, you could have one profile announce font size and font attributes while another profile had these disabled. Then, with implementation of #4209, you could press a keystroke to switch between the manual activated profiles. Leaning to a close in favor of #4209

[2017-11-13 18:53] ehollig commented on #7746
@elliott94, what do you have set in your power options under additional power settings. There should be an option, "Choose what closing the lid does". When I close my lid, I have it do nothing when plugged in and do not experience the issue you are having. So as @Brian1Gaff says in https://github.com/nvaccess/nvda/issues/7746#issuecomment-343728545, it could be something specific with your compute

[2017-11-13 18:55] Adriani90 commented on #7747
Hello,

this would not solve the problem since you would have to define which font and which color should be activated for which profile. This is far to complicated for an usual user since you have to do lots of settings for each profile. There are to many keystrokes on the market at this point. Narator has hundreeds, jaws as well and now NVDA as well. I think the best way is to adjust the setting

[2017-11-13 19:05] ehollig commented on #7744
If I understand you correctly, you would like the ability to jump to the next and previous instance of the same font type. So, possibly add a unbound script to navigate to the next and previous font attribute, color, name, etc.
Personally, I am not in favor in having a long list of options in the quick settings ring as I feel that this could be achieved with configuration profiles and possibly the

[2017-11-13 19:38] Adriani90 commented on #7744
But then I have to remember every time which profile was set for which color to press the right keystroke. If I have 10 profiles because I have an excel where I have to fill in the red cells, a pdf where I have to search for purple track change, a word document where I have to search for yellow highlighted text, a browser page where I have to solve a webinar and so on, there are too many keystroke

[2017-11-13 23:21] smokymcbear commented on #7723
As far as I know, I'm using the default settings for NVDA since I have not touched any settings since downloading it. Does the default settings include being defaulted to focus mode?

I'm currently looking around the settings/preferences and I don't happen to see a focus mode. I only see a browse mode. @derekriemer May you please direct me to activate focus mode?

Sorry but the example I provided

[2017-11-13 23:58] derekriemer commented on #7740
no, if I checked a box in any setting dialog with tamil, it would freeze.

[2017-11-14 00:03] derekriemer commented on #7723
you should read section [6 of the users guide](https://www.nvaccess.org/files/nvda/documentation/userGuide.html).

[2017-11-14 00:20] smokymcbear commented on #7723
I see, thank you for the guide and apologies for my ignorance. Yes, @derekriemer NVDA is on focus mode.

[2017-11-14 00:26] derekriemer commented on #7723
NVDA is in focus mode, and it isn't working as expected? When I tried testing this in focus mode, it worked fine.

[2017-11-14 00:43] smokymcbear commented on #7723
While in NVDA focus mode, the `console.log()` is not registering but for some reason, I'm able to correctly arrow key up and down accordingly.

While **not** in NVDA focus mode, the `console.log()` is registering and the order only goes up regardless of whether I use arrow key up or down(sorry for the poor code example but it still shows the problem I'm having with NVDA).

[2017-11-14 02:05] yassinmmoussa commented on #7753
Apparently not ^^
Thank you for the quick response and sorry for the inconvenience.

[2017-11-14 02:05] #7753 closed

[2017-11-14 02:45] khsbory opened #7755 "[Bug Report] reading rich editbox in NVDA and Chrome"
Hello, I'm Hyongsop Kim in Korea.
I want to report one issue regarding rich multi line edit box within chrome browser with NVDA most next version.
In chrome, once I type several lines in general text area multi line edit box with some blank line, if I read through lines with arrow keys, there is no problem in NVDA next version.
But in rich edit box, like gmail, once I type several lines with some

[2017-11-14 04:26] bhavyashah commented on #7755
Confirmed using other rich edit fields such as the one on Quora and
several versions of Chrome and NVDA. Given the commonness of this
issue, I am positive that a duplicate might already be in existence on
the tracker, possibly concerning another manifestation of this same
buggy behaviour.

On 11/14/17, khsbory <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across

[2017-11-14 04:30] ehollig commented on #7755
Possibly related, #5115. Although that deals with Firefox, and this is specifically
 discussing Chrome. Sounds as if the issues are similar though.

[2017-11-14 05:05] derekriemer commented on #7723
Did you change the code example to emit the console.log? Sorry, I wasn't aware it had changed. The general idea is that your key press won't fire while in browse mode, because the user is dealing with a virtual document.

[2017-11-14 08:32] slannon97 opened #7756 "Live Regions are Not Displayed in Braille"
When live region information on a web page changes, the new information is only spoken through speech. The Braille display does not update to show this information. I am using NVDA 2017.3 on Windows 10 build 16299.19. I'm using Chrome 62.0.3202.94. I also tested this in Internet Explorer 11 and receive the same result.

For an example, go to https://dequeuniversity.com/library/aria/content-feedbac

[2017-11-14 09:42] #7740 closed

[2017-11-14 10:11] feerrenrut commented on #5383
I haven't thought this through at all, but my first thought on how to approach this would be replacing the boolean `_hasInstance` with a composite type, including the class type of the instance (and `None` when there is none) and a function to give it focus, perhaps even a function to close it. Then the check can tell if the dialog attempting to be opened is the same as already opened and give it

[2017-11-14 10:19] feerrenrut commented on #5590
Giving this a priority 2, this area of the code should at least be investigated to see if there is an obvious error that we can fix.

[2017-11-14 11:05] zersiax commented on #7744
Sounds to me like what the OP is asking for is akin to the speech rotor on iOS. I.E., allow user to add/remote certain settings from the settings ring and also add context-sensitive options to the ring when applicable, i.e. if report color is on you could dynamically add the option to move between font changes; moving to every different color in the given document will probably not be feasible tho

[2017-11-14 11:32] ThomasStivers opened #7757 "Context Sensitive Help in NVDA Dialogs"
### Steps to reproduce:

* NVDA has a well thought out user guide, but it is prohibitively long for new users. A new user needs to be able to get help relevant to what they are doing while they are working in various dialogs and controls with NVDA.
* Some controls in NVDA preferences dialogs have long labels which cause them not to fit well visually (see #6345). These labels can be shortened if ad

[2017-11-14 12:52] Adriani90 commented on #7744
Why should that not be feasible? If NVDA knows which part of the text is green and which one is red, than it could navigate to that. The ability is there. We just have to implement it. It is the same when you try to navigate between edit fields. They are properly definded. Colors, fonts and text types are defined as well. For example if I have an excel sheet with cells of different colors, the col

[2017-11-14 16:17] #3935 closed

[2017-11-14 18:01] smokymcbear commented on #7723
@derekriemer Yep, I just added a `console.log()` within the switch case statement for both `keycode.UP` and `keycode.DOWN`.

To be more specific with this issue, when I said previously, "While **not** in NVDA focus mode", I mean that while I am not running the NVDA screen reader program at all, the `console.log()` is being registered and while I am running NVDA in focus mode, the `console.log()` i

[2017-11-14 19:09] Adriani90 commented on #7237
Could we please open this issue again?

[2017-11-14 21:30] #7709 closed

[2017-11-14 21:30] #7722 closed

[2017-11-14 22:22] Adriani90 opened #7758 "NVDA does not behave consistently when navigating with tab in certain dialogs in ms office 2016"
Steps to reproduce:
1. Type something in a cell in ms excel 2016
2. Press the context menu key and go to formating cells
3. Press tab and shift tab.

Expected behavior:
NVDA should read the font type and so on when navigating by pressing tab and passing the combo boxes. Ideally first the entry which is selected and after that if it is a combo box or what so ever.

Actual behavior:
In several dialo

[2017-11-14 22:41] Adriani90 opened #7759 "make object navigation user friendly by optional restriction for current window, locking feature and quick navigation keys"
Steps to reproduce:
1. Go in any application (browser ms office, Winamp etc.)
2. In Laptop layout press NVDA + Shift and start navigating by objects

Expected behavior:
NVDA should allow me to restrict the object navigation for the active window or at least for the applications which are not minimized. Additionally, certain Actions should be more intuitive in this Navigation mode (i.e. adding quic

[2017-11-14 22:46] josephsl commented on #7759
Hi, this is a good project for beginners to learn more about object hierarchy and related components. Thanks.

From: Adriani90 [mailto:notifications@github.com]
Sent: Tuesday, November 14, 2017 2:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add support to restrict object navigation just for applications which are not mini

[2017-11-14 23:01] Adriani90 opened #7760 "Screen review does not work properly in windows 10 and newest updates of several applications"
Steps to reproduce:
1. Press NVDA + numpad 1 or 7 (desktop layout) or NVDA + page up and page down to change between review modes
2. Try to navigate the screen in screen review mode

Expected behavior:
In screen review , NVDA should allow me to navigate the whole active window and should read the text which is visible on the screen.

Actual behavior:
In all applications in Winbdows 10 NVDA says on

[2017-11-14 23:25] ruifontes commented on #7760
Please, before opening a ticket, please read the manual...

In this case, please read section 5.6.2 about document review.

Regarding screen reader, I think the fault is not from NVDA, but from the
way the new apps are made. Normally, with object review is possible to read
those apps...

Rui Fontes

-----Mensagem Original-----
De: Adriani90
Data: 14 de novembro de 2017 23:01
Para: nvaccess/nvda
Cc

[2017-11-15 00:24] Adriani90 commented on #7760
Hey Rui, thanks for your comment. I have red the manual before. But it was a mistake which i have done for document review. It works properly. But screen review does not work. I have just edited my ticket accordingly.

You are right, in most cases you can navigate by object navigation, but in some cases screen review is much faster since it gives you an overview of more objects in a very short tim

[2017-11-15 00:34] ruifontes commented on #7760
Hi Adriani!

You wrote:
You are right, in most cases you can navigate by object navigation, but in
some cases screen review is much faster since it gives you an overview of
more objects in a very short time. It would be a shame if this very good
method of navigation is being abandoned just because applications come with
new technologies.

I don't believe that screen review is being abandoned...
It

[2017-11-15 00:39] josephsl commented on #7760
Hi, @MichaelDCurran, any expert opinions are appreciated. Thanks.

From: ruifontes [mailto:notifications@github.com]
Sent: Tuesday, November 14, 2017 4:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Screen review does not work properly in windows 10 and newest updates of several applications (#7760)

Hi Adriani!

You wr

[2017-11-15 00:50] ruifontes commented on #7759
In my opinion, such restriction should be an option having unrestricted as
default.
When wanted, or when necessary, the user will activate the restriction.

Exactly going up untill Desktop and then investigating all open apps is the
method I normally use to explain the concept of objects...

Rui

-----Mensagem Original-----
De: Joseph Lee
Data: 14 de novembro de 2017 22:46
Para: nvaccess/nvda
Cc:

[2017-11-15 01:57] feerrenrut commented on #6282
We can agree that it's annoying that the aria-label speech is cancelled when the NVDA encounters a menu item, especially if valuable context is given in the label. In this case (menuitems in a web browser) there is less chance of being too verbose (than say in a windows application). I will give this a priority 3 to change the behaviour in this way (not cancel speech when encountering a menu / men

[2017-11-15 03:13] feerrenrut commented on #7723
Firstly there is a bug in https://codesandbox.io/s/r54j2mqrl4
[code]
the `break` is missing. You are falling through to the `keyCode.UP` case. Meaning, pressing the down key first runs the keydown code, and then the key up code.

For me this code has the same behaviour without NVDA and with NVDA while in focus mode.

If you are new to NVDA:
- I would suggest turning off the audiocons for browse an

[2017-11-15 03:22] feerrenrut commented on #7746
I think the suggestion by @elliott94 is worth pursuing first. One question, can any sound be heard from the laptop? Perhaps the audio device is disabled when the lid is closed?

[2017-11-15 05:43] feerrenrut commented on #7759
@ruifontes I can understand that requirement. Settings have the downside that they are hard to discover, and annoying to toggle. Rather than a setting, how about the following:

When the object hierarchy reaches the limit of the application after the user presses `NVDA+shift+up arrow`, NVDA reports the object name again, and appends "at the limit of the application object hierarchy, press twice to

[2017-11-15 05:50] feerrenrut commented on #5152
Can also confirm this is fixed with `next-14617,ef52ddc4`

[2017-11-15 05:53] puru0019 commented on #7037
Even i am facing the same issue same as @nileshpenta

[2017-11-15 06:26] feerrenrut commented on #7760
@Adriani90 Could you please edit the description on this issue, please update the steps to reproduce so they are specific to an application that demonstrates the issue you encounter. Also specify the speech you actually got from NVDA (or specify 'no speech') as well as the actual speech you expect? If you wish to describe several applications, you may provide multiple sections of "steps to reprodu

[2017-11-15 07:14] feerrenrut commented on #7037
I couldn't reproduce the problem using IE 11 and NVDA Version: `next-14617,ef52ddc4` with the https://patrickhlauke.github.io/recaptcha/ site.

It could be a problem with a specific version of the capture, the only version identifier I could find was on the URL of the recapture Javascript: `https://www.gstatic.com/recaptcha/api2/r20171109115411/recaptcha__en.js`
Indicating it is:
- api version 2
-

[2017-11-15 08:56] Brian1Gaff commented on #7759
Yes this has caught me out before as well. However in a way this echoes what
can happen with nvda/b, its not all the time and I've no idea wat the
controlling factor is for any window.

Sometimes I find myself wanting an nvda/b that simply steppes to an
actionable object and stops to allow maybe an action say nvda keypad enter,
or carry on to next object as well.
 Brian

bglists@blueyonder.co.uk
S

[2017-11-15 09:01] Adriani90 commented on #7760
Well the approach is the same in every application. I expect, when in screen review, NVDA to let me explore the application window  from from very up to very down. Objects do not have to be recognized as such, but all the text. For example in MS Outlook I have several objects on the same line and in Screenreview on Windows 8.1 and Outlook 2010 NVDA says for example following:
Insert Address book N

[2017-11-15 09:01] Adriani90 commented on #7760
I have edited the description. Hope it helps.

[2017-11-15 09:12] puru0019 commented on #7037
I am still facing the same issue in IE11 with NVDA 2017.3 and https://www.gstatic.com/recaptcha/api2/r20171109115411/recaptcha__en.js

[2017-11-15 09:43] feerrenrut commented on #7758
Can you give specific information about a control that you can not access?

I tried the following with Excel 2013:
1. type into a cell ( dont press enter or otherwise leave the cell)
1. open the context menu and select formatting
1. press tab and hear "Font:blank"
1. press the up and down arrows to select different fonts.

Actual:
NVDA announces "blank"

Expected:
The names of the fonts should be

[2017-11-15 09:59] feerrenrut opened #7761 "Excel 2013 crash when quitting NVDA"
### Steps to reproduce:
I tried the following with Excel 2013:
1. type into a cell ( not press enter or otherwise leave the cell)
1. open the context menu and select formatting
1. press tab and hear Font
1. press the up and down arrows to select different fonts.
1. quit NVDA with `NVDA+q`

### Expected behavior:
Excel should not crash

### Actual behavior:
Excel crashes

### System configuration:

[2017-11-15 10:12] feerrenrut commented on #7757
This sounds like a good idea. Happy to accept a PR for this, though I would suggest the work is split into 3 PR's one for each of the points listed under expected behaviour.

[2017-11-15 10:15] feerrenrut commented on #7756
@slannon97 could you please update the description to include instructions for how to demonstrate the problem, please include the URL to the web page you are using, and the name of the web browser you are using.

[2017-11-15 10:20] Adriani90 commented on #7758
Yes but when I type something it has a certain type selected already. But NVDA apparently does not recognize the entry in the Combo box. When I choose for example times new Rroman with the arrow keys and press ok and go back to check if it's selected, NVDA says "blank" again.

As far as other elements are concerned, the issue seems to be more bovious in MS Office 2016.

[2017-11-15 10:25] Adriani90 commented on #7758
This issue might not be important if it would occur only in this Dialog. But there are lots of dialogs where the same issue appears.

Imagine you have a Dialog with many Settings and lots of them are structured in Combo boxes. You would have to press down arrow and then up arrow on every combo box to find out which Setting was actually selected.
In my opinion there is a General issue in Combo boxe

[2017-11-15 10:30] Adriani90 commented on #7761
I think this is not a NVDA issue. I have encountered similar behaviors with past versions of MS Office. Did you try to reinstall it?

[2017-11-15 15:03] jmuheim opened #7763 "Why does Insert+F7 not work when focusing a text input?"
In both Firefox and IE, when focusing a text input, `Insert + F7` wants to turn on caret browsing - instead of displaying the elements list.

Is this a bug? Interestingly, for other keyboard shortcuts using `Insert`, this doesn't seem to be a problem, e.g. `Insert + N` always shows the NVDA menu, even when focusing a text input.

[2017-11-15 15:28] leonardder commented on #7763
Insert+f7 is a key which is specifically bound to browse mode. When you have focused an input field, focus mode is active, so browse mode specific keys, including insert+f7, aren't in use by NVDA.

[2017-11-15 15:28] #7763 closed

[2017-11-15 15:30] jmuheim commented on #7763
That's exactly what I guessed.

But why is it different for e.g. `Insert + N`?

[2017-11-15 15:59] ehollig commented on #6814
Should this issue be closed now? CC @josephsl

[2017-11-15 16:00] josephsl commented on #6814
Hi, closure is long overdue. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Wednesday, November 15, 2017 7:59 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] What's new: entries older than 2010.2 are gone (#6814)

Should this issue be closed now? CC @josephsl <https:/

[2017-11-15 16:12] PratikP1 commented on #7758
I believe the title of this bug report should be changed to reflect the issue outlined—namely, “NVDA does not read all controls in Excel 2016’s formatting dialog.”

[2017-11-15 16:13] #6814 closed

[2017-11-15 16:22] PratikP1 commented on #7758
@Adriani90 commented
< This issue might not be important if it would occur only in this Dialog. But there are lots of dialogs where the same issue appears. Imagine you have a Dialog with many Settings and lots of them are structured in Combo boxes. You would have to press down arrow and then up arrow on every combo box to find out which Setting was actually selected. In my opinion there is a Gener

[2017-11-15 16:38] Brian1Gaff commented on #7758
Yes I just ran a very old version of word 2003, and noted this on fonts
which I was trying to change on a block of selected text, so its as if its
kind of once removed from the actual item its trying to  read.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-15 16:42] Brian1Gaff commented on #7761
Also I notice many office  executables though closed according to how
windows looks if you look in the running programs and processes you can
refresh all you like and it remains. Of particular annoyance are runtimes of
access databases, which can actually delay windows shut down for quite a
while with the usual  little thing about close wait for it to do something
etc, but no matter what you do it

[2017-11-15 17:11] slannon97 commented on #7756
I've updated the description. Let me know if you need more information.

[2017-11-15 19:51] ehollig commented on #4266
Pretty old issue but:
@jcsteh commented on [Jul 12, 2014, 3:43 AM MDT](https://github.com/nvaccess/nvda/issues/4266#issuecomment-155321866 "2014-07-12T09:43:57Z - Replied by Github Reply Comments"):

This is still true using Firefox 57 and latest NVDA.

This is only the case when navigating from one month to the next. It appears the next month has to load to be visible on the screen before NVDA re

[2017-11-15 21:11] craigbrett17 commented on #7710
I wouldn't want it coming up in the welcome screen myself. Speaking as someone who's just failed to prevent the update and had to try jumping to the beta to see if it will get resolved even sooner.

That being said, this hit me at work today unexpectedly. They've got some nerve gloating about its speed! It's like Kim Kardashian gloating about her prospects for a doctorate.

I'd suggest a better ap

[2017-11-15 23:47] smokymcbear commented on #7723
Hi @feerrenrut , I believe I found the cause of this issue.

I am currently developing on a mac while running a VM of windows 10. Because I was using a VM to run the windows 10 environment, for some reason I was not able to capture the caps lock + space key press in the VM, thus not enabling focus mode.

Just today, I have gained access to a tangible windows 8 device to which I've tested the code

[2017-11-15 23:47] #7723 closed

[2017-11-16 02:02] Adriani90 commented on #7758
No it is in several dialogs. This is just an example to reproduce it.

Von meinem iPhone gesendet

[2017-11-16 02:22] feerrenrut commented on #4266
I tested this with "Demo 1" on [their demo](http://freqdec.github.io/datePicker/demo/) with Firefox 57.
1. While in browse mode, I could tab to the button. NVDA reads "Show Calendar menu button  subMenu  clickable  Show Calendar"
1. Then pressing `Enter` and the calendar is shown, however NVDA does not read anything.
1. Pressing the the keyboard shortcuts, nothing happens.

If focus mode is set ma

[2017-11-16 02:35] feerrenrut commented on #7758
@Adriani90, first it's important to ensure we are observing the same behaviour in one specific case. Then we can list a few other cases where a similar problem seems to exist. Can you confirm for me that you get the behaviour described in:  https://github.com/nvaccess/nvda/issues/7758#issuecomment-344539297

@PratikP1 You may be right that there is little we can do to fix this case in a general wa

[2017-11-16 10:04] Brian1Gaff commented on #7710
Also of course some of us have failed miserably to get the new firefox to
even read page content despite all the checkboxes being set as they should
be. also any sounds you had set up in ff will be gone forever along with
many other add ons.

I use windows 7, and thus far now I've moved to the esr release no prompt to
update has occurred. I say prompt as I learned a long time ago not to let ff
jus

[2017-11-16 11:26] Adriani90 commented on #7758
So with NVDA 2017.2 on Windows 8.1 and MS Office 2010 works everything properly. NVDA 2017.3 on Windows 8.1 and Office 2010 as well. Not so 2017.3 on Windows 10 and Office 2016.

[2017-11-16 12:23] Adriani90 commented on #7758
Could it be an issue related to Windows 10?

[2017-11-16 12:24] Adriani90 commented on #7758
@ Brian did you encounter that issue in Office 2003 on Windows 10?

[2017-11-16 15:06] leonardder commented on #7488
Here is a new try build for Eurobraille displays:

https://ci.appveyor.com/api/buildjobs/lh7ch81jysq61q5b/artifacts/output%2Fnvda_snapshot_try-eurobraille-native-14624%2C539d139b.exe

This driver implements many more keyboard assignments, not yet added to the user guide. Also, scrolling is implemented for Esytime and Iris, as well as other functions.

[2017-11-16 15:32] Adriani90 opened #7764 "adjust voice language automatically to application language for object type and state"
Steps to reproduce:
1. Open a Programm where Status of objects is being reported by NVDA (i.e. Excel sheet with locked and unlocked cells, MS Outlook with e-mails containing attachments, a Website in a browser). Navigate through the elements
2. Be sure that the application language is similar to NVDA language (i.e. english)
3. In the application you have text in a different language (i.e. german)

[2017-11-16 15:47] Adriani90 opened #7765 "Allow multiple instances of installed NVDA"
Steps to reproduce:
1. Find an issue which is not easy to atribute to NVDA
2. Test if that issue occurs in several installed / portable NVDA versions

Expected behavior:
In order to create high qualitative issues, sometimes comprehensive tests have to be conducted. Therefore, it would significantly ease the tests if multiple instances of NVDA could be installed on a PC. This would also be a good w

[2017-11-16 15:54] josephsl commented on #7765
Hi, no, people can create portable copy without installing one first (as someone mentioned yesterday, I too am wondering if we need to revise our manuals…). Thanks.

From: Adriani90 [mailto:notifications@github.com]
Sent: Thursday, November 16, 2017 7:48 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Allow mulpitle instances o

[2017-11-16 16:28] Adriani90 commented on #7765
Well I think there is a very short point on that in the manual which explains your point. But I treated the topic from a testing perspective. I edited the thext accordingly to avoid missunderstandings.

[2017-11-16 17:06] Brian1Gaff commented on #7765
I have loads of different versions and setups on this machine but you have
to close one before starting the next. It would be nice if you had a switch
that said running nvda release  blah blah as portable version.
 I have said here before that I use my famous batch file for this now rather
than the normal start of nvda which can sometimes fail to run due to this
elusive bug mentioned in another is

[2017-11-16 17:42] Adriani90 commented on #7765
How did you manage to install different versions of NVDA?

[2017-11-16 17:44] Adriani90 commented on #7765
When I have tried it, my actual installed version gets replaced by the one which I want to install.

[2017-11-16 18:01] Andre9642 commented on #7488
Hello,
Why put these gestures there?

[code]

[2017-11-16 21:13] gdata1 opened #7766 "microsoft edge windows 10 17040"
Hello. Starting with Build 17035
 NVDA does not move to the Favorites list in Microsoft Edge.
1. Open Edge
2. Open Favorites Ctrl + I
3. Click the down arrow to start navigating through the items.
Expected. The NVDA moves through the items. In fact, nothing happens. I tried to use narrator. There's no problem with that..
Version of Windows 1703 17040
nvda next-14617,ef52ddc4

[2017-11-16 21:20] Adriani90 commented on #7766
I can navigate through the items with NVDA 2017.3 and Windows 10 Build 16299.64.

[2017-11-16 21:35] gdata1 commented on #7766
As I wrote earlier. The problem came from building 17035

[2017-11-16 22:09] josephsl commented on #7766
Hi, looks like a focusing issue, as I can locate favorites via object navigation. Thanks.

From: nikita [mailto:notifications@github.com]
Sent: Thursday, November 16, 2017 1:14 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] microsoft edge windows 10 17040 (#7766)

Hello. Starting with Build 17035
NVDA does not move to the Favo

[2017-11-16 22:44] jcsteh commented on #7033
https://bugzilla.mozilla.org/show_bug.cgi?id=1418102

[2017-11-17 05:30] gdata1 commented on #7766
Hello. I'm also moving through object navigation.

[2017-11-17 06:00] leonardder commented on #7488
[**@Andre9642**](https://github.com/Andre9642) commented on [16 nov. 2017 19:01 CET](https://github.com/nvaccess/nvda/issues/7488#issuecomment-345006680 "2017-11-16T18:01:01Z - Replied by Github Reply Comments"):

Good point, they came straight from a document from Eurobraille, but I realised they should be numpad keys. I will implement those in a next build.

[2017-11-17 06:06] leonardder commented on #7765
I actually don't think this is a very good idea. Note that you can switch from one NVDA instance to another by simply providing the "-r or --replace" command line parameter.

Furthermore, most issues can be tested with portable versions as well. If you really want to test with an installed version, even though officially unsupported, you can replace an installed copy quite easily in under a minute

[2017-11-17 06:10] leonardder commented on #7764
I'm afraid this must be implemented on a per language basis. For espeak, this should be not that difficult actually, as NVDA already sets espeak to the NVDA language on first launch.

[2017-11-17 06:12] leonardder commented on #7759
[**@feerrenrut**](https://github.com/feerrenrut) commented on [15 nov. 2017 06:43 CET](https://github.com/nvaccess/nvda/issues/7759#issuecomment-344492010 "2017-11-15T05:43:26Z - Replied by Github Reply Comments"):

Sounds interesting, but please limit this only to simple review mode in that case.

[2017-11-17 06:29] michaelDCurran commented on #7765
Closing as wontfix. In many cases a portable copy is enough. For more complex cases, consider using virtual machines.

[2017-11-17 06:29] #7765 closed

[2017-11-17 07:12] subbuj9 opened #7767 "NVDA not reading row state like selected or not selected when apply ENTER key"
Browser : Chrome
OS : Windows 10
Application Type : Web Application(Html5 AngularJS Jquery Bootstarp)

Using Enter key to highlighting the row and changing row background but nvda is not reading the row [index] selected/not selected.
We tried aria-selected attribute but this is not working.

below is the expectation
using tab to navigate to row/cell and apply enter key >> row 1 selected.

any help

[2017-11-17 08:25] kranid opened #7768 "NVDA does not support attribute aria-errormessage"
### Steps to reproduce:

Go to any text field with attribute aria-errormessage

### Expected behavior:
NVDA should announces the error message.
### Actual behavior:
NVDA does not announce the error message
### System configuration:
NVDA version:
NVDA latest  stable version +firefox

[2017-11-17 08:35] jmuheim opened #7769 "Voice Synthesizer crackling when CPU load high, any way to improve this?"
I'm running NVDA in a virtual Windows 7 machine through VMware Fusion on a Macbook Pro.

Everything works very well, but as soon as I have high CPU load on my Mac (e.g. when doing desktop sharing through Skype), the voice of NVDA begins to crackle heavily. When switching between applications (e.g. between Firefox and IE), sometimes it takes seconds until NVDA has announced the change.

The interes

[2017-11-17 10:20] leonardder commented on #7520
@josephsl: Seems you intended to close this, but turns out you didn't. Closing for real this time.

[2017-11-17 10:20] #7520 closed

[2017-11-17 10:22] leonardder commented on #7498
@jcsteh: I belief all blocking cases for this issue are resolved, right? If so, we can safely remove the blocking label and set a priority for this.

[2017-11-17 10:42] jcsteh commented on #7498
As far as I know, yes, this issue is no longer blocked. It's not as simple to fix as it seems, though, since you have to be mindful of the driver's internal speech queue; you can't just set the param..

[2017-11-17 11:16] leonardder commented on #7319
@michaeldcurran: Would you be able to deal with this in the UIA implementation for Word?

[2017-11-17 11:18] leonardder commented on #7292
@jcsteh noted in https://github.com/nvaccess/nvda/issues/7292#issuecomment-308896074 that a bug should be filed with MS> @MichaelDCurran: What's the status of that?

[2017-11-17 11:20] leonardder commented on #6701
@zahra21, @abdullah5490, is this still the case in NVDA 2017.3 or 2017.4 RC1?

[2017-11-17 11:22] abdullah5490 commented on #6701
Not yet used the rc version, but that is not an issue for 2017.3 at least.

—
Disclaimer: This e-mail aimed to broadcast valuable information or to seek significant response. The contents of this message are constructed while keeping full responsibility under mind and does not contains any viruses or other types of threatening material.
Sent from outlook for iOS on the go!
Best regards,
Abdullah Z

[2017-11-17 12:05] fisher729 commented on #7563
Hi. There's an I in 'compared' that shouldn't be there. :)

[2017-11-17 12:13] fisher729 commented on #1785
Hi.

On testing this, I realise that if the status line says 'blank', NVDA on the third key press says nothing. It would be good if NVDA said 'nothing copied' or something similar, or no status line found.

[2017-11-17 13:39] josephsl opened #7770 "GUI: About dialog is rendered in English"
Hi,

A critical showstopper found: when opening About dialog in languages other than English, content is displayed in English.

STR:

1. Switch to a language other than English (NVDA menu/Preferences/General).
2. Restart NVDA.
3. Open About dialog.

Expected: content is displayed in the new language.
Actual: English is displayed.
Severity: critical.
Affects: NVDA 2017.4 RC, master, next snapshots.

[2017-11-17 13:44] JamieMagee opened #7771 "Changes to an aria-live region are not announced"
### Steps to reproduce:

1. Open Firefox
2. Visit https://codepen.io/anon/pen/bYYKPE
3. Click `Add Content` button

### Expected behavior:

I expect that NVDA announces the addition of the text `Hello, world!` to the `aria-live` region.

### Actual behavior:

Nothing is announced.

### System configuration:
NVDA version: 2017.3

NVDA Installed or portable:

NVDA Installed

Other information:

n/a

[2017-11-17 14:02] zahra21 commented on #6701
hello.
i confirm hanging of nvda 2017.2 and needing for restarting of system.
but i dont have this problem using nvda 2017.3 which is the best version for me forever!
also 2017.1 was great for me.
in 2017.3, sometimes nvda does not work properly and i need to restart it, but the problem is not very critical to need restarting windows!
God bless you all and his infinite mercy i pray for you.

[2017-11-17 14:19] k-kolev1985 commented on #7770
Yes, I can definitely reproduce this. But why it happened is a mystery to me...

[2017-11-17 14:20] josephsl commented on #7770
Hi,

After testing various binary snapshot builds, it appears Python 2.7.14 upgrade from the build server is the likely culprit.

Thanks.

[2017-11-17 14:21] zstanecic commented on #7770
well, how we know that,

do you have an evidence?

W dniu 17.11.2017 o 15:20, Joseph Lee pisze:

[2017-11-17 14:37] florianionascu7 commented on #7770
Hello, I also confirm this bug. I hope it'll be fixed in 2017.4

[2017-11-17 14:42] leonardder commented on #6701
@abdullah5490: As you are the original author of this ticket, do you agree with closing it as works for me?

[2017-11-17 14:43] josephsl commented on #7770
Hi, the last master that did work was 14539, and that was with Python 2.7.13. Starting from 14549, it started using Python 2.7.14. At the same time, next snapshots began showing this problem, with the last next snapshot with no problems being 14536. This leads me to believe that something that was committed around October 18th might be to blame, and we cannot leave out Python 2.7.14. Thanks.

From

[2017-11-17 14:46] leonardder commented on #7770
[**@josephsl**](https://github.com/josephsl) commented on [17 nov. 2017 15:20 CET](https://github.com/nvaccess/nvda/issues/7770#issuecomment-345255871 "2017-11-17T14:20:11Z - Replied by Github Reply Comments"):

I tend to disagree with this finding. I"m running Python 2.7.13 on my local system, and when running from source, the about dialog is also showing up in English. Note that the title of the

[2017-11-17 14:50] zahra21 commented on #6701
if you want my views, i agree to close this bug as resolved fix.

[2017-11-17 14:57] josephsl commented on #7770
Hi,

In that case, Python is not to blame.

Further testing shows that the new likely culprit might be #7649, as prior to that, there was no problem with this dialog.

CC @MichaelDCurran

[2017-11-17 15:03] leonardder commented on #7770
Comfirmed.

I did a git checkout 1fcc7fe, and the issue did occur. After that, i did a git checkout head~, and the translation showed up correctly. Assuming this is the right way to test this, of course.

[2017-11-17 15:33] leonardder commented on #7770
@michaeldcurran: It could have to do with the move of the localisation initialisation. Note that all translatable strings in versionInfo show up as untranslated. This suggest versionInfo is imported without localisation being initialized properly. See logHandler around line 221:

versionInfo must be imported after the language is set. Otherwise, strings won't be in the correct language.
Therefore,

[2017-11-17 15:44] ehollig commented on #7710
I am leaning toward a wontfix here, as there already is an official statement in the last NVDA in process.

[2017-11-17 15:45] dkager commented on #7710
I concur.

[2017-11-17 15:47] ehollig commented on #7710
Closing as wontfix

[2017-11-17 15:47] #7710 closed

[2017-11-17 15:48] Brian1Gaff commented on #7769
I've noticed this on a machine running 7 natively but it only has to be
running progress bleeps while its populating a folder and saying the
percentages. I think its worse in Espeak for some reason though. I put this
down to the low memory on that machine only 4 gigs as apposed to 8 on this
machine this also has an ssd not a clunky mechanical hard drive too.

Brian

bglists@blueyonder.co.uk
Sent v

[2017-11-17 15:48] PratikP1 commented on #7767
Can you provide an example that we could look at and test? Are you looking for NVDA and Chrome to behave in a similar manner to what it does in Gmail?

[2017-11-17 15:53] Brian1Gaff commented on #7319
I'd love to know hat authority it uses for Grammar as I've never had much
luck with getting something right by using it! Just a comment..grin

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-17 15:54] zahra21 commented on #7770
hello.
i should say that i dont have this problem using nvda 2017.3 (which is built with python 2.7.13!
hope that help, God bless you all.

[2017-11-17 15:55] Brian1Gaff commented on #6701
I got the impression that the original poster was using windows xp, so would
not be able to try the latest version anyway, but feel free to contradict
me.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-17 15:57] derekriemer commented on #7710
I concur.

[2017-11-17 16:00] jmuheim commented on #7769
Thanks for your comment. My machine has an SSD, several CPUs and lots of RAM, so I think there is another bottleneck for this problem, not a computer performance one.

[2017-11-17 16:08] nvdaes commented on #7770
Hi, I can't reproduce this exactly: For me, the info is also displayed in Spanish, even if I switch to catalon, French or Italian. Spanish is the language I use for Windows.
Cheers

[2017-11-17 16:19] leonardder commented on #7488
Here is a new build just before the weekend. I also updated the user guide according to the new key assignments added recently:
https://ci.appveyor.com/api/buildjobs/34bho3pstoq3xe2q/artifacts/output%2Fnvda_snapshot_try-eurobraille-native-14629%2C21e62bee.exe

[2017-11-17 17:28] florianionascu7 commented on #7770
Well, what NVDA version are you using?

[2017-11-17 17:33] nvdaes commented on #7770
Hi, I'm using NVDA 2017.4rc1. I see that, in the General dialog of preferences submenu, languages of the combo box are shown in Spanish too testing with NVDA set to English.
I've tested with the Python console copying to the clipboard the aboutMessage of versionInfo and is copied in Spanish too.

[2017-11-17 17:53] PratikP1 commented on #7769
I'm seeing this behavior with Windows 10 and OneCore voices as well. I have a top of the line processor, 32 GB of ram and SSD. While I'm not seeing the extreme performance hit that @jmuheim described, I do occasionally see prolonged performance issues with speech when the processor is busy.

[2017-11-17 17:58] Brian1Gaff commented on #7770
The .ini file says windows for language, I notice.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "nvdaes" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Friday, Novemb

[2017-11-17 18:00] Brian1Gaff commented on #7770
No its definitely around the time noted, and I'm thinking Unicode for some
reason.
Might be barking up the wrong lamp post dunno.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-17 18:02] Brian1Gaff commented on #7710
Well , I'm still not convinced from my own experience of it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-17 18:15] PratikP1 commented on #7771
Testing with Firefox 56 and Nightly with NVDA version next-14617,ef52ddc4, the given example speaks as expected. “Hello World” is announced each time “add content” button is pressed.

Testing with Chrome Canary Version 64.0.3271.0 results in no speech when “Add content” button is pressed.

Testing with Edge on Windows 10 1709 build 17040 results in no speech when “add content” button is pressed.

[2017-11-17 18:34] zstanecic commented on #7769
well, that’s the same with vocalizer expressive premium high, but not
compact,

on windows 10 64 bit hdd disk

W dniu 17.11.2017 o 18:53, PratikP1 pisze:

[2017-11-17 18:49] Elshara commented on #7770
I also can confirm this behavior.

[2017-11-17 19:21] nvdaes commented on #7770
Hi, perhaps the title of the issue should be changed to: About dialog and language names in General settings are displayed in the default language for Windows.
I've changed my language to en_us and now these are shown in English.

Cheers

[2017-11-17 19:27] ehollig commented on #7754
I can confirm this using NVDA master-14625,b6c4d81f. The chat field has dev info of:
name: u'Input chat text Type message here\u2026'
role: ROLE_EDITABLETEXT
states: STATE_FOCUSED
isFocusable: False
hasFocus: True
Python object: <NVDAObjects.IAccessible.IAccessible object at 0x0551A950>
Python class mro: (<class 'NVDAObjects.IAccessible.IAccessible'>, <class 'NVDAObjects.window.Window'>, <class 'N

[2017-11-17 19:34] florianionascu7 commented on #7770
We're talking about the About dialog, not about the language names of General Settings Dialog. If you're switching to another language than English and open the About dialog from Help submenu, you'll see that it is shown in English, not in the language you've set.

[2017-11-17 20:18] nvdaes commented on #7770
florianionascu7 commented

Maybe the two ones are caused by a common issue.

Cheers

[2017-11-17 20:42] DGartmann opened #7772 "No entry for the Ctrl key in "Emulated system keyboard keys"."
I want to see how to emulate the Ctrl key using a Braille display, thus taking advantage of this feature in NVDA:

(Quoted lines from the "What's New" document that comes with NVDA)
"•Braille display gestures that emulate system keyboard key modifiers (such as control and alt) can now be combined with other emulated system keyboard keys without explicit definition. (#6213)
◦
(Quote finished)

From

[2017-11-18 02:43] michaelDCurran commented on #7770
Please test the following try build:
https://ci.appveyor.com/api/buildjobs/xhlj455yfuiv2jjr/artifacts/output%2Fnvda_snapshot_try-i7770-14631%2C0bfa4738.exe

[2017-11-18 02:51] josephsl commented on #7770
Hi, resolved, keeping an eye out for further confirmations. Thanks.

From: Michael Curran [mailto:notifications@github.com]
Sent: Friday, November 17, 2017 6:44 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] GUI: About dialog is rendered in English (#7770)

Please test the following try buil

[2017-11-18 06:22] nvdaes commented on #7770
Hi, fixed also the issue reported by me related to About dialog, not exactly described as Joseph did.
Resolved using the exe file, not from source.
The language names are displayed in the default language for Windows, but I think it's not critical.
Thanks

[2017-11-18 07:05] florianionascu7 commented on #7770
Hello, I can also confirm that this bug has been succesfully fixed.

[2017-11-18 07:15] k-kolev1985 commented on #7770
Yes, I can confirm that it is fixed in the test build.

[2017-11-18 08:33] Brian1Gaff commented on #7770
Yes the about  rendered in French after changing nvda to French and
restarting and looking at about again.
 Still having non- restart issues  though on updates.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-18 12:15] leonardder commented on #7772
Closing as duplicate of #6060.

[2017-11-18 12:15] #7772 closed

[2017-11-18 12:19] leonardder commented on #6060
I will take this as soon as I have the time for it, but it will probably be a private project, so not on behalf of @babbagecom. I consider it a relevant issue though, not only specifically for braille.

I will do a self-assignment, but if anyone wants to take this before I start working on it, feel free to poke me.

[2017-11-18 12:43] leonardder commented on #7306
Requests for this are increasing, so I will adopt this. Some rough ideas. @jcsteh, as you know the code much better than I do, your ideas are welcome.

[**@jcsteh**](https://github.com/jcsteh) commented on [21 jun. 2017 07:51 CEST](https://github.com/nvaccess/nvda/issues/7306#issuecomment-309970653 "2017-06-21T05:51:55Z - Replied by Github Reply Comments"):

I belief this is actually not that diff

[2017-11-18 14:00] elliott94 opened #7774 "Windows 10: NVDA does not output anything if Laptop lid closed on the Logon Screen"
When booting a Windows 10 laptop with the lid closed, I've noticed that NVDA does not output anything when either tabbing around the window or when using Object Navigation. This works without issue if the lid is raised before the Logon screen appears. This can make it difficult to navigate around if you lose focus on which element has focus.

[2017-11-18 14:03] elliott94 opened #7775 "Windows 10: NVDA missing from the Ease of Access Center"
Several releases ago, I'm aware that some changes were made so that NVDA was included into the Ease of Access Center. When opening EoA and navigating around the available options, however, the entry for NVDA appears to be missing. Is this a known issue?

[2017-11-18 14:05] elliott94 opened #7776 "Launcher: Ease of Access Center appears after Installation"
When performing an install of NVDA via the Launcher package, I've noticed that EoA appears to be executed at the end of installation. This happens for both Windows 7 and 10, and in 7 means that Narrator automatically starts speaking which can potentially cause confusion. Is this something that can be stopped?

[2017-11-18 14:33] elliott94 opened #7778 "Firefox 57 and Later Unusable with NVDA"
When using the latest NVDA snapshot (next-14617,ef52ddc4) in combination with Windows 10 (10.0.15063 Build 15063) and the latest version of Firefox (57 X64), NVDA is literally unusable and results in the word "unknown" being output whenever I tab around the window. Reading the content of editable fields (including the Address Bar) works without issue, but all other interaction results in the behav

[2017-11-18 14:40] elliott94 commented on #7746
The setting in Power Options is set to "do nothing"; I often use my laptop in this way if I have an external keyboard connected and do not need to keep the screen up. In addition to this, NVDA does not output the default sound that a search suggestion has popped up.

[2017-11-18 15:12] elliott94 opened #7779 "Firefox 57: NVDA unable to Focus on Downloads List"
With firefox 57, I've noticed that NVDA is not able to focus on the Downloads list unless Object Navigation is first used to move the mouse. I'm aware that there are several separate issues, but wanted to point this one out.

[2017-11-18 16:43] PratikP1 commented on #7774
Is the laptop lid set to put the machine into either sleep mode or hibernation when shut? How is the machine booted with the lid closed?

[2017-11-18 16:44] elliott94 commented on #7774
The laptop is set to do nothing when the lid is closed. The laptop is docked with a docking station, which has its own power button which boots the machine.

[2017-11-18 16:49] PratikP1 commented on #7774
I have a similar set up on a Lenovo laptop. I Just tested it by disabling sleep mode when lid is shut. I wasn’t able to replicate the behavior you described. Would it be possible to get a log of this behavior?

[2017-11-18 17:12] Brian1Gaff commented on #7774
Is this not a duplicate of another similar issue. I'm sure I noticed one when  looking for something else earlier.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows XP machine!
  -----
  Sorry for that swear  word.

[2017-11-18 17:14] Brian1Gaff commented on #7776
I've not encountered Narrator starting up unwantedly. How can this occur?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-11-18 17:19] Brian1Gaff commented on #7778
Yes I get this on Windows 7 even with the current release candidate, but from what I read this is actually a known issue. I'm not sure why only some machines get this effect so maybe some more  research needs to be done. Of course if the machine is slow it will take a bit of time to allow firefox to catch up. That is not the issue on my machine though, but single and double core systems running 7

[2017-11-18 18:28] Brian1Gaff commented on #7774
When this machine is in its docking station could it perhaps switch to an
external sound card perhaps when lid is shut?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-11-18 18:30] josephsl commented on #7774
Hi, no, not at all. It is likely that an overlay app is being used, which causes issues like this (I had to deal with it a few months ago when I first got my ThinkPad). Thanks.

From: Brian Gaff [mailto:notifications@github.com]
Sent: Saturday, November 18, 2017 10:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Windows

[2017-11-18 19:41] abdullah5490 commented on #6701
I agree with @zahra21 that 2017.3 ocasionally stop responding, where i need to restart it to fix. You can close this issue, but I cannot say that it is completely resolved. However, it is too much improved and i want to express my gratitude on it for you. But still, i need to set my computer to "high performance" to avoid hanging up of NVDA on my machine, that was not the case at the time of older

[2017-11-18 22:15] ehollig commented on #6701
Closing as worksforme

[2017-11-18 22:15] #6701 closed

[2017-11-18 22:20] ehollig commented on #7779
With Firefox 57 and the latest Master of NVDA, I am able to focus on the downloads list after pressing CTRL+J to bring up the list of downloads, then tab and shift+tab

[2017-11-18 22:32] ehollig commented on #7774
This is probably related to #7746

[2017-11-18 23:27] Adriani90 commented on #7759
I would add a seeting to the settings ring which says object navigation and you can either restrict it to the current window or to maximized windows or to let it unrestricted. That would let the people decide how they like it.

[2017-11-18 23:31] Adriani90 commented on #7779
I can focus the downloads list in NVDA 2017.3 and Firefox 57 after pressing ctrl + j. Actually it brings me directly into the downloads list.

[2017-11-18 23:45] Adriani90 commented on #7771
With NVDA 2017.3, Firefox 57 and Build 16299.64 works properly. However, Crome, IE and Edge do not read the live region. But it could be an issue regarding Java Plugin.

[2017-11-18 23:56] ehollig commented on #7776
If this is an issue, and someone can reproduce it, this is a duplicate of #5873

[2017-11-18 23:56] #7776 closed

[2017-11-19 01:14] Adriani90 opened #7780 "Play "beep" for capitals" when coresponding is checked also while navigating word by word"
Steps to reproduce:
1. Open a document and write a few words where which word begins with a capital lletter
2. Write one or two words where there are more than one capital letter contained (even it is wrong spell)
3. Go to NVDA menu / voice and activate "beep for capitals"
4. Navigate through the text word by word holding down the ctrl key.

Expected behavior:
NVDA should play a beep for every wor

[2017-11-19 01:18] Adriani90 commented on #7780
I would like to mention that this should only apply when "beep for capitals" is activated.

[2017-11-19 01:28] ehollig commented on #7780
Duplicate of #6360

[2017-11-19 01:28] #7780 closed

[2017-11-19 07:00] Robert-J-H commented on #7759
Hi
Let me restate the problem:
You're on a control and navigate up the tree until you're e.g. on the desktop object. The goal would be that navigating down (exclusively) brings you back to the control that you've started from.

Restriction won't solve this issue because:
- the traversal down can you place at the left most position (child) at any level, e.g. navigating down from the application win

[2017-11-19 13:51] didiercolle commented on #7759
"However, moving up from any other object (after horizontal or horizontal+downwards movement) will reinitialize the deque or stack respectively"
Isn't reinitialization pretty drastic after keeping all that state?
Instead of keeping such stack, why not analyzing when moving down the path to the focus object: if from the current object the focus object is also down, navigate to the child along the p

[2017-11-19 17:00] Robert-J-H commented on #7759
Keeping track of the focus ancestors is more costly than keeping this simple stack. Remember, we are only talking about child indexes and the stack could therefore be as simple as
[3, 1, 0, 7] with a reference parent (scopeVar or current Navigator object) "Desktop".
We are essentially not interested in getting back to the focus object but rather to the navigator object that the traversal has been

[2017-11-19 17:44] jscholes commented on #7759
I don't think this is restating the issue.  Reliably retracing your steps after traversing the object tree isn't what's in scope here.  Rather, @Adriani90 would like a ceiling to be imposed on object traversal to prevent accidentally moving outside of the currently-focussed application's hierarchy.

What about applications with multiple logical windows which are direct children of the desktop obje