[2018-11-28 03:18] surfer0627 opened #8988 "LibreOffice Calc: NVDA reports "not selected" for every cell"
In NVDA 2018.4beta2, NVDA reports "not selected" for every cell in Calc.

### Steps to reproduce:
1. Open application Calc.
2. Press downArrow to move through cells.

#### Actual behavior:
NVDA reports "not selected" and Cell coordinates.

#### Expected behavior:
NVDA reports Cell coordinates only.

P.S. (If this is the default behavior that NVDA reports "not selected). Could we add an toggle opti

[2018-11-28 04:43] michaelDCurran commented on #8980
So far I have confirmed that regex_match is throwing regex_error with a code of error_stack. Apparently there is insufficient memory to check if the expression matches for some of the article names. At very least we can catch the c++ exception and keep searching. But it does mean next/prev landmark may skip certain articles.  It would be good to work out what is special about these particular stri

[2018-11-28 06:08] nolanlawson commented on #8980
To try to simplify the repro steps, I've created a static version of the page that reproduces the crash. So it should no longer be required to have a Mastodon account; you can just load this page: http://bl.ocks.org/nolanlawson/raw/07e732b654842a2fe62760c4bda179ee/

As in the original description, you should install the Enhanced Aria plugin and ensure that "Report articles" is enabled in the plugi

[2018-11-28 06:14] michaelDCurran commented on #8980
I have tried increasing the stack size of all rpc server threads created for NvDAHelper. However, no matter how large I made the stack the problem remains.
This may be some strange corner case with MSVC's regex processing that resorts in some kind of infinit recursion. If we can try and work out what causes it we could try filtering it out of the strings... but I'm not seeing anything interesting

[2018-11-28 06:35] leonardder commented on #8988
Most likely caused by #8898

Cc @michaelDCurran

[2018-11-28 06:36] jcsteh commented on #8980
This kind of thing isn't supposed to matter with the STL, but could there be some weird restriction when you allocate a regexp on the stack? We could try building late and allocating on the heap (with  That assumes it's size related.new).

[2018-11-28 07:36] k-kolev1985 commented on #2991
@Adriani90 Yes, I no longer use AkelPad.

[2018-11-28 08:40] artindk commented on #8148
I think that Browse Mode can be useful. You can of course use the navigator to quickly go to a place in the document, but I miss the option to use Single Letter Navigation in LibreOffice.

[2018-11-28 08:46] leonardder commented on #8972
This is fixed in Alpha as well. Closing as works for me.

[2018-11-28 08:46] #8972 closed

[2018-11-28 09:10] leonardder commented on #8981
Relevant Python Issue:
[create_unicode_buffer() fails on non-BMP strings on Windows](https://bugs.python.org/issue19865)

[2018-11-28 09:49] Adriani90 commented on #3070
@jcsteh, in Firefox I have this issue only for Background Tabs. In IE it occurs also when switching to other Windows.

[2018-11-28 09:55] Adriani90 commented on #3070
@jcsteh, in issue #7743 I have found out that this issue might be related to the Java plugin. But this might be clear anyway because mostly dynamic Content on Websites is based on Java, at least this is my understanding.

[2018-11-28 09:59] jcsteh commented on #3070
I think you might be confusing Java with Javascript. Java on the web is quite rare now, to the point where I haven't encountered something that needed the Java plugin on the web in literally years. Javascript, on the other hand, is the scripting language of the web and is used everywhere. I'd say that particular issue might be related to Java, but the more general one (and certainly SharePoint) is

[2018-11-28 10:09] Adriani90 commented on #3048
I cannot reproduce it in MS Word 2010 with NVDA 2017.3 on Windows 8.1.

[2018-11-28 10:13] leonardder commented on #3048
Closing as works for me

[2018-11-28 10:13] #3048 closed

[2018-11-28 10:13] Adriani90 commented on #3046
I cannot reproduce it in MS Word 2010 on Windows 8.1 with NVDA 2017.3.

[2018-11-28 10:19] Adriani90 commented on #3041
I tested also in MS Excel 2010 on Windows 10 with NVDA 2017.3. This happened iregularly, approx. one time in 20 attempts. I had this "MSO generic control" reported by NVDA in other examples. But most of times it cannot reproduced reliably.

[2018-11-28 13:32] Adriani90 commented on #3070
Yes, Java and Java script are two things I often cannot really distinguish, I have to digg into this deeper to understand how it really works. Do you think there is something which can be solved from NVDA's side? Or is this an issue which has to be solved on browser side first? Because the strange Thing is that NVDA reports that Content iven if Report dynamic Content is disabled in NVDA's Settings

[2018-11-28 14:14] #7683 closed

[2018-11-28 14:55] Adriani90 commented on #7683
@Novalis7747     could you please Elaborate shortly why you Close this issue? Does it work for you now properly?

[2018-11-28 15:43] sonor3000 commented on #8948
On Sun, November 25, 2018 11:01 pm, Marlon Brandão de Sousa wrote:

Cool :-).

[...]

Sorry, I do not have your mailaddress, but you can contact me via
c.schoepplein@gmx.de.

I can test the fix, but on the other hand if nothing is downloaded because
no update is offered, its hart to see if things are working or not. Maybe
I can download a older version of a plugin, install it and see if it is
upda

[2018-11-28 15:49] Novalis7747 commented on #7683
It got fixed somewhen in the last 4 months by one of the several IE security updates .

From: Adriani90 <notifications@github.com>
Sent: Mittwoch, 28. November 2018 15:56
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] IE11 bringserror in NVDA in snapshots greater then 2017.3 (#7683)

@Novali

[2018-11-28 17:42] leonardder commented on #2991
@Adriani90: Sounds like a great suggestion.

[2018-11-28 17:42] #2991 closed

[2018-11-28 20:10] devil418 commented on #8698
This issue is much more severe. My Thunderbrid has just been updated to version 60 and it doesn't even read the attachments list in the normal message view (AKA when opening a message someone else has sent us). This makes Thunderbird almost unusable for me, as I deal with attachments a lot. I believe this should get highest possible priority, as receiving attachments is a very important function o

[2018-11-28 20:13] devil418 commented on #8698
For me, a dirty workaround was to navigate to the attachment with object nav and then perform a fast doubleclick with the mouse (AKA route mouse to navigator and then double click). This is still only a workaround, though.

[2018-11-28 20:47] jcsteh commented on #8698
I wouldn't necessarily say any particular email client is officially recommended, at least not any more. This might have been the case years ago, but since then, there are other options that NVDA supports quite well (Outlook, Windows 10 Mail, various web mail apps, etc.). Thunderbird is no longer managed or developed by Mozilla Corporation, which means there is no official accessibility oversight

[2018-11-28 21:59] Adriani90 commented on #3046
@ehollig I think we can close this issue, since NVDA seems to work properly in this regard.

[2018-11-28 22:20] Adriani90 commented on #2863
Testing on Windows 10 1809 Update with NVDA 2018.4 Beta 2. I cannot reproduce it.
Can someone test this on Windows 8.1? I think there was a fix related to this in NVDA 2018.1 or 2018.2

[2018-11-28 23:02] ehollig commented on #3046
Thank you @Adriani90 for your testing. Closing as worksforme

[2018-11-28 23:02] #3046 closed

[2018-11-29 08:44] Adriani90 commented on #1836
As stated in #3041 and it is also valid for #3021, this is reproducible but in some dialogs however it cannot reproduced reliably. This issue however, occurs regularly in this specific Dialog. It seems that NVDA reports MSO generic control every time when changing to the toolbar of the Dialog. That means, in dialogs where you can select something from a list (like a style), then press shift+tab to

[2018-11-29 08:49] Adriani90 commented on #3511
I cannot reproduce it in Windows 8.1 with NVDA 2017.3. @lallerkee1 can you still reproduce it?

[2018-11-29 08:50] Adriani90 commented on #3511
@jcsteh the user Name of the author of this issue is not valid anymore. I suggest closing this issue and reopen it if someone reports it again.

[2018-11-29 09:47] Adriani90 commented on #2849
@josephsl since you were involved in improving this on Windows 10, is there maybe a fix for Windows 8 not far away. Your thoughts are very welcome here.

[2018-11-29 09:57] Adriani90 commented on #2878
@hurrikenny, @ghost is this still reproducible for you?

[2018-11-29 09:59] Adriani90 commented on #2883
@Harich is this still an issue for you?

[2018-11-29 10:07] Adriani90 commented on #3139
When pressing ctrl+s I am getting following in the log file:

´´´
IO - inputCore.InputManager.executeGesture (11:04:33.174):
Input: kb(laptop):control+s
DEBUGWARNING - watchdog._watcher (11:04:33.831):
Trying to recover from freeze, core stack:
  File "nvda.pyw", line 203, in <module>
  File "core.pyo", line 473, in main
  File "wx\_core.pyo", line 8657, in MainLoop
  File "wx\_core.pyo", line 795

[2018-11-29 10:11] Adriani90 commented on #3139
When pressing alt+f4 and then escape, I am getting following:
´´´

IO - inputCore.InputManager.executeGesture (11:08:05.869):
Input: kb(laptop):alt+f4
DEBUGWARNING - IAccessibleHandler.accessibleObjectFromEvent (11:08:05.947):
oleacc.AccessibleObjectFromEvent with window 1179826, objectID 163 and childID 0: [Error -2147467259] Unbekannter Fehler
DEBUGWARNING - IAccessibleHandler.accessibleChildren

[2018-11-29 10:12] Adriani90 commented on #3139
I don't know if this Impacts security aspects. Maybe @ferrenrut can share ist thoughts with us. Regarind user experience this is not an issue.

[2018-11-29 10:16] Adriani90 commented on #3176
I am not able to reproduce it in Windows 8 64bit with IE11 and NVDA 2017.3.

[2018-11-29 10:22] Adriani90 commented on #3226
Apps on Windows 8 will not be sustainably developed in the future. So supporting Windows 10 Apps should have higher priority. For Windows 8 I suggest using Thunderbird or MS Outlook for e-mails.

[2018-11-29 10:32] Adriani90 commented on #3244
@jcsteh is this still an issue in Firefox?@leonardder I guess many organisations still use IE and I am thinking of SAP netviewer where you have very complex tables. Do you think there is any Chance that maybe you at Babbage look into this?

[2018-11-29 10:38] Adriani90 commented on #3306
@michaelDCurran is there any update on this issue?

[2018-11-29 12:53] ABuffEr commented on #8691
I close the issue as unrelated to NVDA, waiting for new version of CodeMirror library with improved accessibility, as reported by @neurrone. Until that moment, obviously the problem still occurs, after release I consider if open this issue again.

[2018-11-29 12:53] #8691 closed

[2018-11-29 14:58] DrSooom commented on #8698
@devil418: When you move to the end of the message, in browse mode press TAB once and you will reach an unlabelled button – before the attached file button begins. Press Space here to toggle it to the state "pressed, not selected" instead of "not selected". Then a list will appear. If you mean that NVDA isn't able to read the entries in this list here in Thunderbird 60.3.1 in compare to 52.9.1, I'

[2018-11-29 15:04] MarcoZehe commented on #8698
Sorry, am afraid I cannot help here. Thunderbird is no longer maintained by Mozilla itself, it's a community project under a different umbrella now, and I am not working for that organization. I also no longer use Thunderbird myself, stopped using it a short while ago.

[2018-11-29 15:50] xtstoll opened #8990 "Unable to spell/navigate through image descriptions (alt text) using Microsoft Edge"
### Steps to reproduce:
1. Open Microsoft Edge on Windows 10
2. Go to https://www.bbc.com/news/world-us-canada-46390368
3. Press G to quickly navigate to an image with a description
4. Use the left and right arrows to spell out the contents of the description

### Actual behavior:
NVDA jumps to the next element on the page

### Expected behavior:
NVDA reads letter-by-letter (like it does in Chrome

[2018-11-29 15:56] josephsl commented on #8990
Hi, looks like you wanted to say something, but couldn’t figure out how to fill out the form. Is that right? Thanks.

From: Cristina Stoll <notifications@github.com>
Sent: Thursday, November 29, 2018 7:50 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Microsoft Edge alt (#8990)

Steps to reproduce:

Actual behavior:

Expected

[2018-11-29 15:57] xtstoll commented on #8990
@josephsl Sorry! Check out the issue now :)

[2018-11-29 16:34] victorasantos10 opened #8991 "NVDA speech viewer not able to maximize on active window"
### Steps to reproduce:
1. Open NVDA
2. Enable speech viewer.

### Actual behavior:
NVDA speech viewer is set as active, but the window isn't showing on the desktop. If Win+Tab is pressed, then you can see the window right there as an active program, but you can't drag it to any desktop. Other windows like Python Console open normally.

### Expected behavior:
NVDA Speech Viewer should open normall

[2018-11-29 16:40] Brian1Gaff commented on #8990
The way I tend to handle this very annoying template is to select it all,
and copy it to my notepad. I then edit it there and then paste the whole
thing back. If I try to edit  and use the template in the form  chances are
that sluggishness etc emnds up making me  have overwritten bits and left
gaps and all sorts of problems.
 Thus I think many people will find thise way of working better.
 Brian

[2018-11-29 16:42] jsschultz commented on #2849
Sorry for my lack of responsiveness … I've been extraordinarily busy lately. I will provide a prototype when I get some time. Hopefully in the next several weeks.

[2018-11-29 17:04] fernando-jose-silva opened #8992 "nvda jumping the text box to enter the text to translate in google translator"
### Steps to reproduce:
enter google translate
https://translate.google.com.br/
In nvda the autofocus mode is disabled.
press and to go to the edit box.
Press an up arrow.
Now press the down arrow.
### Actual behavior:
the focus goes to the button
Enable Virtual Keyboard
### Expected behavior:
the focus should return to the text box.
### System configuration:

#### NVDA Installed/portable/running

[2018-11-29 19:17] ehollig commented on #8597
This now correctly works for me in Outlook 2016. Closing as worksforme

[2018-11-29 19:17] #8597 closed

[2018-11-29 20:35] svenka22 opened #8993 "NVDA not announcing aria-label when async call happens on Chrome"
### Steps to reproduce:
- Go to https://login.microsoftonline.com on Chrome
- Have NVDA running
- Click the ellipsis (...) on the right end of the footer
- NVDA will announce the the aria-label for the link
- Click 'Enable' on the small pop-up that opens
- NVDA does not announce the aira-label when the link changes after Ajax call

Pls find the video of the same
[Aria-label not announced.zip](http

[2018-11-29 21:41] Qchristensen commented on #8390
As at NVDA 2018.4beta2 this issue still exists in Office 365 (version 16.0.11001.20093).  One observation is that with "Report Object Descriptions" unchecked in NVDA's Object Presentation settings, each File menu item is only reported once.

This issue also only affects the file menu, not the main ribbon sections (Home, Insert, etc), and also only the main items in the File menu ("Home", "New", "O

[2018-11-29 22:41] #8984 closed

[2018-11-29 22:55] #8782 closed

[2018-11-30 02:08] andrew-l-d opened #8994 "NVDA 2018.4 beta 2 giving incorrect position in indented MS Word paragraphs"
With NVDA 2018.4 beta 2 the NVDA-delete command incorrectly reports the horizontal position in MS Word files if the paragraph has been indented.  Regardless of the level of indentation, it uses the default margin setting to calculate the position.  To reproduce:
1.  Open MS Word 365
2.  Write a paragraph of text and check what NVDA reports when on the left margin.
3.  Create another paragraph and

[2018-11-30 14:05] HegrJan opened #8996 "NVDA does not read in the Fast Log Entry"
### Steps to reproduce:
-1. Download Fast Log Entry installer from http://df3cb.com/fle/
0. Install FLE
1. Open FLE
2. Try to navigate using cursor keys

### Actual behavior:
The text (log content) is not read. There are unknown symbols on the braille display eg. '\x2023''\x6548''\x6461''\x7265'...

### Expected behavior:
An edit field similar to Notepad filled with example log should be readable.

[2018-11-30 17:51] DrSooom commented on #8992
I was able to reproduce your described STR with NVDA 2018.1 and Firefox 56.0.2 on win7x64. Furthermore I also noticed the NVDA says (TTS) and shows (Braille) different things around this multi-line text field when moving up and down using the arrow keys in browse/focus mode. The behaviour here is strange – and confusing if you don't have a braille display.

As Google redesigned its Translator a li

[2018-12-01 12:54] leonardder commented on #5909
I've also received requests from some people who have demand for this.
Note that it is also important to come up with an implementation that works both for the Word object model and UIA. @michaeldcurran, your thoughts might be welcome. As far as I've seen, foot notes are referenced as links with UIA, which makes sense in my opinion, i.e. when you activate the foot note, you jump to the contents of

[2018-12-01 12:57] zstanecic commented on #5909
Hi,footnotes are referenced as links, and you should jump to these normally.

From: Leonard de Ruijter <notifications@github.com>
Sent: Saturday, December 1, 2018 1:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Keyboard shortcut to report text of footnotes in ms Word documents (#5909)

I've also received requests from

[2018-12-01 13:04] dkager commented on #5909
I'm pretty sure Adobe Reader and Acrobat support footnotes in PDF too.

[2018-12-01 16:15] errotech opened #8997 "⡘ Euro-sign in"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions:

#### Does the issue still occur after restarting your PC?

#### Hav

[2018-12-01 16:19] errotech opened #8998 "⡘ Euro-sign in is missing in German brailletable"
The Eurosign ⡘ (4-5-7) is missing in the german brailletable. Could someone add it?

Thanks in advance!

Eric Roeder

[2018-12-01 16:46] bdorer commented on #8997
please close this as invalid.

[2018-12-01 16:49] #8997 closed

[2018-12-01 17:13] leonardder commented on #8998
Please file an issue against liblouis at https://github.com/liblouis/liblouis/issues

[2018-12-01 19:00] marlon-sousa commented on #8948
Hello,

Here is what I carefully have found after some investigation.

I ask @josephsl and @leonardder and who else you think is needed to read this carefully as it will be the bases for a proposal soon to be written.

To begin wit I must say that portability between operating systems are not being taken in account, since NVDA is and will for a foreseeable future be a project running only on Windo

[2018-12-01 21:28] alex19EP opened #8999 "nvda 2018.4 beta 2 stuck in sum elements in web page"
### Steps to reproduce:
1. go on this page [https://www.xda-developers.com/google-hangouts-shut-down-20120/](https://www.xda-developers.com/google-hangouts-shut-down-20120/)
2. press m to jump to frame.
3. arrow down to list with 5 elements
### Actual behavior:
virtual focus stuck.
### Expected behavior:
virtual focus  moves next
### System configuration:

#### NVDA Installed/portable/running from

[2018-12-01 23:39] josephsl commented on #8948
CC @JCSTeh

From: Marlon Brandão de Sousa <notifications@github.com>
Sent: Saturday, December 1, 2018 11:01 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA and add-ons are not update when a http proxy is used by the operating system (#8948)

Hello,

Here is what I carefully have found

[2018-12-02 04:03] zahra21 commented on #8673
hi. i confirm this problem in libreoffice and openoffice and any version of nvda which i tested, the issue is the same.
but its the behaviour of nvda in general when selecting large text.
for example: if i select more than 1024 characters in web browsers or notepad++ or any other programs and press control+a to select entire document,
immediately after pressing control+a, or when using nvda+c to r

[2018-12-02 04:12] zahra21 commented on #8148
hi again.
the problem about navigator is when i use navigator and for example: find a table and press enter to activate it, unfortunately i miss the main document and when i press arrow keys i only navigate between tables, not main document!
i mean that when i find one element and activate it, i lose focus in main document and navigating by down arrow, moves me between all the similar elements whi

[2018-12-02 05:29] zahra21 commented on #7618
hello.
i am not completely familiar with using calc and cursor movement in calc, but i use my favorite version of nvda (which is 2017.2) with my favorite version of libreoffice (which is 5.3.4)
i tested also libreoffice 5.1.6 and confirm in this version, i can navigate in one calc file which i have,
arrow keys work for me and nvda does not freeze for me.
i even dont need to press f2, then scape to

[2018-12-02 05:39] zahra21 commented on #7545
quentin,
i dont think that the bug91739 and 4119 cant be duplicate, because there places are different!
91739 is the bug that i reported in bugzilla for libreoffice developers and 4119 you reported hear.
i dont think that they are duplicate and should not be closed.

[2018-12-02 05:51] mohdshara commented on #8948
hi. since I too am behind a broxy at work, and I have reported this issue initially, I can certainly test your copy if that helps. my email address is: mohammed@atexplorer.com

[2018-12-02 09:37] Brian1Gaff commented on #8999
that page address says its not valid here.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Alexandr Epaneshnikov" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Saturd

[2018-12-02 11:50] erik-pro commented on #8999
@Brian1Gaff you should coppy and paste  link.

[2018-12-02 13:32] feerrenrut commented on #8494
I have just created a PR for this, please take a look at #9000

[2018-12-02 14:12] lukaszgo1 opened #9001 "Firefox when reading current line in some edit fields only the first character is announced."
### Steps to reproduce:
1. In firefox open the following web page
https://wu.up.krakow.pl/WU/
2. Move with letter e to the first edit field.
3. type something like s111222.
4. Press tab to move to the password field.
5. Go back to the first edit box with the shift+tab and press NVDA_up arrow to read the current line.
### Actual behavior:
Only S is announced.
### Expected behavior:
The entire conte

[2018-12-02 14:14] CyrilleB79 opened #9002 "Do not detect correct boundary when speaking sentence in word-like documents"
### Steps to reproduce:
* Open the attached file "Bug sentence nav.docx"
* Press Alt+DownArrow many times to read the document sentence by sentence

### Actual behavior:
The first sentence is not read since the caret is already at the beginning of the first sentence.
When you press 3 times Alt+DownArrow, the following sentences are read:
* sentence 2
* sentence 2 + sentence 3
* sentence 4
The care

[2018-12-02 14:17] CyrilleB79 commented on #9002
Adding attachments:
[Bug sentence nav.docx](https://github.com/nvaccess/nvda/files/2636996/Bug.sentence.nav.docx)
[nvda.log](https://github.com/nvaccess/nvda/files/2636997/nvda.log)

[2018-12-02 14:19] CyrilleB79 commented on #9002
Re-poening issue, sorry for closing it erronously.

[2018-12-02 14:37] lukaszgo1 commented on #9001
@Brian1Gaff This is strange. I've installed Waterfox 56.2.5 just now and I am able to reproduce it there. I've event tried with all add-ons disabled. Have you tabbed from  and back to the first edit field?

[2018-12-02 15:41] DrSooom commented on #8997
See issue #8998.

[2018-12-02 15:49] DrSooom commented on #8998
See issue 8702 and [my comment in issue #1717](https://github.com/nvaccess/nvda/issues/1717#issuecomment-418018712) for more information about what happened here and how to solve it manually.

[2018-12-02 15:50] lukaszgo1 commented on #9001
My Nightly window is maximized. I've tried with clean config of both NVDA and Nightly, and all the time when going to the field with shift+tab and pressing NVDA+ up arow only the first character is announced.

[2018-12-02 17:07] jacobchawala opened #9004 "NVDA 2018.4 beta2 DELAYS TO RESPOND IN English and SWAHILI Long PARAGRAPHS and TABLES with much TEXT"
It takes a minute or so for NVDA 2018.4 beeta2 to RESPOND IN English and SWAHILI long PARAGRAPHS and TABLES of about 3767 or more characters when pressing CTRL+down arrow for reading paragraphs or CTRL+alt+right arrow to read tables. this issue wants to resemble issue #6423 in the NVDA 2017.3. the difference is that this also occurs in English texts, something that could not occur in previous NVDA

[2018-12-02 18:31] mltony opened #9005 "TextInfo._getCaretOffset() method is not implemented in some controls"
### Steps to reproduce:
1. Install SentenceNav 2.0 add-on for NVDA.
2. Open an empty document in LibreOffice and type the following text:
Hello. This is test. Good bye.
3. Try navigating between sentences using Alt+Up and Alt+Down commands.

### Actual behavior:
Sentence navigation commands don't work. The following exception is thrown:
error executing script: <bound method
GlobalPlugin.script_pre

[2018-12-02 19:05] RafaelGSS opened #9006 "Question about the code"
Hello everyone.

I'm developer C++ and was excited to contribuiter on these repository. But, before I have some questions:

I'm not expert in Python and not know about the API of Hooks that us uses here. I need studyng the code before, but dont have a quick start
- How to run application like Debug ou Release
- And principally, how get element focused.

Sorry guys if these question is in wrong pla

[2018-12-02 19:21] jacobchawala opened #9007 "incorrectness in Microsoft-word by NVDA2018.4 beeta2 when arrowing"
when pressing right arrow, in Microsoft-word, sometimes, NVDA2018.4 beta2 says space in a place where there are texts. when down arrowing, it sometimes says blank in a place where there are texts.

### Steps to reproduce: new

### Actual behavior: incorrect announcement when arrowing

### Expected behavior: correct announcement when arrowing

### System configuration: windows 10 of Ocotober 2018

[2018-12-02 19:35] DrSooom commented on #9001
No different behaviour with NVDA 2018.4 Beta 2 Portable and Firefox 63.0.3 Portable on Win7x64 in compare with installed NVDA 2018.1.

How many characters are spoken when the cursor is located on different positions when pressing NVDA+ArrowUP in focus mode in this text field? I guess you are able to move the cursor inside this text field with the arrow keys in focus mode as usual. And is a braille

[2018-12-02 19:45] lukaszgo1 commented on #9001
There is no braille display connected, and the position of the cared doesn't matter I am always getting only the first character when pressing NVDA+ up arrow. I am attaching the log demonstrating this at the debug level.
[nvda-old.log](https://github.com/nvaccess/nvda/files/2637302/nvda-old.log)

[2018-12-02 20:03] DrSooom commented on #9006
Have you already read the [wiki articles](https://github.com/nvaccess/nvda/wiki)? As I'm not a developer, I'm not able to tell you if your questions will be answered there. But if not, just let us know. The better the wiki articles are for new devs the better for the future.

[2018-12-02 20:05] lukaszgo1 commented on #9001
Another discovery. If anything is entered into the password field the first edit box behaves correctly. Testing with JAWS 2018 shows, that he is also affected.

[2018-12-02 20:11] RafaelGSS commented on #9006
Hello @DrSooom ! Yes, sure 😄

But, don't have these answers

[2018-12-02 20:48] Adriani90 commented on #9007
@jacobchawala thank you for this detailed information.. But for issues it is just enough to report windows version, version of software used and version of NVDA. Bios, system ID and machine ID and so on is not important for developers.
Could you please upload an example document which allows us to reproduce this issue?
I cannot reproduce it with NVDA 2018.4 Beta 2 on Windows 10 1809 and MS Word 20

[2018-12-02 20:54] DrSooom commented on #9001
Ah, okay. I always entered some text in the password field. Now I was able to reproduce it with NVDA 2018.1 and Firefox 56.0.2 as well as with NVDA 2018.4 Beta 2 Portable and Firefox 63.0.3 Portable – both on win7x64.

If a braille display is connected, press ArrowRight in focus mode in the first text field and more and more characters are shown on the braille display. But you are right, pressing

[2018-12-02 20:56] Adriani90 commented on #9006
@RafaelGSS at least for your second question, if I understand it correctly you want to get infos about focused element. Right? Well in NVDA you can get information on focused element and also on the navigator object.
So you can gain infos by typing certain commands in the python console in NVDA. You can open it by pressing ctrl+nvda+z or in NVDA menu / tool / python console.

Type there
[code]
and

[2018-12-02 20:57] Adriani90 commented on #9006
Could you please specify your first question more exactly? what exactly do you want to achieve?

[2018-12-02 21:06] Adriani90 commented on #8948
cc: @derekriemer, @michaelDCurran

[2018-12-02 21:15] Adriani90 commented on #7618
@Qchristensen can you still reproduce this with last versions?
If not, i suggest to close this issue considering @zahra21's comment above.

[2018-12-02 22:08] mltony commented on #9005
@leonardder, before blaming my SentenceNav add-on, would you mind explaining what's the right way of finding out caret offset?

[2018-12-02 22:09] bdorer commented on #8081
I've got a BRW40 and can't reproduce any disconnect errors. The classic
driver addon from handytech works with latest nvda next without the
configuration dialog. Probably caused by wxpy4 incompatibility.

I'll ask the German community wheather they have problems with handytech
displays.

[2018-12-02 22:37] RafaelGSS commented on #9006
Hello @Adriani90 ! Thanks for your answer.

Oh, great, but... I want find "How NVDA get infos about focused element", what part of the code, you understand ?

The first question is:

I want run NVDA from source code and Debug it, for understand the source code and design pattern used. But, I dont found it on README and Wiki. Do wanna help me about these two questions ?

Thanks for reply!

[2018-12-02 22:53] michaelDCurran commented on #8994
It is debatable whether users expect the value to be relative to the page or the margin. I don't really see how useful taking the margin into account would be as the margin will be the same all the way down the page. I think it would be better in future to have the ability to simply report the size of the margin separately.
@andrew-l-d I did not fully understand what you meant about assigning an i

[2018-12-02 22:59] jscholes commented on #9006
NVDA obtains information via a number of different accessibility APIs, much of it pushed from the OS to the screen reader as events.  You'll need to read the NVDA code and developer documentation, as well as the documentation from Microsoft as well as the vendors of the other accessibility APIs used like the Java Access Bridge, to learn about exactly how all this works and fits together.

If you'r

[2018-12-02 23:12] jacobchawala commented on #9007
I am using Microsoft word 2016. no braille is/was connected.

On Sun, Dec 2, 2018 at 11:48 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2018-12-02 23:16] RafaelGSS commented on #9006
@jscholes Hello! Thanks for your response.

I understand ... I know the Python ecosystem, but I missed the documentation on setting the environment or a Dockerfile for quick execution.

But I understand your point. Sorry for the newbie question, and I'll see you in the future in future PRs.

Thank you all for the answer!

[2018-12-02 23:37] derekriemer commented on #8693
[**@accessaces**](https://github.com/accessaces) commented on [Aug 29, 2018, 4:55 PM MDT](https://github.com/nvaccess/nvda/issues/8693#issue-355362741 "2018-08-29T22:55:22Z - Replied by Github Reply Comments"):

Lucy didn't realize the template was below her cursor when editing this issue. I'm going to reword this to ensure a developer can fix it.We're closing this because I can't actually reprodu

[2018-12-02 23:37] #8693 closed

[2018-12-02 23:39] DrSooom commented on #9007
@jacobchawala: There is no link to a Word document in your last post. Please upload it via the GitHub website. Please ensure that it doesn't contain any private data. And: Does this Word document contain images?

[2018-12-03 00:35] andrew-l-d commented on #8994
Michael, I am fairly certain I disagree with your comment, "I don't really see how useful taking the margin into account would be..."  In the example I attached, the margin is not the same all the way down the page.  On the indented paragraph I brought the left margin in by 3cm.  Indenting a paragraph is not an uncommon practice, especially for quotations.  Another case where getting the horizonta

[2018-12-03 02:15] jacobchawala commented on #9007
This Word document below does not contain images. Click
[ICT-NVDA TEST.docx](https://github.com/nvaccess/nvda/files/2637786/ICT-NVDA.TEST.docx)

[2018-12-03 02:15] jacobchawala commented on #9007
This Word document below does not contain images. Click
[ICT-NVDA TEST.docx](https://github.com/nvaccess/nvda/files/2637786/ICT-NVDA.TEST.docx)

[2018-12-03 02:19] jacobchawala commented on #9007
This Word document below does not contain images. Click
[ICT-NVDA TEST.docx](
https://github.com/nvaccess/nvda/files/2637786/ICT-NVDA.TEST.docx)

On Mon, Dec 3, 2018 at 2:39 AM Daniel Mayr <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.F

[2018-12-03 02:35] michaelDCurran commented on #8994
Thanks for your clarification.

I think I better understand the issue now.  It looks like when a
paragraph is indented, NVDA is not able to take this in to account when
reporting the position of the caret.

I think it best not to use the word "margin" in this discussion.

Clearly Microsoft Word is giving back the distance from the left edge of
the paragraph, not the page. This is not what I expect

[2018-12-03 02:51] michaelDCurran commented on #8994
Technical:

When Information(wdHorizontalPositionRelativeToPage) is called on a
range object, MS Word does not take the paragraph indent into account,
and therefore gives back the distance from the left edge of the paragraph.

However, when information(wdHorizontalPositionRelativeToPage) is called
on the actual selection object, it does take it into account, I.e.
distance from the left edge of the

[2018-12-03 04:08] michaelDCurran commented on #8994
Here is a try build with the fix:
https://ci.appveyor.com/api/buildjobs/yjpkwoks5kr967fr/artifacts/output%2Fnvda_snapshot_try-i8994-16338%2C745f390d.exe
Note that due to limitations in MS Word, if you now move the review cursor away from the caret, the reportLocation script will refuse to report distances, as they would be inaccurate.
However, at least for 2018.4, this script will work in the most

[2018-12-03 05:18] Qchristensen commented on #6269
Changed the title to remove the specific keys and mention when the indent is created with keystrokes.  As discussed these are control+m / control+t in English but vary in other languages.

[2018-12-03 05:20] Qchristensen opened #9009 "Report that a list has been created when CONTROL+SHIFT+L is pressed in Word."
### Steps to reproduce:

Open a blank document in Word.
Press CONTROL+SHIFT+L to create a list.

### Actual behavior:

Word inserts a bullet and indents the current line to start a bulleted list.  NVDA does not report anything when the keystroke is pressed.

### Expected behavior:

NVDA should report that the list has been created.

This is possibly similar to #6269 (setting indent with a keystrok

[2018-12-03 05:35] andrew-l-d commented on #8994
Excellent!  I tried all manner of settings and could not fault it.  I even set a left margin beyond the left edge of the paper and that was reported correctly.
Incidentally, I used this try build to open the Autohotkey.chm file (see #8976) and it worked perfectly.  2018.4 beta 2 still refuses to open that and some other .chm files.

Andrew

[2018-12-03 07:11] leonardder commented on #9005
@mltony: The major point here is that many textInfo objects that aren't inheriting from textInfos.offsets.OffsetsTextInfo don't have offsets NVDA can work with at all. So there is no right way to find a caret offset for these.

As this is not an issue within NVDA, I'm closing this as invalid. Please consider the following for SentenseNav. Either:

1. Limit your logic that relies on a caret offset

[2018-12-03 07:11] #9005 closed

[2018-12-03 08:46] leonardder commented on #8988
Fixed in #8989

[2018-12-03 08:46] #8988 closed

[2018-12-03 08:47] leonardder commented on #8994
Fixed in #9008

[2018-12-03 08:47] #8994 closed

[2018-12-03 08:49] samsaida opened #9010 "NVDA not reading in IE 11"
### Steps to reproduce:
NVDA not reading following in IE11.

`<div tabindex="-1" id="abc"><span title="abc efg">efg</span></div>`

### Actual behavior:
In other browsers such as Firefox and Chrome, NVDA reads "abc efg" (span title) on focusing the div. But in IE, NVDA says 'grouping' while moving the focus from one div to another.

### Expected behavior:
In IE, NVDA should read "abc efg" once whil

[2018-12-03 10:47] jscholes commented on #9006
No need to apologise.  NVDA doesn't use Docker.  But the readme file at the root of the repository (also displayed on GitHub) contains information about how to obtain the source code, which dependencies are required, how to run a copy from source and how to initiate a build.  If you feel like some key pieces of information are missing from the readme document, we want to hear about it.

[2018-12-03 12:31] enessaribas opened #9011 "NVDa reading of attachment broken in thunderbird 60.0"
### Steps to reproduce:
Add an attachment to a message in the compose dialogue box, and shift tab to attachments list.

expected: nvda reads attachment in a list, and gives options to navigate and delete individual attachments.

Could one of the devs please look into this?
### Actual behavior:
actual: nvda anounces attachment list, attach file, alt+m

### Expected behavior:
expected: nvda reads at

[2018-12-03 14:00] DeamonDavid opened #9012 "Copying and pasting issue in MS Word 2013 and NVDA 2018.3.2"
### Steps to reproduce:
Open a MS Word document with some text.
Try to select and copy a portion of the text, and paste it another place in the document.
### Actual behavior:
Some of the copied text are missing when pasting it.
### Expected behavior:
All text copied should be included when pasting it.
### System configuration:

#### NVDA Installed/portable/running from source:

#### NVDA version:

[2018-12-03 15:40] Brian1Gaff commented on #9012
Just a thought, but do you have the zoom level high enough as if the pasted
text say covers a boundary between page 1 and page 2 it looks like its not
pasted, but what in fact has happened is that you have jumped to view page
three as words weird logic puts page 1 and 2 alongside each other, moving
the zoon to 200 makes it only display one page per page and page 2 moves
underneath page 1 again.
 I

[2018-12-03 15:42] PratikP1 commented on #480
@ehollig Sorry it took me so long to get back to you on this. While I wouldn't describe the user interaction to be the best in the envelope maker, at least, it now speaks all the elements. The text edit fields work as expected. There is no label applied to the two address fields. But alt+d and alt+r move the user to the Address and Return address fields respectively. Unlike other selection command

[2018-12-03 16:23] DrSooom commented on #9007
Well the performance in the protected view of Microsoft Word 2010 with NVDA 2018.1 on win7x64 is really slow after opening your Word document. The CPU usage of Word increases to 80-100 %  per Thread. That's not fine. I'm asking me, why "word\styles.xml" has ~31 KB. (DOCX, XLSX and PPTX files can be opened with 7-Zip.)

[2018-12-03 17:42] zstanecic opened #9013 "upgrade Liblouis to version 3.8.0"
Ho to all,
Today, the Liblouis 3.8.0 was released to the public.
It brings a ton of bubfixes, and a lot of renamed braille tables.
The biggest change to us is that pass1 only flags are removed completelly, and the braille tables where updated, and new tables were created.
Here is the excerpt from the changelog

The liblouis developer team is proud to announce the liblouis release 3.8.0. The releas

[2018-12-03 18:01] leonardder commented on #9005
@mltony: it might help to ask your question on the development list.
In my opinion, both offset based and non offset based text information implementations have their advantages and drawbacks. But again, this is not a limitation within NVDA, rather on the API level of the non offset based implementations, such as UIA, Word and ITextDocument.

For Libre and Thunderbird, It might help you to know th

[2018-12-03 18:03] leonardder commented on #9013
I will provide a pr for this which will also switch to using UCS4 under the hood, being much more friendly to emoji. I intend to add the new Spanish and Arabic tables. I'm not sure about Turkish, though. There is a tr.ctb table that is classified by NVDA as turkish grade 1, but liblouis contains another turkish grade 1 tables.

[2018-12-03 18:13] mltony commented on #9005
Where can I get more information about compound based text infos ?
Like what's the name of the class in NVDA? If they use offsets under
the hood - I might be able to extract them.

On 12/3/18, Leonard de Ruijter <notifications@github.com> wrote:

[2018-12-03 18:31] zstanecic commented on #9013
Don’t forget to add the arabic computer Braille and arabic grade 2

And also don’t forget to rename the german tables.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, December 3, 2018 7:04 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] upgrade Liblouis to version 3.8.0 (#901

[2018-12-03 20:36] ehollig commented on #8993
@svenka22 have you tried this with NVDA 2018.3 or 2018.4 beta?

[2018-12-03 22:07] DrSooom commented on #9011
Dublicate of #8698.

[2018-12-03 22:19] lukaszgo1 opened #9014 "Repeated characters in the Tera Term pro"
### Steps to reproduce:
1. Open Tera Term pro, and connect to the ssh host.
2. start typing something.
3. Press backspace  and type some more.
### Actual behavior:
After backspace is pressed each typed character is echoed back, if character echo is enabled twice. This is happening until enter is pressed.

### Expected behavior:
The character echo setting should be respected i.e no announcement if

[2018-12-03 22:52] DrSooom commented on #9013
The SHA-256 checksum for "de-de-comp8.ctb" is the same in Liblouis 3.1.0, 3.5.0 and 3.8.0, but not in 3.0.0 and before. SHA-256: 6a6f3682bdb20c53458ee813773288d115d094b965c9f58ef0bc3ff98ce80c24

[2018-12-03 22:56] Adriani90 commented on #9007
@jacobchawala thank you for this example. I am using MS Word 2016 with NVDA 2018.4 Beta 2 and Windows 10 1809. Unfortunately I cannot reproduce this issue. But considering @DrSooom's comment above I think your experience is related to performance. Can you please disable "pages" in document formating settings in NVDA menu and try it again? After disabling pages, can you still reproduce it?

Do you

[2018-12-03 22:57] Adriani90 commented on #9007
try also to change the document layout in MS Word to web layout or to draft layout. Is it still reproducible?

[2018-12-03 23:07] Adriani90 commented on #8978
cc: @michaelDCurran, @josephsl

[2018-12-04 01:12] DrSooom commented on #9007
I guess I've found the issue.

@jacobchawala: Please disable "Editor revisions" in the NVDA Document Settings and then restart Microsoft Word 2013. Does it now work as expected?

I couldn't reproduce your mentioned behaviour after disabling this option. Note that the CPU usage will not decrease when Microsoft Word 2010 was started while "Editor revisions" was still enabled. Disabling this option d

[2018-12-04 03:50] ehollig commented on #3511
Thank you @Adriani90 for your testing. Closing

[2018-12-04 03:50] #3511 closed

[2018-12-04 07:41] leonardder commented on #8228
As long as this table doesn't support the latin alphabet correctly, I'm afraid we can't support this table within NVDA

[2018-12-04 07:56] DeamonDavid commented on #9012
Hmm... Not sure actually... How can I see if the zoom is set to anything else than just normal?
In anye case, if this is the thing, I'd hope for a fix, as this is quite disturbing things.

As said, when doing this using JAWS, it works properly when doing the same steps.

[2018-12-04 08:09] leonardder commented on #6695
Ugh, there's one major thing I didn't think about yet.
When compiling liblouis with UCS-4, cursor position breaks in a major way. This is because NVDA provides the cursor position based on the internal python 2 unicode representation, which has two offsets for characters involving surrogates in UTF-16, such as 😊. A switch to Python 3 would automatically fix this I believe, since Python 3 unicode s

[2018-12-04 08:21] zstanecic commented on #6695
Hi,

As i know, this can break braille extender.

 <mailto:reply@reply.github.com> @Andre9642/BrailleExtender

From: Leonard de Ruijter <notifications@github.com>
Sent: Tuesday, December 4, 2018 9:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Compiling Liblouis with 32-bit Unicode support (#6695)

Ugh, there's one majo

[2018-12-04 08:55] larry801 commented on #9006
Since NVDA interact directly with operating system Dockerfile is not
convenient for testing and debugging
Python is a script language which is executed by interpreter,so there is no
such Debug profile in python.
If you want to run NVDA , just execute directly from source
These sections of readme file would be helpful
Getting the Source Code
Preparing the Source Tree
Running the Source Code

For th

[2018-12-04 10:18] vincent-lg opened #9016 "Error when prompting for user account control"
When an application requires for UAC, the window doesn't appear in focus.  When doing an Alt-Tab, then Alt+Y (to accept), this window closes and there's an error in the NVDA log.

### Steps to reproduce:

1. Open an application that requires user access control, like etcher.
2. When you're asked whether to continue and allow this as administrator, press Alt + Tab to get focus (focus isn't acquired

[2018-12-04 10:31] leonardder commented on #9006
Please move this conversation to the [NVDA development mailing list](https://sourceforge.net/projects/nvda/lists/nvda-devel)

[2018-12-04 11:35] bhavya974 opened #9017 "NVDA is not reading sort options for column headers."
NVDA is not reading sort options for column headers. Once user press enter and the table is sorted then NVDA is reading that grid is sorted in either descending/ascending order.

**Steps to reproduce:**
1. Open the zip file and select the html file.
2. Open the html page in Google Chrome.
3. Start NVDA.
4. Navigate to column header "Amount".

### Actual behavior:
NVDA is not reading sort options f

[2018-12-04 11:49] ABuffEr commented on #9014
Hi,
if I understood correctly, this is a known problem. See @derekriemer add-ons such as [consoleTimer](https://github.com/derekriemer/consoleTimer) and [tdsr-NVDA](https://github.com/derekriemer/tdsr-NVDA)
Hth

[2018-12-04 16:37] StevenMilneDev commented on #8671
I have also noticed this bug and it doesn't just affect Internet Explorer 11, it also affects Edge. It seems any form with HTML5 validation causes issues when the validation fails. I've confirmed it happens with email type fields and also numeric fields with a minimum value.

The error that is shown in IE is `Invalid calling object` on line 1 character 1. Edge seems to exhibit similar behaviour bu

[2018-12-04 16:55] josephsl commented on #9016
Hi, does NVDA even read UAC dialog content when this happens? If not, you might want to check if UAC level is set to 34% (level 1). As for the second traceback, you’re not alone in experiencing this problem where NvDA appears to not fetch first few lines of terminal text. Thanks.

From: vincent-lg <notifications@github.com>
Sent: Tuesday, December 4, 2018 2:19 AM
To: nvaccess/nvda <nvda@noreply.gi

[2018-12-04 16:57] Brian1Gaff commented on #9016
This has been going on for ages in windows 7. I have now turned  it off
completely so I never get asked. Its also interesting to note that Dropbox
seems to now have an alert that opens behind the current window that asks
delete from all machines when you attempt to delete a file in a windows
folder managed by dropbox.
 Sadly I can only seem to choose yes and only after alt tabbing a lot to get
it

[2018-12-04 21:43] ehollig commented on #9011
Duplicate of #8698

[2018-12-04 21:43] #9011 closed

[2018-12-04 22:31] carbontracking opened #9018 ""FOCUS HIGHLIGHT" addon in Word 2013 does not hghlight lines"
### Steps to reproduce:
Install the Focus Highlight addon
Open a Word document (only tested in Word 2013)

### Actual behavior:
I understood that the Focus Highmight would highlight the line currently being read.
However, in WOrd 2013 we see the entire page surrounded by the red line and the dotted green line never appears, as I would have expected it should.
### Expected behavior:

As I navigate

[2018-12-04 22:35] josephsl commented on #9018
CC @Nishomotz

From: carbontracking <notifications@github.com>
Sent: Tuesday, December 4, 2018 2:32 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] "FOCUS HIGHLIGHT" addon in Word 2013 does not hghlight lines (#9018)

Steps to reproduce:

Install the Focus Highlight addon
Open a Word document (only tested in Word 2013)

Actual

[2018-12-04 22:44] Adriani90 commented on #9018
cc: @nvdajp

[2018-12-04 23:17] Qchristensen commented on #7618
I just tried this again with NVDA 2018.4beta3 and LibreOffice 6.1.3.2 (x64) and it seems to be behaving fine.  I can move around immediately upon opening LibreOffice calc - either a blank file, or opening an existing file.

Therefore I'm going to close this, but if anyone is still experiencing this on the current version (of either LibreOffice or NVDA), do comment.

[2018-12-04 23:17] #7618 closed

[2018-12-05 04:39] #8939 closed

[2018-12-05 05:35] Qchristensen opened #9019 "Language drop down not read when translating in Word 365"
### Steps to reproduce:
1. Select some text in Word
2. Open the context menu and press S to choose "Translate".
3. Press F6 to move to the trranslator task pane
4. Press TAB to the Edit just past the "From label".
5. Start typing a language.
6. Down arrow through the list of languages

### Actual behavior:

At step 4, NVDA reads only "Edit Blank"
At step 5, the letter typed is read.
At step 6, the

[2018-12-05 06:37] derekriemer commented on #9005
compound textInfos are based on code in compoundDocuments.py.
However, textInfos are extremely abstract.

Provides information about a range of text in an object and facilitates access to all text in the widget.
	A TextInfo represents a specific range of text, providing access to the text itself, as well as information about the text such as its formatting and any associated controls.
	This range

[2018-12-05 11:51] #8494 closed

[2018-12-05 13:11] leonardder commented on #9018
It might be that #8572 will improve this.

[2018-12-05 15:22] ultrasound1372 opened #9020 "NVDA should skip disabled add-ons when creating portable or system copies"
There is another issue similar to this one open, but it only covers system config and it seems to have not been looked at. Since the disabled add-ons facility was recently added, I figured why not bring this up? I'd like to see this in 2018.4.
I, and some other users probably, have some large add-ons such as vocalizer or acapella voices, or other synth drivers and such I do not need on portable co

[2018-12-05 15:47] josephsl commented on #9020
Hi, sorry, it won’t make the cut for 2018.4. I’ll take this on but after #6275 is merged into master first. CC @NVDAEs in case she wants to take this on, as checkable list is a good implementation strategy for this. Thanks.

From: Colton Hill <notifications@github.com>
Sent: Wednesday, December 5, 2018 7:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.co

[2018-12-05 16:21] Brian1Gaff commented on #9020
Maybe the skip or not should be a setting when you are asked questions when
you are about to create a portable version. In some cases you may want them
after all.
 Also has any work been done that might be able to mitigate the issues of
reduced functionality on temp copies in windows 10?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co

[2018-12-05 17:17] lukaszgo1 commented on #9014
@ABuffEr Thanks for your commend. Unfortunatelly none of the solutions above helps because:
- in case of consoleTimer it works when moving cursor, but the problem which I've described in my str appears when simply typing.
- tdsr-NVDA might work, however I often have to access machines started from the Live cd over ssh, in which case installing anything on the linux side is not possible.

[2018-12-05 17:36] leonardder commented on #9005
This again depends on what is provided by the textInfo api being used.

I think this discussion is heading in a direction where switching the conversation to the NVDA development list might be more appropriate than github.

[2018-12-05 17:37] lukaszgo1 commented on #8600
I've updated pr description according to the new feature  request template.

[2018-12-05 20:16] vkadri commented on #8440
Hello, is there update on this?

[2018-12-05 20:21] lukaszgo1 commented on #8079
Any updates on this? Any chance of fixing it for 2019.1? It is even more annoying than clickable several time in a row was in my subjective opinion.

[2018-12-05 21:34] ehollig commented on #3176
I am not able to reproduce this in IE 11 using NVDA Alpha and downloading a file. I am also unsure if there is even a notification presented in IE once a file is complete. I believe the notification disappears. Closing

[2018-12-05 21:34] #3176 closed

[2018-12-05 21:40] ehollig commented on #2144
As we are unable to reproduce this, I am going to close it. Closing

[2018-12-05 21:40] #2144 closed

[2018-12-05 21:47] ironcross32 commented on #7605
I can confirm that this is an issue. Though I do see the value in their way of doing things, if you want to read past the method itself and into the arguments you've given it, you must press the control right arrow key a number of times more than would be needed in a normal text editor.

[2018-12-05 22:09] ironcross32 opened #9021 "NVDA Failing to Read Vs Code After Open for Extended Period"
### Steps to reproduce:
Work with vs code and NVDA, then do something else on the system, after alt-tabbling bak in, especially after vs code is open for a while, NVDA sometimes stops reading anything in the window, seemingly stuck in focus mode as well.
### Actual behavior:
NVDA no longer reads most things in the window, with the exception of pressing the ALt number row keys to switch window, it

[2018-12-05 22:11] Adriani90 commented on #8440
cc: @josephsl

Von meinem iPhone gesendet

[2018-12-05 22:12] Adriani90 commented on #8079
@leonardder

Von meinem iPhone gesendet

[2018-12-05 22:54] Adriani90 commented on #3020
@leonardder I can reproduce this issue in MS Outlook 2016 with NVDA 2018.4 Beta II and Windows 10 1809 Update.
Even if automatic say all when page loads is enabled, NVDA reads only the first three lines or so after pressing enter on an e-mail in outlook.
This issue occurs in focus mode and in browse mode.

[2018-12-05 22:59] Adriani90 commented on #3019
@leonardder I cannot reproduce this in MS Outlook 2016. NVDA reads "document multi line". Nothing about editable field or so.
I can test tomorrow in Outlook 2010.

[2018-12-05 23:06] Adriani90 commented on #3168
@surfer0627 is this still an issue for you? Does this occur also when tetering the braille display to automatic?

[2018-12-05 23:07] Adriani90 commented on #3168
@bdorer can you reproduce this maybe?

[2018-12-05 23:10] Adriani90 commented on #3166
@leonardder, @michaelDCurran unfortunately I do not have a braille display to test this but I guess this is still an issue even with automatic tetering. Right?

[2018-12-05 23:12] Adriani90 commented on #3166
@jcsteh I guess the discussion was not been further expanded an NV Access. Right?
@sergioneves please test it if possible with automatic tetering and tell us if this issue still occurs.

[2018-12-05 23:16] Adriani90 commented on #3158
@nmatthews is this issue still reproducible?

[2018-12-05 23:20] Adriani90 commented on #3156
@jcsteh I guess this is still an issue in last Firefox version. Right?
@camlorn please proviede exact stept to reproduce and an example website. I think there are some duplicate issue out there but we need exact steps to reproduce here.

[2018-12-05 23:35] Adriani90 commented on #3149
@derekriemer, @josephsl your thoughts are very  appreciated here. I can still reproduce it in Windows 10 1809 Update.

[2018-12-05 23:43] Adriani90 commented on #3113
@feerrenrut is not possible to create a new folder out of the portable copy creation dialog? I.e. "An NVDA folder does not exist on this device. Do you want to create one? Yes / no". I think running NVDA with autorun does not work in Windows 10 anyway. So a folder would be enough I guess.

[2018-12-05 23:45] Adriani90 commented on #3113
maybe there is possible to create a rutine which creates an nvda.exe shortcut on the main folder of the device when creating a portable copy?

[2018-12-05 23:53] Adriani90 commented on #3096
@jmkenzm @jcstehI am not sure if I  can reproduce this issue. Actually when I tab away from search field NVDA says "search", then "computer science" and so on. Is this still the wrong tab order? If I am walking with down arrow in browse mode the order is the same like in focus mode which is actually the right behavior.

[2018-12-06 00:34] josephsl commented on #8440
Not me - CC @MichaelDCurran

[2018-12-06 00:43] josephsl commented on #3149
Hi,

I cannot reproduce this on Windows 7 English VM I have. Also, I see no volume mixer options dialog as noted in Windows 10 Version 1809 or other earlier release VM's I work with.

Please try with NVDA 2018.4/2019.1 alpha and see if that makes any difference.

Thanks.

[2018-12-06 02:48] #4435 closed

[2018-12-06 02:48] #4554 closed

[2018-12-06 02:48] #9013 closed

[2018-12-06 04:58] Neurrone commented on #9021
This is a [known VS Code issue](https://github.com/Microsoft/vscode/issues/28316).

[2018-12-06 05:34] michaelDCurran commented on #8726
I cannot seem to reproduce this. Do we know what exception is being thrown by SetLocale? Also, even if we do catch this,  do other things fail after that point?

[2018-12-06 06:55] jage9 commented on #8692
Can reproduce here. In addition, if you create a completely empty table, NVDA does not recognize it at all.
Here's another example file. Running Office 2016 and NVDA 2018.4RC.
[NVDA blank cells example.docx](https://github.com/nvaccess/nvda/files/2651997/NVDA.blank.cells.example.docx)

[2018-12-06 08:19] k-kolev1985 commented on #3149
I'm the reporter of this bug.

I've done some more testing now and here are my results.

1. The bug occurs under Windows 7 if the standard "Windows 7" theme is used, but not if the "high-contrast black" theme is used, for example. Apparently the problem has something to do with how that problematic text is rendered, because it seams to be rendered differently (at least with different fonts) depend

[2018-12-06 11:11] #6275 closed

[2018-12-06 13:57] zersiax opened #9023 "Some Braille Display drivers gone missing"
### Steps to reproduce:
1. Open NVDA's settings dialog and go to the Braille category.
2. Click the Change button.

### Actual behavior:
Only a subset of braille display drivers is listed. Logging reports the missing display drivers are excluded due to them reporting being unavailable.

### Expected behavior:
All supported display listed should be listed.

### System configuration
#### NVDA instal

[2018-12-06 14:20] leonardder commented on #9023
This is intentional. For the drivers that support braille display auto detection, de driver is only listed when there is a possible display to connect to.

[2018-12-06 14:30] zersiax commented on #9023
Alright, but the drivers in question are not listed to pick manually either. I cannot set my display to, for example, a HIMS display even though one is connected, idem for HandyTech. Starting to suspect this is a "only broken on my machine" issue, but don't have the slightest clue how that could have happened and how to fix.

[2018-12-06 14:52] ironcross32 commented on #9021
Thanks, and seeing as how on the vs code issue tracker, its identified as upstream, it seems that little to nothing will be done about that. Disappointing, but not unexpected. I have produced a workaround. By adding an entry to keybindings.json, I was able to create a keyboard to force a restart of vs code which then enables NVDA to regain focus.

[2018-12-06 14:57] leonardder commented on #9023
Could it be that you have installed Windows 10 braille support or brltty with libUSB? If your displays are ok, the drivers should definitely show up.

[2018-12-06 15:57] lukaszgo1 commented on #8916
Should this one be fixed when #8006 was merged?

[2018-12-06 17:35] zersiax commented on #9023
Some more experimenting revealed the glitch. Closing this issue because it's not actully entirely caused by NVDA. Partly had to do with drivers getting in each other's way and me not realizing that the majority of drivers no longer show up in the list of braille display drivers when the corresponding device isn't connected.

[2018-12-06 17:36] #9023 closed

[2018-12-06 17:54] lukaszgo1 opened #9024 "Duplicated mergedVbufBackendLibs are causing new branch to appear with each git pull."
First of all sorry for opening issue for such trivial problem, but there was no reaction to my  message to the NVDA devel mailing list and @JulienCochuyt [commend](https://github.com/nvaccess/nvda/pull/8866#issuecomment-442468866) In my opinion such issues are affecting image of the project in the bad way.
### Steps to reproduce:
1. Clone NVDA repository.
2. Perform git pull few times.
### Actual

[2018-12-06 19:58] Adriani90 commented on #3281
@feerrenrut is this issue a priority for NV Access to solve?

[2018-12-06 19:59] Adriani90 commented on #3281
@hh10k, @Yossarian I guess this is still reproducible in IE. Right?

[2018-12-06 20:13] jage9 commented on #8782
Thanks for the fix. When arrowing in FF, the first character reads the emoji while the second reads right paren. I assume this is expected behavior based on the comments in the PR?

[2018-12-06 20:21] Adriani90 commented on #3276
@falinn.onda is this issue still reproducible?
cc: @bramd

[2018-12-06 20:39] Adriani90 commented on #3266
I had something similar on google groups but thats another issue whic is not reproducible anymore.
I cannot reproduce this issue either. I suggest closing it unless someone reports it again. Then we can reopen it.

[2018-12-06 20:42] Adriani90 commented on #7955
This is resolved in Google Crome 71.0. I suggest closing it.

[2018-12-06 20:44] Adriani90 commented on #7956
This issue exists only in MS Edge. It is no longer occuring in Firefox and Google Crome, neither in IE. Tested with NVDA 2018.4 Beta 4 and Firefox 63.0.3, IE11 and Google Crome 71.0. Therefore I am going to close it and reopen it if I find an other example to reproduce this issue.

[2018-12-06 20:44] #7956 closed

[2018-12-06 21:01] Adriani90 commented on #3178
@briang1, @brian1gaf, @camlorn is this issue still reproducible with last version of NVDA and last editor version?

[2018-12-06 21:08] Adriani90 commented on #3366
@jhomme could you please thest if you can reproduce it?
I will try to test this tomorrow.

[2018-12-06 21:09] Adriani90 commented on #3319
@tutej is this still an issue for you?

[2018-12-06 21:11] Adriani90 commented on #3297
@amenaide can you still reproduce this?
@bramd are you maybe available to test this on a focus blue and see if it still occurs?

[2018-12-06 21:20] Adriani90 commented on #2439
I see that the discussion here is very comprehensive. Is this issue now solved? Or could someone give a short update on this?
Thank you.

@josephsl sephsl, @jcsteh

[2018-12-06 21:22] Adriani90 commented on #3304
@josephsl #2439 is closed in #6449. Are there any further updates on this issue?

[2018-12-06 21:33] Adriani90 commented on #3337
@jcsteh, are there any updates on this? I think the Mozilla bug is still open. Right?

[2018-12-06 21:34] Adriani90 commented on #3316
@k_kolev1985 can you still reproduce this in Audacity?

[2018-12-06 21:35] josephsl commented on #2439
Hi,

Never mind about my last comment. Perhaps Adriani didn't see the issue was actually closed.

Thanks.

[2018-12-06 21:36] josephsl commented on #3316
Hi, specifically with NVDA 2018.4 beta 4? If the issue is gone, I suggest closing this one, too, as this is an audio batching scenario covered by event tracking fix from @MichaelDCurran. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, December 6, 2018 1:35 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda]

[2018-12-06 21:52] josephsl commented on #8675
Hi,

#6275 GUI work took care of this, thus closing as fixed.

The new design splits add-on management buttons from add-on specific controls. On the right side of Add-ons Manager is add-on specific controls such as enable/disable and remove buttons, with the bottom row controls being overall management ones such as install and compatibility management buttons.

Thanks.

[2018-12-06 21:52] #8675 closed

[2018-12-06 22:42] Qchristensen commented on #3308
I can't reproduce it anymore.  I agree with closing it.  As always, if anyone can still reproduce this with current versions of NVDA, please report it.

[2018-12-06 22:42] #3308 closed

[2018-12-06 22:53] Robert-J-H commented on #3316
I don't think that this issue is still valid. It refers to an old
Audacity, probably with WXWidgets 2.98.
There may be some new problems but not directly related to this one.
Therefore, please close it.

On 06/12/2018, Joseph Lee <notifications@github.com> wrote:

[2018-12-07 03:31] nishimotz commented on #9018
Good to hear that NVDA worked around this.
If something is wrong with the addon itself, please use the issue system as follows:
https://github.com/nvdajp/focusHighlight/issues

[2018-12-07 04:59] #7480 closed

[2018-12-07 04:59] #8452 closed

[2018-12-07 05:31] josephsl opened #9026 "Update check/installation: value error when trying to install alpha snapshot"
Hi,

Looks like a regression from #8006: when attempting to install alpha.16387, I get a traceback.

STR:

1. Install alpha.16382.
2. Check for updates.

Expected: after downloading the latest release, NVDA presents installation dialog.
Actual: the following traceback is logged:

ERROR - unhandled exception (21:28:05.588):
Traceback (most recent call last):
  File "gui\__init__.pyc", line 985, in

[2018-12-07 07:41] jage9 commented on #7799
While it is possible to press H to move past the list of hotels, the behavior described in this issue no longer seems to exist, at least on this site.
This is with FF 63. Can this one be closed as fixed at some point?

[2018-12-07 07:50] jage9 commented on #8692
This seems to be fixed in Office 2016.

[2018-12-07 07:57] k-kolev1985 commented on #3316
I haven't worked with Audacity recently and haven't noticed, but this issue seams to be really solved. So yes, it can be closed.

[2018-12-07 08:39] ikrami1 commented on #8659
is there any news regarding this issue?
can Braille me Braille display driver integrated into nvda core?

[2018-12-07 08:49] Adriani90 commented on #7799
@jage9      you can Close this issue by yourself since you have created it. The vlose button is near to the comment button.

[2018-12-07 12:47] #6416 closed

[2018-12-07 13:12] Adriani90 commented on #8992
@DrSooom,  @fernando-jose-silva can you still reproduce this with NVDA 2018.4 Beta 4? I have noticed that NVDA became more stable in web Browsers in last beta Versions.

[2018-12-07 13:15] Adriani90 commented on #3019
@leonardder I cannot reproduce it in Outlook 2010 either.

[2018-12-07 13:19] Adriani90 commented on #3270
Moreover, testing in Word 2010, you can also read the Dialog with NVDA+b.

[2018-12-07 16:07] fernando-jose-silva commented on #8992
Many thanks @Adriani90 Adriani90 unfortunately still encountered the same problem when testing the beta.

[2018-12-07 18:45] jage9 commented on #7799
Thanks, will do. Just wanted to make sure no one else was still
experiencing this.

[2018-12-07 18:45] #7799 closed

[2018-12-07 19:47] Adriani90 commented on #7799
I have also tested in Firefox 63.0.3 with NVDA 2018.4 Beta 4 and the cursor seems to stay stable even when navigating quickly. You can navigate much wuicker than hotels are loaded and you can pass the list without the cursor getting stuck on the list.

[2018-12-07 19:48] Adriani90 commented on #7799
However I have noticed a slow delay when many hotels are loaded. But I think that issue is out of scope for this one.

[2018-12-07 20:04] ehollig commented on #3149
@k-kolev1985 thank you for your comment in https://github.com/nvaccess/nvda/issues/3149#issuecomment-444786952. I am going to close this issue for reasons pointed out above.

[2018-12-07 20:04] #3149 closed

[2018-12-07 20:05] ehollig commented on #3316
Closing as worksforme

[2018-12-07 20:05] #3316 closed

[2018-12-07 20:07] ehollig commented on #3019
Thank you @Adriani90 for your extensive testing. Closing

[2018-12-07 20:07] #3019 closed

[2018-12-07 20:10] ehollig commented on #3270
I am going to close this issue, as this sounds to be specific to Office 2010 and there is also a workaround

[2018-12-07 20:10] #3270 closed

[2018-12-07 20:22] Adriani90 commented on #3250
@joshknnd1982 could you please give us an update on this issue? Is your problem still reproducible with NVDA 2018.3.2 or 2018.4 Beta 4 and last version of the chat client?

[2018-12-07 20:54] Adriani90 commented on #3200
@derekriemer are you thinking to extend your console timer add-on? Or is the add-on not further developed? Maybe a function for solving this issue could be added.

[2018-12-07 21:48] Adriani90 commented on #8992
ok I can reproduce it either. I found out that this is caused by incorect parameter in NVDAObjects.IAccessible.IAccessible._get_IAccessibleRole. Now there must be a way to see the parameters assigned and how to adjust it.

[2018-12-08 02:39] #9026 closed

[2018-12-08 04:14] ehollig commented on #3096
CC @jmkenz
I am not able to reproduce this issue either, when performing the steps outlined in https://github.com/nvaccess/nvda/issues/3096#issuecomment-155305849
Closing, unless this is still an issue.

[2018-12-08 04:14] #3096 closed

[2018-12-08 04:31] ehollig commented on #3266
Closing as worksforme

[2018-12-08 04:31] #3266 closed

[2018-12-08 04:36] ehollig commented on #7955
This works correctly for me using Chrome 71 as well.

1. Open the following in Chrome: https://www.zhihu.com/question/58178068
2. Press 4 to move to the heading level 4 on the page.
3. Press down arrow a couple of times and focus will remain in the middle of the page.

Closing as worksforme

[2018-12-08 04:36] #7955 closed

[2018-12-08 04:38] ehollig commented on #3362
As we no longer can contact the original author of this issue, and we have not had a reported issue like this in a very long time, I am going to close this issue.

[2018-12-08 04:38] #3362 closed

[2018-12-08 04:42] ehollig commented on #3366
Thank you @Adriani90 for testing. Closing

[2018-12-08 04:42] #3366 closed

[2018-12-08 08:51] k-kolev1985 opened #9030 "The dialog for installing incompatible add-ons is not centered on the screen"
### Steps to reproduce:
1. Install the latest NVDA alpha snapshot, which contains the feature to check for add-on compatibility.
2. Try to install an add-on, which is not marked as compatible with this version of NVDA.

### Actual behavior:
The dialog which appears at first and asks us if we are sure we want to install this add-on is not centered on the screen.

### Expected behavior:
The dialog w

[2018-12-08 10:58] joshknnd1982 commented on #3250
Seems to work fine now

On Fri, Dec 7, 2018, 15:22 Adriani90 <notifications@github.com wrote:

[2018-12-08 11:32] Brian1Gaff commented on #9030
I'd also like to see some easy way to get a clipboard list of the add ons on
this list so we can find out later on who intends to actually update the
ones in the list and whether there may be work arounds for it. Also Its not
actually clear from the dialogue if we are saying they are incompatible
merely due to the missing manifest statements or have code
incompatibilities.
 Brian

bglists@blueyond

[2018-12-08 13:09] a11cf0 opened #9031 "NVDA suddenly becomes very slow after switching to an app that has been running for a long time"
### Steps to reproduce:
1. Open an application, e.g. Total Commander.
2. Switch out of it and leave it open for a relatively long time.
3. Switch back into its window.

### Actual behavior:
After that, NVDA sometimes becomes very sluggish and starts throwing lots of RPC  errors.
It's somewhat hard to then switch to a different app, but after doing that NVDA works just fine until I switch to the br

[2018-12-08 16:00] bdorer commented on #7925
seems to be fixed doing thunderbird development

[2018-12-08 16:00] #7925 closed

[2018-12-08 16:08] josephsl commented on #9030
Hi, I’ll do something about this, as well as adding keyboard hotkeys for some buttons. Thanks.

From: Kostadin Kolev <notifications@github.com>
Sent: Saturday, December 8, 2018 12:52 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] The dialog for installing incompatible add-ons is not centered on the screen (#9030)

Steps to rep

[2018-12-08 16:21] PratikP1 opened #9032 "Outlook 2016 crashes when certain messages are opened"
MS Outlook 2016 crashes when opening certain messages. This only occurs with NVDA. The behavior has not been observed when Narrator is running. It does not occur frequently but does enough times that it causes interruptions in productivity. I have only observed the crashes when opening HTML messages. While this does not mean that crashes are only related to HTML messages, it's a strong indication.

[2018-12-08 18:41] lukaszgo1 commented on #6291
I can confirm, that this issue is still present on Windows 7 ad least. The only way to restore NVDA to it's working condition is to switch user with CTRL+Alt+Delete and kill NVDA process from the second account. Any chance of prioritizing this? To be honest when i have to work in terminal and I am suspecting, that big amount of text would be displayed I am  switching to JAWS, because fighting with

[2018-12-08 18:42] leonardder commented on #6695
I've found a way to do this anyway. A pull request will be filed shortly.

[2018-12-08 18:44] leonardder opened #9034 "Braille routing accuracy breaks in text with emoji"
### Steps to reproduce:
1. Open notepad
2. Copy: `Hello😉test😉cheese`
3. Route the cursor to the c of cheese with a braille display

### Actual behavior:
Cursor ends up at h in cheese

### Expected behavior:
Cursor ends up at c in cheese

### Explanation
When routing a braille display in a TextInfoRegion, NVDA counts the number of characters in the text of the region, creates a text info at the sta

[2018-12-08 19:04] lukaszgo1 opened #9035 "Add an ability to assign custom highlight without writing an appmodule."
### Is your feature request related to a problem? Please describe.
In many edit boxes in which NVDA is using display model to access innformations the selection isn't announced. Examples of those include #4535 #8946 and #4756.
In most of this cases NVDA recognizes the fact, that the selected text has different color,  so fixing it is only a matter of telling, that this color is the highlight.
###

[2018-12-08 22:19] lukaszgo1 commented on #8651
Closing as a duplicate of #1740. @ehollig Can you add an apropriate label to this?

[2018-12-08 22:19] #8651 closed

[2018-12-08 22:46] lukaszgo1 commented on #8877
Further testing shows, that it is working in NVDA 2018.2 and failing in NVDA 2018.3 and later. @leonardder as an author of most braille related changes in NVDA can you please take a look.

[2018-12-08 23:34] ehollig commented on #3250
Thank you @joshknnd1982 for the comment. Closing

[2018-12-08 23:34] #3250 closed

[2018-12-09 00:33] DrSooom commented on #9031
Maybe related to issue #9021. For me it sounds quite similar to it.

[2018-12-09 02:05] Neurrone commented on #9031
@DrSooom I think its different. The VS Code one is caused by the main window not registering as a child of the foreground object, so NVDA silently ignores all events, like focus events.

[2018-12-09 03:14] munawarb commented on #8462
I get this issue in Firefox so much that when NVDA tells me there's a table, I'm half expecting table navigation keys to not work. So this bug does actually occur in Firefox as well, with Firefox Quantum.

Sometimes the table navigation keys will work for a particular row but as soon as you press CTRL+UP or DOWN, NVDA says "out of table blank."

Unfortunately, most of the places I've seen it happe

[2018-12-09 04:41] munawarb opened #9036 "NVDA hangs when a program crashes"
### Steps to reproduce:

### Actual behavior:
When a program that has focus crashes or hangs, NVDA does the same. Usually, I have to restart NVDA or "blindly" press ENTER to dismiss the supposed generic program crash message (the one with buttons to send a report to Microsoft.)

### Expected behavior:
NVDA's responsiveness shouldn't be reliant on programs running correctly.

### System configurati

[2018-12-09 07:32] pbblair opened #9037 "MathML works in buttons in Firefox but not Chrome"
I was happy to find that MathML is working well in Chrome now as well as Firefox.  But when i was testing I did notice this discrepancy:

### Steps to reproduce:

1. With Chrome, go to [http://superkeen.com/web/mathmltest/mathmlfocus.html](http://superkeen.com/web/mathmltest/mathmlfocus.html)
2. Tab through the page.
3. Pay special attention to the spoken text when reaching the page's only button.

[2018-12-09 07:50] pbblair commented on #5862
I know that a "+1" comment doesn't help very much, but I would like to support this suggestion.

It's actually a pretty realistic use case that you would want to have math in a multiple-choice exam.  As it stands, the only option for MathML accessibility when using simple input labels is to depend on alt-text for the answer choices.  It would be great if MathML in this context could at least be sp

[2018-12-09 08:01] pbblair commented on #7485
Thought I'd link this up with a relevant conversation elsewhere:

[https://github.com/w3c/aria-practices/issues/696](https://github.com/w3c/aria-practices/issues/696)

Seems like there's interest in making this happen.

[2018-12-09 10:20] josephsl opened #9038 "Python 3: file() function is no more"
Hi,

Continuing research on road blocks to Python 3 transition (see #7105 for rationale).

### Is your feature request related to a problem? Please describe.
Problem: in Python 3, file() function is no more.

Steps to reproduce:

1. Run Python 2 and 3 interpreters.
2. Try the following code path:

something = file(somefilename)

python 2: works as advertised.
Python 3: name error is thrown.

This

[2018-12-09 10:29] josephsl commented on #9038
Hi,

The affected files are:

* source/addonHandler/__init__.py
* source/buildVersion.py
* source/config/__init__.py
* source/gui/logViewer.py
* source/logHandler.py
* source/NVDAHelper.py
* source/updateCheck.py
* source/watchdog.py
* Any module (NVDA Core or add-ons) that deals with file I/O and uses file() function

Thanks.

[2018-12-09 11:44] netblue44 commented on #8462
I can conferm as well.

On 08/12/2018 09:14 p. m., Munawar Bijani wrote:

[2018-12-09 14:37] Brian1Gaff commented on #9038
Blimey its getting more like Basic every day...:-)
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Joseph Lee" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Sunday, D

[2018-12-10 02:10] tspivey opened #9039 "COM Registration Fixing tool doesn't work"
### Steps to reproduce:
1. Install MathPlayer.
2. Uninstall MathPlayer.
3. Read the task bar and notice it says unknown.
4. Run the COM Registration Fixing tool.
5. Read the task bar again and it still says unknown.

### Actual behavior:
The tool doesn't fix NVDA's accessibility support.

### Expected behavior:
The tool fixes NVDA's accessibility support.

### System configuration
#### NVDA instal

[2018-12-10 08:50] leonardder commented on #9039
What happens if you execute all the tweaks in https://github.com/nvaccess/nvda/issues/2807#issuecomment-320149243 by hand?

[2018-12-10 10:12] lukaszgo1 commented on #8877
Even if it is technically an UIA error it is happening only when braille display is connected and  it only affects  braille i.e braille no longer works after this happens until the profile with braille display is retriggeret.

[2018-12-10 10:49] Adriani90 commented on #9039
cc: @jcsteh, @michaelDCurran

[2018-12-10 10:59] Adriani90 commented on #8999
I can confirm it, when arrowing to "avatar" and then down arrow slowly, NVDA's virtual cursor gets stuck. When arrowing very fast you can pass that section and the virtual cursor moves properly again. Testing with NVDA 2018.4 RC1

[2018-12-10 11:00] Adriani90 commented on #8999
cc: @leonardder

[2018-12-10 11:03] lukaszgo1 commented on #8877
I've bisected it and the result are as follows
846a998b363fd5abaf447e5148bc272fefdf161c is the first bad commit
commit 846a998b363fd5abaf447e5148bc272fefdf161c
Author: Leonard de Ruijter <leonardder@users.noreply.github.com>
Date:   Tue Jul 17 08:57:13 2018 +0200

    Add automatic background braille display detection (#7741)

    * Implement braille display auto detection. This new background mec

[2018-12-10 11:32] josephsl commented on #3531
Hi, at least it doesn’t freeze in Version 1809 from what I can tell. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Monday, December 10, 2018 3:28 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] The list items in folder view of choose add on package in the add on manager are anno

[2018-12-10 11:33] Adriani90 commented on #3449
@leonardder in the taskbar on Windows 10 1809 I encounter the same problem. NVDA opens the application instead of dragging and dropping it to the desired location.

[2018-12-10 12:08] leonardder commented on #8877
Mm. I will mark this as a regression and will try to reproduce this locally.

[2018-12-10 12:10] leonardder commented on #8999
@michaeldcurran: I'm pretty sure that this is caused by the virtual buffer changes. It would help if you could have a look.

[2018-12-10 12:12] leonardder commented on #8999
I've assigned this a p2, as it is pretty important to investigate the cause of this before NVDA 2018.4 comes out IMO.

[2018-12-10 12:23] Adriani90 commented on #3520
This is not reproducible with NVDA 2018.4 RC1 and Firefox 63.0.3.

[2018-12-10 12:35] Adriani90 commented on #3519
I can reproduce it either. But I don't know exactly what NVDA should actually report. I guess there are names or descriptions for shapes of mouse cursor which are not delivered by the accessibility API. I wander if NVDA reports shapes when using this in MS Word with UIA enabled?

[2018-12-10 12:36] Adriani90 commented on #3519
the only cursor shape which is properly reported by NVDA is standard cursor.

[2018-12-10 12:41] Adriani90 commented on #3476
it is also not reproducible with NVDA 2018.4 RC1. @ehollig I think we can close this issue and reopen it if someone encounters this issue again.

[2018-12-10 12:45] leonardder commented on #3476
This issue has been poked several times, but unfortunately we haven't got any response from @camlorn. Closing for now.

[2018-12-10 12:45] #3476 closed

[2018-12-10 12:46] Adriani90 commented on #3430
@dgoldfield, @Brian1Gaff is this issue still reproducible on Windows 7?

[2018-12-10 12:48] tspivey commented on #9039
There are a lot of them. I haven't tried all of them, but here's a summary of some things I did try.

Testing with a win7 VM, this fixes it, note that this doesn't work on my real win10 machine, and requires an NVDA restart:
    c:\windows\syswow64\regsvr32 c:\windows\syswow64\oleacc.dll

On my win10 machine, this python console command fixes it if NVDA is run as administrator, but I forgot exactl

[2018-12-10 12:49] lukaszgo1 commented on #3430
Still reproducible on Windows 7 and 8.1

[2018-12-10 12:51] leonardder commented on #9039
Just to make sure, did you try OneCoreCommonProxyStub.dll on Windows 10
as well?

[2018-12-10 13:06] Adriani90 commented on #3417
@michaelDCurran any news from Microsoft regarding this issue?

[2018-12-10 13:11] Adriani90 commented on #3450
@grego is this still an issue for you?

[2018-12-10 13:15] Adriani90 commented on #3447
@Brendon22, @Brian1Gaff this might also be an issue related to soundcard which might go in standby after two seconds or so. Do you encounter this issue also with other words? let's say when navigating by headings in browse mode or so?

[2018-12-10 13:21] fisher729 commented on #8970
Hi.

Any updates on this. I Google these things often, so it's a bit disconcerting.

[2018-12-10 13:33] tspivey commented on #9039
@leonardder  I didn't realize you linked to a comment, let's try these.

0. Install/uninstall MathPlayer.
1. First reg file - now my start button doesn't say unknown, but that might've been because of the reboot since I didn't test beforehand.
2. Second reg file - no luck.
3. Started an admin cmd. Hey, my Firefox with the instructions still reads, maybe I'm in different bug territory now.
4. Enter

[2018-12-10 13:34] Adriani90 commented on #3679
There are no steps to reproduce so i suggest closing it. Button form fields set as macro are accessible in browse mode by pressing f. Charts are accessible with NVDA by pressing nvda+f7 and choosing a chart. I think the only usecase I am aware of is filter cells and macros which change the value for a certain cell (i.e. color etc) but which are not defined as a certain control.
Drop down menus are

[2018-12-10 13:35] Adriani90 commented on #3653
cc: @michaelDCurran

[2018-12-10 13:37] Adriani90 commented on #5337
@The_Dark_Man is this still reproducible with NVDA 2018.4 RC1?

[2018-12-10 13:37] leonardder commented on #9039
Hmm, so oleaut32.RegisterTypeLib does work why registering it with resvr32 does not, is that correct?

[2018-12-10 13:40] tspivey commented on #9039
Yes, at least on win10.

[2018-12-10 13:41] Adriani90 commented on #4853
@supanut2000 can you still reproduce this with NVDA 2018.4 RC1? If yes, please provide an MS Word document for reproducing this issue.

[2018-12-10 13:43] Adriani90 commented on #5158
@srandall, @dkager are you still able to reproduce your issues?

[2018-12-10 13:48] Adriani90 commented on #5776
@sumandogra are you still reproducing this issue with NVDA 2018.4 RC1?

[2018-12-10 13:54] Adriani90 commented on #5813
yes it seems this is in a text field. I have also created an issue for this, see #8048.

[2018-12-10 13:57] Adriani90 commented on #5517
@albzan are there any further updates regarding this issue?

[2018-12-10 14:03] Adriani90 commented on #8330
in Firefox 63.0.3 table navigation in message list and other tables is still broken.

[2018-12-10 14:05] Adriani90 commented on #8970
this is also happening on gmail in the message lsit for example.

[2018-12-10 14:15] Adriani90 commented on #9018
Is this issue fixed now with last versions of Focus highlight and NVDA?

[2018-12-10 14:24] Adriani90 opened #9040 "Browse mode: Navigation with quick navigation keys on amazon webpage in e-book kindle store is broken"
### Steps to reproduce:
1. Open this page
https://www.amazon.com/gp/product/B079R2H6M9/ref=s9_acsd_hps_bw_c_x_1_w/130-5096367-5995228?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-4&pf_rd_r=PFBR896NZQP9WQJJ9VJ2&pf_rd_r=PFBR896NZQP9WQJJ9VJ2&pf_rd_t=101&pf_rd_p=76be9779-6022-4a29-8358-8731ff59f084&pf_rd_p=76be9779-6022-4a29-8358-8731ff59f084&pf_rd_i=133140011
2. Press b to navigate by buttons mu

[2018-12-10 14:37] leonardder commented on #9018
No, as #8572 is still open.

[2018-12-10 15:02] munawarb commented on #8462
I'm able to confirm that table navigation keys also don't work in GMail's standard interface using Firefox Quantum. I tested with JAWS and it works fine. Re: my last comment concerning sensitive websites only, this is the first example that's common that I can share here, otherwise I only have seen this behavior on banking websites.

JAWS has no trouble in any of these cases, even when column coun

[2018-12-10 15:16] Brian1Gaff commented on #9040
Is this not something we knew about a while ago. There was some discussion
that it was page authoring. ie you could not actually buy from it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda"

[2018-12-10 17:12] albzan commented on #5517
@Adriani90 No news, the accessibility of the app degradated more in version 2017 because of the use of a broken WpfTextEditor. I developed an appModule to fix this also in Visual Studio.
In this appModule I've added also the workaround already mentioned. If the tree is not too large, it works great. When it slows down, you've to refresh the subtree of the treeview where you want to navigate into.

[2018-12-10 17:37] lukaszgo1 opened #9042 "NVDA fails to announce cursor movement and character deletion in go to edit field in excel 2010"
### Steps to reproduce:
1. Start excel 2010.
2. Press CTRL+g
3. Type b2:b11.
4. try to move with arrow keys or deleting with backspace.
### Actual behavior:
Blank is spoken.
### Expected behavior:
Deleted characters should be announced and characters to which cared moves should be spoken.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:
NVDA v

[2018-12-10 17:39] frastlin opened #9043 "Spelling Errors not Announced in Google Docs"
### Steps to reproduce:
1. Open a Google Docs file
2. Type: flred
3. hit space
4. hit down arrow and up arrow

### Actual behavior:

NVDA makes no buzz and does not announce spelling error.

### Expected behavior:

NVDA makes a buzz sound when space is pressed and says "spelling error" when NVDA reads the word after up arrow is pressed.

### System configuration
#### NVDA installed/portable/runnin

[2018-12-10 18:00] MelSumner commented on #7807
I think this issue should be closed as not valid (@LJWatson gave the reference that the issue author should read instead).

[2018-12-10 19:21] MelSumner commented on #6606
I'd love to team up with someone on the NVDA side, as I've been working on this from the SPA perspective- specifically, trying to see if we can solve this in [Ember.js](https://github.com/emberjs/ember.js).

I see that Ember uses the [history API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) in JavaScript frameworks- which came after the implementation of screen readers. Specifica

[2018-12-10 20:08] btman16 opened #9045 "NVDA 2018.4rc1 Reads Random Emoji in Internet Explorer when navigating through page history"
Hello,

Using Internet Explorer with NVDA 2018.4rc1, I was in Gmail and went back to a prior page with alt+left arrow.
I heard NVDA intermittently say "Black Diamond" when going back.
Steps to reproduce:
1. Open a text editor.
2. Press win+. (period) for the emoji panel.
3. Choose an emoji to insert it into the document.
4. Close the document.
5. Open Gmail into basic HTML view in Internet Explore

[2018-12-10 20:43] Adriani90 commented on #8999
@michaelDCurran regarding disappearing and reappearing of elements, there is the issue #8992 which as well shows this behavior on Google translate. In the log file it seems there is an incorrect parameter in NVDAObjects.IAccessible.IAccessible._get_IAccessibleRole when navigating with arrow keys around the region where the element is disappearing. Could it be also bad implementation by website dev

[2018-12-10 20:48] Adriani90 commented on #8999
I had this issue with disappearing elements on some websites also before NVDA 2018.3, but especially in MS Edge.

[2018-12-10 21:21] Qchristensen commented on #3679
There are other objects such as pictures, shapes and slicers, but there are specific issues for shapes and slicers at least

Slicer: #6605
Shapes: #7969

So yes, I'll close this one and specific objects can be dealt with under individual issues.

[2018-12-10 21:21] #3679 closed

[2018-12-11 02:07] DrSooom commented on #8961
Could somebody please explain me why I'm not hearing the error sound on starting Microsoft Outlook 2010 with NVDA 2018.4 RC1 Portable anymore, even when errors are logged at the debug logging level? [Here](https://github.com/nvaccess/nvda/files/2665647/8961_NVDA.2018.4.RC1_Outlook.2010_No.error.sound.log) is a new logfile for this. See line 136 to 249.

And when I set the logging level to "INFO",

[2018-12-11 02:48] armick commented on #7273
Why left/right/back space/delete does not announce anything? Both JAWS/Narrator does. Should you F*K something when adding/improving something? I'm crying for my $120 donations for the past 4 releases!

[2018-12-11 03:12] jcsteh commented on #3337
No updates yet. Yes, it's still open.

[2018-12-11 03:19] josephsl commented on #7273
Hi,

Okay, let's grab something to drink (perhaps soda or wine) and have a deep talk about what's happening. I'm listening - I won't say anything until you tell me the whole thing. Although I think NV Access people might not take it easily, I'm willing to listen to whatever that's in your mind, including rants, insults, and curses.

So, my friend, please tell me what's really bothering you about N

[2018-12-11 03:20] jcsteh commented on #3166
I can't comment with certainty as to NV Access's plans or opinions concerning development, since I'm not a developer there any more. :) As far as I know, there hasn't been any further discussion on this.

[2018-12-11 03:38] josephsl commented on #7273
Hi,

Hmmm, @armick, is that the issue you're seeing, or something else? If it is exactly what Quentin is saying, chances are that someone will report this to Microsoft.

Technical: I think Quentin is refering to build 18298 (fast ring). If so, this might be caused by UIA window open event not being fired and/or detected by NVDA (I tested this scenario numerous times to no avail). Usually, re-initi

[2018-12-11 03:51] Qchristensen commented on #7273
Sorry, I should have clarified, I did mean insider build of Windows, but I am using Slow insider build 18272 (which expires in a couple of days apparently.  Ridiculous that you get builds expiring, or even messages about builds expiring when there isn't a new build on that ring available.  But I digress :)  The issue I'm seeing with the emoji panel definitely seems to occur whether or not NVDA is

[2018-12-11 04:30] jcsteh commented on #9039
I wonder whether IDispatch still needs the typelib registered correctly, even if oleacc.dll is used as the marshaler. I guess that would make some sense. NVDA shouldn't be using IDispatch directly, but it could still feasibly be causing weirdness.

[2018-12-11 04:33] michaelDCurran commented on #9039
@jcsteh do you know if there are separate typelib registrations required
for 64 and 32 bit?

Or is running it from within NVDA (32 bit) enough?

[2018-12-11 04:38] jcsteh commented on #9039
I'm not certain. [This StackOverflow thread](https://stackoverflow.com/questions/9914535/what-decides-whether-registertypelib-writes-to-win32-or-win64) suggests they can be different. On the flip side, that same thread also gives me the impression that you can register a 64 bit typelib even in a 32 bit process.

[2018-12-11 04:54] Adriani90 commented on #8961
The error is still there but it does not strongly impacts NVDA‘s functionality. Error sounds are always played only in Alpha and Beta.

Von meinem iPhone gesendet

[2018-12-11 06:05] leonardder commented on #3166
I'm also not able to speak on behalf of NV Access, but personally I believe that this is not a bug. @jcsteh has explained this in https://github.com/nvaccess/nvda/issues/3166#issuecomment-155306326 . I would say that especially now auto tethering is there, the only thing we can consider is changing the action of the routing buttons when tethering is set to auto, while it it is temporarily tethered

[2018-12-11 06:09] leonardder commented on #3337
Note that there are several bugs in this area, i.e. when moving by character, 32 bit unicode characters are considered one character by Firefox, whereas its IA2 implementation makes us believe that they consist of two characters. See also #9034 and https://github.com/nvaccess/nvda/pull/8953

[2018-12-11 06:11] leonardder commented on #9045
In your steps to reproduce, I"m missing your explicit closing of the emoji panel with escape, i.e. after step 3. Does that change anything?

[2018-12-11 07:16] leonardder commented on #8999
I'm also experiencing this in Slack sometimes. I.e. when I am on a message in browse mode and press down arrow, NVDA brings me to the add reaction button for a short amount of time, then forces me back on the message. This might also be a case of bad web authoring though?

[2018-12-11 07:18] leonardder commented on #9024
The duplicate has been removed.

[2018-12-11 07:18] #9024 closed

[2018-12-11 09:59] andrew-l-d commented on #8976
The issue persists with 2018.4 rc1.  The last line of the log file is:
WindowsError: [Error 1726] The remote procedure call failed
As well as the autohotkey.chm file, the problem occurs with some, but by no means all, such files.
Andrew

[2018-12-11 10:00] leonardder commented on #8976
Could you somehow upload this chm file to here?

[2018-12-11 10:37] Adriani90 commented on #8976
I have done following:
1. Opened c:\programme (x86)
2. Went to the search field and typed .chm
3. Tested with 12 .chm files from different applications (VB Jaws, Active X etc.).

Result: I didn't get any errors in Windows 10 1809 Update with NVDA 2018.4 RC1.
@andrew-l-d, looking at your log file content it could be something wrong in your app data related to current profile. Could you change the c

[2018-12-11 10:37] Andre9642 commented on #8976
Have you tried with a portable version of NVDA 2018.4? Is it the same?
Have you tried with all add-ons disabled?
Maybe a log in debug level might help....

[2018-12-11 11:08] Adriani90 commented on #6890
This is still reproducible in Google Crome 71 with NVDA 2018.4 RC1.

[2018-12-11 11:14] bramd opened #9046 "NVDA reads column headers marked up as TD in a THead in Adobe Reader/Acrobat"
In PDF THead has no semantic value and a TD inside a THead is still a regular data cell. However, NVDA+Adobe Reader/Acrobat seem to handle a TD in a THead as column header.

### Steps to reproduce:

1. Open attached PDF
1. Read the table either continuous or using cell by cell navigation

### Actual behavior:

NVDA reports the values in the first row as column headers.

### Expected behavior:

NVD

[2018-12-11 11:18] Adriani90 commented on #6785
I think a good way to implement formating infos is to define status cells. Let's say for every formating information two cells, then you can use 8 cells as following:
the user defines the first 8 cells as status cells, then this could give four formating infos for a word or character. (i.e. first two cells = style, nex cells = revision, next cells = spelling, next cells = bold / italic etc.

[2018-12-11 11:18] Adriani90 commented on #6785
The user could also define only two cells and then choose which formating information should be atributed to them (i.e. spelling).

[2018-12-11 11:21] Adriani90 commented on #6785
To be honest I don't understand why braille display developers did not consider a second row of cells which can be used for status cells.

[2018-12-11 11:34] Adriani90 commented on #6720
@derekriemer can you still reproduce this issue? Maybe @Qchristensen can also help reproducing it?

[2018-12-11 11:45] Adriani90 commented on #6714
@derekriemer are you still working on this issue?

[2018-12-11 11:47] Adriani90 commented on #6708
@dave090679, @devil418, are you still having this issue?

[2018-12-11 11:57] Adriani90 commented on #3166
@leonardder this sounds reasonable. I think if system carret follows review cursor in edit fields, then it should work properly. As of now, review cursor follows system carret but not vice versa. This could be an optional setting in braille settings because for speech this is not very important I guess.

[2018-12-11 11:59] harishreddykanakanaka opened #9047 "NVDA is reading page title instead of reading the popup title or nothing."
### Steps to reproduce:
1) Open Test2.html attached below.
2)Tab till Save/ Delete button and hit Enter.
3)Verify how NVDA is reading the popup

### Actual behavior:
NVDA is reading page title instead of reading the popup title for publish and delete popup
### Expected behavior:
NVDA should read the popup title(This site says) but reading nothing.
### System configuration
windows 10 64bit ,16GB ra

[2018-12-11 12:33] #7916 closed

[2018-12-11 12:33] #8370 closed

[2018-12-11 12:33] #8371 closed

[2018-12-11 12:35] #8649 closed

[2018-12-11 13:09] Adriani90 commented on #9047
@harishreddykanakanaka, I am testing with NVDA 2018.4 RC1 on Google Chrome 71. I cannto reproduce it. When I press enter on save out of focus mode, it reads the notification "do you want to save?". It does not read the page title. When pressing enter from the browse mode, also the notification is read but not the title. I can enable browse mode after pressing enter on save or delete and then I am

[2018-12-11 13:40] Adriani90 commented on #6200
@sukiletxe can you test if this is still an issue in last Miranda NG version? I think it is 0.95 or so.

[2018-12-11 13:41] Adriani90 commented on #2519
@sukiletxe can you maybe try to reproduce this?

[2018-12-11 13:44] Adriani90 commented on #2445
@Brian1Gaff is this still an issue? As far as I know most applications report their system tray icon status trhough Windows notifications or through own notifications like Dropbox for example.

[2018-12-11 13:47] Adriani90 commented on #2105
@fatma.mehanna, @pvagner is this still an issue in last version of instantbird?

[2018-12-11 13:48] leonardder commented on #8734
@zstanecic: I believe the PHP Markdown extensions support tables to some extend, and the python markdown module [should support these extensions](https://python-markdown.github.io/extensions/tables/). There also is [an extension API](https://python-markdown.github.io/extensions/api/)

We would need more extensions, such as [table of contents](https://python-markdown.github.io/extensions/toc/)

I w

[2018-12-11 13:50] zstanecic commented on #8734
Hi Leonard,

I am advocate of markdown too, if user guide can be translated via the poedit, as we do it for the ikiwiki add-on pages.

From: Leonard de Ruijter <notifications@github.com>
Sent: Tuesday, December 11, 2018 2:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3: find a sui

[2018-12-11 13:57] Adriani90 commented on #572
@leonardder, @janusz is this still an issue? Skype classic is not further developed and as far as I know Miranda has implemented a skype protocoll in the last version which came out shortly. If this is still an issue, is anyone working on it?

[2018-12-11 15:30] munawarb commented on #6793
@Adriani90 Firefox Quantum.

[2018-12-11 16:24] Adriani90 commented on #8734
We can convert the userguide and changes with Pandoc to github flavour markdown (gfm) and then save them as .md files. They can easily be converted to html with pandoc, also automatically. The next step would be to restructure the content so taht strings can be extracted by getText and squashed into a .pot file. But this means much more work for NV Access in the long term because every addition to

[2018-12-11 16:26] Adriani90 commented on #8734
but in general .po files can be translated much much faster.

[2018-12-11 16:31] Adriani90 commented on #8734
there is also a txt2po and a ini2po converter. So we can convert with pandoc to .txt and then generate .po files which in turn can be converted to html with translate toolkit.

[2018-12-11 16:56] lukaszgo1 commented on #9042
I've bisected it and the results are as follows
874948c70ce8bfc1a52580f1c1d83988e8094e08 is the first bad commit
commit 874948c70ce8bfc1a52580f1c1d83988e8094e08
Author: Leonard de Ruijter <leonardder@users.noreply.github.com>
Date:   Tue May 8 07:41:17 2018 +0200

    Try to use window.edit.Edit when an editable window supports it (#8165)

    * Try to use NVDAObjects.window.edit.Edit when an edit

[2018-12-11 17:57] ABuffEr commented on #2105
Hi,
I remember that @nvdaes has developed an add-on [here](https://bitbucket.org/nvdaaddonteam/instantbird), that reads 1-10 messages...
However, Instantbird 1.5 was released in 2013, and now project seems abandoned...

[2018-12-11 19:01] TanjaKleut opened #9049 "NVDA does not pick up the long desc in Google Chrome"
Hello,

the long desc is not retrieved by NVDA in Google Chrome.
NVDA Version: 2018.4rc1
Google Chrome Version 71.0.3578.80 (Official Build) (64-bit)
See the example https://www.w3resource.com/html/attributes/example-longdesc-img.html
The graphic has "w3resource logo" as alternative text and "This is a demo of longdesc" as long desc attribute
In Chrome NVDA does not pick up the long description an

[2018-12-11 19:05] fernando-jose-silva opened #9050 "nvda does not read the border and shader information in a word document"
### Steps to reproduce:
Create a document in word select a portion of text and apply a border and a shading to the selected text.
### Actual behavior:
When you focus on the text that received the border and the shading and if you press nvda + f so that nvda announces the formatting, nvda does not report the information about which border was applied, the style of the border applied, the color of t

[2018-12-11 20:03] Brian1Gaff commented on #2105
I don't think they are developing it. Especially now Twitter has removed the
protocols apps used to figure out what to do, anyway.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@norep

[2018-12-11 21:57] andrew-l-d commented on #8976
Adrian, as I mentioned previously, the problem occurs with some, but not all, .chm files.  I suggest you test with the file I uploaded.
Meanwhile, I installed 2018.4 RC1 as a portable version in an empty folder and the problem occurred.  I deleted it and installed 2018.3 as a portable and the file loaded.  In both cases, no add-ons were installed.  The problem did not occur with alpha builds and s

[2018-12-11 22:18] lukaszgo1 commented on #8976
I am able to reproduce it on Windows 7 x64 with the file to which @andrew-l-d linked. Due to fact, that it is reproducible only with the betas/rcs and not with the alpha version i believe, tat we maybe experiencing something similar to #8767 i.e differences between optimized vs non optimized builds. cc @michaelDCurran

[2018-12-11 23:13] Qchristensen commented on #6720
Using LibreOffice 6.1.3.2 x64 (the latest version as of 12/12/2018), and NVDA 2018.4rc1 (installed), I still get warnings in the log, but it doesn't seem to impact performance.  In a blank document, I left two blank lines then inserted a 2x2 table.  Here is my debug level log down arrowing into the table:

IO - inputCore.InputManager.executeGesture (10:05:50.786):
Input: kb(desktop):downArrow
IO -

[2018-12-11 23:16] btman16 commented on #9045
Hello,

I pressed escape to close the emoji panel and still noticed the problem.

Is that what you were asking?

Thanks,

Brandon

On 12/11/18, Leonard de Ruijter <notifications@github.com> wrote:

--
“Be what you are. This is the first step towards becoming better than you are.”
– J. C. Hare & A. W. Hare

[2018-12-12 00:51] vivek31be opened #9051 "NVDA does not read checkbox unchecked/checked if it is wrapped inside div with role as gridcell."
URL - https://www.w3schools.com/code/tryit.asp?filename=FY4O6VWSYQLE

if using tab key focus on first checkbox and then check/uncheck using space key. NVDA will read it as space only.

NVDA should read as checked/unchecked as for other checkbox in the test url.

[2018-12-12 04:53] michaelDCurran commented on #8976
I believe I have found the bug.
I have made the fix and created an optimized try build for testing:
https://ci.appveyor.com/api/buildjobs/esdyr121mgd8my2i/artifacts/output%2Fnvda_try-release-i8976-16420%2Cad535b47.exe
For me, the chm file opens correctly while running this build, where as it did not with the betas and rc.
This try build has been compiled the same way as a release would.
Please dow

[2018-12-12 06:03] michaelDCurran commented on #9039
@tspivey: I want to get this into the COM registration fixing tool for 2019.1, however, with my copy of mathplayer that I have, on my system uninstalling it does not cause any of the problems you mention, though I do admit I have seen the problem a few years back. I thought that Design Science had addressed the issue in their installer.
If you could share your specific copy of the mathplayer insta

[2018-12-12 06:06] tspivey commented on #9039
https://www.dropbox.com/s/mxq3nwo6th4ln15/MathPlayerSetup.exe?dl=1

[2018-12-12 07:11] leonardder commented on #8877
I actually found the bug

[2018-12-12 08:49] XP-Fan opened #9053 "Miranda NG: Automatic messages reading is broken"
Can someone please have a look at the Miranda32-App module or at whatever component that causes the following: If new messages arrive in an active session, they are no longer automatically read. As well as if you switch to another tab with unread messages, these unread messages are also not automatically read. It should not be that hard to fix, as it is an read only text box basically, where messa

[2018-12-12 09:33] andrew-l-d commented on #8976
Michael, the try build works fine with that pesky .chm file.  I will also check RC2 when available.
Andrew

[2018-12-12 09:40] Brian1Gaff commented on #9053
Since its been a long time since anything changed on the xp version, and
they are getting ready for python 3, I'm not so sure this can be changed.
Not really clear from what you say what has caused the issue you  talk
about. If you use the same program versions as you did why should the
behaviour change?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
bria

[2018-12-12 10:53] XP-Fan commented on #9053
No, actually I am using the most recent version of Miranda NG (0.95.10). So the reason why XP-support was dropped is the new python? Well, actually a friend of mine has backported python3.7, so you might even reintroduce XPSupport for NVDA?

[2018-12-12 11:46] harishreddykanakanaka commented on #9047
@Adriani90  That's the alert message. It should read This site says then Ok/cancel button.
The same is read by Narrator in Edge.

[2018-12-12 11:49] harishreddykanakanaka commented on #9047
@Adriani90  The bug is **It should read This site says and then ok/cancel button**.
The same is read by Narrator in Edge browser please check and verify the difference.

[2018-12-12 12:07] lukaszgo1 commented on #8877
With this build braille no longer fails, however the error sound is still played and the following is in the log:
Error within initial focus after display load
Traceback (most recent call last):
  File "braille.pyc", line 1699, in setDisplayByName
  File "braille.pyc", line 1987, in initialDisplay
  File "braille.pyc", line 1851, in handleGainFocus
  File "braille.pyc", line 1856, in _doNewObject

[2018-12-12 12:11] lukaszgo1 commented on #8976
This try build fixes it for me.

[2018-12-12 12:14] leonardder commented on #8877
This error is logged intentionally, since it is in fact still an error. My intention was to fix the braille display loading failure, as that really should not happen. As for the error that's logged, may be I should change it into a debug warning.

[2018-12-12 12:19] leonardder commented on #8877
My hypothesis is as follows:

1. Focus is in explorer
2. You close it with alt+f4
3. A profile trigger occurs that activates the display.
4. This executes initialFocus
5. While the focus is shifting to Notepad, NVDA's focus object is still within a dying window of Explorer
6. Braille tries to focus an object that no longer exists, which fails.

I guess a debugWarning will suffice.

[2018-12-12 12:32] feerrenrut opened #9055 "Revised approach to addon compatibility"
This issue aims to discuss a revised approach to addon compatibility.

## Issues with the existing Addon versioning checks
- Noisy, likely to require user intervention every release.
- Historically addons have not required many updates to stay compatible, now add-ons will require an update per release.
- Concerns from addon authors: despite there being a breaking API change (such as speech refacto

[2018-12-12 13:14] leonardder commented on #8604
@anrocqt: Is there anything to add now QT 5.12 has seen the light?

[2018-12-12 13:17] leonardder commented on #4826
As QT now has an entirely new accessibility implementation based on UIA, I"m closing this for now. If the issue still persists in QT 5.11 and above, please file a new issue.

[2018-12-12 13:17] #4826 closed

[2018-12-12 13:31] k-kolev1985 opened #9056 "Add an input gesture to change the mouse text unit resolution value"
### Is your feature request related to a problem? Please describe.
In some cases, I use the mouse tracking feature of NVDA to read text that is under the mouse cursor. I've set the mouse "text unit resolution" value to "line" and for most cases until recently, it was OK. But now that NVDA's mouse tracking works more as it should in regards to text unit resolution in places such as Microsoft Edge,

[2018-12-12 14:32] derekriemer commented on #8734
Overall, I am a big supporter of switching to markdown. Apparently pandoc can convert from t2tt, and pandoc can do tons of things, so we have a lot of freedom here.

[2018-12-12 14:34] derekriemer commented on #6714
I might someday.

[2018-12-12 14:37] leonardder commented on #8734
Note that we're using several hooks in the user guide to produce the
keyboard commands document. These have to be converted to a markdown
compatible approach.

[2018-12-12 14:54] Adriani90 commented on #8734
Yes, not only this but for example also in changes where issues in brackets are directly linking to Github. The hook problem was the one I ran into yesterday. I am still trying to find the propper syntax.

Von: Leonard de Ruijter <notifications@github.com>
Gesendet: Mittwoch, 12. Dezember 2018 15:37
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <

[2018-12-12 16:06] feerrenrut commented on #9055
Yes, but I'm not so worried about this, since we can be strict about the formatting of this. Unlike the version string coming from the executable's file info.

I'm happy for the definitions to remain as strings in the addon manifest, and parse them with regex as we currently do. I suggest that we strictly validate that there are 3 numbers provided.

[2018-12-12 16:07] bdorer commented on #5203
Hi, I wote for closing.

[2018-12-12 16:55] Adriani90 opened #9058 "virtualBuffers.gecko_ia2: Virtual cursor jumps to the searchfield when pressing enter on a heading on google search"
### Steps to reproduce:
1. Open google search in Firefox
2. search something
3. In browse mode, navigate with h to a result heading and press enter

### Actual behavior:
Virtual cursor jumps to the search field instead of opening the link. This does not occur everytime.

### Expected behavior:
NVDA should open the link.

### System configuration
#### NVDA installed/portable/running from source:
In

[2018-12-12 16:55] Adriani90 commented on #9058
cc: @leonardder

[2018-12-12 17:12] Adriani90 commented on #9058
I get following in the log file after pressing enter on the heading:

[code]

[2018-12-12 17:42] leonardder commented on #5203
As we can't seem to contact the original author and he was the only one who could reproduce this, I'll close this indeed. Please open a new issue according to the template if the problem still occurs somehow.

[2018-12-12 17:42] #5203 closed

[2018-12-12 17:43] leonardder commented on #9058
Can you reproduce this on NVDA 2018.3.2?

[2018-12-12 17:57] Adriani90 commented on #9058
I have also found a way to reliably reproduce it:
1. After pressing enter to search something, press ctrl+end to go to the bottom of google webpage
2. Press shift+h multiple time until you land on a search result
3. Press enter.

I can reproduce this everytime when doing these steps.

[2018-12-12 17:58] Adriani90 commented on #9058
Will test in 2018.3.2 soon.

[2018-12-12 18:32] Adriani90 commented on #9058
@leonardder I can reproduce this back until NVDA 2017.3.
cc: @michaelDCurran

[2018-12-12 18:35] Adriani90 commented on #9058
maybe it is also because of new design of the google page. Otherwise I cannot explain why this problem has not been identified until recently. Actually I have seen the first reportings yesterday on audiogames.net in the off-topic forum. There were more people who had this problem.

[2018-12-12 18:42] Adriani90 commented on #8968
@michaelDCurran is this something which is worthy to investigate? Actually it does not affect user experience at all but it might have other impacts. If not, then I am fine with it to close it.

[2018-12-12 18:58] Adriani90 commented on #7816
Closing because support for ixquick ended in April 2018. it compeletely merged to starpage which is fully accessible and it works well in every browser.

[2018-12-12 18:58] #7816 closed

[2018-12-12 19:12] Adriani90 opened #9059 "Pressing escape in an aria menu brings the focus out of menu instead of keeping the focus at the element previously expanded."
### Steps to reproduce:
1. Open this website
https://is.wfu.edu/category/news,announcements,alerts/
2. Go to the menu elements and press nvda+space to activate focus mode
3. Press tab until you land on "WFU community
4. Press down arrow to expand it and to read the links into that element
5. Press escape to colaps it

### Actual behavior:
NVDA colapses the WFU Community menu item and it jumps out

[2018-12-12 19:13] Adriani90 commented on #9059
I propose to implement a second action. when pressing escape once, NVDA should colaps the menu item. When pressing it twice, NVDA should leave the menu.

[2018-12-12 19:35] Brian1Gaff commented on #9058
Is that really the version of Firefox you are using?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Wednesda

[2018-12-12 19:45] smhigley opened #9060 "IE11+NVDA throws console errors when focus moves to an SVG"
### Steps to reproduce:

Open the following html page in IE11, or use this link: http://jsfiddle.net/kbc9wgej/show, and then move browser focus to the SVG with NVDA running

[code]

### Actual behavior:
The page logs multiple script errors:`SCRIPT65535: Invalid calling object`, pointing to the first line of the document.

### Expected behavior:
No errors

### System configuration
#### NVDA Install

[2018-12-12 20:07] Adriani90 commented on #9058
oh that‘s a typo. I am on Firefox 63.0.3. Thanks for the comment

[2018-12-12 20:33] lukaszgo1 commented on #9042
It fails also in Excel 2019. Can this be looked into?

[2018-12-13 01:50] DrSooom commented on #9058
If I'm remembering me correctly I guess I also recognised this strange behaviour with NVDA 2015.3 and Firefox 56.0.2 on win7x64 on my NUC. Google changed here something a few weeks ago. So I don't think that this is a new issue with NVDA 2018.4.

Recently I also sent Google via its feedback form a link to this issue here.

@Adriani90: Please update to Firefox 64.0. But I don't think that this will

[2018-12-13 02:00] DrSooom commented on #9051
@vivek31be: Please completely fill out the bug draft. Your issue description contains too less information at the moment. Thanks.

[2018-12-13 06:02] leonardder commented on #8976
Fixed in #9052.

[2018-12-13 06:02] #8976 closed

[2018-12-13 06:04] leonardder commented on #8968
You're saying that you tested with 2018.3.2, but as far as I can see, you did not report whether the error also occurs there.

[2018-12-13 06:14] leonardder commented on #9051
I'm afraid I Have to close this as invalid due to the following reasons:

1. The gridcell in the example isn't part of any grid. Furthermore, it has a tabindex of 0. The first item in the tab order is the grid cell itself, anoter tab brings me to the check box.
2. There are labels for the checkboxes, but they aren't properly assigned to the checkboxes. This is why NVDA only reads the checkbox role

[2018-12-13 06:14] #9051 closed

[2018-12-13 06:15] leonardder commented on #9051
Actually a works for me, since tab brings me to the check box, though not in first instance.

[2018-12-13 07:10] leonardder commented on #2105
Last news article dates from almost 3 years ago and indeed, the last version dates from much longer ago. I'm closing this for now, as I don't see any reason to add an app module for abandoned software. Having said that, if someone ever wants to extend the current appModule, feel free to file a pull request.

[2018-12-13 07:10] #2105 closed

[2018-12-13 07:41] yugimamidi opened #9061 "NVDA is not reading the aria-selected status of list item"
### Steps to reproduce: Verify whether NVDA is reading correct information at "test" label which is inside "li" tag, "selected" is not read

### Actual behavior: NVDA is not reading aria-selected status of list item

### Expected behavior: NVDA should read aria-selected status of list item

### System configuration windows 10 64bit ,16GB ram

#### NVDA installed/portable/running from source: insta

[2018-12-13 08:07] leonardder commented on #9061
Please provide steps to reproduce as well as the browser(s) you tried this with.

[2018-12-13 08:44] bhavya974 opened #9062 "NVDA is not reading the Toast notification message when the button is clicked"
NVDA is not reading the toast notification message when the button is clicked.

**Steps to reproduce:**
 1. Click on the link given below.
     Link: [https://www.cssscript.com/demo/super-simple-javascript-message-toaster-toast-js/](url)
 2. Open it in Chrome Browser.
 3. Start the NVDA.
 4. Click on the button, a toast message is displayed.

**Actual behavior:**
 -->A toast notification message p

[2018-12-13 12:31] Neurrone commented on #9059
This is probably a problem with the site itself.

[2018-12-13 12:33] Neurrone commented on #9058
I'm also seeing something similar on Slack as well, where focus moves about unexpectedly when you try to read messages. Am unsure if its related.

[2018-12-13 12:44] leonardder commented on #9058
Confirmed.

[2018-12-13 13:45] #8574 closed

[2018-12-13 14:00] leonardder commented on #9042
I'm sorry I haven't looked into this sooner.
Looks like this also bugs in Narrator, so there's definitely something horribly wrong at the Excel side of things. I will look at your pr.

[2018-12-13 14:11] #8294 closed

[2018-12-13 14:11] #8652 closed

[2018-12-13 14:11] #8658 closed

[2018-12-13 14:45] Adriani90 commented on #9018
@carbontracking could you please test if this is still the case in NVDA
alpha-16437,7274f9ba

[2018-12-13 14:47] elliott94 opened #9065 "Preferences Dialog: Only display Apply Button if Changes have been Made"
Currently, the "Apply" button is always displayed within the Preferences dialog - even if no changes have actually been made. To match the behaviour of most dialogs within Windows, would it be possible for this button to only display if changes have been detected? I wasn't sure if this is a current limitation of WX.

[2018-12-13 14:50] leonardder commented on #9065
Duplicate of #8430

[2018-12-13 14:50] #9065 closed

[2018-12-13 14:50] lukaszgo1 commented on #9065
Duplicate of #8430

[2018-12-13 14:52] Adriani90 commented on #8968
Yes also tested with NVDA 2018.3.2 and 2018.3.1 and the error is still there. However, it does not highly affect user experience. But it could be related to #9058.

[2018-12-13 15:51] Adriani90 commented on #3654
I am on last Alpha and Firefox 63.0.3. There are no errors when tracking the mouse anymore. @k-kolev1985, @feerrenrut can you still reproduce it?

[2018-12-13 15:57] Adriani90 commented on #3651
@jcsteh Since this issue does not fully depend on NVDA I think it is quite hard to solve. If changes in NVDA are not going to solve it then i think we should close it. @Agent Golder is this still a big issue for you? To be honnest I didn't hear from anyone else having this issue.

[2018-12-13 16:00] leonardder commented on #3654
AH, I did not know this issue existed.
Fixed in #9029

[2018-12-13 16:00] #3654 closed

[2018-12-13 16:02] Adriani90 commented on #3630
@surfer0627 I guess this is still an issue. Right?
@michaelDCurran #2874 was marked as nearterm milestone two times in the past or so. Is there any work related to this and that issue? I think they are indeed related to eachother.

[2018-12-13 16:10] Adriani90 commented on #3611
Actually I cannot reproduce this in Firefox 63.0.3.
@advck1123, @bhavyashah can you still reproduce it with NVDA 2018.4 RC1?

[2018-12-13 16:15] Adriani90 commented on #3619
I think this should be fixed in Thunderbird 62.0. @laughingthunder is this still an issue?

[2018-12-13 16:18] Adriani90 commented on #3574
@manish, @leonardder, @jcsteh if this is still an issue, are there any improvements made by UIA in this regard?

[2018-12-13 16:34] Adriani90 commented on #3584
This is not an issue anymore with the new NVDA gui.

[2018-12-13 16:34] Adriani90 commented on #3584
@leonardder I think this can be closed.

[2018-12-13 16:40] Adriani90 commented on #3584
Oh sorry I think I missunderstood the issue. So it is required to bring object shortcut information to the menu and the cathegories. The problem I see here is that shortcuts can be adjusted by translators for the menu items. This is indeed very good because people who cannot speak inglish are able to build easily a context between the shortcut and the menu items. Ofcourse if the translation is acc

[2018-12-13 16:41] Adriani90 commented on #3584
But this could be acomplished for settings ccathegories at least.

[2018-12-13 17:31] Adriani90 commented on #3575
@schne324, @hidanielle is this still an issue in last NVDA Alpha?
cc: @leonardder

[2018-12-13 17:43] Adriani90 commented on #3571
@bgaraventa I am not sure if I can reproduce this issue in IE11. I am testing with NVDA las Alpha and am getting following error. As you can see, I could tab to the link and then to "show options" and the focus didn't got stuck on that region. But I am not sure if there are things ignored. Can you reproduce this issue with last NVDA Alpha?

[code]

[2018-12-13 18:05] leonardder commented on #8375
I did some additional research into pyinstaller,, but at least its default configuration shows full paths in trace backs and raises disgusting PyInstallerImportErrors. Furthermore, it seems it is either a nvda.exe with everything included, or a nvda.exe with nothing included. Last but not least, the installation creation process doesn't feel very pythonic.

It seems it is either something that is

[2018-12-13 19:04] k-kolev1985 opened #9066 "Review cursor commands may fail in Microsoft Edge under particular circumstances"
### Steps to reproduce:
1. Install the latest NVDA alpha snapshot.
2. Enable mouse tracking in NVDA's settings -> Mouse.
3. In NVDA's settings, under "Review Cursor", enable "Follow mouse cursor".
4. Open an HTML document in Microsoft Edge.
5. Use the mouse cursor to read a line (e.g. - the first one) from a multi-line paragraph of text.
6. Use the review cursor commands to read the previous and n

[2018-12-13 22:17] lukaszgo1 commented on #6291
cc @michaelDCurran @feerrenrut

[2018-12-13 22:19] michaelDCurran commented on #3609
@tspivey for completeness, could you please outline why this is necessary?

[2018-12-13 22:22] jcsteh commented on #3651
I can't reproduce this myself and I haven't seen any other reports of it for a long time. Closing.

[2018-12-13 22:22] #3651 closed

[2018-12-13 22:48] lukaszgo1 commented on #6291
I am able to reproduce it 100% of the time with the c program attached. In the rare situations in which NVDA crashes softly enough to log anything the  log contains
WARNING - watchdog._watcher (23:30:46.661):
Core frozen in stack:
  File "nvda.pyw", line 227, in <module>
  File "core.pyc", line 516, in main
  File "wx\core.pyc", line 2134, in MainLoop
  File "gui\__init__.pyc", line 985, in Notify

[2018-12-13 23:20] michaelDCurran commented on #8976
2018.4rc2 with chm fix: https://www.nvaccess.org/files/nvda/releases/2018.4rc2/nvda_2018.4rc2.exe

[2018-12-14 00:13] andrew-l-d commented on #8976
Definitely fixed
Andrew

[2018-12-14 01:39] Qchristensen commented on #7003
Just a comment that this issue is still present with the current Office 365 (version 16.0.11029.20079 ) and NVDA 2018.3.2 and 2018.4rc1.

[2018-12-14 03:31] josephsl opened #9067 "Python 3: work with different dictionary walking methods"
Hi,

Continuing the journey toward Python 3:

### Is your feature request related to a problem? Please describe.
When walking through a dictionary, Python 2 provides two iteration methods, whereas Python 3 only provides one. Specifically, Python 2 provides a method to return items/keys/values as a list or as an iterator, whereas Python 3 exposes the latter only.

Different parts of NVDA rely on be

[2018-12-14 03:34] josephsl commented on #9067
Hi,

Additional notes:

1. At this point, I recommend adopting the Six module method with a note that it should be ported to native solution after evaluating python 3 transition work.
2. The pull request regarding this feature won't apply to config.conf (Config Manager) because dict.iteritems and dict.items are used for different purposes unless @LeonardDer says it can be safely merged somehow.

T

[2018-12-14 03:55] josephsl commented on #9067
Hi,

Actually, upon further reading, it appears Six module does not have an equivalent of dict.items/keys/values for Python 2 (returning lists). So it appears this must be one of those issues that should be solved as part of a master pull request that switches everything to Python 3 at once; this changes if we can find a workaround that preserves compatibility for a while.

Thanks.

[2018-12-14 04:24] Qchristensen opened #9068 "Outlook (365): Current view not reported in Change view ribbon item."
### Steps to reproduce:

1. Open Outlook to the Inbox.
2. Press alt+v, then c, then v to open the Change View item.
3. Press TAB to move through the views available.

### Actual behaviour:

The currently active view is visually highlighted, however NVDA gives no indication of this.
Using object navigation Next or Previously object to move to the view which is active, report current object (NVDA+nu

[2018-12-14 07:46] leonardder commented on #9067
There is a pretty straight forward workaround.

Instead of `dict.iteritems()`, use `six.iteritems(dict)`
Instead of `dict.items()`, use `list(dict.items())`
The latter will result into a list in python 3. In python 2, it will just pass a list to the constructor of list, which copies it. Not very efficient, but it will certainly suffice.
Alternatively, we can just use `list(six.iteritems(dict))`

I

[2018-12-14 07:52] leonardder commented on #9066
Did this work 100% properly before? In Edge, NVDA wasn't able to find the position of the mouse within a chunk of text.

[2018-12-14 08:12] josephsl commented on #9067
Hi, regarding Config Manager, yep, thanks for correcting me on where to look for these methods. As for coercing an iterator into a list, perhaps one way is to just call list() constructor for now when encountering dict.items/keys/values, with Six module being used in other places. I hope we can find a more consistent solution for readability purposes. Thanks.

From: Leonard de Ruijter <notificatio

[2018-12-14 08:13] leonardder commented on #9066
While this might have become more prevalent since #8572, I don't think it can be classified as a regression, i.e. it is likely that this is reproducible without the mouse somehow. A problem is that I'm not very well known with the current Edge code. May be @michaeldcurran can spread some light on this?

[2018-12-14 08:33] RajeswariAddepalli23 opened #9069 "NVDA is not reading List item's and its decendants aria-label information when navigating items using Insert+right/insert+left arrows"
### Steps to reproduce:

1. Switch on the NVDA
2. Bring focus to input text control.
3. Navigate to the controls using Insert + Right/Insert + Left arrows to make back and forth traversal to the controls.

### Actual behavior:
1. Focus is not getting to the list items and their descends.
2. Not reading the aria-label information them.

### Expected behavior:
1. Focus should traverse to all the ele

[2018-12-14 08:37] k-kolev1985 commented on #9066
Well, you're probably right that it is not a regression from #8572. But I've tested with a portable copy of NVDA 2018.3.2 and after I move the mouse over a paragraph of text, I can then read in it via words and characters with the review cursor. Reading line by line is a bit trickier to make it work, but still possible, if I first move the review cursor to the next object and back to the current o

[2018-12-14 10:13] deap82 commented on #7841
I came here facing the same issue and just wanted to share my point of view as I have it top of mind.

As the `title` attribute is also rendered as a visible tooltip that is available for sighted users it might not be "design appropriate" to have a very long descriptive text as sigthed users are also able to take in the visual context of the element.

For a screen reader user it makes sense to pro

[2018-12-14 11:34] #8520 closed

[2018-12-14 12:07] Adriani90 opened #9070 "Audio ducking: Volume remains lowered when pressing ctrl after turning speech off with nvda+s"
### Steps to reproduce:
1. Open NVDA and set audio ducking in synth settings to "duck when ouputting speech and sounds"
2. Open a song or a video with sound
3. Press something so NVDA speaks and ducks the audio
4. Press NVDA+s (laptop layout) to turn off speech
5. Press e.g. ctrl key to unduck audio

### Actual behavior:
Audio volume should be readjusted to the volume before ducking.

### Expected

[2018-12-14 12:10] leonardder commented on #9070
I can't reproduce this with insider build 18298

[2018-12-14 12:15] Adriani90 opened #9071 "NVDA reports wrong position information in object review"
### Steps to reproduce:
1. Open NVDA
2. With e.g. laptop layout, focus an object and press nvda.left arrow until you are at the very left border of the object
3. Press ctrl.left arrow to read the first word of the object label
4. Press ctrl + right arrow until you are at the very end of the object

### Actual behavior:
NVDA reports "top" and "bottom" when navigating with ctrl+nvda+arrow keys but r

[2018-12-14 12:21] leonardder commented on #9071
I'm afraid you're incorrect here, unless I'm missing something.

1. When moving with nvda+ctrl+left arrow, you are moving word by word. Movement by word passes line boundaries and also brings you to the previous line, until you are at the top of the object. Thus, top is really the top here.
2. However, when moving character by character with NVDA+left/right arrow, movement stops at the start or en

[2018-12-14 12:48] lukaszgo1 commented on #8877
Fixed when #9054 was merged. Closing.

[2018-12-14 12:48] #8877 closed

[2018-12-14 12:53] lukaszgo1 commented on #8976
I can also confirm, that it is fixed in RC2.

[2018-12-14 18:53] leonardder opened #9072 "Firefox crashes in Google Groups message area"
### Steps to reproduce:
1. Go to a google group
2. Compose a new message
3. After entering something into the subject field, start typing/arrowing in the message field.

### Actual behavior:
Firefox crashes. [Here](https://crash-stats.mozilla.com/report/index/bp-935e66c8-f95b-484a-a21e-1b42b0181214) is a crash report.

### Expected behavior:
Firefox does not crash.

### System configuration
#### N

[2018-12-14 18:55] leonardder commented on #9072
@amirsol81: as you reported #8442, have you also suffered from this lately?

cc @derekriemer

[2018-12-14 18:58] leonardder commented on #8303
Closing in favour of newer duplicate #8442, which has received more attention.

[2018-12-14 18:58] #8303 closed

[2018-12-14 19:17] josephsl opened #9073 "Python 3.3 and later: code.InteractiveConsole.showtraceback/showsyntaxerror will check for sys.excepthook, causing error messages to not be printed to Python Console"
Hi,

Affects debugging #7105 and related Python 3 issues.

### Background:
Python 2.7's InteractiveConsole class (found in code.py) does not check sys.excepthook, but in Python 3.3, this value will be checked when printing tracebacks and syntax errors. This means that, in Python 2 version of NVDA, if Python Console is active, errors will be printed to the console, but in Python 3, it won't - inste

[2018-12-14 19:40] MarcoZehe commented on #9072
I've seen these crashes, too, in build 18290, not yet in 18298. This seems to be something in the UIAutomation code that gets injected into Firefox by Microsoft. Since they also go in-process, if they crash, Firefox crashes. NVDA doesn't use UIA for Firefox AFAIK, but something causes Microsoft to want to deal with Firefox on the UIA level, too. Firefox does, however, not support UIA.

[2018-12-14 19:52] amirsol81 commented on #9072
Yes. In fact, I just checked again and the issue persists. It can be
reliably duplicated.

This is with Chrome 71.0.3578.98 (Official Build) (64-bit) and NVDA
2018.4 RC2.

On 12/14/2018 10:25 PM, Leonard de Ruijter wrote:

[2018-12-14 20:22] Adriani90 commented on #9071
@leonardder I see the point. But many objects are not on multiple lines. For multi line objects I would expect something like "top left" or "bottom right". I think though most users wouldn't think about this or most people maybe didn't even notice it. It came across my way today and I thought I create an issue about it.

[2018-12-14 20:35] Adriani90 commented on #3680
Comments and formulas can easily be displayed in a tree view when pressing nvda+f7. I vote for closing.

[2018-12-14 20:37] Adriani90 commented on #3676
I suggest closing this one in favour of #7952 which contains more in depth discussions and even a small global plugin which simplifies object navigation.

[2018-12-14 20:43] Adriani90 commented on #3674
@tutej is this still an issue?

[2018-12-14 20:48] Adriani90 commented on #3798
cc: @derekriemer

[2018-12-14 20:54] Adriani90 commented on #3797
@Novalis7747 could you please test if this is still an issue in last thunderbird?

[2018-12-14 20:56] Adriani90 commented on #3791
@Novalis7747 Do you still have in mind to raise the Pull Request for Total Commander? I don't recall if you did it already.

[2018-12-14 20:58] Novalis7747 commented on #3791
No, I gave it up, I released a TC addon for those who are interested.

From: Adriani90 <notifications@github.com>
Sent: Freitag, 14. Dezember 2018 21:56
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Make Total Commander 64 announce the left and right panes (#3791)

@Novalis7747<https://eur0

[2018-12-14 20:58] Adriani90 commented on #3780
If this issue does not occur on Windows 10, I think we can close it because most touch screen devices will run on Windows 10 or are already running on it.
cc: @josephsl, @leonardder

[2018-12-14 21:00] tspivey commented on #3791
Someone who uses this could just ask the author of Total Commander to use [Dynamic Annotation](https://msdn.microsoft.com/en-us/windows/desktop/cc307286.aspx) to name the lists.

[2018-12-14 21:11] Adriani90 commented on #3768
@bvivi can you still reproduce it with NVDA 2018.4 RC2 and las version of open office?
cc: @Qchristensen, @michaelDCurran

[2018-12-14 21:12] Adriani90 commented on #3768
hm it seems the initial author is not on Github anymore.

[2018-12-14 21:17] Adriani90 commented on #3761
@k-kolev1985 is this still the case with newest skype versions?

[2018-12-14 21:20] Adriani90 commented on #3759
@baphomet I cannot reproduce this. aFter pressing f5, NVDA reads everything. But when pressing up and down arrow I can read line by line as it is expected.
cc: @ehollig

[2018-12-14 21:32] Adriani90 commented on #3745
@jcsteh testing on Firefox 64.0, this issue is fixed. Also Mozilla bug 1123248 seems to be solved.

[2018-12-14 21:36] Novalis7747 commented on #3791
https://github.com/Novalis7747/totalcmd-enhanced/blob/master/totalcmd-0.6.1.nvda-addon
my addon, if something is not working as expected, just give me a ping…

From: Tyler Spivey <notifications@github.com>
Sent: Freitag, 14. Dezember 2018 22:00
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda]

[2018-12-14 21:36] Adriani90 commented on #3744
@bgaraventa the link seems not to be uptodate anymore. It says "404 document could not be found". Is this still reproducible?

[2018-12-14 21:37] Adriani90 commented on #3744
cc: @leonardder the initial author is not available anymore. Can you still reproduce it?

[2018-12-14 21:38] Adriani90 commented on #3733
@laughingthunder can you still reproduce this issue?

[2018-12-14 21:40] Adriani90 commented on #3723
cc: @leonardder, @dkager, @bramd

[2018-12-14 21:45] Adriani90 commented on #3708
@aliminator, @halim can you still reproduce this issue?

[2018-12-14 21:47] Adriani90 commented on #3707
This issue is fixed in 2018.4
cc: @Qchristensen

[2018-12-14 21:51] k-kolev1985 commented on #3761
@Adriani90 Well, I think it is for Skype 7, but that version is going away at some point in the near future in favor of Skype 8 and newer.

I haven't tested file transfer in Skype 8 recently, since I rarely use Skype's file transfer functionality nowadays. But if there some issues with it, I suggest for them to be filed in other tickets.

I think this ticket should be closed, since there is no sen

[2018-12-14 21:52] Adriani90 commented on #3700
@k-kolev1985 is this still an issue?

[2018-12-14 22:32] k-kolev1985 commented on #3700
@Adriani90 Yes, it is. I can still reproduce it with the latest NVDA. I've tested it just now in my virtual machine with Windows 8.1.

[2018-12-15 01:45] DrSooom commented on #9069
@RajeswariAddepalli23: Please list all browsers (incl. version) in which this issue occurs. Thanks.

[2018-12-15 02:07] DrSooom commented on #9071
The only suitable way to "solve this issue/misunderstanding" is by adding the commands "next line", "previous line" or only "line change" during navigating by words after the line has changed. Changing the wording of "top" and "bottom" to "left top" and "right bottom" or to "line start" and "line end" during word navigation isn't really useful because of jumping between the lines. And in the end w

[2018-12-15 02:15] DrSooom commented on #9071
We could also replace the speech/braille output here with beeps (enabled/disabled via a checkbox), but that would be a new issue.

[2018-12-15 02:52] ehollig commented on #3761
I will take your suggestion @k-kolev1985 and close this issue. If there are issues with the newer version of Skype, please open a new issue. Closing

[2018-12-15 02:52] #3761 closed

[2018-12-15 02:57] ehollig commented on #3707
Fixed in #9008. Closing

[2018-12-15 02:57] #3707 closed

[2018-12-15 08:38] iafrjad opened #9074 "NVDA can't read correctly objects in new skype, firefox, and other programs"
First of all, i don't know exactly how report it. Well, about one day ago nvda began to be weird when navegating through firefof. if you navegate with tab, it's ok, but if you try with arrow keys, nvda reads just one or two words, them you need to press again, more one or two words, in fact, he don't reads correctly wich. a better example will be in the skype, in the top of all, where  you have th

[2018-12-15 17:39] josephsl opened #9075 "Update check: 'install pending update' fails to locate version tuple for add-on compatibility checks"
Hi,

Perhaps another oversight from #6275:

### Steps to reproduce:
1. Check for NVDA updates.
2. If updates are available, download it, and postpone the update.
3. Press NVDA+Q, then from exit dialog, select "install pending update".

### Actual behavior:
Version info raises traceback.

### Expected behavior:
Update is installed, or if there are incompatible add-ons, a warning dialog is shown.

#

[2018-12-15 17:55] bdorer commented on #1776
This is still reproducable with latest Thunderbird and NVDA next

[2018-12-15 18:36] bdorer commented on #3168
hmm, I don't understand the issue. The user tethers braille to review but mooves system cursor. If review follows system cursor is on, review should follow system cursor and that's the case for me. If review follows system cursor is off review cursor doesn't follow system cursor and that's expected. @surfer0627 should provide exact steps to reproduce and what hapens and what is expected.

[2018-12-16 00:03] derekriemer opened #9077 "Allow live regions to be disabled."
I am proposing allowing live regions to be disabled. I'm planning to control this with the report dynamic content changes setting, which could be set in profiles as well. Ideally, you'd be able to control on a per site | per region basis, but that isn't easy for us to do yet.
The idea would be to speak live regions when this setting is on, and nvda+5 will be finally able to stop monster pages (pag

[2018-12-16 03:05] derekriemer commented on #3798
No, this isn't xp specific.

[2018-12-16 04:05] josephsl opened #9078 "Python 3: use native range function instead of six.moves.range for xrange/range differences"
Hi,

Another syntax issue to resolve:

### Is your feature request related to a problem? Please describe.
Python 3 unifies range iteration by renaming xrange to range. For code that relies on xrange, it will fail in Python 3 unless edited to call range function.

### Describe the solution you'd like
There are two possibilites:

1. Native: convert xrange() to range().
2. Compatbility shim: use six.

[2018-12-16 08:06] derekriemer commented on #6439
No.

[2018-12-16 08:06] #6439 closed

[2018-12-16 17:34] lukaszgo1 commented on #4207
I can definitely reproduce this with MS Excel 2010 on Windows 7 x64 100% of the time by simply launching Excel from the run box and pressing alt. When pressed for the first time nothing happens, the second press returns to the sheet and finally third press activates the ribbon. It is NVDA specific, because with the same STR when JAWS 2018 is running ribbon got reported with each alt press. Can thi

[2018-12-16 20:13] Adriani90 commented on #3797
@bdorer could you also test if this is still reproducible in las version of Thunderbird? Thank you!

[2018-12-16 21:41] Qchristensen commented on #8584
Closing as a duplicate of #7342 (This problem still exists as at 2018.4rc2, but please follow issue #7342 for updates)

[2018-12-16 21:41] #8584 closed

[2018-12-16 21:42] Qchristensen commented on #7342
Just marked #8584 as a duplicate of this.  Worth noting:
- Adriani tested in Win 8.1 with Office 2010 and NVDA 2017.3
- I am using Office 365 not 2016, but the issue still exists as at December 17 2018 and using NVDA 208.4rc2.

[2018-12-16 21:52] bdorer commented on #3797
I don't see any graphic in this mail so I'm unable to test.

[2018-12-16 23:14] Qchristensen opened #9080 "Add support for Propeller IDE"
### Is your feature request related to a problem? Please describe.

I had a request from a user to support the Propeller IDE by Parallax: https://developer.parallax.com/propelleride/

I downloaded the program and found that while I can type in the IDE, text is not read when navigating.  Reading the current line results in NVDA reading the first line, regardless of where focus actually is.  Reporti

[2018-12-17 00:06] fernando-jose-silva opened #9081 "nvda stops reading a text after a long time of reading"

[2018-12-17 00:09] #9081 closed

[2018-12-17 00:23] fernando-jose-silva opened #9082 "nvda stops reading a text after a long time of reading"
### Steps to reproduce:
Open a long text in Notepad, the text I'm testing runs about 29,000 words.
Press nvda + the notebook layout to start playback.
### Actual behavior:
After approximately 20 minutes of reading the nvda interrupts the speech and informs list 1 of 3.
At this point it seems that some screen was displayed more if I preciono the arrows or nvda + a nvda is still inside the notepad.

[2018-12-17 00:36] jcsteh commented on #3745
Correct; this is fixed.

[2018-12-17 00:36] #3745 closed

[2018-12-17 00:47] jcsteh commented on #9072
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1511649 which @MarcoZehe filed. The crash stacks look quite different, but the fact that these crashes only occur in Insider builds seems unlikely to be a coincidence.

@leonardder: May I have your permission to privately forward your Firefox crash dump to Microsoft? (I can retrieve the crash dump from Mozilla, so you don't need to do anything,

[2018-12-17 05:11] Qchristensen commented on #5874
Has anyone looked into this feature lately?  It is still commonly requested, for all browsers.

[2018-12-17 05:20] nishimotz commented on #971
I am aware that my FocusHighlight add-on doesn't work with NVDA 2018.4 anymore, regarding navigator object within the Web browsers, such as Chrome and Firefox.
FocusHighlight just shows focuses on the web browsers even in the browse mode.
Until NVDA 2018.3.2, FocusHighlight could show both the navigator object and focus on the web contents.

As far as I have investigated, #8678 is related.
I don't

[2018-12-17 06:01] leonardder commented on #9078
Agreed. I think this is what python modernize does as well.

[2018-12-17 06:03] leonardder commented on #9072
Sure, go ahead!

[2018-12-17 08:58] brennanyoung commented on #8266
Possibly related: With menus, NVDA fails to read out the accessible name for activedescendant unless the activedescendant is a **direct** descendant of the (focused) element where aria-activedescendant is set. This is not mentioned in the w3c patterns doc, and seems an awkward and unnecessary constraint. It should be possible to wrap your menu in arbitrary divs (e.g. for styling), and as long as t

[2018-12-17 09:32] brennanyoung opened #9083 "CHROME: menuitem activedescendant not announced unless it is a *direct* descendant"
### Steps to reproduce:
Using a menu pattern inspired by the W3C patterns, with menuitems focused by aria-activedescendant. Compare how NVDA announces the activedescendant when it is a direct descendant of the element where aria-activedescendant is set, and when it is 'deeper' in the tree.
Some example code [here](https://codepen.io/anon/pen/NEZRKR) - compare menu 1 and menu 2.
Tested in Chrome, I

[2018-12-17 11:47] Brian1Gaff commented on #5874
It would be nice for many controls. I am sick of button button button on
some sites, but the question is, is there sufficient difference available on
the buttons code to allow one to tell the difference between them?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2018-12-17 12:48] #8516 closed

[2018-12-17 14:30] lukaszgo1 commented on #5693
Any updates on this? I can confirm that the problem is still present on Windows 7 with ABBYY FineReader 12 pro. FineReader is widely used OCR software ad least in Poland, and this problem makes working with NVDA in it not optimal to say it politely. I can also confirm, that disabling watchdog makes submenus accessible, but there is still a lag which isn't present with JAWS. cc @leonardder As you w

[2018-12-17 14:48] Adriani90 commented on #5874
This function is commonly requested, not only for Browsers but also for every Kind of application on Windows. But this is not very simple to implement I guess. for this functionality it should be possible to customize the Information which Comes from the accessibility API. This is something which is probabllly not very welcome by Microsoft because this means we could manipulate the Information pro

[2018-12-17 14:50] Adriani90 commented on #5874
@Qchristensen this may be a Point which NV Access could discuss with Microsoft at one of the regular conferences. What do you think?

[2018-12-17 14:54] Adriani90 commented on #5693
This is also reproducible in Finereader 14 on Windows 8.1 and Windows 10. But as far as I can see only the menu bar is sluggish. That means when pressing alt to Access the menu bar and use arrow key to navigate through the menus, NVDA becomes very very slow. In all other cases NVDA is very responsive.

[2018-12-17 15:05] zstanecic commented on #5693
Abbyy finereader has 64 bit support.

Is it a fraction of a second or what?

From: Adriani90 <notifications@github.com>
Sent: Monday, December 17, 2018 3:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is almost unresponsive in ABBYY programs (tested in Abbyy FineReader 11 and 12) (#5693)

This is also reproducible

[2018-12-17 15:05] leonardder commented on #5693
As this is not reproducible with other screen readers, we might just write an appModule that enforces UIA within the menu bar by treating them as good UIA windows. Sounds like a good for new dev.

[2018-12-17 15:16] sonor3000 commented on #8948
Hi Marlon,

On Sat, 01 Dec 2018 15:39:48  I can provide a branch with all this in place if there are no

Now, since NVDA 2018.4 is out, I can test if the update is working with the proxy configured in my working environment. I'll block the update till I get a version with your changes that I can test.

Cheers and thanks for all your work,

  Chris

[2018-12-17 15:35] lukaszgo1 commented on #5693
@leonardder Are you certain, that Menu bar can be accessed using UIA on Windows 7? I've created an appModule, but when accessing menu the error sound is played, and the following is written in the log:
ERROR - core.CorePump.run (16:29:55.342):
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyc", line 486, in run
  File "IAccessibleHandler.pyc", line 900, in pumpAll

[2018-12-17 15:37] josephsl commented on #5693
Hi, MSAA objects do not expose UIA element property at all (unless bridged). In order to look at IA element object, one needs to subclass NVDAObjects.UIA.UIA. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Monday, December 17, 2018 7:36 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is almost unrespons

[2018-12-17 15:39] ruifontes commented on #5874
In my opinion, we should not "customize the Information which Comes from
the accessibility API", but create a NVDA type of dictionary to that
information of the accessibility API to that page or app, and it will be
used only on that page or app...

Rui Fontes

Às 14:48 de 17/12/2018, Adriani90 escreveu:

[2018-12-17 15:41] lukaszgo1 commented on #5693
@josephsl wrote:

Any examples of something like that in the code?

[2018-12-17 15:42] josephsl commented on #5693
Hi, so many of them – NVDAObjects/UIA/__init__.py, Microsoft Edge content process (appModules/microsoftedgecp.py), Windows 10 App Essentials and others. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Monday, December 17, 2018 7:41 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nv

[2018-12-17 15:46] leonardder commented on #5693
I'd do something like this:

1. Find the window class name of the menu bar and its descendants, it might be the same for the menu as a whole.
2. Create a simple app module that defines `isGoodUIAWindow(self, hwnd)`. It should return True `if winUser.getClassName(hwnd) == theClass`, otherwise, it should return False.

No subclassing of NVDAObjects.UIA.UIA should be necessary at all.

[2018-12-17 16:59] mhussaincov opened #9084 "firefox nightly v 66.0a1 (2018-12-17) 64-bit when trying to launch options firefox crashes"
### Steps to reproduce:
launch firefox nightly the latest build.
have nvda 2018.4 running.
in firefox nightly, try to open the options menu via tools options.

### Actual behavior:

when the options menu item is pressed, firefox crashes.

### Expected behavior:
the options menu should launch with out Firefox crashing
### System configuration
#### NVDA installed/portable/running from source:

an in

[2018-12-17 17:01] mhussaincov commented on #9084
here is the log after firefox crashes.

INFO - __main__ (16:48:22.296):
Starting NVDA
INFO - core.main (16:48:22.459):
Config dir: C:\Users\majid\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (16:48:22.459):
Loading config: C:\Users\majid\AppData\Roaming\nvda\nvda.ini
INFO - core.main (16:48:22.561):
NVDA version 2018.4
INFO - core.main (16:48:22.561):
Using Windows version 10.0.177

[2018-12-17 17:56] elliott94 opened #9085 "Firefox 64.0 (X64): Lag when entering Downloads Window from within Private Browsing"
STR:

1. Launch a copy of NVDA (2018.4 in this case), and a copy of Firefox 64

2. Enter a new Private Browsing window, and start a download

You will notice that when the prompt is displayed which asks what to do with the file, tabbing around the window is much slower than it was with Firefox 63, additionally, accepting the download and then opening the Downloads window shows the same behaviour

[2018-12-17 18:46] leonardder commented on #5693
I fired up a copy of version 11 which I still had sitting around. Using UIA for the menu bar or for the whole application did improve slightly, but it is still not very fast.
[finereader.zip](https://github.com/nvaccess/nvda/files/2687432/finereader.zip)

[2018-12-17 19:08] marlon-sousa commented on #8948
Hello,

First of all I am sorri for the delay .. comtypes may Be a very whild, unexplored and aggressive land when you want to do more than simple calls to objects methods.
With this out of the way I need you perform a simple test with your current copy: activate nvdda menu and then help and search for updates.It is expected that after a time a message reporting error when searching for updates oc

[2018-12-17 19:46] Elshara commented on #9058
Just right click on the result on open in new tab. You'd want that anyways in case you need to exit that page in case your search for the same item isn't over.

[2018-12-17 19:46] lukaszgo1 commented on #9084
I am also experiencing this.
The link to the crash is https://crash-stats.mozilla.org/report/index/bp-048f7328-3382-4127-a7ee-255010181217
cc @jcsteh

[2018-12-17 20:14] josephsl opened #9086 "Python 3: use next(iter) instead of iter.next()"
Hi,

Yet another syntax issue to resolve:

### Is your feature request related to a problem? Please describe.
In Python 2.x, it was possible to go through iterators via iter.next() method. This was made simple in Python 2.6 with the built-in next() function, and this is the only method for built-in iteration control in python 3.

### Describe the solution you'd like
As NVDA uses Python 2.7, it wil

[2018-12-17 20:20] josephsl commented on #9086
Hi,

In case of eventHandler.EventExecutor object, I think it can be ignored, as it defines its own next() method that already uses Python 3 next(iter) idiom.

Thanks.

[2018-12-17 23:44] robinettl commented on #5517
So a good 3 years since this issue has been opened and no solution yet?  As someone who donates as much and as often as possible to NVDA, I expect these types of issues to be addressed a reasonable amount of time.  If we know that other screen readers like JAWS and WindowEyes can successfully navigate the SSMS object browser tree, there's no excuse for NVDA not being able to do the same -- especia

[2018-12-18 00:52] larry801 commented on #9082
It seems that something pop up and interrupted your say all command. Some
application with pop up advertisement or notification cause similar
problems on my laptop.
By the way According to this part of your log, some outdated addons may
also cause this problem.
objloc need an update to keep up with new NVDA api
WARNING - eventHandler._EventExecuter.next (21:55:27.490):
Could not execute function e

[2018-12-18 00:53] jcsteh commented on #9084
There's a Mozilla bug for this: https://bugzilla.mozilla.org/show_bug.cgi?id=1513332

A fix is already on the way.

[2018-12-18 00:54] jcsteh commented on #9084
I'm going to close this, as this is very clearly a trivial Firefox bug which should be fixed quickly and there's no need to track it here. If you want to track progress, please watch the Mozilla bug. Thanks.

[2018-12-18 00:54] #9084 closed

[2018-12-18 01:06] jcsteh commented on #5693
@leonardder, how does the speed with NVDA + UIA compare to Narrator? I really don't understand why it should be faster with Narrator than it is with NVDA + UIA, since in that case, NVDA isn't making any QueryService calls.

@lukaszgo1 It'd be good to see a log with UIA where sub-menus won't read so we can see the new point where things freeze. In addition, I'd like to see the dev info (NVDA+f1) fo

[2018-12-18 02:05] marlon-sousa commented on #6523
Hello,

I have found what I believe to be a bug.

How to reproduce?

1- Open up notepad and past the below text:

doesn't include 😂 at all. See

2- press home to go to the beginning of the line.

3- Press nvda + down arrow to read all the text.

4- You should hear "doesn't include face with tears of joy at all. See

5- Right until now everything is OK.

6- Now press home again and press twice ctrl

[2018-12-18 05:38] feerrenrut commented on #8478
Quentin is going to have a play with the colours, and then Reef will update the website.

[2018-12-18 06:00] leonardder commented on #6523
This should have been fixed in Alpha builds of NVDA.

[2018-12-18 06:02] sunitakarle23 commented on #6069
While navigating back using up arrow to the plain text in NVDA the text read as clickable on Firefox

Below is the markup.
<div class="flight-cancel-text-col grid__col-sm-11 grid__col-xs-11">
<span class="flight-cancel-text"> Book without worry! </span>
  You can cancel your flight online within 24 hours of booking. Program fees may apply.
<div>

Please let me know how can we handle this.

Thanks.

[2018-12-18 07:00] leonardder commented on #5693
Normally, NVDA is faster than Narrator, for example when I'm arrowing on the desktop. With NVDA+UIA, speed is almost equal, i.e. where NVDA is noticeably slower, Narrator doesn't seem to be slower than normal.
Note however that FineReader 11, although slower, is still usable. I've seen version 12 as well though, and that was noticeably slower than 11.

[2018-12-18 07:16] leonardder commented on #9086
Note that python 3 uses __next__ instead of next. Also, looking at the _EventExecuter init function, it executes self.next() instead of next(self). These are pretty trivial though.

[2018-12-18 07:20] marlon-sousa commented on #6523
I am using nvda  218.4. This behavior occurred in Firefox and notepad as well.

Obrigado,
Marlon

Em 18 de dez de 2018, à(s) 04:00, Leonard de Ruijter <notifications@github.com> escreveu:

[2018-12-18 07:46] Adriani90 commented on #5693
here is a part of log file while navigating through the menu:

[code]

[2018-12-18 07:46] Adriani90 commented on #5693
And here is the developer info for a menu item which is being read but NVDA is very slow:

[code]

[2018-12-18 07:47] Adriani90 commented on #5693
This is from ABBYY Finereader 14 and Windows 8.1. The same is Happening on Windows 10.

[2018-12-18 14:35] LeonarddeR opened #9087 "Outlook 2016: COM error when moving through calendar"
### Steps to reproduce:
Note, it seems that this does not always cause the issue. It is very elusive

1. Create a recurring event in the Outlook calendar.
2. Delete only the first instance of the recurring event.
3. With tab in the day view, focus the next occurrence of the event.

### Actual behavior:
The following error is raised

<details>
<summary>Log snippet</summary>
<pre>
ERROR - eventHandl

[2018-12-18 14:37] leonardder commented on #9087
See also #8029. I'm afraid that the object model is getting in the way of a smooth calendar experience more and more.

[2018-12-18 17:09] lukaszgo1 commented on #5693
@jcsteh wrote"

By Sub menus are no longer reported I meant, that if the certain menu item has sub menu and isGoodUIAWindow is set to true the fact that sub menu exists isn't reported.

[2018-12-18 19:26] esmobg opened #9088 "sublime accessibility"
hello i am a visual emapred  web developer and in the company i am working i use sublime can anyone create an add-on that allows the nvda to work with this editor thank you

[2018-12-18 19:50] josephsl opened #9089 "wx.Locale: Aragonese does not have wx.LanguageInfo"
Hi,

Reported on NvDA translations mailing list and subsequently confirmed: NVDA 2018.4 fails to start properly if UI language is set to Aragonese.

### Steps to reproduce:
1. Install NVDA 2018.4 and current alpha.
2. From NVDA settings/General, switch language to "Aragonese" and press Enter, and confirm if asked to restart.

### Actual behavior:
The following traceback is recorded:

CRITICAL - __

[2018-12-18 20:15] lukaszgo1 commented on #6491
It is still reproducible with the following STR:
1.  Download and install demo of any of the voices from https://harposoftware.com/en/2-all-speech-synthesis-products/s-1/brand-nuance
2. Switch to SAPI 5 and set the installed voice as the default.
3. Try switching to eSpeak.

At this point NVDA is silent additionally when restarted it is still silent, and the following is written in the log:
error

[2018-12-18 20:16] jage9 commented on #8692
@leonardder I think this one can now be closed as resolved in 2018.4?

[2018-12-18 20:22] jage9 opened #9090 "Word 2016 UIA: Table Cells with Long Text Cause Python Recursion Error"
### Steps to reproduce:
Using Office 2016 with UIA enabled, load the attached file. Move to the table and then tab through the cells.

### Actual behavior:
NVDA hangs on the table cell for about 10 seconds, then fires a Python recursion error. Log output is below.

### Expected behavior:
NVDA should read the cell contents.

### System configuration
#### NVDA installed/portable/running from source:

[2018-12-18 23:41] Qchristensen commented on #6786
No update, except to my original explanation - as well as the definition of the functions in the autocomplete list, once you have typed the function and are entering the arguments, the tooltip denotes the allowed arguments.  For COUNT for instance:
- When =cou has been typed and the count function is selected in the list, the tooltip explains "Counts the number of cells in a range that contain num

[2018-12-19 06:38] leonardder commented on #9090
@michaeldcurran: would you be able to address this as part of #8919, or is it already covered?

[2018-12-19 06:40] leonardder commented on #8692
Fixed in #9022
Thanks for reminding. The github magic isn't very accurate in pull requests merged to beta and then to master.

[2018-12-19 06:40] #8692 closed

[2018-12-19 06:43] leonardder commented on #9088
Could you please provide information on the things that don't work for you?

[2018-12-19 14:43] mehgcap opened #9094 "no output when using delete key in many text fields"
### Steps to reproduce:
Write some text, left arrow a few characters, and hit the delete key (NOT the backspace key.

### Actual behavior:
NVDA says nothing, even though it does speak characters when the backspace key is used, and a connected braille display does not refresh. Pressing any arrow key will update things, as will typing a character or using backspace.

### Expected behavior:
NVDA shou

[2018-12-19 19:22] ehollig commented on #3680
Closing because of reasons pointed out above.

[2018-12-19 19:22] #3680 closed

[2018-12-19 20:59] #9075 closed

[2018-12-20 05:00] myr-account opened #9096 "NVDA is not reading expanded/collapsed on button with aria-haspopup as "true""
### Steps to reproduce:

1. open the link and on the NVDA in chrome browser
2. tab till "click here" button
3. click to "inspect element" on the button
4. now try to toggle the button, we can see that aria-expanded property is not read by [NVDA]
(url [button_exp_col.txt](https://github.com/nvaccess/nvda/files/2697471/button_exp_col.txt))

### Actual behavior:
 NVDA is not reading "aria-expanded" p

[2018-12-20 08:42] leonardder commented on #5750
I'm afraid it is just the object model being ridiculously sluggish. May be we should change the Word TextInfo in such a way that it respects the "Report formatting changes after the cursor" setting.
Having said that, I will have a look at winword_getTextInRange_helper

[2018-12-20 09:13] limaoscar commented on #6442
hello, with last version of nvda 2018.4 I am still having  same problem on java 8 applications, but in this case a dump of nvda is generated, and some other memory error is showned on log , in attach you can find them.
Kind regards.
[NVDA_java_CRASH.zip](https://github.com/nvaccess/nvda/files/2698109/NVDA_java_CRASH.zip)
[NVDA_java_CRASH.zip](https://github.com/nvaccess/nvda/files/2698112/NVDA_jav

[2018-12-20 10:55] Adriani90 opened #9098 "Implement BRLTTY and braille displays which connect via BRLTTY into automatic braille display detection"
### Is your feature request related to a problem? Please describe.
There are lots of users wwho are changing from other Screen readers to NVDA. Especially People who used Cobra or Window Eyes before, they have Braille Displays which are not recognized by NVDA without BRLTTY. For example many Baum and Audiodata Braille Displays can only be used via BRLTTY. But there are also lots of other devices w

[2018-12-20 11:47] bhavya974 opened #9099 "NVDA is not reading icons when hamburger menu is collapsed"
### Steps to reproduce:
1. Open the attached link  below in Chrome Browser.
   link: https://www.w3schools.com/code/tryit.asp?filename=FYDE0Z95TXNK
2. Start the NVDA and run the code.
3. Go through the icons, you will observe that NVDA doesn't read anything about the icons.

### Actual behavior:
NVDA is not reading icons when hamburger menu is collapsed

### Expected behavior:
NVDA should read the

[2018-12-20 12:09] leonardder commented on #9099
What makes you believe that this behaviour is caused by NVDA and not due to wrong web authoring?

[2018-12-20 12:33] leonardder commented on #9096
This works in Firefox 65 beta 5.
cc @derekriemer

[2018-12-20 13:03] Adriani90 commented on #9098
as an example:
BrailleStar 80 from HandyTech is not included in automatic detection and the Braille Display Alva Abt 3.40 works only with BRLTTY. Due to different Features of the Braille Displays, there are users who might use more than one Braille Display at work or privately for different situations.

[2018-12-20 13:45] josephsl commented on #9099
Hi, how about with JAWS, as well as with other web browsers? Thanks.

From: bhavya974 <notifications@github.com>
Sent: Thursday, December 20, 2018 4:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA is not reading icons when hamburger menu is collapsed (#9099)

Because, the same html is working fine with Narrator on e

[2018-12-20 13:51] Adriani90 commented on #5162
Some updates on this Topic:The production and Distribution of Baum Braille Display has been overtaken by Visiobraille GmbH since 01.08.2018. Following Braille Displays are included:
* Compact 2 and Compact 2+
* VarioPRO 80
* Vario 340
* VarioUltra 20 and 40

The Website of the Company with contact details to get a test device is

https://www.visiobraille.de/index.php?article_id=1&clang=2

[2018-12-20 14:16] leonardder commented on #9098
Wait, really? This should be the case, and I'm pretty sure I tested this device. Are you talking about a braille star that is connected using USB?

[2018-12-20 14:20] leonardder commented on #5162
Have you already seen a device that has been delivered by this new company?

[2018-12-20 14:22] pavel46 commented on #5162
Small correction:

Compact line are not a braille displays but the reading maschines.

Braille displays are VarioPro, Vario340 and VarioUltra 20 and 40.

From: Adriani90 <notifications@github.com>
Sent: Thursday, December 20, 2018 2:52 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: pavel46 <pavel46@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Support for Braill

[2018-12-20 14:34] Adriani90 commented on #5162
@pavel46 oh thanks for pointing this out. Sorry for the mistake.

[2018-12-20 15:08] esmobg commented on #9088
Nvda not  read main  menu on text editor
and  not  read  insert code and  tags

thanks  for   your   help

[2018-12-20 15:38] leonardder commented on #3031
I think we should consider closing this in favour of #8734, as the overall consensus seems to be that markdown is the future proof way to go.

[2018-12-20 15:40] leonardder commented on #8734
I think we should start with the changes files as an experiment for this. After that, we can expand to the user guide as well.

[2018-12-20 16:33] Adriani90 commented on #9098
Hello, @leonardder sorry it an issue with the usb Connection. Braillestar 80 works with automatic detection. Sorry for any inconvenience.

[2018-12-20 18:15] leonardder commented on #8734
Here is an overview of how the [extension API](https://python-markdown.github.io/extensions/api/) kan be used to accomplish several tasks that are now performed by t2t.

## Global
Looks like we can drop them all :)

## Build
NVDA_VERSION, NVDA_URL and NVDA_COPYRIGHT_YEARS all can be passed at runtime and should be defined in the extension as options. See Integrating Your Code Into Markdown > Confi

[2018-12-21 02:34] marlon-sousa commented on #8948
Hello @sonor3000  and @mohdshara ,

I have just sent you both an e-mail with link and further instructions.

I generated a dist copy of NVDA from a branch somewhat outdated, little after 2018.3, and implemented http connection via winHTTPRequests in the update checking process. As a consequence, now at least the update checking process, leading to a dialog asking you to update, should show whereas

[2018-12-21 03:49] bestuiexperience commented on #7324
I like the way NVDA is currently implemented. Please look at the example below. https://jsbin.com/sebegotiga/edit?html,css,js,output
Try tabbing away from the First Name field. NVDA correctly reads the error for the first name field before announcing the label for the second name field. JAWS does the reverse. The screen reader should have the intelligence to know when to announce the aria-live reg

[2018-12-21 04:58] bhavya974 commented on #9099
I checked with JAWS in both edge and chrome. In both the browsers it's working fine. Didn't check with any other browsers.

[2018-12-21 07:03] leonardder commented on #4177
cc @adriani90

[2018-12-21 07:11] DrSooom commented on #9094
Maybe this issue is caused by a too small window size.

[2018-12-21 09:52] Adriani90 commented on #8725
Newest Version of BRLAPI is 0.6.7 and I suggest to update to that Version.
https://github.com/brltty/brltty-website/blob/master/home/doc/ChangeLog.txt

There is a Python 2 and a Python 3 package.
Python 2:
https://fedora.pkgs.org/28/fedora-x86_64/python2-brlapi-0.6.7-5.fc28.x86_64.rpm.html

Python 3:
https://fedora.pkgs.org/28/fedora-x86_64/python3-brlapi-0.6.7-5.fc28.x86_64.rpm.html

These are fo

[2018-12-21 09:52] Adriani90 commented on #8725
cc: @bramd, @michaelDCurran

[2018-12-21 10:02] Adriani90 commented on #4177
@DebeeArmstrong have you tested BRLTTY and BRL API under Windows as suggested by @jcsteh in his comment above?
The current BRLTTY Version is 5.6 and the last BRL API Version is 0.6.7.
You can download BRLTTY binaries for Windows and last Version of BRLAPI here:
https://brltty.app/download.html#current

The documentation is quite good actually. For an example how it works together with a Screen Rea

[2018-12-21 10:51] Adriani90 commented on #9098
One issue which could come up here is that BRLTTY actually has ist own Braille display detection. So in case we want to implement this, we should specify which Braille Displays should use BRLTTY native detection and which ones should use NVDA's automatic detection.

[2018-12-21 10:52] Adriani90 commented on #9098
So for example Braille Displays which already have a Driver implemented in NVDA should use NVDA's automatic Braille Display detection. I cannot test BRLTTY's automatic detection because I do not have a Braille Display. But it should work properly since Jaws I think relies on it as well.

[2018-12-21 11:10] leonardder commented on #9098
JAWS doesn't bundle BRLTTY at all and doesn't have auto detection, only for Focus displays. Also, most if not all USB devices rely on a separate LibUSB driver bundled with BRLTTY that drives the native connections to these displays unavailable.

[2018-12-21 13:34] nishimotz commented on #8734
I have worked around txt2tags regarding Python 3.

https://github.com/nvdajp/txt2tags

So far, only tested with NVDA documents in Japanese and English.

Please take a look.

Thank you @leonardder for letting me know the modernizer tool at somewhere else.

[2018-12-21 13:52] leonardder commented on #8734
Thanks @nishimotz! Good to know that there is actually a way to stay at txt2tags for a while.

[2018-12-21 16:33] leonardder commented on #8725
@jcsteh: Do you recall how the original brlapi that is now in miscdeps has been build. Is this a custom build, or does it originate from a particular official brltty build?

[2018-12-21 19:39] LaurentGoderre commented on #6561
We use Unix timestamps for a date slider and then use the `aria-valuetext` to convert it to a textual representation of the date so this is an issue for us.

[2018-12-23 12:10] dkager commented on #3276
I can still reproduce this with Word 2016, non-UIA. It isn't specific to a particular braille display.

[2018-12-23 12:19] dkager opened #9101 "Cursor routing from a braille display not working in PowerPoint"
STR:
1. Ensure that a braille display is connected and braille is enabled.
2. Open PowerPoint.
3. Press Enter on the title or subtitle object.
4. Enter some text.
5. Press a cursor routing button over the text on the braille display.

- Expected: The cursor moves.
- Actual: No change.

Tested with PowerPoint 2013 and 2016.

[2018-12-23 12:47] dkager commented on #9101
Probably because (in appModules\powerpnt.py):

[code]

I wonder if UIA could be of use here.

[2018-12-23 18:46] Adriani90 commented on #3759
@ehollig can you reproduce this? me not.

[2018-12-23 19:10] Adriani90 commented on #3807
This is not reproducible in Firefox 64.0. But I can reproduce it in Google Crome 71.0. In Internet Explorer and Edge, notifications are not reported at all when tabbing around.

[2018-12-23 19:18] Adriani90 commented on #3808
@Qchristensen, @ehollig what do you think?

[2018-12-23 19:20] Adriani90 commented on #3841
@supanut2000 can you reproduce this issue still, even with enabled "speak command keys" in NVDA keyboard settings?

[2018-12-23 19:38] Adriani90 commented on #3840
could someone please upload the attachment for reproducing this issue? @ehollig maybe?

[2018-12-23 19:38] Adriani90 commented on #3840
@andrewnicols can you still reproduce it?

[2018-12-23 19:54] Adriani90 commented on #3986
the referenced pull request has been closed and the issue seems to be handled in pull request #8174
@k-kolev1985 can you still reproduce it?

[2018-12-23 20:07] Adriani90 commented on #3976
@nevans this should be fixed in 2018.4. Can you confirm it? @ehollig can you still reproduce it?

[2018-12-23 20:10] Adriani90 commented on #3972
@sumandogra are you still reproducing this issue? In Office 2010 at least, NVDA can read out the text even if the document is protected.

[2018-12-23 20:10] Adriani90 commented on #3972
@Qchristensen yan you also try to reproduce it?

[2018-12-23 20:21] Adriani90 commented on #3942
, @ateu @Qchristensen could you try to see if this is still reproducible? Thanks.

[2018-12-23 20:32] Adriani90 commented on #3968
@sumandogra am I understanding this issue correctly? You want NVDA to report number of slide and total nomber of slides along with "thumbnail". Right? Whic information should be reported by NVDA exactly?
I am testing in Powerpoint 2016. Thumbnail is reported and the slide number as well.

[2018-12-23 20:43] Adriani90 commented on #3963
I have heared about this issue also in other applications. Is it possible maybe to see some related information in a log file? @msuch could you please upload a log file? Preferably set logging in NVDA general settings to "debug". Then, open the python console and type:
[code]
Then try to reproduce the issue and upload the log file. Thanks

[2018-12-23 20:47] Adriani90 commented on #3959
I could reproduce this rarely. But this is not very reliably. At least it was so trivial that I couldn' find a way to reproduce it reliably. I didn't see any reports about this for any other users and I think this does not impact user experience at all.
@csm120 is this a significant issue for you?

[2018-12-23 20:56] Adriani90 commented on #3930
I don't know if this is really needed. Let's take the perspective of a blind person. This person would use focus mode or browse mode to navigate and would route the mouse to certain areas out of those modes. In some cases the mouse would be routed from object navigation mode. So, before routing the mouse, the blind person already gets this state information in braille or speech.
Now, for a visuall

[2018-12-23 20:59] Adriani90 commented on #3952
cc: @novalis7747 do you have any idea if this could be a total commander bug or a NVDA bug?

[2018-12-23 21:05] Adriani90 commented on #3944
@steverep do you have any updates regarding this issue? Could you gather a log file when the issue occurs?

[2018-12-23 21:10] k-kolev1985 commented on #3986
@Adriani90 I've tried to reproduce this now, but I wasn't able to. Maybe it got fixed in NVDA at some point - I don't know.

[2018-12-23 21:14] Adriani90 commented on #3986
Ok, then maybe we can close it and reopen if the issue comes up again. Unfortunately I cannot close it.

Von: Kostadin Kolev <notifications@github.com>
Gesendet: Sonntag, 23. Dezember 2018 22:11
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] NVDA crashes with a specific SAPI5 synthesizer (#

[2018-12-23 21:17] Adriani90 commented on #3924
@halim is this a significant  issue for you? As @dkager points out in his comment above, the double line possibly appears in a very short time range and is probably not noticeable by users in most cases.

[2018-12-23 21:30] Adriani90 commented on #3903
@k-kolev1985 I guess this issue is still reproducible. Right?
@josephsl your thoughts are very appreciated. Thanks.

[2018-12-23 21:31] Adriani90 commented on #3887
@janusz are you still having this issue?

[2018-12-23 21:33] Adriani90 commented on #3887
cc: @leonardder

[2018-12-23 21:38] Adriani90 commented on #3875
@jcsteh any updates on this issue? Was there any further work on it so far?
cc: @michaelDCurran

[2018-12-23 22:17] Adriani90 commented on #4054
@k-kolev1985 could you please give us an update over this issue? Are you still experiencing this issue? For me I got used to often filter such information out of my head having the impression that I don't hear it at all. but I know what you mean. In the past there were very often such cases. Now it got much better during last years.

[2018-12-23 22:19] Adriani90 commented on #4052
@k-kolev1985 can you try to reproduce this issue again? Is this still an issue?

[2018-12-23 22:30] Adriani90 commented on #4047
This still exists in IE11 and Edge. @feerrenrut is this something for Webfix project?

[2018-12-23 22:33] Adriani90 commented on #4014
Is this an issue someone looks into? Is there a coresponding bug filled for Liblouis?

[2018-12-23 22:36] Adriani90 commented on #4007
@supanut2000 could you test the app and give an update regarding its accessibility? Is this still as bad as before?

[2018-12-23 22:40] Adriani90 commented on #4039
@josephsl I think this is addressed in a newer developer guide version. Or not?

[2018-12-23 22:48] josephsl commented on #4039
Hi, yes, resolved in more recent dev guide. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, December 23, 2018 2:40 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Developer Guide: Clarify how to leave scripts unbound in ScriptableObject.__gestures (#4039)

@josephsl <https

[2018-12-23 22:50] Adriani90 commented on #4033
In my opinion we have lots of issues which actually are not really issues or at least not directly NVDA related. If people get such an easy way to report issues without having to elaborate on more detail about them, we will have thousants of issues on Github and will be overwelmed by that. I think, after getting more experience during last years in this community, the community works very well. Pe

[2018-12-23 22:53] Adriani90 commented on #4039
Ok, could you close it please? I cannot. Thanks.

Von: Joseph Lee <notifications@github.com>
Gesendet: Sonntag, 23. Dezember 2018 23:49
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Developer Guide: Clarify how to leave scripts unbound in ScriptableObject.__gestures (#4039)

Hi, yes, resol

[2018-12-23 22:56] Adriani90 commented on #4024
@ashleycox can you still reproduce it? Can you try to reproduce it after you disable "pages" in document formating settings of NVDA? Thanks.

[2018-12-23 22:59] Adriani90 commented on #4025
I suggest to close this issue since changing the view in the word document solves it actually. Thus, NVDA behaves correctly. This can also be seen in jaws.

[2018-12-23 22:59] Adriani90 commented on #4025
cc: @ehollig

[2018-12-24 00:13] jcsteh commented on #3875
No; I never did any work on it beyond my investigations above.

[2018-12-24 01:14] nishimotz commented on #3918
It still occurs with NVDA 2018.4 and Windows 10 1803 64bit Japanese.

I think it relates to CP 932 (Shift_JIS) of Windows default encoding.

[2018-12-24 02:30] jcsteh commented on #8725
It was extracted from the BRLTTY build. See the commit message for nvaccess/nvda-misc-deps@d806058f6ce1627d for details.

[2018-12-24 03:35] ehollig commented on #4025
Closing

[2018-12-24 03:35] #4025 closed

[2018-12-24 03:35] ehollig commented on #4039
Closing

[2018-12-24 03:35] #4039 closed

[2018-12-24 03:37] ehollig commented on #3986
Closing

[2018-12-24 03:37] #3986 closed

[2018-12-24 08:34] Novalis7747 commented on #3952
I see that as a combination of both, TC and NVDA. This behavior can also be seen in TC 9.12 and latest NVDA 2019.1 alpha, without any addon. Again it only occurs when going back with the backspace key or with alt-left arrow. As already stated, Narrator does it correctly, but Window-Eyes does it even worse, it always reads the first entry in the listview only.
To be honest, I didn't recognize this

[2018-12-24 08:36] k-kolev1985 commented on #3903
@Adriani90 I rarely use my touch screen computer these days, since I'm mainly on my desktop PC or on my phone. 🙂

However, I've tried to login into my touch screen computer (which is now running Windows 10 version 1809) now and here is what I've found.
1. I was able to activate most of the controls on the logon screen, except for the edit field for entering my PIN.
2. I was able to invoke the touc

[2018-12-24 08:57] k-kolev1985 commented on #4054
I can still reproduce this (at least with the "@autoplay" example), but it is only a minor annoyance and probably something not worth fixing from NV Access.

[2018-12-24 09:01] k-kolev1985 commented on #4052
Oops, I forgot to do the testing last year after being away from my PC for a few days in September. My apologies. I've done the testing now and the bug is still reproducible.

[2018-12-24 09:32] k-kolev1985 commented on #4009
@Adriani90 Yes, the issue is still reproducible. And no - I haven't contacted the uTorrent developers about it and I'll probably will not do it, because I doubt it they will take it in consideration at all.

I think a fix for broken reading of list views in 64-bit programs (particularly "TortoiseSVN") has managed to fix this. But that fix was lost while changing from "next" to "alpha" snapshots (w

[2018-12-24 10:31] lukaszgo1 commented on #4207
cc @ehollig Could you reopen please?

[2018-12-24 11:11] dkager commented on #4014
Seems like this issue covers it: https://github.com/liblouis/liblouis/issues/598

[2018-12-24 16:43] ehollig commented on #3840
@Adriani90 the attachment has been added to https://github.com/nvaccess/nvda/issues/3840#issuecomment-155317136

[2018-12-24 16:48] ehollig commented on #3759
I could be misunderstanding this issue, but I think the issue is that the entire powerpoint slide is read when Automatic Say All on page load is unchecked. If you want to read the first line of the next slide when in presentation mode, after pressing space to go to the next slide, the user must press control to stop speech prior to reading content on the slide line by line.

[2018-12-25 10:28] OSadovy opened #9102 "read of typed characters is broken in wsl with tmux"
### Steps to reproduce:
* ensure wsl bash on windows is installed, and install tmux package in it
* press <windows>,  type "bash" and press enter
* type "tmux"
* type anything, eg: "echo hello world"
### Actual behavior:
NVDA says "space" on each character input. sometimes it will read random characters not related to those typed.

### Expected behavior:
NVDA should read characters that user actua

[2018-12-25 14:54] OSadovy commented on #9102
I downloaded nvda_2018.3.exe and tested by just running the installer and performing described steps with NVDA running from it. Seems the bug is windows-related, because I get actual result, not an expected one :(

[2018-12-26 02:40] josephsl commented on #8328
Hi,

Test performed with Leonard's branch merged with master (fixing conflict in Outlook app module). I used Task Manager and Services.msc on Windows 10 Version 1809 (build 17763).

Result: I can confirm Leonard's observation: still noticing performance issues with UIA implementation. This is most noticeable in Task Manager where there is a huge delay when navigating entries in Details tab.

Thank

[2018-12-26 13:36] zahra21 commented on #3650
hello.
i downloaded nvda 2017.3 just for testing and hears my observations.
i should mention that i am not familiar with thunderbird, (my test was in firefox only).
after my test, i realized that when i write some lines in edit boxes in all edit boxes, (i tested specially in gmail and wordpress websites) when i navigate in my written documents, sometimes nvda report incorrect characters, words and

[2018-12-26 13:48] zahra21 commented on #9072
hello. i believe that firefox quantum versions are very instable and buggy.
because i dont have such problem with firefox esr 52!
firefox 61 i tested sometimes and i faced crashes even when reading web pages.
but i dont have such problem with firefox 52.9 and nvda 2017.2 which i use and 2017/1 which i tested google groups with it.

[2018-12-26 17:05] josephsl opened #9103 "Composable Shell/cloud clipboard: clipboard status is not announced when there are no items to be pasted"
Hi,

NOte: due to changes introduced to emoji panel in Windows 10 19H1 build 18305, along with Compsable Shell hosting other features such as cloud clipboard, I'll refer to "emoji panel" as Composable Shell.

The following issue arose due to oversight from 2018.3 days - resolved in Windows 10 App Essentials add-on: cloud clipboard paste won't announce things when there is nothing to be pasted.

##

[2018-12-26 17:31] ehollig commented on #3808
I agree with @jcsteh in https://github.com/nvaccess/nvda/issues/3808#issuecomment-155316426. Unless @Qchristensen disagrees, I am going to close this issue

[2018-12-26 17:31] #3808 closed

[2018-12-26 17:46] josephsl opened #9104 "Composable Shell: handle different aspects of modern input panel via automation ID lookup"
Hi,

A slightly better way of handling #9103:

### Background
Windows 10 Fall Creators Update (Version 1709/build 16299) introduced emoji panel (powered by Composable Shell) for browsing and inserting emojis. This facility was expanded in April 2018 Update (Version 1803/build 17134) to include hardware keyboard input suggestions and dictation, and October 2018 Update (Version 1809/build 17763) int

[2018-12-26 17:51] josephsl opened #9105 "Composable Shell/emoji panel: search results for emojis are not announced"
Hi,

The following issue affects Windows 10 Fall Creators Update and later but is most prominent in October 2018 Update and later. This is another one of those that requires Windows 10 App Essentials add-on:

### Steps to reproduce:
1. Open emoji panel (Windows+period).
2. Search for emojis by typing part of its name.

### Actual behavior:
Only search result count is announced, or in Fall Creators

[2018-12-26 18:24] josephsl opened #9106 "Composable Shell: attribute error is raised when trying to obtain parent of the input panel window"
Hi,

Continuing from #9104: in some cases, attribute error is raised when trying to obtain parent window of the input panel.

### Steps to reproduce:
1. Open emoji panel or cloud clipboard screen.
2. Close the screen, or if using cloud clipboard, delete items.

### Actual behavior:
A traceback is raised, pointing to AttributeError on line 39 of Composable Shell app module where the parent object r

[2018-12-27 01:45] bramd commented on #9077
Sounds like a great idea and the behavior I expected in the first place. It would also be nice to provide callbacks on the Python level when a live region fires, so that appmodules or addons can decide if they should be spoken or not. A good case is the Windows 10 updates window in Settings. It floods NVDA with live region updates to indicate the status of every update multiple times, making it ha

[2018-12-27 13:05] sonor3000 commented on #8948
Hi Marlon,

On Fri, December 21, 2018 3:35 am, Marlon Brandão de Sousa wrote:

Thanks for the file...

Unfortunatly bove tests you want us to try did not work for me or my proxy
setup :_(.

- While staarting NVDA there was no message that a newer release is
available.
- While searching for upgrades via the help menu only the usual error
appeared, like in the normal NVDA releases.

Just let me know

[2018-12-27 15:18] ABuffEr commented on #8690
Hi,
closing. today situation seems resolved. Verified on .it and .com site.

[2018-12-27 15:18] #8690 closed

[2018-12-28 04:03] josephsl opened #9107 "Python 3: TypeError thrown when comparing different types, especially comparing None versus something else"
Hi,

The following not only affects Core, but also add-ons as well:

### Background:
In Python 2, it was possible to perform comparisons between None and another type with no errors. However, Python 3 does not allow this, throwing type error. This is most noticeable if properties of objects that starts out as None (such as obj.value) is compared against an integer or other type.

### Steps to repr

[2018-12-28 10:38] WiproCRMAccessibility opened #9108 "NVDA is not reading the non interactive element with role ="combobox""
**Steps to reproduce:**

Turn on NVDA, Open the html page in chrome and use arrow key-down to read the data of non-interactive elements.

**Actual behavior:**

NVDA is not Reading  the value of non-interactive element which is child of element with role="combobox".

**Expected behavior:**

NVDA should read all child elements under role="combobox".

**System configuration:**

windows 10 64bit ,16GB