[2019-12-18 22:45] Adriani90 commented on #10639
Thanks for reporting. However, since this issue is related to the addons themselves, please report it to the authors of the addon or on the users mailing list at
https://nvda.groups.io/g/nvda
Closing this for now.

[2019-12-18 22:45] #10639 closed

[2019-12-18 22:47] Adriani90 commented on #10640
This is definitely a code factory issue. Please try to contact them.

[2019-12-18 22:49] Adriani90 commented on #10640
Try also to raise your question on the NVDA users mailing list at
https://nvda.groups.io/g/nvda

[2019-12-18 22:49] Adriani90 commented on #10640
Thanks for reporting.

[2019-12-18 22:49] #10640 closed

[2019-12-18 23:37] DrSooom commented on #4653
The elements on a page are still fully inaccessible with NVDA 2019.2.1 and Microsoft Publisher 2010 on Win7x64. And the Mouse Tracking only reads the complete line through the total length of a page, even if their content is part of separate text fields, which aren't linked together.

[2019-12-19 00:47] Qchristensen opened #10641 "PowerPoint: Report placeholder background colour with formatting information."
### Is your feature request related to a problem? Please describe.
In PowerPoint, with a placeholder selected, it is possible to change the background colour, either through styles, (alt+h, s, s) or by directly changing the background colour (alt+h, s, f).

The background colour is not reported with other formatting information when using NVDA+F.

### Describe the solution you'd like

The backgrou

[2019-12-19 01:00] DrSooom commented on #10601
Isn't it possible to add a list of checkboxes, which contains a few Electron apps? So the end user can enable and disable default focus mode for them via the Browse Mode NVDA Settings. See also the behavior of the checkbox "Enable browse mode on page load".

Please note that Electron apps are updated very often a year due to security reasons. So it should be made configurable for the end user in a

[2019-12-19 04:52] JAWS-test opened #10642 "aria-errormessage is not output"
### Steps to reproduce:
* Go to https://codepen.io/jaws-test/pen/VwYPRJg
* Go with tab key to the input field

### Actual behavior:

No output of the error message

### Expected behavior:

* Output of the error message (see https://www.w3.org/TR/wai-aria-1.2/#aria-errormessage)
* or at least a hint to the error message and how to navigate to it (e.g. via accesskey)

### System configuration
#### N

[2019-12-19 12:12] Adriani90 commented on #10637
Can you reproduce this with NVDA 2019.3 Beta 1?

[2019-12-19 12:15] Adriani90 commented on #10632
cc: @MarcoZehe

[2019-12-19 12:21] Adriani90 commented on #10629
So this means if NVDA is running as an administrator but the application you want to use is not, than NVDA shows also discrepancies. Is this the case with other applications as well? Or do you see this behavior only in Outlook?
cc: @michaelDCurran, @leonardder

[2019-12-19 12:27] Adriani90 commented on #10628
cc: @pawelurbanski, @leonardder

[2019-12-19 12:28] Adriani90 commented on #10628
@dingpengyu you can also use the VS Code addon for NVDA from here:
https://github.com/pawelurbanski/nvda-for-vs-code

[2019-12-19 12:30] Adriani90 commented on #10621
@comunicationVoices could you please answer to the question above? Is this not reproducible with NVDA 2019.2.1?

[2019-12-19 12:34] Adriani90 commented on #10619
cc: @MarcoZehe

[2019-12-19 14:58] taylorchasewhite commented on #7841
Agree with @BerGer23  and @deap82 in reference to the [WAI guidelines](https://www.w3.org/TR/wai-aria-implementation/).

Here's the dilemma I found myself looking into:
We have a navigation region with links in it, much like Google search results navigation region at the bottom of each page.

The anchor element has the page number in it (e.g. '1', '2', '3'). The tooltip has 'Page #' in it (e.g. 'P

[2019-12-19 16:29] Novalis7747 commented on #10629
We saw that only in Outlook and the message flags under 2019.3.b1 and all earlier alphas. I would need to do more testing with other MS Office apps.
This is a showstopper for me because it happens on installed 2019.3.b1 as well (means not only on a portable version) and makes Outlook unusable.

From: Adriani90 <notifications@github.com>
Sent: Donnerstag, 19. Dezember 2019 13:22
To: nvaccess/nvda <

[2019-12-19 18:42] leonardder commented on #10638
I've seen this happening as well. I'm afraid this requires some extensive testing, may be even cooperation with Microsoft to solve this.

@michaelDCurran: Is this somewhere on the NV Access roadmap in the near future?

[2019-12-19 18:43] leonardder commented on #10635
It looks like I introduced this regression. Unfortunately, I do not have time to look into this just yet.

[2019-12-19 18:45] leonardder commented on #10629
I've seen this in older versions of NVDA as well. It looks like this has to do with a user privilege conflict.

Anyway, running NVDA as admin is strongly discouraged. You should either install NVDA or live with the fact that some administrative tasks can't be done with a portable version of NVDA. I'm afraid there isn't that much we can do about this.

[2019-12-19 18:47] leonardder commented on #10628
I think screen reader support for this should be implemented in Code itself. They are pretty a11y minded, so there might already be a feature request for this. cc @zersiax

[2019-12-19 18:53] lukaszgo1 commented on #10629
The problem here is, according to the other commends, that these flags are not read even if NVDA is installed. Perhaps this issue should be renamed?

[2019-12-19 18:59] leonardder commented on #10629
Correct, but also when run as admin, which shouldn't be done.

[2019-12-19 20:09] zersiax commented on #10628
I know for a fact that in for example JavaScript, NVDA can already report things like "String, message" when typing , for example, Console.log followed by the opening bracket.
This is not at all very well documented and I only know this because I was involved in making the initial autocomplete implementation work, but you can press ctrl+space when an autocomplete suggestion is reported to get what

[2019-12-19 21:01] Novalis7747 commented on #10629
When I install NVDA on a PC I have no choice to run it as an admin,  so again, even if NVDA is normal installed I see this problem on all of my PC’s and some other users saw it as well. Tell me what I have to do different to avoid this misbehavior and I’m happy.

From: Leonard de Ruijter <notifications@github.com>
Sent: Donnerstag, 19. Dezember 2019 19:59
To: nvaccess/nvda <nvda@noreply.github.com

[2019-12-19 21:09] Novalis7747 commented on #10629
And again, that all works well with 2019.2.1 and all earlier versions of NVDA on all of my PCs, just with 2019.3 and earlier alphas I and other ppl can see this symptoms.

From: Ralf K.
Sent: Donnerstag, 19. Dezember 2019 22:01
To: nvaccess/nvda <reply@reply.github.com>; nvaccess/nvda <nvda@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [nvaccess/nvda] Outlook message flag

[2019-12-19 22:12] mdyer1 commented on #10640
Hi,

I’ll have to bring it back up again as I hot no response there.  I was not sure if this was something to do with nvda directrely or not so thanks.

Matthew

From: Adriani90 <notifications@github.com>
Sent: Wednesday, December 18, 2019 5:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: mdyer1 <ilovecountrymusic483@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda]

[2019-12-19 22:49] jnurthen opened #10644 "Indeterminate Progress bars reported as "half-checked""
### Steps to reproduce:
Open https://codepen.io/jnurthen/full/qBErmdB
The page has a link followed by 2 progress bars.
The first is Labelled Loading.... and the Valuetext is set to 50%
The second is also Labelled Loading but has no valuetext (or valuenow)

### Actual behavior:
NVDA reads the indeterminate progressbar as "half-checked":
Speech: `progress bar  half checked    0`
Braille: `⣏⣸⣹ prgbar

[2019-12-19 22:52] jnurthen opened #10645 "Progress Bar Value not being read with Chrome"
### Steps to reproduce:
Open https://codepen.io/jnurthen/full/qBErmdB
The page has a link followed by 2 progress bars.
The first is Labelled Loading.... and the Valuetext is set to 50%
The second is also Labelled Loading but has no valuetext (or valuenow)

### Actual behavior:
The first progressbar is read as "Loading... Progress bar"

### Expected behavior:
It should be read as "Loading.... Progr

[2019-12-19 22:57] jnurthen opened #10646 "Progress Bar Label not being read with Firefox"
### Steps to reproduce:
Open https://codepen.io/jnurthen/full/abzJWQd
The page has a link followed by 2 progress bars.
The first is Labelled Loading.... and the Valuetext is set to 50%
The second is also Labelled Loading but has no valuetext (or valuenow)

*Note: ProgressBar has accessible Name required in ARIA so all progress bars should have a label

### Actual behavior:
The first progressbar is

[2019-12-20 06:27] leonardder commented on #10629
I don't understand this. When you install NVDA on a system, by default it is not run as admin at all. It is only run with UI Access, which makes it possible to get access to the interface of applications running as admin.

Are you saying that a bare install of NVDA without explicitly running it as admin has this problem as well?

I will investigate later today.

[2019-12-20 07:22] leonardder commented on #10629
On my end, a normally installed copy of NVDA without explicitly being started as admin, all works as normal. When I right click the desktop icon and run NVDA as admin, the flags no longer read, but this this known behavior for earlier versions as well.

[2019-12-20 07:52] CyrilleB79 commented on #10629
On my end, I have performed the following tests and confirm what @leonardder  writes:
* NVDA run as user and Outlook run as user: OK, flags are read normally
* NVDA run as admin and Outlook run as user: NOK the flags are not read
I get this result either with NVDA 2019.2.1 portable or NVDA 2019.3beta1 installed. These tests were performed with Win10 1809 and Outlook 2016.

The real issue here is t

[2019-12-20 07:53] Novalis7747 commented on #10629
Confirmed at my end.  The other 2 users reporting this with an installed version of NVDA did run it as admin.
Since this is a normal behavior you can close this issue, I’m going to inform this users that running NVDA as admin is not recommended.

From: Leonard de Ruijter <notifications@github.com>
Sent: Freitag, 20. Dezember 2019 08:23
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpue

[2019-12-20 08:44] isidorn commented on #10628
@dingpengyu looking at our VS Code repository it seems like this issue was solved here https://github.com/microsoft/vscode/issues/3851
However there might have been a regression. So I would please ask you to file a [new issue](https://github.com/microsoft/vscode/issues/new/choose) in the VS Code repository and ping me on the issue and then I will investigate more. Thanks a lot!
@zersiax thanks for

[2019-12-20 09:37] dingpengyu commented on #10628
hi @isidorn
I will use NVDA for related tests later
thanks

[2019-12-20 11:15] #10629 closed

[2019-12-20 13:31] gdata1 commented on #10638
I can confirm that, too. but if you disable the UIA, the edge problem disappears.

[2019-12-20 16:57] Adriani90 commented on #7706
@xtstoll the situation might have changed since the additional Freedom Scientific driver is not needed anymore. The braille display should work natively with NVDA now.
Could you please give an update? Are you still having this issue?

[2019-12-20 17:00] Adriani90 commented on #7720
We do not have an update from the initial author since more than two years. Closing as abandoned. Please comment on it if you still have this issue and we can reopen it.

[2019-12-20 17:00] #7720 closed

[2019-12-20 17:08] Adriani90 commented on #7698
This isue is not reproducible anymore in NVDA 2019.3 Beta 1, Firefox 71 and Chrome 79. Closing as works for me.

[2019-12-20 17:08] #7698 closed

[2019-12-20 17:13] Adriani90 commented on #7648
Solved in Spotify 1.1.22.633.g1bab253a (Microsoft Store-Version), Windows 10 1909 Update and NVDA 2019.3 Beta 1.
Closing as works for me.

[2019-12-20 17:13] #7648 closed

[2019-12-20 17:18] Adriani90 commented on #8013
@beqabeqa473 I cannot reproduce this anymore in NVDA 2019.3 Beta 1 and Google Chrome version 79. Could you please test under the same setup and see if the issue stil occurs on your side?

[2019-12-20 17:25] Adriani90 commented on #8007
Actually, I tend to close this issue since the user can press down arrow and hear that the label is embeded into a grafic. It is not important for this case to report "grafic" when pressing x. Note the same behavior can be observed in Firefox.
I will close this for now but feel free to comment on it if you have other arguments. We can reopen this issue afterwards. Thanks.

[2019-12-20 17:25] #8007 closed

[2019-12-20 17:31] Adriani90 commented on #8005
This is still reproducible with NVDA 2019.3 Beta 1 in Firefox 71.

[2019-12-20 17:36] Adriani90 commented on #10140
I found another one:
#7996

[2019-12-20 18:00] Adriani90 commented on #8398
@dparker21 how is the behavior of NVDA in NVDA 2019.3 Beta 1? Are you still having this issue?

[2019-12-20 18:08] Adriani90 commented on #8348
This is still reproducible with NVDA 2019.3 Beta 1 and Chrome 79.

[2019-12-20 18:17] Adriani90 commented on #8326
@sanjay1909 how is this behavior in NVDA 2019.3 Beta 1? Could you please give an update?

[2019-12-20 18:26] Adriani90 commented on #10642
Closing as duplicate of #8318.

[2019-12-20 18:26] #10642 closed

[2019-12-20 18:35] Adriani90 commented on #8266
@jcsteh the item is not reported in Firefox 71. IE11 is the only browser which works with this example as expected.
In Chrome and Edge NVDA reports "super not selected" after pressing tab and shift+tab on the tree view. So is the selected status really set correctly from a programatical point of view? Something seems to be wrong here.

[2019-12-20 18:36] Adriani90 commented on #8266
cc: @michaelDCurran

[2019-12-20 18:40] dparker21 commented on #8398
Hi,

I no longer use that PC and Windows 7, and rarely use QVDA these days (I've been using a Mac more often), so I have not had the issue nor an opportunity to test it.

Best, Daniel

Sent from my iPhone

[2019-12-20 18:46] Adriani90 commented on #8222
This seems strongly related to #6672. @derekriemer, @feerrenrut should this be closed as duplicate?

[2019-12-20 18:54] Adriani90 commented on #8221
@RD-Brown in Chrome 79 this example does not work for me. The modal does not launch when I press the button. Could you please give an update on this? In Firefox it seems NVDA repeats the text only one time.

[2019-12-20 18:59] Adriani90 commented on #8211
@Qchristensen do you see the same behavior in NVDA 2019.3 Beta 1?
Does it make a difference when you disable automatically move system focus to focusable elements with nvda+8?
I guess overall at least in Firefox the situation should be much better now.

[2019-12-20 19:01] Adriani90 commented on #8162
@jhomme last reminder before closing this issue as abandoned. Is it still reproducible for you in NVDA 2019.3 Beta 1?

[2019-12-20 19:45] Adriani90 commented on #8140
This is not reproducible in NVDA 2019.3 Beta 1 and Chrome 79 anymore. Closing as works for me.

[2019-12-20 19:45] #8140 closed

[2019-12-20 19:52] Adriani90 commented on #8101
It seems we are not able to reproduce this issue with the current description since the link does not work. If you have any updates, please comment on this issue and we can reopen it. Thanks.

[2019-12-20 19:52] #8101 closed

[2019-12-20 19:56] Adriani90 commented on #8066
We do not have any updates from the initial author since more than 18 months. Closing as abandoned and I cannot reproduce it with NVDA 2019.3 Beta 1 in any browser.

[2019-12-20 19:56] #8066 closed

[2019-12-20 20:10] Adriani90 commented on #8676
It seems this issue occurs only when routing the mouse to the edit field or when pressing tab while in browse mode. When I enable focus mode with nvda key + space and navigate with tab, moving the system focus, the label is read properly.
Testing with NVDA 2019.3 Beta 1 on Chrome 79.
cc: @derekriemer do you have any hints for this?

[2019-12-20 20:15] Adriani90 commented on #7552
@kaveinthran actually you should be able to read the progress bar either with nvda+b or by using object navigation. Can you confirm?

[2019-12-20 20:20] Adriani90 commented on #8657
We do not have an update from the author since more than one year. We cannot reproduce this issue from the current description. I also think this could be a duplicate of #8318. Closing for now as abandoned. Please comment on it if you still have this issue. Thanks.

[2019-12-20 20:20] #8657 closed

[2019-12-20 20:21] Adriani90 commented on #8638
@mehgcap did the com registry fixing tool solve your problem? How is the behavior in NVDA 2019.3 Beta 1?

[2019-12-20 20:23] Ignite25 commented on #10597
Hello! This is my first comment using Github so excuse me if something doesn't go right. I have noticed as well you can't get to the more button using NVDA. Which means you can't pin what you copied. I  was told a work around for that, try , copying a string of text to clipboard, press Windows key + V to bring up clipboard, if the focus is not on what you just copied arrow to it, then press the le

[2019-12-20 20:23] Adriani90 commented on #8634
@bhavyashah are you still having this problem in Chrome 79 with NVDA 2019.3 Beta 1?

[2019-12-20 20:33] Adriani90 commented on #8557
Closing due to same reason as stated in #8466.

[2019-12-20 20:33] #8557 closed

[2019-12-20 20:33] Adriani90 commented on #8553
cc: @michaelDCurran

[2019-12-20 20:38] Adriani90 commented on #8476
@derekriemer, @novalis7747, @lukaszgo1 are you maybe able to test if this is still reproducible? I did never use hangouts before.

[2019-12-20 20:40] Adriani90 commented on #8450
We do not have any updates from the initial author since more than 16 months. Closing as abandoned and works for me also with NVDA 2019.3 Beta 1.

[2019-12-20 20:40] #8450 closed

[2019-12-20 20:42] Adriani90 commented on #8443
@amirsol81 could you please try my suggestions above? Are you still having this issue in NVDA 2019.3 Beta 1?

[2019-12-20 20:47] josephsl commented on #10597
Hi, this whole thing is caused by focus change event issue – a few days ago I worked on a possible workaround, but found that it causes regressions with focus change not announced in IAccessible controls such as Notepad++. Thanks.

From: Ignite25 <notifications@github.com>
Sent: Friday, December 20, 2019 12:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com

[2019-12-20 20:49] Adriani90 commented on #8427
This is solved in Chrome 79 and NVDA 2019.3 Beta 1. Closing as works for me.

[2019-12-20 20:49] #8427 closed

[2019-12-20 20:52] Adriani90 commented on #8403
We do not have any updates from the initial author since more than 16 months. Closing as abandoned. Moreover, I cannot reproduce it with NVDA 2019.3 Beta 1. Closing also as works for me.

[2019-12-20 20:52] #8403 closed

[2019-12-20 20:52] Adriani90 commented on #8399
@derekriemer can you maybe test if this is still reproducible in NVDA 2019.3 Beta 1?

[2019-12-20 20:54] Adriani90 commented on #8398
@dparker21 thanks for the swift reply.
Since this issue is unpredictable and cannot be reproduced reliably, I am closing it due to missing tests.

[2019-12-20 20:54] #8398 closed

[2019-12-20 20:58] Adriani90 commented on #8811
@lallerke1, @afik1231 can you still reproduce this issue in NVDA 2019.3 Beta 1?

[2019-12-20 21:01] Adriani90 commented on #8809
@fernando-jose-silva I cannot reproduce this issue with NVDA 2019.3 Beta 1 on Chrome 79. Do you still habe this problem? Do you have enabled by chance automatically  read page after page load in NVDA's browse mode settings? If yes, please disable it and see if the issue still occurs.

[2019-12-20 21:04] Adriani90 commented on #8805
I cannot reproduce this issue in NVDA 2019.3 Beta 1 and Crhome 79. Closing as works for me.
If you still have this issue please comment on it and we can reopen it. Thanks.

[2019-12-20 21:04] #8805 closed

[2019-12-20 21:07] Adriani90 commented on #8796
@patrickdemers it seems the link in the description is outdated. Could you please post an updated test case? Thanks.

[2019-12-20 21:09] Adriani90 commented on #8786
I can reproduce this in focus mode with NVDA 2019.3 Beta 1.
cc: @MarcoZehe

[2019-12-20 21:12] Adriani90 commented on #8781
@mehgcap how is the behavior in NVDA 2019.3 Beta 1 and Chrome 79?

[2019-12-20 21:16] Adriani90 commented on #8776
The design of the calender and the website changed significantly. @Brian1Gaff could you please post an updated test case? Thanks.

[2019-12-20 21:20] Adriani90 commented on #8764
This is also reproducible in Firefox 71 with NVDA 2019.3 Beta 1.
At every down arrow press in the combo box, when the combo box updates, the page title is reported everytime by NVDA.
cc: @jcsteh any idea why this happens in Firefox?

[2019-12-20 21:24] Adriani90 commented on #8763
This is only reproducible in Edge Edgehtml. Since this will be more than likely solved in Edge chromium (it works properly in Google Chrome 79), I am closing this issue.
Tested with NVDA 2019.3 Beta 1.

[2019-12-20 21:24] #8763 closed

[2019-12-20 21:27] Adriani90 commented on #8761
We did not have any updates from the initial author and I am not able to reproduce this issue on Chrome 79 with NVDA 2019.3 beta 1. I did also not hear any further user reports confirming this so far. Closing as works for me.
If you have this issue still, please comment on it and we can reopen it. Thanks.

[2019-12-20 21:27] #8761 closed

[2019-12-20 21:29] Adriani90 commented on #8760
@fernando-jose-silva are you still having this issue with NVDA 2019.3 Beta 1 in Chrome 79?

[2019-12-20 21:34] Adriani90 commented on #8749
I cannot reproduce this behavior with NVDA 2019.3 Beta 1, on Chrome 79.
However, when focusing a combo box and moving with arrow key through the options without expanding the combo box, NVDA seems to loose focus and reports the window title. I have to press alt+tab twice or so to regain focus on the combo box.
cc: @feerrenrut

[2019-12-20 21:34] patrickdemers commented on #8796
The characters counter is not available anymore

[2019-12-20 21:41] Adriani90 commented on #8719
@bvancea I cannot reproduce this issue in Firefox 71 with NVDA 2019.3 Beta 1. Are you still seeing this issue?

[2019-12-20 21:49] Adriani90 commented on #8706
This issue still exists in NVDA 2019.3 Beta 1 and Google Chrome 79.
I think it is related to the offsets of the elements and how they are registeres to the virtual buffer. In Chrome the virtual cursor cannot detect exactly the system focus and in browse mode the system focus cannot reliably be drawn to the heading. This seems to work in Firefox much more reliable.
If you turn off automatically mov

[2019-12-20 21:55] Adriani90 commented on #8705
Still reproducible with NVDA 2019.3 Beta 1 and Skype electron 8.55.

[2019-12-20 21:56] Adriani90 commented on #8682
@mehgcap how is the behavior in NVDA 2019.3 Beta 1?

[2019-12-20 22:00] Adriani90 commented on #8681
Still reproducible in NVDA 2019.3 Beta 1 and Chrome 79.
In Firefox it works just fine.

[2019-12-20 22:05] Adriani90 commented on #8087
@Qchristensen is this not similar to #8211? I think this is the same underlying problem.

[2019-12-20 22:12] Adriani90 commented on #8796
Thanks for the swift reply. I am closing this issue for now. Please comment on it if you come accross a new test case and we can reopen it. Thanks.

[2019-12-20 22:12] #8796 closed

[2019-12-20 22:24] Adriani90 commented on #9017
This is still reproducible in Firefox 71 and Chrome 79 with NVDA 2019.3 Beta 1. In Internet explorer it works as expected.

[2019-12-20 22:27] Adriani90 commented on #8993
@Qchristensen I am not sure if I tested it correctly because the steps to reproduce are very visual. I think I cannot reproduce it in Chrome 79 with NVDA 2019.3 Beta 1. Could you please test and report back? Thanks.

[2019-12-20 22:29] Adriani90 commented on #8992
This is not reproducible anymore in NVDA 2019.3 Beta 1 and Chrome 79. Closing as works for me.

[2019-12-20 22:29] #8992 closed

[2019-12-20 22:35] Adriani90 commented on #8970
I cannot reproduce this anymore on google search page with NVDA 2019.3 Beta 1. @fisher729 can you confirm?

[2019-12-20 22:39] Adriani90 commented on #8949
Actually this is self explanatory since every time when you press down or up arrow in any combo box you will select an item. Why should NVDA report additionally that something is selected?
This behavior is consistent through all browsers.

[2019-12-20 22:43] Adriani90 commented on #8937
This is reproducible for every browser.

[2019-12-20 22:44] Adriani90 commented on #8928
@tspivey I am on Version: alpha- I g-460, d722geff
I cannot reproduce this issue.
Are you still seeing this problem?

[2019-12-20 22:49] Adriani90 commented on #8890
cc: @derekriemer

[2019-12-20 22:56] Adriani90 commented on #8863
Is this an NVDA issue? Actually it look liek rather a chrome issue.
cc: @leonardder

[2019-12-20 23:00] Adriani90 commented on #8838
This seems to work just fine on Windows 10 1909 Update.
@josephsl, @k-kolev1985 can you confirm? If yes, then I suggest to close this issue as works for me.
I am testing with NVDA 2019.3 Beta 1.

[2019-12-20 23:02] Adriani90 commented on #8834
@CSGiuliano77 are you still having this issue with NVDA 2019.3 Beta 1?

[2019-12-20 23:05] josephsl commented on #8838
Hi,

Ah yes, we overlooked to mentioned this issue in the pull request - fix included in NVDA 2019.3.

Thanks.

[2019-12-20 23:05] #8838 closed

[2019-12-20 23:40] DrSooom commented on #8992
Also no longer reproducible with NVDA 2019.2.1 and Firefox 71.0 on Win7x64.

[2019-12-21 02:29] XLTechie commented on #10626
In general I agree with @josephsl about all of this, especially the priority.

Personally i do not like including it with notifications disablement as has been
suggested. In my mind, notifications are passive from the user prospective. In
other words, you don't cause notifications, an app or something else does. For
volume changes, you are performing an action, and hearing the immediate
consequenc

[2019-12-21 03:00] fisher729 commented on #8970
I still can. Using latest stable of Firefox with the 2019.3 beta
release. If you google
"premier league standings", you'll see what I mean in the second table
with the standings present.

On 12/20/19, Adriani90 <notifications@github.com> wrote:

[2019-12-21 07:45] k-kolev1985 commented on #8705
Actually, this was fixed maybe a few months ago, but it started occurring again in Skype v8.55. So, it is a regression. I've filed a bug report in the Windows 10 Feedback Hub. So, anyone that can reproduce it, may go and approve/upvote the report there. Here is the link: [The context menu for the system tray icon of Skype 8.55 is not accessible for screen readers](https://aka.ms/AA6vq6k).

[2019-12-21 15:00] Cleversn opened #10647 "Different content and layouts in web pages on different systems, often missing information"
### Steps to reproduce:

I often find web pages which present differing content and layouts depending whether I access them on my Windows computer at home or at my workplace computer. The main differencnes between the two are that I run Windows 10 at home, and Windows 7 at my workplace. in addition, my home computer is a laptop, while my workplace computer is a Desktop.

In my workplace, there are

[2019-12-21 19:03] MarcoZehe commented on #8786
Not a Firefox bug, Firefox exposes all the associated or aria-label labeled accessible lists as well as options within, even though they are not all focusable. But looking at the tree with both object navigator as well as Accessibility Inspector shows that all of these have names. NVDA reads the options, but not the disabled named list containers.

[2019-12-21 19:06] 3nuc commented on #8648
I can reproduce it on 2019.2.1. I'm not running NVDA in a virutal machine though. I'm on normal Windows 10.

[2019-12-21 22:24] CSGiuliano77 commented on #8834
Yes, I do see this happening with latest alpha snapshot.  The log is pasted below.  Thanks, and happy holidays.

INFO - __main__ (12:04:22.500) - MainThread (6924):

Starting NVDA version alpha-19460,d7229eff

INFO - core.main (12:04:22.655) - MainThread (6924):

Config dir: C:\Users\csgiu\AppData\Roaming\nvda

INFO - config.ConfigManager._loadConfig (12:04:22.655) - MainThread (6924):

Loading co

[2019-12-21 22:53] Adriani90 commented on #10647
is screen layout disabled in Nvda‘s browse mode settings on all machines? I cannot reproduce this issue on several machines with different screen sizes. The information exposed through the accessibility APIs to the screen reader does not depend on screen resolution as far as I know.

[2019-12-22 00:50] Cleversn commented on #10647
Hi, yes, screen layout is disabled in all machines. I recall other pages reproducing this problem, but they require private login information to display. In any case, I'll stay watchful to try finding more public pages.

[2019-12-22 10:04] Brian1Gaff commented on #10645
Has anyone noticed that some versions of the new edge beta have lost a lot
of accessibility, but the later ones in the 80s seem to have it fixed? Don't
know how much of that is Chrome related and how much is Microsoft related.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup

[2019-12-22 10:07] Brian1Gaff commented on #10647
What happens if you do a page refresh just a few seconds after the page has
displayed? I have found this often helps. It looks like part of the data on
a page is sent later and either nvda is not looking for it or the browser
ignores it. Not sure. However vital buttons and edit areas can just be
completely missing. Oddly the only browser that has always worked is IE11,
Brian

bglists@blueyonder.co

[2019-12-22 10:14] Brian1Gaff commented on #10647
https://kingston.talking-news.info/

Try the above site, when you  go to the player  9 times out of ten the main
controls are not there, ie play and wind and the counter, and pause etc, do
a refresh, and there they are.
This affects firefox and waterfox and not ie.

 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Ga

[2019-12-22 14:16] Cleversn commented on #10647
Hi, thanks for the hint on refreshing the page and/or the virtual buffer. I don't often recall to try that. Incidentally, I'm trying now to log out from my account at Assembla, but there seems not to be any link or button to do that.

[2019-12-22 16:28] tangweichong1992 opened #10648 "Creating a hotkey for reading text only"
Hi,
I would like to suggest that the developer team to consider creating a hotkey to only read text when using NVDA in brows mode, just like older versions of window-eyes. Although the "N" key for NVDA performs the function mentioned above, it does not omit things like buttons or frames. By having such a hotkey to only read text, it will provide another alternative for faster navigation in a web b

[2019-12-22 20:25] lukaszgo1 commented on #10533
@enessaribas I believe @leonardder ment your user configuration of Utorrent from %apdata%. Could you cut it from there to some safe location, and try to reproduce this?

[2019-12-22 21:34] enessaribas commented on #10533
Hello,
What is the name of the file in appdata?

[2019-12-22 22:26] lukaszgo1 commented on #10533
@enessaribas It is a directory called uTorrent

[2019-12-22 23:07] enessaribas commented on #10533
Hello,
I am aware of this. However, I cannot find the specific file. The directory contains many .torrent files that were created or downloaded by the client. There is no file called userconfig, or config.

[2019-12-22 23:27] Adriani90 commented on #10648
For this purpose you can also use the addon textnav.
https://addons.nvda-project.org/addons/textnav.en.html
cc: @mltony

[2019-12-22 23:30] Adriani90 commented on #10647
To be honnest I think this is not an NVDA issue. It might be an issue related to your grafic card, to your windows system but also as you said, relatd to restrictions about page redirecting. Did you already compared the link in the address bar of your browser on the different machines? Are the links exactly the same?
I am using NVDA on thre machines with different windows versions and also on more

[2019-12-22 23:38] Adriani90 commented on #8834
This seems to me like an we authoring issue. The table attribute is not added to the object according to the log snippet. But I might be wrong here.

[2019-12-22 23:42] Adriani90 commented on #8648
@3nuc could you please try on NVDA 2019.3 Beta 1? Which system language are you using?

[2019-12-23 01:43] fernando-jose-silva commented on #8760
Unfortunately I no longer have access to this tool.
Thanks.

[2019-12-23 01:51] fernando-jose-silva commented on #8809
Thanks, I tested on the last nvda alpha and chrome and everything works correctly.

[2019-12-23 08:22] 3nuc commented on #8648
@Adriani90 Tried 2019.3 Beta 1. The issue is present on this version also.
I'm not sure if it actually crashes NVDA. NVDA restarts after it closes in this case

Here's my language settings:
![image](https://user-images.githubusercontent.com/5359825/71345436-a4800780-2565-11ea-9e8a-27545cd94e44.png)
My Windows UI is in English but preferred language for apps is Polish.

[2019-12-23 14:54] Adriani90 commented on #8648
This coul be related or even duplicate of #10607. cc: @lukaszgo1, @Qchristensen, @michaelDCurran

[2019-12-23 14:56] Adriani90 commented on #8760
Thanks for reporting back. Closing because it will not be possible to reproduce this without someone with access to that tool. If someone still has this problem, please comment on this issue and we can reopen it. Thanks.

[2019-12-23 14:56] #8760 closed

[2019-12-23 14:57] Adriani90 commented on #8809
Closing as works for me.

[2019-12-23 14:57] #8809 closed

[2019-12-23 15:02] lukaszgo1 commented on #10533
Simply cut the entire directory somewhere else.

[2019-12-23 15:17] 3nuc commented on #8648
My nvda path is "C:\Program Files (x86)\NVDA\nvda.exe".

I read the issue you posted and got the idea of also linking to my logs with debug loglevel like the OP of that issue. I started NVDA from the console with the appropriate commands (-l 10 -f log.txt) as administrator only to realize I can no longer reproduce the issue.

I'm on 2019.3 beta 1 (checked in about page). Even now if I launch from

[2019-12-23 18:21] comunicationVoices commented on #10621
Hi. This error only occurs with 2019.3, in the beta version for python 3. I
just clarify this, regards.

El jue., 19 dic. 2019 a las 7:30, Adriani90 (<notifications@github.com>)
escribió:

[2019-12-23 21:04] Brian1Gaff commented on #10647
Well assuming refresh does not show one it might be a site issue. I have
found many web sites where you log in but seemingly not out again.
 I suppose it detects you are gone.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Mes

[2019-12-23 21:05] Brian1Gaff commented on #10647
Did you try my example? Several people get the same as me, and refresh
always sorts it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@norepl

[2019-12-23 22:03] Geoff236 opened #10649 "NVDA And Outlook 2016 Autofill"
Good afternoon. I am currently using the latest stable version of NVDA on a Windows 10 computer and have Office 2016 installed. My issue in Microsoft Outlook is the auto fill when I go to send an e-mail message. I'll type the first letter of the name of the person I'm addressing the message to, and NVDA doesn't read the rest of the name back to me. This has been going on for quite some time. Maybe

[2019-12-23 23:32] Adriani90 commented on #10649
Thanks for reporting. This is a duplicate of #8502. Thus, closing as duplicate.

[2019-12-23 23:32] #10649 closed

[2019-12-23 23:35] Adriani90 commented on #8648
@3nuc thanks for reporting. Good to hear that your issue is not occuring anymore. I am closing this as works for me. If the issue still occurs, please feel free to comment on this issue and we can reopen it.

[2019-12-23 23:35] #8648 closed

[2019-12-24 08:19] k-kolev1985 opened #10650 "NVDA reads less information with the mouse in the Chromium Edge than it does in the EdgeHTML-based one"
### Description:
In the new (Chromium-based) Microsoft Edge browser, NVDA reads less information with the mouse cursor than it does in the old/EdgeHTML-based one.

For example, when you point at a link for a video on the YouTube main page, in the old Edge NVDA reads something like this: "Ninja Gaiden (NES) James and Mike Mondays from „Cinemassacre“ 12 hours ago 37 minutes 80 657 views", which is v

[2019-12-24 08:34] Brian1Gaff commented on #10650
Which version of Edge Chrome though. I mentioned elsewhere that Microsoft
had broken its accessibility in version 79.
 Lets hope they do not base the release version on that piece of rubbish.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
---

[2019-12-24 13:24] davidacm commented on #10637
This is a very large document. process html documents in Firefox is very slow compared with chrome. I ran some tests comparing the performance of screen readers with different tasks. NVDA is the fastest loading html documents in any browser, but in firefox this task always takes a long time for any screen reader, even NVDA.

I think that if you wait for a long time, the document will be loaded. If

[2019-12-24 14:04] davidacm commented on #10586
Maybe this issue is related with #10599 ?
Can you check that issue?

[2019-12-24 14:12] audiogamer22 commented on #10586
It sounds similar but not exactly the same.

I think my issue is more to do with bluetooth headphones and nothing can be done.

I’ll try using my pc with no headphones for a couple of days and if everything is fine, I’ll close the ticket.

Sent from my iPhone

On 24 Dec 2019, at 14:04, David CM <notifications@github.com> wrote:

﻿

Maybe this issue is related with #10599<https://github.com/nvacces

[2019-12-25 03:51] enessaribas commented on #10533
This appears to be an issue on my system. It does not occur when config is removed, which confirms this. I see I have to eventually clear out the config

[2019-12-25 03:51] #10533 closed

[2019-12-25 05:25] SeanTolstoyevski commented on #10630
Hi @OzancanKaratas ,
Which DLL files are you talking about deleting?

It makes no sense that NVDA deletes the DLL file of another program.
If these files are NVDA's, we can delete the old DLLs that remain in the temp file.

[2019-12-25 06:42] #10586 closed

[2019-12-25 13:34] OzancanKaratas commented on #10630
I mentioned NVDA's old DLLs. So the temporary files.

[2019-12-26 14:18] k-kolev1985 commented on #10650
@Brian1Gaff As it was written in my report: Chromium-based Microsoft Edge version: 81.0.370.0 Canary, 64-bit, in bulgarian, UIA is enabled (default setting).

Furthermore, I've done testing of the same things in the same browser, but with Narrator and JAWS 2020. They behave more or less as it expected. So, it is possible, but NVDA is not doing it for some reason.

[2019-12-27 14:27] RudolfWeeber commented on #10618
I have a related issue With 2019.3beta1; On the braille display, the cursor does not advance when typing spaces after the last letter.
Example: run Ubuntu in wsl, type 'ls ' not including the quotes on the prmopt. On the braille display, the line reads 'ls' without the final space. The issue goes away when choosing "prefer legacy" for Windows console in advanced settings.

[2019-12-28 10:50] elliott94 opened #10651 "Installer: Add Choice to Start NVDA after Logging onto Windows for the Current User"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

Currently, when installing NVDA either from the main Launcher package or when choosing to install from a portable copy, the installer allows the user to choose whether NVDA should start with Windows - however, it doesn't give the user a choice as to whether it should start after they've logged

[2019-12-28 14:37] XLTechie commented on #10651
Supported! Having run into this recently on some new system installs, it is
annoying, though only slightly once you realize what's going on and remember
that it happens.
But it could be easily fixed as described.

[2019-12-28 23:00] aureliojargas commented on #8734
Hi, just a friendly heads up that now finally there's an official Python 3 version for txt2tags in https://github.com/txt2tags/txt2tags/tree/v3, also available in PyPI at https://pypi.org/project/txt2tags/. Maybe that one can fit your needs.

[2019-12-29 02:32] josephsl commented on #8734
Hi, thanks for this update. Let’s take a look at it after 2019.3 comes out. CC @LeonardDer, @Nishimotz

From: Aurelio Jargas <notifications@github.com>
Sent: Saturday, December 28, 2019 3:01 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3: find a suitable and compatible replacement

[2019-12-29 03:34] dingpengyu commented on #8734
For short periods we can use txt2tags
I personally think it would be better to use sphinx to manage documents.

[2019-12-30 04:02] surfer0627 commented on #10613
Hi,
* This case occurs only when braille display is connected. In speech only, NVDA (audio indication) works as expected.
* This case occurs in [alpha-19012](https://ci.appveyor.com/api/buildjobs/v6ohkbyiexgp1edj/artifacts/output/nvda_snapshot_alpha-19012,5a0b42ea.exe) and later.
* braille display: Freedom Scientific PAC Mate

[2019-12-30 12:18] lukaszgo1 commented on #10613
Why we are using EdgeNode from UIA for edit fields in Internet Explorer at all? cc @leonardder

[2019-12-30 13:47] lukaszgo1 commented on #10613
@surfer0627 Could you please test your webpage with [This try build](https://ci.appveyor.com/api/buildjobs/kfewk95k37y2ekl0/artifacts/output%2Fnvda_snapshot_pr10652-19478%2C34d05d9a.exe)?

[2019-12-30 20:38] Futyn-Maker opened #10653 "NVDA and russian braille tables"
Hello!
Liblouis library provides several braille tables for Russian language. By default, only 2 is available in NVDA - Computer Braille and grade 1. These tables were developed by foreigners who are not fully familiar with Russian Braille.
There are also tables created by Igor Poretsky. They are much more developed and meet Russian Braille standards.
They are present in Liblouis. They are called

[2019-12-31 00:45] christopherpross commented on #10576
I had implemented this, but after sending the keypress to the os, the curtain is reactivated to fast. So on the photo is blackness. A sleep will stop nvda running right? Is there a way to wait for 2 seconds and then call a method?
I also think of do simelar with the ocr functinality.
What do you think?

[2019-12-31 01:19] surfer0627 commented on #10613
@lukaszgo1
This try build fixes audio indication issue in IE!
Thank you for help.

[2019-12-31 05:26] Poco1997 opened #10654 "NVDA"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2019-12-31 05:31] josephsl commented on #10654
Huh?

From: Poco1997 <notifications@github.com>
Sent: Monday, December 30, 2019 9:26 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA (#10654)

Steps to reproduce:

Actual behavior:

Expected behavior:

System configuration

NVDA installed/portable/running from source:

NVDA version:

Windows version:

Name and version of o

[2019-12-31 06:23] DrSooom commented on #10654
@Poco1997: @josephsl is asking you to completely fill out the bug report draft and also to change the issue title. Thanks.

[2019-12-31 06:34] DrSooom commented on #10653
First of all, please completely fill out the bug report draft. Your first suggestion is NVDA related.

Please report these bugs against [Liblouis](https://github.com/liblouis/liblouis/issues/new) and mention there the name of the braille table file(s), the current and the expected results. Thanks.

Workaround: Disable the option "Expand to computer braille for the word at the cursor" in the Braill

[2019-12-31 07:53] Brian1Gaff commented on #10654
I assumed it had been raised spuriously.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Daniel Mayr" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@no

[2019-12-31 09:16] zstanecic commented on #10653
Hi Daniel, Futin and all!

1.	Eight-dot Russian table is based on KOI8R Cyrillic standard, and it works on imput and output and Russian users, so far don’t have the problem with this table, because it works on imput and output, and Cyrillic and latin scripts can be read, according to Russian braille standards.
2.	The literary table is problematic, as it doesn’t work on imput at all.

Igor Poretsky

[2019-12-31 09:38] #10653 closed

[2019-12-31 11:53] lijianwei2019 opened #10655 "GUI: Look in the element list for the edit box, activate button, move to button, cancel button. Visually invisible."
### Steps to reproduce:

Open the browser nvda + f7 startup element list, tab to find search box, activate button, move to button, cancel button. The controls are not visible visually.

![image](https://user-images.githubusercontent.com/59390108/71891165-f6897580-3180-11ea-88e1-9d2dbdc2bfa1.png)

### Actual behavior:

Invisible

### Expected behavior:

visible

### System configuration
#### NVDA i

[2019-12-31 12:00] dingpengyu commented on #10655
cc
@feerrenrut
and
@leonardder
thanks

[2019-12-31 12:08] Adriani90 commented on #10654
Closing due to missing description.

[2019-12-31 12:08] #10654 closed

[2019-12-31 20:58] burakyuksek opened #10656 "Recommendation for OCR feature"
### Is your feature request related to a problem? Please describe.
No, it's not related to a problem.
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context
I very often use OCR while playing mainstream games. One of the enhancements I can suggest is, you should make a setting, when turned on, that outputs the OCR result to the NVDA currsor rather

[2020-01-01 11:09] Brian1Gaff commented on #10656
This sounds like add on territory to me, as it is very specific. Have you
found a lot of games where OCR actually does anything really useful? Maybe
it might be better if the game makers considered outputting their info as
text in the first place. I know , probably a long shot, but...
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk

[2020-01-01 11:22] burakyuksek commented on #10656
Of course, OCR is very very useful for mainstream games, as it is needed for reading every peace of text the game outputs to the screen.

[2020-01-01 20:48] davidacm opened #10657 "NVDA stops reading during say all if blank lines are present in browse mode."
### Steps to reproduce:

1. Download [this html document](https://github.com/nvaccess/nvda/files/4014522/readingTest.zip) or any document containing blank lines.
2. Uncompress it.
3. Open the html document with Firefox, Chrome or IE.
4. Go to the beginning of the document.
5. Call the say all command.

Note: This issue doesn't happen on edge.
Tried with espeak synthesizer.

### Actual behavior:
NV

[2020-01-01 20:58] Brian1Gaff commented on #10657
Hi on trying this here with your file on an English windows 7 machine with
espeak, I had no issues with say all stopping on the latest beta  in firefox
or waterfox.

The plot thickens.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Ori

[2020-01-01 22:03] davidacm commented on #10657
Sorry. I tried it on a clean installation using a VM, but I forgot that an add-on was installed before. The issue is related with that add-on (speechHistory) so I will report it in the correct place.
I started NVDA without add-ons and not issues at all.

[2020-01-01 22:03] #10657 closed

[2020-01-02 09:46] DrSooom commented on #10656
@Brian1Gaff: Don't forget that NVDA is also used by visually impaired people who are able to read text visually, but maybe have issues with it due the used font, a too low contrast or the amount of text (keyword: Visual Novels).

[2020-01-03 18:30] leonardder commented on #10656
This shouldn't be very difficult to accomplish I think. Currently, the focus is changed to the OCR object. It should be enough to set it just as the navigator object instead.

[2020-01-03 18:37] leonardder commented on #10651
Why is this necessary? The question is asked on the NVDA welcome dialog, so normally, a user will encounter the prompt to enable this.

[2020-01-03 22:33] jscholes opened #10658 "Incorrect speaking of alerts when text includes one or more hyperlinks"
#### Steps to reproduce:

Go to [this test page](https://jscholes.github.io/alert_with_hyperlinks.html), which fires an alert 4000ms after page load, in both Firefox and Chrome.

#### Expected behavior:

The alert text is spoken, exactly as it is visually rendered on the page.

#### Actual behavior:

In both Firefox and Chrome, the text of the hyperlink is spoken twice.  In Chrome only, the link's

[2020-01-03 22:36] jscholes commented on #10658
Additional note: the above sample speech sequence suggests that the hyperlink had focus, causing it to be announced after the alert.  This was not the case.  If an alert contains more than one hyperlink, they will all be spoken in this way (as though focus was visiting them in turn).

[2020-01-04 04:22] gdata1 opened #10659 "accessibility nvda remote in nvda 2019.3"
Hello. Is there any news about the availability of the nvda remote add-on? for my part, I wrote letters to the add-on developers several times, but I received no answer. for me, this feature is important. So I'd like to know what's going to happen next. Thank you.

[2020-01-04 07:49] Adriani90 commented on #10659
Cc: @Nardol

[2020-01-04 12:26] Nardol commented on #10659
Asking myself the same.
I am not one of the author so I'm surprized when seeing I am mentionned but I hop @ctoth and/or @tspivey will make the necessary to make it compatible with Python 3.
I read @ctoth wrote to NVAccess about that, that's all I know.

[2020-01-04 14:30] gdata1 commented on #10659
@Nardol I asked them a question, but I didn't get an answer.

[2020-01-04 15:36] comanna commented on #9682
Hi,

Can Cortana and NVDA work together to allow voice control of Windows 10 on the PC or laptop?

All the best,

Cearbhall

m +353 (0)833323487 Ph: _353 (0)1-2864623 e: cearbhall.omeadhra@blbc.ie

[2020-01-04 15:50] elliott94 commented on #10651
This may be most useful for portable installers; users who are used to NVDA may disable the Welcome Dialog, and so a checkbox within the installer for this functionality would be most welcome.

[2020-01-04 16:13] josephsl commented on #9682
Hi, in a way, already possible (let’s discuss this on a separate issue). Thanks.

From: comanna <notifications@github.com>
Sent: Saturday, January 4, 2020 7:37 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [nvaccess/nvda] How to prevent NVDA to overwrite touchscreen configurations on Windows (#9682)

Hi,

[2020-01-05 04:23] josephsl commented on #2559
Hi,

Coming back to this...

Speech refactor may open up possibilities for this work, although lately I've been thinking about withdrawing this issue in favor of Audio Themes or similar mechanism.

Thanks.

[2020-01-05 09:15] Brian1Gaff commented on #2559
Yes I find the 3D nature of that add on very handy. For example when a
little alert from dropbox comes along you can hear its that from the sound
style and the fact that it is on one channel.

It might make sence for those wanting to get some idea of where something is
on a screen from left to right and up and down if some form of theme or
pitch could be introduced for the screen location of a con

[2020-01-05 14:07] k-kolev1985 opened #10660 "NVDA does not correctly highlight text when reading by words in virtual documents"
### Steps to reproduce:
1. From NVDA Settings -> Vision, enable "Focus Highlighting" and make sure that "Highlight browse mode cursor" is also enabled in the same settings category and apply/save the changes.
2. Open a virtual document with some text (e.g. a web page).
3. Go to a paragraph of text and start reading it word by word (with CONTROL and the left/right arrow keys).

### Actual behavior:

[2020-01-06 09:42] CyrilleB79 commented on #10576
Use the following to call yourFunction with arguments arg1 and arg2:

[code]

[2020-01-06 10:02] brennanyoung opened #10661 "NVDA announces whitespace characters in canvas fallback content"
This might be a chrome issue, as I can not reproduce it on Firefox.

### Steps to reproduce:

[code]

### Actual behavior:
All tabs and blank lines between elements inside the canvas element are announced as "	" (that's a tab character) and "blank".

### Expected behavior:
Fallback markup inside a canvas element should be handled by NVDA exactly as if they were outside the canvas: White space shou

[2020-01-07 08:20] CyrilleB79 commented on #10655
On my side with Win10 French and NVDA 2019.3beta1 French on this page in Firefox, I an see all the controls of the dialog.

I have also tried to switch NVDA in Chinese Simplified and can also see that the various controls of the dialog appear.

Here are some questions and tracks to help investigate this issue:

* What is the language of Windows?
* What is the language of NVDA's UI
* Does the issue

[2020-01-07 09:28] DrSooom commented on #10661
@brennanyoung: Please completely fill out the bug report draft as OS, NVDA and Firefox/Chrome version are currently missing. They are important for reproducing this issue. Thanks.

[2020-01-07 14:38] carmacleod commented on #8235
Just FYI, Orca now says "opens x".  :)

[2020-01-07 18:38] leonardder opened #10662 "NVDAHelper Windows 10, switch from WRL/CXX to C++/WinRT"
We are using Windows Runtime C++ Template Library (WRL) to in operate with Windows OneCore APIs, particularly the OCR and ONeCore APIs.

From the [WRL Docs](https://docs.microsoft.com/en-gb/windows/uwp/cpp-and-winrt-apis/index):

With C++/WinRT, you can both consume and author Windows Runtime APIs using any standards-compliant C++17 compiler. C++/WinRT typically performs better and produces smalle

[2020-01-07 18:48] leonardder commented on #10662
Blocked by #9661

[2020-01-08 02:02] dingpengyu opened #10663 "When using git for windows clone nvda.wiki repository: fatal: unable to checkout working tree"
hello
I get the following error when using git for windows clone nvda.wiki repository:
### Steps to reproduce:
First open[nvda.wiki](https://github.com/nvaccess/nvda.wiki.git)
Then use git clone: https://github.com/nvaccess/nvda.wiki.git
After clone finish I get the following error:
error: invalid path 'Notes:-Adding-support-for-aria-attributes-to-browsers.md'
fatal: unable to checkout working tre

[2020-01-08 06:47] Andre9642 commented on #10663
Maybe due to long path, try to take the clone on a small path.

[2020-01-08 09:44] surfer0627 opened #10664 "IE11: braille abbreviations "⣏⣀⣹ rbtn" not begin on a new line, when screen layout is disabled"
### Steps to reproduce:
1. Press NVDA+v to toggle Use screen layout off.
2. Open [testing page](https://www.nvaccess.org/download/).
3. Press r to move to next radio button.
#### Actual behavior:
braille:
$30 ⣏⣀⣹ rbtn
$30

#### Expected behavior:
⣏⣀⣹ rbtn
$30

### System configuration:
#### NVDA Installed/portable/running from source:
portable.

#### NVDA version:
* [alpha-19184,d13635dc](https://

[2020-01-08 10:45] lijianwei2019 commented on #10655
@CyrilleB79  Hello。
1.Windows language：Simplified Chinese

2.NVDA UI language：Simplified Chinese and English

3.Any webpage

4.IE、Chrome、Firefox 、Edge Will happen

5.This issue will occur in 2019.2.1

My English is bad。Sorry for the language barrier。

Regards.

[2020-01-08 13:16] CyrilleB79 commented on #10655
@lijianwei2019:

* do you have the opportunity to test on another computer?
* When you are on an invisible control tat should be visible could you press NVDA+F1 to get the developper's info for this object and paste this information here?

@ Ohter Chinese people:
Do you experience the same issue (with Windows zh-CN)?

I have tested with the same alpha version (last alhpa) as temporary installer's

[2020-01-08 18:15] ivnc opened #10665 "SAPI 5 Loquendo 6 voices not properly handling certain pauses"
Reported by an user from the Spanish-speaking community. The reproducibility hasn't been tested yet since we don't have Loquendo 6 nor W7.
### Steps to reproduce:

1. Change to the voice Loquendo 6 Jorge, via SAPI5 (anyway, the issue may exist with another Loquendo 6 voices too). This doesn't happen with another SAPI voices neither with eSpeak.
2. Go to the desktop, open the NVDA installer or some

[2020-01-08 18:23] clementb49 commented on #6224
Hi,
If you enable the aforementioned screen reader support, this problem is not present anymore (in the last version of NVDA and IntelliJ based IDE).
I think we can close this issue.

[2020-01-08 18:36] clementb49 commented on #9512
Hi
I think the problem is not caused by NVDA because the routing cursor doesn't work in IntelliJ based IDE with other screen readers like JAWS.
For a Java Access Bridge Application, how does NVDA send that the cursor needs to be moved?

[2020-01-08 18:45] zstanecic commented on #10665
No,

Voice doesn’t know how to send indexes to NVDA properly, i.e, it newer gets the answer that NVDA received the index.

The problems of this sort started with the speech refactor change.

Not only loquendo has a problem of this sort, but there are tons of old synthesizers, which are now discontinued.

So, we even cannot get in touch with the respective manufacturers, because of the following:

[2020-01-08 18:50] zstanecic commented on #10665
Adriano Barbieri reported this on the NVDA add-ons mailing list in some of the alpha snaps.
@josephsl
Your thoughts?
@feerrenrut
your opinion?

[2020-01-08 18:53] zstanecic commented on #10665
This is the serious and critical issue, because many people will refuse to upgrade to the new release just because of their favorite synth is not working..

[2020-01-09 01:58] dingpengyu commented on #10663
hello
I changed the clone directory and the following message still appears:
dpy@DESKTOP-G7I56QF MINGW64 /e/Source
$ git clone https://github.com/nvaccess/nvda.wiki.git
Cloning into 'nvda.wiki'...
remote: Enumerating objects: 571, done.
error: invalid path 'Notes:-Adding-support-for-aria-attributes-to-browsers.md'
fatal: unable to checkout working tree
warning: Clone succeeded, but checkout failed

[2020-01-09 03:19] Andre9642 commented on #10663
OK. With Git 2.24.1.2 I've the same error. No problem with Git 2.23.0. Maybe that issue is related to the issue: https://github.com/git-for-windows/git/issues/2435
What version of Git are you using?
I think you should close this issue and (if it's not a duplicate) report it rather to the above mentioned repository.

[2020-01-09 04:25] dingpengyu commented on #10663
git version 2.24.1.windows.2

[2020-01-09 04:26] #10663 closed

[2020-01-09 07:09] elliott94 opened #10666 "Installer: Check if Local Admin Permissions are Present before starting Installation"
### Is your feature request related to a problem? Please describe.

Currently, if choosing to install NVDA (either from the downloadable Launcher or directly from an existing portable version), local administrator permissions are required to the current workstation to allow installation - this is expected, due to the access that NVDA requires. However, NSIS currently allows a user to begin install

[2020-01-09 07:15] elliott94 opened #10667 "Start NVDA after I Log onto Windows: Provide additional Logging upon Failure"
### Is your feature request related to a problem? Please describe.

I've just installed NVDA onto a machine in a corporate environment - the account that I'm using has full local admin rights to my workstation. I've successfully enabled the option to start NVDA at the Windows logon screen, but when attempting to instruct the Settings GUI to start NVDA after my current account logs into Windows, th

[2020-01-09 08:23] Brian1Gaff commented on #10665
I was just thinking that. People are passionate about the voice they can
work with. I could never use Eloquence, yet others swear by it, and for
quick and dirty navigation even on windows 10, I much prefer Espeak Quincy
to anything else. Its just the way my ears work. Now if i am reading a
document, many voices are preferable to Espeak, but navigation is not
reading.
 Brian

bglists@blueyonder.co.

[2020-01-09 08:24] Brian1Gaff commented on #6224
Is this in the manual?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Clément Boussiron" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github

[2020-01-09 09:24] francipvb opened #10668 "NVDA fails to obtain states for symbol start menu grouping"
### Steps to reproduce:

1. Open the start menu by pressing <kbd>windows</kbd> key.
1. Go to the application list by pressing <kbd>down arrow</kbd>.

* Note that this applies only if you have installed programs whose name starts with a symbol.

### Actual behavior:

NVDA don't speak anything.

The fact is that NVDA cannot obtain states only for this particular object. The rest of the groupings beh

[2020-01-09 09:25] francipvb commented on #10668
CC @leonardder @josephsl @michaelDCurran

Any thougts?

[2020-01-09 09:29] jomoji commented on #3565
Hi @csantos1113, in your [example](http://codepen.io/anon/pen/BLBBKO) tested on NVDA 2019.2.1 if you mantain aria-disabled="false" instead on change it to "true" it seems that the reader prioritizes the aria-diabled attribute rather than disabled attribute. And my NVDA dont tell me unavailable once it changes after click

[2020-01-09 14:36] brennanyoung opened #10669 "datetime values with "P" prefix are not announced correctly"
#10537 # Steps to reproduce:
Run this HTML snippet in (e.g.) Chrome or Firefox
[code]

### Actual behavior:
Both time values are announced as "midnight".

### Expected behavior:
The first time value is indeed midnight, but a datetime value prefixed with "P", as in the second case, can never be "midnight" - the "P" denotes a duration or timecode value, so it shouldn't refer to time of day. It shoul

[2020-01-09 22:02] Adriani90 commented on #6224
Closing as works for me

[2020-01-09 22:02] #6224 closed

[2020-01-10 00:21] Qchristensen commented on #8211
It seems to behave mostly find in 2019.3beta1.  I did find a couple of times when it gets to the very start or end of a message it jumps out of it, but not consistently, and not so often.  I went back to 2019.2.1 to try and it's working fairly well now too - I wonder if Google have fixed something?

[2020-01-10 00:25] Qchristensen commented on #8087
This is the same as 8211, not sure why I made two issues for it.  I must have been particularly irked by it and didn't look properly.  I'll close this one as a duplicate.

[2020-01-10 00:25] #8087 closed

[2020-01-10 01:46] Qchristensen commented on #8993
The original steps are written very visually, but playing with it, this one is actually easy to repro with the keyboard:

1. Load https://login.microsoftonline.com/ in Chrome (load in an incognito window if, like me, your Chrome automatically logs you in to a Microsoft account).
2. The focus starts in the sign in edit.  Press ESCAPE to exit focus mode.
3. Press CONTROL+END to move to the end of th

[2020-01-10 09:17] k-kolev1985 opened #10671 "In Chromium-based browsers, NVDA exits focus mode when switching from and to full screen mode in video players"
### Steps to reproduce:
1. Launch a Chromium-based browser (e.g. the new Microsoft Edge, Google Chrome, etc.).
2. Load a web page that contains a video to play via a web-based player (e.g. YouTube).
3. Force NVDA to go into focus mode (e.g. via NVDA+Space).
4. Use the web player's means to make the player to go into full screen mode.
5. NVDA will disable its focus mode and return to browse mode. R

[2020-01-10 09:30] k-kolev1985 opened #10672 "NVDA's focus highlighting does not correctly track objects that change their position"
### Steps to reproduce:
1. Go to NVDA menu -> Preferences -> Settings -> Vision and enable the option "Highlighting" in there. Also enable the 3 sub-options ("Highlight system focus", "Highlight navigator object" and "Highlight browse mode cursor").
2. Open a web browser and load a page in it.
3. Focus an object (e.g. a button, an edit field, etc.) in the page.
4. Scroll the page with the mouse.
5

[2020-01-10 10:05] lijianwei2019 commented on #10655
@JulienCochuyt
Are you interested in solving this problem?

[2020-01-10 10:06] Shruthicsjava opened #10673 "B and F keys are working as Enter Key for keyboard navigation when i install NVDA"
### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

#### Name and version of other software in use when reproducing the issue:

#### Other information about your system:

### Other questions
#### Does the issue still occur after restarting your PC?

#### Have yo

[2020-01-10 10:52] JulienCochuyt commented on #10655
I was indeed considering to, as I guess there might be a quick fix, but I sadly couldn't spare lately as much time as I would have liked to. I'll try to have a look probably next week.

[2020-01-10 12:02] DrSooom commented on #10673
@Shruthicsjava: Please completely fill out the bug report draft. Thanks.

[2020-01-10 12:04] DrSooom commented on #10669
Which TTS?

[2020-01-10 12:17] timveld commented on #8856
Found this issue after noticing that Dutch documentation was read with an English voice in Edge... hope someone can get the language tags added.

[2020-01-10 12:28] feerrenrut commented on #10655
@JulienCochuyt I'm in a similar position. My best guess is that this user has a different level of display scaling set in Windows display settings, and the explicit size of the tree control is pushing the controls of the screen. You could try scaling the sizes when creating the treeview.

I notice that it calls `mainsizer.Fit()`, I had some issues when using this incorrectly for `VisionProviderSub

[2020-01-10 18:04] Brian1Gaff commented on #10673
Occasionally this  weird blank creation does seem to happen. Not sure why,
but I've had it happen to me. What I now tend to do is  not create it
straight away, but grab the wanted template and paste it into notepad,
exit the creation without saving and then fill it out off line removing #s
etc and then go back in and  remove the template and then paste in my pre
prepared one. This seems to stop th

[2020-01-10 20:54] elliott94 commented on #7778
So - a small update.

I've now had chance to test this in a slightly different setup with Windows 7 rather than 10. If installing NVDA 2019.2.1 onto a machine running Windows 7 X86 and then install the Skype for Business 2016 client, everything in Firefox continues to read as it should - however, if I then perform the exact same steps on the same machine after it has been imaged with Windows 7 X64

[2020-01-11 07:04] DrSooom commented on #10673
@Brian1Gaff: I guess it's time to add your suggestion, which is the best way to handle this, to all issue templates directly as a hint at line 2 (= after the html comment area starts). @feerrenrut: Any thoughts?

[2020-01-11 08:29] gdata1 commented on #10650
I have this problem, too. even worse availability of microsoft edge extension store. Overall edge on chromiuam 81 is worse available with nvda than earlier versions.

[2020-01-11 08:29] leonardder commented on #10672
How does this behave with the focus highlight add-on on NVDA 2019.2 and older?

[2020-01-11 08:32] leonardder commented on #10666
I recall that it is pretty difficult for an app to find out whether a user has admin rights on a system. People who are installing something globally just should be concious that administrative rights are required.

[2020-01-11 08:48] Afik-souffir998 opened #10674 "one handed mode on braille display"
when you type on braille display, add an option to type in one hand mode.
to activate it, press space and 123.
after that, you can press dots, like to type Braille, so press the dots
b 12, and after that you can release, and continue to type the letters seprately like
to type r type 3, release it and press 1.
thanks.

### Is your feature request related to a problem? Please describe.

### Describe

[2020-01-11 08:50] Afik-souffir998 commented on #10674
i meant, press 123 for R and then release and press 5

[2020-01-11 09:04] k-kolev1985 commented on #10672
@leonardder I don't know, because I haven't used the "Focus Highlight" add-on in the last few years. And my installed copy of NVDA is an alpha version. I do have a portable copy of NVDA 2019.2.1 and I could install the add-on there and try it, if necessary. But it will probably behave the same way, though I'm only guessing.

[2020-01-11 09:06] Andre9642 commented on #10674
I plan to implement this feature in Braille Extender add-on in the following days. However I found an alternative that I described in <https://github.com/Andre9642/BrailleExtender/issues/40>:

[2020-01-11 09:11] leonardder commented on #10672
The problem is that we have to subscribe to the event that's fired when the position of the object changes, if any.

[2020-01-11 09:11] Afik-souffir998 commented on #10674
Can you implement the two ways?

I can test both of them if you would like.

What do you think? One option is also ok, but I need to try it first, don't you think so?

From: André-Abush Clause <notifications@github.com>
Sent: Saturday, January 11, 2020 11:06 AM
To: nvaccess/nvda‏ <nvda@noreply.github.com>
Cc: Afik-souffir998‏ <Afik.souffir@gmail.com>; Author‏ <author@noreply.github.com>
Subject: R

[2020-01-11 11:59] k-kolev1985 commented on #10672
Actually, the "Focus Highlight" add-on seams to handle such situations much better. It tries to follow the moving object. It has some delay (specially in browse mode), but it does work.

[2020-01-11 20:36] Adriani90 commented on #10260
@derekriemer is this hapenning regardless of howmany characters per line is set up in NVDA's browse mode settings?

[2020-01-11 20:55] Adriani90 commented on #1337
Closing as works for me.

[2020-01-11 20:55] #1337 closed

[2020-01-11 21:00] Adriani90 commented on #3807
@daniele.corciulo the link in the description is not working anymore. Could you please post a new one? Thanks.

[2020-01-11 21:24] Adriani90 commented on #5159
Ok, it seems it works just fine now. Closing as works for me.

[2020-01-11 21:33] Adriani90 commented on #4855
We did not get any updates since more than 2 years on this issue. I am closing it as abandoned. Please comment on it if you can reproduce it and we can reopen. Thanks.

[2020-01-11 21:33] #4855 closed

[2020-01-11 21:38] Adriani90 commented on #4247
cc: @feerrenrut

[2020-01-11 21:43] Adriani90 commented on #5550
We do not have any update on this since more than two years and I am prety sure that com registration fixing tool solves this issue. I cannot reproduce in in NVDA 2019.3 Beta 1 and Firefox 72.0.1. Closing as works for me and abandoned.

[2020-01-11 21:43] #5550 closed

[2020-01-11 21:46] Adriani90 commented on #5345
In this case, should we close this issue as invalid? We do not have any updates from the initial author since years.

[2020-01-11 21:49] Adriani90 commented on #5183
cc: @MarcoZehe, @jcsteh

[2020-01-11 21:59] francipvb commented on #10668
CC @adriani90

[2020-01-11 22:04] Adriani90 commented on #6793
@munawarb did you report this issue also to them? Maybe the table is not exposed correctly due to web authoring issues.

[2020-01-11 22:17] Adriani90 commented on #7681
@Brian1Gaff could you please give an update on this with NVDA 2019.3 Beta 1? Do you still see this issue?

[2020-01-11 22:18] Adriani90 commented on #7646
cc: @feerrenrut

[2020-01-11 22:33] Adriani90 commented on #7769
cc: @hozosch maybe this is the reason why you experience crackling voice on some synthesizers?

[2020-01-11 22:38] Adriani90 commented on #8229
with NVDA 2019.3 Beta 1 and Firefox 72.0.1 the current selected value is not reported when the combo box is colaped. So to hear what I have selecteed, I have to expand the combo box with alt+down arrow.

[2020-01-11 22:42] Adriani90 commented on #7972
@scottaohara could you please post here the links to the bugs you have filled with Firefox and Chrome, so that we can track the current progress on that?

[2020-01-11 22:49] Adriani90 commented on #8784
@fernando-jose-silva can you still reproduce this in Firefox 72.0.1 and NVDA 2019.3 Beta 1?

[2020-01-11 23:14] Adriani90 commented on #9125
We do not have any updates from the author since more than one year. Closing. Please comment on it if you still have this problem and we can reopen it. Thanks.

[2020-01-11 23:14] #9125 closed

[2020-01-11 23:16] Adriani90 commented on #9122
cc: @MarcoZehe

[2020-01-11 23:17] Adriani90 commented on #9085
@elliott94 are you still having this issue in Firefox 72 and NVDA 2019.3 Beta 1?

[2020-01-11 23:20] Adriani90 commented on #9406
@jcsteh the firefox bug seems fixed now. Is this issue still valid?

[2020-01-11 23:22] Adriani90 commented on #9383
@lukaszgo1 how is this in Firefox 72.0.1 with NVDA 2019.3 Beta 1? I cannot see this issue now at all.

[2020-01-11 23:55] scottaohara commented on #7972
steve faulkner opened the firefox bug - https://bugzilla.mozilla.org/show_bug.cgi?id=1442196

chrome bug - https://bugs.chromium.org/p/chromium/issues/detail?id=818428

[2020-01-12 00:37] Cleversn commented on #9383
This still occurs with NVDA 2019.2.1 in Firefox 72.0.1. After visiting that link, keyboard interaction becomes impossible, and objects don't respond to any click as well using NVDA's object navigator.

[2020-01-12 10:53] Brian1Gaff commented on #9085
Actually I moved back to Waterfox classic recently though I do have firefox.
My main problem seems to be that Firefox now just vanishes for no apparent
reason.

It can also lock the up but only if nvda is loaded. I will update it and see
if we get the same thing as it is snappier than Waterfox and does not suffer
from not opening the tab in the foreground syndrome Waterfax can have under
some circ

[2020-01-12 11:05] elliott94 commented on #9085
All resolved. Thank you. :)

[2020-01-12 11:05] #9085 closed

[2020-01-12 11:41] Adriani90 commented on #10673
Maybe it depends on which browser you are. With firefox, Chrome, Edge and Internet explorer the template works just great and there are no weired navigation issues. Anyway, this is not the issue here. Please fill another one if you have specific problems with the template.

[2020-01-12 11:47] Adriani90 commented on #7972
@feerrenrut, @michaelDCurran it seems from the chrome bug that this is actually properly exposed. Is this something should be considered in the landmark navigation when pressing d in browse mode at least?

[2020-01-12 12:04] lukaszgo1 commented on #9383
Still reproducible at my end. It happens not only on this particular web page but on other sites also, and I have to say is extremely annoying especially when you're doing something important on the second tab, as entire Firefox needs to be killed after this freeze. cc @jcsteh @MarcoZehe Is there any hance of prioritizing this, or at least investigating the cause? Is there any more info which I ca

[2020-01-12 14:36] DrSooom commented on #10673
@Adriani90: The GitHub features "Directly mention a user or team" and "Reference an issue or pull request" are interactive on the multiline textfield – after entering `@` or `#`. This behavior could irritate some users.

[2020-01-12 19:54] hozosch commented on #7769
This person had this problem with all speech synths. I'm only having it with espeak. Windows is installed as a physical system, not a vm. And I only get a little bit of crackling when NVDA scrolls during say all.

[2020-01-12 23:55] jcsteh commented on #9406
Fixed.

[2020-01-12 23:55] #9406 closed

[2020-01-13 01:56] tapper82 opened #10676 "NVDA 2019.3beta1 crashes in Thunderbird"
NVDA 2019.3beta1  crashes in Thunderbird
### Steps to reproduce:
Open Thunderbird when in the tree view arrow up and down and it will crash.
### Actual behavior:

### Expected behavior:
Should read out the name of the account you want to go to or the folder you want to read like inbox or outbox.
### System configuration
#### NVDA installed/portable/running from source:
portable
#### NVDA version:

[2020-01-13 02:56] jcsteh commented on #8764
When an option is selected, the combo box is hidden as per the Javascript code in this test case, so it loses focus. Something always has to be focused, so focus goes to the document. Since the document gets focus, the name of the document (its title) is read. This is behaving exactly as expected. The problem is due to authoring error. If you don't want the title of the document to be read, you ne

[2020-01-13 02:56] #8764 closed

[2020-01-13 06:57] derekriemer commented on #10260
Okay this is very weird.

Go to that page.
set the line length to 103.
Move up from just below the $ like we were doing before. You'll see exactly one space then indent increases forever, at least I thought it was forever. It stops near the line length boundary.

Now set it to 104. Try it again. For me, the increasing indent doesn't reproduce here, or from what I can tell, anywhere above this thre

[2020-01-13 07:06] feerrenrut commented on #10602
Fixed with commit f194afaec02a3465ceb769ee88543ea337c6eb9e via #10611

[2020-01-13 07:07] #10602 closed

[2020-01-13 07:14] feerrenrut commented on #10638
Closed in b8347bd03588f1380cb668b5e0f10ce0bbe65db6 via #10675

[2020-01-13 07:14] #10638 closed

[2020-01-13 08:45] feerrenrut commented on #10476
An interim solution has been merged (to beep when screen curtain enables / disables). I think this could be solved by looking at what caused the screen curtain became enabled. If screen curtain is enabled via gestures, it should override (but not modify) the profile. Though note, the opposite is not true, if screen curtain is disabled by a gesture, a new profile trigger should be able to enable sc

[2020-01-13 08:46] feerrenrut commented on #10476
I'm removing the 2019.3 milestone and leaving this issue open. I think the immediate concern is resolved, but there is more to discuss.

[2020-01-13 10:31] leonardder commented on #10676
Do you also experience this with stable version of Thunderbird?

[2020-01-13 10:42] brennanyoung commented on #10669
Microsoft Hazel

[2020-01-13 12:34] vinaychaudhary1504 opened #10677 "NVDA not reading aria-live field in Google Chrome + React"
You have arrived at a default issue template (bug report).
It is preferable to [choose the type of issue](https://github.com/nvaccess/nvda/issues/new/choose) to submit.
Hint: Swap to the preview tab to be able to click the links.
Direct links to the templates:
- [Bug report](https://github.com/nvaccess/nvda/issues/new?template=bug_report.md)
- [Feature request](https://github.com/nvaccess/nvda/iss

[2020-01-13 15:36] Brian1Gaff commented on #10676
Have you tried it with no add ons loaded in?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----

[2020-01-13 15:43] tapper82 commented on #10676
Hi I still get the crashes in tb 72 and 73 and with no addins loaded.

[2020-01-13 16:07] Andre9642 commented on #10674
With more thought, I have had 3 ideas of input methods described in <https://github.com/Andre9642/BrailleExtender/issues/40#issuecomment-573731897>.

[2020-01-13 16:31] Adriani90 commented on #10676
@tapper82 what kind of version are these? Thunderbirt last stable version is 68.4 to my knowledge. In this version I cannot reproduce this crash.

[2020-01-13 16:39] Adriani90 commented on #8615
@fernando-jose-silva the app design in ABBYY fine reader changed alot. Can you also reproduce this in ABBYY finereader 14 or 15? I cannot reproduce it. Now those combo boxses are designed as button submenus and the states are reported correctly.

[2020-01-13 16:40] Adriani90 commented on #5693
This seems to be also the case in ABBYY finereader 15.

[2020-01-13 19:28] jmdaweb opened #10679 "Ability to download and install updates from other channels"
### Is your feature request related to a problem? Please describe.
Currently, installed or portable copies of NVDA can only be updated to the next release for their respective channel. For example, stable releases can be updated only to the next stable, alpha to another alpha, and so on. Beta releases are an exceptional case: they go through rc to stable, so when a new beta is available, users mus

[2020-01-13 20:33] elliott94 opened #10680 "Core: Tooltips not Announced if Speech Output Paused with the Shift Key from within Windows Explorer"
### Steps to reproduce:

1. Ensure that NVDA is set to announce tooltips

2. From an Explorer window, place focus on a file/folder and ensure that tooltips are being output by NVDA as expected

3. Place the Windows cursor on a separate file/folder, and whilst NVDA is speaking its name hit either shift key to pause output - press the shift key again after output has been paused to resume output

##

[2020-01-13 20:43] elliott94 opened #10681 "Object Navigation: Number included when Reviewing the State of Checkboxes"
### Steps to reproduce:

1. Find any checkbox from within Windows, and ensure that the Windows cursor is focused on it

2. Use the NVDA gesture to report the current object

### Actual behavior:

When reporting the current checkbox that has focus, NVDA also reports the number "0" after it - this is also included if choosing to copy the name of the object to the clipboard

### Expected behavior:

I

[2020-01-13 20:51] Qchristensen commented on #9549
Just a quick note that this is still being keenly requested by some users.

[2020-01-13 21:28] amirsol81 commented on #8443
@Adriani90

Unfortunately the issue persists with NVDA alpha-19488,b9c45347 --
today's alpha release, with and without add-ons.

On 12/21/2019 12:12 AM, Adriani90 wrote:

[2020-01-13 21:46] Adriani90 commented on #10681
cc: @josep

[2020-01-13 21:49] Adriani90 commented on #10680
Actually this is not expected because tooltips appear and disappear after a short period. So NVDA does not save the tooltip message in any buffer. This is also ok because a sighted person is not able to save a tooltip either. I suggest closing this issue as invalid.
cc: @lukaszgo1, @josephsl

[2020-01-13 21:53] Adriani90 commented on #10679
there is currently an addon for this:
https://github.com/nvda-es/updateChannel
cc: @nvdaes

[2020-01-13 23:10] tapper82 commented on #10676
They are betas I downloaded them from the FTP server. I will have a go with 68.4

[2020-01-14 01:51] dingpengyu opened #10683 "When using NVDA version alpha-19498, Play sound when toggling (screenCurtainTranslatedName) translation string does not display properly"
hello
When using NVDA version alpha-19498, Play sound when toggling (screenCurtainTranslatedName) translation string does not display properly

### Steps to reproduce:
First open the NVDA menu, options submenu, NVDA settings
Then find the visual classification
You can see the wrong check box at the back:
Play sound when toggling screen goes black
### Actual behavior:
& Play sound when toggling {sc

[2020-01-14 08:07] CyrilleB79 commented on #10681
Unless I misunderstood the issue, I cannot reproduce it. Here is my config: Windows 10 1809, NVDA 2019.3beta1 installed. I have tried in Windows Explorer with the "Hidden" checkbox in a file properties dialog.

@elliott94 could you please fill all the fields of the issue template to have more details?

[2020-01-14 11:15] #10683 closed

[2020-01-14 13:50] Adriani90 commented on #8579
After testing a bit, I also noticed that in the help sub menu only "about" can be accessed. Also the input gesture dialog is disabled in secure mode. And also the nvda+n keystroke for opening the NVDA menu does not work.
In my view, following points should be enabled also in secure mode:
1. NVDA+n keystroke to open the NVDA menu
2. Choosing language from general settings category via the language

[2020-01-14 15:52] rkrasnan opened #10685 "Vuetify Select Reads Blank"
### Steps to reproduce:
Using NVDA 2019.2.1
Tab to a v-select
Press space to open the menu.
Press down to go to the first option.

### Actual behavior:
NVDA reads "blank" on each option in the dropdown

### Expected behavior:
NVDA should read the item in the dropdown,
eg. "2017", "2018"

### System configuration
#### NVDA portable

#### NVDA version:
2019.2.1

#### Windows version:
Windows 7 Profe

[2020-01-14 17:47] nvdaes commented on #10679
@Adriani90, in case you didn"t realise, my username on GitHub is just nvdaes, mostly used to create the website nvdaes.github.io for spanish users of NVDA. I haven"t forked the mentioned add-on. The link provided by you belongs to an different account which contains a dash, and I am not part of the organization set by that account. It was created later and I am not a member of that team. Just to c

[2020-01-14 18:11] Adriani90 commented on #10679
Oh sorry, my mistake. In this case cc: @nvda-es, @javidominguez.

[2020-01-14 18:17] Adriani90 commented on #10685
I can also reproduce this with the codepen example in Firefox 72.0.1 and NVDA 2019.3 Beta 1.
cc: @MarcoZehe

[2020-01-14 18:19] Adriani90 commented on #10673
You can skip that by pressing escape.

[2020-01-14 18:47] ivnc commented on #10679
As a @nvda-es organization member (the organization itself cannot participate in comment threads), I should say that the add-on was also authored by @jmdaweb, as this issue.
With regard to the request, I fully agree. Although modifying update channel could be a dangerous feature for some end users, specially those with the most basical knowledge, locating it on the Advanced settings pannel should

[2020-01-14 21:23] elliott94 opened #10686 "Outlook 2010: Different Output occasionally Given when Opening"
### Steps to reproduce:

When opening Outlook 2010, I've noticed that on ocasion NVDA will sometimes display the message columns in a different order - example below:

Message Unread Importance High, From Firstname Lastname, Subject Subject of Message, Received 09:59, Size 7 KB, Flag Status Unflagged,

This is instead of simply announcing "Unread from Name" along with the time that the message was

[2020-01-14 21:45] Adriani90 commented on #10686
I cannot reproduce this. Does it also happen with addons disabled? Have you tried to run Outlook and Nvda as admin? And finally, do you have only one version of Outlook on your machine?

[2020-01-15 00:02] jcsteh commented on #10450
This is (finally!) fixed for Firefox 74 (currently available for testing in Firefox Nightly).

[2020-01-15 00:02] #10450 closed

[2020-01-15 00:02] jcsteh commented on #7099
This is (finally!) fixed for Firefox 74 (currently available for testing in Firefox Nightly).

[2020-01-15 00:03] jcsteh commented on #2497
This is (finally!) fixed for Firefox 74 (currently available for testing in Firefox Nightly).

[2020-01-15 00:48] fernando-jose-silva commented on #8615
Using abby fine reader 14 I found a combo box.
In the program's initial screen choose settings, in the settings window choose ocr.
In the first tab you will find the combo box:
PDF Recognition Mode
And unfortunately I was able to reproduce the problem, nvda not reading while walking through the options with arrows, even if the options are changed which can be seen by taking focus off the combo box

[2020-01-15 01:01] fernando-jose-silva commented on #8784
[firefox.txt](https://github.com/nvaccess/nvda/files/4062538/firefox.txt)
yes, I can reproduce the problem, attached the log.

[2020-01-15 06:41] punkajim opened #10687 "Thunderbird - Beep Error when opening any message"
Steps to reproduce:
Actual behavior:
Run Thunderbird
Press enter to open a message in the folder
Error beepp. NVDA continues to funtion as expected.
Expected behavior:
No error beep
System configuration
portable
NVDA 2019.3beta2
Windows version:
Windows 10 64
Thunderbird
Version
8.4.1
Have you tried any other versions of NVDA?
19.2 with no issues
[nvdaThunderbirdError.log](https://github.com/nvacc

[2020-01-15 08:20] MarcoZehe commented on #10685
This is author error. The issue is in whatever Vue does with that list component. There are two divs with the ID list-4, which is invalid HTML. There are also several other ID duplicates I've seen in the DOM. As a result, the aria-owns on that input button doesn't know which one of the items to take, and there is a strict rule that an ID has to be unique within a document. So, this example is inva

[2020-01-15 08:52] Adriani90 commented on #10685
Closing as imvalid. Thanks Marco!

[2020-01-15 08:52] #10685 closed

[2020-01-15 09:52] lukaszgo1 commented on #2497
@jcsteh Is fix for this supposed to be present in Nightly 74.0a1 (2020-01-14) (64-bit)? It certainly is not fixed for me with this version of Nightly on Windows 7 and NVDA 2019.2.1 when invoking save as dialog and dismissing it with Escape.

[2020-01-15 11:14] jcsteh commented on #2497
Urg. So it seems this fixed the Print dialog, but not the Save As dialog. I
thought I tested both, but apparently not. I'm not sure why they're
different. I'll look into it.

[2020-01-15 11:27] lukaszgo1 commented on #2497
Just FYI open dialog is also not fixed.

[2020-01-15 12:21] Brian1Gaff commented on #10687
Just as a note as you are probably using a beta, like myself. A lot of items
in windows and software give error noises with no obvious detriment to
performance. I wonder if there exist somewhere a list of benign errors we
can ignore?

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Ne

[2020-01-15 15:50] rkrasnan commented on #10685
Thank you very much with your help diagnosing this issue.

[2020-01-15 16:05] DrSooom commented on #10686
After I updated to NVDA 2019.2.1, I sometimes also have this behavior with Microsoft® Outlook® 2010 (14.0.7236.5000) SP2 MSO (14.0.7237.5000) on Windows 7 64-Bit, but it's very seldom.

@elliott94: Please list all your installed NVDA add-ons. This issue could be caused by the [Audio Themes 5.1 add-on](https://addons.nvda-project.org/addons/AudioThemes.en.html). But I haven't checked that out right

[2020-01-15 17:09] feerrenrut commented on #5638
Some guidance on this in https://github.com/nvaccess/nvda/wiki/Speech-Refactor-Use-Case-Notes

It should be pretty trivial to add a function to do this. Checking `speech._manager._pendingSequences`, if it's empty, there is no speech in progress.

[2020-01-15 18:58] Adriani90 commented on #10687
I cannot reproduce this with NVDA 2019.3 Beta 2. I tried with eSpeak, One core voices and also with IBM TTS.
I also tried on installed and on portable version.
Did you try to restart your PC and see if it occurs after that?

[2020-01-15 19:01] Adriani90 commented on #10687
The log file is not very useful since it is not in debug mode. We cannot see which action triggers the error. Please go to NVDA settings, general settings and set the log to debug. After that try to reproduce the error, open the log viewer and save the file and upload it again here. Thanks.

[2020-01-15 19:02] Adriani90 commented on #10681
@elliott94 did you try to reproduce this iwth all addons disabled?

[2020-01-15 19:03] Adriani90 commented on #10680
Closing as invalid.

[2020-01-15 19:03] #10680 closed

[2020-01-15 19:04] Adriani90 commented on #10676
@tapper82 could you try please with NVDA 2019.3 Beta 2 and Thunderbird 68? Thanks.

[2020-01-15 19:05] Adriani90 commented on #10673
We do not have any details on this issue and it is not possible to reproduce. Please reopen a new one and fill the issue template correctly. I am closing this for now. Thanks.

[2020-01-15 19:05] #10673 closed

[2020-01-15 20:35] punkajim commented on #10687
@Adriani9
[NVDAThunderbirdDebug.txt](https://github.com/nvaccess/nvda/files/4067395/NVDAThunderbirdDebug.txt)
0
I had rebooted.
I have discovered that when I open the same messages that generated the error beep a second time, no error occurs.
I have crated a debug log where I opened one message for the first time in beta2 and got the error.

[2020-01-15 21:12] Adriani90 commented on #10687
Could you please try following?
1. Open NVDA menu and go to "tools"
2. Rund the com registry fixing tool and complete the process.

Is the error still reproducible after that?

[2020-01-15 21:15] Adriani90 commented on #10687
For reference, this seems to be the relevant part of the log:

[code]

[code]

[2020-01-15 21:35] punkajim commented on #10687
@

[2020-01-15 21:35] #10687 closed

[2020-01-15 21:36] punkajim commented on #10687
@Adriani90
I have done this successfully, and rebooted.
Still the same.
Does not happen on messages that I have already opened in this session and that are locally cached.
I use Gmail imap.
Error seems to occur whilst downloading new message from server.

[2020-01-16 10:18] Qchristensen commented on #8579
I'll leave it to others to comment on the rationale for various things, but just testing myself, NVDA+n definitely still brings up the NVDA menu for me in secure mode.

[2020-01-16 14:33] feerrenrut opened #10690 "Russian filename modified is modified when installing addon"
### Steps to reproduce:
1. Unzip the attached addon, and inspect its files. Note the names of the files.
1. Install the attached addon (first renaming it to remove the .zip)
1. Inspect your `userConfig/addons/Check_Russian_language` folder, note the names of the files.

### Actual behavior:
File called `Римские цифры.txt` becomes `É¿¼ß¬¿Ñ µ¿Σαδ.txt`
There is no related error in the log.

### Expec

[2020-01-16 18:11] zstanecic commented on #10690
Hi Reef,

We have the problem called the encoding.

It is the classic encoding windows problem, and file name should be re-encoded to utf-8.

From: Reef Turner <notifications@github.com>
Sent: Thursday, January 16, 2020 3:33 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Russian filename modified is modified when installing ad

[2020-01-16 18:36] xugao opened #10691 "NVDA+Chrome: Office Fabric Dropdown - Disabled Dropdown reads both unavailable and clickable"
### Steps to reproduce:
Note: Only reproing in Chrome
1. Open url: https://fabricweb.z5.web.core.windows.net/oufr/7.82.2/#/examples/dropdown
2. Navigate to the basic dropdown section using down arrow key and navigate to the disabled combo-box "Disabled example with defaultSelectedKey" the "broccoli" is announced being clickable while it is disabled.

### Actual behavior:
Disabled dropdown is read

[2020-01-16 19:42] feerrenrut commented on #10690
I haven't run into this before, why is the filename correct if unzipped with 7-zip but not if unzipped by NVDA?

[2020-01-16 19:50] feerrenrut commented on #10690
This addon was sent to us to demonstrate the issue.
After unzipping the addon with 7-zip, I re-zipped the original files with 7-zip (using zip method) and renamed to `*.nvda-addon`. This now installs in NVDA without changing the filename.

I'm going to close this issue. If anyone has further insight into how the original developer could avoid this problem in the future, please leave a comment.

[2020-01-16 19:50] #10690 closed

[2020-01-16 20:10] Adriani90 commented on #10610
cc: @michaelDCurran maybe worthy to have a look to when considering further future work on UIA support.

[2020-01-16 20:15] Adriani90 commented on #10379
@Brian1Gaff it works just fine for me in N'VDA 2019.3 Beta 2 and Firefox 72.0.1. Can you confirm?
It looks like you use the addon mozilla app enhancements which throws and error here. Could you please deactivate that addon and try again?

[2020-01-16 20:16] Adriani90 commented on #10379
I can jump with b to the play button and the button is found instantly. All buttons are pronounced correctly. The track is playing also properly when pressing enter on the button.

[2020-01-16 20:20] tspivey commented on #10690
7-Zip sets bit 11 of the zip header flags, which sets UTF-8 for the filename field. Python's zipfile module knows how to handle that.
The original zip file doesn't, instead using extra field 0x7075 to store a UTF-8 version of the filename.

I don't know which archiver was used to create this file, but the solution is to use something else.

[2020-01-16 20:28] Adriani90 commented on #8876
This is solved since Firefox 67. I also agree that interacting with tree views first in order to hear the elements in it is fine. Note that you could also have hierarchies displayed as part of a tree view and it is not possible to give all that information on one key press in a virtual buffer. This is the same like a dialog element. NVDA reports "dialog" and if you interact with it you get the dia

[2020-01-16 20:28] #8876 closed

[2020-01-16 20:37] Adriani90 commented on #8528
hmm, I am not sure if I can reproduce this issue on firefox 72.0.1. I think maybe @MarcoZehe has more helpful elaboration on this. Actually I don't know exactly what should happen when the links are triggered. Maybe there is a highlight or so but it is difficult to assess it without sighted assistance :-)

[2020-01-16 20:40] Adriani90 commented on #7226
We do not have any updates on this issue and the website design has changed so that we cannot reproduce this issue anymore. Closing as abandoned since it also seems that we lost contact to the initial author.

[2020-01-16 20:40] #7226 closed

[2020-01-16 20:51] Adriani90 commented on #6679
@devil418 the app has become much more accessible since last update. Clickable is still reported but this is not reported multiple times since this was fixed in an earlier NVDA version.
I am closing this issue as works for me. If you have further issues with the app, please open new issues for each of them. Thanks.

[2020-01-16 20:51] #6679 closed

[2020-01-16 20:54] Adriani90 commented on #5809
We do not have any further updates on this issue since more than three years. I am closing this as abandoned, given also the fact that solving this in internet explorer would be very unlikely.

[2020-01-16 20:54] #5809 closed

[2020-01-16 21:09] Adriani90 commented on #1756
Update with NVDA 2019.3 Beta 2 and Firefox 72.0.1:
In focus mode, the item expanded and the currently focused option is alway reported correctly.
In browse mode, the verbosity is still high, but menu item sub menu is only reported if the menu item has other menu items in it. So this is ok from an user perspective because then I know that I can expand that menu item.
In browse mode expanding the me

[2020-01-16 21:12] Adriani90 commented on #1756
In my view, the only point that still remains to be discussed is to suppress the reporting of "menu" on every menu item after entering the menu itself. NVDA already reports "menu bar" when entering and leaving it. So reporting only "item" for every menu item in browse mode would be enough in my view.
But sub menu and clickable should still be reported because this is useful information for an user

[2020-01-16 21:21] Adriani90 commented on #9642
Closing as duplicate of #9017

[2020-01-16 21:21] #9642 closed

[2020-01-16 21:21] Adriani90 commented on #9017
Here is also a codepen for this:

https://codepen.io/anon/pen/EzNoGP?&editable=true

[2020-01-16 21:34] Adriani90 commented on #10066
Closing this as duplicate of #10177.

[2020-01-16 21:34] #10066 closed

[2020-01-16 21:38] hills001 commented on #8528
Hi, thanks for the reply, I'm still experiencing this issue, using NVDA 2019.1.1 and Firefox 72.0.1.

I have created a new demo page at: [https://cdpn.io/DemoBrand/debug/QWwVZPq/xnMabZJGPpdr](url)

The three links on the demo page should open Google, NVAccess and Github in new tabs. When using the enter key to trigger the links, only the third link works for me in Firefox when NVDA is running.

Wh

[2020-01-16 21:57] frastlin commented on #8876
There is currently no way that I am aware of to copy the object, or hear how the property is spelled. I need to have access to the spelling of the property names. So despite this fix, I'm still selecting all and copying and pasting the console to a text file.

[2020-01-16 23:12] jcsteh commented on #8876
If you press report current navigator object twice (desktop: NVDA+numpad5, laptop: NVDA+shift+o), it will spell the current tree item. If you press it thrice, it will copy to clipboard. You can also copy the entire message to the clipboard using the context menu.

[2020-01-16 23:34] Qchristensen opened #10692 "Report status of screen curtain at startup when "Play a sound when toggling screen curtain" is disabled."
### Steps to reproduce:
1. Open NVDA's vision settings.
2. Check Make screen black.
3. Uncheck "Play sound when toggling screen curtain".
4. Save settings.
5. Restart NVDA.

### Actual behavior:

When NVDA starts, with the "Play sound" setting disabled, screen curtain is enabled, but no indication is given.

When enabling screen curtain while NVDA is already running with this setting disabled, NVD

[2020-01-17 00:04] jsk90123 commented on #9822
install adobe updates

[2020-01-17 00:59] paytown opened #10693 "Select elements are read with hidden and disabled options included in count"
### Steps to reproduce:
- Go to this address with NVDA open: [https://codepen.io/plowe2/pen/VwYGgyO?editors=1010](https://codepen.io/plowe2/pen/VwYGgyO?editors=1010)
- Open menu
- Use arrow keys to navigate up and down through options

### Actual behavior:
NVDA reads selects options as +1 of the visual number in the list

Ex: When 4 options exist. Option 1 ---> "option 2 of 5", said NVDA.

### Exp

[2020-01-17 04:18] fisher729 commented on #124
Hi. Well then, I think it's time to seriously look into implementing this.

[2020-01-17 08:52] CyrilleB79 commented on #10692
Also, if screen curtain activation fails at NVDA startup, the user is not informed whereas he should.

Steps to reproduce:

0. Press Windows+Escape to exit from Windows Magnifier if it was running
1. Open NVDA's vision settings.
2. Check Make screen black.
3. Uncheck "Play sound when toggling screen curtain".
4. Save settings.
5. Quit NVDA
6. Activate Windows Magnifier and color inversion (press W

[2020-01-17 11:59] RussianSiberian commented on #10690
Good luck!

I'm so ashamed that I stole your time for my problem, although I could solve it by yourself. Excuse me.
When I started to write the add-on’s for NVDA, I have studied a lot of documentation. One of them was at:
https://www.nvaccess.org/files/nvda/documentation/developerGuide.html
There says how to use non-ASCII File Names in Zip Archives.
I didn't notice the difference Using and not usi

[2020-01-17 12:34] akash07k opened #10695 "Add the flexibility to directly jump to the first element after last element while browsing in browse mode."
### Is your feature request related to a problem? Please describe.
Yes
### Describe the solution you'd like
The flexibility and functionality should be added so that user can jump to the first html element after pressing the quick key of the corresponding html element while in browse mode.
For example, if we are on the last heading of the page and press 'h' then NVDA announces: 'No next headings'

[2020-01-17 15:04] ruchirkemnaik commented on #8173
It seems like this issue has started occurring in Chrome and Firefox too where Enter and Space key events on a button are consumed by NVDA in the browse mode. Here is a quick example on codepen: https://codepen.io/ruchirkemnaik/pen/MWYqzxM

Turn on NVDA, click on the input field and press "Tab" to move the focus onto the button. Now try pressing Enter/Space. Notice that nothing is logged in the co

[2020-01-17 15:36] DrSooom commented on #10686
This issue could also be caused by using multiple PST files, which are located on different locations. In other words: If Outlook 2010 has to wait for the awakening of the HDD (was in sleep mode before), the startup process of Outlook 2010 will take more time. Just a thought. Deeper tests are pending.

[2020-01-17 16:06] josephsl commented on #10695
Hi, this is duplicate of an issue discussed many years ago. Thanks.

From: Akash Kakkar <notifications@github.com>
Sent: Friday, January 17, 2020 4:34 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add the flexibility to directly jump to the first element after last element while browsing in browse mode. (#10695)

Is your feat

[2020-01-17 16:17] akash07k commented on #10695
So, what happened to that issue?

[2020-01-17 16:17] akash07k commented on #10695
So, what happened to that issue?

On 1/17/20, Joseph Lee <notifications@github.com> wrote:

[2020-01-17 16:25] josephsl commented on #10695
Hi, if I recall correctly, it might still be open (or might have been closed). @JCSTeh, do you remember the issue number for it where you outlined your concerns about first letter navigation commands and wrapping them to the first item after reaching the bottom of the document? Thanks.

From: Akash Kakkar <notifications@github.com>
Sent: Friday, January 17, 2020 8:18 AM
To: nvaccess/nvda <nvda@nor

[2020-01-17 16:28] akash07k commented on #10695
Oh, ok.
I wanted to have that feature since so long but if previous issue was
closed then I feel that this is not going to be implemented sadly :(

On 1/17/20, Joseph Lee <notifications@github.com> wrote:

[2020-01-17 16:41] josephsl commented on #10695
Hi, it might have been another duplicate of this issue being closed – the original one might still be open. Thanks.

From: Akash Kakkar <notifications@github.com>
Sent: Friday, January 17, 2020 8:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add the flexibility to directly jump to the

[2020-01-17 16:51] akash07k commented on #10695
Ok Joseph. Thanks for confirming

On 1/17/20, Joseph Lee <notifications@github.com> wrote:

[2020-01-17 17:52] feerrenrut opened #10696 "Unable to build with Python 3.7.6"
### Steps to reproduce:
Install Python 3.7.6 and try to rebuild NVDA (from clean working directory)

### Actual behavior:
We have had several reports of errors ending with: `TypeError: item 2 in _argtypes_ passes a union by value, which is unsupported.`

### Expected behavior:
Build should complete successfully.

### System configuration
#### NVDA installed/portable/running from source:
Source

##

[2020-01-17 17:59] josephsl commented on #10696
Hi, I can build the source to completion in 3.7.6 on my computer. Thanks.

From: Reef Turner <notifications@github.com>
Sent: Friday, January 17, 2020 9:53 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Unable to build with Python 3.7.6 (#10696)

Steps to reproduce:

Install Python 3.7.6 and try to rebuild NVDA (from clean wor

[2020-01-17 18:03] josephsl commented on #10696
Never mind – it does fail on my system as well. Thanks.

From: Reef Turner <notifications@github.com>
Sent: Friday, January 17, 2020 9:53 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Unable to build with Python 3.7.6 (#10696)

Steps to reproduce:

Install Python 3.7.6 and try to rebuild NVDA (from clean working directory)

A

[2020-01-17 18:32] Brian1Gaff commented on #10695
Have we not had this discussion before? I am infavour, actually, but I can
see why you might not want this to be there.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Akash Kakkar" <notifications@github.co

[2020-01-17 18:37] Brian1Gaff commented on #10695
I do feel it might be more relevant now though, considering that we are
increasingly eeing web sites where the tab order is not as expected. I had
hoped by now that web designers might have grasped the plot that the order
things are in matters from the accessibility standpoint. All to often the
visual site looks easy to use but the blind use means going to the bottom
then top then bottom etc or th

[2020-01-17 18:44] ruifontes commented on #10695
There are, at least, two add-ons making available this feature:
NVDAExtensionGlobalPlugin and  screenRapping

Rui Fontes

Brian Gaff <notifications@github.com> escreveu no dia sexta, 17/01/2020
à(s) 18:33:

[2020-01-17 19:59] fernando-jose-silva opened #10697 "move the cursor from navigation mode to the mouse cursor"
### Steps to reproduce:
open a website in any browser.
Now place your mouse cursor over text on the website.
Now navigate with the arrow keys.
### Actual behavior:
the browse mode
when walking with the arrows you are in a totally different place from the mouse.
### Expected behavior:
nvda can provide a shortcut key to move the cursor from the browse mode to the mouse cursor.
### System configurati

[2020-01-17 21:07] Adriani90 commented on #10697
Actualy this is already possible. I must have a look if this is properly documented but here are the steps:
1. In NVDA settings under "review cursor" set the review cursor to follow all other cursors (system focus, system carret and mouse cursor)
2. Open a website and move the mouse somewhere while being in browse mode
3. Press nvda+shift+n to move the navigator (incl. the review cursor) to the mo

[2020-01-17 21:10] Adriani90 commented on #10697
As of now the review cursor follows the virtual cursor and the system focus but the other way round is not possible.

[2020-01-18 02:36] codeofdusk commented on #10679
What should happen when a user switches from say, stable to beta and then back to stable? I propose that no upgrade should be offered until the next stable (i.e. downgrades are unsupported) unless we can somehow handle moving to an older add-on API version or we delete the user config on downgrade (like Chrome OS).

[2020-01-18 02:37] codeofdusk commented on #10679
If user data must be preserved in a downgrade, we should also address how to downgrade config spec schema versions.

[2020-01-18 10:34] francipvb opened #10698 "Edge-based content: Found errors without a plausible explanation"
### Steps to reproduce:

This occur in various well-known apps.

1. Open the start menu and write office.
1. Open the "Office" universal app.
1. Wait the app toload and then press <kbd>tab</kbd> key twice.

### Actual behavior:

Error beep is played. See this log chunk

[code]

### Expected behavior:

Should behave as normal.

### System configuration
#### NVDA installed/portable/running from sour

[2020-01-18 10:35] francipvb commented on #10698
CC @josephsl @leonardder @michaelDCurran @Adriani90

[2020-01-18 10:39] francipvb commented on #10698
Updated description with missing information.

[2020-01-18 10:40] francipvb commented on #10698
Pressed the wrong button 😂

[2020-01-18 14:49] fernando-jose-silva commented on #10697
Thank you very much for your feedback.
I did what you reported:
When pressing nvda + shift + backspace twice the nvda repeats until what is on the mouse, more when pressing the arrows the browse cursor is still in a totally different place.
by pressing nvda + arrows below, the nvda reads only a portion of the sentence, but does not read the entire site from this point on, and simply walking with t

[2020-01-18 15:28] Adriani90 commented on #10697
you have to make sure that „read all content after page load“ is disabled in browse mode settings in nvda.
For read all the keystroke in laptop layout is nvda+a, not nvda+down arrow. This is documented properly.

Von meinem iPhone gesendet

[2020-01-18 15:51] fernando-jose-silva commented on #10697
read the page automatically is disabled I know that nvda + a on the laptop keyboard layout read the entire page, and I know it is documented, even so it doesn't work as I said before.
I tried to press nvda plus the arrow below since reading everything doesn't work as expected.

[2020-01-18 16:22] DrSooom commented on #10696
@feerrenrut: Maybe two typos in the issue description: Python 2.7.x instead of Python 3.7.x.

[2020-01-18 16:31] DrSooom commented on #10697
Maybe related: Issue #3004 and #4896

[2020-01-18 16:42] DrSooom commented on #9894
See also: Issue #8193

[2020-01-18 16:43] DrSooom commented on #10695
See also: Issue #8193

[2020-01-18 17:52] Adriani90 commented on #10697
Is this with disabled addons?

Von meinem iPhone gesendet

[2020-01-18 19:13] fernando-jose-silva commented on #10697
Yes

Enviado do meu iPhone

[2020-01-18 20:14] Adriani90 commented on #10697
Ok I have recorded an audio on how I do it and it works. This is in Firefox. Note that it works in other browsers too but it is quite unreliable. The best result you can get is in Firefox.
Having said that, I will upload the audio here and then I am closing this issue as duplicate of #4896.
[moving virtual cursor to the Mouse.zip](https://github.com/nvaccess/nvda/files/4081705/moving.virtual.curso

[2020-01-18 20:14] #10697 closed

[2020-01-18 20:28] Adriani90 commented on #6574
this is highly related to #8389.

[2020-01-18 20:35] Adriani90 commented on #7359
We do not have any updates and I cannot reproduce this issue. Closing as abandoned and works for me.

[2020-01-18 20:35] #7359 closed

[2020-01-18 20:39] Adriani90 commented on #8076
cc: @feerrenrut, @jcsteh this is quite related to #4896.

[2020-01-18 20:40] Adriani90 commented on #8076
While in Firefox it seems to work quite reliable now, in other browsers it doesn't really works reliably. I guess this might be really hard to fix for all browsers.

[2020-01-18 20:42] Adriani90 commented on #7867
@tech55541 are you able to reproduce this now also with NVDA 2019.3 Beta 2?

[2020-01-18 20:45] Adriani90 commented on #8882
I am closing this as fixed and works for me. Please comment on it if this is not correct and we can reopen it. Thanks.

[2020-01-18 20:45] #8882 closed

[2020-01-18 20:49] Adriani90 commented on #8646
We do not have an update from the initial author since more than 1.5 years. I am closing this as abandoned. If you still have this issue please comment on it and we can reopen it. Thanks.

[2020-01-18 20:49] #8646 closed

[2020-01-18 20:55] Adriani90 commented on #8620
@scottaohara this should be fixed in NVDA 2019.3 Beta 2. I am testing in Chrome 79 and Firefox 72 and in both cases the dialog role is announced. Enablind or disabling "read all after page load" does not make any difference here.
Can you confirm?

[2020-01-18 20:59] Adriani90 commented on #9004
@jacobchawala could you please test with NVDA 2019.3 Beta 2? Is it better now?

[2020-01-18 21:06] Adriani90 commented on #10294
For point 3 there is issue #8822.
For point 2, please open a new issue with exact stepts to reproduce so that we can exactly see what the issue is.
As of now I am closing this one. Thanks for reporting.

[2020-01-18 21:06] #10294 closed

[2020-01-18 21:32] Adriani90 commented on #4962
navigation out of table works in MS Word just fine. It should also works for stuff like i.e. list of contents. But I think normally if you create a list by adding a bulet and pressing enter this is not a container list. You have to explicitely create a list of contents or something like that to have it as a container. Having aid that, this issue is a works for me. If you still have issues with thi

[2020-01-18 21:32] #4962 closed

[2020-01-18 21:38] Adriani90 commented on #398
Ok, I am closing this issue since I cannot reproduce it and I didn't hear any further user reports on this.
Closing as owrks for me.

[2020-01-18 21:38] #398 closed

[2020-01-18 21:42] Adriani90 commented on #9879
cc: @MarcoZehe

[2020-01-18 21:53] Adriani90 commented on #10686
@elliott94 are you sure that the order of columns is just reported differently by NVDA? Or is is also visually changed randomly?

[2020-01-18 21:54] Adriani90 commented on #10686
To be honnest, I cannot reproduce this issue on Outllok 2010 or outlook 365.

[2020-01-18 22:01] Adriani90 commented on #10681
I can not reproduce it. I tried with object navigation as well as with nvda+shift+o in laptop layout (report current object) or nvda+tab (also report current object). Numbers are not read. Maybe the number is visually displayed, that's why NVDA pronounces it.
I am closing this issue as works for me.
If you have this issue and have exact stepts to reproduce, please comment on it and we can reopen i

[2020-01-18 22:01] #10681 closed

[2020-01-18 23:24] MarcoZehe commented on #9879
Please provide the exact CSS you use. Without that, there‘s no chance to know if the header cells show up in the tree or not.

[2020-01-19 03:12] JamesCatt commented on #9879
@MarcoZehe Seems that setting `position: absolute` is all that's required to trigger it. Tried adding various other styles (i.e., `left: -10000px`, `width: 0`, etc) but didn't notice a difference.

Behavior seems to have changed since I opened this issue, however. I just tested again with FF 73.0b6 + NVDA 2019.2.1. Now the column headers are announced when navigating just with up arrow or down arr

[2020-01-19 03:23] MarcoZehe commented on #9879
@jcsteh any ideas?

[2020-01-19 15:31] DrSooom commented on #10686
@elliott94: Are you using IMAP or POP3 accounts?

In my case: Two POP3 accounts (one PST file on a SSD and one on a HDD due to a free upgrade from Microsoft Office 2007 to 2010 in June 2010). I have a separate e-mail account for my smartphones, which is set up there as IMAP, but I'm not using it in Microsoft Outlook 2010.

[2020-01-19 19:25] Adriani90 commented on #10382
@tech55541 could you please give an update to this issue with NVDA 2019.3 Beta 2 and addons disabled? ARe the crashes still reproducible for you? I cannot experience any crashes on my side with addons disabled.

[2020-01-19 19:39] Adriani90 commented on #9885
@NathanTech7713 are you still having this issue in NVDA 2019.3 Beta 2? Sometimes it helps to re-register the com dlls or if possible all the dlls on your system. At least for some few com dlls NVDA provides a com registration fixing tool. You can find it in the NVDA menu under tools. Did you try that?

[2020-01-19 19:42] Adriani90 commented on #9822
@magibrahim do you still have this issue in NVDA 2019.3 Beta 2?

[2020-01-19 19:46] Adriani90 commented on #9472
@ironcross32 are you still having this issue in NVDA 2019.3 Beta 2? I cannot reproduce it. Please also try to maximize the window before reproducing it.

[2020-01-19 19:48] Adriani90 commented on #9380
@sjtaylor82 are you still seeing this issue with NVDA 2019.3 Beta 2?

[2020-01-19 19:51] Adriani90 commented on #9375
@fisher729 do you have this issue in NVDA 2019.3 Beta 2?

[2020-01-19 19:54] Adriani90 commented on #9032
Could you please attach a non confidential message here which allows us to reproduce this crash?

[2020-01-19 19:58] Adriani90 commented on #8816
@nidza07 are you still having this issue in NVDA 2019.3 Beta 2?
I cannot reproduce it in Windows mail version 16005.12228.20410.0 on Windows 10 1909 Update.

[2020-01-19 20:01] Adriani90 commented on #8795
This is not reproducible on NVDA 2019.3 Beta 2. @bedenhofer can you confirm?

[2020-01-19 20:03] Adriani90 commented on #8535
No updates so far from the person who can reproduce it. I am closing this issue as abandoned. Please comment on it if you still have this issue and we can reopen it. Thanks.

[2020-01-19 20:03] #8535 closed

[2020-01-19 20:11] Adriani90 commented on #7854
@jmuheim are you still having this issue in NVDA 2019.3 Beta 2?

[2020-01-19 20:12] Adriani90 commented on #7854
@ehollig could you create a new issue regarding the elements list problem? I could also reproduce it here with NVDA 2019.3 Beta 2.

[2020-01-19 20:14] Adriani90 commented on #7850
@leonardder I tried in NVDA 2019.3 Beta 2 but I cannot reproduce it. are you still having this issue?

[2020-01-19 20:16] Adriani90 commented on #7347
@jooyoungseo can you respond to the comment above?
We need a log file to investigate this issue. Please go to NVDA settings, general settings, log level and set the log level to "debug".
After that please reproduce your issue and press nvda+f1. Save that file and upload it here. Thanks.

[2020-01-19 20:18] Adriani90 commented on #7210
We do not have any updates from the initial author since more than two years. Closing as abandoned and works for me. If you still have this issue, please comment on it and we can reopen it. thanks.

[2020-01-19 20:18] #7210 closed

[2020-01-19 20:28] Adriani90 commented on #6442
This should be improved meanwhile but I guess this is still reproducible in nvda 2019.3 Beta 2. @limaoscar could you please upload crash dumps and log file of NVDA 2019.3 Beta 2? You can download the beta or alpha versions of NVDA here:
https://www.nvaccess.org/files/nvda/snapshots/
Thanks very much for your patience.

[2020-01-19 20:36] Adriani90 commented on #4954
So it seems a crash or freeze is not reproducible here. I cannot reproduce any crash either. There are other issues dealing with performance lags in MS Word. I am closing this specific one as works for me. If you still have this crash problem, please comment on this issue anc we can reopen it. Thanks.

[2020-01-19 20:36] #4954 closed

[2020-01-19 20:39] Adriani90 commented on #10679
Actually I found an issue which has already some more discussion on this. See #6149.

[2020-01-19 20:45] Adriani90 commented on #6149
Actually I would close this one as duplicate in favor of #10679 because that one is newer and contains also a link to an addon as well as some discussion. Please feel free to comment on this one if you don't agree and we can reopen it. Thanks.

[2020-01-19 20:45] #6149 closed

[2020-01-19 21:38] sjtaylor82 commented on #9380
This problem seems to have disappeared with an IT system refresh.
Thanks
Sam

Sent from my iPhone

﻿
@sjtaylor82 are you still seeing this issue with NVDA 2019.3 Beta 2?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-19 22:15] jcsteh commented on #9879
For HTML tables (unless the whole table has display: block or similar), Firefox relies on the layout engine to fetch cells given a row and column. Also, in such a table, Firefox also uses the layout engine to determine row and column numbers and headers for any cells which aren't display: block or similar. The problem here is that position: absolute effectively gives the element display: block, wh

[2020-01-19 22:23] Adriani90 commented on #9380
Thanks for reporting back. I am closing this for now. Feel free to comment on this or open a new issue if the problem comes up again.

[2020-01-19 22:23] #9380 closed

[2020-01-19 22:28] Qchristensen commented on #10292
I have someone reporting this issue as well and they advise that it is still present in 2019.3 beta2.

[2020-01-19 23:58] derekriemer commented on #10292
100

On Sun, Jan 19, 2020 at 3:28 PM Quentin Christensen <
notifications@github.com> wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enthusiast.
   - Skier.

Personal website <http://dere

[2020-01-20 03:57] andrew-l-d opened #10700 "No speech after opening Device Manager"
With NVDA 2019.3 beta 2 and alpha versions speech stops when opening Device Manager.
### Steps to reproduce:
1. Press Windows key to open Search.
2. Write "device manager" and press Enter
### Actual behavior:
NVDA loses speech.  Speech returns when alt-tabbing out of Device Manager and stops again when re-entering Device Manager.
### Expected behavior:
NVDA should continue to provide speech output

[2020-01-20 06:03] leonardder commented on #7850
I no longer need this particular setup, so if you say it works for you, I think it's safe to close this. We can always reopen.

[2020-01-20 06:03] #7850 closed

[2020-01-20 06:05] jcsteh commented on #6421
It's one reasonable approach which doesn't break things. I can't rule out other reasonable approaches on both sides.

[The Chromium issue was marked as fixed](https://bugs.chromium.org/p/chromium/issues/detail?id=600150#c24). Unfortunately, no commit was referenced, so I don't know exactly what they changed.

Yes and yes: less events, but that would definitely break things. I have some experimenta

[2020-01-20 06:15] andrew-l-d commented on #10700
I have since created a portable version of NVDA 2019.3 beta 2.  Behaviour is the same - no speech in Device Manager.

[2020-01-20 07:37] feerrenrut commented on #10696
Thanks @DrSooom I have amended it.

[2020-01-20 07:59] dingpengyu opened #10701 "feature_request: When opening or closing the NVDA settings interface, remember to browse where the cursor is"
hello
Currently, when using NVDA settings, after opening or closing the NVDA settings interface, the cursor position will not be remembered.
### Is your feature request related to a problem? Please describe.
You can track the cursor when the user browses the NVDA settings interface, so that the user can continue to browse the list of NVDA settings from the place they are browsing the next time the

[2020-01-20 08:18] Brian1Gaff commented on #10700
Just for the record, there are no issues in Windows 7.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-01-20 08:52] #9840 closed

[2020-01-20 09:02] ivnc commented on #10638
We have received a report from a Spanish-speaking user saying that, when opening and closing context menu in Edge 79 Beta (Shift+F10) NVDA locks during a few seconds, the same that happens on page load without this fix. The problem has been successfully reproduced and looks like to be Native UIA fault, since disabling it makes Edge working as expected, including the context menu. the duration of t

[2020-01-20 10:01] dingpengyu opened #10702 "Unable to generate development documentation when testing pr9968 with NVDA source"
### Steps to reproduce:
First open cmd
then cd nvda
Last use scons devDocs command generates developer documentation

### Actual behavior:
Generate error
### Expected behavior:
Generate success
### System configuration
#### NVDA installed/portable/running from source:
NVDA source
#### NVDA version:
none
#### Windows version:
windows10-1909
#### Name and version of other software in use when reprod

[2020-01-20 11:30] feerrenrut commented on #8579
Fixed in commit 09c03399118f40264e3383dd419a9b55c2cd9879 via PR #10678

[2020-01-20 11:30] #8579 closed

[2020-01-20 15:09] MichelSuch opened #10704 "Access to edit area of Biblos word processor broken with latest alpha versionse"
### Steps to reproduce:
Open a file using Biblos (epub for example) and try to review it using the arrows.
### Actual behavior:
Thoug the area is announced as an edit field, nothing is spoken and nothing displayed on the braille terminal.
### Expected behavior:
We should be able to review the text like in any text editor.
### System configuration
#### NVDA installed/portable/running from source:
N

[2020-01-20 16:02] CyrilleB79 opened #10705 "NVDA2019.3beta2 - Cannot close settings window on Vision panel"
### Steps to reproduce:

* Open the Vision panel in the settings window
* Check the "Enable Highlighting" checkbox
* Click "Apply" button (without closing the window)
* Uncheck the "Enable Highlighting" checkbox
* Press "Escape" to cancel last action (i.e. unchecking the checkbox)

### Actual behavior:

NVDA error sound is heard and the settings Window does not close. There is then no way to close

[2020-01-20 16:03] CyrilleB79 commented on #10705
Cc @feerrenrut

[2020-01-20 16:51] PratikP1 commented on #9032
Regrettably, I do not have examples of non-confidential emails to share. Crashes were with confidential messages.

I will say, however, that this issue stopped after a few days since my last response. I would be comfortable with this issue being closed at this time, to be opened again should it become necessary.

[2020-01-20 17:43] chojiro opened #10706 "NVDA keeps announcing "list item" when using say all"
### Steps to reproduce:
1. Open up for instance this https://forum.audiogames.net/forum/6/general-game-discussion/
2. Using NVDA+A, go to a list with L, then use NVDA+A once the list has focus.
3. Try moving to different lists as NVDA+A is active,and use arrow keys to navigate as well.
### Actual behavior:
NVDA keeps announcing "list with x items" or "out of list", even if the cursor is not at all

[2020-01-20 20:33] Adriani90 commented on #10706
cc: @leonardder

[2020-01-20 20:35] Adriani90 commented on #10702
cc: @feerrenrut

[2020-01-20 20:38] Adriani90 commented on #10701
I don't know any software which has this feature. Actually the list of categories is quite short. Why do you need this feature? It is actually not very trivial to implement due to wx python restrictions.
cc: @josephsl what do you think?

[2020-01-20 20:40] Adriani90 commented on #9032
Thanks for reporting back. Closing as works for me. Please comment on it if you still see this issue. Thanks!

[2020-01-20 20:40] #9032 closed

[2020-01-20 21:53] derekriemer commented on #8579
On an issue somewhere near july 16, 2018, I investigated every place where
secure mode changes behavior and wrote a breakdown. Check the issues with
my name on it near that time.

On Mon, Jan 20, 2020 at 4:30 AM Reef Turner <notifications@github.com>
wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year un

[2020-01-21 04:26] josephsl commented on #9682
Hi,

And now, with 2019.3 under translatable string freeze and with first 2020.1 changelog entry showing, it is time for a pull request (coming up shortly).

I'm aware that some folks might be asking for a shortcut command to toggle touch support. For now that won't be part of the pull request - to be evaluated at a later time. An ideal solution for this issue would be a touch-based passthrough co

[2020-01-21 04:53] JAWS-test opened #10708 "Video is not output correctly (Chrome, Firefox)"
### Summary

1. Go to https://codepen.io/jaws-test/pen/LYEgvey
2. read with arrow keys
3. navigate with tab key

### Expected result

* Video is output as "video"
* if a label is available, it is also output
* if no label is available, no label is output

### Actual result

#### reading with arrow keys
no output of role and label

#### navigation with tab key
* label is only output if the video ha

[2020-01-21 04:58] josephsl commented on #10708
Hi, three important questions: is this reproducible with Edge (both classic and Chromium) also, can this be replicated on Windows 8.1 and 10 (because Windows 8 is end of life since 2016), and is this also the case with Narrator? If the answer to the first question is a “yes”, chances are this might be IA2 thing; if the answer to the third question is “yes”, it is an element issue; if not, this is

[2020-01-21 05:01] josephsl commented on #10708
Hi, by the way, a fourth important question: is this reproducible with 2019.3 beta 2? Thanks.

From: JAWS-test <notifications@github.com>
Sent: Monday, January 20, 2020 8:53 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Video is not output correctly (Chrome, Firefox) (#10708)

Summary

1.	Go to https://codepen.io/jaws-test/pe

[2020-01-21 06:24] leonardder commented on #10698
I don't have the office universal app myself. Is there another app where this happens? It would help to have a list of those.

[2020-01-21 06:37] francipvb commented on #10698
Hello,

Yes, the issue happen with github web page under classic edge. When you
navigate to the new menu, either by tabbing or with virtual buffer
review. Another is the Twitter universal app.

Cheers,

--
Cuando tus fuerzas terminan, las de mi Dios comienzan.

[2020-01-21 06:42] francipvb commented on #10698
In youtube the issue is reproducible too when you land to the navigation section.

[2020-01-21 09:15] JAWS-test commented on #10708
The problem is similar in JAWS. It is a  problem of the specification (https://github.com/w3c/aria/issues/529). However, NVDA should not rely solely on the accessibility interface, but should evaluate the DOM to determine what a video is.

[2020-01-21 11:56] lstar4ever opened #10709 "Adding function to speak pasted text"
#10445 # Is your feature request related to a problem? Please describe.
No
### Describe the solution you'd like
When typing ctrl v
NVDA will read and speak Clipboard text
If it is a password field, the function will be disabled.
### Describe alternatives you've considered
Probably this function can be added to either one of the addon?

### Additional context
I do a lot of typing work.
I always hav

[2020-01-21 12:27] CyrilleB79 commented on #10706
I can also reproduce this issue on my side. Moreover, as one could expect, the issue occurs also when exiting from a table instead of a list.

[2020-01-21 12:32] CyrilleB79 commented on #10702
@dingpengyu what is your version of Python? Anything to do with #10696? It's just an idea, since I did not try to build the documentation by myself.

[2020-01-21 13:01] Adriani90 commented on #10709
You can read what's in your clipboard after you pressed ctrl.c or ctrl.x befor you paste the text. You just have to press nvda+c. Closing, because there is already a confortable solution for this.

[2020-01-21 13:27] lstar4ever commented on #10709
No, pressing ctrl and c is the same as doing ctrl left arrow or presssing up arrow and down arrow.
 What I said here is I want NVDA to speak it automatically not needing extra key press.

[2020-01-21 14:15] Adriani90 commented on #10709
Ok reopening. cc: @JulienCochuyt

[2020-01-21 15:02] josephsl commented on #10708
Hi, no, I specifically requested info on Narrator, not JAWS alone. Thanks.

From: JAWS-test <notifications@github.com>
Sent: Tuesday, January 21, 2020 1:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Video is not output correctly (Chrome, Firefox) (#10708)

The problem is similar in JAW

[2020-01-21 15:14] feerrenrut commented on #10702
Please see pinned issue #10696. There is currently an issue building with Python 3.7.6, please use 3.7.5 instead.

[2020-01-21 15:14] #10702 closed

[2020-01-21 15:58] josephsl commented on #10696
Hi,

3.7.7 should fix this issue, see:

https://github.com/python/cpython/pull/17960

Thanks.

[2020-01-21 16:13] scottaohara commented on #8620
re-testing with the test case i included with my original issue, the dialog role doesn't get announced with Firefox 72.  It's not announced when using Chrome either, unless i close the dialog and then re-open it.

[2020-01-21 16:14] rkingett commented on #10709
I would like this as well, with a toggle in settings so that we can make this work with profiles, and themes. I have to copy a lot of text, as well, and this would really help the pasting process. VoiceOver does this very well. I wouldn't want this as an add on because I'd want to use this only on certain programs.

[2020-01-21 16:22] josephsl commented on #10696
Hi,

According to a Python committer who reported on Python issue 16575 (not GitHub), comtypes is the "real" culprit for us. The overall issue has to do with libffi which is the basis for ctypes.

Thanks.

[2020-01-21 16:29] josephsl commented on #10709
Hi,

Note: Clipspeak won't cut it - it only announces clipboard copy/cut/paste operation, not clipboard content.

A few questions:

1. Can you think of other places where this feature request might be useful? Although some controls are seen as edit fields by NVDA, not all of them support paste operations (Command Prompt, for example, didn't add paste operation officially until Windows 10).
2. What

[2020-01-21 16:42] Adriani90 commented on #10709
Especially for point 3, performance impact must be considered.

Von meinem iPhone gesendet

[2020-01-21 16:44] Adriani90 commented on #10709
Maybe doing this in an addon would be a better option. I.e integrating this in clipspeak

Von meinem iPhone gesendet

[2020-01-21 16:51] Adriani90 commented on #8620
Cc: @jcsteh

[2020-01-21 17:34] feerrenrut commented on #10696
Thanks for investigation @josephsl

[2020-01-21 20:14] rkingett commented on #10709
My responses to Josephs points are below.

1. Can you think of other places where this feature request might be useful? Although some controls are seen as edit fields by NVDA, not all of them support paste operations (Command Prompt, for example, didn't add paste operation officially until Windows 10).

Could we have it to where it only works in edit fields, like text documents and text areas? I'd

[2020-01-21 23:30] lstar4ever commented on #10709
I have do something like this for my autohotkey script.
I have a script to paste content from selected menu.
 Then I use nvdaSpeak() to trigger NVDA to report what is in the clipboard whenever I presssed ctrl v

So it doesn't matter what the target control is, whenever user pressed ctrl v, the NVDA will speak clipboard text

As what I pointed out in point 1.
My autohotkey script detected that if c

[2020-01-21 23:32] dingpengyu commented on #9134
hello
[NSIS 3.05 release](https://nsis.sourceforge.io/Docs/AppendixF.html#v3.05)
thanks

[2020-01-21 23:34] lstar4ever commented on #10709
To act as an example, I quoted part of my autohotkey script of how to let NVDA speak pasted text.

~^v::
nvdaSpeak(Clipboard)
return

if I want to limit the function to certain window only, it will be like
~^v::
if WinActive("Notepad++") or WinActive("ahk_class OpusApp")
{
nvdaSpeak(Clipboard)
}
return

[2020-01-22 00:37] josephsl commented on #10709
Hi, your answer to point 1 is concerning to me: you can just use NVDA+C command to announce clipboard text, as Adriani pointed out. But can you truly detect that whenever you press Control+V, that: there is valid text in the clipboard, it is a good place to paste text, the control itself supports paste, and paste actually DID occur? If any of these are false (particularly, item 4), chances are tha

[2020-01-22 00:41] josephsl commented on #10709
Hi, window class name or executable name will work for trivial cases. But think about cases where you get a window you wish to paste something into, yet the control itself (for whatever reason) doesn’t support this operation. I believe you need to probe the control for that using Windows API. Thanks.

From: lstar4ever <notifications@github.com>
Sent: Tuesday, January 21, 2020 3:34 PM
To: nvaccess/

[2020-01-22 01:25] lstar4ever commented on #10709
Well, as far as I have used the autohotkey script.
Most of the time, the text are pasted successfully at the same time speaking the clipboard text.
e.g. on word, nopad ++, firefox etc

But on some situation, NVDA do speak the clipboard but no text is pasted.
e.g. on lintalist, pressing ctrl v once speak clipboard not pasted, pressing the second time text is pasted.
 on windows file explorer, press

[2020-01-22 01:32] josephsl commented on #10709
Hi, I see. In this case, I advise resolving your Auto Hotkey script first, and then let’s think about bringing that to an add-on. Thanks.

From: lstar4ever <notifications@github.com>
Sent: Tuesday, January 21, 2020 5:25 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Adding function to spea

[2020-01-22 05:02] lstar4ever commented on #10709
Thanks.
Yes, at the moment, I am resolving this through autohotkey script.

But because autohotkey canot configure that much, that's why I want NVDA to have this function.
For example, if I allow nvdaspeak to be active on firefox,
it is good that if I copy something from text file to the search box on google, it will work as expected.
But if I manually copied the password from Keepass to pasted on

[2020-01-22 05:04] JAWS-test commented on #10708
I don't know what the output of another screen reader has to do with the output of NVDA, but in Narrator it is as follows:
* Navigation with Tab key: Output of the file name, browser, label, "pane" and "group", no output of the contained elements
* Reading with virtual cursor: no output

[2020-01-22 05:26] josephsl commented on #10708
Hi, it is known that different screen readers may recognize elements in different ways, and some may recognize certain elements while others may not. The output from Narrator noted above is an indication that it is up to screen readers to resolve this issue – or for that matter, web browsers may play a part in exposing elements in certain ways. Thanks.

From: JAWS-test <notifications@github.com>
S

[2020-01-22 05:34] josephsl commented on #10709
Hi, as for password announcement, it is really up to the web element to say it expects passwords. As far as Windows sees it, it is plain text apart from when the interacting control on screen notes otherwise. Typically a screen reader should announce what is on screen as shown unless heuristics must be used (additional directions are exposed by accessibility API, the screen reader knows how to dea

[2020-01-22 08:21] Brian1Gaff commented on #10709
Sometimes just the announcement of the fact that the copy occurred was
enough of course. with regard to it being read and detecting what is
actually inth clipboard to make sure its right first is a hard one and has
always been argued about here, siting what sighted users see. Luckily in
most cases there is an undo on this.

There is of course application settings already so maybe that should be
wh

[2020-01-22 09:06] Adriani90 commented on #10708
cc: @MarcoZehe

[2020-01-22 09:18] MarcoZehe commented on #10708
This is perfectly fine. NVDA is not supposed to look at the DOM, and JAWS stopped doing that for the most part as well. In Firefox, a video element's container is output as a groupbox element, similar to fieldset + legend. *However*, this is only the case if the video has a label. That's why, in your example, the video with aria-label speaks groupbox container info in NVDA 2019.3Beta2, while the o

[2020-01-22 12:24] CyrilleB79 opened #10711 "Navigator object highlight rectangle is visible at unexpected position"
### Steps to reproduce:

1. Enable Navigator object highlighter in the vision settings.
2. Open the process list in the task manager:

    * Open Task manager, e.g. pressing control+shift+escape
    *  Select the detailed view if not yet activated (press "More details" button)
     * Select the "Process" tab

3. Select more columns in the process list to ensure that not all columns can fi in the T

[2020-01-22 12:42] CyrilleB79 commented on #10711
Cc @leonardder , @feerrenrut

[2020-01-22 13:03] JAWS-test commented on #10708
@MarcoZehe
NVDA outputs a group with a label but not a video with a label (I described this above), so a video is output differently than a group. A video is only output as a group by NVDA if it has controls. But [HTML AAM](https://w3c.github.io/html-aam/#details-id-143) requires that video is always output as a group, not only with controls.

The second problem is that NVDA outputs the content of

[2020-01-22 14:38] leonardder commented on #10711
While I acknowledge this problem, it won't be of importance for 2019.3, neither will I have time or resources to fix this in the near future.

[2020-01-23 14:29] yozaam commented on #10446
Wow, this is something I would have never thought of, I'll send a pull request right now, but I would like to ask the mods if there is a reason, to syntactically use the "out of" phrase,
also I'm a little bit of a beginner to this codebase so forgive me if im going in the wrong direction,

[in the src/speech/intit file](https://github.com/nvaccess/nvda/blob/master/source/speech/__init__.py)
Also f

[2020-01-23 14:45] Adriani90 opened #10715 "Implement a mirror driver for comunicating with the display driver (OSM) in an installed version of NVDA."
### Is your feature request related to a problem? Please describe.
There are often problems when trying to make an application accessible, especially when the application is very old and/or it is explicitely needed in corporate environments.
Also handling mouse cursor with NVDA is often unreliable in different applications.
Another problem are situations where multiple screens are used and/or mult

[2020-01-23 15:24] josephsl commented on #10715
Hi,

Three important issues:

1. With the mirror driver, one must restart the computer in order to finish installing NVDA. Do we need this?
2. Although it is important to remind ourselves that people would install NVDA on their computers, some may prefer to use NVDA as a portable screen reader, and some folks may ask NVDA to implement this in portable copy as well. We then run into the same situat

[2020-01-23 17:10] OzancanKaratas commented on #10715
There is an option can be provided in the NVDA's Tools menu or General section of Settings. In this way, NVDA runs a DPInst.exe copy when the “Install display mirror driver” button was clicked. I think this installation process should be placed in the Tools menu such as COM Registration Fixing tool.

[2020-01-23 18:31] DrSooom commented on #10715
This is an obsolete technology, which already significantly changed how the Windows GUI looked like on Windows Vista in 2007 (basic theme/design instead of Aero Glass). And it's not part of Windows 8. Furthermore the windows-own Magnifier requires Aero Glass on Windows 7. Thus using NVDA with an active mirror display driver and the Windows-own Magnifier (in full-screen mode) will not work at the s

[2020-01-23 18:51] Adriani90 commented on #10715
I guess this is not a big problem. If we tell the user at the finish install promt something like "NVDA has been successfully installed. In order to use the mirror driver, a restart is needed."

It is actually not possible to implement the mirror driver in a portable version because the driver needs to add and change registry entries. Thus, the driver is simply not available for portable versions.

[2020-01-23 18:55] Adriani90 commented on #10715
@DrSooom mirror drivers are also working on Windows 10, Jaws use off screen model still on Windows 10 and you can adapt them as you want. API hooking should still remain the higher priority here. What I am talking about is just to create more flexibility and room for more features for people who really need it.

[2020-01-23 18:57] Adriani90 commented on #10715
And if you make it optional, well users who don't need it can just turn it off.

[2020-01-23 19:06] Adriani90 commented on #10446
You do not have to change the .po files. They will change automatically since they will get the right strings from the _() function out of the code in speechinit.py through Gettext when compiling.

[2020-01-23 19:15] josephsl commented on #10715
Hi,

Imagine someone installing NVDA who is very new to computers. How can you describe what a "mirror driver" is?

As for enterprise-level apps, I still believe it is up to app developers to change their mindset. It isn't that there isn't a good technology for app accessibility - it is culture that should be discussed.

I get a feeling that this is a duplicate of another issue. If so, I propose c

[2020-01-23 19:16] josephsl commented on #10715
Hi,

As for portable copy: one can interact with elevated screens if one runs the portable NVDA in admin mode (not advised).

Thanks.

[2020-01-23 19:34] StommePoes commented on #10633
I have tried 2 synths (Microsoft Speech API and eSpeak NG) and under punctuation there's minus in a list of some punctuation (not much though and mostly emoji) where I've tried setting it to none, some, and all and tried all settings of the other dropdown (whose purpose I don't understand but tried Never, Always, and Always Below Symbol's Level).
None of these will read out any of my minuses: not

[2020-01-23 19:38] Adriani90 commented on #10715
In any case, restarting the computer after an installation is not really something that would be a show stoper here.

Regarding mindset, I agree with you. However, we can only change the mindset of developers if we work together with them. just telling them it is not possible to make you app accessible because you do not expose anything to the APIs is just too less. Actually OSM is not a bad techn

[2020-01-23 19:44] josephsl commented on #10715
Hi,

My issue with OSM is teaching and assumptions: by adding OSM, people may think off-screen model is superior to accessibility API's when the other route may offer superior mindset, performance, and future-proofing.

Thanks.

[2020-01-23 20:24] tech55541 commented on #10382
Hello,

Let me see if I can find someone else to test. I am still on Windows 7 for backwards compatibility with work software, not sure if my test data would be all that relevant now. I now use Mac OSX for my day to day operations, so lost track of this.

[2020-01-23 20:25] tech55541 commented on #7867
Hello,

I haven't been able to reproduce this in quite some time in latest NVDA version. Maybe all fixed now?

Thanks.

[2020-01-23 21:58] DrSooom commented on #10686
Before I forget: Ensure that the Outlook 2010 main window is always maximized (Win+ArrowUp).

[2020-01-23 23:34] agtheblade commented on #6887
Hello. This is still true with 2019.3 beta 2 and ccleaner version 5.63.

[2020-01-24 03:48] andrew-l-d commented on #10700
I inadvertently closed this issue four days ago, but did not intend to do so.

Andrew

[2020-01-24 03:50] dingpengyu commented on #10715
hello josephsl
I personally think that NVDA should support OSM.
UIA and iaccessible are not everything,NVDA should have stronger screen capture capabilities.
Compatibility and continuation is my summary above.
thanks

[2020-01-24 04:04] dingpengyu commented on #10715
At present, NVDA officials have been evading the technology of graphic acquisition, mainly because the government believes that driver acquisition is a eliminated technology that will affect the promotion and development of barrier-free API technology. However, traditional win32 applications that do not currently have accessibility APIs still account for the majority. Especially in Asia. It may be

[2020-01-24 04:25] michaelDCurran commented on #10715
NVDA already hooks GDI calls within each process, in order to create an off-screen model. A part from being able to restructure the code to be OS-wide rather than process-specific, I do not believe we would get any extra information with a mirror driver over our current approach. If there are things that our off-screen model cannot track that another Screen Reader can, then the issue is most likel

[2020-01-24 04:25] #10715 closed

[2020-01-24 04:51] yozaam commented on #10446
Thank you, you completely solved my doubt,  so the two changes I have made are enough? And what about the other lines where we don't use %s like
line 2143 text=("out of grammar error")
line 2174 _("out of table")

Should I change these as well,
Again, sorry I am new to this and I am very grateful for your guidance

[2020-01-24 07:28] nvdaes opened #10717 "Screen curtain cannot be enabled permanently when the warning dialog is disabled"
### Steps to reproduce:
1. Choose not show a warning dialog when enabling screen curtain.
2. Press twice a keystroke to toggle screen curtain.
3. See the NVDA message announcing that screen curtain has being enabled.
4. Restart NVDA.

### Actual behavior:
Screen curtain is not enabled.

### Expected behavior:
Screen curtain should be enabled (if configuration is set to be saved on exit).

### Syst

[2020-01-24 07:52] CyrilleB79 commented on #10717
Thanks to have opened this issue following the discussion on nvda-devel mailing list.

As a reminder, the regression was introduced in f194afaec02a3465ceb769ee88543ea337c6eb9e.

And the nvda-devel thread is [here](https://groups.io/g/nvda-devel/topic/70052725#44796).

[2020-01-24 08:39] Brian1Gaff commented on #10715
But as has been said many many times since the start of nvda, this does mean
that gradually the portable version of nvda will lose functionality. One of
the good ideas I noticed that Dolphin uses is to make the driver  available
stand alone and free, so that it can be used if detected by  their software.
I'm thinking its a pity that  the industry as a whole does not specify a
driver like this alre

[2020-01-24 08:41] lstar4ever commented on #10709
Yes, I acknowledged that the function proposed here may not be a needed function for all NVDA users.

Don't understand what you mean here.

[2020-01-24 08:46] Adriani90 commented on #10715
Mick thanks for your comments. This clarifies the current state for me now. We have some people in Germany who definitely would like to contribute to improve the display model code. Let's see if they come up with some proposals over the next months. I am in contact with them and will forward this information.

[2020-01-24 08:46] Brian1Gaff commented on #10715
In the first instance, eyes you need to restart, but as it loads every time
no matter what you do thereafter its probably quite minor. A bigger fear is
if multiple drivers of this kind from different manufacturers have to chain
together in different orders, it can make for a pretty unusable computer
which then needs to be started in safe mode and the offending drivers
stopped from running before a

[2020-01-24 08:49] Brian1Gaff commented on #10715
Yes and many of us probably don't care about windows 7 having been abandoned
as it in practice makes little difference until the design of crucial
software demands we change. That is and has to be realised as a common trait
in blind computer users lives.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the d

[2020-01-24 08:50] Adriani90 commented on #7867
Thanks for reporting back. Closing as works for me.

[2020-01-24 08:50] #7867 closed

[2020-01-24 08:54] nvdaes commented on #10717
Thanks Cyrille. There is also a [thread in an NVDA's spanish mailing list about screen curtain in NVDA 2019.3beta2](https://nvdaes.groups.io/g/lista/topic/69987451).

[2020-01-24 08:55] Brian1Gaff commented on #10715
I think the old one was way back before the github days, and maybe the world
has now moved on, who knows. I think myself that it should be off by default
with the advice that if you are running an installed copy and there are
issues with software you have to use, you might want to try it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.c

[2020-01-24 09:04] Brian1Gaff commented on #6887
Unfortunately recent versions of ccleaner seem to have more serious issues
where whole screens appear to be completely blank, so I do question thir
ability to create accessible code. The other worry is their tendency to hide
avast timed later installs in their installed versions of software.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonde

[2020-01-24 09:32] JulienCochuyt commented on #10709
Just adding my grain of salt here…

I do not think NVDA should ever try to be too clever about what a particular keystroke sent to a random application will or will not do.

Example: Announcing "Copied to clipboard" when hitting `control+c` in any context (as regularly requested and still occurring on virtual buffer documents) while in fact this same key stroke might mean "Cancel" in some context,

[2020-01-24 10:10] CyrilleB79 commented on #6305
Hi,
Another one that would be useful in secure screen is Speech history, while Windows updates are installing.

[2020-01-24 14:49] artindk opened #10719 "NVDA freezes when copying link in Microsoft Edge Chromium"
### Steps to reproduce:
* Open a web page in Edge Chromium
* Scroll to a link
* Open the context menu
* And press Copy Link.
[nvda-old.log](https://github.com/nvaccess/nvda/files/4108989/nvda-old.log)

### Actual behavior:
After I activate the copy option, NVDA freezes and I have to restart NVDA.

### Expected behavior:
The link is copied without NVDA freezing.

### System configuration
#### NVDA

[2020-01-24 15:25] JamesCatt commented on #10633
#10636 should address this, although I'm guessing the NVAccess team is busy with 2019.3 beta at the moment. Hoping they can get to my PR in time for the first 2020 release.

[2020-01-24 17:18] Adriani90 commented on #10715
@michaelDCurran is theoretically possible even to track APIs such as Open GL or direct x? I understand that direct x might have performance issues, for texture mapping it seems it is used quite often though.

[2020-01-24 19:32] Adriani90 commented on #10107
addressed by PR #10720.. Thanks for reporting. I am closing this issue since it is a very small change which could also be discussed on the NVDA users mailing list.

[2020-01-24 19:32] #10107 closed

[2020-01-24 19:39] Adriani90 commented on #10024
Actually I agree to @XLTechie's comments above. Down grading is very useful especially if you have severe bugs in a current version. I have downgraded and upgraded several times and I didn't get any additional bugs after that. Ofcourse this might differ from system to system. But why should someone want to clean those files? Actually they are very very small and they do not have any impact on your

[2020-01-24 19:42] Adriani90 commented on #10024
I vote for closing this issue since I don't see any benefits from deleting those entries from the ini file. Regarding gesture mapping, I advice not to consider such a feature. Note that there are braille displays also which save their emulated keys there and there are also addons working with that file. I would not introduce a feature in NVDA which, if used accidentally, would really destroy signi

[2020-01-24 19:55] Adriani90 commented on #9595
@stickbear2015 it seems there is some code laoded from global plugins from your user config folder in Dropbox. Did you copy there any code? This seems to cause the errors. There is also something weird with the user configuration. Please uninstall NVDA complemtely, after that open narator, press windows+r and type %appdata%
Then go to nvda and delete the whole folder with shift+delete.
After that

[2020-01-24 20:01] Adriani90 commented on #9534
@alanfluff did you ask this on the developers mailing list? Alternatively you could also ask your question here:
https://gitter.im/nvaccess/NVDA

I am closing this issue for now.

[2020-01-24 20:01] #9534 closed

[2020-01-24 20:05] Adriani90 commented on #9514
@CyrilleB79 do you still see this issue in NVDA 2019.3 Beta 2?

[2020-01-24 20:13] Adriani90 commented on #9153
cc: @MarcoZehe

[2020-01-24 20:15] Adriani90 commented on #9004
We do not have any updates from the initial author since more than one year. Closing as abandoned. Please comment on it if you still have this issue and we can reopen it. Thanks.

[2020-01-24 20:15] #9004 closed

[2020-01-24 20:17] Adriani90 commented on #8776
We do not have any updates from the initial author since more than 1.5 years. Closing as abandoned. Please comment on it if you still have this issue and we can reopen. Thanks.

[2020-01-24 20:17] #8776 closed

[2020-01-24 20:24] Adriani90 commented on #5199
cc: @michaelDCurran

[2020-01-24 21:04] tspivey opened #10721 "OneCore performance"
### Steps to reproduce:
1. Switch to OneCore.
1. Press windows+m to go to the desktop.
1. Tab to the start button.
1. Shift+tab and tab a few times.

### Actual behavior:
The delay between Desktop list and the icon name varies between fast and slow.
### Expected behavior:
The delay should stay the same.
### System configuration
#### NVDA installed/portable/running from source:
Portable
#### NVDA v

[2020-01-24 21:54] Adriani90 commented on #9108
This is still reproducible on NVDA 2019.3 Beta 2, Firefox 72.0.2 and Chrome 79. Only in IE it works correctly.
cc: @jcsteh, @MarcoZehe

[2020-01-24 22:10] CyrilleB79 commented on #9514
I do not remember having seen this issue on NVDA2019.3beta1 or beta2, nor recently on an alpha. However the issue was only appearing sporadically. Thus I cannot guarantee that the issue has disappeared on NVDA 2019.3beta2.

@Adriani90 is there something specific that let you think that this issue could go away with NVDA 2019.3? Or is it just because you are trying to clean old issues with Python 3

[2020-01-24 22:10] Adriani90 commented on #9099
I confirm this does not work in NVDA. This does not work in any browser. I tested also in Firefox 72,0.2 and IE, is not working. Narator reads the menu items here.
cc: @jcsteh do you have any suggestions at least for Firefox?

[2020-01-24 22:16] Adriani90 commented on #9109
It reads only part of the chart title when pressing shift+tab. This is also the case in Firefox 72.0.2.
However I am not sure if this might be a web authoring issue.
cc: @MarcoZehe do you have any suggestions here?

[2020-01-24 22:30] Adriani90 commented on #7863
Still reproducible in NVDA 2019.3 Beta 2. I will try to see if it is possible to extract the html code and paste it here.

[2020-01-24 22:33] Adriani90 commented on #7860
Still reproducible in NVDA 2019.3 Beta 2.

[2020-01-24 22:45] Adriani90 commented on #6653
This will be actually fixed interactively also through flake8 errors and warnings. @josephsl don't you think we could close this now?

[2020-01-24 22:49] Adriani90 commented on #5853
Is this still reproducible in NVDA 2019.3 Beta 2? For me it saves the speech settings for eSpeak regardless of boost enabled or not.

[2020-01-24 23:33] Luke-Robinett commented on #5517
I'm thrilled to discover that it looks like this issue is finally resolved as of SSMS 18! I tried multiple times to trigger the bug but couldn't. NVDA seems to be traversing the object browser as expected now. Fantastic!

[2020-01-25 01:46] josephsl commented on #6653
Hi, I’d still go through manual inspections if needed. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, January 24, 2020 2:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Code cleanup: spacing, tabs at ends of lines (#6653)

This will be actually fixed interactively also

[2020-01-25 05:56] SamB commented on #10663
I'm pretty sure it's the colon ...

[2020-01-25 06:17] MarcoZehe commented on #9153
NVDA has never reported the description, AccDescription, on occasions other than on focus or when asking for the focused element, or when navigating onto an object with object navigator. It never reports the description on links or most other elements with the virtual cursor. There are some occasions where NVDA 2019.3 will now do this, but the versions earlier than that won't. There is no bug here

[2020-01-25 06:19] MarcoZehe commented on #9108
NVDA has never read all combobox options in virtual cursor if the combobox was collapsed. Imagine a country select combo box with 200 or so items. Reading those with the virtual cursor would not make sense. AFAICS, this works as intended.

[2020-01-25 06:32] MarcoZehe commented on #9109
There are several weird tabindex attributes here, on unlabeled div elements without roles, some stuff is hidden via aria-hidden, etc. If you turn virtual cursor off and tab through it, you'll hear several unlabeled section elements spoken. If you turn browse mode back on, some of these are not read because NVDA does not read these unlabeled divs in browse mode.

The reason why there is a differenc

[2020-01-25 08:22] XLTechie commented on #10721
I've been seeing this on a client's I7 quadcore laptop, running 2019.2.1 under
Win 10 1903.

She keeps complaining about the "lag", and when using remote to operate it, I
can observe it directly. Actions happen, but One Core David takes a notable
length of time before mentioning them.

It seems worse during some boot cycles than others.

I haven't been able to figure out if it is an actual problem

[2020-01-25 09:39] Adriani90 commented on #9514
@CyrilleB79 actually I found this issue by chance while looking for something else. I thought it might be solved while migrated to Python 3.
However, looking at your log file, it seems this file comes after you restarted NVDA with addons disabled. Right?
If you choose this option in the exit dialog, I guess NVDA disables all addons, including addons which you install in that session. I am not an e

[2020-01-25 14:27] CyrilleB79 commented on #9514
Disabling add-ons is not the cause of this issue. Indeed, I have originally encountered the issue with add-ons normally enabled trying to install a new add-on. However, to reproduce the issue in clean conditions, I have taken the log after a restart with add-ons disabled to eliminate possible causes coming from add-ons or from previous NVDA usage.

Moreover, looking at the error, it does not seem

[2020-01-25 14:37] StommePoes commented on #10633
I need to update my comment about the hyphen-minus: it's acting exactly as the dash currently: it'll say "minus" but only when directly prefacing a number. When I did my symbols test ~2 years ago, I could get the `&minus;` symbol read out reliably in NVDA regardless of where it was in text.

This was my testing page, taken from back when I was doing some math work for an educational company:
https

[2020-01-25 15:19] lukaszgo1 commented on #10700
@andrew-l-d  Have you tested this with portable 2019.2.1, or only with a installed version? I believe portable/temporary versions of NVDA were never able to access device manager unfortunately.

[2020-01-25 15:21] lukaszgo1 commented on #10664
@surfer0627 What about with 2019.2.1? It would be good to establish if it is a regression or not.

[2020-01-25 15:23] lukaszgo1 commented on #10704
I can reproduce this on Windows 7 with latest Alpha. cc @leonardder  as most of the commits which are on master but not on beta are yours. This should be marked as a regression in any case.

[2020-01-25 15:27] lukaszgo1 commented on #10696
While developers can downgrade to 3.7.5 easily enough  do we have any plan for the time when 3.7.6  would be deployed on AppVeyor?

[2020-01-25 15:33] lukaszgo1 commented on #10704
I can not reproduce this with latest Alpha running as a portable. @MichelSuch Can you still reproduce this?

[2020-01-26 03:09] ehollig commented on #5517
Closing as worksforme based on comment above.

[2020-01-26 03:09] #5517 closed

[2020-01-26 14:18] surfer0627 commented on #10664
@lukaszgo1
Thank you for the reply.

In 2019.2.1, NVDA works fine.
This case occurs in alpha-19184 and later.
Thanks.

[2020-01-26 19:39] Adriani90 commented on #9514
Thanks for the reporting. I am closing this as works for me.

[2020-01-26 21:41] Adriani90 commented on #10701
Closing due to the restrictions mentioned and due to the fact that there are many possibilities in NVDA to access settings very fast (i.e. ctrl+nvda+...; or single key strokes for most settings).

[2020-01-26 21:41] #10701 closed

[2020-01-26 21:47] Adriani90 commented on #10700
This works just fine if you start your portable version as administrator. Is the same like for protected screens. However, solving this issue depends on external changes from Microsoft. There is nothing we can do about that due to system priviledges. Thus, if you need taht, start your portable copy or the NVDA installation as an administrator. Aftar that it works according to my tests. Closing as

[2020-01-26 21:47] #10700 closed

[2020-01-26 21:59] Adriani90 commented on #1445
We do not have any updates from the initial author since years. And I cannot reproduce this issue with NVDA 2019.3 Beta 2. Clsoing as abandoned and works for me. Please comment on it if you are still having this issue and we can reopen it. Thanks.

[2020-01-26 21:59] #1445 closed

[2020-01-26 22:05] Adriani90 commented on #3150
It might also depend on which level you have set on UAC. Or if you have the right privileges on the system.
Anyway, it seems we do not have real chances to reproduce this issue and it is really difficult to investigate further. If you still see this issue and it is not solved after starting NVDA as administrator or after changing UAC level, please comment on it and we can reopen.
Try also running

[2020-01-26 22:05] #3150 closed

[2020-01-26 22:21] Adriani90 commented on #3053
In Word 2010 NVDA reports from time to time "MSO Generic Control" and I get following error while tabbing through the envelope dialog. The errors occur especially near to the address book object:

[code]

In Word 365, with or without UIA for Word enabled in NVDA settings, I get following error:
[code]

@michaelDCurran does this need an external fix from Microsoft? Or is it something that can be do

[2020-01-26 22:45] Adriani90 commented on #7659
@ivnc did you get any log files from the users?

[2020-01-26 22:55] Adriani90 commented on #8354
This is covered in #7757.

[2020-01-26 22:55] #8354 closed

[2020-01-26 22:55] Adriani90 commented on #8620
Ok, this is only reproducible when "read page after page load" is enabled in NVDA's settings under browse mode settings.

[2020-01-27 01:56] jscholes commented on #8620
@Adriani90 as already indicated in https://github.com/nvaccess/nvda/issues/8620#issuecomment-412805573.  I should also point out that if the referenced setting is enabled, NVDA doesn't announce the accessible role of a standard web page as "document" either.

[2020-01-27 16:46] emilyuhde commented on #10186
I'm running into this issue with NVDA as well when `role="alertdialog"` and the content text is being pointed to with `aria-describedby`. It would be great if this issue could be addressed soon.

[2020-01-27 21:11] elliott94 commented on #10686
Apologies. Just to confirm - I don't have any add-ons present. All tests were performed with a single Exchange account and Cached Mode disabled - so that the Outlook client is forced to fetch new mail from the Exchange server each time - it doesn't rely on the presence of PST/OST files.

[2020-01-27 22:41] DalisonCPU opened #10724 "Log error messages"
### Steps to reproduce:

### Actual behavior:
NVDA works normally, but whenever a window is opened the error sound is played.
### Expected behavior:
That the error sound is not reproduced
### System configuration
#### NVDA installed/portable/running from source:
Instaled version
#### NVDA version:
NVDA 2019.3beta2
#### Windows version:
Windows 10
#### Name and version of other software in use when

[2020-01-27 23:08] Adriani90 commented on #10724
Could you please run the com registration fixing tool in nvda menu / tools? Is the issue still occuring after that?

[2020-01-28 01:59] DalisonCPU commented on #10724
Yes, I used this tool function but it didn't work.
-----Mensagem original-----
De: Adriani90
Enviada em: Segunda, 27 de Janeiro de 2020 15:08
Para: nvaccess/nvda
Cc: DalisonCPU; Author
Assunto: Re: [nvaccess/nvda] Log error messages (#10724)

Could you please run the com registration fixing tool in nvda menu / tools? Is the issue still occuring after that?

--
You are receiving this because you au

[2020-01-28 03:45] larry801 opened #10725 "One link in user guide is http only but changed to https in a previous pull request"
### Steps to reproduce:
Go to this link https://cldr.unicode.org/ in user guide
### Actual behavior:
Cannot go to CLDR database
### Expected behavior:
On CLDR - Unicode Common Locale Data Repository page

[2020-01-28 07:19] andrew-l-d commented on #10700
No, I did not test with NVDA 2019.2.1 as a portable.  Apologies for the inconvenience.

Andrew

[2020-01-28 08:22] Brian1Gaff commented on #10724
Did you reboot the machine after running the tool?
 One other question, have you changed or updated any other software since
the beta 1 worked, IE if you run beta 1 now does it still work?
 If for example something  like Avast or avg is on the machine I have found
some very odd issues with loading bits of nvda. No idea as to why myself,
but often a complete removal and running the registration too

[2020-01-28 08:57] Adriani90 commented on #10698
Closing as fixed in #10710.

[2020-01-28 08:57] #10698 closed

[2020-01-28 09:09] CyrilleB79 commented on #10292
Reproduced this issue with eSpeak and Firefox 72.0.2 (64 bits) and NVDA 2019.3beta2

STR:
* Open Firefox
* Search "NVAccess" on Google
* Press 1, 2, 3 to go to the first result
* Press NVDA+DownArrow (line 720 in the log)

Result:
After line 733, NVDA does not speak anymore. Need to press again NVDA+DownArrow (line 735) to continue reading.
Again after line 776, NVDA stops speaking. I need to pres

[2020-01-28 10:01] feerrenrut commented on #10024
Rather than cleaning up the config in-place, it might be better to have an "export / import" config option.

I don't think a "messy" config is something that causes a problem, and it's even rarer that someone cares about it. Because the core use case of this and benefit isn't obvious, there isn't much point discussing the implementation details. I'll close this issue for now.

[2020-01-28 10:01] #10024 closed

[2020-01-28 10:13] feerrenrut commented on #5199
II think I'll close this. At the moment you can use the scratchpad to avoid having to install the addon. You could link the directories as Jamie suggested, or you could use a directory synchronization tool to keep the scratch pad in sync with the addon repo. If you do this, then working on an addon from an IDE (opening the NVDA source code as a project, with the addon synchronized with the scratch

[2020-01-28 10:13] #5199 closed

[2020-01-28 10:19] feerrenrut commented on #6653
I don't think this is a good use of time, and only introduces noise into the history. As mentioned we have the linter to stop new issues from being introduced, and this should gradually affect older files too. Even if this was done by the community as a contribution, I don't think we could justify the time to review something like this.

[2020-01-28 10:19] #6653 closed

[2020-01-28 10:48] #10633 closed

[2020-01-28 11:02] feerrenrut commented on #10696
If it becomes necessary, we can specify the python version via the `appveyor.yml` file. We currently have `environment:  PY_PYTHON: 3.7-32`
See also: https://help.appveyor.com/discussions/problems/10557-unexpected-python-version

[2020-01-28 11:12] Adriani90 commented on #10724
cc: @michaelDCurran it seems the registration fixing tool fails here. According to the log the DLLs are not registered completely. It seems to affect Google Chrome, Teamtalk 5 and Notepad.
@DalisonCPU have you tested with all addons disabled and also using different synthesizers?

[2020-01-28 11:57] feerrenrut commented on #10717
Fixed in commit 767640b via PR #10718

[2020-01-28 11:57] #10717 closed

[2020-01-28 12:30] feerrenrut commented on #10292
I ran into some similar issues when working on #10593.

If someone wants to investigate further, in #10593 there are some unit tests that really helped to investigate, I put a log call in the start of "speak without pauses" to collect all the input speech sequences. Then the output can be inspected to see if that is where the problem is.

Other code I found suspicious was:
- https://github.com/nva

[2020-01-28 12:54] Adriani90 commented on #10692
cc: @feerrenrut is this a candidate for P2? Maybe a key stroke to report the screen curtain status would be useful here as well (i.e. nvda+0 for enabling or disabling the screen curtain). This would be more consistent to what we use elsewhere. I.e. the status of the option "moving focus to focusable elements in browse mode" is also not announced at the start but you can check the status with NVDA+

[2020-01-28 12:55] Adriani90 commented on #10692
in the case of a key stroke we would not need a reporting at the start of NVDA.

[2020-01-28 13:55] feerrenrut commented on #10692
I don't think this should be as high as P2. A user can use the gesture to ensure that screen curtain is enabled by toggling it. That said I think there is certainly room for improvement in the UX for screen curtain. I think that hearing the earcon or speech for enable / disable should be configurable. I think it is unnecessary to have both. I think screen curtain should be improved so that regardl

[2020-01-28 13:59] feerrenrut commented on #10692
I would be happy to take a PR for all or any part. Despite requiring a bit of testing, and lots of permutations of state particularly to "ensure the user is notified in a consistent way regardless of how screen curtain is enabled / disabled", I have labelled it as 'good for new dev' since very little knowledge about NVDA itself is necessary to work on this.

[2020-01-28 16:27] akash07k commented on #10695
NVDAExtensionGlobalPlugin looks promising as it is python 3 compattible and has many features.
Gonna try it soon.
Thanks for letting me this know/

[2020-01-28 18:52] Adriani90 commented on #10705
Closing as fixed in #10722.

[2020-01-28 18:52] #10705 closed

[2020-01-28 18:55] Adriani90 commented on #7817
Actually this works just fine when running the portable copy as administrator. I guess this is due to system privileges and there is not much NVDA developers can do about it. I am closing as works for me.

[2020-01-28 18:55] #7817 closed

[2020-01-28 19:16] alanfluff commented on #9534
@Adriani90 Sorry for the radio silence. I am embarrassed to say I can't remember where I posted it.

However, since posting this I found a couple of items that suggested this attribute is not simply read out in all circumstances, notably [Gotchas when describing content](https://developer.paciellogroup.com/blog/2018/09/describing-aria-describedby/) and *at one time* (before an edit), a similar sto

[2020-01-28 19:19] Adriani90 commented on #9534
Thank you very much for your reporting Alan. Very appreciated. This is well noted.

Von: Alan <notifications@github.com>
Gesendet: Dienstag, 28. Januar 2020 20:16
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Using aria-describedby to provide a long description of an img does not work (for

[2020-01-28 20:37] jscholes commented on #8620
This behaviour is codified, whether intentionally or not, within the `speech.getPropertiesSpeech` function.  It explicitly determines that an object's role should not be announced if the reason for speaking that object's properties is a say all.

When the "Automatic Say All on page load" setting is enabled, this logic path will be used, and the role will never be inserted into the speech sequence.

[2020-01-28 20:39] jscholes commented on #8620
As an aside, how do we all feel about an automatic say all applying to dialogs in the first place?  The setting is called, "Automatic Say All on page load", but a modal is not a new page (or a page full-stop).

[2020-01-28 22:54] iamrafan opened #10727 "Focus indicator not visible during keyboard navigation when using NVDA"
### Steps to reproduce:
1) Open https://codepen.io/iamrafan/pen/RwNdpOK?editable=true
2) Turn on NVDA
3) Navigate to the "New item" button using keyboard and press enter key
4) Observe the focus indicator on the first ```menuitem``` "Email Message" is not visible and upon pressing down arrow, the focus on the second ```menuitem``` "Calender Event" is visible

![NVDA focus bug](https://user-images.

[2020-01-29 07:33] frastlin opened #10728 "aria-active Does Not Update According to NVDA in Chrome"
### Steps to reproduce:

1. Using NVDA 2019.2.1 and latest version of Chrome, visit:
https://react-dom-bug.stackblitz.io/home
2. There are 2 links at the top, home and dash-board. Click on "dash-board"
3. Observe that "Home" is still the selected element according to NVDA, but when you inspect the elements, dash-board is the only element with aria-selected="page".

### Actual behavior:

When you h

[2020-01-29 08:25] michaelDCurran commented on #10292
At least for OneCore, the issue seems to be that it will stop on the first line of text after a blank line. The reason is that the blank line produces an index, but no actual text. And it looks like both OneCore, and Sapi5 (it seems() fails to include an index in its callback if the mark tag in the ssml appears directly before another mark tag, with no text in the middle. E.g.
[code]
In this case,

[2020-01-29 08:28] zstanecic commented on #10292
Hi Mick.

These problems occurs with sapi 4, too.

Tjere are some synths, like polish syntalk which has the problem with these marks.

Acapela group NVDA addon has this problem, too.

I’ve thought that it’s on their end, and I reported the problem to them.

From: Michael Curran <notifications@github.com>
Sent: Wednesday, January 29, 2020 9:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zsta

[2020-01-29 08:28] michaelDCurran commented on #10292
Text to reproduce this with Onecore:
[code]
If you get OneCore to read this with sayAll, it will reach 5. and stop.
Yet if you remove the blank line, it will continue on down to 8.

[2020-01-29 08:32] zstanecic commented on #10292
Hi Mick,

This bug is reproducibl even with the latest alpha.

From: Michael Curran <notifications@github.com>
Sent: Wednesday, January 29, 2020 9:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Onecore: sayall broken (#10292)

Text to reproduce this with Onecore:

1.
2.
3.
4.

5.
6.
7.
8.

[2020-01-29 10:46] brennanyoung opened #10729 "Edge (Chromium) browse mode not working at all"
### Steps to reproduce:
Start NVDA
Start Microsoft Edge browser
Visit any 'known good' WCAG compliant webpage, for example https://tink.uk/
Try to browse it using browse mode shortcuts such as H for 'next heading'.

### Actual behavior:
All keypresses are sent to the browser, regardless of element semantics.
(Forms mode seems to work fine. UI labels are announced etc.)

### Expected behavior:
Give

[2020-01-29 11:09] dingpengyu commented on #10725
cc @feerrenrut

[2020-01-29 12:40] #10613 closed

[2020-01-29 12:45] feerrenrut commented on #10725
Fixed with commit  cd9c532 via #10726

[2020-01-29 12:45] #10725 closed

[2020-01-29 12:54] brennanyoung commented on #10729
OK, apparently a MS bug. I got this workaround from higley on slack

Edge Beta (Chromium 79) has UIA enabled by default, which breaks virtual cursor navigation in JAWS and NVDA. To work around this for now, you need to disable UIA support in Edge and other Chromium-based web browsers (if your browser exposes this option). To do so in Edge 79:

- Start new Microsoft Edge (not the old one).
- From a

[2020-01-29 12:54] #10729 closed

[2020-01-29 14:41] feerrenrut commented on #10607
According to https://github.com/nvaccess/nvda/issues/10607#issuecomment-565915565 by @michaelDCurran this is likely caused by an error in espeak. Given that, and due to the imminent release of 2019.3, we only have two options:
- Revert espeak to a prior version and test if that works. Though note that many users wanted espeak to be updated.
- Accept that NVDA with espeak will crash when run under

[2020-01-29 14:44] feerrenrut commented on #10599
This is not a regression in 2019.3, and it seems unlikely that NVDA is at fault here. If this only happens when you have many tabs open, it indicates to me it is either a problem caused by running out of memory, or perhaps firefox taking a long time to make API's useable again while pages are restored from cache (longer than NVDA is willing to wait).

[2020-01-29 14:53] feerrenrut commented on #10635
@leonardder could you comment on which PR introduced the regression?

[2020-01-29 15:21] zstanecic commented on #10607
Hi Reef,

Sorry, but espeak project is no more a serious project…

The last version of espeak if you want to ask me was espeak 1.48.15.

When the new team of developers started to develop espeak NG, the quality of the synthesizer started to get worse, even they don’t care about windows, and they are linux minded people.

We really don’t know, which the next bug will be?

They even started to add t

[2020-01-29 15:56] davidacm commented on #10599
Is not an issue introduced in the 2019.3 version. But the issue occurs with NVDA and not with other screen readers. My computer has enough memory (32gb of ram) that should be enough to run firefox in 64 bits.
The issue won't disappear even if I close all the tabs, leaving only one open.
In my opinion NVDA should take care when calling those unsecure functions, like  oledll.oleacc.AccessibleObjectF

[2020-01-29 16:08] Stefany93 commented on #8466
Are there any plans for Edge to support `role="alert"`?

[2020-01-29 16:13] feerrenrut commented on #10621
Closing as a duplicate of #10721 which has the template filled out.

[2020-01-29 16:13] #10621 closed

[2020-01-29 16:18] josephsl commented on #8466
Hi, at least for EdgeHTML Edge, not at the moment as it is deprecated. Chromium-based Edge 79 and later might be the place to add this functionality. Thanks.

From: Stefany Newman <notifications@github.com>
Sent: Wednesday, January 29, 2020 8:09 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [nv

[2020-01-29 16:30] feerrenrut commented on #10724
@DalisonCPU Can you attach the NVDA log after running the com registration fixing tool please? Perhaps we can see why it fails.

[2020-01-29 16:32] feerrenrut commented on #10620
I can reproduce this issue in 2019.3beta2 and also in 2019.2.1. While it is not a regression it would be good to fix it if we can. It won't get fixed for 2019.3.

[2020-01-29 16:34] josephsl commented on #10620
Hi, I get a feeling that this is caused by name/description pair where both strings are the same. If so, fixing this should also fix the problem experienced by people trying to install add-ons from Add-ons Manager rather than from File Explorer. Thanks.

From: Reef Turner <notifications@github.com>
Sent: Wednesday, January 29, 2020 8:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed

[2020-01-29 16:36] feerrenrut commented on #10619
I expect this is a quick fix, though I haven't investigated. Since it is not causing any noticeable bad behavior, it won't get fixed for 2019.3

[2020-01-29 17:02] feerrenrut commented on #10706
Could you give a snippet from speech viewer to highlight the problem please? Looking at the HTML for the page there are quite a few lists for each item in (what visually looks like a table, but isn't marked up as one).

[2020-01-29 17:35] feerrenrut commented on #10612
I can reproduce this in Excel 2013 and NVDA 2019.3beta2. Steps I took:
1. Create a new sheet
1. Edit a cell
1. Press right arrow.

[2020-01-29 17:47] feerrenrut commented on #10711
This could definitely could be improved, as @leonardder said it won't receive attention for 2019.3.

[2020-01-29 17:57] feerrenrut commented on #10659
NV access provided a pull request to NVDA Remote to make it compatible with 2019.3. See the now merged pull request NVDARemote/NVDARemote#211.

Since this issue is really related to NVDA remote and not NVDA, I'm going to close this issue. There is a relevant issue already on NVDA Remote (NVDARemote/NVDARemote#207) which it looks like you created, but I mention it for the benefit of others :smile:

[2020-01-29 17:57] #10659 closed

[2020-01-29 18:05] chojiro commented on #10706
It actually happens everywhere. That was just as an example.

If you go to the first heading of this issue for instance, then use NVDA+A and down arrow from there repeatedly, it should repeat list item as you go down when already in the list.

Happens with landmarks too.

I can't copy it from the speech viewer, since it weirdly doesn't show up there. All the extra "list with three items" and "out

[2020-01-29 18:10] leonardder commented on #10635
That must have been #10462 or #10499

I probably missed a check for the formatting config options.

[2020-01-29 18:57] feerrenrut commented on #10617
Thanks for investigating further @DrSooom. I'm going to close this issue for now since it doesn't have anything concrete for us to go on. If something comes of project64/project64#1683 please open a new issue.

[2020-01-29 18:57] #10617 closed

[2020-01-29 18:59] feerrenrut commented on #10600
@mehgcap  Could you please confirm this is resolved with the latest beta?

[2020-01-29 20:19] elliott94 commented on #10686
Interestingly, the following errors are consistently generated in my log file whenever Outlook is first launched:

ERROR - RPC process 7396 (nvda_slave.exe) (09:20:23.062):
__main__.main:
slave error
Traceback (most recent call last):
  File "nvda_slave.pyw", line 94, in main
  File "comHelper.pyc", line 22, in _lresultFromGetActiveObject
  File "comtypes\client\__init__.pyc", line 173, in GetActi

[2020-01-29 23:01] CyrilleB79 commented on #10706
Here is the snippet from log viewer doing what @chojiro suggests in last message on this page:

<details><summary>Speech viewer snippet</summary>
<p>

[code]

</p>
</details>

[2020-01-29 23:01] CyrilleB79 commented on #10706
Here is the snippet from log viewer doing what @chojiro suggests in last message on this page:

<details><summary>Speech viewer snippet</summary>
<p>

[code]

</p>
</details>

[2020-01-29 23:03] DrSooom commented on #10686
See also: Issue #8961

[2020-01-30 04:35] kvark128 opened #10731 "NVDA does not reports, when text is unselected in browse mode"
### Steps to reproduce:
1. Select some text in browse mode. Can use any document with browse mode.
2. Press any arrow key to cancel the selection.
### Actual behavior:
NVDA reports the character under the virtual cursor, but does not report that the text was unselected.
### Expected behavior:
NVDA should announce that the text was unselected.
### System configuration
#### NVDA installed/portable/r

[2020-01-30 05:54] artindk commented on #10719
I have tested with the new NVDA 2019.3beta 3 and still have the same problem.

[2020-01-30 06:12] leonardder commented on #10635
Actually, I just tried to reproduce this with firefox 72 and edge Chromium 79, but couldn't in browse mode. @Adriani90 could you please give an example of a website where you experience this?

Note that in focus mode, groupings are always reported, just as links are, so this is expected behavior.

[2020-01-30 08:45] chojiro commented on #10706
Speech viewer is inadequate for the task.

Looking at your snippet, it doesn't do it, so either you're not
encountering the problem with beta 3 or your speech viewer is omitting it
as well, like mine. That's why I didn't include my snippet, since it
doesn't actually prove anything.

It speaks for instance "list with three items" every time you arrow down.
Speech viewer doesn't show that. It just s

[2020-01-30 09:46] CyrilleB79 commented on #10706
Yes, I have encountered the issue during the speech viewer snippet and this snippet proves that the issue is present.
Indeed, during the snippet registration, I have only pressed NVDA+DownArrow and then repeatedly DownArrow.
We should have expected the "list  with 3 items" announcement only one time whereas we can see it is spoken 18 times. And we are clearly in the same list, not in another list

[2020-01-30 10:19] feerrenrut opened #10732 "Convert control types constants into enums"
This issue stemmed from a comment in #10703

As a follow up, do the same for the rest of the constants in control types, and ensure that all of NVDA uses the enum versions and officially deprecate (and give a date of removal for) the module level constants.

While doing this, add a deprecation comment to SpeechReason constants also.

_Originally posted by @feerrenrut in https://github.com/nvaccess

[2020-01-30 10:34] vinaychaudhary1504 opened #10733 "NVDA is reading source/JavaScript code in IE 11"
### Steps to reproduce:
1) Turn on NVDA
2) Go-to : https://www.bankofamerica.com in IE
3) By using tab key, navigate to Help link at top right corner.
4) After the help link is open, user will get a model dialogue to select state.
5) you will be seeing NVDA is reading span Element. As <span class='spa-input-label--required'>*</span>

### Actual behavior:
NVDA is reading source/JavaScript code.

##

[2020-01-30 10:48] Qchristensen opened #10734 "Navigating between messages in Outlook 365 causes NVDA to go silent."
### Steps to reproduce:

1. Open Outlook.
2. Move to any message (in a folder with multiple messages in it).
3. EITHER press control+tab to move to the preview window or press ENTER to open the message.
4. Press CONTROL+. (CONTROL+PERIOD) to move to the next message.

### Actual behavior:
At Step 4, the new message loads, the focus appears to be in the body of the message, but NVDA is silent.

Add

[2020-01-30 15:06] CyrilleB79 commented on #10733
Yes, I have already had this issue on a page of an application internal to my company. It has appeared a long time ago and I had always thought that it was due to a poor implementation of this old application, so I did not raise any issue.
After quick test, I can tell that this issue is present in 2019.3beta3 and in 2018.3 but not in 2017.3.

[2020-01-30 15:22] CyrilleB79 commented on #10734
May it be an Outlook issue?
Here with outlook 2016 and without NVDA (Windows Magnifier only):
1. open a message
2. press control+, to go to next message
3. press control+, to go to next message
4. press Escape to close the message

After step 2, the next message is opened. After step 3, the next message is not opened. After step 4 the message window is not closed whereas it should. I need to press

[2020-01-30 16:04] Adriani90 commented on #10733
@CyrilleB79 could you try to find out which version after 2017.3 is the first where this issue is reproducible? Is it maybe since version 2017.4?

[2020-01-30 16:05] CyrilleB79 opened #10736 "Many errors in log when moving the mouse in Internet explorer"
### Steps to reproduce:
* Open IE
* Move the mouse on the page over an edit field (or maybe other form elements) To do this, you can go with virtual cursor on an edit field, e.g. with 'E' letter and then press NVDA+PavNum/ to move the mouse cursor to this edit field.

### Actual behavior:
Many error sounds are heard and many errors can be seen in the log

<details><summary>fragment of log when I a

[2020-01-30 16:17] feerrenrut commented on #10655
Ah, I can reproduce this now if I set my monitor resolution lower. I noticed in the image the the elements list dialog is taking up the whole screen. @lijianwei2019 if possible, you may have better luck with a higher screen resolution but using the "scaling" setting in Windows to make application bigger.

We have a hard-coded size for the tree-view in this dialog, I'm going to see if I can make it

[2020-01-30 16:18] Adriani90 commented on #10676
I suggest to wait until at least Thunderbird 72 is released since this was the first beta version where this issue seems to be reproducible. On the current final release the issue is not reproducible according to my tests.

[2020-01-30 16:21] Adriani90 commented on #10626
I agree with @XLTechie. Adding a click sound or something like that should be enough for users to know the current volume they have set up. The percentage of the volume is not that important for the most users. If you are doing audio editing you get the percentage information anyway through your audio editing software.

[2020-01-30 16:23] CyrilleB79 commented on #10733
NVDA 2017.4 is OK. The regression has appeared in NVDA 2018.1.

[2020-01-30 16:33] chojiro commented on #10706
Indeed.

Seems to generally happen when NVDA is inside any kind of element, like tables, landmarks, etc, with the same result that the beginning announcement is spoken repeatedly as you arrow down.

[2020-01-30 16:36] tapper82 commented on #10676
Hi this is fixt with NVDA b3 and TB74 Thanks for looking at this for me. BTW NVDA B3 is running full time on my system now and going grate.

[2020-01-30 16:36] #10676 closed

[2020-01-30 16:40] tapper82 commented on #10736
Internet explorer is this 2005? Use Edge or even better Firefox.

[2020-01-30 16:43] tapper82 commented on #10733
Use Firefox! As IE11 is being replaced by Edge it would be a waste of time for NVDA devs to fix IE bugs. IMO.

[2020-01-30 16:46] tapper82 commented on #10664
Use Firefox.

[2020-01-30 16:46] Brian1Gaff commented on #10736
Yes if you use IE now funny things can happenwhch did not happen in thhe
last beta, fortunately it does not affect firefox. Could this be due to the
use of ie code again rather edge code for some page elements  as I read a
while back? Maybe these routines need to be made python 3 ready but as they
were not used nobody knew. Just a suggestion.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
P

[2020-01-30 16:48] Brian1Gaff commented on #10736
Yes that as maybe but it used to be fine, some people use ie for other
reasons.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
-----