[2018-12-28 11:16] Brian1Gaff commented on #9108
What does it do with the  later version of NVDA after the one you mention?

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2018-12-28 13:02] leonardder commented on #8819
I did some additional research on the ftdi2 interface. There is an [awesome programming reference](https://www.ftdichip.com/Support/Documents/ProgramGuides/D2XX_Programmer's_Guide(FT_000071).pdf).

The FTDI dll offers functions that behave like win32 functions. These include FT_W32_CreateFile to create a handle, FT_W32_ReadFile to read from the device, FT_W32_WriteFile with support for overlapped

[2018-12-28 20:35] vivek31be opened #9109 "NVDA is reading the content of chart if user press shift+tab on Chrome"
[NVDA-Chart-issue.zip](https://github.com/nvaccess/nvda/files/2715640/NVDA-Chart-issue.zip)

Steps to reproduce:
1) unzip the attached file. Open html with chrome from extracted folder.
2) strat NVDA, make sure NVDA is in browse mode by using keys insert+space.
3) do tab, it will show focus on entire chart and will read about chart.
4) do tab again
5) no do shift+tab, NVDA will not read any chart

[2018-12-29 08:56] k-kolev1985 opened #9110 "NVDA plays its sound for search suggestions, when going to fullscreen mode and vice versa in the YouTube player in Microsoft Edge"
### Steps to reproduce:
1. In NVDA's settings -> Object Presentation, enable the option to play a sound when search suggestions appear.
2. Open Microsoft Edge.
3. Go to www.youtube.com.
4. Open a video from the main page (doesn't matter which).
5. Wait for the video to start playing.
6. Bypass the "F" key, so it can be send to the YouTube player. This makes the player to go in fullscreen mode.
7.

[2018-12-29 09:11] k-kolev1985 opened #9111 "NVDA fails to read with mouse tracking post comments in Facebook with Microsoft Edge"
### Steps to reproduce:
1. Enable mouse tracking in NVDA. My mouse unit resolution is set to "Paragraph", but I don't think it matters in this case.
2. Open Microsoft Edge.
3. Go to www.facebook.com.
4. Log in with your Facebook account.
5. Try to read post comments in your news feed with NVDA's mouse tracking/echo feature.

### Actual behavior:
NVDA says only "comment" for each post comment.

###

[2018-12-29 14:31] josephsl commented on #9110
Hi, caused by odd controller for event fired by address bar. The simplest way to reproduce this problem is pressing F11 from anywhere. I’ll take a look at it from my add-on before writing a pull request so folks can test it thoroughly first. Thanks.

From: Kostadin Kolev <notifications@github.com>
Sent: Saturday, December 29, 2018 12:57 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed

[2018-12-29 15:31] josephsl commented on #9110
Hi,

Try today's Windows 10 App Essentials release (19.01.1/December 29th hotfix snapshot) and see if the problem is gone; if it is gone, I'll open a pull request regarding this problem.

Technical: the current Core implementation won't perform focus object comparison when controller for event with controller for count of 0 is detected. The add-on does fix this at the moment.

Thanks.

[2018-12-29 18:21] k-kolev1985 commented on #9110
I've played a few YouTube videos in fullscreen mode in Edge and the issue did not occur.

[2018-12-29 19:04] k-kolev1985 commented on #9110
Oops, sorry, I forgot to clarify. Yes, it is with today's snapshot of "Windows 10 App Essentials" - 20181229-dev.

[2018-12-30 02:42] josephsl commented on #5231
Hi,

Eighteen months later...

I'm putting the code through some more scenarios, and will provide a pull request once the code in my add-on says it is still working in Version 1809 (hopefully in the next few hours or so).

Thanks.

[2018-12-30 04:01] josephsl commented on #5231
Hi,

Technical: looping selectors do not expose value pattern (some might). For those that wouldn't, it would be best to coerce them into combo box without value pattern objects. not only this simplifies class checks, but it also removes code duplication.

Thanks.

[2019-01-02 03:07] larry801 commented on #8543
The "zh" locale even is not in translation svn repo.
It is safe to delete them

[2019-01-02 08:19] Adriani90 commented on #3609
@tspivey could you please reply to the comment above? Thanks.

[2019-01-02 08:30] Adriani90 commented on #4119
@vsfoote is there any further work on this issue? I guess it is still reproducible. Right?

[2019-01-02 08:34] zstanecic commented on #4131
Yes, the com error is reproducible by just starting outlook.

Using outlook version 2016/office365

ERROR - eventHandler.executeEvent (09:30:37.823):

error executing event: gainFocus on <appModules.outlook.UIAGridRow object at 0x04D54030> with extra args of {}

Traceback (most recent call last):

  File "eventHandler.pyc", line 150, in executeEvent

  File "eventHandler.pyc", line 165, in doPreGa

[2019-01-02 08:55] Adriani90 commented on #4102
@michaelDCurran if you agree with @josephsl, I guess this issue can now be closed. Right?

[2019-01-02 09:14] Adriani90 commented on #4094
cc: @jcsteh, @feerrenrut

[2019-01-02 09:32] Adriani90 commented on #4248
cc: @qchristensen, @michaelDCurran

[2019-01-02 09:35] Adriani90 commented on #4247
The part with Sound could be achieved once speech refactoring has been implemented. So also might be blocked by #8877

[2019-01-02 09:41] Adriani90 commented on #4242
@derekriemer, @jcsteh, @michaelDCurran, @feerrenrut your thoughts are very apreciated.

[2019-01-02 09:47] Adriani90 commented on #4236
Lots of users in Jaws are turning off Landmark reporting completely even because it causes too much verbosity on many web pages. But is it possible to handle a Landmark as a Container and leave it with the key "dot or Koma"?

[2019-01-02 09:59] Adriani90 commented on #4231
This is a duplicate of an issue I have created. In my opinion NVDA should Report the first menu item even though it is not highlighted but it is not a big priority.

[2019-01-02 10:01] Adriani90 commented on #8071
Closing as duplicate of #4231

[2019-01-02 10:01] #8071 closed

[2019-01-02 10:06] Adriani90 commented on #4224
I am testing in Word 2010 on Windows 8.1 with NVDA 2018.4. I cannot reproduce this issue. @advck1123 are you able to reproduce it with last Version of NVDA?

[2019-01-02 10:08] Adriani90 commented on #4221
@surfer0627 I guess you can still reproduce this issue. Right?

[2019-01-02 10:08] Adriani90 commented on #4221
cc: @bramd, @leonardder

[2019-01-02 10:12] Adriani90 commented on #4207
I can reproduce this in MS Excel 2010 but only when pressing alt for the first time after opening the application. After pressing escape and then alt again, NVDA reports the ribbon accordingly

[2019-01-02 10:42] Adriani90 commented on #4196
@mayson could you please give us an update regarding fl studio? Is it now somehow usable with NVDA? What exactly are the main issues with this application when using NVDA?

[2019-01-02 10:51] Adriani90 commented on #4182
@The_Dark_Man is this still reproducible? If yes, it might be a General Firefox bug but I cannot reproduce this issue.

[2019-01-02 10:52] Adriani90 commented on #4182
@ehollig I suggest to Close this issue since the author is not on Github anymore and the issue is very specific. I cannot reproduce it with NVDA 2018.4. If someone else reports it we can reopen it later. Thanks.

[2019-01-02 10:54] Adriani90 commented on #4167
I agree with @bdorer and suggest closing it because changing Default configuration changes Settings for all profiles. @ehollig what do you think?

[2019-01-02 11:03] Adriani90 commented on #4163
@oaron can you still reproduce this issue? @novalis7747 could you try to reproduce it please? I tend to think that NVDA remembers if you activated browse mode in a message box before pressing ctrl+r.

[2019-01-02 11:06] Adriani90 commented on #4162
@james.curd.razorfish is this issue still reproducible?
cc: @jcsteh if yes, is there already a Mozilla bug for this?

[2019-01-02 11:07] Adriani90 commented on #4162
@Martinator could you try to reproduce it please?

[2019-01-02 11:23] dnz3d4c commented on #4224
Adriani90 This is the user who previously used the advck1123 id.
I will take the time to test this issue.

[2019-01-02 11:30] Adriani90 commented on #4333
@derekriemer can you still reproduce it?

[2019-01-02 12:37] Adriani90 commented on #4318
@ateu is this still reproducible? I am using Chrome 71 and cannot reproduce this issue with NVDA 2018.4.

[2019-01-02 12:39] Adriani90 commented on #4317
@bhavyashah can you still reproduce the issue?

[2019-01-02 12:44] lukaszgo1 commented on #4317
Still reproducible on Windows 7.

[2019-01-02 12:46] Adriani90 commented on #4315
@bhavyashah could you please test with the last Version of Wordweb and Report last changes? Is the issue still occuring?

[2019-01-02 12:49] Adriani90 commented on #2707
@bhavyashah is this still reproducible on Windows 8.1?

[2019-01-02 12:49] Adriani90 commented on #4302
@josephsl, @bhavyashah is this issue still reproducible?

[2019-01-02 13:02] Adriani90 commented on #4296
@leonardder, @brian1gaff what do you think about my Suggestion above?

[2019-01-02 13:03] Adriani90 commented on #4296
@leonardder, @brian1gaff what do you think about my Suggestion above?

[2019-01-02 13:06] Adriani90 commented on #4288
@bhavyashah, @Brian1Gaff the design of the GUI changed also during 2018. Could you please test again with last CCleaner Version and Report if the issue still occurs? Thanks.

[2019-01-02 13:15] Adriani90 commented on #4283
I do not see any Response from @dhankuta. @dhankuta if you have any tables which you want to be included and of which you certainly know that they are valid, please reply as @jcsteh proposed above. Otherwise I suggest to Close this issue.

[2019-01-02 13:31] Adriani90 commented on #4271
@mltony Dows your last pull request solve this issue? If yes, maybe we should reference this issue in it as well. Thanks.

[2019-01-02 13:34] Adriani90 commented on #4271
@bhavyashah I guess you can still reproduce this issue. Right?

[2019-01-02 13:38] Adriani90 commented on #4266
@jstafford, @joyadeponche, @ehollig can you still reproduce this issue?
@jcsteh could this also be a Firefox issue?

[2019-01-02 13:43] Adriani90 commented on #4260
@domasofan are you still available for testing? Otherwise I suggest closing this issue because it covers multiple issues and for loosing Focus, freezing pages and so on are also other issues open. If @domasofan is not available anymore I think we should Close this and reopen it if he or someone else reports this issue again. Thanks.

[2019-01-02 13:59] Adriani90 commented on #4259
@josephsl, @michaelDCurran, @jcsteh any update on this issue? I think the priority for Windows 8 store apps is quite low. in favour o0f Windows 10. Right?

[2019-01-02 14:00] Adriani90 commented on #4259
Is this issue occuring also on Windows 10?

[2019-01-02 14:42] Adriani90 commented on #4424
@josephsl, @jcsteh, @norrumar is this issue still valid given the new WX Python Version used in NVDA now?

[2019-01-02 14:49] Adriani90 commented on #4415
@vgjh2005 are you still able to reproduce it?

[2019-01-02 14:51] Adriani90 commented on #4397
@bhavyashah are you still able to reproduce it? @nvdaes, @josephsl are you maybe available for testing as well? Thanks.

[2019-01-02 14:55] Adriani90 commented on #4390
@michaelDCurran, @feerrenrut I understand that during 2019 there will be a Project regarding this Feature. Do you think the priority is now higher for this?

[2019-01-02 15:01] Adriani90 commented on #4388
@jcsteh I suggest to Close this issue as well. Interupting speech in this Situation is definitely not the right way because notifications are then possibly ignored, i.e. in Windows 10.

[2019-01-02 15:06] Adriani90 commented on #4386
is this maybe because browse mode is enabled and Focus moves if automatic reading of Webpage is enabled? @rileyL6122428, @digitaltoast if you disable automatically read the web page after the page is loaded in NVDA Settings under browse mode, is then the issue still reproducible?

[2019-01-02 15:09] Adriani90 commented on #4385
@Qchristensen, @jessean1 could you please try to reproduce it with NVDA 2018.4? Is it still reproducible?

[2019-01-02 15:14] Adriani90 commented on #4379
@jcsteh, @michaelDCurran do you have any suggestions? @brian1gaff is this still a big issue for you?

[2019-01-02 15:35] esmobg commented on #9088
hi  and  happy new  year attache screen shot  for  sublime

nvda  not read  is here
![2019-01-02](https://user-images.githubusercontent.com/13334643/50598868-cb58b000-0eb4-11e9-8808-1243e07600f2.png)

[2019-01-02 15:39] josephsl commented on #4131
Hi,

I'm the original person behind this ticket...

The error from the last traceback (from another person) is quite different from the one I've seen, although it is true that COM error is still thrown. As that error deals with Outlook startup, I'll close this one for now.

Thanks.

[2019-01-02 15:39] #4131 closed

[2019-01-02 15:47] leonardder commented on #4102
Fixed in #7961

[2019-01-02 15:47] #4102 closed

[2019-01-02 15:48] josephsl commented on #4102
Hi,

Yes, this is an older issue that was the reason for defining appModule.isGoodUIAWindow and friends in recent releases. See #7961 for details on justifications and implementation discussion.

Thanks.

[2019-01-02 15:59] josephsl commented on #4236
Hi,

Landmarks are treated as containers, therefore what Adriani is suggesting has already been implemented.

I'll close this for now, and it should be reopened if and only if we get a very good justification as to why we should reconsider landmark verbosity as suggested by the original poster. Thanks.

[2019-01-02 15:59] #4236 closed

[2019-01-02 16:01] josephsl commented on #4247
Hi,

Not that one - #4877 is the speech refactor issue. Thanks.

[2019-01-02 16:03] josephsl commented on #4248
Also CC: @codeofdusk

[2019-01-02 16:20] josephsl commented on #4379
Hi,

Next branch -> master/alpha snapshots. If this happens while using a "repackaged" Outlook Express that's floating around, then we might as well leave it open, otherwise let's say goodbye (as this is Windows XP/Outlook Express specific).

Thanks.

[2019-01-02 16:38] josephsl commented on #4231
Hi,

My word still stands: we want accuracy in regards to menu item selection, not dictate that screen readers may announce the first item regardless of selection state. I'm also interested in seeing counterexamples as noted in the closed ticket.

CC @MichaelDCurran

[2019-01-02 16:44] josephsl commented on #4385
Hi,

Or, for that matter, is this fixed for all in 2018.4/alpha? Thanks.

[2019-01-02 16:50] josephsl commented on #4388
Hi,

But not until we hear from @bhavyashah confirming the existence of this bug in 2018.4, as there were changes made in event handling that may affect this issue. Thanks.

[2019-01-02 16:54] josephsl commented on #4397
Hi,

Let's close this one, as we already have an add-on for VLC and changes were made to VLC in recent years.

Thanks.

[2019-01-02 16:54] #4397 closed

[2019-01-02 16:54] josephsl commented on #4415
Hi,

Preferably with Firefox 52 and higher? Thanks.

[2019-01-02 16:55] k-kolev1985 commented on #4371
@Adriani90 Not exactly. I've filed a bug for Poedit on GitHub, but it was about TAB navigation, which includes the fields for comments and notes. Now the only way to read notes for translators in Poedit 2 is to use NVDA's object navigation to get to the object which is the text for the notes.

I don't have enough technical knowledge to explain to the developer of Poedit the bug about not being abl

[2019-01-02 17:10] josephsl commented on #4424
Hi,

Original poster: @NVDAEs, can we get an updated version of dictionary manager if you don't mind attaching it here or sending it to add-ons list? Thanks.

[2019-01-02 17:19] josephsl commented on #4242
Also @MarcoZehe and anyone from Microsoft as well.

[2019-01-02 17:26] josephsl commented on #4302
Hi,

It may have been resolved in a recent NVDA release, as focus is moved back to the app you were working on. For now, it shall be closed - please feel free to reopen and mention me if someone can reproduce this on 8, 8.1, and various iterations of 10.

Thanks,

[2019-01-02 17:26] #4302 closed

[2019-01-02 17:49] josephsl commented on #4167
Hi,

Closing as requested.

[2019-01-02 17:49] #4167 closed

[2019-01-02 18:01] josephsl commented on #4259
Hi,

Not by much, as most apps do come with their own executables (including converted desktop apps). I'm leaving this open in case we can find a solution for wwahost issue. Thanks.

[2019-01-02 18:07] josephsl commented on #4569
Hi,

This issue mainly affects Windows 8.x, as Windows 10 do come with apps which have their own executables. Note that appPath property from another pull request might help out if needed.

Thanks.

[2019-01-02 18:10] nvdaes commented on #4424
Hi, seems the attached pluggin is lost. Unfrtunately, I'm not good saving previous work locally, and frequently I loose previous works if I don't save it on a remote repo (sorry but order and planning or saving things to find them later is not one of my abilities. I have found a conversation on the old add-ons list where we commented with @Christianlm the possibility of creating a dictionary manag

[2019-01-02 18:16] josephsl commented on #4283
Hi,

That's because @dhankuta has gone on to the other world (deceased). I'm closing this because of this and also because his request was fulfilled not long after.

Thanks.

[2019-01-02 18:16] #4283 closed

[2019-01-02 18:17] #4424 closed

[2019-01-02 19:10] josephsl commented on #4569
Hi,

Import test: test fails - files with an exclamation mark in the middle of the name isn't imported.

I'd go for command line version (see the example code fragment above), as it can be passed onto app module handler string replacement patch. I'll send a pull request soon.

Thanks.

[2019-01-02 19:13] Brian1Gaff commented on #4379
Floating around? No just the odd thing. I do not want to see outlook Express
broken though, as I know a lot of folk still use the patched version in
Windows 7. Its more of an issue with Windows 10 as Microsoft insist in
uninstalling it every update, despite it being a far more user friendly and
capable newsreader and email program than their rubbish mail software and
arguably Thunderbird with its

[2019-01-02 19:55] alexlee-dev commented on #8395
I'm having the same issue. With NVDA off, using the keys to navigate between focus works as expected, but once NVDA is on, arrow keys work as browse mode.

[2019-01-02 20:15] josephsl commented on #4569
Hi,

An unexpected case showed up on Windows 10: The Twitter PWA (progressive web app) that is hosted inside WWAHost.exe. If PWA's are hosted inside wwahost, then this boosts priority of this issue, as more PWA's may show up on Microsoft Store.

Thanks.

[2019-01-02 20:23] josephsl commented on #4569
Hi,

Actually, GetApplicationUserModelId is way faster than command line method, validating @JcSTeh's hunch.

Thanks.

[2019-01-02 21:00] jstafford commented on #4266
This issue is so old I don't remember all of the context around it. I think I was trying to get the single page web application I was developing to work with NVDA, but when NVDA didn't seem to work right for me on other simple web pages, I filed this bug of a specific case I ran into and moved onto other things. I don't have easy access to a Windows machine right now (doing all my development on M

[2019-01-02 21:44] josephsl opened #9117 "WWAHost/app window: separate app window role coercion from app module"
Hi,

A follow-up to #4569 and should serve as a foundation for fixing the latter issue:

### Background:
Various apps from Windows 8/8.1/10 are hosted inside WWAHost, particularly for apps that include web browser rendering engine controls for their user interfaces (for example, Store from Windows 8.x, Twitter app from Windows 10, etc.). In the Windows 8.x era, WWAHost was responsible for hosting

[2019-01-02 21:46] josephsl commented on #9117
CC @michaeldcurran, @JCSTeh, @feerrenrut

[2019-01-02 22:00] steverep commented on #3944
@Adriani90, I do not have access to the computer that I could reproduce this on anymore, so I'm unable to confirm if I still have the issue.

[2019-01-03 01:15] josephsl commented on #4259
Hi,

And I found one: kernel32::GetPackageFullName. This function returns a serialized representation of an app package info, including name, version, architecture, and family. Each part is separated by an underscore, which makes it easy to parse this (index 0 is publisher.name, index 1 is version).

I'll come up with a pull request in the next few hours.

Thanks.

[2019-01-03 10:56] Brian1Gaff commented on #9117
Does this imply that the old mshtml stuff in windows will be removed as I'd
have thought quite a number of older pieces of software still use its
resources. I know you have no crystal ball on what Microsoft might be
thinking about legacy code, but since recent chat about changing Edge to use
another engine, it did cross my mind that they may well be preparing to drop
the old code.
 Brian

bglists@

[2019-01-03 15:41] josephsl commented on #9117
Hi, no, MSHTML is still present for benefit of those using mission-critical apps that still rely on IE technologies. Thanks.

From: Brian Gaff <notifications@github.com>
Sent: Thursday, January 3, 2019 2:56 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] WWAHost/app window: separate app windo

[2019-01-03 21:16] andrew-l-d opened #9120 "NVDA not presenting emojis when writing them"
Using NVDA 2018.4 on Windows 10 1803.  Emojis not presented correctly under the following circumstances.
When writing in either Word or an Outlook email, if I include an emoji it is reported  as a number.  For example, the smiling eyes emoji when entered either by using colon and right parenthesis or by selecting from the Windows selection panel is announced as 12.  If I restart NVDA while in the

[2019-01-03 21:22] josephsl commented on #9120
Hi, how about with different speech synthesizers (OneCore, eSpeak, etc.)? Thanks.

From: andrew-l-d <notifications@github.com>
Sent: Thursday, January 3, 2019 1:17 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA not presenting emojis when writing them (#9120)

Using NVDA 2018.4 on Windows 10 1803. Emojis not presented corr

[2019-01-03 21:55] andrew-l-d commented on #9120
Sorry, I meant to mention that changing between eSpeak, Windows one core and SAPI 5 voices makes no difference.

Andrew

From: Joseph Lee <notifications@github.com>
Sent: Friday, 4 January 2019 8:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: andrew-l-d <access_tech@iprimus.com.au>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA not presenting emojis when writing them

[2019-01-03 23:54] josephsl opened #9121 "winUser.findWindow: incorrect error thrown when handle is 0- in some cases"
Hi,

I'm thinking some add-ons (not mine) might rely on winUser.FindWindow, thus raising the below issue (the function name itself may need to be renamed, and will be taken care of as part of a follow-up issue.

### Steps to reproduce:
Run the following code fragment from Python console:

import winUser
winUser.FindWindow("test", None)

### Actual behavior:
If handle is 0, NVDA says, "the operatio

[2019-01-04 00:22] josephsl commented on #9121
Hi,

Upon further investigation, it was found that ERROR_SUCCESS is "raised" if winUser.FindWindow is executed from Python Console. I'll edit the issue content accordingly.

Thanks.

[2019-01-04 00:42] josephsl commented on #9121
Hi,

Revising, again... It turns out error 0 is still thrown while running add-ons, too. I'll do some digging.

Thanks.

[2019-01-04 01:00] josephsl commented on #9121
Hi,

It appears this issue is gone in Python 3.7 - it does raise correct error if handle is zero. Thus I'll put appropriate labels for this one.

Thanks.

[2019-01-04 02:32] khsbory opened #9122 "NVDA browse mode doesn't support aria-modal attribute"
Hello, all.
I’m Hyongsop Kim in Korea and NVDA user.
I want to report and suggestion about supporting aria-modal attribute.
I’m using NVDA alpha snapshot latest version with Firefox and Chrome.
As you know, once modal dialog will be applied, in old days, aria-hidden attribute is used to hide contents except dialog contents from assistive technology.
But after ARIA 1.1 is published, aria-modal true

[2019-01-04 03:45] dangmanhcuong87 opened #9123 "Shift key does not pause speech"
Shift key does not pause speech on Windows 10 v 1809.
### Steps to reproduce:
- Run NVDA.
- Open a dialog to make NVDA read.
- Press the Shift key.
### Actual behavior:
- NVDA continue reading the current content.
### Expected behavior:
- NVDA pauses speech, and resume if pressing shift key again.
### System configuration
#### NVDA installed/portable/running from source:
- NVDA installed.
#### NVD

[2019-01-04 03:48] josephsl commented on #9123
Hi, can you try it again after restarting with all add-ons disabled? Thanks.

From: Dang Manh Cuong <notifications@github.com>
Sent: Thursday, January 3, 2019 7:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Shift key does not pause speech (#9123)

Shift key does not pause speech on Windows 10 v 1809.

Steps to reproduce:

[2019-01-04 03:55] dangmanhcuong87 commented on #9123
Hi
I've just tried that step, and the problem still occurs. This also occurs on my friend's laptop running Windows 10 v 1809.
Thanks
Cuong
----------------
Dang Manh Cuong
 The Assistive technology specialist
 Sao Mai Vocational and assistive center for the blind
52/22 Huynh Thien Loc St., Hoa Thanh ward, Tan Phu dist., HCM, Vietnam.
 Tel: +8428 7302-4488
 E-mail: info@saomaicenter.org; tech@saoma

[2019-01-04 07:49] dangmanhcuong87 commented on #9123
Hello all
I solved the problem by completely removing, and reinstalling NVDA. Additional info, I've install NVDA for the first time in about 2012 - 2013, then created the portable version from that point. When reinstall Windows, or change to another computer, I just install that portable version to the new OS. When the update came, I just install update, and make the new portable that overwrite th

[2019-01-04 09:35] Brian1Gaff commented on #9123
I've not seen this myself, but I guess any kind of corruption could creep in
and so it is, I think a good plan to use a clean install if things seem to
be doing odd things. I do tend to manually save the configuration folders of
nvda from time to time and then if I need a new install I can restore things
again, and then if that breaks something, then at least I know the configs
are corrupted.
 Bri

[2019-01-04 14:16] ashleycox commented on #4024
@Adriani90 Afraid I no-longer have office nor a Windows installation with NVDA to test.

[2019-01-04 17:22] gdata1 opened #9124 "Problem updating add-ons."
Hello. I use ADD-on Updater; I can't update the add-ons. An error occurs while downloading updates. nvda alpha-16477,f6cd02d2
windows 10 18309INFO - __main__ (13:47:14.933):
Starting NVDA
INFO - core.main (13:47:15.392):
Config dir: C:\Users\nikit\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (13:47:15.392):
Loading config: C:\Users\nikit\AppData\Roaming\nvda\nvda.ini
INFO - core.ma

[2019-01-04 17:33] gdata1 commented on #9124
Add-on Updater 18.11.1

[2019-01-04 17:38] josephsl commented on #9124
Hi, I thought so. Please use Add-on Updater 19.01.1 or later. I’ll close this issue once the problem is resolved. Thanks.

From: nikita <notifications@github.com>
Sent: Friday, January 4, 2019 9:33 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Problem updating add-ons. (#9124)

Add-on Upd

[2019-01-04 17:41] gdata1 commented on #9124
Thank. Problem solved.

[2019-01-04 17:48] #9124 closed

[2019-01-04 19:53] Adriani90 commented on #9123
I had also some spooky issues with NVDA after a long time of using portable copy and reinstalling it from the copy. But it was not so often and yes I could also solve it by using a clean install.

[2019-01-04 19:54] Adriani90 commented on #9123
@ehollig I think we can close this issue since the problem seems solved.

[2019-01-04 20:01] Adriani90 commented on #3944
@fernando-jose-silva can you try to uninstall symatec and see if the issue still occurs? I have seen some issues in the past which were quite similar and were related to Symatec security software.

[2019-01-04 20:16] Adriani90 commented on #8395
This works as expected only when activating focus mode manually with nvda key + spacebar. It seems that the automatic switch to focus mode is linked only to edit fields but not to tables or grids. This is because most users prefer to navigate on websites in browse mode and use table navigation keys instead of switching to focus mode in the table itself. This is prefered because NVDA provides many

[2019-01-04 20:17] Adriani90 commented on #8395
in my opinion NVDA works as expected here and this behavior should be maintained. But if I am missunderstanding your issue please to not hesitate to correct me.

[2019-01-04 20:21] Adriani90 commented on #8395
some versions earlier automatic switch to focus mode was also working for embeded dialogs. But most users complained about that or felt that it lowers the navigation speed. So NVDA does not switch to focus mode in web dialogs automatically anymore.

[2019-01-04 20:21] Adriani90 commented on #8395
but every user can switch manually to focus mode whenever it is required.

[2019-01-04 20:34] Adriani90 commented on #4466
@michaelDCurran, @feerrenrut your thoughts are also very apreciated here. Thanks.

[2019-01-04 20:38] ehollig commented on #9123
Closing as requested.

[2019-01-04 20:38] #9123 closed

[2019-01-04 20:39] Adriani90 commented on #4463
@Xonic, @bhavyashah are you still able to reproduce the issue?

[2019-01-04 20:48] Adriani90 commented on #4571
This is because Outlook displays the live preview of the file. Please disable the coresponding option in Outlook itself, then you can use arrow keys to navigate through the attachments and you can use enter to open them.

[2019-01-04 20:51] Adriani90 commented on #4571
I suggest to close this issue because it is actually not an issue. NVDA moves the focus on the live preview window but it does not read the content. For that there is another issue. If you have questions on how to disable the live preview in Outlook, please do not hesitate to ask for help on the users maillist on
https://nvda.groups.io/g/nvda

[2019-01-04 20:51] Adriani90 commented on #4571
@ehollig what do you think?

[2019-01-04 20:56] xethea opened #9125 "Having problems with word and firefox."
Hello

I am having problems in word and fire fox. I use eloquence and it reads symbols differently. Instead of an apostrophe it will read yuro. my language in windows and word is inglesh so I do not understand why this is happening.
In fire fox when I go to enter links and I push both enter and space a menu will come up instead of entering into the link. I have to push the NDVA key and space then

[2019-01-04 21:03] elliott94 commented on #9085
After more experimenting, it appears that this lag only happens initially if the download presents multiple options (as an example, a ZIP archive where the user can either choose to open or save the file). In the case of an executable (which only offers the option of saving the file), the initial lag cannot be observed but is still present when opening the actual Downloads window after the downloa

[2019-01-04 21:04] xethea commented on #9125
I have factory reset NDVa so that is not the problem. I have even switched to an earlier version and it still happens.

[2019-01-04 21:04] Adriani90 commented on #4560
In Google Crome it is still reproducible. I cannot navigate to the headers with ctrl+alt+arrow keys. It is also reproducible in IE and MS Edge where table navigation keys don't work at all in this example.

[2019-01-04 21:05] Adriani90 commented on #4581
cc: @leonardder, @bramd

[2019-01-04 21:13] Adriani90 commented on #4559
@MarcoZehe can you still reproduce it? I tested in Firefox 64.0 and the h1 is recognized properly in the virtual buffer. I double checked with object navigation and the h1 is definitely the one with the diagram as child.

[2019-01-04 21:15] Adriani90 commented on #4557
@zersiax, @tyrylu, @bogdanus91 are you still able to reproduce the issues?

[2019-01-04 21:17] Adriani90 commented on #4543
@vgjh2005 are you still having this issue?

[2019-01-04 21:22] Adriani90 commented on #9125
I had something weared like this before. Please look into your speech dictionaries in NVDA menu. Are there any entries which you do not expect?

[2019-01-04 21:31] Adriani90 commented on #4537
Duplicate of #4372. However I suggest cloind #4372 because the discussion here goes in more detail. cc: @leonardder, @Qchristensen your thoughts are very apreciated.
I can reproduce this issue only in long formulas. In short formulas it does not occur. It might be related to the visibility of the text in the cell itself. I think there was an option in Excel to disable something and to access the e

[2019-01-04 21:35] Adriani90 commented on #4536
@jcsteh have there been any further discussions regarding this issue?
@manish I guess you can still reproduce it. Right?
cc: @michaelDCurran, @feerrenrut

[2019-01-04 21:45] Adriani90 commented on #4538
@leonardder now that injected mouse events are supported, is this issue solved?

[2019-01-04 21:50] Adriani90 commented on #4494
It is properly reported when pressing NVDA+f. I am using Word 2016 in german. However, I think the user wanted it to be reported when pressing the key stroke. Not when pressing nvda+f.

[2019-01-04 21:50] Adriani90 commented on #4494
cc: @paulber007

[2019-01-04 21:56] Shepard commented on #8395
I'm in focus mode and I press tab and land in a grid cell. Here using arrow keys works fine, I stay in focus mode.
But: I'm in focus mode and I press tab and land *on a button* within a grid cell. Now I'm suddenly in browse mode (even though focus is on an actual button element - a form field).

You don't find this behaviour wrong?

[2019-01-04 21:57] Adriani90 commented on #4479
@netblue, @msedmak, @feerrenrut is anyone able to test this again with the last NVDA version? Is this still an issue?

[2019-01-04 22:02] Adriani90 commented on #4481
@ironmangary, @leonardder are you experiencing further this issue? Or can it be closed?

[2019-01-04 22:05] Adriani90 commented on #4497
@ateu are you still having this issue?

[2019-01-04 22:13] Adriani90 commented on #4530
@kayatli are you still having this issue? @bhavyashah seems not able to reproduce it anymore. @Brian1Gaff Can you reproduce it still?

[2019-01-04 22:16] Adriani90 commented on #4535
cc: @leonardder

[2019-01-04 22:17] Adriani90 commented on #4535
@manish are you still able to reproduce the issue?

[2019-01-04 22:33] Adriani90 commented on #4684
Even if it would exist, I doubt that it will work in every text editor. Maybe for MS Word it would be possible but actually MS Word has already functions to warn you in those cases.
Maybe @paulber007 has further suggestions.
cc: @michaelDCurran

[2019-01-04 22:43] Adriani90 commented on #4643
@gandalf do you still have this issue? Please give a short respond in case we should close this issue. Did @jcsthe's comment above clarified this problem?

[2019-01-04 22:45] Adriani90 commented on #4596
@ehollig could you please upload the attachment from issue tracker? Thanks.

[2019-01-04 22:47] Adriani90 commented on #4677
@peter are you still able to reproduce this issue?

[2019-01-04 22:52] Adriani90 commented on #4675
cc: @josephsl

[2019-01-04 22:59] Adriani90 commented on #4653
@bhaviahshah are you still having this issue?

[2019-01-04 23:04] Adriani90 commented on #4669
@tspivey, @camlorn can you still reproduce this issue?
@josephsl did you hear any new reports from users? I didn't ever see this issue.

[2019-01-04 23:20] Adriani90 commented on #8395
@Shepard you mean when you land on the button "add" NVDA switches to browse mode where it shouldn't? I can reproduce this only if I have enabled "automatically switch to focus mode" in NVDA settings under browse mode. If the checkboxes for automatic switch are disabled, NVDA stays in focus mode once it was set with nvda+space bar. Well, you ask me if it does make sense that automatic switch to foc

[2019-01-04 23:39] josephsl commented on #4675
Hi,

I and others would like to hear from the original poster before proceeding with this.

Thanks.

[2019-01-04 23:55] fernando-jose-silva commented on #3944
@Adriani90
Unfortunately I no longer have access to this machine.
Thank you.

[2019-01-05 01:37] xethea commented on #9125
how do I access the speech dictionary entries?

[2019-01-05 04:37] josephsl commented on #8883
Hi,

Is this still the case with build 18309? Thanks.

[2019-01-05 04:56] josephsl commented on #3002
Hi,

Two things: are there any updates to this, and can we contact the original poster?

CC @k-kolev1985

[2019-01-05 07:35] MarcoZehe commented on #4559
Nope, this is no longer reproducible and can be closed.

[2019-01-05 08:02] gdata1 commented on #8883
Hello. In 18309 I do not observe the problem.

[2019-01-05 08:47] xethea commented on #9125
there is nothing really odd in the dictionary entries in fact there is nothing at all. Is this normal? I've looked in all three speech dictionaries.

[2019-01-05 13:39] sonor3000 commented on #4481
@ironmangary, @leonardder, @Adriani90, there are still problems with ssh and applications that are executed on the remote system.

I've tested some ssh clients during the last months and the best working client with nvda 2018.3 is the ssh client included in cygwin. However, this client has not that much possibilities and features that other clients, e.g. putty or secure cert, have.

Maybe all issu

[2019-01-05 13:44] #4559 closed

[2019-01-05 13:55] leonardder commented on #4684
Honestly, I'd rather see functionality that allows you to jump two formatting differences with quick navigation keys. I.e.

* Bold text
* Italic text
* Font size
* An option to jump to the next difference in font attributes

[2019-01-05 13:57] leonardder commented on #4538
I guess so. If the problem still persists in a particular situation, it would be best to create a new issue for it.

[2019-01-05 13:57] #4538 closed

[2019-01-05 14:01] Adriani90 commented on #4684
@leonardder your suggestion is very interesting for me as well. I have discussed this in detail on the nvda community users list and also on the add-ons list. An example is in #7744 which however would depend on implementation of #7747.

[2019-01-05 14:14] tyrylu commented on #4557
I was not able to reproduce it with Netbeans 10, however it has some strange focus stealing bug, so the usability is still lacking.

[2019-01-05 14:30] Adriani90 commented on #4557
Thank you vor your fast reply! Could you please open a new issue and describe the current problems? Please include also a log file with debug enabled while you see the issues. Thank you.

I guess if this specific issue is not reproducible anymore, maybe we can close this one once you opened the new issue. cc: @josephsl

Von: Lukáš Tyrychtr <notifications@github.com>
Gesendet: Samstag, 5. Januar 20

[2019-01-05 14:34] Adriani90 commented on #3002
cc: @nvdaes, @javidominguez

[2019-01-05 15:56] leonardder commented on #9107
Are these cases caught by scripts like 2to3 and modernize?

[2019-01-05 15:57] leonardder commented on #9101
I was able to successfully move within such a text range when enforcing UIA in Office 2016.

[2019-01-05 16:04] leonardder commented on #9061
I've looked into the example you provided, and I don't think that this is actually a bug. NVDA does not report the selected state for selected items in a list, only the unselected state. NVDA also behaves like this in desktop applications, i.e. the list with desktop icons.

Unless you still have a reason to believe that NVDA is in error here, I'll have to close this.

[2019-01-05 16:12] #8883 closed

[2019-01-05 16:37] josephsl commented on #9107
Hi, at least it isn’t caught by 2to3, as they are runtime errors. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Saturday, January 5, 2019 7:56 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3: TypeError thrown when comparing different types, especially comparing N

[2019-01-05 22:17] xethea commented on #9125
Hello everyone
Here are the things I have tried to get NDVA to work on fireFox and word.
I tried reader mode, but it wasn’t stuck there.
I have factory reset NDVA 2 or 3 times.
I’ve looked in accessability on FireFox but that was not it.
I have uninstalled and then reinstalled NDVA.
I have even reset my own pc, but that didn’t help.
My speech dictionaries have no entries so that is not the problem

[2019-01-05 22:26] taymun26 opened #9127 "Elements in treeviews are not counted in Eclipse IDE 2018‑12"
### Steps to reproduce:

### Actual behavior:
When using Eclipse IDE 2018‑12 (only 64 Bit available) with NVDA items in a treeview are not counted as expected.
1. Open Eclipse
2. Press ctrl+n to open the new dialogue.
3. Press Tab. NVDA says "one of one" although there are dozens of elements in the treeview. When opening the nested elements with the right arrow key NVDA cannot count the elements e

[2019-01-05 22:38] Adriani90 commented on #9127
@ABuffEr maybe your addon "columns Viewer" could solve this problem. If yes, then maybe you could raise a Pull Request against NVDA to integrate a solution for this problem?

[2019-01-05 22:41] Adriani90 commented on #9125
Did you try to use another eloquence addon? Which one are you using? The one from codefactory is good I think. It costs something but hey, this whole project is free otherwise. So paying a little bit for something like this is not a mess in my opinion. It might be related to eloquence. With eSpeak it works properly. Right?

[2019-01-05 22:42] Adriani90 commented on #9125
Which windows version are you using? In Windows 10 please try with the onecore voices. Does the issue occur also with Onecore voices?

[2019-01-05 22:57] Adriani90 commented on #9101
cc: @michaelDCurran

[2019-01-06 00:05] josephsl commented on #9127
Hi, I beg to differ: columns review might not be the solution; rather, it may have to do with Java Access Bridge. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, January 5, 2019 2:38 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Elements in treeviews are not counted in Eclipse IDE 2018‑12 (#9127)

@ABu

[2019-01-06 03:35] xethea commented on #9125
Hello

I'm using windows 10. I don't use one core it has no inflection. Maybe I could try code factory. depending on how much code factory is I might buy it. I agree it would definitely help since this intire screen reader is free. I have not been having problems up until now.

[2019-01-06 06:02] xethea commented on #9125
I bought the code factory add on, but the problem still remains that I can not push on any links without going into the virtual cursor with NDVA and space. Is there some way I can access links without pushing enter or space? Or maybe it's a FireFox problem? What do you think?

[2019-01-06 08:36] ABuffEr commented on #9127
Hi,
as Joseph, I think ColumnsReview cannot help here.
I have no time to test with Eclipse today, but, if I understand the problem, consider that a very similar or identical issue occurs on my system (Windows 10 64-bit) opening regedit from run dialog and expanding the tree. And I'm quite sure that it's a regression, because I remember to have noticed it, then it was disappeared, and, some weeks a

[2019-01-06 15:17] Adriani90 commented on #9127
the same issue occurs in CCleaner in the tree view for example.

[2019-01-06 15:19] Adriani90 commented on #9127
cc: @michaelDCurran, @derekriemer, @feerrenrut

[2019-01-06 15:20] Adriani90 commented on #9125
@xethea ok that means the pronounciation is now correct with codefactory addon?

[2019-01-06 16:06] lukaszgo1 commented on #9127
Probably a duplicate of #7041.

[2019-01-06 16:15] Adriani90 commented on #7041
Places where it occurs as well are: CCleaner, Eclipse.

[2019-01-06 16:38] Adriani90 commented on #7460
Is this issue still valid? cc: @Qchristensen, @feerrenrut, @michaelDCurran

[2019-01-06 17:48] Andre9642 commented on #7460
I found several issues about this.

Consider the following page: https://www.nvaccess.org/download/

First, in the header of pages (in the source code), there is the following lines:

[code]

The link http://html5shiv.googlecode.com/svn/trunk/html5.js returns a 404.
It seems that the good link is https://raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv.min.js

Then, the following

[2019-01-06 17:59] elliott94 commented on #9085
One last update - interestingly, this also impacts certain sections of the Preferences dialog (the actual "Downloads" section within the dialog being a good example of this).

[2019-01-06 18:01] elliott94 opened #9128 "Punctuation/Symbol Pronunciation Dialog: Allow Filtering for Characters"
Since the addition of the Unicode data for Emoji and similar characters, my list of symbols has now substantially grown which has made me realise how useful an option to filter the dialog would be - this would make it much easier to remove symbols that are not required and/or needed. As an example, typing "Face" into the search box would display all Emoji and other characters with "Face" as their

[2019-01-06 18:14] Adriani90 commented on #9127
I suggest to let this open and ask the reporter later if the problem is resolved after the referenced issue has been solved. The reason is that we handle different situations and it is not clear if they are completely the same. However, I would continue the discussion in the referenced issue because it goes into more detail.

[2019-01-06 18:16] Adriani90 commented on #7041
@jcsteh I have tested back until NVDA 2009.1. Until back to 2010.2, NVDA says 1 of 1 although there are more than 1 elements in the tree. In 2010.1 and earlier, NVDA says 0 of 1 everytime. But there is no version where NVDA counts correctly the item in such tree views. Tested with Narator, it works properly.

[2019-01-06 18:39] ehollig commented on #4571
Closing as requested, and because we have not heard from the original author since the creation of this issue.

[2019-01-06 18:39] #4571 closed

[2019-01-06 18:45] ehollig commented on #4596
@Adriani90 the attachment is now in https://github.com/nvaccess/nvda/issues/4596#issuecomment-155329918 or right here: [canvas-accessibility.zip](https://github.com/nvaccess/nvda/files/2730745/canvas-accessibility.zip)

[2019-01-06 18:57] ehollig commented on #4266
Closing as requested by the original author.

[2019-01-06 18:57] #4266 closed

[2019-01-06 19:40] josephsl commented on #7041
Hi,

Update: Testing with 32-bit and 64-bit Registry editor in Windows 10 version 1809 confirmed something I've been meaning to track down for a while: the root of this family of issues is IPC (inter-process communication) issue between a 32-bit screen reader and a 64-bit binary. It was resolved last year when Robert's pull request was merged for a few days, then it disappeared when development br

[2019-01-06 20:14] Adriani90 commented on #4266
@jstafford feel free to open a new issue if it comes up again. Then we can reopen this one. Thanks for reporting.

[2019-01-06 20:19] Adriani90 commented on #7041
the pull request from @Robert-J-H is #8190. It seems there is an assertion error. Thanks.

[2019-01-06 20:38] josephsl commented on #7041
Hi,

Correct, added due to location helper work.

Upon further testing, it appears Robert's pull request won't help here, as list views and tree views are two different controls. Also, for affected tree view items, position info property returns wrong item count (perhaps that might be the key we're looking for).

Thanks.

[2019-01-06 21:58] Adriani90 opened #9129 "NVDA cuts words and reports parts of different elements together on one key press; first occurance since nvda 2018.4"
First of all my big apologize that I didn't report this earlier, I thought it might not be an impacting issue and was not sure it is an NVDA bug. But after hearing reports from many other users and comming myself accross this issue, here it is:

### Steps to reproduce:
1. Open Youtube for example
https://www.youtube.com/watch?v=GXiPqdN575E
It is also reproducible on github and other websites.
2. P

[2019-01-06 21:59] Adriani90 commented on #9129
In Google Chrome 71, NVDA 2018.4 works fine but it still repeats other elements after reading the current element to which you navigate with b or shift+b.

[2019-01-06 22:00] Adriani90 commented on #9129
so the issue is most obvious in Firefox.

[2019-01-06 22:04] Adriani90 commented on #9129
cc: @mltony

[2019-01-06 22:17] Adriani90 commented on #8884
@lukaszgo1, @DrSooom, there is the website filehorse where all NVDA versions back until NVDA 2009.1 can be downloaded:
https://www.filehorse.com/download-nvda/old-versions/

But yes, comon practice for open source projects is also that all stable version are available on their websites. See i.e. VLC player.

[2019-01-07 04:27] josephsl opened #9130 "wxPython 4.0.4/future: GUI controls show generic labels instead of what's defined in NVDA source code"
Hi,

Although this bug report won't affect current NVDA releases, it'll affect future GUI/wxPython work as we move onto Python 3 and beyond:

### Background:
On January 6, 2019, wxPython 4.0.4 was released. The most exciting change is addition of wx.Accessible wrapper for MSAA, which gives programmers a way to expose accessibility information for IAccessible clients such as NVDA. However, NVDA its

[2019-01-07 06:43] #860 closed

[2019-01-07 07:38] Brian1Gaff commented on #9128
While in this thread, nobody has explained why some currency symbols have
been made so only all punctuation speaks them. Among these are pound dollar
and euro to name but a few, however it seems rupee is still some.
 I have changed all these to some which makes documents being read sound
more like they really should do. Was there any  reason for this in the last
version of nvda, or does it need fi

[2019-01-07 08:05] ABuffEr commented on #9129
Alberto:
Absolutely. In my experience, it's a very, very old issue, but using NoScript and other add-ons for page control in Firefox, I always thought it was quite normal. If, on other hand, it happens also with standard configuration and in other browsers, well... it should be resolved :)
If it can help, I noticed that playing with window maximizing/resizing (from system menu and occasionally usi

[2019-01-07 08:10] leonardder commented on #9128
Duplicate of #5761, pr #8790

[2019-01-07 08:10] #9128 closed

[2019-01-07 10:44] leonardder commented on #9130
This is definitely an issue in WX Python.

The constructor of a control, i.e. a checkbox, has the name attribute. IN the case of Checkbox, it defaults to wx.CheckBoxNameStr. IN the case of slider, it defaults to wx.SliderNameStr.
The new situation seems to imply that the accessible name is set to the name property of  the control, thereby ignoring the label. While it makes sense to add the ability

[2019-01-07 11:22] fisher729 opened #9131 "NVDA's documentation still references help balloons"
While NVDA's Object Presentation dialog presents the option for reporting notifications, the User guide does not reference this setting properly. Instead, it still refers to the option as 'Report help balloons'. The description also still speaks about help balloons only, rather than speaking about balloons and toasts.

I suggest this is fixed in the user guide, and the description be updated to re

[2019-01-07 13:28] gauravahir28 opened #9132 "Does not Speak when Deleting character by pressing shift."
While trying to delete a character when shift is pressed, the nvda does not speak anything.
It should reade the character which is getting deleted even if shift is pressed.

[2019-01-07 13:36] josephsl commented on #9131
Hi, ah this one – I’ll queue it for docs19.1 branch once beta goes live. Thanks for bringing this up.

From: fisher729 <notifications@github.com>
Sent: Monday, January 7, 2019 3:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA's documentation still references help balloons (#9131)

While NVDA's Object Presentation dialog

[2019-01-07 13:40] josephsl commented on #9130
Hi, I already have: wxwidgets/phoenix issue 1129. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, January 7, 2019 2:44 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] wxPython 4.0.4/future: GUI controls show generic labels instead of what's defined in NVDA source co

[2019-01-07 15:30] MarcoZehe opened #9133 "Increased number of crashes in NVDARemoteHelper and Firefox"
I am seeing an increased number of crashes in Firefox and NVDA's RemoteHelper DLL today. The crashes occur while performing ordinary tasks such as opening a conversation in Gmail, or loading a Gmail tab alltogether, etc.

Three of the most recent crash reports I got, with varying signatures, but all related to NVDARemoteHelper.dll, are:

* https://crash-stats.mozilla.org/report/index/304a1d52-fbaf

[2019-01-07 16:37] Robert-J-H commented on #7041
Hi
I've studied only the regedit case and I think that there is a solution.
Most of the constants for the TM_GETNEXTITEM message are not working, i.e. they return 0.
Only those with an X in front return a hItem:
X TVGN_ROOT               0x0000
TVGN_NEXT               0x0001
TVGN_PREVIOUS           0x0002
TVGN_PARENT             0x0003
TVGN_CHILD              0x0004
X TVGN_FIRSTVISIBLE       0x000

[2019-01-07 18:05] josephsl commented on #7041
Hi,

This fails on Device Manager, as ID's can be randomly assigned, and MMC (the program that hosts Device Manager) is a 64-bit program on 64-bit Windows.

Thanks.

[2019-01-07 19:11] elliott94 opened #9134 "Launcher: Update to latest build of NSIS to address potential Security Issues"
NVDA is currently built with NSIS 2.51; however, in the latest builds of the installer several security issues have been address that could result in potential DLL hijacking (see https://nsis.sourceforge.io/Docs/AppendixF.html and search for "security" for more info). To prevent this, could we update to the latest NSIS build?

[2019-01-07 19:44] mltony commented on #9129
I think I could reproduce this issue in both Chrome and Firefox. It seems to me this is a manifestation of rubber band effect of browse mode - when you move to next element either via down arrow or quicknav keystroke, sometimes it bounces back and reads the previous element instead.
I tried my fast_browse_mode pull request on it and it indeed behaves much better on this website - it doesn't skip b

[2019-01-07 21:34] Robert-J-H commented on #7041
Device Manager works out of the box, doesn't it.
It is always possible to iterate in both directions until higher
levels (the accValue) or the end of the list is reached.
The shortcut is only for regedit.exe/regedt32.exe  which could have
hundreds of keys listed, e.g. GUIDs.
The main point is that obj.next/previous do really work again.

On 07/01/2019, Joseph Lee <notifications@github.com> wrote:

[2019-01-07 23:39] jcsteh commented on #9133
These crash stacks all seem to be quite different. The fact that you're seeing them all around the same time might suggest correlation... or it might not. I'm particularly suspicious of the fact that UIAutomationCore shows up between Firefox and nvdaHelperRemote in two of the stacks, especially given the other UIAutomationCore crashes you've been seeing on Windows Insider builds. The other stack i

[2019-01-08 02:13] #5231 closed

[2019-01-08 06:11] Otobelikethee opened #9135 "NVDA doesn't read the name of an element specified with aria-label or referenced with aria-labelledy if the element has dialog role"
demo: https://codesandbox.io/s/y2zj9mp741
### Steps to reproduce:
Open the demo online, and click the `Launch a modal` button.
### Actual behavior:
NVDA will announce:
[code]
It works like as if there are no `aria-labelledby` and `aria-describedby`.
### Expected behavior:
NVDA should announce:
[code]
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA ver

[2019-01-08 07:39] taymun26 commented on #9127
This seems to be an inter-process-communication issue as stated in #7041 .
In Eclipse 4.9, 32 Bit this works fine. 32 Bit support is dropped in Eclipse 4.10 and up
(https://www.eclipse.org/eclipse/news/4.10/platform.php#java32-removal).
Eclipse /NVDA should not require the Java Access Bridge since Eclipse is based on SWT, i.e. platform-native controls.

Here is some excerpt from Eclipse 4.10 and 4

[2019-01-08 11:05] Adriani90 commented on #8993
cc: @derekriemer, @feerrenrut

[2019-01-08 11:17] Robert-J-H commented on #8467
Same as issue #7041
See my comment there.

[2019-01-08 11:31] Robert-J-H commented on #8978
I can confirm the bug.
However, the log doesn't give a hint to what is causing it.
- does it happen without NVDA?
- does it happen with Narrator?

[2019-01-08 11:43] k-kolev1985 commented on #8592
The issue is still present with Skype 8. And since it seams that Skype/Microsoft is forcing users to update from version 7 to version 8, I think this issue needs a little bit more attention. It is not critical, but important enough.

[2019-01-08 12:09] k-kolev1985 commented on #7611
The issue seams to be solved now. It was probably a bug in Edge itself. We may close the issue I think. I think it was fixed in Windows 10 version 1809.

[2019-01-08 12:41] gdata1 commented on #7611
yes

[2019-01-08 13:42] josephsl commented on #9120
Hi,

This is resolved to some degree with Word/experimental UIA support enabled.

CC @MichaelDCurran, @LeonardDer, @DKager

[2019-01-08 14:13] esmobg commented on #9088
hi  everyone  attache   sublime accessibility  log file
[accesability   sublime  log  file.txt](https://github.com/nvaccess/nvda/files/2737075/accesability.sublime.log.file.txt)

[2019-01-08 16:34] Andre9642 commented on #8978
@Robert-J-H I don't know why I didn't even think of doing tests with other screen readers. My bad.
I've just tested with JAWS and Narrator, the issue is also present.
Tested with Windows 10Ver1809 (64-bit) build 17763.195.
So NVDA is not the cause, I close this issue.

[2019-01-08 16:34] #8978 closed

[2019-01-09 11:37] Ednunp commented on #8502
Hi guys, sorry to keep banging on about this but this is still not fixed in the alpha builds. Can someone please please review it and get it added? last update was in November.

[2019-01-09 14:44] fANZYo commented on #7960
This was not fixed. It seems like having a checkbox inside a label tag with `position: relative;` makes NVDA read the the label twice. Removing `position: relative;` solves the problem but prevents way too many styling to be an acceptable solution.

[2019-01-09 15:32] josephsl commented on #8502
Hi,

At the moment NV Access people and several third-party developers are looking into this, including resolving problems we've encountered while testing the pull request and others. Sorry for the inconvenience.

Thanks.

[2019-01-09 16:15] zstanecic opened #9137 "In excel office 2016/365, editing of an existing cell is not accessible"
### Steps to reproduce:
1. open Microsoft excel by creating a new workbook
2. write something in any cell, for example, a1
note that for the first time, the editing works
when you finish, press enter and try to edit the cell data by pressing f2

### Actual behavior:
NVDA says unknown, and you cannot do anything with the arrow keys, nor navigate through the cell
### Expected behavior:
NVDA should s

[2019-01-09 16:47] lukaszgo1 commented on #9137
Duplicate of #8146. This really should get some more attention.

[2019-01-09 17:01] #9137 closed

[2019-01-09 17:36] leonardder commented on #8592
I can not reproduce this. What also concerns me is that the log is talking about a Dynamic_Skype8IAccessibleUIAWindowNVDAObject. NVDA itself doesn't know Skype8 objects.

Does this also occur with add-ons disabled? Could it be the case that you have a custom appModule for skype in your profile?

[2019-01-09 17:38] leonardder commented on #8467
Duplicate of #7041

[2019-01-09 17:38] #8467 closed

[2019-01-09 17:42] leonardder commented on #9134
Note that the launcher is only used to start NVDA from it, it doesn't perform the installation itself.

Having said that, I've thought about updating NSIS as well, but it doesn't have that much priority. Giving it p3 for now.

[2019-01-09 17:43] leonardder commented on #9132
Please provide additional information, such as what editor you're using to reproduce this on what Windows version, with what version of NVDA?

[2019-01-09 17:58] zstanecic commented on #8146
note that the issue #9137 is an example of the clean fresh office 365/windows installation.
This issue i have reported aksi frin ibe yser from the polish community

[2019-01-09 18:15] DataTriny commented on #9132
I can reproduce the issue in any kind of editable text with latest alpha version of NVDA, on Windows 10 version 1809, but I don't see why @gauravahir28 would remove text this way. It's simply that `EditableText._hasCaretMoved` is not triggered when pressing shift+backspace. However, Windows still delete the text, so we are loosing a bit of information.

[2019-01-09 18:38] k-kolev1985 commented on #8592
Oops, stupid me... Yes, Doug Lee's NVDA add-on for Skype causes the issue. I've just disabled it and the problem went away. Let's hope Doug can fix this.

[2019-01-09 18:41] leonardder commented on #8592
Closing as works for me

[2019-01-09 18:41] #8592 closed

[2019-01-10 00:52] #8845 closed

[2019-01-10 12:44] lukaszgo1 commented on #7422
@michaelDCurran  @feerrenrut Any thoughts on this? For me it seems to be a great addition, and if there are no objections I am going to implement this. The only thing which worries me a little are braille only users for whom the flash message maybe not enough to realize what has happened. @leonardder What is your opinion of this as a braille user?

[2019-01-10 13:05] zstanecic commented on #7422
@lukaszgo1

Łukasz, i don’t see a problem, as flash messages limit can be increased.

I am also an active Braille user

From: Łukasz Golonka <notifications@github.com>
Sent: Thursday, January 10, 2019 1:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] UX: NVDA+F3, NVDA+Shift+F3, Find Error (#7422)

@michaelDCurran <https:

[2019-01-10 17:50] Adriani90 opened #9139 "Adobe reader advanced search: NVDA does not trigger focus change in the search results tree view and does not report the results"
### Steps to reproduce:
1. Open NVDA
2. Open a pdf document with more pages
3. Press ctrl+shift+f to open advanced search window
4. Search for a word that gives at least two results
5. In the tree view, navigate with up and down arrow

### Actual behavior:
NVDA does not read the results even though the focus moves in the tree view. When pressing tab and shift+tab, NVDA reports finally the current

[2019-01-10 18:06] Adriani90 opened #9140 "Adobe reader: the normal search feature is not working as expected"
### Steps to reproduce:
1. Open NVDA
2. Open a big document in Adobe Reader
3. Enable automatic switch to focus mode when focus is changing in browse mode settings
4. Open the normal search field by pressing ctrl+f
5. Search someting and hit multiple times enter
6. Hit tab
7. Repeat steps 5 and 6

### Actual behavior:
When pressing multiple times enter, NVDA does not report search results and does

[2019-01-10 18:15] Adriani90 opened #9141 "Adobe reader: after pressing tab in search box, NVDA reports the path of the file + the current page + find button + current page + total pages"
### Steps to reproduce:
1. Open NVDA
2. With automatic switch to focus mode enabled, open a pdf document in Adobe reader
3. Press ctrl+f to open the search box and type something
4. Press enter and then tab

### Actual behavior:
NVDA reports the path of the file followed by the current page, then the find button, the again the current page and the total number of pages.

### Expected behavior:
Whe

[2019-01-10 18:39] Adriani90 commented on #9089
we have reports from the translator that it works fine now. So I think this issue can be closed and can be reopened if it is being reported again.

[2019-01-10 20:46] ehollig commented on #9053
I think this is a Duplicate of #1471. Please comment on that issues with more details.

[2019-01-10 20:46] #9053 closed

[2019-01-10 20:53] ehollig commented on #9089
Fixed from #9092. This was not automatically closed because it went into RC for NVDA 2018.4

[2019-01-10 20:57] josephsl commented on #9089
Hi,

I'm overriding close status, as this fix is still being tested by some more. I'll close this once 2018.4.1 is released.

Thanks.

[2019-01-10 21:51] ehollig commented on #7611
Closing as requested. If it comes up again, we can reopen this issue. Closing as worksforme

[2019-01-10 21:51] #7611 closed

[2019-01-11 01:49] Robert-J-H commented on #7041
Other tree views with similar symptoms:
+ Internet Explorer (e.g. History view)
+ CCleaner -> Cleaner
+ Sound settings/profiles

Thanks to @josephsl for taking that over.
I would have assigned myself but that's not possible without write privileges to the repo. GitHub should add a "Volunteer" label for outsiders. ;-)

[2019-01-11 01:52] Robert-J-H commented on #7041
Besides, could one correct the title of this issue? Thanks.

[2019-01-11 03:30] josephsl commented on #7041
Hi,

I have incorporated the algorithm proposed by Robert in internal descriptors used in object navigation routines (obj.next/previous/parent/firstChild), thus resolving object nav issue. At the moment I'm trying to figure out the efficient way to calculate child count, as there is a noticeable lag when opening a large top-level subkey (hive) such as HKCR (HKEY_CLASSES_ROOT) in 64-bit Registry Ed

[2019-01-11 09:06] MichelSuch opened #9142 "Remapping single key navigation does not apply under Edge"
If I reassing some single key navigation keys, my changes are taken in count under Firefox, Chrome and IE, but not under Edge and all Windows applications that seem to use Edge (Twitter etc).

[2019-01-11 09:12] Robert-J-H commented on #7041
Hi
Have you tried the procedure that I've described earlier?
Basically:
`obj.parent.next.firstChild.IAccessibleChildID - obj.parent.firstChild.IAccessibleChildID`
if expressed with your high level methods.
For regedit, you could of course cheat by using _winreg:
`_winreg.QueryInfoKey(` _winreg.HKEY_USERS)[0]`
gives you the number of sub keys.
It should at least be worthwhile for checking our worka

[2019-01-11 12:20] grahamarmfield commented on #8631
This is still occurring in NVDA 2018.4 with Firefox 64 on Windows 10.

Compare how NVDA behaves when aria-expanded value on a button toggles from 'false' to 'true' and back again.

This would be a useful enhancement in how NVDA functions - facilitating the use of a native way of implementing accordions without relying on scripting and aria.

[2019-01-11 14:02] josephsl commented on #7041
Hi,

No, obj.parent... method won't work if:

1. One is located at the root of the tree and one of its immediate children.
2. If the item next to its parent isn't expanded since IAccessible object resource would be NULL.

Thanks.

[2019-01-11 14:21] josephsl commented on #7041
Hi,

Regarding winreg method (renamed to just winreg in Python 3, by the way), one needs to construct the path to a specific key/subkey by traversing through ancestors. Although it'll work for 64-bit RegEdit, it isn't quite generic enough at this point.

As for my statement on child count inefficiency, childCount descriptor as defined in NVDAObjects.IAccessible.IAccessible will work. This works fo

[2019-01-11 14:27] fernando-jose-silva opened #9143 "nvda is not reading information on the sharing links"
### Steps to reproduce:
for example open this page:

https://blogs.windows.com/windowsexperience/2019/01/09/announcing-windows-10-insider-preview-build-18312/#xWRjOUGvrzJt8Zur.97

when opening the page, walk with the arrows below until the nvda begins to read the links:
This link opens in new window

See that nvda only read this, however when reading the same link with the voice over on the iphone

[2019-01-11 18:56] Adriani90 commented on #4463
I cannot reproduce the issue in Outlook 2016.

[2019-01-11 18:57] Adriani90 commented on #4543
cc: @leonardder

[2019-01-11 19:02] Adriani90 commented on #4530
I have not seen this issue on Windows 8.1 and Windows 10 at all. And I am using the PC at work the whole day. I will close this issue since we have confirmations from Brian and @bhavyashah that the issue is not reproducible. If someone reports it, we can reopen it again.

[2019-01-11 19:02] #4530 closed

[2019-01-11 19:23] Adriani90 commented on #3840
I have tested in Firefox 64.0.2 and it is still reproducible with NVDA 2018.4. cc: @jcsteh

[2019-01-11 19:39] Adriani90 commented on #4698
@medlem78 is this issue still reproducible?

[2019-01-11 19:43] Adriani90 commented on #4689
Actually I am ok with the current new cathegory structure. The addons are right after NVDA's settings cathegory which saves lot of time because you do not have to open a new dialog for each addon.
@ruifontes, @bhavyashah what are your opinions?

[2019-01-11 19:47] Adriani90 commented on #4695
@bramd are you still able to reproduce this issue?
cc: @Qchristensen

[2019-01-11 19:57] Adriani90 commented on #6871
@fernando-jose-silva is this issue still reproducible? The interface of changing account and so on has been changed in Outlook since then. Please test again and confirm wether this is still an issue.

[2019-01-11 19:59] Adriani90 commented on #4822
@Brendon22 are you stil having this issue?

[2019-01-11 20:12] Robert-J-H commented on #7041
On 11/01/2019, Joseph Lee <notifications@github.com> wrote:

Similar with the tree view item count message.
It is mod 65536 and thus pretty unusable  to get all key entries.
I've said explicitly "basical" for the procedure because it was for
the simplest case.
You have always to check the level of the resulting object for all
three possible Navigation directions.
For the parent: NavDir_up, NavDir_

[2019-01-11 20:25] josephsl commented on #7041
[regedit.txt](https://github.com/nvaccess/nvda/files/2751042/regedit.txt)

[2019-01-11 20:42] Robert-J-H commented on #7041
Also, there is a struct defined in sysTreeView32 which doesn't seem to be used.

[code]

We should exploit its capabilities.
In its current form, it can only be used for 32-bit though.
For 64-bit, the alignment would be wrong because of the long pointer needed.
And we have probably to embed it in the process with virtual memory management (same as in sysListView32).

[2019-01-11 20:42] Adriani90 commented on #4817
Ok I have installed Avira for testing. The interface seems to have changed significantly since @bhavyashah reported this issue.

[2019-01-11 20:45] Adriani90 commented on #4810
For excel lists are not relevant. At least I didn't ever see a use case where you must navigate several lists in excel.

[2019-01-11 20:50] Adriani90 commented on #8169
@pkra I cannot find your attachment. Could you please upload it to this issue? Thanks.

[2019-01-11 20:50] Adriani90 commented on #4782
@ehollig are you still able to reproduce it?

[2019-01-11 20:53] josephsl commented on #7041
Hi, I advise using the extended version of that struct if testing it. Thanks.

From: Robert Haenggi <notifications@github.com>
Sent: Friday, January 11, 2019 12:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Treeview items: NvDA does not report item count and other object navigation odd

[2019-01-11 20:56] Adriani90 commented on #4802
@ehollig could you please upload the attachment to this issue? Thanks.

[2019-01-11 21:02] Adriani90 commented on #4806
As I said in previous issue, the interface has been changed significantly and the menu structure is totally different. Actually NVDA works in browse mode in Avira now. So I close this issue as invalid because of interface change. Please open a new one with current steps to reproduce. Thanks.

[2019-01-11 21:02] #4806 closed

[2019-01-11 21:07] Adriani90 commented on #4780
@JamaicanUser are you still using this software? Are you still having this issue?

[2019-01-11 21:11] Adriani90 commented on #4747
@@vgjh2005 since this is a very specific issue, could you please test again and give us an update if the issue is still occuring? Thanks. I will let this issue open for some further weeks and will close it if the author is not responding. I didn't hear any related reports on this issue on user lists etc.

[2019-01-11 21:15] Adriani90 commented on #4768
@enes

[2019-01-11 21:18] Adriani90 commented on #4748
@k-kolev1985 I guess Skype has changed significantly in the last years. I am not a regular skype user. But is the behavior related in this issue now acceptable?

[2019-01-11 21:21] Adriani90 commented on #4755
@vgjh2005 are you still able to reproduce this issue?

[2019-01-11 21:32] josephsl commented on #4704
Hi, at this point, I think it’d be best to mark Office 2007 issues as “wontfix” as support for it has ended unless there are folks still using it for critical tasks. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, January 11, 2019 1:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] unnecessary announcemen

[2019-01-11 21:34] Adriani90 commented on #4729
@javidominguez, @bhavyashah can you still reproduce this issue in the newest VLC version?

[2019-01-11 21:40] Brian1Gaff commented on #4748
I thought they had effectively made Skype like a web page now. Still don't
like it though.
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscrib

[2019-01-11 21:54] Adriani90 commented on #4724
@jcsteh in the new skype I think browse mode is not possible at all. Right?

[2019-01-11 21:56] josephsl commented on #4724
Hi, which Skype version – desktop or universal? We need to make that distinction clear at this point. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, January 11, 2019 1:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] add buttons in Type grouping option in Elements List for Skype (#4724)

@jcsteh <https:

[2019-01-11 22:02] lukaszgo1 commented on #7422
Limit  definitely can be increased, however we have to ensure, that everything works nicely with the default config.

[2019-01-11 22:08] Adriani90 commented on #4721
@bhavyashah can you still reproduce this issue?

[2019-01-11 22:48] DrSooom commented on #9142
@MichelSuch: Please provide us more information by completely filling out the bug report draft. Thanks.

[2019-01-11 23:01] Adriani90 commented on #4889
@tspivey do you still have this issue? Otherwise I am leaning towards closing it as suggested by @larry801.

[2019-01-11 23:06] DataTriny commented on #4729
Hello,
I can reproduce the mentionned behavior in VLC Media Player 3.0.4 on Windows 10 version 1809.

[2019-01-11 23:08] Adriani90 commented on #4888
closing as worksforme because it depends on the grafic driver and it is apparently fixed for @camlorn. Feel free to comment if this is not the case and we can reopen it.

[2019-01-11 23:08] #4888 closed

[2019-01-11 23:12] Adriani90 commented on #4887
it seems this author is not available anymore.

[2019-01-11 23:16] Adriani90 commented on #4887
Testing with NVDA 2018.4 on Windows 10 1809 Update. It works correctly and NVDA reports everything even after pressing yes, next and then tab. I went through the whole installation process and I didn't have to switch the window. So closing as works for me.

[2019-01-11 23:16] #4887 closed

[2019-01-11 23:20] Adriani90 commented on #4866
It seems there was no discussion at all here. @derekriemer have you seen this behavior regularly? Or was it just one time? If it is no issue anymore then we could close it I guess.

[2019-01-11 23:45] Adriani90 commented on #4870
@vgjh2005 I had a similar bug until Windows 10 1709 Update. after that in disapeared. Can you still reproduce it with Windows 10 1809 Update?

[2019-01-11 23:49] Adriani90 commented on #4852
There is no pull request for this issue. Right? I am asking because there seems to be a commit which referenced this issue but I don't know how to track from which pull request it comes.

[2019-01-11 23:52] Adriani90 commented on #4855
note that ixquick does not exist anymore. Could you please provide another test website?

[2019-01-11 23:56] Adriani90 commented on #4864
@bdorer I am not sure if this should really be documented. Because it depends may which keys you have assigned and I guess it can also depend on which braille display you use. We would need much more testing with several braille displays to see if it occurs systematically.

[2019-01-11 23:58] Adriani90 commented on #4860
@mohdshara maybe the software bitcomet

[2019-01-12 00:01] Adriani90 commented on #4857
I am closing this issue because we did not hear from the author for a very long time and we do not have a test website.

[2019-01-12 00:01] #4857 closed

[2019-01-12 00:02] ruifontes commented on #4689
For me, you can close this issue...

Rui Fontes
NVDA portuguese team

Às 19:44 de 11/01/2019, Adriani90 escreveu:

[2019-01-12 00:02] Adriani90 commented on #4827
@halim can you still reproduce it?

[2019-01-12 00:08] Adriani90 commented on #4689
closing

[2019-01-12 00:09] Adriani90 commented on #4724
@ruifontes could test with your kypes please? Unfortunately I am not so familiar with the new skypes. Thanks.

[2019-01-12 00:30] #4689 closed

[2019-01-12 06:59] k-kolev1985 commented on #4724
In Skype 8 for desktop, browse mode is possible. In Skype for Windows 10 from the Microsoft Store, browse mode is not possible (or at least cannot be activated with NVDA+Spacebar).

[2019-01-12 07:03] k-kolev1985 commented on #4748
@Adriani90 Yes, Skype 8 is significantly different than Skype 7 and earlier. In Skype 8 and Skype for Windows 10 from the Microsoft Store, there is a built-in keyboard command to focus the chat entry edit field - it is Alt+Shift+E. So, I think we can close this as "works for me" (or something like that).

[2019-01-12 11:14] Jitender46559 commented on #7105
How can i start contribution to this project. I have almost one year of experience in python 3X.

[2019-01-12 12:12] larry801 commented on #7105
Please see contributing guide in wiki.
https://github.com/nvaccess/nvda/wiki/Contributing
Then you can help nvaccess process issues and pull requests.
This group may also be helpful.
https://nvda.groups.io/g/devlearning
@Jitender46559

[2019-01-12 12:16] Adriani90 commented on #9007
@jacobchawala, @DrSooom I have tested in MS Office 365 as follows:
1. Start word with disabled editor revisions, Result: no issue while navigating with arrow keys.
2. Disabled editor revisions and restarted Word: no issue while navigating

@jacobchawala did you try my suggestions above and the suggestion pointed out by @DrSooom? I mean disabling pages and editor revisions in NVDA settings under do

[2019-01-12 12:32] Adriani90 commented on #8810
As @k-kolev1985 reports in #8591, incomming messages are being reported correctly. But there seems to be a problem with outgoing messages. As this is covered in the referenced issue, I will close this as duplicate. Thanks.

[2019-01-12 12:32] #8810 closed

[2019-01-12 12:43] Adriani90 commented on #8399
@fernando-jose-silva did you test with last Chrome version and NVDA 2018.4 on Windows 10? Is it the same behavior?

[2019-01-12 12:46] Adriani90 commented on #8535
@josephsl is this issue still reproducible? There are to PRs merged related to this and I guess there were changes between Windows 10 1803 and las build in 1809.

[2019-01-12 12:48] Adriani90 commented on #8192
@elliott94 can you still see this issue in last build of Windows 10 1809 with NVDA 2018.4 and last version of Skype for business?

[2019-01-12 12:53] Adriani90 commented on #8705
@florianionascu7, @jawhien is this still an issue with NVDA 2018.4?

[2019-01-12 12:56] Adriani90 commented on #8695
@jacobchawala could you test it wil one core synthesizer on last Windows 10 1809 Update? Is it still an issue in NVDA 2018.4?

[2019-01-12 13:04] Adriani90 commented on #8638
@mehgcap, @Neurrone are you still having this issue? I am asking because I had it too months ago but it went away after some Windows updates came. Did you try to see if the com registry fixing tool in nvda menu / tools solves the problem? In case not, maybe it is a sound card issue. Try to install the bluetooth audio add-on from the official website and see if the speech still interrupts. The add-

[2019-01-12 13:05] Adriani90 commented on #8638
And update to last Windows 10 build. This is always good because it seems that some issues were solved just by updating Windows 10.

[2019-01-12 13:19] Adriani90 commented on #7907
@vgjh2005 are you still having this issue with NVDA 2018.4? It will be quite hard for us to investigate your problem. Does this occur with other screen readers as well? Are you on very last update of Windows 10? What drivers do you have? Your notebook is not bad actually. I had one with Intel core i5 3. generation and I never had this issue. If it is a Dell laptop, be sure to remove the killer sui

[2019-01-12 13:20] Adriani90 commented on #7907
And please try to disable energy saving setting in the energy settings in Windows. NVDA's performance is not good if you have enabled many energy savers. But this is not only NVDA related. Every application reacts slower then.

[2019-01-12 13:34] k-kolev1985 commented on #8591
@Adriani90 Yes, the issue is still reproducible. I've tried it even with add-ons disabled - it's the same. I have the Windows 10 App Essentials add-on from Joseph Lee, but that seams not to help either.

### Test environment:
- Operating system: Windows 10 Pro version 1809 (build 17763.253), 64-bit, in Bulgarian with all locale settings set to "Bulgarian".
- Skype 8 for desktop version: 8.37.76.92

[2019-01-12 13:34] Adriani90 commented on #7507
@Pauliusleveris are you still having this issue on Windows 10 1809 Update with NVDA 2018.4? Which security programs do you have on your PC?

[2019-01-12 13:40] Adriani90 commented on #6637
So is this issue now completely solved with WX Python 4?

[2019-01-12 13:42] Adriani90 commented on #7501
@lallerke1 are you still having this issue? I saw another issue here which has been also caused by skype for business and has been fixed by running the com registration fixing tool. Can you please try that in case you sill have the problems?

[2019-01-12 13:56] Adriani90 commented on #6922
what about the idea to create a separate buffer once speech refactoring is implemented, and assign to it a separate voice (voice for notifications) and assign a key stroke to it. Then define the time the notification should stay in the buffer (i.e. 15 seconds) and if Windows give the audio warning for notification you have 15 seconds time to press the key stroke to hear that notification again. We

[2019-01-12 14:02] Adriani90 commented on #6922
because what we can agree on is certainly the fact that we do not need a list with all notifications which can be opened also after 30 minutes or so. So I think a quick way to repeat the last notification wherever it comes from is a desirable behavior. Actually notifications are usually made for events which can change in a very short time so a notification can be outdated after 5 minutes if the e

[2019-01-12 14:03] Adriani90 commented on #6922
call my notifications also baloons or tooltipps as well.

[2019-01-12 14:09] Adriani90 commented on #6532
@tspivey, @derekriemer, @k-kolev1985, @ruifontes can you still reproduce this in Skype? I am asking because I had a similar issue in Microsoft Outlook with crash dump and it went away after NVDA 2018.3 I think.

[2019-01-12 14:10] Adriani90 commented on #6532
If you didn't see this issue for a very long time than I suggest closing it and reopen again if it occurs and you get the same crash dump.

[2019-01-12 14:14] Adriani90 commented on #6528
@nishimotz, @surfer0627 do you have the chance to test in on Windows 8.1 and 7 and see if it still occurs in Skype 8?

[2019-01-12 14:16] Adriani90 commented on #6437
cc: @michaelDCurran

[2019-01-12 14:32] Adriani90 commented on #6293
@nishimotz are you working on a pull request to include your previous work on this? Or is it not intended to solve it?

[2019-01-12 14:34] Adriani90 commented on #5975
@Elshara, @k-kolev1985, @ruifontes can anybody reproduce this in last skype version? At least on Skype UWP I cannot reproduce this problem.

[2019-01-12 14:44] Adriani90 commented on #4951
@chrislm, @florianionascu7, @ruifontes can anybody reproduce this in Skype 8 or Skype UWP?

[2019-01-12 14:47] Adriani90 commented on #6222
@k-kolev1985 are you still able to reproduce this issue in last skype version?

[2019-01-12 14:49] Adriani90 commented on #5985
@bhavyashah, @florianionascu7, @k-kolev1985 can you please test again with last skype version and see if it still occurs? Thanks.

[2019-01-12 14:53] Adriani90 commented on #4957
Actually I think www.accessibility.net is the better address for this. More people look there for road tested programs with NVDA. So how about linking to that page in the readme on the main github page?

[2019-01-12 14:59] Adriani90 commented on #6061
I can also reproduce this on Windows 10 1809 with NVDA 2018.4. There is about 40 to 50 minutes difference.

[2019-01-12 15:13] fernando-jose-silva commented on #8399
@Adriani90  Unfortunately I no longer use this tool, used in my work where I do not work anymore.
Also among my friends I do not know who uses the angouts, for me to test.
Thank you.

[2019-01-12 15:17] Adriani90 commented on #5986
I cannot reproduce this in Skype UWP and the design changed totally in Skype 8. @bhavyashah, @k-kolev1985 are you able to test if this is still an issue in Skype 8?

[2019-01-12 15:18] bdorer commented on #8998
please close this issue as €-sign has been added with the latest
liblouis release.

Am 02.12.2018 um 16:49 schrieb Daniel Mayr:

[2019-01-12 15:30] bdorer commented on #3168
Furthermore I arrowed to all noted possitions and the first coursor
routing key worked as expectted. Used Word 2013. Voting as closing as
worksforme.

Am 06.12.2018 um 00:07 schrieb Adriani90:

[2019-01-12 15:34] Adriani90 commented on #5861
@jcsteh Ok I found a way how to reproduce this reliably:
1. Open NVDA and the webpage from issue description
2. in Browse mode, Press e to go to the first edit field
3. Press down arrow, then up arrow
4. Press enter and type your name
5. Press nvda+l
Actual: NVDA reports only the first letter.
Note: When pressing down and up arrow in browse mode (step 3), a notification is shown which however is o

[2019-01-12 15:36] Adriani90 commented on #5861
the same behavior is in focus mode if you use tab and shift+tab instead of down arrow and up arrow.

[2019-01-12 15:43] lukaszgo1 commented on #5861
#9001 maybe related

[2019-01-12 15:47] Adriani90 commented on #4964
@bdorer, @k-kolev1985, @jcsteh can you reproduce this in last skype version?

[2019-01-12 15:51] lukaszgo1 commented on #8705
I can confirm this with Windows 7 pro and Skype 8.34

[2019-01-12 15:53] jacobchawala commented on #9007
I am using Microsoft word 2016. a braille display is not connected.

On Sat, Jan 12, 2019 at 3:16 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2019-01-12 15:56] Adriani90 commented on #5059
@Qchristensen I think this kind of information is quide self explanatory. I mean then we could document also in MS Outlook the whole status informations we get from NVDA but I don't think that this makes sense. Actually the user must be given an approximate orientation on how to use the screen reader in a easy and understandable structure. In my opinion the userguide now is far too comprehensive.

[2019-01-12 16:03] Adriani90 commented on #5582
@elliott94 are you still having this issue?
Is it actually possible to implement a key stroke which is directly linked to time sliders in a html5 media object? This might solve the problem. You just press a key stroke and you hear the current value of the slider. The only thing is probably, if the webpage is updated and the design changes the link to the slider might be broken. So it must be imple

[2019-01-12 16:08] Adriani90 commented on #4748
closing as works for me

[2019-01-12 16:08] #4748 closed

[2019-01-12 16:10] lukaszgo1 opened #9144 "In MS Excel elements list formulas are always reported in English regardless of the Excel language."
### Steps to reproduce:
1. Start Microsoft Excel in language other than English.
2. Write some formula in the Excel interface language for example =today().
3. Open elements list and switch to formulas.
### Actual behavior:
The formula is shown as '=TODAY()'.
### Expected behavior:
The formula should be shown in the language in which it was entered for example for Polish version of Excel '=DZIŚ()'

[2019-01-12 16:14] Adriani90 commented on #4736
here are all shortcuts for skype, which are actually quite some.
https://support.skype.com/en/faq/FA12025/what-are-keyboard-shortcuts-and-how-do-i-use-them-in-skype

@bhavyashah, @Brendon22, @k_kolev1985 is this actually a good user experience to work efficiently in Skype? Or are you still missing anything?

[2019-01-12 16:15] Adriani90 commented on #4736
In my opinion the user experience is much better than earlier. And since Microsoft is pushing strongly accessibility, I think it is better to talk to them about further key strokes. Because this would also be beneficial for people using other screen readers.

[2019-01-12 16:16] Adriani90 commented on #4736
Should I close this as worksforme?

[2019-01-12 16:16] k-kolev1985 commented on #6532
I personally haven't experienced such a crash with an "Access Violation" error in a long time, even when I was using Skype 7. In Skype 8 I don't remember it happening at all.

[2019-01-12 16:18] k-kolev1985 commented on #5975
No, I cannot reproduce this in Skype 8 or Skype for Windows 10 from the Microsoft Store. Come to think of it, I haven't noticed it in a long time in Skype 7 as well.

[2019-01-12 16:21] Adriani90 commented on #598
This is still reproducible in Skype 8. In Skype UWP not all information is reported when navigating with tab and shift+tab. But you can easily access everything with object navigation.
@bdorer, @ruifontes do you have other thoughts on this?

[2019-01-12 16:21] k-kolev1985 commented on #4951
There is no option in Skype 8 or Skype UWP to remove timestamps from chat messages, so this issue is irrelevant for them.

[2019-01-12 16:21] jacobchawala commented on #6423
Yes, good assumption. I have followed instructions but no improvements. the
issue is still the same. i took NVDA a minute to recognize the text in a
long paragraph and a  table with numerous text.

On Sat, Jan 12, 2019 at 5:30 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.c

[2019-01-12 16:31] Adriani90 commented on #5985
I guess the support for skype 7 is dropped anyway. Right?

cc: @josephsl

Von: Kostadin Kolev <notifications@github.com>
Gesendet: Samstag, 12. Januar 2019 17:29
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Skype: NVDA does not announce the 'chat content list' list box after one time for

[2019-01-12 16:34] jacobchawala commented on #9004
I use NVDA 2018.4. I have followed instructions but no improvements. the
issue is still the same. it took NVDA a minute to recognize and announce
the swahili text in a long paragraph and a  table with numerous text.

On Sat, Jan 12, 2019 at 5:29 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
j

[2019-01-12 16:35] Adriani90 commented on #4951
@josephsl how do you see the support for skype 7? If it is completely dropped I suggest to close it after 4 weeks or so.

[2019-01-12 16:37] Adriani90 commented on #6871
@josephsl, @leonardder I think the behavior of Outlook is in Office 2019 almost similar like in Office 2016. Or should this be tested by users of Outlook 2016 still?

[2019-01-12 16:37] lukaszgo1 opened #9146 "Add a way to list all text fields in the Excel elements list."
### Is your feature request related to a problem? Please describe.
I often have to work with Excel files in which the instruction or some additional information's are included in a text field. While it is possible to move to them using CTRL+G  then choose special and then objects you have to know in advance, that the field is there, and ideally how many of them are there.
### Describe the solution

[2019-01-12 16:39] jacobchawala commented on #8695
the issue solved even in NVDA 2018.4 Espeak NG

On Sat, Jan 12, 2019 at 3:56 PM Adriani90 <notifications@github.com> wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2019-01-12 16:44] Adriani90 commented on #3168
As we didn't hear from the author since 5 years and @bdorer confirmed that it works as expected, I'll close this as works for me. We can reopen it if the issue comes up again.

[2019-01-12 16:44] #3168 closed

[2019-01-12 16:49] lukaszgo1 opened #9147 "Add alternative way to report name of the current Excel sheet which don't require moving review cursor into Excel window"
### Is your feature request related to a problem? Please describe.
I am often working with Excel workbooks containing multiple sheets and at the same time reading some instructions or data in another program with review cursor to avoid moving back and forth between two windows. In this case there is no easy way for me to determine in which sheet I am, because NVDA+ numpad delete works only when re

[2019-01-12 16:57] jacobchawala commented on #9007
the issue solved even in NVDA 2018.4 Espeak NG

On Sat, Jan 12, 2019 at 6:53 PM jacob chawala <jacobchawala@gmail.com>
wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2019-01-12 17:08] k-kolev1985 commented on #4736
I completely agree with your statement. I think is best for Microsoft to add additional keystrokes to Skype if necessary.

[2019-01-12 17:15] josephsl commented on #6637
Hi, as far as I can tell, this issue does not exist in 2018.3 9wxPython 4) and later at the moment. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, January 12, 2019 5:40 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Refreshing in log viewer results in assertions (#6637

[2019-01-12 17:16] josephsl commented on #4736
Hi, in this case, I advise closing it as “needs external fix”. Thanks for an update on Skype.

From: Kostadin Kolev <notifications@github.com>
Sent: Saturday, January 12, 2019 9:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] assign keyboard shortcuts to common actions in Skype (#4736)

In my opinion the user experience

[2019-01-12 17:18] josephsl commented on #9147
Hi, NVDA+Numpad Delete (NvDA+Delete in laptop layout) should read current sheet name (or at least the sheet number) along with cell coordinates. Thanks.

From: Łukasz Golonka <notifications@github.com>
Sent: Saturday, January 12, 2019 8:49 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Add alternative way to report name of the

[2019-01-12 17:20] josephsl commented on #4951
Hi,

I think we should keep it open until NVDA 2019.1 is released, during which time folks using Skype 7 should be invited to give comment. After that, I suggest closing it, as Skype 7 is no longer supported by Microsoft.

Thanks.

[2019-01-12 17:20] lukaszgo1 commented on #9147
NVDA+numpad delete would read current sheet name only if the review cursor is placed in the Excel window, that why I have created this issue in the first place.

[2019-01-12 17:21] josephsl commented on #5985
Hi, yes, Microsoft said goodbye to Skype 7. I suggest leaving this open until NVDA 2019.1 is released so folks still using Skype 7 can comment on this issue. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Saturday, January 12, 2019 8:31 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/n

[2019-01-12 19:13] pkra commented on #8169
@Adriani90 sure [here](https://codepen.io/pkra/share/zip/bMxPxN) but I think the issue has been fixed in the mean time.

[2019-01-12 20:00] elliott94 commented on #8192
Yes - unfortunately this issue is still present. After some testing, it appears that leaving the Toast notification open in the background will eventually cause the conversation window to automatically open - however, navigating to this when NVDA is running will cause the hang as outlined above.

[2019-01-12 20:02] elliott94 commented on #7778
Sorry. Running the COM tool fixes the problems I have with Skype - however, it unfortunately doesn't with Firefox. I am still experiencing the exact same issue.

[2019-01-12 20:45] bdorer commented on #8698
NVDA fokuses only the attachment list, not the entries. The entries are available with object navigation so this shouldn't be hard to work arround in the thunderbird appmodule.

[2019-01-12 22:19] bramd commented on #4695
@Adriani90 Not exactly, but there are still issues editing footers.

After inserting a footer and editing it, I get the following:

[code]

Caret movement isn't detected and braille doesn't update.

[2019-01-12 22:30] Adriani90 commented on #9146
oh yes this would be a great improvement. I am having the same situations at work quite often.

[2019-01-12 22:52] Adriani90 commented on #4736
closing as requested. Please feel free to report to Microsoft if further key strokes improve your efficiency. I am sure they are happy to help further in this regard.

[2019-01-12 22:52] #4736 closed

[2019-01-12 23:02] Adriani90 commented on #9007
@jacobchawala thank you very much for testing and reporting. If the issue comes up again, please comment on it and we will reopen it. On the top of the github wepage you fing a link called "issues you created". Then if you switch to "closed" you will see your issues which have been closed. For now it seems solved, so closing as works for me.

[2019-01-12 23:02] #9007 closed

[2019-01-12 23:06] Adriani90 commented on #6222
@k-kolev1985 couls you please post stept to reproduce for Skype UWP? Thanks.

[2019-01-12 23:09] Adriani90 commented on #8695
Ok @jacobchawala if this is also solved, than I will close it as works for me. Please feel free to comment on it if it occurs again and we will reopen it. Thanks.

[2019-01-12 23:09] #8695 closed

[2019-01-12 23:39] Adriani90 commented on #8169
@pkra for some reason NVDA seems not to read it as well. If I tab around in focus mode I don't land on any svg group element. When arrowing in browse mode, NVDA reports a grafic at the end of the page but I don't think this is the svg because there is nothing with "this is a cool rectangle". The same behavior is in Chrome and IE.

[2019-01-12 23:40] Adriani90 commented on #8169
cc: @jcsteh

[2019-01-12 23:46] Adriani90 commented on #7778
I had the same issue on Firefox and talked with Jamie on Gitter about this. Unfortunately it is not possible to investigate it. It could be something stored in cash which prevents com registry dlls to work correctly. But in is almost impossible to find which com registry dll could be. I will let this issue open maybe someone can find a solution. In my case it only helped to reset my system to fact

[2019-01-12 23:59] Adriani90 commented on #8698
cc: @novalis7747

[2019-01-13 04:15] ehollig commented on #8998
Closing as requested.

[2019-01-13 04:15] #8998 closed

[2019-01-13 07:20] k-kolev1985 commented on #6222
OK, here they are:

### Steps to reproduce
1. Open Skype UWP and sign into it.
2. Press Alt+2 to go to the "Contacts" list. You may need to press TAB a few times after that, to move the keyboard focus there as well - it seams not to be done automatically by Skype, even though it should - I'll have to report that to the Skype team.
3. Select a contact from the list.
4. Invoke its context menu and f

[2019-01-13 09:58] nishimotz commented on #6528
The issue does not occur with the following setup:
* Windows 10 version 1803 64bit Japanese
* Microsoft Japanese IME
* Skype Desktop version 8.34.0.78
* NVDA 2018.4

I will close this because Microsoft does not support Skype 7 anymore.

[2019-01-13 09:58] #6528 closed

[2019-01-13 10:04] nishimotz commented on #6293
@Adriani90 I am not working on this.
Anyway, most issues regarding Skype 7 are not applicable to Skype 8, in my opinion.

[2019-01-13 12:00] nishimotz opened #9148 "Element list is visually broken when display resolution is not high"
### Steps to reproduce:

* Set Windows desktop resolution to 1024x768
* Launch Chrome and visit https://www.nvaccess.org/
* Press NVDA+F7 to open element list dialog

### Expected behavior:

* All buttons of element list are visually shown and operable

### Actual behavior:

* The controls below the tree view are visually hidden (screenshot is attached)

![image](https://user-images.githubusercont

[2019-01-13 12:44] DataTriny opened #9149 "Mail for Windows 10 : inconsistent behavior when navigating inside incoming mail document"
### Steps to reproduce:
1. Open Mail for Windows 10,
2. Open an incoming mail,
3. Make sure the cursor is on the first line,
4. Press left arrow.

### Actual behavior:
"blank" is spoken.

### Expected behavior:
NVDA should announce the first character contained in the mail, like in any other document.

### System configuration
#### NVDA installed/portable/running from source:
NVDA is installed.

#

[2019-01-13 15:13] bdorer commented on #8441
I like the idea with a sound. May NVDA could even create a notification in the windows 10 notification center. Should I open a new ticket for this idea as this ticket deals with update notification during say all?

[2019-01-13 15:53] pkra commented on #8169
@Adriani90 the svg's textual representation in my sample would be left-parenthesis upper G comma upper H right-parenthesis". (I'm not the OP so my sample is different.) As I wrote, it's fine now.

[2019-01-13 16:13] Adriani90 commented on #8169
@pkra thank you very much for the clarification. I can confirm it works properly. Closing as works for me.

[2019-01-13 16:13] #8169 closed

[2019-01-13 17:32] Adriani90 commented on #5161
@jmuheim, @gurix, @ehollig I have tested as following:
1. Open NVDA and in synth settings, enable automatic switch language if supported and recognize dialects as well.
2. In document formating settings, I have enabled "table" and "column and row headings"
3. On the website in the issue description, I have switched to different synthesizers (one core, eSpeak and eloquence)
4. I choose different vo

[2019-01-13 17:32] Adriani90 commented on #5161
I used Firefox 64.0.2

[2019-01-13 17:41] Adriani90 commented on #5902
@afiorenza could you please give some more details on the issue as suggested by @jcsteh in the comment above?
Now, after 1.5 years, is the issue still present?

[2019-01-13 17:46] Adriani90 commented on #7764
Ok i will close this issue because it gets more and more confusing. I will open a new one with a more reproducible character. Apart from that, this works for me actually. Only if the voice language is a language which does not match with application language, text language and NVDA language, the issue occurs.

[2019-01-13 17:46] #7764 closed

[2019-01-13 18:03] Adriani90 opened #9150 "Element type and status should be pronounced in voice language, not in NVDA language"
### Steps to reproduce:
1. Open this website where you have three languages (german, english and some french)
http://codepen.io/jmuheim/pen/doVPqg
Note: this issue occurs also in MS Excel and potentially other programs with slightly different stepts to reproduce.
2. Open NVDA with NVDA language set on english
3. Enable automatic switch language and automatic recognize dialects in synth settings
3.

[2019-01-13 18:14] Adriani90 commented on #9150
an argument for solving this issue is that often people do not use automatic language detection and prefer to change the voice language to read parts of a text which is in a different language. But if you don't enable automatically switch language, then the voice language will pronounce the types and status of elements. The rponounciation is then broken because the voice language is not the same l

[2019-01-13 18:47] ehollig commented on #4802
@Adriani90 the file has been added to https://github.com/nvaccess/nvda/issues/4802#issuecomment-155333026 or [braillePen.py.txt](https://github.com/nvaccess/nvda/files/2753370/braillePen.py.txt)

[2019-01-13 21:08] pkra commented on #8169
Thanks for cleaning up, @Adriani90.

[2019-01-13 22:37] Qchristensen commented on #8040
This seems to be the behaviour of Opera itself and nothing to do with NVDA.  Running Opera without any screen reader running, the left ALT key opens Opera's menu, and the right ALT key does nothing.

If you would like to change that functionality, you'll need to talk to the Opera developers.

Closing as NeedsExternalFix.

[2019-01-13 22:37] #8040 closed

[2019-01-14 00:32] jcsteh commented on #3840
As I noted in https://github.com/nvaccess/nvda/issues/3840#issuecomment-155317141, this is not a bug; it's authoring error. It's also not Firefox specific; I confirmed this happens in Chrome as well.

NVDA may still wish to "work around" this by ignoring live updates on editable text, as I've seen quite a few sites get this wrong and I don't think it's useful under any circumstances. I'd say it's

[2019-01-14 00:35] jcsteh commented on #4724
Buttons were added to the Elements List a while ago. You can already make use of this in Skype for Desktop, since browse mode is possible there.

Browse mode isn't possible in the Skype Windows Store app. However, I don't think that is a feature request specific to Skype; there are more general requests related to browse mode in things other than web frameworks. As such, I'm closing this.

[2019-01-14 00:35] #4724 closed

[2019-01-14 00:41] jcsteh commented on #5582
As noted in https://github.com/nvaccess/nvda/issues/5582#issuecomment-162395235, I reported this to Google, but it seems there hasn't been any action. Given the lack of action on this and the time it's been open, I don't think it's worth tracking here, but you could try contacting Google Accessibility yourself to see if that has any impact. Closing.

[2019-01-14 00:41] #5582 closed

[2019-01-14 00:48] jcsteh commented on #8698
That assumes there is a way to detect which item has the focus, which there may not be. As Marco noted, Mozilla Corporation doesn't work on Thunderbird any more, nor do either of us use Thunderbird ourselves. That said, if someone can file a bug and provide all relevant details, it should be fairly easy for them to fix. Technical info you can provide: if the list items are XUL elements, they can n

[2019-01-14 00:49] jcsteh commented on #6293
No longer relevant now that Skype 7 is dead. Skype 8 uses Electron and this should already work there.

[2019-01-14 00:49] #6293 closed

[2019-01-14 00:52] jcsteh commented on #4802
PR #5539 was opened for this. However, the author never addressed the review comments, so it was closed (https://github.com/nvaccess/nvda/pull/5539#issuecomment-415353888). I'm likewise closing this issue.

[2019-01-14 00:52] #4802 closed

[2019-01-14 01:09] #9042 closed

[2019-01-14 04:16] Qchristensen commented on #3972
@Adriani90 as per my [previous comment](https://github.com/nvaccess/nvda/issues/3972#issuecomment-325854329) I can read documents in protected view, yes.  I recommend turning off the option to display protected view documents in reading view - they will then open in print layout but still protected.  I'm using Word 365, I haven't tried in Office 2013 or earlier.

[2019-01-14 04:17] #3972 closed

[2019-01-14 06:08] Qchristensen commented on #3942
It's working for me with NVDA 2018.4 and LibreOffice 6.1.3.2 or Open Office 4.1.4 on Windows 10.

Since even the original poster advised that it didn't cause any actual problems, just the error in the log, I'm going to close this issue.

[2019-01-14 06:08] #3942 closed

[2019-01-14 08:19] michaelDCurran commented on #9090
This is a rather serious bug in Microsoft Word. In short, for row 2 column 1 in the attached document, getting a UIA text range from the cell's UIA element, and then getting the UIA enclosing element from the text range does not result in the cell UIA element, rather it results in the root UIA element for the document.
@jage9  apart from the content of the cells being fairly long, is there anythin

[2019-01-14 08:44] binayatdelhi opened #9153 "Failed to read area-describedby attribute"
NVDA is reading link content but failed to read area-describedby attribute if NVDA is configured with mouse tracking "on". It works perfectly with Tabbing.

[code]
NVDA version: 2018.4
Windows version: 7
Chrome: 71.0

[2019-01-14 09:00] zstanecic commented on #9153
@binayatdelhi,

Please fill the issue against the template

From: binayatdelhi <notifications@github.com>
Sent: Monday, January 14, 2019 9:44 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Failed to read area-describedby attribute (#9153)

NVDA is reading link content but failed to read area-describedby attribute if NVDA is co

[2019-01-14 10:49] Robert-J-H commented on #7041
@josephsl
I'm not sure if the extended structure is appropriate.
On one hand, we have this comment in comctrl.h:

[code]
which sounds right.
But then we have this macro:
[code]

which uses the simpler structure. I've also read a notify-message that explicitly uses TVITEMEX (in contrast to the comment).

However, who am I to judge, I will have to try both.
I don't expect any gain for our problem si

[2019-01-14 11:08] Robert-J-H commented on #7041
OK, I've tested the appModule a bit.
It works certainly much better than before.
Some things I've noticed:
The object navigation from Computer to the root window and back is not the same.
(Computer -> Registry Editor <- Window <- Tree Control <- Computer)

The accNavigate with direction right should give us the first child.
However, this doesn't work all the time, the key must have been opened pre

[2019-01-14 11:43] leonardder commented on #7041
Even if it was generic enough, this is not a pathway I would accept when reviewing.

I don't think the UIA implementation is broken. This is most likely caused by #8785. @michaeldcurran and I were aware of this while respectively writing/reviewing this patch, but decided that the advantages of introducing it were much more important than disadvantages like this. I guess you could find the SysTreeV

[2019-01-14 15:01] leonardder commented on #2315
It is still present. My advise would be to wait for Python 3 and a possible integration of NVDA Remote into core.

[2019-01-14 15:02] leonardder commented on #9150
I have no idea whether gettext is able to do this. cc @josephsl

[2019-01-14 15:22] leonardder commented on #9148
This can be covered by adding the gui.dpiScalingHelper.DpiScalingHelperMixin to the elements list dialog.

[2019-01-14 17:06] ruifontes commented on #9150
Hello!

Just a question:
If the NVDA language is set to english, NVDA will be using the NVDA.MO
present in the EN folder of Locale folder, so all elements and status
are in english...

To have NVDA using the elements and status in the voice language, it
will be necessary to allow NVDA to read the NVDA.MO from the Locale
folder corresponding to the voice used...

Rui Fontes

Às 18:03 de 13/01/2019,

[2019-01-14 17:24] lukaszgo1 commented on #9150
It works exactly the same way in *all* other screen readers. The current behavior is the expected one. If your screen reader has language set to English you want to hear the control types inn the language in which my screen reader is.

[2019-01-14 17:46] Adriani90 commented on #9150
Yes this is expected as long as you enable automatic language detection. But if not, the pronounciation is broken. I assume users who use a different voice language they can understand it. It‘s more confortable to have a convenient pronounciation. Especially when the voice rate is quite high.

Von meinem iPhone gesendet

[2019-01-14 17:58] ehollig commented on #4024
Closing as worksforme. If someone else is experiencing this issue, please open a new issue with clear steps to reproduce

[2019-01-14 17:58] #4024 closed

[2019-01-14 18:00] lukaszgo1 commented on #9150
The pronunciation is broken, because user explicitly choose to broke it. It should remain that way. We really donot want to replicate the poor experience which VoiceOver offers on iOS when voice language is changed in the rotor.

[2019-01-14 18:22] ehollig commented on #4182
Closing as invalid

[2019-01-14 18:22] #4182 closed

[2019-01-14 18:35] josephsl commented on #9150
Hi,

One way to partially resolve this is editing the user guide to point out the fact that the option mentioned deals with document content, not necessarily element types and states.

With that said, object roles and states and their translations come from NVDA, not speech synthesizers (I know this because I regularly deal with English and Korean and switch to Nuance Vocalizer for reading Korean,

[2019-01-14 18:45] leonardder commented on #9150
I don't think it makes sense to have the clarification as part of the docs 19.1 pr. Let's leave that to changes that really need to be done before 2019.1.

Closing as won't fix, as I agree with the above comments.

[2019-01-14 18:45] #9150 closed

[2019-01-14 21:19] #7095 closed

[2019-01-14 22:37] jage9 commented on #9090
I believe the only things that may contribute to this occurrence are A.
a cell with a lot of text and B. perhaps this cell having some of the
text cropped, though I am not 100 percent on B. I did have a long text
field that did not cause an error in one of the right most columns, thus
my theory on cropped text.

[2019-01-14 22:49] michaelDCurran commented on #9090
According to my machine, that cell is set to wrap text, and that row has
no set height. Therefore, the text should be completely contained within
the cell and not cropped at all if I understand correctly.

Is this something you have only seen with this document, or are there
other real-world documents that have shown this issue?

I'm trying to Gage the severity of this issue in regards to whether

[2019-01-14 23:18] jage9 commented on #9090
Hello.

I encountered this bug originally with a table for a private client, so
wasn't able to provide that specific table as an example. But the bug
occurred frequently with large blocks of text within a cell, and it only
took me about 2 minutes to put enough text into a cell on a test table
to reproduce the bug. I took a line of text, and pasted it several times
in the same cell to create the er

[2019-01-15 00:12] jcsteh commented on #8698
I submitted [a comment on Mozilla bug 1466550](https://bugzilla.mozilla.org/show_bug.cgi?id=1466550#c48) where the initial work on accessibility of the new attachments list was done. However, a separate bug really needs to be filed with proper steps to repro, etc. I haven't done this because I can't devote time to testing, etc.

[2019-01-15 06:11] leonardder commented on #9147
I think it would make sense to have a script that reports the focus object along with its focus ancestors (i.e. the ancestors that are shown in braille as well.

[2019-01-15 07:17] Otobelikethee commented on #9135
cc: @jcsteh

[2019-01-15 08:14] #7907 closed

[2019-01-15 08:17] vgjh2005 commented on #4870
Hi:
yes.

[2019-01-15 08:51] Robert-J-H commented on #7041
It was only meant for checking the results. It is of course not generic since it doesn't handle other tree views.

Not being informed about state changes (especially checked/unchecked) is a very dangerous thing IMHO, e.g. when you're cleaning your system.

However, from what I see with e.g. inspect.exe, UIA doesn't give you any advantages for e.g. regedit. I haven't tried the UIA checker from the

[2019-01-15 09:32] leonardder commented on #7041
Does UIA also expose the wrong information MSAA is suffering from?

[2019-01-15 09:45] #7409 closed

[2019-01-15 10:07] Ednunp commented on #8502
Hi. i'm confused why this has been closed, to my knowledge this has not been resolved yet. What does adding it to the milestone mean? Thanks.

[2019-01-15 10:09] michaelDCurran commented on #8502
This should be working for Outlook 2016 in Master as of a few minutes
ago. This was a part of the work to support UIA in MS Word.

If in deed it does not fix it on your system, we can reopen it and I
will investigate further.

[2019-01-15 10:14] Novalis7747 commented on #8502
Excellent, really appreciated!

From: Michael Curran <notifications@github.com>
Sent: Dienstag, 15. Januar 2019 11:10
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC & BCC fields of new emails (#8502)

This should be working for Outlook 2

[2019-01-15 10:15] Ednunp commented on #8502
HI, I've just downloaded alpha 16555,5 and it is not working. Is there a new alpha version coming out with it in that I need to get later? thanks.

[2019-01-15 10:17] leonardder commented on #8502
You need ALPHA 16557

[2019-01-15 10:22] Ednunp commented on #8502
OH yeah baby, it's back :) thank you so much, you have just made my day about a million times easier when sending emails ;) Very happy this is now closed

[2019-01-15 10:36] Robert-J-H commented on #7041
It returns for the most methods Null, e.g. parent, child and so on.
I've not tested individual patterns but there are not a lot anyway (e.g. legacy, scroll pattern).
And I was also not able to create a tree walker on the last UIA element (e.g. "control host" in a explorer Window, it produced only Null pointers.
But that was out of curiosity, I'm no specialist in UIA.

[2019-01-15 13:21] ghost opened #9155 "Labels reading twice on checkboxes that are styled position relative"
### Steps to reproduce:
https://codepen.io/webknit/pen/OrdKRe
Tab to checkboxes, label should be read once "test label check box  not checked".

### Actual behavior:
label is read twice "test label test label check box  not checked"
This only seems to happen when the labels are set to position: relative; (I have added two sets of checkboxes to tab through and demonstrate this, one without the labe

[2019-01-15 13:43] Adriani90 commented on #6637
Closing as works for me. We can reopen this one if the issue comes up again. Thanks.

[2019-01-15 13:43] #6637 closed

[2019-01-15 13:49] Adriani90 commented on #4463
But I can reproduce it in Word 2010. Here is part of the log file after pressing f7:

[code]
cc: @michaelDCurran

[2019-01-15 13:50] Adriani90 commented on #4463
And here is the developer info:

[code]

[2019-01-15 13:53] Adriani90 commented on #4463
In MS Word and MS Excel 2010 this isue is not reproducible. Only in MS Outlook.

[2019-01-15 13:55] Adriani90 commented on #4463
Testing with NVDA 2017.3. I will test with NVDA 2018.4.1 soon.

[2019-01-15 13:58] Adriani90 commented on #4415
Closing as requested by the author.

[2019-01-15 13:58] #4415 closed

[2019-01-15 14:20] leonardder commented on #8502
I"m afraid this regressed for me when #8919 was merged.

### Steps to reproduce (note that this depends on your available contacts)
1. Open a new message
2. IN the to field, type "mick"

### Expected
NVDA announces Michael Curran <e-mail address>

### Actual result
NVDA stays silent

### System details
Alpha 16557, Windows 10 1809, Outlook 16.0.11126.20196

[2019-01-15 14:34] zstanecic commented on #8502
Hi leonard,

I don’t have this problem with the same outlook build as yours, and using latest mail.

It’s outlook /office365

From: Leonard de Ruijter <notifications@github.com>
Sent: Tuesday, January 15, 2019 3:21 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC & BCC f

[2019-01-15 15:19] josephsl commented on #8502
Hi, for those experiencing it, have you tried with add-ons disabled? Thanks.

From: zstanecic <notifications@github.com>
Sent: Tuesday, January 15, 2019 6:34 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC & BCC fields of new emails (#8

[2019-01-15 15:23] Novalis7747 commented on #8502
I can’t reproduce that under Office 365, it speaks suggestions after I typed the first letter.

From: Leonard de Ruijter <notifications@github.com>
Sent: Dienstag, 15. Januar 2019 15:21
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Ralf Kefferpuetz <novalis7747@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Read Outlook's auto-complete suggestions in the To, CC & BC

[2019-01-15 16:58] eugeneborodkin opened #9156 "In Chrome, Contents of Bootstrap Modal Not Voiced by NVDA"
### Steps to reproduce:
JSFiddle: https://jsfiddle.net/jnv07akx/
In the Bootstrap Modal in this JSFiddle, when hovering or selecting anything inside the modal, NVDA in Firefox voices the elements, but NVDA in Chrome does not.

### Actual behavior:
JSFiddle: https://jsfiddle.net/jnv07akx/
In the Bootstrap Modal in this JSFiddle, when hovering or selecting anything inside the modal, NVDA in Firefox

[2019-01-15 20:41] Adriani90 commented on #4463
Testing with last Alpha 16557,318aaa5b

the issue is still reproducible in Outlook 2010. I get following in the log:

[code]

[2019-01-15 21:56] Qchristensen commented on #5578
My thought on this is that I'd rather see the setting changed to "Use current settings on the logon and other secure screens" - as in, not the saved settings, but the settings which are currently in use.

Using the settings NVDA is currently running with is both more intuitive, and also means that if you do want different settings on the logon screen to your regular (saved) settings, you can set N

[2019-01-15 21:59] jcsteh commented on #9135
Not Firefox specific. Chrome exhibits the same behaviour.

That said:

That there is the label. Without the label, it wouldn't have announced "Header" at this point.

That is no longer the expected behaviour for dialogs within documents. Dialogs are now treated as browse mode documents due to overwhelming user demand and a change in ARIA 1.1. See #4493.

One thing I agree probably does need to be

[2019-01-16 01:48] Qchristensen commented on #3868
This has come up a couple of times recently and I think is still worth pursuing.

Currently, as a workaround, you could set NVDA to start on the logon screen, and set that profile to use "no speech" - that way instead of pressing control+alt+n to start it on the logon screen, you could press NVDA+S.

If there was a way of listening for control+alt+n on the logon screen, that would be more logical

[2019-01-16 02:35] DrSooom opened #9158 "Add ♩, ♪, ♫ and ♬ to the "symbols.dic""
### Regarding to issue #9138 and PR #9154:
Please add the following four musical unicode characters to the "symbols.dic" too, as they aren't part of NVDA 2018.4.1.
+ U+2669 ♩ Quarter Note, Viertelnote
+ U+266A ♪ Eighth Note, Achtelnote mit Fähnchen
+ U+266B ♫ Beamed Eighth Notes, Achtelnoten mit Balken
+ U+266C ♬ Beamed Sixteenth Notes, Sechzehntelnoten mit Doppelbalken

Well, there are 231 more m

[2019-01-16 03:19] Qchristensen commented on #3930
I think having the ability to have information such as the state of checkboxes announced when moving the mouse over them is still important - perhaps even moreso now that not every two-state control has a box with a tick in it.  Whether a control is enabled or not in Word's ribbon (eg Bold or underline) is distinguished by a very subtle colour change in the background of the control itself.

[2019-01-16 04:39] Qchristensen commented on #4033
Ok I think there are two parts to this we can consider:
1) Is there a way to automate sending of crash report data, and perhaps limit the scope for now to NVDA crashes?  My thought is to have this sent on next NVDA startup.  We already have a setting for users to opt-in to sending usage statistics, and at least at first, my thought would be to honour this setting and automatically send crash data

[2019-01-16 04:46] josephsl commented on #4033
CC @DerekRiemer, if you don’t mind commenting about Crash Hero. Thanks.

From: Quentin Christensen <notifications@github.com>
Sent: Tuesday, January 15, 2019 8:40 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Simplified error reporting (#4033)

Ok I think there are two parts to this we can consider:

1.	Is there a way to

[2019-01-16 08:36] Brian1Gaff commented on #9158
How many people actually use all of those. Might there be a case for an add
on that can allow customisation of all of this specialist stuff?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Daniel Mayr" <notifications@github.com>
To: "nvaccess/nvda"

[2019-01-16 09:17] Otobelikethee commented on #9135
@jcsteh Sorry, I don't understand why NVDA says all in the dialog when the dialog gets focused. Is it the behavior of **Browse Mode**? In my opinion, using `aria-describedby` should be more flexible to developers.
I try to add a `application` role on the parent of element with `dialog` role and it works as expected. However, NVDA says all in the dialog when I tab into the content of dialog which h

[2019-01-16 12:13] Adriani90 commented on #8685
Yes I agree with @qchristensen in this regard. Having a Feedback hub like Microsoft has makes sense if you have a centralized Team which works on addressing Feedback and issue Quality. As this is an open source Project, everyone can test and comment on issues. I think many users expect the issues to go directly to NV Access. But this is not the aim of such a Feedback reporting tool. Everyone shoul

[2019-01-16 16:01] leonardder opened #9162 "extensionPoints: support prioritized handler registration"
### Is your feature request related to a problem? Please describe.
Handlers for extensionPoints, such as Actions, are executed in the order they are registered:

[code]

In some situations, it could be helpful to register a handler that is added at the front of the handlers dictionary instead of at the end. In the case of a decider or filter, an add-on author has sort of a way to ensure that its f

[2019-01-16 19:14] poorgeek opened #9163 "System caret not placed into TABLE that has a valid aria-describedby"
### Steps to reproduce:
Create a simple data table that includes an aria-describedby attribute that references some text outside of the table.

[Contrived example (via CodePen)](https://codepen.io/poorgeek/full/BvEYNN)

### Actual behavior:

When navigating to the table via the 'T' hotkey, NVDA announces the heading, table summary and the description. Using the table navigation keys results in "No

[2019-01-16 20:14] cochfarf opened #9164 "NVDA + Firefox does not read the aria-labelledby for checkboxes when reading all or reading next item."
### Steps to reproduce:

1. With NVDA and Firefox running, go to my Code pen
2. Use the down arrow to read the checkbox line. The aria-labelledby is not spoken, just the <label>
### Actual behavior:
aria-labelledby is not read in reading mode.
Note: If TAB is used to navigate to the checkbox the aria-labelledby is spoken correctly
### Expected behavior:
The aria-labelledby should be read in readin

[2019-01-16 20:55] mvita11y opened #9165 "Role="none" on <ins> element does not hide semantics from AT."
### Steps to reproduce:
<h1 role="none">Heading with role="none"</h1>
<p>
  <ins role=“none”>This</ins>
  <ins role=“none”>is</ins>
  <ins role=“none”>it</ins>
</p>

### Actual behavior:

The `<h1>` with `role="none"` is reported in the accessibility tree as a text string with no semantic meaning.

The  `<ins>` elements  with `role="none"` wrapped in the `<p>` are announced as, "inserted this, ins

[2019-01-16 20:58] mvita11y commented on #9165
@sh0ji

[2019-01-17 02:46] DrSooom commented on #9165
@mvita11y: Please list all browsers (incl. version) where this issue occurs. Thanks.

[2019-01-17 06:05] DrSooom commented on #6341
During the searching for issue #3805 yesterday, I found this one here. So I decided to create the list for the "symbols.dic" including all 256 unicode braille characters. This took me less than 45 minutes for creating and ~25 more minutes of testing, because I created a [text file with all them](https://danielmayr.at/files/bct/Unicode-Braille-Zeichen.txt) in April 2016. So I only had to enter the

[2019-01-17 07:21] nvdaes opened #9168 "Add support for DPUB ARIA roles"
### Is your feature request related to a problem? Please describe.
[Digital Publishing WAI-ARIA Module 1.0](http://www.w3.org/TR/2017/REC-dpub-aria-1.0-20171214/) is currently a W3C recommendation, and DPUB ARIA roles aren't supported by NVDA.

### Describe the solution you'd like
DPUB ARIA roles should be supported to facilitate navigation as done with other landmarks, and present semantic inform

[2019-01-17 12:20] leonardder commented on #9158
[**@DrSooom**](https://github.com/DrSooom) commented on [16 Jan 2019, 03:35 CET](https://github.com/nvaccess/nvda/issues/9158#issue-399621790 "2019-01-16T02:35:03Z - Replied by Github Reply Comments"):

What makes you believe that some musical characters are more important than others?

[2019-01-17 13:57] lukaszgo1 commented on #3868
It is worth pointing out, that CTRL+ALT+n conflicts with some keyboard layouts, so we have to either make the shortcut configurable, or choose one which generates no conflicts if it is possible.

[2019-01-17 17:48] scottaohara commented on #8906
Testing again today, this is still an issue with NVDA 2018.4 and 2018.4.1

[2019-01-17 18:33] leonardder commented on #8685
Duplicate of #7745

[2019-01-17 18:33] #8685 closed

[2019-01-17 18:47] leonardder commented on #8192
You're saying that the application crashes. Are you able to provide a crash dump by following [this wiki article](https://github.com/nvaccess/nvda/wiki/LogFilesAndCrashDumps#user-content-minidumps-for-other-applications)?

[2019-01-17 18:50] nvdaes commented on #9168
Thanks. DAISY people may wish to comment more on this now or in future oportunnities, since testers like me are evaluating NVDA with different ePUB reading systems at
[epubtest.org](http://epubtest.org/).

[2019-01-17 19:59] dkager commented on #9168
Yes, while I'm not yet completely familiar with these roles I agree this is a valid, useful addition.

[2019-01-17 22:57] DrSooom commented on #9158
@leonardder: The four mentioned characters above were implemented in the unicode version 1.1 June 1993) and the other 231 in version 3.1 (March 2001). That's it.

As you are going to insert U+266D to U+266F (see PR #9154), I thought it could be done at once by adding U+2669 to U+266C too. Otherwise those four characters could be overlooked when adding the 231 others at a later time. That's why I o

[2019-01-17 23:16] DrSooom commented on #6341
[Here](https://github.com/nvaccess/nvda/files/2770963/6341_Braille.Patterns_some.txt) is the same text file as above, but with the pronunciation level "some" instead of "none". I guess inserting this one here might be better for all users who want the "disable" pronouncing unicode braille characters by switching the pronunciation level with NVDA+P. Otherwise they have to change the pronunciation l

[2019-01-17 23:19] Qchristensen opened #9169 "NVDA reading Windows logon password"
### Steps to reproduce:

(Reported by an educational institution)

### Actual behavior:
On several occasions during testing, (on different computers and with restarts between to confirm) when a user is typing their password into the Windows logon screen, NVDA reads the password typed, rather than "star, star, star".

### Expected behavior:

NVDA should always read "star, star, star" instead of cha

[2019-01-18 01:17] Otobelikethee commented on #9135
cc: @michaelDCurran , @leonardder , @josephsl .

[2019-01-18 01:51] Qchristensen commented on #4385
Using 2018.4.1, I get the same results as [previously](https://github.com/nvaccess/nvda/issues/4385#issuecomment-316030861), that is, Chrome does not do mouse tracking at all reliably, and Firefox works fairly well set to character, word or line, but seems to treat paragraph the same as line.

There are still issues with links in the middle of paragraphs, as per https://github.com/nvaccess/nvda/is

[2019-01-18 02:34] jcsteh commented on #9135
Yes. See #4493 for the background on why this change was made, but in short, the overwhelming opinion is that most dialogs on the web are more like documents rather than dialogs in the traditional desktop sense. That is, they tend to contain more content that the user needs to be able to browse, as opposed to just controls that the user tabs through. In a strict sense, I tend to agree with your st

[2019-01-18 02:51] Otobelikethee commented on #9135
@jcsteh Thanks for you further explanation. Could you please also help to explain the following another behavior based on current "says all" appearance in the dialog?

#### Another weird behavior:
the dialog is closed when I click the Enter key. At the same time, I can hear NVDA says "clickable close button..bla,bla...". Seems NVDA use a scanning cursor to read items in the dialog. And NVDA captur

[2019-01-18 04:52] Qchristensen commented on #7460
If pages are redirecting, EG Get extra voices redirecting from http://community.nvda-project.org/wiki/ExtraVoices to https://github.com/nvaccess/nvda/wiki/ExtraVoices it makes sense to update the links if for no other reason, than to save the time taken to redirect (usually minimal, but still).

In terms of this issue though, all of those examples are auto-redirecting to the appropriate HTTPS page

[2019-01-18 05:37] Qchristensen commented on #4704
I can still replicate in Word 2007 still, but not Word 365.  Since it's most likely that it was Microsoft who fixed the dialog reporting at some point rather than anything we did, and they're not about to fix anything in Office 2007, the question becomes, is it worth us monitoring whether a user is in this dialog in Word 2007 and suppressing the dialog name from being reported when moving focus to

[2019-01-18 05:37] #4704 closed

[2019-01-18 06:09] Qchristensen opened #9170 "Update Norwegian 8-dot Braille table from no-no-comp8.ctb to no-no-8dot.utb"
### Is your feature request related to a problem? Please describe.
The current Norwegian 8-dot Braille table in use is an older version which has numerous characters either missing or corrupted.

A new, extended version of the Norwegian 8-dot table is available on LibLouis which addresses these issues.

### Describe the solution you'd like

Swap from using no-no-comp8.ctb to no-no-8dot.utb

### De

[2019-01-18 06:18] leonardder commented on #9170
Hmm, no-no-comp8.ctb and no-no-comp8.ctb are exactly the same table, since they have an identical name 😜

[2019-01-18 06:19] josephsl commented on #9170
CC @LeonardDer, @DKager

From: Quentin Christensen <notifications@github.com>
Sent: Thursday, January 17, 2019 10:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Update Norwegian 8-dot Braille table from no-no-comp8.ctb to no-no-comp8.ctb (#9170)

Is your feature request related to a problem? Please describe.

The current No

[2019-01-18 07:44] Qchristensen commented on #5059
I agree, the user guide is really good to help answer "I know NVDA can do XYZ, and I know how that function works, but I just can't remember the keystroke to press".  Mentioning things like NVDA reporting overflowing text in Excel is more about the feature of Excel itself than what NVDA can do.

We don't mention things like that you can navigate by word in most text fields with control+right arrow

[2019-01-18 07:44] #5059 closed

[2019-01-18 11:23] Adriani90 commented on #8906
cc: @leonardder

[2019-01-18 12:57] larsbjorndal commented on #8158
This problem is still not solved. Is it possible we can get som progress?

[2019-01-18 13:10] Adriani90 commented on #5164
@tbdalgaard you can also emulate modifier keys on many braille displays, there is more information on this in the user guide. So do you have any further suggestions? Or is this problem solved for you?

[2019-01-18 13:14] Adriani90 commented on #7835
@bramd I think integrating them in the elements list is not really needed. If we treat them as landmarks, then it could be called "article landmark" or so. But yes, I would also like to see it in NVDA's core. A user requested it in the user list today as well.

[2019-01-18 13:19] Adriani90 commented on #8642
ok, it seems to work. Closing as works for me.

[2019-01-18 13:19] #8642 closed

[2019-01-18 13:22] Adriani90 commented on #4328
@Brian1Gaff are you still available?

[2019-01-18 13:43] Adriani90 commented on #6282
cc: @jcsteh

[2019-01-18 14:13] scottaohara commented on #8706
Adding onto this issue, testing again today with NVDA 2018.4.1 the original issue still exists.

Additionally, testing with Firefox 64.0.2, no state change is announced at all when toggling a details/summary widget to be expanded or collapsed.

[2019-01-18 19:07] dkager commented on #9170
Hah, would be good if @Qchristensen updates the issue title, since it is indeed a bit circular now. :)

[2019-01-18 20:24] Adriani90 opened #9172 "Calendar grid in edit field does not work correctly in Firefox"
### Steps to reproduce:
1. Open this website in Firefox
https://www.flysafair.co.za/
2. Activate "round trip"
3. With NVDA  in Focus mode, tab to the "departure or to "return"
3. Those edit fields are read only but you can change the value by pressing the arrow keys (left and right change the days, up and down change the weeks)
4. After changing the value in "departure", change the date in return

[2019-01-18 23:09] ydogandjiev opened #9173 "Browse mode fails to read listbox label and skips over child options"
### Steps to reproduce:
1. Open the following codepen in Chrome - https://codepen.io/ydogandjiev/pen/KbjOMG or add the following HTML to a blank page:
[code]
2. Put focus into the textbox
3. Switch to browse mode (Insert + Space)
4. Hit down arrow a few times until you get to the listbox

### Actual behavior:
NVDA just reads "List clickable". Continuing to arrow down skips right past the options.

[2019-01-19 04:02] DrSooom commented on #9173
@ydogandjiev: Could you please figure out if this issue still exists with NVDA 2018.4.1 and Chrome 71.0.3578.127? Thanks.

[2019-01-19 08:04] Brian1Gaff commented on #6450
Not that I can see. IE 11 is not being used by me, but a quick check seems
to suggest things are working normally. Anyone else got any comments?
 It was back in 2016 after all.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2019-01-19 08:08] Brian1Gaff commented on #9172
I've had awful trouble with the  dates moving back a week when I try to
move them on as well. Not tried other browsers other than waterfox which
does the same sort of funny stuff. (that is a techical term meaning, ehat
the xxx is happening)
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name fi

[2019-01-19 15:34] elliott94 commented on #8192
Closing; after testing with multiple different machines with the same Windows 10/Skype for Business builds and NVDA, it appears that the fact that NVDA is running isn't in fact the issue here (despite my initial testing where the application did not crash when NVDA wasn't open). This appears to be an issue with the client itself. Thank you for your help everyone.

[2019-01-19 15:34] #8192 closed

[2019-01-19 19:56] Adriani90 commented on #6450
Closing as works for me. If the issue comes up again, please feel free to comment on it and we will reopen it.

[2019-01-19 19:56] #6450 closed

[2019-01-19 20:02] Adriani90 commented on #9089
@josephsl did you get further test results from users? Are there still issues with Aragonese or other languages?

[2019-01-19 21:20] lukaszgo1 commented on #9014
This is Tera Term specific ad least Secure CRT is free of this problem.

[2019-01-20 00:35] Adriani90 commented on #4669
@sonor3000, @novalis7747 did you encounter this issue on VM maybe? Or could you test if you can reproduce it? Maybe also trying NVDA remote. Thank you very much!

[2019-01-20 00:56] Adriani90 commented on #4954
@sumandogra, @bhavyashah I have seens this issue multiple times. however, disabling pages in document formating settings and changing the view in MS word to "web layout" or so led to major improvements in performance. Did you try the suggestions above from Derek? Could you please test with last NVDA Alpha in Word 2016 and report if you still have this issue?

[2019-01-20 01:32] Adriani90 commented on #4927
In Chrome it also works as expected. So it seems the issue is only related to internet explorer.

[2019-01-20 01:37] Adriani90 commented on #4941
@josephsl, I guess this is still the case. Right? Maybe it should be considered further while moving to Python 3.

[2019-01-20 01:40] Adriani90 commented on #4937
I do not have this issue on Windows 8.1. I will close this as works for me. @diego if you still have this issue, please comment on this one and we can reopen it. Thanks.

[2019-01-20 01:40] #4937 closed

[2019-01-20 02:09] DrSooom opened #9174 "The Update Check Notification interrupts reading the Add-on Compatibility Warning Notification, the Welcome Dialog and the Usage Stats Question"
### Steps to reproduce:
1. Download [NVDA 2018.4](https://www.nvaccess.org/download/nvda/releases/2018.4/nvda_2018.4.exe) and install it as a portable copy.
  + Important note: At the moment NVDA 2018.4.1 is the latest version. For this Str an older one is required.
2. Launch the portable copy of NVDA.
3. The Welcome Dialog appears.
### Actual behaviour:
4. And if an internet connection is availab

[2019-01-20 02:12] Adriani90 commented on #4932
Did anybody answer already the question from @ManshulBelani? Is this case solved?

[2019-01-20 02:13] Adriani90 commented on #4932
cc: @josephslb

[2019-01-20 02:42] Adriani90 commented on #4910
But comming back to the original issue, I cannot reproduce the initial issue. The message is properly read by NVDA when using arrow keys or say all command.
@sumandogra are you still able to reproduce it? I tested in Outlook 2010 and Outlook 365.

[2019-01-20 02:49] Adriani90 commented on #4909
This has been solved by #7046. Closing as works for me.

[2019-01-20 02:49] #4909 closed

[2019-01-20 02:56] Adriani90 commented on #4907
What exactly is the issue here actually? I am testin in Firefox 64.0.2 with NVDA 2018.4.1. Pressing tab until skip to video, then pressing enter and then space. The video starts. Pressing space again, the video stops. The only issue I see here is that the button "play / pause" is not reported when activating the skiplink. You must press tab and shift + tab to get the button reported by NVDA.
Howev

[2019-01-20 05:30] ManshulBelani commented on #4932
@bhavyashah @Adriani90 I do have an addon ready for this.
I just need some help with a microsoft registry setting and it will be good
to go. The solution is usable without the registry setting also but in this
case you need to manually change some  language settings in your system.
Does anybody have an idea about the registry setting that handle ls the
setting "Use desktop language bar when availa

[2019-01-20 12:44] CBC33000 opened #9175 "No interrupt Braille reading when cumputer pass in sleep mode"
Hello,
when I read a text with my Braille display and the cumputer pass in slepp mode, the Braille display post "desktop window".
It is possible to add a feature to prevent cumputer to pass in sleep mode when the Braille display is scrolling ?
Thank's.

[2019-01-20 14:13] Adriani90 commented on #4932
@ManshulBelani for Windows 10 I am not sure if there is a registry setting / group policy. But at least for Windows 8 and 8.1 you can find a really good treat here:
https://www.reddit.com/r/SCCM/comments/3a7dso/xpost_rwindows8_use_the_desktop_language_bar_when/
I hope you can find some useful information for this.

[2019-01-20 14:20] Adriani90 commented on #4932
And here are some reg files which can change the flaoting behavior of the language bar in Windows 10.
https://www.tenforums.com/tutorials/103041-turn-off-language-bar-input-indicator-windows-10-a.html
Look for example to Option 4.

[2019-01-20 15:08] lukaszgo1 commented on #4932
@ManshulBelani wrote:

 The solution is usable without the registry setting also but in this case, you need to manually change some language settings in your system. Does anybody have an idea about the registry setting that handles the setting "Use desktop language bar when available" checkbox in the advanced keyboard settings? If yes please let me know.

I am not big fan of my  screen reader mess

[2019-01-20 15:15] lukaszgo1 commented on #9147
@leonardder wrote:

Are there other cases in which such script might be useful in your opinion? If so, are you going to work on this?

[2019-01-20 15:19] lukaszgo1 commented on #9085
@elliott94 I was experiencing something similar in the past, but after updating to Nightly 66 this problem is solved for me. Are you able to check with the recent Nightly version?

[2019-01-20 17:49] leonardder commented on #9147
C can't think of any other advantages, but pretty sure that it makes sense to have such a script.
We can do one of the following:
1. _implement a new script:
2. Extend the report focus script to report ancestry at the third activation.

[2019-01-20 19:48] lukaszgo1 opened #9176 "Microsoft Word with UIA spelling errors not announced when moving with arrow keys"
### Steps to reproduce:
1. Start Microsoft Word in version for which UIA is automatically enabled.
2. type any word which isn't in Word dictionary, and for which Word is unable to perform correction automatically.
3. reread the line with arrow keys.
### Actual behavior:
The typed text is announced.
### Expected behavior:
The spelling error should be announced before the  misspelled word
### System

[2019-01-20 19:48] lukaszgo1 commented on #9176
cc @michaelDCurran

[2019-01-20 20:36] lukaszgo1 commented on #9176
The spelling erors are detected as such. I can navigate to them using f7, can move to them in browse mode with letter W and can list them in the elements list.

[2019-01-20 20:37] lukaszgo1 commented on #9176
@Adriani90 What is your Word version by the way?

[2019-01-20 21:03] Adriani90 commented on #9176
this is Microsoft® Word for Office 365 MSO (16.0.11126.20234) 32-Bit.

Von: Łukasz Golonka <notifications@github.com>
Gesendet: Sonntag, 20. Januar 2019 21:37
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Microsoft Word with UIA spelling errors not announced when moving with arrow keys (#9

[2019-01-20 22:46] ehollig commented on #4782
Yes, still able to reproduce in IE 11 and now Firefox 64. CC @jcsteh

[2019-01-21 01:41] Qchristensen commented on #4119
Still reproducible in Open Office 4.1.6 and LibreOffice 6.1.3.2 with NVDA 2018.4.1 and those linked issues against OO and LO are still open as well.

Perhaps the question now is, is there anything we can (and want to) do in NVDA to overcome this, or wait for OO and LO to resolve from their end?

[2019-01-21 01:46] Qchristensen commented on #8673
This appears to be caused by the same underlying issue as #4115, #4119.

[2019-01-21 02:30] Qchristensen commented on #3768
This is working for me with the current NVDA snapshot (alpha-16583,a33f71cb) in both Open Office 4.1.6 and LibreOffice 6.1.3.2.

Closing.  Good work :)

[2019-01-21 02:30] #3768 closed

[2019-01-21 02:44] DrSooom commented on #9175
@CBC33000: Please provide us more information by completely filing out the gut report draft. And also tell us your used braille display (including the firmware version) and if you already copied your NVDA configuration for the logon screen (via the General NVDA Settings, admin privileges required). Or in other words: Does your braille display shows different contents on the logon screen after boot

[2019-01-21 02:51] Qchristensen commented on #2846
This issue is the same as #5068 - I'll close this one just because there is more discussion on the other issue.

[2019-01-21 02:51] #2846 closed

[2019-01-21 03:51] Qchristensen commented on #4695
I don't get any error when alt+tabbing, however I did get an error in the log when typing into the footer to begin with:

IO - inputCore.InputManager.executeGesture (14:42:32.163):
Input: kb(desktop):t
DEBUGWARNING - NVDAObjects.IAccessible.IAccessible._get_IA2Attributes (14:42:32.173):
IAccessibleObject.attributes COMError (-2147467259, 'Unspecified error', (None, None, None, 0, None))
ERROR - ev

[2019-01-21 05:33] Qchristensen commented on #4910
FIrstly, just for anyone interested, you can view the source HTML for an open email message in Outlook with Alt+h, a, o, a.

There is what looks like a layout table, I think just to show the text as black on a white background, with a grey border either side.

In Outlook 365, I can reproduce being able to move as if in a (2 column by 1 row?) table as per Adriani's comment, and I can't navigate to

[2019-01-21 07:04] leonardder commented on #9170
I added the "good for new dev" label. Note that an entry has to be added to brailleTables.RENAMED_TABLES as well.

[2019-01-21 07:06] zstanecic commented on #9170
Hi Leonard,

I can do it,

When it’s the dadline?

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, January 21, 2019 8:05 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Update Norwegian 8-dot Braille table from no-no-comp8.ctb to no-no-8dot.utb (#9170)

I added the "good for new dev" label. Note that an en

[2019-01-21 07:17] leonardder commented on #9170
@zstanecic: I guess the deadline will be around the merge of #9151. Therefore, a pr like this is likely to be in 2019.1 if filed this week.

[2019-01-21 15:35] lukaszgo1 commented on #6291
It happened again when installing a bunch of dependencies with Pip. Am I really the only one experiencing this?

[2019-01-21 15:56] lukaszgo1 commented on #6491
When the trial of voices mentioned above expires it it even worse. It is no longer possible to switch to either eSpeak or OneCore so the only way to have working NVDA is to remove or reset its config. While it is definitely fault of those voices it should be improved on the NVDA side also no other screen reader suffers from this.

[2019-01-21 16:04] leonardder commented on #6291
I recall I've seen this issue as well, and I have an idea to improve this, at least in such a way that you no longer have to fiddle with signing out and back in again.

[2019-01-21 16:15] tspivey commented on #6291
You're not the only one. I'm used to it by now, and just alt tab out as fast as I can.
I don't think I've had to sign out in a while. Running your test program, NVDA freezes, but I can still press windows+m to go to the desktop and ALT+CTRL+n works to restart NVDA.

[2019-01-21 16:25] scottaohara opened #9177 "NVDA doesn't appear to support HTML figure element or ARIA figure role"
### Steps to reproduce:
With default NVDA settings, go to: [this `figure` test page](https://scottaohara.github.io/testing/figure/tests.html).

Navigate in browse mode to any of the tests. (easiest way is to navigate by heading and then navigate with the down arrow).

Other screen readers like VoiceOver on macOS and JAWS with Chrome and Firefox (and IE11 if `role=figure` is used) will announce the

[2019-01-21 18:12] lukaszgo1 commented on #6291
With this try build nVDA still freezes when executing my test program, but I am able to kill it with CTRL+ALT+D, so switching users is no longer required. Thanks @leonardder  Any chance for fixing the freeze  issue also?

[2019-01-21 18:16] lukaszgo1 commented on #9176
I've tested it on Windows 10 1809, and it is working there, so old version of Win 10 is definitely cause here.

[2019-01-21 18:23] lukaszgo1 opened #9178 "Impossible to upgrade NVDA when it is running on another user account."
### Steps to reproduce:
1. You need to have ad least 2 user accounts on your computer.
2. Start NVDA on the first account.
3. Log in into the second one and either perform update or installation from the launcher.

### Actual behavior:
During install process NVDA installer complains, that the NVDA.exe file is in use and cannot be overwritten. If the install is cancelled screen reader is no longer

[2019-01-21 18:41] leonardder commented on #6291
A, so it definitely fixes a major part, that's great. I will investigate further.

[2019-01-21 18:42] leonardder commented on #6291
Giving this a p2, since it tends to hang up the entire system.

[2019-01-21 19:04] josephsl commented on #4941
Hi, or rather, when we use ConfigObj 5.1.0 features. CC @JCSTeh

From: Adriani90 <notifications@github.com>
Sent: Saturday, January 19, 2019 5:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Config.conf: If an invalid value string is found for a setting, NVDA throws errors and does not r

[2019-01-21 21:22] lukaszgo1 opened #9179 "When performing say all in the log viewer cared isn't following spoken text."
### Steps to reproduce:
1. open log viewer.
2. perform say all.
3. stop say all after some lines, and check caret location with NVDA+up arrow.
### Actual behavior:
Caret is in the place from which you've started reading.
### Expected behavior:
Caret should follow like in the notepad or MS Word.
### System configuration
#### NVDA installed/portable/running from source:
Installed
#### NVDA version:

[2019-01-22 00:33] Qchristensen commented on #5354
I wonder if there might be a solution which overlaps this and #3773 about text selection with the mouse in browsers.  I see 8792 was closed as a duplicate, I'd be inclined to leave 3773 open just in case the solution to copying formatting with the keyboard turns out to be separate to the solution to recognising text copied with the mouse.

Either way, this is still an issue which comes up regularl

[2019-01-22 01:48] jcsteh commented on #5354
@leonardder's work in #8479 on better mouse routing gets us quite some way towards achieving this. If I understand correctly, we should now be able to get the IA2 object and IA2 text offset for a given offset in the buffer, though that code will need to be split out of the screen coords code. We can use that to translate to start and end points for the browser. The challenge is that right now, IA2

[2019-01-22 05:45] kiahnjl opened #9181 "NVDA not reading in specified "lang" when inside an element with an aria role"
### Steps to reproduce:
Use this HTML and run NVDA, then tab to the `p` element:
[code]

### Actual behavior:
The paragraph is read out in English.

### Expected behavior:
The paragraph should be read out in French.

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
2018.4.1

#### Windows version:
10.0.17134

#### Name and version of other sof

[2019-01-22 09:01] leonardder commented on #9175
Hmm, this is an interesting issue. I'm currently not sure when Windows resets the counter that counts up to the moment that sleep mode is activated. If there is an easy way to reset this, it is probably pretty easy to implement this for all braille display drivers.

[2019-01-22 09:09] leonardder commented on #9175
This turns out to be pretty easy. We can call [SetThreadExecutionState](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-setthreadexecutionstate) as part of the execution of a braille display gesture, providing it the ES_SYSTEM_REQUIRED flag. This will reset the system idle timer.

[2019-01-22 14:36] leonardder commented on #8674
@DrSooom: I like your suggestion, but I'll limit it to name and decimal rgb only. If you real need other values, you can perfectly use the decimal values to calculate hsb.

[2019-01-22 15:02] vgjh2005 commented on #7907
Thanks!

[2019-01-22 15:40] leonardder opened #9182 "MS Word with UIA: inaccurate color reporting"
The UIA implementation of MS Word does not report default colors:

### Steps to reproduce:
1. Open a new Word document
2. Type a line of text
3. Press enter, and type another line of text
4. Select the second line
5. Press ctrl+d
6. Tab to colors, and choose a different color using the color picker.
7. Press ok
8. IN NVDA's document formatting settings, enable color reporting
9. Arrow up and down

[2019-01-22 15:51] leonardder opened #9183 "Inaccurate color reporting on NV Access website"
Reported to me in person by @feerrenrut. Writing it down for it not to get lost or forgotten.

### Steps to reproduce:
1. Go to nvaccess.org
2. Move to the first paragraph after the first heading.
3. Get the formatting information

### Actual behavior:
NVDA reports white on dark pale blue-purple

### Expected behavior:
@feerrenrut was pretty amazed and expected something different, at least not da

[2019-01-22 16:34] fernando-jose-silva opened #9184 "nvda does not read the window name correctly in a java application"
### Steps to reproduce:
Open a java application with multiple windows, each window must have a different name.
### Actual behavior:
Press nvda + t to have nvda read the name of the current window.
Nvda announces the name of the first window of the java application.
### Expected behavior:
Nvda should read the name of the current java application window, and should not repeat the name of the first o

[2019-01-22 17:35] leonardder commented on #513
I've seen it happening with Windows 10 as well

[2019-01-22 17:37] leonardder commented on #8081
I'm closing this as works for me. Please shout out if you believe this is wrong.

[2019-01-22 17:37] #8081 closed

[2019-01-22 17:47] leonardder commented on #6463
Could this somehow be related to #6291?

[**@jcsteh**](https://github.com/jcsteh) commented on [6 Feb 2017, 23:39 CET](https://github.com/nvaccess/nvda/issues/6463#issuecomment-277837774 "2017-02-06T22:39:20Z - Replied by Github Reply Comments"):

I'm probably missing something, but I do not yet see how truncating speech can help in solving issues with the typed characters hook. Aren't these unrel

[2019-01-22 18:45] mltony commented on #9129
Please try NVDA build with FastBrowseMode to see if it resolves this issue:
https://github.com/mltony/nvda/releases/download/FastNVDA_alpha_2019_01_21/nvda_snapshot_source-fast_nvda-7c9d81a.exe

[2019-01-22 19:18] CBC33000 commented on #9175
Sleep mode doesn't occures but I noticed screen saver occures so braille reading is interupted. Should I open another issue for that last point?

[2019-01-22 19:30] leonardder commented on #9175
Unfortunately, this doesn't cover screen saver indeed. However, I believe that everyone should be able to disable screen savers, while disabling of auto sleep is often blocked by group policies.

[2019-01-22 20:20] pzajda commented on #9175
A suggestion: Why not calling SetThreadExecutionState with the flag ES_DISPLAY_REQUIRED?
As for multimedia applications.

[2019-01-22 21:05] Adriani90 commented on #8443
@netblue44 this occurs only if the window is not maximized. Try pressing Windows + up arrow multiple times.

[2019-01-22 21:06] Adriani90 commented on #8443
I cannot reproduce this issue in Windows 10 with NVDA 2018.4.1. @amirsol81 are you still having this issue?

[2019-01-22 23:11] iamrafan opened #9187 "NVDA announces a button with role="switch" and aria-checked="true" as "pressed checked""
### Steps to reproduce:
1. Turn on NVDA and navigate to the button in the page(https://codepen.io/iamrafan/pen/NoPrBP?editors=1000) using NVDA
2. Observe how the toggle button is announced

### Actual behavior:
NVDA announces the toggle as "Improved dialog toggle button pressed  checked"

### Expected behavior:
The toggle is expected  to be announced as "Improved dialog toggle button checked" or "

[2019-01-23 02:20] DrSooom commented on #8674
@leonardder: Wouldn't it better to give the user the opportunity to set which value are spoken/displayed on pressing NVDA+F once (via a list of checkboxes in the Document Settings; see NVDA modifier key selection in NVDA 2018.3)? After NVDA+F is pressed twice, all values can be shown there, which makes even more sense, because every single value can be read by itself. This will reduce the amount o

[2019-01-23 02:34] DrSooom commented on #8674
And if only RGB is available, we can reduce "very dark aqua-blue grey (red=36/255, green=41/255, blue=46/255)" to "very dark aqua-blue grey (36, 41, 46)", because the order of the RGB values is always firm.

[2019-01-23 02:39] DrSooom commented on #9184
@fernando-jose-silva: Which Java SE Runtime Environment version is installed?

[2019-01-23 02:43] DrSooom commented on #9187
@iamrafan: Please list all browsers (including version) where this issue occurs. Thanks.

[2019-01-23 02:43] amirsol81 commented on #8443
Yes, I can duplicate it with 2018.4.1.

On Wed, Jan 23, 2019 at 00:36 Adriani90 <notifications@github.com> wrote:

--
Sent from Gmail Mobile via iPhone

[2019-01-23 02:50] jcsteh commented on #6463
As noted in https://github.com/nvaccess/nvda/issues/6463#issuecomment-277837774, the hook calls an RPC function in NVDA. Under normal circumstances, that works just fine, since it runs on another thread. However, if something is holding the Python GIL (remembering that the GIL is a global lock; only one thread can hold it at a time), the RPC function will block until the GIL is released. We use re

[2019-01-23 03:51] DrSooom commented on #9175
Screensavers make no sense for LCD monitors. (OLED would be a different topic, but big OLED PC monitors are still quite rare.) And if you want to use a screensaver for getting a password prompt to close it again, it's better to press WIN+L to lock the PC instead.

[2019-01-23 07:30] Adriani90 commented on #8443
@amirsol81     yould you please try this Alpha build and see if the issue still occurs? Thanks.

The link is here:
https://github.com/mltony/nvda/releases/download/FastNVDA_alpha_2019_01_21/nvda_snapshot_source-fast_nvda-7c9d81a.exe

[2019-01-23 07:30] leonardder opened #9190 "Outlook with UIA: page numbers are reported"
cc @michaeldcurran

### Steps to reproduce:
Open a message in the Outlook inbox with report pages enabled.

### Actual behavior:
NVDA announces the page number:

### Expected behavior:
NVDA does not announce the page number.

I haven't looked at the code yet, but I recall that there's some logic to have page number reporting disabled in Outlook.

### System configuration
#### NVDA installed/portab

[2019-01-23 09:31] WiproCRMAccessibility opened #9191 "NVDA do not announce the state of check box selection"
Open attached HTML. Start NVDA and then follow these steps.
1) Navigate to item and click/press Space, The aria-selected flag is updating. But NVDA is not reading that as selected/non-selected.

[ariaSelected.zip](https://github.com/nvaccess/nvda/files/2786547/ariaSelected.zip)

[2019-01-23 09:34] pzajda commented on #9175
It is better but unfortunately some people prefer to have this little security practice (screen saver or simply automatic lock screen) to be sure their session will be locked without making the computer in sleep mode.
If you forget to press Windows+l, it is a good thing to have the session locked automatically... Except when reading a very long text in braille.
Point of view about this question ma

[2019-01-23 10:17] fernando-jose-silva commented on #9184
the java installed are the 64-bit and 32-bit versions (the 32-bit version was installed per end) version 8 update 201

[2019-01-23 11:13] leonardder commented on #9175
The only alternative I see is simulating a key press of an unused key (i.e. f15) or mouse movement without having the mouse actually move. However, where SetThreadExecutionState is a pathway that's officially supported to do this kind of things, simulating input sounds more like a hack/workaround. Before I'd investigate that further, I'd like to have consent from either @michaelDCurran  or @feerre

[2019-01-23 18:40] leonardder commented on #9187
Comfirmed with Firefox 64.0.2 and Chrome. Firefox just ignores the aria-checked attribute with regard to the pressed state, Chrome seems to add both the checked and pressed states when aria-checked is true.

@jcsteh and  @MarcoZehe: could one of you spread some light on this?

It looks like there are two ways to implement toggle buttons, both which are considered valid implementation strategies ac

[2019-01-23 19:20] mehgcap commented on #9094
Sorry for the delay.

* "speak typed characters" and "speak typed words" are both not checked
* "speech interrupt for typed characters" and "speech interrupt for enter key" are both checked
* I can reproduce the issue with no display connected

Now, the crazy thing: I have so far been unable to reproduce the issue on my home PC. It and my work PC are both running the latest Windows 10, with identi

[2019-01-23 19:35] leonardder commented on #6463
@jcsteh: thanks for the clarification.

I wonder whether aasync RPC as you mentioned in https://github.com/nvaccess/nvda/issues/6463#issuecomment-277837774 might be yet a way to investigate further, as there are most likely more situations where this could be beneficial. At least, this applies to every case where a process could get locked up like this.

[2019-01-23 19:41] leonardder commented on #9178
[**@lukaszgo1**](https://github.com/lukaszgo1) commented on [21 Jan 2019, 19:23 CET](https://github.com/nvaccess/nvda/issues/9178#issue-401466054 "2019-01-21T18:23:00Z - Replied by Github Reply Comments"):

I'd prefer this solution. Of course, this warning can be a question that allows you to shut down the running copies of NVDA. This *never* should be done automatically though.

[2019-01-23 19:43] svenka22 opened #9192 "NVDA not announcing aria-describedby on Chrome"
[aria-describedbynot announced.zip](https://github.com/nvaccess/nvda/files/2788884/aria-describedbynot.announced.zip)

### Steps to reproduce:

- Go to https://login.microsoftonline.com on Chrome (this does not happen on Edge or other browsers)
- Have NVDA running
- Navigate to "Can't access your account link" using Tab key and activate it
- Also find attached 'aria-describedbynot announced.zip' w

[2019-01-23 20:04] Adriani90 commented on #8761
@mythral0 are you still having this issue with NVDA 2018.4.1 and last version of Chrome?

[2019-01-23 20:09] Adriani90 commented on #7840
Testing with NVDA 2018.4.1 and Chrome 71, the issue is not reproducible anymore.
@fernando-jose-silva can you confirm?

[2019-01-23 20:13] Qchristensen commented on #9120
No-one has mentioned which version of Office, but I'm guessing the latest updates to Office 365 (as opposed to Office 2016 or 2013 etc).  I can also repro this on Office 365, and my current version 16.0.11126.20200 (should be latest updates on regular stable update channel).

[2019-01-23 20:31] Adriani90 commented on #7892
closing as works for me, solved in #7901. I have tested in IE11, Chrome 71 and Firefox 64.0.2. I cannot reproduce it. @ShadowBB please comment on this if it is still occuring and we will reopen it. Thanks for reporting.

[2019-01-23 20:31] #7892 closed

[2019-01-23 21:00] Qchristensen opened #9193 "Reporting "Comments" and "Notes" in Excel"
### Steps to reproduce:

TL;DR: In Office 365 at least, It looks like Microsoft have changed what we know as comments to "notes", and added a new thing called Comments (with more reply options).  This causes confusion in identification and reading, as demonstrated below.  Note this issue is purely around the naming, not about the problems executing Part B or reporting the comment in Part C).

Part

[2019-01-23 21:16] Qchristensen opened #9194 "Adding a "Note" to Excel causes NVDA to stop speaking."
### Steps to reproduce:

(Tested in Excel 365 / Office version 16.0.11126.20200 )

1. Open Excel to a blank worksheet.
2. On any cell, press the APPLICATIONS KEY to open the context menu.
3. Select "New note".
4. NVDA stops talking. Type something.
5. Press ESCAPE to save the note.  NVDA does not report anything.
6. Press ESCAPE again to return to Excel.

### Actual behavior:

When activating the

[2019-01-23 21:21] Qchristensen opened #9195 "NVDA does not report (new style) comments in Excel 365"
### Steps to reproduce:

1. Open Excel to a blank workbook.
2. On any cell, open the context menu.
3. Select "New comment".
4. Type a comment, tab to "Post" button and press ENTER.
5. The comment is still visible, press ESCAPE to close.
6. Arrow away and back to the cell with the comment.

### Actual behavior:

NVDA does not report the comment.

### Expected behavior:

NVDA should report "Has comm

[2019-01-23 21:31] Adriani90 commented on #7844
@dan1982code are you still having this issue? If yes, could you please attach a log file when it occurs?

[2019-01-23 21:42] Adriani90 commented on #6382
@mltony I think part of this issue could be solved in your PR. Maybe you have time to consider this one in your implementation. But for this, I guess we should really make fast browse and traditional browse mode optional and explain it in the user guide. A checkbox in the browse mode settings is maybe also needed, in case we need both browse mode methods (i.e. in case magnification is used).

[2019-01-23 21:54] Adriani90 commented on #5423
still the same in Chrome 71.

[2019-01-23 22:00] dan1982code commented on #7844
I can't get this to happen anymore. In fact, I have not seen this issue in a long time now.

[2019-01-23 22:07] Adriani90 commented on #5055
I think this also occurs if you press down arrow to read the grafic alt text line by line. This is also the case for links and other elements which are on multiple lines.

[2019-01-23 22:07] Adriani90 commented on #5055
cc: @jcsteh

[2019-01-23 22:11] Adriani90 commented on #5035
@ruifontes are you still able to reproduce it? I cannot reproduce it in Firefox 64.0.2.

[2019-01-23 22:15] Adriani90 commented on #4318
Closing as works for me. If it is still reproducible, please feel free to comment and we will reopen it. Thanks.

[2019-01-23 22:15] #4318 closed

[2019-01-23 22:20] Adriani90 commented on #3311
@bluetek are you still having this issue?

[2019-01-23 22:35] Adriani90 commented on #3611
@bhavyashah are you still available?

[2019-01-23 22:37] Adriani90 commented on #2169
@jkiss are you still seeing this issue? The link in the issue description is not valid anymore.

[2019-01-23 22:56] Adriani90 commented on #7844
wow this was fast. Thank you for the reply. Closing as works for me.

[2019-01-23 22:56] #7844 closed

[2019-01-24 06:01] DrSooom commented on #9192
@svenka22: Which Google Chrome version is installed?

[2019-01-24 09:56] andrew-l-d commented on #9120
Apologies, I did not think of the Office version.  I had a friend who is using Office 2013 write 😊 in an email to me and it read correctly for him.  NVDA at my end did not read it correctly.  It was a few weeks ago and I did not keep a copy, but am fairly certain NVDA announced colon right parenthesis.  That is different to when I use Office 365, where I get 12 before restarting NVDA.

Andrew

Fro

[2019-01-24 10:21] fernando-jose-silva commented on #7840
yes, it's working properly now, thank you very much.

[2019-01-24 11:47] dsoldera opened #9196 "NVDA doe not read the region on TAB when there is a select as first element"
### Steps to reproduce:
1. Go to Code Pen and create a HTML: a div with a role and aria-label, a select with one option and a input text
2. Go to the NVDA and start on the div using TAB. Check that the NVDA reads the select content bug skiping the role using TAB
3. Using the keys of the keyboad the region context text is been hidden.
4. Example of code: https://codepen.io/dsoldera/pen/rPVgZb
### A

[2019-01-24 14:43] RichCaloggero commented on #7718
This is still an issue.  The reason it is not seen on the above code is because the function invoked by the link refers to an ID that doesn't exist.

The following code will exhibit the problem. Activating the first test link will jump focus to a `th` cell whose ID is "header1"; this cell has a `tabindex="-1"` which makes the cell itself focusable.

Activating the second test link jumps focus to t

[2019-01-24 14:48] netblue44 commented on #3311
No not for a long time can close now thanks.

On 23/01/2019 04:21 p. m., Adriani90 wrote:

[2019-01-24 15:01] leonardder commented on #3311
Closing as requested. Please open a new issue along with steps to reproduce if the issue reoccurs.

[2019-01-24 15:01] #3311 closed

[2019-01-24 15:11] DrSooom commented on #8702
Please also read liblouis/liblouis#688, where I recently wrote down another solution how Unicode characters can be displayed with only three braille characters from U+0000 to U+2FFFF and with four braille characters from U+30000 to U+10FFFF.

[2019-01-24 15:31] leonardder opened #9198 "Do not interrupt speech when scrolling braille"
Suggested by a @bababgecom customer.

### Is your feature request related to a problem? Please describe.
Some people would like to scroll braille while speech is talking. This can be especially handy with shorter displays and when speech is reading a line that doesn't fit on one braille display. In the current situation, speech stops as soon as you scroll.

### Describe the solution you'd like
Add

[2019-01-24 16:48] DrSooom commented on #9198
Duplicate of issue #2124 and #3167.

[2019-01-24 16:57] DrSooom commented on #9196
@dsoldera: We need a few more information from you:
1. NVDA 4.0 doesn't exist. Which one are you using?
2. And with which other versions of NVDA you tested as well?
3. And please also list all the browsers (including version) where this issue occurs.

Thanks.

[2019-01-24 17:10] leonardder commented on #9198
Ah, thanks for catching that!

[2019-01-24 17:10] #9198 closed

[2019-01-24 17:38] Andre9642 commented on #9198
For information, BrailleExtender add-on provides this feature since a while.

[2019-01-24 17:42] leonardder commented on #9198
This is good to know. In my opinion, there are several braille extender features that fit within NVDA core

[2019-01-24 17:44] josephsl commented on #9198
Hi, agreed. Andre, please let me know how I can assist in integrating some of your work into NVDA based on my own work on integrating parts of Windows 10 App Essentials into NVDA Core recently. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Thursday, January 24, 2019 9:42 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re:

[2019-01-24 18:23] Andre9642 commented on #9198
Thanks Joseph! No problem for me to try integrate some features from BrailleExtender to NVDA Core. ☺
I'm just not sure to be as effective as you or Leonard.

[2019-01-24 18:58] jhomme opened #9199 "Excel Regression: Pressing F2, Can no longer read cells"
Please thoroughly read NVDA's wiki article on how to fill in this template, including how to provide the required files.
Issues may be closed if the required information is not present.
https://github.com/nvaccess/nvda/wiki/Github-issue-template-explanation-and-examples
-->

### Steps to reproduce:

1. Open Excel 2016.
2. Press F2 in any cell.
3. NVDA says "unknown."
4. Type some data, then use ar

[2019-01-24 19:17] josephsl commented on #9198
Hi, at some point in the future, I’ll write up some instructions and thoughts on this process on the development mailing list. Thanks.

From: André-Abush Clause <notifications@github.com>
Sent: Thursday, January 24, 2019 10:23 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Do not interrupt

[2019-01-24 20:42] Adriani90 commented on #4910
I am closing it as works for me now and we can reopen it, if someone reports it again. Thanks Quentin for your valuable input.

[2019-01-24 20:42] #4910 closed

[2019-01-24 20:45] Adriani90 commented on #9089
I have tested also on Windows 10 and 8.1 with NVDA 2018.4.1. Everything seems to work properly now. Closing this as works for me since it is also part of NVDA 2018.4.1. We can reopen it if users report this issue again. Thanks.

[2019-01-24 20:45] #9089 closed

[2019-01-24 20:50] #7840 closed

[2019-01-24 20:52] Adriani90 commented on #7718
cc: @jcsteh

[2019-01-24 20:53] Adriani90 commented on #7718
Thanks @RichCaloggero for this update.

[2019-01-24 21:07] Adriani90 commented on #9199
I am closing this as a duplicate as per comment above. I agree that this is quite important, especially when working together with sighted coleagues.
cc: @michaelDCurranB

[2019-01-24 21:07] #9199 closed

[2019-01-24 21:56] jhomme commented on #9199
My apologies. I searched forExcel issues before making this one.

Jim

On 1/24/19, Adriani90 <notifications@github.com> wrote:

--
==========

Jim Homme
http://www.jimhommewebdev.com
Twitter: @jimhomme
Facebook: http://www.facebook.com/jimhomme
LinkedIn: https://www.linkedin.com/in/jimhomme
Skype: jim.homme
FreeChess: jhomme

[2019-01-24 22:54] jcsteh commented on #7718
This occurs because NVDA treats focusable tables/rows/cells as interactive; i.e. they are expected to support their own keyboard navigation. This was done in order to support ARIA grids.

The question is whether it's appropriate to treat focusable table cells as "gridcells". On one hand, it wasn't explicitly marked with role="gridcell", so it's not a gridcell. On the other hand, if it's truly a da

[2019-01-25 07:38] Andre9642 commented on #9198
@leonardder Oopss. Oops. Please ignore my commit. I haven't seen that you have assigned yourself this issue. My work is not finished anyway.

[2019-01-25 08:00] leonardder commented on #9198
My current work is in https://github.com/BabbageCom/nvda/tree/speechInterruptBraille
However, I'm not yet sure about the integration strategy. I like your idea to have an additional attribute on scripts and am also considering something similar.

[2019-01-25 12:43] pumpumpurum opened #9201 "Checked menu item is not announced in IE"
### Steps to reproduce:
1. Go to https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html
2. Tab through the page to any menu
3. Open the menu
4. Navigate with arrows to the checked menu item

### Actual behavior:
The menu item is not announced

### Expected behavior:
Checked menu item should be announced same as not checked with the "selected/checked" word added

###

[2019-01-25 18:31] mhussaincov opened #9202 "virtual box v6.0.0 accessibility issues with nvda and the user interface"
### Steps to reproduce:
1. have nvda running.
2. open virtual box.
3 make sure that there are a few vms created in virtual box.

4, try to arrow up and down the list of vms, try to access the various menus e.g file machine menue.

### Actual behavior:
the only thing i hear when virtualbox is launched is split pain.
when arrowing up and down the list of vms there is no feedback.
when trying to acce

[2019-01-25 18:53] mhussaincov commented on #9202
hi there,
here's a log when i ran nvda with dbugging enabled.

DEBUG - __main__ (18:51:10.263):
Provided arguments: ['C:\\Program Files (x86)\\NVDA\\nvda.exe',
'C:\\Program Files (x86)\\NVDA\\nvda.exe', '-r', '--debug-logging']
INFO - __main__ (18:51:10.263):
Starting NVDA
DEBUG - __main__ (18:51:10.263):
Debug level logging enabled
DEBUG - core.main (18:51:10.420):
Core starting
INFO - core.main

[2019-01-25 23:45] lukaszgo1 commented on #9202
I can confirm this issue. VirtualBox graphical interface was never very accessible, but until 5.2 it was ad least usable. When 5.2 was released the accessibility with NVDA regressed. It is strange, because both JAWS and narrator are reading menu bar, contecst menu and list of vms just fine. It would be nice if it would be fixed.

[2019-01-26 06:09] josephsl commented on #9078
Hi,

I'm closing this softly - that is, left open until #7105 becomes a reality. In the end, I believe a straight native implementation is much better and cleaner.

Thanks.

[2019-01-26 06:46] DrSooom commented on #9202
Related issues: #1552, #2089, #2116 and #4795

[2019-01-26 08:03] leonardder commented on #9202
I was initially thinking that Virtualbox might have switched to QT 5.11 or greater, but this doesn't seem to be the case.
I've also seen the CPU raising rapidly when trying to reproduce the issue. Note that without a vm, both the menu bar and the context menu read just fine.

[2019-01-26 08:10] mohammad-suliman commented on #9202
+1
I am also would like that this issue will be fixed!
Thanks for your efforts.

On Sat, 26 Jan 2019 at 10:03 Leonard de Ruijter <notifications@github.com>
wrote:

[2019-01-26 11:39] leonardder commented on #9202
I can't make narrator to read the list of vms properly. Inspection shows that things in Virtualbox are severely broken. I have a branch that at least stops the freezing from occur, though.

[2019-01-26 11:56] mhussaincov commented on #9202
hi there,
is there anything that could be done on nvda's end?
what's narrator doing that we currently are not?
thanks for looking in to this issue!

On 26/01/2019, Leonard de Ruijter <notifications@github.com> wrote:

--
kind regards,
Majid Hussain

[2019-01-26 11:59] leonardder opened #9203 "Make NVDAObject.children a generator instead of a list"
### Is your feature request related to a problem? Please describe.
Sometimes, we need to walk through the children to get the active child within a container object, a list for example. This happens in QT containers. Fetching the first child and than calling next on that child can sometimes result into an endless loop when IAccessible accNavigate is not implemented properly. However, calls of NVDA

[2019-01-26 12:01] leonardder commented on #9202
When getting the active list item in a list, NVDA brings itself in an endless loop. I'm intending to file a pr that fixes this, but I've still not been able to find a suitable fix for list items not getting focus properly.

[2019-01-26 21:09] lukaszgo1 commented on #6291
@leonardder I understand that properly fixing this would take a while, but would it be possible to include the fix from the try build above in master in the mean time?

[2019-01-27 07:59] josephsl opened #9204 "Windows 10 1903/emoji panel: no opening announcement"
Hi,

Partially blocks #9112: In Windows 10 Version 1903, when emoji panel opens, typical opening announcement is not made.

### Steps to reproduce:
1. Install Windows 10 Insider Preview build 18305 and later.
2. Try opening emoji panel (Windows+period) or cloud clipboard (Windows+V).

### Actual behavior:
NVDA becomes verbose when opening emoji panel instead of announcing the first selected emoji,

[2019-01-27 09:20] DrSooom opened #9206 "Add more "hidden options" to the Advanced NVDA Settings"
### Actual behaviour:
The following "hidden options" can only be changed directly in the "nvda.ini":
+ beepSpeechModePitch
+ speechPercentageInterval
+ beepPercentageInterval
+ beepMinHZ
+ audioCoordinates_blurFactor
+ audioCoordinates_minVolume
+ audioCoordinates_maxVolume
+ audioCoordinates_minPitch
+ audioCoordinates_maxPitch
+ [UIA] minWindowsVersion
+ [UIA] enabled
### Expected behaviour:
1.

[2019-01-27 09:42] josephsl commented on #9206
Hi, one major correction: UIA min Windows version key is gone (I removed it last year). Besides that, I have no comments on this proposal unless asked to comment on certain things. CC @MichaelDCurran, @JCSTeh

From: Daniel Mayr <notifications@github.com>
Sent: Sunday, January 27, 2019 1:21 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvacc

[2019-01-27 11:37] Brian1Gaff commented on #9206
Is any of this  really really top priority though given the current moves to
python 3 and what that will mean to add ons and other things iin nvda.
 Several people would like some of the longer running issues to be fixed I
think before adding complexity to the settings panels.
 Just a thought.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyon

[2019-01-27 17:55] Adriani90 commented on #9070
Closing as works for me. I found out that this issue was occuring due to an outdated romanian synthesizer. Testing with eSpeak and Onecore voices, the issue is not reproducible.

[2019-01-27 17:55] #9070 closed

[2019-01-27 17:58] Adriani90 commented on #5035
I am closing this as works for me. @bhavyashah, @ruifontes please comment on it if you still have this issue. We will reopen it if you can reproduce it.

[2019-01-27 17:59] #5035 closed

[2019-01-27 18:04] Adriani90 commented on #7069
@abdullah5490, @jage9 is this issue still occuring in Windows 10 1809 Update?

[2019-01-27 18:08] Adriani90 commented on #5172
cc: @mltony

[2019-01-27 18:34] mltony commented on #5172
My NVDA add-on BluetoothAudio fixes this issue by playing silence to prevent wireless headsets from entering standby mode. To optimize battery usage, it only plays silence for 1 minute (configurable parameter) after the last speech command.
https://github.com/mltony/nvda-bluetooth-audio/

[2019-01-28 01:25] josephsl opened #9207 "Python 3.8: use gettext.pgettext function for translatable strings with contexts"
Hi,

Blocked by #7105 and Python 3.8:

### Is your feature request related to a problem? Please describe.
In 2012, as part of adding message contexts for various translatable messages (see #1524 for details), NVDA added pgettext function to built-in namespace. Fast forward to 2019, and one of the additions in python 3.8 (later in 2019) will be gettext.pgettext family of functions (see python/cpyth

[2019-01-28 05:55] leonardder commented on #6291
I think that makes sense, yes.

[2019-01-28 07:20] leonardder commented on #9206
#9200 intends to implement the most important advanced settings. I think this issue is good for a new developer whenever #9200 is merged into master. I'm pretty sure that it is very low on the priority list of both NV Access and other volunteer developers though.

[2019-01-28 07:54] abdullah5490 commented on #7069
no, its working fine.

[2019-01-28 09:11] leonardder commented on #9202
I've also found JAWS to be unable to reflect any updates in the selection list for VM's. Therefore I will limit a pr to the freezes only.

[2019-01-28 09:14] mhussaincov commented on #9202
my thanks :)
Majid

On 26/01/2019, mohammad-suliman <notifications@github.com> wrote:

--
kind regards,
Majid Hussain

[2019-01-28 09:55] Adriani90 commented on #7069
Closing as works for me. @abdullah5490     thank you for your promt reaction.

[2019-01-28 09:55] #7069 closed

[2019-01-28 13:54] leonardder commented on #9202
Giving this a qt, since it freezes NVDA within VirtualBox and is pretty harmful for the user experience. Furthermore, the freezing it is easy to fix.

[2019-01-28 14:09] leonardder opened #9209 "Use the new focusRedirect system rather than overriding event_gainFocus on objects"
### Is your feature request related to a problem? Please describe.
NVDA uses legacy focus redirection code in several places. For example:

* NVDAObjects.IAccessible.qt.Container
* NVDAObjects.IAccessible.qt.Container
* NVDAObjects.IAccessible.qt.Client
* NVDAObjects.UIA.edge.EdgeHTMLRootContainer

The Edge code looks like this:

[code]

### Describe the solution you'd like
NVDAObjects now support

[2019-01-28 16:32] leonardder commented on #9202
[here](https://ci.appveyor.com/api/buildjobs/ncxtegr88cy4wexs/artifacts/output%2Fnvda_snapshot_try-qtUpdates-16632%2Ccff7807b.exe) is a try build that should fix the freezes.

[2019-01-28 16:50] leonardder commented on #9203
It turns out that there isn't that much in core that has to be changed for this.

Cc @josephsl: curious what you think about this proposal.

[2019-01-28 17:23] Piciok opened #9210 "Make controlling the reading of emoji separate from punctuation settings"
Currently, in order to have the emoji read, it is necessary to set the punctuation level to minimum "some". To me at least, this situation is not optimal as usually I'm not interested in hearing all of the punctuation that is read in that mode when using my computer for everyday tasks such as reading books, browsing the Internet or chatting; it is sometimes impossible to gather the context of comm

[2019-01-28 18:36] #9210 closed

[2019-01-28 18:48] leonardder commented on #6532
I'm closing this for now, also given the age of the issue with regard to recent changes to Skype, especially version 8.

[2019-01-28 18:48] #6532 closed

[2019-01-28 21:05] Adriani90 commented on #3674
Ok I have tested with NVDA 2018.4.1 and IE11. The issue is still reproducible.
@leonardder this issue in IE is also very present in SAP web apps which are working only in IE.

[2019-01-28 21:20] Adriani90 commented on #3944
Ok, I didn't see this issue ever and we cannot test because it is very specific. I will close it and we can reopen it if someone reports it again.

[2019-01-28 21:20] #3944 closed

[2019-01-28 21:22] Adriani90 commented on #4224
@dnz3d4c did you find some time to test if the issue is still occuring? Thanks.

[2019-01-28 21:36] Adriani90 commented on #5011
@Sukil are you still having this issue?

[2019-01-28 21:40] Adriani90 commented on #4964
@k-kolev1985 I am trying to reproduce this issue but cannot. If this is not an issue in Skype 8, I would suggest to close it because the interface changed significantly.

[2019-01-28 21:47] Adriani90 commented on #5003
@Brendon22 are you still having this issue? I cannot reproduce it with NVDA 2018.4.1 in IE11.

[2019-01-28 21:55] mhussaincov commented on #9202
hi there,
sorry for my late reply,
so far, installed the build,
launched virtual box,
no freezing!
if i tab in the window once it says list,
tab again then i hear the name of the vm.
arrow down once i hear nuthing
if i tab twice i hear the second vm in the list.
there seembs to be a second box thingy after the list of vms i'm not
sure what that is however, here's the log for this.
I hope it is of

[2019-01-28 22:01] Adriani90 commented on #4965
@Sukil could you please help us reproduce such an issue with an example document? Thanks.

[2019-01-28 22:19] Adriani90 commented on #5067
@vgjh2005 if I understand you correctly, you want a hotkey to switch between current profile and standard configuration? If you are using two sound cards and you have multiple profiles, you can also set a specific profile to be triggered manually instead of automatic. In that way you would always start with the standard configuration in your application and you can switch the profile manually.

Is

[2019-01-28 22:31] Adriani90 commented on #5095
@ondrosik can you still reproduce this issue?

[2019-01-28 22:40] Adriani90 commented on #5029
@surfer0627 is this issue still reproducible with NVDA 2018.4.1?

[2019-01-28 22:49] Adriani90 commented on #7758
I cannot reproduce this issue in NVDA 2018.4.1 and Excel 2016 and 365. I am closing this one as works for me. We can reopen it if someone reports it again. thanks.

[2019-01-28 22:49] #7758 closed

[2019-01-28 22:51] Adriani90 commented on #5076
@msuch, @josephsl, @bdorer can you still reproduce this issue? I have tested in MS Excel 201 and 2016 and this seems solved now.

[2019-01-28 22:59] Adriani90 commented on #5072
After the redesign of the webpage, it seems that there is a link under "get help" which is called "find out more". This link leads already to the connect wiki on github, where users can find all information needed to subscribe to the users list etc.
Moreover, at the bottom of the nv access website there is a link to the main github page for NVDA.

I am closing this issue also in favour of #4033.

[2019-01-28 23:00] #5072 closed

[2019-01-28 23:05] Adriani90 commented on #5071
@derekriemer is the bullet point in 10.2.2 actually enough for new users? It provides a quick method to rach the diagram via elements list and says that you can navigate it by pressing arrow keys.

[2019-01-28 23:14] Adriani90 commented on #5065
I know that code factory vocalizer voices have issues with say all in NVDA. I suggest to report this to code factory. Vocalizer voices from tiflotechnia do not seem to have this issue.
Regarding eSpeak and the short delay after abbreviation, this is because NVDA interprets it like the end of a sentence. If you insert a new rule in the voice dictionary to force NVDA to read the whole word (i.e. etc

[2019-01-28 23:14] #5065 closed

[2019-01-28 23:16] Adriani90 commented on #5052
@parham could you please give us an update regarding this issue? Are you still having it?

[2019-01-28 23:19] Adriani90 commented on #5047
@gandalf is this issue still reproducible with NVDA 2018.4.1 and last browser versions?

[2019-01-28 23:32] Adriani90 commented on #5018
Ok the author seems not to be available anymore and the link provided does not lead to the svg which would let us reproduce this issue. I will close this one.

[2019-01-28 23:32] #5018 closed

[2019-01-29 00:18] #9170 closed

[2019-01-29 03:20] josephsl commented on #9203
CC @JcSTeh, @MichaelDCurran, as they are the actual experts on this.

[2019-01-29 07:16] leonardder commented on #6291
Ugh, it wasn't my intention to have this automatically closed, as it isn't fixed entirely. Reopening.

[2019-01-29 07:40] leonardder commented on #9203
Ah, you're right. It turns out that, especially in the case of IAccessible, IAccessibleHandler.accessibleChildren is the real culprit here. I initially thought that the massive performance hit was caused by NVDA creating NVDAObjects for every underlying IAccessible or UIA object.

Closing this.

[2019-01-29 07:40] #9203 closed

[2019-01-29 07:42] leonardder commented on #4964
Closing this, since Skype has been entirely rewritten.

[2019-01-29 07:42] #4964 closed

[2019-01-29 07:42] leonardder commented on #4964
Closing this, since Skype has been entirely rewritten.

[2019-01-29 10:34] Adriani90 commented on #1348
@aleksey_s, @Mohammed, could you please test if this is still an issue? Thanks!

[2019-01-29 10:36] leonardder commented on #1348
Yes, this is still an issue.

[2019-01-29 11:44] DrSooom commented on #9202
@mhussaincov: As far as I know the update check feature isn't available for try builds.

[2019-01-29 14:58] bdorer opened #9212 "list of incompatible add-ons reads status only"
### Steps to reproduce:
open add-ons manager, activate Manage incompatible add-ons... and arrow through imcompatible addons.

### Actual behavior:
While arrowing NVDA says checkbox checked or not checked.

### Expected behavior:
NVDA should read the list entries corresponding to the checkbox in front of them.

### System configuration
#### NVDA installed/portable/running from source:
installed

##

[2019-01-29 16:42] bdorer commented on #9212
Woops! You god it. Didn't think that this option has anything to do there.

[2019-01-29 16:47] josephsl commented on #9212
Closing as worksforme.

[2019-01-29 16:47] #9212 closed

[2019-01-29 18:13] Adriani90 commented on #5095
I have tested with NVDA 2018.4.1 in Firefox 64.0.2. eSpeak, tempo 100, rateboost off. The rate is not changing when reading math content. I cannot reproduce this issue. I will close this as works for me. Please comment on it if you can reproduce it. We will reopen it then.

[2019-01-29 18:13] #5095 closed

[2019-01-29 18:20] Adriani90 commented on #5166
@k-kolev1985 I know that this might be difficult to test, but do you think this issue is still occuring? cc: @josephsl

[2019-01-29 18:22] Adriani90 commented on #5164
Since we did not hear from the initial author for a very long time, I am closing this one. Please open a new feature if you feel that something is missing. Thanks.

[2019-01-29 18:22] #5164 closed

[2019-01-29 18:25] Adriani90 commented on #5105
@bhavyashah are you still able to reproduce it in newer versions of MS Word with NVDA 2018.4.1 and newest Math player?

[2019-01-29 18:31] Adriani90 commented on #5133
I suggest to close this issue because the user can specify in the symbols dialog on which symbol level NVDA should report a certain symbol. So you can change the reporting behavior for Komma to be reported when you have symbols set to another setting than "all". Note that it works for example properly for dot, percent or dollar sign if you have punctuation to "some". For komma it can be adjusted a

[2019-01-29 18:37] k-kolev1985 commented on #5166
@Adriani90 Since there hasn't been any work done in order to fix this in NVDA, I doubt that is fixed now. I may be able to test it in one of my virtual machines these days and report the results here. I just need to find some free time to do it. :-)