[2020-06-23 12:37] codeofdusk commented on #11288
Cc @michaelDCurran  @carlos-zamora.

[2020-06-23 12:41] bhavyashah commented on #505
The impact of this issue is limited to the intersection of (a) Braille users, (b) German users. Doing some research on the German language, let me share some of what I found. Austria and Germany, both of which have German as their official language, cumulatively account for a third of German speakers worldwide. According to NVDA User Statistics, Germany and Austria together account for 1.3% of NVD

[2020-06-23 12:55] leonardder commented on #235
This issue has two parts:

1. The ability to provide custom role text. This was done in #8448
2. Being able to find out what role an object has for debugging purposes. This can be done by getting the developer info, but #10732 will provide a much more elegant fix for that.

Closing this one.

[2020-06-23 12:55] #235 closed

[2020-06-23 13:12] bhavyashah commented on #2590
elliott94  This is a gentle request to respond to https://github.com/nvaccess/nvda/issues/2590#issuecomment-315936412.

[2020-06-23 13:15] fernando-jose-silva commented on #9808
This call has long been open.
From what I remember when I discovered this case, I would like to capture in the speech viewer the names of the controls displayed on the screen of the synthesizer exchange window, and the names of the synthesizers as well as explanatory texts in this window to write a handout used in course we give about the use of nvda in the institution where I work.
When writing m

[2020-06-23 13:19] DrSooom commented on #11177
@amirsol81: That's the expected result regarding this change. What's the braille output here? I know that this doesn't help non-braille users, but it would be interesting. (Currently I can't test this myself.)

[2020-06-23 13:32] amirsol81 commented on #11177
@DrSooom What I'm describing is one of the most screen reader-unfriendly issues I've noticed: Insert+Up (NVDA+Up) must always read the current line or control, or spell it if pressed twice. Now if you press ALT+F in Chrome and press Up twice to reach Help submenu, pressing Insert+Up doesn't read it. If you press ALT+F and press Up a few times to reach items such as Copy and Paste, Insert+Up doesn'

[2020-06-23 14:12] DrSooom commented on #11177
@amirsol81: You're right, but this would be another issue and it has not directly something to do if U+FFFC is spoken or not. I have already noted down to open an issue for filtering certain Unicode characters from the virtual buffer. (I'll create a new issue regarding this in the upcoming days.) Unsure if this would help in the Chrome specific bug. So in the meantime I ask you to open a new issue

[2020-06-23 14:31] bhavyashah commented on #2163
Status update: I can confirm that this issue persists with NVDA version 2020.2 Beta 1 on a Windows 8.1 system. I am unable to give specific steps to reproduce at the moment, but I certainly recall experiencing this double speaking from the Secure Screen NVDA voice and the Desktop NVDA voice in the recent past. Both voices are different so I am able to distinguish between Secure Screen NVDA and Des

[2020-06-23 14:51] bhavyashah commented on #2313
I want to detail a situation, maybe a little bit of an edge case, wherein this issue had a tangible impact.
I had my User Account Control Settings > Notification Level set high enough to trigger a confirmatory notification about NVDA's installation. Note that this UAC notification pops up on Windows itself and not on a secure screen. Additionally, this UAC notification does not take focus directly

[2020-06-23 15:00] bhavyashah commented on #5463
Does Word have public documentation on how it defines a sentence? If so, can NVDA co-opt that definition and universalize it?

[2020-06-23 15:21] bhavyashah commented on #7091
@Adriani90 Since it has been 3 years since filing this ticket, I think it might be useful to provide a status update as to whether there has been any changes in the accessibility of the latest versions of these software using recent NVDA releases.

[2020-06-23 15:50] Neurrone commented on #8991
The issue for me is that it doesn't appear to be possible to increase the size of the speech viewer window via the keyboard nor the mouse so that it is easier to see more text at a time.

[2020-06-23 16:02] lukaszgo1 commented on #11263
@DrSooom I believe you are a braille user and German is your mother tongue - right? Have you tested these new German tables specifically? also cc @MarcoZehe who I believe have created issues about problems in German braille translation in the past.

[2020-06-23 16:29] amirsol81 commented on #11177
@DrSooom I opened #11285 few days ago to address those Chrome-oriented bugs, but someone closed it as it was deemed a duplicate of this one which apparently isn't.

[2020-06-23 16:47] Adriani90 commented on #11177
@amirsol81 it is a duplicate of this. What do you expect to hear when you land on object replacement character? Previously you said it is an issue that it is reported, now you say it is an issue that it is not reported. The object replacement character does not give an user any useful feedback at all.

To come back to this issue, the removal of the role has now been merged because many users reque

[2020-06-23 16:56] Adriani90 commented on #11295
This is reproducible in Firefox 77 and also in Chrome 83. I am not sure if this is exposed by the browsers for checkboxes at all.
cc: @jcsteh, @ObjectInSpace

[2020-06-23 16:58] josephsl commented on #2791
Hi,

In this case, it would be better to let Korean users comment on this, as they can tell us if things have improved.

Thanks.

[2020-06-23 17:11] Adriani90 commented on #9096
it seems NVDA reports "expanded" when the button is expanded and you focus it with arrow keys. But this does not work when the button is colapsed. NVDA does not report it, for what ever reason. Neither when focussing, nor when pressing enter on the button.

[2020-06-23 17:15] comunicationVoices commented on #11294
Hello, thank you very much, now I just did it. I am new to Gitub, so I apologize if something went wrong.

[2020-06-23 17:20] Andre9642 commented on #9213
Honestly, save your time! Don't bother reading my code to implement this feature in NVDA core. Better to restart from scratch, IMHO. Indeed:

1. I'm not very very happy of my current implementation. It works but it's probably not efficient/optimized.
2. My code is not commented/documented (I know; it's not a good practice!).
3. I'll make some changes to implement other upcoming features in the add

[2020-06-23 17:23] Adriani90 commented on #7249
Yes in Win10 Onecore is the default synth.

[2020-06-23 17:25] ObjectInSpace commented on #11283
Docs uses live regions when braille mode is off. The letter has the correct capitalization when it is put into the live region. The reading of capitalization status in live regions is controlled by the screenreader.

[2020-06-23 17:44] Adriani90 commented on #11191
Thanks Daniel for the link. I tested and it seems now NVDA regains the carret position faster now, it reads the text. But the error is still occuring and I guess this might have performance impact, especially in big documents. It would be nice if someone can investigate.

Just press and hold down ctrl+down arrow or only down arrow as described in the description and you will reproduce the error.

[2020-06-23 18:02] Adriani90 commented on #505
@bhavyashah even though the statistics show this number, this was the current user respondents at that time. This changes over time and not to forget that most users using braille displays come from western countries such as germany, france and so on. Most braille contributions come from such countries. So this should not be neglected.
Moreover, by the way switzerland belongs also to german speaki

[2020-06-23 18:10] amirsol81 commented on #11177
@Adriani90 Guess for the umpteenth time, I expect to have these controls and items announced or spelled when I press Insert+Up, once or twice, on them, regardless of whether or not they contain such a character. These are normal controls which are properly read/announced/spelled by other screen readers, so NVDA's behavior, whether it is the announcement of Object Replacement Character or it is tot

[2020-06-23 18:19] Adriani90 commented on #8518
Trying to come back on this, I think the discussion is prety long here. For what is worth, Tony's addon is used now for some years and as far as I know people are quite lucky with it. However, since many users ask for this to have it in the core, especially users not able to download addons, I think it make sense to consider this further.
If someone still has concerns on this, maybe it can be impl

[2020-06-23 18:20] Adriani90 commented on #5463
I am closing this in favor of #8518 which covers a more broader scope and a much more detailed discussion on technical part.

[2020-06-23 18:20] #5463 closed

[2020-06-23 18:29] Adriani90 commented on #7091
The only issue that remains now is the SAP Gui. Since it is not a browser based application, it is hard to convince them to adapt it. I do not have the negociation power to do this unfortunately.

I managed to convince SAP however to update their netviewer so that combo boxes are working well now.
And to my surprise, my feedback to the Adonis tool has been taken into account. Given its huge comple

[2020-06-23 18:30] aleventhal commented on #11210
@josephsl another approach, rather than attempting to retrieve this semantically and ahead of time from the control, would be to simply wait and see if the character was actually inserted. This would support a wider variety of input restriction solutions, including those using JavaScript to restrict a pattern. For example, some zip code controls enforce the letter number letter pattern via script.

[2020-06-23 18:50] leonardder commented on #8518
I think this request might be a bit premature as long as we have no standpoint by NV Access. @feerrenrut, would you be able to provide one?

[2020-06-23 18:50] Adriani90 commented on #11177
@amirsol81 thanks for the clarification.
Even though other screen readers announce it, these characters are useless in my opinion and you cannot interact with them anyway. So I would vote for excluding them from object navigation as pointed above.
Do you hate certain use cases where you need to hear such characters like document replacement character?

[2020-06-23 19:07] Adriani90 commented on #10854
This has been greatly fixed by @JulienCochuyt in #11167. My guess is that capital letters are treated as symbols in some cases.
I am closing as works for me, tested in NVDA Version alpha-20381,c081e515.

[2020-06-23 19:07] #10854 closed

[2020-06-23 19:10] Adriani90 commented on #10912
Closing as duplicate of #505.

[2020-06-23 19:10] #10912 closed

[2020-06-23 19:55] elliott94 commented on #2590
Happy for this to be closed. :)

[2020-06-23 20:00] XLTechie commented on #2313
Are you suggesting that the beeps should be replaced with a message that says
something like "Waiting for user input, you may need to alt-tab repeatedly until
you find a dialog asking for permission.", if the user hasn't interacted after
a few minutes?

I have certainly seen the behavior you describe.

On Tue, 23 Jun 2020, bhavyashah wrote:

[2020-06-23 20:07] amirsol81 commented on #11177
@Adriani90 I don't hear Document Replacement Character or Object Replacement Character with other screen readers. Rather, I hear the name of the control or item on which I press Insert+Up. For instance, if I'm on Bookmarks submenu or a bookmark, pressing Insert+Up reads it to me and announces it the way it is read upon landing on it via Up/Down. Please kindly test these with JAWS 2020 June Edition

[2020-06-23 20:10] Adriani90 commented on #11177
Ok thanks. This indicates that other screen readers just skip them, which imo is expected behavior here.

Von meinem iPhone gesendet

[2020-06-23 20:17] amirsol81 commented on #11177
Yes, they ignore the so-called useless and nonsensical character and
announce the rest of the control. NVDA ignores everything as it stands.

On 6/24/2020 12:40 AM, Adriani90 wrote:

[2020-06-23 21:39] XLTechie commented on #11177
@Adriani90 wrote:

@Adriani90, you are focusing too much on the document and object replacement
characters, and ignoring the rest of the problem.

What he is trying to tell you, is that other screen readers do skip those, but
they also do read the actual name of the element.

NVDA, on the other hand, now skips the object and document replacement
characters, but it also skips reading of the name of

[2020-06-23 22:09] Adriani90 commented on #11285
Ok it seems I was wrong here, this issue persists for a longer time. I thought it was related to the object replacement character. In fact, I tested with NVDA 2019.3.1 and the current line is not reported at all on these objects.

[2020-06-23 22:15] Adriani90 commented on #11285
This issue even occurs with NVDA 2018.2.1. @amirsol81 could you please test with an older version of Chrome?
It works just well in Microsoft Edge Chromium or Firefox. So this seem really Chrome specific.
cc: @ObjectInSpace

[2020-06-23 22:17] Adriani90 commented on #11285
Ah and if you don't mind, could you please change the title and the description saying that NVDA does not report the current line? It can be confusing for testers or developers as it is now, since the behavior changed in last alpha. Thanks.

[2020-06-23 22:20] Adriani90 commented on #11177
Since this has been solved for now in #11267, I am going to close this issue.

[2020-06-23 22:20] #11177 closed

[2020-06-23 22:25] Adriani90 commented on #11274
@nousrnm ok thanks for the clarification. I am closing this again, having in mind issue #11277. For the future it would be ideal to have minimal test cases or code snoppets when create such new issues. Otherwise people can get confused and investigation is really hard or even impossible.
Thanks for reporting and let's continue the discussion on #11277.

[2020-06-23 22:25] #11274 closed

[2020-06-23 22:53] rpaquay commented on #5814
@bhavyashah I don't recall the context around this. However, my earlier comment (https://github.com/nvaccess/nvda/issues/5814#issuecomment-197459029) seems to suggest Access Bridge Explorer exposes all the information exposed by JEditorPane, so it is a matter of creating a sample app and looking at the accessibility tree.

[2020-06-23 23:09] #4837 closed

[2020-06-23 23:09] ObjectInSpace commented on #11285
I can confirm that the current line is not read in Google Chrome for NVDA 2020.1 in Chrome 85, but it reads correctly for Chrome 83. So I think this issue you are now reporting is unrelated to the original one. In any case, can you confirm that this does not occur in Chrome 83.0.4103.106? I'll file this Chrome-side. Thanks much!

[2020-06-23 23:12] #9682 closed

[2020-06-23 23:26] bhavyashah commented on #2313
Apologies for not being clearer in my last comment.
My earlier conception was that if standard progress bar beeps were my expectation as an existing user updating NVDA or installing NVDA on a new system, then the silence - both in terms of no beeps and no speech reporting assuming both were enabled - would be enough of a hint for me to realize that someting had stalled the installation. Moreover,

[2020-06-23 23:35] jcsteh commented on #11295
Even though you can put them in a group, check boxes are not considered to be positional elements by any accessibility spec or framework, so this information is not exposed. Thus, this is expected behaviour.

[2020-06-23 23:35] #11295 closed

[2020-06-24 00:07] gurooprasad commented on #11295
I think that's the point. The bug can be converted to feature request to communicate that info.

[2020-06-24 00:58] jcsteh commented on #11295
It can't, though. Browsers don't expose it, so screen readers can't get at
it. And browsers don't expose it because the spec says they shouldn't. If
you wanted this to change, that would have to be addressed at the spec
level.

I'm also not convinced there is any value to users. It's important for
users to understand how many radio buttons there are because they have to
choose one from a finite se

[2020-06-24 01:21] Qchristensen commented on #6167
Is there a use case for having alt+a assigned to activate?  EG, I can't think of a workflow other than locate a link in the list, then (press command) to activate it.  At that point, you can press ENTER.  Would anyone ever locate a link in the elements list, navigate away from the link (eg tab to the cancel button and THEN press alt+a)?

Removing alt+a from the activate button (but leaving that bu

[2020-06-24 02:17] gurooprasad commented on #11295
I have seen list of checkboxes where the list is long. Providing this info helps users to make the navigation bit predictive.
if it doesn't add any value then number of items shouldn't be announced for any type of list or items in a group. Thanks for your feedback. Would like to see more opinions from more people, as I always feel individual’s assumptions can be biased sometimes.

[2020-06-24 02:24] jcsteh commented on #11295
Fair enough. If this is something you feel strongly about, I'd suggest you
take this up with the ARIA spec group. It's not something a screen reader
can do without changes to the spec.

[2020-06-24 02:31] Qchristensen commented on #6345
Looking at NVDA's general options, the main settings which fit this are:

NVDA Language (Requires restart) - I tend to agree re removing (Requires restart) - yes it's true and most other options don't, but either you want to change language or not, and restarting NVDA generally wouldn't be that big an inconvenience - it's not like restarting the PC (which people may in fact confuse that with).  Ac

[2020-06-24 04:13] Qchristensen commented on #6624
Done @bhavyashah - and I'll remove both your request and this comment to reduce clutter.

[2020-06-24 04:39] Qchristensen commented on #7249
I'd suggest that having made OneCore the default synth on Windows 10 has largely negated the need for this (for the users who would most benefit from such an option, as per [Jamie's comment](https://github.com/nvaccess/nvda/issues/7249#issuecomment-306085658)). I'm in favour of closing this and continuing any discussion on the idea of a welcome wizard on issue #8555.

[2020-06-24 04:39] #7249 closed

[2020-06-24 04:45] Qchristensen commented on #7091
No there hasn't - have you had any updates on where SAP is at currently @Adriani90 ?

[2020-06-24 07:50] gregjozk commented on #11177
Hello,

@adriani90 please, please again, do not close issues so agresively.
Comments from others clearly indicate, that problem has not been
solved yet. again, please carefully read comments and take some tests
if you can.

kind regards,
Jožef

2020-06-24 0:20 GMT+02.00, Adriani90 <notifications@github.com>:

[2020-06-24 09:41] leonardder opened #11298 "Use liblouis metadata for braille table descriptions"
_Originally posted by @bertfrees in https://github.com/nvaccess/nvda/pull/11268#issuecomment-648451536_

Currently, most tables have been part of NVDA for ages and therefore had their description set a long time ago, before Liblouis provided metadata.

There are some possibilities:

1. We can just change all the names according to the metadata manually.
2. We can automate the process in a way that

[2020-06-24 10:09] zstanecic commented on #11298
I am against it, cause not all metadata are complete.

From: Leonard de Ruijter <notifications@github.com>
Sent: Wednesday, June 24, 2020 11:41 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Use liblouis metadata for braille table descriptions (#11298)

Originally posted by @bertfrees <https://github.com/bertfrees>  in #11268

[2020-06-24 10:25] bertfrees commented on #11298
@leonardder Thank you!

@zstanecic So why not work with us to make it complete? If you think that some metadata can be approved, why not make others benefit from your improvements?

[2020-06-24 10:28] DrSooom commented on #11263
I'm primary using the 8-dot German braille table, so I'm sadly not familiar enough with 6-dot German Grade 0 and Grade 1 to test the new braille tables here in a useful way. Sometimes I still have to take a look at the official documentation ([Das System der deutschen Brailleschrift (2018)](http://www.bskdl.org/textschrift.html)) because in the meantime I forgot several rules, as I'm using 6-dot b

[2020-06-24 11:01] zstanecic commented on #11298
Hi Bert,

I can create the complete metadata with all info needed,

But please allow me to work from my master fork.

One big note:

Some braille codes in liblouis define grade 1 as literary standard.

I think that we also need to change terms like this:

Contracted, unconstracted,

Instead of grade 1 grade 2.

One more thing:

If we plan to use metadata, why not detect new braille tables by disco

[2020-06-24 11:31] DrSooom commented on #11177
@gregjozk: Please read [my comment above](https://github.com/nvaccess/nvda/issues/11177#issuecomment-648176954) as well as [my comment in issue #10634](https://github.com/nvaccess/nvda/issues/10634#issuecomment-566758080). As U+FFFC isn't the only code point which should be filtered out from the Virtual Buffer by default – but still with the option to disable this filter via the Advanced NVDA Sett

[2020-06-24 12:20] Adriani90 commented on #11298
@zstanecic I would not add automatic detection of tables since we never really know which issues new tables solve unless the autor of the tables document this. The improvements in newer tables in comparison to older tables should be still assessed manually when adding them to NVDA, including how experimental they are and which added value is there from an user perspective. Just because there is a

[2020-06-24 12:22] Adriani90 commented on #11298
Ideally, if an autor creates a new table, then he or she should also propose a pull request to NVDA to include it in the gui if he or she thinks that it is stable enough. Otherwise users should create an issue against Liblouis or NVDA requesting the table to be included and also marking the autor of the table into the respective issues.

[2020-06-24 12:29] Adriani90 commented on #11263
Since we have enough input from the autor of these tables who tested them in practice, I have no doubt of any big issues here. G2 would remain as it is, so if G0 is included in G2 there is no issue when replacing the old table. There could be an additional combo box in NVDA's settings called bidirectional tables, which display only tables which allow both ways of translation. Then the older and th

[2020-06-24 12:31] Adriani90 commented on #7091
Not really, I know that they want to change their environment completely to SAP Hannah which is a cloud based environment. This should be acomplished by 2025 as far as I know.

[2020-06-24 12:47] Adriani90 commented on #2590
We don't have auto synth switching yet, so this request is still valid. Here are some use cases that I could think of:
* You read a text in a certain language and a certain synthesizer can pronounce the words much better, so you want to switch that on the fly
* In some applications you would like to use a synthesizer which recognizes languages automatically in a more reliable way for certain tasks

[2020-06-24 12:49] DrSooom commented on #11263
@Adriani90: Perhaps I wasn't clear enough [here](https://github.com/nvaccess/nvda/issues/11263#issuecomment-645822766). The content of "de-g0.utb" wasn't copied to "de-g2.ctb", it is included by using the "include" opcode. So if you delete "de-g0.utb", "de-g2.ctb" will no longer work.

[2020-06-24 13:03] DrSooom commented on #11191
"holding down" and "pressing very fast" are to different things. Therefore I asked for a logfile. When I'm holding down here ArrowRight, when the cursor was located at the beginning of the document before, sometimes "Unknown" instead of the document content is shown on the braille display. Holding down an arrow key while NVDA is running is often not a good idea – depending on the used TTS synthesi

[2020-06-24 13:16] bertfrees commented on #11298
@zstanecic

Great that you want to help out! However before diving into it, may I ask to create a Liblouis ticket first with a summary of what metadata you think is missing or wrong, and how you intend to fix it? I'd like to avoid getting into bikeshedding discussions about the exact phrasing of descriptions only after a lot of work has been done preparing a PR. I'd also like to have the opportuni

[2020-06-24 13:36] mltony commented on #8518
I am actually going to have some time this fall and I was going to offer NVDA team to port SentenceNav and TextNav to NVDA core again. So, waiting for green light from Michael or Reef if they're interested....

[2020-06-24 13:39] feerrenrut commented on #6332
Thanks for your work on this @JulienCochuyt , but please hold off for now. Our goal is to get our [list of non-draft unblocked PR's](https://github.com/nvaccess/nvda/pulls?q=is%3Apr+is%3Aopen+-is%3Adraft+-label%3Ablocked) down to just a handful of the newest issues. Unfortunately the older PRs are often no longer maintained, or were never finished, and there are a few that might be questionable.

[2020-06-24 14:15] minakononogaki commented on #11287
Attached please find an excel file for reproducing error and a log file where the error has occurred.
I suppose the portion of the log

Input: kb(laptop):leftArrow
DEBUG - IAccessibleHandler.accessibleObjectFromEvent (22:56:55.746) - MainThread (6488):
oleacc.AccessibleObjectFromEvent with window 198542, objectID 139 and childID 0: [WinError -2147467259] Unspecified error
IO - inputCore.InputManag

[2020-06-24 14:17] feerrenrut commented on #9808
One way you can do in this is to first open the speech viewer, then via the speech panel open the synth selection dialog. Focus each of the controls that you want the text for, then close the synth dialog and go to the speech viewer and scroll up.

[2020-06-24 14:27] Adriani90 commented on #11191
anyway, the error should not appear.
 no

Von meinem iPhone gesendet

[2020-06-24 14:43] feerrenrut commented on #8991
@JulienCochuyt I imagine this comes down to changing the window type for the speech viewer. The last time I looked at that I ran into a number of issues (eg if braille viewer and speech viewer are set to open on startup there is an error) and decided not to bother. If you can make a small change that improves the situation (and it's well tested) I'll be happy to accept it.

[2020-06-24 15:55] amirsol81 commented on #11285
@ObjectInSpace You are right. However, since I heard "Object Replacement Character" instead of the text of the actual control, I thought it's related to the one frequently discussed here.
This also happens with NVDA Official release and Chrome 85.

[2020-06-24 16:05] amirsol81 commented on #11285
@Adriani90 I updated the issue title and description. It's worth mentioning that I'm running Google Chrome version 83.0.4103.116 and don't have access to older releases/Chrome betas for testing purposes.

[2020-06-24 16:30] ObjectInSpace commented on #11285
It doesn't occur in M84 either so this is almost certainly a Chrome regression. Filed https://crbug.com/1098528 to make sure it gets taken care of.

[2020-06-24 16:33] ObjectInSpace commented on #11285
To be clear, the bug I filed is about NVDA+up being silent. I haven't looked into the object-replacement-character bug this was duped against yet as it seems to be an issue being worked on in NVDA alpha. LMK if I got that wrong.

[2020-06-24 16:40] amirsol81 commented on #11285
@ObjectInSpace You are right. That's why I updated the bug title and description. I also added Chrome 83 to the title as I don't have other Chrome releases, old or beta.

[2020-06-24 18:30] elachapman opened #11299 "aria-live / role alert not announcing always with focus management"
### Steps to reproduce:
In our application we have a confirmation modal that closes, throwing a success message in a snackbar that needs to be announced. There is focus management that in some instances moves focus to a button and in other it moves to an H2.

We tested with both an aria-live="polite" region and role="alert" implementation to have the snackbar dynamically announced.

### Actual beh

[2020-06-24 21:59] Adriani90 commented on #11299
cc: @MarcoZehe, @jcsteh

[2020-06-24 22:18] gregjozk commented on #10634
just a suggestion for this issue:
create ticket/pr at liblouis with these characters presented with virtual dots (from 9 to f) globally, so it would be included in all tables.

[2020-06-24 22:33] Adriani90 commented on #5814
cc: @kaleev

[2020-06-24 22:37] Adriani90 commented on #5812
cc: @kaleev

[2020-06-25 00:22] Qchristensen commented on #7091
Do you know if SAP Hannah is more accessible?

[2020-06-25 00:51] jcsteh commented on #11299
A test case is needed here to provide a useful diagnosis. Thanks.

[2020-06-25 01:51] michaelDCurran commented on #10766
@trodick  assuming the freeze is still occurring, could you please cause the freeze, and then while Outlook is frozen, go to Task manager, find Microsoft Outlook, and in its context menu, choose Create Dump File.
Once the dump file is created, Task manager will show the path where it has been written.
Please share this dump file with me privately via a file sharing service of your choice. Please b

[2020-06-25 02:35] trodick commented on #10766
@michaelDCurran I have the dump file, along with a nvda.log file generated while NVDA was running in debug logging mode. I don't know a way to share this with you privately, but it is in my Dropbox. I can also throw it in Keybase if you prefer.

[2020-06-25 04:18] Qchristensen opened #11300 "Report sections in PowerPoint (Office 365, and I think from 2016 onwards)"
### Is your feature request related to a problem? Please describe.

In the slide outline of PowerPoint (press control+tab from the regular slide view), you can open the context menu and choose "Add section".  After prompting for a name, this (visually) puts a heading above the current slide, with an arrow.  You can use the left and right arrows when on a section heading, to collapse or expand the

[2020-06-25 09:44] Adriani90 commented on #7091
Sorry, there was a typo from my side, the environment is called SAP HANA. :-)

The underlying plattform for HANA is SAP netviewer AS ABAP version for HANA, currently version 7.4. SAP Netviewer is actually kind of comparable to Sharepoint. It is a plattform which is the basis for all the SAP apps. HANA is the cloud environment where the apps are stored and where they comunicate with each other. SAP

[2020-06-25 12:31] DrSooom commented on #10634
@gregjozk: Your suggestion would also influence all end applications in which Liblouis is included. I wouldn't want to do that.

[2020-06-25 12:49] DrSooom commented on #11298
@Adriani90: As Liblouis is included in many end applications, I cannot agree with you that the main author of a new braille table also has to contact every possible end application teams, in which his braille tables should be included. This is imho unrealistic. Furthermore the Liblouis team can offer this information already directly via their [News page](http://liblouis.org/news/). If you think t

[2020-06-25 14:22] fisher729 commented on #9551
Hi.

Pardon my confusion, but I still see this being reported. As I type this, if I press Numpad 3, I hear right, followed by blank. This issue, therefore, needs further explanation, especially if this is still no longer intended. I'm using NVDA 2020.2beta2.

[2020-06-25 14:55] feerrenrut commented on #11298
I'm not really convinced about this idea:
- It is minimal work to manually set the name, using the metadata as a suggestion.
- Manually doing this ensures that a conscious decision is being made by NVDA developers about what will appear in NVDA
- I assume that translations are not provided by the metadata, English should be thought of as another target language for translation.
- Changing the exis

[2020-06-25 15:05] ivnc commented on #11155
Are there nay news on this? The Aragonese translator has complanied again through the Spanish-speaking list about this issue.

Regards.

[2020-06-25 15:09] Adriani90 commented on #8013
This example does not reproduce the issue anymore, I guess the web Autor changed the design. Anyway, this is rather a duplicate of #2039. I am closing as duplicate.

[2020-06-25 15:09] #8013 closed

[2020-06-25 15:23] fisher729 opened #11301 "Gmail and Firefox: NVDA keeps jumping in and out of focus mode"
## Steps to reproduce:

1. Open Firefox
2. Go to gmail.com, ensuring that you have a gmail account.
3. If you do not have the Standard View enabled, enable it.
4. Wait for a few seconds.

### Actual behavior:

NVDA jumps in and out of focus mode within one second. Note that this only happens in Firefox, and not in Edge Chromium, which are the two browsers on my system.

### Expected behavior:

NVD

[2020-06-25 15:24] Adriani90 commented on #5349
We do not have updates on this issue for years and I cannot reproduce with NVDA 2020.2 Beta 2. Closing as abandoned and works for me.

[2020-06-25 15:24] #5349 closed

[2020-06-25 15:45] lukaszgo1 commented on #11155
@leonardder Have you seen my commend above? Could you explain why you've chosen to use locale.getlocale rather than locale.getpreferredencoding?

[2020-06-25 16:49] mfairchild365 commented on #6358
@milindannadate I filed a Chromium bug re changes not being conveyed https://bugs.chromium.org/p/chromium/issues/detail?id=1099323

[2020-06-25 17:03] Adriani90 commented on #11301
Do you have disable browse mode on page load by default enabled in nvda‘s browse mode settings?

[2020-06-25 17:20] fisher729 commented on #11301
Hi.

No. I don't. While this does seem to fix the issue, I do not wish to have
this setting enabled, as it might cause problems when accessing other
sites. Also, as I said, this does not happen in Edge.

On Thu, Jun 25, 2020 at 12:04 PM Adriani90 <notifications@github.com> wrote:

[2020-06-25 18:30] Adriani90 commented on #11203
@ollcayy could you please test with NVDA 2020.1 if this is still occuring?

[2020-06-25 18:49] Adriani90 commented on #10767
This seems to occur for all languages using alt grafic key. Also in german for example. It occurs only for the key strokes alt gr+1, alt gr+2 and alt gr+3. alt gr+8 for example does not have this issue. It is very strange that it reports formatting style, but not the character that has been added to the document. It seems like Word exposes the wrong information to the screen reader.
If this is the

[2020-06-25 18:57] Adriani90 commented on #9681
Fixed by #11167. Testing with NVDA Version: alpha-20400,675c4c54. Closing as works for me.

[2020-06-25 18:57] #9681 closed

[2020-06-25 18:57] Adriani90 commented on #9905
Fixed by #11167. Testing with NVDA Version: alpha-20400,675c4c54. Closing as works for me.

[2020-06-25 18:57] #9905 closed

[2020-06-25 19:05] Adriani90 commented on #9386
Actually this is an edit field with a spin button, you can navigate this with object navigation. This should be reported like for example "margin, spin button edit field 0%" when pressing tab and shift+tab. This is also valid for all other edit fields with a spin button in MS Word. @lukaszgo1 is it possible to improve this in NVDA? I can imagine this is rather not exposed correctly by Microsoft.
c

[2020-06-25 19:06] Adriani90 commented on #9375
@fisher729 could you please test with NVDA 2020.2 Beta 2 if this issue is still occuring?

[2020-06-25 19:15] Adriani90 commented on #8974
@fernando-jose-silva could you please test with NVDA last alpha version? I cannot reproduce this anymore.

[2020-06-25 19:18] Adriani90 commented on #8878
@fernando-jose-silva Please test with last NVDA alpha version. Can you still reproduce this issue? I cannot reproduce it anymore.

[2020-06-25 19:20] Adriani90 commented on #8461
@DarrylSherwood are you still available to test if this issue is still occuring?

[2020-06-25 19:30] Adriani90 commented on #8057
This is better now after #11167 has been merged. But Notepad is still not working here. It seems the editor treats only a space bar as word separator. For notepad a coma or a fullstop is not a word separator. For example, if you write "hello,how" in notepad, the whole expression is read although there are actually three word in there. "hello", "fullstop" and "how".
@Qchristensen I think this shoul

[2020-06-25 19:42] Adriani90 commented on #7448
@josephsl can you please test with NVDA last alpha and report the results here? Is this still an issue?

[2020-06-25 19:50] Adriani90 commented on #7346
Note, you don't have to change the file to html, just open the txt file in Firefox for this to reproduce.
Actually, I expect NVDA to report line feed or blank only for the blank line. All other line feeds characters should be suppressed and the word on the next line should be read instead.

[2020-06-25 19:56] Adriani90 commented on #7346
Sorry, after testing further, i.e. creating a text in MS Word with multiple lines, the line feed character is read also. So this behavior is consistent every where when line feed characters are added. AFter thinking further, I think it is good to have these characters reported even when using word by word navigation because it gives you a picture of the text structure. If these characters are not

[2020-06-25 19:56] #7346 closed

[2020-06-25 19:59] Adriani90 commented on #7344
This link does not reproduce the issue, the word math cannot be found there. Please open a new issue with an updated source and steps to reproduce. I am closing this one for now since investigation is not possible with this example.

[2020-06-25 19:59] #7344 closed

[2020-06-25 20:01] ollcayy commented on #11203
Hi,

The problem requires a Chromeium-based Microsoft edge.

This does not happen on the original Chrome. When address suggestions are voiced, switching to a different window is not enough to stop the conversation.

The Alt Tab keys will switch to a different window and the ankle sounds will continue to be voiced.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA

[2020-06-25 20:06] Adriani90 commented on #7158
Instantbird has been discontinued more than two years ago, see the last comment on
https://bugzilla.mozilla.org/show_bug.cgi?id=1434700

So I am closing this issue since already many social media channels are not providing gateways for this client. And there are plenty of other alternatives out there which are being developed further.

[2020-06-25 20:31] bertfrees commented on #11298
@feerrenrut I don't want to involve myself in the question to which extend you want to automate things. That is only secondary to me. Also the exact phrasing of things is not the most important. Every application can have its own way of doing things, and I agree that sudden changes in names can cause confusion with some users so you need a good reason to do that.

What I'm really after is that we

[2020-06-25 20:44] lukaszgo1 commented on #7158
This issue is not about Instantbird (it was used only as an example) but about inconsistencies when selecting text in browse mode. @Adriani90 Could you please read again [this commend](https://github.com/nvaccess/nvda/issues/7158#issuecomment-300022323) by @derekriemer and reopen this?

[2020-06-25 21:15] XLTechie commented on #8057
But should that be a word break?

There is no valid grammar use that I know of, for using a comma without a
following space, except in the US-English thousands separator. (1,000,000.00)

"hello,how" is just one word, from one point of view, because the valid two word
phrase would be "hello, how".

For "hello.how", that is also not a valid two word phrase.
It may be a domain name, but I'm not sure

[2020-06-25 21:21] fisher729 commented on #9375
Hi.

It no longer crashes for me. The ticket can therefore be closed.

On Thu, Jun 25, 2020 at 2:06 PM Adriani90 <notifications@github.com> wrote:

[2020-06-25 21:24] CyrilleB79 commented on #10767
The issue occurs only with altGr+1, 2 or 3 since only control+alt+1, 2 or 3 are title formatting commands in MS Word and vocalized as such. You can check in the log that pressing alt+control+3 in help mode is linked to a script:

NVDAObjects.window.winword.WordDocument

On the contrary, alt+control+8 is not linked to any script.

This is not a bug of MS Word (except the special case of AltGr+2 in

[2020-06-25 21:25] Adriani90 commented on #8057
For some languages this is relevant. Or for words with dashes, or something like that.

Von meinem iPhone gesendet

[2020-06-25 22:08] Adriani90 commented on #7158
Oops I missed that comment, sorry.
As far as I can understand, this issue occurs only when positioning the carret at the last character in a line and selecting with shift+up and down arrow, shift+ctrl+up and down arrow or shift+ctrl+left and right arrow.
The selection problem occurs also only on the line where the cursor was placed at its end in the first place. All other lines above or below it a

[2020-06-25 22:12] lukaszgo1 commented on #10767
I've thried and I can confirm @CyrilleB79's findings - it is impossible to assign gestures to only left or only right  ALT key. I haven't looked into the sources to check why yet.

[2020-06-26 01:00] michaelDCurran commented on #9551
This issue was specific to the move to top / move to bottom scripts for review cursor. These no longer redundantly announce "top" and "bottom". The messages are not required in these scenarios as it is obvious to the user that they hit the top / bottom because they deliberately went there.  However, the other review scripts (previs and next line/word/char) still say these messages if you try to mo

[2020-06-26 01:09] fisher729 commented on #9551
Hi.

I see that now, and fully understand what is being solved here. However,
the wording in the What's New does not match what is being said here, and
requires a more specific explanation. Perhaps this can work to replace both
entries:
•NVDA no longer reports "top", "bottom", "left" or "right"  messages when
an input gesture is used to directly move the review cursor to the first or
last line or

[2020-06-26 01:49] fernando-jose-silva commented on #8878
I don't have this problem anymore, thank you very much.

[2020-06-26 01:51] michaelDCurran commented on #9551
I agree. Thanks for the corrected wording here.

[2020-06-26 02:05] fernando-jose-silva commented on #8974
[outlook.txt](https://github.com/nvaccess/nvda/files/4834705/outlook.txt)
strangely I can still reproduce the problem, just like I sent in the description.
follow the log, you can see step by step what I did.
OUTLOOK.EXE, Microsoft Outlook 16.0.12827.20336
alpha 20400

[2020-06-26 04:07] nvdaes opened #11302 "Braille isn't refreshed when opening books in Thorium"
[nvda.log](https://github.com/nvaccess/nvda/files/4835072/nvda.log)

### Steps to reproduce:

1. Open Thorium.
2. If no publication is imported yet, press the "Import publication" button and import an epub file, for example, the "Outlook with NVDA" training module.
3. Press Enter on the link corresponding to the ebook to read it.

### Actual behavior:

NVDA reads the content with speech, but brail

[2020-06-26 11:40] akumbhar4 commented on #11207
Hi team,

here the code snippet.

<img width="538" alt="Capture" src="https://user-images.githubusercontent.com/65961802/85853247-17369d80-b7aa-11ea-8cd9-19d4b2522de5.PNG">

here we are facing issue for below code in NVDA

[attr.aria-label]="currentAccountText + ' ' + availableBalancetext + ' ' + caAvailableBalance + ' euro '"

Thanks

[2020-06-26 14:13] Adriani90 commented on #11203
I am testing in crhomium based edge 85 and I still cannot reproduce it.
@codeofdusk can you reproduce this? I think this might be related to an addon or so. @ollcayy which addons are you using? Did you try to disable the addons? Did you try with different synthesizers? For example eSpeak or Onecore voices?

[2020-06-26 14:15] Adriani90 commented on #9375
Thanks for reporting. Closing as works for me.

[2020-06-26 14:15] #9375 closed

[2020-06-26 14:16] Adriani90 commented on #8878
Thanks for the update, closing as works for me.

[2020-06-26 14:16] #8878 closed

[2020-06-26 14:22] Adriani90 commented on #8974
@fernando-jose-silva did you reproduce this with all addons disabled?

[2020-06-26 15:13] Adriani90 commented on #6345
I think it is clear enough that you have to restart NVDA after choosing a landuage and pressing enter since there is a dialog appearing saying that this is required. So the text in brackets can be removed.

[2020-06-26 15:25] Adriani90 commented on #6345
Regarding the abbreviations of languages, they are fetched from Windows itself, I don't think we can do anything about it.
@CyrilleB79 do you have any thoughts on this?

[2020-06-26 16:57] fernando-jose-silva commented on #8974
Yes

Enviado do meu iPhone

[2020-06-26 18:00] OzancanKaratas opened #11303 "Update CLDR to version 37"
CLDR 37 has been released in [fujiwarat/cldr-emoji-annotation](https://github.com/fujiwarat/cldr-emoji-annotation) repository.

@leonardder, can you update it?

[2020-06-26 21:23] CyrilleB79 commented on #6345
@Adriani90  you wrote:

I agree with this. I do not remember any software having such a label for UI language, even if most of thems also need a restart.

I have checked with MS Office that just call the option "Office display language", more or less because they allow many languages to be defined.
And when you validate the option dialog box, the following information message box appears:

with on

[2020-06-26 21:33] CyrilleB79 commented on #6345
No, languages abbreviations are fetched from NVDA itself by listing the locale folder, i.e. all the languages in which NVDA is actually translated. Then full language names are provided by Windows from the language abbreviation.
It is NVDA that makes the language list by concatenating full language name and language abbreviation. The choice to keep language abbreviation was made in order to be abl

[2020-06-26 22:01] lukaszgo1 opened #11304 "Browse mode with focus focusable elements disabled: When entering focus mode NVDA repeats the focused control"
### Steps to reproduce:
With the recent NVDA Alpha in which focus focusable elements in browse mode is disabled by default:
1. In Firefox open https://github.com/nvaccess/nvda/issues/new?template=bug_report.md
2. Navigate with e key to the "commend body" edit field.
3. Press enter to activate focus mode.

### Actual behavior:
NVDA repeats "commend body < edit multiline" which we already know as we

[2020-06-26 22:03] lukaszgo1 commented on #11304
cc @jcsteh @codeofdusk @feerrenrut

[2020-06-26 22:12] lukaszgo1 opened #11305 "NVDA is way too verbose when autocomplete list on GitHub appears"
### Steps to reproduce:
With focus focusable elements disabled:
1. Open https://github.com/nvaccess/nvda/issues/new?template=bug_report.md
2,, Move to the commend body edit field.
3. Switch to focus mode, type @ and start typing "jcsteh"

### Actual behavior:
After one or more letters is being typed NVDA repeats entire focus ancestry before announcing the autocomplete item which gains focus.
For e

[2020-06-26 23:22] Adriani90 commented on #11305
Does it make a difference if you enable attempt to cancel speech in nvda‘s advanced settings?

[2020-06-27 00:10] dingpengyu commented on #11303
[test build](https://ci.appveyor.com/api/buildjobs/4bhiwuid4hkal6ea/artifacts/output%2Fnvda_snapshot_pr11306-20408%2C202de760.exe)

[2020-06-27 01:12] XLTechie opened #11307 "iCloud website broken in Firefox, works in Chromium browsers"
### Steps to reproduce:

1.  Open Firefox.
2.  Visit https://www.icloud.com
3.  Log in and perform other authentication steps.
4.  Attempt to click some buttons, such as "Account info", "Find iPhone", or any of the others.
5.  Repeat steps 2 through 4, but this time use a Chromium based browser.

### Actual behavior:

In steps 1 through 4, no button can be selected, or at least if it is, nothing a

[2020-06-27 01:15] josephsl commented on #11307
Hi, just to make sure, does this happen with Chrome or Edge? CC @JCSTeh

From: Luke Davis <notifications@github.com>
Sent: Friday, June 26, 2020 6:13 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] iCloud website broken in Firefox, works in Brave (#11307)

Steps to reproduce:

1.	Open Firefox.
2.	Visit https://www.icloud.com
3.

[2020-06-27 01:32] XLTechie commented on #11307
@josephsl  It works with Edge. Added to issue. I will test Chrome, and when that likely works, I will add it as well, although I don't have it on my nearest system.

[2020-06-27 01:37] josephsl commented on #11307
Hi, one more thing we can try: how about Firefox ESR? Thanks.

From: Luke Davis <notifications@github.com>
Sent: Friday, June 26, 2020 6:33 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] iCloud website broken in Firefox, works in Brave (#11307)

@josephsl <https://github.com/josephsl>  It

[2020-06-27 03:18] XLTechie commented on #11307
@josephsl

Okay, I downgraded my more recent Firefox, to the several versions older ESR, and got the identical results (issue annotated).
I'm not really clear on why I just did that though; it seems like if a newer version doesn't work, and the very old version in #3259 didn't work, the ESR failing is entirely to be expected.

I did try the ESR with Firefox add-ons disabled, which I hadn't tried i

[2020-06-27 03:32] josephsl commented on #11307
Hi, so it appears this is something that should be brought up to Mozilla and Apple then. Thanks for all the test data – helps us narrow down the problem a lot.

From: Luke Davis <notifications@github.com>
Sent: Friday, June 26, 2020 8:19 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] iClou

[2020-06-27 09:06] leonardder commented on #11305
@jcsteh Any idea what could clarify this?

[2020-06-27 09:07] leonardder commented on #11305
I marked this regression, as focus focusable elements is now the default.

[2020-06-27 10:00] Adriani90 commented on #11307
Just a big tumb up for this description! This makes investigation much easier.

One question, has this problem appeared shortly? I mean were there any significant design updates to the iCloud website in the last time?

[2020-06-27 10:10] Adriani90 commented on #11307
The only thing that might be relevant from this log is following:

[code]

However, this is not an error but it seems to occur right after you tried to activate the button.

It seems you have "use screen layout" enabled in browse mode settings for the firefox profile. Could you try to reproduce this with this setting disabled?

[2020-06-27 10:15] Adriani90 commented on #11305
This seems also reproducible with attempt to cancel speech activated. I thought it might make a difference but it does not.

[2020-06-27 10:32] lukaszgo1 commented on #11304
@Adriani90  @leonardder Could one of you add a regression label to this one please?

[2020-06-27 10:42] lukaszgo1 commented on #11305
While having focus focusable elements disabled makes this happen more frequently I've succeeded in reproducing this even with this option enabled once or twice.

[2020-06-27 10:42] XLTechie commented on #11307
Thank you @Adriani90. Unfortunately, I can't answer your question. It is a site
I rarely visit. It does seem more accessible now than I remember it being in the
past, but the past in this context is probably two-three years ago. So NVDA
itself was a bit different back then.

But Apple is a rather big deal, so it would be preferable if their flagship user
portal did work in Firefox for NVDA.

[2020-06-27 13:07] Asher3195 opened #11308 "NVDA causes Office 365 to crash when typing"
### Steps to reproduce: Using Outlook and NVDA together (or potentially any office application) causes the Office application to crash. NVDA remains open.

### Actual behavior: Outlook is frozen for a few mins, then closes. Also causes ´´outlook is not the default mail application`` message

### Expected behavior: When typing long messages in Office applications, the application should not cause f

[2020-06-27 13:10] Asher3195 commented on #11308
INFO - __main__ (14:45:47.368) - MainThread (10472):
Starting NVDA version 2020.1
INFO - core.main (14:45:47.503) - MainThread (10472):
Config dir: C:\Users\Danyela\AppData\Roaming\nvda
INFO - config.ConfigManager._loadConfig (14:45:47.503) - MainThread (10472):
Loading config: C:\Users\Danyela\AppData\Roaming\nvda\nvda.ini
INFO - core.main (14:45:47.689) - MainThread (10472):
Using Windows versio

[2020-06-27 19:04] erikkroes opened #11310 "Button with role="switch" pronounced as checkbox."
When navigating to a `<button>` with `role="switch"`, it will be pronounced as a checkbox. It is recognized as a toggle button or switch button by accessibility APIs for example, but it is not pronounced as such.
https://www.w3.org/TR/wai-aria-1.2/#switch does state "A type of checkbox that represents on/off values", but it is not a checkbox and has a seperate role. I think it should be pronounced

[2020-06-27 22:12] Adriani90 commented on #11310
cc: @feerrenrut, @leonardder is there a way to fix this in NVDA? Actually this element can be navigated by pressing b in browse mode, so it could cause confusions if it is still not pronounced correctly.

[2020-06-27 22:17] Adriani90 commented on #11308
@Asher3195 please try following:
* Disable all addons and try to reproduce the issue
* Try to reproduce the issue with no braille display connected. Is it still occuring?
* Update your office version in outlook > file ribbon > office account > update options > update now.

I am also on KB german on Outlook 365, I cannot rpeproduce this issue with NVDA 2020.2 Beta 2. But I don't have a braille disp

[2020-06-27 22:28] Adriani90 commented on #10902
In my view at least, I think web autors should stick to Aria spec. Trying to make something accessible over a clickable element is a thing that could be done by the web autor (i.e. using live regions). Developping heuristics for this could be a huge work, I am not an expert. But I can imagine that if the action happening after clicking on clickable element is not exposed via the accessibility API

[2020-06-27 22:57] Adriani90 commented on #6659
I cannot see any difference now with NVDA 2020 Beta 2 and IE11. The dialogs are very repetitive in every browser, but there is nothing that seems specific for IE. I am closing in favor of #8971. Please feel free to comment on this if I missed something and we can reopen.

[2020-06-27 22:57] #6659 closed

[2020-06-27 23:02] Adriani90 commented on #10140
There are 17 issues open now with the label bug/double-speaking. They can be easily filtered by label now, so I will close this issue. If someone could check if there are any duplicates there, that would be greatly appreciated. Thanks.

[2020-06-27 23:02] #10140 closed

[2020-06-27 23:43] Adriani90 commented on #11304
@lukaszgo1 I am not sure this is a bug actually. It is related to #11206. When you have disabled automatically set focus to focusable elements and you enter focus mode, the system focus will be automatically moved to the current position of the virtual cursor. This had to be done because otherwise the tabindex on websites would not have been honored when testing for accessibility.

What happens he

[2020-06-28 07:20] Brian1Gaff commented on #11308
As a matter of interest what other email clients are installed?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Asher3195" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subsc

[2020-06-28 07:34] Brian1Gaff commented on #11308
You have not been playing about with Braille support in narrator have you?
Also there does seem to be problems writing to your disc in places. I'm
thinking that the problem is not nvda but either a screwed up install, or
something which has been corrupted.
 I'll leave it to people more experienced than I, but do you have a Braille
display or not how you can have  one but have  40 cells is somewhat

[2020-06-28 11:28] Adriani90 commented on #10958
Would this not be more suitable for the developer guide? Then we could link to the developer guide in this chapter.

[2020-06-28 11:35] JulienCochuyt commented on #11310
Switches are visually buttons, and functionally checkboxes...
Thus, they can currently - and IMHO should remain - reachable by both quick nav by buttons and quick nav by checkboxes.
Sure, announcing them as "Switch buttons" could improve communication with a sighted assistance

What I feel is much more problematic in the current implementation - and demonstrated by the provided example - is that N

[2020-06-28 11:35] Adriani90 commented on #10923
Counting my folder, nvda 2020 last alpha has 121 mb, + the folder in %appdata% which in my case has 26 mb, I think most people would not run into issues with at least 150 mb free space before installing NVDA.

[2020-06-28 11:43] Adriani90 commented on #5650
Hey Joseph, since we are now at 2020.2 almost, are you planing to solve this in the documentation?

[2020-06-28 14:34] josephsl commented on #5650
Hi, thanks for the reminder. Now that #9682 is here, I’ll look into it. This is conditional based on how #11297 turns out in the end. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, June 28, 2020 4:44 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA User Guide and touc

[2020-06-28 22:34] jcsteh commented on #11304
The reporting happens because of the focus event which gets fired after we
switch to focus mode. Fixing this would be tricky, since the focus event
happens asynchronously after we move the focus. To make things more
interesting, there are also cases where you set focus to one thing (e.g. a
list) and another thing gets focus (e.g. a list item in the list).

[2020-06-29 02:05] dingpengyu opened #11312 "Discussion: NVDA introduces us-16-Yason-Windows-10-Segment- The possibilities of Heap-Internals-wp technology"
us-16-Yason - Windows-10-Segment-Heap- Internals-wp technology from the 2004 version has been open to win32 use, this issues main Discuss the possibilities and applications of this technology for NVDA.
introduce (sb to sb)
Segment heap is a native (native) heap implementation mechanism, introduced in Windows 10. It is used by Windows apps and specific system processes, and the other party
facet, t

[2020-06-29 03:05] josephsl commented on #11312
Hi,

A really critical question (being very blunt, but please understand): do you understand the content of the file you've posted here? How does this relate to NVDA?

Unless you let us know that you really do know what the PDF says and can demonstrate that this does relate to NVDA, I'm closing this issue.

[2020-06-29 03:05] #11312 closed

[2020-06-29 06:04] ollcayy commented on #11203
Hi,

You can listen to the audio recording showing the problem from the mp3 file below.

I showed it on the record, NVDA cannot be checked until the page load is finished.

NVDA can be recovered if you go to the desktop or switch to a different window.

MY Edge Version: 83

NVDA control gets harder as page loading gets longer.

http://eniyideneyim.com/dosyalar/NVDA-MicrosoftEdgeProblem.mp3

Olcay

[2020-06-29 07:08] JulienCochuyt commented on #11310
The mapping of Switch Button to the checkbox role has been established for IA2 as of issue #9187 / PR #10782.
cc @jcsteh

According to https://github.com/nvaccess/nvda/issues/9187#issuecomment-458672152, proper support for `role="switch"` is still missing from IE11. I have a big IE11 WebModule in the pipe due before the end of this summer, thus I'll probably have to fix this lack pretty soon.

A u

[2020-06-29 07:11] JulienCochuyt commented on #11083
@Adriani90 can we close this ticket in the light of https://github.com/nvaccess/nvda/issues/11083#issuecomment-623757443?

[2020-06-29 07:15] JulienCochuyt commented on #11084
@Adriani90, I guess we can close this ticket as well, in the light of https://github.com/nvaccess/nvda/issues/11084#issuecomment-642961390.

[2020-06-29 07:27] Brian1Gaff commented on #11310
For those who don't know, Windows 7 users had Microsoft force an update last
week to the  release version of Edge with text to the effect of that IE11
was now considered obsolete and a security issue. I did not read it fully, I
have to say, but many web sites now put up a banner telling people who use
it to use something else, and some of  the in page audio players are
beginning to not support ie

[2020-06-29 07:53] JulienCochuyt commented on #10958
@Adriani90 wrote:

IMHO, it wouldn't. Users willing to configure their speech dictionary might not be interested at all in development.

[2020-06-29 08:39] JulienCochuyt commented on #11310
@Brian1Gaff, surely IE11 has reached end of life. Thanks for this warning.
Still, as long as I will be enrolled to circumvent accessibility/ergonomics issues on business web applications old enough to forcibly require it, I'll do my best to ensure NVDA supports it as much as reason dictates for the sake of our fellow users.

@feerrenrut, could you please mark this very comment and Brian's as off-t

[2020-06-29 09:05] subbuatos opened #11314 "NVDA stopped responding after initial installation and system reboot"
NVDA is working only when initial version 2020.1 installed. After system restart, NVDA stopped responding. I see NVDA ICON in system tray and not responding for any click to view menu.

### Steps to reproduce:
Install NVDA and do system reboot for non responsive. However this is happening on random systems.

### Actual behavior:
After system restart, NVDA stopped responding. I see NVDA ICON in sys

[2020-06-29 13:06] a11cf0 commented on #9031
It seems that this was fixed a long time ago. Nowadays I cannot reproduce this issue even on slowest PCs I have.

[2020-06-29 13:06] #9031 closed

[2020-06-29 13:46] JulienCochuyt commented on #11029
@jacobchawala wrote:

When attempting to solve this by PR #11315, I've concentrated on handling `control+delete` where `control+backspace` was already properly handled - which includes eg. Microsoft Word.
If you indeed identified a case where `control+backspace` is not handled, or neither are, please file a dedicated issue so we can look into it.

[2020-06-29 18:08] Adriani90 commented on #11314
Can you open the nvda menu with nvda+n, insert+n or with right click on system tray icon?
I assume the sound card is not on mute after system reboot and the volume is high enough. Is this correct?
Which synthesizer is selected in the synthesizer dialog when nvda does not respond? Is it eSpeak?

[2020-06-29 18:21] subbuatos commented on #11314
Right click on system tray icon is not working. Also sound card is not on mute and volume is set to high.

[2020-06-29 19:16] #11029 closed

[2020-06-29 19:22] subbuatos commented on #11314
Also how can I run COM registry tool ? will this be available under NVDA menu in system tray when I right click ?

[2020-06-29 19:26] Adriani90 commented on #11203
Thank you very much for the audio, this clarifies things. In your case it seems NVDA does not allow you to navigate the website by arrow keys after pressing enter on a suggestion in the address bar. It is quite strange because this does not occur to me, I am on the same setup as you are with MS Edge Chromium 83 and Windows 10 2004 update.

When I press enter on a suggestion, NVDA jumps to browse m

[2020-06-29 19:28] Adriani90 commented on #11083
I guess yes. Thanks for the reminder. :-) Closing as can't fix.

[2020-06-29 19:28] #11083 closed

[2020-06-29 19:32] #10958 closed

[2020-06-29 19:35] Adriani90 commented on #11084
Thanks for the comment here, I would prefer to let this open since we have Chromium bugs for this and we can track the progress. This is easier to track for NVDA users and developers who are not very often actively working on Chromium bug tracker.

[2020-06-29 19:46] jcsteh commented on #11307
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1649239

[2020-06-29 20:06] khushveer commented on #11229
@DrSooom @Adriani90 as mentioned previously, can we please re-open the bug?

[2020-06-29 20:36] subbuatos commented on #11314
Update :
NVDA is working properly with elevated access (Admin). However when I try to open with normal user credentials, it is not working. I ran COM Register tool with elevated (Admin) access and completed successfully. However NVDA is still not responding with normal user credentials after system reboot. This issue is happening for multiple users.

[2020-06-29 20:37] Brian1Gaff commented on #11314
As a matter of interest, if you had kept it running after installation, did
it continue to work? Also, if you run it from the archive without installing
it what happens then?

I think you can run the  repair tool from any running copy via tools, so try
that first on a running copy, then try a fresh install.
 What synth does it come up using by default on your machine?
  Brian

bglists@blueyonder.c

[2020-06-29 20:44] subbuatos commented on #11314
To Brian1Gaff
After first installation of NVDA, its working with normal user credentials. After system restart, it is stopped responding. All I see is NVDA ICON in system tray and not responding when I right click NVDA from system tray.

[2020-06-29 21:04] josephsl commented on #11314
Hi, what happens if you press Insert and letter N? Does NVDA menu appear at the center of the screen? If not, chances are that NVDA might not be running at all. Thanks.

From: subbuatos <notifications@github.com>
Sent: Monday, June 29, 2020 1:45 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA stopped responding after i

[2020-06-29 21:15] subbuatos commented on #11314
Not responding when I press N. But I see NVDA icon in system tray and task manager.

[2020-06-29 21:18] ollcayy commented on #11203
Hi,

Problem not solved. NVDA does not respond as the page load time gets longer.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA Certified Expert)

Digital Product Designer (Dijital Ürün Tasarımcısı)  <https://www.vodafone.com.tr/> Vodafone Türkiye

 <http://eniyideneyim.com/> En İyi Deneyim projesi yöneticisi ve sahibi

Takip edin:

 <https://twitter.com/eniyi

[2020-06-29 21:25] josephsl commented on #11314
Hi, that’s strange. If nvda.exe is showing up in Tasks Manager’s details view, chances are that it could be running in a different user session (unlikely) or something odd is happening on this system. Thanks.

From: subbuatos <notifications@github.com>
Sent: Monday, June 29, 2020 2:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@norepl

[2020-06-29 23:08] XLTechie commented on #11314
Is it possible that there is a second sound device, and NVDA is using that?

[2020-06-30 07:30] JulienCochuyt commented on #11277
@nousrnm, the provided example does not work well on my side either with Chrome 83 or Firefox 76: I get very different results depending on screen size.

Still, why toggle `aria-hidden` `true`/removed?
Sure, `aria-hidden="false"` is strongly discouraged, but I'd bet dynamically setting/removing it as implemented in the provided example is not much widely supported either.

This attribute really me

[2020-06-30 10:11] #11053 closed

[2020-06-30 11:37] CyrilleB79 opened #11317 "In the add-on manager, allow to enable or disable multiple add-ons in one time"
### Is your feature request related to a problem? Please describe.

When I encounter an issue in NVDA, I test with add-ons disabled if the issue still persists. If it does not, I have to find the add-on responsible for this issue by disabling some add-ons by dichotomy. Selecting or unselecting half of the add-ons one by one is tedious in a list of 15 add-ons or so.
Also being able to easily disabl

[2020-06-30 12:08] #11303 closed

[2020-06-30 12:22] CyrilleB79 commented on #10767
After more investigations, the status is that NVDA announces style and title level when typing a characters corresponding to altGr+1/2/3 keystroke if these key combinations are defined for current keyboard layout.
I have found these combination in:
* French (fr_fr) keyboard layout: AltGr+2 is ~ (dead key), AltGr+3 is #
* German (de_de) keyboard layout: AltGr+2 is ² , AltGr+3 is ³
* Spanish (es_es)

[2020-06-30 13:13] nvdaes commented on #10767
Hi Cyrille, I confirm this for Spanish:

- control+shift+1, 2 and 3 are used in Word to set title 1, 2 and 3
respectively.
- alt+1, 2 and 3 with spanish keyboard produce:|, @ and #.
- Now, the above three keystrokes are wrongly assigned in
gestures.ini. I didn't realise before. Thanks.

2020-06-30 14:22 GMT+02:00, CyrilleB79 <notifications@github.com>:

[2020-06-30 13:28] Neurrone commented on #11305
I'm also able to observe this when playing around with the `<select>` example on [MDN's page for the <select> element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select)

Here's some speech output where I am in the select element and choose a new option.

[code]

Notice the extra 5 lines of focus ancestry that gets announced

It also only seems to be happening for me in Firefox, so

[2020-06-30 13:37] feerrenrut commented on #11086
@BueVest and @bertfrees do you know if an issue has already been raised for this?

[2020-06-30 13:46] LarrySilvermintz opened #11320 "Add a toggle to always report clipboard text"
Situation:  When long text string is in clipboard, The Report clipboard function speaks the number of characters instead of the string itself.  Many people only want to hear the clipboard contents, without learning the size of that string.  Hearing the actual text regardless of size will make clipboard contents accessible.  This is especially useful to learn what was cut/copied, and to confirm wha

[2020-06-30 14:47] CyrilleB79 commented on #10767
What do you mean?

On MS Word Spanish, if I am correct (but I cannot test it), the present situation is the following with MS Word Spanish and Spanish keyboard layout:
* control+shift+1, 2 and 3 set title level 1, 2 and 3 respectively and this is correctly announced by NVDA. Should be so thanks to the following line in section [NVDAObjects.window.winword.WordDocument] of gesture.ini:
`increaseDecr

[2020-06-30 14:49] feerrenrut commented on #11298
Thanks for clarifying @bertfrees. I'm happy for someone to go through and try to make the two sets of names align better, though I think this should be a manual process. The first step should be identifying the differences, then deciding which need updating in NVDA vs liblouis. @leonardder would you mind editing the description of this issue for clarity?

[2020-06-30 15:13] nvdaes commented on #10767
Yes, this is correct.
Thank you.

Enviado desde mi iPhone

[2020-06-30 15:37] nvdaes commented on #10767
@Cyrilleb79, will you take care of gesture.ini files, or do you prefer that I take care of the spanish one? Also, as far as I know, this can be sent from svn but also from NVDA repo, in this case as a pull request to be reviewed. What do you think about these alternatives for gestures? Should this be mentioned in changes for 20.-2?¿
Enviado desde mi iPhone

[2020-06-30 16:13] bertfrees commented on #11086
@feerrenrut Possibly related to https://github.com/liblouis/liblouis/issues/963.

[2020-06-30 16:53] josephsl commented on #11317
Hi, a possible yet technical alternative might be to let users specify add-ons to be disabled via command line switches (see #3090 for a brief discussion). Thanks.

From: CyrilleB79 <notifications@github.com>
Sent: Tuesday, June 30, 2020 4:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] In the add-on manager, allow to enable

[2020-06-30 18:58] BueVest commented on #11086
Yes, looks like the same issue.

[2020-06-30 19:53] JulienCochuyt commented on #11317
@CyrilleB79,
Multiple selection lists can be a bit tedious at first for beginners.

For quickly disabling/enabling add-ons, one can already proceed by using the accelerators without leaving the list.
That is, when a given add-on is selected in the list, press `alt+d` to disable it, or `alt+e` to enable it (`alt+a` with the French locale). Note that the focus does not land on the button, but rather

[2020-06-30 19:59] Adriani90 commented on #11320
Tis does not work unfortunately without downsides. A big amount of text in the clipboard would impact performance directly if the text has to be chunked at once by the synthesizer. We had this discussion also previously in another issue. Actually, if you have a very long text in the clipboard, usually you don't want to listen to it since you know it already from the selection that you did before.

[2020-06-30 20:00] JulienCochuyt commented on #11320
Sending potentially enormous chunks of text for speech used to lead to freeze or instability with many synthesizer.
@feerrenrut, is it still the case as of Speech Refactor?

An alternative approach, when the content exceeds a reasonable limit, might be an announce like:
"NNNN characters in clipboard, From <first few words> to <first last words>."

[2020-06-30 20:02] Adriani90 commented on #11320
Oops, ok let's reopen the discussion again. I was not considering the speech refactor although I don't know if this would be viable.

[2020-06-30 20:04] lukaszgo1 commented on #11317
Maybe conversion of the add-ons list to a checkable list would solve the problem here? For beginners the behavior would stay the same and the use case described here could be accomplished.

[2020-06-30 20:12] JulienCochuyt commented on #11320
@Adriani90 wrote:

I'm not sure either. Of course, this request is an old standby, but let's first ensure if conditions have changed, as many users seem to praise for it...

[2020-06-30 20:17] LarrySilvermintz commented on #11320
Thank you for your immediate reply.  For perspective, in Zoomtext  Say
clipboard" always works totally fine with my sinthesizer voice and is a
finction I really depended on.  Please, Is there some possible way to add it
as an option or some way to at least raise the limit value?

Regards,
Larry Silvermintz

941-556-9200

Sarasota, FL

  _____

From: Adriani90 [mailto:notifications@github.com]
Sent

[2020-06-30 20:20] LarrySilvermintz commented on #11320
Please, At least to read the beginning of the clipboard instead of reporting
length.  Some indicator could be given such as saying "plus more" or "more
not spoken".

Regards,
Larry Silvermintz

941-556-9200

Sarasota, FL

  _____

From: Julien Cochuyt [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2020 4:01 PM
To: nvaccess/nvda
Cc: LarrySilvermintz; Author
Subject: Re: [nvaccess/nvda] A

[2020-06-30 20:43] LarrySilvermintz commented on #11320
Thank you!

Regards,
Larry Silvermintz

941-556-9200

Sarasota, FL

  _____

From: Julien Cochuyt [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2020 4:12 PM
To: nvaccess/nvda
Cc: LarrySilvermintz; Author
Subject: Re: [nvaccess/nvda] Add a toggle to always report clipboard text
(#11320)

 @Adriani90 <https://github.com/Adriani90>  wrote:

Oops, ok let's reopen the discussion again. I wa

[2020-06-30 22:49] CyrilleB79 commented on #10767
I prefer that you or people of the Spanish translators/community take care of this since they can test it. Moreover, it allows to teach more people to know how to make such modifications. I am available for checking or helping if required.

No, only SVN is used in this case. At least, it is my own experience. I had tried a PR against NVDA repo in the past (#10162) but it was not accepted and SVN w

[2020-06-30 23:04] XLTechie commented on #11320
I would prefer to see a Press once for length, press twice for speak contents
approach.

[2020-06-30 23:28] LarrySilvermintz commented on #11320
Other way around, please, Predominant need is to hear just the content.  And
thank you for considering this feature!

Regards,
Larry Silvermintz

941-556-9200

Sarasota, FL

  _____

From: Luke Davis [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2020 7:04 PM
To: nvaccess/nvda
Cc: LarrySilvermintz; Author
Subject: Re: [nvaccess/nvda] Add a toggle to always report clipboard text
(#11320)

[2020-06-30 23:31] XLTechie commented on #11320
If more users really want this, it could be useful to discuss how it might be
done effectively and efficiently.

I agree with @Adriani90 that the text limit is there for a good reason.
There's nothing wrong with the current text limit imo. What is wrong is deciding
that if there is more text than that, the user must only want to hear the number
of characters.

  I was recently talking a very slow

[2020-07-01 00:58] jcsteh commented on #11305
This isn't related to focus focusable elements disabled, so it isn't a regression. I can also reproduce it with that enabled.

I'd guess the reason this happens is that GitHub focuses an autocomplete item, but then rebuilds the autocomplete list so that the item it just focused dies. It then focuses the new item once the list is rebuilt. Unfortunately, the old (dead) focus event is still queued, s

[2020-07-01 01:00] jcsteh commented on #11305
I can't reproduce this. I'd suggest you file a new issue for this, including the exact steps to reproduce and version information. Please CC me. Thanks.

[2020-07-01 03:10] jcsteh commented on #8861
`IndexError: pop from empty list` is being handled in issue #10619 PR #11318.

For `AttributeError: 'NoneType' object has no attribute 'obj'`, there's also #5454.

[2020-07-01 03:26] jcsteh commented on #8861
https://github.com/jcsteh/nvda/commit/0ba63ae01e0c5aed3a6b64478d6980cb6f8ec741 should hopefully fix this, but I haven't tested it at all and don't have time to do that right now.

[2020-07-01 03:49] nvdaes commented on #10767
OK. I attached a gestures.ini for issue #4478 years ago, so I think
this bug in Spanish is produced since I didn't unbind control+alt+1,
+2 and +3 gestures for Word documents.
I tried to modify this in SRT repo, but I cannot find gestures.ini
into es folder. For this reason, and since I'm not part of the
translations team for Spanish, I prefer to request this to @nvda-es
people respecting their wo

[2020-07-01 06:00] michaelDCurran commented on #10766
@trodick  Thank you for the crash dump. It was helpful.

My technical findings so far:
Outlook's UI Automation provider implementation for GridRow in the message list seems to get into an infinite loop when trying to collect the children of the grid row. I have a call stack which I will share with Microsoft privately. I think it keeps finding more and more children by endlessly calling GetNextSibl

[2020-07-01 07:09] CyrilleB79 commented on #10767
If it is not present in SRT, you need to add it, copying it from NVDA last version. More details regarding gesture translation can be found on the following page where it is described:
[TranslatingGesture](https://github.com/nvaccess/nvda/wiki/TranslatingGestures)

I also plan to send a message to translation mailing list regarding this issue since other languages may be in the same situation as S

[2020-07-01 07:12] josephsl commented on #10767
Hi, as long as only gestures.ini file is concerned, then please do commit changes to translations workflow. Thanks.

From: CyrilleB79 <notifications@github.com>
Sent: Wednesday, July 1, 2020 12:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] In MS Word, NVDA announces style and title level when typing a characters corres

[2020-07-01 07:20] trodick commented on #10766
@michaelDCurran I can still reproduce this issue on Microsoft® Outlook® for Microsoft 365 MSO (16.0.12827.20328) 64-bit.

[2020-07-01 07:28] feerrenrut commented on #11320
I think there is enough information on this issue to understand the core issues users face with this implementation.
I believe it was originally done this way to work around limitations with synthesizers, and accommodate the most common use case. I think it might be time to revisit this approach and see if it can be improved. Note there is also the new windows clipboard feature in Windows 10 `wind

[2020-07-01 07:41] JulienCochuyt commented on #11320
@feerrenrut, do you know if Speech Refactor gives us more ability to send big amounts of text to the speech synthesizer?

[2020-07-01 07:43] CyrilleB79 commented on #11317
Thanks to all for your comments. Replying globally:

@josephsl you wrote:

IMO, this does not address the need to enable or disable add-ons quickly as described in initial comment of this issue.

@JulienCochuyt you wrote:

Multi selection lists are present everywhere, e.g. in Windows Explorer and e-mail clients. And I haven't heard that it was a difficulty for beginners. IMO the main point is that

[2020-07-01 07:45] Brian1Gaff commented on #11317
I think that would be more laborious than disabling them one at a time from
the interface, personally!
Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2020-07-01 07:55] feerrenrut commented on #11320
I don't think that aspect has been specifically addressed, it may have been as a side effect. I think it will need some experimentation.

I think if we wanted to read a lot of text off the clipboard, something like the say-all for the clipboard would be a good idea. Taking the full content at once could result in a massive memory use.

I like the idea of announcing the size and the first sentence

[2020-07-01 08:52] lukaszgo1 commented on #11317
Sorry for not being clear enough. I haven't thought about checking and unchecking add-ons as a way of enabling/disabling them but as a way to create multiple selection i.e. when nothing is checked disable, enable and uninstall operates on the add-on with focus and when there is a selection on an entire selected range of add-ons.

[2020-07-01 10:05] nvdaes commented on #10767
Thank you. After your previous clarification I know this should be
done from SRT. As tried to explain in my previous comment, since I
wasn't able to find gestures.ini in SRT/es folder and I am not part of
the translation team for Spanish repo, I think it's better that
spanish translators take care of this.
They are @nvda-es (with dash). I am @nvdaes (Noelia). I don't
understand the reason of these

[2020-07-01 10:38] ivnc commented on #10767
In reply to mentions:
I'm also unable to find gestures.ini within the SRT "es" folder. That file was last modified on Git six years ago when the workflow was presumably different from the current one. Anyway, I'm not involved in interface localization. I've sent a note to @quetzatl, among others, to let him fix this and post the comments he considers appropriate with regard to this issue.

Regards

[2020-07-01 11:10] jmdaweb commented on #10767
Gestures.ini added to Assembla for spanish, galician and colombian spanish, as all of these languages may be affected by this issue. Hope nothing breaks on next automatic merge.

[2020-07-01 11:17] CyrilleB79 commented on #11317
I disagree with you on this proposal. Indeed, you get a situation where pressing "Disable" button (for example) can perform 2 different actions:
* It disable the focused item
OR
* it disable the selected items
The user has to know how many items are checked to know to what the "Disable" action apply. This is not good at all for UX.

[2020-07-01 11:49] nvdaes commented on #10767
Thanks.

2020-07-01 12:38 GMT+02:00, Iván Novegil <notifications@github.com>:

[2020-07-01 12:19] CyrilleB79 commented on #10767
@jmdaweb the gestures kb:control+alt+1, kb:control+alt+2, kb:control+alt+3 still need to be unbound, i.e. bound to None. Do you take care of this?
Also tests need to be done to check if these modifications solve the issue and do not break style and title level announcement.
And a last question before making these changes: is there a specific version of MS Word in Colombia and/or in Galicia where t

[2020-07-01 12:21] LarrySilvermintz commented on #11320
Thank you again, To reiterate, it is rare that the user ever wants to learn
the number of characters.  If the duration of the speaking is too long, the
user can simply curtail speech with the quiet command.

Therefore, once again, the simplest for the user is the setting that
functions start reading regardless of length and continue until curtailed by
user.

Regards,
Larry Silvermintz

941-556-920

[2020-07-01 13:00] ivnc commented on #10767
Regarding your last question, Colombian Spanish is a variant of Spanish. I don’t know if it’s pressent in Word, if yes, it is unprobable that keystrokes are different. The same for Galician, despite being recognized as an independent official language.
Anyway, it could be a good idea to, if translations are correctly merged, invite people to test next Beta or RC and to try to reproduce this issue,

[2020-07-01 14:11] subbuatos commented on #11314
No, there is no dual sound device.

[2020-07-01 14:21] nvdaes commented on #10767
In case Colombian has the same keystrokes than Spanish, gestures.ini
from es language without variant should be used by NVDA if
gestures.ini is not added for es_co:
https://raw.githubusercontent.com/nvaccess/nvda/master/source/inputCore.py
Fixme if I'm wrong, @CyrilleB79:

2020-07-01 15:01 GMT+02:00, Iván Novegil <notifications@github.com>:

[2020-07-01 14:57] jmdaweb commented on #10767
@CyrilleB79 Yes. I have tested and commited the changes to srt for spanish.

[2020-07-01 19:49] codeofdusk commented on #8653
Well, now make that fixed in #10964 (#9771 was reverted).

[2020-07-02 06:27] JulienCochuyt commented on #8674
@leonardder wrote:

IMHO including this only on the second press as you propose is both useful and fairly enough.

What about: `very dark aqua-blue grey (RGB: #24292e) on white (RGB: #ffffff)`

That is, simply present as a 24 bits hex value as commonly used with HTML/CSS, which significantly reduces footprint.
I guess most people interested in this value in the first place might be able to handle

[2020-07-02 07:35] CyrilleB79 commented on #8674
Did any non-developer complain about missing information regarding color? If not, having an add-on doing the job would be more appropriate; I do not know however if it is easily doable.

In any case, I also imagine that having much information at first press would be counterproductive and confusing for a majority of people who do not have a technical background.
An other option regarding the brows

[2020-07-02 08:35] #10619 closed

[2020-07-02 10:23] #10348 closed

[2020-07-02 13:54] Neurrone opened #11323 "Focus ancestry gets announced in Firefox"
CC: @jcsteh

Originally reported in #11305.

### Steps to reproduce:

1. Visit [Mdn's page on the select element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select)
2. Press c to move to the select example. Interact with it and change the currently selected option.

### Actual behavior:

Here's some speech output where I am in the select element and choose a new option.

[code]

###

[2020-07-02 14:18] #6468 closed

[2020-07-02 16:32] feerrenrut commented on #8674
I tend to agree that this would likely be better as an addon. That said, if our current color descriptions are inaccurate or not handling edge cases well then please open issues for those specifically.

[2020-07-02 17:01] feerrenrut commented on #11320
Thanks for the input @LarrySilvermintz, however the number of characters is still considered useful to some. Not to learn the exact size, but as a very fast way to determine if a copy operation went wrong, copying much more than expected. For most users, the majority of copy operations are small snippets, several words or perhaps sentence or two. Quickly knowing that the copy was larger than this

[2020-07-02 17:20] leonardder commented on #8674
There is at least #9183.

I think having this in an add-on is a valid solution here. Closing.

[2020-07-02 17:25] leonardder commented on #7744
@Adriani90 Could you upload the title of this issue to more appropriately reflect what its intention is?

[2020-07-02 17:59] Adriani90 commented on #8674
At least for web content, there is already this addon in place
https://github.com/ajborka/nvda_developer_toolkit
Amongst many features, you can press f to hear the formatting and the color of an element and with ctrl+c you can change the format of color reporting to rgb, hex, etc.

[2020-07-02 18:14] Adriani90 commented on #11320
The solution propopsed by @XLTechie with one press = number of characters if the content is too long and second press = reporting the content completely, is already proposed in #5889. In fact, this issue is a duplicate of #5573. Note that there is also a somehow related discussion on #10709 but that alternative will not work consistently in applications due to inconsistent information about pasted

[2020-07-02 18:14] #11320 closed

[2020-07-02 18:16] Adriani90 commented on #11320
Regarding optional implementation (i.e. a toggle checkbox etc) this can also be discussed there after a consensus has been found wether it is possible to implement without downsides for users or not.

[2020-07-02 18:17] Adriani90 commented on #11320
Oops sorry the issue #5889 was about spelling, I was too fast on that..

[2020-07-02 18:39] lukaszgo1 commented on #8674
There is one use case for which having RGB values would be helpful which has not been considered i.e fetching the RBG value of the color used for selection in DisplayModel based controls. While interesting only for developers we have certain features only for them i.e Python Console, WX Inspection Tool etc and they are not _distributed_ as an add-ons. It would also be difficult to have this functi

[2020-07-02 18:51] zahra21 opened #11324 "two incorrect links i found in nvda 2019.3 whats new!"
hello every one.
while i use windows xp, and nvda 2017.2 and 2017.3 are the best versions for me, but i always follow github, nvda new features, changes and bug fixes.
i should i read hundreds of reports in github about nvda!
and for this reason, i am familiar with various versions of nvda and their changes.
however, two links in nvda 2017.3 whats new, i believe that they are not related to their

[2020-07-02 18:54] josephsl commented on #11324
Hi,

You're right. Quentin, any thoughts?

Thanks.

[2020-07-02 19:06] zahra21 commented on #11324
hi joseph.
thanks so much for your quick response and attention.
i always sincerely pray for all of you nvda developers and request divine infinite and especial mercy and blessings for you!
i believe that i found the correct link for the second one.
i just copy peist the entire sentence in the google search box!
i peisted:
In the Settings app in Windows 10 April 2018 Update and later, NVDA will no

[2020-07-02 19:09] zahra21 commented on #11324
i also found correct link for the first item.
https://github.com/nvaccess/nvda/pull/10340

[2020-07-02 20:59] LarrySilvermintz commented on #11320
Then we are requesting a pull-down or radio button to choose the

* simple and most logical function of just always reading only full
clipboard contents.

* then any other choices y'all choose to have.

Summary, the main option is, as specified, the simplest nost logical
behavior.  Just read what is asked, here it is the clipboard's full
contents, until curtailed or interrupted by the user.

Respe

[2020-07-02 21:01] CyrilleB79 opened #11326 "Unselected is not announced properly in gesture filter field"
### Steps to reproduce:

* Open gesture dialog
* In the filter field, type something, e.g. "braille"
* Press control+home and then Delete to delete the content of the filter field
* Type slowly "enable" (with English NVDA UI)

### Actual behavior:

Strangely "selection removed" message is heard when typing the "b" letter.

### Expected behavior:

Selection removed should be heard when typing the D

[2020-07-02 21:02] CyrilleB79 commented on #11326
Cc @JulienCochuyt.

[2020-07-02 23:12] JulienCochuyt commented on #11326
I can reproduce mostly when typing the third letter after deletion, but also sometimes after the second and rarely after the first.
What bothers me the most here is that until the selection removal announce, braille is not updated either.
Still, all review commands report the correct content.

After adding a ton of log traces, I can confirm that `IAccessible.event_valueChange` is not called at all

[2020-07-03 00:04] JulienCochuyt commented on #9144
@lukaszgo1 wrote:

At first glance, it seems the way the formula is retrieved has not changed since contribution by @dineshkaushal in 2015.2 as of 06ab8e43bf, although there of course might be side effects I hadn't considered.
Could you please check with older versions of NVDA to ensure localized formulas used to be retrieved and hopefully identify when it turned to English only?

Note: I'm not ar

[2020-07-03 00:32] jcsteh commented on #11323
At risk of sounding pedantic, how exactly are you "interacting" with it? Are you pressing enter, then arrow keys? or are you pressing alt+downArrow then arrow keys?

The reason I ask is that I can't reproduce this, so I'm wondering whether I'm doing something different. Also, this:

suggests that the combo box is expanding, which doesn't usually happen unless you press alt+downArrow. But even if I

[2020-07-03 01:13] JulienCochuyt commented on #9144
@michaelDCurran this one was an easy fix, as the range object exposes a "FormulaLocal" property, if I recall correctly.
However, since #9257, it's a whole other story...
Would you know whether there is an equivalent to `XLDISPID_RANGE_FORMULA` for localized formulas?
Or maybe just point to the relevant documentation on the used Excel IDispatch DISPIDs?

[2020-07-03 01:15] XLTechie commented on #8674
Or use a checkbox in advanced, or better yet a combo: off, hex, or RGB.

[2020-07-03 01:48] JulienCochuyt commented on #8674
@lukaszgo1 wrote:

I agree. I already stumbled upon this one when developing an `AppModule` for a customer, and digging for the right values from the format fields of the `TextInfo` was pretty tedious.
I was even happier when a later update slightly updated the color theme...

[2020-07-03 04:45] michaelDCurran commented on #9144
The dispid you need is: 263

I was able to fetch this by:

Opening Excel and focusing on a cell.

Opening the Python console and running the following command:

nav.excelCellObject._comobj.GetIDsOfNames('formulaLocal')

That is, using the IDispatch interface on an Excel range object, calling
GetIDsOfNames with the name: formulaLocal.

[2020-07-03 06:23] JulienCochuyt commented on #9144
@michaelDCurran: Thank you! Quick, clear, informative.

@lukaszgo1: No need to bother checking earlier versions. PR on its way.

[2020-07-03 06:50] leonardder commented on #11305
I removed the regression label and updated the issue title based on https://github.com/nvaccess/nvda/issues/11305#issuecomment-652124886

[2020-07-03 09:29] feerrenrut commented on #8674
I was curious about this, they are quite similar colors to my eye. I do tend to agree that the first and second are further apart than the second and third. Though it's a mistake to compare them this way, the colours are given names based on them fitting into a segment of the colour space, they may not be at the center of the space. Two colours close to a boundary will have a small relative differ

[2020-07-03 10:14] NZGene opened #11330 "NVDA cannot see pop up information on product in virtual mailer at New World"
### Steps to reproduce:
Open google chrome browser
Type in newworld.co.nz
Press Enter
From top of page, Tab (approximately 5 times) to virtual mailer
Press Enter
Virtual mailer should pop up (this will be in the pdf viewer in those browsers)
From top of page, press B for button until you hear "next page"
Arrow down about 5 or 6 times until you hear a product (like cheese)
Press the Enter key on th

[2020-07-03 10:42] #11324 closed

[2020-07-03 11:10] Neurrone commented on #11323
@jcsteh that's a good point. What I did was:

1. Press c
2. Press enter to go to focus mode
3. Press alt+down to expand the list
4. Press up/down to change options
5. Press enter

Interestingly if I omit 2, I don't encounter this issue. Likewise if I don't press alt+down to expand the list first.

[2020-07-03 12:14] nvdaes opened #11331 "Fab subtitler cannot be run with NVDA"
### Steps to reproduce:
1. Try to run Fab Subtitler using NVDA.

### Actual behavior:
A dialog shows the following error:

After accepting, a second dialog shows:

### Expected behavior:
Fab Subtitler should be run without issues, like using Narrator.

### System configuration
#### NVDA installed/portable/running from source:
Installer  or portable.

#### NVDA version:
NVDA 2020.2beta2

#### Windo

[2020-07-03 12:19] nvdaes commented on #11331
Fab is a proprietary product found at
https://www.fab-online.com/subtitling/bcastxcd/
I use it in my job as an employer of a company dedicated to accessibility, in case this info is useful for further support or testing.
I will send this to Twitter mentioning them, since I'm testing with their products and for job.
Thanks

[2020-07-03 13:08] #9132 closed

[2020-07-03 15:28] fatihyuksek1 opened #11332 "While installing NVDA, NVDA beeps always like the installation is at 50% and the progress bar shows at %0"
### Steps to reproduce:
1. Start installing NVDA to the hard drive, or create a portable copy
2. You will hear that while the installation is in progress, the progress bar sound does not increase in pitch as the installation  gets closer to completion. Instead, the progress sound is at always 50%.
### Actual behavior:
The progress bar sound does not increase in pitch to reflect the progress level.

[2020-07-03 16:28] josephsl commented on #11332
Hi, ah, this is indeterminate progress bar. @MichaelDCurran, is there a reason for coding it that way? Also, I geta feeling that this is a duplicate. Thanks.

From: fatihyuksek1 <notifications@github.com>
Sent: Friday, July 3, 2020 8:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] While installing NVDA, NVDA beeps always lik

[2020-07-03 19:23] codeofdusk opened #11333 "Partial sleep mode (only report messages generated from a plugin)"
### Is your feature request related to a problem? Please describe.
Some applications provide no useful information via NVDA's usual channels – in these cases, app modules can be developed to produce messages making the app accessible using custom behaviour. ([Example](https://github.com/codeofdusk/emacspeak-nvda))

### Describe the solution you'd like
A "partial sleep mode" should be developed, wh

[2020-07-03 19:23] codeofdusk commented on #11333
Cc @leonardder @michaelDCurran @jcsteh @derekriemer.

[2020-07-03 19:30] josephsl commented on #11333
Hi, I think this might be generalizable to “speech on demand” feature later (beyond the scope of this issue). Thanks.

From: Bill Dengler <notifications@github.com>
Sent: Friday, July 3, 2020 12:24 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Partial sleep mode (only report messages generated from a plugin) (#11333)

Cc

[2020-07-04 02:03] jcsteh commented on #11323
Just to clarify, you only see this when you press enter, not when you press the up/down arrow keys?

That's a known bug. See https://bugzilla.mozilla.org/show_bug.cgi?id=1422176. However, it was closed because the usual patterns for interacting with these controls (omitting either step or step 3 as you noted) doesn't cause this problem, and no one seemed to use or care about this edge case. It see

[2020-07-04 02:06] jcsteh commented on #11323
Actually, I think this needs a new Mozilla bug. Originally, this was a lot worse in NVDA because it caused focus mode switching to break if you didn't press enter before pressing alt+downArrow. That is no longer the case, so now we're just dealing with the extra verbosity. Same underlying cause, but very different user impact.

You can file a new Mozilla bug if you wish or I will file it when I ge

[2020-07-04 06:15] nvdaes commented on #11302
Braille can also be refreshed by moving the review cursor when the book has been opened.
This behavior is not happening running NVDA from portable and source.
It can be fixed using this code in an app module placed in the scratchpad folder, but when the app module is included in appModules folder of NVDA's core, this doesn't work.

[code]
🤔

[2020-07-04 09:07] JulienCochuyt commented on #11302
@nvdaes, just to be sure, you did import `appModuleHandler`, `controlTypes` and `eventHandler` at the top of your module and simply didn't paste it here to be concise, right?

[2020-07-04 09:29] Neurrone commented on #11323
Np, this isn't urgent.

Honestly the only way I even noticed this was while performing a workshop for some colleagues on web accessibility. I happened to be mentioning that pressing alt+down with a keyboard allows you to expand it and this keystroke isn't SR specific. Then when I selected an option, I noticed this happening.

[2020-07-04 09:30] Neurrone commented on #11323
Ugh, stupid github's ordering of the buttons, whoever thought it was a good idea to have close and comment go before comment wth

[2020-07-04 09:35] nvdaes commented on #11302
Thanks Julien for your interest. Yes, I imported appmoduleHandler, controlTypes and eventHandler at the top of the Python file.

[2020-07-04 10:13] XLTechie commented on #11323
Please consider updating the title of this to indicate exactly what corner case
thing it is that causes the Focus ancestry to get announced, so future issue
searchers won't have to read this far to know if it's a duplicate.

Thanks

[2020-07-04 11:05] leonardder commented on #11332
Duplicate of #2313

[2020-07-04 11:05] #11332 closed

[2020-07-04 11:58] JulienCochuyt commented on #11302
To check that the `AppModule` is active, you can press `nvda+f1` to read the Developer Info or issue `focus.appModule` in the Python Console.
If it reads indeed "thorium" and not "appModuleHandler", you can further check that it is indeed loaded from the source you intend by issuing in the Python Console:
[code]
That way, you'll see if an add-on took priority over your change.

If all of this is f

[2020-07-04 12:05] nvdaes commented on #11302
Thanks, I will test your suggestions and provide feedbackhere again.

2020-07-04 13:58 GMT+02:00, Julien Cochuyt <notifications@github.com>:

[2020-07-04 16:02] nvdaes commented on #11302
@JulienCochuyt , after testing your suggestions in the Python console and using `NVDA+f1`, I confirm that the created app module for Thorium is present in NVDA when I run it from source (`pythonw.exe nvda.pyw`), but it's not copied when I install NVDA from the created launcher (`scons launcher`). I don't know if this is an error at installation or produced because the app module is not copied to N

[2020-07-04 16:19] nvdaes commented on #11302
Seems that the app module is not copied in the launcher, since I
created a portable copy and it's not there. I will try to perform
scons clean in case it works.

2020-07-04 18:03 GMT+02:00, nvdaes <notifications@github.com>:

[2020-07-04 20:46] nvdaes commented on #11302
I have problems with my local computer, and finally I have built the
NVDA launcher with GitHub Actions uploading the artifact, after
running sconst tests. After that I have installed the built snapshot
of NVDA and now the app module works as expected.
I will test it and I may create a pull request when Thorium 1.4.0
stable is released, unless it is not published soon, but I think it
will be releas

[2020-07-05 04:32] XLTechie opened #11335 "2020.2beta2 does not read Windows 10-2004 Open With dialogs automatically"
### Background

I had a URL shortcut on my desktop for some time. After upgrading Windows from 1909 to 2004, I found that the URL shortcut no longer seemed to work. Not surprising--my network shares no longer work either, for some reason. But rather than giving an error, it appeared that nothing happened when opening it. Alt+tab wouldn't recognize that any new windows were open.
I finally thought

[2020-07-05 04:44] josephsl commented on #11335
Hi, confirmed, caused by the fact that NVDA does not notice the dialog right away (it is the child of the “pane” that shows up). I’ll come up with something via Windows 10 App Essentials add-on (might not be trivial to fix), then post a PR based on additional findings. Thanks.

From: Luke Davis <notifications@github.com>
Sent: Saturday, July 4, 2020 9:32 PM
To: nvaccess/nvda <nvda@noreply.github.c

[2020-07-05 05:03] XLTechie commented on #11335
@josephsl wrote:

It notices the pane though, as evidenced by the internal appModule for the
dialog being launched (according to the dev info, anyway).

The immediate cluge idea that came to my mind, therefore, was in that appModule,
to simulate a tab key press. That both moves into the dialog, and speaks it, as
should have happened first.
That is inelegant in the extreme, but it would solve the i

[2020-07-05 05:27] josephsl commented on #11335
Hi,

Ah, turns out this is another one of those cases where we do need to tell NVDA that we are indeed dealing with a UIA window.

Technical: the window that gets "focused" when Open With dialog opens is actually a UIA element in disguise. Therefore the app module must tell NVDA that the window class name of "Shell_Flyout" is a good UIA window (another side effect is that NVDA will no longer say "

[2020-07-05 05:58] josephsl commented on #11335
Hi,

Resolved via Windows 10 App Essentials add-on July 5th development snapshot, and will be resolved via both a pull request and WinTenApps 20.07.1 stable version.

Thanks.

[2020-07-05 06:07] XLTechie commented on #11335
Well, I can test 1909 and one of the middle of the road 16-17 releases.

[2020-07-05 06:09] josephsl commented on #11335
Hi, I recommend testing on 1709 and later, as 1703 and earlier is no longer supported for consumers and businesses. Note that the fix I wrote will work with Version 2004 and later (this is intentional based on the initial report). Thanks.

From: Luke Davis <notifications@github.com>
Sent: Saturday, July 4, 2020 11:08 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gm

[2020-07-06 00:16] #11335 closed

[2020-07-06 01:33] XLTechie commented on #11335
Test results on the machines I have available (all with 2020.2beta2, and dev
version of W10AE):

1511: works perfectly. (Which was expected given that wouldn't have changed)

1909: worked after a COM Types Fix, and says:
"unknown. Dialog how do you want to open this file? how do you want to open this
file? How do you want to open this file? Dialog How do you want to open this
file?".
After that mu

[2020-07-06 01:46] josephsl commented on #11335
Hi, the fix for this made it to latest alpha snapshots, so I recommend testing with that also. Thanks.

From: Luke Davis <notifications@github.com>
Sent: Sunday, July 5, 2020 6:34 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] 2020.2beta2 does not read Windows 10-2004 Open With dialogs aut

[2020-07-06 01:51] #11209 closed

[2020-07-06 01:54] codeofdusk commented on #11077
I think it's worth reopening this until a similar solution for IA2 is merged.

[2020-07-06 03:49] #7894 closed

[2020-07-06 04:03] #8554 closed

[2020-07-06 04:03] #8857 closed

[2020-07-06 07:32] #4569 closed

[2020-07-06 09:05] Adriani90 commented on #11331
cc: @feerrenrut

[2020-07-06 11:28] #11263 closed

[2020-07-06 11:56] #10015 closed

[2020-07-06 12:00] #9144 closed

[2020-07-06 12:20] CyrilleB79 commented on #10767
@nvdaes wrote:

Reading the code in `inputCore.py`, I agree with you Noelia, even if I haven't not tested anything. However, `locale/es_CO/gesture.ini` is already in nvaccess\nvda:master branch and also in NVDA2020.2beta2 (maybe for a long time).
In other words, adding or modifying the `gesture.ini` file in SRT (assembla) makes this file added/modified in NVDA Github repo. But probably deleting th

[2020-07-06 12:51] CyrilleB79 commented on #10767
@Adriani90 regarding German do you or any other German guy plan to modify/test it?
Cc @bdorer, hozosch, @Robert-J-H.

[2020-07-06 12:59] nvdaes commented on #10767
Thanks for clarification. Imo, for future maintenance, unless es_CO
contains different keystrokes, I would remove it if Colombian
translator agrees, since in case something is added to es, it probably
would need to be added also for Colombian Spanish, and this may cause
issues and extra work, just an opinion since I've been mentioned here
too.

2020-07-06 14:20 GMT+02:00, CyrilleB79 <notifications

[2020-07-06 15:33] #4864 closed

[2020-07-06 15:33] #10923 closed

[2020-07-06 15:47] feerrenrut opened #11339 "Freeze while starting chrome for system tests"
### Steps to reproduce:
Intermittent system test failure:
See build https://ci.appveyor.com/project/NVAccess/nvda/builds/33933406/artifacts

[ChromeFreeze-SystemTestResult.zip](https://github.com/nvaccess/nvda/files/4879960/ChromeFreeze-SystemTestResult.zip)

### Actual behavior:
When gaining focus Chrome / NVDA seemed to freeze and the watchdog was triggered giving the following errors:
[code]

F

[2020-07-06 15:48] feerrenrut commented on #11339
It would be useful for situations like this (and others) to be able to enable a minidump collection of the focused process when the watchdog notices a freeze.

[2020-07-06 16:14] bhavyashah opened #11340 "Improve support for infinite scroll on the web"
### Steps to reproduce:
1 Open your web browser.
2 Visit www.facebook.com and ensure that you are logged in.
3 Press Ctrl+End, then press shift+h, and  note the post that is read.
4 Press Ctrl+End again followed by shift+h again.

### Actual behavior:
A completely different post is read out. This is because probably because Facebook assumes that I hav finished reading up to the last post and there

[2020-07-06 19:54] Adriani90 opened #11341 "Advanced settings: error when activating the "restore default settings" button"
### Steps to reproduce:
1. Open NVDA's avanced settings
2. Press restore default settings

### Actual behavior:
Following error:
[code]

### Expected behavior:
No error should occur

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
Version: alpha-20514,e87d8ab1

#### Windows version:
Windows 10 2004 update

#### Name and version of other soft

[2020-07-06 20:08] Adriani90 opened #11342 "Advanced settings: the value does not restore to default for certain settings when activating the restore default settings button"
### Steps to reproduce:
1. Open NVDA's advanced settings
2. Change the value for all the settings in this category to a value which is not the default

### Actual behavior:
Following settings do not restore to default when activating the restore to default button:
* Use the new typed character support in Windows Console when available
* Attempt to cancel speech for expired focus events
* carret mo

[2020-07-06 20:09] Adriani90 commented on #11342
cc: @codeofdusk, @feerrenrut

[2020-07-06 20:13] codeofdusk commented on #11342
I think this issue is a good candidate for a good for new dev label. For those working on it: search for `restoreToDefaults` in `source/gui/settingsDialogs.py`.

It might also be worth considering resetting these to the default on version bump, especially as feature flag defaults might change (mitigated for UIA conhost by the ternary setting in config but binary in GUI until default approach).

[2020-07-06 20:40] bhavyashah opened #11343 "Zoom: More Options for {Screen Name} button cannot be reliably activated"
### Steps to reproduce:
1 Join a Zoom meeting.
2 Open the Participants panel.
3 Press Tab a couple of times until you reach the Participants list wherein you can arrow up or down to focus on any of the current meeting attendees (including yourself).
4 Tab twice again until you reach the More options for {screen name of participant under focus} button.
5 Try to activate it: Spacebar, Enter, move mo

[2020-07-06 20:46] lukaszgo1 commented on #11342
@Adriani90 It looks like #11344 also addresses this one. Could you please confirm with the build from this pr?

[2020-07-06 20:54] XLTechie commented on #11341
I can confirm this, although in Alpha 20491, the line numbers are lower by one
in each case.

[2020-07-06 21:11] bhavyashah opened #11345 "Inconsistencies in Tabbing at the start and end of a document in web browsers"
### Steps to reproduce:
1 Open any webpage in your web browser.
2 Press Ctrl+Home, and then Shift+Tab once or twice.
3 Navigate back to the web document.
4 Press Ctrl+End, and then press Tab once or twice.

### Actual behavior:
Varies with browser and webpage. On this ticket composition (New Issue) page in Firefox, Ctrl+Home and then Shift+Tab moves me to the Composition toolbar and the Write tab.

[2020-07-06 21:16] XLTechie commented on #11342
On Mon, 6 Jul 2020, Bill Dengler wrote:

It has not been the habit of NVDA to unilaterally update settings on upgrades to
fit the new normal, if the existing config has something else. Or has it and
I've missed that?

These settings are called "advanced", not "experimental", even though that is
often their use. If they were experimental, I could more easily expect the
unexpected--I.E. their change

[2020-07-06 21:40] Adriani90 commented on #11345
This is controled by the web autor and how the tabindex is defined. Imo there is nothing NVDA can do about this. The order of the tabindex in rendered by the browser. You should create an isue with Aria Spec and with the browsers.

However, maybe @jcsteh has other thoughts, otherwise I would vote for closing this issue if I am not wrong.

[2020-07-06 21:41] Adriani90 commented on #11343
Did you try to switch to focus mode and then activate the button with enter or space bar?

[2020-07-06 21:42] Adriani90 commented on #11342
@lukaszgo1 thanks for the quick work on this. yess your PR solves this issue as well.

[2020-07-06 21:44] bhavyashah commented on #10478
As an NVDA users of many, many years, I would note that this issue still bothers me a little bit. When the end of a document is a piece of text, and you press down arrow only to hear NVDA repeat those same words, it is much easier to put two and two together than it would be if the end of a document is a blank line. The reason for this is that the probability of the same line being present over an

[2020-07-07 01:09] Qchristensen commented on #8974
Trying with NVDA 2020.2beta2 and Outlook 365 (64-bit) Version: 16.0.12827.20336

The same issue is still present, although just to clarify the circumstances it occurs in are as follows:

- You have to open the message (ENTER) not just move to the preview window
- You have to start selecting at the beginning or end of the link.
- You can control+arrow through the words in a link and that works. Sim

[2020-07-07 02:58] XLTechie commented on #11335
I just wanted to thank you, @josephsl, for your very rapid fixes on this.

I've been testing the PR, and haven't found any cases where it fails or does
anything strange.  In general it seems to work better than the fix deployed
in W10AE, although that, too, works.

[2020-07-07 05:05] Adriani90 commented on #11341
Closing as fixed by #11344

[2020-07-07 05:05] #11341 closed

[2020-07-07 05:07] Adriani90 commented on #11342
Close as fixed by #11344

[2020-07-07 05:07] #11342 closed

[2020-07-07 06:06] feerrenrut commented on #9549
https://github.com/nvaccess/nvda/pull/7784 will help with some of the concerns here, specifically being able to use numpad arrow keys in place of regular arrow keys.

[2020-07-07 07:52] CyrilleB79 commented on #8974
Hello

The issue here is not a matter of selecting more or less things, i.e. words with letter or words including letters and dot and @ character.
The issue described here originally is that NVDA does not announce what is visually selected in the application (Outlook). This happens in Outlook (mail composition or reading) and in Word. In order to reproduce this issue you should be in browse mode (

[2020-07-07 08:05] zahra21 commented on #11340
Hello Bhavya.
i confirm the issue which you reported regardless of web browser name, version, nvda version etc.
however, i disabled auto scrolling in firefox preferences and still have this issue.
what should i do?
i dont have facebook account,
but i observed this issue always on
quora.com
and i think the behaviour is the same in any dynamic web page and social media websites.

[2020-07-07 09:18] lukaszgo1 commented on #11343
@Adriani90 Zoom is a classic win32 app so no browse mode is involved. @bhavyashah May I ask why you're believing this to be an NVDA issue rather than a Zoom one? Have you for example been able to activate this button consistently with another screen reader?

[2020-07-07 14:05] feerrenrut commented on #9622
The current description for this command is:

I agree that the user intent that you highlight is likely to be more common than moving to focus. Moving to virtual caret was effectively how this worked previously. However, since there may be cases where the focus is of interest specifically, this should be introduced as a new command.

Given that this use case has regressed with the introduction of

[2020-07-07 14:20] feerrenrut commented on #11342
@XLTechie generally I agree, however, there is a pretty specific warning on the advanced panel.

Attempting to expose feature flags to users is only a fairly recent thing, the process and UX will improve with time. I agree a dedicated "experimental features" or "feature preview" section would make sense.

There shouldn't be a need to change user selected values for feature flags. Only if the featu

[2020-07-07 15:52] lukaszgo1 commented on #9622
@feerrenrut wrote:

No, this command never moved review cursor to the position of the browse mode caret.

I'm afraid I don't follow here:
- Outside of browse mode this command always moves to focus and if the object with focus has caret sets review cursor to its position.
- In browse mode after #11190 either a browser window has focus because user navigates with the browse mode caret only (I reall

[2020-07-07 15:57] akj opened #11347 "Unable to Install Addons in Nvda 2020.2 Beta 2"
### Steps to reproduce:
1. Download an addon, for this example let's use [Kill NVDA](https://addons.nvda-project.org/addons/killNVDA.en.html) though I have tested with many others.
2. Click on the .nvda file to trigger install.
3. Sad beep, no install.

### Actual behavior:
#### NVDA Log Output
[code]
### Expected behavior:
The addon is installed.
### System configuration
#### NVDA installed/porta

[2020-07-07 16:13] Snakerman7 opened #11348 "NVDA does not announce combobox and doesn't read combobox content if it is wrapped inside div with role as gridcell"
I've made a simple HTML with this issue.
https://jsfiddle.net/yevhen_zmiyenko/ncqLzv10/60/
NVDA + Firefox work fine. They announce about the combo box and read the combo box content.
NVDA + Chrome doesn't work. NVDA doesn't announce the combo box and doesn't read the combo box text. NVDA in Chrome ignores the div with combobox role.

### Actual behavior:
NVDA doesn't announce the combo box and doe

[2020-07-07 16:51] josephsl opened #11349 "nvwave/output devices enumeration: first output device is an empty string in Windows 10 Version 2004 and later"
Hi,

Reported on Twitter and subsequently confirmed:

### Steps to reproduce:
With Windows 10 Version 2004 (May 2020 Update) installed, open NVDA's synthesizer dialog (Control+NVDA+S). Then see which devices are listed under output device combo box.

### Actual behavior:
An empty string is displayed at the top.

### Expected behavior:
A default output device name (such as Microsoft Sound Mapper) i

[2020-07-07 16:59] stickbear2015 commented on #11349
I was able to reproduce this with 2019.3.X as well.

[2020-07-07 17:47] bhavyashah opened #11350 "GUI: Unable to jump to option in combo box by pressing multiple initial alphabets"
### Steps to reproduce:
1 Open NVDA's Voice Settings dialog.
2 Tab to the Voice combo box. Assuming your selected speech synthesizer is ESpeak, this combo box displays a list of languages. If you are using another synth, the STR will vary but the nature of this bug will stay the same and should be replicable with slight changes to the steps.
3 Press 'h' followed by 'i' in quick succession.

### Ac

[2020-07-07 18:01] lukaszgo1 commented on #11350
This is not a bug technically. @bhavyashah Please note that the control used for the voice selection is a combobox whereas on the desktop we are dealing with a list view. Having said that given how many voices and Braille tables we have in NVDA settings it might be a good idea to convert these to the list  views. cc @feerrenrut Could you share your thoughts from a visual perspective? Would listbox

[2020-07-07 18:01] jage9 commented on #11349
Confirmed with latest snapshot. TO clarify, there is no Windows Sound Mapper option, so if Windows was providing that placeholder name in the past, it is not now. Looked in latest TeamTalk, and it is exhibiting similar behavior, with placeholder text of input and output for the default.
So if Windows is providing a blank, NVDA may need to supply its own text of default, which can probably be assum

[2020-07-07 18:01] pr3tori4n commented on #7836
I can confirm this is happening in `v2020.1`
A simple reproduction case would be to open NVDA and navigate to the example on this page.
https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-actions.html
Here is an example from w3.org for how to create an accessible dropdown menu. One of the functional requirements is that pressing ArrowUp or ArrowDown while focus is on the

[2020-07-07 18:03] josephsl commented on #11349
Hi,

Note: this issue only affects 2004 and 20H2 - Microsoft Sound Mapper is listed in build 20161 (dev).

Thanks.Hi,

Note that this issue is for 2004 and 20H2 - Microsoft Sound Mapper is present in build 20161 (dev). I'm looking at placeholder text that Windows already provides to avoid adding yet another translatable string that could be discarded later.

Thanks.

[2020-07-07 18:07] bhavyashah opened #11351 "Firefox: NVDA gives multiple errors when page loads after entering a URL in a new tab"
### Steps to reproduce:
1 Launch Firefox and press Ctrl+T to open a new blank tab.
2 Enter any URL, say facebook.com.
3 Press Enter.

### Actual behavior:
NVDA gives a bunch of error sounds after pressing Enter and before the page loads and NVDA initiates its say all. A bunch could mean as few as 0 or 1 and as many as 8. From a user's perspective though, I don't think anything is amiss UXwise.

##

[2020-07-07 18:20] bhavyashah opened #11352 "Firefox: Unable to press Show Options button on a Github ticket"
### Steps to reproduce:
1 View this ticket on github.com.
2 Navigate to the Show Options button.
3 Try to activate it using Spacebar or Enter.

### Actual behavior:
Nothing happens, i.e. the button does not get pressed. The log snippet when trying to press Spacebar is pasted below. Note that the exact same is shown even on pressing Enter.
"Input: kb(laptop):shift+b
IO - speech.speak (23:48:15.018)

[2020-07-07 18:30] bhavyashah commented on #11350
@lukaszgo1  I agree that this isn't technically a bug. Also, I have never understood the functional difference between a list box and a combo box. Both of them contain a number of options of which only one can be selected. Come to think of it, a web form could well use combo/list boxes in place of radio buttons and that would hardly make any difference. If there is something obvious or fundamental

[2020-07-07 18:49] josephsl commented on #11350
Hi,

These three controls look differently and are intended for different purposes:

* List box: all (or part) of a list of choices will be shown on screen. As such, you can glimpse potential choices on screen and will let you scroll through list items (see add-ons list for an example).
* Combo box: a combination of an edit field and a list of choices. Only one item is shown unless the control is

[2020-07-07 23:43] DrSooom commented on #11352
Press ALT+ArrowDown on this button.

[2020-07-07 23:47] DrSooom commented on #11347
@AKJ: You mean [NVDA 2020.2 Beta 2](https://ci.appveyor.com/api/buildjobs/apcqhdny4fhby273/artifacts/output/nvda_2020.2beta2.exe), correct? Because 2020.1 Beta 2 doesn't exist.

[2020-07-07 23:56] agtheblade commented on #11349
Hello everyone. I was the one who originally reported the bug. Just as an experiment, I turned on Narrator while in the NVDA synthesizer dialog and even Narrator was not able to read the Microsoft sound mapper item. Not sure if that means anything but figured I'd put that out there.

[2020-07-08 00:22] josephsl commented on #11349
Hi, upon further investigation, it was determined that this is Windows release specific and affects all programs wishing to enumerate wave output devices. The good news is that it will be fixed in a future Windows 10 update. Once I finish looking at language issues (that is, making sure the setting in question is language independent), I’ll submit a pull request targeting alpha snapshots. Thanks.

[2020-07-08 00:31] Qchristensen commented on #10783
Sorry I just realised I never replied to your question.  Certainly my thought was around links on web pages, so yes I agree that limiting it to that context as you've proposed is a good idea.  It might also be worth identifying when that recognition has occurred so the user knows that.  Whether NVDA read "Likely Twitter link", or played an earcon for instance.

[2020-07-08 00:39] josephsl commented on #11349
Hi,

It appears the term "Microsoft Sound Mapper" has been localized in other languages. Therefore this must be an alpha-level change.

Thanks.

[2020-07-08 00:57] AKJ commented on #11347
Yes - I blame a lack of coffee. Latest beta release.

Sent from my iPhone

[2020-07-08 06:14] leonardder commented on #11347
This error is pretty weird. What language of Windows are you using? It could be helpful if you could try NVDA 2020.1 to see whether the issue also exists there. Could you also try to install the add-on from the add-ons manager?

[2020-07-08 07:49] CyrilleB79 commented on #11352
I have also experimented this issue on Github in Firefox. Windows 10 1809, Firefox 78.0.1 (64 bits). This happens only sometimes but I have not succeeded in understanding in which condition it happens. Sometimes reloading the webpage (F5) or alt+tabbing forth and back solves the issue.
When the issue occurs, alt+downArrow does not work either.

[2020-07-08 08:42] d3p4n5hu commented on #5159
Please re-open as I'm currently facing this issue.
Version: 2020.1

Open IE, go to [https://www.nvaccess.org/](https://www.nvaccess.org/) and hover over any images.
Along with alt text, src is also being read by screen reader.

[2020-07-08 08:55] XLTechie commented on #11349
On Tue, 7 Jul 2020, Leonard de Ruijter wrote:

You might want to think of PR. "Well, NVDA doesn't have that problem, why
does your screen reader?" :)

[2020-07-08 08:59] XLTechie commented on #11352
I can confirm this periodic issue, and that when it happens, no method of
activating the dropdown button will work.

Sometimes it will resolve after multiple attempts, or after activating another
element.

[2020-07-08 09:10] danghoaiphuc commented on #11063
May I know any further progress on the improvements of SRV's accessibility @trichview ?
NVDA does not only read plain text but also can get and read other objects like images, tables, font attributes etc. I have gone through few programs using ScaleTRichview which are very useful but they are not accessible. If you @leonardder and @trichview could have accessibility solution for SRV, that is very

[2020-07-08 11:24] vortex1024 commented on #6065
I also have to look into this for a friend. It seems Excel makes this available via its object model, not sure if nvda currrently accesses it. Here's the info:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.tools.excel.worksheetbase.autofilter?view=vsto-2017

[2020-07-08 11:57] Neurrone commented on #11351
CC: @MarcoZehe or @jcsteh

I always see this on Windows 10 in 1909 and 2004 as well.

[2020-07-08 12:03] MarcoZehe commented on #11351
I cannot reproduce. Does this only happen with eSpeak, or also with Microsoft OneCore voices, @Neurrone ? Or which synth are you using?

[2020-07-08 12:05] MarcoZehe commented on #11352
This is very strange, it sometimes works, and sometimes doesn't, for me. It is likely that this is related somehow to #11185. CC @jcsteh

[2020-07-08 12:15] zahra21 commented on #11352
hello.
i tested this issue with firefox 52 and nvda 2017.3 (the last versions that until now, support windows xp.
when i pressed enter button on show options, the menu expanded and i have only copy link button.
but, since several months ago, i had similar issue and for this reason, i wanted to write a comment and ask, do you have this problem?
or is it because github no longer support firefox 52,

[2020-07-08 12:27] MarcoZehe opened #11354 "Context menus in Firefox read inconsistently with selective UIA handling enabled"
### Steps to reproduce:

1. Install an Alpha version of NVDA.
2. Enable the Advanced/UIA/Selective UIA Event Registration option. See #11214 .
3. In Firefox, enable the multiple account containers option in Preferences.
4. open the context menu for any link.
5. Select the menu item named Open Link in New Container", which has a sub menu.
6. Press RightArrow or Enter to open that sub menu. Now, one

[2020-07-08 12:35] leonardder commented on #11354
May be a silly question, but... I can't seem to find this option in Firefox 78. May be I"m missing a prerequisite to see this option? Search for "container" in the options doesn't yield any result.

[2020-07-08 12:43] lijianwei2019 opened #11355 "Feature request：Add hotkey script to assign audio output device"
### Is your feature request related to a problem? Please describe.

In a multi-sound card device environment, it is occasionally necessary to switch audio output devices frequently. The original operation logic is very inconvenient at this time. Affect the user experience.

### Describe the solution you'd like

The audio output device can be quickly switched by hotkey.

### Describe alternatives y

[2020-07-08 12:57] MarcoZehe commented on #11354
Sorry, you appear to still need to install an add-on for this option to show up. I've been using this for so long that I forgot. [Here](https://support.mozilla.org/en-US/kb/containers) is the info.

[2020-07-08 13:53] ilyaru91 opened #11356 "browse mode in libreoffice"
Can you please add browse mode to libreoffice

### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2020-07-08 15:13] Brian1Gaff commented on #11356
I seem to recall this already exist somewhere along with associated issues
like say all stopping etc. Do these all need an external fix by the folk
writing libra office?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -

[2020-07-08 15:33] hrvojegolcic opened #11357 "Landmark label ignored if `aria-labelledby` refers a child element"
Seems like a landmark label/name defined as `aria-labelledby` will be announced or ignored inconsistently based on:

1. Position of the element referred by `aria-labelledby` (inside or outside of a landmark)
2. Interactive content in the landmark reached by `TAB` key when entering it (e.g. in my case the different behavior for links inside of lists and tablists)

### Steps to reproduce:

1. Use NV

[2020-07-08 16:54] XLTechie commented on #11355
There has been discussion on mailing lists and in other places, about the
desirability of having an assignable hotkey to cycle through available output
devices.

Windows 10 has a habit of reassigning the default sound device. If NVDA was set
to use it, sound can be lost.
Other circumstances can also exist where NVDA is suddenly on a sound device
where it wasn't expected, and that device may not ev

[2020-07-08 16:56] XLTechie commented on #11352
Often, it will happen for me after I've already used it once or twice.

For example: post an issue, then edit it, then edit it again. By the third edit,
it would have started happening for me.

[2020-07-08 17:10] MarcoZehe commented on #11354
Oh, I just found another breakage that is very likely related. When initiating any download in Firefox, the whole download dialog is not read, only the current group item plus the radio button that is selected, is. So the Download dialog title and the fact that this is a dialog is skipped.

[2020-07-08 18:01] derekriemer opened #11358 "Tables with headers spanning multiple rows read on every row."
### Steps to reproduce:

1. Load the html example attached.
2. Read the rows using table navigation.

### Actual behavior:

NVDA repeats the row headers on multiple rows, even though they span multiple rows.

### Expected behavior:

NVDA should only read the column header once, when the user moves into the region spanning those headers. When the user moves between line 1 and two, unchanged doesn't

[2020-07-08 19:51] derekriemer opened #11359 "Don't reannounce focus after switching to focus mode."
### Steps to reproduce:

1. Ensure the new "Automatically set system focus to focusable elements" is set.
2. Move browse mode to a focusable element.
3. Press NVDA+space.

### Actual behavior:

NVDA announces the element because it gains focus.

### Expected behavior:

To most users, nothing happened, they simply changed modes. We might want to suppress this announcement of focus changing to make

[2020-07-08 21:10] Adriani90 commented on #505
@BueVest now that the bidirectional talbes for german are integrated in NVDA, do you see this issue as solved?

[2020-07-08 21:18] Adriani90 commented on #5590
No updates on this since years, the author seems not available anymore. I am closing as abandoned. Please comment on it if you have updates and we can reopen. Thanks.

[2020-07-08 21:18] #5590 closed

[2020-07-08 21:24] Adriani90 commented on #11355
Closing as duplicate of #8801.

[2020-07-08 21:24] #11355 closed

[2020-07-08 21:27] Adriani90 commented on #11359
Closing as duplicate of #11304.

[2020-07-08 21:27] #11359 closed

[2020-07-08 21:30] Adriani90 commented on #11357
cc: @jcsteh may you have some thoughts on this?

[2020-07-08 21:34] Adriani90 commented on #11356
Closing as duplicate of #5453.

[2020-07-08 21:34] #11356 closed

[2020-07-08 21:41] Adriani90 commented on #11351
I can reproduce this, only when read page after page load is enabled in browse mode settings.
The error is as follows:
[code]

[code]

@feerrenrut this is only reproducible when cancelable speech is turned on in advanced settings.

[2020-07-08 21:47] Adriani90 commented on #11350
cc: @JulienCochuyt

[2020-07-08 21:53] Adriani90 commented on #6065
If there is a proper controltype or control state for this, then I guess NVDA can certainly report this. I think the filter status is exposed somehow similar to comments or notes on cells, if I am not wrong.

[2020-07-08 21:54] Adriani90 commented on #11063
cc: @michaelDCurran

[2020-07-08 22:07] Adriani90 commented on #5159
Thanks for the update, testing in IE11, it seems the url is read although is not visible.

[2020-07-08 22:33] bhavyashah commented on #11351
I am able to reproduce this issue only when say all in browse mode is
enabled as well. However, I would differ in that I have the Attempt to
cancel speech for expired focus events combo box  set to Default (No)
when encountering these errors.

On 7/9/20, Adriani90 <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

[2020-07-08 22:48] bhavyashah commented on #11247
@leonardder  This is a friendly reminder to consider responding to https://github.com/nvaccess/nvda/issues/11247#issuecomment-642616633 and share if you might be able to investigate this issue.
Also, this is a gentle request to developers to briefly document the scope of this ticket. Does the reported freeze seem specific to Braille and/or Chrome or is it wider? Understandably, the details will be

[2020-07-08 22:59] bhavyashah commented on #11089
It is worth noting that #11247  also deals with NVDA freezing when a Braille display is connected. While the title may suggest specificity to Chrome, that may not necessarily be the case and one of the comments on it indicates NVDA freezing in Outlook when a Braille display is connected.
Also, do you think it would be better for the Word UIA issues listed in https://github.com/nvaccess/nvda/issues

[2020-07-08 23:05] bhavyashah commented on #10869
@bramd  This is a friendly reminder to respond to https://github.com/nvaccess/nvda/issues/10869#issuecomment-636249887. Also, in case you use other web browsers, particularly Firefox, could you please check if similar freezes occur from time to time there too?

[2020-07-08 23:17] bhavyashah commented on #10599
I have only properly gone through the ticket description, and I can confirm the following:
* I face this issue even with Firefox 78.0.1 and NVDA 2020.2 Beta 2.
* I am currently experiencing this with only 7 tabs open in one Firefox window and literally one other window (Windows Explorer) on a computer with an I5 processor and 8 gb RAM.
* The issue is solved for a short while - maybe for 10 minutes

[2020-07-08 23:24] bhavyashah commented on #10247
@EngineeringMario  This is a friendly reminder to provide a status update to https://github.com/nvaccess/nvda/issues/10247#issuecomment-621447311. You had said you may be able to share your updated findings in a few weeks' time. In case there is any progress on that, please do share.

[2020-07-08 23:33] davidacm commented on #10599
Its a very tedious issue. If you can't change to another browser like Chrome or the modern Edge (as in my case) You can do the following to deal with this.

1. Kill the firefox process or close all tabs with ctrl + shift + q.
2. Open Firefox again.
3. If you killed the process, then select restore session option. If you just closed all windows and tabs, open the history menu and select the "Restor

[2020-07-09 02:07] bhavyashah commented on #9463
@feerrenrut I tend to agree with https://github.com/nvaccess/nvda/issues/9463#issuecomment-613669007 in that (a) navigation and selection by paragraph is common, and (b) any scenario where NVDA crashes warrants greater-than-usual priority. Thoughts appreciated.

[2020-07-09 02:22] bhavyashah commented on #8210
@ObjectInSpace  Could you please explain why say all works only when Braille support is enabled? Also, why does Google Docs have a native say all key command (Ctrl+Alt+R) when all screen readers already offer it themselves? It may be the case that there is little that can be done from NVDA's end for this ticket, but I do not think the problem has been adequately addressed in and of itself. At best

[2020-07-09 02:35] bhavyashah commented on #7460
@elliott94  According to https://github.com/nvaccess/nvda/issues/7460#issuecomment-455427208, "In terms of this issue though, all of those examples are auto-redirecting to the appropriate HTTPS page for me, and I'm never seeing a warning in Chrome, Edge, Firefox or IE?" I concur with this assessment. Please share if you still experience this issue though.

[2020-07-09 02:35] slannon97 opened #11360 "Expand the functionality of configuration profiles"
### Is your feature request related to a problem? Please describe.
yes NVDA configuration profiles do not currently allow the customization of speech dictionaries, input gestures, or symbol pronunciations. All of these settings apply globally. It would also be nice if sleep mode could be automatically switched on when activating a profile.
### Describe the solution you'd like
I would like speech p

[2020-07-09 02:42] bhavyashah commented on #10946
I am unable to reproduce this issue on a webpage in Firefox 78.0.1 with NVDA 2020.2 Beta 2. I was erratically switching between pausing and resuming say all by pressing the left and right Shift keys; but everything kept working as expected in my brief test.

[2020-07-09 02:56] bhavyashah commented on #10841
In summary:
* If the up or down arrow key is held down for several seconds during a say all with skim reading enabled, NVDA reads the final line on which focus lands but gives up on say all. In other words, the skim reading feature fails here. This is independent of the application or editor in use (I've tested only with Firefox) and is not contingent on the presence of blank lines.
* This issue c

[2020-07-09 03:08] rkingett commented on #9463
Could not agree more. IMO, this should be given more attention.

[2020-07-09 03:08] bhavyashah commented on #7032
The latest comment, in 2019, suggests that this issue no longer exists, while this original ticket and a confirmatory comment came in 2017. Could you please provide a status update on this issue and check if it persists? @khsbory  @feerrenrut  @josephsl

[2020-07-09 03:15] bhavyashah commented on #5964
@josephsl With reference to https://github.com/nvaccess/nvda/issues/5964#issuecomment-389731723, did this issue get taken care of by the screen reader promotion and development project you were referring to? My understanding of this issue is very limited, but it seems from https://github.com/nvaccess/nvda/issues/5964#issuecomment-220636018 and from https://github.com/nvaccess/nvda/issues/5964#issu

[2020-07-09 03:39] josephsl commented on #5964
Hi, I’m no longer in charge of NVDA promotion and development in Korea, as I have moved on from active translations work. Thanks.

From: bhavyashah <notifications@github.com>
Sent: Wednesday, July 8, 2020 8:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] One request: regarding input comp

[2020-07-09 06:02] leonardder commented on #11354
What value do you have selected for Attempt to cancel speech for expired focus events?

[2020-07-09 06:05] leonardder opened #11361 "Attempt to cancel speech for expired focus events: Title of NVDA Settings dialog omited"
### Steps to reproduce:
1. Enable `Attempt to cancel speech for expired focus events`
2. Open the NVDA Settings dialog:

### Actual behavior:
NVDA announces: Categories:  list General  1 of 16

### Expected behavior:
NVDA announces: NVDA Settings: General (normal configuration)  dialog Categories:  list General  1 of 16

### System configuration
#### NVDA installed/portable/running from source:
In

[2020-07-09 06:06] leonardder commented on #11361
cc @feerrenrut

[2020-07-09 07:18] JulienCochuyt commented on #11350
Actually, the current voice selection control is a drop-down list.
These are often confused with combo boxes because they might look the same until focused, and also because many graphical frameworks - including wx - implement them as a styling applied on combo boxes rather t

[2020-07-09 07:20] MarcoZehe commented on #11354
It's set to "Yes". And together with that other setting, selective focus events, it seems to trigger this bug.

[2020-07-09 07:54] CyrilleB79 commented on #10946
I can still reproduce the issue with:
* eSpeak, rate 100, rate boost on
* performing sayAll on [this page](https://www.nvaccess.org/files/nvda/documentation/userGuide.html)
* using only right shift key (6-8 times per second)
* NVDA 2020.2beta2
* Firefox 78.0.1 (64 bits)
* Windows 10 1809

@bhavyashah do you confirm that you have tried with eSpeak, rate 100, rate boost on? Can you try on the same w

[2020-07-09 08:31] leonardder commented on #11354
So either when you disable one or the other, the bug is gone? That's rather weird. As you noted correctly, there is or should be no UIA involved in FireFox at all.

[2020-07-09 08:36] leonardder commented on #11354
Hmm. Even when I disable both selective UIA event registration and cancellable speech, I can reproduce this on my system. I can, for example, reproduce it 80% of the time in the languages submenu of the text area context menu.
I have the feeling that this is more like a timing issue, and that disabling selective UIA event registration makes this more prevalent on your system as the NVDA core is le

[2020-07-09 08:44] feerrenrut commented on #11361
I think this is a duplicate of #11144 (Attempt to cancel speech for expired focus events: dialog title discarded when finding text in browse mode). This issue causes system tests to fail an is currently blocking PR #11266 (Enable cancellable speech by default).

[2020-07-09 08:46] MarcoZehe commented on #11354
Correct. But I only tried the latter, the cancellable speech setting, after you pointed me to it. I had set it to Yes a while ago to run with it to see if I spotted something weird. Yesterday, I reproduced this only by enabling or disabling selective UIA event registration. My machine is a 2017 Dell XPS15-9560, a 7th Generation Intel Core I7 quad-core processor with an SSD and plenty of RAM. So a

[2020-07-09 09:01] bhavyashah commented on #10946
I can now confirm this issue with the said webpage, browser, and NVDA version. I first had to disable the Sticky Keys (press Shift key 5 times) setting. Then, I went on the linked page, started a say all, and kept pressing and releasing the right Shift key multiple times each second. After 15 seconds or so, the say all ceased to resume. I tried this again and was able to reproduce the issue quicke

[2020-07-09 09:15] leonardder commented on #11361
Ah, I'm sorry. I thought #11144 was supposed to be fixed, that's why I opened a new issue.

[2020-07-09 09:15] #11361 closed

[2020-07-09 09:18] feerrenrut commented on #11361
I have cleared the milestone on #11144 to help clarify.

[2020-07-09 09:27] bhavyashah commented on #8955
For reference, https://github.com/nvaccess/nvda/issues/8955#issuecomment-624110782 gives the clearest explanation of this request. A couple thoughts below:
1. I agree that, in case of a say all, this would be quite useful. This would only be an incremental change here because the focus already moves to the beginning of each new line that say all reaches, and this would now change to keeping up wit

[2020-07-09 09:52] bhavyashah commented on #8711
I quite like this suggestion. I can certainly imagine a new user arduously combing through all the NVDA settings categories in search of that one option to toggle a certain sound on or off. A few thoughts below:
* I propose calling this category "Sound" as opposed to "Audio." This is because the latter, at least to me, seems to cover speech synthesis too, whereas this settings category is specific

[2020-07-09 10:00] bhavyashah commented on #7769
@Adriani90  You recommended in https://github.com/nvaccess/nvda/issues/7769#issuecomment-453747579 that @jmuheim  try increasing their buffer. Could you please provide instructions as to how that can be done?

[2020-07-09 10:13] JulienCochuyt commented on #8801
As mentioned by @XLTechie in https://github.com/nvaccess/nvda/issues/11355#issuecomment-655637201, an approach to this problem might be a gesture that cycles through the available output devices.

To circumvent the risk mentioned by @Adriani90 in https://github.com/nvaccess/nvda/issues/8801#issuecomment-626252087, a confirmation prompt with timeout could be implemented à la `windows+P` with a beha

[2020-07-09 11:07] bhavyashah commented on #6427
@feerrenrut Could you please share the current official position of NV Access on this issue? There seems to be some disagreement on whether this should be an add-on or be integrated in core, the design of the implementation in terms of turning speech mode to off or exitting NVDA entirely, similarity to #3049 , etc.

[2020-07-09 11:13] bhavyashah commented on #1409
If #8711  gets implemented first, I propose including the sound volume adjustment options requested in this ticket in the Sound Settinggs dialog as opposed to elsewhere in NVDA's Settings.

[2020-07-09 11:28] bhavyashah commented on #5071
@derekriemer  This is a friendly reminder to consider responding to https://github.com/nvaccess/nvda/issues/5071#issuecomment-458338454.
@Qchristensen  Could you please share your thoughts on mentioning the existence of the Word and Excel training material under their respective User Guide sections?

[2020-07-09 11:31] bhavyashah commented on #4697
CC one of our resident European users @Adriani90

[2020-07-09 11:38] CyrilleB79 commented on #10946
On the contrary, it seems to me that the error cause sayAll not to resume properly.

Here is a slightly different STR procedure to prove this:
* Select eSpeak synth
* Open [this webpage](https://www.nvaccess.org/files/nvda/documentation/userGuide.html)
* Select rate=100% and rate boost on, e.g. with synth ring
* Start reading with SayAll (NVDA+DownArrow)
• During SayAll, every second, double-press

[2020-07-09 12:29] lijianwei2019 commented on #8801
Is there any neprogress on this issue?

[2020-07-09 12:29] bhavyashah commented on #189
I beg to differ with https://github.com/nvaccess/nvda/issues/189#issuecomment-511631899. I think the User Guide, even in its current state, does go above and beyond listing the names and locations of settings and keyboard shortcuts. Albeit briefly, it explains, among many other thins, what each NVDA setting does and how each NVDA feature works. But even if you dispute this characterization of the

[2020-07-09 12:35] man0528 commented on #8801
Can switching output devices be disabled in the portable version,In order to avoid a series of problems caused by different environment,

[2020-07-09 12:39] man0528 commented on #8801
I think it is necessary to use shortcut keys to switch output devices.In fact, someone has already implemented this function through Addon.

[2020-07-09 13:00] JulienCochuyt commented on #8801
@man0528 wrote:

What kind of problem do you anticipate with different environments with portable version?

[2020-07-09 13:03] XLTechie commented on #8801
man0528 wrote:

No. What are the problems?
Why do they effect only a portable version rather than an installed version?

[2020-07-09 13:27] bhavyashah commented on #3113
I am not sure why it is useful to show alerts and warnings about empty and non-empty folders which may or may not contain NVDA.exe and related files to address this issue. I think just creating an NVDA Portable Copy folder in the selected directory path which folder would contain all the portable copy files is a clear-cut and user-friendly solution. I think creating an NVDA.exe shortcut in the cho

[2020-07-09 13:28] ObjectInSpace commented on #8210
Docs is not my PA.

[2020-07-09 13:58] kensgists opened #11362 "Enabling Focus Highlighting causes sluggishness when using NVDA with USB-attached monitor"
When turning on focus highlighting with an external monitor attached, all mouse cursor movement and interaction is sluggish. Problem does not occur when monitor is not attached. Monitor is attached in configuration in which my desktop is extended from the laptop onto the external monitor.

### Steps to reproduce:
* Attach laptop via USB-C to external display monitor
* Set secondary display so that

[2020-07-09 14:54] XLTechie commented on #3113
I think you may not be fully considering the use case in this situation.

It's a portable. In part intended to be used on machines that don't otherwise
include a screen reader.
Therefore, going through files and directories to find NVDA's executable, may
not be so easy on those systems. It is sometimes far easier to use Windows+r,
then f:\nvda, enter, to get it started.
Easier to try a few differe

[2020-07-09 15:04] kayatli commented on #6459
This is still an issue with NVDA 2020.2 Beta2 with Office 365. Wonder if this issue along with other issues referenced in previous comments may be related to #10589 although that deals with extraneous info whereas this is not reading any items in a dropdown.

[2020-07-09 15:11] CyrilleB79 opened #11363 "Excel - With some synth/languages the address and content of a selected range is not read correctly"
### Steps to reproduce:

* Set eSpeak in French
* Open Excel
* In cell A1 enter 111 and in cell A2 enter 333
* Select the range from A1 to A2

### Actual behavior:

NVDA reads:
"de A1 111 à A2 333  sélectionné"
I.e., fully writing the digits with letters:
"de A mille cent-onze à A deux mille trois cent trente-trois sélectionné"

The synthesizer combines the 1 from "A1" with the value "111" to read

[2020-07-09 16:16] AKJ commented on #11347
Okay, tried a few more things. The tl;dr is that I think this may be a problem with my installation or version of Firefox (78.0.2). Running NVDA in English.

- Choosing "open" after downloading from Firefox triggers the error.
- Activating the addon from the "library" view (accesible with CTRL+J) triggers the error.
- Activating the addon directly from the %tmp% folder does not trigger the error.

[2020-07-09 16:21] josephsl commented on #11347
Hi, can you tell us what add-on you were trying to install? That way we can figure out if it is indeed FF or something going on with add-on file host. Thanks.

From: Andrew Johnson <notifications@github.com>
Sent: Thursday, July 9, 2020 9:17 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Unable to Install Addons in Nvda 20

[2020-07-09 16:25] AKJ commented on #11347
I tried with several addons from the [NVDA addons](https://addons.nvda-project.org/) page including [Kill NVDA](https://addons.nvda-project.org/addons/killNVDA.en.html), [Phonetic Punctuation](https://addons.nvda-project.org/addons/phoneticPunctuation.en.html), and even [Windows 10 App Essentials]9https://addons.nvda-project.org/addons/wintenApps.en.html).

[2020-07-09 16:27] aleventhal commented on #8210
Hi @bhavyashah, as @ObjectInSpace mentioned, what is shown on the screen is displayed in a way that isn't accessible to screen readers. In order to enable screen reader support, there are 2 accessibility modes:
- In non-Braille mode, a live region used for announcements. Because there is no position within a normal editor DOM, a screen readers "say all" feature would not work.
- In Braille mode, a

[2020-07-09 16:29] josephsl commented on #11347
Hi, I see. If you haven’t, can you try downloading and installing these add-ons with another browser, say Chrome? Thanks.

From: Andrew Johnson <notifications@github.com>
Sent: Thursday, July 9, 2020 9:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Unable to Install Addons in Nvda 2020.

[2020-07-09 17:07] PatrickMis commented on #9359
Problem appears also on Windows 10 version 1909 with NVDA 2020.1 but I managed to reproduce it only on one machine from over 20 I used.
Moreover, this problem is also applicable to Chrome, Edge and IE too. Here is an example log:
[code]

[2020-07-09 17:07] leonardder commented on #11362
The highlighter is a window that continuously refreshes itself and forces itself on top of all other windows. If there is a bit of latency involved with drawing the screen, I think this is expected behavior.
Would you by any chance be able to test this with NVDA 2019.2 and the Focus Highlight add-on?

[2020-07-09 20:12] elliott94 commented on #7460
At the time of the opening of this issue, I believe there was a button present on a page which redirected from HTTPS to HTTP, resulting in this error. Happy to close for now... unless I can find the page again! :)

[2020-07-09 20:12] #7460 closed

[2020-07-09 22:12] Adriani90 commented on #11360
These issues are already covered in #3656 (speech dictionaries), #8123 (input gestures), #3721 (sleep mode) and discussions for symbol pronounciation in #10972.
This being said, I am closing this issue as duplicate.

[2020-07-09 22:12] #11360 closed

[2020-07-09 23:06] Adriani90 commented on #9359
This is the only error I can see here:

[code]

It seems something fails in the sayall handler when reading a webpage atomatically after page load is enabled in browse mode settings.
cc: @michaelDCurran

[2020-07-10 08:18] PatrickMis commented on #9359
What's interesting - that I'm unable to read and navigate most of the pages in all browsers on this machine, even when configuration was reset, turned off antiviruses and even reinstalling NVDA (clean install). Seeing that it seams to be the system error, I've also tried running Firefox/Chrome/NVDA as administrator - stille the same.

[2020-07-10 08:56] CyrilleB79 opened #11365 "In checkable list view, the checked/unchecked status of an item should be reported after the first column"
### Steps to reproduce:

* Check out an SVN repo (e.g. screenreadertranslation) in your Windows Explorer
* Modify some files
* Right clic on the repo's folder and select "SVN commit"
* In the commit window  tab to the files list
* In the files list, go up and down with arrows

### Actual behavior:

The whole line is read (from first to last column) and then the status checked or unchecked is repor

[2020-07-10 10:32] ivnc commented on #10767
Update: the documented procedure for updating gestures.ini doesn't seem to work. although @jmdaweb reported that the file was updated to fix this, I can't see the change on this repository, when the theory says that that file should have been synced, at least, two times in its last version.
CC @josephsl

Regards.

[2020-07-10 10:35] ivnc commented on #10767
Sorry, I was wrong, the correct file appeared at the beta branch. I was checking in master.

[2020-07-10 11:17] CyrilleB79 opened #11366 "Excel - Listing the comments in the current sheet fails"
### Steps to reproduce:

* Open a new Excel document
* In cell A1, press shift+F2, enter a dummy comment and validate
* In cell A3, press shift+F2, enter a dummy comment and validate
* Press NVDA+F7 to open the element list dialog.
* shift+tab to turn back to radio buttons indicating the element type
* Press right or left arrow to land on the comment radio button
* press tab to go to the comments

[2020-07-10 12:18] lukaszgo1 commented on #11155
@leonardder  Ping

[2020-07-10 12:24] lukaszgo1 commented on #11365
It is important not to reintroduce another issue that #8857 fixed namely having the rest of the columns read only if people have reporting of descriptions  enabled - this would be  inconsistent with other list views and was also quite confusing for beginners. Would it be acceptable - instead of having the states reported after the first column - having them reported at the beginning of the item -

[2020-07-10 13:38] CyrilleB79 commented on #11365
@lukaszgo1 wrote:

Yes, both solutions would be acceptable:
* checked state, then first column content then other columns content
* first column content then checked state then other columns content
The main idea here is that the checked state and the first column content are the main information and thus should be reported first.

@lukaszgo1 what do you think of IAccessible reporting the last col

[2020-07-10 13:45] CyrilleB79 commented on #4494
Seems a duplicate of #6269

[2020-07-10 14:08] Adriani90 commented on #9359
@PatrickMis the debut warning is not an error, is just a warning and does not have any significant impact. I see that also when no errors are raised.

Did you try to run the com registration fixing tool in NVDA menu / tools submenu?

[2020-07-10 14:13] Adriani90 commented on #4494
Thanks for picking this @CyrilleB79. I am closing this one as duplicate.

[2020-07-10 14:13] #4494 closed

[2020-07-10 14:15] Adriani90 commented on #6269
One shortcut should also be announced, ctrl+q which removes the paragraph formatting.

[2020-07-10 14:30] oleh-momot commented on #2442
You can fix it if you will add `display=none` before to add your alert node to DOM
Then when you added the alert node you need to add content to this node and set `display=block`
It works on IE and other browsers too

[2020-07-10 14:35] lukaszgo1 commented on #11365
I haven't disabled reporting of descriptions personally, however many people complained about this when checkable lists were introduced and only the first column was reported for them.

[2020-07-11 01:08] DrSooom commented on #11365
IMHO the end users should be able to configure this. Depending on the situations and their preferences, both options are required and should be implemented.

[2020-07-11 07:24] leonardder commented on #11365
@DrSooom your suggestion is filed in #7232.
Currently, the order of object properties is static. There is also a difference between focus and browse mode, and that's what makes this so hard to do right.

[2020-07-11 15:24] AKJ commented on #11347
Can confirm that this issue only occurs in Firefox. I only tested with 78.0.2.

[2020-07-11 22:26] Qchristensen commented on #10451
This is also a problem for languages where OneCore does not have a voice, such as Ukranian, as reported to me by a user.  They didn't send me a log, but if we can't load the chosen OneCore voice for whatever reason, we should drop back to eSpeak-NG.  Theoretically, we could potentially fall back to another installed OneCore voice on the basis that if a user has installed a voice they likely speak

[2020-07-11 23:28] DrSooom commented on #10009
See also: issue #11219
CC: @jcsteh

[2020-07-11 23:34] DrSooom commented on #11347
@AKJ: Could you please try to reproduce this with [Firefox Portable](https://portableapps.com/apps/internet/firefox_portable) as well? Thanks.

[2020-07-12 01:19] christopherpross opened #11367 "nvda crash scroll fast in long text in editor or wordpad"
### Steps to reproduce:
- the issue is present in the latest alpha, beta and the current stable version of nvda.
- I tried to find a text or file, where I can reproduce the issue every time, I found it. Some other texts with same length, produces no crashes. so please first try to use my sample
- download [this file](http://aiweb.cs.washington.edu/research/projects/xmltk/xmldata/data/auctions/321g

[2020-07-12 01:25] josephsl commented on #11367
Hi, does this happen if no braille display is active? I doubt that, but given that this is a recursion error, chances are that there might be a dependency issue with a call chain. Thanks.

From: Christopher Proß <notifications@github.com>
Sent: Saturday, July 11, 2020 6:20 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] nvda cr

[2020-07-12 01:31] christopherpross commented on #11367
@josephsl Hey, I have here standard a braille display active, focus 40 blue. I had now tested to unplug the display, it is also happen, no diffenrences.

[2020-07-12 01:34] josephsl commented on #11367
Hi, thought so, looks like a recursive function call chain (it isn’t really NVDA crashing; it is Python interpreter as it ran out of stack space and recursion limit). Thanks.

From: Christopher Proß <notifications@github.com>
Sent: Saturday, July 11, 2020 6:32 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-07-12 11:23] nvdaes commented on #11302
Unfortunately, though I addressed this locally with an app module, this causes that the state of buttons (pressed or not pressed) is not announced, which is more important than this.
There is another issue with thorium panels with NVDA: when reading a book and pressing 'windows+m', then alt tab, a panel is shown, not the document.
All this can be fixed maximizing the window. Also, the issue descri

[2020-07-12 11:26] nvdaes commented on #11302
Fixing myself:
/cc: @danielweck

2020-07-12 13:24 GMT+02:00, nvdaes <notifications@github.com>:

[2020-07-12 22:43] jcsteh commented on #10009
This was fixed in Firefox 75.

[2020-07-12 22:43] #10009 closed

[2020-07-12 22:45] Mohamed00 opened #11368 "Option to turn on or off mixed case processing"
### Is your feature request related to a problem? Please describe.
NVDA currently breaks apart words that have mixed case, for example synthDriverHandler. while this is useful in most cases as many synths don't separate mixed case words very well, it also can cause issues in certain cases, such as names that start with Mc, for example McAdam, or all caps words that end in an s, for example CEOs. W

[2020-07-13 00:57] michaelDCurran opened #11369 "NVDA may sometimes freeze within Queue.put"
### Steps to reproduce:
#### Case 1
1. Configure NVDA to use a braille display, or open NVDA's Braille Viewer from the Tools menu.
2. Open a new document in Microsoft Word.
3. Keep typing random text rather fast with lots of spaces such that the words are all spelling errors.
### Actual behavior:
NVDA eventually freezes.

### Expected behavior:
NVDA should not freeze.

### technical info
It seems

[2020-07-13 00:58] michaelDCurran commented on #11369
A possibly related stack emailed by a user, generated when using Microsoft Word with a Focus braille display:
[code]

[2020-07-13 02:03] michaelDCurran commented on #11247
@rperez030 Do you have any add-ons in use? If so, does the issue go away with all add-ons disabled?

Another concerning part of the log is:
[code]

[2020-07-13 02:09] michaelDCurran commented on #11089
@MarioBatusic  Could you please state your exact Office version? You can find this in Microsoft Word under File -> Account -> About Microsoft Word.
Something like 16.0.12827.2003.

I think all the issues you have listed related to UI Automation are simply bugs in Microsoft Word that were addressed in later versions. Thus even if we do turn this on by default, it wouldn't be for a version this old.

[2020-07-13 05:15] DrSooom commented on #11369
Maybe related: issue #11191 and #11367.

[2020-07-13 05:30] michaelDCurran commented on #11369
No sorry, neither of them are related to queues. Although they are still significant and will be looked into as we track down freezes.

[2020-07-13 06:04] leonardder opened #11370 "Error on Edge Chromium address bar with braille enabled."
### Steps to reproduce:
1. Open Microsoft Edge (Chromium)
2. Open a new window (ctrl+n)
3. Focus the address bar with alt+d

### Actual behavior:
An error is raised:

[code]

### Expected behavior:
No error, as without braille.

### System configuration
#### NVDA installed/portable/running from source:
Installed

#### NVDA version:
alpha-20514

#### Windows version:
Windows 10 2004

#### Name and

[2020-07-13 06:43] Andre9642 commented on #11370
Duplicate of #10980

[2020-07-13 06:53] JulienCochuyt commented on #11370
@leonardder, can you confirm that you only reproduce with an empty address bar, as in #10980?

This RuntimeError is raised by NVDA after catching a COMError when attempting to clone the range object.
This was introduced as of 59de1dcbcb by @michaelDCurran for #7997 with the following comment:

Could you please reproduce with debugwarning log level so that the original COMError gets logged? - In ca

[2020-07-13 09:26] leonardder commented on #11370
Closing as duplicate.

[2020-07-13 09:26] #11370 closed

[2020-07-13 09:28] leonardder commented on #11370
@JulienCochuyt the original com error was part of the log, but just for completeness:

[code]

Let's continue the discussion in #10980. This is also one of the major issues #11079 suffers from, actually.

[2020-07-13 09:41] mayson199514 commented on #10745
Hello, I have actually seen this issue pop up on discords end as well! ware it happens most is when adding a user or if someone adds you from a discord server. I hope this issue can be solved soon. I actually have to quit nvda and switch to jaws temporarily just so I can see who I'm actually adding or chatting. with. witch is very inconvenient.

[2020-07-13 09:41] JulienCochuyt commented on #11370
@leonardder wrote:

Oops! You're right. Sorry for that. Seems I've read it too quickly.

[2020-07-13 12:12] man0528 commented on #8801
@JulienCochuyt
@XLTechie

Oh, My thinking may be superfluous,
This is only necessary if assigning shortcut keys will cause security risks.

[2020-07-13 12:21] lijianwei2019 commented on #8801
@feerrenrut
What does nvaccess think about this issue?

[2020-07-13 17:08] #11349 closed

[2020-07-13 17:39] #8438 closed

[2020-07-13 19:21] corinagum opened #11372 "NVDA does not speak emoji name with Speak Typed Words enabled"
### Related issue:

https://github.com/nvaccess/nvda/issues/9120
I am filing this as a separate issue because the above reads a number, while the bug I am seeing in Chrome is that the emoji is not read aloud.

### Testing
This feature works as expected when using Chrome/Narrator
### Steps to reproduce:
1. (Turn on NVDA with Speak Typed Words setting enabled)
1. Open [codepen](https://codepen.io/co

[2020-07-13 19:31] corinagum commented on #11372
Tracked behavior:

|                 | Chrome/NVDA | Edge/Narrator | Chrome/Narrator |                                         |
|-----------------|-------------|---------------|-----------------|-----------------------------------------|
| hi              | ❌           | ❌             | ❌               |                                         |
| hi[space]       | ✔           | ✔             | ✔

[2020-07-13 21:12] Adriani90 commented on #8801
@man0528 I don't understand. What kind of security issues do you have in mind? I don't see any security issues by assigned input gestures. Note that logging can be disabled completely in NVDA.

[2020-07-13 21:16] Adriani90 commented on #11302
@nvdaes what part of the issue remains to be solved in NVDA? Please give an update so that we can continue discussion on this further. Are you planning to raise a PR with NVDA? Or are you contributing to Thorium directly to solve this?

[2020-07-13 21:19] Adriani90 commented on #10745
cc: @jcsteh, @derekriemer

[2020-07-14 04:36] Qchristensen commented on #5071
Thanks @bhavyashah, yes I definitely agree including a mention to the training modules is definitely worthwhile

My suggestions would be:

- Mention "Basic Training with NVDA" either in Section 1. Introduction, or Section 4, Getting Started with NVDA.
- Mention the Word / Excel / PowerPoint (shortly) in the relevant parts of section 11. Application Specific Features.

[2020-07-14 04:54] Qchristensen commented on #189
Sorry, I wasn't trying to argue against including a glossary of terms - I do think it's a good idea!  One tricky part is working out where to include such a glossary, and when to link to it vs linking to a section of the user guide.  For instance, from the original issue, "IAccessible2" and "Extended insert" are both good candidates for a glossary definition.  Something like Object Presentation (O

[2020-07-14 05:24] nvdaes commented on #11302
Ideally, the isues described here should be fixed if possible.
Otherwise, we could document in the community wiki how users can
workaround to solve this manually, that is, maximizing the window.
I have cloned both NVDA and Thorium source code trying to find a
solution modifying both projects, and if I find a way to fix this, I
would raise a PR in any of them.
Anyway, maybe better to fix it via an

[2020-07-14 05:34] dingpengyu commented on #9524
hello
Is anyone following up on the current issue?

[2020-07-14 12:01] mayson199514 opened #11375 "microsoft edge freezing on undead-assault.com with nvda"
Microsoft edge based on chromium keeps freezing with nvda when going to undead-assault.com's download page to download the game.
[nvda.log](https://github.com/nvaccess/nvda/files/4924462/nvda.log)

###  steps to reproduce. 1. go to the new microsoft edge. 2. go to undead-assault.com. 3. on the top of the page, their is a button that says, open menu. 4. click that button. Nvda will say Expanded. th

[2020-07-14 15:51] Brian1Gaff commented on #11375
Have you got a link that will work to the page?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "mayson199514" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subsc

[2020-07-14 16:25] Andre9642 commented on #11249
Fixed in Microsoft Edge 86.0.576.0.

[2020-07-14 16:25] #11249 closed

[2020-07-14 17:25] davidacm commented on #10599
Can someone confirm if this happens on firefox 78.0.2 with NVDA 2020.1?

Before test it, please disable all UIA options available in advanced category on NVDA's options.

[2020-07-14 20:32] mayson199514 commented on #11375
Hello, I should have clarified, this is with the new Microsoft edge based of Chromium. and now hear is the link to the direct page: http://undead-assault.com/download

[2020-07-14 20:36] mayson199514 commented on #11375
Okay so I just tried it out chromium edge does not freeze Nvda if you go directly to it, but if you navigate to it from the home page by hitting that menu button to expand the menu, then navigate to the download link, that is will crash nvda.

[2020-07-15 04:28] MdAmeerMind opened #11378 "Office UI Fabric - Callout - FocusTrapZone - NVDA - Read content only 1 st time of focus"
### Environment Information

- **Browser and OS versions**: Chrome + NVDA

### Describe the issue:
In callout we have use FocusTrapZone to trap focus, So content inside call out are read out by NVDA only when focus inner part first time. If we focus on link using tab it read aria label provided to link first time, again press tab focus goes to outer part again but narrator not read anything.

###

[2020-07-15 05:07] man0528 commented on #8850
I am very concerned about the progress of this Issue.
Microsoft does provide keyboard shortcuts to navigate between notebooks, sections and pages.
However, browsing mode support is still needed when reading the main content.
EG: Table navigation; Navigate to the title; Navigate to an image...

[2020-07-15 05:29] Qchristensen commented on #6553
Just had another request for this, and on the arrow keys point, they mentioned that they initially put speak command keys on, but then turned it off again primarily because of the arrow keys being announced - and they discovered they press arrow keys a lot more than they would have initially thought.

[2020-07-15 06:00] JulienCochuyt commented on #11375
@mayson199514, could you please try to post a log of the crash?
The file can usually be found at `%TEMP%\nvda.log`
The most informative log for us can be obtained by setting debug log level, disabling all add-ons, restarting NVDA, and then go straight ahead to reproducing the issue with as few steps as possible.

By the way, please note the "Bug report" issue template you chose not to fill also pr

[2020-07-15 08:27] #11254 closed

[2020-07-15 08:50] bingen13 opened #11379 "Can't open some links on Firefox including Google search results"
### Steps to reproduce:

Open a page that has links with an empty href attribute, such as google.com - perform a search and use h to navigate by headers to one of the results - press enter or space to try to open the link.

### Actual behavior:

Nothing happens (that is, the link does not open).

The link shows on Braille as clk and speech as clickable, but neither lnk/vlnk is announced or braille

[2020-07-15 12:30] ShubhamJain7 opened #11380 "Validating navigator object before content recog"
### Is your feature request related to a problem? Please describe.
`contentRecog.ContentRecognizer` is an abstract class that can be used to define a content recognizer. A `recognizer` object derived from it can be passed to `contentRecog.recogUI.recognizeNavigatorObject` to perform content recognition on the currently focused navigator object using the `recognizer`. However, `contentRecog.recogUI

[2020-07-15 13:19] mayson199514 commented on #11375
Hello I just redead the issue and attached the log file. let me know if this is ok!

[2020-07-15 15:11] feerrenrut commented on #11339
Another example: https://ci.appveyor.com/project/NVAccess/nvda/builds/34111456/artifacts

[2020-07-15 17:50] ultrasound1372 opened #11383 "NVDA spuriously announces baseline when told to read superscripts and subscripts when reading webpages"
### Steps to reproduce:
Go to a page that chains up links on a line, or that if arrowing down you will encounter a place with a link and then text. For example [the Wikipedia page on electricity](https://en.wikipedia.org/wiki/Electricity), which along with the possible donate header has a series of graphic links at the top denoting that it is a good article and that it is semi-protected.
### Actua

[2020-07-15 17:59] ultrasound1372 commented on #11383
Updated to the release candidate, behavior is not changed. This is actually quite aggressive, as even if I take graphic links out of the picture and just work with links and maybe some text, this still happens, even on multiple chunks of text put in with no links in between. For example the text that says when I opened this issue is read like "visited  link    ultrasound1372  baseline   opened thi

[2020-07-15 18:24] mayson199514 commented on #11375
Hopefully the issue looks propper now.

[2020-07-15 18:35] Adriani90 commented on #11383
Closing as duplicate of #11078.

[2020-07-15 18:35] #11383 closed

[2020-07-15 18:38] Adriani90 commented on #11379
@bingen13 did you run the COM registration fixing tool? Is the issue still occuring?

Also please try to disable screen layout in browse mode settings or by pressing nvda+v when you are in browse mode.

[2020-07-15 19:00] Adriani90 commented on #8507
This works as expected now with NVDA 2020.2 RC1 and IE Version: 11.329.19041.0.
I don't see major differences between browsers. Readme please is read properly when navigating with tab or shift+tab in every browser within the myapp frame.
You defined the focus to be called on myapp frame, and the div ID is Myapp. So NVDA gathers this information and announces the frame label in the div. This is exp

[2020-07-15 19:01] Adriani90 commented on #7198
cc: @feerrenrut

[2020-07-15 19:04] Adriani90 commented on #7198
This might be closely related to #6606.

[2020-07-15 19:05] Adriani90 commented on #11378
I think this is a duplicate of #6627. @JulienCochuyt what do you think?

[2020-07-15 19:11] Adriani90 commented on #11375
I can reprotuce this issue with the last alpha and the newest Edge Chromium stable version. Here is the most important part of the log:

[code]

[2020-07-15 19:13] Adriani90 commented on #11375
@mayson199514 could you please test this with NVDA 2020.1 stable version? Is the issue still occuring there?

[2020-07-15 19:24] Adriani90 commented on #11347
@AKJ I think this might be a certificate issue on your side. Could you please try to re install Firefox, or to clean your firefox cache?

[2020-07-15 19:25] mayson199514 commented on #11375
Hello, just tested it with stable, and issue still happens their as well.

[2020-07-15 20:05] lukaszgo1 commented on #11347
I don't think so - it is also reproducible for me.

[2020-07-15 20:16] munawarb opened #11385 "Ability to turn off Zoom alerts"
### Is your feature request related to a problem? Please describe.
Yes. There is no way to turn off meeting join and leave alerts.
### Describe the solution you'd like
A hotkey to turn on and off Zoom meeting join and leave alerts.
### Describe alternatives you've considered
Temporarily toggling speech to off using NVDA+S. But this doesn't work when conducting a presentation when speech should be

[2020-07-15 20:18] josephsl commented on #11385
CC @DerekRiemer

From: Munawar Bijani <notifications@github.com>
Sent: Wednesday, July 15, 2020 1:16 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Ability to turn off Zoom alerts (#11385)

Is your feature request related to a problem? Please describe.

Yes. There is no way to turn off meeting join and leave alerts.

Describe

[2020-07-15 20:18] lukaszgo1 commented on #11155
@jmdaweb @ivnc Could you please test with [this build](https://ci.appveyor.com/api/buildjobs/m2sc98go0i3aomie/artifacts/output%2Fnvda_snapshot_pr11384-20547%2Cfa7dddac.exe),  perhaps pass it to the Aragonese translator if that  is not too much trouble, and confirm that the issue is fixed for you?

[2020-07-15 20:25] bingen13 commented on #11379
Ok, inexplicably this has stopped happening by itself. I don't understand what happened, but whatever it is, it's fixed now. 😕

[2020-07-15 22:06] #11363 closed

[2020-07-15 22:24] ultrasound1372 commented on #11078
Glad I'm not the first to report the issue just referenced, but check there for a good example and breakdown of the behavior. Discussion should continue here though.

[2020-07-16 06:15] Qchristensen commented on #10216
Did this fix ever get merged into a release?  The associated PR was merged aiming for 2019.3, but the dialog appears exactly the same as my original screenshot in 2019.3, 2020.1 and 2020.2 beta2.

[2020-07-16 06:37] JulienCochuyt commented on #6627
To my understanding, this issue is not specific to aria-label, nor is it to buttons.
NVDA remains silent when tabbing from the div to its first focusable child if they are at the same offset of the virtual buffer.
It does not announce the aria-label, but neither does it announce role, title or value.
In the third example provided, the simplest, adding text inside the div before the button demonstr

[2020-07-16 06:59] JulienCochuyt commented on #11378
@Adriani90: Unlike #6627, adding content to change offsets does not solve the issue.

By the way @MdAmeerMind, what is the intent in assigning the presentation role to a focusable div? AT should ignore presentation but report controls... hence this looks conflicting IMHO. It does not affect the issue you are reporting here, though.

[2020-07-16 07:00] Afik-souffir998 opened #11386 "problems with braille on NVDA 2020.2 rc 1"
### Steps to reproduce: upgrade to 2020.2 rc1 with braille display connected.
explore with the program for example in an email. you'll see at some points, thats the braille is gone, espcially with links.

### Actual behavior: braille is gone in email messages, word documents  and more.
i just see a cursor.

### Expected behavior: braille have to shows all types of information.

### System configur

[2020-07-16 07:02] zstanecic commented on #11386
Shalom,

You haven’t answered to all questions in the template.

Can you provid logs and clarify more?

Are you using some addons?

From: Afik Souffir <notifications@github.com>
Sent: Thursday, July 16, 2020 9:00 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] problems with braille on NVDA 2020.2 rc 1 (#11386)

Steps to reprodu

[2020-07-16 07:08] MdAmeerMind commented on #11378
Hi @JulienCochuyt , Thank you for your response. I have removed role as presentation from focusable div and tried, still the same issue. Yes it does not affect issue I am reporting

[2020-07-16 07:17] Afik-souffir998 commented on #11386
How do I provide logs?

And yes, I'm using braille extender.

Afik.

Cordialement,

Afik Souffir

Portable: 0505782208
Addresse email
Afik.souffir@outlook.com<mailto:Afik.souffir@outlook.com>

From: zstanecic <notifications@github.com>
Sent: Thursday, July 16, 2020 10:03 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Afik Souffir <afik.souffir@outlook.com>; Author <author@noreply.github.com>
S

[2020-07-16 08:03] jmdaweb commented on #11155
Hi,
The aragonese translator confirms the custom build works as expected.
Regards.

[2020-07-16 08:09] jurokapsiar commented on #10677
This does not seem to be valid anymore. I cannot reproduce it with NVDA 2020.1 and Chrome Version 83.0.4103.116 (Official Build) (32-bit).

https://codesandbox.io/s/laughing-elgamal-dg6mp?file=/example.js - clicking on the button causes NVDA to read the live narration correctly.

[2020-07-16 08:18] JulienCochuyt commented on #10216
@Qchristensen wrote:

The fix is indeed merged as of 2019.2.1 onward.
Still, it looks not effective at higher scaling settings.

[2020-07-16 08:33] PavelKushnirchuk opened #11387 "Context menu items are not marked as selected by keys"
### Steps to reproduce:
1. Open Google Chrome
2. Go to https://stackblitz.com/edit/angular-ivy-brnrvq
3. Click right mouse button on any cell of the grid to show context menu
4. Press "Down" key to navigate to context menu item.
### Actual behavior:
Menu item is not marked as selected with blue background
### Expected behavior:
Menu item is marked as selected  with blue background
### System confi

[2020-07-16 10:15] feerrenrut commented on #11383
Just to confirm, if you disable the superscripts and subscripts in the document formatting panel of NVDA settings, then "baseline" is no longer reported.

[2020-07-16 10:18] CyrilleB79 opened #11388 "NVDA spells the current line even if the user did not perform a double keypress"
### Steps to reproduce:

* Open windows Notepad
* Type the following text in the notepad:

* Press Ctrl+F and search for the word 'world'
* When the first occurance is found, press Escape to close the 'Find' window
* Press Ctrl+Home to turn back to the start of the document
* Press quickly the 4 following keystrokes to find the second occurrence of the word 'world' and read the line where it is lo

[2020-07-16 12:35] rhdunn commented on #10607
@zstanecic There were several issues (crashes) after introducing emoji support due to the complexity of the espeak internals and making any changes/improvements to the codebase. Those have been fixed, and a test suite has been added to detect issues like this and regressions in the voices going forward.

I don't believe the latest espeak builds any more due to it being out of sync with wxWidgets,

[2020-07-16 13:12] CyrilleB79 commented on #11388
Looking at line 471 in the file inputCore.py:
`		if not script and scriptHandler._numIncompleteInterceptedCommandScripts:`
The issue disappear if I modify this line as follow:
`		if not script: `

Of course, this probably add some other side effect since I have not fully understood this part of the code. But this help to know where the issue is located.

@michaelDCurran any thought on this since y

[2020-07-16 15:07] ruifontes commented on #6553
Of course!

While NV Access doesn't understand that most novice users need to hear
the command keys, but not the arrow keys, we will always have these
requests...

Rui Fontes

NVDA portuguese team

Às 06:29 de 15/07/2020, Quentin Christensen escreveu:

[2020-07-16 18:26] Adriani90 commented on #11387
Is this in browse mode? Or focus mode?

[2020-07-16 18:50] yogeshtaneja12 opened #11389 "NVDA does not announce the items of various edit boxes in dialogue boxes."
<!--
I am using NVDA 2020.1 with Office 16 and values of various edit combo boxes are not getting announced.
steps to reproduce:
1. Open excel version 16.
2. Do CTRL+2 to open cell format dialogue box.
3. On number tab page navigate to "decimal point.
4. You will observe screen reader announces "decimal Point Blank"
5. Use CTRL+TAB to navigate to alignment tab / font tab.
6. Use TAB to navigate in

[2020-07-16 18:55] XLTechie commented on #11388
For the record, I can duplicate this behavior, but only just. I had to try it
several times before finally getting it to happen.
Whatever timer that is at play for the double press is pretty short.

I agree that it should be fixed, because it is certainly not expected behavior.

I wonder also if the ability for this to happen is processor speed dependent.
The machine I tested on was a hexacore I7

[2020-07-16 19:00] yogeshtaneja12 opened #11390 "Name of the sender should be announced when navigating to the next/previous checkbox while using gmail website.with hot key 'x'"
Actual behavior:
When letter 'x' is pressed on gmail, it only announces "check box not checked".
Expected behavior:
When navigating to the checkbox with hot key 'x' the sender's name should also be announced as it will make the navigation quicker and user will be able to decide weather to open that mail or to delete that mail.
Steps to reproduce:
1. open www.gmail.com
2. login with the user name a

[2020-07-16 19:01] XLTechie commented on #11383
@feerrenrut: while I am not the OP, I did test his original case and found it
valid. Answering your question: yes, turning off super and subs also removes
"baseline".

The main complaint seems to be, that after a reversion to baseline font from a
super/subscript, baseline should not keep being announced for each new item.
It should only be announced if we were not previously in baseline, and switc

[2020-07-16 19:56] CyrilleB79 commented on #11388
I think the timing is not machine dependent. Indeed, looking at the code, there is a hard-coded 0.5 second to detect a double-press. Thus you actually need to perform keystrokes 2, 3 and 4 in less than 0.5 seconds. I agree the interval is short. But when you are used to perform the same keystrokes, this can happen frequently though.

[2020-07-16 20:31] Adriani90 commented on #11390
I can not reproduce this in any browser. NVDA report "unread <sender> <subject> etc. when pressing x.
Did you try to run the COM registration fixing tool in NVDA settings / tool?
Also did you try to reproduce this with all addons disabled?

[2020-07-16 20:32] Adriani90 commented on #11390
Also sender, subject and so on is read when pressing x.

[2020-07-16 20:34] Adriani90 commented on #11389
This depends on the autor to implement a propper label. Given that we don't have a description for this including steps to reproduce and so on, I am closing this issue.

[2020-07-16 20:34] #11389 closed

[2020-07-16 20:39] XLTechie opened #11391 "Core freezes when trying to exit Word 2019 by keyboard shortcut"
### Steps to reproduce:

1.  Open MS Word 2019 (untested in other versions).
2.  Press enter to create a new text document.
3.  Type some text.
4.  Press Alt+F4 to exit.
5.  Press tab then enter, to select "Don't save".
6.  Repeat steps 1 through 4.
7.  This time press "n" to invoke the "don't save" button.

### Actual behavior:

* At step 5, Word exits normally and the desktop or some other appli

[2020-07-16 20:41] Adriani90 commented on #11386
Can you reproduce with all addons disabled?
Please try to reproduce this issue in NVDA 2020.1. Is this still reproducible there?

[2020-07-16 20:46] Adriani90 commented on #10677
Thanks for the update. I am closing as works for me. Please comment on this if you still have the issue and we can reopen it.

[2020-07-16 20:46] #10677 closed

[2020-07-16 20:52] josephsl commented on #11391
@MichaelDCurran, I get a feeling that it could be a thread waiting for something that it never shows up, or something is going on with UIA. Thanks.

From: Luke Davis <notifications@github.com>
Sent: Thursday, July 16, 2020 1:39 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Core freezes when trying to exit Word 2019 by keyboar

[2020-07-16 21:13] XLTechie commented on #11391
No difference when turning on or off various UIA combinations in advanced, for what that's worth.

[2020-07-16 22:12] rhdunn opened #11392 "The espeak-ng path should be UTF-8 encoded for Unicode paths."
The path passed to espeak/espeak-ng in the initialization function should be UTF-8 encoded. This relates to the Unicode path part of https://github.com/nvaccess/nvda/issues/10607.

Specifically, espeak and espeak-ng use the Microsoft CRT stat implementation in the GetFileLength function (used to check if the path exists and is a directory). The documentation for stat [1] states:

In the initializa

[2020-07-17 01:01] KurtCattiSchmidt opened #11393 "Chromium Edge address bar cursor does not announce "blank" at the end of the address bar"
Hi, I'm an engineer on the Microsoft Edge team who works on our UIA implementation. I came across this bug and was looking to see what if there's anything we can do our side to fix this. However, from my initial investigation, the bug may actually be in NVDA.

### Steps to reproduce:
1. Launch Chromium Edge (Anaheim) and NVDA
2. Type "test" in the address bar
3. Move the cursor to the right via th

[2020-07-17 06:16] Brian1Gaff commented on #11391
Actually being really controversial this sort of oddity I can get even on my
old windows 7 machine and word 2003. It seems pretty random to me, Its
annoying and sometimes windows will put up, Word is not responding, but will
eventually exit as if nothing untoward has happened. I thought these events
might be something to do with the file it was actually editing.
 Brian

bglists@blueyonder.co.uk
Se

[2020-07-17 06:43] XLTechie commented on #11391
I am reasonably sure that is a different issue entirely. Word is responding
normally. It is NVDA that is not responding here according to the
perceived effects and the log.

Now, it is possible, I suppose, that Win 10 is giving a "Word is not responding"
message during the 20 seconds or so that NVDA is silent, but none of the other
effects of a Word crash seem to be extant, so I doubt it.

Most te

[2020-07-17 10:43] SonSiHo opened #11394 "NVDA read mutilple times when focus to marker Google Map"
AR : When focus to marker in Google Map, sometimes NVDA read more time Title of marker.
ER : When focus to marker in Google Map, NVDA should read only one time Title of marker

[2020-07-17 11:23] mayson199514 commented on #11375
I think this ticket can be closed, it looks lke the problem was fixed on microsofts end! I tried the site again with both stable nvda and the alpha, and the latest update to microsoft edge, version 84 no longer freezes on that site.

[2020-07-17 11:47] PatrickMis commented on #9359
Yes, I did.
Steps to reproduce on two of the systems known by me:

1. Launch any browser.
2. Navigate to one of websites which has this issues e.g. nvdaremote.com, by typing from address bar, get it from history or even by Google.
3. Browser is frozen for approx. 45 seconds.
4. We have an error in VDA log. We can hear title of the page but navigation is silent. Tried to fix COM, tried to run as ad

[2020-07-17 12:00] lukaszgo1 commented on #9359
@PatrickMis First of all the original report here is different from what you've reported so normally I'd recommend creating a separate issue. In this case however  your problem appears to be a duplicate of #10451. To confirm that please try to reproduce it with eSpeak and if it is not reproducible switch back to OneCore and disable Automatic  language switching.

[2020-07-17 12:02] man0528 commented on #11391
I am using office365, Confirm that this problem exists. The content of the start menu will not be read after closing Word. It also won't read the contents of Explorer. Reopening Word will not read. The version I tested is NVDA2020.2RC1, Office365 Version 2006 (Build 13001.20266).

[2020-07-17 13:04] CyrilleB79 commented on #11365
Actually, the real issue here is that checked state is announced to late when one want to read quickly the list items and their state. I will update the title to be more generic so that other solution can be found and not only the expected result I have written in the initial description.

An other solution would be to allow the checked state to be announced for the first cell of the row when perf

[2020-07-17 14:06] lvimalchandran commented on #8959
Hi NVDA Team,
I see this issue raised in 2018. just wanted to follow up whether is there any update provided (in new release.) for this bug.

Thanks, Vimal.

[2020-07-17 14:19] RichCaloggero commented on #9359
FYI: I'm not seeing this on my system.

Just went to nvdaRemote.com and everything is fine.

I am using IBMViavoice TTS rather than eSpeak.

-- R

On 7/17/2020 7:48 AM, PatrickMis wrote:

[2020-07-17 19:40] Adriani90 commented on #11375
Yes, It seems it has been fixed in MS Edge 84. Closing as works for me.

[2020-07-17 19:40] #11375 closed

[2020-07-17 19:47] Adriani90 commented on #11391
I cannot reproduce this in NVDA Alpha 20548,e1f3ba99 and

Office 365 MSO (16.0.13001.20266) 32-Bit

Could you please go to MS Word, then to file ribbon, then to account and check for updates? If there are updates, please install them and try to reproduce the issue again with last NVDA alpha. Please report the results.

[2020-07-17 19:48] Adriani90 commented on #11394
Please open a new issue with exact steps to reproduce and fill in the requested details (i.e. NVDA version, windows version, browsers you tested in, or the app version which you tested with).
I am closing this issue for now due to missing details.

[2020-07-17 19:48] #11394 closed

[2020-07-17 19:50] Adriani90 commented on #11393
Hmm, I think this must be fixed in the browser is I am not wrong. The browser should expose when the line has ended and when there is a line feed or so. Then NVDA would report "blank" as expected.
@ObjectInSpace I think this problem has been solved in Chrome as well. Maybe you can advice here?
cc: @aleventhal

[2020-07-17 19:55] Adriani90 commented on #11390
Ok the only browser I can reproduce this in is Internet Explorer.

[2020-07-17 19:58] Adriani90 commented on #11367
CC. @leonardder; @michaelDCurran

[2020-07-17 20:14] Adriani90 commented on #11285
@ObjectInSpace it seems the Chrome bug is fixed. In which Chrome version will it be visible? I am on Canari 86 ut the issue is still reproducible there.

[2020-07-17 20:17] Adriani90 commented on #11345
cc: @feerrenrut what do you think?

[2020-07-17 20:22] Adriani90 commented on #11304
Actually the reannouncement of the focus is helpful in my opinion. Because I know that the system focus has been draged successfully to the virtual cursor. But yeah, I can imag9nie that for a novice user this might be confusing.
@lukaszgo1 which priority would you see for this from an user perspective? Is it very annoying?

[2020-07-17 20:24] Adriani90 commented on #11301
cc: @jcsteh, @MarcoZehe

[2020-07-17 20:26] Adriani90 commented on #11299
@elachapman do you have a test case for us? Or a code snippet which reproduces this issue?
Otherwise investigation is not really possible in this case.

[2020-07-17 20:29] Adriani90 commented on #11290
cc: @jcsteh for Firefox
cc: @ObjectInSpace maybe you can consider looking into this for Chrome?

I assume both browsers expose this information properly, if this example is fully compliant with Aria spec. Right?

[2020-07-17 20:32] Adriani90 commented on #11284
cc: @feerrenrut