[2020-05-13 20:09] Adriani90 commented on #11157
Note that the issue that I referenced is a link. If you open github in your browser you can just press enter on the link in my comment and you will be redirected to the issue automatically.

Otherwise if you want to find an issue, you can also search for key word like "outlook", "reading" etc. You don't have to know the number.

[2020-05-13 20:14] Dennisl123 commented on #11157
I don’t see a link in your message.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Note that the issue that I referenced is a link. If you o

[2020-05-13 20:15] jcsteh commented on #9172
Display model can't be used in web browsers at all. But it wouldn't help anyway.

The information you want is available; it just can't be reported automatically because they're using a text box in a weird way. However, if you press read line (NVDA+upArrow/NVDA+l) or report focus (NVDA+tab), the changed date is reported just fine.

Btw, the arrow keys now seem to change the date as expected in Fire

[2020-05-13 20:16] Adriani90 commented on #11157
You are reading the message via your mail client, you have to open the issue in your browser for this to work. Not in the mail client. So you have to go to github.com

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:15
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; State change <state_change@noreply.github.com>
Betreff: Re:

[2020-05-13 20:22] Adriani90 commented on #9172
Yes this seems partly improved now. I am closing this anyway since there is a good workaround for getting the current value and probably a can't fix anyway. Thanks for the info.

[2020-05-13 20:22] #9172 closed

[2020-05-13 20:24] Adriani90 commented on #9163
I am closing this as won't fix as per comment above. If someone has other arguments we can consider reopening this at a later point.

[2020-05-13 20:24] #9163 closed

[2020-05-13 20:27] Dennisl123 commented on #3020
It should be configerable if NVDA automatically reads the body of the email or not.

[2020-05-13 20:27] jcsteh commented on #11109
That's the idea behind #11077. However, that issue is still very much in the discussion/exploration phase, especially for UIA.

Even though #10508 is caused by the same underlying problem (event flooding), the workaround I implemented for that is a hack which applies specifically to 1Password.

[2020-05-13 20:29] Dennisl123 commented on #11157
Issue 3020 seems to be  asking for the email to be read automatically.  I’m asking for the option to have it  not read the body of the email message.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:17 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to

[2020-05-13 20:30] Adriani90 commented on #3020
This woked some years ago, you had to create a profile for outlook and enable “read entire page after load” in browse mode settings. Then NVDA reported the whole message body. When disabling “read entire page after load”, NVDA reported only the first line. But this does not work anymore, at least not in Office 365.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:28

[2020-05-13 20:32] Adriani90 commented on #11157
NVDA does not read the whole message body as of now unless you enabled “read entire page after load” in NVDA settings under browse mode settings. And even enabling this setting does not read the email body entirely which was the case in the past. This is what #3020 requests.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:30
An: nvaccess/nvda <nvda@noreply.github.co

[2020-05-13 20:34] Adriani90 commented on #9245
The health check is focusable now in last version of -CCleaner with NVDA 2020.1. Closing as works for me.

[2020-05-13 20:34] #9245 closed

[2020-05-13 20:36] Dennisl123 commented on #3020
The option should be  configurable by the user if the email body is read.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:31 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Outlook 2010-complete message body of a recieved message is not read automatically, when messa

[2020-05-13 20:37] Dennisl123 commented on #11157
That wasn’t what my original requested.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:33 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

NVDA does not read the whole message body as of now u

[2020-05-13 20:38] Adriani90 commented on #9241
this works as expected with NVDA alpha-20206,dba33431 and Excel 365. No error anymore. Closing as works for me.

[2020-05-13 20:38] #9241 closed

[2020-05-13 20:41] Adriani90 commented on #11157
Well, I think it’S better to continue the discussion on #3020 since what you are requesting is already possible by turning off automatic reading of entire page after load in NVDA settings under browse mode. If you don’t find something related there, then please create a new issue and fill the template with clear details on what exactly you experience and what exactly you are expecting. Thanks.

Vo

[2020-05-13 20:45] zersiax commented on #11109
@jcsteh  right, I figured as much from looking at the comments on that issue.
My point was more that fixing this in NVDA, to me, feels more like fixing a symptom rather than solving the problem. I think at this point we can safely say there's something seriously wrong in the way WPF either is implemented on the framework-level, or generally used by its developers, that causes these floods to occur

[2020-05-13 20:45] Adriani90 commented on #9234
Hmm this is strange. If you disable automatically move focus to focusable elements with nvda+8 then this works correctly. I would have expected this behavior the other way round.
cc: @jcsteh, @leonardder

[2020-05-13 20:46] Dennisl123 commented on #11157
It is not possible.  .  Expected behavior

1 press enter on email it reads no part of the body of the email.  Now in outlook 2016 it reads the first few lines.  No settings change I have made has made a difference.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@no

[2020-05-13 20:50] Adriani90 commented on #10022
Given the discontinued podcast series, I am closing this issue. @Qchristensen I guess if the podcasts will continue, then the web page for that will be redesigned anyway. Then we would need an updated issue description anyway.

[2020-05-13 20:50] #10022 closed

[2020-05-13 20:53] Adriani90 commented on #11004
Closing as duplicate of #9234.

[2020-05-13 20:53] #11004 closed

[2020-05-13 20:54] josephsl commented on #11161
Hi,

If I understand this thread (spanning over at least three issues) correctly, you want NVDA to not read first line of a document automatically, or at least let users decide this behavior, correct? If yes, this requires consideration about focus change behavior, as this is a result of a document gaining focus. Here's what happens:

1. You open a document (an email message, for example).
2. Head

[2020-05-13 20:56] Adriani90 commented on #11161
No, just ignore the other three issues there was a miss understanding. Actually it came to my mind independnetly, it would reduce verbosity if we do not hear the subject of the email when pressing enter on it from the message list.

Von: Joseph Lee <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:55
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.c

[2020-05-13 20:58] Adriani90 commented on #11157
In this case, why would an user need a separate setting for this? Actually it is recommended not to overload NVDA with settings which can already be achieved very easily. Pressing the ctrl key right after pressing enter on the email will stop nvda from reporting the first line.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:47
An: nvaccess/nvda <nvda@noreply.github

[2020-05-13 20:58] Dennisl123 commented on #11161
Yes Joseph That is what I’m wanting to give the User the choice how it behaves.  It can behave as it does by default but add options for the user to control its behavior.

From: Joseph Lee <notifications@github.com>
Sent: Wednesday, May 13, 2020 4:55 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nv

[2020-05-13 21:01] Adriani90 commented on #11161
Giving the user the control of every really small impact option means to overload a program with settings at the cost of novice users. Anyway, this issue seems  not related, so please keep discussions on this topic in the other issue.

Von: Dennisl123 <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 22:59
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemai

[2020-05-13 21:02] josephsl commented on #11161
Hi, can you answer the follow-up question: can you think of other impact besides efficiency? This is so that people wishing to implement this can better understand what to do. Thanks.

From: Dennisl123 <notifications@github.com>
Sent: Wednesday, May 13, 2020 1:59 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject:

[2020-05-13 21:05] Adriani90 commented on #11161
What do you mean? Most impact that new iissues or features have are related to efficiency.

Well, it might also impact performance positively if NVDA does not fetch the subject when opening the email with enter which could lead to the ne email opening faster.

Von: Joseph Lee <notifications@github.com>
Gesendet: Mittwoch, 13. Mai 2020 23:03
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90

[2020-05-13 21:12] josephsl commented on #11161
Hi, message content and headers/subject line are two different things (subject line is read because it is the title of the document one is reading). My follow-up question deals with experience for users who may enable the proposed option in other places, not necessarily performance (yet), because looking at performance requires examining factors such as memory usage, response from API DLL’s, progr

[2020-05-13 21:16] Adriani90 commented on #11161
yes, that's why I wanted to keep this issue splitted from the issues targeting the message body after noticing the missunderstanding. Discussions on message body are on #3020 However, what Denis requests can be achieven by pressing ctrl key right after pressing enter. In my view no need for yet an additional setting with low impact here.
Otherwise, we need more justification what this would bring

[2020-05-13 21:19] Dennisl123 commented on #11161
User control some people prefer it to not speak what is read automatically.  Some people read line by line.   Also other screen readers offer the option to turn off automatic reading of the body of the email.  If you aren’t wanting to make as part of NVDA core could an add-on be made to accomplish this?  I would have no idea how to do this.

From: Joseph Lee <notifications@github.com>
Sent: Wednes

[2020-05-13 21:23] josephsl commented on #11161
Hi, I think we are driving a parallel road: what I’m actually asking is to consider why users choose to ask screen readers to not read the line where the cursor is located when opened (top line). Although we do need to consider user preference, without understanding why, it may give rise to code that really doesn’t solve the problem users are encountering. Thanks.

From: Dennisl123 <notifications@

[2020-05-13 21:37] Adriani90 commented on #11161
The simplest way would be if Denis creates a new feature request describing exactly the expectations and justifying why users need this, keeping in mind the template. This issue here is not related to Denis‘s request. See issue description. Thanks.

Von meinem iPhone gesendet

[2020-05-13 21:43] josephsl commented on #11157
Hi,

For details as to implications of this feature, see recent comments in #11161. To summarize: this feature deals with focus change event behavior for documents. The most recent question I asked there applies to this issue: we need justifications other than a need for this feature, which may convince more people to say "yes" or "we will investigate".

Thanks.

[2020-05-13 21:44] josephsl commented on #11161
Hi,

The actual issue that Dennis is refering to is #11157. Let's discuss that aspect further on that issue.

Thanks.

[2020-05-13 21:53] josephsl commented on #3020
Hi,

I guess say all handler isn't being engaged for this specific issue. By the way, this issue is a bit different than #11157 proposal.

Thanks.

[2020-05-13 22:01] jcsteh commented on #11109
Oh, I did understand your point. I was just answering the questions
regarding NVDA mitigation. It is totally unacceptable that the control
floods like this, and unfortunately, this kind of thing is not that
uncommon with Microsoft's various UIA implementations over the years.

[2020-05-13 22:04] jcsteh commented on #9234
I can't reproduce this in Firefox Nightly, regardless of auto set focus to focusable. For example, if I press h four times to move to "But what is a hook?", pressing tab takes me to "don't recommend", which is a link under that heading.

[2020-05-13 22:27] jcsteh commented on #5861
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1637779

[2020-05-13 22:33] jcsteh commented on #9001
I can't reproduce this on the PayPal or Twitter login forms, even when tabbing away and back or entering text into the password field first. I was able to reproduce it on HackerRank, though.

[2020-05-13 22:42] Qchristensen commented on #5221
A user reported "If opening the files by double-clicking on the file, then enter the password NVDA will speak the password. However, open either Word or Excel then open the file NVDA only speaks “star, star etc.”

In trying to reproduce it (I assume they are talking about a password to to open the file - alt+f, i, p then "Encrypt with a password".  The original issue here gives the keystrokes to p

[2020-05-13 22:57] jcsteh commented on #9083
This test case is wrong. aria-activedescendant gets set on menu2, but DOM focus remains on menuButton2. [As per the spec](https://w3c.github.io/aria/#aria-activedescendant), aria-activedescendant only has effect on the focused DOM element.

[2020-05-13 22:57] #9083 closed

[2020-05-13 23:42] XLTechie commented on #11161
Please correct the spelling of "report" in the title of this issue. And feel
free to delete this message. :)

[2020-05-13 23:55] Qchristensen opened #11162 "Proposal: Change how "point" releases are numbered so they don't read as dates"
### Is your feature request related to a problem? Please describe.

When we go to a "point" release, a lot of synthesizers read the version number as a date.  For instance:

NVDA 2019.3.1 reads to many users as "NVDA March First, Two thousand and nineteen".  In fact what that version number represents is a "minor" release (to fix a critical bug) based on the third release of 2019.

### Describe th

[2020-05-14 01:14] fisher729 commented on #9549
Yes, this issue still persists. My feeling is that the hybrid keyboard layout can be dscribed as a keyboard layout that incorporates most gestures of the laptop layout, but does not utilise the Numpad for object navigation and text review commands. This is primarily useful for users that have laptops with Numpad keys, but would like to use these keys for other functionality that they would provide

[2020-05-14 02:05] dingpengyu commented on #11162
hi
You can also refer to nvdajp's version naming format:
[nvdajp](
https://ci.appveyor.com/project/TakuyaNishimoto/nvdajp)

[2020-05-14 03:42] srinivasNithin commented on #11148
@DrSooom Is there any update on this?

[2020-05-14 03:56] DrSooom commented on #11148
@srinivasNithin: I just asked for the information, that was once missing, so that others could reproduce this issue easier.

[2020-05-14 04:26] DrSooom commented on #11157
As I already wrote [here](https://github.com/nvaccess/nvda/issues/11157#issuecomment-627699355), this feature will only make sense for magnifier users. To be exactly: I mean visual and haptic readers, who don't use TTS as their primary feedback channel.

And no, pressing CTRL every time, after an e-mail, a document or a web page was opened, isn't a solution, as it rides on the user's nerves relati

[2020-05-14 05:53] XLTechie commented on #11162
Of the presented options, I like the year, dot, major number, minor alpha. Drop
the second punctuation all together, and use a letter. But if we have to have a
second punctuation, I prefer sticking to the same one (period).

That way you keep using only one delimiter, so people don't accidentally start
inverting which punctuation goes where, etc.

As a final thought, I like swapping the major and

[2020-05-14 07:08] Dennisl123 commented on #11157
If this option is added it should be able to be used by users who use speech  as well.  I agree repeatedly pressing the control key is not an option especially if you have a lot of an email a day.

From: Daniel Mayr <notifications@github.com>
Sent: Thursday, May 14, 2020 12:26 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com

[2020-05-14 09:25] JulienCochuyt commented on #11162
The current version numbering is consistent with [Python's PEP 440 -- Version Identification and Dependency Specification ](https://www.python.org/dev/peps/pep-0440/#final-releases).

While sticking to it is not mandatory as we do not publish anything to PyPi, I would still advise to avoid adopting a new version numbering scheme that might lead to misinterpretation in regard to this standard.

Not

[2020-05-14 09:37] Brian1Gaff commented on #11161
I'm happy with it as it is, so this should be on a selection system . I
still use Outlook express and this is old app module, if such messing with
focus occurs it could potentially affect the way older  mail and newsreaders
work, including older versions of Tbird, hence the idea of aa toggle. One
thing ideally I'd like to see in newsgroups readers is the ability to hear
the groups in the list you

[2020-05-14 09:43] Brian1Gaff commented on #11161
It might, but might not. There are so many different ways email software
presents the various to from subject etc, lines depending on the client in
use. It might be more likely to be able to make add ons for a particular
client if in use rather than attempting to make a one size fits all solution
which could spoil how it works now by some, as yet unrealised change.
 Brian

bglists@blueyonder.co.uk

[2020-05-14 09:44] mohdshara commented on #9234
@jcsteh have you tried reproducing this on nvaccess .org as described here:
on nvaccess.org with Firefox, the tab key jumps back to the start of the page #11004

[2020-05-14 09:48] leonardder commented on #11162
I'd rather not change the versioning scheme at all. How about considering other alternatives, like treating date formats more strictly? For example, is 2020.1.1 considered to be a valid date format? shouldn't it be 2020.01.01?

[2020-05-14 09:49] Brian1Gaff commented on #11162
I guess this must be synth related then, as using Espeak I don't hear the
problem.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-14 09:52] Brian1Gaff commented on #11162
Yes and at least in synths I've tried, making the second dot into 2 dots
also works.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-14 10:09] jcsteh commented on #9234
That's a different underlying issue, as I described in https://github.com/nvaccess/nvda/issues/7897#issuecomment-609514058. This problem doesn't apply to the URL provided in https://github.com/nvaccess/nvda/issues/9234#issue-406104783, though.

[2020-05-14 10:42] Yegorich555 commented on #7996
One more issue. If a child contains a couple items and you change aria-hidden="true" to aria-hidden="false" it will announce as much as items in the child, but expected only once!!!

[2020-05-14 11:48] CyrilleB79 commented on #11162
@Qchristensen and/or other, could you please give examples or even a full listing of the synth where the issue occur? And also tell us in which language/culture such a date format is valid and usual. This would allow to understand better this issue before thinking to a possible solution.

[2020-05-14 12:08] Neurrone commented on #9234
I can still reproduce this if I press h once, then press tab. But that might be the issue mentioned in #7897.

[2020-05-14 12:26] jcsteh commented on #9234
For the first heading on the React page, yes, same issue as #7897. I couldn't reproduce it on subsequent headings, though.

[2020-05-14 12:27] Neurrone commented on #9234
Will close this in favour of #7897.

[2020-05-14 12:27] #9234 closed

[2020-05-14 14:09] lijianwei2019 commented on #11131
Flash will reach end of life

https://theblog.adobe.com/adobe-flash-update/#content

[2020-05-14 14:37] beqabeqa473 opened #11164 "UIA cannot get parent object in some circumstances"
hello all.

i am writing an appmodule for unigram (telegram client), and i faced with a problem, where i cannot get a correct parent object.

in unigram, we have a main chats listview, in which, we have button, which is automatically focused when navigating with arrow keys, but because of focusing button in listview item and not listview item instead, we cannot get object position.
this listview i

[2020-05-14 15:47] tapper82 commented on #11132
Hi same on my windows 10 64.
NVDA
Version: alpha-20206,dba33431
 Firefox 78.1

[2020-05-14 18:59] XLTechie commented on #11162
@JulienCochuyt wrote:

I was unaware of that one, thank you.

Agreed, I dislike both of those strongly.

What about something like this, renumbering last year's versions:

* 2019.100
* 2019.101
* 2019.200
* 2019.201
* 2019.300
* 2019.301

It meets all the perceived requirements:
* Not excessive or strange punctuation.
* Doesn't violate any of the guidelines you listed.
* Doesn't sound strange when

[2020-05-14 19:09] XLTechie commented on #11162
I will add that my example above, tested in Narrator, has the same incorrect results.
English language.
I don't know where year.month.day is a valid date, especially as written with single digits and periods, but apparently Microsoft deems it so. Maybe @josephsl has some idea.

[2020-05-14 19:14] josephsl commented on #11162
Hi, ISO 8859 might be a handy reference, as it specifies date format for ease of sorting. As this issue is synthesizer specific, the ideal solution is letting screen readers pass raw strings and pronunciation commands to synthesizers unless it is resolved from the vendor’s end. Note that this may mean looking into version parsing code used for testing add-on compatibility. Thanks.

From: Luke Davi

[2020-05-14 19:17] Adriani90 commented on #11161
@Brian1Gaff excluding the subject from reporting when opening the email with enter or with the mouse would not have any negative impact on the focus tracking. It is actually just an additional object rendered which is not related to the system carret. So your concerns are not related here.

[2020-05-14 19:36] Adriani90 commented on #11157
@Dennisl123 your request is still not clear here. Do you want NVDA to be silent only when opening the email? Or when you navigate line by line through the email?
You say:

What do you exactly mean by this? If you read line by line NVDA will follow what you read and it will not read something automatically.

You also mentioned that other screen readers do offer this feature. Which screen reader for

[2020-05-14 19:46] Adriani90 commented on #11162
In my view this should be solved by synthesizer vendors, not by screen readers. To solve this globally would require a huge work and will possibly not succeed for every synthesizer anyway.

[2020-05-14 19:49] Adriani90 commented on #11162
how about using something like NVDA 20.1, 20.2, 20.2.1 etc?So just the two last digits of the current year at the beginning? This would work correctly until we reach the year 2100 :)

[2020-05-14 20:01] Adriani90 commented on #9181
The language is recognized properly in browse mode, but not in focus mode. Tested with NVDA 2020.1 on Chrome 81 and Edge Chromium 81.

[2020-05-14 20:03] Adriani90 commented on #9255
@HK12345678 which application are you trying to use? Is this issue still occuring with NVDA 2020.1?

[2020-05-14 20:20] Adriani90 commented on #9225
We do not have updates from the initial author since more than one year.
@jcsteh do you have any experience with this in Firefox? In my view the focus tracking got much better since this issue has been reported.

[2020-05-14 20:25] Dennisl123 commented on #11157
When The email is opened I do not want any part of the body of the email spoken.  I do not see the setting you refer to.  Jaws has this option it is called  messages automatically read.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 14, 2020 3:37 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-05-14 20:28] Adriani90 commented on #11157
The setting is in NVDA menu > preferences > settings and then under the cathegory “keyboard”. It’s a checkbox called “allow navigation during say all”. This should be disabled by default.

Von: Dennisl123 <notifications@github.com>
Gesendet: Donnerstag, 14. Mai 2020 22:26
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; State change <state_change@noreply.gi

[2020-05-14 20:31] Adriani90 commented on #9304
This works as expected in NVDA 2020.1 and Firefox 76. Closing as works for me.

[2020-05-14 20:31] #9304 closed

[2020-05-14 20:32] Dennisl123 commented on #11157
It is disabled.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 14, 2020 4:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

The setting is in NVDA menu > preferences > settings and then under the catheg

[2020-05-14 20:33] Adriani90 commented on #9302
@fernando-jose-silva how is this now with NVDA 2020.1 and last version of this software?
Please make sure that "report object descriptions" is enabled in NVDA's object presentation settings.

[2020-05-14 20:44] Adriani90 commented on #9296
I don't know exactly  why this is not part of the virtual buffer used by NVDA, it seems element count in general is not used in browse mode but only in focus mode. @michaelDCurran is there are specific reason why NVDA treats this in focus mode and browse mode differently?

[2020-05-14 20:48] Adriani90 commented on #9268
@MarcoZehe how is this now with NVDA 2020.1 and the last version of the app?

[2020-05-14 20:50] Adriani90 commented on #9258
cc: @Andre9642, @leonardder I think this is yet another braille translation issue? Or maybe NVDA does not recognize the braille symbols with speech at all?

[2020-05-14 20:50] josephsl commented on #11157
Hi, that setting lives inside Settings Center/Web/HTML/PDF’s category, for which the NVDA equivalent is browse mode settings. You are right in that NVDA does not have a specific setting with the label provided – the closest is “Automatic Say All on page load “. As I implied in my explanation above, this setting is irrelevant to this issue, as this is focus change event behavior – NVDA is fulfillin

[2020-05-14 20:54] josephsl commented on #11157
Hi, for English speakers, it is named “Allow skim reading in Say All”. Again this has nothing to do with the real focus of this issue (I’m afraid). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 14, 2020 1:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option fo

[2020-05-14 20:57] Adriani90 commented on #11157
Joseph I think there is a big miss understanding here. If we talk about the jaws setting called “don’T read documents automatically” as suggested by the initial author, then we talk about one single think.

1.	Press enter on an email
2.	NVDA only reports the title of the window but pressing up and down arrow NVDA starts reading line by line as usual.

The setting I am talking about is “allow navig

[2020-05-14 20:58] Adriani90 commented on #11157
Please read the issue description, especially the second sentence which says that user is missing information when reading line by line due to automatic reading. This would only happen if skim reading during say all is enabled.

Von: Joseph Lee <notifications@github.com>
Gesendet: Donnerstag, 14. Mai 2020 22:55
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com

[2020-05-14 21:12] josephsl commented on #11157
Hi,

The keyboard setting noted applies if say all is engaged automatically, which is actually not the case here unless NVDA somehow believes that the document is a browse mode document. In Outlook 365 at least, automatic say all is not engaged (which is different on web interfaces).

A serious follow-up question for Dennis: are you assuming that NVDA Wil perform an automatic say all when a docume

[2020-05-14 21:12] CyrilleB79 commented on #11162
If we choose not to modify version number, would it be acceptable to fix the pronunciation for NVDA only, i.e. pronunciation may fail on other screenreaders such as Narrator or Jaws.
If yes, such a dictionary entry seems to fix the issue by forcing a "dot" to be pronounced:
Pattern: (?<=\d{4}.\d).(?=\d)
Replacement: dot
Probably, a complex symbol would be more adapted to this issue, but I did not

[2020-05-14 21:17] Dennisl123 commented on #11157
Ok I just opened your email that you wrote.  It started reading part of the first line.  It has read the entirety of other emails because they are only one line.  I’m using outlook 2016.  What I am wanting is it to not read the body of the email automatically.

From: Joseph Lee <notifications@github.com>
Sent: Thursday, May 14, 2020 5:12 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl12

[2020-05-14 21:20] Dennisl123 commented on #11157
Joseph could this be added as part of an add-on or could an addon be created to accomplish what I am wanting?  Is there someone that could create an addon if that would be an easier way to solve the issue?

From: Joseph Lee <notifications@github.com>
Sent: Thursday, May 14, 2020 5:12 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.git

[2020-05-14 21:22] Adriani90 commented on #11157
Denis sorry to intervene again, could you please post a comment in your native language describing what exactly is your problem and what you expect? I don’t understand your comment. Maybe I am not good enough in english, but I could definitely use something to translate from your native language.

Von: Dennisl123 <notifications@github.com>
Gesendet: Donnerstag, 14. Mai 2020 23:20
An: nvaccess/nvda

[2020-05-14 21:26] skorasaurus opened #11165 "Unlabeled is prepended before labelled radio elements while in elements list"
nvda prepends the world "unlabelled" before radio elements that are labelled when a user is browsing through form fields through the elements list (insert + f7)

### Steps to reproduce:

1. Open following url in chrome https://scottaohara.github.io/a11y_styled_form_controls/src/radio-button
2. Insert + F7 to open elements list, change to form fields,
3. Listen and hear "unlabeled radio button chec

[2020-05-14 21:38] MarcoZehe commented on #9268
This is no longer an issue and can be closed.

[2020-05-14 21:42] josephsl commented on #11157
Hi,

Yep, what Dennis described clears up many things.

As for this being an add-on, yes and no:

* Yes if a global plugin (or a collection of app modules) can detect tree interceptor classes for documents where this proposed behavior is desired and suppress announcement of the line where the cursor is located once it gains focus.
* No because the ideal solution will require patching code in modul

[2020-05-14 21:44] ObjectInSpace commented on #8890
The code sample for this didn't work in Chrome or Firefox. When I wend to the website provided, NVDA announced "expanded" when I pressed enter and space, however focus mode was not activated. Thus pressing down arrow closes the popup menu as focus moves away from it. This behavior is the same in Chrome and Firefox.

IMO the best solution here is for NVDA to activate focus mode when the menu is exp

[2020-05-14 21:44] Adriani90 commented on #9366
@AccessibilityTestingTeam-TCS this is really hard to reproduce for everyone. Could you please report on how it is now with NVDA 2020.1?
Note for this to reproduce it seems you need an abonament. Not everyone has an abonament for Dynamics 365.
I suggest you to reach to NV Access directly when having such specific issues since this is not very trivial to investigate.

[2020-05-14 21:46] XLTechie commented on #11162
Tested with Microsoft David, and it reads correctly.
Actually, 20.1 reads as twenty point one. While 20.1.1 reads as two zero point
one point one.

Not sure why it does it like that, but either way solves the problem this issue targets.

On Thu, 14 May 2020, Adriani90 wrote:

[2020-05-14 21:56] Adriani90 commented on #11157
Moreover, the reporting should be suppressed only when entering the document, not everytime when the line is focused.

I would rather suggest, if impelementing this at all, to exclude the whole message body as object from being reported when pressing enter, not only the line gaining focus. I think this could be acomplished in the Outlook appmodule, but to be honnest I don’t see any big impact here

[2020-05-14 21:58] Adriani90 commented on #9363
cc: @lukaszgo1 I recall there was a PR related to this in the past but I am not sure if it was from you. Maybe you find some time to look into this.

[2020-05-14 22:04] Dennisl123 commented on #11157
As someone else stated pressing control key is not workable when you have a lot of emails.  It would be good if a setting or addon could be added.  It could be unchecked if it is a setting and require the user to enable it should they choose to do so.

From: Adriani90 <notifications@github.com>
Sent: Thursday, May 14, 2020 5:57 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl

[2020-05-14 22:07] Adriani90 commented on #9268
Thanks for reporting. Closing as works for me. Note that you can also close issue by yourself if you are the creator of the issue.

[2020-05-14 22:07] #9268 closed

[2020-05-14 22:15] Adriani90 commented on #11157
But if NVDA does not report anything when the email opens you would have to press a key anyway to interact with the email. Does pressing the ctrl key cause such a big inefficiency? You can even interupt automatic reading by pressing down arow key to read the second line of the email, or by pressing nvda+l to read the current line. This is what you would also do if NVDA does not report anyting when

[2020-05-14 22:23] ObjectInSpace commented on #10774
confirm this works in my canary (84.0.4141.0 but the fix is likely in an earlier version)

[2020-05-14 22:25] JulienCochuyt commented on #10733
@Adriani90 wrote:

I agree: I still have quite a few customers stuck with IE11 for business applications that badly suffer from this situation.

[2020-05-14 22:39] JulienCochuyt commented on #7924
I agree this situation is an issue.
Still, when attempting to fix it, please make it somehow configurable: I'm personally commonly switching between 3 input layout across 2 input languages, while reading and typing text in 4 different languages.
Automatic speech language switch while I switch layouts would surely help me in a few situations, but would also be the heck of a pain in many others.

[2020-05-14 22:42] Adriani90 commented on #7996
@Yegorich555 I guess the slide 2 is still visible although aria-hidden=true and this leads to the objects being repeated. Right? Usually aria-hidden=true is used together with display:none or visibility:hidden like in this example:
https://www.w3.org/WAI/PF/aria-1.1/states_and_properties#aria-hidden
Using only aria-hidden=true would suffice for screen readers which access information only through

[2020-05-14 22:46] Adriani90 commented on #10774
Thank you very much for your work on this. very appreciated.

Closing as works for me.

[2020-05-14 22:46] #10774 closed

[2020-05-14 22:55] fernando-jose-silva commented on #9302
nvda did not automatically read the dialog window, however it seemed to read the entire window by pressing nvda + b.

[2020-05-14 23:01] tapper82 commented on #11132
@derekriemer @josephsl Can you reproduce this?

[2020-05-14 23:27] JulienCochuyt commented on #4918
The behavior described in https://github.com/nvaccess/nvda/issues/4918#issuecomment-412940054 is still reproducible after migrating to wxPython 4.

[2020-05-15 00:27] jcsteh commented on #11156
There is EVENT_OBJECT_DESTROY, but in practice, clients don't use this for various reasons. Aside from anything else, there would be potential race conditions for out-of-process clients.

COM rules dictate that a server must not destroy an object until all references are released. Method calls on the object are of course allowed to fail, but they must not cause a crash. Whether NVDA is holding ont

[2020-05-15 00:44] jcsteh commented on #11122
There are serious problems with the data-at-shortcutkeys approach:

1. Discoverability. There is no way for a user to know which single letter keys have been overridden by the app. As an example, a user presses t to jump to a table... and they end up inadvertently retweeting something.
2. Habit formation. Even if it's discoverable, using single letter navigation commands is very habitual/subconsci

[2020-05-15 01:27] mwhapples commented on #11156
Thanks for this information, it gives me something to go on when I discuss it with SWT developers or if I were to look into the SWT source code.

[2020-05-15 05:31] Yegorich555 commented on #7996
@Adriani90 you right. Slide 2 is still visible for a couple seconds, but aria-hidden='true' must fix twice-reading... One more detail: aria-relevant='text' fixes twice-reading but it doesn't work when we have 'div' with nested 'p'. So the following example works for me
[code]

[2020-05-15 07:18] KarolPecyna opened #11168 "NVDA doesn't speak files names during letter-key navigation for IVONA SAPI 5 voices"
This issue occurs in NVDA 2019.3.1 and above.

During the key navigation in Windows directories three separate speak calls are generated from the sapi5.py synthDriver. For example, the calls may contain following texts:
[code]
Unfortunately, IVONA SAPI 5 voices don't generate the bookmark callback for a speak command that contains text with only bookmark tag. In effect the speak command with the l

[2020-05-15 07:59] #11105 closed

[2020-05-15 10:29] DrSooom commented on #11157
@Adriani90: And could you please read the issue title as well?

I totally agree that the issue description and the issue title don't mean the exact same thing, especially the issue description is a little bit odd, but for me it seemed always clear. So I'll try again to give you the desired information in a clearer way. Hopefully I'm not wrong, otherwise @Dennisl123 have to correct me.

### Steps t

[2020-05-15 10:32] Dennisl123 commented on #11157
Yes that is correct.  That is what I’m asking for an option the user can set.

From: Daniel Mayr <notifications@github.com>
Sent: Friday, May 15, 2020 6:29 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

@Adriani90 <http

[2020-05-15 11:48] DrSooom commented on #11162
I prefer the dictionary entry solution and strongly recommend not to change the version scheme. And to avoid side effects, I would limit the dictionary entry to "20(1-3)(0-9).(1-4).(1-3)".

PS: In German the thousand separator is a dot and not a comma like in English. So "2019.201" is spoken as "Two million nineteen thousand two hundred and one" – even if the syntax is wrong (correct syntax: 2.019

[2020-05-15 11:50] MarcoZehe opened #11169 "Infrequent crash in Firefox"
### Steps to reproduce:

There are no steps to reproduce. Sometimes, when working in Firefox, NVDA just falls silent, and braille stops outputting something. This is different from the RPC hang @jcsteh and I have been chasing for two years now. This is just NVDA suddenly going away. So there are no exact steps. But this is in the old log.

[code]

### Actual behavior:

Crash.

### Expected behavio

[2020-05-15 12:15] jcsteh commented on #11169
Looks like NVDA froze trying to play audio. That's pretty weird and
suggestive of a bug in nvwave (NVDA's audio output code) or your systems'
audio driver. Given that I've never seen this, I'm inclined to guess it's
an audio driver bug, but I guess we'll see if others are encountering this
same freeze.

[2020-05-15 12:49] Neurrone commented on #11169
The freeze that I still see about once a week is the one that we discussed before where NVDA would appear to hang (taking away the ability to properly control the computer via keyboard) until Firefox is entirely closed before it goes back to normal.

[2020-05-15 12:56] CyrilleB79 commented on #11162
@DrSooom wrote:

I would not add such strong limitation since:
* NVAccess stated that they want to increase the annual number of release so do not limit them to four a year
* I do not hope so but we should not exclude an NVDA 2020.2.4.

@DrSooom wrote:

The same in French with Eloquence.

@Adriani90 wrote:

With SAPI5 Microsoft Anna - English (United States), "NVDA 20.2.1" is read "NVDA February 1

[2020-05-15 15:43] travisroth commented on #7225
Using NVDA 2020.1 and Windows 10 Pro and Braille tethering automatic this appears to be working.

Selecting a new folder in the folder tree in File Explorer then pressing NVDA+t is showing the correct tile on the braille display.

From: Adriani90 <notifications@github.com>
Sent: Tuesday, May 5, 2020 3:05 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: travisroth <travis@travisroth.com>; Mention

[2020-05-15 16:06] Adriani90 commented on #11157
@DrSooom why would this be beneficial for a sighted person? NVDA anyway reports the new window title when it opens, so what is the real benefit of suppressing only the reporting of the first line for a sighted person?
Regarding pressing ctrl automatically when an email opens, this will be tricky to implement and could have other issues, i.e. if you press a letter to fast and the system is still pr

[2020-05-15 16:10] Adriani90 commented on #11132
@tapper82 this issue is reproducible and it is already known. See the PR referenced in the issue description for more details.

[2020-05-15 16:12] Adriani90 commented on #9302
Ok Fernando thank you for reporting. It seems the specific issue here is solved now. Regarding automatically read a dialog when it opens, there is another issue already in place. I am closing this now as works for me.

[2020-05-15 16:12] #9302 closed

[2020-05-15 16:17] Adriani90 commented on #7225
Thanks for the reply. I am closing this issue as works for me. Please comment on this if the issue appears again and we can reopen. Thanks.

[2020-05-15 16:17] #7225 closed

[2020-05-15 16:28] josephsl commented on #11157
Hi, actually, there might be a way to do it without emulating a key press, but that will require patching a function that is fundamental to speech operations. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Friday, May 15, 2020 9:06 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda]

[2020-05-15 20:02] HegrJan commented on #8996
Problem still persists in NVDA 2020.1

[2020-05-15 23:51] Qchristensen commented on #9549
I think there might also be some laptops which don't have separate navigation keys and expect users to use the numpad with numlock for those functions.  This makes it very difficult to use those laptops with NVDA (I had a report from a user, I'll try to get a model number, for confirmation at least).

[2020-05-16 05:28] amirsol81 commented on #7924
@JulienCochuyt Same here. But if the fix gets implemented properly, we'll have zero issues to deal with. That is, this works perfectly in JAWS, so there's no reason to assume that the fix will make life difficult for NVDA users like you and I.

[2020-05-16 07:47] DrSooom commented on #11157
That's quite easy: Visual readers normally don't start reading at the very top of a document or a letter, they're focusing within less than a second to the most important part of a document or letter due to the visual formatting and start reading from this point on. And that's it!

Furthermore they still can use the mouse and set the cursor directly to the part of the document, where NVDA should s

[2020-05-16 07:49] Dennisl123 commented on #11157
I agree with you.  More over a user configurable option would be the way where you could have the best of both worlds.

From: Daniel Mayr <notifications@github.com>
Sent: Saturday, May 16, 2020 3:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first

[2020-05-16 10:04] JulienCochuyt commented on #4473
I do not reproduce in NVDA 2020.1 on Windows 10

[2020-05-16 10:05] Neurrone opened #11170 "Incoming text in the terminal is not reliably read with UIA enabled"
CC: @codeofdusk

### Steps to reproduce:

1. Do something that causes at least a screen's worth of text to appear. For example, ls on a directory with 50 entries.

### Actual behavior:

Nothing is heard, or only the last few lines of the output is read. I'm not sure what causes the differences, maybe the amount of text being returned?

### Expected behavior:

Incoming text is always reliably read.

[2020-05-16 10:39] codeofdusk commented on #11170
Could you please try the following?

1. Open Windows Console (with UIA).
2. Press NVDA+control+z to open a python console.
3. Enter `nav.is21H1Plus`.

Do you get `True` or `False`?

[2020-05-16 11:52] Neurrone commented on #11170
It returns false. I'm only on 20H1, not on the fast ring.

[2020-05-16 11:54] codeofdusk commented on #11170
OK, try this:

1. Download [Open Console](https://github.com/nvaccess/nvda/files/4638297/CascadiaPackage_0.0.1.0_x64.zip) and extract the zip.
2. Run `OpenConsole.exe`.
3. From Open Console, start a Python interpreter with NVDA+control+z. Verify that `nav.is21H1Plus` returns `True` for this console.
4. Attempt to reproduce your issue. (I think you can start WSL from Open Console by typing `bash`).

[2020-05-16 11:59] Neurrone commented on #11170
It returns true now, but the issue is still happening.

[2020-05-16 12:00] codeofdusk commented on #11170
OK, I think this is another instance of/similar to microsoft/terminal#5481. Cc @carlos-zamora.

[2020-05-16 12:05] codeofdusk commented on #11170
Just to confirm, could you please run `WindowsTerminal.exe` from the same archive and try to reproduce the issue from there?

[2020-05-16 12:12] Adriani90 commented on #11157
@DrSooom I don't really follow your argumentation. When you open a document NVDA reports the window title and the body of the document, sometime only the first line. For sighted person, when he or she is moving the mouse, NVDA reports what's under the mouse. It doesn't make sense at all to stop reporting only the first line. For a low vision user would make much more sense to stop reporting the wi

[2020-05-16 12:14] Adriani90 commented on #11157
And again, I think #4977 already addresses the needs of low vision users in this regard anyway.

[2020-05-16 12:31] Adriani90 commented on #9174
It would be much simpler just to move the update check after the first restart of NVDA, instead of performing the update check at the first launch of NVDA.
In this case the user has already performed actions on the welcome dialog and the data usage stats.
@feerrenrut, @leonardder I don't know if this is possible at all.

[2020-05-16 13:35] Neurrone commented on #11170
Happens as well with WindowsTerminal.exe

[2020-05-16 14:02] JulienCochuyt commented on #6656
@jcsteh wrote:

Could you please explain what use case you have in mind? I'm not getting in which scenario a lambda end user might be misinformed by not knowing if the announce comes from a tool-tip or not. A developer is of course interested in this info, but most likely has other means to distinguish.
IMHO, duplicate announce is more annoying than not being sure of the technical underlying sourc

[2020-05-16 14:50] codeofdusk commented on #11170
Hmmm, could be a different issue. It does work correctly with UIA disabled and "use the new typed character support in Windows Console" enabled, correct?

[2020-05-16 16:04] Neurrone commented on #11170
I'm confused now, I suspect there might be 2 bugs going on at the same time.

1. With UIA enabled, both windows terminal and the normal console are not reading the command that I am testing with properly - they start reading at different parts of the 85 line of output from my ls -al command instead of the start of the output. Additionally, if I execute the same command successively, nothing is rea

[2020-05-16 16:09] codeofdusk commented on #11170
Terminal (i.e. `WindowsTerminal.exe`) *always* uses UIA regardless of user settings as that's all we have available (and Terminal's UIA implementation is very good in any case).
For your Windows Console testing, when UIA console is disabled, can you test with the "use the new typed character support" option both enabled and disabled? Does that option make any difference? (UIA Windows Console alway

[2020-05-16 16:17] Neurrone commented on #11170
I think there might be a difference when the new typed character option is turned on vs off, but not by much. I hear an extra % character being read when executing the same command in succession when the setting is off, but it doesn't materially affect this scenario being broken.

You mention terminal's UIA implementation being really good, do you recommend using terminal over console then? I am e

[2020-05-16 17:55] Adriani90 commented on #9337
This does not occur anymore in NVDA alpha-20220,1c4519a6 and Windows 10 1909 Update. Closing as works for me.

[2020-05-16 17:55] #9337 closed

[2020-05-16 18:03] Adriani90 commented on #9335
Closing as duplicate of #4876.

[2020-05-16 18:03] #9335 closed

[2020-05-16 18:08] Adriani90 commented on #9324
Also reproducible in Visual Studio 2019 with NVDA 2020.1

[2020-05-16 18:12] Adriani90 commented on #9322
This is also reproducible in Firefox 76 I think. NVDA reports randomly the correct state when checking the states of the checkboxes and when pressing space bar on some of them.
I am not sure if this is a web authoring issue here.
cc: @jcsteh

[2020-05-16 18:14] Adriani90 commented on #9433
How is this in NVDA 2020.1?
Also what do you mean by advanced mode? Do you mean the browse mode which can be enabled by nvda+space bar?

[2020-05-16 18:19] Adriani90 commented on #9413
This is reproducible in every dialog. I.e.
1. Open NVDA menu
2. go to help> about
3. Press nvda+b and wait
Actual: NVDA repeats the dialog content twice
Expected: the content of the dialog should be reported only once.

cc: @josephsl

[2020-05-16 18:23] Adriani90 commented on #9412
This is fixed and works as expected in Chrome 81 with NVDA alpha-20220,1c4519a6. Closing as works for me.

[2020-05-16 18:23] #9412 closed

[2020-05-16 18:28] Adriani90 commented on #9404
@HarishTerala the link requires an organisational account. This is not possible to reproduce for everyone. Could you please post a link where everyone can reproduce this issue?
Also please give us an update if this issue occurs in NVDA 2020.1. Thanks.

[2020-05-16 18:38] Adriani90 commented on #9399
The implementation of this will depend on #5599.

[2020-05-16 18:40] Adriani90 commented on #9395
Closing as duplicate of #5599.

[2020-05-16 18:40] #9395 closed

[2020-05-16 18:44] Adriani90 commented on #9393
@fernando-jose-silva can you still reproduce this in NVDA 2020.1 and Windows 10 1909 Update?

[2020-05-16 18:49] Adriani90 commented on #9385
This is still reproducible in NVDA 2020.1 and Chrome 81.
And also in Firefox 76.
cc: @aleventhal
cc: @jcsteh

[2020-05-16 21:22] Adriani90 commented on #9501
Tested in Chrome 81 and Firefox 76 with NVDA alpha-20220,1c4519a6. Everything works as expected now. Closing as works for me.

[2020-05-16 21:22] #9501 closed

[2020-05-16 21:34] Adriani90 commented on #9498
NVDA works correctly with this table in Chrome 81 and Firefox 76, In the third column, all the buttons are reported. If you enable "clickable" in document formating settings in NVDA, then NVDA will also report the clickable atribute on the elements in the column headers.
I am closing as works for me. But please feel free to comment on this if you think I have misunderstood this issue and we can re

[2020-05-16 21:34] #9498 closed

[2020-05-16 21:37] Adriani90 commented on #9496
Here I think we need suport from some sighted people.
Maybe @Qchristensen or @feerrenrut can help here.

[2020-05-16 21:39] Adriani90 commented on #9496
@caseyjhol of course NVDA is also meat to allow users to use the mouse. It's just that this test case is not very intuitive for blind users. In which browser did you reproduce this?

[2020-05-16 21:55] Adriani90 commented on #9489
This works correctly with NVDA alpha-20220,1c4519a6 and Internet Download Manager 6.37. Closing as works for me. Feel free to comment on this issue if you are still haing it and we can check again.

[2020-05-16 21:55] #9489 closed

[2020-05-16 21:56] Adriani90 commented on #9488
I think @josephsl might be the best person to answer the question here.

[2020-05-16 22:00] josephsl commented on #9488
Hi,

The thing is, I'm not really a OneNote user, so can't comment on that. Sorry.

Thanks.

[2020-05-16 22:09] Adriani90 commented on #9484
This works correctly. For this to work you need to
1. In NVDA menu under preferences / settings / object presentation, enable "report object shortcut keys"
2. IN in NVDA's speech settings change the interpunctuation to "most".

By default "report object shortcut keys" is enabled, but interpunctuation is set on "some". That's probably why you didn't hear the paranthesis. Changing interpunctuation t

[2020-05-16 22:09] #9484 closed

[2020-05-16 22:13] Adriani90 commented on #9483
This works correctly with NVDA alpha-20220,1c4519a6, Chrome 81 and Firefox 76. Cjlosing as works for me.

[2020-05-16 22:13] #9483 closed

[2020-05-16 22:14] Adriani90 commented on #9481
@jakubl7545 how is this now in NVDA 2020.1 and Firefox 76? Are you still seeing this issue?

[2020-05-16 22:23] Adriani90 commented on #9476
This is still reproducible in Firefox 76 with NVDA alpha-20220,1c4519a6.

I get following error in the log:

[code]

[2020-05-16 22:24] Adriani90 commented on #9476
it's strange, that this works correctly in Chrome but not in Firefox.
cc: @jcsteh

[2020-05-16 22:26] Adriani90 commented on #9472
No update on this issue since more than one year from the initial author, I am closing this as abandoned. Please feel free to comment on it if you are still having this issue and we can reopen.

[2020-05-16 22:34] Adriani90 commented on #9464
This works as expected in focus mode in Chrome 81 and Firefox 76 with NVDA alpha-20220,1c4519a6. This works only in focus mode. In browse mode NVDA does not say anything when pressing escape to colaps the menu.
@feerrenrut The behavior is here different in browse mode and focus mode. I don't know the specific reason for this, but imo the behavior should be similar in both modes.

[2020-05-16 22:51] Adriani90 commented on #9447
I also don'T understand exactly the snippet, it seems the definition is visually:hidden and hast also aria-hidden=true. So actually the screen reader does not report it which is conform with aria spec. In order for this to work, the visualy:hidden atribute must be deleted.
cc: @MarcoZehe in case I am wrong here.

[2020-05-16 23:06] Adriani90 commented on #9694
@Qchristensen could you please try to reproduce this in last Alpha? Thsi should be much better now I think.

[2020-05-16 23:28] Adriani90 commented on #8775
@dangmanhcuong87 could you please test with NVDA last alpha and see if this is still an issue?
You can download the last alpha verson here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-16 23:42] Adriani90 commented on #8707
@feerrenrut is this a duplicate of #7841?

[2020-05-16 23:53] caseyjhol commented on #9496
@Adriani90 When I initially posted, I had tested in Firefox 66. I've also tested in Firefox 75.0. I tested in Chrome also, but hovering over the text in either box doesn't work.

[2020-05-17 02:50] louie-prog commented on #9549
good day to all most especially to Qchristensen. I have read the comments and personally agree with some of them.
firstly is I would agree with this concept: Change the desktop object navigation and review cursor keys to be active in desktop layout only, not all. secondly, I would also agree on the following suggested solutions: 1. Current laptop layout "hybrid" keyboard layout, and make a new lap

[2020-05-17 06:28] DrSooom commented on #9174
@Adriani90: That's not possible, because you cannot use the file "nvda-old.log" to figure out if NVDA was restarted. So you would need a new parameter in the file "nvda.ini" for doing this. And that new parameter isn't necessary in my above mentioned solution. Furthermore you must ensure that the user already know and set all the above mentioned parameters for performing or not performing the upda

[2020-05-17 06:45] Neurrone opened #11172 "Efficiently reviewing the output buffer in terminals"
CC: @codeofdusk

### Is your feature request related to a problem? Please describe.

I couldn't figure out how to do the following:

1. Efficiently review text that has scrolled offscreen.
2. Efficiently copy parts of the buffer to the clipboard that have scrolled offscreen
3. Find occurances of a search term of interest, which is really useful in many situations. Both the legacy terminal and the

[2020-05-17 06:52] codeofdusk commented on #11172
For offscreen text there was #9735, but this was rejected in favour of using the native scrolling commands.

[2020-05-17 06:55] Neurrone commented on #11172
Can we revisit #9735? Are there performance concerns if offscreen text can be reviewed? This would be really useful given how poorly the text selection keys are supported.

[2020-05-17 06:55] codeofdusk commented on #11172
Cc @feerrenrut.

[2020-05-17 06:58] Neurrone commented on #11172
What are your thoughts on having a virtual document mode that we could fall back on using? Is that technically feasible? E.g, to solve the find problem and maybe tables.

[2020-05-17 07:46] DrSooom commented on #11157
I suggest to keep this issue here open, as it has nothing to do with issue #4977. After issue #4977 was solved, we should figure out the next steps regarding when on which situations a speech output is still desired and when not. And this issue here is one of them.

@Adriani90: Please ask a sighted person how he reads a letter or a newspaper. With "focusing" I meant focusing primary with the eyes,

[2020-05-17 07:48] Dennisl123 commented on #11157
I completely agree.

From: Daniel Mayr <notifications@github.com>
Sent: Sunday, May 17, 2020 3:46 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

I suggest to keep this issue here open, as it has nothing to do with issue

[2020-05-17 09:13] chojiro opened #11173 "NVDA unable to identify link in HTML messages in Outlook for Office 2019"
NVDA does not consistently identify links in HTML-messages in Outlook 2019. NVDA reads the text, but not whether it is a link or not. Using NVDA+F7 to bring up the elements list shows only the links NVDA will properly identify, but not other links that are present. Pressing Shift+F10 to bring up the context menu for actual links shows that it is a link, but NVDA doesn't see it as such.

### Steps

[2020-05-17 10:46] Adriani90 commented on #11157
@DrSooom > Please ask a sighted person how he reads a letter or a newspaper. With "focusing" I meant focusing primary with the eyes, not with the mouse or the keyboard. Visual and haptic reading are totally different things. You cannot compare them.

so we are on the same line here. Tough, suppressing only the first line from reporting does not make sense at all for a sighted person. Either we imp

[2020-05-17 10:46] #11157 closed

[2020-05-17 10:57] fernando-jose-silva commented on #9694
I can still easily replicate the problem
In the annex that follows, in cell a1 there is a date 02/15/2006
when i press ctrl + home nvda reads this date as expected.
In cell a2 in cell a2 there is the date 17/05/2020
However when I press the down arrow I heard the contents of cell A1 again.
nvda alfa 20220
excel EXCEL.EXE, Microsoft Office 16.0.12730.20270
windows 10 19041.264 64bit
voice synthesiz

[2020-05-17 10:59] Adriani90 commented on #9549
Yes, I also think the simplest way would be to introduce a hybrid key board layout which just let the numpad keys untouched. The user can use the numpad keys for the standard actions provided by the device or can assign NVDA specific functions to them.

[2020-05-17 11:02] Adriani90 commented on #9488
@josephsl as far as I understand this issue Onenote is used just as an example here. I think the initial author has a general question regarding how to display child objects in UWP apps via UIA.

[2020-05-17 11:04] Adriani90 commented on #9488
Onenote works correctly here, the author wants to implement the same in his or her application also. However, I am not sure if we really can help here. Microsoft would be a better advisor in answering this question in general.
@sovprene did you contact them directly and asked how they did it in Onenote?

[2020-05-17 11:09] Adriani90 commented on #9174
You don't need to call nvda_old.log to identify if NVDA has been restarted or not. I would assume there is another mechanism which also can be used (i.e. coresponding event in windows, a coresponding registry key delivering this information etc.
Doing it after restart would not require any parameter in nvda.ini. It would just be the default there. The current updatecheck behavior cannot be changed

[2020-05-17 11:12] fernando-jose-silva commented on #9393
this is still a problem.
In the log you can see:
I pressed the arrow until I changed the value to 22
when pressing the left arrow to return to the configuration option the nvda repeats 20 minutes
remembering that this value is already at 22, and when pressing the right arrow to go to the text field to enter another value, nvda repeats 20, this value is already at 22.
The only way nvda can read the

[2020-05-17 11:14] Adriani90 commented on #9504
@lukaszgo1 how is this now in NVDA last alpha? I don't experience this issue but I might not be the best one to reproduce it because i cannot see when the pages and sections visually change. But at least they are reported everytime in the same place, meaning after or before same character.

[2020-05-17 11:19] Adriani90 commented on #11051
@TamerSoliman could you post a list of the programs installed on your PC to see if something might be related there?

[2020-05-17 11:26] Adriani90 commented on #10998
@eDADMSFTChristopher I logged into this website and saw that someone needs administrator permission to access the app. I guess it is easy to reproduce for an administrator but not for everyone. Given this restriction we will not be able to investigate here. If this is confidential, please contact NV Access directly and discuss with them this issue or provide here a minimal test case.
I am closing

[2020-05-17 11:26] #10998 closed

[2020-05-17 11:30] DrSooom commented on #9174
Please explain this. The above checks are doe in the background. The end user will only note that the update window no longer interrupts him in some situations on startup.

[2020-05-17 11:34] Adriani90 commented on #9174
Sometimes the data usage stats appears first, after that the welcome dialog. Sometimes this behavior is the other way round. And sometimes there are other dialogs appearing, i.e. regarding addon compatibility if you already have a user configuration in %appdata% on your system from any previous NVDA installation. That’s why it would be really difficult for a developer to implement your proposal co

[2020-05-17 11:39] Adriani90 commented on #10790
@TechHorseG  This seems specific for voice language for a synthesizer and is a bug which should be fixed by Microsoft. If you like, you can post a link for the bug with Microsoft to this issue so that we can keep track on that. Did you report it already to Microsoft?

[2020-05-17 11:41] Adriani90 commented on #10761
@mpeyrotc how is this now with NVDA 2020.1 and VS 2019 16.5?

[2020-05-17 11:49] DrSooom commented on #9174
This would be an issue and has to be fixed. I never noted such a behavior – on portable copies, which I set up for testing.

I had no knowledge about this warning dialog. Well, then this also has to be fixed to get a strict order. And in my opinion if-then conditions are the best way to do this. And in the end the UX will be better.

[2020-05-17 11:53] Adriani90 commented on #7059
I am closing this in favor of #10733 which contains the template filed and some comments on when exactly this started to occur.

[2020-05-17 11:58] Adriani90 commented on #9174
This behavior is I think rather a WX issue and sometimes also related to system performance. So no way to fix this reliably in NVDA.

Regarding if parameters, For me at least, I prefer less code but same reliable results rather than lots of code which in turn cannot be easily maintained if there are many changes in the future.

Von: Daniel Mayr <notifications@github.com>
Gesendet: Sonntag, 17. Mai

[2020-05-17 12:06] Adriani90 commented on #6028
I cannot reproduce this in IE11 with NVDA 2020.1. See also issue #10733, maybe this is the same issue. However, that one can be reproduced reliably. Closing this one in favor of #10733.

[2020-05-17 12:06] #6028 closed

[2020-05-17 12:08] Adriani90 commented on #6187
I think this is strongly related to #10733. I close this one in favor of that issue. Please feel free to comment if I musunderstood this issue and we can reopen if this is not related to #10733.

[2020-05-17 12:08] #6187 closed

[2020-05-17 12:11] Adriani90 commented on #6353
This seems to contain javascript code which is reported by NVDA, see also issue #10733. It seems a general issue when using javascript in IE and NVDA. I am closing this issue in favor of #10733 but please feel free to comment on this if I misunderstood this issue and if this is not related to #10733.

[2020-05-17 12:11] #6353 closed

[2020-05-17 12:19] Adriani90 commented on #7037
@lukaszgo1 could you please try to reproduce this issue on Windows 7? It seems people on other windows versions cannot reproduce but only on Win7.

[2020-05-17 12:32] Adriani90 commented on #9816
I can reproduce this in Chrome, however, this does not occur everytime but randomly. However, I think this does not have a visible impact for users of the stable version of NVDA at least I couldn't find one.
The other issue regarding the language being reported multiple times, this is still occuring in NVDA 2020.1 but I think there was another issue for that specifically.

[2020-05-17 12:36] amirsol81 commented on #9816
@Adriani90 I can duplicate both issues with both NVDA 2020.1 and Alpha 20220. The first one is more pronounced in MS Word 2019 and Chrome although it affects, say, one out of every three or four tries.

[2020-05-17 12:41] Adriani90 commented on #9643
When trying to run this addons from the Wiki article "extra voices", NVDA says file format not supported. There are errors due to incompatible manifest.ini

[code]

[2020-05-17 12:43] Adriani90 commented on #9643
@qchristensen, @feerrenrut, if this addon is not maintained at all, then at least it should be removed completely from the article extra voices. There are still people outthere being held to older NVDA versions by incompatible addons. So it would be good at least not to promote incompatible addons at all. Maybe someone of you can clean up abit the extra voices page and update the link there.

[2020-05-17 12:43] Adriani90 commented on #9643
I am closing this issue for now due to discontinued maintenance for that addon.

[2020-05-17 12:43] #9643 closed

[2020-05-17 12:49] JulienCochuyt commented on #9174
@Adriani90 wrote:

IMHO the update prompt shouldn't ever appear before the "Welcome" and the "Allow usage stats"  dialogs have been dismissed - whatever the answers the user gave. This looks fairly easy to implement for what I can see in the code at a first glance.

@DrSooom for clarity, could you please re-title this ticket something like "Update check prompt interrupts reading the Welcome dialog

[2020-05-17 12:56] Adriani90 commented on #10669
This seems only reproducible with some languages of One core voices, i.e. romanian language and not with german or french for example. Thus this is a synth specific issue and needs to be addressed with Microsoft. there is nothing NVDA can do here. Closing as invalid. But please post a link to the Microsoft bug report so that we can keep track on that if you want.

[2020-05-17 12:56] #10669 closed

[2020-05-17 13:16] Adriani90 commented on #9533
This issue does not occur in NVDA 20201 and Chrome 81. Moreover, I get a 404 error when the new tab opens after clicking on link 1.
I am closing as works for me. If this issue still occurs for you with NVDA 2020.1 and Chrome 81, please post here an updated example to reproduce with and we can reopen. Thanks.

[2020-05-17 13:16] #9533 closed

[2020-05-17 13:19] Adriani90 commented on #9525
You could also go to the old version of control panel and see there under the accessibility settings if it is displaed there.
cc: maybe @josephl can explain better where exactly to look for the drivers.

[2020-05-17 13:25] Adriani90 commented on #9519
This seems solved in NVDA 2020.1 with Firefox 76. Closing as works for me.

[2020-05-17 13:25] #9519 closed

[2020-05-17 13:44] louie-prog commented on #9549
exactly.

On 5/17/20, Adriani90 <notifications@github.com> wrote:

[2020-05-17 16:23] Adriani90 commented on #9628
@subbart are you still having this issue with NVDA 2020.1?

[2020-05-17 16:41] XLTechie commented on #9549
Personally I think what is needed here, is a simple toggle state for the numpad
between normal operation and object nav operation.

With that, the user could use whichever keyboard layout is desired, and then
choose (possibly on the fly) which numpad mode to use.

Can the numlock be overridden sufficiently to give it a third mode? It could be
the ideal candidate for making this switch: numbers, ob

[2020-05-17 16:43] lukaszgo1 commented on #9504
This still occurs with latest NVDA alpha and this specific file - no idea what is so special about it yet.

[2020-05-17 16:47] Adriani90 commented on #9591
@enessaribas could you please try with NVDA 2020.1? Is this issue still occuring for you?

[2020-05-17 16:50] Adriani90 commented on #9586
Here it seems there is a consensus that this would not bring higher benefits for users if having it implemented. I am closing this one. However, if you have a clear justification for this feature we can always consider reopening the discussion.

[2020-05-17 16:50] #9586 closed

[2020-05-17 17:02] Adriani90 commented on #9581
Thanks for reporting, closing as works for me.

[2020-05-17 17:02] #9581 closed

[2020-05-17 17:06] Adriani90 commented on #9574
This example does not work anymore, the survey is already finished. I am closing this issue since there is already one in place for combo boxes which do not expand when pressing enter on them.

[2020-05-17 17:06] #9574 closed

[2020-05-17 17:25] Adriani90 commented on #9570
This is working fine now with NVDA 2020.1, Chrome 81 and Firefox 76. Closing as works for me.

[2020-05-17 17:25] #9570 closed

[2020-05-17 17:32] josephsl commented on #9488
Hi, one workaround I did for cases like this is creating a tree interceptor (#8466). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Sunday, May 17, 2020 4:03 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA in the OneNote UWP (#9488)

@josephsl <https://github.com/josephsl>  a

[2020-05-17 17:44] Adriani90 commented on #11133
@jcsteh I think I can reproduce this:
My approach: Be in focus mode when pressing c first time. Have NVDA switch automatically to focus mode on system focus and carret, then it will be automatically in focus mode when opening Google drive.

Then NVDA changes to browse mode after pressing c, but instead of moving the virtual cursor to the bottom of the page where the menu is, the virtual cursor is

[2020-05-17 17:48] Adriani90 commented on #11113
cc:@bramd

[2020-05-17 17:56] Adriani90 commented on #10836
@mohammad-bede please provide a test example. From what you describe I cannot reproduce in Chrome 81 with NVDA 2020.1.
Can you confirm?

[2020-05-17 17:57] Adriani90 commented on #10835
@annameyerepic please provide a test example so that we can reproduce this issue. Otherwise it will be too difficult to investigate further. Thanks.

[2020-05-17 18:02] Adriani90 commented on #10756
I can reproduce this in every browser (Chrome 81, Firefox 76 and Edge Chromium 81). It seems NVDA does not recognize the word suggestions and "object replacement character" is reported when pressing enter on a word suggestion.

[2020-05-17 18:11] Adriani90 commented on #10489
Oh yeah that's really slow in Chrome. See this log:

[code]

[2020-05-17 18:15] Adriani90 commented on #10489
In Firefox is much faster, between 0.7 and 1.3 seconds:

[code]

cc: @feerrenrut, @aleventhal

I tested in Chrome 81 and NVDA alpha-20220,1c4519a6

[2020-05-17 18:17] Adriani90 commented on #10423
@larry801, @XLTechie can you still reproduce this issue in Chrome 81 and NVDA 2020.1?

[2020-05-17 18:21] Adriani90 commented on #9902
I think @derekriemer is actually having some work on this but I am not sure if it would exactly address this issue. That work will refactor the live region handler in the NVDA helper.

[2020-05-17 18:31] Adriani90 commented on #9623
This works as expected in NVDA 2020.1 and Chrome 81 or Firefox 76. You might have to enable screen reader and braille support in Google presentations for this to work properly.
Closing as works for me.

[2020-05-17 18:31] #9623 closed

[2020-05-17 18:40] Adriani90 commented on #8210
@Qchristensen I think this needs to be solved by Google, I don't think NVDA can do anything about it since they seem to decide what's exposed and split them in these two cathegories (screen reader suport) and (braille support). In my view, I think screen reader support is kind of a support for people who need a screen reader but still have some vision while braille support is for people which are

[2020-05-17 18:54] enessaribas commented on #9591
Hello,
As I cannot relyably reproduce this, I cannot test.  The main problem here is that NVDA crash completely crashes the entire pc, and not just NVDA or Excel.

[2020-05-17 18:54] Adriani90 commented on #7938
@fernando-jose-silva can you try to reproduce this with NVDA 2020.1? I cannot reproduce it is seems this entry is not in the accessibility menu anymore.

[2020-05-17 18:57] Adriani90 commented on #7613
Is this related to displaymodel?

cc: @leonardder

[2020-05-17 18:59] Adriani90 commented on #6856
@josephsl could you please try to reproduce this? There have been many changes since las update on this issue.

[2020-05-17 19:05] Adriani90 commented on #6603
This works correctly with NVDA alpha-20220,1c4519a6, Chrome 81 and Firefox 76.
Closing as works for me.

[2020-05-17 19:05] #6603 closed

[2020-05-17 19:24] fernando-jose-silva commented on #7938
I also can't reproduce the problem anymore, the report item is no longer present in accessibility.

[2020-05-17 19:32] Dennisl123 commented on #11157
No You unilaterally decided to close the thread again it should not be closed!

From: Adriani90 <notifications@github.com>
Sent: Sunday, May 17, 2020 6:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

@DrSooom <https:/

[2020-05-17 19:33] Dennisl123 commented on #11157
This thread needs reopened.

From: Adriani90 <notifications@github.com>
Sent: Sunday, May 17, 2020 6:47 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Dennisl123 <dennisl1982@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] option for NVDA to not automatically read first line of document (#11157)

Closed #11157 <https://github.com/nvaccess/nvda/issues/11157> .

—
Y

[2020-05-17 22:13] jcsteh commented on #11133
I explained this in https://github.com/nvaccess/nvda/issues/11133#issuecomment-626419560. The focus event for the button gets fired after the menuStart event for the menu, resulting in the focus event overriding the menuStart event.

NVDA is supposed to switch to browse mode for a button. However, it's not supposed to do this for quick navigation, so I don't know why that part is breaking.

[2020-05-17 22:15] JulienCochuyt commented on #11172
@codeofdusk, if #9735 is ever revived:
 - `NVDA+F9` / `NVDA+shift+F9` could be used to mark and jump for easier review of the last command executed. Currently, it works only when no scrolling occurred.
 - An approach similar to PR #9785 could be tested on terminal consoles: jumping to next/previous position where `enter` was pressed - less efficient than on the Python console, but still a big impr

[2020-05-17 22:20] jcsteh commented on #9464
This is definitely an NVDA bug. It's the same underlying cause as #6606. This would have been fixed by #8869, but that was reverted due to problems.

[2020-05-17 23:41] Qchristensen opened #11174 "NVDA often reports "Line feed" when navigating text in Balabolka"
### Steps to reproduce:

Open Balabolka
Use the arrow keys to navigate through text.

### Actual behavior:

NVDA often (but not always) reports "Line feed" instead of the current character.

### Expected behavior:

NVDA should read the current character

### System configuration
#### NVDA installed/portable/running from source:
#### NVDA version:

2020.1 installed

#### Windows version:
Windows 10

[2020-05-18 00:18] jcsteh commented on #9476
This page frequently toggles CSS visibility on its main content area. That is pretty strange (and I'd say rare), but I've filed a Firefox bug to try to deal with this better: https://bugzilla.mozilla.org/show_bug.cgi?id=1638713
That said, this is unlikely to be fixed quickly, since I've only ever seen this odd behaviour on this one site.

[2020-05-18 00:22] jcsteh commented on #9385
Similar behaviour can also be seen in, say, Notepad. NVDA probably shouldn't try to read the deleted/next character when pressing backspace/delete if there is a selection, since the selection code will handle that.

[2020-05-18 00:25] jcsteh commented on #10484
If I'm right about events being dropped as per https://github.com/nvaccess/nvda/issues/10484#issuecomment-557030009, #11077 should fix this.

[2020-05-18 00:26] jcsteh commented on #9322
Duplicate of #10484. Even though this one is older, closing as a duplicate of the other issue because it has more technical detail and discussion.

[2020-05-18 00:26] #9322 closed

[2020-05-18 00:47] jcsteh commented on #6656
In order to eliminate duplication, you have to compare against some other object. If you compare against the focus, consider the following scenario:

1. The user focuses a button. The button is actually an icon, but it has a label for a11y.
2. The user later decides to move the mouse around the screen to explore. (Perhaps the user has some vision.)
3. A tooltip appears, with the same text as the a

[2020-05-18 00:58] gregjozk commented on #11169
same problem.
sometimes I can recover NVDA but usually I must restart a computer.
It happens after computer is running 1+ days without a restart. I suspect, that combination of NVDA and firefox is a problem, because I have not meet this problem, when I continuously used other programs and browsers with firefox closed.
next time will paste a log.
just an observation: it happens quicker, if a comput

[2020-05-18 01:20] jcsteh commented on #11169
That's the "RPC hang" marco referred to here:
You can track and discuss that here: https://bugzilla.mozilla.org/show_bug.cgi?id=1572915

@gregjozk, I suspect you're seeing the RPC hang as well, rather than this audio issue... unless you're seeing the nvwave freeze in your log file as well.

[2020-05-18 03:00] gregjozk commented on #11169
yes, you are correct. in the log, there is also rpc.
as I said earlier, I will send log to you on debug warnings level.

hope, it would help to investigate.

2020-05-18 3:20 GMT+02.00, James Teh <notifications@github.com>:

[2020-05-18 03:38] ehollig commented on #7938
Closing as worksforme as mentioned in https://github.com/nvaccess/nvda/issues/7938#issuecomment-629847573

[2020-05-18 03:38] #7938 closed

[2020-05-18 04:19] Neurrone commented on #11172
@JulienCochuyt agreed about tables being much trickier. I only mentioned it because it can only be solved if the output buffer can be rendered in a virtual document, which could affect how this problem is solved. Having a virtual buffer would also make review and find much more pleasant.

[2020-05-18 04:30] fireseed66 commented on #11174
Use the left and right arrows to navigate by character, or control + the left and right arrows to navigate by word.

[2020-05-18 06:39] JulienCochuyt commented on #6656
OK, thanks, I guess we're on the same track here.
The relevant info is not that the announce comes from the focus or from the mouse.
The important point is that an announce is made,
With NVDA becoming lastly more and more friendly towards low-vision users, the user base has grown significantly. As long as the annoyance of the duplication can be removed for our primordial target audience, that is u

[2020-05-18 07:31] JulienCochuyt commented on #6656
Further testing, I can confirm that, at least on Windows 10, the tool-tip appears not because of NVDA moving the mouse, but because of the icon being focused.
With NVDA being shutdown, hitting `windows+b` to focus the systray then focusing individual icons with left and right arrows, the tool-tip does appear, despite the mouse not apparently moving.
Indeed, NVDA moves the mouse away to avoid focus

[2020-05-18 07:36] josephsl commented on #8679
Hi,

Note that wx.YieldIfNeeded may or may not help - changing wx.Yield to wx.YieldIfNeeded in api.py doesn't improve #6800
Thanks.

[2020-05-18 08:08] leonardder commented on #11157
This thread is very long and messy and there I'm very reluctant to reopen it. I'd suggest opening a new issue using the feature template: https://github.com/nvaccess/nvda/issues/new?template=feature_request.md

@Dennisl123 please pay extra attention to the rationale, i.e. why you think this feature is benefitial).

[2020-05-18 08:11] feerrenrut commented on #11157
Yes, agreed with @leonardder.

The issue description is not complete, and this is a very long discussion that does not clarify the problem.  This issue should stay closed. Please create a new issue and accurately describe the problem.

@Dennisl123 If have trouble with this, please ask for assistance on mailing lists or in your local NVDA community. Alternatively consider NV Access support: https:/

[2020-05-18 11:03] Futyn-Maker commented on #11174
In addition to author's comment, the problem is not only in Balabolka. I see it also in DBT and other programs which contain text editors. It is impossible to normaly navigate by left and up arrows.

[2020-05-18 14:17] ghost opened #11175 "NVDA send two dots instead of one to synthesizer"
### Steps to reproduce:
Open window "Symbol pronunciation". For "." set parameter "send actual symbol to synthesizer" = always. Read sentence "translate.google.com"
### Actual behavior:
nvda read "translate.google.com" as "translate dot dot google d o t dot com". NVDA read first dot two times. NVDA read second dot two times too, but first time spell by letter.
### Expected behavior:
nvda should re

[2020-05-18 15:17] dyedwiper commented on #11068
Any news on this?

[2020-05-18 15:58] donnie-msft commented on #11109
Could folks elaborate on the UIA implementation problem? I'd like to engage with other teams (WPF, XAML, et al) to improve this experience if there's a problem.

My current take is that NVDA is listening to every possible PropertyChanged event that WPF fires.
I'm not sure the right thing is to rewire WPF not to fire these at all. Are the suggestions above that WPF shouldn't expose PropertyChanged

[2020-05-18 16:28] fisher729 commented on #11175
Hi.

Did you set both dot symbols (.) including the sentence ending punctuation, present in the Symbol Pronunciation dialog to always be processed by the synthesizer? I feel this occurs because you've only configured one of them to do so.

[2020-05-18 16:49] AlexeyCAT commented on #11175
Hi! Download NVDA 2020.1. Install it as portable in new fresh folder. Run nvda from this folder. Open window "Symbol pronunciation". For "." set parameter "send actual symbol to synthesizer" = always. Dont't do anything else. And you will see how nvda read every dot twice. I dont't touch ". sentence ending".

[2020-05-18 17:19] fisher729 commented on #11175
Hi. I can confirm that this does occur. However, it most likely occurs because there are two entries in the Symbols dictionary for the dot (.), one for sentence ending and the other for general use. Sentence ending dots are always sent to the synthesizer, and once you set the general dot to be sent to the synthesizer, the result is that NVDA thinks both dots are to be reported.

I honestly do not

[2020-05-18 17:37] AlexeyCAT commented on #11175
I need this because i read texts where english and russian languages occur simultaneously. RHVoice synthesizer for example can read punctuation in english sentences in english, and in russian sentences in russian without manual switching. But to make it work i need to send actual symbol of dot to synthesizer.

[2020-05-18 20:47] Adriani90 commented on #11175
I think this is a problem in the synthesizer, not in Nvda. Can you reproduce this with every synth? I.e. espeak, one core, sapi5 voices, vocalizer etc.
Cc: @ruifontes

[2020-05-18 22:35] Qchristensen commented on #11073
I can reproduce this in both Chrome: Version 81.0.4044.138 (Official Build) (64-bit)
and Firefox: 76.0.1 (64-bit).

For my example, I used last week's In-Process: https://www.nvaccess.org/post/in-process-14th-may-2020/

Ensure screen layout is off, NVDA+V.
Press N to jump to the first non-linked text, the date line just above the first paragraph.  Press DOWN ARROW from there, NVDA reads "Welcome t

[2020-05-19 04:01] AlexeyCAT commented on #11175
Hi! I reproduced this problem now with espeak, rhvoice, one core.

[2020-05-19 08:41] lukaszgo1 commented on #9001
I'm no longer able to reproduce this on Twitter or PayPal either - I guess these websites has changed ANother example of this behavior is login form on Audible.

[2020-05-19 08:43] larry801 commented on #10423
Cannot reproduce in alpha 20200 Chrome 81 windows 8.1

[2020-05-19 08:43] #10423 closed

[2020-05-19 08:56] #9416 closed

[2020-05-19 12:17] leonardder opened #11177 "NVDA announces document replacement character for Firefox documents"
### Steps to reproduce:
1. Open Firefox
2. Disable browse mode
3. Focus the address bar with alt+d
4. Open: `data:text/html, <p>something</p>`
5. Focus the document by tabbing into it.

### Actual behavior:
NVDA says: Document object replacement character.

### Expected behavior:
No announcement of object replacement character as it is irrelevant.

### System configuration
#### NVDA installed/port

[2020-05-19 13:31] ruifontes commented on #11177
It also occurs in Thunderbird, installed or portable, version 68.8.0 (32-bit) 68.8.0

[2020-05-19 16:07] Adriani90 commented on #10441
Cc: @jcsteh

[2020-05-19 17:53] oferb commented on #4242
Could this kind of support be implemented as an NVDA add-on?
For example, having NVDA read the following while emphasizing "lazy":
"The quick brown fox jumps over the **lazy** dog"

Emphasis could be done using different pitch, volume, delay etc.
This would be similar to how people would actually say the sentence when reading it out loud.

[2020-05-20 02:16] ObjectInSpace commented on #5423
NVDA reads the slider in browse mode as well as focus mode for Chrome 83.0.4103.61.

[2020-05-20 02:36] ObjectInSpace commented on #7915
I got rather inconsistent results in both Chrome and Firefox. It appears to work better if the window is maximized, however it did not correctly rout every time in either browser and I wasn't able to tell when it would fail and when it would succeed. Routing the navigator object to current focus with NVDA+numpad minus was similarly inconsistent.

[2020-05-20 03:57] #10811 closed

[2020-05-20 08:47] CyrilleB79 commented on #10811
@SeanTolstoyevski could you comment on why you closed this issue, as well as the corresponding PR #11035? Thanks.

[2020-05-20 09:47] mwhapples commented on #2134
Still a problem with NVDA 2020.1 and SWT 4.15.

[2020-05-20 10:11] jcsteh commented on #2134
Your log file shows the Developer Info (NVDA+f1) for the Windows console. You need to use object navigation to move to the object which should have the name, then press NVDA+f1 at that point and provide the resulting log snippet.

[2020-05-20 14:07] Neurrone commented on #11170
I managed to reproduce an issue that I seen before, where even though there is new text being written to the output even if it is a small amount of text, NVDA doesn't echo it at all, which I found pretty disturbing.

I was using curl to test a buggy liveness check for a service (checking that curl returns 200 in response to an API call). Curl outputs the status code that it receives. After a few t

[2020-05-20 15:45] fisher729 commented on #11175
Have you tried to set the sentence ending dot (.) to never in the dialog? Try that and report your findings.

[2020-05-20 18:53] AlexeyCAT commented on #11175
fisher729, If i set always for "." and set never for ". sentence ending", then nvda read every dot once. That is good. But nvda doesn't pause after sentences in that case. That is bad.

fisher729, i only now fully understand what you said to me previously. So now i understand why nvda send two dots. But i would prefer that nvda send general dot to synthesizer only when that dot is not sentence end

[2020-05-20 18:59] fisher729 commented on #11175
Hi.

Try setting the dot (not the sentence ending one) to only voice below the
symbol level. Does this help?

On Wed, May 20, 2020 at 1:53 PM AlexeyCAT <notifications@github.com> wrote:

[2020-05-20 19:27] matthewdouglas commented on #10866
See:
https://bugs.chromium.org/p/chromium/issues/detail?id=1067257
https://bugs.chromium.org/p/chromium/issues/detail?id=863375#c29

I'm able to reproduce in Chrome 83. Using `role="log" aria-atomic="false" aria-live="polite"`.

Behaves as expected in Firefox 76.

[2020-05-20 20:47] Carlos-EstebanM commented on #10895
Hello, I also have this problem and i am the user that report this problem in Twitter.
I use the last version of Edge, and Windows 10 1909.

[2020-05-20 21:04] Adriani90 commented on #5423
Confirmed it works correctly in Chrome 83. Closing as works for me.

Regarding the quick navigation key to sliders and spins, this could be discussed on a separate issue.

[2020-05-20 21:04] #5423 closed

[2020-05-20 21:31] Adriani90 commented on #11165
This seems only reproducible in Chromium browsers.

cc: @aleventhal

[2020-05-20 21:33] Adriani90 commented on #11098
This is working fine now in Chrome 83.

Closing as works for me.

[2020-05-20 21:33] #11098 closed

[2020-05-20 21:39] Adriani90 commented on #9538
@ctoth without a test document it will be really hard to develop something. Just a reminder. Please provide a test document.

[2020-05-20 21:43] Adriani90 commented on #9732
@jerryfu823 could you please give an update on how it is now with NVDA 2020.1? Thanks.

[2020-05-20 21:43] Adriani90 commented on #9731
@jerryfu823 could you please test now with NVDA 2020.1? How is the behavior now?

[2020-05-20 21:48] Adriani90 commented on #9723
@NavyaGoberu for this issue to be reproduced someone needs a mandant to the Microsoft which is not possible to gather for everyone. So please contact NV Access directly and give them the correct permissions to access the app and to reproduce this issue. It is not possible to investigate this by the community. I am closing this for now.
If you like, you can contact NV Access at info@nvaccess.org

[2020-05-20 21:48] #9723 closed

[2020-05-20 21:54] Adriani90 commented on #9717
This works correctly now with NVDA alpha-20220,1c4519a6 and Firefox 76. I am closing as works for me.
But please don't hesitate to comment on this if you think I misunderstood the issue and we can reopen it afterwards.

[2020-05-20 21:54] #9717 closed

[2020-05-20 22:06] Adriani90 commented on #9715
Strange enough, if I navigat ein browse mode with ctrl+alt+arrow keys, NVDA navigates the column headers as if it was a table "email, subject etc.). But If I navigate with ctrl+alt+down arrow, after that NVDA says not in a table cell. So this might occur because when you press down arrow in the column while in focus mode, the grid is expanded. However, when you press ctrl+alt+down arrow on the gri

[2020-05-20 22:08] Adriani90 commented on #9710
@tahoon-ms could you please test with NVDA 2020.1 and Chrome 83?

Please also provide a test website where we can reproduce this. Thankks.

[2020-05-20 22:10] Adriani90 commented on #9832
No updates from the initial author. I am closing this as works for me. Please feel free to comment on this if you are still having this problem and we can reopen. Thanks.

[2020-05-20 22:10] #9832 closed

[2020-05-20 22:14] Adriani90 commented on #9823
cc: @jcsteh maybe you have any suggestion here, I think there might be something else that detects the number of elements, not only aria setsize.

[2020-05-20 22:16] Adriani90 commented on #9822
I cannot reproduce this with last version of Adobe reader and NVDA 2020.1. And we don't have any updates from the initial author. Closing as works for me and abandoned.

[2020-05-20 22:16] #9822 closed

[2020-05-20 22:17] Adriani90 commented on #9799
@josephsl now that 2020.1 is out, have you had a look into this? Is this still to be done? It would be good to take care of this now that we are in maintenance loop.

[2020-05-20 22:20] Adriani90 commented on #9765
Since auto switching to focus mode is enabled by default, I agree with Jamie here. This does not have an impact on novice users. I am closing this issue for now.

[2020-05-20 22:20] #9765 closed

[2020-05-20 22:21] josephsl commented on #9799
Hi, there are more important issue/pull request pairs to consider, so this one is taking a back seat for now (besides, I’m desperate for a vacation from NVDA world for a while). Thanks.

From: Adriani90 <notifications@github.com>
Sent: Wednesday, May 20, 2020 3:18 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject

[2020-05-20 22:22] Adriani90 commented on #9764
@JamesCatt could you please provide a minimal test case or a website where we can reproduce this? Thanks.

[2020-05-20 22:24] Adriani90 commented on #9760
@hills001 I think I cannot reproduce this issue with NVDA last alpha version and Chrome 83. Can you confirm?
You can download the last alpha here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-20 22:26] Adriani90 commented on #9741
@bingen13 could you please test with NVDA last alpha version or with NVDA 2020.1 if this is still reproducible?
The last alpha version can be downloaded here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-20 23:03] jcsteh commented on #9823
First, the test case provided typos aria-setsize as aria-sersize, so it shouldn't be used for testing until that is corrected. That said:

As per the spec, the browser calculates the position and number of items in the set when aria-posinset and aria-setsize aren't explicitly set. The spec does note that setsize -1 means unknown, but it's unclear what a browser is supposed to do in that case. Unkn

[2020-05-20 23:26] tahoon-ms commented on #9710
I tried with latest NVDA and Chrome and the issue is still there. It's really easy to repro. I have created a simple sandbox at https://output.jsbin.com/nuxujiloqi.
Here is the HTML if the site is down:
[code]

It's a file input sandwiched by two buttons for convenience.

1. Tab to the file input. NVDA just says "example, button" and does not mention it is is part of the file input control.
2. Sel

[2020-05-20 23:40] Adriani90 commented on #9851
@arunksingh16 are you still having this issue with NVDA 2020.1?

[2020-05-20 23:52] Adriani90 commented on #9938
@leoagm can you still reproduce this in NVDA 2020.1 and Firefox 76? Could you please post a minimal test case or a webseite where we can reproduce this? Thanks.

[2020-05-20 23:57] Adriani90 commented on #9914
This is working properly now with NVDA alpha-20220,1c4519a6, Chrome 83 and Firefox 76. Closing as works for me.

[2020-05-20 23:57] #9914 closed

[2020-05-21 00:00] Adriani90 commented on #9896
Closing in favor of #8336 and the discussion goes further there. Here we don't have any updates from the initial author.

[2020-05-21 00:00] #9896 closed

[2020-05-21 00:10] Adriani90 commented on #10096
cc: @JulienCochuyt

[2020-05-21 00:13] Adriani90 commented on #10210
actually this is a duplicate of that issue, they are having the same underlying problem even though slightly different descriptions. I am closing this one in favor of #10086.

[2020-05-21 00:13] #10210 closed

[2020-05-21 00:25] Adriani90 commented on #10019
I think a command promt parameter for stopping NVDA to open nvda-addon files would be suitable here. However, given the warnings that are already on the addons official website, I think private users are educated enough. But for corporate environments I can imagine that security policies specify which file formats are allowed to be opened. I am quite sure that only a limited people in corporate en

[2020-05-21 00:29] Adriani90 commented on #10009
@luisluix are you still seeing this issue in NVDA 2020.1 with Firefox 76?

[2020-05-21 00:31] Adriani90 commented on #9987
@MarcoZehe are you still seeing this issue in Firefox 76 with NVDA last alpha? Does it make a difference if you have a braille display connected or not?

[2020-05-21 01:23] XLTechie opened #11180 "Indentation announcements broken for table navigation commands in browse mode tables"
### Steps to reproduce:

Turn on one of the line indent indication modes in Document Formatting.

Visit this URL:
https://medium.com/automation-generation/manage-your-stocks-from-google-spreadsheet-using-api-43026db44289

Navigate to the table which contains the large block of code (only table on the page).

### Actual behavior:

In what follows, I will indicate row and column numbers as row:colum

[2020-05-21 01:51] MarcoZehe commented on #9987
No, this issue can be closed.

Am Do, 21. Mai 2020, um 02:31, schrieb Adriani90:

[2020-05-21 04:10] JulienCochuyt commented on #9851
@Adriani90 wrote:

Most likely, yes.
There is no native AT support within Citrix environments.
The reason I CC'ed Leonard back then is because Babbage made it possible to use NVDA in Citrix through a commercial offer, which is by the way mentioned on the [NV Access Partners page](https://www.nvaccess.org/partners/).
For more details, see [UnicornDVC from Access4U](https://access4u.eu/product/unico

[2020-05-21 05:01] JulienCochuyt commented on #10096
I guess that in focus mode, table cells should not have their name inferred from their content when reporting the focus ancestry as contextual info.
@jcsteh, what do you think? Is that something easily feasible with the current architecture? Or maybe can you think of a case where the above statement would not be satisfying?

[2020-05-21 05:12] Qchristensen commented on #10822
Closing this as a duplicate of #3286.  The issue itself is still valid, but please continue conversation of it in issue #3286.

[2020-05-21 05:12] #10822 closed

[2020-05-21 05:34] JulienCochuyt commented on #10019
@elliott94 wrote:

What is the use case defended here?
The typical use case for choosing file associations at installation time is to ensure a newly installed piece of software does not interfere with your current file associations. That is, being able to keep on opening the said files with your software of choice rather than the newly installed one, despite its capabilities. Eg. When installing L

[2020-05-21 06:03] glin opened #11181 "aria-hidden elements in table headers can be read as spaces in Chrome"
When there's an element with the `aria-hidden="true"` attribute in a table header cell, NVDA can read that element as a space or "blank" if the element's text content is changed. This only seems to happen if the aria-hidden element is next to a block element (e.g., div) in the header, but not an inline element or text node.

For example, if you change the text of both aria-hidden elements in this

[2020-05-21 06:33] JulienCochuyt commented on #11180
Note that indentation is also not announced when reporting current line with `kb(desktop):NVDA+upArrow` / `kb(laptop):NVDA+l`
Thus, I'd say the issue is not limited to tables, but rather to how indentation is detected/reported.

[2020-05-21 06:39] SarveshNamjoshi opened #11182 "NVDA is skipping error messages while reading multiple errors on the screen with role="alert""
Hi team,
I am having a form with multiple text boxes implemented in **React** using **Office UI Fabric** components.

There is a required field validation on each of the text box and if there is no value entered in the text box and if user tries to submit the form, error messages are displayed below each text boxes saying that the field is required.

I have verified in the **Google Chrome Dev Tool

[2020-05-21 06:57] raducoravu opened #11183 "NVDA considers words differently than caret navigation in Java application"
Let's say I have a Java text area with some content inside:

    public static void main(String[] args) {
      JFrame fr = new JFrame();
      fr.setSize(500, 500);
      JTextArea jt = new JTextArea("    <body id=\"abc_def_hij\">");
      fr.getContentPane().add(jt);
      fr.setVisible(true);
    }

I place the cursor before the "id" string, NVDA reads to me the entire text:

   id="abc_def_hij

[2020-05-21 07:16] Brian1Gaff commented on #11182
I've had this problem with almost every browser from time to time. Forms can
be very unreliable. Though it pains me to say it, Jaws normally manages
better.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users

[2020-05-21 07:18] AlexeyCAT commented on #11175
fisher729, please tell me needed values in:

1. preferences->settings->speech->Punctuation/symbol level
1. "level" and "send actual symbol" at preferences->punctuation/symbol pronunciation->"."
1. "level" and "send actual symbol" at preferences->punctuation/symbol pronunciation->". sentence ending"

[2020-05-21 07:29] FelixGruetzmacher commented on #8389
Still seeing this one a lot, especially when starting Office apps or browsers, across a wide array of machines of different power. How far along are we towards a solution, however experimental or provisional?

[2020-05-21 10:15] DrSooom commented on #11177
See also: Issue #10634 – especially [my comment here](https://github.com/nvaccess/nvda/issues/10634#issuecomment-566758080).

[2020-05-21 10:42] DrSooom commented on #11182
@SarveshNamjoshi: Which TTS synthesizer are you using? Please try to reproduce this with [NVDA 2020.1](https://www.nvaccess.org/files/nvda/releases/2020.1/nvda_2020.1.exe) (running it from the Installer should be enough) and report the results. Thanks.

[2020-05-21 10:48] AnaBelochka opened #11184 "NVDA does't read new element after focusing from element with display="none""
### Steps to reproduce:

https://jsfiddle.net/sup6Lm3f/4/
1. Focus into result window
2. Press tab to "Not Reading" button
3. Press SPACE or ENTER keys
4. NVDA does't read aria-label or text
5. Press tab to "Reading" button
6. Press SPACE or ENTER keys
7. NVDA reads aria-label or text

### Actual behavior:
NVDA does't read new element after focusing from element with display="none"

### Expected b

[2020-05-21 11:14] SarveshNamjoshi commented on #11182
@DrSooom
We are using the inbuilt TTS Synthesizer (from tools -> Speech viewer). We tried with NVDA 2020.1 but still the issue is reproducible. It is skipping the error messages while narrating. Could you please let us know the cause and possible solution.

[2020-05-21 11:26] feerrenrut commented on #10322
I'd also suggest that if making "current application" the default, the name field should be auto-populated with the "current application" name.

[2020-05-21 12:07] DrSooom commented on #11182
1. Does this issue only occur while the Speech Viewer window is opened?
2. Go to "Preferences » Settings... » Speech". There you see the TTS synthesizer.

[2020-05-21 13:55] Neurrone opened #11185 "Activating elements in firefox occasionally doesn't work, announces battery status from system tray instead"
CC: @MarcoZehe @jcsteh

### Steps to reproduce:

1. Its hard to replicate this reliably because it only happens sometimes. The last time I saw this happening was trying to react to a facebook video via the toggle button, but have also seen this in other types in controls like links and buttons.

### Actual behavior:

The battery status icon is read out from the system tray

### Expected behavior:

[2020-05-21 14:25] SarveshNamjoshi commented on #11182
1. The issue is occurring irrespective of Speech Viewer window is opened / not opened.
2. Generally we are using "Windows OneCore Voices" TTS Synthesizer. We tried to change the TTS Synthesizer as you guided but still the issue persists.

[2020-05-21 18:23] MarcoZehe commented on #11185
I have seen this before, this often happens if the screen orientation or resolution changes while NVDA is running, for example after a new display driver update has been installed, or sometimes when returning from standby. It helps to restart NVDA then. Sometimes if this happens, the whole screen coordinate system for mouse click simulation is totally off.

[2020-05-21 21:06] jankoval opened #11186 "Settings window does not show when Serbian SAPI voices are selected"
### Steps to reproduce: Select SAPI engine and then select SAPI voice in Serbian and close the Settings window

### Actual behavior: When trying to open Settings window, it is not displayed, if tried again the error will pop up saying "An NVDA settings dialog is already open. Please close it first." When the synthesizer is switched to another type instead of SAPI, or NVDA settings are reset to def

[2020-05-21 22:26] hills001 commented on #9760
Hi, @Adriani90, I've just installed the NVDA alpha from Friday 15 May 2020 and have updated Chrome to version 83 but can still reproduce the issue. I notice in NVDA Settings/Document Formatting I had the options ticked for Tables, Row/column Headers and Cell Coordinates. Unchecking these options did solve the issue, however, I would imagine regular tables would also no longer be announced. I also

[2020-05-22 07:16] Qchristensen commented on #11019
Actually for me (Office 365 Version: 16.0.12730.20256), NVDA reports "Folder name, not selected" for every folder as I arrow down through that list.  I agree this doesn't need to be reported.  In submenus such as categorize and follow up, reporting "Selected" is useful because an item may have one or more categories, and it may be set to be followed up today or tomorrow or another time.  The optio

[2020-05-22 07:22] Adriani90 commented on #11180
Is this occuring also for other formatting reportings in document formaatting settings? Or is only indentation affected?

[2020-05-22 07:27] Qchristensen commented on #10540
I'm going to close this as a duplicate of #6959 - the issue is definitely still valid and still reproducible, just easier to keep all conversation in one place.

[2020-05-22 07:27] #10540 closed

[2020-05-22 07:28] Qchristensen commented on #6959
Yes I just closed #10540 as a duplicate of this one, since much of the information from that issue has already been replicated here.  FWIW, still the same in Office 365 Version:
16.0.12730.20256 and NVDA 2020.1

[2020-05-22 08:48] Qchristensen commented on #10847
Is this still present?  And is that original page still the same?  I couldn't trigger anything to pop up on it to test with Chrome 83...

[2020-05-22 08:52] leonardder commented on #11183
Actually, we do not use `getAtIndex` at all. This is because our offsets based implementation works differently. When you use word navigation, NVDA:

1. gets the current caret offset
2. calls getWordOffsets with the caret offsets to get the word offsets
3. calls getTextRange with these offsets to get the actual word.

This API expects us to skip the second step. However, this step is pretty essent

[2020-05-22 09:23] CyrilleB79 commented on #6959
I confirm that the focused cell info is available. I have a try branch getting this info. I will provide a PR if people agree.
The point raised by @Adriani90 still need to be discussed: Do we need to announce only the info of the focused cell or also the selected range? If both information is announced, would it not be too verbose?

[2020-05-22 09:29] raducoravu commented on #11183
Not sure what the solution could be, the Java swing JTextArea has in my opinion a better way to decide word boundaries plus various JTextArea custom implementations might have their own way of deciding what a word boundary is.
Ideally NVDA would use the API to let the component decide what the word boundaries are.
Second best would be if NVDA would work on improving its word range computation, a s

[2020-05-22 09:34] JulienCochuyt commented on #10847
@Qchristensen wrote:

What @carsonpowers refers to is displayed in the lower left hand corner of the screen.

@carsonpowers:
First of all, yes, NVDA used to read behind modal web dialogs that missed to properly trap the focus. The identified scenario have been fixed, and you'd be welcome to point out a remaining faulty one.
Nevertheless, in the example you provide, NVDA isn't doing anything wrong

[2020-05-22 09:46] lukaszgo1 commented on #11183
For what its worth JAWS respects Java word boundaries in this case.

[2020-05-22 09:46] JulienCochuyt commented on #11186
@jankoval,
Could you please open the Python Console by pressing `NVDA+control+z`, paste in the following and post here the resulting output?

[code]

[2020-05-22 10:03] Oreonan commented on #10895
Today, I not reproduce that with latest Edge's update (83.0.478.37)
But now, when open and close context menu, NVDA not rollback to browse mode
I must to switch bitween other window and Edge window to recover browse mode

[2020-05-22 10:17] jankoval commented on #11186
Hi, thank you for the quick reply. It seems the new voice we are testing is faulty, it messes up some of the system settings and NVDA does not work properly, I even could not reinstall NVDA because of this issue until I unregistered all the dlls related to the new voice and rebooted the computer. Anyway, to answer your question:

When I select any built in SAPI voice, I get the following reply:

'

[2020-05-22 10:17] #11186 closed

[2020-05-22 10:33] raducoravu commented on #11183
Both the Java swing next word navigation method (javax.swing.text.Utilities.getNextWordInParagraph(JTextComponent, Element, int, boolean)) and the accessibility API implementation (javax.swing.text.JTextComponent.AccessibleJTextComponent.getSegmentAt(int, int)) are using the Java word break iterator "java.text.BreakIterator.getWordInstance()".

I created a small Java test using the word break iter

[2020-05-22 11:07] Adriani90 commented on #11186
Excelent investigation work here, thank you very much guys! Very interesting to know.

[2020-05-22 11:10] Adriani90 commented on #11044
Is this not fixed now? cc: @JulienCochuyt I remember there was a recent PR related to this but I am not sure.

[2020-05-22 11:16] Adriani90 commented on #10668
Should this be closed then as can't fix for now?

[2020-05-22 11:22] Adriani90 commented on #8834
@CSGiuliano77 are you still having this issue with NVDA 2020.1 and Chrome 83 or Firefox 76?

[2020-05-22 12:11] Adriani90 commented on #8634
STill reproducible from time to time in Chrome 83 with NVDA 2020.1.
Following error is written to the log:

[code]

Is this overall an issue in comtypes? Or is it an NVDA issue?
cc: @JulienCochuyt, @aleventhal.

[2020-05-22 12:14] Adriani90 commented on #7681
No updates from the initial author since more than one year. Closing as abandoned. Please comment with updates on this and we can reopen.

[2020-05-22 12:14] #7681 closed

[2020-05-22 12:19] Adriani90 commented on #3081
@feerrenrut maybe also something to fix via cancelable speech?

[2020-05-22 12:35] Adriani90 commented on #945
I think the suggestion from @ruifontes is more suitable in an addon rather than in the NVDA core.
But note, you can already navigate parapgraph by paragraph with ctrl+down or up arrow key and listen only to the first sentences. So actually not really a need for an addon for this.
* You can also search for a word with NVDA+ctrl+f and then jump with nvda+f3 or shift+nvda+f3 from result to result.
*

[2020-05-22 12:35] #945 closed

[2020-05-22 12:41] JulienCochuyt commented on #11044
@Adriani90 wrote:

I don't know. The only possibly related PR I could find is #11057, but it has not been merged and closed by @dingpengyu.

[2020-05-22 12:43] Adriani90 commented on #6959
@CyrilleB79 I think it could be done like following:
* When sellecting cells, speak only the sellected cell range "a2 through b5"
* when pressing tab, report also the focused cell and afterwards the previously sellected cell range "c5 focused, a2 through b5 sellected".

[2020-05-22 15:09] Carlos-EstebanM commented on #10895
Hello.I use Edge Stable, the version is 81.0.416.77. The version 83 is in other channel?  Enviado desde Correo para Windows 10 De: OreonanEnviado: viernes, 22 de mayo de 2020 5:03Para: nvaccess/nvdaCC: Carlos-EstebanM; CommentAsunto: Re: [nvaccess/nvda] Freeze when closing context menu in Edge Chromium (#10895) Today, I not reproduce that with latest Edge's update (83.0.478.37)But now, when open a

[2020-05-22 16:45] Neurrone commented on #11185
Nothing of that sort was going on though.

[2020-05-22 18:25] TamerSoliman commented on #11051
The problem was resolved incidentally when I setup the demo version of JAWS2020 on the machine -:)

[2020-05-22 19:39] majornista opened #11187 "Screen Layout Mode with display: inline-block fails to distinguish between interactive controls"
### Steps to reproduce:
1. Open [CodePen - NVDA Screen Layout bug with display: inline-block](https://cdpn.io/mijordan/debug/YzygzxY)
2. Read through the page using browse mode.

### Actual behavior:
Here is a line-by-line transcript copied from the NVDA Speech Viewer, as an ordered list with each item being a line read by NVDA following a press of the ArrowDown key.

1. CodePen - NVDA Screen Layo

[2020-05-22 20:35] carsonpowers commented on #10847
@JulienCochuyt
The scenario I identified is fixed in FireFox, but still occurring in chrome; I can still reproduce it in using NVDA 2020.1 in
Chrome 83.0.4103.61
Chrome 85.0.4152.0

Consider this: https://jsfiddle.net/sabrick/e80x6nzp/
In this example I've modified our original scenario, giving the "overlay" a proper modal role as well as solid background. The "behindImage" is now completely obscu

[2020-05-22 21:23] majornista opened #11188 "NVDA does not read the accessibility name for a combobox using browse mode"
### Steps to reproduce:
1. Open [Editable Combobox With List Autocomplete Example from WAI-ARIA Authoring Practices 1.2](https://www.w3.org/TR/wai-aria-practices-1.2/examples/combobox/combobox-autocomplete-list.html)
2. Using browse mode, navigate to State combobox example.

### Actual behavior:
NVDA reads the combobox as, "combo box  collapsed  has auto complete  editable". However, if you were t

[2020-05-22 21:25] josephsl commented on #11188
Hi, how about on Edge 81/83 and Firefox?

From: Michael Jordan <notifications@github.com>
Sent: Friday, May 22, 2020 2:23 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA does not read the accessibility name for a combobox using browse mode (#11188)

Steps to reproduce:

1.	Open Editable Combobox With List Autocomplete Exam

[2020-05-22 21:28] majornista commented on #11188
@josephsl This is a Chrome issue, but it seems to be NVDA's problem. The accessibility name is properly communicated through the accessibility API.

[2020-05-22 21:30] josephsl commented on #11188
Hi, I see. Is this also the case with other web browsers? If yes, it’s something NVDA people will need to look at, otherwise a collaboration between NV Access/Google/Mozilla/W3C might be helpful. Thanks,

From: Michael Jordan <notifications@github.com>
Sent: Friday, May 22, 2020 2:29 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply

[2020-05-22 21:34] jnurthen commented on #11188
This reproduces with Firefox too.

[2020-05-22 21:37] majornista commented on #11188
I can reproduce with Edge Version 81.0.416.77 (Official build) (64-bit), as well.

[2020-05-22 21:47] josephsl commented on #11188
Hi, how about Firefox 76? I ask for FF results so we can verify that this is truly an NVDA issue across browsers. Thanks.

From: Michael Jordan <notifications@github.com>
Sent: Friday, May 22, 2020 2:38 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read the accessibility nam

[2020-05-22 21:47] josephsl commented on #11188
Hi, I see. I wish I had Marco’s GitHub handle (don’t have it handy at the moment…). CC @JCSTeh

From: James Nurthen <notifications@github.com>
Sent: Friday, May 22, 2020 2:35 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read the accessibility name for a combobox using brows

[2020-05-22 21:49] majornista commented on #11188
Reproduces with Firefox 76.0.1 (64-bit)

[2020-05-22 22:04] josephsl commented on #11188
Hi, thanks. Do you know of websites other than this one that exhibits the same problem? A few weeks ago either Jamie or Marco noted that web authors are also responsible for something like this. Thanks.

From: Michael Jordan <notifications@github.com>
Sent: Friday, May 22, 2020 2:50 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.

[2020-05-22 23:50] JulienCochuyt commented on #10847
@carsonpowers,
Thanks for taking the time to dig further.
All apologies I read your description too quickly earlier - as we indeed have had issues with "reading content behind modal dialogs", while I know understand you really mean "not announcing the top-most element in the Z-order on mouse hover", or at least "not considering the opaque background color of a div as an element in the Z-order".

J

[2020-05-23 00:45] jnurthen commented on #11188
This will reproduce anywhere the aria 1.2 combobox pattern is used. We (and others) are moving rapidly to this pattern due to its better support than the 1.0 and 1.1 patterns.

[2020-05-23 01:34] jcsteh commented on #11188
Can't reproduce. The label (State) is on the line above the the combo box. Because it's visible, NVDA doesn't speak it again when you cursor down to the combo box, since that would be duplicate information. This is consistent with how NVDA handles other form fields. However, NVDA does read the label as expected when you press c to quick navigate to the combo box. So, there's no situation in which

[2020-05-23 01:41] jcsteh commented on #10847
With respect to z-order and hit testing, that's a browser issue. I know
Chrome does have some issues in this area.

That said, the situation with modal semantics is not well defined at the
moment. There's aria-modal, but as far as I know, the spec doesn't require
browsers to hide elements outside of the modal for the purposes of hit
testing.

[2020-05-23 07:04] leonardder commented on #11188
I can verify @jcsteh's findings in Firefox 76 and Edge 83, it behaves as it should.

[2020-05-23 07:55] Adriani90 commented on #11184
Cc: @jcsteh

[2020-05-23 09:27] Adriani90 commented on #11188
Yes, pressing c reports the label also in Crhome 83 and Edge Chromium 83. If an user navigates with arrow keys in browse mode, he or she will hear the label above the combo box. This is expected behavior.
Closing as works for me.

[2020-05-23 09:33] Adriani90 commented on #11187
This is expected behavior. Low visiion users or blind users who would need to understand the visible structure of the page, need to use screen layout. There are also many blind users working together with sighted people, so the screen layout feature is useful to understand the visible structure of a document or web page at the same level as a sighted person. So this is expected behavior . NVDA+v i

[2020-05-23 09:33] #11187 closed

[2020-05-23 09:36] Adriani90 commented on #11187
Note also that NVDA users can use quick navigation keys to navigate between specific elements (i.e. b for buttons, x for checkboxes, r for radio buttons, g for graphics ans so on). So there is not always a need for navigating with arrow keys through a website.

[2020-05-23 10:03] Adriani90 commented on #11184
I try to clarify a bit the steps to reproduce here:
1. Open the link in the description
2. In browse mode, press b until oyu land on "first button" which is the first focus
3. Press enter on it (the button will be hidden and no label is read)
4. Press tab, shift+tab and tab again, don't leave the div

Actual behavior:
Step 3: NVDA does not report the label (first focus). However I am somehow confu

[2020-05-23 10:07] Adriani90 commented on #11185
I cannot reproduce on a Dell machine with Intel graphic card and Firefox 76. is the window maximized when you interact with the elements?
Is this occuring when the setting "automatically move focus to focusable elements" is enabled or disabled? The setting state can be changed with nvda+8.

[2020-05-23 10:08] Adriani90 commented on #11185
I am on the same alpha currently.

[2020-05-23 10:11] Adriani90 commented on #11183
cc: @michaelDCurran

[2020-05-23 10:15] Adriani90 commented on #11182
@SarveshNamjoshi in order to investigate this as efficient as possible, we test also in other browsers (i.e. Firefox) to see if it is NVDA or the browser the underlying problem. Could you please create a minimal test case from that form containing the allert messages and upload it here as html or zip file? That would help alot. Thanks.

[2020-05-23 10:23] Adriani90 commented on #11162
To be honnest, I don't know if the community is the best place to solve this issue. It is very synth specific and probably there is no really consistent solution for all synthesizers out there. Regarding the versioning number, this is rather a strategical topic which should be discussed further internally at NV Access if needed. I mean we can give here our cents on it but we cannot influence the w

[2020-05-23 10:32] Adriani90 commented on #11139
@bilrousseau are you logged in on your computer as administrator? Then you should be able to save the settings. Otherwise try to run NVDA as administrator from your local user account and see if it's working.
Please report your results.

For what I can say this seems to be a issue in your system privileges and the folder might be protected by a security software or any other procetion settings in

[2020-05-23 10:34] Adriani90 commented on #11070
@behofer did you try my suggestions above? Are you still having this issue in NVDA 2020.1?

[2020-05-23 10:37] Adriani90 commented on #11044
@dingpengyu can you also reproduce this when translating directly in the translation system by checking out the files from Asembla with SVN checkout? Or are you having this problem only when building the .po file with gettext in the source folder of NVDA?

[2020-05-23 11:03] Adriani90 commented on #10686
in #8961 is a different error, they are not really related as far as I can understand.
@leonardder do you think this is yet another comtypes issue here? I finally could reproduce this issue ocasionally, more often in Outlook 2010 than in Outlook 365.

This is realy hard to investigate because it is not reproducible in a reliable way. I could only reproduce this at my work place but not at home. So

[2020-05-23 11:05] Adriani90 commented on #10632
@donalfitzpatrick are you still having this issue with NVDA 2020.1 and Firefox 76?
Please run the COM registration fixing tool in NVDA menu / tools and report if you are still having this problem after that.
Thanks.

[2020-05-23 11:08] Adriani90 commented on #10619
@mehgcap are you still seeing this error in NVDA 2020.1 with Firefox 76? Please also try to run the COM resgistration fixing tool in NVDA menu / tools and see if the error occurs after that. Please report your results here. Thanks.

[2020-05-23 11:12] Adriani90 commented on #10592
@zstanecic I cannot reproduce this issue in NVDA alpha-20220,1c4519a6. Are you still having this issue?
Which synthesizers did you test with? Itried IBM TTS, Onecore and eSpeak and switching back and forth. I don't get any exception in the log. Do you by chance habe any NVDA dialogs open while switching the synthesizers?

[2020-05-23 11:14] Adriani90 commented on #10580
No update from the initial author and I cannot reproduce. meanwhile two updates have been published for Thunderbird and still not reproducible. Closing as works for me.

[2020-05-23 11:14] #10580 closed

[2020-05-23 11:16] Adriani90 commented on #10535
@fernando-jose-silva if you update your excel vie file ribbon / account / update options, is this issue still occuring with NVDA last alpha version?

[2020-05-23 11:21] Adriani90 commented on #10382
This seems very specific to a certain machine and we do not have enough user reports on this, actually I didn't hear any further users reporting this issue sofar. So due to missing way to reproduce this, I am closing for now. But please feel free to comment if you have further details for us (i.e. test with current NVDA version 2020.1) and we can reopen in case this issue still occurs. Thanks.

[2020-05-23 11:21] #10382 closed

[2020-05-23 11:25] Adriani90 commented on #10297
No further updates on this from the initial author. I have built NVDA successfully from source now with Python 3.7.6, so most probably there was a bug in the installation of Python of that specific machine. I am closing this as abandoned, but feel free to comment with updates and we can reopen. Thanks.

[2020-05-23 11:25] #10297 closed

[2020-05-23 11:34] Adriani90 commented on #10028
Still reproducible with NVDA alpha-20220,1c4519a6 and Excel 365, I am on 32bit version. Following is in the log:

[code]

This is not reproducible in Excel 2010.

Moreover, this issue occurs only when deleting rows, not when deleting columns or moving cells up or down, left or right.

[2020-05-23 11:34] Adriani90 commented on #9987
Thanks for reporting back Marco. Closing as works for me.

[2020-05-23 11:34] #9987 closed

[2020-05-23 11:36] Adriani90 commented on #9830
@MarcoZehe I guess you are still having this issue in NVDA 2020.1 Is this correct?

[2020-05-23 11:38] MarcoZehe commented on #9830
Correct, still happening.

[2020-05-23 11:41] Adriani90 commented on #9683
This works properly in NVDA alpha-20220,1c4519a6 and Chrome 83. Closing as works for me.

[2020-05-23 11:41] #9683 closed

[2020-05-23 11:46] Adriani90 commented on #9359
Any updates on this now with Firefox 76 or nightly? For me at least I cannot reproduce this for a very long while now.

[2020-05-23 11:55] Adriani90 commented on #9060
Following error is in the log, also with NVDA 2020.1:

[code]

[2020-05-23 11:58] Adriani90 commented on #8968
The error does not occur anymore with NVDA alpha-20220,1c4519a6 and Chrome 83. Closing as works for me.

[2020-05-23 12:03] leonardder commented on #11077
@jcsteh wrote:

If that's not too much difficulty, if you could just share the branches you created that would be interesting to look at. May be it inspires me or others.

As you also wrote in https://github.com/nvaccess/nvda/issues/11077#issuecomment-622562779, the object instantiation is the part that slows things down. I can think of several ways to limit this for UIA. For example, several even

[2020-05-23 12:05] Neurrone commented on #11185
"automatically move focus to focusable elements" is on, I'll try to see if it happens with it off the next time it happens. I doubt this is going to help though.

The window is maximized.

[2020-05-23 12:06] Adriani90 commented on #8967
@DrSooom I cannot reproduce with NVDA alpha-20220,1c4519a6 and Firefox 76. I tried about 100 times and no error, no matter if fmove focus to focusable elements in on or off.

Can you reproduce this also without a braille display connected? Or is it only reproducible when you have your braille display connected?

[2020-05-23 12:07] Adriani90 commented on #8928
No updates since one and a half years from the initial author on this issue. I am closing as abandoned and I cannot reproduce.

[2020-05-23 12:07] #8928 closed

[2020-05-23 12:09] Adriani90 commented on #8861
@pitermach could you test please with NVDA 2020.1 and Chrome 83? Is this still an issue?

[2020-05-23 13:52] DrSooom commented on #8967
It is still reproducible with [NVDA Alpha-20220](https://ci.appveyor.com/api/buildjobs/xavna59rlpn715sm/artifacts/output/nvda_snapshot_alpha-20220,1c4519a6.exe) and Firefox 76.0.1 (64-bit) with a connected Optelec ALVA BC680 on Win7x64. Here is the [new logfile](https://github.com/nvaccess/nvda/files/4671854/8967_NVDA.2020.2.Alpha-20220_Firefox.76.0.1.txt). See line 70 in compare to line 110, whic

[2020-05-23 15:00] amirsol81 commented on #11032
This is also duplicable with MS Word 2019, and NVDA Alpha 20220.

[2020-05-23 17:43] Luke-Robinett commented on #8336
I see this issue has been opened for a couple years now. I'm running the latest versions of Windows 10 Home, Visual Studio 2019 and NVDA and am still experiencing:
* NVDA reading entire line with each IntelliSense menu item, and
* NVDA not reading the pop-ups about the object being typed, for example, the signature for the method being typed.

Is there going to be any fix for this or are NVDA user

[2020-05-24 02:12] Adriani90 commented on #9972
@DrSooom are you still seeing this issue in NVDA 2020.1?

[2020-05-24 03:17] Adriani90 commented on #10019
I agree with @JulienCochuyt comment here. And yes, my point was refering more to the fact that system admins disable the possibility to download nvda-addon files, which of course implies also that you cannot open them. On such systems media drives are not allowed anyway.
All this being said, I am closing this issue for now because we don't really see a robust use case for this feature. If you have

[2020-05-24 03:17] #10019 closed

[2020-05-24 03:22] Adriani90 commented on #10759
Fixed in Libre Office 6.4.4.2. Closing as works for me.

[2020-05-24 03:22] #10759 closed

[2020-05-24 09:15] Brian1Gaff commented on #11187
Sometimes though using cursor keys can give the user an idea of the page
layout.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "Adriani90" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.githu

[2020-05-24 13:05] DrSooom commented on #9972
It is still reproducible with [NVDA 2019.3.1](https://www.nvaccess.org/files/nvda/releases/2019.3.1/nvda_2019.3.1.exe) (portable). [NVDA 2020.1](https://www.nvaccess.org/files/nvda/releases/2020.1/nvda_2020.1.exe) is currently the latest stable version, so I didn't test that one.
[code]

[2020-05-24 15:05] Adriani90 opened #11191 "Libreoffice: Errors when navigating through the document, NVDA does not report text"
### Steps to reproduce:
1. Open NVDA and open Libreoffice writer
2. Type "hello" and press enter two times
3. Press ctrl+enter to add a page break
4. Press enter two times
5. Press up arrow or left arrow multiple times very fast

### Actual behavior:
NVDA generates lots of errors and does not report text.
Following error is in the log:

[code]

### Expected behavior:
No error and NVDA should repor

[2020-05-24 15:12] Adriani90 opened #11192 "Libreoffice writer, focus tracking bug, not possible to edit foodnote"
### Steps to reproduce:
1. Open NVDA dn open Libreoffice Writer
2. Press alt and go to format submenu > foodnotes and endnotes
3. Press enter on foodnote
4. Type something or use arrow keys to navigate

### Actual behavior:
NVDA generates errors and does not report anything.
Following is written to the log:

[code]

### Expected behavior:
NVDA should not generate errors and the edit field should b

[2020-05-24 16:42] bilrousseau opened #11194 "Global command script_navigatorObject_doDefaultAction not found"
I'm trying to trigger default action in my module when Space or Enter is pressed.
I'd like the default action to be triggered when Space or Enter is pressed, but not using directly NVDA+numpadEnter gesture.

I tried to look into globalCommands using dir(globalCommand) and I didn't find the script_navigatorObject_doDefaultAction from GlobalCommands whereas it exists in the API Documentation : https

[2020-05-24 16:50] lukaszgo1 commented on #11194
The documentation on webbie web page is horribly outdated. The script is now called script_review_activate. I don't think using it in an appmodule like that is a very good idea though. Could you explain what exactly are you trying to achieve?

[2020-05-24 17:01] bilrousseau commented on #11194
We're still beginners and for now we're figuring out how to call those methods. We're not sure if we're gonna use it in a module yet.

What would you recommend as a "not horribly outdated" documentation ? (I mean, besides the Github repo markdown and source code)

Thanks for your answer anyway. We'll check that out.

[2020-05-24 17:09] lukaszgo1 commented on #11194
You can generate the uptodate developer documentation by executing scons devdocs from the root of the NVDA repo

[2020-05-24 17:22] Adriani90 commented on #11194
You can also use following sources:
NVDA Developer guide:
https://www.nvaccess.org/files/nvda/documentation/developerGuide.html

Addons development guide:
https://github.com/nvdaaddons/DevGuide/wiki/NVDA-Add-on-Development-Guide

Or you can ask your question directly in the development mailing list at:
https://groups.io/g/nvda-devel

Or in the addons mailing list at:
https://nvda-addons.groups.io/

[2020-05-24 17:22] #11194 closed

[2020-05-24 17:43] DrSooom commented on #11192
@Adriani90: You meant the menu "Insert" and not "Format", right? 😉

#### Workaround with NVDA 2019.2.1: Press ALT+TAB twice.

[2020-05-24 18:04] DrSooom commented on #11191
I cannot reproduce it with NVDA 2019.2.1 (installed), NVDA 2019.3.1 (portable) and NVDA Alpha-20220 (portable) on Win7x64. NVDA reads "blank" ("Leer" in German) and the letters so far correctly, except the fact that the page break is also spoken as "blank".

I only got the following error in the NVDA Alpha-20220 log:
[code]

[2020-05-24 20:25] Adriani90 commented on #11192
Oh yes, thanks, edited accordingly.

Von: Daniel Mayr <notifications@github.com>
Gesendet: Sonntag, 24. Mai 2020 19:43
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Libreoffice writer, focus tracking bug, not possible to edit foodnote (#11192)

@Adriani90 <https://github.com/Adriani90> : Y

[2020-05-24 20:26] Adriani90 commented on #11191
Which version of LibreOffice did you test with?

Von: Daniel Mayr <notifications@github.com>
Gesendet: Sonntag, 24. Mai 2020 20:05
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Author <author@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Libreoffice: Errors when navigating through the document, NVDA does not report text (#11191)

I cannot reproduce it

[2020-05-24 20:51] CyrilleB79 opened #11196 "MS Outlook: reply all shortcut not always working"
### Steps to reproduce:

1. Set NVDA language to French
2. Open an Outlook message
3. Press Control+shift+R to reply to all

### Actual behavior:

Nothing happens at step 3. and an error is found in the log (cf. log
[OutlookReplyAllError.log](https://github.com/nvaccess/nvda/files/4674368/OutlookReplyAllError.log)
)
Pressing NVDA+F2 before step 3. allows to get the expected behavior.

### Expected

[2020-05-24 21:01] CyrilleB79 commented on #11196
Analysis:
The Control+shift+R in French NVDA (and French Office) is used by MS Word to toggle change tracking. It is binded to script_toggleChangeTracking of class WordDocument in the file NVDAOBjects\window\winword.py. This class is used either for Word as well as for Outlook.
However, this script should only apply to Word since change tracking is not available under Outlook.
Thus, I suggest to c

[2020-05-24 22:46] jcsteh commented on #11077
See the iaccSpecificObjEventsIAccessibleHandler branch of my fork.

See the iaccSpecificObjEventsEventHandler branch of my fork.

[2020-05-24 22:54] jcsteh commented on #11184
This is another instance of #6606. This would have been fixed by #8869, but that was reverted due to problems.

[2020-05-24 23:09] jcsteh commented on #10096
NVDA isn't inferring name from content. The browser is inferring the name from content, as required by the ARIA spec. If NVDA wanted to "fix" this, it would need to avoid reading the name of the cell in this case.

[2020-05-25 06:02] leonardder commented on #11132
This is getting a bit annoying.

@feerrenrut not trying to force you at all, but could a revert be considered if a fix can't be available soon?

[2020-05-25 06:20] josephsl commented on #11132
Hi,

Seconded - would like to get this done before beta freeze please.

Thanks.

[2020-05-25 06:21] MarcoZehe opened #11197 "Infrequent error "pop from empty list" when writing in Firefox"
### Steps to reproduce:

1. In Firefox, open Gmail and start composing a new message.
2. On purpose, add a few spelling mistakes so Firefox flags these. Note that you may have to have the spell checking dictionary installed for this if you don't already have it.

### Actual behavior:

Occasionally, NVDA plays the error sound and records this in the log:

[code]

### Expected behavior:

No such err

[2020-05-25 06:53] Neurrone opened #11198 "Profile switching triggers are wrongly applied to applications that don't have triggers for that profile"
### Steps to reproduce:

1. Create a "programming" profile which has punctuation set to most and indentation indicated by tones.
2. Set the programming profile to trigger off applications such as notepad, notepad++, VS Code, VS 2019 etc.

### Actual behavior:

When I'm in an application such as Firefox which does not have a trigger to activate the programming profile and did not activate it manual

[2020-05-25 07:25] leonardder commented on #11077
Thanks for this! Here are some thoughts again.

I think the way how `eventHandler.requestEvent` is used should be reconsidered anyway. For UIA, it doesn't make much sense as many applications have only one or a few windows (with same window class, of course). For WPF, Window Classes are generated dynamically, which makes scripting for event requests pretty hacky. In most situation, requesting an e

[2020-05-25 07:45] josephsl commented on #11077
Hi, what about JAB? I think Leonard is right when we consider long-term implications (2021 and beyond) and ideally make things API agnostic (although IAccessible handler method is easier to read). For UIA, one possible thing to try is letting NVDA consider framework ID’s (WPF, Direct UI, XAML, etc.). Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Monday, May 25, 2020 12:26 AM
T

[2020-05-25 07:49] CyrilleB79 commented on #11198
I have probably also encountered this issue, even if I did not realize it was a profile issue.

I have sometimes experienced unwanted indentation announcement with beeps in Firefox. And I have actually a programming profile with indentation announced by beeps for programming. Moreover, I also switch many time back and forth between my code editor and Firefox.
Here are the information of the comput

[2020-05-25 07:51] Neurrone commented on #11198
Another possibility is that instead of the wrong triggers being applied, the triggers which are supposed to be reevaluated when the application is switched doesn't happen for some reason.

[2020-05-25 08:16] leonardder commented on #11077
That event handling is pretty old and doesn't use eventHandler.shouldAcceptEvent at all, it seems.

[2020-05-25 08:38] tapper82 commented on #11132
+1

[2020-05-25 10:32] JulienCochuyt commented on #11198
The next time this happens, could you please check NVDA's log to see if an error occurred when focusing back Firefox, preventing the profile switch back to default?

[2020-05-25 15:27] Carlos-EstebanM commented on #10895
In my laptop, I have Edge 83, and NVDA work again with the contextual menu.
Regards.

[2020-05-25 15:29] Adriani90 commented on #10112
@burakyuksek are you still having this issue with NVDA 2020.1 under Windows 10 1909 Update?
1. Please try to reproduce this with all addons disabled
2. Please rung the COM registry fixing tool in NVDA menu under tools

It looks like you have a bug in your registry, you should run a registry cleaning program like CCleaner and clean up the registry. Also please update your graphic driver, as I under

[2020-05-25 15:54] Adriani90 commented on #10779
@ErikRThomas I think at least for forms, putting an allert message with atribute aria=allert which tells the user that input is required is much better option, also for people with cognitive disabilities or dyslexia. Moreover, if you want an object to be focusable, you need to change the tabindex from -1 to 0 or higher. See this article for more information:
https://developers.google.com/web/funda

[2020-05-25 16:08] majornista commented on #11188
@Adriani90 and @jcsteh
I ask that you reconsider closing this bug.

If you advance beyond the combo box in browse mode, perhaps by using a shortcut to advance to the [Keyboard Support heading]( https://www.w3.org/TR/wai-aria-practices-1.2/examples/combobox/combobox-autocomplete-list.html#kbd_label) just after it, and then `ArrowUp` back to the combo box in browse mode, the Accessibility name is no

[2020-05-25 16:12] Adriani90 commented on #10105
This issue is in many application, it's simply because every application defines words in different ways and NVDA does include i.e. characters or spaces in the word navigation in some cases. You can for example also reproduce it in edit fields in Chrome etc. This issue is a duplicate of #7605. Closing as duplicate.

[2020-05-25 16:12] #10105 closed

[2020-05-25 16:19] DrSooom commented on #11191
LibreOffice 6.4.4.2 is installed.

Check in the LibreOffice options in the tab "Accessibility" if the support for AT software is enabled. Then uncheck the entries "Sidebar" (CTRL+F5, in German "Seitenleiste") and "Navigator" in the "View" menu in LibreOffice Writer. And then maximize the window and set the zoom level (in German "Maßstab") to "Page width".

[2020-05-25 16:25] DrSooom commented on #11198
@Neurrone: I guess you interchanged the actual and the expected behavior.

Additional question: How do you switch between the applications? ALT+TAB, ALT+ESC, WIN+TAB or WIN+(1-9).

[2020-05-25 16:35] Neurrone commented on #11198
@DrSooom alt+tab.

[2020-05-25 16:56] DrSooom commented on #11177
Imho this isn't a regression caused by PR #11110. A quick and dirty fix for the speech output only would be to set the symbol level for U+FEFF, U+FFF9, U+FFFA, U+FFFB, U+FFFC and U+FFFD from "none" or "some" to "all".

@leonardder and @ruifontes: Can you confirm that the braille output hasn't changed between NVDA 2020.1 and Alpha-20220 in these situations? I couldn't figure out any differences bet

[2020-05-25 17:24] leonardder commented on #11077
@jcsteh: in the iaccSpecificObjEventsEventHandler  on my fork I extended on your second approach for UIA. I will test the test case for #11109 tomorrow, as I need to spend lots of time in the nuget package manager. We could also try #11002, but I doubt whether that's fixed by this prototype. Same might apply to #9465

[2020-05-25 19:16] pitermach commented on #8861
Yep, this appears to still be a problem in Chrome 83 and NVDA 2020.1, with slightly different errors logged:

ERROR - core.CorePump.run (21:08:44.179) - MainThread (10616):
errors in this core pump cycle
Traceback (most recent call last):
  File "core.pyc", line 517, in run
  File "braille.pyc", line 2216, in pumpAll
  File "braille.pyc", line 1952, in handlePendingCaretUpdate
  File "braille.pyc"

[2020-05-25 19:30] codeofdusk commented on #11077
leonardder@c0f4791 does not appear to resolve #11002.

[2020-05-25 20:35] Adriani90 commented on #11188
I understand the concern here and I think it is worth to discuss at least following points:
1. NVDA should announce the lable when the focus is redirectioned to the lement after pressing enter anwhere else and
2. NVDA could announce the label of combo boxes and edit fields in line with the element and not render the label on the line above in browse mode. The down side of this would be that the us

[2020-05-25 20:42] ollcayy opened #11199 "Performance loss in NVDA responses"
NVDA does not react as quickly as before. This continues after the 2019.3 update. The problem is not just synthesizer. It continues to respond slowly when using ESpeak.
Recently, NVDA has not come when Windows wakes up.
The problem is common in sound card triggers. I think it's not just the problem. Now the size of the problem is bigger than before 2019.3.
Using Vocalizer, SpeakApi or Espeak does

[2020-05-25 20:46] ollcayy opened #11200 "accessible problem nvda and microsoft office publisher"
Publisher use is impossible with NVDA. Reads standard office menus in NVDA Publisher; however, it does not focus and read the document content. Is it possible to try to get data over UIA or any other solution?

### Steps to reproduce:

### Actual behavior:

### Expected behavior:

### System configuration
#### NVDA installed/portable/running from source:

#### NVDA version:

#### Windows version:

[2020-05-25 20:48] Adriani90 commented on #11199
Closing as duplicate of #5172 and related to #10721. Will be fixed by #11024.

[2020-05-25 20:48] #11199 closed

[2020-05-25 20:51] ollcayy opened #11201 "NVDA should provide instructions for use for beginners"
NVDA should provide instructions for use for beginners. This is a feature especially desired by computer teachers. NVDA should include automatic user messages, such as how to enable it when a focus is on a check box, a button, link, or something else, how to select an item.
As of now, NVDA comes with a basic shortcoming for students who are starting to learn new computers.

### Is your feature req

[2020-05-25 20:52] Adriani90 commented on #11200
Closing as duplicate of #4653. Please comment on that issue with your specific problems, please also include the tasks you are trying to use publisher for. Thanks.

[2020-05-25 20:52] #11200 closed

[2020-05-25 20:59] Adriani90 commented on #11201
I agree this could be useful for beginners, it could be sort of NVDA running in a beginners mode, where information for every element is spoken after the label is reported (i.e. link Github, press enter to open in the current tab).
The problem I see here is that elements might have more than one action possible and this would be quite long reporting. I.e. for a link: enter to open the page in the

[2020-05-25 21:02] ollcayy commented on #4653
I have a project in my company that requires the use of publishers on office 365.
I need to create the text content of a project along with its baselines. The progress of my other teammates depends entirely on this. When it is finished, the project brochure that the agency has been waiting for from us will have appeared. Reading the text content on the page, however, NVDA with the Keyboard does no

[2020-05-25 21:06] Adriani90 commented on #10895
Thanks for reporting, I am closing this as works for me. I wil reopen a new issue for turn back to browse mode after context menu is closed, but note that this works again after pressing tab once.

[2020-05-25 21:06] #10895 closed

[2020-05-25 21:08] ollcayy commented on #11201
In my opinion, the length of the message doesn't matter for NVDA or someone new to the computer screen. Just take the hint to do the right action.
Maybe in education, the beginning can be divided into middle and closed levels. This talking can be grouped in education.

[2020-05-25 21:09] josephsl commented on #11201
Another variant of #2699. Thanks.

From: Adriani90 <notifications@github.com>
Sent: Monday, May 25, 2020 2:00 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA should provide instructions for use for beginners (#11201)

I agree this could be useful for beginners, it could be sort of NVDA running in a beginners mode, wher

[2020-05-25 21:15] Adriani90 opened #11202 "Edge Chromium: NVDA does not turn back to browse mode after closing the context menu"
### Steps to reproduce:
1. Open MS Edge Chromium 83
2. With NVDA running, open the context menu on any element
3. Press escape

### Actual behavior:
NVDA does not turn back to browse mode. You have to press tab once or to switch the window back and forth to make browse mode work again.

### Expected behavior:
NVDA should turn back to browse mode after pressing escape.

### System configuration
###

[2020-05-25 21:17] Adriani90 commented on #11202
This might need an external fix, so would be very appreciated if someone can also open a coresponding bug on Edge Chromium and post the link here.

If this is a Chromium issue in general, maybe @aleventhal can assist in this regard as well. Thanks.

[2020-05-25 21:25] Adriani90 commented on #4653
cc: @Qchristensen, @feerrenrut maybe you can have a look on this, if the time permits. In corporate environments publisher is quite common software. Were there any conversations with Microsoft on this program sofar?

[2020-05-25 21:28] Adriani90 commented on #10208
This works correctly now with NVDA alpha-20220,1c4519a6, Chrome 83, Microsoft Edge Chromium 83 and Firefox 76. Also the example provided by @peterquale works properly now. Closing as works for me.

[2020-05-25 21:29] Adriani90 commented on #10208
Sorry, was too fast on this. It seems the issue in the attachment still persists in Chrome 83. Reopening.

[2020-05-25 21:31] Adriani90 commented on #10208
It seems Edge Chromium 83 is also impacted by this.

cc: @aleventhal

[2020-05-25 21:35] Adriani90 commented on #10207
This works as expected only if the add-on windows 10 apps is installed in NVDA.
@josephsl are you planning to donate the coresponding code for this issue via a PR to the NVDA core? I guess this is not a very big amount of code. Isn't it?

[2020-05-25 21:39] ollcayy opened #11203 "NVDA continues to voice suggestions in address bar even when focus changes"
Loadet page when voicing an address suggestion on the NVDA Address bar.
This issue was seen on Chromeium-based edge.
It is not possible to navigate when the page is loaded before the suggestion voiceover ends. It also does not stop speaking when pressed in ctrl mode at the same time. To try this, type the first few letters of a site you have previously visited in the address bar and press' enter.

[2020-05-25 21:41] ollcayy commented on #4653
No, I state that the problem can be solved by screen readers.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA Certified Expert)

Front-end Developer (Arayüz geliştirici)  <https://www.vodafone.com.tr/index.php> Vodafone TR Dijital Varlıklar Müdürlüğü

 <http://eniyideneyim.com/> En İyi Deneyim projesi yöneticisi ve sahibi

Takip edin:

 <https://twitter.com/eniy

[2020-05-25 21:41] Adriani90 commented on #10206
The heading level announcement is already covered in #10207. The other part of this issue works correctly. With insert+numlock 4 on network status, then insert+numlock 2 to enter the object jerarchie and then insert+numlock 6 to navigate its siblings like network name and status etc. This is expected behavior.
Closing as works for me.

[2020-05-25 21:41] #10206 closed

[2020-05-25 21:44] josephsl commented on #11203
Hi, as much as I wish to deliver you a fresh pizza, without delicious toppings, it becomes hard to make the dinner a more enjoyable one. Please fill out the “toppings” i.e. fill out the template, answer all questions. Thanks.

From: ollcayy <notifications@github.com>
Sent: Monday, May 25, 2020 2:40 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subjec

[2020-05-25 21:49] Adriani90 commented on #10154
I wouldn't add this shortcut to command quick reference because it is deppendent on a condition, namely if the user enabled this at installation or not. If not, the shortcut would appear in the command quick reference and users might think it would work though. The command quick reference fetches the commands from the user guide, but txt2tags does not have a possibility to define a link between in

[2020-05-25 21:58] Adriani90 commented on #11203
I cannot reproduce this with last NVDA alpha and Edge Chromium 83. When typing an address, choosing a suggestion and pressing enter, I can navigate the page imediately by pressing down arrow key and NVDA interupts speech from address bar. Do you have speech interupt for typed characters and speech interupt for enter key enabled in NVDA settings / Keyboard settings?
You need to have both settings e

[2020-05-25 22:08] ollcayy commented on #11203
Hi,

This problem is mostly experienced on chromeium based edge. Character and word speech is currently off.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA Certified Expert)

Front-end Developer (Arayüz geliştirici)  <https://www.vodafone.com.tr/index.php> Vodafone TR Dijital Varlıklar Müdürlüğü

 <http://eniyideneyim.com/> En İyi Deneyim projesi yöneticisi ve

[2020-05-25 22:18] jcsteh commented on #11188
Sure. Nor is a heading announced when you move back up through a paragraph.

IMO, that's the real bug here; i.e. the failure to switch to focus mode, not where the label gets rendered. However, that's very different to what was originally specified.

There are other downsides to that, such as the loss of formatting and semantics (links, images, etc.) within the label. I covered this in a [blog pos

[2020-05-25 22:20] Adriani90 commented on #11203
These are not the settings I asked for. Interrupt speech for typed characters and interrupt speech for enter key are the settings I mean. Are they on? or off?

Von meinem iPhone gesendet

[2020-05-25 22:27] Adriani90 commented on #4653
Please don‘t make such controversial statements without details. Do you have some technical details prooving that Publisher exposes this properly to screen readers? If not, then please let‘s continue the discussion preferably with meaningful comments. Thanks.

Von meinem iPhone gesendet

[2020-05-26 02:02] gregjozk commented on #7197
Hello,

@Adriani90 and others, I think, that unresolved issues/tickets have been closing too agressively. Certainly, this issue has not been solved yet. here are some browsers like firefox and many on chromeum platform and also IE. compare a huge webpage on all that browsers and try to change, which element would be listed in elements list. when changing it there is still a big delay.
it is just m

[2020-05-26 04:35] ollcayy commented on #11203
“Attempt to cancel speech for expired focus events:  seçim kutusu  Yes  kapalı"

but this setting does not solve this problem.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA Certified Expert)

Front-end Developer (Arayüz geliştirici)  <https://www.vodafone.com.tr/index.php> Vodafone TR Dijital Varlıklar Müdürlüğü

 <http://eniyideneyim.com/> En İyi Deneyim proj

[2020-05-26 04:56] Qchristensen opened #11204 "Rename "Speech" settings page to "Voice" for a logical connection to the V in the NVDA+control+v shortcut"
### Is your feature request related to a problem? Please describe.

The shortcut key to get directly to NVDA's speech settings page is NVDA+control+v.

### Describe the solution you'd like

It is preferable to have shortcut keys use the first letter of the setting they are associated with (NVDA+control+k gets to keyboard settings, NVDA+control+d opens document settings, etc).

I propose renaming t

[2020-05-26 05:07] Adriani90 commented on #7197
Please give more details on which browsers and circumstance this occurs.
If people give updates, there is no reason not to reopen in case this is still reproducible.

Von meinem iPhone gesendet

[2020-05-26 05:34] gregjozk commented on #7197
Hello,

try some books on wikibooks.org e.g. books about python or about latex, especially print versions. there you would see, why I thought, that this issue was closed too fast.
Oh, I use last published alpha of NVDA and FF 76.0.1.
Again, delay of 5 to 10 seconds is understandable, but when delay is huge, user wants to cancel operation and manually skip to chosen heading/link etc.
excuse me, if

[2020-05-26 06:03] leonardder commented on #11077
Ugh, this doesn't fix #11109 either. I think this proves that we really need to limit registration to only the necessary cases at the UIA level.

[2020-05-26 06:10] leonardder commented on #11077
Ugh, this doesn't fix #11109 either. I think this proves that we really need to limit registration to only the necessary cases at the UIA level or implement event limiting as well.

[2020-05-26 06:46] jcsteh commented on #9383
I've been working on a bunch of fixes in Firefox over the last few weeks which will improve this significantly, though it's never going to be anywhere near instantaneous while we have buffers. Currently, I've managed to get the get_iplayer GitHub URL above (~10000 row table) down from well over a minute (maybe even several minutes) to ~25 seconds. That's still not great, but it's a pretty massive

[2020-05-26 06:47] jcsteh commented on #9383
There's also one fix I've submitted for NVDA: #11205.

[2020-05-26 08:21] codeofdusk commented on #11077
Wouldn't [event coalescing](https://docs.microsoft.com/en-us/windows/win32/api/uiautomationclient/nf-uiautomationclient-iuiautomation6-put_coalesceevents) help with this, at least in the #11002 case?

[2020-05-26 08:28] feerrenrut commented on #11204
The problem is that "voice" is at odds with the general output concepts we use. Mostly throughout NVDA and docs we refer to braille and speech. Another option, is to use NVDA+control+s to open the speech panel, and the Synth Chooser dialog can become NVDA+control+shift+s or NVDA+control+alt+s. This way wall of the "settings panel" shortcuts are can become NVDA+control+first letter and since the sy

[2020-05-26 08:32] leonardder commented on #11077
We already enable event coalescing by default.

[2020-05-26 10:13] Brian1Gaff commented on #11199
Yes in most newer sound drivers there is a very annoying sleep function you
cannot turn off.Jaws are now going to include a sound card keep awake
system, similar to the silencio one which is often used by blind people
which sends silence to the sound card disguised as sound. grin.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, pu

[2020-05-26 10:14] Brian1Gaff commented on #11200
Does Narrator work on it?
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-users
----- Original Message -----
From: "ollcayy" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
S

[2020-05-26 10:32] CyrilleB79 commented on #11204
At first thought, I would not recommand to rename "Speech settings" to "Voice settings". For now "speech" and "voice" seem two different contects that are clearly dinstinct in NVDA: "speech" is the way NVDA renders information via TTS output, whereas "voice" is an attribute of the TTS. Moreover, renaming "speech" to "voice" in this case would have a high impact in documentation, code and translati

[2020-05-26 12:42] jcsteh commented on #11183
Looking briefly, JAB has a getAccessibleTextLineBounds function, but I don't see an equivalent for line. There is this GetAccessibleTextItems function which returns (I think?) an AccessibleTextItemsInfo pointer, and AccessibleTextItemsInfo has a "word" member, but I don't really understand what it does and I can't find any documentation. In typical JAB fashion, it's a total, unmaintained mess.

[2020-05-26 12:50] jcsteh commented on #11183
Okay, so with the Python console, you can, for example:
nav.jabContext.getAccessibleTextItems(8).word
(where 8 is the offset you want the word for)
That'll give you the text of the word at that offset, but that's not sufficient for NVDA. NVDA needs the offsets of the word, not just the text. Otherwise, it wouldn't be able to manage the review cursor, etc.

I guess one possibility might be to do a

[2020-05-26 12:56] jcsteh commented on #11183
Or you could have it fetch the word text using getAccessibleTextItems, get the text from (offset - wordLength, offset + wordLength) and search that text for an instance of the word which encompasses the offset. Then, you'd have the start and end offsets. But seriously, yuck. Sometimes, I horrify myself.

[2020-05-26 14:01] akumbhar4 opened #11207 "NVDA_issue with Chrome/IE browser for elements with attribute 'attr.aria-label'"
NVDA Version - 2019.3.1

Chrome - Version 80.0.3987.132 (Official Build) (64-bit)

Was testing for one of the application on Chrome browser using NVDA tool. NVDA was not reading the extra content present for the elements on the page with attribute ' attr.aria-label'.
while JAWS, ChromeVox Classic Extension are able to read the content

Thanks,
Amol

[2020-05-26 14:12] DrSooom commented on #9174
@JulienCochuyt: Do you know if it is possible to check which NVDA window, dialog or message is currently open? (I think I recently saw something like a window string in the logfiles.) If this is the case then it's enough just to add a short, new procedure before the Update Check Notification window appears. This procedure checks only if one of the three above mentioned windows are open and if this

[2020-05-26 14:12] majornista commented on #11188
@jcsteh I agree that the failure to switch to focus mode may be the real problem here.

[2020-05-26 14:14] leonardder opened #11209 "UIA: selective event registration"
Related to #11077, #11109, #11002, #8742

### Is your feature request related to a problem? Please describe.
NVDA is listening globally to many UIA elements. This causes a major performance hit when many events are received (#11109)

As part of #11077, I investigated a suggestion by @jcsteh to only queue events for objects of interest. However, this doesn't cause the major performance improvement

[2020-05-26 14:38] fernando-jose-silva commented on #10535
I continue with the reported problem, even after your suggestions.
The log continues with the active add-ons, but the problem occurs without the active add-ons.
If I disable
[excel1.txt](https://github.com/nvaccess/nvda/files/4682932/excel1.txt)
the enable realse option I don't have this problem.
Thank you.

[2020-05-26 14:58] Adriani90 commented on #11207
Could you please provide a link to an example or a minimal test case to reproduce?

[2020-05-26 15:03] JulienCochuyt commented on #9174
@DrSooom wrote:

IIMNW, this info is not yet available. There are other tickets attempting to reach that goal, notably in order to facilitate focusing back open dialogs and ease shutdown. These won't however be as easy to solve as this very issue, due to the impact being much bigger.

For what I can see in the source code, there are far simpler approaches, at least to ensure proper announcement of

[2020-05-26 15:03] Adriani90 commented on #11207
I tent to think this is related or maybe even a duplicate of #6209.
But we need a test case to be sure if this is the case.

[2020-05-26 15:10] ollcayy commented on #11200
No, The situation is the same with nvda, jaws and narrator. A solution has not yet come from the Microsoft accessibility team.

Olcay Aşcı

 <https://certification.nvaccess.org/> NVDA Uzmanlık Sertifikası (NVDA Certified Expert)

Front-end Developer (Arayüz geliştirici)  <https://www.vodafone.com.tr/index.php> Vodafone TR Dijital Varlıklar Müdürlüğü

 <http://eniyideneyim.com/> En İyi Deneyim proj

[2020-05-26 15:24] Adriani90 commented on #10815
@Qchristensen I think that issue handles the system carret, so actually exactly the other way round. This issue handles actually the virtual cursor. So when clicking on an object with the left click, ideally the system focus and the virtual cursor should move both to the clicked element and NVDA should leave focus mode allwoing for quick navigation.

cc: @jcsteh, @codeofdusk I think it is not rela

[2020-05-26 15:53] Adriani90 commented on #4994
I am closing this one in favor of #7749 which proposes a less intrusive option for locking the review mode. Once that is implemented, people can still discuss if doing it automatically when switching to an app or not.

[2020-05-26 15:53] #4994 closed

[2020-05-26 16:01] aleventhal opened #11210 "Feature idea: feedback when user's character input is not accepted"
Many inputs control what users can type. Examples:

- data:text/html,<input maxlength=3>. Try typing abcd, the d is not entered but "d" is still announced.
- data:text/html,<input type="number">
- JS-based input restriction, see attachment -- this allows more specific input restrictions, such as preventing punctuation, e.g. for Canadian postal codes.Question: should the screen reader still read th

[2020-05-26 16:02] Adriani90 commented on #7749
One further thought which came to my mind.
Instead of implementing a key stroke for each review mode, there could be a review mode ring implemented. (i.e. ideally nvda+space bar could swith between all review modes, including browse mode, focus mode, object navigation, screen review, document review and object review. Once one is active, users would just have to use arrow keys to navigate accordin

[2020-05-26 16:03] aleventhal commented on #11210
[restrict-punct.html.gz](https://github.com/nvaccess/nvda/files/4683450/restrict-punct.html.gz)

[2020-05-26 16:04] Adriani90 commented on #3486
@leonardder actually now the braille tether is profile specific, so users could specify the tether to review for some applications at least for braille.
For speech, I would rather discuss further on #7749. I would vote for closing this one in favor of #7749.

[2020-05-26 16:05] Adriani90 commented on #11188
@majornista could you please edit the issue title and issue description including your real problem? If possible, Ideally we need to have a minimal test case where NVDA shows the bug in practice. That means i.e. pressing on the button, NVDA's virtual cursor in browse mode jumps to a combo box but NVDA does not switch to focus mode and so the label is not announced.

[2020-05-26 16:13] akumbhar4 commented on #11207
Actually this is for client application. I won't be able to provide the
application URL.
I will check with developers for code snippet and get back to you.

Thanks & Regards
Amol

On Tue, May 26, 2020, 3:58 PM Adriani90 <notifications@github.com> wrote:

[2020-05-26 16:13] Adriani90 commented on #10535
Sorry which setting you disable for the problem to be solved? I didn’t understand that.

Von: fernando-jose-silva <notifications@github.com>
Gesendet: Dienstag, 26. Mai 2020 16:39
An: nvaccess/nvda <nvda@noreply.github.com>
Cc: Adriani90 <adriani.botez@googlemail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [nvaccess/nvda] Excel hangs when using new feature in vision Enable Highlighting

[2020-05-26 16:33] Adriani90 commented on #7197
Ups sorry yes this seems not browser specific. I am reopening.

[2020-05-26 16:46] josephsl commented on #11209
Hi, note that this means Windows 10 Version 1809 or later will be supported properly. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Tuesday, May 26, 2020 7:15 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] UIA: selective event registration (#11209)

Related to #11077 <https://github.com/nvaccess/nvda/issue

[2020-05-26 17:00] lukaszgo1 commented on #7749
My understanding of this issue is as follows:
As a user of the laptop layout (the desktop one is less affected as only navigation mode requiring pressing more than one key simultaneously is object navigation) I want to navigate in all modes by pressing as few keys as possible.
@Adriani90 Is my understanding correct? If so I propose to simply make NVDA key blockable similar to what Speakup offers w

[2020-05-26 17:05] zstanecic commented on #11209
@josephsl, which versions of windows 10 are now mainstream supported?

I think that win 10 1809 is reaching EOL? Am I right?

From: Joseph Lee <notifications@github.com>
Sent: Tuesday, May 26, 2020 7:47 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA: selective event registration (#11209)

Hi, note that this means Windo

[2020-05-26 17:27] aleventhal commented on #11210
Also, Chrome and Firefox expose  a text-input-type object attribute corresponding to the type attribute of an input. Does NVDA use that to let the user know they are entering an email, phone number or number, for example?

Chrome/Firefox could also expose a maxlength property, e.g. text-input-maxlength.

[2020-05-26 17:38] josephsl commented on #11209
Hi,

The following Windows 10 versions are still being supported (as of time of this post):

* Version 1507 (long-term only for mission-critical devices)
* Version 1607/Server 2016 (long-term only for mission-critical devices and limited support for devices equipped with certain Intel Atom processors)
* Version 1703 (Surface Hub only)
* Version 1709 (extended support for businesses until October 2

[2020-05-26 17:46] lukaszgo1 commented on #8819
@leonardder May I ask what device you've tested this with? I've recently receive report from someone that Python 3 versions of NVDA did not work with Papenmeier Braillex Trio hence my question

[2020-05-26 17:50] zstanecic commented on #8819
@lukaszgo1

I can also reference one message on the one polish mailing list.

One user sent the same issue, it simply throws an error.

From: Łukasz Golonka <notifications@github.com>
Sent: Tuesday, May 26, 2020 8:47 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Python 3: FTDI2 module is not yet compatible (#8819)

@leona

[2020-05-26 21:17] fernando-jose-silva commented on #10535
nvda

vision

Configure visual aids.

Enable Highlight

De: Adriani90 <notifications@github.com>
Enviada em: terça-feira, 26 de maio de 2020 13:14
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [nvaccess/nvda] Excel hangs when using new feature in vision Enable Highlighting (#10535)

Sorry which

[2020-05-26 22:07] fernando-jose-silva opened #11211 "nvda stops reading any information on microsoft teams"
### Steps to reproduce:
on nvda disable the autofocus mode option when the focus changes
open microsoft teams
switch to navigation mode and join a team, then join a channel.
Now switch to the focus mode.
in the list of tabs select the files tab.
now in focus mode choose a file and press the right button.
I chose a microsoft word file.
when pressing the right button choose the open menu, then choos

[2020-05-26 22:12] lukaszgo1 commented on #11211
What happens if after closing MS Word you minimize Teams window with Windows _ down arrow and then maximize with Windows _ up Arrow? If it causes NVDA to interact with Teams again it is a known problem which needs to be fixed in Teams unfortunately.

[2020-05-26 22:13] fernando-jose-silva opened #11212 "read the name of the page to be opened"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
microsoft reported a new feature in the narrator i don't remember it very well but it seemed to be in the build 20 h2 that is under development.
I would like to suggest paressida functionality in nvda.
When browsing a web page and the user finds a link to a page that he does not identify the de

[2020-05-26 22:58] jcsteh commented on #10815
That's a nice idea, but it's not possible because headings generally aren't focusable, so clicking on them can't move focus to them. In contrast, when you click on a form field or a link, focus moves to it, so NVDA can switch modes and move cursors appropriately. NVDA can't know what will happen when you click on something if the click doesn't cause something to happen.

When you click on somethin

[2020-05-27 00:06] Adriani90 commented on #11212
This information is not visible for sighted people before clicking on the link either. Why should this be available for blind users?

[2020-05-27 05:12] raducoravu commented on #11183
It's a pity the "AccessibleTextItemsInfo" does not contain the interval offsets for the word. So indeed there would be a need to use it in conjunction with other methods to obtain the interval offsets for the current word.
The Java implementation of the word break iterator is probably dependent on the locale, also I cannot find an implementation for it, it's probably in the not exposed sun.* packa

[2020-05-27 06:34] leonardder commented on #11209
[Here](https://ci.appveyor.com/api/buildjobs/4tgq2o5rda1qthx2/artifacts/output%2Fnvda_snapshot_try-selectiveUIAEventHandling-20243%2Cba3ef897.exe) is a try build. note that I didn't test this properly on Windows 10 versions pre 1809.

I'm going to test this with #11109 now. I'm afraid it still doesn't fix #11002 though. For these, we need event limiting.

[2020-05-27 06:37] codeofdusk commented on #11209
This does improve #11002 (at the very least, the console being flooded with events doesn't completely break UIA now)!

[2020-05-27 06:55] Brian1Gaff commented on #11212
I'm also getting a lot of emails where the link is embedded and not easy to
actually get at. You hear stuff like  there is more information on our web
site, but they embed the link under some or part of that sentence, but
seemingly in a way which its not revealed by any normal easy to use method
other than link out of link etc.
 This happens a lot in newsletter emails. where the links are all more

[2020-05-27 06:57] Brian1Gaff commented on #11212
Often people tell me that hovering the mouse over such links tells you its
address, and it is those which are the issue as it seems screenreaders do
not have a similar function that works reliably.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal E-mail to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
Newsgroup monitored: alt.comp.blind-us

[2020-05-27 07:06] josephsl commented on #11209
Hi,

This breaks modern input support, specifically no announcement from NVDA regarding the following:

* Emoji panel closed
* Moving among character categories in emoji panel
* No dictation feedback

All of these rely on name change event coming from emoji panel header element, caused by the fact that NVDA will not see that emoji panel is the new foreground window. One workaround might be to let

[2020-05-27 07:12] leonardder commented on #11209
Is there an always available root element for the modern input stuff on which we can register another instance of the local event handler group,?

[2020-05-27 07:49] josephsl commented on #11209
Hi, the name of this element is “Microsoft Input Application” and shows up when you press commands such as Windows=Period. Thanks.

From: Leonard de Ruijter <notifications@github.com>
Sent: Wednesday, May 27, 2020 12:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] UIA: selective event re

[2020-05-27 08:28] kolaps33 opened #11213 "NVDA 2020.1 stops narration of the slider"
# Steps to reproduce:
1. Open  the slider example
https://w3c.github.io/aria-practices/examples/slider/slider-1.html
2. Navigate to the slider with NVDA
3. change slider value with down/up/right/left arrow keys

### Actual behavior:
NVDA doen't narrate anything

### Expected behavior:
NVDA narrates changed value on the slider

### System configuration
#### NVDA installed/portable/running from sour

[2020-05-27 09:44] lukaszgo1 commented on #11209
Hi @leonardder Thanks for your work. On Windows 7 x64  with this branch the error sound plays with each focus change and the following is written in the log:

ERROR - _UIAHandler.UIAHandler.MTAThreadFunc (11:42:03.421) - _UIAHandler.UIAHandler.MTAThread (1084):
Exception in function queued to UIA MTA thread
Traceback (most recent call last):
  File "_UIAHandler.py", line 309, in MTAThreadFunc

[2020-05-27 09:56] burakyuksek commented on #10112
Hello,
I reset windows and the issue was mostly solved, except when running a resource intensive game. Then I updated the graphics driver and it was completely gone.
Thanks for your advices.

[2020-05-27 10:01] beqabeqa473 commented on #11209
i can confirm not significant but noticeable performance improvement
in some areas of visual studio.

On 5/27/20, Łukasz Golonka <notifications@github.com> wrote:

--
with best regards beqa

[2020-05-27 13:42] DrSooom commented on #11204
As those are called "Text-to-Speech" and "Speech output" and not "Text-to-Voice" and "Voice output" I strongly recommend not to change the category name in the NVDA Settings from "Speech" to "Voice". If you wanna change the hotkeys for opening the Speech and Braille NVDA Settings dialog and their Selecting/Choosing windows, then please open a new issue for this. Thanks.

[2020-05-27 14:13] DrSooom commented on #11212
For security and privacy reasons I'm against this because to find out the title of the referenced page, the web browser/e-mail client firstly must connect the web server and then preload that page. So the web server already collecting data (perhaps also your IP address), even if you decided not to visit that page. In other words: A wonderful way to gather information when a newsletter was read by

[2020-05-27 14:20] fernando-jose-silva commented on #11211
unfortunately it didn't solve it, I minimized the window and maximized it and continued without reading anything.
The log is with several add-ons however running nvda without add-ons the answer is the same.
Thank you.
follow new log
[teams1.txt](https://github.com/nvaccess/nvda/files/4689326/teams1.txt)

[2020-05-27 14:28] fernando-jose-silva commented on #11212
many times next to the link without a descriptive text there may be a message that indicates to a person with a vision about what the link does, and people with visual impairment would not know this content in the figure.
I don't know how the narrator works if he needs to open the page in question, we could investigate how the narrator obtains this information.
We could also alert the user that hi

[2020-05-27 14:33] CyrilleB79 commented on #8822
@Adriani90 could you please re-open this ticked?
This is not at all a duplicate of #2922.

If I understand well this ticket (#8822), the user wants to hear "alpha", "bravo", "golf" when navigating by character on "a", "b", "g" with Numpad1 and Numpad3 (sorry, I do not know laptop layout equivalents).

On the contrary, in #2922, the user wants to have all IPA symbols spellt correctly, i.e. for "a",

[2020-05-27 15:18] ruifontes commented on #8822
Agree with @CyrilleB79. Both tickets are different!
Tony Malykh have an add-on to do that, named Enhanced phonetic reading.

[2020-05-27 17:53] leonardder commented on #11209
[Here is a new try build](https://ci.appveyor.com/api/buildjobs/fkleiquur2rw78c2/artifacts/output%2Fnvda_snapshot_try-selectiveUIAEventHandling-20244%2Ccd4a3254.exe) that should fix issues with Windows 7 as reported by @lukaszgo1

[2020-05-27 19:47] Adriani90 commented on #10535
@leonardder could you have a deeper look at this if you have time? It seems the problem is not occuring if the highlighter is disabled. This might be also due to some comtypes errors that could cause a event_gainfocus to fail. I think the first half of the log is more related to this issue.

[2020-05-27 19:49] Adriani90 commented on #10112
Thank you for reporting. Closing as works for me.

[2020-05-27 19:49] #10112 closed

[2020-05-27 19:56] Adriani90 commented on #10239
@JunyiXiao This is not reproducible with NVDA 2020.1 in Chrome 83. Can you confirm?

[2020-05-27 20:00] Adriani90 commented on #10237
Closing.
Please comment if you need further clarifications on this and we can reopen. Thanks.

[2020-05-27 20:00] #10237 closed

[2020-05-27 20:03] Adriani90 commented on #10221
I tested with alpha-20220,1c4519a6 and I cannot reproduce this issue. Out of 20 times the update dialog and the promt "no update available" always got focus properly.
@leonardder if you confirm this, then I vote for closing.

[2020-05-27 20:21] Adriani90 commented on #10215
@Shanmukha39 how is this now with NVDA 2020.1?

[2020-05-27 20:23] Adriani90 commented on #10213
@SaisreeDandamudi is this working now with NVDA 2020.1?
Are you reproducing this in focus mode? Or in browse mode?

[2020-05-27 20:50] Adriani90 commented on #10202
If I understand this correctly, you put a display:none on the container and ignore the hidden pattern via JS, but maybe I totally missunderstood this. Actually I can reproduce this in every browser but only in browse mode. In focus mode NVDA always jumps to link 5. In browse mode nothing happens.
It might be caused by the display:none pattern here. Maybe @jcsteh has further thoughts to add here.

[2020-05-27 20:53] Adriani90 commented on #10194
For this application you need a dedicated account and certain permissions from administrators. Unfortunately it is not possible to reproduce for everyone. Could you please report if this is still occuring with NVDA 2020.1?
When do you exactly expect NVDA to report this as header? When using object navigation? Tabbing around? Using browse mode? Please describe in more details the steps you take to

[2020-05-27 21:00] Adriani90 commented on #10193
@Surveyor123 how is this now in NVDA 2020.1?

[2020-05-27 21:14] Adriani90 commented on #10303
@JulienCochuyt I think here is not meant a cell with more than one link, but a column. So in this case I think this is the second column. I am not sure if I understand this issue, I cannot really reproduce it. In browse mode I can access every link by pressing k or by navigating through the table with ctrl+alt+arrow keys. In focus mode I can navigate to every link with arrow keys, although the foc

[2020-05-27 21:17] Adriani90 commented on #10303
I think this issue occurs mainly in focus mode, NVDA reads the whole row when pressing up and down arrow.
It might also be a web authoring issue here. But I am not sure.

[2020-05-27 21:24] Adriani90 commented on #10287
@navyaGoberu423 this is not reproducible for everyone because the account needs a tenant in the azure environment. Could you please provide a minimal test case or a code snippet to reproduce? How is the element exactly hidden? With display:none? Or visibility:hidden? Or aria-hidden=true?

[2020-05-27 21:38] jcsteh commented on #10202
In browse mode, NVDA overrides space and enter to click; it does not pass enter through to the web page. This is because NVDA needs to be able to activate elements which do not support space or enter and it has no way of knowing whether an element supports this. If you force NVDA to pass the enter key through, this works as expected, even in browse mode. This should have a click handler as well as

[2020-05-27 21:38] #10202 closed

[2020-05-27 21:46] Adriani90 commented on #10285
Ok I think I can reproduce this issue.
I think the best solution is to implement a way to announce item position and total number of items when navigating with i in browse mode from item to item (i.e. list item 1, 1 of 3) and in focus mode when pressing tab if the list contains focusable elements like i.e. in this example:

[code]

[2020-05-27 21:59] SuzanneTaylor opened #11215 "When MathML is on a Button, the Button becomes Difficult to Activate"
### Steps to reproduce:

1. In Firefox  with NVDA running, go to the examples here: http://www.manateeroad.com/BugReports/MathMLonButtons.html
2. Navigate to either of the two example buttons
3. Notice that the MathML reads well and can be navigated! This is awesome!
4. Press Space or Enter, as though to activate the button.
5. Notice that Space and Enter don't activate the button.

### Actual beh

[2020-05-27 22:01] Adriani90 commented on #10256
I can access the links by pressing arrow keys in focus mode now in Chrome 83 with NVDA 2020.1 and Firefox also. But I cannot access the headers. This is occuring mostly because the headers are only text and are not having an action or atribute on them like button, link etc. Text even with role clickable cannot be focused in focus mode. So this is actually working as expected sofar as far as I can

[2020-05-27 22:01] #10256 closed

[2020-05-27 22:03] fernando-jose-silva opened #11216 "automatic responses in the chat interface of cortana"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
was experimenting with the new chat-based interface of the cortana.
Press start menu + c on windows 10 may 2020 update.
When typing a message to the cortana, the cortana displays a response.
To read the answer as well as the whole conversation you can walk with tab or shift + tabe to the list a

[2020-05-27 22:05] Adriani90 commented on #10250
@Shanmukha39 this issue cannot be reproduced by everyone due to missing credentials, so no way to investigate here. Are you still having this issue with NVDA 2020.1 in Chrome 83?
Do you have a code snippet or a minimal test case for us to reproduce? Otherwise please reach out directly to NV Access and provide them with credentials so that they can help in solving this issue directly.
I am closing

[2020-05-27 22:05] #10250 closed

[2020-05-27 22:13] Adriani90 commented on #10245
Working as expected in Chrome 83.Closing as works for me. Please comment on this issue if you are still having it and we can reopen. Thanks.

[2020-05-27 22:13] #10245 closed

[2020-05-27 22:14] Adriani90 commented on #10413
cc: @jcsteh

[2020-05-27 22:23] Adriani90 commented on #10395
This works as expected in Chrome 83 now, but not in Firefox 76. For what ever reason the callender does not show up. In Chrome 83, it works only in focus mode. When you are in focus mode and press alt+up or down arrow, a callender shows up and you can sellect a date with alt+up and down arrow keys. It means you does not have to fill each field (day, month, year) but you can sellect the complete da

[2020-05-27 22:27] Adriani90 commented on #10380
cc: @ManshulBelani, @francipvb, @mohammad-suliman

[2020-05-27 22:27] josephsl commented on #11216
Hi, already possible via Windows 10 App Essentials add-on. Thanks.

From: fernando-jose-silva <notifications@github.com>
Sent: Wednesday, May 27, 2020 3:04 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] automatic responses in the chat interface of cortana (#11216)

Is your feature request related to a problem? Please describe.

[2020-05-27 22:33] Adriani90 commented on #10373
In eSpeak there are variants which are much more pleasant to work with than others (i.e. compare variant Quinssi or variant Linda.
The common terminology between all screen readers is to use voice as language (i.e. deutsche Stimme, german voice). Even in Voice Over. So I would keep this terminology still since all people are using it.
I am closing. But if you need more opinions, please discuss thi

[2020-05-27 22:33] #10373 closed

[2020-05-27 22:37] Adriani90 commented on #10346
I think this is telated to websites where many elements have to be rendered (i.e. tables with thousants of rows). But this is not Chrome specific. There are already some issue about this out there but I cannot find them just now.

[2020-05-27 22:47] fernando-jose-silva commented on #11216
Thank you very much for returning.
I have this add-on installed, however with me it does not work, nvda does not automatically read responses.
Anyway, I be
[cortana.txt](https://github.com/nvaccess/nvda/files/4692203/cortana.txt)
lieve that it is very good to have this feature directly on nvda.
Here is a log:

[2020-05-27 22:48] Adriani90 commented on #10479
Closing as duplicate of #406 and #279 which also contains an entire driver.

[2020-05-27 22:48] #10479 closed

[2020-05-27 23:19] Adriani90 commented on #11213
@kolaps33 could you please run the COM registration fixing tool and try to reproduce this again?
Also please try with last NVDA alpha. I cannot reproduce in alpha-20220,1c4519a6.
You can download the last alpha version here:
https://www.nvaccess.org/files/nvda/snapshots/

[2020-05-27 23:22] josephsl commented on #11216
Hi, which version of the add-on do you have? You need 20.06.1 or later in order to let NVDA read Cortana responses properly. Thanks.

From: fernando-jose-silva <notifications@github.com>
Sent: Wednesday, May 27, 2020 3:48 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] automatic responses i

[2020-05-27 23:23] Adriani90 commented on #8968
Reopening, itseems it is still occuring from time to time. The error is a bit more detailed now.

[code]

Using NVDA 2020.1 and Chrome 83.

[2020-05-28 00:08] Surveyor123 commented on #10193
Unfortunately nothing has changed.

[2020-05-28 00:08] jcsteh commented on #10395
https://bugzilla.mozilla.org/show_bug.cgi?id=1608046

[2020-05-28 02:05] francipvb commented on #10380
Still reproducible in Visual Studio comunity 16.6 (2019 last major update).

Cheers,

[2020-05-28 02:09] francipvb commented on #10380
The fact is that the selection/unselection of an item does not fire any event, almost recognized by NVDA.

[2020-05-28 06:07] leonardder commented on #11109
That would be very nice.

This is correct, and far from ideal. However, @zersiax also has a point, see below.

The question is what these property change events try to communicate. Usually, property changes are only of interest to a screen reader if they apply to the focused element, either physically (system focus) or virtually (virtual focus or, as in NVDA terminology, when it is the navigator o

[2020-05-28 06:32] JulienCochuyt commented on #10346
@aloeugene, do you still experience this faulty behavior with latest Chrome?
Also, as pointed out by @Brian1Gaff in https://github.com/nvaccess/nvda/issues/10346#issuecomment-539397350, it seems you've removed two questions when filling the bug report template. Please take the time to answer these as well:

#### Did you try to run the COM registry fixing tool in NVDA menu / tools?

Note the COM re

[2020-05-28 08:25] aloeugene commented on #10346
@JulienCochuyt, I haven't really tested the issue for couple months already. I've switched to MacOS 2 months after opening this issue, so I currently cannot test this out 😬

[2020-05-28 09:10] fernando-jose-silva commented on #11216
I have this version and it doesn't work wintenApps-20200526-dev.nvda-addon - 244 KB

Enviado do meu iPhone

[2020-05-28 12:18] Neurrone commented on #11198
@JulienCochuyt there weren't any errors the last time i saw this and it happened.

[2020-05-28 12:19] Neurrone commented on #11172
Related: navigation of output by command is tracked in microsoft/terminal#6232

[2020-05-28 14:19] Adriani90 commented on #6297
This issue gets very annoying, also when pressing a in browse mode to navigate  to a change, NVDA needs about 10 seconds until it reports the change. The longer you are wokring with the document, the higher will be the performance lag in the document in general.

[2020-05-28 14:21] Adriani90 commented on #10346
Unfortunately we are not able to really reproduce this reliably. I know that there were big improvements in Chrome 83 and Chrome 81 regarding performance on complex web pages.
I am closing this issue for now but please feel free to comment on it in case you are still able to reproduce and we can reopen. Thanks.

[2020-05-28 14:21] #10346 closed

[2020-05-28 15:38] josephsl commented on #11216
Hi,

Okay, can you try the following for me:

1. With Windows 10 App Essentials installed, restart with debug logging.
2. Use Cortana.
3. After using Cortana for a while, press NVDA+F1 to open the log viewer.
4. Copy and paste the log and attach it to this issue.

I need a debug log because it'll then tell me what I'm missing about Cortana support in international markets. Thanks.

[2020-05-28 19:38] ObjectInSpace commented on #5981
I'm not able to get any odd behavior in Chrome or Firefox. When I tab to the embedded cancel button and press enter, the "hello 2" dialog is displayed followed by "hello 1" in all browsers and screenreaders.

[2020-05-28 19:40] Adriani90 commented on #10594
cc: @lukaszgo1

[2020-05-28 19:45] Adriani90 commented on #10545
@CyrilleB79 I see that a related PR has been merged. Did this improve it now?
If there are some conflicts with magnifier and screen curtain, I agree these should be documented in the user guide.

[2020-05-28 19:50] Adriani90 commented on #10512
In firefox this works as expected. So it seem this is related to Chrome.

cc: @aleventhal

[2020-05-28 19:51] lukaszgo1 commented on #10594
I cannot reproduce this with latest Alpha nor with 2019.2.1. I can however reproduce #5210

[2020-05-28 19:52] Adriani90 commented on #10512
This occurs only when pressing tab in browse mode. In focus mode NVDA read the header only once.

The same behavior is visible in Microsoft Edge Chromium.

[2020-05-28 19:53] Adriani90 commented on #10510
cc: @derekriemer

[2020-05-28 19:57] aleventhal commented on #5714
Chrome engineer here:
I ran it through the HTML validator, which reported "Bad value for attribute for on element label: An ID must not be the empty string."
I'm skeptical of the report that it works with JAWS, since they also use our accessible name as well. It probably works with JAWS and IE where they might read the for attribute themselves. If someone feels like it they can report the result,

[2020-05-28 19:57] Adriani90 commented on #10647
@Cleversn how is this now with NVDA 2020.1 and Firefox 76?

[2020-05-28 19:59] Adriani90 commented on #10647
Are you having screen curain enabled at the machine where you cannot find the login link?

[2020-05-28 20:04] ObjectInSpace commented on #7099
This is tracked in crbug/995551 on the Chrome side.

[2020-05-28 20:06] aleventhal commented on #5714
Our tester checked and JAWS must work around this -- it generates a repair for the bad markup and reads the label.

So this could be considered a feature request for Chrome and Firefox.  Feel free to file at crbug.com and bugzilla.mozilla.org. This isn't a very major issue so likely won't get priotiized.

[2020-05-28 20:07] Adriani90 commented on #10646
In Chrome the effect is either way. The label is read but not the value.
This seems inconsistent in browsers. I am not sure if NVDA can do something about this.

cc: @jcsteh, @aleventhal.

[2020-05-28 20:08] mikepedersen commented on #5714
Including our team JAWS expert here for clarification

On Thu, May 28, 2020 at 12:58 PM Aaron Leventhal <notifications@github.com>
wrote:

--
Mike Pedersen

<https://smart.salesforce.com/sig/mpedersen//us_mb/default/link.html>

[2020-05-28 20:10] Adriani90 commented on #10644
@jnurthen do you mean by indeterminated that an user could only choose a value up to 50 for example although there are theoretically 100 values in the progress bar? Or what exactly should indeterminate mean for an user?