[2017-09-15 10:57] michaelDCurran commented on #7556
Looks like this may be a recent change in Outlook 2016. This can be reproduced with versions of NVDA all the way back to 2015.1
I have reported this crash to Microsoft including steps to reproduce and a dump file.

[2017-09-15 10:58] bhavyashah commented on #3262
I am under the impression that @josephsl was experimenting with SAM Broadcaster and even designed a 'skeleton' app module for the same. If this impression was an illusion, please excuse me, but if not, could you please test for the reported issue and kindly share your findings? While the version number system for SAM was probably different four years ago (when this ticket was originally filed), th

[2017-09-15 11:07] bhavyashah commented on #3241
@jacobchawala Do you still experience such absolute inaccessibility with Avast using its latest stable release v. 17.6.2310 along with NVDA 2017.3? I have heard NVDA users discuss Avast as an anti virus software that is usable to a certain degree from an accessibility standpoint in more recent times, making me wonder if this more than four years old ticket still pertains. CC @Qchristensen (who has

[2017-09-15 11:09] bhavyashah commented on #3220
This is a friendly reminder for @michaelDCurran to consider commenting on this ticket by providing "further clarifications" as requested in @jcsteh's https://github.com/nvaccess/nvda/issues/3220#issuecomment-155307127.

[2017-09-15 11:29] bhavyashah commented on #4615
@vgjh2005  Does the reported crash still occur with TencentQQ  and NVDA's latest versions?

[2017-09-15 11:42] josephsl commented on #3262
Hi, after playing with it, I came to the conclusion that it is better to let the app developer take care of this. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Friday, September 15, 2017 3:58 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Feature request: NVDA doesn't r

[2017-09-15 11:59] bhavyashah commented on #3178
This is a friendly reminder for @camlorn to please respond to @jcsteh's https://github.com/nvaccess/nvda/issues/3178#issuecomment-322602056.

[2017-09-15 12:02] derekriemer commented on #7593
@michaelDCurran who's triaging office these days?

[2017-09-15 12:15] michaelDCurran commented on #7593
@feerrenrut  is first point of call for triaging.

[2017-09-15 12:37] bhavyashah commented on #4918
This is a friendly reminder for @feerrenrut to please respond to @leonardder's https://github.com/nvaccess/nvda/issues/4918#issuecomment-298152750 by sharing whether it would be possible, as one of our only fully sighted developers of NVDA as well as one who has worked on NVDA's GUI extensively in the past, to look into this issue.

[2017-09-15 12:55] bhavyashah commented on #3453
@leonardder Given the fact that you are the original author of this ticket coupled with your now contrarian stand about this feature request in https://github.com/nvaccess/nvda/issues/3453#issuecomment-317187804, may we safely close this ticket as a wontfix (or invalid)?

[2017-09-15 13:00] bhavyashah commented on #4826
The QT bug cited in one comment present at https://bugreports.qt.io/browse/QTBUG-39522 appears to be closed as invalid. Thoughts?

[2017-09-15 16:32] vgjh2005 commented on #4615
Please close.

2017-09-15 19:29 GMT+08:00, bhavyashah <notifications@github.com>:

[2017-09-15 19:52] bramd commented on #7602
I see why you would want such a feature. However, with the default settings of the review cursor following the caret and the object nav following the focus, you can use current word (numpad 5) and previous word (numpad 4) to review the last parts of your prompt. That's not path segments, but comes close.

[2017-09-15 23:50] derekriemer commented on #7593
cool, thanks.

[2017-09-16 00:48] ehollig commented on #4615
Closing as requested in https://github.com/nvaccess/nvda/issues/4615#issuecomment-329833206

[2017-09-16 00:48] #4615 closed

[2017-09-16 03:01] ehollig commented on #779
Thank you @ruifontes for the steps to reproduce. Closing as I believe this to be an duplicate of #510.
Duplicate of #510

[2017-09-16 03:01] #779 closed

[2017-09-16 05:53] HamletDRC commented on #7550
@ehollig Firefox 55.0.3 is still the latest version of Firefox as of right now. So this is still an issue.
Which version exactly did you test?
We are a dev team at Microsoft and we tested on a variety of machines and they all fail. We only test NVDA+Firefox.
Happy to test other browsers if you need.

[2017-09-16 06:08] HamletDRC commented on #7550
It seems to get this issue inconsistently, based on how the select element takes focus.
If the combo box is surrounded by focusable elements then I cannot reproduce the issue:
[code]

But my original example was this page: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select
It reproduces every time for be if you follow **these exact steps**:
1. Open page in Firefox and let if fully lo

[2017-09-16 06:32] leonardder commented on #4694
cc "bramd

[2017-09-16 06:35] leonardder commented on #3453
Yes, I'll close this for now and will file a new ticket as soon as #7599 is merged. This will open up new possibilities, including optionally providing the priority of a speech message to the API.

[2017-09-16 06:35] #3453 closed

[2017-09-16 07:21] bhavyashah commented on #3179
If the file list in Audacity's Open File dialog is indeed running as administrator as @jcsteh suspects, there probably is nothing that NVDA can do to resolve this issue. Regardless, testing with a temporary copy of a recent NVDA Next snapshot and Audacity 2.1.2, the folder view list was read by NVDA as expected. Since this ticket is more than four years old, the original author of this ticket cann

[2017-09-16 07:24] bhavyashah commented on #3199
Since the original author of this ticket is unfortunately now out-of-reach, he/she failed to respond to @jcsteh's request for a status update in https://github.com/nvaccess/nvda/issues/3199#issuecomment-155306629, and it is possible that both NVDA as well as Studio Recorder updates may have resolved this issue overtime, unless we receive any feedback confirming the reported errors, I suggest closi

[2017-09-16 07:27] bhavyashah commented on #3039
@feerrenrut From https://github.com/nvaccess/nvda/issues/3039#issuecomment-155305347, do we have sufficient technical information about the Maxthon browser in order for us to be able to be certain whether or not NVDA can improve support for this browser?

[2017-09-16 07:31] bhavyashah commented on #3226
I agree with @leonardder's https://github.com/nvaccess/nvda/issues/3226#issuecomment-313199261 with respect to the analysis that Microsoft is probably investing efforts in improving the Windows 10 Mail app (and so has NVDA) rather than the Windows 8 Mail app. Since Leonard seems to suggest that the Windows 8 Mail app, at the same time, is not officially declared as abandonware, I suppose this requ

[2017-09-16 07:34] bhavyashah commented on #3250
The scope of this ticket, especially the original ticket body, is quite unclear, in my humble opinion. Does this ticket deal with an all-round improvement in accessibility of Mumble (in which case specific areas of improvement will need to be outlined), or may we morph this ticket so as to only cover the bug reported by the original author of this ticket (Josh) and confirmed by webczat  wherein ke

[2017-09-16 07:39] bhavyashah commented on #3534
@leonardder Since @jcsteh's https://github.com/nvaccess/nvda/issues/3534#issuecomment-155309629 seems to suggest that the reported issue has more to do with NVDA's inability to process 64 bit memory rather than being specific to Tortoise SVN, do you think we should remove the app specific label and morph this ticket so as to broaden its scope and reflect the larger picture? Also, before all that,

[2017-09-16 07:48] leonardder commented on #3179
Closing as works for me.

[2017-09-16 07:48] #3179 closed

[2017-09-16 07:48] bhavyashah commented on #3791
@MarcoZehe  Do you think this is something you might be able to look at and subsequently work on in the future, or is Total Commander no longer significantly relevant to you? It may be worth noting that the latest stable release of Total Commander for 32+64 bit Windows took place about nine months ago.

[2017-09-16 07:49] leonardder commented on #3199
Agreed. Closing as invalid as per above comment.

[2017-09-16 07:49] #3199 closed

[2017-09-16 07:52] leonardder commented on #3039
Even though NVDA supports webkit to some extend, Safari for Windows has always been quite inaccessible from what I recall. Having said that, I think NVDA is doing a good job in supporting the four major browsers on the market. In my opinion, at least from NV Access we can't expect that they invest time in supporting a browser that is only used by a small group of people. So, even this could be fix

[2017-09-16 10:37] leonardder commented on #3534
I think it's ok to leave this app specific, since we have #3339 which actually seems to describe the cause of this problem. We can consider closing this ticket in favour of #3339 as well.

[2017-09-16 11:33] bhavyashah commented on #3534
Agreed. Since this ticket is a specific case of #3339, let us close this ticket in favour of #3339  so as to consolidate further discussion and development.

[2017-09-16 12:22] bramd commented on #4694
Still reproducible here on latest next. It seems we need to implement the isInForeground property for CompoundDocuments. However, I don't know how to determine if such an object is in the foreground.

[2017-09-16 12:43] bramd commented on #7452
Looking at this code for speech synthesizers, I start to wonder if it would make sense to extend the SynthSettingsRing to a more generic quick settings ring and include some of the braille settings there as well. Any thoughts about this?

[2017-09-16 13:37] MarcoZehe commented on #3791
Afraid not. If someone wants to pick this up, feel free.

[2017-09-16 13:45] bhavyashah commented on #3791
Alright. Since I suspect that NV Access would probably be unwilling to
invest time in this too, I suggest marking this as a P4.

On 9/16/17, Marco Zehe <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.com/B

[2017-09-16 20:09] vincent-lg opened #7608 "Have spelling errors indicated in Braille when supported"
### Summary

Spelling errors are sometimes reported by a sound when space is pressed, and by the synthesizer.  It doesn't work for all applications, but it's a great feature.  I would suggest to extend it so that this information would be accessible from a Braille display.

### Layout

A solution could be to mark the misspelled word like a HTML tag.  Obviously, this is not a great solution, first

[2017-09-16 23:50] ehollig commented on #965
Closing as worksforme. If this is still an issue for @dgoldfield, if he is the original poster, we can reopen this issue.

[2017-09-16 23:50] #965 closed

[2017-09-16 23:56] ehollig commented on #5760
@josephsl, is this issue resolved? Using the latest master, with speak typed characters enabled, I was able to have calculator announce the result when a formula, such as 2 + 2, was entered without double speaking.

[2017-09-16 23:58] josephsl commented on #5760
Hi, yes, resolved from the add-on side as it’ll now use live region changed event instead of name change. Thanks.

From: Ethan Holliger [mailto:notifications@github.com]
Sent: Saturday, September 16, 2017 4:57 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA doesn't automatically read t

[2017-09-17 08:01] OzancanKaratas opened #7609 "Java Access Bridge: 64-bit architecture support"
In 64-bit based systems, 64-bit Java installation is not recognized by NVDA so 64-bit Java Access Bridge doesn't works.

The 32-bit Java is running normally, but 64-bit support should also be added.

[2017-09-17 09:38] soluloquy17 opened #7610 "Table navigation in Libreoffice writer using NVDA not properly working"
Steps to reproduce:

1. Open Libreoffice Writer
2. Open any document containing at least one table.
3. Press control plus left or right arrow keys, or up or down arrow keys, to navigate tables like in any other commonly used software e.g. Firefox.
4. Notice that NVDA does not read anything.

Expected behavior:
NVDA should reed column/row texts as it does in other softwares

System configuration:
N

[2017-09-17 10:09] Brian1Gaff commented on #7609
Don't you have to enable them separately to make them both work?
 Its been a while since I needed them.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-09-17 10:56] OzancanKaratas commented on #7609
If both there enabled, will be available that latest installed Java installation's Access Bridge.
So I installed both 32-bit Java and 64-bit Java, but we should support 64-bit architecture.

If we do not support it, 64-bit Java is not used no way.

[2017-09-17 12:10] fernando-jose-silva commented on #6828
Unfortunately I still have this problem, where I can be useful, I am at your disposal.

[2017-09-17 16:38] Brian1Gaff commented on #7610
It actually gets stuck and generates errors unless you force your way to the
next bit of the file in some way I notice.
 I used the  portable version, but I doubt its much different. the error
mentions Symphony by the way, which shows the legacy of the software, I
suppose.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Br

[2017-09-17 16:40] Brian1Gaff commented on #7609
I'm not sure what you are saying here. I distinctly recall having to turn on
access bridge using a command line switch for both 64 and 32 bit versions.
As I say I do not have either on here any more as most Java software seems
sluggish to me on even fast machines so I ababandoned the thing.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.

[2017-09-17 16:49] Brian1Gaff commented on #6828
To be fair, I don't think this ever worked, but Intend to use keypad 5
straight after to  make sure its where I think it is. Sorry do not know the
laptop version of this. I think what is happening is that there seems to be
no event picked up by nvda, or it gets obliterated by the  keys you typed.

I'm using windows 7 64 bit on a quad core machine with throttling turned
off.

So its not a delay thi

[2017-09-17 17:00] Brian1Gaff commented on #6828
In my log its quite plain to see that the l gets the selection to my folder,
but the i seems to cancel that speaking and after the i nothing is spoken at
all, for whatever reason.

IO - inputCore.InputManager.executeGesture (17:50:11.257):
Input: kb(desktop):alt+tab
IO - speech.speak (17:50:11.319):
Speaking [LangChangeCommand ('en_GB'), u'C:\\  icon  1 of 3']
IO - speech.speak (17:50:12.466):
Spe

[2017-09-17 17:17] josephsl commented on #7609
Hi, isn’t this a duplicate of several issues regarding JAB64? Thanks.

From: Ozancan Karataş [mailto:notifications@github.com]
Sent: Sunday, September 17, 2017 3:56 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Java Access Bridge: 64-bit architecture support (#7609)

If both there enabled, will be available that latest in

[2017-09-17 18:27] OzancanKaratas commented on #7609
If so then I apologise. I searched, but I didn't found an issue about this.

[2017-09-17 19:50] fernando-jose-silva commented on #6828
Perfect, thank you so much for seeing this.

De: Brian Gaff [mailto:notifications@github.com]
Enviada em: domingo, 17 de setembro de 2017 14:01
Para: nvaccess/nvda <nvda@noreply.github.com>
Cc: fernando-jose-silva <fernandoj.silva21@gmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [nvaccess/nvda] Nvda does not read the item with focus on windows explorer (#6828)

In my log its quite p

[2017-09-17 19:55] fernando-jose-silva commented on #6828
I'm with a notebook, settings:

core i3 6100u

4gb of ran

128gb ssd

windows 10 64bits.

Works beautifully.

I also got used to the effect.

It's trickier for beginners.

But if we can solve it it will be very good, however I agree that the priority is low.

Thank you very much.

De: Brian Gaff [mailto:notifications@github.com]
Enviada em: domingo, 17 de setembro de 2017 13:50
Para: nvaccess/nvda

[2017-09-18 03:09] ehollig commented on #7610
Duplicate of #1994
Duplicate of #1994 for LibreOffice Writer and #4133 for Open Office Writer

[2017-09-18 03:09] #7610 closed

[2017-09-18 05:00] Qchristensen commented on #3241
TL;DR Avast is no better than it was four years ago, and I suspect that 99% of the issues lie with Avast itself.

So, the longer version: I downloaded and installed the latest version of Avast.  I just realised I never checked which version, but I think it's 17 now?  Anyway, here are my notes:

I used Windows 7, partly because that was the version that the original poster was likely using, and als

[2017-09-18 05:23] leonardder commented on #6281
Command line parameters for portable copies are now incubating.

[**@jcsteh**](https://github.com/jcsteh) commented on [20 aug. 2016 00:46 CEST](https://github.com/nvaccess/nvda/issues/6281#issuecomment-241153791 "2016-08-19T22:46:34Z - Replied by Github Reply Comments"):

I think this is no longer a show stopper as soon as the fix for #7563 is merged, which places all NVDA dlls in a version speci

[2017-09-18 05:28] leonardder commented on #7609
Since this issue is suggesting Adding Java access Bridge X64 support to NVDA (which is already there), I'm closing this as invalid. If the X64 Access Bridge doesn't work properly on your end and you are pretty sure that this is NVDA's fault, please open a new ticket or search for an existing one.

When I install Java, I Always doe it with [ninite](http://ninite.com/], which installs both x86 and x

[2017-09-18 05:28] #7609 closed

[2017-09-18 06:54] feerrenrut commented on #7592
I'm sorry, I'm having a hard time following this thread, I have tested this out and can reproduce the issue.

1. Do a clean install of 2017.3 (first delete `%appdata%/nvda`)
1. Ensure the synthesizer is set to `espeak` (NVDA settings, preferences, synthesizer)
1. Ensure that the voice is set to `english` (NVDA settings, preferences, voice settings)
1. Open settings, preferences, speech dictionarie

[2017-09-18 06:55] k-kolev1985 opened #7611 "With the new look of YouTube, NVDA does not see some headings in search results"
### Description:
If the Microsoft Edge browser is in use, with the new look/interface of the YouTube website, NVDA seams to fail to navigate to and read correctly some headings, specially those from level 3 in the search results. When I use H or 3 to navigate to the results from a search in YouTube, NVDA says only "blank" for search results that are for videos (it behaves as it should if the searc

[2017-09-18 07:24] feerrenrut commented on #7592
Setting priority to `P1` since this has the potential to affect a lot of users, and fixing before the 2017.4 release is likely to prevent a lot of clean up work.

### Work around
For those experiencing this issue on `next` or `master` builds, You may take the following steps, but this may mean that the future fix will not apply correctly and you will have to manually fix the dictionary names. Alte

[2017-09-18 07:39] feerrenrut commented on #4918
Sorry, I didn't comment on this because I agree with jcsteh, P3 is appropriate. I'll be happy to look at this when we can, this will likely require a fair bit of research into wxPython to work out the best fix. Given that moving to wxPython 4 is on the horizon, it may be best to fix this against wxPython 4 since the rules will likely change.

[2017-09-18 08:01] feerrenrut commented on #7593
I think I can reproduce this in Excel 2013:

- I use the arrow keys to highlight the first cell, nvda reports the link
- I attempt to route the mouse to this cell with `NVDA+numpad divide`, the mouse moves, but not over the expected cell.

### Workaround

To work around this issue (at least in Office 2013):
- navigate to the cell with the hyperlink
- press the windows context menu key.
- select op

[2017-09-18 08:14] feerrenrut commented on #7593
Routing the mouse also does not work in Word, however NVDA+Enter does. I have noticed that routing the mouse results in the mouse moving to the middle of the document, I suspect this is the expected behaviour that this point.

Given there is a work around for the described use case, I think a P3 is most appropriate.

[2017-09-18 09:08] gdata1 opened #7612 "NVDA does not read Skype contact status for Windows 10"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable instol

Other information:

Windows version:

skype,, 12.4.676.0,

### Other questions:

Does the issue still occur after restarting your PC?
yes
Have you tried any other versions of NVDA?

[2017-09-18 10:30] Brian1Gaff commented on #7592
Which is basically what I did after killing the file which got corrupted
somehow of course.

I've not had a failed update since this. Maybe it might be an idea to push
out a version of.3 with a renamer etc in it or at least some way to copy
contents across, then all future updates would work. The point  means that
perhaps very few people have set up dictionary entries in their voice dics.

I'd ima

[2017-09-18 10:41] Brian1Gaff commented on #3241
I last communicated about three years back back they they told me that due
to the way it protected itself, no access software could access it either
and that disabling this kind of protection could be done but that left Avast
itself open to attack, and at that time sent me a program which was supposed
to uninstall it on exp. It did this, but I never followed it up as the
impression I got was that

[2017-09-18 10:47] Brian1Gaff commented on #7609
Don't know the issue search on github is obviously designed by somebody with
a sadistic streak or at least does not use the same terms we would use to
find things!:-)

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-09-18 10:53] Brian1Gaff commented on #7592
PS I did my renaming while running a portable version so no issues with in
use files etc.

Sorry if my long thread investigating this was confusing.
 Not intended.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Reef Turner" <notifications@github.co

[2017-09-18 13:30] PratikP1 commented on #7592
I encountered a similar issues when testing the OneCore voices during the 2017-3 development. I reported it in the OneCore thread but didn't escalate it as a bug. At some point in the development cycle for Windows 10 Fall Creators update, the voice names for OneCore voices changed and the dictionary files had to e renamed in order to reflect these changes.

[2017-09-18 14:05] josephsl commented on #7612
Hi, and what happens if you disable add-ons? Thanks.

From: nikita [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 2:08 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] NVDA does not read Skype contact status for Windows 10 (#7612)

Steps to reproduce:

A list of the steps you take to demonstrate the problem.

[2017-09-18 14:58] Brian1Gaff commented on #7592
That should not have affected Espeak though, surely?

Besides the issue seems to solve itself in spek mostly if you remove the old
file that seems to get mangled.
 Not running 10 here so cannot comment about that synth.
I do have  synths in sapi 4 5 speech platform and pico though and they still
seem to be working but cannot recall if the dictionaries were the same or
not.
 Brian

bglists@blueyond

[2017-09-18 15:22] zstanecic commented on #7612
Hi
This happens with add-ons disabled, too.
Using windows 10 build 1703
Best,
ZS

Wysłane z aplikacji Poczta dla Windows 10

Od: Joseph Lee
Wysłano: poniedziałek, 18 września 2017 16:05
Do: nvaccess/nvda
DW: Subscribed
Temat: Re: [nvaccess/nvda] NVDA does not read Skype contact status forWindows 10 (#7612)

Hi, and what happens if you disable add-ons? Thanks.

From: nikita [mailto:notifications@gi

[2017-09-18 15:24] josephsl commented on #7612
Hi, looks like I need to monitor what’s up unless there’s no suitable UIA/event combo. CC @MichaelDCurran

From: zstanecic [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 8:22 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read Skype contact status for Wind

[2017-09-18 15:39] zstanecic commented on #7612
Hi, will the debug log with the events tracking in win 10 apps help you?

Wysłane z aplikacji Poczta dla Windows 10

Od: Joseph Lee
Wysłano: poniedziałek, 18 września 2017 17:25
Do: nvaccess/nvda
DW: zstanecic; Comment
Temat: Re: [nvaccess/nvda] NVDA does not read Skype contact status forWindows 10 (#7612)

Hi, looks like I need to monitor what’s up unless there’s no suitable UIA/event combo. CC @

[2017-09-18 15:43] josephsl commented on #7612
Hi, yes. Thanks.

From: zstanecic [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 8:39 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read Skype contact status for Windows 10 (#7612)

Hi, will the debug log with the events tracking in win 10 apps help you?

[2017-09-18 15:43] zstanecic commented on #7612
OOps,
Sorry for my inconsistency:
1. This thing works with narrator
2. nVDA stable withot addons reports the status

Wysłane z aplikacji Poczta dla Windows 10

Od: Joseph Lee
Wysłano: poniedziałek, 18 września 2017 17:25
Do: nvaccess/nvda
DW: zstanecic; Comment
Temat: Re: [nvaccess/nvda] NVDA does not read Skype contact status forWindows 10 (#7612)

Hi, looks like I need to monitor what’s up unles

[2017-09-18 15:49] zstanecic commented on #7612
Hi
Here we are
DEBUG - external:globalPlugins.wintenObjs.GlobalPlugin.uiaDebugLogging (17:46:10.282):
W10: UIA object name: Adaleta, Niepodłączony, event: elementSelected, app module: <'skypeapp' (appName u'skypeapp', process ID 5096) at address 5392110>, automation Id: Contact, class name: ListViewItem
DEBUG - NVDAObjects.NVDAObject._get_placeholder (17:46:10.282):
Potential unimplemented child c

[2017-09-18 15:53] josephsl commented on #7612
Hi, STR please.

From: zstanecic [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 8:49 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read Skype contact status for Windows 10 (#7612)

Hi
Here we are
DEBUG - external:globalPlugins.wintenObjs.GlobalPlugin.uiaD

[2017-09-18 16:58] zstanecic commented on #7612
1. Open skype,
2. 2. Press alt+2
3. Notice, that the dialog appearance changed
4. Press tab two Times until you reach the list,
5. After that navigate to any contact you have on the list.
6. Used nvda 2017.3 stable
Note: win ten apps latest version was used.

Wysłane z aplikacji Poczta dla Windows 10

Od: Joseph Lee
Wysłano: poniedziałek, 18 września 2017 17:53
Do: nvaccess/nvda
DW: zstanecic; Com

[2017-09-18 17:10] OzancanKaratas commented on #7609
Hi @leonardder, I'm sure that Java Access Bridge's 64-bit version do not works with NVDA, this problem causes by NVDA.

Please reopen this issue.

[2017-09-18 18:23] josephsl commented on #7612
Hi, in short, changes were made to that list item, so a feedback to MS is in order. Thanks.

From: zstanecic [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 9:59 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not read Skype contact status for Windows 10 (#7612)

[2017-09-18 18:26] josephsl commented on #7609
Hi, 64-bit Java apps are not supported properly because NVDA is a 32-bit application. I’m not really willing to reopen this as this is a duplicate of several issues. Thanks.

From: Ozancan Karataş [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 10:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Su

[2017-09-18 18:32] OzancanKaratas commented on #7609
But 64-bit SAPI and OneCore is supported, this does not make sense.

[2017-09-18 18:39] josephsl commented on #7609
Hi, according to the source code, the name of the bridge DLL is hardcoded, meaning that NVDA can’t really use 64-bit JAB unless there’s a way to dynamically load one or both on the fly. SAPI and OneCore support was possible because Windows provides a way to find out which voices are available and a way to retrieve the correct DLL via Windows Registry. Thanks.

From: Ozancan Karataş [mailto:notific

[2017-09-18 18:48] OzancanKaratas commented on #7609
Alright, thanks. I'll contact to Oracle. They will help us out.

[2017-09-18 19:02] PratikP1 commented on #7148
The problems reported in this ticket still exist as of Win 10 build 16288 with the latest NVDA next. Microsoft is still examining the issue from their end as well.

[2017-09-18 19:02] leonardder commented on #7609
It is a real misunderstanding that 64-bit JAVA applications are not supported, as I'm able to use 64-bit JAVA applications just fine. For example, I've been able to use IBM SPSS Statistics X64 properly. See #2567 and #1915.

[2017-09-18 22:51] #3241 closed

[2017-09-18 23:34] Qchristensen commented on #7556
Renamed the issue as it is not specific to next builds - as noted, it happens with even older versions of NVDA, and also changing folders seem to be the most consistent way to trigger this bug.  Otherwise, I don't have an update on the issue itself.

[2017-09-19 00:29] #7269 closed

[2017-09-19 00:29] #7308 closed

[2017-09-19 00:29] #7563 closed

[2017-09-19 01:00] ehollig commented on #7611
Possibly related: #7539
I can replicate this issue on Youtube in Edge. CC @michaelDCurran

[2017-09-19 01:19] josephsl commented on #7520
Hi,

SCons 3 is officially out, so I'm working on porting our scripts as much as I can. It'll be found in a new branch named "scons300" under my fork. Thanks.

[2017-09-19 01:23] josephsl commented on #7520
Hi,

I can confirm @LeonardDer's observation: print is now a function, which should also help us move over to Python 3 by checking for instances where print statement is used (there are several in the source code). I've disabled compiling Gettext po files because scons.Environment doesn't have gettextMoFile attribute (unless it was replaced somehow).

Thanks.

[2017-09-19 01:34] josephsl commented on #7105
Hi,

As noted on #7520, SCons 3 is out, and #7546 is part of master, so let's start researching. Thanks.

[2017-09-19 02:10] feerrenrut commented on #3226
As already mentioned, the number of users of windows 8 mail is likely small already. NV Access is not able to have a great impact by specifically trying to fix this. However, I will leave the issue open, and mark it as a priority 4. We are happy to provide guidance and accept a PR from someone who wishes to pursue this issue.

[2017-09-19 02:13] josephsl commented on #3226
Hi, I propose that we either adopt PR’s against Windows 8.1, or close this as wontfix as Windows 8 is an unsupported operating system. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 7:10 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA doesn't function properly in Windows-8

[2017-09-19 03:01] feerrenrut commented on #3039
There isn't really sufficient technical information present, this would require some investigation. I agree with @leonardder that implementing this would not have sufficient impact to our user base to warrant the time spent by NV Access. There is also the potential for significant maintenance cost. Closing as won't fix.

[2017-09-19 03:01] #3039 closed

[2017-09-19 08:20] feerrenrut commented on #7601
For those attempting to reproduce this issue.
- Using NVDA version `master-14436,b73a9583`
- Chrome does not exhibit this behaviour at least in version `60.0.3112.113` or `63.0.3218.0 (Official Build) canary (64-bit)`
- Firefox does in `55.0.3 (32-bit)`

1. Open the codepen link:
1. Switch to browse mode.
1. Press 'f' several times to get to the "Full name" field.
1. Ensure still in browse mode
1.

[2017-09-19 08:59] feerrenrut commented on #7601
For some reason Firefox seems to report the label as clickable. MSAA returns "click" for accDefaultAction.

[2017-09-19 09:00] feerrenrut commented on #7601
This is related to https://github.com/nvaccess/nvda/issues/7430

[2017-09-19 11:40] Brian1Gaff commented on #3226
All the people I know on 8 are in fact on 8.1. I'm assuming this version is
still supported. It would be a bit dangerous to expect everyone has updated
to 10 simply because the path is there.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Joseph Le

[2017-09-19 14:34] josephsl commented on #7520
Hi,

This will be part of #7568 (Windows 10 SDK+SCons 3.0.0+Visual Studio 2017 support), thus closing and no need for a separate PR. Thanks.

[2017-09-19 14:36] josephsl commented on #7105
Hi,

Update: Once #7568 is part of NVDA master, that's when I propose code should be checked in. Thanks.

[2017-09-19 14:56] ehollig commented on #6251
@alex-dolbik, is this still an issue with the latest NVDA? Now that #4493 has been implemented in the latest Master, this may have been resolved. If not, could you provide an example site along with the steps that you took to reproduce the issue, what happened, and what you expected to happen instead?

[2017-09-19 15:02] ehollig commented on #5564
Closing, as we have not heard from the original poster in 2 years and they have not responded to https://github.com/nvaccess/nvda/issues/5564#issuecomment-319536218. If this is still an issue, we can reopen this issue.

[2017-09-19 15:02] #5564 closed

[2017-09-19 15:22] #7118 closed

[2017-09-19 18:46] ehollig commented on #3252
@surfer0627, is this still an issue with the latest version of NVDA? Is there an example test site where this behavior occurs?

[2017-09-19 19:13] AKJ commented on #7578
I presume this is intended behavior, as checkboxes are a simple toggle while radio buttons can be navigated between in focus mode with up / down arrows. I know I like not being taken into focus mode for checkboxes; it feels unnecessary since it does not expose any new method for interacting with the checkbox.

Anyone disagree with this assessment?

[2017-09-19 19:18] ehollig commented on #5092
Closing, as I believe this issue has been fixed, testing with NVDA Version: master-14446,e8144a09 and ESpeak voice: Persian.
1. ـ is not spoken when navigating by word but is spoken when navigating by character, but as stated in the original post:

2. ،, ؛, and ؟ properly reads when navigating by line, word or character. If this is still an issue, we can reopen.

[2017-09-19 19:18] #5092 closed

[2017-09-19 20:21] bdorer commented on #6236
This is still the case with NVDA next 14456,d8cc508f and Windows
10.0.15063 workstation.

Am 12.09.2017 um 18:15 schrieb Ethan Holliger:

[2017-09-19 20:30] ruifontes commented on #3226
Joseph, where is said that NVDA do not support Windows 8.1?

Rui

-----Mensagem Original-----
De: Joseph Lee
Data: 19 de setembro de 2017 03:13
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] NVDA doesn't function properly in Windows-8
mail app. (#3226)

Hi, I propose that we either adopt PR’s against Windows 8.1, or close this
as wontfix as Windows 8 is an unsupported operating sy

[2017-09-19 22:24] rishsharma opened #7613 "NVDA voices "button" for checkboxes for the app Backup and Sync"
### Steps to reproduce:
1. Open a new install of Backup and Sync from https://www.google.com/drive/download/
2. Access any checkboxes.  NVDA indicates they are buttons.

### Expected behavior:
Checkboxes should be announced as checkboxes.

### Actual behavior:
Checkboxes are announced as buttons

### System configuration:
NVDA version:
2017.3

NVDA Installed or portable:

Other information:
Runnin

[2017-09-19 23:35] ehollig commented on #7152
@derekriemer, now that #7385 is merged into Master, I am still unable to locate a voice titled "French English".

[2017-09-19 23:43] ehollig commented on #7002
Closing as invalid as we have not heard from the original poster in quite a bit of time. If this is still an issue, and @SuzieDollar can provide the information requested in https://github.com/nvaccess/nvda/issues/7002#issuecomment-289415335, we can reopen this issue.

[2017-09-19 23:43] #7002 closed

[2017-09-19 23:58] ehollig commented on #2187
Closing because of reasons in https://github.com/nvaccess/nvda/issues/2187#issuecomment-155296311. If there are specific things that are not working correctly after contacting the developers, please create a new issue with exact steps to reproduce the issue.

[2017-09-19 23:58] #2187 closed

[2017-09-20 00:07] ehollig commented on #3440
This indeed does sound to be a website authoring issue. As stated by @michaelDCurran in https://github.com/nvaccess/nvda/issues/3440#issuecomment-155308873

This would indicate that NVDA would not be able to fix this issue. Closing as cantfix

[2017-09-20 00:07] #3440 closed

[2017-09-20 00:15] ruifontes commented on #7613
Confirmed, but I don't know if they are checkboxes or real buttons. On the
last case, NVDA should announce "pressed" or "not pressed".

Regards,

Rui

-----Mensagem Original-----
De: rishsharma
Data: 19 de setembro de 2017 23:24
Para: nvaccess/nvda
Cc: Subscribed
Assunto: [nvaccess/nvda] NVDA voices "button" for checkboxes for the app
Backup and Sync (#7613)

Steps to reproduce:

Open a new instal

[2017-09-20 01:02] NSoiffer commented on #7308
I'm not 100% clear on whether this means that NVDA works with MathML in 64-bit FireFox and 64-bit Chrome. It sounds like the problems with the proxies was fixed, but I didn't see anything in the comments saying that math was tested with 64 bit versions of the browsers. Is it fixed, or should I open a new issue?

[2017-09-20 01:34] michaelDCurran commented on #7308
This will certainly work with 64-bit.

[2017-09-20 02:17] ehollig commented on #1315
@Qchristensen, I do recall you said you have a copy of Office 2007 available. Could you please test the reported issue?

[2017-09-20 02:20] ehollig commented on #3308
@Qchristensen, this appears to be another Office 2007 specific issue. Could you  please test this issue, or @ondrosik, is this still an issue?

[2017-09-20 02:38] Qchristensen commented on #1315
I also can't reproduce this using NVDA 2017.3 on Windows 7 SP1 and Outlook 2007.  Quite likely whatever the issue was has been rectified as part of other work since the original issue was filed.  I'm going to close as worksforme, but if anyone can reproduce this, feel free to reopen.

[2017-09-20 02:38] #1315 closed

[2017-09-20 03:24] Qchristensen commented on #3308
I can reproduce this, although my log looks slightly different:

ERROR - eventHandler.executeEvent (13:16:03.690):
error executing event: focusEntered on <NVDAObjects.UIA.UIA object at 0x054CE470> with extra args of {}
Traceback (most recent call last):
  File "eventHandler.pyc", line 143, in executeEvent
  File "eventHandler.pyc", line 91, in __init__
  File "eventHandler.pyc", line 98, in next

[2017-09-20 05:14] leonardder commented on #7409
Also, is there a particular reason why this ticket targets Office >=2016? I know from JAWS that they use UIA from 2013 and onwards, so if it would be possible to target 2013 as well, that would be great.

[2017-09-20 05:19] feerrenrut commented on #7613
Could you please update the steps to reproduce to explain where in the app you find this behaviour? I am not able to reproduce it.
Is it in the installer for "Backup and Sync", or somewhere in the settings after install?

[2017-09-20 05:24] leonardder commented on #7608
cc @dkager

[2017-09-20 05:26] leonardder commented on #7105
I belief that first, all dependencies for Python 3 should be satisfied, so this includes the update to WX Python Phoenix 4.0 being incorporated into Master.

[2017-09-20 05:27] feerrenrut commented on #7598
@josephsl I am aware that this issue has progressed into implementation, and has active discussion on the PR. However, I don't think the original use case is very clear. Could you please expand on the problem that is being solved here? A concrete example would probably help.

[2017-09-20 05:53] feerrenrut commented on #7539
@gdata1 Could you comment on why you closed this? Is this now working for you?

[2017-09-20 06:39] feerrenrut commented on #7611
Thanks for the detail included when raising this issue!
I haven't been able to reproduce this with NVDA version `master-14436,b73a9583`.
But I can with NVDA version `next-14463,7dca66c4`

My guess is that something currently incubating is causing the problem. Though looking through the incubating issues nothing jumps out.

A diff of master and next shows that there is a change in `source/NVDAObjec

[2017-09-20 07:19] feerrenrut commented on #7611
Seems I wasn't thinking straight in my last comment, `MSHTML.py` relates to IE not Edge. While these commits need to be sorted out, it isn't the change we are looking for.

[2017-09-20 10:20] derekriemer commented on #7409
Note that browse mode will need supported which we can probably (Maybe) use edges code? I'm stoked for future work on this.

[2017-09-20 10:25] leonardder commented on #7409
According to @MichaelDCurran, Office UIA implementation is quite similar to the one found in the Windows 10 mail app.

[2017-09-20 10:25] dkager commented on #7409
Since Outlook uses Word as its editor, that sounds reasonable.

Also, is there any way I and other enthousiasts can help with this effort, or at least help the knowledgeable devs get the job done? Performance in Word is the only problem that has me enviously looking at JAWS. So besides braille support, I would gladly put in time and resources for this.

[2017-09-20 10:28] derekriemer commented on #7608
@leonardder are you guys still working on braille formatting?

[2017-09-20 10:31] derekriemer commented on #7613
1. windows+b.
2. press b until backup and sync is present. Press enter.
3. Now, press the settings button, then choose preferences.
4. tab through your settings until you reach the what were once checkboxes for selecting a folder to backup on your computer.

This is not an NVDA issue, but an issue needs filed with Google to fix this (And they really ot to add tests for this kind of breakage) unles

[2017-09-20 10:32] dkager commented on #7608
This is a specialization of #6785.

In particular, see my thoughts in https://github.com/nvaccess/nvda/issues/6785#issuecomment-274471575.

[2017-09-20 10:32] leonardder commented on #7608
Not yet, as there is still some discussion about what to do with braille formatting provided by liblouis.

[2017-09-20 11:22] leonardder opened #7614 "Undesirable side effect of versioned lib path: scons source required after every commit or branch change"
Regression caused by #7535. Note that this issue is only related to running NVDA development version from source.

### Steps to reproduce:
1. Check out NVDA master branch
2. Run scons source to create a fully functional source tree
3. Execute "git checkout -b newTopicBranch"
4. Try to start NVDA from source

### Expected behavior:
Since there haven't been changes in NVDAHelper or other libraries,

[2017-09-20 11:41] dkager commented on #1885
Confirmed, I'll open a new issue for it.

[2017-09-20 11:43] Brian1Gaff commented on #3308
Deja vue all over again?
 This looks suspiciously like the uia errors we got in some office software
in XP with their first attempt at uia as an update. This resulted in the xp
version of nvda having uia disabled to stop lock ups and crashes.
 I thought uia was only supported by Office from 2013 onwards in any case?
 As I've mentioned before I have a friend with a crashing version of Outlook
2003

[2017-09-20 11:46] Brian1Gaff commented on #3440
This has been mentioned on RBNIB Connect radio in Techtalk apparently and
seems to be a web issue in a recent update to the system.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- O

[2017-09-20 11:48] Brian1Gaff commented on #7152
What on earth would a French English sound like? Inspector Cleasou, no I
can't spell it.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-09-20 11:49] dkager opened #7615 "Document formatting preferences don't always apply to braille in browse mode"
### Steps to reproduce:
1. Select a braille table that can report italic text.
2. From Preferences --> Document formatting, uncheck Font attributes.
3. Read the following line (tested with Firefox 55).

This is _italic_ text.

### Expected behavior:
The italic text is not marked as italic.

### Actual behavior:
Speech does indeed not mention the italic attribute, but braille still shows it.

### O

[2017-09-20 11:53] rimas-kudelis commented on #1885
@dkager: thanks for confirming!

[2017-09-20 12:01] Mary5958 commented on #7152
I guess it was more a Mrola voice; they had English with various accents like German, French and some others, and it was included in the temporary eSpeak update in May, but those Mbrola voices wouldn't work properly anyway, so now that they're not part of our updates anymore that voice is out.

[2017-09-20 12:12] Brian1Gaff opened #7616 "Updating portable next snaps not working today"
When I try to update a next snap today 20th sept 2017, the following happens.

IO - speech.speak (12:54:18.430):
Speaking [LangChangeCommand ('en_GB'), u'Select Folder  button']
IO - inputCore.InputManager.executeGesture (12:54:19.163):
Input: kb(desktop):space
IO - speech._speakSpellingGen (12:54:19.184):
Speaking character u'space'
DEBUG - queueHandler.registerGeneratorObject (12:54:19.186):
Add

[2017-09-20 13:49] josephsl commented on #7409
Hi, if I remember correctly, we ran into issues in office 2013+UIA, hence we are reluctant to use that combo. Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Tuesday, September 19, 2017 10:15 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Switch to UIA for Microsoft Word 2016 and later (#7409)

Al

[2017-09-20 13:50] josephsl commented on #7105
Hi, yep, that’ll be done as part of a pull request once wxPython 4 officially ships (now up to beta 2). Thanks.

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Tuesday, September 19, 2017 10:27 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Upgrade NVDA codebase to Python 3

[2017-09-20 14:09] josephsl commented on #7598
Hi, a concrete example is an add-on that uses a separate file for storing its config and saves its settings when Control+NVDA+C is pressed with help from the new action. As @CToth pointed out, I plan to separate the action into at least two phases: save (action) and postSave (perhaps other modules such as a potential cloud storage module might want to perform an action once all settings were saved

[2017-09-20 14:44] ehollig commented on #3920
Closing as duplicate of #3226, as it contains a priority.

[2017-09-20 14:44] #3920 closed

[2017-09-20 14:48] stickbear2015 commented on #1315
I can reproduce this interesting crash with outlook 2016 and windows 10.
I'm reopening this issue because when I get home I can perform more testing, and determine if it's NVDA specific or not.
If it turns out to be I won't need to file another issue on it.

[2017-09-20 14:53] bhavyashah commented on #7409
Oh, no chance for Word 2010 either, then?

On 9/20/17, Joseph Lee <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah125 or www.twitter.com/BhavyaShah125
Mobile Number: +91 7506221750

[2017-09-20 14:57] josephsl commented on #7409
Hi, as for that, @MichaelDCurran is the resident expert. Thanks.

From: bhavyashah [mailto:notifications@github.com]
Sent: Wednesday, September 20, 2017 7:53 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Switch to UIA for Microsoft Word 2016 and later (#7409)

Oh, no chance for Word 2010

[2017-09-20 16:09] rishsharma commented on #7613
Hi, I'm a dev from Google that works on the product Backup and Sync and the original person who file the bug.

The application Backup and Sync uses wxPython's wx.Checkbox class. It is possible that this is not implemented by wxWidgets using the canonical Checkbox control in Windows although I find it somewhat unlikely.  I noticed NVDA also uses wxPython.   Backup and Sync uses wxPython 3.0.2.0.  A

[2017-09-20 16:43] Brian1Gaff opened #7617 "Outlook 2003 on windows 10 with nvda 2017.3 random crashes"
Firstly this on somebody elses machine, which I do not have direct access too, but since Outlook problems do seem to be quite common at the moment the lady has asked me to submit this on her behalf.
Her direct email is.
sakina.gable@gmail.com

It seems to me that randomly whe an email is opened the  email is not being displayed and things appear to have crashed.
 I did explain to her how to get a

[2017-09-20 17:23] derekriemer commented on #7409
My guess is no, because our goal is support the latest software with the best performance, and I'm not even sure 10 exposes what e need.

[2017-09-20 17:28] leonardder commented on #7617
Is this Outlook 2003 or Outlook 2013?

Furthermore, may I ask you to respect the issue template for your future reports? There is now an unfilled issue template below your message. Please also consider adding log snippets of this size in an attachment rather than pasting it directly into your report. Thanks in advance!

[2017-09-20 17:43] leonardder commented on #7616
Could you please update your post and file your report according to the issue template? Please also add the log snippet in a separate file, as it is very huge. This will have a major positive impact on triage of the issue you describe. Thanks a lot for your cooperation!

[2017-09-20 17:44] leonardder commented on #7614
Any thoughts from other core contributors besides NV Access are appreciated. cc @josephsl @dkager @derekriemer

[2017-09-20 18:41] dkager commented on #7614
Sounds reasonable, though I never studied the build system in detail so I don't know if (2) would fix this.
I agree that `scons source` after every commit or checkout slows down the development process.

[2017-09-20 19:22] #3534 closed

[2017-09-20 20:56] rishsharma commented on #7613
I was able to trace the problem in our code to setting a foreground color on a wx.Checkbox causes NVDA to change it detecting as a checkbox to a button.

The exact code was:

control.SetForegroundColour(wx.Colour(33, 33, 33, 255))

[2017-09-20 21:09] michaelDCurran commented on #7409
Switching to UI Automation for Microsoft Word will only be supported for
Office 2016 and beyond.

Basic support is almost complete with a PR coming soon. The idea will be
that the user can choose to use the new support by changing a setting
(for now), but in certain situations such as running on Windows 10 S,
UIA will automatically be used in Microsoft Word.

Performance is much improved, but the

[2017-09-20 22:27] blindndangerous opened #7618 "NVDA does not move cursor when in libreoffice calc."
### Steps to reproduce:
Open libreoffice calc. Try to move around. Using arrow keys will not move the cursor, not even after pressing f2, escape and then arrows.

### Expected behavior:
NVDA should move around the cells, after pressing f2 and then escape.
### Actual behavior:
NVDA does not move around the cells, even after pressing f2, and then escape. It remains in the cell that was last used whe

[2017-09-21 01:47] Qchristensen commented on #1315
@stickbear2015 Interesting, do you mean you can get to step 5 in the original issue in Outlook 2016?  Mine stops responding when I press CONTROL+3 because of #7556

I hadn't tested in Outlook 2016 originally, but doing it now and substituing:
a) Press control+tab to get to the navigation bar
b) Arrow to "people"
c) Press enter

in place of the original step 2 (press control+3 to go to people / con

[2017-09-21 03:49] leonardder commented on #7614
[**@derekriemer**](https://github.com/derekriemer) commented on [21 Sep 2017, 00:33 CEST](https://github.com/nvaccess/nvda/issues/7614#issuecomment-330999813 "2017-09-20T22:33:34Z - Replied by Github Reply Comments"):

Honestly, in most of the cases previously, I ran scons source from next and checked out master without another run, and this worked without problems unless we had major submodule di

[2017-09-21 04:02] Qchristensen commented on #7618
I was on LibreOffice 5.3.2 and reproduced this.  I then upgraded to LibreOffice 5.4.1.2, still using NVDA next 14463, and investigated further.  I found I could move one cell, sometimes two, then NVDA would freeze.  It did come back after 30 seconds or so.  I then started LibreOffice Calc and waited for awhile before trying to move, and looking back at my log, it had still frozen.  The movement wa

[2017-09-21 05:51] derekriemer commented on #7614
sure, but that doesn't mean we can make a universal generalization and copy the master files over to next if they exist. Just because it might work doesn't mean we can, or should make the build system do this.

[2017-09-21 06:06] leonardder commented on #7614
[**@derekriemer**](https://github.com/derekriemer) commented on [21 sep. 2017 07:51 CEST](https://github.com/nvaccess/nvda/issues/7614#issuecomment-331058213 "2017-09-21T05:51:14Z - Replied by Github Reply Comments"):

I agree with that point. The only major concern I have with the current approach is that it slows down the development process, at least for me. Also note that if you really want to

[2017-09-21 06:17] venkateshpotluri commented on #7314
Hi,

I would like to start contributing to NVDA. As I am new to this project, wanted to start by trying to solve this issue.

Thanks, Venkatesh

[2017-09-21 07:13] jmuheim commented on #7578
The problem is, that when you attach descriptive text to form fields using `aria-describedby`, it's only announced in focus mode (as far as I remember). So when a user is tabbing through form controls, information attached to radio buttons may be missed, which is unfortunate, as for all other form controls, this technique works reliably.

[2017-09-21 08:22] Brian1Gaff commented on #7616
I would if I could, but have no idea how the template works. They do not
seem to be separate fields, and the attach seems never to work for me. I'm
sure this has been mentioned before by others. It was not suggested that the
template was anything but advisory. The effect I goe is rather obvious.
 Email me off list and explain how to use the template and I'll give it a
try. Its only recently been t

[2017-09-21 08:25] Brian1Gaff commented on #7617
It is 2003.
 As I said in my last email,  I could not figure the template out and did
the  report offline.

 The upload  system has always given me issues.
 You folk use these things all the time, I do not.
 It would help if the fields were real fields as it looks to my machine like
one big field with embedded text in it and no gaps.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please add

[2017-09-21 08:31] Brian1Gaff commented on #7409
I think that a lot of people use Word 2003 onwards, certainly at present the
current nvda works in Word XP as well, which is good as I will not buy later
versions since I don't need the bells and whistles. Just as in the fact I
use Outlook Express with the  patch for email as newer email programs are
not giving me what I need, one has to respect what people actually do and
not be elitist to the de

[2017-09-21 08:34] leonardder commented on #7617
Outlook 2003 is now over 14 years old and thus abandoned and obsolete software. We've closed issues for outlook 2003 in the past due to this.

[2017-09-21 08:34] #7617 closed

[2017-09-21 08:40] leonardder commented on #7616
Attachments need to have a certain extension, but iv you use a txt file created by notepad, that should be fine. Regarding the issue template, please ask for assistance on the NVDA mailing list.

[2017-09-21 17:27] ehollig commented on #5791
@eleuteri, is this still an issue? As @jcsteh suggested in https://github.com/nvaccess/nvda/issues/5791#issuecomment-192878901, try it when NVDA is in object review. When I am in screen review, I get the behavior you describe. However, when in object review, everything works as expected.

[2017-09-21 17:33] ehollig commented on #5935
@lstar4ever, could you provide more information about this issue as requested in https://github.com/nvaccess/nvda/issues/5935#issuecomment-228172077? A demonstration document may be helpful that demonstrates this issue.

[2017-09-21 18:29] Brian1Gaff commented on #7616
OK re the update, so txt and log are presumably OK, provided I can coax the actual dialogue to open for me.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
This message sent from a Windows XP machine!
  ----- Original Message -----
  From: Leonard de Ruijter
  To: nvaccess/nvda
  Cc:

[2017-09-21 21:32] ehollig commented on #1398
Coming back to this, I assume this would depend on #4877

[2017-09-21 23:17] derekriemer commented on #7578
@feerrenrut Is descriptions in browse mode on the roadmap?

[2017-09-21 23:19] derekriemer commented on #7314
let me know if you need any help.
Cheers

[2017-09-22 04:19] leonardder commented on #7616
Looking at your log, I think one of the problems is that you have your NVDA distribution directly on your C partition. This is really something that you shouldn't do, as the root of the c partition is normally write protected unless you have administrative privileges. This at least applies to Windows >=8, and I belief also for more recent versions of Windows 7.

[2017-09-22 04:47] venkateshpotluri commented on #7314
Thanks a lot @derekriemer!

I am trying to compile by following the steps in the readme but I get this error when I run scons source

Traceback (most recent call last):
  File "scons.py", line 10, in <module>
    import SCons.Script
  File "C:\Users\<UserName>\code\NVDA\nvda\miscDeps\python\SCons\__init__.py", line 43, in <module>
    import SCons.compat
  File "C:\Users\<UserName>\code\NVDA\nvda\

[2017-09-22 06:38] derekriemer commented on #7314
do you have python2 or python3, do you have scons installed as well?

[2017-09-22 08:06] Brian1Gaff commented on #7616
Its a carry over from XP. However is this perhaps not going to be fixed by
the ticket that asks you to select a folder as at present as we know many
people can splurge the copy on the desktop in the route or indeed any old
place. maybe a list of often  wrong places could be prepared to stop this.
I'm happy to move the portable code elsewhere, but up until very recently
this has not been an issue e

[2017-09-22 08:14] Brian1Gaff commented on #7617
I did tell the lady that this was the case but she is not very rich and she
has been using it for some time. I suspect this actually has more to do with
Windows updates than the actual nvda changes she had around the same time.
 If the way IE code is implemented upsets Outlook 2003, they are unlikely to
fix it.
 I am using Outlook express here on other later windows but this works
because a third

[2017-09-22 14:48] stickbear2015 commented on #1315
This issue seems to be specific to NVDA and outlook. to reproduce.
1. open outlook.
2. enter any imap e-mail account's inbox  with ctrl+y..
3. outlook may or may not crash at this point. Most likely will.
4. Attempt to switch to anything else, another folder with ctrl+y, contacts, calendar, etc.
what should happen.
Outlook should switch without a problem.
what actually happens.
Outlook freezes ini

[2017-09-22 15:12] valiant8086 commented on #7616
Hi.

Do we know how to figure out what this affects? My friends and I always
run our portable copies from an NVDA folder directly on the c drive.
Presumably, since the NVDA folder is created by me, NVDA should be able
to write to it. It saves configurations as expected but seems to crash
more often than an installed copy. What are the chances the location
could have an impact on the amount of cras

[2017-09-22 15:38] zahra21 commented on #7618
hello.

i am not completely familiar with cursor movement, but i use my favorite version of nvda (which is 2017.1) with my favorite version of libreoffice (which is 5.3.4.1 x86)
i can navigate in one calc file which i use,
arrow keys work for me and nvda does not freeze for me.

i even dont need to press f2, then scape to read cells using nvda.

did you try x86 version of libreoffice?

hope that h

[2017-09-22 16:37] Brian1Gaff commented on #7616
Many apps do install to the root even now. We have a talking newspaper app
that does this and seems to have no isssues in copying stuff about every
week. As long as its admin it just seems to work for me, which was why I was
surprised that an update generated errors from windows. its I think perhaps
it is opening the file twice in the latest updates. It could be tied in with
the fix to the problem

[2017-09-22 17:31] derekriemer opened #7620 "Replace a bunch of bloat code with an extension point"
in core.py, we have

[code]
could we just create a CorePumpOccurred extensionPoint, and reduce this to
[code]
thingy?

[2017-09-22 18:09] josephsl commented on #7620
Hi, what if they need to happen in sequence as exactly as noted in that code fragment? This is a potential design flaw of this, but I think we still need to leave with this fact for a while. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Friday, September 22, 2017 10:31 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvac

[2017-09-22 18:37] derekriemer commented on #7620
Sure, just opening it here for discussion, as I am unsure of the ramifications.

[2017-09-22 19:04] Brian1Gaff commented on #7620
Would that not result in not knowing which was the culprit?
 Just a thought from an observer.
 brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "Derek Riemer" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.github.com>
Cc: "Subscribed" <su

[2017-09-23 10:39] FelixGruetzmacher opened #7621 "Handy Tech driver files for updating"
This ticket contains the Handy Tech driver auxiliary files for NVDA as of September 23th 2017, validated and ready for inclusion in official NVDA releases.
To include in an existing installation of NVDA, please copy the contents of the zip file to the handyTech folder of NVDA's installation, not user profile. For example, on many systems this place is likely to be:
"C:\Program Files (x86)\NVDA\bra

[2017-09-23 13:37] bramd commented on #7615
@dkager For completeness and to be able to reproduce, which table would support such attributes?

[2017-09-23 13:45] bramd commented on #7605
The reason is that VSCode has another way to navigate by word and NVDA doesn't expect this. If you look at the cursor position in braille or using review commands, you'll see that the cursur moves to start/end of the current word. This is sometimes quite useful in code and I guess it's a feature of VSCode. NVDA might need an appmodule to handle this better.

[2017-09-23 13:46] zstanecic commented on #7621
@leonardder
@bramd
@dkager
What do you think, as there will be the native support soon?

Wysłane z aplikacji Poczta dla Windows 10

Od: FelixGruetzmacher
Wysłano: sobota, 23 września 2017 12:39
Do: nvaccess/nvda
DW: Subscribed
Temat: [nvaccess/nvda] Handy Tech driver files for updating (#7621)

This ticket contains the Handy Tech driver auxiliary files for NVDA as of September 23th 2017, validated

[2017-09-23 14:06] dkager commented on #7615
The Dutch tables, and proabbly UEB.

[2017-09-23 16:37] leonardder commented on #7621
I think it is up to NV Access.

If NV Access, and probably this will be @michaeldcurran, won't be able to review #7590 before 2017.4, it might be a good idea to file a pr against miscdeps for these files. Still, it would be helpful to have sort of a changelog for these files.

[2017-09-24 03:09] derekriemer commented on #7620
I think we would still know

[2017-09-24 09:20] Brian1Gaff commented on #7105
If I may make a users comment here, using my idiot head.."
There sould, in my opinion be a new snapshot branch that we can test. Also when thinking about add ons, maybe some kind of protection should be put into the loading of add ons so nobody can load the old ones, only the new ones in the new code versions of nvda.

As you will want testing to at least be done by as many  basic users as possibl

[2017-09-24 10:44] dkager commented on #7621
I agree with @leonardder regarding the changelog. While this does not have to be super detailed, there should probably be some motivation of why these new drivers need to be included. As the PR template suggests, it's important to know why there is need for a change in the first place, what was actually changed and if there are any known issues.

[2017-09-24 10:49] dkager commented on #7620
@derekriemer Interesting idea, I like it. Mind changing the issue title so that it mentions this specific case, i.e. the core pump?

[2017-09-24 13:41] nitronova opened #7623 "NVDA fires off incorrect button events"
The link below contains my expansion of the pull-out menu design originally conceived by Marcy Sutton. My desired effect was to create a navigation menu that included sub-menus. In the context of screen readers, the elements in this menu would be disabled until someone pushed the button to open the desired information.

Having tested this menu on Firefox, Chrome, and IE, the menu behaves as expect

[2017-09-24 15:11] francipvb opened #7624 "Add a way to send touch events to the OS"
Hello,

I've reading some code sections and after researching I didn't found any way to send touch events to the operating system. May be a manual way, but I don't know the Windows API to do this myself.

I think that the best way may be to implement the `InputHandler.InputGesture.send` method in `touchHandler.TouchInputGesture` class.

Additionally, basic implementation of ~double tap~ action wil

[2017-09-24 16:01] josephsl commented on #7624
Hi, when a screen reader starts, it takes over the touchscreen, thus there’s really a no reliable way to pass on the touch gesture(s) to the OS/app. There is sort of a way, but that involves timers (see latest commits in Enhanced Touch Gestures add-on). CC @MichaelDCurran

From: Francisco R. Del Roio [mailto:notifications@github.com]
Sent: Sunday, September 24, 2017 8:12 AM
To: nvaccess/nvda <nvda

[2017-09-24 16:25] josephsl commented on #7105
Hi, I’ll make sure all app modules that ships with NVDA are properly ported, or if not completely, at least made compatible with both 2 and 3. Thanks.

From: Brian Gaff [mailto:notifications@github.com]
Sent: Sunday, September 24, 2017 2:20 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Upgr

[2017-09-25 06:48] leonardder opened #7626 "Ignore Windows toast messages while in sleep mode"
### Steps to reproduce:
1. GO to a secure desktop, NVDA should sleep
2. Trigger a Windows 10 toast. On my system (HP Probook), a toast is triggered when a device is plugged into the head phone jack. Other toasts that can be fired include messages about actions required to connect to a wifi network.

### Expected behavior:
The user copy of NVDA remains silent, as it is in sleep mode.

### Actual be

[2017-09-25 10:31] stanlaktionov commented on #6181
Any updates on this issue?

[2017-09-25 13:23] ehollig commented on #6181
CC @feerrenrut

[2017-09-25 14:30] #7512 closed

[2017-09-25 14:32] jeanbrazcosta commented on #7512
after the last update of NVDA the problem has been fixed.

[2017-09-25 17:40] RichCaloggero opened #7627 "Group label not read (fieldset / legend, div with role of group)"
[group-label-tests.zip](https://github.com/nvaccess/nvda/files/1330322/group-label-tests.zip)
### Steps to reproduce:
1. open attached .zip and load enclosed .html into Firefox
2. Goto top of page and press tab twice.

### Expected behavior:

should hear "my group label, choice 1, checkbox, unchecked"

### Actual behavior:

what you hear instead: "choice 1, checkbox, unchecked"

NVDA should read t

[2017-09-25 17:58] ctoth opened #7628 "Simpler method for finding NVDA objects"
Currently while developing addons, matching objects to perform operations on is quite ugly and manual, based on inspecting object attributes and searching for particular roles, ids, etc.

I propose a new approach based upon the Document Object Model, where NVDA Objects implement methods analogous to ```.matches``` and ```.querySelector``` on DOM objects.

## Things to consider:
- Do CSS selectors

[2017-09-25 18:29] derekriemer commented on #7628
I like this proposal.
One thing which is going to be hard to work through here. Moving through a tree of objects in IAccessible or UIA requires at least one COM call per node, plus one more usually to fetch the info, unless that node is already in existence in NVDA. This may or may not be the case, because NVDA creates the parts of the tree it needs lazily.
For example,
obj.querySelector(".babyGri

[2017-09-25 19:42] francipvb commented on #7624
Hello,

I didn't know about this. Scripting for an android emulator can be so difficult according to this problem.

I'll definitely search for the code you've mentioned.

Cheers,

[2017-09-25 19:42] #7624 closed

[2017-09-25 22:03] ctoth commented on #7628
I like all of those, but could we abstract to a single kind of id? Or do we think that we would want to be able to match against a control with an iAccessible id and a uID id which are different is a useful thing to support? Same with classes really.

[2017-09-26 04:29] leonardder commented on #7628
I also like this proposal. For query selectors, we could also copy the attribute matching from query selectors, which would give code like:

[code]

I agree some things are problematic, especially where walking descendants of IAccessible objects gets into view. Many things can be optimized for that, though. For example, if we only want to have objects with a specific window class, we can just take

[2017-09-26 06:40] KevGP opened #7630 "I want to change the voice in secure mode..."
But I have so many addons and voices in my main NVDA configuration it took over 5 minutes to copy them to my system configuration when using the "Use current settings on secure screens" button. Also I don't want to copy them as this evidently is a security risk. All I want to do is change the voice setting to make it faster, and change the keyboard layout from desktop to laptop. So this isn't poss

[2017-09-26 12:24] leonardder commented on #7630
Closing as duplicate of #2226, but certainly a valid point I concur with.

[2017-09-26 12:24] #7630 closed

[2017-09-26 15:32] Brian1Gaff commented on #7630
Unless you have a very slow machine, it in no way takes five minutes. If it
does maybe there is some other issue here.
 In real terms, security is not really an issue. I don't see it as one
unless you have somebody around who is a bit of a hacker, most folk would
not be troubled with all the config being copied. If you do not copy it all
and in the future some parameter of a synth set up as an add

[2017-09-26 16:25] derekriemer commented on #7628
[**@leonardder**](https://github.com/leonardder) commented on [Sep 25, 2017, 10:29 PM MDT](https://github.com/nvaccess/nvda/issues/7628#issuecomment-332083346 "2017-09-26T04:29:59Z - Replied by Github Reply Comments"):

We'd need a reverse mapping from role name to role number (used internally) for this.
Also, I'm not sure how you plan to do a general search like this quite yet without a huge perf

[2017-09-26 16:27] derekriemer commented on #7628
[**@ctoth**](https://github.com/ctoth) commented on [Sep 25, 2017, 4:03 PM MDT](https://github.com/nvaccess/nvda/issues/7628#issuecomment-332027096 "2017-09-25T22:03:25Z - Replied by Github Reply Comments"):

I assume you mean  UIA id?
If so, probably, although there's UIA automation ID, and UIA Framework ID, so we'd be choosing automation ID, but you'd almost never match on framework ID.

[2017-09-26 16:28] derekriemer commented on #7624
I'm not sure you need to close this, It's valid, and we'd love a way to be able to do this.

[2017-09-26 16:30] derekriemer commented on #7626
Agree that not being able to silence those is a bug, however, they do I think? visually show up.

[2017-09-27 05:16] feerrenrut commented on #5844
We think this was likely fixed with the wx assertions change.

@fernando-jose-silva have you seen this error recently? Could you let us know if you are still experiencing this problem?

[2017-09-27 05:53] feerrenrut opened #7631 "Moving the mouse into the toolbar freezes libreoffice"
### Steps to reproduce:

Beware this may make your machine unusable

 1. Open libreoffice writer
 2. Move the mouse into the toolbar

### Expected behavior:
Moving the mouse should not cause a crash/freeze

### Actual behavior:
LibreOffice and NVDA seem to freeze. The machine has very high CPU usage.
The machine must be restarted to recover.

### System configuration:
NVDA version:
Next-14432

NVD

[2017-09-27 06:16] feerrenrut commented on #6385
I am going to close this issue since its hard to follow, and seems to talk about several different problems that we never seemed to be able to get to the bottom of. Instead I have opened "Moving the mouse into the toolbar freezes libreoffice" #7631 which seems like it possibly could have been the cause of the problems described here.

[2017-09-27 06:16] #6385 closed

[2017-09-27 07:41] feerrenrut opened #7632 "A hard restart of windows causes a loss of settings for logon screen"
### Steps to reproduce:

1. Customise NVDA settings in some obvious way (by changing the synth, or speed for instance)
1. On the general settings dialog, set NVDA to start on windows logon.
1. Save the settings (from the general settings dialog)
1. Apply these to the logon screen by activating the button "use current saved settings on the logon screen and other secure screens" from the general set

[2017-09-27 08:11] Brian1Gaff commented on #6385
I'm recently using Libra Office portable and have had some issues with
things getting stuck, but I was not actually expecting it to be much to do
with nvda.
 I just feel sometimes focus gets lost and sometimes parts of the office
product do sit sulking for no apparent reason. No idea if this occurs in the
installed version as I like the portability. Its of course a great shame
Libra Office Writer

[2017-09-27 08:22] Brian1Gaff commented on #5844
Just about lack of spaces in some text. I do not know the reasons, but I've
seen this on some emails lists and indeed other places where text is
inputted when it becomes live it has no spaces. I put it down to the
probblems of some software coding space as some odd code then further
decoding strips these codes out.
 On the case of weird errors in nvda from windows. I've not seen the
described erro

[2017-09-27 11:36] fernando-jose-silva commented on #5844
thank you, I do not have these problems anymore, a lot has happened since the opening of this call, I even changed the Windows machine.

Enviado do meu iPhone

Em 27 de set de 2017, à(s) 05:22, Brian Gaff <notifications@github.com> escreveu:

[2017-09-27 12:46] leonardder commented on #7538
Having thought about this a little more, I'm still not an advocate of separate key strokes per application, but I can live with it. I propose the general set of quick navigation keys which application can override if they so desire. So, r, for example, should default to radio button but could be overridden for Word to be revisions.

Still, my first preference is fulling up the current key strokes,

[2017-09-27 14:28] derekriemer commented on #6431
Closing, because the reporter has not provided us with the requested information.

[2017-09-27 14:53] linguamortis commented on #7538
More crucial than discussing which keys should be used and if there
should be application-specific keys is the decision if there will or
should be separate key strokes for reviews and comments or if it should
remain one key for all changes in Word. I would really appreciate
separate keys, no matter which ones.

Am 27.09.2017 um 14:46 schrieb Leonard de Ruijter:

[2017-09-27 14:57] dkager commented on #7538
Yes, for what it's worth I think the general consensus is that separate keys are useful. It would make working with the Track Changes feature in Word much easier if you could navigate through comments only or revisions only.

[2017-09-27 15:31] Brian1Gaff commented on #7632
Could this be due to windows holding the save in a cache and never getting
the opportunity to actually save it?
 Much like when you unplug a ram stick without making sure  the data is
written first by using the tray safely remove option?
 However it would be also interesting to know if its always going back to
the main default than something else is going on.
 I have noticed issues if windows does

[2017-09-27 17:51] linguamortis commented on #7538
Yes, it would be definitely much easier with separate keys.

Am 27.09.2017 um 16:58 schrieb Davy Kager:

[2017-09-27 20:47] fernando-jose-silva opened #7633 "tests in firefox 57 the nvda stop once and for all when getting lost in reading the pages"
I installed firefox 64bits 57 that is in tests, more of curiosity to see if nvda worked well, motivated by the engine change that required changes from other screen readers.
When reading a few pages, when walking with the arrows up and down, when the focus goes through an advertising area the nvda looks starts reading the first line, soon interrupts the reading:
Open the page
https://tecnoblog.net

[2017-09-27 23:40] Elshara commented on #6431
A perfect example of this use case scenario is:
https://tinychat.com/gaydays
Click allow to use flash and then try to navigate.
Another use case is:
http://thedrip.net/
Look for embedded objects. You may have to click allow.

[2017-09-28 04:57] leonardder commented on #7633
I can't find the word PUBLICIDADE on this page.

[2017-09-28 07:11] Brian1Gaff commented on #7633
I've not tried this, but when I mentioned the engine change in the dev list,
nobody seemed to know what i was on about.
 This would explain why they have not back ported the fix for the focus
issue back to 56.
 I personally always have issues with 64 bit Firefox an nvda, who is why I'm
using the 32 bit version it would be interesting to try 57 32 bit though,
but not had the time yet.
 Could the wo

[2017-09-28 08:19] leonardder commented on #7538
I'm happy to implement stuff if either @michaeldcurran or @feerrenrut agrees.

[2017-09-28 11:46] fernando-jose-silva commented on #7633
Strange, perhaps advertising depending on the region where you are accessing, you look for other example, and envy.
Enviado do meu iPhone

Em 28 de set de 2017, à(s) 01:57, Leonard de Ruijter <notifications@github.com> escreveu:

[2017-09-28 12:01] dkager commented on #7538
Me too. I think implementing stuff is one of the coolest things to do.

[2017-09-28 14:18] fernando-jose-silva commented on #7633
Another place where you can test, open the nv access page itself
Walk with the arrows down until shortly after the frame
NV Access: Our Mission (Developers of free screen reader NVDA)
nvda will read the line:
NVDA is open source software. If you would like to contribute to the project, visit
Now press an arrow below and nvda should read the link:
NVDA on GitHub.
However nvda repeats the title of t

[2017-09-28 16:37] Brian1Gaff commented on #7633
As I say I had to downdate from 56 due to focus issues which they claimed to
have fixed in 57, kind of looks like in fixing one thing they screwed up
something else.
 Oh dear.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-09-28 16:40] Brian1Gaff commented on #7633
I think you need to explain this in a bugzilla report as they might
understand what has gone wrong. Needs somebody to test 57 32 bit to see if
its the same. When it comes along I can try it , but only on windows 7.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-09-29 10:06] leonardder commented on #774
This was fixed in NVDA 2017.3

[2017-09-29 10:06] #774 closed

[2017-09-29 10:19] NavenduSanwal commented on #2940
Facing the similar bug for anchor tags which have large text so that it breaks into separate lines. It only reads the first line on mouse hover and ignore the others.

Tested on stackoverflow.com/ for questions which wrap to second line.

Configuration:
- Win7
- Firefox 55.0.3
- NVDA 2017.1
- Mouse tracking enabled and text resolution set to "paragraph"

Are there any workaround?
Breaking links wi

[2017-09-29 14:38] bhavyashah commented on #3361
I am wondering if this bug still persists with WxPython 4.0, the version NVDA is going to eventually shift to. This might be a ticket worth addressing at a point in time when Python 3/WxPython 4 transition becomes a area being actively worked upon in NVDA. CC @josephsl

[2017-09-29 15:11] leonardder commented on #7452
[**@bhavyashah**](https://github.com/bhavyashah) commented on [16 sep. 2017 15:30 CEST](https://github.com/nvaccess/nvda/issues/7452#issuecomment-329968546 "2017-09-16T13:30:19Z - Replied by Github Reply Comments"):

Why do you think this is the case? From my experience as a trainer for visually impaired people, I can safely say this statement is, well, simply not true :)

Also note that the synth

[2017-09-29 15:55] FelixGruetzmacher commented on #7458
On one of my machines when starting NVDA with the native driver I get the following as part of the log:
INFO - external:brailleDisplayDrivers.handyTech.BrailleDisplayDriver.__init__ (17:25:32.986):
Found Active Braille connected via USB HID (\\?\hid#vid_1fe4&pid_0054&mi_00#8&38e8f3ff&0&0000#{4d1e55b2-f16f-11cf-88cb-001111000030})
ERROR - stderr (17:25:32.986):
Exception
ERROR - stderr (17:25:33.00

[2017-09-29 17:22] leonardder commented on #7458
[**@FelixGruetzmacher**](https://github.com/FelixGruetzmacher) commented on [29 Sep 2017, 17:55 CEST](https://github.com/nvaccess/nvda/issues/7458#issuecomment-333165506 "2017-09-29T15:55:01Z - Replied by Github Reply Comments"):

Ah yes, that one. You can actually safely ignore that, its hwIo trying to close a port which is never opened. It is not driver specific and not at all live threatening.

[2017-09-29 17:32] leonardder commented on #7458
[**@FelixGruetzmacher**](https://github.com/FelixGruetzmacher) commented on [29 Sep 2017, 17:55 CEST](https://github.com/nvaccess/nvda/issues/7458#issuecomment-333165506 "2017-09-29T15:55:01Z - Replied by Github Reply Comments"):

Ah yes, that one. You can actually safely ignore that, its hwIo trying to close a port which is never opened. It is not driver specific and not at all live threatening.

[2017-09-29 17:42] leonardder commented on #7458
@FelixGruetzmacher: Have you a working source copy? If so, could you run this from source and paste the debug info? That will also log the line of failing code. Also, you could try to run with this particular statement commented out:

[code]

[2017-09-29 17:46] dkager commented on #7458
Sounds like an incarnation of #6845.

[2017-09-29 17:52] FelixGruetzmacher commented on #7458
Don't have a working copy here as I'm no longer at the office but I looked at the code and I think you got it nailed. "hwPortUtils.pyc", line 236 tries to log a Windows error which might, depending on locale, contain unexpected characters. Maybe something as simple as using %r instead of %s gets rid of it.

[2017-09-29 19:46] leonardder commented on #7458
Could you report whether [this](https://ci.appveyor.com/api/buildjobs/c77qm6overooi51d/artifacts/output%2Fnvda_snapshot_try-handytech-native-14471%2C7dd31e6b.exe) try build fixes your issue? it uses %r instead of %s to log the port.

[2017-09-30 01:00] tapper82 commented on #7633
Hi I have had brackage on this page to:
https://people.xiph.org/~jm/demo/rnnoise/donate.html
Buttens wont press. Windows 10 ff 58 64 bit

[2017-09-30 01:03] sinabahram opened #7635 "NVDA reads unparsed MathML leaves if aria-hidden="false" is applied to containing span in IE"
### Steps to reproduce:

1. Open IE on Windows 10
2. Go to this URL: https://pac.bz/downloads/MathMLWithAriaHiddenFalse.html
3. Notice on that page that identical code examples exist, but one of them has aria-hidden="false", which should have no effect, around the span containing the MathML.
4. Read the page with NVDA, and notice that under the "Does Not Work" heading, NVDA reads the leaf nodes of

[2017-09-30 01:55] NSoiffer commented on #7635
# Minor clarification
Actual behavior is that NVDA reads the leaf nodes of the MathML and then properly reads the MathML as math (i.e., you hear the MathML twice, once as kind of garbage as it is just reading the leaf text and then properly). Without the aria-hidden="false", it properly reads just the MathML.

Under configuration, you also have to MathPlayer installed to hear the math read properl

[2017-09-30 07:58] FelixGruetzmacher commented on #7458
Positive!

Leonard de Ruijter <notifications@github.com> schrieb am Fr., 29. Sep. 2017
um 21:46 Uhr:

[2017-09-30 12:15] bhavyashah commented on #3514
Since I am not a Touch Screen user, I may have misinterpreted the requested behavioural change, but let me share my interpretation all the same to ensure that everyone is on the same page. Currently, the left and right flicks move the user between levels of the object hierarchy, whereas one would normally expect to move between the previous and next objects at the same level. This expectation can

[2017-09-30 12:42] josephsl commented on #3514
Hi, one way to look at this is thinking about how Narrator’s next/previous item commands work. Currently Narrator doesn’t care the hierarchy of an object, but ideally, it should move by controls. Same thing applies in NVDA when moving via touch gestures. I think a much better way would be a toggle instead so people can experiment with this, as well as to account for the fact that it is desirable t

[2017-09-30 17:55] bhavyashah commented on #4596
@michaelDCurran stated in https://github.com/nvaccess/nvda/issues/4596#issuecomment-155329919 that he would investigate the technicals of the reported issue further. Since there was no follow-up from Mick or someone else post that initial comment, this is just a friendly reminder for @michaelDCurran and others to kindly consider resuming said technical investigation as and when time permits. Once

[2017-09-30 18:13] bhavyashah commented on #4683
Using Word 2010 and NVDA 2017.3 on a Windows 8.1 system, I was unable to reproduce the reported issue via the following STR:
* Open a blank Word document.
* Press Alt+N to navigate to the Insert Tab.
Expected and Actual Result: NVDA reports the Insert Tab as part of the Word ribbon along with its keyboard shortcut, i.e. "Ribbon Tabs  tab control
Insert  tab  selected  Alt, N"

Since the ticket bod

[2017-09-30 18:17] bhavyashah commented on #4686
Duplicate of #3018

[2017-09-30 18:25] bhavyashah commented on #4704
@michaelDCurran (Microsoft Office expert) Is the diagnostic information already provided sufficient for you to be able to do what you do? If not, I would like to sincerely request @Qchristensen to intervene by filling any blanks that I may have left, since I believe Quentin has a copy of Office 2007, while I only have Office 2010 on my system.

[2017-09-30 18:28] bhavyashah commented on #5599
This is a friendly reminder for @michaelDCurran to kindly consider responding to @jcsteh's https://github.com/nvaccess/nvda/issues/5599#issuecomment-163774874 by sharing any related ideas with regards to the reported issue.

[2017-09-30 18:35] ehollig commented on #4686
Closing as duplicate of #3018

[2017-09-30 18:35] #4686 closed

[2017-09-30 23:35] ehollig commented on #5079
This ideally should be the responsibility of the web author using ARIA. Closing as wontfix

[2017-09-30 23:35] #5079 closed

[2017-10-01 01:10] ehollig commented on #7471
Closing as worksforme because of the description provided in https://github.com/nvaccess/nvda/issues/7471#issuecomment-319902521. When I press "U" or "V" in an Outlook 2016 message, NVDA announces, "Not supported in this document."

[2017-10-01 01:10] #7471 closed

[2017-10-01 06:20] bhavyashah commented on #5299
The wording of this ticket suggests to me that this is a bug rather than a feature request, whereas my understanding of this issue implies the opposite. In other words, was Ctrl+Shift+E as a track keyboard shortcut for toggling track changes supposed to be part of #1353's implementation as a common Microsoft Word shortcut key, or is Ctrl+Shift+E something that User pranavlal would like newly suppo

[2017-10-01 06:23] gdata1 opened #7636 "nvda is not voiced switching of keyboard layout in microsoft edge."
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

hi. open the microsoft edge.

[2017-10-01 06:24] bhavyashah commented on #5990
@leonard (or others with requisite triaging privileges) Please add the P3 label as agreed upon by @leonardder and @Qchristensen in previous comments.

[2017-10-01 06:33] bhavyashah commented on #4463
In response to @leonardder's https://github.com/nvaccess/nvda/issues/4463#issuecomment-317191095:
The last line of the ticket body explicitly states that the reported issue is not experienced in Word 2010. Interestingly enough, this is not true according to my brief testing with the Spelling and Grammar dialog in Word 2010 using NVDA 2017.3 on a Windows 8.1 system. I am able to reproduce the repor

[2017-10-01 06:51] derekriemer commented on #7636
I suspect this might be due to injection being blocked in edge, although I don't have two languages here to test with, becaust I don't need them.

[2017-10-01 06:53] derekriemer commented on #5299
This is a word shortcut, and a notification that the track changed.

[2017-10-01 06:54] josephsl commented on #7636
Hi,

I can confirm this, and I think @DerekRiemer might have the right idea. CC @michaelDCurran

[2017-10-01 07:10] gdata1 commented on #7636
if so I think you need to solve it with microsoft. the last time edge was convenient and accessible with nvda.

[2017-10-01 07:11] josephsl commented on #7636
Hi, this problem may involve a fix from MS, a fix from NVDA, both, or none. After working with Windows 10 for the past three years, I came to conclusion that certain problems require collaborative solutions, including Edge issues. Thanks.

From: nikita [mailto:notifications@github.com]
Sent: Sunday, October 1, 2017 12:10 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee2259

[2017-10-01 08:19] bhavyashah commented on #4992
Testing precisely with the STR provided in the ticket body with Word 2010 and NVDA 2017.3 on a Windows 8.1 system, I was unable to reproduce the reported issue. Arrowing in both the Font size and Font (name) boxes caused NVDA to speak every option. However, one possibly related but much less significant issue I experienced while arrowing through the Font (name) box can be explained by the followin

[2017-10-01 08:30] FelixGruetzmacher commented on #7458
Any ideas if this will make it to 2017.4?

[2017-10-01 08:52] josephsl commented on #4992
Hi,

Safe to close, as I cannot reproduce this anymore in Word 2016. In case someone does come forward and say this isn't working in 2010/2013, please reopen. Thanks.

[2017-10-01 08:52] #4992 closed

[2017-10-01 10:40] dkager commented on #7556
I can no longer reproduce this with Outlook 16.0.8431.2046. @Qchristensen could you give it a try?

[2017-10-01 22:06] bramd commented on #7458
[**@FelixGruetzmacher**](https://github.com/FelixGruetzmacher) commented on [Oct 1, 2017, 10:30 AM GMT+2](https://github.com/nvaccess/nvda/issues/7458#issuecomment-333361655 "2017-10-01T08:30:04Z - Replied by Github Reply Comments"):

It is not yet reviewed by one of the core devs and will need to go in next for testing first, before it will move on to master and a release. Depending on that timel

[2017-10-01 23:07] ehollig commented on #5695
Is this related to #7044? CC @Qchristensen

[2017-10-01 23:38] derekriemer commented on #7458
Could it be registered the first time the user launches the display?

[2017-10-01 23:55] derekriemer commented on #7556
Sina can. Are you running insiders? maybe it needs to perkalate back in to stable builds of office.

[2017-10-02 00:06] Qchristensen commented on #1315
Note, @stickbear2015's updated description is a duplicate of #7556, so I'll leave it closed and mark it as a duplicate.

[2017-10-02 00:14] Qchristensen commented on #7556
I'm still running stable Office, so the issue is still present for me. Actually, I just checked my build number and I'm running Version 1708, build 8431.2079 which would appear to be newer than @dkager

I did find the first time I opened Outlook this morning, I could change folders using any method for about 30 seconds and was about to agree that the issue appeared to be resolved, and then it hung

[2017-10-02 00:36] derekriemer commented on #7556
That's exactly what Sina's reporting.

[2017-10-02 00:43] Qchristensen commented on #4704
Ok, I know what's happening here.  The confusion is that it probably shouldn't be announcing the dialog name when you press shift+tab.  Once you take that out (or ignore it), it's easier to interpret what is being reported.

The "Find and replace" dialog, has three "tabs", one for "find", one for "replace" and one for "go to".  Whichever one opens depends on which keystroke you used (control+f, co

[2017-10-02 00:56] derekriemer commented on #4704
Okay, so focus is being placed on the dlg, not the tab control.

[2017-10-02 02:33] feerrenrut commented on #7578
This is not currently on the road map, I agree that the consistency could be improved by having descriptions read from browse mode.

[2017-10-02 02:49] Qchristensen commented on #5299
Firstly, I can confirm that this affects every version of Word, at least from 2007 - certainly in both Word 2007 and Word 2016 (to add to Word 2010 and 2013 that have already been mentioned), NVDA does not report anything when control+shift+e is pressed in Word (except for the keys themselves if that is enabled) - there is no indication that track changes has been turned on or off.

So, possibly a

[2017-10-02 03:16] Qchristensen commented on #4683
Ok, I can confirm in Office 2007, 2013 and 2016 that the Insert ribbon is identified when you press alt+n, as are other ribbons.

The "File menu" has been an odd beast in Office since they brought ribbons in.  In Office 2007, there is no "file" label - everyone just called it that.  Visually it is a circle with the "office logo" and navigating to it (eg press alt, then left arrow) reports it as "o

[2017-10-02 03:17] #4683 closed

[2017-10-02 03:48] Qchristensen commented on #5695
I'm using Office version 1708, build 8431.2079.  Downloaded from Microsoft in Australia and using the Australian dictionary.

I can reproduce the original issue - with NVDA running AND table row / column headers being reported, pressing F4 does not repeat the last action.

What F4 does in this situation, seems to be the same as control+shift+* - that is, it selects the current region - the block o

[2017-10-02 04:10] feerrenrut commented on #5844
Thanks for the feedback, we will close this issue now. If this reoccurs please comment or open a new issue.

[2017-10-02 04:10] #5844 closed

[2017-10-02 04:15] leonardder commented on #7458
I belief the com server dll can now be bundled since the com server is specified in NVDA's manifest. I'm afraid it won't load if we leave it out there.

[2017-10-02 04:19] feerrenrut commented on #6579
Given the last comment from @michaelDCurran. @tspivey Could you please try and reproduce this again and report back if it is fixed for you?

[2017-10-02 04:42] feerrenrut commented on #6772
Looks like the crash dump was from 2016.4 and the issue has stopped occurring in 2017.2. In Feb of 2017 we introduced a change to the way wx assertions were handled  which was likely responsible for the initial freeze. I will close this issue. @bhavyashah if you are still experiencing the freeze could you raise a new issue and attach a full log please.

[2017-10-02 04:42] #6772 closed

[2017-10-02 04:51] michaelDCurran commented on #7021
Testing with Adobe Reader 2017 Release | Version 2017.012.20098 I can no longer reproduce the crash with that pdf.
@raebened: can you still reproduce it?

[2017-10-02 05:02] dkager commented on #7556
No. Also, when I try to update Office, it says there are no updates.
Could be that if I let it sit for a while, it will revert to hanging again. Let's see!

[2017-10-02 05:40] feerrenrut commented on #6181
Using Chrome Version `61.0.3163.100` on Windows 10 with `next-14463,7dca66c4`

I found that the modal dialog was mostly accessible and accurate with the mouse, with the exception of a small percentage of the bottom of the window. I tried this at several zoom levels and found that regardless it was about 20% of the bottom of the window that would not report the modal popup.

1. I turned on mouse tr

[2017-10-02 05:55] stickbear2015 commented on #7556
As an interesting note to this, I switched to JAWS, and attempted to reproduce this interesting bug, and running through the entire list of steps, had no issues.
Returning to NVDA, running through each of the STR's in this ticket, outlook crashed in either one, or both of the ways previously described.
I can reproduce this under windows 10 insider, running latest outlook insider build, and windows

[2017-10-02 06:34] leonardder opened #7637 "MSHTML: checked disabled check boxes reported as unchecked"
### Steps to reproduce:
Paste the following in a html file, or for Firefox/Chrome, prefix with data:text/html,

[code]

### Expected behavior:
1. Box 1 reports as checkbox not checked, it can be changed as desired
2. Box 2 reports as unavailable and checked
3. Box 3 reports as unavailable, not checkedchecked

### Actual behavior:
In Internet Explorer 11, box 2 is reported as unavailable, not check

[2017-10-02 06:37] leonardder commented on #7637
@MichaelDCurran: Happy to fix this, if I knew where to start. Also, I suggest giving this p2 or p3.

[2017-10-02 06:44] michaelDCurran commented on #7637
My guess is that it is a bug in MSHTML's own MSAA implementation in Windows. You could possibly get around it by specifically looking for the "checked" attribute in both the vbufBackend and the MSHTML NVDAObject. I'd certainly say this is a p3.

[2017-10-02 06:48] #5324 closed

[2017-10-02 07:13] surfer0627 opened #7638 "Report dynamic content changes: speech reports some content in this page"
### Steps to reproduce:
1. Press NVDA+5 to toggle "report dynamic content changes" off.
2. Open [this page](http://www.ba.org.tw/PublicInformation/AccessibilityAtm).

### Actual behavior:
Speech reports messages (in Chinese). E.G.:
創意產業融資…
行政院洗錢防制辦公室…
消費者債務清理條例…
新南巷政策…
存款帳戶查詢…
代辦貸款陷阱多…
公務機關查調資料…
不良債權售後申請…
全國繳費往…

### Expected behavior:

These messages are not reported.

### Other questions:

This

[2017-10-02 07:31] sudheesh001 commented on #7170
Hi, I am facing a similar problem with VS2017

[code]

Running the command manually gives the following result

[code]

The `MIDL` I am using is located at
[code]
[code]
and `cl` that is located at
[code]
and version
[code]

[2017-10-02 07:32] comanna commented on #7556
I confirm that the same is happening here. I recently installed Office 365 online, which is Office 2016 delivered with a rolling-over licence so is still Office 2016 as usual.

I find that the reported behaviour is even more frequent in this installation of Office when NVDA 2017.3 is running. The control+shift+tab is still functioning correctly.

There is another Outlook issue which I will detail

[2017-10-02 07:34] sudheesh001 commented on #7314
Hi @derekriemer We are using `python2` and ran into the following issue while setting this up. We installed `scons==2.4.1` from pip for this.

https://github.com/nvaccess/nvda/issues/7170#issuecomment-333460068

[2017-10-02 07:39] derekriemer commented on #7314
Try running `python scons.py source `
 from the nvda directory  NVDA includes its own scons (As noted in the readme).

[2017-10-02 07:44] feerrenrut commented on #7598
Could you take this further, why would an add-on store its config in a separate file? Can you name one that suffers from this problem?

The suggestion of a cloud storage addon is a good one. However, I would be cautious of extending a new area of code in order to provide support for an add on that does not exist. The extension points code is quite new, and hopefully it does become stable. Growing

[2017-10-02 08:45] jmuheim commented on #7578
Powermapper claims that NVDA reads `aria-describedby` in browse mode since 2012 already!

https://www.powermapper.com/tests/screen-readers/labelling/a-aria-describedby/

So you say this claim is wrong?

[2017-10-02 08:59] sudheesh001 commented on #7314
Hi @derekriemer This is the issue we face when running it via `python scons.py source`

[code]

[2017-10-02 09:28] leonardder commented on #7637
@MichaelDCurran: Thanks for the rapid reply :)
Is there a particular reason why for MSHTML quick nav, focusable is required for check boxes and radio buttons? This isn't a requirement for gecko. Unless there's a good reason, Tempted to drop this requirement for check boxes and radio buttons.

[2017-10-02 09:31] michaelDCurran commented on #7637
I don't think there is any good reason why focusable was there.

[2017-10-02 09:42] FelixGruetzmacher commented on #7458
Maybe if there's a way to modify the activation context at runtime without
having the com server in the manifest. The alternative might be to create a
setup which registers the com server with Windows and installs the add-on.
It can be written so as not to interfere with the native driver by simply
naming it differently, such as "Handy Tech Custom" as opposed to "Handy
Tech".

Leonard de Ruijter <

[2017-10-02 10:01] leonardder commented on #7458
[**@FelixGruetzmacher**](https://github.com/FelixGruetzmacher) commented on [2 okt. 2017 11:42 CEST](https://github.com/nvaccess/nvda/issues/7458#issuecomment-333487512 "2017-10-02T09:42:23Z - Replied by Github Reply Comments"):

That would be something you guys at handy tech could do of course. IN any case, I think everything related to the com server should be removed from NVDA core.

[2017-10-02 10:49] Brian1Gaff opened #7639 "Failures to update an installed copy of master branch"
### Steps to reproduce:
Get the  prompt to update
do the required steps. Fails as below

Message presented...
The installation is unable to remove or overwrite a file. Another copy of NVDA may be running on another

logged-on user account. Please make sure all installed copies of NVDA are shut down and try the

installation again.

Surely the installer of the update should have done this already?

[2017-10-02 11:16] Brian1Gaff commented on #6772
I can also confirm that the crash that occurred by creating a new folder
from the keyboard has also gone away in the recent issues of nvda. It used
to upset Explorer and itself randomly before.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-10-02 13:50] FelixGruetzmacher commented on #7458
I agree. And regarding said setup, I meant it in exactly the way you
understood it---namely, that we at Handy Tech would do that. I just wanted
to point out we would make very sure it plays well with the native
implementation, which I like a lot.

Leonard de Ruijter <notifications@github.com> schrieb am Mo., 2. Okt. 2017
um 12:01 Uhr:

[2017-10-02 13:57] derekriemer commented on #7314
That suggests your visual studio is messed up.  Specifically, it cannot get at the actual c++ compiler. Do you have vs 2015? If not, @michaelDCurran is close to getting support for visual studio 2017 in, so it might just be worth waiting for it to hit master in a few weeks. If you do have vs2015, are you sure the c++ tools installed? The treeview on 2015 is weird. Hint: Look for a checkbox under e

[2017-10-02 13:59] derekriemer commented on #5299
Any idea on priority?

[2017-10-02 14:26] josephsl commented on #7598
Hi, several, including Remote Support, SPL Studio, and to some extent, Place Markers and what not. One of the limitations of our current Config Manager (as noted above) is the fact that it does not offer an easy way to delete sections, needed by SPL and other add-ons. In case of SPL, I took config management a step further by reading config from multiple files at once. Thanks.

From: Reef Turner [

[2017-10-02 15:14] nunahosting commented on #7170
I can confirm this here as well running studio 2017

From: Sudheesh Singanamalla [mailto:notifications@github.com]
Sent: Monday, October 2, 2017 3:32 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nvaccess/nvda] Scons source cannot find C preprocessor cl.exe Windows 10 (#7170)

Hi, I am facing a similar problem with VS2017

scons: Readin

[2017-10-02 15:35] josephsl commented on #7170
Hi, you’ll need VS2015 Community for now until VS2017 support comes to master branch. Thanks.

From: nunahosting [mailto:notifications@github.com]
Sent: Monday, October 2, 2017 8:14 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Scons source cannot find C preprocessor cl.exe Windows 10 (#7

[2017-10-02 16:43] ehollig commented on #6308
@juliancho1025, do you have a working example that demonstrates the described behavior?

[2017-10-02 18:58] josephsl commented on #7105
Hi, uh oh, another setback for us. CC @JCSTeh, @DKager

From: Leonard de Ruijter [mailto:notifications@github.com]
Sent: Monday, October 2, 2017 11:38 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nvaccess/nvda] Upgrade NVDA codebase to Python 3 (#7105)

How about the liblouis python bindings? According t

[2017-10-02 19:15] leonardder commented on #7105
Turns out Python 3 x64 was used for that test with an x86 dll, so no, that does not work indeed. :P Still a thing that should be tested.

[2017-10-02 23:12] Qchristensen commented on #5299
As a feature, we wouldn't normally assign a priority.

Currently, btw, the easiest way to ascertain whether track changes is on is:
1. Press alt+r, g.  NVDA announces the Track changes item.  If it announces "checked" as part of the description, then Track changes is on, otherwise track changes is off.
2. If desired, press ENTER to toggle track changes, otherwise press alt to exit the ribbon.

Alt

[2017-10-02 23:17] feerrenrut commented on #7613
Thanks @derekriemer for the steps to reproduce, I can reproduce this now.

@rishsharma thanks for the extra information. I think we should investigate if we can improve the way that we handle this in NVDA if we can.

I'll leave this issue open and give it a priority 3, while it's not ideal and a bit confusing the impact to a user is fairly low.

[2017-10-03 00:00] gregjozk opened #7640 "toggle button does not expand itself"
### Steps to reproduce:

1. open firefox
2. go to any page which has expandable button (e.ge nvda mainpage on groups.io)
3. restart NVDA
4. try to expand the first button so you can choose a view (messages or topics)

### Expected behavior:

button should expand itself.
If I want this behaveour, I must restart firefox.

### Actual behavior:

NVDA does not interact with this type of button, so this

[2017-10-03 00:44] feerrenrut commented on #7626
I don't consider it a bug, when I plug headphones into my system on the windows lock screen I see a notification. Why shouldn't NVDA make you aware of this information?

[2017-10-03 01:14] derekriemer commented on #7598
Also, tip of the day uses ini with configobj, but the data is not config based, but many of the things I store are specifically state. I do that in a separate file.

[2017-10-03 01:49] feerrenrut commented on #7598
So the other question is why do these add-ons (perhaps just explain one) store config in a separate file?
What is the current work around for deleting sections?

[2017-10-03 01:56] derekriemer commented on #7598
The reason I'm doing it, is because the config system was not mature enough in the old days to do this, and I also don't want things like the current tip value being stored in other than base config. See my issue https://github.com/nvaccess/nvda/issues/7467

[2017-10-03 01:57] josephsl commented on #7598
Hi, not that I know of at the moment, as there is really no __delitem__ method defined. Thanks.

From: Reef Turner [mailto:notifications@github.com]
Sent: Monday, October 2, 2017 6:49 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add-on config: allow add-ons to respond to config save/relo

[2017-10-03 04:07] derekriemer commented on #7598
[**@josephsl**](https://github.com/josephsl) commented on [Oct 2, 2017, 7:57 PM MDT](https://github.com/nvaccess/nvda/issues/7598#issuecomment-333716903 "2017-10-03T01:57:15Z - Replied by Github Reply Comments"):

Know of what?
Cheers

[2017-10-03 04:08] derekriemer commented on #7626
it's more that I can't tell NVDA to shut up after it starts going blah blah blah.

[2017-10-03 04:08] josephsl commented on #7598
Hi, know of safely deleting sections (keys) instead of fiddling around with files and introducing monkey patches and subclassing. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Monday, October 2, 2017 9:08 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] Add-on config: a

[2017-10-03 04:59] leonardder commented on #7626
@feerrenrut: Do you also see this notification when you are at a logon prompt? Note that on the Windows 10 lock screen itself still talks with the user instance. The problem applies to toast notification spoken by the user instance when the system instance has foreground.

[2017-10-03 05:15] #1785 closed

[2017-10-03 05:32] #7574 closed

[2017-10-03 06:39] #6213 closed

[2017-10-03 06:40] feerrenrut commented on #7626
Ah, I tested this again. The messages are shown visually on the lock screen, but not at the logon prompt. I understand what you mean about not being able to silence the messages as well, you can actually get NVDA talking twice which is pretty confusing to deal with.  We should try to match the visual behaviour, speak the messages when on the lock screen, but not when on the logon prompt.

I'm goin

[2017-10-03 07:34] leonardder commented on #7637
I can't get this to work on the vbuf side. @MichaelDCurran: Would be very grateful if you could take a look at https://github.com/BabbageCom/nvda/tree/i7637

What I did so far:

1. Added checked to the attribute map in the vbuf backend. In the python part, add the checked state in cases where the checked attribute is there.
2. Current implementation (last commit), do everything in the vbuf backend

[2017-10-03 07:41] leonardder commented on #7626
Sorry for being a bit vague here.

I still belief this can be generalised to silencing toast messages, not specifically when on the logon screen, but in general when sleep mode is on. Note that API messages also come through while sleep mode is on.

[2017-10-03 13:18] derekriemer opened #7641 "In latest next builds, trying to update next, then makes browser events die until reboot."
### Background:

There's been a bug in NVDA for years that when we load source copies of NVDA, events in browsers fail to talk to us. Somehow, I always ignored this in source, because core developers experienced it too, however, with the introduction of https://github.com/nvaccess/nvda/issues/7563 I believe this got much worse. Every time I update next, NVDA stops responding to dynamic events unti

[2017-10-03 13:35] Kerneels commented on #2156
Wow, this is very exciting! I got the gvim.py, and added some beep code (for testing) to fire on transitioning to an open gvim while NVDA is running - just to make sure the AppModule is being loaded by NVDA.

Apart from the beep test code sounding, nothing is spoken when moving the cursor around in gvim, in visual, normal or insert mode save for the keys pressed. What might I be doing wrong?

I do

[2017-10-03 13:40] derekriemer commented on #1785
congrats @ehollig for your first graduated PR!

[2017-10-03 15:45] dan1982code commented on #7633
Not sure whether to open new issues for Firefox 57, being as it's in beta, but I've noticed a few things with NVDA and Firefox 57 beta 5:

1. Loading pages is sometimes much much slower. For example, open the NVDA What's New document. On Firefox 56, it takes under a second; in Firefox 57, it takes 5-10 seconds.

2. NVDA now says "loading document..." a lot. I suppose that this is for big pages?

3

[2017-10-03 15:47] dan1982code commented on #7641
I can confirm this, but closing Firefox completely is enough to fix it for me (reboot not required).

[2017-10-03 15:49] Brian1Gaff opened #7642 "Removing NVDA Service also removed win32api, which cause problems for some add-ons"
When I installed as a portable version, but left the old user config file so the add ons etc would be loaded I got this error on running either the installer or the finished portable version.
ERROR - globalPluginHandler.listPlugins (12:03:44.404):
Error importing global plugin goldenCursor
Traceback (most recent call last):
  File "globalPluginHandler.pyc", line 22, in listPlugins
  File "C:\Users

[2017-10-03 20:43] Brian1Gaff commented on #7641
It just falls over and crashes golden cursor, see my ticket on this. A
needed part of nvda seems to be missing from that snap.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "dan1982code" <notifications@github.com>
To: "nvaccess/nvda" <nvda@noreply.

[2017-10-03 20:47] Brian1Gaff commented on #7633
In 56 it goes to the sidebar I remember raising it on bugzilla and they said
it was not portable back to 56 but was fixed in 57. When I mentioned here
the massive changes in 57, nobody seemed to know what I was talking about!
 I personally think they have messed it up big time, as its engine is
renamed to photon or some other word that sounds like it not the original
one its kind of like son of Fr

[2017-10-03 20:53] CyrBo opened #7643 "Outlook 2003 crash when opening and reading a message"
### Steps to reproduce:

1. Open Outlook 2003 in Inbox
2. Open a message by pressing Enter key
3. As soon as Enter key is pressed, press up or down arrows quickly  to read the lines of the message.

### Expected behavior:
Message should be read by NVDA.

### Actual behavior:
Outlook crashes and is close by Windows.

### System configuration:
NVDA version: 2017.3
NVDA Installed or portable: both (l

[2017-10-03 20:58] Brian1Gaff commented on #7641
Look at my update problems in windows 7 something is wrong with Micks idea
of replacing the  bits that are needed by renaming the old ones and copying
new ones to run on installation or enabling of the portable that is causing
things to  fall over when renaming fails.
 This I have traced to a temp folder in the lib and lib 64 folders mostly
and it means things just are not reliable any more.

Also

[2017-10-03 22:30] Kerneels commented on #812
Hi. In case this might be of any help, please see the atached JFW script that makes GVim work reasonably well.

As soon as I can get to it, I'll revitalize the phonim project, which is a collection of approaches on how to make GVim speak. For now I thought that the use of the Vim commands sent through the OLE connection, as well as the key interpretation might be helpful for a NVDA situation.

I'm

[2017-10-03 22:32] Kerneels commented on #2156
Hi. In case this might be of any help, please see the atached JFW script that makes GVim work reasonably well.

As soon as I can get to it, I'll revitalize the phonim project, which is a collection of approaches on how to make GVim speak. For now I thought that the use of the Vim commands sent through the OLE connection, as well as the key interpretation might be helpful for a NVDA situation.

I'm

[2017-10-04 04:17] leonardder commented on #7643
Are you able to reproduce this in 2017.2? Probably closing this due to the fact that Outlook 2003 is very old, closed a duplicate earlier. However, if this is a regression since earlier versions of NVDA, it might be good to investigate what's wrong.

[2017-10-04 09:58] raynesio opened #7645 "When input field type = 'number' the 'delete' keyboard button doesn't function"
### Steps to reproduce:
Create an input field with a _type="number"_ as per the below example:
`<input name="total" value="10" id="total" aria-label="Total" min="0" max="99" type="number">`

Using NVDA and Firefox navigate to the input field and enter some numeric values into the text field. Using the tab key navigate away from the input field element. Now navigate back to the input field and clic

[2017-10-04 11:17] richardbartley commented on #7271
This issue is still occurring in Version 61.0.3163.100 (Official Build) (64-bit).  Seems to happen after a few hours of use.  Swapping tabs does not reload their content.  F12 developer tools does not load anything.

[2017-10-04 11:21] leonardder commented on #7645
May I ask why you think this is specific to NVDA? Also, please test this with NVDA 2017.3.

[2017-10-04 11:22] leonardder commented on #3252
@surfer0627: Would you be able to reply to @ehollig's message?

Closing this as invalid around this time next wweek if no additional information has been provided.

[2017-10-04 13:10] raynescc commented on #7645
I've tested without a screenreader and with other screenreaders (e.g. Jaws) and it worked fine with this input field type. I've also just tested with NVDA 2017.3 but the result is the same.

[2017-10-04 13:55] stevenbriscoeca opened #7646 "Mouse event fired incorrectly when NVDA is paired with firefox"
This bug has been found in this repo https://github.com/ten1seven/what-input/issues/68#issuecomment-334036581. It might be NVDA causing it.

### Steps to reproduce:
Notes : **Use NVDA and firefox.**

@ten1seven created this codepen to test: https://codepen.io/ten1seven/pen/yzPYrb?editors=1010

- Open the console
- Navigate by keyboard to the checkbox with your keyboard
- Use the spacebar to toggle

[2017-10-04 15:17] gregjozk commented on #7641
confirmed. also see #7640. and as @dan1982code said restart of firefox solves a problem.

[2017-10-04 16:05] RichCaloggero commented on #7633
## Same behavior with 57 beta 5, 32-bit

Let me try and summarize the behavior again.

- got http://nvaccess.org
- top of page with control+home
- press "m" to goto first frame
	+ expected: "frame clickable clickable"
	+ behavior: starts to say something, then speech is immediately truncated
- press control+home to goto start of page again
	+ expected: read first line of page ( "heading level 1, N

[2017-10-04 16:31] Brian1Gaff commented on #7643
Is this the ticket I opened. I have a lady  who has this issue still. I
guess the fix will have to be to find a new email client then.
 Seems to occur randomly but from what I've seen lately, many versions of
Outlook seemed to get cranky after the recent windows 10 update so I doubt
if Microsoft will patch old versions of Outlook to fix any issues like this
one.
 I can talk, I'm using Outlook expr

[2017-10-05 01:08] surfer0627 commented on #3252
to @ehollig, and @leonardder:
Please close this as invalid.
Due to some changes in the internal web, I does not able to reproduce this.

[2017-10-05 02:38] ehollig commented on #3252
Closing as invalid, as requested in https://github.com/nvaccess/nvda/issues/3252#issuecomment-334331788

[2017-10-05 02:38] #3252 closed

[2017-10-05 04:29] leonardder commented on #7643
[**@CyrBo**](https://github.com/CyrBo) commented on [4 Oct 2017, 22:39 CEST](https://github.com/nvaccess/nvda/issues/7643#issuecomment-334282495 "2017-10-04T20:39:29Z - Replied by Github Reply Comments"):

If you can reproduce this on an older version and can't on a newer one, this is actually not a regression, unless you meant it the other way around.

[2017-10-05 04:34] leonardder commented on #7643
Would you be able to test [this](https://support.microsoft.com/en-us/help/831607/how-to-view-all-e-mail-messages-in-plain-text-format) workaround? cc @Brian1Gaff

[2017-10-05 13:13] leonardder commented on #7178
[**@jcsteh**](https://github.com/jcsteh) commented on [17 mei 2017 07:15 CEST](https://github.com/nvaccess/nvda/issues/7178#issuecomment-301987669 "2017-05-17T05:15:04Z - Replied by Github Reply Comments"):
* It won't work if the object

Yuck, this is exactly what happens if you use IAccessible for UIA objects.

I've been fiddling with storing the index in parent as well as the cached parent on th

[2017-10-05 16:51] Brian1Gaff commented on #7643
Erm seem to have lost an email What is the work around use an older version
of nvda?
 I could certainly ask her to try it but she is not that confident a user
yet and I'd need to explain it well so...
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "

[2017-10-05 17:38] Brian1Gaff commented on #7643
That means it is a regression. However, as I say in this ticket elsewhere or
is it the one its a duplicate of, I forgot.  she is using the latest nvda,
and its installed not a portable copy.
 Is the instruction to send her a copy of the last version from last year or
should I wait for you to check the intermediate versions. If you have issues
getting any version email me directly as I may have the

[2017-10-05 19:35] CyrBo commented on #7643
Hello

I have tried intermediate versions of NVDA.

Things go right until NVDA2017.1 included. And the  crash can be reproduced
on NVDA 2017.2 or 2017.3.

I will try the work-around for plain text tomorrow.

Cyrille

  _____

De : Brian Gaff [mailto:notifications@github.com]
Envoyé : jeudi 5 octobre 2017 19:39
À : nvaccess/nvda
Cc : CyrBo; Author
Objet : Re: [nvaccess/nvda] Outlook 2003 crash when

[2017-10-06 05:33] leonardder commented on #7643
[**@CyrBo**](https://github.com/CyrBo) commented on [5 okt. 2017 21:35 CEST](https://github.com/nvaccess/nvda/issues/7643#issuecomment-334569610 "2017-10-05T19:35:43Z - Replied by Github Reply Comments"):

In that case, the issue exists for almost a year now, and given the list of changes in 2017.1, it is most likely related to new functionality added to Microsoft Office support.

I'm going to clo

[2017-10-06 05:33] #7643 closed

[2017-10-06 06:32] Kerneels commented on #2156
Hi. My suspicion was correct: the OLE linkup fails (see log below).
It seems that this OLE issue was tackled, but it is definately not working now. Any tips/ideas on how to get OLE communication to work: for this application, gvim.exe, OLE works fine from JAWS. Why I'm even exploring this is because the only thing that still ties me to JFW is that I can access gvim with it. If NVDA can work with g

[2017-10-06 07:13] lpintes commented on #2156
Use comHelper.getActiveObject("Vim.Application",True)

[2017-10-06 07:28] Brian1Gaff commented on #7643
I feel this is very wrong decision due to many folk not affording Office.
 However I seem to be in the minority here of late.

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-10-06 07:39] Kerneels commented on #2156
Hi. If I run NVDA as administrator, the OLE linkup succeeds, but the gvim.py module has other issues which I will attempt to address using my JFW script as reference.

This is very promising! See also NeoVim which might be a better option for future work.

[2017-10-06 09:13] dkager commented on #7556
I can once more reproduce this, and Outlook's build number didn't change.

[2017-10-06 09:34] Brian1Gaff commented on #7642
[latest next with just golden cursor as add on clean install, only minor configs to give the result uncluttered by other stuff.log](https://github.com/nvaccess/nvda/files/1362233/latest.next.with.just.golden.cursor.as.add.on.clean.install.only.minor.configs.to.give.the.result.uncluttered.by.other.stuff.log)

[2017-10-06 09:39] Brian1Gaff commented on #7642
Added the complete log for a clean install into a portable version showing the error in the add on. the version of the snap is the first one to create this error. Note if you are updating a previous portable version the chances are due to old files still in the folder the error will not appear in the running portable version, which is probably why this loss of a function was missed during creation

[2017-10-06 16:31] Brian1Gaff commented on #7643
I seem to be a message missing.
 If it works as plain text instructions on how to do this and I'll send them
to my friend and see if this fixes hers.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From: "CyrBo" <notifications@github.com>
To: "nvaccess/nvd

[2017-10-06 19:25] leonardder commented on #2826
This ticket looks a bit abandoned. ANyone with Windows 8.1 who is able to reproduce this and provide exact steps?

[2017-10-07 13:07] florianionascu7 commented on #6326
Hello. I installed the latest master snapshot and I noticed that the problem has been fixed succesfully. Thank you all for the support.

[2017-10-07 13:54] CyrBo commented on #7643
Hello
The work-around given by Leonard using plain text works correctly.
See :
https://support.microsoft.com/en-us/help/831607/how-to-view-all-e-mail-messa
ges-in-plain-text-format
Thanks.

Cyrille

-----Message d'origine-----
De : Brian Gaff [mailto:notifications@github.com]
Envoyé : vendredi 6 octobre 2017 18:31
À : nvaccess/nvda
Cc : CyrBo; Author
Objet : Re: [nvaccess/nvda] Outlook 2003 crash

[2017-10-07 14:30] leonardder commented on #7617
For reference, see [this MSDN page](https://support.microsoft.com/en-us/help/831607/how-to-view-all-e-mail-messages-in-plain-text-format) has been reported to be a functional workaround.

[2017-10-08 05:07] bhavyashah commented on #4709
From the last couple comments, I get the impression that the original author of this ticket, in @jcsteh's words himself, was "just hoping for some heuristic that can "guess" the label from the text". While this guesswork, as @jcsteh subsequently explained, could be potentially inaccurate in case of legacy Word controls as well as on the web, we should do either of the following to proceed with thi

[2017-10-08 17:54] ehollig commented on #5155
@leonardder, do you agree that this feature request should be limited to copying a comment to the clipboard in Word? If so, should the keystroke be NVDA+Alt+C three times, to stay consistent with other features that do this, I.E. Press once to speak, twice to spell, three times to copy to clipboard? In that case, this sounds fairly easy to implament.

[2017-10-08 23:25] jcsteh opened #7648 "IAccessible2 fails in Windows Store apps such as Spotify"
### Steps to reproduce:
1. Install Spotify Music from the Windows Store.
2. Launch spotify. The login screen appears.
3. Tab to the Username field and type some text.
4. Use the left arrow key to review the text you just typed.

### Expected behavior:
The characters you typed should be spoken.

### Actual behavior:
Nothing is spoken.

### System configuration:
NVDA version:
next-14486,b39b2bcd

NV

[2017-10-09 02:09] #4574 closed

[2017-10-09 02:09] #4612 closed

[2017-10-09 06:15] feerrenrut commented on #7271
@richardbartley Could you please update your comment to include the version of NVDA you were using?

[2017-10-09 07:05] #7614 closed

[2017-10-09 10:02] florianionascu7 commented on #6326
Well, this issue can be closed now and can be added to 2017.4 milestone. Finally, I can say that I enjoy this bug was fixed after a long discussion time.

[2017-10-09 13:42] ehollig commented on #6326
Closing, as requested in https://github.com/nvaccess/nvda/issues/6326#issuecomment-335114271

[2017-10-10 01:00] Qchristensen commented on #7631
This seems to be working again (he said tentatively) in LibreOffice 5.4.2.2 (x64).

I tried NVDA 2017.3 (installed) and Next 14509 (temporary) and I seem to be able to move and hover the mouse around the toolbar as much as I like.

Can anyone else still reproduce this issue or can anyone else also confirm it is working

[2017-10-10 04:01] Qchristensen commented on #7545
Reading through [LibreOffice bug 91739](https://bugs.documentfoundation.org/show_bug.cgi?id=91739), I realised this issue is a duplicate of #4119.  I'll close this as a duplicate of that issue.

[2017-10-10 04:02] #7545 closed

[2017-10-10 04:06] Qchristensen commented on #4119
Just updating to tag this as affecting LibreOffice as well.

One workaround I have found which seems to work, is to press control+end to move to the end of the document, then control+home to move back to the start.  After that, say all seems to work.

Anyone looking to work on this issue, there is more info on the LibreOffice bug Jamie linked to.

[2017-10-10 14:59] ehollig commented on #6314
@lpintes, is this still an issue? It sounds as if, from @feerrenrut in https://github.com/nvaccess/nvda/issues/6314#issuecomment-256833121 that this issue has been resolved.

[2017-10-10 15:03] ehollig commented on #6547
@DeepikaJeeth, could you respond to @feerrenrut in https://github.com/nvaccess/nvda/issues/6547#issuecomment-259327511 and provide a minimal test case? Closing this in a week or so if we do not get a response.

[2017-10-10 15:16] ehollig commented on #6680
@tapanbasak is this still an issue with the latest version of NVDA? Do you have an example site that is demonstrating this behavior?

[2017-10-10 15:48] ehollig commented on #7276
Closing because we have not heard from the original poster, and report by @bdorer in https://github.com/nvaccess/nvda/issues/7276#issuecomment-320790972 states that this issue does not occur anymore. If this is still an issue @joshknnd1982, please provide additional information as requested in https://github.com/nvaccess/nvda/issues/7276#issuecomment-308889741.

[2017-10-10 15:48] #7276 closed

[2017-10-10 15:57] ehollig commented on #7211
Closing, as we have not heard from the original poster, @tommyTsaiTou, for additional information as requested in https://github.com/nvaccess/nvda/issues/7211#issuecomment-320482877

[2017-10-10 15:57] #7211 closed

[2017-10-10 16:00] ehollig commented on #1382
Just a friendly reminder for @vgjh2005 to test this issue as requested in https://github.com/nvaccess/nvda/issues/1382#issuecomment-320511173

[2017-10-10 16:28] lpintes commented on #6314
Unfortunately I cannot test it again, because my fingerprint reader ceased to work due to some driver problem.

But I tried to open a dialog for PIN changing, and it worked fine.

[2017-10-10 16:32] ehollig commented on #6314
Thank you for the reply @lpintes. Closing as worksforme. If this is still an issue, please create a new issue with exact steps to reproduce.

[2017-10-10 16:32] #6314 closed

[2017-10-10 17:11] gdata1 opened #7650 "The official community Nvda in Russia."
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?

Have you tried any other versions of NVDA?

I can help with that.

[2017-10-10 17:17] Brian1Gaff commented on #4119
Is this with a document longer than the window? I could not get this to work
on my portable copy,and it also tened to stop if a blank line  was cose to
the bottom of the screen.
It seems to me that there is something odd about this editable area. As I've
said before it seems to not always know its gone to a new line. In Word at
the end of a line you hear it say carriage return, but not in Libra. W

[2017-10-10 17:23] leonardder commented on #7650
This issue tracker is only related to bugs or enhancements for NVDA itself, not for community matters. Closing this issue because of this. Nevertheless, your ideas are of course much appreciated, please address them to the [NVDA groups.io mailing list](http://nvda.groups.io)

[2017-10-10 17:23] #7650 closed

[2017-10-10 17:27] ehollig commented on #7650
There is a Russian mailing list: To subscribe, send blank e-mail to nvda-rus-subscribe@tiflo.info. You can also send suggestions to the International users' mailing List (English). To subscribe, send a blank email to: nvda+subscribe@groups.io.
Source: https://github.com/nvaccess/nvda-community/wiki/Connect

[2017-10-10 18:57] blindndangerous commented on #7618
No, I have not tried only the x86 version of libreoffice. I guess I could, but I usually stick to 64-bit versions if I can. I've been trying other next versions, some seem to work, some don't. The latest next version does not, and I had to roll back again. Unfortunately, I did not get the numbers of the version that did work. Will keep watching this. For now, I'm just staying on the next version t

[2017-10-11 02:02] ehollig commented on #4276
Has anyone experienced this lately with Firefox? If not, I may suggest a close as worksforme

[2017-10-11 02:09] ehollig commented on #6226
Closing as invalid, as the above link appears to be broken. If @praedicta is able to provide a working link and describe the issue that is occurring, along with steps to reproduce, what happens, and what is expected to happen instead, we can reopen this issue.

[2017-10-11 02:09] #6226 closed

[2017-10-11 04:45] vgjh2005 commented on #1382
Hi:
It's still a bug.

[2017-10-11 06:00] zahra21 commented on #7618
i only use x86 version of libreoffice and dont have issue with calc.
i could not use calc 5.2, but the problem seems to be resolved in 5.3
which i have.
i use 5.3.4.1 forever!
God bless you all and his infinite mercy be for you.

On 10/10/17, blindndangerous <notifications@github.com> wrote:

--
we have not sent you but as a mercy to the entire creation.
holy quran, chapter 21, verse 107.
in the v

[2017-10-11 06:27] jcsteh commented on #6314
FWIW, I set up a fingerprint on my new Win 10 machine recently and didn't encounter any problems.

[2017-10-11 07:07] vlegoff opened #7651 "Inconcistencies in the French documentation"
There are some inconsistencies in the French documentation.  The document in question can be found at https://www.nvda-fr.org/doc/userGuide.html , although I imagine the official NVDA in French has the same issue.  In section 6, "mode navigateur" (browse mode), sub-section 6.1, "Les touches de navigation rapide" (quick keys), some keys do not properly map.

h = titre (should be "t")
t = tableau (s

[2017-10-11 07:50] bhavyashah commented on #4749
According to the original author's https://github.com/nvaccess/nvda/issues/4749#issuecomment-155331755, the reported error has no user-facing implications whatsoever, unless Outlook status bar reading being possible only after an Alt+Tab back and forth is considered related behaviour. As noted subsequently in https://github.com/nvaccess/nvda/issues/4749#issuecomment-155331760, this error ceases af

[2017-10-11 07:56] bhavyashah commented on #4822
According to the original author's https://github.com/nvaccess/nvda/issues/4822#issuecomment-155333318, this ticket is possibly related to another one concerning the reading of RTF files. Does anyone have any idea about which specific ticket is being referred to? This information may be useful in establishing association between such related and possibly duplicate tickets which would further impro

[2017-10-11 08:25] leonardder commented on #7651
Hmm, if I set my NVDA language to french, H moves to headings and t moves to tables, which is exactly what the documentation says.

[2017-10-11 08:34] bhavyashah commented on #4988
Confirmed using PowerPoint 2010 and NVDA 2017.3 on a Windows 8.1 system. I added an audio file from my computer on the Title slide itself, successfully played it while editing by pressing Spacebar on the object NVDA reports as "audio", without adding any alternative text for the audio (if alt text can even be added for audios in the first place). As reported by the original author of this ticket,

[2017-10-11 09:47] Venkatesha11y opened #7652 "NVDA not announcing aria-label on lists"
Steps to reproduce:

1. Go to https://codepen.io/Venkatesh-a11y/pen/OxZWdv
2. As soon as page loads focus lands on edit field so hit ESC key to switch to browse mode.
3. Hit M to move to the result frame.
4. Now arrow down to both unordered and ordered list over there.
5. Or hit L to navigate lists on the page.

Expected behavior:

NVDA should announce the aria-label before announcing the list ite

[2017-10-11 09:49] vgjh2005 opened #7653 "Headers jumping is broken in windows 10 version 1703 when Open a PDF file with Microsoft edge."
### Steps to reproduce:

Find and open a PDF file that include headers info with Microsoft Edge.

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:next-14515

NVDA Installed or portable:Installed

Windows version:1703--build:15063.608

Name and version of other software in use when reproducing the issue: Microsoft Edge

### Other questions:

Does the issue still

[2017-10-11 10:25] Andre9642 opened #7654 "next 14510,580365a5 build, installation fails"
Hello,
I received the following error when I apply the latest next build:

[code]

[2017-10-11 13:23] leonardder commented on #2693
I can reproduce this problem when I run a management console under a different user. Interesting enough, other screen readers, including JAWS, do not seem to suffer from this problem.

[2017-10-11 15:09] Andre9642 commented on #7651
Hello,
No problem here (I am a french user).
You have probably an add-on that modify these gestures. Maybe the Accessolution add-on?

[2017-10-11 18:57] vsfoote commented on #4119
As Jamie has noted in [tdf#91739](https://bugs.documentfoundation.org/show_bug.cgi?id=91739) the issue is structural with how the accessible tree of a document is exposed. That is, FlowsFrom--FlowsTo relations are exposed, but both LibreOffice and OpenOffice do not expose the entire accessible tree and only parse what content is exposed.  Refs: [tdf#35652](https://bugs.documentfoundation.org/show_

[2017-10-11 23:32] ehollig commented on #6782
@Qchristensen, can you confirm whether the second issue still exists for you? Seems okay with the latest Master.
[**@Qchristensen**](https://github.com/Qchristensen) commented:

Do we agree on the pneumonic for Regular expression to be "E"? (For the "E" in expression)

[2017-10-12 00:39] Qchristensen commented on #4988
Reading the [Keystrokes for PowerPoint page](https://support.office.com/en-us/article/Use-keyboard-shortcuts-to-deliver-your-presentation-1524ffce-bd2a-45f4-9a7f-f18b992b93a0#bkmk_controlvideo) it seems to treat online media (eg youtube videos) differently to offline media.  The keystrokes offered in that article only work with offline video.

In fact, what I found for both online and offline vide

[2017-10-12 00:48] Qchristensen commented on #6782
With 2017.3 at least, the underline issue seems resolved.  Re the pneumonic, I'm happy with "E".

[2017-10-12 05:35] bhavyashah commented on #4822
Possibly related to or a duplicate of #6871 (where more discussion seems to have taken place)

[2017-10-12 06:01] bhavyashah commented on #5221
Confirmed using Excel 2010 and NVDA 2017.3 on a Windows 8.1 system. Let me provide a brief summary of the STR employed, results experienced, and other related thoughts.
### STR ###
* Open a blank Excel workbook.
* Press Alt, H, O, P. Note that these keys must be pressed separately respecting the order in which the keys have been specified.
* The Protect Sheet dialog appears and your focus lands on

[2017-10-12 06:17] bhavyashah commented on #5442
Clearly, this ticket is probably dependent on #3339 if @jcsteh's guess in https://github.com/nvaccess/nvda/issues/5442#issuecomment-155344140 is correct. Which of the following should be done? CC @feerrenrut
* Add the blocked label to this ticket
* Close this ticket as a duplicate
* Do nothing until #3339  is worked on

[2017-10-12 06:25] bhavyashah commented on #5466
@elliott94 Could you please test and confirm whether or not you are able to use NVDA's review cursor to access the contents of Outlook's Recipients field?
Also, I am not too sure if I agree with @jcsteh in that NVDA shouldn't overwrite Outlook's arrow keys because this how Outlooks intends it to work. Do you think this is intended behaviour (if so, why?) or can we consider it a bug? CC @Qchristens

[2017-10-12 06:50] Qchristensen commented on #5466
I tested this in Office 2016 just now, and it behaves the same, and this is how I have always known Office to work, so I feel it works the same across Outlook versions.

Once you've typed a name in any of the recipient fields (to, cc, bcc), and confirmed it, you can no longer navigate by character through that using the arrow keys.  Instead, as noted, it treats the whole name as one item.

I agree

[2017-10-12 07:19] bhavyashah commented on #6132
This is a friendly reminder for @FrancoisLB to kindly respond to @josephsl's https://github.com/nvaccess/nvda/issues/6132#issuecomment-230111190 by doing the following - "Once you open the meeting from Calendar, before you press NVDA+down arrow, press NvDA+F1 and copy and paste the developer info so we can diagnose what's up."

[2017-10-12 07:43] bhavyashah commented on #2767
Sounds like the reported issue has been confirmed by an NVDA developer, experienced by multiple NVDA users, persists with more than one version of Microsoft Outlook, and has professional usage cases and thus impacts employment.

[2017-10-12 07:45] leonardder commented on #2767
I'd like to suggest a p3 for this one.

[2017-10-12 07:52] leonardder commented on #6587
@michaeldcurran: Is it true that there is not yet proper UIA support for table cells in Excel? How is this supposed to work under Windows 10s?

[2017-10-12 07:53] derekriemer commented on #5466
I agree that review cursor should read by whatever unit you select, but I don't think arrows should be overwritten.

[2017-10-12 10:50] ruifontes commented on #5466
Agreed 100%!
Review cursor should work in this case!

Rui

-----Mensagem Original-----
De: Derek Riemer
Data: 12 de outubro de 2017 08:53
Para: nvaccess/nvda
Cc: Subscribed
Assunto: Re: [nvaccess/nvda] Outlook 2010: Unable to navigate via Characters
in Recipient Fields (#5466)

I agree that review cursor should read by whatever unit you select, but I
don't think arrows should be overwritten.

—
Yo

[2017-10-12 13:20] andrewleith commented on #6282
This also doesnt work for me, although the exact same markup does work in Chrome 61.0.3163.100.  Seems like a pretty important attribute to have working!

[2017-10-12 13:34] andrewleith commented on #6282
`Aria-labelledby` seems to work just fine.  I must say it is extremely challenging to have to try and work around screen reader bugs.

From the point of view of the developers of screen reader software, what is your advice on that front?  Is a product accessible if it meets the WCAG guidelines but the screen reader software doesnt work anyway?

[2017-10-12 14:01] bhavyashah commented on #4962
@leonardder In https://github.com/nvaccess/nvda/issues/4962#issuecomment-315731419, you refer to lists and tables. Since the ticket body also explicitly mentioned frames as a container to the start or end of which the original author of this ticket would like to jump, do you have any inputs on NVDA and Word's support for frames, similar to your analysis of lists and tables?
Actually, wait. I am al

[2017-10-12 14:52] bhavyashah commented on #4954
Partially confirmed using Word 2010 and NVDA 2017.3 on a Windows 8.1 system. Let me summarize the STR employed, results experienced and other information I would like to share.
### STR ###
* Enable cell all table reporting options (tables, cell coordinates and row/column headers) in NVDA's Document Formatting settings dialog.
* Open a blank Word document.
* Create a table (Alt, N, T, I) of 500 row

[2017-10-12 16:07] ehollig commented on #5145
The solution provided by @derekriemer in https://github.com/nvaccess/nvda/issues/5145#issuecomment-155339950 would work, also having the solution provided by #4209 would allow you to change this with a keystroke. Closing, as this will be resolved with either of the above solutions

[2017-10-12 16:07] #5145 closed

[2017-10-12 17:13] 7Nate9 opened #7657 "NVDA not reading <label>s on <select> menus in Chrome."
### Steps to reproduce:
1. Open Chrome
2. Start up NVDA
3. Navigate to [WebAIM's contact form](https://webaim.org/contact/) (just as an example)
4. Navigate to the "Subject" select menu
5. Notice error when label is not read

### Expected behavior:
The label on the select menu should be read aloud by NVDA.

### Actual behavior:
The label is not read aloud, despite being properly associated.

### S

[2017-10-12 19:25] #5848 closed

[2017-10-12 23:12] #7654 closed

[2017-10-12 23:29] ehollig commented on #7654
I am assuming this works for you now as you closed this issue?

[2017-10-13 05:38] Andre9642 commented on #7654
Exactly, I tested with the build `next-14511,339707cd`. This problem is no longer present for me! :) Sorry, I should have said so.

[2017-10-13 10:12] derekriemer commented on #4954
A 1.5 second "freeze" of NVDA is what you are seeing, right?

[2017-10-13 10:14] derekriemer commented on #4962
yeah, worksforme
Wait, are you sure jump to list doesn't work?

[2017-10-13 15:03] ehollig commented on #5671
I am closing this as worksforme, as no one is able to reproduce the issue.
If I go to the Facebook site and type the @ symbol in the edit field for "What's on your mind?", NVDA does not say "List" until I type two or three letters. After NVDA reports "List", I can use the down arrow to select a name or page to mention by pressing the enter key.

[2017-10-13 15:03] #5671 closed

[2017-10-13 15:18] ehollig commented on #5530
Just a friendly reminder for @MichelSuch to respond to @leonardder's comment in https://github.com/nvaccess/nvda/issues/5530#issuecomment-315717352

[2017-10-13 15:29] josephsl opened #7658 "Add-on handler: current install/uninstall order causes removal of add-on-specific information the add-on installer has added"
Hi,

Reported by @DerekRiemer and subsequently confirmed:

If an add-on performs operation such as adding DLL's to path environment variable, migrating settings after an install and what not, these information will be lost when NVDA restarts.

STR:

1. Create an add-on that performs actions such as adding its path to path environment variables while running onInstall function, and removes this ver

[2017-10-13 15:45] ehollig commented on #6080
@lnnus, it would be helpful if you could provide thorough details, including exact steps to reproduce the problem and a test case if necessary. It appears the attachment you have provided contains images, and actual text cases are recommended.

[2017-10-13 15:58] ehollig commented on #6115
Although @leonardder brings up a great solution in https://github.com/nvaccess/nvda/issues/6115#issuecomment-242017119 and @michaelDCurran is in favor of the idea, are there any users, that we are aware of, that rely on the speech viewer on secure screens such as UAC or the login screen?

[2017-10-13 16:03] ehollig commented on #6040
Closing as invalid. If this is still an issue, please provide the requested information in https://github.com/nvaccess/nvda/issues/6040#issuecomment-329010206 and this issue can be reopened.

[2017-10-13 16:03] #6040 closed

[2017-10-13 16:12] ehollig commented on #6313
@lstar4ever, just a friendly reminder to respond to @bhavyashah in https://github.com/nvaccess/nvda/issues/6313#issuecomment-319878173. Also, can you provide thorough steps to produce the issue you are experiencing? Is this the case with NVDA 2017.3?

[2017-10-13 16:18] ehollig commented on #6254
Closing as worksforme per above comments.

[2017-10-13 16:18] #6254 closed

[2017-10-13 16:50] bhavyashah commented on #4962
Pressing "l" causes NVDA to say "not supported in this document" and
pressing "," when in a bulleted list causes NVDA to say "not in a
container".

On 10/13/17, Derek Riemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @BhavyaShah12

[2017-10-13 16:51] bhavyashah commented on #4954
I would probably call it a delay because NVDA does report the newly
focused cell properly after 1.5 seconds, but I suppose one could view
it as a freeze also.

On 10/13/17, Derek Riemer <notifications@github.com> wrote:

--
Best Regards
Bhavya Shah

Blogger at Hiking Across Horizons: https://bhavyashah125.wordpress.com/

Contacting Me
E-mail Address: bhavya.shah125@gmail.com
Follow me on Twitter @

[2017-10-13 19:06] ehollig commented on #7294
@Sabatoy, can you provide an example test case where this occurs?

[2017-10-13 19:45] ehollig commented on #4967
I just tried this on my Windows 8.1 virtual machine and NVDA 2017.3 and did not get the behavior described above. Either this has been fixed by Microsoft, or this will not be fixed by Microsoft, as a lot of development is with Windows 10. Closing as this sounds not to be an NVDA issue, as Narrator experienced this issue as stated in https://github.com/nvaccess/nvda/issues/4967#issuecomment-1553349

[2017-10-13 19:45] #4967 closed

[2017-10-13 20:01] ehollig commented on #7368
@aspireinnov, as asked in https://github.com/nvaccess/nvda/issues/7368#issuecomment-313974563, do you have the checkbox for "Automatic Say All on page load" check box checked? If so, this could be the issue. Try viewing the webpage when this checkbox is not checked and see if it fixes the issue.

[2017-10-14 08:22] leonardder commented on #2385
There has been some discussion going in #7484 about using extensionPoints.callWithSupportedKwargs in eventHandler. This would be great in situations where we want to add an additional argument to a well established event, such as becomeNavigatorobject. However, there is a problem that some parts in the code call positional arguments as if they were kwargs, and vise versa. This is why I propose cal

[2017-10-14 09:14] dreinn opened #7659 "OCR Windows 10 broken on Windows version 10.0.16299.15?"
Pressing NVDA-r, it say start recognizing and then, failed.
If I go to NVDA preference, ocr, I can't select any language.
I have an italian pc, with English and italian installed languages.

ERROR - contentRecog.recogUi._recogOnResult (11:13:31.062):
Recognition failed: UWP OCR initialization failed

[2017-10-15 02:35] ehollig commented on #5260
Closing as duplicate of #5760 as it contains more recent comments.

[2017-10-15 02:35] #5260 closed

[2017-10-15 02:45] ehollig opened #7660 "Text double speaks in Google Docs with speak typed characters on"
### Steps to reproduce:
1. Open Chrome
2. Browse to docs.google.com
3. Open a new document
4. Type some text with speak typed characters on and again with speak typed characters off.
5. Notice the letters are announced twice with speak typed characters on and announced once with speak typed characters off.
### Expected behavior:
With speak typed characters on, letters should be announced once. Wit

[2017-10-15 04:00] #7660 closed

[2017-10-15 04:09] derekriemer commented on #7660
Google deliberately puts a live region here, speaking everything you type. We can't detect the difference between this and valid behavior.

[2017-10-15 05:47] PratikP1 opened #7661 "NVDA fails to read book contents with Kindle for PC"
With the latest version of Kindle for PC, NVDA fails to read the book contents for any book in the library. I updated Kindle for PC from 1.19X to 1.2X. The problem occurs in the previous version as well as the latest version I installed. I have attached object log as well as the info log. The problem occurs with or without add-ons disabled. The results are the same regardless of whether step 1 is

[2017-10-15 18:37] derekriemer commented on #6115
I'd prefer a CLI option to disable only speech viewer, and log and ... so a student doing tests in a field like biology could have a speech dict with the appropriate pronunciations of various biology words, like Lophotrochozoa, which need to be pronounced correctly on a test. Security mode is a bit too course grained now, because different people have different requirements.

[2017-10-15 18:51] bdorer commented on #5530
I can't see any problems at the moment, so I wote for closing as
worksforme. If he's able to show us his problems we can reopen.

Am 13.10.2017 um 17:18 schrieb Ethan Holliger:

[2017-10-15 21:25] ehollig commented on #5530
Agreed. If this is still an issue, please provide exact steps to reproduce the issue and we can reopen this issue. Closing as worksforme

[2017-10-15 21:25] #5530 closed

[2017-10-15 22:49] munawarb opened #7663 "HIMS SmartBeetle Fails To Load In 2017.3"
### Steps to reproduce:
- Connect SmartBeetle via USB and switch SmartBeetle to USB Mode.
- Select HIMS BrailleSense/.../SmartBeetle from Braille display options and click "OK." NVDA gives an error message.
- Install the HIMS Braille Display Driver and select the SmartBeetle again, error reappears

### Error Log
ERROR - braille.BrailleHandler.setDisplayByName (18:37:36.155):
Error initializing dis

[2017-10-15 23:50] derekriemer commented on #7663
cc @dkager

[2017-10-16 02:32] feerrenrut commented on #3482
Duplicate of #3410.

[2017-10-16 02:32] #3482 closed

[2017-10-16 02:58] #5822 closed

[2017-10-16 03:13] derekriemer commented on #4954
Gotcha.  It is reliable. How common of a use case is this? I can try testing with your str soon, but I've seen this with somewhat large tables in the while. Have you tried with different document formatting settings disabled?

[2017-10-16 03:51] khsbory commented on #7597
Hello, sorry about my too late reply about this issue.
Yes, as you said, this issue is the same issue that you provided link.
I couldn't check this is the same issue.

Thank you.

김 형 섭	 / Hyongsop Kim
(주)엔비전스 / 웹접근성사업팀 팀장

서울시 종로구 가회동 1-29
1-29 Gahoe-dong, Jongno-gu, Seoul, Korea
T. +82 70 4900 0895   F. +82 2 313 3645   M. +82 10 5359 5996

http://dialogueinthedark.co.kr
http://cafe.naver.com/di

[2017-10-16 04:00] khsbory commented on #7032
Hello, sorry about my too late reply.
The issue is still same in excel program with type Korean characters.
To demonstrate, refer to below suggestion.
1. Open excel.
Make sure your keyboard is set to Korean language keyboard.
2. Press the right key of the space to set native input.
3. Type dks and press tab key to go to next cell.
You will hear error sound.
If you need more information, pleae let

[2017-10-16 04:05] leonardder commented on #7663
Could you please test this with NVDA 2017.2 and with debug logging enabled? Nothing has changed to the Hims driver that should have caused such an issue.

[2017-10-16 04:19] dnz3d4c commented on #7597
@khsbory We ask you to close this issue because it is a duplicate issue.
Thanks!

[2017-10-16 04:44] #7569 closed

[2017-10-16 05:40] michaelDCurran commented on #5466
There is a pretty high implementation cost here. Some kind of new
compound textInfo would need to be written that automatically descends
into these embedded object labels when moving by character. Certainly
not trivial.

[2017-10-16 06:08] michaelDCurran commented on #6587
This is correct. Future work needs to be done. NV Access will be working
with the MS Office team shortly to address this issue.

However, it does not technically affect Windows10 S. It is true we
cannot inject into Office products on 10 S, but our Excel support does
not rely on injection, only the object model out-of-process. However, if
MS Office was ever to be run in Windows Defender Application

[2017-10-16 08:23] #7597 closed

[2017-10-16 08:39] derekriemer commented on #7658
Technical, this isn't a bug, as much as very unexpected behavior. See https://github.com/dictationbridge/dictationbridge-nvda/issues/16
I agree that some sort of postInstall or onUpdateUninstall or onUpdatePreviousUninstall, or onOnlyRemove method be created to allow code to choose whether to run the uninstaller on update. This would look like
run onUpdateUninstall if old addon exists.

[2017-10-16 12:48] Mohamed00 opened #7664 "Possibly Remove the UI Automation only supported in Windows 7 and later Statement from the User Guide"
Since Windows XP and Windows Vista are no longer supported, I believe the "(UI Automation only supported in Windows 7 and later)" statement should probably be removed from section 1.1, unless of course it still applies to Windows Server 2008 R2, in that case it should be clarified.

[2017-10-16 13:12] josephsl commented on #7664
Hi, agreed, and will be part of the docs17.4 fix. CC @MichaelDCurran

From: Mohamed Al-Hajamy [mailto:notifications@github.com]
Sent: Monday, October 16, 2017 5:49 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Possibly Remove the UI Automation only supported in Windows 7 and later Statement from the User Guide (#7664)

Since

[2017-10-16 14:38] ehollig commented on #5602
### Issues Described ###
#### Links Imbeded In a Paragraph ####
This is covered by #2160
#### Links Within List Items ####
Seems to be a similar issue to the first. NVDA reads the link text and the text in the list item separate.
#### Links Spanning Multiple Lines ####
This is covered by #374, at least with speech.

[2017-10-16 17:25] fisher729 commented on #7642
I think this issue should be closed, as it doesn't affect NVDA itself, but external components. I think a PSA is in order on some forum, though. Just my thoughts.

[2017-10-16 17:35] josephsl commented on #7642
Hi, thanks for reminding me about a PSA for this. I’ll make a note to remind the add-ons community regarding this in November, and will revisit win32api in January when I plan to remove that dependency completely from the source code. Thanks.

From: fisher729 [mailto:notifications@github.com]
Sent: Monday, October 16, 2017 10:25 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscr

[2017-10-16 19:04] leonardder commented on #7642
I think there should at least be a transision period for new add-ons to be updated. 2018.1 is ok for that, but I belief at least 2017.4 should still contain this dependency.

[2017-10-16 19:45] ehollig commented on #6409
Just a friendly reminder for @jhomme to respond to @jcsteh with the requested information in https://github.com/nvaccess/nvda/issues/6409#issuecomment-250028939

[2017-10-16 19:55] ehollig commented on #6432
The issue about "unable to function in Firefox when restarted with focus originally on a Firefox window", has been resolved with #5758.

@Elshara, is this still an issue with the latest version of NVDA? Could you provide a working example demonstrating the issue?

[2017-10-16 21:54] ehollig commented on #6924
@k-kolev1985, is this still an issue with NVDA 2017.3? It appears to work for me on Windows 10 when performing the above steps.

[2017-10-16 23:58] ehollig commented on #5342
@jkinnunen, are you the original poster of this ticket? If so, can you provide any updates or steps to reproduce so that I may be able to reproduce the issue?

[2017-10-17 02:04] feerrenrut commented on #7631
Given that Quentin can not reproduce this anymore (now using  LibreOffice 5.4.2.2) I will close this issue.

[2017-10-17 02:04] #7631 closed

[2017-10-17 02:09] feerrenrut commented on #6579
Closing this issue since we believe it is the same crash as #6532

[2017-10-17 02:09] #6579 closed

[2017-10-17 02:11] feerrenrut commented on #7021
Given that we have had no response, we will now close this issue. Please comment or re-open if this can still be reproduced.

[2017-10-17 02:11] #7021 closed

[2017-10-17 02:12] feerrenrut commented on #7556
The MS Office team has identified and fixed the bug, this will not be seen publicly until Dec.

[2017-10-17 05:58] Yanyan28 opened #7665 "My NVDA is conflicting with my D-Link connection manager"
Whenever I turn on my D-Link connection manager my NVDA stops reading contents inside the My Documents folder on my PC. Can someone help me please.

[2017-10-17 06:25] k-kolev1985 commented on #6924
I've tried with a portable copy of NVDA 2017.3 and I don 't experience the issue. However, with the installed copy of NVDA next-14519,fd6dfb48, I can definitely reproduce the issue. I even tried with add-ons disabled and the issue still occurs.

[2017-10-17 06:48] leonardder commented on #6924
There is also a delay of like two seconds when opening the NVDA menu with zoom text running. Windows Magnifier is not ZOom Text, but this might still be related somehow.

[2017-10-17 15:41] fisherandrew04 opened #7667 "Browse Mode 'Move Focus' not working"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version:

NVDA Installed or portable:

Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?
Yes

Have you tried any other versions of NVDA?

[2017-10-17 17:40] derekriemer commented on #7667
can you give steps to reproduce with a specific webpage? focus in this case does not refer to the exact browse mode position, but the actual system focus (so not any text in general). In fact, focus can't be set to an arbitrary chunk of text necessarily. I can see how this is confusing to users however, because it was confusing to me.

[2017-10-17 17:47] derekriemer commented on #7665
can you explain how you reproduce this issue?

[2017-10-17 17:54] derekriemer commented on #7642
Is this even a big module? I ask because this and win32con are extremely useful for addons, and removing this might hinder some addon development quite a lot. I would rather not see ten different versions of win32api in 10 different addons if we can stop it.

[2017-10-17 17:55] derekriemer commented on #7664
was there a reason to cc @michaelDCurran if you plan to do the work?

[2017-10-17 18:50] Brian1Gaff commented on #7642
I do agree with this, but wonder if it is actually going to go away in the
near future if the new version of Python is used.
 The person who fixed golden cursor presumably put it in the main folder of
the add on.

Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.

[2017-10-17 18:52] Brian1Gaff commented on #7642
PPS...What should have happened is that just parts of the service now not
needed for XP or Vista were removed instead.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.

[2017-10-17 19:15] josephsl commented on #7664
Hi, to hear expert opinions. Thanks.

From: Derek Riemer [mailto:notifications@github.com]
Sent: Tuesday, October 17, 2017 11:04 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [nvaccess/nvda] Possibly Remove the UI Automation only supported in Windows 7 and later Statement from the User Guide (#7664)

was

[2017-10-17 19:52] Andre9642 opened #7668 "Some of lapTop layout keys don't work with the french keyboard"
Some of lapTop layout keys don't work with the french keyboard, among them:

* `NVDA+ù` (left mouse button);
* `NVDA+SHIFT+ù` (Left mouse button lock);
* `NVDA+*` (Right mouse click);
* `NVDA+SHIFT+*` (Right mouse button lock);
* `NVDA+;` (Report current character in review);
* `NVDA+CTRL+;` (Report current word in review);
* `NVDA+SHIFT+;` (Report current line in review).

[2017-10-17 23:19] ehollig commented on #7651
@vlegoff, as suggested in https://github.com/nvaccess/nvda/issues/7651#issuecomment-335843321 can you try this with all NVDA addons disabled? It is possible that one of them has modified your input gestures

[2017-10-17 23:21] ehollig commented on #7668
@Andre9642, could you please try this with all NVDA addons disabled? It is possible that one of them has modified your input gestures.

[2017-10-18 00:16] Yanyan28 commented on #7665
I am using a D-Link DWM-221 4G LTE USB Adapter.  A portable travel modem that allows me to stay connected to the Internet wherever you I am. The dongle is installed with a connection manager. Problem is when I need to use the dongle and open the connection manager, my NVDA cannot read the contents inside My Documents folder on my PC. I have already tried to re-install the connection manager. But n

[2017-10-18 00:51] munawarb opened #7669 "Standard User Prevents NVDA From Accurately Reading Install Dialogs"
### Steps to reproduce:
1. Create an Administrator account.
2. Switch to or change the current account to a standard user account
3. Install something, such as Microsoft Office 2016.
4. When UAC comes up, enter the Administrator password as prompted and try to proceed with the installation.
#### Other Places I've Noticed This Behavior:
1. Open registry editor with the standard user account by typi

[2017-10-18 03:48] derekriemer commented on #7669
This almost certainly has to do with NVDA being run as not an admin, so it can't access stuff running at a higher privilege than it. I'm not sure what we can do to fix this.

[2017-10-18 03:51] derekriemer commented on #7665
to be clear, does the documents folder becomes inaccessible, after the software is installed, or after the software is running?

[2017-10-18 04:09] Yanyan28 commented on #7665
Folder becomes inaccessible after the software is running.

[2017-10-18 04:12] leonardder commented on #7669
This does not only apply to running software as an admin, but in general, running software as a different user could cause problems. For example, when running a management console under a different user, the SysListView32 code causes invalid handle errors for winKernel.virtualAllocEx.

This is *not* an issue in JAWS, for example, when MMC reads just fine when running under a different user.

[2017-10-18 04:53] Andre9642 commented on #7668
@ehollig I already tested... Same issue with portable and installed version. Tested on Windows 10 only, on several computers. At least 2017.3 and next recent versions concerned.

[2017-10-18 06:21] Andre9642 commented on #7668
Another precision: if I copy the `gestures.ini` file located at "%programfiles(x86)%\nvda\locale/fr" in "%appdata%\nvda", it works perfectly. If a `gestures.ini` file doesn't present or another `gestures.ini` file (without these gestures) is present in "%appdata%\nvda" these gestures don't work.

[2017-10-18 07:01] feerrenrut commented on #7648
Thanks @jcsteh, I'll give this a P3 for now since a work around is available.

[2017-10-18 07:10] feerrenrut commented on #4276
This is an old issue, that describes an issue that does not seem to have been reproduced or properly understood. If someone can reproduce similar behaviour as described here, it would be clearer to open a new issue.

[2017-10-18 07:10] #4276 closed

[2017-10-18 07:19] feerrenrut commented on #1382
Thanks for the update @vgjh2005. Are you still using windows XP to test this? Support for XP has now been dropped, NVDA 2017.4 will require windows 7 Service Pack 1.

[2017-10-18 08:16] feerrenrut commented on #7661
I was not able to reproduce this problem, to test I used the free (and screen reader supported) book: [A tale of two cities](http://a.co/9BLShWi)
With Kindle for PC version `1.20.1.47037` and NVDA version `next-14535,3aad54e0`

It's important to note that under the "Product details" heading for the book, the "Screen Reader" support is listed. Not all books have screen reader support. Please can yo

[2017-10-18 08:18] munawarb commented on #7669
Hi,
I remember Window-Eyes had this issue at one point and they corrected it somehow. How they did it is beyond me. I'll try reinstalling NVDA as admin this weekend and report back to you.

Correct that JAWS does not have this issue.

[2017-10-18 08:19] feerrenrut commented on #4749
Closing this issue, if anyone can reproduce this issue please comment and we will investigate further.

[2017-10-18 08:19] #4749 closed

[2017-10-18 09:18] leonardder commented on #7669
Here is some additional technical background.

For every window, NVDA tries to create a process handle with certain rights, see oleacc.GetProcessHandleFromHwnd. However, when the process in question is running under a different user, no handle can be retrieved and obj.processHandle is 0. Some ideas:

NVDA never seems to check whether the processHandle is 0, and just executes stuff that depends on

[2017-10-18 09:23] leonardder commented on #7669
[**@munawarb**](https://github.com/munawarb) commented on [18 okt. 2017 10:18 CEST](https://github.com/nvaccess/nvda/issues/7669#issuecomment-337498718 "2017-10-18T08:18:17Z - Replied by Github Reply Comments"):

I belief Window-Eyes runs as admin, which isn't the solution we should provide by default here.

I'm afraid this won't make any difference.

[2017-10-18 09:58] Brian1Gaff commented on #7669
Hmm, could this be an issue contributing to the update and restart issues?
 IE it seems not to have any idea if stuff has terminated before it restarts
things like overwriting files or restarting nvda.
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
----- Original Message -----
From:

[2017-10-18 10:45] leonardder commented on #7669
[**@Brian1Gaff**](https://github.com/Brian1Gaff) commented on [18 okt. 2017 11:58 CEST](https://github.com/nvaccess/nvda/issues/7669#issuecomment-337533414 "2017-10-18T09:58:27Z - Replied by Github Reply Comments"):

No.

[2017-10-18 12:05] munawarb commented on #7669
@leonardder  So I would have to explicitly tell the NVDA process to run as admin, and not just install it using an admin account?

[2017-10-18 12:08] munawarb commented on #7663
@leonardder Ok. I'm heading toward the possibility that it's something on my end. I have a sync cable coming today (I think the one I'm using is charge-only,) and also a bluetooth adapter. I will try both and let you know if it fixes it.

[2017-10-18 12:16] leonardder commented on #7669
[**@munawarb**](https://github.com/munawarb) commented on [18 okt. 2017 14:05 CEST](https://github.com/nvaccess/nvda/issues/7669#issuecomment-337568840 "2017-10-18T12:05:30Z - Replied by Github Reply Comments"):

I have tested this and even this does not work, at least not on the Windows 10 fall creators update.

[2017-10-18 14:31] ehollig commented on #4708
Any Thunderbird user can confirm this, or confirm whether it is fixed?

[2017-10-18 14:45] ehollig commented on #5139
@feerrenrut, it appears the post in https://github.com/nvaccess/nvda/issues/5139#issue-116050601 is unavailable. I am not quite sure what the original post is requesting, but all headers read correctly in the attached document in Excel 2016

[2017-10-18 15:03] ehollig commented on #5210
@elliott94, is this still an issue? If it is, it sounds as if it is a bug with Windows, rather than a bug with NVDA.
Performed the following steps on Windows 10, although the original post is using Windows 7.

1. In Explorer, created a new folder using the name "First & Second"
2. Navigated inside the folder that was just created, and switched focus away from the Explorer window
3. Used alt+tab to

[2017-10-18 15:13] fernando-jose-silva opened #7671 "enable description of images in nvda"
Using the narrator in windows 10 16299 there is a function of reading image descriptions by pressing capslook + shift + d.
Would it be possible to make this function available to nvda?
Thank you very much.

[2017-10-18 15:17] josephsl commented on #7671
Hi, it’ll require that we find a way to work with Azure (perhaps through subscriptions or as part of an API). Also, I think this is a duplicate of another issue. Thanks.

From: fernando-jose-silva [mailto:notifications@github.com]
Sent: Wednesday, October 18, 2017 8:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] enable desc

[2017-10-18 16:11] ehollig commented on #1650
It sounds as if [MozillaBug:682790](https://bug1234567.bugzilla.mozilla.org/show_bug.cgi?id=682790) has been resolved in Firefox 10. When opening the above link, http://www.html5accessibility.com/tests/form-labels.html, I believe everything works as expected, but am not exactly clear on what is the original issue is. No labels double speak when I navigate the example site.

[2017-10-18 16:25] ehollig commented on #6445
Closing as duplicate of #4537

[2017-10-18 16:25] #6445 closed

[2017-10-18 17:07] Brian1Gaff commented on #1650
What about tests 5 and 6?
 You need to go back to header then cursor down, or it only says it once.

Firefox 55 32 bit windows 7 64 pro
 Brian

bglists@blueyonder.co.uk
Sent via blueyonder.
Please address personal email to:-
briang1@blueyonder.co.uk, putting 'Brian Gaff'
in the display name field.
-----

[2017-10-18 17:17] blm126 opened #7672 "Hidden text in role=listbox is read while using IE11"
### Description
Hidden text inside of a role=option in a listbox is read by NVDA in IE only.

### Steps to reproduce:
1. Open https://jsfiddle.net/14opp52t/3/ in IE11
2. Focus on the listbox.

### Expected behavior:
Elements with display:none should not be read by NVDA.

### Actual behavior:
The elements are read.

### System configuration:
NVDA version: 2017.3
NVDA Installed or portable: portable

[2017-10-18 21:46] PratikP1 commented on #7661
@feerrenrut  wrote:
< Not all books have screen reader support. Please can you confirm that the book you are trying to read has screen reader support? Please also try with the free ebook listed above.

I have tested with the ebook you have listed above. I am getting the same results. I am aware of the fact that not all Kindle books support TTS/screen reader functionality. All books in my collectio

[2017-10-18 22:10] fernando-jose-silva commented on #7671
Thank you very much.

[2017-10-19 02:37] vgjh2005 commented on #1382
Hi:
My system is windows 10 1703 64bit.

2017-10-18 15:19 GMT+08:00, Reef Turner <notifications@github.com>:

[2017-10-19 03:58] feerrenrut commented on #5139
Thanks @ehollig. Could you add what you did when trying to reproduce this and close the issue as "works for me"

[2017-10-19 12:26] zstanecic opened #7673 "in windows 10 fall creators update, when multiple voices are installed the one core driver driver fail to load"
### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA version: 2017.3

NVDA Installed or portable:
installed
Other information:

Windows version:

Name and version of other software in use when reproducing the issue:

### Other questions:

Does the issue still occur after restarting your PC?y
yes
Ha0ve you tried any other versions of NVDA?

latest ma

[2017-10-19 12:55] jacobchawala commented on #6445
yes, it is excel 2007. It happens after pressing F2 to edit a formula.

On Wed, Oct 18, 2017 at 7:25 PM, Ethan Holliger <notifications@github.com>
wrote:

--
+++
Yours Sincerely,
Jacob Florian Chawala
 JFC

Phone No. 0787016381

Emails: jacobchawala@gmail.com
jacobchawala@yahoo.com

Webmail: www.caict.netai.net

Skype ID: Jacob.Florian.Chawala
+++

[2017-10-19 14:07] fernando-jose-silva opened #7674 "Ler as descrições das opções em configurações"
When navigating with tabe by a few options on the windows 10 settings screen, nvda informs only the names of the options, plus on some screens there are no descriptions of the options on the screen.
### Steps to reproduce:

Open the start menu.
Open Settings.
Open windows helo.
Now navigate with tabe through the window.
When navigating with tab through the window, see that there are two buttons ca

[2017-10-19 14:34] ehollig commented on #5139
1. Open the [sample.xlsx](https://github.com/nvaccess/nvda/files/1395025/sample.xlsx)
2. Press down arrow to "A6". NVDA reads "5".
3. Press right arrow. NVDA reads the cell headers, including, "First name", "Phone", "Email", "In person", "Connect", etc.
4. Navigate with the arrow keys to "J21". NVDA reads, "20  has formula  J21  Comments"
5. Press left arrow. NVDA reads each header and the cell co

[2017-10-19 14:34] #5139 closed

[2017-10-19 19:29] signalsender103 opened #7675 "Scratchpad in Firefox Developer Tools fails to act like a text editor"
### Steps to reproduce:
1. Open Firefox Developer Edition.
2. Press Shift+F4.
3. Type some text.
4. Try using any of the navigation commands, or backspace or delete some characters.

### Expected behavior:
NVDA should read the characters as with other HTML controls.

### Actual behavior:
When deleting or navigating, NVDA says "blank."

### System configuration:
NVDA version: 2017.3

NVDA Installed

[2017-10-19 19:52] derekriemer commented on #7675
This must be a mozilla bug. @jcsteh do you want to file this?

[2017-10-19 19:56] derekriemer commented on #7665
Someone should look into this. I'm still not sure if we can download the software free of charge from somewhere.

[2017-10-19 20:00] munawarb commented on #7663
I tried the Bluetooth adapter and it connected with NVDA just fine. So the issue must have been the cable. Closing the issue.

[2017-10-19 20:00] #7663 closed

[2017-10-20 01:25] Yanyan28 commented on #7665
Are there no available steps that I can try to fix the issue?Like running codes on CMD or something?

[2017-10-20 01:54] derekriemer commented on #7665
we'd need to get ahold of the D-Link connection manager software. Can you try giving us some idea of what won't read in your documents folder, I.E. what elements can you see with NVDA? Is it visually workable, Can you reproduce it with any other screen readers, and what windows version?

[2017-10-20 06:12] masonasons opened #7676 "NVDA position information Reports one more item in some lists than actually present"
### Steps to reproduce:
This happens in more than Foobar2000, but we'll use it as an example.
0. Turn on Report object position information
1. Open Foobar2000
2. Add something to your playlist, either by playing a file or adding one.
3. Focus the playlist list.
4. NVDA will say "1 of 2" when there is only 1 item.

Another option
Let's use Xplorer2
1. Open xplorer2
2. Check any of the panes.
3. It

[2017-10-20 06:19] leonardder commented on #7676
Do you have the option "Guess object position information when unavailable" enabled?

[2017-10-20 12:53] dnz3d4c commented on #7675
MozillaBug: 1088804https://bugzilla.mozilla.org/show_bug.cgi?id=1088804

[2017-10-20 21:17] ehollig commented on #6547
Closing, as we have not heard from the original poster in over a year.

[2017-10-20 21:17] #6547 closed

[2017-10-20 21:23] ehollig commented on #6313
Closing as invalid, as we have not heard from the original poster in over a year if this issue still exists for them.

[2017-10-20 21:23] #6313 closed

[2017-10-20 21:27] ehollig commented on #6308
Closing as invalid, as we have not heard from the original poster in over a year. @juliancho1025, if you have a working example that demonstrates the issue you are experiencing, please share, along with exact detailed steps to reproduce, including what you did, what you expected to happen and what happened instead.

[2017-10-20 21:27] #6308 closed

[2017-10-20 21:31] ehollig commented on #7294
Closing as invalid for now. @Sabatoy, if you can provide a working example as requested in https://github.com/nvaccess/nvda/issues/7294#issuecomment-324174652 and provide additional information as requested in https://github.com/nvaccess/nvda/issues/7294#issuecomment-308882538, we can reopen this issue.

[2017-10-20 21:31] #7294 closed

[2017-10-20 23:09] michaelDCurran commented on #7556
the internal Microsoft bug ID is: 1900286

[2017-10-21 07:36] bramd opened #7677 "Implement generic braille input hotkeys"
Currently, every braille driver that implements braille input is mapping certain keys to braille keyboard gestures.

I would like to see generic mappings for common keys on a braille keyboard. This would increase consistancy for users of multiple displays/braille keyboards.

To do:

1. Determine the keys we want braille shortcuts for
2. Research common mappings for such keys in other screenreaders

[2017-10-21 07:40] leonardder commented on #7621
Closing this, because it has been superseeded by #7458.

[2017-10-21 07:40] #7621 closed

[2017-10-21 07:45] leonardder commented on #5774
@bramd: What do you think of this in the perspective of #7458?

[2017-10-21 08:00] bramd commented on #5774
@leonardder I kept these key names, so most gestures for all other models also make sense on the BasicBraille without specifying them explicitly. We could change that, but we would need to redefine all gestures for BasicBraille specifically and it could break custom gestures defined by users of the BasicBraille.

[2017-10-21 09:05] leonardder commented on #5559
You can already do this partially by thethering braille to review and setting the review cursor in screen review mode. I doubt that JAWS' line mode is working very well in cases where screen scraping is not available.

[2017-10-21 09:08] leonardder commented on #5276
cc @bramd

[2017-10-21 09:10] leonardder commented on #4851
@MichelSuch: Could you provide a status update for this?

[2017-10-21 09:11] leonardder commented on #4776
I assume this is fixed now? cc @dkager

[2017-10-21 09:13] leonardder commented on #4554
May be even add a separate option to the configuration system similar to HwIo debugging?

[2017-10-21 09:16] leonardder commented on #4014
Does the inclusion into NVDA for this table even make sense, given that it's broken? Are there major differences between the 6-dot and 8-dot table?

[2017-10-21 09:18] leonardder commented on #4464
Honestly, I think that documenting system requirements for a driver is the responsibility of the driver vendor, Freedom Scientific. Unless @jcsteh still feels we should document this, I lean towards closing this.

[2017-10-21 09:28] leonardder commented on #5774
Your last point makes perfect sense. I think we hsould close this as per that reason, as well as because @FelixGruetzmacher pointed out Handy Tech doesn't concider this to be a bug.

[2017-10-21 09:45] bramd commented on #5276
I was able to use a Focus 40 blue over Bluetooth a few weeks ago in Windows 10, both through the DLL and with my new driver in bramd/nvda/freedomscientific-native branch, which uses the protocol directly.

[2017-10-21 10:08] dkager commented on #4776
Neither Enter nor Backspace is explicitly defined in the driver.

[2017-10-21 11:06] munawarb commented on #7677
I’m glad this issue was posted :). I think also we should have the ability to map Braille inputs to actual keys on the keyboard, such as me being able to specify that space with S will press the WINDOWS key.

[2017-10-21 11:11] leonardder commented on #7677
This is actually a duplicate of #2945, so let's continue the discussion there.

[2017-10-21 11:11] #7677 closed

[2017-10-21 11:13] munawarb opened #7678 "NVDA does not translate colon properly with UEB grade 2 input"
If you have UEB grade 2 set as input in Braille settings, using the HIMS Smart Beetle, and you press dots 2-5, then dot 5, then dots 3-4-5, NVDA translates it as "con)" and not ":)".

[2017-10-21 11:15] munawarb opened #7679 "Using HIMS Smart Beetle, pressing "scroll back" or "scroll forward" does not scroll the display"
When I press the scroll buttons on either side of the Smart Beetle display, NVDA does nothing, when it should scroll the display. I'm using NVDA 2017.3.

[2017-10-21 11:16] leonardder commented on #2945
@FelixGruetzmacher: Could you also give your opinion on this subject? I know Handy Tech has quite a lot of these key bindings by default and tries to keep them equal for all screen readers. These bindings might be a good starting point to come up with some decent defaults.

[2017-10-21 16:04] josephsl commented on #7677
Hi, isn’t this a duplicate of another issue that asks for a similar thing? Thanks.

From: Bram Duvigneau [mailto:notifications@github.com]
Sent: Saturday, October 21, 2017 12:36 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [nvaccess/nvda] Implement generic braille input hotkeys (#7677)

Currently, every braille driver that implements braill

[2017-10-21 16:13] josephsl commented on #7678
Hi, can others using other braille displays confirm this? If so, please try latest next snapshot with Liblouis 3.3.0 installed and see if the problem is gone, and if not, let’s report this to Liblouis folks. Thanks.

From: Munawar Bijani [mailto:notifications@github.com]
Sent: Saturday, October 21, 2017 4:13 AM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.c

[2017-10-21 16:37] leonardder commented on #4776
Shouldn't they be assigned by default since #2439 is implemented?

[2017-10-21 16:40] leonardder commented on #7679
Closing as duplicate of #6086. This will be covered by #7459 in the near future.

[2017-10-21 16:40] #7679 closed

[2017-10-21 16:43] leonardder commented on #7459
CC @bramd, since he's also fiddling with Bulk support lately.

I'm leaning towards giving priority to #1271 and base the new driver on that code, since it makes things a whole lot simpler at some point. Probably requires some discussion with NV Access about priorities though.

[2017-10-21 16:46] leonardder commented on #7488
I'm glad to tell you that @BabbageCom has reached accordance with Eurobraille about creating a native driver. I will start with a driver on behalf of Babbage in the near future.

[2017-10-21 16:53] dkager commented on #4776
I am blatantly ignorant about braille input, but can test on this particular series of displays on Monday.

[2017-10-21 17:45] leonardder commented on #7673
I don't think this has to do with multiple voices, rather with voice names containing unicode characters.

[2017-10-21 18:19] zstanecic commented on #7673
Further details
When one voice stops working, this error occurs

Od: Leonard de Ruijter
Wysłano: sobota, 21 października 2017 19:45
Do: nvaccess/nvda
DW: zstanecic; Author
Temat: Re: [nvaccess/nvda] in windows 10 fall creators update, when multiplevoices are installed the one core driver driver fail to load (#7673)

I don't think this has to do with multiple voices, rather with voice names contain

[2017-10-21 20:19] oaron opened #7680 "Gesture can be assign to multiple items"
### Steps to reproduce:
I open input gestures dialog.
I add a gesture to input gestures dialog (e.g. NVDA+shift+k)
I add the same gesture to speech viewer (NVDA+shift+k).
When I press Ok, NVDA does not announce to that I use a gesture two times.

### Expected behavior:
When I press an existing gesture, NVDA souldn't allow to add it one more time.

### Actual behavior:
When I press NVDA+shift+k, NV

[2017-10-21 20:27] munawarb commented on #7678
@leonardder  when I type "con", it stays as "con". When I type ":)", as in dots 2-5, dot 5, dots 3-4-5, it outputs "con)". However, when I type a colon using the keyboard, Braille properly shows dots 2-5

[2017-10-21 20:42] munawarb commented on #7678
@josephsl OK, I installed the latest snapshot and noticed that when I press dots 2-5 and then space, NVDA correctly outputs a colon. However, when I type dots 2-5, dot 5, and then dots 3-4-5, again NVDA outputs "con)". I also tried to preceed the dots 2-5 with dots 5-6, but still NVDA translated it as "con)".

[2017-10-21 20:46] josephsl commented on #7678
Hi, okay, so this is something Liblouis folks will nee to know about, as it suggests back-translation rule problem. CC @DKager

From: Munawar Bijani [mailto:notifications@github.com]
Sent: Saturday, October 21, 2017 1:42 PM
To: nvaccess/nvda <nvda@noreply.github.com>
Cc: Joseph Lee <joseph.lee22590@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nvaccess/nvda] NVDA does not translat

[2017-10-22 16:53] Brian1Gaff opened #7681 "Portable copy of nvdas new run portable copy checkbox, function does not work reliably"
### Steps to reproduce:

2Run the snapshot, I've been using Next branch
3 allow it to run, set the folder to the folder already containing the copy you wish to update
4 Remember to tick the start after the update
The update goes OK, but when nvda tries to start the new copy. Nvda gets stuck showing an error from winndows which points to the nvda.exe.log file in the currently updated folder.>
### E

[2017-10-23 02:19] fernando-jose-silva opened #7682 "nvda is slower to start in login window"
When I was using windows 10 build 15063 64bits when turning on the computer when it was displayed the window to enter the password of entry in windows nvda took a maximum of 2 seconds to read.
I have now upgraded to build 16299.19 64bits and right after the computer shows the window to enter the password the nvda for some time it takes up to 30 seconds to start reading the logon window.
Does anyon

[2017-10-23 02:30] ehollig commented on #7576
Is this possibly related to #7556

[2017-10-23 05:44] feerrenrut commented on #7661
Quentin has also been unable to reproduce this issue using the same book as PraticP1, he is on the same insider build `version 1709 Build 10.0.17017` and using NVDA version `next-14541,267b5407`.

[2017-10-23 05:59] feerrenrut commented on #1382
Not sure if this matches the original steps to reproduce this issue, but here are my findings:

## Software Versions
* Windows 10 version `1703 build 15063.674`
* Microsoft Office 2013
* NVDA `next-14535,3aad54e0`

## To reproduce
1. Open language preferences in the windows 10 settings, if necessary add Chinese (simplified)
1. In the system tray, set the input language to Chinese (simplified)
1. O

[2017-10-23 06:23] leonardder commented on #7669
I filed feedback for this issue, see https://aka.ms/V55e3e . Feel free to upvote :)

[2017-10-23 08:16] feerrenrut commented on #7652
I can reproduce this, and I agree this does not seem like ideal behaviour. I have a feeling I have seen a similar issue raised previously, the best I could find right now are:
* Report the Title Attribute on HTML lists and Tables #2137
* Report label in browse mode if it isn't rendered anywhere else (e.g. aria-label) #4773

Is there a past version of NVDA where this used to work as expected?

[2017-10-23 08:32] feerrenrut commented on #7653
Are you sure that the PDF example you provided includes header information? I am not able to jump to headers with this PDF when using Acrobat reader, can you? With other PDFs, I can however reproduce this behaviour.

[2017-10-23 09:02] feerrenrut commented on #4988
@Qchristensen @bhavyashah if you are happy for me to do so, I will close this issue as "worksforme"

[2017-10-23 09:02] #4988 closed

[2017-10-23 09:13] feerrenrut commented on #5221
While this is a security problem, I don't believe that this has ever been expected to work previously. Assigning the feature label, hopefully we will get a chance to address this.

[2017-10-23 09:16] feerrenrut commented on #5442
Closing as a duplicate of #3339

[2017-10-23 09:16] #5442 closed

[2017-10-23 09:53] feerrenrut commented on #6282
@andrewleith are you suggesting that `aria-labelledby` is a viable workaround for this? Can you link to the guidelines you refer to please?

It should be noted that in the video, "Horizontal menubar" can be seen in speechviewer but not heard. @Raushen in case you are not aware, the majority of NVDA developers are blind, and would not be able to watch that video.

[2017-10-23 11:59] andrewleith commented on #6282
@feerrenrut: here I'm less interested in the exact wording of the guidelines and more interested in the behaviour of the screen reader software (since the two often do not jive).  In general, the guidelines say that form fields need to be identified by labels (https://www.w3.org/TR/WCAG20-TECHS/H44.html) so that is my goal.  In this case, I'm using an enhanced dropdown menu which doesn't use an ac

[2017-10-23 12:36] Novalis7747 opened #7683 "IE11 bringserror in NVDA in snapshots greater then 2017.3"
1) start NVDA (any development snapshot after 2017.3
2) start IE11
3) you hear a NVDA error beep
4) console shows
NVDA initialized
ERROR - RPC process 14948 (iexplore.exe) (13:28:19.160):
Thread 14884, build\x86\remote\COMProxyRegistration.cpp, registerCOMProxy, 111:
Error fetching class object for IAccessible2Proxy.dll, code -2147221231
5) this is all the time and also for other applications usin

[2017-10-23 14:21] error404as opened #7684 "Pseudo elements (::before, ::after) are treated as list items (Chrome)"
### Steps to reproduce:

NVDA says that pseudo elements (commonly used as decorative elements) are list items.

[Live example](http://asdx.pw/bug/nvda-list.html).

### Expected behavior:

### Actual behavior:

### System configuration:
NVDA portable 2017.3.
Windows 8
Google Chrome 62.0.3202.62

[2017-10-23 18:03] elliott94 commented on #5210
Happy for this to be closed. Interestingly, when using Windows 10 the "&" character is missing when deleting the folder and Windows reports the name of the directory that is about to be deleted.

[2017-10-23 19:00] elliott94 opened #7686 "Core: Don't Refuse to Start if Add-On Manifest is Missing"
STR:

1. Download the OCR add-on, and install using the Add-Ons Manager.
2. Restart NVDA with all add-ons disabled, and remove everything within the "ocr" directory (but not the directory itself) from within the "nvda" data directory.
3. Restart NVDA; you should note that it refuses to launch, and outputs something like the following in the log:

[code]

[2017-10-23 22:45] ehollig commented on #5210
Closing as worksforme, from testing performed in https://github.com/nvaccess/nvda/issues/5210#issuecomment-337621714

[2017-10-23 22:45] #5210 closed

[2017-10-24 01:20] ehollig commented on #6245
@fernando-jose-silva, is this still an issue on the latest version of Windows 10 and the latest version of NVDA? I am not able to reproduce the behavior you describe.

[2017-10-24 01:35] ehollig commented on #7684
Is this related to #6584

[2017-10-24 02:53] ehollig commented on #4047
As stated in https://github.com/nvaccess/nvda/issues/4047#issuecomment-317799317, this issue has been resolved for Chrome and Firefox. Testing in Internet Explorer and Edge still exhibits this behavior as described in https://github.com/nvaccess/nvda/issues/4047#issue-116040605.

[2017-10-24 02:58] ehollig commented on #1845
Closing as worksforme as reported in https://github.com/nvaccess/nvda/issues/1845#issuecomment-155293421. Unfortunately, I am unable to test this myself, as stated in https://github.com/nvaccess/nvda/issues/1845#issuecomment-317496900, the link is unavailable. If anyone can still reproduce this issue and provide a working example, we can reopen this issue.

[2017-10-24 02:58] #1845 closed

[2017-10-24 03:07] ehollig commented on #2925
Closing as invalid, as we currently have insufficient information to reproduce the issue.
The issue with multiple find dialogs is covered in #4228

[2017-10-24 03:07] #2925 closed

[2017-10-24 03:07] feerrenrut commented on #6282
Thanks @andrewleith. It is indeed frustrating when there are differences between browser behaviour, and of course this can be amplified by the AT operating on top of this. I would say, no the website is not accessible just by meeting the guidelines. The website a11y developer relies on the AT and the browser, the AT relies on the browser and the OS, standards non-conformance due to a mistake or no

[2017-10-24 03:30] feerrenrut opened #7688 "Running NVDA from launcher could invalidate user config for past installation"
I haven't tested this with exact versions, so this is a bit theoretical at this point. However I'm fairly confident this could cause some hard to notice / track down issues.

### Steps to reproduce:
1. Install an older release, EG 2017.2
1. Reset user config to factory defaults, to ensure that the config schema is for 2017.2
1. Open the NVDA config file, and take note of the schema version
1. Run